@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.FdVoucher
<script>
    function InitBankListFDWindow(s, e) {
        $("#FD_List_BA_ID").dxDropDownBox("instance").getDataSource().store().load().done(function () {
            ChangeBankListFDWindow();
        })
    }

    function ChangeBankListFDWindow() {
        var dropDownBox = $("#FD_List_BA_ID").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#FDWindow_LookUp_GetBankList");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var BANK_BRANCH = item["BANK_BRANCH"];
                var BANK_ACC_NO = item["BANK_ACC_NO"];
                debugger;
                $("#REC_EDIT_ON").val(item["REC_EDIT_ON"]);
                $("#Bank_List_REC_EDIT_ON").val(item["REC_EDIT_ON"]);
                $("#FD_List_BANK_BRANCH").text(BANK_BRANCH);
                $("#FD_List_BANK_CUST_NO").text(BANK_ACC_NO);
            }
        }
    }
</script>
<div id="Frm_FD_Window_popup" class="row">

    @using (Ajax.BeginForm("Frm_FD_Window_Post", "ProfileFDVoucher",
                                                                            new AjaxOptions
                                                                            {
                                                                                HttpMethod = "POST",
                                                                                UpdateTargetId = "Frm_Voucher_Item_popup",
                                                                                InsertionMode = InsertionMode.InsertAfter,
                                                                                OnBegin = "AjaxBeginFormPost",
                                                                                OnSuccess = "AjaxSuccessWinFD",
                                                                                OnFailure = "AjaxOnFailure"
                                                                            },
                                                                                                                                                                                                   new
                                                                                                                                                                                                   {
                                                                                                                                                                                                       id = "validationForm",
                                                                                                                                                                                                       @class = "edit_form form-horizontal"
                                                                                                                                                                                                   }))
    {
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.TempActionMethod)
        @Html.HiddenFor(x => x.REC_EDIT_ON)
        @Html.HiddenFor(x => x.Bank_List_REC_EDIT_ON)
        @Html.HiddenFor(x => x.FD_List_REC_EDIT_ON)
        @Html.HiddenFor(x => x.iTrans_Type)
        @Html.HiddenFor(x => x.iAction)
        @Html.HiddenFor(x => x.Lay_Payment_Mode_Visible)
        @Html.HiddenFor(x => x.iVOUCHER_TYPE)
        @Html.HiddenFor(x => x.iLed_ID)
        @Html.HiddenFor(x => x.iMode)
        @Html.HiddenFor(x => x.Amount)
        @Html.HiddenFor(x => x.Txt_Amount)
        @Html.HiddenFor(x => x.Chk_Incompleted)
        @Html.HiddenFor(x => x.Cmb_Rec_Mode)
        @Html.HiddenFor(x => x.Cmd_Mode)
        @Html.HiddenFor(x => x.ItemID)
        @Html.HiddenFor(x => x.ItemList)
        @Html.HiddenFor(x => x.Lay_FD_Bank)
        @Html.HiddenFor(x => x.Lay_Payment_Mode_Visible)
        @Html.HiddenFor(x => x.Lay_Renewal)
        @Html.HiddenFor(x => x.Lay_Renewal_Amount)
        @Html.HiddenFor(x => x.Lay_View_Fd)
        @Html.HiddenFor(x => x.REC_EDIT_ON)
        @Html.HiddenFor(x => x.Ref_CDate)
        @Html.HiddenFor(x => x.Ref_Date)
        @Html.HiddenFor(x => x.xID)
        @Html.HiddenFor(x => x.xMID)
        @Html.HiddenFor(x => x.VDate)
        @Html.HiddenFor(x => x.Txt_V_NO)
        @Html.HiddenFor(x => x.Txt_V_Date)
        @Html.HiddenFor(x => x.TXT_NRC_DATE)
        @Html.HiddenFor(x => x.Txt_Narration)
        @Html.HiddenFor(x => x.Bank_List)
        @Html.HiddenFor(x => x.Bank_List_REC_EDIT_ON)
        @Html.HiddenFor(x => x.Txt_AccountNo)
        @Html.HiddenFor(x => x.Cr_Led_id)
        @Html.HiddenFor(x => x.Dr_Led_id)
        @Html.HiddenFor(x => x.Sub_Cr_Led_ID)
        @Html.HiddenFor(x => x.Sub_Dr_Led_ID)


        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="col-sm-12">
                <h3 style="float: left;text-align: center;vertical-align: middle;margin: -5px 0 0 0px;"> Fixed Deposit (F.D)</h3>
                <h5 style="float: right;color: red;">Red Fields are mandatory</h5>
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    @Html.Label("Bank Name", htmlAttributes: new { @class = "control-label col-sm-2 text-danger" })
                    <div class="col-sm-10">
                        @(Html.DevExtreme().DropDownBox()
                                .ID("FD_List_BA_ID")
                                .Name("FD_List_BA_ID")
                                .Value(Model.FD_List_BA_ID)
                                .ValueExpr("BA_ID")
                                .DisplayExpr("BANK_NAME")
                                .DropDownOptions(ddo => ddo.Width(500))
                                .DataSource(d => d.Mvc().Controller("ProfileFDVoucher").LoadAction("FDWindow_LookUp_GetBankList").Key("BA_ID"))
                                .Placeholder("Select Bank...")
                                .ShowClearButton(true)
                                .OnValueChanged("ChangeBankListFDWindow")
                                .OnInitialized("InitBankListFDWindow")
                                .DeferRendering(false)
                                .ContentTemplate(@<text>@Html.Partial("FDWindow_LookUp_GetBankList")</text>))
                        @Html.ValidationMessageFor(model => model.FD_List_BA_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label id="FD_List_BANK_BRANCH" class="control-label col-sm-12 " for="FD_List_BANK_BRANCH"></label>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label id="FD_List_BANK_CUST_NO" class="control-label col-sm-12 " for="FD_List_BANK_CUST_NO"></label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label id="lbl_FD_List_FD_NO" class="control-label col-sm-2 " for="FD_List_FD_NO">F.D. Account No.:</label>
                    <div class="col-md-2">
                        @(Html.DevExtreme().NumberBox()
                            .ID("FD_List_FD_NO")
                            .Name("FD_List_FD_NO")
                            //.Value(Convert.ToDouble(Model.FD_List_FD_NO))
                            .ShowClearButton(true)
                        )
                        @Html.ValidationMessageFor(model => model.FD_List_FD_NO, "", new { @class = "text-danger" })
                    </div>
                    <label id="lbl_FD_List_FD_DATE" class="control-label col-sm-2 " for="FD_List_FD_NO">F.D. Date:</label>
                    <div class="col-md-2">
                        @(Html.DevExtreme().DateBox()
                            .ID("FD_List_FD_DATE")
                            .Name("FD_List_FD_DATE")
                            .Value(Model.FD_List_FD_DATE)
                            .ReadOnly(true)
                            .ShowClearButton(true)
                        )
                        @Html.ValidationMessageFor(model => model.FD_List_FD_DATE, "", new { @class = "text-danger" })
                    </div>
                    <label id="lbl_FD_AS_DATE" class="control-label col-sm-2 " for="FD_List_FD_NO">As Of Date:</label>
                    <div class="col-md-2">
                        @(Html.DevExtreme().DateBox()
                                    .ID("FD_AS_DATE")
                                    .Name("FD_AS_DATE")
                                    .Value(Model.FD_AS_DATE)
                                    .ReadOnly(true)
                                    .ShowClearButton(true)
                        )
                        @Html.ValidationMessageFor(model => model.FD_AS_DATE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 ">
                <div class="form-group">
                    <label id="lbl_Txt_Amount" class="control-label col-sm-2 " for="Txt_Amount">FD Amount:</label>
                    <div class="col-md-4">
                        @(Html.DevExtreme().NumberBox()
                            .ID("FD_Txt_Amount")
                            .Name("FD_Txt_Amount")
                            .Value(Model.Txt_Amount)
                            .ReadOnly(true)
                            .ShowClearButton(true)
                        )
                        @Html.ValidationMessageFor(model => model.Txt_Amount, "", new { @class = "text-danger" })
                    </div>
                    <label id="lbl_TXT_INTEREST" class="control-label col-sm-2 " for="TXT_INTEREST">Rate Of Interest(% p.a):</label>
                    <div class="col-md-4">
                        @(Html.DevExtreme().NumberBox()
                            .ID("TXT_INTEREST")
                            .Name("TXT_INTEREST")
                            .Value(Model.TXT_INTEREST)
                            .ShowClearButton(true)
                        )
                        @Html.ValidationMessageFor(model => model.TXT_INTEREST, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label id="lbl_FD_List_MATURITY_AMOUNT" class="control-label col-sm-2 " for="FD_List_MATURITY_AMOUNT">Maturity Amount:</label>
                    <div class="col-md-10">
                        @(Html.DevExtreme().NumberBox()
                            .ID("FD_List_MATURITY_AMOUNT")
                            .Name("FD_List_MATURITY_AMOUNT")
                            .Value(Convert.ToDouble(Model.FD_List_MATURITY_AMOUNT))
                            .ShowClearButton(true)
                        )
                        @Html.ValidationMessageFor(model => model.FD_List_MATURITY_AMOUNT, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label id="lbl_FD_List_MATURITY_DATE" class="control-label col-sm-2 " for="FD_List_MATURITY_DATE">Maturity Date:</label>
                    <div class="col-md-10">
                        @(Html.DevExtreme().DateBox()
                            .ID("FD_List_MATURITY_DATE")
                            .Name("FD_List_MATURITY_DATE")
                            .Value(Model.FD_List_MATURITY_DATE)
                            .ShowClearButton(true)
                        )
                        @Html.ValidationMessageFor(model => model.FD_List_MATURITY_DATE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label id="lbl_FD_List_Period" class="control-label col-sm-2 ">F.D. Period:</label>
                    <div class="col-md-10">
                        @Html.Label("", htmlAttributes: new { @class = "control-label col-sm-2 text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Name">Other Detail:</label>
                    <div class="col-sm-10">
                        @(Html.DevExtreme().TextBox()
                            .ID("FD_Txt_Remarks")
                            .Name("FD_Txt_Remarks")
                            .Value(Model.Txt_Remarks)
                            .ShowClearButton(true)
                            .MaxLength(250)
                        )
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-right">
                @(Html.DevExtreme().Button()
                  .ID("EditFDFrm")
                  .Text("Ok")
                  .UseSubmitBehavior(true)
                )
                @(Html.DevExtreme().Button()
                  .ID("CancelFDFrm")
                  .Text("Cancel")
                  .OnClick(@<text>
                    function () {
                    $("#Dynamic_Content_popup").dxPopup("hide");
                    }
                </text>)
                )
            </div>
        }
    }
</div>
<script>
    function AjaxSuccessWinFD(result) {
        var resultflag = result.result;

        if (result.result == false) {
            DevExpress.ui.dialog.alert(result.message, "Error");
            HideLoader();
        }
        else if (result.result == true) {
            DevExpress.ui.dialog.alert(result.message, "Success");
            $("#Dynamic_Content_popup").dxPopup("hide");
            HideLoader();
        }
    }
</script>