<div class="CheckDonationType_VoucherInfo_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @{
        bool CallFromVoucherInfo = (bool)ViewBag.CallFromVoucherInfo;
        var CallFromNavigation = (int)ViewBag.CallFromNavigation;
    }
    <div id="CheckDonationType_Form_VoucherInfo">
        <div class="container-fluid" style="padding-left:0px">
            <div class="full-width-header-bg">
                <div class="row">
                    <div class="col-sm-12 pll4">
                        <h3 class="popuphead pll10">
                            <i class="far fa-edit"></i> Select Type
                        </h3>
                    </div>
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        @(Html.DevExtreme().RadioGroup().ID("DonationradioGroup_VoucherInfo").DisplayExpr("text").ValueExpr("ID").DataSource(new object[] { new { text = "1. Regular Donation", ID = "DONATION - REGULAR" }, new { text = "2. Foreign Donation", ID = "DONATION - FOREIGN" } }).Value("DONATION - REGULAR").Width("auto") )
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("DonationCheck_BUT_OK_VoucherInfo").Text("OK").UseSubmitBehavior(false).OnClick(@<text> function () { BUT_OK_Click_DType() } </text>) )
                        @(Html.DevExtreme().Button().CustomCloseButton().ID("DonationCheckCancel_VoucherInfo").Text("Cancel").OnClick(@<text> function () { $("#Popup_Donation_Check").dxPopup("hide"); } </text>) )
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        function BUT_OK_Click_DType()
    {
        Voucher_Type_Voucher = $("#DonationradioGroup_VoucherInfo").dxRadioGroup("instance").option("value");
        
        if ("@CallFromNavigation" == 1)
        {
            $("#Popup_Donation_Check").dxPopup("hide");
            if (Voucher_Type_Voucher == 'DONATION - FOREIGN')
            {
                ShowLoader();
                OpenDynamicPopup('New ~ Foreign Donation', '/Account/DonationVoucher/Frm_Voucher_Win_Donation_F?Tag=_New', 'auto', 1000);
                HideLoader();
            }
            else
            {
                ShowLoader();
                OpenDynamicPopup('New ~ Donation', '/Account/DonationVoucher/Frm_Voucher_Win_Donation_R?Tag=_New', 'auto', 1000);
                HideLoader();
            }
            return;
        }
        if ("@CallFromVoucherInfo" == "False")
        {
            $("#Voucher_Type").val($("#DonationradioGroup").dxRadioGroup("instance").option("value"));
            //$("#CBVoucherTypeForm").submit();
            VouchersNewWindowCall_CB()
        }
        else
        {
            DataNavigation_Voucher(Voucher_Type_Voucher, Selection_By_Item_Voucher, AdditionalParam);
        }
        $("#Popup_Donation_Check").dxPopup("hide");
    }
    </script>
</div>
