<div class="Frm_Voucher_Info_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress;
    @using DevExpress.Web.Mvc;


    @{
        bool IsVolumeCenter = (bool)ViewBag.IsVolumeCenter;
        bool AllowForeignDonation = (bool)ViewBag.AllowForeignDonation;
        ViewBag.Title = "Index";
        Layout = null;
        bool Acc_Vou_CashBank_ListRight = (bool)ViewData["CashBook_ListRight"];
        bool Acc_Vou_NoteBook_ListRight = (bool)ViewData["NoteBook_ListRight"];
        bool Acc_Vou_B2B_AddRight = (bool)ViewData["Acc_Vou_B2B_AddRight"];
        bool Acc_Vou_Payment_AddRight = (bool)ViewData["Acc_Vou_Payment_AddRight"];
        bool Acc_Vou_Receipt_AddRight = (bool)ViewData["Acc_Vou_Receipt_AddRight"];
        bool Acc_Vou_Donation_AddRight = (bool)ViewData["Acc_Vou_Donation_AddRight"];
        bool Acc_Vou_Gift_AddRight = (bool)ViewData["Acc_Vou_Gift_AddRight"];
        bool Acc_Vou_Int_Transfer_AddRight = (bool)ViewData["Acc_Vou_Int_Transfer_AddRight"];
        bool Acc_Vou_ColBox_AddRight = (bool)ViewData["Acc_Vou_ColBox_AddRight"];
        bool Acc_Vou_FD_AddRight = (bool)ViewData["Acc_Vou_FD_AddRight"];
        bool Acc_Vou_SaleAsset_AddRight = (bool)ViewData["Acc_Vou_SaleAsset_AddRight"];
        bool Acc_Vou_Journal_AddRight = (bool)ViewData["Acc_Vou_Journal_AddRight"];
        bool Acc_Vou_AsetTransfer_AddRight = (bool)ViewData["Acc_Vou_AsetTransfer_AddRight"];
        bool Acc_Vou_WIP_Finalization_AddRight = (bool)ViewData["Acc_Vou_WIP_Finalization_AddRight"];
        bool Acc_Vou_CashBank_AddRight = (bool)ViewData["Acc_Vou_CashBank_AddRight"];
        bool Help_Attachments_AddRight = (bool)ViewData["Help_Attachments_AddRight"];
        bool self_posted = (bool)ViewBag.self_posted;
    }
    <style>
        div#PeriodSelection {
            width: 100%;
        }

        .footer_smallbtns {
            padding-left: 16px !important;
        }

        .cashtextbox {
            font-weight: bold;
            text-align: right;
        }

        #VoucherInfo_ParentDiv .form-field {
            margin: 0px 0px;
            padding: 5px 4px 4px 4px;
            box-shadow: 1px 1px 0 0px #89b9eb inset, 1px 1px 0 0px #89b9eb;
            background: #dfebf8;
            background: -webkit-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: -o-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: -moz-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        }

        .Voucher_info_ul a:hover .items_Div {
            border: 2px solid #184c97;
        }

        .Voucher_info_ul a:hover .text_div {
            color: #184c97;
        }

        @@media only screen and (max-width:640px) and (min-width:300px) {
            .display_inlineR {
                width: 100%;
            }
        }

        .dataselectionDiv > div {
            margin-right: 8px !important;
        }
    </style>
    <div id="VoucherInfo_ParentDiv">
        <input type="hidden" id="Voucher_Fr_Date" />
        <input type="hidden" id="Voucher_To_Date" />

        <div class="full-width-header-bg2">
            <div class="row">
                <div class="col-sm-8">
                    <label class="report_header_label">Voucher Entry</label>
                </div>
                <div class="col-sm-4  styleActionBtn">
                    @(Html.DevExtreme().Button().CustomCloseButton().ID("Voucher_close").Text("Close").OnClick(@<text> function () { voucher_close_click(); } </text>) )
                </div>
            </div>
        </div><!--[Header]-->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="input-group">
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Voucher_PeriodSelection").Name("Voucher_PeriodSelection").DataSource(d => d.Mvc().Controller("VoucherInfo").LoadAction("Fill_Change_Period_Items").Key("SelectedIndex")).DisplayExpr("Period").ValueExpr("SelectedIndex").OnValueChanged("Voucher_PeriodSelectionChange") )
                                    <span class="input-group-btn">
                                        @(Html.DevExtreme().Button().ID("Voucher_btnChangePeriod").Text("Change Period").Hint("Change Period").Disabled(true).OnClick(@<text> function () { Voucher_ChangePeriodClick(); } </text>) )
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                @(Html.DevExtreme().TextBox().ID("Voucher_BE_View_Period").Name("Voucher_BE_View_Period").Value("View Period").ReadOnly(true).ElementAttr(new Dictionary<string, object>() { { "class", "float-left" } }))
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="input-group">
                                    @(Html.DevExtreme().TextBox().ID("Voucher_BE_View_Balance").Name("Voucher_BE_View_Balance").Value("").ReadOnly(true)
                                    .InputAttr(new Dictionary<string, object>() { { "class", "cashtextbox" } }).Visible(!self_posted).Disabled(self_posted))
                                    <span class="input-group-btn">
                                        @(Html.DevExtreme().Button().ID("VoucherbtnView_Summary").Text("Summary").Visible(!self_posted).Disabled(self_posted)
                                            .Hint("Summary").OnClick(@<text> function () { VoucherViewSummaryClick(); } </text>))
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[Period]-->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="edit_form" style="padding:16px;">
                                <fieldset class="default-fieldset">
                                    <div class="Voucher_info">
                                        <div class="row">
                                            <div class="row formRow">
                                                <div class="col-md-1 pll">
                                                    <label>Name: </label>
                                                </div>
                                                <div class="col-md-9 prm">

                                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ItemList_VoucherInfo").Name("GLookUp_ItemList_VoucherInfo").ValueExpr("ITEMID").DisplayExpr("ITEMNAME")
                                                                                                                                                                                                                                                                                                            .DataSource(d => d.Mvc().Controller("VoucherInfo").LoadAction("LookUp_GetItemList").Key("ITEMID")).Placeholder("Select Item...").OnEnterKey("VoucherItemDD_EnterKey")
                                                                                                                                                                                                                                                                                                            .OnValueChanged("VoucherType_LookUp_GetItemList_ChangeEvent").ContentTemplate(@<text> @Html.Partial("VoucherType_LookUp_GetItemList") </text>) )

                                                </div>
                                                <div class="col-md-2 prm">
                                                    @(Html.DevExtreme().Button().CustomSaveButton().ID("Voucher_BUT_OK").Text("OK").Disabled(true).UseSubmitBehavior(false).OnClick(@<text> function () { VoucherOK_Click() } </text>) )

                                                </div>
                                                <hr />

                                                <ul class="Voucher_info_ul">
                                                    @if (!IsVolumeCenter)
                                                    {

                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_CASH')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/cash.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Cash Deposit / Withdrawn
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_BANK')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/back-to-bank.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Bank to Bank Transfer
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_PAYMENT')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/payment-icon.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Payment
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_RECEIPT')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/receipt-icon.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Receipt
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_DONATION')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/donation-icon.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Donation
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_GIFT')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/donation-in-kind.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Donation in Kind
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_C_BOX')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/collection-box.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Collection Box
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_FD')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/fd-icon.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Fixed Deposit (F.D.)
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_INT_TRANSFER')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/internal-transfer.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Internal Transfer
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_ASSET_TFER')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/asset-transfer.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Asset Transfer
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_S_ASSET')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/sale-asset.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Sale Asset
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_J_Entry')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/journal-entry.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Journal Entry
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="BUT_NB_Entry_Click()">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/nootbook-entry.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Note-Book Entry
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_WIP_FINAL')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/wip-icon.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        WIP Finalization
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_CASH_PAY_VOLUME')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/payment-icon.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Cash Payment
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_BANK_PAY_VOLUME')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/back-to-bank.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Bank Payment
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_CONTRA_VOLUME')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/journal-entry.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        Contra
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="All_Voucher_Button_Click('BUT_JV_VOLUME')">
                                                                <div class="items_Div">
                                                                    <div class="img_div">
                                                                        <img src="~/Content/image/nootbook-entry.jpg" />
                                                                    </div>
                                                                    <div class="text_div">
                                                                        JV
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>

                                                    }
                                                </ul>

                                                @if (!IsVolumeCenter)
                                                {
                                                    <div class="col-sm-12" style="clear:both;">
                                                        <div class="Cash_Book">
                                                            <a href="#" onclick="BUT_CashBook_Click()">
                                                                <div class="dx-button-content dx-button-min-width">
                                                                    <span class="dx-button-text">Cash Book</span>
                                                                    <input type="submit" class="dx-button-submit-input">
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[Voucher Icons]-->
    </div>

    <script>
    var Get_Voucher_Type_Voucher = "";
    var Sel_Led_ID = "";
    var Sel_Led_Name = "";
    var Selection_By_Item_Voucher = false;
    var ItemID_Voucher = "";
    var Voucher_Type_Voucher = "";
    var SelectedItemName = "";
    var AdditionalParam = "";
    $(document).ready(function ()
    {
        $("#Voucher_PeriodSelection").dxSelectBox("instance").option("value", parseInt('@ViewBag.PeriodSelectedIndex'));
        $("#Voucher_BE_View_Balance").find('input').css('color', "#D2691E");
        setTimeout(function () {
            $("#GLookUp_ItemList_VoucherInfo").dxDropDownBox("instance").focus();
        }, 10);
   	});
    function voucher_close_click()
    {
        $(".TabPanalMenu-tabs .active span").click();
    }
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Account/VoucherInfo/SessionClear",
            cache: false
        });
        ClearAllReferences_VoucherInfoScreen();
    });
        function ClearAllReferences_VoucherInfoScreen() {
            Get_Voucher_Type_Voucher = null;
            Sel_Led_ID = null;
            Sel_Led_Name = null;
            Selection_By_Item_Voucher = null;
            ItemID_Voucher = null;
            Voucher_Type_Voucher = null;
            SelectedItemName = null;
            AdditionalParam = null;

            ClearAllReferences("Frm_Voucher_Info_ClearReferences")
        }
    function VoucherType_LookUp_GetItemList_ChangeEvent(e)
    {
        e.component.close();
        ItemID_Voucher = e.value;
        if (e.value!=null && e.value.length>0)
        {
            $("#Voucher_BUT_OK").dxButton("instance").option("disabled", false);
        }
        else
        {
            $("#Voucher_BUT_OK").dxButton("instance").option("disabled", true);
        }
        var $dataGrid = $("#VoucherType_LookUp_GetItemList_datagrid");
        if ($dataGrid.length)
        {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0)
            {
                var item = dataGrid.getSelectedRowsData()[0];
                Get_Voucher_Type_Voucher = item["ITEM_VOUCHER_TYPE"];
                Sel_Led_ID = item["ITEM_LED_ID"];
                Sel_Led_Name = item["LED_NAME"];
                SelectedItemName = item["ITEMNAME"];
                ItemID_Voucher = item["ITEMID"];
            }
        }
    }
    </script>
    @* Document.ready,dd value change,close btn *@
    <script>
    function VoucherOK_Click()
    {
        console.log(Get_Voucher_Type_Voucher+" Voucher Load Start")
        Selection_By_Item_Voucher = true;
        Voucher_Type_Voucher = "";
        var hasRight = "True";

        switch (Get_Voucher_Type_Voucher.toUpperCase())
        {
            case "CASH DEPOSITED":
            case "CASH WITHDRAWN":
                Voucher_Type_Voucher = "CASH";
                hasRight = "@Acc_Vou_CashBank_AddRight";
                break;
            case "BANK TRANSFER":
                Voucher_Type_Voucher = "BANK";
                hasRight = "@Acc_Vou_B2B_AddRight";
                break;
            case "DONATION":
                Voucher_Type_Voucher = "DONATION - REGULAR";
                hasRight = "@Acc_Vou_Donation_AddRight";
                break;
            case "DONATION - FOREIGN":
                Voucher_Type_Voucher = "DONATION - FOREIGN";
                hasRight = "@Acc_Vou_Donation_AddRight";
                break;
            case "COLLECTION BOX":
                Voucher_Type_Voucher = "COLLECTION BOX";
                hasRight = "@Acc_Vou_ColBox_AddRight";
                break;
            case "PAYMENT":
            case "PAYMENT - INSTITUTE":
            case "LAND & BUILDING / GIFT":
            case "LAND & BUILDING":
                Voucher_Type_Voucher = "PAYMENT";
                hasRight = "@Acc_Vou_Payment_AddRight";
                break;
            case "RECEIPTS - INSTITUTE":
                case "RECEIPTS":
                Voucher_Type_Voucher = "RECEIPTS";
                hasRight = "@Acc_Vou_Receipt_AddRight";
                    break;
            case "DONATION - GIFT":
                Voucher_Type_Voucher = "DONATION - GIFT";
                hasRight = "@Acc_Vou_Gift_AddRight";
                break;
            case "INTERNAL TRANSFER - INSTITUTE":
            case "INTERNAL TRANSFER WITH H.Q.":
                case "INTERNAL TRANSFER":
                Voucher_Type_Voucher = "INTERNAL TRANSFER";
                hasRight = "@Acc_Vou_Int_Transfer_AddRight";
                    break;
                case "FD":
                Voucher_Type_Voucher = "FD";
                hasRight = "@Acc_Vou_FD_AddRight";
                    break;
                case "SALE OF ASSET":
                Voucher_Type_Voucher = "SALE OF ASSET";
                hasRight = "@Acc_Vou_SaleAsset_AddRight";
                    break;
                case "MEMBERSHIP":
                Voucher_Type_Voucher = "MEMBERSHIP";
                    break;
                case "MEMBERSHIP RENEWAL":
                Voucher_Type_Voucher = "MEMBERSHIP RENEWAL";
                    break;
                case "ASSET TRANSFER":
                Voucher_Type_Voucher = "ASSET TRANSFER";
                hasRight = "@Acc_Vou_AsetTransfer_AddRight";
                    break;
                case "WIP FINALIZATION":
                Voucher_Type_Voucher = "WIP FINALIZATION";
                hasRight = "@Acc_Vou_WIP_Finalization_AddRight";
                    break;
                default:
                    DevExpress.ui.dialog.alert("Coming Soon...!", "Voucher Entry...");
                    break;
        }
        if (hasRight == "False") {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (Voucher_Type_Voucher.length > 0)
        {
            DataNavigation_Voucher(Voucher_Type_Voucher, Selection_By_Item_Voucher);
        }
    }
    function All_Voucher_Button_Click(btn)
    {
        console.log(btn+" Voucher Load Start")
        Selection_By_Item_Voucher = false;
        Voucher_Type_Voucher = "";
        AdditionalParam = "";
        var hasRight = "True";

        switch (btn)
        {
            case "BUT_CASH":
                hasRight = "@Acc_Vou_CashBank_AddRight";
                Voucher_Type_Voucher = "CASH";
                break;
            case "BUT_BANK":
                Voucher_Type_Voucher = "BANK";
                hasRight = "@Acc_Vou_B2B_AddRight";
                break;
            case "BUT_DONATION":
                 hasRight = "@Acc_Vou_Donation_AddRight";
                if ("@AllowForeignDonation" == "True")
                {
                    Voucher_Type_Voucher="Check Donation Type";
                }
                else {
                    Voucher_Type_Voucher = "DONATION - REGULAR";
                }
                break;
            case "BUT_C_BOX":
                 hasRight = "@Acc_Vou_ColBox_AddRight";
                Voucher_Type_Voucher = "COLLECTION BOX";
                break;
            case "BUT_PAYMENT":
                 hasRight = "@Acc_Vou_Payment_AddRight";
                Voucher_Type_Voucher = "PAYMENT";
                break;
            case "BUT_RECEIPT":
                  hasRight = "@Acc_Vou_Receipt_AddRight";
                Voucher_Type_Voucher = "RECEIPTS";
                break;
            case "BUT_GIFT":
                  hasRight = "@Acc_Vou_Gift_AddRight";
                Voucher_Type_Voucher="DONATION - GIFT";
                break;
            case "BUT_INT_TRANSFER":
                  hasRight = "@Acc_Vou_Int_Transfer_AddRight";
                Voucher_Type_Voucher = "INTERNAL TRANSFER";
                break;
            case "BUT_FD":
                  hasRight = "@Acc_Vou_FD_AddRight";
                Voucher_Type_Voucher = "FD";
                break;
            case "BUT_S_ASSET":
                  hasRight = "@Acc_Vou_SaleAsset_AddRight";
                Voucher_Type_Voucher = "SALE OF ASSET";
                break;
            case "BUT_J_Entry":
                  hasRight = "@Acc_Vou_Journal_AddRight";
                Voucher_Type_Voucher="JOURNAL";
                break;
            case "BUT_ASSET_TFER":
                  hasRight = "@Acc_Vou_AsetTransfer_AddRight";
                Voucher_Type_Voucher="ASSET TRANSFER";
                break;
            case "BUT_WIP_FINAL":
                  hasRight = "@Acc_Vou_WIP_Finalization_AddRight";
                Voucher_Type_Voucher="WIP FINALIZATION";
                break;
            case "BUT_CASH_PAY_VOLUME":
                  hasRight = "@Acc_Vou_Payment_AddRight";
                Voucher_Type_Voucher = "PAYMENT";
                AdditionalParam = "CASH";
                break;
            case "BUT_BANK_PAY_VOLUME":
                  hasRight = "@Acc_Vou_Payment_AddRight";
                Voucher_Type_Voucher = "PAYMENT";
                AdditionalParam = "BANK";
                break;
            case "BUT_CONTRA_VOLUME":
                  hasRight = "@Acc_Vou_Journal_AddRight";
                Voucher_Type_Voucher = "JOURNAL";
                break;
            case "BUT_JV_VOLUME":
                  hasRight = "@Acc_Vou_Payment_AddRight";
                Voucher_Type_Voucher = "PAYMENT";
                AdditionalParam = "JV";
                break;
            default:
                DevExpress.ui.dialog.alert("Coming Soon...!", "Voucher Entry...");
                break;
        }
        if (hasRight == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (Voucher_Type_Voucher == "Check Donation Type")
        {
            ChooseDonationType_Voucher();
        }
        else if (Voucher_Type_Voucher.length > 0)
        {
            DataNavigation_Voucher(Voucher_Type_Voucher, Selection_By_Item_Voucher, AdditionalParam);
        }
    }
    </script>
    @* Voucher icon click,ok click *@
    <script>
        function ChooseDonationType_Voucher()
    {
        ShowLoader();
        $("#CheckDonationType_Form").remove();
        $.ajax({
            type: 'GET',
            url: "/Account/VoucherInfo/Frm_Voucher_Win_D_Type",
            cache: false,
            data: { CallFromVoucherInfo:true},
            success: function (data)
            {
                OpenPopup("Popup_Donation_Check", "Donation", null, "auto", 300, true, data);
                HideLoader();
            }
        });
    }
    function DataNavigation_Voucher(_VoucherType, _selectionByItem, _Additionalparam = "")
    {
        if (Check_Voucher_Allow_AEDV_Vinfo(_VoucherType)==false)
        {
            DevExpress.ui.dialog.alert("Coming Soon..!", "Information");
            return;
        }
        Vouchers_New(_VoucherType, _selectionByItem, ItemID_Voucher, SelectedItemName, _Additionalparam, Sel_Led_Name, Sel_Led_ID)
    }
    function BUT_CashBook_Click()
    {
        if ("@Acc_Vou_CashBank_ListRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (typeof CashBookListGrid !== 'undefined') {
            DevExpress.ui.dialog.alert("Cash Book Already Opened...!", "Voucher Entry");
        }
        else
        {
            OpenTabControl('Frm_Voucher_Info_CB', 'Cash Book', '@Url.Action("Frm_Voucher_Info_CB", "Voucher", new { @area = "Account" })');
        }
        $("#GLookUp_ItemList_VoucherInfo").dxDropDownBox("instance").reset();
    }
    function BUT_NB_Entry_Click()
    {
        if (Voucher_NoteBook_Allow_AEDV == false)
        {
            DevExpress.ui.dialog.alert("Coming Soon..!", "Information");
            return;
        }
        if ("@Acc_Vou_NoteBook_ListRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if ($("#NoteBook_ParentDiv").length > 0)
        {
            HideLoader();
            DevExpress.ui.dialog.alert("Note Book Already Opened...!<br>Please Close Notebook Opened In Tab First", "Information..");
            return;
        }
        $("#GLookUp_ItemList_VoucherInfo").dxDropDownBox("instance").reset();
        OpenPopup("Notebook_Popup_ID",'Note-Book Entry', '/Account/NoteBook/Frm_NoteBook_Info?Tag="_New"', "auto", "90%", false);
    }
    function Check_Voucher_Allow_AEDV_Vinfo(VoucherType)
    {
        var AllowVoucher_AEDV;
        switch (VoucherType.toUpperCase())
        {
            case "CASH":
                AllowVoucher_AEDV = Voucher_CDW_Allow_AEDV;
                break;
            case "BANK":
                AllowVoucher_AEDV = Voucher_B2B_Allow_AEDV;
                break;
            case "DONATION - REGULAR":
                AllowVoucher_AEDV = Voucher_DonR_Allow_AEDV;
                break;
            case "DONATION - FOREIGN":
                AllowVoucher_AEDV = Voucher_DonF_Allow_AEDV;
                break;
            case "COLLECTION BOX":
                AllowVoucher_AEDV = Voucher_DonF_Allow_AEDV;
                break;
            case "PAYMENT":
                AllowVoucher_AEDV = Voucher_Payment_Allow_AEDV;
                break;
            case "RECEIPTS":
                AllowVoucher_AEDV = Voucher_Receipt_Allow_AEDV;
                break;
            case "DONATION - GIFT":
                AllowVoucher_AEDV = Voucher_DonationKind_Allow_AEDV;
                break;
            case "INTERNAL TRANSFER":
                AllowVoucher_AEDV = Voucher_ITrf_Allow_AEDV;
                break;
            case "FD":
                AllowVoucher_AEDV = Voucher_FD_Allow_AEDV;
                break;
            case "SALE OF ASSET":
                AllowVoucher_AEDV = Voucher_SaleAsset_Allow_AEDV;
                break;
            case "JOURNAL":
                AllowVoucher_AEDV = Voucher_JV_Allow_AEDV;
                break;
            case "MEMBERSHIP":
                AllowVoucher_AEDV = Voucher_Membership_Allow_AEDV;
                break;
            case "MEMBERSHIP RENEWAL":
                AllowVoucher_AEDV = Voucher_Membership_Renewal_Allow_AEDV;
                break;
            case "ASSET TRANSFER":
                AllowVoucher_AEDV = Voucher_AssetTransfer_Allow_AEDV;
                break;
            case "WIP FINALIZATION":
                AllowVoucher_AEDV = Voucher_WIP_Allow_AEDV;
                break;
        }
        return AllowVoucher_AEDV;
        }
        function AfterVoucherClose_VoucherEntry()
        {
            $("#GLookUp_ItemList_VoucherInfo").dxDropDownBox("focus");
        }
    </script>
    @* Data Navigation,notebook and cashbook click *@
    <script>
        function Grid_Display_VoucherInfo() {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/VoucherInfo/Grid_Display_VoucherInfo",
                cache: false,
                success: function (data) {
                    if (data.jsonParam.result == false) {
                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                    }
                    else {
                        $("#Voucher_BE_View_Balance").dxTextBox("instance").option("value", data.BE_Cash_Bank_Text);
                    }
                }
            });
            HideLoader();
        }
        function VoucherViewSummaryClick() {
            $("#CashBankSummary_Form").remove();
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/VoucherInfo/Frm_View_Summary",
                data: { PopupID: "popup_summary_voucher_info" },
                cache: false,
                success: function (result) {
                    ShowLoader();
                    OpenPopup("popup_summary_voucher_info", "Summary", null, "auto", 1000, true, result);

                    HideLoader();
                }
            });
        }
        $(function () {
            $("#popup_summary_voucher_info").dxPopup({
                onHiding: function (e) {
                    $.ajax({
                        type: 'GET',
                        url: "/Account/VoucherInfo/Frm_View_SummaryGrid_Close",
                        cache: false
                    });
                }
            });
        })//summary popup hide

    </script>
    @* Grid Display & Summary *@
    <script>
        function Voucher_PeriodSelectionChange(e) {
            if (e.value < 0) { return; }
            $("#Voucher_btnChangePeriod").dxButton("instance").option("disabled", true);
            if (e.value == 20) {
                $("#Voucher_btnChangePeriod").dxButton("instance").option("disabled", false);
                Voucher_ChangePeriodClick();
            }
            else {
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Account/VoucherInfo/Cmb_View_SelectedIndexChanged",
                    data:
                    {
                        SelectedIndex: e.value
                    },
                    cache: false,
                    success: function (result) {
                        $("#Voucher_BE_View_Period").dxTextBox("instance").option("value", result.BE_View_Period);
                        $("#Voucher_Fr_Date").val(result.FromDate);
                        $("#Voucher_To_Date").val(result.ToDate);
                        Grid_Display_VoucherInfo();
                    }
                });
                HideLoader();
            }
        }
        function Voucher_ChangePeriodClick() {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/VoucherInfo/frm_Specific_Period_voucherInfo",
                cache: false,
                success: function (data) {
                    ShowLoader();
                    OpenPopup("PopupVoucher_speceficPeriod", "Change Period", false, "auto", "45%", true, data);
                    HideLoader();
                }
            });
        }
        function Frm_Change_Period_Success_Voucher(data) {
            HideLoader();
            if (data.result == false) {
                DevExpress.ui.dialog.alert(data.message, 'Error!!');
            }
            else {
                $("#Voucher_BE_View_Period").dxTextBox("instance").option("value", data.BE_View_Period);
                $("#Voucher_Fr_Date").val(data.FromDate);
                $("#Voucher_To_Date").val(data.ToDate);
                Grid_Display_VoucherInfo();
                $("#PopupVoucher_speceficPeriod").dxPopup("hide");
            }
        }
    </script>
    @* Period Change *@
    <script>
        $("#VoucherInfo_ParentDiv").keydown(function (e) {
            console.log(e);
            if (e.originalEvent.repeat == true) {
                return false;
            }
            if (e.key == "F6" && e.shiftKey) //calculator
            {
                e.preventDefault();
                DevExpress.ui.dialog.alert("Coming Soon... ", 'Calculator..');
            }
            else if (e.key == "F2" && e.altKey) //change period
            {
                e.preventDefault();
                $("#Voucher_PeriodSelection").dxSelectBox("instance").option("value", -1);
                $("#Voucher_PeriodSelection").dxSelectBox("instance").option("value", 20);
            }
        });
        function VoucherItemDD_EnterKey(e)
        {
            if ($("#Voucher_BUT_OK").dxButton("instance").option("disabled") == false)
            {
                $("#Voucher_BUT_OK").trigger("dxclick");
            }
        }
    </script>
    @* Shortcuts *@
</div>