<div class="AccountAnalysis_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model  ConnectOneMVC.Areas.Start.Models.AccountAnalysis
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
    }
    <link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
    <div class="report_header_div_main">
        <div id="ACCANA_content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 padd report_header_div">
                <label class="report_header_label">Account Analysis</label>
            </div>
            <div class="report_button_div">
                @(Html.DevExtreme().Button().ID("ACCANA_listPreview").Text("List Preview").Icon("print").OnClick(@<text> function () { AccountAnalysisPreviewClick(); } </text>) )
                @(Html.DevExtreme().Button().ID("ACCANA_Close").Text("Close").Icon("close").OnClick(@<text> function (){CloseAccountAnalysis();} </text>) )

            </div>
        </div>
    </div>@*Header*@
    <div>
        @(Html.DevExtreme().TabPanel().ID("ACCANA_Gridpanel").Items(items =>
                                                        {
                                                            items.Add().Title("Audit Exceptions").Template(@<text> @AuditExceptionsView() </text>);
                                                                    items.Add().Title("Audit Checkpoints").Template(@<text> @AuditCheckpointsView() </text>);
                                                                        }).DeferRendering(false).ScrollByContent(false))
        @helper AuditExceptionsView()
        {
            @Html.Partial("AuditExceptions", Model.MainTable);
        }
        @helper AuditCheckpointsView()
        {
            @Html.Partial("AuditCheckpoints", Model.Catalog);
        }
    </div>@*Grid Tabs*@
    <script>
    function CloseAccountAnalysis()
    {
        $(".TabPanalMenu-tabs .active span").click();
    }

        $(".TabPanalMenu-tabs .active span").on("click", function () {
            $.ajax({
                type: 'GET',
                url: "/Start/AccountAnalysis/SessionClear",
                cache: false
            });
            ClearAllReferences_AccountAnalysis();
        });

        function ClearAllReferences_AccountAnalysis() {
            ClearAllReferences("AccountAnalysis_ClearReferences");
        }

        function AccountAnalysisPreviewClick()
    {
            ShowLoader();
        OpenPopup("AccountAnalysis_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "AccountAnalysis", new { @area = "Start" })?SelectedIndex=" + $("#ACCANA_Gridpanel").dxTabPanel("instance").option("selectedIndex"), "auto", "auto", false, null);
    }
    </script>
</div>