<div class="FDVoucher_ClearReferences">
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.Model_Frm_Voucher_Win_FD
@{ 
    bool FDVoucher_ViewRight = (bool)ViewData["FDVoucher_ViewRight"];   
}
<style>
    #FD_Txt_Ref_No {
        text-transform:uppercase;
    }
    /*FCRA Related*/
    #ListSpecialVoucherRef_FD .dx-list-item-content {
        padding: 4.5px;
    }
    </style>
<div id="Frm_Voucher_Win_FD_popup">
    @using (Ajax.BeginForm("Frm_Voucher_Win_FD", "FDVoucher",
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "Frm_Voucher_Item_popup",
            InsertionMode = InsertionMode.InsertAfter,
            OnBegin = "AjaxBeginFormPost",
            OnSuccess = "AjaxSuccessVoucherWinFD",

        },
        new
        {
            id = "id_Frm_Voucher_Win_FD",
            @class = "edit_form"
        }))
    {
        @Html.HiddenFor(x => x.xID)
        @Html.HiddenFor(x => x.xMID)
        @Html.HiddenFor(x => x.CreatedFDID)
        @Html.HiddenFor(x => x.iVoucher_Type)
        @Html.HiddenFor(x => x.iTrans_Type)
        @Html.HiddenFor(x => x.iLed_ID)
        @Html.HiddenFor(x => x.iSpecific_ItemID)
        @Html.HiddenFor(x => x.Cnt_BankAccount)
        @Html.HiddenFor(x => x.iAction)
        @Html.HiddenFor(x => x.FDiAction)
        @Html.HiddenFor(x => x.LastEditedOn)
        @Html.HiddenFor(x => x.Info_LastEditedOn)
        @Html.HiddenFor(x => x.TitleX)
        @Html.HiddenFor(x => x.Tag)
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.GlookUp_BankList_REC_EDIT_ON)
        @Html.HiddenFor(x => x.FD_List_REC_EDIT_ON)
        @Html.HiddenFor(x => x.FD_MaturityDate)
        @Html.HiddenFor(x => x.FD_MaturityAmt)
        @Html.HiddenFor(x => x.xID_FDWindow)
        @Html.HiddenFor(x => x.GLookUp_BankListEnabled)
        @Html.HiddenFor(x => x.Look_BankList)
        @Html.HiddenFor(x => x.Look_BankList_RecEditOn)
        @Html.HiddenFor(x => x.FD_AsDate)
        @Html.HiddenFor(x => x.FdListBank_ID)
        @Html.HiddenFor(x => x.FD_Date)
        @Html.HiddenFor(x => x.FD_ItemID)
        @Html.HiddenFor(x => x.FD_SplVchrReferenceSelected)
        @Html.HiddenFor(x => x.splVchrRefsCount_FD)
        @Html.HiddenFor(x => x.FD_RenewFromFDNo)
        @Html.HiddenFor(x => x.In_UP_FD)
        @Html.HiddenFor(x => x.In_UP_FDHty)
        @Html.HiddenFor(x => x.In_UP_RenFDHis)

        using (Html.DevExtreme().ValidationGroup("FD_Voucher"))
        {
            <div class="full-width-header-bg">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="popuphead"><i class="far fa-edit"></i>@Model.TitleX</h3>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    @Html.Label("Item Name:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_FD_GLookUp_ItemList" })
                                </div>
                                <div class="col-sm-8 prm">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("FD_GLookUp_ItemList").Name("FD_GLookUp_ItemList").ValueExpr("ITEMID").DisplayExpr("ITEMNAME").DataSource(Model.ItemData, "ITEMID")
                                          .Placeholder("Select Item..").OnValueChanged("GLookUp_ItemList_EditValueChanged_FD").ReadOnly(true).Value(Model.FD_GLookUp_ItemList).ContentTemplate(@<text>@Html.Partial("FD_LookUp_GetItemList")</text>))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    @Html.Label("Voucher Date:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_FD_Txt_V_Date" })
                                </div>
                                <div class="col-sm-8 prl">
                                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("FD_Txt_V_Date").Name("FD_Txt_V_Date").OnValueChanged("Txt_V_Date_EditValueChanged_FD").Value(Model.FD_Txt_V_Date) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Item/Voucher Date]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    @Html.Label("Head", htmlAttributes: new { @class = "control-label", @id = "lbl_FD_BE_Item_Head" })
                                </div>
                                <div class="col-sm-8 prm">
                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("FD_BE_Item_Head").Name("FD_BE_Item_Head").Placeholder("Head").Value(Model.FD_BE_Item_Head).ReadOnly(true) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    @Html.Label("Voucher No", htmlAttributes: new { @class = "control-label", @id = "lbl_FD_Txt_V_NO" })
                                </div>
                                <div class="col-sm-8 prl">
                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("FD_Txt_V_NO").Name("FD_Txt_V_NO").Value(Model.FD_Txt_V_NO).ReadOnly(true).FocusStateEnabled(false))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Head/Voucher No]-->
            <div class="row">
                <div class="col-sm-6" id="Lay_Select_Fd">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    @Html.Label("FD No:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_GLookUp_FD_List" })
                                </div>
                                <div class="col-md-6 col-sm-5 prm">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_FD_List").Name("GLookUp_FD_List").ValueExpr("FD_ID").DisplayExpr("FD_NO").Value(Model.GLookUp_FD_List)
                                          .DataSource(Model.FDData,"FD_ID").Placeholder("Select F.D. No...").OnValueChanged("GLookUp_FD_List_EditValueChanged").ContentTemplate(@<text>@Html.Partial("FD_LookUp_GetFDList")</text>))
                                </div>

                                <div class="col-md-2 col-sm-3 prm" id="Lay_View_Fd">

                                    @(Html.DevExtreme().Button().ID("ViewFD").Text("View").OnClick("BTN_FD_DET_Click"))

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[FD No.]-->
                <div class="col-sm-6" id="div_fd_amount">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll" id="div_fd_amount_lbl">
                                    @Html.Label("FD Amount:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_FD_Txt_Amount" })
                                </div>
                                <div class="col-sm-8 prl" id="div_fd_amount_nb">
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("FD_Txt_Amount").Name("FD_Txt_Amount").Placeholder("Type FD Amount...").Format("#.##").Value(Model.FD_Txt_Amount))

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[FD Amount]-->
            </div> <!--[FD No./FD Amount]-->
            <div class="row" id="div_renewdate_Fdbank">
                <div class="col-sm-6" id="Lay_NRC_Date">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll" id="div_fd_renewdate_lbl">
                                    @Html.Label("Renew Date:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_FD_Txt_NRC_Date" })
                                </div>
                                <div class="col-sm-8 prm" id="div_fd_renewdate">
                                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("FD_TXT_NRC_DATE").Name("FD_TXT_NRC_DATE").Placeholder("Date..").OnValueChanged("TXT_NRC_DATE_EditValueChanged").Value(Model.FD_TXT_NRC_DATE).ElementAttr("OnClick", "TXT_NRC_DATE_Click()") )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Renew Date]-->
                <div class="col-sm-6" id="Lay_FD_Bank">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll" id="div_fd_bank_lbl">
                                    @Html.Label("FD Bank:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_FD_TXT_Fd_Bank" })
                                </div>
                                <div class="col-sm-8 prl" id="div_fd_bank">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true,true).ID("FD_TXT_Fd_Bank").Name("FD_TXT_Fd_Bank").Placeholder("Bank's Name").ReadOnly(true).Value(Model.FD_TXT_Fd_Bank) )

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[FD Bank]-->
            </div><!--[RenewDate/FD Bank]-->
            <div class="row" id="div_fd_paymode_renewamt">
                <div class="col-sm-6" id="Lay_Payment_Mode">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll" id="div_fd_paymode_lbl">
                                    <label class="control-label text-red" for="Name" id="lbl_FD_Cmd_Mode">Paymt Mode :</label>
                                </div>
                                <div class="col-sm-8 prm" id="div_fd_paymode">
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("FD_Cmd_Mode").Name("FD_Cmd_Mode").Placeholder("Select Payment Mode..").ShowClearButton(false).Value(Model.FD_Cmd_Mode)
                                                                               .DataSource(new[] { "CHEQUE", "DD", "BANK ACCOUNT", "CASH" }).OnValueChanged("Cmd_Mode_SelectedIndexChanged") )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[payment mode]-->
                <div class="col-sm-6" id="Lay_Renewal_Amount">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll" id="div_fd_renewamt_lbl">
                                    <label class="control-label text-red" for="Name" id="lbl_TXT_RENEWAL_MATURITY_AMOUNT">Renewal Amt</label>
                                </div>
                                <div class="col-sm-8 prl" id="div_fd_renewamt">
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("FD_TXT_RENEWAL_MATURITY_AMOUNT").Name("FD_TXT_RENEWAL_MATURITY_AMOUNT").Placeholder("Amount...").OnValueChanged("TXT_REC_AMOUNT_EditValueChanged").Format("#0.00").Value(Model.FD_TXT_RENEWAL_MATURITY_AMOUNT) )@* Redmine Bug #133690 fixed  *@

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Renewal Amount]-->
            </div> <!--[Paymentmode/Renewal Amount]-->
            <div class="row">
                <div class="col-sm-6" id="Lay_Renewal">
                    <div class="form-field">
                        <div class="container-fluid">
                            <fieldset class="default-fieldset" id="C_R_Panel">
                                <legend class="custom-legend mlm"><label id="lblRenewalTitle" class="disabletxt"> FD Renewal Detail:</label></legend>
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        <label id="lblFDAct" class="control-label" for="Name">FD Action:</label>
                                    </div>
                                    <div class="col-sm-8 prl">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true,true).Name("FD_TXT_FD_ACT").MaxLength(25).ID("FD_TXT_FD_ACT").ReadOnly(true).Placeholder("").Value(Model.FD_TXT_FD_ACT) )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        <label class="control-label text-red" for="Name" id="lblReceivedAmount">Amount Recd:</label>
                                    </div>
                                    <div class="col-sm-8 prl">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("FD_TXT_REC_AMOUNT").ID("FD_TXT_REC_AMOUNT").Placeholder("Total Amt with interest...").Format("#0.00").OnValueChanged("TXT_REC_AMOUNT_EditValueChanged").Value(Model.FD_TXT_REC_AMOUNT)) @*Redmine Bug #132902 fixed*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        <label class="control-label text-red" for="Name" id="lblInterest">Interest:</label>
                                    </div>
                                    <div class="col-sm-8 prl">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("FD_TXT_INTEREST").Name("FD_TXT_INTEREST").ReadOnly(true).Placeholder("Interest Not Accounted yet...").Format("#0.00").Value(Model.FD_TXT_INTEREST) )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        <label id="lblReceiptMode" class="control-label disabletxt" for="Name">Receipt Mode:</label>
                                    </div>
                                    <div class="col-sm-8 prl">
                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("FD_Cmb_Rec_Mode").Name("FD_Cmb_Rec_Mode").Placeholder("Select Receipt Mode...").DataSource(new[] { "CHEQUE", "DD", "BANK ACCOUNT", "CASH" }).Value(string.IsNullOrWhiteSpace(Model.FD_Cmb_Rec_Mode)?"BANK ACCOUNT": Model.FD_Cmb_Rec_Mode).OnValueChanged("Cmd_Mode_SelectedIndexChanged").ReadOnly(true).ShowClearButton(false) )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        <label id="lblTDS" class="control-label" for="Name">TDS Deduction:</label>
                                    </div>
                                    <div class="col-sm-8 prl">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("FD_TXT_TDS").Name("FD_TXT_TDS").Placeholder("UnAccounted TDS Yet...").Format("#0.00").Value(Model.FD_TXT_TDS) )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        <label id="lblTDS_Prev" class="control-label" for="Name">TDS (Previous):</label>
                                    </div>
                                    <div class="col-sm-8 prl">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("FD_TXT_TDS_PREV").Name("FD_TXT_TDS_PREV").Placeholder("TDS Already Accounted...").ReadOnly(true).Format("#0.00").Value(Model.FD_TXT_TDS_PREV) )
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div><!--[Renewal Detail]-->
                <div class="col-sm-6" id="FD_BankDetailDiv">
                    <div class="form-field">
                        <div class="container-fluid">
                            <fieldset class="default-fieldset" id="PanelControl3">
                                <legend class="custom-legend mlm"><label id="lbl_Ref_Title" class="disabletxt"> Bank Payment detail for FD:</label></legend>
                                <div class="row">
                                    <div class="col-sm-4 pll" id="div_fd_bank_name_lbl">
                                        <label id="lbl_Ref_Bank" class="control-label disabletxt" for="Name">Bank Name:</label>
                                    </div>
                                    <div class="col-sm-8 prl" id="div_fd_bank_name">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("FD_GLookUp_BankList").Name("FD_GLookUp_BankList").ValueExpr("BA_ID").DisplayExpr("BANK_NAME").Value(Model.FD_GLookUp_BankList)
                                              .DataSource(Model.BankData,"BA_ID").Placeholder("Select Bank...").OnValueChanged("GLookUp_BankList_EditValueChanged_FD").ContentTemplate(@<text>@Html.Partial("FD_LookUp_GetBankList")</text>).ReadOnly(true))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 pll" id="div_fd_bank_branch_lbl">
                                        <label class="control-label disabletxt" for="Name" id="lbl_Branch">Branch:</label>
                                    </div>
                                    <div class="col-sm-8 prl" id="div_fd_bank_branch">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true,true).Name("FD_Txt_Branch").MaxLength(25).ID("FD_Txt_Branch").ReadOnly(true).Value(Model.FD_Txt_Branch) )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 pll" id="div_fd_bank_account_lbl">
                                        <label class="control-label disabletxt" for="Name" id="lbl_Account_No">Account No :</label>
                                    </div>
                                    <div class="col-sm-8 prl" id="div_fd_bank_account">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true,true).ID("FD_Txt_AccountNo").Name("FD_Txt_AccountNo").ReadOnly(true).MaxLength(25).Value(Model.FD_Txt_AccountNo) )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 pll" id="div_fd_bank_refno_lbl">
                                        <label id="lbl_Ref_No" class="control-label disabletxt" for="Name">Ref No:</label>
                                    </div>
                                    <div class="col-sm-8 prl" id="div_fd_bank_refno">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true,true).ID("FD_Txt_Ref_No").Name("FD_Txt_Ref_No").MaxLength(25).Placeholder("Type No...").Value(Model.FD_Txt_Ref_No) )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 pll" id="div_fd_bank_date_lbl">
                                        <label id="lbl_Ref_Date" class="control-label disabletxt" for="Name">Date:</label>
                                    </div>
                                    <div class="col-sm-8 prl" id="div_fd_bank_date">
                                        @(Html.DevExtreme().DateBox().CustomDateBox().ID("FD_Txt_Ref_Date").Name("FD_Txt_Ref_Date").Placeholder("dd-MM-yyyy").OnValueChanged("refdatechange").Min("01/01/1936").Value(Model.FD_Txt_Ref_Date) )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 pll" id="div_fd_bank_cdate_lbl">
                                        <label id="lbl_Ref_Cdate" class="control-label disabletxt" for="Name">Clearing :</label>
                                    </div>
                                    <div class="col-sm-8 prl" id="div_fd_bank_cdate">
                                        @(Html.DevExtreme().DateBox().CustomDateBox().ID("FD_Txt_Ref_CDate").Name("FD_Txt_Ref_CDate").Placeholder("dd-MM-yyyy").OnValueChanged("refdatechange").Min("01/01/1936").Value(Model.FD_Txt_Ref_CDate))
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div><!--[Bank Payment Detail]-->
            </div><!--[Rnewal/Bank Payment Detail]-->

            <div class="row">
                <div id="FD_NarrationDiv" class="col-sm-12 col-md-8 col-lg-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            <label class="control-label" for="Name" id="lbl_FD_Txt_Narration">Narration :</label>
                                        </div>
                                        <div class="col-sm-10 prl">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("FD_Txt_Narration").Name("FD_Txt_Narration").Value(Model.FD_Txt_Narration).Placeholder("Type any Narration...").MaxLength(250) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Narration]-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            <label class="control-label" for="Name" id="lbl_FD_Txt_Remarks">Remarks :</label>
                                        </div>
                                        <div class="col-sm-10 prl">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("FD_Txt_Remarks").Name("FD_Txt_Remarks").Value(Model.FD_Txt_Remarks).Placeholder("Type any Other Detail/Remarks...").MaxLength(250) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Remarks]-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            <label class="control-label" for="Name" id="lbl_FD_Txt_Reference">Reference :</label>
                                        </div>
                                        <div class="col-sm-10 prl">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("FD_Txt_Reference").Name("FD_Txt_Reference").Value(Model.FD_Txt_Reference).Placeholder("Type any Reference Details...").MaxLength(250) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Reference]-->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            <label class="control-label text-red" id="lbl_cdw_purpose" for="Name">Purpose:</label>
                                        </div>
                                        <div class="col-sm-10 prl">
                                            @(Html.DevExtreme().SelectBox().CustomSelectBox()
                                                .ID("PurposeID_FD").Name("PurposeID_FD")
                                                .DataSource(d => d.Mvc().Controller("FDVoucher")
                                                .LoadAction("LookUp_GetPurposeList").Key("PUR_ID").LoadMode(DataSourceLoadMode.Raw))
                                                .DisplayExpr("PUR_NAME").ValueExpr("PUR_ID")
                                                .Value(Model.PurposeID_FD).Placeholder("Select Purpose...")
                                             )
                                            @Html.ValidationMessageFor(model => model.PurposeID_FD, "", new { @class = "text-red" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Purpose]-->
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4" id="FD_SpecialVoucherRefDiv">
                    <div class="form-field ">
                        <div class="dx-texteditor-container">
                            @(Html.DevExtreme().List().CustomList().ID("ListSpecialVoucherRef_FD")
                                .DataSource(Model.SpecialReferenceList_Data_FD, "Task_Name")
                                .SearchEnabled(false)
                                .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                                .KeyExpr("Task_Name")
                                .DisplayExpr("Task_Name")
                                .OnSelectionChanged("OnSplVchrRefsListSelectionChanged_FD")
                                .Height(123).ShowScrollbar(ShowScrollbarMode.Always).UseNativeScrolling(false)
                                .ShowSelectionControls(true)
                                .SelectedItemKeys(Model.SpecialReference_Get_SelectedValue_FD))
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ {1})...", Model.ActionMethod.Substring(1), Model.TitleX))
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().ID("BUT_SAVE_FD").CustomSaveButton(Model.ActionMethod.ToString()).Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_New_From_Selection" || Model.ActionMethod.ToString().Trim() == "_Edit") ? "Save" : "Delete").UseSubmitBehavior(false).Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true).OnClick("FDVoucherSave"))
                                @(Html.DevExtreme().Button().ID("BUT_CANCEL_FD").CustomCloseButton().Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit" || Model.ActionMethod.ToString().Trim() == "_Delete") ? "Cancel" : "Close").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->
        }
    }
</div>
@(Html.DevExtreme().Popup().CustomPopup().ID("Frm_Voucher_FD_popup").OnShowing("PopupOnShowing").OnHiding("Frm_Voucher_FD_popup_Hiding").CloseOnOutsideClick(false).ShowTitle(true).Title("New ~ Item Detail").ContentTemplate(@<text> <div id="result_Voucher_FD_popup"> </div> </text>))

<script>
    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        if ("@FDVoucher_ViewRight" == "False")
        {
            $("#ViewFD").hide();
        }
        if ("@Model.TitleX" == "FD related Income / Expenses") {
            if ("@Model.Tag".startsWith("_New")) {
                $("#Dynamic_Content_popup").dxPopup("instance").option("title", "New" + " ~ " + "@Model.TitleX");
            }
            else {
                $("#Dynamic_Content_popup").dxPopup("instance").option("title", "@Model.ActionMethod".substring(1) + " ~ " + "@Model.TitleX");//redmine Bug #132913 fixed
            }
        }
        if ("@Model.ActionMethod" != "_View")
        {
            dontaskpopupcloseconfirmation = false;
        }
        InitAllDropdowns_FD();
        ClosingScreenParentDivClass = "FDVoucher_ClearReferences";
        TransformTextForDB("id_Frm_Voucher_Win_FD");
        sessionclearpath = "/Account/FDVoucher/SessionClear";
        Fieldset_SetDisable("PanelControl3", true);
        await LookUp_GetItemList_FD(true);
        switch ("@Model.iAction")
        {
            case "New_FD":
                await GLookUp_ItemList_EditValueChanged_FD(null, true);
                Fieldset_SetDisable("C_R_Panel", true);
                $("#lblFDAct").addClass("disabletxt").removeClass("text-red");
                $("#lblReceiptMode").addClass("disabletxt").removeClass("text-red");
                $("#lblReceivedAmount").addClass("disabletxt").removeClass("text-red");
                $("#lblInterest").addClass("disabletxt").removeClass("text-red");
                $("#lblTDS").addClass("disabletxt").removeClass("text-red");
                $("#lblTDS_Prev").addClass("disabletxt").removeClass("text-red");
                $("#lbl_FD_Txt_NRC_Date").text("FD Start Date:");
                $("#Lay_Select_Fd").hide();
                $("#Lay_View_Fd").hide();
                $("#Lay_FD_Bank").hide();
                $("#Lay_Payment_Mode").show();
                $("#Lay_Renewal_Amount").hide();
                Control_SetReadOnly("FD_Txt_Amount", "dxNumberBox", false);
                Fieldset_SetDisable("PanelControl3", false);
                Control_SetReadOnly("FD_Cmd_Mode", "dxSelectBox", false);
                $("#Lay_Renewal").hide();
                break;
            case "Renew_FD":
                Fieldset_SetDisable("C_R_Panel", false);
                $("#lblFDAct").removeClass("disabletxt").removeClass("text-red");
                $("#lblReceiptMode").removeClass("disabletxt").addClass("text-red");
                $("#lblReceivedAmount").removeClass("disabletxt").addClass("text-red");
                $("#lblInterest").removeClass("disabletxt").addClass("text-red");
                $("#lblTDS").removeClass("disabletxt").removeClass("text-red");
                $("#lblTDS_Prev").removeClass("disabletxt").removeClass("text-red");
                $("#lbl_FD_Txt_NRC_Date").text("Renewal Date:");
                $("#Lay_Select_Fd").show();
                $("#Lay_View_Fd").show();
                $("#Lay_FD_Bank").show();
                $("#Lay_Payment_Mode").hide();
                $("#Lay_Renewal_Amount").show();
                $("#lbl_TXT_RENEWAL_MATURITY_AMOUNT").text("Renewal Amt:");
                Control_SetReadOnly("FD_Txt_Amount", "dxNumberBox", true, "#696969");
                $("#FD_TXT_RENEWAL_MATURITY_AMOUNT").dxNumberBox("instance").option("placeholder", "Renewal Amount...");
                Control_SetReadOnly("FD_TXT_RENEWAL_MATURITY_AMOUNT", "dxNumberBox", false);
                await GLookUp_ItemList_EditValueChanged_FD(null, true);
                break;
            case "Close_FD":
                $("#lblRenewalTitle").text("FD Closure Detail:");
                Fieldset_SetDisable("C_R_Panel", false);
                $("#lblFDAct").removeClass("disabletxt").removeClass("text-red");
                $("#lblReceiptMode").removeClass("disabletxt").addClass("text-red");
                $("#lblReceivedAmount").removeClass("disabletxt").addClass("text-red");
                $("#lblInterest").removeClass("disabletxt").addClass("text-red");
                $("#lblTDS").removeClass("disabletxt").removeClass("text-red");
                $("#lblTDS_Prev").removeClass("disabletxt").removeClass("text-red");
                $("#lbl_FD_Txt_NRC_Date").text("FD Close Date:");
                $("#Lay_Select_Fd").show();
                $("#Lay_View_Fd").show();
                $("#Lay_FD_Bank").show();
                $("#Lay_Payment_Mode").hide();
                $("#Lay_Renewal_Amount").show();
                $("#lbl_TXT_RENEWAL_MATURITY_AMOUNT").text("Maturity Amt:");
                $("#FD_TXT_RENEWAL_MATURITY_AMOUNT").dxNumberBox("instance").option("placeholder", "Maturity Amount...");
                Control_SetReadOnly("FD_TXT_RENEWAL_MATURITY_AMOUNT", "dxNumberBox", true, "#696969");
                Control_SetReadOnly("FD_Txt_Amount", "dxNumberBox", true, "#696969");
                Control_SetReadOnly("FD_Cmb_Rec_Mode", "dxSelectBox", false);
                Cmd_Mode_SelectedIndexChanged(null,true,true);
                await GLookUp_ItemList_EditValueChanged_FD(null, true);
                break;
            default:
                Fieldset_SetDisable("C_R_Panel", true);
                $("#lblFDAct").addClass("disabletxt").removeClass("text-red");
                $("#lblReceiptMode").addClass("disabletxt").removeClass("text-red");
                $("#lblReceivedAmount").addClass("disabletxt").removeClass("text-red");
                $("#lblInterest").addClass("disabletxt").removeClass("text-red");
                $("#lblTDS").addClass("disabletxt").removeClass("text-red");
                $("#lblTDS_Prev").addClass("disabletxt").removeClass("text-red");

                $("#Lay_NRC_Date").hide();
                $("#Lay_Select_Fd").show();
                $("#Lay_View_Fd").show();

                $("#Lay_FD_Bank").show();
                $("#Lay_Payment_Mode").hide();

                $("#Lay_Renewal_Amount").show();
                $("#lbl_TXT_RENEWAL_MATURITY_AMOUNT").text("Amount:");
                $("#FD_TXT_RENEWAL_MATURITY_AMOUNT").dxNumberBox("instance").option("placeholder", "Amount...");

                Control_SetReadOnly("FD_Txt_Amount", "dxNumberBox", true, "#696969");
                $("#lbl_FD_TXT_Fd_Bank").text("Bank's Name:");
                if ($("#FD_ItemID").val() == "d0219173-45ff-4284-ae0e-89ba0e8d76b4")
                {
                    Fieldset_SetDisable("PanelControl3", true);
                    $("#Lay_Payment_Mode").hide();
                }
                else
                {
                    Fieldset_SetDisable("PanelControl3", false);
                    $("#Lay_Payment_Mode").show();
                    $("#lbl_FD_Cmd_Mode").text("Mode:");
                    $("#FD_Cmd_Mode").dxSelectBox("instance").option("placeholder", "Select Mode...");
                }
                await GLookUp_ItemList_EditValueChanged_FD(null, true);
                $("#Lay_Renewal").hide();
                break;
        }
        Control_SetReadOnly("FD_GLookUp_ItemList", "dxDropDownBox", true, "#696969");
        await LookUp_GetBankList_FD(true);
        if ("@Model.ActionMethod" == "_Edit" || "@Model.ActionMethod" == "_View" || "@Model.ActionMethod" == "_Delete")
        {
            Txt_V_Date_EditValueChanged_FD(null, true)           
            Cmd_Mode_SelectedIndexChanged(null, true)            
            if ("@Model.iAction" == "New_FD")
            {
                if ("@Model.FD_GLookUp_BankList".length > 0)
                {
                    await GLookUp_BankList_EditValueChanged_FD(null,true)
                }
                FD_Bank_ReadOnly = false;
                Control_SetReadOnly("FD_GLookUp_BankList", "dxDropDownBox", !(FD_Bank_Enabled == true && FD_Bank_ReadOnly == false));
                TXT_NRC_DATE_EditValueChanged(null,true)
                await GLookUp_ItemList_EditValueChanged_FD(null, true);
            }
            else if ("@Model.iAction" == "Renew_FD")
            {
                await GLookUp_FD_List_EditValueChanged(null,true);
                Control_SetReadOnly("GLookUp_FD_List", "dxDropDownBox", true, "#696969");
                if ("@Model.FD_Cmb_Rec_Mode".length > 0)
                {
                    //Redmine Bug#133709 fixed
                    Cmd_Mode_SelectedIndexChanged(null, true,true)
                }
                if ("@Model.FD_GLookUp_BankList".length > 0)
                {
                    await GLookUp_BankList_EditValueChanged_FD(null, true)
                    FD_Bank_ReadOnly = false;
                    Control_SetReadOnly("FD_GLookUp_BankList", "dxDropDownBox", !(FD_Bank_Enabled == true && FD_Bank_ReadOnly == false));
                }
                await GLookUp_ItemList_EditValueChanged_FD(null, true);
                TXT_NRC_DATE_EditValueChanged(null,true);
                TXT_REC_AMOUNT_EditValueChanged(null,true);
            }
            else if ("@Model.iAction" == "Close_FD")
            {
                await GLookUp_FD_List_EditValueChanged(null, true);
                Control_SetReadOnly("GLookUp_FD_List", "dxDropDownBox", true, "#696969");
                Cmd_Mode_SelectedIndexChanged(null, true, true)
                await GLookUp_ItemList_EditValueChanged_FD(null, true);
                TXT_REC_AMOUNT_EditValueChanged(null, true);
                TXT_NRC_DATE_EditValueChanged(null,true);
                if ("@Model.FD_GLookUp_BankList".length > 0)
                {
                    await GLookUp_BankList_EditValueChanged_FD(null, true)
                }
                FD_Bank_ReadOnly = false;
                Control_SetReadOnly("FD_GLookUp_BankList", "dxDropDownBox", !(FD_Bank_Enabled == true && FD_Bank_ReadOnly == false));
            }
            else if ("@Model.iAction".length == 0)
            {
                await GLookUp_FD_List_EditValueChanged();
                Control_SetReadOnly("GLookUp_FD_List", "dxDropDownBox", true, "#696969");
                if ("@Model.FD_Cmb_Rec_Mode".length > 0)
                {
                    Cmd_Mode_SelectedIndexChanged(null, true, true)
                }
                await GLookUp_ItemList_EditValueChanged_FD(null, true);
                TXT_REC_AMOUNT_EditValueChanged(null, true);
                if ("@Model.FD_GLookUp_BankList".length > 0)
                {
                    await GLookUp_BankList_EditValueChanged_FD(null, true)
                    FD_Bank_ReadOnly = false;
                    Control_SetReadOnly("FD_GLookUp_BankList", "dxDropDownBox", !(FD_Bank_Enabled == true && FD_Bank_ReadOnly == false));
                }
            }
        }
        else if ("@Model.ActionMethod" == "_New_From_Selection")
        {
            await GLookUp_ItemList_EditValueChanged_FD(null, true);
        }
        //FCRA Related
        if (parseInt("@Model.splVchrRefsCount_FD") == 0)
        {
            $("#FD_SpecialVoucherRefDiv").remove();
            $("#FD_NarrationDiv").removeClass("col-sm-12 col-md-8 col-lg-8").addClass("col-sm-12 col-md-12");
        }
        if (parseInt("@Model.splVchrRefsCount_FD") > 0)
        {
            OnSplVchrRefsListSelectionChanged_FD();
        }
        AdjustForm_FD();
        FormInitialSettings("id_Frm_Voucher_Win_FD", "@Model.Tag",false);
    });
    function AdjustForm_FD()
    {
        if (!$("#Lay_Renewal").is(':visible'))
        {
            $("#FD_BankDetailDiv").removeClass("col-sm-6").addClass("col-sm-12");
            $("#div_fd_bank_cdate_lbl").removeClass("col-sm-4").addClass("col-sm-2");
            $("#div_fd_bank_date_lbl").removeClass("col-sm-4").addClass("col-sm-2");
            $("#div_fd_bank_refno_lbl").removeClass("col-sm-4").addClass("col-sm-2");
            $("#div_fd_bank_account_lbl").removeClass("col-sm-4").addClass("col-sm-2");
            $("#div_fd_bank_branch_lbl").removeClass("col-sm-4").addClass("col-sm-2");
            $("#div_fd_bank_name_lbl").removeClass("col-sm-4").addClass("col-sm-2");
            $("#div_fd_bank_cdate").removeClass("col-sm-8").addClass("col-sm-10");
            $("#div_fd_bank_date").removeClass("col-sm-8").addClass("col-sm-10");
            $("#div_fd_bank_refno").removeClass("col-sm-8").addClass("col-sm-10");
            $("#div_fd_bank_account").removeClass("col-sm-8").addClass("col-sm-10");
            $("#div_fd_bank_branch").removeClass("col-sm-8").addClass("col-sm-10");
            $("#div_fd_bank_name").removeClass("col-sm-8").addClass("col-sm-10");

        }
        if (!$("#Lay_Renewal_Amount").is(':visible'))
        {
            $("#Lay_Payment_Mode").removeClass("col-sm-6").addClass("col-sm-12");
            $("#div_fd_paymode_lbl").removeClass("col-sm-4").addClass("col-sm-2");
            $("#div_fd_paymode").removeClass("col-sm-8").addClass("col-sm-10");
        }
        if (!$("#Lay_Payment_Mode").is(':visible'))
        {
            $("#Lay_Renewal_Amount").removeClass("col-sm-6").addClass("col-sm-12");
            $("#div_fd_renewamt_lbl").removeClass("col-sm-4").addClass("col-sm-2");
            $("#div_fd_renewamt").removeClass("col-sm-8").addClass("col-sm-10");
        }
        if ((!$("#Lay_Renewal_Amount").is(':visible')) && (!$("#Lay_Payment_Mode").is(':visible')))
        {
            $("#div_fd_paymode_renewamt").hide();
        }
        if (!$("#Lay_FD_Bank").is(':visible'))
        {
            $("#Lay_NRC_Date").removeClass("col-sm-6").addClass("col-sm-12");
            $("#div_fd_renewdate_lbl").removeClass("col-sm-4").addClass("col-sm-2");
            $("#div_fd_renewdate").removeClass("col-sm-8").addClass("col-sm-10");
        }
        if (!$("#Lay_NRC_Date").is(':visible'))
        {
            $("#Lay_FD_Bank").removeClass("col-sm-6").addClass("col-sm-12");
            $("#div_fd_bank_lbl").removeClass("col-sm-4").addClass("col-sm-2");
            $("#div_fd_bank").removeClass("col-sm-8").addClass("col-sm-10");
        }
        if ((!$("#Lay_NRC_Date").is(':visible')) && (!$("#Lay_FD_Bank").is(':visible')))
        {
            $("#div_renewdate_Fdbank").hide();
        }
        if (!$("#Lay_Select_Fd").is(':visible'))
        {
            $("#div_fd_amount").removeClass("col-sm-6").addClass("col-sm-12");
            $("#div_fd_amount_lbl").removeClass("col-sm-4").addClass("col-sm-2");
            $("#div_fd_amount_nb").removeClass("col-sm-8").addClass("col-sm-10");
        }
    }
    function GetItemCountInSameMaster()
    {
        $.ajax({
            type: 'POST',
            url: "/Account/FDVoucher/GetItemCountInSameMaster",
            async: false,
            data:
            {
                xMID: $("#xMID").val()
            },
            cache: false,
            success:
                function (data)
                {
                    if (data.result == false)
                    {
                        DevExpress.ui.dialog.confirm(data.message, "Error..");
                        return null;
                    }
                    else
                    {
                        if (data.itemid.length > 0)
                        {
                            return data.itemid;
                        }
                        else
                        {
                            return null;
                        }
                    }
                }
        });
    }
</script>@*document.ready*@
<script>
    var FD_Item_DataGrid;
    var FD_DepBank_DataGrid;
    var FD_FDList_DataGrid; 
    var FD_PopupCloseConfirmation = true;
    var FD_ItemDD_Refresh = false;
    var FD_FDListDD_Refresh = false;
    var FD_DepBankDD_Refresh = false;
    var FD_Bank_Enabled = true;
    var FD_Bank_ReadOnly = true;
    var FD_CMD_Mode = "BANK ACCOUNT"; @* Redmine Bug #133701 fixed *@
    function InitAllDropdowns_FD()
    {
        var $FD_Item_DataGrid = $("#FDVoucher_LookUp_GetItemList_DG");
        if ($FD_Item_DataGrid.length)
        {
            FD_Item_DataGrid = $FD_Item_DataGrid.dxDataGrid("instance");
        }
        var $FD_DepBank_DataGrid = $("#FDVoucher_LookUp_GetBankList_DG");
        if ($FD_DepBank_DataGrid.length)
        {
            FD_DepBank_DataGrid = $FD_DepBank_DataGrid.dxDataGrid("instance");
        }
        var $FD_FDList_DataGrid = $("#FDVoucher_LookUp_GetFDList_DG");
        if ($FD_FDList_DataGrid.length)
        {
            FD_FDList_DataGrid = $FD_FDList_DataGrid.dxDataGrid("instance");
        }
    }
    async function LookUp_GetItemList_FD(FirstCall = false)
    {
        //skipping refresh as it never gets refresh
        var DsItems = GetDataSourceItems("FD_GLookUp_ItemList", "dxDropDownBox");
        if (DsItems.length== 1)
        {
            $("#FD_GLookUp_ItemList").find('input').css('color', '#000080');
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                await FD_Item_DataGrid.selectRows(DsItems[0].ITEMID);
                Control_SetReadOnly("FD_GLookUp_ItemList", "dxDropDownBox", true);
            }
        }
        else
        {
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                Control_SetReadOnly("FD_GLookUp_ItemList", "dxDropDownBox", false);
            }
        }
    }
    async function LookUp_GetBankList_FD(FirstCall = false)
    {
        if (FirstCall === false)
        {
            var BankData = await Get_Bank_Data_FD();
            $("#FD_GLookUp_BankList").dxDropDownBox("option", "dataSource", new DevExpress.data.ArrayStore({
                key: "BA_ID",
                data: BankData
            }))
            FD_DepBank_DataGrid.option("dataSource", $("#GLookUp_RStateList_AB").dxDropDownBox("option", "dataSource"))
        }
        var DsItems = GetDataSourceItems("FD_GLookUp_BankList", "dxDropDownBox");
        var TotalCount = DsItems.length;
        $("#Cnt_BankAccount").val(TotalCount);
        if (TotalCount == 1)
        {
            $("#FD_GLookUp_BankList").find("input").css("color", "#696969");
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                await FD_DepBank_DataGrid.selectRows(DsItems[0].BA_ID);
                FD_Bank_Enabled = false
                Control_SetReadOnly("FD_GLookUp_BankList", "dxDropDownBox", !(FD_Bank_Enabled == true && FD_Bank_ReadOnly==false), "#696969");
            }
        }
        else
        {
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                FD_Bank_ReadOnly = false;
                Control_SetReadOnly("FD_GLookUp_BankList", "dxDropDownBox", !(FD_Bank_Enabled == true && FD_Bank_ReadOnly == false));
            }
        }
        if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
        {
            FD_Bank_ReadOnly = false;
            Control_SetReadOnly("FD_GLookUp_BankList", "dxDropDownBox", !(FD_Bank_Enabled == true && FD_Bank_ReadOnly == false));
        }
    }
    async function Get_Bank_Data_FD()
    {
        return $.ajax({
            type: 'GET',
            url: "/Account/FDVoucher/GetBankDataOnRefresh",
            cache: false
        });
    }
</script>@*DD refresh function and init*@
<script>    
    async function GLookUp_ItemList_EditValueChanged_FD(e,FirstCall=false)
    {
        var item;
        if (e) {
            item = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                FD_Item_DataGrid.clearSelection();               
                return;
            }
        }
        else
        {
            item = $("#FD_GLookUp_ItemList").dxDropDownBox("option", "value");
        }
        await FD_Item_DataGrid.selectRows(item);
        if (FD_Item_DataGrid.getSelectedRowsData().length > 0)
        {
            var item = FD_Item_DataGrid.getSelectedRowsData()[0];
            $("#FD_BE_Item_Head").dxTextBox("instance").option("value", item["LED_NAME"]);
            $("#iVoucher_Type").val(item["ITEM_VOUCHER_TYPE"]);
            $("#iLed_ID").val(item["ITEM_LED_ID"]);
            $("#iTrans_Type").val(item["ITEM_TRANS_TYPE"]);            
        }     
    }
    async function GLookUp_BankList_EditValueChanged_FD(e,FirstCall=false)
    {
        var bank;
        if (e) {
            bank = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                FD_DepBank_DataGrid.clearSelection();
                $("#FD_Txt_Branch").dxTextBox("instance").option("value", "");
                $("#FD_Txt_AccountNo").dxTextBox("instance").option("value", "");
                return;
            }
        }
        else
        {
            bank = $("#FD_GLookUp_BankList").dxDropDownBox("option", "value");
        }
        await FD_DepBank_DataGrid.selectRows(bank);
        if (FD_DepBank_DataGrid.getSelectedRowsData().length > 0)
        {
            var item = FD_DepBank_DataGrid.getSelectedRowsData()[0];
            $("#FD_Txt_Branch").dxTextBox("instance").option("value", item["BANK_BRANCH"]);
            $("#FD_Txt_AccountNo").dxTextBox("instance").option("value", item["BANK_ACC_NO"]);
            $("#GlookUp_BankList_REC_EDIT_ON").val(JS_Date_toIsoString(item["REC_EDIT_ON"]));
        }
    }
    async function GLookUp_FD_List_EditValueChanged(e,FirstCall=false)
    {
        var fd;
        if (e) {
            fd = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                $("#FD_TXT_Fd_Bank").dxTextBox("instance").option("value", null);
                $("#FD_Txt_Amount").dxNumberBox("instance").option("value", null);
                FD_FDList_DataGrid.clearSelection();
                return;
            }
        }
        else
        {
            fd = $("#GLookUp_FD_List").dxDropDownBox("option", "value");
        }
        await FD_FDList_DataGrid.selectRows(fd);
        if (FD_FDList_DataGrid.getSelectedRowsData().length > 0)
        {
            var item = FD_FDList_DataGrid.getSelectedRowsData()[0];
            $("#FD_TXT_Fd_Bank").dxTextBox("instance").option("value", item["BANK_NAME"]);
            $("#FD_Txt_Amount").dxNumberBox("instance").option("value", parseFloat(item["FD_AMOUNT"]));     
            $("#FD_MaturityDate").val(JS_Date_toIsoString(item["MATURITY_DATE"]));
            $("#FD_MaturityAmt").val(item["MATURITY_AMOUNT"]);
            $("#FD_AsDate").val(JS_Date_toIsoString(item["FD_AS_DATE"]));
            $("#FdListBank_ID").val(item["BA_ID"]);
            $("#FD_Date").val(JS_Date_toIsoString(item["FD_DATE"]));
            $("#FD_List_REC_EDIT_ON").val(JS_Date_toIsoString(item["REC_EDIT_ON"]));
            $("#FD_RenewFromFDNo").val(item["FD_NO"]);
            if ("@Model.iAction" == "Close_FD")
            {
                $("#FD_TXT_RENEWAL_MATURITY_AMOUNT").dxNumberBox("instance").option("value", parseFloat(item["MATURITY_AMOUNT"]));
            }
            $.ajax({
                type: 'POST',
                url: "/Account/FDVoucher/GetTDS",
                async: false,
                data:
                {
                    FD_ID: item["FD_ID"],
                    xMID: $("#xMID").val()
                },
                cache: false,
                success:
                    function (data)
                    {
                        $("#FD_TXT_TDS_PREV").dxNumberBox("instance").option("value",(data.tds-data.tdsReversal));
                    }
            });
            if (($("#FD_TXT_REC_AMOUNT").dxNumberBox("instance").option("value")) != null && $("#FD_TXT_REC_AMOUNT").dxNumberBox("instance").option("value")!=0)
            {
                var rec_amount = parseFloat($("#FD_TXT_REC_AMOUNT").dxNumberBox("instance").option("value"));
                var Txt_Amount = parseFloat($("#FD_Txt_Amount").dxNumberBox("instance").option("value"));
                $("#FD_TXT_INTEREST").dxNumberBox("instance").option("value", (rec_amount - Txt_Amount));
            }
            TXT_NRC_DATE_EditValueChanged(null, FirstCall);
        }
    }
    function TXT_REC_AMOUNT_EditValueChanged(e,FirstCall=false)
    {
        var GLookUp_FD_ListView = $("#GLookUp_FD_List").dxDropDownBox("instance").option("value");
        var TXT_REC_AMOUNT = parseFloat($("#FD_TXT_REC_AMOUNT").dxNumberBox("instance").option("value"));
        var Amount = parseFloat($("#FD_Txt_Amount").dxNumberBox("instance").option("value"));
        var Txt_Amount = parseFloat(Amount.toFixed(2));
        var Cmb_Rec_Mode = $("#FD_Cmb_Rec_Mode").dxSelectBox("instance").option("value");
        Cmb_Rec_Mode = Cmb_Rec_Mode == null ? "" : Cmb_Rec_Mode;
        var TXT_RENEWAL_MATURITY_AMOUNT = parseFloat($("#FD_TXT_RENEWAL_MATURITY_AMOUNT").dxNumberBox("instance").option("value"));
        if (GLookUp_FD_ListView != null && GLookUp_FD_ListView.length > 0 )
        {
            TXT_REC_AMOUNT = parseFloat((TXT_REC_AMOUNT.toFixed(2)).toString());
            $("#FD_TXT_INTEREST").dxNumberBox("instance").option("value", (TXT_REC_AMOUNT - Txt_Amount));           
        }
        if ("@Model.iAction" != "Renew_FD")
        {
            return;
        }
        if (Cmb_Rec_Mode.toUpperCase() != "CASH")
        {
            Fieldset_SetDisable("PanelControl3", true);
            $("#lbl_Ref_Bank").removeClass("text-red").addClass("disabletxt");
            $("#lbl_Ref_No").removeClass("text-red").addClass("disabletxt");
            $("#lbl_Ref_Date").removeClass("text-red").addClass("disabletxt");
        }     
        TXT_REC_AMOUNT = isNaN(TXT_REC_AMOUNT) ? 0 : TXT_REC_AMOUNT;
        TXT_RENEWAL_MATURITY_AMOUNT = isNaN(TXT_RENEWAL_MATURITY_AMOUNT) ? 0 : TXT_RENEWAL_MATURITY_AMOUNT;
        if (TXT_REC_AMOUNT-TXT_RENEWAL_MATURITY_AMOUNT !=0) {
            if (Cmb_Rec_Mode.toUpperCase() != "CASH") {
                FD_Bank_ReadOnly = false;            
                FD_Bank_Enabled = true;
                Control_SetReadOnly("FD_GLookUp_BankList", "dxDropDownBox", !(FD_Bank_Enabled == true && FD_Bank_ReadOnly==false));
                Fieldset_SetDisable("PanelControl3", false);
                $("#lbl_Ref_Bank").addClass("text-red").removeClass("disabletxt");
                if (Cmb_Rec_Mode.toUpperCase() != "BANK ACCOUNT") {
                    $("#lbl_Ref_No").addClass("text-red").removeClass("disabletxt");
                    $("#lbl_Ref_Date").addClass("text-red").removeClass("disabletxt");
                }
                else {
                    $("#lbl_Ref_No").removeClass("text-red").removeClass("disabletxt");
                    $("#lbl_Ref_Date").removeClass("text-red").addClass("disabletxt");
                }
            }
            $("#lblReceiptMode").addClass("text-red").removeClass("disabletxt");
            Control_SetReadOnly("FD_Cmb_Rec_Mode", "dxSelectBox", false);
            if (TXT_RENEWAL_MATURITY_AMOUNT - TXT_REC_AMOUNT >0) {
                $("#lblReceiptMode").text("Pay Mode:");
                $("#lbl_Ref_Title").text("Saving Bank Details:");
            }
            else {
                $("#lblReceiptMode").text("Receipt Mode:");
                if (Cmb_Rec_Mode.toUpperCase() == "CHEQUE") {
                    $("#lbl_Ref_Title").text("Saving Bank Details:");
                }
                else if (Cmb_Rec_Mode.toUpperCase() == "DD") {
                    $("#lbl_Ref_Title").text("Saving Bank Details:");
                }
                else if (Cmb_Rec_Mode.toUpperCase() == "BANK ACCOUNT") {
                    $("#lbl_Ref_Title").text("Saving Bank Details:");
                }
            }
        }
        else
        {
            $("#lblReceiptMode").removeClass("text-red").addClass("disabletxt");
            Control_SetReadOnly("FD_Cmb_Rec_Mode", "dxSelectBox", true, "#696969");
            if (e)
            {
                if ($("#FD_Cmb_Rec_Mode").dxSelectBox("option", "value") == null)
                {
                    $("#FD_Cmb_Rec_Mode").dxSelectBox("option", "value", "BANK ACCOUNT");
                }
            }
        }
    }
    function TXT_NRC_DATE_EditValueChanged(e,FirstCall=false)
    {
        var TXT_NRC_DATE = $("#FD_TXT_NRC_DATE").dxDateBox("instance").option("value");
        if (TXT_NRC_DATE == null)
        {
            TXT_NRC_DATE = new Date(0001, 0, 1, 0, 0, 0);
        }
        var GLookUp_FD_ListView = $("#GLookUp_FD_List").dxDropDownBox("instance").option("value");
        var MaturityDate = new Date($("#FD_MaturityDate").val());       
        if (TXT_NRC_DATE != null && GLookUp_FD_ListView != null && GLookUp_FD_ListView.length > 0)
        {
            if ("@Model.iAction" == "Renew_FD")
            {
                if (MaturityDate > TXT_NRC_DATE)
                {
                    $("#FD_TXT_FD_ACT").dxTextBox("instance").option("value", "Pre-Mature Renewal");
                }
                else
                {
                    $("#FD_TXT_FD_ACT").dxTextBox("instance").option("value", "Renewal On Maturity");
                }
            }
            else if ("@Model.iAction" == "Close_FD")
            {
                if (MaturityDate > TXT_NRC_DATE)
                {
                    $("#FD_TXT_FD_ACT").dxTextBox("instance").option("value", "Pre-Mature Closure");
                }
                else
                {
                    $("#FD_TXT_FD_ACT").dxTextBox("instance").option("value", "Closure On Maturity");
                }
            }
        }
    }
    function Txt_V_Date_EditValueChanged_FD(e,FirstCall=false)
    {
        var v_date;
        if (e) {
            v_date = e.value;
        }
        else
        {
            v_date = $("#FD_Txt_V_Date").dxDateBox("instance").option("value");
        }
        if ("@Model.iAction" == "Close_FD" || "@Model.iAction" == "Renew_FD" || "@Model.iAction" == "New_FD")
        {    
            $("#FD_TXT_NRC_DATE").dxDateBox("instance").option("value", v_date);
            Control_SetReadOnly("FD_TXT_NRC_DATE", "dxDateBox", true, "#696969");
            if ("@Model.ActionMethod" != "_Delete" && "@Model.ActionMethod" != "_View")
            {
                $("#FD_TXT_NRC_DATE").removeClass("input-read-only");
            }
        }
    }
    async function Cmd_Mode_SelectedIndexChanged(e, FirstCall = false, Cmb_Rec_Mode=false)
    {
       try
       {
           var CMB;
           if (e)
           {
               CMB = e.value != null ? e.value.toUpperCase() : null;
           }
           else
           {
               if (Cmb_Rec_Mode) {
                   CMB = $("#FD_Cmb_Rec_Mode").dxSelectBox("instance").option("value");
               }
               else
               {
                   CMB = $("#FD_Cmd_Mode").dxSelectBox("instance").option("value");
               }
           }
           FD_CMD_Mode = CMB;
           if (CMB != null && CMB.length>0)
           {
               if (CMB == "CASH")
               {
                   Fieldset_SetDisable("PanelControl3", true);
                   if ($("#Cnt_BankAccount").val() > 1)
                   {
                       if (FirstCall == false)
                       {
                           $("#FD_GLookUp_BankList").dxDropDownBox("instance").reset();
                       }
                   }
                   else
                   {
                       $("#FD_GLookUp_BankList").find('input').css("color", "#696969");                       
                   }
                   if (FirstCall == false) {
                       $("#FD_GLookUp_BankList").dxDropDownBox("instance").reset();
                       $("#FD_Txt_Ref_No").dxTextBox("instance").reset();
                       $("#FD_Txt_Ref_Date").dxDateBox("instance").reset();
                       $("#FD_Txt_Ref_CDate").dxDateBox("instance").reset();
                       $("#FD_Txt_AccountNo").dxTextBox("instance").reset();
                       $("#FD_Txt_Branch").dxTextBox("instance").reset();
                   }
                   $("#lbl_Branch").addClass("disabletxt").removeClass("text-red");
                   $("#lbl_Account_No").addClass("disabletxt").removeClass("text-red");
                   $("#lbl_Ref_Bank").addClass("disabletxt").removeClass("text-red");
                   $("#lbl_Ref_Title").addClass("disabletxt").removeClass("text-red");
                   $("#lbl_Ref_No").addClass("disabletxt").removeClass("text-red");
                   $("#lbl_Ref_Date").addClass("disabletxt").removeClass("text-red");
                   $("#lbl_Ref_Cdate").addClass("disabletxt").removeClass("text-red");
                   $("#lbl_Ref_Title").text("Reference Detail:");
                   $("#lbl_Ref_No").text("Ref. No.:");
                   $("#FD_Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type No...");
                   $("#lbl_Ref_Date").text("Date:");
                   $("#lbl_Ref_Cdate").text("Clearing Date:");
                   FD_Bank_Enabled = false;                  
                   Control_SetReadOnly("FD_GLookUp_BankList", "dxDropDownBox", !(FD_Bank_Enabled == true && FD_Bank_ReadOnly == false))
               }
               else {
                   Fieldset_SetDisable("PanelControl3", false);
                   if ($("#Cnt_BankAccount").val() > 1) {
                       if (FirstCall == false) {
                           $("#FD_GLookUp_BankList").dxDropDownBox("instance").reset();
                       }
                   }
                   else {
                       $("#FD_GLookUp_BankList").find('input').css("color", "#000080");
                   }
                   if (FirstCall == false) {
                       $("#FD_GLookUp_BankList").dxDropDownBox("instance").reset();
                       $("#FD_Txt_Ref_No").dxTextBox("instance").reset();
                       $("#FD_Txt_Ref_Date").dxDateBox("instance").reset();
                       $("#FD_Txt_Ref_CDate").dxDateBox("instance").reset();
                       $("#FD_Txt_AccountNo").dxTextBox("instance").reset();
                       $("#FD_Txt_Branch").dxTextBox("instance").reset();
                   }
                   $("#lbl_Branch").removeClass("disabletxt").removeClass("text-red");
                   $("#lbl_Account_No").removeClass("disabletxt").removeClass("text-red");
                   $("#lbl_Ref_Bank").removeClass("disabletxt").addClass("text-red");
                   $("#lbl_Ref_Title").removeClass("disabletxt").removeClass("text-red");
                   $("#lbl_Ref_No").removeClass("disabletxt").addClass("text-red");
                   $("#lbl_Ref_Date").removeClass("disabletxt").addClass("text-red");
                   $("#lbl_Ref_Cdate").removeClass("disabletxt").removeClass("text-red");
                   Control_SetReadOnly("FD_Txt_Ref_No", "dxTextBox", false);
                   Control_SetReadOnly("FD_Txt_Ref_Date", "dxDateBox", false);
                   Control_SetReadOnly("FD_Txt_Ref_CDate", "dxDateBox", false);
                   var TXT_REC_AMOUNT = parseFloat($("#FD_TXT_REC_AMOUNT").dxNumberBox("instance").option("value"));
                   var TXT_RENEWAL_MATURITY_AMOUNT = parseFloat($("#FD_TXT_RENEWAL_MATURITY_AMOUNT").dxNumberBox("instance").option("value"));
                   if ((TXT_REC_AMOUNT > TXT_RENEWAL_MATURITY_AMOUNT) || "@Model.iAction" == "Close_FD") {
                       if (CMB == "CHEQUE") {
                           $("#lbl_Ref_Title").text("Saving Bank Detail:");
                           $("#lbl_Ref_No").text("Cheque No.:");
                           $("#FD_Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type Cheque No...");
                           $("#lbl_Ref_Date").text("Cheque Date:");
                           $("#lbl_Ref_Cdate").text("Clearing Date:");
                       }
                       if (CMB == "DD") {
                           $("#lbl_Ref_Title").text("Saving Bank Detail:");
                           $("#lbl_Ref_No").text("D.D. No.:");
                           $("#FD_Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type D.D. No...");
                           $("#lbl_Ref_Date").text("D.D. Date:");
                           $("#lbl_Ref_Cdate").text("Clearing Date:");
                       }
                       if (CMB == "BANK ACCOUNT") {
                           $("#lbl_Ref_Title").text("Saving Bank Detail:");
                           Control_SetReadOnly("FD_Txt_Ref_Date", "dxDateBox", true, "#696969");
                           Control_SetReadOnly("FD_Txt_Ref_CDate", "dxDateBox", true, "#696969");
                           $("#lbl_Ref_No").removeClass("disabletxt").removeClass("text-red");
                           $("#lbl_Ref_No").text("Ref No.:");
                           $("#FD_Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type No...");
                           $("#lbl_Ref_Date").addClass("disabletxt").removeClass("text-red");
                           $("#lbl_Ref_Date").text("Date:");
                           $("#lbl_Ref_Cdate").addClass("disabletxt").removeClass("text-red");
                           $("#lbl_Ref_Cdate").text("Clearing Date:");
                       }
                   }
                   else {
                       if (CMB == "CHEQUE") {
                           $("#lbl_Ref_Title").text("Saving Bank Detail:");
                           $("#lbl_Ref_No").text("Cheque No.:");
                           $("#FD_Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type Cheque No...");
                           $("#lbl_Ref_Date").text("Cheque Date:");
                           $("#lbl_Ref_Cdate").text("Clearing Date:");
                       }
                       if (CMB == "DD") {
                           $("#lbl_Ref_Title").text("Saving Bank Detail:");
                           $("#lbl_Ref_No").text("D.D. No.:");
                           $("#FD_Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type D.D. No...");
                           $("#lbl_Ref_Date").text("D.D. Date:");
                           $("#lbl_Ref_Cdate").text("Clearing Date:");
                       }
                       if (CMB == "BANK ACCOUNT") {
                           $("#lbl_Ref_Title").text("Saving Bank Detail:");
                           Control_SetReadOnly("FD_Txt_Ref_Date", "dxDateBox", true, "#696969");
                           Control_SetReadOnly("FD_Txt_Ref_CDate", "dxDateBox", true, "#696969");
                           $("#lbl_Ref_No").removeClass("disabletxt").removeClass("text-red");
                           $("#lbl_Ref_No").text("Ref No.:");
                           $("#FD_Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type No...");
                           $("#lbl_Ref_Date").addClass("disabletxt").removeClass("text-red");
                           $("#lbl_Ref_Date").text("Date:");
                           $("#lbl_Ref_Cdate").addClass("disabletxt").removeClass("text-red");
                           $("#lbl_Ref_Cdate").text("Clearing Date:");
                       }
                   }
                   await LookUp_GetBankList_FD(true); //no need to refresh dd as bank data already there
                   FD_Bank_Enabled = true;
                   FD_Bank_ReadOnly = false;
                   Control_SetReadOnly("FD_GLookUp_BankList", "dxDropDownBox", !(FD_Bank_Enabled == true && FD_Bank_ReadOnly == false));                  
                   var DG_items = GetDataSourceItems("FD_GLookUp_BankList", "dxDropDownBox")
                   if (DG_items.length == 1)
                   {
                       if ("@Model.ActionMethod" != "_View")// Redmine Bug #133871 fixed
                       {
                           await FD_DepBank_DataGrid.selectRows(DG_items[0].BA_ID);
                       }
                   }
                   if (CMB == "CHEQUE" || CMB == "DD") {//Redmine Bug #133753 fixed
                       $("#FD_Txt_Ref_No").dxTextBox("instance").option("maxLength", 8);
                       $("#FD_Txt_Ref_No").find("input").addClass("OnlyDigit");
                   }
                   else {
                       $("#FD_Txt_Ref_No").dxTextBox("instance").option("maxLength", 25);
                       $("#FD_Txt_Ref_No").find("input").removeClass("OnlyDigit");
                   }
               }
               FD_cmdmode_validations(CMB);
           }
       }
       catch (ex)
       {
           console.log(ex);
       }
    }    
    function TXT_NRC_DATE_Click()
    {        
        if ($("#FD_TXT_NRC_DATE").dxDateBox("instance").option("readOnly") == true)
        {           
            $("#FD_TXT_NRC_DATE").dxDateBox("instance").close();
            var alert = DevExpress.ui.dialog.alert("Please change voucher date to change this date!", "Direct Change Not Allowed..!!");
            alert.done(function (result) { if (result) { $("#FD_TXT_NRC_DATE").dxDateBox("instance").focus(); } });
        }
    }
    //FCRA Related
    function OnSplVchrRefsListSelectionChanged_FD(e) {
        var listBox = $("#ListSpecialVoucherRef_FD").dxList("instance");
        var selecteditemkey = listBox.option("selectedItemKeys")
        if (selecteditemkey != null && selecteditemkey.length > 0) {
            $("#FD_SplVchrReferenceSelected").val(selecteditemkey.join(","));
        }
        else {
            $("#FD_SplVchrReferenceSelected").val("");
        }
    }// List selection
</script>@*Value Change Functions*@
<script>

    async function FDVoucherSave(e)
    {
        FD_PopupCloseConfirmation = false;
        var GetDialogResult = true;//Redmine bug 132869 fixed
        if ($("#FD_GLookUp_BankList").dxDropDownBox("instance").option("readOnly") || $("#FD_GLookUp_BankList").dxDropDownBox("instance").option("disabled") || $("#PanelControl3").prop("disabled"))
        {
            $("#GLookUp_BankListEnabled").val(false);
        }
        else
        {
            $("#GLookUp_BankListEnabled").val(true);
        }
        var form = $("#id_Frm_Voucher_Win_FD");
        if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
        {
            $("#xMID").val(createGuid());
        }
        if (ValidateForm(e))
        {
            if (e.component.option("text") == "Delete")
            {
                DeleteAfterConfirmation("Confirm", "", form);
            }
            else
            {
                if ("@Model.FDiAction" == "Renew_FD")
                {
                    if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection" || "@Model.ActionMethod" == "_Edit")
                    {
                        if ($("#FD_TXT_RENEWAL_MATURITY_AMOUNT").dxNumberBox("instance").option("value") < $("#FD_Txt_Amount").dxNumberBox("instance").option("value"))
                        {
                            var Maturity_Date = new Date($("#FD_MaturityDate").val());
                            var Renewal_Date = $("#FD_TXT_NRC_DATE").dxDateBox("instance").option("value");
                            if (Maturity_Date <= Renewal_Date)
                            {
                                var renew_result = DevExpress.ui.dialog.confirm('Renewal amount is less than F.D. Amount...!<br>Are you sure you want to Save...?', "Confirm");
                                await renew_result.done(function (dialogResult)
                                {
                                    if (!dialogResult)
                                    {
                                        GetDialogResult = false;//Redmine bug 132869 fixed
                                        $("#FD_TXT_RENEWAL_MATURITY_AMOUNT").dxNumberBox("instance").focus();
                                        return;
                                    }
                                });
                            }
                        }
                        if (GetDialogResult == true)
                        {
                            if ($("#FD_MaturityAmt").val() < $("#FD_TXT_REC_AMOUNT").dxNumberBox("instance").option("value"))
                            {
                                var Maturity_Date = new Date($("#FD_MaturityDate").val());
                                var Renewal_Date = $("#FD_TXT_NRC_DATE").dxDateBox("instance").option("value");
                                if (Maturity_Date < Renewal_Date)
                                {
                                    var renew_result = DevExpress.ui.dialog.confirm('Received amount should not be greater than Maturity Amount...!<br>Are you sure you want to Save...?', "Confirm");
                                    await renew_result.done(function (dialogResult)
                                    {
                                        if (!dialogResult)
                                        {
                                            GetDialogResult = false;//Redmine bug 132869 fixed
                                            $("#FD_TXT_RENEWAL_MATURITY_AMOUNT").dxNumberBox("instance").focus();
                                            return;
                                        }
                                    });
                                }
                            }
                        }
                    }
                }
                else if ("@Model.FDiAction" == "Close_FD")//Redmine bug 132800 fixed
                {
                    if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection" || "@Model.ActionMethod" == "_Edit")
                    {
                        if ($("#FD_Txt_Amount").dxNumberBox("instance").option("value") > $("#FD_TXT_REC_AMOUNT").dxNumberBox("instance").option("value"))
                        {

                            var Maturity_Date = new Date($("#FD_MaturityDate").val());
                            var Renewal_Date = $("#FD_TXT_NRC_DATE").dxDateBox("instance").option("value");

                            if (Renewal_Date >= Maturity_Date)//Redmine bug 132800 fixed
                            {
                                var renew_result = DevExpress.ui.dialog.confirm('Received Amount cannot be less than F.D. Amount on Maturity...!<br>Are you sure you want to Save...?', "Confirm");
                                await renew_result.done(function (dialogResult)
                                {
                                    if (dialogResult == false)
                                    {
                                        GetDialogResult = false;
                                        $("#FD_TXT_REC_AMOUNT").dxNumberBox("instance").focus();
                                        return;
                                    }
                                });
                            }
                        }

                    }
                }
                if (GetDialogResult == true)//Redmine bug 132869 fixed
                {
                    ShowLoader();
                    form.submit();
                }
            }
        }
    }
    var FDVoucher_GridToRefresh = "@ViewBag.GridToRefresh";
    function AjaxSuccessVoucherWinFD(data)
    {
        HideLoader();
        if (data.jsonParam == void 0)
        {
            var PopupTitle = "@Model.ActionMethod".startsWith("_New") ? "New" : "@Model.ActionMethod".substring(1);
            OpenPopup("Frm_Voucher_FD_popup", PopupTitle + " ~ Fixed Deposit (F.D.)", null, "auto", 700, true, data);
        }
        else if (data.jsonParam.result == false)
        {
            if (data.jsonParam.closeform)
            {
                dontaskpopupcloseconfirmation = true;
                $("#Dynamic_Content_popup").dxPopup("hide");
            }
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.refreshgrid == true)
                    {
                        RefreshGridView(FDVoucher_GridToRefresh);
                    }
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result == true)
        {     
            var _ActiveTab_ID = $(".TabPanalMenu-tabs .active").attr("id");
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (result)
            {
                if (result)
                {
                    if (FDVoucher_GridToRefresh != "CashBookListGrid")
                    {
                        RefreshGridView(FDVoucher_GridToRefresh);
                    }
                    if (/*typeof CashBookListGrid !== 'undefined'*/ _ActiveTab_ID == "contact_Frm_Voucher_Info_CB")
                    {
                        AfterVoucherClose_CB($("#FD_Txt_V_Date").dxDateBox("instance").option("value"), "@Model.ActionMethod", IsUndefinedOrNull(data.CashbookGridPK) ? "" : data.CashbookGridPK);
                    }
                    else if (_ActiveTab_ID == "contact_Frm_Voucher_Info")
                    {
                        AfterVoucherClose_VoucherEntry();
                    }
                    dontaskpopupcloseconfirmation = true;
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
            });
        }
    }
    function Frm_Voucher_FD_popup_Hiding(e)
    {
        FDwindow_DepBank_DataGrid = null;
        ClearAllReferences("FDWindow_ClearReferences");
        e.component.content()[0].innerHTML = "";
    }
</script>@*Save Functions*@
<script>
    function refdatechange(e)
    {
        clearingdatecheck(FD_CMD_Mode==null?"":FD_CMD_Mode.toLowerCase());
    }
    function clearingdatecheck(cmode)
    {
        var refcdate = $("#FD_Txt_Ref_CDate").dxDateBox("instance").option('value');
        if (refcdate) {
            $("#FD_Txt_Ref_CDate").dxDateBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'compare',
                        comparisonTarget: function () {
                            var date = $("#FD_Txt_Ref_Date").dxDateBox("instance");
                            if (date) {
                                return date.option("value");
                            }
                        },
                        comparisonType: ">=",@* Redmine Bug #133701 fixed *@
                        message: "clearing date cannot be less than " + cmode + " date",
                        ignoreEmptyValue: true,
                        reevaluate:true,
                    }],
                    validationGroup: "FD_Voucher"
                });
        }
        else {
            $("#FD_Txt_Ref_CDate").dxDateBox({})
                .dxValidator({});
        }
    }
    function FD_cmdmode_validations(FD_Cmd_Mode) {
        $("#FD_Txt_Ref_No").dxTextBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (FD_Cmd_Mode == "CHEQUE" || FD_Cmd_Mode == "DD") {
                            var reg = /^[0-9]{6,8}$/;
                            if (!(reg.test(options.value))) {
                                result = false
                            }
                        }
                        return result;
                    },
                    reevaluate: true,
                    message: 'Invalid Format(Need To Be Of Min 6 Digits And Max 8 Digits)'
                }],
                validationGroup: "FD_Voucher"
            });
    }
    $(function () {
        $("#PurposeID_FD").dxSelectBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if ("@Model.ActionMethod" == "_New" ||"@Model.ActionMethod" == "_New_From_Selection"||"@Model.ActionMethod" == "_Edit") {

                            if (options.value == "" || options.value ==null) {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: " Purpose Cannot Be Blank..!!"
                }],
                validationGroup: "FD_Voucher"
            });//redmine Bug #133286 fix
        $("#FD_Txt_V_Date").dxDateBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        return result;
                    }
                }],
                validationGroup: "FD_Voucher"
            }); @* Redmine Bug #133256 Fix *@
    });
    function BTN_FD_DET_Click()
    {
        if ("@FDVoucher_ViewRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        var FDID=null;
        if (($("#GLookUp_FD_List").dxDropDownBox("instance").option("value") != null && ($("#GLookUp_FD_List").dxDropDownBox("instance").option("value")).length != 0))
        {
            FDID = $("#GLookUp_FD_List").dxDropDownBox("instance").option("value");
        }
        else
        {
            if ("@Model.ActionMethod" == "_View" || "@Model.ActionMethod" == "_Delete")
            {
                FDID = "@Model.GLookUp_FD_List";
            }
        }
        if (FDID == null || FDID.length==0)
        {
            var alert = DevExpress.ui.dialog.alert("FD Not Selected...", "Error..");//Redmine Bug #134206 fix
            alert.done(function (result)
            {
                if (result)
                {
                    $("#GLookUp_FD_List").dxDropDownBox("instance").focus();
                }
            });
            return;
        }
        ShowLoader();
        $.ajax({
            type: 'POST',
            url: "/Account/FDVoucher/Frm_FD_Window",
            data:
            {
                xFdID: FDID,
                TempActionMethod: "_View",
                Popup_id:"Frm_Voucher_FD_popup"
            },
            cache: false,
            success:
                function (data)
                {
                      OpenPopup("Frm_Voucher_FD_popup", ("@Model.ActionMethod".substring(1)) + " ~ Fixed Deposit (F.D.)", null, "auto", 700, true, data);
                }
        });
    }
</script>@* Misc *@
</div>
