@using DevExtreme.AspNet.Mvc;
@using Common_Lib;
@model ConnectOneMVC.Areas.Stock.Models.Model_Store_Dept_Master
@{
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "View" || Model.ActionMethod.ToString().Trim() == "Delete") ? true : false;
    bool Dept_Store_AddPersonnelRights = (bool)ViewData["Dept_Store_AddPersonnelRight"];
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .wdfull {
        width: 100%;
    }

    td {
        width: auto;
    }

    .width1200px {
        width: 1200px;
    }

    .margT12 {
        margin-top: 12px !important;
    }

    .margB3 {
        margin-bottom: 3px !important;
    }

    .margB22 {
        margin-bottom: 22px !important;
    }


    .fs22 {
        font-size: 22px !important;
    }

    .checkboxmarg {
        margin: 2px 0px !important;
    }

        .checkboxmarg label {
            line-height: 20px !important;
        }

    .control-label {
        text-align: left !important;
    }

    .dx-state-disabled .dx-texteditor-input {
        color: darkgoldenrod;
    }

    .dx-texteditor-container {
        overflow: visible
    }

    #storemasternew_Save > div,
    #storemaster_SavenewCancle > div,
    #StoreMasterCancelbtn > div,
    #storemaster_delete > div,
    #storemaster_deleteCancle > div {
        padding: 0 8px 0 22px !important;
    }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<div id="Frm_Store_Dept_Master_Window_Content">
    @using (Ajax.BeginForm("Frm_Store_Dept_Master_Window", "Store_Dept_Master",
               new AjaxOptions
               {
                   HttpMethod = "POST",
                   UpdateTargetId = "Frm_Store_Dept_Master_Window_Content",
                   InsertionMode = InsertionMode.InsertAfter,
                   OnBegin = "AjaxBeginFormPost",
                   OnSuccess = String.Format("{0}", Model.PostSuccessFunction)
               },
               new
               {
                   id = "Store_Dept_MastervalidationForm",
                   @class = "edit_form"
               }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.Store_MappedLocations)
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.PostSuccessFunction)
        @Html.HiddenFor(x => x.PopupName)
        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();
        using (Html.DevExtreme().ValidationGroup("Stock_StoreDept"))
        {
            <div class="full-width-header-bg2">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Store/Main Dept./Sub Dept. Details</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align">
                            <i class="fas fa-info-circle"></i> Red Fields are mandatory
                        </h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div>
            </div> @*[Header]*@@*Mantis bug 1121 resolved*@
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                        @Html.LabelFor(model => model.Store_Dept_Name, htmlAttributes: new { @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">

                                                @(Html.DevExtreme().TextBoxFor(x => x.Store_Dept_Name).CustomTextBox().ID("Store_Dept_Name").Name("Store_Dept_Name").Placeholder("Enter Name of store / dept.")
                                                                                                                           .InputAttr("class", "dx-texteditor-input").MaxLength(255).ReadOnly(IsVisible).Disabled(IsVisible))

                                                @Html.ValidationMessageFor(model => model.Store_Dept_Name, "", new { @class = "text-red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Store Name]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                        @Html.LabelFor(model => model.Store_Category, htmlAttributes: new { @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Store_Category").Name("Store_Category").DataSource(new[] { "Store", "Main Dept.", "Sub Dept." }).Placeholder("Select Category").ReadOnly(IsVisible).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).OnValueChanged("oncategorychanged").OnInitialized("oncategoryinitialised"))
                                                @Html.ValidationMessageFor(model => model.Store_Category, "", new { @class = "text-red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Category]-->
                </div>
            </div><!--[row 1]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                        @Html.LabelFor(model => model.Store_Main_DeptID, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Store_Main_DeptID").Name("Store_Main_DeptID").DisplayExpr("Name").ValueExpr("ID").DataSource(d => d.Mvc().Controller("Store_Dept_Master").LoadAction("LookUp_GetConnMain_Depts").Key("ID")).DropDownOptions(s => s.Width(650).ResizeEnabled(true).Height(300))
                                                                                                      .Placeholder("Select").ReadOnly(IsVisible).Disabled(IsVisible).OnValueChanged("OnConnMain_DeptChanged").OnInitialized("OnConnMainDeptLoad").InputAttr("class", "dx-texteditor-input").ContentTemplate(@<Text> @Html.Partial("LookUp_GetConnMain_Depts") </Text>))

                                                @Html.ValidationMessageFor(model => model.Store_Main_DeptID, "", new { @class = "text-red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                        @(Html.DevExtreme().Button().ID("StoreAddDept").Text("Add Dept").Disabled(IsVisible).OnClick(@<text> function () { Store_Add_Dept_Click() } </text>) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Main Dept]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                        @Html.LabelFor(model => model.Store_Sub_DeptID, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 prm">
                                        @*Mantis bug 0000407 fixed*@
                                        <div class="dx-texteditor dx-widget  dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Store_Sub_DeptID").Name("Store_Sub_DeptID").DisplayExpr("Name").ValueExpr("ID").DataSource(d => d.Mvc().Controller("Store_Dept_Master").LoadAction("LookUp_GetConnSub_Depts").Key("ID").LoadParams(new { MainDeptID = new JS("function (){ return Store_ReqConnMainDeptID;}") })).Placeholder("Select").ReadOnly(IsVisible).Disabled(IsVisible)
                                                                      .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).OnInitialized("OnConnSub_DeptInit").OnValueChanged("OnConnSub_DeptChanged").ContentTemplate(@<text> @Html.Partial("LookUp_GetConnSub_Depts") </text>).DropDownOptions(s => s.Width(650).ResizeEnabled(true).Height(300)))
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                        @*Mantis bug 0000407 fixed*@
                                        @(Html.DevExtreme().Button().ID("AddSubDept").Text("Add Dept").Disabled(IsVisible).OnClick(@<text> function () { Store_Add_Sub_Dept_Click() } </text>) )

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Sub Department]-->
                </div>
            </div><!--[row 2]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                        @Html.LabelFor(model => model.Store_Registeration_No, htmlAttributes: new { @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBoxFor(x => x.Store_Registeration_No).CustomTextBox().ID("Store_Registeration_No").Name("Store_Registeration_No").Placeholder("").InputAttr("class", "dx-texteditor-input").Placeholder("Enter Registration No. / Store No.").MaxLength(50).ReadOnly(IsVisible).Disabled(IsVisible))

                                                @Html.ValidationMessageFor(model => model.Store_Registeration_No, "", new { @class = "text-red" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Registration]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                        <label class="control-label " for="user" id="lblStoreDept">In-Charge Name:</label>
                                        @*@Html.LabelFor(model => model.Store_InchargeID, htmlAttributes: new { @class = "control-label text-red" })*@
                                    </div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Store_InchargeID").Name("Store_InchargeID").DisplayExpr("Name").ValueExpr("ID").DataSource(d => d.Mvc().Controller("Store_Dept_Master").LoadAction("LookUp_Dept_Incharge").Key("ID").LoadParams(new { MainDeptID = new JS("function (){ return InchargeNameParameter();}"), DD_Refresh = new JS("function() { return Is_DD_Refresh; }") })).DropDownOptions(s => s.Width(650).ResizeEnabled(true).Height(300))
                                                                                                              .Placeholder("Select").OnInitialized("OnStoreIncharge_Init").ReadOnly(IsVisible).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).OnValueChanged("OnDept_InchargeChanged").ContentTemplate(@<text> @Html.Partial("LookUp_Dept_Incharge") </text>) )@*//Mantis bug 0000298 fixed*@
                                                                                                            @Html.ValidationMessageFor(model => model.Store_InchargeID, "", new { @class = "text-red " })

                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                                                                                    @(Html.DevExtreme().Button().ID("Store_AddPersonnel").Disabled(IsVisible).Text("Add Personnel").Disabled(IsVisible).OnClick(@<text> function () { Store_Add_Personnel_Click(); }    </text>))

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div><!--[Incharge]-->
                                                                            </div>
                                                                        </div><!--[row 3]-->
                                                                        <div class="row">
                                                                            <div class="">
                                                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                                                    <div class="form-field">
                                                                                        <div class="container-fluid">
                                                                                            <div class="row">
                                                                                                <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                                                                                    @Html.LabelFor(model => model.Store_ContactPersonID, htmlAttributes: new { @class = "control-label" })
                                                                                                </div>
                                                                                                <div class="col-sm-5 col-md-5 col-lg-5 prm">
                                                                                                    <div class="dx-texteditor  dx-widget dx-textbox">
                                                                                                        <div class="dx-texteditor-container">
                                                                                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Store_ContactPersonID").Name("Store_ContactPersonID").Value(Model.Store_ContactPersonID).DisplayExpr("Name").ValueExpr("ID").DataSource(d => d.Mvc().Controller("Store_Dept_Master").LoadAction("LookUp_Dept_Contact").Key("ID").LoadParams(new { MainDeptID = new JS("function (){return InchargeNameParameter();}") }))
                                                                                                                                                                                  .Width(300).Placeholder("Person Details").ShowClearButton(true).Disabled(IsVisible).OnInitialized("OnContactPerson_init").DropDownOptions(s => s.Width(650).ResizeEnabled(true).Height(300))
                                                                                                                                                                                 .ReadOnly(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).OnValueChanged("OnDept_ContactChanged").ContentTemplate(@<text> @Html.Partial("LookUp_Dept_Contact") </text>))@*//Mantis bug 0000298 fixed*@@*Mantis bug 0000407 fixed*@
                                                                                                                                                                                @Html.ValidationMessageFor(model => model.Store_ContactPersonID, "", new { @class = "text-red" })
                                                                                                                                                                            </div>
                                                                                                                                                                        </div>
                                                                                                                                                                    </div>
                                                                                                                                                                    <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                                                                                                                                                        @(Html.DevExtreme().Button().ID("StoreAddPerson").Disabled(IsVisible).Text("Add Personnel").OnClick(@<text> function () { Store_Add_Person_Click() } </text>))
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div><!--[Contact Person]-->
                                                                                                                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                                                                                                                        <div class="form-field">
                                                                                                                                                            <div class="container-fluid">
                                                                                                                                                                <div class="row">
                                                                                                                                                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                                                                                                                                                        @Html.LabelFor(model => model.Store_Contact_No, htmlAttributes: new { @class = "control-label" })
                                                                                                                                                                    </div>
                                                                                                                                                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                                                                                                                                                        <div class="dx-texteditor dx-state-disabled  dx-widget dx-textbox">
                                                                                                                                                                            <div class="dx-texteditor-container">
                                                                                                                                                                                @(Html.DevExtreme().TextBoxFor(model => model.Store_Contact_No).CustomTextBox().ID("Store_Contact_No").Value(Model.Store_Contact_No).Name("Store_Contact_No").Placeholder("Autofilled").InputAttr("class", "dx-texteditor-input").ReadOnly(true).Disabled(IsVisible))
                                                                                                                                                                                @* @Html.ValidationMessageFor(model => model.Store_Contact_No, "", new { @class = "text-red" })*@

                                                                                                                                                                            </div>
                                                                                                                                                                        </div>
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div><!--[Contact No.]-->
                                                                                                                                                </div>
                                                                                                                                            </div><!--[row 4]-->
                                                                                                                                            <div class="row">
                                                                                                                                                <div class="">
                                                                                                                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                                                                                                                        <div class="form-field">
                                                                                                                                                            <div class="container-fluid">
                                                                                                                                                                <div class="row">
                                                                                                                                                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                                                                                                                                                        @Html.LabelFor(model => model.Store_PremesisType, htmlAttributes: new { @class = "control-label text-red" })

                                                                                                                                                                    </div>
                                                                                                                                                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                                                                                                                                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                                                                                                                                                            <div class="dx-texteditor-container">
                                                                                                                                                                                @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Store_PremesisType").Name("Store_PremesisType").DataSource(new[] { "Property", "Service Place" }).Placeholder("Property/Service Place").Value(Model.Store_PremesisType).ReadOnly(IsVisible).OnValueChanged("OnPremisesTypeChange")
                                                                                                                                                                                                                                      .Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).OnInitialized("OnPremisesTypeLoad"))
                                                                                                                                                                                @Html.ValidationMessageFor(model => model.Store_PremesisType, "", new { @class = "text-red" })

                                                                                                                                                                            </div>
                                                                                                                                                                        </div>
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div><!--[Premises Type]-->
                                                                                                                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                                                                                                                        <div class="form-field">
                                                                                                                                                            <div class="container-fluid">
                                                                                                                                                                <div class="row">
                                                                                                                                                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                                                                                                                                                        @Html.LabelFor(model => model.Store_PremesisNameID, htmlAttributes: new { @class = "control-label text-red" })
                                                                                                                                                                    </div>
                                                                                                                                                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                                                                                                                                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                                                                                                                                                            <div class="dx-texteditor-container">
                                                                                                                                                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Store_PremesisNameID").Name("Store_PremesisNameID").Value(Model.Store_PremesisNameID).DisplayExpr("Name").ValueExpr("ID").DropDownOptions(s => s.Width(650).ResizeEnabled(true).Height(300))
                                                                                                                                                                                                                                      .DataSource(d => d.Mvc().Controller("Store_Dept_Master").LoadAction("LookUp_Getpremises").Key("ID").LoadParams(new { PremisisType = new JS("function (){return Store_premesisTypeID;}") }))
                                                                                                                                                                                                                                      .Placeholder("Select Premises Name").ReadOnly(IsVisible).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).OnInitialized("OnPremisesNameLoad")
                                                                                                                                                                                                                                      .OnValueChanged("OnPremisesNameIDChange").ContentTemplate(@<text> @Html.Partial("LookUp_Getpremises") </text>) )
                                                                                                                                                                                @Html.ValidationMessageFor(model => model.Store_PremesisNameID, "", new { @class = "text-red" })

                                                                                                                                                                            </div>
                                                                                                                                                                        </div>
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div><!--[Premises Name]-->
                                                                                                                                                </div>
                                                                                                                                            </div><!--[row 5]-->
                                                                                                                                            <div class="row">
                                                                                                                                                <div class="">
                                                                                                                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                                                                                                                        <div class="form-field">
                                                                                                                                                            <div class="container-fluid">
                                                                                                                                                                <div class="row">
                                                                                                                                                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                                                                                                                                                        @Html.LabelFor(model => model.Store_Dept_Address, htmlAttributes: new { @class = "control-label" })
                                                                                                                                                                    </div>
                                                                                                                                                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                                                                                                                                                        <div class="dx-texteditor  dx-state-disabled dx-widget dx-textbox">
                                                                                                                                                                            <div class="dx-texteditor-container">

                                                                                                                                                                                @(Html.DevExtreme().TextBoxFor(x => x.Store_Dept_Address).CustomTextBox().ID("Store_Dept_Address").Name("Store_Dept_Address").Placeholder("Enter Address").Value(Model.Store_Dept_Address).InputAttr("class", "dx-texteditor-input").ReadOnly(true).Disabled(true).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }) )

                                                                                                                                                                                @Html.ValidationMessageFor(model => model.Store_Dept_Address, "", new { @class = "text-red" })
                                                                                                                                                                            </div>
                                                                                                                                                                        </div>
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div><!--[Address]-->
                                                                                                                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                                                                                                                        <div class="form-field">
                                                                                                                                                            <div class="container-fluid">
                                                                                                                                                                <div class="row">
                                                                                                                                                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                                                                                                                                                        @Html.LabelFor(model => model.Store_Dept_State, htmlAttributes: new { @class = "control-label" })

                                                                                                                                                                    </div>
                                                                                                                                                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                                                                                                                                                        <div class="dx-texteditor  dx-state-disabled dx-widget dx-textbox">
                                                                                                                                                                            <div class="dx-texteditor-container">
                                                                                                                                                                                @(Html.DevExtreme().TextBoxFor(x => x.Store_Dept_State).CustomTextBox().ID("Store_Dept_State").Name("Store_Dept_State").Placeholder("Enter State").Value(Model.Store_Dept_State).InputAttr("class", "dx-texteditor-input").ReadOnly(true).Disabled(true).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }) )

                                                                                                                                                                                @Html.ValidationMessageFor(model => model.Store_Dept_State, "", new { @class = "text-red" })
                                                                                                                                                                            </div>
                                                                                                                                                                        </div>
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div><!--[State]-->
                                                                                                                                                </div>
                                                                                                                                            </div><!--[row 6]-->
                                                                                                                                            <div class="row">
                                                                                                                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                                                                                                                    <div class="form-field">
                                                                                                                                                        <div class="container-fluid">
                                                                                                                                                            <div class="row">
                                                                                                                                                                <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                                                                                                                                                    @Html.LabelFor(model => model.Store_Dept_City, htmlAttributes: new { @class = "control-label" })
                                                                                                                                                                </div>
                                                                                                                                                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                                                                                                                                                    <div class="dx-texteditor dx-state-disabled  dx-widget dx-textbox">
                                                                                                                                                                        <div class="dx-texteditor-container">

                                                                                                                                                                            @(Html.DevExtreme().TextBoxFor(x => x.Store_Dept_City).CustomTextBox().ID("Store_Dept_City").Name("Store_Dept_City").Placeholder("Enter City").Value(Model.Store_Dept_City).InputAttr("class", "dx-texteditor-input").ReadOnly(true).Disabled(true))

                                                                                                                                                                            @Html.ValidationMessageFor(model => model.Store_Dept_City, "", new { @class = "text-red" })

                                                                                                                                                                        </div>
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                </div><!--[City]-->
                                                                                                                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                                                                                                                    <div class="form-field">
                                                                                                                                                        <div class="container-fluid">
                                                                                                                                                            <div class="row">
                                                                                                                                                                <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                                                                                                                                                    @Html.LabelFor(model => model.Store_IsCentralStore, htmlAttributes: new { @class = "control-label" })
                                                                                                                                                                </div>
                                                                                                                                                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                                                                                                                                                    @(Html.DevExtreme().RadioGroup().ID("Store_IsCentralStore").Name("Store_IsCentralStore").Value(Model.Store_IsCentralStore).ActiveStateEnabled(true).DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "Yes", value = true }, new { text = "No", value = false }, }) )

                                                                                                                                                                    @Html.ValidationMessageFor(model => model.Store_IsCentralStore, "", new { @class = "text-red" })
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                </div><!--[Central Store]-->
                                                                                                                                            </div><!--[row 7]-->
                                                                                                                                            <fieldset class="default-fieldset">
                                                                                                                                                <div class="form-field">
                                                                                                                                                    <div class="container-fluid">
                                                                                                                                                        <div class="row">
                                                                                                                                                            <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                                                                                                                                                @Html.LabelFor(model => model.Store_MappedLocations, htmlAttributes: new { @class = "control-label" })
                                                                                                                                                            </div>
                                                                                                                                                            <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                                                                                                                                                <div class="dx-texteditor dx-widget dx-textbox">
                                                                                                                                                                    <div class="dx-texteditor-container">
                                                                                                                                                                        @(Html.DevExtreme().List().CustomList().ID("ListMappedLocations").DataSource(d => d.Mvc().Controller("Store_Dept_Master").LoadAction("LookUp_GetLocationList").Key("Loc_Id").LoadParams(new { Premesis = new JS("function (){ return Store_premesisTypeID +'|'+ Store_premesisNameID;}") })).SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple).Disabled(IsVisible).OnInitialized("LoadMappedLocationSelection").ItemTemplate(@<text><%= Location_Name %></text>).SearchExpr(new[] { "Location_Name" }).OnSelectionChanged("OnStoreListSelectionChanged").Height(250).ShowSelectionControls(true) )
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="col-sm-2 col-md-2 col-lg-2 pll">

                                                                                                                                                                @(Html.DevExtreme().Button().ID("AddLocation").Text("Add Location(s)").Disabled(IsVisible).OnClick(@<text> function () { Store_Add_Location_Click() } </text>) )

                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                </div>
                                                                                                                                            </fieldset><!--[Mapped Location]-->
                                                                                                                                            <div class="row">
                                                                                                                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                                                                                                                    <div class="form-field">
                                                                                                                                                        <div class="container-fluid">
                                                                                                                                                            <div class="row">
                                                                                                                                                                <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                                                                                                                                                    @Html.LabelFor(model => model.Store_Remarks, htmlAttributes: new { @class = "control-label" })
                                                                                                                                                                </div>
                                                                                                                                                                <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                                                                                                                                                    <div class="dx-texteditordx-widget dx-textbox">
                                                                                                                                                                        <div class="dx-texteditor-container">
                                                                                                                                                                            @(Html.DevExtreme().TextBoxFor(x => x.Store_Remarks).CustomTextBox().ID("Store_Remarks").Name("Store_Remarks").Placeholder("Type Store_Remarks...").InputAttr("class", "dx-texteditor-input").MaxLength(8000).Value(Model.Store_Remarks).ReadOnly(IsVisible).Disabled(IsVisible) )
                                                                                                                                                                            @Html.ValidationMessageFor(model => model.Store_Remarks, "", new { @class = "text-red" })

                                                                                                                                                                        </div>
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                </div>
                                                                                                                                            </div><!--[Remarks]-->

                                                                                                                                            <div class="row">
                                                                                                                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                                                                                                                    <div class="styleActionBtn">
                                                                                                                                                        @if (Model.ActionMethod.ToString().Trim() == "Delete")
                                                                                                                                                        {
                                                                                                                                                            @(Html.DevExtreme().Button().CustomSaveButton().Text("Delete").ID("storemaster_delete").UseSubmitBehavior(false).OnClick(@<text>function (){ storemaster_delete();}</text>) )
                                                                                                                                                        }
                                                                                                                                                        else
                                                                                                                                                        {
                                                                                                                                                            @(Html.DevExtreme().Button().CustomSaveButton().Text("Save").ID("storemasternew_Save").Visible(Model.ActionMethod=="View"?false:true).OnClick("Store_Save_Click") )
                                                                                                                                                        }
                                                                                                                                                        @(Html.DevExtreme().Button().CustomCloseButton().ID("StoreMasterCancelbtn").Text(Model.ActionMethod == "View" ? "Close" : "Cancel"))@*.OnClick(@<text> function () { StoreMaster_Close(); } </text>) )*@
                                                                                                                                                    </div>
                                                                                                                                                </div>
                                                                                                                                            </div><!--[Buttons]-->


                                                                                                                                        }
                                                                                                                                    }
</div>
@(Html.DevExtreme().Popup().CustomPopup().ID("Stockmasterpersonnel").CloseOnOutsideClick(false).ShowTitle(true).Title("New ~ ").ContentTemplate(@<text> <div id="result_Stockmasterpersonnel">  </div> </text>))
<script type="text/javascript">
    var form = "Store_Dept_MastervalidationForm";
    var Is_DD_Refresh;
    $(document).ready(function ()
    {
        ShowLoader();
        if ("@Dept_Store_AddPersonnelRights" == "False")
        {
	        $("#Store_AddPersonnel").hide();
        }
        AssignIDtoLabel(form, "StoreMaster");
        sessionclearpath = "/Stock/Store_Dept_Master/Sessionclear";
        if ("@Model.ActionMethod" != "View") {
            dontaskpopupcloseconfirmation = false;
        }
        if ($("#PersonnelMastervalidationForm").length)
        {
            $("#StoreAddPerson").hide();
            $("#Store_AddPersonnel").hide();
        }//Mantis bug 0001114 resolved

        if ("@Model.ActionMethod" != "New")
        {
            debugger;
            $("#Store_Category").dxSelectBox("instance").option("value", "@Model.Store_Category");//Mantis bug 0000295 fixed

            if ("@Model.Store_InchargeID".length > 0) $("#Store_InchargeID").dxDropDownBox("instance").option("value", parseInt("@Model.Store_InchargeID"));

            if ("@Model.Store_Main_DeptID".length > 0) $("#Store_Main_DeptID").dxDropDownBox("instance").option("value", parseInt("@Model.Store_Main_DeptID"));

            if ("@Model.Store_Sub_DeptID".length > 0) $("#Store_Sub_DeptID").dxDropDownBox("instance").option("value", parseInt("@Model.Store_Sub_DeptID"));

            if ("@Model.Store_ContactPersonID".length > 0) $("#Store_ContactPersonID").dxDropDownBox("instance").option("value", parseInt("@Model.Store_ContactPersonID"));
        }

        setTimeout(function ()
        {
            if ("@Model.ActionMethod" == "View")
            {
                Set_Form_View_Delete_Mode("#000080", form);
            }
            else if ("@Model.ActionMethod" == "Delete")
            {
                Set_Form_View_Delete_Mode("#696969", form);
            }
            else
            {
                Focus_FirstEditable_Field(form);
            }
            HideLoader();
        }, Timeout500);
    });
    var Store_ReqConnMainDeptID = "";
    var Store_ReqConnSubDeptID = "";
    var Store_DeptInchargeID = "";
    var Store_DeptContactID = "";
    var Store_premesisTypeID = "";
    var Store_premesisNameID = "";
    var Store_premesisname = "";
    var Store_LocationListUsageCountCheck;
    var Store_LocationStockUseCheck;
    var storelistselectkey = [];
    function Store_Add_Dept_Click() {
       DevExpress.ui.dialog.alert("Coming Soon..!", "Inform..");

    }
    function InchargeNameParameter()
    {
        debugger;
        if (Store_ReqConnSubDeptID != null && Store_ReqConnSubDeptID != "" && Store_ReqConnSubDeptID > 0)//Mantis bug 0000309 fixed
        {
            return Store_ReqConnSubDeptID;//Mantis bug 0000309 fixed
        }
        else
        {
            return Store_ReqConnMainDeptID;//Mantis bug 0000309 fixed
        }
    }//Mantis bug 0000298 fixed
    function Store_Add_Sub_Dept_Click() {
        DevExpress.ui.dialog.alert("Coming Soon..!", "Inform..");
    }

    

    function Store_Save_Click(e) {
        debugger
       

        var $inchargename = $("#LookUp_Dept_Incharge_List_datagrid");

        if ($inchargename.length) {
            inchargename = $inchargename.dxDataGrid("instance");
         
            //Refresh_DropDown("Store_InchargeID").then((r) => {
              
            if (inchargename.totalCount() > 0) {

                $("#lblStoreDept").addClass("text-red");

                $("#Store_InchargeID").dxDropDownBox({})
                    .dxValidator({
                        validationRules: [{
                            type: 'required',
                            message: "Incharge Name Cannot be blank...!"
                        }],
                        validationGroup: "Stock_StoreDept"
                    });
            }
            //});
        }
        var result = e.validationGroup.validate();
        var form = $("#Store_Dept_MastervalidationForm");

        if (result.isValid) {
            form.submit();
        }
    }
    function Store_Add_Personnel_Click()
    {
        if ("@Dept_Store_AddPersonnelRights" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return;
        }
        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/Stock/PersonnelMaster/Frm_PersonnelMaster_Window",
            data: {
                ActionMethod:"New",
                ID: 0,
                PostSucessFunction: "StockMaster_Personnel_Success",
                PopupName: "Stockmasterpersonnel"              
            },
            success: function (data)
            {
                OpenPopup("Stockmasterpersonnel", "New ~ Personnel", null, "auto", "85%", true, data);
            }
        });      
    }
    function Store_Add_Person_Click() {
        Store_Add_Personnel_Click();//Mantis bug 0000294 fixed
    }
    function Store_Add_Location_Click() {
        DevExpress.ui.dialog.alert("Coming Soon..!", "Inform..");
    }
    async function StockMaster_Personnel_Success(data) {
        try {

            HideLoader();
            if (data.result == true) {
                $("#Stockmasterpersonnel").dxPopup("hide");

                Is_DD_Refresh = true;
                await $("#LookUp_Dept_Incharge_List_datagrid").dxDataGrid("instance").refresh();
                Is_DD_Refresh = false;
                $("#LookUp_Dept_Contact_List_datagrid").dxDataGrid("instance").refresh();
            }
            else {
                DevExpress.ui.dialog.alert(data.Message, "Error");
            }
        }
        catch (e) {
            console.log(e);
        }
    }
    function StoreMaster_Close()
    {
        if ("@Model.PopupName" == "Dynamic_Content_popup")
        {
            sessionclearpath = "/Stock/Store_Dept_Master/Sessionclear";
            if ("@Model.ActionMethod" != "View")
            {
                dontaskpopupcloseconfirmation = false;
            }
        }
       var popupnameid = "#" + "@Model.PopupName";
        $(popupnameid).dxPopup("hide");
    }
    function storemaster_delete()
    {
        var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Delete ~ Store Master");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $("#Store_Dept_MastervalidationForm").submit();
            }
        });
    }
    function OnConnMainDeptLoad(e)
    {
        Store_ReqConnMainDeptID = "@Model.Store_Main_DeptID";
        if ("@Model.ActionMethod" != "New")
        {
            e.component.option("dataSource").store.load().done(function (d)
              {
                  if (d.length > 0)
                  {
                      @*e.component.option("value","@Model.Store_Main_DeptID");*@
                  }
              });
        }
    }//main dept init//Mantis bug 0000309 fixed
    async function OnConnMain_DeptChanged(e)
    {
        debugger;
       
        try {
            Store_ReqConnMainDeptID = e.value;//Mantis bug 0000309 fixed
            var dropdown = $("#Store_Main_DeptID").dxDropDownBox("instance");
            dropdown.close();
            var $dataGrid = $("#LookUp_GetConnMainDept_List_datagrid");
            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(dropdown.option("value"), false);
                if (dataGrid.getSelectedRowsData().length > 0) {
                    var item = dataGrid.getSelectedRowsData()[0];
                }
                if (e.previousValue != null && e.previousValue != e.value) {
                    $("#Store_InchargeID").dxDropDownBox("instance").reset();

                    $("#Store_Sub_DeptID").dxDropDownBox("instance").reset();
                    $("#Store_ContactPersonID").dxDropDownBox("instance").reset();
                }
                if (e.value != e.previousValue) {
                    $("#LookUp_GetConnSubDept_List_datagrid").dxDataGrid("instance").refresh();
                    $("#LookUp_Dept_Contact_List_datagrid").dxDataGrid("instance").refresh();
                    Is_DD_Refresh = true;
                    await $("#LookUp_Dept_Incharge_List_datagrid").dxDataGrid("instance").refresh();
                    Is_DD_Refresh = false;

                    var DatagridIncharge = $("#LookUp_Dept_Incharge_List_datagrid").dxDataGrid("instance");
                    var count = DatagridIncharge.totalCount();
                    if (count == 1) {
                        DatagridIncharge.selectRowsByIndexes(0);
                    }

                }
            }

        }

        catch (e) {
            console.log(e);
        }
    }

      function OnConnSub_DeptInit(e)
      {
          Store_ReqConnSubDeptID = "@Model.Store_Sub_DeptID";//Mantis bug 0000309 fixed
          if ("@Model.ActionMethod" != "New")
          {
              e.component.option("dataSource").store.load().done(function (d)
              {
                  if (d.length > 0)
                  {
                      @*e.component.option("value","@Model.Store_Sub_DeptID");*@
                  }
              });
          }
    }//sub dept init//Mantis bug 0000298 fixed
    async function OnConnSub_DeptChanged(e)
    {
        debugger;

        try {
            var dropdown = $("#Store_Sub_DeptID").dxDropDownBox("instance");
            dropdown.close();
            Store_ReqConnSubDeptID = e.value;//Mantis bug 0000309 fixed
            var $dataGrid = $("#LookUp_GetConnSubDept_List_datagrid");
            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(dropdown.option("value"), false);
                if (dataGrid.getSelectedRowsData().length > 0) {
                    var item = dataGrid.getSelectedRowsData()[0];
                }


                if (e.value != e.previousValue && e.previousValue != null)//Mantis bug 0000309 fixed
                {
                    $("#Store_InchargeID").dxDropDownBox("instance").reset();
                    $("#Store_ContactPersonID").dxDropDownBox("instance").reset();
                }
                if (e.value != e.previousValue) {

                    //var $incharge_DG = $("#LookUp_Dept_Incharge_List_datagrid");
                    //incharge_DG = $incharge_DG.dxDataGrid("instance");
                    //await Refresh_DD_DataGrid(incharge_DG);

                    Is_DD_Refresh = true;
                    await $("#LookUp_Dept_Incharge_List_datagrid").dxDataGrid("instance").refresh();
                    Is_DD_Refresh = false;
                    var DatagridIncharge = $("#LookUp_Dept_Incharge_List_datagrid").dxDataGrid("instance");
                    var count = DatagridIncharge.totalCount();
                    if (count == 1) {
                        DatagridIncharge.selectRowsByIndexes(0);
                    }

                    //$("#LookUp_Dept_Contact_List_datagrid").dxDataGrid("getDataSource").reload().done(function (d) {
                    //if (d.length > 0) {
                    $("#LookUp_Dept_Contact_List_datagrid").dxDataGrid("instance").refresh();
                    var Datagrid = $("#LookUp_Dept_Contact_List_datagrid").dxDataGrid("instance");
                    var count = Datagrid.totalCount();
                    if (count == 1) {
                        Datagrid.selectRowsByIndexes(0);
                    }

                }
            }
        }
        catch (e) {
            console.log(e);
        }
    }//Mantis bug 0000298 fixed
    function OnStoreIncharge_Init(e)
    {
        if ("@Model.ActionMethod" != "New")
        {
          //  $("#Store_InchargeID").dxDropDownBox("instance").option("value", "Model.Store_InchargeID");
            Store_DeptInchargeID = "@Model.Store_InchargeID";
              e.component.option("dataSource").store.load().done(function (d)
              {
                  if (d.length > 0)
                  {
                      @*e.component.option("value","@Model.Store_InchargeID");*@
                  }
              });
        }
    }// incharge init



    function OnDept_InchargeChanged(e) {
        debugger;
        var dropdown = $("#Store_InchargeID").dxDropDownBox("instance");
        dropdown.close();
        var $dataGrid = $("#LookUp_Dept_Incharge_List_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropdown.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                Store_DeptInchargeID = item.ID;
            }
        }
    }

        function oncategoryinitialised(e)
    {
        @*if ("@Model.ActionMethod" != "New")
        {
            $("#Store_Category").dxSelectBox("instance").option("value", "@Model.Store_Category");

        }*@
    }//Mantis bug 0000309 fixed
  async  function oncategorychanged(e) {
        debugger;
      try {
          var category = $("#Store_Category").dxSelectBox('instance').option('value');

          if (category == "Main Dept.") {
              if (e.previousValue != null && e.previousValue != e.value) {
                  $("#Store_Main_DeptID").dxDropDownBox("instance").reset();
                  $("#Store_Sub_DeptID").dxDropDownBox("instance").reset();
              }
              if (e.value != e.previousValue) {

                  Is_DD_Refresh = true;
                  await $("#LookUp_Dept_Incharge_List_datagrid").dxDataGrid("instance").refresh();
                  Is_DD_Refresh = false;

                  $("#LookUp_Dept_Contact_List_datagrid").dxDataGrid("instance").refresh();
                  //Mantis bug 0000309 fixed//Mantis bug 0000328 fixed
              }
              $('#Store_Main_DeptID').dxDropDownBox("instance").option("disabled", true);
              $('#Store_Sub_DeptID').dxDropDownBox("instance").option("disabled", true);
              Store_ReqConnMainDeptID = 0;

          }
          else {
              if (e.previousValue != null && e.previousValue != e.value) {
                  $("#Store_Sub_DeptID").dxDropDownBox("instance").reset();
                  $("#Store_Main_DeptID").dxDropDownBox("instance").reset();
              }
              $('#Store_Main_DeptID').dxDropDownBox("instance").option("disabled", false);
              $('#Store_Sub_DeptID').dxDropDownBox("instance").option("disabled", false);
          }

      } catch (e) {
          console.log(e);
      }
    }//Mantis bug 0000295 fixed

    function OnContactPerson_init(e)
    {
        @*if ("@Model.ActionMethod" != "New")
        {
            $("#Store_ContactPersonID").dxDropDownBox("instance").option("value","@Model.Store_ContactPersonID");
            Store_DeptContactID = $("#Store_ContactPersonID").dxDropDownBox("instance").option("value");
            e.component.option("dataSource").store.load().done(function (d) {
                if (d.length > 0) {
                    var $dataGrid = $("#LookUp_Dept_Contact_List_datagrid");
                    if ($dataGrid.length) {
                        var dataGrid = $dataGrid.dxDataGrid("instance");
                        dataGrid.selectRows(Store_DeptContactID, false);
                    }
                }
            });
        }*@
    }//contact person init
    function OnDept_ContactChanged(e)
    {

        var dropdown = $("#Store_ContactPersonID").dxDropDownBox("instance");
        dropdown.close();
        var $dataGrid = $("#LookUp_Dept_Contact_List_datagrid");
        if ($dataGrid.length)
        {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropdown.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0)
            {
                var item = dataGrid.getSelectedRowsData()[0];
                //Store_DeptContactID = item.ID;
                $("#Store_Contact_No").dxTextBox("instance").option("value", item["Mobile_No"]);
            }
        }
    }

    function Checkmappedlocationuse()
    {
        $.ajax({
            type: 'GET',
            url: "/Stock/Store_Dept_Master/CheckMappedLocationsCount",
            data: { DEPTID: Store_ReqConnMainDeptID },
            cache: false,
            success: function (data) {
                if (data.result == true) {
                    Store_LocationListUsageCountCheck =true;
                }
                else { Store_LocationListUsageCountCheck=false}
            }
        });
        return Store_LocationListUsageCountCheck;
    }
  function OnPremisesTypeLoad(e)
    {
        if ("@Model.ActionMethod" != "New")
        {
         $("#Store_PremesisType").dxSelectBox('instance').option('value',"@Model.Store_PremesisType");
         Store_premesisTypeID  = $("#Store_PremesisType").dxSelectBox('instance').option('value');
        }
    }//premises type init
   function OnPremisesTypeChange(e)
   {
       if ("@Model.ActionMethod" == "Edit" && e.previousValue != null &&e.previousValue!=e.value)
        {
            var countcheck = Checkmappedlocationuse();
            if (countcheck == false)
            {
                DevExpress.ui.dialog.alert("Premises Type Cannot Be Changed If Any Location Is Mapped For Selected Premises...!", 'Alert');
                $("#Store_PremesisType").dxSelectBox('instance').option('value', e.previousValue);
            }
       }
       if (e.previousValue != null && e.previousValue != e.value) {
           $("#Store_PremesisNameID").dxDropDownBox('instance').reset();
       }
        Store_premesisTypeID = $("#Store_PremesisType").dxSelectBox('instance').option('value');
       $("#LookUp_Getpremises_List_datagrid").dxDataGrid("getDataSource").reload().done(function (d) {
           if (d.length > 0) {
               var datagrid = $("#LookUp_Getpremises_List_datagrid").dxDataGrid("instance");
               var count = datagrid.totalCount();
               if (count == 1) {
                   datagrid.selectRowsByIndexes(0);
               }
           }
       });
    }//premises type change
    function OnPremisesNameLoad(e)
    {
        if ("@Model.ActionMethod" != "New")
        {
         $("#Store_PremesisNameID").dxDropDownBox('instance').option('value',"@Model.Store_PremesisNameID");
            Store_premesisNameID = $("#Store_PremesisNameID").dxDropDownBox('instance').option('value');
            e.component.option("dataSource").store.load().done(function (d) {
                if (d.length > 0) {
                    var $dataGrid = $("#LookUp_Getpremises_List_datagrid");
                    if ($dataGrid.length) {
                        var dataGrid = $dataGrid.dxDataGrid("instance");
                        dataGrid.selectRows(Store_premesisNameID, false);

                    }
                }
            });
        }
    }//premises name init
 function OnPremisesNameIDChange(e)
 {
        var emptylist = [];
       if ("@Model.ActionMethod" == "Edit" && e.previousValue != e.value&&e.previousValue != null)
        {
            var countcheck = Checkmappedlocationuse();
            if (countcheck == false)
            {
                DevExpress.ui.dialog.alert("Premises Name Cannot Be Changed If Any Location Is Mapped For Selected Premises...!", 'Alert');
                $("#Store_PremesisType").dxSelectBox('instance').option('value', e.previousValue);
            }
        }
     if (e.previousValue != null && e.previousValue != e.value) {
         $("#Store_Dept_Address").dxTextBox("instance").reset();
         $("#Store_Dept_State").dxTextBox("instance").reset();
         $("#Store_Dept_City").dxTextBox("instance").reset();
         $("#ListMappedLocations").dxList('instance').option("selectedItemKeys", emptylist);
         $("#ListMappedLocations").dxList('instance').reload();
     }
     var dropdown = $("#Store_PremesisNameID").dxDropDownBox("instance");
     dropdown.close();
     var $dataGrid = $("#LookUp_Getpremises_List_datagrid");
     if ($dataGrid.length)
     {
         var dataGrid = $dataGrid.dxDataGrid("instance");
         dataGrid.selectRows(dropdown.option("value"), false);
         if (dataGrid.getSelectedRowsData().length > 0)
         {
             var item = dataGrid.getSelectedRowsData()[0];
             Store_premesisNameID = item.ID;
             $("#Store_Dept_Address").dxTextBox("instance").option("value", item["Pre_Address"]);
             $("#Store_Dept_State").dxTextBox("instance").option("value", item["Pre_State"]);
             $("#Store_Dept_City").dxTextBox("instance").option("value", item["Pre_City"]);
             if ("@Model.ActionMethod" == "New")
             {
                 $("#ListMappedLocations").dxList('instance').getDataSource().reload();
             }
         }
     }
 }//premises name changed
   function LoadMappedLocationSelection()
   {
        var listBox = $("#ListMappedLocations").dxList("instance");
        if ("@Model.ActionMethod"!= "New")
        {
            storelistselectkey = "@Model.Store_MappedLocations".split(',');
            listBox.option("selectedItemKeys", storelistselectkey);
        }
   }// list initialize
    function OnStoreListSelectionChanged(e)
    {
       var listBox = $("#ListMappedLocations").dxList("instance");
        if ("@Model.ActionMethod" == "Edit")
        {
            var currentselectedkeys = listBox.option("selectedItemKeys");
                for (var i = 0; i < storelistselectkey.length; i++)
                {
                    var index = currentselectedkeys.indexOf(storelistselectkey[i]);
                    if (index == -1) {
                        $.ajax({
                            type: 'GET',
                            url: "/Stock/Store_Dept_Master/CheckLocationStockUseCount",
                            data: { locationid: storelistselectkey[i] },
                            cache: false,
                            async: false,
                            success: function (data) {
                                if (data.result == false) {
                                    Store_LocationStockUseCheck = false;
                                }
                                else { Store_LocationStockUseCheck = true; }
                            }

                        });
                        if (Store_LocationStockUseCheck == false) {
                            DevExpress.ui.dialog.alert('An Already Selected Location Cannot Be De-selected, If It Has Been Used In Some Stock..!!', 'Information');
                            currentselectedkeys.push(storelistselectkey[i]);
                            listBox.option("selectedItemKeys", currentselectedkeys);
                            break;
                        }
                    }
                }
        }
            $("#Store_MappedLocations").val(listBox.option("selectedItemKeys").join(","));
    }// List selection

</script>
