@using DevExtreme.AspNet.Mvc;
@using Common_Lib;
@model ConnectOneMVC.Areas.Stock.Models.Model_Store_Dept_Master
@{
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "View" || Model.ActionMethod.ToString().Trim() == "Delete") ? true : false;
    bool Dept_Store_AddPersonnelRights = (bool)ViewData["Dept_Store_AddPersonnelRight"];
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .wdfull {
        width: 100%;
    }

    td {
        width: auto;
    }

    .width1200px {
        width: 1200px;
    }

    .margT12 {
        margin-top: 12px !important;
    }

    .margB3 {
        margin-bottom: 3px !important;
    }

    .margB22 {
        margin-bottom: 22px !important;
    }


    .fs22 {
        font-size: 22px !important;
    }

    .checkboxmarg {
        margin: 2px 0px !important;
    }

        .checkboxmarg label {
            line-height: 20px !important;
        }

    .control-label {
        text-align: left !important;
    }

    .dx-state-disabled .dx-texteditor-input {
        color: darkgoldenrod;
    }

    .dx-texteditor-container {
        overflow: visible
    }

    #storemasternew_Save > div,
    #storemaster_SavenewCancle > div,
    #StoreMasterCancelbtn > div,
    #storemaster_delete > div,
    #storemaster_deleteCancle > div {
        padding: 0 8px 0 22px !important;
    }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<div id="Frm_Store_Dept_Master_Window_Content">
    @using (Ajax.BeginForm("Frm_SDM_Add_Incharge", "Store_Dept_Master",
               new AjaxOptions
               {
                   HttpMethod = "POST",
                   UpdateTargetId = "Frm_SDM_Window_Content",
                   InsertionMode = InsertionMode.InsertAfter,
                   OnBegin = "AjaxBeginFormPost",
                   OnSuccess = String.Format("{0}", Model.PostSuccessFunction)
               },
               new
               {
                   id = "SDM_validationForm",
                   @class = "edit_form"
               }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.Store_MappedLocations)
        @Html.HiddenFor(x => x.Store_Dept_Name)
        @Html.HiddenFor(x => x.Store_Category)
        @Html.HiddenFor(x => x.Store_Registeration_No)
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.Store_IsCentralStore)
        @Html.HiddenFor(x => x.Store_ContactPersonID)
        @Html.HiddenFor(x => x.PostSuccessFunction)
        @Html.HiddenFor(x => x.PopupName)
        @Html.HiddenFor(x => x.Store_Main_DeptID)
        @Html.HiddenFor(x => x.Store_Sub_DeptID)
        @Html.HiddenFor(x => x.Store_PremesisNameID)
        @Html.HiddenFor(x => x.Store_PremesisType)

        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();
        using (Html.DevExtreme().ValidationGroup("Stock_StoreDept"))
        {
            <div class="full-width-header-bg2">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Change Incharge and Mapped location</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align">
                            <i class="fas fa-info-circle"></i> Red Fields are mandatory
                        </h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div>
            </div>


            <div class="row">
                <div class="">

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                        <label class="control-label " for="user" id="lblStoreDept">In-Charge Name:</label>
                                        @*@Html.LabelFor(model => model.Store_InchargeID, htmlAttributes: new { @class = "control-label text-red" })*@
                                    </div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm">
                                    
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Store_InchargeID").Name("Store_InchargeID").DisplayExpr("Name").ValueExpr("ID").DataSource(d => d.Mvc().Controller("Store_Dept_Master").LoadAction("LookUp_Dept_Incharge").Key("ID").LoadParams(new { MainDeptID = new JS("function (){ return InchargeNameParameter();}"), DD_Refresh = new JS("function() { return Is_DD_Refresh; }") })).DropDownOptions(s => s.Width(650).ResizeEnabled(true).Height(300))
                                                                                                                                                  .Placeholder("Select").OnInitialized("OnStoreIncharge_Init").ReadOnly(IsVisible).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).OnValueChanged("OnDept_InchargeChanged").ContentTemplate(@<text> @Html.Partial("LookUp_Dept_Incharge") </text>) )@*//Mantis bug 0000298 fixed*@
                                                                                                                                                @Html.ValidationMessageFor(model => model.Store_InchargeID, "", new { @class = "text-red " })

                                                </div>
                                            </div>
                                      

                                    </div>
                                </div>
                            </div>
                        </div><!--[Incharge]-->
                    </div>
                </div><!--[row 3]-->
            

                    <fieldset class="default-fieldset">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                        @Html.LabelFor(model => model.Store_MappedLocations, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().List().CustomList().ID("ListMappedLocations").DataSource(d => d.Mvc().Controller("Store_Dept_Master").LoadAction("LookUp_GetLocationList").Key("Loc_Id").LoadParams(new { Premesis = new JS("function (){ return Store_premesisTypeID +'|'+ Store_premesisNameID;}") })).SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple).Disabled(IsVisible).OnInitialized("LoadMappedLocationSelection").ItemTemplate(@<text><%= Location_Name %></text>).SearchExpr(new[] { "Location_Name" }).OnSelectionChanged("OnStoreListSelectionChanged").Height(250).ShowSelectionControls(true) )
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </fieldset><!--[Mapped Location]-->

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="styleActionBtn">

                        @(Html.DevExtreme().Button().CustomSaveButton().Text("Save").ID("storemasternew_Save").Visible(Model.ActionMethod == "View" ? false : true).OnClick("Store_Save_Click") )

                        @(Html.DevExtreme().Button().CustomCloseButton().ID("StoreMasterCancelbtn").Text(Model.ActionMethod == "View" ? "Close" : "Cancel"))@*.OnClick(@<text> function () { StoreMaster_Close(); } </text>) )*@
                    </div>
                </div>
            </div><!--[Buttons]-->
        }

    }
</div>


<script type="text/javascript">
    var form = "SDM_validationForm";
    var Is_DD_Refresh;
    $(document).ready(function ()
    {
        ShowLoader();
        
        AssignIDtoLabel(form, "StoreMaster");
        sessionclearpath = "/Stock/Store_Dept_Master/Sessionclear";


        if ("@Model.ActionMethod" != "View") {
            dontaskpopupcloseconfirmation = false;
        }
       
      
         if ("@Model.ActionMethod" != "New")
        {
            
              if ("@Model.Store_InchargeID".length > 0) $("#Store_InchargeID").dxDropDownBox("instance").option("value", parseInt("@Model.Store_InchargeID"));

             }
        setTimeout(function ()
        {
            if ("@Model.ActionMethod" == "View")
            {
                Set_Form_View_Delete_Mode("#000080", form);
            }
          
            else
            {
                Focus_FirstEditable_Field(form);
            }
            HideLoader();
        }, Timeout500);
    });
    var Store_ReqConnMainDeptID = "";
    var Store_ReqConnSubDeptID = "";
    var Store_DeptInchargeID = "";
    var Store_DeptContactID = "";
    var Store_premesisTypeID = "";
    var Store_premesisNameID = "";
    var Store_premesisname = "";
    var Store_LocationListUsageCountCheck;
    var Store_LocationStockUseCheck;
    var storelistselectkey = [];
    Store_ReqConnSubDeptID = "@Model.Store_Sub_DeptID";
    Store_ReqConnMainDeptID = "@Model.Store_Main_DeptID";
    Store_premesisTypeID = "@Model.Store_PremesisType";
    Store_premesisNameID = "@Model.Store_PremesisNameID";

    function InchargeNameParameter()
    {
        debugger;
        if (Store_ReqConnSubDeptID != null && Store_ReqConnSubDeptID != "" && Store_ReqConnSubDeptID > 0)//Mantis bug 0000309 fixed
        {
            return Store_ReqConnSubDeptID;//Mantis bug 0000309 fixed
        }
        else
        {
            return Store_ReqConnMainDeptID;//Mantis bug 0000309 fixed
        }
    }//Mantis bug 0000298 fixed
    

    

    function Store_Save_Click(e) {
        debugger
       

 
        var form = $("#SDM_validationForm");

        
            form.submit();
        
    }
   
    function StoreMaster_Close()
    {
        if ("@Model.PopupName" == "Dynamic_Content_popup")
        {
            sessionclearpath = "/Stock/Store_Dept_Master/Sessionclear";
            if ("@Model.ActionMethod" != "View")
            {
                dontaskpopupcloseconfirmation = false;
            }
        }
       var popupnameid = "#" + "@Model.PopupName";
        $(popupnameid).dxPopup("hide");
    }
    
     
    function OnStoreIncharge_Init(e)
    {
        debugger;
        if ("@Model.ActionMethod" != "New")
        {
          //  $("#Store_InchargeID").dxDropDownBox("instance").option("value", "Model.Store_InchargeID");
            Store_DeptInchargeID = "@Model.Store_InchargeID";
              e.component.option("dataSource").store.load().done(function (d)
              {
                  if (d.length > 0)
                  {
                      @*e.component.option("value","@Model.Store_InchargeID");*@
                  }
              });
        }
    }// incharge init



    function OnDept_InchargeChanged(e) {
        debugger;
        var dropdown = $("#Store_InchargeID").dxDropDownBox("instance");
        dropdown.close();
        var $dataGrid = $("#LookUp_Dept_Incharge_List_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropdown.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                Store_DeptInchargeID = item.ID;
            }
        }
    }
    

    function Checkmappedlocationuse()
    {
        $.ajax({
            type: 'GET',
            url: "/Stock/Store_Dept_Master/CheckMappedLocationsCount",
            data: { DEPTID: Store_ReqConnMainDeptID },
            cache: false,
            success: function (data) {
                if (data.result == true) {
                    Store_LocationListUsageCountCheck =true;
                }
                else { Store_LocationListUsageCountCheck=false}
            }
        });
        return Store_LocationListUsageCountCheck;
    }
  
    
 
   function LoadMappedLocationSelection()
   {
        var listBox = $("#ListMappedLocations").dxList("instance");
        if ("@Model.ActionMethod"!= "New")
        {
            storelistselectkey = "@Model.Store_MappedLocations".split(',');
            listBox.option("selectedItemKeys", storelistselectkey);
        }
   }// list initialize
    function OnStoreListSelectionChanged(e)
    {
        debugger
       var listBox = $("#ListMappedLocations").dxList("instance");
        if ("@Model.ActionMethod" == "Edit")
        {
            var currentselectedkeys = listBox.option("selectedItemKeys");
                for (var i = 0; i < storelistselectkey.length; i++)
                {
                    var index = currentselectedkeys.indexOf(storelistselectkey[i]);
                    if (index == -1) {
                        $.ajax({
                            type: 'GET',
                            url: "/Stock/Store_Dept_Master/CheckLocationStockUseCount",
                            data: { locationid: storelistselectkey[i] },
                            cache: false,
                            async: false,
                            success: function (data) {
                                if (data.result == false) {
                                    Store_LocationStockUseCheck = false;
                                }
                                else { Store_LocationStockUseCheck = true; }
                            }

                        });
                        if (Store_LocationStockUseCheck == false) {
                            DevExpress.ui.dialog.alert('An Already Selected Location Cannot Be De-selected, If It Has Been Used In Some Stock..!!', 'Information');
                            currentselectedkeys.push(storelistselectkey[i]);
                            listBox.option("selectedItemKeys", currentselectedkeys);
                            break;
                        }
                    }
                }
        }
            $("#Store_MappedLocations").val(listBox.option("selectedItemKeys").join(","));
    }// List selection

</script>
