<div class="MovalbleAsset_ExportProfile_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    <div>
        @*@(Html.DevExtreme().Button()
                    .ID("Asset_ExportGridDatapdf")
                    .Text("Export to PDF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("x")
                    .OnClick("ExportPDF")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("Asset_ExportGridDataxls")
                    .Text("Export to XLS")
                    //.Icon("fa-file-excel-o")
                    //.AccessKey("X")
                    .OnClick("ExportXLS")
                    .Visible(true)
                    .Width(120)
        )<br />
            @(Html.DevExtreme().Button()
                    .ID("Asset_ExportGridDataxlsx")
                    .Text("Export to XLSX")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("L")
                    .OnClick("ExportXLSX")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("Asset_ExportGridDatadocx")
                    .Text("Export to DOCX")
                    //.Icon("export_exporttodocx_16x16office2013")
                    //.AccessKey("D")
                    .OnClick("ExportDOCX")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("Asset_ExportGridDatartf")
                    .Text("Export to RTF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("R")
                    .OnClick("ExportRTF")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("Asset_ExportGridDatacsv")
                    .Text("Export to CSV")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("C")
                    .OnClick("ExportCSV")
                    .Visible(true)
                    .Width(120)
        )*@
        @(Html.DevExtreme().Button()
                    .ID("Asset_ExportGridDataxlsx")
                    .Text("Export to XLSX")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("L")
                    .OnClick("ExportXLSX_dx")
                    .Visible(true)
                    .Width(120)
        )
    </div>
    <script>
        function ExportPDF() {
            AssetListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#Asset_report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            AssetListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#Asset_report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            AssetListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#Asset_report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            AssetListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#Asset_report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            AssetListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#Asset_report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            AssetListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#Asset_report_modal").dxPopup("hide");
        }
        function ExportXLSX_dx() {
            const workbook = new ExcelJS.Workbook();
            const worksheet = workbook.addWorksheet('Sheet');

            DevExpress.excelExporter.exportDataGrid({
                worksheet: worksheet,
                component: $("#AssetListGrid_dx").dxDataGrid("instance"),
                autoFilterEnabled: true,
                customizeCell({ excelCell, gridCell }) {
                    if (gridCell.rowType === 'header') {
                        const columnDataField = gridCell.column.dataField;
                        if (columnDataField === 'iIcon') {
                            const Column = worksheet.getColumn(excelCell.col);
                            Column.width = 20;
                        }
                    }
                }
            }).then(function (exportRange) {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'AssetListGrid_dx.xlsx');
                });
            });
            $("#Asset_report_modal").dxPopup("hide");
        }

    </script>
</div>