<div class="AssetProfile_ClearReferences">
    @using DevExtreme.AspNet.Mvc; 

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        string UserType = (string)ViewBag.UserType;
        bool MovAsset_AddRight = (bool)ViewData["MovAsset_AddRight"];
        bool MovAsset_UpdateRight = (bool)ViewData["MovAsset_UpdateRight"];
        bool MovAsset_ViewRight = (bool)ViewData["MovAsset_ViewRight"];
        bool MovAsset_DeleteRight = (bool)ViewData["MovAsset_DeleteRight"];
        bool MovAsset_ExportRight = (bool)ViewData["MovAsset_ExportRight"];
        bool MovAsset_LockUnlockRight = (bool)ViewData["MovAsset_LockUnlockRight"];
        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
        bool AssetInfo_Auto_Vouching_Mode = (bool)ViewData["AssetInfo_Auto_Vouching_Mode"];
        bool CheckActionRights = ViewBag.CheckActionRights == null ? false : ViewBag.CheckActionRights;

    }
    <div id="Asset_ParentDiv">
        <div id="content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">Movable Asset Information</label>
            </div>
            @*Buttons*@
            <div class="report_button_div">
                @(Html.DevExtreme().Switch().ID("AssetVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("Asset_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Switch().ID("AssetViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("Asset_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @if (ViewBag.LockUnlock != false)
                {
                    @(Html.DevExtreme().Button()
                                                                                                    .ID("AssetModelUnlock")
                                                                                                    .Text("Unlock")
                                                                                                    .Icon("add")
                                                                                                    .Disabled(true)
                                                                                                    .Visible(false)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        AssetOnUnlockClick();
                                                                                                        }
                                                                                                    </text>)
                )
                    @(Html.DevExtreme().Button()
                                                                                                    .ID("AssetModelLock")
                                                                                                    .Text("Lock")
                                                                                                    .Icon("add")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnAssetLockClick();
                                                                                                        }
                                                                                                    </text>)
                )
                }

                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetModelNew")
                                                                                            .Text("New")
                                                                                            .Icon("add")
                                                                                            .Visible(false)
                                                                                            .Disabled(true)
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                OnAssetNewClick();
                                                                                                }
                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetModelEdit")
                                                                                            .Text("Edit")
                                                                                             .Icon("edit")
                                                                                             .Visible(false)
                                                                                             .Disabled(true)
                                                                                             .OnClick(@<text>
                                                                                                function () {
                                                                                                OnAssetEditClick();
                                                                                                }
                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetModelDelete")
                                                                                            .Text("Delete")
                                                                                            .Icon("trash")
                                                                                            .Visible(false)
                                                                                            .Disabled(true)
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                OnAssetDeleteClick();
                                                                                                }
                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetModelView")
                                                                                            .Text("View")
                                                                                            .Icon(IconID.ViewCustomers16x16devav)
                                                                                            .Icon("doc")
                                                                                            .Visible(false)
                                                                                            .Disabled(true)
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                OnAssetViewClick();
                                                                                                }
                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetToggleScrollBar")
                                                                                            .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                                                                                            .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                                                                                            .Icon("toolbox")
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                AssetchangeMode();
                                                                                                }
                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetModelListPreview")
                                                                                            .Text("Export")
                                                                                            .Icon("save")
                                                                                            .Width(80)
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                OnAssetListPreviewClick();
                                                                                                }
                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetModelCLOSE")
                                                                                            .Text("Close")
                                                                                            .Icon("clear")
                                                                                            .OnClick(@<text>
                                                                                                function (){closeProfile_Asset();}
                                                                                            </text>)

            )
            </div>
        </div>
        <div class="col-md-12 no-padding">
            <form>
                <div id="AssetreloadPartialView" class="parent_table">
                    @Html.Partial("Frm_Asset_Info_Grid_dx", Model)
                </div>
            </form>
        </div>
        <div class="footer-MainBoxdiv full-width-footer">
            @*<div class="col-lg-8 report_footer_small_buttons_div" id="AssetFooterItem">*@
            <div class="list_footer_left_margin col-md-10">
                <div>
                    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id="Asset_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="Asset_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                            @*<div class="footer-locktext">
                                    <div id="AssetLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                                </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id="AssetLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id="AssetLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list_footer_right_margin_consistent col-md-1">
                @*<i id="Asset_LockICON" class="fa fa-lock lock_symbol"></i>*@
            </div>
        </div>
        @Html.Partial("AttachmentFAB", "AssetPrf_FAB,AssetProfile_grid_DIV,Type1,AssetProfile," + UserType) @*fab buttons*@
        <div class="col-md-12">
            @*Add/Edit Popup*@
            @(Html.DevExtreme().Popup().CustomPopup()
                                    .ID("Asset_report_modal")
                                    .OnShowing("PopupOnShowing")
                                    .Title("Asset List Preview")
                                    .FullScreen(false)
                                    .MaxWidth(125)
                                    .Height("auto")
                                    .ShowCloseButton(true)
                                    .ContentTemplate(@<text>
                                        <div id='Asset_report_modal_result'>
                                        </div>
                                    </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                    .ID("popup_frm_Asset_Window")
                                    .Title("Asset")
                                    .OnShowing("PopupOnShowing")
                                    .ShowCloseButton(true)
                                    .ContentTemplate(@<text>
                                        <div id="Assetresult">
                                        </div>
                                    </text>)
                                            .OnHiding(@<text>
                                                function () {
                                                if(IsAssetSucessPopup == false && IsAssetViewPopup == false)
                                                {
                                                var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                                result.done(function (dialogResult) {
                                                if(dialogResult){
                                                $("#popup_frm_Asset_Window").dxPopup("hide");
                                                }else
                                                {
                                                $("#popup_frm_Asset_Window").dxPopup("show");
                                                }
                                                });
                                                }
                                                }
                                            </text>)
        )
        </div>
    </div>
    @*Javascript Events*@
<script type="text/javascript">
    var IsAssetSucessPopup = false;
    var IsAssetViewPopup = false;
    var Asset_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var AssetInfo_SetVouchingModeOn = "@AssetInfo_Auto_Vouching_Mode" == "True" ? true : false;
    var Asset_ViewMode = "Default";
    var UserType_AssetPrf = "@UserType".toUpperCase();
    var Asset_IsVouchingMode = false;
    var Asset_FocusedRowBeforeRefresh;

            $(document).ready(function () {               // alert('ready');
          
                if ("@MovAsset_AddRight" == "False")
                {
	                $("#AssetModelNew").hide();
                }
                if ("@MovAsset_UpdateRight" == "False")
                {
                    $("#AssetModelEdit").hide();
                }
                if ("@MovAsset_ViewRight" == "False")
                {
                    $("#AssetModelView").hide();
                }
                if ("@MovAsset_DeleteRight" == "False")
                {
                    $("#AssetModelDelete").hide();
                }
                if ("@MovAsset_ExportRight" == "False")
                {
                    $("#AssetModelListPreview").hide();
                }
                if ("@MovAsset_LockUnlockRight" == "False")
                {
                    $("#AssetModelUnlock").hide();
                    $("#AssetModelLock").hide();
                }
                IsAssetSucessPopup = false;
                IsAssetViewPopup = false;
                //SetAssetGroupPanelFooterVisible();
                //$("#AssetListGrid").hover(function () {
                //    AssetListGrid.Focus()
                //})
                $(".AssetListGrid_PreviewRow").hide();
                GetSessionStorage("AssetListGrid");
                if (AssetInfo_SetVouchingModeOn == true)
                {
                    $("#AssetViewModeSwitch").dxSwitch("instance").option("value", true);
                }
            });
            $(".TabPanalMenu-tabs .active span").on("click", function () {
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Asset/SessionClear",
                    cache: false
                });
                CloseRightPane();
                ClearLeftPane();
                CloseLeftPane();
                ClearAllReferences_AssetProfile();
            });

        function ClearAllReferences_AssetProfile() {
            IsAssetSucessPopup = null;
            IsAssetViewPopup = null;
            Asset_ShowHorizontalBar = null;
            AssetInfo_SetVouchingModeOn = null;
            Asset_ViewMode = null;
            UserType_AssetPrf = null;
            Asset_IsVouchingMode = null;
            Asset_FocusedRowBeforeRefresh = null;
            AssetID = null;
            Asset_EditDate = null;
            Asset_AddDate = null;
            Asset_AddBy = null;
            Asset_EditBy = null;
            Asset_ActionStatus = null;
            Asset_ActionDate = null;
            Asset_ActionBy = null;
            AssetInfo_IsDetailRowExpanded = null;
            AssetInfo_NestedRecord_FocusedRowIndex = null;
            AssetInfo_NestedGrid_AccessID = null;
            AssetInfo_AtachmentID = null;
            AssetInfo_FileName = null;
            AssetInfo_ParamMandatory = null;
            AssetInfo_FromDateLabel = null;
            AssetInfo_ToDateLabel = null;
            AssetInfo_DescriptionLabel = null;
            AssetInfo_Doc_ID = null;
            AssetInfo_Doc_Category = null;
            AssetInfo_MasterRowRecID = null;
            AssetInfo_MasterRowMID = null;
            AssetInfo_NestedRowMapID = null;
            AssetInfo_reason = null;
            AssetInfo_Attachment_RecStatus = null;
            AssetInfo_NestedRowReasonID = null;
            AssetInfo_NestedRowKeyValue = null;
            AssetListGrid_dx = null;
            VisibleColumns_AssetListGrid_dx = null;
            Expanded_Row_Key_Asset_dx = null;

            ClearAllReferences("AssetProfile_ClearReferences");

        }


            function AssetAjaxSuccessForm(data) {
                if (data.result == false) {
                    DevExpress.ui.dialog.alert(data.Message, "Error");
                }
                else {
                    IsAssetSucessPopup = true;
                    DevExpress.ui.dialog.alert(data.Message, "Success");
                    $("#popup_frm_Asset_Window").dxPopup("hide");
                    AssetListGrid.Refresh();
                    IsAssetSucessPopup = false;
                }
            }

            var AssetID;
            var Asset_EditDate;
            var Asset_AddDate;
            var Asset_AddBy;
            var Asset_EditBy;
            var Asset_ActionStatus;
            var Asset_ActionDate;
            var Asset_ActionBy;


            function OnAssetNewClick() {
                if ("@MovAsset_AddRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                IsAssetViewPopup = false;
                $("#popup_frm_Asset_Window").dxPopup("show");
                $("#popup_frm_Asset_Window").dxPopup("instance").option("title", "New ~ Asset");
                $("#Assetresult").html('');
                ShowLoader();
                $("#Assetresult").load("@Url.Action("Frm_Asset_Window_Profile", "Asset", new { @area = "Profile" })?ActionMethod=New", function () {
                    HideLoader();
                });
            }

            function OnAssetEditClick() {
                if ("@MovAsset_UpdateRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                IsAssetViewPopup = false;
                if (AssetID == 'undefined' || AssetID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Asset/DataNavigation",
                    data: { ActionMethod: "Edit", id: AssetID, Edit_Date: Asset_EditDate },
                    cache: false,
                    success: function (Asset_Edit_ButtonClick_result) {
                        if (Asset_Edit_ButtonClick_result.result == "true" || Asset_Edit_ButtonClick_result.result == true) {
                            $("#popup_frm_Asset_Window").dxPopup("show");
                            $("#popup_frm_Asset_Window").dxPopup("instance").option("title", "Edit ~ Asset");
                            $("#Assetresult").html('');
                            ShowLoader();
                            $("#Assetresult").load("@Url.Action("frm_Asset_window", "Asset", new { @area = "Profile" })?ActionMethod=" + "Edit" + "&ID=" + AssetID + "&EditedOn=" + Asset_EditDate, function () {
                                HideLoader();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(Asset_Edit_ButtonClick_result.Message);
                            AssetListGrid.Refresh();
                        }
                    }
                });
            }

            function OnAssetViewClick() {
                if ("@MovAsset_ViewRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                if (AssetID == 'undefined' || AssetID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Asset/DataNavigation",
                    data: { ActionMethod: "View", id: AssetID, Edit_Date: Asset_EditDate },
                    cache: false,
                    success: function (Asset_View_ButtonClick_result) {
                        if (Asset_View_ButtonClick_result.result == "true" || Asset_View_ButtonClick_result.result == true) {
                            IsViewPopup = true;
                            $("#popup_frm_Asset_Window").dxPopup("show");
                            $("#popup_frm_Asset_Window").dxPopup("instance").option("title", "View ~ Asset");
                            $("#Assetresult").html('');
                            ShowLoader();
                            $("#Assetresult").load("@Url.Action("frm_Asset_window", "Asset", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + AssetID + "&EditedOn=" + Asset_EditDate, function () {
                                HideLoader();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(Asset_View_ButtonClick_result.Message);
                            AssetListGrid.Refresh();
                        }
                    }
                });
            }

            function OnAssetDeleteClick() {
                if ("@MovAsset_DeleteRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                IsAssetViewPopup = false;
                if (AssetID == 'undefined' || AssetID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
                result.done(function (dialogResult) {
                    if (dialogResult) {
                        $("#popup_frm_Asset_Window_Close").dxPopup("hide");

                        $.ajax({
                            type: 'GET',
                            url: "/Profile/Asset/DataNavigation",
                            data: { ActionMethod: "Delete", id: AssetID, Edit_Date: Asset_EditDate },
                            cache: false,
                            success: function (Asset_Delete_ButtonClick_result) {
                                if (Asset_Delete_ButtonClick_result.result == "true" || Asset_Delete_ButtonClick_result.result == true) {
                                    $("#popup_frm_Asset_Window").dxPopup("show");
                                    $("#popup_frm_Asset_Window").dxPopup("instance").option("title", "Delete ~ Asset");
                                    ShowLoader();
                                    $("#Assetresult").load("@Url.Action("frm_Asset_window", "Asset", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + AssetID + "&EditedOn=" + Asset_EditDate, function () {
                                        HideLoader();
                                    });
                                }
                                else {
                                    DevExpress.ui.dialog.alert(Asset_Delete_ButtonClick_result.Message);
                                    AssetListGrid.Refresh();
                                }
                            }
                        });
                    }
                });
            }

            function OnAssetListPreviewClick() {
                if ("@MovAsset_ExportRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                @*$("#Asset_report_modal").dxPopup("show");
                $("#Asset_report_modal").dxPopup("instance").option("title", "Export Option");
                $("#Asset_report_modal").html('');
                ShowLoader();
                $("#Asset_report_modal_result").load("@Url.Action("Frm_Export_Options", "Asset", new { @area = "Profile" })", function () {
                    HideLoader();
                });*@
                OpenPopup("Asset_report_modal", "Export Option", "@Url.Action("Frm_Export_Options_dx", "Asset", new { @area = "Profile" })", "auto", 125, false, null);
            }


</script>


    <script>
    var AssetInfo_IsDetailRowExpanded = false;
    var AssetInfo_NestedRecord_FocusedRowIndex = -1;
    var AssetInfo_NestedGrid_AccessID;
    var AssetInfo_AtachmentID;
    var AssetInfo_FileName;
    var AssetInfo_ParamMandatory;
    var AssetInfo_FromDateLabel;
    var AssetInfo_ToDateLabel;
    var AssetInfo_DescriptionLabel;
    var AssetInfo_Doc_ID;
    var AssetInfo_Doc_Category;
    var AssetInfo_MasterRowRecID;
    var AssetInfo_MasterRowMID;
    var AssetInfo_NestedRowMapID;
    var AssetInfo_reason;
    var AssetInfo_Attachment_RecStatus;
    var AssetInfo_NestedRowReasonID;
    var AssetInfo_NestedRowKeyValue;

    function On_AssetProfile_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (AssetInfo_ParamMandatory == 1)
            {
                AddAttachment(AssetInfo_MasterRowRecID, "Profile_Assets", AssetInfo_Doc_ID, AssetInfo_Doc_Category, AssetInfo_ParamMandatory, AssetInfo_FromDateLabel, AssetInfo_ToDateLabel, AssetInfo_DescriptionLabel, "AssetProfileAttachment", null, "AssetListGrid_dx", AssetInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(AssetInfo_MasterRowRecID, "Profile_Assets", AssetInfo_Doc_ID, "AssetProfileAttachment", "AssetListGrid_dx", AssetInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (AssetInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(AssetInfo_MasterRowRecID, "Profile_Assets", AssetInfo_AtachmentID, AssetInfo_ParamMandatory, AssetInfo_FromDateLabel, AssetInfo_ToDateLabel, AssetInfo_DescriptionLabel, "AssetProfileAttachment", null, "AssetListGrid_dx", AssetInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(AssetInfo_MasterRowRecID, "Profile_Assets", AssetInfo_AtachmentID, AssetInfo_ParamMandatory, AssetInfo_FromDateLabel, AssetInfo_ToDateLabel, AssetInfo_DescriptionLabel, null, "AssetListGrid_dx", AssetInfo_NestedGrid_AccessID, AssetInfo_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            ViewDocument(AssetInfo_AtachmentID, AssetInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(AssetInfo_MasterRowRecID, "Profile_Assets", "Movable Asset Information", "AssetListGrid_dx", AssetInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (AssetInfo_Doc_Category.toLowerCase() == "others")
            {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else
            {
                AttachmentAddReason(AssetInfo_MasterRowRecID, AssetInfo_NestedRowMapID, "Profile_Assets", "AssetListGrid_dx", AssetInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(AssetInfo_MasterRowRecID, AssetInfo_NestedRowMapID, "Profile_Assets", "AssetListGrid_dx", AssetInfo_NestedGrid_AccessID, AssetInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(AssetInfo_MasterRowRecID, AssetInfo_NestedRowMapID, "AssetListGrid_dx", AssetInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction")
        {
            AssetPrf_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit")
        {
            if (AssetInfo_Nested_Doc_Status == "")
            {
                AssetPrf_FAB.SetActionContext("AutoItemContext", true);
            }
            if (AssetInfo_Nested_Doc_Status == "NO")
            {
                AssetPrf_FAB.SetActionContext("EditItemContext", true);
            }
            if (AssetInfo_Nested_Doc_Status == "YES")
            {
                AssetPrf_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept")
        {
            AssetInfo_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject")
        {
            AssetInfo_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks")
        {
            AssetInfo_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc") {

            OnAssetInfo_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc") {

            OnAssetInfo_RejectDoc();
        }
    }
    function OnAssetInfo_RejectDoc() {
        if (AssetInfo_AtachmentID == null || AssetInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(AssetInfo_AtachmentID, "AssetListGrid_dx", AssetInfo_NestedGrid_AccessID);
    }
    function OnAssetInfo_AcceptDoc() {
        if (AssetInfo_AtachmentID == null || AssetInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(AssetInfo_AtachmentID, "AssetListGrid_dx", AssetInfo_NestedGrid_AccessID);
    }
    function AssetInfo_AcceptwithoutRemarks()
    {
        var Recid;
        if (AssetInfo_IsDetailRowExpanded == true || Asset_IsVouchingMode == true)
        {
            if (AssetInfo_MasterRowRecID == null || AssetInfo_MasterRowRecID == "")
            {
                Recid = AssetID;
            }
            else
            {
                Recid = AssetInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = AssetID;
        }
        Entry_AcceptwithoutRemarks(Recid, "Profile_Assets", "AssetListGrid_dx", AssetInfo_AtachmentID, AssetInfo_NestedRowReasonID, AssetInfo_NestedRowKeyValue);
    }
    function AssetInfo_AcceptRejectVoucher(_actionMethod)
    {
        var Recid;
        if (AssetInfo_IsDetailRowExpanded == true || Asset_IsVouchingMode == true)
        {
            if (AssetInfo_MasterRowRecID == null || AssetInfo_MasterRowRecID == "")
            {
                Recid = AssetID;
            }
            else
            {
                Recid = AssetInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = AssetID;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_Assets", "AssetListGrid_dx", AssetInfo_AtachmentID, AssetInfo_NestedRowReasonID, AssetInfo_NestedRowKeyValue);
    }
    </script>
    @*attachment and nested grid*@
    @*devextreme*@
    <script>
        var AssetListGrid_dx = null;
        var VisibleColumns_AssetListGrid_dx = [];
        var Expanded_Row_Key_Asset_dx = null;
    </script>
    <script>
        function closeProfile_Asset() {
            DxGrid_EventsOnScreenClose(AssetListGrid_dx)
            $(".TabPanalMenu-tabs .active span").click();
        }
        function Asset_UpdateFooterDetail(AssetID, Asset_Action_Status, Asset_Add_Date, Asset_Add_By, Asset_Action_Date, Asset_Action_By, Asset_Edit_Date, Asset_Edit_By) {
            Asset_Action_Date = Asset_Action_Date != "" && Asset_Action_Date != null ? Asset_Action_Date : Asset_Action_Date;
            Asset_Edit_Date = Asset_Edit_Date != "" && Asset_Edit_Date != null ? Asset_Edit_Date : Asset_Edit_Date;
            Asset_Add_Date = Asset_Add_Date != "" && Asset_Add_Date != null ? Asset_Add_Date : Asset_Add_Date;
            $.ajax({
                type: 'GET',
                url: "/Profile/Asset/CreationDetail",
                data: {
                    Xrow: AssetID, Action_Status: Asset_Action_Status, Add_Date: Asset_Add_Date,
                    Add_By: Asset_Add_By, Action_Date: Asset_Action_Date, Action_By: Asset_Action_By, Edit_Date: Asset_Edit_Date, Edit_By: Asset_Edit_By
                },
                cache: false,
                success: function (AssetLbl_result) {
                    $('#Asset_Lbl_ActionOn').text(AssetLbl_result.Lbl_StatusOn);
                    $('#Asset_Lbl_ActionBy').text(AssetLbl_result.Lbl_StatusBy);
                    $('#AssetLbl_Status').text(AssetLbl_result.Lbl_Status);
                    $('#AssetLbl_Create').text(AssetLbl_result.Lbl_Create);
                    $('#AssetLbl_Modify').text(AssetLbl_result.Lbl_Modify);
                    if (AssetLbl_result.Lbl_Status_Color != "") {
                        $('#AssetLbl_Status').css('color', AssetLbl_result.Lbl_Status_Color);
                    }
                    if (AssetLbl_result.Pic_Status != "") {
                        $('#Asset_LockICON').css('class', AssetLbl_result.Pic_Status);
                    }

                }
            });
        }
        function Asset_VouchingSwitch_ValueChange(e) {
            Asset_IsVouchingMode = e.value;
            if (AssetInfo_SetVouchingModeOn == true) {
                AssetInfo_SetVouchingModeOn = false;
            }
            else {
                AssetPrf_FAB.SetVisible(false);
            }
            if (Asset_IsVouchingMode == true) {
                OpenRightPane();
                ClearLeftPane();
                OpenLeftPane();
            }
            else {
                CloseRightPane();
                ClearLeftPane();
                CloseLeftPane();
            }
            AssetListGrid_dx.clearSelection();
            AssetListGrid_dx.option("masterDetail.enabled", !Asset_IsVouchingMode)
            AssetListGrid_dx.repaint();
        }
        function AssetchangeMode() {
            AssetListGrid_dx.beginUpdate();
            if (Asset_ShowHorizontalBar == 0) {
                Asset_ShowHorizontalBar = 1;
                $("#AssetToggleScrollBar").find("span").text("Default Data");
                $("#AssetToggleScrollBar").width(110);
                AssetListGrid_dx.option("columnHidingEnabled", false);
                AssetListGrid_dx.option("allowColumnResizing", true)
            }
            else {
                Asset_ShowHorizontalBar = 0;
                $("#AssetToggleScrollBar").find("span").text("Full Data");
                $("#AssetToggleScrollBar").width(90);
                AssetListGrid_dx.option("columnHidingEnabled", true)
                AssetListGrid_dx.option("allowColumnResizing", false)
            }
            AssetListGrid_dx.endUpdate();
        }
        function Asset_ViewSwitch_ValueChange(e) {
            Asset_ViewMode = e.value == false ? "Default" : "Compact";
            if (AssetInfo_SetVouchingModeOn == true) {
                $("#AssetViewModeSwitch").dxSwitch("instance").option("value", true);
            }
            AssetListGrid_dx.beginUpdate();
            var columns = AssetListGrid_dx.option("columns");
            if (Asset_ViewMode == "Compact") {
                VisibleColumns_AssetListGrid_dx = [];
                for (var i = 0; i < columns.length; i++) {
                    var name = columns[i].dataField;
                    var ColumnVisible = AssetListGrid_dx.columnOption(name, "visible");
                    if (name == "AssetListGrid_dx_Compact_Column") {
                        AssetListGrid_dx.columnOption(name, "visible", true);
                    }
                    else if (ColumnVisible == true && name != "iIcon") {
                        VisibleColumns_AssetListGrid_dx.push(name);
                        AssetListGrid_dx.columnOption(name, "visible", false);
                    }
                }
            }
            else {
                AssetListGrid_dx.columnOption("AssetListGrid_dx_Compact_Column", "visible", false);
                for (var i = 0; i < VisibleColumns_AssetListGrid_dx.length; i++) {
                    AssetListGrid_dx.columnOption(VisibleColumns_AssetListGrid_dx[i], "visible", true);
                }
            }
            AssetListGrid_dx.repaint();
            AssetListGrid_dx.endUpdate();
        }

    </script>
    <script>

        function AssetListGrid_dx_OnInitialized(e) {
            DxGrid_AdjustSize(e.component, $("#Asset_ParentDiv .report_button_div"))
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                DxGrid_AdjustSize(e.component, $("#Asset_ParentDiv .report_button_div"), "", evt)
            });
            AssetListGrid_dx = e.component;
        }
        function AssetListGrid_dx_OnCellPrepared(e) {
            if (e.rowType == "data") {
                if (Asset_IsVouchingMode == true) {
                    if (e.column.dataField === "iIcon") {
                        $(e.cellElement).attr("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + e.key + "')");
                        $(e.cellElement).attr("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + e.key + "')");
                    }
                }
                $(e.cellElement).attr("id", e.element[0].id + "_Cell_" + e.key + "|" + e.column.dataField);
            }
        }
        function AssetListGrid_dx_OnRowPrepared(e) {
            if (e.rowType == "data") {
                var GridName = e.element[0].id;
                $(e.rowElement).addClass(GridName + "_DataRow_" + e.key)
                if (e.data.RemarkStatus != null && e.data.RemarkStatus == "OPEN" || e.data.RemarkStatus == "REOPENED") {
                    $(e.rowElement).css("background-color", "gold");
                }
                if (e.data.RemarkStatus == null && e.data.Remarks != null && e.data.Remarks == true && e.data.CrossedTimeLimit != null && e.data.CrossedTimeLimit == 0) {
                    $(e.rowElement).css("background-color", "lightgreen");
                }
                if (e.data.CrossedTimeLimit != null && e.data.CrossedTimeLimit > 0) {
                    $(e.rowElement).css("background-color", "mistyrose");
                }
                DxGrid_CreatePreviewRow(e, Asset_IsVouchingMode, "Master")
            }
            else if (e.rowType == "detailAdaptive") {
                DxGrid_MovePreviewRowAfterAdaptiveRow(e)
            }
        }
        function AssetListGrid_dx_OnContentReady(e) {
            DxGrid_OnContentReady(e, Asset_ShowHorizontalBar);
        }
        function AssetListGrid_dx_OnCellDblClick(e) {
            if (e.rowType == "data") {
                if (Asset_IsVouchingMode == true && Asset_ViewMode == "Default") {
                    OnGridCellClick(e.event, e.cellElement[0], e.columnIndex, e.rowIndex, e.element[0].id, e.key, e.column.dataField)
                }
                else if (Asset_IsVouchingMode == false) {
                    //if (e.rowType == "data")
                    //BankProfile_OnEditClick_dx();
                }
            }
        }
        function AssetListGrid_dx_OnSelectionChanged(e) {
            var selectedRowKeys = e.selectedRowKeys;
            if (selectedRowKeys != null && selectedRowKeys.length > 0) {
                if (Asset_IsVouchingMode) {
                    AssetPrf_FAB.SetVisible(true);
                    AssetPrf_FAB.SetActionContext("AddAttachmentContext", false);
                }
                AssetListGrid_dx_SelectedRowData(e.selectedRowsData);
            }
            else {
                AssetID = null;
                Asset_UpdateFooterDetail(AssetID, Asset_ActionStatus, Asset_AddDate, Asset_AddBy,
                    Asset_ActionDate, Asset_ActionBy, Asset_EditDate, Asset_EditBy);
            }
        }
        function AssetListGrid_dx_SelectedRowData(selectedData = null) {
            if (selectedData == null) {
                selectedData = AssetListGrid_dx.getSelectedRowsData();
            }
            if (selectedData != null && selectedData.length > 0) {
                var values = selectedData[0]
                AssetID = values["ID"]
                Asset_EditDate = values["Edit_Date"];
                Asset_EditBy = values["Edit_By"];
                Asset_AddDate = values["Add_Date"];
                Asset_AddBy = values["Add_By"];
                Asset_ActionDate = values["Action_Date"];
                Asset_ActionBy = values["Action_By"];
                Asset_ActionStatus = values["Action_Status"];
                Asset_UpdateFooterDetail(AssetID, Asset_ActionStatus, Asset_AddDate, Asset_AddBy,
                    Asset_ActionDate, Asset_ActionBy, Asset_EditDate, Asset_EditBy);
                if (Asset_IsVouchingMode == true) {
                    OpenLeftPane();
                    LeftPaneContent_Asset_dx("AssetListGrid_dx", AssetID, Asset_IsVouchingMode)
                }
            }
            else {
                AssetID = null;
            }
        }
        function AssetListGrid_dx_OnRowExpanding(e) {
            if (Array.isArray(e.key) == false) //not group row
            {
                e.component.collapseRow(Expanded_Row_Key_Asset_dx)
                e.component.selectRows(e.key);
                Expanded_Row_Key_Asset_dx = e.key;
                AssetInfo_IsDetailRowExpanded = true;
                var DetailGridID = e.element[0].id + e.key;
                var instance = $("div[id='" + DetailGridID + "']").dxDataGrid("instance")
                if (instance != void 0) {
                    instance.state(null) // grid maintains its state after collapsing so resetting the state when expands again as per old grid
                }
                //e.component.collapseAll(-1);
            }
            else {
                e.component.option("CustomProp.groupRowExpanded", true);
            }
        }
        function AssetListGrid_dx_OnRowCollapsing(e) {
            if (Array.isArray(e.key) == false) //not group row
            {
                var DetailGridID = e.element[0].id + e.key;
                sessionStorage.removeItem(DetailGridID + "_DetailGridState") //removing grid state from session storage on collapse
                AssetInfo_IsDetailRowExpanded = false;
                e.component.selectRows(e.key);
                if (Asset_IsVouchingMode == false) {
                    AssetPrf_FAB.SetVisible(false);
                }
                var instance = $("div[id='" + DetailGridID + "']").dxDataGrid("instance")
                if (instance != void 0) {
                    instance.clearSelection();
                }
            }
            else {
                e.component.option("CustomProp.groupRowCollapsed", true);
            }
        }
        function AssetListGrid_dx_OnContextMenuPreparing(e) {
            if (!e.items) e.items = [];
            if (e.target == "header") {

                DxGrid_HeaderContextMenu(e)
            }
            else if ((e.target == "content" && e.row && e.row.rowType == "groupFooter") || e.target == "footer") {
                if (Asset_ViewMode == "Compact")
                    DxGrid_FooterContextMenu(e, true);
                else
                    DxGrid_FooterContextMenu(e);
            }
            else if (e.target == "content" && e.row && (e.row.rowType == "data" || e.row.rowType == "detailAdaptive")) {
                var key = e.component.getKeyByRowIndex(e.row.rowIndex);
                e.component.selectRows(key);
                var expanded = e.component.isRowExpanded(key);
                e.items = [
                    {
                        text: "Expand Detail",
                        icon: "fa-solid fa-arrow-down-wide-short " + (expanded ? "text-muted" : "text-info"),
                        disabled: expanded,
                        visible: !Asset_IsVouchingMode,
                        onItemClick: function () {
                            if (expanded) {
                            }
                            else {
                                e.component.expandRow(key);
                            }
                        }
                    }, {
                        text: "Collapse Detail",
                        icon: "fa-solid fa-arrow-up-wide-short " + (!expanded ? "text-muted" : "text-info"),
                        disabled: !expanded,
                        visible: !Asset_IsVouchingMode,
                        onItemClick: function () {
                            if (expanded) {
                                e.component.collapseRow(key);
                            }
                            else {
                            }
                        }
                    },
                    {
                        text: "Export",
                        icon: "fa-solid fa-file-export text-warning",
                        visible: "@MovAsset_ExportRight" == "True",
                        beginGroup: true,
                        onItemClick: function () {
                            OnAssetListPreviewClick();
                        }
                    },
                    {
                        text: "Close",
                        icon: "fa-solid fa-rectangle-xmark text-danger",
                        beginGroup: true,
                        onItemClick: function () {
                            closeProfile_Asset();
                        }
                    },
                    {
                        text: "Refresh",
                        icon: "fa-solid fa-arrow-rotate-right text-success",
                        beginGroup: true,
                        onItemClick: function () {
                            AssetListGrid_dx_Refresh()
                        }
                    }]
            }
        }

        function AssetListGrid_dx_DetailTemplate(container, templateData) {
            var GridName = templateData.component.element()[0].id
            var RecID = templateData.data.ID;
            AssetListGrid_dx_Detail(container, GridName, RecID, Asset_IsVouchingMode, Asset_ShowHorizontalBar);
        }
        function AssetListGrid_dx_Detail(container, GridName, RecID, vouchingMode, AllColumns)
        {
            var url = "/Profile/Asset/Frm_Asset_Info_DetailGrid_dx?VouchingMode=" + vouchingMode + "&RecID=" + RecID
            var instance = DxGrid_AttachmentGrid_Create(container, GridName, RecID, vouchingMode, AllColumns, url)
            instance.option("onSelectionChanged", AssetListGrid_dx_Detail_onSelectionChanged);            
        }    
        function AssetListGrid_dx_Detail_onSelectionChanged(e) {
            if (AssetInfo_IsDetailRowExpanded || Asset_IsVouchingMode) {
                if (e.selectedRowsData != null && e.selectedRowsData.length > 0) {
                    AssetInfo_NestedGrid_AccessID = e.element[0].id;
                    AssetListGrid_dx_Detail_SelectedRowData(e.selectedRowsData)
                }
                else {
                    AssetPrf_FAB.SetActionContext("AddAttachmentContext", false);
                }
            }
        }
        function AssetListGrid_dx_Detail_SelectedRowData(selectedData = null) {
            if (selectedData == null) {
                selectedData = $("#" + AssetInfo_NestedGrid_AccessID).dxDataGrid("getSeletedRowsData");
            }
            var values = selectedData[0];
            AssetInfo_NestedRowKeyValue  = values["UniqueID"];
            if (values["UniqueID"] != null) {
                AssetPrf_FAB.SetVisible(true);
                AssetInfo_Nested_Doc_Status = values["Doc_Status"];

                if (Asset_IsVouchingMode == true) {
                    AssetPrf_FAB.SetActionContext("AuditActionContext", true);
                }
                else {
                    if (AssetInfo_Nested_Doc_Status == "") {
                        AssetPrf_FAB.SetActionContext("AutoItemContext", true);
                    }
                    else if (AssetInfo_Nested_Doc_Status == "NO") {
                        AssetPrf_FAB.SetActionContext("EditItemContext", true);
                    }
                    else if (AssetInfo_Nested_Doc_Status == "YES") {
                        AssetPrf_FAB.SetActionContext("actionItemContext", true);
                    }
                }
                AssetInfo_ParamMandatory  = values["Params_Mandatory"];
                AssetInfo_FromDateLabel  = values["LABEL_FROM_DATE"];
                AssetInfo_ToDateLabel  = values["LABEL_TO_DATE"];
                AssetInfo_DescriptionLabel  = values["LABEL_DESCRIPTION"];
                AssetInfo_Doc_Category  = values["Document_Category"];
                AssetInfo_Doc_ID  = values["Document_ID"];
                AssetInfo_AtachmentID  = values["ATTACH_ID"];
                IndexAttachmentID  = AssetInfo_AtachmentID ;
                AssetInfo_MasterRowRecID  = values["TxnID"];
                AssetInfo_MasterRowMID  = values["TxnMID"];
                AssetInfo_NestedRowMapID  = values["MAP_ID"];
                AssetInfo_reason  = values["Reason"];
                AssetInfo_FileName  = values["ATTACH_FILE_NAME"];
                AssetInfo_Attachment_RecStatus  = values["Attachment_Action_Status"];
                if (Asset_IsVouchingMode == true) {
                    if (AssetInfo_FileName != null && AssetInfo_FileName .length > 0) {
                        ViewDocument(AssetInfo_AtachmentID, AssetInfo_FileName, "DepositsPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                    }
                    else {
                        CloseRightPane();
                        ClearRightPane();
                    }
                }
            }
            AssetInfo_NestedRowReasonID  = values["ReasonID"];
            IndexAttachmentReasonID = AssetInfo_NestedRowReasonID;
        }       
    </script>
    <script>
        function AssetListGrid_dx_Refresh() {
            AssetListGrid_dx.refresh().done(function () { ActionAfterDataGridRefresh_AssetListGrid_dx() })
        }
        async function ActionAfterDataGridRefresh_AssetListGrid_dx() {
            var selectedRowKeys = AssetListGrid_dx.getSelectedRowKeys()
            if (selectedRowKeys != null && selectedRowKeys.length > 0) {
                AssetListGrid_dx.clearSelection()
                AssetListGrid_dx.selectRows(selectedRowKeys)
            }
        }
        function AssetListGrid_dx_iIconTemplate(container, templateData) {
            var iREQ_ATTACH_COUNT = templateData.data.REQ_ATTACH_COUNT
            var iCOMPLETE_ATTACH_COUNT = templateData.data.COMPLETE_ATTACH_COUNT
            var iRESPONDED_COUNT = templateData.data.RESPONDED_COUNT
            var iREJECTED_COUNT = templateData.data.REJECTED_COUNT
            var iOTHER_ATTACH_CNT = templateData.data.OTHER_ATTACH_CNT
            var iALL_ATTACH_CNT = templateData.data.ALL_ATTACH_CNT
            var iIcon = templateData.data.iIcon
            var UniqueID = templateData.component.element()[0].id
            var key = templateData.data.ID
            var VisibleIndex = templateData.rowIndex
            var htmlString = "";
            htmlString = DxGrid_AttachmentIcons(iREQ_ATTACH_COUNT, iCOMPLETE_ATTACH_COUNT, iRESPONDED_COUNT, iREJECTED_COUNT, iOTHER_ATTACH_CNT, iALL_ATTACH_CNT);
            htmlString += DxGrid_VouchingAuditIcons(iIcon)
            htmlString += DxGrid_AuditIconAfterClick(UniqueID, key, VisibleIndex)
            $(container).html(htmlString)
        }
        function AssetListGrid_dx_Compact_Column_Template(container, templateData) {
            var Name = templateData.component.element()[0].id;
            var KeyValue = templateData.data.ID;
            var VouchingMode = Asset_IsVouchingMode == true ? "True" : "False";

            var htmlString = "<div class='container-fluid'>" +
                "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Item:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Item' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Item + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Make:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Make' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Make + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Model:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Model' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Model + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Purchase/Creation Date:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|AI_PUR_DATE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                (JS_Json_Date_To_ddMMyyyy((templateData.data.AI_PUR_DATE ?? ""), "DD-MM-YYYY HH:mm:ss") ?? "") + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Opening Insurance Amount:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|AI_AMT_FOR_INS' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.AI_AMT_FOR_INS + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Closing Insurance Amount:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|AI_CLOSE_FOR_INS' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                (templateData.data.AI_CLOSE_FOR_INS ?? "") + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Opening Value:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|AI_PUR_AMT' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.AI_PUR_AMT + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Curr. Value:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Curr_Value' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Curr_Value + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Sale Qty:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|sale_quantity' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                (templateData.data.sale_quantity ?? "") + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Quantity:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Quantity' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                (templateData.data.Quantity ?? "") + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Curr_Qty:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Curr_Qty' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Curr_Qty + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Rate:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Rate' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Rate + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Location:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Location' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Location + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Other Detail:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|AI_OTHER_DETAIL' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.AI_OTHER_DETAIL + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Sale Status:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Sale_Status' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Sale_Status + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Acount Type:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|BA_ACCOUNT_TYPE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.BA_ACCOUNT_TYPE + "</div></div>";

            if ("@CheckActionRights") {
                htmlString += "<div class='row'>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                    "<label class='control-label'>ASSET TYPE:</label></div>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|ASSET_TYPE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                    templateData.data.ASSET_TYPE + "</div>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                    "<label class='control-label'>Entry Type:</label></div>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Entry_Type' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                    templateData.data.Entry_Type + "</div></div>";
                htmlString += "<div class='row'>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                    "<label class='control-label'>Action Status:</label></div>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Action_Status' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                    templateData.data.Action_Status + "</div>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                    "<label class='control-label'>Head:</label></div>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Head' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                    templateData.data.Head + "</div></div>";
                htmlString += "<div class='row'>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                    "<label class='control-label'>Reference:</label></div>" +
                    "<div class='col-sm-12 col-md-9 col-lg-9 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Special_Ref' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                   templateData.data.Special_Ref + "</div></div></div>";


            }
            else {
                htmlString += "<div class='row'>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                    "<label class='control-label'>ASSET TYPE:</label></div>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|ASSET_TYPE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                    templateData.data.ASSET_TYPE + "</div>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                    "<label class='control-label'>Reference:</label></div>" +
                    "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Special_Ref' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                    templateData.data.Special_Ref + "</div></div>";
            }
            $(container).html(htmlString)
        }
        function AssetListGrid_dx_Compact_Column_CellValue(rowData) {
            var data =
                [
                    rowData.Item, rowData.Make, rowData.Model, rowData.AI_PUR_DATE, rowData.AI_AMT_FOR_INS, rowData.AI_CLOSE_FOR_INS, rowData.AI_PUR_AMT,
                    rowData.Curr_Value, rowData.sale_quantity, rowData.Quantity, rowData.Curr_Qty, rowData.Rate, rowData.Location,
                    rowData.AI_OTHER_DETAIL, rowData.Sale_Status, rowData.ASSET_TYPE, rowData.Entry_Type, rowData.Action_Status, rowData.Head, rowData.Special_Ref

                ]
            return data.join(" ")
        }
        function AssetListGrid_dx_GroupCell_Template(container, templateData) {
            DxGrid_GroupCell_Template(container, templateData)
        }
                    
        function LeftPaneContent_Asset_dx(GridName, RecID, vouchingMode, AllColumns = 0) {
            $("#LeftPane_Div_Content").html(null);
            $("#LeftPane_Div_Content").append("<div class='col-xs-12'><label>Documents Attached:</label><div class='AttachmentGrid'><form></form></div></div><div class='col-xs-12'><label>Additional Info:</label><div class='AdditionalInfoGrid'><form></form></div></div>")
            AssetListGrid_dx_Detail($("#LeftPane_Div_Content .AttachmentGrid>form"), GridName, RecID, vouchingMode, AllColumns)
            setTimeout(function () {
                AdditionalInfoGrid_Asset_dx($("#LeftPane_Div_Content .AdditionalInfoGrid>form"), GridName, RecID, vouchingMode, AllColumns)
            })
        }
        function AdditionalInfoGrid_Asset_dx(container, GridName, RecID, vouchingMode, AllColumns)
        {
            var url = "/Profile/Asset/AdditionalInfo_Grid_dx?VouchingMode=" + vouchingMode + "&RecID=" + RecID
            DxGrid_CreateAdditionalInfoGrid(container, GridName, RecID, vouchingMode, AllColumns, url)   
        }

    </script>
</div>