<div class="AssetProfile_ClearReferences">
    @using DevExtreme.AspNet.Mvc; 

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        string UserType = (string)ViewBag.UserType;
        bool MovAsset_AddRight = (bool)ViewData["MovAsset_AddRight"];
        bool MovAsset_UpdateRight = (bool)ViewData["MovAsset_UpdateRight"];
        bool MovAsset_ViewRight = (bool)ViewData["MovAsset_ViewRight"];
        bool MovAsset_DeleteRight = (bool)ViewData["MovAsset_DeleteRight"];
        bool MovAsset_ExportRight = (bool)ViewData["MovAsset_ExportRight"];
        bool MovAsset_LockUnlockRight = (bool)ViewData["MovAsset_LockUnlockRight"];
        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
        bool AssetInfo_Auto_Vouching_Mode = (bool)ViewData["AssetInfo_Auto_Vouching_Mode"];
    }
    <div id="Asset_ParentDiv">
        <div id="content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">Movable Asset Information</label>
            </div>
            @*Buttons*@
            <div class="report_button_div">
                @(Html.DevExtreme().Switch().ID("AssetVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("Asset_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Switch().ID("AssetViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("Asset_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @if (ViewBag.LockUnlock != false)
                {
                    @(Html.DevExtreme().Button()
                                                                                                    .ID("AssetModelUnlock")
                                                                                                    .Text("Unlock")
                                                                                                    .Icon("add")
                                                                                                    .Disabled(true)
                                                                                                    .Visible(false)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        AssetOnUnlockClick();
                                                                                                        }
                                                                                                    </text>)
                )
                    @(Html.DevExtreme().Button()
                                                                                                    .ID("AssetModelLock")
                                                                                                    .Text("Lock")
                                                                                                    .Icon("add")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnAssetLockClick();
                                                                                                        }
                                                                                                    </text>)
                )
                }

                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetModelNew")
                                                                                            .Text("New")
                                                                                            .Icon("add")
                                                                                            .Visible(false)
                                                                                            .Disabled(true)
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                OnAssetNewClick();
                                                                                                }
                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetModelEdit")
                                                                                            .Text("Edit")
                                                                                             .Icon("edit")
                                                                                             .Visible(false)
                                                                                             .Disabled(true)
                                                                                             .OnClick(@<text>
                                                                                                function () {
                                                                                                OnAssetEditClick();
                                                                                                }
                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetModelDelete")
                                                                                            .Text("Delete")
                                                                                            .Icon("trash")
                                                                                            .Visible(false)
                                                                                            .Disabled(true)
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                OnAssetDeleteClick();
                                                                                                }
                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetModelView")
                                                                                            .Text("View")
                                                                                            .Icon(IconID.ViewCustomers16x16devav)
                                                                                            .Icon("doc")
                                                                                            .Visible(false)
                                                                                            .Disabled(true)
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                OnAssetViewClick();
                                                                                                }
                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetToggleScrollBar")
                                                                                            .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                                                                                            .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                                                                                            .Icon("toolbox")
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                AssetchangeMode();
                                                                                                }
                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetModelListPreview")
                                                                                            .Text("Export")
                                                                                            .Icon("save")
                                                                                            .Width(80)
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                OnAssetListPreviewClick();
                                                                                                }
                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                            .ID("AssetModelCLOSE")
                                                                                            .Text("Close")
                                                                                            .Icon("clear")
                                                                                            .OnClick(@<text>
                                                                                                function (){closeProfile_Asset();}
                                                                                            </text>)

            )
            </div>
        </div>
        <div class="col-md-12 no-padding">
            <form>
                <div id="AssetreloadPartialView" class="parent_table">
                    @Html.Partial("Frm_Asset_Info_Grid", Model)
                </div>
            </form>
        </div>
        <div class="footer-MainBoxdiv full-width-footer">
            @*<div class="col-lg-8 report_footer_small_buttons_div" id="AssetFooterItem">*@
            <div class="list_footer_left_margin col-md-10">
                <div>
                    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id="Asset_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="Asset_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                            @*<div class="footer-locktext">
                                    <div id="AssetLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                                </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id="AssetLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id="AssetLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list_footer_right_margin_consistent col-md-1">
                @*<i id="Asset_LockICON" class="fa fa-lock lock_symbol"></i>*@
            </div>
        </div>
        @Html.Partial("AttachmentFAB", "AssetPrf_FAB,AssetProfile_grid_DIV,Type1,AssetProfile," + UserType) @*fab buttons*@
        <div class="col-md-12">
            @*Add/Edit Popup*@
            @(Html.DevExtreme().Popup().CustomPopup()
                                    .ID("Asset_report_modal")
                                    .OnShowing("PopupOnShowing")
                                    .Title("Asset List Preview")
                                    .FullScreen(false)
                                    .MaxWidth(125)
                                    .Height("auto")
                                    .ShowCloseButton(true)
                                    .ContentTemplate(@<text>
                                        <div id='Asset_report_modal_result'>
                                        </div>
                                    </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                    .ID("popup_frm_Asset_Window")
                                    .Title("Asset")
                                    .OnShowing("PopupOnShowing")
                                    .ShowCloseButton(true)
                                    .ContentTemplate(@<text>
                                        <div id="Assetresult">
                                        </div>
                                    </text>)
                                            .OnHiding(@<text>
                                                function () {
                                                if(IsAssetSucessPopup == false && IsAssetViewPopup == false)
                                                {
                                                var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                                result.done(function (dialogResult) {
                                                if(dialogResult){
                                                $("#popup_frm_Asset_Window").dxPopup("hide");
                                                }else
                                                {
                                                $("#popup_frm_Asset_Window").dxPopup("show");
                                                }
                                                });
                                                }
                                                }
                                            </text>)
        )
        </div>
    </div>
    @*Javascript Events*@
<script type="text/javascript">
    var IsAssetSucessPopup = false;
    var IsAssetViewPopup = false;
    var Asset_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var AssetInfo_SetVouchingModeOn = "@AssetInfo_Auto_Vouching_Mode" == "True" ? true : false;
    var Asset_ViewMode = "Default";
    var UserType_AssetPrf = "@UserType".toUpperCase();
    var Asset_IsVouchingMode = false;
    var Asset_FocusedRowBeforeRefresh;

            $(document).ready(function () {               // alert('ready');
          
                if ("@MovAsset_AddRight" == "False")
                {
	                $("#AssetModelNew").hide();
                }
                if ("@MovAsset_UpdateRight" == "False")
                {
                    $("#AssetModelEdit").hide();
                }
                if ("@MovAsset_ViewRight" == "False")
                {
                    $("#AssetModelView").hide();
                }
                if ("@MovAsset_DeleteRight" == "False")
                {
                    $("#AssetModelDelete").hide();
                }
                if ("@MovAsset_ExportRight" == "False")
                {
                    $("#AssetModelListPreview").hide();
                }
                if ("@MovAsset_LockUnlockRight" == "False")
                {
                    $("#AssetModelUnlock").hide();
                    $("#AssetModelLock").hide();
                }
                IsAssetSucessPopup = false;
                IsAssetViewPopup = false;
                //SetAssetGroupPanelFooterVisible();
                //$("#AssetListGrid").hover(function () {
                //    AssetListGrid.Focus()
                //})
                $(".AssetListGrid_PreviewRow").hide();
                GetSessionStorage("AssetListGrid");
                if (AssetInfo_SetVouchingModeOn == true)
                {
                    $("#AssetViewModeSwitch").dxSwitch("instance").option("value", true);
                }
            });
            $(".TabPanalMenu-tabs .active span").on("click", function () {
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Asset/SessionClear",
                    cache: false
                });
                CloseRightPane();
                ClearLeftPane();
                CloseLeftPane();
                ClearAllReferences_AssetProfile();
            });

        function ClearAllReferences_AssetProfile() {
            IsAssetSucessPopup = null;
            IsAssetViewPopup = null;
            Asset_ShowHorizontalBar = null;
            AssetInfo_SetVouchingModeOn = null;
            Asset_ViewMode = null;
            UserType_AssetPrf = null;
            Asset_IsVouchingMode = null;
            Asset_FocusedRowBeforeRefresh = null;
            AssetID = null;
            Asset_EditDate = null;
            Asset_AddDate = null;
            Asset_AddBy = null;
            Asset_EditBy = null;
            Asset_ActionStatus = null;
            Asset_ActionDate = null;
            Asset_ActionBy = null;
            AssetInfo_IsDetailRowExpanded = null;
            AssetInfo_NestedRecord_FocusedRowIndex = null;
            AssetInfo_NestedGrid_AccessID = null;
            AssetInfo_AtachmentID = null;
            AssetInfo_FileName = null;
            AssetInfo_ParamMandatory = null;
            AssetInfo_FromDateLabel = null;
            AssetInfo_ToDateLabel = null;
            AssetInfo_DescriptionLabel = null;
            AssetInfo_Doc_ID = null;
            AssetInfo_Doc_Category = null;
            AssetInfo_MasterRowRecID = null;
            AssetInfo_MasterRowMID = null;
            AssetInfo_NestedRowMapID = null;
            AssetInfo_reason = null;
            AssetInfo_Attachment_RecStatus = null;
            AssetInfo_NestedRowReasonID = null;
            AssetInfo_NestedRowKeyValue = null;


            ClearAllReferences("AssetProfile_ClearReferences");

        }
    function OnAssetCellClick(event, cell,col, row)
    {
        if (UserType_AssetPrf == "AUDITOR" || UserType_AssetPrf == "SUPERUSER")
        {
            if (event.button == 0)
            {
                if (cell.style.backgroundColor.length > 0) {
                    cell.style.backgroundColor = "";
                }
                else
                {
                    cell.style.backgroundColor = 'skyblue';
                }
            }
        }
    }

    function Asset_VouchingSwitch_ValueChange(e)
    {
        Asset_IsVouchingMode = e.value;
        //AssetListGrid.SetFocusedRowIndex(-1);
        if (AssetInfo_SetVouchingModeOn == true)
        {
            AssetInfo_SetVouchingModeOn = false;
        }
        else
        {
            AssetPrf_FAB.SetVisible(false);
        }
        if (Asset_IsVouchingMode == true) {
            OpenRightPane();
            ClearLeftPane();
            OpenLeftPane();
        }
        else {
            AssetPrf_FAB.SetActionContext("AddAttachmentContext", false);
            CloseRightPane();
            ClearLeftPane();
            CloseLeftPane();
        }
        AssetListGrid_CollapseAllDetailRows();
    }
    function AssetListGrid_CollapseAllDetailRows()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.AssetListGrid !== 'undefined')
            {
                if (typeof window.AssetListGrid.CollapseAllDetailRows !== 'undefined')
                {
                    if (typeof AssetListGrid.CollapseAllDetailRows == 'function')
                    {
                        AssetListGrid.SetFocusedRowIndex(-1);
                        AssetListGrid.CollapseAllDetailRows();
                    }
                    else
                    {
                        alert("CollapseAllDetailRows is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        AssetListGrid_CollapseAllDetailRows();
                        HideLoader();
                    }, 500);
                }
            }
            else {
                alert('grid undefined')
            }
        }
        else {
            alert('window undefined')
        }
    }
    function Asset_ViewSwitch_ValueChange(e)
    {
        Asset_ViewMode = e.value == false ? "Default" : "Compact";
        if (AssetInfo_SetVouchingModeOn == true)
        {
            $("#AssetVouchingModeSwitch").dxSwitch("instance").option("value", true);
        }
        else
        {
            AssetListGrid.CollapseAllDetailRows();
        }
        //AssetListGrid.CollapseAllDetailRows();
    }
    function AssetOnInit(s, e) {        
        //  alert('AssetOnInit');       
                AssetAdjustSize(s,e);
                ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                   AssetAdjustSize(s,e);
                });
    }
    var Asset_ColumnToBeShownIndex = "";
    var Asset_ColumnToBeHidddenIndex = "";
    var AssetGridLayout = null;
    function OnGridAssetListGrid_EndCallback(s, e)
    {
        Asset_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
        Asset_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex;
        AssetGridLayout = s.cpClientLayout;
        $(".AssetListGrid_PreviewRow").hide();
        GetSessionStorage("AssetListGrid");
        SendCustomArgs_FilterControl(s, e);
        if (e.command == "REFRESH" && Asset_IsVouchingMode == true)
        {
            s.SetFocusedRowIndex(-1);
            s.SetFocusedRowIndex(Asset_FocusedRowBeforeRefresh);
        }
    }

            function AssetAdjustSize(s,e) {
                var height = (document.documentElement.clientHeight * 90) / 100;
                try { s.SetHeight(height); } catch (err) { }
            }
    function AssetchangeMode() {
        debugger;
                ShowLoader();
                if (Asset_ShowHorizontalBar == 0) {
                    Asset_ShowHorizontalBar = 1;
                    $("#AssetToggleScrollBar").find("span").text("Default Data");
                    $("#AssetToggleScrollBar").width(110);
                }
                else {
                    Asset_ShowHorizontalBar = 0;
                    $("#AssetToggleScrollBar").find("span").text("Full Data");
                    $("#AssetToggleScrollBar").width(90);
                }
                $.ajax({
                    url: '@Url.Action("Frm_Asset_Info_Grid", "Asset")',
                    type: "GET",
                    data: { ShowHorizontalBar: Asset_ShowHorizontalBar, Layout: AssetGridLayout, VouchingMode: Asset_IsVouchingMode, ViewMode: Asset_ViewMode  },
                    success: function (res) {
                        $("#AssetreloadPartialView").html(res);
                        $(".AssetListGrid_PreviewRow").hide();
                        GetSessionStorage("AssetListGrid");
                    }
                });
                HideLoader();
            }
            function AssetAjaxSuccessForm(data) {
                if (data.result == false) {
                    DevExpress.ui.dialog.alert(data.Message, "Error");
                }
                else {
                    IsAssetSucessPopup = true;
                    DevExpress.ui.dialog.alert(data.Message, "Success");
                    $("#popup_frm_Asset_Window").dxPopup("hide");
                    AssetListGrid.Refresh();
                    IsAssetSucessPopup = false;
                }
            }

            var AssetID;
            var Asset_EditDate;
            var Asset_AddDate;
            var Asset_AddBy;
            var Asset_EditBy;
            var Asset_ActionStatus;
            var Asset_ActionDate;
            var Asset_ActionBy;

            function Asset_dblclickEdit(s, e) {
                //var key = s.GetRowKey(s.GetFocusedRowIndex());
                //AssetListGrid.GetValuesOnCustomCallback({ key: key }, AssetOnGetRowValues);
                //if (AssetID != null || AssetID == 'undefined' || AssetID == undefined)
                //    OnAssetEditClick();
            }

    function AssetGrid_BeginCallBack(s, e)
    {
        Asset_FocusedRowBeforeRefresh = s.GetFocusedRowIndex();
        e.customArgs["command"] = e.command;
        e.customArgs["ShowHorizontalBar"] = Asset_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = Asset_IsVouchingMode;
        e.customArgs["ViewMode"] = Asset_ViewMode;
        e.customArgs["ColumnToBeShownIndex"] = Asset_ColumnToBeShownIndex;
        e.customArgs["ColumnToBeHidddenIndex"] = Asset_ColumnToBeHidddenIndex;
    }


    function OnAssetGridFocusedRowChanged(s, e)
    {
        if (s.GetFocusedRowIndex() >= 0)
        {
            if (!AssetListGrid.IsGroupRow(s.GetFocusedRowIndex()))
            {

                if (Asset_IsVouchingMode)
                {
                    AssetPrf_FAB.SetVisible(true);
                    AssetPrf_FAB.SetActionContext("VouchingActionContext", true);
                }
                var key = s.GetRowKey(s.GetFocusedRowIndex());
                AssetListGrid.GetValuesOnCustomCallback({ key: key }, AssetOnGetRowValues);
            }
            else
            {
                AssetID = null;
            }
        }
        else
        {
            AssetID = null;
        }
    }

            function AssetOnGetRowValues(AssetData) {
                var values = AssetData.split("![");
                AssetID = values[0];
                Asset_EditDate = values[1];
                Asset_AddDate = values[2];
                Asset_AddBy = values[3];
                Asset_EditBy = values[4];
                Asset_ActionStatus = values[5];
                Asset_ActionDate = values[6];
                Asset_ActionBy = values[7];
                Asset_UpdateFooterDetail(AssetID, Asset_ActionStatus, Asset_AddDate, Asset_AddBy,
                    Asset_ActionDate, Asset_ActionBy, Asset_EditDate, Asset_EditBy);

                if (Asset_IsVouchingMode == true)
                {
                    OpenLeftPane();
                    LoadDocumentAndAdditionalInfoInLeftPane("Profile", "Asset", "LeftPaneContent", AssetID, Asset_IsVouchingMode, "");
                }
            }

            function Asset_UpdateFooterDetail(AssetID, Asset_Action_Status, Asset_Add_Date, Asset_Add_By, Asset_Action_Date, Asset_Action_By, Asset_Edit_Date, Asset_Edit_By) {
                Asset_Action_Date = Asset_Action_Date != "" && Asset_Action_Date != null ? Asset_Action_Date : Asset_Action_Date;
                Asset_Edit_Date = Asset_Edit_Date != "" && Asset_Edit_Date != null ? Asset_Edit_Date : Asset_Edit_Date;
                Asset_Add_Date = Asset_Add_Date != "" && Asset_Add_Date != null ? Asset_Add_Date : Asset_Add_Date;
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Asset/CreationDetail",
                    data: {
                        Xrow: AssetID, Action_Status: Asset_Action_Status, Add_Date: Asset_Add_Date,
                        Add_By: Asset_Add_By, Action_Date: Asset_Action_Date, Action_By: Asset_Action_By, Edit_Date: Asset_Edit_Date, Edit_By: Asset_Edit_By
                    },
                    cache: false,
                    success: function (AssetLbl_result) {
                        $('#Asset_Lbl_ActionOn').text(AssetLbl_result.Lbl_StatusOn);
                        $('#Asset_Lbl_ActionBy').text(AssetLbl_result.Lbl_StatusBy);
                        $('#AssetLbl_Status').text(AssetLbl_result.Lbl_Status);
                        $('#AssetLbl_Create').text(AssetLbl_result.Lbl_Create);
                        $('#AssetLbl_Modify').text(AssetLbl_result.Lbl_Modify);
                        if (AssetLbl_result.Lbl_Status_Color != "") {
                            $('#AssetLbl_Status').css('color', AssetLbl_result.Lbl_Status_Color);
                        }
                        if (AssetLbl_result.Pic_Status != "") {
                            $('#Asset_LockICON').css('class', AssetLbl_result.Pic_Status);
                        }

                    }
                });
            }

            function OnAssetNewClick() {
                if ("@MovAsset_AddRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                IsAssetViewPopup = false;
                $("#popup_frm_Asset_Window").dxPopup("show");
                $("#popup_frm_Asset_Window").dxPopup("instance").option("title", "New ~ Asset");
                $("#Assetresult").html('');
                ShowLoader();
                $("#Assetresult").load("@Url.Action("Frm_Asset_Window_Profile", "Asset", new { @area = "Profile" })?ActionMethod=New", function () {
                    HideLoader();
                });
            }

            function OnAssetEditClick() {
                if ("@MovAsset_UpdateRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                IsAssetViewPopup = false;
                if (AssetID == 'undefined' || AssetID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Asset/DataNavigation",
                    data: { ActionMethod: "Edit", id: AssetID, Edit_Date: Asset_EditDate },
                    cache: false,
                    success: function (Asset_Edit_ButtonClick_result) {
                        if (Asset_Edit_ButtonClick_result.result == "true" || Asset_Edit_ButtonClick_result.result == true) {
                            $("#popup_frm_Asset_Window").dxPopup("show");
                            $("#popup_frm_Asset_Window").dxPopup("instance").option("title", "Edit ~ Asset");
                            $("#Assetresult").html('');
                            ShowLoader();
                            $("#Assetresult").load("@Url.Action("frm_Asset_window", "Asset", new { @area = "Profile" })?ActionMethod=" + "Edit" + "&ID=" + AssetID + "&EditedOn=" + Asset_EditDate, function () {
                                HideLoader();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(Asset_Edit_ButtonClick_result.Message);
                            AssetListGrid.Refresh();
                        }
                    }
                });
            }

            function OnAssetViewClick() {
                if ("@MovAsset_ViewRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                if (AssetID == 'undefined' || AssetID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Asset/DataNavigation",
                    data: { ActionMethod: "View", id: AssetID, Edit_Date: Asset_EditDate },
                    cache: false,
                    success: function (Asset_View_ButtonClick_result) {
                        if (Asset_View_ButtonClick_result.result == "true" || Asset_View_ButtonClick_result.result == true) {
                            IsViewPopup = true;
                            $("#popup_frm_Asset_Window").dxPopup("show");
                            $("#popup_frm_Asset_Window").dxPopup("instance").option("title", "View ~ Asset");
                            $("#Assetresult").html('');
                            ShowLoader();
                            $("#Assetresult").load("@Url.Action("frm_Asset_window", "Asset", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + AssetID + "&EditedOn=" + Asset_EditDate, function () {
                                HideLoader();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(Asset_View_ButtonClick_result.Message);
                            AssetListGrid.Refresh();
                        }
                    }
                });
            }

            function OnAssetDeleteClick() {
                if ("@MovAsset_DeleteRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                IsAssetViewPopup = false;
                if (AssetID == 'undefined' || AssetID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
                result.done(function (dialogResult) {
                    if (dialogResult) {
                        $("#popup_frm_Asset_Window_Close").dxPopup("hide");

                        $.ajax({
                            type: 'GET',
                            url: "/Profile/Asset/DataNavigation",
                            data: { ActionMethod: "Delete", id: AssetID, Edit_Date: Asset_EditDate },
                            cache: false,
                            success: function (Asset_Delete_ButtonClick_result) {
                                if (Asset_Delete_ButtonClick_result.result == "true" || Asset_Delete_ButtonClick_result.result == true) {
                                    $("#popup_frm_Asset_Window").dxPopup("show");
                                    $("#popup_frm_Asset_Window").dxPopup("instance").option("title", "Delete ~ Asset");
                                    ShowLoader();
                                    $("#Assetresult").load("@Url.Action("frm_Asset_window", "Asset", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + AssetID + "&EditedOn=" + Asset_EditDate, function () {
                                        HideLoader();
                                    });
                                }
                                else {
                                    DevExpress.ui.dialog.alert(Asset_Delete_ButtonClick_result.Message);
                                    AssetListGrid.Refresh();
                                }
                            }
                        });
                    }
                });
            }

            function OnAssetListPreviewClick() {
                if ("@MovAsset_ExportRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                @*$("#Asset_report_modal").dxPopup("show");
                $("#Asset_report_modal").dxPopup("instance").option("title", "Export Option");
                $("#Asset_report_modal").html('');
                ShowLoader();
                $("#Asset_report_modal_result").load("@Url.Action("Frm_Export_Options", "Asset", new { @area = "Profile" })", function () {
                    HideLoader();
                });*@
                OpenPopup("Asset_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "Asset", new { @area = "Profile" })", "auto", 125, false, null);
            }

            function GetSelectedFieldValuesCallback(values) {
                SelectedRows.BeginUpdate();
                try {
                    SelectedRows.ClearItems();
                    for (var i = 0; i < values.length; i++) {
                        SelectedRows.AddItem(values[i]);
                    }
                } finally {
                    SelectedRows.EndUpdate();
                }
                $("#count").html(gvRowSelection.GetSelectedRowCount());

            }

            function AssetContextMenuFunction(s, e) {
                if (e.item.name == 'New') {
                    OnAssetNewClick();
                }
                if (e.item.name == 'Close') {
                    closeProfile_Asset();
                }
                else if (e.item.name == 'Edit') {
                    OnAssetEditClick();
                }
                else if (e.item.name == 'Delete') {
                    OnAssetDeleteClick();
                }
                else if (e.item.name == 'View') {
                    OnAssetViewClick();
                }
                else if (e.item.name == 'ListPreview') {
                    OnAssetListPreviewClick();
                }
                else if (e.item.name == 'Discontinue') {
                    OnAssetDiscontinueClick();
                }
                else if (e.item.name == 'continue') {
                    OnAssetcontinueClick();
                }
                else if (e.item.name == 'Refresh') {
                    AssetListGrid.Refresh();
                }

        }
        function closeProfile_Asset() {
            $(".TabPanalMenu-tabs .active span").click();
        }


</script>


    <script>
    var AssetInfo_IsDetailRowExpanded = false;
    var AssetInfo_NestedRecord_FocusedRowIndex = -1;
    var AssetInfo_NestedGrid_AccessID;
    var AssetInfo_AtachmentID;
    var AssetInfo_FileName;
    var AssetInfo_ParamMandatory;
    var AssetInfo_FromDateLabel;
    var AssetInfo_ToDateLabel;
    var AssetInfo_DescriptionLabel;
    var AssetInfo_Doc_ID;
    var AssetInfo_Doc_Category;
    var AssetInfo_MasterRowRecID;
    var AssetInfo_MasterRowMID;
    var AssetInfo_NestedRowMapID;
    var AssetInfo_reason;
    var AssetInfo_Attachment_RecStatus;
    var AssetInfo_NestedRowReasonID;
    var AssetInfo_NestedRowKeyValue;

    function On_AssetProfile_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (AssetInfo_ParamMandatory == 1)
            {
                AddAttachment(AssetInfo_MasterRowRecID, "Profile_Assets", AssetInfo_Doc_ID, AssetInfo_Doc_Category, AssetInfo_ParamMandatory, AssetInfo_FromDateLabel, AssetInfo_ToDateLabel, AssetInfo_DescriptionLabel, "AssetProfileAttachment", null, "AssetListGrid", AssetInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(AssetInfo_MasterRowRecID, "Profile_Assets", AssetInfo_Doc_ID, "AssetProfileAttachment", "AssetListGrid", AssetInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (AssetInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(AssetInfo_MasterRowRecID, "Profile_Assets", AssetInfo_AtachmentID, AssetInfo_ParamMandatory, AssetInfo_FromDateLabel, AssetInfo_ToDateLabel, AssetInfo_DescriptionLabel, "AssetProfileAttachment", null, "AssetListGrid", AssetInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(AssetInfo_MasterRowRecID, "Profile_Assets", AssetInfo_AtachmentID, AssetInfo_ParamMandatory, AssetInfo_FromDateLabel, AssetInfo_ToDateLabel, AssetInfo_DescriptionLabel, null, "AssetListGrid", AssetInfo_NestedGrid_AccessID, AssetInfo_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            ViewDocument(AssetInfo_AtachmentID, AssetInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(AssetInfo_MasterRowRecID, "Profile_Assets", "Movable Asset Information", "AssetListGrid", AssetInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (AssetInfo_Doc_Category.toLowerCase() == "others")
            {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else
            {
                AttachmentAddReason(AssetInfo_MasterRowRecID, AssetInfo_NestedRowMapID, "Profile_Assets", "AssetListGrid", AssetInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(AssetInfo_MasterRowRecID, AssetInfo_NestedRowMapID, "Profile_Assets", "AssetListGrid", AssetInfo_NestedGrid_AccessID, AssetInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(AssetInfo_MasterRowRecID, AssetInfo_NestedRowMapID, "AssetListGrid", AssetInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction")
        {
            AssetPrf_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit")
        {
            if (AssetInfo_Nested_Doc_Status == "")
            {
                AssetPrf_FAB.SetActionContext("AutoItemContext", true);
            }
            if (AssetInfo_Nested_Doc_Status == "NO")
            {
                AssetPrf_FAB.SetActionContext("EditItemContext", true);
            }
            if (AssetInfo_Nested_Doc_Status == "YES")
            {
                AssetPrf_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept")
        {
            AssetInfo_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject")
        {
            AssetInfo_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks")
        {
            AssetInfo_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc") {

            OnAssetInfo_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc") {

            OnAssetInfo_RejectDoc();
        }
    }
    function OnAssetInfo_RejectDoc() {
        if (AssetInfo_AtachmentID == null || AssetInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(AssetInfo_AtachmentID, "AssetListGrid", AssetInfo_NestedGrid_AccessID);
    }
    function OnAssetInfo_AcceptDoc() {
        if (AssetInfo_AtachmentID == null || AssetInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(AssetInfo_AtachmentID, "AssetListGrid", AssetInfo_NestedGrid_AccessID);
    }
    function AssetInfo_AcceptwithoutRemarks()
    {
        var Recid;
        if (AssetInfo_IsDetailRowExpanded == true || Asset_IsVouchingMode == true)
        {
            if (AssetInfo_MasterRowRecID == null || AssetInfo_MasterRowRecID == "")
            {
                Recid = AssetID;
            }
            else
            {
                Recid = AssetInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = AssetID;
        }
        Entry_AcceptwithoutRemarks(Recid, "Profile_Assets", "AssetListGrid", AssetInfo_AtachmentID, AssetInfo_NestedRowReasonID, AssetInfo_NestedRowKeyValue);
    }
    function AssetInfo_AcceptRejectVoucher(_actionMethod)
    {
        var Recid;
        if (AssetInfo_IsDetailRowExpanded == true || Asset_IsVouchingMode == true)
        {
            if (AssetInfo_MasterRowRecID == null || AssetInfo_MasterRowRecID == "")
            {
                Recid = AssetID;
            }
            else
            {
                Recid = AssetInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = AssetID;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_Assets", "AssetListGrid", AssetInfo_AtachmentID, AssetInfo_NestedRowReasonID, AssetInfo_NestedRowKeyValue);
    }
    function OnAssetListGridNestedFocusedRowChange(s, e)
    {
        if (AssetInfo_IsDetailRowExpanded == true || Asset_IsVouchingMode == true)
        {
            AssetInfo_NestedRecord_FocusedRowIndex = s.GetFocusedRowIndex();
            if (AssetInfo_NestedRecord_FocusedRowIndex >= 0)
            {
                ShowLoader();
                AssetInfo_NestedGrid_AccessID = s.uniqueID;
                s.GetRowValues(s.GetFocusedRowIndex(), 'Doc_Status;Params_Mandatory;LABEL_FROM_DATE;LABEL_TO_DATE;LABEL_DESCRIPTION;Document_Category;Document_ID;ATTACH_ID;TxnID;TxnMID;MAP_ID;Reason;ATTACH_FILE_NAME;Attachment_Action_Status;UniqueID;ReasonID', OnAssetInfo_GetGridRowValues);
            }
            else
            {
                AssetPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }
    function OnAssetInfo_GetGridRowValues(values)
    {
        HideLoader();
        if (values[14] != null)
        {
            AssetPrf_FAB.SetVisible(true);
            AssetInfo_Nested_Doc_Status = values[0];
            if (Asset_IsVouchingMode == true)
            {
                AssetPrf_FAB.SetActionContext("AuditActionContext", true);
            }
            else
            {
                if (AssetInfo_Nested_Doc_Status == "")
                {
                    AssetPrf_FAB.SetActionContext("AutoItemContext", true);
                }
                else if (AssetInfo_Nested_Doc_Status == "NO")
                {
                    AssetPrf_FAB.SetActionContext("EditItemContext", true);
                }
                else if (AssetInfo_Nested_Doc_Status == "YES")
                {
                    AssetPrf_FAB.SetActionContext("actionItemContext", true);
                }
            }
            AssetInfo_ParamMandatory = values[1];
            AssetInfo_FromDateLabel = values[2];
            AssetInfo_ToDateLabel = values[3];
            AssetInfo_DescriptionLabel = values[4];
            AssetInfo_Doc_Category = values[5];
            AssetInfo_Doc_ID = values[6];
            AssetInfo_AtachmentID = values[7];
            IndexAttachmentID = AssetInfo_AtachmentID;
            AssetInfo_MasterRowRecID = values[8];
            AssetInfo_MasterRowMID = values[9];
            AssetInfo_NestedRowMapID = values[10];
            AssetInfo_reason = values[11];
            AssetInfo_FileName = values[12];
            AssetInfo_Attachment_RecStatus = values[13];
            AssetInfo_NestedRowKeyValue = values[14];
            if (Asset_IsVouchingMode == true)
            {
                if (AssetInfo_FileName != null && AssetInfo_FileName.length > 0)
                {
                    ViewDocument(AssetInfo_AtachmentID, AssetInfo_FileName, "AssetPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else
                {
                    CloseRightPane();
                    ClearRightPane();
                }
            }
        }
        AssetInfo_NestedRowReasonID = values[15];
        IndexAttachmentReasonID = AssetInfo_NestedRowReasonID;
    }
    function AssetGrid_Nested_BeginCallBack(s, e)
    {
        e.customArgs["ShowHorizontalBar"] = Asset_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = Asset_IsVouchingMode;
        e.customArgs["command"] = e.command;
    }
    function AssetGrid_DetailRowExpanding(s, e)
    {
        AssetInfo_IsDetailRowExpanded = true;
        s.SetFocusedRowIndex(e.visibleIndex);
        var pane = Mainspliter.GetPaneByName('RightPane');
        if (Asset_IsVouchingMode == true)
        {
            pane.Expand();
        }
        else
        {
            pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
    }
    function AssetGrid_DetailRowCollapsing(s, e)
    {
        AssetInfo_IsDetailRowExpanded = false;
        s.SetFocusedRowIndex(e.visibleIndex);
        if (Asset_IsVouchingMode == true)
        {
            if (Mainspliter.GetPaneByName('RightPane').IsCollapsed() == false)
            {
                CollapsePane(Mainspliter.GetPaneByName('RightPane'), Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
        else
        {
            AssetPrf_FAB.SetVisible(false);
        }
    }
    </script>
    @*attachment and nested grid*@

</div>