

<div class="VoucherReferenceReport_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @model System.Data.DataTable
    @{
        ViewBag.Title = "Index";
        Layout = null;
        var UserType = ViewBag.UserType;
        bool VoucherReference_Report_ExportRight = (bool)ViewData["VoucherReference_Report_ExportRight"];
    }
    <div id="content" class="col-md-12 report_header_div_main">
        <div class="col-md-4 report_header_div">
            <label class="report_header_label">Special Voucher Reference Report</label>
        </div>
        @*Buttons*@
    <div class="report_button_div">
        @(Html.DevExtreme().Button()
                                        .ID("VoucherReferenceReportsModelListPreview")
                                        .Text("Export")
                                        .Icon("save")
                                        .Visible(true)
                                         .Width(80)
                                        .OnClick(@<text>
                                            function () {
                                            OnVoucherReferenceReportListPreviewClick();
                                            }
                                        </text>)
        )
        @(Html.DevExtreme().Button()
                                        .ID("VoucherReferenceReportModelCLOSE")
                                        .Text("Close")
                                        .Icon("clear")
                                        .OnClick(@<text>
                                            function (){
                                            $(".TabPanalMenu-tabs .active span").click()
                                            }
                                        </text>)

        )
    </div>
    </div>
    <div class="col-md-12 no-padding">
        <form>
            <div id="VoucherReferenceReportreloadPartialView" class="parent_table">
                @Html.Partial("Frm_VoucherReference_Report_Grid", Model)
            </div>
        </form>
    </div>

    @*<div class="footer-MainBoxdiv full-width-footer">
            <div class="col-lg-4 footer_smallbtns report_footer_small_buttons_div" id="PurposeReportFooterItem">
                @(Html.DevExtreme().Button()
                                                .ID("btnPurposeReportShowColumnChooser")
                                                .ElementAttr("class", "column-chooser")
                                                .Icon("add")
                                                .Hint("Show Column Chooser")
                                                .OnClick(@<text>
                                                    function () {
                                                    PurposeReportShowColumnChooser();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                                .ID("btnPurposeReportShowGroupPanel")
                                                .Icon("spinup")
                                                .Hint("Show Group Box")
                                                .OnClick(@<text>
                                                    function () {
                                                    PurposeReportShowGroupPanel();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                                .ID("PurposeReportGroupColumn")
                                                .Icon("fa fa-forward fa-rotate-270")
                                                .Hint("Show Grouped column")
                                                .OnClick(@<text>
                                                    function () {
                                                    OnPurposeReportGroupClick();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("PurposeReportShowFooter")
                                            .Icon("fa fa-fast-forward fa-rotate-270")
                                            .Hint("Show Footer Bar")
                                            .OnClick(@<text>
                                                function () {
                                                SetPurposeReportFooterVisible();
                                                }
                                            </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("PurposeReportShowGroupFooter")
                                            .Icon("fa fa-minus")
                                            .Hint("Show Group Footer Bar")
                                            .OnClick(@<text>
                                                function () {
                                                SetPurposeReportGroupPanelFooterVisible();
                                                }
                                            </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("PurposeReportCreateFilterButton")
                                            .Icon("todo")
                                            .Hint("Open Filter Builder")
                                            .OnClick(@<text>
                                                function () {
                                                PurposeReportCreateFilterClick();
                                                }
                                            </text>)
                )
            </div>

            <div class="col-lg-8 report_footer_filter_buttons_div setFooterItem">
                <div class="footer-inner">
                    <div class="filter_main" style="float:right">
                            @(Html.DevExtreme().Button()
                                                .ID("PurposeReportSearch")
                                                .Text("Find")
                                                .Icon("find")
                                                .Hint("Show search")
                                                .ElementAttr(new Dictionary<string, object>() { { "class", "float-right find_btn" } })
                                                .OnClick(@<text>
                                                    function () {
                                                    OnPurposeReportSearchClick();
                                                    }
                                                </text>))

                            @(Html.DevExtreme().Button()
                                                .ID("PurposeReportFind")
                                                .Text("Filter")
                                                .Icon("find")
                                                .Hint("Show filter")
                                                .ElementAttr(new Dictionary<string, object>() { { "class", "float-right filter_btn" } })
                                                .OnClick(@<text>
                                                    function () {
                                                    OnPurposeReportFilterClick();
                                                    }
                                                </text>)
                            )
                        </div>
                    <div   style="float:right">
                        @Html.DevExpress().TrackBar(
                           tb =>
                           {
                               tb.Name = "PurposeReportTrackBar";
                               tb.Properties.ScalePosition = ScalePosition.LeftOrTop;
                               tb.Properties.ValueToolTipPosition = ValueToolTipPosition.RightOrBottom;
                               tb.Properties.ValueType = typeof(string);
                               tb.Width = 150;
                               tb.Position = 2;
                               tb.Properties.ClientSideEvents.PositionChanged = "PurposeReportTrackBarPositionChanged";
                               tb.ControlStyle.CssClass = "float-right";
                               tb.Properties.ScalePosition = ScalePosition.None;
                           }
                       ).GetHtml()
                    </div>
                </div>
            </div>
        </div>*@


    @*Javascript Events*@
    <script type="text/javascript">
   
        var UserType_VoucherReferencePrf = "@UserType".toUpperCase();
   

        $(document).ready(function ()
        {
            if ("@VoucherReference_Report_ExportRight" == "False")
            {
                $("#VoucherReferenceReportsModelListPreview").hide();
            }          
        });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Reports/VoucherReferenceReport/SessionClear",
            cache: false
        });
        ClearAllReferences_VoucherReferenceReport();
    });
        function ClearAllReferences_VoucherReferenceReport()
        {
            UserType_VoucherReferencePrf = null;

            ClearAllReferences("VoucherReferenceReport_ClearReferences");
        }
 
        function VoucherReferenceReportOnInit(s, e) {
        VoucherReferenceReportAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            VoucherReferenceReportAdjustSize();
        });
    }


        function VoucherReferenceReportAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
            try { VoucherReferenceReportListGrid.SetHeight(height);} catch (err) { }
    }

  


        function OnVoucherReferenceReportListPreviewClick()
        {
        if ("@VoucherReference_Report_ExportRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }

        OpenPopup("VoucherReferenceReport_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "VoucherReferenceReport", new { @area = "Reports" })", "auto", 125, false, null);
    }


    </script>

</div>