<div class="PurposeReport_Export_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    <div>
        @(Html.DevExtreme().Button()
                .ID("VoucherReference_ExportGridDatapdf")
                .Text("Export to PDF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("x")
                .OnClick("ExportPDF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("VoucherReference_ExportGridDataxls")
                .Text("Export to XLS")
                //.Icon("fa-file-excel-o")
                //.AccessKey("X")
                .OnClick("ExportXLS")
                .Visible(true)
                .Width(120)
    )<br />
        @(Html.DevExtreme().Button()
                .ID("VoucherReference_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("L")
                .OnClick("ExportXLSX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("VoucherReference_ExportGridDatadocx")
                .Text("Export to DOCX")
                //.Icon("export_exporttodocx_16x16office2013")
                //.AccessKey("D")
                .OnClick("ExportDOCX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("VoucherReference_ExportGridDatartf")
                .Text("Export to RTF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("R")
                .OnClick("ExportRTF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("VoucherReference_ExportGridDatacsv")
                .Text("Export to CSV")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("C")
                .OnClick("ExportCSV")
                .Visible(true)
                .Width(120)
    )
    </div>
    <script>
        var protocol = window.location.protocol;
        var hostname = window.location.host;
        var Path = "";
        function ExportPDF() {           
            ShowLoader();
            Path = StandardizeCallURL(protocol + "//" + hostname + "/Reports/VoucherReferenceReport/VoucherReferenceExportToPDF_DataAware").trim();
            window.open(Path);
            HideLoader();
            $("#VoucherReferenceReport_report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            ShowLoader();
            Path = StandardizeCallURL(protocol + "//" + hostname + "/Reports/VoucherReferenceReport/VoucherReferenceExportToXLS_DataAware");
            window.open(Path);
            HideLoader();
            $("#VoucherReferenceReport_report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            ShowLoader();
            Path = StandardizeCallURL(protocol + "//" + hostname + "/Reports/VoucherReferenceReport/VoucherReferenceExportToXLSX_DataAware");
            window.open(Path);
            HideLoader();
            $("#VoucherReferenceReport_report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            ShowLoader();
            Path = StandardizeCallURL(protocol + "//" + hostname + "/Reports/VoucherReferenceReport/VoucherReferenceExportToCSV_DataAware");
            window.open(Path);
            HideLoader();
            $("#VoucherReferenceReport_report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            ShowLoader();
            Path = StandardizeCallURL(protocol + "//" + hostname + "/Reports/VoucherReferenceReport/VoucherReferenceExportToDOCX_DataAware");
            window.open(Path);
            HideLoader();
            $("#VoucherReferenceReport_report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            ShowLoader();
            Path = StandardizeCallURL(protocol + "//" + hostname + "/Reports/VoucherReferenceReport/VoucherReferenceExportToRTF_DataAware");
            window.open(Path);
            HideLoader();
            $("#VoucherReferenceReport_report_modal").dxPopup("hide");
        }
    </script>

</div>