@using System.Text.RegularExpressions
@using System.Data
@{
    var helpVideos = ViewBag.helpVideos;
    var categories = ViewBag.categories as List<string>;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0042)http://accountserver.bkinfo.in/videos.aspx -->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

        h1, h2, h3, h4, h5 {
            font-family: 'Poppins', monospace;
        }

        body, p, input, button {
            font-family: 'Poppins', monospace;
            font-size: 14px
        }

        p {
            margin-bottom: 0
        }

        #backtotop {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: grey;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 10px;
            font-size: 18px;
        }

        ul {
            margin: 0;
            padding: 0
        }

        .circular-list li {
            border-bottom: 1px solid #d6d6d6;
            list-style: none;
            padding: 7px;
            cursor: pointer
        }

            .circular-list li:hover, .circular-list li.active {
                background-color: #dde2ed;
            }

            .circular-list li img {
                width: 40%;
                height: 80px;
                float: left;
                border-radius: 7px;
                cursor: pointer;
                margin-right: 8px
            }

            .circular-list li p {
                font-size: 13px
            }

        .left-side {
            width: 250px;
            left: 0;
            position: absolute;
            height: calc(100vh - 56px);
            overflow: auto;
            top: 56px;
            border-right: 1px solid #ccc;
        }

        .navbar {
            display: block
        }

        .right-side {
            padding-right: 335px;
        }

            .right-side .right-m {
                padding-left: 265px;
                padding-top: 15px
            }

        .tab-content.right-r {
            width: 320px;
            right: 0;
            top: 56px;
            position: absolute;
            height: calc(100vh - 56px);
            overflow: auto;
            border-left: 1px solid #ccc
        }

        #ytiframe {
            width: 100%;
            height: 75vh;
            border-radius: 10px
        }

        .navbar-brand {
            font-weight: 600
        }

            .navbar-brand img {
                height: 28px;
                margin-right: 10px;
            }

        .bg-light {
            background: #ebeef3 !important;
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
            z-index: 1
        }

        .nav-link {
            text-align: left
        }

        .nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .show > .nav-link {
            color: #fff;
            background-color: #ad1f1f;
        }

        .nav-pills .nav-link.active {
            font-weight: 600
        }

        .nav-pills .nav-link {
            border-radius: 0;
            width: 100%;
        }

            .nav-pills .nav-link:hover {
                background-color: #eee;
            }

        .video-popup .popup-content {
            min-width: 60%;
            max-width: 90%;
        }

        .ytvideo {
            width: 100%;
            height: 75vh;
            margin: auto;
            display: block;
            border: none;
        }

        .close-btn {
            display: block;
            margin: 10px auto;
            cursor: pointer;
            background-color: #fff;
            border: none;
            padding: 5px;
            font-weight: bold;
            border-radius: 100%;
            font-size: 20px;
            position: absolute;
            top: -20px;
            right: -14px;
            line-height: 26px;
        }

            .close-btn:hover {
                color: #fff;
                background-color: #e32626;
            }

        .video-popup {
            display: none;
            width: 100%;
            height: 100vh;
            margin: auto;
            position: fixed;
            top: 0;
            z-index: 99;
            box-shadow: 10px 10px 10px 10px black;
        }

        .popup-bg {
            background: rgba(0,0,0,0.8);
            width: 100%;
            height: 100vh;
            position: fixed;
            left: 0
        }

        .popup-content {
            background: black;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 800px;
            height: auto;
        }

        .lihead {
            background: #ddd;
            padding: 5px 15px;
            font-size: 12px;
            font-weight: bold
        }

        /*loader*/
        .lds-ring {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 75vh;
            background: #000;
            display: none
        }

            .lds-ring div {
                box-sizing: border-box;
                display: block;
                position: absolute;
                width: 64px;
                height: 64px;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border: 4px solid #fff;
                border-radius: 50%;
                animation: lds-ring .8s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                border-color: #fff transparent transparent transparent;
            }

                .lds-ring div:nth-child(1) {
                    animation-delay: -0.25s;
                }

                .lds-ring div:nth-child(2) {
                    animation-delay: -0.2s;
                }

                .lds-ring div:nth-child(3) {
                    animation-delay: -0.10s;
                }

        @@keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .overlay {
            display: none;
            width: 100%;
            position: fixed;
            top: 56px;
            left: -100%;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.7);
            z-index: 1;
            opacity: 0;
            transition: .3s opacity;
        }

        .slideToggle {
            overflow: hidden
        }

            .slideToggle .overlay {
                opacity: 1;
                left: 0
            }

        .bx-menu {
            display: none;
            float: left;
            margin: 4px 12px 0 0;
            font-size: 28px;
            opacity: .7;
        }

        .slideToggle .left-side {
            left: 0
        }

        @@media only screen and (max-device-width:767px) {
            .right-side .right-m {
                display: none;
            }

            .bg-light {
                position: fixed;
                width: 100%
            }

            .tab-content.right-r {
                height: auto;
                width: 100%;
                top: 56px
            }

            .left-side {
                position: fixed;
                z-index: 2;
                background: #fff;
                left: -250px;
                transition: .4s all
            }

            .overlay {
                display: block;
            }

            .navbar-brand {
                margin-right: 0
            }

            .bx-menu {
                display: block
            }

            .circular-list li img {
                width: 110px
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <i class='bx bx-menu' onclick="$('body').toggleClass('slideToggle')"></i> 
        <a class="navbar-brand" href="#"><img src="~/Content/image/logo_small.png"> Connectone Help Videos</a> 
    </nav> 
    <div class="left-side">     
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            @for (int i = 0; i < categories.Count; i++)
            {
                var categoryId = Regex.Replace(categories[i], @"[^a-zA-Z0-9]", "");
                <button class="nav-link @(i==0?"active":"")" id="@categoryId-tab" data-toggle="pill" data-target="#@categoryId" type="button" role="tab" aria-controls="@categoryId" aria-selected=@(i==0?"true":"false")>@categories[i]</button>
                <hr style="width:100%;margin:0" />
            }
        </div>
    </div>
    <div class="overlay"></div> 
    <div class="right-side">
        <div class="right-m">
            <div class="lds-ring"><div></div><div></div><div></div></div> 
            <iframe id="ytiframe" frameborder="0" src="https://youtube.com/embed/tmtQ_t2iFcY"></iframe> 
        </div> 
        <div class="tab-content right-r" id="v-pills-tabContent">
            @for (int i = 0; i < categories.Count; i++)
            {
                var categoryId = Regex.Replace(categories[i], @"[^a-zA-Z0-9]", "");
                <div class="tab-pane fade @(i==0?"show active":"")" id="@categoryId" role="tabpanel" aria-labelledby="@categoryId-tab">
                    <ul class="circular-list">
                        <li class="lihead">@categories[i]</li>
                        @{
                            DataRow[] dr = helpVideos.Select("Category='" + categories[i] + "'");
                            foreach (var row in dr)
                            {
                                <li class="clearfix" onclick="VideosOnClick(this,'@row["URL"]')"> <img src="../../Content/image/ythumb.jpg" /> <p>@row["Title"]</p></li>

                            }
                        }
                    </ul>
                </div>
            }            
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.brahmakumaris.com/wp-content/themes/olympus/Bootstrap/dist/js/bootstrap.bundle.js?ver=4.0.0" id="olympus-bootstrap-js"></script>
    <script>
        $(document).ready(function () {           
           
        });
        $('.circular-list li').click(function () 
        {
            $('.circular-list li').removeClass('active');
            $(this).addClass('active');
        })

        if ($(window).width() > 800) {
            function VideosOnClick(ele, link) {
                if (link != null && link.length > 0) {
                    if (link.includes("?autoplay") == false) {
                        link += "?autoplay=1";
                    }
                }
                $("#ytiframe").hide();
                $(".lds-ring").show();
                $("#ytiframe").attr("src", "");
                $("#ytiframe").attr("src", link);
                $("#ytiframe").load(function () {
                    $("#ytiframe").show();
                    $(".lds-ring").hide();
                })
            }
        }

        else {
            function VideosOnClick(ele, link) {
                if (link != null && link.length > 0) {
                    if (link.includes("?autoplay") == false) {
                        link += "?autoplay=1";
                    }
                }
                $(".ytvideo").attr("src", link);
                $('.video-popup').fadeIn('slow');
            }
            function CloseVideos(ele) {
                $(".ytvideo").attr("src", "");
                $('.video-popup').fadeOut('slow');
            }

            $('.left-side .nav').removeClass('flex-column');
        }

        $('.overlay, .nav-link').click(function () {           
            $('body').removeClass('slideToggle');
        })
        </script>
    </body>
</html>