@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.UOCheckAvail
@{
    Layout = null;
}

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}

<style>
    .pll2 {
        padding-left: 2px !important;
    }

    .margR4 {
        margin-right: 4px;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="Frm_SubItem_Property_PopUp" class="edit_form">
    @using (Ajax.BeginForm("Frm_User_Order_Check_Availability_Save", "UserOrder",
                          new AjaxOptions
                          {
                              HttpMethod = "POST",
                              UpdateTargetId = "Frm_User_Order_Check_Availability_PopUp",
                              InsertionMode = InsertionMode.InsertAfter,
                              OnBegin = "AjaxBeginFormPost",
                              OnSuccess = "UOCheckAvailabilityAjaxSuccessForm"

                          },
                          new
                          {
                              id = "ID_Frm_User_Order_Check_Availability",
                              @class = "edit_form"
                          }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(y => y.screenname)
        @Html.HiddenFor(x => x.UOid)

        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();

        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"> Stock Availability</i>  </h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i>Select atleast one Search Criteria</h5>
                    </div>
                </div>
            </div><!--[]-->

            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-3 pll">
                            <label class="control-label text-red" for="user">Item Name:</label>
                        </div>
                        <div class="col-sm-9 prm pll1">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown()
                                                                                           .ID("UO_CA_ItemID")
                                                                                           .Name("UO_CA_ItemID")
                                                                                           //.Value(Model.UO_CA_ItemID)
                                                                                           // .Placeholder("may Comes pre-filled as selected in previous screen")
                                                                                           .ValueExpr("ItemID")
                                                                                           .DisplayExpr("Name")
                                                                                           .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_CA_ItemList").Key("ItemID").LoadParams(new { StoreID = new JS("function (){ return RequesteeCA_Store_ID;}"), CenterID = new JS("function (){ return RequesteeCA_Center_ID;}") }))

                                                                                           .OnValueChanged("LookUp_Item_ChangeEvent")

                                                                                           // .OnInitialized("onInitialized_Item_ChangeEvent")
                                                                                           .ContentTemplate(@<text>
                                                                                            @Html.Partial("LookUp_CA_ItemList")
                                                                                        </text>)
                            )
                            @Html.ValidationMessageFor(model => model.UO_CA_ItemID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div><!--[Row]-->

            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-3 pll">
                            <label class="control-label" for="user">Item Category:</label>
                        </div>
                        <div class="col-sm-9 prm pll1">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown()
                                                                                           .ID("UO_CA_Item_Category")
                                                                                           .Name("UO_CA_Item_Category")
                                                                                           //.Value(Model.UO_CA_ItemID)
                                                                                           // .Placeholder("may Comes pre-filled as selected in previous screen")
                                                                                           .ValueExpr("Main_Category")

                                                                                           .DisplayExpr("Main_Category")
                                                                                           .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_CA_ItemCategory").Key("Main_Category"))

                                                                                           .OnValueChanged("LookUp_ItemCategory_ChangeEvent")
                                                                                           //   .OnInitialized("OnInitializedItemCategory")
                                                                                           .ContentTemplate(@<text>
                                                                                            @Html.Partial("LookUp_CA_ItemCategory")
                                                                                        </text>)
                            )

                        </div>
                    </div>
                </div>
            </div><!--[Row]-->

            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-3 pll">
                            <label class="control-label" for="user">Center:</label>
                        </div>
                        <div class="col-sm-9 prm pll1">

                            @(Html.DevExtreme().DropDownBox().CustomDropDown()
                                                                                                  .ID("UO_CA_Center")
                                                                                                  .Name("UO_CA_Center")
                                                                                                  //.Value(Model.UO_CA_ItemID)
                                                                                                  // .Placeholder("may Comes pre-filled as selected in previous screen")
                                                                                                  .ValueExpr("CENID")
                                                                                                  .DisplayExpr("CenterName")
                                                                                                  .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_CA_Center").Key("CENID"))

                                                                                                  .OnValueChanged("LookUp_Center_ChangeEvent")

                                                                                                  //.OnInitialized("onInitialized_Center_Event")
                                                                                                  .ContentTemplate(@<text>
                                                                                                    @Html.Partial("LookUp_CA_Center")
                                                                                                </text>)
                            )
                        </div>
                    </div>
                </div>
            </div><!--[Row]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-3 pll">
                            <label class="control-label" for="user">Store:</label>
                        </div>
                        <div class="col-sm-9 prm pll1">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown()
                                                                                                   .ID("UO_CA_Store_id")
                                                                                                   .Name("UO_CA_Store_id")
                                                                                                   //.Value(Model.UO_CA_ItemID)
                                                                                                   // .Placeholder("may Comes pre-filled as selected in previous screen")
                                                                                                   .ValueExpr("StoreID")
                                                                                                   .DisplayExpr("Store_Name")
                                                                                                   .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_CA_Store").Key("StoreID").LoadParams(new { CenterID = new JS("function (){ return RequesteeCA_Center_ID;}") }))

                                                                                                   .OnValueChanged("LookUp_CA_Store_ChangeEvent")

                                                                                                   //.OnInitialized("onInitialized_CA_Store_ChangeEvent")
                                                                                                   .ContentTemplate(@<text>
                                                                                                    @Html.Partial("LookUp_CA_Store")
                                                                                                </text>)
                            )
                        </div>
                    </div>
                </div>
            </div><!--[Row]-->

            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-3 pll">
                            <label class="control-label" for="user">Location:</label>
                        </div>
                        <div class="col-sm-8 prm pll1">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown()
                                                                                                                    .ID("UO_CA_LocID")
                                                                                                                    .Name("UO_CA_LocID")
                                                                                                                    //.Value(Model.UO_CA_ItemID)
                                                                                                                    // .Placeholder("may Comes pre-filled as selected in previous screen")
                                                                                                                    .ValueExpr("LocID")
                                                                                                                    .DisplayExpr("LocationName")
                                                                                                                    .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_CA_Location").Key("LocID").LoadParams(new { StoreID = new JS("function (){ return Requestee_Store_ID;}"), CenterID = new JS("function (){ return RequesteeCA_Center_ID;}") }))

                                                                                                                    .OnValueChanged("LookUp_Location_ChangeEvent")

                                                                                                                    .ContentTemplate(@<text>
                                                                                                                        @Html.Partial("LookUp_CA_Location")
                                                                                                                    </text>)
                            )
                        </div>
                        <div class="col-sm-1 prm pll1">
                            @(Html.DevExtreme().Button()
                                                                                                                             .ID("BUT_Search_SA")
                                                                                                                             .Text("Search")
                                                                                                                             .OnClick(@<text>
                                                                                                                                function () {
                                                                                                                                OnFrm_Search_Click()
                                                                                                                                }
                                                                                                                            </text>))
                        </div>



                    </div>
                </div>
            </div><!--[Row]-->

            <div class="row" style="margin-bottom: 5px; ">
                <div class="col-sm-12 prm pll1">
                    <label class="control-label" for="user">
                        <h6 style="padding-left:9px;margin-top:5px;" class="text-red">Items :</h6>
                    </label>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 prm pll1 table-responsive tbnew2 overflow-scroll scrollbar" id="result_StockItemGridData">
                    @Html.Action("AvailableStockItemGridData", "UserOrder")

                </div>
            </div><!--[Row]-->

            <div class="row">
                <div class="form-field wbg brd-bot-none">
                    <div class="container-fluid btn-align">
                        <div class="col-sm-12 btn-align margR8">

                            <div class="col-sm-1 prm pll1">
                                @(Html.DevExtreme().Button()
                                                                                                                                         .ID("BUT_AddItemSA")
                                                                                                                                         .Text("Add Item")
                                                                                                                                         .OnClick(@<text>
                                                                                                                                            function () {
                                                                                                                                            OnFrm_AddItem_Click()
                                                                                                                                            }
                                                                                                                                        </text>))
                            </div><!--[button]-->
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text margR4" role="button" aria-label="Price History" tabindex="0">
                                @(Html.DevExtreme().Button()
                                                                                                                                .ID("CAItemClose")
                                                                                                                                .Icon(Url.Content("~/Icons/Close button2.png"))
                                                                                                                                .Text("Close")
                                                                                                                                .FocusStateEnabled(true)
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function () {
                                                                                                                                    $("#Check_Avl_Popup").dxPopup("hide");
                                                                                                                                    }
                                                                                                                                </text>)
                                )
                            </div><!--[button]-->
                        </div>
                    </div>
                </div>
            </div><!--[]-->
        }
    }
</div>

<script>
    var UO_CA_selected_Item_ID;
    var UO_CA_Item_DG;
    var UO_CA_Center_DG;
    var UO_CA_Store_DG;
    var MainCategoryValue = "";
    var isCAGridRefresh = false;
    var RequesteeCA_Store_ID = 0;
    var RequesteeCA_Center_ID = 0;
    var storeid;
    var Requestee_Store_ID;
    function AvailableStockFocusedRowChanged(s, e) {
       debugger
        if (s.GetFocusedRowIndex() > -1) {
            s.GetRowValues(s.GetFocusedRowIndex(), 'ItemID', OnavitemdetailGridRowValues);
        }
     
    }
    function OnavitemdetailGridRowValues(values) {
    debugger
        UO_CA_selected_Item_ID = values;
       //alert(UO_CA_selected_Item_ID);
    }
    
    function CA_UserOrderGrid_BeginCallBack(s, e) {
        e.customArgs["command"] = e.command;
        if (e.command == "REFRESH") {
            isCAGridRefresh = true;
        }
    }

    //function OnavlitemdetailGridRowValues(data) {
    //    debugger
    //    var values = data.split(',');       
    //    UO_CA_selected_Item_ID = values[1];
    //    alert(UO_CA_selected_Item_ID);

    //}

    
    $(document).ready(async function () {

       
        sessionclearpath = "/Stock/UserOrder/UOSessionclear";
        var form = "ID_Frm_User_Order_Check_Availability";
        

          if ("@Model.screenname" != "UO")
        {
              $("#BUT_AddItemSA").hide();
        }
        ShowLoader();
        AssignIDtoLabel(form, "UO_CheckAvailability");
   
         
        $("#result_StockItemGridData").html("");

        Requestee_Store_ID = "@Model.UO_CA_Store_id";
        Refresh_UO_CA_Item_DG();
        Refresh_UO_CA_Center_DG();
        Refresh_UO_CA_Store_DG();

          if ("@Model.UO_CA_Center" != 0) {
            RequesteeCA_Center_ID = "@Model.UO_CA_Center";
        }

        if ("@Model.UO_CA_Store_id".length > 0) {
             RequesteeCA_Store_ID = "@Model.UO_CA_Store_id";
            UO_CA_Store_DG.selectRows(parseInt("@Model.UO_CA_Store_id"), false);
               Control_SetReadOnly("UO_CA_Store_id", "dxDropDownBox", true);
               Control_SetReadOnly("UO_CA_Center", "dxDropDownBox", true);
        }


      
      
      
          if ("@Model.UO_CA_ItemID".length > 0)
        {
               
              await UO_CA_Item_DG.selectRows(parseInt("@Model.UO_CA_ItemID"), false);

        }
           if ("@Model.UO_CA_Center".length > 0)
        {
               
               await UO_CA_Center_DG.selectRows(parseInt("@Model.UO_CA_Center"), false);
        }
          if ("@Model.UO_CA_Store_id".length > 0)
        {
               
               await UO_CA_Store_DG.selectRows(parseInt("@Model.UO_CA_Store_id"), false);
        }

        
        if ("@Model.UO_CA_ItemID".length > 0) {


            var Item_ID = "@Model.UO_CA_ItemID";


            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Stock/UserOrder/Check_StockAvailability",
                data: { Item_ID: Item_ID },
                cache: false,
                success: function (Item_result) {

                    $("#result_StockItemGridData").html("");
                    $("#result_StockItemGridData").html(Item_result);
                    HideLoader();
                }


            });
        }

        setTimeout(function ()
        {

            Focus_FirstEditable_Field(form);
            HideLoader();

        }, Timeout500);
    });

 
    function OnFrm_Search_Click()
    {
        var Item_ID;
        var _ID = $("#UO_CA_ItemID").dxDropDownBox("instance").option("value");
        
        if (_ID != null) {
            Item_ID = _ID[0];
        }
        else {
            DevExpress.ui.dialog.alert("Item Name is mandatory", "Error");
            return;
        }
        //var MapItemConsumption_Type = $("#MapItem_Consumption_Type").dxSelectBox({ value: "", readOnly: false });
        var Item_Category = $("#UO_CA_Item_Category").dxDropDownBox("instance").option("value");
        var Center = $("#UO_CA_Center").dxDropDownBox("instance").option("value");
        var Store = $("#UO_CA_Store_id").dxDropDownBox("instance").option("value");
        var Location = $("#UO_CA_LocID").dxDropDownBox("instance").option("value");

        ShowLoader();
        $.ajax({
            type: 'POST',
            url: "/Stock/UserOrder/Check_StockAvailability",
            data: { Item_Category: Item_Category, Center: Center, Store: Store, Location: Location, Item_ID: Item_ID },
            cache: false,
            success: function (Item_result) {
               
                    $("#result_StockItemGridData").html("");
                    $("#result_StockItemGridData").html(Item_result);
                HideLoader();
                }
               
              
        });
    }

    
 

    function LookUp_Item_ChangeEvent(e) {
        var dropDownBox = $("#UO_CA_ItemID").dxDropDownBox("instance");
        dropDownBox.close();
        if (e.value == null && e.previousValue != null) {
            UO_CA_Item_DG.clearSelection();
            return;
        }
        if (UO_CA_Item_DG.getSelectedRowsData().length > 0) {
            var item = UO_CA_Item_DG.getSelectedRowsData()[0];
           
        }
        
    }
    
   
    function LookUp_ItemCategory_ChangeEvent()
    {
        var dropDownBox = $("#UO_CA_Item_Category").dxDropDownBox("instance");
    dropDownBox.close();
        var $dataGrid = $("#LookUp_CA_ItemCategory");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");

            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];

            }
        }
    }
    

    async function LookUp_Center_ChangeEvent(e) {
        try {
        e.component.close();
        if (e.value == null && e.previousValue != null) {
            UO_CA_Center_DG.clearSelection();
            return;
        }
        if (UO_CA_Center_DG.getSelectedRowsData().length > 0) {
            var item = UO_CA_Center_DG.getSelectedRowsData()[0];
            RequesteeCA_Center_ID = item.CENID;   
            await UO_CA_Item_DG.refresh();

            await UO_CA_Store_DG.refresh();

            if (Requestee_Store_ID.length > 0) {
                $("#LookUp_GetLocation_datagrid").dxDataGrid("instance").refresh();
            }
            }
        }
        catch (e) {
            console.log(e);
        }
    }
     
    async function LookUp_CA_Store_ChangeEvent(e) {
        try {
            e.component.close();
            if (e.value == null && e.previousValue != null) {
                UO_CA_Store_DG.clearSelection();
                return;
            }
            if (UO_CA_Store_DG.getSelectedRowsData().length > 0) {
                var item = UO_CA_Store_DG.getSelectedRowsData()[0];
                RequesteeCA_Store_ID = item.StoreID;
                //Control_SetReadOnly("UO_CA_Store_id", "dxDropDownBox", false);
                await UO_CA_Item_DG.refresh();
                if (Requestee_Store_ID.length > 0) {
                    $("#LookUp_GetLocation_datagrid").dxDataGrid("instance").refresh();
                }

            }
        }
        catch (e) {
            console.log(e);
        }
    } 
    

    function LookUp_Location_ChangeEvent(e) {
     
        var dropDownBox = $("#UO_CA_LocID").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#LookUp_GetLocation_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            //dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                //$("#Store_id").val(item["StoreId"]);
            }
        }
    }
   
   

    async function Refresh_UO_CA_Item_DG() {
        try {
            var $UO_CA_Item_DG = $("#LookUp_CA_GetStoreItems_datagrid");
            if ($UO_CA_Item_DG.length) {
                UO_CA_Item_DG = $UO_CA_Item_DG.dxDataGrid("instance");    
                await UO_CA_Item_DG.refresh();
            }
        }
        catch (e) {
            console.log(e);
        }  
    }
       async function Refresh_UO_CA_Center_DG() {
           try {
               var $UO_CA_Center_DG = $("#LookUp_GetCenterDet_datagrid");
               if ($UO_CA_Center_DG.length) {
                   UO_CA_Center_DG = $UO_CA_Center_DG.dxDataGrid("instance");
                   await UO_CA_Center_DG.refresh();
               }
           }
           catch (e) {
               console.log(e);
           }  
        }

        async function Refresh_UO_CA_Store_DG() {
            try {
                var $UO_CA_Store_DG = $("#LookUp_GetStoreDetails_datagrid");
                if ($UO_CA_Store_DG.length) {
                    UO_CA_Store_DG = $UO_CA_Store_DG.dxDataGrid("instance");
                    await UO_CA_Store_DG.refresh();
                }
            }
            catch (e) {
                console.log(e);
            }  
        }
       
    function UOCheckAvailabilityAjaxSuccessForm(data) {
       

        HideLoader();
        if (data.result == true || data.result == "true") {
            DevExpress.ui.dialog.alert(data.Message, "Inform");
            //var StackSubmitSuccess = DevExpress.ui.dialog.alert(data.Message, "Inform..");
            $("#Check_Avl_Popup").dxPopup("hide");
            StockAvlItemListGrid.SetFocusedRowIndex(-1);
            StockAvlItemListGrid.Refresh();
        }
        else {

            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
    }
    function CheckAvlOnInit(s, e) {
      debugger
        s.SetFocusedRowIndex(-1);
    }
    

    function OnFrm_AddItem_Click() {
        //  $("#UserOrderinnergrid").dxPopup("hide");
       debugger
        if (!UO_CA_selected_Item_ID) {
            DevExpress.ui.dialog.alert("Please Select Row", "Error");
            return;
        }
        //var menucheck = UO_StatusFlowCheck("ADD-ITEMS");
        //if (menucheck[1] == false) {
        //    DevExpress.ui.dialog.alert(menucheck[0], "Error");
        //    return;
        //}

       

    if ("@Model.UO_CA_Store_id" == "0") {

        var ReqStoreDept = $("#UORequest_Store_Id").dxDropDownBox('instance').option('value');
        if (ReqStoreDept == null) {

            storeid = $("#UO_CA_Store_id").dxDropDownBox("instance").option("value");
          
            if (storeid == null) {
                DevExpress.ui.dialog.alert("Please Select Requestee Store First!!", "Error"); return;
            }
        }
    }
     
        ShowLoader();

        $.ajax({
            type: 'GET',
            url: "/Stock/UserOrder/Frm_User_Order_Item",
            data: {
                ActionMethod: "New",
                itemid: UO_CA_selected_Item_ID,
                UOid: "@Model.UOid",
              //  UOItemPopupName: "checkavlinnerpopup",                
            //    PostSuccessFunction: "Frm_User_Order_Item_InsideCheckAvl_Popup_OnSuccess",
                storeid: storeid,
                

            },
            cache: false,
            success: function (data) {
                OpenPopup("UserOrderinnergrid", "New ~ Item Detail", null, "auto", 1150, true, data);
            }
        });

        

    }
</script>
