@using DevExtreme.AspNet.Mvc
<div>
    @(Html.DevExtreme().Button()
                                .ID("UO_ExportGridDatapdf")
                                .Text("Export to PDF")
                                .OnClick("ExportPDF")
                                .Visible(true)
                                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                                .ID("UO_ExportGridDataxls")
                                .Text("Export to XLS")
                                .OnClick("ExportXLS")
                                .Visible(true)
                                .Width(120)
    )<br />
    @(Html.DevExtreme().Button()
                                .ID("UO_ExportGridDataxlsx")
                                .Text("Export to XLSX")
                                .OnClick("ExportXLSX")
                                .Visible(true)
                                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                                .ID("UO_ExportGridDatadocx")
                                .Text("Export to DOCX")
                                .OnClick("ExportDOCX")
                                .Visible(true)
                                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                                .ID("UO_ExportGridDatartf")
                                .Text("Export to RTF")
                                .OnClick("ExportRTF")
                                .Visible(true)
                                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                                .ID("UO_ExportGridDatacsv")
                                .Text("Export to CSV")
                                .OnClick("ExportCSV")
                                .Visible(true)
                                .Width(120)
    )
</div>
<script>
    function ExportPDF() {

        UserOrderListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        $("#UserOrderRegister_report_modal").dxPopup("hide");
    }
    function ExportXLS() {
        UserOrderListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
        $("#UserOrderRegister_report_modal").dxPopup("hide");
    }
    function ExportXLSX() {
        UserOrderListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        $("#UserOrderRegister_report_modal").dxPopup("hide");
    }
    function ExportCSV() {
        UserOrderListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
        $("#UserOrderRegister_report_modal").dxPopup("hide");
    }
    function ExportDOCX() {
        UserOrderListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
        $("#UserOrderRegister_report_modal").dxPopup("hide");
    }
    function ExportRTF() {
        UserOrderListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        $("#UserOrderRegister_report_modal").dxPopup("hide");
    }
</script>

