@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.UserOrder_Received
@{
    ViewBag.Test = Model.UO_GR_ActionMethod;
    bool IsVisible = Model != null && (Model.UO_GR_ActionMethod.ToString().Trim() == "View") ? true : false;
    bool UO_ProfileCore__AddRight = (bool)ViewData["UO_ProfileCore__AddRight"];
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    /*.demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            line-height: 15px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 8px;
                height: 8px;
                background: #337ab7;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 11px;
        margin-top: 10px;
    }
        #Id_Print_Receipt > div {
        padding: 2px 8px !important;
    }*/
</style>

<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="Frm_User_Order_Received_PopUp" class="edit_form">
    @using (Ajax.BeginForm("Frm_User_Order_Received", "UserOrder",
                          new AjaxOptions
                          {
                              HttpMethod = "POST",
                              UpdateTargetId = "Frm_User_Order_Received_PopUp",
                              InsertionMode = InsertionMode.InsertAfter,
                              OnBegin = "AjaxBeginFormPost",
                              OnSuccess = String.Format("{0}", Model.GR_PostSuccessFunction)

                          },
                          new
                          {
                              id = "ID_Frm_Received_Window",
                              @class = "edit_form"
                          }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.UO_GR_ActionMethod)
        @Html.HiddenFor(x => x.UO_GR_Item_Name)
        @Html.HiddenFor(x => x.UO_GR_Received_Mode)
        @Html.HiddenFor(x => x.UO_GR_Delivery_Location)
        @Html.HiddenFor(x => x.UO_GR_Received_By)
        @Html.HiddenFor(x => x.UO_GR_Sr)
        @Html.HiddenFor(x => x.UO_GR_ID)
        @Html.HiddenFor(x => x.UO_GR_UDS_ID)
        @Html.HiddenFor(x => x.UO_GR_DeliveryEntry_ID)
        @Html.HiddenFor(x => x.UO_GR_ReturnedEntry_ID)
        @Html.HiddenFor(x => x.UOid)
        @Html.HiddenFor(x => x.GR_PopUPId)
        @Html.HiddenFor(x => x.GR_PostSuccessFunction)


        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg3">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Item Details</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Item Received:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_GR_Item_ReceivedId").Name("UO_GR_Item_ReceivedId")
                                                                                                                                                            //.Value(Model.UO_GR_Item_ReceivedId)
                                                                                                                                                            .ValueExpr("ID")
                                                                                                                                                            .DisplayExpr("Item_Name")
                                                                                                                                                            .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_Item_Received").Key("ID").LoadParams(new { Recd_ID = new JS("function (){return Recd_ID;}") }))
                                                                                                                                                        //.Placeholder("Item DropDown Contains Deliveries, Where all Goods have not been received")
                                                                                                                                                        
                                                                                                                                                            .ReadOnly(IsVisible)
                                                                                                                                                            .Disabled(IsVisible)
                                                                                                                                                        .OnValueChanged("Get_Item_Received_ChangeEvent")
                                                                                                                                                        .OnInitialized("OnInitialized_Get_Item_Received_ChangeEvent")
                                                                                                                                                       
                                                                                                                                                            .ContentTemplate(@<text>
                                                                                                                                                                @Html.Partial("LookUp_Get_Item_Received")
                                                                                                                                                            </text>)
                        )
                        @Html.ValidationMessageFor(model => model.UO_GR_Item_ReceivedId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Item Code:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                                    .ID("UO_GR_Item_Code")
                                                                                                                                                    .Name("UO_GR_Item_Code")
                                                                                                                                                    //.Value(Model.UO_GR_Item_Code)
                                                                                                                                                    .ReadOnly(true)
                                                                                                                                                    .Disabled(IsVisible)
                        )
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Head:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                                    .ID("UO_GR_Head")
                                                                                                                                                    .Name("UO_GR_Head")
                                                                                                                                                    //  .Value(Model.UO_GR_Head)
                                                                                                                                                    .ReadOnly(true)
                                                                                                                                                    .Disabled(IsVisible)
                        )
                    </div>
                </div>
            </div>
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Item Type:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                                    .ID("UO_GR_Item_Type")
                                                                                                                                                    .Name("UO_GR_Item_Type")
                                                                                                                                                    // .Value(Model.UO_GR_Item_Type)
                                                                                                                                                    .ReadOnly(true)
                                                                                                                                                    .Disabled(IsVisible)
                        )
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Make:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll3">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                            .ID("UO_GR_Make")
                                                                                                                                            .Name("UO_GR_Make")
                                                                                                                                            //   .Value(Model.UO_GR_Make)
                                                                                                                                            .ReadOnly(true)
                                                                                                                                            .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[1]-->
            </div>

            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Model:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                            .ID("UO_GR_ModelName")
                                                                                                                                            .Name("UO_GR_ModelName")
                                                                                                                                            //   .Value(Model.UO_GR_ModelName)
                                                                                                                                            .ReadOnly(true)
                                                                                                                                            .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[2]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Unit:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                            .ID("UO_GR_Unit")
                                                                                                                                            .Name("UO_GR_Unit")
                                                                                                                                            //  .Value(Model.UO_GR_Unit)
                                                                                                                                            .ReadOnly(true)
                                                                                                                                            .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[3]-->
            </div><!--[row3]-->


            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label text-red" for="user">Received Quantity:</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 prm">
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("UO_GR_Received_Qty").Name("UO_GR_Received_Qty")
                                .Value(Convert.ToDouble(Model.UO_GR_Received_Qty))
                                //.OnInitialized("Init_RecdQty_Change")
                                .ReadOnly(IsVisible)
                                                                                                                                                                                    .Disabled(IsVisible))
                        @Html.ValidationMessageFor(model => model.UO_GR_Received_Qty, "", new { @class = "text-danger" })
                    </div>
                </div> <!--[1]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Qty Delivered by Store:</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 prm">
                        @(Html.DevExtreme().NumberBox().CustomNumberBox()
                                                                                                                                            .ID("UO_GR_Qty_Delivered_by_Store")
                                                                                                                                            .Name("UO_GR_Qty_Delivered_by_Store")
                                                                                                                                            // .Value(Convert.ToDouble(Model.UO_GR_Qty_Delivered_by_Store))
                                                                                                                                            .ReadOnly(true)
                                                                                                                                            .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[1]-->
               
            </div>
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Pending Receivable Qty :</label></div>
                        <div class="col-sm-6 col-md-6 col-lg-6 prm pll2">

                            @(Html.DevExtreme().NumberBox().CustomNumberBox()
                                                                                                                                                                                                          .ID("UO_GR_Unreceived_Delivered_Qty")
                                                                                                                                                                                                          .Name("UO_GR_Unreceived_Delivered_Qty")
                                                                                                                                                                                                          //.Value(Convert.ToDouble(Model.UO_GR_Unreceived_Delivered_Qty))
                                                                                                                                                                                                          .ReadOnly(true)
                                                                                                                                                                                                          .Disabled(IsVisible)
                            )

                        </div>
                </div><!--[2]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Lot No.:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                            .ID("UO_GR_Lot_No")
                                                                                                                                            .Name("UO_GR_Lot_No")
                                                                                                                                            //  .Value(Model.UO_GR_Lot_No)
                                                                                                                                            .ReadOnly(true)
                                                                                                                                            .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[2]-->
            </div>
                <div class="row formRow">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Delivery Date:</label></div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm">
                            @(Html.DevExtreme().DateBox().CustomDateBox()
                                                                                                                                                .ID("UO_GR_Delivery_Date")
                                                                                                                                                .Name("UO_GR_Delivery_Date")
                                                                                                                                                //.Value(Model.UO_GR_Delivery_Date)
                                                                                                                                                .Type(DateBoxType.Date)
                                                                                                                                                .ReadOnly(true)
                                                                                                                                                .Disabled(IsVisible)



                            )
                        </div>
                    </div><!--[3]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Received Date:</label></div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                            @(Html.DevExtreme().DateBoxFor(model => model.UO_GR_Received_Date).CustomDateBox()
                                                                                                                                        .ID("UO_GR_Received_Date")
                                                                                                                                        .Name("UO_GR_Received_Date")
                                                                                                                                    
                                                                                                                                        .ReadOnly(IsVisible)
                                                                                                                                        .Disabled(IsVisible)
                            )
                            @Html.ValidationMessageFor(model => model.UO_GR_Received_Date, "", new { @class = "text-danger" })
                        </div>
                    </div><!--[1]-->
                </div><!--[row6]-->

                <div class="row formRow">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Received Mode:</label></div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_GR_Received_ModeId")
                                                                                                                                                    .Name("UO_GR_Received_ModeId")
                                                                                                                                                    .Value(Model.UO_GR_Received_ModeId)
                                                                                                                                                    .ValueExpr("ModeID")
                                                                                                                                                    .DisplayExpr("Mode")
                                                                                                                                                    .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_Received_Mode").Key("ModeID"))
                                                                                                                                                    //.Placeholder("DropDown::Courier, Registry, Transport, Railways, By Hand, Ship, Air")
                                                                                                                                                    
                                                                                                                                                    .ReadOnly(IsVisible)
                                                                                                                                                    .Disabled(IsVisible)
                                                                                                                                                    .OnValueChanged("Received_Mode_ChangeEvent")
                                                                                                                                                   
                                                                                                                                                    .ContentTemplate(@<text>
                                                                                                                                                        @Html.Partial("LookUp_Get_Received_Mode")
                                                                                                                                                    </text>)
                            )
                            @Html.ValidationMessageFor(model => model.UO_GR_Received_ModeId, "", new { @class = "text-danger" })
                        </div>
                    </div><!--[2]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Carrier:</label></div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("UO_GR_Carrier")
                                                                                                                                                    .Name("UO_GR_Carrier")
                                                                                                                                                    .Value(Model.UO_GR_Carrier)
                                                                                                                                                    .MaxLength(100)
                                                                                                                                                    .ReadOnly(IsVisible)
                                                                                                                                                    .Disabled(IsVisible))
                        </div>
                    </div><!--[1]-->

                </div><!--[row8]-->

                <div class="row formRow">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Received Location:</label></div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_GR_Delivery_LocationId").Name("UO_GR_Delivery_LocationId")
                            .Value(Model.UO_GR_Delivery_LocationId)
                            .ValueExpr("Loc_Id")
                            .DisplayExpr("Location_Name")
                            .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_Received_Location").Key("Loc_Id").LoadParams(new { UOGRReqMainDeptID = new JS("function (){ return MainDeptID;}") , UOReqSubDeptID = new JS("function (){ return subdeptid;}")}))            
                            .ReadOnly(IsVisible)
                            .Disabled(IsVisible)
                            .OnValueChanged("Received_Location_ChangeEvent")

                            .ContentTemplate(@<text>
                                @Html.Partial("LookUp_Get_Received_Location")
                            </text>)
                            )
                            @Html.ValidationMessageFor(model => model.UO_GR_Delivery_LocationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 prm">
                        @(Html.DevExtreme().Button()
                                                                                                                                    .ID("UO_GR_AddLocation")
                                                                                                                                    .Text("Add Location")
                                                                                                                                    .Disabled(IsVisible)
                                                                                                                                    .OnClick(@<text>
                                                                                                                                        function () {
                                                                                                                                        UO_GR_Add_Location_Click()
                                                                                                                                        }
                                                                                                                                    </text>))
                    </div>
                </div><!--[row7]-->


                <div class="row formRow">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Bill No.:</label></div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("UO_GR_BillNo").Name("UO_GR_BillNo").Value(Model.UO_GR_BillNo).MaxLength(50).ReadOnly(IsVisible)
                                                                                                                                                                            .Disabled(IsVisible))
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Challan No.:</label></div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("UO_GR_ChallanNo").Name("UO_GR_ChallanNo").Value(Model.UO_GR_ChallanNo).MaxLength(50).ReadOnly(IsVisible)
                                                                                                                                                                            .Disabled(IsVisible))
                        </div>
                    </div><!--[2]-->
                </div><!--[row9]-->
                <div class="row formRow">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Received By:</label></div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_GR_Received_By_Id").Name("UO_GR_Received_By_Id")
                                                                                                                                            .Value(Model.UO_GR_Received_By_Id)
                                                                                                                                            .ValueExpr("ID")
                                                                                                                                            .DisplayExpr("Name")
                                                                                                                                            .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_Received_By").Key("ID").LoadParams(new { UOGRRecReqMainDeptID = new JS("function (){ return MainDeptID;}"), UOGRRecReqSubDeptID = new JS("function (){ return subdeptid;}") }))
                                                                                                                                            .Placeholder("Pre-filled as Logged in user)")

                                                                                                                                            .ReadOnly(IsVisible)
                                                                                                                                            .Disabled(IsVisible)
                                                                                                                                            .OnValueChanged("Received_By_ChangeEvent")

                                                                                                                                            .ContentTemplate(@<text>
                                                                                                                                                @Html.Partial("LookUp_Get_Received_By")
                                                                                                                                            </text>)
                            )
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Mobile/CUG No.:</label></div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm">
                            @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                .ID("UO_GR_MobileNo")
                                                                                                                                .Name("UO_GR_MobileNo")
                                                                                                                                //.Value(Model.UO_GR_MobileNo)
                                                                                                                                .ReadOnly(true)
                                                                                                                                .Disabled(IsVisible)
                            )
                        </div>
                    </div><!--[2]-->
                </div>
                <div class="row formRow">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label " for="user">Receiver Remarks:</label></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("UO_GR_Remarks").Name("UO_GR_Remarks").Value(Model.UO_GR_Remarks).Placeholder("Enter Remark").MaxLength(8000).ReadOnly(IsVisible)
                                                                                                                                                                                .Disabled(IsVisible))
                    </div>
                </div><!--[row10]-->

                <div class="row styleActionBtn marginAll8">
                    @(Html.DevExtreme().Button().ID("Id_Print_Receipt").Text("Print Receipt").Disabled(IsVisible).OnClick(@<text> function(){ UO_Recd_Print_Receipt(); } </text>))

                    @if (Model.UO_GR_ActionMethod.ToString().Trim() == "View")
                    {
                        @(Html.DevExtreme().Button().CustomCloseButton()
                                                                                                                                            .Text("Close")
                                                                                                                                            .ID("UOReceived_Cancle")                                                                                                                                          
                                                                                                                                            .FocusStateEnabled(true)
                                                                                                                                            .OnClick(@<text>
                                                                                                                                                function () {
                                                                                                                                                $("#UserOrderinnergrid").dxPopup("hide");
                                                                                                                                                }
                                                                                                                                            </text>)
                        )
                    }
                    @if (Model.UO_GR_ActionMethod.ToString().Trim() == "New" || Model.UO_GR_ActionMethod.ToString().Trim() == "Edit")
                    {
                        @(Html.DevExtreme().Button().CustomSaveButton()
                                                                                                                                           .Text("OK")
                                                                                                                                           .ID("UOReceived_Save")
                                                                                                                                          
                                                                                                                                           .FocusStateEnabled(true)
                                                                                                                                           .UseSubmitBehavior(true)
                        )
                        @(Html.DevExtreme().Button().CustomCloseButton()
                                                                                                                                .Text("Cancel")
                                                                                                                                .ID("UOSaveReceived_Cancle")
                                                                                                                               
                                                                                                                                .FocusStateEnabled(true)
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function () {
                                                                                                                                    $("#UserOrderinnergrid").dxPopup("hide");
                                                                                                                                    }
                                                                                                                                </text>)
                        )

                    }
                    @*@if (Model.UO_GR_ActionMethod.ToString().Trim() == "Delete")
                        {
                            @(Html.DevExtreme().Button()
                                                                                                                                .Text("Delete")
                                                                                                                                .ID("UOReceived_Delete")
                                                                                                                                .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                                                                                                                                .FocusStateEnabled(true)
                                                                                                                                .UseSubmitBehavior(true)
                            )
                            @(Html.DevExtreme().Button()
                                                                                                                   .Text("Close")
                                                                                                                   .ID("UODeleteReceived_Cancle")
                                                                                                                   .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                                                                                                   .FocusStateEnabled(true)
                                                                                                                   .OnClick(@<text>
                                                                                                                    function () {
                                                                                                                    $("#UserOrderinnergrid").dxPopup("hide");
                                                                                                                    }
                                                                                                                </text>)
                            )
                        }*@
                </div>
                }
                }

            </div>
            @(Html.DevExtreme().Popup().CustomPopup().ID("RecdPaymentAddLocation").CloseOnOutsideClick(false).ShowTitle(true).Height("auto").Width("auto").DragEnabled(true).Title("New ~ Location").ContentTemplate(@<text> <div id="result_RecdPaymentAddLocation"> </div> </text>) )
            <script>


    var deliveryID;
    var returnID;
    var UDSid;
    var MainDeptID = "";
    var pendingqty;
    var recdqty;
    var totalqty;
    var ReceievedQuantity;
    var uoid;
    var srno;
    var Recd_ID;
    var RowID;
    var recid;
    var RecID;
                $(document).ready(async function ()
                {
                    if ("@UO_ProfileCore__AddRight" == "False")
                    {
	                    $("#UO_GR_AddLocation").hide();	
                    }
                    var form = "ID_Frm_Received_Window";
                    ShowLoader();
                    AssignIDtoLabel(form, "UO_Receive");
        if ("@Model.UO_GR_Item_ReceivedId".length > 0)
        {
            var UO_Recd_Item_DG = $("#LookUp_Item_Received").dxDataGrid("instance");
            await UO_Recd_Item_DG.selectRows(parseInt("@Model.UO_GR_Item_ReceivedId"), false);
            }
                    setTimeout(function ()

                    {
            Set_Form_View_Delete_Mode(null, form, "@Model.UO_GR_ActionMethod");
            Focus_FirstEditable_Field(form, "@Model.UO_GR_ActionMethod");
            HideLoader();

                    }, Timeout500);
    });
    function OnInitialized_Get_Item_Received_ChangeEvent(e) {

        debugger
            Recd_ID = "@Model.UO_GR_ID";
        if ("@Model.UO_GR_ActionMethod" != "New") {
            e.component.option("dataSource").store.load().done(function (d) {
                @*if (d.length > 0) {
                    e.component.option("value", @Model.UO_GR_Item_ReceivedId);
                }*@
                Get_Item_Received_ChangeEvent(@Model.UO_GR_Item_ReceivedId);
            });

        }
        else if ("@Model.UO_GR_ActionMethod" == "New"  && "@Model.UO_GR_Item_ReceivedId" != 0) {
            e.component.option("dataSource").store.load().done(function (d) {
                @*if (d.length > 0) {
                    e.component.option("value", @Model.UO_GR_Item_ReceivedId);
                }*@
                Get_Item_Received_ChangeEvent(@Model.UO_GR_Item_ReceivedId);
            });

        }
    }




    function Get_Item_Received_ChangeEvent(e) {
        debugger
        uoid = "@Model.UOid";
        srno = "@Model.UO_GR_Sr";
        recid = "@Model.UO_GR_ID";
        if ("@Model.UO_GR_ActionMethod" == "New") {

            var dropDownBox = $("#UO_GR_Item_ReceivedId").dxDropDownBox("instance");
            dropDownBox.close();
            var $dataGrid = $("#LookUp_Item_Received");
            if ($dataGrid.length) {
                LookUp_Item_Received
                 dataGrid = $dataGrid.dxDataGrid("instance");
                //dataGrid.selectRows(dropDownBox.option("value"), false);
                if (dataGrid.getSelectedRowsData().length > 0) {
                    var item = dataGrid.getSelectedRowsData()[0];
                    var ItemName = item.Item_Name;
                    deliveryID = item.Del_ID;
                    returnID = item.Ret_ID;
                    UDSid = item.UDS_ID;
                    RowID = item.ID;
                    $.ajax({
                        type: 'GET',
                        url: "/Stock/UserOrder/All_Saved_Received_Item_Exists_in_Grid",
                        data: { ReceivedID: UDSid, uoid: uoid, srno: srno },
                        cache: false,
                        success: function (res) {

                            if (res.result == true)//  no edited row exists
                            {
                                $.ajax({
                                    type: 'GET',
                                    url: "/Stock/UserOrder/Check_Unsaved_Item_Entry_in_Delivery_Grid",
                                    data: { deliveryID: deliveryID },
                                    cache: false,
                                    success: function (res) {

                                        if (res.result == true)// no added row exists in delivery
                                        {
                                            $.ajax({
                                                type: 'GET',
                                                url: "/Stock/UserOrder/Check_Unsaved_Item_Entry_in_ReturnedReceived_Grid",
                                                data: { UDSid: UDSid },
                                                cache: false,
                                                success: function (res) {

                                                    if (res.result == true)// no added/edited row exists in returrecd
                                                    {


                                                        $("#UO_GR_Item_Name").val(ItemName);
                                                        $("#UO_GR_DeliveryEntry_ID").val(deliveryID);
                                                        $("#UO_GR_ReturnedEntry_ID").val(returnID);
                                                        $("#UO_GR_UDS_ID").val(UDSid);

                                                        $("#UO_GR_Head").dxTextBox("instance").option("value", item["Head"]);
                                                        $("#UO_GR_Make").dxTextBox("instance").option("value", item["Make"]);
                                                        $("#UO_GR_ModelName").dxTextBox("instance").option("value", item["Model"]);
                                                        $("#UO_GR_Item_Code").dxTextBox("instance").option("value", item["Item_Code"]);
                                                        $("#UO_GR_Item_Type").dxTextBox("instance").option("value", item["Item_Type"]);
                                                        $("#UO_GR_Unit").dxTextBox("instance").option("value", item["Unit"]);
                                                        $("#UO_GR_Qty_Delivered_by_Store").dxNumberBox("instance").option("value", item["Delivered_Qty"]);

                                                        $("#UO_GR_Delivery_Date").dxDateBox("instance").option("value", item["Delivery_Date"]);
                                                        $("#UO_GR_Received_Qty").dxNumberBox("instance").option("value", item["Unreceived_Delivered_Qty"]);

                                                        $("#UO_GR_Unreceived_Delivered_Qty").dxNumberBox("instance").option("value", item["Unreceived_Delivered_Qty"]);
                                                        $("#UO_GR_Delivery_LocationId").dxDropDownBox("instance").option("value", item["DeliveryLocationId"]);

                                                        $("#UO_GR_Received_ModeId").dxDropDownBox("instance").option("value", item["ModeID"]);

                                                        $("#UO_GR_Lot_No").dxTextBox("instance").option("value", item["Lot_No"]);
                                                        $("#UO_GR_Carrier").dxTextBox("instance").option("value", item["Carrier"]);
                                                        //   $("#UO_GR_Received_Qty").dxNumberBox("instance").reset();//on value change
                                                    }

                                                    else if (res.result == false) {
                                                        DevExpress.ui.dialog.alert(res.message, 'Alert');
                                                        $("#UO_GR_Head").dxTextBox("instance").reset();
                                                        $("#UO_GR_Make").dxTextBox("instance").reset();
                                                        $("#UO_GR_ModelName").dxTextBox("instance").reset();
                                                        $("#UO_GR_Item_Code").dxTextBox("instance").reset();
                                                        $("#UO_GR_Item_Type").dxTextBox("instance").reset();
                                                        $("#UO_GR_Unit").dxTextBox("instance").reset();
                                                        $("#UO_GR_Qty_Delivered_by_Store").dxNumberBox("instance").reset();

                                                        $("#UO_GR_Delivery_Date").dxDateBox("instance").reset();

                                                        $("#UO_GR_Unreceived_Delivered_Qty").dxNumberBox("instance").reset();
                                                        $("#UO_GR_Delivery_LocationId").dxDropDownBox("instance").reset();

                                                        $("#UO_GR_Received_ModeId").dxDropDownBox("instance").reset();

                                                        $("#UO_GR_Lot_No").dxTextBox("instance").reset();
                                                        $("#UO_GR_Carrier").dxTextBox("instance").reset();

                                                        $("#UO_GR_Received_Qty").dxNumberBox("instance").reset();

                                                        $("#UO_GR_Received_Date").dxDateBox("instance").reset();
                                                        $("#UO_GR_Received_By_Id").dxDropDownBox("instance").reset();
                                                    }

                                                }
                                            });
                                        }

                                        else if (res.result == false) {
                                            DevExpress.ui.dialog.alert(res.message, 'Alert');
                                            $("#UO_GR_Head").dxTextBox("instance").reset();
                                            $("#UO_GR_Make").dxTextBox("instance").reset();
                                            $("#UO_GR_ModelName").dxTextBox("instance").reset();
                                            $("#UO_GR_Item_Code").dxTextBox("instance").reset();
                                            $("#UO_GR_Item_Type").dxTextBox("instance").reset();
                                            $("#UO_GR_Unit").dxTextBox("instance").reset();
                                            $("#UO_GR_Qty_Delivered_by_Store").dxNumberBox("instance").reset();

                                            $("#UO_GR_Delivery_Date").dxDateBox("instance").reset();

                                            $("#UO_GR_Unreceived_Delivered_Qty").dxNumberBox("instance").reset();
                                            $("#UO_GR_Delivery_LocationId").dxDropDownBox("instance").reset();

                                            $("#UO_GR_Received_ModeId").dxDropDownBox("instance").reset();

                                            $("#UO_GR_Lot_No").dxTextBox("instance").reset();
                                            $("#UO_GR_Carrier").dxTextBox("instance").reset();

                                            $("#UO_GR_Received_Qty").dxNumberBox("instance").reset();

                                            $("#UO_GR_Received_Date").dxDateBox("instance").reset();
                                            $("#UO_GR_Received_By_Id").dxDropDownBox("instance").reset();
                                        }

                                    }
                                });
                            }
                            else if (res.result == false) {
                                DevExpress.ui.dialog.alert(res.message, 'Alert');

                                $("#UO_GR_Head").dxTextBox("instance").reset();
                                $("#UO_GR_Make").dxTextBox("instance").reset();
                                $("#UO_GR_ModelName").dxTextBox("instance").reset();
                                $("#UO_GR_Item_Code").dxTextBox("instance").reset();
                                $("#UO_GR_Item_Type").dxTextBox("instance").reset();
                                $("#UO_GR_Unit").dxTextBox("instance").reset();
                                $("#UO_GR_Qty_Delivered_by_Store").dxNumberBox("instance").reset();

                                $("#UO_GR_Delivery_Date").dxDateBox("instance").reset();

                                $("#UO_GR_Unreceived_Delivered_Qty").dxNumberBox("instance").reset();
                                $("#UO_GR_Delivery_LocationId").dxDropDownBox("instance").reset();

                                $("#UO_GR_Received_ModeId").dxDropDownBox("instance").reset();

                                $("#UO_GR_Lot_No").dxTextBox("instance").reset();
                                $("#UO_GR_Carrier").dxTextBox("instance").reset();

                                $("#UO_GR_Received_Qty").dxNumberBox("instance").reset();

                                $("#UO_GR_Received_Date").dxDateBox("instance").reset();
                                $("#UO_GR_Received_By_Id").dxDropDownBox("instance").reset();


                            }

                        }
                    });

                }
            }


        }

        else
        {
            debugger
                var dropDownBox = $("#UO_GR_Item_ReceivedId").dxDropDownBox("instance");
                dropDownBox.close();

                var $dataGrid = $("#LookUp_Item_Received");
                if ($dataGrid.length) {
                    var dataGrid = $dataGrid.dxDataGrid("instance");
                    //dataGrid.selectRows(dropDownBox.option("value"), false);
                    if (dataGrid.getSelectedRowsData().length > 0) {
                        var item = dataGrid.getSelectedRowsData()[0];
                        var ItemName = item.Item_Name;
                        deliveryID = item.Del_ID;
                        returnID = item.Ret_ID;
                        UDSid = item.UDS_ID;
                        RowID = item.ID;
                        $.ajax({
                            type: 'GET',
                            url: "/Stock/UserOrder/All_Saved_Received_Item_Exists_in_Grid",
                            data: { ReceivedID: UDSid, uoid: uoid, srno: srno},
                            cache: false,
                            success: function (res) {

                                if (res.result == true)// no edited row exists
                                {
                                    $.ajax({
                                        type: 'GET',
                                        url: "/Stock/UserOrder/Check_Unsaved_Item_Entry_in_Returned_Grid",
                                        data: { RecID: recid },
                                        cache: false,
                                        success: function (res) {

                                            if (res.result == true)// no added row exists in returned
                                            {
                                                $.ajax({
                                                    type: 'GET',
                                                    url: "/Stock/UserOrder/Check_Unsaved_Item_Entry_in_ReturnedReceived_Grid",
                                                    data: { UDSid: UDSid },
                                                    cache: false,
                                                    success: function (res) {

                                                        if (res.result == true)// no added/edited row exists in returrecd
                                                        {



                                                            $("#UO_GR_Item_Name").val(ItemName);
                                                            $("#UO_GR_DeliveryEntry_ID").val(deliveryID);
                                                            $("#UO_GR_ReturnedEntry_ID").val(returnID);
                                                            $("#UO_GR_UDS_ID").val(UDSid);

                                                            $("#UO_GR_Head").dxTextBox("instance").option("value", item["Head"]);
                                                            $("#UO_GR_Make").dxTextBox("instance").option("value", item["Make"]);
                                                            $("#UO_GR_ModelName").dxTextBox("instance").option("value", item["Model"]);
                                                            $("#UO_GR_Item_Code").dxTextBox("instance").option("value", item["Item_Code"]);
                                                            $("#UO_GR_Item_Type").dxTextBox("instance").option("value", item["Item_Type"]);
                                                            $("#UO_GR_Unit").dxTextBox("instance").option("value", item["Unit"]);
                                                            $("#UO_GR_Qty_Delivered_by_Store").dxNumberBox("instance").option("value", item["Delivered_Qty"]);

                                                            $("#UO_GR_Delivery_Date").dxDateBox("instance").option("value", item["Delivery_Date"]);
                                                            // $("#UO_GR_Received_Qty").dxNumberBox("instance").option("value", item["Unreceived_Delivered_Qty"]);

                                                            $("#UO_GR_Unreceived_Delivered_Qty").dxNumberBox("instance").option("value", item["Unreceived_Delivered_Qty"]);
                                                            //$("#UO_GR_Delivery_LocationId").dxDropDownBox("instance").option("value", item["DeliveryLocationId"]);

                                                            $("#UO_GR_Received_ModeId").dxDropDownBox("instance").option("value", item["ModeID"]);

                                                            $("#UO_GR_Lot_No").dxTextBox("instance").option("value", item["Lot_No"]);
                                                            // $("#UO_GR_Carrier").dxTextBox("instance").option("value", item["Carrier"]);
                                                            //   $("#UO_GR_Received_Qty").dxNumberBox("instance").reset();//on value change
                                                        }
                                                        else if (res.result == false) {
                                                            DevExpress.ui.dialog.alert(res.message, 'Alert');
                                                            $("#UO_GR_Head").dxTextBox("instance").reset();
                                                            $("#UO_GR_Make").dxTextBox("instance").reset();
                                                            $("#UO_GR_ModelName").dxTextBox("instance").reset();
                                                            $("#UO_GR_Item_Code").dxTextBox("instance").reset();
                                                            $("#UO_GR_Item_Type").dxTextBox("instance").reset();
                                                            $("#UO_GR_Unit").dxTextBox("instance").reset();
                                                            $("#UO_GR_Qty_Delivered_by_Store").dxNumberBox("instance").reset();

                                                            $("#UO_GR_Delivery_Date").dxDateBox("instance").reset();

                                                            $("#UO_GR_Unreceived_Delivered_Qty").dxNumberBox("instance").reset();
                                                            $("#UO_GR_Delivery_LocationId").dxDropDownBox("instance").reset();

                                                            $("#UO_GR_Received_ModeId").dxDropDownBox("instance").reset();

                                                            $("#UO_GR_Lot_No").dxTextBox("instance").reset();
                                                            $("#UO_GR_Carrier").dxTextBox("instance").reset();

                                                            $("#UO_GR_Received_Qty").dxNumberBox("instance").reset();

                                                            $("#UO_GR_Received_Date").dxDateBox("instance").reset();
                                                            $("#UO_GR_Received_By_Id").dxDropDownBox("instance").reset();
                                                        }

                                                    }
                                                });
                                            }

                                            else if (res.result == false) {
                                                DevExpress.ui.dialog.alert(res.message, 'Alert');
                                                $("#UO_GR_Head").dxTextBox("instance").reset();
                                                $("#UO_GR_Make").dxTextBox("instance").reset();
                                                $("#UO_GR_ModelName").dxTextBox("instance").reset();
                                                $("#UO_GR_Item_Code").dxTextBox("instance").reset();
                                                $("#UO_GR_Item_Type").dxTextBox("instance").reset();
                                                $("#UO_GR_Unit").dxTextBox("instance").reset();
                                                $("#UO_GR_Qty_Delivered_by_Store").dxNumberBox("instance").reset();

                                                $("#UO_GR_Delivery_Date").dxDateBox("instance").reset();

                                                $("#UO_GR_Unreceived_Delivered_Qty").dxNumberBox("instance").reset();
                                                $("#UO_GR_Delivery_LocationId").dxDropDownBox("instance").reset();

                                                $("#UO_GR_Received_ModeId").dxDropDownBox("instance").reset();

                                                $("#UO_GR_Lot_No").dxTextBox("instance").reset();
                                                $("#UO_GR_Carrier").dxTextBox("instance").reset();

                                                $("#UO_GR_Received_Qty").dxNumberBox("instance").reset();

                                                $("#UO_GR_Received_Date").dxDateBox("instance").reset();
                                                $("#UO_GR_Received_By_Id").dxDropDownBox("instance").reset();
                                            }

                                        }
                                    });
                                }


                                else if (res.result == false) {
                                    DevExpress.ui.dialog.alert(res.message, 'Alert');

                                    $("#UO_GR_Head").dxTextBox("instance").reset();
                                    $("#UO_GR_Make").dxTextBox("instance").reset();
                                    $("#UO_GR_ModelName").dxTextBox("instance").reset();
                                    $("#UO_GR_Item_Code").dxTextBox("instance").reset();
                                    $("#UO_GR_Item_Type").dxTextBox("instance").reset();
                                    $("#UO_GR_Unit").dxTextBox("instance").reset();
                                    $("#UO_GR_Qty_Delivered_by_Store").dxNumberBox("instance").reset();

                                    $("#UO_GR_Delivery_Date").dxDateBox("instance").reset();

                                    $("#UO_GR_Unreceived_Delivered_Qty").dxNumberBox("instance").reset();
                                    $("#UO_GR_Delivery_LocationId").dxDropDownBox("instance").reset();

                                    $("#UO_GR_Received_ModeId").dxDropDownBox("instance").reset();

                                    $("#UO_GR_Lot_No").dxTextBox("instance").reset();
                                    $("#UO_GR_Carrier").dxTextBox("instance").reset();

                                    $("#UO_GR_Received_Qty").dxNumberBox("instance").reset();

                                    $("#UO_GR_Received_Date").dxDateBox("instance").reset();
                                    $("#UO_GR_Received_By_Id").dxDropDownBox("instance").reset();


                                }

                            }
                        });

                    }
                }


        }
    }


    function Received_Mode_ChangeEvent(e) {

        var dropDownBox = $("#UO_GR_Received_ModeId").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#LookUp_Received_Mode_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var ReceivedMode = item.Mode;
                $("#UO_GR_Received_Mode").val(ReceivedMode);
            }
        }
    }
    function Received_Location_ChangeEvent(e) {

        var dropDownBox = $("#UO_GR_Delivery_LocationId").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#LookUp_Received_Location_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var LocationName = item.Location_Name;
                $("#UO_GR_Delivery_Location").val(LocationName);
            }
        }
    }
    function Received_By_ChangeEvent(e) {
        debugger
        var dropDownBox = $("#UO_GR_Received_By_Id").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#LookUp_Received_By_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var ReceiveName = item.Name;
                $("#UO_GR_Received_By").val(ReceiveName);
                $("#UO_GR_MobileNo").dxTextBox("instance").option("value", item["Mobile_No"]);
            }
        }
    }


    function UO_Recd_Print_Receipt() {
        DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
    }
                function UO_GR_Add_Location_Click() {
            if ("@UO_ProfileCore__AddRight" == "False")
            {
	            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	            return;
            }
      debugger
            $.ajax({
                type: 'GET',
                url: "/Account/ProfilePaymentVoucher/AddLocations_Check",
                data: { ActionMethod: "New" },
                cache: false,
                async: false,
                success: function (data) {
                    if (data.result) {
                        $.ajax({
                            type: 'GET',
                            url: "/Account/ProfilePaymentVoucher/Frm_Location_Window",
                            data: {
                                ActionMethod: "New",
                                PopupID: "RecdPaymentAddLocation",
                                CallingScreen: "UO",
                                Dropdown_DataGrid:"LookUp_Received_Location_datagrid"
                            },//Mantis bug 0000503 fixed//Mantis bug 0000505 fixed
                            cache: false,
                            async: false,
                            success: function (data) {
                                ShowLoader();
                                $("#RecdPaymentAddLocation").dxPopup('show');
                                $("#RecdPaymentAddLocation").dxPopup("instance").option("title", "New~Location");
                                $("#result_RecdPaymentAddLocation").html(null);
                                $("#result_RecdPaymentAddLocation").html(data);
                                HideLoader();
                            }
                        });
                    }
                    else {
                        DevExpress.ui.dialog.alert( data.message , "Error");
                    }
                }
            });
        }


    $("#UO_GR_Received_Qty").keypress(function (e) {
        e = e || window.event;
        key = e.keyCode || e.which;
        var value = e.target.value;
        if (key == 8 || key == 127 || key == 9)
            return true
        var txt = String.fromCharCode(key);
        var reg = /[0-9.]/;
        if (value.indexOf('.') > -1) {
            var splitdot = value.split('.');
            if (splitdot[1].length >= 2)
                e.preventDefault();
        }
        if (reg.test(txt))
            return true;

        e.preventDefault();
        return false;

    });
    $('#UO_GR_Carrier').keypress(function (e) {
        var regex = new RegExp("^[a-zA-Z0-9]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            return true;
        }
        e.preventDefault();
        return false;
    });

    $('#UO_GR_BillNo').keypress(function (e) {
        var regex = new RegExp("^[a-z0-9-]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            return true;
        }
        e.preventDefault();
        return false;
    });
    $('#UO_GR_ChallanNo').keypress(function (e) {
        var regex = new RegExp("^[a-z0-9-]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            return true;
        }
        e.preventDefault();
        return false;
    });
            </script>
