@using DevExtreme.AspNet.Mvc;

@model ConnectOneMVC.Areas.Stock.Models.UserOrder_Delivery

@{
    ViewBag.Test = Model.UO_DL_ActionMethod;

    bool IsVisible = Model != null && (Model.UO_DL_ActionMethod.ToString().Trim() == "View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();

    bool UO_AddPersonnelRight = (bool)ViewData["UO_AddPersonnelRight"];
}

<style>
    .marginTop16 {
        margin-top: 16px;
    }
</style>

<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="Frm_User_Order_Delivered_PopUp" class="edit_form">
    @using (Ajax.BeginForm("Frm_User_Order_Delivery", "UserOrder",
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "Frm_User_Order_Delivered_PopUp",
                                InsertionMode = InsertionMode.InsertAfter,
                                OnBegin = "AjaxBeginFormPost",
                                OnSuccess = String.Format("{0}", Model.DL_PostSuccessFunction)
                            },
                            new
                            {
                                id = "ID_Frm_Delivered_Window",
                                @class = "edit_form"
                            }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.UO_DL_ActionMethod)
        @Html.HiddenFor(x => x.UO_DL_Item_Name)
        @Html.HiddenFor(x => x.UO_DL_Delivery_Mode)
        @Html.HiddenFor(x => x.UO_DL_Shipment_To_Location)
        @Html.HiddenFor(x => x.UO_DL_Delivered_By)
        @Html.HiddenFor(x => x.UO_DL_Sr)
        @Html.HiddenFor(x => x.UO_DL_ID)
        @Html.HiddenFor(x => x.UO_DL_Driver)
        @Html.HiddenFor(x => x.UO_DL_Approved_Qty)
        @Html.HiddenFor(x => x.Grid_GoodsDeliveryData)
        @Html.HiddenFor(x => x.UO_DL_SubItemID)
        @Html.HiddenFor(x => x.UOid)
        @Html.HiddenFor(x => x.DL_PopUPId)
        @Html.HiddenFor(x => x.DL_PostSuccessFunction)
        @Html.HiddenFor(x => x.UO_DL_StockPurchaseDate)
        @Html.HiddenFor(x => x.UO_DL_partialdelivery)

        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg3">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Item Details</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

            </div><!--[row]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label text-red" for="user">Item Name:</label></div>
                            <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                <div class="dx-texteditor  dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @*<select name="" class="dx-texteditor-input appear">
                                                <option value="0">Select Item Name</option>
                                            </select>*@
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_DL_Item_RequestedId").Name("UO_DL_Item_RequestedId")
                                                                                                                                                              .Value(Model.UO_DL_Item_RequestedId)
                                                                                                                                                              .ValueExpr("ID")
                                                                                                                                                              .DisplayExpr("Item_Name")
                                                                                                                                                              .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_Item_DL_Requested").Key("ID").LoadParams(new { Del_ID = new JS("function (){return Del_ID;}") }))
                                                                                                                                                              .Placeholder("Item DropDown")

                                                                                                                                                              .ReadOnly(IsVisible)
                                                                                                                                                               .Disabled(IsVisible)
                                                                                                                                                              .OnValueChanged("Get_Item_DL_Requested_ChangeEvent")
                                                                                                                                                              .OnInitialized("On_Item_DL_Initialize")

                                                                                                                                                              .ContentTemplate(@<text>
                                                                                                                                                                @Html.Partial("LookUp_Get_Item_DL_Requested")
                                                                                                                                                            </text>)
                                        )
                                        @Html.ValidationMessageFor(model => model.UO_DL_Item_RequestedId, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[row1]-->
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Head:</label></div>
                                <div class="col-sm-8 col-md-6 col-lg-6 prm pll3">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="Head">*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                    .ID("UO_DL_Head")
                                                                                                                                    .Name("UO_DL_Head")
                                                                                                                                    .Value(Model.UO_DL_Head)
                                                                                                                                    .ReadOnly(true)
                                                                                                                                    .Disabled(IsVisible)
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Item Code:</label></div>
                                <div class="col-sm-8 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="Item Code">*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                                            .ID("UO_DL_Item_Code")
                                                                                                                                                            .Name("UO_DL_Item_Code")
                                                                                                                                                            .Value(Model.UO_DL_Item_Code)
                                                                                                                                                            .ReadOnly(true)
                                                                                                                                                            .Disabled(IsVisible)
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[2]-->
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid ">
                            <div class="row">
                                <div class="col-sm-2 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Item Type:</label></div>
                                <div class="col-sm-10 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder=" Item Type">*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                                                   .ID("UO_DL_Item_Type")
                                                                                                                                                                   .Name("UO_DL_Item_Type")
                                                                                                                                                                   .Value(Model.UO_DL_Item_Type)
                                                                                                                                                                   .ReadOnly(true)
                                                                                                                                                                   .Disabled(IsVisible)
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[3]-->

            </div><!--[row2]-->
            <div class="row">

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Make:</label></div>
                                <div class="col-sm-8 col-md-6 col-lg-6 prm pll3">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="Make">*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                                             .ID("UO_DL_Make")
                                                                                                                                                             .Name("UO_DL_Make")
                                                                                                                                                             .Value(Model.UO_DL_Make)
                                                                                                                                                             .ReadOnly(true)
                                                                                                                                                             .Disabled(IsVisible)
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Model:</label></div>
                                <div class="col-sm-8 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="Model">*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                                            .ID("UO_DL_ModelName")
                                                                                                                                                            .Name("UO_DL_ModelName")
                                                                                                                                                            .Value(Model.UO_DL_ModelName)
                                                                                                                                                            .ReadOnly(true)
                                                                                                                                                            .Disabled(IsVisible)
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[2]-->
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Unit:</label></div>
                                <div class="col-sm-10 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="Unit">*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                                                  .ID("UO_DL_Unit")
                                                                                                                                                                  .Name("UO_DL_Unit")
                                                                                                                                                                  .Value(Model.UO_DL_Unit)
                                                                                                                                                                  .ReadOnly(true)
                                                                                                                                                                  .Disabled(IsVisible)
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[3]-->

            </div><!--[row3]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 pll marginTop16"><label class="control-label" for="user">Delivered Stock:</label></div>
                            <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                <div class="row">
                                    @*   <div class="col-lg-12 col-xs-12 table-responsive overflow-scroll scrollbar max_height160">*@ @*mantis 1546 issue1*@



                                    @Html.Action("UO_GoodsDelivery_Form_Grid", "UserOrder", new { ItemID = Model.UO_DL_SubItemID, Rec_ID = Model.UO_DL_Item_RequestedId })



                                    @*</div>*@
                                </div><!--[row]-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[row]-->
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-field mb_height52">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-6 pll"><label class="control-label text-red" for="user">Delivery Quantity:</label></div>
                                <div class="col-sm-8 col-md-6 col-lg-6 prm pll3">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="">*@
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox()
                                                                                                                                                                       .ID("UO_DL_Delivered_Qty")
                                                                                                                                                                       .Name("UO_DL_Delivered_Qty")
                                                                                                                                                                       // .Value(Convert.ToDouble(Model.UO_DL_Delivered_Qty))
                                                                                                                                                                       .ReadOnly(true)
                                                                                                                                                                       .Disabled(IsVisible)
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-field mb_height52">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Pending Quantity:</label></div>
                                <div class="col-sm-8 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="">*@
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox()
                                                                                                                                                                       .ID("UO_DL_Pending_Qty")
                                                                                                                                                                       .Name("UO_DL_Pending_Qty")
                                                                                                                                                                       .Value(Convert.ToDouble(Model.UO_DL_Pending_Qty))
                                                                                                                                                                       .ReadOnly(true)
                                                                                                                                                                       .Disabled(IsVisible)
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[2]-->
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid recheight43">
                            <div class="row">
                                <div class="col-sm-2 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Already Delivered Quantity:</label></div>
                                <div class="col-sm-10 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="">*@
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox()
                                                                                                                                                                       .ID("UO_DL_Already_Delivered_Qty")
                                                                                                                                                                       .Name("UO_DL_Already_Delivered_Qty")
                                                                                                                                                                       .Value(Convert.ToDouble(Model.UO_DL_Already_Delivered_Qty))
                                                                                                                                                                       .ReadOnly(true)
                                                                                                                                                                       .Disabled(IsVisible)
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[3]-->
            </div><!--[row]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-field mb_height52">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-6 pll"><label class="control-label" for="user">Priority:</label></div>
                                    <div class="col-sm-8 col-md-6 col-lg-6 prm pll3" >
                                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @*<input class="dx-texteditor-input" type="text" Placeholder="High/Normal/Low">*@
                                                @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                                                       .ID("UO_DL_Priority")
                                                                                                                                                                       .Name("UO_DL_Priority")
                                                                                                                                                                       .Value(Model.UO_DL_Priority)
                                                                                                                                                                       .ReadOnly(true)
                                                                                                                                                                       .Disabled(IsVisible)
                                                )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid mb_height52">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Required Delivery Date:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @*<select name="" class="dx-texteditor-input appear">
                                        <option value="0">DD-MM-YYYY</option>
                                    </select>*@

                                                @(Html.DevExtreme().DateBox().CustomDateBox()
                                                                                                                                                                               .ID("UO_DL_Required_Delivery_Date")
                                                                                                                                                                               .Name("UO_DL_Required_Delivery_Date")
                                                                                                                                                                               //  .Value(Model.UO_DL_Required_Delivery_Date)
                                                                                                                                                                               .Type(DateBoxType.Date)
                                                                                                                                                                               .ReadOnly(true)
                                                                                                                                                                               .Disabled(IsVisible)
                                                )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[2]-->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid mb_height52">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Scheduled Delivery Date:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @*<select name="" class="dx-texteditor-input appear">
                                        <option value="0">DD-MM-YYYY</option>
                                    </select>*@

                                                @(Html.DevExtreme().DateBox().CustomDateBox()
                                                                                                                                                                               .ID("UO_DL_Scheduled_Delivery_Date")
                                                                                                                                                                               .Name("UO_DL_Scheduled_Delivery_Date")
                                                                                                                                                                               //  .Value(Model.UO_DL_Required_Delivery_Date)
                                                                                                                                                                               .Type(DateBoxType.Date)
                                                                                                                                                                               .ReadOnly(true)
                                                                                                                                                                               .Disabled(IsVisible)
                                                )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[3]-->
                </div>
            </div><!--[row5]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid D_height43">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Delivery Date &Time: </label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @*<select name="" class="dx-texteditor-input appear">
                                                        <option value="0">DD-MM-YYYY</option>
                                                    </select>*@
                                                @(Html.DevExtreme().DateBox().CustomDateBox()
                                                                                                                                                                        .ID("UO_DL_Delivery_Date")
                                                                                                                                                                        .Name("UO_DL_Delivery_Date")
                                                                                                                                                                        .Type(DateBoxType.DateTime)
                                                                                                                                                                        .Value(Model.UO_DL_Delivery_Date)
                                                                                                                                                                        .PickerType(DateBoxPickerType.Native)
                                                                                                                                                                        .DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                                                                                                                                        .ReadOnly(IsVisible)
                                                                                                                                                                        .Disabled(IsVisible)
                                                )
                                                @Html.ValidationMessageFor(model => model.UO_DL_Delivery_Date, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field mb_height52">
                            <div class="container-fluid D_height43">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Lot No(s):</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @*<input class="dx-texteditor-input" type="text" Placeholder="">*@
                                                @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                                               .ID("UO_DL_Lot_No")
                                                                                                                                                               .Name("UO_DL_Lot_No")
                                                                                                                                                               .Value(Model.UO_DL_Lot_No)
                                                                                                                                                               .ReadOnly(true)
                                                                                                                                                               .Disabled(IsVisible)
                                                )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[2]-->
                </div>
            </div><!--[row6]-->
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field mb_height52">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Delivery Mode:</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                    <div class="dx-texteditor  dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<select name="" class="dx-texteditor-input appear">
                                                    <option value="0">Select</option>
                                                </select>*@
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_DL_Delivery_ModeId").Name("UO_DL_Delivery_ModeId")
                                                                                                                                                            .Value(Model.UO_DL_Delivery_ModeId)
                                                                                                                                                            .ValueExpr("ModeID")
                                                                                                                                                            .DisplayExpr("Mode")
                                                                                                                                                            .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_DL_Delivery_Mode").Key("ModeID"))
                                                                                                                                                            .Placeholder("DropDown::Courier, Registry, Transport, Railways, By Hand, Ship, Air")

                                                                                                                                                            .ReadOnly(IsVisible)
                                                                                                                                                            .Disabled(IsVisible)
                                                                                                                                                            .OnValueChanged("Delivery_Mode_DL_ChangeEvent")

                                                                                                                                                            .ContentTemplate(@<text>
                                                                                                                                                                @Html.Partial("LookUp_Get_DL_Delivery_Mode")
                                                                                                                                                            </text>)
                                            )
                                            @Html.ValidationMessageFor(model => model.UO_DL_Delivery_ModeId, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid mb_height43">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Carrier:</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                                    <div class="dx-texteditor  dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="">*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("UO_DL_Carrier").Name("UO_DL_Carrier").Value(Model.UO_DL_Carrier).MaxLength(100).ReadOnly(IsVisible)
                                                                                                                                                                .Disabled(IsVisible))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[row7]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid mb_height43">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Shipment To Location:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @*<select name="" class="dx-texteditor-input appear">
                                                        <option value="0">Select</option>
                                                    </select>*@
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_DL_Shipment_To_LocationId").Name("UO_DL_Shipment_To_LocationId")
                                                                                                                                                                      .Value(Model.UO_DL_Shipment_To_LocationId)
                                                                                                                                                                      .ValueExpr("Loc_Id")
                                                                                                                                                                      .DisplayExpr("Location_Name")
                                                                                                                                                                      .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_DLShipment_Location").Key("Loc_Id").LoadParams(new { UODelMainDeptID = new JS("function (){ return MainDeptID;}"), UODelSubDeptID = new JS("function (){ return subdeptid;}") }))

                                                                                                                                                                      .ReadOnly(IsVisible)
                                                                                                                                                                      .Disabled(IsVisible)
                                                                                                                                                                      .OnValueChanged("Shipment_Location_DL_ChangeEvent")

                                                                                                                                                                      .ContentTemplate(@<text>
                                                                                                                                                                        @Html.Partial("LookUp_Get_DLShipment_Location")
                                                                                                                                                                    </text>)
                                                )
                                                @Html.ValidationMessageFor(model => model.UO_DL_Shipment_To_LocationId, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid mb_height43">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Shipment From Location:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                                                   .ID("UO_DL_Shipment_From_Location")
                                                                                                                                                                   .Name("UO_DL_Shipment_From_Location")
                                                                                                                                                                   .Value(Model.UO_DL_Shipment_From_Location)
                                                                                                                                                                   .ReadOnly(true)
                                                                                                                                                                   .Disabled(IsVisible)
                                                )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[2]-->
                </div>
            </div><!--[row8]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field mb_height52">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Delivered By:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @*<select name="" class="dx-texteditor-input appear">
                                                        <option value="0"></option>
                                                    </select>*@
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_DL_Delivered_By_Id").Name("UO_DL_Delivered_By_Id")
                                                                                                                                                                             .Value(Model.UO_DL_Delivered_By_Id)
                                                                                                                                                                             .ValueExpr("ID")
                                                                                                                                                                             .DisplayExpr("Name")
                                                                                                                                                                             .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_DL_Delivered_By").Key("ID").LoadParams(new { RequestDLStoreID = new JS("function (){ return Requestee_Store_ID;}") }))

                                                                                                                                                                             .ReadOnly(IsVisible)
                                                                                                                                                                             .Disabled(IsVisible)
                                                                                                                                                                             .OnValueChanged("Delivered_By_DL_ChangeEvent")

                                                                                                                                                                             .ContentTemplate(@<text>
                                                                                                                                                                                @Html.Partial("LookUp_Get_DL_Delivered_By")
                                                                                                                                                                            </text>)
                                                )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field mb_height52">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Mobile/CUG No:</label></div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 prm">
                                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @*<input class="dx-texteditor-input" type="text" Placeholder="">*@
                                                @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                                             .ID("UO_DL_MobileNo")
                                                                                                                                                             .Name("UO_DL_MobileNo")
                                                                                                                                                             .Value(Model.UO_DL_MobileNo)
                                                                                                                                                             .ReadOnly(true)
                                                                                                                                                             .Disabled(IsVisible)
                                                )
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 prm">
                                        @*<input type="button" value="Add Personnel" />*@
                                        @(Html.DevExtreme().Button()
                                                                                                                                .ID("UO_DL_AddPersonnel")
                                                                                                                                .Text("Add Personnel")
                                                                                                                                .Disabled(IsVisible)
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function () {
                                                                                                                                    UO_DL_Add_Personnel_Click()
                                                                                                                                    }
                                                                                                                                </text>))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[2]-->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid recheight43">
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Driver Name:</label></div>
                                <div class="col-sm-8 col-md-6 col-lg-6 prm pll3">
                                    <div class="dx-texteditor  dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<select name="" class="dx-texteditor-input appear">
                                                    <option value="0"></option>
                                                </select>*@
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_DL_DriverID").Name("UO_DL_DriverID")
                                                                                                                                                                                            .Value(Model.UO_DL_DriverID)
                                                                                                                                                                                            .ValueExpr("ID")
                                                                                                                                                                                            .DisplayExpr("Name")
                                                                                                                                                                                            .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_DL_Driver").Key("ID"))
                                                                                                                                                                                            //.Placeholder("Pre-filled as Logged in user)")

                                                                                                                                                                                            .ReadOnly(IsVisible)
                                                                                                                                                                                            .Disabled(IsVisible)
                                                                                                                                                                                            .OnValueChanged("Driver_DL_ChangeEvent")

                                                                                                                                                                                            .ContentTemplate(@<text>
                                                                                                                                                                                                @Html.Partial("LookUp_Get_DL_Driver")
                                                                                                                                                                                            </text>)
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Vehicle No:</label></div>
                                <div class="col-sm-10 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor  dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="Enter Vehicle No">*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("UO_DL_Vehicle_no").Name("UO_DL_Vehicle_no").Value(Model.UO_DL_Vehicle_no).MaxLength(50).ReadOnly(IsVisible)
                                                                                                                                                                 .Disabled(IsVisible))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[2]-->
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid ">
                            <div class="row">
                                <div class="col-sm-2 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Received By:</label></div>
                                <div class="col-sm-10 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor  dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="">*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("UO_DL_Received_By").Name("UO_DL_Received_By").Value(Model.UO_DL_Received_By).MaxLength(50).ReadOnly(IsVisible)
                                                                                                                                                                 .Disabled(IsVisible))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[3]-->

            </div><!--[row]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label " for="user">Delivery Remarks:</label></div>
                            <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                <div class="dx-texteditor  dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @*<input class="dx-texteditor-input" type="text" Placeholder="Enter Remark">*@
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("UO_DL_Remarks").Name("UO_DL_Remarks").Value(Model.UO_DL_Remarks).Placeholder("Enter Remark").MaxLength(8000).ReadOnly(IsVisible)
                                                                                                                                                                      .Disabled(IsVisible))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[row10]-->
            <div class="row">
                <div class="form-field wbg brd-bot-none">
                    <div class="col-lg-6 col-xs-12"></div>
                    <div class="col-lg-6 col-xs-12 styleActionBtn">

                        @if (Model.UO_DL_ActionMethod.ToString().Trim() == "View")
                        {
                            <div class="action-btn-wrap">

                                @(Html.DevExtreme().Button().CustomCloseButton()
                                                                                                                                                    .Text("Close")
                                                                                                                                                    .ID("UODLReceived_Cancle")
                                                                                                                                                    .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")

                                                                                                                                                    .FocusStateEnabled(true)
                                                                                                                                                    .OnClick(@<text>
                                                                                                                                                        function () {
                                                                                                                                                        $("#UserOrderinnergrid").dxPopup("hide");
                                                                                                                                                        }
                                                                                                                                                    </text>)
                                )
                            </div><!--[button]-->


                        }
                        @if (Model.UO_DL_ActionMethod.ToString().Trim() == "New" || Model.UO_DL_ActionMethod.ToString().Trim() == "Edit")
                        {
                            <div class="action-btn-wrap">

                                @(Html.DevExtreme().Button().CustomCloseButton()
                                                                                                                                                        .Text("Cancel")
                                                                                                                                                        .ID("UODlSaveReceived_Cancle")
                                                                                                                                                        .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")

                                                                                                                                                        .FocusStateEnabled(true)
                                                                                                                                                        .OnClick(@<text>
                                                                                                                                                            function () {
                                                                                                                                                            $("#UserOrderinnergrid").dxPopup("hide");
                                                                                                                                                            }
                                                                                                                                                        </text>)
                                )
                            </div><!--[button]-->


                            <div class="action-btn-wrap">


                                @(Html.DevExtreme().Button().CustomSaveButton()
                                                                                                                                                                  .Text("OK")
                                                                                                                                                                  .ID("UODLReceived_Save")

                                                                                                                                                                  .ElementAttr("style", "float:right;margin-top:0px")
                                                                                                                                                                  .FocusStateEnabled(true)
                                                                                                                                                                  .UseSubmitBehavior(false)
                                                                                                                                                                  .OnClick("UO_DeliveryForm_SAVE_CLICK")
                                )
                            </div><!--[button]-->


                        }
                        @if (Model.UO_DL_ActionMethod.ToString().Trim() == "Delete")
                        {
                            <div class="action-btn-wrap">

                                @(Html.DevExtreme().Button().CustomCloseButton()
                                                                                                                                                        .Text("Cancel")
                                                                                                                                                        .ID("UODLDeleteReceived_Cancle")
                                                                                                                                                        .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")

                                                                                                                                                        .FocusStateEnabled(true)
                                                                                                                                                        .OnClick(@<text>
                                                                                                                                                            function () {
                                                                                                                                                            $("#UserOrderinnergrid").dxPopup("hide");
                                                                                                                                                            }
                                                                                                                                                        </text>)
                                )
                            </div><!--[button]-->


                            <div class="action-btn-wrap">


                                @(Html.DevExtreme().Button().CustomSaveButton()
                                                                                                                                                          .Text("Delete")
                                                                                                                                                          .ID("UODLReceived_Delete")

                                                                                                                                                          .ElementAttr("style", "float:right;margin-top:0px")
                                                                                                                                                          .FocusStateEnabled(true)
                                                                                                                                                          .UseSubmitBehavior(true)
                                )
                            </div><!--[button]-->



                        }
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

        }
    }
</div>

@(Html.DevExtreme().Popup().CustomPopup().ID("Stockmasterpersonnel_delivery").CloseOnOutsideClick(false).ShowTitle(true).Title("New ~ ").ContentTemplate(@<text> <div id="result_Stockmasterpersonnel_delivery">  </div> </text>))

<script>




    var approvedqty;
    var pendingqty;
    var ItemName;
    var ItemID;
    var sum;
    var Rec_ID;
    var uoid;
    var srno;
    var Del_ID;
     var recid;
    var ID_Delivery;
    var DelQty;
    var ID;
    var finalvalue;
    var Key;

    var result;
    function UO_DeliveryForm_SAVE_CLICK(e) {

        //$.ajax({
        //    type: 'POST',
        //    url: "/Stock/UserOrder/Delivery_inner_grid_min_purchasedate",
        //    data: {

        //    },
        //    success: function (data) {
        //        debugger
        //        if (data.result == false) {
        //            DevExpress.ui.dialog.alert(Error, "Error");
        //        }
        //        if (data.result == true) {


        //            var stockmindate = data.mindate;
        //            var date = stockmindate;
        //            var nowDate = new Date(parseInt(date.substr(6)));
        //            var jsDate = new Date(nowDate); //Date object
        //            var finaldate = jsDate.getDate();
        //            var month = jsDate.getMonth();
        //            var year = jsDate.getFullYear();
        //            var resultdate = finaldate + "/" + month + "/" + year
        //            $("#UO_DL_StockPurchaseDate").val(resultdate);

        //        }
        //        result = true;

        //    }

        //});

        //debugger
        //if (result) {

            var form = $("#ID_Frm_Delivered_Window");

            form.submit();



    }

    function On_Item_DL_Initialize(e) {
        Del_ID = "@Model.UO_DL_ID";
        if ("@Model.UO_DL_ActionMethod" != "New" ) {

            e.component.option("dataSource").store.load().done(function (d) {
                @*if (d.length > 0) {
                    e.component.option("value", @Model.UO_DL_Item_RequestedId);
                }*@
                Get_Item_DL_Requested_ChangeEvent( @Model.UO_DL_Item_RequestedId);
            });
        }
        else if ("@Model.UO_DL_ActionMethod" == "New" && "@Model.UO_DL_Item_RequestedId" != 0) {

                 e.component.option("dataSource").store.load().done(function (d) {
                @*if (d.length > 0) {
                    e.component.option("value", @Model.UO_DL_Item_RequestedId);
                }*@
                Get_Item_DL_Requested_ChangeEvent( @Model.UO_DL_Item_RequestedId);
            });
        }

    }

    function Get_Item_DL_Requested_ChangeEvent(e) {

        uoid = "@Model.UOid";
        srno = "@Model.UO_DL_Sr";
        recid = "@Model.UO_DL_ID";
        var DeliveryID;
        if ("@Model.UO_DL_ActionMethod" == "New") {

            var dropDownBox = $("#UO_DL_Item_RequestedId").dxDropDownBox("instance");
            dropDownBox.close();

            var $dataGrid = $("#LookUp_Item_DL_RequestedDG");
            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(dropDownBox.option("value"), false);
                if (dataGrid.getSelectedRowsData().length > 0) {
                    var item = dataGrid.getSelectedRowsData()[0];

                    ItemName = item.Item_Name;
                    approvedqty = item.Approved_Qty;
                    Rec_ID = item.ID;
                    pendingqty = item.Pending_Qty;
                    var deliveryallowed = item.Partial_Delivery_Allowed;
                   
                    $.ajax({
                        type: 'GET',
                        url: "/Stock/UserOrder/All_Saved_Delivered_Item_Exists_in_Grid",
                        data: { Rec_ID: Rec_ID, uoid: uoid, srno: srno },
                        cache: false,
                        success: function (res) {

                            if (res.result == true) {//  no edited row exists
                                $.ajax({
                                    type: 'GET',
                                    url: "/Stock/UserOrder/Check_Unsaved_Item_Entry_in_ItemOrdered_Grid_Delivery_Grid",
                                    data: { Rec_ID: Rec_ID }, //to be changed
                                    cache: false,
                                    success: function (res) {

                                        if (res.result == true)// no added row exists in delivery
                                        {
                                            $("#UO_DL_Item_Name").val(ItemName);
                                            $("#UO_DL_Approved_Qty").val(approvedqty);
                                            $("#UO_DL_partialdelivery").val(deliveryallowed);

                                            $("#UO_DL_Head").dxTextBox("instance").option("value", item["Head"]);
                                            $("#UO_DL_Make").dxTextBox("instance").option("value", item["Make"]);
                                            $("#UO_DL_ModelName").dxTextBox("instance").option("value", item["Model"]);
                                            $("#UO_DL_Item_Code").dxTextBox("instance").option("value", item["Item_Code"]);
                                            $("#UO_DL_Item_Type").dxTextBox("instance").option("value", item["Item_Type"]);
                                            $("#UO_DL_Unit").dxTextBox("instance").option("value", item["Unit"]);
                                            $("#UO_DL_Delivered_Qty").dxNumberBox("instance").reset();
                                            $("#UO_DL_Pending_Qty").dxNumberBox("instance").option("value", item["Pending_Qty"]);
                                            $("#UO_DL_Priority").dxTextBox("instance").option("value", item["UOI_Priority"]);
                                            $("#UO_DL_Required_Delivery_Date").dxDateBox("instance").option("value", item["Requested_Delivery_Date"]);
                                            $("#UO_DL_Scheduled_Delivery_Date").dxDateBox("instance").option("value", item["Scheduled_Delivery_Date"]);
                                            $("#UO_DL_Shipment_To_LocationId").dxDropDownBox("instance").option("value", item["Delivery_Location_ID"]);

                                            $("#UO_DL_Already_Delivered_Qty").dxNumberBox("instance").option("value", item["Already_Delivered_Qty"]);

                                            ItemID = item.SubItemID;
                                            $("#UO_DL_SubItemID").val(ItemID);
                                            UO_Delivered_Stock_Grid.PerformCallback({ ItemID: ItemID, Rec_ID: Rec_ID });


                                        }
                                        else if (res.result == false) {
                                            DevExpress.ui.dialog.alert(res.message, 'Alert');
                                            $("#UO_DL_Head").dxTextBox("instance").reset();
                                            $("#UO_DL_Make").dxTextBox("instance").reset();
                                            $("#UO_DL_ModelName").dxTextBox("instance").reset();
                                            $("#UO_DL_Item_Code").dxTextBox("instance").reset();
                                            $("#UO_DL_Item_Type").dxTextBox("instance").reset();
                                            $("#UO_DL_Unit").dxTextBox("instance").reset();
                                            $("#UO_DL_Delivered_Qty").dxNumberBox("instance").reset();
                                            $("#UO_DL_Required_Delivery_Date").dxDateBox("instance").reset();
                                            $("#UO_DL_Scheduled_Delivery_Date").dxDateBox("instance").reset();
                                            $("#UO_DL_Pending_Qty").dxNumberBox("instance").reset();
                                            $("#UO_DL_Shipment_To_LocationId").dxDropDownBox("instance").reset();
                                            $("#UO_DL_Priority").dxTextBox("instance").reset();
                                        }

                                    }
                                });
                            }
                            else if (res.result == false) {
                                DevExpress.ui.dialog.alert(res.message, 'Alert');
                                $("#UO_DL_Head").dxTextBox("instance").reset();
                                $("#UO_DL_Make").dxTextBox("instance").reset();
                                $("#UO_DL_ModelName").dxTextBox("instance").reset();
                                $("#UO_DL_Item_Code").dxTextBox("instance").reset();
                                $("#UO_DL_Item_Type").dxTextBox("instance").reset();
                                $("#UO_DL_Unit").dxTextBox("instance").reset();
                                $("#UO_DL_Delivered_Qty").dxNumberBox("instance").reset();
                                $("#UO_DL_Required_Delivery_Date").dxDateBox("instance").reset();
                                $("#UO_DL_Scheduled_Delivery_Date").dxDateBox("instance").reset();
                                $("#UO_DL_Pending_Qty").dxNumberBox("instance").reset();
                                $("#UO_DL_Shipment_To_LocationId").dxDropDownBox("instance").reset();
                                $("#UO_DL_Priority").dxTextBox("instance").reset();
                            }
                        }
                    });
                }
            }

        }
        else if ("@Model.UO_DL_ActionMethod" == "Edit" || "@Model.UO_DL_ActionMethod" == "View") {
            var dropDownBox = $("#UO_DL_Item_RequestedId").dxDropDownBox("instance");
            dropDownBox.close();

            var $dataGrid = $("#LookUp_Item_DL_RequestedDG");
            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(dropDownBox.option("value"), false);
                if (dataGrid.getSelectedRowsData().length > 0) {
                    var item = dataGrid.getSelectedRowsData()[0];

                    ItemName = item.Item_Name;
                    approvedqty = item.Approved_Qty;
                    Rec_ID = item.ID;
                    pendingqty = item.Pending_Qty;
                    var deliveryallowed = item.Partial_Delivery_Allowed;

                    $.ajax({
                        type: 'GET',
                        url: "/Stock/UserOrder/All_Saved_Delivered_Item_Exists_in_Grid",
                        data: { Rec_ID: Rec_ID, uoid: uoid, srno: srno },
                        cache: false,
                        success: function (res) {

                            if (res.result == true) {// no edited row exists
                                $.ajax({
                                    type: 'GET',
                                    url: "/Stock/UserOrder/Check_Unsaved_Item_Entry_in_Recd_and_RetRecd_Grid",
                                    data: { ID_Delivery: recid },
                                    cache: false,
                                    success: function (res) {

                                        if (res.result == true)// no added row exists in returned
                                        {
                                            $("#UO_DL_Item_Name").val(ItemName);
                                            $("#UO_DL_Approved_Qty").val(approvedqty);
                                            $("#UO_DL_partialdelivery").val(deliveryallowed);
                                            $("#UO_DL_Head").dxTextBox("instance").option("value", item["Head"]);
                                            $("#UO_DL_Make").dxTextBox("instance").option("value", item["Make"]);
                                            $("#UO_DL_ModelName").dxTextBox("instance").option("value", item["Model"]);
                                            $("#UO_DL_Item_Code").dxTextBox("instance").option("value", item["Item_Code"]);
                                            $("#UO_DL_Item_Type").dxTextBox("instance").option("value", item["Item_Type"]);
                                            $("#UO_DL_Unit").dxTextBox("instance").option("value", item["Unit"]);
                                            // $("#UO_DL_Delivered_Qty").dxNumberBox("instance").option("value", item["Pending_Qty"]);
                                            $("#UO_DL_Pending_Qty").dxNumberBox("instance").option("value", item["Pending_Qty"]);
                                            $("#UO_DL_Priority").dxTextBox("instance").option("value", item["UOI_Priority"]);
                                            $("#UO_DL_Required_Delivery_Date").dxDateBox("instance").option("value", item["Requested_Delivery_Date"]);
                                            $("#UO_DL_Scheduled_Delivery_Date").dxDateBox("instance").option("value", item["Scheduled_Delivery_Date"]);
                                            //  $("#UO_DL_Shipment_To_LocationId").dxDropDownBox("instance").option("value", item["Delivery_Location_ID"]);
                                            //$("#UO_DL_Delivered_Qty").dxNumberBox("instance").reset();
                                            $("#UO_DL_Already_Delivered_Qty").dxNumberBox("instance").option("value", item["Already_Delivered_Qty"]);
                                            ItemID = item.SubItemID;
                                            $("#UO_DL_SubItemID").val(ItemID);
                                            UO_Delivered_Stock_Grid.PerformCallback({ ItemID: ItemID, Rec_ID: Rec_ID, DeliveryID: recid, ActionMethod: "@Model.UO_DL_ActionMethod" })
                                            OnFormLoad();
                                        }
                                        else if (res.result == false) {
                                            DevExpress.ui.dialog.alert(res.message, 'Alert');
                                            $("#UO_DL_Head").dxTextBox("instance").reset();
                                            $("#UO_DL_Make").dxTextBox("instance").reset();
                                            $("#UO_DL_ModelName").dxTextBox("instance").reset();
                                            $("#UO_DL_Item_Code").dxTextBox("instance").reset();
                                            $("#UO_DL_Item_Type").dxTextBox("instance").reset();
                                            $("#UO_DL_Unit").dxTextBox("instance").reset();
                                            $("#UO_DL_Delivered_Qty").dxNumberBox("instance").reset();
                                            $("#UO_DL_Required_Delivery_Date").dxDateBox("instance").reset();
                                            $("#UO_DL_Scheduled_Delivery_Date").dxDateBox("instance").reset();
                                            $("#UO_DL_Pending_Qty").dxNumberBox("instance").reset();
                                            $("#UO_DL_Shipment_To_LocationId").dxDropDownBox("instance").reset();
                                            $("#UO_DL_Priority").dxTextBox("instance").reset();
                                        }

                                    }
                                });

                            }
                            else if (res.result == false) {
                                DevExpress.ui.dialog.alert(res.message, 'Alert');
                                $("#UO_DL_Head").dxTextBox("instance").reset();
                                $("#UO_DL_Make").dxTextBox("instance").reset();
                                $("#UO_DL_ModelName").dxTextBox("instance").reset();
                                $("#UO_DL_Item_Code").dxTextBox("instance").reset();
                                $("#UO_DL_Item_Type").dxTextBox("instance").reset();
                                $("#UO_DL_Unit").dxTextBox("instance").reset();
                                $("#UO_DL_Delivered_Qty").dxNumberBox("instance").reset();
                                $("#UO_DL_Required_Delivery_Date").dxDateBox("instance").reset();
                                $("#UO_DL_Scheduled_Delivery_Date").dxDateBox("instance").reset();
                                $("#UO_DL_Pending_Qty").dxNumberBox("instance").reset();
                                $("#UO_DL_Shipment_To_LocationId").dxDropDownBox("instance").reset();
                                $("#UO_DL_Priority").dxTextBox("instance").reset();
                            }
                        }
                    });
                }
            }


        }


    }
    function CalculateMinPurchaseDate() {



        //DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
    }

    function Delivery_Mode_DL_ChangeEvent(e) {
        debugger
        var dropDownBox = $("#UO_DL_Delivery_ModeId").dxDropDownBox("instance");
        dropDownBox.close();
        if (e.value == null && e.previousValue != null) {
            UO_DeliveryMode_DG.clearSelection();
            return;
        }

        UO_DeliveryMode_DG.selectRows(dropDownBox.option("value"), false);
        if (UO_DeliveryMode_DG.getSelectedRowsData().length > 0) {
            var item = UO_DeliveryMode_DG.getSelectedRowsData()[0];
            var ReceivedMode = item.Mode;
            $("#UO_DL_Delivery_Mode").val(ReceivedMode);
        }
    }



    function Shipment_Location_DL_ChangeEvent()
    {

        var dropDownBox = $("#UO_DL_Shipment_To_LocationId").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#LookUp_Ship_To_Location_DL_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var LocationName = item.Location_Name;
                $("#UO_DL_Shipment_To_Location").val(LocationName);
            }
        }
    }

    function Delivered_By_DL_ChangeEvent()
    {

        var dropDownBox = $("#UO_DL_Delivered_By_Id").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#LookUp_Delivered_By_Dl_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var DeliveredByName = item.Name;
                $("#UO_DL_Delivered_By").val(DeliveredByName);
                $("#UO_DL_MobileNo").dxTextBox("instance").option("value", item["Mobile_No"]);
            }
        }
    }

    function Driver_DL_ChangeEvent()
    {

        var dropDownBox = $("#UO_DL_DriverID").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#LookUp_Delivered_By_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var DriverName = item.Name;
                $("#UO_DL_Driver").val(DriverName);

            }
        }
    }

    function UO_DL_Add_Personnel_Click()
    {
        if ("@UO_AddPersonnelRight" != "True")
        {
                DevExpress.ui.dialog.alert('Not Allowed', 'No Rights');
                return;
        }
        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/Stock/PersonnelMaster/Frm_PersonnelMaster_Window",
            data: {
                ActionMethod: "New",
                ID: 0,
                PostSucessFunction: "StockMaster_Personnel_DeliveryWindow_OnSuccess",
                PopupName: "Stockmasterpersonnel_delivery"
            },
            success: function (data) {
                OpenPopup("Stockmasterpersonnel_delivery", "New ~ Personnel", null, "auto", "85%", true, data);
            }
        });
    }

    function StockMaster_Personnel_DeliveryWindow_OnSuccess(data) {

        HideLoader();
        if (data.result == true) {
            $("#Stockmasterpersonnel_delivery").dxPopup("hide");

            $("#LookUp_Delivered_By_Dl_datagrid").dxDataGrid("instance").refresh();

            $("#LookUp_Delivered_By_datagrid").dxDataGrid("instance").refresh();
        }
        else {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }


    }

    function OnFormLoad() {

        if ("@Model.UO_DL_ActionMethod" == "New"  ) {
            $.ajax({
                type: 'GET',
                url: "/Stock/UserOrder/OnDeliveryLoad",
                data: {

                },
                cache: false,
                success: function (data1) {

                        $("#UO_DL_Delivered_Qty").dxNumberBox("instance").option("value", data1.sum);
                        $("#UO_DL_Lot_No").dxTextBox("instance").option("value", data1.lotno);
                        $("#UO_DL_Shipment_From_Location").dxTextBox("instance").option("value", data1.location);


                }
            });
        }
    }

   function OnValueChanged(s, FieldName, IndexValue, KeyValue, GridCount, Grid) {

        var data = { Index: IndexValue, FieldName: FieldName, Key: KeyValue, GridCount: GridCount, Grid: Grid };
        if (s.GetValueString() != null)
           data.value = s.GetValueString();
            Key = data.Index;

      finalvalue = data.value;

        $.ajax({
            type: 'GET',
            url: "/Stock/UserOrder/OnChangeDelivery",
            data: {
                DelQty: finalvalue,
                ID: Key,
            },
            cache: false,
            success: function (data1) {


                $("#UO_DL_Delivered_Qty").dxNumberBox("instance").option("value", data1.sum);
                $("#UO_DL_Lot_No").dxTextBox("instance").option("value", data1.lotno);
                $("#UO_DL_Shipment_From_Location").dxTextBox("instance").option("value", data1.location);


            }
        });
    }
    //$('#UO_DL_Carrier').keypress(function (e)
    //{
    //    var regex = new RegExp("^[a-zA-Z0-9]+$");
    //    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
    //    if (regex.test(str)) {
    //        return true;
    //    }
    //    e.preventDefault();
    //    return false;
    //});

    //function OnTextChangedHandler(s) {
    //    debugger
    //    var valueColumnAmount = UO_Delivered_Stock_Grid.GetEditValue("Del_qty");

    //    alert(valueColumnAmount);

    //}



</script>
<script>
    var UO_DeliveryMode_DG;
    function UO_DeliveryMode_DD() {
        debugger
        var $dataGrid = $("#LookUp_DL_Delivery_Mode_datagrid");
        if ($dataGrid.length) {
            UO_DeliveryMode_DG = $dataGrid.dxDataGrid("instance");
        }
    }
</script>
<script>

    $(document).ready( function ()
    {debugger
        if ("@UO_AddPersonnelRight" == "False")
        {
            $("#UO_DL_AddPersonnel").hide();
        }
        var form = "ID_Frm_Delivered_Window";
        ShowLoader();
        AssignIDtoLabel(form, "UO_Delivered");
            UO_DeliveryMode_DD();
            UO_DeliveryMode_DG.selectRows("@Model.UO_DL_Delivery_ModeId", false);
        
        setTimeout(function ()
        {
            Set_Form_View_Delete_Mode(null, form, "@Model.UO_DL_ActionMethod");
            Focus_FirstEditable_Field(form, "@Model.UO_DL_ActionMethod ");
            HideLoader();

        }, Timeout500);
         if ("@Model.UO_DL_ActionMethod" != "New"  ) {
            $.ajax({
                type: 'GET',
                url: "/Stock/UserOrder/OnDeliveryLoad",
                data: {

                },
                cache: false,
                success: function (data1) {

                        $("#UO_DL_Delivered_Qty").dxNumberBox("instance").option("value", data1.sum);
                        $("#UO_DL_Lot_No").dxTextBox("instance").option("value", data1.lotno);
                        $("#UO_DL_Shipment_From_Location").dxTextBox("instance").option("value", data1.location);


                }
            });
        }
    });


</script>