@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.UserOrder_Return_Received
@{
    ViewBag.Test = Model.UO_GRetRec_ActionMethod;
    bool IsVisible = Model != null && (Model.UO_GRetRec_ActionMethod.ToString().Trim() == "View") ? true : false;
    bool UO_ProfileCore__AddRight = (bool)ViewData["UO_ProfileCore__AddRight"];
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
@*<style>
        .height66 {
            height: 66px;
        }

        .marginTop16 {
            margin-top: 16px !important;
        }
    </style>*@
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">

<div id="Frm_User_Order_ReturnedReceived_PopUp" class="edit_form">
    @using (Ajax.BeginForm("Frm_User_Order_Return_Received", "UserOrder",
                          new AjaxOptions
                          {
                              HttpMethod = "POST",
                              UpdateTargetId = "Frm_User_Order_ReturnedReceived_PopUp",
                              InsertionMode = InsertionMode.InsertAfter,
                              OnBegin = "AjaxBeginFormPost",
                              OnSuccess = String.Format("{0}", Model.GRetRec_PostSuccessFunction)
                          },
                          new
                          {
                              id = "ID_Frm_ReturnedReceived_Window",
                              @class = "edit_form"
                          }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.UO_GRetRec_ActionMethod)
        @Html.HiddenFor(x => x.UO_GRetRec_Item_Name)
        @Html.HiddenFor(x => x.UO_GRetRec_Received_Mode)
        @Html.HiddenFor(x => x.UO_GRetRec_Received_Location)
        @Html.HiddenFor(x => x.UO_GRetRec_Received_By)
        @Html.HiddenFor(x => x.UO_GRetRec_Sr)
        @Html.HiddenFor(x => x.UO_GRetRec_ID)
        @Html.HiddenFor(x => x.UO_GRetRec_DeliveryEntry_ID)
        @Html.HiddenFor(x => x.UO_GRetRec_ReturnedEntry_ID)
        @Html.HiddenFor(x => x.UO_GRetRec_UDS_ID)
        @Html.HiddenFor(x => x.UOid)
        @Html.HiddenFor(x => x.GRetRec_PopUPId)
        @Html.HiddenFor(x => x.GRetRec_PostSuccessFunction)

        using (Html.DevExtreme().ValidationGroup())
        {
            @*<div class="full-width-header-bg3">
                    <div class="row">

                        <div class="col-sm-8">
                            <h3 class="popuphead"><i class="far fa-edit"></i> Item Details</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                    </div>

                </div>*@

            <div class="row formRow">
                <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label text-red" for="user">Item Returned:</label></div>
                <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_GRetRec_Item_Return_ReceiveId").Name("UO_GRetRec_Item_Return_ReceiveId")
                                                                                                                        //.Value(Model.UO_GRetRec_Item_Return_ReceiveId)/*Mantis bug 0000532 fixed*/
                                                                                                                        .ValueExpr("ID")
                                                                                                                            .DisplayExpr("Item_Name")
                                                                                                                            .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_Item_Return_Received").Key("ID").LoadParams(new { RetRecd_ID = new JS("function (){return RetRecd_ID;}") }))
                                                                                                                        //  .Placeholder("Item DropDown Contains Deliveries, Where all Goods have not been received")
                                                                                                                     
                                                                                                                        .ReadOnly(IsVisible)
                                                                                                                        .Disabled(IsVisible)
                                                                                                                        .OnValueChanged("Get_Item_ReturnReceived_ChangeEvent")
                                                                                                                        .OnInitialized("OnInitialized_Get_Item_ReturnReceived_ChangeEvent")
                                                                                                                      
                                                                                                                        .ContentTemplate(@<text>
                                                                                                                            @Html.Partial("LookUp_Get_Item_Return_Received")
                                                                                                                        </text>)
                    )
                    @Html.ValidationMessageFor(model => model.UO_GRetRec_Item_Return_ReceiveId, "", new { @class = "text-danger" })
                </div>
            </div><!--[row1]-->
            <div class="row formRow">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="col-sm-4 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Head:</label></div>
                    <div class="col-sm-8 col-md-6 col-lg-6 prm pll3">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                .ID("UO_GRetRec_Head")
                                                                                                                                .Name("UO_GRetRec_Head")
                                                                                                                                .Value(Model.UO_GRetRec_Head)
                                                                                                                                .ReadOnly(true)
                                                                                                                                .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="col-sm-4 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Item Code:</label></div>
                    <div class="col-sm-8 col-md-6 col-lg-6 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                            .ID("UO_GRetRec_Item_Code")
                                                                                                                            .Name("UO_GRetRec_Item_Code")
                                                                                                                            .Value(Model.UO_GRetRec_Item_Code)
                                                                                                                            .ReadOnly(true)
                                                                                                                            .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[2]-->
                <div class="col-sm-12 col-md-4 col-lg-4 padTop4">
                    <div class="col-sm-2 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Item Type:</label></div>
                    <div class="col-sm-10 col-md-6 col-lg-6 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                    .ID("UO_GRetRec_Item_Type")
                                                                                                                                    .Name("UO_GRetRec_Item_Type")
                                                                                                                                    .Value(Model.UO_GRetRec_Item_Type)
                                                                                                                                    .ReadOnly(true)
                                                                                                                                    .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[3]-->
            </div><!--[row2]-->
            <div class="row formRow">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="col-sm-4 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Make:</label></div>
                    <div class="col-sm-8 col-md-6 col-lg-6 prm pll3">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                .ID("UO_GRetRec_Make")
                                                                                                                                .Name("UO_GRetRec_Make")
                                                                                                                                .Value(Model.UO_GRetRec_Make)
                                                                                                                                .ReadOnly(true)
                                                                                                                                .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="col-sm-4 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Model:</label></div>
                    <div class="col-sm-8 col-md-6 col-lg-6 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                            .ID("UO_GRetRec_ModelName")
                                                                                                                            .Name("UO_GRetRec_ModelName")
                                                                                                                            .Value(Model.UO_GRetRec_ModelName)
                                                                                                                            .ReadOnly(true)
                                                                                                                            .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[2]-->
                <div class="col-sm-12 col-md-4 col-lg-4 padTop4">
                    <div class="col-sm-2 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Unit:</label></div>
                    <div class="col-sm-10 col-md-6 col-lg-6 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                    .ID("UO_GRetRec_Unit")
                                                                                                                                    .Name("UO_GRetRec_Unit")
                                                                                                                                    .Value(Model.UO_GRetRec_Unit)
                                                                                                                                    .ReadOnly(true)
                                                                                                                                    .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[3]-->
            </div><!--[row3]-->
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Ret.Received Qty:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll3">
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("UO_GRetRec_Return_Received_Qty").Name("UO_GRetRec_Return_Received_Qty").Value(Convert.ToDouble(Model.UO_GRetRec_Return_Received_Qty)).ReadOnly(IsVisible)
                                                                                                                                            .Disabled(IsVisible))
                        @Html.ValidationMessageFor(model => model.UO_GRetRec_Return_Received_Qty, "", new { @class = "text-danger" })
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Returned Qty:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().NumberBox().CustomNumberBox()
                                                                                                                                                    .ID("UO_GRetRec_ReturnedQty")
                                                                                                                                                    .Name("UO_GRetRec_ReturnedQty")
                                                                                                                                                    .Value(Convert.ToDouble(Model.UO_GRetRec_ReturnedQty))
                                                                                                                                                    .ReadOnly(true)
                                                                                                                                                    .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[2]-->

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid mb_height52">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Pending Ret.Received Qty:</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm pll2" style="margin-bottom:20px;">

                                    @(Html.DevExtreme().NumberBox().CustomNumberBox()
                                                                                                                                                                                                                                  .ID("UO_GRetRec_pendingQty")
                                                                                                                                                                                                                                  .Name("UO_GRetRec_pendingQty")
                                                                                                                                                                                                                                  .Value(Convert.ToDouble(Model.UO_GRetRec_pendingQty))
                                                                                                                                                                                                                                  .ReadOnly(true)
                                                                                                                                                                                                                                  .Disabled(IsVisible)
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[2]-->
            </div><!--[row]-->

            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Return Recd.Date: </label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().DateBoxFor(model => model.UO_GRetRec_ReturnReceived_Date).CustomDateBox()
                                                                                                                                                            .ID("UO_GRetRec_ReturnReceived_Date")
                                                                                                                                                            .Name("UO_GRetRec_ReturnReceived_Date")
                                                                                                                                                         
                                                                                                                                                            .ReadOnly(IsVisible)
                                                                                                                                                            .Disabled(IsVisible)
                        )
                        @Html.ValidationMessageFor(model => model.UO_GRetRec_ReturnReceived_Date, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Return Date:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().DateBox().CustomDateBox()
                                                                                                                                                    .ID("UO_GRetRec_Return_Date")
                                                                                                                                                    .Name("UO_GRetRec_Return_Date")
                                                                                                                                                    .Value(Model.UO_GRetRec_Return_Date)
                                                                                                                                           
                                                                                                                                                    .ReadOnly(true)
                                                                                                                                                    .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[3]-->
            </div>

            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Received Mode:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_GRetRec_Received_ModeId").Name("UO_GRetRec_Received_ModeId")
                                                                                                                                    .Value(Model.UO_GRetRec_Received_ModeId)
                                                                                                                                    .ValueExpr("ModeID")
                                                                                                                                    .DisplayExpr("Mode")
                                                                                                                                    .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_Return_Received_Mode").Key("ModeID"))
                                                                                                                                    //.Placeholder("DropDown::Courier, Registry, Transport, Railways, By Hand, Ship, Air")
                                                                                                                                  
                                                                                                                                    .ReadOnly(IsVisible)
                                                                                                                                    .Disabled(IsVisible)
                                                                                                                                    .OnValueChanged("ReturnReceived_Mode_ChangeEvent")
                                                                                                                                  
                                                                                                                                    .ContentTemplate(@<text>
                                                                                                                                        @Html.Partial("LookUp_Get_Return_Received_Mode")
                                                                                                                                    </text>)
                        )
                        @Html.ValidationMessageFor(model => model.UO_GRetRec_Received_ModeId, "", new { @class = "text-danger" })
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-6 col-lg-6 ">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Lot No:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                        .ID("UO_GRetRec_Lot_No")
                                                                                                                                        .Name("UO_GRetRec_Lot_No")
                                                                                                                                        .Value(Model.UO_GRetRec_Lot_No)
                                                                                                                                        .ReadOnly(true)
                                                                                                                                        .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[2]-->
            </div><!--[row5]-->
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Carrier:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("UO_GRetRec_Carrier").Name("UO_GRetRec_Carrier").Value(Model.UO_GRetRec_Carrier).MaxLength(100).ReadOnly(IsVisible)
                                                                                                                                            .Disabled(IsVisible))
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Recd Location:</label></div>
                    <div class="col-sm-4 col-md-4 col-lg-4 prm ">
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_GRetRec_Received_LocationId").Name("UO_GRetRec_Received_LocationId")
                                                                                                                                                        .Value(Model.UO_GRetRec_Received_LocationId)
                                                                                                                                                        .ValueExpr("Loc_Id")
                                                                                                                                                        .DisplayExpr("Location_Name")
                                                                                                                                                        .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_Return_Received_Location").Key("Loc_Id").LoadParams(new { RetRecReqStoreID = new JS("function (){ return Requestee_Store_ID;}") }))
                                                                                                                                                        //.Placeholder("DropDown(Will show location mentioned in item entry as default)")                                                                                                                                                      
                                                                                                                                                        .ReadOnly(IsVisible)
                                                                                                                                                        .Disabled(IsVisible)
                                                                                                                                                        .OnValueChanged("ReturnReceived_Location_ChangeEvent")                                                                                                                                                      
                                                                                                                                                        .ContentTemplate(@<text>
                                                                                                                                                            @Html.Partial("LookUp_Get_Return_Received_Location")
                                                                                                                                                        </text>)
                        )
                        @Html.ValidationMessageFor(model => model.UO_GRetRec_Received_LocationId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 prm">
                        @(Html.DevExtreme().Button()
                                                                                                                                                                .ID("UO_GRetRec_AddLocation")
                                                                                                                                                                .Text("Add Location")
                                                                                                                                                                .Disabled(IsVisible)
                                                                                                                                                                .OnClick(@<text>
                                                                                                                                                                    function () {
                                                                                                                                                                    UO_GRetRec_Add_Location_Click()
                                                                                                                                                                    }
                                                                                                                                                                </text>))
                    </div>
                </div>
            </div><!--[row7]-->
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Received By:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("UO_GRetRec_Received_By_Id").Name("UO_GRetRec_Received_By_Id")
                                                                                                                                            .Value(Model.UO_GRetRec_Received_By_Id)
                                                                                                                                            .ValueExpr("ID")
                                                                                                                                            .DisplayExpr("Name")
                                                                                                                                            .DataSource(d => d.Mvc().Controller("UserOrder").LoadAction("LookUp_Get_Return_Received_By").Key("ID").LoadParams(new { RetRecStoreID = new JS("function (){ return Requestee_Store_ID;}") }))
                                                                                                                                           
                                                                                                                                            .ReadOnly(IsVisible)
                                                                                                                                            .Disabled(IsVisible)
                                                                                                                                            .OnValueChanged("ReturnReceived_By_ChangeEvent")
                                                                                                                                            
                                                                                                                                            .ContentTemplate(@<text>
                                                                                                                                                @Html.Partial("LookUp_Get_Return_Received_By")
                                                                                                                                            </text>)
                        )
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Mobile/CUG No:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                                                        .ID("UO_GRetRec_MobileNo")
                                                                                                                                        .Name("UO_GRetRec_MobileNo")
                                                                                                                                        .Value(Model.UO_GRetRec_MobileNo)
                                                                                                                                        .ReadOnly(true)
                                                                                                                                        .Disabled(IsVisible)
                        )
                    </div>
                </div><!--[2]-->
            </div>

            <div class="row formRow">
                <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label " for="user">Receipt Remarks:</label></div>
                <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("UO_GRetRec_Remarks").Name("UO_GRetRec_Remarks").Value(Model.UO_GRetRec_Remarks).Placeholder("Enter Remark").MaxLength(8000).ReadOnly(IsVisible)
                                                                                                                                        .Disabled(IsVisible))
                </div>
            </div><!--[row10]-->

            <div class="row styleActionBtn marginAll8">
                @(Html.DevExtreme().Button().ID("Id_UORetRecPrint_Receipt").Text("Print Receipt").Disabled(IsVisible).OnClick(@<text> function(){ UO_RetREccd_Print_Receipt(); } </text>))
                @if (Model.UO_GRetRec_ActionMethod.ToString().Trim() == "View")
                {
                    @(Html.DevExtreme().Button().CustomCloseButton()
                                                                                        .Text("Close")
                                                                                        .ID("UORetReceived_Cancle")                                                                                        
                                                                                        .FocusStateEnabled(true)
                                                                                        .OnClick(@<text>
                                                                                            function () {
                                                                                            $("#UserOrderinnergrid").dxPopup("hide");
                                                                                            }
                                                                                        </text>)
                    )
                }
                @if (Model.UO_GRetRec_ActionMethod.ToString().Trim() == "New" || Model.UO_GRetRec_ActionMethod.ToString().Trim() == "Edit")
                {
                    @(Html.DevExtreme().Button().CustomSaveButton()
                                                                                         .Text("OK")
                                                                                         .ID("UORetReceived_Save")                                                                                        
                                                                                         .FocusStateEnabled(true)
                                                                                         .UseSubmitBehavior(true)
                    )
                    @(Html.DevExtreme().Button().CustomCloseButton()
                                                                        .Text("Cancel")
                                                                        .ID("UOSaveretReceived_Cancle")                                                                       
                                                                        .FocusStateEnabled(true)
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            $("#UserOrderinnergrid").dxPopup("hide");
                                                                            }
                                                                        </text>)
                    )
                }
                @*@if (Model.UO_GRetRec_ActionMethod.ToString().Trim() == "Delete")
                    {
                        @(Html.DevExtreme().Button()
                                                                            .Text("Delete")
                                                                            .ID("UORetReceived_Delete")
                                                                            .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                                                                            .FocusStateEnabled(true)
                                                                            .UseSubmitBehavior(true)
                        )
                        @(Html.DevExtreme().Button()
                                                                           .Text("Close")
                                                                           .ID("UODeleteRetReceived_Cancle")
                                                                           .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                                                           .FocusStateEnabled(true)
                                                                           .OnClick(@<text>
                                                                            function () {
                                                                            $("#UserOrderinnergrid").dxPopup("hide");
                                                                            }
                                                                        </text>)
                        )
                    }*@
            </div>
        }
    }

</div>

<script>
    var UO_GRR_Item_Returned_DG;//Mantis bug 0000532 fixed
    var uoid;
    var srno;
    var UDSid;

    var RetRecd_ID;
    $(document).ready(async function ()
    {
    if ("@UO_ProfileCore__AddRight" == "False")
    {
	    $("#UO_GRetRec_AddLocation").hide();	
    }
        var form = "ID_Frm_ReturnedReceived_Window";
        ShowLoader();
        AssignIDtoLabel(form, "UO_Return_Rec");
    
        if ("@Model.UO_GRetRec_Item_Return_ReceiveId".length > 0)
        {
                
                var UO_RetRecd_Item_DG = $("#LookUp_Item_ReturnReceivedDG").dxDataGrid("instance")
                await UO_RetRecd_Item_DG.selectRows(parseInt("@Model.UO_GRetRec_Item_Return_ReceiveId"), false);
            }//Mantis bug 0000532 fixed

        setTimeout(function ()
        {
            Set_Form_View_Delete_Mode(null, form, "@Model.UO_GRetRec_ActionMethod");
            Focus_FirstEditable_Field(form, "@Model.UO_GRetRec_ActionMethod");
            HideLoader();

        }, Timeout500);
    });

    function OnInitialized_Get_Item_ReturnReceived_ChangeEvent(e) {

       debugger
        RetRecd_ID =  "@Model.UO_GRetRec_ID";
        if ("@Model.UO_GRetRec_ActionMethod" != "New") {

            e.component.option("dataSource").store.load().done(function (d) {
                @*if (d.length > 0) {
                    e.component.option("value", @Model.UO_GRetRec_Item_Return_ReceiveId);
                }*@
                Get_Item_ReturnReceived_ChangeEvent( @Model.UO_GRetRec_Item_Return_ReceiveId);
            });

        }
        else if ("@Model.UO_GRetRec_ActionMethod" == "New" && "@Model.UO_GRetRec_Item_Return_ReceiveId" != 0) {

            e.component.option("dataSource").store.load().done(function (d) {
                @*if (d.length > 0) {
                    e.component.option("value", @Model.UO_GRetRec_Item_Return_ReceiveId);
                }*@
                Get_Item_ReturnReceived_ChangeEvent( @Model.UO_GRetRec_Item_Return_ReceiveId);
            });

        }
    }
    //async function Refresh_Item_Returned_DG()
    //{
    //    var $UO_GRR_Item_Returned_DG = $("#LookUp_Item_ReturnReceivedDG");
    //    if ($UO_GRR_Item_Returned_DG.length)
    //    {
    //        UO_GRR_Item_Returned_DG = $UO_GRR_Item_Returned_DG.dxDataGrid("instance");
    //        await UO_GRR_Item_Returned_DG.refresh();
    //    }//Mantis bug 0000532 fixed
    //}//Mantis bug 0000532 fixed

    function Get_Item_ReturnReceived_ChangeEvent(e) {
        debugger
        uoid = "@Model.UOid";
        srno = "@Model.UO_GRetRec_Sr";
        recid = "@Model.UO_GRetRec_ID";
        if ("@Model.UO_GRetRec_ActionMethod" == "New") {
            var dropDownBox = $("#UO_GRetRec_Item_Return_ReceiveId").dxDropDownBox("instance");
            dropDownBox.close();
            var $UO_GRR_Item_Returned_DG = $("#LookUp_Item_ReturnReceivedDG");
            if ($UO_GRR_Item_Returned_DG.length) {
                UO_GRR_Item_Returned_DG = $UO_GRR_Item_Returned_DG.dxDataGrid("instance");
                //UO_GRR_Item_Returned_DG.selectRows(dropDownBox.option("value"), false);//Mantis bug 0000532 fixed
                if (UO_GRR_Item_Returned_DG.getSelectedRowsData().length > 0) {
                    var item = UO_GRR_Item_Returned_DG.getSelectedRowsData()[0];//Mantis bug 0000532 fixed
                    var ItemName = item.Item_Name;
                    var deliveryID = item.Del_ID; // pending
                    var returnID = item.Ret_ID; //pending
                    var RowID = item.ID;
                    //var pendingqty = item.PendingToReturn;
                    //var retQty = item.Returned_Qty;
                    UDSid = item.UDS_ID;


                    $.ajax({
                        type: 'GET',
                        url: "/Stock/UserOrder/All_Saved_ReturnReceived_Item_Exists_in_Grid",
                        data: { retrecid: UDSid, uoid: uoid, srno: srno },
                        cache: false,
                        success: function (res) {

                            if (res.result == true) {

                                $.ajax({
                                    type: 'GET',
                                    url: "/Stock/UserOrder/Check_Unsaved_Item_Entry_in_Return_Grid_for_RetRecd",
                                    data: { returnID: returnID },
                                    cache: false,
                                    success: function (res) {

                                        if (res.result == true) {
                                            $.ajax({
                                                type: 'GET',
                                                url: "/Stock/UserOrder/Check_Unsaved_Item_Entry_in_Received_Grid_for_RetRecd",
                                                data: { UDSid: UDSid },
                                                cache: false,
                                                success: function (res) {

                                                    if (res.result == true)// no added/edited row exists in returrecd
                                                    {

                                                        $("#UO_GRetRec_Item_Name").val(ItemName);
                                                        $("#UO_GRetRec_DeliveryEntry_ID").val(deliveryID); //pending
                                                        $("#UO_GRetRec_ReturnedEntry_ID").val(returnID); //pending
                                                        $("#UO_GRetRec_UDS_ID").val(UDSid); //pending

                                                        $("#UO_GRetRec_Head").dxTextBox("instance").option("value", item["Head"]);
                                                        $("#UO_GRetRec_Make").dxTextBox("instance").option("value", item["Make"]);
                                                        $("#UO_GRetRec_ModelName").dxTextBox("instance").option("value", item["Model"]);
                                                        $("#UO_GRetRec_Item_Code").dxTextBox("instance").option("value", item["Item_Code"]);
                                                        $("#UO_GRetRec_Item_Type").dxTextBox("instance").option("value", item["Item_Type"]);
                                                        $("#UO_GRetRec_Unit").dxTextBox("instance").option("value", item["Unit"]);
                                                        $("#UO_GRetRec_ReturnedQty").dxNumberBox("instance").option("value", item["Returned_Qty"]);
                                                        $("#UO_GRetRec_pendingQty").dxNumberBox("instance").option("value", item["PendingToReturn"]);
                                                        $("#UO_GRetRec_Return_Date").dxDateBox("instance").option("value", item["Return_Date"]);
                                                        $("#UO_GRetRec_Lot_No").dxTextBox("instance").option("value", item["Lot_No"]);
                                                        $("#UO_GRetRec_Received_LocationId").dxDropDownBox("instance").option("value", item["ReturnLocationId"]);
                                                        $("#UO_GRetRec_Return_Received_Qty").dxNumberBox("instance").option("value", item["PendingToReturn"]);
                                                    }
                                                    else if (res.result == false) {
                                                        DevExpress.ui.dialog.alert(res.message, 'Alert');


                                                        $("#UO_GRetRec_Head").dxTextBox("instance").reset();
                                                        $("#UO_GRetRec_Make").dxTextBox("instance").reset();
                                                        $("#UO_GRetRec_ModelName").dxTextBox("instance").reset();
                                                        $("#UO_GRetRec_Item_Code").dxTextBox("instance").reset();
                                                        $("#UO_GRetRec_Item_Type").dxTextBox("instance").reset();
                                                        $("#UO_GRetRec_Unit").dxTextBox("instance").reset();
                                                        //$("#UO_GRetRec_ReturnedQty").dxNumberBox("instance").reset();
                                                        $("#UO_GRetRec_pendingQty").dxNumberBox("instance").reset();
                                                        $("#UO_GRetRec_Return_Date").dxDateBox("instance").reset();
                                                        $("#UO_GRetRec_Lot_No").dxTextBox("instance").reset();
                                                        $("#UO_GRetRec_Received_LocationId").dxDropDownBox("instance").reset();
                                                        $("#UO_GRetRec_Return_Received_Qty").dxNumberBox("instance").reset();
                                                    }

                                                }
                                            });
                                        }

                                        else if (res.result == false) {
                                            DevExpress.ui.dialog.alert(res.message, 'Alert');


                                            $("#UO_GRetRec_Head").dxTextBox("instance").reset();
                                            $("#UO_GRetRec_Make").dxTextBox("instance").reset();
                                            $("#UO_GRetRec_ModelName").dxTextBox("instance").reset();
                                            $("#UO_GRetRec_Item_Code").dxTextBox("instance").reset();
                                            $("#UO_GRetRec_Item_Type").dxTextBox("instance").reset();
                                            $("#UO_GRetRec_Unit").dxTextBox("instance").reset();
                                            //$("#UO_GRetRec_ReturnedQty").dxNumberBox("instance").reset();
                                            $("#UO_GRetRec_pendingQty").dxNumberBox("instance").reset();
                                            $("#UO_GRetRec_Return_Date").dxDateBox("instance").reset();
                                            $("#UO_GRetRec_Lot_No").dxTextBox("instance").reset();
                                            $("#UO_GRetRec_Received_LocationId").dxDropDownBox("instance").reset();
                                            $("#UO_GRetRec_Return_Received_Qty").dxNumberBox("instance").reset();
                                        }

                                    }
                                });
                            }
                            else if (res.result == false) {
                                DevExpress.ui.dialog.alert(res.message, 'Alert');
                                // $("#UO_GR_Item_ReceivedId").dxDropDownBox('instance').option('value', e.previousValue);


                                $("#UO_GRetRec_Head").dxTextBox("instance").reset();
                                $("#UO_GRetRec_Make").dxTextBox("instance").reset();
                                $("#UO_GRetRec_ModelName").dxTextBox("instance").reset();
                                $("#UO_GRetRec_Item_Code").dxTextBox("instance").reset();
                                $("#UO_GRetRec_Item_Type").dxTextBox("instance").reset();
                                $("#UO_GRetRec_Unit").dxTextBox("instance").reset();
                                //$("#UO_GRetRec_ReturnedQty").dxNumberBox("instance").reset();
                                $("#UO_GRetRec_pendingQty").dxNumberBox("instance").reset();
                                $("#UO_GRetRec_Return_Date").dxDateBox("instance").reset();
                                $("#UO_GRetRec_Lot_No").dxTextBox("instance").reset();
                                $("#UO_GRetRec_Received_LocationId").dxDropDownBox("instance").reset();
                                $("#UO_GRetRec_Return_Received_Qty").dxNumberBox("instance").reset();
                            }
                        }
                    });
                }
            }
        }
        else if ("@Model.UO_GRetRec_ActionMethod" == "Edit" || "@Model.UO_GRetRec_ActionMethod" == "View") {
            var dropDownBox = $("#UO_GRetRec_Item_Return_ReceiveId").dxDropDownBox("instance");
            dropDownBox.close();
            var $dataGrid = $("#LookUp_Item_ReturnReceivedDG");
            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                //  dataGrid.selectRows(dropDownBox.option("value"), false);
                if (dataGrid.getSelectedRowsData().length > 0) {
                    var item = dataGrid.getSelectedRowsData()[0];
                    var ItemName = item.Item_Name;
                    var deliveryID = item.Del_ID; // pending
                    var returnID = item.Ret_ID; //pending
                    var RowID = item.ID;
                    UDSid = item.UDS_ID;

                    $.ajax({
                        type: 'GET',
                        url: "/Stock/UserOrder/All_Saved_ReturnReceived_Item_Exists_in_Grid",
                        data: { retrecid: UDSid, uoid: uoid, srno: srno },
                        cache: false,
                        success: function (res) {

                            if (res.result == true) {
                                $.ajax({
                                    type: 'GET',
                                    url: "/Stock/UserOrder/Check_Unsaved_Item_Entry_in_Received_Grid_for_RetRecd",
                                    data: { UDSid: UDSid },
                                    cache: false,
                                    success: function (res) {

                                        if (res.result == true)// no added row exists in returned
                                        {

                                            $("#UO_GRetRec_Item_Name").val(ItemName);
                                            $("#UO_GRetRec_DeliveryEntry_ID").val(deliveryID); //pending
                                            $("#UO_GRetRec_ReturnedEntry_ID").val(returnID); //pending
                                            $("#UO_GRetRec_UDS_ID").val(UDSid); //pending

                                            $("#UO_GRetRec_Head").dxTextBox("instance").option("value", item["Head"]);
                                            $("#UO_GRetRec_Make").dxTextBox("instance").option("value", item["Make"]);
                                            $("#UO_GRetRec_ModelName").dxTextBox("instance").option("value", item["Model"]);
                                            $("#UO_GRetRec_Item_Code").dxTextBox("instance").option("value", item["Item_Code"]);
                                            $("#UO_GRetRec_Item_Type").dxTextBox("instance").option("value", item["Item_Type"]);
                                            $("#UO_GRetRec_Unit").dxTextBox("instance").option("value", item["Unit"]);
                                            $("#UO_GRetRec_ReturnedQty").dxNumberBox("instance").option("value", item["Returned_Qty"]);
                                            $("#UO_GRetRec_pendingQty").dxNumberBox("instance").option("value", item["PendingToReturn"]);
                                            $("#UO_GRetRec_Return_Date").dxDateBox("instance").option("value", item["Return_Date"]);
                                            $("#UO_GRetRec_Lot_No").dxTextBox("instance").option("value", item["Lot_No"]);
                                            // $("#UO_GRetRec_Received_LocationId").dxDropDownBox("instance").option("value", item["ReturnLocationId"]);
                                            //  $("#UO_GRetRec_Return_Received_Qty").dxNumberBox("instance").option("value", item["PendingToReturn"]);
                                        }
                                        else if (res.result == false) {
                                            DevExpress.ui.dialog.alert(res.message, 'Alert');
                                            $("#UO_GRetRec_Head").dxTextBox("instance").reset();
                                            $("#UO_GRetRec_Make").dxTextBox("instance").reset();
                                            $("#UO_GRetRec_ModelName").dxTextBox("instance").reset();
                                            $("#UO_GRetRec_Item_Code").dxTextBox("instance").reset();
                                            $("#UO_GRetRec_Item_Type").dxTextBox("instance").reset();
                                            $("#UO_GRetRec_Unit").dxTextBox("instance").reset();
                                            //$("#UO_GRetRec_ReturnedQty").dxNumberBox("instance").reset();
                                            $("#UO_GRetRec_pendingQty").dxNumberBox("instance").reset();
                                            $("#UO_GRetRec_Return_Date").dxDateBox("instance").reset();
                                            $("#UO_GRetRec_Lot_No").dxTextBox("instance").reset();
                                            $("#UO_GRetRec_Received_LocationId").dxDropDownBox("instance").reset();
                                            $("#UO_GRetRec_Return_Received_Qty").dxNumberBox("instance").reset();
                                        }

                                    }
                                });
                            }
                            else if (res.result == false) {
                                DevExpress.ui.dialog.alert(res.message, 'Alert');
                                // $("#UO_GR_Item_ReceivedId").dxDropDownBox('instance').option('value', e.previousValue);


                                $("#UO_GRetRec_Head").dxTextBox("instance").reset();
                                $("#UO_GRetRec_Make").dxTextBox("instance").reset();
                                $("#UO_GRetRec_ModelName").dxTextBox("instance").reset();
                                $("#UO_GRetRec_Item_Code").dxTextBox("instance").reset();
                                $("#UO_GRetRec_Item_Type").dxTextBox("instance").reset();
                                $("#UO_GRetRec_Unit").dxTextBox("instance").reset();
                                //$("#UO_GRetRec_ReturnedQty").dxNumberBox("instance").reset();
                                $("#UO_GRetRec_pendingQty").dxNumberBox("instance").reset();
                                $("#UO_GRetRec_Return_Date").dxDateBox("instance").reset();
                                $("#UO_GRetRec_Lot_No").dxTextBox("instance").reset();
                                $("#UO_GRetRec_Received_LocationId").dxDropDownBox("instance").reset();
                                $("#UO_GRetRec_Return_Received_Qty").dxNumberBox("instance").reset();
                            }
                        }
                    });
                }
            }
        }
    }

    function ReturnReceived_Mode_ChangeEvent(e) {

        var dropDownBox = $("#UO_GRetRec_Received_ModeId").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#LookUp_Return_Received_Mode_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var ReceivedMode = item.Mode;
                $("UO_GRetRec_Received_Mode").val(ReceivedMode);
            }
        }
    }
    function ReturnReceived_Location_ChangeEvent(e) {

        var dropDownBox = $("#UO_GRetRec_Received_LocationId").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#LookUp_ReturnReceived_Location_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var LocationName = item.Location_Name;
                $("#UO_GRetRec_Received_Location").val(LocationName);
            }
        }
    }
    function ReturnReceived_By_ChangeEvent(e) {

        var dropDownBox = $("#UO_GRetRec_Received_By_Id").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#LookUp_ReturnReceived_By_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var ReceiveName = item.Name;
                $("#UO_GRetRec_Received_By").val(ReceiveName);
                $("#UO_GRetRec_MobileNo").dxTextBox("instance").option("value", item["Mobile_No"]);
            }
        }
    }


    function UO_RetREccd_Print_Receipt() {
        DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
    }
    function UO_GRetRec_Add_Location_Click() {
        if ("@UO_ProfileCore__AddRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        $.ajax({
            type: 'GET',
            url: "/Account/ProfilePaymentVoucher/AddLocations_Check",
            data: { ActionMethod: "New" },
            cache: false,
            async: false,
            success: function (data) {
                if (data.result) {
                    $.ajax({
                        type: 'GET',
                        url: "/Account/ProfilePaymentVoucher/Frm_Location_Window",
                        data: { ActionMethod: "New" },
                        cache: false,
                        async: false,
                        success: function (data) {
                            ShowLoader();
                            $("#RecdPaymentAddLocation").dxPopup('show');
                            $("#RecdPaymentAddLocation").dxPopup("instance").option("title", "New~Location");
                            $("#result_RecdPaymentAddLocation").html(null);
                            $("#result_RecdPaymentAddLocation").html(data);
                            HideLoader();
                        }
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(data.message, "Error");
                }
            }
        });
    }

        $("#UO_GRetRec_Return_Received_Qty").keypress(function (e) {
            e = e || window.event;
            key = e.keyCode || e.which;
            var value = e.target.value;
            if (key == 8 || key == 127 || key == 9)
                return true
            var txt = String.fromCharCode(key);
            var reg = /[0-9.]/;
            if (value.indexOf('.') > -1) {
                var splitdot = value.split('.');
                if (splitdot[1].length >= 2)
                    e.preventDefault();
            }
            if (reg.test(txt))
                return true;

            e.preventDefault();
            return false;

        });
            $('#UO_GRetRec_Carrier').keypress(function (e) {
            var regex = new RegExp("^[a-zA-Z0-9]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }
            e.preventDefault();
            return false;
        });


</script>
