@using DevExtreme.AspNet.Mvc
@model ConnectOneMVC.Areas.Stock.Models.UserUpDateStatus
<style>
    .dx-button-has-icon .dx-button-content {
        padding-right: 8px !important;
    }

    .dx-toolbar-after .dx-button-content {
        padding-right: 0px !important;
    }
</style>
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="id_UOstatus" class="edit_form">
    @using (Ajax.BeginForm("UO_StatusChange_Window", "UserOrder",
              new AjaxOptions
              {
                  HttpMethod = "POST",
                  UpdateTargetId = "UO_StatusChange_Window",
                  InsertionMode = InsertionMode.InsertAfter,
                  OnBegin = "AjaxBeginFormPost",
                  OnSuccess = "UO_StatusChangeAjaxSuccessForm"
              },
               new
               {
                   id = "UO_StatusChange_validationForm",
                   @class = "edit_form"
               }))
    {

        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.UO_StatusType)

        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg2">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> UO Status Change</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align">
                            <i class="fas fa-info-circle"></i> Red Fields are mandatory
                        </h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                
                                        <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Remarks:</label></div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                            <div class="dx-texteditor dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("UO_Status_Remark").Name("UO_Status_Remark").Value(Model.UO_Status_Remark).Placeholder("Enter Remarks").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                                    @Html.ValidationMessageFor(model => model.UO_Status_Remark, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-field wbg brd-bot-none">
                    <div class="col-lg-6 col-xs-12"></div>
                    <div class="col-lg-6 col-xs-12">
                        <div class="action-btn-wrap">
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("ID_CancelUO_Cancel").Text("Cancel").ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                        </div>
                        <div class="action-btn-sec-wrap">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("ID_CancelUO_Save").Text("Ok").ElementAttr("style", "float:right;margin-top:0px").FocusStateEnabled(true).UseSubmitBehavior(true) )
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>


        }
    }

</div>
<script>
    function UO_StatusChangeAjaxSuccessForm(data)
    {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, 'Error..');
        }
        else
        {
            DevExpress.ui.dialog.alert(data.message, 'Success..');
            $("#Dynamic_Content_popup").dxPopup("hide");
            UserOrderListGrid.Refresh();
        }
    }
    $(document).ready(function ()
    {
        setTimeout(function ()
        {
            $("#UO_Status_Remark").dxTextBox("instance").focus();
        }, Timeout100);
    })
</script>
