@using DevExtreme.AspNet.Mvc
@model ConnectOneMVC.Areas.Stock.Models.UOOrderItemDetails
<style>
    .dx-button-has-icon .dx-button-content {
        padding-right: 8px !important;
    }

    .dx-toolbar-after .dx-button-content {
        padding-right: 0px !important;
    }
</style>
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="id_UOstatus" class="edit_form">
    @using (Ajax.BeginForm("UO_Scheduledelivery", "UserOrder",
              new AjaxOptions
              {
                  HttpMethod = "POST",
                  UpdateTargetId = "UO_Sscheduledelivery_Window",
                  InsertionMode = InsertionMode.InsertAfter,
                  OnBegin = "AjaxBeginFormPost",
                  OnSuccess = "UO_scheduledeliveryuccessForm"
              },
               new
               {
                   id = "UO_Scheduledelivery_Form",
                   @class = "edit_form"
               }))
    {

        @Html.HiddenFor(x => x.UOid)

        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg2">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> UO Status Change</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align">
                            <i class="fas fa-info-circle"></i> Red Fields are mandatory
                        </h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div><!--[Header]-->

            <div class="row formRow">

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Scheduled Delivery Date</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().DateBoxFor(m => m.OT_Sch_Deliver_Date).CustomDateBox()
                                                                                    .ID("OT_Sch_Deliver_Date")
                                                                                    .Name("OT_Sch_Deliver_Date")
                                                                                    .Type(DateBoxType.DateTime)
                                                                                    .Value(Model.OT_Sch_Deliver_Date)

                        )
                    </div>
                </div><!--[2]-->
            </div><!--[row5]-->


            <div class="row">
                <div class="form-field wbg brd-bot-none">
                    <div class="col-lg-6 col-xs-12"></div>
                    <div class="col-lg-6 col-xs-12">
                        <div class="action-btn-wrap">
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("IDs_CancelUO_Cancel").Text("Cancel").ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px").FocusStateEnabled(true).OnClick(@<text> function () { $("#UserOrderinnergrid").dxPopup("hide"); } </text>) )
                        </div>
                        <div class="action-btn-sec-wrap">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("IDs_CancelUO_Save").Text("Ok").ElementAttr("style", "float:right;margin-top:0px").FocusStateEnabled(true).UseSubmitBehavior(true) )
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>


        }
    }

</div>
<script>
    function UO_scheduledeliveryAjaxSuccessForm(data)
    {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert("Date not updated", 'Error..');
        }
        else
        {
            DevExpress.ui.dialog.alert("Schedule Date updated Successfully", 'Success..');
            $("#Dynamic_Content_popup").dxPopup("hide");
            UserOrderinnergrid.Refresh();
        }
    }
    $(document).ready(function ()
    {
        setTimeout(function () {
            $("#OT_Sch_Deliver_Date").dxDateBox("instance").focus();
        }, Timeout500);
    })
</script>


