@using DevExtreme.AspNet.Mvc;
@using Common_Lib;
@model ConnectOneMVC.Areas.Stock.Models.Model_Project_NEVD
@{
    ViewBag.Test = Model.ActionMethod;
    bool tabvisible = Model.TempActionMethod == "_New" ? true : false;
    bool IsVisible = Model != null && (Model.ActionMethod == (Common.Navigation_Mode)Enum.Parse(typeof(Common.Navigation_Mode), "_View") || Model.ActionMethod == (Common.Navigation_Mode)Enum.Parse(typeof(Common.Navigation_Mode), "_Delete")) ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
    
    bool Project_ApproveRight = (bool)ViewData["Project_ApproveRight"];
    bool Project_AddDeptRight = (bool)ViewData["Project_AddDeptRight"];    
}
<style>
    .wdfull {
        width: 100%;
    }
    /*.dxgvCSD{
        width:100% !important;
    }*/
    td {
        width: auto;
    }

    .width1200px {
        width: 1200px;
    }

    .nav-tabs > li > a.active, .nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    .margT12 {
        margin-top: 12px !important;
    }

    .fs22 {
        font-size: 22px !important;
    }

    .d-inline-block {
        display: inline-block;
    }

    .margR-20 {
        margin-right: 20px !important;
    }

    .priicon1 {
        color: #c36808;
    }

    .subprojectH {
        min-height: 43px;
    }

    @@media only screen and (max-width:984px) and (min-width:769px) {
        .projectH43 {
            min-height: 43px;
        }
    }

    @@media only screen and (max-width:923px) and (min-width:769px) {
        .maindepartH {
            min-height: 62px;
        }
    }

    @@media only screen and (max-width:906px) and (min-width:769px) {
        .subprojectH {
            min-height: 62px;
        }
    }

    .checkgreennew {
        color: #1872b9 !important;
    }

    .cancelnew {
        color: #9C27B0 !important;
    }

    /*.EstimationH {
        min-height: 43px;
    }*/
    .checkgreendark {
        color: #1ea06a !important;
    }

    #Add_Complex > div {
        padding: 2px 8px !important;
        margin: 0;
    }

    /*@@media only screen and (max-width:882px) and (min-width:769px) {
        .EstimationH {
            min-height: 43px;
        }
    }*/
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<div id="projectRequest" class="edit_form">
    @using (Ajax.BeginForm("Frm_Project_NEVD", "ProjectScreen",
                                                       new AjaxOptions
                                                       {
                                                           HttpMethod = "POST",
                                                           UpdateTargetId = "ProjectRequestWindow",
                                                           InsertionMode = InsertionMode.InsertAfter,
                                                           OnBegin = "AjaxBeginFormPost",
                                                           OnSuccess = String.Format("{0}", Model.PR_PostSuccessFunction)
                                                       },
                                                            new
                                                            {
                                                                id = "projectvalidationForm",
                                                                @class = "edit_form"
                                                            }))
    {
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.ProjectID)
        @Html.HiddenFor(x => x.TempActionMethod)
        @Html.HiddenFor(x => x.Project_OpenUserID)
        @Html.HiddenFor(x => x.PR_PopUpID)
        @Html.HiddenFor(x => x.PR_PostSuccessFunction)
        @Html.HiddenFor(x => x.PR_StatusButton)
        @Html.HiddenFor(x => x.Proj_Assignee_Main_Dept_ID)//Mantis bug 0000314 fixed
        @Html.HiddenFor(x => x.Proj_Assignee_Sub_Dept_ID)//Mantis bug 0000314 fixed
        @Html.HiddenFor(x => x.Project_Complex_Name)//Mantis bug 0000453 fixed


        using (Html.DevExtreme().ValidationGroup("Stock_project"))
        {
            <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Project Request</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align">
                            <i class="fas fa-info-circle"></i> Red Fields are mandatory
                        </h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Project Name:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Project_Name").Name("Project_Name").Value(Model.Project_Name).MaxLength(255).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Enter Project Name"))
                                                @Html.ValidationMessageFor(model => model.Project_Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Project Name]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Project Request Date:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBoxFor(m => m.Project_Request_Date).CustomDateBox().ID("Project_Request_Date").Name("Project_Request_Date").Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Choose Date"))
                                                @Html.ValidationMessageFor(model => model.Project_Request_Date, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Project Request Date ]-->
                </div>
            </div><!--[row 1]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Complex Name:</label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Project_Complex_ID").Name("Project_Complex_ID").Value(Model.Project_Complex_ID).DisplayExpr("Complex_Name").ValueExpr("ID").DataSource(d => d.Mvc().Area("Stock").Controller("ProjectScreen").LoadAction("LookUp_GetComplexNames").Key("ID")).OnValueChanged("OnComplexNameChanged").Disabled(IsVisible).OnInitialized("OnInitialized_OnComplexNameChanged").ContentTemplate(@<text> @Html.Partial("Complex_Name_List") </text>).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Select Complex"))
                                                @Html.ValidationMessageFor(model => model.Project_Complex_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll prm">
                                        @(Html.DevExtreme().Button().ID("Add_Complex").Text("Add Complex").Disabled(IsVisible).OnClick(@<text> function () { Add_Complex_Click() } </text>))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Complex Name]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Project Type:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Project_Type_ID").Name("Project_Type_ID").Value(Model.Project_Type_ID).DisplayExpr("Project_Type").ValueExpr("Project_Type_ID").DataSource(d => d.Mvc().Area("Stock").Controller("ProjectScreen").LoadAction("LookUp_GetProjectType").Key("Project_Type_ID")).OnValueChanged("OnProjectTypeChanged").Disabled(IsVisible).OnInitialized("OnInitialized_OnProjectTypeChanged").ContentTemplate(@<text> @Html.Partial("Project_Types_List") </text>).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Select.."))
                                                @Html.ValidationMessageFor(model => model.Project_Type_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Project Type]-->
                </div>
            </div><!--[row 2]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label " for="user">Sanction No:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Project_Sanction_No").Name("Project_Sanction_No").Value(Model.Project_Sanction_No).Disabled(IsVisible).MaxLength(50).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Enter Sanction No").ReadOnly(true))

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Sanction No]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Sanction Date:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBoxFor(m => m.Project_Sanction_Date).CustomDateBox().ReadOnly(true).Placeholder("Choose Date").ID("Project_Sanction_Date").Name("Project_Sanction_Date").Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Sanction Date]-->
                </div>
            </div><!--[row 3]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Requestor's Main Dept:</label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Project_Requestor_Main_Dept_ID").Name("Project_Requestor_Main_Dept_ID").DisplayExpr("Name").ValueExpr("ID").DataSource(d => d.Mvc().Area("Stock").Controller("ProjectScreen").LoadAction("LookUp_GetReqMain_Depts").Key("ID")).ReadOnly(true)
                                                                                              .OnValueChanged("OnReqMain_DeptChanged").Disabled(IsVisible).OnInitialized("OnInitialized_OnReqMain_DeptChanged").ContentTemplate(@<text> @Html.Partial("Request_Main_Dept_List") </text>).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Select.."))
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm pll">
                                        @(Html.DevExtreme().Button().ID("Pr_Add_Dept").Text("Add Dept").Disabled(IsVisible).OnClick(@<text> function () { PR_Add_Dept_Click() } </text>))
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><!--[Req main dept]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Requestor's Sub Dept:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Project_Requestor_Sub_Dept_ID").Name("Project_Requestor_Sub_Dept_ID").DisplayExpr("Name").ValueExpr("ID").DataSource(d => d.Mvc().Area("Stock").Controller("ProjectScreen").LoadAction("LookUp_GetRequestSub_Dept").Key("ID").LoadParams(new { MainID = new JS("function (){ return ReqMainDeptID;}") })).ReadOnly(true).OnValueChanged("OnReqSub_DeptChanged").Disabled(IsVisible).OnInitialized("OnInitialized_OnReqSub_DeptChanged").ContentTemplate(@<text> @Html.Partial("Request_Sub_Dept_List") </text>).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Select.."))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Req Sub Dept]-->
                </div>
            </div><!--[row 4]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Assignee's Main Department:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Project_Assignee_Main_Dept_ID").Name("Project_Assignee_Main_Dept_ID").DisplayExpr("Name").ValueExpr("ID").DataSource(d => d.Mvc().Area("Stock").Controller("ProjectScreen").LoadAction("LookUp_GetAssigMain_Depts").Key("ID")).Disabled(IsVisible).OnValueChanged("OnAssigMain_DeptChanged").OnInitialized("OnInitialized_OnAssigMain_DeptChanged").ContentTemplate(@<text> @Html.Partial("Assignee_Main_Dept_List") </text>).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Select..").ReadOnly(true))
                                                @Html.ValidationMessageFor(model => model.Project_Assignee_Main_Dept_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Assignee Main Dept]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Assignee's Sub Department:</label></div>@*Mantis bug 0000323 fixed*@
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Project_Assignee_Sub_Dept_ID").Name("Project_Assignee_Sub_Dept_ID").DisplayExpr("Name").ValueExpr("ID").DataSource(d => d.Mvc().Area("Stock").Controller("ProjectScreen").LoadAction("LookUp_GetAssigneSubDept").Key("ID").LoadParams(new { AssigMainID = new JS("function (){ return AssigMainDeptID;}") })).ReadOnly(true).OnValueChanged("OnAssigSub_DeptChanged").Disabled(IsVisible).OnInitialized("OnInitialized_OnAssigSub_DeptChanged").ContentTemplate(@<text> @Html.Partial("Assignee_Sub_Dept_List") </text>).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Select.."))
                                                @Html.ValidationMessageFor(model => model.Project_Assignee_Sub_Dept_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Assignee sub dept]-->
                </div>
            </div><!--[row 5]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Estimation Date:</label></div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 prm ">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBoxFor(m => m.Project_Estimation_Date).CustomDateBox().ReadOnly(true).Placeholder("Choose Date..").ID("Project_Estimation_Date").Name("Project_Estimation_Date").Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Estimation Date]-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label " for="user">Project Start Date:</label></div>@*Mantis bug 0000390 fixed*@
                                    <div class="col-sm-6 col-md-6 col-lg-6 prm ">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBoxFor(m => m.Project_Req_Start_Date).CustomDateBox().ReadOnly(true).Placeholder("Choose Date..").ID("Project_Req_Start_Date").Name("Project_Req_Start_Date").Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))@*Mantis bug 0000390 fixed*@@*Mantis bug 0000454 fixed*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Finish Date]-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label " for="user">Project Finish Date:</label></div>@*Mantis bug 0000390 fixed*@
                                    <div class="col-sm-6 col-md-6 col-lg-6 prm ">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBoxFor(m => m.Project_Req_Finish_Date).CustomDateBox().ReadOnly(true).Placeholder("Choose Date..").ID("Project_Req_Finish_Date").Name("Project_Req_Finish_Date").Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))@*Mantis bug 0000390 fixed*@@*Mantis bug 0000454 fixed*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Start Date]-->
                </div>
            </div><!--[row 6]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user" id="lbl_project_engineer">Project Engineer:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Project_Engineer_ID").Name("Project_Engineer_ID").DisplayExpr("Name").ValueExpr("ID").DataSource(d => d.Mvc().Area("Stock").Controller("ProjectScreen").LoadAction("LookUp_GetProjectEngineer").Key("ID")).ReadOnly(true)
                                                                   .OnValueChanged("OnProject_EngineerChanged").Disabled(IsVisible).OnInitialized("OnInitialized_OnProject_EngineerChanged").ContentTemplate(@<text> @Html.Partial("LookUp_ProjectEst_List") </text>).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Select.."))
                                                @Html.ValidationMessageFor(model => model.Project_Engineer_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Project Engineer]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user" id="lbl_project_estimator">Project Estimator:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Project_Estimator_ID").Name("Project_Estimator_ID").DisplayExpr("Name").ValueExpr("ID").DataSource(d => d.Mvc().Area("Stock").Controller("ProjectScreen").LoadAction("LookUp_GetProjectEstimator").Key("ID")).ReadOnly(true)
                                                                   .OnValueChanged("OnProject_EstimatorChanged").Disabled(IsVisible).OnInitialized("OnInitialized_OnProject_EstimatorChanged").ContentTemplate(@<text> @Html.Partial("LookUp_ProjectEng_List") </text>).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Select.."))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[project Estimator]-->
                </div>
            </div><!--[row 7]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Project Summary:</label></div>@*Mantis bug 0000321 fixed*@
                                    <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Project_Summary").Name("Project_Summary").Value(Model.Project_Summary).MaxLength(8000).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Enter Summary"))
                                                @Html.ValidationMessageFor(model => model.Project_Summary, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Summary]-->
            <div class="row innerWindow">
                <div class="form-field">
                    @(Html.DevExtreme().TabPanel().ShowNavButtons(true).ScrollingEnabled(true).SwipeEnabled(false).ID("projectTabpanel").Items(items =>
                                                                                                                                                                                                                                                                                {
                                                                                                                                                                                                                                                                                    items.Add().Title("Documents").Template(@<text> @Project_DocumentView() </text>);
                                                                                                                                                                                                                                                                                    items.Add().Title("Estimation").Template(@<text> @Project_EstimationView() </text>);
                                                                                                                                                                                                                                                                                    items.Add().Title("Existing Remarks").Disabled(tabvisible).Template(@<text> @Project_RemarksView() </text>);
                                                                                                                                                                                                                                                                                }).DeferRendering(false))

                    @helper Project_DocumentView()
                    {
                        @Html.Partial("InnerGrid_Documents", Model);
                    }
                    @helper Project_EstimationView()
                    {
                        @Html.Partial("InnerGrid_Estimation", Model);
                    }
                    @helper Project_RemarksView()
                    {
                        @Html.Partial("InnerGrid_Remarks", Model);
                    }
                </div>
            </div><!--Tabs-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label " for="user">Your Remarks:</label></div>
                                <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                    <div class="dx-texteditor  dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Project_Your_Remarks").Name("Project_Your_Remarks").Value(Model.Project_Your_Remarks).Disabled(IsVisible).MaxLength(8000).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Enter Remarks"))
                                            @Html.ValidationMessageFor(model => model.Project_Your_Remarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Remarks]-->
            <fieldset class="default-fieldset">
                <div class="row marginAll8">
                    @if (Model.ActionMethod == (Common.Navigation_Mode)Enum.Parse(typeof(Common.Navigation_Mode), "_Edit"))
                    {
                        @(Html.DevExtreme().Button().ID("BUT_Change_Recommend").Text("Change Recommend").OnClick("OnFrm_Change_Recommend_Click").Visible(false))
                        @(Html.DevExtreme().Button().ID("BUT_Approve").Text("Approve").OnClick("OnFrm_Approve_Click").Visible(false))
                        @(Html.DevExtreme().Button().ID("BUT_MarkasCompleted").Text("Mark as Completed").OnClick("OnFrm_MarkasCompleted_Click").Visible(false))
                        @(Html.DevExtreme().Button().ID("BUT_Reject").Text("Reject").OnClick("OnFrm_Reject_Click").Visible(false))
                        @(Html.DevExtreme().Button().ID("BUT_ReOpen").Text("Re-Open").OnClick("OnFrm_ReOpen_Click").Visible(false))
                        @(Html.DevExtreme().Button().ID("BUT_Cancel").Text("Cancel").OnClick("OnFrm_Cancel_Click").Visible(false))
                        @(Html.DevExtreme().Button().ID("BUT_Assign").Text("Assign For Estimation Creation").OnClick("OnFrm_EstCreation_Click").Visible(false))
                        @(Html.DevExtreme().Button().ID("BUT_Estimate").Text("Submit For Estimate Approval").OnClick("OnFrm_EstAproval_Click").Visible(false))
                    }
                    else if (Model.ActionMethod == (Common.Navigation_Mode)Enum.Parse(typeof(Common.Navigation_Mode), "_New"))
                    {
                        @(Html.DevExtreme().Button().ID("BUT_Approve").Text("Approve").OnClick("OnFrm_Approve_Click").Visible(false))
                        @(Html.DevExtreme().Button().ID("BUT_Assign").Text("Assign For Estimation Creation").OnClick("OnFrm_EstCreation_Click").Visible(false))
                        @(Html.DevExtreme().Button().ID("BUT_Estimate").Text("Submit For Estimate Approval").OnClick("OnFrm_EstAproval_Click").Visible(false))
                    }
                </div>
                <div class="btn-align styleActionBtn">
                    @if (Model.ActionMethod == (Common.Navigation_Mode)Enum.Parse(typeof(Common.Navigation_Mode), "_Edit"))
                    {
                        @(Html.DevExtreme().Button().Text("Save").CustomSaveButton().ID("ProjectRequest_Save").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("Project_NEVD_SAVE_CLICK"))
                        @(Html.DevExtreme().Button().Text("Cancel").CustomCloseButton().ID("ProjectRequest_Cancle").FocusStateEnabled(true).OnClick("ProjectRegister_close"))
                    }
                    @if (Model.ActionMethod == (Common.Navigation_Mode)Enum.Parse(typeof(Common.Navigation_Mode), "_New"))
                    {
                        @(Html.DevExtreme().Button().Text("Save").CustomSaveButton().ID("ProjectRequest_Save").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("Project_NEVD_SAVE_CLICK"))
                        @(Html.DevExtreme().Button().Text("Cancel").CustomCloseButton().ID("ProjectRequest_Cancle").FocusStateEnabled(true).OnClick("ProjectRegister_close"))
                    }
                    @if (Model.ActionMethod == (Common.Navigation_Mode)Enum.Parse(typeof(Common.Navigation_Mode), "_Delete"))
                    {
                        @(Html.DevExtreme().Button().Text("Delete").CustomSaveButton().ID("ProjectRequest_Save").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("Project_NEVD_Delete_CLICK"))
                        @(Html.DevExtreme().Button().Text("Cancel").CustomCloseButton().ID("ProjectRequest_Cancle").FocusStateEnabled(true).OnClick("ProjectRegister_close"))
                    }
                    @if (Model.ActionMethod == (Common.Navigation_Mode)Enum.Parse(typeof(Common.Navigation_Mode), "_View"))
                    {
                        @(Html.DevExtreme().Button().Text("Close").CustomCloseButton().ID("ProjectRequest_Cancle").FocusStateEnabled(true).OnClick("ProjectRegister_close"))
                    }
                </div>

            </fieldset><!--[Buttons]-->
        }
    }
</div>
@(Html.DevExtreme().Popup().CustomPopup().ID("PRinnergrid_NEVD").CloseOnOutsideClick(false).ShowTitle(true).Title("New ~ ").MaxHeight(600).MaxWidth(1400).ContentTemplate(@<text> <div id="result_PRinnergrid_NEVD">  </div> </text>))
<script>

    var ReqMainDeptID;
    var AssigMainDeptID;
    var Prj_ComplexName;
    var Prj_ComplexID;
    var prj_Req_Incharge_Id;
    var prj_Assi_Incharge_Id = [];
    var prj_RequestorID;

    var ProjectRequest_AddDeptright;
 
    $(document).ready(function ()
    {
        var form = "projectvalidationForm";
        ShowLoader();
        AssignIDtoLabel(form, "Project");
        sessionclearpath = "/Stock/ProjectScreen/Sessionclear";       
        dontaskpopupcloseconfirmation = false;
        _IsApproverRight = "@Project_ApproveRight" == "True" ? true : false;
        ProjectRequest_AddDeptright = "@Project_AddDeptRight";
        
        if (ProjectRequest_AddDeptright != "True")
        {
            $("#Pr_Add_Dept").hide();
        }
        if ("@Model.Project_Engineer_ID".length > 0) $("#Project_Engineer_ID").dxDropDownBox("instance").option("value", parseInt("@Model.Project_Engineer_ID"));

        if ("@Model.Project_Requestor_Main_Dept_ID".length > 0) $("#Project_Requestor_Main_Dept_ID").dxDropDownBox("instance").option("value", parseInt("@Model.Project_Requestor_Main_Dept_ID"));

        if ("@Model.Project_Requestor_Sub_Dept_ID".length > 0) $("#Project_Requestor_Sub_Dept_ID").dxDropDownBox("instance").option("value", parseInt("@Model.Project_Requestor_Sub_Dept_ID"));

        if ("@Model.Project_Estimator_ID".length > 0) $("#Project_Estimator_ID").dxDropDownBox("instance").option("value", parseInt("@Model.Project_Estimator_ID"));
 
        if ("@Model.Proj_Assignee_Main_Dept_ID".length > 0) {
            var proj_Assign_main_deptID = "@Model.Proj_Assignee_Main_Dept_ID".split(',').map(Number);

            var $dataGrid = $("#LookUp_AssigMainDept_List_datagrid");
            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(proj_Assign_main_deptID, true);
                //$("#Project_Assignee_Main_Dept_ID").dxDropDownBox("instance").option("value", proj_Assign_main_deptID);
            }
        }

        if ("@Model.Proj_Assignee_Sub_Dept_ID".length > 0)
        {
            var proj_Assign_sub_deptID = "@Model.Proj_Assignee_Sub_Dept_ID".split(',').map(Number);

            var $dataGrid = $("#LookUp_AssigSubDept_List_datagrid");
            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(proj_Assign_sub_deptID, true);
            }
            //$("#Project_Assignee_Sub_Dept_ID").dxDropDownBox("instance").option("value", proj_Assign_sub_deptID);
        }

        if ("@Model.TempActionMethod" == "_New")
        {
            prj_RequestorID = "@Model.Project_OpenUserID";

            $("#Project_Requestor_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
            $("#Project_Assignee_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
            $("#Project_Req_Start_Date").dxDateBox("instance").option("readOnly", false);//Mantis bug 0000454 fixed
            $("#Project_Req_Finish_Date").dxDateBox("instance").option("readOnly", false);//Mantis bug 0000454 fixed
            $("#Project_Assignee_Sub_Dept_ID").dxDropDownBox("instance").option("readOnly", false);//Mantis bug 0000461 fixed
            if (_IsApproverRight == true)
            {
                $("#Project_Sanction_Date").dxDateBox("instance").option("readOnly", false);
                $("#Project_Sanction_No").dxTextBox("instance").option("readOnly", false);
                $("#Project_Estimator_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Engineer_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Estimation_Date").dxDateBox("instance").option("readOnly", false);
            //    $("#BUT_Assign").dxButton("instance").option("visible", true);//mantis #1517
                $("#PR_BUT_estNew").dxButton("instance").option("disabled", false);
                $("#PR_BUT_estEdit").dxButton("instance").option("disabled", false);
                $("#PR_BUT_estDelete").dxButton("instance").option("disabled", false);
                $("#PR_BUT_estView").dxButton("instance").option("disabled", false);
                $("#PR_BUT_estPrint").dxButton("instance").option("disabled", false);

                $("#Project_Requestor_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Assignee_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Assignee_Sub_Dept_ID").dxDropDownBox("instance").option("readOnly", false);//Mantis bug 0000314 fixed
                $("#Project_Req_Start_Date").dxDateBox("instance").option("readOnly", false);//Mantis bug 0000454 fixed
                $("#Project_Req_Finish_Date").dxDateBox("instance").option("readOnly", false);//Mantis bug 0000454 fixed
            //    $("#BUT_Approve").dxButton("instance").option("visible", true);//mantis #1517

                $("#lbl_project_engineer").addClass("text-red");
                $("#Project_Engineer_ID").dxDropDownBox({})
                    .dxValidator({
                        validationRules: [{
                            type: 'required',
                            message: "Project Engineer Cannot Be Blank"
                        }],
                        validationGroup: "Stock_project"
                    });
            }
        }
        else if ("@Model.TempActionMethod" == "_Edit")
        {
            //Mantis bug 0000314 fixed
            if (PR_CurrUserRole.includes("Estimator"))
            {
                $("#Project_Name").dxTextBox("instance").option("readOnly", true);
                $("#Project_Request_Date").dxDateBox("instance").option("readOnly", true);
                $("#Project_Type_ID").dxDropDownBox("instance").option("readOnly", true);
                $("#Project_Complex_ID").dxDropDownBox("instance").option("readOnly", true);
                $("#Project_Summary").dxTextBox("instance").option("readOnly", true);

                $("#Project_Estimation_Date").dxDateBox("instance").option("readOnly", false);
                $("#PR_BUT_estNew").dxButton("instance").option("disabled", false);
                $("#PR_BUT_estEdit").dxButton("instance").option("disabled", false);
                $("#PR_BUT_estDelete").dxButton("instance").option("disabled", false);
                $("#PR_BUT_estView").dxButton("instance").option("disabled", false);
                $("#PR_BUT_estPrint").dxButton("instance").option("disabled", false);
                $("#BUT_Estimate").dxButton("instance").option("visible",true);
            }
            if (PR_CurrUserRole.includes("Approver"))
            {
                $("#Project_Sanction_Date").dxDateBox("instance").option("readOnly", false);
                $("#Project_Sanction_No").dxTextBox("instance").option("readOnly", false);
                $("#Project_Estimator_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Engineer_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Estimation_Date").dxDateBox("instance").option("readOnly", false);
                $("#BUT_Assign").dxButton("instance").option("visible", true);
                $("#PR_BUT_estNew").dxButton("instance").option("disabled", false);
                $("#PR_BUT_estEdit").dxButton("instance").option("disabled", false);
                $("#PR_BUT_estDelete").dxButton("instance").option("disabled", false);
                $("#PR_BUT_estView").dxButton("instance").option("disabled", false);
                $("#PR_BUT_estPrint").dxButton("instance").option("disabled", false);
                $("#BUT_ReOpen").dxButton("instance").option("visible", true);
                $("#Project_Requestor_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Assignee_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Assignee_Sub_Dept_ID").dxDropDownBox("instance").option("readOnly", false);//Mantis bug 0000314 fixed
                $("#Project_Req_Start_Date").dxDateBox("instance").option("readOnly", false);//Mantis bug 0000454 fixed
                $("#Project_Req_Finish_Date").dxDateBox("instance").option("readOnly", false);//Mantis bug 0000454 fixed
                $("#BUT_Approve").dxButton("instance").option("visible", true);
                $("#BUT_Change_Recommend").dxButton("instance").option("visible", true);
                $("#BUT_Reject").dxButton("instance").option("visible", true);
                $("#BUT_MarkasCompleted").dxButton("instance").option("visible", true);

                $("#lbl_project_engineer").addClass("text-red");
                $("#Project_Engineer_ID").dxDropDownBox({})
                    .dxValidator({
                        validationRules: [{
                            type: 'required',
                            message: "Project Engineer Cannot Be Blank"
                        }],
                        validationGroup: "Stock_project"
                    });
            }//Mantis bug 0000229 fixed
            if (PR_CurrUserRole.includes("Requestor"))
            {
                $("#BUT_Cancel").dxButton("instance").option("visible", true);
                $("#BUT_ReOpen").dxButton("instance").option("visible", true);
                $("#Project_Requestor_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Assignee_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Assignee_Sub_Dept_ID").dxDropDownBox("instance").option("readOnly", false);//Mantis bug 0000314 fixed
                $("#Project_Req_Start_Date").dxDateBox("instance").option("readOnly", false);//Mantis bug 0000454 fixed
                $("#Project_Req_Finish_Date").dxDateBox("instance").option("readOnly", false);//Mantis bug 0000454 fixed
            }
            if (PR_CurrUserRole.includes("Requestor Dept Main Incharge"))
            {
                $("#BUT_Cancel").dxButton("instance").option("visible", true);
                $("#Project_Requestor_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Assignee_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Assignee_Sub_Dept_ID").dxDropDownBox("instance").option("readOnly", false);//Mantis bug 0000314 fixed
                $("#Project_Req_Start_Date").dxDateBox("instance").option("readOnly", false);//Mantis bug 0000454 fixed
                $("#Project_Req_Finish_Date").dxDateBox("instance").option("readOnly", false);//Mantis bug 0000454 fixed
                $("#BUT_Approve").dxButton("instance").option("visible", true);
                $("#BUT_Change_Recommend").dxButton("instance").option("visible", true);
                $("#BUT_Approve").dxButton("instance").option("visible", true);
                $("#BUT_Reject").dxButton("instance").option("visible", true);
            }
            if (PR_CurrUserRole.includes("Assignee Dept Main Incharge"))
            {
                $("#BUT_MarkasCompleted").dxButton("instance").option("visible", true);
                $("#Project_Assignee_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Assignee_Sub_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                $("#Project_Estimator_ID").dxDropDownBox("instance").option("readOnly", false);//mantis #1549
            }//Mantis bug 0000314 fixed
        }
                setTimeout(function ()
        {
            if ("@Model.ActionMethod" == "_View")
            {
                Set_Form_View_Delete_Mode("#000080", form);
            }
            else if ("@Model.ActionMethod" == "_Delete")
            {
                Set_Form_View_Delete_Mode("#696969", form);
            }
            else
            {
                Focus_FirstEditable_Field(form);
            }
            HideLoader();
                }, Timeout500);
    });
    function OnInitialized_OnComplexNameChanged(e)
    {
        if ("@Model.ActionMethod" != "_New") { //mantis #1475
            e.component.option("dataSource").store.load().done(function (d) {
                if (d.length > 0) {
                    e.component.option("value", "@Model.Project_Complex_ID");
                }
            });
            Prj_ComplexID = "@Model.Project_Complex_ID";
        }
    }
    function OnComplexNameChanged(e)
    {       
        var dropdown = $("#Project_Complex_ID").dxDropDownBox("instance");
        dropdown.close();
        var $dataGrid = $("#LookUp_ComplexName_List_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropdown.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                Prj_ComplexID = item.ID;
                Prj_ComplexName = item.Complex_Name;
                 $("#Project_Complex_Name").val(item.Complex_Name);//Mantis bug 0000453 fixed

            }
        }
    }
    function OnInitialized_OnProjectTypeChanged(e) {

        if ("@Model.ActionMethod" == "_New") {

            e.component.option("dataSource").store.load().done(function (d) {
                if (d.length > 0) {
                    for (var i = 0; i < d.length; i++) {
                        if (d[i].Project_Type == "New Construction") {
                            e.component.option("value", d[i].Project_Type_ID);
                        }
                    }
                }

            });
           
        }
    }
       
    function OnProjectTypeChanged(e) {
        var dropdown = $("#Project_Type_ID").dxDropDownBox("instance");
        console.log(e.value);
        if (dropdown != undefined && dropdown != "undefined") {
            dropdown.close();
        }

    }
    function OnInitialized_OnReqMain_DeptChanged(e)
    {
        ReqMainDeptID = "@Model.Project_Requestor_Main_Dept_ID";//Mantis bug 0000316 fixed
        e.component.option("dataSource").store.load().done(function (d) {
            if (d.length > 0) {
                    @*e.component.option("value", "@Model.Project_Requestor_Main_Dept_ID");*@
                }
        });
    }
    function OnReqMain_DeptChanged(e)
    {
        var dropdown = $("#Project_Requestor_Main_Dept_ID").dxDropDownBox("instance");
        dropdown.close();
        if (e.previousValue != null && e.value != e.previousValue)
        {
            $("#Project_Requestor_Sub_Dept_ID").dxDropDownBox("instance").reset();
        }
        var $dataGrid = $("#LookUp_ReqMainDept_List_datagrid");
        if ($dataGrid.length)
        {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropdown.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0)
            {
                var item = dataGrid.getSelectedRowsData()[0];
                ReqMainDeptID = item.ID;
                prj_Req_Incharge_Id = item.InCharge_ID;
                if (ReqMainDeptID != "")
                {
                    $("#Project_Requestor_Sub_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                    $("#LookUp_ReqSubDept_List_datagrid").dxDataGrid("instance").refresh();
                }
            }
            if ("@Model.TempActionMethod" == "_New")
            {
                Red_MainDeptIncharge_Change();
                if (e.value == "@Model.Project_OpenUserID")
                {
                    $("#Project_Assignee_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                    $("#Project_Assignee_Sub_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                }//Mantis bug 0000314 fixed
            }

        }
    }
    function OnInitialized_OnReqSub_DeptChanged(e)
    {
        e.component.option("dataSource").store.load().done(function (d) {
            if (d.length > 0)
            {
                @*e.component.option("value", "@Model.Project_Requestor_Sub_Dept_ID");*@
            }
        });
    }
    function OnReqSub_DeptChanged(e)
    {
  
        var dropdown = $("#Project_Requestor_Sub_Dept_ID").dxDropDownBox("instance");
        dropdown.close();

        var $dataGrid = $("#LookUp_ReqSubDept_List_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            if (e.value == null) {
                dataGrid.clearSelection();
            }
        }
    }
    function OnInitialized_OnAssigMain_DeptChanged(e)
    {
   
        AssigMainDeptID = "@Model.Proj_Assignee_Main_Dept_ID";//Mantis bug 0000314 fixed
        e.component.option("dataSource").store.load().done(function (d)
        {
             if (d.length > 0)
             {
                 if ("@Model.TempActionMethod" == "_New")
                 {
                     if ("@ViewBag.SelectAssigneeMainDept".length > 0)// Mantis bug 1314 fixed
                     {
                         for (var i = 0; i < d.length; i++) {
                             if (d[i].Name == "@ViewBag.SelectAssigneeMainDept") {
                                 var $dataGrid = $("#LookUp_AssigMainDept_List_datagrid");
                                 if ($dataGrid.length) {
                                     var dataGrid = $dataGrid.dxDataGrid("instance");
                                     dataGrid.selectRows(d[i].ID, true);
                                 }
                                 //e.component.option("value", d[i].ID);
                                 break;
                             }
                         }
                     }
                 }
                 else
                 {
                     @*e.component.option("value", "@Model.Proj_Assignee_Main_Dept_ID");*@//Mantis bug 0000314 fixed
                 }

            }
        });
        //AssigMainDeptID = e.component.option("value");
    }
    function OnAssigMain_DeptChanged(e)
    {
  
        var dropdown = $("#Project_Assignee_Main_Dept_ID").dxDropDownBox("instance");
        dropdown.close();
        $("#Proj_Assignee_Main_Dept_ID").val(e.value); //Mantis bug 0000314 fixed
        AssigMainDeptID = e.value;//Mantis bug 0000314 fixed


        if (e.previousValue != null && e.value != e.previousValue && e.value != "System.Int32[]")//Mantis bug 0000314 fixed
        {
            $("#Project_Assignee_Sub_Dept_ID").dxDropDownBox("instance").reset();
        }
        var $dataGrid = $("#LookUp_AssigMainDept_List_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            if (e.value == null)
            {
                dataGrid.clearSelection();
            }

            if (dataGrid.getSelectedRowsData().length > 0) {

                var item = dataGrid.getSelectedRowsData();
                for (var i = 0; i < item.length; i++)
                {
                    prj_Assi_Incharge_Id[i] = item[i].InCharge_ID;
                }//Mantis bug 0000314 fixed

                if (AssigMainDeptID != "")
                {
                    $("#LookUp_AssigSubDept_List_datagrid").dxDataGrid("instance").refresh();
                }
                if ("@Model.TempActionMethod" == "_New" || "@Model.TempActionMethod" == "_Edit")//Mantis bug 0000314 fixed
                {
                    Assignee_maindept_Change();
                }
            }
        }
    }
    function OnAssigSub_DeptChanged(e)
    {
    
        var dropdown = $("#Project_Assignee_Sub_Dept_ID").dxDropDownBox("instance");
        dropdown.close();
        $("#Proj_Assignee_Sub_Dept_ID").val(e.value);//Mantis bug 0000314 fixed

        var $dataGrid = $("#LookUp_AssigSubDept_List_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            if (e.value == null) {
                dataGrid.clearSelection();
            }
        }
    }
    function OnInitialized_OnAssigSub_DeptChanged(e)
    {
     
        e.component.option("dataSource").store.load().done(function (d)
        {
             if (d.length > 0)
             {
                 @*e.component.option("value", "@Model.Proj_Assignee_Sub_Dept_ID");*@//Mantis bug 0000314 fixed
             }
        });
    }
    function OnInitialized_OnProject_EngineerChanged(e)
    {
           e.component.option("dataSource").store.load().done(function (d)
        {
             if (d.length > 0)
             {
                 @*e.component.option("value", "@Model.Project_Engineer_ID");*@
             }
        });
    }
    function OnProject_EngineerChanged(e)
    {

        var dropdown = $("#Project_Engineer_ID").dxDropDownBox("instance");
        dropdown.close();
    }
    function OnInitialized_OnProject_EstimatorChanged(e)
    {
           e.component.option("dataSource").store.load().done(function (d)
        {
               if (d.length > 0) {
                   if (d.length == 1) {
                       var $dataGrid = $("#LookUp_ProjectEng_List_datagrid");
                       if ($dataGrid.length) {
                           var dataGrid = $dataGrid.dxDataGrid("instance");
                           dataGrid.selectRows(d[0].ID, true);
                       }
                   }
                   else {
                       @*e.component.option("value", "@Model.Project_Estimator_ID");*@
                   }
               }
        });
    }
    function OnProject_EstimatorChanged(e)
    {
        var dropdown = $("#Project_Estimator_ID").dxDropDownBox("instance");
        dropdown.close();
        if ("@Model.TempActionMethod" == "_New")
        {
            Estimator_Change(e.value);
        }
    }
    function Estimator_Change(EstID)
    {
   
        if (EstID == "@Model.Project_OpenUserID")
        {
            $("#Project_Name").dxTextBox("instance").option("readOnly", true);
            $("#Project_Request_Date").dxDateBox("instance").option("readOnly", true);
            $("#Project_Type_ID").dxDropDownBox("instance").option("readOnly", true);
            $("#Project_Complex_ID").dxDropDownBox("instance").option("readOnly", true);
            $("#Project_Summary").dxTextBox("instance").option("readOnly", true);

            $("#Project_Name").dxTextBox("instance").option("value", "");
            $("#Project_Request_Date").dxDateBox("instance").option("value", null);
            $("#Project_Type_ID").dxDropDownBox("instance").reset();
            $("#Project_Complex_ID").dxDropDownBox("instance").reset();
            $("#Project_Summary").dxTextBox("instance").option("readOnly", "");

            $("#Project_Estimation_Date").dxDateBox("instance").option("readOnly", false);
            $("#PR_BUT_estNew").dxButton("instance").option("disabled", false);
            $("#PR_BUT_estEdit").dxButton("instance").option("disabled", false);
            $("#PR_BUT_estDelete").dxButton("instance").option("disabled", false);
            $("#PR_BUT_estView").dxButton("instance").option("disabled", false);
            $("#PR_BUT_estPrint").dxButton("instance").option("disabled", false);
            $("#BUT_Estimate").dxButton("instance").option("visible", true);
        }
        else
        {
            $("#Project_Name").dxTextBox("instance").option("readOnly", false);
            $("#Project_Request_Date").dxDateBox("instance").option("readOnly", false);
            $("#Project_Type_ID").dxDropDownBox("instance").option("readOnly", false);
            $("#Project_Complex_ID").dxDropDownBox("instance").option("readOnly", false);
            $("#Project_Summary").dxTextBox("instance").option("readOnly", false);
            if (_IsApproverRight != true)
            {
                $("#Project_Estimation_Date").dxDateBox("instance").option("readOnly", true);
                $("#Project_Estimation_Date").dxDateBox("instance").option("value", null);
                $("#PR_BUT_estNew").dxButton("instance").option("disabled", true);
                $("#PR_BUT_estEdit").dxButton("instance").option("disabled", true);
                $("#PR_BUT_estDelete").dxButton("instance").option("disabled", true);
                $("#PR_BUT_estView").dxButton("instance").option("disabled", true);
                $("#PR_BUT_estPrint").dxButton("instance").option("disabled", true);
            }
            $("#BUT_Estimate").dxButton("instance").option("visible",false);
        }
    }
    function Red_MainDeptIncharge_Change()
    {
        if (prj_Req_Incharge_Id == "@Model.Project_OpenUserID")
        {
            $("#Project_Requestor_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
            $("#Project_Assignee_Main_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
            $("#Project_Assignee_Sub_Dept_ID").dxDropDownBox("instance").option("readOnly", false);//Mantis bug 0000314 fixed
            $("#Project_Req_Start_Date").dxDateBox("instance").option("readOnly", false);//Mantis bug 0000454 fixed
            $("#Project_Req_Finish_Date").dxDateBox("instance").option("readOnly", false);//Mantis bug 0000454 fixed
            if ("@Model.TempActionMethod" != "_New") { //mantis #1517
                $("#BUT_Approve").dxButton("instance").option("visible", true);
            }
        }
        else
        {
            if (_IsApproverRight != true)
            {
                $("#BUT_Approve").dxButton("instance").option("visible",false);
            }
        }
    }
    function Assignee_maindept_Change()
    {
        for (var i = 0; i < prj_Assi_Incharge_Id.length; i++)
        {
            if (prj_Assi_Incharge_Id[i] == "@Model.Project_OpenUserID")
            {
                $("#Project_Assignee_Sub_Dept_ID").dxDropDownBox("instance").option("readOnly", false);
                break;
            }
        }

    }//Mantis bug 0000314 fixed






    function Project_NEVD_SAVE_CLICK(e)
    {
        var result = DevExpress.ui.dialog.confirm("Sure You Want To Save", "Project");
        result.done(function (dialogResult)
        {
            var form = $("#projectvalidationForm");
            if (dialogResult)
            {
                var result = e.validationGroup.validate();
                if (result.isValid)
                {
                    form.submit();
                }
            }
        });
    }
    function Project_NEVD_Delete_CLICK(e)
    {
        var form = $("#projectvalidationForm");
        var result = DevExpress.ui.dialog.confirm("Sure You Want To Delete..?", "Delete~Project");
        result.done(function (dialogResult)
        {
            if (dialogResult)
            {
                $.ajax({
                    type: 'GET',
                    url: "/Stock/ProjectScreen/CheckDocumentsLinked",
                    cache: false,
                    async: false,
                    data: {
                        ProjectID: PR_REC_ID
                    },
                    success: function (check)
                    {
                        if (check.result == false)
                        {
                            form.submit();
                        }
                        else {
                            var docdel = DevExpress.ui.dialog.confirm(check.message, "Unlink-Documents");
                            docdel.done(function (dialogResult)
                            {
                                if (dialogResult)
                                {
                                    form.submit();
                                }
                            });
                        }
                    }
                });
            }
        });
    }
    function OnProjectRequestAjaxSuccessForm(data) {
        dontaskpopupcloseconfirmation = true;
        HideLoader();
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else
        {
            DevExpress.ui.dialog.alert(data.message, "Success");
            $("#Dynamic_Content_popup").dxPopup("hide");
            ProjectScreenListGrid.SetFocusedRowIndex(-1);
            ProjectScreenListGrid.Refresh();
        }
    }
    function ProjectRegister_close(e)
    {

      
        if ("@Model.PR_PopUpID" == "Dynamic_Content_popup")
        {
            dontaskpopupcloseconfirmation = false;
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
        else
        {
            var poupID = "#" + "@Model.PR_PopUpID";
            $(poupID).dxPopup("hide");
        }
    }

    function OnFrm_Reject_Click(e) {
        var statusFlowCheck = project_StatusFlowCheck("Reject");
        if (statusFlowCheck[0] == false) { DevExpress.ui.dialog.alert(statusFlowCheck[1], 'Error!!'); return; }
        var DataNavigationCheck = project_dataNavigation("Reject");
        if (DataNavigationCheck[0] == false) { DevExpress.ui.dialog.alert(DataNavigationCheck[1], 'Error!!'); return; }
        var result = DevExpress.ui.dialog.confirm("Sure You Want To Reject", "Update~Project");
        result.done(function (dialogResult) {
            var form = $("#projectvalidationForm");
            if (dialogResult) {
                var result = e.validationGroup.validate();
                if (result.isValid) {
                    if ($("#Project_Your_Remarks").dxTextBox("instance").option("value") == null) {
                        var remarks = DevExpress.ui.dialog.alert("Enter Remarks For Rejecting The Project!!!", "Update~Project")
                        remarks.done(function (dialogResult) {
                            if (dialogResult == true) {
                                $("#Project_Your_Remarks").dxTextBox("instance").focus();
                            }
                        });
                    }
                    else {
                        $("#PR_StatusButton").val("Reject");
                        form.submit();
                    }
                }
            }
        });
    }//Mantis bug 0000233 fixed
    function OnFrm_Cancel_Click(e) {
        var statusFlowCheck = project_StatusFlowCheck("Cancel");
        if (statusFlowCheck[0] == false) { DevExpress.ui.dialog.alert(statusFlowCheck[1], 'Error!!'); return; }
        var DataNavigationCheck = project_dataNavigation("Cancel");
        if (DataNavigationCheck[0] == false) { DevExpress.ui.dialog.alert(DataNavigationCheck[1], 'Error!!'); return; }
        var result = DevExpress.ui.dialog.confirm("Sure You Want To Cancel", "Update~Project");
        result.done(function (dialogResult) {
            var form = $("#projectvalidationForm");
            if (dialogResult) {
                var result = e.validationGroup.validate();
                if (result.isValid) {
                    if ($("#Project_Your_Remarks").dxTextBox("instance").option("value") == null) {
                        var remarks = DevExpress.ui.dialog.alert("Enter Remarks For Cancelling The Project!!!", "Update~Project")
                        remarks.done(function (dialogResult) {
                            if (dialogResult == true) {
                                $("#Project_Your_Remarks").dxTextBox("instance").focus();
                            }
                        });
                    }
                    else {
                        $("#PR_StatusButton").val("Cancel");
                        form.submit();
                    }
                }
            }
        })
    }//Mantis bug 0000233 fixed
    function OnFrm_Change_Recommend_Click(e)
    {
      
        var statusFlowCheck = project_StatusFlowCheck("Changes Recommended");
        if (statusFlowCheck[0] == false) { DevExpress.ui.dialog.alert(statusFlowCheck[1], 'Error!!'); return; }
        var DataNavigationCheck = project_dataNavigation("Changes Recommended");
        if (DataNavigationCheck[0] == false) { DevExpress.ui.dialog.alert(DataNavigationCheck[1], 'Error!!'); return; }
        var result = DevExpress.ui.dialog.confirm("Sure You Want To Recommend Changes", "Update~Project");
        result.done(function (dialogResult) {
            var form = $("#projectvalidationForm");
            if (dialogResult) {
                var result = e.validationGroup.validate();
                if (result.isValid) {
                    if ($("#Project_Your_Remarks").dxTextBox("instance").option("value") == null) {
                        var remarks = DevExpress.ui.dialog.alert("Enter Remarks For Recommending Changes!!!", "Update~Project")
                        remarks.done(function (dialogResult) {
                            if (dialogResult == true) {
                                $("#Project_Your_Remarks").dxTextBox("instance").focus();
                            }

                        });
                    }
                    else {
                        $("#PR_StatusButton").val("Changes Recommended");
                        form.submit();
                    }
                }
            }
        });
    }//Mantis bug 0000233 fixed
    function OnFrm_Approve_Click(e)
    {
        if ("@Model.TempActionMethod" != "_New") {
            var statusFlowCheck = project_StatusFlowCheck("Approve");
            if (statusFlowCheck[0] == false) {
                DevExpress.ui.dialog.alert(statusFlowCheck[1], 'Error!!'); return;
            }
        }
        var DataNavigationCheck = project_dataNavigation("Approve");
        if (DataNavigationCheck[0] == false)
        {
            DevExpress.ui.dialog.alert(DataNavigationCheck[1], 'Error!!'); return;
        }
        var result = DevExpress.ui.dialog.confirm("Sure You Want To Approve", "Update~Project");
        result.done(function (dialogResult)
        {
            var form = $("#projectvalidationForm");
            if (dialogResult)
            {
                var result = e.validationGroup.validate();
                if (result.isValid)
                {
                    if (_IsApproverRight == true)
                    {
                        if (!$("#Project_Sanction_Date").dxDateBox("instance").option("value"))
                        {
                            $("#Project_Sanction_Date").dxDateBox("instance").option("value", new Date().toLocaleDateString());
                        }
                    }//Mantis bug 0000452 fixed
                    $("#PR_StatusButton").val("Approve");
                    form.submit();
                }
            }
        });
    }
    function OnFrm_MarkasCompleted_Click(e) {
        var statusFlowCheck = project_StatusFlowCheck("Complete");
        if (statusFlowCheck[0] == false) { DevExpress.ui.dialog.alert(statusFlowCheck[1], 'Error!!'); return; }
        var DataNavigationCheck = project_dataNavigation("Complete");
        if (DataNavigationCheck[0] == false) { DevExpress.ui.dialog.alert(DataNavigationCheck[1], 'Error!!'); return; }
        var result = DevExpress.ui.dialog.confirm("Sure You Want To Mark As Complete", "Update~Project");
        result.done(function (dialogResult) {
            var form = $("#projectvalidationForm");
            if (dialogResult) {
                var result = e.validationGroup.validate();
                if (result.isValid) {
                    $("#PR_StatusButton").val("Complete");
                    form.submit();
                }

            }
        });
    }
    function OnFrm_ReOpen_Click(e) {
        var statusFlowCheck = project_StatusFlowCheck("Reopen");
        if (statusFlowCheck[0] == false) { DevExpress.ui.dialog.alert(statusFlowCheck[1], 'Error!!'); return; }
        var DataNavigationCheck = project_dataNavigation("Reopen");
        if (DataNavigationCheck[0] == false) { DevExpress.ui.dialog.alert(DataNavigationCheck[1], 'Error!!'); return; }
        var result = DevExpress.ui.dialog.confirm("Sure You Want To Re-Open", "Update~Project");
        result.done(function (dialogResult) {
            var form = $("#projectvalidationForm");
            if (dialogResult) {
                var result = e.validationGroup.validate();
                if (result.isValid) {
                    $("#PR_StatusButton").val("Reopen");
                    form.submit();
                }

            }
        });
    }
    function OnFrm_EstAproval_Click(e) {
        if ("@Model.TempActionMethod" != "_New") {
            var statusFlowCheck = project_StatusFlowCheck("Estimate Approval");
            if (statusFlowCheck[0] == false) { DevExpress.ui.dialog.alert(statusFlowCheck[1], 'Error!!'); return; }
        }
        var DataNavigationCheck = project_dataNavigation("Estimate Approval");
        if (DataNavigationCheck[0] == false) { DevExpress.ui.dialog.alert(DataNavigationCheck[1], 'Error!!'); return; }
        var result = DevExpress.ui.dialog.confirm("Sure You Want To Submit For Estimate Approval", "Update~Project");
        result.done(function (dialogResult) {
            var form = $("#projectvalidationForm");
            if (dialogResult) {
                var result = e.validationGroup.validate();
                if (result.isValid) {
                    $("#PR_StatusButton").val("Estimate Approval");
                    form.submit();
                }

            }
        });
    }
    function OnFrm_EstCreation_Click(e) {
        if ("@Model.TempActionMethod" != "_New") {
            var statusFlowCheck = project_StatusFlowCheck("Estimate Creation");
            if (statusFlowCheck[0] == false) { DevExpress.ui.dialog.alert(statusFlowCheck[1], 'Error!!'); return; }
        }
        var DataNavigationCheck = project_dataNavigation("Estimate Creation");
        if (DataNavigationCheck[0] == false) { DevExpress.ui.dialog.alert(DataNavigationCheck[1], 'Error!!'); return; }
        $("#lbl_project_estimator").addClass("text-red");
        $("#Project_Estimator_ID").dxDropDownBox({})
            .dxValidator({
                validationRules: [{
                    type: 'required',
                    message: "Project Estimator Cannot Be Blank"
                }],
                validationGroup: "Stock_project"
            });
        var result = DevExpress.ui.dialog.confirm("Sure You Want To Submit For Estimate Creation", "Update~Project");
        result.done(function (dialogResult) {
            var form = $("#projectvalidationForm");
            if (dialogResult) {
                var result = e.validationGroup.validate();
                if (result.isValid) {
                    $("#PR_StatusButton").val("Estimate Creation");
                    form.submit();
                }

            }
        });
    }

    function Add_Complex_Click()
    {
        DevExpress.ui.dialog.alert("Coming Soon..!", "Inform..");
    }//Mantis bug 0000467 fixed
    function PR_Add_Dept_Click()
    {
        if (ProjectRequest_AddDeptright != "True")
        {
            DevExpress.ui.dialog.alert('Not Allowed', 'No Rights');
            return;
        }
        $("#PR_Content_popup").dxPopup("instance").option("contentTemplate", "<div id='result_projectdept'></div>")
        $("#PR_Content_popup").dxPopup("show");
        $("#PR_Content_popup").dxPopup("instance").option("title", "New ~Dept");
        $("#PR_Content_popup").dxPopup("instance").option("width", "80%");
        $("#PR_Content_popup").dxPopup("instance").option("height", "71%");
        $("#result_jobdept").html(null);
        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/Stock/Store_Dept_Master/Frm_Store_Dept_Master_Window",
            data: {
                ActionMethod: "New",
                ID: 0,
                PostSucessFunction: "ProjectAddstoredeptSuccess",
                PopupName: "PR_Content_popup",
                ButtonID:"Pr_Add_Dept"
            },
            success: function (data) {
                HideLoader();
                $("#result_projectdept").html(data);
                HideLoader();
            }
        });
        HideLoader();

    }
    function ProjectAddstoredeptSuccess(data)
    {
        HideLoader();
        if (data.result == true) {
            $("#PR_Content_popup").dxPopup("hide");
            $("#LookUp_ReqMainDept_List_datagrid").dxDataGrid("instance").refresh();
        }
        else {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
    }
</script>
