@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.Model_EstimationDetails
@{   
    bool IsVisible = Model != null && (Model.Tag.ToString().Trim() == "_View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            line-height: 15px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 8px;
                height: 8px;
                background: #337ab7;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .dx-button-block {
        display: block !important;
    }

    .intial {
        float: initial !important;
    }

    .txtareaheight .dx-texteditor-input {
        height: 137px !important;
        width: 103%;
    }/*//Mantis bug 0000392 fixed*/

    .paddR9 {
        padding-right: 9px !important;
    }

    .control-label-text {
        font-weight: 500;
        font-size: 14px;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="Frm_Estimation_Window_popup">
    @using (Ajax.BeginForm("Frm_Project_Request_Add_Estimate", "ProjectScreen",
                                           new AjaxOptions
                                           {
                                               HttpMethod = "POST",
                                               UpdateTargetId = "Frm_Estimation_Window_popup",
                                               InsertionMode = InsertionMode.InsertAfter,
                                               OnBegin = "AjaxBeginFormPost",
                                               OnSuccess = "Frm_Estimation_Window_OnSuccess"
                                           },
                                           new
                                           {
                                               id = "ID_Frm_Estimation_Window",
                                               @class = "edit_form"
                                           }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Tag)
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.SR_NO)
        @Html.HiddenFor(x => x.Est_UnitName)
        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg3">
                <div class="row">

                    <div class="col-sm-8 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Estimation Details </h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Project Name:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Est_Project_Name").Name("Est_Project_Name").Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--[Project Name]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Complex Name:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-state-readonly ">
                                            @*<div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().ID("Est_Complex_Name").Name("Est_Complex_Name").Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>*@
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Est_Complex_Name").Name("Est_Complex_Name").DisplayExpr("Complex_Name").ValueExpr("ID").DataSource(d => d.Mvc().Area("Stock").Controller("ProjectScreen").LoadAction("LookUp_GetComplexNames").Key("ID")).ReadOnly(true))
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--[Complex Name]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Sanction No:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Est_Sanction_No").Name("Est_Sanction_No").Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--[Sanction No]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Description Of Work:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextArea().ID("Est_Description").Name("Est_Description").Width("100%").Placeholder("Enter Work Description").Value(Model.Est_Description).MaxLength(8000).ElementAttr(new Dictionary<string, object>() { { "class", "txtarea txtareaheight" } }))@*//Mantis bug 0000392 fixed*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--[description of work]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red " for="user">Estimated Qty:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Estimated_Qty").Name("Estimated_Qty").Value(Model.Estimated_Qty).ReadOnly(IsVisible).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Enter Quantity").ShowSpinButtons(true).Format("#0.00").Min(0.01).Max(999999999.99).OnValueChanged("Calculate_estAmount"))

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Estimated Qty]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Unit:</label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Est_Unit").Name("Est_Unit").Value(Model.Est_Unit).ValueExpr("Unit_ID").DisplayExpr("Unit").DataSource(d => d.Mvc().Controller("ProjectScreen").LoadAction("GetStockUnits").Key("Unit_ID")).ReadOnly(IsVisible).Disabled(IsVisible).OnValueChanged("GetStockUnits_ChangeEvent").OnInitialized("GetStockUnits_OnInitialized").ContentTemplate(@<text> @Html.Partial("GetStockUnits") </text>).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Select Unit.."))@*Mantis 0000297 bug fixed*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        @(Html.DevExtreme().Button().ID("BUT_RequestUnit").Text("Request Unit").OnClick(@<text> function () { OnFrm_Request_Unit_Click() } </text>).Disabled(Model.Tag.ToString()=="_View"?true:false))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Unit]-->
                </div>
            </div><!--[row 5]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red " for="user">Estimated Rate Per Unit:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Est_Rate").Name("Est_Rate").Value(Model.Est_Rate).ReadOnly(IsVisible).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Enter Rate").ShowSpinButtons(true).Format("#0.00").Max(99999999999999999.99).OnValueChanged("Calculate_estAmount"))

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Estimated Rate]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Amount :</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Est_Amount").Name("Est_Amount").Value(Model.Est_Amount).ReadOnly(true).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Format("#0.00"))
                                            </div>
                                        </div>
                                    </div>                                  
                                </div>
                            </div>
                        </div>
                    </div><!--[Amount]-->
                </div>
            </div><!--[row 6]-->

            <div class="row">               
                        <div class="col-sm-12">
                             <div class="styleActionBtn">

                            @(Html.DevExtreme().Button().CustomSaveButton().Text("Save").ID("EstimationDetail_Save").FocusStateEnabled(true).UseSubmitBehavior(true).Visible(Model.Tag.ToString() == "_View" ? false : true) )
                            @(Html.DevExtreme().Button().CustomCloseButton().Text(Model.Tag.ToString() == "_View" ? "Close" : "Cancel").ID("EstimationDetail_Cancle").FocusStateEnabled(true).OnClick(@<text> function () { $("#PRinnergrid").dxPopup("hide"); } </text>) )

                        </div>
                       </div>
                    </div>             

        }
    }
</div>
<script type="text/javascript">
    var form = "ID_Frm_Estimation_Window";
    $(document).ready(function ()
    {
        ShowLoader();
        AssignIDtoLabel(form, "ProjectEst");
        //var Prj_ComplexName_Estimation = $("#Project_Complex_Name").val();//Mantis bug 0000453 fixed
        $("#Est_Sanction_No").dxTextBox("instance").option("value", $("#Project_Sanction_No").dxTextBox("instance").option("value"));
        $("#Est_Complex_Name").dxDropDownBox("instance").option("value", Prj_ComplexID);//Mantis bug 0000588 fixed
        $("#Est_Project_Name").dxTextBox("instance").option("value", $("#Project_Name").dxTextBox("instance").option("value"));
         setTimeout(function ()
        {
            if ("@Model.Tag" == "_View")
            {
                Set_Form_View_Delete_Mode("#000080", form);
            }
            else if ("@Model.Tag" == "_Delete")
            {
                Set_Form_View_Delete_Mode("#696969", form);
            }
            else
            {
                Focus_FirstEditable_Field(form);
            }
            HideLoader();
         }, Timeout500);
    });
    function GetStockUnits_ChangeEvent(e)
    {
        var dropDownBox = $("#Est_Unit").dxDropDownBox("instance");
        dropDownBox.close();

        var $dataGrid = $("#LookUp_StockUnit");
        if ($dataGrid.length) {
            LookUp_StockUnit
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var Unit_name = item.Unit;
                $("#Est_UnitName").val(Unit_name);
            }
        }
    }
    function GetStockUnits_OnInitialized(e)
    {
        e.component.option("dataSource").store.load().done(function (d)
        {
            if (d.length == 1) { e.component.option("value", d[0].UnitID); }
            else if (d.length > 1) {e.component.option("value", "@Model.Est_Unit"); }

            });
        }

    function OnFrm_Request_Unit_Click() {
        ShowLoader();
        $("#RequestvalidationForm").remove();
        $.ajax({
            type: 'GET',
            url: "/Help/RequestBox/Frm_Request_Window",
            cache: false,
            data: {
                ActionMethod: "New",
                PopUpId: "New_Request_Unit_FrmProject",
            },
            success: function (data)
            {
                ShowLoader();
                OpenPopup("New_Request_Unit_FrmProject", "New ~ Request Box", null, "auto", 1150, true, data);
                HideLoader();
            }
        });
    }
    function Calculate_estAmount(e)
    {
        var qty = $("#Estimated_Qty").dxNumberBox("instance").option("value");
        var rate = $("#Est_Rate").dxNumberBox("instance").option("value");
        $("#Est_Amount").dxNumberBox("instance").option("value",qty*rate);
    }
</script>
