@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.DocumentsDetails
@{
    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .wdfull {
        width: 100%;
    }

    td {
        width: auto;
    }

    .dntnbtn {
        min-width: 68px !important;
        font-size: 12px;
    }

    .fonttwelve {
        font-size: 12px !important;
    }

    .clear {
        clear: both;
    }

    .bortabl {
        border: 1px solid #64CAF1;
        border-collapse: collapse;
        padding-left: 5px;
    }

        .bortabl td {
            border: 1px solid #64CAF1;
            border-collapse: collapse;
        }

    .tabtbl {
        width: 100%;
        margin: 0;
        padding: 0;
    }

        .tabtbl table {
            width: 100%;
        }

        .tabtbl th {
            background: #BDD5ED;
            color: #000;
            font-size: 12px;
            border: 1px solid #000;
            border-collapse: collapse;
            padding-left: 10px;
        }

        .tabtbl td {
            background: #fff;
            color: #000;
            font-size: 12px;
            border: 1px solid #64CAF1;
            border-collapse: collapse;
            padding-left: 10px;
        }
    .dx-fileuploader-input-wrapper {
        margin-top: -19px;
        margin-left: 43px;
        padding: 7px 0 7px;
        border: 3px dashed transparent;
    }
    #fileName {
        padding: 0px !important;
    }
    /*.dx-button-has-text .dx-button-content {
        margin-right: 15px;
        padding: 2px 1px;
        min-width: 54px;
        padding-left: 9px;
    }*/
    #file-uploader {
        margin: -16px;
        margin-top: -1px;
    }

    .dx-fileuploader-input-wrapper {
        margin-top: -19px;
        margin-left: -3px;
        /* padding: 7px 0 7px; */
        border: 3px dashed transparent;
    }

    #View_Document {
        float: left;
    }

    #View_Document > div {
        padding: 4px 8px !important;
        margin: 0;
    }
   
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<div id="Frm_Pro_Documents_Window_popup">
    @using (Ajax.BeginForm("Frm_User_Order_Document", "ProjectScreen",
                                           new AjaxOptions
                                           {
                                               HttpMethod = "POST",
                                               UpdateTargetId = "Frm_Pro_Documents_Window_popup",
                                               InsertionMode = InsertionMode.InsertAfter,
                                               OnBegin = "AjaxBeginFormPost",
                                               OnSuccess = "Frm_Documents_Window_OnSuccess"
                                           },
                                           new
                                           {
                                               id = "ID_Frm_ProjectDocument_Window",
                                               @class = "edit_form"
                                           }))
    {
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.SR_NO)
        @Html.HiddenFor(x => x.DocumentName)

        <!--[] <div class="full-width-header-bg">
             <div class="row">
                 <div class="col-sm-8">
                     <h3 class="popuphead"><i class="far fa-edit"></i> Attach Document</h3>
                 </div>
                 <div class="col-sm-4 prm">
                     <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                 </div>
             </div>
         </div> -->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-4 pll">
                        <label class="control-label text-red" for="user">Document:</label>
                    </div>
                    <div class="col-sm-8 prm">

                        <div class="file-upload">
                            <div class="file-select">
                                <div class="file-select-button" id="fileName">
                                    <b style="display:flex">
                                        <div id="filetxtbox">
                                            @(Html.DevExtreme().TextBox()
                                                .ID("Document")
                                                .Name("Document")
                                                .Value(Model.Document)
                                                .ReadOnly(IsVisible)
                                                .Disabled(IsVisible)
                                            )
                                        </div>
                                        <div id="btnfile">
                                            @(Html.DevExtreme().FileUploader()
                                                                       .ID("file-uploader")
                                                                       .SelectButtonText("Browse")
                                                                       .Name("myFile")
                                                                       .Multiple(false)
                                                                       .Accept("*")
                                                                       .UploadMode(FileUploadMode.Instantly)
                                                                       .UploadUrl(Url.Action("Upload", "ProjectScreen"))
                                                                       .OnValueChanged("fileUploader_valueChanged")
                                            )
                                        </div>

                                    </b>
                                </div>

                                <div class="file-select-name" id="noFile">No file chosen...</div>

                                <input type="file" name="chooseFile" id="chooseFile">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!--[Browse]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-4 pll">
                        <label class="control-label text-red" for="user">Document Category:</label>
                    </div>
                    <div class="col-sm-8 prm">
                        @(Html.DevExtreme().DropDownBox()
.ID("Document_Category")
.Name("Document_Category")
.Value(Model.Document_Category)
.DisplayExpr("ID")
.ValueExpr("ID")
.DataSource(d => d.Mvc().Area("Stock").Controller("ProjectScreen").LoadAction("LookUp_GetDocument_Category").Key("ID"))
.ShowClearButton(true)
.ReadOnly(true)
.OnValueChanged("OnDocument_CategoryChanged")
.DeferRendering(false)
.ReadOnly(IsVisible)
.Disabled(IsVisible)
.OnInitialized("OnInitialized_OnDocument_CategoryChanged")
.ContentTemplate(@<text>
                @Html.Partial("Documents_Category_List")
</text>)
                        )
                    </div>
                </div>
            </div>
        </div><!--[Browse]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-4 pll">
                        <label class="control-label text-red" for="user">Document Name:</label>
                    </div>
                    <div class="col-sm-8 prm">
                        @(Html.DevExtreme().DropDownBox()
.ID("Document_Name")
.Name("Document_Name")
.Value(Model.Document_Name)
.DisplayExpr("Name")
.ValueExpr("ID")
.DataSource(d => d.Mvc().Area("Stock").Controller("ProjectScreen").LoadAction("LookUp_GetDocument_Name").Key("ID").LoadParams(new { CategoryName = new JS("function (){ return returnCategory;}") }))
.ShowClearButton(true)
.OnValueChanged("OnDocument_NameChanged")
.DeferRendering(false)
.ReadOnly(IsVisible)
.Disabled(IsVisible)
.OnInitialized("OnInitialized_OnDocument_NameChanged")
.ContentTemplate(@<text>
                @Html.Partial("Documents_Name_List")
</text>)
                        )

                    </div>
                </div>
            </div>
        </div>

                    <div class="row">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                    <label class="control-label" for="user">Applicable From:</label>
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                    @(Html.DevExtreme().DateBoxFor(m => m.Doc_From_Date)
.ID("Doc_From_Date")
.Name("Doc_From_Date")
.Type(DateBoxType.Date)
.PickerType(DateBoxPickerType.Native)
.DisplayFormat(ViewBag.Base_Date_Format_Current)
.InvalidDateMessage("Value must be a Date!!")
.ReadOnly(IsVisible)
.Disabled(IsVisible)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                    <label class="control-label" for="user">Applicable To:</label>
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                    @(Html.DevExtreme().DateBoxFor(m => m.Doc_To_Date)
.ID("Doc_To_Date")
.Name("Doc_To_Date")
.Type(DateBoxType.Date)
.PickerType(DateBoxPickerType.Native)
.DisplayFormat(ViewBag.Base_Date_Format_Current)
.InvalidDateMessage("Value must be a Date!!")
.ReadOnly(IsVisible)
.Disabled(IsVisible)
                                    )
                                </div>


                            </div>
                        </div>
                    </div>
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-4 pll">
                        <label class="control-label" for="user">Description :</label>
                    </div>
                    <div class="col-sm-8 prm">
                        @(Html.DevExtreme().TextBox()
                                           .ID("Doc_Description")
                                           .Name("Doc_Description")
                                           .Value(Model.Doc_Description)
                                           .ReadOnly(IsVisible)
                                .Disabled(IsVisible)
                        )

                    </div>
                </div>
            </div>
        </div><!--[Browse]-->

        <div class="row">
            <div class="form-field wbg brd-bot-none">
                <div class="container-fluid">
                    <div class="col-sm-12 btn-align prm styleActionBtn">
                        @(Html.DevExtreme().Button()
                                .Text("View Document")
                                .ID("View_Document")
                                .FocusStateEnabled(true)
                                .OnClick(@<text>
                                    function () {
                                    project_View_Document_Click();
                                    }
                                </text>)
                        )


                        @if (Model.ActionMethod.ToString().Trim() == "_View")
                        {
                            @(Html.DevExtreme().Button()
                                    .Text("Close")
                                    .ID("Project_document_Close")
                                    .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                    .FocusStateEnabled(true)
                                    .OnClick(@<text>
                                        function () {
                                        $("#Frm_Documents_Popup").dxPopup("hide");
                                        }
                                    </text>)
                            )

                        }
                        @if (Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit")
                        {
                            @(Html.DevExtreme().Button()
                                    .Text("Save")
                                    .ID("Project_document_Save")
                                    .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                                    .FocusStateEnabled(true)
                                    .UseSubmitBehavior(true)
                            )
                            @(Html.DevExtreme().Button()
                                    .Text("Cancel")
                                    .ID("Project_document_Cancel")
                                    .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                    .FocusStateEnabled(true)
                                    .OnClick(@<text>
                                        function () {
                                        $("#Frm_Documents_Popup").dxPopup("hide");
                                        }
                                    </text>)
                            )
                        }
                    </div>

                        </div>
                    </div>
        </div><!--[Browse]-->
    }
</div>
<script>
$('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen...");
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
  }
});
function fileUploader_valueChanged(e) {
    debugger
    var files = e.value;
    if (files.length > 0) {
        $("#selected-files .selected-item").remove();
        var filename = files[0].name;
        var filebytes = files[0].size;
        $("#Document").dxTextBox("instance").option("value",filename);
        $("#selected-files").show();
    }
    else
        $("#selected-files").hide();
}

</script>
