@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.Job_Request_Register
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .wdfull {
        width: 100%;
    }

    .nav-tabs > li > a.active, .nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    td {
        width: auto;
    }

    .width1200px {
        width: 1200px;
    }

    .margT12 {
        margin-top: 12px !important;
    }

    .fs22 {
        font-size: 22px !important;
    }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<script>
    var AssignMainDept = "";
    function On_Project_InitializationQAJPR(e) {

    };
    function On_Project_Value_ChangedQAJPR(e) {
        debugger
        var QAJ_Drop_Down = $("#Project_IdQADPR").dxDropDownBox("instance");
        QAJ_Drop_Down.close();
    };
    function On_Initialize_ComplexQAJPR(e) {

    };
    function On_Complex_Value_ChangedQAJPR(e) {
        var dropDownQAJ = $("#Job_Complex_IdQAJPR").dxDropDownBox("instance");
        dropDownQAJ.close();
    };
    function OnInitialized_OnAssignee_Main_DeptQAJ(e) {

    };
    function On_Assigns_Value_ChangedQAJPR(e) {
        debugger
        var dropDownQAJPR = $("#Job_Assignee_Main_Dept_IDQAJPR").dxDropDownBox("instance");
        var $dataGrid = $("#GetStockAssignMainDept_Grid")
        if (dropDownQAJPR != undefined && dropDownQAJPR != "undefined") {
            if (dropDownQAJPR.option("value")[0] != 0 && dropDownQAJPR.option("value")[0] != "0") {
                if ($dataGrid.length) {
                    var dataGrid = $dataGrid.dxDataGrid("instance");
                    dataGrid.selectRows(dropDownQAJPR.option("value"), false);
                    if (dataGrid.getSelectedRowsData().length > 0) {
                        var item = dataGrid.getSelectedRowsData()[0];
                        var Name = item.Name;
                        AssignMainDept = item.ID;
                        if (AssignMainDept != "") {
                            dropDownQAJPR.close();
                            $("#Job_Assignee_Sub_Dept_IDQAJPR").dxDropDownBox("instance").option("readOnly", false);
                            $("#GetStockAssignSubDept_PRGrid").dxDataGrid("instance").refresh();
                        }
                    }
                }
            }
            else {
                $("#Job_Assignee_Sub_Dept_IDQAJPR").dxDropDownBox("instance").option("value", 0);
                $("#Job_Assignee_Sub_Dept_IDQAJPR").dxDropDownBox("instance").option("readOnly", true);
                dropDownQAJPR.close();
            }
        }
    }
    function On_Assign_Value_ChangedQAJPR(e) {
        var dropDown = $("#Job_Assignee_Sub_Dept_IDQAJPR").dxDropDownBox("instance");
        dropDown.close();
    }
    function On_Initialize_Assignee_Sub_DeptQAJPR(e) {

    }
    function OnJobRequestRegisterAjaxSuccessForm(data) {
        debugger
        if (data.result == true) {
            DevExpress.ui.dialog.alert(data.message, "Inform");
            HideLoader();
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
        if (data.result == false) {
            //$("#Dynamic_Content_popup").dxPopup("hide");
            //DevExpress.ui.dialog.alert(data.message, "Inform");
            //JobRequestRegisterListGrid.Refresh();
            //HideLoader()
        }

    }
</script>
<div action="id_JobQAJPR" class="edit_form">
    @using (Ajax.BeginForm("Frm_NEVD_Job_Request", "JobRequestRegister",
           new AjaxOptions
           {
               HttpMethod = "POST",
               UpdateTargetId = "Frm_NEVD_Job_Request",
               InsertionMode = InsertionMode.InsertAfter,
               OnBegin = "AjaxBeginFormPost",
               OnSuccess = "OnJobRequestRegisterAjaxSuccessForm"
           },
            new
            {
                id = "prj_quickjobForm",
                @class = "edit_form"
            }))
    {
        @Html.HiddenFor(x => x.TempActionMethod)
        @*@Html.HiddenFor(x => x.JobID)*@
        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg2">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Job Request</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align">
                            <i class="fas fa-info-circle"></i> Red Fields are mandatory
                        </h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div><!--[]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Job Name</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll4">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_NameQADPR").Name("Job_NameQAPR").Value(Model.Job_NameQAPR))
                                        @Html.ValidationMessageFor(model => model.Job_NameQAPR, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Job Request Date</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        @(Html.DevExtreme().DateBox().CustomDateBox().ID("Job_Start_DateQADPR").Name("Job_Start_DateQADPR").Value(Model.Job_Start_DateQADPR))
                                        @Html.ValidationMessageFor(model => model.Job_Start_DateQADPR, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[2]-->
                </div>
            </div><!--[row]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Job No:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll4">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_NoQADPR").Value(Model.Job_NoQADPR.ToString() == "0" ? "" : Model.Job_NoQADPR.ToString()))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Job Type:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll4">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_TypeQADPR").Name("Job_TypeQADPR").Value(Model.Job_TypeQADPR))
                                        @Html.ValidationMessageFor(model => model.Job_TypeQADPR, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Project Name:</label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm pll4">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Project_IdQADPR").Placeholder("Project Name")
                                                              .DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Get_Project_Name_List").Key("Project_Id"))
                                                              .Value(Model.Project_IdQADPR)
                                                              .ValueExpr("Project_Id")
                                                              .DisplayExpr("Project_Name")
                                                              .OnInitialized("On_Project_InitializationQAJPR")
                                                              .OnValueChanged("On_Project_Value_ChangedQAJPR")
                                                              .ContentTemplate(@<text>
                                                                @Html.Partial("Get_Project_Name_List")
                                                            </text>))
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm pll4">
                                        @(Html.DevExtreme().Button().Text("Add Project")
                                          .OnClick(@<text>function() { add_New_Project(); }</text>))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Complex Name:</label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_Complex_IdQAJPR").Name("Job_Complex_IdQAJPR").Placeholder("Complex Name")
                                                           .DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Complexes_GetList").Key("ID"))
                                                           .Value(Model.Job_Complex_IdQAJPR).ValueExpr("ID").DisplayExpr("Complex_Name").OnValueChanged("On_Complex_Value_ChangedQAJPR")
                                                           .OnInitialized("On_Initialize_ComplexQAJPR").ContentTemplate(@<text>
                                                            @Html.Partial("Complexes_GetList")
                                                        </text>))
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm pll4">
                                        @(Html.DevExtreme().Button().ID("Id_Add_ComplecxQAJPR").Text("Add Complex").OnClick(@<text> function(){ add_Complex();}</text>))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[2]-->
                </div>
            </div><!--[row]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Assignee's Main Department:</label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm ">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_Assignee_Main_Dept_IDQAJPR").Name("Job_Assignee_Main_Dept_IDQAJPR").Placeholder("Assignee's Main Department")
                                                     .DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Get_Stock_Assigns_MainDept").Key("ID")).ValueExpr("ID")
                                                     .DisplayExpr("Name").Value(Model.Job_Assignee_Main_Dept_IDQAJPR).OnValueChanged("On_Assigns_Value_ChangedQAJPR")
                                                     .OnInitialized("OnInitialized_OnAssignee_Main_DeptQAJ").ContentTemplate(@<text>
                                                        @Html.Partial("Get_Stock_Assigns_MainDept")
                                                    </text>))
                                        @Html.ValidationMessageFor(model => model.Job_Assignee_Main_Dept_IDQAJPR, "Please select Assignee's Main Department...", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm">
                                        @*<input type="button" value="Add Dept" />*@
                                        @(Html.DevExtreme().Button().ID("IDAddDept").Text("Add Dept").OnClick(@<text>
                                                function(){add_Dept()}
                                        </text>))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Assignee's Sub-Department:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_Assignee_Sub_Dept_IDQAJPR").Name("Job_Assignee_Sub_Dept_IDQAJPR").Placeholder("Assignee's Sub-Department:")
                                                             .DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Get_Stock_Assign_SubDept").Key("ID").LoadParams(new { AssigMainDeptID = new JS("function (){return AssignMainDept;}") }))
                                                             .ValueExpr("ID").DisplayExpr("Name").Value(Model.Job_Assignee_Sub_Dept_IDQAJPR).OnValueChanged("On_Assign_Value_ChangedQAJPR").ReadOnly(true)
                                                             .OnInitialized("On_Initialize_Assignee_Sub_DeptQAJPR").ContentTemplate(@<text>
                                                                @Html.Partial("Get_Stock_Assign_SubDept")
                                                            </text>))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[2]-->
                </div>
            </div><!--[row]-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label text-red" for="user">Job Description:</label></div>
                                <div class="col-sm-10 col-md-10 col-lg-10 prm pll4">
                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_DescriptionQAJ").Name("Job_DescriptionQAJ").Placeholder("Job Description").Value(Model.Job_DescriptionQAJ))
                                    @Html.ValidationMessageFor(model => model.Job_DescriptionQAJ, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset class="default-fieldset">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid">                              
                                    @(Html.DevExtreme().Button().ID("ID_Swicth_To_Full_Job_Frm_PRR").Text("Switch to Full Job")
                                       .OnClick(@<text>
                                        function() { switch_To_Full_Job();}
                                    </text>))
                                </div><!--[button]-->                            
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="styleActionBtn">                      
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("ID_SaveQAJ_Frm_PRR").Text("Save").UseSubmitBehavior(true))                   
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("Id_CloseQAJ_Frm_PRR").Text("Close").OnClick(@<text> function(){ close_NEVD(); } </text>))
                        </div><!--[button]-->
                    </div>
                </div>
            </fieldset><!--[row]-->
        }
    }
</div>
<script>
    var form = "prj_quickjobForm";
    $(document).ready(function ()
    {
        setTimeout(function ()
        {
            Focus_FirstEditable_Field(form);
        }, Timeout500);
    })
</script>