@using DevExtreme.AspNet.Mvc;
@model int
@{
    Layout = null;
    string Mode = (string)ViewBag.Mode;
    string Purpose = (string)ViewBag.Purpose;
    if (Mode == "Short Answer")
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("Section[" + Model + "].Options[0].Options").ID("Section[" + Model + "].Options[0].Options").Value("Short Answer Text").ReadOnly(true).FocusStateEnabled(false).MaxLength(50))

                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Max Length:
                        </div>
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].MaxLength").ID("Section[" + Model + "].MaxLength").Placeholder("Enter Maximum Characters Allowed").Hint("Blank: No Preference").Format("#").Min(0))
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Mode == "Paragraph")
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @(Html.DevExtreme().TextArea().Name("Section[" + Model + "].Options[0].Options").ID("Section[" + Model + "].Options[0].Options").Value("Long Answer Text").ReadOnly(true).FocusStateEnabled(false).MaxLength(8000).Height(50).ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } }))

                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Max Length:
                        </div>
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].MaxLength").ID("Section[" + Model + "].MaxLength").Placeholder("Enter Maximum Characters Allowed").Hint("Blank: No Preference").Format("#").Min(0))
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Mode == "Date")
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @(Html.DevExtreme().DateBox().CustomDateBox().Min(new DateTime(1900, 1, 1)).Name("Section[" + Model + "].Options[0].Options").ID("Section[" + Model + "].Options[0].Options").ReadOnly(true).FocusStateEnabled(false).Value(DateTime.Today))

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Min:
                        </div>
                        @(Html.DevExtreme().DateBox().CustomDateBox().Min(new DateTime(1900, 1, 1)).Name("Section[" + Model + "].MinDateTime").ID("Section[" + Model + "].MinDateTime").Placeholder("Minimum Date").Hint("Blank: No Minimum Date"))
                        <div class="input-group-addon">
                            Max:
                        </div>
                        @(Html.DevExtreme().DateBox().CustomDateBox().Min(new DateTime(1900, 1, 1)).Name("Section[" + Model + "].MaxDateTime").ID("Section[" + Model + "].MaxDateTime").Placeholder("Maximum Date").Hint("Blank: No Maximum Date"))
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Mode == "Time")
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @(Html.DevExtreme().DateBox().CustomDateBox().Min(new DateTime(1900, 1, 1)).Name("Section[" + Model + "].Options[0].Options").ID("Section[" + Model + "].Options[0].Options").ReadOnly(true).FocusStateEnabled(false).Value(DateTime.Now).Type(DateBoxType.Time).DisplayFormat("hh:mm a").UseMaskBehavior(true).Placeholder("hh:mm AM/PM") )

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Min:
                        </div>
                        @(Html.DevExtreme().DateBox().CustomDateBox().Min(new DateTime(1900, 1, 1)).Name("Section[" + Model + "].MinDateTime").ID("Section[" + Model + "].MinDateTime").Placeholder("Minimum Time").Hint("Blank: No Minimum Time").Type(DateBoxType.Time).DisplayFormat("hh:mm a").Interval(5))
                        <div class="input-group-addon">
                            Max:
                        </div>
                        @(Html.DevExtreme().DateBox().CustomDateBox().Min(new DateTime(1900, 1, 1)).Name("Section[" + Model + "].MaxDateTime").ID("Section[" + Model + "].MaxDateTime").Placeholder("Maximum Time").Hint("Blank: No Maximum Time").Type(DateBoxType.Time).DisplayFormat("hh:mm a").Interval(5))
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Mode == "Formula")
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @(Html.DevExtreme().TextBox().CustomTextBox(true).Placeholder("Auto Calculated Field Based On Response of other Questions").Name("Section[" + Model + "].Options[0].Options").ID("Section[" + Model + "].Options[0].Options").ReadOnly(false).FocusStateEnabled(true).MaxLength(100).InputAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB FormulaOption_createForm" } }))

                </div>
            </div>
        </div>
    }
    else if (Mode == "Label")
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @(Html.DevExtreme().TextArea().AutoResizeEnabled(true).MinHeight(22).Name("Section[" + Model + "].Options[0].Options").ID("Section[" + Model + "].Options[0].Options").Placeholder("Enter Text To Be Shown As Label").InputAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } }))

                </div>
            </div>
        </div>
    }
    else if (Mode == "Attachment")
    {
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("Section[" + Model + "].Options[0].Options").ID("Section[" + Model + "].Options[0].Options").Value("Browse").ReadOnly(true).FocusStateEnabled(false))

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Attachment Type:
                        </div>
                        @(Html.DevExtreme().SelectBox().CustomSelectBox().DataSource(new object[] { new { text = "IMAGE", value = "image/*" }, new { text = "AUDIO", value = "audio/*" }, new { text = "VIDEO", value = "video/*" }, new { text = "PDF", value = "application/pdf" }, new { text = "ZIP", value = "application/zip" }, new { text = "TEXT FILE", value = "text/plain" }, new { text = "ANY", value = "*" } })
             .DisplayExpr("text").ValueExpr("value").Name("Section[" + Model + "].Type").ID("Section[" + Model + "].Type").Placeholder("Choose File Type").ShowClearButton(false).Value("*"))

                    </div>
                </div>
            </div>
        </div>
    }
    else if (Mode == "Number")
    {
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].Options[0].Options").ID("Section[" + Model + "].Options[0].Options").Value(1000.00).ReadOnly(true).FocusStateEnabled(false))

                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Type:
                        </div>
                        @(Html.DevExtreme().SelectBox().CustomSelectBox().Items(new string[] { "Integer", "Decimal" }).Name("Section[" + Model + "].Type").ID("Section[" + Model + "].Type").Placeholder("Choose Number Type").Hint("Blank: No Preference"))

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Min:
                        </div>
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].Min").ID("Section[" + Model + "].Min").Placeholder("Minimum Value").Value(null).Hint("Blank: No Minimum Value"))

                        <div class="input-group-addon">
                            Max:
                        </div>
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].Max").ID("Section[" + Model + "].Max").Placeholder("Maximum Value").Value(null).Hint("Blank: No Maximum Value"))

                    </div>
                </div>
            </div>
        </div>
    }
    else if (Mode == "Slider")
    {
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    @(Html.DevExtreme().Slider().Name("Section[" + Model + "].Options[0].Options").ID("Section[" + Model + "].Options[0].Options").Value(50).Min(0).Max(100).ReadOnly(true).FocusStateEnabled(false))

                </div>
            </div>
            @*<div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                Type:
                            </div>
                            @(Html.DevExtreme().SelectBox().CustomSelectBox().Items(new string[] { "Integer","Decimal"}).Name("Section[" + Model + "].Type").ID("Section[" + Model + "].Type").Placeholder("Choose Number Type").Hint("Blank: No Preference"))

                        </div>
                    </div>
                </div>*@
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Min:
                        </div>
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].Min").ID("Section[" + Model + "].Min").Placeholder("Minimum Value").Value(null).Hint("Minimum Value").Format("#0"))

                        <div class="input-group-addon">
                            Max:
                        </div>
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].Max").ID("Section[" + Model + "].Max").Placeholder("Maximum Value").Value(null).Hint("Maximum Value").Format("#0"))

                    </div>
                </div>
            </div>
        </div>
    }
    if (Mode == "GPS Location")
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("Section[" + Model + "].Options[0].Options").ID("Section[" + Model + "].Options[0].Options").Value("Location Coordinates").ReadOnly(true).FocusStateEnabled(false).MaxLength(50))

                </div>
            </div>
            @*<div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Max Length:
                        </div>
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].MaxLength").ID("Section[" + Model + "].MaxLength").Placeholder("Enter Maximum Characters Allowed").Hint("Blank: No Preference").Format("#").Min(0))
                    </div>
                </div>
            </div>*@
        </div>
    }
    else if (Mode == "CheckBox" || Mode == "DropDown" || Mode == "RadioButton")
    {

        string MultiOptAppendDivID = "MultiOptAppendDivID_" + Model + "_createForm";
        string UserDefinedOptionDivID = "UserDefinedOptionDivID_" + Model + "_createForm";
        string PreDefinedOptionDivID = "PreDefinedOptionDivID_" + Model + "_createForm";
        string OptionTypeDivID = "OptionTypeDivID_" + Model + "_createForm";
        @helper RenderOptions()
        {
            @Html.Hidden("Section[" + Model + "].Options[0].Rec_ID")
            @Html.Hidden("Section[" + Model + "].Options[0].OptionImageFileName")
            string Mode = (string)ViewBag.Mode;
            string Purpose = (string)ViewBag.Purpose;
            string InputGroupIcon = "";
            string MultiOptFormGroupID = "MultiOptFormGroupID_" + Model + "_0_createForm";
            string AnsOptAddmoreID = "AnsOptionAddMore_" + Model + "_0_createForm";
            string AnsOptAddmoreClass = "AnsOptionAddMoreClass_" + Model + "_createForm";
            string AnsOptCancelID = "AnsOptCancelID_" + Model + "_0_createForm";
            string AnsOptCancelClass = "AnsOptionCancelClass_" + Model + "_createForm";
            string MultipleOptionimgDivID = "MultipleOptionImageDiv_" + Model + "_0_createForm";
            string MultipleOptionimgID = "MultipleOptionImage_" + Model + "_0_createForm";
            string MultipleOptionImghrefID = "MultipleOptionImageHref_" + Model + "_0_createForm";
            string MultipleOptionImgDeleteID = "MultipleOptionImageDelete_" + Model + "_0_createForm";
            string DependentQuesDataGridID = "DependentQuestion_" + Model + "_0_datagrid";        
            if (Mode == "CheckBox")
            {
                InputGroupIcon = "fa fa-check-square";
            }
            else if (Mode == "DropDown")
            {
                InputGroupIcon = "fa fa-caret-down";
            }
            else if (Mode == "RadioButton")
            {
                InputGroupIcon = "fa fa-dot-circle";
            }
<div class="row" id="@MultiOptFormGroupID">
    <div class="OptionData @(Purpose=="QUIZ"?"col-sm-6":"col-sm-7")">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon OptionIconDiv">
                    <span class="@InputGroupIcon"></span>
                </div>
                @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("Section[" + Model + "].Options[0].Options").ID("Section[" + Model + "].Options[0].Options").Placeholder("Type Option").ReadOnly(false).FocusStateEnabled(true).MaxLength(8000).InputAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB MultipleOption_createForm" } }))
                <div class="input-group-addon" onclick="MultipleOptionAddImageClick_createForm(this,'@Mode','@Model','0')" title="Add Image">
                    <i class="fa fa-paperclip"></i>
                </div>
                <div class="input-group-addon @AnsOptAddmoreClass" id="@AnsOptAddmoreID" onclick="MultipleOption_AddMoreClick_createForm(this,'@Mode','@Model')" title="Add More Option">
                    <span class="fa fa-plus"></span>
                </div>
                <div class="input-group-addon @AnsOptCancelClass" id="@AnsOptCancelID" onclick="MultipleOption_CancelClick_createForm(this,'@Mode','@Model')" title="Remove Option" style="display:none;">
                    <span class="fa fa-times"></span>
                </div>
            </div>
            <div class="imgContainer" style="display:none" id="@MultipleOptionimgDivID">
                <a id="@MultipleOptionImghrefID" href="" target="_blank">
                    <img id="@MultipleOptionimgID">
                </a>
                <div class="imgdeleteButton" id="@MultipleOptionImgDeleteID">
                    @(Html.DevExtreme().Button().Icon("fa fa-trash").OnClick("MultipleOptionDeleteImageClick_createForm").ID("MultipleOptionImgDelete_" + Model + "_1_createForm").Hint("Delete Image"))
                </div>
            </div>
            @(Html.DevExtreme().FileUploader().SelectButtonText("Browse").ID("Section[" + Model + "].Options[0].OptionImageFile").Name("Section[" + Model + "].Options[0].OptionImageFile").Multiple(false).Accept("image/*").UploadMode(FileUploadMode.UseForm).ShowFileList(false).OnValueChanged("MultipleOptionFileUploader_valueChanged_createForm").Visible(false))
        </div>
    </div>
    <div class="col-sm-3">
        @(Html.DevExtreme().DropDownBox().CustomDropDown().Name("Section[" + Model + "].Options[0].DependentQuestion").ID("Section[" + Model + "].Options[0].DependentQuestion").Placeholder("Choose Question").ElementAttr(new Dictionary<string, object>() { { "class", "DependentQuestion" } }).ContentTemplate(@<text>
                    @(Html.DevExtreme().DataGrid().CustomDataGrid().ID(DependentQuesDataGridID).ElementAttr(new { @class = "DropDownDataGrid DependentQuestion_DG" })
                    .Columns(columns =>
                    {
                        columns.Add().DataField("SrNo").Width(40);
                        columns.Add().DataField("Question");
                        columns.Add().DataField("secno").Visible(false)/*.SortingMethod("function (value1, value2) {{ sortDependentQuestion_createForm(value1, value2,'" + DependentQuesDataGridID + "'); }}").SortOrder(SortOrder.Asc)*/;
                    })
                    .OnRowClick("DG_OnRowClick_createForm")
                    .Selection(s => s.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always).AllowSelectAll(false))
                    .FilterRow(s=>s.Visible(false))
                    .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys);};}")
                    .OnInitialized("function(e){  e.component.columnOption('command:select', 'width', 30);  }")) </text>)
                    .OnValueChanged("function (e){{DependentQuestion_ValueChange_createForm(e,false,'"+ DependentQuesDataGridID + "');}}").ValueExpr("secno").DisplayExpr("SrNo"))
    </div>
    <div class="col-sm-2">
        @(Html.DevExtreme().SelectBox().CustomSelectBox().Name("Section[" + Model + "].Options[0].DependentQuestionVisibility").ID("Section[" + Model + "].Options[0].DependentQuestionVisibility").DataSource(new string[] {"Hide","Show"}).Placeholder("Choose").ElementAttr(new Dictionary<string, object>() { { "class", "DependentQuestionVisibility" } }).ShowClearButton(false).ReadOnly(true))
    </div>         
    <div class="PointsData col-sm-1" style="display:@(Purpose=="QUIZ"?"block":"none")">          
        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].Options[0].Points").ID("Section[" + Model + "].Options[0].Points").Placeholder("Points").ElementAttr(new Dictionary<string, object>() { { "class", "OptionPoints" } }).Max(999.99).Min(-999.99).Format("#0.##").Value(null))        
    </div>    
</div>
        }
        <div class="row">
            <div class="col-sm-12">
                <div id="@OptionTypeDivID">
                    <div class="row">
                        <div class="col-sm-2"><label>Choose Option Type:</label></div>
                        <div class="col-sm-3">
                            @(Html.DevExtreme().RadioGroup().DataSource(new object[] { new { text = "User Defined", value = false }, new { text = "Pre Defined", value = true } }).Name("Section[" + Model + "].IsOptionsPredefined").ID("Section[" + Model + "].IsOptionsPredefined").ValueExpr("value").DisplayExpr("text").Layout(Orientation.Horizontal).Value(false).OnValueChanged("OptionType_valuechange_createForm"))
                        </div>
                    </div>
                </div>
                <br>
                <div class="PreDefinedOptions_createForm" id="@PreDefinedOptionDivID" style="display:none">
                    <div class="row">
                        <div class="col-sm-2"><label>Select Predefined Type:</label></div>
                        <div class="col-sm-3">@(Html.DevExtreme().SelectBox().CustomSelectBox().Name("Section[" + Model + "].OptionPredefinedMiscID").ID("Section[" + Model + "].OptionPredefinedMiscID").Placeholder("Select Predefined Type").ElementAttr(new Dictionary<string, object>() { { "class", "PedefinedOptionListClass_createForm" } }))</div>
                    </div>
                </div>
                <div class="UserDefinedOptions_createForm" id="@UserDefinedOptionDivID">
                    <div class="row">
                        <div class="OptionLabel @(Purpose=="QUIZ"?"col-sm-6":"col-sm-7")">
                            <label>Add An Option 'Others', If You Want The User To Specify </label>
                        </div>
                        <div class="col-sm-3">
                            <label>Choose Questions To Hide/Show </label>
                        </div>
                        <div class="col-sm-2">
                            <label>Choose Hide/Show </label>
                        </div>
                        <div class="PointsLabel col-sm-1" style="display:@(Purpose=="QUIZ"?"block":"none")">
                            <label>Enter Points</label>
                        </div>                       
                    </div>
                        @(Html.DevExtreme().Sortable().ID(MultiOptAppendDivID).DragDirection(DragDirection.Vertical).OnReorder("ReorderOptions_createForm").MoveItemOnDrop(true).Filter("> div").Content( @<text>@RenderOptions()</text>))
                    </div>
            </div>
        </div>
    }
}




