<div class="Notification_Setting_CreateForm_Options_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Options.Models.Notification_Setting_CreateForm
    @{
        string DefaultWhatsAppNo = System.Configuration.ConfigurationManager.AppSettings["DefaultWhatsAppSender"];
    }
    <style>
        .forwardBtn {
            padding-left: 0
        }

            .forwardBtn .dx-button .dx-icon-chevrondoubleright {
                margin-left: -14px;
                margin-top: -4px;
            }

            .forwardBtn .dx-button {
                margin-top: 17px
            }

        /*   #Form_Notification_Setting_CreateForm .form-field { margin-top: 10px;}*/
        #Form_Notification_Setting_CreateForm .dx-fileuploader {
            margin-top: 20px
        }

        .dx-radiogroup.dx-state-focused, .dx-checkbox.dx-state-focused {
            outline: none
        }

        #SenderWhatsapp_Notification_Setting_CreateForm:before, #AdminWhatsappNo_Notification_Setting_CreateForm:before {
            content: "+91";
            display: inline-block;
            color: #000;
            font-size: 13px;
            vertical-align: top;
            position: absolute;
            left: 3px;
            top: 1px;
            z-index: 1;
        }

        #SenderWhatsapp_Notification_Setting_CreateForm .dx-texteditor-input, #AdminWhatsappNo_Notification_Setting_CreateForm .dx-texteditor-input, #AdminWhatsappNo_Notification_Setting_CreateForm .dx-placeholder {
            padding-left: 30px
        }

        #Timer_OTP_Whatsapp_Notification_Setting_CreateForm {
            margin-top: 23px
        }

        #Form_Notification_Setting_CreateForm .dx-fileuploader {
            margin-top: 0
        }

        @@media (min-width:768px) {
            .form-height {
                position: absolute;
                height: 349px;
            }
        }

        @@media (max-width:768px) {
            .form-height, .form-height {
                height: 172px !important
            }

            .md-12-main {
                padding: 0 25px;
            }

            .forwardBtn .dx-button {
                min-width: auto;
                margin-top: 17px
            }

            #ShowOTP_Notification_Setting_CreateForm.dx-button-has-text {
                margin-top: 16px !important
            }

            #Btn_InsertVariable_Whatsapp_Notification_Setting_CreateForm {
                margin: 8px 16px !important
            }
            /*   #Form_Notification_Setting_CreateForm .form-field.col-md-12 { margin: 0 12px; }*/
            .col-sm-10.row {
                float: left;
                margin: 0;
                width: 68%;
                padding: 0;
            }
        }
    </style>
    <div id="CreateForm_Add_Notification_ParentDiv" class="container-fluid" style="padding:0 0">
        @if (Model.IsEmailVisible || Model.IsSMSVisible || Model.IsWhatsappVisible)
        {
            <form id="Form_Notification_Setting_CreateForm" class="edit_form">
                @Html.HiddenFor(x => x.FormInstanceID_AddNotification)
                @using (Html.DevExtreme().ValidationGroup("AddNotificationSetting_createForm"))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <label for="Categories_Notification_Setting_CreateForm">Categories</label>
                                @(Html.DevExtreme().RadioGroup().DataSource(new object[] { new { text = "None", value = "None" } }).Value(string.IsNullOrEmpty(Model.Categories_Notification_Setting_CreateForm) ? "None" : Model.Categories_Notification_Setting_CreateForm).Name("NotificationSetting.Categories_Notification_Setting_CreateForm").ID("Categories_Notification_Setting_CreateForm").OnValueChanged("Categories_Notification_Setting_CreateForm_ValueChange").ValueExpr("value").DisplayExpr("text").Layout(Orientation.Horizontal))
                                @* , new { text = "BK", value = "BK" }, new { text = "Delegate", value = "Delegate" }, new { text = "VIP", value = "VIP" }, new { text = "VVIP", value = "VVIP" }, new { text = "IP", value = "IP" }, new { text = "Repeat", value = "Repeat" }, new { text = "Sewadhari", value = "Sewadhari" } *@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-field">
                                <label for="AdminEmail_Notification_Setting_CreateForm">Admin Email: </label>
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("NotificationSetting.AdminEmail_Notification_Setting_CreateForm").ID("AdminEmail_Notification_Setting_CreateForm").Placeholder("Admin Email Id").Value(Model.AdminEmail_Notification_Setting_CreateForm).Mode(TextBoxMode.Email))


                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-field">
                                <label for="AdminWhatsappNo_Notification_Setting_CreateForm">Admin Whatsapp no:</label>
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("NotificationSetting.AdminWhatsappNo_Notification_Setting_CreateForm").ID("AdminWhatsappNo_Notification_Setting_CreateForm").Placeholder("Admin Whatsapp Number").Value(Model.AdminWhatsappNo_Notification_Setting_CreateForm).MaxLength(10).Mode(TextBoxMode.Tel))
                            </div>
                            @Html.Hidden("NotificationSetting.SelectedTabTitle_Notification_Setting_CreateForm")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-field">
                                @(Html.DevExtreme().TabPanel().ID("Notification_Setting_CreateForm_tabPanel").DeferRendering(false).Items

                        (items =>
                        {
                        if (Model.IsEmailVisible)
                            {
                                items.Add().Title("Email").Template(@<text>@EmailView()</text>);
                            }
                        if (Model.IsWhatsappVisible)
                            {
                                items.Add().Title("Whatsapp").Template(@<text>@WhatsappView()</text>);
                            }
                            @*if (Model.IsSMSVisible) { items.Add().Title("SMS").Template(@<text>@SMSView()</text>); }*@
                        })
                        )
                                @helper EmailView()
                                {
                                    <div class="TabContent Email">
                                        @Html.Partial("Frm_Email_Add_Notification_tab_CreateForm")
                                    </div>
                                }
                                @helper WhatsappView()
                                {
                                    <div class="TabContent WhatsApp">
                                        @Html.Partial("Frm_Whatsapp_Add_Notification_tab_CreateForm")
                                    </div>
                                }

                                @*@helper SMSView()
                                    {
                                    @Html.Partial("Frm_SMS_Add_Notification_tab_CreateForm");

                                    }*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().CustomSaveButton().OnClick("ApplySettingAddNotification_createForm_click").ID("ApplySettingAddNotification_createForm").Hint("Apply Settings").Text("Apply Settings"))
                            </div>
                        </div>
                    </div>
                }
            </form>
        }
        else
        {
            <p>Please enter valid Notification fields data.</p>
        }
    </div>
    <script>
        var intervalId_whatsAppOtp;
        $(document).ready(function ()
        {
            ShowLoader_Ready();
            $("#NotificationSettingsOpened_createForm").val(true)
            AddNotificationSettingValidations_createForm();
            if ("@Model.IsEmailVisible" == "True")
            {
                Radio_SenderEmail_Notification_Setting_CreateForm_ValueChange(null,true)
            }
            if ("@Model.IsWhatsappVisible" == "True")
            {
                Radio_SenderWhatsappNumber_Notification_Setting_CreateForm_ValueChange(null, true)
                DeliverySpeed_Whatsapp_Notification_Setting_CreateForm_Radio_ValueChange(null,true)
            }
            if ("@Model.OpenDuringFormSave" == "True") //opened during form save(user did not open the screen or did not apply settings. so opening and saving it to get the data)
            {
                $("#ApplySettingAddNotification_createForm").trigger("dxclick");
            }
            HideLoader_Ready();
            $("#Add_Notification_Create_Form_modal").dxPopup({
                onHiding: function (e)
                {
                    clearInterval(intervalId_whatsAppOtp);
                }
            });
        })
        $("#AdminWhatsappNo_Notification_Setting_CreateForm,#SenderWhatsapp_Notification_Setting_CreateForm").on('input', function (e)
        {
            var target = e.target;
            var data = target.value
            var dataFull = data.replace(/[^0-9]/gi, '');
            target.value = dataFull;
        })
        function AddNotificationSettingValidations_createForm()
        {
            $("#AdminEmail_Notification_Setting_CreateForm").dxTextBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'custom',
                        validationCallback: function (options)
                        {
                            var regEX = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                            return regEX.test(options.value)
                        },
                        reevaluate: true,
                        message: "Email Is Invalid",
                        ignoreEmptyValue: true
                    }, {
                            type: 'required',
                            trim: true,
                            message: "Email Is Required"
                        }
                    ],
                    validationGroup: "AddNotificationSetting_createForm"
                });
            $("#CC_Email_Notification_Setting_CreateForm,#BCC_Email_Notification_Setting_CreateForm,#ReplyToEmail_Email_Notification_Setting_CreateForm").dxTextBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'custom',
                        validationCallback: function (options)
                        {
                            var regEX = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                            return regEX.test(options.value)
                        },
                        reevaluate: true,
                        message: "Invalid Email ID",
                        ignoreEmptyValue: true
                    }],
                    validationGroup: "AddNotificationSetting_createForm"
                });
            $("#ReplyToEmail_Email_Notification_Setting_CreateForm").dxTextBox({})
                .dxValidator({
                    validationRules: [
                        {
                        type: 'custom',
                        validationCallback: function (options)
                        {
                            var regEX = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                            return regEX.test(options.value)
                        },
                        reevaluate: true,
                        message: "Email Is Invalid",
                        ignoreEmptyValue: true
                        },
                        {
                            type: 'custom',
                        validationCallback: function (options)
                        {
                            var EmailType = $("#Radio_SenderEmail_Notification_Setting_CreateForm").dxRadioGroup("option", "value")
                            if (EmailType == "General")
                            {
                                if (options.value == null || options.value.length == 0)
                                {
                                   // return false;
                                }
                                return true
                            }
                            else
                            {
                                return true
                            }
                        },
                            reevaluate: true,
                            message: "Email Is Required",
                            ignoreEmptyValue: false
                        }],
                    validationGroup: "AddNotificationSetting_createForm"
                });
            $("#Email_Email_Notification_Setting_CreateForm").dxTextBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'custom',
                        validationCallback: function (options)
                        {
                            var regEX = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                            return regEX.test(options.value)
                        },
                        reevaluate: true,
                        message: "Email Is Invalid",
                        ignoreEmptyValue: true
                    }, {
                            type: 'custom',
                            validationCallback: function (options) {
                                var EmailType = $("#Radio_SenderEmail_Notification_Setting_CreateForm").dxRadioGroup("option", "value")
                                if (EmailType == "Private") {
                                    if (options.value == null || options.value.length == 0) {
                                        return false;
                                    }
                                    return true
                                }
                                else {
                                    return true
                                }
                            },
                            reevaluate: true,
                            message: "Email Is Required",
                            ignoreEmptyValue: false
                        }],
                    validationGroup: "AddNotificationSetting_createForm"
                });
            $("#Password_Email_Notification_Setting_CreateForm").dxTextBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'custom',
                        validationCallback: function (options)
                        {
                            var EmailType = $("#Radio_SenderEmail_Notification_Setting_CreateForm").dxRadioGroup("option", "value")
                            if (EmailType == "Private")
                            {
                                return !(options.value == null || options.value.length==0)
                            }
                            else
                            {
                                return true
                            }
                        },
                        reevaluate: true,
                        message: "Password Is Required",
                        ignoreEmptyValue: false
                    }],
                    validationGroup: "AddNotificationSetting_createForm"
                });
            $("#SenderWhatsapp_Notification_Setting_CreateForm").dxTextBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'custom',
                        validationCallback: function (options) {
                            var NumberType = $("#Radio_SenderWhatsappNumber_Notification_Setting_CreateForm").dxRadioGroup("option", "value")
                            if (NumberType == "Private")
                            {
                                if (options.value == null || options.value.length == 0) { return false }
                                if (options.value.length != 10) { return false }
                                return true;
                            }
                            else {
                                return true
                            }
                        },
                        reevaluate: true,
                        ignoreEmptyValue: false,
                        message: "Invalid Mobile No \nMobile No. Should Be Of 10 Digits"
                    }],
                    validationGroup: "AddNotificationSetting_createForm"
                });
            $("#AdminWhatsappNo_Notification_Setting_CreateForm").dxTextBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'stringLength',
                        min: 10,
                        max: 10,
                        message: "Invalid Mobile No \nMobile No. Should Be Of 10 Digits"
                    }],
                    validationGroup: "AddNotificationSetting_createForm"
                });
        }
        function Categories_Notification_Setting_CreateForm_ValueChange(e)
        {
        }    
        function ApplySettingAddNotification_createForm_click(e)
        {
            var result = DevExpress.validationEngine.validateGroup("AddNotificationSetting_createForm")
            if (result.isValid == false)
            {
                var Element = result.brokenRules[0].validator._$element[0]
                if ($(Element).parents('.TabContent.Email').length > 0)
                {
                    $("#Notification_Setting_CreateForm_tabPanel").dxTabPanel("instance").option("selectedIndex", 0);
                }
                else if ($(Element).parents('.TabContent.WhatsApp').length > 0)
                {
                    $("#Notification_Setting_CreateForm_tabPanel").dxTabPanel("instance").option("selectedIndex",1);
                }
                setTimeout(function ()
                {
                    Element.scrollIntoView()
                    $(Element).find('input').focus();
                })
            }
            else
            {
                AddNotificationData_createForm = new FormData($("#Form_Notification_Setting_CreateForm").get(0));
                $('#Add_Notification_Create_Form_modal').dxPopup("hide")
            }
        }
    </script>
    <script>
        function Radio_SenderEmail_Notification_Setting_CreateForm_ValueChange(e, FirstCall = false)
        {
            var value;
            if (e) { value = e.value } else { value = $("#Radio_SenderEmail_Notification_Setting_CreateForm").dxRadioGroup("option","value") }
            if (value === "General") {
                $("#Div_SenderEmail_Notification_Setting_CreateForm").hide();
                $("#Radio_SenderEmail_General_Selected").show();
            }
            else if (value === "Private") {
                $("#Div_SenderEmail_Notification_Setting_CreateForm").show();
                $("#Radio_SenderEmail_General_Selected").hide();
            }
            if (FirstCall == false) {
                $("#ReplyToEmail_Email_Notification_Setting_CreateForm").dxValidator("validate")
            }
        }
        function SendSample_Email_Notification_Setting_CreateForm_Click()
    {
        SendSampleEmail_createForm('@Html.Raw(Model.EmailConfirm_Raw)', "FormConfirmationSampleEmail")
    }
        function SendSample_RejectEmail_Notification_Setting_CreateForm_Click(e)
    {
          SendSampleEmail_createForm('@Html.Raw(Model.EmailReject_Raw)', "FormRejectionSampleEmail")
    }
        function SendSample_ApproveEmail_Notification_Setting_CreateForm_Click(e)
    {
         SendSampleEmail_createForm('@Html.Raw(Model.EmailApprove_Raw)', "FormApprovalSampleEmail")
    }
        function SendSampleEmail_createForm(emailBody, emailerName)
    {
        var AdminEmail_valid=$("#AdminEmail_Notification_Setting_CreateForm").dxValidator("validate")
        var CcEmail_valid =$("#CC_Email_Notification_Setting_CreateForm").dxValidator("validate")
        var BccEmail_valid=$("#BCC_Email_Notification_Setting_CreateForm").dxValidator("validate")
        var ReplyEmail_valid=$("#ReplyToEmail_Email_Notification_Setting_CreateForm").dxValidator("validate")
        var FromEmail_valid =$("#Email_Email_Notification_Setting_CreateForm").dxValidator("validate")
        var Pwd_valid=$("#Password_Email_Notification_Setting_CreateForm").dxValidator("validate")
        if (AdminEmail_valid.isValid && CcEmail_valid.isValid && BccEmail_valid.isValid && ReplyEmail_valid.isValid && FromEmail_valid.isValid && Pwd_valid.isValid)
        {
            ShowLoader();
            $.ajax({
                type: 'POST',
                url: "/Options/CreateForm/SendSampleEmail",
                data:
                {
                    EmailBody: $('<div/>').text(emailBody).html() ,
                    From: $("#Email_Email_Notification_Setting_CreateForm").dxTextBox("option", "value"),
                    To: $("#AdminEmail_Notification_Setting_CreateForm").dxTextBox("option", "value"),
                    CC: $("#CC_Email_Notification_Setting_CreateForm").dxTextBox("option", "value"),
                    Bcc: $("#BCC_Email_Notification_Setting_CreateForm").dxTextBox("option", "value"),
                    ReplyTo: $("#ReplyToEmail_Email_Notification_Setting_CreateForm").dxTextBox("option", "value"),
                    Pwd: $("#Password_Email_Notification_Setting_CreateForm").dxTextBox("option", "value"),
                    EmailerName: emailerName,
                    EmailType: $("#Radio_SenderEmail_Notification_Setting_CreateForm").dxRadioGroup("option", "value"),
                    ChartInstanceID: $("#FormInstanceID_AddNotification").val()
                },
                cache: false,
                success: function (data)
                {
                    HideLoader();
                    DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title).done(function () { })
                }
            });
        }
    }
    </script>
    <script>
        function Radio_SenderWhatsappNumber_Notification_Setting_CreateForm_ValueChange(e, FirstCall = false) {
            var value;
            if (e) { value = e.value } else { value = $("#Radio_SenderWhatsappNumber_Notification_Setting_CreateForm").dxRadioGroup("option","value") }
            if (value === "General") {
            $("#Private_SenderWhatsappNumber_Notification_Setting_CreateForm").hide();
            $("#General_SenderWhatsappNumber_Notification_Setting_CreateForm").show();
            $("#SenderWhatsapp_Notification_Setting_CreateForm").dxTextBox("instance").option("value", null);
        }
            else if (value === "Private") {
            $("#Private_SenderWhatsappNumber_Notification_Setting_CreateForm").show();
            $("#SenderOTP_Whatsapp_Notification_Setting_CreateForm").parent().hide();
            @* $("#Div_Timer_OTP_Whatsapp_Notification_Setting_CreateForm").hide();*@
            $("#General_SenderWhatsappNumber_Notification_Setting_CreateForm").hide();
        }
    }
        function DeliverySpeed_Whatsapp_Notification_Setting_CreateForm_Radio_ValueChange(e, FirstCall = false)
        {
            var value;
            if (e) { value = e.value; } else { value = $("#DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").dxRadioGroup("option", "value") }
        $("#Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").show();
            if (value === "Urgent") {
            $("#Normal_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").hide();
            $("#Safe_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").hide();
            $("#VerySafe_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").hide();
            $("#Urgent_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").show();
        }
            else if (value === "Normal") {
            $("#Normal_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").show();
            $("#Safe_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").hide();
            $("#VerySafe_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").hide();
            $("#Urgent_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").hide();
        }
            else if (value === "Safe") {
            $("#Normal_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").hide();
            $("#Safe_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").show();
            $("#VerySafe_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").hide();
            $("#Urgent_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").hide();
        }
            else if (value === "Very Safe") {
            $("#Normal_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").hide();
            $("#Safe_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").hide();
            $("#VerySafe_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").show();
            $("#Urgent_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").hide();
        }
    }
        function btn_GetOTP_Whatsapp_Notification_Setting_CreateForm_click(e)
        {
            // $('#otp_instructions_createForm').hide();    
            clearInterval(intervalId_whatsAppOtp);            
            $('#SenderOTP_Whatsapp_Notification_Setting_CreateForm').parent().hide()  //textbox hide
            let mobile = $('#SenderWhatsapp_Notification_Setting_CreateForm').dxTextBox("instance").option("value");
            var mobile_valid = $("#SenderWhatsapp_Notification_Setting_CreateForm").dxValidator("validate")
            if (mobile_valid.isValid == false) { HideLoader(); return; }
            mobile = "+91" + mobile;
            $.ajax({
                url: "/Options/CreateForm/Frm_GetOtp_WhatsAppLinking",
                type: "GET",
                data:
                {
                    Mobile: mobile
                },
                success: function (data)
                {
                    HideLoader();
                    if (data.jsonParam.result == true)
                    {                       
                        if (data.jsonParam.message == null || data.jsonParam.message == "")
                        {
                            $('#SenderOTP_Whatsapp_Notification_Setting_CreateForm').parent().show();
                            $('#SenderOTP_Whatsapp_Notification_Setting_CreateForm').dxTextBox("instance").option("value", "Processing....")
                            intervalId_whatsAppOtp = setInterval(CheckLoginWhatsApp_createForm, 5000);
                        }                   
                        else
                        {
                            $('#SenderOTP_Whatsapp_Notification_Setting_CreateForm').dxTextBox("instance").option("value", data.jsonParam.message)
                            $('#SenderOTP_Whatsapp_Notification_Setting_CreateForm').find('input').css('letter-spacing', '3px')
                            $('#SenderOTP_Whatsapp_Notification_Setting_CreateForm').parent().show();
                            $('#otp_instructions_createForm').show();
                            intervalId_whatsAppOtp = setInterval(CheckLoginWhatsApp_createForm, 5000);
                        }
                    }
                    else if (data.jsonParam.result == false)
                    {

                    }
                }
            });
            // Stop the calls after 15 minutes
            setTimeout(function ()
            {
                clearInterval(intervalId_whatsAppOtp);
            }, 15 * 60 * 1000); //15 * 60 * 1000 = 15 minutes in milliseconds
        }
        function CheckLoginWhatsApp_createForm()
        {
            let mobile = $('#SenderWhatsapp_Notification_Setting_CreateForm').dxTextBox("instance").option("value");
            var mobile_valid = $("#SenderWhatsapp_Notification_Setting_CreateForm").dxValidator("validate")
            if (mobile_valid.isValid == false) { return; }
            mobile = "+91" + mobile;
            $.ajax({
                url: "/Options/CreateForm/CheckLoginWhatsAppLinking",
                type: "GET",
                data:
                {
                    Mobile: mobile
                },
                success: function (data)
                {
                    if (data.jsonParam.result == true)
                    {
                        if (data.jsonParam.message == "0")
                        {
                            clearInterval(intervalId_whatsAppOtp);
                            $('#SenderOTP_Whatsapp_Notification_Setting_CreateForm').dxTextBox("instance").option("value","Login Process Over")
                            $('#SenderOTP_Whatsapp_Notification_Setting_CreateForm').find('input').css('letter-spacing', '3px')
                            $('#SenderOTP_Whatsapp_Notification_Setting_CreateForm').parent().show();
                            $('#otp_instructions_createForm').hide();
                        }
                        else
                        {
                            $('#SenderOTP_Whatsapp_Notification_Setting_CreateForm').dxTextBox("instance").option("value", ((data.jsonParam.message==null||data.jsonParam.message.length == 0) ? "Processing...." : data.jsonParam.message))
                            $('#SenderOTP_Whatsapp_Notification_Setting_CreateForm').find('input').css('letter-spacing', '3px')
                            $('#SenderOTP_Whatsapp_Notification_Setting_CreateForm').parent().show();
                            $('#otp_instructions_createForm').show();
                        }
                    }
                    else
                    {

                    }
                }
            });
        }
        function SendSample_Confirm_Whatsapp_Notification_Setting_CreateForm_Click(e) { SendSampleWhatsApp_createForm('@Html.Raw(Model.WhatsappConfirm_Raw)', "FormConfirmationSampleWhatsApp") }
        function SendSample_Approve_Whatsapp_Notification_Setting_CreateForm_Click(e)
        {
            SendSampleWhatsApp_createForm('@Html.Raw(Model.WhatsappApprove_Raw)', "FormApprovalSampleWhatsApp")
        }
        function SendSample_Rejection_Whatsapp_Notification_Setting_CreateForm_Click(e)
        {
            SendSampleWhatsApp_createForm('@Html.Raw(Model.WhatsappReject_Raw)', "FormRejectionSampleWhatsApp")
        }
        function SendSampleWhatsApp_createForm(Message, _BatchName)
        {
            var AdminWhatsApp_valid = $("#AdminWhatsappNo_Notification_Setting_CreateForm").dxValidator("validate")
            var SenderWhatsApp_valid = $("#SenderWhatsapp_Notification_Setting_CreateForm").dxValidator("validate")
            var _SenderType = $("#Radio_SenderWhatsappNumber_Notification_Setting_CreateForm").dxRadioGroup("option", "value")
            var _FromNo = "@DefaultWhatsAppNo";
            if (_SenderType == "Private") {
                _FromNo = $("#SenderWhatsapp_Notification_Setting_CreateForm").dxTextBox("option", "value")
            }
            if (AdminWhatsApp_valid.isValid && SenderWhatsApp_valid.isValid) {
                ShowLoader();
                $.ajax({
                    type: 'POST',
                    url: "/Options/CreateForm/SendSampleWhatsApp",
                    data:
                    {
                        Msg: $('<div/>').text(Message).html(),
                        FromNo: _FromNo,
                        ToNo: $("#AdminWhatsappNo_Notification_Setting_CreateForm").dxTextBox("option", "value"),
                        BatchName: _BatchName,
                        ChartInstanceID: $("#FormInstanceID_AddNotification").val(),
                        Speed: $("#DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").dxRadioGroup("option", "value"),
                        SenderType: _SenderType
                    },
                    cache: false,
                    success: function (data) {
                        HideLoader();
                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title).done(function () { })
                    }
                });
            }
        }
    </script>
</div>
