@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Options.Models.Notification_Setting_CreateForm
@{
    string DefaultWhatsAppNo = System.Configuration.ConfigurationManager.AppSettings["DefaultWhatsAppSender"];
}
<style>
    #SenderOTP_Whatsapp_Notification_Setting_CreateForm {
        width: max-content
    }

        #SenderOTP_Whatsapp_Notification_Setting_CreateForm .dx-texteditor-input {
            font-size: 16px;
        }

    #Categories_Notification_Setting_CreateForm .dx-radio-value-container {
        padding-right: 5px
    }

    .whatsapp-btns {
        margin: 0 0 0 15px
    }
        .whatsapp-btns > div {
            margin: 0 0 10px 0
        }
</style>
<div class="Whatsapp_Notification_Setting_CreateForm_Options_ClearReferences">
    <div class="container-fluid" style="background-color:#F3FBFE;">
        <div class="row">
            @if (!string.IsNullOrWhiteSpace(Model.WhatsappConfirm))
            {
                <div class="col-md-12 md-12-main">
                    <div class="form-field"style="font-weight:normal">
                        <label>Confirmation Whatsapp:</label>
                        @Model.WhatsappConfirm
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.WhatsappApprove))
            {
                <div class="col-md-12 md-12-main">
                    <div class="form-field"style="font-weight:normal">
                        <label>Approval Whatsapp:</label>
                        @Model.WhatsappApprove
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.WhatsappReject))
            {
                <div class="col-md-12 md-12-main">
                    <div class="form-field"style="font-weight:normal">
                        <label>Rejection Whatsapp:</label>
                        @Model.WhatsappReject
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-field">
                    <label for="Radio_SenderWhatsappNumber_Notification_Setting_CreateForm">Sender Whatsapp Number Type</label>
                    @(Html.DevExtreme().RadioGroup().Value(string.IsNullOrWhiteSpace(Model.Radio_SenderWhatsappNumber_Notification_Setting_CreateForm)?"General": Model.Radio_SenderWhatsappNumber_Notification_Setting_CreateForm).DataSource(new object[] { new { text = "General", value ="General" }, new { text = "Private", value="Private" }}).Name("NotificationSetting.Radio_SenderWhatsappNumber_Notification_Setting_CreateForm").ID("Radio_SenderWhatsappNumber_Notification_Setting_CreateForm").ValueExpr("value").DisplayExpr("text").Layout(Orientation.Horizontal).OnValueChanged("Radio_SenderWhatsappNumber_Notification_Setting_CreateForm_ValueChange"))
                    <div id="General_SenderWhatsappNumber_Notification_Setting_CreateForm" style="display:none">
                        <label>Whatsapp shall be sent from General ConnectOne Madhuban Number: @DefaultWhatsAppNo. Delivery is subject to the existing load of messages.</label>
                    </div>
                    <div id="Private_SenderWhatsappNumber_Notification_Setting_CreateForm" class="row" style="display:none">
                        <div class="col-sm-12 col-xs-12" style="color:red">
                            Please Call BK Bhanukiran 9491143191 Before Clicking Get OTP To Login Your WhatsApp And Send Messages
                        </div>
                            <div class="col-sm-4 col-xs-7">
                                <label for="SenderWhatsapp_Notification_Setting_CreateForm">Whatsapp Number</label>
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("NotificationSetting.SenderWhatsapp_Notification_Setting_CreateForm").ID("SenderWhatsapp_Notification_Setting_CreateForm").MaxLength(10).Value(Model.SenderWhatsapp_Notification_Setting_CreateForm).Mode(TextBoxMode.Tel))
                            </div>
                            <div class="col-sm-2 col-xs-5 forwardBtn">
                                @(Html.DevExtreme().Button().ID("btn_GetOTP_Whatsapp_Notification_Setting_CreateForm_Click").Text("Get OTP").Hint("Get OTP").OnClick("btn_GetOTP_Whatsapp_Notification_Setting_CreateForm_click"))
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <label for="SenderOTP_Notification_Setting_CreateForm">OTP</label>
                                @(Html.DevExtreme().TextBox().CustomTextBox(true)@*.Name("SenderOTP_Whatsapp_Notification_Setting_CreateForm")*@.ID("SenderOTP_Whatsapp_Notification_Setting_CreateForm").ReadOnly(true))
                            </div>
                            <div id="otp_instructions_createForm" style="line-height: 25px; display: none" class="otp_instructions col-xs-12 text-muted">
                                1. अपने फ़ोन पर Whatsapp खोलें<br />
                                2. Menu <img width="24px" src="../../../../Icons/w_menu.png"> या Settings <img width="24px" src="../../../../Icons/w_settings.png"> पर टैप करें और लिंक किए गए डिवाइस को चुनें<br />
                                3. डिवाइस लिंक करें पर टैप करें<br />
                                4. या फ़ोन नंबर से लिंक करें और अपने फ़ोन पर यह कोड डालें
                            </div>
                            @*<div class="col-sm-3 col-xs-6" id="Div_Timer_OTP_Whatsapp_Notification_Setting_CreateForm">
                <label id="Timer_OTP_Whatsapp_Notification_Setting_CreateForm"></label>
            </div>*@
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-field">
                    <label for="DeliverySpeed_Whatsapp_Notification_Setting_CreateForm">Delivery Speed</label>
                    @(Html.DevExtreme().RadioGroup().Value(string.IsNullOrWhiteSpace(Model.DeliverySpeed_Whatsapp_Notification_Setting_CreateForm)?"Urgent":Model.DeliverySpeed_Whatsapp_Notification_Setting_CreateForm).DataSource(new object[] { new { text = "Urgent", value = "Urgent" }, new { text = "Normal", value= "Normal" }, new { text = "Safe", value = "Safe" }, new { text = "Very Safe", value = "Very Safe" } }).Name("NotificationSetting.DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").ID("DeliverySpeed_Whatsapp_Notification_Setting_CreateForm").ValueExpr("value").DisplayExpr("text").Layout(Orientation.Horizontal).OnValueChanged("DeliverySpeed_Whatsapp_Notification_Setting_CreateForm_Radio_ValueChange"))

                    <div id="Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm" style="display:none">
                        <div id="Urgent_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm" style="display:none">
                            <label>
                                NOTE: Messages will be sent on faster Speed and Priority but there is risk of Sender Whatsapp Number getting blocked.
                            </label>
                        </div>
                        <div id="Normal_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm" style="display:none">
                            <label>
                                NOTE: Messages will be sent on Normal speed and safety.
                            </label>
                        </div>
                        <div id="Safe_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm" style="display:none">
                            <label>
                                NOTE: Messages will be sent on Slower speed keeping security of Sender Whatsapp no on priority.
                            </label>
                        </div>
                        <div id="VerySafe_Radio_DeliverySpeed_Whatsapp_Notification_Setting_CreateForm" style="display:none">
                            <label>
                                NOTE: Messages will be sent on Very Slower speed but ensuring complete security of Sender Whatsapp No.
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="styleActionBtn">
                    @(Html.DevExtreme().Button().CustomSaveButton().OnClick("SendSample_Confirm_Whatsapp_Notification_Setting_CreateForm_Click").ID("SendSample_Confirm_Whatsapp_Notification_Setting_CreateForm").Text("Send Sample Confirmation Whatsapp").Hint("Send Sample").Icon("fa fa-paper-plane").Visible(Model.IsWhatsappConfirmVisible))
                    @(Html.DevExtreme().Button().CustomSaveButton().OnClick("SendSample_Approve_Whatsapp_Notification_Setting_CreateForm_Click").ID("SendSample_Approve_Whatsapp_Notification_Setting_CreateForm").Text("Send Sample Approval Whatsapp").Hint("Send Sample").Icon("fa fa-paper-plane").Visible(Model.IsWhatsappApproveVisible))
                    @(Html.DevExtreme().Button().CustomSaveButton().OnClick("SendSample_Rejection_Whatsapp_Notification_Setting_CreateForm_Click").ID("SendSample_Rejection_Whatsapp_Notification_Setting_CreateForm").Text("Send Sample Rejection Whatsapp").Hint("Send Sample").Icon("fa fa-paper-plane").Visible(Model.IsWhatsappRejectVisible))
                    @*&nbsp;
                        @(Html.DevExtreme().Button().OnClick("ApplySettings_Whatsapp_Notification_Setting_CreateForm_Click").ID("ApplySettings_Whatsapp_Notification_Setting_CreateForm").Hint("Apply Settings").Text("Apply Settings"))*@
                </div>
            </div>
        </div>
    </div>
</div>