@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Options.Models.FormResponses
@{        
    string UserID = ViewBag.UserID == null ? "" : (string)ViewBag.UserID;
    if (string.IsNullOrWhiteSpace(UserID))
    {
        Layout = "~/Views/Shared/_NoLoginDevExtremeLayout.cshtml";
    }
}
<style>
  /*  #form_FormResponse .dx-texteditor-input-container {
        border: 0.7px solid grey !important
    }*/

    .section_FormResponse {
        background-color: white;
        margin: 10px 0px 10px 0px;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
        border: 1px solid lightgrey;
        box-shadow: 5px 5px 5px lightgrey;
    }

    .linedivision_FormResponse {
        margin-top: 4px !important;
        margin-bottom: 4px !important;
        border: 0 !important;
        border-top: 1px solid lightgrey !important;
    }
    #form_FormResponse .imgThumbnail {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
        height: 150px;
        object-fit: fill;
    }
    #form_FormResponse .imgContainer {
        position: relative;
        width: 155px;
    }       
    .imgContainer:hover .imgThumbnail       
    {           
        opacity: 0.3;     
    }

    .custom-item {
 /*       position: relative;
        min-height: 30px;*/
    }
    .dx-dropdowneditor-input-wrapper .custom-item > img {
        padding-left: 8px;
    }
    .custom-item .dx-texteditor-input {
        height: 30px;
    }
/*    .custom-item .custom-item-option
    {
        display: inline-block;
        padding-left: 50px;
        text-indent: 0;
        line-height: 30px;
        font-size: 15px;
        width: 100%;      
        height: 30px;
    }*/
    .custom-item .custom-item-option {
        display: inline-block;
        padding-left: 50px;
        text-indent: 0;     
        font-size: 15px;

    }
/*    .custom-item > img {
        left: 1px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        max-height:120px;
        max-width:180px;
    }*/
    .custom-item > img {
       
        max-height: 120px;
        max-width: 180px;
    
    }
    #form_FormResponse .dx-fileuploader-wrapper {
        padding: 0px;
    }
    #form_FormResponse .dx-fileuploader-input-wrapper {
        padding: 0px;
        border:none;
    }
    #form_FormResponse .dx-button-has-icon .dx-button-content {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    #form_FormResponse .styleActionBtn > div > div {
        padding: 0px 0px 0px 0px !important;
    }
    #headerImage_FormResponse img {
     max-width:780px;   
    }
</style>
<div class="container-fluid" style="background-color: #ede7f6;">
    <div style="max-width:800px;margin:0 auto">
        <form id="form_FormResponse">
            @(Html.HiddenFor(x=>x.FormID))     
            <div class="section_FormResponse" id="headerImage_FormResponse" style="display:none">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="@Model.FormImagePath" width="@Model.FormImageWidth" height="@Model.FormImageHeight" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="section_FormResponse" id="header_FormResponse">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>@Model.Form_Title_FormResponse</h2>
                        <h4>@Model.Form_Description_FormResponse</h4>
                        <hr class="linedivision_FormResponse">
                        <span style="color:red">*Required</span>
                    </div>
                </div>
            </div>
            <div id="Body_FormResponse">
                @{
                    @(Html.HiddenFor(x=>x.Sections.Count))
                    for (int i = 1; i <= Model.Sections.Count; i++)
                    {
                        var SecInfo = Model.Sections[i - 1];
                        string sectionDivClass = "SecDiv_" + i + "_FormResponse";
                        string AnsDivClass = "AnsDiv_" + i + "_FormResponse";
                        string AnsControlID = "AnsControl_" + i + "_FormResponse";
                        @(Html.HiddenFor(x => x.Sections[i-1].Rec_ID))
                        @(Html.HiddenFor(x => x.Sections[i-1].Required))
                        @(Html.HiddenFor(x => x.Sections[i-1].Mode))
                        <div class="row section_FormResponse @sectionDivClass">
                            <div class="col-sm-12">
                                <label>@("Q"+i+": "+SecInfo.Question)<span style="color:red">@(SecInfo.Required == true ? "*" : "")</span></label>
                                @{
                                    if (string.IsNullOrWhiteSpace(SecInfo.QuestionImagePath) == false)
                                    {
                                        <div class="row">
                                            <div class="col-sm-12" align="center">
                                                <img src="@SecInfo.QuestionImagePath" width="@SecInfo.QuestionImageWidth" height="@SecInfo.QuestionImageHeight" loading="lazy">
                                            </div>
                                        </div>
                                        @*<div class="imgContainer">
                                            <a href="@SecInfo.QuestionImagePath" target="_blank">
                                                <img src="@SecInfo.QuestionImagePath" class="imgThumbnail">
                                            </a>
                                        </div>*@
                                    }
                                }
                                <div class="@AnsDivClass">
                                    @{
                                        if (SecInfo.Mode == "Short Answer")
                                        {
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID(AnsControlID).Name(AnsControlID).Placeholder("Your Answer"))
                                        }
                                        else if (SecInfo.Mode == "Paragraph")
                                        {
                                            @(Html.DevExtreme().TextArea().ID(AnsControlID).Name(AnsControlID).Placeholder("Your Answer").ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } }).Height(100))
                                        }
                                        else if (SecInfo.Mode == "Date")
                                        {
                                            @(Html.DevExtreme().DateBox().CustomDateBox().ID(AnsControlID).Name(AnsControlID))
                                        }
                                        else if (SecInfo.Mode == "Number")
                                        {
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID(AnsControlID).Name(AnsControlID).Placeholder("Your Answer").Min(SecInfo.Min).Max(SecInfo.Max).Format(SecInfo.Type == "Integer" ? "#" : SecInfo.Type == "Decimal" ? "#.##" : "").Value(null))
                                        }
                                        else if (SecInfo.Mode == "DropDown")
                                        {
                                            @(Html.DevExtreme().SelectBox().CustomSelectBox().ID(AnsControlID).Name(AnsControlID).ValueExpr("Rec_ID").DisplayExpr("Options").DataSource(d => d.Mvc().Controller("CreateForm").LoadAction("LookUp_GetQuestion_Options").Key("Rec_ID").LoadMode(DataSourceLoadMode.Raw).LoadParams(new { QuestionID=SecInfo.Rec_ID})).Placeholder("Choose Your Answer")
                                            .FieldTemplate(@<text>
                                            <% if(typeof optionImagePath !== 'undefined' && optionImagePath !== null && optionImagePath.length>0)
                                            {
                                            %>
                                                <div class="custom-item">
                                                    <img src="<%- optionImagePath %>" loading="lazy" />
                                                    @(Html.DevExtreme().TextBox().Value(new JS("typeof Options !== 'undefined' && Options")).ElementAttr("class", "custom-item-option").ReadOnly(true))
                                                </div>
                                            <%
                                            } else {
                                            %>
                                            @(Html.DevExtreme().TextBox().Value(new JS("typeof Options !== 'undefined' && Options")).ElementAttr("class", "custom-item-option").ReadOnly(true))
                                            <%
                                            }
                                            %>
                                            </text>)
                                            .ItemTemplate(@<text>
                                            <% if(optionImagePath !== null && optionImagePath.length>0)
                                            {
                                            %>
                                            <div class="custom-item">
                                                <img src="<%- optionImagePath %>" loading="lazy"/>
                                                <div class="custom-item-option"><%- Options %></div>
                                            </div>
                                            <%
                                            } else {
                                            %>
                                            <div class="custom-item-option"><%- Options %></div>
                                            <%
                                            }
                                            %>
                                            </text>))
                                        }
                                        else if (SecInfo.Mode == "RadioButton")
                                        {
                                            @(Html.DevExtreme().RadioGroup().ID(AnsControlID).Name(AnsControlID).ValueExpr("Rec_ID").DisplayExpr("Options").DataSource(d => d.Mvc().Controller("CreateForm").LoadAction("LookUp_GetQuestion_Options").Key("Rec_ID").LoadMode(DataSourceLoadMode.Raw).LoadParams(new { QuestionID=SecInfo.Rec_ID}))
                                            .ItemTemplate(@<text>
                                            <% if(optionImagePath !== null && optionImagePath.length>0)
                                            {
                                            %>
                                            <div class="custom-item">
                                                <img src="<%- optionImagePath %>" loading="lazy"/>
                                                <div class="custom-item-option"><%- Options %></div>
                                            </div>
                                            <%
                                            } else {
                                            %>
                                            <div class="custom-item-option"><%- Options %></div>
                                            <%
                                            }
                                            %>
                                            </text>))
                                        }
                                        else if (SecInfo.Mode == "CheckBox")
                                        {
                                            @Html.Hidden(AnsControlID)
                                            @(Html.DevExtreme().List().ID("AnsListControl_" + i + "_FormResponse").DisplayExpr("Options").DataSource(d => d.Mvc().Controller("CreateForm").LoadAction("LookUp_GetQuestion_Options").Key("Rec_ID").LoadMode(DataSourceLoadMode.Raw).LoadParams(new { QuestionID=SecInfo.Rec_ID})).SelectionMode(ListSelectionMode.All).ShowSelectionControls(true).OnSelectionChanged("CheckBoxSelectionChange_FormResponse")
                                            .ItemTemplate(@<text>
                                            <% if(optionImagePath !== null && optionImagePath.length>0)
                                            {
                                            %>
                                            <div class="custom-item">
                                                <img src="<%- optionImagePath %>" loading="lazy"/>
                                                <div class="custom-item-option"><%- Options %></div>
                                            </div>
                                            <%
                                            } else {
                                            %>
                                            <div class="custom-item-option"><%- Options %></div>
                                            <%
                                            }
                                            %>
                                            </text>))
                                        }
                                        else if (SecInfo.Mode == "Formula")
                                        {
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID(AnsControlID).Name(AnsControlID).Placeholder("Your Answer").ReadOnly(true).FocusStateEnabled(false))
                                        }
                                        else if (SecInfo.Mode == "Attachment")
                                        {
                                            string ResponseImghrefID = "ResponseImageHref_" + i + "_FormResponse";
                                            string ResponseimgID = "ResponseImage_" + i + "_FormResponse";
                                            string ResponseImgDeleteID = "ResponseImageDelete_" + i + "_FormResponse";
                                            <div class="row">
                                                <div class="col-sm-10">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID(AnsControlID+"_FileName").Name(AnsControlID+"_FileName").Placeholder("Your Answer").ReadOnly(true).FocusStateEnabled(false))
                                                </div>
                                                <div class="col-sm-2">
                                                    @(Html.DevExtreme().FileUploader().SelectButtonText("Browse").ID(AnsControlID).Name(AnsControlID).Multiple(false).Accept("image/*").UploadMode(FileUploadMode.UseForm).ShowFileList(false).OnValueChanged("FileUploader_valueChanged_FormResponse").Visible(true))
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="imgContainer">
                                                        <a id="@ResponseImghrefID" href="" target="_blank">
                                                            <img id="@ResponseimgID" src="" loading="lazy">
                                                        </a>
                                                        <div class="imgdeleteButton" id="@ResponseImgDeleteID" style="display:none">
                                                            @(Html.DevExtreme().Button().Icon("fa fa-trash").OnClick("ResponseDeleteImageClick_FormResponse").ID("ImgDelete_" + i + "_FormResponse").Hint("Delete Image"))
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div id="Footer_FormResponse" class="section_FormResponse">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().ID("Submit_FormResponse").Icon("fa fa-save").OnClick("SubmitClick_FormResponse").Hint("Submit Response")@*.Text("Submit")*@)
                            @(Html.DevExtreme().Button().ID("ClearForm_FormResponse").Icon("fa fa-eraser").OnClick("ClearClick_FormResponse").Hint("Clear Response")@*.Text("Clear Form")*@)
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

</script>
<script>
    $(document).ready(function ()
    {
        TransformTextForDB("form_FormResponse");
        if ("@Model.FormImagePath".length > 0)
        {
            $("#headerImage_FormResponse").show();
        }
    })
    function FileUploader_valueChanged_FormResponse(e)
    {
        ShowLoader();
        var UploadControlID = e.element[0].id;
        var QNo = parseInt(UploadControlID.split("_")[1]);
        var files = e.value;
        $("#AnsControl_" + QNo+ "_FormResponse_FileName").dxTextBox("instance").reset();
        if (files.length > 0)
        {
            if ((files[0].type).includes("image"))
            {
                var ResponseimgID = "ResponseImage_" + QNo + "_FormResponse";
                var ResponseImghrefID = "ResponseImageHref_" + QNo + "_FormResponse";
                var ResponseImgDeleteID = "ResponseImageDelete_" + QNo + "_FormResponse";
                const blob = new Blob([files[0]], { type: files[0].type });
                var url = URL.createObjectURL(blob);
                document.getElementById(ResponseimgID).src = url;
                document.getElementById(ResponseImghrefID).href = url;
                $("#" + ResponseimgID).addClass("imgThumbnail");
                $("#" + ResponseImgDeleteID).show();
                $("#AnsControl_" + QNo + "_FormResponse_FileName").dxTextBox("instance").option("value", files[0].name);
            }
            else
            {
                DevExpress.ui.dialog.alert('Only Image Files Are Allowed', "Information...").done(function () { $("#AnsControl_" + Qno + "_FormResponse").find('input').focus() });
            }
        }
        HideLoader();
    }
    function ResponseDeleteImageClick_FormResponse(e)
    {
        var ButtonID = e.element[0].id;
        var Qno = parseInt(ButtonID.split('_')[1]);
        var ResponseimgID = "ResponseImage_" + Qno + "_FormResponse";
        var ResponseImghrefID = "ResponseImageHref_" + Qno + "_FormResponse";
        var ResponseImgDeleteID = "ResponseImageDelete_" + Qno + "_FormResponse";
        var FileUploadControlID = "AnsControl_" + Qno + "_FormResponse";
        var url = document.getElementById(ResponseimgID).src;
        document.getElementById(ResponseimgID).src = "";
        document.getElementById(ResponseImghrefID).href = "";
        $("#" + ResponseimgID).removeClass("imgThumbnail");
        $("#" + ResponseImgDeleteID).hide();
        $("#" + FileUploadControlID).dxFileUploader("instance").reset();
        URL.revokeObjectURL(url)
    }
    function ClearClick_FormResponse(e)
    {
        var element = $("#form_FormResponse").find('input:not(".dx-button-submit-input"),div.dx-checkbox,div.dx-radiogroup,div.dx-textarea');
        element.each(function ()
        {
            var widget = $(this).closest('.dx-widget');
            if (widget.length > 0)
            {
                var data = widget.data();
                var dxComponentName = data.dxComponents[0];
                if (dxComponentName.indexOf("dxPrivateComponent") < 0) {
                    widget[dxComponentName]("instance").reset();
                }
                widget = null;
                data = null;
                dxComponentName = null;
            }
        });
    }
    function CheckBoxSelectionChange_FormResponse(e)
    {
        var ListboxID = e.element[0].id;
        var listBox = $("#" + ListboxID).dxList("instance");
        var selecteditemkey = listBox.option("selectedItemKeys");
        var qno = parseInt(ListboxID.split("_")[1]);
        if (selecteditemkey != null && selecteditemkey.length > 0)
        {
            $("#AnsControl_" + qno + "_FormResponse").val(selecteditemkey.join("|"));
        }
        else
        {
            $("#AnsControl_" + qno + "_FormResponse").val("");
        }
    }
    function SubmitClick_FormResponse(e)
    {       
        var Q_count = parseInt($("#Sections_Count").val());
        for (var i = 1; i <= Q_count; i++)
        {
            var mode = $("#Sections_" + (i - 1) + "__Mode").val();
            var required = $("#Sections_" + (i - 1) + "__Required").val();
            if (required == "True")
            {
                var AnsControlID = "AnsControl_" + i + "_FormResponse";
                var ControlType = "";
                if (mode == "Attachment")
                {
                    if (IsNullOrWhitespace(AnsControlID+"_FileName"))
                    {
                        DevExpress.ui.dialog.alert('Question ' + i + ' Is Required', "Information...").done(function ()
                        {
                            $("#" + AnsControlID + "_FileName").find('input').focus()
                        });
                        return;
                    }
                }
                else if (mode == "CheckBox")
                {
                    if (IsNullOrWhitespace(null, null, $("#" + AnsControlID).val()))
                    {
                        DevExpress.ui.dialog.alert('Question ' + i + ' Is Required', "Information...").done(function ()
                        {
                            $("#" + "AnsListControl_" + i + "_FormResponse" + "_FileName").dxList("focus");
                        });
                        return;
                    }
                }
                else
                {
                    if (mode == "Short Answer") { ControlType = "dxTextBox";   }
                    else if (mode == "Paragraph")
                    {
                        ControlType = "dxTextArea";
                    }
                    else if (mode == "Date")
                    {
                        ControlType = "dxDateBox";                    
                    }
                    else if (mode == "Number")
                    {
                        ControlType = "dxNumberBox";
                    }
                    else if (mode == "DropDown")
                    {
                        ControlType = "dxSelectBox";
                    }
                    else if (mode == "RadioButton")
                    {                                      
                        ControlType = "dxRadioGroup";
                    }                
                    else if (mode == "Formula")
                    {
                        ControlType = "dxTextBox";                       
                    }
                    if (IsNullOrWhitespace(AnsControlID, ControlType))
                    {
                        DevExpress.ui.dialog.alert('Question ' + i + ' Is Required', "Information...").done(function ()
                        {
                            $("#" + AnsControlID)[ControlType]("instance").focus();
                        });
                        return;
                    }
                }
            }
        }
        ShowLoader();
        var formdata = new FormData($('#form_FormResponse').get(0));
        var getAllselectBox = $("#form_FormResponse .dx-widget.dx-selectbox")
        for (var i = 0; i < getAllselectBox.length; i++)
        {
            var ID = getAllselectBox[i].id;
            formdata.set(ID,$("#"+ID).dxSelectBox("instance").option("value"))
        }
        getAllselectBox = null;
        $.ajax({
            type: 'POST',
            url: "/Options/createForm/Save_FormResponses",
            cache: false,
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data)
            {
                HideLoader();
                DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title).done(function ()
                {
                    if (data.jsonParam.result == false)
                    {
                        if (data.jsonParam.focusid)
                        {
                            var id = "#" + data.jsonParam.focusid;
                            setTimeout(function ()
                            {
                                $(id).find('input').focus();
                            }, 100);
                        }
                    }
                });
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                HideLoader();
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
</script>

