@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Options.Models.Notification_Setting_CreateForm

<div class="Email_Notification_Setting_CreateForm_Options_ClearReferences">
    <div style="background-color:#F3FBFE;">
        <div class="row">
            @if (!string.IsNullOrWhiteSpace(Model.EmailConfirm))
            {
                <div class="col-md-12 md-12-main">
                    <div class="form-field"style="font-weight:normal">
                        <label>Confirmation Email:</label>
                        @Model.EmailConfirm
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.EmailApprove))
            {
                <div class="col-md-12 md-12-main">
                    <div class="form-field"style="font-weight:normal">
                        <label>Approval Email:</label>
                        @Model.EmailApprove
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.EmailReject))
            {
                <div class="col-md-12 md-12-main">
                    <div class="form-field" style="font-weight:normal">
                        <label>Rejection Email:</label>
                        @Model.EmailReject
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-field">
                    <label for="CC_Email_Notification_Setting_CreateForm">CC</label>
                    @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("NotificationSetting.CC_Email_Notification_Setting_CreateForm").ID("CC_Email_Notification_Setting_CreateForm").Placeholder("CC Email Ids").Value(Model.CC_Email_Notification_Setting_CreateForm).MaxLength(80).Mode(TextBoxMode.Email))
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-field">
                    <label for="BCC_Email_Notification_Setting_CreateForm">BCC</label>
                    @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("NotificationSetting.BCC_Email_Notification_Setting_CreateForm").ID("BCC_Email_Notification_Setting_CreateForm").Placeholder("BCC Email Ids").Value(Model.BCC_Email_Notification_Setting_CreateForm).MaxLength(80).Mode(TextBoxMode.Email))
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-field">
                    <label for="ReplyToEmail_Email_Notification_Setting_CreateForm">Reply to Email</label>
                    @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("NotificationSetting.ReplyToEmail_Email_Notification_Setting_CreateForm").ID("ReplyToEmail_Email_Notification_Setting_CreateForm").Placeholder("Reply to Email").Value(Model.ReplyToEmail_Email_Notification_Setting_CreateForm).MaxLength(80).Mode(TextBoxMode.Email))
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-field">
                    <label for="Radio_SenderEmail_Notification_Setting_CreateForm">Sender Email Type</label>
                    @(Html.DevExtreme().RadioGroup().Value(string.IsNullOrWhiteSpace(Model.Radio_SenderEmail_Notification_Setting_CreateForm)?"General": Model.Radio_SenderEmail_Notification_Setting_CreateForm).DataSource(new object[] { new { text = "General", value ="General" }, new { text = "Private", value="Private" }})
                        .Name("NotificationSetting.Radio_SenderEmail_Notification_Setting_CreateForm").ID("Radio_SenderEmail_Notification_Setting_CreateForm").ValueExpr("value").DisplayExpr("text").Layout(Orientation.Horizontal)
                        .OnValueChanged("Radio_SenderEmail_Notification_Setting_CreateForm_ValueChange"))
                    <label id="Radio_SenderEmail_General_Selected" style="display:none;">Email shall be sent from General ConnectOne Madhuban Email: @System.Web.Configuration.WebConfigurationManager.AppSettings["SenderId"] </label>
                </div>
            </div>
        </div>
        <div id="Div_SenderEmail_Notification_Setting_CreateForm" class="row">
            <div class="col-md-6">
                <div class="form-field">
                    <label for="Email_Email_Notification_Setting_CreateForm">From Email</label>
                    @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("NotificationSetting.Email_Email_Notification_Setting_CreateForm").ID("Email_Email_Notification_Setting_CreateForm").Placeholder("Email Id").Value(Model.Email_Email_Notification_Setting_CreateForm).MaxLength(80).Mode(TextBoxMode.Email))
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-field">
                    <label for="Password_Email_Notification_Setting_CreateForm">Password</label>
                    @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("NotificationSetting.Password_Email_Notification_Setting_CreateForm").ID("Password_Email_Notification_Setting_CreateForm").Placeholder("Password").MaxLength(80).Value(Model.Password_Email_Notification_Setting_CreateForm).Mode(TextBoxMode.Password))
                </div>
            </div>   
            <div class="col-md-12">
                <div class="form-field">
                    1. प्राइवेट ईमेल आईडी से ईमेल भेजने के लिए आपको अपने गूगल अकाउंट में Allow less secure apps ऑन करना होगा<br>
                    2. <a href="https://myaccount.google.com/lesssecureapps" target="_blank">https://myaccount.google.com/lesssecureapps</a> पर जाएं<br>
                    3. अपने प्राइवेट ईमेल से लॉग इन करें<br>
                    4. इसके बाद Allow less secure apps पर स्विच ऑन करें<br>
                    5. अन्यथा हम प्राइवेट ईमेल से ईमेल नहीं भेज पाएंगे
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="styleActionBtn">
                    @(Html.DevExtreme().Button().CustomSaveButton().OnClick("SendSample_Email_Notification_Setting_CreateForm_Click").ID("SendSample_Email_Notification_Setting_CreateForm").Text("Send Sample Confirmation Email").Hint("Send Sample").Icon("fa fa-paper-plane").Visible(Model.IsEmailConfirmVisible))
                    @(Html.DevExtreme().Button().CustomSaveButton().OnClick("SendSample_ApproveEmail_Notification_Setting_CreateForm_Click").ID("SendSample_ApproveEmail_Notification_Setting_CreateForm").Text("Send Sample Approval Email").Hint("Send Sample").Icon("fa fa-paper-plane").Visible(Model.IsEmailApproveVisible))
                    @(Html.DevExtreme().Button().CustomSaveButton().OnClick("SendSample_RejectEmail_Notification_Setting_CreateForm_Click").ID("SendSample_RejectEmail_Notification_Setting_CreateForm").Text("Send Sample Rejection Email").Hint("Send Sample").Icon("fa fa-paper-plane").Visible(Model.IsEmailRejectVisible))
                </div>
            </div>
        </div>          
    </div>    
    </div>