@using DevExtreme.AspNet.Mvc;
@model int
@{
    Layout = null;
    string Mode = (string)ViewBag.Mode;
    int optCount = (int)ViewBag.optCount;
    string Purpose= (string)ViewBag.Purpose;
}


@{
    string InputGroupIcon = "";
    string AnsOptAddmoreID = "AnsOptionAddMore_" + Model + "_" + optCount + "_createForm";
    string AnsOptAddmoreClass = "AnsOptionAddMoreClass_" + Model + "_createForm";
    string AnsOptCancelID = "AnsOptCancelID_" + Model + "_" + optCount + "_createForm";
    string AnsOptCancelClass = "AnsOptionCancelClass_" + Model + "_createForm";
    string MultiOptFormGroupID = "MultiOptFormGroupID_" + Model + "_" + optCount + "_createForm";
    string MultipleOptionimgDivID = "MultipleOptionImageDiv_" + Model + "_" + optCount + "_createForm";
    string MultipleOptionimgID = "MultipleOptionImage_" + Model + "_" + optCount + "_createForm";
    string MultipleOptionImghrefID = "MultipleOptionImageHref_" + Model + "_" + optCount + "_createForm";
    string MultipleOptionImgDeleteID = "MultipleOptionImageDelete_" + Model + "_" + optCount + "_createForm";
    string DependentQuesDataGridID = "DependentQuestion_" + Model + "_" + optCount +"_datagrid";
    if (Mode == "CheckBox")
    {
        InputGroupIcon = "fa fa-check-square";
    }
    else if (Mode == "DropDown")
    {
        InputGroupIcon = "fa fa-caret-down";
    }
    else if (Mode == "RadioButton")
    {
        InputGroupIcon = "fa fa-dot-circle";
    }
    @Html.Hidden("Section[" + Model + "].Options[" + optCount + "].Rec_ID")
    @Html.Hidden("Section[" + Model + "].Options[" + optCount + "].OptionImageFileName")
<div class="row" id="@MultiOptFormGroupID">
    <div class="OptionData @(Purpose=="QUIZ"?"col-sm-6":"col-sm-7")">
        <div class="form-group options_createForm">
            <div class="input-group">
                <div class="input-group-addon OptionIconDiv">
                    <span class="@InputGroupIcon"></span>
                </div>
                @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("Section[" + Model + "].Options["+ optCount + "].Options").ID("Section[" + Model + "].Options[" + optCount + "].Options").Placeholder("Type Option").ReadOnly(false).FocusStateEnabled(true).MaxLength(8000).InputAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB MultipleOption_createForm" } }))
                <div class="input-group-addon" onclick="MultipleOptionAddImageClick_createForm(this,'@Mode','@Model','@optCount')" title="Add Image">
                    <i class="fa fa-paperclip"></i>
                </div>
                <div class="input-group-addon @AnsOptAddmoreClass" id="@AnsOptAddmoreID" onclick="MultipleOption_AddMoreClick_createForm(this,'@Mode','@Model')" title="Add More Option">
                    <span class="fa fa-plus"></span>
                </div>
                <div class="input-group-addon @AnsOptCancelClass" id="@AnsOptCancelID" onclick="MultipleOption_CancelClick_createForm(this,'@Mode','@Model')" title="Remove Option">
                    <span class="fa fa-times"></span>
                </div>
            </div>
            <div class="imgContainer" style="display:none" id="@MultipleOptionimgDivID">
                <a id="@MultipleOptionImghrefID" href="" target="_blank">
                    <img id="@MultipleOptionimgID">
                </a>
                <div class="imgdeleteButton" id="@MultipleOptionImgDeleteID">
                    @(Html.DevExtreme().Button().Icon("fa fa-trash").OnClick("MultipleOptionDeleteImageClick_createForm").ID("MultipleOptionImgDelete_" + Model + "_"+ optCount + "_createForm").Hint("Delete Image"))
                </div>
            </div>
            @(Html.DevExtreme().FileUploader().SelectButtonText("Browse").ID("Section[" + Model + "].Options["+ optCount + "].OptionImageFile").Name("Section[" + Model + "].Options[" + optCount + "].OptionImageFile").Multiple(false).Accept("image/*").UploadMode(FileUploadMode.UseForm).ShowFileList(false).OnValueChanged("MultipleOptionFileUploader_valueChanged_createForm").Visible(false))
        </div>
    </div>
    <div class="col-sm-3">
        @(Html.DevExtreme().DropDownBox().CustomDropDown().Name("Section[" + Model + "].Options[" + optCount + "].DependentQuestion").ID("Section[" + Model + "].Options[" + optCount + "].DependentQuestion").Placeholder("Choose Question").ElementAttr(new Dictionary<string, object>() { { "class", "DependentQuestion" } }).ContentTemplate(@<text>
                    @(Html.DevExtreme().DataGrid().CustomDataGrid().ID(DependentQuesDataGridID).ElementAttr(new { @class = "DropDownDataGrid DependentQuestion_DG" })
                    .Columns(columns =>
                    {
                        columns.Add().DataField("SrNo").Width(40);
                        columns.Add().DataField("Question");
                        columns.Add().DataField("secno").Visible(false)/*.SortingMethod("function (value1, value2) {{ sortDependentQuestion_createForm(value1, value2,'" + DependentQuesDataGridID + "'); }}").SortOrder(SortOrder.Asc)*/;
                    })
                    .OnRowClick("DG_OnRowClick_createForm")
                    .Selection(s => s.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always).AllowSelectAll(false))
                    .FilterRow(s=>s.Visible(false))
                    .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys);};}")
                    .OnInitialized("function(e){  e.component.columnOption('command:select', 'width', 30);  }")) </text>)
                    .OnValueChanged("function (e){{DependentQuestion_ValueChange_createForm(e,false,'"+ DependentQuesDataGridID + "');}}").ValueExpr("secno").DisplayExpr("SrNo"))
    </div>
    <div class="col-sm-2">
        @(Html.DevExtreme().SelectBox().CustomSelectBox().Name("Section[" + Model + "].Options[" + optCount + "].DependentQuestionVisibility").ID("Section[" + Model + "].Options[" + optCount + "].DependentQuestionVisibility").DataSource(new string[] {"Hide","Show"}).Placeholder("Choose").ElementAttr(new Dictionary<string, object>() { { "class", "DependentQuestionVisibility" } }).ShowClearButton(false).ReadOnly(true))
    </div>
    <div class="PointsData col-sm-1" style="display:@(Purpose=="QUIZ"?"block":"none")">
        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].Options[" + optCount + "].Points").ID("Section[" + Model + "].Options[" + optCount + "].Points").Placeholder("Points").ElementAttr(new Dictionary<string, object>() { { "class", "OptionPoints" }}).Max(999.99).Min(-999.99).Format("#0.##").Value(null))
    </div>
</div>

            }




