@using DevExtreme.AspNet.Mvc;
@model int
@{ Layout = null;
    var AnswerDivID = "Answers_" + Model + "_createForm";
    var SectionDivID = "Section_" + Model + "_createForm";
    var QuestionimgID = "QuestionImage_" + Model + "_createForm";
    var QuestionImghrefID = "QuestionImageHref_" + Model + "_createForm";
    var QuestionImgDeleteID = "QuestionImageDelete_" + Model + "_createForm";
    var AccDivId = "AccDivId_" + Model + "_createForm";
    var QuestionimgSettingDivID = "QuestionImageSetting_" + Model + "_createForm";
    var QuestionimgDivID = "QuestionImageDiv_" + Model + "_createForm";
    var questionImageFileName = "Section[" + Model + "].QuestionImageFileName";
    var questionRecID = "Section[" + Model + "].Rec_ID";
    string mode = ((string)ViewBag.Mode).Length > 0 ? ((string)ViewBag.Mode) : null;
    string RowNo = (string)ViewBag.RowNo;
    string ColSpan = (string)ViewBag.ColSpan;
}
@Html.Hidden(questionImageFileName)
@Html.Hidden(questionRecID)
<div class="Questions_createForm" id="@SectionDivID">
    <div class="QuestionAccordion_createForm collapsable active_createForm" id="@AccDivId" onclick="QuestionAccordionClick_createForm(this)"><span></span><i class="fa fa-arrow-up"></i></div>
    <div class="QuestionsAccodionPanel_createForm">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <div class="input-group">
                        @(Html.DevExtreme().TextArea().AutoResizeEnabled(true).MinHeight(22).OnValueChanged("QuestionValueChange_createForm").Name("Section[" + Model + "].Question").ID("Section[" + Model + "].Question").Placeholder("Question").InputAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB QuestionsClass_createForm" } }).MaxLength(8000))

                        <div class="input-group-addon" onclick="QuestionAddImageClick_createForm(this,'@Model')" title="Add Image">
                            <i class="fa fa-paperclip"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                @(Html.DevExtreme().SelectBox().CustomSelectBox().Value(mode).ShowClearButton(false).OnValueChanged("ModeValueChange_createForm").Items(new string[] { "Short Answer","Paragraph","Number","Slider","Date","Time","CheckBox", "DropDown", "RadioButton",@*"Formula"*@"Attachment","Label","GPS Location"}).Name("Section[" + Model + "].Mode").ID("Section[" + Model + "].Mode").Placeholder("Answer Mode").InputAttr(new Dictionary<string, object>() { { "class", "AnswerModeClass_createForm" } }))

            </div>
        </div>
        <div class="row" id="@QuestionimgDivID" style="display:none">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="@QuestionimgSettingDivID" align="center">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Image Width (px):
                        </div>
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].QuestionImageWidth").ID("Section[" + Model + "].QuestionImageWidth").Placeholder("Set Image Width").Value(null).Format("#").Min(1).Max(740).OnValueChanged("QuestionImageWidth_ValueChange"))

                        <div class="input-group-addon">
                            Image Height (px):
                        </div>
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].QuestionImageHeight").ID("Section[" + Model + "].QuestionImageHeight").Placeholder("Set Image Height").Value(null).Format("#").Min(1).Max(Int32.MaxValue).OnValueChanged("QuestionImageHeight_ValueChange"))


                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="row">
                <div class="col-sm-12" align="center">
                    <div class="imgContainer">
                        <a id="@QuestionImghrefID" href="" target="_blank">
                            <img id="@QuestionimgID">
                        </a>
                        <div class="imgdeleteButton" id="@QuestionImgDeleteID">
                            @(Html.DevExtreme().Button().Icon("fa fa-trash").OnClick("QuestionDeleteImageClick_createForm").ID("ImgDelete_" + Model + "_createForm").Hint("Delete Image"))
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col-sm-9">
                @(Html.DevExtreme().TextArea().AutoResizeEnabled(true).MinHeight(22).Name("Section[" + Model + "].Description").ID("Section[" + Model + "].Description").Placeholder("Enter Question Description").InputAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } }).MaxLength(8000))
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Tag:
                        </div>
                        @(Html.DevExtreme().SelectBox().CustomSelectBox().Name("Section[" + Model + "].Tag").ID("Section[" + Model + "].Tag").Placeholder("Select Question Tag").ElementAttr(new Dictionary<string, object>() { { "class", "QuestionTagClass_createForm" } }).OnValueChanged("QuestionTagValueChange_createForm").ValueExpr("ID").DisplayExpr("NAME"))
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:1rem">
            <div class="col-sm-12">
                <div id="@AnswerDivID" class="Answers_createForm">

                </div>
            </div>
        </div>
        @*<div class="col-sm-2">
            <div class="imgContainer">
                <a id="@QuestionImghrefID" href="" target="_blank">
                    <img id="@QuestionimgID">
                </a>
                <div class="imgdeleteButton" id="@QuestionImgDeleteID" style="display:none">
                    @(Html.DevExtreme().Button().Icon("fa fa-trash").OnClick("QuestionDeleteImageClick_createForm").ID("ImgDelete_" + Model + "_createForm").Hint("Delete Image"))
                </div>
            </div>
        </div>*@
        <hr class="linedivision_createForm">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Group:
                        </div>
                        @(Html.DevExtreme().SelectBox().CustomSelectBox().Name("Section[" + Model + "].GroupHeading").ID("Section[" + Model + "].GroupHeading").Placeholder("Select Group Name").Hint("Blank: No Group").AcceptCustomValue(true).OnCustomItemCreating("GroupCustomItemCreating_createForm").ElementAttr(new Dictionary<string, object>() { { "class", "GroupHeadingClass_createForm" } }).OnValueChanged("GroupHeadingValueChange_createForm"))
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Row No:
                        </div>
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].RowNo").ID("Section[" + Model + "].RowNo").Placeholder("Enter Row No").Hint("Questions With Same Row No Will Be Shown In Same Row").Format("#").Min(1).OnValueChanged("RowNoValueChange_createForm").ElementAttr(new Dictionary<string, object>() { { "class", "RowNoClass_createForm" } }).Value(string.IsNullOrWhiteSpace(RowNo)?(int?)null:Convert.ToInt32(RowNo)))
                        <div class="input-group-addon">
                            Column Span:
                        </div>
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Section[" + Model + "].ColumnSpan").ID("Section[" + Model + "].ColumnSpan").Placeholder("Enter Column Span").Min(1).Max(12).Format("#").ElementAttr(new Dictionary<string, object>() { { "class", "ColumnSpanClass_createForm" } }).OnValueChanged("ColumnSpanValueChange_createForm").Value(string.IsNullOrWhiteSpace(ColSpan) ? (int?)null : Convert.ToInt32(ColSpan)))
                    </div>
                </div>
            </div>
        </div>  
            <div class="row">
                <div class="col-sm-12">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Switch().ID("Section[" + Model + "].DefaultVisibility").Name("Section[" + Model + "].DefaultVisibility").SwitchedOffText("Hidden").SwitchedOnText("Visible").Value(true).Width(90))
                        @(Html.DevExtreme().Switch().ID("Section[" + Model + "].Required").Name("Section[" + Model + "].Required").SwitchedOffText("Optional").SwitchedOnText("Required").Value(true).Width(90))
                        @(Html.DevExtreme().Button().Icon("fa fa-trash").OnClick("DeleteSectionClick_createForm").ID("SectionDelete_" + Model + "_createForm").Hint("Delete Question"))

                    </div>
                </div>
            </div>
            @(Html.DevExtreme().FileUploader().SelectButtonText("Browse").ID("Section[" + Model + "].QuestionImageFile").Name("Section[" + Model + "].QuestionImageFile").Multiple(false).Accept("image/*").UploadMode(FileUploadMode.UseForm).ShowFileList(false).OnValueChanged("FileUploader_valueChanged_createForm").Visible(false))
        </div>
    </div>



