<div class="DepositsProfile_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        string UserType = (string)ViewBag.UserType;
        bool Deposits_AddRight = (bool)ViewData["Deposits_AddRight"];
        bool Deposits_UpdateRight = (bool)ViewData["Deposits_UpdateRight"];
        bool Deposits_ViewRight = (bool)ViewData["Deposits_ViewRight"];
        bool Deposits_DeleteRight = (bool)ViewData["Deposits_DeleteRight"];
        bool Deposits_ExportRight = (bool)ViewData["Deposits_ExportRight"];

        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
        bool Deposits_Auto_Vouching_Mode = (bool)ViewData["Deposits_Auto_Vouching_Mode"];
    }
    <div id="DepositsProfile_ParentDiv">
        <div id="content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">Deposits Information</label>
            </div>
            @*Buttons*@
            <div class="report_button_div">
                @(Html.DevExtreme().Switch().ID("OthrDepositVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("OthrDeposit_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Switch().ID("DepositsViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("Deposits_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsModelNew")
                                                                                                    .Text("New")
                                                                                                    .Icon("add")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnDepositsNewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsModelEdit")
                                                                                                    .Text("Edit")
                                                                                                     .Icon("edit")
                                                                                                     .Visible(false)
                                                                                                     .Disabled(true)
                                                                                                     .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnDepositsEditClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsModelDelete")
                                                                                                    .Text("Delete")
                                                                                                    .Icon("trash")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnDepositsDeleteClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsModelView")
                                                                                                    .Text("View")
                                                                                                    .Icon(IconID.ViewCustomers16x16devav)
                                                                                                    .Icon("doc")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnDepositsViewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsToggleScrollBar")
                                                                                                    .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                                                                                                    .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                                                                                                    .Icon("toolbox")
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        DepositschangeMode();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsModelListPreview")
                                                                                                    .Text("Export")
                                                                                                    .Icon("save")
                                                                                                    .Width(80)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnDepositsListPreviewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsModelCLOSE")
                                                                                                    .Text("Close")
                                                                                                    .Icon("clear")
                                                                                                    .OnClick(@<text>
                                                                                                        function (){closeProfile_Deposits();}
                                                                                                    </text>)

            )
            </div>

        </div>
        <div class="col-md-12 no-padding">
            <form>
                <div id="DepositsreloadPartialView" class="parent_table">
                    @Html.Partial("Frm_Deposits_Info_Grid_dx")
                </div>
            </form>
        </div>
        <div class="footer-MainBoxdiv full-width-footer">
            @*<div class="col-lg-8 report_footer_small_buttons_div" id="DepositsFooterItem">*@
            <div class="list_footer_left_margin col-md-10">
                <div>
                    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id="Deposits_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="Deposits_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                            @*<div class="footer-locktext">
                                    <div id="DepositsLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                                </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id="DepositsLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id="DepositsLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list_footer_right_margin_consistent col-md-1">
                @*<i id="Deposits_LockICON" class="fa fa-lock lock_symbol"></i>*@
            </div>
            @*</div>
                <div class="col-lg-4 listing_footer_filter_buttons_div">
                </div>*@
        </div>

        @Html.Partial("AttachmentFAB", "DepositsPrf_FAB,DepositsProfile_grid_DIV,Type1,DepositsProfile," + UserType) @*fab buttons*@

        <div class="col-md-12">
            @*Add/Edit Popup*@
            @(Html.DevExtreme().Popup().CustomPopup()
                                                    .ID("Deposits_report_modal")
                                                    .OnShowing("PopupOnShowing")
                                                    .Title("Deposits List Preview")
                                                    .FullScreen(false)
                                                    .MaxWidth(125)
                                                    .Height("auto")
                                                    .ShowCloseButton(true)
                                                    .ContentTemplate(@<text>
                                                        <div id="Deposits_report_modal_result">
                                                        </div>
                                                    </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                                    .ID("popup_frm_Deposits_Window")
                                                    .Title("Deposits")
                                                    .OnShowing("PopupOnShowing")
                                                    .ShowCloseButton(true)
                                                    .ContentTemplate(@<text>
                                                        <div id="Depositsresult">
                                                        </div>
                                                    </text>)
                                                                            .OnHiding(@<text>
                                                                                function () {
                                                                                if(IsSucessPopup == false && IsViewPopup == false)
                                                                                {
                                                                                var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                                                                result.done(function (dialogResult) {
                                                                                if(dialogResult){
                                                                                $("#popup_frm_Deposits_Window").dxPopup("hide");
                                                                                }else
                                                                                {
                                                                                $("#popup_frm_Deposits_Window").dxPopup("show");
                                                                                }
                                                                                });
                                                                                }
                                                                                }
                                                                            </text>)
        )
        </div>
    </div>
    @*Javascript Events*@
    <script type="text/javascript">
    //var IsSucessPopup = false;
    //var IsViewPopup = false;
    var Deposits_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var Deposits_SetVouchingModeOn = "@Deposits_Auto_Vouching_Mode" == "True" ? true : false;
    var UserType_DepositsPrf = "@UserType".toUpperCase();
    var OthrDeposit_IsVouchingMode = false;
    var OthrDeposit_FocusedRowBeforeRefresh;
    var DepositsID;
    var Deposits_EditDate;
    var Deposits_AddDate;
    var Deposits_AddBy;
    var Deposits_EditBy;
    var Deposits_ActionStatus;
    var Deposits_ActionDate;
    var Deposits_ActionBy;
    var Deposits_ViewMode = "Default";
    $(document).ready(function () {
        if ("@Deposits_AddRight" == "False")
        {
	        $("#DepositsModelNew").hide();
        }
        if ("@Deposits_UpdateRight" == "False")
        {
            $("#DepositsModelEdit").hide();
        }
        if ("@Deposits_ViewRight" == "False")
        {
            $("#DepositsModelView").hide();
        }
        if ("@Deposits_DeleteRight" == "False")
        {
            $("#DepositsModelDelete").hide();
        }
        if ("@Deposits_ExportRight" == "False")
        {
            $("#DepositsModelListPreview").hide();
        }
        ////IsSucessPopup = false;
        //IsViewPopup = false;
        //SetDepositsGroupPanelFooterVisible();
        //SetDepositsFooterVisible();
        $("#DepositsListGrid").hover(function () {
            DepositsListGrid.Focus()
        });
        HideUnreleasedFunctionality('Deposits_frm_Deposits_Info');
        $(".DepositsListGrid_PreviewRow").hide();
        GetSessionStorage("DepositsListGrid");
        if (Deposits_SetVouchingModeOn == true)
        {
            $("#DepositsViewModeSwitch").dxSwitch("instance").option("value", true);
        }
    });
        $(".TabPanalMenu-tabs .active span").on("click", function () {
            DxGrid_EventsOnScreenClose(DepositsListGrid_dx)

        $.ajax({
            type: 'GET',
            url: "/Profile/Deposits/SessionClear",
            cache: false
        });
        CloseRightPane();
        ClearLeftPane();
        CloseLeftPane();
        ClearAllReferences_DepositsProfile();
    });
        function ClearAllReferences_DepositsProfile() {
            Deposits_ShowHorizontalBar = null;
            Deposits_SetVouchingModeOn = null;
            UserType_DepositsPrf = null;
            OthrDeposit_IsVouchingMode = null;
            OthrDeposit_FocusedRowBeforeRefresh = null;
            DepositsID = null;
            Deposits_EditDate = null;
            Deposits_AddDate = null;
            Deposits_AddBy = null;
            Deposits_EditBy = null;
            Deposits_ActionStatus = null;
            Deposits_ActionDate = null;
            Deposits_ActionBy = null;
            Deposits_ViewMode = null;
            DepositsInfo_IsDetailRowExpanded = null;
            DepositsInfo_NestedRecord_FocusedRowIndex = null;
            DepositsInfo_NestedGrid_AccessID = null;
            DepositsInfo_AtachmentID = null;
            DepositsInfo_FileName = null;
            DepositsInfo_ParamMandatory = null;
            DepositsInfo_FromDateLabel = null;
            DepositsInfo_ToDateLabel = null;
            DepositsInfo_DescriptionLabel = null;
            DepositsInfo_Doc_ID = null;
            DepositsInfo_Doc_Category = null;
            DepositsInfo_MasterRowRecID = null;
            DepositsInfo_MasterRowMID = null;
            DepositsInfo_NestedRowMapID = null;
            DepositsInfo_reason = null;
            DepositsInfo_Attachment_RecStatus = null;
            DepositsInfo_NestedRowReasonID = null;
            DepositsInfo_NestedRowKeyValue = null;
            DepositsListGrid_dx = null;
            VisibleColumns_DepositsListGrid_dx =null;
            Expanded_Row_Key_Deposits_dx = null;
            ClearAllReferences("DepositsProfile_ClearReferences");
        }



    function DepositsAjaxSuccessForm(data) {
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
        else {
            //IsSucessPopup = true;
            DevExpress.ui.dialog.alert(data.Message, "Success");
            $("#popup_frm_Deposits_Window").dxPopup("hide");
            DepositsListGrid.Refresh();
            //IsSucessPopup = false;
        }
    }
    function OnDepositsNewClick() {
        if ("@Deposits_AddRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        IsViewPopup = false;
        //  OpenDynamicPopup("New ~ other Deposits", "", "680", "460")
        $("#popup_frm_Deposits_Window").dxPopup("show");
        $("#popup_frm_Deposits_Window").dxPopup("instance").option("title", "New ~ Deposits");
        $("#Depositsresult").html('');
        ShowLoader();
        $("#Depositsresult").load("@Url.Action("Frm_Deposits_Window", "Deposits", new { @area = "Profile" })?ActionMethod=New", function () {
            HideLoader();
        });
    }

    function OnDepositsEditClick() {
        if ("@Deposits_UpdateRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        //IsViewPopup = false;
        if (DepositsID == 'undefined' || DepositsID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/Deposits/DataNavigation",
            data: { ActionMethod: "Edit", id: DepositsID, Edit_Date: encodeURIComponent(Deposits_EditDate) },
            cache: false,
            success: function (Deposits_Edit_ButtonClick_result) {
                if (Deposits_Edit_ButtonClick_result.result == "true" || Deposits_Edit_ButtonClick_result.result == true) {
                    $("#popup_frm_Deposits_Window").dxPopup("show");
                    $("#popup_frm_Deposits_Window").dxPopup("instance").option("title", "Edit ~ Deposits");
                    $("#Depositsresult").html('');
                    ShowLoader();
                    $("#Depositsresult").load("@Url.Action("Frm_Deposits_window", "Deposits", new { @area = "Profile" })?ActionMethod=" + "Edit" + "&ID=" + DepositsID + "&EditedOn=" + encodeURIComponent(Deposits_EditDate), function () {
                        HideLoader();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(Deposits_Edit_ButtonClick_result.Message);
                    DepositsListGrid.Refresh();
                }
            }
        });
    }

    function OnDepositsViewClick() {
        if ("@Deposits_ViewRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        if (DepositsID == 'undefined' || DepositsID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/Deposits/DataNavigation",
            data: { ActionMethod: "View", id: DepositsID, Edit_Date: Deposits_EditDate.toISOString() },
            cache: false,
            success: function (Deposits_View_ButtonClick_result) {
                if (Deposits_View_ButtonClick_result.result == "true" || Deposits_View_ButtonClick_result.result == true) {
                    //IsViewPopup = true;
                    $("#popup_frm_Deposits_Window").dxPopup("show");
                    $("#popup_frm_Deposits_Window").dxPopup("instance").option("title", "View ~ Deposits");
                    $("#Depositsresult").html('');
                    ShowLoader();
                    $("#Depositsresult").load("@Url.Action("Frm_Deposits_window", "Deposits", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + DepositsID + "&EditedOn=" + encodeURIComponent(Deposits_EditDate), function () {
                        HideLoader();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(Deposits_View_ButtonClick_result.Message);
                    DepositsListGrid.Refresh();
                }
            }
        });
    }

    function OnDepositsDeleteClick() {
        if ("@Deposits_DeleteRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        //IsViewPopup = true;
        if (DepositsID == 'undefined' || DepositsID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $("#popup_frm_Deposits_Window_Close").dxPopup("hide");

                $.ajax({
                    type: 'GET',
                    url: "/Profile/Deposits/DataNavigation",
                    data: { ActionMethod: "Delete", id: DepositsID, Edit_Date: Deposits_EditDate.toISOString() },
                    cache: false,
                    success: function (Deposits_Delete_ButtonClick_result) {
                        if (Deposits_Delete_ButtonClick_result.result == "true" || Deposits_Delete_ButtonClick_result.result == true) {
                            $("#popup_frm_Deposits_Window").dxPopup("show");
                            $("#popup_frm_Deposits_Window").dxPopup("instance").option("title", "Delete ~ Deposits");
                            ShowLoader();
                            $("#Depositsresult").load("@Url.Action("Frm_Deposits_window", "Deposits", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + DepositsID + "&EditedOn=" + encodeURIComponent(Deposits_EditDate), function () {
                                HideLoader();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(Deposits_Delete_ButtonClick_result.Message);
                            DepositsListGrid.Refresh();
                        }
                    }
                });
            }
        });
    }
    </script>

    <script>
    var DepositsInfo_IsDetailRowExpanded = false;
    var DepositsInfo_NestedRecord_FocusedRowIndex = -1;
    var DepositsInfo_NestedGrid_AccessID;
    var DepositsInfo_AtachmentID;
    var DepositsInfo_FileName;
    var DepositsInfo_ParamMandatory;
    var DepositsInfo_FromDateLabel;
    var DepositsInfo_ToDateLabel;
    var DepositsInfo_DescriptionLabel;
    var DepositsInfo_Doc_ID;
    var DepositsInfo_Doc_Category;
    var DepositsInfo_MasterRowRecID;
    var DepositsInfo_MasterRowMID;
    var DepositsInfo_NestedRowMapID;
    var DepositsInfo_reason;
    var DepositsInfo_Attachment_RecStatus;
    var DepositsInfo_NestedRowReasonID;
    var DepositsInfo_NestedRowKeyValue;

    function On_DepositsProfile_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (DepositsInfo_ParamMandatory == 1)
            {
                AddAttachment(DepositsInfo_MasterRowRecID, "Profile_Deposit", DepositsInfo_Doc_ID, DepositsInfo_Doc_Category, DepositsInfo_ParamMandatory, DepositsInfo_FromDateLabel, DepositsInfo_ToDateLabel, DepositsInfo_DescriptionLabel, "DepositsProfileAttachment", null, "DepositsListGrid_dx", DepositsInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(DepositsInfo_MasterRowRecID, "Profile_Deposit", DepositsInfo_Doc_ID, "DepositsProfileAttachment", "DepositsListGrid_dx", DepositsInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (DepositsInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(DepositsInfo_MasterRowRecID, "Profile_Deposit", DepositsInfo_AtachmentID, DepositsInfo_ParamMandatory, DepositsInfo_FromDateLabel, DepositsInfo_ToDateLabel, DepositsInfo_DescriptionLabel, "DepositsProfileAttachment", null, "DepositsListGrid_dx", DepositsInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(DepositsInfo_MasterRowRecID, "Profile_Deposit", DepositsInfo_AtachmentID, DepositsInfo_ParamMandatory, DepositsInfo_FromDateLabel, DepositsInfo_ToDateLabel, DepositsInfo_DescriptionLabel, null, "DepositsListGrid_dx", DepositsInfo_NestedGrid_AccessID, DepositsInfo_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            ViewDocument(DepositsInfo_AtachmentID, DepositsInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(DepositsInfo_MasterRowRecID, "Profile_Deposit", "Deposits Information", "DepositsListGrid_dx", DepositsInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (DepositsInfo_Doc_Category.toLowerCase() == "others")
            {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else
            {
                AttachmentAddReason(DepositsInfo_MasterRowRecID, DepositsInfo_NestedRowMapID, "Profile_Deposit", "DepositsListGrid_dx", DepositsInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(DepositsInfo_MasterRowRecID, DepositsInfo_NestedRowMapID, "Profile_Deposit", "DepositsListGrid_dx", DepositsInfo_NestedGrid_AccessID, DepositsInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(DepositsInfo_MasterRowRecID, DepositsInfo_NestedRowMapID, "DepositsListGrid_dx", DepositsInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction")
        {
            DepositsPrf_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit")
        {
            if (DepositsInfo_Nested_Doc_Status == "")
            {
                DepositsPrf_FAB.SetActionContext("AutoItemContext", true);
            }
            if (DepositsInfo_Nested_Doc_Status == "NO")
            {
                DepositsPrf_FAB.SetActionContext("EditItemContext", true);
            }
            if (DepositsInfo_Nested_Doc_Status == "YES")
            {
                DepositsPrf_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept")
        {
            DepositsInfo_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject")
        {
            DepositsInfo_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks")
        {
            DepositsInfo_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc") {

            OnDepositsInfo_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc") {

            OnDepositsInfo_RejectDoc();
        }
    }
    function OnDepositsInfo_RejectDoc() {
        if (DepositsInfo_AtachmentID == null || DepositsInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(DepositsInfo_AtachmentID, "DepositsListGrid_dx", DepositsInfo_NestedGrid_AccessID);
    }
    function OnDepositsInfo_AcceptDoc() {
        if (DepositsInfo_AtachmentID == null || DepositsInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(DepositsInfo_AtachmentID, "DepositsListGrid_dx", DepositsInfo_NestedGrid_AccessID);
    }
    function DepositsInfo_AcceptwithoutRemarks()
    {
        var Recid;
        if (DepositsInfo_IsDetailRowExpanded == true || OthrDeposit_IsVouchingMode == true)
        {
            if (DepositsInfo_MasterRowRecID == null || DepositsInfo_MasterRowRecID == "")
            {
                Recid = DepositsID;
            }
            else
            {
                Recid = DepositsInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = DepositsID;
        }
        Entry_AcceptwithoutRemarks(Recid, "Profile_Deposit", "DepositsListGrid_dx", DepositsInfo_AtachmentID, DepositsInfo_NestedRowReasonID, DepositsInfo_NestedRowKeyValue);
    }
    function DepositsInfo_AcceptRejectVoucher(_actionMethod)
    {
        var Recid;
        if (DepositsInfo_IsDetailRowExpanded == true || OthrDeposit_IsVouchingMode == true)
        {
            if (DepositsInfo_MasterRowRecID == null || DepositsInfo_MasterRowRecID == "")
            {
                Recid = DepositsID;
            }
            else
            {
                Recid = DepositsInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = DepositsID;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_Deposit", "DepositsListGrid_dx",DepositsInfo_AtachmentID, DepositsInfo_NestedRowReasonID, DepositsInfo_NestedRowKeyValue);
    }
    </script>
    @*attachment and nested grid*@
    @*Dev Extreme*@
    <script>
        var DepositsListGrid_dx = null;
        var VisibleColumns_DepositsListGrid_dx = [];
        var Expanded_Row_Key_Deposits_dx = null;
    </script>
    <script>
        function OthrDeposit_VouchingSwitch_ValueChange(e) {
            OthrDeposit_IsVouchingMode = e.value;
            if (Deposits_SetVouchingModeOn == true) {
                Deposits_SetVouchingModeOn = false;
            }
            else {
                DepositsPrf_FAB.SetVisible(false);
            }
            if (OthrDeposit_IsVouchingMode == true) {
                OpenRightPane();
                ClearLeftPane();
                OpenLeftPane();
            }
            else {
                CloseRightPane();
                ClearLeftPane();
                CloseLeftPane();
            }
            DepositsListGrid_dx.clearSelection();
            DepositsListGrid_dx.option("masterDetail.enabled", !OthrDeposit_IsVouchingMode)
            DepositsListGrid_dx.repaint();
        }
        function Deposits_ViewSwitch_ValueChange(e) {

            Deposits_ViewMode = e.value == false ? "Default" : "Compact";
            if (Deposits_SetVouchingModeOn == true) {
                $("#OthrDepositVouchingModeSwitch").dxSwitch("instance").option("value", true);
            }
            DepositsListGrid_dx.beginUpdate();
            var columns = DepositsListGrid_dx.option("columns");
            if (Deposits_ViewMode == "Compact") {
                VisibleColumns_DepositsListGrid_dx = [];
                for (var i = 0; i < columns.length; i++) {
                    var name = columns[i].dataField;
                    var ColumnVisible = DepositsListGrid_dx.columnOption(name, "visible");
                    if (name == "DepositsListGrid_dx_Compact_Column") {
                        DepositsListGrid_dx.columnOption(name, "visible", true);
                    }
                    else if (ColumnVisible == true && name != "iIcon") {
                        VisibleColumns_DepositsListGrid_dx.push(name);
                        DepositsListGrid_dx.columnOption(name, "visible", false);
                    }
                }
            }
            else {
                DepositsListGrid_dx.columnOption("DepositsListGrid_dx_Compact_Column", "visible", false);
                for (var i = 0; i < VisibleColumns_DepositsListGrid_dx.length; i++) {
                    DepositsListGrid_dx.columnOption(VisibleColumns_DepositsListGrid_dx[i], "visible", true);
                }
            }
            DepositsListGrid_dx.repaint();
            DepositsListGrid_dx.endUpdate();
        }
        function DepositschangeMode() {
            DepositsListGrid_dx.beginUpdate();
            if (Deposits_ShowHorizontalBar == 0) {
                Deposits_ShowHorizontalBar = 1;
                $("#DepositsToggleScrollBar").find("span").text("Default Data");
                $("#DepositsToggleScrollBar").width(110);
                DepositsListGrid_dx.option("columnHidingEnabled", false);
                DepositsListGrid_dx.option("allowColumnResizing", true)
            }
            else {
                Deposits_ShowHorizontalBar = 0;
                $("#DepositsToggleScrollBar").find("span").text("Full Data");
                $("#DepositsToggleScrollBar").width(90);
                DepositsListGrid_dx.option("columnHidingEnabled", true)
                DepositsListGrid_dx.option("allowColumnResizing", false)
            }
            DepositsListGrid_dx.endUpdate();
        }
        function closeProfile_Deposits() {
            DxGrid_EventsOnScreenClose(DepositsListGrid_dx)
            $(".TabPanalMenu-tabs .active span").click();
        }
        function OnDepositsListPreviewClick() {
            if ("@Deposits_ExportRight" == "False") {
                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
                return;
            }
        @*$("#Deposits_report_modal").dxPopup("show");
        $("#Deposits_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#Deposits_report_modal").html('');
        ShowLoader();
        $("#Deposits_report_modal_result").load("@Url.Action("Frm_Export_Options", "Deposits", new { @area = "Profile" })", function () {
            HideLoader();
        });*@
            OpenPopup("Deposits_report_modal", "Export Option", "@Url.Action("Frm_Export_Options_dx", "Deposits", new { @area = "Profile" })", "auto", 125, false, null);
        }
        function Deposits_UpdateFooterDetail(DepositsID, Deposits_Action_Status, Deposits_Add_Date, Deposits_Add_By, Deposits_Action_Date, Deposits_Action_By, Deposits_Edit_Date, Deposits_Edit_By) {
            Deposits_Action_Date = Deposits_Action_Date != "" && Deposits_Action_Date != null ? Deposits_Action_Date : Deposits_Action_Date;
            Deposits_Edit_Date = Deposits_Edit_Date != "" && Deposits_Edit_Date != null ? Deposits_Edit_Date : Deposits_Edit_Date;
            Deposits_Add_Date = Deposits_Add_Date != "" && Deposits_Add_Date != null ? Deposits_Add_Date : Deposits_Add_Date;
            $.ajax({
                type: 'GET',
                url: "/Profile/Deposits/CreationDetail",
                data: {
                    Xrow: DepositsID, Action_Status: Deposits_Action_Status, Add_Date: Deposits_Add_Date,
                    Add_By: Deposits_Add_By, Action_Date: Deposits_Action_Date, Action_By: Deposits_Action_By, Edit_Date: Deposits_Edit_Date, Edit_By: Deposits_Edit_By
                },
                cache: false,
                success: function (DepositsLbl_result) {
                    $('#Deposits_Lbl_ActionOn').text(DepositsLbl_result.Lbl_StatusOn);
                    $('#Deposits_Lbl_ActionBy').text(DepositsLbl_result.Lbl_StatusBy);
                    $('#DepositsLbl_Status').text(DepositsLbl_result.Lbl_Status);
                    $('#DepositsLbl_Create').text(DepositsLbl_result.Lbl_Create);
                    $('#DepositsLbl_Modify').text(DepositsLbl_result.Lbl_Modify);
                    if (DepositsLbl_result.Lbl_Status_Color != "") {
                        $('#DepositsLbl_Status').css('color', DepositsLbl_result.Lbl_Status_Color);
                    }
                    if (DepositsLbl_result.Pic_Status != "") {
                        $('#Deposits_LockICON').css('class', DepositsLbl_result.Pic_Status);
                    }

                }
            });
        }

    </script>
    <script>
        function DepositsListGrid_dx_OnInitialized(e) {
            DxGrid_AdjustSize(e.component, $("#DepositsProfile_ParentDiv .report_button_div"))
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                DxGrid_AdjustSize(e.component, $("#DepositsProfile_ParentDiv .report_button_div"), "", evt)
            });
            DepositsListGrid_dx = e.component;
        }
        function DepositsListGrid_dx_OnCellPrepared(e) {
            if (e.rowType == "data") {
                if (OthrDeposit_IsVouchingMode == true) {
                    if (e.column.dataField === "iIcon") {
                        $(e.cellElement).attr("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + e.key + "')");
                        $(e.cellElement).attr("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + e.key + "')");
                    }
                }
                $(e.cellElement).attr("id", e.element[0].id + "_Cell_" + e.key + "|" + e.column.dataField);
            }
            if (e.rowType === "data") {
                if (e.column.dataField === "Out_Standing") {
                    if (e.data.Out_Standing > 0.00)
                        e.cellElement.css({ "background-color": "lightpink" });
                    //e.cellElement.addClass("BalanceBgColour");
                }
            }
        }
        function DepositsListGrid_dx_OnRowPrepared(e) {
            if (e.rowType == "data") {
                var GridName = e.element[0].id;
                $(e.rowElement).addClass(GridName + "_DataRow_" + e.key)
                if (e.data.RemarkStatus != null && e.data.RemarkStatus == "OPEN" || e.data.RemarkStatus == "REOPENED") {
                    $(e.rowElement).css("background-color", "gold");
                }
                if (e.data.RemarkStatus == null && e.data.Remarks != null && e.data.Remarks == true && e.data.CrossedTimeLimit != null && e.data.CrossedTimeLimit == 0) {
                    $(e.rowElement).css("background-color", "lightgreen");
                }
                if (e.data.CrossedTimeLimit != null && e.data.CrossedTimeLimit > 0) {
                    $(e.rowElement).css("background-color", "mistyrose");
                }
                DxGrid_CreatePreviewRow(e, OthrDeposit_IsVouchingMode, "Master")
            }
            else if (e.rowType == "detailAdaptive")
            {
                DxGrid_MovePreviewRowAfterAdaptiveRow(e)
            }
        }
        function DepositsListGrid_dx_OnContentReady(e) {
            DxGrid_OnContentReady(e, Deposits_ShowHorizontalBar);
        }
        function DepositsListGrid_dx_OnCellDblClick(e) {
            if (e.rowType == "data") {
                if (OthrDeposit_IsVouchingMode == true && Deposits_ViewMode == "Default") {
                    OnGridCellClick(e.event, e.cellElement[0], e.columnIndex, e.rowIndex, e.element[0].id, e.key, e.column.dataField)
                }
            }
        }
        function DepositsListGrid_dx_OnSelectionChanged(e) {
            var selectedRowKeys = e.selectedRowKeys;
            if (selectedRowKeys != null && selectedRowKeys.length > 0) {
                if (OthrDeposit_IsVouchingMode) {
                    DepositsPrf_FAB.SetVisible(true);
                    DepositsPrf_FAB.SetActionContext("AddAttachmentContext", false);
                }
                DepositsListGrid_dx_SelectedRowData(e.selectedRowsData);
            }
            else {
                DepositsID = null;
                Deposits_UpdateFooterDetail(DepositsID, Deposits_ActionStatus, Deposits_AddDate, Deposits_AddBy,
                    Deposits_ActionDate, Deposits_ActionBy, Deposits_EditDate, Deposits_EditBy);
            }
        }
        function DepositsListGrid_dx_SelectedRowData(selectedData = null) {
            if (selectedData == null) {
                selectedData = DepositsListGrid_dx.getSelectedRowsData();
            }
            if (selectedData != null && selectedData.length > 0) {
                var values = selectedData[0]
                DepositsID = values["ID"]
                Deposits_EditDate = values["Edit_Date"];
                Deposits_EditBy = values["Edit_By"];
                Deposits_AddDate = values["Add_Date"];
                Deposits_AddBy = values["Add_By"];
                Deposits_ActionDate = values["Action_Date"];
                Deposits_ActionBy = values["Action_By"];
                Deposits_ActionStatus = values["Action_Status"];
                Deposits_UpdateFooterDetail(DepositsID, Deposits_ActionStatus, Deposits_AddDate, Deposits_AddBy,
                    Deposits_ActionDate, Deposits_ActionBy, Deposits_EditDate, Deposits_EditBy);
                if (OthrDeposit_IsVouchingMode == true) {
                    OpenLeftPane();
                    LeftPaneContent_Deposits_dx("DepositsListGrid_dx", DepositsID, OthrDeposit_IsVouchingMode)
                }
            }
            else {
                DepositsID = null;
            }
        }
        function DepositsListGrid_dx_OnRowExpanding(e) {
            if (Array.isArray(e.key) == false) //not group row
            {
                e.component.collapseRow(Expanded_Row_Key_Deposits_dx)
                e.component.selectRows(e.key);
                Expanded_Row_Key_Deposits_dx = e.key;
                DepositsInfo_IsDetailRowExpanded = true;
                var DetailGridID = e.element[0].id + e.key;
                var instance = $("div[id='" + DetailGridID + "']").dxDataGrid("instance")
                if (instance != void 0) {
                    instance.state(null) // grid maintains its state after collapsing so resetting the state when expands again as per old grid
                }
                //e.component.collapseAll(-1);
            }
            else {
                e.component.option("CustomProp.groupRowExpanded", true);
            }
        }
        function DepositsListGrid_dx_OnRowCollapsing(e) {
            if (Array.isArray(e.key) == false) //not group row
            {
                var DetailGridID = e.element[0].id + e.key;
                sessionStorage.removeItem(DetailGridID + "_DetailGridState") //removing grid state from session storage on collapse
                DepositsInfo_IsDetailRowExpanded = false;
                e.component.selectRows(e.key);
                if (OthrDeposit_IsVouchingMode == false) {
                    DepositsPrf_FAB.SetVisible(false);
                }
                var instance = $("div[id='" + DetailGridID + "']").dxDataGrid("instance")
                if (instance != void 0) {
                    instance.clearSelection();
                }
            }
            else {
                e.component.option("CustomProp.groupRowCollapsed", true);
            }
        }
        function DepositsListGrid_dx_OnContextMenuPreparing(e) {
            if (!e.items) e.items = [];
            if (e.target == "header") {

                DxGrid_HeaderContextMenu(e)
            }
            else if ((e.target == "content" && e.row && e.row.rowType == "groupFooter") || e.target == "footer") {
                if (Deposits_ViewMode == "Compact")
                    DxGrid_FooterContextMenu(e, true);
                else
                    DxGrid_FooterContextMenu(e);
            }
            else if (e.target == "content" && e.row && (e.row.rowType == "data" || e.row.rowType == "detailAdaptive")) {
                var key = e.component.getKeyByRowIndex(e.row.rowIndex);
                e.component.selectRows(key);
                var expanded = e.component.isRowExpanded(key);
                e.items = [
                    {
                        text: "Expand Detail",
                        icon: "fa-solid fa-arrow-down-wide-short " + (expanded ? "text-muted" : "text-info"),
                        disabled: expanded,
                        visible: !OthrDeposit_IsVouchingMode,
                        onItemClick: function () {
                            if (expanded) {
                            }
                            else {
                                e.component.expandRow(key);
                            }
                        }
                    }, {
                        text: "Collapse Detail",
                        icon: "fa-solid fa-arrow-up-wide-short " + (!expanded ? "text-muted" : "text-info"),
                        disabled: !expanded,
                        visible: !OthrDeposit_IsVouchingMode,
                        onItemClick: function () {
                            if (expanded) {
                                e.component.collapseRow(key);
                            }
                            else {
                            }
                        }
                    },
                    {
                        text: "Export",
                        icon: "fa-solid fa-file-export text-warning",
                        visible: "@Deposits_ExportRight" == "True",
                        beginGroup: true,
                        onItemClick: function () {
                            OnDepositsListPreviewClick();
                        }
                    },
                    {
                        text: "Close",
                        icon: "fa-solid fa-rectangle-xmark text-danger",
                        beginGroup: true,
                        onItemClick: function () {
                            closeProfile_Deposits()();
                        }
                    },
                    {
                        text: "Refresh",
                        icon: "fa-solid fa-arrow-rotate-right text-success",
                        beginGroup: true,
                        onItemClick: function () {
                            DepositsListGrid_dx_Refresh()
                        }
                    }]
            }
        }


        function DepositsListGrid_dx_DetailTemplate(container, templateData) {
            var GridName = templateData.component.element()[0].id
            var RecID = templateData.data.ID;
            DepositsListGrid_dx_Detail(container, GridName, RecID, OthrDeposit_IsVouchingMode, Deposits_ShowHorizontalBar);
        }
        function DepositsListGrid_dx_Detail(container, GridName, RecID, vouchingMode, AllColumns)
        {
            var url = "/Profile/Deposits/Frm_Deposits_Info_DetailGrid_dx?VouchingMode=" + vouchingMode + "&RecID=" + RecID
            var instance = DxGrid_AttachmentGrid_Create(container, GridName, RecID, vouchingMode, AllColumns, url)
            instance.option("onSelectionChanged", DepositsListGrid_dx_Detail_onSelectionChanged);            
        }        
        function DepositsListGrid_dx_Detail_onSelectionChanged(e) {
            if (DepositsInfo_IsDetailRowExpanded || OthrDeposit_IsVouchingMode) {
                if (e.selectedRowsData != null && e.selectedRowsData.length > 0) {
                    DepositsInfo_NestedGrid_AccessID = e.element[0].id;
                    DepositsListGrid_dx_Detail_SelectedRowData(e.selectedRowsData)
                }
                else {
                    DepositsPrf_FAB.SetActionContext("AddAttachmentContext", false);
                }
            }
        }
        function DepositsListGrid_dx_Detail_SelectedRowData(selectedData = null) {
            if (selectedData == null) {
                selectedData = $("#" + DepositsInfo_NestedGrid_AccessID).dxDataGrid("getSeletedRowsData");
            }
            var values = selectedData[0];
            DepositsInfo_NestedRowKeyValue = values["UniqueID"];
            if (values["UniqueID"] != null) {
                DepositsPrf_FAB.SetVisible(true);
                DepositsInfo_Nested_Doc_Status = values["Doc_Status"];

                if (OthrDeposit_IsVouchingMode == true) {
                    DepositsPrf_FAB.SetActionContext("AuditActionContext", true);
                }
                else {
                    if (DepositsInfo_Nested_Doc_Status == "") {
                        DepositsPrf_FAB.SetActionContext("AutoItemContext", true);
                    }
                    else if (DepositsInfo_Nested_Doc_Status == "NO") {
                        DepositsPrf_FAB.SetActionContext("EditItemContext", true);
                    }
                    else if (DepositsInfo_Nested_Doc_Status == "YES") {
                        DepositsPrf_FAB.SetActionContext("actionItemContext", true);
                    }
                }
                DepositsInfo_ParamMandatory = values["Params_Mandatory"];
                DepositsInfo_FromDateLabel = values["LABEL_FROM_DATE"];
                DepositsInfo_ToDateLabel = values["LABEL_TO_DATE"];
                DepositsInfo_DescriptionLabel = values["LABEL_DESCRIPTION"];
                DepositsInfo_Doc_Category = values["Document_Category"];
                DepositsInfo_Doc_ID = values["Document_ID"];
                DepositsInfo_AtachmentID = values["ATTACH_ID"];
                IndexAttachmentID = DepositsInfo_AtachmentID;
                DepositsInfo_MasterRowRecID = values["TxnID"];
                DepositsInfo_MasterRowMID = values["TxnMID"];
                DepositsInfo_NestedRowMapID = values["MAP_ID"];
                DepositsInfo_reason = values["Reason"];
                DepositsInfo_FileName = values["ATTACH_FILE_NAME"];
                DepositsInfo_Attachment_RecStatus = values["Attachment_Action_Status"];
                if (OthrDeposit_IsVouchingMode == true) {
                    if (DepositsInfo_FileName != null && DepositsInfo_FileName.length > 0) {
                        ViewDocument(DepositsInfo_AtachmentID, DepositsInfo_FileName, "DepositsPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                    }
                    else {
                        CloseRightPane();
                        ClearRightPane();
                    }
                }
            }
            DepositsInfo_NestedRowReasonID = values["ReasonID"];
            IndexAttachmentReasonID = DepositsInfo_NestedRowReasonID;
        }      

    </script>
    <script>
   
        function DepositsListGrid_dx_Refresh() {
            DepositsListGrid_dx.refresh().done(function () { ActionAfterDataGridRefresh_DepositsListGrid_dx() })
        }
        async function ActionAfterDataGridRefresh_DepositsListGrid_dx() {
            var selectedRowKeys = DepositsListGrid_dx.getSelectedRowKeys()
            if (selectedRowKeys != null && selectedRowKeys.length > 0) {
                DepositsListGrid_dx.clearSelection()
                DepositsListGrid_dx.selectRows(selectedRowKeys)
            }
        } 
        function DepositsListGrid_dx_iIconTemplate(container, templateData) {
            var iREQ_ATTACH_COUNT = templateData.data.REQ_ATTACH_COUNT
            var iCOMPLETE_ATTACH_COUNT = templateData.data.COMPLETE_ATTACH_COUNT
            var iRESPONDED_COUNT = templateData.data.RESPONDED_COUNT
            var iREJECTED_COUNT = templateData.data.REJECTED_COUNT
            var iOTHER_ATTACH_CNT = templateData.data.OTHER_ATTACH_CNT
            var iALL_ATTACH_CNT = templateData.data.ALL_ATTACH_CNT
            var iIcon = templateData.data.iIcon
            var UniqueID = templateData.component.element()[0].id
            var key = templateData.data.ID
            var VisibleIndex = templateData.rowIndex
            var htmlString = "";
            htmlString = DxGrid_AttachmentIcons(iREQ_ATTACH_COUNT, iCOMPLETE_ATTACH_COUNT, iRESPONDED_COUNT, iREJECTED_COUNT, iOTHER_ATTACH_CNT, iALL_ATTACH_CNT);
            htmlString += DxGrid_VouchingAuditIcons(iIcon)
            htmlString += DxGrid_AuditIconAfterClick(UniqueID, key, VisibleIndex)
            $(container).html(htmlString)
        }
        function DepositsListGrid_dx_Compact_Column_Template(container, templateData) {
            var Name = templateData.component.element()[0].id;
            var KeyValue = templateData.data.ID;
            var VouchingMode = OthrDeposit_IsVouchingMode == true ? "True" : "False";

            var htmlString = "<div class='container-fluid'>" +
                "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Item Name:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|ITEM_NAME' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.ITEM_NAME + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Against Insurance:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|DI_AGAINST_INSURANCE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.DI_AGAINST_INSURANCE + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Party Name:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|PARTY_NAME' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.PARTY_NAME + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Deposit Date:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|DI_DEP_DATE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                (JS_Json_Date_To_ddMMyyyy((templateData.data.DI_DEP_DATE ?? ""), "DD-MM-YYYY HH:mm:ss") ?? "") + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Period (Days):</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|DI_DEP_PERIOD' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.DI_DEP_PERIOD + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Interest Rate (%):</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|DI_INT_RATE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                (templateData.data.DI_INT_RATE ?? "") + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Maturity Date:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|DI_MAT_DATE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.DI_MAT_DATE + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Deposit:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Deposit' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Deposit + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Addition:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Addition' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                (templateData.data.Addition ?? "") + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Adjusted:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Adjusted' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                (templateData.data.Adjusted ?? "") + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Refund:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Refund' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Refund + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Out_Standing:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Out_Standing' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Out_Standing + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Reason:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Reason' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Reason + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Other Detail:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|DI_OTHER_DETAIL' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.DI_OTHER_DETAIL + "</div></div>";
            htmlString += "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Type:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Type' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Type + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Reference:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Special_Ref' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Special_Ref + "</div></div>";

            $(container).html(htmlString)
        }
        function DepositsListGrid_dx_Compact_Column_CellValue(rowData) {
            var data =
                [
                    rowData.ITEM_NAME, rowData.DI_AGAINST_INSURANCE, rowData.PARTY_NAME, rowData.DI_DEP_DATE, rowData.DI_DEP_PERIOD, rowData.DI_INT_RATE, rowData.DI_MAT_DATE,
                    rowData.Deposit, rowData.Addition, rowData.Adjusted, rowData.Refund, rowData.Out_Standing, rowData.Reason,
                    rowData.DI_OTHER_DETAIL, rowData.Type,rowData.Special_Ref

                ]
            return data.join(" ")
        }
        function DepositsListGrid_dx_GroupCell_Template(container, templateData) {
            DxGrid_GroupCell_Template(container, templateData)
        }

        function LeftPaneContent_Deposits_dx(GridName, RecID, vouchingMode, AllColumns = 0) {
            $("#LeftPane_Div_Content").html(null);
            $("#LeftPane_Div_Content").append("<div class='col-xs-12'><label>Documents Attached:</label><div class='AttachmentGrid'><form></form></div></div><div class='col-xs-12'><label>Additional Info:</label><div class='AdditionalInfoGrid'><form></form></div></div>")
            DepositsListGrid_dx_Detail($("#LeftPane_Div_Content .AttachmentGrid>form"), GridName, RecID, vouchingMode, AllColumns)
            setTimeout(function () {
                AdditionalInfoGrid_Deposits_dx($("#LeftPane_Div_Content .AdditionalInfoGrid>form"), GridName, RecID, vouchingMode, AllColumns)
            })
        }
        function AdditionalInfoGrid_Deposits_dx(container, GridName, RecID, vouchingMode, AllColumns)
        {
            var url = "/Profile/Deposits/AdditionalInfo_Grid_dx?VouchingMode=" + vouchingMode + "&RecID=" + RecID
            DxGrid_CreateAdditionalInfoGrid(container, GridName, RecID, vouchingMode, AllColumns, url)          
        }
    </script>
</div>