<div class="DepositsProfile_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        string UserType = (string)ViewBag.UserType;
        bool Deposits_AddRight = (bool)ViewData["Deposits_AddRight"];
        bool Deposits_UpdateRight = (bool)ViewData["Deposits_UpdateRight"];
        bool Deposits_ViewRight = (bool)ViewData["Deposits_ViewRight"];
        bool Deposits_DeleteRight = (bool)ViewData["Deposits_DeleteRight"];
        bool Deposits_ExportRight = (bool)ViewData["Deposits_ExportRight"];

        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
        bool Deposits_Auto_Vouching_Mode = (bool)ViewData["Deposits_Auto_Vouching_Mode"];
    }
    <div id="DepositsProfile_ParentDiv">
        <div id="content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">Deposits Information</label>
            </div>
            @*Buttons*@
            <div class="report_button_div">
                @(Html.DevExtreme().Switch().ID("OthrDepositVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("OthrDeposit_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Switch().ID("DepositsViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("Deposits_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsModelNew")
                                                                                                    .Text("New")
                                                                                                    .Icon("add")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnDepositsNewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsModelEdit")
                                                                                                    .Text("Edit")
                                                                                                     .Icon("edit")
                                                                                                     .Visible(false)
                                                                                                     .Disabled(true)
                                                                                                     .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnDepositsEditClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsModelDelete")
                                                                                                    .Text("Delete")
                                                                                                    .Icon("trash")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnDepositsDeleteClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsModelView")
                                                                                                    .Text("View")
                                                                                                    .Icon(IconID.ViewCustomers16x16devav)
                                                                                                    .Icon("doc")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnDepositsViewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsToggleScrollBar")
                                                                                                    .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                                                                                                    .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                                                                                                    .Icon("toolbox")
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        DepositschangeMode();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsModelListPreview")
                                                                                                    .Text("Export")
                                                                                                    .Icon("save")
                                                                                                    .Width(80)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnDepositsListPreviewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("DepositsModelCLOSE")
                                                                                                    .Text("Close")
                                                                                                    .Icon("clear")
                                                                                                    .OnClick(@<text>
                                                                                                        function (){closeProfile_Deposits();}
                                                                                                    </text>)

            )
            </div>

        </div>
        <div class="col-md-12 no-padding">
            <form>
                <div id="DepositsreloadPartialView" class="parent_table">
                    @Html.Partial("Frm_Deposits_Info_Grid", Model)
                </div>
            </form>
        </div>
        <div class="footer-MainBoxdiv full-width-footer">
            @*<div class="col-lg-8 report_footer_small_buttons_div" id="DepositsFooterItem">*@
            <div class="list_footer_left_margin col-md-10">
                <div>
                    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id="Deposits_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="Deposits_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                            @*<div class="footer-locktext">
                                    <div id="DepositsLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                                </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id="DepositsLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id="DepositsLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list_footer_right_margin_consistent col-md-1">
                @*<i id="Deposits_LockICON" class="fa fa-lock lock_symbol"></i>*@
            </div>
            @*</div>
                <div class="col-lg-4 listing_footer_filter_buttons_div">
                </div>*@
        </div>

        @Html.Partial("AttachmentFAB", "DepositsPrf_FAB,DepositsProfile_grid_DIV,Type1,DepositsProfile," + UserType) @*fab buttons*@

        <div class="col-md-12">
            @*Add/Edit Popup*@
            @(Html.DevExtreme().Popup().CustomPopup()
                                                    .ID("Deposits_report_modal")
                                                    .OnShowing("PopupOnShowing")
                                                    .Title("Deposits List Preview")
                                                    .FullScreen(false)
                                                    .MaxWidth(125)
                                                    .Height("auto")
                                                    .ShowCloseButton(true)
                                                    .ContentTemplate(@<text>
                                                        <div id="Deposits_report_modal_result">
                                                        </div>
                                                    </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                                    .ID("popup_frm_Deposits_Window")
                                                    .Title("Deposits")
                                                    .OnShowing("PopupOnShowing")
                                                    .ShowCloseButton(true)
                                                    .ContentTemplate(@<text>
                                                        <div id="Depositsresult">
                                                        </div>
                                                    </text>)
                                                                            .OnHiding(@<text>
                                                                                function () {
                                                                                if(IsSucessPopup == false && IsViewPopup == false)
                                                                                {
                                                                                var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                                                                result.done(function (dialogResult) {
                                                                                if(dialogResult){
                                                                                $("#popup_frm_Deposits_Window").dxPopup("hide");
                                                                                }else
                                                                                {
                                                                                $("#popup_frm_Deposits_Window").dxPopup("show");
                                                                                }
                                                                                });
                                                                                }
                                                                                }
                                                                            </text>)
        )
        </div>
    </div>
    @*Javascript Events*@
<script type="text/javascript">
    //var IsSucessPopup = false;
    //var IsViewPopup = false;
    var Deposits_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var Deposits_SetVouchingModeOn = "@Deposits_Auto_Vouching_Mode" == "True" ? true : false;
    var UserType_DepositsPrf = "@UserType".toUpperCase();
    var OthrDeposit_IsVouchingMode = false;
    var OthrDeposit_FocusedRowBeforeRefresh;
    var DepositsID;
    var Deposits_EditDate;
    var Deposits_AddDate;
    var Deposits_AddBy;
    var Deposits_EditBy;
    var Deposits_ActionStatus;
    var Deposits_ActionDate;
    var Deposits_ActionBy;
    var Deposits_ViewMode = "Default";
    $(document).ready(function () {
        if ("@Deposits_AddRight" == "False")
        {
	        $("#DepositsModelNew").hide();
        }
        if ("@Deposits_UpdateRight" == "False")
        {
            $("#DepositsModelEdit").hide();
        }
        if ("@Deposits_ViewRight" == "False")
        {
            $("#DepositsModelView").hide();
        }
        if ("@Deposits_DeleteRight" == "False")
        {
            $("#DepositsModelDelete").hide();
        }
        if ("@Deposits_ExportRight" == "False")
        {
            $("#DepositsModelListPreview").hide();
        }
        ////IsSucessPopup = false;
        //IsViewPopup = false;
        //SetDepositsGroupPanelFooterVisible();
        //SetDepositsFooterVisible();
        $("#DepositsListGrid").hover(function () {
            DepositsListGrid.Focus()
        });
        HideUnreleasedFunctionality('Deposits_frm_Deposits_Info');
        $(".DepositsListGrid_PreviewRow").hide();
        GetSessionStorage("DepositsListGrid");
        if (Deposits_SetVouchingModeOn == true)
        {
            $("#DepositsViewModeSwitch").dxSwitch("instance").option("value", true);
        }
    });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Profile/Deposits/SessionClear",
            cache: false
        });
        CloseRightPane();
        ClearLeftPane();
        CloseLeftPane();
        ClearAllReferences_DepositsProfile();
    });
        function ClearAllReferences_DepositsProfile() {
            Deposits_ShowHorizontalBar = null;
            Deposits_SetVouchingModeOn = null;
            UserType_DepositsPrf = null;
            OthrDeposit_IsVouchingMode = null;
            OthrDeposit_FocusedRowBeforeRefresh = null;
            DepositsID = null;
            Deposits_EditDate = null;
            Deposits_AddDate = null;
            Deposits_AddBy = null;
            Deposits_EditBy = null;
            Deposits_ActionStatus = null;
            Deposits_ActionDate = null;
            Deposits_ActionBy = null;
            Deposits_ViewMode = null;
            DepositsInfo_IsDetailRowExpanded = null;
            DepositsInfo_NestedRecord_FocusedRowIndex = null;
            DepositsInfo_NestedGrid_AccessID = null;
            DepositsInfo_AtachmentID = null;
            DepositsInfo_FileName = null;
            DepositsInfo_ParamMandatory = null;
            DepositsInfo_FromDateLabel = null;
            DepositsInfo_ToDateLabel = null;
            DepositsInfo_DescriptionLabel = null;
            DepositsInfo_Doc_ID = null;
            DepositsInfo_Doc_Category = null;
            DepositsInfo_MasterRowRecID = null;
            DepositsInfo_MasterRowMID = null;
            DepositsInfo_NestedRowMapID = null;
            DepositsInfo_reason = null;
            DepositsInfo_Attachment_RecStatus = null;
            DepositsInfo_NestedRowReasonID = null;
            DepositsInfo_NestedRowKeyValue = null;

            ClearAllReferences("DepositsProfile_ClearReferences");
        }

    function OnDepositsCellClick(event, cell,col, row)
    {
        if (UserType_DepositsPrf == "AUDITOR" || UserType_DepositsPrf == "SUPERUSER")
        {
            if (event.button == 0)
            {
                if (cell.style.backgroundColor.length > 0)
                {
                    cell.style.backgroundColor = "";
                }
                else
                {
                    cell.style.backgroundColor = 'skyblue';
                }
            }
        }
    }
    function Deposits_ViewSwitch_ValueChange(e)
    {
        Deposits_ViewMode = e.value == false ? "Default" : "Compact";
        if (Deposits_SetVouchingModeOn == true)
        {
            $("#OthrDepositVouchingModeSwitch").dxSwitch("instance").option("value", true);
        }
        else
        {
            DepositsListGrid.CollapseAllDetailRows();
        }
    }

    function OthrDeposit_VouchingSwitch_ValueChange(e)
    {
        OthrDeposit_IsVouchingMode = e.value;
        if (Deposits_SetVouchingModeOn == true) {
            Deposits_SetVouchingModeOn = false;
        }
        else {
            DepositsPrf_FAB.SetVisible(false);
        }
        if (OthrDeposit_IsVouchingMode == true) {
            OpenRightPane();
            ClearLeftPane();
            OpenLeftPane();
        }
        else {
            DepositsPrf_FAB.SetActionContext("AddAttachmentContext", false);
            CloseRightPane();
            ClearLeftPane();
            CloseLeftPane();
        }
        DepositsListGrid_CollapseAllDetailRows();
    }
    function DepositsListGrid_CollapseAllDetailRows()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.DepositsListGrid !== 'undefined')
            {
                if (typeof window.DepositsListGrid.CollapseAllDetailRows !== 'undefined')
                {
                    if (typeof DepositsListGrid.CollapseAllDetailRows == 'function')
                    {
                        DepositsListGrid.SetFocusedRowIndex(-1);
                        DepositsListGrid.CollapseAllDetailRows();
                    }
                    else
                    {
                        alert("CollapseAllDetailRows is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        DepositsListGrid_CollapseAllDetailRows();
                        HideLoader();
                    }, Timeout100);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else
        {
            alert('window undefined')
        }
    }

    function DepositsOnInit(s, e) {
        DepositsAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            DepositsAdjustSize();
        });
    }
    var Deposits_ColumnToBeShownIndex = "";
    var Deposits_ColumnToBeHidddenIndex = "";
        function OnGridDepositsListGrid_EndCallback(s, e) {
           // DepositsAdjustSize();
            Deposits_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
            Deposits_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex;
            DepositsGridLayout = s.cpClientLayout;
           $(".DepositsListGrid_PreviewRow").hide();
            GetSessionStorage("DepositsListGrid");
            SendCustomArgs_FilterControl(s, e);
            if (e.command == "REFRESH" && OthrDeposit_IsVouchingMode == true)
            {
                s.SetFocusedRowIndex(-1);
                s.SetFocusedRowIndex(OthrDeposit_FocusedRowBeforeRefresh);
            }
    }
    function DepositsAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try{DepositsListGrid.SetHeight(height);} catch (err) { }
    }
    function DepositschangeMode() {
        ShowLoader();
        if (Deposits_ShowHorizontalBar == 0) {
            Deposits_ShowHorizontalBar = 1;
            $("#DepositsToggleScrollBar").find("span").text("Default Data");
            $("#DepositsToggleScrollBar").width(110);
        }
        else {
            Deposits_ShowHorizontalBar = 0;
            $("#DepositsToggleScrollBar").find("span").text("Full Data");
            $("#DepositsToggleScrollBar").width(90);
        }
        $.ajax({
            url: '@Url.Action("Frm_Deposits_Info_Grid", "Deposits")',
            type: "GET",
            data: { ShowHorizontalBar: Deposits_ShowHorizontalBar, VouchingMode: OthrDeposit_IsVouchingMode, ViewMode: Deposits_ViewMode, ColumnToBeHidddenIndex: Deposits_ColumnToBeHidddenIndex, ColumnToBeShownIndex: Deposits_ColumnToBeShownIndex  },
            success: function (res) {
                $("#DepositsreloadPartialView").html(res);
                $(".DepositsListGrid_PreviewRow").hide();
                GetSessionStorage("DepositsListGrid");
            }
        });
        HideLoader();
    }
    function DepositsAjaxSuccessForm(data) {
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
        else {
            //IsSucessPopup = true;
            DevExpress.ui.dialog.alert(data.Message, "Success");
            $("#popup_frm_Deposits_Window").dxPopup("hide");
            DepositsListGrid.Refresh();
            //IsSucessPopup = false;
        }
    }



    function Deposits_dblclickEdit(s, e) {
        //var key = s.GetRowKey(s.GetFocusedRowIndex());
        //DepositsListGrid.GetValuesOnCustomCallback({ key: key }, DepositsOnGetRowValues);
        //if (DepositsID != null || DepositsID == 'undefined' || DepositsID == undefined)
        //    OnDepositsEditClick();
    }

    function DepositsGrid_BeginCallBack(s, e) {
        OthrDeposit_FocusedRowBeforeRefresh = s.GetFocusedRowIndex();
        e.customArgs["command"] = e.command;
        e.customArgs["VouchingMode"] = OthrDeposit_IsVouchingMode;
        e.customArgs["ColumnToBeShownIndex"] = Deposits_ColumnToBeShownIndex;
        e.customArgs["ColumnToBeHidddenIndex"] = Deposits_ColumnToBeHidddenIndex;
        e.customArgs["ViewMode"] = Deposits_ViewMode;
    }

    function OnDepositsGridFocusedRowChanged(s, e)
    {
        if (s.GetFocusedRowIndex() >= 0)
        {
            if (OthrDeposit_IsVouchingMode)
            {
                DepositsPrf_FAB.SetVisible(true);
                DepositsPrf_FAB.SetActionContext("VouchingActionContext", true);
            }
            s.GetRowValues(s.GetFocusedRowIndex(), 'ID;Edit_Date;Add_Date;Add_By;Edit_By;Action_Status;Action_Date;Action_By', DepositsOnGetRowValues);
        }
        else
        {
            DepositsID = null;
        }
    }

    function DepositsOnGetRowValues(values) {
        DepositsID = values[0];
        Deposits_EditDate = values[1];
        Deposits_AddDate = values[2];
        Deposits_AddBy = values[3];
        Deposits_EditBy = values[4];
        Deposits_ActionStatus = values[5];
        Deposits_ActionDate = values[6];
        Deposits_ActionBy = values[7];
        Deposits_UpdateFooterDetail(DepositsID, Deposits_ActionStatus, Deposits_AddDate, Deposits_AddBy,
            Deposits_ActionDate, Deposits_ActionBy, Deposits_EditDate, Deposits_EditBy);
        if (OthrDeposit_IsVouchingMode == true) {
            OpenLeftPane();
            LoadDocumentAndAdditionalInfoInLeftPane("Profile", "Deposits", "LeftPaneContent", DepositsID, OthrDeposit_IsVouchingMode, "" );
        }
    }

    function Deposits_UpdateFooterDetail(DepositsID, Deposits_Action_Status, Deposits_Add_Date, Deposits_Add_By, Deposits_Action_Date, Deposits_Action_By, Deposits_Edit_Date, Deposits_Edit_By) {
        Deposits_Action_Date = Deposits_Action_Date != "" && Deposits_Action_Date != null ? Deposits_Action_Date : Deposits_Action_Date;
        Deposits_Edit_Date = Deposits_Edit_Date != "" && Deposits_Edit_Date != null ? Deposits_Edit_Date : Deposits_Edit_Date;
        Deposits_Add_Date = Deposits_Add_Date != "" && Deposits_Add_Date != null ? Deposits_Add_Date : Deposits_Add_Date;
        $.ajax({
            type: 'GET',
            url: "/Profile/Deposits/CreationDetail",
            data: {
                Xrow: DepositsID, Action_Status: Deposits_Action_Status, Add_Date: Deposits_Add_Date,
                Add_By: Deposits_Add_By, Action_Date: Deposits_Action_Date, Action_By: Deposits_Action_By, Edit_Date: Deposits_Edit_Date, Edit_By: Deposits_Edit_By
            },
            cache: false,
            success: function (DepositsLbl_result) {
                $('#Deposits_Lbl_ActionOn').text(DepositsLbl_result.Lbl_StatusOn);
                $('#Deposits_Lbl_ActionBy').text(DepositsLbl_result.Lbl_StatusBy);
                $('#DepositsLbl_Status').text(DepositsLbl_result.Lbl_Status);
                $('#DepositsLbl_Create').text(DepositsLbl_result.Lbl_Create);
                $('#DepositsLbl_Modify').text(DepositsLbl_result.Lbl_Modify);
                if (DepositsLbl_result.Lbl_Status_Color != "") {
                    $('#DepositsLbl_Status').css('color', DepositsLbl_result.Lbl_Status_Color);
                }
                if (DepositsLbl_result.Pic_Status != "") {
                    $('#Deposits_LockICON').css('class', DepositsLbl_result.Pic_Status);
                }

            }
        });
    }

    function OnDepositsNewClick() {
        if ("@Deposits_AddRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        IsViewPopup = false;
        //  OpenDynamicPopup("New ~ other Deposits", "", "680", "460")
        $("#popup_frm_Deposits_Window").dxPopup("show");
        $("#popup_frm_Deposits_Window").dxPopup("instance").option("title", "New ~ Deposits");
        $("#Depositsresult").html('');
        ShowLoader();
        $("#Depositsresult").load("@Url.Action("Frm_Deposits_Window", "Deposits", new { @area = "Profile" })?ActionMethod=New", function () {
            HideLoader();
        });
    }

    function OnDepositsEditClick() {
        if ("@Deposits_UpdateRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        //IsViewPopup = false;
        if (DepositsID == 'undefined' || DepositsID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/Deposits/DataNavigation",
            data: { ActionMethod: "Edit", id: DepositsID, Edit_Date: encodeURIComponent(Deposits_EditDate) },
            cache: false,
            success: function (Deposits_Edit_ButtonClick_result) {
                if (Deposits_Edit_ButtonClick_result.result == "true" || Deposits_Edit_ButtonClick_result.result == true) {
                    $("#popup_frm_Deposits_Window").dxPopup("show");
                    $("#popup_frm_Deposits_Window").dxPopup("instance").option("title", "Edit ~ Deposits");
                    $("#Depositsresult").html('');
                    ShowLoader();
                    $("#Depositsresult").load("@Url.Action("Frm_Deposits_window", "Deposits", new { @area = "Profile" })?ActionMethod=" + "Edit" + "&ID=" + DepositsID + "&EditedOn=" + encodeURIComponent(Deposits_EditDate), function () {
                        HideLoader();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(Deposits_Edit_ButtonClick_result.Message);
                    DepositsListGrid.Refresh();
                }
            }
        });
    }

    function OnDepositsViewClick() {
        if ("@Deposits_ViewRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        if (DepositsID == 'undefined' || DepositsID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/Deposits/DataNavigation",
            data: { ActionMethod: "View", id: DepositsID, Edit_Date: Deposits_EditDate.toISOString() },
            cache: false,
            success: function (Deposits_View_ButtonClick_result) {
                if (Deposits_View_ButtonClick_result.result == "true" || Deposits_View_ButtonClick_result.result == true) {
                    //IsViewPopup = true;
                    $("#popup_frm_Deposits_Window").dxPopup("show");
                    $("#popup_frm_Deposits_Window").dxPopup("instance").option("title", "View ~ Deposits");
                    $("#Depositsresult").html('');
                    ShowLoader();
                    $("#Depositsresult").load("@Url.Action("Frm_Deposits_window", "Deposits", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + DepositsID + "&EditedOn=" + encodeURIComponent(Deposits_EditDate), function () {
                        HideLoader();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(Deposits_View_ButtonClick_result.Message);
                    DepositsListGrid.Refresh();
                }
            }
        });
    }

    function OnDepositsDeleteClick() {
        if ("@Deposits_DeleteRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        //IsViewPopup = true;
        if (DepositsID == 'undefined' || DepositsID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $("#popup_frm_Deposits_Window_Close").dxPopup("hide");

                $.ajax({
                    type: 'GET',
                    url: "/Profile/Deposits/DataNavigation",
                    data: { ActionMethod: "Delete", id: DepositsID, Edit_Date: Deposits_EditDate.toISOString() },
                    cache: false,
                    success: function (Deposits_Delete_ButtonClick_result) {
                        if (Deposits_Delete_ButtonClick_result.result == "true" || Deposits_Delete_ButtonClick_result.result == true) {
                            $("#popup_frm_Deposits_Window").dxPopup("show");
                            $("#popup_frm_Deposits_Window").dxPopup("instance").option("title", "Delete ~ Deposits");
                            ShowLoader();
                            $("#Depositsresult").load("@Url.Action("Frm_Deposits_window", "Deposits", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + DepositsID + "&EditedOn=" + encodeURIComponent(Deposits_EditDate), function () {
                                HideLoader();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(Deposits_Delete_ButtonClick_result.Message);
                            DepositsListGrid.Refresh();
                        }
                    }
                });
            }
        });
    }

    function OnDepositsListPreviewClick() {
        if ("@Deposits_ExportRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        @*$("#Deposits_report_modal").dxPopup("show");
        $("#Deposits_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#Deposits_report_modal").html('');
        ShowLoader();
        $("#Deposits_report_modal_result").load("@Url.Action("Frm_Export_Options", "Deposits", new { @area = "Profile" })", function () {
            HideLoader();
        });*@
        OpenPopup("Deposits_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "Deposits", new { @area = "Profile" })", "auto", 125, false, null);
    }

    function GetSelectedFieldValuesCallback(values) {
        SelectedRows.BeginUpdate();
        try {
            SelectedRows.ClearItems();
            for (var i = 0; i < values.length; i++) {
                SelectedRows.AddItem(values[i]);
            }
        } finally {
            SelectedRows.EndUpdate();
        }
        $("#count").html(gvRowSelection.GetSelectedRowCount());

    }

    function DepositsContextMenuFunction(s, e) {
        if (e.item.name == 'New') {
            OnDepositsNewClick();
        }
        if (e.item.name == 'Close') {
            closeProfile_Deposits();
        }
        else if (e.item.name == 'Edit') {
            OnDepositsEditClick();
        }
        else if (e.item.name == 'Delete') {
            OnDepositsDeleteClick();
        }
        else if (e.item.name == 'View') {
            OnDepositsViewClick();
        }
        else if (e.item.name == 'ListPreview') {
            OnDepositsListPreviewClick();
        }
        else if (e.item.name == 'Discontinue') {
            OnDepositsDiscontinueClick();
        }
        else if (e.item.name == 'continue') {
            OnDepositscontinueClick();
        }
        else if (e.item.name == 'Refresh') {
            DepositsListGrid.Refresh();
        }

    }
        function closeProfile_Deposits() {
            $(".TabPanalMenu-tabs .active span").click();

        }

</script>

    <script>
    var DepositsInfo_IsDetailRowExpanded = false;
    var DepositsInfo_NestedRecord_FocusedRowIndex = -1;
    var DepositsInfo_NestedGrid_AccessID;
    var DepositsInfo_AtachmentID;
    var DepositsInfo_FileName;
    var DepositsInfo_ParamMandatory;
    var DepositsInfo_FromDateLabel;
    var DepositsInfo_ToDateLabel;
    var DepositsInfo_DescriptionLabel;
    var DepositsInfo_Doc_ID;
    var DepositsInfo_Doc_Category;
    var DepositsInfo_MasterRowRecID;
    var DepositsInfo_MasterRowMID;
    var DepositsInfo_NestedRowMapID;
    var DepositsInfo_reason;
    var DepositsInfo_Attachment_RecStatus;
    var DepositsInfo_NestedRowReasonID;
    var DepositsInfo_NestedRowKeyValue;

    function On_DepositsProfile_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (DepositsInfo_ParamMandatory == 1)
            {
                AddAttachment(DepositsInfo_MasterRowRecID, "Profile_Deposit", DepositsInfo_Doc_ID, DepositsInfo_Doc_Category, DepositsInfo_ParamMandatory, DepositsInfo_FromDateLabel, DepositsInfo_ToDateLabel, DepositsInfo_DescriptionLabel, "DepositsProfileAttachment", null, "DepositsListGrid", DepositsInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(DepositsInfo_MasterRowRecID, "Profile_Deposit", DepositsInfo_Doc_ID, "DepositsProfileAttachment", "DepositsListGrid", DepositsInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (DepositsInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(DepositsInfo_MasterRowRecID, "Profile_Deposit", DepositsInfo_AtachmentID, DepositsInfo_ParamMandatory, DepositsInfo_FromDateLabel, DepositsInfo_ToDateLabel, DepositsInfo_DescriptionLabel, "DepositsProfileAttachment", null, "DepositsListGrid", DepositsInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(DepositsInfo_MasterRowRecID, "Profile_Deposit", DepositsInfo_AtachmentID, DepositsInfo_ParamMandatory, DepositsInfo_FromDateLabel, DepositsInfo_ToDateLabel, DepositsInfo_DescriptionLabel, null, "DepositsListGrid", DepositsInfo_NestedGrid_AccessID, DepositsInfo_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            ViewDocument(DepositsInfo_AtachmentID, DepositsInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(DepositsInfo_MasterRowRecID, "Profile_Deposit", "Deposits Information", "DepositsListGrid", DepositsInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (DepositsInfo_Doc_Category.toLowerCase() == "others")
            {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else
            {
                AttachmentAddReason(DepositsInfo_MasterRowRecID, DepositsInfo_NestedRowMapID, "Profile_Deposit", "DepositsListGrid", DepositsInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(DepositsInfo_MasterRowRecID, DepositsInfo_NestedRowMapID, "Profile_Deposit", "DepositsListGrid", DepositsInfo_NestedGrid_AccessID, DepositsInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(DepositsInfo_MasterRowRecID, DepositsInfo_NestedRowMapID, "DepositsListGrid", DepositsInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction")
        {
            DepositsPrf_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit")
        {
            if (DepositsInfo_Nested_Doc_Status == "")
            {
                DepositsPrf_FAB.SetActionContext("AutoItemContext", true);
            }
            if (DepositsInfo_Nested_Doc_Status == "NO")
            {
                DepositsPrf_FAB.SetActionContext("EditItemContext", true);
            }
            if (DepositsInfo_Nested_Doc_Status == "YES")
            {
                DepositsPrf_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept")
        {
            DepositsInfo_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject")
        {
            DepositsInfo_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks")
        {
            DepositsInfo_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc") {

            OnDepositsInfo_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc") {

            OnDepositsInfo_RejectDoc();
        }
    }
    function OnDepositsInfo_RejectDoc() {
        if (DepositsInfo_AtachmentID == null || DepositsInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(DepositsInfo_AtachmentID, "DepositsListGrid", DepositsInfo_NestedGrid_AccessID);
    }
    function OnDepositsInfo_AcceptDoc() {
        if (DepositsInfo_AtachmentID == null || DepositsInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(DepositsInfo_AtachmentID, "DepositsListGrid", DepositsInfo_NestedGrid_AccessID);
    }
    function DepositsInfo_AcceptwithoutRemarks()
    {
        var Recid;
        if (DepositsInfo_IsDetailRowExpanded == true || OthrDeposit_IsVouchingMode == true)
        {
            if (DepositsInfo_MasterRowRecID == null || DepositsInfo_MasterRowRecID == "")
            {
                Recid = DepositsID;
            }
            else
            {
                Recid = DepositsInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = DepositsID;
        }
        Entry_AcceptwithoutRemarks(Recid, "Profile_Deposit", "DepositsListGrid", DepositsInfo_AtachmentID, DepositsInfo_NestedRowReasonID, DepositsInfo_NestedRowKeyValue);
    }
    function DepositsInfo_AcceptRejectVoucher(_actionMethod)
    {
        var Recid;
        if (DepositsInfo_IsDetailRowExpanded == true || OthrDeposit_IsVouchingMode == true)
        {
            if (DepositsInfo_MasterRowRecID == null || DepositsInfo_MasterRowRecID == "")
            {
                Recid = DepositsID;
            }
            else
            {
                Recid = DepositsInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = DepositsID;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_Deposit", "DepositsListGrid",DepositsInfo_AtachmentID, DepositsInfo_NestedRowReasonID, DepositsInfo_NestedRowKeyValue);
    }
    function OnDepositsListGridNestedFocusedRowChange(s, e)
    {
        if (DepositsInfo_IsDetailRowExpanded == true || OthrDeposit_IsVouchingMode == true)
        {
            DepositsInfo_NestedRecord_FocusedRowIndex = s.GetFocusedRowIndex();
            if (DepositsInfo_NestedRecord_FocusedRowIndex >= 0)
            {
                ShowLoader();
                DepositsInfo_NestedGrid_AccessID = s.uniqueID;
                s.GetRowValues(s.GetFocusedRowIndex(), 'Doc_Status;Params_Mandatory;LABEL_FROM_DATE;LABEL_TO_DATE;LABEL_DESCRIPTION;Document_Category;Document_ID;ATTACH_ID;TxnID;TxnMID;MAP_ID;Reason;ATTACH_FILE_NAME;Attachment_Action_Status;UniqueID;ReasonID', OnDepositsInfo_GetGridRowValues);
            }
            else
            {
                DepositsPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }
    function OnDepositsInfo_GetGridRowValues(values)
    {
        HideLoader();
        if (values[14] != null)
        {
            DepositsPrf_FAB.SetVisible(true);
            DepositsInfo_Nested_Doc_Status = values[0];
            if (OthrDeposit_IsVouchingMode == true)
            {
                DepositsPrf_FAB.SetActionContext("AuditActionContext", true);
            }
            else
            {
                if (DepositsInfo_Nested_Doc_Status == "")
                {
                    DepositsPrf_FAB.SetActionContext("AutoItemContext", true);
                }
                else if (DepositsInfo_Nested_Doc_Status == "NO")
                {
                    DepositsPrf_FAB.SetActionContext("EditItemContext", true);
                }
                else if (DepositsInfo_Nested_Doc_Status == "YES")
                {
                    DepositsPrf_FAB.SetActionContext("actionItemContext", true);
                }
            }
            DepositsInfo_ParamMandatory = values[1];
            DepositsInfo_FromDateLabel = values[2];
            DepositsInfo_ToDateLabel = values[3];
            DepositsInfo_DescriptionLabel = values[4];
            DepositsInfo_Doc_Category = values[5];
            DepositsInfo_Doc_ID = values[6];
            DepositsInfo_AtachmentID = values[7];
            IndexAttachmentID = DepositsInfo_AtachmentID;
            DepositsInfo_MasterRowRecID = values[8];
            DepositsInfo_MasterRowMID = values[9];
            DepositsInfo_NestedRowMapID = values[10];
            DepositsInfo_reason = values[11];
            DepositsInfo_FileName = values[12];
            DepositsInfo_Attachment_RecStatus = values[13];
            DepositsInfo_NestedRowKeyValue = values[14];
            if (OthrDeposit_IsVouchingMode == true)
            {
                if (DepositsInfo_FileName != null && DepositsInfo_FileName.length > 0)
                {
                    ViewDocument(DepositsInfo_AtachmentID, DepositsInfo_FileName, "DepositsPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else
                {
                    CloseRightPane();
                    ClearRightPane();
                }
            }
        }
        DepositsInfo_NestedRowReasonID = values[15];
        IndexAttachmentReasonID = DepositsInfo_NestedRowReasonID;
    }
    function DepositsGrid_Nested_BeginCallBack(s, e)
    {
        e.customArgs["ShowHorizontalBar"] = Deposits_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = OthrDeposit_IsVouchingMode;
        e.customArgs["command"] = e.command;
    }
    function DepositsGrid_DetailRowExpanding(s, e)
    {
        DepositsInfo_IsDetailRowExpanded = true;
        s.SetFocusedRowIndex(e.visibleIndex);
        var pane = Mainspliter.GetPaneByName('RightPane');
        if (OthrDeposit_IsVouchingMode == true)
        {
            pane.Expand();
        }
        else
        {
            pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
    }
    function DepositsGrid_DetailRowCollapsing(s, e)
    {
        DepositsInfo_IsDetailRowExpanded = false;
        s.SetFocusedRowIndex(e.visibleIndex);
        if (OthrDeposit_IsVouchingMode == true)
        {
            if (Mainspliter.GetPaneByName('RightPane').IsCollapsed() == false)
            {
                CollapsePane(Mainspliter.GetPaneByName('RightPane'), Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
        else
        {
            DepositsPrf_FAB.SetVisible(false);
        }
    }
    </script>
    @*attachment and nested grid*@

</div>