@using DevExtreme.AspNet.Mvc
@*@model ConnectOneMVC.Areas.Facility.Models.printparams*@
@{
    ViewBag.Title = "BalanceAndAccountStatement";
    Layout = "~/Views/Shared/_NoLoginDevExtremeLayout.cshtml";
}
@*<script src="@Url.Content("~/DX.ashx?jsfileset=~/Scripts/jquery-3.6.0.min.js;~/Scripts/jquery.validate.min.js;~/Scripts/jquery.validate.unobtrusive.min.js;")" type="text/javascript"></script>*@
<h2>Balance And Account Statement Enquiry</h2>
    <input type="radio" id="bob_bank" name="bank_radio" value="BOB">
    <label for="bob_bank">BOB</label>
    <input type="radio" id="sbi_bank" name="bank_radio" value="SBI">
    <label for="sbi_bank">SBI</label>
    <div id="bob" style="display:none">  
        <h1>BOB</h1>
        <button id="apiButton" onclick="authclick()">Get Authentication Key</button>
        <br />

        <p>Encrypted Data of Authentication: <span id="encryptedData_Auth"></span></p>
        <br />
        <p>Authentication Token: <span id="auth_Token"></span></p>
        <br />

        <br />
        <br />
        <hr />
        <label>Account Number</label><textarea id="acno_balanceEnquiry" style="resize: horizontal; width: 200px;">07590100022904</textarea>26220100001136
        <button id="acctBalance" onclick="acctBalance()">Get Account Balance</button>
        <br />
        <p>Encrypted Data of the Balance: <span id="bal_encData"></span></p>
        <br />
        <p>Token of the Balance: <span id="bal_Token"></span></p>
        <br />
        <p>Balance: <span id="balance_balAPI"></span></p>
        <br />
        <p>account no: <span id="ac_no"></span></p>
        <br />
        <br />
        <hr />


        <label>Account Number: </label><textarea id="acno_acctStmt" style="resize: horizontal; width: 200px;">07590100022904</textarea>26220100001136
        <br />
        <label> From Date: </label><textarea id="fromdate_acctStmt" style="resize: horizontal; width: 200px;">15-10-2025</textarea>
        <br />
        <label>   To Date: </label><textarea id="todate_acctStmt" style="resize: horizontal; width: 200px;">15-11-2025</textarea>
        <br />

        <button id="acctstatement" onclick="acctStatement()">Get Account Statement</button>
        <button id="acctstatementresponse" onclick="acctStatementResponse()">Get Response</button>


        <br />
        <br />
        <p>Account Statement for the given period: <span id="acct_stmt"></span></p>
        <br />
    </div>
    <div id="sbi" style="display:none">
        <h1>SBI</h1>
        <button id="apiButton_sbi" onclick="authclick_sbi()">Get Authentication Key</button>
        <br />
        <p>Encrypted Data of Authentication: <span id="encryptedData_Auth_sbi"></span></p>
        <p>Authentication Token: <span id="auth_Token_sbi"></span></p>
        <br />
        <hr />
        <label>Account Number</label><textarea id="acno_balanceEnquiry_sbi" style="resize: horizontal; width: 200px;">30001325287</textarea>26220100001136
        <button id="acctBalance_sbi" onclick="acctBalance_sbi()">Get Account Balance</button>
        <br />
        <p>Encrypted Data of the Balance: <span id="bal_encData_sbi"></span></p>
        <p>Balance: <span id="balance_balAPI_sbi"></span></p>
        <hr />
        <label>Account Number: </label><textarea id="acno_acctStmt_sbi" style="resize: horizontal; width: 200px;">30001325287</textarea>26220100001136
        <br />
        <label> From Date: </label><textarea id="fromdate_acctStmt_sbi" style="resize: horizontal; width: 200px;">01-02-2024</textarea>
        <br />
        <label>   To Date: </label><textarea id="todate_acctStmt_sbi" style="resize: horizontal; width: 200px;">03-02-2024</textarea>
        <br />

        <button id="acctstatement_sbi" onclick="acctStatement_sbi()">Get Account Statement</button>
        <br />
        <p>Encrypted Data of the Statement: <span id="acct_stmt_encData_sbi"></span></p><br>
        <p>Account Statement for the given period: <span id="acct_stmt_sbi"></span></p><br>
        <p>EncryptedRequest: <span id="encReq_sbi"></span></p><br>
        <p>EncryptedResponse: <span id="encRes_sbi"></span></p>
        <br />
        <hr />
        <label>Account Number: </label><textarea id="acno_acctStmt_download_sbi" style="resize: horizontal; width: 200px;">30001325287</textarea>
        <br />
        <label> Reference NO: </label><textarea id="refno_acctStmt_download_sbi" style="resize: horizontal; width: 200px;">ACST03022025000101456</textarea>
        <br />
        <button id="acctstatement_download_sbi" onclick="acctStatement_download_sbi()">Download Statement</button>
        <br />
        <p>Encrypted Data of the Statement Download: <span id="acct_stmt_encData_download_sbi"></span></p><br>
        <p>Downloaded: <span id="acct_stmt_download_sbi"></span></p>
        <hr />
        <div id="BankStatement_DG_sbi"></div>
    </div>

<script>
    $(document).ready(function () {
        $('input[name="bank_radio"]').on("change", function (evt) {
            $("#sbi").hide();
            $("#bob").hide();
            if (evt.target.id == "sbi_bank") {
                $("#sbi").show();
            }
            if (evt.target.id == "bob_bank") {
                $("#bob").show();
            }
        })
    })

</script>
@*BOB*@
<script>
    function authclick() {
        debugger;
        authclick_new();
    }
    function authclick_new() {
        debugger;
        var accnt_Number = document.getElementById("acno_balanceEnquiry").value;//"07590100022904";//"26220100001136"; //"03290100005239"
        $.ajax({
            type: 'POST',
             @*url: '@Url.Action("AuthenticationCall", "BankEnquiries", new { area = "Facility" })',*@
            url: '@Url.Action("GetAuthenticationToken", "BankAPI", new { area = "Profile" })',
            cache: false,
            data:
            {
                AccountNumber: accnt_Number,
            },
            success: function (data)
            {
              //  HideLoader();
                debugger;
                var parsedToken = JSON.parse(data)
                $("#encryptedData_Auth").text(data);
                if (parsedToken.error) {
                    $("#auth_Token").text(parsedToken.error_description)
                }
                else {
                    $("#auth_Token").text(parsedToken.access_token);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function acctBalance() {
        debugger;
        //var accnt_Number = "07590100022904";//"26220100001136"; //"03290100005239"
        var accnt_Number = document.getElementById("acno_balanceEnquiry").value
        var authToken = document.getElementById("auth_Token").innerHTML;
        $.ajax({
            type: 'POST',
            //url: '@Url.Action("AccountBalanceCall", "BankEnquiries", new { area = "Facility" })',
            url: '@Url.Action("GetAccountBalance", "BankAPI", new { area = "Profile" })',
            cache: false,

            data:
            {
                authToken :authToken,
                accountNumber: accnt_Number,
            },
            success: function (data) {
                //HideLoader();
                debugger;
                console.log(data);
                //$("#bal_encData").text(data.bal_encData);
                //$("#bal_Token").text(data.bal_Token);
                $("#balance_balAPI").text(data);
                //$("#ac_no").text(data.ac_no);
                //$("#ac_no").text(data.jsonParam.result_str);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function acctStatement()
    {
        debugger;
        var accnt_Number_accstmnt = document.getElementById("acno_acctStmt").value;//"26220100001136"; //"03290100005239"
        var fromdate_acctStmnt = document.getElementById("fromdate_acctStmt").value;//"26220100001136"; //"03290100005239"
        var todate_acctStmt = document.getElementById("todate_acctStmt").value;//"26220100001136"; //"03290100005239"
        //var accnt_Number = "07590100022904";//"26220100001136"; //"03290100005239"
        var authToken = document.getElementById("auth_Token").innerHTML;
        $.ajax({
            type: 'POST',
            //url: '@Url.Action("AccountBalanceCall", "BankEnquiries", new { area = "Facility" })',
            url: '@Url.Action("Get_Authentication_Statement", "BankAPI", new { area = "Profile" })',
            cache: false,

            data:
            {
                authToken :authToken,
                accountNumber: accnt_Number_accstmnt,
                fromDate: fromdate_acctStmnt,
                toDate: todate_acctStmt
            },
            success: function (data) {
                //HideLoader();
                debugger;
                console.log(data);
                //$("#bal_encData").text(data.bal_encData);
                //$("#bal_Token").text(data.bal_Token);
                $("#acct_stmt").text(data);
                //$("#ac_no").text(data.ac_no);
                //$("#ac_no").text(data.jsonParam.result_str);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function acctStatementResponse()
    {
             var accnt_Number_accstmnt = document.getElementById("acno_acctStmt").value;//"26220100001136"; //"03290100005239"
        var fromdate_acctStmnt = document.getElementById("fromdate_acctStmt").value;//"26220100001136"; //"03290100005239"
        var todate_acctStmt = document.getElementById("todate_acctStmt").value;//"26220100001136"; //"03290100005239"
        //var accnt_Number = "07590100022904";//"26220100001136"; //"03290100005239"
        var authToken = document.getElementById("auth_Token").innerHTML;
        $.ajax({
            type: 'POST',
            //url: '@Url.Action("AccountBalanceCall", "BankEnquiries", new { area = "Facility" })',
            url: '@Url.Action("GetAccountStatementResponse", "BankAPI", new { area = "Profile" })',
            cache: false,

            data:
            {
                authToken :authToken,
                AccountNumber: accnt_Number_accstmnt,
                fromDate: fromdate_acctStmnt,
                toDate: todate_acctStmt
            },
            success: function (data)
            {
                //HideLoader();
                debugger;
                console.log(data);
                //$("#bal_encData").text(data.bal_encData);
                //$("#bal_Token").text(data.bal_Token);
                $("#acct_stmt").text(data);
                //$("#ac_no").text(data.ac_no);
                //$("#ac_no").text(data.jsonParam.result_str);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }

</script>
@* SBI *@
<script>
    //41866719821
    function authclick_sbi()
    {
        ShowLoader();
        var accnt_Number = document.getElementById("acno_balanceEnquiry_sbi").value;//"07590100022904";//"26220100001136"; //"03290100005239"
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AuthenticationService_SBI", "BankAPI", new { area = "Profile" })',
            cache: false,
            data:
            {
                AccountNumber: accnt_Number,
            },
            success: function (data)
            {
                HideLoader();
                $("#encryptedData_Auth_sbi").text(JSON.stringify(data.jsonParam));
                $("#auth_Token_sbi").text(data.jsonParam.responseData);
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                HideLoader();
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function acctStatement_sbi()
    {
        ShowLoader();
        var accnt_Number_accstmnt = document.getElementById("acno_acctStmt_sbi").value;
        var fromdate_acctStmnt = document.getElementById("fromdate_acctStmt_sbi").value;
        var todate_acctStmt = document.getElementById("todate_acctStmt_sbi").value;
        var authToken = document.getElementById("auth_Token_sbi").innerHTML;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateStatement_SBI", "BankAPI", new { area = "Profile" })',      
            cache: false,
            data:
            {
                AccessToken :authToken,
                AccNo: accnt_Number_accstmnt,
                FromDate: fromdate_acctStmnt,
                ToDate: todate_acctStmt
            },
            success: function (data)
            {
                HideLoader();
                console.log(data);
                $("#acct_stmt_sbi").text(data.jsonParam.responseData);
                $("#acct_stmt_encData_sbi").text(JSON.stringify(data.jsonParam));
                $("#encReq_sbi").text(data.jsonParam.encryptedRequest)
                $("#encRes_sbi").text(data.jsonParam.encryptedResponse)
                if (data.jsonParam.responseData) {
                    plotStatementGrid(data.jsonParam.responseData)
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function acctBalance_sbi()
    {
        ShowLoader();
        var accnt_Number = document.getElementById("acno_balanceEnquiry_sbi").value
        var authToken = document.getElementById("auth_Token_sbi").innerHTML;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AccountBalance_SBI", "BankAPI", new { area = "Profile" })',
            cache: false,
            data:
            {
                AccessToken :authToken,
                AccNo: accnt_Number,
            },
            success: function (data)
            {
                HideLoader();
                console.log(data);
                $("#bal_encData_sbi").text(JSON.stringify(data.jsonParam));
                $("#balance_balAPI_sbi").text(data.jsonParam.responseData);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function acctStatement_download_sbi()
    {
        ShowLoader();
        var accnt_Number_accstmnt = document.getElementById("acno_acctStmt_download_sbi").value;
        var refno_acctStmnt = document.getElementById("refno_acctStmt_download_sbi").value;
        var authToken = document.getElementById("auth_Token_sbi").innerHTML;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DownloadStatement_SBI", "BankAPI", new { area = "Profile" })',
            cache: false,
            data:
            {
                AccessToken :authToken,
                AccNo: accnt_Number_accstmnt,
                RefNo: refno_acctStmnt
            },
            success: function (data)
            {
                HideLoader();
                console.log(data);
                $("#acct_stmt_download_sbi").text(data.jsonParam.responseData);
                $("#acct_stmt_encData_download_sbi").text(JSON.stringify(data.jsonParam));
                if (data.jsonParam.responseData) {
                    plotStatementGrid(data.jsonParam.responseData)
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function plotStatementGrid(statementData)
    {
        debugger
        var objAssetSelection = $.parseJSON(statementData);
        objAssetSelection.reverse();

        $("#BankStatement_DG_sbi").dxDataGrid({
            dataSource: objAssetSelection,
            //columns: [
            //    { dataField: "tranDate", caption: "Date", maxWidth: 70, dataType: "date", format: "dd-MM-yyyy" },
            //    { dataField: "tranType", caption: "Type", maxWidth: 60 },
            //    { dataField: "tranId", caption: "Transaction ID", maxWidth: 120 },
            //    { dataField: "narration", caption: "Narration", maxWidth: 200 },
            //    {
            //        dataField: "tranAmt", caption: "Amount", maxWidth: 100, format: { type: "fixedPoint", precision: 2 },
            //        alignment: "right"
            //    },
            //    { dataField: "balance", caption: "Balance", maxWidth: 100, alignment: "right" }
            //],
            //height: 650,
            //onContentReady: BankStatement_Bankacct_OnContentReady,
        });
      //  var instance = $("div[id='BankStatement_DG_sbi']").dxDataGrid("instance");
       // DxGrid_CustomDataGridListing("BankStatement_DG_sbi", 1, instance)
    }
</script>




