@using DevExtreme.AspNet.Mvc

@{ ViewBag.Title = "Center Purpose"; }

<div id="CenterPurpose_ParentDiv_dx">
    <div id="content_AB_dx" class="col-md-12 report_header_div_main">
        <div class="col-md-3 report_header_div">
            <label class="report_header_label">Center Purpose</label>
        </div>
        <div class="report_button_div">
            @(Html.DevExtreme().Button().ID("CenterPurposeNew").Text("New").Icon("add").OnClick(@<text>function() { CenterPurpose_NewClick(); }</text>))
            @(Html.DevExtreme().Button().ID("CenterPurposeEdit").Text("Edit").Icon("edit").OnClick(@<text>function() { CenterPurpose_EditClick(); }</text>))
            @(Html.DevExtreme().Button().ID("CenterPurposeDelete").Text("Delete").Icon("trash").OnClick(@<text>function() { CenterPurpose_DeleteClick(); }</text>))
            @(Html.DevExtreme().Button().ID("ExportOptionsPopupBtn").Text("Export").Icon("save").OnClick(@<text>function() { CenterPurpose_OpenListPreview(); }</text>))
            @(Html.DevExtreme().Button().ID("CenterPurposeClose").Text("Close").Icon("clear").OnClick(@<text>function() { CenterPurpose_Close(); }</text>))
        </div>
    </div>

    <div class="col-md-12 no-padding">
        <form>
            <div id="centerPurposeReloadPartialView" class="parent-table">
                @Html.Partial("Frm_Center_Purpose_Info_Grid")
            </div>
        </form>
    </div>
</div>

<div class="footer-MainBoxdiv full-width-footer" style="display:inline-block;width:100%">
    <div class="setFooterItem">
        <div class="footer-inner">
            <div class="list_footer_left_margin">
                <div class="footericon">
                    <i id="CenterPurpose_LockICON" style="color:red;font-size:35px;"></i>
                </div>
                <div class="footer-locktext">
                    <div id="CenterPurpose_Lbl_ActionOn" class="left_footertext_top"></div>
                    <div id="CenterPurpose_Lbl_ActionBy" class="left_footertext_bottom"></div>
                </div>
            </div>
            <div class="list_footer_left_margin">
                <div class="footer-text">
                    <p id="CenterPurpose_Lbl_Create" style="margin:0px" class="left_footertext_top"></p>
                    <p id="CenterPurpose_Lbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="list_footer_right_margin_consistent col-md-1">
        @*<i id="CenterPurpose_LockICON" class="fa fa-lock lock_symbol"></i>*@
    </div>
</div>

<script>

    var CenterPurpose_ID;
    var CenterPurpose_Edit_Date;

    function CenterPurpose_OnInitialized(e) {
        DxGrid_AdjustSize(e.component, $("#CenterPurpose_ParentDiv_dx .report_button_div"))
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            DxGrid_AdjustSize(e.component, $("#CenterPurpose_ParentDiv_dx .report_button_div"), "", evt)
        });
        CenterPurposeListGrid = e.component;
    }

    function CenterPurpose_OnSelectionChanged(e) {
        var selectedRowKeys = e.selectedRowKeys;
        if (selectedRowKeys != null && selectedRowKeys.length > 0) {
            CenterPurposeOnGetRowValues(e.selectedRowsData);
        }
        else {
            CenterPurpose_ID = null;
            CenterPurpose_UpdateFooterDetail(CenterPurpose_ID, CenterPurpose_Action_Date, CenterPurpose_Action_By, CenterPurpose_Action_Status, CenterPurpose_Edit_Date, CenterPurpose_Edit_By, CenterPurpose_Add_Date, CenterPurpose_Add_By);
        }
    }

    function CenterPurpose_OnCellDblClick(e) {
        if (e.rowType === 'data') {
            CenterPurpose_EditClick();
        }
        return;
    }

    function CenterPurposeOnGetRowValues(selectedData = null) {

        if (selectedData == null) {
            selectedData = CenterPurposeListGrid.getSelectedRowsData();
        }

        if (selectedData != null && selectedData.length > 0) {
            var values = selectedData[0];
            CenterPurpose_ID = values["ID"];
            CenterPurpose_Purpose = values["Purpose"];
            CenterPurpose_Active = values["Active"];
            CenterPurpose_Add_By = values["Add_By"];
            CenterPurpose_Add_Date = values["Add_Date"];
            CenterPurpose_Edit_By = values["Edit_By"];
            CenterPurpose_Edit_Date = values["Edit_Date"];
            CenterPurpose_Action_Status = values["Action_Status"];
            CenterPurpose_Action_By = values["Action_By"];
            CenterPurpose_Action_Date = values["Action_Date"];

            CenterPurpose_UpdateFooterDetail(CenterPurpose_ID, CenterPurpose_Action_Date, CenterPurpose_Action_By, CenterPurpose_Action_Status, CenterPurpose_Edit_Date, CenterPurpose_Edit_By, CenterPurpose_Add_Date, CenterPurpose_Add_By);

        }
    }

    function CenterPurpose_NewClick() {

        const Url = '/Facility/CenterPurpose/Frm_Center_Purpose_Window?ActionMethod=New'
        OpenPopup(
            "Dynamic_Content_popup",
            "New ~ Center Purpose",
            Url,
            "auto",
            500,
            false
        );
    }

    function CenterPurpose_EditClick() {

        if (!CenterPurpose_ID) {
            DevExpress.ui.dialog.alert("Please select a record to edit.", "Information");
            return;
        }

        const editDate = CenterPurpose_Edit_Date;

        $.ajax({
            type: "GET",
            url: "/Facility/CenterPurpose/Frm_Center_Purpose_Window",
            data: {
                ActionMethod: "Edit",
                ID: CenterPurpose_ID,
                REC_EDIT_ON_client: editDate
            },
            success: function (response) {
                if (response.jsonParam  && response.jsonParam.result === false) {
                    DevExpress.ui.dialog.alert(response.jsonParam.message, "Conflict Detected").done(function () {

                        if (response.jsonParam.refreshgrid) {
                            CenterPurposeListGrid.refresh();
                        }
                    });
                } else {

                    OpenPopup(
                        "Dynamic_Content_popup",
                        "Edit ~ Center Purpose",
                        null,
                        "auto",
                        500,
                        true,
                        response
                    );

                }
            },
            error: function () {
                DevExpress.ui.dialog.alert("An error occurred while processing your request.", "Error");
            }
        });
    }

    function CenterPurpose_DeleteClick() {
      
        if (!CenterPurpose_ID) {
            DevExpress.ui.dialog.alert("Please select a record to delete.", "Information");
            return;
        }

        const editDate = CenterPurpose_Edit_Date;

        $.ajax({
            type: 'GET',
            url: "/Facility/CenterPurpose/Frm_Center_Purpose_Window",
            data: {
                ActionMethod: "Delete",
                ID: CenterPurpose_ID,
                REC_EDIT_ON_client: editDate
            },
            cache: false,
            success: function (response) {

                if (response && typeof response === "object" && response.jsonParam !== undefined) {
                    DevExpress.ui.dialog.alert(response.jsonParam.message, "Center Purpose");
                    if (response.jsonParam.refreshgrid) {
                        CenterPurposeListGrid.refresh();
                    }
                    return;
                }

                OpenPopup(
                    "Dynamic_Content_popup",
                    "Delete ~ Center Purpose",
                    null,
                    "auto",
                    500,
                    true,
                    response
                );
            },
            error: function () {
                HideLoader();
                DevExpress.ui.dialog.alert("Error occurred while loading the delete view.", "Error");
            }
        });
    }

    function CenterPurpose_OnChangeStatusClick(ID, ActionType, isCurrentlyActive) {

        if (!ID) {
            DevExpress.ui.dialog.alert("Please select a record to change status.", "Information");
            return;
        }

        if (ActionType === "ACTIVATE" && isCurrentlyActive) {
            DevExpress.ui.dialog.alert("Sorry !! Status is already Active.", "Information");
            return;
        }

        if (ActionType === "DEACTIVATE" && !isCurrentlyActive) {
            DevExpress.ui.dialog.alert("Sorry !! Status is already Inactive.", "Information");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/Facility/CenterPurpose/ChangeStatus",
            data: {
                ID: ID,
                ActionType: ActionType
            },
            cache: false,
            success: function (response) {
                DevExpress.ui.dialog.alert(response.jsonParam.message, response.jsonParam.result ? "Success" : "Error", 3000);

                if (response.jsonParam.result) {
                    CenterPurposeListGrid.refresh();
                }
            },
            error: function () { DevExpress.ui.notify("Server error occurred.", "error", 3000); }
        })
    }

    function CenterPurpose_OpenListPreview() {

    OpenPopup(
        "Dynamic_Content_popup",
        "Export Option",
        '@Url.Action("Frm_Export_Options_dx", "CenterPurpose", new { area = "Facility" })',
        "auto",
        "125px"
        );

    }

    function CenterPurpose_OnContextMenuPreparing(e) {

        if (!e.items) e.items = [];
        if (e.target == "header") {
            DxGrid_HeaderContextMenu(e)
        }
        else if ((e.target == "content" && e.row && e.row.rowType == "groupFooter") || e.target == "footer") {
            DxGrid_FooterContextMenu(e);
        }
        else if (e.target == "content" && e.row && (e.row.rowType == "data" || e.row.rowType == "detailAdaptive")) {
            e.items.push(
                {
                    text: "New",
                    icon: "fa-solid fa-plus text-success",
                    onItemClick: function () {
                        CenterPurpose_NewClick();
                    }
                },
                {
                    text: "Edit",
                    icon: "fa-solid fa-pen text-info",
                    onItemClick: function () {
                        CenterPurpose_EditClick();
                    }
                },
                {
                    text: "Delete",
                    icon: "fa-solid fa-trash",
                    onItemClick: function () {
                        CenterPurpose_DeleteClick();
                    }
                },

                {
                    text: "Export",
                    icon: "fa-solid fa-file-export text-warning",
                    onItemClick: function () {
                        CenterPurpose_OpenListPreview()
                    }
                },
                {
                    text: "Change Status",
                    Icon: "fa-solid fa-bolt text-success",
                    items: [
                        {
                            text: "Activate",
                            icon: "fa-solid fa-check text-success",
                            onItemClick: function () {
                                CenterPurpose_OnChangeStatusClick(e.row.data.ID, "ACTIVATE", e.row.data.Active);
                            }
                        },
                        {
                            text: "Deactivate",
                            icon: "fa-solid fa-xmark text-danger",
                            onItemClick: function () {
                                CenterPurpose_OnChangeStatusClick(e.row.data.ID, "DEACTIVATE", e.row.data.Active);
                            }
                        }
                    ]
                },
                {
                    text: "Refresh",
                    icon: "fa-solid fa-arrow-rotate-right text-success",
                    beginGroup: true,
                    onItemClick: function () {
                        CenterPurposeListGrid.refresh();
                    }
                },
                {
                    text: "Close",
                    icon: "fa-solid fa-rectangle-xmark text-danger",
                    onItemClick: function () {
                        CenterPurpose_Close();
                    }
                }
            );
        }
        else if (e.target == "content" && e.row == void 0) {
            e.items = [
                {
                    text: "Refresh",
                    icon: "fa-solid fa-arrow-rotate-right text-success",
                    beginGroup: true,
                    onItemClick: function () {
                        CenterPurposeListGrid.refresh();
                    }
                },
                {
                    text: "Close",
                    icon: "fa-solid fa-rectangle-xmark text-danger",
                    onItemClick: function () {
                        CenterPurpose_Close();
                    }
                }
            ]
        }
    }

    function CenterPurpose_UpdateFooterDetail(CenterPurpose_ID, CenterPurpose_Action_Date, CenterPurpose_Action_By, CenterPurpose_Action_Status, CenterPurpose_Edit_Date, CenterPurpose_Edit_By, CenterPurpose_Add_Date, CenterPurpose_Add_By) {

        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Lbl_ActionOn = "";
        var Lbl_ActionBy = "";
        var StatusStr = "";

        CenterPurpose_Edit_Date = (moment(CenterPurpose_Edit_Date).format("DD-MM-YYYY HH:mm:ss"));
        CenterPurpose_Action_Date = (moment(CenterPurpose_Action_Date).format("DD-MM-YYYY HH:mm:ss"));
        CenterPurpose_Add_Date = (moment(CenterPurpose_Add_Date).format("DD-MM-YYYY HH:mm:ss"));

        Status = CenterPurpose_Action_Status;

        StatusStr = Status == "Locked" ? "Locked" : Status == null ? null : "UnLocked";

        if (Status && Status.toUpperCase() == "LOCKED") {
            Lbl_Status = "Completed";
            Lbl_Status_Color = "blue";
            Pic_Status = "fa fa-lock";
        }
        else {
            Pic_Status = "fa fa-unlock";
            Lbl_Status = Status;
            if (Status && Status.toUpperCase() == "COMPLETED") {
                Lbl_Status_Color = "green";
            }
            else {
                Lbl_Status_Color = "red";
            }
        }

        if (CenterPurpose_Add_Date) {
            Lbl_Create = "Add On: " + CenterPurpose_Add_Date + ", By: " + CenterPurpose_Add_By;
        }
        else {
            Lbl_Create = "";
        }

        if (CenterPurpose_Edit_Date) {
            Lbl_Modify = "Edit On: " + CenterPurpose_Edit_Date + ", By: " + CenterPurpose_Add_By;
        }
        else {
            Lbl_Modify = "";
        }

        if (CenterPurpose_Action_Date) {
            Lbl_ActionOn = StatusStr + "On: " + CenterPurpose_Action_Date;
            Lbl_ActionBy = StatusStr + "By: " + CenterPurpose_Action_By;
        }
        else {
            Lbl_ActionOn = "";
            Lbl_ActionBy = "";
        }

        $('#CenterPurpose_Lbl_ActionOn').text(Lbl_ActionOn);
        $('#CenterPurpose_Lbl_ActionBy').text(Lbl_ActionBy);
        $('#CenterPurpose_Lbl_Create').text(Lbl_Create);
        $('#CenterPurpose_Lbl_Modify').text(Lbl_Modify);


        if (Lbl_Status_Color != "") {
            $('#CenterPurposLbl_Status').css('color', Lbl_Status_Color);
        }

        if (Pic_Status == "fa fa-lock") {
            $('#CenterPurpose_LockICON').addClass(Pic_Status).removeClass("fa-unlock");
        }
        else if (Pic_Status == "fa fa-unlock") {
            $('#CenterPurpose_LockICON').addClass(Pic_Status).removeClass("fa-lock");
        }
        else {
            $('#CenterPurpose_LockICON').removeClass("fa");
            $('#CenterPurpose_LockICON').removeClass("fa-lock");
            $('#CenterPurpose_LockICON').removeClass("fa-unlock");
        }

    }

    function CenterPurpose_Close() {
        $(".TabPanalMenu-tabs .active span").click();
    }

    
</script>