<div class="AllResponsesTimeFacility_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model System.Data.DataTable
    @{
        var SessionGUID = Request.QueryString["SessionGUID"];
        string Project_ID = (string)ViewBag.Project_ID;
        string Project_Name = (string)ViewBag.Project_Name;
        string Form_ID = (string)ViewBag.Form_ID;//Change it to Integer
        string Subject_ID = (string)ViewBag.Subject_ID;
        string Screen = (string)ViewBag.Screen;
        string ScreenHeaderLabel = "All Responses with TimeStamp of " + Project_Name;
    }
    <style>
        .field-3 .control-label {
            width: 100%
        }

        .field-3 .dx-texteditor.dx-editor-outlined {
            display: inline-block;
            width: calc(100% - 130px)
        }

        .field-3 .dx-button-has-icon .dx-button-content {
            height: 24px;
            padding-right: 4px
        }

        .field-3 .dx-button {
            margin-top: -3px
        }

        .header_right_main {
            float: right;
            padding: 0 10px 10px
        }

        @@media screen and (max-width:767px) {
            .header_right_main {
                float: none
            }

                .header_right_main .dx-button-has-text .dx-button-content {
                    padding-right: 24px
                }
        }
    </style>
    <div id="AllResponsesTime_ParentDiv">
        <div id="AllResponsesTime_content" class="report_header_div_main">
            <div>
                <div class="report_header_div">
                    <label class="report_header_label">@ScreenHeaderLabel</label>
                </div>
                @if (Screen == "Sparc_Answer")
                {
                    <div class="row">
                        <div class="col-sm-12 prm">
                            <h5 class="mand-txt-align">
                                <i class="fas fa-info-circle"></i> Red Fields are mandatory
                            </h5>
                        </div>
                        <div class="clearfix" style="padding:10px">
                            <div class="col-md-3">
                                <div>
                                    @Html.Label("Project: ", htmlAttributes: new { @class = "control-label text-red" })
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Project_AllResponses").Name("Project_AllResponse").Placeholder("Select Project...").Value(Project_ID)
                                .DataSource(d => d.Mvc().Controller("SparcProject").LoadAction("GetProjects").Key("ID").LoadMode(DataSourceLoadMode.Raw)).DisplayExpr("Name").ValueExpr("ID").OnValueChanged("Project_AllResponses_valueChanged").ReadOnly(false).Visible(true).ShowClearButton(false).InputAttr(new Dictionary<string, object>() {  }).ContentTemplate(
                                        @<text>
                                            @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Project_AllResponse_datagrid")
                                                    .Columns(columns =>
                                                    {
                                                        columns.Add().DataField("Name").Caption("Project"); columns.Add().DataField("SP_PROJ_ADMIN").Caption("Admin");
                                                        columns.Add().DataField("REC_ADD_BY").Caption("Created by"); columns.Add().DataField("ID").Caption("ID").Visible(false);
                                                    })
                                                    .Selection(s => s.Mode(SelectionMode.Single))
                                                    .FilterRow(s => s.Visible(false))
                                                    .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);};}"))
                                        </text>))
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div >
                                    @Html.Label("Form: ")
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Form_AllResponse").Name("Form_AllResponse").Placeholder("Select Form...").Value(string.IsNullOrWhiteSpace(Form_ID) ? null : Form_ID).ShowClearButton(true)
                                    .DataSource(d => d.Mvc().Controller("SparcProject").LoadAction("GetForms").Key("REC_ID").LoadMode(DataSourceLoadMode.Raw)
                                    .LoadParams(new { Project_ID = new JS("function() {return AllResponses_Project_ID;}") }))
                                     .DisplayExpr("CI_CHARTNAME").ValueExpr("REC_ID").ReadOnly(false).OnValueChanged("Form_AllResponses_valueChanged").Visible(true).InputAttr(new Dictionary<string, object>() {  }).ContentTemplate(
                                        @<text>
                                            @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Form_AllResponse_datagrid").Columns(columns =>
                                        {
                                            columns.Add().DataField("CI_CHARTNAME").Caption("Form"); columns.Add().DataField("CI_FROM_DATE").Caption("Start Date");
                                            columns.Add().DataField("CI_TO_DATE").Caption("End Date"); columns.Add().DataField("CI_FREQUENCY").Caption("Frequency");
                                            columns.Add().DataField("CI_PURPOSE").Caption("Purpose"); columns.Add().DataField("PROJECT").Caption("Project");
                                            columns.Add().DataField("ScheduleType").Caption("Schedule Type"); columns.Add().DataField("REC_ID").Caption("REC_ID").Visible(false);
                                        }).Selection(s => s.Mode(SelectionMode.Single)).FilterRow(s => s.Visible(false))
                                                    .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);};}"))
                                        </text>))
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    @Html.Label("Subject: ")
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Subject_AllResponse").Name("Subject_AllResponse").Placeholder("Select Subject...").Value((string.IsNullOrWhiteSpace(Subject_ID) ? null : Subject_ID)).ShowClearButton(true)
                                    .DataSource(d => d.Mvc().Controller("SparcProject").LoadAction("GetSubjectsUsingProjectOrForm").Key("UserID").LoadMode(DataSourceLoadMode.Raw).LoadParams(new { Project_ID = new JS("function() {return AllResponses_Project_ID;}"), Form_ID = new JS("function() {return AllResponses_Form_ID;}") }))
                                    .DisplayExpr(new JS("Subject_AllResponse_displayExpr")).ValueExpr("UserID").OnValueChanged("Subject_AllResponses_valueChanged").ReadOnly(false).Visible(true).InputAttr(new Dictionary<string, object>() {  }).ContentTemplate(
                                        @<text>
                                            @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Subject_AllResponse_datagrid")
                                            .Columns(columns =>
                                            {
                                                columns.Add().DataField("Name").Caption("Name");   columns.Add().DataField("MobNo").Caption("Mobile");
                                                columns.Add().DataField("UserID").Caption("User ID");
                                                columns.Add().DataField("AB_ID").Caption("AB_ID").Visible(false);
                                            })
                                            .Selection(s => s.Mode(SelectionMode.Single))
                                                .FilterRow(s => s.Visible(false))
                                                .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);};}"))
                                        </text>))
                                </div>
                            </div>
                            <div class="col-md-3"><br>
                                @(Html.DevExtreme().Button().ID("AllResponses_Filter").Text("Filter Responses").Icon("save").OnClick("OnAllResponsesFilterClick"))
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="report_button_div">
                        @(Html.DevExtreme().Button().ID("AllResponsesTime_ModelListPreview").Text("List Preview").Icon("save").OnClick("OnAllResponsesTimeListPreviewClick") )
                        @(Html.DevExtreme().Button().ID("AllresponsesTime_ModelCLOSE").Text("Close").Icon("clear").OnClick("closeAllResponses") )
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 no-padding" id="AllResponsesTime_gridDiv">
            <form>
                <div id="AllResponsesTimeGridPartialView" class="parent_table">
                    @Html.Partial("Frm_All_Responses_Time_Info_Grid", Model)
                </div>
            </form>
        </div>
        <div class="footer-MainBoxdiv" style="display:inline-block;width:100%">
            <div class="setFooterItem">
                <div class="footer-inner">
                    <div class="list_footer_left_margin">
                        <div class="footericon">
                            <i id="ServiceReport_LockICON" style="color:red;font-size:35px;"></i>
                        </div>
                        @*<div class="footer-locktext">
                                <div id="BankLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                            </div>*@
                        <div class="footer-locktext">
                            <div id="SR_Lbl_ActionOn" class="left_footertext_top"></div>
                            <div id="SR_Lbl_ActionBy" class="left_footertext_bottom"></div>
                        </div>
                    </div>
                    <div class="list_footer_left_margin">
                        <div class="footer-text">
                            <p id="SR_Create" class="right_footertext_top"></p>
                            <p id="SR_Modify" class="right_footertext_bottom"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>



    </script>    @*Global Variables*@
    <script>
        var AllResponses_Project_ID="@Project_ID";
        var AllResponses_Form_ID="@Form_ID";
        var AllResponses_Subject_ID="@Subject_ID";
        var AllResponses_User_AB_ID=null;
        $(document).ready(function ()
        {
            if (AllResponses_Project_ID.length > 0) {
                Project_AllResponses_valueChanged(null, true)
            }
        });
        function Subject_AllResponse_displayExpr(item)
        {
            if (item == null) { return ""; }
            else
            {
                return item.Name + " (" + item.MobNo + ")";
            }
        }
        async function Project_AllResponses_valueChanged(e, FirstCall = false) {
            var DG = $('#Project_AllResponse_datagrid').dxDataGrid('instance');
            if (e) {
                AllResponses_Project_ID = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    $("#Form_AllResponse").dxDropDownBox("reset");
                    $("#Subject_AllResponse").dxDropDownBox("reset");
                    DG.clearSelection();
                    return;
                }
            }
            else {
                AllResponses_Project_ID = $("#Project_AllResponses").dxDropDownBox("option", "value");
            }
            await DG.selectRows(AllResponses_Project_ID);
            if (AllResponses_Project_ID != null && AllResponses_Project_ID.length > 0) {
                if (FirstCall == false) {
                    $("#Form_AllResponse").dxDropDownBox("reset");
                    $("#Form_AllResponse_datagrid").dxDataGrid("instance").refresh().done(function () {
                        $("#Form_AllResponse").dxDropDownBox("option", "readOnly", false);
                    })
                    $("#Subject_AllResponse").dxDropDownBox("reset");
                    $("#Subject_AllResponse_datagrid").dxDataGrid("instance").refresh().done(function () {
                        $("#Subject_AllResponse").dxDropDownBox("option", "readOnly", false);
                    })
                }

            }

        }
        async function Form_AllResponses_valueChanged(e, FirstCall = false) {
            debugger;
            var DG = $('#Form_AllResponse_datagrid').dxDataGrid('instance');
            if (e) {
                AllResponses_Form_ID = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    $("#Subject_AllResponse").dxDropDownBox("reset");
                    DG.clearSelection();
                    return;
                }
            }
            else {
                AllResponses_Form_ID = $("#Form_AllResponse").dxDropDownBox("option", "value");
            }
            if (AllResponses_Form_ID != null && AllResponses_Form_ID > 0) {
                if (FirstCall == false) {
                    $("#Subject_AllResponse").dxDropDownBox("reset");
                    $("#Subject_AllResponse_datagrid").dxDataGrid("instance").refresh().done(function () {
                        $("#Subject_AllResponse").dxDropDownBox("option", "readOnly", false);
                    })
                }
            }
            else {
            }
            await DG.selectRows(AllResponses_Form_ID);
        }
        function Subject_AllResponses_valueChanged(e) {
            var DG = $('#Subject_AllResponse_datagrid').dxDataGrid('instance');
            if (e) {
                AllResponses_Subject_ID = e.value;
                var DG = $("#Subject_AllResponse_datagrid").dxDataGrid("instance");
                DG.selectRows($("#Subject_AllResponse").dxDropDownBox("option", "value"));
                if (DG.getSelectedRowsData().length > 0) {
                    AllResponses_User_AB_ID = DG.getSelectedRowsData()[0].AB_ID;
                }
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    $("#Subject_AllResponse").dxDropDownBox("reset");
                    DG.clearSelection();
                    return;
                }
            }
            else {
                AllResponses_Subject_ID = $("#Subject_AllResponse").dxDropDownBox("option", "value");
                var DG = $("#Subject_AllResponse_datagrid").dxDataGrid("instance");
                DG.selectRows($("#Subject_AllResponse").dxDropDownBox("option", "value"));
                if (DG.getSelectedRowsData().length > 0) {
                    AllResponses_User_AB_ID = DG.getSelectedRowsData()[0].AB_ID;
                }

            }
        }
        function OnAllResponsesFilterClick() {
            debugger;
            AllResponses_Form_ID = $("#Form_AllResponse").dxDropDownBox("option", "value");
            AllResponses_Subject_ID = $("#Subject_AllResponse").dxDropDownBox("option", "value");
            AllResponses_Project_ID = $("#Project_AllResponses").dxDropDownBox("option", "value");
            if (AllResponses_Project_ID == undefined || AllResponses_Project_ID == null || AllResponses_Project_ID.length == 0) {
                DevExpress.ui.dialog.alert('Project Is Required', "Mandatory Field Validation Error...");
            }
            else {
                RefreshGridView("AllResponsesTimeInfoGrid");
            }
        }

        function OnAllResponsesTimeListPreviewClick(){

        ShowLoader();
            OpenPopup("All_Forms_Responses_Time_Export_Modal", "Export Option", "@Url.Action("Frm_Export_Options_AllResponsesTime", "ServiceProject", new { @area = "Facility" })", "auto", 130);
        }

        function closeAllResponses() {
            $("#All_Forms_Responses_Time_Modal").dxPopup("hide");
    }


        function ClearAllReferences_AllResponses()
    {
        //Baba: Below function parameter  to be added in index.

            ClearAllReferences("AllResponsesTimeFacility_ClearReferences")
        }
    </script>

    <script>
        function AllResponsesTimeInfoOnInit(s, e) {
            AllResponsesTimeAdjustSize();
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                AllResponsesTimeAdjustSize();
            });

        }

        function AllResponsesTimeAdjustSize() {
            var height = (document.documentElement.clientHeight * 80) / 100;
            try {
                AllResponsesTimeInfoGrid.SetHeight(height);
            }
            catch (err) {
            }
        }

        function AllResponsesTimeInfoGrid_BeginCallback(s, e) {
            debugger;
            e.customArgs["command"] = e.command;
            if ("@Screen" == "Sparc_Answer") {
                e.customArgs["Form_ID"] = AllResponses_Form_ID;
                e.customArgs["UserId"] = AllResponses_Subject_ID;
                e.customArgs["User_AB_ID"] = AllResponses_User_AB_ID;
                e.customArgs["ProjectID"] = AllResponses_Project_ID;
            }
            else {
                e.customArgs["ProjectID"] = "@Project_ID";
            }
        }

    </script>    @* Grid Functions *@




</div>
