<div class="AllResponsesFacility_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model System.Data.DataTable
    @{ 

        string Project_ID = (string)ViewBag.Project_ID;
        string Project_Name = (string)ViewBag.Project_Name;
        string ScreenHeaderLabel = "All Responses of " + Project_Name;
    }
    <style>
        .field-3 .control-label{width:100%}
        .field-3 .dx-texteditor.dx-editor-outlined{display:inline-block; width:calc(100% - 130px)}
        .field-3 .dx-button-has-icon .dx-button-content{height:24px; padding-right:4px}
        .field-3 .dx-button {margin-top: -3px}
        .header_right_main{float:right; padding:0 10px 10px}

        @@media screen and (max-width:767px) {
            .header_right_main{float:none}
            .header_right_main .dx-button-has-text .dx-button-content {
                padding-right: 24px
            }
        }
    </style>
    <div id="AllResponses_ParentDiv">
        <div id="AllResponses_content" class="report_header_div_main">
            <div>
                <label class="report_header_label">@ScreenHeaderLabel</label>
            </div>
            

            <div class="header_right_main">
                @(Html.DevExtreme().Button().ID("AllResponses_ModelListPreview").Text("List Preview").Icon("save").OnClick("OnAllResponsesListPreviewClick") )
                @(Html.DevExtreme().Button().ID("Allresponses_ModelCLOSE").Text("Close").Icon("clear").OnClick("closeAllResponses") )
            </div>
        </div>
        <div class="col-md-12 no-padding" id="AllResponses_gridDiv">
            <form>
                <div id="AllResponsesGridPartialView" class="parent_table">
                    @Html.Partial("Frm_All_Responses_Info_Grid", Model)
                </div>
            </form>
        </div>
        <div class="footer-MainBoxdiv" style="display:inline-block;width:100%">
            <div class="setFooterItem">
                <div class="footer-inner">
                    <div class="list_footer_left_margin">
                        <div class="footericon">
                            <i id="ServiceReport_LockICON" style="color:red;font-size:35px;"></i>
                        </div>
                        @*<div class="footer-locktext">
                                <div id="BankLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                            </div>*@
                        <div class="footer-locktext">
                            <div id="SR_Lbl_ActionOn" class="left_footertext_top"></div>
                            <div id="SR_Lbl_ActionBy" class="left_footertext_bottom"></div>
                        </div>
                    </div>
                    <div class="list_footer_left_margin">
                        <div class="footer-text">
                            <p id="SR_Create" class="right_footertext_top"></p>
                            <p id="SR_Modify" class="right_footertext_bottom"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>



    </script>    @*Global Variables*@
    <script>
        $(document).ready(function ()
        {


        });


        function OnAllResponsesListPreviewClick(){

            ShowLoader();
            OpenPopup("All_Forms_Responses_Export_Modal", "Export Option", "@Url.Action("Frm_Export_Options_AllResponses", "ServiceProject", new { @area = "Facility" })", "auto", 130);
        }

        function closeAllResponses() {
            $("#All_Forms_Responses_Modal").dxPopup("hide");
        }


        function ClearAllReferences_AllResponses()
        {
            //Baba: Below function parameter  to be added in index.

            ClearAllReferences("AllResponsesFacility_ClearReferences")
        }
    </script>

    <script>
        function AllResponsesInfoOnInit(s, e) {
            AllResponsesAdjustSize();
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                AllResponsesAdjustSize();
            });

        }

        function AllResponsesAdjustSize() {
            var height = (document.documentElement.clientHeight * 80) / 100;
            try {
                AllResponsesInfoGrid.SetHeight(height);
            }
            catch (err) {
            }
        }

        function AllResponsesInfoGrid_BeginCallback(s, e) {
            e.customArgs["command"] = e.command;
            e.customArgs["ProjectID"] = "@Project_ID";

        }

    </script>    @* Grid Functions *@




</div>
