<div class="ServiceProjectFacility_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model System.Data.DataTable
    @{
        string servicesPath = System.Web.Configuration.WebConfigurationManager.AppSettings["Servicespath"].ToString();
    } 
    <div id="ServiceProject_ParentDiv">
        <div id="ServiceProject_content" class="report_header_div_main clearfix">
            <div class="report_header_div">
                <label class="report_header_label">Service Projects</label>
            </div>
            <div class="report_button_div">
                @(Html.DevExtreme().Button().ID("ServiceProject_CreateForm").Text("Create Form").Icon("add").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("CREATEFORM"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_ViewSurveyForms").Text("View Forms").Icon("add").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("VIEWSURVEYFORMS"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_AllFormsResponses").Text("All Forms Responses").Icon("doc").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("ALL_RESPONSES"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_AllFormsResponsesTime").Text("All Forms Responses(TimeStamp)").Icon("doc").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("ALL_RESPONSES_TIME"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_SubjectProfile").Text("Create Subject Profile").Icon("add").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("SUBJECT_PROFILE"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_MapSubjects").Text("Map/Un-Map Subjects").Icon("add").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("MAP_SUBJECTS"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_New").Text("New") .Icon("add").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("NEW"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_Edit").Text("Edit").Icon("edit").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("EDIT"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_View").Text("View").Icon("doc").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("VIEW"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_Delete").Text("Delete").Icon("trash").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("DELETE"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_FullDelete").Text("Full Delete").Icon("trash").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("FULL_DELETE"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_MappedSubject").Text("View Mapped Subjects").Icon("doc").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("SUBJECTS"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_Notification").Text("Send/Schedule Notification").Icon("").Visible(true).OnClick(@<text> function () { DataNavigation_ServiceProj("NOTIFICATION"); } </text>))
                @(Html.DevExtreme().Button().ID("ServiceProject_ToggleScrollBar").Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data").Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90).Icon("toolbox").OnClick("ServiceProjectchangeMode").Visible(false) )
                @(Html.DevExtreme().Button().ID("ServiceProject_ModelListPreview").Text("List Preview").Icon("save").OnClick("OnServiceProjectListPreviewClick") )
                @(Html.DevExtreme().Button().ID("ServiceProject_ModelCLOSE").Text("Close").Icon("clear").OnClick("closeServiceProject") )
            </div>
        </div>
        <div class="col-md-12 no-padding" id="ServiceProject_gridDiv">
            <form>
                <div id="ServiceProjectGridPartialView" class="parent_table">
                    @Html.Partial("Frm_Service_Project_Info_Grid", Model)
                </div>
            </form>
        </div>
        <div class="footer-MainBoxdiv" style="display:inline-block;width:100%">
            <div class="setFooterItem">
                <div class="footer-inner">
                    <div class="list_footer_left_margin">
                        <div class="footericon">
                            <i id="ServiceReport_LockICON" style="color:red;font-size:35px;"></i>
                        </div>
                        @*<div class="footer-locktext">
                                <div id="BankLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                            </div>*@
                        <div class="footer-locktext">
                            <div id="SR_Lbl_ActionOn" class="left_footertext_top"></div>
                            <div id="SR_Lbl_ActionBy" class="left_footertext_bottom"></div>
                        </div>
                    </div>
                    <div class="list_footer_left_margin">
                        <div class="footer-text">
                            <p id="SR_Create" class="right_footertext_top"></p>
                            <p id="SR_Modify" class="right_footertext_bottom"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var ServiceProject_ID = "";
        var ServiceProject_Name = "";
        var ServiceProject_State = "";
        var ServiceProject_ProfileCreationLink = "";
        var ServiceProject_ProfileCreation_CHART_ID = "";
        var SP_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
        var ServicePath = "@servicesPath";
        var Screen_ServiceProjectInfo = '@ViewBag.Screen';
    </script>    @*Global Variables*@
<script>
        $(document).ready(function ()
        {
            $('#ServiceProject_ChooseMapSubjects').hide();
            if (Screen_ServiceProjectInfo == "Sparc_MapSubject2Project") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').hide();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects > div > span').text('Copy Subject').show();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_MapForm2Subject") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').show();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_Answer") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').hide();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime > div > span').text('Answers with TimeStamp').show();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_CreateForm") {
                $('#ServiceProject_CreateForm').show();
                $('#ServiceProject_ViewSurveyForms').hide();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_Copy_Chart") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').show();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_Edit_Chart") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').show();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_Share_Chart") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').show();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_Download_Chart") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').show();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_Delete_Chart") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').show();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_CreateSubject") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').hide();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile > div > span').text('Create Subject').show();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                //$('#ServiceProject_ChooseMapSubjects').show();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_EditSubject") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').hide();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                //$('#ServiceProject_ChooseMapSubjects').show();
                $('#ServiceProject_MappedSubject').show();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_DeleteSubject") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').hide();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_ChooseMapSubjects').hide();
                $('#ServiceProject_MappedSubject').show();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_Delete") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').hide();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification').hide();
                $('#ServiceProject_FullDelete').show();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_Edit") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').hide();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').show();
                $('#ServiceProject_FullDelete').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification').hide();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_SendNow") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').hide();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_FullDelete').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification > div > span').text('Send Notification Now').show();
            }
            else if (Screen_ServiceProjectInfo == "Sparc_SendLater") {
                $('#ServiceProject_CreateForm').hide();
                $('#ServiceProject_ViewSurveyForms').hide();
                $('#ServiceProject_AllFormsResponses').hide();
                $('#ServiceProject_AllFormsResponsesTime').hide();
                $('#ServiceProject_SubjectProfile').hide();
                $('#ServiceProject_MapSubjects').hide();
                $('#ServiceProject_New').hide();
                $('#ServiceProject_Edit').hide();
                $('#ServiceProject_FullDelete').hide();
                $('#ServiceProject_View').hide();
                $('#ServiceProject_Delete').hide();
                $('#ServiceProject_MappedSubject').hide();
                $('#ServiceProject_Notification > div > span').text('Send Notification Later').show();
            }
        });

        function DataNavigation_ServiceProj(Action)
        {
            var focusIndex = ServiceProjectListGrid.GetFocusedRowIndex();
            if (focusIndex < 0 && Action != "NEW")
            {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            ServiceProjectInfo_GetRowData(focusIndex);

            if (Action == "NEW")
            {
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Facility/ServiceProject/Frm_ServiceProject_Window",
                    cache: false,
                    data:
                    {
                        Tag: "_New",
                        Screen: Screen_ServiceProjectInfo
                    },
                    success: function (data)
                    {
                        HideLoader();
                        OpenDynamicPopup("New ~ Service Projects", null, "auto", 650, true, data);
                    },
                    error: function (jqXHR, textStatus, errorThrown)
                    {
                        HideLoader();
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                    }
                });
            }
            else if (Action == "EDIT" || Action == "DELETE" || Action=="VIEW")
            {
                var _tag = Action == "EDIT" ? "Edit" : Action=="DELETE"?"Delete":"View"
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Facility/ServiceProject/Frm_ServiceProject_Window",
                    cache: false,
                    data:
                    {
                        Tag: _tag,
                        ProjectID: ServiceProject_ID,
                        Screen: Screen_ServiceProjectInfo
                    },
                    success: function (data)
                    {
                        HideLoader();
                        OpenDynamicPopup(_tag+" ~ Service Projects", null, "auto", 650, true, data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        HideLoader();
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                    }
                });
            }
            else if (Action == "SUBJECT_PROFILE")
            {
                if (ServiceProject_State == "Inactive")
                {
                    DevExpress.ui.dialog.alert("Cannot Create Subject Profile As The Project Is InActive", "Alert");
                    return
                }
                if (ServiceProject_ProfileCreationLink == null || ServiceProject_ProfileCreationLink.length == 0 || Screen_ServiceProjectInfo.includes("Sparc_"))
                {
                    Creat_Edit_Subject_ServiceProject("_New", "", "", "Create Subject");
                    return
                }
                else {
                    var url = "@servicesPath" + ServiceProject_ProfileCreationLink;
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/Chart/AddGuideSessionID",
                        cache: false,
                        data:
                        {

                        },
                        success: function (data)
                        {
                            GuideSessionID = data.GuideSessionID;
                            url = url+ "/?GuideSessionID=" + GuideSessionID;
                            OpenFormPopup(null, false, url)
                            HideLoader();
                            @*window.onmessage = function (e)
                            {
                                console.log(e)
                                if ("@servicesPath".includes(e.origin))
                                {
                                    if (e.data == 'FormOperationCompleted') {
                                        alert("worked")
                                    }
                                }
                            };*@
                        }
                    });
                }
            }
            else if (Action == "SUBJECTS")

            {
                ShowLoader();

                $.ajax({
                    type: 'GET',
                    url: "/Facility/ServiceProject/Frm_ServiceProject_MappedSubjects",
                    cache: false,
                    data:
                    {
                        ProjectID: ServiceProject_ID,
                        ProjName: ServiceProject_Name,
                        Screen: Screen_ServiceProjectInfo
                    },
                    success: function (data)
                    {
                        HideLoader();
                        OpenDynamicPopup("Mapped Subjects", null, "auto", 1050, true, data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        HideLoader();
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                    }
                });
            }
            else if (Action == "NOTIFICATION") {
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Facility/ServiceProject/Frm_Project_Notification",
                    cache: false,
                    data:
                    {
                        ProjectID: ServiceProject_ID,
                        ProjName: ServiceProject_Name,
                        SendNowOrLater: '@ViewBag.Screen'
                    },
                    success: function (data) {
                        HideLoader();
                        OpenPopup("Project_Notification_popup","Send/Schedule Push Notification", null, "auto", 650, true, data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        HideLoader();
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                    }
                });
            }
            else if (Action == "CREATEFORM")
            {
                if (ServiceProject_ID == "" || ServiceProject_ID == null || ServiceProject_ID == 'undefined') {
                    DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                    return;
                }
                if (Screen_ServiceProjectInfo == "Sparc_CreateForm") {
                    CreateNewForm("_New", null, null, null, ServiceProject_ID, "Sparc_CreateForm")
                }
                else {
                    CreateNewForm("_New", null, null, null, ServiceProject_ID)
                }
            }
            else if (Action == "VIEWSURVEYFORMS") {
                if (ServiceProject_ID == "" || ServiceProject_ID == null || ServiceProject_ID == 'undefined') {
                    DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                    return;
                }

                if ($("#ChartInfo_ParentDiv").length > 0) {
                    DevExpress.ui.dialog.alert("Cannot Open Service Forms If Already Open In Tab<br>Kindly Close Service Forms In Tab To View Service Forms Related to this Project", "Information..");
                    return;
                }

                var PopUp_Title = "Service Forms - " + ServiceProject_Name;
                if (Screen_ServiceProjectInfo !== null && Screen_ServiceProjectInfo !== undefined && Screen_ServiceProjectInfo !== "") {
                    switch (Screen_ServiceProjectInfo) {
                        case "Sparc_Copy_Chart": PopUp_Title = "Edit >> Form >> Copy >> Project: " + ServiceProject_Name+" >> Select Form: "; break;
                        case "Sparc_Edit_Chart": PopUp_Title = "Edit >> Form >> Modify >> Project: " + ServiceProject_Name+" >> Select Form: "; break;
                        case "Sparc_Share_Chart": PopUp_Title = "Edit >> Form >> Share >> Project: " + ServiceProject_Name+" >> Select Form: "; break;
                        case "Sparc_Download_Chart": PopUp_Title = "Edit >> Form >> Download >> Project: " + ServiceProject_Name+" >> Select Form: "; break;
                        case "Sparc_Delete_Chart": PopUp_Title = "Edit >> Form >> Delete >> Project: " + ServiceProject_Name+" >> Select Form: "; break;
                        case "Sparc_MapForm2Subject": PopUp_Title = "Map/Unmap & Copy >> Subject to Form >> Project: " + ServiceProject_Name+" >> Select Form: "; break;
                    }
                }
                OpenPopup(Screen_ServiceProjectInfo + '_Chart', PopUp_Title, "@Url.Action("Frm_Chart_Info", "Chart", new { @area = "Facility" })" + "?serviceProject_ID=" + ServiceProject_ID + "&screen=" + Screen_ServiceProjectInfo + '_Chart', "auto", 1050);
            }
            else if (Action == "ALL_RESPONSES") {
                if (ServiceProject_ID == "" || ServiceProject_ID == null || ServiceProject_ID == 'undefined') {
                    DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                    return;
                }
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Facility/ServiceProject/Frm_All_Responses_Info",
                    cache: false,
                    data:
                    {
                        Project_ID: ServiceProject_ID,
                        Project_Name: ServiceProject_Name,
                        RegChartID: ServiceProject_ProfileCreation_CHART_ID
                    },
                    success: function (data) {
                        HideLoader();
                            OpenPopup("All_Forms_Responses_Modal", "Responses of All Survey Forms", null, "auto", "100%", true, data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        HideLoader();
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                    }
                });
            }
            else if (Action == "ALL_RESPONSES_TIME") {
                if (ServiceProject_ID == "" || ServiceProject_ID == null || ServiceProject_ID == 'undefined') {
                    DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                    return;
                }
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Facility/ServiceProject/Frm_All_Responses_Time_Info",
                    cache: false,
                    data:
                    {
                        Project_ID: ServiceProject_ID,
                        Project_Name: ServiceProject_Name,
                        RegChartID: ServiceProject_ProfileCreation_CHART_ID,
                        Screen: Screen_ServiceProjectInfo
                    },
                    success: function (data) {
                        HideLoader();
                        if (Screen_ServiceProjectInfo === "Sparc_Answer") {
                            OpenPopup("All_Forms_Responses_Time_Modal", "Answers with TimeStamp", null, "auto", "100%", true, data);
                        }
                        else {
                            OpenPopup("All_Forms_Responses_Time_Modal", "Responses(TimeStamp) of All Survey Forms", null, "auto", "100%", true, data);                        
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        HideLoader();
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                    }
                });
            }

            else if (Action == "MAP_SUBJECTS")
            {
                if (ServiceProject_ID == "" || ServiceProject_ID == null || ServiceProject_ID == 'undefined')
                {
                    DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                    return;
                }
                if (ServiceProject_State == "Inactive")
                {
                    DevExpress.ui.dialog.alert("Cannot Map Subjects As The Project Is InActive", "Alert");
                    return
                }
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Facility/ServiceProject/Frm_Subject_Mapping_Info",
                    cache: false,
                    data:
                    {
                        Project_ID: ServiceProject_ID,
                            Project_Name: ServiceProject_Name,
                        RegChartID: ServiceProject_ProfileCreation_CHART_ID,
                        Screen: Screen_ServiceProjectInfo
                    },
                    success: function (data)
                    {
                        HideLoader();
                        OpenPopup("Subject_Mapping_Screen_Modal", "Map Subjects To Project", null, "auto", 1050, true, data);
                    },
                    error: function (jqXHR, textStatus, errorThrown)
                    {
                        HideLoader();
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                    }
                });
            }
            else if (Action == "FULL_DELETE") {
                if (ServiceProject_ID == "" || ServiceProject_ID == null || ServiceProject_ID == 'undefined') {
                    DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                    return;
                }

                var deleteConfirmation_1 = DevExpress.ui.dialog.confirm("<div> !!Are You Sure !!  <br> <br> You Want To  <br> <br> <h6 style='color:red'> <b>DELETE THIS PROJECT ?</b><br>" + ServiceProject_Name + "</h6> </div>", "!! Confirm !!");
                deleteConfirmation_1.done(function (confirmResult_1) {
                    if (confirmResult_1) {
                        var deleteConfirmation_2 = DevExpress.ui.dialog.confirm("<div style='text-align: center;'> All the data related to this Project i.e. Forms, Responses, Mappings, Notifications will be deleted and won't be recovered.<br> <br> You want to proceed?</div>", "Information");
                        deleteConfirmation_2.done(function (confirmResult_2) {
                            if (confirmResult_2) {
                                ShowLoader();
                                $.ajax({
                                    type: 'GET',
                                    url: "/Facility/ServiceProject/DeleteFullServiceProject",
                                    cache: false,
                                    data:
                                    {
                                        Project_ID: ServiceProject_ID,
                                        Project_Name: ServiceProject_Name,
                                    },
                                    success: function (data) {
                                        HideLoader();
                                        if (data.jsonParam.result == false) {
                                            DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                                        }
                                        else {
                                            var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                                            alertClick.done(function (alertResult) {
                                                if (alertResult) {
                                                    ServiceProjectListGrid.Refresh();
                                                }
                                            })
                                        }

                                    }
                                });
                            }
                        })
                    }
                })
            }

            else if (Action == "CopyBasicDetailFormLink") {

                if (ServiceProject_ProfileCreationLink == null || ServiceProject_ProfileCreationLink.length == 0) {
                    DevExpress.ui.dialog.alert("Basic Details form is not available for this Project", "Alert");
                    return
                }
                var URL = ServicePath + ServiceProject_ProfileCreationLink ;
                navigator.clipboard.writeText(URL); DevExpress.ui.notify({ message: 'Link of Basic Detail Form Has Been Copied ! You can paste it as Required...', width: 500, shading: true, position: 'center' }, "success", 1500);
            }
        }

        function Creat_Edit_Subject_ServiceProject(Action_Method, AB_Id = "", User_Id = "", Title="Create Subject") {
            var url = "@servicesPath" + "UserProfile/Frm_UserProfile_Mini?ActionMethod=" + Action_Method + "&UserABID=" + AB_Id + "&UserID=" + User_Id + "&CentreId=" + '@ViewBag.CenterId' + "&FinancialYearId=" + '@ViewBag.FY' + "&ProjectId=" + ServiceProject_ID;
            debugger;
            ShowLoader();
            Screen_ServiceProjectInfo = (Screen_ServiceProjectInfo === "")?"popUpId" : Screen_ServiceProjectInfo;
            OpenFormPopup("", false, url, Screen_ServiceProjectInfo, Title, Action_Method, "auto", 550)
            //(_chartInstanceID = "", Connectoneuser = true, FormUrl = "", PopupID = 'ViewFormUserSidePopup', PopUpTitle = 'Fill Form',ActionMethod="_New", height="100%", width="100%")
            window.onmessage = function (e) {
                if (e.data == 'FormOperationCompleted') {
                    $("#" + Screen_ServiceProjectInfo).dxPopup("hide");
                    HideLoader();
                }                
            };
        }
        function AfterWindowClose_ServiceProj(ActionMethod = "", xID = "")
        {

        }

        function OnServiceProjectListPreviewClick()
        {

            ShowLoader();
            OpenPopup("Service_Project_modal", "Export Option", "@Url.Action("Frm_Export_Options", "ServiceProject", new { @area = "Facility" })", "auto", 130);
        }

        function closeServiceProject()
        {
            if (Screen_ServiceProjectInfo == "Sparc_Edit" || Screen_ServiceProjectInfo == "Sparc_Delete" || Screen_ServiceProjectInfo == "Sparc_EditSubject" || Screen_ServiceProjectInfo == "Sparc_DeleteSubject" || Screen_ServiceProjectInfo == "Sparc_SendNow" || Screen_ServiceProjectInfo == "Sparc_SendLater" || Screen_ServiceProjectInfo == "Sparc_CreateSubject" || Screen_ServiceProjectInfo == "Sparc_Answer" || Screen_ServiceProjectInfo == 'Sparc_MapSubject2Project' || Screen_ServiceProjectInfo == 'Sparc_MapForm2Subject' || Screen_ServiceProjectInfo == 'Sparc_CreateForm' || Screen_ServiceProjectInfo == "Sparc_Copy_Chart" || Screen_ServiceProjectInfo == "Sparc_Download_Chart" || Screen_ServiceProjectInfo == 'Sparc_Edit_Chart' || Screen_ServiceProjectInfo == 'Sparc_Share_Chart' || Screen_ServiceProjectInfo == 'Sparc_Delete_Chart') {
                $("#" + Screen_ServiceProjectInfo).dxPopup("hide");
                ClearAllReferences_ServiceProject();
                return;
            }
            $(".TabPanalMenu-tabs .active span").click();
        }

        $(function () {
            if (Screen_ServiceProjectInfo.length > 0) {
                if (Screen_ServiceProjectInfo != "Dynamic_Content_popup") {
                    $("#" + Screen_ServiceProjectInfo).dxPopup({
                        onHiding: function (e) {
                            $.ajax({
                                url: "/Facility/ServiceProject/SessionClear",
                                type: "GET"
                            });
                            ClearAllReferences_ServiceProject();
                            //$("#HelpAttachment_ParentDiv").remove();
                        }
                    });
                }
                else {
                    sessionclearpath = "/Facility/ServiceProject/SessionClear";
                }
            }
        });

        $(".TabPanalMenu-tabs .active span").on("click", function () {
            $.ajax({
                type: 'GET',
                url: "/Facility/ServiceProject/SessionClear",
                cache: false
            });
            ClearAllReferences_ServiceProject();
        });

        function ClearAllReferences_ServiceProject()
        {
            //Baba: Below function parameter  to be added in index.

            ClearAllReferences("ServiceProjectFacility_ClearReferences")
        }

</script>

    <script>
        function ServiceProjectOnInit(s, e)
        {
            ServiceProjectAdjustSize();
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt)
            {
                ServiceProjectAdjustSize();
            });
        }

        function ServiceProjectAdjustSize()
        {
            var height = null;
            if (Screen_ServiceProjectInfo != "" && isDesktop) {
                height = (document.documentElement.clientHeight * 70) / 100;
            }
            else {
                height = (document.documentElement.clientHeight * 90) / 100;
            }
            try {
                ServiceProjectListGrid.SetHeight(height);
            }
            catch (err)
            {
            }
        }

        function ServiceProjectInfo_GetRowData(RowIndex = null)
        {
            var focusedrow = RowIndex == null ? ServiceProjectListGrid.GetFocusedRowIndex() : RowIndex;
            var topindex = ServiceProjectListGrid.GetTopVisibleIndex();
            var Index = focusedrow - topindex;
            var ServiceProjectInfoPageData = ServiceProjectListGrid.cpPagedata;
            console.log(ServiceProjectInfoPageData)
            if (ServiceProjectInfoPageData != null && ServiceProjectInfoPageData.length > 0 && Index < ServiceProjectInfoPageData.length) {
                ServiceProject_ID = ServiceProjectInfoPageData[Index][0];
                ServiceProject_Name = ServiceProjectInfoPageData[Index][1];
                ServiceProject_State = ServiceProjectInfoPageData[Index][2];
                ServiceProject_ProfileCreationLink = ServiceProjectInfoPageData[Index][3];
                ServiceProject_ProfileCreation_CHART_ID = ServiceProjectInfoPageData[Index][4];
                
            }
            else
            {
                ServiceProject_ID = null;
                ServiceProject_Name = null;
                ServiceProject_State = null;
                ServiceProject_ProfileCreationLink = null;
                ServiceProject_ProfileCreation_CHART_ID = null;
            }
        }

        function ServiceProjectListGrid_BeginCallback(s, e)
        {
            e.customArgs["command"] = e.command;
            e.customArgs["ShowHorizontalBar"] = SP_ShowHorizontalBar;
            e.customArgs["Screen"] = Screen_ServiceProjectInfo;            
        }

        function ServiceProjectchangeMode()
        {
            ShowLoader();
            if (SP_ShowHorizontalBar == 0)
            {
                SP_ShowHorizontalBar = 1;
                $("#ServiceProject_ToggleScrollBar").find("span").text("Default Data");
                $("#ServiceProject_ToggleScrollBar").width(110);
            }
            else
            {
                SP_ShowHorizontalBar = 0;
                $("#ServiceProject_ToggleScrollBar").find("span").text("Full Data");
                $("#ServiceProject_ToggleScrollBar").width(90);
            }
            $.ajax({
                url: "/Facility/ServiceProject/Frm_Service_Project_Info_Grid",
                type: "POST",
                data: { ShowHorizontalBar: SP_ShowHorizontalBar},
                success: function (res)
                {
                    //$("#ServiceReportGridPartialView").html(res);
                    //ASPxClientControl.AdjustControls(document.getElementById("ServiceReportGridPartialView"));
                    //$(".ServiceReportListGrid_PreviewRow").hide();
                    //GetSessionStorage("ServiceProjectListGrid");
                    HideLoader();
                }
            });
        }
        function ServiceProjectListGrid_ContextMenuFunction(s, e)
        {
            if (e.item.name == "Close") {
                closeServiceProject();
            }
            if (e.item.name == "AddProject") {
                DataNavigation_ServiceProj("NEW");
            }
            else if (e.item.name == 'EditProject') {
                DataNavigation_ServiceProj("EDIT");
            }
            else if (e.item.name == 'ViewProject') {
                DataNavigation_ServiceProj("VIEW");
            }
            else if (e.item.name == 'DeleteProject') {
                DataNavigation_ServiceProj("DELETE");
            }
            else if (e.item.name == 'CreateForm') {
                DataNavigation_ServiceProj("CREATEFORM");
            }
            else if (e.item.name == 'CreateSubject') {
                DataNavigation_ServiceProj("SUBJECT_PROFILE");
            }
            else if (e.item.name == 'ViewForms') {
                DataNavigation_ServiceProj("VIEWSURVEYFORMS");
            }
            else if (e.item.name == 'MapSubjects') {
                DataNavigation_ServiceProj("MAP_SUBJECTS");
            }
            else if (e.item.name == 'ViewSubjects') {
                DataNavigation_ServiceProj("SUBJECTS");
            }
            else if (e.item.name == 'Export') {
                OnServiceProjectListPreviewClick();
            }
            else if (e.item.name == 'Notification') {
                DataNavigation_ServiceProj("NOTIFICATION"); 
            }
            else if (e.item.name == 'Refresh') {
                ServiceProjectListGrid.Refresh();
            }
            else if (e.item.name == 'CopyBasicDetailFormLink') {
                DataNavigation_ServiceProj("CopyBasicDetailFormLink");
            }
        }
    </script>      
  </div>

