@using DevExtreme.AspNet.Mvc
@model ConnectOneMVC.Areas.Stock.Models.GetPropertiesList_SubItem

@{
    bool IsVisible = Model != null && (Model.SI_Prop_ActionMethod.ToString().Trim() == "_View" || Model.SI_Prop_ActionMethod.ToString().Trim() == "_Delete") ? true : false;
    bool IsDisabled = Model != null && (Model.SI_Prop_ActionMethod == "_View" || Model.SI_Prop_ActionMethod == "_Delete") ? true : false;
}@*//Mantis bug 0000347 fixed*@

<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .pll2 {
        padding-left: 2px !important;
    }

    .margR4 {
        margin-right: 4px;
    }

    #IDCloseySave > div,
    #IDPropertySave > div,
    #IDClose > div,
    #IDSave > div {
        margin-right: 4px !important;
    }
</style>
<div id="Frm_SubItem_Property_PopUp" class="edit_form">
    @using (Ajax.BeginForm("SavePropertyClick", "StockItemWindow",
                          new AjaxOptions
                          {
                              HttpMethod = "POST",
                              UpdateTargetId = "frm_Item_Window_Add_Property_PopUp",
                              InsertionMode = InsertionMode.InsertAfter,
                              OnBegin = "AjaxBeginFormPost",
                              OnSuccess = "Frm_SI_Properties_OnSuccess"

                          },
                          new
                          {
                              id = "ID_frm_Item_Window_Add_Property",
                              @class = "edit_form"
                          }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.SI_Prop_ActionMethod)
        @Html.HiddenFor(x => x.SI_Prop_SrNo)
        @Html.HiddenFor(x => x.subitemid)


        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();

        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Item Property</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-2 pll">
                            <label class="control-label" for="user">Item Name:</label>
                        </div>
                        <div class="col-sm-10 prm pll1">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("SI_Prop_Item_Name").Name("SI_Prop_Item_Name").ReadOnly(true)
                                                                                     .Disabled(IsDisabled).Value(Model.SI_Prop_Item_Name))
                        </div>
                    </div>
                </div>
            </div><!--[Row]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-2 pll">
                            <label class="control-label text-red" for="user">Property:</label>
                        </div>
                        <div class="col-sm-10 prm pll1">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("SI_Prop_Property_Name").Name("SI_Prop_Property_Name").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } })
                                                                                                                                       .DisplayExpr("_Property")
                                                                                                                                       .ValueExpr("_Property")
                                                                                                                                       .Value(Model.SI_Prop_Property_Name)
                                                                                                                                       .Disabled(IsDisabled)
                                                                                                                                       .OnInitialized("Initialized_Property")
                                                                                                                                       .OnValueChanged("PropertyName_OnValueChanged")
                                                                                                                                        .AcceptCustomValue(true)
                                                                                                                                        .OnKeyPress("SI_DropDown_KeyPress")
                                                                                                                                        .ElementAttr("OnClick", "SI_DropDown_Click()")
                                                                                                                                       .DataSource(d => d.Mvc().Controller("StockItemWindow").LoadAction("GetItemPropertiesMaster").Key("_Property"))
                                                                                                                                       .ContentTemplate(@<text> @Html.Partial("GetItemPropertiesMaster")</text>))
                            @Html.ValidationMessageFor(model => model.SI_Prop_Property_Name, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
            </div><!--[Row]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-2 pll">
                            <label class="control-label text-red" for="user">Value:</label>
                        </div>
                        <div class="col-sm-10 prm pll1">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("SI_Prop_Property_Value").Name("SI_Prop_Property_Value").Placeholder("Enter Value Here").Disabled(IsDisabled)
                                                                                           .Value(Model.SI_Prop_Property_Value))
                            @Html.ValidationMessageFor(model => model.SI_Prop_Property_Value, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div><!--[Row]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-2 pll">
                            <label class="control-label" for="user">Remarks:</label>
                        </div>
                        <div class="col-sm-10 prm pll1">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("SI_Prop_Remarks").Name("SI_Prop_Remarks").Placeholder("Enter Remarks").Disabled(IsDisabled)
                                                                                               .Value(Model.SI_Prop_Remarks))
                        </div>
                    </div>
                </div>
            </div><!--[Row]-->

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("IDPropertySave").Text(Model.SI_Prop_ActionMethod == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(true).Visible(Model.SI_Prop_ActionMethod == "_View" ? false : true))
                        @(Html.DevExtreme().Button().CustomCloseButton().ID("IDPropertyClose").Text(Model.SI_Prop_ActionMethod == "_View" ? "Close" : "Cancel").FocusStateEnabled(true).OnClick(@<text> function () {  toCloseProperties() ;  } </text>))
                    </div>
                </div>
            </div><!--[Buttons]-->


    

        }
    }
</div>

    <script>
        var form = "ID_frm_Item_Window_Add_Property";
        $(document).ready(function ()
        {
            ShowLoader();
            AssignIDtoLabel(form, "ItemProperty");
            if ($("#Sub_Item_Name").dxTextBox("instance")) {
                var Item_Code = $("#Sub_Item_Name").dxTextBox("instance").option("value");
                $("#SI_Prop_Item_Name").dxTextBox("instance").option("value", Item_Code);
            }

            setTimeout(function ()
            {
            if ("@Model.SI_Prop_ActionMethod" == "_View")
            {
                Set_Form_View_Delete_Mode("#000080", form);
            }
            else if ("@Model.SI_Prop_ActionMethod" == "_Delete")
            {
                Set_Form_View_Delete_Mode("#696969", form);
            }
            else
            {
                Focus_FirstEditable_Field(form);
            }
            HideLoader();
            }, Timeout500);
        });//Mantis bug 0000347 fixed

               
        function SI_DropDown_Click(e) {

        }

        function SI_DropDown_KeyPress(e) {

        }


            function Initialized_Property(e)
    {
        if ("@Model.SI_Prop_ActionMethod" != "_New") {
            e.component.option("dataSource").store.load().done(function (d) {
                e.component.option("value", "@Model.SI_Prop_Property_Name");
            });
        }
    }//Mantis bug 0000334 fixed

        function PropertyName_OnValueChanged(e) {

            var dropDownBox = $("#SI_Prop_Property_Name").dxDropDownBox("instance");
            dropDownBox.close();
            var $dataGrid = $("#Frm_GetProperties");
            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(e.value, false);
                if (dataGrid.getSelectedRowsData().length > 0) {
                    var item = dataGrid.getSelectedRowsData()[0];
                    //SP_ID = item["SP_ID"]
                }
            }

        }//Mantis bug 0000347 fixed

                function toCloseProperties() {
                    $("#StockIteminnergrid").dxPopup("hide");
                }
            </script>
