@using DevExtreme.AspNet.Mvc;
<div>
    @(Html.DevExtreme().Button()
                        .ID("SIP_ExportGridDatapdf")
                        .Text("Export to PDF")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        //.AccessKey("x")
                        .OnClick("ExportPDF")
                        .Visible(true)
                        .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                        .ID("SIP_ExportGridDataxls")
                        .Text("Export to XLS")
                        //.Icon("fa-file-excel-o")
                        //.AccessKey("X")
                        .OnClick("ExportXLS")
                        .Visible(true)
                        .Width(120)
    )<br />
    @(Html.DevExtreme().Button()
                        .ID("SIP_ExportGridDataxlsx")
                        .Text("Export to XLSX")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        //.AccessKey("L")
                        .OnClick("ExportXLSX")
                        .Visible(true)
                        .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                        .ID("SIP_ExportGridDatadocx")
                        .Text("Export to DOCX")
                        //.Icon("export_exporttodocx_16x16office2013")
                        //.AccessKey("D")
                        .OnClick("ExportDOCX")
                        .Visible(true)
                        .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                        .ID("SIP_ExportGridDatartf")
                        .Text("Export to RTF")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        //.AccessKey("R")
                        .OnClick("ExportRTF")
                        .Visible(true)
                        .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                        .ID("SIP_ExportGridDatacsv")
                        .Text("Export to CSV")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        //.AccessKey("C")
                        .OnClick("ExportCSV")
                        .Visible(true)
                        .Width(120)
    )
</div>
<script>
    function ExportPDF() {
        Item_Properties_grid_Data.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        $("#StockPItem_report_modal").dxPopup("hide");
    }
    function ExportXLS() {
        Item_Properties_grid_Data.ExportTo(ASPxClientGridViewExportFormat.Xls);
        $("#StockPItem_report_modal").dxPopup("hide");
    }
    function ExportXLSX() {
        Item_Properties_grid_Data.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        $("#StockPItem_report_modal").dxPopup("hide");
    }
    function ExportCSV() {
        Item_Properties_grid_Data.ExportTo(ASPxClientGridViewExportFormat.Csv);
        $("#StockPItem_report_modal").dxPopup("hide");
    }
    function ExportDOCX() {
        Item_Properties_grid_Data.ExportTo(ASPxClientGridViewExportFormat.Docx);
        $("#StockPItem_report_modal").dxPopup("hide");
    }
    function ExportRTF() {
        Item_Properties_grid_Data.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        $("#StockPItem_report_modal").dxPopup("hide");
    }
</script>

