@using DevExtreme.AspNet.Mvc;
@model IEnumerable<dynamic>

@{
    ViewBag.Title = "Index";
    Layout = null;    
    bool Item_Add_Rights = (bool)ViewData["Item_AddRight"];
    bool Item_Update_Rights = (bool)ViewData["Item_UpdateRight"];
    bool Item_View_Rights = (bool)ViewData["Item_ViewRight"];
    bool Item_Delete_Rights = (bool)ViewData["Item_DeleteRight"];
    bool Item_Export_Rights = (bool)ViewData["Item_ExportRight"];
}

<style>
    #StockCloseItem > div {
        padding: 4px 8px !important;
    }

        #StockCloseItem > div > span {
            margin: 0 !important;
        }

    .Select_Store_Name {
        margin: 8px 0;
        padding: 0 8px;
    }
</style>
<div id="content" class="col-md-12 report_header_div_main">
    @*<div class="row margin0">*@
    <div class="col-md-4 report_header_div">
        <label class="report_header_label">Stock Item Register</label>
    </div>
    <div class="report_button_div">
        @(Html.DevExtreme().Button()
                                                                                                    .ID("StockCloseItem")
                                                                                                    .Text("Close Item")
                                                                                                    .Visible(true)
                                                                                                    .Disabled(false)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnStockCloseItem();
                                                                                                        }
                                                                                                    </text>)
        )


        @(Html.DevExtreme().Button()
                                                                                            .ID("StockItemNew")
                                                                                            .Text("New")
                                                                                            .Icon("add")
                                                                                            .Visible(true)
                                                                                            .Disabled(false)
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                StockItemNewClick();
                                                                                                }
                                                                                            </text>)
        )
        @(Html.DevExtreme().Button()
                                                                                          .ID("StockItemEdit")
                                                                                          .Text("Edit")
                                                                                          .Icon("edit")
                                                                                          .Visible(true)
                                                                                          .Disabled(false)
                                                                                          .OnClick(@<text>
                                                                                            function () {
                                                                                            StockItemOnEditClick();
                                                                                            }
                                                                                        </text>)
        )
        @(Html.DevExtreme().Button()
                                                                                     .ID("StockItemDelete")
                                                                                     .Text("Delete")
                                                                                     .Icon("trash")
                                                                                     .Visible(true)
                                                                                     .Disabled(false)
                                                                                     .OnClick(@<text>
                                                                                        function () {
                                                                                        StockItemDeleteClick();
                                                                                        }
                                                                                    </text>)
        )

        @(Html.DevExtreme().Button()
                                                                                    .ID("StockItemView")
                                                                                    .Text("View")
                                                                                    .Icon(IconID.ViewCustomers16x16devav)
                                                                                    .Icon("doc")
                                                                                    .Visible(true)
                                                                                    .Disabled(false)
                                                                                    .OnClick(@<text>
                                                                                        function () {
                                                                                        StockItemViewClick();
                                                                                        }
                                                                                    </text>)
        )

        @(Html.DevExtreme().Button()
                                                                                   .ID("StockItemListPreview")
                                                                                   .Text("List Export")
                                                                                   .Icon("save")
                                                                                   //.Width(75)
                                                                                   .OnClick(@<text>
                                                                                    function () {
                                                                                    StockItemListPreviewClick();
                                                                                    }
                                                                                </text>)
        )

        @(Html.DevExtreme().Button()
                                                                                   .ID("StockItemToggleButton")
                                                                                   .Text("Full Data")
                                                                                   .Icon("toolbox")
                                                                                   //.Width(75)
                                                                                   .OnClick(@<text>
                                                                                    function () {
                                                                                    StockItemListChangeMode();
                                                                                    }
                                                                                </text>)
        )

        @(Html.DevExtreme().Button()
                                                                                  .ID("StockItemCLOSE")
                                                                                  .Text("Close")
                                                                                  .Icon("clear")
                                                                                  .OnClick(@<text>
                                                                                    function (){$(".TabPanalMenu-tabs .active span").click()}
                                                                                </text>)

        )
    </div>
    @*</div>*@
    <div class="col-sm-4 col-md-4 col-lg-3 Select_Store_Name">
        @(Html.DevExtreme().DropDownBox().CustomDropDown()
                    .ID("Store_Name")
                    .Name("Store_Name")
                    .Placeholder("Select Store/All")
                    .ValueExpr("StoreID")
                    .DisplayExpr("Store_Name")
                    .DataSource(d => d.Mvc().Controller("StockItemWindow").LoadAction("LookUp_GetStoreList").Key("StoreID"))                    
                  
                    .OnValueChanged("SelectStoreItem")
                   
                    .ContentTemplate(@<text>
                        @Html.Partial("LookUp_GetStoreList")
                    </text>)
        )
    </div>
</div>
<!-- <div class="col-md-12 no-padding">
    <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left:0px;padding-right:45px;">
        @* @(Html.DevExtreme().DropDownBox()
           .ID("Store_Name")
           .Name("Store_Name")
           .Value("")
           .Placeholder("Select Store/All")
           .ValueExpr("StoreId")
           .DisplayExpr("StoreName")
           .DataSource(d => d.Mvc().Controller("StockItemWindow").LoadAction("LookUp_GetStoreList").Key("StoreId"))
           .ShowClearButton(true)
           .OnValueChanged("SelectStoreItem")
           .DeferRendering(false)
           .ContentTemplate(@<text>
            @Html.Partial("LookUp_GetStoreList")
        </text>)*@
        )
    </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            @*@(Html.DevExtreme().TextBox()
        .ID("")
        .Name("Opening_Qty")
        .Value("")
        .MaxLength(11)
        )*@
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        @*@(Html.DevExtreme().TextBox()
                                     .ID("Opening_Qty")
                                     .Name("Opening_Qty")
                                     .Value("")
                                     .MaxLength(11)
            )*@
    </div>
</div> -->
<div class="col-md-12 no-padding">
    <form>      
        <div id="StockItemPartialView" class="parent_table">
            @Html.Partial("Frm_Stock_Item_Info_Grid", Model)
        </div>
    </form>
</div>


@*<div class="footer-MainBoxdiv full-width-footer">
    <div class="list_footer_left_margin col-md-10">
        <div>
            <div>
                <div class="list_footer_left_margin">
                    <div class="footer-locktext">
                        <div id="ST_Lbl_ActionOn" class="left_footertext_top"></div>
                        <div id="ST_Lbl_ActionBy" class="left_footertext_bottom"></div>
                    </div>

                </div>
                <div class="list_footer_left_margin">
                    <p id="STLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                    <p id="STLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                </div>

            </div>
        </div>
    </div>
    <div class="list_footer_right_margin_consistent col-md-1">
    </div>
</div>*@


<div class="footer-MainBoxdiv full-width-footer margin8-0">
    <div class="col-md-9">
        <p id="STLbl_Create" style="margin:0px" class="left_footertext_top"></p>
        <p id="STLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
    </div>
</div><!--[Grid Footer]-->





<div class="col-md-12">
    @(Html.DevExtreme().Popup().CustomPopup()
                                                                 .ID("StockItem_report_modal")
                                                                 .OnShowing("PopupOnShowing")
                                                                 .Title("Stock Item List Preview")
                                                                 .FullScreen(false)
                                                                 .MaxWidth(250)
                                                                 .Height("auto")
                                                                 .ShowCloseButton(true)
                                                                 .ContentTemplate(@<text>
                                                                    <div id="StockItem_report_modal_result" class="export_popup">
                                                                    </div>
                                                                </text>)
    )
    <div class="col-md-12">
        @(Html.DevExtreme().Popup().CustomPopup()
                                                                                     .ID("StockPItem_report_modal")                                                                                  
                                                                                     .Title("Stock Item Property List Preview")
                                                                                     .FullScreen(false)
                                                                                     .MaxWidth(250)
                                                                                     .Height("auto")
                                                                                     .ShowCloseButton(true)
                                                                                     .ContentTemplate(@<text>
                                                                                        <div id="StockPItem_report_modal_Result" class="export_popup">
                                                                                        </div>
                                                                                    </text>)
        )
    </div>

    @(Html.DevExtreme().Popup().CustomPopup()
                                                                 .ID("popup_frm_StockItem_Window_Close")
                                                                 .OnShowing("PopupOnShowing")
                                                                 .Title("StockItem")
                                                                 .MaxHeight(210)
                                                                 .MaxWidth(580)
                                                                 .ContentTemplate( @<text>
                                                                    <div id='popup_frm_StockItem_Window_Close_result'>
                                                                    </div>
                                                                </text>)
    )
    @(Html.DevExtreme().Popup().CustomPopup()
                                                          .ID("popup_frm_StockItem_Map_Window")
                                                          .Title("StockItem")
                                                          .OnShowing("PopupOnShowing")
                                                          .DragEnabled(true)
                                                          .Height(400)
                                                          .Width(820)
                                                          .ShowCloseButton(true)
                                                          .ContentTemplate(@<text>
                                                            <div id="popup_frm_StockItem_Map_Window_result">
                                                            </div>
                                                        </text>)
    )

    @(Html.DevExtreme().Popup().CustomPopup()
                                                             .ID("popup_frm_StockItem_Window")
                                                             .Title("StockItem")
                                                             .OnShowing("PopupOnShowing")
                                                             .DragEnabled(true)
                                                             .Height(400)
                                                             .Width(820)
                                                             .ShowCloseButton(true)
                                                             .ContentTemplate(@<text>
                                                                <div id="popup_frm_StockItem_Window_result">
                                                                </div>
                                                            </text>))

    @(Html.DevExtreme().Popup().CustomPopup()
                                                      .ID("StockIteminnergrid").
                                                      CloseOnOutsideClick(false)
                                                      .ShowTitle(true)
                                                      .Title("StockItem")
                                                      .MaxHeight(800)
                                                      .MaxWidth(1600)
                                                      .ContentTemplate(@<text>
                                                        <div id="result_StockIteminnergrid">  </div>
                                                    </text>))

    @*.OnHiding(@<text>
                function () {

                var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                result.done(function (dialogResult) {
                if(dialogResult){
                $("#popup_frm_StockItem_Window").dxPopup("hide");
                }else
                {
                $("#popup_frm_StockItem_Window").dxPopup("show");
                }
                });

                }
        </text>)*@


    @* Testing MVC Popup here *@

    @* Testing ends here *@

</div>

@*Javascript Events*@
<script type="text/javascript">
    //var StockProfile_ShowHorizontalBar = 0;
    var FullData;
    var IsSFNewPopup = false;
    var IsSucessPopup = false;
    var IsViewPopup = false;
    var REC_ID;
    var REC_ADD_ON;
    var REC_ADD_BY;
    var REC_EDIT_ON;
    var REC_EDIT_BY;
    var REC_STATUS;
    var REC_STATUS_ON;
    var REC_STATUS_BY;
    var Closed_On;
    var Item_Name;
    var SI_ShowHorizontalBar = 0;
    var StockItem_Consumption_Type;
    var Item_Code;
    var Conversion_Rate;
    var SubCategory;
    var Store_ID;
    var Primary_Unit;
    var MainCategoryValue = "";//Mantis bug 0000347 fixed
    var isStockItemGridRefresh = false;
    $(document).ready(function () {
        $("#StockItemListGrid").hover(function () {
            StockItemListGrid.Focus()
        })
      
        if ("@Item_Add_Rights" != "True")
        {
            $("#StockItemNew").hide();
        }
        if ("@Item_Update_Rights" != "True")
        {
            $("#StockCloseItem").hide();
            $("#StockItemEdit").hide();            
        }
        if ("@Item_View_Rights" != "True")
        {
            $("#StockItemView").hide();
        }
        if ("@Item_Delete_Rights" != "True")
        {
            $("#StockItemDelete").hide();
        }
        if ("@Item_Export_Rights" != "True")
        {
            $("#StockItemListPreview").hide();
        }
    });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Stock/StockItemWindow/ItemMasterSessionclear",
            cache: false
        });
        DeleteCookie("StItemCookie");
        $.ajax({
            type: 'GET',
            url: "/Stock/StockItemWindow/InfoSessionclear",
            cache: false
        });
    });
    function StockItemOnInit(s, e) {
        StockItemAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            StockItemAdjustSize();
        });
    }
    function StockItemGrid_BeginCallBack(s, e) {
     
        e.customArgs["command"] = e.command;       
        if (e.command == "REFRESH") {
            isStockItemGridRefresh = true;
        }
        e.customArgs["ShowHorizontalBar"] = SI_ShowHorizontalBar;
        
        e.customArgs["Store_ID"] = $("#Store_Name").dxDropDownBox("instance").option("value");
    }

    function StockItemAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        StockItemListGrid.SetHeight(height);
        StockItemListGrid.SetHeight(height);
    }

    function StockItemContextMenuFunction(s, e) {
        if (e.item.name == 'New') {
            StockItemNewClick();
        }
        if (e.item.name == 'Close') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'Edit') {
            StockItemOnEditClick();
        }
        else if (e.item.name == 'ListPreview') {
            StockItemListPreviewClick();
        }
        else if (e.item.name == 'Refresh') {
            StockItemListGrid.Refresh();
        }
        else if (e.item.name == 'CloseItem') {
            OnStockCloseItem();
        }
        else if (e.item.name == 'Delete') {
            StockItemDeleteClick();
        }
        else if (e.item.name == 'View') {
            StockItemViewClick();
        }
        else if (e.item.name == 'MapItemStore') {
            OnMapItemStore();
        }
        else if (e.item.name == 'ReOpenItem') {
            OnStockReOpenItem();
        }
        else if (e.item.name == 'MapItemSupplier') {
            OnMapItemSupplierClick();
        }
        else if (e.item.name == 'AddItemTaxRate') {
            OnAddItemTaxRateClick();
        }
        else if (e.item.name == 'AddItemPenaltyRates') {
            OnAddItemPenaltyRatesClick();
        }
        else if (e.item.name == 'AddItemProperty') {
            OnAddItemPropertyClick();
        }
        else if (e.item.name == 'AddUnitConversion') {
            OnAddItemUnitClick();
        }
        else if (e.item.name == 'ViewItemImage') {
            OnAddItemImageClick();
        }
        else if (e.item.name == 'AddChangeApprovalCriteria') {
            AddChangeApprovalCriteriaClick();
        }

    }
        function AddChangeApprovalCriteriaClick()
        {

            if ("@Item_Update_Rights" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
            return;
        }
            if (!REC_ID) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }

            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Stock/StockItemWindow/DataNavigation",
                data: {
                    ActionMethod: "CloseCheck",
                    ID: REC_ID,

                },
                cache: false,
                success: function (data_Edit) {
                    HideLoader();
                    if (data_Edit.result == "true" || data_Edit.result == true) {
                        DevExpress.ui.dialog.alert("Coming Soon..!", "Inform..");
                    }
                    else if (data_Edit.result == "false" || data_Edit.result == false) {
                        DevExpress.ui.dialog.alert('Approval Criteria can not be added to Closed Item', 'Error');
                    }

                }
            });
        }

    function OnAddItemImageClick() {                  
        if (!REC_ID) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Stock/StockItemWindow/ViewStockImage",
            data: {             
                ID: REC_ID
            },
            cache: false,
            success: function (data)
            {
                if (data.result == false)
                {
                    DevExpress.ui.dialog.alert(data.message, 'Inform');
                }
                else
                {
                           ShowLoader();   
        OpenPopup("popup_frm_StockItem_Window", "View Image",null, "auto", "60%",true,data);
        HideLoader();
                }
            }
        });
 
    }
                
          

        function OnAddItemUnitClick()
        {      
            if (!REC_ID) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }

            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Stock/StockItemWindow/DataNavigation",
                data: {
                    ActionMethod: "CloseCheck",
                    ID: REC_ID,

                },
                cache: false,
                success: function (data_Edit) {

                    if (data_Edit.result == "true" || data_Edit.result == true) {

                        $.ajax({
                            type: 'GET',
                            url: "/Stock/StockItemWindow/frm_Item_Window_Add_Unit_conversion",
                            data: {
                                ActionMethod: "_New",
                                subitemid: REC_ID,
                                Itemname: Item_Name,
                            },
                            cache: false,
                            success: function (data) {
                                ShowLoader();
                                OpenPopup("StockIteminnergrid", "New ~ Add Conversion Unit", null, "auto", 900, true, data);
                               
                                HideLoader();
                            }
                        });
                    }
                    else if(data_Edit.result == "false" || data_Edit.result == false)
                    {
                        DevExpress.ui.dialog.alert('Unit Conversion can not be added to closed item', 'Error');
                    }

                }
            });
        }

    function OnAddItemPropertyClick() {

        if (!REC_ID) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }

        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Stock/StockItemWindow/DataNavigation",
            data: {
                ActionMethod: "CloseCheck",
                ID: REC_ID,

            },
            cache: false,
            success: function (data_Edit) {

                if (data_Edit.result == "true" || data_Edit.result == true) {

      
                    $.ajax({
                        type: 'GET',
                        url: "/Stock/StockItemWindow/frm_Item_Window_Add_Property",
                        data: {
                            ActionMethod: "_New",
                            subitemid: REC_ID,
                            Itemname: Item_Name,
                        },
                        cache: false,
                        success: function (data) {                     
                            ShowLoader();
                            OpenPopup("StockIteminnergrid", "New ~ Add Property", null, "auto", 900, true, data);

                            HideLoader();
                        }
                    });
                }
                else if(data_Edit.result == "false" || data_Edit.result == false)
                {
                    DevExpress.ui.dialog.alert('Property cannot be added to closed Item', 'Error');
                }

            }
        });
    }
    function OnAddItemPenaltyRatesClick()
    {
                  if ("@Item_Add_Rights" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
            return;
        }
            if (!REC_ID) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }

            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Stock/StockItemWindow/DataNavigation",
                data: {
                    ActionMethod: "CloseCheck",
                    ID: REC_ID,

                },
                cache: false,
                success: function (data_Edit) {
                    HideLoader();
                    if (data_Edit.result == "true" || data_Edit.result == true) {
                        DevExpress.ui.dialog.alert("Coming Soon..!", "Inform..");
                    }
                    else if (data_Edit.result == "false" || data_Edit.result == false) {
                        DevExpress.ui.dialog.alert('Penalty Rates can not be added to Closed Item', 'Error');
                    }

                }
            });
        }

        function OnMapItemSupplierClick()
        {
                    if ("@Item_Update_Rights" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
            return;
        }
             IsSFNewPopup = false;
            IsViewPopup = false;
            if (REC_ID == 'undefined' || REC_ID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Stock/StockItemWindow/DataNavigation",
                data: { ActionMethod: "MapItemSupplier", ID: REC_ID, Closed_On: Closed_On },
                cache: false,
                success: function (MapItem_result) {
                   
                    if (MapItem_result.result == true || MapItem_result.result == "true") {
               
                        $.ajax({
                            type: 'Get',
                            url: "/Stock/SupplierMaster/Frm_Item_Supplier_Add_Mapping_Window",
                            data: { PopUpId: "StockIteminnergrid", ActionMethod: "New", itemid: REC_ID, PostSuccessFunction: "Frm_Supplier_SI_OnSuccess",  },
                            cache: false,
                            success: function (resultsuccess) {
                            
                                ShowLoader();
                                OpenPopup("StockIteminnergrid", "New ~ Add Supplier Mapping", null, "auto", 900, true, resultsuccess);

                                HideLoader();
                            }
                        });
                    }
                    else {
                        DevExpress.ui.dialog.alert(MapItem_result.Message, 'Inform..!');
                        HideLoader();
                    }
                }
            });
    }
    function Frm_Supplier_SI_OnSuccess(data) {
      
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else {
            DevExpress.ui.dialog.alert(data.Message, "Item Supplier Mapping");
            $("#StockIteminnergrid").dxPopup("hide");
            StockItemListGrid.SetFocusedRowIndex(-1);
            StockItemListGrid.Refresh();
            //$("#ProductionStoreID").dxDropDownBox("instance").option("readOnly", true);
        }
    }
        function OnAddItemTaxRateClick()
        {
                      if ("@Item_Update_Rights" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
            return;
        }
            if (!REC_ID) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }

            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Stock/StockItemWindow/DataNavigation",
                data: {
                    ActionMethod: "CloseCheck",
                    ID: REC_ID,

                },
                cache: false,
                success: function (data_Edit) {
                    HideLoader();
                    if (data_Edit.result == "true" || data_Edit.result == true) {
                        DevExpress.ui.dialog.alert("Coming Soon..!", "Inform..");
                    }
                    else if (data_Edit.result == "false" || data_Edit.result == false) {
                        DevExpress.ui.dialog.alert('Tax Rates can not be added to Closed Item', 'Error');
                    }

                }
            });
        }
        
        function OnStockReOpenItem()
        {
                      if ("@Item_Update_Rights" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
            return;
        }
            IsSFNewPopup = false;
            IsViewPopup = false;
            if (REC_ID == 'undefined' || REC_ID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Stock/StockItemWindow/DataNavigation",
                data: { ActionMethod: "ReOpenItem", ID: REC_ID, Closed_On: Closed_On },
                cache: false,
                success: function (ReOpenItem_result) {
                    if (ReOpenItem_result.result == true)
                    {
                        DevExpress.ui.dialog.alert(ReOpenItem_result.Message, "Reopen Item..");
                        StockItemListGrid.SetFocusedRowIndex(-1);
                        StockItemListGrid.Refresh();
                        HideLoader();
                    }
                    else
                    {
                        DevExpress.ui.dialog.alert(ReOpenItem_result.Message, 'Warning!');
                        HideLoader();
                    }
                }
            });
        }
        function OnMapItemStore()
        { 
            if ("@Item_Update_Rights" == "False") {
                DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
                return;
            }

            IsSFNewPopup = false;
            IsViewPopup = false;
            if (!REC_ID) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }
               
            
            var StoreID = $("#Store_Name").dxDropDownBox("instance").option("value");

            if (StoreID != null && StoreID != 0) {
                Store_ID = StoreID;
            }
            else {
                Store_ID = null;
            }
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Stock/StockItemWindow/DataNavigation",
                data: { ActionMethod: "MapItemStore", ID: REC_ID, Closed_On: Closed_On },
                cache: false,
                success: function (MapItem_result) {
                    if (MapItem_result.result == true || MapItem_result.result == "true") {
                        ShowLoader();                      

                            OpenPopup("popup_frm_StockItem_Map_Window", "Store ~ Map Item", "@Url.Action("Frm_Stock_Item_Map", "StockItemWindow", new { @area = "Stock" })?recId=" + encodeURIComponent(REC_ID) + "&ItemName=" + encodeURIComponent(Item_Name) + "&Store_ID=" + Store_ID, "auto", 900, false, null);
                            StockItemListGrid.SetFocusedRowIndex(-1);
                            StockItemListGrid.Refresh();
                            HideLoader();
                     
                    }
                    else {
                        DevExpress.ui.dialog.alert(MapItem_result.Message, 'Inform..!');
                        HideLoader();
                    }
                }
            });
        }

    
    function StockItemListPreviewClick()
    {
                  if ("@Item_Export_Rights" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
            return;
        }
        $("#StockItem_report_modal").dxPopup("show");
        $("#StockItem_report_modal").dxPopup("instance").option("title", "Export Option");
    
        $("#StockItem_report_modal_result").html(null);
        ShowLoader();
        $("#StockItem_report_modal_result").load("@Url.Action("Frm_Export_Options", "StockItemWindow", new { @area = "Stock" })", function () {
            HideLoader();
        });
    }

    
    function StockItemListChangeMode() {
       
        ShowLoader();
        if (SI_ShowHorizontalBar == 0) {
            SI_ShowHorizontalBar = 1;
            $("#StockItemToggleButton").find("span").text("Default Data");

        }
        else {
            SI_ShowHorizontalBar = 0;
            $("#StockItemToggleButton").find("span").text("Full Data");

        }
        $.ajax({
            url: '@Url.Action("Frm_Stock_Item_Info_Grid", "StockItemWindow")',
            type: "GET",
            async: false,
            data: { ShowHorizontalBar: SI_ShowHorizontalBar },
            success: function (res) {
                $("#StockItemPartialView").html(res);
            }
        });
        HideLoader();
    }//full data button click

    function StockItemOnGridFocusedRowChanged(s, e)
    {       
        if (s.GetFocusedRowIndex() > -1) {
            var key = s.GetRowKey(s.GetFocusedRowIndex());   
            REC_ID = key;
            s.GetValuesOnCustomCallback({ key: key }, StockItemOnGetRowValues);
        }
        else { REC_ID = 0; }
    }//Mantis bug 0000347 fixed

    function StockItemOnGetRowValues(FDData) {
      
        FullData = FDData;
        var values = FDData.split("![");
        REC_ID = values[0];
        REC_ADD_ON = values[1];
        REC_ADD_BY = values[2];
        REC_EDIT_ON = values[3];
        REC_EDIT_BY = values[4];
        Closed_On = values[5];
        StockItem_Consumption_Type = values[6];
        Item_Name  = values[8];
        Item_Code = values[10];
        Conversion_Rate = values[7];
        SubCategory = values[11];
        Primary_Unit = values[12];
        MainCategoryValue = values[13];
        StockItemUpdateFooterDetail(REC_ID, REC_ADD_ON, REC_ADD_BY, REC_EDIT_ON, REC_EDIT_BY);
    }//Mantis bug 0000347 fixed

    function StockItemUpdateFooterDetail(REC_ID, REC_ADD_ON, REC_ADD_BY, REC_EDIT_ON, REC_EDIT_BY) {

        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Add_Date = "";
        var Add_By = "";
        var Status_On = "";
        var Status_By = "";
        var StatusStr = "Completed";
        var Lbl_StatusOn = "";
        var Lbl_StatusBy = "";

        Status = REC_STATUS;

        Add_Date = REC_ADD_ON;
        Add_By = REC_ADD_BY;
        Status_On = REC_STATUS_ON;
        Status_By = REC_STATUS_BY;

        if (Status_On) {
            Lbl_StatusOn = StatusStr + " On: " + Status_On;
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }
        else {
            Lbl_StatusOn = StatusStr + " On: " + "?";
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }

        if (Add_Date) {
            Lbl_Create = "Add On: " + Add_Date + ", By: " + Add_By;
        }
        else {
            Lbl_Create = "Add On: " + "?, By: " + Add_By;
        }

        var Edit_Date = "";
        var Edit_By = "";

        Edit_Date = REC_EDIT_ON;
        Edit_By = REC_EDIT_BY;

        if (Edit_Date) {
            Lbl_Modify = "Edit On: " + Edit_Date + ", By: " + Edit_By;
        }
        else {
            Lbl_Modify = "Edit On: " + "?, By: " + Edit_By;
        }
        //$('#ST_Lbl_ActionOn').text(Lbl_StatusOn)
        //$('#ST_Lbl_ActionBy').text(Lbl_StatusBy);
        $('#STLbl_Create').text(Lbl_Create);
        $('#STLbl_Modify').text(Lbl_Modify);
        if (Lbl_Status_Color != "") {
            $('#STLbl_Status').css('color', Lbl_Status_Color);
        }
        if (Pic_Status != "") {
            $('#ST_LockICON').css('class', Pic_Status);
        }
    }

    //New Click function Start
    function StockItemNewClick()
    {
        if ("@Item_Add_Rights" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
            return;
        }
         ShowLoader();
                OpenPopup("popup_frm_StockItem_Window", "New ~ Stock Item", "@Url.Action("StockItemWindowNew", "StockItemWindow", new {@area= "Stock" })?ActionMethod=_New", "auto", 1000, false, null);
            HideLoader();  

                   }
  
     //New Click function End

  //Edit Click function Start
    function StockItemOnEditClick()
    { 
             if ("@Item_Update_Rights" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
            return;
        }
        if (!REC_ID)
        {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Stock/StockItemWindow/DataNavigation",
            data: {
                ActionMethod: "_Edit",
                ID: REC_ID,

            },
            cache: false,
            success: function (data_Edit) {
            
                if (data_Edit.result == "true" || data_Edit.result == true)
                {       
                    ShowLoader();
                    OpenPopup("popup_frm_StockItem_Window", "Edit ~ Stock Item", "@Url.Action("StockItemWindowNew", "StockItemWindow", new {@area= "Stock" })?ActionMethod=_Edit&ID=" + REC_ID, "auto", 1000, false, null);
                    HideLoader(); 
                }
                else {
                    HideLoader();
                    DevExpress.ui.dialog.alert(data_Edit.Message, 'Warning!');                    
                    StockItemListGrid.Refresh();
                }
            }
        });
    }
    function StockItemDeleteClick()
    {
             if ("@Item_Delete_Rights" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
            return;
        }
        IsSFNewPopup = false;
        IsViewPopup = false;
        if (!REC_ID) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Stock/StockItemWindow/DataNavigation",
            data: {
                ActionMethod: "_Delete",
                ID: REC_ID,

            },
      
            cache: false,
            success: function (data_Delete) {
                if (data_Delete.result == "true" || data_Delete.result == true)
                {          
                    ShowLoader();
                    OpenPopup("popup_frm_StockItem_Window", "Delete ~ Stock Item", "@Url.Action("StockItemWindowNew", "StockItemWindow", new {@area= "Stock" })?ActionMethod=_Delete&ID=" + REC_ID, "auto", 1000, false, null);
                    HideLoader(); 
                }
                else {
                    HideLoader();
                    DevExpress.ui.dialog.alert(data_Delete.Message, 'Warning!');
                 
                    StockItemListGrid.Refresh();
                }
            }
        });
    }
    function OnStockCloseItem()
    {
             if ("@Item_Update_Rights" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
            return;
        }
        IsSFNewPopup = false;
        IsViewPopup = false;
        if (REC_ID == 'undefined' || REC_ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Stock/StockItemWindow/DataNavigation",
            data: { ActionMethod: "CloseItem", ID: REC_ID, Closed_On: Closed_On },
            cache: false,
            success: function (CloseItem_result) {
                if (CloseItem_result.result == true)
                {            
                    ShowLoader();
                    OpenPopup("popup_frm_StockItem_Window_Close","Close ~ Stock Item","@Url.Action("Frm_Stock_Item_Close", "StockItemWindow", new { @area = "Stock" })?recId=" + encodeURIComponent(REC_ID) + "&ItemName=" + encodeURIComponent(Item_Name),"auto","40%",false,null);
                    HideLoader();
                }
                else
                {
                    DevExpress.ui.dialog.alert(CloseItem_result.Message, 'Warning!');
                    HideLoader();
                   // StockItemListGrid.Refresh();
                }
            }
        });
    }
    function StockItemViewClick()
    {
             if ("@Item_View_Rights" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
            return;
        }
        IsSFNewPopup = false;
        IsViewPopup = false;
        if (!REC_ID) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        ShowLoader();
        OpenPopup("popup_frm_StockItem_Window", "View ~ Stock Item", "@Url.Action("StockItemWindowNew", "StockItemWindow", new {@area= "Stock" })?ActionMethod=_View&ID=" + REC_ID, "auto", 1000, false, null);
        HideLoader(); 
    }


    //function c(e)
    //{
    //    var dropDownBox = $("#Store_Name").dxDropDownBox("instance");
    //    dropDownBox.close();
    //    var $dataGrid = $("#LookUp_GetStoreList_datagrid");
    //    if ($dataGrid.length) {
    //        var dataGrid = $dataGrid.dxDataGrid("instance");
    //        dataGrid.selectRows(e.value, false);
    //        if (dataGrid.getSelectedRowsData().length > 0) {
    //            var item = dataGrid.getSelectedRowsData()[0];
    //            var store_id=item["StoreId"];
    //        }
    //    }
    //}
    function Primary_Unit_DDL_OnChange(e) {
        var dropDownBox = $("#Unit").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#Frm_GetStockUnits");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                //SP_ID = item["SP_ID"]

            }
        }
    }
    function StockItemClosedAjaxSuccessForm(data)
    {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
        else {
            var StackSubmitSuccess = DevExpress.ui.dialog.alert(data.Message, "Infom..");
            StockItemListGrid.Refresh();
            $("#popup_frm_StockItem_Window_Close").dxPopup("hide");
            StockItemListGrid.SetFocusedRowIndex(-1);
            StockItemListGrid.Refresh();
        }
    }
    function SelectStoreItem()
    {
        var Store_ID;
        var _ID = $("#Store_Name").dxDropDownBox("instance").option("value");
        var dropDownBox = $("#Store_Name").dxDropDownBox("instance");
        dropDownBox.close();       

        var $dataGrid = $("#LookUp_GetStoreList_datagrid");
        if ($dataGrid.length) {            
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                StoreID = item.StoreID; 
            }
        }

        if (StoreID != null && StoreID != 0) {
            Store_ID = StoreID;
         ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Stock/StockItemWindow/Frm_Stock_Item_Info_Grid",
                data: { Store_ID: Store_ID },
                cache: false,
                success: function (StoreItemGrid_result) {
                    $("#StockItemPartialView").html("");
                    $("#StockItemPartialView").html(StoreItemGrid_result);
                    //var store = StoreItemGrid_result;

                    //StockItemListGrid.Refresh();
                    HideLoader();
                }
            });
        }
        else
        {
            DevExpress.ui.dialog.alert('Please Select Store Item', 'Alert');
            StockItemListGrid.Refresh();
        }
       
    }

    //function fileUploader_valueChanged(e) {
    //    var files = e.value;
    //    if (files.length > 0) {
    //        $("#imgUpLoad").attr('src');
            //$("#selected-files .selected-item").remove();

            //$.each(files, function (i, file) {
            //var $selectedItem = $("<div />").addClass("selected-item");
            //$selectedItem.append(
            //$("<span />").html("Name: " + file.name + "<br/>"),
            //$("<span />").html("Size " + file.size + " bytes" + "<br/>"),
            //$("<span />").html("Type " + file.type + "<br/>"),
            //$("<span />").html("Last Modified Date: " + file.lastModifiedDate)
            //);
            //$selectedItem.appendTo($("#selected-files"));
            //});
    //        //$("#selected-files").show();
    //    }
    //    else { }
    //        //$("#selected-files").hide();
    //}
    //var file = [];
    //function ToUploadImage(input) {
    //    if (input.files && input.files[0]) {
    //        var reader = new FileReader();
    //        reader.onload = function (e) {
    //            $("#file-upload").attr('src', e.target.result);
    //        };
    //        file= input.files
    //        var DataUrl = reader.readAsDataURL(input.files[0]);
    //    }
    //}
</script>

<script>

    function Frm_SI_Properties_OnSuccess(data) {

        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else if (data.result == true) {

            $("#StockIteminnergrid").dxPopup("hide");
            Item_Properties_grid_Data.SetFocusedRowIndex(-1);
            Item_Properties_grid_Data.Refresh();
            //$("#ProductionStoreID").dxDropDownBox("instance").option("readOnly", true);
        }
        else {
            $("#StockIteminnergrid").dxPopup("hide");
            DevExpress.ui.dialog.alert(data.message, "Inform");
            StockItemListGrid.SetFocusedRowIndex(-1);           
            StockItemListGrid.Refresh();

            HideLoader();
        }
    }


    function Frm_SI_Unit_OnSuccess(data) {

        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else if (data.result == true) {

            $("#StockIteminnergrid").dxPopup("hide");
            UnitConversionList_SubItem_Grid_Data.SetFocusedRowIndex(-1);
            UnitConversionList_SubItem_Grid_Data.Refresh();
            //$("#ProductionStoreID").dxDropDownBox("instance").option("readOnly", true);
        }
        else {
            $("#StockIteminnergrid").dxPopup("hide");
            DevExpress.ui.dialog.alert(data.message, "Inform");
            StockItemListGrid.SetFocusedRowIndex(-1);
            StockItemListGrid.Refresh();
           
        }
    }
</script>