@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.CloseItemInfo
@{
    Layout = null;
}

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}

<style>
    .pll2 {
        padding-left: 2px !important;
    }

    .margR4 {
        margin-right: 4px;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="stockClosedItem" class="edit_form">
    @using (Ajax.BeginForm("Frm_Stock_Item_Closed_Save", "StockItemWindow",
                                                          new AjaxOptions
                                                          {
                                                              HttpMethod = "POST",
                                                              UpdateTargetId = "StockWindow",
                                                              InsertionMode = InsertionMode.InsertAfter,
                                                              OnBegin = "AjaxBeginFormPost",
                                                              OnSuccess = "StockItemClosedAjaxSuccessForm"
                                                          },
                                                               new
                                                               {
                                                                   id = "itemClose_Form",
                                                                   @class = "edit_form"
                                                               }))
    {
        @Html.HiddenFor(x => x.SubItemID)
        <!--<div class="full-width-header-bg">
            <div class="row">

                <div class="col-sm-8">
                    <h3 class="popuphead"><i class="far fa-edit"></i> Item Closure </h3>
                </div>
                <div class="col-sm-4 prm">
                    <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                </div>
            </div>
        </div> []-->

        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-3 pll">
                        <label class="control-label" for="user">Item Name:</label>
                    </div>
                    <div class="col-sm-9 prm pll1">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                  .ID("Item_Name")
                                                                  .Name("Item_Name")
                                                                  .Value(Model.Item_Name)
                                                                  .ReadOnly(true)
                                                                  //.Placeholder("Enter Closed Remarks")
                                                                  // .ShowClearButton(true)
                                                                  .MaxLength(8000)
                        )
                    </div>
                </div>
            </div>
        </div><!--[Row]-->

        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-3 pll">
                        <label class="control-label text-red" for="user">Closure Date:</label>
                    </div>
                    <div class="col-sm-9 prm pll1">
                        @(Html.DevExtreme().DateBoxFor(model => model.CloseDate).CustomDateBox()
                                                                                       .ID("CloseDate")
                                                                                       .Name("CloseDate")

                        )
                        @Html.ValidationMessageFor(model => model.CloseDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div><!--[Row]-->

        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-3 pll">
                        <label class="control-label text-red" for="user">Closure Remarks:</label>
                    </div>
                    <div class="col-sm-9 prm pll1">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                   .ID("CloseRemarks")
                                                                                   .Name("CloseRemarks")
                                                                                   .Value(Model.CloseRemarks)
                                                                                   .Placeholder("Reason for Closure ")
                                                                                   .MaxLength(8000)
                        )
                        @Html.ValidationMessageFor(model => model.CloseRemarks, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div><!--[Row]-->

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="styleActionBtn">
                    @(Html.DevExtreme().Button().CustomSaveButton().ID("StockClose_save").Text("Save").FocusStateEnabled(true).UseSubmitBehavior(true))
                    @(Html.DevExtreme().Button().CustomCloseButton().ID("Stockclose_Cancel").Text("Cancel").FocusStateEnabled(true).OnClick(@<text> function () {   $("#popup_frm_StockItem_Window_Close").dxPopup("hide");  } </text>))
                </div>
            </div>
        </div><!--[Buttons]-->

       
    }
</div>


<script>
    var form = "itemClose_Form";
    $(document).ready(function ()
    {
        setTimeout(function () {
            Focus_FirstEditable_Field(form);
        }, Timeout500);
    });
</script>

