@using DevExtreme.AspNet.Mvc
@using Common_Lib;
@model ConnectOneMVC.Areas.Stock.Models.StockItemWindow

@{
    ViewBag.Title = "Index";
    Layout = null;
}


<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<style>
    .pll2 {
        padding-left: 2px !important;
    }

    .margR4 {
        margin-right: 4px;
    }

    .nav-tabs > li > a.active, .nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    #List {
        overflow-y: scroll;
        height: 125px;
    }
</style>

<div id="ContentOfItemWindow" class="edit_form">
    @using (Ajax.BeginForm("SaveItemWindow", "StockItemWindow", new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "ContentOfItemWdow",
        InsertionMode = InsertionMode.InsertAfter,
        OnBegin = "AjaxBeginFormPost",

    },
    new { id = "stocki", @class = "edit_form" }
    ))
    {

        @Html.HiddenFor(x => x.SubItemID)


        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();
        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i>View Stock Item Image</h3>
                    </div>
                 
                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div>
            </div> <!--[Title and Heading]-->



            <div class="col-sm-6">
                <div class="form-field">
                    <div class="container-fluid">


                        <fieldset class="default-fieldset">
                            <legend>Image</legend>
                            <div id="si_fileview">
                                @Html.Partial("SI_PreviewImageControl")
                            </div>
                          
                           

                        </fieldset>


                    </div>
                </div>
            </div>
           
            <div class="row">                
                        <div class="col-sm-12  ">
                          <div class="styleActionBtn">

                            @(Html.DevExtreme().Button().CustomCloseButton().ID("StockItw_Cancel").Text("Close").FocusStateEnabled(true).OnClick("close_StockItemWindow"))

                      
                    </div>
                </div>
            </div><!--[]-->
        }
    }
</div>
     

<script>
  
  

    function SI_FileUploaded(e)
    {
        $("#si_fileview").load("@Url.Action("SI_PreviewImageControl", "StockItemWindow", new { @area = "Stock" })", function () { });
        $("#si_fileRemove").show();
    }

    function ItemImageEndcallback(s, e) {
        s.SetHeight((document.documentElement.clientHeight* 0.6));
    }

   


    //function AjaxSuccessForItemWindow(data)
    //{
    //    debugger;
    //    HideLoader();
    //    if (data.result == false) {
    //        DevExpress.ui.dialog.alert(data.message, 'Error');
    //    }
    //    else {
    //        HideLoader();
    //        DevExpress.ui.dialog.alert(data.message, 'Success');
    //        $("#popup_frm_StockItem_Window").dxPopup("hide");
    //        StockItemListGrid.SetFocusedRowIndex(-1);
    //        StockItemListGrid.Refresh();

    //    }

    //}//Mantis bug 0000334 fixed


    function close_StockItemWindow()
    {
        $("#popup_frm_StockItem_Window").dxPopup("hide");
    }//Mantis bug 0000334 fixed

    

  
  

</script>