<div class="FDProfile_Clearreference_dx">
    @using DevExtreme.AspNet.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        string UserType = (string)ViewBag.UserType;
        bool FD_AddRight = (bool)ViewData["FD_AddRight"];
        bool FD_UpdateRight = (bool)ViewData["FD_UpdateRight"];
        bool FD_ViewRight = (bool)ViewData["FD_ViewRight"];
        bool FD_DeleteRight = (bool)ViewData["FD_DeleteRight"];
        bool FD_ExportRight = (bool)ViewData["FD_ExportRight"];
        bool FD_ListRight = (bool)ViewData["FD_ListRight"];
        bool FD_ListBankRight = (bool)ViewData["FD_ListBankRight"];
        bool FD_AddHelp_ActionItemsRight = (bool)ViewData["FD_AddHelp_ActionItemsRight"];
        bool FD_ListHelp_ActionItemsRight = (bool)ViewData["FD_ListHelp_ActionItemsRight"];
        bool FD_LockUnlockRight = (bool)ViewData["FD_LockUnlockRight"];
        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
        bool FDList_Auto_Vouching_Mode = (bool)ViewData["FDList_Auto_Vouching_Mode"];
    }
    <style>
        .FDProfile_CellCss {
            /*word-break: break-all;*/
            overflow-wrap: break-word;
        }
        </style>
    <div id="FDProfile_ParentDiv_dx">
        <div id="content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">FD Information</label>
            </div>
            @*Buttons*@
        <div class="report_button_div">
            @(Html.DevExtreme().Switch().ID("FDVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("FD_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
            @(Html.DevExtreme().Switch().ID("FDViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("FD_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
            @if (ViewBag.LockUnlock != false)
            {
                @(Html.DevExtreme().Button()
                                                        .ID("BUT_UNLOCKED")
                                                        .Text("Unlock")
                                                        .Icon("add")
                                                        .Visible(false)
                                                        .Disabled(true)
                                                        .OnClick(@<text>
                                                            function () {
                                                            OnUnlockClick();
                                                            }
                                                        </text>)
                )

                @(Html.DevExtreme().Button()
                                                        .ID("BUT_LOCKED")
                                                        .Text("Lock")
                                                        .Icon("add")
                                                        .Visible(false)
                                                        .Disabled(true)
                                                        .OnClick(@<text>
                                                            function () {
                                                            OnLockClick();
                                                            }
                                                        </text>)
                )
            }
            @(Html.DevExtreme().Button().ID("GetFDStatement_FDAcc_Profile").Text("FD Statement").Visible(true).OnClick("getFDstatement_FD_Onclick") )
            @(Html.DevExtreme().Button()
                                                        .ID("BUT_NEW")
                                                        .Text("New")
                                                        .Icon("add")
                                                        .Visible(false)
                                                        .Disabled(true)
                                                        .OnClick(@<text>
                                                            function () {
                                                            OnNewClick();
                                                            }
                                                        </text>)
            )
            @(Html.DevExtreme().Button()
                                                        .ID("BUT_EDIT")
                                                        .Text("Edit")
                                                        .Visible(false)
                                                        .Disabled(true)
                                                        .Icon("edit")
                                                        .OnClick(@<text>
                                                            function () {
                                                            OnEditClick();
                                                            }
                                                        </text>)
            )
            @(Html.DevExtreme().Button()
                                                        .ID("BUT_DELETE")
                                                        .Text("Delete")
                                                        .Visible(false)
                                                        .Disabled(true)
                                                        .Icon("trash")
                                                        .OnClick(@<text>
                                                            function () {
                                                            OnDeleteClick();
                                                            }
                                                        </text>)
            )
            @(Html.DevExtreme().Button()
                                                        .ID("BUT_VIEW")
                                                        .Text("View")
                                                        .Visible(false)
                                                        .Disabled(true)
                                                        .Icon(IconID.ViewCustomers16x16devav)
                                                        .Icon("doc")
                                                        .OnClick(@<text>
                                                            function () {
                                                            OnViewClick();
                                                            }
                                                        </text>)
            )
            @(Html.DevExtreme().Button()
                                                            .ID("FDToggleScrollBar")
                                                            .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                                                            .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                                                            .Icon("toolbox")
                                                            .OnClick(@<text>
                                                                function () {
                                                                FDchangeMode();
                                                                }
                                                            </text>)
            )
            @(Html.DevExtreme().Button()
                                                        .ID("FDModelListPreview")
                                                        .Text("Export")
                                                        .Icon("save")
                                                        .Width(80)
                                                        .OnClick(@<text>
                                                            function () {
                                                            OnListPreviewClick();
                                                            }
                                                        </text>)
            )
            @(Html.DevExtreme().Button()
                                                        .ID("BUT_CLOSE")
                                                        .Text("Close")
                                                        .Icon("clear")
                                                        .OnClick(@<text>
                                                            function (){
                                                            closeProfile_FD();
                                                            }
                                                        </text>)
            )
        </div>
        </div>
        <div class="col-md-12 no-padding">
            <form>
                <div id="FDreloadPartialView" class="parent_table">
                    @Html.Partial("Frm_FD_Info_Grid_dx", Model)
                </div>
            </form>
        </div>

        <div class="footer-MainBoxdiv full-width-footer">
            @*<div class="col-lg-8 report_footer_small_buttons_div" id="FDFooterItem">*@
            <div class="list_footer_left_margin col-md-10">
                <div>
                    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id="FD_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="FD_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                            @*<div class="footer-locktext">
                                    <div id="FDLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                                </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id="FDLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id="FDLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list_footer_right_margin_consistent col-md-1">
                @*<i id="FD_LockICON" class="fa fa-lock lock_symbol"></i>*@
            </div>
            @*</div>
                <div class="col-lg-4 listing_footer_filter_buttons_div">
                </div>*@
        </div>
        @Html.Partial("AttachmentFAB", "FDPrf_FAB,FDProfile_ParentDiv_dx,Type1,FDProfile," + UserType) @*fab buttons*@

        <div class="col-md-12">
            @(Html.DevExtreme().Popup().CustomPopup()
                                .ID("FD_report_modal")
                                 .OnShowing("PopupOnShowing")
                                .Title("FD List Preview")
                                .FullScreen(false)
                                .MaxWidth(125)
                                .Height("auto")
                                .ShowCloseButton(true)
                                .ContentTemplate(@<text>
                                    <div id='FD_report_modal_result'>
                                    </div>
                                </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                        .ID("popup_Frm_FD_Window")
                        .Title("Fixed Deposit")
                        .DragEnabled(true)
                        .Height(420)
                        .Width(700)
                        .OnShowing("PopupOnShowing")
                        .ShowCloseButton(true)
                        .ContentTemplate(@<text>
                            <div id='popup_Frm_FD_Window_result'>
                            </div>
                        </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                        .ID("popup_Frm_FD_Window_Close")
                        .OnShowing("PopupOnShowing")
                        .Title("Bank")
                       .Height(420)
                       .Width(700)
                        .ContentTemplate( @<text>
                            <div id='popup_Frm_FD_Window_Close_result'>
                            </div>
                        </text>)
        )

        </div>
    </div>
    <script type="text/javascript">
    var FD_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var IsSucessPopup = false;
    var IsFDSucessPopup = false;
    var IsFDViewPopup = false;
    var IsFDNewPopup = false;
    var FDListGrid = null;
    var FD_FocusedRowIndexBeforeRefresh;
    var FDList_Auto_Vouching_Mode = "@FDList_Auto_Vouching_Mode" == "True" ? true : false;
    var FD_IsVouchingMode = false;
    var UserType_FDPrf = "@UserType".toUpperCase();
    var FD_ViewMode = "Default";
    var VisibleColumns_FDListGrid = [];
    var FD_ColumnToBeShownIndex = "";
    var FD_ColumnToBeHidddenIndex = "";
    $(document).ready(function () {
        if ("@FD_AddRight" == "False")
        {
            $("#BUT_NEW").hide();
        }
        if ("@FD_UpdateRight" == "False")
        {
            $("#BUT_EDIT").hide();
        }
        if ("@FD_ViewRight" == "False")
        {
            $("#BUT_VIEW").hide();
        }
        if ("@FD_DeleteRight" == "False")
        {
            $("#BUT_DELETE").hide();
        }
        if ("@FD_ExportRight" == "False")
        {
            $("#FDModelListPreview").hide();
        }
        if ("@FD_LockUnlockRight" == "False")
        {
            $("#BUT_UNLOCKED").hide();
            $("#BUT_LOCKED").hide();
        }
        var IsSucessPopup = false;
        IsFDSucessPopup = false;
        IsFDViewPopup = false;
        // SetFDGroupPanelFooterVisible();



        if (FD_IsVouchingMode == true) {
            $(".FDListGrid_PreviewRow").hide();
        }
        else {
            $(".FDListGrid_PreviewRow").show();
        }
        GetSessionStorage("FDListGrid");
        if (FDList_Auto_Vouching_Mode == true)
        {
            $("#FDViewModeSwitch").dxSwitch("instance").option("value", true);
        }
    });
    function ClearAllReferences_FDProfile() {
        FD_ShowHorizontalBar = null;
        IsSucessPopup = null;
        IsFDSucessPopup = null;
        IsFDViewPopup = null;
        IsFDNewPopup = null;
        FD_FocusedRowIndexBeforeRefresh = null;
        FDList_Auto_Vouching_Mode = null;
        FD_IsVouchingMode = null;
        UserType_FDPrf = null;
        FD_ViewMode = null;
        FD_ColumnToBeShownIndex = null;
        FD_ColumnToBeHidddenIndex = null;
        BI_BANK_NAME = null;
        BB_BRANCH_NAME = null;
        FD_NO = null;
        FD_DATE = null;
        FD_AS_DATE = null;
        FD_AMOUNT = null;
        FD_INT_RATE = null;
        FD_INT_PAY_COND = null;
        FD_MAT_DATE = null;
        FD_MAT_AMT = null;
        BA_CUST_NO = null;
        Add_By = null;
        Add_Date = null;
        Edit_By = null;
        Edit_Date = null;
        Action_Status = null;
        Action_By = null;
        Action_Date = null;
        TR_ID = null;
        ID = null;
        FD_Status = null;
        CLOSE_DATE = null;
        Entry_Type = null;
        Interest_Recd = null;
        TDS_Paid = null;
        Nett_Interest = null;
        Other_Detail = null;
        FD_Less_Maturity = null;
        Remarks = null;
        RemarkStatus = null;
        OpenActions = null;
        CrossedTimeLimit = null;
        YearID = null;
        FDInfo_IsDetailRowExpanded = null;
        FDInfo_NestedRecord_FocusedRowIndex = null;
        FDInfo_NestedGrid_AccessID = null;
        FDInfo_AtachmentID = null;
        FDInfo_FileName = null;
        FDInfo_ParamMandatory = null;
        FDInfo_FromDateLabel = null;
        FDInfo_ToDateLabel = null;
        FDInfo_DescriptionLabel = null;
        FDInfo_Doc_ID = null;
        FDInfo_Doc_Category = null;
        FDInfo_MasterRowRecID = null;
        FDInfo_MasterRowMID = null;
        FDInfo_NestedRowMapID = null;
        FDInfo_reason = null;
        FDInfo_Attachment_RecStatus = null;
        FDInfo_NestedRowReasonID = null;
        FDInfo_NestedRowUniqueID = null;

        ClearAllReferences("FDProfile_Clearreference_dx");

    }

    function FD_VouchingSwitch_ValueChange(e)
    {
        FD_IsVouchingMode = e.value;
        if (FDList_Auto_Vouching_Mode == true)
        {
            FDList_Auto_Vouching_Mode = false;
        }
        else
        {
            FDPrf_FAB.SetVisible(false);
        }
        if (FD_IsVouchingMode == true) {
            OpenRightPane();
            ClearLeftPane();
            OpenLeftPane();
        }
        else {
            FDPrf_FAB.SetActionContext("AddAttachmentContext", false);
            CloseRightPane();
            ClearLeftPane();
            CloseLeftPane();
        }
        FDListGrid.clearSelection();
        FDListGrid.option("masterDetail.enabled", !FD_IsVouchingMode)
        FDListGrid.repaint();
    }

    function FD_ViewSwitch_ValueChange(e)
    {
        FD_ViewMode = e.value == false ? "Default" : "Compact";
        if (FDList_Auto_Vouching_Mode == true)
        {
            $("#FDVouchingModeSwitch").dxSwitch("instance").option("value", true);
        }
        FDListGrid.beginUpdate();
        var columns = FDListGrid.option("columns");
        if (FD_ViewMode == "Compact") {
            VisibleColumns_FDListGrid = [];
            for (var i = 0; i < columns.length; i++) {
                var name = columns[i].dataField;
                var ColumnVisible = FDListGrid.columnOption(name, "visible");
                if (name == "FDListGrid_dx_Compact_Column") {
                    FDListGrid.columnOption(name, "visible", true);
                }
                else if (ColumnVisible == true && name != "iIcon") {
                    VisibleColumns_FDListGrid.push(name);
                    FDListGrid.columnOption(name, "visible", false);
                }
            }
        }
        else {
            FDListGrid.columnOption("FDListGrid_dx_Compact_Column", "visible", false);
            for (var i = 0; i < VisibleColumns_FDListGrid.length; i++) {
                FDListGrid.columnOption(VisibleColumns_FDListGrid[i], "visible", true);
            }
        }
        FDListGrid.repaint();
        FDListGrid.endUpdate();
    }
    function OnFDCellClick(event, cell,col, row)
    {
        if (UserType_FDPrf == "AUDITOR" || UserType_FDPrf == "SUPERUSER")
        {
            if (event.button == 0)
            {
                if (cell.style.backgroundColor.length > 0)
                {
                    cell.style.backgroundColor = "";
                }
                else
                {
                    cell.style.backgroundColor = 'skyblue';
                }
            }
        }
    }
    function FDchangeMode() {
        if (FD_ShowHorizontalBar == 0) {
            FD_ShowHorizontalBar = 1;
            $("#FDToggleScrollBar").find("span").text("Default Data");
            $("#FDToggleScrollBar").width(110);
            FDListGrid.option("columnHidingEnabled", false);
            FDListGrid.option("allowColumnResizing", true)
        }
        else {
            FD_ShowHorizontalBar = 0;
            $("#FDToggleScrollBar").find("span").text("Full Data");
            $("#FDToggleScrollBar").width(90);
            FDListGrid.option("columnHidingEnabled", false);
            FDListGrid.option("allowColumnResizing", true)
        }
    }
    function OnNewAuditClick() {
        if ("@FD_AddHelp_ActionItemsRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        OpenDynamicPopup("New ~ Action","@Url.Action("Frm_Action_Items_Window", "ActionItems", new { @area = "Help" })?ActionMethod=" + "New","auto",680)
    }
    function OnManageBankClick() {
        if ("@FD_ListBankRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        OpenDynamicPopup("","@Url.Action("Frm_Bank_Info_dx", "Bank", new { @area = "Profile" })","auto",700)
    }
    function OnViewAuditClick() {
        if ("@FD_ListHelp_ActionItemsRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        OpenDynamicPopup("New ~ Action","@Url.Action("Frm_Action_Items_Info", "ActionItems", new { @area = "Help" })","auto",680)
    }

    var BI_BANK_NAME;
    var BB_BRANCH_NAME;
    var FD_NO;
    var FD_DATE;
    var FD_AS_DATE;
    var FD_AMOUNT;
    var FD_INT_RATE;
    var FD_INT_PAY_COND;
    var FD_MAT_DATE;
    var FD_MAT_AMT;
    var BA_CUST_NO;
    var Add_By;
    var Add_Date;
    var Edit_By;
    var Edit_Date;
    var Action_Status;
    var Action_By;
    var Action_Date;
    var TR_ID;
    var ID;
    var FD_Status;
    var CLOSE_DATE;
    var Entry_Type;
    var Interest_Recd;
    var TDS_Paid;
    var Nett_Interest;
    var Other_Detail;
    var FD_Less_Maturity;
    var Remarks;
    var RemarkStatus;
    var OpenActions;
    var CrossedTimeLimit;
    var YearID;
    var Expanded_Row_Key_FD;
    function FDProf_UpdateFooterDetail(FD_ID, FD_Action_Status, FD_Add_Date, FD_Add_By, FD_Action_Date, FD_Action_By, FD_Edit_Date, FD_Edit_By) {

        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Add_Date = "";
        var Add_By = "";
        var Status_On = "";
        var Status_By = "";
        var StatusStr = "Completed";
        var Lbl_StatusOn = "";
        var Lbl_StatusBy = "";

        Status = FD_Action_Status;

        if (Status && Status.toUpperCase() == "LOCKED") {

            Pic_Status = "Fa Fa-Lock";
        }
        else {
            Pic_Status = "Fa Fa-UnLock";

        }

        Add_Date = (moment(FD_Add_Date).format("DD/MM/YYYY HH:mm:ss"));;
        Add_By = FD_Add_By;
        Status_On = (moment(FD_Action_Date).format("DD/MM/YYYY HH:mm:ss"));
        Status_By = FD_Action_By;

        if (Status == "Locked")
            StatusStr = "Locked";
        else
            StatusStr = "UnLocked";

        if (Status_On) {
            Lbl_StatusOn = StatusStr + " On: " + Status_On;
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }
        else {
            Lbl_StatusOn = StatusStr + " On: " + "?";
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }

        if (Add_Date) {
            Lbl_Create = "Add On: " + Add_Date + ", By: " + Add_By;
        }
        else {
            Lbl_Create = "Add On: " + "?, By: " + Add_By;
        }

        var Edit_Date = "";
        var Edit_By = "";

        Edit_Date = (moment(FD_Edit_Date).format("DD/MM/YYYY HH:mm:ss"));
        Edit_By = FD_Edit_By;

        if (Edit_Date) {
            Lbl_Modify = "Edit On: " + Edit_Date + ", By: " + Edit_By;
        }
        else {
            Lbl_Modify = "Edit On: " + "?, By: " + Edit_By;
        }
        $('#FD_Lbl_ActionOn').text(Lbl_StatusOn)
        $('#FD_Lbl_ActionBy').text(Lbl_StatusBy);
        $('#FDLbl_Create').text(Lbl_Create);
        $('#FDLbl_Modify').text(Lbl_Modify);
        if (Lbl_Status_Color != "") {
            $('#FDLbl_Status').css('color', Lbl_Status_Color);
        }
        if (Pic_Status != "") {
            $('#FD_LockICON').css('class', Pic_Status);
        }
    }
    function OnNewClick() {
        if ("@FD_AddRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        IsFDNewPopup = true;
        IsFDViewPopup = false;
        IsFDSucessPopup = true;
        $.ajax({
            type: 'GET',
            url: "/Profile/FD/DataNavigation",
            data: { ActionMethod: "NEW" },
            cache: false,
            success: function (New_Get_Frm_FD_Window_result) {
                if (New_Get_Frm_FD_Window_result.result == "true" || New_Get_Frm_FD_Window_result.result == true) {
                    $("#popup_Frm_FD_Window").dxPopup("show");
                    $("#popup_Frm_FD_Window").dxPopup("instance").option("title", "New ~ Fixed Deposit");
                    ShowLoader();
                    $("#popup_Frm_FD_Window_result").load("@Url.Action("Frm_FD_Window", "FD", new { @area = "Profile" })?ActionMethod=New", function () {
                        HideLoader();
                        FDListGrid.Refresh();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(New_Get_Frm_FD_Window_result.Message, "Information...!");
                    FDListGrid.Refresh();
                }
            }
        });
    }
    function OnListPreviewClick() {
        if ("@FD_ExportRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        OpenPopup("FD_report_modal", "Export Option", "@Url.Action("Frm_Export_Options_dx", "FD", new { @area = "Profile" })", "auto", 125, false, null);
    }
    function OnEditClick() {
        if ("@FD_UpdateRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        IsFDViewPopup = false;
        if (ID == "" || ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }

        $.ajax({
            type: 'GET',
            url: "/Profile/FD/DataNavigation",
            data: { ActionMethod: "EDIT", id: ID, CLOSE_DATE: CLOSE_DATE, YearID: YearID, Action_Status: Action_Status, Edit_Date: Edit_Date, TR_ID: TR_ID, OpenActions: OpenActions },
            cache: false,
            success: function (Edit_Get_Frm_FD_Window_result) {
                if (Edit_Get_Frm_FD_Window_result.result == "true" || Edit_Get_Frm_FD_Window_result.result == true) {
                    $("#popup_Frm_FD_Window").dxPopup("show");
                    $("#popup_Frm_FD_Window").dxPopup("instance").option("title", "Edit ~ F.D.");
                    ShowLoader();
                    $("#popup_Frm_FD_Window_result").load("@Url.Action("Frm_FD_Window", "FD", new { @area = "Profile" })?ActionMethod=" + "Edit" + "&id=" + ID + '&Edit_Date=' + encodeURIComponent(Edit_Date), function () {
                        HideLoader();

                    });
                }
                else {
                    DevExpress.ui.dialog.alert(Edit_Get_Frm_FD_Window_result.Message, "Information");
                    FDListGrid.Refresh();
                }
            }
        });
    }
    function OnDeleteClick() {
        if ("@FD_DeleteRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        IsFDViewPopup = false;
        if (ID == "" || ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var result = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Delete ~ F.D.");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $("#popup_Frm_FD_Window_Close_result").dxPopup("hide");

                $.ajax({
                    type: 'GET',
                    url: "/Profile/FD/DataNavigation",
                    data: { ActionMethod: "DELETE", id: ID, CLOSE_DATE: CLOSE_DATE, YearID: YearID, Action_Status: Action_Status, Edit_Date: Edit_Date, TR_ID: TR_ID, OpenActions: OpenActions },
                    cache: false,
                    success: function (FD_DELETE_Get_DataNavigation_result) {
                        if (FD_DELETE_Get_DataNavigation_result.result == "true" || FD_DELETE_Get_DataNavigation_result.result == true) {
                            $("#popup_Frm_FD_Window").dxPopup("show");
                            $("#popup_Frm_FD_Window").dxPopup("instance").option("title", "Delete ~ F.D.");
                            ShowLoader();
                            FDListGrid.Refresh();
                            $("#popup_Frm_FD_Window_result").load("@Url.Action("Frm_FD_Window", "FD", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&id=" + ID + "&Edit_Date=" + encodeURIComponent(Edit_Date), function () {
                                HideLoader();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(FD_DELETE_Get_DataNavigation_result.Message, "Information...!");
                            FDListGrid.Refresh();
                        }
                        HideLoader();
                    }

                });

            }
        });
    }
    function OnViewClick() {
        if ("@FD_ViewRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        IsFDViewPopup = true;
        if (ID == 'undefined' || ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/FD/DataNavigation",
            data: { ActionMethod: "VIEW", id: ID, CLOSE_DATE: CLOSE_DATE, YearID: YearID, Action_Status: Action_Status, Edit_Date: Edit_Date },
            cache: false,
            success: function (View_Get_Frm_FD_Window_result) {


                if (View_Get_Frm_FD_Window_result.result == "true" || View_Get_Frm_FD_Window_result.result == true) {
                    $("#popup_Frm_FD_Window").dxPopup("show");
                    // $(".dx-popup-content").dxScrollView();
                    $("#popup_Frm_FD_Window").dxPopup("instance").option("title", "View ~ F.D.");
                    ShowLoader();
                    $("#popup_Frm_FD_Window_result").load("@Url.Action("Frm_FD_Window", "FD", new { @area = "Profile" })?ActionMethod=" + "View" + "&id=" + ID + "&Edit_Date=" + encodeURIComponent(Edit_Date), function () {
                        HideLoader();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(View_Get_Frm_FD_Window_result.Message, "Information...!");
                    FDListGrid.Refresh();
                }
            }

        });
    }
    function OnLockClick() {
        if ("@FD_LockUnlockRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (ID == '' || ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/FD/DataNavigation",
            data: { ActionMethod: "LOCKED", id: ID, Entry_Type: Entry_Type, Action_Status: Action_Status, Edit_Date: Edit_Date },
            cache: false,
            success: function (FD_LOCKED_Get_DataNavigation_result) {

                if (FD_LOCKED_Get_DataNavigation_result.Message == "Already Locked Entries can\'t be Re-Locked...!") {
                    DevExpress.ui.dialog.alert(FD_LOCKED_Get_DataNavigation_result.Message, "Record Status has been changed in the background by another user");
                }
                else if (FD_LOCKED_Get_DataNavigation_result.result == "NoLockRights")
                {
                    DevExpress.ui.dialog.alert(FD_LOCKED_Get_DataNavigation_result.Message);
                }
                else {
                    DevExpress.ui.dialog.alert(FD_LOCKED_Get_DataNavigation_result.Message);
                }

                FDListGrid.Refresh();
            }
        });
    }
    function OnUnlockClick() {
        if ("@FD_LockUnlockRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (ID == '' || ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/FD/DataNavigation",
            data: { ActionMethod: "UNLOCKED", id: ID, Entry_Type: Entry_Type, Action_Status: Action_Status, Edit_Date: Edit_Date },
            cache: false,
            success: function (FD_UNLOCKED_Get_DataNavigation_result) {
                if (FD_UNLOCKED_Get_DataNavigation_result == "Already Unlocked Entries can\'t be Re-Unlocked...!") {
                    DevExpress.ui.dialog.alert(FD_UNLOCKED_Get_DataNavigation_result.Message, "Record Status has been changed in the background by another user");
                }
                else if (FD_UNLOCKED_Get_DataNavigation_result.result == "NoLockRights") {
                    DevExpress.ui.dialog.alert(FD_LOCKED_Get_DataNavigation_result.Message);
                }
                else {
                    DevExpress.ui.dialog.alert(FD_UNLOCKED_Get_DataNavigation_result.Message);
                }

                FDListGrid.Refresh();
            }
        });
    }
    function LookUp_BankDetails_Win_FD_ChangeEvent(e) {
        var dropDownBox = $("#BankList").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#Frm_Win_FD_GLookUp_BankList_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                //bankData = (item["REC_ID"]);
                var branch = (item["Branch"]);
                var custNo = (item["BA_CUST_NO"]);
                //$("#ItemList").val(item["C_ID"]);
                $("#Lbl_Branch").text("Branch: " + branch);
                $("#Lbl_AccountNo").text("Customer No.: " + custNo);
                //$("#Lbl_AccountNo").dxTextBox("instance").option("value", item["BA_CUST_NO"]);
                $("#REC_EDIT_ON_Bank").val(item["RecEditOn"]);

                //GLookUp_PartyList1_EditValueChanged();
            }
        }
    }
    function FDListGrid_dx_Compact_Column_CellValue(rowData) {
        rowData.FD_DATE, rowData.FD_AS_DATE, rowData.FD_NO, rowData.FD_AMOUNT, rowData.FD_INT_RATE, rowData.FD_MAT_DATE, rowData.FD_MAT_AMOUNT, rowData.FD_INT_PAY_COND, rowData.BA_CUST_NO, rowData.BB_BRANCH_NAME, rowData.FD_Status, rowData.FD_Less_Maturity, rowData.Interest_Recd, rowData.TDS_Paid, rowData.Nett_Interest,
            rowData.Other_Detail, rowData.Remarks, rowData.CLOSE_DATE, rowData.Special_Ref
    }
    function FDListGrid_dx_Compact_Column_Template(container, templateData) {
        var Name = templateData.component.element()[0].id;
        var KeyValue = templateData.data.ID;
        var VouchingMode = FD_IsVouchingMode == true ? "True" : "False";
        var htmlString = "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>F.D. Date:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|FD_DATE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (JS_Json_Date_To_ddMMyyyy((templateData.data.FD_DATE ?? ""), "DD-MM-YYYY") ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>As of Date:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|FD_AS_DATE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (JS_Json_Date_To_ddMMyyyy((templateData.data.FD_AS_DATE ?? ""), "DD-MM-YYYY") ?? "") + "</div></div>";
        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>F.D. A/c. No:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|FD_NO' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.FD_NO ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>F.D. Amount:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|FD_AMOUNT' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.FD_AMOUNT ?? "")+ "</div></div>";
        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Interest(%):</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|FD_INT_RATE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.FD_INT_RATE ?? "")+ "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Maturity Date:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|FD_MAT_DATE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (JS_Json_Date_To_ddMMyyyy((templateData.data.FD_MAT_DATE ?? ""), "DD-MM-YYYY") ?? "") + "</div></div>";
        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Maturity Amount:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|FD_MAT_AMT' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.FD_MAT_AMT ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Interest condition:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|FD_INT_PAY_COND' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.FD_INT_PAY_COND ?? "")  + "</div></div>";
        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Customer No.:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|BA_CUST_NO' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.BA_CUST_NO ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Branch:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|BB_BRANCH_NAME' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.BB_BRANCH_NAME ?? "") + "</div></div>";
        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>FD Status.:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|FD_Status' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.FD_Status ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Maturity - FD Amt:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|FD_Less_Maturity' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.FD_Less_Maturity ?? "")+ "</div></div>";
        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Gross Interest:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Interest_Recd' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Interest_Recd ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>TDS Deducted:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|TDS_Paid' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.TDS_Paid ?? "")+ "</div></div>";
        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Nett Interest:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Nett_Interest' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Nett_Interest ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Other Details:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Other_Detail' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Other_Detail ?? "") + "</div></div>";
        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Remarks:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Remarks' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Remarks ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Close Date:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|CLOSE_DATE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (JS_Json_Date_To_ddMMyyyy((templateData.data.CLOSE_DATE ?? ""), "DD-MM-YYYY") ?? "") + "</div></div>";

        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Reference:</label></div>" +
            "<div class='col-sm-12 col-md-9 col-lg-9 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Special_Ref' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Special_Ref ?? "") + "</div></div></div>";

        $(container).html(htmlString)
    }
    function FDListGrid_dx_OnInitialized(e) {
        DxGrid_AdjustSize(e.component, $("#FDProfile_ParentDiv_dx .report_button_div"))
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            DxGrid_AdjustSize(e.component, $("#FDProfile_ParentDiv_dx .report_button_div"), "", evt)
        });
        FDListGrid = e.component;
    }
    function FDListGrid_dx_OnCellPrepared(e) {
        if (e.rowType == "data") {
            if (FD_IsVouchingMode == true) {
                if (e.column.dataField === "iIcon") {
                    $(e.cellElement).attr("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + e.key + "')");
                    $(e.cellElement).attr("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + e.key + "')");
                }
            }
            $(e.cellElement).attr("id", e.element[0].id + "_Cell_" + e.key + "|" + e.column.dataField);
        }
    }
    function FDListGrid_dx_OnRowPrepared(e) {
        if (e.rowType == "data") {
            var GridName = e.element[0].id;
            $(e.rowElement).addClass(GridName + "_DataRow_" + e.key)
            if (e.data.RemarkStatus != null && e.data.RemarkStatus == "OPEN" || e.data.RemarkStatus == "REOPENED") {
                $(e.rowElement).css("background-color", "gold");
            }
            if (e.data.RemarkStatus == null && e.data.Remarks != null && e.data.Remarks == true && e.data.CrossedTimeLimit != null && e.data.CrossedTimeLimit == 0) {
                $(e.rowElement).css("background-color", "lightgreen");
            }
            if (e.data.CrossedTimeLimit != null && e.data.CrossedTimeLimit > 0) {
                $(e.rowElement).css("background-color", "mistyrose");
            }
            DxGrid_CreatePreviewRow(e, FD_IsVouchingMode, "Master")
        }
        else if (e.rowType == "detailAdaptive") {
            DxGrid_MovePreviewRowAfterAdaptiveRow(e)
        }
    }  
    function FDListGrid_dx_OnContentReady(e) {
        DxGrid_OnContentReady(e, FD_ShowHorizontalBar);
    }
        function FDListGrid_dx_OnCellDblClick(e) {
            if (e.rowType == "data") {
                if (FD_IsVouchingMode == true && FD_ViewMode == "Default") {
                    OnGridCellClick(e.event, e.cellElement[0], e.columnIndex, e.rowIndex, e.element[0].id, e.key, e.column.dataField)
                }
                //else if (FD_IsVouchingMode == false) {
                //    if (e.rowType == "data")
                //        OnEditClick();
                //}
            }
    }
    function FDListGrid_dx_OnSelectionChanged(e) {
        var selectedRowKeys = e.selectedRowKeys;
        if (selectedRowKeys != null && selectedRowKeys.length > 0) {
            if (FD_IsVouchingMode) {
                FDPrf_FAB.SetVisible(true);
                FDPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
            FDListGrid_dx_SelectedRowData(e.selectedRowsData);
        }
        else {
            ID = null;
            FDProf_UpdateFooterDetail(ID, Action_Status, Add_Date, Add_By, Action_Date, Action_By, Edit_Date, Edit_By);
        }
    }
    function FDListGrid_dx_SelectedRowData(selectedData = null) {
        if (selectedData == null) {
            selectedData = FDListGrid.getSelectedRowsData();
        }
        if (selectedData != null && selectedData.length > 0) {
            var values = selectedData[0]
            BI_BANK_NAME = values["BI_BANK_NAME"];
            BB_BRANCH_NAME = values["BB_BRANCH_NAME"];
            FD_NO = values["FD_NO"];
            FD_DATE = values["FD_DATE"];
            FD_AS_DATE = values["FD_AS_DATE"];
            FD_AMOUNT = values["FD_AMOUNT"];
            FD_INT_RATE = values["FD_INT_RATE"];
            FD_INT_PAY_COND = values["FD_INT_PAY_COND"];
            FD_MAT_DATE = values["FD_MAT_DATE"];
            FD_MAT_AMT = values["FD_MAT_AMT"];
            BA_CUST_NO = values["BA_CUST_NO"];
            Add_By = values["Add_By"];
            Add_Date = values["Add_Date"];
            Edit_By = values["Edit_By"];
            Edit_Date = values["Edit_Date"];
            Action_Status = values["Action_Status"];
            Action_By = values["Action_By"];
            Action_Date = values["Action_Date"];
            TR_ID = values["TR_ID"];
            ID = values["ID"];
            FD_Status = values["FD_Status"];
            CLOSE_DATE = values["CLOSE_DATE"];
            Entry_Type = values["Entry_Type"];
            Interest_Recd = values["Interest_Recd"];
            TDS_Paid = values["TDS_Paid"];
            Nett_Interest = values["Nett_Interest"];
            Other_Detail = values["Other_Detail"];
            FD_Less_Maturity = values["FD_Less_Maturity"];
            Remarks = values["Remarks"];
            RemarkStatus = values["RemarkStatus"];
            OpenActions = values["OpenActions"];
            CrossedTimeLimit = values["CrossedTimeLimit"];
            YearID = values["YearID"];
            FDProf_UpdateFooterDetail(ID, Action_Status, Add_Date, Add_By, Action_Date, Action_By, Edit_Date, Edit_By);
            if (FD_IsVouchingMode == true) {
                OpenLeftPane();
                LeftPaneContent_FD("FDListGrid", ID, FD_IsVouchingMode)
            }
        }
        else {
            ID = null;
        }
    }
    function FDListGrid_dx_OnRowExpanding(e) {
        if (Array.isArray(e.key) == false) {
            e.component.collapseRow(Expanded_Row_Key_FD)
            e.component.selectRows(e.key);
            Expanded_Row_Key_FD = e.key;
            FDInfo_IsDetailRowExpanded = true;
            var DetailGridID = e.element[0].id + e.key;
            var instance = $("div[id='" + DetailGridID + "']").dxDataGrid("instance")
            if (instance != void 0) {
                instance.state(null) // grid maintains its state after collapsing so resetting the state when expands again as per old grid
            }
        }
        else {
            e.component.option("CustomProp.groupRowExpanded", true);
        }
    }
    function FDListGrid_dx_OnRowCollapsing(e) {
        if (Array.isArray(e.key)==false) {
            var DetailGridID = e.element[0].id + e.key;
            sessionStorage.removeItem(DetailGridID + "_DetailGridState") //removing grid state from session storage on collapse
            FDInfo_IsDetailRowExpanded = false;
            e.component.selectRows(e.key);
            if (FD_IsVouchingMode == false) {
                FDPrf_FAB.SetVisible(false);
            }
            var instance = $("div[id='" + DetailGridID + "']").dxDataGrid("instance")
            if (instance != void 0) {
                instance.clearSelection();
            }
        }
        else {
            e.component.option("CustomProp.groupRowCollapsed", true);
        }
    }
    function FDListGrid_dx_OnContextMenuPreparing(e) {
        if (!e.items) e.items = [];
        if (e.target == "header")
        {
            DxGrid_HeaderContextMenu(e)
        }
        else if ((e.target == "content" && e.row && e.row.rowType == "groupFooter") || e.target == "footer")
        {
            if (FD_ViewMode == "Compact")
                DxGrid_FooterContextMenu(e, true);
            else
                DxGrid_FooterContextMenu(e);
        }
        else if (e.target == "content" && e.row && (e.row.rowType == "data" || e.row.rowType =="detailAdaptive"))
        {
            var key = e.component.getKeyByRowIndex(e.row.rowIndex);
            e.component.selectRows(key);
            var expanded = e.component.isRowExpanded(key);
            e.items = [
                {
                    text: "Expand Detail",
                    icon: "fa-solid fa-arrow-down-wide-short " + (expanded ? "text-muted" : "text-info"),
                    disabled: expanded,
                    visible: !FD_IsVouchingMode,
                    onItemClick: function ()
                    {
                        if (expanded)
                        {
                        }
                        else
                        {
                            e.component.expandRow(key);
                        }
                    }
                }, {
                    text: "Collapse Detail",
                    icon: "fa-solid fa-arrow-up-wide-short " + (!expanded ? "text-muted" : "text-info"),
                    disabled: !expanded,
                    visible: !FD_IsVouchingMode,
                    onItemClick: function () {
                        if (expanded) {
                            e.component.collapseRow(key);
                        }
                        else {
                        }
                    }
                },
                {
                    text: "Export",
                    icon: "fa-solid fa-file-export text-warning",
                    visible: "@FD_ExportRight" == "True",
                    beginGroup: true,
                    onItemClick: function () {
                        OnListPreviewClick();
                    }
                },
                    
                {
                    text: "Close",
                    icon: "fa-solid fa-rectangle-xmark text-danger",
                    beginGroup: true,
                    onItemClick: function ()
                    {
                        closeProfile_FD();
                    }
                },
                {
                    text: "Refresh",
                    icon: "fa-solid fa-arrow-rotate-right text-success",
                    beginGroup: true,
                    onItemClick: function ()
                    {
                        FDListGrid.refresh();
                    }
                }
            ]
        }
    }
    function closeProfile_FD() {
        $(".TabPanalMenu-tabs .active span").click();

    }
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Profile/FD/SessionClear",
            cache: false
        });
        var pane = Mainspliter.GetPaneByName('RightPane');
        pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        var Leftpane = Mainspliter.GetPaneByName('LeftPane');
        ClearLeftPane();
        if (Leftpane.IsCollapsed() == false) {
            Leftpane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
        ClearAllReferences_FDProfile();
    });
    </script>

    <script>
    var FDInfo_IsDetailRowExpanded = false;
    var FDInfo_NestedRecord_FocusedRowIndex = -1;
    var FDInfo_NestedGrid_AccessID;
    var FDInfo_AtachmentID;
    var FDInfo_FileName;
    var FDInfo_ParamMandatory;
    var FDInfo_FromDateLabel;
    var FDInfo_ToDateLabel;
    var FDInfo_DescriptionLabel;
    var FDInfo_Doc_ID;
    var FDInfo_Doc_Category;
    var FDInfo_MasterRowRecID;
    var FDInfo_MasterRowMID;
    var FDInfo_NestedRowMapID;
    var FDInfo_reason;
    var FDInfo_Attachment_RecStatus;
    var FDInfo_NestedRowReasonID;
    var FDInfo_NestedRowUniqueID;
    function On_FDProfile_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (FDInfo_ParamMandatory == 1)
            {
                AddAttachment(FDInfo_MasterRowRecID, "Profile_FD", FDInfo_Doc_ID, FDInfo_Doc_Category, FDInfo_ParamMandatory, FDInfo_FromDateLabel, FDInfo_ToDateLabel, FDInfo_DescriptionLabel, "FDProfileAttachment", null, "FDListGrid", FDInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(FDInfo_MasterRowRecID, "Profile_FD", FDInfo_Doc_ID, "FDProfileAttachment", "FDListGrid", FDInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (FDInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(FDInfo_MasterRowRecID, "Profile_FD", FDInfo_AtachmentID, FDInfo_ParamMandatory, FDInfo_FromDateLabel, FDInfo_ToDateLabel, FDInfo_DescriptionLabel, "FDProfileAttachment", null, "FDListGrid", FDInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(FDInfo_MasterRowRecID, "Profile_FD", FDInfo_AtachmentID, FDInfo_ParamMandatory, FDInfo_FromDateLabel, FDInfo_ToDateLabel, FDInfo_DescriptionLabel, null, "FDListGrid", FDInfo_NestedGrid_AccessID, FDInfo_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }


            ViewDocument(FDInfo_AtachmentID, FDInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(FDInfo_MasterRowRecID, "Profile_FD", "FD Information", "FDListGrid", FDInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (FDInfo_Doc_Category.toLowerCase() == "others") {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else {
                AttachmentAddReason(FDInfo_MasterRowRecID, FDInfo_NestedRowMapID, "Profile_FD", "FDListGrid", FDInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(FDInfo_MasterRowRecID, FDInfo_NestedRowMapID, "Profile_FD", "FDListGrid", FDInfo_NestedGrid_AccessID, FDInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(FDInfo_MasterRowRecID, FDInfo_NestedRowMapID, "FDListGrid", FDInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction")
        {
            FDPrf_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit")
        {
            if (FDInfo_Nested_Doc_Status == "")
            {
                FDPrf_FAB.SetActionContext("AutoItemContext", true);
            }
            if (FDInfo_Nested_Doc_Status == "NO")
            {
                FDPrf_FAB.SetActionContext("EditItemContext", true);
            }
            if (FDInfo_Nested_Doc_Status == "YES")
            {
                FDPrf_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept")
        {
            FDInfo_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject")
        {
            FDInfo_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks")
        {
            FDInfo_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc") {

            OnFDInfo_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc") {

            OnFDInfo_RejectDoc();
        }
    }
    function OnFDInfo_RejectDoc() {
        if (FDInfo_AtachmentID == null || FDInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(FDInfo_AtachmentID, "FDListGrid", FDInfo_NestedGrid_AccessID);
    }
    function OnFDInfo_AcceptDoc() {
        if (FDInfo_AtachmentID == null || FDInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(FDInfo_AtachmentID, "FDListGrid", FDInfo_NestedGrid_AccessID);
    }
    function FDInfo_AcceptwithoutRemarks()
    {
        var Recid;
        if (FDInfo_IsDetailRowExpanded == true || FD_IsVouchingMode==true)
        {
            if (FDInfo_MasterRowRecID == null || FDInfo_MasterRowRecID == "")
            {
                Recid = ID;
            }
            else
            {
                Recid = FDInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = ID;
        }
        Entry_AcceptwithoutRemarks(Recid, "Profile_FD", "FDListGrid", FDInfo_AtachmentID, FDInfo_NestedRowReasonID, FDInfo_NestedRowUniqueID);
    }
    function FDInfo_AcceptRejectVoucher(_actionMethod)
    {
        var Recid;
        if (FDInfo_IsDetailRowExpanded == true || FD_IsVouchingMode == true)
        {
            if (FDInfo_MasterRowRecID == null || FDInfo_MasterRowRecID == "")
            {
                Recid = ID;
            }
            else
            {
                Recid = FDInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = ID;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_FD", "FDListGrid", FDInfo_AtachmentID, FDInfo_NestedRowReasonID, FDInfo_NestedRowUniqueID);
    }
    function FDListGrid_dx_iIconTemplate(container, templateData) {
        var iREQ_ATTACH_COUNT = templateData.data.REQ_ATTACH_COUNT
        var iCOMPLETE_ATTACH_COUNT = templateData.data.COMPLETE_ATTACH_COUNT
        var iRESPONDED_COUNT = templateData.data.RESPONDED_COUNT
        var iREJECTED_COUNT = templateData.data.REJECTED_COUNT
        var iOTHER_ATTACH_CNT = templateData.data.OTHER_ATTACH_CNT
        var iALL_ATTACH_CNT = templateData.data.ALL_ATTACH_CNT
        var iIcon = templateData.data.iIcon
        var UniqueID = templateData.component.element()[0].id
        var key = templateData.data.ID
        var VisibleIndex = templateData.rowIndex
        var htmlString = "";
        htmlString = DxGrid_AttachmentIcons(iREQ_ATTACH_COUNT, iCOMPLETE_ATTACH_COUNT, iRESPONDED_COUNT, iREJECTED_COUNT, iOTHER_ATTACH_CNT, iALL_ATTACH_CNT);
        htmlString += DxGrid_VouchingAuditIcons(iIcon)
        htmlString += DxGrid_AuditIconAfterClick(UniqueID, key, VisibleIndex)
        $(container).html(htmlString)
    }
    function FDListGrid_dx_DetailTemplate(container, templateData) {
        var GridName = templateData.component.element()[0].id
        var RecID = templateData.data.ID;
        FDListGrid_dx_Detail(container, GridName, RecID, FD_IsVouchingMode, FD_ShowHorizontalBar);
    }
    function FDListGrid_dx_Detail(container, GridName, RecID, vouchingMode, AllColumns)
    {
        var url = "/Profile/FD/Frm_FD_Info_DetailGrid_dx?VouchingMode=" + vouchingMode + "&RecID=" + RecID
        var instance = DxGrid_AttachmentGrid_Create(container, GridName, RecID, vouchingMode, AllColumns, url)
        instance.option("onSelectionChanged", FDListGrid_dx_Detail_onSelectionChanged);    
    } 
    function FDListGrid_dx_Detail_onSelectionChanged(e) {
        if (FDInfo_IsDetailRowExpanded || FD_IsVouchingMode) {
            if (e.selectedRowsData != null && e.selectedRowsData.length > 0) {
                FDInfo_NestedGrid_AccessID = e.element[0].id;
                FDListGrid_dx_Detail_SelectedRowData(e.selectedRowsData)
            }
            else {
                FDPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }
    function FDListGrid_dx_Detail_SelectedRowData(selectedData = null) {
        if (selectedData == null) {
            selectedData = $("#" + FDInfo_NestedGrid_AccessID).dxDataGrid("getSeletedRowsData");
        }
        var values = selectedData[0];
        FDInfo_NestedRowUniqueID = values["UniqueID"];
        if (values["UniqueID"] != null) {
            FDPrf_FAB.SetVisible(true);
            FDInfo_Nested_Doc_Status = values["Doc_Status"];

            if (FD_IsVouchingMode == true) {
                FDPrf_FAB.SetActionContext("AuditActionContext", true);
            }
            else {
                if (FDInfo_Nested_Doc_Status == "") {
                    FDPrf_FAB.SetActionContext("AutoItemContext", true);
                }
                else if (FDInfo_Nested_Doc_Status == "NO") {
                    FDPrf_FAB.SetActionContext("EditItemContext", true);
                }
                else if (FDInfo_Nested_Doc_Status == "YES") {
                    FDPrf_FAB.SetActionContext("actionItemContext", true);
                }
            }
            FDInfo_ParamMandatory = values["Params_Mandatory"];
            FDInfo_FromDateLabel = values["LABEL_FROM_DATE"];
            FDInfo_ToDateLabel = values["LABEL_TO_DATE"];
            FDInfo_DescriptionLabel = values["LABEL_DESCRIPTION"];
            FDInfo_Doc_Category = values["Document_Category"];
            FDInfo_Doc_ID = values["Document_ID"];
            FDInfo_AtachmentID = values["ATTACH_ID"];
            IndexAttachmentID = FDInfo_AtachmentID;
            FDInfo_MasterRowRecID = values["TxnID"];
            FDInfo_MasterRowMID = values["TxnMID"];
            FDInfo_NestedRowMapID = values["MAP_ID"];
            FDInfo_reason = values["Reason"];
            FDInfo_FileName = values["ATTACH_FILE_NAME"];
            FDInfo_Attachment_RecStatus = values["Attachment_Action_Status"];
            if (FD_IsVouchingMode == true) {
                if (FDInfo_FileName != null && FDInfo_FileName.length > 0) {
                    ViewDocument(FDInfo_AtachmentID, FDInfo_FileName, "FDPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else {
                    CloseRightPane();
                    ClearRightPane();
                }
            }
        }
        FDInfo_NestedRowReasonID = values["ReasonID"];
        IndexAttachmentReasonID = FDInfo_NestedRowReasonID;
    }
    
    function LeftPaneContent_FD(GridName, RecID, vouchingMode, AllColumns = 0) {
        $("#LeftPane_Div_Content").html(null);
        $("#LeftPane_Div_Content").append("<div class='col-xs-12'><label>Documents Attached:</label><div class='AttachmentGrid'><form></form></div></div><div class='col-xs-12'><label>Additional Info:</label><div class='AdditionalInfoGrid'><form></form></div></div>")
        FDListGrid_dx_Detail($("#LeftPane_Div_Content .AttachmentGrid>form"), GridName, RecID, vouchingMode, AllColumns)
        setTimeout( function () {
            AdditionalInfoGrid_FD($("#LeftPane_Div_Content .AdditionalInfoGrid>form"), GridName, RecID, vouchingMode, AllColumns)
        })
    }
    function AdditionalInfoGrid_FD(container, GridName, RecID, vouchingMode, AllColumns)
    {
        var url = "/Profile/FD/AdditionalInfo_Grid_dx?VouchingMode=" + vouchingMode + "&RecID=" + RecID
        DxGrid_CreateAdditionalInfoGrid(container, GridName, RecID, vouchingMode, AllColumns, url)
    }
</script>
    @*attachment and nested grid*@

<script>
    function getFDstatement_FD_Onclick()
    {
        if ("@FD_ViewRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (ID == null || ID == "" || ID == void 0)
        {
            DevExpress.ui.dialog.alert('Please Select one row', 'Information');
            return;
        }
        getBankStatement_window(BI_BANK_NAME, "FD", FD_NO, ID, "Profile_FD")
    }
</script>
</div>