<div class="whatsapptabPaid_notificationSet_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    <style>
        .headertext_WappPaid_customNotification {
            color: rgba(0, 0, 0, .76);
            font-size: 15px;
            font-weight: bold;
            line-height: 19px;
        }        
    </style>

    <div class="container-fluid" style="background:rgba(256,256,256,.5);padding:15px">
        <div class="row">            
            <div class="col-md-6" style="border-right: 1px solid lightgrey;">
                <div class="row" style="padding-right: 5px;">
                    <div>
                        <label for="TemplateName_WhatsappPaid_CustomNotification">Select Template Message Name*</label>
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().Name("TemplateID_WhatsappPaid_CustomNotification").ID("TemplateID_WhatsappPaid_CustomNotification")
                            .DisplayExpr("name").ValueExpr("id").Height(35).Placeholder("Choose..")
                            .DataSource(d => d.Mvc().Controller("WhatsappCloudAPI").LoadAction("GetTemplateNamesAndLanguages").Key("id").LoadMode(DataSourceLoadMode.Raw))
                            .ContentTemplate(@<text>
                                @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("TemplateName_WhatsappPaid_CustomNotification_datagrid")
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("name").Caption("Template Name").Visible(true);
                                        columns.Add().DataField("status").Caption("Status").Visible(true);
                                        columns.Add().DataField("language").Caption("Language").Visible(true);
                                        columns.Add().DataField("category").Caption("Category").Visible(true);
                                    })
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .FilterRow(s=>s.Visible(false))
                                    .OnSelectionChanged("function(selectedItems)" +
                                    "{ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);}component.close();}"))
                            </text>).OnValueChanged("TemplateName_WhatsappPaid_CustomNotification_ValueChange")
                        )
                    </div>
                    <hr />
                    <div id="templateMessageContent_whatsappPaid_customNotification">
                        <label>Below is Template Sample Message: </label>
                        <div id="header_whatsappPaid_customNotification" style="padding: 0 5px;"></div><br />
                        <div id="body_whatsappPaid_customNotification" style="padding : 0 5px;"></div>
                        <div id="buttons_whatsappPaid_customNotification" style="padding: 0 5px;"></div>
                        <div id="footer_whatsappPaid_customNotification" style="padding: 0 5px;"></div>
                    </div>
                </div>                
            </div>  
            <div class="col-md-6">
                <!--<div>
                    <label for="BatchName_WhatsappPaid">Batch Name of WhatsApp Paid Message Setup*</label>
                    @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("BatchName_WhatsappPaid").ID("BatchName_WhatsappPaid")
                        .Placeholder("Batch Name").MaxLength(80).Height(35))-->@*.OnValueChanged("Check_BatchName_Uniqueness_Whatsapp_Notify_ChartResponses_ValueChange")*@
                <!--</div>-->
                <div class="form-field" id="totalImageDiv_whatsappPaid">
                    <div class="clearfix">
                        <div id="FileDiv_WhatsappPaid_customNotification" class="pull-left">
                            <div class="imgContainer">
                                <a id="imgContainer_WhatsappPaid_customNotification" href="" target="_blank">
                                    <img src="" width="60" height="60" />
                                    <span>Click to view</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-10 row">
                            @(Html.DevExtreme().FileUploader().SelectButtonText("Add Attachment").ID("File_WhatsappPaid_customNotification")
                                .Name("File_WhatsappPaid_customNotification").Multiple(false).Accept("*").UploadMode(FileUploadMode.UseForm)
                                .ShowFileList(true).OnValueChanged("FileUploader_valueChanged_WhatsappPaid").Visible(true)
                            )
                            @(Html.DevExtreme().Button().Icon("fa fa-trash").OnClick("FileDeleteImageClick_WhatsappPaid").ID("DeleteFile_WhatsappPaid")
                                .Hint("Delete Image").Text("Clear Attachment")
                            )
                        </div>
                    </div>
                    <label>NOTE: For this template message you need to add any attachment here using the above button 'Add Attachment'</label>
                </div>
                <br /><br />
                <label for="AdminWhatsappNo_CustomNotification">Give Admin Whatsapp Number to Test Sample Template Message:</label>
                @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("SampleWhatsappNumber_paid_CustomNotification").ID("SampleWhatsappNumber_paid_CustomNotification")
                    .Placeholder("Sample Whatsapp Number").OnKeyDown("AlloWNumericChars_notificationSet")
                    .Buttons(x=>x.Add().Location(TextEditorButtonLocation.After).Name("btn_RegNum_AccomShort").Widget(y=>y.Button()
                    .ID("sendSample_WhatsappPaid_button").Text("Send Sample Message To This Number").OnClick("SendSample_WhatsappPaid_customNotification_Click").UseSubmitBehavior(false)))
                .OnValueChanged("ValidateMinLength_SenderWhatsapp_Notify_ChartResponses_ValueChange").MaxLength(10).Height(35))
                
                <img src="/Images/jhadu.png" id="clear_WhatsappPaid_Fields_notificationSet" class="jhadu_notificationSet" onclick="clear_WtsappPaid_notificationSet_onclick()">
                </div>
        </div>
        <br />
        <div class="button_notificationSet button_notificationSet_icon col-md-12">
                    
            @(Html.DevExtreme().Button().OnClick("SendNow_WhatsappPaid_Notify_ChartResponses_Click").ID("SendNow_WhatsappPaid_CustomNotification")
            .Hint("It sends the selected template message to the selected responses or selected group of phone No#s").Text("Start Sending Messages").Icon("fab fa-whatsapp")            
            )
        </div>
    </div>
</div>

