<div class="Whatsapp_Notification_Queue_Export_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress.XtraReports.UI;
    <script>
        function ExportPDF() {
            debugger
            ChartResponsesWhatsappQueueNotificationInfoGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#Notification_Queue_report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            ChartResponsesWhatsappQueueNotificationInfoGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#Notification_Queue_report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            ChartResponsesWhatsappQueueNotificationInfoGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#Notification_Queue_report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            ChartResponsesWhatsappQueueNotificationInfoGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#Notification_Queue_report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            ChartResponsesWhatsappQueueNotificationInfoGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#Notification_Queue_report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            ChartResponsesWhatsappQueueNotificationInfoGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#Notification_Queue_report_modal").dxPopup("hide");
        }
    </script>
    <div>
        @(Html.DevExtreme().Button()
                    .ID("Whatsapp_Notification_Queue_ExportGridDatapdf")
                    .Text("Export to PDF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportPDF")
                    .Visible(true)
                    .Width(120)
        )<br />

        @(Html.DevExtreme().Button()
                    .ID("Whatsapp_Notification_Queue_ExportGridDataxls")
                    .Text("Export to XLS")
                    //.Icon("fa-file-excel-o")
                    .OnClick("ExportXLS")
                    .Visible(true)
                    .Width(120)
        )<br />
        @(Html.DevExtreme().Button()
                    .ID("Whatsapp_Notification_Queue_ExportGridDataxlsx")
                    .Text("Export to XLSX")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportXLSX")
                    .Visible(true)
                    .Width(120)
        )<br />

        @(Html.DevExtreme().Button()
                    .ID("Whatsapp_Notification_Queue_ExportGridDatadocx")
                    .Text("Export to DOCX")
                    //.Icon("export_exporttodocx_16x16office2013")
                    .OnClick("ExportDOCX")
                    .Visible(true)
                    .Width(120)
        )<br />

        @(Html.DevExtreme().Button()
                    .ID("Whatsapp_Notification_Queue_ExportGridDatartf")
                    .Text("Export to RTF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportRTF")
                    .Visible(true)
                    .Width(120)
        )<br />

        @(Html.DevExtreme().Button()
                    .ID("Whatsapp_Notification_Queue_ExportGridDatacsv")
                    .Text("Export to CSV")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportCSV")
                    .Visible(true)
                    .Width(120)
        )
    </div>


</div>
