<div class="whatsapptab_notificationSet_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @*@model ConnectOneMVC.Areas.Facility.Models.Notification_Chart_Responses*@
    <style>
        #SenderOTP_Whatsapp_Notify_ChartResponses {
            width: max-content
        }

            #SenderOTP_Whatsapp_Notify_ChartResponses .dx-texteditor-input {
                font-size: 16px;
            }

        .Whatsapp_Notify_ChartResponsesFacility_ClearReferences {
            background: url('https://cdn.wallpapersafari.com/54/0/HluF7g.jpg');
            background-size: contain;
        }

        #Notify_ChartResponses_tabPanel .dx-htmleditor {
            background: #fff
        }

        #File_Whatsapp_Notify_ChartResponses .dx-fileuploader-button {
            padding: 5px;
        }

        #SenderWhatsapp_Notify_ChartResponses .dx-texteditor-input {
            padding-right: 0;
        }
    </style>
    <div class="Whatsapp_Notify_ChartResponsesFacility_ClearReferences">
        <div class="container-fluid" style="background:rgba(256,256,256,.5);padding:15px">
            <div class="row">
                <div class="md-12-main">
                    <div class="col-md-6">
                        <label for="BatchName_Whatsapp_Notify_ChartResponses">Batch Name of WhatsApp Message Setup*</label>
                        @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("BatchName_Whatsapp_Notify_ChartResponses").ID("BatchName_Whatsapp_Notify_ChartResponses")
                            .Placeholder("Batch Name").MaxLength(80).Height(35))@*.OnValueChanged("Check_BatchName_Uniqueness_Whatsapp_Notify_ChartResponses_ValueChange")*@
                        </div>
                        <div class="col-md-6">
                            <label for="AdminWhatsappNo_Notify_ChartResponses">Admin Whatsapp no:*</label>
                            @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("AdminWhatsappNo_Notify_ChartResponses").ID("AdminWhatsappNo_Notify_ChartResponses")
                    .Placeholder("Admin Whatsapp Number").OnKeyDown("AlloWNumericChars_notificationSet")
                    .OnValueChanged("ValidateMinLength_SenderWhatsapp_Notify_ChartResponses_ValueChange").MaxLength(10).Height(35))
                            <img src="/Images/jhadu.png" id="clear_Whatsapp_Fields_notificationSet" class="jhadu_notificationSet" onclick="clear_Wtsapp_notificationSet_onclick()">
                        </div>
                        <div class="col-md-12" style="margin-top:12px">
                            <label id="LblContent_Whatsapp_notificationSet" for="Content_Whatsapp_Notify_ChartResponses">Content (Choose placeholders from <#> for showing the required information)*</label>
                            @(Html.DevExtreme().HtmlEditor().CustomHtmlEditor().Name("Content_Whatsapp_Notify_ChartResponses").ID("Content_Whatsapp_Notify_ChartResponses")
                    .Placeholder("Type your Whatsapp Message here to send").OnContentReady("OnlyPlainTextinHtmlEditor_notificationSet")
                    .Toolbar(t=>t.Items(i=> { i.Add().FormatName(HtmlEditorToolbarItem.Bold);i.Add().FormatName(HtmlEditorToolbarItem.Italic);i.Add().FormatName(HtmlEditorToolbarItem.Variable); }))
                    .Variables(v => v.DataSource(new JS("VariablesDS_notificationSet()")).EscapeChar(new[] { "#", "#" }))
                            .OnValueChanged("Content_Whatsapp_Notify_ChartResponses_ValueChange"))
                            <label style="float:right">
                                <span> Total entered Character:&nbsp;</span>
                                <span id="totalCharCount_notificationSet">0 </span>&nbsp;&nbsp;&nbsp;<span>Max Characters allowed: 950</span>
                            </label>
                            <p><span style="font-weight:bold;color:red;">Note:</span> &, #, +, _ Symbol should not be present in Links, Mobile Numbers and Text</p>
                        </div>

                        <div class="col-md-12">
                            <div class="form-field">
                                <div class="clearfix">
                                    <div id="FileDiv_Whatsapp_Notify_ChartResponses" class="pull-left">
                                        <div class="imgContainer">
                                            <a id="imgContainer_Whatsapp_Notify_ChartResponses" href="" target="_blank">
                                                <img src="" width="60" height="60" />
                                                <span>Click to view</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 row">
                                        @(Html.DevExtreme().FileUploader().SelectButtonText("Add Attachment").ID("File_Whatsapp_Notify_ChartResponses")
                            .Name("File_Whatsapp_Notify_ChartResponses").Multiple(false).Accept("*").UploadMode(FileUploadMode.UseForm)
                            .ShowFileList(true).OnValueChanged("FileUploader_valueChanged_ChartResponses").Visible(true))
                                        @(Html.DevExtreme().Button().Icon("fa fa-trash").OnClick("FileDeleteImageClick_ChartResponses").ID("DeleteFile_Notify_ChartResponses")
                            .Hint("Delete Image").Text("Clear Attachment"))
                                    </div>
                                </div>

                            </div>
                            <label>NOTE: Delivery with attachment will take more time as compared to normal messages.</label>
                        </div>
                    </div>

                    <div class="form-field col-md-12" style="margin-top:10px">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" style="max-width:300px">
                                        <label for="Radio_SenderWhatsappNumber_Notify_ChartResponses">Sender Whatsapp Number Type*</label>
                                        @(Html.DevExtreme().RadioGroup().Value("General")
                        .DataSource(new object[] { new { text = "General", value ="General" }, new { text = "Private", value="Private" }})
                        .Name("Radio_SenderWhatsappNumber_Notify_ChartResponses").ID("Radio_SenderWhatsappNumber_Notify_ChartResponses")//.Value("General")
                        .ValueExpr("value").DisplayExpr("text").Layout(Orientation.Horizontal).OnValueChanged("Radio_SenderWhatsappNumber_Notify_ChartResponses_ValueChange"))
                                    </div>

                                    <div class="col-md-6 wa_number_notificationSet">
                                        <div id="Private_SenderWhatsappNumber_Notify_ChartResponses" style="display:none">
                                            <label for="SenderWhatsapp_Notify_ChartResponses">Whatsapp Number*</label>
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("SenderWhatsapp_Notify_ChartResponses").ID("SenderWhatsapp_Notify_ChartResponses")
                                .ValueChangeEvent("change paste").OnKeyDown("AlloWNumericChars_notificationSet").OnValueChanged("ValidateMinLength_SenderWhatsapp_Notify_ChartResponses_ValueChange")
                                .MaxLength(10).Height(34).Width(180))
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="General_SenderWhatsappNumber_Notify_ChartResponses" class="col-sm-12 text-success" style="display:none; margin-top:10px">
                                <label><i>Whatsapp shall be sent from General ConnectOne Madhuban Number: @System.Web.Configuration.WebConfigurationManager.AppSettings["DefaultWhatsAppSender"]. Delivery is subject to the existing load of messages.</i></label>
                            </div>
                        </div>

                        <br />

                        <div>
                            <label for="DeliverySpeed_Whatsapp_Notify_ChartResponses">Delivery Speed*</label>
                            @(Html.DevExtreme().RadioGroup().Value("Safe").ID("DeliverySpeed_Whatsapp_Notify_ChartResponses")
                        .DataSource(new object[] { new { text = "Urgent", value = "Urgent" }, new { text = "Normal", value= "Normal" },
                            new { text = "Safe", value = "Safe" }, new { text = "Very Safe", value = "Very Safe" } })
                        .Name("DeliverySpeed_Whatsapp_Notify_ChartResponses")//.Value("Safe")
                        .ValueExpr("value").DisplayExpr("text").Layout(Orientation.Horizontal).OnValueChanged("DeliverySpeed_Whatsapp_Notify_ChartResponses_Radio_ValueChange"))

                        </div>
                        <div id="Radio_DeliverySpeed_Whatsapp_Notify_ChartResponses" style="display:none">
                            <br />
                            <div id="Urgent_Radio_DeliverySpeed_Whatsapp_Notify_ChartResponses" style="display:none">
                                <label>
                                    NOTE: Messages will be sent on faster Speed and Priority but there is risk of Sender Whatsapp Number getting blocked.
                                </label>
                            </div>
                            <div id="Normal_Radio_DeliverySpeed_Whatsapp_Notify_ChartResponses" style="display:none">
                                <label>
                                    NOTE: Messages will be sent on Normal speed and safety.
                                </label>
                            </div>
                            <div id="Safe_Radio_DeliverySpeed_Whatsapp_Notify_ChartResponses" style="display:none">
                                <label>
                                    NOTE: Messages will be sent on Slower speed keeping security of Sender Whatsapp no on priority.
                                </label>
                            </div>
                            <div id="VerySafe_Radio_DeliverySpeed_Whatsapp_Notify_ChartResponses" style="display:none">
                                <label>
                                    NOTE: Messages will be sent on Very Slower speed but ensuring complete security of Sender Whatsapp No.
                                </label>
                            </div>
                        </div>

                    </div>

                    <br />
                    <div class="button_notificationSet button_notificationSet_icon col-md-12">
                        @(Html.DevExtreme().Button().OnClick("SendSample_Whatsapp_Notify_ChartResponses_Click").ID("SendSample_Whatsapp_Notify_ChartResponses")
                            .Text("Setup Sample WApp Msg to Me").Hint("It sets up a sample message that you have created to your phone number").Icon("fab fa-whatsapp"))
                        @(Html.DevExtreme().Button().OnClick("SendNow_Whatsapp_Notify_ChartResponses_Click").ID("SendNow_Whatsapp_Notify_ChartResponses")
                            .Hint("It saves the queue for the selected responses phone No#s").Text("Save & Set up WApp Queue").Icon("fab fa-whatsapp"))
                    </div>
                    <div class="col-md-12">
                        <div class="nextSteps_div">
                            <h3>Next Steps</h3>
                            <p> <strong>Step1: </strong> Call Bhanu Kiran Bhai (9491143191) to start your queue if you set up the queue on your private number.</p>
                            <p> <strong>Step2: </strong> Click on Get OTP if you set up your queue on your private number.</p>

                            <div class="clearfix">
                                <div class="col-md-1 col-sm-2 col-xs-4 forwardBtn" style="min-width:90px">
                                    @(Html.DevExtreme().Button()@*.OnClick("GetOTP_Whatsapp_Notify_ChartResponses_Click")*@.ID("btn_GetOTP_Whatsapp_Notify_ChartResponses_Click")
                                                                                                                .Text("Get OTP").Hint("Get OTP").Icon("fa fa-mobile-phone"))
                                </div>

                                <div class="col-md-7 col-sm-8 col-xs-8">
                                    <label for="SenderOTP_Notify_ChartResponses">OTP</label>
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true)@*.Name("SenderOTP_Whatsapp_Notify_ChartResponses")*@.ID("SenderOTP_Whatsapp_Notify_ChartResponses")
                                    .ReadOnly(true).Value("Your OTP will come here"))
                                </div>
                            </div>

                            <div id="otp_instructions" class="otp_instructions col-xs-12 text-muted">
                                1. अपने फ़ोन पर Whatsapp खोलें<br />
                                2. Menu <img width="24px" src="../../../../Icons/w_menu.png"> या Settings <img width="24px" src="../../../../Icons/w_settings.png"> पर टैप करें और लिंक किए गए डिवाइस को चुनें<br />
                                3. डिवाइस लिंक करें पर टैप करें<br />
                                4. या फ़ोन नंबर से लिंक करें और अपने फ़ोन पर यह कोड डालें
                            </div>

                            <p> <strong>Step3: </strong> Once you enter your OTP on your <b>Whatsapp -> Settings -> Linked Devices -> Link with phone number</b>, then your queue is started sending the messages</p>
                            <p> <strong>Step4: </strong> Happy! </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
