@using DevExtreme.AspNet.Mvc;
@*@model ConnectOneMVC.Areas.Facility.Models.Notification_Chart_Responses*@
<style>
    .Email_Notify_ChartResponsesFacility_ClearReferences {
        background: url('/Content/image/email-bg.jpg');
    }
</style>
<div class="Email_Notify_ChartResponsesFacility_ClearReferences">
    <div class="container-fluid">
        <label for="BatchName_Email_Notify_ChartResponses" style="padding-top: 10px;">Batch Name*</label>
        @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("BatchName_Email_Notify_ChartResponses").ID("BatchName_Email_Notify_ChartResponses")
            .Placeholder("Batch Name").MaxLength(255).Height(34))
        <label for="AdminEmail_Notify_ChartResponses">Admin Email: *</label>
        @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("AdminEmail_Notify_ChartResponses").ID("AdminEmail_Notify_ChartResponses").Placeholder("Admin Email Id")
                        .OnValueChanged("Validate_Email_Notify_ChartResponses_ValueChange").Mode(TextBoxMode.Email).Height(34))
        <br />
        <img src="/Images/jhadu.png" id="clear_Email_Fields_notificationSet" class="jhadu_notificationSet" onclick="clear_Email_notificationSet_onclick()">
        <div class="row">
            <div class="col-md-12 md-12-main">
                <br />
                <div class="form-field">
                    <label id="LblContent_Email_notificationSet" for="Content_Email_Notify_ChartResponses">Content (Choose placeholders from <#> for showing the required information)*</label>
                    @(Html.DevExtreme().HtmlEditor().CustomHtmlEditor(true).Name("Content_Email_Notify_ChartResponses").ID("Content_Email_Notify_ChartResponses")
                        .Placeholder("Confirmation Email Message")
                        .Variables(v=>v.DataSource(new JS("VariablesDS_notificationSet()")).EscapeChar(new[] { "#", "#" })))
                <p><span style="font-weight:bold;color:red;">Note:</span> &, #, +, _ Symbol should not be present in Links, Mobile Numbers and Text</p>
                    <br />
                    <label for="Subject_Email_Notify_ChartResponses">Subject*</label>
                    @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("Subject_Email_Notify_ChartResponses").ID("Subject_Email_Notify_ChartResponses")
                        .Placeholder("Subject").Height(34))
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label for="CC_Email_Notify_ChartResponses">CC</label>
                        @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("CC_Email_Notify_ChartResponses").ID("CC_Email_Notify_ChartResponses")
                            .Placeholder("CC Email Ids").OnValueChanged("Validate_Email_Notify_ChartResponses_ValueChange")
                            .MaxLength(80).Mode(TextBoxMode.Email).Height(34))
                    </div>
                    <div class="col-md-6">
                        <label for="BCC_Email_Notify_ChartResponses">BCC</label>
                        @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("BCC_Email_Notify_ChartResponses").ID("BCC_Email_Notify_ChartResponses")
                            .Placeholder("BCC Email Ids").OnValueChanged("Validate_Email_Notify_ChartResponses_ValueChange")
                            .MaxLength(80).Mode(TextBoxMode.Email).Height(34))
                    </div>
                </div>
                <br />
                <div>
                    <label for="ReplyToEmail_Email_Notify_ChartResponses">Reply to Email</label>
                    @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("ReplyToEmail_Email_Notify_ChartResponses").ID("ReplyToEmail_Email_Notify_ChartResponses")
                        .Height(34).Placeholder("Reply to Email")
                        .OnValueChanged("Validate_Email_Notify_ChartResponses_ValueChange").MaxLength(80).Mode(TextBoxMode.Email))
                </div>
                <br />

                <div>
                    <label for="Radio_SenderEmail_Notify_ChartResponses">Sender Email Type*</label>
                    @(Html.DevExtreme().RadioGroup()
                        .DataSource(new object[] { new { text = "General", value ="General" }, new { text = "Private", value="Private" }})
                        .Name("Radio_SenderEmail_Notify_ChartResponses").ID("Radio_SenderEmail_Notify_ChartResponses").ValueExpr("value")
                        .DisplayExpr("text").Layout(Orientation.Horizontal).OnValueChanged("Radio_SenderEmail_Notify_ChartResponses_ValueChange"))
                    <br />
                    <label id="Radio_SenderEmail_General_Selected" style="display:none;">Email shall be sent from General ConnectOne Madhuban Email @*@System.Web.Configuration.WebConfigurationManager.AppSettings["SenderId"]*@ </label>
                </div>
                <div id="Div_SenderEmail_Notify_ChartResponses" class="row">
                    <div class="col-md-6">
                        <label for="Email_Email_Notify_ChartResponses">Email*</label>
                        @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("Email_Email_Notify_ChartResponses").ID("Email_Email_Notify_ChartResponses")
                            .Placeholder("Email Id").OnValueChanged("Validate_Email_Notify_ChartResponses_ValueChange")
                            .MaxLength(80).Mode(TextBoxMode.Email))
                    </div>
                    <div class="col-md-6">
                        <label for="Password_Email_Notify_ChartResponses"> Password* <i style="color: brown">(16 letter app password for 2-step verification activated mails)</i></label>
                        @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("Password_Email_Notify_ChartResponses").ID("Password_Email_Notify_ChartResponses")
                            .Placeholder("Password").MaxLength(80).Mode(TextBoxMode.Password)
                            .Hint("It is not your password. It is 'App Password' with 16 letters. That you need to create in your gmail account using below steps."))
                    </div>
                    <div class="col-md-12">
                        <div class="nextSteps_div">
                            <p><a href="https://guidebooks.google.com/online-security/protect-your-google-account/two-step-verification?hl=en" target="_blank">Click here for </a>Help Video for Enabling two step verification Process</p>
                            <br />

                            <h3>Note:- This note is for who have enabled 2-step varification to login to the given private gmail account. Here the password should be app password of 16 letter.</h3>
                            Before you setup the Email queue with your private email id and app password, you first need to setup below settings in the given private email account. Otherwise emails will not be sent.

                            <p><b>Step1:</b> Go to your Gmail. Click on your profile picture located at the top right corner of the desktop window.</p>

                            <p>
                                <b>Step2:</b> Click on "Manage Your Google Account" or you can directly go to <a href="https://myaccount.google.com" target="_blank">myaccount.google.com</a> by logging into your Gmail account.
                            </p>
                            <p>
                                <b>Step3:</b> You need to enable and setup 2-Step Verification first. It's itself is a seperate process. You need to complete this process for further steps, otherwise you can not send mails through this application.
                            </p>
                            <p>
                                <b>Step4:</b> Please type "App Passwords" under the search bar in your <a href="https://myaccount.google.com" target="_blank">myaccount.google.com</a> web page. You can see the search box with placeholder "Search Google Account" in the search box at the top of this page
                            </p>
                            <p>
                                <b>Step5:</b> Now You will be able to see the search results in the dropdown below. Then click on App Passwords in it.
                            </p>
                            <p>
                                <b>Step6:</b> Now the App Passwords will be opened. Type "ConnectOne Emailer" in the App Name text box then click on Create button.
                            </p>
                            <p>
                                <b>Step7:</b> Please type this 16 letter password in the password text box.
                            </p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="button_notificationSet button_notificationSet_icon">
                    @(Html.DevExtreme().Button().OnClick("SendSample_Email_Notify_ChartResponses_Click").ID("SendSample_Email_Notify_ChartResponses")
                    .Text("Set up a Sample Email").Hint("It sends a sample mail to you")/*.Icon("fa fa-envelope")*/)
                    @(Html.DevExtreme().Button().OnClick("SendNow_Email_Notify_ChartResponses_Click").ID("SendNow_Email_Notify_ChartResponses")
                        .Hint("It Setup whole Queue & start Sending the mails").Text("Setup Queue & Send")/*.Icon("fa fa-paper-plane")*/)
                </div>
            </div>
        </div>
    </div>
</div>