@using DevExtreme.AspNet.Mvc;
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Layout = "~/Views/Shared/_NoLoginDevExtremeLayout.cshtml";
    string OriginPath = System.Configuration.ConfigurationManager.AppSettings["attachmentpath"];
}
<style>
    body {
        padding-top: 10px;    
    }
    #parentDiv_SendWhstapp {
        overflow-y: scroll;
        max-height: 98vh;
    }
    #Content_Whatsapp_Notify_ChartResponses .dx-quill-container.ql-container {
        background: azure;
    }
    #header_image img{
        width:100%;
    }
    #SendNow_Whatsapp_Notify_ChartResponses {
        background: #33D352;
        color:white;
    }
    .fa-whatsapp.white {
    color:white;
    } 
</style>
<div id="parentDiv_SendWhstapp" style="max-width:750px;margin:0 auto">
    <form id="Form_Notify_ChartResponses" class="edit_form form-horizontal">
        @Html.Hidden("SelectedTabTitle_Notify_ChartResponses", "Whatsapp")
        @Html.Hidden("DeliverySpeed_Whatsapp_Notify_ChartResponses", "Safe")
        @Html.Hidden("Radio_SenderWhatsappNumber_Notify_ChartResponses", "Private")
        @Html.Hidden("IsPublic", true)
        @Html.Hidden("Public_hardcoded_AttachmentPath","")
        @Html.Hidden("Public_CentreID", 4635)
        @Html.Hidden("Public_Addby", "MTMM")
        @Html.Hidden("Public_BatchCreation_NotifyMessage", "")
        @using (Html.DevExtreme().ValidationGroup("validation_SendWhstapp"))
        {
            <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Send WhatsApp Invite</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align">
                            <i class="fas fa-info-circle"></i> Red Fields are mandatory
                        </h5>
                    </div>
                </div>
            </div><!--[Header]-->
    <div class="row">
        <div class="col-sm-12" id="header_image">
            <img src="https://services.brahmakumaris.com/Attachments/8ab4fd7a_0ba5_4f25_a598_df3125af865a.jpg" loading="lazy" />
        </div>
            <div class="col-sm-12">
                <div class="form-field">
                    @Html.Label("Please copy and paste the list of 10 digit mobile numbers (comma separated) whom you want to send the message", htmlAttributes: new { @class = "control-label text-red" })

                    @(Html.DevExtreme().TextArea()
                                    .ID("phoneNumbers_txtArea_notificationSet")
                                    .Name("phoneNumbers_txtArea_notificationSet")
                                    .Placeholder("Enter 10 Digit Mobile Numbers comma separated")
                                    .MinHeight(150).AutoResizeEnabled(true)
                                    .OnInput("OnInput_phoneNumbers_txtArea_notificationSet"))
                </div>
            </div>
            <div class="col-sm-6"style="display:none;">
                <div class="form-field">
                    <label class="control-label text-red" for="BatchName_Whatsapp_Notify_ChartResponses">Batch Name of WhatsApp Message Setup</label>
                    @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("BatchName_Whatsapp_Notify_ChartResponses").ID("BatchName_Whatsapp_Notify_ChartResponses")
                            .Placeholder("Batch Name").MaxLength(80).Value("MTMM2_Public"))
                </div>
            </div>
            <div class="col-sm-6"style="display:none;">
                <div class="form-field">
                    <label class="control-label text-red" for="AdminWhatsappNo_Notify_ChartResponses">Admin Whatsapp no:</label>
                    @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("AdminWhatsappNo_Notify_ChartResponses").ID("AdminWhatsappNo_Notify_ChartResponses")
                    .Placeholder("Admin Whatsapp Number").OnInput("OnInput_WhatsAppPublic")
                    .MaxLength(10))
                </div>
            </div>
            <div class="col-sm-12" style="display:none;">
                <div class="form-field">
                    <label id="LblContent_Whatsapp_notificationSet" class="control-label text-red" for="Content_Whatsapp_Notify_ChartResponses">Content</label>
                    @(Html.DevExtreme().HtmlEditor().CustomHtmlEditor().Name("Content_Whatsapp_Notify_ChartResponses").ID("Content_Whatsapp_Notify_ChartResponses")
                    .Placeholder("Type your Whatsapp Message here to send").OnContentReady("OnlyPlainTextinHtmlEditor_notificationSet").OnValueChanged("Content_Whatsapp_Notify_ChartResponses_ValueChange")
                    .Toolbar(t=>t.Items(i=> { i.Add().FormatName(HtmlEditorToolbarItem.Bold);i.Add().FormatName(HtmlEditorToolbarItem.Italic);i.Add().FormatName(HtmlEditorToolbarItem.Variable); }))
                    .Variables(v => v.DataSource(new JS("VariablesDS_notificationSet()")).EscapeChar(new[] { "#", "#" }))
                          .ReadOnly(true))
                    <label>
                        <span> Total entered Character:&nbsp;</span>
                        <span id="totalCharCount_notificationSet">0 </span>&nbsp;&nbsp;&nbsp;<span>Max Characters allowed: 950</span>
                    </label>
                    <p><span style="font-weight:bold;color:red;">Note:</span> &, #, +, _ Symbol should not be present in Links, Mobile Numbers and Text</p>
                </div>
            </div>
            <div class="col-sm-12" id="FileParentDiv_Whatsapp_Notify_ChartResponses" style="display:none;">
                <div class="form-field">
                    <div class="clearfix">
                        <div id="FileDiv_Whatsapp_Notify_ChartResponses" class="pull-left">
                            <div class="imgContainer">
                                <a id="imgContainer_Whatsapp_Notify_ChartResponses" href="" target="_blank">
                                    <img src="" width="60" height="60" />
                                    <span>Click to view</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <label>NOTE: Delivery with attachment will take more time as compared to normal messages.</label>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label text-red" for="SenderWhatsapp_Notify_ChartResponses">Sender whatsapp number (10 Digits) from which the messages will be sent</label>
                            @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("SenderWhatsapp_Notify_ChartResponses").ID("SenderWhatsapp_Notify_ChartResponses")
                                .OnInput("OnInput_WhatsAppPublic").MaxLength(10).Placeholder("Enter WhatsApp No From Which Message Will Be Sent").Width(250))


                        </div>
                        <div class="col-sm-4">
                            <div class="styleActionBtn">
                                @*@(Html.DevExtreme().Button().OnClick("SendSample_Whatsapp_Notify_ChartResponses_Click").ID("SendSample_Whatsapp_Notify_ChartResponses")
                            .Text("Setup Sample WhatsApp Msg to Admin No").Hint("It sets up a sample message that you have created to the Admin No").Icon("fab fa-whatsapp"))*@
                                @(Html.DevExtreme().Button().OnClick("SendNow_Whatsapp_Notify_ChartResponses_Click").ID("SendNow_Whatsapp_Notify_ChartResponses")
                                            .Text("Queue Messages").Icon("fab fa-whatsapp white"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-12" style="display:none">
                <div class="form-field">
                    <div class="nextSteps_div">
                        <h3 style="color: #ad1f1f">Next Step</h3>
                        <p>Call Bhanu Kiran Bhai (9491143191) to start sending messages</p>
                    </div>
                </div>
            </div>*@
        </div>
        }
</form>
</div>
<script>
    $(document).ready(function ()
    {
        $(document).prop('title', 'WhatsApp');       
        $("#Content_Whatsapp_Notify_ChartResponses").dxHtmlEditor("option", "value",
            "<p>2nd Money-Tax-Mind Management Conference</p><p>[4 Day Free Residential Retreat]</p><p><br></p>"+
            "<p>Anyone interested to learn meditation, remove stress, and find solutions in a busy life can attend the upcoming MTMM conference at Brahma Kumari's headquarters Mansarovar, Abu Road (Rajasthan). This conference is especially for finance professionals.</p>" +
            "<p><br></p><p>You can register yourself through the below link:</p><p>https://omshanti.in/mmtm2</p>"
        )
        var path = "@OriginPath" + "6ecce95d_6d7f_4140_949f_1dfdb041e089.jpg";
        if (path != null && path.length > 0)
        {
            //$("#FileParentDiv_Whatsapp_Notify_ChartResponses").show();
            document.getElementById('imgContainer_Whatsapp_Notify_ChartResponses').href = path;
            $('#imgContainer_Whatsapp_Notify_ChartResponses img').attr('src', path);
            $("#Public_hardcoded_AttachmentPath").val(path);
        }
        $("#phoneNumbers_txtArea_notificationSet").dxTextArea("focus")
    })
    function Content_Whatsapp_Notify_ChartResponses_ValueChange(e)
    {
        countPlainTextCharacters_notificationSet("Content_Whatsapp_Notify_ChartResponses")
    }
    function OnInput_phoneNumbers_txtArea_notificationSet(e) {
        e.event.target.value = e.event.target.value.replace(/[^0-9,\n]/gi, '');
    }
    function OnInput_WhatsAppPublic(e) {
        e.event.target.value = e.event.target.value.replace(/[^0-9]/gi, '');
    }
    function OnlyPlainTextinHtmlEditor_notificationSet(e) {
        e.component.getQuillInstance().clipboard.addMatcher(Node.ELEMENT_NODE, (node, delta) => {
            let ops = []
            delta.ops.forEach(op => {
                if (op.insert && typeof op.insert === 'string') {
                    ops.push({
                        insert: op.insert
                    })
                }
            })
            delta.ops = ops
            return delta
        })
    }
    var VariablesMap_notificationSet =
    {
        "Name": "#NAME#",
        "Form name": "#FORMNAME#",
        "Applicant Date of Birth": "#LAUKIK_BIRTH_DATE#",
        "User Id": "#SUID#",
        "Response Id": "#RESPID#",
        "Gender": "#GENDER#",
        "Form Instance/Serial Id": "#CHARTSRID#",
        "User Profile Id": "#ABID#",
        "Event name": "#EVENT#",
        "Registration Number": "#REGNO#",
        "Event Date": "#EVENTDATE#",
        "Event Time From": "#EVENTTIMEFROM#",
        "Event Time To": "#EVENTTIMETO#",
        "Registration Slip Link": "#REG-SLIP-LINK#"
    };
    function VariablesDS_notificationSet() {
        return Object.keys(VariablesMap_notificationSet).sort()
    }
    function HtmlEditorActualValue_notificationSet(htmlEditorID) {
        var htmlValue = $("#" + htmlEditorID).dxHtmlEditor("option", "value")
        return ReplaceVariableHtmlEditor_notificationSet(htmlValue, VariablesMap_notificationSet)
    }
    function ReplaceVariableHtmlEditor_notificationSet(value, variablesMap) {
        if (value == null || value.length == 0) {
            return "";
        }
        const DX_VARIABLE_CLASS = 'dx-variable';
        const DATA_VAR_VALUE_ATTR = 'data-var-value';
        const parser = new DOMParser();
        const doc = parser.parseFromString(value, 'text/html');
        const variables = doc.querySelectorAll(`.${DX_VARIABLE_CLASS}`);

        variables.forEach(variable => {
            const variableValue = variablesMap[variable.getAttribute(DATA_VAR_VALUE_ATTR)];
            variable.outerHTML = variableValue;
        });

        let modifedHtml = doc.body.innerHTML.toString();
        for (var key in variablesMap) {
            var toReplace = "#" + key + "#";
            modifedHtml = modifedHtml.replaceAll(toReplace, variablesMap[key])
        }
        return modifedHtml;
    }
    function countPlainTextCharacters_notificationSet(htmlEditorID) {
        var htmlString = $("#" + htmlEditorID).dxHtmlEditor("option", "value")
        if (htmlString == null || htmlString.length == 0) {
            $('#totalCharCount_notificationSet').text(0);
            return 0;
        }
        var lngth = new DOMParser()
            .parseFromString(htmlString, "text/html")
            .documentElement.textContent.trim().length;
        $('#totalCharCount_notificationSet').text(lngth);
        return lngth;
        // var parser = new DOMParser().trim().length;
        //var dom = parser.parseFromString(htmlString, 'text/html');
        //var plainText = dom.body.textContent.trim();
        //return plainText.length;

        //// Create a new DOM parser
        //var parser = new DOMParser();
        //// Parse the HTML string
        //var dom = parser.parseFromString(htmlString, 'text/html');
        //// Get the plain text content and remove leading/trailing white space
        //var plainText = dom.body.textContent.trim();
        //// Return the length of the plain text string
        //$('#totalCharCount_notificationSet').text(plainText.length);
        //return plainText.length;
    }
    function SendSample_Whatsapp_Notify_ChartResponses_Click()
    {
        ShowLoader();
        var selectedradiovalue = "phonenumbers";
        var resp_status = "";
        if (Validations_SendWhstapp()) { HideLoader(); return; }
        var formdata = new FormData($('#Form_Notify_ChartResponses')[0]);
        formdata.append("Tag", "_New");
        formdata.append("Chart_Instance_Id", null);
        formdata.append("SendNotificationButtonPressed", "Sample");
        formdata.set("Content_Whatsapp_Notify_ChartResponses", HtmlEditorActualValue_notificationSet("Content_Whatsapp_Notify_ChartResponses"))
        var uniquBatchName = batchUniqueName("BatchName_Whatsapp_Notify_ChartResponses", "WhatsApp");
        formdata.set("BatchName_Whatsapp_Notify_ChartResponses", uniquBatchName)
        var newFormData = new FormData();
        newFormData.append("Tag", "_New");
        newFormData.append("Chart_Instance_Id", null);
        newFormData.append("SendNotificationButtonPressed_Notify_ChartResponses", "Sample");
        newFormData.append("SetNotificationTo_Radio", selectedradiovalue);
        newFormData.append("ResponseStatus_Notify_ChartResponses", resp_status)
        var selectedFormGroup = "";
        newFormData.append("selectedFormResponses_group", selectedFormGroup)
        for (var pair of formdata.entries()) {
            if (pair[0] !== 'Content_Email_Notify_ChartResponses' && pair[0] !== 'Content_Whatsapp_Notify_ChartResponses' && pair[0] !== 'File_Whatsapp_Notify_ChartResponses') {
                newFormData.append(pair[0], pair[1]);
            }
            else if (pair[0] == 'File_Whatsapp_Notify_ChartResponses') {
                newFormData.append(pair[0], pair[1]);
            }
            else if (pair[0] == 'Content_Whatsapp_Notify_ChartResponses') {
                newFormData.append(pair[0], $('<div/>').text(pair[1]).html());
            }
            else if (pair[0] == 'Content_Email_Notify_ChartResponses') {
                newFormData.append(pair[0], $('<div/>').text(pair[1]).html());
            }
        }

        $.ajax({
            url: "/Facility/NotificationSettings/SendWhatsApp",
            type: "POST",
            data: newFormData,
            processData: false,
            contentType: false,
            success: function (data) {
                HideLoader();
                if (data.jsonParam.result) {
                    DevExpress.ui.dialog.alert("Sample Message Setup Successfully!!!", "Information!!!").done(function () {
                        //ChartResponsesWhatsappQueueNotificationInfoGrid.Refresh()
                        //ChartResponsesEmailQueueNotificationInfoGrid.Refresh()
                        //clear_Wtsapp_notificationSet_onclick();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                }
            }
        });
    }
    function SendNow_Whatsapp_Notify_ChartResponses_Click()
    {      
        //DevExpress.ui.dialog.confirm
        //    (
        //    "Please setup Sample message first, before setting up queue, to ensure accuracy of message delivery. <br> " +       
        //    "If sample message is already checked, please press 'Yes'.<br><br>" +
        //    "Have you checked sample message ?",
        //    "Sample Message Setup Alert."
        //).done(function (dialogResult)
        //{
        //    if (dialogResult)
        //    {
        ShowLoader();
        var SenderNo = $("#SenderWhatsapp_Notify_ChartResponses").dxTextBox("option", "value");
        $("#AdminWhatsappNo_Notify_ChartResponses").dxTextBox("option", "value", SenderNo);
                //-------new code regarding radio group start        
                var selectedradiovalue = "phonenumbers";
                var resp_status = "";             
                if (Validations_SendWhstapp()) { HideLoader(); return; }
                var formdata = new FormData($('#Form_Notify_ChartResponses')[0]);
                formdata.append("Tag", "_New");
                formdata.append("Chart_Instance_Id", null);
                formdata.append("SendNotificationButtonPressed", "Now");
                formdata.set("Content_Whatsapp_Notify_ChartResponses", HtmlEditorActualValue_notificationSet("Content_Whatsapp_Notify_ChartResponses"))
                var uniquBatchName = batchUniqueName("BatchName_Whatsapp_Notify_ChartResponses", "WhatsApp");
                formdata.set("BatchName_Whatsapp_Notify_ChartResponses", uniquBatchName)
        formdata.set("Public_BatchCreation_NotifyMessage", "A new whatsapp batch has been created. Batch Name is " + uniquBatchName + " .Sender No is " + SenderNo)
                var newFormData = new FormData();
                newFormData.append("Tag", "_New");
                newFormData.append("SendNotificationButtonPressed_Notify_ChartResponses", "Now");
                newFormData.append("SetNotificationTo_Radio", selectedradiovalue);
                newFormData.append("ResponseStatus_Notify_ChartResponses", resp_status)
                var selectedFormGroup = "";
                newFormData.append("selectedFormResponses_group", selectedFormGroup)    
                if (selectedradiovalue == "phonenumbers")
                {
                    var enteredPhoneNumbers = $("#phoneNumbers_txtArea_notificationSet").dxTextArea("instance").option("value");  
                    var phNumbersWithComma = enteredPhoneNumbers.replace(/,\n/g, ',').replace(/\n,/g, ',')
                        .replace(/\n/g, ',') // Replace newlines with commas
                        .replace(/,\s*$/, '') // Remove any trailing comma and spaces
                        .trim(); // Trim leading and trailing whitespace
                        var cleanedPhoneNumbers_string = cleanPhoneNumbers(phNumbersWithComma)
                    newFormData.append("EnteredPhoneNumbersOrEmails_notificationSet", cleanedPhoneNumbers_string);                  
                }

                for (var pair of formdata.entries()) {
                    if (pair[0] !== 'Content_Email_Notify_ChartResponses' && pair[0] !== 'Content_Whatsapp_Notify_ChartResponses' && pair[0] !== 'File_Whatsapp_Notify_ChartResponses') {
                        newFormData.append(pair[0], $('<div/>').text(pair[1]).html());
                    }
                    else if (pair[0] == 'File_Whatsapp_Notify_ChartResponses') {
                        newFormData.append(pair[0], pair[1]);
                    }
                    else if (pair[0] == 'Content_Whatsapp_Notify_ChartResponses') {
                        newFormData.append(pair[0], $('<div/>').text(pair[1]).html());
                    }
                    else if (pair[0] == 'Content_Email_Notify_ChartResponses') {
                        newFormData.append(pair[0], $('<div/>').text(pair[1]).html());
                    }
                }
                $.ajax({
                    url: "/Facility/NotificationSettings/SendWhatsApp",
                    type: "POST",
                    data: newFormData,
                    processData: false,
                    contentType: false,
                    success: function (data)
                    {
                        HideLoader();                     
                        if (data.jsonParam.result)
                        {                                            
                            if (data.jsonParam.message != 'Queue Not created.')
                            {
                                DevExpress.ui.dialog.alert(data.jsonParam.message+"<br> <div style='color:red;'>We Will Call You Before Starting To Send Messages For Setting Up Your WhatsApp</div>", data.jsonParam.title)
                                $("#phoneNumbers_txtArea_notificationSet").dxTextArea("option", "value", null)
                                // clear_Wtsapp_notificationSet_onclick();         
                            }
                            else
                            {
                                DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title)
                            }
                        }
                        else
                        {
                            DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);                          
                        }
                    }
                });
        //    }
        //    else
        //    {
        //        return;
        //    }
        //});
    }
    function cleanPhoneNumbers(phoneNumbers) {
        // Split the input string into an array of phone numbers
        let phoneArray = phoneNumbers.split(',');

        // Function to clean individual phone numbers
        function cleanNumber(number) {
            // Trim spaces at the beginning and end
            number = number.trim();

            // Remove all non-digit characters
            let cleaned = number.replace(/\D/g, '');

            // Remove country code if present
            if (cleaned.startsWith('91') && cleaned.length > 10) {
                cleaned = cleaned.substring(2);
            } else if (cleaned.startsWith('0') && cleaned.length > 10) {
                cleaned = cleaned.substring(1);
            }

            // Return the cleaned number if it's 10 digits long
            return cleaned.length === 10 ? cleaned : null;
        }

        // Clean all phone numbers and filter out invalid ones
        let cleanedNumbers = phoneArray.map(cleanNumber).filter(Boolean);

        // Join the cleaned numbers back into a comma-separated string
        return cleanedNumbers.join(',');
    }
    function batchUniqueName(id, Whtsapp_Email) //This section is to set the batch unique Name
    {
        var batchName = $("#" + id).dxTextBox("instance").option("value");
        var resp_status = "";
        var time_stamp = getCurrentTimestamp();
        var uniquBatchName = batchName + "_" + Whtsapp_Email + "_" + 0 + "_" + resp_status + time_stamp;
        return uniquBatchName;
    }
    function getCurrentTimestamp() {
        var date = new Date();
        var day = date.getDate();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();

        // Pad single-digit numbers with a leading zero
        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;

        return day + "_" + hours + "_" + minutes + "_" + seconds;
    }
    function Validations_SendWhstapp(e) {        
        var MobileNumbers = $("#phoneNumbers_txtArea_notificationSet").dxTextArea("option", "value");
        var AdminNo = $("#AdminWhatsappNo_Notify_ChartResponses").dxTextBox("option", "value");
        var Message = $("#Content_Whatsapp_Notify_ChartResponses").dxHtmlEditor("option", "value");
        var SenderNo = $("#SenderWhatsapp_Notify_ChartResponses").dxTextBox("option", "value");
        if (MobileNumbers == null || MobileNumbers.length == 0) {
            DevExpress.ui.dialog.alert("Mobile Numbers Are Required", "Information").done(function () {
                $("#phoneNumbers_txtArea_notificationSet").dxTextArea("focus")
            })
            return true
        }
        var Numbers = MobileNumbers.replace(/,\n/g, ',').replace(/\n,/g, ',')
            .replace(/\n/g, ',') // Replace newlines with commas
            .replace(/,\s*$/, '') // Remove any trailing comma and spaces
            .trim().split(",") // Trim leading and trailing whitespace MobileNumbers and split by comma
        for (var i = 0; i < Numbers.length; i++)
        {
            if (Numbers[i].trim().length > 0) {
                if (Numbers[i].length != 10) {
                    DevExpress.ui.dialog.alert("Mobile Numbers Must Be Of 10 Digits (" + Numbers[i] + ")", "Information").done(function () {
                        $("#phoneNumbers_txtArea_notificationSet").dxTextArea("focus")
                    })
                    return true
                }
            }
        }
        if (SenderNo == null || SenderNo.length == 0) {
            DevExpress.ui.dialog.alert("Sender Mobile Number Is Required", "Information").done(function () {
                $("#SenderWhatsapp_Notify_ChartResponses").dxTextBox("focus")
            })
            return true
        }
        if (SenderNo.length != 10) {
            DevExpress.ui.dialog.alert("Sender Mobile Number Is Incorrect", "Information").done(function () {
                $("#SenderWhatsapp_Notify_ChartResponses").dxTextBox("focus")
            })
            return true
        }
        if (AdminNo == null || AdminNo.length == 0) {
            DevExpress.ui.dialog.alert("Admin Mobile Number Is Required", "Information").done(function () {
                $("#AdminWhatsappNo_Notify_ChartResponses").dxTextBox("focus")
            })
            return true
        }
        if (AdminNo.length != 10) {
            DevExpress.ui.dialog.alert("Admin Mobile Number Is Incorrect", "Information").done(function () {
                $("#AdminWhatsappNo_Notify_ChartResponses").dxTextBox("focus")
            })
            return true
        }

        if (Message == null || Message.length == 0) {
            DevExpress.ui.dialog.alert("WhatsApp Message Is Required", "Information").done(function () {
                $("#Content_Whatsapp_Notify_ChartResponses").dxHtmlEditor("focus")
            })
            return true
        }
        var textCount = countPlainTextCharacters_notificationSet("Content_Whatsapp_Notify_ChartResponses");
        if (textCount > 950) {
            DevExpress.ui.dialog.alert('Maximum Characters Allowed is 950<br>Entered Characters Count Is ' + textCount, "Information...")           
            return true
        }

        if (IsNullOrWhitespace("BatchName_Whatsapp_Notify_ChartResponses", "dxTextBox")) {
            DevExpress.ui.dialog.alert("Batch Name is Mandatory!", "Invalid input....").done(
                function () { $("#BatchName_Whatsapp_Notify_ChartResponses").dxTextBox("instance").focus() });
            return true;
        }

    }
</script>
