<div class="CashProfile_Clearreference">
    @using DevExtreme.AspNet.Mvc;
    @model IEnumerable<dynamic>

    @{
        ViewBag.Title = "Index";
        Layout = null;
        string UserType = (string)ViewBag.UserType;
        bool Cash_AddRight = (bool)ViewData["Cash_AddRight"];
        bool Cash_UpdateRight = (bool)ViewData["Cash_UpdateRight"];
        bool Cash_ViewRight = (bool)ViewData["Cash_ViewRight"];
        bool Cash_DeleteRight = (bool)ViewData["Cash_DeleteRight"];
        bool Cash_ExportRight = (bool)ViewData["Cash_ExportRight"];
        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
        bool CashInfo_Auto_Vouching_Mode = (bool)ViewData["CashInfo_Auto_Vouching_Mode"];
    }
    <div id="CashProfile_ParentDiv">
        <div id="content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">Cash Account Information</label>
            </div>
            @*Buttons*@
            <div class="report_button_div">
                @(Html.DevExtreme().Switch().ID("Cash_ProfileVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("CashProfile_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Switch().ID("CashViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("Cash_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Button()
                                                                                                    .ID("CashModelNew")
                                                                                                    .Text("New")
                                                                                                    .Icon("add")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnCashNewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("CashModelEdit")
                                                                                                    .Text("Edit")
                                                                                                     .Icon("edit")
                                                                                                     .Visible(false)
                                                                                                     .Disabled(true)
                                                                                                     .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnCashEditClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("CashModelDelete")
                                                                                                    .Text("Delete")
                                                                                                    .Icon("trash")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnCashDeleteClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("CashModelView")
                                                                                                    .Text("View")
                                                                                                    .Icon(IconID.ViewCustomers16x16devav)
                                                                                                    .Icon("doc")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnCashViewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("CashToggleScrollBar")
                                                                                                    .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                                                                                                    .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                                                                                                    .Icon("toolbox")
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        CashchangeMode();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("CashModelListPreview")
                                                                                                    .Text("Export")
                                                                                                    .Icon("save")
                                                                                                    .Width(80)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnCashListPreviewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("CashModelCLOSE")
                                                                                                    .Text("Close")
                                                                                                    .Icon("clear")
                                                                                                    .OnClick(@<text>
                                                                                                        function (){closeProfile_Cash();}
                                                                                                    </text>)

            )
            </div>

        </div>
        <div class="col-md-12 no-padding">
            <form>
                <div id="CashreloadPartialView" class="parent_table">
                    @Html.Partial("Frm_Cash_Info_Grid", Model)
                </div>
            </form>
        </div>
        <div class="footer-MainBoxdiv" style="display:inline-block;width:100%">
            <div class="setFooterItem">
                <div class="footer-inner">
                    <div class="list_footer_left_margin">
                        <div class="footericon">
                            <i id="Cash_LockICON" style="color:red;font-size:35px;"></i>
                        </div>
                        @*<div class="footer-locktext">
                                <div id="CashLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                            </div>*@
                        <div class="footer-locktext">
                            <div id="Cash_Lbl_ActionOn" class="left_footertext_top"></div>
                            <div id="Cash_Lbl_ActionBy" class="left_footertext_bottom"></div>
                        </div>
                    </div>
                    <div class="list_footer_left_margin">
                        <div class="footer-text">
                            <p id="CashLbl_Create" class="right_footertext_top"></p>
                            <p id="CashLbl_Modify" class="right_footertext_bottom"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("AttachmentFAB", "CashPrf_FAB,CashProfile_grid_DIV,Type1,CashProfile," + UserType) @*fab buttons*@
        <div class="col-md-12">
            @*Add/Edit Popup*@
            @(Html.DevExtreme().Popup().CustomPopup()
                                                    .ID("Cash_report_modal")
                                                    .OnShowing("PopupOnShowing")
                                                    .Title("Cash List Preview")
                                                    .FullScreen(false)
                                                    .MaxWidth(125)
                                                    .Height("auto")
                                                    .ShowCloseButton(true)
                                                    .ContentTemplate(@<text>
                                                        <div id="Cash_report_modal_result">
                                                        </div>
                                                    </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                                    .ID("popup_frm_Cash_Window")
                                                    .Title("Cash")
                                                    .OnShowing("PopupOnShowing")
                                                    .ShowCloseButton(true)
                                                    .ContentTemplate(@<text>
                                                        <div id="Cashresult">
                                                        </div>
                                                    </text>)
                                                                        .OnHiding(@<text>
                                                                            function () {
                                                                            if(IsSucessPopup == false && IsViewPopup == false)
                                                                            {
                                                                            var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                                                            result.done(function (dialogResult) {
                                                                            if(dialogResult){
                                                                            $("#popup_frm_Cash_Window").dxPopup("hide");
                                                                            }else
                                                                            {
                                                                            $("#popup_frm_Cash_Window").dxPopup("show");
                                                                            }
                                                                            });
                                                                            }
                                                                            }
                                                                        </text>)
        )
        </div>
    </div>
    @*Javascript Events*@
<script type="text/javascript">
    //var IsSucessPopup = false;
    //var IsViewPopup = false;
    var Cash_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var CashInfo_SetVouchingModeOn = "@CashInfo_Auto_Vouching_Mode" == "True" ? true : false;
    var UserType_CashPrf = "@UserType".toUpperCase();
    var Cash_IsVouchingMode = false;
    var Cash_ViewMode = "Default";
    $(document).ready(function () {
        ////IsSucessPopup = false;
        //IsViewPopup = false;
        //SetCashGroupPanelFooterVisible();
        //SetCashFooterVisible();

        if ("@Cash_AddRight" == "False")
        {
            $("#CashModelNew").hide();
        }
        if ("@Cash_UpdateRight" == "False")
        {
            $("#CashModelEdit").hide();
        }
        if ("@Cash_ViewRight" == "False")
        {
            $("#CashModelView").hide();
        }
        if ("@Cash_DeleteRight" == "False")
        {
            $("#CashModelDelete").hide();
        }
        if ("@Cash_ExportRight" == "False")
        {
            $("#CashModelListPreview").hide();
        }
        $(".CashListGrid_PreviewRow").hide();
        GetSessionStorage("CashListGrid");
        if (CashInfo_SetVouchingModeOn == true)
        {
            $("#CashViewModeSwitch").dxSwitch("instance").option("value", true);
        }
    });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Profile/Cash/SessionClear",
            cache: false
        });
        CloseRightPane();
        ClearLeftPane();
        CloseLeftPane();
        ClearAllReferences_BankProfile();
    });
    function CashProfile_VouchingSwitch_ValueChange(e)
    {       
        Cash_IsVouchingMode = e.value;

        if (CashInfo_SetVouchingModeOn == true)
        {
            CashInfo_SetVouchingModeOn = false;
        }
        else
        {
            CashPrf_FAB.SetVisible(false);
        }
        if (Cash_IsVouchingMode == true)
        {
            OpenRightPane();
            ClearLeftPane();
            OpenLeftPane();
        }
        else
        {
            CashPrf_FAB.SetActionContext("AddAttachmentContext", false);
            CloseRightPane();
            ClearLeftPane();
            CloseLeftPane();
        }

        CashListGrid_CollapseAllDetailRows();
    }
    function CashListGrid_CollapseAllDetailRows()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.CashListGrid !== 'undefined')
            {
                if (typeof window.CashListGrid.CollapseAllDetailRows !== 'undefined')
                {
                    if (typeof CashListGrid.CollapseAllDetailRows == 'function')
                    {
                        CashListGrid.SetFocusedRowIndex(-1);
                        CashListGrid.CollapseAllDetailRows();
                    }
                    else
                    {
                        alert("CollapseAllDetailRows is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        CashListGrid_CollapseAllDetailRows();
                        HideLoader();
                    }, Timeout100);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else
        {
            alert('window undefined')
        }
    }
    function Cash_ViewSwitch_ValueChange(e)
    {
        Cash_ViewMode = e.value == false ? "Default" : "Compact";
        if (CashInfo_SetVouchingModeOn == true)
        {
            $("#Cash_ProfileVouchingModeSwitch").dxSwitch("instance").option("value", true);
        }
        else {
            CashListGrid.CollapseAllDetailRows();
        }
    }
    function OnCashCellClick(event, cell,col, row)
    {
        if (UserType_CashPrf == "AUDITOR" || UserType_CashPrf == "SUPERUSER")
        {
            if (event.button == 0)
            {
                if (cell.style.backgroundColor.length > 0)
                {
                    if (cell.style.backgroundColor == 'lightskyblue')
                    {
                        cell.style.backgroundColor = 'lightgreen';
                    }
                    else if (cell.style.backgroundColor == 'lightgreen')
                    {
                        cell.style.backgroundColor = 'pink';
                    }
                    else if (cell.style.backgroundColor == 'pink')
                    {
                        cell.style.backgroundColor = "";
                    }
                }
                else
                {
                    cell.style.backgroundColor = 'lightskyblue';
                }
            }
        }
    }
    function CashOnInit(s, e) {
        CashAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            CashAdjustSize();
        });
        $("#CashListGrid").hover(function () {
            CashListGrid.Focus()
        })
    }
    var Cash_ColumnToBeShownIndex = "";
    var Cash_ColumnToBeHidddenIndex = "";
        function OnGridCashListGrid_EndCallback(s, e) {
           // CashAdjustSize();
            Cash_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
            Cash_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex;
            CashGridLayout = s.cpClientLayout;
            if (e.command == "REFRESH" && Cash_IsVouchingMode == true) {
                s.SetFocusedRowIndex(-1);
                s.SetFocusedRowIndex(CashInfo_FocusedRowBeforeRefresh);
            }
            $(".CashListGrid_PreviewRow").hide();
            GetSessionStorage("CashListGrid");
            SendCustomArgs_FilterControl(s, e);
    }
    function CashAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try{ CashListGrid.SetHeight(height); } catch(err){}
    }
    function CashchangeMode() {
        ShowLoader();
        if (Cash_ShowHorizontalBar == 0) {
            Cash_ShowHorizontalBar = 1;
            $("#CashToggleScrollBar").find("span").text("Default Data");
            $("#CashToggleScrollBar").width(110);
        }
        else {
            Cash_ShowHorizontalBar = 0;
            $("#CashToggleScrollBar").find("span").text("Full Data");
            $("#CashToggleScrollBar").width(90);
        }
        $.ajax({
            url: '@Url.Action("Frm_Cash_Info_Grid", "Cash")',
            type: "GET",
            data: { ShowHorizontalBar: Cash_ShowHorizontalBar, VouchingMode: Cash_IsVouchingMode, ViewMode: Cash_ViewMode, ColumnToBeHidddenIndex: Cash_ColumnToBeHidddenIndex, ColumnToBeShownIndex: Cash_ColumnToBeShownIndex  },
            success: function (res) {
                $("#CashreloadPartialView").html(res);
                $(".CashListGrid_PreviewRow").hide();
                GetSessionStorage("CashListGrid");
            }
        });
        HideLoader();
    }
    function CashAjaxSuccessForm(data) {
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
        else {
            //IsSucessPopup = true;
            DevExpress.ui.dialog.alert(data.Message, "Success");
            $("#popup_frm_Cash_Window").dxPopup("hide");
            CashListGrid.Refresh();
            //IsSucessPopup = false;
        }
    }

    var CashID;
    var Cash_EditDate;
    var Cash_AddDate;
    var Cash_AddBy;
    var Cash_EditBy;
    var Cash_ActionStatus;
    var Cash_ActionDate;
    var Cash_ActionBy;
    var CashInfo_FocusedRowBeforeRefresh;

    function Cash_dblclickEdit(s, e) {
        //var key = s.GetRowKey(s.GetFocusedRowIndex());
        //CashListGrid.GetValuesOnCustomCallback({ key: key }, CashOnGetRowValues);
        //if (CashID != null || CashID == 'undefined' || CashID == undefined)
        //    OnCashEditClick();
    }

    function CashGrid_BeginCallBack(s, e) {
        CashInfo_FocusedRowBeforeRefresh = s.GetFocusedRowIndex();
        e.customArgs["command"] = e.command;
        e.customArgs["ShowHorizontalBar"] = Cash_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = Cash_IsVouchingMode;
        e.customArgs["ViewMode"] = Cash_ViewMode;
        e.customArgs["ColumnToBeShownIndex"] = Cash_ColumnToBeShownIndex;
        e.customArgs["ColumnToBeHidddenIndex"] = Cash_ColumnToBeHidddenIndex;
    }

    function OnCashGridFocusedRowChanged(s, e)
    {
        if (s.GetFocusedRowIndex() >= 0)
        {
            if (!s.IsGroupRow(s.GetFocusedRowIndex()))
            {
                s.GetRowValues(s.GetFocusedRowIndex(), 'ID;Edit_Date;Add_Date;Add_By;Edit_By;Action_Status;Action_Date;Action_By', CashOnGetRowValues);
                if (Cash_IsVouchingMode)
                {
                    CashPrf_FAB.SetVisible(true);
                    CashPrf_FAB.SetActionContext("VouchingActionContext", true);
                }
            }
            else
            {
                CashID = null;
                Cash_UpdateFooterDetail(CashID, Cash_ActionStatus, Cash_AddDate, Cash_AddBy,
                    Cash_ActionDate, Cash_ActionBy, Cash_EditDate, Cash_EditBy);
            }
        }
        else
        {
            CashID = null;
            Cash_UpdateFooterDetail(CashID, Cash_ActionStatus, Cash_AddDate, Cash_AddBy,
                Cash_ActionDate, Cash_ActionBy, Cash_EditDate, Cash_EditBy);
        }
    }

    function CashOnGetRowValues(values) {
        CashID = values[0];
        Cash_EditDate = values[1];
        Cash_AddDate = values[2];
        Cash_AddBy = values[3];
        Cash_EditBy = values[4];
        Cash_ActionStatus = values[5];
        Cash_ActionDate = values[6];
        Cash_ActionBy = values[7];
        Cash_UpdateFooterDetail(CashID, Cash_ActionStatus, Cash_AddDate, Cash_AddBy,
            Cash_ActionDate, Cash_ActionBy, Cash_EditDate, Cash_EditBy);
        if (Cash_IsVouchingMode == true) {
            OpenLeftPane();
            LoadDocumentAndAdditionalInfoInLeftPane("Profile", "Cash", "LeftPaneContent", CashID, Cash_IsVouchingMode, "");
        }

    }

    function Cash_UpdateFooterDetail(CashID, Cash_Action_Status, Cash_Add_Date, Cash_Add_By, Cash_Action_Date, Cash_Action_By, Cash_Edit_Date, Cash_Edit_By)
    {
        if (CashID != null) {
            Cash_Action_Date = Cash_Action_Date != "" && Cash_Action_Date != null ? Cash_Action_Date : Cash_Action_Date;
            Cash_Edit_Date = Cash_Edit_Date != "" && Cash_Edit_Date != null ? Cash_Edit_Date : Cash_Edit_Date;
            Cash_Add_Date = Cash_Add_Date != "" && Cash_Add_Date != null ? Cash_Add_Date : Cash_Add_Date;
            $.ajax({
                type: 'GET',
                url: "/Profile/Cash/CreationDetail",
                data: {
                    Xrow: CashID, Action_Status: Cash_Action_Status, Add_Date: Cash_Add_Date,
                    Add_By: Cash_Add_By, Action_Date: Cash_Action_Date, Action_By: Cash_Action_By, Edit_Date: Cash_Edit_Date, Edit_By: Cash_Edit_By
                },
                cache: false,
                success: function (CashLbl_result) {

                    $('#CashLbl_Status').text(CashLbl_result.Lbl_Status);
                    $('#Cash_Lbl_ActionOn').text(CashLbl_result.Lbl_StatusOn);
                    $('#Cash_Lbl_ActionBy').text(CashLbl_result.Lbl_StatusBy);
                    $('#CashLbl_Create').text(CashLbl_result.Lbl_Create);
                    $('#CashLbl_Modify').text(CashLbl_result.Lbl_Modify);
                    if (CashLbl_result.Lbl_Status_Color != "") {
                        $('#CashLbl_Status').css('color', CashLbl_result.Lbl_Status_Color);
                    }
                    if (CashLbl_result.Pic_Status == "fa fa-lock") {
                        $('#Cash_LockICON').addClass(CashLbl_result.Pic_Status).removeClass("fa-unlock");
                    }
                    else if (CashLbl_result.Pic_Status == "fa fa-unlock") {
                        $('#Cash_LockICON').addClass(CashLbl_result.Pic_Status).removeClass("fa-lock");
                    }
                    else {
                        $('#Cash_LockICON').removeClass("fa");
                        $('#Cash_LockICON').removeClass("fa-lock");
                        $('#Cash_LockICON').removeClass("fa-unlock");
                    }
                }
            });
        }
        else
        {
            $('#CashLbl_Status').text("");
            $('#Cash_Lbl_ActionOn').text("");
            $('#Cash_Lbl_ActionBy').text("");
            $('#CashLbl_Create').text("");
            $('#CashLbl_Modify').text("");
            $('#Cash_LockICON').removeClass("fa");
            $('#Cash_LockICON').removeClass("fa-lock");
            $('#Cash_LockICON').removeClass("fa-unlock");
        }
    }

    function OnCashNewClick() {
        if ("@Cash_AddRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        IsViewPopup = false;
        //  OpenDynamicPopup("New ~ other Cash", "", "680", "460")
        $("#popup_frm_Cash_Window").dxPopup("show");
        $("#popup_frm_Cash_Window").dxPopup("instance").option("title", "New ~ Cash");
        $("#Cashresult").html('');
        ShowLoader();
        $("#Cashresult").load("@Url.Action("Frm_Cash_Window", "Cash", new { @area = "Profile" })?ActionMethod=New", function () {
            HideLoader();
        });
    }

    function OnCashEditClick() {
        if ("@Cash_UpdateRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        //IsViewPopup = false;
        if (CashID == 'undefined' || CashID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/Cash/DataNavigation",
            data: { ActionMethod: "Edit", id: CashID, Edit_Date: encodeURIComponent(Cash_EditDate) },
            cache: false,
            success: function (Cash_Edit_ButtonClick_result) {
                if (Cash_Edit_ButtonClick_result.result == "true" || Cash_Edit_ButtonClick_result.result == true) {
                    $("#popup_frm_Cash_Window").dxPopup("show");
                    $("#popup_frm_Cash_Window").dxPopup("instance").option("title", "Edit ~ Cash");
                    $("#Cashresult").html('');
                    ShowLoader();
                    $("#Cashresult").load("@Url.Action("frm_Cash_window", "Cash", new { @area = "Profile" })?ActionMethod=" + "Edit" + "&ID=" + CashID + "&EditedOn=" + encodeURIComponent(Cash_EditDate), function () {
                        HideLoader();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(Cash_Edit_ButtonClick_result.Message);
                    CashListGrid.Refresh();
                }
            }
        });
    }

    function OnCashViewClick() {
        if ("@Cash_ViewRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (CashID == 'undefined' || CashID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/Cash/DataNavigation",
            data: { ActionMethod: "View", id: CashID, Edit_Date: Cash_EditDate.toISOString() },
            cache: false,
            success: function (Cash_View_ButtonClick_result) {
                if (Cash_View_ButtonClick_result.result == "true" || Cash_View_ButtonClick_result.result == true) {
                    //IsViewPopup = true;
                    $("#popup_frm_Cash_Window").dxPopup("show");
                    $("#popup_frm_Cash_Window").dxPopup("instance").option("title", "View ~ Cash");
                    $("#Cashresult").html('');
                    ShowLoader();
                    $("#Cashresult").load("@Url.Action("frm_Cash_window", "Cash", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + CashID + "&EditedOn=" + encodeURIComponent(Cash_EditDate), function () {
                        HideLoader();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(Cash_View_ButtonClick_result.Message);
                    CashListGrid.Refresh();
                }
            }
        });
    }

    function OnCashDeleteClick() {
        _AcceptwithoutRemarks
        if ("@Cash_DeleteRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        //IsViewPopup = true;
        if (CashID == 'undefined' || CashID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $("#popup_frm_Cash_Window_Close").dxPopup("hide");

                $.ajax({
                    type: 'GET',
                    url: "/Profile/Cash/DataNavigation",
                    data: { ActionMethod: "Delete", id: CashID, Edit_Date: Cash_EditDate.toISOString() },
                    cache: false,
                    success: function (Cash_Delete_ButtonClick_result) {
                        if (Cash_Delete_ButtonClick_result.result == "true" || Cash_Delete_ButtonClick_result.result == true) {
                            $("#popup_frm_Cash_Window").dxPopup("show");
                            $("#popup_frm_Cash_Window").dxPopup("instance").option("title", "Delete ~ Cash");
                            ShowLoader();
                            $("#Cashresult").load("@Url.Action("frm_Cash_window", "Cash", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + CashID + "&EditedOn=" + encodeURIComponent(Cash_EditDate), function () {
                                HideLoader();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(Cash_Delete_ButtonClick_result.Message);
                            CashListGrid.Refresh();
                        }
                    }
                });
            }
        });
    }

    function OnCashListPreviewClick() {
        if ("@Cash_ExportRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        @*$("#Cash_report_modal").dxPopup("show");
        $("#Cash_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#Cash_report_modal").html('');
        ShowLoader();
        $("#Cash_report_modal_result").load("@Url.Action("Frm_Export_Options", "Cash", new { @area = "Profile" })", function () {
            HideLoader();
        });*@
        OpenPopup("Cash_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "Cash", new { @area = "Profile" })", "auto", 125, false, null);
    }

    function GetSelectedFieldValuesCallback(values) {
        SelectedRows.BeginUpdate();
        try {
            SelectedRows.ClearItems();
            for (var i = 0; i < values.length; i++) {
                SelectedRows.AddItem(values[i]);
            }
        } finally {
            SelectedRows.EndUpdate();
        }
        $("#count").html(gvRowSelection.GetSelectedRowCount());

    }

    function CashContextMenuFunction(s, e) {
        if (e.item.name == 'New') {
            OnCashNewClick();
        }
        if (e.item.name == 'Close') {
            closeProfile_Cash();
        }
        else if (e.item.name == 'Edit') {
            OnCashEditClick();
        }
        else if (e.item.name == 'Delete') {
            OnCashDeleteClick();
        }
        else if (e.item.name == 'View') {
            OnCashViewClick();
        }
        else if (e.item.name == 'ListPreview') {
            OnCashListPreviewClick();
        }
        else if (e.item.name == 'Discontinue') {
            OnCashDiscontinueClick();
        }
        else if (e.item.name == 'continue') {
            OnCashcontinueClick();
        }
        else if (e.item.name == 'Refresh') {
            CashListGrid.Refresh();
        }

    }
        function CashContextMenuInit(s, e) { }
        function closeProfile_Cash() {
            $(".TabPanalMenu-tabs .active span").click();

        }

        function ClearAllReferences_BankProfile() {
            CashInfo_IsDetailRowExpanded = null;
            CashInfo_NestedRecord_FocusedRowIndex = null;
            CashInfo_NestedGrid_AccessID = null;
            CashInfo_AtachmentID = null;
            CashInfo_FileName = null;
            CashInfo_ParamMandatory = null;
            CashInfo_FromDateLabel = null;
            CashInfo_ToDateLabel = null;
            CashInfo_DescriptionLabel = null;
            CashInfo_Doc_ID = null;
            CashInfo_Doc_Category = null;
            CashInfo_MasterRowRecID = null;
            CashInfo_MasterRowMID = null;
            CashInfo_NestedRowMapID = null;
            CashInfo_reason = null;
            CashInfo_Attachment_RecStatus = null;
            CashInfo_NestedRowReasonID = null;
            CashInfo_NestedRowKeyValue = null;
            CashID = null;
            Cash_EditDate = null;
            Cash_AddDate = null;
            Cash_AddBy = null;
            Cash_EditBy = null;
            Cash_ActionStatus = null;
            Cash_ActionDate = null;
            Cash_ActionBy = null;
            CashInfo_FocusedRowBeforeRefresh = null;
            Cash_ColumnToBeShownIndex = null;
            Cash_ColumnToBeHidddenIndex = null;
            Cash_ShowHorizontalBar = null;
            CashInfo_SetVouchingModeOn = null;
            UserType_CashPrf = null;
            Cash_IsVouchingMode = null;
            Cash_ViewMode = null;


            ClearAllReferences("CashProfile_Clearreference");

        }
</script>

    <script>
    var CashInfo_IsDetailRowExpanded = false;
    var CashInfo_NestedRecord_FocusedRowIndex = -1;
    var CashInfo_NestedGrid_AccessID;
    var CashInfo_AtachmentID;
    var CashInfo_FileName;
    var CashInfo_ParamMandatory;
    var CashInfo_FromDateLabel;
    var CashInfo_ToDateLabel;
    var CashInfo_DescriptionLabel;
    var CashInfo_Doc_ID;
    var CashInfo_Doc_Category;
    var CashInfo_MasterRowRecID;
    var CashInfo_MasterRowMID;
    var CashInfo_NestedRowMapID;
    var CashInfo_reason;
    var CashInfo_Attachment_RecStatus;
    var CashInfo_NestedRowReasonID;
    var CashInfo_NestedRowKeyValue;

    function On_CashProfile_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (CashInfo_ParamMandatory == 1)
            {
                AddAttachment(CashInfo_MasterRowRecID, "Profile_Cash", CashInfo_Doc_ID, CashInfo_Doc_Category, CashInfo_ParamMandatory, CashInfo_FromDateLabel, CashInfo_ToDateLabel, CashInfo_DescriptionLabel, "CashProfileAttachment", null, "CashListGrid", CashInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(CashInfo_MasterRowRecID, "Profile_Cash", CashInfo_Doc_ID, "CashProfileAttachment", "CashListGrid", CashInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (CashInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(CashInfo_MasterRowRecID, "Profile_Cash", CashInfo_AtachmentID, CashInfo_ParamMandatory, CashInfo_FromDateLabel, CashInfo_ToDateLabel, CashInfo_DescriptionLabel, "CashProfileAttachment", null, "CashListGrid", CashInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(CashInfo_MasterRowRecID, "Profile_Cash", CashInfo_AtachmentID, CashInfo_ParamMandatory, CashInfo_FromDateLabel, CashInfo_ToDateLabel, CashInfo_DescriptionLabel, null, "CashListGrid", CashInfo_NestedGrid_AccessID, CashInfo_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }


            ViewDocument(CashInfo_AtachmentID, CashInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(CashInfo_MasterRowRecID, "Profile_Cash", "Cash Account Information", "CashListGrid", CashInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (CashInfo_Doc_Category.toLowerCase() == "others") {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else {
                AttachmentAddReason(CashInfo_MasterRowRecID, CashInfo_NestedRowMapID, "Profile_Cash", "CashListGrid", CashInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(CashInfo_MasterRowRecID, CashInfo_NestedRowMapID, "Profile_Cash", "CashListGrid", CashInfo_NestedGrid_AccessID, CashInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(CashInfo_MasterRowRecID, CashInfo_NestedRowMapID, "CashListGrid", CashInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction")
        {
            CashPrf_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit")
        {
            if (CashInfo_Nested_Doc_Status == "")
            {
                CashPrf_FAB.SetActionContext("AutoItemContext", true);
            }
            if (CashInfo_Nested_Doc_Status == "NO")
            {
                CashPrf_FAB.SetActionContext("EditItemContext", true);
            }
            if (CashInfo_Nested_Doc_Status == "YES")
            {
                CashPrf_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept")
        {
            CashInfo_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject")
        {
            CashInfo_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks")
        {
            CashInfo_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc") {

            OnCashInfo_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc") {

            OnCashInfo_RejectDoc();
        }
    }
    function OnCashInfo_RejectDoc() {
        if (CashInfo_AtachmentID == null || CashInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(CashInfo_AtachmentID, "CashListGrid", CashInfo_NestedGrid_AccessID);
    }
    function OnCashInfo_AcceptDoc() {
        if (CashInfo_AtachmentID == null || CashInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(CashInfo_AtachmentID, "CashListGrid", CashInfo_NestedGrid_AccessID);
    }
    function CashInfo_AcceptwithoutRemarks()
    {
        var Recid;
        if (CashInfo_IsDetailRowExpanded == true || Cash_IsVouchingMode == true)
        {
            if (CashInfo_MasterRowRecID == null || CashInfo_MasterRowRecID == "")
            {
                Recid = CashID;
            }
            else
            {
                Recid = CashInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = CashID;
        }

        Entry_AcceptwithoutRemarks(Recid, "Profile_Cash", "CashListGrid", CashInfo_AtachmentID, CashInfo_NestedRowReasonID, CashInfo_NestedRowKeyValue);
    }

    function CashInfo_AcceptRejectVoucher(_actionMethod)
    {
        var Recid;

        if (CashInfo_IsDetailRowExpanded == true || Cash_IsVouchingMode == true)
        {
            if (CashInfo_MasterRowRecID == null || CashInfo_MasterRowRecID == "")
            {
                Recid = CashID;
            }
            else
            {
                Recid = CashInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = CashID;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_Cash", "CashListGrid", CashInfo_AtachmentID, CashInfo_NestedRowReasonID, CashInfo_NestedRowKeyValue);
    }
    function OnCashListGridNestedFocusedRowChange(s, e)
    {
        if (CashInfo_IsDetailRowExpanded == true || Cash_IsVouchingMode == true)
        {
            CashInfo_NestedRecord_FocusedRowIndex = s.GetFocusedRowIndex();
            if (CashInfo_NestedRecord_FocusedRowIndex >= 0)
            {
                ShowLoader();
                CashInfo_NestedGrid_AccessID = s.uniqueID;
                s.GetRowValues(s.GetFocusedRowIndex(), 'Doc_Status;Params_Mandatory;LABEL_FROM_DATE;LABEL_TO_DATE;LABEL_DESCRIPTION;Document_Category;Document_ID;ATTACH_ID;TxnID;TxnMID;MAP_ID;Reason;ATTACH_FILE_NAME;Attachment_Action_Status;UniqueID;ReasonID', OnCashInfo_GetGridRowValues);
            }
            else
            {
                CashPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }
    function OnCashInfo_GetGridRowValues(values)
    {
        HideLoader();
        if (values[14] != null)
        {
            CashPrf_FAB.SetVisible(true);
            CashInfo_Nested_Doc_Status = values[0];
            if (Cash_IsVouchingMode == true)
            {
                CashPrf_FAB.SetActionContext("AuditActionContext", true);
            }
            else {
                if (CashInfo_Nested_Doc_Status == "") {
                    CashPrf_FAB.SetActionContext("AutoItemContext", true);
                }
                else if (CashInfo_Nested_Doc_Status == "NO") {
                    CashPrf_FAB.SetActionContext("EditItemContext", true);
                }
                else if (CashInfo_Nested_Doc_Status == "YES") {
                    CashPrf_FAB.SetActionContext("actionItemContext", true);
                }
            }
            CashInfo_ParamMandatory = values[1];
            CashInfo_FromDateLabel = values[2];
            CashInfo_ToDateLabel = values[3];
            CashInfo_DescriptionLabel = values[4];
            CashInfo_Doc_Category = values[5];
            CashInfo_Doc_ID = values[6];
            CashInfo_AtachmentID = values[7];
            IndexAttachmentID = CashInfo_AtachmentID;
            CashInfo_MasterRowRecID = values[8];
            CashInfo_MasterRowMID = values[9];
            CashInfo_NestedRowMapID = values[10];
            CashInfo_reason = values[11];
            CashInfo_FileName = values[12];
            CashInfo_Attachment_RecStatus = values[13];
            CashInfo_NestedRowKeyValue = values[14];
            CashInfo_NestedRowReasonID = values[15];
            IndexAttachmentReasonID = CashInfo_NestedRowReasonID;

            if (Cash_IsVouchingMode == true) {
                if (CashInfo_FileName != null && CashInfo_FileName.length > 0)
                {
                    ViewDocument(CashInfo_AtachmentID, CashInfo_FileName, "CashPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else
                {
                    var pane = Mainspliter.GetPaneByName('RightPane');
                    pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
                    document.getElementById('RightPane_div_Iframe').style.display = "none";
                    document.getElementById('RightPane_div_Img').style.display = "none";
                }
            }
        }

    }
    function CashGrid_Nested_BeginCallBack(s, e)
    {
        e.customArgs["ShowHorizontalBar"] = Cash_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = Cash_IsVouchingMode;
        e.customArgs["command"] = e.command;
    }
    function CashGrid_DetailRowExpanding(s, e)
    {
        CashInfo_IsDetailRowExpanded = true;
        s.SetFocusedRowIndex(e.visibleIndex);
        var pane = Mainspliter.GetPaneByName('RightPane');
        if (Cash_IsVouchingMode == true)
        {
            pane.Expand();
        }
        else
        {
            pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
    }
    function CashGrid_DetailRowCollapsing(s, e)
    {
        CashInfo_IsDetailRowExpanded = false;
        s.SetFocusedRowIndex(e.visibleIndex);
        if (Cash_IsVouchingMode == true)
        {
            if (Mainspliter.GetPaneByName('RightPane').IsCollapsed() == false)
            {
                CollapsePane(Mainspliter.GetPaneByName('RightPane'), Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
        else
        {
            CashPrf_FAB.SetVisible(false);
        }
    }
    </script>
    @*attachment and nested grid*@
</div>