<div class="Cash_ExportProfile_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    <div>
        @(Html.DevExtreme().Button()
                .ID("Cash_ExportGridDatapdf")
                .Text("Export to PDF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("x")
                .OnClick("ExportPDF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("Cash_ExportGridDataxls")
                .Text("Export to XLS")
                //.Icon("fa-file-excel-o")
                //.AccessKey("X")
                .OnClick("ExportXLS")
                .Visible(true)
                .Width(120)
    )<br />
        @(Html.DevExtreme().Button()
                .ID("Cash_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("L")
                .OnClick("ExportXLSX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("Cash_ExportGridDatadocx")
                .Text("Export to DOCX")
                //.Icon("export_exporttodocx_16x16office2013")
                //.AccessKey("D")
                .OnClick("ExportDOCX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("Cash_ExportGridDatartf")
                .Text("Export to RTF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("R")
                .OnClick("ExportRTF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("Cash_ExportGridDatacsv")
                .Text("Export to CSV")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("C")
                .OnClick("ExportCSV")
                .Visible(true)
                .Width(120)
    )
    </div>
    <script>
        function ExportPDF() {
            CashListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#Cash_report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            CashListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#Cash_report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            CashListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#Cash_report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            CashListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#Cash_report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            CashListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#Cash_report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            CashListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#Cash_report_modal").dxPopup("hide");
        }
    </script>
</div>