<div class=CDW_ClearReferences>
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.Voucher_Win_Cash
    @{
        string submitBtnText = Model != null && Model.ActionMethod.ToString().Trim() == "_Delete" ? "Delete" : "Save";
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();

        var IsMobile = Request.Browser.IsMobileDevice;

    }
    <style>
        #Txt_Amount_CDW .dx-placeholder {
            text-align: center;
            width: 100%;
        }

        #Txt_Amount_CDW {
            text-align: center !important;
        }

        #ListSpecialVoucherRef_CDW .dx-list-item-content {
            padding: 4.5px;
        }

        .td_width1 {
            width: 15%;
            text-align: right;
        }

        .td_width2 {
            width: 10%;
            text-align: center;
        }

        .td_width3 {
            width: 25%;
            text-align: right;
        }

        .td_width4 {
            width: 10%;
            text-align: center;
        }

        .td_width5 {
            width: 40%;
            text-align: right;
        }

        form.edit_form .left-secff .form-field {
            padding-top: 7px;
            padding-bottom: 4.7px;
        }

        .col-sm-6.left-secff fieldset .row {
            margin-bottom: 2.8px;
        }
    </style>
    <div id="Frm_Voucher_Win_Cash_popup" class="">

        @using (Ajax.BeginForm("Frm_Voucher_Win_Cash", "CashDepositAndWithdrawnVoucher",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "Frm_Voucher_Win_Cash_popup",
                InsertionMode = InsertionMode.InsertAfter,
                OnBegin = "AjaxBeginFormPost",
                OnSuccess = "AjaxSuccessVoucherWinCash"
            },
            new
            {
                id = "CDW_validationForm",
                @class = "edit_form form-horizontal"
            }))
        {
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.REC_EDIT_ON_Bank_CDW)
            @Html.HiddenFor(x => x.iTrans_Type)
            @Html.HiddenFor(x => x.LED_ID)
            @Html.HiddenFor(x => x.VOUCHER_TYPE)
            @Html.HiddenFor(x => x.iMode)
            @Html.HiddenFor(x => x.RecID)
            @Html.HiddenFor(x => x.LastEditedOn)
            @Html.HiddenFor(x => x.BE_Bank_Acc_No_Tag_CDW)
            @Html.HiddenFor(x => x.cdw_SplVchrReferenceSelected)
            @Html.HiddenFor(x => x.splVchrRefsCount)
            using (Html.DevExtreme().ValidationGroup("CDW_Voucher"))
            {

                <div class="full-width-header-bg2">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3 class="popuphead"><i class="far fa-edit"></i> Cash Deposit / Withdrawn</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align">
                                <i class="fas fa-info-circle"></i> Red Fields are mandatory
                            </h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <div class="col-sm-6">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3 col-lg-3 pll">
                                            @Html.Label("Item Name:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_itemName" })
                                        </div>
                                        <div class="col-sm-6 col-md-9 col-lg-9 prm pll2">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ItemList_CDW").Name("GLookUp_ItemList_CDW").ValueExpr("ITEMID").DisplayExpr("ITEMNAME").ReadOnly(true).Placeholder("Select Item...").Value(Model.GLookUp_ItemList_CDW)
                                              .DataSource(Model.ItemListData,"ITEMID").OnValueChanged("GLookUp_ItemList_EditValueChanged_CDW").ContentTemplate(@<text> @Html.Partial("VoucherWin_Cash_LookUp_GetItemList") </text>).ShowClearButton(false) )
                                            @Html.ValidationMessageFor(model => model.GLookUp_ItemList_CDW, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[item]-->
                        <div class="col-sm-6">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4 col-lg-4 pll">
                                            @Html.Label("Voucher Date:", htmlAttributes: new { @class = "contrcol-sm-6ol-label text-red", @id = "lbl_voucherdate" })
                                        </div>
                                        <div class="col-sm-6 col-md-8 col-lg-8 prm">
                                            @(Html.DevExtreme().DateBoxFor(x => x.Txt_V_Date_CDW).CustomDateBox().ID("Txt_V_Date_CDW").Name("Txt_V_Date_CDW") )
                                            @Html.ValidationMessageFor(model => model.Txt_V_Date_CDW, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[vdate]-->
                    </div>
                </div><!--[row 1]-->
                <div class="row">
                    <div class="">
                        <div class="col-sm-6">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3 col-lg-3 pll">
                                            @Html.Label("Head:", htmlAttributes: new { @class = "control-label", @id = "lbl_cdw_head" })
                                        </div>
                                        <div class="col-sm-6 col-md-9 col-lg-9 prm pll2">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Item_Head_CDW").Name("BE_Item_Head_CDW").Placeholder("").Disabled(true).MaxLength(50) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[head]-->
                        <div class="col-sm-6">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4 col-lg-4 pll">
                                            @Html.Label("Voucher No:", htmlAttributes: new { @class = "control-label", @id = "lbl_cdw_vno" })
                                        </div>
                                        <div class="col-sm-6 col-md-8 col-lg-8 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_V_NO_CDW").Name("Txt_V_NO_CDW").Placeholder("").Value(Model.Txt_V_NO_CDW).ReadOnly(true).MaxLength(50).FocusStateEnabled(false) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[v no]-->
                    </div>
                </div><!--[row 2]-->

                <div class="col-sm-6 left-secff">

                    <div class="form-field">
                        <div class="container-fluid">
                            <fieldset class="default-fieldset" id="LayoutControlItem1_CDW">
                                <legend class="custom-legend mlm"><label id="lbl_Reg_No"> Bank Detail:</label></legend>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3 pll">
                                        <label class="control-label text-red" id="lbl_cdw_bank" for="Name">Bank Name:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-9 prm pll2">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_BankList_CDW").Name("GLookUp_BankList_CDW").ValueExpr("BA_ID").DisplayExpr("BANK_NAME").ReadOnly(true)
                                              .DataSource(Model.BankListData,"BA_ID").Placeholder("Select Bank...").Value(Model.GLookUp_BankList_CDW)
                                              .OnValueChanged("GLookUp_BankList_EditValueChanged_CDW").ContentTemplate(@<text> @Html.Partial("LookUp_GetBankList") </text>) )


                                        @Html.ValidationMessageFor(model => model.GLookUp_BankList_CDW, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3 pll">
                                        <label class="control-label" id="lbl_cdw_branch" for="Name">Branch:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-9 prm pll2">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Bank_Branch_CDW").Placeholder("").ID("BE_Bank_Branch_CDW").Disabled(true) )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3 pll">
                                        <label class="control-label col-sm-4" id="lbl_cdw_acc" for="Name">A/c.No.:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-9 prm pll2">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Bank_Acc_No_CDW").Name("BE_Bank_Acc_No_CDW").Placeholder("").Disabled(true) )
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="form-field">
                        <div class="container-fluid">
                            <fieldset class="default-fieldset" id="LayoutControlItem3_CDW">
                                <legend class="custom-legend mlm"><label id="lbl_Ref_Title_CDW" class="disabletxt"> Cheque Detail:</label></legend>


                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3 pll">
                                        <label id="lbl_Ref_No_CDW" class="control-label disabletxt" for="Name">Cheque No.:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-9 prm pll2">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true,true).ID("Txt_Ref_No_CDW").Name("Txt_Ref_No_CDW").Placeholder("").MaxLength(25).ReadOnly(true).FocusStateEnabled(false) )
                                        @Html.ValidationMessageFor(model => model.Txt_Ref_No_CDW, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3 pll">
                                        <label id="lbl_Ref_Date_CDW" class="control-label disabletxt" for="Name">Cheque Date:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-9 prm pll2">
                                        @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_Ref_Date_CDW").Name("Txt_Ref_Date_CDW").Placeholder("").ReadOnly(true).FocusStateEnabled(false) )
                                        @Html.ValidationMessageFor(model => model.Txt_Ref_Date_CDW, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3 pll">
                                        <label id="lbl_Ref_CDate_CDW" class="control-label disabletxt" for="Name">Clearing Date:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-9 prm pll2">
                                        @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_Ref_CDate_CDW").Name("Txt_Ref_CDate_CDW").Placeholder("").ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                    <label class="control-label text-red" id="lbl_cdw_reference" for="Name">Purpose:</label>
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm">
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("PurposeID_CDW").Name("PurposeID_CDW").DataSource(Model.PurposeListData,"PUR_ID").DisplayExpr("PUR_NAME").ValueExpr("PUR_ID").Value(Model.PurposeID_CDW).Placeholder("Select Purpose...").Disabled(false))
                                    @Html.ValidationMessageFor(model => model.PurposeID_CDW, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="" id="CDW_NarrationDiv">
                        <div class="form-field">
                            <div class="container-fluid">

                                <fieldset class="default-fieldset" id="LayoutControlItem3_CDW">
                                    <legend class="custom-legend mlm"><label id="lbl_Ref_Title_CDW"> Other Details:</label></legend>

                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                            <label class="control-label" id="lbl_cdw_remarks" for="Name">Remarks:</label>
                                        </div>
                                        <div class="col-sm-9 col-md-9 col-lg-9 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Remarks_CDW").Name("Txt_Remarks_CDW").Value(Model.Txt_Remarks_CDW).Placeholder("Type any Other Detail / Remarks...").MaxLength(250).ReadOnly(Model.TempActionMethod == "_View" || Model.TempActionMethod == "_Delete") )
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                            <label class="control-label" id="lbl_cdw_reference" for="Name">Reference:</label>
                                        </div>
                                        <div class="col-sm-9 col-md-9 col-lg-9 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Reference_CDW").Name("Txt_Reference_CDW").Value(Model.Txt_Reference_CDW).Placeholder("Type any Reference Details...").MaxLength(250).ReadOnly(Model.TempActionMethod == "_View" || Model.TempActionMethod == "_Delete") )
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>


                    <!--[Bank detail, cheque detail and narration]-->
                </div>

                <div class="col-sm-6">
                    <div id="cdw_denomination_div">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div>
                                        <label id="lbl_currency_cdw" class="pll">Currency Denominations Details:</label>
                                    </div>
                                </div>
                                <div class="row" style="padding:2px 0">
                                    <table border="0" cellpadding="0" cellspacing="0" class="tb_widthmain">
                                        <tr>
                                            <td class="td_width1">2000</td>
                                            <td class="td_width2">x</td>
                                            <td class="td_width3 dx-texteditorDiv">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_2000_CDW").Name("Txt_2000_CDW").ReadOnly(true).FocusStateEnabled(false).ElementAttr(new { @class = "CurrDenom_CDW" }).Min(0).Max(1000000).Format("#0").OnInput("CurrDenom_CDW_OnInput").OnValueChanged("CurrDenom_CDW_ValueChange").Value(Model.Txt_2000_CDW))
                                            </td>
                                            <td class="td_width4">=</td>
                                            <td class="td_width5 dx-texteditorDiv2">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_2000_CDW").Name("BE_2000_CDW").InputAttr(new { @style = "text-align:right",@class= "input-read-only" }).Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("CurrDenom_Amont_CDW_ValueChange") )
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="td_width1">500</td>
                                            <td class="td_width2">x</td>
                                            <td class="td_width3 dx-texteditorDiv">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_500_CDW").Name("Txt_500_CDW").ReadOnly(true).FocusStateEnabled(false).ElementAttr(new { @class = "CurrDenom_CDW" }).Min(0).Max(1000000).Format("#0").OnInput("CurrDenom_CDW_OnInput").OnValueChanged("CurrDenom_CDW_ValueChange").Value(Model.Txt_500_CDW))
                                            </td>
                                            <td class="td_width4">=</td>
                                            <td class="td_width5 dx-texteditorDiv2">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_500_CDW").Name("BE_500_CDW").InputAttr(new { @style = "text-align:right", @class = "input-read-only" }).Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("CurrDenom_Amont_CDW_ValueChange") )
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td_width1">200</td>
                                            <td class="td_width2">x</td>
                                            <td class="td_width3 dx-texteditorDiv">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_200_CDW").Name("Txt_200_CDW").ReadOnly(true).FocusStateEnabled(false).ElementAttr(new { @class = "CurrDenom_CDW" }).Min(0).Max(1000000).Format("#0").OnInput("CurrDenom_CDW_OnInput").OnValueChanged("CurrDenom_CDW_ValueChange").Value(Model.Txt_200_CDW))
                                            </td>
                                            <td class="td_width4">=</td>
                                            <td class="td_width5 dx-texteditorDiv2">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_200_CDW").Name("BE_200_CDW").InputAttr(new { @style = "text-align:right", @class = "input-read-only" }).Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("CurrDenom_Amont_CDW_ValueChange") )
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td_width1">100</td>
                                            <td class="td_width2">x</td>
                                            <td class="td_width3 dx-texteditorDiv">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_100_CDW").Name("Txt_100_CDW").ReadOnly(true).FocusStateEnabled(false).ElementAttr(new { @class = "CurrDenom_CDW" }).Min(0).Max(1000000).Format("#0").OnInput("CurrDenom_CDW_OnInput").OnValueChanged("CurrDenom_CDW_ValueChange").Value(Model.Txt_100_CDW))
                                            </td>
                                            <td class="td_width4">=</td>
                                            <td class="td_width5 dx-texteditorDiv2">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_100_CDW").Name("BE_100_CDW").InputAttr(new { @style = "text-align:right", @class = "input-read-only" }).Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("CurrDenom_Amont_CDW_ValueChange") )
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td_width1" style="">50</td>
                                            <td class="td_width2" style="">x</td>
                                            <td class="td_width3 dx-texteditorDiv" style="">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_50_CDW").Name("Txt_50_CDW").ReadOnly(true).FocusStateEnabled(false).ElementAttr(new { @class = "CurrDenom_CDW" }).Min(0).Max(1000000).Format("#0").OnInput("CurrDenom_CDW_OnInput").OnValueChanged("CurrDenom_CDW_ValueChange").Value(Model.Txt_50_CDW))
                                            </td>
                                            <td class="td_width4" style="">=</td>
                                            <td class="td_width5 dx-texteditorDiv2">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_50_CDW").Name("BE_50_CDW").InputAttr(new { @style = "text-align:right", @class = "input-read-only" }).Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("CurrDenom_Amont_CDW_ValueChange") )
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50" style="width:50px; text-align:right;">20</td>
                                            <td class="td_width2">x</td>
                                            <td width="80" style="width:80px; text-align:right;" class="dx-texteditorDiv">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_20_CDW").Name("Txt_20_CDW").ReadOnly(true).FocusStateEnabled(false).ElementAttr(new { @class = "CurrDenom_CDW" }).Min(0).Max(1000000).Format("#0").OnInput("CurrDenom_CDW_OnInput").OnValueChanged("CurrDenom_CDW_ValueChange").Value(Model.Txt_20_CDW))
                                            </td>
                                            <td width="50" style="width:40px; text-align:center;">=</td>
                                            <td class="td_width5 dx-texteditorDiv2">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_20_CDW").Name("BE_20_CDW").InputAttr(new { @style = "text-align:right", @class = "input-read-only" }).Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("CurrDenom_Amont_CDW_ValueChange") )
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50" style="width:50px; text-align:right;">10</td>
                                            <td class="td_width2">x</td>
                                            <td width="80" style="width:80px; text-align:right;" class="dx-texteditorDiv">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_10_CDW").Name("Txt_10_CDW").ReadOnly(true).FocusStateEnabled(false).ElementAttr(new { @class = "CurrDenom_CDW" }).Min(0).Max(1000000).Format("#0").OnInput("CurrDenom_CDW_OnInput").OnValueChanged("CurrDenom_CDW_ValueChange").Value(Model.Txt_10_CDW))
                                            </td>
                                            <td width="50" style="width:40px; text-align:center;">=</td>
                                            <td class="td_width5 dx-texteditorDiv2">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_10_CDW").Name("BE_10_CDW").InputAttr(new { @style = "text-align:right", @class = "input-read-only" }).Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("CurrDenom_Amont_CDW_ValueChange"))
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50" style="width:50px; text-align:right;">5</td>
                                            <td class="td_width2">x</td>
                                            <td width="80" style="width:80px; text-align:right;" class="dx-texteditorDiv">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_5_CDW").Name("Txt_5_CDW").ReadOnly(true).FocusStateEnabled(false).ElementAttr(new { @class = "CurrDenom_CDW" }).Min(0).Max(1000000).Format("#0").OnInput("CurrDenom_CDW_OnInput").OnValueChanged("CurrDenom_CDW_ValueChange").Value(Model.Txt_5_CDW))
                                            </td>
                                            <td width="50" style="width:40px; text-align:center;">=</td>
                                            <td class="td_width5 dx-texteditorDiv2">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_5_CDW").Name("BE_5_CDW").InputAttr(new { @style = "text-align:right", @class = "input-read-only" }).Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("CurrDenom_Amont_CDW_ValueChange") )
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50" style="width:50px; text-align:right;">2</td>
                                            <td class="td_width2">x</td>
                                            <td width="80" style="width:80px; text-align:right;" class="dx-texteditorDiv">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_2_CDW").Name("Txt_2_CDW").ReadOnly(true).FocusStateEnabled(false).ElementAttr(new { @class = "CurrDenom_CDW" }).Min(0).Max(1000000).Format("#0").OnInput("CurrDenom_CDW_OnInput").OnValueChanged("CurrDenom_CDW_ValueChange").Value(Model.Txt_2_CDW))

                                            </td>
                                            <td width="50" style="width:40px; text-align:center;">=</td>
                                            <td class="td_width5 dx-texteditorDiv2">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_2_CDW").Name("BE_2_CDW").InputAttr(new { @style = "text-align:right", @class = "input-read-only" }).Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("CurrDenom_Amont_CDW_ValueChange") )
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50" style="width:50px; text-align:right;">1</td>
                                            <td class="td_width2">x</td>
                                            <td width="80" style="width:80px; text-align:right;" class="dx-texteditorDiv">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_1_CDW").Name("Txt_1_CDW").ReadOnly(true).FocusStateEnabled(false).ElementAttr(new { @class = "CurrDenom_CDW" }).Min(0).Max(1000000).Format("#0").OnInput("CurrDenom_CDW_OnInput").OnValueChanged("CurrDenom_CDW_ValueChange").Value(Model.Txt_1_CDW))
                                            </td>
                                            <td width="50" style="width:40px; text-align:center;">=</td>
                                            <td class="td_width5 dx-texteditorDiv2">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_1_CDW").Name("BE_1_CDW").InputAttr(new { @style = "text-align:right", @class = "input-read-only" }).Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("CurrDenom_Amont_CDW_ValueChange") )
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fcraAmtDiv_cdw">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6" id="cdw_SpecialVoucherRefDiv">
                                <div class="form-field ">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().List().CustomList().ID("ListSpecialVoucherRef_CDW")
                                            .DataSource(Model.SpecialReferenceList_Data_CDW, "Task_Name")
                                            .SearchEnabled(false)
                                            .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                                            .KeyExpr("Task_Name")
                                            .DisplayExpr("Task_Name")
                                            .OnSelectionChanged("OnSplVchrRefsListSelectionChanged_CDW")
                                            .Height(83).ShowScrollbar(ShowScrollbarMode.Always).UseNativeScrolling(false)
                                            .ShowSelectionControls(true)
                                            @*.SelectedItemKeys(Model.SpecialReference_Get_SelectedValue_CDWpadding - top:)*@
                                            )
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6" id="fcraAmtDiv_cdw">
                                <div class="form-field ">
                                    <div class="container-fluid mb_height66" style="min-height: 83px !important;">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-12 col-lg-12">
                                                <label id="lbl_amt_CDW" class="control-label text-red" for="Name">Amount:</label>
                                            </div>
                                            <div class="col-sm-9 col-md-12 col-lg-12 prm">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Amount_CDW").Name("Txt_Amount_CDW").Value(Model.Txt_Amount_CDW).Placeholder("Type Amount...").Format("#,##0.00").ElementAttr("style", "text-align:center !Important").ReadOnly(Model.TempActionMethod == "_View" || Model.TempActionMethod == "_Delete") )
                                                @Html.ValidationMessageFor(model => model.Txt_Amount_CDW, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-lg-2 pll">
                                    <label class="control-label" id="lbl_cdw_narration" for="Name"><b>Narration:</b></label>
                                </div>
                                <div class="col-sm-9 col-md-10 col-lg-10 prm">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Narration_CDW").Name("Txt_Narration_CDW").Value(Model.Txt_Narration_CDW).Placeholder("Type any Narration...").MaxLength(250).ReadOnly(Model.TempActionMethod == "_View" || Model.TempActionMethod == "_Delete") )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6" style="padding:5px 0 0 7px">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Cash Deposit / Withdrawn )...", Model.TempActionMethod.Substring(1)))
                            </div>
                            <div class="col-sm-6">
                                <div class="styleActionBtn">
                                    @if (Model.ActionMethod.ToString() != "_View")
                                    {
                                        @(Html.DevExtreme().Button().CustomSaveButton(Model.ActionMethod.ToString()).ID("EditVouWinCash").Text(submitBtnText).UseSubmitBehavior(false).OnClick("CDW_SaveBtnClick") )
                                    }
                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("CancelVouWinCash").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").Icon("fas fa-times-circle btn-icons crossgrey icon-rgt-space5").OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->
            }
        }
    </div>
    <script class="CDW_Scripts">
        async function GLookUp_BankList_EditValueChanged_CDW(e, FirstCall = false) {
            var dropDownBox = $("#GLookUp_BankList_CDW").dxDropDownBox("instance");
            dropDownBox.close();
            var BankID;
            if (e) {
                BankID = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    Bank_CDW_DG.clearSelection();
                    $("#BE_Bank_Branch_CDW").dxTextBox("instance").reset();
                    $("#BE_Bank_Acc_No_CDW").dxTextBox("instance").reset();
                    return;
                }
            }
            else {
                BankID = $("#GLookUp_BankList_CDW").dxDropDownBox("option", "value");
            }
            await Bank_CDW_DG.selectRows(BankID);
            if (Bank_CDW_DG.getSelectedRowsData().length > 0) {
                var item = Bank_CDW_DG.getSelectedRowsData()[0];
                $("#REC_EDIT_ON_Bank_CDW").val(JS_Json_Date_To_ddMMyyyy(item["REC_EDIT_ON"]));
                $("#BE_Bank_Branch_CDW").dxTextBox("instance").option('value', item["BANK_BRANCH"]);
                $("#BE_Bank_Acc_No_CDW").dxTextBox("instance").option('value', item["BANK_ACC_NO"]);
                $("#BE_Bank_Acc_No_Tag_CDW").val(item["BI_SHORT_NAME"]);
            }
        }
        async function GLookUp_ItemList_EditValueChanged_CDW(e, FirstCall = false) {
            
            var ItemID;
            if (e) {
                ItemID = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    Item_CDW_DG.clearSelection();
                    return;
                }
            }
            else {
                ItemID = $("#GLookUp_ItemList_CDW").dxDropDownBox("option", "value");
            }
            await Item_CDW_DG.selectRows(ItemID);
            
            if (Item_CDW_DG.getSelectedRowsData().length > 0) {
                var item = Item_CDW_DG.getSelectedRowsData()[0];
                $("#BE_Item_Head_CDW").dxTextBox("instance").option('value', item["LED_NAME"]);
                $("#VOUCHER_TYPE").val(item["ITEM_VOUCHER_TYPE"]);
                $("#LED_ID").val(item["ITEM_LED_ID"]);
                $("#iTrans_Type").val(item["ITEM_TRANS_TYPE"]);
                if ($("#VOUCHER_TYPE").val().toUpperCase() == "CASH DEPOSITED") {
                    $('#iMode').val("CASH");
                    $("#lbl_amt_CDW").text("Cash Deposited");
                    $("#Txt_Ref_No_CDW").dxTextBox("instance").reset();
                    $("#Txt_Ref_Date_CDW").dxDateBox("instance").reset();
                    $("#Txt_Ref_CDate_CDW").dxDateBox("instance").reset();
                    $("#Txt_Ref_No_CDW").dxTextBox("instance").option("readOnly", true);
                    $("#Txt_Ref_Date_CDW").dxDateBox("instance").option("readOnly", true);
                    $("#Txt_Ref_CDate_CDW").dxDateBox("instance").option("readOnly", true);
                    $("#Txt_Ref_No_CDW").dxTextBox("instance").option("focusStateEnabled", false);
                    $("#Txt_Ref_Date_CDW").dxDateBox("instance").option("focusStateEnabled", false);
                    $("#Txt_Ref_CDate_CDW").dxDateBox("instance").option("focusStateEnabled", false);
                    $("#lbl_Ref_Title_CDW").addClass("disabletxt").removeClass("text-red");
                    $("#lbl_Ref_No_CDW").addClass("disabletxt").removeClass("text-red");
                    $("#lbl_Ref_Date_CDW").addClass("disabletxt").removeClass("text-red");
                    $("#lbl_Ref_CDate_CDW").addClass("disabletxt").removeClass("text-red");
                    $("#Txt_Ref_No_CDW").dxTextBox("instance").option("placeholder", "");
                    $("#Txt_Ref_Date_CDW").dxDateBox("instance").option("placeholder", "");
                    $("#Txt_Ref_CDate_CDW").dxDateBox("instance").option("placeholder", "");
                    if (FirstCall == false) {
                        $(".CurrDenom_CDW").dxNumberBox("option", "value", 0)
                        $("#Txt_Narration_CDW").dxTextBox('instance').reset();
                        $("#Txt_Amount_CDW").dxNumberBox('instance').reset();
                    }
                    //Control_SetReadOnly(null, "dxNumberBox", false, null, "CurrDenom_CDW")
                    ControlCurrDenom_SetReadOnly_CDW(false)
                    $("#lbl_currency_cdw").addClass("text-red").removeClass("disabletxt");

                    $("#Txt_Narration_CDW").dxTextBox('instance').option("readOnly", true);
                    $("#Txt_Narration_CDW").dxTextBox('instance').option("focusStateEnabled", false);

                    $("#Txt_Amount_CDW").dxNumberBox('instance').option("readOnly", true);
                    $("#Txt_Amount_CDW").dxNumberBox('instance').option("focusStateEnabled", false);
                }
                else {
                    $('#iMode').val("CHEQUE");
                    $("#lbl_amt_CDW").text("Cash Withdrawn");
                    $("#Txt_Ref_No_CDW").dxTextBox("instance").reset();
                    $("#Txt_Ref_Date_CDW").dxDateBox("instance").reset();
                    $("#Txt_Ref_CDate_CDW").dxDateBox("instance").reset();
                    $("#Txt_Ref_No_CDW").dxTextBox("instance").option("readOnly", false);
                    $("#Txt_Ref_Date_CDW").dxDateBox("instance").option("readOnly", false);
                    $("#Txt_Ref_CDate_CDW").dxDateBox("instance").option("readOnly", false);
                    $("#Txt_Ref_No_CDW").dxTextBox("instance").option("focusStateEnabled", true);
                    $("#Txt_Ref_Date_CDW").dxDateBox("instance").option("focusStateEnabled", true);
                    $("#Txt_Ref_CDate_CDW").dxDateBox("instance").option("focusStateEnabled", true);
                    $("#lbl_Ref_Title_CDW").removeClass("disabletxt").removeClass("text-red");
                    $("#lbl_Ref_No_CDW").removeClass("disabletxt").removeClass("text-red"); //Bug #133322 fixed
                    $("#lbl_Ref_Date_CDW").removeClass("disabletxt").removeClass("text-red"); //Bug #133322 fixed
                    $("#lbl_Ref_CDate_CDW").removeClass("disabletxt").removeClass("text-red");
                    $("#Txt_Ref_No_CDW").dxTextBox("instance").option("placeholder", "Type Cheque No...");
                    $("#Txt_Ref_Date_CDW").dxDateBox("instance").option("placeholder", "dd-MM-yyyy");
                    $("#Txt_Ref_CDate_CDW").dxDateBox("instance").option("placeholder", "dd-MM-yyyy");
                    if (FirstCall == false) {
                        $(".CurrDenom_CDW").dxNumberBox("option", "value", 0)
                        $("#Txt_Narration_CDW").dxTextBox('instance').reset();
                        $("#Txt_Amount_CDW").dxNumberBox('instance').reset();
                    }
                    //Control_SetReadOnly(null, "dxNumberBox", true, null, "CurrDenom_CDW")                    
                    ControlCurrDenom_SetReadOnly_CDW(true)
                    $("#lbl_currency_cdw").removeClass("text-red").addClass("disabletxt");

                    $("#Txt_Narration_CDW").dxTextBox('instance').option("readOnly", false);
                    $("#Txt_Narration_CDW").dxTextBox('instance').option("focusStateEnabled", true);

                    $("#Txt_Amount_CDW").dxNumberBox('instance').option("readOnly", false);
                    $("#Txt_Amount_CDW").dxNumberBox('instance').option("focusStateEnabled", true);

                }
            }
        }
        function CurrDenom_CDW_ValueChange(e, FirstCall=false) {
            var val_2000 = $("#Txt_2000_CDW").dxNumberBox('instance').option('value');
            $("#BE_2000_CDW").dxNumberBox('instance').option('value', val_2000 * 2000);
            //var val_1000 = $("#Txt_1000_CDW").dxNumberBox('instance').option('value');
            //$("#BE_1000_CDW").dxNumberBox('instance').option('value', val_1000 * 1000);
            var val_500 = $("#Txt_500_CDW").dxNumberBox('instance').option('value');
            $("#BE_500_CDW").dxNumberBox('instance').option('value', val_500 * 500);
            var val_200 = $("#Txt_200_CDW").dxNumberBox('instance').option('value');
            $("#BE_200_CDW").dxNumberBox('instance').option('value', val_200 * 200);
            var val_100 = $("#Txt_100_CDW").dxNumberBox('instance').option('value');
            $("#BE_100_CDW").dxNumberBox('instance').option('value', val_100 * 100);
            var val_50 = $("#Txt_50_CDW").dxNumberBox('instance').option('value');
            $("#BE_50_CDW").dxNumberBox('instance').option('value', val_50 * 50);
            var val_20 = $("#Txt_20_CDW").dxNumberBox('instance').option('value');
            $("#BE_20_CDW").dxNumberBox('instance').option('value', val_20 * 20);
            var val_10 = $("#Txt_10_CDW").dxNumberBox('instance').option('value');
            $("#BE_10_CDW").dxNumberBox('instance').option('value', val_10 * 10);
            var val_5 = $("#Txt_5_CDW").dxNumberBox('instance').option('value');
            $("#BE_5_CDW").dxNumberBox('instance').option('value', val_5 * 5);
            var val_2 = $("#Txt_2_CDW").dxNumberBox('instance').option('value');
            $("#BE_2_CDW").dxNumberBox('instance').option('value', val_2 * 2);
            var val_1 = $("#Txt_1_CDW").dxNumberBox('instance').option('value');
            $("#BE_1_CDW").dxNumberBox('instance').option('value', val_1 * 1);
            if (FirstCall == false) {
                SetNarration_CDW();
            }
        }
        function SetNarration_CDW() {
            var Narration_Text = "Denominations = ";
            $("#Txt_Narration_CDW").dxTextBox('instance').option("value", Narration_Text);
            var val_2000 = $("#Txt_2000_CDW").dxNumberBox('instance').option('value');
            //var val_1000 = $("#Txt_1000_CDW").dxNumberBox('instance').option('value');
            var val_500 = $("#Txt_500_CDW").dxNumberBox('instance').option('value');
            var val_200 = $("#Txt_200_CDW").dxNumberBox('instance').option('value');
            var val_100 = $("#Txt_100_CDW").dxNumberBox('instance').option('value');
            var val_50 = $("#Txt_50_CDW").dxNumberBox('instance').option('value');
            var val_20 = $("#Txt_20_CDW").dxNumberBox('instance').option('value');
            var val_10 = $("#Txt_10_CDW").dxNumberBox('instance').option('value');
            var val_5 = $("#Txt_5_CDW").dxNumberBox('instance').option('value');
            var val_2 = $("#Txt_2_CDW").dxNumberBox('instance').option('value');
            var val_1 = $("#Txt_1_CDW").dxNumberBox('instance').option('value');
            if (val_2000 > 0) {
                Narration_Text += "2000x" + val_2000 + ",";
            }
            //if (val_1000 > 0) {
            //    Narration_Text += "1000x" + val_1000 + ","
            //}
            if (val_500 > 0) {
                Narration_Text += "500x" + val_500 + ","
            }
            if (val_200 > 0) {
                Narration_Text += "200x" + val_200 + ","
            }
            if (val_100 > 0) {
                Narration_Text += "100x" + val_100 + ","
            }
            if (val_50 > 0) {
                Narration_Text += "50x" + val_50 + ","
            }
            if (val_20 > 0) {
                Narration_Text += "20x" + val_20 + ","
            }
            if (val_10 > 0) {
                Narration_Text += "10x" + val_10 + ","
            }
            if (val_5 > 0) {
                Narration_Text += "5x" + val_5 + ","
            }
            if (val_2 > 0) {
                Narration_Text += "2x" + val_2 + ","
            }
            if (val_1 > 0) {
                Narration_Text += "1x" + val_1 + ","
            }
            if (Narration_Text.endsWith(",")) {
                Narration_Text = Narration_Text.substring(0, Narration_Text.length - 1);
            }
            $("#Txt_Narration_CDW").dxTextBox('instance').option("value", Narration_Text);
        }
        function CurrDenom_Amont_CDW_ValueChange(e) {
            var val_2000 = $("#BE_2000_CDW").dxNumberBox('instance').option('value');
            //var val_1000 = $("#BE_1000_CDW").dxNumberBox('instance').option('value');
            var val_500 = $("#BE_500_CDW").dxNumberBox('instance').option('value');
            var val_200 = $("#BE_200_CDW").dxNumberBox('instance').option('value');
            var val_100 = $("#BE_100_CDW").dxNumberBox('instance').option('value');
            var val_50 = $("#BE_50_CDW").dxNumberBox('instance').option('value');
            var val_20 = $("#BE_20_CDW").dxNumberBox('instance').option('value');
            var val_10 = $("#BE_10_CDW").dxNumberBox('instance').option('value');
            var val_5 = $("#BE_5_CDW").dxNumberBox('instance').option('value');
            var val_2 = $("#BE_2_CDW").dxNumberBox('instance').option('value');
            var val_1 = $("#BE_1_CDW").dxNumberBox('instance').option('value');
            var total = val_2000 /*+ val_1000*/ + val_500 + val_200 + val_100 + val_50 + val_20 + val_10 + val_5 + val_2 + val_1;
            $("#Txt_Amount_CDW").dxNumberBox("instance").option("value", total);


        }

        function ControlCurrDenom_SetReadOnly_CDW(readOnly = true) {

            Control_SetReadOnly("Txt_1_CDW", "dxNumberBox", readOnly, null, "")
            Control_SetReadOnly("Txt_2_CDW", "dxNumberBox", readOnly, null, "")
            Control_SetReadOnly("Txt_5_CDW", "dxNumberBox", readOnly, null, "")
            Control_SetReadOnly("Txt_10_CDW", "dxNumberBox", readOnly, null, "")
            Control_SetReadOnly("Txt_20_CDW", "dxNumberBox", readOnly, null, "")
            Control_SetReadOnly("Txt_50_CDW", "dxNumberBox", readOnly, null, "")
            Control_SetReadOnly("Txt_100_CDW", "dxNumberBox", readOnly, null, "")
            Control_SetReadOnly("Txt_200_CDW", "dxNumberBox", readOnly, null, "")
            Control_SetReadOnly("Txt_500_CDW", "dxNumberBox", readOnly, null, "")
            Control_SetReadOnly("Txt_2000_CDW", "dxNumberBox", readOnly, null, "")
            
        }

        function CurrDenom_CDW_OnInput(e) {
            var inputElement = e.event.target;
            if (parseInt(inputElement.value) > 1000000) {
                DevExpress.ui.dialog.alert("Please enter a value less than or equal to 1,000,000.", "Invalid Entry!!");
            }
            //var inputElement = e.event.target;
            //if (inputElement.value.length > 6)
            //{
            //    inputElement.value = inputElement.value.slice(0, 6);
            //}
        }
    </script>
    @* DD value change*@
    <script class="CDW_Scripts">
        var CDW_saveClick = true;
        $(document).ready(async function ()
        {
            ShowLoader_Ready();
            TransformTextForDB("CDW_validationForm");
            sessionclearpath = "/Account/CashDepositAndWithdrawnVoucher/SessionClear";
            InitDropdown_CDW();
            await Promise.all([LookUp_GetItemList_CDW(true),LookUp_GetBankList_CDW(true)])
            if (Tag_CDW != "_View")
            {
                dontaskpopupcloseconfirmation = false;
            }
            if (Tag_CDW == "_View" || Tag_CDW == "_Delete") {
                dontaskpopupcloseconfirmation = true;
            }
            if (Tag_CDW == "_New_From_Selection")
            {
                await GLookUp_ItemList_EditValueChanged_CDW(null, true);
              /*  Control_SetReadOnly("GLookUp_ItemList_CDW", "dxDropDownBox", true, "#696969");*/
            }
            else if (Tag_CDW == "_Edit" || Tag_CDW == "_View" ||Tag_CDW == "_Delete")
            {
                await Data_Binding_CDW();
            }
            if (parseInt("@Model.splVchrRefsCount") > 0)
            {
                OnSplVchrRefsListSelectionChanged_CDW();
            }
            if (parseInt("@Model.splVchrRefsCount") == 0)
            {
                $("#cdw_SpecialVoucherRefDiv").remove();
                $("#fcraAmtDiv_cdw").removeClass("col-sm-12 col-md-6").addClass("col-sm-12 col-md-12");
            }
            Set_Form_View_Delete_Mode(null, "CDW_validationForm", Tag_CDW);
            Focus_FirstEditable_Field("CDW_validationForm");
            HideLoader_Ready();
        });
        async function Data_Binding_CDW()
        {
            await GLookUp_ItemList_EditValueChanged_CDW(null, true);
            Control_SetReadOnly("GLookUp_ItemList_CDW", "dxDropDownBox", false);
            await GLookUp_BankList_EditValueChanged_CDW(null,true);
            Control_SetReadOnly("GLookUp_BankList_CDW", "dxDropDownBox", false);
            if ("@Model.Txt_Ref_No_CDW".length > 0) { $("#Txt_Ref_No_CDW").dxTextBox("instance").option("value", "@Model.Txt_Ref_No_CDW"); }
            if ("@Model.Txt_Ref_Date_CDW".length > 0) { $("#Txt_Ref_Date_CDW").dxDateBox("instance").option("value", moment("@Model.Txt_Ref_Date_CDW","DD/MM/YYYY")); }
            if ("@Model.Txt_Ref_CDate_CDW".length > 0) { $("#Txt_Ref_CDate_CDW").dxDateBox("instance").option("value", moment("@Model.Txt_Ref_CDate_CDW", "DD/MM/YYYY")); }
            if ($("#VOUCHER_TYPE").val().toUpperCase() == "CASH DEPOSITED")
            {
                CurrDenom_CDW_ValueChange();
            }
        }
    </script>
    @* ready *@
    <script class="CDW_Scripts">
    function CDW_SaveBtnClick(e)
    {
        CDW_saveClick == true

        var TotalAmount = $("#Txt_Amount_CDW").dxNumberBox("instance").option("value");

        if (TotalAmount == null || TotalAmount <= 0) {
            var alertclick = DevExpress.ui.dialog.alert("Amount cannot be Zero/Negative...!", "Incomplete Information..");
            alertclick.done(function (alertResult) {
                if (alertResult) {                       
                    var id = "#Txt_Amount_CDW";
                    setTimeout(function () {
                        $(id).find('input').focus();
                    }, Timeout100);                        
                }
            });
            return;
        }

        if (ValidateForm(e))
        {
            var form = $("#CDW_validationForm");
            if (e.component.option("text") == "Delete")
            {
                DeleteAfterConfirmation("Confirm", "", form);
            }
            else
            {
                form.submit();
            }
        }
    }
    function AjaxSuccessVoucherWinCash(data)
    {
        HideLoader();
        CDW_saveClick = false;
        var _ActiveTab_ID = $(".TabPanalMenu-tabs .active").attr("id");
        if (data.jsonParam.result == false)
        {
            if (data.jsonParam.refreshgrid === true)
            {
                RefreshGridView("@ViewBag.GridToRefresh");
            }
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
            if (data.jsonParam.closeform)
            {
                dontaskpopupcloseconfirmation = true;
                $("#Dynamic_Content_popup").dxPopup("hide");
            }
        }
        else if (data.jsonParam.result == true)
        {
            var saveAlertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            saveAlertClick.done(function (result)
            {
                if (result)
                {
                    if ("@ViewBag.GridToRefresh" != "CashBookListGrid")
                    {
                        RefreshGridView("@ViewBag.GridToRefresh");
                    }
                    //if (_ActiveTab_ID == "contact_Frm_Voucher_Info_CB")
                    //{
                    if (/*typeof CashBookListGrid !== 'undefined'*/ _ActiveTab_ID == "contact_Frm_Voucher_Info_CB") {
                        AfterVoucherClose_CB($("#Txt_V_Date_CDW").dxDateBox("instance").option("value"), "@Model.TempActionMethod", IsUndefinedOrNull(data.CashbookGridPK) ? "" : data.CashbookGridPK);
                    }
                    else if (_ActiveTab_ID == "contact_Frm_Voucher_Info")
                    {
                        AfterVoucherClose_VoucherEntry();
                    }
                    dontaskpopupcloseconfirmation = true;
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
            });
        }
    }
    </script>
    @* save *@
    <script class="CDW_Scripts">
    var Item_CDW_DG;
    var Bank_CDW_DG;
    var Tag_CDW = "@Model.ActionMethod";
    function InitDropdown_CDW()
    {
        var $Item_CDW_DG = $("#Frm_Voucher_Win_Cash_GLookUp_ItemId_datagrid");
        if ($Item_CDW_DG.length)
        {
            Item_CDW_DG = $Item_CDW_DG.dxDataGrid("instance");
        }
        var $Bank_CDW_DG = $("#Frm_Voucher_Win_Cash_GLookUp_BankList_datagrid");
        if ($Bank_CDW_DG.length)
        {
            Bank_CDW_DG = $Bank_CDW_DG.dxDataGrid("instance");
        }
    }
    async function LookUp_GetItemList_CDW(FirstCall = false)
    {
        var DGItem = GetDataSourceItems("GLookUp_ItemList_CDW", "dxDropDownBox");
        var TotalCount = DGItem.length;
        if (TotalCount == 1)
        {
            $("#GLookUp_ItemList_CDW").find('input').css('color', '#000080');
            if (FirstCall === true)
            {
                await GLookUp_ItemList_EditValueChanged_CDW(null, FirstCall);
            }
            if (Tag_CDW == "_New" || Tag_CDW == "_New_From_Selection")
            {
                Control_SetReadOnly("GLookUp_ItemList_CDW", "dxDropDownBox", true, "#696969");
            }
        }
        else
        {
            if (Tag_CDW == "_New" || Tag_CDW == "_New_From_Selection")
            {
                Control_SetReadOnly("GLookUp_ItemList_CDW", "dxDropDownBox", false);
            }
        }
    }
    async function LookUp_GetBankList_CDW(FirstCall = false)
    {
        var DGItem = GetDataSourceItems("GLookUp_BankList_CDW", "dxDropDownBox");
        var TotalCount = DGItem.length;
        if (TotalCount == 1)
        {
            $("#GLookUp_BankList_CDW").find("input").css("color", "#000080");
            $("#BE_Bank_Branch_CDW").find("input").css("color", "#000080");
            $("#BE_Bank_Acc_No_CDW").find("input").css("color", "#000080");
            if (Tag_CDW == "_New" || Tag_CDW == "_New_From_Selection")
            {
                if (FirstCall === true)
                {
                    await GLookUp_BankList_EditValueChanged_CDW(null, FirstCall);
                }
                Control_SetReadOnly("GLookUp_BankList_CDW", "dxDropDownBox", true);
            }
        }
        else
        {
            if (Tag_CDW == "_New" || Tag_CDW == "_New_From_Selection")
            {
                Control_SetReadOnly("GLookUp_BankList_CDW", "dxDropDownBox", false);
            }
        }
    }
    $(function () {
        $("#PurposeID_CDW").dxSelectBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (Tag_CDW == "_New" ||Tag_CDW == "_New_From_Selection"||Tag_CDW == "_Edit") {

                            if (options.value == "" || options.value ==null) {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: " Purpose Cannot Be Blank..!!"
                }],
                validationGroup: "CDW_Voucher"
            });//redmine Bug #133286 fix
        $("#Txt_V_Date_CDW,#Txt_Ref_Date_CDW,#Txt_Ref_CDate_CDW").dxDateBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        return result;
                    }
                }],
                validationGroup: "CDW_Voucher"
            });
            //$("#Txt_Ref_No_CDW").dxTextBox({})
            //    .dxValidator({
            //        validationRules: [{
            //            type: 'custom',
            //            validationCallback: function (options) {
            //                var result = true;
            //                if ($("#VOUCHER_TYPE").val().toUpperCase() != "CASH DEPOSITED")
            //                {
            //                    var reg = /^[0-9]{6,8}$/;
            //                    if (!(reg.test(options.value)))
            //                    {
            //                          //  result = false Redmine Bug #134211 fix

            //                    }
            //                }
            //                return result;
            //            },
            //            ignoreEmptyValue: true,
            //            reevaluate:true,
            //            message: 'Invalid Format(Need To Be Of Min 6 Digits And Max 8 Digits)'
            //        }],
            //        validationGroup: "CDW_Voucher" //redmine #132854 fixed
            //    });

    });
    </script>
    @*DD init*@
    <script>
        function OnSplVchrRefsListSelectionChanged_CDW(e) {
            var listBox = $("#ListSpecialVoucherRef_CDW").dxList("instance");
            var selecteditemkey = listBox.option("selectedItemKeys")
            if (selecteditemkey != null && selecteditemkey.length > 0) {
                $("#cdw_SplVchrReferenceSelected").val(selecteditemkey.join(","));
            }
            else {
                $("#cdw_SplVchrReferenceSelected").val("");
            }
        }// List selection
    </script>

</div>
