<div class="BankProfileExport_ClearReferences">
@using DevExtreme.AspNet.Mvc;
    <div>
        @(Html.DevExtreme().Button()
                .ID("Bank_ExportGridDatapdf")
                .Text("Export to PDF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("x")
                .OnClick("ExportPDF")
                .Visible(false)
                .Width(120)
    )

        @(Html.DevExtreme().Button()
                .ID("Bank_ExportGridDataxls")
                .Text("Export to XLS")
                //.Icon("fa-file-excel-o")
                //.AccessKey("X")
                .OnClick("ExportXLS")
                .Visible(false)
                .Width(120)
    )
        @(Html.DevExtreme().Button()
                .ID("Bank_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("L")
                .OnClick("ExportXLSX")
                .Visible(false)
                .Width(120)
    )
        @(Html.DevExtreme().Button()
                .ID("Bank_ExportGridDataxlsx_dx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("L")
                .OnClick("ExportXLSX_dx")
                .Visible(true)
                .Width(120)
    )
        @(Html.DevExtreme().Button()
                .ID("Bank_ExportGridDatadocx")
                .Text("Export to DOCX")
                //.Icon("export_exporttodocx_16x16office2013")
                //.AccessKey("D")
                .OnClick("ExportDOCX")
                .Visible(false)
                .Width(120)
    )

        @(Html.DevExtreme().Button()
                .ID("Bank_ExportGridDatartf")
                .Text("Export to RTF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("R")
                .OnClick("ExportRTF")
                .Visible(false)
                .Width(120)
    )

        @(Html.DevExtreme().Button()
                .ID("Bank_ExportGridDatacsv")
                .Text("Export to CSV")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("C")
                .OnClick("ExportCSV")
                .Visible(false)
                .Width(120)
    )
    </div>
<script>
    function ExportPDF() {
        BankListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        $("#Bank_report_modal").dxPopup("hide");
    }
    function ExportXLS() {
        BankListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
        $("#Bank_report_modal").dxPopup("hide");
    }
    function ExportXLSX() {
        BankListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        $("#Bank_report_modal").dxPopup("hide");
    }
    function ExportCSV() {
        BankListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
        $("#Bank_report_modal").dxPopup("hide");
    }
    function ExportDOCX() {
        BankListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
        $("#Bank_report_modal").dxPopup("hide");
    }
    function ExportRTF() {
        BankListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        $("#Deposits_report_modal").dxPopup("hide");
    }
    function ExportXLSX_dx() {
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Sheet');

        DevExpress.excelExporter.exportDataGrid({
            worksheet: worksheet,
            component: $("#BankListGrid_dx").dxDataGrid("instance"),
            autoFilterEnabled: true,
            customizeCell({ excelCell, gridCell }) {
                if (gridCell.rowType === 'header') {
                    const columnDataField = gridCell.column.dataField;
                    if (columnDataField === 'iIcon') {
                        const Column = worksheet.getColumn(excelCell.col);
                        Column.width = 20;
                    }
                }
            }
        }).then(function (exportRange) {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'BankListGrid_dx.xlsx');
            });
        });
        $("#Bank_report_modal").dxPopup("hide");
    }
</script>
    </div>