@using DevExtreme.AspNet.Mvc;
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="content" class="col-md-12" style="background:#8bbef7 url(../../Content/image/popup-headerbg.jpg) left top repeat-x">
        <div class="col-md-12" style="padding-left:0px;">
            <h3 style="margin-top:6px;color:#000080"> <img src="~/Icons/Audit Actions6.png" style="float:left;" align="middle" /> &nbsp;Change Period</h3>
        </div>
    </div>
    <div class="form-group" style="padding-top:10px;padding-left:5px">

      @Html.Label("From", "From", htmlAttributes: new { @class = "control-label col-md-1" })

        <div class="col-md-5">
            @(Html.DevExtreme().DateBox().DisplayFormat(ViewBag.Base_Date_Format_Current)
                        .Name("From_Date_Party")
                        .ID("From_Date_Party")
                        .Type(DateBoxType.Date)
                        .PickerType(DateBoxPickerType.Native)
                        .DisplayFormat(ViewBag.Base_Date_Format_Current)
                        .InvalidDateMessage("Value must be a Date!!")
            )

           @* @Html.ValidationMessageFor(model => model.BA_ClOSE_DATE, "", new { @class = "text-danger" })*@
        </div>
        @Html.Label("To", "To", htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-5">
            @(Html.DevExtreme().DateBox().DisplayFormat(ViewBag.Base_Date_Format_Current)
                        .Name("To_Date_Party")          
                        .ID("To_Date_Party")
                        .Type(DateBoxType.Date)
                        .PickerType(DateBoxPickerType.Native)
                        .DisplayFormat(ViewBag.Base_Date_Format_Current)
                        .InvalidDateMessage("Value must be a Date!!")
            )

            @*@Html.ValidationMessageFor(model => model.BA_ClOSE_DATE, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group" style="margin-top:0px;padding-bottom:10px;background-color:#ffffff">
        <div class="col-md-offset-2 col-md-10" style="display:block">
            @(Html.DevExtreme().Button()
                    .ID("Cancel")
                    .Width(90)
                    .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                    .Text("Cancel")
                    .ElementAttr("style", "float:right;margin-left:5px;margin-top:10px")
                    .OnClick(@<text>
                        function () {party_return_cancel=1;
                        $("#popup_frm_Voucher_Specific_Period_party").dxPopup("hide");
                        }
                    </text>)
            )
            @(Html.DevExtreme().Button()
                .ID("ok_SpecificPeriod")
                .Text("OK")
                .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                .ElementAttr("style", "float:right;margin-top:10px")
                .Type(DevExtreme.AspNet.Mvc.ButtonType.Normal)
                //.Icon("add")
                .UseSubmitBehavior(false)
                 .OnClick(@<text>
                    function () {
                    OKForSpecificPeriod_Party();
                    }
                </text>)
            )
        </div>
    </div>
</div>
<script>
        var party_specific_period_fromDate;
        var party_specific_period_toDate;
        var party_specific_period_return_period;
        var party_return_cancel = 0;

        function GetFormattedDate_dd_mm_yy(inputdate) {
            var todayTime = new Date(inputdate);
            mlist = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var month = mlist[todayTime.getMonth()];
            var day = todayTime.getDate();
            var year = todayTime.getFullYear();
            return day + "-" + month + ", " + year;
        }
        function GetFormattedDate_mm_dd_yyyy(inputdate) {
            var todayTime = new Date(inputdate);
            var month = todayTime.getMonth()+1;
            var day = todayTime.getDate();
            var year = todayTime.getFullYear();
            return  month + "-" + day + "-" + year;
        }
        function OKForSpecificPeriod_Party()
        {
            party_return_cancel = 0;
            _fromDate = $("input[name=From_Date_Party]").val();
            _toDate = $("input[name=To_Date_Party]").val();
            $.ajax({
                type: 'GET',
                url: "/Reports/PartyLedger/Check_Period_Selection",
                data: { _FrDate: _fromDate, _ToDate: _toDate },
                cache: false,
                success: function (data) {
                    if (data.result == true) {
                        party_specific_period_fromDate = GetFormattedDate_mm_dd_yyyy($("input[name=From_Date_Party]").val());
                        party_specific_period_toDate = GetFormattedDate_mm_dd_yyyy($("input[name=To_Date_Party]").val());
                        party_specific_period_return_period = "Period : Fr.: " + GetFormattedDate_dd_mm_yy($("input[name=From_Date_Party]").val()) + "  to  " + GetFormattedDate_dd_mm_yy($("input[name=To_Date_Party]").val());
                        $("#popup_frm_Voucher_Specific_Period_party").dxPopup("hide");
                    }
                    else { DevExpress.ui.dialog.alert(data.message, "Message..."); }
                }
            });
        }
    </script>