<div class="SubmitAccounts_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Start.Models.AccountSubmissionModel



    <style>
        .section input[type="radio"],
        .section input[type="checkbox"] {
            display: none;
        }

    /*    .dx-checkbox-text {
            width: auto;
        }*/

        .chk-box {
            /* margin-bottom: 10px;*/
        }

            .chk-box label {
                position: relative;
                left: 22px;
                font-size: 12px;
            }

            /* Base styles for spans */
            .chk-box span::before,
            .chk-box span::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }

            .chk-box span.checkbox1::before {
                width: 15px;
                height: 15px;
                background-color: #fff;
                left: -24px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                transition: border-color .2s;
            }

            .chk-box span.checkbox1:hover::before {
                background-color: #edf7fd;
            }

            .chk-box span.checkbox1::after {
                content: '\f00c';
                font-family: 'FontAwesome';
                left: -22px;
                top: 1px;
                color: transparent;
                transition: color .2s;
            }

        input[type="checkbox"]:checked + label span.checkbox1::after {
            color: #383939;
        }
    </style>

    @*<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">*@

    <div>
        @using (Ajax.BeginForm("Frm_Submit_Accounts", "AccountSubmission",
                     new AjaxOptions
                     {
                         HttpMethod = "POST",
                         InsertionMode = InsertionMode.InsertAfter,
                         OnBegin = "AjaxBeginFormPost",
                         OnSuccess = "ReportSubmit_Success",
                     },
                     new
                     {
                         id = "ReportSubmit_Form",
                         @class = "edit_form"
                     }))

        {
            <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-12 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i>Submit Accounts</h3>
                    </div>
                </div>
            </div><!--[row]-->
            @(Html.DevExtreme().TabPanel().ID("SubmitAccount_tabPanel").DeferRendering(false).Items
	            (items =>
		            {
			            items.Add().Title("By Month").Template(@<text>@SubmitAccountByMonth()</text>);
			            items.Add().Title("By Date").Template(@<text>@SubmitAccountByDate()</text>);                            
		            }
	            ).OnSelectionChanged("NotifyTabPanelSelectionChanged_SubmitAccount")
            )
            @Html.Hidden("SelectedTabTitle_SubmitAccount")
            @helper SubmitAccountByMonth()
            {
	            @Html.Partial("Frm_Submit_Accounts_By_Month");
            }
            @helper SubmitAccountByDate()
            {
	            @Html.Partial("Frm_Submit_Accounts_By_Date");
            }
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid pbs ptm pll">
                        <div class="col-sm-7">
                            <label id="lblLastCompletionOn_SubmitAccounts" class="control-label">
                                @ViewBag.lblLastCompletionOn
                            </label>
                        </div>
                        <div class="col-sm-5">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().CustomSaveButton().ID("BUT_OK_SubmitAccounts").Text("Submit Accounts").OnClick("BUT_OK_Click").UseSubmitBehavior(false) )
                                @(Html.DevExtreme().Button().CustomCloseButton().ID("BUT_CANCEL_SubmitAccounts").Text("Cancel").OnClick("BUT_CANCEL_Click") )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[lbl_lastcompletionon row]-->

        }
    </div>

    <script>

    </script>@* SubmitAccounts_Global_Variables*@

    <script>

    $(document).ready(function () {

        ShowCompletedPeriodText();

        SetCheckBoxesForSubmittedPeriod("@Model.PrevSubmittedTill_SubmitAccounts");

        $("#SubmitAccount_tabPanel").dxTabPanel("instance").option("items[1].visible", false)

        // parameter initialized for onhiding function
        dontaskpopupcloseconfirmation = false;
    });
    function NotifyTabPanelSelectionChanged_SubmitAccount(e) {
        $("#SubmitAccount_tabPanel").val(e.addedItems[0].title);
        if (e.addedItems[0].title == "By Month") {
            //Perform Actions
        }
        else if (e.addedItems[0].title == "By Date") {
            //Perform Actions
        }
    }
    </script> @* Ready() *@

    <script>
function ShowCompletedPeriodText() {

    if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value")) {
        $("#lbl_completion_SubmitAccounts").text("Accounts completed from April @ViewBag.OpenYearOfFY to March @ViewBag.CloseYearofFY for Current Center");
    }
    else if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value")) {
        $("#lbl_completion_SubmitAccounts").text("Accounts completed from April @ViewBag.OpenYearOfFY to February @ViewBag.CloseYearofFY for Current Center");
    }
    else if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value")) {
        $("#lbl_completion_SubmitAccounts").text("Accounts completed from April @ViewBag.OpenYearOfFY to January @ViewBag.CloseYearofFY for Current Center");
    }
    else if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value")) {
        $("#lbl_completion_SubmitAccounts").text("Accounts completed from April @ViewBag.OpenYearOfFY to December @ViewBag.OpenYearOfFY for Current Center");
    }
    else if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value")) {
        $("#lbl_completion_SubmitAccounts").text("Accounts completed from April @ViewBag.OpenYearOfFY to November @ViewBag.OpenYearOfFY for Current Center");
    }
    else if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value")) {
        $("#lbl_completion_SubmitAccounts").text("Accounts completed from April @ViewBag.OpenYearOfFY to October @ViewBag.OpenYearOfFY for Current Center");
    }
    else if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value")) {
        $("#lbl_completion_SubmitAccounts").text("Accounts completed from April @ViewBag.OpenYearOfFY to September @ViewBag.OpenYearOfFY for Current Center");
    }
    else if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value")) {
        $("#lbl_completion_SubmitAccounts").text("Accounts completed from April @ViewBag.OpenYearOfFY to August @ViewBag.OpenYearOfFY for Current Center");
    }
    else if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value")) {
        $("#lbl_completion_SubmitAccounts").text("Accounts completed from April @ViewBag.OpenYearOfFY to July @ViewBag.OpenYearOfFY for Current Center");
    }
    else if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value")) {
        $("#lbl_completion_SubmitAccounts").text("Accounts completed from April @ViewBag.OpenYearOfFY to June @ViewBag.OpenYearofFY for Current Center");
    }
    else if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value")) {
        $("#lbl_completion_SubmitAccounts").text("Accounts completed from April @ViewBag.OpenYearOfFY to May @ViewBag.OpenYearOfFY for Current Center");
    }
    else if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value")) {
        $("#lbl_completion_SubmitAccounts").text("Accounts completed from April @ViewBag.OpenYearOfFY for Current Center");
    }
    else
    {
        $("#lbl_completion_SubmitAccounts").text("Accounts not completed for any period for Current Center");
    }

    }
    </script> @* ShowCompletedPeriodText() *@

    <script>
    function SetCheckBoxesForSubmittedPeriod(SubmittedTill)
    {
        if (SubmittedTill.length > 0)
        {            
            SubmittedTill = moment(SubmittedTill, "DD/MM/YYYY");
            $("#Date_SubmitAccount").dxDateBox("instance").option("value", SubmittedTill);
            SubmittedTill = SubmittedTill.toDate();
            var EndDate = moment("@ViewBag.EndDate", "DD/MM/YYYY");
            EndDate = EndDate.toDate();
            var chkDate = new Date();
            if (moment.isDate(SubmittedTill))
            {
                if (SubmittedTill.getTime() == EndDate.getTime())
            {
                $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", true);
                return
            }
                chkDate = new Date("@ViewBag.CloseYearofFY", 2, 1)
                if (SubmittedTill >= (chkDate.setDate(chkDate.getDate() - 1))) {
                $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", true);
                return
            }
                chkDate = new Date("@ViewBag.CloseYearofFY", 1, 1)
                if (SubmittedTill >= (chkDate.setDate(chkDate.getDate() - 1)))
            {
                $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", true);
                return
            }
                chkDate = new Date("@ViewBag.CloseYearofFY", 0, 1)
                if (SubmittedTill >= (chkDate.setDate(chkDate.getDate() - 1)))
            {
                $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", true);
                return
            }
                chkDate = new Date("@ViewBag.OpenYearOfFY", 11, 1)
                if (SubmittedTill >= (chkDate.setDate(chkDate.getDate() - 1)))
            {
                $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", true);
                return
            }
                chkDate = new Date("@ViewBag.OpenYearOfFY", 10, 1)
                if (SubmittedTill >= (chkDate.setDate(chkDate.getDate() - 1)))
            {
                $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", true);
                return
            }
                chkDate = new Date("@ViewBag.OpenYearOfFY", 9, 1)
                if (SubmittedTill >= (chkDate.setDate(chkDate.getDate() - 1)))
            {
                $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                return
            }
                chkDate = new Date("@ViewBag.OpenYearOfFY", 8, 1)
                if (SubmittedTill >= (chkDate.setDate(chkDate.getDate() - 1)))
            {
                $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                return
            }
                chkDate = new Date("@ViewBag.OpenYearOfFY", 7, 1)
                if (SubmittedTill >= (chkDate.setDate(chkDate.getDate() - 1)))
            {
                $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                return
            }
                chkDate = new Date("@ViewBag.OpenYearOfFY", 6, 1)
                if (SubmittedTill >= (chkDate.setDate(chkDate.getDate() - 1)))
            {
                $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                return
            }
                chkDate = new Date("@ViewBag.OpenYearOfFY", 5, 1)
                if (SubmittedTill >= (chkDate.setDate(chkDate.getDate() - 1)))
            {
                $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                return
            }
                chkDate = new Date("@ViewBag.OpenYearOfFY", 4, 1)
                if (SubmittedTill >= (chkDate.setDate(chkDate.getDate() - 1)))
            {
                $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                return
            }
            }
        }
    }
    </script> @* SetCheckBoxesForSubmittedPeriod() *@

<script>
    function Chk_SelectedIndexChanged(e) {

        var currentDate = moment(new Date(), "DD/MM/YYYY"); // User cannnot submit the accounts in advance.

        if (e.element[0].id == "chk_Apr_SubmitAccounts") {
            if (e.value) {
                var compareDate = moment(new Date("@ViewBag.OpenYearOfFY", 4, 0));
                if (currentDate.isBefore(compareDate))
			    {
                   		 DevExpress.ui.dialog.alert("Sorry!! Accounts of April - " + @ViewBag.OpenYearofFY+" can be submitted only after 30th April, " + "@ViewBag.OpenYearOfFY" + ".", "Warning!!")
	                     $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", false);
        	           	 return
               	}
            }
            else //unchecked
            {
                if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit May first.", "Warning!!");
                    $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit June first.", "Warning!!");
                    $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit July first.", "Warning!!");
                    $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit August first.", "Warning!!");
                    $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit September first.", "Warning!!");
                    $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit October first.", "Warning!!");
                    $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit November first.", "Warning!!");
                    $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit December first.", "Warning!!");
                    $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit January first.", "Warning!!");
                    $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit February first.", "Warning!!");
                    $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit March first.", "Warning!!");
                    $("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
            }
        }

        if (e.element[0].id == "chk_May_SubmitAccounts") {
            if (e.value) {
                if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! April accounts not submitted yet.", "Warning!!");
                    $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                var compareDate = moment(new Date("@ViewBag.OpenYearOfFY", 5, 0));
                if (currentDate.isBefore(compareDate)) {
                    DevExpress.ui.dialog.alert("Sorry!! Accounts of May   - " + @ViewBag.OpenYearofFY+" can be submitted only after 31st May, " + "@ViewBag.OpenYearOfFY" + ".", "Warning!!")
                    $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
            }
            else //unchecked
            {
                if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit June first.", "Warning!!");
                    $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit July first.", "Warning!!");
                    $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit August first.", "Warning!!");
                    $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit September first.", "Warning!!");
                    $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit October first.", "Warning!!");
                    $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit November first.", "Warning!!");
                    $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit December first.", "Warning!!");
                    $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit January first.", "Warning!!");
                    $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit February first.", "Warning!!");
                    $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit March first.", "Warning!!");
                    $("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
            }
        }

        if (e.element[0].id == "chk_Jun_SubmitAccounts") {
            if (e.value) {
                if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! April accounts not submitted yet.", "Warning!!");
                    $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! May accounts not submitted yet.", "Warning!!");
                    $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                var compareDate = moment(new Date("@ViewBag.OpenYearOfFY", 6, 0));
                if (currentDate.isBefore(compareDate)) {
                    DevExpress.ui.dialog.alert("Sorry!! Accounts of June - " + @ViewBag.OpenYearofFY+" can be submitted only after 30th June, " + "@ViewBag.OpenYearOfFY" + ".", "Warning!!")
                    $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
            }
            else //unchecked
            {
                if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit July first.", "Warning!!");
                    $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit August first.", "Warning!!");
                    $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit September first.", "Warning!!");
                    $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit October first.", "Warning!!");
                    $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit November first.", "Warning!!");
                    $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit December first.", "Warning!!");
                    $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit January first.", "Warning!!");
                    $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit February first.", "Warning!!");
                    $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit March first.", "Warning!!");
                    $("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
            }
        }

        if (e.element[0].id == "chk_Jul_SubmitAccounts") {
            if (e.value) {
                if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! April accounts not submitted yet.", "Warning!!");
                    $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! May accounts not submitted yet.", "Warning!!");
                    $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! June accounts not submitted yet.", "Warning!!");
                    $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                var compareDate = moment(new Date("@ViewBag.OpenYearOfFY", 7, 0));
                if (currentDate.isBefore(compareDate)) {
                    DevExpress.ui.dialog.alert("Sorry!! Accounts of July   - " + @ViewBag.OpenYearofFY+" can be submitted only after 31st July, " + "@ViewBag.OpenYearOfFY" + ".", "Warning!!")
                    $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
            }
            else //unchecked
            {
                if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit August first.", "Warning!!");
                    $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit September first.", "Warning!!");
                    $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit October first.", "Warning!!");
                    $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit November first.", "Warning!!");
                    $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit December first.", "Warning!!");
                    $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit January first.", "Warning!!");
                    $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit February first.", "Warning!!");
                    $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit March first.", "Warning!!");
                    $("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
            }
        }

        if (e.element[0].id == "chk_Aug_SubmitAccounts") {
            if (e.value) {
                if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! April accounts not submitted yet.", "Warning!!");
                    $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! May accounts not submitted yet.", "Warning!!");
                    $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! June accounts not submitted yet.", "Warning!!");
                    $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! July accounts not submitted yet.", "Warning!!");
                    $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                var compareDate = moment(new Date("@ViewBag.OpenYearOfFY", 8, 0));
                if (currentDate.isBefore(compareDate)) {
                    DevExpress.ui.dialog.alert("Sorry!! Accounts of August - " + @ViewBag.OpenYearofFY+" can be submitted only after 31st August, " + "@ViewBag.OpenYearOfFY" + ".", "Warning!!")
                    $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
            }
            else //unchecked
            {
                if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit September first.", "Warning!!");
                    $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit October first.", "Warning!!");
                    $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit November first.", "Warning!!");
                    $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit December first.", "Warning!!");
                    $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit January first.", "Warning!!");
                    $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit February first.", "Warning!!");
                    $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit March first.", "Warning!!");
                    $("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
            }
        }

        if (e.element[0].id == "chk_Sep_SubmitAccounts") {
            if (e.value) {
                if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! April accounts not submitted yet.", "Warning!!");
                    $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! May accounts not submitted yet.", "Warning!!");
                    $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! June accounts not submitted yet.", "Warning!!");
                    $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! July accounts not submitted yet.", "Warning!!");
                    $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! August accounts not submitted yet.", "Warning!!");
                    $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                var compareDate = moment(new Date("@ViewBag.OpenYearOfFY", 9, 0));
                if (currentDate.isBefore(compareDate)) {
                    DevExpress.ui.dialog.alert("Sorry!! Accounts of September - " + @ViewBag.OpenYearofFY+" can be submitted only after 30th September, " + "@ViewBag.OpenYearOfFY" + ".", "Warning!!")
                    $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
            }
            else //unchecked
            {

                if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit October first.", "Warning!!");
                    $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit November first.", "Warning!!");
                    $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit December first.", "Warning!!");
                    $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit January first.", "Warning!!");
                    $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit February first.", "Warning!!");
                    $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit March first.", "Warning!!");
                    $("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
            }
        }

        if (e.element[0].id == "chk_Oct_SubmitAccounts") {
            if (e.value) {
                if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! April accounts not submitted yet.", "Warning!!");
                    $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! May accounts not submitted yet.", "Warning!!");
                    $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! June accounts not submitted yet.", "Warning!!");
                    $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! July accounts not submitted yet.", "Warning!!");
                    $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! August accounts not submitted yet.", "Warning!!");
                    $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! September accounts not submitted yet.", "Warning!!");
                    $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                var compareDate = moment(new Date("@ViewBag.OpenYearOfFY", 10, 0));
                if (currentDate.isBefore(compareDate)) {
                    DevExpress.ui.dialog.alert("Sorry!! Accounts of October - " + @ViewBag.OpenYearofFY+" can be submitted only after 31st October, " + "@ViewBag.OpenYearOfFY" + ".", "Warning!!")
                    $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
            }
            else //unchecked
            {
                if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit November first.", "Warning!!");
                    $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit December first.", "Warning!!");
                    $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit January first.", "Warning!!");
                    $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit February first.", "Warning!!");
                    $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit March first.", "Warning!!");
                    $("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
            }
        }

        if (e.element[0].id == "chk_Nov_SubmitAccounts") {
            if (e.value) {
                if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! April accounts not submitted yet.", "Warning!!");
                    $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! May accounts not submitted yet.", "Warning!!");
                    $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! June accounts not submitted yet.", "Warning!!");
                    $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! July accounts not submitted yet.", "Warning!!");
                    $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! August accounts not submitted yet.", "Warning!!");
                    $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! September accounts not submitted yet.", "Warning!!");
                    $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! October accounts not submitted yet.", "Warning!!");
                    $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                var compareDate = moment(new Date("@ViewBag.OpenYearOfFY", 11, 0));
                if (currentDate.isBefore(compareDate)) {
                    DevExpress.ui.dialog.alert("Sorry!! Accounts of November - " + @ViewBag.OpenYearofFY+" can be submitted only after 30th November, " + "@ViewBag.OpenYearOfFY" + ".", "Warning!!")
                    $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
            }
            else //unchecked
            {
                if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit December first.", "Warning!!");
                    $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit January first.", "Warning!!");
                    $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit February first.", "Warning!!");
                    $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit March first.", "Warning!!");
                    $("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
            }
        }

        if (e.element[0].id == "chk_Dec_SubmitAccounts") {
            if (e.value) {
                if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! April accounts not submitted yet.", "Warning!!");
                    $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! May accounts not submitted yet.", "Warning!!");
                    $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! June accounts not submitted yet.", "Warning!!");
                    $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! July accounts not submitted yet.", "Warning!!");
                    $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! August accounts not submitted yet.", "Warning!!");
                    $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! September accounts not submitted yet.", "Warning!!");
                    $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! October accounts not submitted yet.", "Warning!!");
                    $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! November accounts not submitted yet.", "Warning!!");
                    $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                var compareDate = moment(new Date("@ViewBag.OpenYearOfFY", 12, 0));
                if (currentDate.isBefore(compareDate)) {
                    DevExpress.ui.dialog.alert("Sorry!! Accounts of December - " + @ViewBag.OpenYearofFY+" can be submitted only after 31st December, " + "@ViewBag.OpenYearOfFY" + ".", "Warning!!")
                    $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
            }
            else //unchecked
            {
                if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit January first.", "Warning!!");
                    $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit February first.", "Warning!!");
                    $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit March first.", "Warning!!");
                    $("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
            }
        }

        if (e.element[0].id == "chk_Jan_SubmitAccounts") {
            if (e.value) {
                if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! April accounts not submitted yet.", "Warning!!");
                    $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! May accounts not submitted yet.", "Warning!!");
                    $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! June accounts not submitted yet.", "Warning!!");
                    $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! July accounts not submitted yet.", "Warning!!");
                    $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! August accounts not submitted yet.", "Warning!!");
                    $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! September accounts not submitted yet.", "Warning!!");
                    $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! October accounts not submitted yet.", "Warning!!");
                    $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! November accounts not submitted yet.", "Warning!!");
                    $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! December accounts not submitted yet.", "Warning!!");
                    $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                var compareDate = moment(new Date("@ViewBag.CloseYearofFY", 1, 0))
                if (currentDate.isBefore(compareDate)) {
                    DevExpress.ui.dialog.alert("Sorry!! Accounts of January - " + @ViewBag.CloseYearofFY+" can be submitted only after 31st January, " + "@ViewBag.CloseYearofFY" + ".", "Warning!!")
                    $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
            }
            else //unchecked
            {
                if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit February first.", "Warning!!");
                    $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
                if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit March first.", "Warning!!");
                    $("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
            }
        }

        if (e.element[0].id == "chk_Feb_SubmitAccounts") {
            if (e.value) {
                if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! April accounts not submitted yet.", "Warning!!");
                    $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! May accounts not submitted yet.", "Warning!!");
                    $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! June accounts not submitted yet.", "Warning!!");
                    $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! July accounts not submitted yet.", "Warning!!");
                    $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! August accounts not submitted yet.", "Warning!!");
                    $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! September accounts not submitted yet.", "Warning!!");
                    $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! October accounts not submitted yet.", "Warning!!");
                    $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! November accounts not submitted yet.", "Warning!!");
                    $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! December accounts not submitted yet.", "Warning!!");
                    $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! January accounts not submitted yet.", "Warning!!");
                    $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                var compareDate = moment(new Date("@ViewBag.CloseYearofFY", 2, 0))
                if (currentDate.isBefore(compareDate)) {
                    DevExpress.ui.dialog.alert("Sorry!! Accounts of February - " + @ViewBag.CloseYearofFY+" can be submitted only after Last date of February , " + "@ViewBag.CloseYearofFY" + ".", "Warning!!")
                    $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
            }
            else //unchecked
            {
                if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value")) {
                    DevExpress.ui.dialog.alert("Sorry!! Please unsubmit March first.", "Warning!!");
                    $("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value", true);
                    return
                }
            }
        }

        if (e.element[0].id == "chk_Mar_SubmitAccounts") {
            if (e.value) {
                if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! April accounts not submitted yet.", "Warning!!");
                    $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! May accounts not submitted yet.", "Warning!!");
                    $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! June accounts not submitted yet.", "Warning!!");
                    $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! July accounts not submitted yet.", "Warning!!");
                    $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! August accounts not submitted yet.", "Warning!!");
                    $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! September accounts not submitted yet.", "Warning!!");
                    $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! October accounts not submitted yet.", "Warning!!");
                    $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! November accounts not submitted yet.", "Warning!!");
                    $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! December accounts not submitted yet.", "Warning!!");
                    $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }

                if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! January accounts not submitted yet.", "Warning!!");
                    $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value") == false) {
                    DevExpress.ui.dialog.alert("Sorry!! February accounts not submitted yet.", "Warning!!");
                    $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
                var compareDate = moment(new Date("@ViewBag.CloseYearofFY", 3, 0))
                if (currentDate.isBefore(compareDate)) {
                    DevExpress.ui.dialog.alert("Sorry!! Accounts of March - " + @ViewBag.CloseYearofFY+" can be submitted only after 31st March , " + "@ViewBag.CloseYearofFY" + ".", "Warning!!")
                    $("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value", false);
                    return
                }
            }
        }

        ShowCompletedPeriodText()

    }
</script> @* Chk_SelectedIndexChanged () *@

    <script>
    function BUT_CANCEL_Click(e) {

        HidePopup("Dynamic_Content_popup");

    }

    function BUT_OK_Click(e) {

        var SubmitButtonConfirmationMessage_SubmitAccounts = DevExpress.ui.dialog.confirm("Account Submission...<br><br>Are you sure you want to Submit Accounts...?", "Confirmation...");

        SubmitButtonConfirmationMessage_SubmitAccounts.done(function (dialogResult) {

            if (dialogResult)
            {
                ShowLoader();                
                var ToDate = ToDateCalculation();
                if ((ToDate === null || ToDate === undefined) && ($("#SubmitAccount_tabPanel").val().includes("By Date"))) {
                    HideLoader();
                   //DevExpress.ui.dialog.alert("Invalid Date!!!.", "Warning!!");
                    return;
                }
                else {
                    if (ToDate === "") { }
                    else {
                        ToDate = moment(new Date(ToDate)).format("DD/MM/YYYY");
                    }
                }
                $.ajax({
                    url: "/Start/AccountSubmission/Submit_Success",
                    type: "POST",
                    data: {
                        ToDate: ToDate,
                        PrevSubmittedTill : "@Model.PrevSubmittedTill_SubmitAccounts" },
                    cache: false,
                    success: function (data) {
                        HideLoader();
                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);

                        if (data.jsonParam.result == true)
                        {
                            dontaskpopupcloseconfirmation = true;
                            BUT_CANCEL_Click();
                        }

                    }
                });

            }

        });
    }

    </script> @* Buttons *@

<script>
    function ToDateCalculation()
    {
        if ($("#SubmitAccount_tabPanel").val().includes("By Date")) {
            //$("#Date_SubmitAccount").dxDateBox("instance").validate();//validate() forces validation of the DateBox’s value, and isValid() checks if the value is valid
            var inputDate = $("#Date_SubmitAccount").dxDateBox("instance").option("value");
            if (inputDate)
            {                
                var lastDate = moment(new Date("@ViewBag.CloseYearofFY", 2, 31), "DD/MM/YYYY");
                var currentDate = moment(new Date(), "DD/MM/YYYY");
                lastDate = lastDate.toDate();
                //var currentDate = moment(new Date(), "DD/MM/YYYY");
                @*if ((new Date()).getMonth() < 3) {
                    currentDate = moment(new Date("@ViewBag.CloseYearofFY", (new Date()).getMonth(), (new Date()).getDate()), "DD/MM/YYYY");
                }*@
                currentDate = currentDate.toDate();
                if (moment.isDate(currentDate) && moment.isDate(lastDate)) {
                    if (lastDate.getTime() < currentDate.getTime()) {
                        currentDate = lastDate;
                    }
                }
                inputDate = moment(inputDate, "DD/MM/YYYY");
                inputDate = inputDate.toDate();
                if (moment.isDate(currentDate))
                {
                    if (inputDate.getTime() > currentDate.getTime()){
                        DevExpress.ui.dialog.alert("Sorry!! Selected input Date: " + moment(inputDate).format('Do MMMM, YYYY') + " cannot be greater than Date: " + moment(currentDate).format('Do MMMM, YYYY')+ ".", "Warning!!");
                        //$("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value", false);
                        return null;
                    }
                    //if (!$("#Date_SubmitAccount").dxDateBox("instance").isValid()) {
                    //    return null;
                    //}
                }
                var ToDate = moment(inputDate, "DD/MM/YYYY");
                return ToDate;
            }
        }
        else {
            if ($("#chk_Mar_SubmitAccounts").dxCheckBox("instance").option("value"))
            {
                var ToDate = new Date("@ViewBag.CloseYearofFY", 3, 1);
                ToDate = ToDate.setDate(ToDate.getDate() - 1);
                return ToDate
            }
            if ($("#chk_Feb_SubmitAccounts").dxCheckBox("instance").option("value"))
            {
                var ToDate = new Date("@ViewBag.CloseYearofFY", 2, 1);
                ToDate = ToDate.setDate(ToDate.getDate() - 1);
                return ToDate
            }
            if ($("#chk_Jan_SubmitAccounts").dxCheckBox("instance").option("value"))
            {
                var ToDate = new Date("@ViewBag.CloseYearofFY", 1, 1);
                ToDate = ToDate.setDate(ToDate.getDate() - 1);
                return ToDate
            }
            if ($("#chk_Dec_SubmitAccounts").dxCheckBox("instance").option("value"))
            {
                var ToDate = new Date("@ViewBag.CloseYearofFY", 0, 1);
                ToDate = ToDate.setDate(ToDate.getDate() - 1);
                return ToDate
            }
            if ($("#chk_Nov_SubmitAccounts").dxCheckBox("instance").option("value"))
            {
                var ToDate = new Date("@ViewBag.OpenYearOfFY", 11, 1);
                ToDate = ToDate.setDate(ToDate.getDate() - 1);
                return ToDate
            }
            if ($("#chk_Oct_SubmitAccounts").dxCheckBox("instance").option("value"))
            {
                var ToDate = new Date("@ViewBag.OpenYearOfFY", 10, 1);
                ToDate = ToDate.setDate(ToDate.getDate() - 1);
                return ToDate
            }
            if ($("#chk_Sep_SubmitAccounts").dxCheckBox("instance").option("value"))
            {
                var ToDate = new Date("@ViewBag.OpenYearOfFY", 9, 1);
                ToDate = ToDate.setDate(ToDate.getDate() - 1);
                return ToDate
            }
            if ($("#chk_Aug_SubmitAccounts").dxCheckBox("instance").option("value"))
            {
                var ToDate = new Date("@ViewBag.OpenYearOfFY", 8, 1);
                ToDate = ToDate.setDate(ToDate.getDate() - 1);
                return ToDate
            }
            if ($("#chk_Jul_SubmitAccounts").dxCheckBox("instance").option("value"))
            {
                var ToDate = new Date("@ViewBag.OpenYearOfFY", 7, 1);
                ToDate = ToDate.setDate(ToDate.getDate() - 1);
                return ToDate
            }
            if ($("#chk_Jun_SubmitAccounts").dxCheckBox("instance").option("value"))
            {
                var ToDate = new Date("@ViewBag.OpenYearOfFY", 6, 1);
                ToDate = ToDate.setDate(ToDate.getDate() - 1);
                return ToDate
            }
            if ($("#chk_May_SubmitAccounts").dxCheckBox("instance").option("value"))
            {
                var ToDate = new Date("@ViewBag.OpenYearOfFY", 5, 1);
                ToDate = ToDate.setDate(ToDate.getDate() - 1);
                return ToDate
            }
            if ($("#chk_Apr_SubmitAccounts").dxCheckBox("instance").option("value"))
            {
                var ToDate = new Date("@ViewBag.OpenYearOfFY", 4, 1);
                ToDate = ToDate.setDate(ToDate.getDate() - 1);
                return ToDate
            }
        }
        var ToDate = "";
        return ToDate
    }


</script> @* ToDateCalculation() *@
</div>