<div class="SubmitMonthlyAccounts_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Start.Models.AccountSubmissionModel
    <div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <div class="container-fluid pll prm" style="text-align: center">
                    <label id="Txt_Notify_SubmitAccounts" style="color:maroon">
                        Select months for which Accounts has been completed for Current Center in @ViewBag.YearName
                    </label>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <label id="lbl_SubmitAccounts" class="control-label">
                        Period of Accounts Submission:
                    </label>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-3">
            <div class="form-field">
                <div class="container-fluid section pll prm">
                    <div class="chk-box">
                        @*<input type="checkbox" name="group2" id="checkbox-1">
                            <label for="checkbox-1"><span class="checkbox1"> Apr</span></label>*@
                        @(Html.DevExtreme().CheckBox().ID("chk_Apr_SubmitAccounts").Name("chk_Apr_SubmitAccounts").Disabled(false).Value(false).ReadOnly(false).OnValueChanged("Chk_SelectedIndexChanged").Text("Apr '" + ViewBag.OpenYearOfFY))
                    </div>
                </div>
            </div>
        </div><!--[Apr]-->
        <div class="col-sm-3">
            <div class="form-field">
                <div class="container-fluid section pll prm">
                    <div class="chk-box">
                        @*<input type="checkbox" name="group2" id="checkbox-2">
                            <label for="checkbox-2"><span class="checkbox1"> May '2015</span></label>*@
                        @(Html.DevExtreme().CheckBox().ID("chk_May_SubmitAccounts").Name("chk_May_SubmitAccounts").OnValueChanged("Chk_SelectedIndexChanged").Text("May '" + ViewBag.OpenYearOfFY))
                    </div>
                </div>
            </div>
        </div><!--[May]-->

        <div class="col-sm-3">
            <div class="form-field">
                <div class="container-fluid section pll prm">
                    <div class="chk-box">
                        @*<input type="checkbox" name="group2" id="checkbox-3">
                            <label for="checkbox-3"><span class="checkbox1"> Jun '2015</span></label>*@
                        @(Html.DevExtreme().CheckBox().ID("chk_Jun_SubmitAccounts").Name("chk_Jun_SubmitAccounts").OnValueChanged("Chk_SelectedIndexChanged").Text("Jun '" + ViewBag.OpenYearOfFY))
                    </div>
                </div>
            </div>
        </div><!--[Jun]-->
        <div class="col-sm-3">
            <div class="form-field">
                <div class="container-fluid section pll prm">
                    <div class="chk-box">
                        @*<input type="checkbox" name="group2" id="checkbox-4">
                            <label for="checkbox-4"><span class="checkbox1"> Jul '2015</span></label>*@
                        @(Html.DevExtreme().CheckBox().ID("chk_Jul_SubmitAccounts").Name("chk_Jul_SubmitAccounts").OnValueChanged("Chk_SelectedIndexChanged").Text("Jul '" + ViewBag.OpenYearOfFY))
                    </div>
                </div>
            </div>
        </div><!--[Jul]-->
    </div><!--[1st row of months]-->
    <div class="row">
        <div class="col-sm-3">
            <div class="form-field">
                <div class="container-fluid section pll prm">
                    <div class="chk-box">
                        @*<input type="checkbox" name="group2" id="checkbox-5">
                            <label for="checkbox-5"><span class="checkbox1"> Aug '2015</span></label>*@
                        @(Html.DevExtreme().CheckBox().ID("chk_Aug_SubmitAccounts").Name("chk_Aug_SubmitAccounts").OnValueChanged("Chk_SelectedIndexChanged").Text("Aug '" + ViewBag.OpenYearOfFY))
                    </div>
                </div>
            </div>
        </div><!--[Aug]-->
        <div class="col-sm-3">
            <div class="form-field">
                <div class="container-fluid section pll prm">
                    <div class="chk-box">
                        @*<input type="checkbox" name="group2" id="checkbox-6">
                            <label for="checkbox-6"><span class="checkbox1"> Sep '2015</span></label>*@
                        @(Html.DevExtreme().CheckBox().ID("chk_Sep_SubmitAccounts").Name("chk_Sep_SubmitAccounts").Value(false).OnValueChanged("Chk_SelectedIndexChanged").Text("Sep '" + ViewBag.OpenYearOfFY))
                    </div>
                </div>
            </div>
        </div><!--[Sep]-->
        <div class="col-sm-3">
            <div class="form-field">
                <div class="container-fluid section pll prm">
                    <div class="chk-box">
                        @*<input type="checkbox" name="group2" id="checkbox-7">
                            <label for="checkbox-7"><span class="checkbox1"> Oct '2015</span></label>*@
                        @(Html.DevExtreme().CheckBox().ID("chk_Oct_SubmitAccounts").Name("chk_Oct_SubmitAccounts").OnValueChanged("Chk_SelectedIndexChanged").Text("Oct '" + ViewBag.OpenYearOfFY))
                    </div>
                </div>
            </div>
        </div><!--[Oct]-->
        <div class="col-sm-3">
            <div class="form-field">
                <div class="container-fluid section pll prm">
                    <div class="chk-box">
                        @*<input type="checkbox" name="group2" id="checkbox-8">
                            <label for="checkbox-8"><span class="checkbox1"> Nov '2015</span></label>*@
                        @(Html.DevExtreme().CheckBox().ID("chk_Nov_SubmitAccounts").Name("chk_Nov_SubmitAccounts").OnValueChanged("Chk_SelectedIndexChanged").Text("Nov '" + ViewBag.OpenYearOfFY))
                    </div>
                </div>
            </div>
        </div><!--[Nov]-->
    </div><!--[2nd row of months]-->
    <div class="row">
        <div class="col-sm-3">
            <div class="form-field">
                <div class="container-fluid section pll prm">
                    <div class="chk-box">
                        @*<input type="checkbox" name="group2" id="checkbox-9">
                            <label for="checkbox-9"><span class="checkbox1"> Dec '2015</span></label>*@
                        @(Html.DevExtreme().CheckBox().ID("chk_Dec_SubmitAccounts").Name("chk_Dec_SubmitAccounts").Value(false).OnValueChanged("Chk_SelectedIndexChanged").Text("Dec '" + ViewBag.OpenYearOfFY))
                    </div>
                </div>
            </div>
        </div><!--[Dec]-->
        <div class="col-sm-3">
            <div class="form-field">
                <div class="container-fluid section pll prm">
                    <div class="chk-box">
                        @*<input type="checkbox" name="group2" id="checkbox-10">
                            <label for="checkbox-10"><span class="checkbox1"> Jan '2016</span></label>*@
                        @(Html.DevExtreme().CheckBox().ID("chk_Jan_SubmitAccounts").Name("chk_Jan_SubmitAccounts").OnValueChanged("Chk_SelectedIndexChanged").Text("Jan '" + ViewBag.CloseYearofFY))
                    </div>
                </div>
            </div>
        </div><!--[Jan]-->
        <div class="col-sm-3">
            <div class="form-field">
                <div class="container-fluid section pll prm">
                    <div class="chk-box">
                        @*<input type="checkbox" name="group2" id="checkbox-11">
                            <label for="checkbox-11"><span class="checkbox1"> Feb '2016</span></label>*@
                        @(Html.DevExtreme().CheckBox().ID("chk_Feb_SubmitAccounts").Name("chk_Feb_SubmitAccounts").OnValueChanged("Chk_SelectedIndexChanged").Text("Feb '" + ViewBag.CloseYearofFY))
                    </div>
                </div>
            </div>
        </div><!--[Feb]-->
        <div class="col-sm-3">
            <div class="form-field">
                <div class="container-fluid section pll prm">
                    <div class="chk-box">
                        @*<input type="checkbox" name="group2" id="checkbox-12">
                            <label for="checkbox-12"><span class="checkbox1"> Mar '2016</span></label>*@
                        @(Html.DevExtreme().CheckBox().ID("chk_Mar_SubmitAccounts").Name("chk_Mar_SubmitAccounts").OnValueChanged("Chk_SelectedIndexChanged").Text("Mar '" + ViewBag.CloseYearofFY))
                    </div>
                </div>
            </div>
        </div><!--[March]-->
    </div><!--[3rd row of months]-->
    <div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <div class="container-fluid pll prm" style="text-align: center">
                    <label id="lbl_completion_SubmitAccounts" style="color:maroon">
                        <!--[Text here is Programatically Changed by ShowCompletedPeriodText()]-->
                    </label>
                </div>
            </div>
        </div>
    </div><!--[ lbl_Completion row]-->
</div>