<div class="SubmitReport_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @{

    }
    <style>
   /*     .dx-checkbox-text {
            width: 150px;
        }*/
    </style>
    <div>
        @using (Ajax.BeginForm("Frm_Submit_Report", "AccountSubmission",
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.InsertAfter,
                OnBegin = "AjaxBeginFormPost",
                OnSuccess = "ReportSubmit_Success"
            },
            new
            {
                id = "ReportSubmit_Form",
                @class = "edit_form"
            }))

        {
            @Html.AntiForgeryToken()
            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="full-width-header">
                    <div class="row">

                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Submit Report</h3>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="col-md-12" style="text-align:center">
                    <div class="form-field">
                        <div class="container-fluid">
                            <label class="control-label" id="Lbl_Txt_Center_Nane" style="color:#800000;font-weight:bolder;font-size:16pt">@ViewBag.Txt_Center_Name</label>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="container-fluid">
                            <label class="control-label" id="Lbl_Txt_Grade" style="color:#800000;font-weight:bolder;font-size:12pt">@ViewBag.Txt_Grade</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-7">
                        @(Html.DevExtreme().CheckBox().ID("chk_Verify_ReportSubmit").Name("chk_Verify_ReportSubmit").Text("Verify Center Audit").ReadOnly(ViewBag.Disabled).Value(ViewBag.chk_Verify))
                    </div>
                    <div class="col-md-5">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("SubmitReport_Save").Text("Submit").UseSubmitBehavior(true) )
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("Submit_Cancel").Text("Cancel").OnClick("Submit_Cancel_Click") )
                        </div>
                    </div>
                </div>


            }
        }
    </div>
    <script>
    $(document).ready(function () {
        $("#SubmitReport_Save").dxButton("instance").focus();
    });
    function Submit_Cancel_Click(e)
    {
        HidePopup("Dynamic_Content_popup");
    }
    function ReportSubmit_Success(data)
    {
        Submit_Cancel_Click();
        var Alert=DevExpress.ui.dialog.alert(data.message, "Information");
        if (data.logout == true)
        {
            Alert.done(function (result) //Redmine Bug#133624 fixed
            {
                if (result)
                {
                    ClearSessionStorage();
                    $.ajax({
                        type: 'GET',
                        url: "/Start/Login/Logout/@Request.Url.Query",
                        cache: false,
                        success: function (data)
                        {
                            ShowLoader();
                            window.location.href = "/Start/Login/Frm_Auditor_Login/";
                            HideLoader();

                        }

                    });
                }
            })
        }
    }
    </script>

</div>