
@model ConnectOneMVC.Areas.Stock.Models.Model_PersonnelMasterLeft_Window
@using DevExtreme.AspNet.Mvc;
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<style>
    .control-label {
        text-align: left !important;
    }
    /*.dx-button-has-text .dx-button-content {
        margin-right: 15px;
        padding: 2px 1px;
        min-width: 40px;
        padding-left: 19px;
    }*/
    .dx-texteditor-container {
        overflow: visible
    }
</style>
<div id="Frm_Personnel_PersonnelLeft_Content">
    @using (Ajax.BeginForm("Frm_PersonnelMasterLeft_Window", "PersonnelMaster",
                                              new AjaxOptions
                                              {
                                                  HttpMethod = "POST",
                                                  UpdateTargetId = "Frm_PersonnelMasterLeft_Window",
                                                  InsertionMode = InsertionMode.InsertAfter,
                                                  OnBegin = "AjaxBeginFormPost",
                                                  OnSuccess = "PersonnelMasterLeftAjaxSuccessForm"
                                              },
                                              new
                                              {
                                                  id = "PersonnelMasterleftvalidationForm",
                                                  @class = "edit_form"
                                              }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Personnelleft_JoiningDate)
        @Html.HiddenFor(x => x.Personnelleft_PersonnelID)

        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();
        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header">
                <div class="row">

                    <div class="col-sm-8 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i>Leaving Date For @Model.PersonnelLeft_Name </h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div>
            </div><!--[row]-->

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">
                        <div class="container-fluid pll prm">
                            <div class="row">
                                <div class="col-sm-2 ">
                                    @Html.LabelFor(model => model.Personnelleft_LeavingDate, htmlAttributes: new { @class = "control-label text-red" })
                                </div>
                                <div class="col-sm-10 plm">
                                    <div class="dx-texteditor dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().DateBoxFor(model => model.Personnelleft_LeavingDate).CustomDateBox().ID("Personnelleft_LeavingDate").Name("Personnelleft_LeavingDate").Placeholder("Enter Date").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).TabIndex(1))
                                            @Html.ValidationMessageFor(model => model.Personnelleft_LeavingDate, "", new { @class = "text-red " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().ID("PersonnelleftEdit").CustomSaveButton().Text("Save").FocusStateEnabled(true).TabIndex(2).UseSubmitBehavior(true) )
                        @(Html.DevExtreme().Button().ID("PersonnelleftCancel").CustomCloseButton().Text("Cancel").TabIndex(3).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )

                    </div>
                </div>
            </div><!--[Buttons]-->

   

        }
    }
</div>
<script>
    $(document).ready(function ()
    {
        setTimeout(function () {
            $("#Personnelleft_LeavingDate").dxDateBox("instance").focus();
        }, Timeout500);
    });
    </script>
