<div class="UserRegister_WinOptions_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    @using Common_Lib;
    @model ConnectOneMVC.Areas.Options.Models.Model_UserRegisterWindow
    @{
        ViewBag.Test = Model.ActionMethod;
        bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "View" || Model.ActionMethod.ToString().Trim() == "Delete") ? true : false;

    }

    @{
        Html.EnableClientValidation();
        Html.AntiForgeryToken();
        Html.EnableUnobtrusiveJavaScript();
    }
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
    <style>
            .wdfull {
                width: 100%;
            }

            td {
                width: auto;
            }

            .width1200px {
                width: 1200px;
            }

            .margT12 {
                margin-top: 12px !important;
            }

            .fs22 {
                font-size: 22px !important;
            }

            .overflow-scroll {
                overflow: auto !important;
            }

            /*.dxgvHeader_MetropolisBlue {
            background: transparent !important;
            cursor: default !important;
        }*/
    </style>

    <div id="Frm_UserRegister_Window_Content" class="edit_form">
        @using (Ajax.BeginForm("Frm_UserRegister_Window", "UserRegister",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "Frm_UserRegister_Window",
                InsertionMode = InsertionMode.InsertAfter,
                OnBegin = "AjaxBeginFormPost",
                OnSuccess = "UserRegisterAjaxSuccessForm"
            },
            new
            {
                id = "UserRegistervalidationForm",
                @class = "edit_form"
            }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.REC_ID)
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.selectGroups)
            @Html.HiddenFor(x => x.clientselectGroups)
            @Html.HiddenFor(x => x.clientpersonnelID)

            var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();

            using (Html.DevExtreme().ValidationGroup())
            {
                //Popup title serves this purpose
                <div class="container-fluid">

                    <div class="full-width-header-bg2">
                        <div class="row">
                            <div class="col-sm-8 pll">
                                <h3 class="popuphead"><i class="far fa-edit"></i> User Creation Screen</h3>
                            </div>
                            <div class="col-sm-4 prm">
                                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory </h5>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-red" })
                        </div>
                    </div><!--[Title and Heading]-->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                        @Html.LabelFor(model => model.clientpersonnelName, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-7 col-md-7 col-lg-7 prm">

                                        @(Html.DevExtreme().DropDownBox().CustomDropDown()
                                            .ID("clientpersonnelName").Name("clientpersonnelName").HoverStateEnabled(true)
                                            .OnInitialized("On_PersonName_Initialize").DisplayExpr("Name")
                                            .ValueExpr("ID").DataSource(d => d.Mvc().Controller("UserRegister")
                                            .LoadAction("LookUp_GetPersonnelName").Key("ID"))
                                            .Placeholder("Select Personnel Name... ").Disabled(IsVisible).ReadOnly(IsVisible)
                                            .OnValueChanged("LookUp_PersonnelName_ChangeEvent")
                                            .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } })
                                            .ContentTemplate(@<text> @Html.Partial("LookUp_GetPersonnelName") </text>)
                                        )           @*//Mantis bug 0000296 fixed*@@*Mantis bug 0000307 fixed*@@*Mantis bug 0001089 fixed*@

                                        @Html.ValidationMessageFor(model => model.clientpersonnelName, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        @(Html.DevExtreme().Button().ID("UserRegisterAddPersonal")
                                    .Disabled(IsVisible)
                                    .Text("Add Personnel")
                                    .OnClick(@<text>function () { UserRegister_AdPersonel("New")} </text>))@*0000182 bug fixed*@


                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Personnel Name]-->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-2 pll">
                                    @Html.LabelFor(model => model.clientsewaDepartment, htmlAttributes: new { @class = "control-label" })@*0000176 bug fixed*@
                                </div>
                                <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                    @(Html.DevExtreme().TextBox().CustomTextBox()
                                        .ID("clientsewaDepartment").Name("clientsewaDepartment")
                                        .Placeholder("Autofilled after selection of name")
                                        .MaxLength(100).ReadOnly(true) )
                                    @Html.ValidationMessageFor(model => model.clientsewaDepartment, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Sewa Department]-->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-2 pll">
                                    @Html.LabelFor(model => model.clientUsername, htmlAttributes: new { @class = "control-label text-red" })
                                </div>
                                <div class="col-sm-10 prm">
                                    @(Html.DevExtreme().TextBox().CustomTextBox()
                                        .ID("clientUsername").Name("clientUsername")
                                        .Placeholder("Enter UserName").ReadOnly(IsVisible)
                                        .Value(Model.clientUsername)
                                        .Disabled(IsVisible).ValidationError(true).MaxLength(100) )
                                    @Html.ValidationMessageFor(model => model.clientUsername, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 pll" id="Password_lbl_usrreg">
                                    @Html.LabelFor(model => model.Password_UserRegister, htmlAttributes: new { @class = "control-label text-red" })
                                </div>
                                <div class="col-sm-10 prm">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                        .ID("Password_UserRegister").Name("Password_UserRegister")
                                        .Placeholder("Enter Password").ReadOnly(IsVisible).Mode(TextBoxMode.Password)
                                        .Value(Model.Password_UserRegister).Visible(Model.ActionMethod != "New"? false: true)
                                        .Disabled(IsVisible).MaxLength(30)
                                    )
                                    @Html.ValidationMessageFor(model => model.Password_UserRegister, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 pll" id="Cnfrm_Password_lbl_usrreg">
                                    @Html.LabelFor(model => model.Confirm_Password_UserRegister, htmlAttributes: new { @class = "control-label text-red" })
                                </div>
                                <div class="col-sm-10 prm">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                        .ID("Confirm_Password_UserRegister").Name("Confirm_Password_UserRegister")
                                        .Placeholder("Confirm Password").ReadOnly(IsVisible).Visible(Model.ActionMethod != "New" ? false : true)
                                        .Value(Model.Confirm_Password_UserRegister).Mode(TextBoxMode.Password)
                                        .Disabled(IsVisible).MaxLength(30)
                                     )
                                    @Html.ValidationMessageFor(model => model.Confirm_Password_UserRegister, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[User Name]-->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-2 pll">
                                    @Html.LabelFor(model => model.clientEmailID, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-10 prm">
                                    @(Html.DevExtreme().TextBox().CustomTextBox()
                                        .ID("clientEmailID").Name("clientEmailID")
                                        .Placeholder("Autofilled after selection of name")
                                        .Value(Model.clientEmailID).ValidationError(true).ReadOnly(true).MaxLength(100) )
                                    @Html.ValidationMessageFor(model => model.clientEmailID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--[EmailID]-->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">

                            <div class="row">
                                <div class="col-sm-2 pll">
                                    @Html.LabelFor(model => model.clientMobileNo, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-10 prm">

                                    @(Html.DevExtreme().TextBox().CustomTextBox()
                                                .ID("clientMobileNo")
                                                .Name("clientMobileNo")
                                                .Placeholder("Autofilled after selection of name")
                                                .Value(Model.clientMobileNo).ValidationError(true).ReadOnly(true).MaxLength(100) )
                                    @Html.ValidationMessageFor(model => model.clientMobileNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--[Mobile No]-->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                    @Html.LabelFor(model => model.clientselectGroups, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm multipleSelection">
                                    <div class="dx-texteditor dx-textbox">
                                        <div id="UserRegister_clientselectGroups">
                                            @(Html.DevExtreme().List().CustomList().ID("clientselectGroupsList").Height(219)
                                                .OnInitialized("Groupinitialize").ShowSelectionControls(true)
                                                .DataSource(d => d.Mvc().Controller("UserRegister")
                                                .LoadAction("LookUp_GetGroupsMapped").Key("ID"))
                                                .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                                                .SearchExpr(new[] { "Group_Name" })
                                                .ItemTemplate(@<text><%=Group_Name %></text>).Disabled(IsVisible)
                                                .OnSelectionChanged("OnGroupSelectionChanged")
                                            )
                                            @Html.ValidationMessageFor(model => model.clientselectGroups, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    @(Html.DevExtreme().Button().ID("UserRegisterAddGroup")
                                        .Disabled(IsVisible).Text("Add Group")
                                        .OnClick(@<text>function () {UserRegister_AddGrup()} </text>))@*0000182 bug fixed*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Select Groups]-->

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                        <div class="row">
                                            <label class="control-label text-red">is Administrator :</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">

                                        @(Html.DevExtreme().RadioGroup().ID("clientIsAdminstrator")
                                            .Name("clientIsAdminstrator").Value(Model.clientIsAdminstrator)
                                            .Disabled(IsVisible).ReadOnly(IsVisible)
                                            .ActiveStateEnabled(true).DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal)
                                            .ValueExpr("value")
                                            .DataSource(new object[] {new { text = "Yes", value = true }, new { text = "No", value = false }, }//.Disabled(Model.AccountTypeStatus).ReadOnly(false)//.OnValueChanged("Central_Store_valueChanged")
                                            )
                                            )
                                        @Html.ValidationMessageFor(model => model.clientIsAdminstrator, "", new { @class = "text-red" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                        <div class="row">
                                            <label>Self Posted Only :</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        @(Html.DevExtreme().RadioGroup().ID("clientIsSelfPostedOnly")
                                            .Name("clientIsSelfPostedOnly").Value(Model.clientIsSelfPostedOnly)
                                            .Disabled(IsVisible).ReadOnly(IsVisible)
                                            .ActiveStateEnabled(true).DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal)
                                            .ValueExpr("value")
                                            .DataSource(new object[] {new { text = "Yes", value = true }, new { text = "No", value = false }, }//.Disabled(Model.AccountTypeStatus).ReadOnly(false)//.OnValueChanged("Central_Store_valueChanged")
                                            )
                                        )
                                        
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div><!--[clientIsAdminstrator]-->


                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="styleActionBtn">

                                @(Html.DevExtreme().Button().CustomSaveButton().Text(Model.ActionMethod=="Delete"?"Delete":"Save").ID("UserRegisterSave").UseSubmitBehavior(true).Visible(Model.ActionMethod == "View" ? false : true) )
                                @(Html.DevExtreme().Button().CustomCloseButton().ID("UserRegisterCancel").Text(Model.ActionMethod == "View" ? "Close" : "Cancel").OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                            </div>
                        </div>
                    </div><!--[Buttons]-->
                </div>
            }
        }

    </div>
    <script type="text/javascript">
    var Groupslistselectkey = [];
    var SelectedItem = "@Model.clientselectGroups";
    //var PersonnelNewright;
    //var GroupRegisterNewright;
    var form = "UserRegistervalidationForm";
    if (PersonnelNewright != true) { $("#UserRegister_AdPerson").hide(); }

    if (GroupRegisterNewright != true) { $("#UserRegister_AdGrup").hide(); }

    $(document).ready(function ()
    {
        TransformTextForDB("UserRegistervalidationForm");
        var rec_id = "@Model.REC_ID"

        ShowLoader_Ready();
        AssignIDtoLabel(form, "UserRegister");

        if ("@Model.clientpersonnelName".length > 0) $("#clientpersonnelName").dxDropDownBox("instance").option("value", parseInt("@Model.clientpersonnelID"));
        if ("@Model.ActionMethod" != "New") {
            document.getElementById("Password_lbl_usrreg").hidden = true;
            document.getElementById("Cnfrm_Password_lbl_usrreg").hidden = true;
        }

        if ("@Model.ActionMethod" == "Edit" && Number("@ViewBag.UserEntriesCount") > 0) {

            $("#clientUsername").dxTextBox("instance").option("readOnly", true);
        }
        setTimeout(function ()
        {
            if ("@Model.ActionMethod" == "View")
            {
                Set_Form_View_Delete_Mode("#000080", form);
            }
            else if ("@Model.ActionMethod" == "Delete")
            {
                Set_Form_View_Delete_Mode("#696969", form);
            }
            else
            {
                Focus_FirstEditable_Field(form);
            }

            HideLoader_Ready();
        }, Timeout500);
        sessionclearpath = "/Options/UserRegister/SessionClear_Window";
    });
    function UserRegister_AdPersonel(actionMethod)
    {
        if (!PersonnelNewright)
        {
            DevExpress.ui.dialog.alert('Not Allowed', 'No Rights');
            return;
        }
        $("#PersonnelMastervalidationForm").remove();
        $.ajax({
            type: "GET",
            url: "/Stock/PersonnelMaster/Frm_PersonnelMaster_Window",
            data: {
                ActionMethod: actionMethod,
                PostSucessFunction: "UserRegisterAddPersonnel_MasterAjaxSuccessForm",
                PopupName: "UserRegister_AddPersonnel_report_modal",
                ButtonID: "UserRegisterAddPersonal"
            },
            success: function (data)
            {
                ShowLoader();
                OpenPopup("UserRegister_AddPersonnel_report_modal", actionMethod + " ~ Personnel Master", null, "auto", 1150, true, data);
                HideLoader();
            }
        });
    }
    function UserRegisterAddPersonnel_MasterAjaxSuccessForm(data)
    {
        HideLoader();
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
        else
        {
            $("#UserRegister_AddPersonnel_report_modal").dxPopup("hide");
            $("#Frm_UserRegister_GetLookUp_PersonnelName_datagrid").dxDataGrid("instance").refresh();
            //$("#clientpersonnelName").dxDropDownBox("instance").getDataSource().reload();
        }
    }
    function UserRegister_AddGroupAjaxSuccessForm(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
        else {
            $("#UserRegister_AddGroup_report_modal").dxPopup("hide");
            $("#clientselectGroupsList").dxList("instance").reload();

        }
    }
    function UserRegister_AddGrup()
    {
        if (!GroupRegisterNewright)
        {
            DevExpress.ui.dialog.alert('Not Allowed', 'No Rights');
            return;
        }
        var Urlstring = "@Url.Action("Frm_GroupRegister_Window", "GroupRegister", new { @area = "Options" })?ActionMethod=New" + "&PopupName=UserRegister_AddGroup_report_modal" + "&PostSucessFunction=UserRegister_AddGroupAjaxSuccessForm";
        ShowLoader();
        OpenPopup("UserRegister_AddGroup_report_modal", "New ~ Group", Urlstring, "auto", "30%", false, null);
        HideLoader();
    } //Group Addition new click
    function UserRegisterAjaxSuccessForm(data)
    {
        HideLoader();
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.message, 'Error');
        }
        else
        {
            DevExpress.ui.dialog.alert(data.message, 'Success');
            $("#Dynamic_Content_popup").dxPopup("hide");
            
            var GridInstance = $('#UserRegisterListGrid_dx').data("dxDataGrid")
            if (GridInstance !== void 0) {
                UserRegisterListGrid_dx_Refresh();
            }
            else {
                UserRegisterListGrid.SetFocusedRowIndex(-1);
                UserRegisterListGrid.Refresh();
            }    
            HideLoader();
        }
    }
    function On_PersonName_Initialize(e)
    {
        e.component.option("dataSource").store.load().done(function (d)
        {
            @*e.component.option("value", "@Model.clientpersonnelID");*@
        });
    }//Mantis bug 0000307 fixed
    function LookUp_PersonnelName_ChangeEvent(e)
    {

        var dropDown = $("#clientpersonnelName").dxDropDownBox("instance");
        dropDown.close();
        if ("@Model.ActionMethod" == "New" || "@Model.ActionMethod" == "Edit")
        {
            var $dataGrid = $("#Frm_UserRegister_GetLookUp_PersonnelName_datagrid");

            if ($dataGrid.length)
            {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(dropDown.option("value"), false);

                if (dataGrid.getSelectedRowsData().length > 0)
                {
                    var item = dataGrid.getSelectedRowsData()[0];

                    $("#clientsewaDepartment").dxTextBox("instance").option("value", item["Main_Dept"]);
                    $("#clientEmailID").dxTextBox("instance").option("value", item["Email"]);
                    $("#clientMobileNo").dxTextBox("instance").option("value", item["Mobile_No"]);
                }
            }
        }
    }//Mantis bug 0000307 fixed
    function Groupinitialize(e) {
            var listBox = $("#clientselectGroupsList").dxList("instance");
            if ("@Model.ActionMethod" == "Edit" || "@Model.ActionMethod" == "View" || "@Model.ActionMethod" == "Delete")
            {
                Groupslistselectkey = "@Model.clientselectGroups".split(',');
                listBox.option("selectedItemKeys", Groupslistselectkey);
            }
    }//Listbox Initialize function 0000174 bug fixed
    function OnGroupSelectionChanged(e)
    {

        var listBox = $("#clientselectGroupsList").dxList("instance");

        if ("@Model.ActionMethod" == "Edit")
        {
            var currentselectedkeys = listBox.option("selectedItemKeys");
        }
        $("#selectGroups").val(listBox.option("selectedItemKeys").join(","));
    }// Listbox Selection Changed function
    </script>
</div>