<div class="UserReg_ExportOptions_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    <div>
        @*@(Html.DevExtreme().Button()
                            .ID("User_ExportGridDatapdf")
                            .Text("Export to PDF")
                            //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                            //.AccessKey("x")
                            .OnClick("ExportPDF")
                            .Visible(true)
                            .Width(240)//Mantis bug 0001023 fixed
        )<br />

            @(Html.DevExtreme().Button()
                            .ID("User_ExportGridDataxls")
                            .Text("Export to XLS")
                            //.Icon("fa-file-excel-o")
                            //.AccessKey("X")
                            .OnClick("ExportXLS")
                            .Visible(true)
                            .Width(240)//Mantis bug 0001023 fixed
        )<br />
            @(Html.DevExtreme().Button()
                            .ID("User_ExportGridDataxlsx")
                            .Text("Export to XLSX")
                            //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                            //.AccessKey("L")
                            .OnClick("ExportXLSX")
                            .Visible(true)
                            .Width(240)//Mantis bug 0001023 fixed
        )<br />

            @(Html.DevExtreme().Button()
                            .ID("User_ExportGridDatadocx")
                            .Text("Export to DOCX")
                            //.Icon("export_exporttodocx_16x16office2013")
                            //.AccessKey("D")
                            .OnClick("ExportDOCX")
                            .Visible(true)
                            .Width(240)//Mantis bug 0001023 fixed
        )<br />

            @(Html.DevExtreme().Button()
                            .ID("User_ExportGridDatartf")
                            .Text("Export to RTF")
                            //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                            //.AccessKey("R")
                            .OnClick("ExportRTF")
                            .Visible(true)
                            .Width(240)//Mantis bug 0001023 fixed
        )<br />

            @(Html.DevExtreme().Button()
                            .ID("User_ExportGridDatacsv")
                            .Text("Export to CSV")
                            //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                            //.AccessKey("C")
                            .OnClick("ExportCSV")
                            .Visible(true)
                            .Width(240)//Mantis bug 0001023 fixed
        )*@
        @(Html.DevExtreme().Button()
                        .ID("User_ExportGridDataxlsx")
                        .Text("Export to XLSX")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        //.AccessKey("L")
                        .OnClick("ExportXLSX_dx")
                        .Visible(true)
                        .Width(240)//Mantis bug 0001023 fixed
    )
    </div>
    <script>
        function ExportPDF() {
            UserRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#UserRegister_report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            UserRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#UserRegister_report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            UserRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#UserRegister_report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            UserRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#UserRegister_report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            UserRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#UserRegister_report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            UserRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#UserRegister_report_modal").dxPopup("hide");
        }
        function ExportXLSX_dx() {
            const workbook = new ExcelJS.Workbook();
            const worksheet = workbook.addWorksheet('Sheet');

            DevExpress.excelExporter.exportDataGrid({
                worksheet: worksheet,
                component: $("#UserRegisterListGrid_dx").dxDataGrid("instance"),
                autoFilterEnabled: true,
                customizeCell({ excelCell, gridCell }) {
                    if (gridCell.rowType === 'header') {
                        const columnDataField = gridCell.column.dataField;
                        if (columnDataField === 'iIcon') {
                            const Column = worksheet.getColumn(excelCell.col);
                            Column.width = 20;
                        }
                    }
                }
            }).then(function (exportRange) {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'UserRegisterListGrid_dx.xlsx');
                });
            });
            $("#UserRegister_report_modal").dxPopup("hide");
        }

    </script>


</div>