<div class="AttachmentsExport_ClearReferences">
@using DevExtreme.AspNet.Mvc;
    <div>
        @*@(Html.DevExtreme().Button().ID("Helpattachment_ExportGridDatapdf").Text("Export to PDF") .OnClick("ExportPDF").Visible(true).Width(120) )
        <br />
        @(Html.DevExtreme().Button().ID("Helpattachment_ExportGridDataxls").Text("Export to XLS") .OnClick("ExportXLS").Visible(true).Width(120) )
        <br />
        @(Html.DevExtreme().Button().ID("Helpattachment_ExportGridDataxlsx").Text("Export to XLSX") .OnClick("ExportXLSX").Visible(true).Width(120) )
        <br />
        @(Html.DevExtreme().Button().ID("Helpattachment_ExportGridDatadocx").Text("Export to DOCX") .OnClick("ExportDOCX").Visible(true).Width(120) )
        <br />
        @(Html.DevExtreme().Button().ID("Helpattachment_ExportGridDatartf").Text("Export to RTF") .OnClick("ExportRTF").Visible(true).Width(120) )
        <br />
        @(Html.Devxtreme().Button().ID("Helpattachment_ExportGridDatacsv").Text("Export to CSV") .OnClick("ExportCSV").Visible(true).Width(120) )*@
        @(Html.DevExtreme().Button().ID("Helpattachment_ExportGridDataxlsx").Text("Export to XLSX") .OnClick("ExportXLSX_dx").Visible(true).Width(120) )

    </div>
<script>
    function ExportPDF() {
        AttachmentListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        $("#Attachment_report_modal").dxPopup("hide");
    }
    function ExportXLS() {
        AttachmentListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
        $("#Attachment_report_modal").dxPopup("hide");
    }
    function ExportXLSX() {
        AttachmentListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        $("#Attachment_report_modal").dxPopup("hide");
    }
    function ExportCSV() {
        AttachmentListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
        $("#Attachment_report_modal").dxPopup("hide");
    }
    function ExportDOCX() {
        AttachmentListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
        $("#Attachment_report_modal").dxPopup("hide");
    }
    function ExportRTF() {
        AttachmentListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        $("#Attachment_report_modal").dxPopup("hide");
    }
    function ExportXLSX_dx() {
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Sheet');

        DevExpress.excelExporter.exportDataGrid({
            worksheet: worksheet,
            component: $("#AttachmentListGrid_dx").dxDataGrid("instance"),
            autoFilterEnabled: true,
            customizeCell({ excelCell, gridCell }) {
                if (gridCell.rowType === 'header') {
                    const columnDataField = gridCell.column.dataField;
                    if (columnDataField === 'iIcon') {
                        const Column = worksheet.getColumn(excelCell.col);
                        Column.width = 20;
                    }
                }
            }
        }).then(function (exportRange) {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'AttachmentListGrid_dx.xlsx');
            });
        });
        $("#Attachment_report_modal").dxPopup("hide");
    }

</script>
    </div>
