@using DevExtreme.AspNet.Mvc
<div class="container" id="container">
    <div class="row" style="padding: 10px 5px">
        <div class="col-6">

        </div>
        <div class="col-6 float-right">
            @(Html.DevExtreme().Button().ID("EvntMgtNew").Text("New").Icon("add").OnClick("draft_new_onclick"))
            @(Html.DevExtreme().Button().ID("EvntMgtEdit").Text("Edit").Icon("edit").OnClick("draft_Edit_onclick"))
            @(Html.DevExtreme().Button().ID("EvntMgtDelete").Text("Delete").Icon("trash").OnClick("draft_Delete_onclick"))
            @(Html.DevExtreme().Button().ID("EvntMgtPreview").Text("Preview").Icon("preview").OnClick("draft_Preview_onclick"))
            @(Html.DevExtreme().Button().ID("EvntMgtPublish").Text("Publish").Icon("publish").OnClick("draft_Publish_onclick"))            
        </div>

    </div>
    @Html.Action("Frm_Draft_Events_Grid") @*new { viewmode = Model.viewmode, wingid = Model.wingid, insid = Model.insid }*@
</div>
