
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.ServiceReport_ViewModel
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";

    var SessionGUID = Request.QueryString["SessionGUID"];
    var WingList = Model.WingListData;
    List<string> SelectedWing = new List<string>();
    if (Model.Wings_List_GSR != null) { SelectedWing = Model.Wings_List_GSR.Select(y => y.ID).ToList(); }
    if (string.IsNullOrWhiteSpace(Model.PreSelectedWing) == false)
    {
        SelectedWing.Add(Model.PreSelectedWing);
    }
}
<style>
    .spanMediaTab { word-wrap: break-word; }

    .GSRWing-list .dx-checkbox.dx-state-focused { background: #316ac5; color: #FFFFFF; }

    .ListOneRow .dx-scrollable { overflow-y: hidden }

    #TreePlantation_DG .dx-datagrid-total-footer > .dx-datagrid-content { padding-top: 0px; padding-bottom: 0px; }

    #TreePlantation_DG .dx-button-has-icon .dx-button-content { height: 18px; padding-left: 22px; }

    #TreePlantation_DG .dx-button-has-text .dx-button-content { min-width: 26px; padding-right: 5px; }

    #TreePlantation_DG h5 { margin-top: 1px; }

    #TreePlantation_DG .dx-toolbar .dx-toolbar-items-container { height: 20px; }

    #TreePlantation_DG .dx-datagrid-header-panel .dx-toolbar { margin-bottom: 4px; }

    #TreePlantation_DG .dx-row-removed .dx-datagrid-validator { color: grey !important; text-decoration: line-through; }

    #TreePlantation_DG .dx-datagrid-invalid { background-color: lightpink !important; }

    #Txt_Period_Date_GSR.dx-state-readonly, #Txt_Period_Time_GSR.dx-state-readonly, #Txt_TotalProgBeneficiaries_GSR.dx-state-readonly { border: none; background: #ECF3FB; }

    #Txt_Period_Date_GSR input, #Txt_Period_Time_GSR input, #Txt_TotalProgBeneficiaries_GSR input { text-align: center !important; }

    .dx-datagrid-header-panel .dx-toolbar { margin-bottom: 0px; }
    a { cursor: pointer; }
    form.edit_form .form-field.evc_hd { background: #1D499A }
    .evc_hd h5 { font-size: 16px; margin: 5px 2px; color: #fff }
    .prog_img { width: 42px; height: 42px; border: 1px solid #9fcdfc; margin: 5px; object-fit: cover; float: left; }
</style>
<div id="GodlyServiceReportWindow_DIV">
    <form id="ServiceReportForm" class="edit_form form-horizontal">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.PopupName_GSR)
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.Tag)
        @Html.HiddenFor(x => x.Info_LastEditedOn)
        @Html.HiddenFor(x => x.LastEditedOn)
        @Html.HiddenFor(x => x.TitleX_GSR)
        @Html.HiddenFor(x => x.xID_GSR)
        @Html.HiddenFor(x => x.ReporterCenID)
        @Html.HiddenFor(x => x.ReporterEmail)
        @Html.HiddenFor(x => x.ReporterMobile)
        @Html.HiddenFor(x => x.DocumentNameID)
        @Html.HiddenFor(x => x.Chk_WingBasedFlag_GSR)
        @Html.HiddenFor(x => x.SelectedActivities_GSR)
        @Html.HiddenFor(x => x.ProgType_ID_GSR)
        @Html.HiddenFor(x => x.ProgType_Text_GSR)
        @Html.HiddenFor(x => x.ProgOccasion_Text_GSR)

        <div class="container-fluid">
            <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-8" style="padding: 0 5px;">
                        <h3 class="popuphead"><i class="fas fa-calendar-alt"></i> Create an Event</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align">
                            <i class="fas fa-info-circle"></i> Red Fields are mandatory
                        </h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">

                        <div class="row">
                            <div class="col-sm-12 form-field evc_hd">
                                <h5><i class="fa fa-info-circle"></i> Event General Info</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    <div class="row">
                                        <img src="https://www.yiwubazaar.com/resources/assets/images/default-product.jpg" class="prog_img" />
                                        @Html.Label("Program Banner (बैनर)", htmlAttributes: new { @class = "control-label text-red" })<br />
                                        @(Html.DevExtreme().Button().ID("Banner_Add_GSR").Text("Upload Banner Image").UseSubmitBehavior(false).OnClick("Banner_Add_GSR_Click").Disabled(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 form-field">
                                @Html.Label("Program Date (प्रोग्राम तिथि) ", htmlAttributes: new { @class = "text-red control-label" })
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                @Html.Label("From: ", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-5">
                                                @(Html.DevExtreme().DateBoxFor(x => x.DE_FR_DT_GSR).CustomDateBox().ID("DE_FR_DT_GSR").Name("DE_FR_DT_GSR").OnValueChanged("Date_EditValueChanged_GSR").Min(new DateTime(1900, 01, 01)))
                                            </div>
                                            <!--</div>--><!---[Date From:]--->
                                            <!--<div class="row">-->
                                            <div class="col-sm-1">
                                                @Html.Label("To: ", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-5">
                                                @(Html.DevExtreme().DateBoxFor(x => x.DE_TO_DT_GSR).CustomDateBox().ID("DE_TO_DT_GSR").Name("DE_TO_DT_GSR").Min(new DateTime(1900, 01, 01)).OnValueChanged("Date_EditValueChanged_GSR") )
                                            </div>
                                        </div><!---[Date To:]--->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 form-field">
                                @Html.Label("Program Time (प्रोग्राम का समय)", htmlAttributes: new { @class = "text-red control-label" })
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                @Html.Label("From: ", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-5">
                                                @(Html.DevExtreme().DateBox().Type(DateBoxType.Time).ID("Txt_Fr_Time_GSR").Name("Txt_Fr_Time_GSR").OnValueChanged("Time_EditValueChanged_GSR").Value(Model.Txt_Fr_Time_GSR).DisplayFormat("hh:mm a").UseMaskBehavior(true).Placeholder("hh:mm AM/PM"))
                                            </div>
                                            <!--</div>--><!---[Time From:]--->
                                            <!--<div class="row">-->
                                            <div class="col-sm-1">
                                                @Html.Label("To: ", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-5">
                                                @(Html.DevExtreme().DateBox().Type(DateBoxType.Time).ID("Txt_To_Time_GSR").Name("Txt_To_Time_GSR").OnValueChanged("Time_EditValueChanged_GSR").Value(Model.Txt_To_Time_GSR).DisplayFormat("hh:mm a").UseMaskBehavior(true).Placeholder("hh:mm AM/PM") )
                                            </div>
                                        </div><!---[Time To:]--->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    @Html.Label("Venue", htmlAttributes: new { @class = "control-label text-red" })
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_MasterProject_GSR").Name("Look_MasterProject_GSR").Placeholder("Select Venue").DataSource(Model.MasterProjectNameList, "ID").OnValueChanged("Look_MasterProjList_EditValueChanged_GSR").DisplayExpr("Name").ValueExpr("ID").Value(Model.Look_MasterProject_GSR).ShowClearButton(false).SearchMode(DropDownSearchMode.Contains))
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    @Html.Label("Geeta Pathshala", htmlAttributes: new { @class = "control-label text-red" })
                                    <small class="pull-right">
                                        <a><b>+ Add</b></a> |
                                        <a><b>Manage</b></a>
                                    </small>
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("GP_GSR").Name("GP_GSR").Placeholder("Select Geeta Pathshala").DataSource(Model.MasterProjectNameList, "ID").OnValueChanged("Look_MasterProjList_EditValueChanged_GSR").DisplayExpr("Name").ValueExpr("ID").Value(Model.Look_MasterProject_GSR).ShowClearButton(false).SearchMode(DropDownSearchMode.Contains))

                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    @Html.Label("Venue Coordinates", htmlAttributes: new { @class = "control-label text-red " })
                                    <small class="pull-right"><a><b>Capture Current Coordinates</b></a></small>
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Current_Coordinates_GSR").Name("Current_Coordinates_GSR").Value(Model.Txt_ProgName_GSR).Placeholder("Venue Coordinates..."))
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div class="form-field">
                                    @Html.Label("Venue Address", htmlAttributes: new { @class = "control-label text-red " })
                                    @(Html.DevExtreme().TextBoxFor(model => model.Txt_ProgVenue_GSR)
                                    .ID("Txt_ProgVenue_GSR")
                                    .Name("Txt_ProgVenue_GSR")
                                    .Placeholder("Type Program Venue (Place of organizing program)...")
                                    .Value(Model.Txt_ProgVenue_GSR)
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } }))
                                </div>
                            </div>
                           
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field" style="padding: 16px 10px 11px;">
                                    <div id="DX-Google" class="dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text" aria-label="Add" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">View on Google Maps</span></div></div>
                                </div>
                            </div>
                        </div><!---[Event General Info End]--->


                        <div class="row">
                            <div class="col-sm-12 form-field evc_hd">
                                <h5><i class="fa fa-list-alt"></i> Event Details</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    @Html.Label("Program Name (प्रोग्राम का नाम)", htmlAttributes: new { @class = "control-label text-red " })
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_ProgName_GSR").Name("Txt_ProgName_GSR").Value(Model.Txt_ProgName_GSR).Placeholder("Type Program Name..."))
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    @Html.Label("Master Project (मुख्य प्रोजैक्ट)", htmlAttributes: new { @class = "control-label text-red" })
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_MasterProject_GSR").Name("Look_MasterProject_GSR").Placeholder("Select Master Project Name...").DataSource(Model.MasterProjectNameList, "ID").OnValueChanged("Look_MasterProjList_EditValueChanged_GSR").DisplayExpr("Name").ValueExpr("ID").Value(Model.Look_MasterProject_GSR).ShowClearButton(false).SearchMode(DropDownSearchMode.Contains))
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    @Html.Label("Project Name (प्रोजैक्ट का नाम)", htmlAttributes: new { @class = "control-label text-red" })
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_ProjList_GSR").Name("Look_ProjList_GSR").Placeholder("Select Project Name...").DataSource(Model.ProjectNameList, "ID").OnValueChanged("Look_ProjList_EditValueChanged_GSR").DisplayExpr("Name").ValueExpr("ID").Value(Model.Look_ProjList_GSR).ShowClearButton(false).SearchMode(DropDownSearchMode.Contains))

                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div class="form-field">
                                    @Html.Label("Expected Guests (with Designation) (अनुमानित अतिथि (पद सहित))", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
                                    @(Html.DevExtreme().TextBox()
                                                    .ID("Txt_GuestName_1_GSR")
                                                    .Name("Txt_GuestName_1_GSR")
                                                    .ReadOnly(false)
                                                    .Placeholder("Type Guests Name (comma separated with Designation)...")
                                                    .Value(Model.Txt_GuestName_1_GSR)
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
                    )
                                </div>
                            </div>


                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    @Html.Label("Occasion (अवसर)", htmlAttributes: new { @class = "control-label text-red" })
                                    <br /><select style="height:22px"><option>Multiselect dropdown devexpress</option></select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-field">
                                    @Html.Label("Speaker(s) (वक्ता)", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
                                    @(Html.DevExtreme().TextBox()
                                                    .ID("Txt_ProgSpeaker_GSR")
                                                    .Name("Txt_ProgSpeaker_GSR")
                                                    .ReadOnly(false)
                                                    .Placeholder("Type Speaker Details...")
                                                    .Value(Model.Txt_ProgSpeaker_GSR)
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
                    )
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    @Html.Label("Category", htmlAttributes: new { @class = "control-label text-red" })
                                    <br /><select style="height:22px"><option>Multiselect dropdown devexpress</option></select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    <label id="lbl_beneficiary_GSR" class="text-red control-label">Expected Beneficiaries Count (अनुमानित लाभ लेने वाले की संख्या)</label>
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_ProgBeneficiaries_GSR").Name("Txt_ProgBeneficiaries_GSR").Max(999999999).Value(Model.Txt_ProgBeneficiaries_GSR)
                  .OnValueChanged("Txt_ProgBeneficiaries_EditValueChanged_GSR").Format("#").Placeholder("Type No. of Beneficiaries...").OnInput("Txt_ProgBeneficiaries_OnInput") )
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    @Html.Label("Audience Type", htmlAttributes: new { @class = "control-label text-red" })
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Audience_Type_GSR").Name("Audience_Type_GSR").Placeholder("Select Audience Type").DataSource(Model.MasterProjectNameList, "ID").OnValueChanged("Look_MasterProjList_EditValueChanged_GSR").DisplayExpr("Name").ValueExpr("ID").Value(Model.Look_MasterProject_GSR).ShowClearButton(false).SearchMode(DropDownSearchMode.Contains))
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    @Html.Label("Event Mode", htmlAttributes: new { @class = "control-label text-red" })
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Event_Mode_GSR").Name("Event_Mode_GSR").Placeholder("Select Event Mode").DataSource(Model.MasterProjectNameList, "ID").OnValueChanged("Look_MasterProjList_EditValueChanged_GSR").DisplayExpr("Name").ValueExpr("ID").Value(Model.Look_MasterProject_GSR).ShowClearButton(false).SearchMode(DropDownSearchMode.Contains))
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-field">
                                    @Html.Label("Event Rating", htmlAttributes: new { @class = "control-label text-red" })
                                    <br /><select style="height:22px"><option>Devexpress Rating plugin</option></select>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-field">
                                    <label class="control-label" style="font-weight:500">Wings Involved (शामिल विंग्स) ** (Please Skip If there is no wing)</label>
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_Wings_GSR").Name("Look_Wings_GSR").Placeholder("Select Wings...").Value(SelectedWing.ToArray()).DataSource(Model.WingListData, "ID")
.ValueExpr("ID").DisplayExpr("Name").ContentTemplate(@<text>
                    @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Wings_GSR_datagrid")
                                   .Columns(columns =>
                                   {
                                       columns.Add().DataField("Name").Caption("Wings");
                                       columns.Add().DataField("ID").Caption("ID").Visible(false).SortingMethod("sortWingType_GSR").SortOrder(SortOrder.Asc);
                                   })
                                   .OnRowClick("DG_OnRowClick_GSR")
                                   .Selection(s => s.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always).AllowSelectAll(false))
                                   .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys);};}"))
                    </text>).OnValueChanged("Wings_ValueChange_GSR"))
                                    @{
                                        @Html.Hidden("WingListData_Count", WingList.Count)
                                        for (int i = 0; i < WingList.Count; i++)
                                        {
                                            @Html.Hidden("Wings_List_GSR[" + i + "].ID", WingList[i].ID)
                                            @Html.Hidden("Wings_List_GSR[" + i + "].Selected")
                                        }
                                    }
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-field">

                                    @*<label class="control-label pll" style="font-weight: 500; color: #6952C2; padding-top: 5px">   Note: To add new line press "Enter" Key...</label>*@
                                    <div class="row">
                                        <label class="control-label" style="font-weight:500">Live/Recording/Promo/News Link (लाइव/रिकॉर्डिंग/प्रोमो/समाचार लिंक)</label>
                                        @(Html.DevExtreme().TextBox().ID("Txt_NewsLink_GSR").Name("Txt_NewsLink_GSR").Value(Model.Txt_NewsLink_GSR).ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
                                                                              .Placeholder("Provide YouTube or other link if any...") )
                                    </div>
                                </div>
                            </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-field">

                                        @Html.Label("Brief of the Program (कार्यक्रम का संक्षिप्त विवरण)", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                                        @(Html.DevExtreme().TextArea()
                                                    .ID("Txt_ProgBrief_GSR")
                                                    .Name("Txt_ProgBrief_GSR")
                                                    .ReadOnly(false)
                                                    //.Height(200)
                                                    .Height(56)
                                                    .Placeholder("Type Brief of the Program...")
                                                    .Value(Model.Txt_ProgBrief_GSR)
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
                    )

                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div class="form-field clearfix">
                                        <div class="pull-left">
                                            @Html.Label("Event Related Folders/Promo/Docs (तस्वीरें/वीडियो)", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                                            @(Html.DevExtreme().Button().ID("Banner_Pictures_GSR").Text("Upload Promo Pics/Videos/Docs").UseSubmitBehavior(false).OnClick("Pictures_Add_GSR_Click").Disabled(Model.ActionMethod=="_Delete"|| Model.ActionMethod == "_View"))
                                            @*@(Html.DevExtreme().Button().ID("Promo_Add_GSR").Text("Upload Promo ").UseSubmitBehavior(false).OnClick("Promo_Add_GSR_Click").Disabled(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))*@
                                            @*@(Html.DevExtreme().Button().ID("PressRelease_Add_GSR").Text("Add").UseSubmitBehavior(false).OnClick("PressRelease_Add_GSR_Click").Disabled(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))*@
                                        </div>
                                        <div class="col-sm-9 spanMediaTab pull-left">
                                            <span id="span_Pictures_GSR">@Model.ProgramPictures_GSR</span>
                                            <img src="https://www.yiwubazaar.com/resources/assets/images/default-product.jpg" class="prog_img">
                                            <img src="https://www.yiwubazaar.com/resources/assets/images/default-product.jpg" class="prog_img">
                                            <img src="https://www.yiwubazaar.com/resources/assets/images/default-product.jpg" class="prog_img">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!---[Event Event Details]--->


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-field">

                                        <div class="row">
                                            <div class="col-sm-12 form-field evc_hd">
                                                <h5><i style="transform:rotate(90deg)" class="fa fa-phone-square"></i> Service Contact details</h5>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-sm-3 col-md-3 col-lg-3 form-field">
                                                @Html.Label("Service Contact Info (सेवा संपर्क जानकारी) ", htmlAttributes: new { @class = "text-red control-label" })
                                                <br />
                                                <input type="radio" name="sci" /> Centre
                                                &nbsp;
                                                <input type="radio" name="sci" /> Service Responsible Person
                                            </div>

                                            <div class="col-sm-4 col-md-4 col-lg-4 form-field">
                                                @Html.Label("Service Responsible Person (जिम्मेवार सेवाधारी) ", htmlAttributes: new { @class = "text-red control-label" })
                                                <small class="pull-right">
                                                    <a><b>+ Add</b></a> |
                                                    <a><b>Edit</b></a>
                                                </small>
                                                @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("SRP_GSR").Name("SRP_GSR").Placeholder("Select Responsible Person").DataSource(Model.MasterProjectNameList, "ID").OnValueChanged("Look_MasterProjList_EditValueChanged_GSR").DisplayExpr("Name").ValueExpr("ID").Value(Model.Look_MasterProject_GSR).ShowClearButton(false).SearchMode(DropDownSearchMode.Contains))

                                            </div>

                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-field">
                                                    @Html.Label("Contact Number", htmlAttributes: new { @class = "control-label text-red " })
                                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Contact_Number_GSR").Name("Contact_Number_GSR").Value(Model.Txt_ProgName_GSR).Placeholder("Responsible Person Contact Number..."))
                                                </div>
                                            </div>

                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-field">
                                                    @Html.Label("Email ID", htmlAttributes: new { @class = "control-label text-red " })
                                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Email_ID_GSR").Name("Email_ID_GSR").Value(Model.Txt_ProgName_GSR).Placeholder("Responsible Person Email ID..."))
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>
                            </div> <!--[Tabs]-->
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-field">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                                <label class="control-label text-red">If you face any problem in this screen, please email it to </label><a href="mailto:saurabh@bkivv.org"> saurabh@bkivv.org</a>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="styleActionBtn">
                                                    @(Html.DevExtreme().Button().CustomSaveButton().ID("Save_GSR").Text(Model.ActionMethod == "_Delete" ? "Yes" : "Save").FocusStateEnabled(true).UseSubmitBehavior(false).Visible(true) )
                                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("Cancel_GSR").Text(Model.ActionMethod == "_Delete" ? "No" : "Cancel").OnClick(@<text> function () { close_GSR(); } </text>).Visible(String.IsNullOrEmpty(Model.ReporterCenID) ? true : false) )
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--[Buttons]-->

                        </div>


    </form>
</div>
<script>
        var Tag_GSR = "@Model.ActionMethod";
</script>
@*Global Variables*@
<script>
    function ProgramCategoryCustomItemCreating_GSR(e) {
        if (e.text == null || e.text.length == 0) {
            e.customItem = null;
            return;
        }
        var Items = e.component.option("items");
        Items.push(e.text);
        Items.sort(function (a, b) {
            return a.toLowerCase().localeCompare(b.toLowerCase());
        });
        e.component.option("items", Items);
        e.customItem = e.text;
    }
    function AddCustomDataToType_GSR(text) {
        var ProgType = $("#Look_ProgType_GSR").dxSelectBox("instance");
        var Items = ProgType.option("items");
        if (Items.includes(text) == false) {
            Items.push(text);
            Items.sort(function (a, b) {
                return a.toLowerCase().localeCompare(b.toLowerCase());
            });
            ProgType.option("items", Items);
            ProgType.option("value", text);
        }
    }
    async function ProgType_ValueChange_GSR(e, FirstCall = false) {
        var value;
        var DG = $("#ProgType_GSR_datagrid").dxDataGrid("instance");
        if (e) {
            value = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                DG.clearSelection();
                DG.refresh();
                return;
            }
        }
        else {
            value = $("#Look_ProgType_GSR").dxDropDownBox("option", "value");
        }
        await DG.selectRows(value);
        DG.refresh();
    }
    function GSR_NextClick(e) {
        var TabPanel = $("#tabPanel_GSR").dxTabPanel("instance")
        if (ValidateForm(null, "ServiceReportValidator")) {
            var selectedIndex = TabPanel.option("selectedIndex");
            if (selectedIndex == 4) {
                TabPanel.option("selectedIndex", 0);
            }
            else {
                TabPanel.option("selectedIndex", selectedIndex + 1);
            }
        }
        else {
            TabPanel.option("selectedIndex", 0)
        }
    }
    function Main_TabControl_SelectedPageChanged_GSR(e) {
        var title = e.addedItems[0].title;
        var selectedIndex = e.component.option("selectedIndex");
        $("#Next_GSR").dxButton("instance").option("icon", "chevrondoubleright");
        if (Tag_GSR == "_New" || Tag_GSR == "_Edit") {
            $("#Save_GSR").dxButton("instance").option("visible", false);
        }
        if (title == "Program") {
            $("#Look_MasterProject_GSR").dxSelectBox("focus");
        }
        else if (title == "Wing") {
            $("#Chk_WingBasedFlag_GSR").dxCheckBox("focus");
        }
        else if (title == "Brief") {
            $("#Txt_ProgBrief_GSR").dxTextArea("focus");
        }
        else if (title == "Guest") {
            $("#Txt_GuestName_1_GSR").dxTextBox("focus");
        }
        else if (title == "Special Moments") {
            $("#Txt_ProgSpecialMom_GSR").dxTextArea("focus");
        }
        else if (title == "Follow Up") {
            $("#Txt_ProgFollowUp_GSR").dxTextArea("focus");
        }
        else if (title == "Feedback") {
            $("#Txt_ProgFeedback_GSR").dxTextArea("focus");
            $("#Next_GSR").dxButton("instance").option("icon", "chevrondoubleleft");
            if (Tag_GSR != "_View") {
                $("#Save_GSR").dxButton("instance").option("visible", true);
            }
        }
        else if (title == "Testimonials") {
            $("#Txt_VVIPTestimonial_GSR").dxTextArea("focus");
        }
        else if (title == "Media") {

        }
        //if (selectedIndex == 0) {
        //    $("#Look_ProjList_GSR").dxSelectBox("focus");
        //}
        //else if (selectedIndex == 1) {
        //    $("#Txt_ProgBrief_GSR").dxTextArea("focus");
        //}
        //else if (selectedIndex == 2) {
        //    $("#Txt_GuestName_1_GSR").dxTextBox("focus");
        //}
        //else if (selectedIndex == 3) {
        //    $("#Txt_ProgSpecialMom_GSR").dxTextArea("focus");
        //}
        //else if (selectedIndex == 4) {
        //    $("#Txt_ProgFollowUp_GSR").dxTextArea("focus");
        //}
        //else if (selectedIndex == 5) {
        //    $("#Txt_ProgFeedback_GSR").dxTextArea("focus");
        //}
        //else if (selectedIndex == 6) {
        //    $("#Txt_VVIPTestimonial_GSR").dxTextArea("focus");
        //}
        //else if (selectedIndex == 7) {
        //    $("#Next_GSR").dxButton("instance").option("icon", "chevrondoubleleft");
        //    if (Tag_GSR != "_View") {
        //        $("#Save_GSR").dxButton("instance").option("visible", true);
        //    }
        //}
    }
    function Txt_ProgBeneficiaries_EditValueChanged_GSR(e) {
        if (e.value < 0) {
            $("#Txt_ProgBeneficiaries_GSR").dxNumberBox("instance").option("value", 0);
            return;
        }
        $("#Txt_TotalProgBeneficiaries_GSR").dxNumberBox("instance").option("value", (e.value + ($("#Txt_OnlineProgBeneficiaries_GSR").dxNumberBox("instance").option("value"))));
    }
    function Txt_OnlineProgBeneficiaries_EditValueChanged_GSR(e) {
        if (e.value < 0) {
            $("#Txt_OnlineProgBeneficiaries_GSR").dxNumberBox("instance").option("value", 0);
            return;
        }
        $("#Txt_TotalProgBeneficiaries_GSR").dxNumberBox("instance").option("value", (e.value + ($("#Txt_ProgBeneficiaries_GSR").dxNumberBox("instance").option("value"))));
    }
    function Chk_WingBasedFlag_CheckedChanged_GSR(e, FirstCall = false) {
        //var value = $('#Chk_WingBasedFlag_GSR').dxCheckBox("option", "value");
        var value = $("#Chk_WingBasedFlag_GSR").val();
        if (value == "true") {
            if (FirstCall == false) {
                $('.custom-checkbox-list.GSRWing-list .dx-checkbox').each(function (i, item) {
                    var id = $(item).attr("id");
                    $("#" + id).dxCheckBox("instance").option("readOnly", false);
                    $("#" + id).dxCheckBox("instance").option("value", false);
                })
            }
        }
        else {
            if (FirstCall == false) {
                $('.custom-checkbox-list.GSRWing-list .dx-checkbox').each(function (i, item) {
                    var id = $(item).attr("id");
                    $("#" + id).dxCheckBox("instance").option("value", false);
                    $("#" + id).dxCheckBox("instance").option("readOnly", true);
                })
            }
        }
    }

    function Date_EditValueChanged_GSR(e) {
        var FromDate = $("#DE_FR_DT_GSR").dxDateBox("instance").option("value");
        var ToDate = $("#DE_TO_DT_GSR").dxDateBox("instance").option("value");
        var result = "";
        if (isValidDate(FromDate) && isValidDate(ToDate)) {
            var diff = getDifferenceInDays(FromDate, ToDate);
            if (diff >= 0) {
                result = (diff + 1) + " day(s).";
            }
            else {
                result = (diff - 1) + " day(s).";
            }
        }
        else {
            result = "";
        }
        $("#Txt_Period_Date_GSR").dxTextBox("instance").option("value", result);
        if (isValidDate(ToDate) && ToDate > new Date()) {
            $("#lbl_beneficiary_GSR").text("Expected Beneficiaries:");
        }
        else {
            $("#lbl_beneficiary_GSR").text("No. of Beneficiaries:");
        }
    }
    function Time_EditValueChanged_GSR(e) {
        var FrTime = $("#Txt_Fr_Time_GSR").dxDateBox("instance").option("value");
        var ToTime = $("#Txt_To_Time_GSR").dxDateBox("instance").option("value");
        var result = "";
        var hour = "";
        var minutes = "";
        if (FrTime != null && ToTime != null && (ToTime >= FrTime)) {
            var data = getDiffinHrMin(FrTime, ToTime);
            hour = data[0];
            minutes = data[1];
        }
        else {
            FrTime = "";
            ToTime = "";
        }
        if (FrTime.toString().length >= 7 && ToTime.toString().length >= 7) {
            result = (hour != "0" ? hour + (hour != "1" ? " hrs" : " hr") : "") +
                (minutes != "0" ? (hour != "0" ? ", " : "") + minutes + " min" : "") + ".";
        }
        else {
            result = "";
        }
        $("#Txt_Period_Time_GSR").dxTextBox("instance").option("value", result);
    }
    function Look_ProjList_EditValueChanged_GSR(e) {
        if (e.value == null) {
            $("#Look_ProjList_GSR").dxSelectBox("instance").option("value", e.previousValue);
        }
    }
    function Look_MasterProjList_EditValueChanged_GSR(e) {
        if (e.value == null) {
            $("#Look_MasterProject_GSR").dxSelectBox("instance").option("value", e.previousValue);
        }
    }
    function Txt_ProgBeneficiaries_OnInput(e) {
        var inputElement = e.jQueryEvent.target;
        if (inputElement.value.length > 9)
            inputElement.value = inputElement.value.slice(0, 9);
    }
    function sortProgType_GSR(value1, value2) {
        var grid = $("#ProgType_GSR_datagrid").dxDataGrid("instance");
        var isSelected1 = grid.isRowSelected(value1),
            isSelected2 = grid.isRowSelected(value2);

        if (isSelected1 && !isSelected2) return -1;
        if (!isSelected1 && isSelected2) return 1;

        return 0;
    }
    async function Wings_ValueChange_GSR(e) {
        var value;
        var DG = $("#Wings_GSR_datagrid").dxDataGrid("instance");
        if (e) {
            value = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                DG.clearSelection();
                DG.refresh();
                return;
            }
        }
        else {
            value = $("#Look_Wings_GSR").dxDropDownBox("option", "value");
        }
        await DG.selectRows(value);
        DG.refresh();
    }
    function sortWingType_GSR(value1, value2) {
        var grid = $("#Wings_GSR_datagrid").dxDataGrid("instance");
        var isSelected1 = grid.isRowSelected(value1),
            isSelected2 = grid.isRowSelected(value2);

        if (isSelected1 && !isSelected2) return -1;
        if (!isSelected1 && isSelected2) return 1;

        return 0;
    }
    function DG_OnRowClick_GSR(e) {
        if (e.isSelected) {
            e.component.deselectRows(e.key);
        }
        else {
            e.component.selectRows(e.key, true);
        }
    }
    function sortProgOccasion_GSR(value1, value2) {
        var grid = $("#ProgOccasion_GSR_datagrid").dxDataGrid("instance");
        var isSelected1 = grid.isRowSelected(value1),
            isSelected2 = grid.isRowSelected(value2);

        if (isSelected1 && !isSelected2) return -1;
        if (!isSelected1 && isSelected2) return 1;

        return 0;
    }
    async function ProgOccasion_ValueChange_GSR(e, FirstCall = false) {
        var value;
        var DG = $("#ProgOccasion_GSR_datagrid").dxDataGrid("instance");
        if (e) {
            value = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                DG.clearSelection();
                DG.refresh();
                return;
            }
        }
        else {
            value = $("#Look_ProgOccasion_GSR").dxDropDownBox("option", "value");
        }
        await DG.selectRows(value);
        DG.refresh();
    }
</script>
@*ValueChange and Button Click functions*@
<script>
        $(document).ready(async function ()
        {
            ShowLoader_Ready();
            $("#Chk_WingBasedFlag_GSR").val("true");
            $("#Look_ProgType_GSR").find("input").addClass("CleanTextForDB");
            if ("@Model.ReporterCenID".length > 0)
            {
                $("#GodlyServiceReportWindow_DIV").addClass("MainScreen_WOLogin")
            }
            if (Tag_GSR != "_View")
            {
                dontaskpopupcloseconfirmation = false;
                sessionclearpath = "/Facility/ServiceReport/SessionClear_Window";
            }
            TransformTextForDB("ServiceReportForm");
          /*  $("#Txt_Period_Date_GSR,#Txt_Period_Time_GSR").find('input').addClass("disabletxt");    */
            if (Tag_GSR == "_Edit" || Tag_GSR == "_Delete")
            {
                @*if ("@Model.Look_ProgType_GSR".length > 0)
                {
                    AddCustomDataToType_GSR("@Model.Look_ProgType_GSR");
                }*@
                Date_EditValueChanged_GSR();
                Time_EditValueChanged_GSR();
                if ("@Model.SelectedActivities_GSR".length > 0)
                {
                    ActivitiesSelectionChange_GSR();
                }
                ProgType_ValueChange_GSR();
                ProgOccasion_ValueChange_GSR();
            }
            Wings_ValueChange_GSR();
            //Chk_WingBasedFlag_CheckedChanged_GSR(null, true);
            Set_Form_View_Delete_Mode(null, "ServiceReportForm", Tag_GSR);
            HideLoader_Ready();
        });
        async function GSR_SaveClick(e)
        {
            ShowLoader();
            var form = $("#ServiceReportForm");
            if (ValidateForm(e))
            {
                if (Tag_GSR == "_Delete")
                {
                    HideLoader();
                    DeleteAfterConfirmation("@Model.TitleX_GSR", "", form);
                }
                else
                {
                    if (GSR_Is_Document_Attached == false  && Tag_GSR == "_New") {
                        var alertclick = DevExpress.ui.dialog.alert("Attach Program Pictures/Videos/Press Release/Banner/Promo", "Information");
                        alertclick.done(function (alertResult) {
                            HideLoader();
                            /*  $("#tabPanel_GSR").dxTabPanel("instance").option("selectedIndex", 3)*/
                            $("#Banner_Pictures_GSR").dxButton("focus");
                        });
                        return;
                    }
                    //if (GSR_Is_Document_Attached == false && IsNullOrWhitespace("Txt_MediaLink_GSR") && Tag_GSR=="_New")
                    //{
                    //    var alertclick = DevExpress.ui.dialog.alert("Either Attach Program Pictures/Videos/Press Release/Banner/Promo<br> Or Mention Media Google Drive / Other Link", "Information");
                    //    alertclick.done(function (alertResult)
                    //    {
                    //        HideLoader();
                    //      /*  $("#tabPanel_GSR").dxTabPanel("instance").option("selectedIndex", 3)*/
                    //        $("#Txt_MediaLink_GSR").dxTextBox("focus");
                    //    });
                    //    return;
                    //}
                    $("#Chk_WingBasedFlag_GSR").val("false");
                    var SelectedWingValue = $("#Look_Wings_GSR").dxDropDownBox("instance").option("value");
                    if (SelectedWingValue != null && SelectedWingValue.length > 0)
                    {
                        $("#Chk_WingBasedFlag_GSR").val("true");
                    }
                    //$('.custom-checkbox-list.GSRWing-list .dx-checkbox').each(function (i, item)
                    //{
                    //    var id = $(item).attr("id");
                    //    if ($("#" + id).dxCheckBox("instance").option("value"))
                    //    {
                    //        $("#Chk_WingBasedFlag_GSR").val("true");
                    //        return false;
                    //    }
                    //})
                    var WingCount = parseInt($("#WingListData_Count").val());
                    for (var i = 0; i < WingCount; i++)
                    {
                        var wingID = $("#Wings_List_GSR_" + i + "__ID").val();
                        if (SelectedWingValue.includes(wingID))
                        {
                            $("#Wings_List_GSR_" + i + "__Selected").val("true");
                        }
                    }
                    $("#ProgType_ID_GSR").val(($("#Look_ProgType_GSR").dxDropDownBox("instance").option("value")).join("!["));
                    $("#ProgType_Text_GSR").val($("#Look_ProgType_GSR").dxDropDownBox("instance").option("text"));
                    $("#ProgOccasion_Text_GSR").val($("#Look_ProgOccasion_GSR").dxDropDownBox("instance").option("text"));
                    var TreePlantation_DG = $("#TreePlantation_DG").dxDataGrid("instance");
                    if ($("#SelectedActivities_GSR").val().includes("Tree Plantation"))
                    {
                        if (TreePlantation_DG.hasEditData())
                        {
                            var DataGridRows = $("#TreePlantation_DG .dx-data-row"); //deleting empty rows
                            TreePlantation_DG.beginUpdate();
                            for (var j = 0; j < DataGridRows.length; j++)
                            {
                                var Tree = TreePlantation_DG.cellValue(j, 0);
                                var Count = String(TreePlantation_DG.cellValue(j, 1));
                                if ((Tree == null || Tree.trim().length == 0) && (Count == null || Count.trim().length == 0 || Count == "undefined"))
                                {
                                    TreePlantation_DG.deleteRow(j);
                                }
                            }
                            TreePlantation_DG.endUpdate();
                        }
                        if (TreePlantation_DG.hasEditData())
                        {
                            await TreePlantation_DG.saveEditData();
                            if (TreePlantation_DG.hasEditData())
                            {
                              /*  $("#tabPanel_GSR").dxTabPanel("instance").option("selectedIndex", 0);*/
                                DevExpress.ui.dialog.alert("Highlighted Cells Have Wrong Tree/Plant Plantation Details.", "Information").done(function ()
                                {
                                    if ($("#TreePlantation_DG .dx-datagrid-invalid").length > 0)
                                    {
                                        $("#TreePlantation_DG .dx-datagrid-invalid").eq(0).click();
                                    }
                                });
                                HideLoader();
                            }
                            else
                            {
                               form.submit();
                            }
                        }
                        else
                        {
                            form.submit();
                        }
                    }
                    else
                    {
                        if (TreePlantation_DG.hasEditData())
                        {
                            TreePlantation_DG.cancelEditData();
                        }
                        form.submit();
                    }
                }
            }
            else
            {
                HideLoader();
               // $("#tabPanel_GSR").dxTabPanel("instance").option("selectedIndex", 0)
            }
        }
        function close_GSR()
        {
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
        function Frm_Service_Report_Window_AjaxSuccessForm(data)
        {
            HideLoader();
            dontaskpopupcloseconfirmation = true;
            if (data.jsonParam.result == false)
            {
                if (data.jsonParam.closeform)
                {
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
                if (data.jsonParam.refreshgrid)
                {
                     RefreshGridView("ServiceReportListGrid");
                }
                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertclick.done(function (alertResult)
                {
                    if (alertResult)
                    {
                        if (data.jsonParam.focusid)
                        {
                            var id = "#" + data.jsonParam.focusid;
                            if (data.jsonParam.focusid == "Wings_List_GSR")
                            {
                              /*  $("#tabPanel_GSR").dxTabPanel("instance").option("selectedIndex", 0);*/
                            }
                            else
                            {
                               /* $("#tabPanel_GSR").dxTabPanel("instance").option("selectedIndex", 0);*/
                            }
                            setTimeout(function ()
                            {
                                if (id == "#Txt_ProgVenue_GSR")
                                {
                                    $("#Txt_ProgVenue_GSR").dxTextArea("focus");
                                }
                                else
                                {
                                    $(id).find('input').focus();
                                }
                            }, 100);
                        }
                    }
                });
            }
            else if (data.jsonParam.result == true)
            {
                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertclick.done(function ()
                {
                    if ("@Model.ReporterCenID".length == 0)
                    {
                        if ($(".TabPanalMenu-tabs .active").attr("id") == "contact_Frm_Service_Report_Info")
                        {
                            AfterWindowClose_GSR(Tag_GSR, data.xID);
                        }
                        $("#Dynamic_Content_popup").dxPopup("hide");
                    }
                    else
                    {
                        $.ajax({
                            type: 'GET',
                            url: "/Facility/ServiceReport/SessionClear_Window",
                            cache: false
                        });
                        if ("@Model.ReporterEmail".length > 0)
                        {
                            window.open("Frm_Service_Report_Response?sender="+"@Model.Sender"+"&RecID="+"@Model.xID_GSR", "_self");
                        }
                        else
                        {
                            window.open("Frm_Service_Event_Details?RecID="+"@Model.xID_GSR", "_self");
                        }
                    }
                })
            }
        }
</script>
@*Document.ready and AjaxSuccess Functions*@
<script>
        function Banner_Add_GSR_Click(e) {
            //GSR_Attachment_DirectBrowse("Program Banner")
            GSR_Attachment_DirectBrowse("")
        }
        function Promo_Add_GSR_Click(e) {
            //GSR_Attachment_DirectBrowse("Program Promo")
            GSR_Attachment_DirectBrowse("")
        }
        function Pictures_Add_GSR_Click(e) {
            //GSR_Attachment_DirectBrowse("Program Pictures And Videos")
            GSR_Attachment_DirectBrowse("")
        }
        function Videos_Add_GSR_Click(e) {
            //GSR_Attachment_DirectBrowse("Program Videos")
            GSR_Attachment_DirectBrowse("")
        }
        function PressRelease_Add_GSR_Click(e) {
            //GSR_Attachment_DirectBrowse("Program Press Release")
            GSR_Attachment_DirectBrowse("")
        }

        var GSR_Attached_FileName;
        var GSR_Attach_RefRecId = "@Model.xID_GSR";
        var GSR_Attach_RefScreen = "Facility_ServiceReport";
        var GSR_Attach_DocName_ID = "@Model.DocumentNameID";
        var GSR_Attach_uploadErrorDuetohtml = false;
        var GSR_uploadErrorDuetoFileCount = false;
        var GSR_DocumentDescription;
        var GSR_Is_Document_Attached = false;

        var GSR_FilesSelectedCount = 0;
        var GSR_FileUploadSuccessCount = 0;
        var GSR_FileUploadStart = false;
        function GSR_Attachment_DirectBrowse(DocumentDescription)
        {
            GSR_DocumentDescription = DocumentDescription;
            $("#GSR_myFile").dxFileUploader("instance").reset();
            document.getElementById('GSR_DirectBrowse_Form').getElementsByClassName('dx-fileuploader-button')[0].click();
        }
        function GSR_Attch_Start_Upload(e)
        {
            if (GSR_uploadErrorDuetoFileCount == true)
            {
                e.request.abort();
            }
            if (GSR_FileUploadStart == true)
            {
                ShowLoader("Uploading File", false);
                GSR_FileUploadStart = false;
            }
            //if ((e.file.type).includes("html"))
            //{
            //    GSR_Attach_uploadErrorDuetohtml = true;
            //    e.request.abort();
            //}
        }
        function GSR_Attach_UploadError(e)
        {
            HideLoader();
            console.log(e.error);
            console.log(e.event);
            console.log(e.file);
            var message = "";
            if (GSR_Attach_uploadErrorDuetohtml == true) {
                GSR_Attach_uploadErrorDuetohtml = false;
                message = "<b>Html files are not allowed</b><br>";
            }
            if (e.error.statusText.length > 0)
            {
                message = message + e.error.status + ": " + e.error.statusText + "<br>";
            }
            GSR_FilesSelectedCount = GSR_FilesSelectedCount - 1;
            if (GSR_uploadErrorDuetoFileCount == false)
            {
                DevExpress.ui.dialog.alert(message + GSR_Attached_FileName + "<br>Did Not Upload<br>Kindly Check The File", 'Upload Error..');
            }
        }
        function GSR_fileUploader_valueChanged(e)
        {
            var files = e.value;
            GSR_FilesSelectedCount = files.length;
            if (GSR_FilesSelectedCount > 25)
            {
                GSR_uploadErrorDuetoFileCount = true;
                DevExpress.ui.dialog.alert("You Have Selected " + GSR_FilesSelectedCount + " Files To Upload<br><b>More Than 25 Files Cannot Be Uploaded At Once<b>", 'Upload Error..');
                //$.each(files, function (index, value)
                //{
                //    e.element.find(".dx-fileuploader-files-container .dx-fileuploader-cancel-button")
                //        .eq(index)
                //        .trigger("dxclick");
                //});
                return;
            }
            if (files.length > 0)
            {
                var totalContent = 0;        
                var NotAllowedFilePresent = false;
                for (var i = 0; i < files.length; i++)
                {
                    var ErrMsg = PreventFileUpload(files[i])
                    if (ErrMsg != null && ErrMsg.length > 0)
                    {
                        NotAllowedFilePresent = true;
                        DevExpress.ui.dialog.alert(ErrMsg, 'Upload Error..');
                        break;
                    }          
                    else
                    {
                        totalContent = totalContent + files[i].size
                    }
                }
                if (NotAllowedFilePresent == true)
                {
                    $("#GSR_myFile").dxFileUploader("instance").reset();
                    return;
                }
                if (totalContent < 524288000)
                {
                    ShowLoader("Uploading File", false);
                    GSR_FileUploadStart = true;
                    GSR_Attached_FileName = files[0].name;
                    var formdata = new FormData($('#GSR_DirectBrowse_Form').get(0));
                    formdata.append('Help_Document_FileName', GSR_Attached_FileName);
                    formdata.append('Help_Document_NameID', GSR_Attach_DocName_ID);
                    formdata.append('Help_Byte_SessionName', "GsrAttachment");
                    formdata.append('Help_Post_Area_Name', "Help");
                    formdata.append('Help_Post_Controller_Name', "Attachment");
                    formdata.append('Help_REF_REC_ID', GSR_Attach_RefRecId);
                    formdata.append('Help_REF_SCREEN', GSR_Attach_RefScreen);
                    formdata.append('Help_Document_Description', GSR_DocumentDescription);
                    formdata.append('Help_Checked', false);
                    formdata.append('Help_uploadControlName', "GSR_myFile");
                    formdata.append('Help_uploadControlActionMethod', "New");
                    $.ajax({
                        xhr: function ()
                        {
                            var xhr = new window.XMLHttpRequest();

                            // Upload progress
                            xhr.upload.addEventListener("progress", function (evt)
                            {
                                if (evt.lengthComputable)
                                {
                                    var percentComplete = ((evt.loaded / evt.total) * 100).toFixed();
                                    var message = "Uploading File: " + percentComplete + "%";
                                    if (percentComplete == "100")
                                    {
                                        message = "Writing Files To Disk...";
                                    }
                                    ChangeTextOfLoader(message);
                                }
                            }, false);

                            // Download progress
                            //xhr.addEventListener("progress", function (evt) {
                            //    if (evt.lengthComputable) {
                            //        var percentComplete = ((evt.loaded / evt.total) * 100).toFixed(2);
                            //        // Do something with download progress
                            //        console.log(percentComplete);
                            //    }
                            //}, false);

                            return xhr;
                        },
                        type: 'POST',
                        url: "/Help/Attachment/Frm_Attachment_Window",
                        cache: false,
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            HideLoader();
                            if (data.result) {
                                var result = DevExpress.ui.dialog.alert(data.Message, "Success");
                                result.done(function (dialogResult) {
                                    if (dialogResult) {
                                        var spanEle;
                                        switch (GSR_DocumentDescription) {
                                            case "Program Banner":
                                                spanEle = $("#span_Banner_GSR");
                                                break;
                                            case "Program Promo":
                                                spanEle = $("#span_Promo_GSR");
                                                break;
                                            case "Program Pictures":
                                                spanEle = $("#span_Pictures_GSR");
                                                break;
                                            case "Program Videos":
                                                spanEle = $("#span_Videos_GSR");
                                                break;
                                            case "Program Press Release":
                                                spanEle = $("#span_PressRelease_GSR");
                                                break;
                                            case "Program Pictures And Videos":
                                                spanEle = $("#span_Pictures_GSR");
                                                break;

                                        }
                                        var filename = spanEle.text();
                                        if (IsNullOrWhitespace(null, null, data.FileList) == false) {
                                            if (filename.length == 0) {
                                                filename = data.FileList;
                                            }
                                            else {
                                                filename = filename + ", " + data.FileList;
                                            }
                                            GSR_Is_Document_Attached = true;
                                        }
                                        spanEle.text(filename);
                                    }
                                });
                            }
                            else {
                                DevExpress.ui.dialog.alert(data.Message, "Error");
                            }
                            $.ajax({
                                type: 'GET',
                                url: "/Help/Attachment/Sessionclear?ByteSessionVariable=GsrAttachment",
                                cache: false
                            });
                            GSR_FileUploadSuccessCount = 0;
                        },
                        error: function (jqXHR, textStatus, errorThrown)
                        {
                            HideLoader();
                            console.log(jqXHR);
                            console.log(textStatus);
                            console.log(errorThrown);
                            DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                        }
                    });
                }
                else
                {
                    DevExpress.ui.dialog.alert("You Have In Total Selected <b>" + formatBytes(totalContent) + "</b> To Upload<br><b>Upto 1 GB Can Be Uploaded At Once<b>", 'Upload Error..');
                }
            }
            else
            {
                GSR_Attached_FileName = "";
            }
            GSR_uploadErrorDuetoFileCount = false;
        }
        function GSR_FileUploaded(e)
        {
            GSR_FileUploadSuccessCount++;
        }
</script>
<script>
        function ActivitiesSelectionChange_GSR(e)
        {
            var listBox = $("#ActivitiesList_GSR").dxList("instance");
            var selecteditemkey = listBox.option("selectedItemKeys")
            if (selecteditemkey != null && selecteditemkey.length > 0)
            {
                $("#SelectedActivities_GSR").val(selecteditemkey.join("!["))
                $(".ActivitiesDetail_GSR").show();
                if (selecteditemkey.includes("Deaddiction"))
                {
                    $(".Deaddiction").show();
                }
                else
                {
                    $(".Deaddiction").hide();
                }
                if (selecteditemkey.includes("Tree Plantation"))
                {
                    $(".TreePlantation").show();
                    if (Tag_GSR == "_New") {
                        if ($("#TreePlantation_DG").dxDataGrid("instance").hasEditData() == false) {
                            $("#TreePlantation_DG").dxDataGrid("instance").addRow();
                            $("#TreePlantation_DG").dxDataGrid("instance").addRow();
                            $("#TreePlantation_DG").dxDataGrid("instance").addRow();
                            $("#TreePlantation_DG").dxDataGrid("instance").addRow();
                            $("#TreePlantation_DG").dxDataGrid("instance").addRow();
                            $("#TreePlantation_DG").dxDataGrid("instance").editCell(0, 0);
                        }
                        else {
                            $("#TreePlantation_DG").dxDataGrid("instance").editCell(0, 0);
                        }
                    }
                }
                else
                {
                    $(".TreePlantation").hide();
                }
            }
            else
            {
                $("#SelectedActivities_GSR").val("");
                $(".Activity_GSR").hide();
                $(".ActivitiesDetail_GSR").hide();
            }
        }
        function GetTreeData_GSR(e) { return Trees_GSR; }
        function createCustomStore_GSR()
        {
            return DevExpress.data.AspNet.createStore({
                key: "Srno",
                loadUrl: "/Facility/ServiceReport/GetTreePlantationDetails",
                updateUrl: "/Facility/ServiceReport/UpdateTreePlantationDetails",
                insertUrl: "/Facility/ServiceReport/InsertTreePlantationDetails",
                deleteUrl: "/Facility/ServiceReport/DeleteTreePlantationDetails"
            });
        }
        function TreePlantation_ToolBarPreparing(e)
        {
            var toolbarItems = e.toolbarOptions.items;
          /*  toolbarItems.push({ location: 'before', html: "<h5>Tree/Plant Plantation Details:</h5>" })*/
            var addRowButton = toolbarItems.find(x => x.name === "addRowButton");
            if (addRowButton)
            {
                addRowButton.options.text = "Add Tree Plantation Detail";
                addRowButton.showText = "always";
            }
            var saveButton = toolbarItems.find(x => x.name === "saveButton");
            if (saveButton)
            {
                saveButton.options.text = "Save Tree Plantation Details Changes";
                saveButton.showText = "always";
                saveButton.visible = false;
            }
            var revertButton = toolbarItems.find(x => x.name === "revertButton");
            if (revertButton) {
                revertButton.options.text = "Discard Tree Plantation Details Changes";
                revertButton.showText = "always";
                revertButton.visible = false;
            }
        }
        function TreeTypeValidation(params)
        {
            console.log(params)
            return $.ajax({
            url: '@Url.Action("CheckUniqueTreeType", "ServiceReport")',
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                ID: params.value
            })
            });
        }
        function TreePlantation_EditorPreparing(e)
        {
            if (e.dataField === "TreeMiscID" && e.parentType === "dataRow")
            {
                e.editorOptions.placeholder = "Select Planted Tree/Plant Type...";
            }
            if (e.dataField === "Count" && e.parentType === "dataRow") {
                e.editorOptions.placeholder = "Enter Count Of Trees/Plants Planted...";
            }
        }
</script>
