@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.ServiceReport_ViewModel



<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-field">
            @Html.Label("Guest Name (And Designation) (अतिथि का नाम (और पद))", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
            @(Html.DevExtreme().TextArea()
                                                    .ID("Txt_GuestName_1_GSR")
                                                    .Name("Txt_GuestName_1_GSR")
                                                    .ReadOnly(false)
                                                    .Height(45)
                                                    .Placeholder("Type Guest Name (And Designation)...")
                                                    .Value(Model.Txt_GuestName_1_GSR)
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
                    )
        </div>
    </div>
    @*<div class="col-sm-7 col-md-7 col-lg-7">
            <div class="form-field">
                @Html.Label("Guest Name:", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_GuestName_1_GSR").Name("Txt_GuestName_1_GSR").Placeholder("Type Guest Name...").Value(Model.Txt_GuestName_1_GSR) )
            </div>
        </div>

        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="form-field">
                @Html.Label("Designation:", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
                @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                .ID("Txt_GuestDesig_1_GSR")
                                                .Name("Txt_GuestDesig_1_GSR")
                                                .Placeholder("Type Guest Designation...")
                                                .Value(Model.Txt_GuestDesig_1_GSR)
                            )
            </div>
        </div>*@
    <div class="col-sm-6">
        <div class="form-field">

            @Html.Label("Speaker (वक्ता)", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
            @(Html.DevExtreme().TextArea()
                                                    .ID("Txt_ProgSpeaker_GSR")
                                                    .Name("Txt_ProgSpeaker_GSR")
                                                    .ReadOnly(false)
                                                    .Height(45)
                                                    .Placeholder("Type Speaker Details...")
                                                    .Value(Model.Txt_ProgSpeaker_GSR)
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
                    )

        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-sm-7 col-md-7 col-lg-7">
        <div class="form-field">
            @Html.Label("Guest Name:", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_GuestName_2_GSR").Name("Txt_GuestName_2_GSR").Placeholder("Type Guest Name...").Value(Model.Txt_GuestName_2_GSR) )

        </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
        <div class="form-field">
            @Html.Label("Designation:", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_GuestDesig_2_GSR")
                                            .Name("Txt_GuestDesig_2_GSR")
                                            .Placeholder("Type Guest Designation...").Value(Model.Txt_GuestDesig_2_GSR)
                    )
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-7 col-md-7 col-lg-7">
        <div class="form-field">
            @Html.Label("Guest Name:", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_GuestName_3_GSR")
                                            .Name("Txt_GuestName_3_GSR")
                                            .Placeholder("Type Guest Name...").Value(Model.Txt_GuestName_3_GSR)
                            )

        </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
        <div class="form-field">
            @Html.Label("Designation:", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_GuestDesig_3_GSR")
                                            .Name("Txt_GuestDesig_3_GSR")
                                            .Placeholder("Type Guest Designation...").Value(Model.Txt_GuestDesig_3_GSR)
                    )
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-7 col-md-7 col-lg-7">
        <div class="form-field">
            @Html.Label("Guest Name:", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_GuestName_4_GSR")
                                            .Name("Txt_GuestName_4_GSR")
                                            .Placeholder("Type Guest Name...").Value(Model.Txt_GuestName_4_GSR)
                            )
        </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
        <div class="form-field">
            @Html.Label("Designation:", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_GuestDesig_4_GSR")
                                            .Name("Txt_GuestDesig_4_GSR")
                                            .Placeholder("Type Guest Designation...").Value(Model.Txt_GuestDesig_4_GSR)
                    )
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-7 col-md-7 col-lg-7">
        <div class="form-field">
            @Html.Label("Guest Name:", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_GuestName_5_GSR")
                                            .Name("Txt_GuestName_5_GSR")
                                            .Placeholder("Type Guest Name...").Value(Model.Txt_GuestName_5_GSR)
                            )
        </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
        <div class="form-field">
            @Html.Label("Designation:", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_GuestDesig_5_GSR")
                                            .Name("Txt_GuestDesig_5_GSR")
                                            .Placeholder("Type Guest Designation...").Value(Model.Txt_GuestDesig_5_GSR)
                    )
        </div>
    </div>
</div>*@
@*<div class="row">
    <div class="col-sm-12">
        <div class="form-field">

            @Html.Label("Speaker :", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
            @(Html.DevExtreme().TextArea()
                                                    .ID("Txt_ProgSpeaker_GSR")
                                                    .Name("Txt_ProgSpeaker_GSR")
                                                    .ReadOnly(false)
                                                    .Height(35)
                                                    .Placeholder("Type Speaker Details...")
                                                    .Value(Model.Txt_ProgSpeaker_GSR)
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
                    )

        </div>
    </div>
</div>*@
@*<div class="row">
    <div class="col-sm-12">
        <label class="control-label" style="font-weight: 500; color: #6952C2">Note: To add new line press "Enter" key...</label>
    </div>
</div>*@

<script>
    //$("#Txt_GuestName_1_GSR,#Txt_GuestName_2_GSR,#Txt_GuestName_3_GSR,#Txt_GuestName_4_GSR,#Txt_GuestName_5_GSR,#Txt_GuestDesig_1_GSR,#Txt_GuestDesig_2_GSR,#Txt_GuestDesig_3_GSR,#Txt_GuestDesig_4_GSR,#Txt_GuestDesig_5_GSR").bind('input', function (ev)
    //{
    //    var $target = $(ev.target);
    //    setTimeout(function ()
    //    {
    //        //get the value of the input text
    //        var data = $target.val();
    //        //replace the special characters to ''
    //        var dataFull = data.replace(/[^a-z A-Z()-]/gi, '');
    //        //set the new value of the input text with required characters
    //        $target.val(dataFull);
    //    });
    //});// Bug #133643 fixed
    </script>