@using DevExtreme.AspNet.Mvc;

@{
    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
    string Sender = (string)ViewBag.sender;
    string BannerSource = Url.Content("~/Content/image/ServiceReport/" + (Sender.Length > 0 ? Sender : "connectone") + ".jpg");
    string text = "";
    string Mobile = ViewBag.Mobile;
    string CenID = ViewBag.CenID;
    string Email = ViewBag.Email;
    string cen_name = ViewBag.cen_name;
    string projId = ViewBag.projId;
    string wingId = ViewBag.wingId;
    string OriginPath = System.Web.Configuration.WebConfigurationManager.AppSettings["OriginPath"].ToString();
    switch (Sender)
    {
        case "amritmahotsav":
            text = "आज़ादी के अमृत महोत्सव सम्बंधित सेवा समाचार डालने के लिए निम्नलिखित फॉर्म भरें :";
            break;
        case "jaljanabhiyan":
            text = "जल-जन अभियान सम्बंधित सेवा समाचार डालने के लिए निम्नलिखित फॉर्म भरें :";
            projId = "27ceb033-df55-4e42-a3f6-a47da222b224"; //jal jan abhiyan project
            //projId = "32dbec86-7708-435c-b25b-914386af7644";
            break;
        case "yogaday":
            text = "अंतर्राष्ट्रीय योग दिवस सम्बंधित सेवा समाचार डालने के लिए निम्नलिखित फॉर्म भरें :";
            projId = "f16bcf7c-67bc-467a-815a-b838652f8424"; //International Yoga Day project      
            break;
        case "blooddonation":
            text = "Universal Brotherhood Blood Donation Drive 2025 सम्बंधित सेवा समाचार डालने के लिए निम्नलिखित फॉर्म भरें :";
            projId = "3038ffd2-9a1a-4beb-a1c7-bdab8f2b8cf9";
            break;
        case "socialwing":
            text = "Social Service Wing सम्बंधित सेवा समाचार डालने के लिए निम्नलिखित फॉर्म भरें :";
            wingId = "00010";
            break;
        case "juristwing":
            text = "National Jurist Campaign Value Based Justice सम्बंधित सेवा समाचार डालने के लिए निम्नलिखित फॉर्म भरें :";
            wingId = "00001";
            projId = "970e92ec-323e-47ed-af10-0e844b781e83";
            //projId = "5b840463-d38e-4c2d-ac59-8b83683e3d0e";  //test
            break;
        default:
            text = "सेवा समाचार डालने के लिए निम्नलिखित फॉर्म भरें :";
            break;
    }
}


<style>  

    .amrit-wrap {
        padding: 15px;
    }

    .ServiceReport_Form {
        max-width: 500px;
        margin: 0 auto;
        padding: 15px;
        background: rgba(255,255,255,.6);
        border-radius: 6px;
    }

    .dx-texteditor-input {
        font-size: 14px;
    }

    .dx-texteditor.dx-editor-outlined, .dx-textbox .dx-texteditor-input {
        height: 30px !important;
        margin-bottom: 10px;
    }

    .dx-textbox .dx-texteditor-input {
        border: none;
        border-radius: 5px;
        box-shadow: none;
        color: #333;
    }
    #ServiceReporter_Bannerimg
    {
        object-fit:contain;
    }
</style>

<div class="amrit-wrap mt-3" style="padding-top:30px">
    <form class="ServiceReport_Form" id="ServiceReport_Reporter_Form">
        <img id="ServiceReporter_Bannerimg" src="@BannerSource" style="width:100%" />
        <div style="padding-top:10px">
            @text
            @*आज़ादी के अमृत महोत्सव सम्बंधित सेवा समाचार डालने के लिए निम्नलिखित फॉर्म भरें :*@
        </div>
        <div class="mt-3 mb-3" style="padding-top:10px">
            <label class="form-label text-red">*Mobile / WhatsApp Number</label>
            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                    .ID("Txt_Mobile_Reporter")
                                                    .Name("Txt_Mobile_Reporter")
                                                    .Placeholder("Type Mobile Number...")
                                                    .MaxLength(10)
                                                    .Mask("0000000000").MaskInvalidMessage("Please Enter 10 Digit Valid Mobile No.")
                                                    .InputAttr(new { @class = "form-control phone-input" }).Mode(TextBoxMode.Tel).Value(string.IsNullOrWhiteSpace(Mobile)?null:Mobile)

                    )


        </div>
        <div class="mb-3" style="padding-top:5px">
            <label class="form-label text-red">*Email address</label>
            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                    .ID("Txt_Email_Reporter")
                                                    .Name("Txt_Email_Reporter").OnValueChanged("GSR_Reporter_ValidateEmail").Value(string.IsNullOrWhiteSpace(Email) ? null : Email)
                                                    .Placeholder("Type Email ID...").InputAttr(new { @class = "form-control CleanTextForDB" }).Mode(TextBoxMode.Email)


                    )
        </div>
        <div class="mb-3" style="padding-top:5px">
            <label class="form-label text-red">*Center Name</label>
            @(Html.DevExtreme().DropDownBox().CustomDropDown().Height(25)
                                                    .ID("Txt_Centre_Reporter")
                                                    .Name("Txt_Centre_Reporter")
                                                    .Placeholder("Choose Center")
                                                   .ValueExpr("cen_name").DisplayExpr("cen_name").OnValueChanged("Centre_ValueChange_reporter").Value(string.IsNullOrWhiteSpace(cen_name)?null: cen_name)
                                                   .ContentTemplate(@<text> @Html.Partial("LookUp_GetCentre") </text>)
                                                     //.DataSource(ViewBag.CentreList, "cen_name")
                                                     .DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("Get_Centre_List").Key("cen_name").LoadMode(DataSourceLoadMode.Raw))

                    )
        </div>
        <div class="mb-3" style="padding-top:5px" id="ins_div_reporter">
            <label class="form-label text-red">*Institute Name</label>
            @(Html.DevExtreme().SelectBox().CustomSelectBox().Height(25)
                                                    .ID("Txt_Ins_Reporter")
                                                    .Name("Txt_Ins_Reporter")
                                                    .Placeholder("Choose Institute")
                                                   .ValueExpr("Cen_id").DisplayExpr("ins_name")
                                                   .ReadOnly(true).DeferRendering(true)
                                                   .DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("Get_Ins_List").Key("Cen_id").LoadMode(DataSourceLoadMode.Raw)
                                                   .LoadParams(new { cen_bk_pad_no = new JS("function (){ return cen_bk_padno_reporter;}"), cen_name = new JS("function (){ return cen_name_reporter;}") })).OnValueChanged("Ins_ValueChange_reporter")


                    )
        </div>
        @(Html.DevExtreme().Button().CustomSaveButton().ID("Save_Reporter_GSR").Text("Fill Service Report").Icon(null).UseSubmitBehavior(false).OnClick("GSR_Reporter_SaveClick").ElementAttr(new { @class = "btn btn-primary FormActionButton" }) )

    </form>   
</div>
<script>
    var Centre_DG_Reporter;
    $(document).ready(function ()
    {
        TransformTextForDB("ServiceReport_Reporter_Form");
        $("#Txt_Mobile_Reporter").dxTextBox("focus");
        Centre_DG_Reporter = $("#GSR_Reporter_Centre_datagrid").dxDataGrid("instance");
        if ("@CenID".length > 0)
        {
            Centre_ValueChange_reporter(null,"@CenID");
        }
    })
    var IsValidEmail = true;
    function GSR_Reporter_ValidateEmail(e) {
        if (e.value != null && e.value.trim().length > 0) {
            //var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
            var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/
            if (!((e.value).match(mailformat))) {
                IsValidEmail = false;
                DevExpress.ui.dialog.alert("You Have Entered an Invalid Email ID..!", "Error").done(function () { e.component.focus(); });
                return;
            }
            //if (((((e.value.split('@@'))[1]).split('.'))[0]).toLowerCase() != "bkivv") {
            //    IsValidEmail = false;
            //    DevExpress.ui.dialog.alert("Please Enter BKIVV Email ID..!", "Error").done(function () { e.component.focus(); });
            //    return;
            //}
        }
        IsValidEmail = true;
    }
    function GSR_Reporter_SaveClick() {
        var CenID = $("#Txt_Centre_Reporter").dxDropDownBox("instance").option("value");
        var email = $("#Txt_Email_Reporter").dxTextBox("instance").option("value");
        var mobile = $("#Txt_Mobile_Reporter").dxTextBox("instance").option("value");

        if (mobile == null || mobile.trim().length == 0) {
            DevExpress.ui.dialog.alert("Please Enter Mobile No.", "Error").done(function () { $("#Txt_Mobile_Reporter").dxTextBox("focus") });
            return;
        }
        if (email == null || email.trim().length == 0) {
            DevExpress.ui.dialog.alert("Please Enter Email ID", "Error").done(function () { $("#Txt_Email_Reporter").dxTextBox("focus") });
            return;
        }
        if ($("#Txt_Mobile_Reporter").dxTextBox("instance").option("isValid") == false) {
            DevExpress.ui.dialog.alert("Please Enter 10 Digit Valid Mobile No.", "Error").done(function () { $("#Txt_Mobile_Reporter").dxTextBox("focus") });
            return;
        }
        if (IsValidEmail == false) {
            DevExpress.ui.dialog.alert("Please Enter BKIVV Email ID..!", "Error").done(function () { $("#Txt_Email_Reporter").dxTextBox("focus") });;
            return;
        }
        if (Chosen_cen_id_reporter == null) {
            DevExpress.ui.dialog.alert("Please Choose Institute", "Error").done(function () { $("#Txt_Ins_Reporter").dxSelectBox("focus") });
            return;
        }            
        window.open("/Facility/ServiceReport/Frm_Service_Report_Window?ActionMethod=_New&CenID=" + Chosen_cen_id_reporter + "&ReporterEmail=" + email + "&ReporterMobile=" + mobile + "&FY=2223&SessionGUID=" + createGuid() +
            "&sender=" + "@Sender" + "&cen_name=" + cen_name_reporter + "&insid=" + insID_reporter +"&projId=@projId" +"&wingId=@wingId", "_self");
        //$.ajax({
        //    type: 'GET',
        //    url: "/Facility/ServiceReport/Frm_Service_Report_Window",
        //    cache: false,
        //    data:
        //    {
        //        ActionMethod: "_New",
        //        CenID: CenID,
        //        ReporterEmail: email,
        //        ReporterMobile: mobile
        //    },
        //    success: function (data) {
        //        var w = window.open('about:blank', "_self");
        //        w.document.open();
        //        w.document.write(data);
        //        w.document.close();
        //    }
        //});
    }
    var Chosen_cen_id_reporter;
    var cen_name_reporter;
    var cen_bk_padno_reporter;
    var insID_reporter;
    async function Centre_ValueChange_reporter(e,cenID="")
    {
        $("#ins_div_reporter").show();
        if (e)
        {
            cen_name_reporter = e.value;
            if (e.value == null && e.previousValue != null)
            {
                Centre_DG_Reporter.clearSelection();
                $("#Txt_Ins_Reporter").dxSelectBox("reset");
                $("#Txt_Ins_Reporter").dxSelectBox("option", "readOnly", true);
                return;
            }
        }
        else
        {
            cen_name_reporter = $("#Txt_Centre_Reporter").dxDropDownBox("option","value")            
        }
        await Centre_DG_Reporter.selectRows(cen_name_reporter);
        if (Centre_DG_Reporter.getSelectedRowsData().length > 0)
        {
            var Item = Centre_DG_Reporter.getSelectedRowsData()[0];
            cen_bk_padno_reporter = Item["Cen_bk_pad_no"];
            $("#Txt_Ins_Reporter").dxSelectBox("instance").getDataSource().reload().done(function (data)
            {
                if (cenID.length > 0)
                {
                    $("#Txt_Ins_Reporter").dxSelectBox("instance").option("value", parseInt(cenID))
                }
                else
                {
                    $("#Txt_Ins_Reporter").dxSelectBox("instance").option("value", data[0].Cen_id)
                }               
                if (data.length == 1)
                {
                    $("#Txt_Ins_Reporter").dxSelectBox("option", "readOnly", true);
                    if (data[0].ins_id == "00009")
                    {
                        $("#ins_div_reporter").hide();
                    }
                }
                else
                {
                    $("#Txt_Ins_Reporter").dxSelectBox("option", "readOnly", false);
                }
            })
        }
    }
    function Ins_ValueChange_reporter(e)
    {
        Chosen_cen_id_reporter = e.value;
        var selectedItem = e.component.option("selectedItem");
        if (selectedItem != null) {
            insID_reporter = selectedItem.ins_id
        }
        else { insID_reporter = "";}       
    }
    function close_GSR_Reporter()
    {

    }
</script>


