@using DevExtreme.AspNet.Mvc;

@{
    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
    string Sender = (string)ViewBag.sender;
    string RecID = (string)ViewBag.RecID;
    string Mobile = ViewBag.Mobile;
    string cenID=ViewBag.CenID;
    string email = ViewBag.Email;
    string cen_name = ViewBag.cen_name;
    string projId = ViewBag.projId;
    string wingId = ViewBag.wingId;
    string BannerSource = Url.Content("~/Content/image/ServiceReport/" + (Sender.Length > 0 ? Sender : "connectone") + ".jpg");
}


<style>
    .ServiceReport_Form {
        max-width: 500px;
        margin: 0 auto;
        padding: 15px;
        background: rgba(240,240,240,.6);
        border-radius: 6px;
    }

    .amrit-wrap {
        padding: 15px;
    }

    .Response_GSR {
        font-weight: 500;
        color: maroon;
        text-decoration: underline;
        font-size: large;
    }

    #ServiceReporterResponse_Bannerimg {
        object-fit: contain;
    }
</style>
<div class="amrit-wrap mt-3" style="padding-top:30px">
    <form class="ServiceReport_Form">
        <img id="ServiceReporterResponse_Bannerimg" src="@BannerSource" style="width:100%" />
        <div class="mt-3 mb-3" style="text-align: center">
            <br>
            <label class="form-label Response_GSR">Thank You For Submitting The Godly Service Report!!</label>

        </div>
        <div>
            <div style="text-align: center">
                @(Html.DevExtreme().Button().ID("Save_Response_GSR").Text("Add More").UseSubmitBehavior(false).OnClick("GSR_Response_AddMoreClick").ElementAttr(new { @class = "btn btn-primary" }) )
                @(Html.DevExtreme().Button().ID("View_GSR").Text("View Posted Report").UseSubmitBehavior(false).OnClick("GSR_Show_Report").ElementAttr(new { @class = "btn btn-primary" }) )
                @(Html.DevExtreme().Button().ID("Edit_GSR").Text("Edit Posted Report").UseSubmitBehavior(false).OnClick("GSR_Edit_Report").ElementAttr(new { @class = "btn btn-primary" }) )
            </div>
            <div style="text-align: center">
                <label class="control-label text-red">For Any Queries, please email it to </label><a href="mailto:saurabh@bkivv.org"> saurabh@bkivv.org</a>
            </div>
        </div>
    </form>

    @*<form class="edit_form form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">

                        @Html.Label("Centre Name", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                        @(Html.DevExtreme().DropDownBox().CustomDropDown()
                                                        .ID("Txt_Centre_Reporter")
                                                        .Name("Txt_Centre_Reporter")
                                                        .Placeholder("Choose Center")
                                                       .ValueExpr("Cen_id").DisplayExpr("cen_name")
                                                       .ContentTemplate(@<text> @Html.Partial("LookUp_GetCentre") </text>).DataSource(ViewBag.CentreList, "Cen_id")

                        )

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">

                        @Html.Label("Email ID:", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                        .ID("Txt_Email_Reporter")
                                                        .Name("Txt_Email_Reporter")
                                                        .Placeholder("Type BKIVV Email ID...")


                        )

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">

                        @Html.Label("Mobile No:", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                        .ID("Txt_Mobile_Reporter")
                                                        .Name("Txt_Mobile_Reporter")
                                                        .ReadOnly(false)
                                                        .Placeholder("Type Mobile Number...")

                        )

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 ">

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().CustomSaveButton().ID("Save_Reporter_GSR").Text("Fill Service Report").UseSubmitBehavior(false).OnClick("GSR_Reporter_SaveClick") )

                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->
        </form>*@
</div>
<script>
    function GSR_Response_AddMoreClick()
    {
        var url = "Frm_Reporter_Window?Mobile=" + "@Mobile" + "&CenID=" + "@cenID" + "&Email=" + "@email" +"&cen_name="+"@cen_name"+"&projId=@projId" +"&wingId=@wingId";
        if ("@Sender".length > 0)
        {
            url = url + "&sender=" + "@Sender";
        }
        window.open(url, "_self");
    }
    function GSR_Show_Report() {
        window.open("https://services.brahmakumaris.com/Events/Events//Frm_Service_Event_Details?RecID="+ "@RecID", "_self");
    }
    function GSR_Edit_Report() {
         window.open("https://services.brahmakumaris.com/EditEvent?RecID="+ "@RecID", "_self");
    }

    $(document).ready(function ()
    {
        $("#Save_Response_GSR").dxButton("focus")
    })
</script>


