@*<div id="scrollView_AdditionalInfo_GSR">*@
<style>
    #AdditionalInfo_gsr_div {
        padding: 0 0;
    }
</style>
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.ServiceReport_ViewModel
<div class="container-fluid" id="AdditionalInfo_gsr_div">
    @*<form id="Additional_info_form_GSR" class="edit_form form-horizontal GSRForm">*@
        @helper Render_DG(string id)
        {
            @(Html.DevExtreme().DataGrid().CustomDataGrid().ID(id)
                                                .Columns(columns =>
                                                {
                                                    columns.Add().DataField("NAME").Caption("Name");
                                                    columns.Add().DataField("Org").Caption("Organization").Visible(id== "Look_OrganisedFor_GSR_DG");
                                                    columns.Add().DataField("Mobile").Caption("Mobile");
                                                    columns.Add().DataField("Email").Caption("Email");
                                                    columns.Add().DataField("City").Caption("City").Visible(id == "Look_OrganisedFor_GSR_DG");
                                                    columns.Add().DataField("Remarks").Caption("Remarks").Visible(id == "Look_OrganisedFor_GSR_DG");
                                                    columns.Add().DataField("ID").Caption("ID").Visible(false);
                                                    columns.Add().DataField("EditOn").Caption("EditOn").Visible(false);
                                                })                                                
                                                .Selection(s => s.Mode(SelectionMode.Single))
                                                .FilterRow(s => s.Visible(false))
                                                .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);}component.close();}"))
        }
        <div class="row">
            <div class="col-sm-6">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-10">
                            @Html.Label("Organised For: ", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_OrganisedFor_GSR").Name("Look_OrganisedFor_GSR").Placeholder("Select...")
                .Value(Model.Look_OrganisedFor_GSR).ValueExpr("ID").DisplayExpr(new JS("function (item){{return Look_OrganisedFor_GSR_DisplayExpr(item)}}"))
               .DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("GetParties").Key("ID").LoadMode(DataSourceLoadMode.Raw).LoadParams(new { OnlyEventOrganizer = true} ))
                .ContentTemplate( @<text>@Render_DG("Look_OrganisedFor_GSR_DG")</text>).OnValueChanged("Look_OrganisedFor_GSR_ValueChange").ReadOnly(Model.ActionMethod=="_Delete"|| Model.ActionMethod == "_View"))

                        </div>
                        <div class="col-sm-2">
                           <br>
                            @(Html.DevExtreme().Button().ID("AdditionalInfoGSR_AddOrganiser").Text("Add").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick(@<text>function(){AddOrganiser_GSR()}</text>).Disabled(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-field">
                    @Html.Label("Participant Type: ", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_ParticipantType_GSR").Name("Look_ParticipantType_GSR").Placeholder("Select...")
                .Value(Model.Look_ParticipantType_GSR).DataSource(new string[] { "BK", "Non-BK", "All" })
                .OnValueChanged("Look_ParticipantType_GSR_ValueChange").ReadOnly(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-field">
                    @Html.Label("Participant Category: ", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_ParticipantCategory_GSR").Name("Look_ParticipantCategory_GSR").Placeholder("Select...")
                .Value(Model.Look_ParticipantCategory_GSR).ValueExpr("ID").DisplayExpr("NAME")
               .DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("GetParticipantCategory").Key("ID").LoadMode(DataSourceLoadMode.Raw))
                .OnValueChanged("Look_ParticipantCategory_GSR_ValueChange").ReadOnly(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-field">
                    @Html.Label("Participant Sub-Category: ", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_ParticipantSubCategory_GSR").Name("Look_ParticipantSubCategory_GSR").Placeholder("Select...")
                .Value(Model.Look_ParticipantSubCategory_GSR).ValueExpr("ID").DisplayExpr("NAME")
               .DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("GetParticipantSubCategory").Key("ID").LoadMode(DataSourceLoadMode.Raw))
                .OnValueChanged("Look_ParticipantSubCategory_GSR_ValueChange").ReadOnly(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-field">
                    @Html.Label("Program Type: ", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_ProgramType_GSR").Name("Look_ProgramType_GSR").Placeholder("Select...")
                .Value(Model.Look_ProgramType_GSR).ValueExpr("ID").DisplayExpr("NAME")
               .DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("GetProgramType_Additional").Key("ID").LoadMode(DataSourceLoadMode.Raw))
                .OnValueChanged("Look_ProgramType_GSR_ValueChange").ReadOnly(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-field">
                    @Html.Label("Program Location Type: ", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_ProgramLocationType_GSR").Name("Look_ProgramLocationType_GSR").Placeholder("Select...")
                .Value(Model.Look_ProgramLocationType_GSR).ValueExpr("ID").DisplayExpr("NAME")
               .DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("GetProgramLocationType").Key("ID").LoadMode(DataSourceLoadMode.Raw))
                .OnValueChanged("Look_ProgramLocationType_GSR_ValueChange").ReadOnly(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-10">
                            @Html.Label("Program Coordinator 1: ", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_ProgramCoordinator1_GSR").Name("Look_ProgramCoordinator1_GSR").Placeholder("Select...")
                .Value(Model.Look_ProgramCoordinator1_GSR).ValueExpr("ID").DisplayExpr("NAME")
               .DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("GetParties").Key("ID").LoadMode(DataSourceLoadMode.Raw).LoadParams(new { OnlyFaculty = true }))
                .ContentTemplate( @<text>@Render_DG("Look_ProgramCoordinator1_GSR_DG")</text>).OnValueChanged("Look_ProgramCoordinator1_GSR_ValueChange").ReadOnly(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))

                        </div>
                        <div class="col-sm-2">
                            <br>
                            @(Html.DevExtreme().Button().ID("AdditionalInfoGSR_AddCoordinator1").Text("Add").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick(@<text>function(){AddCoordinator1_GSR()}</text>).Disabled(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-10">
                            @Html.Label("Program Coordinator 2: ", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_ProgramCoordinator2_GSR").Name("Look_ProgramCoordinator2_GSR").Placeholder("Select...")
                .Value(Model.Look_ProgramCoordinator2_GSR).ValueExpr("ID").DisplayExpr("NAME")
               .DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("GetParties").Key("ID").LoadMode(DataSourceLoadMode.Raw).LoadParams(new { OnlyFaculty = true }))
                .ContentTemplate( @<text>@Render_DG("Look_ProgramCoordinator2_GSR_DG")</text>).OnValueChanged("Look_ProgramCoordinator2_GSR_ValueChange").ReadOnly(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))

                        </div>
                        <div class="col-sm-2">
                         <br>
                            @(Html.DevExtreme().Button().ID("AdditionalInfoGSR_AddCoordinator2").Text("Add").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick(@<text>function(){AddCoordinator2_GSR()}</text>).Disabled(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-field">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("AdditionalInfo_OK").Text("OK").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("GSR_AdditionalInfo_OK_Click"))
                    </div>
                </div>
            </div>
        </div><!--[Buttons]-->*@
    @*</form>*@
    @*<script>
        $(document).ready(function ()
        {
            ShowLoader();
            Look_OrganisedFor_GSR_ValueChange(null, true)
            Look_ProgramCoordinator1_GSR_ValueChange(null, true)
            Look_ProgramCoordinator2_GSR_ValueChange(null, true)
            HideLoader();
        })
    </script>*@
</div>
@*</div>*@
