<div class="ServiceReport_Export_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress.XtraReports.UI;
    <div>
        @(Html.DevExtreme().Button()
                    .ID("ServiceReport_ExportGridDatapdf")
                    .Text("Export to PDF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("x")
                    .OnClick("ExportPDF")
                    .Visible(true)
                    .Width(120)
        )<br />

        @(Html.DevExtreme().Button()
                    .ID("ServiceReport_ExportGridDataxls")
                    .Text("Export to XLS")
                    //.Icon("fa-file-excel-o")
                    //.AccessKey("X")
                    .OnClick("ExportXLS")
                    .Visible(true)
                    .Width(120)
        )<br />
        @(Html.DevExtreme().Button()
                    .ID("ServiceReport_ExportGridDataxlsx")
                    .Text("Export to XLSX")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("L")
                    .OnClick("ExportXLSX")
                    .Visible(true)
                    .Width(120)
        )<br />

        @(Html.DevExtreme().Button()
                    .ID("ServiceReport_ExportGridDatadocx")
                    .Text("Export to DOCX")
                    //.Icon("export_exporttodocx_16x16office2013")
                    //.AccessKey("D")
                    .OnClick("ExportDOCX")
                    .Visible(true)
                    .Width(120)
        )<br />

        @(Html.DevExtreme().Button()
                    .ID("ServiceReport_ExportGridDatartf")
                    .Text("Export to RTF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("R")
                    .OnClick("ExportRTF")
                    .Visible(true)
                    .Width(120)
        )<br />

        @(Html.DevExtreme().Button()
                    .ID("ServiceReport_ExportGridDatacsv")
                    .Text("Export to CSV")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("C")
                    .OnClick("ExportCSV")
                    .Visible(true)
                    .Width(120)
        )
    </div>
        <script>
        function ExportPDF() {
            ServiceReportListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#Service_Report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            ServiceReportListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#Service_Report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            ServiceReportListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#Service_Report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            ServiceReportListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#Service_Report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            ServiceReportListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#Service_Report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            ServiceReportListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#Service_Report_modal").dxPopup("hide");
            }
       
        </script>
    @*@model  XtraReport
    @Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "WebDocumentViewer";
    //settings.MobileMode = IsMobile;
    //settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.ClientSideEvents.Init = "function(s, e) { s.previewModel.reportPreview.showMultipagePreview(true);}";
    settings.ControlStyle.CssClass = "DevexpressComponents";    
}).Bind(Model).GetHtml()*@
</div>
