<div class="ServiceReportFacility_ClearReferences">
@using DevExtreme.AspNet.Mvc
@*@model IEnumerable<dynamic>*@

@{
    string UserType = (string)ViewBag.UserType;
    bool Service_Report_AddRight = (bool)ViewData["Service_Report_AddRight"];
    bool Service_Report_UpdateRight = (bool)ViewData["Service_Report_UpdateRight"];
    bool Service_Report_DeleteRight = (bool)ViewData["Service_Report_DeleteRight"];
    bool Service_Report_ReportRight = (bool)ViewData["Service_Report_ReportRight"];
    bool Service_Report_ListRight = (bool)ViewData["Service_Report_ListRight"];
    bool Service_Report_ExportRight = (bool)ViewData["Service_Report_ExportRight"];
}

    <div id="EventMgnt_ParentDiv">
        <div id="EventMgnt_content" class="report_header_div_main">
            <div class="report_header_div">
                <label class="report_header_label">Events Management</label>
            </div>
        
            <div class="row">
                @Html.DevExtreme().TabPanel().ID("MobileTabMenu").Items(
                    items =>
                    {
                        items.Add().Title("Draft Events").Template(@<text> @Draft_View() </text>);
                        items.Add().Title("Upcoming Events").Template(@<text> @Upcoming_View() </text>);
                        items.Add().Title("Past/Completed Events").Template(@<text> @Past_View() </text>);
                        items.Add().Title("Cancelled Events").Template(@<text> @Cancelled_View() </text>);
                    })
                @helper Draft_View()
                {
                    @Html.Partial("Draft_Events");
                }
                @helper Upcoming_View()
                {
                    @Html.Partial("Upcoming_Events");
                }
                @helper Past_View()
                {
                    @Html.Partial("Past_Events");
                }
                @helper Cancelled_View()
                {
                    @Html.Partial("Cancelled_Events");
                }
            </div>   
        </div>
    </div>
    <script>
        function draft_new_onclick() {
            DataNavigation_Evnt_Mgt("NEW")
        }
        function draft_Edit_onclick() {
            DataNavigation_Evnt_Mgt("EDIT")
        }
        function draft_Delete_onclick() {
            DataNavigation_Evnt_Mgt("DELETE")
        }
        function draft_Preview_onclick() {
            DataNavigation_Evnt_Mgt("PREVIEW")
        }
        function draft_Publish_onclick() {
            DataNavigation_Evnt_Mgt("PUBLISH")
        }


        function Upcoming_Preview_onclick() {

        }
        function Upcoming_Cancel_onclick() {

        }
        function Upcoming_Notification_onclick() {

        }
        function Upcoming_Edit_onclick() {

        }

        function Cancel_Preview_onclick() {

        }

        function Cancel_Restore_onclick() {

        }
        function Past_MarkasCompleted_onclick() {

        }
        function Past_Preview_onclick() {

        }

        function DataNavigation_Evnt_Mgt(Action)
        {
            if (Action == "NEW")
            {
                if ("@Service_Report_AddRight"=="False")
                {
                    DevExpress.ui.dialog.alert("Not Allowed", 'No Rights'); return;
                }
                ShowLoader();
                OpenDynamicPopup("New ~ Events Management(New Mode)", "@Url.Action("Frm_Service_Report_Window", "ServiceReport", new { @area = "Facility" })?ActionMethod=_New", "auto", 1150, false, null);
                HideLoader();
            }
            else if (Action == "EDIT" || Action == "DELETE")
            {
                if (!"@Service_Report_UpdateRight" || !"@Service_Report_DeleteRight")
                {
                    DevExpress.ui.dialog.alert("Not Allowed", 'No Rights'); return;
                }
                if (ServiceReport_ID == "" || ServiceReport_ID == null || ServiceReport_ID == 'undefined')
                {
                    DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                    return;
                }
                $.ajax({
                    type: 'GET',
                    async: false,
                    url: "/Facility/ServiceReport/Frm_Service_Report_Window",
                    cache: false,
                    data:
                    {
                        ActionMethod: Action == "EDIT" ? "_Edit" : "_Delete",
                        xID: ServiceReport_ID,
                        Info_LastEditedOn: JS_Json_Date_To_ddMMyyyy(ServiceReport_Edit_Date)
                    },
                    success: function (data)
                    {
                        ShowLoader();
                        OpenPopup("Dynamic_Content_popup", Action == "EDIT" ? "Edit ~ Events Management(Draft Mode)" : "Delete ~ Godly Service Report", null, "auto", 1150, true, data);
                        HideLoader();
                    }
                });
            }
        }
    </script>
</div>
