@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.ServiceReport_ViewModel
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" style="display:none">
        <div class="form-field" style="padding-bottom:28px">
            @Html.Label("Master Project (मुख्य प्रोजैक्ट)", htmlAttributes: new { @class = "control-label text-red" })
            @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_MasterProject_GSR").Name("Look_MasterProject_GSR").Placeholder("Select Master Project Name...").DataSource(Model.MasterProjectNameList, "ID").OnValueChanged("Look_MasterProjList_EditValueChanged_GSR").DisplayExpr("Name").ValueExpr("ID").Value(Model.Look_MasterProject_GSR).ShowClearButton(false).SearchMode(DropDownSearchMode.Contains))
        </div>
    </div>@*Hidden Element*@

    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-field" style="padding-bottom:28px">
                    @Html.Label("Program Name (प्रोग्राम का नाम)", htmlAttributes: new { @class = "control-label text-red " })
                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_ProgName_GSR").Name("Txt_ProgName_GSR").Value(Model.Txt_ProgName_GSR).Placeholder("Type Program Name...").MaxLength(59))
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-field" style="padding-bottom:28px">
                    <label class="control-label text-red">Program Type (प्रोग्राम का प्रकार)</label>
                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_ProgType_GSR").Name("Look_ProgType_GSR").Placeholder("Select Type Of Program...").Value(Model.ProgType_ID_GSR.Split(new string[] { "![" }, StringSplitOptions.None)).DataSource(Model.ProgType_Data, "ID")
                        .ValueExpr("ID").DisplayExpr("Name").ContentTemplate(@<text>
                    @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("ProgType_GSR_datagrid")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("Name").Caption("Program Type");
                            columns.Add().DataField("ID").Caption("ID").Visible(false).SortingMethod("sortProgType_GSR").SortOrder(SortOrder.Asc);
                        })
                        .OnRowClick("DG_OnRowClick_GSR")
                        .Selection(s => s.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always).AllowSelectAll(false))
                        .FilterRow(s=>s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys);};}"))
                    </text>).OnValueChanged("ProgType_ValueChange_GSR"))
            </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-field" style="padding-bottom:4px">
                @Html.Label("Project Name (प्रोजैक्ट का नाम)", htmlAttributes: new { @class = "control-label" })
                @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_ProjList_GSR").Name("Look_ProjList_GSR").Placeholder("Select Project Name...").DataSource(Model.ProjectNameList, "ID").OnValueChanged("Look_ProjList_EditValueChanged_GSR").DisplayExpr("Name").ValueExpr("ID").Value(Model.Look_ProjList_GSR).ShowClearButton(true).SearchMode(DropDownSearchMode.Contains))
                <label>If you can't find project Name in list, please use "General" or email it to <a href="mailto:saurabh@bkivv.org"> saurabh@bkivv.org</a></label>
            </div>
        </div>
</div><!---[Master and Project Name:]--->
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="row">
                <div class="col-sm-12" id="idVenueAddr">
                    <div class="form-field clearfix">
                        @Html.Label("Program Venue (प्रोग्राम के स्थान का अड्रेस)", htmlAttributes: new { @class = "control-label text-red" })

                        @(Html.DevExtreme().TextAreaFor(model => model.Txt_ProgVenue_GSR)
                                    .ID("Txt_ProgVenue_GSR")
                                    .Name("Txt_ProgVenue_GSR")
                                    .Placeholder("Type Program Venue (Place of organizing program)...")
                                    .Value(Model.Txt_ProgVenue_GSR)
                                    .Height(53).ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } }))
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="idVenuType" class="form-field clearfix">
                        <div class="col-sm-12 dx-widget">
                            <label for="Radio_VenueType_GSR" class="text-red control-label ">Choose Venue Type: </label> <br>
                            @(Html.DevExtreme().RadioGroup().ID("Radio_VenueType_GSR").Name("Radio_VenueType_GSR").DisplayExpr("Text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { value="6491abe3-163f-4407-a50e-0da07565b2f9", Text = "City/Town" }, new { value="800979DE-E1C4-4FCF-ABA3-2993C290B94A", Text ="Village" }, }).OnValueChanged("Radio_VenueType_GSR_ChangeValue"))
                        </div>
                        <div class="col-sm-12">
                            <label class="control-label text-red">Venue Type (प्रोग्राम के स्थान का प्रकार)</label>
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_ProgVenueType_GSR").Name("Look_ProgVenueType_GSR").Placeholder("Select Type Of Program...").Value(string.IsNullOrWhiteSpace(Model.Look_ProgVenueType_GSR) ?null:Model.Look_ProgVenueType_GSR.Split(new string[] { "![" }, StringSplitOptions.None)).DataSource(Model.VenueTypeData, "ID")
                            //.DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("GetProgramVenueTypes").Key("ID").LoadMode(DataSourceLoadMode.Raw))
                            .ValueExpr("ID").DisplayExpr("Name").ContentTemplate(@<text>
                            @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Look_ProgVenueType_GSR_datagrid")
                                .Columns(columns =>
                                {
                                    columns.Add().DataField("Name").Caption("Type");
                                    columns.Add().DataField("ID").Caption("ID").Visible(false).SortingMethod("Look_ProgVenueType_GSR_Sort").SortOrder(SortOrder.Asc);
                                })
                                .OnRowClick("DG_OnRowClick_GSR")
                                .Selection(s => s.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always).AllowSelectAll(false))
                                .FilterRow(s=>s.Visible(false))
                                .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys); console.log('Keys : '+ keys)};}"))
                            </text>).OnValueChanged("Look_ProgVenueType_GSR_ValueChange"))
                        </div>
                    </div>

                </div>
            </div>
        <div class="row progDateTime">
            <div class="col-sm-12">
                <div class="form-field">
                    <div class="row" @*style="padding-bottom:30px"*@>
                        <div class="col-sm-9">
                            @Html.Label("Program Date (प्रोग्राम तिथि) ", htmlAttributes: new { @class = "text-red control-label" })
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            @Html.Label("From: ", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-5">
                                            @(Html.DevExtreme().DateBoxFor(x => x.DE_FR_DT_GSR).CustomDateBox().ID("DE_FR_DT_GSR").Name("DE_FR_DT_GSR").OnValueChanged("Date_EditValueChanged_GSR").Min(new DateTime(1900, 01, 01)).PickerType(Request.Browser.IsMobileDevice ? DateBoxPickerType.Native : DateBoxPickerType.Calendar))
                                        </div>
                                        <!--</div>--><!---[Date From:]--->
                                        <!--<div class="row">-->
                                        <div class="col-sm-1 toRightAlign">
                                            @Html.Label("To: ", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-5">
                                            @(Html.DevExtreme().DateBoxFor(x => x.DE_TO_DT_GSR).CustomDateBox().ID("DE_TO_DT_GSR").Name("DE_TO_DT_GSR").Min(new DateTime(1900, 01, 01)).OnValueChanged("Date_EditValueChanged_GSR").PickerType(Request.Browser.IsMobileDevice ? DateBoxPickerType.Native : DateBoxPickerType.Calendar) )
                                        </div>
                                    </div><!---[Date To:]--->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div style="text-align:center">
                                <label class="control-label">Period:</label>
                            </div>
                            <div class="row">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Period_Date_GSR").Name("Txt_Period_Date_GSR").Placeholder("").ReadOnly(true).FocusStateEnabled(false) )
                            </div>
                        </div>
                    </div>
                    <div class="row" @*style="padding-bottom:16px"*@>
                        <div class="col-sm-9">
                            @Html.Label("Program Time (प्रोग्राम का समय)", htmlAttributes: new { @class = "text-red control-label" })
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            @Html.Label("From: ", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-5">
                                            @(Html.DevExtreme().DateBox().Type(DateBoxType.Time).ID("Txt_Fr_Time_GSR").Name("Txt_Fr_Time_GSR").OnValueChanged("Time_EditValueChanged_GSR").Value(Model.Txt_Fr_Time_GSR).DisplayFormat("hh:mm a").UseMaskBehavior(true).Placeholder("hh:mm AM/PM").PickerType(Request.Browser.IsMobileDevice?DateBoxPickerType.Native: DateBoxPickerType.Calendar))
                                        </div>
                                        <!--</div>--><!---[Time From:]--->
                                        <!--<div class="row">-->
                                        <div class="col-sm-1 toRightAlign">
                                            @Html.Label("To: ", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-5">
                                            @(Html.DevExtreme().DateBox().Type(DateBoxType.Time).ID("Txt_To_Time_GSR").Name("Txt_To_Time_GSR").OnValueChanged("Time_EditValueChanged_GSR").Value(Model.Txt_To_Time_GSR).DisplayFormat("hh:mm a").UseMaskBehavior(true).Placeholder("hh:mm AM/PM").PickerType(Request.Browser.IsMobileDevice ? DateBoxPickerType.Native : DateBoxPickerType.Calendar) )
                                        </div>
                                    </div><!---[Time To:]--->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div style="text-align:center">
                                <label class="control-label">Period:</label>
                            </div>
                            <div class="row">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Period_Time_GSR").Name("Txt_Period_Time_GSR").Placeholder("").ReadOnly(true).FocusStateEnabled(false) )
                            </div>
                        </div>
                        @*</div>*@

                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-12">
                            <label id="lbl_beneficiary_GSR" class="text-red control-label">No. of Beneficiaries (लाभ लेने वाली आत्माओ की संख्या)</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 offlinePad">
                                <label class="control-label">Offline:</label>
                                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_ProgBeneficiaries_GSR").Name("Txt_ProgBeneficiaries_GSR").Max(999999999).Value(Model.Txt_ProgBeneficiaries_GSR).OnValueChanged("Txt_ProgBeneficiaries_EditValueChanged_GSR").Format("#").Placeholder("Type No. of Beneficiaries...").OnInput("Txt_ProgBeneficiaries_OnInput") )

                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">Online/TV/Media:</label>
                                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_OnlineProgBeneficiaries_GSR").Name("Txt_OnlineProgBeneficiaries_GSR").Max(999999999).Value(Model.Txt_OnlineProgBeneficiaries_GSR).OnValueChanged("Txt_OnlineProgBeneficiaries_EditValueChanged_GSR").Format("#").Placeholder("Type No. of Beneficiaries...").OnInput("Txt_ProgBeneficiaries_OnInput") )

                            </div>
                            <div class="col-sm-3">
                                <div style="text-align:center">
                                    <label class="control-label">Total:</label>
                                </div>
                                <div class="row">
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_TotalProgBeneficiaries_GSR").Name("Txt_TotalProgBeneficiaries_GSR").Format("#").Placeholder("").ReadOnly(true).FocusStateEnabled(false).Value(Model.Txt_TotalProgBeneficiaries_GSR))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!---[Prog Venue/Link]--->
    <script>
        function OrganiserNameCustomItemCreating_GSR(e) {
            if (e.text == null || e.text.length == 0) {
                e.customItem = null;
                return;
            }
            var dataSource = e.component.getDataSource();
            var newItem = { CEN_NAME: e.text };
            var result = dataSource.store().insert(newItem);

            result.done(function () {
                dataSource.reload().done(function () {
                    e.component.option("value", e.text);
                    //Vehiclies_Cmd_Make = e.text;
                    ////Get_Vehicle_Model_List();
                });
            })
            e.customItem = result;
        }
        function AddCustomDatatoOrganiserName()
        {
            var OrganizerName_GSR = $("#Txt_Organiser_GSR").dxSelectBox("instance");
            var dataSource = OrganizerName_GSR.getDataSource();
            var dataItems = dataSource.items();
            var flag = false;
            for (var i = 0; dataItems.length > i; i++)
            {
                if (dataItems[i].CEN_NAME == "@Model.Txt_Organiser_GSR")
                {
                    flag = true;
                    break;
                }
            }
            if (flag == true)
            {
                OrganizerName_GSR.option("value", "@Model.Txt_Organiser_GSR");
            }
            else
            {
                var newItem = { CEN_NAME: TransformText("@Model.Txt_Organiser_GSR") } //, ID: TransformText("@Model.Txt_Organiser_GSR") };
                var result = dataSource.store().insert(newItem);
                result.done(function ()
                {
                    dataSource.reload().done(function ()
                    {
                        //OrganizerName_GSR.reset()
                        OrganizerName_GSR.option("value", TransformText("@Model.Txt_Organiser_GSR"));
                    })
                })
            }
        }
    </script>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-sm-12" style="padding-bottom:5px">
                <div class="col-sm-6">
                    <div class="form-field">
                        <label class="control-label" style="font-weight:500">Program Occassion (प्रोग्राम का अवसर)</label>
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_ProgOccasion_GSR").Name("Look_ProgOccasion_GSR").Placeholder("Select Program Occasion...").Value(Model.Look_ProgOccasion_GSR.Split(new string[] { "![" }, StringSplitOptions.None)).DataSource(Model.ProgOccasion_Data, "ID")
            .ValueExpr("ID").DisplayExpr("Name").ContentTemplate(@<text>
        @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("ProgOccasion_GSR_datagrid")
            .Columns(columns =>
            {
                columns.Add().DataField("Name").Caption("Program Occasion");
                columns.Add().DataField("ID").Caption("ID").Visible(false).SortingMethod("sortProgOccasion_GSR").SortOrder(SortOrder.Asc);
            })
            .OnRowClick("DG_OnRowClick_GSR")
            .Selection(s => s.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always).AllowSelectAll(false))
            .FilterRow(s=>s.Visible(false))
            .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys);};}"))
        </text>).OnValueChanged("ProgOccasion_ValueChange_GSR"))
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-field">
                        <label class="control-label" style="font-weight:500">Organiser Name (आयोजक का नाम)</label>
                        @(Html.DevExtreme().SelectBox().CustomSelectBox().AcceptCustomValue(true).OnCustomItemCreating("OrganiserNameCustomItemCreating_GSR").ID("Txt_Organiser_GSR")//.ID("Cmd_Make")
	            .Name("Txt_Organiser_GSR").DataSource(Model.organiserNames_GSR).Placeholder("Type Organiser Name").SearchEnabled(false)
	            .DisplayExpr("CEN_NAME").ValueExpr("CEN_NAME").ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } }))
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <label class="control-label" style="font-weight:500">Live/Recording/Promo/News Link (लाइव/रिकॉर्डिंग/प्रोमो/समाचार लिंक)<br>(* For Multiple Links, please enter separated by comma)</label>
                    @(Html.DevExtreme().TextArea().ID("Txt_NewsLink_GSR").Name("Txt_NewsLink_GSR").Value(Model.Txt_NewsLink_GSR).ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
		.Placeholder("Provide YouTube or other link if any...").Height(55) )
                </div>
            </div>
            <div class="form-field" style="padding:14px 5px">
                <label id="lbl_EventsNo_GSR" class="control-label">No. of Events:</label><span id="lblEvents" class="control-label text-red" style="padding:7px 0px 8px 8px">(अगर आप एक से ज्यादा प्रोग्राम्स की रिपोर्ट एक साथ डाल रहे है तभी इस फील्ड को भरे)</span>
                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_NoOfEvents_GSR").Name("Txt_NoOfEvents_GSR").Format("#0").Placeholder("").ReadOnly(false).FocusStateEnabled(true).Value(Model.Txt_NoOfEvents_GSR).Min(1).Hint("अगर आप एक से ज्यादा प्रोग्राम्स की रिपोर्ट एक साथ डाल रहे है तभी इस फील्ड को भरें"))

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="form-field">
                <span class="text-red">* To attach multiple files in any category, please select multiple files while holding Ctrl button.</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-field picVidMsg">
                <span class="text-red">* Please include pictures and videos of audience as well as stage  </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-field">
            <div class="row">
                <div class="col-sm-7">
                    @Html.Label("Program Pictures & Videos (तस्वीरें और वीडियो) / Press Releases (प्रेस रिलीज) / Banner (बैनर) / Promo (प्रोमो): ", htmlAttributes: new { @class = "control-label text-red", @style = "font-weight:500" })
                </div>
                <div class="col-sm-1">
                    @(Html.DevExtreme().Button().ID("Banner_Pictures_GSR").Text("Add / Edit").UseSubmitBehavior(false).OnClick("Pictures_Add_GSR_Click")
            .Disabled(Model.ActionMethod=="_Delete"|| Model.ActionMethod == "_View")
            )
                </div>

                <div class="col-sm-9 spanMediaTab">
                    <span id="span_Pictures_GSR" style="color:blue">@Model.ProgramPictures_GSR</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="Txt_ProgBrief_GSR_Div">
        <div class="form-field">

            @Html.Label("Brief of the Program (कार्यक्रम का संक्षिप्त विवरण)", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

            @(Html.DevExtreme().TextArea()
                                        .ID("Txt_ProgBrief_GSR")
                                        .Name("Txt_ProgBrief_GSR")
                                        .ReadOnly(false)
                                        //.Height(200)
                                        .Height(100)
                                        .Placeholder("Type Brief of the Program...")
                                        .Value(Model.Txt_ProgBrief_GSR)
                        .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
        )

        </div>
    </div>
    <div class="col-sm-3" id="Institute_GSR_Div" style="display:none">
        <div class="form-field">
            @Html.Label("Institute (संस्थान)", htmlAttributes: new { @class = "control-label text-red" })
            @(Html.DevExtreme().DropDownBox().CustomDropDown().Value(Model.Institute_GSR).Name("Institute_GSR").ID("Institute_GSR").Placeholder("Choose Institute..").DisplayExpr("Ins_Name").ValueExpr("Ins_ID")
                                   .DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("LookUp_Get_ServiceReport_Institutes").Key("Ins_ID").LoadMode(DataSourceLoadMode.Raw))
                            .ContentTemplate(@<text>
                                @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Institute_GSR_datagrid")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("Ins_Name").Caption("Institute Name");
                            columns.Add().DataField("Ins_Short").Caption("Institute Short");
                            columns.Add().DataField("Ins_ID").Visible(false);
                        })
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .FilterRow(s=>s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);}component.close();}"))
                            </text>).OnValueChanged("Institute_GSR_ValueChange"))

        </div>
    </div>
</div>
<div class="row" id="idBeneficiaryBreakUp">
    <div class="col-sm-12">
        <div class="form-field">
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label" style="font-weight:500">Beneficiaries BreakUp:</label>
                </div>
                <div class="col-sm-2">
                    <label class="control-label">Children</label>
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_ChildBeneficiaries_GSR").Name("Txt_ChildBeneficiaries_GSR").Format("#").Placeholder("Children").Value(Model.Txt_ChildBeneficiaries_GSR).Min(0))

                </div>
                <div class="col-sm-2">
                    <label class="control-label">Youth</label>
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_YouthBeneficiaries_GSR").Name("Txt_YouthBeneficiaries_GSR").Format("#").Placeholder("Youth").Value(Model.Txt_YouthBeneficiaries_GSR).Min(0))

                </div>
                <div class="col-sm-2">
                    <label class="control-label">Adult Male</label>
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_MaleBeneficiaries_GSR").Name("Txt_MaleBeneficiaries_GSR").Format("#").Placeholder("Male").Value(Model.Txt_MaleBeneficiaries_GSR).Min(0))

                </div>
                <div class="col-sm-2">
                    <label class="control-label">Adult Female</label>
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_FemaleBeneficiaries_GSR").Name("Txt_FemaleBeneficiaries_GSR").Format("#").Placeholder("Female").Value(Model.Txt_FemaleBeneficiaries_GSR).Min(0))

                </div>
                <div class="col-sm-2" style="display:none">

                    <label class="control-label">Women</label>
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_WomenBeneficiaries_GSR").Name("Txt_WomenBeneficiaries_GSR").Format("#").Placeholder("Women").Value(Model.Txt_WomenBeneficiaries_GSR).Min(0))

                </div>
                <div class="col-sm-2">

                    <label class="control-label">Senior Citizen</label>
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_SrCitizenBeneficiaries_GSR").Name("Txt_SrCitizenBeneficiaries_GSR").Format("#").Placeholder("Senior Citizen").Value(Model.Txt_SrCitizenBeneficiaries_GSR).Min(0))

                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        @Html.Partial("Frm_Wing_tab", Model)
    </div>
    <div class="col-sm-8">
        <div class="form-field">
            <label class="control-label" style="font-weight:500">Special Activities:</label>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 ListOneRow radiobtn-outer mrt-4" id="ActivitiesList_GSR_Div" style="height:31px">
                    <div class="dx-texteditor-container">
                        @(Html.DevExtreme().List().CustomList().ID("ActivitiesList_GSR")
            .DataSource(new object[] {
                new { text = "Deaddiction (व्यसन मुक्ति)", value = "Deaddiction", disabled = Model.ActionMethod == "_Delete" ? true : false },
                new { text = "Tree Plantation (वृक्षारोपण)", value = "Tree Plantation", disabled = Model.ActionMethod == "_Delete" ? true : false },
                new { text = "Blood Donation (रक्तदान)", value = "Blood Donation", disabled = Model.ActionMethod == "_Delete" ? true : false },
                new { text = "Awards Received (अवार्डस)", value = "Awards Received", disabled = Model.ActionMethod == "_Delete" ? true : false },
            }, "value")
            .DisplayExpr("text")
            .KeyExpr("value")
            .SearchEnabled(false)
            .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
            .OnSelectionChanged("ActivitiesSelectionChange_GSR")
            .Width(300).ShowScrollbar(ShowScrollbarMode.Always)
            .UseNativeScrolling(false)
            .ShowSelectionControls(true)
            .SelectedItemKeys(Model.SelectedActivities_GSR.Split(new string[] { "![" }, StringSplitOptions.None))
        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row ActivitiesDetail_GSR" style="display:none">
    <div class="col-sm-12">
        <div class="form-field Deaddiction Activity_GSR" style="display:none">
            <div class="row">
                <div class="col-sm-2">
                    <label class="control-label text-red">Deaddiction Pledge Count:</label>
                </div>
                <div class="col-sm-2">
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_DeaddictionPledgeCount_GSR").Name("Txt_DeaddictionPledgeCount_GSR")
        .Format("#").Placeholder("Count").ReadOnly(false).FocusStateEnabled(true).Value(Model.Txt_DeaddictionPledgeCount_GSR) )
                </div>
                <div>&nbsp;&nbsp;&nbsp;    नशामुक्ति की प्रतिज्ञा करने वालो की संख्या यहाँ लिखें </div>
            </div>
        </div>

        <div class="form-field TreePlantation Activity_GSR" style="display:none">
            @(Html.DevExtreme().DataGrid<ConnectOneMVC.Areas.Facility.Models.TreePlantationDetails>()
        .ID("TreePlantation_DG")
        .ShowBorders(true)
        .ShowRowLines(true)
        .Paging(paging => paging.Enabled(false))
        .Editing(editing =>
        {
            editing.Mode(GridEditMode.Batch);
            editing.AllowAdding(Model.ActionMethod == "_Delete" ? false : true);
            editing.AllowDeleting(Model.ActionMethod == "_Delete" ? false : true);
            editing.AllowUpdating(Model.ActionMethod == "_Delete" ? false : true);
            editing.ConfirmDelete(false);
            editing.SelectTextOnEditStart(true);
            editing.StartEditAction(GridStartEditAction.Click);
        })
        .Columns(columns =>
        {
            columns.AddFor(m => m.TreeMiscID).Lookup(lookup => lookup.DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("LookUp_Get_TreePlantList").Key("ID").LoadMode(DataSourceLoadMode.Raw)).DisplayExpr("Name").ValueExpr("ID"));
            columns.AddFor(m => m.Count);
            columns.AddFor(m => m.KP_PlantID).Visible(false);
        })
        .OnToolbarPreparing("TreePlantation_ToolBarPreparing")
        .OnEditorPreparing("TreePlantation_EditorPreparing")
        .DataSource(new JS("createCustomStore_GSR()"))
        .Summary(s => s.TotalItems(items => { items.AddFor(m => m.Count).SummaryType(SummaryType.Sum); }).RecalculateWhileEditing(true)))
        </div>
        <div class="form-field BloodDonation Activity_GSR" style="display:none">
            <div class="row">
                <div class="col-sm-2">
                    <label class="control-label text-red">No of Units Blood Donated:</label>
                </div>
                <div class="col-sm-2">
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_BloodDonationUnitsCount_GSR").Name("Txt_BloodDonationUnitsCount_GSR")
        .Format("#").Placeholder("Count").ReadOnly(false).FocusStateEnabled(true).Value(Model.Txt_BloodDonationUnitsCount_GSR) )
                </div>
                <div>&nbsp;&nbsp;&nbsp;  कितना यूनिट्स रक्तदान किया उसका काउंट यहाँ लिखें </div>
            </div>
        </div>
        <div class="form-field AwardsReceived Activity_GSR" style="display:none">
            <div class="row">
                <div class="col-sm-2">
                    <label class="control-label text-red">No of Awards Received To Brahma Kumaris:</label>
                </div>
                <div class="col-sm-2">
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_AwardsReceivedCount_GSR").Name("Txt_AwardsReceivedCount_GSR")
        .Format("#").Placeholder("Count").ReadOnly(false).FocusStateEnabled(true).Value(Model.Txt_AwardsReceivedCount_GSR) )
                </div>
                <div>&nbsp;&nbsp;&nbsp;  ब्रह्मा कुमारिस को मिली हुई अवार्ड के बारे में नीचे संक्षिप्त विवरण में लिखें </div>
            </div>
        </div>

    </div>
</div>
@*<div class="row">
        <div class="col-sm-12">
            @Html.Partial("Frm_Wing_tab", Model)
        </div>
    </div><!---[Wing Tab]--->*@
