@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.ServiceReport_ViewModel

@{
    int[] selectedCenterids = null;
    if (string.IsNullOrWhiteSpace(Model.Coll_CEN_ID_GSR)==false)
    {
        var x = Model.Coll_CEN_ID_GSR.Split(new string[] { "![" }, StringSplitOptions.None);
        selectedCenterids = Array.ConvertAll(x, int.Parse);
    }
}
<style>
    .spanMediaTab {
        word-wrap: break-word;
    }
</style>
<div class="row">    
    <div class="col-sm-12">
        <div class="form-field" style="padding-bottom:10px">
            <div class="row">
                <label class="control-label" style="float: left;font-weight:500">Other Organizing Center(s) (अन्य सहायक सेवाकेंद्र)</label>
            </div>
            <div class="row">
                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_CollaborateCenter_GSR").Name("Look_CollaborateCenter_GSR")
                    .Value(selectedCenterids).Placeholder("Choose Center").DisplayExpr("cen_name").ValueExpr("cen_id")
                        .DataSource(d => d.Mvc().Controller("ServiceReport").LoadAction("LookUp_Get_Collaborate_Centres").Key("cen_id").LoadMode(DataSourceLoadMode.Raw))
                        .ContentTemplate(@<text>
                        @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("CollaborateCenter_GSR_datagrid")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("cen_name").Caption("Name");
                            columns.Add().DataField("cen_uid").Caption("UID");
                            columns.Add().DataField("ins_short").Caption("Institute").Visible(false);
                            columns.Add().DataField("cen_id").Caption("cen_id").Visible(false).SortingMethod("sortCollaborateCenterName_GSR").SortOrder(SortOrder.Asc);
                        })
                        .OnRowClick("DG_OnRowClick_GSR")
                        .Selection(s => s.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always).AllowSelectAll(false))
                        .FilterRow(s=>s.Visible(false))
                          .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys);};}"))
                    </text>).OnValueChanged("CollaborateCenter_ValueChange_GSR")
                )
                
            </div>
        </div>
    </div>
</div>



@*<div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <div class="row">
                    <div class="col-sm-2">
                        @Html.Label("Program Press Releases (प्रेस रिलीज)", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
                    </div>
                    <div class="col-sm-1">
                        @(Html.DevExtreme().Button().ID("PressRelease_Add_GSR").Text("Add").UseSubmitBehavior(false).OnClick("PressRelease_Add_GSR_Click").Disabled(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))
                    </div>
                    <div class="col-sm-9 spanMediaTab">
                        <span id="span_PressRelease_GSR">@Model.ProgramPressRelease_GSR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <div class="row">
                    <div class="col-sm-2">
                        @Html.Label("Program Banner (बैनर)", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
                    </div>
                    <div class="col-sm-1">
                        @(Html.DevExtreme().Button().ID("Banner_Add_GSR").Text("Add").UseSubmitBehavior(false).OnClick("Banner_Add_GSR_Click").Disabled(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))
                    </div>
                    <div class="col-sm-9 spanMediaTab">
                        <span id="span_Banner_GSR">@Model.ProgramBanner_GSR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <div class="row">
                    <div class="col-sm-2">
                        @Html.Label("Program Promo (प्रोमो)", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })
                    </div>
                    <div class="col-sm-1">
                        @(Html.DevExtreme().Button().ID("Promo_Add_GSR").Text("Add").UseSubmitBehavior(false).OnClick("Promo_Add_GSR_Click").Disabled(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View"))
                    </div>
                    <div class="col-sm-9 spanMediaTab">
                        <span id="span_Promo_GSR">@Model.ProgramPromo_GSR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
@*<div class="row">
    <div class="col-sm-12">
        <div class="form-field">
            <label class="control-label" style="font-weight:500">Media Google Drive / Other Link: **( If mentioned Please Give Proper Sharing Rights )</label>
            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_MediaLink_GSR").Name("Txt_MediaLink_GSR").Value(Model.Txt_MediaLink_GSR)
                                                                                  .Placeholder("Provide Media Google Drive / Other Link...") )
        </div>
    </div>
    </div>*@



