@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.ServiceEventDetails
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Brahmakumaris Events</title>
    <meta name="description" content="" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/ServiceModule/EventDetails/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.18/css/dx.common.css" />
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css" />
    <link rel="stylesheet" href="~/Content/ServiceModule/EventDetails/css/events.css" />
    <link rel="icon" href="~/Content/image/logo_small.png" />
</head>
<body>
    <!--Banner-->
    <div class="ev-banner">
        <div class="container">
            <h3>Brahmakumaris Events</h3>
        </div>
    </div>
    <!--//Banner-->
    <!--Filter div-->
    <div class="ev-filter">
        <div class="container">
            <div class="row" style="position: relative">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"> <i class='bx bxs-chevron-left'></i> Events</a></li>
                        <li class="breadcrumb-item active">@Model.Title</li>
                    </ol>
                </nav>

                <div class="side-action">
                    <a class="btn btn-white" href="#">Register for this event</a>
                    <a class="btn btn-red ml-2" href="#" data-toggle="tooltip" data-title="Organise brahmakumaris event near your location">Request an event</a>
                    @*<a class="btn btn-red ml-2" href="#" data-toggle="tooltip" data-title="Edit The Event Details" onclick="EditEventClick_EventDetails()">Edit Event</a>*@
                </div>
            </div>
        </div>
    </div>

    <!--//Filter div-->
    <!--Events wrapper-->
    <div class="ev-wrap">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-md-5">
                    <h3 class="mb-3">@Model.Title</h3>
                    <div class="wht-box p-0">
                        @*<img src="~/Content/ServiceModule/EventDetails/images/event3.jpg">*@
                        <img id="ev-bannerImage" src="@Model.BannerPath" />
                        <div class="ev-acts">
                            <button class="btn btn-white btn-sm mr-2 mb-2">GIVE FEEDBACK</button>
                            <button class="btn btn-white btn-sm mr-2 mb-2">OFFER SERVICE</button>
                            <button class="btn btn-white btn-sm mr-2 mb-2">EVENT REQUREMENTS</button>
                            <button class="btn btn-white btn-sm mr-2 mb-2">ASK A QUERY</button>
                            <button class="btn btn-white btn-sm mr-2 mb-2">CONTRIBUTE</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-7 ev-detail">
                    <aside>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="clearfix">
                                    <div class="ev-rating pull-left mr-3 mb-3">
                                        <span id="ev-star_1" class="bx bxs-star" data-rating="1"></span>
                                        <span id="ev-star_2" class="bx bxs-star" data-rating="2"></span>
                                        <span id="ev-star_3" class="bx bxs-star" data-rating="3"></span>
                                        <span id="ev-star_4" class="bx bxs-star" data-rating="4"></span>
                                        <span id="ev-star_5" class="bx bxs-star" data-rating="5"></span>
                                        <span>(0)</span> @*hardcoded as 0*@
                                    </div>
                                    <div class="pull-left">
                                        <div class="ev-tag yel">Open for all</div>
                                        @*<div class="ev-tag yel">Online event</div>
                                            <div class="ev-tag red">Favourite</div>*@     @*made hidden*@
                                        </div>
                                    </div>

                                    <div class="ev-datetime">
                                        <div>
                                            <i class='bx bxs-calendar'></i> <span class="mr-3">@Model.FromToDate</span>
                                            <i class='bx bxs-time'></i> <span>@Model.FromToTime </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-white btn-fav"><i class="bx bxs-heart"></i></a>
                                    <a href="#" class="btn btn-white"><i class="bx bxs-share-alt"></i></a>
                                    @*<a href="#" class="btn btn-white" data-toggle="tooltip" data-title="Edit The Event Details" onclick="EditEventClick_EventDetails()"><i class="bx bxs-edit"></i></a>*@
                                </div>
                            </div>
                        </aside>

                        <hr />

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="wht-box p-0">
                                    <ul class="ev-rel">
                                        <li class="row">
                                            <div class="col-2">
                                                <i class='bx bxs-user-pin'></i>
                                            </div>
                                            <div class="col-10">
                                                <b>Organiser</b>
                                                <h5>@Model.Organizer</h5>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-2">
                                                <i class='bx bxs-user-voice'></i>
                                            </div>
                                            <div class="col-10">
                                                <b>Speaker</b>
                                                <h5>@Model.Speaker</h5>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-2">
                                                <i class='bx bxs-book'></i>
                                            </div>
                                            <div class="col-10">
                                                <b>Subject/Topic/Theme</b>
                                                <h5>@Model.SubjectTopicTheme</h5>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-2">
                                                <i class='bx bxs-grid'></i>
                                            </div>
                                            <div class="col-10">
                                                <b>Category</b>
                                                <h5>@Model.Category</h5>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-2">
                                                <i class='bx bxs-group'></i>
                                            </div>
                                            <div class="col-10">
                                                <b>Audeince Type</b>
                                                <h5>@Model.AudienceType</h5>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-2">
                                                <i class='bx bx-globe'></i>
                                            </div>
                                            <div class="col-10" id="ev-LinksDiv">
                                                <b>Links</b>
                                                <h5><a href="@Model.Links" target="_blank">@Model.Links</a></h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="wht-box p-0">
                                    <ul class="ev-rel">
                                        <li class="row">
                                            <div class="col-2">
                                                <i class='bx bxs-map'></i>
                                            </div>
                                            <div class="col-10">
                                                <b>Venue</b>
                                                <h5>@Model.Venue</h5>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-2">
                                                <i class='bx bxs-map-pin'></i>
                                            </div>
                                            <div class="col-10">
                                                <b>Center</b>
                                                <h5>@Model.CenterName</h5>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-2">
                                                <i class='bx bxs-phone'></i>
                                            </div>
                                            <div class="col-10">
                                                <b>Center Phone</b>
                                                <h5><a href="tel:@Model.CenterPhone" target="_blank">@Model.CenterPhone</a></h5>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-2">
                                                <i class='bx bxl-gmail'></i>
                                            </div>
                                            <div class="col-10">
                                                <b>Center Email</b>
                                                <h5><a href="mailto:@Model.CenterEmail" target="_blank">@Model.CenterEmail</a></h5>
                                            </div>
                                        </li>
                                    </ul>
                                    <hr class="m-0" />
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15225.899712203518!2d78.3520363!3d17.4369684!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa735aa4a2bcb876c!2sBrahma%20Kumaris%20-%20Shanti%20Sarovar!5e0!3m2!1sen!2sin!4v1643093798348!5m2!1sen!2sin" height="180" style="border:0;width:100%;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                @*<div class="ev-gallerydevex">
                        @(Html.DevExtreme().Gallery().ID("ev-ImageGallry").DataSource(Model.AttachmentPaths).Height(400).AnimationEnabled(true).AnimationDuration(400).ItemHoldTimeout(750).IndicatorEnabled(true).RtlEnabled(false).ShowIndicator(true).ShowNavButtons(false).SlideshowDelay(0).WrapAround(false))
                    </div>*@
                <h3>Event Details</h3>
                <div class="ev-gallery">
                    @if (Model.AttachmentPaths != null && Model.AttachmentPaths.Count > 0)
                    {
                        foreach (string path in Model.AttachmentPaths)
                        {
                            <div>
                                <a class="lightbox" href=@path>
                                    <img src=@path />
                                </a>
                            </div>
                        }
                    }
                </div>
                <div class="mt-4 ev-detail" id="ev-progdetails">
                    <div class="">
                        <div class="wht-box p-0">
                            <ul class="ev-rel">
                                <li class="row" id="ev-BriefRow">
                                    <div class="col-12">
                                        <i class='bx bxs-detail'></i>
                                        <b>Program Brief</b>
                                        <h5>@Model.Brief</h5>
                                    </div>
                                </li>
                                <li class="row" id="ev-GuestRow">
                                    <div class="col-12">
                                        <i class='bx bxs-user'></i>
                                        <b>Guests</b>
                                        <ul>
                                            @if (string.IsNullOrWhiteSpace(Model.Guests) == false)
                                            {
                                                var Guest = Model.Guests.Split(new string[] { "![" }, StringSplitOptions.RemoveEmptyEntries);
                                                foreach (string g in Guest)
                                                {
                                                    <li>
                                                        <h5>@g</h5>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </li>
                                <li class="row" id="ev-MomentRow">
                                    <div class="col-12">
                                        <i class='bx bxs-gift'></i>
                                        <b>Special Moments</b>
                                        <h5>@Model.SplMoment</h5>
                                    </div>
                                </li>
                                <li class="row" id="ev-ProgramRow">
                                    <div class="col-12">
                                        <i class='bx bxs-bookmark-alt-minus'></i>
                                        <b>Cultural Programs</b>
                                        <h5>@Model.Cultural</h5>
                                    </div>
                                </li>
                                <li class="row" id="ev-TestimonialRow">
                                    <div class="col-12">
                                        <i class='bx bxs-user-check'></i>
                                        <b>Testimonials</b>
                                        <h5>@Model.Testimonials</h5>
                                    </div>
                                </li>
                                <li class="row" id="ev-FollowRow">
                                    <div class="col-12">
                                        <i class='bx bxs-user-circle'></i>
                                        <b>Follow Up</b>
                                        <h5>@Model.FollowUp</h5>
                                    </div>
                                </li>
                                <li class="row" id="ev-FeedbackRow">
                                    <div class="col-12">
                                        <i class='bx bxs-user-voice'></i>
                                        <b>Feedback</b>
                                        <h5>@Model.Feedback</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*<div class="mt-3">
                        <p>
                            We offer a variety of courses, seminars and events around the world.
                            If you are interested in seeing what is going on or would like to attend any of our events, please use the search facility below to see if there is something happening nearby.<br /><br />
                            Take 15 minutes out in the morning and join us for a free meditation. Explore an easy, practical way to feel calm and peaceful.
                            <br /><br />
                            Raja Yoga meditation can reduce stress, improve sleep quality and make the mind more clear and focussed.
                            <br /><br />
                            Join Zoom Meeting<br />
                            https://us02web.zoom.us/j/84153598220?pwd=ZXYvV2VwYjBrcHdlaW5FYmNvSm5kUT09
                            <br /><br />
                            Meeting ID: 841 5359 8220<br />
                            Passcode: peace
                        </p>
                    </div>*@
            </div>
        </div>
        <!--//Events wrapper-->
    <script type="text/javascript" src="~/Content/ServiceModule/EventDetails/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://www.brahmakumaris.com/wp-content/themes/olympus/Bootstrap/dist/js/bootstrap.bundle.js?ver=4.0.0" id="olympus-bootstrap-js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
            $(".btn-fav").click(function ()
            {
                $(this).toggleClass("active")
            })
            baguetteBox.run('.ev-gallery');
        $(document).ready(function ()
        {
            if ("@Model.BannerPath".length == 0)
            {
                $("#ev-bannerImage").addClass("ev-imagePlaceholder");
            }
            if ("@Model.StarRating" == "4")
            {
                $("#ev-star_5").addClass("NoRating");
            }
            else if ("@Model.StarRating" == "3")
            {
                $("#ev-star_4,#ev-star_5").addClass("NoRating");
            }
            else if ("@Model.StarRating" == "2")
            {
                $("#ev-star_3,#ev-star_4,#ev-star_5").addClass("NoRating");
            }
            else if ("@Model.StarRating" == "1")
            {
                $("#ev-star_2,#ev-star_3,#ev-star_4,#ev-star_5").addClass("NoRating");
            }
            else if ("@Model.StarRating" != "5")
            {
                $("#ev-star_1,#ev-star_2,#ev-star_3,#ev-star_4,#ev-star_5").addClass("NoRating");
            }
            if ($("#ev-BriefRow").find("h5").text().length == 0)
            {
                $("#ev-BriefRow").hide();
            }
            if ($("#ev-GuestRow").find("h5").text().length == 0)
            {
                $("#ev-GuestRow").hide();
            }
            if ($("#ev-MomentRow").find("h5").text().length == 0)
            {
                $("#ev-MomentRow").hide();
            }
            if ($("#ev-ProgramRow").find("h5").text().length == 0)
            {
                $("#ev-ProgramRow").hide();
            }
            if ($("#ev-TestimonialRow").find("h5").text().length == 0)
            {
                $("#ev-TestimonialRow").hide();
            }
            if ($("#ev-FollowRow").find("h5").text().length == 0)
            {
                $("#ev-FollowRow").hide();
            }
            if ($("#ev-FeedbackRow").find("h5").text().length == 0)
            {
                $("#ev-FeedbackRow").hide();
            }
            if (($("#ev-progdetails").find('li:Visible')).length == 0)
            {
                $("#ev-progdetails").hide();
            }
        });
            function createGuid() {
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            }

        </script>
    </body>
</html>



