@model System.Data.DataTable
@{ Layout = "";
}
<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<style>
    @@media (max-width:620px) {

        img {
            height: auto;
            width: 100%
        }

        table {
            table-layout: fixed !important;
            word-break: break-all;
            margin: 0 !important;
        }
    }
</style>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

    <!-- START HEADER/BANNER -->

    <tbody>
        <tr>
            <td align="center">
                <table border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; border-top: 1px solid #dbd9d9; width:100%; max-width: 600px;">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" bgcolor="#cae4ff" style="background: linear-gradient(343deg, rgba(178,220,250,1) 0%, rgb(224 236 255) 100%)">
                                <table border="0" align="center" cellpadding="0" cellspacing="0" style="padding:20px; width:100%; max-width: 600px;">

                                    <tbody>

                                        <tr>
                                            <td style="line-height: 0px;text-align: center; ">
                                                <img style="display:block; line-height:0px; font-size:0px; border:0px; margin:0 auto" src="https://connectone.app/Content/image/logol.png" height="35" alt="logo">
                                            </td>
                                            <!--
                                                                                <td style="text-align: center">
                                                                                    <img style="display:block; line-height:0px; font-size:0px; border:0px; margin:0 auto" src="thankyou.jpg" height="140" alt="logo">
                                                                                </td>
                                            -->
                                            <td style="text-align: center">
                                                <img style="display:block; line-height:0px; font-size:0px; border:0px; margin:0 auto" src="https://www.brahmakumaris.com/wp-content/uploads/2021/06/cropped-logo.png" height="35" alt="logo">
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <!-- END HEADER/BANNER -->
        <!-- START CONTENT 1 -->

        <tr>
            <td align="center">
                <table border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; width:100%; max-width: 600px">
                    <tbody>
                        <tr>
                            <td height="25"></td>
                        </tr>

                        <tr>
                            <td align="center" style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#2a3a4b;">Om shanti, Thanks for Posting Service Report in Connectone.</td>
                        </tr>

                        <tr>
                            <td height="20"></td>
                        </tr>


                        <tr>
                            <td align="center" style="font-family: 'Lato', sans-serif; font-size:14px; color:#34495E; line-height:24px; font-weight: 300; padding: 0 20px 20px">
                                <table style="border-color:#34495E; line-height:16px; text-align:left; font-size:13px; width: 100%; margin-bottom: 20px" cellspacing="0" cellpadding="3" border="1">
                                    <thead>
                                        <tr style="background: #34495E; color: #fff; font-size: 12px; padding: 8px 10px 5px; height: 30px; text-align: center; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; line-height: 20px;">
                                            <td colspan="2">
                                                Details filled by you are given below:
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> Organizer :</td>
                                            <td>
                                                @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["Centre"].ToString()))
                                            </td>
                                        </tr>

                                        <tr>
                                            <td> Project :</td>
                                            <td>
                                                @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["Project"].ToString()))
                                            </td>
                                        </tr>

                                        <tr>
                                            <td> Program :</td>
                                            <td>
                                                @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["Program"].ToString()))
                                            </td>
                                        </tr>

                                        <tr>
                                            <td> Venue :</td>
                                            <td>
                                                @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["Venue"].ToString()))
                                            </td>
                                        </tr>

                                        <tr>
                                            <td> Category :</td>
                                            <td>
                                                @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["Category"].ToString()))
                                            </td>
                                        </tr>

                                        <tr>
                                            <td> Occasion :</td>
                                            <td>
                                                @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["Occasion"].ToString()))
                                            </td>
                                        </tr>

                                        <tr>
                                            <td> Event From :</td>
                                            <td>
                                                @Model.Rows[0]["Prog_From"]
                                            </td>
                                        </tr>

                                        <tr>
                                            <td> Event Till :</td>
                                            <td>
                                                @Model.Rows[0]["Prog_To"]
                                            </td>
                                        </tr>

                                        <tr><td> Speaker(s) :</td><td>   @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["Speaker"].ToString()))</td></tr>

                                        <tr>
                                            <td> Beneficiaries :</td>
                                            <td>
                                                @Model.Rows[0]["Beneficieries"]
                                            </td>
                                        </tr>

                                        <tr>
                                            <td> Brief :</td>
                                            <td>
                                                @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["Program_Brief"].ToString()))
                                            </td>
                                        </tr>

                                        <tr><td> News/Live/Promo Link :</td><td>   @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["News_Live_Promo_Link"].ToString()))</td></tr>

                                        <tr>
                                            <td> Testimonials :</td>
                                            <td>
                                                @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["VVIP_Testimonials"].ToString()))
                                            </td>
                                        </tr>

                                        <tr>
                                            <td> Guests(s) :</td>
                                            <td>
                                                @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["Guests"].ToString()))
                                            </td>
                                        </tr>

                                        <tr>
                                            <td> Wing(s) :</td>
                                            <td>
                                                @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["Wings"].ToString()))
                                            </td>
                                        </tr>

                                        <tr>
                                            <td> Media :</td>
                                            <td>
                                                @Html.Raw(HttpUtility.HtmlDecode(Model.Rows[0]["Media"].ToString()))
                                            </td>
                                        </tr>


                                        <tr>
                                            <td> Centre Contact :</td>
                                            <td>
                                                @Model.Rows[0]["Centre_Contact"]
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>



        <!-- END CONTENT 1 -->

    </tbody>
</table>