@using DevExtreme.AspNet.Mvc
<div class="container" id="container">
    <div class="row" style="padding: 10px 5px">
        <div class="col-6">

        </div>
        <div class="col-6 float-right">
            @(Html.DevExtreme().Button().Text("Edit") .StylingMode(ButtonStylingMode.Contained).Width(100).OnClick("Upcoming_Edit_onclick"))
            @(Html.DevExtreme().Button().Text("Notification Status") .StylingMode(ButtonStylingMode.Contained).Width(150).OnClick("Upcoming_Notification_onclick"))
            @(Html.DevExtreme().Button().Text("Cancel Event") .StylingMode(ButtonStylingMode.Contained).Width(100).OnClick("Upcoming_Cancel_onclick"))
            @(Html.DevExtreme().Button().Text("Preview") .StylingMode(ButtonStylingMode.Contained).Width(100).OnClick("Upcoming_Preview_onclick"))
        </div>

    </div>


    @Html.Action("Frm_Upcoming_Events_Grid") @*new { viewmode = Model.viewmode, wingid = Model.wingid, insid = Model.insid }*@
</div>
