<div class="PurposeReport_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress;
    @using DevExpress.Web.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        var UserType = ViewBag.UserType;
        bool Purpose_Report_ExportRight = (bool)ViewData["Purpose_Report_ExportRight"];
    }
    <div id="content" class="col-md-12 report_header_div_main">
        <div class="col-md-4 report_header_div">
            <label class="report_header_label">Purpose Report</label>
        </div>
        @*Buttons*@
        <div class="report_button_div">
            @(Html.DevExtreme().Button()
                                        .ID("PurposeReportsModelListPreview")
                                        .Text("Export")
                                        .Icon("save")
                                        .Visible(true)
                                         .Width(80)
                                        .OnClick(@<text>
                                            function () {
                                            OnPurposeReportListPreviewClick();
                                            }
                                        </text>)
        )
            @(Html.DevExtreme().Button()
                                        .ID("PurposeReportModelCLOSE")
                                        .Text("Close")
                                        .Icon("clear")
                                        .OnClick(@<text>
                                            function (){
                                            $(".TabPanalMenu-tabs .active span").click()
                                            }
                                        </text>)

        )
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <form>
            <div id="PurposeReportreloadPartialView" class="parent_table">
                @Html.Partial("Frm_Purpose_Report_Grid", Model)
            </div>
        </form>
    </div>

    @*<div class="footer-MainBoxdiv full-width-footer">
            <div class="col-lg-4 footer_smallbtns report_footer_small_buttons_div" id="PurposeReportFooterItem">
                @(Html.DevExtreme().Button()
                                                .ID("btnPurposeReportShowColumnChooser")
                                                .ElementAttr("class", "column-chooser")
                                                .Icon("add")
                                                .Hint("Show Column Chooser")
                                                .OnClick(@<text>
                                                    function () {
                                                    PurposeReportShowColumnChooser();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                                .ID("btnPurposeReportShowGroupPanel")
                                                .Icon("spinup")
                                                .Hint("Show Group Box")
                                                .OnClick(@<text>
                                                    function () {
                                                    PurposeReportShowGroupPanel();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                                .ID("PurposeReportGroupColumn")
                                                .Icon("fa fa-forward fa-rotate-270")
                                                .Hint("Show Grouped column")
                                                .OnClick(@<text>
                                                    function () {
                                                    OnPurposeReportGroupClick();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("PurposeReportShowFooter")
                                            .Icon("fa fa-fast-forward fa-rotate-270")
                                            .Hint("Show Footer Bar")
                                            .OnClick(@<text>
                                                function () {
                                                SetPurposeReportFooterVisible();
                                                }
                                            </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("PurposeReportShowGroupFooter")
                                            .Icon("fa fa-minus")
                                            .Hint("Show Group Footer Bar")
                                            .OnClick(@<text>
                                                function () {
                                                SetPurposeReportGroupPanelFooterVisible();
                                                }
                                            </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("PurposeReportCreateFilterButton")
                                            .Icon("todo")
                                            .Hint("Open Filter Builder")
                                            .OnClick(@<text>
                                                function () {
                                                PurposeReportCreateFilterClick();
                                                }
                                            </text>)
                )
            </div>

            <div class="col-lg-8 report_footer_filter_buttons_div setFooterItem">
                <div class="footer-inner">
                    <div class="filter_main" style="float:right">
                            @(Html.DevExtreme().Button()
                                                .ID("PurposeReportSearch")
                                                .Text("Find")
                                                .Icon("find")
                                                .Hint("Show search")
                                                .ElementAttr(new Dictionary<string, object>() { { "class", "float-right find_btn" } })
                                                .OnClick(@<text>
                                                    function () {
                                                    OnPurposeReportSearchClick();
                                                    }
                                                </text>))

                            @(Html.DevExtreme().Button()
                                                .ID("PurposeReportFind")
                                                .Text("Filter")
                                                .Icon("find")
                                                .Hint("Show filter")
                                                .ElementAttr(new Dictionary<string, object>() { { "class", "float-right filter_btn" } })
                                                .OnClick(@<text>
                                                    function () {
                                                    OnPurposeReportFilterClick();
                                                    }
                                                </text>)
                            )
                        </div>
                    <div   style="float:right">
                        @Html.DevExpress().TrackBar(
                           tb =>
                           {
                               tb.Name = "PurposeReportTrackBar";
                               tb.Properties.ScalePosition = ScalePosition.LeftOrTop;
                               tb.Properties.ValueToolTipPosition = ValueToolTipPosition.RightOrBottom;
                               tb.Properties.ValueType = typeof(string);
                               tb.Width = 150;
                               tb.Position = 2;
                               tb.Properties.ClientSideEvents.PositionChanged = "PurposeReportTrackBarPositionChanged";
                               tb.ControlStyle.CssClass = "float-right";
                               tb.Properties.ScalePosition = ScalePosition.None;
                           }
                       ).GetHtml()
                    </div>
                </div>
            </div>
        </div>*@

    <div class="col-md-12">
        @*Add/Edit Popup*@
        @(Html.DevExtreme().Popup().CustomPopup()
                .ID("PurposeReport_report_modal")
                 .OnShowing("PopupOnShowing")
                .Title("Purpose Report Preview")
                .FullScreen(false)
                .MaxWidth(125)
                .Height("auto")
                .ShowCloseButton(true)
                .ContentTemplate(@<text>
                    <div id='PurposeReport_report_modal_result'>
                    </div>
                </text>)
    )

    </div>

    @*Javascript Events*@
    <script type="text/javascript">
    var IsPurposeReportSucessPopup = false;
    var IsPurposeReportViewPopup = false;
    var UserType_PurposePrf = "@UserType".toUpperCase();
    var PurposeReportSearchVisible = true;
    var PurposeReportFilterVisible = true;
    var PurposeReportGroupedColumnsVisible = false;
    var PurposeReportGroupPanelFooterVisible = true;
    var PurposeReportFooterVisible = true;
    var PurposeReportGroupPanelVisible = true;

    $(document).ready(function () {
        if ("@Purpose_Report_ExportRight" == "False")
        {
	        $("#PurposeReportsModelListPreview").hide();
        }
        IsPurposeReportSucessPopup = false;
        IsPurposeReportViewPopup = false;
        SetPurposeReportGroupPanelFooterVisible();
        $("#PurposeReportListGrid").hover(function () {
            PurposeReportListGrid.Focus()
        })
    });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Reports/PurposeReport/SessionClear",
            cache: false
        });
        ClearAllReferences_PurposeReport();
    });
        function ClearAllReferences_PurposeReport()
        {
            IsPurposeReportSucessPopup = null;
            IsPurposeReportViewPopup = null;
            UserType_PurposePrf = null;
            PurposeReportSearchVisible = null;
            PurposeReportFilterVisible = null;
            PurposeReportGroupedColumnsVisible = null;
            PurposeReportGroupPanelFooterVisible = null;
            PurposeReportFooterVisible = null;
            PurposeReportGroupPanelVisible = null;

            ClearAllReferences("PurposeReport_ClearReferences");
        }
    function OnPurposeCellClick(event, cell,col, row)
    {
        if (UserType_PurposePrf == "AUDITOR" || UserType_PurposePrf == "SUPERUSER")
        {
            if (event.button == 0)
            {
                if (cell.style.backgroundColor.length > 0)
                {
                    cell.style.backgroundColor = "";
                }
                else
                {
                    cell.style.backgroundColor = 'skyblue';
                }
            }
        }
    }
    function PurposeReportOnInit(s, e) {
        PurposeReportAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            PurposeReportAdjustSize();
        });
    }

    function OnEndCallback(s, e) {
        PurposeReportAdjustSize();
    }

    function PurposeReportAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try{PurposeReportListGrid.SetHeight(height);} catch (err) { }
    }

    function UpdatePurposeReportCustomizationWindowVisibility() {
        if (PurposeReportListGrid.IsCustomizationWindowVisible()) {
            PurposeReportListGrid.HideCustomizationWindow();
            $("#btnPurposeReportShowColumnChooser").attr("title", "Show Column Chooser ")
        }
        else {
            PurposeReportListGrid.ShowCustomizationWindow();
            $("#btnPurposeReportShowColumnChooser").attr("title", "Hide Column Chooser ");
            $("#btnPurposeReportShowColumnChooser").find("i").toggleClass("dx-icon-add").toggleClass("dx-icon-close");
        }

    }

    function CloseColumnChooser() {

        if (!PurposeReportListGrid.IsCustomizationWindowVisible()) {
            $("#btnPurposeReportShowColumnChooser").find("i").toggleClass("dx-icon-add").toggleClass("dx-icon-close");
            $("#btnPurposeReportShowColumnChooser").attr("title", "Show Column Chooser ");
        }
    }

    function PurposeReportTrackBarPositionChanged() {
        var PurposeReportcurrentZoom = 1.0;
        var PurposeReporttrackBarCurrentValue = PurposeReportTrackBar.GetValue()
        if (PurposeReporttrackBarCurrentValue != 0) {
            PurposeReportcurrentZoom += PurposeReporttrackBarCurrentValue / 100;
        }
        $('#PurposeReportreloadPartialView').animate({ 'zoom': PurposeReportcurrentZoom }, 'slow');
    }

    $("#PurposeReportTrackBar").click(function (evt) {

    });

    function OnPurposeReportListPreviewClick() {
        if ("@Purpose_Report_ExportRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }

        OpenPopup("PurposeReport_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "PurposeReport", new { @area = "Reports" })", "auto", "auto", false, null);
    }

    function PurposeReportContextMenuFunction(s, e) {
        if (e.item.name == 'Close') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'ListPreview') {
            OnPurposeReportListPreviewClick();
        }
        else if (e.item.name == 'Refresh') {
            PurposeReportListGrid.Refresh();
        }
    }

    function PurposeReportShowColumnChooser() {
        UpdatePurposeReportCustomizationWindowVisibility();
    }

    function PurposeReportShowGroupPanel() {
        PurposeReportGroupPanelVisibility();
    }

    function OnPurposeReportGroupClick() {
        if ($('[id^=PurposeReportListGrid_groupcol').length != 0) {
            PurposeReportListGrid.PerformCallback({ 'FilterVisible': PurposeReportFilterVisible, "SearchVisible": PurposeReportSearchVisible, "ShowGroupedColumns": !PurposeReportGroupedColumnsVisible });
            $("#PurposeReportGroupColumn").find("i").toggleClass("fa fa-forward fa-rotate-270").toggleClass("fa fa-backward fa-rotate-270");
            PurposeReportGroupedColumnsVisible = !PurposeReportGroupedColumnsVisible;
            if (!PurposeReportGroupedColumnsVisible) {
                $("#PurposeReportGroupColumn").attr("title", "Show Grouped Column")
            } else {
                $("#PurposeReportGroupColumn").attr("title", "Hide Grouped Column")
            }
        }
    }

    function OnPurposeReportSearchClick() {
        PurposeReportListGrid.PerformCallback({ 'FilterVisible': PurposeReportFilterVisible, "SearchVisible": PurposeReportSearchVisible, "ShowGroupedColumns": !PurposeReportGroupedColumnsVisible });
        if (PurposeReportSearchVisible) {
            PurposeReportListGrid.contextMenuHelper.ContextMenuShowSearchPanel(1);
            $("#PurposeReportSearch").attr("title", "Hide Search ")
        }
        else {
            PurposeReportListGrid.contextMenuHelper.ContextMenuShowSearchPanel(0);
            $("#PurposeReportSearch").attr("title", "Show Search ")
        }
        PurposeReportSearchVisible = !PurposeReportSearchVisible;
    }

    function OnPurposeReportFilterClick() {
        PurposeReportListGrid.PerformCallback({ 'FilterVisible': PurposeReportFilterVisible, "SearchVisible": PurposeReportSearchVisible, "ShowGroupedColumns": !PurposeReportGroupedColumnsVisible });
        if (PurposeReportFilterVisible) {
            $("#PurposeReportFind").attr("title", "Hide Filter ")
            PurposeReportListGrid.contextMenuHelper.ContextMenuShowFilterRow(1);
        }
        else {
            $("#PurposeReportFind").attr("title", "Show Filter ")
            PurposeReportListGrid.contextMenuHelper.ContextMenuShowFilterRow(0);
        }
        PurposeReportFilterVisible = !PurposeReportFilterVisible;
    }

    function OnGridPurposeReportListGrid_EndCallback() {
        if (!PurposeReportGroupPanelFooterVisible)
        { $('#PurposeReportListGrid .dxgvGroupFooter_MetropolisBlue').show(); }
        else {
            $('#PurposeReportListGrid .dxgvGroupFooter_MetropolisBlue').hide();
        }
    }

    function PurposeReportGroupPanelVisibility() {
        if (PurposeReportGroupPanelVisible) {
            if (PurposeReportListGrid.contextMenuHelper == undefined)
            { PurposeReportListGrid.Refresh(); }
            $("#btnPurposeReportShowGroupPanel").attr("title", "Hide Group box ")
            PurposeReportListGrid.contextMenuHelper.ContextMenuShowGroupPanel(1)
        }
        else {
            $("#btnPurposeReportShowGroupPanel").attr("title", "Show Group box ")
            PurposeReportListGrid.contextMenuHelper.ContextMenuShowGroupPanel(0);
        }
        PurposeReportGroupPanelVisible = !PurposeReportGroupPanelVisible;

        $("#btnPurposeReportShowGroupPanel").find("i").toggleClass("dx-icon-spinup").toggleClass("dx-icon-spindown");
    }

    function SetPurposeReportGroupPanelFooterVisible() {
        if (PurposeReportGroupPanelFooterVisible) {
            $("#PurposeReportShowGroupFooter").attr("title", "Hide Group  Footer Bar");
            $('#PurposeReportListGrid .dxgvGroupFooter_MetropolisBlue').show();
        }
        else {
            $("#PurposeReportShowGroupFooter").attr("title", "Show Group Footer Bar");
            $('#PurposeReportListGrid .dxgvGroupFooter_MetropolisBlue').hide();
        }
        PurposeReportGroupPanelFooterVisible = !PurposeReportGroupPanelFooterVisible;
    }

    function SetPurposeReportFooterVisible() {
        $("#PurposeReportShowFooter").find("i").toggleClass("fa fa-fast-forward fa-rotate-270").toggleClass("fa fa-fast-backward fa-rotate-270");
        if (PurposeReportFooterVisible) {
            $("#PurposeReportShowFooter").attr("title", "Hide Footer Bar");
            PurposeReportListGrid.contextMenuHelper.ContextMenuShowFooter(1);
        }
        else {
            $("#PurposeReportShowFooter").attr("title", "Show Footer Bar");
            PurposeReportListGrid.contextMenuHelper.ContextMenuShowFooter(0);
        }
        PurposeReportFooterVisible = !PurposeReportFooterVisible;
    }

    function PurposeReportCreateFilterClick() {
        ASPx.GVShowFilterControl('PurposeReportListGrid');
    }

    </script>

</div>