<div class="RequestHelp_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress;
    @using DevExpress.Web.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        var UserType = ViewBag.UserType;
        bool ReqBox_AddRight = (bool)ViewData["ReqBox_AddRight"];
        bool ReqBox_UpdateRight = (bool)ViewData["ReqBox_UpdateRight"];
        bool ReqBox_DeleteRight = (bool)ViewData["ReqBox_DeleteRight"];
        bool ReqBox_ViewRight = (bool)ViewData["ReqBox_ViewRight"];
        bool ReqBox_ExportRight = (bool)ViewData["ReqBox_ExportRight"];
        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
        bool ReqBox_Auto_Vouching_Mode = (bool)ViewData["ReqBox_Auto_Vouching_Mode"];
    }
    

    <div id="RequestBox_ParentDiv">
        <div id="content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">Request Box</label>
            </div>
            @*Buttons*@
            <div class="report_button_div">
                @(Html.DevExtreme().Switch().ID("RequestBoxVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("RequestBox_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Button()
                                                                                 .ID("RequestBoxModelNew")
                                                                                 .Text("New")
                                                                                 .Icon("add")
                                                                                 .Visible(true)
                                                                                 .OnClick(@<text>
                                                                                    function () {
                                                                                    OnNewClick();
                                                                                    }
                                                                                </text>)
            )
                @(Html.DevExtreme().Button()
                                                                               .ID("RequestBoxModelEdit")
                                                                               .Text("Edit")
                                                                               .Icon("edit")
                                                                               .Visible(true)
                                                                               .OnClick(@<text>
                                                                                function () {
                                                                                OnRequestBoxEditClick();
                                                                                }
                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                .ID("RequestBoxModelDelete")
                                                                                .Text("Delete")
                                                                                .Icon("trash")
                                                                                .Visible(true)
                                                                                .OnClick(@<text>
                                                                                    function () {
                                                                                    OnDeleteClick();
                                                                                    }
                                                                                </text>)
            )
                @(Html.DevExtreme().Button()
                                                                               .ID("RequestBoxUnread")
                                                                               .Text("Mark as Unread")
                                                                               .Icon(IconID.ViewCustomers16x16devav)
                                                                               .Icon("doc")
                                                                               .Visible(true)
                                                                               .OnClick(@<text>
                                                                                function () {
                                                                                OnRequestboxunreadClick();
                                                                                }
                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                           .ID("RequestBoxRead")
                                                                           .Text("Mark as Read")
                                                                           .Icon(IconID.ViewCustomers16x16devav)
                                                                           .Icon("doc")
                                                                           .Visible(true)
                                                                           .OnClick(@<text>
                                                                            function () {
                                                                            OnRequestboxreadClick();
                                                                            }
                                                                        </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                .ID("RequestBoxView")
                                                                                .Text("View")
                                                                                .Icon(IconID.ViewCustomers16x16devav)
                                                                                .Icon("doc")
                                                                                .Visible(true)
                                                                                .OnClick(@<text>
                                                                                    function () {
                                                                                    OnViewClick();
                                                                                    }
                                                                                </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                        .ID("Request_InfoToggleScrollBar")
                                                                                        .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                                                                                        .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                                                                                        .Icon("toolbox")
                                                                                        .OnClick(@<text>
                                                                                            function () {
                                                                                            Request_InfochangeMode();
                                                                                            }
                                                                                        </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                                .ID("Request_InfosModelListPreview")
                                                                                                                .Text("Export")
                                                                                                                .Icon("save")
                                                                                                                 .Width(82)
                                                                                                                .OnClick(@<text>
                                                                                                                    function () {
                                                                                                                    OnRequest_InfoListPreviewClick();
                                                                                                                    }
                                                                                                                </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                                .ID("Request_InfoModelCLOSE")
                                                                                                                .Text("Close")
                                                                                                                .Icon("clear")
                                                                                                                .OnClick(@<text>
                                                                                                                    function (){
                                                                                                                    closeRequestBox();
                                                                                                                    }
                                                                                                                </text>)

            )
            </div>
        </div>
        <div class="col-md-12 no-padding">
            <form>
                <div id="Request_InforeloadPartialView" class="parent_table">
                    @Html.Partial("Frm_Request_Info_Grid", Model)
                </div>
            </form>
        </div>
        <div class="footer-MainBoxdiv full-width-footer">
            @*<div class="col-lg-8 report_footer_small_buttons_div" id="RequestFooterItem">*@
            <div class="list_footer_left_margin col-md-10">
                <div>
                    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id="Request_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="Request_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                            @*<div class="footer-locktext">
                                    <div id="RequestLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                                </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id="RequestLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id="RequestLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list_footer_right_margin_consistent col-md-1">
                @*<i id="Request_LockICON" class="fa fa-lock lock_symbol"></i>*@
            </div>
            @*</div>
                <div class="col-lg-4 listing_footer_filter_buttons_div">
                </div>*@
        </div>
        @Html.Partial("AttachmentFAB", "Request_FAB,Request_grid_DIV,Type2,RequestFacility") @*fab buttons*@

        <div class="col-md-12">
            @*Add/Edit Popup*@
            @(Html.DevExtreme().Popup().CustomPopup()
                                                            .ID("Request_Info_report_modal")
                                                             .OnShowing("PopupOnShowing")
                                                            .Title("Request List Preview")
                                                            .FullScreen(false)
                                                            .MaxWidth(125)
                                                           .Height("auto")
                                                            .ShowCloseButton(true)
                                                            .ContentTemplate(@<text>
                                                                <div id='Request_Info_report_modal_result'>
                                                                </div>
                                                            </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                                           .ID("popup_frm_RequestBox_Window")
                                                           .Title("RequestBox")
                                                           .OnShowing("PopupOnShowing")
                                                           .DragEnabled(true)
                                                           .Height(400)
                                                           .Width(650)
                                                           .ShowCloseButton(true)
                                                           .ContentTemplate(@<text>
                                                            <div id="popup_frm_RequestBox_Window_result">
                                                            </div>
                                                        </text>)

        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                            .ID("popup_frm_RequestBox_Window_Close")
                                            .OnShowing("PopupOnShowing")
                                            .Title("Bank")
                                            .MaxHeight(460)
                                            .MaxWidth(750)
                                            .ContentTemplate( @<text>
                                                <div id='popup_frm_Request_Window_Close_result'>
                                                </div>
                                            </text>)
        )
        </div>
    </div>
    @*Javascript Events*@
<script type="text/javascript">
    var IsRequest_InfoSucessPopup = false;
    var IsRequest_InfoViewPopup = false;
    var IsRequestNewPopup = false;
    var RequestInfo_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var ReqestBNewright = "@ReqBox_AddRight" == "True" ? true : false;
    var ReqestBEditright = "@ReqBox_UpdateRight" == "True" ? true : false;
    var ReqestBDeleteright = "@ReqBox_DeleteRight" == "True" ? true : false;
    var ReqestBViewright = "@ReqBox_ViewRight" == "True" ? true : false;
    var ReqestBExportright = "@ReqBox_ExportRight" == "True" ? true : false;
    var RequestB_IsVouchingMode = false;
    var ReqBox_SetVouchingModeOn = "@ReqBox_Auto_Vouching_Mode" == "True" ? true : false;
    function RequestBox_VouchingSwitch_ValueChange(e)
    {
        RequestB_IsVouchingMode = e.value;
        Request_CollapseAllDetailRows();
    }
    function Request_CollapseAllDetailRows()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.Request_InfoListGrid !== 'undefined')
            {
                if (typeof window.Request_InfoListGrid.CollapseAllDetailRows !== 'undefined')
                {
                    if (typeof Request_InfoListGrid.CollapseAllDetailRows == 'function')
                    {
                        Request_InfoListGrid.CollapseAllDetailRows();
                    }
                    else
                    {
                        alert("CollapseAllDetailRows is not a function");
                    }
                }
                else {
                    ShowLoader();
                    setTimeout(function () {
                        Request_CollapseAllDetailRows();
                        HideLoader();
                    }, Timeout100);
                }
            }
            else {
                alert('grid undefined')
            }
        }
        else {
            alert('window undefined')
        }
    }
    $(document).ready(function () {
        IsRequest_InfoSucessPopup = false;
        IsRequest_InfoViewPopup = false;
        IsRequestNewPopup = false;
        var RequestInfo_ShowHorizontalBar = 0;
       // SetRequest_InfoGroupPanelFooterVisible();
        //$("#Request_InfoListGrid").hover(function () {
        //    Request_InfoListGrid.Focus()
        //})
        $("#Txt_Detail").dxTextArea({ 'disabled': false });

        HideLoader();
        ReqestBNewright = "@ReqBox_AddRight" == "True" ? true : false;
        ReqestBEditright = "@ReqBox_UpdateRight" == "True" ? true : false;
        ReqestBDeleteright = "@ReqBox_DeleteRight" == "True" ? true : false;
        ReqestBViewright = "@ReqBox_ViewRight" == "True" ? true : false;
        ReqestBExportright = "@ReqBox_ExportRight" == "True" ? true : false;

        if (ReqestBNewright == false)
        {
            $("#RequestBoxModelNew").hide();
        }
        if (ReqestBEditright == false)
        {
            $("#RequestBoxModelEdit").hide();
            $("#RequestBoxRead").hide();
            $("#RequestBoxUnread").hide();
        }
        if (ReqestBViewright == false)
        {
            $("#RequestBoxView").hide();
        }
        if (ReqestBDeleteright == false)
        {
            $("#RequestBoxModelDelete").hide();
        }
        if (ReqestBExportright == false)
        {
            $("#Request_InfosModelListPreview").hide();
        }
        $(".Request_InfoListGrid_PreviewRow").hide();
        GetSessionStorage("Request_InfoListGrid");
        if (ReqBox_SetVouchingModeOn == true) {
            $("#RequestBoxVouchingModeSwitch").dxSwitch("instance").option("value", true);
            //$("#DonRegViewModeSwitch").dxSwitch("instance").option("value", true);
        }
    });
    var UserType_RequestPrf = "@UserType".toUpperCase();
    function OnRequestCellClick(event, cell,col, row)
    {
        if (UserType_RequestPrf == "AUDITOR" || UserType_RequestPrf == "SUPERUSER")
        {
            if (event.button == 0)
            {
                if (cell.style.backgroundColor.length > 0)
                {
                    cell.style.backgroundColor = "";
                }
                else
                {
                    cell.style.backgroundColor = 'skyblue';
                }
            }
        }
    }
    function Request_InfoOnInit(s, e) {
        Request_InfoAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            Request_InfoAdjustSize();
        });
    }
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Help/RequestBox/SessionClear",
            cache: false
        });
        ClearAllReferences_RequestHelp();

    });
        function ClearAllReferences_RequestHelp() {
            IsRequest_InfoSucessPopup = null;
            IsRequest_InfoViewPopup = null;
            IsRequestNewPopup = null;
            RequestInfo_ShowHorizontalBar = null;
            ReqestBNewright = null;
            ReqestBEditright = null;
            ReqestBDeleteright = null;
            ReqestBViewright = null;
            ReqestBExportright = null;
            RequestB_IsVouchingMode = null;
            ReqBox_SetVouchingModeOn = null;
            UserType_RequestPrf = null;
            RequestID = null;
            Request_EditDate = null;
            Request_AddDate = null;
            Request_AddBy = null;
            Request_EditBy = null;
            Request_ActionStatus = null;
            Request_ActionDate = null;
            Request_ActionBy = null;
            RequestInfo_IsDetailRowExpanded = null;
            RequestInfo_NestedRecord_FocusedRowIndex = null;
            RequestInfo_NestedGrid_AccessID = null;
            RequestInfo_AtachmentID = null;
            RequestInfo_FileName = null;
            RequestInfo_ParamMandatory = null;
            RequestInfo_FromDateLabel = null;
            RequestInfo_ToDateLabel = null;
            RequestInfo_DescriptionLabel = null;
            RequestInfo_Doc_ID = null;
            RequestInfo_Doc_Category = null;
            RequestInfo_MasterRowRecID = null;
            RequestInfo_MasterRowMID = null;
            RequestInfo_NestedRowMapID = null;
            RequestInfo_reason = null;
            RequestInfo_Attachment_RecStatus = null;
            RequestInfo_Nested_Doc_Status = null;

            ClearAllReferences("RequestHelp_ClearReferences");
        }

        function OnGridRequest_InfoListGrid_EndCallback(s, e) {
            Request_InfoAdjustSize();
            Request_InfoGridLayout = s.cpClientLayout;
            $(".Request_InfoListGrid_PreviewRow").hide();
            GetSessionStorage("Request_InfoListGrid");
            SendCustomArgs_FilterControl(s, e);
    }

    function Request_InfoAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try { Request_InfoListGrid.SetHeight(height); } catch (err) { }
    }
    function Request_InfochangeMode() {
        ShowLoader();
        if (RequestInfo_ShowHorizontalBar == 0) {
            RequestInfo_ShowHorizontalBar = 1;
            $("#Request_infoToggleScrollBar").find("span").text("Default Data");
            $("#Request_infoToggleScrollBar").width(110);
        }
        else {
            RequestInfo_ShowHorizontalBar = 0;
            $("#Request_infoToggleScrollBar").find("span").text("Full Data");
            $("#Request_infoToggleScrollBar").width(90);
        }
        $.ajax({
            url: '@Url.Action("Frm_Request_Info_Grid", "RequestBox")',
            type: "GET",
            data: { ShowHorizontalBar: RequestInfo_ShowHorizontalBar, VouchingMode: RequestB_IsVouchingMode},
            success: function (res) {
                $("#Request_InforeloadPartialView").html(res);
                $(".Request_InfoListGrid_PreviewRow").hide();
                GetSessionStorage("Request_InfoListGrid");
            }
        });
        HideLoader();
    }

    function OnRequest_InfoListPreviewClick() {

        if (!ReqestBExportright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        @*$("#Request_Info_report_modal").dxPopup("show");
        $("#Request_Info_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#Request_Info_report_modal").html('');
        ShowLoader();
        $("#Request_Info_report_modal_result").load("@Url.Action("Frm_Export_Options", "RequestBox", new { @area = "Help" })", function () {
            HideLoader();
        });*@
        OpenPopup("Request_Info_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "RequestBox", new { @area = "Help" })", "auto", 125,false, null)
    }

function Request_InfoContextMenuFunction(s, e) {
        if (e.item.name == 'Close') {
            closeRequestBox();
        }
        else if (e.item.name == 'ListPreview') {
            OnRequest_InfoListPreviewClick();
        }
        else if (e.item.name == 'Refresh') {
            Request_InfoListGrid.Refresh();
        }

    }
        function closeRequestBox() {
            $(".TabPanalMenu-tabs .active span").click();

        }
        //$(".TabPanalMenu-tabs .active span").on("click", function () {
        //    $.ajax({
        //        type: 'GET',
        //        url: "/Help/RequestBox/SessionClear",
        //        cache: false
        //    });
        //    var pane = Mainspliter.GetPaneByName('RightPane');
        //    pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        //});
    function Request_InfoContextMenuInit(s, e)
    {
        if (e.objectType == "row")
        {
        }
    }

    var RequestID;
    var Request_EditDate;
    var Request_AddDate;
    var Request_AddBy;
    var Request_EditBy;
    var Request_ActionStatus;
    var Request_ActionDate;
    var Request_ActionBy;

    function RequestGrid_BeginCallBack(s, e) {
        e.customArgs["command"] = e.command;
        e.customArgs["ShowHorizontalBar"] = RequestInfo_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = RequestB_IsVouchingMode;

    }

    function OnRequestGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'ID;Edit_Date;Add_Date;Add_By;Edit_By;Action_Status;Action_Date;Action_By;Status', RequestOnGetRowValues);
    }

    function RequestOnGetRowValues(values) {
       // alert(values);
        RequestID = values[0];
        Request_EditDate = values[1];
        Request_AddDate = values[2];
        Request_AddBy = values[3];
        Request_EditBy = values[4];
        Request_ActionStatus = values[5];
        Request_ActionDate = values[6];
        Request_ActionBy = values[7];
        Request_Status = values[8];
        Request_UpdateFooterDetail(RequestID, Request_ActionStatus, Request_AddDate, Request_AddBy,
        Request_ActionDate, Request_ActionBy, Request_EditDate, Request_EditBy);
    }

    function Request_UpdateFooterDetail(RequestID, Request_Action_Status, Request_Add_Date, Request_Add_By, Request_Action_Date, Request_Action_By, Request_Edit_Date, Request_Edit_By) {
        Request_Action_Date = Request_Action_Date != "" && Request_Action_Date != null ? Request_Action_Date : Request_Action_Date;
        Request_Edit_Date = Request_Edit_Date != "" && Request_Edit_Date != null ? Request_Edit_Date : Request_Edit_Date;
        Request_Add_Date = Request_Add_Date != "" && Request_Add_Date != null ? Request_Add_Date : Request_Add_Date;
        $.ajax({
            type: 'GET',
            url: "/Help/RequestBox/CreationDetail",
            data: {
                Xrow: RequestID, Action_Status: Request_Action_Status, Add_Date: Request_Add_Date,
                Add_By: Request_Add_By, Action_Date: Request_Action_Date, Action_By: Request_Action_By, Edit_Date: Request_Edit_Date, Edit_By: Request_Edit_By
            },
            cache: false,
            success: function (RequestLbl_result) {
                $('#Request_Lbl_ActionOn').text(RequestLbl_result.Lbl_StatusOn);
                $('#Request_Lbl_ActionBy').text(RequestLbl_result.Lbl_StatusBy);
                $('#RequestLbl_Status').text(RequestLbl_result.Lbl_Status);
                $('#RequestLbl_Create').text(RequestLbl_result.Lbl_Create);
                $('#RequestLbl_Modify').text(RequestLbl_result.Lbl_Modify);
                if (RequestLbl_result.Lbl_Status_Color != "") {
                    $('#RequestLbl_Status').css('color', RequestLbl_result.Lbl_Status_Color);
                }
                if (RequestLbl_result.Pic_Status != "") {
                    $('#Request_LockICON').css('class', RequestLbl_result.Pic_Status);
                }
            }
        });
    }
    function OnNewClick() {

        if (!ReqestBNewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsRequestNewPopup = true;
        IsRequest_InfoViewPopup = false;
        @*$("#popup_frm_RequestBox_Window").dxPopup("show");
        // $(".dx-popup-content").dxScrollView();
        $("#popup_frm_RequestBox_Window").dxPopup("instance").option("title", "New ~ Request Box");
        ShowLoader();
        $("#popup_frm_RequestBox_Window_result").load("@Url.Action("Frm_Request_Window", "RequestBox", new { @area = "Help" })?ActionMethod=New", function () {
            HideLoader();
            Request_InfoListGrid.Refresh();
        });*@
        OpenPopup("popup_frm_RequestBox_Window", "New ~ Request Box", "@Url.Action("Frm_Request_Window", "RequestBox", new { @area = "Help" })?ActionMethod=New","auto", 550, false, null)
    }
    function OnRequestBoxEditClick() {

    if (!ReqestBEditright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

     IsRequestNewPopup = false;
     IsRequest_InfoViewPopup = false;
        if (RequestID == 'undefined' || RequestID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Help/RequestBox/DataNavigation",
            data: { ActionMethod: "Edit", id: RequestID, Edit_Date: Request_EditDate,Status:Request_Status },
            cache: false,
            success: function (RequestBox_Edit_ButtonClick_result) {
                if (RequestBox_Edit_ButtonClick_result.result == "true" || RequestBox_Edit_ButtonClick_result.result == true) {
                    @*$("#popup_frm_RequestBox_Window").dxPopup("show");
                    $("#popup_frm_RequestBox_Window").dxPopup("instance").option("title", "Edit ~ Request Box");
                    $("#popup_frm_RequestBox_Window").html('');
                    ShowLoader();
                    $("#popup_frm_RequestBox_Window_result").load("@Url.Action("Frm_Request_Window", "RequestBox", new { @area = "Help" })?ActionMethod=" + "Edit" + "&ID=" + RequestID + "&EditedOn=" + encodeURIComponent(Request_EditDate), function () {
                        HideLoader();
                        // $("#tP_NOField").dxTextBox('instance').focus();
                    });*@
                    OpenPopup("popup_frm_RequestBox_Window", "Edit ~ Request Box", "@Url.Action("Frm_Request_Window", "RequestBox", new { @area = "Help" })?ActionMethod=" + "Edit" + "&ID=" + RequestID + "&EditedOn=" + encodeURIComponent(Request_EditDate),"auto", 550, false, null)
                }
                else if (RequestBox_Edit_ButtonClick_result.result == "NoEditRights") {
                    $("#RequestBoxModelEdit").hide();
                    DevExpress.ui.dialog.alert(RequestBox_Edit_ButtonClick_result.Message, 'Warning!');
                    Request_InfoListGrid.Refresh();
                    HideLoader();
                }
                else {
                    DevExpress.ui.dialog.alert(RequestBox_Edit_ButtonClick_result.Message, 'Warning!');
                    Request_InfoListGrid.Refresh();
                    HideLoader();
                }
            }
        });
    }

    function OnDeleteClick() {
        if (!ReqestBDeleteright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsRequestNewPopup = false;
        IsRequest_InfoViewPopup = false;
        if (RequestID == 'undefined' || RequestID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return;
        }

        var result = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Delete ~ Request Box");
        result.done(function (dialogResult) {
            if (dialogResult) {
            $("#popup_frm_RequestBox_Window_Close").dxPopup("hide");

            $.ajax({
            type: 'GET',
            url: "/Help/RequestBox/DataNavigation",
            data: { ActionMethod: "Delete", id: RequestID, Edit_Date: Request_EditDate, Status: Request_Status },
            cache: false,
            success: function (Request_Delete_ButtonClick_result) {
                if (Request_Delete_ButtonClick_result.result == "true" || Request_Delete_ButtonClick_result.result == true) {
                    @*$("#popup_frm_RequestBox_Window").dxPopup("show");
                    $("#popup_frm_RequestBox_Window").dxPopup("instance").option("title", "Delete ~ Request Box");
                    $("#popup_frm_RequestBox_Window").html('');
                    ShowLoader();
                    $("#popup_frm_RequestBox_Window_result").load("@Url.Action("Frm_Request_Window", "RequestBox", new { @area = "Help" })?ActionMethod=" + "Delete" + "&ID=" + RequestID + "&EditedOn=" + encodeURIComponent(Request_EditDate), function () {
                        HideLoader();
                        $("#Txt_Detail").dxTextArea({ 'disabled': true });
                    });*@
                    OpenPopup("popup_frm_RequestBox_Window", "Delete ~ Request Box", "@Url.Action("Frm_Request_Window", "RequestBox", new { @area = "Help" })?ActionMethod=" + "Delete" + "&ID=" + RequestID + "&EditedOn=" + encodeURIComponent(Request_EditDate),"auto", 550, false, null)
                }
                else if (Request_Delete_ButtonClick_result.result == "NoDeleteRights") {
                    $("#RequestBoxModelDelete").hide();
                    DevExpress.ui.dialog.alert(Request_Delete_ButtonClick_result.Message, 'Warning!');
                    Request_InfoListGrid.Refresh();
                    HideLoader();
                }
                else {
                    DevExpress.ui.dialog.alert(Request_Delete_ButtonClick_result.Message, 'Warning!');
                    Request_InfoListGrid.Refresh();
                    HideLoader();
                }
            }
        });
            }
        });
    }

    function OnViewClick() {

        if (!ReqestBViewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsRequestNewPopup = false;
        IsRequest_InfoViewPopup = false;
        if (RequestID == 'undefined' || RequestID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return;
        }
        $.ajax({
        type: 'GET',
        url: "/Help/RequestBox/DataNavigation",
        data: { ActionMethod: "View", id: RequestID, Edit_Date: Request_EditDate,Status:Request_Status },
        cache: false,
        success: function (RequestBox_Edit_ButtonClick_result) {
            if (RequestBox_Edit_ButtonClick_result.result == "true" || RequestBox_Edit_ButtonClick_result.result == true) {
                @*$("#popup_frm_RequestBox_Window").dxPopup("show");
                $("#popup_frm_RequestBox_Window").dxPopup("instance").option("title", "View ~ Request Box");
                $("#popup_frm_RequestBox_Window").html('');
                ShowLoader();
                $("#popup_frm_RequestBox_Window_result").load("@Url.Action("Frm_Request_Window", "RequestBox", new { @area = "Help" })?ActionMethod=" + "View" + "&ID=" + RequestID + "&EditedOn=" + encodeURIComponent(Request_EditDate), function () {
                    HideLoader();
                    $("#Txt_Detail").dxTextArea({ 'disabled': true });
                });*@
                OpenPopup("popup_frm_RequestBox_Window", "View ~ Request Box", "@Url.Action("Frm_Request_Window", "RequestBox", new { @area = "Help" })?ActionMethod=" + "View" + "&ID=" + RequestID + "&EditedOn=" + encodeURIComponent(Request_EditDate),"auto", 550, false, null)
            }
            else if (RequestBox_Edit_ButtonClick_result.result == "NoViewRights") {
                $("#RequestBoxView").hide();
                DevExpress.ui.dialog.alert(RequestBox_Edit_ButtonClick_result.Message, 'Warning!');
                Request_InfoListGrid.Refresh();
                HideLoader();
            }
            else {
                DevExpress.ui.dialog.alert(RequestBox_Edit_ButtonClick_result.Message, 'Warning!');
                Request_InfoListGrid.Refresh();
                HideLoader();
            }

            Request_InfoListGrid.Refresh();
            HideLoader();
        }

        });
    }

    function OnRequestboxreadClick() {

        if (!ReqestBEditright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        ShowLoader();
        if (RequestID == 'undefined' || RequestID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return;
        }
        $.ajax({
            type: 'GET',
           url: "/Help/RequestBox/DataNavigation",
              data: { ActionMethod: "Read", id: RequestID, Edit_Date: Request_EditDate,Status:Request_Status },
            cache: false,
            success: function (RequestBox_Read_Get_DataNavigation_result) {

                if (RequestBox_Read_Get_DataNavigation_result.Message == "Record Status is read") {
                    DevExpress.ui.dialog.alert(RequestBox_Read_Get_DataNavigation_result.Message, "Request Box");
                }
                else if (RequestBox_Read_Get_DataNavigation_result.result == "NoEditRights") {
                    $("#RequestBoxRead").hide();
                    DevExpress.ui.dialog.alert(RequestBox_Read_Get_DataNavigation_result.Message, 'Warning');
                }
                else {
                    DevExpress.ui.dialog.alert(RequestBox_Read_Get_DataNavigation_result.Message, "Read...");
                }

                Request_InfoListGrid.Refresh();
                HideLoader();
            }
        });
        HideLoader();
    }

    function OnRequestboxunreadClick() {
        if (!ReqestBEditright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        ShowLoader();
        if (RequestID == 'undefined' || RequestID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return;
        }
        $.ajax({
            type: 'GET',
           url: "/Help/RequestBox/DataNavigation",
              data: { ActionMethod: "UnRead", id: RequestID, Edit_Date: Request_EditDate,Status:Request_Status },
            cache: false,
            success: function (RequestBox_UnRead_Get_DataNavigation_result) {

                if (RequestBox_UnRead_Get_DataNavigation_result.Message == "Record Status is Unread") {
                    DevExpress.ui.dialog.alert(RequestBox_UnRead_Get_DataNavigation_result.Message, "Request Box");
                }
                else if (RequestBox_UnRead_Get_DataNavigation_result.result == "NoEditRights") {
                    $("#RequestBoxUnread").hide();
                    DevExpress.ui.dialog.alert(RequestBox_UnRead_Get_DataNavigation_result.Message, 'Warning');
                }
                else {
                    DevExpress.ui.dialog.alert(RequestBox_UnRead_Get_DataNavigation_result.Message, "UnRead...");
                }
                Request_InfoListGrid.Refresh();
            }
        });
        HideLoader();
    }
function RequestAjaxSuccessForm(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
            //$("#popup_frm_Bank_Window").dxPopup("hide");
            Request_InfoListGrid.Refresh();
        }
        else {
            IsRequest_InfoSucessPopup = true;
            var RequestSubmitSuccess = DevExpress.ui.dialog.alert(data.Message, "Request Box");
            $("#popup_frm_RequestBox_Window").dxPopup("hide");
            Request_InfoListGrid.Refresh();
            IsRequest_InfoSucessPopup = false;
            RequestSubmitSuccess.done(function (alertResult) {
                if (alertResult) {
                    if (IsRequestNewPopup == true) {
                        var addmorerequestresult = DevExpress.ui.dialog.confirm("Add More Entry...?", "Request Box");
                            addmorerequestresult.done(function (dialogResult) {
                            if (dialogResult) {
                                OnNewClick();
                            }
                        });
                    }
                }
            });
        }
    }
</script>

    <script>
    var RequestInfo_IsDetailRowExpanded = false;
    var RequestInfo_NestedRecord_FocusedRowIndex = -1;
    var RequestInfo_NestedGrid_AccessID;
    var RequestInfo_AtachmentID;
    var RequestInfo_FileName;
    var RequestInfo_ParamMandatory;
    var RequestInfo_FromDateLabel;
    var RequestInfo_ToDateLabel;
    var RequestInfo_DescriptionLabel;
    var RequestInfo_Doc_ID;
    var RequestInfo_Doc_Category;
    var RequestInfo_MasterRowRecID;
    var RequestInfo_MasterRowMID;
    var RequestInfo_NestedRowMapID;
    var RequestInfo_reason;
    var RequestInfo_Attachment_RecStatus;
    var RequestInfo_Nested_Doc_Status;

    function On_RequestFacility_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (RequestInfo_ParamMandatory == 1)
            {
                AddAttachment(RequestInfo_MasterRowRecID, "Help_Request", RequestInfo_Doc_ID, RequestInfo_Doc_Category, RequestInfo_ParamMandatory, RequestInfo_FromDateLabel, RequestInfo_ToDateLabel, RequestInfo_DescriptionLabel, "RequestFacilityAttachment", null, "Request_InfoListGrid", RequestInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(RequestInfo_MasterRowRecID, "Help_Request", RequestInfo_Doc_ID, "RequestFacilityAttachment", "Request_InfoListGrid", RequestInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (RequestInfo_Nested_Doc_Status == "NO" || RequestInfo_Nested_Doc_Status == "") {
                DevExpress.ui.dialog.alert("Please Attach document First", "Error");
                return;
            }
            if (RequestInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(RequestInfo_MasterRowRecID, "Help_Request", RequestInfo_AtachmentID, RequestInfo_ParamMandatory, RequestInfo_FromDateLabel, RequestInfo_ToDateLabel, RequestInfo_DescriptionLabel, "RequestFacilityAttachment", null, "Request_InfoListGrid", RequestInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (RequestInfo_Nested_Doc_Status == "NO" || RequestInfo_Nested_Doc_Status == "") {
                DevExpress.ui.dialog.alert("Please Attach document First", "Error");
                return;
            }
            DeleteAttachment(RequestInfo_MasterRowRecID, "Help_Request", RequestInfo_AtachmentID, RequestInfo_ParamMandatory, RequestInfo_FromDateLabel, RequestInfo_ToDateLabel, RequestInfo_DescriptionLabel, null, "Request_InfoListGrid", RequestInfo_NestedGrid_AccessID, RequestInfo_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (RequestInfo_Nested_Doc_Status == "NO" || RequestInfo_Nested_Doc_Status == "") {
                DevExpress.ui.dialog.alert("Please Attach document First", "Error");
                return;
            }

            ViewDocument(RequestInfo_AtachmentID, RequestInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(RequestInfo_MasterRowRecID, "Help_Request", "Request Box", "Request_InfoListGrid", RequestInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (RequestInfo_Doc_Category.toLowerCase() == "others") {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else {
                AttachmentAddReason(RequestInfo_MasterRowRecID, RequestInfo_NestedRowMapID, "Help_Request", "Request_InfoListGrid", RequestInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(RequestInfo_MasterRowRecID, RequestInfo_NestedRowMapID, "Help_Request", "Request_InfoListGrid", RequestInfo_NestedGrid_AccessID, RequestInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(RequestInfo_MasterRowRecID, RequestInfo_NestedRowMapID, "Request_InfoListGrid", RequestInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
    }
    function OnRequestListGridNestedFocusedRowChange(s, e)
    {
        if (RequestInfo_IsDetailRowExpanded)
        {
            RequestInfo_NestedRecord_FocusedRowIndex = s.GetFocusedRowIndex();
            if (RequestInfo_NestedRecord_FocusedRowIndex >= 0)
            {
                ShowLoader();
                Request_FAB.SetVisible(true);
                RequestInfo_NestedGrid_AccessID = s.uniqueID;
                s.GetRowValues(s.GetFocusedRowIndex(), 'Doc_Status;Params_Mandatory;LABEL_FROM_DATE;LABEL_TO_DATE;LABEL_DESCRIPTION;Document_Category;Document_ID;ATTACH_ID;TxnID;TxnMID;MAP_ID;Reason;ATTACH_FILE_NAME;Attachment_Action_Status;UniqueID', OnRequestInfo_GetGridRowValues);
            }
            else
            {
                Request_FAB.SetVisible(false);
            }
        }
    }
    function OnRequestInfo_GetGridRowValues(values)
    {
        HideLoader();
        if (values[14] != null)
        {
            Request_FAB.SetVisible(true);
            RequestInfo_Nested_Doc_Status = values[0];
            Request_FAB.SetActionContext("actionItemContext", true);
            RequestInfo_ParamMandatory = values[1];
            RequestInfo_FromDateLabel = values[2];
            RequestInfo_ToDateLabel = values[3];
            RequestInfo_DescriptionLabel = values[4];
            RequestInfo_Doc_Category = values[5];
            RequestInfo_Doc_ID = values[6];
            RequestInfo_AtachmentID = values[7];
            RequestInfo_MasterRowRecID = values[8];
            RequestInfo_MasterRowMID = values[9];
            RequestInfo_NestedRowMapID = values[10];
            RequestInfo_reason = values[11];
            RequestInfo_FileName = values[12];
            RequestInfo_Attachment_RecStatus = values[13];
            if (RequestB_IsVouchingMode == true)
            {
                if (RequestInfo_FileName != null && RequestInfo_FileName.length > 0)
                {
                    ViewDocument(RequestInfo_AtachmentID, RequestInfo_FileName, "Request_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else
                {
                    var pane = Mainspliter.GetPaneByName('RightPane');
                    pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
                    document.getElementById('RightPane_div_Iframe').style.display = "none";
                    document.getElementById('RightPane_div_Img').style.display = "none";
                }
            }
        }
    }
    function RequestGrid_Nested_BeginCallBack(s, e)
    {
        e.customArgs["ShowHorizontalBar"] = RequestInfo_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = RequestB_IsVouchingMode;
        e.customArgs["command"] = e.command;
    }
    function Request_InfoGrid_DetailRowExpanding(s, e)
    {
        RequestInfo_IsDetailRowExpanded = true;
        s.SetFocusedRowIndex(e.visibleIndex);
        var pane = Mainspliter.GetPaneByName('RightPane');
        if (RequestB_IsVouchingMode == true)
        {
            pane.Expand();
        }
        else
        {
            pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
    }
    function Request_InfoGrid_DetailRowCollapsing(s, e)
    {
        RequestInfo_IsDetailRowExpanded = false;
        s.SetFocusedRowIndex(e.visibleIndex);
        if (RequestB_IsVouchingMode == true)
        {
            if (Mainspliter.GetPaneByName('RightPane').IsCollapsed() == false)
            {
                CollapsePane(Mainspliter.GetPaneByName('RightPane'), Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
        else
        {
            Request_FAB.SetVisible(false);
        }
    }
    </script>
    @*attachment and nested grid*@
</div>

