<div class="RequestBox_WinHelp_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Help.Models.RequestBox

    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
    }

    <link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
    <style>
        .txtareaheight .dx-texteditor-input {
            height: 137px !important;
            width: 103%;
        }

        .administratortexarea .dx-texteditor-input {
            height: 61px !important;
        }

        .textarea:disabled {
            background-color: rgb(235, 235, 228);
        }

        .requesttextarea .dx-invalid-message.dx-overlay {
            position: absolute;
            width: 100%;
        }

        #Txt_Detail.dx-texteditor {
            border: 1px solid #89b9eb !important;
            border-radius: 0;
            opacity: 1;
        }

        #Frm_Request_Window_Content {
            padding-bottom: 0px !important;
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    </style>
    <div id="Frm_Request_Window_Content">
        @using (Ajax.BeginForm("Frm_Request_Window", "RequestBox",
                                                                       new AjaxOptions
                                                                       {
                                                                           HttpMethod = "POST",
                                                                           UpdateTargetId = "Frm_Request_Window_Content",
                                                                   //InsertionMode = InsertionMode.InsertAfter,
                                                                   OnBegin = "AjaxBeginFormPost",
                                                                           OnSuccess = String.Format("{0}", Model.PopUpId != "popup_frm_RequestBox_Window" ? "RequestAjaxSuccessForm_OtherScreen" : "RequestAjaxSuccessForm")
                                                                       },
                                       new
                                       {
                                           id = "RequestvalidationForm",
                                           @class = "edit_form"
                                       }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.recID)
            @Html.HiddenFor(x => x._Send_From)
            @Html.HiddenFor(x => x.PopUpId)

            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="full-width-header-bg2">
                    <div class="row">

                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Request</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                    </div>
                </div><!--[]-->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="container-fluid pll prm requesttextarea">
                                @*<label class="control-label text-red" for="user">My Request Detail:</label>*@
                                @Html.LabelFor(model => model.Txt_Detail, htmlAttributes: new { @class = "control-label text-red" })

                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">*@
                                @*<textarea class="txtarea" name="description" cols="4" rows="7" placeholder=""></textarea>*@
                                @(Html.DevExtreme().TextAreaFor(model => model.Txt_Detail)
                            .ID("Txt_Detail")
                            .Name("Txt_Detail")
                            .Placeholder("")
                            .ElementAttr(new Dictionary<string, object>() { { "class", "txtarea txtareaheight CleanTextForDB" } })
                            )
                                @Html.ValidationMessageFor(model => model.Txt_Detail, "", new { @class = "text-red " })
                                @*</div>
                                    </div>*@
                            </div>

                        </div>
                    </div><!--[]-->

                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                @*<label class="control-label disabletxt" for="user">Administrator Remarks:</label>*@
                                @Html.LabelFor(model => model.Txt_Administrator, htmlAttributes: new { @class = "control-label disabletxt" })

                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">

                                        @*<textarea class="txtarea" name="description" cols="4" rows="3" placeholder="" disabled="disabled"></textarea>*@
                                        @(Html.DevExtreme().TextAreaFor(model => model.Txt_Administrator)
                                    .ID("Txt_Administrator")
                                    .Name("Txt_Administrator")
                                    .Placeholder("")
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "txtarea administratortexarea CleanTextForDB" } })
                                    .Disabled(true)
                                    )
                                        @Html.ValidationMessageFor(model => model.Txt_Administrator, "", new { @class = "text-red " })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[]-->

                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">

                        <div class="styleActionBtn">
                            @if (Model.ActionMethod.ToString() != "_View")
                            {
                                @(Html.DevExtreme().Button().ID("EditRequestBox").Text("Save").Icon("fas fa-check-circle btn-icons checkgreen").UseSubmitBehavior(true) )
                            }
                            @(Html.DevExtreme().Button().ID("CancelRequestBox").Text(Model.ActionMethod.ToString() == "_View" ? "Close" : "Cancel").Icon("fas fa-times-circle btn-icons crossgrey icon-rgt-space5").OnClick(@<text> function () {  Close_RequestBox(); } </text>) )
                        </div>
                    </div>
                </div><!--[Buttons]-->
            }
        }
    </div>



    <script>
    $(document).ready(function ()
    {
        TransformTextForDB("RequestvalidationForm");// Bug #133461 fixed

    });
    function Close_RequestBox()
    {
        var popupid = "#" + "@Model.PopUpId";
        if (popupid == "#popup_frm_RequestBox_Window")
        {
            if ("@Model.ActionMethod" != "_View")
            {
               // $("#popup_frm_RequestBox_Window").dxPopup("hide");
                var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                result.done(function (dialogResult) {
                    if (dialogResult) {
                        $("#popup_frm_RequestBox_Window").dxPopup("hide");
                    } 
                });
            }
            else
            {
                $(popupid).dxPopup("hide");
            }
        }
        else
        {
            $(popupid).dxPopup("hide");
        }
    }
    function RequestAjaxSuccessForm_OtherScreen(data)
    {
        var popupid = "#" + "@Model.PopUpId";
        HideLoader();
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
        else
        {
            $(popupid).dxPopup("hide");
           DevExpress.ui.dialog.alert("Request "+data.Message, "@Model._Send_From"=="Direct Entry"?"Request Box":"@Model._Send_From");
        }
    }
    </script>
</div>