@using DevExtreme.AspNet.Mvc;
@{
   
  
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Check Audit Status</title>
    @*Start StyleSheets*@
    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "MetropolisBlue" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "MetropolisBlue" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Report, Theme = "MetropolisBlue" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "MetropolisBlue" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Icons, Theme = "MetropolisBlue" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor, Theme = "MetropolisBlue" }
            //new StyleSheet { ExtensionSuite = ExtensionSuite. All, Theme = "MetropolisBlue" }
    )
    <link href="@Url.Content("~/Content/css/base.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/responsive-tablet-big.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/dx.icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/custom.css" rel="stylesheet" type="text/css" />
    @*End StyleSheets*@

    <style>
        html, body { overflow-x: hidden; }
        .dx-header-row { color: black; font-weight: bolder; }
        .dx-datagrid-borders .dx-datagrid-rowsview { border-color: black; }
        .form-field { margin: 0px 0px; padding: 5px 4px 4px 4px; background: #dfebf8; background: -webkit-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%); background: -o-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%); background: -moz-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%); background: linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%); outline-style: solid; outline-width: 1px; outline-color: #89b9eb; }
        .form-field-container { margin: 0px 0px 0px 0px; background: #dfebf8; background: -webkit-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%); background: -o-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%); background: -moz-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%); background: linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%); outline-style: solid; outline-width: 1px; outline-color: #89b9eb; }

        .form-field-header { margin: 0px 0px 0px 0px; outline-style: solid; outline-width: 1px; outline-color: #89b9eb; }

        #CenterCertificateNo { height: 32px; width: 150px; display: inline-block; }
        #CenterCertificateNo.dx-show-clear-button .dx-texteditor-input { height: 30px; padding: 2px 2px 2px 6px; font-size: 20px; border-radius: 6px }
        #CenterCertificateNo .dx-placeholder { padding: 0px 2px 2px 6px; font-size: 18px; }
        #CheckAuditStatus_Button { position: relative; top: -5px; font-size: 16px; }
        tr.dx-header-row, .dx-datagrid-headers { display: none }
        .c1-header { text-align: center; padding: 5px; background: #1D499A; }
        #CheckAuditStatus_DataGrid .dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td { vertical-align: middle; padding:0; border:0 none }
        #CheckAuditStatus_DataGrid .dx-datagrid-borders .dx-datagrid-rowsview, .dx-datagrid-headers + .dx-datagrid-rowsview { border: 0 none; }
        .dx-loadpanel-content { height: 80px !important; width: 80px !important; }
        .report_header_div_main {border-bottom:1px solid #a3c0e8}

        .form-row .col-md-2, .form-row .col-md-3, .form-row .col-md-1{ padding-right: 4px; padding-left: 4px; }
        .form-row { border-bottom: 1px solid #a3c0e8; padding: 10px 5px 6px; transition: .3s all }
        .form-row:hover { background: #eaf3f7 !important }
        .form-row p { margin-bottom: 0; font-size: 13px }
        .form-row b { font-size: 13px; }
        .form-row a { color: #1d499a; min-height: 48px; cursor: pointer }
        .badge { color: #323232 !important; padding: 4px 9px 3px; margin-right: 5px; font-size: 11px; margin-bottom: 3px }
        .badge-primary { background-color: #d4ecf4 !important; border: 1px solid #c4dae2; }
        .badge-success { background-color: #c4dfc0 !important; border: 1px solid #7ecf8d; }
        .badge-warning { background-color: #f3ed88 !important; border: 1px solid #c7bf39; }
        .badge-danger { background-color: #fbbbd3 !important; border: 1px solid #df8092 }
        .form-row:hover { background: #fafafa }
        #CheckAuditStatus_DataGrid { overflow-x: auto; height: calc(100vh - 138px) !important; }

        @@media (min-width:768px) {
            .report_header_div_main > .clearfix { margin-bottom: 10px }
        }

        @@media (max-width:768px) {
            #CenterCertificateNo.dx-texteditor { margin-top: 8px; }
            .report_header_div_main label { width: 100% }
            #CheckAuditStatus_Button { position: relative; top: -5px; }
            #CheckAuditStatus_Button .dx-button-content .dx-button-text { font-size: 16px !important; }
            #CheckAuditStatus_DataGrid .dx-button-text, #CheckAuditStatus_DataGrid .report_button_div .dx-button-text { font-size: 16px !important; }
            #CheckAuditStatus_DataGrid { overflow-x: auto; height: calc(100vh - 150px) !important; }
        }
    </style>

    @*Start Scripts*@
    @*<script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>*@


    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.Icons },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        //new Script { ExtensionSuite = ExtensionSuite.All }
        new Script { ExtensionSuite = ExtensionSuite.Report }
    )
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>

    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
    @*<script src="@Url.Content("~/Scripts/site.js")" type="text/javascript"></script>*@
    @*End Scripts*@
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
    @*<script src="@Url.Content("~/Scripts/site.js")" type="text/javascript"></script>*@
    @*End Scripts*@
    @System.Web.Optimization.Styles.Render("~/Content/DevExtremeBundleReporting")
    @System.Web.Optimization.Scripts.Render("~/Scripts/DevExtremeBundleReporting")
    <link href="@Url.Content("~/Content/CustomeDevextream.css")" rel="stylesheet">
</head>

<body style="padding-top: 0">
    <div class="c1-header">
        <img src="/Content/image/logo.png" alt="connect one" style="height:34px">
    </div>
    <div class="row report_header_div_main" style="text-align: center; ">

        <h3 class="report_header_label" style="margin: 10px"><b>Check Audit Status</b> </h3>

        <div class="clearfix">
            <label style="color:black;font-weight:bold;font-size: large"> Center Certificate No. </label> &nbsp;
            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("CenterCertificateNo").Name("CenterCertificateNo").Placeholder("_ _ _ _").OnValueChanged("CenterCertificateNo_ValueChange").OnKeyUp("CenterCertificateNo_onKeyUp").ShowSpinButtons(false).Format("#").Min(0).Height(32).FocusStateEnabled(true).ShowClearButton(true))
            @(Html.DevExtreme().Button().ID("CheckAuditStatus_Button").Text("Check Audit Status").Height(32).OnClick("CheckAuditStatus_Button_onClick"))
            @(Html.DevExtreme().LoadPanel().ID("loadPanel").ShadingColor("rgba(0,0,0,0.4)").Visible(false).ShowIndicator(true).ShowPane(true).Shading(true).Height(32).CloseOnOutsideClick(false))
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @(Html.DevExtreme().DataGrid()
                .ID("CheckAuditStatus_DataGrid")
                .DataSource(d => d.Mvc().Area("Profile").Controller("DetailInfo").LoadAction("LookUp_Get_AuditStatus")
                .LoadParams(new { CertificateNo = new JS("function (){ return CenterCertificateNo;}") }))
                .Columns(columns =>
                {
                    columns.Add().DataField("Audit_Status_Data_Column").Name("Audit_Status_Data_Column").Caption("").Visible(true).CellTemplate(new JS("Get_Audit_Status_Data")).Width("100%");
                    columns.Add().DataField("EventName").Caption("Event").Visible(false);
                    columns.Add().DataField("Fin_Year").Caption("Fin.Year").Visible(false);
                    columns.Add().DataField("UID").Caption("UID").MinWidth(110).Visible(false);
                    columns.Add().DataField("Status").Caption("Status").EncodeHtml(false).Visible(false);
                    columns.Add().DataField("Auditor").Caption("Auditor").Visible(false);
                    columns.Add().DataField("Reg_No_").Caption("Reg.No.").Visible(false);
                })
                .ShowBorders(true)
                .ShowRowLines(true)
                .Height(450)
                .Scrolling(s => s.ShowScrollbar(ShowScrollbarMode.Always).Mode(GridScrollingMode.Infinite))
                .Visible(false)
                .AllowColumnResizing(false)
                .ColumnResizingMode(ColumnResizingMode.Widget)
                .ColumnAutoWidth(true)
                .WordWrapEnabled(true)
                .ColumnHidingEnabled(true)
            )
        </div>
    </div>


</body>
</html>
    <script>
        $(document).ready(function ()
        {
            $("#CenterCertificateNo").dxNumberBox("instance").focus();

        });
        var CenterCertificateNo;
        CenterCertificateNo = $("#CenterCertificateNo").dxNumberBox("instance").option("value");

        function CenterCertificateNo_onKeyUp(e)
        {
            if (e.event.keyCode == "13")
            {
             CheckAuditStatus_Button_onClick()
            }            
        }

        function CheckAuditStatus_Button_onClick(e)
        { 
            ShowLoader();
            if (CenterCertificateNo == null || CenterCertificateNo == "")
            {
                HideLoader();
                DevExpress.ui.dialog.alert(" <p> Please Enter the Certificate Number </p> ", "!!! ALERT !!!");
                return;
            }

            $("#CheckAuditStatus_DataGrid").dxDataGrid("instance").refresh().then((r) =>
            {
                HideLoader();
                $("#CheckAuditStatus_DataGrid").dxDataGrid("instance").option("visible", true);              
            });
        }
        function CenterCertificateNo_ValueChange(e)
        {           
            if (e.value)
            {               
                CenterCertificateNo = e.value;            
            }
            else
            {
                CenterCertificateNo = 0;
                $("#CheckAuditStatus_DataGrid").dxDataGrid("instance").option("visible", false);
            }
        }
        function ShowLoader() {
            $("#loadPanel").dxLoadPanel("instance").option("visible", true);
        }
        function HideLoader() {
            $("#loadPanel").dxLoadPanel("instance").option("visible", false);
        }

        // function for data fetching
        function Get_Audit_Status_Data(container, templateData) {
            var AuditStatusClass = "";
            var AuditStatusIcon = "";
            if (templateData.data.Status.toLowerCase() == "available for audit") {
                AuditStatusClass = "badge-primary";
                AuditStatusIcon = "fa-check";
            }
            else if (templateData.data.Status.toLowerCase() == "allocated for audit") {
                AuditStatusClass = "badge-warning";
                AuditStatusIcon = "fa-check";
            }
            else if (templateData.data.Status.toLowerCase() == "verified")
            {
                AuditStatusClass = "badge-success";
                AuditStatusIcon = "fa-check";
            }
            else if (templateData.data.Status.toLowerCase() == "not verified") {
                AuditStatusClass = "badge-danger";
                AuditStatusIcon = "fa-times";
            }
            else if (templateData.data.Status.toLowerCase() == "absent") {
                AuditStatusClass = "badge-danger";
                AuditStatusIcon = "fa-exclamation-triangle";
            }
            else if (templateData.data.Status.toLowerCase() == "report submitted") {
                AuditStatusClass = "badge-success";
                AuditStatusIcon = "fa-check";
            }
            else if (templateData.data.Status.toLowerCase() == "not available") {
                AuditStatusClass = "badge-danger";
                AuditStatusIcon = "fa-times";
            }
            else if (templateData.data.Status.toLowerCase() == "not audited") {
                AuditStatusClass = "badge-danger";
                AuditStatusIcon = "fa-times";
            }
            else if (templateData.data.Status.toLowerCase() == "re-allocated") {
                AuditStatusClass = "badge-primary";
                AuditStatusIcon = "fa-check";
            }
            else if (templateData.data.Status.toLowerCase() == "returned for correction") {
                AuditStatusClass = "badge-primary";
                AuditStatusIcon = "fa-check";
            }
            else if (templateData.data.Status.toLowerCase() == "returned after verification") {
                AuditStatusClass = "badge-success";
                AuditStatusIcon = "fa-check";
            }

            var htmlString = "<div class='clearfix form-row'><div class='evt-details col-md-3'><p><b>Event-</b>" + templateData.data.EventName + "</p></div>" +
                "<div class='col-md-1'> <p><b>Financial Year-</b>" + templateData.data.Fin_Year + "</p></div>" +
                "<div class='col-md-3'> <b>UID-</b> " + templateData.data.UID + " <br> <b>Center-</b>" + templateData.data.UID + "</div>" +
                "<div class='col-md-2'> <span class='badge " + AuditStatusClass + "'><i class='fa " + AuditStatusIcon +"'></i> " + templateData.data.Status + "</span></div>" +
                "<div class='col-md-2'> <b>Auditor-</b>" + (templateData.data.Auditor??"") + "</div> <div class='col-md-'> <b>Reg.No.-</b>" + (templateData.data.Reg_No_??"") + "</div></div> " +
             "</div></div></div></div></div></div></div>";
            $(container).html(htmlString)
        }
    </script>

