<div class="ChangePasswordOptions_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Options.Models.ChangePasswordModel


    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
    }
    <style>
        .control-label {
            text-align: left !important;
        }

        .dx-state-hover .dx-overlay-wrapper {
            width: 100%;
            visibility: visible;
        }
    </style>

    <link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet"><!--[css for fontawesome]-->
    <div id="Frm_ChangePassword_Window_Content">
        @*<form action="" class="edit_form">*@
        <div class="full-width-header-bg">
            <label class="report_header_label"><i class="fas fa-key keyicon"></i>  Change Password <!--<i title="Screen Intro" class="fa fa-question-circle" id="changePwdIntro"></i>--> </label>
        </div>
        <!--[]-->
        @using (Ajax.BeginForm("Frm_Chg_Password", "Options",
                                    new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "Frm_ChangePassword_Window_Content",
                                        InsertionMode = InsertionMode.InsertAfter,
                                        OnBegin = "AjaxBeginFormPost",
                                        OnSuccess = "ChangePasswordAjaxSuccessForm"
                                    },
                                   new
                                   {
                                       id = "ChangePasswordvalidationForm",
                                       @class = "edit_form"
                                   }))
        {
            using (Html.DevExtreme().ValidationGroup())
            {
                @Html.ValidationSummary(true, "", new { @class = "text-red" })
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="form-field">
                                <div class="container-fluid" id="frmUid">
                                    <div class="col-sm-4 pll">
                                        @Html.LabelFor(model => model.User_Name, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().TextBoxFor(m => m.User_Name).CustomTextBox().ID("User_Name").Name("User_Name").Value(Model.User_Name).ReadOnly(true) )
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-field">
                                <div class="container-fluid" id="frmOldPwd">
                                    <div class="col-sm-4 pll">
                                        @Html.LabelFor(model => model.Old_Password, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().TextBoxFor(x => x.Old_Password).CustomTextBox().ID("Old_Password").Name("Old_Password").Placeholder("Old Password").ElementAttr(new Dictionary<string, object>() { { "class", "password-input" } })
                                                          .Mode(TextBoxMode.Password).OnFocusIn( @<text> function (e) { debugger; e.element.addClass("dx-state-focused");  }</text> ).MaxLength(255) )

                                        @Html.ValidationMessageFor(model => model.Old_Password, "", new { @class = "text-red " })
                                    </div>
                                </div>
                            </div>
                        </div><!--[/]-->
                        <div class="row">
                            <div class="form-field">
                                <div class="container-fluid" id="frmNewPwd">
                                    <div class="col-sm-4 pll">
                                        @Html.LabelFor(model => model.New_Password, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().TextBoxFor(x => x.New_Password).CustomTextBox().ID("New_Password").Name("New_Password").Placeholder("New Password").ElementAttr(new Dictionary<string, object>() { { "class", "password-input" } }).Mode(TextBoxMode.Password).MaxLength(255) )
                                        @Html.ValidationMessageFor(model => model.New_Password, "", new { @class = "text-red " })
                                    </div>
                                </div>
                            </div>
                        </div><!--[/]-->
                        <div class="row">
                            <div class="form-field">
                                <div class="container-fluid" id="frmConPwd">
                                    <div class="col-sm-4 pll">
                                        @Html.LabelFor(model => model.Confirm_Password, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().TextBoxFor(x => x.Confirm_Password).CustomTextBox().ID("Confirm_Password").Name("Confirm_Password").Placeholder("Confirm Password")
                                                          .ElementAttr(new Dictionary<string, object>() { { "class", "password-input" } }).Mode(TextBoxMode.Password).MaxLength(255) )
                                        @Html.ValidationMessageFor(model => model.Confirm_Password, "", new { @class = "text-red " })
                                    </div>
                                </div>
                            </div>
                        </div><!--[/]-->

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().CustomSaveButton().ID("ChangepasswordOK").Text("Ok").FocusStateEnabled(true).UseSubmitBehavior(true) )
                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("PasswordCancel").Text("Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                                </div>
                            </div>
                        </div><!--[Buttons]-->
                    </div>
                </div>
            }
        }
        @*</form>*@

    </div>



    <script>
        var form = "ChangePasswordvalidationForm";
        $(document).ready(function () {
            ShowLoader();
            setTimeout(function () {
                Focus_FirstEditable_Field(form);
                HideLoader();
            }, Timeout500);
        });
        function ChangePasswordAjaxSuccessForm(data) {
            debugger;
            //$('#loadPanel').hide();
            HideLoader();

            if (data.result == false) {
                DevExpress.ui.dialog.alert(data.Message, "Error");
            }
            else {
                $("#Dynamic_Content_popup").dxPopup("hide");
                DevExpress.ui.dialog.alert(data.Message, "Success");
            }
        }

        $(function () {

            const intro = introJs();

            // Define the steps of the introduction
            intro.setOptions({
                steps: [
                    {
                        intro: "<big>" + "&#128161;" + "<b> How to change your password?</b></big><hr>" +
                            "<p>You can change your password from here by entering your old and new password</p><hr>" +
                            "<p>आप यहां अपना पुराना और नया पासवर्ड डालकर अपना पासवर्ड बदल सकते हैं</p>",
                        tooltipClass: 'twid-400'
                    },
                    {
                        element: "#frmUid",
                        intro: "<p>Your user ID is visible here</p> <hr> <p>आपकी यूजर आईडी यहां दिखाई दे रही है।</p>",
                    },
                    {
                        element: "#frmOldPwd",
                        intro: "<p>Please enter your Old password here</p> <hr> <p>कृपया यहां अपना पुराना पासवर्ड दर्ज करें।</p>",
                    },
                    {
                        element: "#frmNewPwd",
                        intro: "<p>Please enter your New password here.</p> <hr> <p>कृपया यहां अपना नया पासवर्ड दर्ज करें।</p>",
                    },
                    {
                        element: "#frmConPwd",
                        intro: "<p>Please re-enter your new password to confirm.</p> <hr> <p>कृपया पुष्टि करने के लिए अपना नया पासवर्ड पुनः दर्ज करें।</p>",
                    },
                ],
                doneLabel: 'Finish Intro'
            });

            // Start the introduction
            $("#changePwdIntro").click(function () { intro.start(); })
        })
    </script>
</div>