@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.SparcMappingModel
@{
    Layout = null;
}
<div class="full-width-header-bg2">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="popuphead"><b>Copy Form</b></h3>
            <p class="text-red" >
    &nbsp;NOTE: The same form is mapped to the chosen project if the selected form is not already mapped to other projects.&nbsp;
    If the selected form has already been mapped to a project, a copy of the form will be created for each project that is chosen.
</p>
        </div>
    </div>
</div>

<form class="Frm_MapFormtoProject_Div edit_form form-horizontal">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-field">
                @Html.Label("Form: ", htmlAttributes: new { @class = "control-label text-red" })
                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Form_SparcMappingModel_MapForm2Project").Name("Form_SparcMappingModel").Placeholder("Select Form...").Value(Model.Form_SparcMappingModel)
                                        .DataSource(d => d.Mvc().Controller("SparcProject").LoadAction("GetForms").Key("REC_ID").LoadMode(DataSourceLoadMode.Raw)).DisplayExpr("CI_CHARTNAME").ValueExpr("REC_ID")
                                        .ReadOnly(false).Visible(true).InputAttr(new Dictionary<string, object>() { { "class", "form-control form-control-sm" } })
                                        .ContentTemplate(@<text>
                    @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Form_SparcMappingModel_datagrid_MapForm2Project")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("CI_CHARTNAME").Caption("Form");
                            columns.Add().DataField("CI_FROM_DATE").Caption("Start Date");
                            columns.Add().DataField("CI_TO_DATE").Caption("End Date");
                            columns.Add().DataField("CI_FREQUENCY").Caption("Frequency");
                            columns.Add().DataField("CI_PURPOSE").Caption("Purpose");
                            columns.Add().DataField("PROJECT").Caption("Project");
                            columns.Add().DataField("Schedule").Caption("Schedule Name");
                            columns.Add().DataField("ScheduleType").Caption("Schedule Type");
                            columns.Add().DataField("PROJECT_ID").Caption("PROJECT_ID").Visible(false);
                            columns.Add().DataField("REC_ID").Caption("REC_ID").Visible(false);
                        })
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .FilterRow(s=>s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);};}"))
                    </text>))
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-field">
                @Html.Label("Project: ", htmlAttributes: new { @class = "control-label text-red" })
                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Project_SparcMappingModel_MapForm2Project").Name("Project_SparcMappingModel").Placeholder("Select Project...")@*.Value(string.IsNullOrWhiteSpace(InsID)?null: InsID)*@.Value(Model.Form_SparcMappingModel)
                                        .DataSource(d => d.Mvc().Controller("SparcProject").LoadAction("GetProjects").Key("ID").LoadMode(DataSourceLoadMode.Raw)).DisplayExpr("Name").ValueExpr("ID").ReadOnly(false).Visible(true).InputAttr(new Dictionary<string, object>() { { "class", "form-control form-control-sm" } })
                                        .ContentTemplate(@<text>
                    @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Project_SparcMappingModel_datagrid_MapForm2Project")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("Name").Caption("Project");
                            columns.Add().DataField("SP_PROJ_ADMIN").Caption("Admin");
                            columns.Add().DataField("REC_ADD_BY").Caption("Created by");
                            columns.Add().DataField("ID").Caption("ID").Visible(false);
                        })
                        .OnRowClick("DG_OnRowClick_Sparc")
                        .Selection(s => s.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always).AllowSelectAll(false))
                        .FilterRow(s => s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys);};}"))
                    </text>))
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-field">
                <div class="row">
                    <div class="col-md-12">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("Save_SparcFormMapping_FormMap").Text("Save").FocusStateEnabled(true).UseSubmitBehavior(false).Visible(true).OnClick("Save_SparcFormMapping"))
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("close_SparcPopup_FormMap").Text("Close").Visible(true).OnClick(@<text> function () { close_SparcPopup(); } </text>))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    async function Form_SparcProject_valueChanged(e) {
        //var value;
        //var DG = $("#Form_SparcMappingModel_datagrid_MapForm2Project").dxDataGrid("instance");
        //if (e) {
        //    value = e.value;
        //    if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
        //        DG.clearSelection();
        //        DG.refresh();
        //        return;
        //    }
        //}
        //else {
        //    value = $("#Form_SparcMappingModel_MapForm2Project").dxDropDownBox("option", "value");
        //}
        //await DG.selectRows(value);
        //if (DG.getSelectedRowsData().length > 0) {
        //    var item = DG.getSelectedRowsData()[0];
        //}
        //DG.refresh();
    }
    function Save_SparcFormMapping() {
        var projects = $("#Project_SparcMappingModel_MapForm2Project").dxDropDownBox("option", "value");
        var form = $("#Form_SparcMappingModel_MapForm2Project").dxDropDownBox("option", "value")
        if (form === undefined || form === null || form.length === 0) {
            DevExpress.ui.dialog.alert("Form field is mandatory!", "Invalid input....").done(
                function () { $("#Form_SparcMappingModel_MapForm2Project").dxDropDownBox("instance").focus() });
            HideLoader();
            return;
        }
        if (projects === undefined || projects === null || projects.length === 0) {
            DevExpress.ui.dialog.alert("Project field is mandatory!", "Invalid input....").done(
                function () { $("#Project_SparcMappingModel_MapForm2Project").dxDropDownBox("instance").focus() });
            HideLoader();  
            return;
        }
        console.log("projects: " + projects);
        console.log("Form: " + form);
        var formArr = getGridIdName("Form_SparcMappingModel_datagrid_MapForm2Project", "Form_SparcMappingModel_MapForm2Project")
        var projArr = getGridIdName("Project_SparcMappingModel_datagrid_MapForm2Project", "Project_SparcMappingModel_MapForm2Project")
        var formNameArr = formArr.map(function (item) {
            return item.name;
        });
        var formIdArr = formArr.map(function (item) {
            return item.Id;
        });
        var formProjectIdArr = formArr.map(function (item) {
            return item.ProjectId;
        });
        var projNameArr = projArr.map(function (item) {
            return item.name;
        });
        var projIdArr = projArr.map(function (item) {
            return item.Id;
        });
        $.ajax({
            type: 'POST',
            url: "/Facility/SparcProject/Frm_MapFormToProject",
            cache: false,
            data:
            {
                ProjectIds: projIdArr.toString(),
                FormId: formIdArr.toString(),
                FormName: formNameArr.toString(),
                FormProjectId: formProjectIdArr.toString(),
                ProjectNames: projNameArr.toString()
            },
            success: function (data) {
                HideLoader();
                if (data.jsonParam.result) {
                    // The API returned true
                    HideLoader();
                    DevExpress.ui.dialog.alert(data.jsonParam.message, "Mapping Success...");
                    close_SparcPopup();
                }
                else {
                    DevExpress.ui.dialog.alert(data.jsonParam.message, "Mapping Failure...");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function close_SparcPopup() {
        $("#Dynamic_Content_popup").dxPopup("hide");
    }
</script>