@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.SparcMappingModel
@{
    Layout = null;
}
<div class="full-width-header-bg2">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="popuphead"><b>Map Schedule to Form</b></h3>
        </div>
    </div>
</div>

<form class="Frm_MapScheduletoForm_Div edit_form form-horizontal">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-field">
                @Html.Label("Select Schedule: ", htmlAttributes: new { @class = "control-label text-red" })
                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Schedule_SparcMappingModel_MapSchedule2Form").Name("Schedule_SparcMappingModel").Placeholder("Select Schedule...")@*.Value(string.IsNullOrWhiteSpace(InsID)?null: InsID)*@.Value(Model.Schedule_SparcMappingModel)
                                        .DataSource(d => d.Mvc().Controller("SparcProject").LoadAction("GetSchedules").Key("REC_ID").LoadMode(DataSourceLoadMode.Raw)).DisplayExpr("NAME").ValueExpr("REC_ID")
                                        .ReadOnly(false).Visible(true).InputAttr(new Dictionary<string, object>() { { "class", "form-control form-control-sm" } })
                                        .ContentTemplate(@<text>
                    @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Schedule_SparcMappingModel_datagrid_MapSchedule2Form")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("NAME").Caption("Name");
                            columns.Add().DataField("REC_ID").Caption("ID").Visible(false);
                            columns.Add().DataField("SCHEDULE_TYPE").Caption("Schedule Type");
                            columns.Add().DataField("FROM_TIME_1").Format("hh:mm a").DataType(GridColumnDataType.Date).Caption("From Time");
                        })
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .FilterRow(s=>s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);};}"))
                    </text>))
            </div>
            <div class="form-field">
                @Html.Label("Form: ", htmlAttributes: new { @class = "control-label text-red" })
                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Form_SparcMappingModel_MapSchedule2Form").Name("Form_SparcMappingModel").Placeholder("Select Form...").Value(Model.Form_SparcMappingModel)
                                        .DataSource(d => d.Mvc().Controller("SparcProject").LoadAction("GetForms").Key("REC_ID").LoadMode(DataSourceLoadMode.Raw)).DisplayExpr("CI_CHARTNAME").ValueExpr("REC_ID")
                                        .ReadOnly(false).Visible(true).InputAttr(new Dictionary<string, object>() { { "class", "form-control form-control-sm" } })
                                        .ContentTemplate(@<text>
                    @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Form_SparcMappingModel_datagrid_MapSchedule2Form")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("CI_CHARTNAME").Caption("Form");
                            columns.Add().DataField("CI_FREQUENCY").Caption("Frequency");
                            columns.Add().DataField("CI_PURPOSE").Caption("Purpose");
                            columns.Add().DataField("PROJECT").Caption("Project");
                            columns.Add().DataField("CI_FROM_DATE").Caption("Start Date");
                            columns.Add().DataField("CI_TO_DATE").Caption("End Date");
                            columns.Add().DataField("Schedule").Caption("Schedule Name");
                            columns.Add().DataField("ScheduleType").Caption("Schedule Type");
                            columns.Add().DataField("ScheduledForm").Caption("Scheduled From").Visible(false);
                            columns.Add().DataField("ScheduledTo").Caption("Scheduled To").Visible(false);
                            columns.Add().DataField("REC_ID").Caption("REC_ID").Visible(false);
                            columns.Add().DataField("PROJECT_ID").Caption("PROJECT_ID").Visible(false);
                            columns.Add().DataField("Inst_Count").Caption("Inst_Count").Visible(false);
                            columns.Add().DataField("Resp_count").Caption("Resp_count").Visible(false);
                        })
                        .OnRowClick("DG_OnRowClick_Sparc")
                        .Selection(s => s.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always).AllowSelectAll(false))
                        .FilterRow(s => s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys);};}"))
                    </text>))
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-field">
                <div class="row">
                    <div class="col-md-12">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("Save_SparcFormMapping_FormMap").Text("Save").FocusStateEnabled(true).UseSubmitBehavior(false).Visible(true).OnClick("Save_SparcScheduleFormMapping"))
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("close_SparcPopup_FormMap").Text("Close").Visible(true).OnClick(@<text> function () { close_SparcPopup(); } </text>))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    $(document).ready(async function () {
    });
    async function Schedule_SparcProject_valueChanged(e) {
        //var value;
        //var DG = $("#Schedule_SparcMappingModel_datagrid_MapSchedule2Form").dxDataGrid("instance");
        //if (e) {
        //    value = e.value;
        //    if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
        //        DG.clearSelection();
        //        //DG.refresh();
        //        return;
        //    }
        //}
        //else {
        //    value = $("#Schedule_SparcMappingModel_MapSchedule2Form").dxDropDownBox("option", "value");
        //}
        //await DG.selectRows(value);
        ////DG.refresh();
    }
    async function Save_SparcScheduleFormMapping() {
        debugger;
        var schedule = $("#Schedule_SparcMappingModel_MapSchedule2Form").dxDropDownBox("option", "value");
        var forms = $("#Form_SparcMappingModel_MapSchedule2Form").dxDropDownBox("option", "value");
        if (schedule === undefined || schedule === null || schedule.length === 0) {
            DevExpress.ui.dialog.alert("Schedule field is mandatory!", "Invalid input....").done(
                function () { $("#Form_SparcMappingModel_MapSchedule2Form").dxDropDownBox("instance").focus() });
            HideLoader();
            return;
        }
        if (forms === undefined || forms === null || forms.length === 0) {
            DevExpress.ui.dialog.alert("Form field is mandatory!", "Invalid input....").done(
                function () { $("#Form_SparcMappingModel_MapSchedule2Form").dxDropDownBox("instance").focus() });
            HideLoader();
            return;
        }
        console.log("Schedule:  "+schedule);
        console.log("Forms:  " + forms);
        var formArr = getGridIdName("Form_SparcMappingModel_datagrid_MapSchedule2Form", "Form_SparcMappingModel_MapSchedule2Form")
        var scheduleArr = getGridIdName("Schedule_SparcMappingModel_datagrid_MapSchedule2Form", "Schedule_SparcMappingModel_MapSchedule2Form")
        let frmArrInstanceCount1 = [];
        let frmArrInstanceCountGT1 = [];
        let frmArrPurposeBasicDetailAndRegistration = [];
        let FrequencyChangeGreaterThan1DisplayText = "";
        let FrequencyChangeEqualTo1DisplayText = "";

        for (var i = 0; i < formArr.length; i++) {
            if (formArr[i].purpose == 'REGISTRATION' || formArr[i].purpose == 'BASIC DETAILS') {
                frmArrPurposeBasicDetailAndRegistration.push(formArr[i].Name)
                
            }
            if (formArr[i].instancesCounts == 1 && formArr[i].responsesCounts > 0) {
                frmArrInstanceCount1.push(formArr[i].Name);
                FrequencyChangeEqualTo1DisplayText = FrequencyChangeEqualTo1DisplayText + "Form: <b>" + frmArrInstanceCount1.toString() + "</b> already has Responses. Changing the Frequency will change the Period for which the Response was posted. Are you sure you want to Change the Frequency?<br>";
            } else if (formArr[i].instancesCounts > 1) {
                frmArrInstanceCountGT1.push(formArr[i].Name);
                FrequencyChangeGreaterThan1DisplayText = FrequencyChangeGreaterThan1DisplayText + " Existing instances of Form: <b>" + frmArrInstanceCountGT1.toString() + "</b> will not be changed as per the new frequency. Remaining instances will be created as per the new frequency. Are you sure you want to change the frequency?";
            }
        }
        debugger;
        if (frmArrPurposeBasicDetailAndRegistration.length > 0) {
            DevExpress.ui.dialog.alert("Form: <b>" + frmArrPurposeBasicDetailAndRegistration.toString() + "</b> cannot be be mapped to Schedule. As Form with purpose:<b>  BASIC DETAIL and REGISTRATION</b>, can only have frequency Once.", "Confirm Action...");
            return;
        }
        let terminateSaveFunctionFlag = false;
        if (frmArrInstanceCount1.length > 0 || frmArrInstanceCountGT1.length > 0) {
            await CreateCustomConfirmDialog("Confirm Action...", FrequencyChangeEqualTo1DisplayText + FrequencyChangeGreaterThan1DisplayText, false).show().done(function (dialogresult) {
                if (!dialogresult) terminateSaveFunctionFlag = true;
            })
        }
        if (terminateSaveFunctionFlag) return;

        var formFrequencyArr = formArr.map(function (item) {
            return item.frequency;
        });
        var formFromDateArr = formArr.map(function (item) {
            return item.fromDate;
        });
        var formEndDateArr = formArr.map(function (item) {
            return item.toDate;
        });
        var formInstancesCountsArr = formArr.map(function (item) {
            return item.instancesCounts;
        });
        var formResponsesCountsArr = formArr.map(function (item) {
            return item.responsesCounts;
        });
        var formIdArr = formArr.map(function (item) {
            return item.Id;
        });
        var scheduleIdArr = scheduleArr.map(function (item) {
            return item.Id;
        });
        $.ajax({
            type: 'POST',
            url: "/Facility/SparcProject/Frm_MapFormtoSchedule",
            cache: false,
            data:
            {
                ScheduleId: scheduleIdArr.toString(),
                FormIds: formIdArr.toString(),
                FormsFrequencysPrevious: formFrequencyArr.toString(),
                FormStartDates: formFromDateArr.toString(),
                FormEndDates: formEndDateArr.toString()
            },
            success: function (data) {
                HideLoader();
                if (data.jsonParam.result) {
                    // The API returned true
                    HideLoader();
                    DevExpress.ui.dialog.alert(data.jsonParam.message, "Mapping Success...");
                    close_SparcPopup();
                }
                else {
                    DevExpress.ui.dialog.alert(data.jsonParam.message, "Mapping Failure...");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function DG_OnRowClick_Sparc(e) {
        if (e.isSelected) {
            e.component.deselectRows(e.key);
        }
        else {
            e.component.selectRows(e.key, true);
        }
    }
    function close_SparcPopup() {
        $("#Dynamic_Content_popup").dxPopup("hide");
    }
</script>
