
<div class="PotamelReports_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    @*@using ConnectOneMVC.Areas.Reports.Models;
        @model ConnectOneMVC.Areas.Reports.Models.DailyBalancesModel*@
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
    @model System.Data.DataTable
    @{
        Layout = null;

        bool Potamel_Auto_Vouching_Mode = (bool)ViewData["Potamel_Auto_Vouching_Mode"];
        //bool DailyBalances_ExportRight = (bool)ViewData["DailyBalances_ExportRight"];
    }
    <input type="hidden" id="hdfxFr_Date" value="@ViewData["xFr_Date"].ToString()" />
    <input type="hidden" id="hdfxTo_Date" value="@ViewData["xTo_Date"].ToString()" />
    <div id="content" class="report_header_div_main">
        <div class="report_header_div">
            <label class="report_header_label" id="lbldbtext">Potamel Report</label>
        </div>
        @*Buttons*@
        <div class="report_button_div">
            @(Html.DevExtreme().Switch().ID("PotamelReportVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("PotamelReport_VouchingSwitch_ValueChange").Width(100).Visible(false))
            @(Html.DevExtreme().Button()
                                                                            .ID("potamelModelOptions")
                                                                            .Text("Options")
                                                                            // .Icon("edit")
                                                                            .Visible(true)
                                                                            .Disabled(false)
                                                                            .OnClick(@<text>
                                                                                function () {
                                                                                PotamelOptionsClick();
                                                                                }
                                                                            </text>)
        )
            @*@(Html.DevExtreme().Button()
                                                                                                .ID("potamelModelListPreview")
                                                                                                .Text("Export")
                                                                                                .Icon("save")
                                                                                                .Width(80)
                                                                                                .OnClick(@<text>
                                                                                                    function () {
                                                                                                    OnPotamelListPreviewClick();
                                                                                                    }
                                                                                                </text>)
                )*@

            @(Html.DevExtreme().Button()
                                                                                                        .ID("potamelModelCLOSE")
                                                                                                        .Text("Close")
                                                                                                        .Icon("clear")
                                                                                                        .OnClick(@<text>
                                                                                                            function (){$(".TabPanalMenu-tabs .active span").click()}
                                                                                                        </text>)

        )
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <form>
            <div>
                <div id="OpeningbalancesreloadPartialView" class="col-md-6" style="padding:0px 2px 0px 0px !important">
                    @Html.Partial("Frm_Potamel_Receipt_Info_Grid", Model)
                </div>
                <div id="OpeningbalancesreloadPartialView" class="col-md-6" style="padding:0px !important">
                    @Html.Partial("Frm_Potamel_Payment_Info_Grid", Model)

                </div>
            </div>
        </form>
    </div>
    <div class="footer-MainBoxdiv full-width-footer">
        @*<div class="col-lg-8 report_footer_small_buttons_div" id="DepositsFooterItem">*@
        <div class="list_footer_left_margin col-md-10">

        </div>

        <div class="row">
            <div class="col-md-6">
                <div>
                    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id="ob_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="ob_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                            @*<div class="footer-locktext">
                                    <div id="obLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                                </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id="obLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id="obLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    @*@(Html.DevExtreme().Popup().CustomPopup()
                                .ID("Potamel_report_modal")
                                .OnShowing("PopupOnShowing")
                                .Title("Potamel List Preview")
                                .FullScreen(false)
                                .MaxWidth(125)
                                .Height("auto")
                                .ShowCloseButton(true)
                                .ContentTemplate(@<text>
                                    <div id="Potamel_report_modal_result">
                                    </div>
                                </text>)
        )*@

    <script>
    var PotamelReport_IsVouchingMode = false;
    var Potamel_SetVouchingModeOn = "@Potamel_Auto_Vouching_Mode" == "True" ? true : false;
      function PotamelReport_VouchingSwitch_ValueChange(e)
      {
          PotamelReport_IsVouchingMode = e.value;
          PotamelReceiptListGrid_PerformCallBack();
          PotamelPaymentListGrid_PerformCallBack();
      }
    function PotamelPaymentListGrid_PerformCallBack()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.PotamelPaymentListGrid !== 'undefined')
            {
                if (typeof window.PotamelPaymentListGrid.PerformCallback !== 'undefined')
                {
                    if (typeof PotamelPaymentListGrid.PerformCallback == 'function')
                    {
                        PotamelPaymentListGrid.PerformCallback();
                    }
                    else
                    {
                        alert("PerformCallback is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        PotamelPaymentListGrid_PerformCallBack();
                        HideLoader();
                    }, Timeout100);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else
        {
            alert('window undefined')
        }
    }
    function PotamelReceiptListGrid_PerformCallBack()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.PotamelReceiptListGrid !== 'undefined')
            {
                if (typeof window.PotamelReceiptListGrid.PerformCallback !== 'undefined')
                {
                    if (typeof PotamelReceiptListGrid.PerformCallback == 'function')
                    {
                        PotamelReceiptListGrid.PerformCallback();
                    }
                    else
                    {
                        alert("PerformCallback is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        PotamelReceiptListGrid_PerformCallBack();
                        HideLoader();
                    }, Timeout100);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else
        {
            alert('window undefined')
        }
    }
      $(document).ready(function ()
      {
          if (LoginUserType == "SUPERUSER" || LoginUserType == "AUDITOR")
          {
              $("#PotamelReportVouchingModeSwitch").dxSwitch("instance").option("visible", true);
          }
          $(".PotamelReceiptListGrid_PreviewRow").hide();
          GetSessionStorage("PotamelReceiptListGrid");
          $(".PotamelPaymentListGrid_PreviewRow").hide();
          GetSessionStorage("PotamelPaymentListGrid");
          if (Potamel_SetVouchingModeOn == true)
          {
              $("#PotamelReportVouchingModeSwitch").dxSwitch("instance").option("value", true);
             // $("#DonRegViewModeSwitch").dxSwitch("instance").option("value", true);
          }
    });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Reports/Potamel/SessionClear",
            cache: false
        });
        ClearAllReferences_PotamelReports();

    });
        function ClearAllReferences_PotamelReports() {
            PotamelReport_IsVouchingMode = null;
            Potamel_SetVouchingModeOn = null;

            ClearAllReferences("PotamelReports_ClearReferences");
        }

      function PotamelOnInitReceipt(s, e)
      {
          PotamelAdjustSize();
          $(".PotamelReceiptListGrid_PreviewRow").hide();
          GetSessionStorage("PotamelReceiptListGrid");
          ASPxClientUtils.AttachEventToElement(window, "resize", function (evt)
          {
              PotamelAdjustSize();
          });
      }
      function PotamelOnInitPayment(s, e)
      {
          PotamelAdjustSize();
          $(".PotamelPaymentListGrid_PreviewRow").hide();
          GetSessionStorage("PotamelPaymentListGrid");
          ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
              PotamelAdjustSize();
          });
      }
      function PotamelAdjustSize()
      {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try { PotamelPaymentListGrid.SetHeight(height); } catch (err) { }
        try { PotamelReceiptListGrid.SetHeight(height); } catch (err) { }
      }
      function DBGrid_BeginCallBack(s, e)
      {
          var _fromDate = $("#hdfxFr_Date").val();
          var _toDate = $("#hdfxTo_Date").val();
          e.customArgs["Fr_Date"] = _fromDate;
          e.customArgs["To_Date"] = _toDate;
          e.customArgs["command"] = e.command;
          e.customArgs["VouchingMode"] = PotamelReport_IsVouchingMode;
      }
    function OnPotamelReceiptListGrid_EndCallback()
    {
        $(".PotamelReceiptListGrid_PreviewRow").hide();
        GetSessionStorage("PotamelReceiptListGrid");
    }
    function OnPotamelPaymentListGrid_EndCallback()
    {
        $(".PotamelPaymentListGrid_PreviewRow").hide();
        GetSessionStorage("PotamelPaymentListGrid");
    }
    function PotamelContextMenuFunction(s, e)
    {
        if (e.item.name == 'Close')
        {
            btnCloseActiveTab();
        }
        //else if (e.item.name == 'ListPreview') {
        //    OnPotamelListPreviewClick();
        //}
        else if (e.item.name == 'Refresh')
        {
            PotamelPaymentListGrid.Refresh();
            PotamelReceiptListGrid.Refresh();
        }
    }
    function PotamelOptionsClick()
    {
        _ShowStatements('Statements', 'PrintableStatements', 'Frm_ReportInput', 'PotamelReport');
    }
        @*function OnPotamelListPreviewClick() {

        $("#Potamel_report_modal").dxPopup("show");
        $("#Potamel_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#Potamel_report_modal").html('');
                ShowLoader();
        $("#Potamel_report_modal_result").load("@Url.Action("Frm_Export_Options", "Potamel", new { @area = "Reports" })", function () {
                    HideLoader();
                });
    }*@
    </script>
</div>