@using DevExtreme.AspNet.Mvc;
<div>
    @(Html.DevExtreme().Button()
                .ID("Pot_ExportGridDatapdf")
                .Text("Export to PDF")
                .OnClick("ExportPDF")
                .Visible(true)
                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                .ID("Pot_ExportGridDataxls")
                .Text("Export to XLS")
                .OnClick("ExportXLS")
                .Visible(true)
                .Width(120)
    )<br />
    @(Html.DevExtreme().Button()
                .ID("Pot_ExportGridDataxlsx")
                .Text("Export to XLSX")
                .OnClick("ExportXLSX")
                .Visible(true)
                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                .ID("Pot_ExportGridDatadocx")
                .Text("Export to DOCX")
                .OnClick("ExportDOCX")
                .Visible(true)
                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                .ID("Pot_ExportGridDatartf")
                .Text("Export to RTF")
                .OnClick("ExportRTF")
                .Visible(true)
                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                .ID("Pot_ExportGridDatacsv")
                .Text("Export to CSV")
                .OnClick("ExportCSV")
                .Visible(true)
                .Width(120)
    )
</div>
<script>
    function ExportPDF() {
        PotamelListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        $("#Potamel_report_modal").dxPopup("hide");
    }
    function ExportXLS() {
        PotamelListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
        $("#Potamel_report_modal").dxPopup("hide");
    }
    function ExportXLSX() {
        PotamelListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        $("#Potamel_report_modal").dxPopup("hide");
    }
    function ExportCSV() {
        PotamelListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
        $("#Potamel_report_modal").dxPopup("hide");
    }
    function ExportDOCX() {
        PotamelListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
        $("#Potamel_report_modal").dxPopup("hide");
    }
    function ExportRTF() {
        PotamelListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        $("#Potamel_report_modal").dxPopup("hide");
    }
</script>
