@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Membership.Models.Membership_Receipt_Cancel
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<style>
    .Rcancel_data
    {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }
    .Rcancel_data label
    {
        color:#800000 !important;
    }
    .floatR {
        float: right;
    }
</style>


@using (Ajax.BeginForm("Frm_Membership_Receipt_Cancel", "MembershipReceiptRegister",
          new AjaxOptions
          {
              HttpMethod = "POST",
              UpdateTargetId = "Frm_Membership_Receipt_Cancel_popup",
              InsertionMode = InsertionMode.InsertAfter,
              OnBegin = "AjaxBeginFormPost",
              OnSuccess = "Frm_Membership_Receipt_Cancel_AjaxSuccessForm"
          },
          new
          {
              id = "ID_Frm_Membership_Receipt_Cancel",
              @class = "edit_form form-horizontal"
          }))
{
    @Html.HiddenFor(x => x.xID)
    @Html.HiddenFor(x => x.Tag)
    using (Html.DevExtreme().ValidationGroup())     //Redmine Bug #135462 fixed
    {
    <div class="full-width-header-bg4">
        <div class="row">
            <div class="col-sm-8 pll">
                <h3 class="popuphead"><i class="far fa-edit"></i>@Model.TitleX</h3>
            </div>
        </div>
    </div>
    <div class="Rcancel_data form-field">
        <label id="xName_cnl"> @Model.xName</label>
    </div>
    <div class="Rcancel_data form-field">
        <label id="xWing_cnl">@Model.xWing</label>
    </div>
    <div class="Rcancel_data form-field">
        <label id="xMemNo_cnl">@Model.xMemNo</label>
    </div>
    <div class="Rcancel_data form-field">
        <label id="xCenName_cnl">@Model.xCenName</label>
    </div>
    <div class="Rcancel_data form-field">
        <label id="xCenUID_cnl">@Model.xCenUID</label>
    </div>
    <div class="row">
        <div class="col-md-6 Rcancel_data form-field">
            <label id="xRptNo_cnl">@Model.xReceiptNo</label>
        </div>
        <div class="col-md-6 Rcancel_data form-field">
            <label id="xRptDt_cnl">@Model.xReceiptDt</label>
        </div>
    </div>
    <div>
        <div class="form-field">
            <div class="row">
                <div class="col-md-1">
                    @Html.Label("Reason:", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-11">
                    @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                   .ID("MRR_Txt_Remarks_MRR")
                                   .Name("MRR_Txt_Remarks_MRR")
                                   .MaxLength(70)
                                   .TabIndex(1)
                                   .FocusStateEnabled(true)
                                )@*Redmine Bug #135463 fixed*@
                    @Html.ValidationMessageFor(model => model.MRR_Txt_Remarks_MRR, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="floatR">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="styleActionBtn">
                @(Html.DevExtreme().Button().ID("Frm_Receipt_Cancel_Apply").Text("Apply").Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen").FocusStateEnabled(true).TabIndex(2).UseSubmitBehavior(false).OnClick("MRC_ApplyClick") ) @*Redmine Bug #135463 fixed*@@*//Redmine Bug #135901 fixed*@
                @(Html.DevExtreme().Button().ID("Receipt_Close_Btn").Text("Close").Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey").FocusStateEnabled(true).TabIndex(3).OnClick(@<text> function () {$("#Dynamic_Content_popup").dxPopup("hide");} </text>) ) @*Redmine Bug #135463 fixed*@
            </div>
        </div>
    </div><!--[button]-->
    }
}


<script>
    var Tag_MRC = $("#Tag").val();
    function MRC_ApplyClick(e)
    {
        debugger;
        var result = e.validationGroup.validate();
        if (result.isValid)
        {
            if (Tag_MRC == "_Edit")
            {
                $("#ID_Frm_Membership_Receipt_Cancel").submit();
            }
            else
            {
                $("#ID_Frm_Membership_Receipt_Cancel").submit();
            }
        }
    }//Redmine Bug #135901 fixed
    $(document).ready(function ()
    {
        TransformTextForDB("ID_Frm_Membership_Receipt_Cancel");
        setTimeout(function ()
        {
            $("#MRR_Txt_Remarks_MRR").dxTextBox('instance').focus();
        }, Timeout500);
    });
    function Frm_Membership_Receipt_Cancel_AjaxSuccessForm(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            dontaskpopupcloseconfirmation = true;
            $("#Dynamic_Content_popup").dxPopup("hide");
            if (data.jsonParam.refreshgrid)
            {
                RefreshGridView("MembershipReceiptRegisterGrid");
            }
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result == true)
        {
            DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            $("#Dynamic_Content_popup").dxPopup("hide");
            RefreshGridView("MembershipReceiptRegisterGrid");
        }
    }
</script>