@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Membership.Models.MRR_SpeceficPeriod

@{
    /**/

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
    bool PeriodSelectionFirstTime = (bool)ViewBag.PeriodSelectionFirstTime;
}

<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div>
    @using (Ajax.BeginForm("GetSpecificPeriod", "MembershipReceiptRegister",
           new AjaxOptions
           {
               HttpMethod = "POST",
               InsertionMode = InsertionMode.InsertAfter,
               OnBegin = "AjaxBeginFormPost",
               OnSuccess = "Frm_Change_Period_Success"
           },
            new
            {
                id = "id_Frm_Change_Period_Screen_MRR",
                @class = "edit_form"
            }))
    {
        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label  text-red" for="Name">From:</label></div>
                            <div class="col-sm-9 col-md-9 col-lg-9 prm">

                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("MRR_Fromdate").Name("MRR_Fromdate").Value(Model.MRR_Fromdate).InvalidDateMessage("Value must be a Date!!").TabIndex(1))
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-field">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label  text-red" for="Name">To:</label></div>
                            <div class="col-sm-9 col-md-9 col-lg-9 prm">

                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("MRR_Todate").Name("MRR_Todate").Value(Convert.ToDateTime(Model.MRR_Todate)).InvalidDateMessage("Value must be a Date!!").TabIndex(2) )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[row]-->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="styleActionBtn">
                    @(Html.DevExtreme().Button().ID("MRRChangePeriod").Text("Ok").Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen").FocusStateEnabled(true).TabIndex(3).UseSubmitBehavior(true) )
                    @(Html.DevExtreme().Button().ID("MRRChangePeriodCancel").Text("Cancel").Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey").FocusStateEnabled(true).TabIndex(4).OnClick(@<text> function () { $("#PopupMRR_speceficPeriod").dxPopup("hide"); } </text>) )
                </div>
            </div><!--[button]-->
        }
    }
</div>
<script>
    $(document).ready(function ()
    {      
        if ("@PeriodSelectionFirstTime" == "True")
        {
            $("#MRRChangePeriod").click();
        }
    });
</script>






