<div class="MembershipVoucher_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Membership.Models.VoucherMembershipInfo
    @{

        bool MembershipRR_ListAdresBookRight = (bool)ViewData["MembershipRR_ListAdresBookRight"];
        bool MembershipRR_AddAdresBookRight = (bool)ViewData["MembershipRR_AddAdresBookRight"];
        bool MembershipRR_UpdateAdresBookRight = (bool)ViewData["MembershipRR_UpdateAdresBookRight"];
        string Open_Ins_ID = (string)ViewData["Open_Ins_ID"];

        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
    }
    <style>
        .negative .dx-texteditor-input {
            background: lightsalmon;
        }

        .positive .dx-texteditor-input {
            background: aliceblue;
        }
    </style>
    <style>
        .h22 {
            height: 22px !important;
            padding-left: 2px !important;
        }

        .text-blue3 {
            color: #701eff !important;
        }

        #But_Manage_Member_MRR .dx-icon, #But_Add_Member_MRR .dx-icon, #Edit_Member_MRR .dx-icon {
            width: 24px;
            height: 24px;
        }
            #But_Add_Member_MRR .dx-button-text, #But_Manage_Member_MRR .dx-button-text, #Edit_Member_MRR .dx-button-text 
            {    
                white-space: normal !important;   
                vertical-align: top !important;       
            }
        #But_Add_Member_MRR .dx-button-content, #But_Manage_Member_MRR .dx-button-content, #Edit_Member_MRR .dx-button-content 
        {
            height: inherit;
            padding-top: 3px;
            padding-left: 33px;          
        }

        .expire_txt {
            font-style: italic;
            color: blue !important;
        }

        .fee_txt {
            font-style: italic;
            color: gray !important;
        }

        #Txt_Subs_Fee_MRR,
        #Txt_Ent_Fee_MRR {
            color: gray !important;
        }

        #Frm_Voucher_Membership_Window_popup {
            padding: 0px 0px 0px 0px;
        }
        .custom-dropdown-wid > div {
            width: 100%;
            position: relative;
            top: -2px;
            height:24px
        }
        .custom-dropdown-wid .dx-button-content {
            padding: 10px
        }
        .custom-dropdown-wid:before {
            z-index: 1;
            pointer-events: none
        }
    </style>
    <div id="Frm_Voucher_Membership_Window_popup" class="container-fluid">
        @using (Ajax.BeginForm("Frm_Voucher_Membership_Window_BUT_SAVE_Click", "MembershipReceiptRegister",
               new AjaxOptions
               {
                   HttpMethod = "POST",
                   UpdateTargetId = "Frm_Voucher_Membership_Window_popup",
                   InsertionMode = InsertionMode.InsertAfter,
                   OnBegin = "AjaxBeginFormPost",
                   OnSuccess = "Frm_Voucher_Membership_Window_AjaxSuccessForm_MRR"
               },
               new
               {
                   id = "ID_Frm_Voucher_Membership_Window_Form",
                   @class = "edit_form form-horizontal"
               }))
        {
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.TitleX_MRR)
            @Html.HiddenFor(x => x.xMID_MRR)
            @Html.HiddenFor(x => x.xID_MRR)
            @Html.HiddenFor(x => x.iTrans_Type_MRR)
            @Html.HiddenFor(x => x.iLed_ID_MRR)
            @Html.HiddenFor(x => x.iVoucher_Type_MRR)
            @Html.HiddenFor(x => x.iProfile_MRR)
            @Html.HiddenFor(x => x.xWing_Short_MRR)
            @Html.HiddenFor(x => x.iSpecific_ItemID)
            @Html.HiddenFor(x => x.Cnt_BankAccount)
            @Html.HiddenFor(x => x.Tag)
            @*@Html.HiddenFor(x=>x.Edit_MEM_OLD_NO_MRR)*@
            @Html.HiddenFor(x => x.Edit_REC_ID_MRR)
            @Html.HiddenFor(x => x.GLookUp_SubList_Tag)
            @Html.HiddenFor(x => x.Membership_Last_Edit_Time)
            @Html.HiddenFor(x => x.Last_Edit_Time_MRR)
            @*@Html.HiddenFor(x=>x.Add_Time_MRR)*@
            @Html.HiddenFor(x => x.Subs_Category_MRR)
            @Html.HiddenFor(x => x.Subs_Start_Month_MRR)
            @Html.HiddenFor(x => x.Subs_Total_Month_MRR)
            @Html.HiddenFor(x => x.Info_LastEditedOn_MRR)
            @Html.HiddenFor(x => x.Cmb_Period_SelectedIndexChanged)
            @Html.HiddenFor(x => x.Add_Time)
            @Html.HiddenFor(x => x.GridToRefresh)
            @Html.HiddenFor(x => x.GLookUp_SubList_Text_MRR)//Redmine Bug #135455 fixed
            @Html.HiddenFor(x => x.WingListEnabled)
            @Html.HiddenFor(x => x.Edit_WING_ID)
            @Html.HiddenFor(x => x.Edit_AB_ID)
            @Html.HiddenFor(x => x.MemberDD_Data)
            @Html.HiddenFor(x => x.DocumentGettingReady)
            @Html.HiddenFor(x => x.PC_MemberName_MRR)

            using (Html.DevExtreme().ValidationGroup("MembershipReceiptRegister_Profile"))
            {
                <div class="full-width-header-bg4">
                    <div class="row">
                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Membership</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                    </div>
                </div><!--[Header]-->
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                    @Html.Label("Voucher Date:", htmlAttributes: new { @class = "control-label text-red" })
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_V_Date_MRR").Name("Txt_V_Date_MRR").Value(Model.Txt_V_Date_MRR).OnValueChanged("Txt_V_Date_EditValueChanged_MRR"))@*//Redmine Bug #135465 fixed*@
                                </div>
                            </div>
                        </div>
                    </div><!--[Voucher Date]-->
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                    @Html.Label("Item Name:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_itemName_MRR" })
                                </div>
                                <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ItemList_MRR").Name("GLookUp_ItemList_MRR").ValueExpr("ITEMID").DisplayExpr("ITEMNAME").Placeholder("Select Item...").Value(Model.GLookUp_ItemList_MRR)
                                .DataSource(Model.ItemDD_Data,"ITEMID").ReadOnly(true).OnValueChanged("GLookUp_ItemList_EditValueChanged_MRR").ContentTemplate(@<text> @Html.Partial("MembershipRR_LookUp_GetItemList") </text>).FocusStateEnabled(false) )
                                </div>
                            </div>
                        </div>
                    </div><!--[Item Name]-->
                </div><!--[Row 1]-->
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                    @Html.Label("Voucher No:", htmlAttributes: new { @class = "control-label disabletxt" })
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_V_No_MRR").Name("Txt_V_No_MRR").MaxLength(100).Value(Model.Txt_V_No_MRR).FocusStateEnabled(false) .ReadOnly(true) )
                                </div>
                            </div>
                        </div>
                    </div><!--[V No]-->
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                    @Html.Label("Head:", htmlAttributes: new { @class = "control-label disabletxt" })
                                </div>
                                <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                    @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Item_Head_MRR") .Name("BE_Item_Head_MRR") .ReadOnly(true).FocusStateEnabled(false).MaxLength(50) )
                                </div>
                            </div>
                        </div>
                    </div><!--[Head]-->
                </div><!--[Row 2]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 ">
                        <div class="form-field">
                            <fieldset class="default-fieldset">
                                @*<legend class="custom-legend mlm"><label>Member Detail:</label></legend>*@
                                <label class="custom-legend mlm">Member Detail:</label>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                                @Html.Label("Member Name:", htmlAttributes: new { @class = "control-label text-red" })
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                @*@(Html.DevExtreme().DropDownBox().CustomDropDown().ID("PC_MemberName_MRR").Name("PC_MemberName_MRR").ValueExpr("C_ORG_ID").DisplayExpr("C_NAME").Value(Model.PC_MemberName_MRR)
        .DataSource(Model.MemberDD_Data,"C_ORG_ID").OnValueChanged("PC_MemberName_ButtonClick_MRR").ContentTemplate(@<text> @Html.Partial("Get_MemberList")</text>))*@@*//Redmine Bug #135465 fixed*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true,true) .ID("PC_MemberName_Textbox_MRR") .Name("PC_MemberName_Textbox_MRR")@*.OnValueChanged("PC_MemberName_OnValueChange_MRR")*@.OnKeyDown("PC_MemberName_Textbox_OnKeyDown").ShowClearButton(false).FocusStateEnabled(true).ReadOnly(false) )  @*//Redmine Bug #135940 fixed*@
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2" style="width: 12%;">
                                                @(Html.DevExtreme().Button() .ID("But_Select_MRR") .Text("Search").Disabled(Model.TempActionMethod !="_New") .FocusStateEnabled(false) .OnClick("But_Search_Click") )
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1 dx-dropdowneditor-icon custom-dropdown-wid" style="width: 4.5%;">
                                                @(Html.DevExtreme().Button() .ID("Search_Down_MRR") .Text("").Disabled(Model.TempActionMethod != "_New") .FocusStateEnabled(false) .OnClick("But_Search_Down_Click") )

                                            </div>
                                        </div><!--[Member Name]-->
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="pll">
                                                    @Html.Label("Address:", htmlAttributes: new { @class = "control-label" })
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        @(Html.DevExtreme().Button() .ID("But_Add_Member_MRR") .Text("Add Member").Height(45).Width("100%") .Icon(Url.Content("../../../../Icons/add user.png")) .Disabled(Model.TempActionMethod=="_Delete"|| Model.TempActionMethod == "_View") .FocusStateEnabled(false) .OnClick("But_MemAdd_Click") )@*//Redmine Bug #135465 fixed*@
                                                        @(Html.DevExtreme().Button() .ID("Edit_Member_MRR") .Text("Edit Member").Height(45).Width("100%").Icon(Url.Content("../../../../Icons/manage user.png")) .Disabled(Model.TempActionMethod == "_Delete" || Model.TempActionMethod == "_View") .FocusStateEnabled(false) .OnClick("But_MemEdit_Click") )@*//Redmine Bug #135465 fixed*@
                                                        @(Html.DevExtreme().Button() .ID("But_Manage_Member_MRR") .Text("Manage Member").Height(45).Width("100%").Icon(Url.Content("../../../../Icons/manage user.png")) .Disabled(Model.TempActionMethod == "_Delete" || Model.TempActionMethod == "_View") .FocusStateEnabled(false) .OnClick("But_MemManage_Click") )@*//Redmine Bug #135465 fixed*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-10">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Add1_MRR").ID("BE_Add1_MRR").ReadOnly(true).FocusStateEnabled(false))
                                                @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Add2_MRR").ID("BE_Add2_MRR").ReadOnly(true).FocusStateEnabled(false))
                                                @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Add3_MRR").ID("BE_Add3_MRR").ReadOnly(true).FocusStateEnabled(false))
                                                @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Add4_MRR").ID("BE_Add4_MRR").ReadOnly(true).FocusStateEnabled(false))
                                                <div class="row">
                                                    <div class="col-sm-2 col-md-2 col-lg-2 brd-div h22">
                                                        @Html.Label("City:", htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                        @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_City_MRR") .Name("BE_City_MRR") .FocusStateEnabled(false) .ReadOnly(true) )
                                                    </div>
                                                </div><!--[City]-->
                                                <div class="row">
                                                    <div class="col-sm-2 brd-div h22">
                                                        @Html.Label("PinCode:", htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div class="col-sm-4">
                                                        @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Pincode_MRR") .Name("BE_Pincode_MRR") .FocusStateEnabled(false) .ReadOnly(true) )
                                                    </div><!--[Pincode]-->
                                                    <div class="col-sm-2 brd-div h22">
                                                        @Html.Label("District:", htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div class="col-sm-4">
                                                        @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_District_MRR") .Name("BE_District_MRR") .FocusStateEnabled(false) .ReadOnly(true) )
                                                    </div><!--[District]-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2 brd-div h22">
                                                        @Html.Label("State:", htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div class="col-sm-4">
                                                        @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_State_MRR") .Name("BE_State_MRR") .FocusStateEnabled(false) .ReadOnly(true) )
                                                    </div><!--[State]-->
                                                    <div class="col-sm-2 brd-div h22">
                                                        @Html.Label("Country:", htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div class="col-sm-4">
                                                        @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Country_MRR") .Name("BE_Country_MRR") .FocusStateEnabled(false) .ReadOnly(true) )
                                                    </div><!--[Country]-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 pll">
                                                @Html.Label("Centre Name:", htmlAttributes: new { @class = "control-label text-red" })
                                            </div>
                                            <div class="col-sm-10">
                                                @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Cen_Name_MRR") .Name("BE_Cen_Name_MRR") .FocusStateEnabled(false) .ReadOnly(true) )
                                            </div>
                                        </div><!--[Centre Name]-->
                                    </div><!--[Left Part]-->
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg-4 brd-div h22">
                                                @Html.Label("Membership No:", htmlAttributes: new { @class = "control-label text-blue3" })
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                @(Html.DevExtreme().TextBox().CustomTextBox(true) .ID("Txt_Mem_No_MRR") .Name("Txt_Mem_No_MRR") .MaxLength(100) .FocusStateEnabled(false) .ReadOnly(true).Value(Model.Txt_Mem_No_MRR) )
                                            </div>
                                        </div><!--[Mem No]-->
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg-4 brd-div h22">
                                                @Html.Label("Tel No(s):", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Tel_Nos_MRR") .Name("BE_Tel_Nos_MRR") .MaxLength(100) .FocusStateEnabled(false) .ReadOnly(true) )
                                            </div>
                                        </div><!--[Tel No]-->
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg-4 brd-div h22">
                                                @Html.Label("Mobile No(s):", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Mob_No_MRR") .Name("BE_Mob_No_MRR") .FocusStateEnabled(false) .MaxLength(100) .ReadOnly(true) )
                                            </div>
                                        </div><!--[Mob No]-->
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg-4 brd-div h22">
                                                @Html.Label("Email(s):", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Email_No_MRR") .Name("BE_Email_No_MRR") .MaxLength(100) .ReadOnly(true) .FocusStateEnabled(false) )
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg-4 brd-div h22">
                                                @Html.Label("Qualification:", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Qual_MRR") .Name("BE_Qual_MRR") .FocusStateEnabled(false) .ReadOnly(true) )
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg-4 brd-div h22">
                                                @Html.Label("Occupation:", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Occupation_MRR") .Name("BE_Occupation_MRR") .FocusStateEnabled(false) .ReadOnly(true) )
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg-4 brd-div h22">
                                                @Html.Label("Birth-Date:", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_DOB_MRR") .Name("BE_DOB_MRR") .FocusStateEnabled(false) .ReadOnly(true))@*//Redmine Bug #135444 fixed*@
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg-4 brd-div h22">
                                                @Html.Label("Age:", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_AGE_MRR") .Name("BE_AGE_MRR") .FocusStateEnabled(false) .ReadOnly(true) )
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg-4 brd-div h22">
                                                @Html.Label("Centre UID:", htmlAttributes: new { @class = "control-label text-blue3" })
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Cen_UID_MRR") .Name("BE_Cen_UID_MRR") .FocusStateEnabled(false) .ReadOnly(true) )
                                            </div>
                                        </div>
                                    </div><!--[Right Part]-->
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <!-- Subscription Detail -->
                <div class="row">
                    <div class="col-sm-12 col-md-12 ">
                        <div class="form-field">
                            <fieldset class="default-fieldset">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="custom-legend mlm">Subscription Detail:</label>
                                    </div>
                                    <div class="col-sm-4"><label id="lbl_Expire" class="expire_txt">@Model.lbl_Expire_Text</label></div>
                                    <div class="col-sm-5"><label id="lbl_FeeEff" class="fee_txt">@Model.lbl_FeeEff_Text</label></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-4 pll">
                                                @Html.Label("Start Date:", htmlAttributes: new { @class = "control-label text-red" })
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_S_Date_MRR").Name("Txt_S_Date_MRR").Value(Model.Txt_S_Date_MRR).OnValueChanged("Txt_S_Date_EditValueChanged_MRR").Min(new DateTime(1990,01,01))  )@*//Redmine Bug #135465 fixed*@
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 pll">
                                                @Html.Label("Membership:", htmlAttributes: new { @class = "control-label text-red" })
                                            </div>
                                            <div class="col-sm-8 prm">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_SubList_MRR").Name("GLookUp_SubList_MRR").ValueExpr("SI_REC_ID").DisplayExpr("SI_NAME").Placeholder("Select Subscription...").Value(Model.GLookUp_SubList_MRR)
                                                  .DataSource(Model.SubscriptionListDD_Data,"SI_REC_ID").OnValueChanged("GLookUp_SubList_EditValueChanged_MRR").ReadOnly(true).FocusStateEnabled(false).ContentTemplate(@<text> @Html.Partial("MembershipRR_GLookUp_SubList") </text>) )@*//Redmine Bug #135465 fixed*@
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 pll">
                                                @Html.Label("Period Till:", htmlAttributes: new { @class = "control-label text-red" })
                                            </div>
                                            <div class="col-sm-8 prm">
                                                @*//Redmine Bug #135448 fixed*@
                                                @(Html.DevExtreme().SelectBox().CustomSelectBox() .ID("Cmb_Period_MRR") .Name("Cmb_Period_MRR") .DataSource(Model.Cmb_Period_Data,"SelectedIndex_MRR") .DisplayExpr("Period_MRR").ValueExpr("SelectedIndex_MRR").OnValueChanged("Cmb_Period_SelectedIndexChanged_MRR").Placeholder("Select Period...").Value(Model.Cmb_Period_SelectedIndexChanged).ShowClearButton(false))@*//Redmine Bug #135465 fixed*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-3 pll">
                                                @Html.Label("Subscription Fee:", htmlAttributes: new { @class = "control-label text-red" })
                                            </div>
                                            <div class="col-sm-3 prm">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox() .ID("Txt_Subs_Fee_MRR") .Name("Txt_Subs_Fee_MRR") .Format("#0.00") .ReadOnly(true) .FocusStateEnabled(false).Value(Model.Txt_Subs_Fee_MRR) )
                                            </div>
                                            <div class="col-sm-2 pll">
                                                @Html.Label("Entrance Fee:", htmlAttributes: new { @class = "control-label text-red" })
                                            </div>
                                            <div class="col-sm-4 prm">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox() .ID("Txt_Ent_Fee_MRR") .Name("Txt_Ent_Fee_MRR") .Format("#0.00") .ReadOnly(true) .FocusStateEnabled(false).Value(Model.Txt_Ent_Fee_MRR) )
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 pll">
                                                @Html.Label("Old Membership No:", htmlAttributes: new { @class = "control-label text-red old_mno" })
                                            </div>
                                            <div class="col-sm-3 prm">
                                                @(Html.DevExtreme().TextBox().CustomTextBox(true)  .ID("Txt_Mem_Old_No_MRR") .Name("Txt_Mem_Old_No_MRR") .MaxLength(5) .Placeholder("Type Old No...").Value(Model.Txt_Mem_Old_No_MRR) )@*//Redmine Bug #135465 fixed*@
                                            </div>
                                            <div class="col-sm-2 pll">
                                                @Html.Label("Advance Fee:", htmlAttributes: new { @class = "control-label text-red" })
                                            </div>
                                            <div class="col-sm-4 prm">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox() .ID("Txt_Adv_Fee_MRR") .Name("Txt_Adv_Fee_MRR") .Format("#0.00") .FocusStateEnabled(false) .ReadOnly(true) .Value(Model.Txt_Adv_Fee_MRR))
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 pll">
                                                @Html.Label("Wing Name:", htmlAttributes: new { @class = "control-label text-red", @for = "user", @id = "lbl_WingName" })
                                            </div>
                                            <div class="col-sm-9 prm">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_WingList_MRR").Name("GLookUp_WingList_MRR").ValueExpr("WING_REC_ID").DisplayExpr("WING_NAME").Placeholder("Select Wing...").Value(Model.GLookUp_WingList_MRR)
                                                      .DataSource(Model.WingDD_Data,"WING_REC_ID").OnValueChanged("GLookUp_WingList_EditValueChanged_MRR").ContentTemplate(@<text> @Html.Partial("LookUp_GetWingList") </text>).ReadOnly(true).FocusStateEnabled(false) )@*//Redmine Bug #135465 fixed*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <!-- Bank Payment Start -->
                    <div class="row">
                        <div class="col-sm-12 col-md-12 ">
                            <div class="form-field">
                                <fieldset class="default-fieldset">
                                    <label class="custom-legend mlm">Bank Payment:</label>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            @Html.Partial("Frm_Voucher_Membership_Bank_View", Model)
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-field">
                                <fieldset class="default-fieldset">
                                    @*<legend class="custom-legend mlm"><label>Other Detail:</label></legend>*@
                                    <label class="custom-legend mlm">Other Detail:</label>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Purpose:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-10 prm">
                                            @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("GLookUp_PurList_MRR").Name("GLookUp_PurList_MRR").DataSource(Model.PurposeDD_Data,"PUR_ID")
                                              .Value(Model.GLookUp_PurList_MRR).DisplayExpr("PUR_NAME").ValueExpr("PUR_ID").Placeholder("Select Purpose...").ReadOnly(true).FocusStateEnabled(false))@*//Redmine Bug #135465 fixed*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Narration:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-10 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true) .ID("Txt_Narration_MRR") .Name("Txt_Narration_MRR") .ReadOnly(true) .FocusStateEnabled(false).MaxLength(250).Value(Model.Txt_Narration_MRR) )
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Remarks:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-10 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true) .ID("Txt_Remarks_MRR") .Name("Txt_Remarks_MRR") .Placeholder("Type any Other Detail / Remarks...").MaxLength(250).Value(Model.Txt_Remarks_MRR))@*//Redmine Bug #135465 fixed*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Reference:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-10 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true) .ID("Txt_Reference_MRR") .Name("Txt_Reference_MRR") .Placeholder("Type any Reference Details...").MaxLength(250).Value(Model.Txt_Reference_MRR) )@*//Redmine Bug #135465 fixed*@
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-field">
                                <fieldset class="default-fieldset">
                                    @*<legend class="custom-legend mlm"><label>Payment Detail:</label></legend>*@
                                    <label class="custom-legend mlm">Payment Detail:</label>
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            @Html.Label("Total Amount:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox() .Format("#0.00") .ID("Txt_SubTotal_MRR") .Name("Txt_SubTotal_MRR") .ReadOnly(true) .FocusStateEnabled(false).Value(Model.Txt_SubTotal_MRR) )@*//Redmine Bug #135465 fixed*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            @Html.Label("Cash Amount:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox() .Format("#0.00") .ID("Txt_CashAmt_MRR") .Name("Txt_CashAmt_MRR") .OnValueChanged("Txt_CashAmt_EditValueChanged_MRR").Value(Model.Txt_CashAmt_MRR) )@*//Redmine Bug #135465 fixed*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            @Html.Label("Bank Amount:", htmlAttributes: new { @class = "control-label text-blue" })
                                        </div>
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox() .Format("#0.00") .ID("Txt_BankAmt_MRR") .Name("Txt_BankAmt_MRR") .OnValueChanged("Txt_CashAmt_EditValueChanged_MRR").Value(Model.Txt_BankAmt_MRR)  /*//Redmine Bug #135450 fixed*/ .FocusStateEnabled(false) .ReadOnly(true) )
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            @Html.Label("Difference:", htmlAttributes: new { @class = "control-label text-blue" })
                                        </div>
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox() .Format("#0.00") .ID("Txt_DiffAmt_MRR") .Name("Txt_DiffAmt_MRR") .ReadOnly(true) .OnValueChanged("Calculation_Check_MRR") .FocusStateEnabled(false).Value((double?)Model.Txt_DiffAmt_MRR) )
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Item Detail (Membership Receipt Register Detail)...)...", Model.Tag.ToString().Substring(1)))
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="styleActionBtn">
                                        @(Html.DevExtreme().Button().ID("Frm_MRR_Window_Ok").CustomSaveButton(Model.TempActionMethod).Text(Model.ActionMethod.ToString() == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).OnClick("Membership_RR_saveClick").UseSubmitBehavior(false).Visible(Model.ActionMethod.ToString() == "_View" ? false : true) )@*//Redmine Bug #135449 fixed*@
                                        @(Html.DevExtreme().Button().ID("CancelMRR").CustomCloseButton().Text(Model.ActionMethod.ToString() == "_View" ? "Close" : "Cancel").FocusStateEnabled(true).OnClick("BUT_CANCEL_Click_MRR") )@*//Redmine Bug #135449 fixed*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Buttons]-->
                    <!-- Bottom Footer Buttons End -->
                    @*</div>*@
                    @(Html.DevExtreme().Popup().CustomPopup().ID("Search_Down_MRR_report_modal")@*.Title("")*@.FullScreen(false).Width(600).Height(325).Visible(false).CloseOnOutsideClick(true).ShowTitle(false).ShowCloseButton(false).OnShown("MemberPopupOnShown").ContentTemplate(@<text> @Html.Partial("Get_MemberList",Model)</text>).MaxHeight(null))
                }
            }   
    </div>
    <script>

        var Item_MRR_DG;
        var SubsList_MRR_DG;
        var MembershipNamesList_MRR_DG;
        var WingList_MRR_DG;
        var cmb_SelectedIndex_MRR;
        var sublist_Tag_MRR;
        var SubList_MRR;
        var Subs_Catg_MRR;
        var Subs_Strt_Mth_MRR;
        var Subs_Ttl_Mth_MRR;
        var Strt_Date_MRR;
        var Tag_MRR = "@Model.ActionMethod";
        var WingDDEnabled_MRR = true;
        var WingDDReadOnly_MRR = true;
        var dataSource_Member_MRR = null;
        var dataSource_Period_MRR = null;
        var Member_C_ID_MRR = null;
    </script> @* Global Variables *@
    <script>
    function Membership_RR_saveClick(e)
    {
        $("#WingListEnabled").val(!($("#GLookUp_WingList_MRR").dxDropDownBox("option", "readOnly")));
        var result = e.validationGroup.validate();
        if (result.isValid)
        {
            if (Tag_MRR == "_Delete")
            {
                CreateCustomConfirmDialog("@Model.TitleX_MRR", "", true).show().done(function (dialogResult)
                {
                    if (dialogResult)
                    {
                        $("#ID_Frm_Voucher_Membership_Window_Form").submit();
                    }
                });
            }
            else
            {
                 $("#ID_Frm_Voucher_Membership_Window_Form").submit();
            }
        }
    }
        function But_Search_Down_Click()
        {
            $("#Search_Down_MRR_report_modal").dxPopup("instance").show();
        }
        function PC_MemberName_Textbox_OnKeyDown(e)
        {
            if (e.event.originalEvent.keyCode == 13)
            {
                e.event.stopImmediatePropagation();
                But_Search_Click();
            }
        }//Redmine Bug #135940 fixed
        async function But_Search_Click(e, FirstCall = false)
        {
            debugger;
            PCMem_Value = $("#PC_MemberName_Textbox_MRR").dxTextBox('instance').option('text');
            if (PCMem_Value.length < 3)
            {
                DevExpress.ui.dialog.alert("Text cannot be Blank / Minimum 3 Characters required. . . !", "Error...");
                $("#PC_MemberName_Textbox_MRR").dxTextBox('instance').focus();
                return;
                //MemberName_validations(PCMem_Value.toUpperCase());
            }
            else
            {
                $.ajax({
                    type: 'GET',
                    url: "/Membership/MembershipReceiptRegister/Search_Memberlist",
                    cache: false,
                    //  async: false,  
                    data:
                    {
                        Use_Rec_Id: false,
                        SearchStr: PCMem_Value,
                    },
                    success: function (data)
                    {
                        dataSource_Member_MRR = new DevExpress.data.DataSource({ // need to dispose it in in clearreference
                            store:
                            {
                                type: "array",
                                key: "C_ORG_ID",
                                data: data
                            }
                        });

                        MembershipNamesList_MRR_DG.option("dataSource", dataSource_Member_MRR);
                        dataSource_Member_MRR.load();
                        $("#Search_Down_MRR_report_modal").dxPopup("instance").show();
                        //debugger;
                        //OpenPopup("Search_Down_MRR_report_modal", "", "/Membership/MembershipReceiptRegister/Frm_Searched_MemberName_List", "auto", "100%", null, data);
                    }
                });
            }            
        }
        function Member_OnSelectionChanged_MRR(e, FirstCall = false)
        {
            debugger;
            if (MembershipNamesList_MRR_DG.getSelectedRowsData().length > 0) {
                $("#Search_Down_MRR_report_modal").dxPopup("instance").hide();
                var item = MembershipNamesList_MRR_DG.getSelectedRowsData()[0];
                Member_C_ID_MRR = item["C_ID"];
                $("#PC_MemberName_MRR").val(item["C_ORG_ID"]);
                $("#PC_MemberName_Textbox_MRR").dxTextBox("instance").option("value", item["C_NAME"]);
                $("#BE_Add1_MRR").dxTextBox("instance").option("value", item["C_R_ADD1"]);
                $("#BE_Add2_MRR").dxTextBox("instance").option("value", item["C_R_ADD2"]);
                $("#BE_Add3_MRR").dxTextBox("instance").option("value", item["C_R_ADD3"]);
                $("#BE_Add4_MRR").dxTextBox("instance").option("value", item["C_R_ADD4"]);
                $("#BE_City_MRR").dxTextBox("instance").option("value", item["CI_NAME"]);
                $("#BE_State_MRR").dxTextBox("instance").option("value", item["ST_NAME"]);
                $("#BE_District_MRR").dxTextBox("instance").option("value", item["DI_NAME"]);
                $("#BE_Country_MRR").dxTextBox("instance").option("value", item["CO_NAME"]);
                $("#BE_Pincode_MRR").dxTextBox("instance").option("value", item["C_R_PINCODE"]);
                $("#BE_Tel_Nos_MRR").dxTextBox("instance").option("value", item["TEL_NOS"]);
                $("#BE_Mob_No_MRR").dxTextBox("instance").option("value", item["MOB_NOS"]);
                $("#BE_Email_No_MRR").dxTextBox("instance").option("value", item["EMAILS"]);
                $("#BE_Qual_MRR").dxTextBox("instance").option("value", item["C_EDUCATION"]);
                $("#BE_Occupation_MRR").dxTextBox("instance").option("value", item["C_OCCUPATION"]);
                if (isValidDate(item["C_DOB"])) {
                    $("#BE_DOB_MRR").dxTextBox("instance").option("value", JS_Json_Date_To_ddMMyyyy(item["C_DOB"], "DD/MM/YYYY"));
                }
                else {
                    $("#BE_DOB_MRR").dxTextBox("reset");
                }
                $("#BE_AGE_MRR").dxTextBox("instance").option("value", item["C_AGE"]);
                $("#BE_Cen_Name_MRR").dxTextBox("instance").option("value", item["CEN_NAME"]);
                $("#BE_Cen_UID_MRR").dxTextBox("instance").option("value", item["CEN_UID"]);
                $("#Membership_Last_Edit_Time").val(JS_Json_Date_To_ddMMyyyy(item["C_REC_EDIT_ON"]));
                
                if (FirstCall == false && $("#DocumentGettingReady").val() == "false")
                {
                    $("#GLookUp_SubList_MRR").dxDropDownBox("instance").reset();
                    $("#Txt_Mem_Old_No_MRR").dxTextBox("instance").reset();
                    $("#GLookUp_WingList_MRR").dxDropDownBox("instance").reset();
                    //cmb_period setting readonly instead of item clearing
                    Control_SetReadOnly("Cmb_Period_MRR", "dxSelectBox", true);
                    $("#Cmb_Period_MRR").dxSelectBox("instance").reset();
                    $("#Txt_S_Date_MRR").dxDateBox("focus");
                }
            }
            else
            {                
                Member_C_ID_MRR = null;
                $("#PC_MemberName_MRR").val(null);
                $("#BE_Cen_Name_MRR").dxTextBox("instance").reset();
                $("#BE_Add1_MRR").dxTextBox("instance").reset();
                $("#BE_Add2_MRR").dxTextBox("instance").reset();
                $("#BE_Add3_MRR").dxTextBox("instance").reset();
                $("#BE_Add4_MRR").dxTextBox("instance").reset();
                $("#BE_Cen_UID_MRR").dxTextBox("instance").reset();
                $("#BE_City_MRR").dxTextBox("instance").reset();
                $("#BE_Pincode_MRR").dxTextBox("instance").reset();
                $("#BE_District_MRR").dxTextBox("instance").reset();
                $("#BE_State_MRR").dxTextBox("instance").reset();
                $("#BE_Country_MRR").dxTextBox("instance").reset();

                $("#BE_Tel_Nos_MRR").dxTextBox("instance").reset();
                $("#BE_Mob_No_MRR").dxTextBox("instance").reset();
                $("#BE_Email_No_MRR").dxTextBox("instance").reset();
                $("#BE_Qual_MRR").dxTextBox("instance").reset();
                $("#BE_Occupation_MRR").dxTextBox("instance").reset();
                $("#BE_DOB_MRR").dxTextBox("instance").reset();
                $("#BE_AGE_MRR").dxTextBox("instance").reset();
                $("#Membership_Last_Edit_Time").val(null);
                return;
            }
        }

    function Frm_Voucher_Membership_Window_AjaxSuccessForm_MRR(data)
    {
        HideLoader();
        dontaskpopupcloseconfirmation = true;
        if (data.jsonParam.result == false)
        {
            if (data.jsonParam.closeform)
            {
                $("#Dynamic_Content_popup").dxPopup("hide");
            }
            if (data.jsonParam.refreshgrid)
            {
                RefreshGridView($("#GridToRefresh").val());
            }
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result == true)
        {
            var SavealertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            SavealertClick.done(function (result)
            {
                if (result)
                {
                    if ($("#GridToRefresh").val() == 'CashBookListGrid')
                    {
                        AfterVoucherClose_CB($("#Txt_V_Date_MRR").dxDateBox("instance").option("value"), Tag_MRR, data.CashbookGridPK)
                    }
                    else if ($("#GridToRefresh").val() == 'MembershipReceiptRegisterGrid')
                    {
                        AfterVoucherClose_MRR($("#Txt_V_Date_MRR").dxDateBox("instance").option("value"), Tag_MRR, data.xid);
                    }
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
            });
        }
    }
    function But_MemAdd_Click()
    {
        if ("@MembershipRR_AddAdresBookRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (Tag_MRR== "_New" || Tag_MRR == "_Edit" || Tag_MRR == "_New_From_Selection")
        {
            AddParty("Member_Manag_or_Add_MRR", null, "But_MemAdd_Click", "But_Add_Member_MRR", "Address Book (New ~ Member)...");
        }
    }
    function But_MemManage_Click()
    {
        if ("@MembershipRR_ListAdresBookRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (Tag_MRR == "_New" || Tag_MRR == "_Edit" || Tag_MRR== "_New_From_Selection")
        {
            ManageParty("Member_Manag_or_Add_MRR", null,"Address Book (Manage Member)...");
        }
    }
    function But_MemEdit_Click()
    {
        if ("@MembershipRR_UpdateAdresBookRight"=="False")
        {
            DevExpress.ui.dialog.alert("Not Allowed", 'No Rights'); return;
        }
        if (Tag_MRR == "_New" || Tag_MRR == "_Edit" || Tag_MRR == "_New_From_Selection")
        {           
            if (Member_C_ID_MRR != null && Member_C_ID_MRR.length>0)
            {
                ShowLoader()
                $.ajax({
                    type: 'GET',
                    url: "/Facility/AddressBook/DataNavigation",
                    data:
                    {
                        ActionMethod: "Edit",
                        ID: Member_C_ID_MRR,
                        Edit_Date: $("#Membership_Last_Edit_Time").val()
                    },
                    cache: false,
                    success: function (data)
                    {
                        //alert($("#Membership_Last_Edit_Time").val())
                        if (data.result == true)
                        {
                            ShowLoader();
                            $.ajax({
                                type: 'GET',
                                url: "@Url.Action("Frm_Address_Info_Window", "AddressBook", new { @area = "Facility" })",
                                data:
                                {
                                    ActionMethod: "Edit",
                                    ID: Member_C_ID_MRR,
                                    EditedOn: $("#Membership_Last_Edit_Time").val(),
                                    PopUpId: "Member_Manag_or_Add_MRR",
                                    DropDownFunctionName: "Get_MemberList_MRR"
                                },
                                cache: false,
                                success: function (data)
                                {
                                    if (typeof (data) == "string")
                                    {
                                        OpenPopup("Member_Manag_or_Add_MRR", "Address Book(Edit ~ Member)", null, "auto", 1000, true, data);
                                    }
                                    else
                                    {
                                        DevExpress.ui.dialog.alert(data.jsonParam.message, 'Warning!');
                                        HideLoader();
                                    }
                                }
                            });
                        }
                        else
                        {
                            RefreshGridView("AddressListGrid");
                            HideLoader();
                            DevExpress.ui.dialog.alert(data.Message, "Warning...");
                        }
                    }
                });
            }
        }
    }
    function BUT_CANCEL_Click_MRR()
    {
        $("#Dynamic_Content_popup").dxPopup("hide");
    }
    function BUT_CANCEL_Click_ForDocumentReady_MRR()
    {
        sessionclearpath = "/Membership/MembershipReceiptRegister/SessionClear_MRRWindow";
        if (Tag_MRR == "_View")
        {
            dontaskpopupcloseconfirmation = true;
        }
        else
        {
            dontaskpopupcloseconfirmation = false;
        }
    }
    </script> @* save button and ajax success *@
    <script>

    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        TransformTextForDB("ID_Frm_Voucher_Membership_Window_Form");
        $("#Txt_Mem_Old_No_MRR").find('input').addClass('OnlyDigit');
        if ("@MembershipRR_ListAdresBookRight" == "False")
        {
            $("#But_Add_Member_MRR").hide();
        }
        BUT_CANCEL_Click_ForDocumentReady_MRR();
        InitAllDropdownDatagrid_MRR();
        await Promise.all([LookUp_GetItemList_MRR(true), LookUp_GetSubscriptionList_MRR(true), LookUp_GetWingList_MRR(true), LookUp_GetPurposeList_MRR(true)]);
        if (Tag_MRR == "_New" || Tag_MRR == "_New_From_Selection")
        {
            $("#Txt_V_No_MRR").dxTextBox("instance").reset();
        }
        if (Tag_MRR == "_New_From_Selection")
        {
            await GLookUp_ItemList_EditValueChanged_MRR(null, true);
            Control_SetReadOnly("GLookUp_ItemList_MRR", "dxDropDownBox", true, "#696969");
            $("#lbl_itemName_MRR").removeClass("text-red").addClass("disabletxt");
        }
        else if (Tag_MRR == "_Edit" || Tag_MRR == "_View" || Tag_MRR == "_Delete")
        {
            Control_SetReadOnly("PC_MemberName_Textbox_MRR", "dxTextBox", true);
            await GLookUp_ItemList_EditValueChanged_MRR(null, true);
            Control_SetReadOnly("GLookUp_ItemList_MRR", "dxDropDownBox", false);
            await Member_OnSelectionChanged_MRR(null, true);
            await GLookUp_SubList_EditValueChanged_MRR(null, true);
            Control_SetReadOnly("GLookUp_SubList_MRR", "dxDropDownBox", false);
            await Cmb_Period_SelectedIndexChanged_MRR(null, true);
            await GLookUp_WingList_EditValueChanged_MRR(null, true);
            WingDDReadOnly_MRR = false;
            Control_SetReadOnly("GLookUp_WingList_MRR", "dxDropDownBox", (WingDDEnabled_MRR == true && WingDDReadOnly_MRR == false) ? false : true);//Redmine Bug #135968 fixed
            Control_SetReadOnly("GLookUp_PurList_MRR", "dxSelectBox", false);
            Txt_CashAmt_EditValueChanged_MRR();
        }
        if ("@Open_Ins_ID" == "00008")
        {
            $("#lblCentreName").removeClass("text-red").removeClass("disabletxt");
        }
        else
        {
            $("#lblCentreName").addClass("text-red").removeClass("disabletxt");
        }
        Set_Form_View_Delete_Mode(null, "ID_Frm_Voucher_Membership_Window_Form", Tag_MRR);
        Focus_FirstEditable_Field("ID_Frm_Voucher_Membership_Window_Form");
        HideLoader_Ready();
        $("#DocumentGettingReady").val(false);
    });
    </script>  @* Ready *@

    <script>   
    function InitAllDropdownDatagrid_MRR()
    {
        var $MRR_Item_DataGrid = $("#MRR_GLookUp_ItemList_datagrid");
        if ($MRR_Item_DataGrid.length)
        {
            Item_MRR_DG = $MRR_Item_DataGrid.dxDataGrid("instance");
        }
        var $SubsList_MRR_DG = $("#MRR_GLookUp_SubsList_datagrid");
        if ($SubsList_MRR_DG.length)
        {
            SubsList_MRR_DG = $SubsList_MRR_DG.dxDataGrid("instance");
        }
        if (isDesktop) {
            $("#Search_Down_MRR_report_modal").dxPopup("instance").option("position.my", "left top");
            $("#Search_Down_MRR_report_modal").dxPopup("instance").option("position.at", "left bottom");
            $("#Search_Down_MRR_report_modal").dxPopup("instance").option("position.of", "#PC_MemberName_Textbox_MRR");
        }
        $("#Search_Down_MRR_report_modal").dxPopup("show");    
        var $MNList_MRR_DG = $("#MRR_MembershipNamesList_datagrid");
        if ($MNList_MRR_DG.length)
        {
            MembershipNamesList_MRR_DG = $MNList_MRR_DG.dxDataGrid("instance");
        }
        $("#Search_Down_MRR_report_modal").dxPopup("hide");
        var $WingList_MRR_DG = $("#MRR_LookUp_WingList_datagrid");
        if ($WingList_MRR_DG.length)
        {
            WingList_MRR_DG = $WingList_MRR_DG.dxDataGrid("instance");
        }
    }
    async function LookUp_GetItemList_MRR(FirstCall = false)
    {
        var DGItem = GetDataSourceItems("GLookUp_ItemList_MRR", "dxDropDownBox");
        var TotalCount = DGItem.length;
        if (TotalCount == 1)
        {
            $("#GLookUp_ItemList_MRR").find('input').css('color', '#000080');
            if (FirstCall === true)
            {
                await GLookUp_ItemList_EditValueChanged_MRR(null, FirstCall);
            }
            if (Tag_MRR == "_New" || Tag_MRR == "_New_From_Selection")
            {
                Control_SetReadOnly("GLookUp_ItemList_MRR", "dxDropDownBox", true, "#696969");
                $("#lbl_itemName_MRR").removeClass("text-red").addClass("disabletxt");
            }
        }
        else
        {
            if (Tag_MRR == "_New" || Tag_MRR == "_New_From_Selection")
            {
                Control_SetReadOnly("GLookUp_ItemList_MRR", "dxDropDownBox", false);
                $("#lbl_itemName_MRR").addClass("text-red").removeClass("disabletxt");
            }
        }
    }
    async function LookUp_GetSubscriptionList_MRR(FirstCall = false)
    {
        if (Tag_MRR == "_New" || Tag_MRR == "_New_From_Selection")
        {
            Control_SetReadOnly("GLookUp_SubList_MRR", "dxDropDownBox", false);
        }
    }
    async function LookUp_GetWingList_MRR(FirstCall = false)
    {
        var DGItem = GetDataSourceItems("GLookUp_WingList_MRR", "dxDropDownBox");
        var TotalCount = DGItem.length;
        if (TotalCount > 0)
        {
            $("#lbl_WingName").addClass("text-red").removeClass("disabletxt");            
        }
        else
        {
            WingDDEnabled_MRR = false;
            Control_SetReadOnly("GLookUp_WingList_MRR", "dxDropDownBox", (WingDDEnabled_MRR == true && WingDDReadOnly_MRR == false) ? false : true);
            $("#lbl_WingName").removeClass("text-red").removeClass("disabletxt");
        }
        if (Tag_MRR == "_New" || Tag_MRR == "_New_From_Selection")
        {
            WingDDReadOnly_MRR = false;
            Control_SetReadOnly("GLookUp_WingList_MRR", "dxDropDownBox", (WingDDEnabled_MRR == true && WingDDReadOnly_MRR == false) ? false : true);
        }
    }
    async function LookUp_GetPurposeList_MRR(FirstCall = false)
    {
        if (Tag_MRR == "_New" || Tag_MRR == "_New_From_Selection")
        {
            Control_SetReadOnly("GLookUp_PurList_MRR", "dxSelectBox", false);
        }
    }
    async function Get_MemberList_MRR(FirstCall = false)
    {
        if (FirstCall == false)
        {
            var MemValue = $("#PC_MemberName_MRR").val();//Redmine Bug #135446 fixed
            $.ajax({
                type: 'GET',
                url: "/Membership/MembershipReceiptRegister/RefreshMemberList",
                cache: false,
                data: { SearchStr: MemValue},
                success: function (data)
                {
                    dataSource_Member_MRR = new DevExpress.data.DataSource({ // need to dispose it in in clearreference
                        store:
                        {
                            type: "array",
                            key: "C_ORG_ID",
                            data: data
                        }
                    });
                    
                    MembershipNamesList_MRR_DG.option("dataSource", dataSource_Member_MRR);
                    dataSource_Member_MRR.load().done((r) =>
                    {                        
                        if (data.some(data => data.C_ORG_ID === MemValue))
                        {
                           // $("#PC_MemberName_Textbox_MRR").dxTextBox("reset");
                            MembershipNamesList_MRR_DG.selectRows(MemValue);
                           // $("#PC_MemberName_Textbox_MRR").dxTextBox("instance").option("value", MemValue);
                        }
                    })
                }
            });
        }
    }
    async function GLookUp_ItemList_EditValueChanged_MRR(e, FirstCall = false)
    {
        var ItemID;
        if (e)
        {
            ItemID = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null)
            {
                Item_MRR_DG.clearSelection();
                return;
            }
        }
        else
        {
            ItemID = $("#GLookUp_ItemList_MRR").dxDropDownBox("option", "value");
        }
        await Item_MRR_DG.selectRows(ItemID);
        if (Item_MRR_DG.getSelectedRowsData().length > 0)
        {
            var item = Item_MRR_DG.getSelectedRowsData()[0];
            $("#BE_Item_Head_MRR").dxTextBox("instance").option("value", item["LED_NAME"]);
            $("#iVoucher_Type_MRR").val(item["ITEM_VOUCHER_TYPE"]);
            $("#iLed_ID_MRR").val(item["ITEM_LED_ID"]);
            $("#iTrans_Type_MRR").val(item["ITEM_TRANS_TYPE"]);
            $("#iProfile_MRR").val(item["ITEM_PROFILE"]);
        }
    }
    async function GLookUp_SubList_EditValueChanged_MRR(e, FirstCall = false)
    {
        if (e)
        {
            sublist_Tag_MRR = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null)
            {
                SubsList_MRR_DG.clearSelection();
                return;
            }
        }
        else
        {
            sublist_Tag_MRR = $("#GLookUp_SubList_MRR").dxDropDownBox("option", "value");
        }
        await SubsList_MRR_DG.selectRows(sublist_Tag_MRR);
        if (SubsList_MRR_DG.getSelectedRowsData().length > 0)
        {
            var item_MRR = SubsList_MRR_DG.getSelectedRowsData()[0];
            SubList_MRR = item_MRR["SI_NAME"];
            Subs_Catg_MRR = item_MRR["SI_CATEGORY"];
            Subs_Strt_Mth_MRR = item_MRR["SI_START_MONTH"];
            Subs_Ttl_Mth_MRR = item_MRR["SI_TOTAL_MONTH"];
            $("#GLookUp_SubList_Text_MRR").val(SubList_MRR);
            $("#Subs_Category_MRR").val(item_MRR["SI_CATEGORY"]);
            $("#Subs_Start_Month_MRR").val(item_MRR["SI_START_MONTH"]);
            $("#Subs_Total_Month_MRR").val(item_MRR["SI_TOTAL_MONTH"]);
            var Txt_S_Date = $("#Txt_S_Date_MRR").dxDateBox("instance").option("value");
            Strt_Date_MRR = JS_Json_Date_To_ddMMyyyy(Txt_S_Date);
            if (FirstCall == false)
            {
                if (isValidDate(Txt_S_Date))
                {
                    $.ajax({
                        type: 'GET',
                        url: "/Membership/MembershipReceiptRegister/GetSubscriptionFee",
                        cache: false,
                        data:
                        {
                            S_date_MRR: Strt_Date_MRR,
                            GLookUp_SubList_Tag: sublist_Tag_MRR,
                            Subs_Cat: Subs_Catg_MRR,
                            Subs_Start_M: Subs_Strt_Mth_MRR,
                            Subs_Total_M: Subs_Ttl_Mth_MRR
                        },
                        success: function (data)
                        {
                            if (data.jsonParam.result == false)
                            {
                                DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                            }
                            else
                            {
                                dataSource_Period_MRR = new DevExpress.data.DataSource({ // need to dispose it in in clearreference
                                    store:
                                    {
                                        type: "array",
                                        key: "SelectedIndex_MRR",
                                        data: data.Period_Data_MRR
                                    }
                                });
                                $("#Cmb_Period_MRR").dxSelectBox("instance").option("dataSource", dataSource_Period_MRR);
                                $("#Cmb_Period_MRR").dxSelectBox("reset");
                                Control_SetReadOnly("Cmb_Period_MRR", "dxSelectBox", false);
                                $("#Cmb_Period_MRR").dxSelectBox("instance").option("value", 0);
                                $("#lbl_FeeEff").text(data.lbl_FeeEff_Text);
                            }
                        }
                    });
                }
                else
                {
                    DevExpress.ui.dialog.alert("Start Date Incorrect/Blank...", "Information")
                }
            }
        }
    }
    async function GLookUp_WingList_EditValueChanged_MRR(e, FirstCall = false)
    {
        var Wing_Value;
        if (e)
        {
            Wing_Value = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null)
            {
                WingList_MRR_DG.clearSelection();
                return;
            }
        }
        else
        {
            Wing_Value = $("#GLookUp_WingList_MRR").dxDropDownBox("option", "value");
        }
        await WingList_MRR_DG.selectRows(Wing_Value);
        if (WingList_MRR_DG.getSelectedRowsData().length > 0)
        {
            var item = WingList_MRR_DG.getSelectedRowsData()[0];
            $("#xWing_Short_MRR").val(item["WING_SHORT_MS"]);
        }
    }
    //async function PC_MemberName_ButtonClick_MRR(e, FirstCall = false)
    //{
        //var MEM_ID;
        //if (e)
        //{
        //    MEM_ID = e.value;
        //    if ((e.value == null || e.value.length == 0) && e.previousValue != null)
        //    {
        //        MembershipNamesList_MRR_DG.clearSelection();
        //        Member_C_ID_MRR = null;
        //        $("#BE_Cen_Name_MRR").dxTextBox("instance").reset();
        //        $("#BE_Add1_MRR").dxTextBox("instance").reset();
        //        $("#BE_Add2_MRR").dxTextBox("instance").reset();
        //        $("#BE_Add3_MRR").dxTextBox("instance").reset();
        //        $("#BE_Add4_MRR").dxTextBox("instance").reset();
        //        $("#BE_Cen_UID_MRR").dxTextBox("instance").reset();
        //        $("#BE_City_MRR").dxTextBox("instance").reset();
        //        $("#BE_Pincode_MRR").dxTextBox("instance").reset();
        //        $("#BE_District_MRR").dxTextBox("instance").reset();
        //        $("#BE_State_MRR").dxTextBox("instance").reset();
        //        $("#BE_Country_MRR").dxTextBox("instance").reset();

        //        $("#BE_Tel_Nos_MRR").dxTextBox("instance").reset();
        //        $("#BE_Mob_No_MRR").dxTextBox("instance").reset();
        //        $("#BE_Email_No_MRR").dxTextBox("instance").reset();
        //        $("#BE_Qual_MRR").dxTextBox("instance").reset();
        //        $("#BE_Occupation_MRR").dxTextBox("instance").reset();
        //        $("#BE_DOB_MRR").dxTextBox("instance").reset();
        //        $("#BE_AGE_MRR").dxTextBox("instance").reset();
        //        $("#Membership_Last_Edit_Time").val(null);
        //        return;
        //    }
        //}
        //else
        //{
        //    MEM_ID = $("#PC_MemberName_MRR").dxDropDownBox("option", "value");
        //}
        //await MembershipNamesList_MRR_DG.selectRows(MEM_ID)
        //if (MembershipNamesList_MRR_DG.getSelectedRowsData().length > 0)
        //{
        //    var item = MembershipNamesList_MRR_DG.getSelectedRowsData()[0];
        //    Member_C_ID_MRR = item["C_ID"];
        //    $("#BE_Add1_MRR").dxTextBox("instance").option("value", item["C_R_ADD1"]);
        //    $("#BE_Add2_MRR").dxTextBox("instance").option("value", item["C_R_ADD2"]);
        //    $("#BE_Add3_MRR").dxTextBox("instance").option("value", item["C_R_ADD3"]);
        //    $("#BE_Add4_MRR").dxTextBox("instance").option("value", item["C_R_ADD4"]);
        //    $("#BE_City_MRR").dxTextBox("instance").option("value", item["CI_NAME"]);
        //    $("#BE_State_MRR").dxTextBox("instance").option("value", item["ST_NAME"]);
        //    $("#BE_District_MRR").dxTextBox("instance").option("value", item["DI_NAME"]);
        //    $("#BE_Country_MRR").dxTextBox("instance").option("value", item["CO_NAME"]);
        //    $("#BE_Pincode_MRR").dxTextBox("instance").option("value", item["C_R_PINCODE"]);
        //    $("#BE_Tel_Nos_MRR").dxTextBox("instance").option("value", item["TEL_NOS"]);
        //    $("#BE_Mob_No_MRR").dxTextBox("instance").option("value", item["MOB_NOS"]);
        //    $("#BE_Email_No_MRR").dxTextBox("instance").option("value", item["EMAILS"]);
        //    $("#BE_Qual_MRR").dxTextBox("instance").option("value", item["C_EDUCATION"]);
        //    $("#BE_Occupation_MRR").dxTextBox("instance").option("value", item["C_OCCUPATION"]);
        //    if (isValidDate(item["C_DOB"]))
        //    {
        //        $("#BE_DOB_MRR").dxTextBox("instance").option("value", JS_Json_Date_To_ddMMyyyy(item["C_DOB"],"DD/MM/YYYY"));
        //    }
        //    else
        //    {
        //        $("#BE_DOB_MRR").dxTextBox("reset");
        //    }
        //    $("#BE_AGE_MRR").dxTextBox("instance").option("value", item["C_AGE"]);
        //    $("#BE_Cen_Name_MRR").dxTextBox("instance").option("value", item["CEN_NAME"]);
        //    $("#BE_Cen_UID_MRR").dxTextBox("instance").option("value", item["CEN_UID"]);
        //    $("#Membership_Last_Edit_Time").val(JS_Json_Date_To_ddMMyyyy(item["C_REC_EDIT_ON"]));
        //    if (FirstCall == false)
        //    {
        //        $("#GLookUp_SubList_MRR").dxDropDownBox("instance").reset();
        //        $("#Txt_Mem_Old_No_MRR").dxTextBox("instance").reset();
        //        $("#GLookUp_WingList_MRR").dxDropDownBox("instance").reset();
        //        //cmb_period setting readonly instead of item clearing
        //        Control_SetReadOnly("Cmb_Period_MRR", "dxSelectBox", true);
        //        $("#Cmb_Period_MRR").dxSelectBox("instance").reset();
        //        $("#Txt_S_Date_MRR").dxDateBox("focus");
        //    }
        //}
    //}
        var PCMem_Value = "";
        function PC_MemberName_OnValueChange_MRR(e)
        {
            debugger;
            PCMem_Value = $("#PC_MemberName_Textbox_MRR").dxTextBox('instance').option('value');
            if (PCMem_Value == null || PCMem_Value == "")
            {
                debugger;                
                //MembershipNamesList_MRR_DG.clearSelection();
                
            }
            
            MemberName_validations(PCMem_Value.toUpperCase());
        }
        function MemberName_validations(Mem_Value)
        {
            debugger;
            $("#PC_MemberName_Textbox_MRR").dxTextBox({})
                .dxValidator
                ({
                    validationRules:
                        [{
                            type: 'custom',
                            reevaluate: true,
                            validationCallback: function (options)
                            {
                                if (Mem_Value.length < 3 || (options.value == null || options.value == ""))
                                {
                                    return false;                                 
                                }
                                return true;
                            },
                            message: "Text cannot be Blank / Minimum 3 Characters required. . . !"
                        }],
                    validationGroup: "MembershipReceiptRegister_Profile"
                });
        }
    </script> @* Dropdowns *@

    <script>
        function Txt_V_Date_EditValueChanged_MRR(e) {
            var _Date = $("#Txt_V_Date_MRR").dxDateBox("instance").option("value");
            if (isValidDate(_Date)) {
                $("#Txt_S_Date_MRR").dxDateBox("instance").option("value", _Date);
            }
            else
            {
                $("#Txt_V_Date_MRR").dxDateBox("instance").reset();
                $("#Txt_S_Date_MRR").dxDateBox("instance").reset();
            }
            //if ($("#Txt_V_Date_MRR").dxDateBox("instance").option("value")==null)
            //{
            //    $("#Txt_V_Date_MRR").dxDateBox("instance").reset();
            //    $("#Txt_S_Date_MRR").dxDateBox("instance").reset();
            //    return;
            //}//Redmine Bug #135441 fixed
            //else
            //{
            //    var V_Date = $("#Txt_V_Date_MRR").dxDateBox("instance").option("value");
            //    $("#Txt_S_Date_MRR").dxDateBox("instance").option("value", moment(V_Date, "DD/MM/YYYY"));
            //}
        }
        function Txt_S_Date_EditValueChanged_MRR() {
            $("#GLookUp_SubList_MRR").dxDropDownBox("instance").reset();
            $("#Cmb_Period_MRR").dxSelectBox("instance").reset();

            //Instead of clearing the items in selectbox set as readonly mode
            Control_SetReadOnly("Cmb_Period_MRR", "dxSelectBox", true);

            $("#lbl_FeeEff").text("");
            $("#lbl_Expire").text("");
        }
        async function Cmb_Period_SelectedIndexChanged_MRR(e, FirstCall = false) {
            if (e) {
                cmb_SelectedIndex_MRR = e.value;
            }
            else {
                cmb_SelectedIndex_MRR = $("#Cmb_Period_MRR").dxSelectBox("option", "value");
            }
            $("#Cmb_Period_SelectedIndexChanged").val(cmb_SelectedIndex_MRR);
            if (cmb_SelectedIndex_MRR != null && FirstCall == false) {
                $.ajax({
                    type: 'GET',
                    url: "/Membership/MembershipReceiptRegister/Sub_Amt_Calculation",
                    cache: false,
                    //  async: false,   //Redmine Bug #135450 fixed
                    data:
                    {
                        Subs_Cat: Subs_Catg_MRR,
                        Subs_Start_Month: Subs_Strt_Mth_MRR,
                        Txt_S_Date_Text: Strt_Date_MRR,
                        GLookUp_SubList_Text: SubList_MRR,
                        Cmb_Period_SelectedIndex: cmb_SelectedIndex_MRR
                    },
                    success: function (data) {
                        if (data.result == true) {
                            $("#Txt_Ent_Fee_MRR").dxNumberBox("instance").option("value", data.Ent_Fee_MRR);
                            $("#Txt_Subs_Fee_MRR").dxNumberBox("instance").option("value", data.Subs_Fee_MRR);
                            $("#Txt_Adv_Fee_MRR").dxNumberBox("instance").option("value", data.Txt_Adv_Fee_MRR);
                            $("#Txt_SubTotal_MRR").dxNumberBox("instance").option("value", data.Txt_SubTotal_MRR);
                            $("#Txt_CashAmt_MRR").dxNumberBox("instance").option("value", data.Txt_CashAmt_MRR);
                            $("#lbl_Expire").text(data.lbl_Expire_Text);
                        }
                    }
                });
            }
        }
        function Txt_CashAmt_EditValueChanged_MRR() {
            var Txt_SubTotal = $("#Txt_SubTotal_MRR").dxNumberBox("instance").option("value");
            var Txt_CashAmt = $("#Txt_CashAmt_MRR").dxNumberBox("instance").option("value");
            var Txt_BankAmt = $("#Txt_BankAmt_MRR").dxNumberBox("instance").option("value");
            var Txt_DiffAmt = Txt_SubTotal - (Txt_CashAmt + Txt_BankAmt);
            $("#Txt_DiffAmt_MRR").dxNumberBox("instance").option("value", parseFloat(Txt_DiffAmt.toFixed(2)));
            //Calculation_Check_MRR();
        }
        function Calculation_Check_MRR(e) {
            var value = $("#Txt_DiffAmt_MRR").dxNumberBox("instance").option("value");
            if (Tag_MRR != "_Delete") {
                if (value != 0) {
                    $("#Frm_MRR_Window_Ok").dxButton("instance").option("disabled", true);
                }
                else {
                    $("#Frm_MRR_Window_Ok").dxButton("instance").option("disabled", false);
                }
            }
            $("#Txt_DiffAmt_MRR").toggleClass('negative', value != 0);
            $("#Txt_DiffAmt_MRR").toggleClass('positive', value == 0);
        }
        function MemberPopupOnShown(e)
        {
            $("#MRR_MembershipNamesList_datagrid .dx-texteditor-input").focus();     
        }//Redmine Bug #135922 fixed
        async function DataGrid_keyDown_MRR(e)
        {
            var dataGrid = e.component;
            var dataGrid_ID = e.element[0].id;
            if (e.event.key == "Enter")
            {
                e.event.stopImmediatePropagation();
                var focusedElement = $("#" + dataGrid_ID + " .dx-focused").parent()[0];
                if ($(focusedElement).attr('aria-selected') == "true")
                {                   
                    $("#PC_MemberName_Textbox_MRR").dxTextBox('focus');
                    $("#Search_Down_MRR_report_modal").dxPopup("instance").hide();                    
                }
                else
                {
                    var rowCount = dataGrid.totalCount();
                    for (i = 0; i < rowCount; i++)
                    {
                        if (focusedElement === dataGrid.getRowElement(i)[0])
                        {
                            $("#PC_MemberName_Textbox_MRR").dxTextBox('focus');
                            $("#Search_Down_MRR_report_modal").dxPopup("instance").hide();
                            await dataGrid.selectRows([dataGrid.getKeyByRowIndex(i)], false);
                            break;
                        }
                    }
                }
            }
        }//Redmine Bug #135922 fixed
        function DataGrid_OnEditorPreparing_MRR(e)
        {
            if (e.parentType !== "searchPanel" && e.parentType !== "filterRow")
            {
                return;
            }
            var dataGrid = e.component;
            if (e.parentType == "searchPanel")
            {
                dataGrid.clearFilter("search");
                e.updateValueTimeout = 10;
                e.editorOptions.onKeyDown = e =>
                {
                    if (e.event.keyCode === 40) //down arrow
                    {
                        dataGrid.focus(dataGrid.getCellElement(0, 0));
                        e.event.preventDefault();
                    }
                    if (e.event.key == "Enter")
                    {
                        e.event.stopImmediatePropagation();
                        $("#PC_MemberName_Textbox_MRR").dxTextBox('focus');
                        $("#Search_Down_MRR_report_modal").dxPopup("instance").hide();
                        if (dataGrid.getVisibleRows().length > 0)
                        {
                            dataGrid.selectRows([dataGrid.getKeyByRowIndex(0)], false);
                        }
                        e.event.preventDefault();
                    }
                }
            }
            else if (e.parentType == "filterRow")
            {
                e.editorOptions.onKeyDown = e =>
                {
                    if (e.event.keyCode === 40) //down arrow
                    {
                        dataGrid.focus(dataGrid.getCellElement(0, 0));
                        e.event.preventDefault();
                    }
                }
            }
        }//Redmine Bug #135922 fixed
        function DataGrid_OnRowClick_MRR(e)
        {
            if (e.isSelected)
            {
                $("#PC_MemberName_Textbox_MRR").dxTextBox('focus');
                $("#Search_Down_MRR_report_modal").dxPopup("instance").hide();
            }
        }//Redmine Bug #135922 fixed
    </script> @* other value change *@
    </div>