<div class="MemebershipReceiptRegister_ClearReferences">
@using DevExtreme.AspNet.Mvc;

@model IEnumerable<dynamic>
@{
    ViewBag.Title = "Index";
    Layout = null;
    string PopupID = (string)ViewBag.PopupID;
    string UserType = (string)ViewBag.UserType;
    var SessionGUID = Request.QueryString["SessionGUID"];
    bool MembershipRR_AddRight = (bool)ViewData["MembershipRR_AddRight"];
    bool MembershipRR_UpdateRight = (bool)ViewData["MembershipRR_UpdateRight"];
    bool MembershipRR_ViewRight = (bool)ViewData["MembershipRR_ViewRight"];
    bool MembershipRR_DeleteRight = (bool)ViewData["MembershipRR_DeleteRight"];
    bool MembershipRR_ExportRight = (bool)ViewData["MembershipRR_ExportRight"];
    bool MembershipRR_LockUnlockRight = (bool)ViewData["MembershipRR_LockUnlockRight"];
    bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
    bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
    bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
    bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
    bool MembershipRR_Auto_Vouching_Mode = (bool)ViewData["MembershipRR_Auto_Vouching_Mode"];
}
<style>
    #returnBalance {
        margin-right: 10px;
        padding: 0 8px;
    }

    .dx-switch-off {
        font-size: 10px;
        font-weight: bold;
        color: black;
    }

    .dx-switch-on {
        font-size: 10px;
        font-weight: bold;
        color: black;
    }

    #fab {
        position: absolute;
    }

    #prdSelection {
        padding: 0 8px;
    }

        #prdSelection > div {
            margin-top: 4px;
        }

    #MembershipRRModelUnlock {
        margin-right: 4px;
    }

    div#MRR_PeriodSelection {
        width: auto;
    }

    .addEditDiv {
        padding: 2px 0;
    }

        .addEditDiv p {
            margin: 0;
        }

    .wrapText {
        /*word-break: break-word;
        overflow-wrap: break-word;*/
    }

    /*.cb_column_label {
        background-color: lightcyan;
        border-color: black;
        border: solid;
        border-width: thin;
        border-bottom-style:none;
    }

    .cb_column_data {
        border-color: black;
        border: solid;
        border-width: thin;
        border-bottom-style: none;
    }*/
    .cb_column_label {
        padding: 0px 0px 0px 0px !important;
        /*background-color: rgb(206,237,255);
        border-color: black;
        border: solid;
        border-width: thin;*/
        /*border-bottom-style:none;*/
    }

    .cb_column_data {
        padding: 0px 0px 0px 0px !important;
        /*border-color: black;
        border: solid;
        border-width: thin;*/
        /*border-bottom-style: none;*/
    }

    .filter_btn i {
        background: #86c13e;
    }

    .find_btn i {
        background: #81b4df;
    }

    .rightDiv {
        display: flex;
        justify-content: flex-end;
    }
    .GridViewShowFilterOnHover_MRR:hover .dxgv__hfb {
        display: inline-table !important;
    }

    .GridViewShowFilterOnHover_MRR .dxgv__hfb[alt="Filter applied"] {
        display: inline-table !important;
    }

    .GridViewShowFilterOnHover_MRR .dxgv__hfb {
        display: none !important;
    }
</style>
<div id="MembershipRR_ParentDiv">
    <div class="report_header_div_main">
        <div id="contentMembership" class="col-md-12 report_header_div_main">
            <div class="col-md-4 padd report_header_div">
                <label class="report_header_label"></label>
            </div>
            <div class="report_button_div">

                @*@(Html.DevExtreme().Switch().ID("MembershipRRVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("MRR_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Switch().ID("MembershipRRViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("MRR_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))*@
                @(Html.DevExtreme().Button().ID("MembershipRRModelNew").Text("New").Icon("add").OnClick(@<text> function () { OnMembershipReceiptRegisterNewClick(); } </text>) )
                @*@(Html.DevExtreme().Button().ID("MembershipRRModelRenewal").Text("Renewal").Icon("add").OnClick(@<text> function () {  } </text>) )
        @(Html.DevExtreme().Button().ID("MembershipRRModelConversion").Text("Conversion").Icon("add").OnClick(@<text> function () {  } </text>) )*@
                @(Html.DevExtreme().Button().ID("MembershipRRModelEdit").Text("Edit").Icon("edit").OnClick(@<text> function () { OnMembershipReceiptRegisterButtonClick("EDIT"); } </text>) )
                @(Html.DevExtreme().Button().ID("MembershipRRModelDelete").Text("Delete").Icon("trash").OnClick(@<text> function () { OnMembershipReceiptRegisterButtonClick("DELETE"); } </text>) )
                @(Html.DevExtreme().Button().ID("MembershipRRModelView").Text("View").Icon("doc").OnClick(@<text> function () { OnMembershipReceiptRegisterButtonClick("VIEW"); } </text>) )
                @(Html.DevExtreme().Button().ID("MembershipRR_Generate").Text("Generate").Icon("toolbox").OnClick(@<text>function () {RcptGenerationConfirmation("RECEIPT - GENERATE") } </text>))
                @(Html.DevExtreme().Button().ID("MembershipRRModelPrint").Text("Print").Icon("print").OnClick(@<text> function () { OnMRRListPreviewClick(); } </text>) )
                @(Html.DevExtreme().Button().ID("MembershipRRModelListPreview").Text("Export").Icon("save").OnClick(@<text> function () { Membership_Preview(); } </text>) )
                @(Html.DevExtreme().Button().ID("MembershipRR_MasterToggleScrollBar").Text("Full Data").Icon("toolbox").OnClick(@<text>function () {OnMembershipRRChangeMode(); } </text>))
                @(Html.DevExtreme().Button().ID("MembershipRRModelCLOSE").Text("Close").Icon("close").OnClick(@<text> function (){CloseMembershipRR();} </text>) )
                <br />
            </div>
        </div>
        <div class="row report_header_div_main">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <input type="hidden" id="MRR_Fr_Date" />
                        <input type="hidden" id="MRR_To_Date" />
                        @(Html.DevExtreme().SelectBox().ID("MRR_PeriodSelection").Name("MRR_PeriodSelection").DataSource(d => d.Mvc().Controller("MembershipReceiptRegister").LoadAction("Fill_Change_Period_Items").Key("SelectedIndex")).DisplayExpr("Period").ValueExpr("SelectedIndex").SearchEnabled(true).OnValueChanged("PeriodSelectionChange").SearchEnabled(false).Width(150).WrapItemText(true))
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        @(Html.DevExtreme().Button().ID("MRR_btnChangePeriod").Text("Change Period").Hint("Change Period").Disabled(false).OnClick(@<text> function () { ChangePeriodClick(); } </text>) )
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        @(Html.DevExtreme().TextBox().ID("MRR_BE_View_Period").Name("MRR_BE_View_Period").Value("View Period").ReadOnly(true))
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6" style="float:right;text-align:right">
                <label id="MRR_BE_Cash_Bank" style="color:#D2691E;font:bold;padding-top:6px"></label>
                @(Html.DevExtreme().Button().ID("btnView_Summary_MRR").Text("Summary").Hint("Summary").ElementAttr(new Dictionary<string, object>() { { "class", "float-right" } }).OnClick(@<text> function () { ViewSummaryClick(); } </text>))
            </div>
        </div>@* Period *@
    </div>
    <div id="CB_GRID_DIV" class="parent_table">
        <form id="MembershipRRreloadPartialView">
            @Html.Partial("Frm_Membership_Receipt_Register_Grid", Model)
        </form>
    </div>  @* Grid *@ 

    <div class="footer-MainBoxdiv" style="display:inline-block;width:100%">
        <div class="setFooterItem">
            <div class="footer-inner">
                <div class="col-sm-12 col-md-8 col-lg-12">
                    <div class="row addEditDiv">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="footericon">
                                <i id="LockICON_MRR" style="color:red;font-size:35px;"></i>
                            </div>

                            <div class="footer-locktext">
                                <div id="Lbl_ActionOn_MRR" class="left_footertext_top"></div>
                                <div id="Lbl_ActionBy_MRR" class="left_footertext_bottom">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <p id="Lbl_Create_MRR" class="right_footertext_top"></p>
                            <p id="Lbl_Modify_MRR" class="right_footertext_bottom"></p>
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-12 col-md-4 col-lg-6 rightDiv">
                    @Html.DevExpress().TrackBar(
                       tb =>
                       {
                           tb.Name = "trackBarMembershipRR";
                           tb.Properties.ScalePosition = ScalePosition.LeftOrTop;
                           tb.Properties.ValueToolTipPosition = ValueToolTipPosition.RightOrBottom;
                           tb.Properties.ValueType = typeof(string);
                           tb.Width = 150;
                           tb.Position = 2;
                           tb.Properties.ClientSideEvents.PositionChanged = "MembershipRRTrackBarPositionChanged";
                           tb.ControlStyle.CssClass = "float-right";
                           tb.Properties.ScalePosition = ScalePosition.None;

                       }
                   ).GetHtml()
                    <div class="filter_main">
                        @(Html.DevExtreme().Button().ID("MembershipRRSearch").Text("Find").Icon("find").Hint("Show search").ElementAttr(new Dictionary<string, object>() { { "class", "float-right find_btn" } }).OnClick(@<text> function () { OnMembershipRRSearchClick(); } </text>))
                        @(Html.DevExtreme().Button().ID("MembershipRRFind").Text("Filter").Icon("find").Hint("Show filter").ElementAttr(new Dictionary<string, object>() { { "class", "float-right filter_btn" } }).OnClick(@<text> function () { OnMembershipRRFilterClick(); } </text>) )
                    </div>
                </div>*@
            </div>
        </div>
    </div>

    <div class="col-md-12">
        @*Summary popup*@
        @(Html.DevExtreme().Popup().CustomPopup().ID("popup_frm_Frm_View_Summary").ShowCloseButton(true).OnShowing("PopupOnShowing").Height(900).Width(1000)@*.OnHiding("CB_Summary_close")*@.Title("Summary").ContentTemplate( @<text> <div id='popup_frm_Frm_View_Summary_result'>  </div> </text>) )
        @*Advance filter popup*@
        @(Html.DevExtreme().Popup().CustomPopup().ID("popup_frm_Voucher_Advance_Filter").OnShowing("PopupOnShowing").Title("Advanced Filters").Height(900).Width(1000).ContentTemplate( @<text> <div id='popup_frm_Voucher_Advance_Filter_result'>  </div> </text>) )
        @(Html.DevExtreme().Popup().CustomPopup().ID("CB_Reason_popup").OnShowing("PopupOnShowing").Title("Reason").Height("auto").MaxHeight(250).Width(250).Shading(false).ContentTemplate( @<text> <div id='popup_cb_reason_result'>  </div> </text>) )
        @(Html.DevExtreme().Popup().CustomPopup().ID("report_modal").Title("Cash Book List Preview").FullScreen(false).ShowCloseButton(true).Height("auto").MaxWidth(125).ContentTemplate(@<text> <div id='CB_report_modal_result'> </div> </text>) )
        @(Html.DevExtreme().Popup().CustomPopup().ID("popup_frm_Cash_Book_Attachment").ResizeEnabled(true).DragEnabled(true).Shading(false).CloseOnOutsideClick(false).ShowCloseButton(true)@*.OnShowing("PopupOnShowing")*@.Title("Attached Files").ContentTemplate( @<text>
            <div id='popup_frm_Cash_Book_Attachment_result'>
                <iframe id="AttachmentFrm" src="" style="height: 600px; width: 100%;"></iframe>
                <div class="arrowdiv">
                    <a id="linkPrevAttachment" class="arrowBtns" href="#" onclick="OnPrevAttachmentClick();"></a>
                    <a id="linkNextAttachment" class="arrowBtns" href="#" onclick="OnNextAttachmentClick();"></a>
                    <div id="info"></div>
                </div>
            </div>
        </text>)
        )


    </div>
    @Html.Partial("AttachmentFAB", "MRRPrf_FAB,MembershipRR_ParentDiv,Type1,MembershipReceiptRegisterProfile," + UserType) @*fab buttons*@

</div>
<script>
    $(document).ready(function ()
    {
        GetSessionStorage("MembershipReceiptRegisterGrid");
        if (MembershipRR_IsVouchingMode == true)
        {
            $(".MembershipReceiptRegisterGrid_PreviewRow").hide();
        }
        else
        {
            $(".MembershipReceiptRegisterGrid_PreviewRow").show();
        }
        $('.dx-fab-text').hide();
        $('.dx-fab-action').hover(function () { $(this).find('.dx-fab-text').show(); }, function () { $(this).find('.dx-fab-text').hide(); });
        //dragElement(document.getElementById("fab"));
        $("#MRR_PeriodSelection").dxSelectBox("instance").option("value", parseInt('@ViewBag.PeriodSelectedIndex'));
        HideUnreleasedFunctionality('Frm_Membership_Receipt_Register');
        //GetSessionStorage("CashBookListGrid");

	});
</script>@*Document.ready*@

<script>
    var MRRID_MRRProfile = null;
    var MRR_PeriodSelectionFirstTime = true;
    var AllowDialogBox = true;
    var MembershipRRFocusedRowIndexBeforeRefresh;
    var MembershipRR_ShowHorizontalBar = 0;
    var MembershipRR_IsVouchingMode = false;
    var MembershipRR_ViewMode = "Default";
    var MembershipRR_ColumnToBeShownIndex = "";
    var MembershipRR_ColumnToBeHidddenIndex = "";
    var Select_xid_MRR = "";
    var MembershipRRGridLayout = null;
    var MRRInfo_SetVouchingModeOn = "@MembershipRR_Auto_Vouching_Mode" == "True" ? true : false;
    var MembershipRR_ViewMode = "Default";
    var MembershipRRGridLayout = null;
    var MembershipReceiptRegisterID_MRR = null;
    var MRR_ActionStatus;
    var MRR_EditDate;
    var MRR_AddBy;
    var MRR_AddDate;
    var MRR_EditBy;
    var MRR_ActionDate;
    var MRR_ActionBy;
    var MRR_Entry_TrCode;
    //var MRR_Receipt_No;
    var MembershipRRSearchVisible = true;
    var MembershipRRFilterVisible = true;
    var MRR_ViewMode = "Default";
    var MRRPageData

</script>@*Global Variables*@

<script>
    function Get_Cash_Bank_Balance()
    {
        $("#MRR_PeriodSelection").find('input').blur();
        ShowLoader_Ready();
        $.ajax({
            type: 'GET',
            url: "/Membership/MembershipReceiptRegister/Get_Cash_Bank_Balance",
            data: {},
            cache: false,
            success: function (data)
            {
                if (data.jsonParam.result == false)
                {
                    DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                    if (data.jsonParam.closeform == true)
                    {
                        btnCloseActiveTab();
                    }
                }
                else
                {
                    $("#MRR_BE_Cash_Bank").text(" "+data.BE_Cash_Bank_Text+" ");
                    HideLoader_Ready();
                    RefreshGridView("MembershipReceiptRegisterGrid");
                }
            }
        });
    }

    function PeriodSelectionChange(e)
    {
        e.component.close();
        if (e.value == null || e.value < 0)
        {
            return;
        }
        $("#MRR_btnChangePeriod").dxButton("instance").option("disabled", true);

        if (e.value == 20)
        {
            $("#MRR_btnChangePeriod").dxButton("instance").option("disabled", false);
            AllowDialogBox = false;
            ChangePeriodClick();
            //AllowDialogBox = true;
        }
        else
        {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Membership/MembershipReceiptRegister/Cmb_View_SelectedIndexChanged",
                data:
                {
                    SelectedIndex: e.value
                },
                cache: false,
                success: function (result)
                {
                    MRR_PeriodSelectionFirstTime = false;
                    $("#MRR_BE_View_Period").dxTextBox("instance").option("value", result.BE_View_Period);
                    $("#MRR_Fr_Date").val(result.FromDate);
                    $("#MRR_To_Date").val(result.ToDate);
                    RefreshGridView("MembershipReceiptRegisterGrid");//Redmine Bug #135960 fixed
                    //Get_Cash_Bank_Balance();
                    //$("#MRR_BE_View_Period").val();
                    //Grid_Display(null, false, true);
                    HideLoader();
                }
            });
        }
    }

    function ChangePeriodClick()
    {
        //if (AllowDialogBox) {
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Membership/MembershipReceiptRegister/frm_MembershipRR_Specific_Period",
            cache: false,
            data: { PeriodSelectionFirstTime: MRR_PeriodSelectionFirstTime },
            success: function (data)
            {
                ShowLoader();
                OpenPopup("PopupMRR_speceficPeriod", "Change Period", false, "auto", 250, true, data);
                HideLoader();
            }
        });
        //}
    }

    function Frm_Change_Period_Success(data)
    {
        HideLoader();
        MRR_PeriodSelectionFirstTime = false;
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.message, 'Error!!');
        }
        else
        {
            $("#PopupMRR_speceficPeriod").dxPopup("hide");
            $("#MRR_BE_View_Period").dxTextBox("instance").option("value", data.BE_View_Period);
            $("#MRR_Fr_Date").val(data.FromDate);
            $("#MRR_To_Date").val(data.ToDate);
            //$("#MRR_BE_Cash_Bank").val(data.BE_Cash_Bank_Text);
            ShowLoader();
            //Get_Cash_Bank_Balance();
            RefreshGridView("MembershipReceiptRegisterGrid");//Redmine Bug #135960 fixed
            HideLoader();
            //Grid_Display(null, false, true);
        }
    }

</script>@*Change Period*@

<script>
    function MembershipRRAdjustSize()
    {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try { MembershipReceiptRegisterGrid.SetHeight(height); } catch (err) { }
    }

    function MembershipRROnInit(s, e)
    {
        MembershipRRAdjustSize();
        //$(".BankPrfPreviewRow").hide();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt)
        {
            MembershipRRAdjustSize();
        });
    }

    function MembershipRRGrid_BeginCallback(s, e)
    {
        MembershipRRFocusedRowIndexBeforeRefresh = s.GetFocusedRowIndex();
        e.customArgs["command"] = e.command;
        e.customArgs["ShowHorizontalBar"] = MembershipRR_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = MembershipRR_IsVouchingMode;
        e.customArgs["ViewMode"] = MembershipRR_ViewMode;
        e.customArgs["ColumnToBeShownIndex"] = MembershipRR_ColumnToBeShownIndex;
        e.customArgs["ColumnToBeHidddenIndex"] = MembershipRR_ColumnToBeHidddenIndex;
        e.customArgs["RowKeyToFocus"] = Select_xid_MRR;
    }

    function OnGridMembershipRRGrid_EndCallback(s, e)
    {
        //BankAdjustSize();
        ASPxClientControl.AdjustControls(document.getElementById("MembershipRR_ParentDiv"));
        MembershipRR_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
        MembershipRR_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex;
        MembershipRRGridLayout = s.cpClientLayout;
        $("#MRR_BE_Cash_Bank").text(s.cpCashBankText);//Redmine Bug #135960 fixed
        if (MembershipRR_IsVouchingMode == true)
        {
            $(".MembershipReceiptRegisterGrid_PreviewRow").hide();
        }
        else
        {
            $(".MembershipReceiptRegisterGrid_PreviewRow").show();
        }
        GetSessionStorage("MembershipReceiptRegisterGrid");
        SendCustomArgs_FilterControl(s, e);
        if (e.command == "REFRESH")
        {
            if (MembershipRRFocusedRowIndexBeforeRefresh == s.GetFocusedRowIndex()) {
                s.SetFocusedRowIndex(-1);
                s.SetFocusedRowIndex(MembershipRRFocusedRowIndexBeforeRefresh);
            }
            else
            {
                MRR_GetRowData(s.GetFocusedRowIndex());
            }
            Select_xid_MRR = "";
        }
    }
    function MRR_GetRowData(RowIndex = null)
    {
        var focusedrow = RowIndex == null ? MembershipReceiptRegisterGrid.GetFocusedRowIndex() : RowIndex;
        var topindex = MembershipReceiptRegisterGrid.GetTopVisibleIndex();
        var Index = focusedrow - topindex;
        MRRPageData = MembershipReceiptRegisterGrid.cpPagedata;
        if (MRRPageData != null && MRRPageData.length > 0 && Index < MRRPageData.length && Index > -1) {
            MembershipReceiptRegisterID_MRR = typeof MRRPageData[Index][0] !== "undefined" ? MRRPageData[Index][0] : null;
            MRR_EditDate = typeof MRRPageData[Index][1] !== "undefined" ? MRRPageData[Index][1] : null;
            MRR_EditBy = typeof MRRPageData[Index][2] !== "undefined" ? MRRPageData[Index][2] : null;
            MRR_AddDate = typeof MRRPageData[Index][3] !== "undefined" ? MRRPageData[Index][3] : null;
            MRR_AddBy = typeof MRRPageData[Index][4] !== "undefined" ? MRRPageData[Index][4] : null;
            MRR_ActionDate = typeof MRRPageData[Index][5] !== "undefined" ? MRRPageData[Index][5] : null;
            MRR_ActionBy = typeof MRRPageData[Index][6] !== "undefined" ? MRRPageData[Index][6] : null;
            MRR_ActionStatus = typeof MRRPageData[Index][7] !== "undefined" ? MRRPageData[Index][7] : null;
            MRR_Receipt_No = typeof MRRPageData[Index][8] !== "undefined" ? MRRPageData[Index][8] : null;
            MRR_Entry_TrCode = typeof MRRPageData[Index][9] !== "undefined" ? MRRPageData[Index][9] : null;
        }
        else
        {
            MembershipReceiptRegisterID_MRR = null;
        }
        MRR_UpdateFooterDetail(MembershipReceiptRegisterID_MRR, MRR_ActionStatus, MRR_AddDate, MRR_AddBy, MRR_ActionDate, MRR_ActionBy, MRR_EditDate, MRR_EditBy);
    }

    function MembershipRROnGridFocusedRowChanged(s, e)
    {
        if (s.GetFocusedRowIndex() > -1)
        {
            MRR_GetRowData(s.GetFocusedRowIndex());
            if (!MembershipReceiptRegisterGrid.IsGroupRow(s.GetFocusedRowIndex()))
            {               
                if (MembershipRR_IsVouchingMode)
                {
                    MRRPrf_FAB.SetVisible(true);
                    MRRPrf_FAB.SetActionContext("VouchingActionContext", true);                             
                    OpenLeftPane();
                    LoadDocumentAndAdditionalInfoInLeftPane("Membership", "MembershipReceiptRegister", "LeftPaneContent", MembershipReceiptRegisterID_MRR, MembershipRR_IsVouchingMode, "");                
                }
            }
            else
            {
                MembershipReceiptRegisterID_MRR = null;
            }
        }
        else
        {
            MembershipReceiptRegisterID_MRR = null;
        }       
    }

    @*function MembershipRROnGetRowValues(values)
    {
        MembershipReceiptRegisterID_MRR = values[0];
        MRR_ActionStatus = values[7];
        MRR_EditDate = values[1];
        MRR_AddBy = values[4];
        MRR_AddDate = values[3];
        MRR_EditBy = values[2];
        MRR_ActionDate = values[5];
        MRR_ActionBy = values[6];
        //MRR_Receipt_No = values[8];
        MRR_Entry_TrCode = values[9];
        MRR_UpdateFooterDetail(MembershipReceiptRegisterID_MRR, MRR_ActionStatus, MRR_AddDate, MRR_AddBy, MRR_ActionDate, MRR_ActionBy, MRR_EditDate, MRR_EditBy);
        var Leftpane = Mainspliter.GetPaneByName('LeftPane');
        if (MembershipRR_IsVouchingMode == true)
        {
            if (Leftpane.IsCollapsed() == true)
            {
                Leftpane.Expand();
            }
            ShowLoader();
            $("#LeftPane_Div_Content").html(null);
            var LoadURL = StandardizeCallURL("@Url.Action("LeftPaneContent", "MembershipReceiptRegister", new { @area = "Membership" })?ID=" + MembershipReceiptRegisterID_MRR + "&VouchingMode=" + MembershipRR_IsVouchingMode);
            $("#LeftPane_Div_Content").load(LoadURL, function ()
            {
                HideLoader();
            });
        }
    }*@

    function MRR_UpdateFooterDetail(MembershipReceiptRegisterID_MRR, MRR_Action_Status, MRR_Add_Date, MRR_Add_By, MRR_Action_Date, MRR_Action_By, MRR_Edit_Date, MRR_Edit_By)
    {
        HideLoader();
        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Lbl_ActionOn = "";
        var Lbl_ActionBy = "";
        var StatusStr = "";
        if (MembershipReceiptRegisterID_MRR != null)
        {
            MRR_Add_Date = (moment(MRR_Add_Date).format("DD/MM/YYYY HH:mm:ss"));
            MRR_Edit_Date = (moment(MRR_Edit_Date).format("DD/MM/YYYY HH:mm:ss"));
            MRR_Action_Date = (moment(MRR_Action_Date).format("DD/MM/YYYY HH:mm:ss"));
            Status = MRR_Action_Status;
            StatusStr = Status == "Locked" ? "Locked" : Status == null ? null : "UnLocked";

            if (Status && Status.toUpperCase() == "LOCKED")
            {
                Lbl_Status = "Completed";
                Lbl_Status_Color = "blue";
                Pic_Status = "fa fa-lock";
            }
            else
            {
                Pic_Status = "fa fa-unlock";
                Lbl_Status = Status;
                if (Status && Status.toUpperCase() == "COMPLETED")
                {
                    Lbl_Status_Color = "green";
                }
                else
                {
                    Lbl_Status_Color = "red";
                }
            }
            if (MRR_Action_Date)
            {
                Lbl_ActionOn = StatusStr + " On: " + MRR_Action_Date;
                Lbl_ActionBy = StatusStr + " By: " + MRR_Action_By.toUpperCase();
            }
            else
            {
                Lbl_ActionOn = "";
                Lbl_ActionBy = "";
            }
            if (MRR_Add_Date)
            {
                Lbl_Create = "Add On: " + MRR_Add_Date + ", By: " + MRR_Add_By.toUpperCase();
            }
            else
            {
                Lbl_Create = "";
            }

            if (MRR_Edit_Date)
            {
                Lbl_Modify = "Edit On: " + MRR_Edit_Date + ", By: " + MRR_Edit_By.toUpperCase();
            }
            else
            {
                Lbl_Modify = "";
            }
        }
        //$('#BankLbl_Status').text(Lbl_Status);
        $('#Lbl_ActionOn_MRR').text(Lbl_ActionOn)
        $('#Lbl_ActionBy_MRR').text(Lbl_ActionBy);
        $('#Lbl_Create_MRR').text(Lbl_Create);
        $('#Lbl_Modify_MRR').text(Lbl_Modify);
        if (Lbl_Status_Color != "")
        {
            $('#BankLbl_Status').css('color', Lbl_Status_Color);
        }
        if (Pic_Status == "fa fa-lock")
        {
            $('#LockICON_MRR').addClass(Pic_Status).removeClass("fa-unlock");
        }
        else if (Pic_Status == "fa fa-unlock")
        {
            $('#LockICON_MRR').addClass(Pic_Status).removeClass("fa-lock");
        }
        else
        {
            $('#LockICON_MRR').removeClass("fa");
            $('#LockICON_MRR').removeClass("fa-lock");
            $('#LockICON_MRR').removeClass("fa-unlock");
        }
    }

    function OnGridMembershipRRListGrid_RowDblClick(s, e)
    {
        if (MembershipRR_IsVouchingMode == false)
        {
            OnMembershipReceiptRegisterButtonClick("EDIT");
        }
        else { e.cancel = true; }
    }

    function MRR_VouchingSwitch_ValueChange(e)
    {
        MembershipRR_IsVouchingMode = e.value;
        if (MRRInfo_SetVouchingModeOn == true)
        {
            MRRInfo_SetVouchingModeOn = false;
        }
        else
        {
            MRRPrf_FAB.SetVisible(false);
        }
        if (MembershipRR_IsVouchingMode == true)
        {
            var Rightpane = Mainspliter.GetPaneByName('RightPane');
            Rightpane.Expand();
            var Leftpane = Mainspliter.GetPaneByName('LeftPane');
            ClearLeftPane();
            if (Leftpane.IsCollapsed() == true)
            {
                Leftpane.Expand();
            }
        }
        else
        {
            var Rightpane = Mainspliter.GetPaneByName('RightPane');
            if (Rightpane.IsCollapsed() == false)
            {
                Rightpane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
            }
            var Leftpane = Mainspliter.GetPaneByName('LeftPane');
            ClearLeftPane();
            if (Leftpane.IsCollapsed() == false)
            {
                Leftpane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
        MRRGrid_CollapseAllDetailRows();
    }

    function MRRGrid_CollapseAllDetailRows()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.MembershipReceiptRegisterGrid !== 'undefined')
            {
                if (typeof window.MembershipReceiptRegisterGrid.CollapseAllDetailRows !== 'undefined')
                {
                    if (typeof MembershipReceiptRegisterGrid.CollapseAllDetailRows == 'function')
                    {
                        MembershipReceiptRegisterGrid.SetFocusedRowIndex(-1);
                        MembershipReceiptRegisterGrid.CollapseAllDetailRows();
                    }
                    else
                    {
                        alert("CollapseAllDetailRows is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        MRR_CollapseAllDetailRows();
                        HideLoader();
                    }, Timeout500);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else
        {
            alert('window undefined')
        }
    }

    function MRR_ViewSwitch_ValueChange(e)
    {
        MRR_ViewMode = e.value == false ? "Default" : "Compact";
        if (MRRInfo_SetVouchingModeOn == true)
        {
            $("#MembershipRRVouchingModeSwitch").dxSwitch("instance").option("value", true);
        }
        else
        {
            MembershipReceiptRegisterGrid.CollapseAllDetailRows();
        }
    }

    function OnMembershipRRChangeMode()
    {
        ShowLoader();
        if (MembershipRR_ShowHorizontalBar == 0)
        {
            MembershipRR_ShowHorizontalBar = 1;
            $("#MembershipRR_MasterToggleScrollBar").find("span").text("Default Data");
            $("#MembershipRR_MasterToggleScrollBar").width(110);
        }
        else
        {
            MembershipRR_ShowHorizontalBar = 0;
            $("#MembershipRR_MasterToggleScrollBar").find("span").text("Full Data");
            $("#MembershipRR_MasterToggleScrollBar").width(90);
        }
        $.ajax({
            url: '@Url.Action("Frm_Membership_Receipt_Register_Grid", "MembershipReceiptRegister")',
            type: "GET",
            data: { ShowHorizontalBar: MembershipRR_ShowHorizontalBar, Layout: MembershipRRGridLayout, VouchingMode: MembershipRR_IsVouchingMode, ViewMode: MembershipRR_ViewMode, ColumnToBeHidddenIndex: MembershipRR_ColumnToBeHidddenIndex, ColumnToBeShownIndex: MembershipRR_ColumnToBeShownIndex },
            success: function (res)
            {
                $("#MembershipRRreloadPartialView").html(res);
                if (MembershipRR_IsVouchingMode == true)
                {
                    $(".MembershipReceiptRegisterGrid_PreviewRow").hide();
                }
                else
                {
                    $(".MembershipReceiptRegisterGrid_PreviewRow").show();
                }
                GetSessionStorage("MembershipReceiptRegisterGrid");
            }
        });
        HideLoader();
    }

    function MembershipRRTrackBarPositionChanged()
    {
        var membershipRRcurrentZoom = 1.0;
        var membershipRRtrackBarCurrentValue = trackBarMembershipRR.GetValue()
        if (membershipRRtrackBarCurrentValue != 0)
        {
            membershipRRcurrentZoom += membershipRRtrackBarCurrentValue / 100;
        }
        $('#MembershipRRreloadPartialView').animate({ 'zoom': membershipRRcurrentZoom }, 'slow');
    }

    function OnMembershipRRSearchClick()
    {
        if (MembershipRRSearchVisible)
        {
            MembershipReceiptRegisterGrid.contextMenuHelper.ContextMenuShowSearchPanel(1);
        }
        else
        {
            MembershipReceiptRegisterGrid.contextMenuHelper.ContextMenuShowSearchPanel(0);
        }
        MembershipRRSearchVisible = !MembershipRRSearchVisible;
    }

    function OnMembershipRRFilterClick()
    {
        if (MembershipRRFilterVisible)
        {
            MembershipReceiptRegisterGrid.contextMenuHelper.ContextMenuShowFilterRow(1);
        }
        else
        {
            MembershipReceiptRegisterGrid.contextMenuHelper.ContextMenuShowFilterRow(0);
        }
        MembershipRRFilterVisible = !MembershipRRFilterVisible;
    }

    function MembershipRRContextMenuInit(s, e)
    {
        //if (e.objectType == "row")
        //{
        //    var menuNewItemSelected = e.menu.GetItemByName("Profile_MembershipRR_New");
        //    if (menuNewItemSelected != null) menuNewItemSelected.SetVisible(true);

        //    var menuEditItemSelected = e.menu.GetItemByName("Profile_MembershipRR_Edit");
        //    if (menuEditItemSelected != null) menuEditItemSelected.SetVisible(true);

        //    var menuDeleteItemSelected = e.menu.GetItemByName("Profile_MembershipRR_Delete");
        //    if (menuDeleteItemSelected != null) menuDeleteItemSelected.SetVisible(true);

        //    var menuViewItemSelected = e.menu.GetItemByName("Profile_MembershipRR_View");
        //    if (menuViewItemSelected != null) menuViewItemSelected.SetVisible(true);
        //    //This is write to made NEW, EDIT, VIEW & DELETE Menu Hide only for Release purpose
        //    //has been set to true for testing purpose
        //}
    }// after some time as per requirement this can be removed

    function MembershipRRContextMenuFunction(s, e)
    {
        if (e.item.name == "Close")
        {
            CloseMembershipRR();
        }
        if (e.item.name == "Profile_MembershipRR_New")
        {
            OnMembershipReceiptRegisterNewClick();
        }
        else if (e.item.name == 'Profile_MembershipRR_Edit')
        {
            OnMembershipReceiptRegisterButtonClick("EDIT");
        }
        else if (e.item.name == 'Profile_MembershipRR_Delete')
        {
            OnMembershipReceiptRegisterButtonClick("DELETE");
        }
        else if (e.item.name == 'Profile_MembershipRR_View')
        {
            OnMembershipReceiptRegisterButtonClick("VIEW");
        }
        else if (e.item.name == "Generate")
        {
            RcptGenerationConfirmation("RECEIPT - GENERATE");
        }
        else if (e.item.name == "Print")
        {
            OnMRRListPreviewClick();
        }
        else if (e.item.name == 'ListPreview')
        {
            Membership_Preview();
        }
        else if (e.item.name == 'Receipt Cancelled')
        {
            OnMembershipReceiptRegisterButtonClick('RECEIPT - CANCELLED');
        }
        else if (e.item.name == 'Refresh')
        {
            MembershipReceiptRegisterGrid.Refresh();
        }
    }

</script>@*Grid Functions*@

<script>
    var MRRInfo_IsDetailRowExpanded = false;
    var MRRInfo_NestedRecord_FocusedRowIndex = -1;
    var MRRInfo_ParamMandatory;
    var MRRInfo_MasterRowRecID;
    var MRRInfo_Doc_ID;
    var MRRInfo_Doc_Category;
    var MRRInfo_FromDateLabel;
    var MRRInfo_ToDateLabel;
    var MRRInfo_DescriptionLabel;
    var MRRInfo_NestedGrid_AccessID;
    var MRRInfo_Attachment_RecStatus;
    var MRRInfo_AtachmentID;
    var MRRInfo_FileName;
    var MRRInfo_NestedRowMapID;
    var MRRInfo_reason;
    var MRRInfo_NestedRowReasonID;
    var MRRInfo_NestedRowUniqueID;
    var MRRInfo_MasterRowMID;

    function On_MembershipReceiptRegisterProfile_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (MRRInfo_ParamMandatory == 1)
            {
                AddAttachment(MRRInfo_MasterRowRecID, "Profile_MembershipReceiptRegister", MRRInfo_Doc_ID, BankInfo_Doc_Category, MRRInfo_ParamMandatory, MRRInfo_FromDateLabel, MRRInfo_ToDateLabel, MRRInfo_DescriptionLabel, "MembershipReceiptRegisterProfileAttachment", null, "MembershipReceiptRegisterGrid", MRRInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(MRRInfo_MasterRowRecID, "Profile_MembershipReceiptRegister", MRRInfo_Doc_ID, "MembershipReceiptRegisterProfileAttachment", "MembershipReceiptRegisterGrid", MRRInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (MRRInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(MRRInfo_MasterRowRecID, "Profile_MembershipReceiptRegister", MRRInfo_AtachmentID, MRRInfo_ParamMandatory, MRRInfo_FromDateLabel, MRRInfo_ToDateLabel, MRRInfo_DescriptionLabel, "MembershipReceiptRegisterProfileAttachment", null, "MembershipReceiptRegisterGrid", MRRInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(MRRInfo_MasterRowRecID, "Profile_MembershipReceiptRegister", MRRInfo_AtachmentID, MRRInfo_ParamMandatory, MRRInfo_FromDateLabel, MRRInfo_ToDateLabel, MRRInfo_DescriptionLabel, null, "MembershipReceiptRegisterGrid", MRRInfo_NestedGrid_AccessID, MRRInfo_Attachment_RecStatus);
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(MRRInfo_MasterRowRecID, "Profile_MembershipReceiptRegister", "Membership Receipt Register Information", "MembershipReceiptRegisterGrid", MRRInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            ViewDocument(MRRInfo_AtachmentID, MRRInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName === "Add_Reason")
        {
            if (MRRInfo_Doc_Category.toLowerCase() == "others")
            {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else
            {
                AttachmentAddReason(MRRInfo_MasterRowRecID, MRRInfo_NestedRowMapID, "Profile_MembershipReceiptRegister", "MembershipReceiptRegisterGrid", MRRInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(MRRInfo_MasterRowRecID, MRRInfo_NestedRowMapID, "Profile_MembershipReceiptRegister", "MembershipReceiptRegisterGrid", MRRInfo_NestedGrid_AccessID, MRRInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(MRRInfo_MasterRowRecID, MRRInfo_NestedRowMapID, "MembershipReceiptRegisterGrid", MRRInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction")
        {
            MRRPrf_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit")
        {
            if (MRRInfo_Nested_Doc_Status == "")
            {
                MRRPrf_FAB.SetActionContext("AutoItemContext", true);
            }
            if (MRRInfo_Nested_Doc_Status == "NO")
            {
                MRRPrf_FAB.SetActionContext("EditItemContext", true);
            }
            if (MRRInfo_Nested_Doc_Status == "YES")
            {
                MRRPrf_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept")
        {
            MRRInfo_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject")
        {
            MRRInfo_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks")
        {
            MRRInfo_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc")
        {
            OnMRRInfo_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc")
        {
            OnMRRInfo_RejectDoc();
        }
    }

    function MRRInfo_AcceptwithoutRemarks()
    {
        var Recid;
        if (MRRInfo_IsDetailRowExpanded == true || MembershipRR_IsVouchingMode)
        {
            if (MRRInfo_MasterRowRecID == null || MRRInfo_MasterRowRecID == "")
            {
                Recid = MRRID_MRRProfile;
            }
            else
            {
                Recid = MRRInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = MRRID_MRRProfile;
        }
        Entry_AcceptwithoutRemarks(Recid, "Profile_MembershipReceiptRegister", "MembershipReceiptRegisterGrid", MRRInfo_AtachmentID, MRRInfo_NestedRowReasonID, MRRInfo_NestedRowUniqueID);
    }

    function MRRInfo_AcceptRejectVoucher(_actionMethod)
    {
        var Recid;

        if (MRRInfo_IsDetailRowExpanded == true || MembershipRR_IsVouchingMode)
        {
            if (MRRInfo_MasterRowRecID == null || MRRInfo_MasterRowRecID == "")
            {
                Recid = MRRID_MRRProfile;
            }
            else
            {
                Recid = MRRInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = MRRID_MRRProfile;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_MembershipReceiptRegister", "MembershipReceiptRegisterGrid", MRRInfo_AtachmentID, MRRInfo_NestedRowReasonID, MRRInfo_NestedRowUniqueID);
    }

    function OnMRRInfo_RejectDoc()
    {
        if (MRRInfo_AtachmentID == null || MRRInfo_AtachmentID.length == 0)
        {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(MRRInfo_AtachmentID, "MembershipReceiptRegisterGrid", MRRInfo_NestedGrid_AccessID);
    }

    function OnMRRInfo_AcceptDoc()
    {
        if (MRRInfo_AtachmentID == null || MRRInfo_AtachmentID.length == 0)
        {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(MRRInfo_AtachmentID, "MembershipReceiptRegisterGrid", MRRInfo_NestedGrid_AccessID);
    }

    function OnMRRListGridNestedFocusedRowChange(s, e)
    {
        if (MRRInfo_IsDetailRowExpanded || MembershipRR_IsVouchingMode)
        {
            MRRInfo_NestedRecord_FocusedRowIndex = s.GetFocusedRowIndex();
            if (MRRInfo_NestedRecord_FocusedRowIndex >= 0)
            {
                ShowLoader();
                MRRInfo_NestedGrid_AccessID = s.uniqueID;
                s.GetRowValues(s.GetFocusedRowIndex(), 'Doc_Status;Params_Mandatory;LABEL_FROM_DATE;LABEL_TO_DATE;LABEL_DESCRIPTION;Document_Category;Document_ID;ATTACH_ID;TxnID;TxnMID;MAP_ID;Reason;ATTACH_FILE_NAME;Attachment_Action_Status;UniqueID;ReasonID', OnMRRInfo_GetGridRowValues);
            }
            else
            {
                MRRPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }

    function OnMRRInfo_GetGridRowValues(values)
    {
        HideLoader();
        MRRInfo_NestedRowUniqueID = values[14];
        if (values[14] != null)
        {
            MRRPrf_FAB.SetVisible(true);
            MRRInfo_Nested_Doc_Status = values[0];

            if (MembershipRR_IsVouchingMode == true)
            {
                MRRPrf_FAB.SetActionContext("AuditActionContext", true);
            }
            else
            {
                if (MRRInfo_Nested_Doc_Status == "")
                {
                    MRRPrf_FAB.SetActionContext("AutoItemContext", true);
                }
                else if (MRRInfo_Nested_Doc_Status == "NO")
                {
                    MRRPrf_FAB.SetActionContext("EditItemContext", true);
                }
                else if (MRRInfo_Nested_Doc_Status == "YES")
                {
                    MRRPrf_FAB.SetActionContext("actionItemContext", true);
                }
            }

            MRRInfo_ParamMandatory = values[1];
            MRRInfo_FromDateLabel = values[2];
            MRRInfo_ToDateLabel = values[3];
            MRRInfo_DescriptionLabel = values[4];
            MRRInfo_Doc_Category = values[5];
            MRRInfo_Doc_ID = values[6];
            MRRInfo_AtachmentID = values[7];
            IndexAttachmentID = MRRInfo_AtachmentID;
            MRRInfo_MasterRowRecID = values[8];
            MRRInfo_MasterRowMID = values[9];
            MRRInfo_NestedRowMapID = values[10];
            MRRInfo_reason = values[11];
            MRRInfo_FileName = values[12];
            MRRInfo_Attachment_RecStatus = values[13];

            if (MembershipRR_IsVouchingMode == true)
            {
                if (MRRInfo_FileName != null && MRRInfo_FileName.length > 0)
                {
                    ViewDocument(MRRInfo_AtachmentID, MRRInfo_FileName, "MRRPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else
                {
                    var pane = Mainspliter.GetPaneByName('RightPane');
                    pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
                    document.getElementById('RightPane_div_Iframe').style.display = "none";
                    document.getElementById('RightPane_div_Img').style.display = "none";
                }
            }
        }

        MRRInfo_NestedRowReasonID = values[15];
        IndexAttachmentReasonID = MRRInfo_NestedRowReasonID;
    }

    function MRRGrid_Nested_BeginCallBack(s, e)
    {
        e.customArgs["command"] = e.command;
        e.customArgs["ShowHorizontalBar"] = MembershipRR_ShowHorizontalBar;
    }

    function MRRGrid_DetailRowExpanding(s, e)
    {
        MRRInfo_IsDetailRowExpanded = true;
        s.SetFocusedRowIndex(e.visibleIndex);
        var pane = Mainspliter.GetPaneByName('RightPane');
        if (MembershipRR_IsVouchingMode == true)
        {
            pane.Expand();
        }
        else
        {
            pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
    }

    function MRRGrid_DetailRowCollapsing(s, e)
    {
        MRRInfo_IsDetailRowExpanded = false;
        s.SetFocusedRowIndex(e.visibleIndex);
        if (MembershipRR_IsVouchingMode == false)
        {
            MRRPrf_FAB.SetVisible(false);
        }
        if (MembershipRR_IsVouchingMode == true)
        {
            if (Mainspliter.GetPaneByName('RightPane').IsCollapsed() == false)
            {
                CollapsePane(Mainspliter.GetPaneByName('RightPane'), Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
    }

</script>@*FAB Buttons*@

<script>
    function RcptGenerationConfirmation(actionType)
    {
        if (actionType == "RECEIPT - GENERATE")
        {
            var alertclick=DevExpress.ui.dialog.confirm('Sure you want to Generate Receipt of this Entry...?', 'Confirmation');
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    OnMembershipReceiptRegisterButtonClick("RECEIPT - GENERATE");
                }
            });
        }
    }

    function OnMembershipReceiptRegisterButtonClick(_ActionType, Voucher_Type = "", Selected_Item_ID = "", Selection_By_Item = false)
    {
        MRR_GetRowData(MembershipReceiptRegisterGrid.GetFocusedRowIndex());
        ShowLoader();
        if ("@MembershipRR_UpdateRight" == "False"||"@MembershipRR_ViewRight" == "False"||"@MembershipRR_DeleteRight"=="False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            HideLoader();
	        return;
        }
        if (MembershipReceiptRegisterID_MRR == 'undefined' || MembershipReceiptRegisterID_MRR == undefined || MembershipReceiptRegisterID_MRR==null)
        {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            HideLoader();
            return;
        }
        if (MRR_Entry_TrCode == 16 && (_ActionType == "EDIT" || _ActionType == "VIEW" || _ActionType == "DELETE"))  //Redmine Bug #135903 fixed
        {
            DevExpress.ui.dialog.alert('Edit, View and Delete of Membership Conversion is not allowed', 'Error!!');
            HideLoader();
            return;
        }

        $.ajax({
            type: 'GET',
            url: "/Membership/MembershipReceiptRegister/DataNavigation",
            data: { ActionMethod: _ActionType, ID: MembershipReceiptRegisterID_MRR, Edit_Date: MRR_EditDate, Selected_Item_ID: Selected_Item_ID },
            cache: false,
            success: function (data)
            {
                HideLoader();
                if (data.jsonParam.result == false)
                {
                    DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                    if (data.jsonParam.refreshgrid)
                    {
                        RefreshGridView("MembershipReceiptRegisterGrid");
                    }
                }
                else
                {
                    if (data.jsonParam.popup_form_name != null && data.jsonParam.popup_form_name.length > 0)
                    {
                        OpenDynamicPopup(data.jsonParam.popup_title, data.jsonParam.popup_form_path + "?" + encodeURI(data.jsonParam.popup_querystring), "auto", 1000, false, false);
                    }
                    else
                    {
                        if (data.jsonParam.message != null && data.jsonParam.message.length > 0)
                        {
                            var alertclick=DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                            RefreshGridView("MembershipReceiptRegisterGrid");
                            //MembershipReceiptRegisterID_MRR = data.xTemp_ID;    //Redmine Bug #135459 fixed
                            //alertclick.done(function (alertResult)
                            //{
                            //    if (alertResult)
                            //    {
                            //        if (_ActionType == "RECEIPT - GENERATE")
                            //        {
                            //            var alertprint = DevExpress.ui.dialog.confirm('Print Membership Receipt Now...?', 'Confirmation');
                            //            alertprint.done(function (alertprintResult)
                            //            {
                            //                if (alertprintResult)
                            //                {
                            //                    OnMRRListPreviewClick('Yes', data.xTemp_ID);    //Redmine Bug #135459 fixed
                            //                }
                            //            });
                            //        }
                            //    }
                            //});//Redmine Bug #135458 fixed
                        }
                    }
                }
            }
        });
    }

    function OnMembershipReceiptRegisterNewClick()
    {
        if ("@MembershipRR_AddRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Membership/MembershipReceiptRegister/Frm_Voucher_Membership",
            data: { Tag: "_New"},
            cache: false,
            success: function (data)
            {
                OpenDynamicPopup("New ~ Membership", null, "auto", 1000, true, data);
            }
        });
    }

    function OnMRRListPreviewClick(CallingFromGenerate = 'No', GenerateID = "") //Redmine Bug #135459 fixed
    {
        if (CallingFromGenerate == 'Yes') {
            MembershipReceiptRegisterID_MRR = GenerateID;
            MembershipReceiptRegisterGrid.SelectRowsByKey(MembershipReceiptRegisterID_MRR);
        }   //Redmine Bug #135459 fixed
        else
        {
            MRR_GetRowData(MembershipReceiptRegisterGrid.GetFocusedRowIndex());
        }
        if (MembershipReceiptRegisterID_MRR == 'undefined' || MembershipReceiptRegisterID_MRR == undefined || MembershipReceiptRegisterID_MRR == null)
        {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }       
        ShowLoader();
        $.ajax({
           url: '@Url.Action("MembershipReceiptRegister_Print", "MembershipReceiptRegister")',
           type: "GET",
           data: { ID: MembershipReceiptRegisterID_MRR },
           success: function (res)
            {
                HideLoader();
                if (res.jsonParam != undefined)
                {
                    DevExpress.ui.dialog.alert(res.jsonParam.message, res.jsonParam.title);
                }
                else
                {
                    OpenPopup("OpenMRRPopup", "Membership Receipt Register", null, "auto", "100%", true, res);
                }
            }
        });
    }

    function Membership_Preview()
    {
        if ("@MembershipRR_ExportRight" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed..!!', 'No Rights');
            return;
        }
        ShowLoader();
        OpenPopup("Membership_Export_Options_Popup","List Export", "@Url.Action("Frm_Membership_Export_Options", "MembershipReceiptRegister", new { @area = "Membership" })", "auto", 125, false, null);
        HideLoader();
    }//list preview

    function CloseMembershipRR()
    {
        if ("@PopupID".length > 0)
        {
            HidePopup("@PopupID");
        }
        else
        {
            $(".TabPanalMenu-tabs .active span").click();
        }
    }

    $(".TabPanalMenu-tabs .active span").on("click", function ()
    {
        CloseRightPane();
        ClearLeftPane();
        CloseLeftPane();
        $.ajax({
            type: 'GET',
            url: "/Membership/MembershipReceiptRegister/SessionClear",
            cache: false
        });
        DeleteCookie("MRRCookie");
        ClearAllReferences_MRR();
    });
    function ClearAllReferences_MRR()
    {
            MRRID_MRRProfile = null;
          MRR_PeriodSelectionFirstTime = null;
          AllowDialogBox = null;
          MembershipRRFocusedRowIndexBeforeRefresh = null;
          MembershipRR_ShowHorizontalBar = null;
          MembershipRR_IsVouchingMode = null;
          MembershipRR_ViewMode = null;
          MembershipRR_ColumnToBeShownIndex = null;
          MembershipRR_ColumnToBeHidddenIndex = null;
          Select_xid_MRR = null;
          MembershipRRGridLayout = null;
      MRRInfo_SetVouchingModeOn = null;
          MembershipRR_ViewMode = null;
      MembershipRRGridLayout = null;
      MembershipReceiptRegisterID_MRR = null;
          MRR_ActionStatus = null;
          MRR_EditDate = null;
          MRR_AddBy = null;
          MRR_AddDate = null;
          MRR_EditBy = null;
          MRR_ActionDate = null;
          MRR_ActionBy = null;
          MRR_Entry_TrCode = null;
    //  MRR_Receipt_No;
          MembershipRRSearchVisible = null;
          MembershipRRFilterVisible = null;
          MRR_ViewMode = null;
          MRRInfo_IsDetailRowExpanded = null;
          MRRInfo_NestedRecord_FocusedRowIndex = null;
          MRRInfo_ParamMandatory = null;
          MRRInfo_MasterRowRecID = null;
          MRRInfo_Doc_ID = null;
          MRRInfo_Doc_Category = null;
          MRRInfo_FromDateLabel = null;
          MRRInfo_ToDateLabel = null;
          MRRInfo_DescriptionLabel = null;
          MRRInfo_NestedGrid_AccessID = null;
          MRRInfo_Attachment_RecStatus = null;
          MRRInfo_AtachmentID = null;
          MRRInfo_FileName = null;
          MRRInfo_NestedRowMapID = null;
          MRRInfo_reason = null;
          MRRInfo_NestedRowReasonID = null;
          MRRInfo_NestedRowUniqueID = null;
          MRRInfo_MasterRowMID = null;
        ClearAllReferences("MemebershipReceiptRegister_ClearReferences");
    }
    function ViewSummaryClick()
    {
        $("#MembershipRRSummary_Form").remove();
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Membership/MembershipReceiptRegister/Frm_View_Summary",
            cache: false,
            success: function (data)
            {
                OpenPopup("popup_frm_Frm_View_Summary", "Summary...", null, "auto", 900, true, data);//Redmine Bug #135466 fixed
            }
        });
    }
    function AfterVoucherClose_MRR(xEntryDate, ActionMethod = "",EntryID="")
    {
        //MembershipReceiptRegisterGrid.SetFocusedRowIndex(-1);
        if (ActionMethod == "_Delete" || ActionMethod == "Delete")
        {
            RefreshGridView("MembershipReceiptRegisterGrid");
            return;
        }
        if (ActionMethod != "_View" && ActionMethod != "View")
        {
            Select_xid_MRR = EntryID;
            var xFr_Date = new Date($("#MRR_Fr_Date").val());
            var xTo_Date = new Date($("#MRR_To_Date").val());
            xEntryDate = new Date(xEntryDate);
            var xMM = xEntryDate.getMonth() + 1;
            var SelectedIndex = xMM == 4 ? 0 : xMM == 5 ? 1 : xMM == 6 ? 2 : xMM == 7 ? 3 : xMM == 8 ? 4 : xMM == 9 ? 5 : xMM == 10 ? 6 : xMM == 11 ? 7 : xMM == 12 ? 8 : xMM == 1 ? 9 : xMM == 2 ? 10 : xMM == 3 ? 11 : 0;
            if (xFr_Date <= xEntryDate && xTo_Date >= xEntryDate)
            {
                RefreshGridView("MembershipReceiptRegisterGrid");
            }
            else
            {
                $("#MRR_PeriodSelection").dxSelectBox("instance").option("value", SelectedIndex);
            }
        }
    }
</script>@*Button Functions*@
    </div>