<div class="WIP_ExportProfile_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    <div>
        @(Html.DevExtreme().Button()
                .ID("wip_ExportGridDatapdf")
                .Text("Export to PDF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("x")
                .OnClick("ExportPDF")
                .Visible(false)
                .Width(120)
    )@*<br />*@

    @(Html.DevExtreme().Button()
                .ID("wip_ExportGridDataxls")
                .Text("Export to XLS")
                //.Icon("fa-file-excel-o")
                //.AccessKey("X")
                .OnClick("ExportXLS")
                .Visible(false)
                .Width(120)
    )@*<br />*@
    @(Html.DevExtreme().Button()
                .ID("wip_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("L")
                .OnClick("ExportXLSX")
                .Visible(false)
                .Width(120)
    )@*<br />*@

    @(Html.DevExtreme().Button()
                .ID("wip_ExportGridDatadocx")
                .Text("Export to DOCX")
                //.Icon("export_exporttodocx_16x16office2013")
                //.AccessKey("D")
                .OnClick("ExportDOCX")
                .Visible(false)
                .Width(120)
    )
    @*<br />*@

    @(Html.DevExtreme().Button()
                .ID("wip_ExportGridDatartf")
                .Text("Export to RTF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("R")
                .OnClick("ExportRTF")
                .Visible(false)
                .Width(120)
    )
    @*<br />*@

    @(Html.DevExtreme().Button()
                .ID("wip_ExportGridDatacsv")
                .Text("Export to CSV")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("C")
                .OnClick("ExportCSV")
                .Visible(false)
                .Width(120)
    )
    @(Html.DevExtreme().Button()
                .ID("wip_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("L")
                .OnClick("ExportXLSX_dx")
                .Visible(true)
                .Width(120)
    )
</div>
<script>
    function ExportPDF() {
        WIPListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        $("#WIP_report_modal_result").dxPopup("hide");
    }
    function ExportXLS() {
        WIPListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
        $("#WIP_report_modal_result").dxPopup("hide");
    }
    function ExportXLSX() {
        WIPListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        $("#WIP_report_modal_result").dxPopup("hide");
    }
    function ExportCSV() {
        WIPListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
        $("#WIP_report_modal_result").dxPopup("hide");
    }
    function ExportDOCX() {
        WIPListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
        $("#WIP_report_modal_result").dxPopup("hide");
    }
    function ExportRTF() {
        WIPListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        $("#WIP_report_modal_result").dxPopup("hide");
    }
    function ExportXLSX_dx() {
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Sheet');

        DevExpress.excelExporter.exportDataGrid({
            worksheet: worksheet,
            component: $("#WIPListGrid").dxDataGrid("instance"),
            autoFilterEnabled: true,
            customizeCell({ excelCell, gridCell }) {
                if (gridCell.rowType === 'header') {
                    const columnDataField = gridCell.column.dataField;
                    if (columnDataField === 'iIcon') {
                        const Column = worksheet.getColumn(excelCell.col);
                        Column.width = 20;
                    }
                }
            }
        }).then(function (exportRange) {
            workbook.xlsx.writeBuffer().then(function (buffer)
            {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'WIPListGrid_dx.xlsx');             
            });
        });
        $("#WIP_report_modal_result").dxPopup("hide");
    }

</script>
</div>