<div class="WIP_WindowProfile_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Profile.Models.WIPInfo
    @{
        bool IsReadOnly = Model != null && (Model.TempActionMethod.ToString().Trim() == "_View" || Model.TempActionMethod.ToString().Trim() == "_Delete") ? true : false;
        string submitBtnText = Model != null && Model.TempActionMethod.ToString().Trim() == "_Delete" ? "Delete" : "Save";

        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
    } 
    <style>
        .wdfull {
            width: 100%;
        }

        td {
            width: auto;
        }

        .width1200px {
            width: 1200px;
        }

        .margT12 {
            margin-top: 12px !important;
        }

        .fs22 {
            font-size: 22px !important;
        }

        .overflow-scroll {
            overflow: auto !important;
        }

        .dxgvHeader_MetropolisBlue {
            background: transparent !important;
            cursor: default !important;
        }

        .send_message {
            font-size: 12px;
            color: #f18205;
            padding-left: 22px;
            position: relative;
            margin-top: 4px;
            margin-left: 0
        }

            .send_message img {
                position: absolute;
                left: 0;
            }
    </style>
    <div>
        @using (Ajax.BeginForm("Frm_WIP_Window", "WIP",
                                               new AjaxOptions
                                               {
                                                   HttpMethod = "POST",
                                               //UpdateTargetId = "Frm_Voucher_BankToBank_popup",
                                               InsertionMode = InsertionMode.Replace,
                                                   OnBegin = "AjaxBeginFormPost",
                                                   OnSuccess = "AjaxSuccessWIP_Window"
                                               },
                                               new
                                               {
                                                   id = "WIP_WindowvalidationForm",
                                                   @class = "edit_form form-horizontal"
                                               }))
        {
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.IsWIPCarriedFwd)
            @Html.HiddenFor(x => x.LED_ID)
            @Html.HiddenFor(x => x.YearID)
            @Html.HiddenFor(x => x.TR_ID)
            @Html.HiddenFor(x => x.EditDate)

            @*@Html.HiddenFor(x => x.TempActionMethod)*@

            using (Html.DevExtreme().ValidationGroup("WIP_Window"))
            {
                <div class="full-width-header-bg2">
                    <div class="row">

                        <div class="col-sm-8">
                            <h3 class="popuphead"><i class="far fa-edit"></i> WIP</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align">
                                <i class="fas fa-info-circle"></i> Red Fields are mandatory
                            </h5>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div><!--[]-->

                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-3 pll">
                                @*<label class="control-label text-red" for="user">Ledger:</label>*@
                                @Html.Label("Ledger:", htmlAttributes: new { @class = "control-label text-red ", @for = "user" })
                            </div>
                            <div class="col-sm-9 prm">
                                @*<div class="dx-texteditor dx-widget dx-textbox">
                                <div class="dx-texteditor-container">*@
                                @(Html.DevExtreme().DropDownBox().CustomDropDown()
                                                        .ID("GLookUp_WIP_LedgerList_WIPWindow")
                                                        .Name("GLookUp_WIP_LedgerList_WIPWindow")
                                                        .Value(Model.GLookUp_WIP_LedgerList_WIPWindow)
                                                        .ValueExpr("WIP_LED_ID")
                                                        .DisplayExpr("WIP_LEDGER")
                                                        .DataSource(d => d.Mvc().Controller("WIP").LoadAction("LookUp_GetWIPLedgerList_WIP").Key("WIP_LED_ID").LoadMode(DataSourceLoadMode.Raw))
                                                        .ContentTemplate(@<text>@Html.Partial("LookUp_GetWIPLedgerList_WIP")</text>)
                                                        .ValidationError(true)
                                                        .Placeholder("Select WIP Ledger")
                                                        .FocusStateEnabled(true)
                                                        .ReadOnly(IsReadOnly)
                                                        .OnValueChanged("GLookUp_WIPList_EditValueChanged")
                            )
                                @Html.ValidationMessageFor(model => model.GLookUp_WIP_LedgerList_WIPWindow, "", new { @class = "text-danger" })
                                @*</div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-3 pll">
                                @*<label class="control-label" for="user">Reference:</label>*@
                                @Html.Label("Reference:", htmlAttributes: new { @class = "control-label text-red ", @for = "user" })
                            </div>
                            <div class="col-sm-9 prm">
                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">*@
                                @(Html.DevExtreme().TextBoxFor(x => x.Reference_WIPWindow).CustomTextBox(true).ID("Reference_WIPWindow").Name("Reference_WIP").Placeholder("Type Reference...").ReadOnly(IsReadOnly).ValidationError(true).MaxLength(50).FocusStateEnabled(!IsReadOnly).Value(Model.Reference_WIPWindow) )
                                @*<input class="dx-texteditor-input" type="text" placeholder="">*@
                                @*</div>
                                </div>*@

                            </div>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="row">
                    <div class="form-field brd_new_bottom">
                        <div class="container-fluid">
                            <div class="col-sm-3 pll">
                                @*<label class="control-label" for="user">Opening Value:</label>*@
                                @Html.Label("Opening Value:", htmlAttributes: new { @class = "control-label text-red ", @for = "user" })
                            </div>
                            <div class="col-sm-9 prm">
                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">*@
                                @*<input class="dx-texteditor-input" type="number" placeholder="">*@
                                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Opening_WIPWindow").Name("Opening_WIPWindow").Placeholder("Type Opening Value...").ShowSpinButtons(false).ReadOnly(IsReadOnly).Value(Model.Opening_WIPWindow).Format("#,##0.00").ValidationError(true).ShowClearButton(true).Min(0).Max(double.MaxValue) )
                                @Html.ValidationMessageFor(model => model.Opening_WIPWindow, "", new { @class = "text-danger" })
                                @*</div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ WIP Info )...", Model.TempActionMethod.Substring(1)))
                            </div>
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <div class="styleActionBtn">
                                    @if (Model.TempActionMethod.ToString() != "_View")
                                    {
                                        @(Html.DevExtreme().Button().CustomSaveButton(Model.ActionMethod.ToString()).ID("Create_WIP").Text(submitBtnText).UseSubmitBehavior(false).OnClick("WIPFormSubmit") )
                                    }
                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("CancelWIP").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").OnClick("Cancel_Click_WIP"))
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->      
            }
        }
    </div>

    <script>
        var model = "";
        var Txt_Amount_WIP_ReadOnly = false;
        var Txt_Amount_WIP_Enabled = true;
        var GLookUp_WIP_ReadOnly = false;
        var GLookUp_WIP_Enabled = true;
        var WipLedger_DG_DD; 
        var ActionMethod_WIP = "@Model.ActionMethod";
        var LED_ID = "";       
        var WIP_Ledger = "";       

    </script>
    <script>

    function Cancel_Click_WIP()
    {
        $("#Dynamic_Content_popup").dxPopup("hide");
    };
    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        TransformTextForDB("WIP_WindowvalidationForm");
        InitAllDropdownDataGrid_WIPWindow();
        await LookUp_GetWIPLedgerList_WIPWindow(true);
        if ("@Model.GLookUp_WIP_LedgerList_WIPWindow".length > 0)
        {
           await GLookUp_WIPList_EditValueChanged(null,true)
        }
        BUT_CANCEL_Click_ForDocumentReady_WIP();
        if (ActionMethod_WIP == "_Edit")
        {
            if ($("#IsWIPCarriedFwd").val() == null)
            {
                $("#Dynamic_Content_popup").dxPopup("hide");
            }
            if ($("#IsWIPCarriedFwd").val() == "True" || $("#TR_ID").val().length > 0)    //In split Restrictive Editing and for voucher entries
            {
                Txt_Amount_WIP_ReadOnly = true;
                Control_SetReadOnly("Opening_WIPWindow", "dxNumberBox", (Txt_Amount_WIP_Enabled == true && Txt_Amount_WIP_ReadOnly == false) ? false : true);
                GLookUp_WIP_ReadOnly = true;
                Control_SetReadOnly("GLookUp_WIP_LedgerList_WIPWindow", "dxDropDownBox", (GLookUp_WIP_Enabled == true && GLookUp_WIP_ReadOnly == false) ? false : true);
            }
        }
        if (ActionMethod_WIP == "_Delete")
        {
            Set_Form_View_Delete_Mode("#696969", "WIP_WindowvalidationForm");
        }
        else if (ActionMethod_WIP == "_View")
        {
            Set_Form_View_Delete_Mode("#000080", "WIP_WindowvalidationForm");
        }
        HideLoader_Ready();
    });
    function BUT_CANCEL_Click_ForDocumentReady_WIP()
    {
        sessionclearpath = "/Profile/WIP/SessionClear_WIPWindow";
        if ("@ViewBag.TempActionMethod" != "View")
        {
            dontaskpopupcloseconfirmation = false;
        }
    }

        async function WIPFormSubmit(e)
        {
            if (ActionMethod_WIP == "_Delete")
            {
                var confirm = await CreateCustomConfirmDialog("Delete ~ WIP Info", "", true).show();
                if (confirm == true)
                {

                    SaveWIP()
                }
                else
                {
                    $("#Create_WIP").dxButton("focus");
                }
            }
            else if (ActionMethod_WIP == "_New" || ActionMethod_WIP == "_Edit")
            {
                var result = e.validationGroup.validate();
                if (result.isValid)
                {
                    SaveWIP()
                }
            }
        }
        function SaveWIP()
        {
            var WIPInfo =
            {
                ID: "@Model.xID",
                GLookUp_WIP_LedgerList_WIPWindow: $("#GLookUp_WIP_LedgerList_WIPWindow").dxDropDownBox("instance").option("value"),
                Reference_WIPWindow: $("#Reference_WIPWindow").dxTextBox("instance").option("value"),
                Opening_WIPWindow: $("#Opening_WIPWindow").dxNumberBox("instance").option("value"),
                TempActionMethod: ActionMethod_WIP
            }
            ShowLoader();
            $.ajax({
                url: "/Profile/WIP/Frm_WIP_Window",
                type: 'POST',
                data: WIPInfo,
                cache: false,
                success: function (data)
                {
                    HideLoader();
                    if (data.jsonParam.result == false)
                    {
                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title).done(function (alertResult)
                        {
                            if (data.jsonParam.refreshgrid)
                            {
                                RefreshGridView("WIPListGrid", ActionAfterDataGridRefresh_WIPListGrid_dx.bind(null, ActionMethod_WIP == "_New" ? "" : ActionMethod_WIP))
                            }
                            if (data.jsonParam.focusid)
                            {
                                var id = "#" + data.jsonParam.focusid;
                                setTimeout(function ()
                                {
                                    $(id).find('input').focus();
                                }, Timeout100);
                            }
                            if (data.jsonParam.closeform == true) {
                                dontaskpopupcloseconfirmation = true;
                                $("#Dynamic_Content_popup").dxPopup("hide");
                            }
                        });
                    }
                    else if (data.jsonParam.result == true)
                    {
                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title).done(function (alertResult)
                        {
                            if (typeof data.xid !== "undefined")
                            {
                                Select_xid_WIP = data.xid;
                            }
                            RefreshGridView("WIPListGrid", ActionAfterDataGridRefresh_WIPListGrid_dx.bind(null, ActionMethod_WIP))
                            if (data.jsonParam.closeform == true)
                            {
                                dontaskpopupcloseconfirmation = true;
                                $("#Dynamic_Content_popup").dxPopup("hide");
                            }
                        });
                    }
                }
            });
        }
        async function GLookUp_WIPList_EditValueChanged(e,FirstCall=false)
        {
            var value;
            if (e) {
                value = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    WipLedger_DG_DD.clearSelection();
                    return;
                }
            }
            else
            {
                value = $("#GLookUp_WIP_LedgerList_WIPWindow").dxDropDownBox("option","value")
            }
            await WipLedger_DG_DD.selectRows(value)
        }
        function InitAllDropdownDataGrid_WIPWindow()
        {
            var $WipLedger_DG = $("#WIPLedgerList_WIP_datagrid");
            if ($WipLedger_DG.length)
            {
                WipLedger_DG_DD = $WipLedger_DG.dxDataGrid("instance");
            }
        }
        async function LookUp_GetWIPLedgerList_WIPWindow(FirstCall = false)
        {
            if ("@Model.TempActionMethod" == "_New" || "@Model.TempActionMethod" == "_New_From_Selection")
            {
                $("#GLookUp_WIP_LedgerList_WIPWindow").dxDropDownBox("instance").option("readOnly", false);
            }
        }
    </script>
</div>