<div class="ServicePlacesProfile_ClearReferences">

    @using DevExtreme.AspNet.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        var UserType = ViewBag.UserType;
        bool ServicePlaces_AddRight = (bool)ViewData["ServicePlaces_AddRight"];
        bool ServicePlaces_UpdateRight = (bool)ViewData["ServicePlaces_UpdateRight"];
        bool ServicePlaces_ViewRight = (bool)ViewData["ServicePlaces_ViewRight"];
        bool ServicePlaces_DeleteRight = (bool)ViewData["ServicePlaces_DeleteRight"];
        bool ServicePlaces_ExportRight = (bool)ViewData["ServicePlaces_ExportRight"];
        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
        bool ServicePlaceInfo_Auto_Vouching_Mode = (bool)ViewData["ServicePlaceInfo_Auto_Vouching_Mode"];

    }
    <div id="ServicePlace_ParentDiv" class="col-md-12 report_header_div_main">
        <div class="col-md-4 report_header_div">
            <label class="report_header_label">Service Places Information</label>
        </div>
        @*Buttons*@
    <div class="report_button_div">
        @(Html.DevExtreme().Switch().ID("SrvicPlacVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("SrvicPlac_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
        @(Html.DevExtreme().Switch().ID("ServicePlacesViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("ServicePlaces_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
        @*New Button*@
        @(
            Html.DevExtreme()
                .Button()
                .ID("ServicePlacesModelNew")
                .Text("New")
                .Icon("add")
                .Visible(true)
                .Disabled(false)
                .OnClick(@<text>
                    function () { OnServicePlacesNewClick(); }
                </text>)
        )
        @*Edit Button*@
        @(
            Html.DevExtreme()
                .Button()
                .ID("ServicePlacesModelEdit")
                .Text("Edit")
                .Icon("edit")
                .Visible(true)
                .Disabled(false)
                .OnClick(@<text>
                function (){ OnServicePlacesEditClick(); }
            </text>)
        )
        @*Delete Button Code*@
        @(
            Html.DevExtreme()
                .Button()
                .ID("ServicePlacesModelDelete").Text("Delete")
                .Icon("trash")
                .Visible(true)
                .Disabled(false)
                .OnClick(@<text>
                    function () { OnServicePlacesDeleteClick(); }
                </text>)
        )
        @*View Button Code*@
        @(
            Html.DevExtreme()
                .Button()
                .ID("ServicePlacesModelView")
                .Text("View")
                .Icon(IconID.ViewCustomers16x16devav)
                .Icon("doc")
                .OnClick(@<text>
                    function (){  OnServicePlacesViewClick(); }
                </text>)
        )
        @*Full Data code*@
        @(
            Html.DevExtreme()
                .Button()
                .ID("ServicePlacesToggleScrollBar")
                .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                .Icon("toolbox")
                .OnClick(@<text>
                    function (){ ServicePlaceschangeMode();}
                </text>)
        )
        @*Export Button Code*@
        @(
            Html.DevExtreme()
                .Button()
                .ID("ServicePlacesModelListPreview")
                .Text("Export")
                .Icon("save")
                .Width(80)
                .OnClick(@<text>
                    function (){ OnServicePlacesListPreviewClick();}
                </text>)
        )
        @*Close Button Code*@
        @(
            Html.DevExtreme()
                .Button()
                .ID("ServicePlacesModelCLOSE")
                .Text("Close")
                .Icon("clear")
                .OnClick("colse_ServicePlaces")
        )
    </div>

    </div>

    <div class="col-md-12 no-padding">
        <form>
            <div id="ServicePlacesreloadPartialView" class="parent_table">
                @Html.Partial("Frm_ServicePlace_Info_Grid", Model)
            </div>
        </form>
    </div>
    <div class="footer-MainBoxdiv full-width-footer">
        @*<div class="col-lg-8 report_footer_small_buttons_div" id="ServicePlacesFooterItem">*@
        <div class="list_footer_left_margin col-md-10">
            <div>
                @*class="footer_new_left"*@
                <div>
                    <div class="list_footer_left_margin">
                        <div class="footer-locktext">
                            <div id="ServicePlaces_Lbl_ActionOn" class="left_footertext_top"></div>
                            <div id="ServicePlaces_Lbl_ActionBy" class="left_footertext_bottom"></div>
                        </div>
                        @*<div class="footer-locktext">
                                <div id="ServicePlacesLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                            </div>*@
                    </div>
                    <div class="list_footer_left_margin">
                        <p id="ServicePlacesLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                        <p id="ServicePlacesLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="list_footer_right_margin_consistent col-md-1">
            @*<i id="ServicePlaces_LockICON" class="fa fa-lock lock_symbol"></i>*@
        </div>
        @*</div>
            <div class="col-lg-4 listing_footer_filter_buttons_div">
            </div>*@
    </div>
    @Html.Partial("AttachmentFAB", "ServicePlacePrf_FAB,ServicePlace_ParentDiv,Type1,ServicePlace") @*fab buttons*@
    <div class="col-md-12">
        @*Add/Edit Popup*@
        @(Html.DevExtreme()
        .Popup()
        .CustomPopup()
        .ID("ServicePlaces_report_modal")
        .OnShowing("PopupOnShowing")
        .Title("ServicePlaces List Preview")
        .FullScreen(false)
        .MaxWidth(125)
        .Height("auto")
        .ShowCloseButton(true)
        .ContentTemplate(@<text>

            <div id="ServicePlaces_report_modal_result">
            </div>
        </text>)
    )
        @(Html.DevExtreme()
        .Popup()
        .CustomPopup()
        .ID("popup_frm_ServicePlaces_Window")
        .Title("ServicePlaces")
        .OnShowing("PopupOnShowing")
        .ShowCloseButton(true)
        .ContentTemplate(@<text>
            <div id="ServicePlacesresult">
            </div>
        </text>)
            .OnHiding(@<text>
                function () {
                if(IsSucessPopup == false && IsViewPopup == false)
                {
                var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                result.done(function (dialogResult) {
                if(dialogResult){
                $("#popup_frm_ServicePlaces_Window").dxPopup("hide");
                }else
                {
                $("#popup_frm_ServicePlaces_Window").dxPopup("show");
                }
                });
                }
                }
            </text>)
    )
    </div>

    @*Javascript Events*@
<script type="text/javascript">
    var ServicePlaces_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    //var IsSucessPopup = false;
    //var IsViewPopup = false;
    var ServicePlaceInfo_SetVouchingModeOn = "@ServicePlaceInfo_Auto_Vouching_Mode" == "True" ? true : false;
    var UserType_SerPlacePrf = "@UserType".toUpperCase();
    var SrvicPlac_IsVouchingMode = false;
    var ServicePlaces_ViewMode = "Default";
    var ServicePlaceID_ServicePlaceProfile = null;

    //Info Page Grid related global variables.
    var ServiePlace_Select_xid = "";
    var ServicePlace_FocusedRowBeforeRefresh

    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Profile/ServicePlaces/SessionClear",
            cache: false
        });
        ClearAllReferences_ServicePlacesProfile();

    });

        function colse_ServicePlaces() {
            $(".TabPanalMenu-tabs .active span").click();
        }
    $(document).ready(function () {
        if ("@ServicePlaces_AddRight" == "False")
        {
	        $("#ServicePlacesModelNew").hide();
        }
        if ("@ServicePlaces_UpdateRight" == "False")
        {
            $("#ServicePlacesModelEdit").hide();
        }
        if ("@ServicePlaces_ViewRight" == "False")
        {
            $("#ServicePlacesModelView").hide();
        }
        if ("@ServicePlaces_DeleteRight" == "False")
        {
            $("#ServicePlacesModelDelete").hide();
        }
        if ("@ServicePlaces_ExportRight" == "False")
        {
            $("#ServicePlacesModelListPreview").hide();
        }
        HideUnreleasedFunctionality('Frm_ServicePlace_Info');
        ////IsSucessPopup = false;
        //IsViewPopup = false;
        //SetServicePlacesGroupPanelFooterVisible();
        //SetServicePlacesFooterVisible();
        $("#ServicePlacesListGrid").hover(function () {
            //ServicePlacesListGrid.Focus()
        })
        $(".ServicePlacesListGrid_PreviewRow").hide();
        GetSessionStorage("ServicePlacesListGrid");
        if (ServicePlaceInfo_SetVouchingModeOn == true)
        {
            $("#ServicePlacesViewModeSwitch").dxSwitch("instance").option("value", true);
        }
    });
    function OnSerPlaceCellClick(event, cell,col, row)
    {
        if (UserType_SerPlacePrf == "AUDITOR" || UserType_SerPlacePrf == "SUPERUSER")
        {
            if (event.button == 0)
            {
                if (cell.style.backgroundColor.length > 0)
                {
                    cell.style.backgroundColor = "";
                }
                else
                {
                    cell.style.backgroundColor = 'skyblue';
                }
            }
        }
    }
    function SrvicPlac_VouchingSwitch_ValueChange(e)
    {
        SrvicPlac_IsVouchingMode = e.value;
        ServicePlacesListGrid_CollapseAllDetailRows();
    }
    function ServicePlacesListGrid_CollapseAllDetailRows()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.ServicePlacesListGrid !== 'undefined')
            {
                if (typeof window.ServicePlacesListGrid.CollapseAllDetailRows !== 'undefined')
                {
                    if (typeof ServicePlacesListGrid.CollapseAllDetailRows == 'function')
                    {
                        ServicePlacesListGrid.CollapseAllDetailRows();
                    }
                    else
                    {
                        alert("CollapseAllDetailRows is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        ServicePlacesListGrid_CollapseAllDetailRows();
                        HideLoader();
                    }, Timeout100);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else
        {
            alert('window undefined')
        }
    }
    function ServicePlaces_ViewSwitch_ValueChange(e)
    {
        ServicePlaces_ViewMode = e.value == false ? "Default" : "Compact";
        if (ServicePlaceInfo_SetVouchingModeOn == true)
        {
            ServicePlaceInfo_SetVouchingModeOn = false;
            $("#SrvicPlacVouchingModeSwitch").dxSwitch("instance").option("value", true);
        }
        else
        {
            ServicePlacesListGrid.CollapseAllDetailRows();
        }
    }
    function ServicePlacesOnInit(s, e) {
        ServicePlacesAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            ServicePlacesAdjustSize();
        });
    }
    var ServicePlace_ColumnToBeShownIndex = "";
    var ServicePlace_ColumnToBeHidddenIndex = "";

    function ServicePlacesGrid_BeginCallBack(s, e) {

        ServicePlace_FocusedRowBeforeRefresh = s.GetFocusedRowIndex();
        e.customArgs["command"] = e.command;
        e.customArgs["VouchingMode"] = SrvicPlac_IsVouchingMode;
        e.customArgs["ViewMode"] = ServicePlaces_ViewMode;
        e.customArgs["ColumnToBeShownIndex"] = ServicePlace_ColumnToBeShownIndex;
        e.customArgs["ColumnToBeHidddenIndex"] = ServicePlace_ColumnToBeHidddenIndex;
        e.customArgs["RowKeyToFocus"] = ServiePlace_Select_xid;
    }

    function OnGridServicePlacesListGrid_EndCallback(s, e)
    {
        //ServicePlacesAdjustSize();
        ServicePlace_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
        ServicePlace_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex;
        $(".ServicePlacesListGrid_PreviewRow").hide();
        GetSessionStorage("ServicePlacesListGrid");
        SendCustomArgs_FilterControl(s, e);
        //Reset Focus Code
        if (e.command == "REFRESH") {

            if (ServicePlace_FocusedRowBeforeRefresh == s.GetFocusedRowIndex()) {
                //s.SetFocusedRowIndex(-1);
                s.SetFocusedRowIndex(ServicePlace_FocusedRowBeforeRefresh);
            }
            ServiePlace_Select_xid = "";
        }


    }
    function ServicePlacesAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try{ServicePlacesListGrid.SetHeight(height);}catch(err){}
    }
    function ServicePlaceschangeMode() {
        ShowLoader();
        if (ServicePlaces_ShowHorizontalBar == 0) {
            ServicePlaces_ShowHorizontalBar = 1;
            $("#ServicePlacesToggleScrollBar").find("span").text("Default Data");
            $("#ServicePlacesToggleScrollBar").width(110);
        }
        else {
            ServicePlaces_ShowHorizontalBar = 0;
            $("#ServicePlacesToggleScrollBar").find("span").text("Full Data");
            $("#ServicePlacesToggleScrollBar").width(90);
        }
        $.ajax({
            url: '@Url.Action("Frm_ServicePlace_Info_Grid", "ServicePlaces")',
            type: "GET",
            data: { ShowHorizontalBar: ServicePlaces_ShowHorizontalBar, VouchingMode: SrvicPlac_IsVouchingMode, ViewMode: ServicePlaces_ViewMode, ColumnToBeHidddenIndex: ServicePlace_ColumnToBeHidddenIndex, ColumnToBeShownIndex: ServicePlace_ColumnToBeShownIndex  },
            success: function (res) {
                $("#ServicePlacesreloadPartialView").html(res);
                $(".ServicePlacesListGrid_PreviewRow").hide();
                GetSessionStorage("ServicePlacesListGrid");
            }
        });
        HideLoader();
    }
    function ServicePlacesAjaxSuccessForm(data) {
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
        else {
            //IsSucessPopup = true;
            DevExpress.ui.dialog.alert(data.Message, "Success");
            $("#popup_frm_ServicePlaces_Window").dxPopup("hide");
            ServicePlacesListGrid.Refresh();
            //IsSucessPopup = false;
        }
    }

    var ServicePlacesID;
    var ServicePlaces_EditDate;
    var ServicePlaces_AddDate;
    var ServicePlaces_AddBy;
    var ServicePlaces_EditBy;
    var ServicePlaces_ActionStatus;
    var ServicePlaces_ActionDate;
    var ServicePlaces_ActionBy;

    function ServicePlaces_dblclickEdit(s, e) {
        //var key = s.GetRowKey(s.GetFocusedRowIndex());
        //ServicePlacesListGrid.GetValuesOnCustomCallback({ key: key }, ServicePlacesOnGetRowValues);
        //if (ServicePlacesID != null || ServicePlacesID == 'undefined' || ServicePlacesID == undefined)
        //    OnServicePlacesEditClick();
    }

    function OnServicePlacesGridFocusedRowChanged(s, e) {

        if (s.GetFocusedRowIndex() >= 0)
        {
            if (!s.IsGroupRow(s.GetFocusedRowIndex())) {
                s.GetRowValues(s.GetFocusedRowIndex(), 'ID;Edit_Date;Add_Date;Add_By;Edit_By;Action_Status;Action_Date;Action_By', ServicePlacesOnGetRowValues);
            }
            else {
                ServicePlacesID = null;
            }
        }
        else {
            ServicePlacesID = null;
        }
    }

    function ServicePlacesOnGetRowValues(values) {
        ServicePlacesID = values[0];
        ServicePlaces_EditDate = values[1];
        ServicePlaces_AddDate = values[2];
        ServicePlaces_AddBy = values[3];
        ServicePlaces_EditBy = values[4];
        ServicePlaces_ActionStatus = values[5];
        ServicePlaces_ActionDate = values[6];
        ServicePlaces_ActionBy = values[7];
        ServicePlaces_UpdateFooterDetail(ServicePlacesID, ServicePlaces_ActionStatus, ServicePlaces_AddDate, ServicePlaces_AddBy,
        ServicePlaces_ActionDate, ServicePlaces_ActionBy, ServicePlaces_EditDate, ServicePlaces_EditBy);
    }

    function ServicePlaces_UpdateFooterDetail(ServicePlacesID, ServicePlaces_Action_Status, ServicePlaces_Add_Date, ServicePlaces_Add_By, ServicePlaces_Action_Date, ServicePlaces_Action_By, ServicePlaces_Edit_Date, ServicePlaces_Edit_By) {
        ServicePlaces_Action_Date = ServicePlaces_Action_Date != "" && ServicePlaces_Action_Date != null ? ServicePlaces_Action_Date : ServicePlaces_Action_Date;
        ServicePlaces_Edit_Date = ServicePlaces_Edit_Date != "" && ServicePlaces_Edit_Date != null ? ServicePlaces_Edit_Date : ServicePlaces_Edit_Date;
        ServicePlaces_Add_Date = ServicePlaces_Add_Date != "" && ServicePlaces_Add_Date != null ? ServicePlaces_Add_Date : ServicePlaces_Add_Date;
        $.ajax({
            type: 'GET',
            url: "/Profile/ServicePlaces/CreationDetail",
            data: {
                Xrow: ServicePlacesID, Action_Status: ServicePlaces_Action_Status, Add_Date: ServicePlaces_Add_Date,
                Add_By: ServicePlaces_Add_By, Action_Date: ServicePlaces_Action_Date, Action_By: ServicePlaces_Action_By, Edit_Date: ServicePlaces_Edit_Date, Edit_By: ServicePlaces_Edit_By
            },
            cache: false,
            success: function (ServicePlacesLbl_result) {
                $('#ServicePlaces_Lbl_ActionOn').text(ServicePlacesLbl_result.Lbl_StatusOn);
                $('#ServicePlaces_Lbl_ActionBy').text(ServicePlacesLbl_result.Lbl_StatusBy);
                $('#ServicePlacesLbl_Status').text(ServicePlacesLbl_result.Lbl_Status);
                $('#ServicePlacesLbl_Create').text(ServicePlacesLbl_result.Lbl_Create);
                $('#ServicePlacesLbl_Modify').text(ServicePlacesLbl_result.Lbl_Modify);
                if (ServicePlacesLbl_result.Lbl_Status_Color != "") {
                    $('#ServicePlacesLbl_Status').css('color', ServicePlacesLbl_result.Lbl_Status_Color);
                }
                if (ServicePlacesLbl_result.Pic_Status != "") {
                    $('#ServicePlaces_LockICON').css('class', ServicePlacesLbl_result.Pic_Status);
                }

            }
        });
    }
</script>

    <script type="text/javascript">
    function OnServicePlacesNewClick() {
        if ("@ServicePlaces_AddRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        @*if ('@ViewData["Open_Ins_Id_Check"]' != "00001") {

            var insName = '@ViewData["Open_Ins_Name"]';
            DevExpress.ui.dialog.alert("In " + insName + " <br><br> Godly Service Place Creation Not Applicable...!", "Service Places");
            return;
        }*@

        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Profile/ServicePlaces/Frm_ServicePlace_Window",
            data: { Tag: "New" },
            cache: false,
            success: function (data) {
                OpenDynamicPopup("New ~ Service Places", null, "auto", 700, true, data);
            }
        });

    }

    function OnServicePlacesEditClick() {

        if ("@ServicePlaces_UpdateRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }

        if (ServicePlacesID == 'undefined' || ServicePlacesID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }

        $.ajax({
            type: 'GET',
            url: "/Profile/ServicePlaces/DataNavigation",
            data: { ActionMethod: "Edit", id: ServicePlacesID, Edit_Date: encodeURIComponent(ServicePlaces_EditDate) },
            cache: false,

            success: function (data) {
                HideLoader();
                if(data.jsonParam.result == true){
                    OpenServicePlaceWindowEditMode()
                }
                else {
                    if (data.jsonParam.isconfirm == true) {
                        var confirmation = DevExpress.ui.dialog.confirm(data.jsonParam.message, data.jsonParam.title);
                        confirmation.done(function (result) {
                            if (result) {
                                OpenServicePlaceWindowEditMode();
                            }
                            else if (data.jsonParam.refreshgrid) {
                                ServicePlacesListGrid.Refresh();
                            }
                        });
                    }
                    else {
                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                        if (data.jsonParam.refreshgrid) {
                            ServicePlacesListGrid.Refresh();
                        }
                    }
                }
            }
        });

    }

    function OpenServicePlaceWindowEditMode() {

        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Profile/ServicePlaces/Frm_ServicePlace_window",
            data:
            {
                Tag: "Edit",
                xId: ServicePlacesID,
                Info_LastEditedOn: ServicePlaces_EditDate
            },
            cache: false,
            success: function (data) {
                OpenDynamicPopup("Edit ~ ServicePlaces", null, "auto", 700, true, data);
                /*OpenPopup("popup_frm_Bank_Window", "Edit ~ ServicePlaces", null, "auto", 1024, true, data);*/
            }
        });
    }

    function OnServicePlacesViewClick()
     {
        if ("@ServicePlaces_ViewRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (ServicePlacesID == 'undefined' || ServicePlacesID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }

        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Profile/ServicePlaces/DataNavigation",
            data: { ActionMethod: "View", id: ServicePlacesID, Edit_Date: ServicePlaces_EditDate.toString()},
            cache: false,
            success: function (data)
            {

                HideLoader();
                if (data.jsonParam.result == true)
                {
                    $.ajax({
                        type: 'GET',
                        url: "/Profile/ServicePlaces/Frm_ServicePlace_Window",
                        data:
                        {
                            Tag: "View",
                            xId: ServicePlacesID,
                            Info_LastEditedOn: ServicePlaces_EditDate
                        },
                        cache: false,
                        success: function (data) {
                            ShowLoader();
                            OpenDynamicPopup("View ~ ServicePlaces", null, "auto", 700, true, data);
                            //OpenPopup("popup_frm_ServicePlaces_Window", "View ~ Bank Account", null, "auto", 1024, true, data);
                        }
                    });
                }
                else
                {
                    DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                    if (data.jsonParam.refreshgrid)
                    {
                        ServicePlacesListGrid.Refresh();
                    }
                }
            }
        });
     }

    function OnServicePlacesDeleteClick() {

        if ("@ServicePlaces_DeleteRight" == "False") {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (ServicePlacesID == 'undefined' || ServicePlacesID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Profile/ServicePlaces/DataNavigation",
                data: { ActionMethod: "Delete", id: ServicePlacesID, Edit_Date: ServicePlaces_EditDate.toString() },
                cache: false,
                success: function (data) {
                    HideLoader();
                    if (data.jsonParam.result == true) {
                        OpenServicePlaceWindowDeleteMode()
                    }
                    else {
                        if (data.jsonParam.isconfirm == true) {
                            var confirmation = DevExpress.ui.dialog.confirm(data.jsonParam.message, data.jsonParam.title);
                            confirmation.done(function (result) {
                                if (result) {
                                    OpenServicePlaceWindowDeleteMode();
                                }
                                else if (data.jsonParam.refreshgrid) {
                                    ServicePlacesListGrid.Refresh();
                                }
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                            if (data.jsonParam.refreshgrid) {
                                ServicePlacesListGrid.Refresh();
                            }
                        }
                    }
                }
            });
        }

    function OpenServicePlaceWindowDeleteMode()
     {
         ShowLoader();
         $.ajax({
             type: 'GET',
             url: "/Profile/ServicePlaces/Frm_ServicePlace_window",
             data:
             {
                 Tag: "Delete",
                 xId: ServicePlacesID,
                 Info_LastEditedOn: ServicePlaces_EditDate
             },
             cache: false,
             success: function (data) {
                 OpenDynamicPopup("Delete ~ ServicePlaces", null, "auto", 700, true, data);
                 //OpenPopup("popup_frm_Bank_Window", "Delete ~ Bank Account", null, "auto", 1024, true, data);
             }
         });
     }

    function OnServicePlacesListPreviewClick() {
        if ("@ServicePlaces_ExportRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        @*$("#ServicePlaces_report_modal").dxPopup("show");
        $("#ServicePlaces_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#ServicePlaces_report_modal").html('');
        ShowLoader();
        $("#ServicePlaces_report_modal_result").load("@Url.Action("Frm_Export_Options", "ServicePlaces", new { @area = "Profile" })", function () {
            HideLoader();
        });*@

        OpenPopup("ServicePlaces_report_modal", "Export Option","@Url.Action("Frm_Export_Options", "ServicePlaces", new { @area = "Profile" })","auto", 125,false, null)
    }

    </script> @*All these are new, edit, delete, view, button click codes*@

    <script type="text/javascript">
    function GetSelectedFieldValuesCallback(values) {
        SelectedRows.BeginUpdate();
        try {
            SelectedRows.ClearItems();
            for (var i = 0; i < values.length; i++) {
                SelectedRows.AddItem(values[i]);
            }
        } finally {
            SelectedRows.EndUpdate();
        }
        $("#count").html(gvRowSelection.GetSelectedRowCount());

    }

    function ServicePlacesContextMenuFunction(s, e) {
        if (e.item.name == 'New') {
            OnServicePlacesNewClick();
        }
        if (e.item.name == 'Close') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'Edit') {
            OnServicePlacesEditClick();
        }
        else if (e.item.name == 'Delete') {
            OnServicePlacesDeleteClick();
        }
        else if (e.item.name == 'View') {
            OnServicePlacesViewClick();
        }
        else if (e.item.name == 'ListPreview') {
            OnServicePlacesListPreviewClick();
        }
        else if (e.item.name == 'Discontinue') {
            OnServicePlacesDiscontinueClick();
        }
        else if (e.item.name == 'continue') {
            OnServicePlacescontinueClick();
        }
        else if (e.item.name == 'Refresh') {
            ServicePlacesListGrid.Refresh();
        }

    }

    @*function ServicePlaceOnLockClick()
    {
        if ("@ServicePlace_LockUnlockRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        ShowLoader();
        if (ServicePlaceID_ServicePlaceProfile ==null)
        {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'POST',
            url: "/Profile/ServicePlaces/DataNavigation",
            data: {
                ActionMethod: "LOCKED",
                id: ServicePlaceID_ServicePlaceProfile,
                //Selectedid: Bank_SelectedBankID

            },
            cache: false,
            success: function (data)
            {
                HideLoader();
                if (data.jsonParam.result == true)
                {
                    ServicePlacelock();
                }
                else
                {
                    if (data.jsonParam.isconfirm == true)
                    {
                        var confirmation = DevExpress.ui.dialog.confirm(data.jsonParam.message, data.jsonParam.title);
                        confirmation.done(function (result)
                        {
                            if (result)
                            {
                                ServicePlacelock();
                            }
                            else if (data.jsonParam.refreshgrid)
                            {
                                BankListGrid.Refresh();
                            }
                        });
                    }
                    else
                    {
                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                        if (data.jsonParam.refreshgrid)
                        {
                            BankListGrid.Refresh();
                        }
                    }
                }
            }
        });
        HideLoader();
    }
    function ServicePlacelock()
    {
        ShowLoader();
        $.ajax({
            type: 'POST',
            url: "/Profile/Bank/Banklock",
            data:
            {
                Selectedid: ServicePlaceID_ServicePlaceProfile
            },
            cache: false,
            success: function (data)
            {
                if (data.xid != null)
                {
                    Select_xid = data.xid;
                }
                DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                if (data.jsonParam.refreshgrid)
                {
                    BankListGrid.Refresh();
                }
                HideLoader();
            }
        });
    }*@

    </script>

    <script>
    var ServicePlace_IsDetailRowExpanded = false;
    var ServicePlace_NestedRecord_FocusedRowIndex = -1;
    var ServicePlace_NestedGrid_AccessID;
    var ServicePlace_AtachmentID;
    var ServicePlace_FileName;
    var ServicePlace_ParamMandatory;
    var ServicePlace_FromDateLabel;
    var ServicePlace_ToDateLabel;
    var ServicePlace_DescriptionLabel;
    var ServicePlace_Doc_ID;
    var ServicePlace_Doc_Category;
    var ServicePlace_MasterRowRecID;
    var ServicePlace_MasterRowMID;
    var ServicePlace_NestedRowMapID;
    var ServicePlace_reason;
    var ServicePlace_Attachment_RecStatus;


    function On_ServicePlace_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (ServicePlace_ParamMandatory == 1)
            {
                AddAttachment(ServicePlace_MasterRowRecID, "Profile_ServicePlaces", ServicePlace_Doc_ID, ServicePlace_Doc_Category, ServicePlace_ParamMandatory, ServicePlace_FromDateLabel, ServicePlace_ToDateLabel, ServicePlace_DescriptionLabel, "ServicePlaceProfileAttachment", null, "ServicePlacesListGrid", ServicePlace_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(ServicePlace_MasterRowRecID, "Profile_ServicePlaces", ServicePlace_Doc_ID, "ServicePlaceProfileAttachment", "ServicePlacesListGrid", ServicePlace_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (ServicePlace_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(ServicePlace_MasterRowRecID, "Profile_ServicePlaces", ServicePlace_AtachmentID, ServicePlace_ParamMandatory, ServicePlace_FromDateLabel, ServicePlace_ToDateLabel, ServicePlace_DescriptionLabel, "ServicePlaceProfileAttachment", null, "ServicePlacesListGrid", ServicePlace_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(ServicePlace_MasterRowRecID, "Profile_ServicePlaces", ServicePlace_AtachmentID, ServicePlace_ParamMandatory, ServicePlace_FromDateLabel, ServicePlace_ToDateLabel, ServicePlace_DescriptionLabel, null, "ServicePlacesListGrid", ServicePlace_NestedGrid_AccessID,ServicePlace_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }


            ViewDocument(ServicePlace_AtachmentID, ServicePlace_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'),document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(ServicePlace_MasterRowRecID, "Profile_ServicePlaces", "Service Places Information", "ServicePlacesListGrid", ServicePlace_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (ServicePlace_Doc_Category.toLowerCase() == "others") {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else {
                AttachmentAddReason(ServicePlace_MasterRowRecID, ServicePlace_NestedRowMapID, "Profile_ServicePlaces", "ServicePlacesListGrid", ServicePlace_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(ServicePlace_MasterRowRecID, ServicePlace_NestedRowMapID, "Profile_ServicePlaces", "ServicePlacesListGrid", ServicePlace_NestedGrid_AccessID, ServicePlace_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(ServicePlace_MasterRowRecID, ServicePlace_NestedRowMapID, "ServicePlacesListGrid", ServicePlace_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
    }
    function OnServicePlacesListGridNestedFocusedRowChange(s, e)
    {
        if (ServicePlace_IsDetailRowExpanded)
        {
            ServicePlace_NestedRecord_FocusedRowIndex = s.GetFocusedRowIndex();
            if (ServicePlace_NestedRecord_FocusedRowIndex >= 0)
            {
                ShowLoader();
                ServicePlace_NestedGrid_AccessID = s.uniqueID;
                s.GetRowValues(s.GetFocusedRowIndex(),'Doc_Status;Params_Mandatory;LABEL_FROM_DATE;LABEL_TO_DATE;LABEL_DESCRIPTION;Document_Category;Document_ID;ATTACH_ID;TxnID;TxnMID;MAP_ID;Reason;ATTACH_FILE_NAME;Attachment_Action_Status;UniqueID', OnServicePlace_GetGridRowValues);
            }
            else
            {
                ServicePlacePrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }
    function OnServicePlace_GetGridRowValues(values)
    {
        HideLoader();
        if (values[14] != null)
        {
            ServicePlacePrf_FAB.SetVisible(true);
            ServicePlace_Nested_Doc_Status = values[0];
            if (ServicePlace_Nested_Doc_Status == "") {
                ServicePlacePrf_FAB.SetActionContext("AutoItemContext", true);
            }
            else if (ServicePlace_Nested_Doc_Status == "NO") {
               ServicePlacePrf_FAB.SetActionContext("EditItemContext", true);
            }
            else if (ServicePlace_Nested_Doc_Status == "YES") {
                ServicePlacePrf_FAB.SetActionContext("actionItemContext", true);
            }
            ServicePlace_ParamMandatory = values[1];
            ServicePlace_FromDateLabel = values[2];
            ServicePlace_ToDateLabel = values[3];
            ServicePlace_DescriptionLabel = values[4];
            ServicePlace_Doc_Category = values[5];
            ServicePlace_Doc_ID = values[6];
            ServicePlace_AtachmentID = values[7];
            ServicePlace_MasterRowRecID = values[8];
            ServicePlace_MasterRowMID = values[9];
            ServicePlace_NestedRowMapID = values[10];
            ServicePlace_reason = values[11];
            ServicePlace_FileName = values[12];
            ServicePlace_Attachment_RecStatus = values[13];
            if (SrvicPlac_IsVouchingMode == true)
            {
                if (ServicePlace_FileName != null && ServicePlace_FileName.length > 0)
                {
                    ViewDocument(ServicePlace_AtachmentID, ServicePlace_FileName, "ServicePlacePrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else
                {
                    var pane = Mainspliter.GetPaneByName('RightPane');
                    pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
                    document.getElementById('RightPane_div_Iframe').style.display = "none";
                    document.getElementById('RightPane_div_Img').style.display = "none";
                }
            }
        }
    }
    function ServicePlacesGrid_Nested_BeginCallBack(s, e)
    {
        e.customArgs["ShowHorizontalBar"] = ServicePlaces_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = SrvicPlac_IsVouchingMode;
        e.customArgs["command"] = e.command;
    }
    function ServicePlace_DetailRowExpanding(s, e)
    {
        ServicePlace_IsDetailRowExpanded = true;
        s.SetFocusedRowIndex(e.visibleIndex);
        var pane = Mainspliter.GetPaneByName('RightPane');
        if (SrvicPlac_IsVouchingMode == true)
        {
            pane.Expand();
        }
        else
        {
            pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
    }
    function ServicePlace_DetailRowCollapsing(s, e)
    {
        ServicePlace_IsDetailRowExpanded = false;
        s.SetFocusedRowIndex(e.visibleIndex);
        if (SrvicPlac_IsVouchingMode == true)
        {
            if (Mainspliter.GetPaneByName('RightPane').IsCollapsed() == false)
            {
                CollapsePane(Mainspliter.GetPaneByName('RightPane'), Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
        else
        {
            ServicePlacePrf_FAB.SetVisible(false);
        }
    }


    </script>
    @*attachment and nested grid*@

    <script>
        function ClearAllReferences_ServicePlacesProfile() {
            ServicePlace_IsDetailRowExpanded = null;
            ServicePlace_NestedRecord_FocusedRowIndex = null;
            ServicePlace_NestedGrid_AccessID = null;
            ServicePlace_AtachmentID = null;
            ServicePlace_FileName = null;
            ServicePlace_ParamMandatory = null;
            ServicePlace_FromDateLabel = null;
            ServicePlace_ToDateLabel = null;
            ServicePlace_DescriptionLabel = null;
            ServicePlace_Doc_ID = null;
            ServicePlace_Doc_Category = null;
            ServicePlace_MasterRowRecID = null;
            ServicePlace_MasterRowMID = null;
            ServicePlace_NestedRowMapID = null;
            ServicePlace_reason = null;
            ServicePlace_Attachment_RecStatus = null;
            ServicePlacesID = null;
            ServicePlaces_EditDate = null;
            ServicePlaces_AddDate = null;
            ServicePlaces_AddBy = null;
            ServicePlaces_EditBy = null;
            ServicePlaces_ActionStatus = null;
            ServicePlaces_ActionDate = null;
            ServicePlaces_ActionBy = null;
            ServicePlace_ColumnToBeShownIndex = null;
            ServicePlace_ColumnToBeHidddenIndex = null;
            ServiePlace_Select_xid = null;
            ServicePlace_FocusedRowBeforeRefresh = null;
            ServicePlaceInfo_SetVouchingModeOn = null;
            UserType_SerPlacePrf = null;
            SrvicPlac_IsVouchingMode = null;
            ServicePlaces_ViewMode = null;
            ServicePlaceID_ServicePlaceProfile = null;
            ServicePlaces_ShowHorizontalBar = null;

            ClearAllReferences("ServicePlacesProfile_ClearReferences");
        }

    </script>
</div>