<div class="ServicePlaces_WindowProfile_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Profile.Models.ServicePlaces

    @{
        //ViewBag.Test = Model.ActionMethod;
        bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
        bool readOnly = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
        bool ServicePlace_ListFacilityAddress = (bool)ViewData["ServicePlace_ListFacilityAddress"];
    }
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();

    }

    <style>


        #ServicePlacesWindow {
            padding-left: 0px;
            padding-right: 0px;
        }

        #But_Owner_ServicePlaces{width:150px;}

        #But_Owner_ServicePlaces .dx-button-text, #DonManage .dx-button-text {
            color: black;
        }

        #But_Res_Person_ServicePlaces .dx-icon, #But_Owner_ServicePlaces .dx-icon {
            width: 32px;
            height: 32px;
            line-height: normal;
            left: 0;
            top: -40px;
            bottom: 0;
            right:0;
        }

        #But_Res_Person_ServicePlaces .dx-button-content, #But_Owner_ServicePlaces .dx-button-content {
            height: inherit;
            width: 100%;
            padding-top: 40px;
            padding-bottom: 25px;
            padding-left:0;
            white-space: normal;
        }

        .service_days .dx-checkbox{margin-right:5px; margin-top:4px; position:relative; top:-1px}
        .service_days .dx-button{margin-right:5px;}
        .flxbox { display:flex; justify-content: space-between;}

         @@media (max-width:767px){
            #But_Res_Person_ServicePlaces, #But_Owner_ServicePlaces, #But_Res_Person_ServicePlaces .dx-button-content, #But_Owner_ServicePlaces .dx-button-content {
                width: 100% !important;
                padding-top: 26px;
                overflow:visible;
            }
            #But_Res_Person_ServicePlaces .dx-icon, #But_Owner_ServicePlaces .dx-icon { width: 32px; height: 32px; line-height: normal; left: 0; top: -40px; bottom: 0; right: 0; }
            #But_Owner_ServicePlaces .dx-button-text, #DonManage .dx-button-text{margin-top:45px}
            .flxbox{display:block}
            .flxbox > div{display:inline-block; margin-right: 10px; margin-bottom: 5px; float:left;}
        }

    </style> @*Css code for the page*@

    <div class="container-fluid" id="ServicePlacesWindow">
        @using (Ajax.BeginForm("Frm_ServicePlace_Window", "ServicePlaces",
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "ServicePlacesWindow",
            InsertionMode = InsertionMode.InsertAfter,
            OnBegin = "AjaxBeginFormPost",
            OnSuccess = "ServicePlacesAjaxSuccessForm"
        },
        new
        {
            id = "ServicePlacesForm",
            @class = "edit_form"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.xID)
            @Html.HiddenFor(x => x.TitleX_ServicePlace)
            @Html.HiddenFor(x => x.SubTitleX_ServicePlace)
            @Html.HiddenFor(x => x.Txt_Name_Tag_ServicePlaces)
            @Html.HiddenFor(x => x.LastEditedOn_ServicePlace)
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.Tag)

            @*
                @Html.HiddenFor(x => x.Txt_CustNo_Tag)
                @Html.HiddenFor(x => x.Txt_No_Tag)
                @Html.HiddenFor(x => x.SignList1_REC_EDIT_ON)
                @Html.HiddenFor(x => x.SignList2_REC_EDIT_ON)
                @Html.HiddenFor(x => x.SignList3_REC_EDIT_ON)
                @Html.HiddenFor(x => x.AddDate)
                @Html.HiddenFor(x => x.AddBy)
                @Html.HiddenFor(x => x.bankData)
            *@
            var errors = ViewData.ModelState
                .Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();

            using (Html.DevExtreme().ValidationGroup("ServicePlaceValidationGroup"))
            {
                <div class="full-width-header">
                    <div class="row">
                        <div class="col-sm-6 pll" id="TitleX_Div_ServicePlace">
                            <h3 class="popuphead">
                                <i class="far fa-edit"></i>
                                @Model.TitleX_ServicePlace
                            </h3>
                        </div>
                        <div class="col-sm-6 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                    </div>
                </div><!--[Header]-->

                //Service Place Name - Row 1
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-2 pll">
                            <label class="control-label text-red">Place Name:</label>
                        </div>
                        <div class="col-sm-10 prm mrb-2">
                            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                        .ID("Txt_Name_ServicePlaces")
                        .Name("Txt_Name_ServicePlaces")
                        .Value(Model.Txt_Name_ServicePlaces)
                        .Placeholder("Type Service Place Name...")
                        .MaxLength(250).Disabled(readOnly)
                        )
                        </div>
                    </div>
                </div>

                //Next Row Place Type and Start Date
                <div class="row">
                    <div class="col-md-6">
                        @*//This div is for Place Type*@
                        <div class="form-field">
                            <div class="row">
                                <div class="col-md-4 pll">
                                    <label class="control-label text-red">Place Type:</label>
                                </div>
                                <div class="col-md-8 prm">
                                    @(Html.DevExtreme().SelectBox()
                                .ID("Cmb_PlaceType_ServicePlaces")
                                .Name("Cmb_PlaceType_ServicePlaces")
                                .DataSource(new[] { "Pathshala", "Class", "Garden", "Museum","Accommodation"})
                                .Value(Model.Cmb_PlaceType_ServicePlaces)
                                .OnValueChanged("Cmb_PlaceType_ServicePlaces_SelectedIndexChanged")
                                .SearchEnabled(true).Placeholder("Select Service Place Type").Disabled(readOnly)
                                )
                                    @Html.ValidationMessageFor(model => model.Cmb_PlaceType_ServicePlaces, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        @*//This div is for start date*@
                        <div class="form-field">
                            <div class="row">
                                <div class="col-md-4 pll">
                                    <label class="control-label text-red">Start Date:</label>
                                </div>
                                <div class="col-md-8 prm">
                                    @(Html.DevExtreme().DateBox().CustomDateBox()
                                        .Name("Txt_St_Date_ServicePlaces")
                                        .ID("Txt_St_Date_ServicePlaces")
                                        .Value(Model.Txt_St_Date_ServicePlaces).Min(DateTime.MinValue)
                                        .Max(DateTime.Now).DateOutOfRangeMessage("Date cannot be higher than Today's...!")
                                        .ShowClearButton(true).Disabled(readOnly)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                //This row is for Service Days
                <div class="form-field service_days">
                    <div class="row">
                        <div class="col-sm-2 pll">
                            <label class="control-label text-red">Service Days:</label>
                        </div>@*Service Days Label*@
                    <div class="flxbox">
                        <div>@(Html.DevExtreme().Button().ID("But_SelectAll_ServicePlaces").Text("Select All").OnClick("Select_All_Weekdays").Disabled(readOnly))</div>@*select All buttons*@
                        <div>@(Html.DevExtreme().CheckBox().ID("Chk_Mon").Name("Chk_Mon").Value(Model.Chk_Mon).ElementAttr("class", "chk_wk").ReadOnly(readOnly))Mon</div>@*This is for all week days checkboxes*@
                        <div>@(Html.DevExtreme().CheckBox().ID("Chk_Tue").Name("Chk_Tue").Value(Model.Chk_Tue).ElementAttr("class", "chk_wk").ReadOnly(readOnly))Tue</div>
                        <div>@(Html.DevExtreme().CheckBox().ID("Chk_Wed").Name("Chk_Wed").Value(Model.Chk_Wed).ElementAttr("class", "chk_wk").ReadOnly(readOnly))Wed</div>
                        <div>@(Html.DevExtreme().CheckBox().ID("Chk_Thu").Name("Chk_Thu").Value(Model.Chk_Thu).ElementAttr("class", "chk_wk").ReadOnly(readOnly))Thu</div>
                        <div>@(Html.DevExtreme().CheckBox().ID("Chk_Fri").Name("Chk_Fri").Value(Model.Chk_Fri).ElementAttr("class", "chk_wk").ReadOnly(readOnly))Fri</div>
                        <div>@(Html.DevExtreme().CheckBox().ID("Chk_Sat").Name("Chk_Sat").Value(Model.Chk_Sat).ElementAttr("class", "chk_wk").ReadOnly(readOnly))Sat</div>
                        <div>@(Html.DevExtreme().CheckBox().ID("Chk_Sun").Name("Chk_Sun").Value(Model.Chk_Sun).ElementAttr("class", "chk_wk").ReadOnly(readOnly))Sun</div>
                        <div>@(Html.DevExtreme().Button().ID("But_DeselectAll_ServicePlaces").Text("Deselect All").OnClick("UnSelect_All_Weekdays").Disabled(readOnly))</div>
                    </div>
                    </div>
                </div>

                //Time and Status Row
                <div class="row">
                    <div class="col-sm-6">
                        @*//Time*@
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    @*//Time Label*@
                                    @Html.LabelFor(model => model.Txt_Timings_ServicePlaces,
                                    htmlAttributes: new { @class = "control-label text-red" })
                                </div>
                                <div class="col-sm-8 prm">
                                    @*//Time Box*@
                                    @(Html.DevExtreme().DateBox().Type(DateBoxType.Time).DisplayFormat("hh:mm a").UseMaskBehavior(true)
                                .Placeholder("hh:mm AM/PM")
                                .ID("Txt_Timings_ServicePlaces")
                                .Name("Txt_Timings_ServicePlaces")
                                .Value(Model.Txt_Timings_ServicePlaces).ReadOnly(readOnly)

                                )
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    @*//Status Label*@
                                    @Html.LabelFor(model => model.cmb_Status_ServicePlaces,
                                    htmlAttributes: new { @class = "control-label text-red" })
                                </div>
                                <div class="col-sm-8 prm">
                                    @*//Status Drop box*@
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox()
                                        .ID("cmb_Status_ServicePlaces")
                                        .Name("cmb_Status_ServicePlaces")
                                        .DataSource(new[] { "Active", "Inactive" })
                                        .ShowClearButton(false)
                                        .Value(Model.cmb_Status_ServicePlaces).Placeholder("Select Status").ReadOnly(readOnly)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                //Service Place Owner / Address
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <fieldset id="rpt_LayoutControlItem1" class="default-fieldset">
                                
                                <legend><img src="~/Content/image/user_icon.png" style="height:20px;" />
                                    @*id="lbl_rpt_Ref_Title" class="custom-legend mlm disabletxt">*@
                                    Service Place Owner / Address
                                </legend>
                                <div class="row">
                                    <div class="col-sm-2">
                                        @*//Label for Person Name of Owner of place*@
                                        <label class="control-label text-red">Person Name:</label>
                                    </div>

                                    <div class="col-sm-8" style="padding-right:6px">
                                        @*//Drop down of place owners*@
                                        @*//Drop Box*@

                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_PlaceOwner_ServicePlaces")
                                            .Name("Look_PlaceOwner_ServicePlaces")
                                            //.Value(Model.Look_PlaceOwner_ServicePlaces)
                                            .ValueExpr("ID")
                                            .DisplayExpr("NAME")
                                            .DataSource(d => d.Mvc().Controller("ServicePlaces").LoadAction("LookUp_GetOwnerList_ServicePlaces")
                                            .Key("ID").LoadParams(new { DDRefresh = new JS("function (){ return Look_PlaceOwner_DDrefresh;}") }))
                                            .Placeholder("Select Place Owner...")
                                            .OnValueChanged("Look_PlaceOwner_EditValueChanged_ServicePlaces").Disabled(readOnly)
                                            .ContentTemplate(@<text> @Html.Partial("Frm_ServicePlace_GetOwnerList") </text>)
                                        )
                                        @*//Address*@
                                        <small id="Lbl_PlaceAddress_ServicePlaces"></small>
                                        <br>
                                        @*//Contact Details*@
                                        <small id="Lbl_Contact_ServicePlaces"></small>
                                    </div>

                                    <div class="col-sm-2">
                                        @*//Big Button - Manage Service Place Owner*@
                                        @(Html.DevExtreme().Button()
                                    .ID("But_Owner_ServicePlaces")
                                    .Type(DevExtreme.AspNet.Mvc.ButtonType.Default)
                                    .Text("Manage Service Place Owner")
                                    .Height(80)
                                    .OnClick("ManageOwner_ServicePlaces")
                                    .Icon(Url.Content("../../../../Icons/manage user.png"))
                                    .Disabled(Model.ActionMethod == "_View" || Model.ActionMethod == "_Delete")
                                    )
                                        
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>

                //Center Responsible Person
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <fieldset id="rpt_LayoutControlItem2" class="default-fieldset">
                                
                                <legend id="lbl_rpt_Ref_Title" class="custom-legend mlm"><i class="fas fa-home checkgreen"></i> Center Responsible Person</legend>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label class="control-label text-red">Person Name:</label>
                                    </div>

                                    <div class="col-sm-8" style="padding-right:6px">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_ResponsiblePerson_ServicePlaces")
                                            .Name("Look_ResponsiblePerson_ServicePlaces")
                                            //.Value(Model.Look_ResponsiblePerson_ServicePlaces).ValueExpr("ID")
                                            .DisplayExpr("NAME")
                                            .DataSource(d => d.Mvc().Controller("ServicePlaces").LoadAction("LookUp_GetResponsibleList_ServicePlaces")
                                            .Key("ID").LoadParams(new { DDRefresh = new JS("function (){ return Look_ResponsiblePerson_DDrefresh;}") }))
                                            .Placeholder("Select Responsible Person...")
                                            .OnValueChanged("Look_ResponsiblePerson_EditValueChanged_Bank").Disabled(readOnly)
                                            .ContentTemplate(@<text> @Html.Partial("Frm_ServicePlace_GetResponsibleList") </text>)
                                        )
                                        @*//Contact Details*@
                                        <small id="lbl_ResponsibleContact_ServicePlaces"></small>
                                    </div>

                                    <div class="col-sm-2 col-md-2">
                                        @*//Big Button - Manage Responsible*@
                                        @(Html.DevExtreme().Button()
                                            .ID("But_Res_Person_ServicePlaces")
                                            .Text("Manage Responsible Person")
                                            .Width(150).Height(80)
                                            .OnClick("ManageResponsible_ServicePlaces")
                                            .Icon(Url.Content("../../../../Icons/manage user.png"))
                                            .Disabled(readOnly)
                                        )
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>

                //Other Details
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-2 pll">
                            <label class="control-label">Other Details:</label>
                        </div>
                        <div class="col-sm-6 prm mrb-2">
                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_OtherDetails_ServicePlaces").Name("Txt_OtherDetails_ServicePlaces")
                                .Value(Model.Txt_OtherDetails_ServicePlaces).Placeholder("Type any other details / remarks...").MaxLength(250).Disabled(readOnly)
                            )
                        </div>
                        <div class="col-sm-2 pll">
                            <label class="control-label">Max Capacity:</label>
                        </div>
                        <div class="col-sm-2 prm mrb-2">
                            @(Html.DevExtreme().NumberBox().CustomNumberBox(true)
                                .ID("Txt_MaxCapacity_ServicePlaces")
                                .Name("Txt_MaxCapacity_ServicePlaces")
                                .Value(Model.Txt_MaxCapacity_ServicePlaces)
                                .Placeholder("Type Maximum Capacity..").Min(0).Format("#0").Disabled(readOnly)
                            )
                        </div>

                    </div>
                </div>                
                <!--<div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-5">
                                <label class="control-label text-red">Send Your Request to Madhuban</label>-->
                @*@Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Receipt)...", Model.ActionMethod.Substring(1)))*@
                <!--</div>
                            <div class="col-sm-2" id="xId_ServicePlaces">

                            </div>
                            <div class="col-sm-5">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().ID("BUT_SAVE_COM_ServicePlaces")
                                    .CustomSaveButton()
                                    .Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_New_From_Selection" || Model.ActionMethod.ToString().Trim() == "_Edit") ? "Save" : "Delete")
                                    .UseSubmitBehavior(false)
                                    .Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true)
                                    .OnClick("ServicePlace_SaveClick")
                                    )
                                    @(Html.DevExtreme().Button().ID("BUT_CANCEL_ServicePlaces")
                                    .CustomCloseButton()
                                    .Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit" || Model.ActionMethod.ToString().Trim() == "_Delete") ? "Cancel" : "Close")
                                    .FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!--[Buttons]-->



                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ {1})...", Model.ActionMethod.Substring(1), Model.TitleX_ServicePlace))
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <div class="styleActionBtn">
                                    @*@(Html.DevExtreme().Button().ID("BUT_SAVE_COM_ServicePlaces")
                                        .CustomSaveButton()
                                        .Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_New_From_Selection" || Model.ActionMethod.ToString().Trim() == "_Edit") ? "Save" : "Delete")
                                        .UseSubmitBehavior(false)
                                        .Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true)
                                        .OnClick("ServicePlace_SaveClick")
                                        )*@

                                    @(Html.DevExtreme().Button().ID("BUT_SAVE_COM_ServicePlaces")
                                .CustomSaveButton(Model.ActionMethod.ToString())
                                .Text((Model.ActionMethod.ToString().Trim() == "_Delete") ? "Delete" : "Save")
                                .UseSubmitBehavior(false).Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true)
                                .OnClick("ServicePlace_SaveClick"))
                                    @*@(Html.DevExtreme().Button().ID("BUT_CANCEL_ServicePlaces")
                                        .CustomCloseButton()
                                        .Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit" || Model.ActionMethod.ToString().Trim() == "_Delete") ? "Cancel" : "Close")
                                        .FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>)
                                        )*@


                                    @(Html.DevExtreme().Button().ID("BUT_CANCEL_ServicePlaces")
                                .CustomCloseButton().Text((Model.ActionMethod.ToString().Trim() == "_View") ? "Close" : "Cancel")
                                .FocusStateEnabled(true)
                                .OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->


            }
        }
    </div>  @*HTML code for the page*@


    @*Global Variables declarations and Document.Ready function.*@
<script type="text/javascript">


    //var ActionMethod_ServicePlace = "@Model.ActionMethod";
    var ActionMethod_ServicePlace = "@Model.Tag";

    //Dropdown related variables
    var Look_PlaceOwner_DataGrid;
    var Look_ResponsiblePerson_DataGrid;


    var Look_PlaceOwner_DDrefresh = false;
    var Look_ResponsiblePerson_DDrefresh = false;

    $(document).ready(async function () {        
        if ("@Model.ActionMethod".toUpperCase() == "_EDIT" || "@Model.ActionMethod".toUpperCase() == "_NEW") {
            dontaskpopupcloseconfirmation = false;
        } else {
            dontaskpopupcloseconfirmation = true;
        }
        
        TransformTextForDB("ServicePlacesForm")
        sessionclearpath = "/Profile/ServicePlaces/SessionClear_Window";
        InitAllDropdownDatagrid_SerivePlaces();
        await LookUp_GetOwnerList_ServicePlaces(true);
        await LookUp_GetResponsibleList_ServicePlaces(true);

        if ("@Model.Look_PlaceOwner_ServicePlaces".length > 0) {
            await Look_PlaceOwner_DataGrid.selectRows("@Model.Look_PlaceOwner_ServicePlaces", false);
        }

        if ("@Model.Look_ResponsiblePerson_ServicePlaces".length > 0) {
            await Look_ResponsiblePerson_DataGrid.selectRows("@Model.Look_ResponsiblePerson_ServicePlaces", false);
        }

        $("#Chk_Mon").dxCheckBox({})
            .dxValidator({
                validationRules:
                    [{
                        type: 'custom',
                        reevaluate: true,
                        validationCallback: function (e)
                        {
                            var x = 0;
                            if ($("#Chk_Mon").dxCheckBox("instance").option("value") == true) { x = x + 1 }
                            if ($("#Chk_Tue").dxCheckBox("instance").option("value") == true) { x = x + 1 }
                            if ($("#Chk_Wed").dxCheckBox("instance").option("value") == true) { x = x + 1 }
                            if ($("#Chk_Thu").dxCheckBox("instance").option("value") == true) { x = x + 1 }
                            if ($("#Chk_Fri").dxCheckBox("instance").option("value") == true) { x = x + 1 }
                            if ($("#Chk_Sat").dxCheckBox("instance").option("value") == true) { x = x + 1 }
                            if ($("#Chk_Sun").dxCheckBox("instance").option("value") == true) { x = x + 1 }
                            //console.log(x);
                            if (x == 0) {
                                return false;
                            } else {
                                return true;
                            }
                        },
                        message: " Weekdays Not Specified..!!"
                    }],
                validationGroup: "ServicePlaceValidationGroup"
            });

        $("#Txt_MaxCapacity_ServicePlaces").dxNumberBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        debugger;
                        var result = true;
                        if (options.value > 99999) {
                            result = false;
                        }
                        return result;
                    },
                    reevaluate: true,
                    ignoreEmptyValue: true,
                    message: "Maximum is 99999"
                }],
                validationGroup: "ServicePlaceValidationGroup"
        });

    });



</script> @*Global Variables declarations and Document.Ready function.*@

    <script type="text/javascript">
    function ServicePlace_SaveClick(e)
    {
        if (e.component.option("text") == "Delete") {
            CreateCustomConfirmDialog("@Model.TitleX_ServicePlace", "", true).show().done(function (dialogResult) {
                if (dialogResult) {
                    $("#ServicePlacesForm").submit();
                }
            });
        }
        else {

            var check = e.validationGroup.validate();            
            if (check.isValid) {

                $("#ServicePlacesForm").submit();
            }
            else {
                if (check.brokenRules[0]['message'] == " Weekdays Not Specified..!!") {
                    DevExpress.ui.dialog.alert(check.brokenRules[0]['message'])
                }
            }
        }
    }


    function ServicePlacesAjaxSuccessForm(data)
    {
        HideLoader();
        if (data.jsonParam.result == false) {


            if (data.jsonParam.refreshgrid) {
                var GridInstance = $('#ServicePlacesListGrid_dx').data("dxDataGrid")
                if (GridInstance !== void 0) {

                    ServicePlacesListGrid_Refresh();
                }
                else
                    RefreshGridView("ServicePlacesListGrid");
            }
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult) {
                if (alertResult) {
                    if (data.jsonParam.focusid) {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function () {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
            if (data.jsonParam.closeform)
            {
                dontaskpopupcloseconfirmation = true;
                $("#Dynamic_Content_popup").dxPopup("hide");
            }
        }
        else if (data.jsonParam.result == true)
        {

            var SavealertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);


            if (typeof ServicePlacesListGrid !== 'undefined')
            {
                if (data.xid != null) {
                    ServiePlace_Select_xid = data.xid;
                }
                RefreshGridView("ServicePlacesListGrid")

                if ("@Model.Tag" == "_New" || "@Model.Tag" == "_New_From_Selection")
                {
                    SavealertClick.done(function (result)
                    {
                        if (result)
                        {
                            var confirm = DevExpress.ui.dialog.confirm('Add More Entry...?', "Service Place");
                            confirm.done(function (dialogResult)
                            {
                                if (dialogResult)
                                {
                                    OnServicePlacesNewClick();
                                }
                            });
                        }
                    });
                }
            }
            dontaskpopupcloseconfirmation = true;
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
    }

    </script> @*This code is for Save button functionality and onsuccessful return of ajax call*@

    <script type="text/javascript">

        //Code for all dropdowns instance setting
        function InitAllDropdownDatagrid_SerivePlaces() {


            var $Look_PlaceOwner_DataGrid = $("#LookUp_GetOwnerList_ServicePlaces_datagrid");
            if ($Look_PlaceOwner_DataGrid.length) {

                Look_PlaceOwner_DataGrid = $Look_PlaceOwner_DataGrid.dxDataGrid("instance");
            }
            var $Look_ResponsiblePerson_DataGrid = $("#LookUp_GetResponsibleList_ServicePlaces_datagrid");
            if ($Look_ResponsiblePerson_DataGrid.length) {
                Look_ResponsiblePerson_DataGrid = $Look_ResponsiblePerson_DataGrid.dxDataGrid("instance");
            }
        }

        async function LookUp_GetOwnerList_ServicePlaces(FirstCall = false) {
            if (FirstCall === false) {
                Look_PlaceOwner_DDrefresh = true;
                await Look_PlaceOwner_DataGrid.refresh();
                Look_PlaceOwner_DDrefresh = false;
            }
            ResetDropdownWithSameValue("Look_PlaceOwner_ServicePlaces", Look_PlaceOwner_DataGrid);
        }

        async function LookUp_GetResponsibleList_ServicePlaces(FirstCall = false) {
            if (FirstCall === false) {
                Look_ResponsiblePerson_DDrefresh = true;
                await Look_ResponsiblePerson_DataGrid.refresh();
                Look_ResponsiblePerson_DDrefresh = false;
            }
            ResetDropdownWithSameValue("Look_ResponsiblePerson_ServicePlaces", Look_ResponsiblePerson_DataGrid);
        }


        function Look_PlaceOwner_EditValueChanged_ServicePlaces(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                Look_PlaceOwner_DataGrid.clearSelection();
                $("#Lbl_PlaceAddress_ServicePlaces").text('');
                $("#Lbl_Contact_ServicePlaces").text('');
                return;
            }

            if (Look_PlaceOwner_DataGrid.getSelectedRowsData().length > 0) {
                var item = Look_PlaceOwner_DataGrid.getSelectedRowsData()[0];
                if ((item["HOUSE_NO"] != undefined || item["HOUSE_NO"] != null) && item["HOUSE_NO"].length > 0)
                {
                    $("#Lbl_PlaceAddress_ServicePlaces").text("Address: " + item["BUILDING"]);
                } else {
                    $("#Lbl_PlaceAddress_ServicePlaces").text("Address: " +  "Not Specified");
                }

                if ((item["HOUSE_NO"]!= undefined || item["HOUSE_NO"] != null) && item["HOUSE_NO"].length > 0) {
                    $("#Lbl_PlaceAddress_ServicePlaces").text($("#Lbl_PlaceAddress_ServicePlaces").html() + ", " + item["HOUSE_NO"]);
                }
                if ((item["AREA_STREET"]!= undefined || item["AREA_STREET"]!= null) && item["AREA_STREET"].length > 0) {
                    $("#Lbl_PlaceAddress_ServicePlaces").text($("#Lbl_PlaceAddress_ServicePlaces").html() + ", " + item["AREA_STREET"]);
                }

                if ((item["MOBILE"]!= undefined || item["MOBILE"]!= null) && item["MOBILE"].length > 0) {
                    $("#Lbl_Contact_ServicePlaces").text("Contact No.: " + item["MOBILE"]);
                }
                else {
                    $("#Lbl_Contact_ServicePlaces").text("Contact No.: Not Specified");
                }
            }

        }
        function Look_ResponsiblePerson_EditValueChanged_Bank(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                Look_ResponsiblePerson_DataGrid.clearSelection();
                $("#lbl_ResponsibleContact_ServicePlaces").text('');
                return;
            }

            if (Look_ResponsiblePerson_DataGrid.getSelectedRowsData().length > 0) {
                var item = Look_ResponsiblePerson_DataGrid.getSelectedRowsData()[0];

                if ((item["MOBILE"] != undefined || item["MOBILE"] != null) && item["MOBILE"].length > 0) {
                    $("#lbl_ResponsibleContact_ServicePlaces").text("Contact No.: " + item["MOBILE"]);
                }
                else {
                    $("#lbl_ResponsibleContact_ServicePlaces").text("Contact No.: Not Specified");
                }
            }
        }
    </script>   @*This code is for all dropdowns*@

    <script type="text/javascript">
    function Select_All_Weekdays() {
        var items = document.getElementsByClassName('chk_wk');
        for (var i = 0; i < items.length; i++) {
            $("#" + items[i].id).dxCheckBox("instance").option("value", true);
        }
    }

    function UnSelect_All_Weekdays() {
        var items = document.getElementsByClassName('chk_wk');
        for (var i = 0; i < items.length; i++) {
            $("#" + items[i].id).dxCheckBox("instance").option("value", false);
        }
    }


    function Cmb_PlaceType_ServicePlaces_SelectedIndexChanged() {

    }
    //This function is to open Place Owner Address List
    function ManageOwner_ServicePlaces() {

        if ("@ServicePlace_ListFacilityAddress" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }

        if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection")
        {
            ManageParty("PlaceOwner_ServicePlace", "LookUp_GetOwnerList_ServicePlaces", "Address Book (Service Place Owner)...");

        }
    }

    function ManageResponsible_ServicePlaces() {
        if ("@ServicePlace_ListFacilityAddress" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }

        if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection")
        {
            ManageParty("ResponsiblePerson_ServicePlace", "LookUp_GetResponsibleList_ServicePlaces","Address Book (Responsible Person)...");
        }
    }

    </script> @*This code is of all the button functionalities which are located on the form.*@
</div>