<div class="DataRestrictions_Info_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model System.Data.DataTable
    @{}
    <style>
    </style>
    <div id="LockData_ParentDiv">
        @*<div class="report_header_div_main">*@
        <div id="contentLockData" class="col-md-12  report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">Data Restrictions Information</label>
            </div>
            @*Buttons*@
            <div class="report_button_div">
                @(Html.DevExtreme().Button().ID("LockDataModelNew").Text("New").Icon("add").Visible(true).OnClick(@<text> function () { LockData_OnNewClick(); } </text>) )
                @(Html.DevExtreme().Button().ID("LockDataModelEdit").Text("Edit").Visible(true).Icon("edit").OnClick(@<text> function () { LockData_OnEditClick(); } </text>) )
                @(Html.DevExtreme().Button().ID("LockDataModelDelete").Text("Delete").Icon("trash").Visible(true).OnClick(@<text> function () { LockData_OnDeleteClick(); } </text>) )
                @(Html.DevExtreme().Button().ID("LockDataModelView").Text("View").Icon(IconID.ViewCustomers16x16devav).Icon("doc").Visible(true).OnClick(@<text> function () { LockData_OnViewClick(); } </text>) )
                @(Html.DevExtreme().Button().ID("LockDataToggleScrollBar").Text("Full Data").Icon("toolbox").OnClick(@<text> function () { LockDatachangeMode(); } </text>) )
                @(Html.DevExtreme().Button().ID("LockDataModelListPreview").Text("Export").Icon("save").Width(80).OnClick(@<text> function () { LockDataPreviewClick(); } </text>) )
                @(Html.DevExtreme().Button().ID("LockDataModelCLOSE").Text("Close").Icon("clear").OnClick(@<text> function (){ closeLockData(); } </text>) )

            </div>
            @*</div>*@
        </div>
        <div class="col-md-12 no-padding" id="LockData_grid_DIV">
            <form>
                <div id="LockDataReloadPartialView" class="parent_table">
                    @Html.Partial("Frm_LockData_Info_Grid", Model)
                </div>
            </form>

        </div>
        <div class="footer-MainBoxdiv" style="display:inline-block;width:100%">
            <div class="setFooterItem">
                <div class="footer-inner">
                    <div class="list_footer_left_margin">
                        <div class="footericon">
                            <i id="LockData_LockICON" style="color:red;font-size:35px;"></i>
                        </div>
                        @*<div class="footer-locktext">
                                <div id="BankLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                            </div>*@
                        <div class="footer-locktext">
                            <div id="LockData_Lbl_ActionOn" class="left_footertext_top"></div>
                            <div id="LockData_Lbl_ActionBy" class="left_footertext_bottom"></div>
                        </div>
                    </div>
                    <div class="list_footer_left_margin">
                        <div class="footer-text">
                            <p id="LockDataLbl_Create" class="right_footertext_top"></p>
                            <p id="LockDataLbl_Modify" class="right_footertext_bottom"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script>
    function closeLockData()
    {
        $(".TabPanalMenu-tabs .active span").click();
    }
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Options/LockData/SessionClear",
            cache: false
        });
       // var pane = Mainspliter.GetPaneByName('RightPane');
        //pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        ClearAllReferences_DataRestrictions();
    });
        function ClearAllReferences_DataRestrictions() {
            DataRestriction_RecID = null;
            DataRestriction_ShowHorizontalBar = null;
            DataRestriction_Layout = null;
            DataRestrictionFocusRowIndexBeforeRefresh = null;
            DataRestriction_AddBy = null;
            DataRestriction_AddOn = null;
            DataRestriction_EditBy = null;
            DataRestriction_EditOn = null;
            ClearAllReferences("DataRestrictions_Info_ClearReferences");
        }
    function LockData_OnNewClick()
    {
        ShowLoader();
        OpenDynamicPopup("New ~ Data Restrictions", "@Url.Action("Frm_LockData_window", "LockData", new { @area = "Options" })?ActionMethod=New", "auto", 1024, false, null);
    }
    function LockData_OnEditClick()
    {
        if (DataRestriction_RecID == null)
        {
            DevExpress.ui.dialog.alert("Please Select A Row..", "Information..");
            return;
        }
        OpenDynamicPopup("Edit ~ Data Restrictions", "@Url.Action("Frm_LockData_window", "LockData", new { @area = "Options" })?ActionMethod=Edit&ID=" + DataRestriction_RecID, "auto", 1024, false, null);
    }
    function LockData_OnDeleteClick()
    {
        if (DataRestriction_RecID == null)
        {
            DevExpress.ui.dialog.alert("Please Select A Row..", "Information..");
            return;
        }
        OpenDynamicPopup("Delete ~ Data Restrictions", "@Url.Action("Frm_LockData_window", "LockData", new { @area = "Options" })?ActionMethod=Delete&ID=" + DataRestriction_RecID, "auto", 1024, false, null);
    }
    function LockData_OnViewClick()
    {
        if (DataRestriction_RecID == null)
        {
            DevExpress.ui.dialog.alert("Please Select A Row..","Information..");
            return;
        }
        OpenDynamicPopup("View ~ Data Restrictions", "@Url.Action("Frm_LockData_window", "LockData", new { @area = "Options" })?ActionMethod=View&ID=" + DataRestriction_RecID, "auto", 1024, false, null);
    }
    </script>
    <script>
    var DataRestriction_RecID = null;
    var DataRestriction_ShowHorizontalBar = 0;
    var DataRestriction_Layout = null;
    var DataRestrictionFocusRowIndexBeforeRefresh = null;
    var DataRestriction_AddBy;
    var DataRestriction_AddOn;
    var DataRestriction_EditBy;
    var DataRestriction_EditOn;
    function DataRestrictionGrid_init(s, e)
    {
        DataRestrictionAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            DataRestrictionAdjustSize();
        });
    }
    function DataRestrictionGrid_begincallback(s, e)
    {
        e.customArgs["command"] = e.command;
        e.customArgs["ShowHorizontalBar"] = DataRestriction_ShowHorizontalBar;
    }
    function DataRestrictionGrid_endcallback(s, e)
    {
        DataRestriction_Layout = s.cpClientLayout;
        SendCustomArgs_FilterControl(s, e);
        if (e.command == "REFRESH")
        {
           DataRestrictionFocusRowIndexBeforeRefresh = s.GetFocusedRowIndex();
            s.SetFocusedRowIndex(-1);
            s.SetFocusedRowIndex(DataRestrictionFocusRowIndexBeforeRefresh);
        }
    }
    function DataRestrictionAdjustSize()
    {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try { DocumentRestricionListGrid.SetHeight(height); } catch (err) { }
    }
    function DataRestrictionGrid_FocusedRowChange(s, e)
    {
        if (s.GetFocusedRowIndex() >= 0)
        {
            DataRestriction_RecID = s.GetRowKey(s.GetFocusedRowIndex());
            s.GetRowValues(s.GetFocusedRowIndex(), 'REC_ADD_ON;REC_ADD_BY;REC_EDIT_ON;REC_EDIT_BY', DataRestrictionOnGetRowValues);
        }
        else
        {
            DataRestriction_RecID = null;
            DataRestrictionUpdateFooter(DataRestriction_RecID, DataRestriction_AddOn, DataRestriction_AddBy, DataRestriction_EditOn, DataRestriction_EditBy);
        }
    }
    function DataRestrictionOnGetRowValues(value)
    {
        DataRestriction_AddBy = value[1];
        DataRestriction_AddOn=value[0];
        DataRestriction_EditBy = value[3];
        DataRestriction_EditOn = value[2];
        DataRestrictionUpdateFooter(DataRestriction_RecID, DataRestriction_AddOn, DataRestriction_AddBy, DataRestriction_EditOn, DataRestriction_EditBy);
    }
    function DataRestrictionUpdateFooter(ID, AddOn, AddBy, EditOn, EditBy)
    {
        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Lbl_ActionOn = "";
        var Lbl_ActionBy = "";
        var StatusStr = "";
        if (ID)
        {
            if (AddOn) {
                AddOn = (moment(AddOn).format("DD/MM/YYYY HH:mm:ss"));
            }
            if (EditOn) {
                EditOn = (moment(EditOn).format("DD/MM/YYYY HH:mm:ss"));
            }
            StatusStr = Status == "Locked" ? "Locked" : Status == null ? null : "UnLocked";
            if (Status && Status.toUpperCase() == "LOCKED") {
                Lbl_Status = "Completed";
                Lbl_Status_Color = "blue";
                Pic_Status = "fa fa-lock";
            }
            else {
                Pic_Status = "fa fa-unlock";
                Lbl_Status = Status;
                if (Status && Status.toUpperCase() == "COMPLETED") {
                    Lbl_Status_Color = "green";
                }
                else {
                    Lbl_Status_Color = "red";
                }
            }
            Lbl_ActionOn = "";
            Lbl_ActionBy = "";
            if (AddOn) {
                Lbl_Create = "Add On: " + AddOn + ", By: " + AddBy;
            }
            else {
                Lbl_Create = "";
            }
            if (EditOn) {
                Lbl_Modify = "Edit On: " + EditOn + ", By: " + EditBy;
            }
            else {
                Lbl_Modify = "";
            }
        }
        $('#LockDataLbl_Status').text(Lbl_Status);
        $('#LockData_Lbl_ActionOn').text(Lbl_ActionOn)
        $('#LockData_Lbl_ActionBy').text(Lbl_ActionBy);
        $('#LockDataLbl_Create').text(Lbl_Create);
        $('#LockDataLbl_Modify').text(Lbl_Modify);
        if (Lbl_Status_Color != "") {
            $('#LockDataLbl_Status').css('color', Lbl_Status_Color);
        }
        if (Pic_Status == "fa fa-lock") {
            $('#LockData_LockICON').addClass(Pic_Status).removeClass("fa-unlock");
        }
        else if (Pic_Status == "fa fa-unlock") {
            $('#LockData_LockICON').addClass(Pic_Status).removeClass("fa-lock");
        }
        else {
            $('#LockData_LockICON').removeClass("fa");
            $('#LockData_LockICON').removeClass("fa-lock");
            $('#LockData_LockICON').removeClass("fa-unlock");
        }
    }
    function LockDatachangeMode()
    {
        ShowLoader();
        if (DataRestriction_ShowHorizontalBar == 0)
        {
            DataRestriction_ShowHorizontalBar = 1;
            $("#LockDataToggleScrollBar").find("span").text("Default Data");
            $("#LockDataToggleScrollBar").width(110);
        }
        else
        {
            DataRestriction_ShowHorizontalBar = 0;
            $("#LockDataToggleScrollBar").find("span").text("Full Data");
            $("#LockDataToggleScrollBar").width(90);
        }
        $.ajax({
            url: '@Url.Action("Frm_LockData_Info_Grid", "LockData")',
            type: "GET",
            data: { ShowHorizontalBar: DataRestriction_ShowHorizontalBar, Layout: DataRestriction_Layout},
            success: function (res)
            {
                $("#LockDataReloadPartialView").html(res);
                HideLoader();
            }
        });

        }
    function DataRestrictionGrid_ContextMenuClick(s, e)
    {
        if (e.item.name == "Close") {
            closeLockData();
        }
        if (e.item.name == "New") {
            LockData_OnNewClick();
        }
        else if (e.item.name == 'Edit') {
            LockData_OnEditClick();
        }
        else if (e.item.name == 'Delete') {
            LockData_OnDeleteClick();
        }
        else if (e.item.name == 'View') {
            LockData_OnViewClick();
        }
        else if (e.item.name == 'ListPreview') {
            LockDataPreviewClick();
        }
        else if (e.item.name == 'Refresh') {
            DocumentRestricionListGrid.Refresh();
        }

    }
    function LockDataPreviewClick()
    {

        ShowLoader();

        OpenPopup("LockDataReportModal", "Export Option", "@Url.Action("Frm_Export_Options", "LockData", new { @area = "Options" })", "auto", "auto");
    }
    </script>
</div>