<div class="DataRestrictions_Window_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using Common_Lib;
    @model ConnectOneMVC.Areas.Options.Models.Model_Lockdata
    @{
        Layout = null;
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
        DateTime MaxDate = (DateTime)ViewBag.MaxDate;
    }
    <div id="LockData_ParentDiv">
        @using (Ajax.BeginForm("Frm_LockData_window", "LockData",
                                                           new AjaxOptions
                                                           {
                                                               HttpMethod = "POST",
                                                               UpdateTargetId = "LockData_ParentDiv",
                                                               InsertionMode = InsertionMode.InsertAfter,
                                                               OnBegin = "AjaxBeginFormPost",
                                                               OnSuccess = "LockDataPostSuccess"
                                                           },
                                                                new
                                                                {
                                                                    id = "LockdataForm",
                                                                    @class = "edit_form"
                                                                }))
        {
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.RecID_LockData)
            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="full-width-header-bg2">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Data Restrictions</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align">
                                <i class="fas fa-info-circle"></i> Red Fields are mandatory
                            </h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div><!--[Header]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label text-red" id="lbl_locktype_datarestriction">Lock Type:</label></div>
                                    <div class="col-sm-10 col-md-10 col-lg-10 prm ">

                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("LockType_LockData").Name("LockType_LockData").Placeholder("Select Type").Items(new[] { "LOGIN_BLOCKED", "PROFILE_BLOCKED", "READ_ALL_WRITE_BLOCKED_FOR_SOME_DURATION" }).WrapItemText(true).OnValueChanged("LockType_LockData_ValueChange").ShowClearButton(false) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Lock Type]-->
                <div class="row" style="margin-top:4px;margin-bottom:4px">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <fieldset class="default-fieldset">
                                    <legend class="custom-legend mlm " id="lbl_datarestriction_fieldset">Select Any One Among Party,Bank,Ledger. No Selection Will Apply Restrictions On Full Data</legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-field">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" id="lbl_partyID_dataRestriction">Party:</label></div>
                                                        <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("PartyID_LockData").Name("PartyID_LockData").ValueExpr("ID").DisplayExpr("Name").DataSource(d => d.Mvc().Controller("LockData").LoadAction("LookUp_GetPartyList").Key("ID")).Placeholder("Select Party")
                                                                                                                                                      .OnValueChanged("Party_ValueChange_LockData").ContentTemplate(@<text> @Html.Partial("GetPartyList") </text>))

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Party Name]-->
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-field">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" id="lbl_bankID_dataRestriction">Bank:</label></div>
                                                        <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("BankID_LockData").Name("BankID_LockData").ValueExpr("BA_ID").DisplayExpr("BANK_NAME").DataSource(d => d.Mvc().Controller("LockData").LoadAction("LookUp_GetBankList").Key("BA_ID")).Placeholder("Select Bank")
                                                                                                                                                              .OnValueChanged("Bank_ValueChange_LockData").ContentTemplate(@<text> @Html.Partial("GetBankList") </text>))

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Bank Name]-->
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-field">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" id="lbl_ledgerID_dataRestriction">Ledger:</label></div>
                                                        <div class="col-sm-10 col-md-10 col-lg-10 prm ">

                                                            @(Html.DevExtreme().SelectBox().CustomSelectBox()
                                                                                                                                                                                .ID("LedgerID_LockData")
                                                                                                                                                                                .Name("LedgerID_LockData")
                                                                                                                                                                                .DataSource(d => d.Mvc().Controller("LockData").LoadAction("Fill_Ledgers").Key("ID"))
                                                                                                                                                                                .DisplayExpr("Name")
                                                                                                                                                                                .ValueExpr("ID")
                                                                                                                                                                                .Placeholder("Select Ledger")
                                                                                                                                                                                .OnValueChanged("Ledger_ValueChange_LockData")
                                                        )
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Ledger]-->
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" id="lbl_periodFrom_dataRestriction">Period From:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">

                                        @(Html.DevExtreme().DateBox().CustomDateBox().Max(MaxDate)
                                                                                                                                                                            .ID("PeriodFrom_LockData")
                                                                                                                                                                            .Name("PeriodFrom_LockData")

                                    )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Period From]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" id="lbl_periodTo_dataRestriction">Period To:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">

                                        @(Html.DevExtreme().DateBox().CustomDateBox().Max(MaxDate)
                                                                                                                                                                            .ID("PeriodTo_LockData")
                                                                                                                                                                            .Name("PeriodTo_LockData")

                                    )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Period To]-->
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" id="lbl_remarks_datarestriction">Remarks:</label></div>
                                    <div class="col-sm-10 col-md-10 col-lg-10 prm ">

                                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Remarks_LockData").Name("Remarks_LockData").Placeholder("Enter Remarks").Value(Model.Remarks_LockData).MaxLength(8000))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Remarks]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="styleActionBtn">
                            @if (Model.ActionMethod.ToString() != "_View")
                            {
                                @(Html.DevExtreme().Button().CustomSaveButton(Model.ActionMethod.ToString()).ID("LockDataSave").Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").UseSubmitBehavior(false).OnClick("LockDataFormSubmit") )
                            }
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("LockDataCancel").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                        </div>
                    </div>
                </div><!--[Buttons]-->
            }
        }
    </div>
    <script>
        var Party_DG_Lockdata;
        var Bank_DG_Lockdata;
        var PartyID_Lockdata;
        var BankID_Lockdata;
        var LedgerID_Lockdata;
        function Party_ValueChange_LockData(e) {
            e.component.close();
            PartyID_Lockdata = e.value;
            if (e.value == null && e.previousValue != null) {
                Party_DG_Lockdata.clearSelection();
                Control_SetReadOnly("BankID_LockData", "dxDropDownBox", false);
                Control_SetReadOnly("LedgerID_LockData", "dxSelectBox", false);
                return;
            }
            if (Party_DG_Lockdata.getSelectedRowsData().length > 0) {
                var item = Party_DG_Lockdata.getSelectedRowsData()[0];
                Control_SetReadOnly("BankID_LockData", "dxDropDownBox", true);
                Control_SetReadOnly("LedgerID_LockData", "dxSelectBox", true);
            }
        }
        function Bank_ValueChange_LockData(e) {
            e.component.close();
            BankID_Lockdata = e.value;
            if (e.value == null && e.previousValue != null) {
                Bank_DG_Lockdata.clearSelection();
                Control_SetReadOnly("PartyID_LockData", "dxDropDownBox", false);
                Control_SetReadOnly("LedgerID_LockData", "dxSelectBox", false);
                return;
            }
            if (Bank_DG_Lockdata.getSelectedRowsData().length > 0) {
                var item = Bank_DG_Lockdata.getSelectedRowsData()[0];
                Control_SetReadOnly("PartyID_LockData", "dxDropDownBox", true);
                Control_SetReadOnly("LedgerID_LockData", "dxSelectBox", true);
            }
        }
        function Ledger_ValueChange_LockData(e) {
            e.component.close();
            LedgerID_Lockdata = e.value;
            if (e.value == null || e.value == "") {
                Control_SetReadOnly("PartyID_LockData", "dxDropDownBox", false);
                Control_SetReadOnly("BankID_LockData", "dxDropDownBox", false);
            }
            else {
                Control_SetReadOnly("PartyID_LockData", "dxDropDownBox", true);
                Control_SetReadOnly("BankID_LockData", "dxDropDownBox", true);
            }
        }
        function LockType_LockData_ValueChange(e) {
            if (e.value == "READ_ALL_WRITE_BLOCKED_FOR_SOME_DURATION") {
                $("#lbl_datarestriction_fieldset").addClass("text-red").removeClass("disabletxt");
                $("#lbl_periodFrom_dataRestriction").addClass("text-red").removeClass("disabletxt");
                $("#lbl_periodTo_dataRestriction").addClass("text-red").removeClass("disabletxt");
                $("#lbl_partyID_dataRestriction").removeClass("text-red").removeClass("disabletxt");
                $("#lbl_bankID_dataRestriction").removeClass("text-red").removeClass("disabletxt");
                $("#lbl_ledgerID_dataRestriction").removeClass("text-red").removeClass("disabletxt");
                Control_SetReadOnly("PeriodFrom_LockData", "dxDateBox", false);
                Control_SetReadOnly("PeriodTo_LockData", "dxDateBox", false);
                Control_SetReadOnly("PartyID_LockData", "dxDropDownBox", false);
                Control_SetReadOnly("BankID_LockData", "dxDropDownBox", false);
                Control_SetReadOnly("LedgerID_LockData", "dxSelectBox", false);
            }
            else {
                $("#lbl_datarestriction_fieldset").removeClass("text-red").addClass("disabletxt");
                $("#lbl_periodFrom_dataRestriction").removeClass("text-red").addClass("disabletxt");
                $("#lbl_periodTo_dataRestriction").removeClass("text-red").addClass("disabletxt");
                $("#lbl_partyID_dataRestriction").removeClass("text-red").addClass("disabletxt");
                $("#lbl_bankID_dataRestriction").removeClass("text-red").addClass("disabletxt");
                $("#lbl_ledgerID_dataRestriction").removeClass("text-red").addClass("disabletxt");
                Control_SetReadOnly("PeriodFrom_LockData", "dxDateBox", true);
                Control_SetReadOnly("PeriodTo_LockData", "dxDateBox", true);
                Control_SetReadOnly("PartyID_LockData", "dxDropDownBox", true);
                Control_SetReadOnly("BankID_LockData", "dxDropDownBox", true);
                Control_SetReadOnly("LedgerID_LockData", "dxSelectBox", true);
            }
            Party_DG_Lockdata.clearSelection();
            Bank_DG_Lockdata.clearSelection();
            $("#LedgerID_LockData").dxSelectBox("instance").reset();
            $("#PeriodFrom_LockData").dxDateBox("instance").reset();
            $("#PeriodTo_LockData").dxDateBox("instance").reset();
        }
        function LockDataFormSubmit(e) {
            var result = e.validationGroup.validate();
            if (result.isValid) {
                if (ActionMethod_LockData == "_Delete") {
                    var Delete_result = DevExpress.ui.dialog.confirm("Sure You Want To Delete This Entry...?", "Confirm");
                    Delete_result.done(function (dialogResult) {
                        if (dialogResult) {
                            $("#LockdataForm").submit();
                        }
                    });
                }
                else {
                    $("#LockdataForm").submit();
                }
            }
        }
        function LockDataPostSuccess(data) {
            dontaskpopupcloseconfirmation = true;
            HideLoader();
            if (data.jsonParam.result == false) {
                if (data.jsonParam.closeform) {
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertclick.done(function (alertResult) {
                    if (alertResult) {
                        if (data.jsonParam.focusid) {
                            var id = "#" + data.jsonParam.focusid;
                            setTimeout(function () {
                                $(id).find('input').focus();
                            }, Timeout100);
                        }
                    }
                });
            }
            else if (data.jsonParam.result == true) {
                var saveAlertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                $("#Dynamic_Content_popup").dxPopup("hide");
                DocumentRestricionListGrid.Refresh();
            }
        }
        function Init_allDropDown_LockData() {
            var $Party_DG_Lockdata = $("#PartyList_LockData_datagrid");
            if ($Party_DG_Lockdata.length) {
                Party_DG_Lockdata = $Party_DG_Lockdata.dxDataGrid("instance");
            }
            var $Bank_DG_Lockdata = $("#BankList_LockData_datagrid");
            if ($Bank_DG_Lockdata.length) {
                Bank_DG_Lockdata = $Bank_DG_Lockdata.dxDataGrid("instance");
            }
        }
    </script>
    <script>
    var ActionMethod_LockData = "@Model.ActionMethod";
    $(document).ready(function ()
    {
        ShowLoader();
        Init_allDropDown_LockData();
        TransformTextForDB("LockdataForm");
        if (ActionMethod_LockData != "_View") {
            dontaskpopupcloseconfirmation = false;
        }
        sessionclearpath = "/Options/LockData/SessionClearWindow";
        $("#LockType_LockData").dxSelectBox("instance").option("value", "@Model.LockType_LockData");
        if (ActionMethod_LockData == "_Edit" || ActionMethod_LockData == "_Delete" || ActionMethod_LockData == "_View")
        {
            if ("@Model.PartyID_LockData".length > 0) {
                Party_DG_Lockdata.selectRows("@Model.PartyID_LockData", false)
            }
            else if ("@Model.BankID_LockData".length > 0)
            {
                Bank_DG_Lockdata.selectRows("@Model.BankID_LockData", false);
            }
            else if("@Model.LedgerID_LockData".length > 0)
            {
                $("#LedgerID_LockData").dxSelectBox("instance").option("value", "@Model.LedgerID_LockData");
            }
            if ("@Model.PeriodFrom_LockData".length > 0)
            {
                $("#PeriodFrom_LockData").dxDateBox("instance").option("value", moment("@Model.PeriodFrom_LockData", "DD/MM/YYYY"));
            }
            if ("@Model.PeriodTo_LockData".length > 0)
            {
                $("#PeriodTo_LockData").dxDateBox("instance").option("value", moment("@Model.PeriodTo_LockData", "DD/MM/YYYY"));
            }
        }
        setTimeout(function ()
        {
            if ("@Model.ActionMethod" == "_View")
            {
                Set_Form_View_Delete_Mode("#000080", "LockdataForm");
            }
            else if ("@Model.ActionMethod" == "_Delete")
            {
                Set_Form_View_Delete_Mode("#696969", "LockdataForm");
            }
            else
            {
                Focus_FirstEditable_Field("LockdataForm");
            }
            HideLoader();
        }, Timeout500);
    });
    </script>
    
</div>
