<div class="UtilizationReport_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress;
    @using DevExpress.Web.Mvc;
    @using System.Data;
    @model System.Data.DataSet
    @{
        ViewBag.Title = "Index";
        Layout = null;
        var UserType = ViewBag.UserType;
        string Utilization_Percent = (string)ViewBag.Utilization_Percent;
        string Pending_Utilization = (string)ViewBag.Pending_Utilization;
        string Pending_Corpus = (string)ViewBag.Pending_Corpus;
        string Change_FD = (string)ViewBag.Change_FD;
        string Change_Oth = (string)ViewBag.Change_Oth;
        string Change_Cash = (string)ViewBag.Change_Cash;
        string Sale_Receivable = (string)ViewBag.Sale_Receivable;
        string Total_Change_Funds = (string)ViewBag.Total_Change_Funds;
        string Excess_ShortFall = (string)ViewBag.Excess_ShortFall;
        bool UtilizationReport_ExportRight = (bool)ViewData["UtilizationReport_ExportRight"];
        bool UtilizationReport_Auto_Vouching_Mode = (bool)ViewData["UtilizationReport_Auto_Vouching_Mode"];
    }
    <div id="content" class="col-md-12 report_header_div_main">
        <div class="col-md-8 report_header_div">
            <table>
                <tr>
                    <td> <label class="report_header_label">Utilization Report</label></td>
                    <td width="120px" style="color:red;font-size:16px;padding-top:5px"><b>Utilisation %:</b></td>
                    <td align="left" style="color:red;font-size:16px;padding-top:5px">@Utilization_Percent, </td>
                    <td width="170px" style="color:red;font-size:16px;padding-left:5px;padding-top:5px"><b>Pending Utilisation:</b></td>
                    <td align="left" style="color:red;font-size:16px;padding-top:5px">Rs. @Pending_Utilization</td>
                </tr>
            </table>
        </div>
        @*Buttons*@
        <div class="report_button_div">
            @(Html.DevExtreme().Switch().ID("UtilizationVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("UtilizationVouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
            @(Html.DevExtreme().Button()
                                                                .ID("UtilizationReportToggleScrollBar")
                                                                .Text("Full Data")
                                                                .Width(90)
                                                                .Icon("toolbox")
                                                                .OnClick(@<text>
                                                                    function () {
                                                                    UtilizationReportchangeMode();
                                                                    }
                                                                </text>)
            )
            @*@(Html.DevExtreme().Button()
                                                        .ID("UtilizationReportsModelListPreview")
                                                        .Text("Export")
                                                        .Icon("save")
                                                         .Width(80)
                                                        .OnClick(@<text>
                                                            function () {
                                                            OnUtilizationReportListPreviewClick();
                                                            }
                                                        </text>)
                )*@
            @(Html.DevExtreme().Button()
                                                                .ID("UtilizationReportModelCLOSE")
                                                                .Text("Close")
                                                                .Icon("clear")
                                                                .OnClick(@<text>
                                                                    function (){
                                                                    $(".TabPanalMenu-tabs .active span").click()
                                                                    }
                                                                </text>)

            )
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <form>
            <div class="parent_table">
                <div class="row">
                    <div id="UtilizationReceiptReportreloadPartialView" class="col-sm-6 col-md-6">
                        @Html.Partial("Frm_Utilization_ReceiptReport_Grid", ((DataSet)Model).Tables[0])
                    </div>
                    <div id="UtilizationPaymentReportreloadPartialView" class="col-sm-6 col-md-6">
                        @Html.Partial("Frm_Utilization_PaymentReport_Grid", ((DataSet)Model).Tables[1])
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div><span id="lbl_Utilization_Percent" style="color:#D2691E;font-weight:bold"></span></div>
    <div><span id="lbl_Utilization_Percent" style="color:#D2691E;font-weight:bold"></span></div>
    <div><span id="lbl_Utilization_Percent" style="color:#D2691E;font-weight:bold"></span></div>
    <div><span id="lbl_Utilization_Percent" style="color:#D2691E;font-weight:bold"></span></div>
    <div><span id="lbl_Utilization_Percent" style="color:#D2691E;font-weight:bold"></span></div>
    <div><span id="lbl_Utilization_Percent" style="color:#D2691E;font-weight:bold"></span></div>
    <table>
        <tr>
            <td width="120px" style="font-size:16px"><b>Utilisation %:</b></td>
            <td align="right" style="color:red;font-size:16px;text-align:left">@Utilization_Percent%</td>
        </tr>
        <tr>
            <td width="200px" style="font-size:16px"><b>Pending Utilisation:</b></td>
            <td align="right" style="color:red;font-size:16px;text-align:left"><b> Rs. @Pending_Utilization</b></td>
        </tr>
    </table>
    <table>
    </table>
    @*
        <hr />
        <table>
            <tr>
                <td><b>Excess Application over Total Income / Shortage of Application over Total Income </b></td>
                <td>@Excess_ShortFall</td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2"><b>Reconciliation of Excess/Shortfall of Application - Fund Flow</b></td>
            </tr>
            <tr>
                <td width="800px">Increase/ (decrease) in Investments in Fixed Deposits - Section 11(5)</td>
                <td align="right">@Change_FD</td>
            </tr>
            <tr>
                <td>Increase/ (decrease) in Investments other than Fixed Deposits - Section 11(5) </td>
                <td align="right">@Change_Oth</td>
            </tr>
            <tr>
                <td>Increase/ (decrease) in Cash In Hand </td>
                <td align="right">@Change_Cash</td>
            </tr>
            <tr>
                <td>Sales Consideration Receivable  </td>
                <td align="right">@Sale_Receivable</td>
            </tr>

            <tr>
                <td><b>Total Increase/decrease in Funds</b></td>
                <td align="right" style="border-top:1px solid #000; border-bottom:1px double #000"><b>@Total_Change_Funds</b></td>
            </tr>

        </table>

        <br><b>Note: Above sale consideration amount will be captured from entries booked in sales vouchers.</b>
    *@
    <div class="col-md-12">
        @*Add/Edit Popup*@
        @(Html.DevExtreme().Popup().CustomPopup()
                                .ID("UtilizationReport_report_modal")
                                 .OnShowing("PopupOnShowing")
                                .Title("Utilization Report Preview")
                                .FullScreen(false)
                                .MaxWidth(125)
                                .Height("auto")
                                .ShowCloseButton(true)
                                .ContentTemplate(@<text>
                                    <div id='UtilizationReport_report_modal_result'>
                                    </div>
                                </text>)
        )

    </div>

    @*Javascript Events*@
    <script type="text/javascript">
    var IsUtilizationReportSucessPopup = false;
    var IsUtilizationReportViewPopup = false;
    var UtilizationReport_ShowHorizontalBar = 0;
    var Utilization_IsVouchingMode = false;
    var UtilizationReport_SetVouchingModeOn = "@UtilizationReport_Auto_Vouching_Mode" == "True" ? true : false;
    var UtilizationReceiptReportLayout;
    var UtilizationPaymentReportLayout;

    function UtilizationVouchingSwitch_ValueChange(e)
    {
        Utilization_IsVouchingMode = e.value;
        UtilizationPaymentReportListGrid_PerformCallBack();
        UtilizationReceiptReportListGrid_PerformCallBack();
    }
    function UtilizationPaymentReportListGrid_PerformCallBack()
    {
        debugger;
        if (typeof window !== 'undefined') {
            if (typeof window.UtilizationPaymentReportListGrid !== 'undefined')
            {
                if (typeof window.UtilizationPaymentReportListGrid.PerformCallback !== 'undefined')
                {
                    if (typeof UtilizationPaymentReportListGrid.PerformCallback == 'function')
                    {
                        UtilizationPaymentReportListGrid.PerformCallback();
                    }
                    else
                    {
                        alert("PerformCallback is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        UtilizationPaymentReportListGrid_PerformCallBack();
                        HideLoader();
                    }, Timeout100);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else
        {
            alert('window undefined')
        }
    }
    function UtilizationReceiptReportListGrid_PerformCallBack()
    {
        debugger;
        if (typeof window !== 'undefined')
        {
            if (typeof window.UtilizationReceiptReportListGrid !== 'undefined')
            {
                if (typeof window.UtilizationReceiptReportListGrid.PerformCallback !== 'undefined')
                {
                    if (typeof UtilizationReceiptReportListGrid.PerformCallback == 'function')
                    {
                        UtilizationReceiptReportListGrid.PerformCallback();
                    }
                    else
                    {
                        alert("PerformCallback is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        UtilizationReceiptReportListGrid_PerformCallBack();
                        HideLoader();
                    }, Timeout100);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else
        {
            alert('window undefined')
        }
    }

    $(document).ready(function () {
        if ("@UtilizationReport_ExportRight" == "False")
        {
	        $("#UtilizationReportsModelListPreview").hide();
        }
        IsUtilizationReportSucessPopup = false;
        IsUtilizationReportViewPopup = false;

        $(".UtilizationPaymentReportListGrid_PreviewRow").hide();
        GetSessionStorage("UtilizationPaymentReportListGrid");
        $(".UtilizationReceiptReportListGrid_PreviewRow").hide();
        GetSessionStorage("UtilizationReceiptReportListGrid");
        //SetUtilizationReportGroupPanelFooterVisible();
        $("#UtilizationReportListGrid").hover(function () {
            UtilizationReportListGrid.Focus()
        })
        if (UtilizationReport_SetVouchingModeOn == true) {
            $("#UtilizationVouchingModeSwitch").dxSwitch("instance").option("value", true);
           // $("#DonRegViewModeSwitch").dxSwitch("instance").option("value", true);
        }
    });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Reports/UtilizationReport/SessionClear",
            cache: false
        });
        ClearAllReferences_UtilizationReport();
    });
    function ClearAllReferences_UtilizationReport()
    {
        IsUtilizationReportSucessPopup = null;
        IsUtilizationReportViewPopup = null;
        UtilizationReport_ShowHorizontalBar = null;
        Utilization_IsVouchingMode = null;
        UtilizationReport_SetVouchingModeOn = null;
        UtilizationReceiptReportLayout = null;
        UtilizationPaymentReportLayout = null;

        ClearAllReferences("UtilizationReport_ClearReferences");
    }

    function UtilizationReportOnInit(s, e) {
        UtilizationReportAdjustSize();
        $(".UtilizationPaymentReportListGrid_PreviewRow").hide();
        GetSessionStorage("UtilizationPaymentReportListGrid");
        $(".UtilizationReceiptReportListGrid_PreviewRow").hide();
        GetSessionStorage("UtilizationReceiptReportListGrid");
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            UtilizationReportAdjustSize();
        });
    }

    function OnGridUtilizationReceiptReportListGrid_EndCallback(s, e) {
        UtilizationReceiptReportLayout = s.cpClientLayout;
        $(".UtilizationReceiptReportListGrid_PreviewRow").hide();
        GetSessionStorage("UtilizationReceiptReportListGrid");
        SendCustomArgs_FilterControl(s, e);
    }
    function OnGridUtilizationPaymentReportListGrid_EndCallback(s, e) {
        UtilizationPaymentReportLayout = s.cpClientLayout;
        $(".UtilizationPaymentReportListGrid_PreviewRow").hide();
        GetSessionStorage("UtilizationPaymentReportListGrid");
        SendCustomArgs_FilterControl(s, e);

    }
    function OnGridUtilizationPaymentReportListGrid_BeginCallback(s, e)
    {
        e.customArgs["VouchingMode"] = Utilization_IsVouchingMode;
        e.customArgs["command"] = e.command;
        e.customArgs["ShowHorizontalBar"] = UtilizationReport_ShowHorizontalBar;

    }
    function OnGridUtilizationReceiptReportListGrid_BeginCallback(s, e) {
        e.customArgs["VouchingMode"] = Utilization_IsVouchingMode;
        e.customArgs["command"] = e.command;
        e.customArgs["ShowHorizontalBar"] = UtilizationReport_ShowHorizontalBar;

    }
    function UtilizationReportAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try { UtilizationReceiptReportListGrid.SetHeight(height); } catch (err) { }
        try { UtilizationPaymentReportListGrid.SetHeight(height); } catch (err) { }
    }
    function UtilizationReportchangeMode() {
        ShowLoader();
        if (UtilizationReport_ShowHorizontalBar == 0) {
            UtilizationReport_ShowHorizontalBar = 1;
            $("#UtilizationReportToggleScrollBar").find("span").text("Default Data");
            $("#UtilizationReportToggleScrollBar").width(110);
        }
        else {
            UtilizationReport_ShowHorizontalBar = 0;
            $("#UtilizationReportToggleScrollBar").find("span").text("Full Data");
            $("#UtilizationReportToggleScrollBar").width(90);
        }
                $.ajax({
            url: '@Url.Action("Frm_Utilization_ReceiptReport_Grid", "UtilizationReport")',
            type: "GET",
                    data: { ShowHorizontalBar: UtilizationReport_ShowHorizontalBar, VouchingMode: Utilization_IsVouchingMode, Layout: UtilizationReceiptReportLayout },
            success: function (res) {

                $("#UtilizationReceiptReportreloadPartialView").html(res);

                $(".UtilizationReceiptReportListGrid_PreviewRow").hide();
                GetSessionStorage("UtilizationReceiptReportListGrid");
            }
        });
        $.ajax({
            url: '@Url.Action("Frm_Utilization_PaymentReport_Grid", "UtilizationReport")',
            type: "GET",
            data: { ShowHorizontalBar: UtilizationReport_ShowHorizontalBar, VouchingMode: Utilization_IsVouchingMode, Layout: UtilizationPaymentReportLayout },
            success: function (res) {

                $("#UtilizationPaymentReportreloadPartialView").html(res);
                $(".UtilizationPaymentReportListGrid_PreviewRow").hide();
                GetSessionStorage("UtilizationPaymentReportListGrid");

            }
        });
        HideLoader();
    }
    function OnUtilizationReportListPreviewClick() {
        if ("@UtilizationReport_ExportRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }

        OpenPopup("UtilizationReport_report_modal", "Export Option", "@Url.Action("Frm_Export_Options_Utilization", "UtilizationReport", new { @area = "Reports" })", "auto", "auto", false, null);
    }

    function UtilizationReportContextMenuFunction(s, e)
    {
        if (e.item.name == 'Close')
        {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'ListPreview')
        {
            //OnUtilizationReportListPreviewClick();
        }
        else if (e.item.name == 'Refresh')
        {
            GridViewDoCallback(UtilizationReceiptReportListGrid, function () { UtilizationReceiptReportListGrid.Refresh()});
            GridViewDoCallback(UtilizationPaymentReportListGrid, function () { UtilizationPaymentReportListGrid.Refresh()});
        }
    }
    </script>

</div>