<div class="LetterWindowFacility_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Facility.Models.LetterWindow
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();

        var IsVisible = Model.ActionMethod == "_Delete" ? true : false;
        var NullValuePrompt = (string)ViewBag.NullValuePrompt;
    }
    @*<link href="@Url.Content("~/Content/css/index.css")" rel="Stylesheet" />*@
    <style>
        .verdana {
            font-family: verdana
        }

        .akruti {
            font-family: AkrutiDevPriyaExpanded
        }
        form.edit_form .lang-sep {
            margin-right: 1%;
            padding-right: 1%;
            border-right: 1px solid #89b9eb;
            width: 14.66666666%;
        }
        #List_Lang_LWF {
            background: #fff;
            border: 1px solid #ddd;
            padding: 5px;
            height: 300px;
        }
    </style>
    <div id="LetterWindowForm_DIV">
        @using (Ajax.BeginForm("Frm_Letter_Window", "Facility",
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                                UpdateTargetId = "LetterWindow",
                                                InsertionMode = InsertionMode.InsertAfter,
                                                OnBegin = "AjaxBeginFormPost",
                                                OnSuccess = "Frm_Letter_Window_AjaxSuccessForm"
                                            },
                                    new
                                    {
                                        id = "LetterWindowForm",
                                        @class = "edit_form form-horizontal"
                                    }))
        {
            @Html.AntiForgeryToken()            
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.Tag)
            @Html.HiddenFor(x => x.Info_LastEditedOn)
            @Html.HiddenFor(x => x.LastEditedOn)
            @Html.HiddenFor(x => x.TitleX_LWF)
            @Html.HiddenFor(x => x.xID)
            using (Html.DevExtreme().ValidationGroup())
            {
        <div class="container-fluid">
            <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Letter</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align">
                            <i class="fas fa-info-circle"></i> Red Fields are mandatory
                        </h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div>
            </div><!--[Header]-->
            <div class="row form-field">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        @Html.Label("Institute:", htmlAttributes: new { @class = "control-label text-red" })
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_InsList_LWF").Name("Look_InsList_LWF").ReadOnly(IsVisible).Placeholder("Select Institute...").DataSource(Model.Look_InsList_Data, "INS_ID").OnValueChanged("Look_InsList_EditValueChanged_LWF")
                            .FocusStateEnabled(true).DisplayExpr("INS_NAME").ValueExpr("INS_ID").Value(Model.Look_InsList_LWF).ShowClearButton(false).ContentTemplate(@<text> @Html.Partial("LookUp_GetInsList_LWF") </text>))
                    </div>
                </div>
            </div>
            <div class="row form-field">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                         @Html.Label("Letter Date: ", htmlAttributes: new { @class = "control-label text-red" })
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            @(Html.DevExtreme().DateBox().CustomDateBox() .ID("Txt_Date_LWF").Placeholder(NullValuePrompt) .Name("Txt_Date_LWF").ReadOnly(IsVisible).FocusStateEnabled(true) @*.OnValueChanged("Date_EditValueChanged_GSR")*@ .Min(new DateTime(1900,01,01)))
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="control-label"> &nbsp; Reference:</label>
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7">
                            @(Html.DevExtreme().TextBox().CustomTextBox() .ID("Txt_Ref_LWF") .Name("Txt_Ref_LWF").ReadOnly(IsVisible).Placeholder("Type Letter Reference...").FocusStateEnabled(true) )
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-field">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-2 col-md-2 col-lg-2 lang-sep">
                        <label class="control-label text-red">Language:</label>
                        @(Html.DevExtreme().RadioGroup().ID("List_Lang_LWF")
                                            .Name("List_Lang_LWF")
                                            .ReadOnly(IsVisible)
                                            .ActiveStateEnabled(true).DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Vertical)
                                            .ValueExpr("value").OnValueChanged("Txt_Lang_SelectedIndexChanged_LWF")
                                            .Value(Model.List_Lang_LWF)
                                            .DataSource(new object[] {new { text = "ENGLISH", value = "0" }, new { text = "HINDI", value = "1" }, }//.Disabled(Model.AccountTypeStatus).ReadOnly(false)//
                                            )
                                            )
                        @Html.ValidationMessageFor(model => model.List_Lang_LWF, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="col-sm-2 col-md-2 col-lg-2 prm multipleSelection">
                        <div class="dx-texteditor dx-textbox">
                        </div>
                    </div>*@
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        @Html.Label("Letter Text", htmlAttributes: new { @id = "Layout_Letter_Item_05", @class = "control-label" })

                        @(Html.DevExtreme().TextAreaFor(model => model.Txt_Matter_LWF)
                                    .ID("Txt_Matter_LWF")
                                    .Name("Txt_Matter_LWF").ReadOnly(IsVisible)
                                    .Placeholder("")
                                    .Value(Model.Txt_Matter_LWF)
                                    .Height(300)
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } }))
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    @*<div class="form-field">*@
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 ">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Contact)...", Model.ActionMethod.ToString().Substring(1)))
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().CustomSaveButton().ID("Save_LWF").Text(Model.ActionMethod == "_Delete" ? "Yes" : "Save").FocusStateEnabled(true).UseSubmitBehavior(false)@*.Visible(Model.ActionMethod == "_Delete" ? true : false)*@.OnClick("SaveClick_LWF") )
                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("Cancel_LWF").Text(Model.ActionMethod == "_Delete" ? "No" : "Cancel").OnClick(@<text> function () { $('#Dynamic_Content_popup').dxPopup('hide'); } </text>)@*.Visible(IsVisible)*@ )
                                </div>
                            </div>
                        </div>
                    @*</div>*@
                </div>
            </div><!--[Buttons]-->
        </div>
            }
            }            
        </div>
    <script>
            var Tag_LWF = "@Model.ActionMethod";
    </script>@*Global Variables*@
<script>
        var Look_InsList_LWF_DG
        function Look_InsList_EditValueChanged_LWF(e)
        {
            e.component.close();
        }
        function LookUp_GetInsList()
        {
            var $Look_InsList_LWF_DG = $("#Look_InsList_LWF_datagrid");
            if ($Look_InsList_LWF_DG.length)
            {
                Look_InsList_LWF_DG = $Look_InsList_LWF_DG.dxDataGrid("instance");
            }

            if (Look_InsList_LWF_DG.totalCount() > 0)
            {
                if (Tag_LWF == "_New")
                {
                    $("#Look_InsList_LWF").dxDropDownBox("instance").reset();
                }
            }
        }
        function Txt_Lang_SelectedIndexChanged_LWF(e)
        {
            
            var Disp_Text = "";
            if (e.value == "0")     //English
            {
                $("#Txt_Matter_LWF").addClass("verdana").removeClass("akruti");
                Disp_Text = "ENGLISH"
            }
            else if (e.value == "1")      //HINDI
            {
                $("#Txt_Matter_LWF").removeClass("verdana").addClass("akruti");
                Disp_Text = "HINDI"
            }

            if (e.value < 0)
            {
                $("#Layout_Letter_Item_05").text("Letter Text:");
            }
            else
            {
                $("#Layout_Letter_Item_05").text("Letter Text (in " + Disp_Text.toString() + "):");
            }
        }
        function SaveClick_LWF(e)
        {
            
            console.log(e)
            var result = e.validationGroup.validate();                
            var form = $("#LetterWindowForm");
            if (result.isValid)
            {
                if (Tag_LWF == "_Delete")
                {
                    DeleteAfterConfirmation("Confirm", "", form);
                }
                else
                {
                    form.submit();
                }
            }
        }
</script>@*ValueChange and Button Click functions*@
<script>
        $(document).ready(async function ()
        {
            ShowLoader_Ready();

            $("#Txt_Ref_LWF").find("input").addClass("CleanTextForDB");
            $("#Txt_Matter_LWF").find("input").addClass("CleanTextForDB");
            LookUp_GetInsList();
            SetDefault_LWF();
            TransformTextForDB("LetterWindowForm");
            Set_Form_View_Delete_Mode(null, "LetterWindowForm", Tag_LWF);
            HideLoader_Ready();
        });
        function SetDefault_LWF()
        {
            if (Tag_LWF == "_Delete")
            {
                Set_Properties_LWF(false, true);
            }

            $("#List_Lang_LWF").dxRadioGroup("instance").option("value", "0");

            if (Tag_LWF != "_New" )
            {
                Data_Binding_LWF();
            }
            $("#Txt_Ref_LWF").find('input').focus();
        }
        function Set_Properties_LWF(Clear = false, Set_ReadOnly = true)
        {
            if (Clear)
            {
                $("#Txt_Ref_LWF").dxTextBox("instance").reset();
                $("#Txt_Matter_LWF").dxTextArea("instance").reset();
            }
            if (Set_ReadOnly)
            {
                Control_SetReadOnly("Look_InsList_LWF", "dxDropDownBox", true);
                Control_SetReadOnly("Txt_Date_LWF", "dxDateBox", true);
                Control_SetReadOnly("Txt_Ref_LWF", "dxTextBox", true);
                Control_SetReadOnly("List_Lang_LWF", "dxRadioGroup", true);
                Control_SetReadOnly("Txt_Matter_LWF", "dxTextArea", true);
            }
            else
            {
                Control_SetReadOnly("Look_InsList_LWF", "dxDropDownBox", false);
                Control_SetReadOnly("Txt_Date_LWF", "dxDateBox", false);
                Control_SetReadOnly("Txt_Ref_LWF", "dxTextBox", false);
                Control_SetReadOnly("List_Lang_LWF", "dxRadioGroup", false);
                Control_SetReadOnly("Txt_Matter_LWF", "dxTextArea", false);
            }
        }
        async function Data_Binding_LWF()
        {
            
            if ("@Model.Look_InsList_LWF".length > 0)
            {
                await Look_InsList_LWF_DG.selectRows("@Model.Look_InsList_LWF", false);
            }
            if ("@Model.Txt_Date_LWF".length > 0)
            {
                $("#Txt_Date_LWF").dxDateBox("instance").option("value", moment("@Model.Txt_Date_LWF", "DD/MM/YYYY"));
            }
            $("#Txt_Ref_LWF").dxTextBox("instance").option("value", TransformText("@Model.Txt_Ref_LWF"));

            var Lang = "";
            Lang = "@Model.List_Lang_LWF" == "ENGLISH" ? "0" : "1";
            $("#List_Lang_LWF").dxRadioGroup("instance").option("value", Lang);

            $("#Txt_Matter_LWF").dxTextArea("instance").option("value", TransformText(decodeURIComponent("@Model.Txt_Matter_LWF")));
        }
        function Frm_Letter_Window_AjaxSuccessForm(data)
        {
            
            HideLoader();
            dontaskpopupcloseconfirmation = true;
            if (data.jsonParam.result == false)
            {
                if (data.jsonParam.closeform)
                {
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
                if (data.jsonParam.refreshgrid)
                {
                    RefreshGridView("Letter_InfoListGrid");
                }
                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertclick.done(function (alertResult)
                {
                    if (alertResult)
                    {
                        if (data.jsonParam.focusid)
                        {
                            var id = "#" + data.jsonParam.focusid;
                            setTimeout(function ()
                            {
                                $(id).find('input').focus();
                            }, Timeout100);
                        }
                    }
                });
            }
            else if (data.jsonParam.result == true)
            {
                var SavealertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                SavealertClick.done(function (result)
                {
                    if (result)
                    {
                        RefreshGridView("Letter_InfoListGrid");
                        if (Tag_LWF.includes("New"))
                        {
                            Letter_MoreEntry = true;
                        }
                        $("#Dynamic_Content_popup").dxPopup("hide");
                    }
                });
            }
        }
</script>@*Document.ready and AjaxSuccess Functions*@

    <script>

    </script>
</div>