<div class="LetterPrintDialog_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @model ConnectOneMVC.Areas.Facility.Models.LetterPrint_Dialog
    @{
        ViewBag.Title = "Index";
        Layout = null;

    }

    
    @Html.HiddenFor(x => x.xTemp_ID_LPD)
    <div id="LetterPrintDialog_ParentDiv">
        <div class="full-width-header-bg2">
            <div class="row">
                <div class="col-sm-8 pll">
                    <h3 class="popuphead pll10"><i class="far fa-edit"></i>Print Preview Option</h3>
                </div>
            </div>
        </div><!--[Header]-->

        <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9" style="padding-right:5px">
                    <div class="container-fluid" style="padding-right:0">
                        <fieldset class="default-fieldset">
                            <legend class="custom-legend mlm"><label id="lbl_PaperType_LPD">Paper Type</label></legend>
                            @(Html.DevExtreme().RadioGroup() .ID("PaperType_LPD") .DisplayExpr("text") .ValueExpr("value") .OnValueChanged("PaperType_SelectedIndexChanged_LWH").Layout(DevExtreme.AspNet.Mvc.Orientation.Vertical)
                                .DataSource(new object[] { new { text = "1. On Plain Paper (without Letter Head)", value = "0" }, new { text = "2. On Plain Paper (with Letter Head)", value = "1" }, new { text = "3. On Pre-printed Paper", value = "2" } }) )
                        </fieldset>
                    </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3" style="padding-left:0">
                        <fieldset class="default-fieldset" style="height: 90px;">
                            <legend class="custom-legend mlm"><label id="lbl_Top_Margin_LPD">Top Margin</label></legend>
                            <label class="control-label text-red" id="lbl_In_Pixels_LPD">In Pixels:</label>
                            @(Html.DevExtreme().NumberBox().ID("Txt_TopMargin_LPD").Name("Txt_TopMargin_LPD").Placeholder("Type Top Margin").CustomNumberBox()@*.ReadOnly(true)*@.OnValueChanged("Txt_TopMargin_EditValueChanged_LPD").FocusStateEnabled(false))
                        </fieldset>
            </div>
        </div><!--[Radio Group]-->
        <div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("BUT_SAVE_LPD").Text("Ok").OnClick(@<text> function () { OnLetterPrintOkClick() } </text>) )
                        @(Html.DevExtreme().Button().CustomCloseButton().ID("BUT_CANCEL_LPD").Text("Cancel").OnClick(@<text> function () { $('#Dynamic_Content_popup').dxPopup('hide'); } </text>) )
                    </div>
                </div>
            </div><!--[Buttons]-->
        </div>
    </div>

    @(Html.DevExtreme().Popup().CustomPopup().ID("Frm_Preview_Popup").OnShowing("PopupOnShowing").CloseOnOutsideClick(false).ShowTitle(true).Title("New ...").ContentTemplate(@<text> <div id="result_Frm_Preview_Popup"> </div> </text>) )
    <script>
        var oPaperType_Radio = "0";
        var TopMargin_Value = parseInt(1);
    
        $(document).ready(function ()
        {
            ShowLoader();
            $("#PaperType_LPD").dxRadioGroup("instance").option("value", "0");

            HideLoader();
        });
        function OnLetterPrintOkClick()
        {
            
            var xTemp_ID_LPD = $("#xTemp_ID_LPD").val();
            $.ajax({
               url: '@Url.Action("LetterWriting_Print", "Letters")',
               type: "GET",
                data:
                {
                    ID: xTemp_ID_LPD,
                    oPaperType: oPaperType_Radio,
                    oTopMargin: TopMargin_Value
                },
               success: function (data)
               {
                   
                   OpenPopup("Frm_Preview_Popup", "Preview", null, "auto", "100%", true, data);
                   $('#Dynamic_Content_popup').dxPopup('hide');
               }
            });
        }
        function Txt_TopMargin_EditValueChanged_LPD(e)
        {
            TopMargin_Value = $("#Txt_TopMargin_LPD").dxNumberBox("instance").option("value");
            if (parseInt(TopMargin_Value) < 0)
            {
                $("#Txt_TopMargin_LPD").dxNumberBox("instance").option("value", parseInt(1));
                TopMargin_Value = parseInt(1);
            }
        }
        function PaperType_SelectedIndexChanged_LWH(e)
        {
            oPaperType_Radio = e.value;
            if (e.value == "2")
            {
                Control_SetReadOnly("Txt_TopMargin_LPD", "dxNumberBox", false);
                $("#lbl_Top_Margin_LPD").removeClass("text-red").removeClass("disabletxt");
                $("#lbl_In_Pixels_LPD").removeClass("text-red").removeClass("disabletxt");
            }
            else
            {
                Control_SetReadOnly("Txt_TopMargin_LPD", "dxNumberBox", true);
                $("#lbl_Top_Margin_LPD").removeClass("text-red").addClass("disabletxt");
                $("#lbl_In_Pixels_LPD").removeClass("text-red").addClass("disabletxt");
            }
        }
    </script>
    <script>    
    </script>
</div>