<div class="SaleAsset_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.SaleAssetModel
    <link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();

        bool SaleAset_AddFacilityAddress = (bool)ViewData["SaleAset_AddFacilityAddress"];
        bool SaleAset_ListFacilityAddress = (bool)ViewData["SaleAset_ListFacilityAddress"];
    }

    <style>
        .legendClass {
            margin-bottom: 0 !important;
            border-bottom: 1px solid #e5e5e5 !important;
            font-weight: 600;
        }

        .margB3 {
            margin-bottom: 3px !important;
        }

        .margB10 {
            margin-bottom: 10px !important;
        }

        form.edit_form .default-fieldset .custom-legend {
            text-decoration: none !important;
        }

        #But_PersAdd .dx-icon {
            width: 32px;
            height: 32px;
            /*line-height: normal;
        left: 45px;
        top: -10px;
        bottom: 0;*/
        }

        #But_PersManage .dx-icon {
            width: 32px;
            height: 32px;
            /*  line-height: normal;
        left: 45px;
        top: -10px;
        bottom: 0;*/
        }

        #But_PersManage .dx-button-content {
            height: inherit;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 30px;
        }

        #But_PersAdd .dx-button-content {
            height: inherit;
            padding-top: 14px;
            padding-bottom: 14px;
        }
        /*FCRA Related*/
        #ListSpecialVoucherRef_SaleA .dx-list-item-content {
            padding: 4.5px;
        }
    </style>
    <div id="Frm_Voucher_Win_Sale_Asset_popup">
        @using (Ajax.BeginForm("Frm_Voucher_Win_Sale_Asset", "SaleAsset",
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "Frm_Voucher_Win_Sale_Asset_popup",
            InsertionMode = InsertionMode.InsertAfter,
            OnBegin = "AjaxBeginFormPost",
            OnSuccess = "AjaxSuccessSaleAsset"
        },
        new
        {
            id = "FormID_Frm_Voucher_Win_Sale_Asset",
            @class = "edit_form form-horizontal"
        }))
        {
            @Html.HiddenFor(x => x.iVoucher_Type)
            @Html.HiddenFor(x => x.iRef_ItemID)
            @Html.HiddenFor(x => x.iTrans_Type)
            @Html.HiddenFor(x => x.iAsset_Type)
            @Html.HiddenFor(x => x.iLed_ID)
            @Html.HiddenFor(x => x.iCon_Led_ID)
            @Html.HiddenFor(x => x.iSpecific_ItemID)
            @Html.HiddenFor(x => x.Cnt_BankAccount)
            @Html.HiddenFor(x => x.iParty_Req)
            @Html.HiddenFor(x => x.iProfile)
            @Html.HiddenFor(x => x.iTDS_CODE)
            @Html.HiddenFor(x => x.iOffSet_ID)
            @Html.HiddenFor(x => x.iOffSet_Item)
            @Html.HiddenFor(x => x.LastEditedOn)
            @Html.HiddenFor(x => x.Info_LastEditedOn)
            @Html.HiddenFor(x => x.Info_MaxEditedOn)
            @Html.HiddenFor(x => x.SaleProfit_ItemID)
            @Html.HiddenFor(x => x.SaleLoss_ItemID)
            @Html.HiddenFor(x => x.SaleProfit_Loss_LedID)

            @Html.HiddenFor(x => x.ActionMethod)
            //@Html.HiddenFor(x => x.Cmb_Asset_Type_SelectedIndex)
            //@Html.HiddenFor(x => x.REC_EDIT_ON)
            @Html.HiddenFor(x => x.REF_AMT)
            //@Html.HiddenFor(x => x.Chk_Incompleted)
            @Html.HiddenFor(x => x.REF_QTY)
            @Html.HiddenFor(x => x.GLookUp_AssetList_Text_SaleA)
            //@Html.HiddenFor(x => x.REF_CREATION_DATE)
            //@Html.HiddenFor(x => x.REF_ID)
            @Html.HiddenFor(x => x.REC_EDIT_ON_Party)
            @Html.HiddenFor(x => x.REC_EDIT_ON_Bank)
            @Html.HiddenFor(x => x.REC_EDIT_ON_AssetName)
            //@Html.HiddenFor(x => x.REF_CREATION_DATE)
            //@Html.HiddenFor(x => x.ITEM_ID)
            @Html.HiddenFor(x => x.xMID)
            @Html.HiddenFor(x => x.xID)
            @Html.HiddenFor(x => x.lbl_Ref_No_Tag)
            @Html.HiddenFor(x => x.BE_Bank_Acc_No_Tag)
            @Html.HiddenFor(x => x.REF_CREATION_or_Purchase_Date)
            @Html.HiddenFor(x => x.SaleA_SplVchrReferenceSelected)
            @Html.HiddenFor(x => x.splVchrRefsCount_SaleA)

            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="full-width-header-bg">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Sale of Asset</h3>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div><!--[Header]-->
                <div class="row">
                    <div class="">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-2 col-md-4 col-lg-4 pll">
                                            @Html.Label("Item Name:", htmlAttributes: new { @class = "control-label text-red", @id = "lblItem_Name_SaleA" })
                                        </div>
                                        <div class="col-sm-10 col-md-8 col-lg-8 prm ">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ItemList_SaleA").Name("GLookUp_ItemList_SaleA").ValueExpr("ITEM_ID").DisplayExpr("ITEM_NAME")
                                                                                                .DataSource(d => d.Mvc().Controller("SaleAsset").LoadAction("LookUp_GetItemList_SaleAsset").Key("ITEM_ID").LoadParams(new { DDRefresh = new JS("function (){ return ItemDDRefresh_SaleA;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                                                                                .ReadOnly(true).ShowClearButton(false).OnValueChanged("GLookUp_ItemList_EditValueChanged_SaleA").ContentTemplate(@<text> @Html.Partial("LookUp_GetItemList_SaleAsset") </text>) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[GLookUp_ItemList]-->
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-2 col-md-4 col-lg-4 pll">
                                            @Html.Label("Voucher Date:", htmlAttributes: new { @class = "control-label text-red", @id = "lblTxt_V_Date_SaleA" })
                                        </div>
                                        <div class="col-sm-10 col-md-8 col-lg-8 prm">
                                            @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_V_Date_SaleA").Name("Txt_V_Date_SaleA").OnValueChanged("Txt_V_Date_EditValueChanged_SaleA").Placeholder("DD-MM-YYYY"))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[Txt_V_Date]-->
                    </div>
                </div><!--[row 1]-->
                <div class="row">
                    <div class="">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-2 col-md-4 col-lg-4 pll">
                                            @Html.Label("Head:", htmlAttributes: new { @class = "control-label", @id = "lblBE_Item_Head_SaleA" })
                                        </div>
                                        <div class="col-sm-10 col-md-8 col-lg-8 prm">
                                            @(Html.DevExtreme().TextBox().ID("BE_Item_Head_SaleA").Name("BE_Item_Head_SaleA").ReadOnly(true).CustomTextBox()
                                        )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[BE_Item_Head]-->
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-2 col-md-4 col-lg-4 pll">
                                            @Html.Label("Voucher No:", htmlAttributes: new { @class = "control-label", @id = "lblTxt_V_NO_SaleA" })
                                        </div>
                                        <div class="col-sm-10 col-md-8 col-lg-8 prm">
                                            @(Html.DevExtreme().TextBox().ID("Txt_V_NO_SaleA").Name("Txt_V_NO_SaleA").ReadOnly(true).FocusStateEnabled(false).CustomTextBox(true) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[Txt_V_NO]-->
                    </div>
                </div><!--[row 2]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <fieldset class="default-fieldset" id="LayoutControlItem9_SaleA">
                                    <legend class="custom-legend mlm"><label id="LabelControl5_SaleA"> Party Detail:</label></legend>
                                    <div class="row">
                                        <div class="col-sm-8 col-md-8" id="PartyDet_Name">
                                            <div class="row">
                                                <div class="col-sm-2 col-md-2 pll">
                                                    @Html.Label("Name:", htmlAttributes: new { @class = "control-label", @id = "lbl_Party_SaleA" })
                                                </div>
                                                <div class="col-sm-10 col-md-10 prm">
                                                    @(Html.DevExtreme().DropDownBox().ID("GLookUp_PartyList1_SaleA").Name("GLookUp_PartyList1_SaleA").ValueExpr("C_ID").DisplayExpr("C_NAME")
                                                                                                                            .DataSource(d => d.Mvc().Controller("SaleAsset").LoadAction("LookUp_GetPartyList_SaleAsset").LoadParams(new { DDRefresh = new JS("function (){ return PartyDDRefresh_SaleA;}") }).Key("C_ID").CacheRawData(true).LoadMode(DataSourceLoadMode.Raw))
                                                                                                                            .CustomDropDown().Placeholder("Select Party...").ReadOnly(true).OnValueChanged("GLookUp_PartyList1_EditValueChanged_SaleA").ContentTemplate(@<text> @Html.Partial("LookUp_GetPartyList_SaleAsset") </text>) )
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                                    @Html.Label("City:", htmlAttributes: new { @class = "control-label ", @id = "LabelControl3_SaleA" })
                                                </div>
                                                <div class="col-sm-10 col-md-4 col-lg-4 prm">
                                                    @(Html.DevExtreme().TextBox().ID("BE_City_SaleA").Name("BE_City_SaleA").CustomTextBox().ReadOnly(true).FocusStateEnabled(false) )
                                                </div>
                                                <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                                    @Html.Label("PAN No:", htmlAttributes: new { @class = "control-label ", @id = "lblBE_PAN_No_SaleA" })
                                                </div>
                                                <div class="col-sm-10 col-md-4 col-lg-4 prm">
                                                    @(Html.DevExtreme().TextBox().ID("BE_PAN_No_SaleA").Name("BE_PAN_No_SaleA").CustomTextBox().ReadOnly(true).FocusStateEnabled(false) )
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2" id="PartyDet_AdParty">
                                            @(Html.DevExtreme().Button().ID("But_PersAdd").Height("inherit").Width("100%").Text("Add Party").Icon(Url.Content("../../../../Icons/add user.png")).OnClick("Add_Party_SaleA").Disabled(Model.ActionMethod == "_View" || Model.ActionMethod == "_Delete") ) @**@
                                        </div>
                                        <div class="col-sm-2 col-md-2" id="PartyDet_ManParty">
                                            @(Html.DevExtreme().Button().ID("But_PersManage").Height("inherit").Width("100%").Text("Manage Party").Icon(Url.Content("../../../../Icons/manage user.png")).OnClick("Manage_Party_SaleA").Disabled(Model.ActionMethod == "_View" || Model.ActionMethod == "_Delete") )
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div><!-- Party Details-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <fieldset class="default-fieldset" id="PanelControl6_SaleA">
                                    <legend class="custom-legend mlm"><label id="lbl_Adjust_Title_SaleA"> Asset Detail:</label></legend>
                                    <div class="col-sm-2 pll">
                                        @Html.Label("Asset Type:", htmlAttributes: new { @class = "control-label  text-red", @id = "lbl_Payment_SaleA" })
                                    </div>
                                    <div class="col-sm-4 prm">
                                        @(Html.DevExtreme().SelectBox().ID("Cmb_Asset_Type_SaleA").Name("Cmb_Asset_Type_SaleA").CustomSelectBox().DataSource(new[] { "GOLD", "SILVER", "VEHICLES", "LIVESTOCK", "MOVABLE ASSETS", "LAND & BUILDING" }).Placeholder("Select Type...").OnValueChanged("Cmb_Asset_Type_SelectedIndexChanged_SaleA").Value(Model.Cmb_Asset_Type_SaleA) )
                                    </div>
                                    <div class="col-sm-2 pll">
                                        @Html.Label("Asset Name:", htmlAttributes: new { @class = "control-label  text-red", @id = "LabelControl10_SaleA" })
                                    </div>
                                    <div class="col-sm-4 prm">
                                        @(Html.DevExtreme().DropDownBox().ID("GLookUp_AssetList_SaleA").Name("GLookUp_AssetList_SaleA").CustomDropDown().ValueExpr("REF_ID").DisplayExpr("REF_ITEM").ReadOnly(true).OnValueChanged("GLookUp_AssetList_EditValueChanged_SaleA")
                                                                                                       .DataSource(d => d.Mvc().Controller("SaleAsset").LoadAction("GLookUp_Get_AssetList").LoadParams(new { Profile = new JS("function (){ return $('#Cmb_Asset_Type_SaleA').dxSelectBox('option','value');}"), ActionMethod = new JS("function (){ return $('#ActionMethod').val();}"), xMID = new JS("function (){ return $('#xMID').val();}"), DDRefresh = new JS("function (){ return AssetListDDRefresh_SaleA;}") }).Key("REF_ID").CacheRawData(true).LoadMode(DataSourceLoadMode.Raw))
                                                                                                       .ContentTemplate(@<text> @Html.Partial("LookUp_AssetList_SaleAsset") </text>))
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Description:", htmlAttributes: new { @class = "control-label ", @id = "LabelControl14_SaleA" })
                                        </div>
                                        <div class="col-sm-4 prm">
                                            @(Html.DevExtreme().TextBox().ID("Txt_Desc_SaleA").Name("Txt_Desc_SaleA").CustomTextBox(true).ReadOnly(true).FocusStateEnabled(false) )
                                        </div>
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Current Weight:", htmlAttributes: new { @class = "control-label ", @id = "lbl_CurQty_SaleA" })
                                        </div>
                                        <div class="col-sm-4 prm">
                                            @(Html.DevExtreme().NumberBox().ID("Txt_CurQty_SaleA").Name("Txt_CurQty_SaleA").Format("#0.000").CustomNumberBox().ReadOnly(true).FocusStateEnabled(false))
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div><!-- Asset Details-->
                <div class="row">
                    <div class="">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-6 col-lg-4 pll">
                                            @Html.Label("Mode:", htmlAttributes: new { @class = "control-label  text-red", @id = "lblCmd_Mode_SaleA" })
                                        </div>
                                        <div class="col-sm-8 col-md-6 col-lg-8 prm ">
                                            @(Html.DevExtreme().SelectBox().ID("Cmd_Mode_SaleA").Name("Cmd_Mode_SaleA").CustomSelectBox().DataSource(new[] { "CASH", "CHEQUE", "DD", "CBS", "RTGS", "NEFT", "ECS", "BANK ACCOUNT" }).OnValueChanged("Cmd_Mode_SelectedIndexChanged_SaleA").Value("CASH"))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[Mode]-->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-6 col-lg-6 pll">
                                            @Html.Label("Date of Sale:", htmlAttributes: new { @class = "control-label  text-red", @id = "lblTxt_SDate_SaleA" })
                                        </div>
                                        <div class="col-sm-8 col-md-6 col-lg-6 prm">
                                            @(Html.DevExtreme().DateBox().ID("Txt_SDate_SaleA").Name("Txt_SDate_SaleA").CustomDateBox().Placeholder("DD-MM-YYYY").Min(new DateTime(1900, 1, 1)) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[Date of Sale]-->
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-2 col-md-6 col-lg-6 pll">
                                            @Html.Label("Sale Weight:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_SaleQty_SaleA" })
                                        </div>
                                        <div class="col-sm-10 col-md-6 col-lg-6 prm">
                                            @(Html.DevExtreme().NumberBox().ID("Txt_Qty_SaleA").Name("Txt_Qty_SaleA").Format("#0.000").CustomNumberBox().Min(0) )

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[Sale Weight]-->
                    </div>
                </div><!--[row 3]-->
                <div class="row">
                    <div class="">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-6 col-lg-4 pll">
                                            @Html.Label("Sale Amount:", htmlAttributes: new { @class = "control-label  text-red", @id = "lblTxt_SaleAmt_SaleA" })
                                        </div>
                                        <div class="col-sm-8 col-md-6 col-lg-8 prm">
                                            @(Html.DevExtreme().NumberBox().ID("Txt_SaleAmt_SaleA").Name("Txt_SaleAmt_SaleA").Format("#0.00").CustomNumberBox().Placeholder("Type Amount...").Min(0).OnValueChanged("Txt_Amount_EditValueChanged_SaleA"))@*Redmine Bug #133207 fixed*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[Sale Amount]-->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-6 col-lg-6 pll">
                                            @Html.Label("Received Amount:", htmlAttributes: new { @class = "control-label  text-red", @id = "lblTxt_Amount_SaleA" })
                                        </div>
                                        <div class="col-sm-8 col-md-6 col-lg-6 prm">
                                            @(Html.DevExtreme().NumberBox().ID("Txt_Amount_SaleA").Name("Txt_Amount_SaleA").Format("#0.00").CustomNumberBox().Placeholder("Type Amount...").Min(0).OnValueChanged("Txt_Amount_EditValueChanged_SaleA"))@*Redmine Bug #133207 fixed*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[Received Amount]-->
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-2 col-md-6 col-lg-6 pll">
                                            @Html.Label("Balance Amt:", htmlAttributes: new { @class = "control-label", @id = "lblTxt_Diff_SaleA" })
                                        </div>
                                        <div class="col-sm-10 col-md-6 col-lg-6 prm">
                                            @(Html.DevExtreme().NumberBox().ID("Txt_Diff_SaleA").Name("Txt_Diff_SaleA").Format("#.##").ReadOnly(true).FocusStateEnabled(false).CustomNumberBox())
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[Balance Amt]-->
                    </div>
                </div><!--[row 4]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 ">
                        <div class="form-field">
                            <div class="container-fluid">
                                <fieldset class="default-fieldset" id="LayoutControlItem3_SaleA">
                                    <legend class="custom-legend mlm"><label id="lbl_Ref_Title_SaleA" class="disabletxt"> Reference Detail:</label></legend>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Bank Name:", htmlAttributes: new { @class = "control-label disabletxt ", @id = "lbl_Ref_Bank_SaleA" })
                                        </div>
                                        <div class="col-sm-10 prm">
                                            @(Html.DevExtreme().DropDownBox().ID("GLookUp_RefBankList_SaleA").Name("GLookUp_RefBankList_SaleA").CustomDropDown().ValueExpr("BI_ID").DisplayExpr("BI_BANK_NAME")
                                                                                           .DataSource(d => d.Mvc().Controller("SaleAsset").LoadAction("LookUp_GetRefBankList_SaleAsset").LoadParams(new { DDRefresh = new JS("function (){ return RefBankDDRefresh_SaleA;}") }).Key("BI_ID").CacheRawData(true).LoadMode(DataSourceLoadMode.Raw))
                                                                                           .ReadOnly(true).Placeholder("Select Bank...").OnValueChanged("GLookUp_RefBankList_EditValueChanged_SaleA").ContentTemplate(@<text> @Html.Partial("LookUp_GetRefBankList_SaleAsset") </text>) )
                                        </div>
                                    </div><!--[Bank Name]-->
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Branch Name", htmlAttributes: new { @class = "control-label disabletxt ", @id = "lbl_Ref_Branch_SaleA" })
                                        </div>
                                        <div class="col-sm-4 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true, true).ID("Txt_Ref_Branch_SaleA").Name("Txt_Ref_Branch_SaleA").MaxLength(25).Placeholder("TYPE BRANCH NAME...") )
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                            @Html.Label("Ref No:", htmlAttributes: new { @class = "control-label disabletxt", @id = "lbl_Ref_No_SaleA" })
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true, true).ID("Txt_Ref_No_SaleA").Name("Txt_Ref_No_SaleA").MaxLength(25) )
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                            @Html.Label("Date:", htmlAttributes: new { @class = "control-label disabletxt", @id = "lbl_Ref_Date_SaleA" })
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 prm">
                                            @(Html.DevExtreme().DateBox().ID("Txt_Ref_Date_SaleA").Name("Txt_Ref_Date_SaleA").CustomDateBox().Placeholder("DD-MM-YYYY").Min(new DateTime(1900, 1, 1)).Max(new DateTime(2099, 1, 1)) )
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                            @Html.Label("Clearing Date:", htmlAttributes: new { @class = "control-label disabletxt", @id = "lbl_Ref_CDate_SaleA" })
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 prm">
                                            @(Html.DevExtreme().DateBox().ID("Txt_Ref_CDate_SaleA").Name("Txt_Ref_CDate_SaleA").CustomDateBox().Placeholder("DD-MM-YYYY").Min(new DateTime(1900, 1, 1)).Max(new DateTime(2099, 1, 1)) )
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div><!-- Reference Details-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 ">
                        <div class="form-field">
                            <div class="container-fluid">
                                <fieldset class="default-fieldset" id="LayoutControlItem1_SaleA">
                                    <legend class="custom-legend mlm"><label id="lbl_Bank_Title_SaleA" class="disabletxt"> Deposited Bank Detail:</label></legend>
                                    <div class="col-sm-2 pll">
                                        @Html.Label("Bank Name:", htmlAttributes: new { @class = "control-label disabletxt ", @id = "lbl_Bank_Name_SaleA" })
                                    </div>
                                    <div class="col-sm-10 prm">
                                        @(Html.DevExtreme().DropDownBox().ID("GLookUp_BankList_SaleA").Name("GLookUp_BankList_SaleA").CustomDropDown().ValueExpr("BA_ID").DisplayExpr("BANK_NAME")
                                                                                        .DataSource(d => d.Mvc().Controller("SaleAsset").LoadAction("LookUp_GetBankList_SaleAsset").Key("BA_ID").LoadParams(new { DD_Refresh = new JS("function() { return BankDDRefresh_SaleA; }") }).CacheRawData(true).LoadMode(DataSourceLoadMode.Raw))
                                                                                        .ReadOnly(true).Placeholder("Select Bank...").OnValueChanged("GLookUp_BankList_EditValueChanged_SaleA").ContentTemplate(@<text> @Html.Partial("LookUp_GetBankList_SaleAsset") </text>) )
                                    </div>
                                    <div class="col-sm-2 pll">
                                        @Html.Label("Branch Name", htmlAttributes: new { @class = "control-label disabletxt", @id = "lbl_Branch_Name_SaleA" })
                                    </div>
                                    <div class="col-sm-4 prm">
                                        @(Html.DevExtreme().TextBox().ID("BE_Bank_Branch_SaleA").Name("BE_Bank_Branch_SaleA").ReadOnly(true).FocusStateEnabled(false).CustomTextBox(true) )
                                    </div>
                                    <div class="col-sm-2 pll">
                                        @Html.Label("A/C No:", htmlAttributes: new { @class = "control-label disabletxt", @id = "lbl_Acc_No_SaleA" })
                                    </div>
                                    <div class="col-sm-4 prm">
                                        @(Html.DevExtreme().TextBox().ID("BE_Bank_Acc_No_SaleA").Name("BE_Bank_Acc_No_SaleA").ReadOnly(true).FocusStateEnabled(false).CustomTextBox(true))
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div><!-- Deposited Bank Details-->

                <div class="row">
                    <div id="SaleA_NarrationDiv" class="col-sm-12 col-md-8 col-lg-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-field">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                                @Html.Label("Purpose: ", htmlAttributes: new { @class = "control-label  text-red", @id = "lblGLookUp_PurList_SaleA" })
                                            </div>
                                            <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                                @(Html.DevExtreme().SelectBox().ID("GLookUp_PurList_SaleA").Name("GLookUp_PurList_SaleA").CustomSelectBox()
                                                    .DisplayExpr("PUR_NAME").ValueExpr("PUR_ID")
                                                    .DataSource(d => d.Mvc().Controller("SaleAsset").LoadAction("LookUp_GetPurposeList_SaleAsset").Key("PUR_ID"))
                                                    .ReadOnly(true).Placeholder("Select Purpose...") )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[Purpose]-->
                        <fieldset class="default-fieldset brd_new_bottom">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-field">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-2 pll">
                                                    @Html.Label("Narration: ", htmlAttributes: new { @class = "control-label", @id = "LabelControl12_SaleA" })
                                                </div>
                                                <div class="col-sm-10 prm">
                                                    @(Html.DevExtreme().TextBox().ID("Txt_Narration_SaleA").Name("Txt_Narration_SaleA").CustomTextBox(true).MaxLength(250).ReadOnly(true).FocusStateEnabled(false) )
                                                </div>
                                                <div class="col-sm-2 pll">
                                                    @Html.Label("Remarks: ", htmlAttributes: new { @class = "control-label", @id = "LabelControl9_SaleA" })
                                                </div>
                                                <div class="col-sm-10 prm">
                                                    @(Html.DevExtreme().TextBox().ID("Txt_Remarks_SaleA").Name("Txt_Remarks_SaleA").CustomTextBox(true).Placeholder("Type any Other Detail / Remarks...").MaxLength(250) )
                                                </div>
                                                <div class="col-sm-2 pll">
                                                    @Html.Label("Reference: ", htmlAttributes: new { @class = "control-label", @id = "LabelControl8_SaleA" })
                                                </div>
                                                <div class="col-sm-10 prm">
                                                    @(Html.DevExtreme().TextBox().ID("Txt_Reference_SaleA").Name("Txt_Reference_SaleA").CustomTextBox(true).Placeholder("Type any Reference Details").MaxLength(250))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4" id="SaleA_SpecialVoucherRefDiv">
                        <div class="form-field ">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().List().CustomList().ID("ListSpecialVoucherRef_SaleA")
                                    .DataSource(Model.SpecialReferenceList_Data_SaleA, "Task_Name")
                                    .SearchEnabled(false)
                                    .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                                    .KeyExpr("Task_Name")
                                    .DisplayExpr("Task_Name")
                                    .OnSelectionChanged("OnSplVchrRefsListSelectionChanged_SaleA")
                                    .Height(97).ShowScrollbar(ShowScrollbarMode.Always).UseNativeScrolling(false)
                                    .ShowSelectionControls(true)
                                    .SelectedItemKeys(Model.SpecialReference_Get_SelectedValue_SaleA))
                            </div>
                        </div>
                    </div>
                </div><!--[Purpose, Narration, Special Voucher References]-->

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ {1})...", Model.ActionMethod.Substring(1), "Sale of Asset"))
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().ID("BUT_SAVE_SaleA").CustomSaveButton(Model.ActionMethod.ToString()).Text((Model.ActionMethod.ToString().Trim() == "_Delete") ? "Delete" : "Save").UseSubmitBehavior(false).Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true).OnClick("BUT_SAVE_Click_SaleA"))
                                    @(Html.DevExtreme().Button().ID("BUT_CANCEL_SaleA").CustomCloseButton().Text((Model.ActionMethod.ToString().Trim() == "_View") ? "Close" : "Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->
            }
        }
    </div>
    <script>
        var Item_Name_SaleA_DG;
        var PartyList1_SaleA_DG;
        var AssetList_SaleA_DG;
        var RefBankList_SaleA_DG;
        var PurposeList_SaleA_DG;
        var BankList_SaleA_DG;
        var ItemDDRefresh_SaleA = false;
        var PartyDDRefresh_SaleA = false;
        var AssetListDDRefresh_SaleA = false;
        var RefBankDDRefresh_SaleA = false;
        var BankDDRefresh_SaleA = false;
        var SaleA_PopupCloseConfirmation = true;
    </script> @*Global_Variables_SaleA*@
    <script>
        function InitAllDropdownDatagrid_SaleA() {
            var $Item_Name_SaleA_DG = $("#GLookUp_ItemList_datagrid_SaleAsset");
            if ($Item_Name_SaleA_DG.length) {
                Item_Name_SaleA_DG = $Item_Name_SaleA_DG.dxDataGrid("instance");
            }
            var $PartyList1_SaleA_DG = $("#GLookUp_PartyList1_SaleA_datagrid");
            if ($PartyList1_SaleA_DG.length) {
                PartyList1_SaleA_DG = $PartyList1_SaleA_DG.dxDataGrid("instance");
            }
            var $AssetList_SaleA_DG = $("#GLookUp_AssetList_SaleA_datagrid");
            if ($AssetList_SaleA_DG.length) {
                AssetList_SaleA_DG = $AssetList_SaleA_DG.dxDataGrid("instance");
            }
            var $RefBankList_SaleA_DG = $("#GLookUp_RefBankList_SaleA_datagrid");
            if ($RefBankList_SaleA_DG.length) {
                RefBankList_SaleA_DG = $RefBankList_SaleA_DG.dxDataGrid("instance");
            }
            var $BankList_SaleA_DG = $("#GLookUp_BankList_SaleA_datagrid");
            if ($BankList_SaleA_DG.length) {
                BankList_SaleA_DG = $BankList_SaleA_DG.dxDataGrid("instance");
            }
        }

    </script> @*Initialize_Datagrids_SaleA*@
    <script>

    async function LookUp_GetItemList_SaleA(FirstCall = false)
    {
        if (FirstCall === false) {
            ItemDDRefresh_SaleA = true;
            await Item_Name_SaleA_DG.refresh();
            ItemDDRefresh_SaleA = false;
        }
        var TotalCount = Item_Name_SaleA_DG.totalCount();
        if (TotalCount < 0) //dd has not been loaded so total count will return -1 in this case
        {
            var ds = $("#GLookUp_ItemList_SaleA").dxDropDownBox("getDataSource");
            var store = ds.store();
            TotalCount = await store.totalCount();
        }
        if (TotalCount == 1) {
            $("#GLookUp_ItemList_SaleA").find('input').css('color', '#000080');
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection") {
                await Item_Name_SaleA_DG.selectRowsByIndexes(0);
                Control_SetReadOnly("GLookUp_ItemList_SaleA", "dxDropDownBox", true);
            }
        }
        else {
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection") {
                Control_SetReadOnly("GLookUp_ItemList_SaleA", "dxDropDownBox", false);
            }
        }
    }
    async function LookUp_GetPartyList_SaleA (FirstCall = false)
    {
        $("#GLookUp_PartyList1_SaleA").dxDropDownBox("reset");
        if (FirstCall === false)
        {
            PartyDDRefresh_SaleA = true;
            await PartyList1_SaleA_DG.refresh();
            PartyDDRefresh_SaleA = false;
            $("#GLookUp_PartyList1_SaleA").dxDropDownBox("focus")
        }
        if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
        {
            Control_SetReadOnly("GLookUp_PartyList1_SaleA", "dxDropDownBox", false);
        }

    }
    async function GLookUp_Get_AssetList_SaleA(FirstCall = false)
    {
        if (FirstCall === false) {
            AssetListDDRefresh_SaleA = true;
            await AssetList_SaleA_DG.refresh();
            AssetListDDRefresh_SaleA = false;
        }

        if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
        {
            Control_SetReadOnly("GLookUp_AssetList_SaleA", "dxDropDownBox", false);
        }

    }
    async function LookUp_GetRefBankList_SaleA(FirstCall = false)
    {
        if (FirstCall === false) {
            RefBankDDRefresh_SaleA = true;
            await RefBankList_SaleA_DG.refresh();
            RefBankDDRefresh_SaleA = false;
        }
                if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
                {
                    Control_SetReadOnly("GLookUp_RefBankList_SaleA", "dxDropDownBox", false);
                }

    }
    function LookUp_GetPurposeList_SaleA(FirstCall = false)
    {
        if (FirstCall === false) {
            $("#GLookUp_PurList_SaleA").dxSelectBox("instance").getDataSource().reload();
        }

        if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
        {
            Control_SetReadOnly("GLookUp_PurList_SaleA", "dxSelectBox", false);
        }
    }
    async function LookUp_GetBankList_SaleA(FirstCall = false)
    {
        if (FirstCall === false) {
            BankDDRefresh_SaleA = true;
            await BankList_SaleA_DG.refresh();
            BankDDRefresh_SaleA = false;
        }
        var TotalCount = BankList_SaleA_DG.totalCount();
        if (TotalCount < 0) //dd has not been loaded so total count will return -1 in this case
        {
            var ds = $("#GLookUp_BankList_SaleA").dxDropDownBox("getDataSource");
            var store = ds.store();
            TotalCount = await store.totalCount();
        }
        if ((TotalCount) == 1)
        {
                    $("#Cnt_BankAccount").val(1);
                    $("#GLookUp_BankList_SaleA").find('input').css('color', '#696969');
                    $("#BE_Bank_Branch_SaleA").find('input').css('color', '#696969');
                    $("#BE_Bank_Acc_No_SaleA").find('input').css('color', '#696969');
                    if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
                    {
                        await BankList_SaleA_DG.selectRowsByIndexes(0);
                        Control_SetReadOnly("GLookUp_BankList_SaleA", "dxDropDownBox", true);
                    }
        }
        else
        {
            $("#Cnt_BankAccount").val(TotalCount);
                    if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
                    {
                        Control_SetReadOnly("GLookUp_BankList_SaleA", "dxDropDownBox", false);
                    }
        }
    }

    </script> @*DD_Refresh()_SaleA*@
    <script>
        function GLookUp_ItemList_EditValueChanged_SaleA(e) {
            e.component.close();
            if (e.previousValue != null && e.value == null) {
                Item_Name_SaleA_DG.clearSelection();
                return;
            }
            if (Item_Name_SaleA_DG.getSelectedRowsData().length > 0) {
                var item = Item_Name_SaleA_DG.getSelectedRowsData()[0];
                $("#BE_Item_Head_SaleA").dxTextBox("instance").option("value", item["LED_NAME"]);
                $("#iVoucher_Type").val(item["ITEM_VOUCHER_TYPE"]);
                $("#iLed_ID").val(item["ITEM_LED_ID"]);
                $("#iTrans_Type").val(item["ITEM_TRANS_TYPE"]);
                $("#iParty_Req").val(item["ITEM_PARTY_REQ"]);
                if (($("#iParty_Req").val()).toUpperCase() == "YES") {
                    $("#lbl_Party_SaleA").addClass("text-red").removeClass("disabletxt");
                }
                else {
                    $("#lbl_Party_SaleA").removeClass("text-red").removeClass("disabletxt");
                }
                $("#iProfile").val(item["ITEM_PROFILE"]);
                $("#iTDS_CODE").val(item["ITEM_TDS_CODE"]);
                $("#iOffSet_ID").val(item["ITEM_OFFSET_REC_ID"]);
                $("#iOffSet_Item").val(item["ITEM_OFFSET_NAME"]);
            }
        }
        function GLookUp_PartyList1_EditValueChanged_SaleA(e) {
            e.component.close();
            if (e.previousValue != null && (e.value == null || e.value.length == 0)) {
                $("#BE_PAN_No_SaleA").dxTextBox("reset");
                $("#BE_City_SaleA").dxTextBox("reset");
                $("#REC_EDIT_ON_Party").val("");
                PartyList1_SaleA_DG.clearSelection();
                return;
            }
            if (PartyList1_SaleA_DG.getSelectedRowsData().length > 0) {
                var item = PartyList1_SaleA_DG.getSelectedRowsData()[0];
                $("#BE_PAN_No_SaleA").dxTextBox("instance").option("value", item["C_PAN_NO"]);
                $("input[name=BE_City_SaleA]").val(item["C_CITY"]);
                $("#REC_EDIT_ON_Party").val(item["REC_EDIT_ON"]);
            }
        }
        function GLookUp_AssetList_EditValueChanged_SaleA(e) {
            e.component.close();
            if (e.previousValue != null && (e.value == null || e.value.length == 0)) {
                AssetList_SaleA_DG.clearSelection();
                $("#Txt_Desc_SaleA").dxTextBox("instance").reset();
                return;
            }
            if (AssetList_SaleA_DG.getSelectedRowsData().length > 0) {
                var item = AssetList_SaleA_DG.getSelectedRowsData()[0];

                if ($("#Cmb_Asset_Type_SaleA").dxSelectBox("instance").option("value") == "GOLD" || $("#Cmb_Asset_Type_SaleA").dxSelectBox("instance").option("value") == "SILVER") {
                    $("#Txt_Qty_SaleA").dxNumberBox("instance").option("format", "#0.000");
                    $("#Txt_CurQty_SaleA").dxNumberBox("instance").option("format", "#0.000");
                }
                else {
                    $("#Txt_Qty_SaleA").dxNumberBox("instance").option("format", "#");
                    $("#Txt_CurQty_SaleA").dxNumberBox("instance").option("format", "#");
                }
                $("#Txt_Qty_SaleA").dxNumberBox("instance").reset();
                $("#REF_AMT").val(item["REF_AMT"]);
                $("#Txt_Desc_SaleA").dxTextBox("instance").option("value", item["REF_DESC"]);
                $("#Txt_CurQty_SaleA").dxNumberBox("instance").option("value", item["REF_QTY"]);
                $("#REF_QTY").val(item["REF_QTY"]);
                $("#GLookUp_AssetList_Text_SaleA").val(item["REF_ITEM"]);
                $("#iLed_ID").val(item["REF_LED_ID"]);
                $("#REF_CREATION_or_Purchase_Date").val(item["REF_CREATION_DATE"]);
                $("#REC_EDIT_ON_AssetName").val(item["REC_EDIT_ON"]);
                if ($("#Cmb_Asset_Type_SaleA").dxSelectBox("instance").option("value") == "MOVABLE ASSETS") {
                    $("#iAsset_Type").val(item["AI_TYPE"]);
                    $("#iCon_Led_ID").val(item["ITEM_CON_LED_ID"]);
                }
                $("#iTrans_Type").val("CREDIT");
                if ($("#Txt_CurQty_SaleA").dxNumberBox("instance").option("value") == 1) {
                    Control_SetReadOnly("Txt_CurQty_SaleA", "dxNumberBox", true);
                    Control_SetReadOnly("Txt_Qty_SaleA", "dxNumberBox", true);
                    $("#Txt_Qty_SaleA").dxNumberBox("instance").option("value", $("#Txt_CurQty_SaleA").dxNumberBox("instance").option("value"));
                }
                else {
                    // Details: Txt_CurQty_SaleA is set read Only because in windows this control is focused disabled.RedmineBug#135181
                    Control_SetReadOnly("Txt_CurQty_SaleA", "dxNumberBox", true);
                    Control_SetReadOnly("Txt_Qty_SaleA", "dxNumberBox", false);
                }
            }
        }
        function GLookUp_RefBankList_EditValueChanged_SaleA(e) {
            e.component.close();
            if (e.previousValue != null && e.value == null) {
                RefBankList_SaleA_DG.clearSelection();
                // Details: Below code commented of RedmineBug#135202
                //$("#Txt_Ref_Branch_SaleA").dxTextBox("instance").reset();
                //$("#Txt_Ref_No_SaleA").dxTextBox("instance").reset();
                //$("#Txt_Ref_Date_SaleA").dxDateBox("instance").reset();
                //$("#Txt_Ref_CDate_SaleA").dxDateBox("instance").reset();
                return;
            }
        }
        function GLookUp_BankList_EditValueChanged_SaleA(e) {
            e.component.close();
            if (e.previousValue != null && e.value == null) {
                BankList_SaleA_DG.clearSelection();
                $("#BE_Bank_Branch_SaleA").dxTextBox("instance").reset();
                $("#BE_Bank_Acc_No_SaleA").dxTextBox("instance").reset();
                return;
            }
            if (BankList_SaleA_DG.getSelectedRowsData().length > 0) {
                var item = BankList_SaleA_DG.getSelectedRowsData()[0];
                $("#BE_Bank_Branch_SaleA").dxTextBox("instance").option("value", item["BANK_BRANCH"]);
                $("#BE_Bank_Acc_No_SaleA").dxTextBox("instance").option("value", item["BANK_ACC_NO"]);
                $("#REC_EDIT_ON_Bank").val(item["REC_EDIT_ON"]);
                $("#BE_Bank_Acc_No_Tag").val(item["BI_SHORT_NAME"]);
                $("#lbl_Ref_No_Tag").val(item["BANK_ID"]);
            }
        }
    </script> @*DD_ValueChange()_SaleA*@
    <script>

    function Cmb_Asset_Type_SelectedIndexChanged_SaleA(e,FirstCall=false)
    {
        var value = null;
        if (e)
        {
            value = e.value;
        }
        else
        {
            value = $("#Cmb_Asset_Type_SaleA").dxSelectBox('option', 'value');
        }
        $("#GLookUp_AssetList_SaleA").dxDropDownBox("instance").reset();
        $("#Txt_Desc_SaleA").dxTextBox("instance").reset();
        $("#Txt_Amount_SaleA").dxNumberBox("instance").reset();
        $("#Txt_Diff_SaleA").dxNumberBox("instance").reset();
        $("#Txt_SaleAmt_SaleA").dxNumberBox("instance").reset();
        $("#Txt_SDate_SaleA").dxDateBox("instance").option("value", $("#Txt_V_Date_SaleA").dxDateBox("instance").option("value"));
        $("#Txt_Qty_SaleA").dxNumberBox("instance").reset();
        /*$("#Txt_CurQty_SaleA").dxNumberBox("instance").reset();*/
        if (value == "GOLD" || value == "SILVER")
        {
            $("#lbl_CurQty_SaleA").text("Current Weight:");
            $("#lbl_SaleQty_SaleA").text("Sale Weight:");
            $("#Txt_Qty_SaleA").dxNumberBox("instance").option("value", parseFloat("0").toFixed(3));
            $("#Txt_Qty_SaleA").dxNumberBox("instance").option("format", "#.000");
        }
        else
        {
            $("#lbl_CurQty_SaleA").text("Current Qty:");
            $("#lbl_SaleQty_SaleA").text("Sale Qty:");
            $("#Txt_Qty_SaleA").dxNumberBox("instance").option("value", parseFloat("0").toFixed(0));
            $("#Txt_Qty_SaleA").dxNumberBox("instance").option("format", "#");
        }
        GLookUp_Get_AssetList_SaleA(FirstCall);
        //Get_Asset_Item_SaleA(e);
    }
    function Get_Asset_Item_SaleA(e)
    {
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Account/SaleAsset/Get_Asset_Items",
            async: false,
            data:
            {
                Profile: e.value,
                ActionMethod: "@Model.ActionMethod",
                xMID: $("#xMID").val()
            },
            cache: false,
            success:
                function (data)
                {
                    if (data.result == true)
                    {
                        GLookUp_Get_AssetList_SaleA();
                    }
                    else
                    {
                        DevExpress.ui.dialog.alert(data.message, "Error..");
                    }
                }
        });
        HideLoader();
    }
    function Cmd_Mode_SelectedIndexChanged_SaleA(e)
    {
        if (e.value == null) { return; }
        if (e.value.toUpperCase() == "CASH") {
            Fieldset_SetDisable("LayoutControlItem1_SaleA", true);
            Fieldset_SetDisable("LayoutControlItem3_SaleA", true);
            if ($("#Cnt_BankAccount").val() > 1)
            {
                $("#GLookUp_BankList_SaleA").dxDropDownBox("instance").reset();
                $("#BE_Bank_Branch_SaleA").dxTextBox("instance").reset();
                $("#BE_Bank_Acc_No_SaleA").dxTextBox("instance").reset();
            }
            else
            {
                $("#GLookUp_BankList_SaleA").find('input').css('color', '#696969');
                $("#BE_Bank_Branch_SaleA").find('input').css('color', '#696969');
                $("#BE_Bank_Acc_No_SaleA").find('input').css('color', '#696969');
            }
            $("#GLookUp_RefBankList_SaleA").dxDropDownBox("instance").reset();
            $("#Txt_Ref_Branch_SaleA").dxTextBox("instance").reset();
            $("#Txt_Ref_No_SaleA").dxTextBox("instance").reset();
            $("#Txt_Ref_Date_SaleA").dxDateBox("instance").reset();
            $("#Txt_Ref_CDate_SaleA").dxDateBox("instance").reset();
            $("#lbl_Bank_Title_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Bank_Name_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Branch_Name_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Acc_No_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Bank_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Branch_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Title_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_No_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Date_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Cdate_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Title_SaleA").text("Reference Detail:");
            $("#lbl_Ref_No_SaleA").text("Ref. No.:");
            $("#Txt_Ref_No_SaleA").dxTextBox("instance").option("placeholder", "Type No...");
            $("#lbl_Ref_Date_SaleA").text("Date:");
            $("#lbl_Ref_Cdate_SaleA").text("Clearing Date:");
        }
        else if (e.value.toUpperCase() == "BANK ACCOUNT")
        {
            Fieldset_SetDisable("LayoutControlItem1_SaleA", false);
            Fieldset_SetDisable("LayoutControlItem3_SaleA", true);
            if ($("#Cnt_BankAccount").val() > 1)
            {
                $("#GLookUp_BankList_SaleA").dxDropDownBox("instance").reset();
                $("#BE_Bank_Branch_SaleA").dxTextBox("instance").reset();
                $("#BE_Bank_Acc_No_SaleA").dxTextBox("instance").reset();
            }
            else
            {
                $("#GLookUp_BankList_SaleA").find('input').css('color', '#000080');
                $("#BE_Bank_Branch_SaleA").find('input').css('color', '#000080');
                $("#BE_Bank_Acc_No_SaleA").find('input').css('color', '#000080');
            }
            $("#GLookUp_RefBankList_SaleA").dxDropDownBox("instance").reset();
            $("#Txt_Ref_Branch_SaleA").dxTextBox("instance").reset();
            $("#Txt_Ref_No_SaleA").dxTextBox("instance").reset();
            $("#Txt_Ref_Date_SaleA").dxDateBox("instance").reset();
            $("#Txt_Ref_CDate_SaleA").dxDateBox("instance").reset();
            $("#lbl_Bank_Title_SaleA").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_Bank_Name_SaleA").removeClass("disabletxt").addClass("text-red");
            $("#lbl_Branch_Name_SaleA").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_Acc_No_SaleA").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Bank_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Branch_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Title_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_No_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Date_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Cdate_SaleA").addClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Title_SaleA").text("Reference Detail:");
            $("#lbl_Ref_No_SaleA").text("Ref. No.:");
            $("#Txt_Ref_No_SaleA").dxTextBox("instance").option("placeholder", "Type No...");
            $("#lbl_Ref_Date_SaleA").text("Date:");
            $("#lbl_Ref_Cdate_SaleA").text("Clearing Date:");
        }
        else
        {
            Fieldset_SetDisable("LayoutControlItem1_SaleA", false);
            Fieldset_SetDisable("LayoutControlItem3_SaleA", false);
            if ($("#Cnt_BankAccount").val() > 1)
            {
                $("#GLookUp_BankList_SaleA").dxDropDownBox("instance").reset();
                $("#BE_Bank_Branch_SaleA").dxTextBox("instance").reset();
                $("#BE_Bank_Acc_No_SaleA").dxTextBox("instance").reset();
            }
            else
            {
                $("#GLookUp_BankList_SaleA").find('input').css('color', '#000080');
                $("#BE_Bank_Branch_SaleA").find('input').css('color', '#000080');
                $("#BE_Bank_Acc_No_SaleA").find('input').css('color', '#000080');
            }
            $("#GLookUp_RefBankList_SaleA").dxDropDownBox("instance").reset();
            $("#Txt_Ref_Branch_SaleA").dxTextBox("instance").reset();
            $("#Txt_Ref_No_SaleA").dxTextBox("instance").reset();
            $("#Txt_Ref_Date_SaleA").dxDateBox("instance").reset();
            $("#Txt_Ref_CDate_SaleA").dxDateBox("instance").reset();
            $("#lbl_Bank_Title_SaleA").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_Bank_Name_SaleA").removeClass("disabletxt").addClass("text-red");
            $("#lbl_Branch_Name_SaleA").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_Acc_No_SaleA").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_Bank_SaleA").removeClass("disabletxt").addClass("text-red");
            $("#lbl_Ref_Branch_SaleA").removeClass("disabletxt").addClass("text-red");
            $("#lbl_Ref_Title_SaleA").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_Ref_No_SaleA").removeClass("disabletxt").addClass("text-red");
            $("#lbl_Ref_Date_SaleA").removeClass("disabletxt").addClass("text-red");
            $("#lbl_Ref_Cdate_SaleA").removeClass("disabletxt").removeClass("text-red");
        }
        if (e.value.toUpperCase() == "CHEQUE")
        {
            $("#lbl_Ref_Title_SaleA").text("Cheque Detail:");
            $("#lbl_Ref_No_SaleA").text("Cheque No.:");
            $("#Txt_Ref_No_SaleA").dxTextBox("instance").option("placeholder", "Type Cheque No...");
            $("#lbl_Ref_Date_SaleA").text("Cheque Date:");
        }
        if (e.value.toUpperCase() == "DD")
        {
            $("#lbl_Ref_Title_SaleA").text("D.D. Detail:");
            $("#lbl_Ref_No_SaleA").text("D.D. No.:");
            $("#Txt_Ref_No_SaleA").dxTextBox("instance").option("placeholder", "Type D.D. No...");
            $("#lbl_Ref_Date_SaleA").text("D.D. Date:");
        }
        if (e.value.toUpperCase() == "BANK ACCOUNT")
        {
            $("#lbl_Ref_Title_SaleA").text("Reference Detail:");
            $("#lbl_Ref_No_SaleA").text("Ref. No.:");
            $("#Txt_Ref_No_SaleA").dxTextBox("instance").option("placeholder", "Type No...");
            $("#lbl_Ref_Date_SaleA").text("Date:");
        }
        if (e.value.toUpperCase() == "CBS" || e.value.toUpperCase() == "RTGS" || e.value.toUpperCase() == "NEFT" || e.value.toUpperCase() == "ECS")
        {
            $("#lbl_Ref_Title_SaleA").text(e.value.toUpperCase() + " Detail:");
            $("#lbl_Ref_No_SaleA").text("Ref. No.:");
            $("#Txt_Ref_No_SaleA").dxTextBox("instance").option("placeholder", "Type Ref. No...");
            $("#lbl_Ref_Date_SaleA").text("Date:");
        }
        if (e.value.toUpperCase() == "CBS" && ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection"))
        {
            RefBankList_SaleA_DG.selectRows($("#lbl_Ref_No_Tag").val(), false);
            setTimeout(function () {
                $("#Cmd_Mode_SaleA").find('input').focus();
            }, Timeout100);
        }
    }
    function Txt_V_Date_EditValueChanged_SaleA(e)
    {
        $("#Txt_SDate_SaleA").dxDateBox("instance").option("value", e.value);
    }
    function Txt_Amount_EditValueChanged_SaleA(e)
    {
        var Sale_amount = $("#Txt_SaleAmt_SaleA").dxNumberBox("instance").option("value") == null ? 0 : $("#Txt_SaleAmt_SaleA").dxNumberBox("instance").option("value");
        var Received_amount = $("#Txt_Amount_SaleA").dxNumberBox("instance").option("value") == null ? 0 : $("#Txt_Amount_SaleA").dxNumberBox("instance").option("value");
        var Txt_Diff;
        Txt_Diff = parseFloat(Sale_amount) - parseFloat(Received_amount);
        $("#Txt_Diff_SaleA").dxNumberBox("instance").option("value", parseFloat(Txt_Diff.toFixed(2)));
        $("#Txt_Diff_SaleA").dxNumberBox("instance").option("format", "#0.00");
    }
    </script> @*AllControls_ValueChange()_SaleA*@
    <script>

    function BUT_SAVE_Click_SaleA(e)
    {
        if (ValidateForm(e))
        {
            SaleA_PopupCloseConfirmation = false;
            var form = $("#FormID_Frm_Voucher_Win_Sale_Asset");
            if ("@Model.ActionMethod" == "_Delete")
            {
                DeleteAfterConfirmation("Confirm", "", form);
            }
            else
            {
                form.submit();
            }
        }
    }
    function Add_Party_SaleA()
    {
        if ("@SaleAset_AddFacilityAddress" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection")
        {
            AddParty("Frm_Add_Party_SaleA", "LookUp_GetPartyList_SaleA", "Add_Party_SaleA", "But_PersAdd" );
        }
    }
    function Manage_Party_SaleA()
    {
        if ("@SaleAset_ListFacilityAddress" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }

        if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection")
        {
            ManageParty("Frm_Add_Party_SaleA", "LookUp_GetPartyList_SaleA", "Address Book (Manage Party)...");

        }
    }
    </script> @*ButtonClick()_SaleA*@
<script>
    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        if ("@SaleAset_AddFacilityAddress" == "False")
        {
            $("#But_PersAdd").hide();
        }
        if ("@SaleAset_ListFacilityAddress" == "False")
        {
            $("#But_PersManage").hide();
        }

        if ("@Model.ActionMethod" != "_View")
        {
            dontaskpopupcloseconfirmation = false;
        }
        InitAllDropdownDatagrid_SaleA();
        TransformTextForDB("FormID_Frm_Voucher_Win_Sale_Asset");
        sessionclearpath = "/Account/SaleAsset/SessionClear";
        ClosingScreenParentDivClass = "SaleAsset_ClearReferences";
        $("#Txt_SaleAmt_SaleA").dxNumberBox("option", "value", null);
        $("#Txt_Amount_SaleA").dxNumberBox("option", "value", null);
        Fieldset_SetDisable("LayoutControlItem1_SaleA", true);
        Fieldset_SetDisable("LayoutControlItem3_SaleA", true);
        $("#PartyDet_AdParty").height($("#PartyDet_Name").height());
        $("#PartyDet_ManParty").height($("#PartyDet_Name").height());

        //FCRA Related
        if (parseInt("@Model.splVchrRefsCount_SaleA") == 0)
            {
                $("#SaleA_SpecialVoucherRefDiv").remove();
                $("#SaleA_NarrationDiv").removeClass("col-sm-12 col-md-8 col-lg-8").addClass("col-sm-12 col-md-12");
            }
        //await $("#ListSpecialVoucherRef_SaleA").dxList("getDataSource").load();

            if (parseInt("@Model.splVchrRefsCount_SaleA") > 0) {
                //await $("#ListSpecialVoucherRef_SaleA").dxList("getDataSource").load();
                OnSplVchrRefsListSelectionChanged_SaleA();
            }


        await SetDefault_SaleA();

    });
    async function SetDefault_SaleA()
    {
        ShowLoader_Ready();
        Control_SetReadOnly("Txt_SDate_SaleA", "dxDateBox", true, "#696969");
        await Promise.all([LookUp_GetItemList_SaleA(true)], [LookUp_GetBankList_SaleA(true)], [LookUp_GetRefBankList_SaleA(true)], [LookUp_GetPartyList_SaleA(true)]);
        //await LookUp_GetItemList_SaleA();
        //await LookUp_GetBankList_SaleA();
        //await LookUp_GetRefBankList_SaleA();
        //await LookUp_GetPartyList_SaleA();
        LookUp_GetPurposeList_SaleA(true);
        if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
        {
            $("#Txt_V_NO_SaleA").dxTextBox("instance").option("value","");
        }
        if ("@Model.ActionMethod" == "_Edit" || "@Model.ActionMethod" == "_Delete" || "@Model.ActionMethod" == "_View")
        {
            if ("@Model.Txt_V_Date_SaleA".length > 0) {
                $("#Txt_V_Date_SaleA").dxDateBox("instance").option("value", moment("@Model.Txt_V_Date_SaleA", "DD/MM/YYYY"));
            }

            $("#Txt_V_NO_SaleA").dxTextBox("instance").option("value", TransformText("@Model.Txt_V_NO_SaleA"));
            $("#Cmd_Mode_SaleA").dxSelectBox("instance").option("value", "@Model.Cmd_Mode_SaleA");
            await Item_Name_SaleA_DG.selectRows("@Model.GLookUp_ItemList_SaleA", false);
            Control_SetReadOnly("GLookUp_ItemList_SaleA", "dxDropDownBox", false);
            await PartyList1_SaleA_DG.selectRows("@Model.GLookUp_PartyList1_SaleA", false);
            Control_SetReadOnly("GLookUp_PartyList1_SaleA", "dxDropDownBox", false);
            @*$("#Cmb_Asset_Type_SaleA").dxSelectBox("instance").option("value", TransformText("@Model.Cmb_Asset_Type_SaleA"));*@
            Cmb_Asset_Type_SelectedIndexChanged_SaleA(null, true);
            $("#Txt_SDate_SaleA").dxDateBox("instance").option("value", moment("@Model.Txt_SDate_SaleA", "DD/MM/YYYY"));
            $("#Txt_SaleAmt_SaleA").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_SaleAmt_SaleA"));
            $("#Txt_Amount_SaleA").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Amount_SaleA"));
            await AssetList_SaleA_DG.selectRows("@Model.GLookUp_AssetList_SaleA", false);
            Control_SetReadOnly("GLookUp_AssetList_SaleA", "dxDropDownBox", false);
            $("#Txt_Qty_SaleA").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Qty_SaleA"));
            await BankList_SaleA_DG.selectRows("@Model.GLookUp_BankList_SaleA", false);
            Control_SetReadOnly("GLookUp_BankList_SaleA", "dxDropDownBox", false);
            await RefBankList_SaleA_DG.selectRows("@Model.GLookUp_RefBankList_SaleA", false);
            Control_SetReadOnly("GLookUp_RefBankList_SaleA", "dxDropDownBox", false);
            $("#Txt_Ref_Branch_SaleA").dxTextBox("instance").option("value", TransformText("@Model.Txt_Ref_Branch_SaleA"));
            $("#Txt_Ref_No_SaleA").dxTextBox("instance").option("value", TransformText("@Model.Txt_Ref_No_SaleA"));
            if ("@Model.Txt_Ref_Date_SaleA".length > 0) {
                $("#Txt_Ref_Date_SaleA").dxDateBox("instance").option("value", moment("@Model.Txt_Ref_Date_SaleA", "DD/MM/YYYY"));
            }
            if ("@Model.Txt_Ref_CDate_SaleA".length > 0) {
                $("#Txt_Ref_CDate_SaleA").dxDateBox("instance").option("value", moment("@Model.Txt_Ref_CDate_SaleA", "DD/MM/YYYY"));
            }
            $("#GLookUp_PurList_SaleA").dxSelectBox("instance").option("value", TransformText("@Model.GLookUp_PurList_SaleA"));
            Control_SetReadOnly("GLookUp_PurList_SaleA", "dxSelectBox", false);
            $("#Txt_Narration_SaleA").dxTextBox("instance").option("value", TransformText("@Model.Txt_Narration_SaleA"));
            $("#Txt_Remarks_SaleA").dxTextBox("instance").option("value", TransformText("@Model.Txt_Remarks_SaleA"));
            $("#Txt_Reference_SaleA").dxTextBox("instance").option("value", TransformText("@Model.Txt_Reference_SaleA"));

        }

        if ("@Model.ActionMethod" == "_New_From_Selection")
        {
            await Item_Name_SaleA_DG.selectRows("@Model.GLookUp_ItemList_SaleA", false);
            Control_SetReadOnly("GLookUp_ItemList_SaleA", "dxDropDownBox", false);
        }
        if ("@ViewBag.GLookUp_AssetList_SaleA_Columnhide" == "True")
        {
            $("#GLookUp_AssetList_SaleA_datagrid").dxDataGrid('columnOption', 'REF_AMT', 'visible', false);
        }

        if ($("#GLookUp_ItemList_SaleA").dxDropDownBox("instance").option("readOnly") == true) {
            $("#lblItem_Name_SaleA").addClass("disabletxt").removeClass("text-red");
        }

        if ($("#BE_Item_Head_SaleA").dxTextBox("instance").option("readOnly") == true) {
            $("#lblBE_Item_Head_SaleA").addClass("disabletxt").removeClass("text-red");
        }

        if ($("#Txt_V_NO_SaleA").dxTextBox("instance").option("readOnly") == true) {
            $("#lblTxt_V_NO_SaleA").addClass("disabletxt").removeClass("text-red");
        }
        FormInitialSettings("FormID_Frm_Voucher_Win_Sale_Asset", "@Model.ActionMethod");
    }
    function AjaxSuccessSaleAsset(data)
    {
        HideLoader();
        dontaskpopupcloseconfirmation = true;
        if (data.jsonParam.result == false)
        {
            if (data.jsonParam.closeform)
            {
                $("#Dynamic_Content_popup").dxPopup("hide");
            }
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.refreshgrid == true)
                    {
                        RefreshGridView("@ViewBag.GridToRefresh");
                    }
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result == true)
        {
            var _ActiveTab_ID = $(".TabPanalMenu-tabs .active").attr("id");
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (result)
            {
                if (result)
                {
                    if ("@ViewBag.GridToRefresh" != "CashBookListGrid")
                    {
                        RefreshGridView("@ViewBag.GridToRefresh");
                    }
                    if (/*typeof CashBookListGrid !== 'undefined'*/ _ActiveTab_ID == "contact_Frm_Voucher_Info_CB")
                    {
                        var xentrydate = $("#Txt_V_Date_SaleA").dxDateBox("instance").option("value");
                        AfterVoucherClose_CB(xentrydate, "@Model.ActionMethod", IsUndefinedOrNull(data.CashbookGridPK) ? "" : data.CashbookGridPK);
                    }
                    else if (_ActiveTab_ID == "contact_Frm_Voucher_Info") {
                        AfterVoucherClose_VoucherEntry();
                    }
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
            });
        }
    }

</script> @*Document.ready() SetDefault() AjaxSuccess()*@

    <script>
        //FCRA Related
        function OnSplVchrRefsListSelectionChanged_SaleA(e) {
            var listBox = $("#ListSpecialVoucherRef_SaleA").dxList("instance");
            var selecteditemkey = listBox.option("selectedItemKeys")
            if (selecteditemkey != null && selecteditemkey.length > 0) {
                $("#SaleA_SplVchrReferenceSelected").val(selecteditemkey.join(","));
            }
            else {
                $("#SaleA_SplVchrReferenceSelected").val("");
            }
        }// List selection

    </script>
</div>
