<style>
    .bank_status, .bank_status span, .bank_status > div {float: left;}
    .bank_status{margin:-1px 5px 0 0; width:max-content;}
    .bank_status span{margin: 8px 5px 0 0}
    @@media (max-width:768px) {
        .bank_status{float:none; margin:0 auto;}
    }
</style>
<div class="BankChecking_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model System.Data.DataTable
    @{

        Layout = null;

        string UserType = (string)ViewBag.UserType;

        bool BankChecking_AddRight = (bool)ViewData["BankChecking_AddRight"];
        bool BankChecking_UpdateRight = (bool)ViewData["BankChecking_UpdateRight"];
        bool BankChecking_ViewRight = (bool)ViewData["BankChecking_ViewRight"];
        bool BankChecking_DeleteRight = (bool)ViewData["BankChecking_DeleteRight"];
        bool BankChecking_ExportRight = (bool)ViewData["BankChecking_ExportRight"];
        bool BankChecking_ListAdresBookRight = (bool)ViewData["BankChecking_ListAdresBookRight"];
        bool BankChecking_LockUnlockRight = (bool)ViewData["BankChecking_LockUnlockRight"];

        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];

        bool BankCheckingInfo_Auto_Vouching_Mode = (bool)ViewData["BankCheckingInfo_Auto_Vouching_Mode"];
        DateTime Open_FY_Edt = Convert.ToDateTime(ViewBag.Open_FY_Edt);
    }
    <div id="BankChecking_ParentDiv">
        <div id="contentBankChecking" class="col-md-12 report_header_div_main">
            <div class="col-md-3 report_header_div">
                <label class="report_header_label">Bank Balance Checking</label>
            </div>
            <div class="col-sm-9 prs">
                <div class="report_button_div">
                    <div class="bank_status clearfix">
                        <span> Status: </span>
                        @(Html.DevExtreme().SelectBox().ID("BankChecking_Status_SelectBox").Name("BankChecking_Status_SelectBox").DataSource(new[] { "ALL", "PENDING", "COMPLETED"}).OnValueChanged("onCheckingStatusChange").Value("PENDING"))
                    </div>
                    @(Html.DevExtreme().Button().ID("GetBankStatement_BankChecking").Text("Bank Statement").Visible(true).OnClick("getBankstatement_BankChecking_Onclick") )
                    @(Html.DevExtreme().Switch().ID("BankCheckingVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("BankChecking_VouchingSwitch_ValueChange").Width(100).Visible(false))
                    @(Html.DevExtreme().Switch().ID("BankCheckingViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("BankChecking_ViewSwitch_ValueChange").Width(70).Visible(false))
                    @(Html.DevExtreme().Button().ID("BankCheckingRefreshGrid").Text("Refresh").Icon(IconID.ViewCustomers16x16devav).Icon("doc").Visible(true).OnClick(@<text> function () { BankChecking_RefreshGridClick(); } </text>) )
                    @(Html.DevExtreme().Button().ID("BankCheckingToggleScrollBar").Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data").Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90).Icon("toolbox").OnClick(@<text> function () { BankCheckingChangeMode(); } </text>) )
                    @(Html.DevExtreme().Button().ID("BankCheckingModelListPreview").Text("Export").Icon("save").Width(80).OnClick(@<text> function () { OnBankCheckingPreviewClick(); } </text>) )
                    @(Html.DevExtreme().Button().ID("BankCheckingModelCLOSE").Text("Close").Icon("clear").OnClick(@<text> function (){ closeChecking_Bank(); } </text>) )
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="BankChecking_grid_DIV">
                <form>
                    <div id="bankCheckingReloadPartialView" class="parent_table">
                        @Html.Partial("Frm_BankChecking_Info_Grid", Model)
                    </div>
                </form>
            </div>
        </div>
        <div class="footer-MainBoxdiv" style="display:inline-block;width:100%">
            <div class="setFooterItem">
                <div class="footer-inner">
                    <div class="list_footer_left_margin">
                        <div class="footericon">
                            <i id="Bank_LockICON" style="color:red;font-size:35px;"></i>
                        </div>
                        <div class="footer-locktext">
                            <div id="Bank_Lbl_ActionOn" class="left_footertext_top"></div>
                            <div id="Bank_Lbl_ActionBy" class="left_footertext_bottom"></div>
                        </div>
                    </div>
                    <div class="list_footer_left_margin">
                        <div class="footer-text">
                            <p id="BankLbl_Create" class="right_footertext_top"></p>
                            <p id="BankLbl_Modify" class="right_footertext_bottom"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="BankChecking_FabAndPopups">
        @Html.Partial("AttachmentFAB", "BankChecking_FAB,BankChecking_ParentDiv,Type3,BankChecking," + UserType) @*fab buttons*@
    </div>
    <script>

        var BankCheckingInfo_IsDetailRowExpanded = false;
        var BankCheckingInfo_NestedRecord_FocusedRowIndex = -1;
        var BankCheckingInfo_NestedGrid_AccessID = null;
        var BankCheckingInfo_AtachmentID = null;
        var BankCheckingInfo_FileName = null;
        var BankCheckingInfo_ParamMandatory = null;
        var BankCheckingInfo_FromDateLabel = null;
        var BankCheckingInfo_ToDateLabel = null;
        var BankCheckingInfo_DescriptionLabel = null;
        var BankCheckingInfo_Doc_ID = null;
        var BankCheckingInfo_Doc_Category = null;
        var BankCheckingInfo_MasterRowRecID = null;
        var BankCheckingInfo_MasterRowMID = null;
        var BankCheckingInfo_NestedRowMapID = null;
        var BankCheckingInfo_NestedRowUniqueID = null;
        var BankCheckingInfo_reason = null;
        var BankCheckingInfo_Attachment_RecStatus = null;
        @*var BankCheckingInfo_SetVouchingModeOn = "@BankCheckingInfo_Auto_Vouching_Mode" == "True" ? true : false;*@
        var BankCheckingInfo_SetVouchingModeOn = false;
        var BankCheckingInfo_NestedRowReasonID = null;
        var BankCheckingInfo_Nested_Doc_Status = null;

        var BankChecking_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
        var BankCheckingFocusedRowIndexBeforeRefresh;
        var BankChecking_BA_Rec_ID = null;
        var BankChecking_ActionStatus;
        var BankChecking_EditDate;
        var BankChecking_AddBy;
        var BankChecking_AddDate;
        var BankChecking_EditBy;
        var BankChecking_ActionDate;
        var BankChecking_ActionBy;
        var BankCheckingGridLayout = null;
        var BankChecking_CEN_ID = null;
        var BankChecking_ColumnToBeShownIndex = "";
        var BankChecking_ColumnToBeHidddenIndex = "";
        var BankChecking_IsVouchingMode = false;
        var BankChecking_ViewMode = "Default";
        var BankChecking_StatusValue = "PENDING";
        var BankChecking_Balance;
        var BankChecking_AccountType;
        var BankChecking_AccountNo;
        var BankChecking_BankFullName;

    </script>
    @*BankChecking_GlobalVariables_ClientSide*@
    <script class="BankChecking_Scripts">

    function On_BankChecking_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName == "InitialViewDocumentClick")
        {
            ViewDocument(BankCheckingInfo_AtachmentID, BankCheckingInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }





        if (e.actionName === "add_attach") {
            if ("@Help_Attachment_AddRight" == "False") {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (BankCheckingInfo_ParamMandatory == 1) {
                AddAttachment(BankCheckingInfo_MasterRowRecID, "Profile_BankAccounts", BankCheckingInfo_Doc_ID, BankCheckingInfo_Doc_Category, BankCheckingInfo_ParamMandatory, BankCheckingInfo_FromDateLabel, BankCheckingInfo_ToDateLabel, BankCheckingInfo_DescriptionLabel, "BankProfileAttachment", null, "BankCheckingGrid", BankCheckingInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(BankCheckingInfo_MasterRowRecID, "Profile_BankAccounts", BankCheckingInfo_Doc_ID, "BankProfileAttachment", "BankCheckingGrid", BankCheckingInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach") {
            if ("@Help_Attachment_EditRight" == "False") {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (BankCheckingInfo_Attachment_RecStatus.toUpperCase() == "LOCKED") {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(BankCheckingInfo_MasterRowRecID, "Profile_BankAccounts", BankCheckingInfo_AtachmentID, BankCheckingInfo_ParamMandatory, BankCheckingInfo_FromDateLabel, BankCheckingInfo_ToDateLabel, BankCheckingInfo_DescriptionLabel, "BankProfileAttachment", null, "BankCheckingGrid", BankCheckingInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(BankCheckingInfo_MasterRowRecID, "Profile_BankAccounts", BankCheckingInfo_AtachmentID, BankCheckingInfo_ParamMandatory, BankCheckingInfo_FromDateLabel, BankCheckingInfo_ToDateLabel, BankCheckingInfo_DescriptionLabel, null, "BankCheckingGrid", BankCheckingInfo_NestedGrid_AccessID, BankCheckingInfo_Attachment_RecStatus);
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(BankCheckingInfo_MasterRowRecID, "Profile_BankAccounts", "Bank Balance Checking", "BankCheckingGrid", BankCheckingInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "view_attach") {
            if ("@Help_Attachment_ViewRight" == "False") {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            ViewDocument(BankCheckingInfo_AtachmentID, BankCheckingInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName === "Add_Reason") {
            if (BankCheckingInfo_Doc_Category.toLowerCase() == "others") {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else {

                AttachmentAddReason(BankCheckingInfo_MasterRowRecID, BankCheckingInfo_NestedRowMapID, "Profile_BankAccounts", "BankListGrid", BankCheckingInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(BankCheckingInfo_MasterRowRecID, BankCheckingInfo_NestedRowMapID, "Profile_BankAccounts", "BankListGrid", BankCheckingInfo_NestedGrid_AccessID, BankCheckingInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(BankCheckingInfo_MasterRowRecID, BankCheckingInfo_NestedRowMapID, "BankListGrid", BankCheckingInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction") {
            BankChecking_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit") {
            if (BankCheckingInfo_Nested_Doc_Status == "") {
                BankChecking_FAB.SetActionContext("AutoItemContext", true);
            }
            if (BankCheckingInfo_Nested_Doc_Status == "NO") {
                BankChecking_FAB.SetActionContext("EditItemContext", true);
            }
            if (BankCheckingInfo_Nested_Doc_Status == "YES") {
                BankChecking_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept") {
            BankCheckingInfo_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject") {
            BankInfo_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks") {
            BankInfo_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc") {

            OnBankCheckingInfo_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc") {

            OnBankCheckingInfo_RejectDoc();
        }
    }
    function OnBankCheckingInfo_RejectDoc() {
        if (BankCheckingInfo_AtachmentID == null || BankCheckingInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(BankCheckingInfo_AtachmentID, "BankListGrid", BankCheckingInfo_NestedGrid_AccessID);
    }
    function OnBankCheckingInfo_AcceptDoc() {
        if (BankCheckingInfo_AtachmentID == null || BankCheckingInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(BankCheckingInfo_AtachmentID, "BankListGrid", BankCheckingInfo_NestedGrid_AccessID);
    }
    function BankCheckingInfo_AcceptwithoutRemarks()
    {
        var Recid;
        if (BankCheckingInfo_IsDetailRowExpanded == true || BankChecking_IsVouchingMode)
        {
            if (BankCheckingInfo_MasterRowRecID == null || BankCheckingInfo_MasterRowRecID == "")
            {
                Recid = BankChecking_BA_Rec_ID;
            }
            else
            {
                Recid = BankCheckingInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = BankChecking_BA_Rec_ID;
        }
        Entry_AcceptwithoutRemarks(Recid, "Profile_BankAccounts", "BankListGrid", BankCheckingInfo_AtachmentID, BankCheckingInfo_NestedRowReasonID, BankCheckingInfo_NestedRowUniqueID);
    }
    function BankInfo_AcceptRejectVoucher(_actionMethod)
    {
        var Recid;

        if (BankCheckingInfo_IsDetailRowExpanded == true || BankChecking_IsVouchingMode)
        {
            if (BankCheckingInfo_MasterRowRecID == null || BankCheckingInfo_MasterRowRecID == "")
            {
                Recid = BankChecking_BA_Rec_ID;
            }
            else
            {
                Recid = BankCheckingInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = BankChecking_BA_Rec_ID;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_BankAccounts", "BankListGrid", BankCheckingInfo_AtachmentID, BankCheckingInfo_NestedRowReasonID, BankCheckingInfo_NestedRowUniqueID);
    }
    function OnBankCheckingGridNestedFocusedRowChange(s, e)
    {        
        if (BankCheckingInfo_IsDetailRowExpanded || BankChecking_IsVouchingMode)
        {
            BankCheckingInfo_NestedRecord_FocusedRowIndex = s.GetFocusedRowIndex();
            if (BankCheckingInfo_NestedRecord_FocusedRowIndex >= 0)
            {
                ShowLoader();
                BankCheckingInfo_NestedGrid_AccessID = s.uniqueID;
                s.GetRowValues(s.GetFocusedRowIndex(), 'Doc_Status;Params_Mandatory;LABEL_FROM_DATE;LABEL_TO_DATE;LABEL_DESCRIPTION;Document_Category;Document_ID;ATTACH_ID;TxnID;TxnMID;MAP_ID;Reason;ATTACH_FILE_NAME;Attachment_Action_Status;UniqueID;ReasonID', OnBankCheckingInfo_GetGridRowValues);
            }
            else
            {
                BankChecking_FAB.SetVisible(false);
               // BankChecking_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }
    function OnBankCheckingInfo_GetGridRowValues(values)
    {
        HideLoader();        
        BankCheckingInfo_NestedRowUniqueID = values[14];
        if (values[14] != null )
        {
            BankChecking_FAB.SetVisible(true);
            BankCheckingInfo_Nested_Doc_Status = values[0];
            BankChecking_FAB.SetActionContext("ViewAttachmentContext");
            //if (BankChecking_IsVouchingMode == true) {
            //    BankChecking_FAB.SetActionContext("AuditActionContext", true);
            //}
            //else {
            //    if (BankCheckingInfo_Nested_Doc_Status == "") {
            //        BankChecking_FAB.SetActionContext("AutoItemContext", true);
            //    }
            //    else if (BankCheckingInfo_Nested_Doc_Status == "NO") {
            //        BankChecking_FAB.SetActionContext("EditItemContext", true);
            //    }
            //    else if (BankCheckingInfo_Nested_Doc_Status == "YES") {
            //        BankChecking_FAB.SetActionContext("actionItemContext", true);
            //    }
            //}
            BankCheckingInfo_ParamMandatory = values[1];
            BankCheckingInfo_FromDateLabel = values[2];
            BankCheckingInfo_ToDateLabel = values[3];
            BankCheckingInfo_DescriptionLabel = values[4];
            BankCheckingInfo_Doc_Category = values[5];
            BankCheckingInfo_Doc_ID = values[6];
            BankCheckingInfo_AtachmentID = values[7];
            IndexAttachmentID = BankCheckingInfo_AtachmentID;
            BankCheckingInfo_MasterRowRecID = values[8];
            BankCheckingInfo_MasterRowMID = values[9];
            BankCheckingInfo_NestedRowMapID = values[10];
            BankCheckingInfo_reason = values[11];
            BankCheckingInfo_FileName = values[12];
            BankCheckingInfo_Attachment_RecStatus = values[13];
            if (BankChecking_IsVouchingMode == true) {
                if (BankCheckingInfo_FileName != null && BankCheckingInfo_FileName.length > 0) {
                    ViewDocument(BankCheckingInfo_AtachmentID, BankCheckingInfo_FileName, "BankChecking_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else {
                    var pane = Mainspliter.GetPaneByName('RightPane');
                    pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
                    document.getElementById('RightPane_div_Iframe').style.display = "none";
                    document.getElementById('RightPane_div_Img').style.display = "none";
                }
            }
        }
        BankCheckingInfo_NestedRowReasonID = values[15];
        IndexAttachmentReasonID = BankCheckingInfo_NestedRowReasonID;
    }
    function BankCheckingGrid_Nested_BeginCallBack(s, e)
    {
       
        e.customArgs["command"] = e.command;
        e.customArgs["ShowHorizontalBar"] = BankChecking_ShowHorizontalBar;
    }
    function BankCheckingGrid_DetailRowExpanding(s, e)
    {        
        BankCheckingInfo_IsDetailRowExpanded = true;
        s.SetFocusedRowIndex(e.visibleIndex);
        var pane = Mainspliter.GetPaneByName('RightPane');
        if (BankChecking_IsVouchingMode == true)
        {
            pane.Expand();
        }
        else
        {
            pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
    }
    function BankCheckingGrid_DetailRowCollapsing(s, e)
    {
        BankCheckingInfo_IsDetailRowExpanded = false;
        s.SetFocusedRowIndex(e.visibleIndex);
        if (BankChecking_IsVouchingMode == false)
        {
            BankChecking_FAB.SetVisible(false);
        }
        if (BankChecking_IsVouchingMode == true)
        {
            if (Mainspliter.GetPaneByName('RightPane').IsCollapsed() == false)
            {
                CollapsePane(Mainspliter.GetPaneByName('RightPane'), Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
    }
    </script>
    @*attachment and nested grid*@

    <script class="BankChecking_Scripts">
    $(document).ready(function ()
    {

        GetSessionStorage("BankCheckingGrid");
        if (BankChecking_IsVouchingMode == true) {
            $(".BankCheckingGrid_PreviewRow").hide();
        }
        else {
            $(".BankCheckingGrid_PreviewRow").show();
        }
        if ("@BankChecking_AddRight" == "False")
        {
           // $("#BankModelNew").hide();
        }
        if ("@BankChecking_UpdateRight" == "False")
        {
            $("#BankModelEdit").hide();
        }
        if ("@BankChecking_ViewRight" == "False")
        {
            $("#BankCheckingModelView").hide();
        }
        if ("@BankChecking_DeleteRight" == "False")
        {
            //$("#BankModelDelete").hide();
        }
        if ("@BankChecking_ExportRight" == "False")
        {
            //$("#BankCheckingModelListPreview").hide();
        }
        if ("@BankChecking_LockUnlockRight" == "False")
        {
        //    $("#BankModelLock").hide();
        //    $("#BankModelUnlock").hide();
        }

        if (BankCheckingInfo_SetVouchingModeOn == true)
        {
            $("#BankCheckingViewModeSwitch").dxSwitch("instance").option("value", true);
        }
    });
    </script>

    <script class="BankChecking_Scripts">

    function BankCheckingGrid_CollapseAllDetailRows()
    {
            if (typeof window !== 'undefined')
            {
                if (typeof window.BankCheckingGrid !== 'undefined')
                {
                    if (typeof window.BankCheckingGrid.CollapseAllDetailRows !== 'undefined')
                    {
                        if (typeof BankCheckingGrid.CollapseAllDetailRows == 'function')
                        {
                            BankCheckingGrid.SetFocusedRowIndex(-1);
                            BankCheckingGrid.CollapseAllDetailRows();
                        }
                        else
                        {
                            alert("CollapseAllDetailRows is not a function");
                        }
                    }
                    else
                    {
                        ShowLoader();
                        setTimeout(function ()
                        {
                            BankCheckingGrid_CollapseAllDetailRows();
                            HideLoader();
                        }, Timeout100);
                    }
                }
                else
                {
                    alert('grid undefined')
                }
            }
            else
            {
                alert('window undefined')
            }
    }

    function BankChecking_VouchingSwitch_ValueChange(e) {
        BankChecking_IsVouchingMode = e.value;
        if (BankCheckingInfo_SetVouchingModeOn == true) {
            BankCheckingInfo_SetVouchingModeOn = false;
        }
        else {
            BankChecking_FAB.SetVisible(false);
        }
        if (BankChecking_IsVouchingMode == true) {
            var Rightpane = Mainspliter.GetPaneByName('RightPane');
            Rightpane.Expand();
            var Leftpane = Mainspliter.GetPaneByName('LeftPane');
            ClearLeftPane();
            if (Leftpane.IsCollapsed() == true) {
                Leftpane.Expand();
            }
        }
        else {
            var Rightpane = Mainspliter.GetPaneByName('RightPane');
            if (Rightpane.IsCollapsed() == false) {
                Rightpane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
            }
            var Leftpane = Mainspliter.GetPaneByName('LeftPane');
            ClearLeftPane();
            if (Leftpane.IsCollapsed() == false) {
                Leftpane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
        BankCheckingGrid_CollapseAllDetailRows();
    }
    function BankChecking_ViewSwitch_ValueChange(e) {
        BankChecking_ViewMode = e.value == false ? "Default" : "Compact";
        if (BankCheckingInfo_SetVouchingModeOn == true) {
            $("#BankVouchingModeSwitch").dxSwitch("instance").option("value", true);
        }
        else {
            BankCheckingGrid.CollapseAllDetailRows();
        }
    }

    function OnBankCheckingPreviewClick()
    {

        OpenPopup("BankChecking_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "BankBalanceChecking", new { @area = "Start" })", "auto", 125);
    }

    function BankChecking_RefreshGridClick() {
        BankCheckingGrid.Refresh();
    }

    function closeChecking_Bank()
    {
            $(".TabPanalMenu-tabs .active span").click();

    }
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Start/BankBalanceChecking/SessionClear",
            cache: false
        });
        var pane = Mainspliter.GetPaneByName('RightPane');
        pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        var Leftpane = Mainspliter.GetPaneByName('LeftPane');
        ClearLeftPane();
        if (Leftpane.IsCollapsed() == false)
        {
            Leftpane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
        ClearAllReferences_BankChecking();
    });

    function ClearAllReferences_BankChecking()
    {
        BankCheckingInfo_IsDetailRowExpanded = null;
        BankCheckingInfo_NestedRecord_FocusedRowIndex = null;
        BankCheckingInfo_NestedGrid_AccessID = null;
        BankCheckingInfo_AtachmentID = null;
        BankCheckingInfo_FileName = null;
        BankCheckingInfo_ParamMandatory = null;
        BankCheckingInfo_FromDateLabel = null;
        BankCheckingInfo_ToDateLabel = null;
        BankCheckingInfo_DescriptionLabel = null;
        BankCheckingInfo_Doc_ID = null;
        BankCheckingInfo_Doc_Category = null;
        BankCheckingInfo_MasterRowRecID = null;
        BankCheckingInfo_MasterRowMID = null;
        BankCheckingInfo_NestedRowMapID = null;
        BankCheckingInfo_NestedRowUniqueID = null;
        BankCheckingInfo_reason = null;
        BankCheckingInfo_Attachment_RecStatus = null;
        BankCheckingInfo_SetVouchingModeOn = null;
        BankCheckingInfo_NestedRowReasonID = null;
        BankCheckingInfo_Nested_Doc_Status = null;

        BankChecking_ShowHorizontalBar = null;
        BankCheckingGridLayout = null;
        BankCheckingFocusedRowIndexBeforeRefresh = null;
        BankChecking_BA_Rec_ID = null;
        BankChecking_ActionStatus = null;
        BankChecking_EditDate = null;
        BankChecking_AddBy = null;
        BankChecking_AddDate = null;
        BankChecking_EditBy = null;
        BankChecking_ActionDate = null;
        BankChecking_ActionBy = null;
        BankChecking_IsVouchingMode = null;
        BankChecking_ViewMode = null;
        BankChecking_ColumnToBeShownIndex = null;
        BankChecking_ColumnToBeHidddenIndex = null;
        BankChecking_StatusValue = null;
        BankChecking_AccountType = null;
        BankChecking_AccountNo = null;
        BankChecking_BankFullName = null;

        ClearAllReferences("BankChecking_ClearReferences");

}
    </script>
    <script class="BankChecking_Scripts">

    function BankCheckingOnInit(s, e)
    {
        BankCheckingAdjustSize();
        $(".BankPrfPreviewRow").hide();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt)
        {
            BankCheckingAdjustSize();
        });

    }
    function BankCheckingGrid_BeginCallback(s, e)
    {
        BankCheckingFocusedRowIndexBeforeRefresh = s.GetFocusedRowIndex();
        e.customArgs["command"] = e.command;
        e.customArgs["ShowHorizontalBar"] = BankChecking_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = BankChecking_IsVouchingMode;
        e.customArgs["ViewMode"] = BankChecking_ViewMode;
        e.customArgs["ColumnToBeShownIndex"] = BankChecking_ColumnToBeShownIndex;
        e.customArgs["ColumnToBeHidddenIndex"] = BankChecking_ColumnToBeHidddenIndex;
       // e.customArgs["RowKeyToFocus"] = BankChecking_BA_Rec_ID;
        e.customArgs["CheckingStatus"] = BankChecking_StatusValue;
    }

    function OnGridBankCheckingGrid_EndCallback(s, e)
    {       
        ASPxClientControl.AdjustControls(document.getElementById("BankChecking_ParentDiv"));
        BankChecking_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
        BankChecking_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex;
        BankCheckingGridLayout = s.cpClientLayout;
        if (BankChecking_IsVouchingMode == true) {
            $(".BankCheckingGrid_PreviewRow").hide();
        }
        else {
            $(".BankCheckingGrid_PreviewRow").show();
        }
        GetSessionStorage("BankCheckingGrid");
        SendCustomArgs_FilterControl(s, e);        

        if (BankCheckingFocusedRowIndexBeforeRefresh == s.GetFocusedRowIndex())
        {
            s.SetFocusedRowIndex(-1);
            s.SetFocusedRowIndex(BankCheckingFocusedRowIndexBeforeRefresh);
        }
     }
    function BankCheckingAdjustSize()
    {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try{ BankCheckingGrid.SetHeight(height); } catch(err){}
        }

    function onCheckingStatusChange(e) {
        BankChecking_StatusValue = e.value
        BankCheckingGrid.Refresh();
    }
    function BankCheckingChangeMode()
    {
        ShowLoader();
        if (BankChecking_ShowHorizontalBar == 0)
        {
            BankChecking_ShowHorizontalBar = 1;
            $("#BankCheckingToggleScrollBar").find("span").text("Default Data");
            $("#BankCheckingToggleScrollBar").width(110);
        }
        else
        {
            BankChecking_ShowHorizontalBar = 0;
            $("#BankCheckingToggleScrollBar").find("span").text("Full Data");
            $("#BankCheckingToggleScrollBar").width(90);
        }
        $.ajax({
            url: '@Url.Action("Frm_BankChecking_Info_Grid", "BankBalanceChecking")',
            type: "GET",
            data: { ShowHorizontalBar: BankChecking_ShowHorizontalBar, Layout: BankCheckingGridLayout, VouchingMode: BankChecking_IsVouchingMode, ViewMode: BankChecking_ViewMode, ColumnToBeHidddenIndex: BankChecking_ColumnToBeHidddenIndex, ColumnToBeShownIndex: BankChecking_ColumnToBeShownIndex },
            success: function (res)
            {
                $("#bankCheckingReloadPartialView").html(res);
                if (BankChecking_IsVouchingMode == true) {
                    $(".BankCheckingGrid_PreviewRow").hide();
                }
                else {
                    $(".BankCheckingGrid_PreviewRow").show();
                }
                GetSessionStorage("BankCheckingGrid");
            }
        });
        HideLoader();
        }

    function BankCheckingOnGridFocusedRowChanged(s, e)
    {
        if (s.GetFocusedRowIndex() > -1)
        {
            if (!BankCheckingGrid.IsGroupRow(s.GetFocusedRowIndex()))
            {
                if (BankChecking_IsVouchingMode)
                {
                    BankChecking_FAB.SetVisible(true);
                    BankChecking_FAB.SetActionContext("VouchingActionContext", true);
                }
                var BBC_btn = ASPxClientControl.GetControlCollection().GetByName("BBC_btn" + BankChecking_BA_Rec_ID);
                if (BBC_btn && $("#BBC_btn" + BankChecking_BA_Rec_ID).length>0)
                {
                    BBC_btn.SetEnabled(false);
                }
                //s.GetRowValues(s.GetFocusedRowIndex(), 'ID;Edit_Date;Edit_By;Add_Date;Add_By;Action_Date;Action_By;Action_Status;CEN_ID', BankCheckingOnGetRowValues);
                BankCheckingOnGetRowValues(s.GetFocusedRowIndex())
            }
            else
            {
                BankChecking_BA_Rec_ID = null;
                BankChecking_UpdateFooterDetail(BankChecking_BA_Rec_ID, BankChecking_ActionStatus, BankChecking_AddDate, BankChecking_AddBy, BankChecking_ActionDate, BankChecking_ActionBy, BankChecking_EditDate, BankChecking_EditBy);
            }
        }
        else
        {
            BankChecking_BA_Rec_ID = null;
            BankChecking_UpdateFooterDetail(BankChecking_BA_Rec_ID, BankChecking_ActionStatus, BankChecking_AddDate, BankChecking_AddBy, BankChecking_ActionDate, BankChecking_ActionBy, BankChecking_EditDate, BankChecking_EditBy);
        }
    }

    function BankCheckingOnGetRowValues(RowIndex = null)
    {        
        var focusedrow = RowIndex == null ? BankCheckingGrid.GetFocusedRowIndex() : RowIndex;
        var topindex = BankCheckingGrid.GetTopVisibleIndex();
        var Index = focusedrow - topindex;
        var BankCheckingPageData = BankCheckingGrid.cpPagedata;
        if (BankCheckingPageData != null && BankCheckingPageData.length > 0 && Index < BankCheckingPageData.length) {
            BankChecking_BA_Rec_ID = BankCheckingPageData[Index][0];
            BankChecking_EditDate = BankCheckingPageData[Index][1];
            BankChecking_EditBy = BankCheckingPageData[Index][2];
            BankChecking_AddDate = BankCheckingPageData[Index][3];
            BankChecking_AddBy = BankCheckingPageData[Index][4];
            BankChecking_ActionDate = BankCheckingPageData[Index][5];
            BankChecking_ActionBy = BankCheckingPageData[Index][6];
            BankChecking_ActionStatus = BankCheckingPageData[Index][7];
            BankChecking_CEN_ID = BankCheckingPageData[Index][8];
            BankChecking_Balance = BankCheckingPageData[Index][9] == null ? 0 : BankCheckingPageData[Index][9];
            BankChecking_AccountType = BankCheckingPageData[Index][10];
            BankChecking_AccountNo = BankCheckingPageData[Index][11];
            BankChecking_BankFullName = BankCheckingPageData[Index][12];

            var BBC_btn = ASPxClientControl.GetControlCollection().GetByName("BBC_btn" + BankChecking_BA_Rec_ID);
            if (BBC_btn)
            {
                BBC_btn.SetEnabled(true);
            }
            BankChecking_UpdateFooterDetail(BankChecking_BA_Rec_ID, BankChecking_ActionStatus, BankChecking_AddDate, BankChecking_AddBy, BankChecking_ActionDate, BankChecking_ActionBy, BankChecking_EditDate, BankChecking_EditBy);
            var Leftpane = Mainspliter.GetPaneByName('LeftPane');
            if (BankChecking_IsVouchingMode == true)
            {
                if (Leftpane.IsCollapsed() == true)
                {
                    Leftpane.Expand();
                }
                ShowLoader();
                $("#LeftPane_Div_Content").html(null);
                var LoadURL = StandardizeCallURL("@Url.Action("LeftPaneContent", "BankBalanceChecking", new { @area = "Start" })?ID=" + BankChecking_BA_Rec_ID + "&VouchingMode=" + BankChecking_IsVouchingMode + "&CEN_ID=" + BankChecking_CEN_ID);
                $("#LeftPane_Div_Content").load(LoadURL, function () {
                    HideLoader();
                });
            }
        }
        else
        {
            BankChecking_BA_Rec_ID = null;
        }
    }
    function BankChecking_UpdateFooterDetail(BankChecking_BA_Rec_ID, Bank_Action_Status, Bank_Add_Date, Bank_Add_By, Bank_Action_Date, Bank_Action_By, Bank_Edit_Date, Bank_Edit_By) {

    HideLoader();
    var Status = "";
    var Lbl_Status = "";
    var Lbl_StatusBy = "";
    var Pic_Status = "";
    var Lbl_Create = "";
    var Lbl_Modify = "";
    var Lbl_Status_Color = "";
    var Lbl_ActionOn = "";
    var Lbl_ActionBy = "";
    var StatusStr = "";
        if (BankChecking_BA_Rec_ID != null)
    {
        Bank_Add_Date = (moment(Bank_Add_Date).format("DD/MM/YYYY HH:mm:ss"));
        Bank_Edit_Date = (moment(Bank_Edit_Date).format("DD/MM/YYYY HH:mm:ss"));
        Bank_Action_Date = (moment(Bank_Action_Date).format("DD/MM/YYYY HH:mm:ss"));
        Status = Bank_Action_Status;
        StatusStr = Status == "Locked" ? "Locked" : Status == null ? null : "UnLocked";

        if (Status && Status.toUpperCase() == "LOCKED") {
            Lbl_Status = "Completed";
            Lbl_Status_Color = "blue";
            Pic_Status = "fa fa-lock";
        }
        else {
            Pic_Status = "fa fa-unlock";
            Lbl_Status = Status;
            if (Status && Status.toUpperCase() == "COMPLETED") {
                Lbl_Status_Color = "green";
            }
            else {
                Lbl_Status_Color = "red";
            }
        }
        if (Bank_Action_Date) {
            Lbl_ActionOn = StatusStr + " On: " + Bank_Action_Date;
            Lbl_ActionBy = StatusStr + " By: " + Bank_Action_By;
        }

        else {
            Lbl_ActionOn = "";
            Lbl_ActionBy = "";
        }
        if (Bank_Add_Date) {
            Lbl_Create = "Add On: " + Bank_Add_Date + ", By: " + Bank_Add_By;
        }
        else {
            Lbl_Create = "";
        }

        if (Bank_Edit_Date) {
            Lbl_Modify = "Edit On: " + Bank_Edit_Date + ", By: " + Bank_Edit_By;
        }
        else {
            Lbl_Modify = "";
        }
    }
    $('#BankLbl_Status').text(Lbl_Status);
    $('#Bank_Lbl_ActionOn').text(Lbl_ActionOn)
    $('#Bank_Lbl_ActionBy').text(Lbl_ActionBy);
    $('#BankLbl_Create').text(Lbl_Create);
    $('#BankLbl_Modify').text(Lbl_Modify);
    if (Lbl_Status_Color != "") {
        $('#BankLbl_Status').css('color', Lbl_Status_Color);
    }
    if (Pic_Status == "fa fa-lock") {
        $('#Bank_LockICON').addClass(Pic_Status).removeClass("fa-unlock");
    }
    else if (Pic_Status == "fa fa-unlock") {
        $('#Bank_LockICON').addClass(Pic_Status).removeClass("fa-lock");
    }
    else {
        $('#Bank_LockICON').removeClass("fa");
        $('#Bank_LockICON').removeClass("fa-lock");
        $('#Bank_LockICON').removeClass("fa-unlock");
    }
}

    function BankCheckingContextMenuFunction(s, e) {
        if (e.item.name == "Close") {
            closeChecking_Bank();
        }
        else if (e.item.name == 'Profile_Bank_View') {
            BankProfile_OnViewClick();
        }
        else if (e.item.name == 'ListPreview') {
            OnBankCheckingPreviewClick();
        }
        else if (e.item.name == 'Refresh') {
            BankCheckingGrid.Refresh();
        }
    }

    function BankChecking_SaveButton_Click() {

    BankCheckingOnGetRowValues();

    var BankChecking_PassbookBalance_CellName = "BBC_spin" + BankChecking_BA_Rec_ID;
    var BankChecking_AccountStatus_CellName = "BBC_cmb" + BankChecking_BA_Rec_ID;
    var BankChecking_TxnDate_CellName = "BBC_txt" + BankChecking_BA_Rec_ID;

    var BankChecking_PassbookBalance_CellValue = ASPxClientControl.GetControlCollection().GetByName(BankChecking_PassbookBalance_CellName).GetValue();
    var BankChecking_AccountStatus_CellValue = ASPxClientControl.GetControlCollection().GetByName(BankChecking_AccountStatus_CellName).GetValue();
    var BankChecking_TxnDate_CellValue = ASPxClientControl.GetControlCollection().GetByName(BankChecking_TxnDate_CellName).GetValue();

    BankChecking_TxnDate_CellValue = (BankChecking_TxnDate_CellValue == null) ? null : moment(BankChecking_TxnDate_CellValue).format("DD/MM/YYYY");
        BankChecking_PassbookBalance_CellValue == null ? 0 : BankChecking_PassbookBalance_CellValue;
        var SaveBankBalanceDetails = true;

    if (BankChecking_TxnDate_CellValue != null) {

        if (moment(BankChecking_TxnDate_CellValue, "DD/MM/YYYY").toDate() > moment("@Open_FY_Edt", "DD/MM/YYYY").add(90, 'days').toDate()) {

            SaveBankBalanceDetails = false;

            var alertResult = alertResult = DevExpress.ui.dialog.alert("Last Transaction Date Cannot be greater than End Date of open FY by 90 Days.", "Information");
            alertResult.done(function (result) {
                if (result) {
                    ASPxClientControl.GetControlCollection().GetByName(BankChecking_TxnDate_CellName).Focus();
                    return;
                }
            });

        }
        }        
        if (BankChecking_Balance != BankChecking_PassbookBalance_CellValue)
        {
            SaveBankBalanceDetails = false;
            var alertResult = alertResult = DevExpress.ui.dialog.alert("Passbook balance and ConnectOne bank balance does not match", "Information");
            alertResult.done(function (result)
            {
                if (result)
                {
                    ASPxClientControl.GetControlCollection().GetByName(BankChecking_PassbookBalance_CellName).Focus();
                }
            });
            return;
        }
    if (SaveBankBalanceDetails) {
        ShowLoader();
        $.ajax({
            type: 'POST',
            url: "/Start/BankBalanceChecking/SaveBankBalance",
            data:
            {
                passbookbalance: BankChecking_PassbookBalance_CellValue == null ? 0 : BankChecking_PassbookBalance_CellValue,
                accountStatus: BankChecking_AccountStatus_CellValue,
                lastTxnDate: BankChecking_TxnDate_CellValue,
                BA_REC_ID: BankChecking_BA_Rec_ID

            },
            cache: false,
            success: function (data) {
                HideLoader();

                var alertResult = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertResult.done(function (result) {
                    if (result) {
                        //BankCheckingGrid.Refresh();
                    }
                });
            }
        });
    }

}
    </script>

    <script>
    function getBankstatement_BankChecking_Onclick()
    {
        if (BankChecking_BA_Rec_ID == null || BankChecking_BA_Rec_ID == "" || BankChecking_BA_Rec_ID == "0") {
            DevExpress.ui.dialog.alert("Please select one row", "Alert");
            return
        }     
        getBankStatement_window(BankChecking_BankFullName, BankChecking_AccountType, BankChecking_AccountNo, BankChecking_BA_Rec_ID,"Start_BankChecking")
    }

</script>
    @* Grid Function *@
</div>