
<div class="BankCheckingExport_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    <div>
        @(Html.DevExtreme().Button()
                .ID("BankChecking_ExportGridDatapdf")
                .Text("Export to PDF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("x")
                .OnClick("ExportPDF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("BankChecking_ExportGridDataxls")
                .Text("Export to XLS")
                //.Icon("fa-file-excel-o")
                //.AccessKey("X")
                .OnClick("ExportXLS")
                .Visible(true)
                .Width(120)
    )<br />
        @(Html.DevExtreme().Button()
                .ID("BankChecking_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("L")
                .OnClick("ExportXLSX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("BankChecking_ExportGridDatadocx")
                .Text("Export to DOCX")
                //.Icon("export_exporttodocx_16x16office2013")
                //.AccessKey("D")
                .OnClick("ExportDOCX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("BankChecking_ExportGridDatartf")
                .Text("Export to RTF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("R")
                .OnClick("ExportRTF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("BankChecking_ExportGridDatacsv")
                .Text("Export to CSV")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("C")
                .OnClick("ExportCSV")
                .Visible(true)
                .Width(120)
    )
    </div>
    <script>
    function ExportPDF() {
        BankCheckingGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        $("#BankChecking_report_modal").dxPopup("hide");
    }
    function ExportXLS() {
        BankCheckingGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
        $("#BankChecking_report_modal").dxPopup("hide");
    }
    function ExportXLSX() {
        BankCheckingGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        $("#BankChecking_report_modal").dxPopup("hide");
    }
    function ExportCSV() {
        BankCheckingGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
        $("#BankChecking_report_modal").dxPopup("hide");
    }
    function ExportDOCX() {
        BankCheckingGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
        $("#BankChecking_report_modal").dxPopup("hide");
    }
    function ExportRTF() {
        BankCheckingGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        $("#BankChecking_report_modal").dxPopup("hide");
    }
    </script>
</div>