<div class="LiabilitiesProfile_ClearReferences">

    @using DevExtreme.AspNet.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        string UserType = (string)ViewBag.UserType;
        bool Liabilities_AddRight = (bool)ViewData["Liabilities_AddRight"];
        bool Liabilities_UpdateRight = (bool)ViewData["Liabilities_UpdateRight"];
        bool Liabilities_ViewRight = (bool)ViewData["Liabilities_ViewRight"];
        bool Liabilities_DeleteRight = (bool)ViewData["Liabilities_DeleteRight"];
        bool Liabilities_ExportRight = (bool)ViewData["Liabilities_ExportRight"];
        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
        bool Liabilities_Auto_Vouching_Mode = (bool)ViewData["Liabilities_Auto_Vouching_Mode"];
    }
    <div id="LiabilitiesProfile_ParentDiv">
        <div id="content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">Liabilities Information</label>
            </div>
            @*Buttons*@
            <div class="report_button_div">
                @(Html.DevExtreme().Switch().ID("LiabilitysVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("Liabilitys_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Switch().ID("LiabilitiesViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("Liabilities_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Button()
                                                                                                            .ID("LiabilitiesModelNew")
                                                                                                            .Text("New")
                                                                                                            .Icon("add")
                                                                                                            .Visible(false)
                                                                                                            .Disabled(true)
                                                                                                            .OnClick(@<text>
                                                                                                                function () {
                                                                                                                OnLiabilitiesNewClick();
                                                                                                                }
                                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                            .ID("LiabilitiesModelEdit")
                                                                                                            .Text("Edit")
                                                                                                             .Icon("edit")
                                                                                                             .Visible(false)
                                                                                                             .Disabled(true)
                                                                                                             .OnClick(@<text>
                                                                                                                function () {
                                                                                                                OnLiabilitiesEditClick();
                                                                                                                }
                                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                            .ID("LiabilitiesModelDelete")
                                                                                                            .Text("Delete")
                                                                                                            .Icon("trash")
                                                                                                            .Visible(false)
                                                                                                            .Disabled(true)
                                                                                                            .OnClick(@<text>
                                                                                                                function () {
                                                                                                                OnLiabilitiesDeleteClick();
                                                                                                                }
                                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                            .ID("LiabilitiesModelView")
                                                                                                            .Text("View")
                                                                                                            .Icon(IconID.ViewCustomers16x16devav)
                                                                                                            .Icon("doc")
                                                                                                            .Visible(false)
                                                                                                            .Disabled(true)
                                                                                                            .OnClick(@<text>
                                                                                                                function () {
                                                                                                                OnLiabilitiesViewClick();
                                                                                                                }
                                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                            .ID("LiabilitiesToggleScrollBar")
                                                                                                            .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                                                                                                            .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                                                                                                            .Icon("toolbox")
                                                                                                            .OnClick(@<text>
                                                                                                                function () {
                                                                                                                LiabilitieschangeMode();
                                                                                                                }
                                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                            .ID("LiabilitiesModelListPreview")
                                                                                                            .Text("Export")
                                                                                                            .Icon("save")
                                                                                                            .Width(80)
                                                                                                            .OnClick(@<text>
                                                                                                                function () {
                                                                                                                OnLiabilitiesListPreviewClick();
                                                                                                                }
                                                                                                            </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                            .ID("LiabilitiesModelCLOSE")
                                                                                                            .Text("Close")
                                                                                                            .Icon("clear")
                                                                                                            .OnClick(@<text>
                                                                                                                function (){closeProfile_Liabilities();}
                                                                                                            </text>)

            )
            </div>
        </div>
        <div class="col-md-12 no-padding">
            <form>
                <div id="LiabilitiesreloadPartialView" class="parent_table">
                    @Html.Partial("Frm_Liabilities_Info_Grid", Model)
                </div>
            </form>
        </div>

        <div class="footer-MainBoxdiv full-width-footer">
            @*<div class="col-lg-8 report_footer_small_buttons_div" id="LiabilitiesFooterItem">*@
            <div class="list_footer_left_margin col-md-10">
                <div>
                    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id="Liabilities_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="Liabilities_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                            @*<div class="footer-locktext">
                                    <div id="LiabilitiesLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                                </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id="LiabilitiesLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id="LiabilitiesLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list_footer_right_margin_consistent col-md-1">
                @*<i id="Liabilities_LockICON" class="fa fa-lock lock_symbol"></i>*@
            </div>
            @*</div>
                <div class="col-lg-4 listing_footer_filter_buttons_div">
                </div>*@
        </div>
        @Html.Partial("AttachmentFAB", "LiabilitiesPrf_FAB,LiabilitiesProfile_grid_DIV,Type1,LiabilitiesProfile," + UserType) @*fab buttons*@

        <div class="col-md-12">
            @*Add/Edit Popup*@
            @(Html.DevExtreme().Popup().CustomPopup()
                                            .ID("Liabilities_report_modal")
                                            .OnShowing("PopupOnShowing")
                                            .Title("Liabilities List Preview")
                                            .FullScreen(false)
                                            .MaxWidth(125)
                                            .Height("auto")
                                            .ShowCloseButton(true)
                                            .ContentTemplate(@<text>
                                                <div id="Liabilities_report_modal_result">
                                                </div>
                                            </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                            .ID("popup_frm_Liabilities_Window")
                                            .Title("Liabilities")
                                            .OnShowing("PopupOnShowing")
                                            .ContentTemplate(@<text>
                                                <div id="Liabilitiesresult">
                                                </div>
                                            </text>)
                                                        .OnHiding(@<text>
                                                            function () {
                                                            if(IsSucessPopup == false && IsViewPopup == false)
                                                            {
                                                            var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                                            result.done(function (dialogResult) {
                                                            if(dialogResult){
                                                            $("#popup_frm_Liabilities_Window").dxPopup("hide");
                                                            }else
                                                            {
                                                            $("#popup_frm_Liabilities_Window").dxPopup("show");
                                                            }
                                                            });
                                                            }
                                                            }
                                                        </text>)
        )
        </div>
    </div>
    @*Javascript Events*@
<script type="text/javascript">
    var IsSucessPopup = false;
    var IsViewPopup = false;
    var Liab_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var Liabilities_SetVouchingModeOn = "@Liabilities_Auto_Vouching_Mode" == "True" ? true : false;
    var UserType_LiabilitiesPrf = "@UserType".toUpperCase();
    var Liabilitys_IsVouchingMode = false;
    var Liabilitys_FocusedRowBeforeRefresh;
    var Liabilities_ViewMode = "Default";
            $(document).ready(function () {
                if ("@Liabilities_AddRight" == "False")
                {
	                $("#LiabilitiesModelNew").hide();
                }
                if ("@Liabilities_UpdateRight" == "False")
                {
                    $("#LiabilitiesModelEdit").hide();
                }
                if ("@Liabilities_ViewRight" == "False")
                {
                    $("#LiabilitiesModelView").hide();
                }
                if ("@Liabilities_DeleteRight" == "False")
                {
                    $("#LiabilitiesModelDelete").hide();
                }
                if ("@Liabilities_ExportRight" == "False")
                {
                    $("#LiabilitiesModelListPreview").hide();
                }

                IsSucessPopup = false;
                IsViewPopup = false;
               // SetLiabilitiesGroupPanelFooterVisible();
                //$("#LiabilitiesListGrid").hover(function () {
                //    LiabilitiesListGrid.Focus()
                //});
                $(".LiabilitiesListGrid_PreviewRow").hide();
                GetSessionStorage("LiabilitiesListGrid");
                HideUnreleasedFunctionality('Liabilities_frm_Liabilities_Info');
                if (Liabilities_SetVouchingModeOn == true)
                {
                    $("#LiabilitiesViewModeSwitch").dxSwitch("instance").option("value", true);
                }
            });
            $(".TabPanalMenu-tabs .active span").on("click", function () {
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Liabilities/SessionClear",
                    cache: false
                });
                CloseRightPane();
                ClearLeftPane();
                CloseLeftPane();
                ClearAllReferences_LiabilitiesProfile();

            });
        function ClearAllReferences_LiabilitiesProfile() {
            IsSucessPopup = null;
            IsViewPopup = null;
            Liab_ShowHorizontalBar = null;
            Liabilities_SetVouchingModeOn = null;
            UserType_LiabilitiesPrf = null;
            Liabilitys_IsVouchingMode = null;
            Liabilitys_FocusedRowBeforeRefresh = null;
            Liabilities_ViewMode = null;
            Liability_ColumnToBeShownIndex = null;
            Liability_ColumnToBeHidddenIndex = null;
            LiabilitiesID = null;
            Liabilities_EditDate = null;
            Liabilities_AddDate = null;
            Liabilities_AddBy = null;
            Liabilities_EditBy = null;
            Liabilities_ActionStatus = null;
            Liabilities_ActionDate = null;
            Liabilities_ActionBy = null;
            LiabilitiesInfo_IsDetailRowExpanded = null;
            LiabilitiesInfo_NestedRecord_FocusedRowIndex = null;
            LiabilitiesInfo_NestedGrid_AccessID = null;
            LiabilitiesInfo_AtachmentID = null;
            LiabilitiesInfo_FileName = null;
            LiabilitiesInfo_ParamMandatory = null;
            LiabilitiesInfo_FromDateLabel = null;
            LiabilitiesInfo_ToDateLabel = null;
            LiabilitiesInfo_DescriptionLabel = null;
            LiabilitiesInfo_Doc_ID = null;
            LiabilitiesInfo_Doc_Category = null;
            LiabilitiesInfo_MasterRowRecID = null;
            LiabilitiesInfo_MasterRowMID = null;
            LiabilitiesInfo_NestedRowMapID = null;
            LiabilitiesInfo_reason = null;
            LiabilitiesInfo_Attachment_RecStatus = null;
            LiabilitiesInfo_NestedRowReasonID = null;
            LiabilitiesInfo_NestedRowKeyValue = null;

            ClearAllReferences("LiabilitiesProfile_ClearReferences");
        }

        function LiabilitiesOnInit(s, e) {
            LiabilitiesAdjustSize();
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                LiabilitiesAdjustSize();
            });
        }
    function OnLiabilitiesCellClick(event, cell,col, row)
    {
        if (UserType_LiabilitiesPrf == "AUDITOR" || UserType_LiabilitiesPrf == "SUPERUSER")
        {
            if (event.button == 0)
            {
                if (cell.style.backgroundColor.length > 0)
                {
                    cell.style.backgroundColor = "";
                }
                else
                {
                    cell.style.backgroundColor = 'skyblue';
                }
            }
        }
    }
    function Liabilitys_VouchingSwitch_ValueChange(e)
    {
        Liabilitys_IsVouchingMode = e.value;
        if (Liabilities_SetVouchingModeOn == true)
        {
            Liabilities_SetVouchingModeOn = false;
        }
        else
        {
            LiabilitiesPrf_FAB.SetVisible(false);
        }
        if (Liabilitys_IsVouchingMode == true)
        {
            OpenRightPane();
            ClearLeftPane();
            OpenLeftPane();
        }
        else
        {
            LiabilitiesPrf_FAB.SetActionContext("AddAttachmentContext", false);
            CloseRightPane();
            ClearLeftPane();
            CloseLeftPane();
        }
        LiabilitiesListGrid_CollapseAllDetailRows();
    }
    function LiabilitiesListGrid_CollapseAllDetailRows()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.LiabilitiesListGrid !== 'undefined')
            {
                if (typeof window.LiabilitiesListGrid.CollapseAllDetailRows !== 'undefined')
                {
                    if (typeof LiabilitiesListGrid.CollapseAllDetailRows == 'function')
                    {
                        LiabilitiesListGrid.SetFocusedRowIndex(-1);
                        LiabilitiesListGrid.CollapseAllDetailRows();
                    }
                    else
                    {
                        alert("CollapseAllDetailRows is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        LiabilitiesListGrid_CollapseAllDetailRows();
                        HideLoader();
                    }, Timeout100);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else
        {
            alert('window undefined')
        }
    }
    function Liabilities_ViewSwitch_ValueChange(e)
    {
        Liabilities_ViewMode = e.value == false ? "Default" : "Compact";
        if (Liabilities_SetVouchingModeOn == true)
        {
            $("#LiabilitysVouchingModeSwitch").dxSwitch("instance").option("value", true);
        }
        else
        {
            LiabilitiesListGrid.CollapseAllDetailRows();
        }
    }
    var Liability_ColumnToBeShownIndex = "";
    var Liability_ColumnToBeHidddenIndex = "";

    function OnGridLiabilitiesListGrid_EndCallback(s, e)
    {
        Liability_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
        Liability_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex;
        LiabilitiesGridLayout = s.cpClientLayout;
        $(".LiabilitiesListGrid_PreviewRow").hide();
        GetSessionStorage("LiabilitiesListGrid");
        SendCustomArgs_FilterControl(s, e);
        if (e.command == "REFRESH" && Liabilitys_IsVouchingMode == true)
        {
            s.SetFocusedRowIndex(-1);
            s.SetFocusedRowIndex(Liabilitys_FocusedRowBeforeRefresh);
        }

    }

            function LiabilitiesAdjustSize() {
                var height = (document.documentElement.clientHeight * 90) / 100;
                try{LiabilitiesListGrid.SetHeight(height);} catch (err) { }
            }
            function LiabilitieschangeMode() {
                ShowLoader();
                if (Liab_ShowHorizontalBar == 0) {
                    Liab_ShowHorizontalBar = 1;
                    $("#LiabilitiesToggleScrollBar").find("span").text("Default Data");
                    $("#LiabilitiesToggleScrollBar").width(110);
                }
                else {
                    Liab_ShowHorizontalBar = 0;
                    $("#LiabilitiesToggleScrollBar").find("span").text("Full Data");
                    $("#LiabilitiesToggleScrollBar").width(90);
                }
                $.ajax({
                    url: '@Url.Action("Frm_Liabilities_Info_Grid", "Liabilities")',
                    type: "GET",
                    data: {
                        ShowHorizontalBar: Liab_ShowHorizontalBar, VouchingMode: Liabilitys_IsVouchingMode, ViewMode: Liabilities_ViewMode,
                        ColumnToBeHidddenIndex: Liability_ColumnToBeHidddenIndex, ColumnToBeShownIndex: Liability_ColumnToBeShownIndex
 },
                    success: function (res) {
                        $("#LiabilitiesreloadPartialView").html(res);
                        $(".LiabilitiesListGrid_PreviewRow").hide();
                        GetSessionStorage("LiabilitiesListGrid");
                    }
                });
                HideLoader();
            }
            function LiabilitiesAjaxSuccessForm(data) {
                if (data.result == false) {
                    DevExpress.ui.dialog.alert(data.Message, "Error");
                }
                else {
                    IsSucessPopup = true;
                    DevExpress.ui.dialog.alert(data.Message, "Success");
                    $("#popup_frm_Liabilities_Window").dxPopup("hide");
                    LiabilitiesListGrid.Refresh();
                    IsSucessPopup = false;
                }
            }


            var LiabilitiesID;
            var Liabilities_EditDate;
            var Liabilities_AddDate;
            var Liabilities_AddBy;
            var Liabilities_EditBy;
            var Liabilities_ActionStatus;
            var Liabilities_ActionDate;
            var Liabilities_ActionBy;

            function Liabilities_dblclickEdit(s, e) {
                //var key = s.GetRowKey(s.GetFocusedRowIndex());
                //DepositsListGrid.GetValuesOnCustomCallback({ key: key }, DepositsOnGetRowValues);
                //if (DepositsID != null || DepositsID == 'undefined' || DepositsID == undefined)
                //    OnDepositsEditClick();
            }

    function LiabilitiesGrid_BeginCallBack(s, e) {
        Liabilitys_FocusedRowBeforeRefresh = s.GetFocusedRowIndex();
                e.customArgs["command"] = e.command;
                e.customArgs["ShowHorizontalBar"] = Liab_ShowHorizontalBar;
                e.customArgs["VouchingMode"] = Liabilitys_IsVouchingMode;
                e.customArgs["ViewMode"] = Liabilities_ViewMode;
                e.customArgs["ColumnToBeShownIndex"] = Liability_ColumnToBeShownIndex;
                e.customArgs["ColumnToBeHidddenIndex"] = Liability_ColumnToBeHidddenIndex;
            }

    function OnLiabilitiesGridFocusedRowChanged(s, e)
    {
        if (s.GetFocusedRowIndex() >= 0)
        {
            if (Liabilitys_IsVouchingMode)
            {
                LiabilitiesPrf_FAB.SetVisible(true);
                LiabilitiesPrf_FAB.SetActionContext("VouchingActionContext", true);
            }
            s.GetRowValues(s.GetFocusedRowIndex(), 'ID;Edit_Date;Add_Date;Add_By;Edit_By;Action_Status;Action_Date;Action_By', LiabilitiesOnGetRowValues);
        }
        else
        {
            LiabilitiesID = null;
        }
    }

            function LiabilitiesOnGetRowValues(values) {
                LiabilitiesID = values[0];
                Liabilities_EditDate = values[1];
                Liabilities_AddDate = values[2];
                Liabilities_AddBy = values[3];
                Liabilities_EditBy = values[4];
                Liabilities_ActionStatus = values[5];
                Liabilities_ActionDate = values[6];
                Liabilities_ActionBy = values[7];
                Liabilities_UpdateFooterDetail(LiabilitiesID, Liabilities_ActionStatus, Liabilities_AddDate, Liabilities_AddBy,
                    Liabilities_ActionDate, Liabilities_ActionBy, Liabilities_EditDate, Liabilities_EditBy);
                if (Liabilitys_IsVouchingMode == true) {
                    OpenLeftPane();
                    LoadDocumentAndAdditionalInfoInLeftPane("Profile", "Liabilities", "LeftPaneContent", LiabilitiesID, Liabilitys_IsVouchingMode, "");
                }
            }

            function Liabilities_UpdateFooterDetail(LiabilitiesID, Liabilities_Action_Status, Liabilities_Add_Date, Liabilities_Add_By, Liabilities_Action_Date, Liabilities_Action_By, Liabilities_Edit_Date, Liabilities_Edit_By) {
                Liabilities_Action_Date = Liabilities_Action_Date != "" && Liabilities_Action_Date != null ? Liabilities_Action_Date : Liabilities_Action_Date;
                Liabilities_Edit_Date = Liabilities_Edit_Date != "" && Liabilities_Edit_Date != null ? Liabilities_Edit_Date : Liabilities_Edit_Date;
                Liabilities_Add_Date = Liabilities_Add_Date != "" && Liabilities_Add_Date != null ? Liabilities_Add_Date : Liabilities_Add_Date;
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Liabilities/CreationDetail",
                    data: {
                        Xrow: LiabilitiesID, Action_Status: Liabilities_Action_Status, Add_Date: Liabilities_Add_Date,
                        Add_By: Liabilities_Add_By, Action_Date: Liabilities_Action_Date, Action_By: Liabilities_Action_By, Edit_Date: Liabilities_Edit_Date, Edit_By: Liabilities_Edit_By
                    },
                    cache: false,
                    success: function (LiabilitiesLbl_result) {
                        $('#Liabilities_Lbl_ActionOn').text(LiabilitiesLbl_result.Lbl_StatusOn);
                        $('#Liabilities_Lbl_ActionBy').text(LiabilitiesLbl_result.Lbl_StatusBy);
                        $('#LiabilitiesLbl_Status').text(LiabilitiesLbl_result.Lbl_Status);
                        $('#LiabilitiesLbl_Create').text(LiabilitiesLbl_result.Lbl_Create);
                        $('#LiabilitiesLbl_Modify').text(LiabilitiesLbl_result.Lbl_Modify);
                        if (LiabilitiesLbl_result.Lbl_Status_Color != "") {
                            $('#LiabilitiesLbl_Status').css('color', LiabilitiesLbl_result.Lbl_Status_Color);
                        }

                    }
                });
            }

            function OnLiabilitiesNewClick() {
                if ("@Liabilities_AddRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                IsViewPopup = false;
                $("#popup_frm_Liabilities_Window").dxPopup("show");
                $("#popup_frm_Liabilities_Window").dxPopup("instance").option("title", "New ~ Liabilities");
                $("#Liabilitiesresult").html('');
                ShowLoader();
                $("#Liabilitiesresult").load("@Url.Action("Frm_Liabilities_Window", "Liabilities", new { @area = "Profile" })?ActionMethod=New", function () {
                    HideLoader();
                });
            }

            function OnLiabilitiesEditClick() {
                if ("@Liabilities_UpdateRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                IsViewPopup = false;
                if (LiabilitiesID == 'undefined' || LiabilitiesID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Liabilities/DataNavigation",
                    data: { ActionMethod: "Edit", id: LiabilitiesID, Edit_Date: Liabilities_EditDate },
                    cache: false,
                    success: function (Liabilities_Edit_ButtonClick_result) {
                        if (Liabilities_Edit_ButtonClick_result.result == "true" || Liabilities_Edit_ButtonClick_result.result == true) {
                            $("#popup_frm_Liabilities_Window").dxPopup("show");
                            $("#popup_frm_Liabilities_Window").dxPopup("instance").option("title", "Edit ~ Liabilities");
                            $("#Liabilitiesresult").html('');
                            ShowLoader();
                            $("#Liabilitiesresult").load("@Url.Action("frm_Liabilities_window", "Liabilities", new { @area = "Profile" })?ActionMethod=" + "Edit" + "&ID=" + LiabilitiesID + "&EditedOn=" + Liabilities_EditDate, function () {
                                HideLoader();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(Liabilities_Edit_ButtonClick_result.Message);
                            LiabilitiesListGrid.Refresh();
                        }
                    }
                });
            }

            function OnLiabilitiesViewClick() {
                if ("@Liabilities_ViewRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                if (LiabilitiesID == 'undefined' || LiabilitiesID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Liabilities/DataNavigation",
                    data: { ActionMethod: "View", id: LiabilitiesID, Edit_Date: Liabilities_EditDate },
                    cache: false,
                    success: function (Liabilities_View_ButtonClick_result) {
                        if (Liabilities_View_ButtonClick_result.result == "true" || Liabilities_View_ButtonClick_result.result == true) {
                            IsViewPopup = true;
                            $("#popup_frm_Liabilities_Window").dxPopup("show");
                            $("#popup_frm_Liabilities_Window").dxPopup("instance").option("title", "View ~ Liabilities");
                            $("#Liabilitiesresult").html('');
                            ShowLoader();
                            $("#Liabilitiesresult").load("@Url.Action("frm_Liabilities_window", "Liabilities", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + LiabilitiesID + "&EditedOn=" + Liabilities_EditDate, function () {
                                HideLoader();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(Liabilities_View_ButtonClick_result.Message);
                            LiabilitiesListGrid.Refresh();
                        }
                    }
                });
            }

            function OnLiabilitiesDeleteClick() {
                if ("@Liabilities_DeleteRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                IsViewPopup = true;
                if (LiabilitiesID == 'undefined' || LiabilitiesID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
                result.done(function (dialogResult) {
                    if (dialogResult) {
                        $("#popup_frm_Liabilities_Window_Close").dxPopup("hide");

                        $.ajax({
                            type: 'GET',
                            url: "/Profile/Liabilities/DataNavigation",
                            data: { ActionMethod: "Delete", id: LiabilitiesID, Edit_Date: Liabilities_EditDate },
                            cache: false,
                            success: function (Liabilities_Delete_ButtonClick_result) {
                                if (Liabilities_Delete_ButtonClick_result.result == "true" || Liabilities_Delete_ButtonClick_result.result == true) {
                                    $("#popup_frm_Liabilities_Window").dxPopup("show");
                                    $("#popup_frm_Liabilities_Window").dxPopup("instance").option("title", "Delete ~ Liabilities");
                                    ShowLoader();
                                    $("#Liabilitiesresult").load("@Url.Action("frm_Liabilities_window", "Liabilities", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + LiabilitiesID + "&EditedOn=" + Liabilities_EditDate, function () {
                                        HideLoader();
                                    });
                                }
                                else {
                                    DevExpress.ui.dialog.alert(Liabilities_Delete_ButtonClick_result.Message);
                                    LiabilitiesListGrid.Refresh();
                                }
                            }
                        });
                    }
                });
            }

            function OnLiabilitiesListPreviewClick() {
                if ("@Liabilities_ExportRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                @*$("#Liabilities_report_modal").dxPopup("show");
                $("#Liabilities_report_modal").dxPopup("instance").option("title", "Export Option");
                $("#Liabilities_report_modal").html('');
                ShowLoader();
                $("#Liabilities_report_modal_result").load("@Url.Action("Frm_Export_Options", "Liabilities", new { @area = "Profile" })", function () {
                    HideLoader();
                });*@
                OpenPopup("Liabilities_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "Liabilities", new { @area = "Profile" })", "auto", 125, false, null);
            }

            function GetSelectedFieldValuesCallback(values) {
                SelectedRows.BeginUpdate();
                try {
                    SelectedRows.ClearItems();
                    for (var i = 0; i < values.length; i++) {
                        SelectedRows.AddItem(values[i]);
                    }
                } finally {
                    SelectedRows.EndUpdate();
                }
                $("#count").html(gvRowSelection.GetSelectedRowCount());

            }

            function LiabilitiesContextMenuFunction(s, e) {
                if (e.item.name == 'New') {
                    OnLiabilitiesNewClick();
                }
                if (e.item.name == 'Close') {
                    closeProfile_Liabilities();
                }
                else if (e.item.name == 'Edit') {
                    OnLiabilitiesEditClick();
                }
                else if (e.item.name == 'Delete') {
                    OnLiabilitiesDeleteClick();
                }
                else if (e.item.name == 'View') {
                    OnLiabilitiesViewClick();
                }
                else if (e.item.name == 'ListPreview') {
                    OnLiabilitiesListPreviewClick();
                }
                else if (e.item.name == 'Discontinue') {
                    OnLiabilitiesDiscontinueClick();
                }
                else if (e.item.name == 'continue') {
                    OnLiabilitiescontinueClick();
                }
                else if (e.item.name == 'Refresh') {
                    LiabilitiesListGrid.Refresh();
                }

        }
        function closeProfile_Liabilities() {
            $(".TabPanalMenu-tabs .active span").click();

        }
        //$(".TabPanalMenu-tabs .active span").on("click", function () {
        //    $.ajax({
        //        type: 'GET',
        //        url: "/Profile/Liabilities/SessionClear",
        //        cache: false
        //    });
        //    var pane = Mainspliter.GetPaneByName('RightPane');
        //    pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        //});
</script>
    <script>
    var LiabilitiesInfo_IsDetailRowExpanded = false;
    var LiabilitiesInfo_NestedRecord_FocusedRowIndex = -1;
    var LiabilitiesInfo_NestedGrid_AccessID;
    var LiabilitiesInfo_AtachmentID;
    var LiabilitiesInfo_FileName;
    var LiabilitiesInfo_ParamMandatory;
    var LiabilitiesInfo_FromDateLabel;
    var LiabilitiesInfo_ToDateLabel;
    var LiabilitiesInfo_DescriptionLabel;
    var LiabilitiesInfo_Doc_ID;
    var LiabilitiesInfo_Doc_Category;
    var LiabilitiesInfo_MasterRowRecID;
    var LiabilitiesInfo_MasterRowMID;
    var LiabilitiesInfo_NestedRowMapID;
    var LiabilitiesInfo_reason;
    var LiabilitiesInfo_Attachment_RecStatus;
    var LiabilitiesInfo_NestedRowReasonID;
    var LiabilitiesInfo_NestedRowKeyValue;

    function On_LiabilitiesProfile_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (LiabilitiesInfo_ParamMandatory == 1)
            {
                AddAttachment(LiabilitiesInfo_MasterRowRecID, "Profile_Liabilities", LiabilitiesInfo_Doc_ID, LiabilitiesInfo_Doc_Category, LiabilitiesInfo_ParamMandatory, LiabilitiesInfo_FromDateLabel, LiabilitiesInfo_ToDateLabel, LiabilitiesInfo_DescriptionLabel, "LiabilitiesProfileAttachment", null, "LiabilitiesListGrid", LiabilitiesInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(LiabilitiesInfo_MasterRowRecID, "Profile_Liabilities", LiabilitiesInfo_Doc_ID, "LiabilitiesProfileAttachment", "LiabilitiesListGrid", LiabilitiesInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (LiabilitiesInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(LiabilitiesInfo_MasterRowRecID, "Profile_Liabilities", LiabilitiesInfo_AtachmentID, LiabilitiesInfo_ParamMandatory, LiabilitiesInfo_FromDateLabel, LiabilitiesInfo_ToDateLabel, LiabilitiesInfo_DescriptionLabel, "LiabilitiesProfileAttachment", null, "LiabilitiesListGrid", LiabilitiesInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(LiabilitiesInfo_MasterRowRecID, "Profile_Liabilities", LiabilitiesInfo_AtachmentID, LiabilitiesInfo_ParamMandatory, LiabilitiesInfo_FromDateLabel, LiabilitiesInfo_ToDateLabel, LiabilitiesInfo_DescriptionLabel, null, "LiabilitiesListGrid", LiabilitiesInfo_NestedGrid_AccessID, LiabilitiesInfo_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            ViewDocument(LiabilitiesInfo_AtachmentID, LiabilitiesInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(LiabilitiesInfo_MasterRowRecID, "Profile_Liabilities", "Liabilities Information", "LiabilitiesListGrid", LiabilitiesInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (LiabilitiesInfo_Doc_Category.toLowerCase() == "others")
            {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else
            {
                AttachmentAddReason(LiabilitiesInfo_MasterRowRecID, LiabilitiesInfo_NestedRowMapID, "Profile_Liabilities", "LiabilitiesListGrid", LiabilitiesInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(LiabilitiesInfo_MasterRowRecID, LiabilitiesInfo_NestedRowMapID, "Profile_Liabilities", "LiabilitiesListGrid", LiabilitiesInfo_NestedGrid_AccessID, LiabilitiesInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(LiabilitiesInfo_MasterRowRecID, LiabilitiesInfo_NestedRowMapID, "LiabilitiesListGrid", LiabilitiesInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction")
        {
            LiabilitiesPrf_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit")
        {
            if (LiabilitiesInfo_Nested_Doc_Status == "")
            {
                LiabilitiesPrf_FAB.SetActionContext("AutoItemContext", true);
            }
            if (LiabilitiesInfo_Nested_Doc_Status == "NO")
            {
                LiabilitiesPrf_FAB.SetActionContext("EditItemContext", true);
            }
            if (LiabilitiesInfo_Nested_Doc_Status == "YES")
            {
                LiabilitiesPrf_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept")
        {
            LiabilitiesInfo_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject")
        {
            LiabilitiesInfo_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks")
        {
            LiabilitiesInfo_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc") {

            OnLiabilitiesInfo_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc") {

            OnLiabilitiesInfo_RejectDoc();
        }
    }
    function OnLiabilitiesInfo_RejectDoc() {
        if (LiabilitiesInfo_AtachmentID == null || LiabilitiesInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(LiabilitiesInfo_AtachmentID, "LiabilitiesListGrid", LiabilitiesInfo_NestedGrid_AccessID);
    }
    function OnLiabilitiesInfo_AcceptDoc() {
        if (LiabilitiesInfo_AtachmentID == null || LiabilitiesInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(LiabilitiesInfo_AtachmentID, "LiabilitiesListGrid", LiabilitiesInfo_NestedGrid_AccessID);
    }
    function LiabilitiesInfo_AcceptwithoutRemarks()
    {
        var Recid;
        if (LiabilitiesInfo_IsDetailRowExpanded == true || Liabilitys_IsVouchingMode == true)
        {
            if (LiabilitiesInfo_MasterRowRecID == null || LiabilitiesInfo_MasterRowRecID == "")
            {
                Recid = LiabilitiesID;
            }
            else
            {
                Recid = LiabilitiesInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = LiabilitiesID;
        }
        Entry_AcceptwithoutRemarks(Recid, "Profile_Liabilities", "LiabilitiesListGrid", LiabilitiesInfo_AtachmentID, LiabilitiesInfo_NestedRowReasonID, LiabilitiesInfo_NestedRowKeyValue);
    }
    function LiabilitiesInfo_AcceptRejectVoucher(_actionMethod)
    {
        var Recid;
        if (LiabilitiesInfo_IsDetailRowExpanded == true || Liabilitys_IsVouchingMode == true)
        {
            if (LiabilitiesInfo_MasterRowRecID == null || LiabilitiesInfo_MasterRowRecID == "")
            {
                Recid = LiabilitiesID;
            }
            else
            {
                Recid = LiabilitiesInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = LiabilitiesID;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_Liabilities", "LiabilitiesListGrid", LiabilitiesInfo_AtachmentID, LiabilitiesInfo_NestedRowReasonID, LiabilitiesInfo_NestedRowKeyValue);
    }
    function OnLiabilitiesListGridNestedFocusedRowChange(s, e)
    {
        if (LiabilitiesInfo_IsDetailRowExpanded == true || Liabilitys_IsVouchingMode == true)
        {
            LiabilitiesInfo_NestedRecord_FocusedRowIndex = s.GetFocusedRowIndex();
            if (LiabilitiesInfo_NestedRecord_FocusedRowIndex >= 0)
            {
                ShowLoader();
                LiabilitiesInfo_NestedGrid_AccessID = s.uniqueID;
                s.GetRowValues(s.GetFocusedRowIndex(), 'Doc_Status;Params_Mandatory;LABEL_FROM_DATE;LABEL_TO_DATE;LABEL_DESCRIPTION;Document_Category;Document_ID;ATTACH_ID;TxnID;TxnMID;MAP_ID;Reason;ATTACH_FILE_NAME;Attachment_Action_Status;UniqueID', OnLiabilitiesInfo_GetGridRowValues);
            }
            else
            {
                LiabilitiesPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }
    function OnLiabilitiesInfo_GetGridRowValues(values)
    {
        HideLoader();
        if (values[14] != null)
        {
            LiabilitiesPrf_FAB.SetVisible(true);
            LiabilitiesInfo_Nested_Doc_Status = values[0];
            if (Liabilitys_IsVouchingMode == true)
            {
                LiabilitiesPrf_FAB.SetActionContext("AuditActionContext", true);
            }
            else
            {
                if (LiabilitiesInfo_Nested_Doc_Status == "")
                {
                    LiabilitiesPrf_FAB.SetActionContext("AutoItemContext", true);
                }
                else if (LiabilitiesInfo_Nested_Doc_Status == "NO")
                {
                    LiabilitiesPrf_FAB.SetActionContext("EditItemContext", true);
                }
                else if (LiabilitiesInfo_Nested_Doc_Status == "YES")
                {
                    LiabilitiesPrf_FAB.SetActionContext("actionItemContext", true);
                }
            }
            LiabilitiesInfo_ParamMandatory = values[1];
            LiabilitiesInfo_FromDateLabel = values[2];
            LiabilitiesInfo_ToDateLabel = values[3];
            LiabilitiesInfo_DescriptionLabel = values[4];
            LiabilitiesInfo_Doc_Category = values[5];
            LiabilitiesInfo_Doc_ID = values[6];
            LiabilitiesInfo_AtachmentID = values[7];
            IndexAttachmentID = LiabilitiesInfo_AtachmentID;
            LiabilitiesInfo_MasterRowRecID = values[8];
            LiabilitiesInfo_MasterRowMID = values[9];
            LiabilitiesInfo_NestedRowMapID = values[10];
            LiabilitiesInfo_reason = values[11];
            LiabilitiesInfo_FileName = values[12];
            LiabilitiesInfo_Attachment_RecStatus = values[13];
            LiabilitiesInfo_NestedRowKeyValue = values[14];
            if (Liabilitys_IsVouchingMode == true)
            {
                if (LiabilitiesInfo_FileName != null && LiabilitiesInfo_FileName.length > 0)
                {
                    ViewDocument(LiabilitiesInfo_AtachmentID, LiabilitiesInfo_FileName, "LiabilitiesPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else
                {
                    CloseRightPane();
                    ClearRightPane();
                }
            }
        }
        LiabilitiesInfo_NestedRowReasonID = values[15];
        IndexAttachmentReasonID = LiabilitiesInfo_NestedRowReasonID;
    }
    function LiabilitiesGrid_Nested_BeginCallBack(s, e)
    {
        e.customArgs["ShowHorizontalBar"] = Liab_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = Liabilitys_IsVouchingMode;
        e.customArgs["command"] = e.command;
    }
    function LiabilitiesGrid_DetailRowExpanding(s, e)
    {
        LiabilitiesInfo_IsDetailRowExpanded = true;
        s.SetFocusedRowIndex(e.visibleIndex);
        var pane = Mainspliter.GetPaneByName('RightPane');
        if (Liabilitys_IsVouchingMode == true)
        {
            pane.Expand();
        }
        else
        {
            pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
    }
    function LiabilitiesGrid_DetailRowCollapsing(s, e)
    {
        LiabilitiesInfo_IsDetailRowExpanded = false;
        s.SetFocusedRowIndex(e.visibleIndex);
        if (Liabilitys_IsVouchingMode == true)
        {
            if (Mainspliter.GetPaneByName('RightPane').IsCollapsed() == false)
            {
                CollapsePane(Mainspliter.GetPaneByName('RightPane'), Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
        else
        {
            LiabilitiesPrf_FAB.SetVisible(false);
        }
    }
    </script>
    @*attachment and nested grid*@

</div>