@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Magazine.Models.MagazineList
@{
    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
<style>
    .dx-button-has-text .dx-icon {
        bottom: 0px !important;
    }
    #MaglistCancel {
        float:right;
    } #MaglistCancel.dx-button-has-text .dx-icon {
        bottom: 0px !important;
    }
        #MaglistCancel.dx-button-has-icon .dx-icon {
            height: 18px;
        }
    .dx-item.dx-toolbar-item.dx-toolbar-label {
        max-width: 100% !important;
    }
    .dx-button-has-text .dx-icon {
        line-height: 14px;
    }
    .dx-button-has-icon .dx-button-content {
        padding-right: 6px;
    }
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    .Magazine_height {
        min-height: 43px;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .d-inline-block {
        display: inline-block;
    }

    .radioButtonDiv {
        border: 1px solid #2b94ef;
        padding: 2px 9px;
        max-width: 150px;
        background: #fff;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="maglistdata" class="edit_form">
    @using (Ajax.BeginForm("Frm_Magazine_Window", "MagazineMaster",
                                                            new AjaxOptions
                                                            {
                                                                HttpMethod = "POST",
                                                                UpdateTargetId = "MagListWindow",
                                                                InsertionMode = InsertionMode.InsertAfter,
                                                                OnBegin = "AjaxBeginFormPost",
                                                                OnSuccess = "MagListAjaxSuccessForm"
                                                            },
                                                                 new
                                                                 {
                                                                     id = "validationForm",
                                                                     @class = "edit_form"
                                                                 }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.TempActionMethod)
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.ID)

        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg3">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Magazine</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

            </div><!--[row]-->

            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="form-field">
                        <div class="container-fluid Short_height">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"> @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label text-red" })</div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm pll2">
                                    @(Html.DevExtreme().TextBox()
                                                            .ID("Name")
                                                            .Name("Name")
                                                            .Value(Model.Name)
                                                            .ShowClearButton(true)
                                                            .ReadOnly(IsVisible)
                                                            .Disabled(IsVisible)
                                                            .ValidationError(true)
                                                            .MaxLength(100)
                                    )
                                    @*<input class="dx-texteditor-input" type="text" Placeholder="">*@
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[2]-->
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid Short_height">
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6 pll"> @Html.LabelFor(model => model.ShortName, htmlAttributes: new { @class = "control-label text-red" })</div>
                                <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                    @(Html.DevExtreme().TextBox()
                                                                    .ID("ShortName")
                                                                    .Name("ShortName")
                                                                    .Value(Model.ShortName)
                                                                    .ShowClearButton(true)
                                                                    .ReadOnly(IsVisible)
                                                                    .Disabled(IsVisible)
                                                                    .ValidationError(true)
                                                                    .MaxLength(2)
                                    )
                                    @*<input class="dx-texteditor-input" type="text" Placeholder="Type Short">*@
                                    @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[3]-->

            </div><!--[row1]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid Magazine_height">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Language:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">

                                        @(Html.DevExtreme().SelectBox()
                                                                       .ID("Language")
                                                                       .Name("Language")
                                                                       .DisplayExpr("LangName")
                                                                       .ValueExpr("LangName")
                                                                       .DataSource(d => d.Mvc().Controller("MagazineMaster").LoadAction("LookUp_Get_Language_List").Key("LangName"))
                                                                       .Value(Model.Language)
                                                                       .SearchEnabled(true)
                                                                       .ReadOnly(IsVisible)
                                                                       .Disabled(IsVisible)
                                                                       // .OnValueChanged("LookUp_Language_ChangeEvent")
                                                                       .TabIndex(2)
                                        )
                                        @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid Magazine_height">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Magazine Publish On:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">

                                        @(Html.DevExtreme().SelectBox()
                                                                        .ID("PublishOn")
                                                                        .Name("PublishOn")
                                                                        .DisplayExpr("PublishName")
                                                                        .ValueExpr("PublishName")
                                                                        .DataSource(d => d.Mvc().Controller("MagazineMaster").LoadAction("LookUp_Get_PublishOn_List").Key("PublishName"))
                                                                        .Value(Model.PublishOn)
                                                                        .SearchEnabled(true)
                                                                        .ReadOnly(IsVisible)
                                                                        .Disabled(IsVisible)

                                                // .OnValueChanged("LookUp_Language_ChangeEvent")
                                                //.TabIndex(2)
                                        )
                                        @Html.ValidationMessageFor(model => model.PublishOn, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[2]-->
                </div>
            </div><!--[row]-->
            <div class="row">
                <div class="">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Magazine Regd. No.:</label></div>
                                <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox()
                                                                           .ID("MagazineRegd")
                                                                           .Name("MagazineRegd")
                                                                           .Value(Model.MagazineRegd)
                                                                           .ShowClearButton(true)
                                                                           .ReadOnly(IsVisible)
                                                                           .Disabled(IsVisible)
                                                                           .ValidationError(true)
                                                                           .MaxLength(100)
                                            )
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="Type Magazine Registered No...">*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[row]-->
            <div class="row">
                <div class="">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Postal Regd. No.:</label></div>
                                <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox()
                                                                            .ID("PostalRegdNo")
                                                                            .Name("PostalRegdNo")
                                                                            .Value(Model.PostalRegdNo)
                                                                            .ShowClearButton(true)
                                                                            .ReadOnly(IsVisible)
                                                                            .Disabled(IsVisible)
                                                                            .ValidationError(true)
                                                                            .MaxLength(100)
                                            )
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="Type Postal Registered No...">*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[row]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid Membership_height">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Membership Start No.:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">

                                        @(Html.DevExtreme().TextBox()
                                                                        .ID("MembershipStart")
                                                                        .Name("MembershipStart")
                                                                        .Value(Model.MembershipStart.ToString())
                                                                        .ShowClearButton(true)
                                                                        .ReadOnly(IsVisible)
                                                                        .Disabled(IsVisible)
                                                                        .ValidationError(true)
                                                                        .MaxLength(100)
                                        )
                                        @*<input class="dx-texteditor-input" type="text" Placeholder="Type M.S. Start No...">*@
                                        @Html.ValidationMessageFor(model => model.MembershipStart, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid Membership_height">
                                <div class="row">
                                    <div class="col-sm-4 col-md-7 col-lg-7 pll"><label class="control-label text-red" for="user">Foreign Subscription Applicable:</label></div>
                                    <div class="col-sm-8 col-md-5 col-lg-5 prm">
                                        <div class="radioButtonDiv">
                                            @(Html.DevExtreme().RadioGroup()
.ID("Foreign")
.Name("Foreign")
.DisplayExpr("text")
.Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal)
.ValueExpr("value")
.Value(Model.Foreign)
.DataSource(new object[] {
                                                                                          new { text = "YES", value = "YES" },
                                                                                          new { text = "NO", value = "NO"  },
})
.ReadOnly(IsVisible)
.Disabled(IsVisible)
                                            )
                                            @*<div class="radioButtonDiv">
                                                    <div class="d-inline-block">
                                                        <label class="radio-inline"><input type="radio" name="optradio" checked> Yes</label>
                                                    </div>
                                                    <div class="d-inline-block">
                                                        <label class="radio-inline"><input type="radio" name="optradio"> No</label>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[2]-->
                </div>
            </div><!--[row]-->

            <div class="row">
                <div class="form-field wbg brd-bot-none">
                    <div class="col-sm-8 col-lg-8 col-xs-12">
                        <div class="form-field wbg brd-bot-none brd-none" style="padding-top:0px !important;">
                            <div class="container-fluid">
                                <div class="send_message">
                                    <img src="~/Content/image/send-icon.png" class="madhuban-req" />
                                    Send Your Request to Madhuban
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12" style="padding-right:3px !important;">
                        @*<div class="action-btn-wrap">
                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                    <a href="javascript:void(0);" class="link-txt">
                        <div class="dx-button-content">
                            <i class="fas fa-times-circle btn-icons crossgrey icon-rgt-space5"></i>
                            <span class="dx-button-text">Cancel</span>
                        </div>
                    </a>
                </div>

            </div>

        @*<div class="action-btn-sec-wrap">
                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                    <a href="javascript:void(0);" class="link-txt">
                        <div class="dx-button-content">
                            <i class="fas fa-check-circle btn-icons checkgreen icon-rgt-space5"></i>
                            <span class="dx-button-text">Save</span>
                            <input type="submit" class="dx-button-submit-input">
                        </div>
                    </a>
                </div>

            </div>*@
                        @if (Model.ActionMethod.ToString().Trim() == "_View")
    {
                    @(Html.DevExtreme().Button()
.ID("MaglistCancel")
.Icon(Url.Content("~/Icons/Close button2.png"))
.Text("Close")
.OnClick(@<text>
                        function () {
                        $("#popup_frm_Mag_Window").dxPopup("hide");
                        }
                    </text>)
                    )
}
                        @if (Model.ActionMethod.ToString().Trim() == "_Edit")
    {
                    <div class="action-btn-wrap">
                        @(Html.DevExtreme().Button()
.ID("MaglistEdit")
.Icon(Url.Content("~/Icons/Edit button3.png"))
.Icon("fa fa-check")
.Text("Save")
.FocusStateEnabled(true)

.UseSubmitBehavior(true)
                        )
                    </div>
                    <div class="action-btn-sec-wrap">
                        @(Html.DevExtreme().Button()
.ID("MaglistEditCancel")
.Icon(Url.Content("~/Icons/Close button2.png"))
.Icon("fa fa-times")
.Text("Cancel")
.OnClick(@<text>
                        function () {
                        $("#popup_frm_Mag_Window").dxPopup("hide");
                        }
                    </text>)
                        )
                    </div>
}

                        @if (Model.ActionMethod.ToString().Trim() == "_Delete")
    {
                    @(Html.DevExtreme().Button()
.ID("MaglistDelete")
.Icon(Url.Content("~/Icons/Delete button1.png"))
.Text("Delete")
.FocusStateEnabled(true)

.UseSubmitBehavior(true)
                    )

                    @(Html.DevExtreme().Button()
.ID("MaglistDeleteCancel")
.Icon(Url.Content("~/Icons/Close button2.png"))
.Text("Cancel")
.FocusStateEnabled(true)
.OnClick(@<text>
                        function () {
                        $("#popup_frm_Mag_Window").dxPopup("hide");
                        }
                    </text>)
                    )
}

                        @if (Model.ActionMethod.ToString().Trim() == "_New")
    {
                    <div class="action-btn-sec-wrap">
                        @(Html.DevExtreme().Button()
.ID("MaglistSaveCancel")
.Icon("fas fa-times-circle btn-icons crossgrey icon-rgt-space5")
.Text("Cancel")
.FocusStateEnabled(true)
.OnClick(@<text>
                        function () {
                        $("#popup_frm_Mag_Window").dxPopup("hide");
                        }
                    </text>)
                        )
                    </div>
                    <div class="action-btn-sec-wrap" style="margin-right:5px;">
                        @(Html.DevExtreme().Button()
.ID("MaglistSAve")
.Icon("fas fa-check-circle btn-icons checkgreen icon-rgt-space5")
.Text("Save")
.FocusStateEnabled(true)

.UseSubmitBehavior(true)
                        )
                    </div>
}

                    </div>
                    <div class="clear"></div>
                    </div>
            </div>
        }
    }

</div>


<script>
    $(document).ready(function () {

    });

    $("#MembershipStart").keypress(function (e) {
        debugger;
        e = e || window.event;
        key = e.keyCode || e.which;
        //For Firefox
        if (key == 8 || key == 127 || key == 9)
            return true
        var txt = String.fromCharCode(key);
        var reg = /[0-9.]/;
        if (reg.test(txt))
            return true;
        e.preventDefault();
        return false;

    });
</script>
