@using DevExtreme.AspNet.Mvc;

@model ConnectOneMVC.Areas.Magazine.Models.MagazineMaster
@{
    /**/

    ViewBag.Title = "Index";
    Layout = null;
}
<script>
    var MagazineTabIndex = 1;
    var MagSubTypeId = 0;
    var IsNewPopup = false;
    var IsSucessPopup = false;
    var IsViewPopup = false;
    $(document).ready(function () {
        //$("#CoreModelListPreview").hide();
    });
    function MagTabPanelSelectionChanged(e) {
        debugger
        if (e.addedItems[0].title == "Magazine List") {
            MagazineTabIndex = 1;
        }
        else if (e.addedItems[0].title == "Subscription Types") {
            MagazineTabIndex = 2;
            MagSubTypeId = 1;
            RebindSubscriptionType();
        }
        else if (e.addedItems[0].title == "Subscription Fees") {
            MagazineTabIndex = 3;
            RebindSubscriptionTypeFees();
        }
        else if (e.addedItems[0].title == "Issue Information") {
            MagazineTabIndex = 4;
        }

    }
    //Rebinding Partial Subscription Type
    function RebindSubscriptionType()
    {
        $.ajax({
            url: '@Url.Action("Frm_MagSubType_Tab_Grid", "MagazineMaster")',
            type: "GET",
            data: { Id: ID },
            success: function (res) {
                $("#PartialViewResult").show();
                $("#PartialViewResult").html("");
                $("#PartialViewResult").html(res);             
            }
        });
    }
    //Rebinding Partial Subscription Type

    //Rebinding Partial Subscription Type Fees
   // MagSubTypeId=0 Means Subscription Type tab not Selected , 1 means Already Tab Selected
    function RebindSubscriptionTypeFees() {
        if (MagSubTypeId == 0 || MagSubTypeId == "0") {
            DevExpress.ui.dialog.alert('Please Select Subscription Types Tab', 'Alert ');
            return;
        }
        $.ajax({
            url: '@Url.Action("Frm_MagSubFees_Tab_Grid", "MagazineMaster")',
            type: "GET",
            data: { Id: SubTypeID },
            success: function (res) {
                $("#PartialViewFees").show();
                $("#PartialViewFees").html("");
                $("#PartialViewFees").html(res);
            }
        });
    }
    //Rebinding Partial Subscription Type Fees

    function OnMagazineNewClick() {
        IsNewPopup = true;
        IsViewPopup = false;
        if (MagazineTabIndex == 1)
        {
            $("#popup_frm_Mag_Window").dxPopup("show");
            $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "New ~ Maglist");
            $("#Magazineviewresult").html('');
            ShowLoader();
            $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=New", function () {
                HideLoader();
            });
        }

       else if (MagazineTabIndex == 2)
       {
            $("#popup_frm_Mag_Window").dxPopup("show");
            $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "New ~ Subscription Type");
            $("#Magazineviewresult").html('');
            ShowLoader();
            $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_ST_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "New" + "&MagListID=" + ID, function () {
                HideLoader();
            });
       }
       else if (MagazineTabIndex == 3)
       {
           if (MagSubTypeId == 0 || MagSubTypeId == "0") {
               DevExpress.ui.dialog.alert('Please Select Subscription Types Tab', 'Alert ');
               return;
           }
           $("#popup_frm_Mag_Window").dxPopup("show");
           $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "New ~ Subscription Type Fees");
           $("#Magazineviewresult").html('');
           ShowLoader();
           $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_STF_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "New" + "&SubTypeID=" + SubTypeID, function () {
               HideLoader();
           });
       }
       else if (MagazineTabIndex == 4)
       {
           $("#popup_frm_Mag_Window").dxPopup("show");
           $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "New ~ New Magazine Issue");
           $("#Magazineviewresult").html('');
           ShowLoader();
           $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_Issues_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "New" + "&MagListID=" + ID + "&MagazineName=" + Name, function () {
               HideLoader();
           });
       }
    }


    function OnMagazineEditClick()
    {
        if (MagazineTabIndex == 1)
        {
            if (ID == 'undefined' || ID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }
            IsNewPopup = false;
            IsViewPopup = false;
            $("#popup_frm_Mag_Window").dxPopup("show");
            $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "Edit ~ Maglist");
            $("#Magazineviewresult").html('');
            ShowLoader();
            $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "Edit" + "&ID=" + ID, function () {
                HideLoader();
            });
        }
       else if (MagazineTabIndex == 2)
        {
            if (SubTypeID == 'undefined' || SubTypeID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }
            IsNewPopup = false;
            IsViewPopup = false;
            $("#popup_frm_Mag_Window").dxPopup("show");
            $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "Edit ~ Subscription Type");
            $("#Magazineviewresult").html('');
            ShowLoader();
            $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_ST_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "Edit" + "&MagListID=" + ID + "&Subtypeid=" + SubTypeID, function () {
                HideLoader();
            });
       }
       else if (MagazineTabIndex == 3)
       {
           if (SubFeesID == 'undefined' || SubFeesID == undefined) {
               DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
               return;
           }
           if (MagSubTypeId == 0 || MagSubTypeId == "0") {
               DevExpress.ui.dialog.alert('Please Select Subscription Types Tab', 'Alert ');
               return;
           }
           IsNewPopup = false;
           IsViewPopup = false;
           $("#popup_frm_Mag_Window").dxPopup("show");
           $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "Edit ~ Subscription Type Fee");
           $("#Magazineviewresult").html('');
           ShowLoader();
           $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_STF_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "Edit" + "&SubTypeID=" + SubTypeID + "&SubFeesID=" + SubFeesID, function () {
               HideLoader();
           });
       }
       else if (MagazineTabIndex == 4)
       {
           if (IssueID == 'undefined' || IssueID == undefined) {
               DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
               return;
           }
           IsNewPopup = false;
           IsViewPopup = false;
           $("#popup_frm_Mag_Window").dxPopup("show");
           $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "Edit ~ New Magazine Issue");
           $("#Magazineviewresult").html('');
           ShowLoader();
           $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_Issues_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "Edit" + "&MagListID=" + encodeURIComponent(ID) + "&MagazineName=" + encodeURIComponent(Name) + "&IssueID=" + encodeURIComponent(IssueID) + "&Magazine=" + encodeURIComponent(Magazine) + "&IssueDate=" + encodeURIComponent(IssueDate) + "&PartNo=" + encodeURIComponent(PartNo) + "&VolNo=" + encodeURIComponent(VolNo) + "&IssueNo=" + encodeURIComponent(IssueNo) + "&RegSeed=" + encodeURIComponent(RegSeed) + "&PerCopyWeight=" + encodeURIComponent(PerCopyWeight) + "&BundleMaxFgn=" + encodeURIComponent(BundleMaxFgn) + "&BundleMax=" + encodeURIComponent(BundleMax) + "&PerCopyWeight1=" + encodeURIComponent(PerCopyWeight1) + "&CopiesforAuto=" + encodeURIComponent(CopiesforAuto) + "&CopiesforFgn=" + encodeURIComponent(CopiesforFgn) + "&RegExpval=" + encodeURIComponent(RegExpval) + "&RegFgnExp=" + encodeURIComponent(RegFgnExp), function () {
               HideLoader();
           });
       }
    }

    function OnMagazineDeleteClick() {
        if (MagazineTabIndex == 1) {
            IsNewPopup = false;
            IsViewPopup = false;
            if (ID == 'undefined' || ID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }

            var result = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Delete ~ MagaZine List");
            result.done(function (dialogResult) {
                if (dialogResult) {
                    $("#popup_frm_MagList_Window_Close").dxPopup("hide");

                    $("#popup_frm_Mag_Window").dxPopup("show");
                    $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "Delete ~ Maglist");
                    $("#Magazineviewresult").html('');
                    ShowLoader();
                    $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "Delete" + "&ID=" + ID, function () {
                        HideLoader();
                    });
                }
            });
        }

       else if (MagazineTabIndex == 2) {
            IsNewPopup = false;
            IsViewPopup = false;
            if (SubTypeID == 'undefined' || SubTypeID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }

            var result = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Delete ~ Subscription Type");
            result.done(function (dialogResult) {
                if (dialogResult) {
                    $("#popup_frm_MagList_Window_Close").dxPopup("hide");

                    $("#popup_frm_Mag_Window").dxPopup("show");
                    $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "Delete ~ Subscription Type");
                    $("#Magazineviewresult").html('');
                    ShowLoader();
                    $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_ST_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "Delete" + "&MagListID=" + ID + "&Subtypeid=" + SubTypeID, function () {
                        HideLoader();
                    });
                }
            });
       }

       else if (MagazineTabIndex == 3) {
           IsNewPopup = false;
           IsViewPopup = false;
           if (SubFeesID == 'undefined' || SubFeesID == undefined) {
               DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
               return;
           }
           if (MagSubTypeId == 0 || MagSubTypeId == "0") {
               DevExpress.ui.dialog.alert('Please Select Subscription Types Tab', 'Alert ');
               return;
           }

           var result = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Delete ~ Subscription Type Fee");
           result.done(function (dialogResult) {
               if (dialogResult) {
                   $("#popup_frm_MagList_Window_Close").dxPopup("hide");

                   $("#popup_frm_Mag_Window").dxPopup("show");
                   $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "Delete ~ Subscription Type Fee");
                   $("#Magazineviewresult").html('');
                   ShowLoader();
                   $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_STF_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "Delete" + "&SubTypeID=" + SubTypeID + "&SubFeesID=" + SubFeesID, function () {
                       HideLoader();
                   });
               }
           });
       }
       else if (MagazineTabIndex == 4) {
           IsNewPopup = false;
           IsViewPopup = false;
           if (IssueID == 'undefined' || IssueID == undefined) {
               DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
               return;
           }

           var result = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Delete ~ New Magazine Issue");
           result.done(function (dialogResult) {
               if (dialogResult) {
                   $("#popup_frm_MagList_Window_Close").dxPopup("hide");

                   $("#popup_frm_Mag_Window").dxPopup("show");
                   $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "Delete ~ New Magazine Issue");
                   $("#Magazineviewresult").html('');
                   ShowLoader();
                   $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_Issues_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "Delete" + "&MagListID=" + encodeURIComponent(ID) + "&MagazineName=" + encodeURIComponent(Name) + "&IssueID=" + encodeURIComponent(IssueID) + "&Magazine=" + encodeURIComponent(Magazine) + "&IssueDate=" + encodeURIComponent(IssueDate) + "&PartNo=" + encodeURIComponent(PartNo) + "&VolNo=" + encodeURIComponent(VolNo) + "&IssueNo=" + encodeURIComponent(IssueNo) + "&RegSeed=" + encodeURIComponent(RegSeed) + "&PerCopyWeight=" + encodeURIComponent(PerCopyWeight) + "&BundleMaxFgn=" + encodeURIComponent(BundleMaxFgn) + "&BundleMax=" + encodeURIComponent(BundleMax) + "&PerCopyWeight1=" + encodeURIComponent(PerCopyWeight1) + "&CopiesforAuto=" + encodeURIComponent(CopiesforAuto) + "&CopiesforFgn=" + encodeURIComponent(CopiesforFgn) + "&RegExpval=" + encodeURIComponent(RegExpval) + "&RegFgnExp=" + encodeURIComponent(RegFgnExp), function () {
                       HideLoader();
                   });
               }
           });
       }
    }

    function OnMagazineViewClick() {
        if (MagazineTabIndex == 1) {
            IsNewPopup = false;
            IsViewPopup = false;
            if (ID == 'undefined' || ID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }
            $("#popup_frm_Mag_Window").dxPopup("show");
            $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "View ~ Maglist");
            $("#Magazineviewresult").html('');
            ShowLoader();
            $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "View" + "&ID=" + ID, function () {
                HideLoader();
            });
        }
       else if (MagazineTabIndex == 2) {
            IsNewPopup = false;
            IsViewPopup = false;
            if (SubTypeID == 'undefined' || SubTypeID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }
            $("#popup_frm_Mag_Window").dxPopup("show");
            $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "View ~ Subscription Type");
            $("#Magazineviewresult").html('');
            ShowLoader();
            $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_ST_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "View" + "&MagListID=" + ID + "&Subtypeid=" + SubTypeID, function () {
                HideLoader();
            });
       }
       else if (MagazineTabIndex == 3) {
           IsNewPopup = false;
           IsViewPopup = false;
           if (SubFeesID == 'undefined' || SubFeesID == undefined) {
               DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
               return;
           }
           if (MagSubTypeId == 0 || MagSubTypeId == "0") {
               DevExpress.ui.dialog.alert('Please Select Subscription Types Tab', 'Alert ');
               return;
           }
           $("#popup_frm_Mag_Window").dxPopup("show");
           $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "View ~ Subscription Type Fee");
           $("#Magazineviewresult").html('');
           ShowLoader();
           $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_STF_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "View" + "&SubTypeID=" + SubTypeID + "&SubFeesID=" + SubFeesID, function () {
               HideLoader();
           });
       }
       else if (MagazineTabIndex == 4) {
           IsNewPopup = false;
           IsViewPopup = false;
           if (IssueID == 'undefined' || IssueID == undefined) {
               DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
               return;
           }
           $("#popup_frm_Mag_Window").dxPopup("show");
           $("#popup_frm_Mag_Window").dxPopup("instance").option("title", "View ~ New Magazine Issue");
           $("#Magazineviewresult").html('');
           ShowLoader();
           $("#Magazineviewresult").load("@Url.Action("Frm_Magazine_Issues_Window", "MagazineMaster", new { @area = "Magazine" })?ActionMethod=" + "View" + "&MagListID=" + encodeURIComponent(ID) + "&MagazineName=" + encodeURIComponent(Name) + "&IssueID=" + encodeURIComponent(IssueID) + "&Magazine=" + encodeURIComponent(Magazine) + "&IssueDate=" + encodeURIComponent(IssueDate) + "&PartNo=" + encodeURIComponent(PartNo) + "&VolNo=" + encodeURIComponent(VolNo) + "&IssueNo=" + encodeURIComponent(IssueNo) + "&RegSeed=" + encodeURIComponent(RegSeed) + "&PerCopyWeight=" + encodeURIComponent(PerCopyWeight) + "&BundleMaxFgn=" + encodeURIComponent(BundleMaxFgn) + "&BundleMax=" + encodeURIComponent(BundleMax) + "&PerCopyWeight1=" + encodeURIComponent(PerCopyWeight1) + "&CopiesforAuto=" + encodeURIComponent(CopiesforAuto) + "&CopiesforFgn=" + encodeURIComponent(CopiesforFgn) + "&RegExpval=" + encodeURIComponent(RegExpval) + "&RegFgnExp=" + encodeURIComponent(RegFgnExp), function () {
               HideLoader();
           });
       }
    }

    function OnMagazineUnlockClick()
    {
        if (MagazineTabIndex == 1) {
            DevExpress.ui.dialog.alert('Not Available!!', 'UnLock Magazine ...');
        }
       else if (MagazineTabIndex == 2) {
           DevExpress.ui.dialog.alert('Not Available!!', 'UnLock Magazine Subs type...');
       }
       else if (MagazineTabIndex == 3) {
           DevExpress.ui.dialog.alert('Not Available!!', 'Unlock Magazine Subs type Fee...');
       }
       else if (MagazineTabIndex == 4) {
           DevExpress.ui.dialog.alert('Not Available!!', 'Unlock Magazine Issue...');
       }
    }

    function OnMagazineLockClick() {
        if (MagazineTabIndex == 1) {
            DevExpress.ui.dialog.alert('Not Available!!', 'Lock Magazine ...');
        }
       else if (MagazineTabIndex == 2) {
           DevExpress.ui.dialog.alert('Not Available!!', 'Lock Magazine Subs type ...');
       }
       else if (MagazineTabIndex == 3) {
           DevExpress.ui.dialog.alert('Not Available!!', 'Lock Magazine Subs type Fee...');
       }
       else if (MagazineTabIndex == 4) {
           DevExpress.ui.dialog.alert('Not Available!!', 'Lock Magazine Issue...');
       }
    }

    function OnMagazinePreviewClick() {
        if (MagazineTabIndex == 1) {
            $("#Magazine_report_modal").dxPopup("show");
            $("#Magazine_report_modal").dxPopup("instance").option("title", "Export Option");
            $("#Magazine_report_modal").html('');
            ShowLoader();
            $("#Magazine_report_modal_result").load("@Url.Action("Frm_MagList_Export_Options", "MagazineMaster", new { @area = "Magazine" })", function () {
                HideLoader();
            });
        }
        else if (MagazineTabIndex == 2) {
            $("#Magazine_report_modal").dxPopup("show");
            $("#Magazine_report_modal").dxPopup("instance").option("title", "Export Option");
            $("#Magazine_report_modal").html('');
            ShowLoader();
            $("#Magazine_report_modal_result").load("@Url.Action("Frm_MagSubType_Export_Options", "MagazineMaster", new { @area = "Magazine" })", function () {
                HideLoader();
            });
        }
        else if (MagazineTabIndex == 3) {
            $("#Magazine_report_modal").dxPopup("show");
            $("#Magazine_report_modal").dxPopup("instance").option("title", "Export Option");
            $("#Magazine_report_modal").html('');
            ShowLoader();
            $("#Magazine_report_modal_result").load("@Url.Action("Frm_MagSubFees_Export_Options", "MagazineMaster", new { @area = "Magazine" })", function () {
                HideLoader();
            });
        }
        else if (MagazineTabIndex == 4) {
            $("#Magazine_report_modal").dxPopup("show");
            $("#Magazine_report_modal").dxPopup("instance").option("title", "Export Option");
            $("#Magazine_report_modal").html('');
            ShowLoader();
            $("#Magazine_report_modal_result").load("@Url.Action("Frm_MagIssues_Export_Options", "MagazineMaster", new { @area = "Magazine" })", function () {
                HideLoader();
            });
        }
    }

    function MagListAjaxSuccessForm(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
            //$("#popup_frm_Bank_Window").dxPopup("hide");
            MagListGrid.Refresh();
        }
        else {
            IsSucessPopup = true;
            var SubmitSuccess = DevExpress.ui.dialog.alert(data.Message, "Magazine List");
            $("#popup_frm_Mag_Window").dxPopup("hide");
            MagListGrid.Refresh();
            IsSucessPopup = false;
            SubmitSuccess.done(function (alertResult) {
                if (alertResult) {
                    if (IsNewPopup == true) {
                        var addmoreOBresult = DevExpress.ui.dialog.confirm("Add More Entry...?", "Magazine List");
                        addmoreOBresult.done(function (dialogResult) {
                            if (dialogResult) {
                                OnMagazineNewClick();
                            }
                        });
                    }
                }
            });
        }
    }

    function MagSubTypeAjaxSuccessForm(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
            //$("#popup_frm_Bank_Window").dxPopup("hide");
            RebindSubscriptionType();
        }
        else {
            IsSucessPopup = true;
            var SubmitSuccess = DevExpress.ui.dialog.alert(data.Message, "Magazine Subscription");
            $("#popup_frm_Mag_Window").dxPopup("hide");
            RebindSubscriptionType();
            IsSucessPopup = false;
            SubmitSuccess.done(function (alertResult) {
                if (alertResult) {
                    if (IsNewPopup == true) {
                        var addmoreOBresult = DevExpress.ui.dialog.confirm("Add More Entry...?", "Magazine Subscription");
                        addmoreOBresult.done(function (dialogResult) {
                            if (dialogResult) {
                                OnMagazineNewClick();
                            }
                        });
                    }
                }
            });
        }
    }
    function MagTypeFeesAjaxSuccessForm(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
            //$("#popup_frm_Bank_Window").dxPopup("hide");
            RebindSubscriptionTypeFees();
        }
        else {
            IsSucessPopup = true;
            var SubmitSuccess = DevExpress.ui.dialog.alert(data.Message, "Subscription Type Fee");
            $("#popup_frm_Mag_Window").dxPopup("hide");
            RebindSubscriptionTypeFees();
            IsSucessPopup = false;
            SubmitSuccess.done(function (alertResult) {
                if (alertResult) {
                    if (IsNewPopup == true) {
                        var addmoreOBresult = DevExpress.ui.dialog.confirm("Add More Entry...?", "Subscription Type Fee");
                        addmoreOBresult.done(function (dialogResult) {
                            if (dialogResult) {
                                OnMagazineNewClick();
                            }
                        });
                    }
                }
            });
        }
    }

    function MagIssuesAjaxSuccessForm(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
            //$("#popup_frm_Bank_Window").dxPopup("hide");
            MagIssueGrid.Refresh();
        }
        else {
            IsSucessPopup = true;
            var SubmitSuccess = DevExpress.ui.dialog.alert(data.Message, "Magazine Issue");
            $("#popup_frm_Mag_Window").dxPopup("hide");
            MagIssueGrid.Refresh();
            IsSucessPopup = false;
            SubmitSuccess.done(function (alertResult) {
                if (alertResult) {
                    if (IsNewPopup == true) {
                        var addmoreOBresult = DevExpress.ui.dialog.confirm("Add More Entry...?", "Magazine Issue");
                        addmoreOBresult.done(function (dialogResult) {
                            if (dialogResult) {
                                OnMagazineNewClick();
                            }
                        });
                    }
                }
            });
        }
    }
</script>
<style>
    .report_button_div .dx-button-has-icon .dx-button-content {
        padding-right: 7px !important;
    }
</style>
<div id="content" class="row col-md-12 report_header_div_main">
    <div class="col-md-4 report_header_div">
        <label class="report_header_label">Magazine Masters</label>
    </div>
    @*Buttons*@
    <div class="report_button_div">
        @(Html.DevExtreme().Button()
                       .ID("MagazineUnlock")
                       .Text("Unlock")
                       .Icon("add")
            .Visible(true)
            .Disabled(false)
        .OnClick(@<text>
            function () {
            OnMagazineUnlockClick();
            }
        </text>)
        )

        @(Html.DevExtreme().Button()
                        .ID("MagazineLock")
                        .Text("Lock")
                        .Icon("add")
            .Visible(true)
            .Disabled(false)
            .OnClick(@<text>
                function () {
                OnMagazineLockClick();
                }
            </text>)
        )
        @(Html.DevExtreme().Button().ID("MagzineNew").Text("New").Icon("add").Visible(true)
                                                                                                                   .OnClick(@<text>
                                                                                                                    function () {
                                                                                                                    OnMagazineNewClick();
                                                                                                                    }
                                                                                                                </text>))

        @(Html.DevExtreme().Button().ID("MagazineEdit").Text("Edit").Icon("edit").Visible(true)
                                                                                                                 .OnClick(@<text>
                                                                                                                    function(){
                                                                                                                    OnMagazineEditClick();
                                                                                                                    }
                                                                                                                </text>))

        @(Html.DevExtreme().Button().ID("MagazineDelete").Visible(true).Text("Delete")
                                                                                                                   .OnClick(@<text>
                                                                                                                    function()
                                                                                                                    {OnMagazineDeleteClick();}
                                                                                                                </text>)
        )

        @(Html.DevExtreme().Button()
                                                                                                                            .ID("MagazineView")
                                                                                                                            .Text("View")
                                                                                                                            .Visible(true)
                                                                                                                            .Disabled(false)
                                                                                                                            //  .Icon(IconID.ViewCustomers16x16devav)
                                                                                                                            .Icon("doc")
                                                                                                                            .OnClick(@<text>
                                                                                                                                function () {
                                                                                                                                OnMagazineViewClick();
                                                                                                                                }
                                                                                                                            </text>)
        )

        @(Html.DevExtreme().Button()
                                                                                                                            .ID("MagazineListPreview")
                                                                                                                            .Text("Export")
                                                                                                                            .Icon("save")
                                                                                                                            .Width(75)
                                                                                                                            .OnClick(@<text>
                                                                                                                                function () {
                                                                                                                                OnMagazinePreviewClick();
                                                                                                                                }
                                                                                                                            </text>)
        )
        @(Html.DevExtreme().Button()
                                                                                                                            .ID("MagazineCLOSE")
                                                                                                                            .Text("Close")
                                                                                                                            .Icon("clear")
                                                                                                                            .OnClick(@<text>
                                                                                                                                function (){$(".TabPanalMenu-tabs .active span").click()}
                                                                                                                            </text>)

        )
        <br />
    </div>
</div>
<div class="col-md-12">
    @(Html.DevExtreme().TabPanel()
                        .ID("MagtabPanel")
                        .Items(items =>
                        {
                            items.Add().Title("Magazine List").Template(@<text>
                                @MagListView()
                            </text>);
                                    items.Add().Title("Subscription Types").Template(@<text>
                                        @MagSubTypeView()
                                    </text>);
                                items.Add().Title("Subscription Fees").Template(@<text>
                                        @MagSubFeesView()
                                    </text>);
                                            items.Add().Title("Issue Information").Template(@<text>
                                                @MagIssueView()
                                            </text>);
                                        })

                                        .OnSelectionChanged("MagTabPanelSelectionChanged")
    )

    @helper MagListView()
        {
            if (Model.showMagazineList == null)
            {
                Model.showMagazineList = new List<ConnectOneMVC.Areas.Magazine.Models.MagazineList>();
            }
            @Html.Partial("Frm_MagList_Tab", Model.showMagazineList);
      }
    @helper MagSubTypeView()
        {
            if (Model.showMagazineSubType == null)
            {
                Model.showMagazineSubType = new List<ConnectOneMVC.Areas.Magazine.Models.MagazineSubType>();
            }
            @Html.Partial("Frm_MagSubType_Tab", Model.showMagazineSubType);
      }
    @helper MagSubFeesView()
                {
                if (Model.showMagazineSubFees == null)
                {
                    Model.showMagazineSubFees = new List<ConnectOneMVC.Areas.Magazine.Models.MagazineSubFees>();
                }
                    @Html.Partial("Frm_MagSubFees_Tab", Model.showMagazineSubFees);
        }
            @helper MagIssueView()
                {
            if (Model.showMagazineIssues == null)
            {
                Model.showMagazineIssues = new List<ConnectOneMVC.Areas.Magazine.Models.MagazineIssues>();
            }
                    @Html.Partial("Frm_MagIssue_Tab", Model.showMagazineIssues);
        }
</div>

<div class="col-md-12">
    @*Add/Edit Popup*@


    @(Html.DevExtreme().Popup().CustomPopup().ID("popup_frm_Mag_Window").Title("Connect One").OnShowing("PopupOnShowing").DragEnabled(true).MaxHeight(326).MaxWidth(750)
                .ShowCloseButton(true)
                .ContentTemplate(@<text>
                    <div id="Magazineviewresult">
                    </div>
                </text>))

    @(Html.DevExtreme().Popup().CustomPopup()
                            .ID("Magazine_report_modal")
                            .OnShowing("PopupOnShowing")
                            .Title("Magazine List Preview")
                            .FullScreen(false)
                            .MaxWidth(125)
                            .Height("auto")
                            .ShowCloseButton(true)
                            .ContentTemplate(@<text>
                                <div id="Magazine_report_modal_result">
                                </div>
                            </text>)
    )

</div>



@*@(Html.DevExtreme().Button()
                                                                        .ID("MagazineWindow")
                                                                        .Text("Create Magazine")
                                                                        .Icon("add")
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            OpenDynamicPopup('New ~ Magazine', '/Magazine/MagazineMaster/Frm_Magazine_Window', 284, 920);
                                                                            }
                                                                        </text>)
    )

    @(Html.DevExtreme().Button()
                                                                        .ID("MagazineSubstypeWindow")
                                                                        .Text("Create Magazine Subs Type")
                                                                        .Icon("add")
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            OpenDynamicPopup('New ~ Subscription Type', '/Magazine/MagazineMaster/Frm_Magazine_ST_Window', 296, 740);
                                                                            }
                                                                        </text>)
    )

    @(Html.DevExtreme().Button()
                                                                        .ID("MagazineSubstypeFeeWindow")
                                                                        .Text("Create Magazine Subs Type Fee")
                                                                        .Icon("add")
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            OpenDynamicPopup('New ~ Subscription Type Fee', '/Magazine/MagazineMaster/Frm_Magazine_STF_Window', 257, 700);
                                                                            }
                                                                        </text>)
    )

    @(Html.DevExtreme().Button()
                                                                        .ID("MagazineIssueWindow")
                                                                        .Text("Create Magazine Issue")
                                                                        .Icon("add")
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            OpenDynamicPopup('New ~ Magazine', '/Magazine/MagazineMaster/Frm_Magazine_Issues_Window', 282, 920);
                                                                            }
                                                                        </text>)
    )*@

