@using DevExtreme.AspNet.Mvc
@model ConnectOneMVC.Areas.Magazine.Models.MagazineReciptReginfo
<div id="Frm_xPromptWindow_Content">
    @using (Ajax.BeginForm("xPromptWindow", "Magazine",
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "Frm_xPromptWindow_Content",
            InsertionMode = InsertionMode.InsertAfter,
            OnBegin = "AjaxBeginFormPost",
            OnSuccess = "TelephoneAjaxSuccessForm"
        },
        new
        {
            id = "IDxPromptWindowvalidationForm",
            @class = "edit_form"
        }))
    {
        @* @Html.AntiForgeryToken()
            @Html.Hidden(Model.Txt_Name)
            @Html.Hidden(Model.Txt_R_Add1)
            @Html.Hidden(Model.Txt_R_Add2)
            @Html.Hidden(Model.Txt_R_Add3)
            @Html.Hidden(Model.Txt_R_Add4)
            @Html.Hidden(Model.PC_City_Name)
                @Html.Hidden(Model.Txt_R_Other_City)
                @Html.Hidden(Model.GLookUp_RStateList)
                @Html.Hidden(Model.GLookUp_RDistrictList)
                @Html.Hidden(Model.GLookUp_RCountryList);
                @Html.Hidden(Model.Txt_Remark1)
                @Html.Hidden(Model.Txt_Remark2)*@

        using (Html.DevExtreme().ValidationGroup())
        {
            <div>
                @(Model.PromptMsg)
            </div>
            <div>
                @(Html.DevExtreme().Button().ID("Id_Save").Text("Save").Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                                                                                                   .FocusStateEnabled(true)
                                                                                                   .TabIndex(6)
                                                //.UseSubmitBehavior(true)
                                                .OnClick(@<text> function(){ toSaveRecord("@Model.xID","@Model.org_RegId","@Model.TempActionMethod") } </text>)
                )
                @(Html.DevExtreme().Button().ID("Cancel").Text("Cancel").OnClick(@<text> <div id="id_CancelButton"></div> </text>))
            </div>
        }
    }

</div>