<div class="Voucher_SpecificPeriodStatements_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Statements.Models.Smt_Period

    @{
        /**/
        bool SingleDateSelection = (bool)ViewBag.SingleDateSelection;
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
    }


    <link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
    <div>
        @using (Ajax.BeginForm("GetSpecificPeriod", "PrintableStatements",
               new AjaxOptions
               {
                   HttpMethod = "POST",
                   InsertionMode = InsertionMode.InsertAfter,
                   OnBegin = "AjaxBeginFormPost",
                   OnSuccess = "Frm_Change_Period_Success_Smt"
               },
                new
                {
                    id = "id_Frm_Change_Period_Screen_Smt",
                    @class = "edit_form"
                }))
        {
            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid ">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label  text-red" for="Name">From:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm">

                                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("Smt_Fromdate").Name("Smt_Fromdate").Value(Model.Smt_Fromdate).InvalidDateMessage("Value must be a Date!!").TabIndex(1).ReadOnly(SingleDateSelection).Placeholder("Choose Date"))
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="container-fluid ">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label  text-red" for="Name">To:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm">

                                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("Smt_Todate").Name("Smt_Todate").Value(Model.Smt_Todate).InvalidDateMessage("Value must be a Date!!").TabIndex(2).Placeholder("Choose Date") )
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().ID("Smt_ChangePeriod").Text("Ok").Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen").FocusStateEnabled(true).TabIndex(3).UseSubmitBehavior(true) )
                        @(Html.DevExtreme().Button().ID("Smt_ChangePeriodCancel").Text("Cancel").Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey").FocusStateEnabled(true).TabIndex(4).OnClick(@<text> function () { closePeriodPopup(); } </text>) )

                    </div>
                </div><!--[button]-->
            }
        }
    </div>
    <script>
    function closePeriodPopup()
    {
        $("#Popup_speceficPeriod").dxPopup("hide");
        if ("@SingleDateSelection" == "True")
        {
            $("#StatementPeriodPopup").dxPopup("hide");
        }
    }
    </script>
</div>




