<div class="TdsRegister_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @{

    }
    <div id="TdsRegister_ParentDiv">
        <div id="contentTdsRegister" class="report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">TDS Register</label>
            </div>
            <div class="report_button_div">
                @(Html.DevExtreme().Button().ID("TdsRegisterToggleScrollBar").Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data").Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90).Icon("toolbox") .OnClick(@<text> function () { TdsRegisterchangeMode(); } </text>)        )
                @(Html.DevExtreme().Button().ID("TdsRegisterListPreview") .Text("Export") .Icon("save").Width(80) .OnClick(@<text> function () { TdsRegisterPreviewClick(); } </text>)        )
                @(Html.DevExtreme().Button().ID("TdsRegisterCLOSE") .Text("Close") .Icon("clear").OnClick("TdsRegister_close")        )
            </div>
        </div>
        <div id="TdsRegisterPartialView" class="parent_table">
            <form>
                @Html.Partial("Frm_Tds_Register_Grid")
            </form>
        </div>
    </div>
    @*Javascript Events*@
<script>
    var TdsRegister_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var TdsRegisterGrid;
    function TdsRegister_close() { $(".TabPanalMenu-tabs .active span").click()}
    function TdsRegisterPreviewClick()
    {      
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Account/TDSRegister/Frm_Export_Options",
            data:
            {       
            },
            cache: false,
            success: function (data)
            {
                HideLoader();
                OpenPopup("report_export_modal", "Export Option", null, "auto", 120, true, data);
            }
        });
    }
    function TdsRegisterchangeMode()
    {
        TdsRegisterGrid.beginUpdate();
        if (TdsRegister_ShowHorizontalBar == 0) {
            TdsRegister_ShowHorizontalBar = 1;
            $("#TdsRegisterToggleScrollBar").find("span").text("Default Data");
            $("#TdsRegisterToggleScrollBar").width(110);
            TdsRegisterGrid.option("columnHidingEnabled", false);
            TdsRegisterGrid.option("allowColumnResizing", true)
        }
        else {
            TdsRegister_ShowHorizontalBar = 0;
            $("#TdsRegisterToggleScrollBar").find("span").text("Full Data");
            $("#TdsRegisterToggleScrollBar").width(90);
            TdsRegisterGrid.option("columnHidingEnabled", true)
            TdsRegisterGrid.option("allowColumnResizing", false)
        }
        TdsRegisterGrid.endUpdate();
    }

    function TdsRegister_OnInitialized(e)
    {
        DxGrid_AdjustSize(e.component, $("#TdsRegister_ParentDiv .report_button_div"),null)
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            DxGrid_AdjustSize(e.component, $("#TdsRegister_ParentDiv .report_button_div"), null, evt)
        });
        TdsRegisterGrid = e.component;
    }
    function TdsRegister_OnContentReady(e)
    {
        DxGrid_OnContentReady(e, TdsRegister_ShowHorizontalBar);
        DxGrid_RowSelectionTobeCheckedAfterAnyAction(e)
    }
    function TdsRegister_ContextMenuPreparing(e)
    {
        if (!e.items) e.items = [];
        if (e.target == "header")
        {
            DxGrid_HeaderContextMenu(e)
        }
        else if ((e.target == "content" && e.row && e.row.rowType == "groupFooter") || e.target == "footer")
        {
            DxGrid_FooterContextMenu(e);
        }
        else if (e.target == "content" && e.row && (e.row.rowType == "data" || e.row.rowType == "detailAdaptive"))
        {
            e.items = [
                {
                    text: "Export",
                    icon: "fa-solid fa-file-export text-warning",
                    visible: true,
                    onItemClick: function ()
                    {
                        TdsRegisterPreviewClick();
                    }
                },
                {
                    text: "Close",
                    icon: "fa-solid fa-rectangle-xmark text-danger",
                    beginGroup: true,
                    onItemClick: function ()
                    {
                        TdsRegister_close()
                    }
                },
                {
                    text: "Refresh",
                    icon: "fa-solid fa-arrow-rotate-right text-success",
                    beginGroup: true,
                    onItemClick: function ()
                    {
                        RefreshGridView("TdsRegisterGrid");
                    }
                }
            ]
        }
        else if (e.target == "content" && e.row == void 0) {
            e.items = [
                {
                    text: "Close",
                    icon: "fa-solid fa-rectangle-xmark text-danger",
                    beginGroup: true,
                    onItemClick: function () {
                        TdsRegister_close()
                    }
                },
                {
                    text: "Refresh",
                    icon: "fa-solid fa-arrow-rotate-right text-success",
                    beginGroup: true,
                    onItemClick: function () {
                        RefreshGridView("TdsRegisterGrid");
                    }
                }
            ]
        }
    }

    $(document).ready(function ()
    {      
    });
    $(".TabPanalMenu-tabs .active span").on("click", function ()
    {
        ClearAllReferences_TdsRegister();
    });
    function ClearAllReferences_TdsRegister()
    {
        ClearAllReferences("TdsRegister_ClearReferences");
    }

</script>
</div>
