<div class="AddressBookWindowMini_ClearReferences">
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.Address_Book_ViewModel

@{
    var next_Unaudited_YearID = (int)ViewBag.next_Unaudited_YearID;
}

<style>
    .control-label {
        text-align: left !important;
    }

</style>

<div id="AddressInfoWindow_Mini">
    @using (Ajax.BeginForm("Frm_Address_Info_Window", "Facility",
                                                new AjaxOptions
                                                {
                                                    HttpMethod = "POST",
                                                    UpdateTargetId = "AddressInfoWindow_Mini",
                                                    InsertionMode = InsertionMode.InsertAfter,
                                                    OnBegin = "AjaxBeginFormPost",
                                                    OnSuccess = String.Format("{0}", Model.PostSuccessFunction)
                                                },
                                        new
                                        {
                                            id = "AddressBookForm_Mini",
                                            @class = "edit_form form-horizontal"
                                        }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.TempActionMethod)
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.Rec_ID)
        @Html.HiddenFor(x => x.LastEditedOn)
        @Html.HiddenFor(x => x.Info_LastEditedOn)
        @Html.HiddenFor(x => x.Org_RecID)
        @Html.HiddenFor(x => x.PostSuccessFunction)
        @Html.HiddenFor(x => x.PopUpId)
        @Html.HiddenFor(x => x.Party_DataGridID)
        @Html.HiddenFor(x => x.NewFunctionName)
        @Html.HiddenFor(x => x.DropDownFunctionName)
        @Html.HiddenFor(x => x.Replicate_Confirm)
        @Html.HiddenFor(x => x.New_Confirm)
        @Html.HiddenFor(x => x.Edit_Confirm)
        @Html.HiddenFor(x => x.Look_CategoryList_AB)
        @Html.HiddenFor(x => x.Rad_Acc_Party_AB)
        using (Html.DevExtreme().ValidationGroup("AddressBookMiniValidator"))

        {
            <div class="full-width-header-bg3">
                <div class="row">
                    <div class="col-xs-4 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i><span class="popupheadTitle">Contact </span></h3>
                    </div>
                    <div class="col-sm-8 prl">
                        <div id="div-lbl-contact" class="popuphead"><span id="Lbl_ContactName_AB_Mini"></span></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-field">
                        @Html.LabelFor(model => model.Txt_Name_AB, htmlAttributes: new { @class = "control-label text-red" })
                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Name_AB").Name("Txt_Name_AB").Placeholder("Firstname   Middlename   Lastname").Value(Model.Txt_Name_AB).OnValueChanged("Txt_Name_AB_ValueChange_Mini").MaxLength(250) )
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-field">
                        @Html.LabelFor(model => model.Txt_OrgName_AB, htmlAttributes: new { @class = "control-label" })
                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_OrgName_AB").Name("Txt_OrgName_AB").Placeholder("Type Organization..."))

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-field">
                        <label class="control-label">Mobile No.</label>
                        @(Html.DevExtreme().TextBox().Mode(TextBoxMode.Tel).InputAttr("class", "CleanTextForDB OnlyDigit")
                                            .ID("Txt_Mob_1_AB")
                                            .Name("Txt_Mob_1_AB")
                                            .Placeholder("Type Mobile No...")
                                            .Value(Model.Txt_Mob_1_AB)
                                            .MaxLength(11)
                                                 .OnFocusOut("Txt_Mob_1_AB_FocusOut_Mini")
                            )
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="form-field">
                        <label class="control-label">Email ID</label>

                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_Email1_AB")
                                            .Name("Txt_Email1_AB")
                                            .Placeholder("Type Email ID (1.Primary)...")
                                            .Value(Model.Txt_Email1_AB)
                                            .Mode(TextBoxMode.Email)
                                            .MaxLength(100)
                                            .OnFocusOut("Txt_Email1_AB_FocusOut_Mini")
                            )
                    </div>
                </div>
            </div>
            <div class="row">    
                <div class="col-xs-12">                           
                    <div class="styleActionBtn">                               
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("AddressMiniSave").Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(false).Visible(Model.TempActionMethod == "_View" ? false : true).OnClick("AB_SaveClick_Mini") )                              
                        @(Html.DevExtreme().Button().CustomCloseButton().ID("AddressMiniCancel").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").OnClick(@<text> function () { close_AddressBook_Mini(); } </text>) )                          
                          
                    </div>
                </div>      
            </div>              

        }
    }
</div>  
    <script>
        function Txt_Name_AB_ValueChange_Mini(e)
        {
            var Name = e.value??"";  
            try
            {
                $("#Lbl_ContactName_AB_Mini").text(Name);
            }
            catch
            {
                $("#Lbl_ContactName_AB_Mini").text("");
            }
        }
        function Txt_Email1_AB_FocusOut_Mini(e)
        {
            if (e.component.option("value") != null) {
                e.component.option("value", (e.component.option("value")).toLowerCase());
            }
        }
        function Txt_Mob_1_AB_FocusOut_Mini(e)
        {           
            //var mob = e.component.option("value") ?? "";
            //if (mob.length == 10 && mob.startsWith("0") == false)
            //{
            //    mob = "0" + mob;
            //    e.component.option("value",mob);
            //}
        }
        function PhoneNumberValidators_AddressBook_Mini() {
            $("#Txt_Mob_1_AB").dxTextBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'stringLength',
                        min: 10,
                        max: 11,
                        ignoreEmptyValue: true,
                        trim: true,
                        message: '* Invalid Number...',
                    }],
                    validationGroup: "AddressBookMiniValidator"
                })
        }
    </script>
<script>
    var ActionMethod_AB_Mini = "@Model.ActionMethod";
    function AjaxSuccessAddressBook_Mini(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            if (data.jsonParam.isconfirm == true)
            {
                var confirm = DevExpress.ui.dialog.confirm(data.jsonParam.message, data.jsonParam.title);
                confirm.done(function (dialogResult)
                {
                    if (dialogResult)
                    {
                        if (ActionMethod_AB_Mini == "_New")
                        {
                            $("#New_Confirm").val(true);
                        }
                        else if (ActionMethod_AB_Mini == "_Edit")
                        {
                            $("#Edit_Confirm").val(true);
                        }
                        $("#AddressBookForm_Mini").submit();
                    }
                });
            }
            else
            {
                var alert = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alert.done(function (dialogResult)
                {
                    if (data.jsonParam.focusid != null)
                    {
                        if (dialogResult)
                        {
                            var id = "#" + data.jsonParam.focusid;
                            setTimeout(function ()
                            {
                                $(id).find('input').focus();
                            }, Timeout100);
                        }
                    }
                });
            }
        }
        else
        {
            var result = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            result.done(function ()
            {
                if ("@Model.ActionMethod" == "_New" && "@Model.DropDownFunctionName".length == 0 && "@Model.Party_DataGridID".length == 0)
                {
                    var addmoreAddressbookresult = DevExpress.ui.dialog.confirm("Add More Entry...?", "Addressbook");
                    addmoreAddressbookresult.done(function (dialogResult)
                    {
                        if (dialogResult)
                        {
                            var fn = window["@Model.NewFunctionName"];
                            if (typeof fn == "function")
                            {
                                fn();
                            }
                        }
                    });
                }
                AB_ClosePopUP_Mini(data.xid);
            });
        }
    }
    async function AB_ClosePopUP_Mini(Xid="")
    {
        var _ActiveTab_ID = $(".TabPanalMenu-tabs .active").attr("id");
        if ($("#AddressListGrid").length == 0 || AllOpenControlTabs.includes("Frm_Address_Info"))
        {
            if ("@Model.DropDownFunctionName".length > 0)
            {
                var fn = window["@Model.DropDownFunctionName"];
                if (typeof fn == "function")
                {
                    if ("@Model.DropDownFunctionName" == "LookUp_GetPartyList_PaymentItem" || "@Model.DropDownFunctionName" == "RefreshAdmin_ServiceProject")
                    {
                        if (Xid.length > 0)
                        {
                            fn(Xid);
                        }
                        else
                        {
                            fn();
                        }
                    }
                    else
                    {
                        fn();
                    }
                    if (typeof AddressListGrid !== "undefined" && ASPxClientUtils.IsExists(AddressListGrid) && AddressListGrid.GetMainElement()) {
                        AddressListGrid.Refresh();
                    }
                    close_AddressBook_Mini();
                }
            }
            else if ("@Model.Party_DataGridID".length > 0)
            {
                var DatagridID = "#" + "@Model.Party_DataGridID";
                await $(DatagridID).dxDataGrid("instance").refresh();
                if (typeof AddressListGrid !== "undefined" && ASPxClientUtils.IsExists(AddressListGrid) && AddressListGrid.GetMainElement())
                {
                    AddressListGrid.Refresh();
                }
                close_AddressBook_Mini();
            }
            else
            {
                RefreshGridView("AddressListGrid")
                close_AddressBook_Mini();
            }
        }
        else
        {
            RefreshGridView("AddressListGrid")
            close_AddressBook_Mini();
        }
    }
    function close_AddressBook_Mini()
    {
        var popupid = "#" + "@Model.PopUpId";
        $(popupid).dxPopup("hide");
    }
</script>
<script>
    async function LookUp_GetConModeList() {
        $.ajax({
            type: 'GET',
            url: "/Facility/AddressBook/RefreshConModeList",
            cache: false,
            async: false,
            success: function (data) {
                $("#Look_ConModeList_AB").dxSelectBox("instance").getDataSource().reload();
            }
        });
    }
    function STRNotextBox_valueChanged(e)
    {      
        var STRNo = $("#Txt_STR_AB").dxTextBox("instance");    
        if (e.value != null && e.value != "          ST001")
        {          
            STRNo.option("value", STRNo.option("value").toUpperCase());
        }
        if (STRNo.option("value") =="          ST001")
        {           
            STRNo.reset();
        }       
    }
    function PANtextBox_valueChanged(e)
    {
        var pan = $("#Txt_PAN_No_AB").dxTextBox("instance");
        if (e.value != null)
        {          
            pan.option("value", pan.option("value").toUpperCase());
        }       
    }
    function Gst_ValueChanged(e)
    { 
        var gst = $("#GST_TIN").dxTextBox("instance");
        if (e.value != null && e.value != "             Z")
        {           
            gst.option("value", gst.option("value").toUpperCase());
        }      
        if (gst.option("value") === "             Z") {
            gst.reset();
        }          
    }

    function TANtextBox_valueChanged(data) {
        var tan = $("#Txt_TAN_AB").dxTextBox("instance");
        tan.option("value", tan.option("value").toUpperCase());
    }
    function TxtLostFocus_AB(e) {
        if (e.component.option("value") != null) {
            e.component.option("value", (e.component.option("value")).toLowerCase());
        }
    }
</script>
<script>

    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        TransformTextForDB("AddressBookForm_Mini");
        if ("@Model.DropDownFunctionName" == "refreshCoordinator_GSR")
        {
            $("#Look_CategoryList_AB").val("FACULTY")
            $("#AddressInfoWindow_Mini .popuphead .popupheadTitle").text("FACULTY")
        }
        else if ("@Model.DropDownFunctionName" == "refreshOrganiser_GSR")
        {
            $("#Look_CategoryList_AB").val("EVENT ORGANIZER")
            $("#AddressInfoWindow_Mini .popuphead .popupheadTitle").text("EVENT ORGANIZER")
        }
        $("#Rad_Acc_Party_AB").val("0")
        PhoneNumberValidators_AddressBook_Mini();
        $("#Txt_Name_AB").dxTextBox("instance").focus();
        HideLoader_Ready();
    });
</script>
<script>
    function AB_SaveClick_Mini(e)
    {
        var result = e.validationGroup.validate();
        if (result.isValid) {
            if (ActionMethod_AB_Mini == "_Delete") {
                var confirm = DevExpress.ui.dialog.confirm("Sure You Want To Delete This Entry...?", "Confirm");
                confirm.done(function (result) {
                    if (result) {
                        $("#AddressBookForm_Mini").submit();
                    }
                });
            }
            else {
                if (ActionMethod_AB_Mini == "_Edit")
                {
                    if (parseInt("@next_Unaudited_YearID") != 0)
                    {
                        var confirm = DevExpress.ui.dialog.confirm("Do You Want To Make Same Changes In This Contact in Year " + "@next_Unaudited_YearID".substring(0, 2) + "-" + "@next_Unaudited_YearID".substring(2) + " too?", "Confirm");
                        confirm.done(function (result)
                        {
                            if (result)
                            {
                                $("#Replicate_Confirm").val(true);
                                $("#AddressBookForm_Mini").submit();
                            }
                            else
                            {
                                $("#Replicate_Confirm").val(false);
                                $("#AddressBookForm_Mini").submit();
                            }
                        });
                    }
                    else
                    {
                        $("#AddressBookForm_Mini").submit();
                    }
                }
                else {
                    $("#AddressBookForm_Mini").submit();
                }
            }
        }
    }
</script>
    </div>