@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.Address_Book_ViewModel
<style>
    .form-horizontal .basic-tab .form-group {
        margin-left: 0;
        margin-right: 0;
    }
</style>
<div class="basic-tab">
    @*<div class="form-horizontal" style="padding:0px !important;">*@
    <div class="row">

        <div class="form-group">
            <div class="col-sm-7 col-md-7 col-lg-7">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 plm">
                                @Html.LabelFor(model => model.Txt_R_Tel_1_AB, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 plm Tab2_AB">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_R_Tel_1_AB").Name("Txt_R_Tel_1_AB").Placeholder("Type Resi Tel.No.1...").Value(Model.Txt_R_Tel_1_AB).MaxLength(11) )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab2_AB">
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                            .ID("Txt_R_Tel_2_AB")
                                            .Name("Txt_R_Tel_2_AB")
                                            .Placeholder("Type Resi Tel.No.2...")
                                            .Value(Model.Txt_R_Tel_2_AB)
                                            .MaxLength(11)
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 plm">
                            @Html.LabelFor(model => model.Txt_R_Fax_1_AB, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm plm Tab2_AB">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_R_Fax_1_AB").Name("Txt_R_Fax_1_AB").Placeholder("Type Resi Fax.No.1...").Value(Model.Txt_R_Fax_1_AB).MaxLength(11) )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="form-field">
                <div class="container-fluid plm prm Tab2_AB">
                    @(Html.DevExtreme().TextBox().CustomTextBox()
                                            .ID("Txt_R_Fax_2_AB")
                                            .Name("Txt_R_Fax_2_AB")
                                            .Placeholder("Type Resi Fax.No.2...")
                                            .Value(Model.Txt_R_Fax_2_AB)
                                            .MaxLength(11)
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 plm">
                            @Html.LabelFor(model => model.Txt_O_Tel_1_AB, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm plm Tab2_AB">

                            @(Html.DevExtreme().TextBox().CustomTextBox()
                                            .ID("Txt_O_Tel_1_AB")
                                            .Name("Txt_O_Tel_1_AB")
                                            .Placeholder("Type Office Tel.No.1...")
                                            .Value(Model.Txt_O_Tel_1_AB)
                                            .MaxLength(11)
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="form-field">
                <div class="container-fluid plm prm Tab2_AB">
                    @(Html.DevExtreme().TextBox().CustomTextBox()
                                            .ID("Txt_O_Tel_2_AB")
                                            .Name("Txt_O_Tel_2_AB")
                                            .Placeholder("Type Office Tel.No.2...")
                                            .Value(Model.Txt_O_Tel_2_AB)
                                            .MaxLength(11)
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 plm">
                            @Html.LabelFor(model => model.Txt_O_Fax_1_AB, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm plm Tab2_AB">
                            @(Html.DevExtreme().TextBox().CustomTextBox()
                                            .ID("Txt_O_Fax_1_AB")
                                            .Name("Txt_O_Fax_1_AB")
                                            .Placeholder("Type Office Fax.No.1...")
                                            .Value(Model.Txt_O_Fax_1_AB)
                                            .MaxLength(11)
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="form-field">
                <div class="container-fluid plm prm Tab2_AB">
                    @(Html.DevExtreme().TextBox().CustomTextBox()
                                            .ID("Txt_O_Fax_2_AB")
                                            .Name("Txt_O_Fax_2_AB")
                                            .Placeholder("Type Office Fax.No.2...")
                                            .Value(Model.Txt_O_Fax_2_AB)
                                            .MaxLength(11)
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 plm">
                            @Html.LabelFor(model => model.Txt_Mob_1_AB, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm plm Tab2_AB">
                            @(Html.DevExtreme().TextBox().CustomTextBox()
                                            .ID("Txt_Mob_1_AB")
                                            .Name("Txt_Mob_1_AB")
                                            .Placeholder("Type Mobile No.1...")
                                            .Value(Model.Txt_Mob_1_AB)
                                            .MaxLength(11)
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="form-field">
                <div class="container-fluid plm prm Tab2_AB">
                    @(Html.DevExtreme().TextBox().CustomTextBox()
                                            .ID("Txt_Mob_2_AB")
                                            .Name("Txt_Mob_2_AB")
                                            .Placeholder("Type Mobile No.2...")
                                            .Value(Model.Txt_Mob_2_AB)
                                            .MaxLength(11)
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-7 col-md-7 col-lg-7">

            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 plm">
                            @Html.LabelFor(model => model.Txt_Email1_AB, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 prm plm Tab2_AB">
                            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_Email1_AB")
                                            .Name("Txt_Email1_AB")
                                            .Placeholder("Type Email ID (1.Primary)...")
                                            .Value(Model.Txt_Email1_AB)
                                            .Mode(TextBoxMode.Email)
                                            .MaxLength(100)
                                            .OnFocusOut("TxtLostFocus_AB")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="form-field">
                <div class="container-fluid plm prm Tab2_AB">
                    @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_Email2_AB")
                                            .Name("Txt_Email2_AB")
                                            .Placeholder("Type Email ID (2.Secondary)...")
                                            .Value(Model.Txt_Email2_AB)
                                                           .Mode(TextBoxMode.Email)
                                            .MaxLength(100)
                                              .OnFocusOut("TxtLostFocus_AB")
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-field">
            <div class="container-fluid plm prm">
                <div class="col-sm-2-resize-one">
                    @Html.Label("Website", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-10-resize-one Tab2_AB">
                    @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_Website_AB")
                                            .Name("Txt_Website_AB")
                                            .Placeholder("Type Website Address...")
                                            .Value(Model.Txt_Website_AB)
                                            .MaxLength(100)
                                              .OnFocusOut("TxtLostFocus_AB")
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-field">
            <div class="container-fluid plm prm">
                <div class="col-sm-2-resize-one">
                    @Html.LabelFor(model => model.Txt_Skype_AB, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-10-resize-one Tab2_AB">
                    @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_Skype_AB")
                                            .Name("Txt_Skype_AB")
                                            .Placeholder("Type Skype ID...")
                                            .Value(Model.Txt_Skype_AB)
                                            .MaxLength(250)
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-field">
            <div class="container-fluid plm prm">
                <div class="col-sm-2-resize-one">
                    @Html.LabelFor(model => model.Txt_Facebook_AB, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-10-resize-one Tab2_AB">
                    @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_Facebook_AB")
                                            .Name("Txt_Facebook_AB")
                                            .Placeholder("Type FaceBook ID...")
                                            .Value(Model.Txt_Facebook_AB)
                                            .MaxLength(250)
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-field">
            <div class="container-fluid plm prm">
                <div class="col-sm-2-resize-one">
                    @Html.LabelFor(model => model.Txt_Twitter_AB, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-10-resize-one Tab2_AB">
                    @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_Twitter_AB")
                                            .Name("Txt_Twitter_AB")
                                            .Placeholder("Type Twitter ID...")
                                            .Value(Model.Txt_Twitter_AB)
                                            .MaxLength(250)
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-field">
            <div class="container-fluid plm prm">
                <div class="col-sm-2-resize-one">
                    @Html.LabelFor(model => model.Txt_GTalk_AB, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-10-resize-one Tab2_AB">
                    @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                            .ID("Txt_GTalk_AB")
                                            .Name("Txt_GTalk_AB")
                                            .Placeholder("Type Google talk ID...")
                                            .Value(Model.Txt_GTalk_AB)
                                            .MaxLength(250)

                    )
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Contact)...", Model.TempActionMethod.ToString().Substring(1)))
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <label style="color:red"><i class="fas fa-info-circle"></i> Red Fields are mandatory</label>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("AddressContactEdit").Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(false).Visible(Model.TempActionMethod == "_View" ? false : true).OnClick("AB_SaveClick") )

                        @(Html.DevExtreme().Button().CustomCloseButton().ID("AddressContactCancel").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").OnClick(@<text> function () { close_AddressBook(); } </text>) )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>    
        $(function ()
        {
            $("#Txt_R_Tel_1_AB, #Txt_R_Tel_2_AB, #Txt_R_Fax_1_AB, #Txt_R_Fax_2_AB, #Txt_O_Tel_1_AB, #Txt_O_Tel_2_AB, #Txt_O_Fax_1_AB, #Txt_O_Fax_2_AB, #Txt_Mob_1_AB, #Txt_Mob_2_AB").bind("input", function (e)
            {
                var $target = $(e.target);
                setTimeout(function () {
                    var data = $target.val();
                    var dataFull = data.replace(/[^0-9\/]/gi, '');
                    $target.val(dataFull);
                });
                //e = e || window.event;
                //key = e.keyCode || e.which;
                ////For Firefox
                //if (key == 8 || key == 127 || key == 9)
                //    return true
                //var txt = String.fromCharCode(key);
                //var reg = /[0-9]/;
                //if (reg.test(txt))
                //    return true;

                //e.preventDefault();
                //return false;
            });
            PhoneNumberValidators_AddressBook();
        });
        function PhoneNumberValidators_AddressBook()
        {
            $("#Txt_R_Tel_1_AB, #Txt_R_Tel_2_AB, #Txt_R_Fax_1_AB, #Txt_R_Fax_2_AB, #Txt_O_Tel_1_AB, #Txt_O_Tel_2_AB, #Txt_O_Fax_1_AB, #Txt_O_Fax_2_AB, #Txt_Mob_1_AB, #Txt_Mob_2_AB").dxTextBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'stringLength',
                        min: 10,
                        max: 11,
                        ignoreEmptyValue: true,
                        trim: true,
                        message: '* Invalid Number...',
                    }],
                    validationGroup: "AddressBookValidator"
                })
        }
      //  $(function ()
      //  {
      //      var Txt_R_Tel_1_AB = $("#Txt_R_Tel_1_AB").dxTextBox("instance");
      //      Txt_R_Tel_1_AB.option
      //          ({
      //              "mask": 'NNNNNNNNNNN',
      //              "maskRules":
      //              {                       
      //                  'N': /[0-9]/
      //              },
      //              "maskInvalidMessage": "* Invalid Telephone No..."
      //          });
      //      Txt_R_Tel_1_AB.option("isValid", true);
      //      var Txt_R_Tel_2_AB = $("#Txt_R_Tel_2_AB").dxTextBox("instance");
      //      Txt_R_Tel_2_AB.option
      //          ({
      //              "mask": 'NNNNNNNNNNN',
      //              "maskRules":
      //              {
      //                  'N': /[0-9]/
      //              },
      //              "maskInvalidMessage": "* Invalid Telephone No..."
      //          });
      //      Txt_R_Tel_2_AB.option("isValid", true);


      //      var Txt_R_Fax_1_AB = $("#Txt_R_Fax_1_AB").dxTextBox("instance");
      //      Txt_R_Fax_1_AB.option
      //          ({
      //              "mask": 'NNNNNNNNNNN',
      //              "maskRules":
      //              {
      //                  'N': /[0-9]/
      //              },
      //              "maskInvalidMessage": "* Invalid Fax No..."
      //          });
      //      Txt_R_Fax_1_AB.option("isValid", true);
      //      var Txt_R_Fax_2_AB = $("#Txt_R_Fax_2_AB").dxTextBox("instance");
      //      Txt_R_Fax_2_AB.option
      //          ({
      //              "mask": 'NNNNNNNNNNN',
      //              "maskRules":
      //              {
      //                  'N': /[0-9]/
      //              },
      //              "maskInvalidMessage": "* Invalid Fax No..."
      //          });
      //      Txt_R_Fax_2_AB.option("isValid", true);

      //      var Txt_O_Tel_1_AB = $("#Txt_O_Tel_1_AB").dxTextBox("instance");
      //      Txt_O_Tel_1_AB.option
      //          ({
      //              "mask": 'NNNNNNNNNNN',
      //              "maskRules":
      //              {
      //                  'N': /[0-9]/
      //              },
      //              "maskInvalidMessage": "* Invalid Telephone No..."
      //          });
      //      Txt_O_Tel_1_AB.option("isValid", true);
      //      var Txt_O_Tel_2_AB = $("#Txt_O_Tel_2_AB").dxTextBox("instance");
      //      Txt_O_Tel_2_AB.option
      //          ({
      //              "mask": 'NNNNNNNNNNN',
      //              "maskRules":
      //              {
      //                  'N': /[0-9]/
      //              },
      //              "maskInvalidMessage": "* Invalid Telephone No..."
      //          });
      //      Txt_O_Tel_2_AB.option("isValid", true);


      //      var Txt_O_Fax_1_AB = $("#Txt_O_Fax_1_AB").dxTextBox("instance");
      //      Txt_O_Fax_1_AB.option
      //          ({
      //              "mask": 'NNNNNNNNNNN',
      //              "maskRules":
      //              {
      //                  'N': /[0-9]/
      //              },
      //              "maskInvalidMessage": "* Invalid Fax No..."
      //          });
      //      Txt_O_Fax_1_AB.option("isValid", true);
      //      var Txt_O_Fax_2_AB = $("#Txt_O_Fax_2_AB").dxTextBox("instance");
      //      Txt_O_Fax_2_AB.option
      //          ({
      //              "mask": 'NNNNNNNNNNN',
      //              "maskRules":
      //              {
      //                  'N': /[0-9]/
      //              },
      //              "maskInvalidMessage": "* Invalid Fax No..."
      //          });
      //      Txt_O_Fax_2_AB.option("isValid", true);

      //      var Txt_Mob_1_AB = $("#Txt_Mob_1_AB").dxTextBox("instance");
      //      Txt_Mob_1_AB.option
      //          ({
      //              "mask": 'NNNNNNNNNNN',
      //              "maskRules":
      //              {
      //                  'N': /[0-9]/
      //              },
      //              "maskInvalidMessage": "* Invalid Mobile No..."
      //          });
      //      Txt_Mob_1_AB.option("isValid", true);
      //      var Txt_Mob_2_AB = $("#Txt_Mob_2_AB").dxTextBox("instance");
      //      Txt_Mob_2_AB.option
      //          ({
      //              "mask": 'NNNNNNNNNNN',
      //              "maskRules":
      //              {
      //                  'N': /[0-9]/
      //              },
      //              "maskInvalidMessage": "* Invalid Mobile No..."
      //          });
      //      Txt_Mob_2_AB.option("isValid", true);    
   
      //});
    </script>
