@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.Address_Book_ViewModel
@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    var isvisible = (Model.ActionMethod == Common_Lib.Common.Navigation_Mode._View || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._Delete) ? true : false;
}
<br />
<style>
    .form-horizontal .basic-tab .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }
</style>
<div class="basic-tab" style="padding:0px !important; margin-top: -20px;">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="form-group bot-pad-9 plm prm Tab0_AB">
                        @Html.Label("Title", htmlAttributes: new { @class = "control-label mrb-4" })
                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_TitleList_AB").Name("Look_TitleList_AB").DataSource(Model.Title_DS, "C_TITLE_NAME").Placeholder("Select Title..").DisplayExpr("C_TITLE_NAME").ValueExpr("C_TITLE_NAME").OnValueChanged("Look_TitleList_EditValueChanged_AB") )

                    </div>
                </div>
            </div>

        </div><!---[col-2]--->

        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="form-group bot-pad-9 plm prm Tab0_AB">
                            @Html.LabelFor(model => model.Txt_Name_AB, htmlAttributes: new { @class = "control-label mrb-4 text-red" })
                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Name_AB").Name("Txt_Name_AB").Placeholder("Firstname   Middlename   Lastname").Value(Model.Txt_Name_AB).OnValueChanged("Txt_Name_EditValueChanged_AB").MaxLength(250) )

                        </div>
                    </div>
                </div>
            </div><!---[col-8]--->

            <div class="col-sm-12 col-md-5 col-lg-5">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="form-group plm prm Tab0_AB">
                            @Html.LabelFor(model => model.Rad_Gender_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                            <div class="radiobtn-outer">
                                @(Html.DevExtreme().RadioGroup().ID("Rad_Gender_AB").Name("Rad_Gender_AB").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "MALE", value = "MALE" }, new { text = "FEMALE", value = "FEMALE" }, new { text = "OTHERS", value = "OTHERS" }, }).Value(Model.Rad_Gender_AB) )


                            </div>
                        </div>
                    </div>
                </div>
            </div><!---[col-4]--->
        </div><!---[col-10]--->
    </div>
    <div class="row row-bg">
        <div id="equalheight">
            <div class="col-sm-3 col-md-3 col-lg-3 demo">
                <div class="photo-col-pad">
                    <div class="container-fluid">
                        <div class="form-group plm prm Tab0_AB">
                            @Html.Label("Photograph:", htmlAttributes: new { @class = "control-label" })
                            <div id="AB_fileview">
                                @Html.Partial("AB_PreviewImageControl")
                            </div>
                            <div id="AB_browseFile">
                                @(Html.DevExtreme().FileUploader().ID("AB_file-uploader").SelectButtonText("Browse").Name("AB_file-uploader").Multiple(false).Accept("image/*").ShowFileList(false).UploadMode(FileUploadMode.Instantly).OnUploaded("AB_FileUploaded")
                                      .UploadUrl(@Url.Action("Upload", "AddressBook", new { Area = "Facility", SessionGUID = SessionGUID })).ReadOnly(isvisible).Disabled(isvisible).OnValueChanged("AB_FileUpload_Value_Change").Visible(false))

                            </div>
                            <div id="AB_fileRemove" align="center">
                                @(Html.DevExtreme().Button().ID("AB_image_CANCEL").Text("Delete").OnClick("ABImageDelete").Visible(!isvisible))
                            </div>
                        </div>
                    </div>
                </div><!---[col]--->
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9 demo">
                <div class="row">
                    <div class="col-sm-6 col-md-7 col-lg-7">
                        <div class="form-field bot-pad-13">
                            <div class="container-fluid  plm prm ">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Txt_OrgName_AB, htmlAttributes: new { @class = "control-label mrb-4 " })
                                </div>
                                <div class="form-group Tab0_AB">
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().AcceptCustomValue(true).OnCustomItemCreating("OrganizationCustomItemCreating_AB").ID("Txt_OrgName_AB").Name("Txt_OrgName_AB").OnOpened("AB_Selctbox_Opened")
                                                                          .Value(Model.Txt_OrgName_AB).DataSource(Model.Organization_DS, "C_ORG_NAME").DisplayExpr("C_ORG_NAME").Placeholder("Type Education / Qualification...").ValueExpr("C_ORG_NAME") )
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-5">
                        <div class="form-field">
                            <div class="container-fluid plm prm">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Rad_Acc_Party_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                                </div>
                                <div class="form-group">
                                    <div class="radiobtn-outer Tab0_AB">
                                        @(Html.DevExtreme().RadioGroup().ID("Rad_Acc_Party_AB").Name("Rad_Acc_Party_AB").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "YES", value = "1" }, new { text = "NO", value = "0" }, }).Value(Model.Rad_Acc_Party_AB) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-7 col-lg-7">
                        <div class="form-field pba">
                            <div class="container-fluid plm prm">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Txt_Desig_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                                </div>
                                <div class="form-group Tab0_AB">
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().AcceptCustomValue(true).OnCustomItemCreating("DesignationCustomItemCreating_AB").ID("Txt_Desig_AB").Name("Txt_Desig_AB").OnOpened("AB_Selctbox_Opened")
                                                                                                          .DataSource(Model.Designation_DS, "C_TITLE_NAME").DisplayExpr("C_TITLE_NAME").Placeholder("Type Designation...").ValueExpr("C_TITLE_NAME") )
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-5">
                        <div class="form-field">
                            <div class="container-fluid plm prm">
                                <div class="form-group">
                                    @Html.Label("Education / Qualification", htmlAttributes: new { @class = "control-label mrb-5" })@* redmine Bug #133528 fix*@
                                </div>
                                <div class="form-group Tab0_AB">
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().AcceptCustomValue(true).OnCustomItemCreating("EducationCustomItemCreating_AB").ID("Txt_Education_AB").Name("Txt_Education_AB").OnOpened("AB_Selctbox_Opened")
                                                                                  .DataSource(Model.Education_DS, "C_TITLE_NAME").DisplayExpr("C_TITLE_NAME").ValueExpr("C_TITLE_NAME").Placeholder("Type Education / Qualification...") )
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!---[col]--->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid plm prm">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Look_OccupationList_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                                </div>
                                <div class="form-group Tab0_AB">
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox()
                                                                    .ID("Look_OccupationList_AB")
                                                                    .Name("Look_OccupationList_AB")
                                                                    .DataSource(Model.Occupation_DS,"C_TITLE_ID")
                                                                    .DisplayExpr("C_TITLE_NAME")
                                                                    .Placeholder("Select Occupation...")
                                                                    .ValueExpr("C_TITLE_ID")
                                                            .Value(Model.Look_OccupationList_AB)
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid plm prm">
                                <div class="form-group">
                                    @Html.Label("Reference", htmlAttributes: new { @class = "control-label mrb-4" })

                                </div>
                                <div class="form-group Tab0_AB">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                                .ID("Txt_Ref_AB")
                                                                .Name("Txt_Ref_AB")
                                                                .Placeholder("Type any Reference Information about this contact...")
                                                                .Value(Model.Txt_Ref_AB)
                                                                .MaxLength(100)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!---[col-10]--->
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <div class="form-field">
                    <div class="container-fluid plm prm">
                        <label class="control-label mrb-4">Remarks</label>

                        <div class="form-group Tab0_AB">
                            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                .ID("Txt_Remark1_AB")
                                                .Name("Txt_Remark1_AB")
                                                .Placeholder("Type any Remarks...")
                                                .Value(Model.Txt_Remark1_AB)
                                                .MaxLength(250)
                            )
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-field">
                        <div class="container-fluid plm prm Tab0_AB">
                            @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                .ID("Txt_Remark2_AB")
                                                .Name("Txt_Remark2_AB")
                                                .Placeholder("Type any Remarks 2...")
                                                .Value(Model.Txt_Remark2_AB)
                                                .MaxLength(250)
                            )
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Contact)...", Model.TempActionMethod.ToString().Substring(1)))
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-5">
                                <label style="color:red"><i class="fas fa-info-circle"></i> Red Fields are mandatory</label>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().CustomSaveButton().ID("AddressBasicEdit").Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(false).Visible(Model.TempActionMethod == "_View" ? false : true).OnClick("AB_SaveClick") )
                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("AddressBasicCancel").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").OnClick(@<text> function () { close_AddressBook(); } </text>) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!---[row]--->
</div>


<script>

</script>


