@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.Address_Book_ViewModel
<style>
    .Wing-list .dx-checkbox.dx-state-focused {
        background: #316ac5;
        color: #FFFFFF;
    }

    .Specialties-list .dx-checkbox.dx-state-focused {
        background: #316ac5;
        color: #FFFFFF;
    }

    .Event-list .dx-checkbox.dx-state-focused {
        background: #316ac5;
        color: #FFFFFF;
    }
</style>
<div class="basic-tab" style="padding:0px !important;">
    <div class="form-horizontal specialTab" style="padding:0px !important;">
        <div class="row">
            <div class="form-field">
                <div class="form-group">
                    <div class="container-fluid">
                        <label class="control-label" style="float: left; padding-left: 0px;" for="">Wing(s) Member :</label>
                        <div class="select-deselect-multicheckbox">
                            @(Html.DevExtreme().Button()
                                                                    .ID("SelectAll_Wing_AB")
                                                                    .Text("Select All")
                                                                    .OnClick(@<text>
                                                                        function () {
                                                                        OnWingSelectAll();
                                                                        }
                                                                    </text>)
                            )
                            @(Html.DevExtreme().Button()
                                                                    .ID("DeSelectAll_Wing_AB")
                                                                    .Text("DeSelect All")
                                                                    .OnClick(@<text>
                                                                        function () {
                                                                        OnWingDeSelectAll();
                                                                        }
                                                                    </text>)
                            )
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="radiobtn-outer">
                                <ul class="custom-checkbox-list Wing-list">

                                    @if (Model.WingsList_DS != null)
                                    {
                                        for (int i = 0; i < Model.WingsList_DS.Count; i++)
                                        {
                                            var check = false;
                                            if (Model.WingsMember != null)
                                            {
                                                check = Model.WingsMember.Select(y => y.Wings_Misc_ID).Any(x => x == Model.WingsList_DS[i].C_TITLE_ID);
                                            }
                                            <li>
                                                @Html.Hidden("WingsMember[" + i + "].Wings_Misc_ID", Model.WingsList_DS[i].C_TITLE_ID)
                                                @Html.DevExtreme().CheckBox().Name("WingsMember[" + i + "].Selected").Text(Model.WingsList_DS[i].C_TITLE_NAME).Value(check)
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-field">
                <div class="form-group">
                    <div class="container-fluid">
                        <label class="control-label" style="float: left;padding-left: 0px;" for="">Specialties :</label>
                        <div class="select-deselect-multicheckbox">
                            @(Html.DevExtreme().Button()
                                                                    .ID("SelectAll_Spl_AB")
                                                                    .Text("Select All")
                                                                    .OnClick(@<text>
                                                                        function () {
                                                                        OnSpecialtiesSelectAll();
                                                                        }
                                                                    </text>)
                            )
                            @(Html.DevExtreme().Button()
                                                                    .ID("DeSelectAll_Spl_AB")
                                                                    .Text("DeSelect All")
                                                                    .OnClick(@<text>
                                                                        function () {
                                                                        OnSpecialtiesDeSelectAll();
                                                                        }
                                                                    </text>)
                            )
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="radiobtn-outer">
                                <ul class="custom-checkbox-list Specialties-list">
                                    @if (Model.SpecialitiesList_DS != null)
                                    {
                                        for (int i = 0; i < Model.SpecialitiesList_DS.Count; i++)
                                        {
                                            var check = false;
                                            if (Model.Specialities != null)
                                            {
                                                check = Model.Specialities.Select(y => y.Specialities_Misc_ID).Any(x => x == Model.SpecialitiesList_DS[i].C_TITLE_ID);
                                            }
                                            <li>
                                                @Html.Hidden("Specialities[" + i + "].Specialities_Misc_ID", Model.SpecialitiesList_DS[i].C_TITLE_ID)
                                                @Html.DevExtreme().CheckBox().Name("Specialities[" + i + "].Selected").Text(Model.SpecialitiesList_DS[i].C_TITLE_NAME).Value(check)
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="form-field">
                <div class="form-group">
                    <div class="container-fluid">
                        <label class="control-label" style="float: left;padding-left: 0px;" for="">Event(s) :</label>
                        <div class="select-deselect-multicheckbox">
                            @(Html.DevExtreme().Button()
                                                                    .ID("SelectAll_Event_AB")
                                                                    .Text("Select All")
                                                                    .OnClick(@<text>
                                                                        function () {
                                                                        OnEventSelectAll();
                                                                        }
                                                                    </text>)
                            )
                            @(Html.DevExtreme().Button()
                                                                    .ID("DeSelectAll_Event_AB")
                                                                    .Text("DeSelect All")
                                                                    .OnClick(@<text>
                                                                        function () {
                                                                        OnEventDeSelectAll();
                                                                        }
                                                                    </text>)
                            )
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="radiobtn-outer box-overflow-h">
                                <ul class="custom-checkbox-list Event-list">
                                    @if (Model.EventsList_DS != null)
                                    {
                                        for (int i = 0; i < Model.EventsList_DS.Count; i++)
                                        {
                                            var check = false;
                                            if (Model.Events != null)
                                            {
                                                check = Model.Events.Select(y => y.Events_Misc_ID).Any(x => x == Model.EventsList_DS[i].C_TITLE_ID);
                                            }
                                            <li>
                                                @Html.Hidden("Events[" + i + "].Events_Misc_ID", Model.EventsList_DS[i].C_TITLE_ID)
                                                @Html.DevExtreme().CheckBox().Name("Events[" + i + "].Selected").Text(Model.EventsList_DS[i].C_TITLE_NAME).Value(check)
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Contact)...", Model.TempActionMethod.ToString().Substring(1)))
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <label style="color:red"><i class="fas fa-info-circle"></i> Red Fields are mandatory</label>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("AddressSpecialEdit").Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(false).Visible(Model.TempActionMethod == "_View" ? false : true).OnClick("AB_SaveClick") )
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("AddressSpecialCancel").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").OnClick(@<text> function () { close_AddressBook(); } </text>) )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function OnWingDeSelectAll() {
        $('.custom-checkbox-list.Wing-list .dx-checkbox').each(function (i, item) {
            var id = $(item).attr("id");
            $("#" + id).dxCheckBox("instance").option("value", false);
        })
    }
    function OnWingSelectAll() {
        $('.custom-checkbox-list.Wing-list .dx-checkbox').each(function (i, item) {
            var id = $(item).attr("id");
            $("#" + id).dxCheckBox("instance").option("value", true);
        })
    }
    function OnSpecialtiesDeSelectAll() {
        $('.custom-checkbox-list.Specialties-list .dx-checkbox').each(function (i, item) {
            var id = $(item).attr("id");
            $("#" + id).dxCheckBox("instance").option("value", false);
        })
    }
    function OnSpecialtiesSelectAll() {
        $('.custom-checkbox-list.Specialties-list .dx-checkbox').each(function (i, item) {
            var id = $(item).attr("id");
            $("#" + id).dxCheckBox("instance").option("value", true);
        })
    }
    function OnEventDeSelectAll() {
        $('.custom-checkbox-list.Event-list .dx-checkbox').each(function (i, item) {
            var id = $(item).attr("id");
            $("#" + id).dxCheckBox("instance").option("value", false);
        })
    }
    function OnEventSelectAll() {
        $('.custom-checkbox-list.Event-list .dx-checkbox').each(function (i, item) {
            var id = $(item).attr("id");
            $("#" + id).dxCheckBox("instance").option("value", true);
        })
    }
</script>
