<div class="AddressBookSmall_ClearReferences">
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.AddressBookSmall

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    var next_Unaudited_YearID = (int)ViewBag.next_Unaudited_YearID;
    var CallingScreen = ViewBag.CallingScreen;
}
<style>
    .control-label
    {
        text-align: left !important;
    }
</style>

<div id="AddressBookSmall_Div">
    @using (Ajax.BeginForm("Frm_Address_Info_Window_Small", "AddressBook",
                                             new AjaxOptions
                                             {
                                                 HttpMethod = "POST",
                                                 UpdateTargetId = "BankWindow",
                                                 InsertionMode = InsertionMode.InsertAfter,
                                                 OnBegin = "AjaxBeginFormPost",
                                                 OnSuccess = Model.PostSuccessFunction
                                             },
                                                  new
                                                  {
                                                      id = "AddressBookSmallForm",
                                                      @class = "edit_form"
                                                  }))
    {
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.TempActionMethod)
        @Html.HiddenFor(x => x.xID)
        @Html.HiddenFor(x => x.Org_RecID)
        @Html.HiddenFor(x => x.LastEditedOn)
        @Html.HiddenFor(x => x.PC_City_Name_Text_ABSmall)
        @Html.HiddenFor(x => x.New_Confirm)
        @Html.HiddenFor(x => x.Edit_Confirm)
        @Html.HiddenFor(x => x.Replicate_Confirm)
        @Html.HiddenFor(x => x.Titlex_ABSmall)
        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();

        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header">
                <div class="row">
                    <div class="col-sm-4 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i>@Model.Titlex_ABSmall</h3>
                    </div>
                    <div class="col-sm-8 pll"style="text-align:right">
                        <h5 class="popuphead" id="LBl_ContactName_Div">@Model.Lbl_ContactName_ABSmall</h5>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-1 pll">
                                <label class="control-label text-red">Name:</label>
                            </div>
                            <div class="col-md-11 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Name_ABSmall").Name("Txt_Name_ABSmall").Value(Model.Txt_Name_ABSmall).MaxLength(36).Placeholder("Firstname    Middlename  Lastname").OnValueChanged("Txt_Name_EditValueChanged_ABSmall"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-1 pll">
                                <label class="control-label">Line1:</label>
                            </div>
                            <div class="col-md-11 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_R_Add1_ABSmall").Name("Txt_R_Add1_ABSmall").Value(Model.Txt_R_Add1_ABSmall).MaxLength(36).Placeholder("Type Address Line 1.."))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-1 pll">
                                <label class="control-label">Line2:</label>
                            </div>
                            <div class="col-md-11 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_R_Add2_ABSmall").Name("Txt_R_Add2_ABSmall").Value(Model.Txt_R_Add2_ABSmall).MaxLength(36).Placeholder("Type Address Line 2.."))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-1 pll">
                                <label class="control-label">Line3:</label>
                            </div>
                            <div class="col-md-11 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_R_Add3_ABSmall").Name("Txt_R_Add3_ABSmall").Value(Model.Txt_R_Add3_ABSmall).MaxLength(36).Placeholder("Type Address Line 3.."))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-1 pll">
                                <label class="control-label">Line4:</label>
                            </div>
                            <div class="col-md-11 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_R_Add4_ABSmall").Name("Txt_R_Add4_ABSmall").Value(Model.Txt_R_Add4_ABSmall).MaxLength(36).Placeholder("Type Address Line 4.."))
                            </div>
                        </div>
                    </div>
                </div>
                </div>           
            <div class="row">
                <div class="col-md-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-2 pll">
                                <label class="control-label">Country:</label>
                            </div>
                            <div class="col-md-10 prm">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_RCountryList_ABSmall").Name("GLookUp_RCountryList_ABSmall").ValueExpr("R_CO_REC_ID").DisplayExpr("R_CO_NAME")
                                                                                                      .DataSource(d => d.Mvc().Controller("AddressBook").LoadAction("LookUp_GetCountryList_Res_ABSmall").Key("R_CO_REC_ID")).Placeholder("Select Country...").OnValueChanged("GLookUp_RCountryList_EditValueChanged").ReadOnly(true)
                                                                                                      .ContentTemplate(@<text> @Html.Partial("LookUp_GetCountryList_Res_ABSmall") </text>) )

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-2 pll">
                                <label class="control-label">State:</label>
                            </div>
                            <div class="col-md-10 prm">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_RStateList_ABSmall").Name("GLookUp_RStateList_ABSmall").ValueExpr("R_ST_REC_ID").DisplayExpr("R_ST_NAME")
                                                                                                      .DataSource(d => d.Mvc().Controller("AddressBook").LoadAction("LookUp_GetStateList_Res_ABSmall").Key("R_ST_REC_ID")).Placeholder("Select State...").OnValueChanged("GLookUp_RStateList_EditValueChanged").ReadOnly(true)
                                                                                                      .ContentTemplate(@<text> @Html.Partial("LookUp_GetStateList_Res_ABSmall") </text>) )

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-3 pll">
                                <label class="control-label">City:</label>
                            </div>
                            <div class="col-md-9 prm">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("PC_City_Name_ABSmall").Name("PC_City_Name_ABSmall").ValueExpr("R_CI_REC_ID").DisplayExpr("R_CI_NAME")
                                                                                                                                                                      .DataSource(d => d.Mvc().Controller("AddressBook").LoadAction("LookUp_GetCityList_Res_ABSmall").Key("R_CI_REC_ID")).Placeholder("Select City...").OnValueChanged("GLookUp_RCityList_EditValueChanged").ReadOnly(true)
                                                                                                                                                                      .ContentTemplate(@<text> @Html.Partial("LookUp_GetCityList_Res_ABSmall") </text>) )

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-3 pll">
                                <label class="control-label">District:</label>
                            </div>
                            <div class="col-md-9 prm">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_RDistrictList_ABSmall").Name("GLookUp_RDistrictList_ABSmall").ValueExpr("R_DI_REC_ID").DisplayExpr("R_DI_NAME")
                                                                                                                                                                  .DataSource(d => d.Mvc().Controller("AddressBook").LoadAction("LookUp_GetDistrictList_Res_ABSmall").Key("R_DI_REC_ID")).Placeholder("Select District...").OnValueChanged("GLookUp_RDistrictList_EditValueChanged").ReadOnly(true)
                                                                                                                                                                  .ContentTemplate(@<text> @Html.Partial("LookUp_GetDistrictList_Res_ABSmall") </text>) )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-3 pll">
                                <label class="control-label">PinCode:</label>
                            </div>
                            <div class="col-md-9 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_R_Pincode_ABSmall").Name("Txt_R_Pincode_ABSmall").MaxLength(10).Placeholder("Pincode").Value(Model.Txt_R_Pincode_ABSmall))

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-3 pll">
                                <label class="control-label">Tel. No.:</label>
                            </div>
                            <div class="col-md-9 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_R_Tel_1_ABSmall").Name("Txt_R_Tel_1_ABSmall").Value(Model.Txt_R_Tel_1_ABSmall).Placeholder("Type Resi Tel. No. 1..."))
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-3 pll">
                                <label class="control-label">Mob. No.:</label>
                            </div>
                            <div class="col-md-9 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Mob_1_ABSmall").Name("Txt_Mob_1_ABSmall").Value(Model.Txt_Mob_1_ABSmall).Placeholder("Type Mobile No. 1..."))
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-3 pll">
                                <label class="control-label">Email:</label>
                            </div>
                            <div class="col-md-9 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Email1_ABSmall").Name("Txt_Email1_ABSmall").Value(Model.Txt_Email1_ABSmall).Placeholder("Type Email ID (1. Primary)..."))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-1 pll">
                                <label class="control-label">Remarks:</label>
                            </div>
                            <div class="col-md-11 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Remark1_ABSmall").Name("Txt_Remark1_ABSmall").Value(Model.Txt_Remark1_ABSmall).Placeholder("Type any Remark 1.."))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-1 pll">
                            </div>
                            <div class="col-md-11 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Remark2_ABSmall").Name("Txt_Remark2_ABSmall").Value(Model.Txt_Remark1_ABSmall).Placeholder("Type any Remark 2.."))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6" style="text-align:left">
                            <h5 style="color:red"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().ID("BUT_SAVE_ABSMALL").CustomSaveButton().Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_New_From_Selection" || Model.ActionMethod.ToString().Trim() == "_Edit") ? "Save" : "Delete").UseSubmitBehavior(false).Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true).OnClick("ABSmall_SaveClick"))
                                @(Html.DevExtreme().Button().ID("BUT_CANCEL_ABSMALL").CustomCloseButton().Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit" || Model.ActionMethod.ToString().Trim() == "_Delete") ? "Cancel" : "Close").FocusStateEnabled(true).OnClick("ClosePopUp_ABSmall"))
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->
        }
    }
</div>

<script>
    var Country_DG_ABSmall;
    var State_DG_ABSmall;
    var District_DG_ABSmall;
    var City_DG_ABSmall;
    var ActionMethod_ABSmall = "@Model.ActionMethod";
    function InitAllDropDown_ABSmall()
    {
        var $Country_DG_ABSmall = $("#CountryList-datagrid_ABSmall");
        if ($Country_DG_ABSmall.length)
        {
            Country_DG_ABSmall = $Country_DG_ABSmall.dxDataGrid("instance");
        }
        var $State_DG_ABSmall = $("#StateList-datagrid_ABSmall");
        if ($State_DG_ABSmall.length)
        {
            State_DG_ABSmall = $State_DG_ABSmall.dxDataGrid("instance");
        }
        var $District_DG_ABSmall = $("#DistrictList-datagrid_ABSmall");
        if ($District_DG_ABSmall.length)
        {
            District_DG_ABSmall = $District_DG_ABSmall.dxDataGrid("instance");
        }
        var $City_DG_ABSmall = $("#CityList-datagrid_ABSmall");
        if ($City_DG_ABSmall.length) {
            City_DG_ABSmall = $City_DG_ABSmall.dxDataGrid("instance");
        }
    }
    async function LookUp_GetCountryList_ABSmall()
    {
        var $Country_DG_ABSmall = $("#CountryList-datagrid_ABSmall");
        if ($Country_DG_ABSmall.length) {
            Country_DG_ABSmall = $Country_DG_ABSmall.dxDataGrid("instance");
            var ddRefresh = false;
            $.ajax({
                type: 'GET',
                url: "/Facility/AddressBook/RefreshCountryList_ABSmall",
                cache: false,
                async: false,
                success: function (data)
                {
                    ddRefresh = data.result;
                    if (data.result == false)
                    {
                        DevExpress.ui.dialog.alert(data.message, "Error..");
                    }
                }
            });
            if (ddRefresh)
            {
                await Country_DG_ABSmall.refresh();
                if (ActionMethod_ABSmall == "_New")
                {
                    await Country_DG_ABSmall.selectRows("f9970249-121c-4b8f-86f9-2b53e850809e", false);
                    Control_SetReadOnly("GLookUp_RCountryList_ABSmall", "dxDropDownBox", false);
                }
            }
        }
    }
    async function LookUp_Get_R_StateList_ABSmall()
    {
        var $State_DG_ABSmall = $("#StateList-datagrid_ABSmall");
        if ($State_DG_ABSmall.length) {
            State_DG_ABSmall = $State_DG_ABSmall.dxDataGrid("instance");
            var ddRefresh = false;
            $.ajax({
                type: 'GET',
                url: "/Facility/AddressBook/RefreshStateList_ABSmall",
                cache: false,
                async: false,
                data:
                {
                    CountryAccessibleDescription: Country_AccessibleDescription_ABSmall
                },
                success: function (data)
                {
                    ddRefresh = data.result;
                    if (data.result == false)
                    {
                        DevExpress.ui.dialog.alert(data.message, "Error..");
                    }
                }
            });
            if (ddRefresh)
            {
                await State_DG_ABSmall.refresh();
                if (ActionMethod_ABSmall == "_New") {
                   
                    Control_SetReadOnly("GLookUp_RStateList_ABSmall", "dxDropDownBox", false);
                }
            }
        }
    }
    async function LookUp_Get_R_DistrictList_ABSmall()
    {        
        var $District_DG_ABSmall = $("#DistrictList-datagrid_ABSmall");
        if ($District_DG_ABSmall.length)
        {
            District_DG_ABSmall = $District_DG_ABSmall.dxDataGrid("instance");
            var ddRefresh = false;
            $.ajax({
                type: 'GET',
                url: "/Facility/AddressBook/RefreshDistrictList_ABSmall",
                cache: false,
                async: false,
                data:
                {
                    CountryAccessibleDescription: Country_AccessibleDescription_ABSmall,
                    StateAccessibleDescription: State_AccessibleDescription_ABSmall
                },
                success: function (data)
                {
                    ddRefresh = data.result;
                    if (data.result == false)
                    {
                        DevExpress.ui.dialog.alert(data.message, "Error..");
                    }
                }
            });
            if (ddRefresh)
            {
                await District_DG_ABSmall.refresh();
                if (ActionMethod_ABSmall == "_New")
                {
                    Control_SetReadOnly("GLookUp_RDistrictList_ABSmall", "dxDropDownBox", false);
                }
            }
        }
    }
    async function LookUp_Get_R_CityList_ABSmall()
    {
        var $City_DG_ABSmall = $("#CityList-datagrid_ABSmall");
        if ($City_DG_ABSmall.length)
        {
            City_DG_ABSmall = $City_DG_ABSmall.dxDataGrid("instance");
            var ddRefresh = false;
            $.ajax({
                type: 'GET',
                url: "/Facility/AddressBook/RefreshCityList_ABSmall",
                cache: false,
                async: false,
                data:
                {
                    CountryID: SelectedCountryId_ABSmall,
                    CountryAccessibleDescription: Country_AccessibleDescription_ABSmall,
                    StateAccessibleDescription: State_AccessibleDescription_ABSmall
                },
                success: function (data)
                {
                    ddRefresh = data.result;
                    if (data.result == false)
                    {
                        DevExpress.ui.dialog.alert(data.message, "Error..");
                    }
                }
            });
            if (ddRefresh)
            {
                await City_DG_ABSmall.refresh();
                if (ActionMethod_ABSmall == "_New")
                {
                    Control_SetReadOnly("PC_City_Name_ABSmall", "dxDropDownBox", false);
                }
            }
        }
    }
</script>@* dd init *@
<script>
    var SelectedCountryId_ABSmall;
    var Country_AccessibleDescription_ABSmall;
    var State_AccessibleDescription_ABSmall;
    var CountryDDValueChangeFinishExecution = false;
    var StateDDValueChangeFinishExecution = false;
    function GLookUp_RCountryList_EditValueChanged(e)
    {
        CountryDDValueChangeFinishExecution = false;
        e.component.close();
        if (e.value == null && e.previousValue != null)
        {
            Country_DG_ABSmall.clearSelection();
            State_DG_ABSmall.clearSelection();
            District_DG_ABSmall.clearSelection();
            City_DG_ABSmall.clearSelection();
            $("#PC_City_Name_Text_ABSmall").val("");
            SelectedCountryId_ABSmall = "";
            Country_AccessibleDescription_ABSmall = "";
            CountryDDValueChangeFinishExecution = true;
            return;
        }
        if (Country_DG_ABSmall.getSelectedRowsData().length > 0)
        {
            var item = Country_DG_ABSmall.getSelectedRowsData()[0];
            SelectedCountryId_ABSmall = item["R_CO_REC_ID"];
            Country_AccessibleDescription_ABSmall = item["R_CO_CODE"];
            Promise.all([LookUp_Get_R_StateList_ABSmall(), LookUp_Get_R_CityList_ABSmall()]).then((r) =>
            {
                var Txt_Pincode = $("#Txt_R_Pincode_ABSmall").dxTextBox("instance");             
                if (item["R_CO_CODE"] == "IN")
                {
                    Txt_Pincode.option
                        ({
                            "mask": 'NNNNNN',
                            "maskRules":
                            {
                                'N': /[0-9]/
                            }
                        });
                    Txt_Pincode.option("isValid", true);
                }
                else
                {
                    Txt_Pincode.option("mask", '');
                    Txt_Pincode.option("maskRules", {});
                    Txt_Pincode.option("isValid", true);
                }
                CountryDDValueChangeFinishExecution = true;
            });
        }
    }
    function GLookUp_RStateList_EditValueChanged(e)
    {      
        StateDDValueChangeFinishExecution = false;
        e.component.close();
        if (e.value == null && e.previousValue != null)
        {
            State_DG_ABSmall.clearSelection();           
            District_DG_ABSmall.clearSelection();
            City_DG_ABSmall.clearSelection();
            $("#PC_City_Name_Text_ABSmall").val("");
            State_AccessibleDescription_ABSmall = "0";
            LookUp_Get_R_DistrictList_ABSmall();
            LookUp_Get_R_CityList_ABSmall();
            StateDDValueChangeFinishExecution = true;
            return;
        }
        if (State_DG_ABSmall.getSelectedRowsData().length > 0)
        {
            var item = State_DG_ABSmall.getSelectedRowsData()[0];
            State_AccessibleDescription_ABSmall = item["R_ST_CODE"];
            Promise.all([LookUp_Get_R_DistrictList_ABSmall(), LookUp_Get_R_CityList_ABSmall()]).then((r) =>
            {            
                StateDDValueChangeFinishExecution = true;
            });
        }
    }
    function GLookUp_RDistrictList_EditValueChanged(e)
    {
        e.component.close();
        if (e.value == null && e.previousValue != null)
        {  
            District_DG_ABSmall.clearSelection();
            return;
        }
    }
    function GLookUp_RCityList_EditValueChanged(e)
    {
        e.component.close();
        if (e.value == null && e.previousValue != null)
        {
            City_DG_ABSmall.clearSelection();
            $("#PC_City_Name_Text_ABSmall").val("");
            return;
        }
        if (City_DG_ABSmall.getSelectedRowsData().length > 0)
        {
            var item = City_DG_ABSmall.getSelectedRowsData()[0];
            $("#PC_City_Name_Text_ABSmall").val(item["R_CI_NAME"]);
        }
    }
    function Txt_Name_EditValueChanged_ABSmall(e)
    {
        $("#LBl_ContactName_Div").text(e.value);
    }
</script>@* Value Chnage *@
<script>
    var ABSmall_TakePopupCloseConfirmation = true;
    $(document).ready(function ()
    {
        ShowLoader_Ready();
        var form = "AddressBookSmallForm";
        AssignIDtoLabel(form, "ABSmall");
        InitAllDropDown_ABSmall();
        if (ActionMethod_ABSmall == "_View")
        {
            ABSmall_TakePopupCloseConfirmation = false;
        }
        if (ActionMethod_ABSmall == "_Delete")
        {
            $("#BUT_CANCEL_ABSMALL").dxButton("instance").option("text", "No");
            $("#BUT_SAVE_ABSMALL").dxButton("instance").option("text", "Yes");
            Set_Properties_ABSmall(false, true);
        }
        LookUp_GetCountryList_ABSmall().then((r) =>
        {
            if (ActionMethod_ABSmall == "_Delete" || ActionMethod_ABSmall == "_Edit" || ActionMethod_ABSmall == "_New")
            {
                if ("@Model.GLookUp_RCountryList_ABSmall".length > 0) {
                    Country_DG_ABSmall.selectRows("@Model.GLookUp_RCountryList_ABSmall", false);
                }
                else { CountryDDValueChangeFinishExecution = true; }
                $("#GLookUp_RCountryList_ABSmall").dxDropDownBox("instance").option("readOnly", false);
                WaitForCountryDDToGetOver();
                function WaitForCountryDDToGetOver()
                {
                    HideLoader();
                    ShowLoader();
                    if (CountryDDValueChangeFinishExecution == true)
                    {
                        if ("@Model.GLookUp_RStateList_ABSmall".length > 0)
                        {
                            State_DG_ABSmall.selectRows("@Model.GLookUp_RStateList_ABSmall", false);
                        }
                        else { StateDDValueChangeFinishExecution = true; }
                        HideLoader();
                    }
                    else
                    {
                        setTimeout(function ()
                        {
                            WaitForCountryDDToGetOver();
                        }, Timeout100)
                    }
                }
                $("#GLookUp_RStateList_ABSmall").dxDropDownBox("instance").option("readOnly", false);

                WaitForStateDDToGetOver();
                function WaitForStateDDToGetOver()
                {
                    HideLoader();
                    ShowLoader();
                    if (StateDDValueChangeFinishExecution == true)
                    {
                        if ("@Model.GLookUp_RDistrictList_ABSmall".length > 0)
                        {
                            District_DG_ABSmall.selectRows("@Model.GLookUp_RDistrictList_ABSmall", false);
                        }

                        if ("@Model.PC_City_Name_ABSmall".length > 0)
                        {
                            City_DG_ABSmall.selectRows("@Model.PC_City_Name_ABSmall", false);
                        }
                        HideLoader();
                    }
                    else
                    {
                        setTimeout(function ()
                        {
                            WaitForStateDDToGetOver();
                        }, Timeout100)
                    }
                }

                $("#GLookUp_RDistrictList_ABSmall").dxDropDownBox("instance").option("readOnly", false);
                $("#PC_City_Name_ABSmall").dxDropDownBox("instance").option("readOnly", false);
                setTimeout(function ()
                {
                    Set_Form_View_Delete_Mode(null, form, ActionMethod_ABSmall);
                    //Focus_FirstEditable_Field(form, ActionMethod_Bank);
                    if (ActionMethod_ABSmall == "_New" || ActionMethod_ABSmall == "_Edit")
                    {
                        $("#Txt_R_Add1_ABSmall").dxTextBox("instance").focus();
                    }
                    HideLoader_Ready();
                }, Timeout500);
            }
        });
    });

    function Set_Properties_ABSmall(Clear, Set_ReadOnly)
    {
        if (clear)
        {
            $("#Txt_Name_ABSmall").dxTextBox("instance").option("value", "");
        }
        if (Set_ReadOnly)
        {
            $("#Txt_Name_ABSmall").dxTextBox("instance").option("readOnly", true);
        }
        else
        {
            $("#Txt_Name_ABSmall").dxTextBox("instance").option("readOnly", false);
        }
    }
    $(function ()
    {
        $("#"+"@Model.PopUpId").dxPopup({

            onHiding: function (e) {
                if (ABSmall_TakePopupCloseConfirmation == false)
                {
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/AddressBook/SessionClear_ABSmall",
                        cache: false
                    });
                }
                else
                {
                    e.cancel = true;
                    var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                    result.done(function (dialogResult)
                    {
                        ABSmall_TakePopupCloseConfirmation = !dialogResult;
                        if (dialogResult)
                        {
                            $("#"+"@Model.PopUpId").dxPopup("hide");                            
                        }
                    })
                }              
            }
        });
        var Txt_R_Tel_1_ABSmall = $("#Txt_R_Tel_1_ABSmall").dxTextBox("instance");
        Txt_R_Tel_1_ABSmall.option
            ({
                "mask": 'ANNNNNNNNNN',
                "maskRules":
                {
                    'A': /[0]/,
                    'N': /[0-9]/
                },
                "maskInvalidMessage": "* Invalid Telephone No..."
            });
        Txt_R_Tel_1_ABSmall.option("isValid", true);
        var Txt_Mob_1_ABSmall = $("#Txt_Mob_1_ABSmall").dxTextBox("instance");
        Txt_Mob_1_ABSmall.option
            ({
                "mask": 'ANNNNNNNNN',
                "maskRules":
                {
                    'A': /[1-9]/,
                    'N': /[0-9]/
                },
                "maskInvalidMessage": "* Invalid Mobile No..."
            });
        Txt_Mob_1_ABSmall.option("isValid", true);
    })
</script>@* document.ready *@
<script>
    function ClosePopUp_ABSmall(e)
    {
        HidePopup("@Model.PopUpId");
    }
    function ABSmall_SaveClick(e)
    {
        if (ActionMethod_ABSmall == "_Delete")
        {
            var confirm = DevExpress.ui.dialog.confirm("Sure You Want To Delete This Entry...?", "Confirm");
            confirm.done(function (result)
            {
                if (result)
                {
                    $("#AddressBookSmallForm").submit();
                }
            });
        }
        else
        {
            if (ActionMethod_ABSmall == "_Edit")
            {
                if (parseInt("@next_Unaudited_YearID") != 0)
                {                  
                    var confirm = DevExpress.ui.dialog.confirm("Do You Want To Make Same Changes In This Contact in Year " + "@next_Unaudited_YearID".substring(0, 2) + "-" + "@next_Unaudited_YearID".substring(2) + " too?", "Confirm");
                    confirm.done(function (result)
                    {
                        if (result)
                        {
                            $("#Replicate_Confirm").val(true);
                            $("#AddressBookSmallForm").submit();
                        }
                        else
                        {
                            $("#Replicate_Confirm").val(false);
                            $("#AddressBookSmallForm").submit();
                        }
                    });
                }
                else
                {
                    $("#AddressBookSmallForm").submit();
                }
            }
            else
            {
                $("#AddressBookSmallForm").submit();
            }
        }
    }
    function AddressBookSmallSuccessForm(data)
    {
        ABSmall_TakePopupCloseConfirmation = false;
        HideLoader();
        if (data.jsonParam.result == false)
        {
            if (data.jsonParam.isconfirm == true)
            {
                var confirm = DevExpress.ui.dialog.confirm(data.jsonParam.message, data.jsonParam.title);
                confirm.done(function (dialogResult)
                {
                    if (dialogResult)
                    {
                        if (ActionMethod_ABSmall == "_New")
                        {
                            $("#New_Confirm").val(true);
                        }
                        else if (ActionMethod_ABSmall == "_Edit")
                        {
                            $("#Edit_Confirm").val(true);
                        }
                        $("#AddressBookSmallForm").submit();
                    }
                });
            }
            else
            {
                var alert = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alert.done(function (dialogResult)
                {
                    if (data.jsonParam.focusid != null)
                    {
                        if (dialogResult)
                        {
                            var id = "#" + data.jsonParam.focusid;
                            setTimeout(function ()
                            {
                                $(id).find('input').focus();
                            }, Timeout100);
                        }
                    }
                });
            }
        }
        else
        {
            
            if ("@Model.DropDownFunctionName".length > 0)
            {
                var fn = window["@Model.DropDownFunctionName"];
                if (typeof fn == "function")
                {
                    fn(data.xid);
                }
            }
            else if ("@Model.Party_DataGridID".length > 0)
            {
                var DatagridID = "#" + "@Model.Party_DataGridID";
                $(DatagridID).dxDataGrid("instance").refresh();
            }
            if ("@CallingScreen".trim() != "CoreProfile_RegisterForAudit" && "@CallingScreen".trim() != "CoreProfile_")
            {          
                DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            }

        }
        if (data.jsonParam.closeform)
        {
            ClosePopUp_ABSmall();
        }
    }
</script>@* Save & Save Success *@
    </div>


















      

            <script>
                $("#ResTel1, #ResTel2, #ResFax1, #ResFax2, #OffTel1, #OffTel2, #OffFax1, #OffFax2, #Mob1, #Mob2").keypress(function (e) {
                    e = e || window.event;
                    key = e.keyCode || e.which;
                    //For Firefox
                    if (key == 8 || key == 127 || key == 9)
                        return true
                    var txt = String.fromCharCode(key);
                    var reg = /[0-9]/;
                    if (reg.test(txt))
                        return true;

                    e.preventDefault();
                    return false;

                });
            </script>
