@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.Address_Book_ViewModel
<style>
    .MagazineMember-list {
        padding-left: 0;
    }

    .form-horizontal .basic-tab .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    /*   .dx-checkbox-text {
        width: auto;
    }*/
    .MagazineMember-list .dx-checkbox.dx-state-focused {
        background: #316ac5;
        color: #FFFFFF;
    }
</style>
<div class="basic-tab" style="padding:0px !important;">
    <div class="form-horizontal generalTab" style="padding:0px !important;">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid plm prm Tab3_AB">
                            @Html.LabelFor(model => model.DE_DOB_L_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                            @(Html.DevExtreme().DateBoxFor(x => x.DE_DOB_L_AB).CustomDateBox()
                                                        .ID("DE_DOB_L_AB")
                                                    .Name("DE_DOB_L_AB")
                                                    .Width("100%").Min("01/01/1900")
                                                    .Placeholder("DD/MM/YYYY")
                            )
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid plm prm Tab3_AB">
                            @Html.LabelFor(model => model.Com_BloodGroup_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                            @(Html.DevExtreme().SelectBox().CustomSelectBox()
                                                        .ID("Com_BloodGroup_AB")
                                                        .Name("Com_BloodGroup_AB")
                                                        .DataSource(new[] { "None", "O+ ( O Positive )", "O- ( O Negative )", "A+ ( A Positive )", "A- ( A Negative )", "B+ ( B Positive )", "B- ( B Negative )", "AB+ ( AB Positive )", "AB- ( AB Negative )" })
                                                        .Value(Model.Com_BloodGroup_AB)
                            )
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid plm prm Tab3_AB">
                            @Html.LabelFor(model => model.Look_ConModeList_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                            @(Html.DevExtreme().SelectBox().CustomSelectBox()
                                                        .ID("Look_ConModeList_AB")
                                                        .Name("Look_ConModeList_AB")
                                                        .DataSource(Model.ContactMode_DS,"C_TITLE_ID")
                                                        .DisplayExpr("C_TITLE_NAME")
                                                        .Placeholder("Select Contact Mode...")
                                                        .ValueExpr("C_TITLE_ID")
                                                        .Value(Model.Look_ConModeList_AB)
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab3_AB">
                        @Html.LabelFor(model => model.Txt_Passport_No_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                .ID("Txt_Passport_No_AB")
                                                .Name("Txt_Passport_No_AB")
                                                .Placeholder("Type Passport No...")
                                                .Value(Model.Txt_Passport_No_AB)
                                                .MaxLength(15)
                        )
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab3_AB">
                        @Html.LabelFor(model => model.GST_TIN, htmlAttributes: new { @class = "control-label mrb-4" })
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                .ID("GST_TIN")
                                                .Name("GST_TIN")
                                                .Placeholder("Type GST No...")
                                                .Value(Model.GST_TIN)
                                                .MaxLength(15)
                                                .OnValueChanged("Gst_ValueChanged")
                                                .UseMaskedValue(true)//Bug #133527 fix
                                                .Mask("00LLLLL0000LA\\ZA")
                                                .MaskInvalidMessage("* Invalid GST No.")
                        )
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab3_AB">
                        @Html.LabelFor(model => model.Txt_VAT_TIN_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                .ID("Txt_VAT_TIN_AB")
                                                .Name("Txt_VAT_TIN_AB")
                                                .Placeholder("Type Taxpayer Identification No...")
                                                .Value(Model.Txt_VAT_TIN_AB)
                                                .MaxLength(11)
                                                .Mask("00000000000")
                                                .MaskInvalidMessage("* Invalid VAT No.")
                        )
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab3_AB">
                        @Html.LabelFor(model => model.Txt_CST_TIN_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                .ID("Txt_CST_TIN_AB")
                                                .Name("Txt_CST_TIN_AB")
                                                .Placeholder("Type Taxpayer Identification No...")
                                                .Value(Model.Txt_CST_TIN_AB)
                                                .MaxLength(11)
                                                 .Mask("00000000000")
                                                .MaskInvalidMessage("* Invalid CST TIN  No.")
                        )
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab3_AB">
                        <label class="control-label mrb-4">Aadhaar No.</label>
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                .ID("Txt_UID_AB")
                                                .Name("Txt_UID_AB")
                                                .Placeholder("Type Unique identification No...")
                                                .Value(Model.Txt_UID_AB)
                                                .MaxLength(12)
                                                      .Mask("000000000000")
                                                .MaskInvalidMessage("* Invalid Aadhaar No.")
                        )
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab3_AB">
                        @Html.LabelFor(model => model.Txt_STR_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                .ID("Txt_STR_AB")
                                                .Name("Txt_STR_AB")
                                                .Placeholder("Type Service Tax Registration No...")
                                                .Value(Model.Txt_STR_AB)
                                                .MaxLength(15)
                                                .ValueChangeEvent("keyup")
                                                .OnValueChanged("STRNotextBox_valueChanged")
                                                  .UseMaskedValue(true)//Bug #133527 fix
                                                                         .Mask("LLLLL0000LST\\0\\01")
                                                                         .MaskInvalidMessage("* Invalid Service Tax Registration No.")
                        )
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab3_AB">
                        @Html.LabelFor(model => model.Txt_PAN_No_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                            .ID("Txt_PAN_No_AB")
                            .Name("Txt_PAN_No_AB")
                            .Placeholder("Type Permanaent A/c. No(PAN no)...")
                            .Value(Model.Txt_PAN_No_AB)
                            .MaxLength(10)
                            .ValueChangeEvent("keyup")
                            .OnValueChanged("PANtextBox_valueChanged")
                                //.Mask("qqqnq0000q")
                                // .MaskRules(new { n = new JS("/[cphfatbljg]/"),q = new JS("/[A-Za-z]/")  })
                                //       .MaskInvalidMessage("* Invalid PAN No.")

                        )
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab3_AB">
                        @Html.LabelFor(model => model.Txt_TAN_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                        @(Html.DevExtreme().TextBox().CustomTextBox()
                                                .ID("Txt_TAN_AB")
                                                .Name("Txt_TAN_AB")
                                                .Placeholder("Type Tax Deduction A/c. no.(TAN No)")
                                                .Value(Model.Txt_TAN_AB)
                                                .MaxLength(10)
                                                .ValueChangeEvent("keyup")
                                                .OnValueChanged("TANtextBox_valueChanged")
                                .Mask("LLLL00000L")
                                .MaskInvalidMessage("* Invalid TAN No.")
                        )
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab3_AB">
                        <label class="control-label mrb-4">Voter ID.:</label>
                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                .ID("Txt_VoterID_AB")
                                                .Name("Txt_VoterID_AB")
                                                .Placeholder("Type Voter ID No...")
                                                .Value(Model.Txt_VoterID_AB)
                                                .MaxLength(255)
                        )
                    </div>
                </div>
            </div> <!-- Voter ID -->

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab3_AB">
                        @Html.LabelFor(model => model.Txt_RationCardNo_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                .ID("Txt_RationCardNo_AB")
                                                .Name("Txt_RationCardNo_AB")
                                                .Placeholder("Type Ration Card No...")
                                                .Value(Model.Txt_RationCardNo_AB)
                                                .MaxLength(255)
                        )
                    </div>
                </div>
            </div> <!-- Ration Card No. -->

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab3_AB">
                        @Html.LabelFor(model => model.Txt_DLNo_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                            .ID("Txt_DLNo_AB")
                            .Name("Txt_DLNo_AB")
                            .Placeholder("Type Driving License No.")
                            .Value(Model.Txt_DLNo_AB)
                            .MaxLength(255)
                        )
                    </div>
                </div>
            </div> <!-- Driving License -->

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-field">
                    <div class="container-fluid plm prm Tab3_AB">
                        @Html.LabelFor(model => model.Txt_TaxpayerID_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                .ID("Txt_TaxpayerID_AB")
                                                .Name("Txt_TaxpayerID_AB")
                                                .Placeholder("Type Taxpayer Identification Number")
                                                .Value(Model.Txt_TaxpayerID_AB)
                                                .MaxLength(255)
                        )
                    </div>
                </div>
            </div> <!-- Taxpayer ID No. -->

        </div>

        <div class="form-group">
            <div class="form-field">
                <div class="container-fluid plm prm">

                    <label class="control-label" style="float: left;" for="">Magazine Member :</label>
                    <div class="select-deselect-multicheckbox">
                        @(Html.DevExtreme().Button()
                                                                    .ID("SelectAll_Mag_AB")
                                                                    .Text("Select All")
                                                                    .OnClick(@<text>
                                                                        function () {
                                                                        OnMagazanieMemberSelectAll();
                                                                        }
                                                                    </text>)
                        )
                        @(Html.DevExtreme().Button()
                                                                    .ID("DeSelectAll_Mag_AB")
                                                                    .Text("DeSelect All")
                                                                    .OnClick(@<text>
                                                                        function () {
                                                                        OnMagazanieMemberDeSelectAll();
                                                                        }
                                                                    </text>)
                        )
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="radiobtn-outer mrt-4">
                            <ul class="custom-checkbox-list MagazineMember-list">

                                @if (Model.MagazineList_DS != null)
                                {
                                    for (int i = 0; i < Model.MagazineList_DS.Count; i++)
                                    {
                                        var check = false;
                                        if (Model.Magazine != null)
                                        {
                                            check = Model.Magazine.Select(y => y.Magazine_Misc_ID).Any(x => x == Model.MagazineList_DS[i].C_TITLE_ID);
                                        }
                                        <li>
                                            @Html.Hidden("Magazine[" + i + "].Magazine_Misc_ID", Model.MagazineList_DS[i].C_TITLE_ID)
                                            @Html.DevExtreme().CheckBox().Name("Magazine[" + i + "].Selected").Text(Model.MagazineList_DS[i].C_TITLE_NAME).Value(check)
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Contact)...", Model.TempActionMethod.ToString().Substring(1)))
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <label style="color:red"><i class="fas fa-info-circle"></i> Red Fields are mandatory</label>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("AddressGeneralEdit").Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(false).Visible(Model.TempActionMethod == "_View" ? false : true).OnClick("AB_SaveClick") )
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("AddressGeneralCancel").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").OnClick(@<text> function () { close_AddressBook(); } </text>) )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ValidateGST_AB() {
        $("#GST_TIN").dxTextBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        if ($("#GST_TIN").dxTextBox("instance").option("isValid")) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    },
                    reevaluate: true,
                    ignoreEmptyValue: true,
                    message: '* Invalid GST No.'
                }],
                validationGroup: "AddressBookValidator"
            });//Redmine Bug #133557 fixed
    }
    function ValidateSTR_AB() {
        $("#Txt_STR_AB").dxTextBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = $("#Txt_STR_AB").dxTextBox("instance").option("isValid");
                        return result;
                    },
                    reevaluate: true,
                    ignoreEmptyValue: true,
                    message: '* Invalid Service Tax Registration No.'
                }],
                validationGroup: "AddressBookValidator"
            });//Redmine Bug #133557 fixed
    }
    function ValidateGeneralTabControl_AB() {
        ValidateGST_AB();
        ValidateSTR_AB();
        var Txt_PAN_No_AB = $("#Txt_PAN_No_AB").dxTextBox("instance");
        Txt_PAN_No_AB.option
            ({
                "mask": 'qqqnq0000q',
                "maskRules":
                {
                    'n': /[cphfatbljgCPHFATBLJG]/,
                    'q': /[A-Za-z]/
                },
                "maskInvalidMessage": "* Invalid PAN No."
            });
        Txt_PAN_No_AB.option("isValid", true);
        $("#Txt_PAN_No_AB").dxTextBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = Txt_PAN_No_AB.option("isValid");
                        return result;
                    },
                    reevaluate: true,
                    message: '* Invalid PAN No.'
                }],
                validationGroup: "AddressBookValidator"
            });//Redmine Bug #133557 fixed
        var Txt_TAN_AB = $("#Txt_TAN_AB").dxTextBox("instance");
        Txt_TAN_AB.option("isValid", true);
        $("#Txt_TAN_AB").dxTextBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = Txt_TAN_AB.option("isValid");
                        return result;
                    },
                    reevaluate: true,
                    message: '* Invalid TAN No.'
                }],
                validationGroup: "AddressBookValidator"
            });//Redmine Bug #133557 fixed
        $("#Txt_CST_TIN_AB").dxTextBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = $("#Txt_CST_TIN_AB").dxTextBox("instance").option("isValid");
                        return result;
                    },
                    reevaluate: true,
                    message: '* Invalid CST No.'
                }],
                validationGroup: "AddressBookValidator"
            });//Redmine Bug #133557 fixed
    }

    function OnMagazanieMemberDeSelectAll() {
        $('.custom-checkbox-list.MagazineMember-list .dx-checkbox').each(function (i, item) {
            var id = $(item).attr("id");
            $("#" + id).dxCheckBox("instance").option("value", false);
        })
    }

    function OnMagazanieMemberSelectAll() {
        $('.custom-checkbox-list.MagazineMember-list .dx-checkbox').each(function (i, item) {
            var id = $(item).attr("id");
            $("#" + id).dxCheckBox("instance").option("value", true);
        })
    }

</script>
