@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.Address_Book_ViewModel

<style>
    .form-horizontal .basic-tab .form-group {
        margin-left: 0;
        margin-right: 0;
    }
</style>
<div class="basic-tab" style="padding:0px !important;">
    <div class="form-horizontal" style="padding:0px !important;">
        <div class="form-group">
            <div class="form-field">
                <div class="container-fluid plm prm">
                    <label class="control-label ptm pbm" for="">Option :</label>

                    <div class="col-md-12">
                        <div class="radiobtn-outer  Tab4_AB">
                            @(Html.DevExtreme().RadioGroup()
                                                    .ID("Rad_Status_AB")
                                                    .Name("Rad_Status_AB")
                                                    .DisplayExpr("text")
                                                    .Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal)
                                                    .ValueExpr("value")
                                                    .Value(Model.Rad_Status_AB)

                                                    .OnValueChanged("Rad_Status_SelectedIndexChanged_AB")
                                                    .DataSource(new object[] {
                                                                                                new { text = "Wellwisher", value = "Wellwisher" },
                                                                                                new { text = "B.K", value = "B.K." },
                                                    })
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div id="equalheight">
                    <div class="col-sm-2 col-md-2 col-lg-2 row-bg demo plm prm">


                        <div class="photo-col-pad">
                            <div class="container-fluid  Tab4_AB">
                                <div class="grad-head grad-marg-set">
                                    <img src="~/Content/image/user_icon.png" style="height:20px;" /><label class="control-label" style="margin-left:15px;" for="">Wellwisher</label>
                                </div>
                                @Html.LabelFor(model => model.DE_DOC_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                                @(Html.DevExtreme().DateBoxFor(x => x.DE_DOC_AB).CustomDateBox()
                                                .ID("DE_DOC_AB")
                                                .Name("DE_DOC_AB")
                                                .Width("100%")
                                                .Placeholder("DD-MM-YYYY").Min("01/01/1900")
                                                .ReadOnly(!Model.IsBkReadOnly)
                                                .FocusStateEnabled(Model.IsBkReadOnly)
                                )
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10 demo plm">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="grad-head">
                                    <img src="~/Content/image/bk_icon.jpg" style="height:20px;" /><label class="control-label" style="margin-left:15px;" for="">B.K.</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-field">
                                            <div class="container-fluid plm prm  Tab4_AB">

                                                @Html.LabelFor(model => model.DE_DOB_A_AB, htmlAttributes: new { @class = "control-label mrb-4" })

                                                @(Html.DevExtreme().DateBoxFor(x => x.DE_DOB_A_AB).CustomDateBox().ID("DE_DOB_A_AB")
                                                        .Name("DE_DOB_A_AB")
                                                        .Width("100%").Min("01/01/1900")
                                                        .Placeholder("DD-MM-YYYY")
                                                        .ReadOnly(Model.IsBkReadOnly)
                                                        .FocusStateEnabled(!Model.IsBkReadOnly)
                                                )
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-field">
                                            <div class="container-fluid plm prm  Tab4_AB">
                                                @Html.LabelFor(model => model.Com_BK_Title_AB, htmlAttributes: new { @class = "control-label mrb-4" })

                                                @(Html.DevExtreme().SelectBox().CustomSelectBox()
                                                        .ID("Com_BK_Title_AB")
                                                        .Name("Com_BK_Title_AB")
                                                        .DataSource(new[] { "Kumar", "Kumari", "Adharkumar", "Adharkumari", "Trialkumar", "Trialkumari", "Teacher", "Surrender Kumar", "Surrender Sister" }).Placeholder("Select BK Title...")
                                                        .Value(Model.Com_BK_Title_AB)
                                                        .ReadOnly(Model.IsBkReadOnly)
                                                        .FocusStateEnabled(!Model.IsBkReadOnly)
                                                )
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-field">
                                            <div class="container-fluid plm prm  Tab4_AB">
                                                @Html.LabelFor(model => model.Txt_PAD_No_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                                                @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                        .ID("Txt_PAD_No_AB")
                                                        .Name("Txt_PAD_No_AB")
                                                        .Placeholder("Type PAD")
                                                        .Value(Model.Txt_PAD_No_AB)
                                                        .ReadOnly(Model.IsBkReadOnly)
                                                        .MaxLength(255)
                                                        .FocusStateEnabled(!Model.IsBkReadOnly)
                                                )
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-field">
                                            <div class="container-fluid plm prm  Tab4_AB">
                                                @Html.LabelFor(model => model.Com_Class_At_AB, htmlAttributes: new { @class = "control-label mrb-4" })

                                                @(Html.DevExtreme().SelectBox().CustomSelectBox()
                                                            .ID("Com_Class_At_AB")
                                                            .Name("Com_Class_At_AB")
                                                            .DataSource(new[] { "Centre", "Geeta Pathshala" })
                                                            .Value(Model.Com_Class_At_AB)
                                                            .Placeholder("Select Class at...")
                                                            .ReadOnly(Model.IsBkReadOnly)
                                                            .FocusStateEnabled(!Model.IsBkReadOnly)

                                                )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-field">
                                    <div class="container-fluid plm prm  Tab4_AB">
                                        @Html.LabelFor(model => model.Cmb_Cen_Cagetory_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                                        @(Html.DevExtreme().SelectBox().CustomSelectBox()
                                                    .ID("Cmb_Cen_Cagetory_AB")
                                                    .Name("Cmb_Cen_Cagetory_AB")
                                                    .ValueExpr("Index")
                                                    .DisplayExpr("Name")
                                                    .DataSource(new object[] { new { Name = "Indian Centre", Index = 0 }, new { Name = "Overseas Rajyoga Training Centre", Index = 1 } },"Index")
                                                    .Value(Model.Cmb_Cen_Cagetory_AB)
                                                    .ReadOnly(Model.IsBkReadOnly)
                                                    .FocusStateEnabled(!Model.IsBkReadOnly)
                                                    .OnValueChanged("ChangeCenCategory_AB")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-field">
                                    <div class="container-fluid plm prm  Tab4_AB" data-toggle="tooltip" data-placement="bottom" title="Select Center Name">
                                        @Html.LabelFor(model => model.GLookUp_Cen_List_AB, htmlAttributes: new { @class = "control-label mrb-4" })

                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().Value(string.IsNullOrWhiteSpace(Model.GLookUp_Cen_List_AB)?(int?)null:Convert.ToInt32(Model.GLookUp_Cen_List_AB))
                                                    .ID("GLookUp_Cen_List_AB")
                                                    .Name("GLookUp_Cen_List_AB")
                                                    .ValueExpr("CEN_ID")
                                                    .DisplayExpr("CEN_NAME")
                                                    .DataSource(d => d.Mvc().Controller("AddressBook").LoadAction("GetCentreList").Key("CEN_ID")
                                                    .LoadParams(new { CenterCategory = new JS("function (){ return selectedIndexCenterCategory_AB;}") })
                                                    .OnLoaded("GLookUp_Cen_List_AB_Loaded")
                                                    .LoadMode(DataSourceLoadMode.Raw))
                                                    .Placeholder("Select Center")
                                                    .OnValueChanged("GLookUp_Cen_List_EditValueChanged")
                                                    .ReadOnly(Model.IsBkReadOnly)
                                                    .FocusStateEnabled(!Model.IsBkReadOnly)
                                                    .ContentTemplate(@<text>
                                                        @Html.Partial("LookUp_Get_Centre")
                                                    </text>)
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-field">
                                <div class="container-fluid plm prm">
                                    <div class="col-md-12  Tab4_AB">
                                        @Html.LabelFor(model => model.Txt_Class_Add_AB, htmlAttributes: new { @class = "control-label mrb-4" })
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                    .ID("Txt_Class_Add_AB")
                                                    .Name("Txt_Class_Add_AB")
                                                    .Width("100%")
                                                    .Placeholder("Type Class Address")
                                                    .Value(Model.Txt_Class_Add_AB)
                                                    .ReadOnly(Model.IsBkReadOnly)
                                                    .FocusStateEnabled(!Model.IsBkReadOnly)
                                                    .MaxLength(255)

                                        )
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-field">
                        <div class="container-fluid plm prm  Tab4_AB">
                            @Html.Label("Category", htmlAttributes: new { @class = "control-label mrb-4" })
                            @(Html.DevExtreme().SelectBox().CustomSelectBox()
                                                    .ID("Look_CategoryList_AB")
                                                    .Name("Look_CategoryList_AB")
                                                    .DataSource(Model.Category_DS,"C_TITLE_NAME")
                                                    .DisplayExpr("C_TITLE_NAME")
                                                    .Placeholder("Select Category...")
                                                    .ValueExpr("C_TITLE_NAME")//redmine Bug #133559 fixed
                                                    .Value(Model.Look_CategoryList_AB)
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Contact)...", Model.TempActionMethod.ToString().Substring(1)))
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <label style="color:red"><i class="fas fa-info-circle"></i> Red Fields are mandatory</label>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("AddressStatusEdit").Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(false).Visible(Model.TempActionMethod == "_View" ? false : true).OnClick("AB_SaveClick") )
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("AddressStatusCancel").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").OnClick(@<text> function () { close_AddressBook(); } </text>) )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>