@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.Address_Book_ViewModel
<style>
    .form-horizontal .basic-tab .form-group {
        margin-left: 0;
        margin-right: 0;
    }
</style>
<div class="basic-tab" style="padding:0px !important;">
    <div class="form-horizontal">
        <div class="row mrt-2">
            <div class="col-sm-6 col-md-6 col-lg-6 prs">
                <div class="col-md-12">
                    <fieldset class="default-fieldset">
                        <div class="grad-head">
                            <legend><i class="fas fa-home checkgreen"></i> Residence Address</legend>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Txt_R_Add1_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Add1_AB").Name("Txt_R_Add1_AB").Placeholder("Type Address Line 1...").Value(Model.Txt_R_Add1_AB).OnValueChanged("Txt_R_Add1_EditValueChanged_AB").OnKeyUp("Txt_R_Add1_EditValueChanged_AB").MaxLength(100) )

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Txt_R_Add2_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Add2_AB").Name("Txt_R_Add2_AB").Placeholder("Type Address Line 2...").Value(Model.Txt_R_Add2_AB).OnValueChanged("Txt_R_Add2_EditValueChanged_AB").OnKeyUp("Txt_R_Add2_EditValueChanged_AB").MaxLength(100) )
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Txt_R_Add3_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Add3_AB").Name("Txt_R_Add3_AB").Placeholder("Type Address Line 3...").Value(Model.Txt_R_Add3_AB).OnValueChanged("Txt_R_Add3_EditValueChanged_AB").OnKeyUp("Txt_R_Add3_EditValueChanged_AB").MaxLength(100) )
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Txt_R_Add4_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Add4_AB").Name("Txt_R_Add4_AB").Placeholder("Type Address Line 4...").Value(Model.Txt_R_Add4_AB).OnValueChanged("Txt_R_Add4_EditValueChanged_AB").OnKeyUp("Txt_R_Add4_EditValueChanged_AB").MaxLength(100) )
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GLookUp_RCountryList_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB" data-toggle="tooltip" data-placement="bottom" title="Select Country">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_RCountryList_AB").Name("GLookUp_RCountryList_AB").ValueExpr("R_CO_REC_ID").DisplayExpr("R_CO_NAME").DataSource(Model.Country_R_DS,"R_CO_REC_ID")
                                                   .Value(Model.GLookUp_RCountryList_AB).Placeholder("Select Country...").OnValueChanged("GLookUp_RCountryList_EditValueChanged_AB").ContentTemplate(@<text> @Html.Partial("LookUp_GetCountryList_Res") </text>).ReadOnly(true) )

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GLookUp_RStateList_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB" data-toggle="tooltip" data-placement="bottom" title="Select State">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_RStateList_AB").Name("GLookUp_RStateList_AB").ValueExpr("R_ST_REC_ID").DisplayExpr("R_ST_NAME").DataSource(Model.State_R_DS,"R_ST_REC_ID")
                                                   .Value(Model.GLookUp_RStateList_AB).Placeholder("Select State...").OnValueChanged("GLookUp_RStateList_EditValueChanged_AB").ContentTemplate(@<text> @Html.Partial("LookUp_GetStateList_Res") </text>).ReadOnly(true) )

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GLookUp_RDistrictList_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB" data-toggle="tooltip" data-placement="bottom" title="Select District">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_RDistrictList_AB").Name("GLookUp_RDistrictList_AB").ValueExpr("R_DI_REC_ID").DisplayExpr("R_DI_NAME").DataSource(Model.District_R_DS,"R_DI_REC_ID")
                                                   .Value(Model.GLookUp_RDistrictList_AB).Placeholder("Select District...").OnValueChanged("GLookUp_RDistrictList_EditValueChanged_AB").ContentTemplate(@<text> @Html.Partial("LookUp_GetDistrictList_Res") </text>).ReadOnly(true))


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GLookUp_RCityList_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB" data-toggle="tooltip" data-placement="bottom" title="Select City">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_RCityList_AB").Name("GLookUp_RCityList_AB").ValueExpr("R_CI_REC_ID").DisplayExpr("R_CI_NAME").DataSource(Model.City_R_DS,"R_CI_REC_ID")
                                                    .Value(Model.GLookUp_RCityList_AB).Placeholder("Select City...").OnValueChanged("GLookUp_RCityList_EditValueChanged_AB").ReadOnly(true).ContentTemplate(@<text> @Html.Partial("LookUp_GetCityList_Res") </text>) )

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Txt_R_Pincode_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_R_Pincode_AB").Name("Txt_R_Pincode_AB").Placeholder("Pincode...").Value(Model.Txt_R_Pincode_AB).MaxLength(10) )
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 plm">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <fieldset class="default-fieldset">

                        <div class="grad-head">
                            <div class="row">

                                <div class="col-sm-8 col-md-8 col-lg-8 col-rgt">
                                    <legend><i class="fas fa-building historyicon"></i> Office Address</legend>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">

                                    <div class="Tab1_AB">
                                        @(Html.DevExtreme().CheckBox().ID("Chk_SameAs_AB").Name("Chk_SameAs_AB").Text("Same as Residence").OnValueChanged("Chk_SameAs_CheckedChanged_AB") )
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="form-field">
                            <div class="container-fluid">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Txt_O_Add1_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                    .ID("Txt_O_Add1_AB")
                                                    .Name("Txt_O_Add1_AB")
                                                    .Placeholder("Type Address Line 1...")
                                                    .Value(Model.Txt_O_Add1_AB)
                                                    .MaxLength(100)
                                        )


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Txt_O_Add2_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                    .ID("Txt_O_Add2_AB")
                                                    .Name("Txt_O_Add2_AB")
                                                    .Placeholder("Type Address Line 2...")
                                                    .Value(Model.Txt_O_Add2_AB)
                                                    .MaxLength(100)
                                        )


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Txt_O_Add3_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                    .ID("Txt_O_Add3_AB")
                                                    .Name("Txt_O_Add3_AB")
                                                    .Placeholder("Type Address Line 3...")
                                                    .Value(Model.Txt_O_Add3_AB)
                                                    .MaxLength(100)
                                        )


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Txt_O_Add4_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                    .ID("Txt_O_Add4_AB")
                                                    .Name("Txt_O_Add4_AB")
                                                    .Placeholder("Type Address Line 4...")
                                                    .Value(Model.Txt_O_Add4_AB)
                                                    .MaxLength(100)


                                        )


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GLookUp_OCountryList_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB" data-toggle="tooltip" data-placement="bottom" title="Select Country">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().Value(Model.GLookUp_OCountryList_AB)
                                                    .ID("GLookUp_OCountryList_AB")
                                                    .Name("GLookUp_OCountryList_AB")
                                                    .ValueExpr("R_CO_REC_ID")
                                                    .DisplayExpr("R_CO_NAME")
                                                    .DataSource(Model.Country_O_DS,"R_CO_REC_ID")
                                                    .Placeholder("Select Country...")
                                                    .OnValueChanged("GLookUp_OCountryList_EditValueChanged_AB")
                                                    .ContentTemplate(@<text>
                                                        @Html.Partial("LookUp_GetCountryList_Off")
                                                    </text>)
                             .ReadOnly(true)
                                        )

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GLookUp_OStateList_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB" data-toggle="tooltip" data-placement="bottom" title="Select State">

                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().Value(Model.GLookUp_OStateList_AB)
                                                    .ID("GLookUp_OStateList_AB")
                                                    .Name("GLookUp_OStateList_AB")
                                                    .ValueExpr("R_ST_REC_ID")
                                                    .DisplayExpr("R_ST_NAME")
                                                    .DataSource(Model.State_O_DS,"R_ST_REC_ID")
                                                    .Placeholder("Select State...")
                                                    .OnValueChanged("GLookUp_OStateList_EditValueChanged_AB")
                                                    .ContentTemplate(@<text>
                                                        @Html.Partial("LookUp_GetStateList_Off")
                                                    </text>)
                             .ReadOnly(true)
                                        )


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GLookUp_ODistrictList_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB" data-toggle="tooltip" data-placement="bottom" title="Select District">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().Value(Model.GLookUp_ODistrictList_AB)
                                                    .ID("GLookUp_ODistrictList_AB")
                                                    .Name("GLookUp_ODistrictList_AB")
                                                    .ValueExpr("R_DI_REC_ID")
                                                    .DisplayExpr("R_DI_NAME")
                                                    .DataSource(Model.District_O_DS,"R_DI_REC_ID")
                                                    .Placeholder("Select District...")
                                                    .OnValueChanged("GLookUp_ODistrictList_EditValueChanged_AB")
                                                    .ContentTemplate(@<text>
                                                        @Html.Partial("LookUp_GetDistrictList_Off")
                                                    </text>)
                             .ReadOnly(true)
                                        )

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GLookUp_OCityList_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB" data-toggle="tooltip" data-placement="bottom" title="Select City">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().Value(Model.GLookUp_OCityList_AB)
                                                        .ID("GLookUp_OCityList_AB")
                                                        .Name("GLookUp_OCityList_AB")
                                                        .ValueExpr("R_CI_REC_ID")
                                                        .DisplayExpr("R_CI_NAME")
                                                        .DataSource(Model.City_O_DS,"R_CI_REC_ID")
                                                        .Placeholder("Select City...")
                                                         .OnValueChanged("GLookUp_OCityList_EditValueChanged_AB")
                                                        .ReadOnly(true)
                                                        .ContentTemplate(@<text>
                                                            @Html.Partial("LookUp_GetCityList_Off")
                                                        </text>)
                                        )

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Txt_O_Pincode_AB, htmlAttributes: new { @class = "control-label col-sm-2 plm" })
                                    <div class="col-sm-10 Tab1_AB">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                    .ID("Txt_O_Pincode_AB")
                                                    .Name("Txt_O_Pincode_AB")
                                                    .Placeholder("Pincode...")
                                                    .Value(Model.Txt_O_Pincode_AB)
                                                    .MaxLength(10)
                                        )


                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Contact)...", Model.TempActionMethod.ToString().Substring(1)))
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <label style="color:red"><i class="fas fa-info-circle"></i> Red Fields are mandatory</label>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("AddressAddEdit").Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(false).Visible(Model.TempActionMethod == "_View" ? false : true).OnClick("AB_SaveClick") )
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("AddressAddCancel").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").OnClick(@<text> function () { close_AddressBook(); } </text>) )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ValidateAddressTabControl_AB() {
        $("#Txt_O_Pincode_AB").dxTextBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = $("#Txt_O_Pincode_AB").dxTextBox("instance").option("isValid");
                        return result;
                    },
                    reevaluate: true,
                    message: '* Invalid Pincode'
                }],
                validationGroup: "AddressBookValidator"
            });
        $("#Txt_R_Pincode_AB").dxTextBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = $("#Txt_R_Pincode_AB").dxTextBox("instance").option("isValid");
                        return result;
                    },
                    reevaluate: true,
                    message: '* Invalid Pincode'
                }],
                validationGroup: "AddressBookValidator"
            });
    }
    $("#Off_PinCode, #Res_PinCode").keypress(function (e) {
        e = e || window.event;
        key = e.keyCode || e.which;
        //For Firefox
        if (key == 8 || key == 127 || key == 9)
            return true
        var txt = String.fromCharCode(key);
        var reg = /[0-9]/;
        if (reg.test(txt))
            return true;

        e.preventDefault();
        return false;

    });
</script>
