<div class="Receipt_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.ReceiptVoucherModel
    <style>
        .dx-radio-value-container {
            padding-left: 0px;
        }

        .dx-item-content {
            font-size: 11px;
        }

        .dx-radiogroup-horizontal .dx-radiobutton {
            margin-right: 10px;
        }

        .dx-radio-value-container {
            padding-right: 5px;
        }

        #Rpt_AddPArty .dx-icon {
            width: 32px;
            height: 32px;
            /*line-height: normal;
        left: 45px;
        top: -10px;
        bottom: 0;*/
        }

        #Rpt_ManageParty .dx-icon {
            width: 32px;
            height: 32px;
            /*  line-height: normal;
        left: 45px;
        top: -10px;
        bottom: 0;*/
        }

        #Rpt_ManageParty .dx-button-content {
            height: inherit;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 30px;
        }

        #Rpt_AddPArty .dx-button-content {
            height: inherit;
            padding-top: 14px;
            padding-bottom: 14px;
        }
        /*FCRA Related*/
        #ListSpecialVoucherRef_Rpt .dx-list-item-content {
            padding: 4.5px;
        }

        @@media screen and (min-width:767px){
            .align-rts{text-align:right}
        }
    </style>
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        bool isdisabled = (Model.Tag == Common_Lib.Common.Navigation_Mode._View || Model.Tag == Common_Lib.Common.Navigation_Mode._Delete) ? true : false;

        bool RecVoucher_AddFacilityAddress = (bool)ViewData["RecVoucher_AddFacilityAddress"];
        bool RecVoucher_ListFacilityAddress = (bool)ViewData["RecVoucher_ListFacilityAddress"];
    }


<div id="Frm_Voucher_Win_Gen_Rec_popup">
    @using (Ajax.BeginForm("Frm_Voucher_Win_Gen_Rec_Save", "ReceiptVoucher",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "Frm_Voucher_Win_Gen_Rec_popup",
                    InsertionMode = InsertionMode.InsertAfter,
                    OnBegin = "AjaxBeginFormPost",
                    OnSuccess = "Frm_Voucher_Win_Gen_Rec_AjaxSuccessVoucherReceipt"
                },
                new
                {
                    id = "id_Receipt_Voucher_Form",
                    @class = "edit_form"
                }))
    {
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.Tag)
        @Html.HiddenFor(x => x.iTrans_Type)
        @Html.HiddenFor(x => x.iVoucher_Type)
        @Html.HiddenFor(x => x.iLed_ID)
        @Html.HiddenFor(x => x.iParty_Req)
        @Html.HiddenFor(x => x.iProfile)
        @Html.HiddenFor(x => x.iCond_Ledger_ID)
        @Html.HiddenFor(x => x.iMinValue)
        @Html.HiddenFor(x => x.iMaxValue)
        @Html.HiddenFor(x => x.iTDS_CODE)
        @Html.HiddenFor(x => x.iLink_ID)
        @Html.HiddenFor(x => x.iOffSet_ID)
        @Html.HiddenFor(x => x.iOffSet_Item)
        @Html.HiddenFor(x => x.xMID)
        @Html.HiddenFor(x => x.PartyList_REC_EDIT_ON)
        @Html.HiddenFor(x => x.Bank_REC_EDIT_ON)
        @Html.HiddenFor(x => x.IsAdjustmentEnable)
        @Html.HiddenFor(x => x.REF_OUTSTAND_NEXT_YEAR)
        @Html.HiddenFor(x => x.LastEditedOn)
        @Html.HiddenFor(x => x.Info_LastEditedOn)
        @Html.HiddenFor(x => x.xID)
        @Html.HiddenFor(x => x.lbl_Ref_No_Tag)
        @Html.HiddenFor(x => x.TitleX)
        @Html.HiddenFor(x => x.Me_Text)
        @Html.HiddenFor(x => x.Rpt_SplVchrReferenceSelected)
        @Html.HiddenFor(x => x.splVchrRefsCount_Rpt)
        @Html.HiddenFor(x => x.SelectedDepositSlipNo)
        @Html.HiddenFor(x => x.SelectedBankID)
        @Html.HiddenFor(x => x.SelectedRefBankID)

        using (Html.DevExtreme().ValidationGroup("Receipt_Voucher"))
        {
    <div class="container-fluid">
        <div class="full-width-header-bg">
            <div class="row">

                <div class="col-sm-8 pll">
                    <h3 class="popuphead"><i class="far fa-edit"></i> Receipt </h3>
                </div>
                <div class="col-sm-4 prm">
                    <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-red" })
            </div>
        </div><!--[Header]-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-4 pll">
                            @Html.Label("Item Name:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_rpt_itemname" })
                        </div>
                        <div class="col-sm-8 prm">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Rpt_GLookUp_ItemList").Name("Rpt_GLookUp_ItemList").ValueExpr("ITEMID").DisplayExpr("ITEMNAME").ReadOnly(true).FocusStateEnabled(false).DataSource(Model.ItemList_DD_Data_Rpt, "ITEMID").Value(Model.Rpt_GLookUp_ItemList).Placeholder("Select Item...").OnValueChanged("GLookUp_ItemList_EditValueChanged_Rpt").ContentTemplate(@<text> @Html.Partial("Receipt_LookUp_GetItemList") </text>) )
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-4 pll">
                            @Html.Label("Voucher Date:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_rpt_vdate" })
                        </div>
                        <div class="col-sm-8 prm">
                            @(Html.DevExtreme().DateBox().CustomDateBox().ID("Rpt_Txt_V_Date").Name("Rpt_Txt_V_Date").Value(Model.Rpt_Txt_V_Date))
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[row 1]-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-4 pll">
                            @Html.Label("Head:", htmlAttributes: new { @class = "control-label", @id = "lbl_rpt_head" })
                        </div>
                        <div class="col-sm-8 prm">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Rpt_BE_Item_Head").Name("Rpt_BE_Item_Head").ReadOnly(true).MaxLength(50).FocusStateEnabled(false))
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-4 pll">
                            @Html.Label("Voucher No:", htmlAttributes: new { @class = "control-label", @id = "lbl_rpt_vno" })
                        </div>
                        <div class="col-sm-8 prm">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Rpt_Txt_V_NO").Value(Model.Rpt_Txt_V_NO).Name("Rpt_Txt_V_NO").ReadOnly(true).MaxLength(50).FocusStateEnabled(false))
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[row 2]-->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-field">
                    <fieldset id="rpt_partydetails" class="default-fieldset">
                        <legend class="custom-legend mlm"> Party Detail:</legend>
                        <div class="row">
                            <div class="col-sm-8" id="RptPartyDetail_div">
                                <div class="row ">
                                    <div class="col-sm-3 pll">
                                        <label class="control-label" id="lbl_rpt_partyname" for="Name">Name:</label>
                                    </div>
                                    <div class="col-sm-9 prm">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Rpt_GLookUp_PartyList1").Name("Rpt_GLookUp_PartyList1").ValueExpr("C_ID").DisplayExpr("C_NAME").Placeholder("Select Party Name...").DataSource(Model.PartyList_DD_Data_Rpt, "C_ID").Value(Model.Rpt_GLookUp_PartyList1).ReadOnly(true).FocusStateEnabled(false).OnValueChanged("GLookUp_PartyList1_EditValueChanged_Rpt").ContentTemplate(@<text> @Html.Partial("LookUp_GetPartyList") </text>) )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 pll">
                                        <label class="control-label" id="lbl_rpt_city" for="Name">City:</label>
                                    </div>
                                    <div class="col-sm-4 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Rpt_BE_City").Name("Rpt_BE_City").Value(Model.Rpt_BE_City).ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                    <div class="col-sm-2 pll align-rts">
                                        <label class="control-label" id="lbl_rpt_pan" for="Name">PAN No.:</label>
                                    </div>
                                    <div class="col-sm-3 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Rpt_BE_PAN_No").Name("Rpt_BE_PAN_No").Value(Model.Rpt_BE_PAN_No).ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2" id="Rpt_AddPartyDiv">
                                @(Html.DevExtreme().Button().ID("Rpt_AddPArty").Text("Add Party").Width("100%").Height("inherit").OnClick("Rpt_AddParty").Icon(Url.Content("../../../../Icons/add user.png")).Disabled(Model.ActionMethod=="_View"|| Model.ActionMethod == "_Delete") )
                            </div>
                            <div class="col-sm-2" id="Rpt_ManPartyDiv">
                                @(Html.DevExtreme().Button().ID("Rpt_ManageParty").Text("Manage Party").Width("100%").Height("inherit").OnClick("Rpt_Manage_party").Icon(Url.Content("../../../../Icons/manage user.png")).Disabled(Model.ActionMethod == "_View" || Model.ActionMethod == "_Delete"))
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div><!--[party]-->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-field">
                    <fieldset id="rpt_LayoutControlItem11" class="default-fieldset">
                        <legend id="lbl_Adjust_Title" class="custom-legend mlm disabletxt"> Adjustment Reference:</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        <label class="control-label disabletxt" id="lbl_rpt_Payment" for="Name">Payment:</label>
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Rpt_GLookUp_Adjustment").Name("Rpt_GLookUp_Adjustment").ValueExpr("REF_ID").DisplayExpr("REF_AMT").DataSource(Model.PaymentList_DD_Data_Rpt,"REF_ID").Value(Model.Rpt_GLookUp_Adjustment).Placeholder("Select Payment").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("GLookUp_Adjustment_EditValueChanged_Rpt").ContentTemplate(@<text> @Html.Partial("Party_Outstanding_DepositsAndOutstanding_Advances") </text>) )

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        <label class="control-label disabletxt" id="lbl_rpt_Receipt" for="Name">Receipt Type:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="radiobtn-outer2">
                                            @(Html.DevExtreme().RadioGroup().ID("Rpt_RAD_Receipt").Name("Rpt_RAD_Receipt").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").Value(Model.Rpt_RAD_Receipt).DataSource(new object[] { new { text = "PARTIAL", value = 0 }, new { text = "FINAL", value = 1 }, new { text = "NILL", value = 2 } }).OnValueChanged("RAD_Receipt_SelectedIndexChanged_Rpt") )

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-7 pll align-rts">
                                        <label class="control-label disabletxt" id="lbl_rpt_Out_Standing" for="Name">o---> Total Out-Standing Amount:</label>
                                    </div>
                                    <div class="col-sm-5 prm">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Rpt_Txt_Out_Standing").Name("Rpt_Txt_Out_Standing").Value(Model.Rpt_Txt_Out_Standing).ReadOnly(true).Format("#.##").FocusStateEnabled(false))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7 pll align-rts">
                                        <label class="control-label disabletxt" id="lbl_rpt_Diff" for="Name">Difference:</label>
                                    </div>
                                    <div class="col-sm-5 prm">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Rpt_Txt_Diff").Name("Rpt_Txt_Diff").ReadOnly(true).Format("#0.##").FocusStateEnabled(false))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div><!--[adj]-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-4 pll">
                            @Html.Label("Mode:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_rpt_mode" })
                        </div>
                        <div class="col-sm-8 prm">
                            @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Rpt_Cmd_Mode").Name("Rpt_Cmd_Mode").Value(string.IsNullOrWhiteSpace(Model.Rpt_Cmd_Mode)?"CASH": Model.Rpt_Cmd_Mode).DataSource(new[] { "CASH", "CHEQUE", "DD", "CBS", "RTGS", "NEFT", "ECS", "BANK ACCOUNT", "CASH TO BANK" }).OnValueChanged("Receipt_Cmd_Mode_SelectedIndexChanged_Rpt").ShowClearButton(false) )

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-4 pll">
                            @Html.Label("Amount:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_rept_amount" })
                        </div>
                        <div class="col-sm-8 prm">
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Rpt_Txt_Amount").Name("Rpt_Txt_Amount").Placeholder("Type Amount...").OnValueChanged("Txt_Amount_EditValueChanged_Rpt").Format("#0.00").Min(0.00))

                        </div>
                    </div>
                </div>
            </div>
        </div><!--[mode]-->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-field">
                    <fieldset id="rpt_LayoutControlItem3" class="default-fieldset">
                        <legend id="lbl_rpt_Ref_Title" class="custom-legend mlm disabletxt"> Reference Detail:</legend>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 ">
                                <div class="row">
                                    <div class="col-sm-2 pll">
                                        <label id="lbl_rpt_Ref_Bank" class="control-label disabletxt" for="Rpt_GLookUp_RefBankList">Bank Name:</label>
                                    </div>
                                    <div class="col-sm-10 prm mrb-2">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Rpt_GLookUp_RefBankList").Name("Rpt_GLookUp_RefBankList").ValueExpr("BI_ID").DisplayExpr("BI_BANK_NAME")
                                                      .DataSource(Model.RefBankList_DD_Data_Rpt, "BI_ID").Value(Model.Rpt_GLookUp_RefBankList).Placeholder("Select Bank...").FocusStateEnabled(false).ReadOnly(true).OnValueChanged("GLookUp_RefBankList_EditValueChanged_Rpt").ContentTemplate(@<text> @Html.Partial("ReceiptLookUp_GetRefBankList") </text>) )
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-2 pll">
                                        <label id="lbl_rpt_Ref_Branch" class="control-label disabletxt" for="Rpt_Txt_Ref_Branch">Branch Name:</label>
                                    </div>
                                    <div class="col-sm-10 prm mrb-2">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true,true).ID("Rpt_Txt_Ref_Branch").Name("Rpt_Txt_Ref_Branch").Value(Model.Rpt_Txt_Ref_Branch).Placeholder("Type Branch Name...").MaxLength(25).OnValueChanged("Txt_RefBranch_ValueChange_Rpt") )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="row">
                                            <div class="col-sm-2 col-md-6 pll">
                                                <label id="lbl_rpt_Ref_No" class="control-label disabletxt" for="Rpt_Txt_Ref_No">Ref No.:</label>
                                            </div>
                                            <div class="col-sm-10 col-md-6 prm">
                                                @(Html.DevExtreme().TextBox().CustomTextBox(true,true).ID("Rpt_Txt_Ref_No").Name("Rpt_Txt_Ref_No").Value(Model.Rpt_Txt_Ref_No).Placeholder("Type No...").MaxLength(25).OnValueChanged("Txt_RefNo_ValueChange_Rpt") )
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="row">
                                            <div class="col-sm-2 col-md-4 pll align-rts">
                                                <label id="lbl_rpt_Ref_Date" class="control-label disabletxt" for="Rpt_Txt_Ref_Date">Date:</label>
                                            </div>
                                            <div class="col-sm-10 col-md-8 prm">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Rpt_Txt_Ref_Date").Name("Rpt_Txt_Ref_Date").Value(Model.Rpt_Txt_Ref_Date).Min(new DateTime(1900,1,1)) )
                                                @Html.ValidationMessageFor(model => model.Rpt_Txt_Ref_Date, "", new { @class = "text-red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="row">
                                            <div class="col-sm-2 col-md-5 pll">
                                                <label id="lbl_rpt_Ref_Cdate" class="control-label disabletxt" for="Rpt_Txt_Ref_CDate">Clearing Date :</label>
                                            </div>
                                            <div class="col-sm-10 col-md-7 prm">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Rpt_Txt_Ref_CDate").Name("Rpt_Txt_Ref_CDate").Value(Model.Rpt_Txt_Ref_CDate).Min(new DateTime(1900, 1, 1)) )
                                                @Html.ValidationMessageFor(model => model.Rpt_Txt_Ref_CDate, "", new { @class = "text-red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div><!--[ref bank]-->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-field">
                    <fieldset id="rpt_LayoutControlItem1" class="default-fieldset">
                        <legend id="lbl_rpt_Bank_Title" class="custom-legend mlm disabletxt"> Deposited Bank Detail:</legend>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 ">
                                <div class="row">
                                    <div class="col-sm-2 pll">
                                        <label id="lbl_rpt_Bank_Name" class="control-label disabletxt" for="Name">Bank Name:</label>
                                    </div>
                                    <div class="col-sm-10 prm mrb-2">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Rpt_GLookUp_BankList").Name("Rpt_GLookUp_BankList").ValueExpr("BA_ID").DisplayExpr("BANK_NAME")
                                        .DataSource(Model.DepBankList_DD_Data_Rpt, "BA_ID").Value(Model.Rpt_GLookUp_BankList).Placeholder("Select Bank...").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("GLookUp_BankList_EditValueChanged_Rpt").ContentTemplate(@<text> @Html.Partial("ReceiptDepositeLookUp_GetBankList") </text>))

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-4 pll">
                                                <label class="control-label disabletxt" id="lbl_rpt_Branch_Name" for="Name">Branch Name:</label>
                                            </div>
                                            <div class="col-sm-8 prm mrb-2">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Rpt_BE_Bank_Branch").Name("Rpt_BE_Bank_Branch").ReadOnly(true))
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <div class="row">
                                            <div class="col-sm-3 pll">
                                                <label class="control-label disabletxt" id="lbl_rpt_Acc_No" for="Name">A/C No.:</label>
                                            </div>
                                            <div class="col-sm-9 prm mrb-2">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Rpt_BE_Bank_Acc_No").Name("Rpt_BE_Bank_Acc_No").ReadOnly(true))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div><!--[dep bank]-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-4 pll">
                            <label class="control-label text-red" id="lbl_rpt_purpose" for="Name">Purpose:</label>
                        </div>
                        <div class="col-sm-8 prm">
                            @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Rpt_GLookUp_PurList").Name("Rpt_GLookUp_PurList").DataSource(Model.PurposeList_Data_Rpt, "PUR_ID")
                                              .DisplayExpr("PUR_NAME").ValueExpr("PUR_ID").Value(Model.Rpt_GLookUp_PurList).Placeholder("Select Purpose...").ReadOnly(true).FocusStateEnabled(false))
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-6 pll">
                            <label class="control-label" id="lbl_rpt_sliptxn" for="Name">Slip Txn No.:</label>
                        </div>
                        <div class="col-sm-6 prm">
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Rpt_Txt_Slip_Count").Name("Rpt_Txt_Slip_Count").Value(Model.Rpt_Txt_Slip_Count).Placeholder("Slip txn No").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("Txt_Amount_EditValueChanged_Rpt") )
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="form-field">
                    <div class="row">
                        <div class="col-sm-4 pll">
                            <label class="control-label" id="lbl_rpt_slipNo" for="Name">Slip No.:</label>
                        </div>
                        <div class="col-sm-8 prm">
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Rpt_Txt_Slip_No").Name("Rpt_Txt_Slip_No").Value(Model.Rpt_Txt_Slip_No).Placeholder("Slip no").ReadOnly(true).FocusStateEnabled(false).OnValueChanged("Txt_Slip_No_EditValueChanged_Rpt").Format("#0"))
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div id="Rpt_NarrationDiv" class="col-sm-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-sm-2 pll">
                                    <label class="control-label" id="lbl_rpt_narration" for="Name">Narration :</label>
                                </div>
                                <div class="col-sm-10 prm mrb-2">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Rpt_Txt_Narration").Name("Rpt_Txt_Narration").Value(Model.Rpt_Txt_Narration).Placeholder("Type any Narration...").MaxLength(250) )

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 pll">
                                    <label class="control-label" id="lbl_rpt_remarks" for="Name">Remarks :</label>
                                </div>
                                <div class="col-sm-10 prm mrb-2">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Rpt_Txt_Remarks").Name("Rpt_Txt_Remarks").Value(Model.Rpt_Txt_Remarks).Placeholder("Type any Other Detail / Remarks...").MaxLength(250) )

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 pll">
                                    <label class="control-label" id="lbl_rpt_reference" for="Name">Reference :</label>
                                </div>
                                <div class="col-sm-10 prm mrb-2">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Rpt_Txt_Reference").Name("Rpt_Txt_Reference").Value(Model.Rpt_Txt_Reference).Placeholder("Type any Reference Details...").MaxLength(250) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4" id="Rpt_SpecialVoucherRefDiv">
                <div class="form-field ">
                    <div class="dx-texteditor-container">
                        @(Html.DevExtreme().List().CustomList().ID("ListSpecialVoucherRef_Rpt")
                            .DataSource(Model.SpecialReferenceList_Data_Rpt, "Task_Name")
                            .SearchEnabled(false)
                            .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                            .KeyExpr("Task_Name")
                            .DisplayExpr("Task_Name")
                            .OnSelectionChanged("OnSplVchrRefsListSelectionChanged_Rpt")
                            .Height(72).ShowScrollbar(ShowScrollbarMode.Always).UseNativeScrolling(false)
                            .ShowSelectionControls(true)
                            .SelectedItemKeys(Model.SpecialReference_Get_SelectedValue_Rpt))
                    </div>
                </div>
            </div>
        </div>
        


        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Receipt)...", Model.ActionMethod.Substring(1)))
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().ID("BUT_SAVE_Receipt").CustomSaveButton(Model.ActionMethod.ToString()).Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_New_From_Selection" || Model.ActionMethod.ToString().Trim() == "_Edit") ? "Save" : "Delete").UseSubmitBehavior(false).Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true).OnClick("Frm_Voucher_Win_Receipt_SaveClick").ValidationGroup("Receipt_Voucher") )
                            @(Html.DevExtreme().Button().ID("BUT_CANCEL_Receipt").CustomCloseButton().Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit" || Model.ActionMethod.ToString().Trim() == "_Delete") ? "Cancel" : "Close").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[Buttons]-->
    </div>
        }
    }
</div>
    @(Html.DevExtreme().Popup().CustomPopup().ID("Rpt_Add_Party").OnShowing("PopupOnShowing").CloseOnOutsideClick(false).Height("500").Width("1000").ShowTitle(true).Title("New ~ Address Book").ContentTemplate(@<text> <div id="result_RptAddParty"> </div> </text>) )



    <script>
        var Rpt_Item_DataGrid;
        var Rpt_DepBank_DataGrid;
        var Rpt_RefBank_DataGrid;
        var Rpt_Party_DataGrid;
        var Rpt_Payment_Datagrid;
        var Rpt_Item_DDrefresh = false;
        var Rpt_DepBank_DDrefresh = false;
        var Rpt_RefBank_DDrefresh = false;
        var Rpt_Party_DDrefresh = false;
        var Rpt_Payment_DDrefresh = false;
        var AdjustmentDDRefresh_Rpt = false;
        var PartyID_Rpt = null;
        var IsDeposit_Rpt = false;
        var Rpt_Item_Enable = true;
        var Rpt_Item_ReadOnly = true;
        var Rpt_DepBank_Enable = true;
        var Rpt_DepBank_ReadOnly = true;
        var Rpt_RefBank_Enable = true;
        var Rpt_RefBank_ReadOnly = true;
        var Rpt_Payment_Enable = true;
        var Rpt_Payment_ReadOnly = true;
        var Rpt_SlipNo_Enable = false;
        var Rpt_SlipNo_ReadOnly = false;
        var Rpt_SlipCount_Enable = false;
        var Rpt_SlipCount_ReadOnly = true;
        var Cnt_BankAccount_Rpt = -1;
        var Rpt_ReceiptType_Enable = true;
        var Rpt_ReceiptType_ReadOnly = false;
    </script>
    @*Receipt_Global_Variables*@

<script>
    function InitAllDropdownDatagrid_Rpt()
    {
        var $Rpt_Item_DataGrid = $("#Frm_Voucher_Win_Gen_Rec_Receipt_LookUp_GetItemList_datagrid");
        if ($Rpt_Item_DataGrid.length)
        {
            Rpt_Item_DataGrid = $Rpt_Item_DataGrid.dxDataGrid("instance");
        }
        var $Rpt_DepBank_DataGrid = $("#Frm_Voucher_Win_Gen_Rec_ReceiptDepositeLookUp_GetBankList_datagrid");
        if ($Rpt_DepBank_DataGrid.length)
        {
            Rpt_DepBank_DataGrid = $Rpt_DepBank_DataGrid.dxDataGrid("instance");
        }
        var $Rpt_RefBank_DataGrid = $("#Frm_Voucher_Win_Gen_Rec_ReceiptLookUp_GetRefBankList_datagrid");
        if ($Rpt_RefBank_DataGrid.length)
        {
            Rpt_RefBank_DataGrid = $Rpt_RefBank_DataGrid.dxDataGrid("instance");
        }
        var $Rpt_Party_DataGrid = $("#Frm_Voucher_Win_Gen_Rec_Receipt_LookUp_GetPartyList_datagrid");
        if ($Rpt_Party_DataGrid.length)
        {
            Rpt_Party_DataGrid = $Rpt_Party_DataGrid.dxDataGrid("instance");
        }
        var $Rpt_Payment_Datagrid = $("#Frm_Voucher_Win_Gen_Rec_Receipt_LookUp_GetAdjustmentList_datagrid");
        if ($Rpt_Payment_Datagrid.length)
        {
            Rpt_Payment_Datagrid = $Rpt_Payment_Datagrid.dxDataGrid("instance");
        }
    }
    async function LookUp_GetItemList_Rpt(FirstCall=false)
    {
        var item_DD_Arr = GetDataSourceItems("Rpt_GLookUp_ItemList", "dxDropDownBox");
        var TotalCount = item_DD_Arr.length;
        if (TotalCount == 1)
        {
            $("#Rpt_GLookUp_ItemList").find('input').css('color', '#000080');
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                await Rpt_Item_DataGrid.selectRows(item_DD_Arr[0].ITEMID);
                Rpt_Item_Enable = false;
                Control_SetReadOnly("Rpt_GLookUp_ItemList", "dxDropDownBox", (Rpt_Item_Enable == true && Rpt_Item_ReadOnly == false) ? false : true);
            }
        }
        else
        {
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                Rpt_Item_ReadOnly = false;
                Control_SetReadOnly("Rpt_GLookUp_ItemList", "dxDropDownBox", (Rpt_Item_Enable == true && Rpt_Item_ReadOnly == false) ? false : true);
            }
        }
    }

    async function LookUp_GetBankList_Rpt(FirstCall=false)
    {
        Rpt_DepBank_ReadOnly = false;
        Control_SetReadOnly("Rpt_GLookUp_BankList", "dxDropDownBox", (Rpt_DepBank_Enable == true && Rpt_DepBank_ReadOnly == false) ? false : true);
        var item_DD_Arr = GetDataSourceItems("Rpt_GLookUp_BankList", "dxDropDownBox");
        var TotalCount = item_DD_Arr.length;
        Cnt_BankAccount_Rpt = TotalCount;
        if (TotalCount <= 0)
        {
            Control_SetReadOnly("Rpt_Cmd_Mode", "dxSelectBox", true);
        }
        if (TotalCount == 1)
        {
            $("#Rpt_GLookUp_BankList").find("input").css("color", "#696969");
            $("#Rpt_BE_Bank_Branch").find("input").css("color", "#696969");
            $("#Rpt_BE_Bank_Acc_No").find("input").css("color", "#696969");
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                await Rpt_DepBank_DataGrid.selectRows(item_DD_Arr[0].BA_ID);
                Rpt_DepBank_Enable = false;
                Control_SetReadOnly("Rpt_GLookUp_BankList", "dxDropDownBox", (Rpt_DepBank_Enable == true && Rpt_DepBank_ReadOnly == false) ? false : true);
            }
        }
        else
        {
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                Rpt_DepBank_ReadOnly = false;
                Control_SetReadOnly("Rpt_GLookUp_BankList", "dxDropDownBox", (Rpt_DepBank_Enable == true && Rpt_DepBank_ReadOnly == false) ? false : true);
            }
        }
        if ($("#SelectedBankID").val() != null && $("#SelectedBankID").val().length > 0)
        {
            await Rpt_DepBank_DataGrid.selectRows($("#SelectedBankID").val(), false);
        }
        if ($("#SelectedDepositSlipNo").val() != null && parseInt($("#SelectedDepositSlipNo").val()) > 0)
        {
            $("#Rpt_Txt_Slip_No").dxNumberBox("instance").option("value", parseInt($("#SelectedDepositSlipNo").val()));
        }
    }

    async function LookUp_GetRefBankList_Rpt(FirstCall=false)
    {
        if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
        {
            Rpt_RefBank_ReadOnly = false;
            Control_SetReadOnly("Rpt_GLookUp_RefBankList", "dxDropDownBox", (Rpt_RefBank_Enable == true && Rpt_RefBank_ReadOnly == false) ? false : true);
        }
        if ($("#SelectedRefBankID").val() != null && $("#SelectedRefBankID").val().length > 0)
        {
            await Rpt_RefBank_DataGrid.selectRows($("#SelectedRefBankID").val(), false);
        }
    }
    async function LookUp_GetPartyList_Rpt(FirstCall=false)
    {
        var item_DD_Arr = GetDataSourceItems("Rpt_GLookUp_PartyList1", "dxDropDownBox");
        //var TotalCount = item_DD_Arr.length;
        if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
        {
            Control_SetReadOnly("Rpt_GLookUp_PartyList1", "dxDropDownBox", false);
        }
        Rpt_Party_DataGrid.clearSelection();
        if (FirstCall === false)
        {
            await Refresh_Party_DD_Ajax();
        }
        $("#Rpt_GLookUp_PartyList1").dxDropDownBox("focus");
    }
    async function Refresh_Party_DD_Ajax() {
        $.ajax({
            type: 'GET',
            url: "/Account/ReceiptVoucher/Refresh_LookUp_GetPartyList",
            cache: false,
            success: function (_data) {
                $("#Rpt_GLookUp_PartyList1").dxDropDownBox("option", "dataSource", new DevExpress.data.ArrayStore({
                    key: "C_ID",
                    data: _data
                }));
                Rpt_Party_DataGrid.option("dataSource", $("#Rpt_GLookUp_PartyList1").dxDropDownBox("option", "dataSource"))
                $("#Rpt_GLookUp_PartyList1").dxDropDownBox("focus");
            }
        });
    }
    async function GLookUp_Adjustment_List_Rpt(FirstCall)
    {
        if (FirstCall == false) {
            let Payment_DD = await Refresh_Payment_DD_Ajax();
            $("#Rpt_GLookUp_Adjustment").dxDropDownBox("option", "dataSource", new DevExpress.data.ArrayStore({
                key: "REF_ID",
                data: Payment_DD
            }));
            Rpt_Payment_Datagrid.option("dataSource", $("#Rpt_GLookUp_Adjustment").dxDropDownBox("option", "dataSource"));
            $("#Rpt_GLookUp_Adjustment").dxDropDownBox("focus");
        }
        var DsPayment = GetDataSourceItems('Rpt_GLookUp_Adjustment', "dxDropDownBox");
        var xDviewCount = DsPayment.length;
        if (xDviewCount > 0)
        {
            LayoutControlItem11_Enable_Rpt(true);
            $("#lbl_Adjust_Title").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Payment").removeClass("disabletxt").addClass("text-red");
            $("#lbl_rpt_Out_Standing").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Diff").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Diff").removeClass("disabletxt").removeClass("text-red");
            document.getElementById('lbl_rpt_Diff').style.color = "blue";
            if ($("#Rpt_RAD_Receipt").dxRadioGroup("instance").option("readOnly") == false)
            {
                $("#lbl_rpt_Receipt").removeClass("disabletxt").removeClass("text-red");
            }
            else
            {
                $("#lbl_rpt_Receipt").addClass("disabletxt").removeClass("text-red");
            }
            $("#Rpt_GLookUp_Adjustment").find("input").css("color", "#000080");
            $("#Rpt_Txt_Out_Standing").find("input").css("color", "#000080");
        }
        else
        {
            LayoutControlItem11_Enable_Rpt(false);
            $("#lbl_Adjust_Title").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Payment").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Out_Standing").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Diff").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Receipt").addClass("disabletxt").removeClass("text-red");

            $("#Rpt_GLookUp_Adjustment").find("input").css("color", "#696969");
            $("#Rpt_Txt_Out_Standing").find("input").css("color", "#696969");
            Rpt_Payment_Datagrid.clearSelection();
            $("#Rpt_Txt_Out_Standing").dxNumberBox("instance").reset();
        }
        if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
        {
            Rpt_Payment_ReadOnly = false;
            Control_SetReadOnly("Rpt_GLookUp_Adjustment", "dxDropDownBox", (Rpt_Payment_Enable == true && Rpt_Payment_ReadOnly == false) ? false : true);
        }
    }
    async function Refresh_Payment_DD_Ajax() {
        return $.ajax({
            type: 'GET',
            url: "/Account/ReceiptVoucher/Refresh_Party_Outstanding_DepositsAndOutstanding_Advances",
            data: {
                ItemID: $('#iLink_ID').val(),
                TR_M_ID: $('#xMID').val(),
                PartyID: PartyID_Rpt,
                IsDeposit: IsDeposit_Rpt
            },
            cache: false
        });
    }
    async function LookUp_GetPurposeList_Rpt()
    {
        if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
        {
            Rpt_Item_ReadOnly = false;
            Control_SetReadOnly("Rpt_GLookUp_PurList", "dxSelectBox",false);
        }
    }
</script> @*dropdown initialization*@

    <script>
    function Receipt_Cmd_Mode_SelectedIndexChanged_Rpt(e, FirstCall = false)
    {
        if (e && e.value == null)
        {
            return;
        }
        var mode = $("#Rpt_Cmd_Mode").dxSelectBox('instance').option('value');
        $("#Rpt_Txt_Ref_No").find("input").removeClass("OnlyDigit");
        if (mode.toUpperCase() == "CASH")
        {
            $("#rpt_LayoutControlItem1").prop("disabled", true);
            $("#rpt_LayoutControlItem3").prop("disabled", true);
            if (Cnt_BankAccount_Rpt > 1)
            {
                Rpt_DepBank_DataGrid.clearSelection();
                $("#Rpt_BE_Bank_Branch").dxTextBox("instance").reset();
                $("#Rpt_BE_Bank_Acc_No").dxTextBox("instance").reset();
            }
            else
            {
                $("#Rpt_GLookUp_BankList").find('input').css("color", "#696969");
                $("#Rpt_BE_Bank_Branch").find('input').css("color", "#696969");
                $("#Rpt_BE_Bank_Acc_No").find('input').css("color", "#696969");
            }
            Rpt_RefBank_DataGrid.clearSelection();
            $("#Rpt_GLookUp_RefBankList").dxDropDownBox("instance").reset();
            $("#Rpt_Txt_Ref_Branch").dxTextBox("instance").reset();
            $("#Rpt_Txt_Ref_No").dxTextBox("instance").reset();
            $("#Rpt_Txt_Ref_Date").dxDateBox("instance").reset();
            $("#Rpt_Txt_Ref_CDate").dxDateBox("instance").reset();

            $("#lbl_rpt_Bank_Title").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Bank_Name").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Branch_Name").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Acc_No").addClass("disabletxt").removeClass("text-red");

            $("#lbl_rpt_Ref_Bank").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Ref_Branch").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Ref_Title").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Ref_No").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Ref_Date").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Ref_Cdate").addClass("disabletxt").removeClass("text-red");

            $("#lbl_rpt_Ref_Title").text("Reference Detail:");
            $("#Rpt_Txt_Ref_No").dxTextBox("option", "placeholder", "Type No...");
            $("#lbl_rpt_Ref_No").text("Ref. No.:");
            $("#lbl_rpt_Ref_Date").text("Date:");
            $("#lbl_rpt_Ref_Cdate").text("Clearing Date:");

            Rpt_SlipNo_Enable = false;
            Control_SetReadOnly("Rpt_Txt_Slip_No", "dxNumberBox", (Rpt_SlipNo_Enable == true && Rpt_SlipNo_ReadOnly == false) ? false : true);
            Rpt_SlipCount_Enable = false;
            Control_SetReadOnly("Rpt_Txt_Slip_Count", "dxNumberBox", (Rpt_SlipCount_Enable == true && Rpt_SlipCount_ReadOnly == false) ? false : true);
            $("#lbl_rpt_slipNo").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_sliptxn").addClass("disabletxt").removeClass("text-red");
        }
        else if (mode.toUpperCase() == "BANK ACCOUNT")
        {
            $("#rpt_LayoutControlItem1").prop("disabled", false);
            $("#rpt_LayoutControlItem3").prop("disabled", true);
            if (Cnt_BankAccount_Rpt > 1)
            {
                if (FirstCall == false) {
                    Rpt_DepBank_DataGrid.clearSelection();
                    $("#Rpt_BE_Bank_Branch").dxTextBox("instance").reset();
                    $("#Rpt_BE_Bank_Acc_No").dxTextBox("instance").reset();
                }
            }
            else
            {
                $("#Rpt_GLookUp_BankList").find('input').css("color", "#000080");
                $("#Rpt_BE_Bank_Branch").find('input').css("color", "#000080");
                $("#Rpt_BE_Bank_Acc_No").find('input').css("color", "#000080");
            }
            if (FirstCall == false){
                Rpt_RefBank_DataGrid.clearSelection();
                $("#Rpt_Txt_Ref_Branch").dxTextBox("instance").reset();
                $("#Rpt_Txt_Ref_No").dxTextBox("instance").reset();
                $("#Rpt_Txt_Ref_Date").dxDateBox("instance").reset();
                $("#Rpt_Txt_Ref_CDate").dxDateBox("instance").reset();
            }
            $("#lbl_rpt_Bank_Title").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Bank_Name").removeClass("disabletxt").addClass("text-red");
            $("#lbl_rpt_Branch_Name").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Acc_No").removeClass("disabletxt").removeClass("text-red");

            $("#lbl_rpt_Ref_Bank").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Ref_Branch").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Ref_Title").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Ref_No").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Ref_Date").addClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Ref_Cdate").addClass("disabletxt").removeClass("text-red");

            $("#lbl_rpt_Ref_Title").text("Reference Detail");
            $("#lbl_rpt_Ref_No").text("Ref. No.:");
            $("#lbl_rpt_Ref_Date").text("Date:");
            $("#lbl_rpt_Ref_Cdate").text("Clearing Date:");

            Rpt_SlipNo_Enable = true;
            Control_SetReadOnly("Rpt_Txt_Slip_No", "dxNumberBox", (Rpt_SlipNo_Enable == true && Rpt_SlipNo_ReadOnly == false) ? false : true);
            Rpt_SlipCount_Enable = true;
            Control_SetReadOnly("Rpt_Txt_Slip_Count", "dxNumberBox", (Rpt_SlipCount_Enable == true && Rpt_SlipCount_ReadOnly == false) ? false : true);
            $("#lbl_rpt_slipNo").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_sliptxn").removeClass("disabletxt").removeClass("text-red");
        }
        else if (mode.toUpperCase() == "CASH TO BANK") {
            $("#rpt_LayoutControlItem1").prop("disabled", false);
            $("#rpt_LayoutControlItem3").prop("disabled", false);

            $("#lbl_rpt_Bank_Name").removeClass("disabletxt").addClass("text-red");
            $("#lbl_rpt_Acc_No").removeClass("disabletxt").addClass("text-red");

            Rpt_RefBank_Enable = false;
            Control_SetReadOnly("Rpt_GLookUp_RefBankList", "dxDropDownBox", (Rpt_RefBank_Enable == true && Rpt_RefBank_ReadOnly == false) ? false : true);
            Control_SetReadOnly("Rpt_Txt_Ref_Branch", "dxTextBox",true);
            Control_SetReadOnly("Rpt_Txt_Ref_No", "dxTextBox", true);

            $("#lbl_rpt_Ref_Bank").addClass("disabletxt").removeClass("text-red");
            $("#Rpt_Txt_Ref_Branch").dxTextBox("instance").reset();
            Rpt_RefBank_DataGrid.clearSelection();

            $("#lbl_rpt_Ref_No").text("Ref. No.:");
            $("#lbl_rpt_Ref_No").removeClass("disabletxt").addClass("text-red");
            Control_SetReadOnly("Rpt_Txt_Ref_No","dxTextBox",false);
            $("#lbl_rpt_Ref_Title").text("Detail:");

            $("#lbl_rpt_Ref_Date").text("Date:");
            $("#lbl_rpt_Ref_Date").removeClass("disabletxt").addClass("text-red");
            Control_SetReadOnly("Rpt_Txt_Ref_Date", "dxDateBox", false);

            $("#lbl_rpt_Ref_Cdate").text("Clearing Date:");
            $("#lbl_rpt_Ref_Cdate").removeClass("disabletxt").removeClass("text-red");
            Control_SetReadOnly("Rpt_Txt_Ref_CDate","dxDateBox", false);

            $("#lbl_rpt_Ref_Branch").addClass("disabletxt").removeClass("text-red");
            if (FirstCall == false) {
                $("#Rpt_Txt_Ref_No").dxTextBox("instance").reset();
                $("#Rpt_Txt_Ref_Date").dxDateBox("instance").reset();
                $("#Rpt_Txt_Ref_CDate").dxDateBox("instance").reset();
            }
        }
        else
        {
            $("#rpt_LayoutControlItem1").prop("disabled", false);
            $("#rpt_LayoutControlItem3").prop("disabled", false);
            if (Cnt_BankAccount_Rpt > 1)
            {
                if (FirstCall == false) {
                    Rpt_DepBank_DataGrid.clearSelection();
                    $("#Rpt_GLookUp_BankList").dxDropDownBox("instance").reset();
                    $("#Rpt_BE_Bank_Branch").dxTextBox("instance").reset();
                    $("#Rpt_BE_Bank_Acc_No").dxTextBox("instance").reset();
                }
            }
            else
            {
                $("#Rpt_GLookUp_BankList").find('input').css("color", "#000080");
                $("#Rpt_BE_Bank_Branch").find('input').css("color", "#000080");
                $("#Rpt_BE_Bank_Acc_No").find('input').css("color", "#000080");
            }
            if (FirstCall == false) {
                Rpt_RefBank_DataGrid.clearSelection();
                $("#Rpt_Txt_Ref_Branch").dxTextBox("instance").reset();
                $("#Rpt_Txt_Ref_No").dxTextBox("instance").reset();
                $("#Rpt_Txt_Ref_Date").dxDateBox("instance").reset();
                $("#Rpt_Txt_Ref_CDate").dxDateBox("instance").reset();
            }
            $("#lbl_rpt_Bank_Title").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Bank_Name").removeClass("disabletxt").addClass("text-red");
            $("#lbl_rpt_Branch_Name").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Acc_No").removeClass("disabletxt").removeClass("text-red");

            $("#lbl_rpt_Ref_Bank").removeClass("disabletxt").addClass("text-red");
            $("#lbl_rpt_Ref_Branch").removeClass("disabletxt").addClass("text-red");
            $("#lbl_rpt_Ref_Title").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_Ref_No").removeClass("disabletxt").addClass("text-red");
            $("#lbl_rpt_Ref_Date").removeClass("disabletxt").addClass("text-red");
            $("#lbl_rpt_Ref_Cdate").removeClass("disabletxt").removeClass("text-red");

            Rpt_SlipNo_Enable = true;
            Control_SetReadOnly("Rpt_Txt_Slip_No", "dxNumberBox", (Rpt_SlipNo_Enable == true && Rpt_SlipNo_ReadOnly == false) ? false : true);
            Rpt_SlipCount_Enable = true;
            Control_SetReadOnly("Rpt_Txt_Slip_Count", "dxNumberBox", (Rpt_SlipCount_Enable == true && Rpt_SlipCount_ReadOnly == false) ? false : true);
            $("#lbl_rpt_slipNo").removeClass("disabletxt").removeClass("text-red");
            $("#lbl_rpt_sliptxn").removeClass("disabletxt").removeClass("text-red");

            Control_SetReadOnly("Rpt_GLookUp_RefBankList", "dxDropDownBox", false);
            Control_SetReadOnly("Rpt_Txt_Ref_Branch", "dxTextBox", false);
        }
        if (FirstCall == false) {
            $("#Rpt_Txt_Slip_No").dxNumberBox("instance").reset();
            $("#Rpt_Txt_Slip_Count").dxNumberBox("instance").reset();
        }        
        $("#Rpt_Txt_Ref_No").dxTextBox("instance").option("maxLength", 25);
        if (mode.toUpperCase() == "CHEQUE")
        {
            $("#lbl_rpt_Ref_Title").text("Cheque Detail:");
            $("#lbl_rpt_Ref_No").text("Cheque No.:");
            $("#lbl_rpt_Ref_Date").text("Cheque Date:");
            $("#Rpt_Txt_Ref_No").dxTextBox("instance").option("maxLength", 6);
            $("#Rpt_Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type Cheque No...");
            $("#Rpt_Txt_Ref_No").find("input").addClass("OnlyDigit");
        }
        if (mode.toUpperCase() == "DD")
        {
            $("#lbl_rpt_Ref_Title").text("D.D. Detail:");
            $("#lbl_rpt_Ref_No").text("D.D. No.:");
            $("#lbl_rpt_Ref_Date").text("D.D. Date:");
            $("#Rpt_Txt_Ref_No").dxTextBox("instance").option("maxLength", 6);
            $("#Rpt_Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type D.D. No...");
            $("#Rpt_Txt_Ref_No").find("input").addClass("OnlyDigit");
        }
        if (mode.toUpperCase() == "BANK ACCOUNT") {
            $("#lbl_rpt_Ref_Title").text("Reference Detail:");
            $("#lbl_rpt_Ref_No").text("Ref. No.:");
            $("#lbl_rpt_Ref_Date").text("Date:");

            $("#Rpt_Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type Ref. No...");
        }
        if (mode.toUpperCase() == "CBS" || mode.toUpperCase() == "RTGS" || mode.toUpperCase() == "NEFT" || mode.toUpperCase() == "ECS")
        {
            $("#lbl_rpt_Ref_Title").text(mode.toUpperCase()+" Detail:");
            $("#lbl_rpt_Ref_No").text("Ref. No.:");
            $("#lbl_rpt_Ref_Date").text("Date:");

            $("#Rpt_Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type Ref. No...");

        }
        if (mode.toUpperCase() == "CBS" && ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection"))
        {
            Rpt_RefBank_DataGrid.selectRows($("#lbl_Ref_No_Tag").val(), false);
        }
        GLookUp_BankList_EditValueChanged_Rpt(null, FirstCall);
        RPT_cmdmode_validations();
    }
    function RPT_cmdmode_validations()
    {
        $("#Rpt_Txt_Ref_No").dxTextBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options)
                    {
                        var result = true;
                        var RPT_Cmd_Mode = $("#Rpt_Cmd_Mode").dxSelectBox('instance').option('value');
                        if (RPT_Cmd_Mode == "CHEQUE" || RPT_Cmd_Mode == "DD")
                        {
                            var reg = /^[0-9]{6,6}$/;
                            if (!(reg.test(options.value))) {
                                result = false
                            }
                        }
                        return result;
                    },
                    reevaluate:true,
                    message: 'Invalid Format (Need To Be of 6 Digits)'
                }],
                validationGroup: "Receipt_Voucher"
            });
        $("#Rpt_Txt_V_Date").dxDateBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options)
                    {
                        return true;
                    },
                    reevaluate: true
                }],
                validationGroup: "Receipt_Voucher"
            });
    }
    //$("#Rpt_Txt_Ref_No").keypress(function (e) {
    //    var mode = $("#Rpt_Cmd_Mode").dxSelectBox('instance').option('value');
    //    if (mode == "CHEQUE" || mode == "DD") {
    //        e = e || window.event;
    //        key = e.keyCode || e.which;
    //        //For Firefox
    //        if (key == 8 || key == 127 || key == 9)
    //            return true
    //        var txt = String.fromCharCode(key);
    //        var reg = /[0-9]/;
    //        if (reg.test(txt))
    //            return true;

    //        e.preventDefault();
    //        return false;
    //    }
    //});

    </script> @*Rpt_Cmd_Mode change*@

    <script>
        function Rpt_GetSlipTxnCount()
        {
            return $.ajax({
                type: 'POST',
                url: "/Account/ReceiptVoucher/GetSlipTxnCount",
                data:
                {
                    SlipNo: $("#Rpt_Txt_Slip_No").dxNumberBox("instance").option("value"),
                    BankId: $("#Rpt_GLookUp_BankList").dxDropDownBox("instance").option('value'),
                    xMID: $("#xMID").val()
                },
                async: false,
                cache: false
            });
        }
        function Rpt_GetMaxOpenSlipNo()
        {
            return $.ajax({
                type: 'POST',
                url: "/Account/ReceiptVoucher/GetMaxOpenSlipNo",
                data:
                {
                    BankId: $("#Rpt_GLookUp_BankList").dxDropDownBox("instance").option('value')
                },
                async: false,
                cache: false
            });
        }

        async function GLookUp_ItemList_EditValueChanged_Rpt(e, FirstCall=false)
        {
            var itemId;
            if (e) {
                itemId = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    Rpt_Item_DataGrid.clearSelection();
                    return;
                }
            }
            else {
                itemId = $("#Rpt_GLookUp_ItemList").dxDropDownBox("option", "value");
            }
            await Rpt_Item_DataGrid.selectRows(itemId);
            if (Rpt_Item_DataGrid.getSelectedRowsData().length > 0)
            {
                var item = Rpt_Item_DataGrid.getSelectedRowsData()[0];
                $("#Rpt_BE_Item_Head").dxTextBox("instance").option("value", item["LED_NAME"]);
                $("#iVoucher_Type").val(item["ITEM_VOUCHER_TYPE"]);
                $("#iLed_ID").val(item["ITEM_LED_ID"]);
                $("#iTrans_Type").val(item["ITEM_TRANS_TYPE"]);
                $("#iParty_Req").val(item["ITEM_PARTY_REQ"]);
                if ($("#iParty_Req").val().toUpperCase() == "YES")
                {
                    $("#lbl_rpt_partyname").addClass("text-red").removeClass("disabletxt");
                }
                else
                {
                    $("#lbl_rpt_partyname").removeClass("text-red").removeClass("disabletxt");
                }
                $("#iProfile").val(item["ITEM_PROFILE"]);
                $("#iCond_Ledger_ID").val(item["ITEM_CON_LED_ID"]);
                $("#iMinValue").val(item["ITEM_CON_MIN_VALUE"]);
                $("#iMaxValue").val(item["ITEM_CON_MAX_VALUE"]);
                $("#iTDS_CODE").val(item["ITEM_TDS_CODE"]);
                $("#iLink_ID").val(item["ITEM_LINK_REC_ID"]);
                $("#iOffSet_ID").val(item["ITEM_OFFSET_REC_ID"]);
                $("#iOffSet_Item").val(item["ITEM_OFFSET_NAME"]);
                Rpt_ReceiptType_Enable = true;
                Control_SetReadOnly("Rpt_RAD_Receipt", "dxRadioGroup", (Rpt_ReceiptType_Enable == true && Rpt_ReceiptType_ReadOnly == false) ? false : true);
                LayoutControlItem11_Enable_Rpt(false);
                if (FirstCall == false) {
                    $("#Rpt_RAD_Receipt").dxRadioGroup("instance").option("value", 0);
                    Rpt_Party_DataGrid.clearSelection();
                    Rpt_Payment_Datagrid.clearSelection();
                    $("#Rpt_Txt_Out_Standing").dxNumberBox("instance").reset();
                    $("#Rpt_Txt_Diff").dxNumberBox("instance").reset();
                    $("#lbl_rpt_Diff").text("Difference:");
                    $("#Rpt_Txt_Amount").dxNumberBox("instance").reset();
                }                
            }
        }
        async function GLookUp_BankList_EditValueChanged_Rpt(e, FirstCall=false)
        {
            let itemId;
            if (e) {
                itemId = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    Rpt_DepBank_DataGrid.clearSelection();
                    Rpt_SlipNo_Enable = false;
                    Control_SetReadOnly("Rpt_Txt_Slip_No", "dxNumberBox", (Rpt_SlipNo_Enable == true && Rpt_SlipNo_ReadOnly == false) ? false : true);
                    $("#lbl_rpt_slipNo").addClass("disabletxt").removeClass("text-red");
                    return;
                }
            }
            else {
                itemId = $('#Rpt_GLookUp_BankList').dxDropDownBox("option", "value")
            }
            await Rpt_DepBank_DataGrid.selectRows(itemId);
            if (Rpt_DepBank_DataGrid.getSelectedRowsData().length > 0 && $("#Rpt_Cmd_Mode").dxSelectBox('instance').option('value') != "CASH")
            {
                var item = Rpt_DepBank_DataGrid.getSelectedRowsData()[0];
                $("#Rpt_BE_Bank_Branch").dxTextBox("instance").option('value', item["BANK_BRANCH"]);
                $("#Rpt_BE_Bank_Acc_No").dxTextBox("instance").option('value', item["BANK_ACC_NO"]);
                $("#Bank_REC_EDIT_ON").val(JS_Json_Date_To_ddMMyyyy(item["REC_EDIT_ON"]));
                $("#lbl_Ref_No_Tag").val(item["BANK_ID"]);
                if (FirstCall == false) {
                    setTimeout(function () {
                        ShowLoader();
                        Rpt_GetMaxOpenSlipNo().done(function (data){
                            $("#Rpt_Txt_Slip_No").dxNumberBox("instance").option("value", data.count);
                            Rpt_SlipNo_Enable = true;
                            Control_SetReadOnly("Rpt_Txt_Slip_No", "dxNumberBox", (Rpt_SlipNo_Enable == true && Rpt_SlipNo_ReadOnly == false) ? false : true);
                            $("#lbl_rpt_slipNo").removeClass("disabletxt").removeClass("text-red");
                            HideLoader();
                            ShowLoader();
                            Rpt_GetSlipTxnCount().done(function (data)
                            {
                                $("#Rpt_Txt_Slip_Count").dxNumberBox("instance").option("value", data.count);
                                HideLoader();
                            });
                        });
                    }, 0);
                }
            }
            else
            {
                Rpt_SlipNo_Enable = false;
                Control_SetReadOnly("Rpt_Txt_Slip_No", "dxNumberBox", (Rpt_SlipNo_Enable == true && Rpt_SlipNo_ReadOnly == false) ? false : true);
                $("#lbl_rpt_slipNo").addClass("disabletxt").removeClass("text-red");
            }
        }
        async function GLookUp_RefBankList_EditValueChanged_Rpt(e, FirstCall=false)
        {
            let bankid;
            if (e) {
                bankid = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    Rpt_RefBank_DataGrid.clearSelection();
                    return;
                }
            }
            else
            {
                bankid = $('#Rpt_GLookUp_RefBankList').dxDropDownBox("option", "value")
            }
            await Rpt_RefBank_DataGrid.selectRows(bankid);
        }
        async function GLookUp_PartyList1_EditValueChanged_Rpt(e, FirstCall = false)
        {
            let partyId;
            if (e) {
                partyId = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    $("#Rpt_BE_PAN_No").dxTextBox("instance").option("value", null);
                    $("#Rpt_BE_City").dxTextBox("instance").option("value", null);
                    PartyID_Rpt = "";
                    Rpt_Party_DataGrid.clearSelection();
                    return;
                }
            }
            else {
                partyId = $("#Rpt_GLookUp_PartyList1").dxDropDownBox("instance").option("value");
            }
            await Rpt_Party_DataGrid.selectRows(partyId);
            if (Rpt_Party_DataGrid.getSelectedRowsData().length > 0)
            {
                var item = Rpt_Party_DataGrid.getSelectedRowsData()[0];
                PartyID_Rpt = item.C_ID;
                $("#Rpt_BE_PAN_No").dxTextBox("instance").option("value", item["C_PAN_NO"]);
                $("#Rpt_BE_City").dxTextBox("instance").option("value", item["C_CITY"]);
                $("#PartyList_REC_EDIT_ON").val(JS_Json_Date_To_ddMMyyyy(item["REC_Edit_ON"]));
                Rpt_ReceiptType_Enable = true;
                Control_SetReadOnly("Rpt_RAD_Receipt", "dxRadioGroup", (Rpt_ReceiptType_Enable == true && Rpt_ReceiptType_ReadOnly == false) ? false : true);
                LayoutControlItem11_Enable_Rpt(false);
                if (FirstCall == false) {
                    $("#Rpt_RAD_Receipt").dxRadioGroup("instance").option("value", 0);
                    Rpt_Payment_Datagrid.clearSelection();
                    $("#Rpt_Txt_Out_Standing").dxNumberBox("instance").reset();
                    $("#Rpt_Txt_Diff").dxNumberBox("instance").reset();
                    $('#lbl_rpt_Diff').text("Difference:");
                    $("#Rpt_Txt_Amount").dxNumberBox("instance").reset();
                }
                if ($("#iLink_ID").val() != null && $("#iLink_ID").val().length > 0){
                    if ($("#iProfile").val() == "OTHER DEPOSITS"){
                        IsDeposit_Rpt = true;
                        ShowLoader();
                        GLookUp_Adjustment_List_Rpt(FirstCall);
                        HideLoader();
                    }
                    if ($("#iProfile").val() == "ADVANCES"){
                        $("#Rpt_RAD_Receipt").dxRadioGroup("instance").option("value", 1);
                        Rpt_ReceiptType_Enable = false;
                        Control_SetReadOnly("Rpt_RAD_Receipt", "dxRadioGroup", (Rpt_ReceiptType_Enable == true && Rpt_ReceiptType_ReadOnly == false) ? false : true);
                        IsDeposit_Rpt = false;
                        ShowLoader();
                        GLookUp_Adjustment_List_Rpt(FirstCall);
                        HideLoader();
                    }
                }                
            }
        }
        function Party_Outstanding_Deposits(xParty_ID)
        {
            return $.ajax({
                type: 'POST',
                url: "/Account/ReceiptVoucher/GetPendingDeposits",
                data:
                {
                    Dep_ItemID: $("#iLink_ID").val(),
                    Dep_PartyID: xParty_ID,
                    TR_M_ID: $("#xMID").val()
                },
                async: false,
                cache: false
            });
        }
        function Party_Outstanding_Advances(xParty_ID)
        {
            return $.ajax({
                type: 'POST',
                url: "/Account/ReceiptVoucher/GetAdvances",
                data:
                {
                    Advance_ItemID: $("#iLink_ID").val(),
                    Advance_PartyID: xParty_ID,
                    TR_M_ID: $("#xMID").val()
                },
                async: false,
                cache: false
            });
        }
        async function GLookUp_Adjustment_EditValueChanged_Rpt(e, FirstCall=false)
        {
            let paymentId;
            if (e) {
                paymentId = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    Rpt_Payment_Datagrid.clearSelection();
                    return;
                }
            }
            else {
                paymentId = $("#Rpt_GLookUp_Adjustment").dxDropDownBox("option", "value");
            }
            await Rpt_Payment_Datagrid.selectRows(paymentId);
            if (Rpt_Payment_Datagrid.getSelectedRowsData().length > 0)
            {
                var item = Rpt_Payment_Datagrid.getSelectedRowsData()[0];
                $("#Rpt_Txt_Out_Standing").dxNumberBox("instance").option("value", item["REF_OUTSTAND"]);
                $("#REF_OUTSTAND_NEXT_YEAR").val(item["REF_OUTSTAND_NEXT_YEAR"]);
                if ($("#iOffSet_ID").val().length > 0)
                {
                    $("#lbl_rpt_Diff").text($("#iOffSet_Item").val() + ":")
                }
                else
                {
                    $("#lbl_rpt_Diff").text("Balance:")
                }
                Calc_Diff_Rpt();
            }
        }
        function Calc_Diff_Rpt()
        {
            var Rpt_Txt_Out_Standing = $("#Rpt_Txt_Out_Standing").dxNumberBox("instance").option("value");
            var RAD_ReceiptValue = $("#Rpt_RAD_Receipt").dxRadioGroup("instance").option("value");
            if ($("#iLink_ID").val().length > 0 && Rpt_Txt_Out_Standing > 0)
            {
                if (RAD_ReceiptValue == 1 || RAD_ReceiptValue == 2)
                {
                    var Rpt_Txt_Amount = parseFloat($("#Rpt_Txt_Amount").dxNumberBox("instance").option("value") ?? 0.00);
                    var Txt_Diff_Value = Rpt_Txt_Out_Standing - Rpt_Txt_Amount;
                    $("#Rpt_Txt_Diff").dxNumberBox("instance").option("value", parseFloat(Txt_Diff_Value));
                }
                else
                {
                    $("#Rpt_Txt_Diff").dxNumberBox("instance").reset();
                }
            }
            else
            {
                $("#Rpt_Txt_Diff").dxNumberBox("instance").reset();
            }
        }
        function Txt_Amount_EditValueChanged_Rpt()
        {
            Calc_Diff_Rpt();
        }
        function RAD_Receipt_SelectedIndexChanged_Rpt(e, FirstCall = false)
        {
            if (e && e.value == 2)
            {
                $("#Rpt_Txt_Amount").dxNumberBox("instance").reset();
                Control_SetReadOnly("Rpt_Txt_Amount", "dxNumberBox", true);
                $("#lbl_rept_amount").addClass("disabletxt").removeClass("text-red");
            }
            else
            {
                Control_SetReadOnly("Rpt_Txt_Amount", "dxNumberBox", false);
                $("#lbl_rept_amount").removeClass("disabletxt").addClass("text-red");
            }
            Calc_Diff_Rpt();
        }
        function Txt_Slip_No_EditValueChanged_Rpt(e, FirstCall=false)
        {
            let count =0;
            if (e == null || e == void 0) {
                count = $("#Rpt_Txt_Slip_Count").dxNumberBox("instance").option("value")
            }
            else {
                count = e.value;
            }
            if (count != null && count > 0) {
                setTimeout(function () {
                    ShowLoader();
                    Rpt_GetSlipTxnCount().done(function (data) {
                        $("#Rpt_Txt_Slip_Count").dxNumberBox("instance").option("value", data.count);
                        HideLoader();
                    });
                }, 0);
            }
            else{
                $("#Rpt_Txt_Slip_Count").dxNumberBox("instance").reset();
            }            
        }
        function Txt_RefNo_ValueChange_Rpt(e)
        {
            if (e.value != null && e.value.length > 0)
            {
                $("#Rpt_Txt_Ref_No").dxTextBox("instance").option("value", e.value.toUpperCase());
            }
        }
        function Txt_RefBranch_ValueChange_Rpt(e)
        {
            if (e.value != null && e.value.length > 0)
            {
                $("#Rpt_Txt_Ref_Branch").dxTextBox("instance").option("value", e.value.toUpperCase());
            }
        }
    </script>  @*DD_value Change and other related fn*@

<script>

    $(document).ready( async function ()
    {
        ShowLoader_Ready();
        if ("@RecVoucher_AddFacilityAddress" == "False")
        {
            $("#Rpt_AddPArty").hide();
        }
        if ("@RecVoucher_ListFacilityAddress" == "False")
        {
            $("#Rpt_ManageParty").hide();
        }
        if ("@Model.ActionMethod" != "_View")
        {
            dontaskpopupcloseconfirmation = false;
        }
        if ("@Model.ActionMethod" == "_Delete"){
            dontaskpopupcloseconfirmation = true;
        }
        sessionclearpath = "/Account/ReceiptVoucher/SessionClear";
        ClosingScreenParentDivClass = "Receipt_ClearReferences";
        InitAllDropdownDatagrid_Rpt();
        TransformTextForDB("id_Receipt_Voucher_Form");
        LayoutControlItem11_Enable_Rpt(false);
        if ("@Model.Tag" == "_New" || "@Model.Tag" == "_New_From_Selection")
        {
            $("#Rpt_RAD_Receipt").dxRadioGroup("instance").option("value", 0);
            Receipt_Cmd_Mode_SelectedIndexChanged_Rpt(null, true);
        }
        await Promise.all([LookUp_GetItemList_Rpt(true), LookUp_GetBankList_Rpt(true), LookUp_GetRefBankList_Rpt(true), LookUp_GetPartyList_Rpt(true), LookUp_GetPurposeList_Rpt()]);
        if ("@Model.Tag" == "_New" || "@Model.Tag" == "_New_From_Selection")
        {

        }
        else
        {
            Receipt_Cmd_Mode_SelectedIndexChanged_Rpt(null, true);
            GLookUp_ItemList_EditValueChanged_Rpt(null, true);
            Rpt_Item_ReadOnly = false;
            Control_SetReadOnly("Rpt_GLookUp_ItemList", "dxDropDownBox", (Rpt_Item_Enable == true && Rpt_Item_ReadOnly == false) ? false : true);
            if ("@Model.Rpt_GLookUp_PartyList1".length > 0)
            {
                GLookUp_PartyList1_EditValueChanged_Rpt(null, true);
            }
            Control_SetReadOnly("Rpt_GLookUp_PartyList1", "dxDropDownBox", false);
            $("#Rpt_Txt_Amount").dxNumberBox("instance").option("value", parseFloat("@Model.Rpt_Txt_Amount"));
            if ("@Model.Rpt_GLookUp_Adjustment".length > 0)
            {
                GLookUp_Adjustment_EditValueChanged_Rpt(null, true);
            }
            Rpt_Payment_ReadOnly = false;
            Control_SetReadOnly("Rpt_GLookUp_Adjustment", "dxDropDownBox", (Rpt_Payment_Enable == true && Rpt_Payment_ReadOnly == false) ? false : true);
            if ("@Model.Rpt_GLookUp_BankList".length > 0)
            {
                GLookUp_BankList_EditValueChanged_Rpt(null, true);
            }
            Rpt_DepBank_ReadOnly = false;
            Control_SetReadOnly("Rpt_GLookUp_BankList", "dxDropDownBox", (Rpt_DepBank_Enable == true && Rpt_DepBank_ReadOnly == false) ? false : true);
            if ("@Model.Rpt_GLookUp_RefBankList".length > 0)
            {
                GLookUp_RefBankList_EditValueChanged_Rpt(null, true);
            }
            Rpt_RefBank_ReadOnly = false;
            Control_SetReadOnly("Rpt_GLookUp_RefBankList", "dxDropDownBox", (Rpt_RefBank_Enable == true && Rpt_RefBank_ReadOnly == false) ? false : true);
            Txt_Slip_No_EditValueChanged_Rpt(null, true);
            RAD_Receipt_SelectedIndexChanged_Rpt(null, true);
            Control_SetReadOnly("Rpt_GLookUp_PurList", "dxSelectBox",false);
        }
        if ("@Model.Tag" == "_New_From_Selection")
        {
            GLookUp_ItemList_EditValueChanged_Rpt(null, true);
            Rpt_Item_ReadOnly = false;
            Control_SetReadOnly("Rpt_GLookUp_ItemList", "dxDropDownBox", (Rpt_Item_Enable == true && Rpt_Item_ReadOnly == false) ? false : true);
        }

        //FCRA Related
        if (parseInt("@Model.splVchrRefsCount_Rpt") == 0)
            {
                $("#Rpt_SpecialVoucherRefDiv").remove();
                $("#Rpt_NarrationDiv").removeClass("col-sm-12 col-md-8 col-lg-8").addClass("col-sm-12 col-md-12");
            }
        //await $("#ListSpecialVoucherRef_Rpt").dxList("getDataSource").load();
        if (parseInt("@Model.splVchrRefsCount_Rpt") > 0) {
                //await $("#ListSpecialVoucherRef_Rpt").dxList("getDataSource").load();
                OnSplVchrRefsListSelectionChanged_Rpt();
            }

        RPT_cmdmode_validations();
        Set_Form_View_Delete_Mode(null, "id_Receipt_Voucher_Form", "@Model.Tag");
        Focus_FirstEditable_Field("id_Receipt_Voucher_Form");
        HideLoader_Ready();
        console.log("Page Ready Receipt Voucher : " + performance.now())
    });
    function Rpt_Manage_party()
    {
        if ("@RecVoucher_ListFacilityAddress" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection")
        {
            ManageParty("Rpt_Add_Party", "LookUp_GetPartyList_Rpt","Address Book (Manage Party)...");
        }
    }//Manage Donor
    function Rpt_AddParty()
    {
        if ("@RecVoucher_AddFacilityAddress" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection")
        {
            AddParty("Rpt_Add_Party", "LookUp_GetPartyList_Rpt", "Rpt_AddParty", "Rpt_AddPArty");
        }
    }// Add Donor

    function LayoutControlItem11_Enable_Rpt(enable)
    {
        $("#rpt_LayoutControlItem11").prop("disabled", !enable);
        Rpt_ReceiptType_ReadOnly = !enable;
        Control_SetReadOnly("Rpt_RAD_Receipt", "dxRadioGroup", (Rpt_ReceiptType_Enable == true && Rpt_ReceiptType_ReadOnly == false) ? false : true);
    }
</script> @*Document.ready*@

<script>
    async function Frm_Voucher_Win_Receipt_SaveClick(e)
    {
        var GetDialogResult = true;
        if (ValidateForm(e))
        {
            $("#IsAdjustmentEnable").val($("#Rpt_GLookUp_Adjustment").dxDropDownBox("instance").option("readOnly") || $("#rpt_LayoutControlItem11").prop("disabled") ? false : true);
            var form = $("#id_Receipt_Voucher_Form");
            if (e.component.option("text") == "Delete")
            {
                DeleteAfterConfirmation("@Model.Me_Text", "", form);      
            }
            else
            {
                if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_Edit" || "@Model.ActionMethod" == "_New_From_Selection")
                {
                    if ($("#iVoucher_Type").val().toUpperCase() == "RECEIPTS - INSTITUTE")
                    {
                        await CreateCustomConfirmDialog("Message...", "<b>Received from other Institute not allowed <font color='red'>without Head-Quarter Permission</font><br><br>Do you want To Continue...?</b>", true).show().done(function (dialogResult)
                        {
                            if (!dialogResult)
                            {
                                $("#Rpt_GLookUp_ItemList").dxDropDownBox("instance").focus();
                                GetDialogResult = false;
                                return;
                            }
                        });
                    }
                    if (GetDialogResult == true)
                    {
                        if ($("#Rpt_Txt_Slip_Count").dxNumberBox("instance").option("value") > 0)
                        {
                            var prompt_data = await CheckSliptxn_Rpt();
                            if (prompt_data.result == false)
                            {
                                await CreateCustomConfirmDialog("@Model.Me_Text", "Some Transaction(s) have been posted in deposit slip being used by you<br><br>Continue posting voucher using same Deposit Slip...?", true).show().done(function (dialogResult)
                                {
                                    if (!dialogResult)
                                    {
                                        GetDialogResult = false;
                                        return;
                                    }
                                });
                            }
                        }
                    }
                    if (GetDialogResult == true)
                    {
                        form.submit();
                    }
                }
            }
        }
    }
    function CheckSliptxn_Rpt()
    {
       return  $.ajax({
            type: 'POST',
            url: "/Account/ReceiptVoucher/CheckSlipNo",
            data:
            {
                SlipNo: $("#Rpt_Txt_Slip_No").dxNumberBox("instance").option("value"),
                BankId: $("#Rpt_GLookUp_BankList").dxDropDownBox("instance").option('value'),
                xMID: $("#xMID").val(),
                SlipCount: $("#Rpt_Txt_Slip_Count").dxNumberBox("instance").option("value")
            },
            cache: false
        });
    }
    function Frm_Voucher_Win_Gen_Rec_AjaxSuccessVoucherReceipt(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            if (data.jsonParam.closeform)
            {
                dontaskpopupcloseconfirmation = true;
                $("#Dynamic_Content_popup").dxPopup("hide");
            }
            if (data.jsonParam.refreshgrid)
            {
                RefreshGridView("@ViewBag.GridToRefresh");
            }
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result == true)
        {
            dontaskpopupcloseconfirmation = true;
            var _ActiveTab_ID = $(".TabPanalMenu-tabs .active").attr("id");
            var SavealertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            SavealertClick.done(function (result)
            {
                if (result)
                {
                    if ("@ViewBag.GridToRefresh" != "CashBookListGrid")
                    {
                        RefreshGridView("@ViewBag.GridToRefresh");
                    }
                    if (/*typeof CashBookListGrid !== 'undefined'*/ _ActiveTab_ID == "contact_Frm_Voucher_Info_CB")
                    {
                        AfterVoucherClose_CB($("#Rpt_Txt_V_Date").dxDateBox("instance").option("value"), "@Model.ActionMethod", IsUndefinedOrNull(data.CashbookGridPK) ? "" : data.CashbookGridPK);
                    }
                    else if (_ActiveTab_ID == "contact_Frm_Voucher_Info") {
                        AfterVoucherClose_VoucherEntry();
                    }
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
            });
        }
    }

</script>  @*Save Success and other functions*@
<script>
    //FCRA Related
    function OnSplVchrRefsListSelectionChanged_Rpt(e) {
        var listBox = $("#ListSpecialVoucherRef_Rpt").dxList("instance");
        var selecteditemkey = listBox.option("selectedItemKeys")
        if (selecteditemkey != null && selecteditemkey.length > 0) {
            $("#Rpt_SplVchrReferenceSelected").val(selecteditemkey.join(","));
        }
        else {
            $("#Rpt_SplVchrReferenceSelected").val("");
        }
    }// List selection

</script>
</div>