@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.Model_Requisition_Item_Requested
@{

    ViewBag.Test = Model.RR_Taxes_ActionMethod;
    bool IsVisible = Model != null && (Model.RR_Taxes_ActionMethod.ToString().Trim() == "_View" || Model.RR_Taxes_ActionMethod.ToString().Trim() == "View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .wdfull {
        width: 100%;
    }

    td {
        width: auto;
    }

    .dntnbtn {
        min-width: 68px !important;
        font-size: 12px;
    }

    .fonttwelve {
        font-size: 12px !important;
    }

    .clear {
        clear: both;
    }

    .bortabl {
        border: 1px solid #64CAF1;
        border-collapse: collapse;
        padding-left: 5px;
    }

        .bortabl td {
            border: 1px solid #64CAF1;
            border-collapse: collapse;
        }

    .tabtbl {
        width: 100%;
        margin: 0;
        padding: 0;
    }

        .tabtbl table {
            width: 100%;
        }

        .tabtbl th {
            background: #BDD5ED;
            color: #000;
            font-size: 12px;
            border: 1px solid #000;
            border-collapse: collapse;
            padding-left: 10px;
        }

        .tabtbl td {
            background: #fff;
            color: #000;
            font-size: 12px;
            border: 1px solid #64CAF1;
            border-collapse: collapse;
            padding-left: 10px;
        }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<div id="Frm_RR_itemReqAddtax_Window_popup">
    @using (Ajax.BeginForm("Frm_Requisition_Request_Add_Taxes", "RequestRegister",
                                       new AjaxOptions
                                       {
                                           HttpMethod = "POST",
                                           UpdateTargetId = "Frm_Requisition_Request_Add_Taxes",
                                           InsertionMode = InsertionMode.InsertAfter,
                                           OnBegin = "AjaxBeginFormPost",
                                           OnSuccess = "Frm_Requisition_Request_Add_Taxes_OnSuccess"
                                       },
                                       new
                                       {
                                           id = "ID_Frm_Requisition_Request_Add_Taxes_Window",
                                           @class = "edit_form"
                                       }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Requisition_Addtax_TaxAmount)
        @Html.HiddenFor(x => x.Requisition_Addtax_TaxType)
        @Html.HiddenFor(x => x.RR_Taxes_ActionMethod)
        @Html.HiddenFor(x => x.Sr)

        using (Html.DevExtreme().ValidationGroup("RRRequestedItemTaxes"))
        {


            <div class="full-width-header-bg">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Tax Details</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div><!--[]-->
            <div class="container-fluid">
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-2 pll">
                                <label class="control-label" for="user">Item Name:</label>
                            </div>
                            <div class="col-sm-10 prm pll2">
                                <div class="dx-texteditor  dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Requisition_Addtax_ItemName").Name("Requisition_Addtax_ItemName").ReadOnly(true))
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-2 pll">
                                <label class="control-label" for="user">Item Code:</label>
                            </div>
                            <div class="col-sm-10 prm pll2">
                                <div class="dx-texteditor dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Requisition_Addtax_ItemCode").Name("Requisition_Addtax_ItemCode").ReadOnly(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-4 pll">
                                                <label class="control-label text-red" for="iten">Tax Type:</label>
                                            </div>
                                            <div class="col-sm-8 prm pll2">
                                                <div class="dx-texteditor  dx-widget dx-textbox">
                                                    <div class="dx-texteditor-container">
                                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Requisition_Addtax_TaxTypeID").Name("Requisition_Addtax_TaxTypeID").Placeholder("Select").DisplayExpr("Tax_Type").ValueExpr("Tax_ID").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).DataSource(d => d.Mvc().Controller("RequestRegister").LoadAction("Get_TaxType").Key("Tax_ID")).OnValueChanged("Get_taxType_OnValueChanged").Visible(true).ReadOnly(IsVisible).Disabled(IsVisible))
                                                        @Html.ValidationMessageFor(model => model.Requisition_Addtax_TaxTypeID, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div><!--[1]-->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-4 pll">
                                                <label class="control-label text-red" for="iten">Tax(%):</label>
                                            </div>
                                            <div class="col-sm-8 prm">
                                                <div class="dx-texteditor dx-widget dx-textbox">
                                                    <div class="dx-texteditor-container">
                                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Requisition_Addtax_TaxPercent").Name("Requisition_Addtax_TaxPercent").Format("#.##").Min(1).Max(99).ReadOnly(IsVisible).Disabled(IsVisible))
                                                        @Html.ValidationMessageFor(model => model.Requisition_Addtax_TaxPercent, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div><!--[2]-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-2 pll">
                                        <label class="control-label" for="user">Remarks:</label>
                                    </div>
                                    <div class="col-sm-10 prm pll2">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Requisition_Addtax_Remarks").Name("Requisition_Addtax_Remarks").MaxLength(8000).ReadOnly(IsVisible).Disabled(IsVisible))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="row styleActionBtn marginAll8">
                    @if (Model.RR_Taxes_ActionMethod.ToString().Trim() == "_View" || Model.RR_Taxes_ActionMethod.ToString().Trim() == "View")
                    {
                        @(Html.DevExtreme().Button().CustomCloseButton().Text("Close").ID("RequisitionItemRequestedTax_Close").FocusStateEnabled(true).OnClick(@<text>function () {$("#RequestRegister_Button_popup").dxPopup("hide");}</text>))
                    }
                    @if (Model.RR_Taxes_ActionMethod.ToString().Trim() == "_New" || Model.RR_Taxes_ActionMethod.ToString().Trim() == "_Edit" || Model.RR_Taxes_ActionMethod.ToString().Trim() == "_NewAddTax")
                    {
                        @(Html.DevExtreme().Button().Text("OK").CustomSaveButton().ID("RequisitionItemRequestedTax_Save").FocusStateEnabled(true).OnClick("Add_Tax_OKButtonClick"))
                        @(Html.DevExtreme().Button().Text("Cancel").CustomCloseButton().ID("RequisitionItemRequestedTax_Cancel").FocusStateEnabled(true).OnClick(@<text>function () {$("#RequestRegister_Button_popup").dxPopup("hide");}</text>))
                    }
                </div><!--[Footer Buttons]-->
            </div><!--[Center ]-->
        }
    }
</div>
<script>
    $(document).ready(function () {
       
        ShowLoader();
        var form = "ID_Frm_Requisition_Request_Add_Taxes_Window";
     
        AssignIDtoLabel(form, "RR_ItemReq_Taxes");
        var itemID_AddTax = $("#Requisition_RequestedItem_Item_ID").dxDropDownBox("instance").option("value");
        var itemName_AddTax  = $("#Requisition_RequestedItem_Item_ID").dxDropDownBox("instance").option("text");
        var ItemCode_AddTax  = $("#Requisition_RequestedItem_Item_Code_Txt").dxTextBox("instance").option("value");

        $("#Requisition_Addtax_ItemName").dxTextBox("instance").option("value", itemName_AddTax);
        $("#Requisition_Addtax_ItemCode").dxTextBox("instance").option("value", ItemCode_AddTax);

        if (itemID_AddTax == null || itemID_AddTax.length == 0) {
            DevExpress.ui.dialog.alert('Select An Item..', 'Error..');
            HidePopup("RequestRegister_Button_popup");
            HideLoader();
            return;
        }
       

        if ("@Model.RR_Taxes_ActionMethod" == "_Edit" || "@Model.RR_Taxes_ActionMethod" == "_View") {
          
            $("#Requisition_Addtax_TaxTypeID").dxSelectBox("instance").option("value", "@Model.Requisition_Addtax_TaxTypeID");

            $("#Requisition_Addtax_TaxPercent").dxNumberBox("instance").option("value", "@Model.Requisition_Addtax_TaxPercent");
         
            var taxvalue = "@Model.Requisition_Addtax_TaxType";
            $("#Requisition_Addtax_TaxType").val(taxvalue);

        }
        setTimeout(function () {
             Set_Form_View_Delete_Mode(null, form, "@Model.RR_Taxes_ActionMethod");
            Focus_FirstEditable_Field(form , "@Model.RR_Taxes_ActionMethod");
            HideLoader();
        }, Timeout500);
    });
    //function Get_taxType_OnInitialize(e) {
    //    debugger
       @*if ("@Model.RR_Taxes_ActionMethod" != "_NewAddTax" || "@Model.RR_Taxes_ActionMethod" != "_New") {
            var Tax = $("#Requisition_Addtax_TaxTypeID").dxSelectBox('instance').option('displayValue');
            $("#Requisition_Addtax_TaxType").val(Tax);*@
        
  
    function Get_taxType_OnValueChanged(e) {
     
    var Tax = $("#Requisition_Addtax_TaxTypeID").dxSelectBox('instance').option("displayValue");
     
      //  var item = e.component.option("displayValue");
      //var Tax = $("#Requisition_Addtax_TaxTypeID").dxSelectBox('instance').option("displayValue");
        $("#Requisition_Addtax_TaxType").val(Tax);
      
    }

    function Add_Tax_OKButtonClick(e) {
       
        var taxpercent = $("#Requisition_Addtax_TaxPercent").dxNumberBox("instance").option("value");
        var remark = $("#Requisition_Addtax_Remarks").dxTextBox("instance").option("value");
        var taxtype = $("#Requisition_Addtax_TaxTypeID").dxSelectBox("instance").option("value");
        var ApprovedQty = $("#Requisition_RequestedItem_Approved_Qty").dxNumberBox("instance").option("value");
        var RequestedQty = $("#Requisition_RequestedItem_Requested_Qty").dxNumberBox("instance").option("value");
        var Qty = RequestedQty;

        if (ApprovedQty > 0) { Qty = ApprovedQty; }

        if (Qty == null || Qty == 0) {
            DevExpress.ui.dialog.alert('Please enter Quantity in Item screen', 'Error..');
            return;
        }
        var Rate = $("#Requisition_RequestedItem_Rate").dxNumberBox("instance").option("value");

        var RateAfterDiscount = $("#Requisition_RequestedItem_Rate_After_Discount").dxNumberBox("instance").option("value");

        if (taxtype == null || taxtype == 0) {
            DevExpress.ui.dialog.alert('Tax Type Cannot Be Empty', 'Error..');
            return;
        }

        if (taxpercent == null || taxpercent == 0  ) {
            DevExpress.ui.dialog.alert('Tax Percentage Cannot Be Empty', 'Error..');
            return;
        }
        if (parseFloat(taxpercent) > 100) {
            DevExpress.ui.dialog.alert('Tax Percentage Cannot be More Than 100', 'Error..');
            return;
        }
        if (parseFloat(taxpercent) < 0) {
            DevExpress.ui.dialog.alert('Tax Percentage Cannot be Less Than 0', 'Error..');
            return;
        }
        var regex = new RegExp("^[a-zA-Z0-9, -]+$");
        if (regex.test(remark) == false && remark != null && remark.length > 0) {
            DevExpress.ui.dialog.alert('Only AlphaNumeric - , allowed in Remarks..', 'Error..');
            return;
        }

        
            var TaxAmt = ((Qty * RateAfterDiscount) * taxpercent) / 100;
       
      

     
        $("#Requisition_Addtax_TaxAmount").val(TaxAmt);

        if ("@Model.RR_Taxes_ActionMethod" == "_NewAddTax") {
            var TaxAmount_Item = $("#Requisition_RequestedItem_Taxes").dxNumberBox("instance").option("value");

            if (TaxAmount_Item > 0) {

                TaxAmount_Item = TaxAmount_Item + TaxAmt;
            }
            else {
                TaxAmount_Item = TaxAmt;
            }

            $("#Requisition_RequestedItem_Taxes").dxNumberBox("instance").option("value", TaxAmount_Item);
            $("#Requisition_RequestedItem_Tax_Percent").val(taxpercent);
        }
        
        var form = $("#ID_Frm_Requisition_Request_Add_Taxes_Window");
        var result = e.validationGroup.validate();
        if (result.isValid) {
            form.submit();
        }
     
    }
    function Add_Tax_CancelButtonClick() {
        HidePopup("RequestRegister_Button_popup");
    }

    
   
</script>
