@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.Model_Requisition_Item_Requested
@{
   
  }
<div id="Frm_RR_itemReqManagetax_Window_popup" class="tab-pane fade in">
    <div class="row">
        <div class="col-lg-12 col-xs-12 table-responsive overflow-scroll scrollbar">
            @Html.Action("TaxGridData", "RequestRegister", new { RR_ItemID = Model.Requisition_RequestedItem_ID, subitemID = Model.Requisition_RequestedItem_Item_ID })
        </div>
    </div>

    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 pll">
                    <label class="control-label" for="user">Item Name:</label>
                </div>
                <div class="col-sm-10 prm pll2">
                    <div class="dx-texteditor  dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Requisition_Managetax_ItemName").Name("Requisition_Managetax_ItemName").ReadOnly(true))
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 pll">
                    <label class="control-label" for="user">Item Code:</label>
                </div>
                <div class="col-sm-10 prm pll2">
                    <div class="dx-texteditor dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Requisition_Managetax_ItemCode").Name("Requisition_Managetax_ItemCode").ReadOnly(true))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->


    <div class="row btnsDiv formRow">
        @(Html.DevExtreme().Button()
                                                                                                                            .ID("RRManageTaxBUT_New")
                                                                                                                            .Text("New")
                                                                                                                            .OnClick(@<text>
                                                                                                                                function () {
                                                                                                                                OnFrm_ManageTax_New_Click()
                                                                                                                                }
                                                                                                                            </text>))
        @(Html.DevExtreme().Button()
                                                                                                                          .ID("RRManageTaxBUT_Edit")
                                                                                                                          .Text("Edit")
                                                                                                                          //.Icon("fas fa-file btn-icons newfile icon-rgt-space5")

                                                                                                                          .OnClick(@<text>
                                                                                                                            function () {
                                                                                                                            OnFrm_ManageTax_Edit_Click()
                                                                                                                            }
                                                                                                                        </text>))
        @(Html.DevExtreme().Button()
                                                                                                                          .ID("RRManageTaxBUT_Delete")
                                                                                                                          .Text("Delete")
                                                                                                                          //.Icon("fas fa-file btn-icons newfile icon-rgt-space5")

                                                                                                                          .OnClick(@<text>
                                                                                                                            function () {
                                                                                                                            OnFrm_ManageTax_Delete_Click()
                                                                                                                            }
                                                                                                                        </text>))
        @(Html.DevExtreme().Button()
                                                                                                                         .ID("RRManageTaxBUT_View")
                                                                                                                         .Text("View")
                                                                                                                         //.Icon("fas fa-file btn-icons newfile icon-rgt-space5")

                                                                                                                         .OnClick(@<text>
                                                                                                                            function () {
                                                                                                                            OnFrm_ManageTax_View_Click()
                                                                                                                            }
                                                                                                                        </text>))

    </div>

    <div class="row styleActionBtn marginAll8">

        @(Html.DevExtreme().Button().Text("OK").CustomSaveButton().ID("RequisitionItemRequestedManageTax_Save").FocusStateEnabled(true).OnClick(@<text>function (){ Manage_Tax_OKButtonClick();}</text>))
        @(Html.DevExtreme().Button().Text("Cancel").CustomCloseButton().ID("RequisitionItemRequestedManageTax_Cancel").FocusStateEnabled(true).OnClick(@<text>function () {$("#RequestRegister_ManageTaxButton_popup").dxPopup("hide");}</text>))

    </div><!--[Footer Buttons]-->
</div><!--[3]-->


<script>
    $(document).ready(function () {
      
        ShowLoader();
       
    var itemIDmanage = $("#Requisition_RequestedItem_Item_ID").dxDropDownBox("instance").option("value");
    var itemNamemanage = $("#Requisition_RequestedItem_Item_ID").dxDropDownBox("instance").option("text");
    var ItemCodemanage = $("#Requisition_RequestedItem_Item_Code_Txt").dxTextBox("instance").option("value");
       
        if (itemIDmanage == null || itemIDmanage.length == 0) {
            DevExpress.ui.dialog.alert('Select An Item..', 'Error..');
            HidePopup("RequestRegister_ManageTaxButton_popup");
            HideLoader();
            return;
        }
   
        $("#Requisition_Managetax_ItemName").dxTextBox("instance").option("value", itemNamemanage);
        $("#Requisition_Managetax_ItemCode").dxTextBox("instance").option("value", ItemCodemanage);
      setTimeout(function () {
            HideLoader();
      }, Timeout500);
    });
        var Tax_Sr;//sr
    var Tax_ID;//id

    function RRTaxGridFocusedRowChanged(s, e) {
      
        s.GetRowValues(s.GetFocusedRowIndex(), 'Sr;ID', Tax_GridRowValues);
    }
    function Tax_GridRowValues(values) {
     
        Tax_Sr = values[0];
        Tax_ID = values[1];
    }

  
    function OnFrm_ManageTax_New_Click()
    {
     
        var itemID = $("#Requisition_RequestedItem_Item_ID").dxDropDownBox("instance").option("value");
        if (itemID == null || itemID.length == 0) {
            DevExpress.ui.dialog.alert('Select An Item..', 'Error..');
            return;
        }
        var Qty = $("#Requisition_RequestedItem_Requested_Qty").dxNumberBox("instance").option("value");
        if (Qty == null || Qty.length == 0) {
            DevExpress.ui.dialog.alert('Select Req. Qty..', 'Error..');
            return;
        }
        var Rate = $("#Requisition_RequestedItem_Rate").dxNumberBox("instance").option("value");
        var RateAfterDiscount = $("#Requisition_RequestedItem_Rate_After_Discount").dxNumberBox("instance").option("value");
        //if (Rate == null || Rate.length == 0) {
        //    DevExpress.ui.dialog.alert('Select Rate..', 'Error..');
        //    return;
        //}

        ShowLoader();

        OpenPopup("RequestRegister_Button_popup", "New ~ Add Taxes","@Url.Action("Frm_Requisition_Request_Add_Taxes", "RequestRegister", new {@area= "Stock" })?ActionMethod=_New", "auto", 1024, false, null);
    }

    function OnFrm_ManageTax_Edit_Click()
    {
      
       
        if (!Tax_Sr) {
               DevExpress.ui.dialog.alert("Please Select Row", "Error");
               return;
           }
          
       
        ShowLoader();
        OpenPopup("RequestRegister_Button_popup", "Edit ~ Add Taxes", "@Url.Action("Frm_Requisition_Request_Add_Taxes", "RequestRegister", new {@area= "Stock" })?ActionMethod=_Edit&SR=" + encodeURIComponent(Tax_Sr), "auto", 1024, false, null);
 
      
    }

    function OnFrm_ManageTax_View_Click()
    {
        if (!Tax_Sr) {
            DevExpress.ui.dialog.alert("Please Select Row", "Error");
            return;
        }
        ShowLoader();
         OpenPopup("RequestRegister_Button_popup", "View ~ Add Taxes", "@Url.Action("Frm_Requisition_Request_Add_Taxes", "RequestRegister", new {@area= "Stock" })?ActionMethod=_View&SR=" + encodeURIComponent(Tax_Sr), "auto", 1024, false, null);
 

    }


    function OnFrm_ManageTax_Delete_Click() {
    



        if (Tax_Sr == 'undefined' || Tax_Sr == undefined || Tax_Sr == null || Tax_ID == 'undefined' || Tax_ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }

        var Actual_Manpower_Details = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Confirm changes");
        Actual_Manpower_Details.done(function (dialogResult) {
            if (dialogResult) {

                $.ajax({
                    type: 'GET',
                    url: "/Stock/RequestRegister/Frm_ItemRequested_Tax_Window_Delete_Grid_Record",
                    data: { ActionMethod: "Delete", Sr: Tax_Sr, ID: Tax_ID },
                    cache: false,
                    success: function (data) {
                        if (data.result == false) {
                            DevExpress.ui.dialog.alert(data.message, "Error");
                        }
                        else if (data.result == true) {

                            RequisitionItemRequestedTaxGrid.SetFocusedRowIndex(-1);
                            RequisitionItemRequestedTaxGrid.Refresh();
                        }
                    }
                });
            }
        });

    }

        

    function Manage_Tax_OKButtonClick() {
       
        $.ajax({
            type: 'GET',
            url: "/Stock/RequestRegister/CalculateTotalTaxAmount",
            data: {
                
            },
            success: function (data) {

                $("#Requisition_RequestedItem_Taxes").dxNumberBox("instance").option("value", data.Amount);
                var taxper = data.TaxPercent;
                $("#Requisition_RequestedItem_Tax_Percent").val(taxper);

                  
               
              
            },

        });
    
          
        
        
      
        
    HidePopup("RequestRegister_ManageTaxButton_popup");
    }
</script>
