@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Help.Models.Model_Attachment_Window
@{
    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .wdfull {
        width: 100%;
    }

    td {
        width: auto;
    }

    .dntnbtn {
        min-width: 68px !important;
        font-size: 12px;
    }

    .fonttwelve {
        font-size: 12px !important;
    }

    .clear {
        clear: both;
    }

    .bortabl {
        border: 1px solid #64CAF1;
        border-collapse: collapse;
        padding-left: 5px;
    }

        .bortabl td {
            border: 1px solid #64CAF1;
            border-collapse: collapse;
        }

    .tabtbl {
        width: 100%;
        margin: 0;
        padding: 0;
    }

        .tabtbl table {
            width: 100%;
        }

        .tabtbl th {
            background: #BDD5ED;
            color: #000;
            font-size: 12px;
            border: 1px solid #000;
            border-collapse: collapse;
            padding-left: 10px;
        }

        .tabtbl td {
            background: #fff;
            color: #000;
            font-size: 12px;
            border: 1px solid #64CAF1;
            border-collapse: collapse;
            padding-left: 10px;
        }

    .dx-fileuploader-input-wrapper {
        margin-top: -19px;
        margin-left: 43px;
        padding: 7px 0 7px;
        border: 3px dashed transparent;
    }

    #fileName {
        padding: 0px !important;
    }

    /*.dx-button-has-text .dx-button-content {
        margin-right: 15px;
        padding: 2px 1px;
        min-width: 40px;
        padding-left: 19px;
    }*/

    #file-uploader {
        margin: -16px;
        margin-top: -1px;
    }

    .dx-fileuploader-input-wrapper {
        margin-top: -19px;
        margin-left: -3px;
        /* padding: 7px 0 7px; */
        border: 3px dashed transparent;
    }

    #Frm_Documents_Popup {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<div id="Frm_Documents_Popup" class="col-md-12">
    @using (Ajax.BeginForm("Requisition_Documents_Attachment", "RequestRegister",
                                           new AjaxOptions
                                           {
                                               HttpMethod = "POST",
                                               UpdateTargetId = "Frm_Documents_Popup",
                                               InsertionMode = InsertionMode.InsertAfter,
                                               OnBegin = "AjaxBeginFormPost",
                                               OnSuccess = "Frm_Documents_Window_Requisition_OnSuccess"
                                           },
                                           new
                                           {
                                               id = "ID_Frm_Requisition_Document_Attach",
                                               @class = "edit_form"
                                           }))
    {
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.Help_Sr_No)
        //@Html.HiddenFor(x => x.Help_Document_CategoryID)
        @Html.HiddenFor(x => x.Help_Document_Name)
        @Html.HiddenFor(x => x.Help_filefield)

        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();
        using (Html.DevExtreme().ValidationGroup())
        {
            <!-- <div class="full-width-header-bg3">
                 <div class="row">
                     <div class="col-sm-8">
                         <h3 class="popuphead"><i class="far fa-edit"></i> Attach Document</h3>
                     </div>
                     <div class="col-sm-4 prm">
                         <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                     </div>
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                 </div>
             </div> []-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-4 pll">
                            <label class="control-label text-red" for="user">Document:</label>
                        </div>
                        <div class="col-sm-8 prm">
                            <div class="file-upload">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">
                                        <div class="col-sm-10 prm" id="filetxtbox">
                                            @(Html.DevExtreme().TextBox().ID("Help_Document_FileName").Name("Help_Document_FileName").Value(Model.Help_Document_FileName).ReadOnly(IsVisible).Disabled(IsVisible))
                                            @Html.ValidationMessageFor(model => model.Help_Document_FileName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-2" id="btnfile">
                                            @(Html.DevExtreme().FileUploader().ID("file-uploader").SelectButtonText("Browse").Name("myFile").Multiple(false).Accept("*").UploadMode(FileUploadMode.Instantly).UploadUrl(Url.Action("Upload", "RequestRegister")).OnValueChanged("fileUploader_valueChanged").ReadOnly(IsVisible).Disabled(IsVisible))
                                        </div>
                                    </div>
                                    <div class="file-select-name" id="noFile">No file chosen...</div>
                                    <input type="file" name="chooseFile" id="chooseFile">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!--[Browse]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-4 pll">
                            <label class="control-label text-red" for="user">Document Category:</label>
                        </div>
                        <div class="col-sm-8 prm">
                            @(Html.DevExtreme().DropDownBox()
                                            .ID("Help_Document_CategoryID")
                                            .Name("Help_Document_CategoryID")
                                            .Value(Model.Help_Document_CategoryID)
                                            .Placeholder("Select Category")
                                            .DisplayExpr("Category")
                                            .ValueExpr("ID")
                                            .DataSource(d => d.Mvc().Area("Stock").Controller("RequestRegister").LoadAction("LookUp_GetDocument_Category").Key("ID"))
                                            .ShowClearButton(true)
                                            .ReadOnly(false)
                                            .OnValueChanged("OnDocument_CategoryChanged")
                                            .OnOptionChanged("OnDocument_CategoryoptionChanged")
                                            .DeferRendering(false)
                                            .Disabled(IsVisible)
                                            .ContentTemplate(@<text>@Html.Partial("Documents_Category_List")</text>))
                            @Html.ValidationMessageFor(model => model.Help_Document_CategoryID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div><!--[Document Category]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-4 pll">
                            <label class="control-label text-red" for="user">Document Name:</label>
                        </div>
                        <div class="col-sm-8 prm">
                            @(Html.DevExtreme().DropDownBox()
                                        .ID("Document_NameID")
                                        .Name("Document_NameID")
                                        .Value(Model.Help_Document_NameID)
                                        .Placeholder("Document Name")
                                        .DisplayExpr("Name")
                                        .ValueExpr("ID")
                                        .DataSource(d => d.Mvc().Area("Stock").Controller("RequestRegister").LoadAction("LookUp_GetDocument_Name").Key("ID").LoadParams(new { CategoryName = new JS("function (){ return returnCategory;}") }))
                                        .ShowClearButton(true)
                                        .OnValueChanged("OnDocument_NameChanged")
                                        .OnOptionChanged("OnDocument_Name_OptionChanged")
                                        .DeferRendering(false)
                                        .ReadOnly(IsVisible)
                                        .Disabled(IsVisible)
                                        .ContentTemplate(@<text>
                                            @Html.Partial("Documents_Name_List")
                                        </text>)
                            )
                            @Html.ValidationMessageFor(model => model.Help_Document_NameID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div><!--[Document Name]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                        <label class="control-label" for="user">Applicable From:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        @(Html.DevExtreme().DateBoxFor(m => m.Help_Doc_From_Date).ID("Help_Doc_From_Date").Name("Help_Doc_From_Date").Type(DateBoxType.Date).PickerType(DateBoxPickerType.Native).DisplayFormat(ViewBag.Base_Date_Format_Current).InvalidDateMessage("Value must be a Date!!").ReadOnly(IsVisible).Disabled(IsVisible))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[From Date]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                        <label class="control-label" for="user">Applicable To:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        @(Html.DevExtreme().DateBoxFor(m => m.Help_Doc_To_Date).ID("Help_Doc_To_Date").Name("Help_Doc_To_Date").Type(DateBoxType.Date).PickerType(DateBoxPickerType.Native).DisplayFormat(ViewBag.Base_Date_Format_Current).InvalidDateMessage("Value must be a Date!!").ReadOnly(IsVisible).Disabled(IsVisible))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Date]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll">
                            <label class="control-label" for="user">Description :</label>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm">
                            @(Html.DevExtreme().TextBox().ID("Help_Document_Description").Name("Help_Document_Description").Value(Model.Help_Document_Description).ReadOnly(IsVisible).Disabled(IsVisible))
                        </div>
                    </div>
                </div>
            </div><!--[Description]-->

            <div class="row">
                <div class="form-field wbg brd-bot-none">
                    <div class="container-fluid">
                        <div class="col-sm-12 btn-align prm">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                @(Html.DevExtreme().Button().Text("View Document").ID("View_Document").Icon("fas fa-eye btn-icons eyeicon icon-rgt-space5").FocusStateEnabled(true).OnClick(@<text> function () { project_View_Document_Click();}</text>))
                            </div><!--[button]-->

                            @if (Model.ActionMethod.ToString().Trim() == "_View")
                            {
                                <div class="action-btn-wrap pll">
                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                        @(Html.DevExtreme().Button().Text("Close").ID("ProductionDocument_Cancle").Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey").FocusStateEnabled(true).OnClick(@<text>function () {$("#Frm_Documents_Popup").dxPopup("hide");}</text>))
                                    </div><!--[button]-->
                                </div>
                            }
                            @if (Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit")
                            {
                                <div class="action-btn-wrap">
                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                        @(Html.DevExtreme().Button().Text("Cancel").ID("ProductionDocument_Cancle").Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey").FocusStateEnabled(true).OnClick(@<text>function () {$("#Frm_Documents_Popup").dxPopup("hide");}</text>))
                                    </div><!--[button]-->
                                </div>
                                <div class="action-btn-sec-wrap">
                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                        @(Html.DevExtreme().Button().Text("Save").ID("ProductionDocument_Save").Icon("fas fa-check-circle btn-icons checkgreen icon-rgt-space5").UseSubmitBehavior(true))
                                    </div><!--[button]-->
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>


<script>
    var filename;
    var filebytes = "";
    var returnCategory = "";
    $('#chooseFile').bind('change', function () {
        var filename = $("#chooseFile").val();
        if (/^\s*$/.test(filename)) {
            $(".file-upload").removeClass('active');
            $("#noFile").text("No file chosen...");
        }
        else {
            $(".file-upload").addClass('active');
            $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
        }
    });
    function fileUploader_valueChanged(e) {
        var files = e.value;
        if (files.length > 0) {
            $("#selected-files .selected-item").remove();
            filename = files[0].name;
            //filebytes = files[0].size;
            $("#Document_FileName").dxTextBox("instance").option("value", filename);
            $("#selected-files").show();
        }
        else
            $("#selected-files").hide();
    }


    function OnDocument_CategoryChanged(e) {
        var dropdown = $("#Document_CategoryID").dxDropDownBox("instance");
        dropdown.close();
        var $dataGrid = $("#LookUp_DocumentCategory_List_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropdown.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                returnCategory = item.Category;
                var id = item.ID;
                if (returnCategory != "") {
                    $("#Document_Category").val(returnCategory);
                    $("#Document_NameID").dxDropDownBox("instance").option("readOnly", false);
                    $("#LookUp_DocumentNames_List_datagrid").dxDataGrid("instance").refresh();
                    }
                }
            }
        }

    function OnDocument_CategoryoptionChanged(s, e) {
        var dropdown = $("#Document_CategoryID").dxDropDownBox("instance");
        var $dataGrid = $("#LookUp_DocumentCategory_List_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropdown.option("value"), false);
        }
    }
    function OnDocument_NameChanged(e) {
        var dropdown = $("#Document_NameID").dxDropDownBox("instance");
        dropdown.close();
        var $dataGrid = $("#LookUp_DocumentNames_List_datagrid");
        if ($dataGrid.length) {
            LookUp_DocumentNames_List_datagrid
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropdown.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var document_name = item.Name;
                $("#Document_Name").val(document_name);
            }
        }
    }
    function OnDocument_Name_OptionChanged(e) {
        var dropdown= $("#Document_NameID").dxDropDownBox("instance");
        var $dataGrid = $("#LookUp_DocumentNames_List_datagrid");
        if ($dataGrid.length) {
            LookUp_DocumentNames_List_datagrid
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropdown.option("value"), false);
            }
        }

    function project_View_Document_Click() {
        DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
    }



//var documentName = "";
//var id = "";
//var ActionMethodName = "";
//var Sr_No;
//function SaveDocuments() {
//    documentName = $("#DocumentName").val();
//    id = $("#ID").val();
//    ActionMethodName = $("#ActionMethod").val();
//    Sr_No = $("#Sr_no").val();
//    var document = $("#Document").dxTextBox("instance").option("value");
//    debugger
//    $.ajax({
//        type: "POST",
//        url: "/Stock/JobRequestRegister/Job_Documents_Attachment",
//        data: {
//            SR_NO: Sr_No,
//            Document: document,
//            Document_Category: $("#Document_Category").dxDropDownBox("instance").option("value"),
//            Document_Name: $("#Document_Name").dxDropDownBox("instance").option("value"),
//            DocumentName: documentName,
//            Doc_From_Date: $("#Doc_From_Date").dxDateBox("instance").option("value"),
//            Doc_To_Date: $("#Doc_To_Date").dxDateBox("instance").option("value"),
//            Doc_Description: $("#Doc_Description").dxTextBox("instance").option("value"),
//            ActionMethod: ActionMethodName,
//            ID: id,
//        },
//        success: function (data) {
//            HideLoader();
//            if (data.result == false) {
//                DevExpress.ui.dialog.alert(data.message, "Error");
//            }
//            else {
//                var lbSubmitSuccess = DevExpress.ui.dialog.alert(data.message, "Success");
//                $("#Frm_Documents_Popup").dxPopup("hide");
//                Documents_Window_Grid.Refresh();
//            }
//        },
//        error: function (e) {
//            debugger
//        }
//    });
//}
</script>
