@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.Model_Requisition_Item_Requested
@{    
    var IsApprover = (bool)ViewData["RR_ApproveRight"];
    var Supplier_AddRight = (bool)ViewData["RR_Supplier_Add_Right"];
    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<style>
    /*.margR14 {
        margin-right: 14px;
    }

    .margTB10-9 {
        margin-top: 10px !important;
        margin-bottom: 9px !important;
    }

    .margTB10 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .margTB12 {
        margin-top: 11px !important;
        margin-bottom: 12px !important;
    }

    .margB1 {
        margin-bottom: 1px !important;
    }

    .margB2 {
        margin-bottom: 2px !important;
    }

    .margB3 {
        margin-bottom: 3px !important;
    }

    .margB8 {
        margin-bottom: 8px !important;
    }

    .margTB17-16 {
        margin-top: 17px !important;
        margin-bottom: 16px !important;
    }

    .margTB26 {
        margin-top: 26px !important;
        margin-bottom: 26px !important;
    }

    .pll2 {
        padding-left: 2px !important;
    }

    .pt10 {
        padding-top: 10px !important;
    }

    .pt5 {
        padding-top: 5px !important;
    }

    .pt14 {
        padding-top: 14px !important;
    }

    .iconsize {
        margin-top: 10px;
        font-size: 16px;
        margin-left: 5px;
    }*/

    .width100p {
        width: 100%;
    }

    /*.dx-popup-content {
        height: 437px !important;
    }*/

    /*.dx-button-has-text .dx-button-content {
        padding: 2px 0px !important;
    }*/

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .mr5 {
        margin-right: 5px !important;
    }

    .dx-button-orange {
        color: #111;
        border-color: #fda07a;
        background: #fbfdff;
        background: -moz-linear-gradient(top, #f7c3ad 0%, #9fcdfc 64%, #ceefff 100%);
        background: -webkit-linear-gradient(top, #f7c3ad 0%,#9fcdfc 64%,#ceefff 100%);
        background: linear-gradient(to bottom, #f7c3ad 0%,#f5b195 64%,#f5b195 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdff', endColorstr='#ceefff',GradientType=0 );
    }
</style>
<div id="Frm_StockCon_Window_popup">
    @using (Ajax.BeginForm("Frm_Stock_Requisition_Item_Requested", "RequestRegister",
                                       new AjaxOptions
                                       {
                                           HttpMethod = "POST",
                                           UpdateTargetId = "Frm_Stock_Requisition_Item_Requested",
                                           InsertionMode = InsertionMode.InsertAfter,
                                           OnBegin = "AjaxBeginFormPost",
                                           OnSuccess = "Frm_RequisitionItemRequested_OnSuccess"
                                       },
                                       new
                                       {
                                           id = "ID_Frm_Stock_Requisition_Item_Requested_Window",
                                           @class = "edit_form"
                                       }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.Sr)
        @Html.HiddenFor(y => y.Requisition_RequestedItem_ID)
        @Html.HiddenFor(y => y.Requisition_RequestedItem_Item_Name)
        @Html.HiddenFor(y => y.Requisition_RequestedItem_Head)
        @Html.HiddenFor(y => y.Requisition_RequestedItem_Item_Type)
        @Html.HiddenFor(y => y.Requisition_RequestedItem_Item_Code)
        @Html.HiddenFor(y => y.Requisition_RequestedItem_Supplier)
        @Html.HiddenFor(y => y.Requisition_RequestedItem_Delivery_Location)
        @Html.HiddenFor(y => y.Requisition_RequestedItem_Unit)
        @Html.HiddenFor(y => y.UODeptID)
        @Html.HiddenFor(y => y.UOSubDeptID)
        @Html.HiddenFor(y => y.AddedOn)
        @Html.HiddenFor(y => y.AddedBy) 
        @Html.HiddenFor(y => y.Requisition_RequestedItem_Tax_Percent)
        

        using (Html.DevExtreme().ValidationGroup("RRRequestedItem"))
        {
            @*<div class="full-width-header-bg">
                    <div class="row">

                        <div class="col-sm-6">
                            <h3 class="popuphead"><i class="far fa-edit"></i> Item Details </h3>
                        </div>
                        <div class="col-sm-6 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red fields are mandatory</h5>
                        </div>
                    </div>
                </div>*@<!--[Header]-->

    <div class="container-fluid">
        <div class="row formRow">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Item Name</label></div>
                <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Requisition_RequestedItem_Item_ID").Name("Requisition_RequestedItem_Item_ID")
                                       .ValueExpr("ItemID").DisplayExpr("Name").DataSource(d => d.Mvc().Controller("RequestRegister").LoadAction("Get_Item_Requested").Key("ItemID").LoadParams(new { storeid = new JS("function (){ return ReqStoreDeptid;}") }))
                                        .Placeholder("Select Item Requested").ReadOnly(IsVisible).OnInitialized("RR_Item_ID_OnInitialized").Disabled(IsVisible).OnValueChanged("Get_RequestedItem_OnValueChanged").ContentTemplate(@<text> @Html.Partial("Get_Item_Requested") </text>) )
                    @Html.ValidationMessageFor(model => model.Requisition_RequestedItem_Item_ID, "", new { @class = "text-danger" })
                </div>
            </div><!--[1]-->

            <div class="col-sm-6 col-md-6 col-lg-6">
                @(Html.DevExtreme().Button()
                                                                            .ID("RRItemCheckAvailability")
                                                                            .Text("Check Availability")
                                                                            .Disabled(IsVisible)
                                                                            .OnClick(@<text>
                                                                                function () {
                                                                                CheckAvailability_Click()
                                                                                }
                                                                            </text>))
                @(Html.DevExtreme().Button()
                                                                            .ID("RRItemPriceHistory")
                                                                            .Text("Price History")
                                                                            .Disabled(IsVisible)
                                                                            .OnClick(@<text>
                                                                                function () {
                                                                                PriceHistory_Click()
                                                                                }
                                                                            </text>))

            </div><!--[row]--><!--[2]-->


        </div><!--[Item Name]-->
        <div class="row formRow">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label disabletxt" for="user">Item Code</label></div>
                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Requisition_RequestedItem_Item_Code_Txt").Name("Requisition_RequestedItem_Item_Code_Txt").ReadOnly(true).ElementAttr(new Dictionary<string, object>() { { "class", "disabletxt" } }))
                </div>
            </div><!--[1]-->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label disabletxt" for="user">Item Type</label></div>
                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Requisition_RequestedItem_Item_Type_Txt").Name("Requisition_RequestedItem_Item_Type_Txt").ReadOnly(true))
                </div>
            </div><!--[2]-->
        </div><!--[Item Code/Item Type]-->
        <div class="row formRow">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-4 col-md-4 col-lg-4 pll "><label class="control-label disabletxt" for="user">Head</label></div>
                <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Requisition_RequestedItem_Head_Txt").Name("Requisition_RequestedItem_Head_Txt").ReadOnly(true))
                </div>
            </div><!--[1]-->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Delivery To</label></div>
                <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Requisition_RequestedItem_Delivery_Location_ID").Name("Requisition_RequestedItem_Delivery_Location_ID")
                        .Value(Model.Requisition_RequestedItem_Delivery_Location_ID).ValueExpr("Loc_Id").DisplayExpr("Location_Name").DataSource(d => d.Mvc().Controller("RequestRegister").LoadAction("Get_Locations").Key("Loc_Id").LoadParams(new { StoreID_UO_DeptID = new JS("function (){ return  _StoreID_UO_DeptID;}") }))
                        .Placeholder("Please select Location..").ReadOnly(IsVisible).Disabled(IsVisible).OnValueChanged("Get_Location_RequestedItem_OnValueChanged").ContentTemplate(@<text> @Html.Partial("Get_Locations") </text>) )
                    @Html.ValidationMessageFor(model => model.Requisition_RequestedItem_Delivery_Location_ID, "", new { @class = "text-danger" })
                </div>
            </div><!--[2]-->
        </div><!--[Head/Delivery To]-->
        <div class="row formRow" id="RR_Supplier_Row">
            <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label " for="user">Supplier</label></div>
            <div class="col-sm-7 col-md-7 col-lg-7 prm">
                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Requisition_RequestedItem_Supplier_ID").Name("Requisition_RequestedItem_Supplier_ID")
                            .Value(Model.Requisition_RequestedItem_Supplier_ID).ValueExpr("ID").DisplayExpr("Supplier").DataSource(d => d.Mvc().Controller("RequestRegister").LoadAction("Get_Suppliers").Key("ID").LoadParams(new { Param_ItemID = new JS("function (){ return ItemID;}") }))
                            .Placeholder("Please select Supplier..").ReadOnly(IsVisible).Disabled(IsVisible).OnInitialized("RR_Supplier_ID_Initialize").OnValueChanged("Get_Supplier_RequestedItem_OnValueChanged").ContentTemplate(@<text> @Html.Partial("Get_Suppliers") </text>) )
                @Html.ValidationMessageFor(model => model.Requisition_RequestedItem_Supplier_ID, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 prm">
                @(Html.DevExtreme().Button().ID("RR_SupplierMasterNew").Text("Add Supplier").OnClick("RR_Add_Supplier_Click") )
            </div>
        </div><!--[Supplier]-->
        <div class="row formRow">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Make</label></div>
                <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Requisition_RequestedItem_Make").Name("Requisition_RequestedItem_Make").Value(Model.Requisition_RequestedItem_Make).Placeholder("Enter Make...").MaxLength(255).ReadOnly(IsVisible).Disabled(IsVisible))
                </div>
            </div><!--[1]-->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Model</label></div>
                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Requisition_RequestedItem_Model").Name("Requisition_RequestedItem_Model").Value(Model.Requisition_RequestedItem_Model).Placeholder("Enter Model...").MaxLength(255).ReadOnly(IsVisible).Disabled(IsVisible))
                </div>
            </div><!--[2]-->
        </div><!--[Make/Model]-->
        <div class="row formRow">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Requested Quantity</label></div>
                <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Requisition_RequestedItem_Requested_Qty").Name("Requisition_RequestedItem_Requested_Qty").Value(Model.Requisition_RequestedItem_Requested_Qty).ShowSpinButtons(true).Format("#0.00").Placeholder("Enter Qty...").ReadOnly(IsVisible).Disabled(IsVisible).OnValueChanged("RequiredQty_RequestedItem_OnValueChanged"))
                    @Html.ValidationMessageFor(model => model.Requisition_RequestedItem_Requested_Qty, "", new { @class = "text-danger" })
                </div>
            </div> <!--[1]-->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label disabletxt" for="user" id="lblApprovedQty">Approved Quantity</label></div>
                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Requisition_RequestedItem_Approved_Qty").Name("Requisition_RequestedItem_Approved_Qty").Value(Model.Requisition_RequestedItem_Approved_Qty).ShowSpinButtons(true).Format("#0.00").Placeholder("Enter Qty...").ReadOnly(!IsApprover).Disabled(IsVisible).OnValueChanged("ApprovedQty_RequestedItem_OnValueChanged"))
                    @Html.ValidationMessageFor(model => model.Requisition_RequestedItem_Approved_Qty, "", new { @class = "text-danger" })
                </div>
            </div> <!--[2]-->
        </div><!--[Req Qty/Approved Qty]-->
        <div class="row formRow">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <div class="col-sm-5 col-md-5 col-lg-5 pll"><label class="control-label text-red" for="user">Unit</label></div>
                <div class="col-sm-7 col-md-7 col-lg-7 prm">
                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Requisition_RequestedItem_Unit_ID").Name("Requisition_RequestedItem_Unit_ID").Placeholder("Select").DisplayExpr("Unit").ValueExpr("Unit_ID").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).DataSource(d => d.Mvc().Controller("RequestRegister").LoadAction("Get_Units").Key("Unit_ID")).ReadOnly(IsVisible).Disabled(IsVisible).Value(Model.Requisition_RequestedItem_Unit_ID).OnValueChanged("Get_Unit_RequestedItem_OnValueChanged").Visible(true))
                </div>
            </div><!--[1]-->
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="col-sm-3 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Rate</label></div>
                <div class="col-sm-9 col-md-8 col-lg-8 prm pll2">
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Requisition_RequestedItem_Rate").Name("Requisition_RequestedItem_Rate").Value(Model.Requisition_RequestedItem_Rate).Format("#0.00").ShowSpinButtons(false).Placeholder("Rate").ReadOnly(IsVisible).Disabled(IsVisible).OnValueChanged("Rate_RequestedItem_OnValueChanged"))
                    @*@Html.ValidationMessageFor(model => model.Requisition_RequestedItem_Rate, "", new { @class = "text-danger" })*@
                </div>
            </div><!--[2]-->
        </div><!--[Unit/Rate]-->
        <div class="row formRow">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <div class="col-sm-5 col-md-5 col-lg-5 pll"><label class="control-label" for="user">Discount(%)</label></div>
                <div class="col-sm-7 col-md-7 col-lg-7 prm">
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Requisition_RequestedItem_Discount").Name("Requisition_RequestedItem_Discount").Value(Model.Requisition_RequestedItem_Discount).Format("#0.00").ShowSpinButtons(true).Placeholder("Discount(%)").ReadOnly(IsVisible).Disabled(IsVisible).OnValueChanged("Discount_RequestedItem_OnValueChanged"))
                    @Html.ValidationMessageFor(model => model.Requisition_RequestedItem_Discount, "", new { @class = "text-danger" })
                </div>
            </div><!--[3]-->
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="col-sm-3 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Rate After Discount</label></div>
                <div class="col-sm-9 col-md-8 col-lg-8 prm pll2">
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Requisition_RequestedItem_Rate_After_Discount").Name("Requisition_RequestedItem_Rate_After_Discount").Value(Model.Requisition_RequestedItem_Rate_After_Discount).Format("#0.00").ShowSpinButtons(true).Placeholder("Rate After Discount").ReadOnly(true).Disabled(IsVisible).OnValueChanged("RateOnDiscount_RequestedItem_OnValueChanged"))

                </div>
            </div><!--[4]-->
        </div><!--[Discount/Rateafterdiscount]-->
        <div class="row formRow">
            <div class="col-sm-2 col-md-2 col-lg-2 pll ">
                <label class="control-label" for="user">Taxes</label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 prm">
                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Requisition_RequestedItem_Taxes").Name("Requisition_RequestedItem_Taxes").Value(Model.Requisition_RequestedItem_Taxes).Format("#0.00").Placeholder("Click Add Taxes...").ReadOnly(true).Disabled(IsVisible).OnValueChanged("Taxes_RequestedItem_OnValueChanged"))

            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 pll">
                <div class="dx-button dx-button-orange dx-button-normal dx-widget dx-button-has-text " role="button" aria-label="Price History">
                    <a href="javascript:void(0);" onclick="AddTax_Click()" class="link-txt">
                        <div class="dx-button-content">
                            <span class="dx-button-text">Add Taxes</span>
                        </div>
                    </a>
                </div><!--[button]-->
                <div class="dx-button dx-button-orange dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History">
                    <a href="javascript:void(0);" onclick="ManageTaxClick()" class="link-txt">
                        <div class="dx-button-content">
                            <span class="dx-button-text">Manage Taxes</span>
                        </div>
                    </a>
                </div><!--[button]-->
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Priority</label></div>
                <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Requisition_RequestedItem_Priority").Name("Requisition_RequestedItem_Priority").DataSource(new[] { "High", "Normal", "Low" }).Value(Model.Requisition_RequestedItem_Priority).ReadOnly(IsVisible).Disabled(IsVisible))
                    @Html.ValidationMessageFor(model => model.Requisition_RequestedItem_Priority, "", new { @class = "text-red" })
                </div>
            </div><!--[2]-->
        </div><!--[Taxes/Priority]-->
        <div class="row formRow">

            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="col-sm-3 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Req. Delivery Date</label></div>
                <div class="col-sm-9 col-md-8 col-lg-8 pll prm">
                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("Requisition_RequestedItem_Reqd_Delivery_date").Name("Requisition_RequestedItem_Reqd_Delivery_date").Placeholder("Select Date..").Value(Model.Requisition_RequestedItem_Reqd_Delivery_date).ReadOnly(IsVisible).InvalidDateMessage("Value must be a Date!!").Disabled(IsVisible))
                    @Html.ValidationMessageFor(model => model.Requisition_RequestedItem_Reqd_Delivery_date, "", new { @class = "text-danger" })
                </div>
            </div><!--[1]-->
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Amount</label></div>
                <div class="col-sm-8 col-md-8 col-lg-8 pll prm">
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Requisition_RequestedItem_Amount").Name("Requisition_RequestedItem_Amount").Value(Model.Requisition_RequestedItem_Amount).ReadOnly(true).Disabled(IsVisible).Format("#0.00"))
                </div>
            </div><!--[2]-->
        </div><!--[Del.Date/Amount]-->
        <div class="row formRow">
            <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Remarks</label></div>
            <div class="col-sm-10 col-md-10 col-lg-10 prm">
                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Requisition_RequestedItem_Remarks").Name("Requisition_RequestedItem_Remarks").Disabled(IsVisible).Placeholder("Enter Remarks...").MaxLength(8000).Value(Model.Requisition_RequestedItem_Remarks))
            </div>
        </div><!--[Remarks]-->
        <div class="row styleActionBtn marginAll8">
            @if (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "View")
            {
                @(Html.DevExtreme().Button().CustomCloseButton().Text("Close").ID("RequisitionItemRequested_Close").FocusStateEnabled(true).OnClick(@<text>function () {$("#FrmRequisition_Inner_Popup").dxPopup("hide");}</text>))
            }
            @if (Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit")
            {
                @(Html.DevExtreme().Button().Text("OK").CustomSaveButton().ID("RequisitionItemRequested_Save").FocusStateEnabled(true).UseSubmitBehavior(true).ValidationGroup("RRRequestedItem"))
                @(Html.DevExtreme().Button().Text("Cancel").CustomCloseButton().ID("RequisitionItemRequested_Cancel").FocusStateEnabled(true).OnClick(@<text>function () {$("#FrmRequisition_Inner_Popup").dxPopup("hide");}</text>))
            }
        </div><!--[Footer Buttons]-->
    </div><!--[Center ]-->
        }
    }
</div>
<script>
    var OpenFromRR;
 
    function RR_Add_Supplier_Click()
    {
        if ("@IsVisible" == "True") { return;}
        if ("@Supplier_AddRight"=="False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights")
            return;
        } 
        OpenFromRR = true;
        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/Stock/SupplierMaster/Frm_SupplierMaster_Window",
            data: {
                ActionMethod: "New",
                ID: 0,
                PostSucessFunction: "RRAddSupplierSuccess",
                PopupName: "RequestRegister_Button_popup"
            },
            success: function (data)
            {
                OpenPopup("RequestRegister_Button_popup", "New ~ Supplier", null, "auto", "1000", true, data);             
            }
        });   
    }
    function RRAddSupplierSuccess(data)
    {
        HideLoader();
        if (data.result == true)
        {
            $("#RequestRegister_Button_popup").dxPopup("hide");
            $("#LookUp_Requisition_SupplierRequestedItem_Item_datagrid").dxDataGrid("instance").refresh();
        }
        else
        {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
    }
    function AddTax_Click()
    {
    
        if ("@IsVisible" == "True") { return; }
        var itemID = $("#Requisition_RequestedItem_Item_ID").dxDropDownBox("instance").option("value");
        if (itemID == null || itemID.length == 0)
        {
            DevExpress.ui.dialog.alert('Select An Item..', 'Error..');         
            return;
        }
        var Qty = $("#Requisition_RequestedItem_Requested_Qty").dxNumberBox("instance").option("value");
        if (Qty == null || Qty == 0) {
            DevExpress.ui.dialog.alert('Select Req. Qty..', 'Error..');
            return;
        }
        var Rate = $("#Requisition_RequestedItem_Rate").dxNumberBox("instance").option("value");

        var Rate_After_Discount = $("#Requisition_RequestedItem_Rate_After_Discount").dxNumberBox("instance").option("value");
        //if (Rate == null || Rate == 0) {
        //    DevExpress.ui.dialog.alert('Select Rate..', 'Error..');
        //    return;
        //}
        ShowLoader();
      
        OpenPopup("RequestRegister_Button_popup", "Add Taxes", "@Url.Action("Frm_Requisition_Request_Add_Taxes", "RequestRegister", new {@area= "Stock" })?ActionMethod=_NewAddTax", "auto", 1024, false, null);                       
      
    }
    function ManageTaxClick()
    {
     
        if ("@IsVisible" == "True") { return; }
        var itemID = $("#Requisition_RequestedItem_Item_ID").dxDropDownBox("instance").option("value");
        if (itemID == null || itemID.length == 0)
        {
            DevExpress.ui.dialog.alert('Select An Item..', 'Error..');         
            return;
        }
        var Qty = $("#Requisition_RequestedItem_Requested_Qty").dxNumberBox("instance").option("value");
        if (Qty == null || Qty.length == 0) {
            DevExpress.ui.dialog.alert('Select Req. Qty..', 'Error..');
            return;
        }
        //var Rate = $("#Requisition_RequestedItem_Rate").dxNumberBox("instance").option("value");
        //if (Rate == null || Rate.length == 0) {
        //    DevExpress.ui.dialog.alert('Select Rate..', 'Error..');
        //    return;
        //}
        ShowLoader();
        $.ajax({
            type: "POST",
            url: "/Stock/RequestRegister/Frm_Requisition_Request_Manage_Taxes",   
             data:
            {       
                    
                 SubitemID: itemID,
              
            },
            success: function (data)
            {
                OpenPopup("RequestRegister_ManageTaxButton_popup", "ManageTaxes", null, "auto", "1000", true, data);            
            }
        }); 
    }

    function Frm_Requisition_Request_Add_Taxes_OnSuccess(data) {
     
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else {
            $("#RequestRegister_Button_popup").dxPopup("hide");

            if (data.action != "_NewAddTax") {
                RequisitionItemRequestedTaxGrid.SetFocusedRowIndex(-1);
                RequisitionItemRequestedTaxGrid.Refresh();
            }
        }
    }
</script>
<script>
    var RR_Item_DG;
    var RR_Delivery_DG;
    var RR_Supplier_DG;
    var ItemID;

    function RR_Item_DD()
    {      
        var $dataGrid = $("#LookUp_Requisition_RequestedItem_Item_datagrid");
        if ($dataGrid.length)
        {
            RR_Item_DG = $dataGrid.dxDataGrid("instance");       
        }        
    }
    function RR_Delivery_DD()
    {
        
        var $dataGrid = $("#LookUp_Requisition_LocationRequestedItem_Item_datagrid");
        if ($dataGrid.length)
        {
            RR_Delivery_DG= $dataGrid.dxDataGrid("instance");            
        }        
    }
    function RR_Supplier_DD()
    {   
       
        var $dataGrid = $("#LookUp_Requisition_SupplierRequestedItem_Item_datagrid");
        if ($dataGrid.length)
        {
            RR_Supplier_DG = $dataGrid.dxDataGrid("instance");     
        }
    }   

</script>
<script>   
    var subitem;
    function RR_Item_ID_OnInitialized(e)
    {
      
        //ItemID = @*"@Model.Requisition_RequestedItem_Item_ID"*@;
    }
    async function Get_RequestedItem_OnValueChanged(e)
    {

        ItemID = e.value;
        subitem = ItemID;
        e.component.close();
        if (e.value == null && e.previousValue != null)
        {
            RR_Item_DG.clearSelection();
            return;
        }
        if (RR_Item_DG.getSelectedRowsData().length > 0)
        {
            var item = RR_Item_DG.getSelectedRowsData()[0];
            $("#Requisition_RequestedItem_Item_Name").val(item.Name);
            $("#Requisition_RequestedItem_Head").val(item.Head);
            $("#Requisition_RequestedItem_Item_Type").val(item.Item_Type);
            $("#Requisition_RequestedItem_Item_Code").val(item.Item_Code);

            $("#Requisition_RequestedItem_Item_Code_Txt").dxTextBox("instance").option("value", item.Item_Code);
            $("#Requisition_RequestedItem_Item_Type_Txt").dxTextBox("instance").option("value", item.Item_Type);
            $("#Requisition_RequestedItem_Head_Txt").dxTextBox("instance").option("value", item.Head);
            $("#Requisition_RequestedItem_Unit_ID").dxSelectBox("instance").option("value", item.UnitID);
            await RR_Supplier_DG.refresh();
        }
    }
    function Get_Location_RequestedItem_OnValueChanged(e)
    {              
        e.component.close();    
        if (e.value == null && e.previousValue != null)
        {
            RR_Delivery_DG.clearSelection();
            return;
        }
        if (RR_Delivery_DG.getSelectedRowsData().length > 0)
        {
            var item = RR_Delivery_DG.getSelectedRowsData()[0];
            $("#Requisition_RequestedItem_Delivery_Location").val(item.Location_Name);
        }
    }
    function RR_Supplier_ID_Initialize(e) { }
    function Get_Supplier_RequestedItem_OnValueChanged(e)
    {      
        e.component.close();
        if (e.value == null && e.previousValue != null)
        {
            RR_Supplier_DG.clearSelection();
            return;
        }
        if (RR_Supplier_DG.getSelectedRowsData().length > 0)
        {
            var item = RR_Supplier_DG.getSelectedRowsData()[0];
                $("#Requisition_RequestedItem_Supplier").val(item.Supplier);
        }
    }
    function Get_Unit_RequestedItem_OnValueChanged(e)
    {
        var Unit = $("#Requisition_RequestedItem_Unit_ID").dxSelectBox("instance").option("displayValue");
        $("#Requisition_RequestedItem_Unit").val(Unit);
    }
    function Rate_RequestedItem_OnValueChanged(e)
    {     
        CalculateRateAfterDiscount();    
      
    }

    function RateOnDiscount_RequestedItem_OnValueChanged(e)
    {     
        CalculateTaxes();
        CalculateAmount();
    }
    function Taxes_RequestedItem_OnValueChanged(e)
    {        
        CalculateAmount();       
    }
    function Discount_RequestedItem_OnValueChanged(e) {
        CalculateRateAfterDiscount();        
    }
    function RequiredQty_RequestedItem_OnValueChanged(e)
    {
        
        var status = CompareRequestedAprovedAmounts();
        if (status == true) {
            CalculateTaxes();
            CalculateAmount();
        }
     
    }
    function CompareRequestedAprovedAmounts()
    {
       
        var RequestedQty  =$("#Requisition_RequestedItem_Requested_Qty").dxNumberBox("instance").option('value');
        var ApprovedQty = $("#Requisition_RequestedItem_Approved_Qty").dxNumberBox("instance").option('value');
        if (ApprovedQty != 0 && ApprovedQty > RequestedQty ) {
            DevExpress.ui.dialog.alert('Requested Qty cannot be less than Approved Qty', 'Error');
            return false;
        }
        else
            return true;
            //$("#Requisition_RequestedItem_Requested_Qty").dxNumberBox({})
            //    .dxValidator({
            //        validationRules: [{
            //            type: 'compare',
            //            comparisonTarget: function () {
            //                var ApprovedQty = $("#Requisition_RequestedItem_Approved_Qty").dxNumberBox("instance");
            //                if (ApprovedQty) {
            //                    return ApprovedQty.option("value");
            //                }
            //            },
            //            comparisonType: ">=",
            //            message: "Requested Qty cannot be less than Approved Qty",
            //            ignoreEmptyValue: true
            //        }],
            //        validationGroup: "RRRequestedItem"
            //    });
        
    }
    function ApprovedQty_RequestedItem_OnValueChanged(e)
    {
        var status = CompareRequestedAprovedAmounts();
        if (status == true) {
            CalculateTaxes();
            CalculateAmount();
        }
     
    }

    function CalculateTaxes() {
        var Rate = $("#Requisition_RequestedItem_Rate").dxNumberBox("instance").option("value");
        var RateAfterDiscount = $("#Requisition_RequestedItem_Rate_After_Discount").dxNumberBox("instance").option("value");
        var ApprovedQty = $("#Requisition_RequestedItem_Approved_Qty").dxNumberBox("instance").option("value");
        var RequestedQty = $("#Requisition_RequestedItem_Requested_Qty").dxNumberBox("instance").option("value");
     //   var Tax = $("#Requisition_RequestedItem_Taxes").dxNumberBox("instance").option("value");
        var Qty = RequestedQty;
        if (ApprovedQty > 0)
        { Qty = ApprovedQty; }

        if (Qty == null || Qty == 0) {
            DevExpress.ui.dialog.alert('Please enter Quantity in Item screen', 'Error..');
            return;
        }
       // var Discount = ((Qty * Rate) * Discount_percent) / 100;
        //var TaxAmt = (((Qty * Rate) -Discount) * Tax) / 100;

        $.ajax({
            type: 'GET',
            url: "/Stock/RequestRegister/CalculateTaxes",
            data: {
                Quantity: Qty,
                Rate: Rate,
                RateAfterDiscount: RateAfterDiscount
            },
            success: function (data) {
                $("#Requisition_RequestedItem_Taxes").dxNumberBox("instance").option("value", data.Amount);
                var taxper =  data.TaxPercent;
                $("#Requisition_RequestedItem_Tax_Percent").val(taxper);



            },

        });
    //    $("#Requisition_RequestedItem_Taxes").dxNumberBox("instance").option("value", (Qty * Rate) - Discount + Tax);
    }
    function CalculateAmount()
    {
        var Rate = $("#Requisition_RequestedItem_Rate").dxNumberBox("instance").option("value");
        var RateAfterDiscount = $("#Requisition_RequestedItem_Rate_After_Discount").dxNumberBox("instance").option("value");
        var ApprovedQty = $("#Requisition_RequestedItem_Approved_Qty").dxNumberBox("instance").option("value");
        var RequestedQty = $("#Requisition_RequestedItem_Requested_Qty").dxNumberBox("instance").option("value");
        var Discount_percent = $("#Requisition_RequestedItem_Discount").dxNumberBox("instance").option("value");
        var Tax = $("#Requisition_RequestedItem_Taxes").dxNumberBox("instance").option("value");
        var Qty = RequestedQty;
        if (ApprovedQty > 0) { Qty = ApprovedQty; }
      //  var Discount = ((Qty * Rate) * Discount_percent) / 100;
        //var TaxAmt = (((Qty * Rate) -Discount) * Tax) / 100;

     
            $("#Requisition_RequestedItem_Amount").dxNumberBox("instance").option("value", (Qty * RateAfterDiscount) + Tax);
       

      
       
    }

    function CalculateRateAfterDiscount()
    {
        var Rate = $("#Requisition_RequestedItem_Rate").dxNumberBox("instance").option("value");
        var Discount_percent = $("#Requisition_RequestedItem_Discount").dxNumberBox("instance").option("value");
        var Amount = $("#Requisition_RequestedItem_Amount").dxNumberBox("instance").option("value");
        var ApprovedQty = $("#Requisition_RequestedItem_Approved_Qty").dxNumberBox("instance").option("value");
        var RequestedQty = $("#Requisition_RequestedItem_Requested_Qty").dxNumberBox("instance").option("value");
        var Qty = RequestedQty;
        if (ApprovedQty > 0) { Qty = ApprovedQty; }

        if (Rate == null) {

            Rate = Amount / Qty;
        }
     
        DiscountAmount = (Rate * Discount_percent)/100;
     
        $("#Requisition_RequestedItem_Rate_After_Discount").dxNumberBox("instance").option("value", Rate - DiscountAmount);
       

      
       
    }
     function CheckAvailability_Click() {
          if (subitem == null || subitem == 0 || subitem == "undefined") {
            DevExpress.ui.dialog.alert("Please Select Item", "Error");
            return;
        }
        ShowLoader();
         OpenPopup("Check_Avl_Popup", "Search ~ Stock Availability", "@Url.Action("Frm_User_Order_Check_Availability", "UserOrder", new { @area = "Stock" })?ItemID=" + encodeURIComponent(subitem), "auto", 900, false, null);
     
    }

    function PriceHistory_Click()
    {
      
        if (subitem == null || subitem == 0 || subitem == "undefined") {
            DevExpress.ui.dialog.alert("Please Select Item", "Error");
            return;
        }
        ShowLoader();
         OpenPopup("popup_frm_price_history", "Search ~ Price History", "@Url.Action("Frm_PO_Price_History", "PurchaseRegister", new { @area = "Stock" })?ItemID=" + encodeURIComponent(subitem), "auto", 900, false, null);
     
       }

   
</script>
<script>
    var _StoreID_UO_DeptID;
    var SupplierNewright;
    $(document).ready(function ()
    {
        if ("@Supplier_AddRight" == "False")
        {
	        $("#RR_SupplierMasterNew").hide();
        }
        var form = "ID_Frm_Stock_Requisition_Item_Requested_Window";
        ShowLoader();
        AssignIDtoLabel(form, "RR_ItemReq");
        var ReqType = $("#RequisitionType").dxSelectBox('instance').option('value');
        RR_Item_DD();
        RR_Delivery_DD();
        if (ReqType == "Purchase Request")
        {
            RR_Supplier_DD();
        }
        if (ItemRequested_Sr == null || ItemRequested_Sr == undefined || ItemRequested_Sr == "undefined")
        {
            _StoreID_UO_DeptID = ReqStoreDeptid;
        }
        else
        {
            _StoreID_UO_DeptID = ReqStoreDeptid + ',' + $("#UODeptID").val() + ',' + $("#UOSubDeptID").val();
        }
        $("#Requisition_RequestedItem_Item_ID").dxDropDownBox("instance").focus();  
              
        if (ReqType == "Transfer Request")
        {
            document.getElementById("RR_Supplier_Row").style.display = "none";
            $("#Requisition_RequestedItem_Supplier_ID").dxDropDownBox("instance").option("disabled", true);
        }

        if ("@IsApprover"=="True")
        {
            $("#Requisition_RequestedItem_Approved_Qty").dxNumberBox("instance").option("readOnly", false);
            $("#lblApprovedQty").removeClass("disabletxt");
        }
        else
        {
            $("#Requisition_RequestedItem_Approved_Qty").dxNumberBox("instance").option("readOnly", true);
            $("#lblApprovedQty").addClass("disabletxt");
        }
        if ("@Model.ActionMethod" == "_Edit" || "@Model.ActionMethod" == "_View" || "@Model.ActionMethod" == "_Delete")
        {
            RR_Item_DG.selectRows("@Model.Requisition_RequestedItem_Item_ID", false);
            RR_Delivery_DG.selectRows("@Model.Requisition_RequestedItem_Delivery_Location_ID", false);
            if (ReqType == "Purchase Request")
            {
                RR_Supplier_DG.selectRows("@Model.Requisition_RequestedItem_Supplier_ID",false);
            }
        }
            setTimeout(function ()
    {
        Set_Form_View_Delete_Mode(null, form, "@Model.ActionMethod");
        Focus_FirstEditable_Field(form, "@Model.ActionMethod");
        HideLoader();
            }, Timeout500);
    });

</script>