@using DevExtreme.AspNet.Mvc;
@using Common_Lib;
@model ConnectOneMVC.Areas.Stock.Models.Model_NEVD_Requisition
@{
    bool IsVisible = Model != null && (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_View") || (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_Delete")) ? true : false);
    bool IsDisabled = Model != null && (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_View") || (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_Delete")) ? true : false);
    bool isvisible = (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_New") ? true : false);
    bool storeread = Model != null && (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_Edit") || Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_View") || (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_Delete")) ? true : false);
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    bool RR_Add_Rights = (bool)ViewData["RR_AddRight"];
    bool RR_Update_Rights = (bool)ViewData["RR_UpdateRight"];
    bool RR_View_Rights = (bool)ViewData["RR_ViewRight"];
    bool RR_Delete_Rights = (bool)ViewData["RR_DeleteRight"];
    bool RR_Export_Rights = (bool)ViewData["RR_ExportRight"];
    bool RR_Report_Rights = (bool)ViewData["RR_ReportRight"];
    bool RR_Approve_Rights = (bool)ViewData["RR_ApproveRight"];
}

@*unused styles*@

@*<style>
        .wdfull {
            width: 100%;
        }

        td {
            width: auto;
        }

        .width1200px {
            width: 1200px;
        }


        .nav-tabs > li > a.active, .nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus {
            color: #555;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }

        .width100p {
            width: 100%;
        }

        .paddTB10-9 {
            padding-top: 10px !important;
            padding-bottom: 9px !important;
        }

        .pt10 {
            padding-top: 10px !important;
        }

        .pll3 {
            padding-left: 3px !important;
        }
    </style>*@
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>

<div id="id_RequisitionRR" class="edit_form">
    @using (Ajax.BeginForm("Frm_NEVD_Requisition", "RequestRegister",
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "Frm_NEVD_Requisition",
                                InsertionMode = InsertionMode.InsertAfter,
                                OnBegin = "AjaxBeginFormPost",
                        // OnSuccess = "OnRequisitionRegisterAjaxSuccessForm"
                        OnSuccess = String.Format("{0}", Model.RRPostSuccessFunction)
                            },
                     new
                     {
                         id = "RRvalidationForm",
                         @class = "edit_form"
                     }))
    {
        @Html.HiddenFor(x => x.TempActionMethod)
        @Html.HiddenFor(x => x.RR_ID)
        @Html.HiddenFor(x => x.RRSubmitMode)
        @Html.HiddenFor(x => x.RRPopupName)
        @Html.HiddenFor(x => x.RR_CurrUserRole)
        @Html.HiddenFor(x => x.RR_UOID)
        @Html.HiddenFor(x => x.RR_UOSubitemID)
        @Html.HiddenFor(x => x.RR_UO_ItemRecID)
        @Html.Hidden("is_Requestor", Model.is_Requestor)
        @Html.Hidden("is_Store_Keeper", Model.is_Store_Keeper)
        @Html.Hidden("is_Approver", Model.is_Approver)
        Html.AntiForgeryToken();
        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();

        using (Html.DevExtreme().ValidationGroup("RR_Validation"))
        {
            //Header not required, popup title serves

            @*<div class="full-width-header-bg2">
                    <div class="row">

                        <div class="col-sm-8">
                            <h3 class="popuphead"><i class="far fa-edit"></i> Requisition Request</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align">
                                <i class="fas fa-info-circle"></i> Red Fields are mandatory
                            </h5>
                        </div>
                    </div>
                </div>*@ <!--[Header]-->

            <div class="row formRow">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label disabletxt" for="user">Requisition ID</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 prm">
                        @(Html.DevExtreme().TextBoxFor(y => y.RequisitionNumber).CustomTextBox().ID("RequisitionNumber").Name("RequisitionNumber").Value(Model.RequisitionNumber).Placeholder("RR No.").ReadOnly(true))
                    </div>
                </div><!--[RequisitionNumber]-->
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label disabletxt" for="user">Requisition Status</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().TextBox().ID("RequisitionStatus").CustomTextBox().Name("RequisitionStatus").Value(Model.RequisitionStatus).Placeholder("RR Status").ReadOnly(true))
                    </div>
                </div><!--[RequisitionStatus]-->
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="col-sm-3 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Requisition Date</label></div>
                    <div class="col-sm-9 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().DateBox().CustomDateBox().ID("RequisitionDate").Name("RequisitionDate").Placeholder("Requisition Date").TabIndex(1).Value(Model.RequisitionDate).ReadOnly(IsDisabled).InvalidDateMessage("Value must be a Date!!").Disabled(IsDisabled))
                        @Html.ValidationMessageFor(model => model.RequisitionDate, "", new { @class = "text-danger" })
                    </div>
                </div><!--[RequisitionDate]-->
            </div><!--[ReqNo/Date/Status]-->
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Project Name</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @*dx-state-readonly*@
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("RequisitionProjectID").Name("RequisitionProjectID").Placeholder("Project Name")
                                              .DataSource(d => d.Mvc().Controller("RequestRegister").LoadAction("Get_Project_List").Key("Project_Id")).Disabled(IsDisabled).TabIndex(2)
                                              .ValueExpr("Project_Id").DisplayExpr("Project_Name").OnValueChanged("On_Project_Changed").ContentTemplate(@<text> @Html.Partial("Get_Project_List") </text>))
                        @Html.ValidationMessageFor(model => model.RequisitionProjectID, "", new { @class = "text-danger" })
                    </div>
                </div><!--[Project]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Job Name</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("RequisitionJobID").Name("RequisitionJobID").Placeholder("Job Name")
                                              .DataSource(d => d.Mvc().Controller("RequestRegister").LoadAction("Get_Job_List").Key("ID")).Disabled(IsDisabled).TabIndex(3)
                                              .ValueExpr("ID").DisplayExpr("Job_Name").OnValueChanged("On_Job_Changed").ContentTemplate(@<text> @Html.Partial("Get_Job_List") </text>))
                        @Html.ValidationMessageFor(model => model.RequisitionJobID, "", new { @class = "text-danger" })

                    </div>
                </div><!--[Job]-->
            </div><!--[Project/Job]-->
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label disabletxt" for="user">Complex Name</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("RequisitionProjectComplex").Name("RequisitionProjectComplex").Placeholder("Complex for Project").ReadOnly(true))
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label disabletxt" for="user">Job No.</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("RequisitionJobNo").Name("RequisitionJobNo").Placeholder("Job No.").ReadOnly(true))
                    </div>
                </div>
            </div><!--[Complex/Job no]-->
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label disabletxt" for="user">Sanction No.</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("RequisitionProjectSanctionNo").Name("RequisitionProjectSanctionNo").Placeholder("Project Sanction No.").ReadOnly(true))
                    </div>
                </div><!--[SanctionNo]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label disabletxt" for="user">Job Type</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("RequisitionJobType").Name("RequisitionJobType").Placeholder("Job Type").ReadOnly(true))
                    </div>
                </div><!--[JobType]-->
            </div><!--[Sanction no/Job Type]-->
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Requestor Store / Department Name</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("RequisitionRequestorStoreDeptID").Name("RequisitionRequestorStoreDeptID").Placeholder("Requestor Store/Dept.")
                                                      .DataSource(d => d.Mvc().Controller("RequestRegister").LoadAction("Get_Req_Store_Dept_List").Key("ID")).ValueExpr("ID").DisplayExpr("Name").Disabled(IsDisabled).TabIndex(4)
                                                      .OnValueChanged("On_Requestor_Store_Changed").ContentTemplate(@<text> @Html.Partial("Get_Req_Store_Dept_List") </text>))
                        @Html.ValidationMessageFor(model => model.RequisitionRequestorStoreDeptID, "", new { @class = "text-danger" })
                    </div>
                </div><!--[RequisitionRequestorStoreDeptID]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label disabletxt" for="user">Requestor Main Department Name</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("RequisitionRequestorMainDept").Name("RequisitionRequestorMainDept").ReadOnly(true))
                    </div>
                </div><!--[2]-->
            </div><!--[Requestor Store]-->
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Requestor Name</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("RequisitionRequestorID").Name("RequisitionRequestorID").Placeholder("Requestor Name")
                                                      .DataSource(d => d.Mvc().Controller("RequestRegister").LoadAction("Get_Requestor_List").Key("ID")).ValueExpr("ID").DisplayExpr("Name").Disabled(IsDisabled).TabIndex(5)
                                                      .OnValueChanged("On_Requestor_Changed").ContentTemplate(@<text> @Html.Partial("Get_Requestor_List") </text>))
                        @Html.ValidationMessageFor(model => model.RequisitionRequestorID, "", new { @class = "text-danger" })
                    </div>
                </div><!--[RequisitionRequestorID]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label disabletxt" for="user">Mobile/CUG No.</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("RequisitionRequestorMobile").Name("RequisitionRequestorMobile").Placeholder("Requestor Mobile").ReadOnly(true))
                    </div>
                </div><!--[2]-->
            </div><!--[Requestor]-->
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Requisition Type</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("RequisitionType").Name("RequisitionType").DataSource(new[] { "Purchase Request", "Transfer Request" }).Placeholder("Select Requisition Type")
                                              .Disabled(IsDisabled).OnValueChanged("On_Req_Type_Changed").TabIndex(6) )
                        @Html.ValidationMessageFor(model => model.RequisitionType, "", new { @class = "text-red" })
                    </div>
                </div><!--[2]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label disabletxt" for="user" id="lblTrfDept">Transfer From Dept.</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("RequisitionTransferFromDeptID").Name("RequisitionTransferFromDeptID").Placeholder("Transfer From Dept.")
                                              .DataSource(d => d.Mvc().Controller("RequestRegister").LoadAction("Get_Trf_From_Dept_List").Key("ID")).Disabled(IsDisabled).ReadOnly(true).TabIndex(7)
                                              .ValueExpr("ID").DisplayExpr("Name").OnValueChanged("On_TransferFromDept_Changed").ContentTemplate(@<text> @Html.Partial("Get_Trf_From_Dept_List") </text>))
                        @Html.ValidationMessageFor(model => model.RequisitionTransferFromDeptID, "", new { @class = "text-danger" })
                    </div>
                </div><!--[1]-->
            </div><!--[Requisition Type / Transfer From Dept]-->
            <div class="row formRow">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user" id="lblPurchasedby">Purchased By</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("RequisitionPurchasedByID").Name("RequisitionPurchasedByID").Placeholder("Select Purchaser Name")
                                                      .DataSource(d => d.Mvc().Controller("RequestRegister").LoadAction("Get_Purchaser_List").Key("ID").LoadParams(new { storedeptid = new JS("function (){ return ReqStoreDeptid;}") }))
                                                      .ValueExpr("ID").DisplayExpr("Name").OnValueChanged("On_PurchasedBy_Changed").Disabled(IsDisabled).ReadOnly(true).TabIndex(8).ContentTemplate(@<text> @Html.Partial("Get_Purchaser_List") </text>))
                        @Html.ValidationMessageFor(model => model.RequisitionPurchasedByID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user" id="lblspecialdiscount">Special Discount</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("RequisitionSpecialDiscount").Name("RequisitionSpecialDiscount").Value(Convert.ToDouble(Model.RequisitionSpecialDiscount)).Format("#0.00").ShowSpinButtons(false).Placeholder("SpecialDiscount").ReadOnly(IsVisible).Disabled(IsDisabled))
                    </div>
                </div>
            </div><!--[Purchased by/special Discount]-->
            <div class="row">
                <!----[TABS]-->
                <div class="form-field">
                    @(Html.DevExtreme().TabPanel().ID("Requisitiontabpanel").ShowNavButtons(true).ScrollingEnabled(true).SwipeEnabled(false).Items(items =>
                                                    {
                                                        items.Add().Title("Items Requested").Template(@<text> @ItemsRequestedView() </text>);
                                                        items.Add().Title("Linked User Orders").Template(@<text> @LinkedUserOrderView() </text>);
                                                        items.Add().Title("Documents").Template(@<text> @DocumentView() </text>);
                                                        items.Add().Title("Existing Remarks").Disabled(isvisible).Template(@<text> @RemarksView() </text>);
                                                    }).DeferRendering(false))

                    @helper ItemsRequestedView()
                    {
                        @Html.Partial("ItemsRequested", Model);
                    }
                    @helper LinkedUserOrderView()
                    {
                        @Html.Partial("LinkedUserOrders", Model);
                    }
                    @helper DocumentView()
                    {
                        @Html.Partial("Documents", Model);
                    }
                    @helper RemarksView()
                    {
                        @Html.Partial("Remarks", Model);
                    }
                </div>
            </div><!--Tabs-->

            <fieldset class="default-fieldset formRow">
                <div class="col-sm-2 col-md-2 col-lg-2 pll">
                    <label class="control-label" for="iten">Your Remarks</label>
                </div>
                <div class="col-sm-10 prm">
                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("RequisitionRemarks").Name("RequisitionRemarks").Disabled(IsDisabled).Placeholder("Requisition Remarks").Value(Model.RequisitionRemarks))
                    @Html.ValidationMessageFor(model => model.RequisitionRemarks, "", new { @class = "text-danger" })
                </div><!--[Remarks]-->


            </fieldset>

            <fieldset class="default-fieldset">
                <div class="row styleActionBtn marginAll8 marginTop4">


                    @if (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_Delete"))
                    {
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("Requisition_Delete").Text("Delete").UseSubmitBehavior(false).OnClick(@<text> function(){ Delete_RR(); } </text>))

                    }
                    @if ((Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_New"))
                                || (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_Edit"))
                                )
                    {
                        @(Html.DevExtreme().Button().ID("Requisition_link PO_RR").Text("Open Linked Purchase Order").OnClick("OpenLinkedPurchaseOrder").Visible(Model.ActionMethod.ToString() != "_New"))
                        @(Html.DevExtreme().Button().ID("Requisition_Submit_For_Approval").Text("Submit for Approval").OnClick("Requisition_Submit_For_Approval_click"))
                        @(Html.DevExtreme().Button().ID("Requisition_Cancel_RR").Text("Cancel Request").OnClick("Requisition_Cancel_click"))
                        @(Html.DevExtreme().Button().ID("Requisition_Approve_RR").Text("Approve").OnClick("Requisition_Approve_click"))
                        @(Html.DevExtreme().Button().ID("Requisition_Reject_RR").Text("Reject").OnClick("Requisition_Reject_click"))
                        @(Html.DevExtreme().Button().ID("Requisition_Changes_Recommended_RR").Text("Changes Recommended").OnClick("Requisition_Recommend_Changes_click"))
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("Requisition_Save").Text("Save").OnClick("Requisition_Save_click"))
                    }
                    @(Html.DevExtreme().Button().CustomCloseButton().ID("Requisition_Close").Text("Close").OnClick(@<text> function(){ close_Requisition_NEVD(); } </text>))
                </div>
            </fieldset><!--[Footer Buttons]-->
        }
    }
</div>
@(Html.DevExtreme().Popup().CustomPopup().ID("FrmRequisition_Inner_Popup").CloseOnOutsideClick(false).ShowTitle(true).Title("New ~ ").ContentTemplate(@<text><div ID="result_FrmRequisition_Inner_Popup"></div></text>))

<script>

    function close_Requisition_NEVD()
    {
        if ("@Model.RRPopupName" == "Dynamic_Content_popup")
        {
           dontaskpopupcloseconfirmation = false;
           sessionclearpath = "/Stock/RequestRegister/Sessionclear";
        }
        HidePopup("@Model.RRPopupName");
    }
    function Delete_RR()
    {
        var form = $("#RRvalidationForm");
        $("#RRSubmitMode").val("Delete");
        var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Delete ~ Requisition Request");
        result.done(function (dialogResult)
        {
            if (dialogResult)
            {
                $.ajax({
                    type: 'GET',
                    url: "/Stock/RequestRegister/CheckDocumentsLinked",
                    cache: false,
                    async: false,
                    data: {
                        RRID: "@Model.RR_ID"
                    },
                    success: function (check)
                    {
                        if (check.result == false)
                        {
                            form.submit();
                        }
                        else {
                            var docdel = DevExpress.ui.dialog.confirm(check.message, "Unlink-Documents");
                            docdel.done(function (dialogResult)
                            {
                                if (dialogResult)
                                {
                                    form.submit();
                                }
                            });
                        }
                    }
                });
            }
        });
    }
    function Requisition_Save_click(e)
    {
        var result = e.validationGroup.validate();
        var form = $("#RRvalidationForm");
        var ReqItemRowCount = RequisitionItemRequestedGrid.cpVisibleRowCount;
        if (ReqItemRowCount == 0) {
            DevExpress.ui.dialog.alert("There cannot be Requisition without details of Items Requested!!<br /> Please click 'New' in Item Requested Tab to Add Requested Item Details.", "Error");
            return;
        }
        if (result.isValid)
        {
            $("#RRSubmitMode").val("Save");
            form.submit();
        }
    }
    function Requisition_Submit_For_Approval_click(e)
    {
        var result = e.validationGroup.validate();
        var ReqItemRowCount = RequisitionItemRequestedGrid.cpVisibleRowCount;
        if (ReqItemRowCount == 0)
        {
            DevExpress.ui.dialog.alert("There cannot be Requisition without details of Items Requested!!<br /> Please click 'New' in Item Requested Tab to Add Requested Item Details.", "Error");
            return;
        }
        var form = $("#RRvalidationForm");
        if (result.isValid)
        {
            $("#RRSubmitMode").val("Submit_For_Approval");
            form.submit();
        }
    }
    function Requisition_Cancel_click(e)
    {
        var result = e.validationGroup.validate();
        var form = $("#RRvalidationForm");
        if (result.isValid)
        {
            $("#RRSubmitMode").val("Cancel_RR");
            form.submit();
        }
    }
    var ItemApprovedQty = 0;
    async function Requisition_Approve_click(e)
    {        
        var Approve_Cmd = "Approve_RR";
        var result = e.validationGroup.validate();
        var ReqItemRowCount = RequisitionItemRequestedGrid.cpVisibleRowCount;
        for (i = 0; i < ReqItemRowCount; i++)
        {
            //await RequisitionItemRequestedGrid.GetRowValues(i, 'Approved_Qty', OnGetRequestedItemRowValues);
           await RequisitionItemRequestedGrid.GetRowValues(i, 'Approved_Qty', async function (value) {
                ItemApprovedQty = ItemApprovedQty + value;
            });  
        }
        if (ItemApprovedQty == 0)
        {
            var resultItemApprovedQty = DevExpress.ui.dialog.confirm("You have not Approved Requested Quantity for any of the Requested Item!!<br /> Do you want to Approve Full Requested Quantity for all Items Requested?", "Approve ~ Requisition Request");
            resultItemApprovedQty.done(function (dialogResult)
            {
                if (dialogResult)
                {
                    Approve_Cmd = "Approve_RR_Full_Requested_Qty";
                    var form = $("#RRvalidationForm");
                    if (result.isValid)
                    {
                        $("#RRSubmitMode").val(Approve_Cmd);
                        form.submit();
                    }
                }
            });
        }
        else
        {
            var form = $("#RRvalidationForm");
            if (result.isValid)
            {
                $("#RRSubmitMode").val(Approve_Cmd);
                form.submit();
            }
        }
    }
    async function OnGetRequestedItemRowValues(value)
    {
        ItemApprovedQty = ItemApprovedQty + value;
    }
    function Requisition_Reject_click(e)
    {
        var result = e.validationGroup.validate();
        var form = $("#RRvalidationForm");
        if (result.isValid)
        {
            $("#RRSubmitMode").val("Reject_RR");
            form.submit();
        }
    }
    function Requisition_Recommend_Changes_click(e)
    {
        var result = e.validationGroup.validate();
        var form = $("#RRvalidationForm");
        if (result.isValid)
        {
            $("#RRSubmitMode").val("Recommend_Changes_RR");
            form.submit();
        }
    } 
    function OpenLinkedPurchaseOrder(e)
    {
        var DataNavigationCheck = dataNavigation("OpenPO");
        if (DataNavigationCheck[0] == false)
        {
            DevExpress.ui.dialog.alert(DataNavigationCheck[1], 'Alert..');
            return;
        } 
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Stock/RequestRegister/RR_Linked_PO",
            data:
            {              
                ReqID: "@Model.RequisitionNumber"
            },
            cache: false,
            success: function (data)
            {
                OpenPopup("RequestRegister_Button_popup", "Purchse Order", null, "auto", 1100, true, data);           
            }
        });
    }
    function OnRequisitionRegisterAjaxSuccessForm(data)
    {
        if (data.result == true)
        {
            dontaskpopupcloseconfirmation = true;            
            HidePopup("@Model.RRPopupName");
            DevExpress.ui.dialog.alert(data.Message, "Inform");
            RequestRegisterListGrid.SetFocusedRowIndex(-1);
            RequestRegisterListGrid.Refresh();
            HideLoader();       
        }
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.Message, "Error");
            HideLoader()
        }
    }
</script>
<script>
    var ReqStoreDeptid;
    var IsDisabled = false;
    var is_Store_Keeper = false;
    var is_Requestor = false;
    var is_Approver = false;
    var requestfromuo = false;
    $(document).ready(async function ()
    {
        var form = "RRvalidationForm";
        ShowLoader();
        AssignIDtoLabel(form, "RR");
        dontaskpopupcloseconfirmation = false;
        sessionclearpath = "/Stock/RequestRegister/Sessionclear";
        ReqStoreDeptid = "@Model.RequisitionRequestorStoreDeptID";
        if ("@IsDisabled" == "True")
        {
            IsDisabled = true;
        }       
        RR_Project_DD();
        RR_Job_DD();
        RR_Requestor_Store_DD();
        RR_Requestor_DD();
        RR_TransferDept_DD();
        RR_Purchase_DD();
        await RR_Store_DG.selectRows("@Model.RequisitionRequestorStoreDeptID", false);
        RR_Requestor_DG.selectRows("@Model.RequisitionRequestorID", false);
        $("#RequisitionType").dxSelectBox("instance").option("value", "@Model.RequisitionType");

        if ("@Model.RR_UOID" != 0) {
            requestfromuo = true;
            RR_Job_DG.selectRows("@Model.RequisitionJobID", false);

            if ("@Model.RequisitionProjectID" != null) {
                RR_Project_DG.selectRows("@Model.RequisitionProjectID", false);
            }
        }
        if ("@Model.ActionMethod" == "_Edit" || "@Model.ActionMethod" == "_View" || "@Model.ActionMethod" == "_Delete")
        {
            SetControlStateAsperRole();
            RR_Project_DG.selectRows("@Model.RequisitionProjectID", false);
            RR_Job_DG.selectRows("@Model.RequisitionJobID", false);
            RR_TransferDept_DG.selectRows("@Model.RequisitionTransferFromDeptID", false);
            RR_Purchase_DG.selectRows("@Model.RequisitionPurchasedByID", false);
        }

        setTimeout(function ()
        {
            Set_Form_View_Delete_Mode(null, form, "@Model.ActionMethod");
            Focus_FirstEditable_Field(form, "@Model.ActionMethod");
            HideLoader();
        }, Timeout500);
    });
    function SetControlStateAsperRole()
    {        
        getCurrUserRole();
        if (is_Requestor || is_Store_Keeper)
        {
            showButton('#Requisition_Submit_For_Approval');
            if ("@Model.ActionMethod" == "_Edit")
            {
                showButton('#Requisition_Cancel_RR');
            }//Mantis bug 0001153 fixed
        }
        else
        {            
            hideButton('#Requisition_Submit_For_Approval');
            hideButton('#Requisition_Cancel_RR');
            if ("@Model.ActionMethod" == "_New")
            {
                showButton('#Requisition_Submit_For_Approval');
            }//Mantis bug 0001153 fixed
        }
        if (is_Approver)
        {
            showButton('#Requisition_Approve_RR');
            showButton('#Requisition_Reject_RR');
            showButton('#Requisition_Changes_Recommended_RR');
        }
        else
        {
            hideButton('#Requisition_Approve_RR');
            hideButton('#Requisition_Reject_RR');
            hideButton('#Requisition_Changes_Recommended_RR');
        }

    }
    function showButton(buttonName)
    {
        if ($(buttonName).dxButton("instance") != null)
        {
            $(buttonName).dxButton("instance").option('disabled', false);
            $(buttonName).dxButton("instance").option('visible', true);
        }
    }
    function hideButton(buttonName)
    {
        if ($(buttonName).dxButton("instance") != null)
        {
            $(buttonName).dxButton("instance").option('disabled', true);
            $(buttonName).dxButton("instance").option('visible', false);
        }
    }

    function getCurrUserRole()
    {      
        if ("@Model.ActionMethod" == "_Edit" || "@Model.ActionMethod" == "_View" || "@Model.ActionMethod" == "_Delete")
        {
            var CurrUserRole = "@Model.RR_CurrUserRole";
            if (CurrUserRole.includes("RR Approver"))
            {
                $("#is_Approver").val(true);
                is_Approver = true;
            }
            else
            {
                $("#is_Approver").val(false);
                is_Approver = false;
            }
            if (CurrUserRole.includes("RR Requestor"))
            {
                $("#is_Requestor").val(true);
                is_Requestor = true;
            }
            else
            {
                $("#is_Requestor").val(false);
                is_Requestor = false;
            }
            if (CurrUserRole.includes("RR Store Keeper"))
            {
                $("#is_Store_Keeper").val(true);
                is_Store_Keeper = true;
            }
            else
            {
                $("#is_Store_Keeper").val(false);
                is_Store_Keeper = false;
            }
        }
        else
        {
            var RequestorID = $("#RequisitionRequestorID").dxDropDownBox("instance").option("value");
            var StoreID = $("#RequisitionRequestorStoreDeptID").dxDropDownBox("instance").option("value");
            if (("@Model.RR_Curr_User_Personnel_ID") == RequestorID)
            {
                $("#is_Requestor").val(true);
                is_Requestor = true;
            }
            else
            {
                $("#is_Requestor").val(false);
                is_Requestor = false;
            }
            if (("@Model.RR_Curr_User_Store_ID") == StoreID)
            {
                $("#is_Store_Keeper").val(true);
                is_Store_Keeper = true;
            }
            else
            {
                $("#is_Store_Keeper").val(false);
                is_Store_Keeper = false;
            }
            if ("@RR_Approve_Rights" == "True")
            {
                $("#is_Approver").val(true);
                is_Approver = true;
            }
            else
            {
                $("#is_Approver").val(false);
                is_Approver = false;
            }
        }
    }
</script>
<script>
    function On_Project_Changed(e) {
        var drop_Down = $("#RequisitionProjectID").dxDropDownBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
        }
        if (e.value == null && e.previousValue != null) {
            RR_Project_DG.clearSelection();
            return;
        }
        if (RR_Project_DG.getSelectedRowsData().length > 0) {
            var item = RR_Project_DG.getSelectedRowsData()[0];
            var ProjID = item.Project_Id;
            var ComplexName = item.Complex_Name;
            var SanctionNo = item.Sanction_no;
            if (ComplexName == null) ComplexName = "Not Defined";            
                $("#RequisitionProjectComplex").dxTextBox("instance").option("value", ComplexName);
                $("#RequisitionProjectSanctionNo").dxTextBox("instance").option("value", SanctionNo);          
        }
    }
    function On_Job_Changed(e) {
        var drop_Down = $("#RequisitionJobID").dxDropDownBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
        }
        if (e.value == null && e.previousValue != null) {
            RR_Job_DG.clearSelection();
        }
        RR_Job_DG.selectRows(drop_Down.option("value"), false);
        if (RR_Job_DG.getSelectedRowsData().length > 0) {
            var item = RR_Job_DG.getSelectedRowsData()[0];
            var JobID = item.ID;
            var JobNo = item.Job_No;
            var JobType = item.Job_Type;          

            $("#RequisitionJobNo").dxTextBox("instance").option("value", JobNo);
            $("#RequisitionJobType").dxTextBox("instance").option("value", JobType);

          
        }
    }
    function On_Requestor_Store_Changed(e)
    {
        var drop_Down = $("#RequisitionRequestorStoreDeptID").dxDropDownBox("instance");
        SetControlStateAsperRole();
        if (drop_Down != undefined && drop_Down != "undefined")
        {
            drop_Down.close();
        }
        if (e.value == null && e.previousValue != null)
        {
            RR_Store_DG.clearSelection();
            return;
        }
        RR_Store_DG.selectRows(drop_Down.option("value"), false);
        if (RR_Store_DG.getSelectedRowsData().length > 0)
        {
            var item = RR_Store_DG.getSelectedRowsData()[0];
            ReqStoreDeptid = item.ID;
            var DeptName = item.MAIN_DEPT_Name;//mantis#1436 fixed
            $("#RequisitionRequestorMainDept").dxTextBox("instance").option("value", DeptName);
            if (ReqStoreDeptid != 0)
            {
                $("#LookUp_GetPurchaserRequisition_datagrid").dxDataGrid("instance").refresh();
            }
        }       
    }
    function On_Requestor_Changed(e)
    {
        var drop_Down = $("#RequisitionRequestorID").dxDropDownBox("instance");
        SetControlStateAsperRole();      
        drop_Down.close();
        if (e.value == null && e.previousValue != null)
        {
            RR_Requestor_DG.clearSelection();
            return;
        }    
        RR_Requestor_DG.selectRows(drop_Down.option("value"), false);
        if (RR_Requestor_DG.getSelectedRowsData().length > 0)
        {
            var item = RR_Requestor_DG.getSelectedRowsData()[0];
            var PersID = item.ID;
            var Mobile = item.Mobile_No;
            $("#RequisitionRequestorMobile").dxTextBox("instance").option("value", Mobile);
        }       
    }
    function On_Req_Type_Changed(e)
    {
        var ReqType = $("#RequisitionType").dxSelectBox('instance').option('value');
        var req = $("#RequisitionTransferFromDeptID").dxDropDownBox("instance");
        var purchase = $("#RequisitionPurchasedByID").dxDropDownBox("instance");
        if (ReqType == "Purchase Request") {
            if (req != null) {
                $('#RequisitionTransferFromDeptID').dxDropDownBox("instance").reset();
                $('#RequisitionTransferFromDeptID').dxDropDownBox("instance").option("readOnly", true);
                $("#lblTrfDept").removeClass("text-red").addClass("disabletxt");
            }
            if (purchase != null) {
                $('#RequisitionPurchasedByID').dxDropDownBox("instance").option("readOnly", false);
                $("#lblPurchasedby").addClass("text-red").removeClass("disabletxt");
            }
        }
        else if (ReqType == "Transfer Request"){
            if (req != null) {
                $('#RequisitionTransferFromDeptID').dxDropDownBox("instance").option("readOnly", false);
                $("#lblTrfDept").addClass("text-red").removeClass("disabletxt");
            }
            if (purchase != null) {
                $('#RequisitionPurchasedByID').dxDropDownBox("instance").reset();
                $('#RequisitionPurchasedByID').dxDropDownBox("instance").option("readOnly", true);
                $("#lblPurchasedby").removeClass("text-red").addClass("disabletxt");
            }
        }
        Req_Type_Validation(ReqType);
    }
    function Req_Type_Validation(ReqType)
    {
        $("#RequisitionTransferFromDeptID").dxDropDownBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (ReqType.toUpperCase().trim() == "TRANSFER REQUEST")
                        {
                            if (options.value == "")
                            {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: " Transfer From Dept Cannot Be Blank..!!"
                }],
                validationGroup: "RR_Validation"
            });
        $("#RequisitionPurchasedByID").dxDropDownBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (ReqType.toUpperCase().trim() == "PURCHASE REQUEST") {
                            if (options.value == "") {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: " Purchased By Cannot Be Blank..!!"
                }],
                validationGroup: "RR_Validation"
            });
    }
    function On_TransferFromDept_Changed(e) {
        var drop_Down = $("#RequisitionTransferFromDeptID").dxDropDownBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
        }
        if (e.value == null && e.previousValue != null) {
            RR_TransferDept_DG.clearSelection();
        }
    } 
    function On_PurchasedBy_Changed(e) {
        var drop_Down = $("#RequisitionPurchasedByID").dxDropDownBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
        }
        if (e.value == null && e.previousValue != null) {
            RR_Purchase_DG.clearSelection();
        }
    }
</script>
<script>
    var RR_Project_DG;
    var RR_Job_DG;
    var RR_Store_DG;
    var RR_Requestor_DG;
    var RR_Purchase_DG;
    function RR_Project_DD() {
        var $dataGrid = $("#GetProjectName_Requisition_Grid");
        if ($dataGrid.length) {
            RR_Project_DG = $dataGrid.dxDataGrid("instance");
        }
    }
    function RR_Job_DD() {
        var $dataGrid = $("#LookUp_GetJobNamesRequisition_datagrid");
        if ($dataGrid.length) {
            RR_Job_DG = $dataGrid.dxDataGrid("instance");
        }
    }
    function RR_Requestor_Store_DD() {
        var $dataGrid = $("#LookUp_GetRequestorStoreDeptRequisition_datagrid");
        if ($dataGrid.length) {
            RR_Store_DG = $dataGrid.dxDataGrid("instance");
        }
    }
    function RR_Requestor_DD() {
        var $dataGrid = $("#LookUp_GetRequestorRequisition_datagrid");
        if ($dataGrid.length) {
            RR_Requestor_DG = $dataGrid.dxDataGrid("instance");
        }
    }
    function RR_TransferDept_DD() {
        var $dataGrid = $("#LookUp_GetRequestorTrfFromDeptRequisition_datagrid");
        if ($dataGrid.length) {
            RR_TransferDept_DG = $dataGrid.dxDataGrid("instance");
        }
    }
    function RR_Purchase_DD() {
        var $dataGrid = $("#LookUp_GetPurchaserRequisition_datagrid");
        if ($dataGrid.length) {
            RR_Purchase_DG = $dataGrid.dxDataGrid("instance");
        }
    }





</script>