<div class="AssetTransferVoucher_ExportPending_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    <div>
        @(Html.DevExtreme().Button()
                        .ID("AsetTrans_ExportGridDatapdf")
                        .Text("Export to PDF")
                        .OnClick("ExportPDF")
                        .Visible(true)
                        .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                        .ID("AsetTrans_ExportGridDataxls")
                        .Text("Export to XLS")
                        .OnClick("ExportXLS")
                        .Visible(true)
                        .Width(120)
    )<br />
        @(Html.DevExtreme().Button()
                        .ID("AsetTrans_ExportGridDataxlsx")
                        .Text("Export to XLSX")
                        .OnClick("ExportXLSX")
                        .Visible(true)
                        .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                        .ID("AsetTrans_ExportGridDatadocx")
                        .Text("Export to DOCX")
                        .OnClick("ExportDOCX")
                        .Visible(true)
                        .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                        .ID("AsetTrans_ExportGridDatartf")
                        .Text("Export to RTF")
                        .OnClick("ExportRTF")
                        .Visible(true)
                        .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                        .ID("AsetTrans_ExportGridDatacsv")
                        .Text("Export to CSV")
                        .OnClick("ExportCSV")
                        .Visible(true)
                        .Width(120)
    )
    </div>
    <script>
        function ExportPDF() {
            AssetTransfer_Pending_ListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#popup_Asset_Transfer_ListPreview_Window").dxPopup("hide");
        }
        function ExportXLS() {
            AssetTransfer_Pending_ListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#popup_Asset_Transfer_ListPreview_Window").dxPopup("hide");
        }
        function ExportXLSX() {
            AssetTransfer_Pending_ListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#popup_Asset_Transfer_ListPreview_Window").dxPopup("hide");
        }
        function ExportCSV() {
            AssetTransfer_Pending_ListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#popup_Asset_Transfer_ListPreview_Window").dxPopup("hide");
        }
        function ExportDOCX() {
            AssetTransfer_Pending_ListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#popup_Asset_Transfer_ListPreview_Window").dxPopup("hide");
        }
        function ExportRTF() {
            AssetTransfer_Pending_ListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#popup_Asset_Transfer_ListPreview_Window").dxPopup("hide");
        }
    </script>
    
</div>
