<div class="AssetTransferVoucher_ClearReferences">
    @using DevExtreme.AspNet.Mvc;    

    @model ConnectOneMVC.Areas.Account.Models.AssetTransferVoucher
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        bool IsVisible = Model != null && (Model.Tag.ToString().Trim() == "_View" || Model.Tag.ToString().Trim() == "_Delete") ? true : false;
        var Open_Institute_Name = ViewData["Open_Institute_Name"];
        var UserType = (string)ViewBag.OpenUserType;
    }
    <style>
        #ListSpecialVoucherRef_Astr .dx-list-item-content {
            padding: 4.5px;
        }
    </style>
    <div id="Frm_Voucher_Win_Asset_Transfer_popup">
        @using (Ajax.BeginForm("Frm_AssetTransferVoucher_Window", "AssetTransferVoucher",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "Frm_Voucher_Win_Asset_Transfer_popup",
                InsertionMode = InsertionMode.InsertAfter,
                OnBegin = "AjaxBeginFormPost",
                OnSuccess = "AjaxSuccessAssetTransfer"
            },
            new
            {
                id = "Frm_AssetTransferVoucher_Window",
                @class = "edit_form form-horizontal"
            }))
        {
            @Html.HiddenFor(x => x.xID1_AsetTrans)
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.CROSS_REF_ID)
            @Html.HiddenFor(x => x.iAsset_Type)
            @Html.HiddenFor(x => x.HQ_IDs)
            @Html.HiddenFor(x => x.iCon_Led_ID)
            @Html.HiddenFor(x => x.Info_LastEditedOn)
            @Html.HiddenFor(x => x.Info_MaxEditedOn)
            @Html.HiddenFor(x => x.iRef_ItemID)
            @Html.HiddenFor(x => x.iSpecific_ItemID)
            @Html.HiddenFor(x => x.LastEditedOn)
            @Html.HiddenFor(x => x.Tag)
            @Html.HiddenFor(x => x.xMID)
            @Html.HiddenFor(x => x.aItem_ID)
            @Html.HiddenFor(x => x.aLed_ID)
            @Html.HiddenFor(x => x.iVoucher_Type)
            @Html.HiddenFor(x => x.iLed_ID)
            @Html.HiddenFor(x => x.iTrans_Type)
            @Html.HiddenFor(x => x.iParty_Req)
            @Html.HiddenFor(x => x.iProfile)
            @Html.HiddenFor(x => x.iMinValue)
            @Html.HiddenFor(x => x.iMaxValue)
            @Html.HiddenFor(x => x.USE_CROSS_REF)
            @Html.HiddenFor(x => x.OwnershipRequire)
            @Html.HiddenFor(x => x.Property_Name)
            @Html.HiddenFor(x => x.iTO_CEN_ID)
            @Html.HiddenFor(x => x.AssetList_REF_CREATION_DATE)
            @Html.HiddenFor(x => x.AssetList_REC_EDIT_ON)
            @Html.HiddenFor(x => x.AssetList_REF_AMT)
            @Html.HiddenFor(x => x.LocList_REC_EDIT_ON)
            @Html.HiddenFor(x => x.iFR_CEN_ID)
            @Html.HiddenFor(x => x.CROSS_M_ID)
            @Html.HiddenFor(x => x.FR_REC_EDIT_ON)
            @Html.HiddenFor(x => x.TitleX)
            @Html.HiddenFor(x => x.Me_Text)
            @Html.HiddenFor(x => x.pending_list)
            @Html.HiddenFor(x => x.TextEdit1Tag_AsetTrans)
            @Html.HiddenFor(x => x.Txt_SaleAmtTag_AsetTrans)
            @Html.HiddenFor(x => x.xID2)
            //FCRA Related
            @Html.HiddenFor(x => x.Astr_SplVchrReferenceSelected)
            @Html.HiddenFor(x => x.splVchrRefsCount_Astr)

            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="container-fluid">
                    <div class="full-width-header-bg2">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3 class="popuphead"><i class="far fa-edit"></i> Asset Transfer</h3>
                            </div>
                            <div class="col-sm-4 prm">
                                <h5 class="mand-txt-align">
                                    <i class="fas fa-info-circle"></i> Red Fields are mandatory
                                </h5>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-red" })
                        </div>
                    </div><!--[Header]-->
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-3 pll">
                                        @Html.Label("Item Name:", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-9 prm">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ItemList_AsetTrans").Name("GLookUp_ItemList_AsetTrans") .ValueExpr("ITEMID") .DisplayExpr("ITEMNAME")
                                                .DataSource(d => d.Mvc().Controller("AssetTransferVoucher").LoadAction("AssetTransfer_LookUp_GetItemList").Key("ITEMID").LoadParams(new { USE_CROSS_REF = new JS("function (){return Check_USE_CROSS_REF();}"), DDRefresh = new JS("function (){ return ItemListDDRefresh_AsetTrans;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                                .Placeholder("Select Item...").OnValueChanged("GLookUp_ItemList_EditValueChanged_AsetTrans").ReadOnly(true).FocusStateEnabled(false).ContentTemplate(@<text> @Html.Partial("AssetTransfer_LookUp_GetItemList") </text>) )

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-6 pll">
                                        @Html.Label("Voucher Date:", htmlAttributes: new { @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-6 prm">
                                        @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_V_Date_AsetTrans").Name("Txt_V_Date_AsetTrans").Value(Model.Txt_V_Date_AsetTrans))

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[row 1]-->
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-3 pll">
                                        @Html.Label("Head:", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-9 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Item_Head_AsetTrans").Name("BE_Item_Head_AsetTrans").ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-6 pll">
                                        @Html.Label("Voucher No:", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-6 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_V_NO_AsetTrans").Name("Txt_V_NO_AsetTrans").ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[row 2]-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <fieldset class="default-fieldset">
                                    <legend class="custom-legend mlm"> Transfer From:</legend>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("From Centre:", htmlAttributes: new { @class = "control-label text-red" })
                                        </div>
                                        <div class="col-sm-6 prm">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_FrCen_List_AsetTrans").Name("GLookUp_FrCen_List_AsetTrans").ValueExpr("FR_ID") .DisplayExpr("FR_CEN_NAME")
                                                      .DataSource(d => d.Mvc().Controller("AssetTransferVoucher").LoadAction("AssetTransfer_LookUp_GetFromCenterList").Key("FR_ID").LoadParams(new { iTrans_Type = new JS("function (){ return $('#iTrans_Type').val();}"), DDRefresh = new JS("function (){return FrCen_ListDDRefresh_AsetTrans; }") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                                      .Placeholder("Select Centre (Transfer From)...").OnValueChanged("GLookUp_FrCen_List_EditValueChanged_AsetTrans").ReadOnly(true).ContentTemplate(@<text> @Html.Partial("AssetTransfer_LookUp_GetFromCenterList") </text>).FocusStateEnabled(false) )

                                        </div>
                                        <div class="col-sm-2 prm">
                                            <label class="control-label" for="BE_Fr_UID_AsetTrans">Centre U.ID. No.:</label>
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Fr_UID_AsetTrans").Name("BE_Fr_UID_AsetTrans").Value(Model.BE_Fr_UID_AsetTrans).ReadOnly(true).FocusStateEnabled(false) )
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Institute:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-6 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Fr_Institute_AsetTrans") .Name("BE_Fr_Institute_AsetTrans") .Value(Model.BE_Fr_Institute_AsetTrans) .ReadOnly(true).FocusStateEnabled(false) )

                                        </div>
                                        <div class="col-sm-2 prm">
                                            <label class="control-label" for="BE_Fr_Pad_No_AsetTrans">PAD No.:</label>
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Fr_Pad_No_AsetTrans") .Name("BE_Fr_Pad_No_AsetTrans") .Value(Model.BE_Fr_Pad_No_AsetTrans) .ReadOnly(true).FocusStateEnabled(false) )

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Incharge:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Fr_Incharge_AsetTrans") .Name("BE_Fr_Incharge_AsetTrans") .Value(Model.BE_Fr_Incharge_AsetTrans) .ReadOnly(true).FocusStateEnabled(false))

                                        </div>
                                        <div class="col-sm-1 prm">
                                            <label class="control-label" for="BE_Fr_Tel_No_AsetTrans">Tel.No.:</label>
                                        </div>
                                        <div class="col-sm-3 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Fr_Tel_No_AsetTrans") .Name("BE_Fr_Tel_No_AsetTrans") .Value(Model.BE_Fr_Tel_No_AsetTrans) .ReadOnly(true).FocusStateEnabled(false) )

                                        </div>
                                        <div class="col-sm-2 prm">
                                            @Html.Label("Zone:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_Fr_Zone_AsetTrans") .Name("BE_Fr_Zone_AsetTrans") .Value(Model.BE_Fr_Zone_AsetTrans) .ReadOnly(true).FocusStateEnabled(false) )

                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div><!--[From]-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <fieldset class="default-fieldset">
                                    <legend class="custom-legend mlm"> Transfer To:</legend>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("To Centre:", htmlAttributes: new { @class = "control-label text-red" })
                                        </div>
                                        <div class="col-sm-6 prm">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown() .ID("GLookUp_ToCen_List_AsetTrans") .Name("GLookUp_ToCen_List_AsetTrans") .ValueExpr("TO_ID") .DisplayExpr("TO_CEN_NAME")
                                                      .DataSource(d => d.Mvc().Controller("AssetTransferVoucher").LoadAction("AssetTransfer_LookUp_GetToCenterList").Key("TO_ID").LoadParams(new { iTrans_Type = new JS("function (){return $('#iTrans_Type').val();}"), DDRefresh = new JS("function() {return ToCen_ListDDRefresh_AsetTrans;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                                      .Placeholder("Select Centre (Transfer To)...") .OnValueChanged("GLookUp_ToCen_List_EditValueChanged_AsetTrans") .ReadOnly(true) .ContentTemplate(@<text> @Html.Partial("AssetTransfer_LookUp_GetToCenterList") </text>).FocusStateEnabled(false) )

                                        </div>
                                        <div class="col-sm-2 prm">
                                            <label class="control-label" for="BE_To_UID_AsetTrans">Centre U.ID. No.:</label>
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_To_UID_AsetTrans") .Name("BE_To_UID_AsetTrans") .Value(Model.BE_To_UID_AsetTrans) .ReadOnly(true).FocusStateEnabled(false) )
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Institute:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-6 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_To_Institute_AsetTrans") .Name("BE_To_Institute_AsetTrans") .Value(Model.BE_To_Institute_AsetTrans) .ReadOnly(true).FocusStateEnabled(false) )

                                        </div>
                                        <div class="col-sm-2 prm">
                                            <label class="control-label" for="BE_To_Pad_No_AsetTrans">PAD No.:</label>
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_To_Pad_No_AsetTrans") .Name("BE_To_Pad_No_AsetTrans") .Value(Model.BE_To_Pad_No_AsetTrans) .ReadOnly(true).FocusStateEnabled(false) )

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Incharge:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_To_Incharge_AsetTrans") .Name("BE_To_Incharge_AsetTrans") .Value(Model.BE_To_Incharge_AsetTrans) .ReadOnly(true).FocusStateEnabled(false) )

                                        </div>
                                        <div class="col-sm-1">
                                            <label class="control-label" for="BE_To_Tel_No">Tel.No.:</label>
                                        </div>
                                        <div class="col-sm-3 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_To_Tel_No_AsetTrans") .Name("BE_To_Tel_No_AsetTrans") .Value(Model.BE_To_Tel_No_AsetTrans) .ReadOnly(true).FocusStateEnabled(false) )

                                        </div>
                                        <div class="col-sm-2 prm">
                                            @Html.Label("Zone:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox() .ID("BE_To_Zone_AsetTrans") .Name("BE_To_Zone_AsetTrans") .Value(Model.BE_To_Zone_AsetTrans) .ReadOnly(true).FocusStateEnabled(false) )

                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div><!--[TO]-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <fieldset class="default-fieldset">
                                    <legend class="custom-legend mlm"> Asset Detail:</legend>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Asset Type:", htmlAttributes: new { @class = "control-label text-red" })
                                        </div>
                                        <div class="col-sm-6 prm">
                                            @(Html.DevExtreme().SelectBox().CustomSelectBox() .ID("Cmb_Asset_Type_AsetTrans") .Name("Cmb_Asset_Type_AsetTrans") .DataSource(new[] { "GOLD", "SILVER", "VEHICLES", "LIVESTOCK", "MOVABLE ASSETS", "LAND & BUILDING", "FD", "ADVANCES", "OTHER DEPOSITS","OTHER LIABILITIES" }).OnValueChanged("Cmb_Asset_Type_SelectedIndexChanged_AsetTrans").Placeholder("Select Type...").ShowClearButton(false) )

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Asset Name:", htmlAttributes: new { @class = "control-label text-red" })
                                        </div>
                                        <div class="col-sm-6 prm">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown() .ID("GLookUp_AssetList_AsetTrans") .Name("GLookUp_AssetList_AsetTrans") .ValueExpr("REF_ID") .DisplayExpr("REF_ITEM").ShowClearButton(false)
                                                    .DataSource(d => d.Mvc().Controller("AssetTransferVoucher").LoadAction("GLookUp_Get_AssetList_AsetTrans").Key("REF_ID").LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                                    .ReadOnly(true).OnValueChanged("GLookUp_AssetList_EditValueChanged_AsetTrans").ContentTemplate(@<text> @Html.Partial("AssetTransfer_LookUp_GetAssetList") </text>).FocusStateEnabled(false).Placeholder("Select Asset"))

                                        </div>
                                        <div class="col-sm-2 prm">
                                            @Html.Label("Asset Value:", htmlAttributes: new { @class = "control-label", @id = "lblAsetValue" })
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox() .ID("Txt_SaleAmt_AsetTrans") .Name("Txt_SaleAmt_AsetTrans") .ReadOnly(true) .OnValueChanged("Txt_Amount_EditValueChanged_AsetTrans").FocusStateEnabled(false).Format("#0.##") )

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Description:", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-6 prm">
                                            @(Html.DevExtreme().TextBoxFor(x => x.Txt_Desc_AsetTrans).CustomTextBox() .ID("Txt_Desc_AsetTrans") .Name("Txt_Desc_AsetTrans") .ReadOnly(true).FocusStateEnabled(false) )
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @Html.Label("Asset Weight:", htmlAttributes: new { @class = "control-label", @id = "lbl_CurQty_AsetTrans" })
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox() .ID("Txt_CurQty_AsetTrans") .Name("Txt_CurQty_AsetTrans") .ReadOnly(true).FocusStateEnabled(false).Format("#.###"))
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Owner Name:", htmlAttributes: new { @class = "control-label", @id = "lbl_owner_AsetTrans" })
                                        </div>
                                        <div class="col-sm-6 prm" id="Look_OwnList_Div_AsetTrans">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown() .ID("Look_OwnList_AsetTrans") .Name("Look_OwnList_AsetTrans") .ValueExpr("ID") .DisplayExpr("Name")
                                                      .DataSource(d => d.Mvc().Controller("AssetTransferVoucher").LoadAction("AssetTransfer_LookUp_GetOwnerList").Key("ID").LoadParams(new { DDRefresh = new JS("function() {return OwnerListDDRefresh_AsetTrans;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                                   .OnValueChanged("Look_OwnList_EditValueChanged_AsetTrans") .ReadOnly(true).FocusStateEnabled(false).ContentTemplate(@<text> @Html.Partial("AssetTransfer_LookUp_GetOwnerList") </text>).Placeholder("Select Owner...") )

                                        </div>
                                        <div class="col-sm-6 prm" id="TextEdit1_Div_AsetTrans">
                                            @(Html.DevExtreme().TextBoxFor(x=>x.TextEdit1Text_AsetTrans).CustomTextBox() .ID("TextEdit1Text_AsetTrans") .Name("TextEdit1Text_AsetTrans") .ReadOnly(true).FocusStateEnabled(false).MaxLength(100) )
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @Html.Label("Transfer Weight:", htmlAttributes: new { @class = "control-label", @id = "lbl_TrfQty_AsetTrans" })
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox() .ID("Txt_Qty_AsetTrans") .Name("Txt_Qty_AsetTrans") .OnValueChanged("Txt_Qty_EditValueChanged_AsetTrans").Format("#.###") )

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 pll">
                                            @Html.Label("Location:", htmlAttributes: new { @class = "control-label", @id = "lbl_location_AsetTrans" })
                                        </div>
                                        <div class="col-sm-6 prm">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown()  .ID("Look_LocList_AsetTrans") .Name("Look_LocList_AsetTrans") .ValueExpr("AL_ID") .DisplayExpr("LocationName")
                                                      .DataSource(d => d.Mvc().Controller("AssetTransferVoucher").LoadAction("AssetTransfer_LookUp_GetLocList").Key("AL_ID").LoadParams(new {DDRefresh = new JS("function() {return OwnerListDDRefresh_AsetTrans;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                                      .OnValueChanged("Look_LocList_EditValueChanged_AsetTrans") .ReadOnly(true).FocusStateEnabled(false).ContentTemplate(@<text> @Html.Partial("AssetTransfer_LookUp_GetLocList") </text>).Placeholder("Select Location...") )

                                        </div>
                                        <div class="col-sm-2 prm">
                                            @Html.Label("Use of Property:", htmlAttributes: new { @class = "control-label", @id = "lbl_Use_AsetTrans" })
                                        </div>
                                        <div class="col-sm-2 prm">
                                            @(Html.DevExtreme().SelectBox().CustomSelectBox() .ID("Cmd_PUse_AsetTrans") .Name("Cmd_PUse_AsetTrans") .DataSource(new[] { "MAIN CENTRE", "CLASS", "MUSEUM", "STORE", "GARDEN", "GARAGE", "DEPARTMENT", "RESIDENCE", "NOT IN USE" }) .Value(Model.Cmd_PUse_AsetTrans) .ReadOnly(true).FocusStateEnabled(false).Placeholder("Select Use Of Property...").ShowClearButton(false) )

                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div><!--[Detail]-->


                    <div class="row">
                        <div id="Astr_NarrationDiv" class="col-sm-12 col-md-8 col-lg-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-field">
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                                <label class="control-label text-red" for="GLookUp_PurList_AsetTrans">Purpose:</label>
                                            </div>
                                            <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown() .ID("GLookUp_PurList_AsetTrans") .Name("GLookUp_PurList_AsetTrans") 
                                                .ValueExpr("PUR_ID") .DisplayExpr("PUR_NAME") .OnValueChanged("GLookUp_PurList_EditValueChanged_AsetTrans")
                                                .DataSource(d => d.Mvc().Controller("AssetTransferVoucher").LoadAction("AssetTransfer_LookUp_GetPurList").Key("PUR_ID")
                                                .LoadParams(new { DDRefresh = new JS("function() {return PurListDDRefresh_AsetTrans;}") })
                                                .LoadMode(DataSourceLoadMode.Raw).CacheRawData(true)).ReadOnly(true).FocusStateEnabled(false)
                                                .ContentTemplate(@<text> @Html.Partial("AssetTransfer_LookUp_GetPurList") </text>).Placeholder("Select Purpose...")  )

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--[Purpose]-->
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-field">
                                        <fieldset class="default-fieldset">
                                            <div class="row">
                                                <div class="col-sm-2 pll">
                                                    <label class="control-label" for="Txt_Narration_AsetTrans">Narration:</label>
                                                </div>
                                                <div class="col-sm-10 prm">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox(true) .ID("Txt_Narration_AsetTrans") .Name("Txt_Narration_AsetTrans") .Value(Model.Txt_Narration_AsetTrans).MaxLength(250).Placeholder("Type Any Narration...") )
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2 pll">
                                                    <label class="control-label" for="Name">Remarks:</label>
                                                </div>
                                                <div class="col-sm-10 prm">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox(true) .ID("Txt_Remarks_AsetTrans") .Name("Txt_Remarks_AsetTrans") .Value(Model.Txt_Remarks_AsetTrans).MaxLength(250).Placeholder("Type Any Other Detail/Remarks...") )
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2 pll">
                                                    <label class="control-label" for="Name">Reference:</label>
                                                </div>
                                                <div class="col-sm-10 prm">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox(true) .ID("Txt_Reference_AsetTrans") .Name("Txt_Reference_AsetTrans") .Value(Model.Txt_Reference_AsetTrans).MaxLength(250).Placeholder("Type Any Reference Details...") )
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                            </div><!--[Narration, and Purpose]-->
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4" id="Astr_SpecialVoucherRefDiv">
                            <div class="form-field ">
                                <div class="dx-texteditor-container">
                                    @(Html.DevExtreme().List().CustomList().ID("ListSpecialVoucherRef_Astr")
                                        .DataSource(Model.SpecialReferenceList_Data_Astr, "Task_Name")
                                        .SearchEnabled(false)
                                        .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                                        .KeyExpr("Task_Name")
                                        .DisplayExpr("Task_Name")
                                        .OnSelectionChanged("OnSplVchrRefsListSelectionChanged_Astr")
                                        .Height(97).ShowScrollbar(ShowScrollbarMode.Always).UseNativeScrolling(false)
                                        .ShowSelectionControls(true)
                                        .SelectedItemKeys(Model.SpecialReference_Get_SelectedValue_Astr))
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ {1})...", Model.ActionMethod.Substring(1), Model.TitleX))
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <div class="styleActionBtn">
                                        @(Html.DevExtreme().Button().ID("BUT_SAVE_AsetTrans").CustomSaveButton(Model.ActionMethod.ToString()).Text((Model.ActionMethod.ToString().Trim() == "_Delete") ? "Delete" : "Save").UseSubmitBehavior(false).Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true).OnClick("BUT_SAVE_Click_AsetTrans"))
                                        @(Html.DevExtreme().Button().ID("BUT_CANCEL_AsetTrans").CustomCloseButton().Text((Model.ActionMethod.ToString().Trim() == "_View") ? "Close" : "Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Buttons]-->
                </div>
            }
        }
    </div>
    @(Html.DevExtreme().Popup().CustomPopup() .ID("popup_frm_Asset_Transfer_Pending_Window") .Title("Pending Asset Transfer") .DragEnabled(true) .OnShowing("PopupOnShowing") .ShowCloseButton(true) .ContentTemplate(@<text> <div id='popup_frm_Asset_Transfer_result'> </div> </text>) )

    <script>
        var GLookUp_ItemList_DataGrid_AsetTrans;
        var GLookUp_FrCen_List_DataGrid_AsetTrans;
        var GLookUp_ToCen_List_DataGrid_AsetTrans;
        var GLookUp_PurList_DataGrid_AsetTrans;
        var GLookUp_AssetList_DataGrid_AsetTrans;
        var Look_OwnList_DataGrid_AsetTrans;
        var Look_LocList_DataGrid_AsetTrans;
        var Tag_AsetTrans = "@Model.Tag";
        var ItemListDDRefresh_AsetTrans = false;
        var FrCen_ListDDRefresh_AsetTrans = false;
        var ToCen_ListDDRefresh_AsetTrans = false;
        var PurListDDRefresh_AsetTrans = false;
        var AssetList_ListDDRefresh_AsetTrans = false;
        var OwnerListDDRefresh_AsetTrans = false;
        var LocList_ListDDRefresh_AsetTrans = false;
        var Cmb_Asset_Type_SelectedValue;
        var ItemList_ATV_Enable = true;
        var ItemList_ATV_ReadOnly = true;
        var FrCen_ATV_Enable = true;
        var FrCen_ATV_ReadOnly = true;
        var ToCen_ATV_Enable = true;
        var ToCen_ATV_ReadOnly = true;
        var PurList_ATV_Enable = true;
        var PurList_ATV_ReadOnly = true;
        var AssetList_ATV_Enable = true;
        var AssetList_ATV_ReadOnly = true;
        var OwnList_ATV_Enable = true;
        var OwnList_ATV_ReadOnly = true;
        var Cmd_PUse_ATV_Enable = false;
        var Cmd_PUse_ATV_ReadOnly = true;
        var Txt_CurQty_ATV_Enable = false;
        var Txt_CurQty_ATV_ReadOnly = false;
        var Txt_Qty_ATV_Enable = true;
        var Txt_Qty_ATV_ReadOnly = false;
        var Look_LocList_Enable = true;
        var Look_LocList_ReadOnly = true;
        var Txt_V_Date_Enable = true;
        var Txt_V_Date_ReadOnly = false;
        var Cmb_Asset_Type_Enable = true;
        var Cmb_Asset_Type_ReadOnly = false;
        var Txt_SaleAmt_Enable = false;
        var Txt_SaleAmt_ReadOnly = false;
        var Txt_Desc_Enable = false;
        var Txt_Desc_ReadOnly = false;
        var Open_Institute_Name = "@Open_Institute_Name";
    </script> @*Variable Declaration*@

    <script>
        function InitAllDropdownDatagrid_AsetTrans() {
            var $GLookUp_ItemList_DataGrid_AsetTrans = $("#ItemList_AsetTrans_datagrid");
            if ($GLookUp_ItemList_DataGrid_AsetTrans.length) {
                GLookUp_ItemList_DataGrid_AsetTrans = $GLookUp_ItemList_DataGrid_AsetTrans.dxDataGrid("instance");
            }
            var $GLookUp_FrCen_List_DataGrid_AsetTrans = $("#FrCen_List_AsetTrans_datagrid");
            if ($GLookUp_FrCen_List_DataGrid_AsetTrans.length) {
                GLookUp_FrCen_List_DataGrid_AsetTrans = $GLookUp_FrCen_List_DataGrid_AsetTrans.dxDataGrid("instance");
            }
            var $GLookUp_ToCen_List_DataGrid_AsetTrans = $("#TOCen_List_AsetTrans_datagrid");
            if ($GLookUp_ToCen_List_DataGrid_AsetTrans.length) {
                GLookUp_ToCen_List_DataGrid_AsetTrans = $GLookUp_ToCen_List_DataGrid_AsetTrans.dxDataGrid("instance");
            }
            var $GLookUp_PurList_DataGrid_AsetTrans = $("#PurList_AsetTrans_datagrid");
            if ($GLookUp_PurList_DataGrid_AsetTrans.length) {
                GLookUp_PurList_DataGrid_AsetTrans = $GLookUp_PurList_DataGrid_AsetTrans.dxDataGrid("instance");
            }
            var $GLookUp_AssetList_DataGrid_AsetTrans = $("#GLookUp_AssetList_AsetTrans_datagrid");
            if ($GLookUp_AssetList_DataGrid_AsetTrans.length) {
                GLookUp_AssetList_DataGrid_AsetTrans = $GLookUp_AssetList_DataGrid_AsetTrans.dxDataGrid("instance");
            }
            var $Look_OwnList_DataGrid_AsetTrans = $("#OwnerList_AsetTrans_datagrid");
            if ($Look_OwnList_DataGrid_AsetTrans.length) {
                Look_OwnList_DataGrid_AsetTrans = $Look_OwnList_DataGrid_AsetTrans.dxDataGrid("instance");
            }
            var $Look_LocList_DataGrid_AsetTrans = $("#LocList_AsetTrans_datagrid");
            if ($Look_LocList_DataGrid_AsetTrans.length) {
                Look_LocList_DataGrid_AsetTrans = $Look_LocList_DataGrid_AsetTrans.dxDataGrid("instance");
            }
        }
        async function LookUp_GetItemList_AsetTrans(FirstCall = false) {
            if (FirstCall === false) {
                ItemListDDRefresh_AsetTrans = true;
                await GLookUp_ItemList_DataGrid_AsetTrans.refresh();
                ItemListDDRefresh_AsetTrans = false;
            }
            var TotalCount = GLookUp_ItemList_DataGrid_AsetTrans.totalCount();
            if (TotalCount < 0) //dd has not been loaded so total count will return -1 in this case
            {
                var ds = $("#GLookUp_ItemList_AsetTrans").dxDropDownBox("getDataSource");
                var store = ds.store();
                TotalCount = await store.totalCount();
            }
            if (TotalCount == 1) {
                $("#GLookUp_ItemList_AsetTrans").find('input').css('color', '#000080');//Setting Navy blue colour
                if (Tag_AsetTrans == "_New" || Tag_AsetTrans == "_New_From_Selection") {
                    await GLookUp_ItemList_DataGrid_AsetTrans.selectRowsByIndexes(0);
                    ItemList_ATV_Enable = false;
                    Control_SetReadOnly("GLookUp_ItemList_AsetTrans", "dxDropDownBox", (ItemList_ATV_Enable == true && ItemList_ATV_ReadOnly == false) ? false : true);
                }
            }
            else {
                if (Tag_AsetTrans == "_New" || Tag_AsetTrans == "_New_From_Selection") {
                    ItemList_ATV_ReadOnly = false;
                    Control_SetReadOnly("GLookUp_ItemList_AsetTrans", "dxDropDownBox", (ItemList_ATV_Enable == true && ItemList_ATV_ReadOnly == false) ? false : true);
                }
            }
        }
        async function LookUp_Get_Fr_Centre_AsetTrans(FirstCall = false) {
            FrCen_ATV_ReadOnly = true;
            Control_SetReadOnly("GLookUp_FrCen_List_AsetTrans", "dxDropDownBox", (FrCen_ATV_Enable == true && FrCen_ATV_ReadOnly == false) ? false : true);
            if (FirstCall == false) {
                FrCen_ListDDRefresh_AsetTrans = true;
                await GLookUp_FrCen_List_DataGrid_AsetTrans.refresh();
                FrCen_ListDDRefresh_AsetTrans = false;
            }
            var TotalCount = GLookUp_FrCen_List_DataGrid_AsetTrans.totalCount();
            if (TotalCount < 0) //dd has not been loaded so total count will return -1 in this case
            {
                var ds = $("#GLookUp_FrCen_List_AsetTrans").dxDropDownBox("getDataSource");
                var store = ds.store();
                TotalCount = await store.totalCount();
            }
            if (TotalCount == 1) {
                if (Tag_AsetTrans == "_New" || Tag_AsetTrans == "_New_From_Selection" || Tag_AsetTrans == "_Edit") {
                    await GLookUp_FrCen_List_DataGrid_AsetTrans.selectRowsByIndexes(0);
                    FrCen_ATV_Enable = false;
                    Control_SetReadOnly("GLookUp_FrCen_List_AsetTrans", "dxDropDownBox", (FrCen_ATV_Enable == true && FrCen_ATV_ReadOnly == false) ? false : true);
                    FrCentre_AT_SetColour("#696969");//Setting DimGray colour
                }
            }
            else {
                if (Tag_AsetTrans == "_New" || Tag_AsetTrans == "_New_From_Selection" || Tag_AsetTrans == "_Edit") {
                    FrCen_ATV_ReadOnly = false;
                    FrCen_ATV_Enable = true;
                    Control_SetReadOnly("GLookUp_FrCen_List_AsetTrans", "dxDropDownBox", (FrCen_ATV_Enable == true && FrCen_ATV_ReadOnly == false) ? false : true);
                    FrCentre_AT_SetColour("#000080");//Setting Navy Blue colour
                }
            }
        }
        async function LookUp_Get_To_Centre_AsetTrans(FirstCall = false) {
            ToCen_ATV_ReadOnly = true;
            Control_SetReadOnly("GLookUp_ToCen_List_AsetTrans", "dxDropDownBox", (ToCen_ATV_Enable == true && ToCen_ATV_ReadOnly == false) ? false : true);
            if (FirstCall === false) {
                ToCen_ListDDRefresh_AsetTrans = true;
                await GLookUp_ToCen_List_DataGrid_AsetTrans.refresh();
                ToCen_ListDDRefresh_AsetTrans = false;
            }
            var TotalCount = GLookUp_ToCen_List_DataGrid_AsetTrans.totalCount();
            if (TotalCount < 0) //dd has not been loaded so total count will return -1 in this case
            {
                var ds = $("#GLookUp_ToCen_List_AsetTrans").dxDropDownBox("getDataSource");
                var store = ds.store();
                TotalCount = await store.totalCount();
            }
            if (TotalCount == 1) {
                if (Tag_AsetTrans == "_New" || Tag_AsetTrans == "_New_From_Selection" || Tag_AsetTrans == "_Edit") {
                    await GLookUp_ToCen_List_DataGrid_AsetTrans.selectRowsByIndexes(0);
                    ToCen_ATV_Enable = false;
                    Control_SetReadOnly("GLookUp_ToCen_List_AsetTrans", "dxDropDownBox", (ToCen_ATV_Enable == true && ToCen_ATV_ReadOnly == false) ? false : true);
                    ToCentre_AT_SetColour("#696969");//Setting DimGray colour
                }
            }
            else {
                if (Tag_AsetTrans == "_New" || Tag_AsetTrans == "_New_From_Selection" || Tag_AsetTrans == "_Edit") {
                    ToCen_ATV_ReadOnly = false;
                    ToCen_ATV_Enable = true;
                    Control_SetReadOnly("GLookUp_ToCen_List_AsetTrans", "dxDropDownBox", (ToCen_ATV_Enable == true && ToCen_ATV_ReadOnly == false) ? false : true);
                    ToCentre_AT_SetColour("#000080");//Setting Navy Blue colour
                }
            }
        }
        async function LookUp_GetLocList_AsetTrans(FirstCall = false) {
            if (FirstCall == false) {
                LocList_ListDDRefresh_AsetTrans = true;
                await Look_LocList_DataGrid_AsetTrans.refresh();
                LocList_ListDDRefresh_AsetTrans = false;
            }
            var TotalCount = Look_LocList_DataGrid_AsetTrans.totalCount();
            if (TotalCount < 0) //dd has not been loaded so total count will return -1 in this case
            {
                var ds = $("#Look_LocList_AsetTrans").dxDropDownBox("getDataSource");
                var store = ds.store();
                TotalCount = await store.totalCount();
            }
            if (Check_USE_CROSS_REF()) {
                if (TotalCount == 1) {
                    await Look_LocList_DataGrid_AsetTrans.selectRowsByIndexes(0);
                }
                Look_LocList_ReadOnly = false;
                Control_SetReadOnly("Look_LocList_AsetTrans", "dxDropDownBox", (Look_LocList_Enable == true && Look_LocList_ReadOnly == false) ? false : true);
            }
            else {
                Look_LocList_ReadOnly = true;
                Control_SetReadOnly("Look_LocList_AsetTrans", "dxDropDownBox", (Look_LocList_Enable == true && Look_LocList_ReadOnly == false) ? false : true);
            }
        }

        async function LookUp_GetOwnList_AsetTrans(FirstCall = false) {
            if (FirstCall == false) {
                OwnerListDDRefresh_AsetTrans = true;
                await Look_OwnList_DataGrid_AsetTrans.refresh();
                OwnerListDDRefresh_AsetTrans = false;
            }
        }
        async function LookUp_GetPurposeList_AsetTrans(FirstCall = false) {
            if (Tag_AsetTrans == "_New" || Tag_AsetTrans == "_New_From_Selection") {
                PurList_ATV_ReadOnly = false;
                Control_SetReadOnly("GLookUp_PurList_AsetTrans", "dxDropDownBox", (PurList_ATV_Enable == true && PurList_ATV_ReadOnly == false) ? false : true);
            }
            if (FirstCall == false) {
                PurListDDRefresh_AsetTrans = true;
                await GLookUp_PurList_DataGrid_AsetTrans.refresh();
                PurListDDRefresh_AsetTrans = false;
            }
        }
        async function GLookUp_Get_AssetList(FirstCall = false) {
            if (Tag_AsetTrans == "_New" || Tag_AsetTrans == "_New_From_Selection") {
                AssetList_ATV_ReadOnly = false;
                Control_SetReadOnly("GLookUp_AssetList_AsetTrans", "dxDropDownBox", (AssetList_ATV_Enable == true && AssetList_ATV_ReadOnly == false) ? false : true);
            }
            if (FirstCall === false) {
                await GLookUp_AssetList_DataGrid_AsetTrans.refresh();
            }
        }
        function FrCentre_AT_SetColour(colour) {
            $("#BE_Fr_Pad_No_AsetTrans").find('input').css('color', colour);
            $("#BE_Fr_UID_AsetTrans").find('input').css('color', colour);
            $("#BE_Fr_Incharge_AsetTrans").find('input').css('color', colour);
            $("#BE_Fr_Zone_AsetTrans").find('input').css('color', colour);
            $("#BE_Fr_Tel_No_AsetTrans").find('input').css('color', colour);
            $("#BE_Fr_Institute_AsetTrans").find('input').css('color', colour);
        }
        function ToCentre_AT_SetColour(colour) {
            $("#BE_To_Pad_No_AsetTrans").find('input').css('color', colour);
            $("#BE_To_UID_AsetTrans").find('input').css('color', colour);
            $("#BE_To_Incharge_AsetTrans").find('input').css('color', colour);
            $("#BE_To_Zone_AsetTrans").find('input').css('color', colour);
            $("#BE_To_Tel_No_AsetTrans").find('input').css('color', colour);
            $("#BE_To_Institute_AsetTrans").find('input').css('color', colour);
        }
        function Check_USE_CROSS_REF() {
            if ($("#USE_CROSS_REF").val() === "True") {
                return true;
            }
            if ($("#USE_CROSS_REF").val() === true) {
                return true;
            }
            if ($("#USE_CROSS_REF").val() === "true") {
                return true;
            }
            return false;
        }
    </script> @*DropDown Init*@

<script>
        $(document).ready(async function ()
        {
            ShowLoader_Ready();
            InitAllDropdownDatagrid_AsetTrans();
            TransformTextForDB("Frm_AssetTransferVoucher_Window");
            $("#TextEdit1Text_AsetTrans").find('input').css("color", "#696969");
            $("#TextEdit1_Div_AsetTrans").hide();
            if (Tag_AsetTrans != "_View")
            {
                dontaskpopupcloseconfirmation = false;
            }
            sessionclearpath = "/Account/AssetTransferVoucher/SessionClear";
            await Promise.all([LookUp_GetItemList_AsetTrans(true), LookUp_GetPurposeList_AsetTrans(true), LookUp_GetOwnList_AsetTrans(true), LookUp_GetLocList_AsetTrans(true)]);
            if (Tag_AsetTrans == "_New" || Tag_AsetTrans == "_New_From_Selection")
            {
                if ("@Model.Txt_SaleAmt_AsetTrans".length == 0)
                {
                    $("#Txt_SaleAmt_AsetTrans").dxNumberBox("option", "value", null);
                }
                if ("@Model.pending_list" == "True")
                {
                    ShowLoader();
                    OpenPopup("popup_frm_Asset_Transfer_Pending_Window","Pending Asset Transfer Entries", "/Account/AssetTransferVoucher/Frm_Asset_Transfer_Pending", "auto", 1000, false, null);
                    HideLoader();
                }
                else
                {
                    After_AssetTransfer_loaded();
                }
            }
            else if (Tag_AsetTrans == "_Edit" || Tag_AsetTrans == "_Delete" || Tag_AsetTrans == "_View")
            {
                await GLookUp_ItemList_DataGrid_AsetTrans.selectRows("@Model.GLookUp_ItemList_AsetTrans", false);
                ItemList_ATV_ReadOnly = false;
                Control_SetReadOnly("GLookUp_ItemList_AsetTrans", "dxDropDownBox", (ItemList_ATV_Enable == true && ItemList_ATV_ReadOnly == false) ? false : true);
                await GLookUp_ToCen_List_DataGrid_AsetTrans.selectRows("@Model.GLookUp_ToCen_List_AsetTrans", false);
                ToCen_ATV_ReadOnly = false;
                Control_SetReadOnly("GLookUp_ToCen_List_AsetTrans", "dxDropDownBox", (ToCen_ATV_Enable == true && ToCen_ATV_ReadOnly == false) ? false : true);
                await GLookUp_FrCen_List_DataGrid_AsetTrans.selectRows("@Model.GLookUp_FrCen_List_AsetTrans", false);
                FrCen_ATV_ReadOnly = false;
                Control_SetReadOnly("GLookUp_FrCen_List_AsetTrans", "dxDropDownBox", (FrCen_ATV_Enable == true && FrCen_ATV_ReadOnly == false) ? false : true);
                $("#Cmb_Asset_Type_AsetTrans").dxSelectBox("instance").option("value", TransformText("@Model.Cmb_Asset_Type_AsetTrans"));
                await GLookUp_AssetList_DataGrid_AsetTrans.selectRows("@Model.GLookUp_AssetList_AsetTrans", false);
                AssetList_ATV_ReadOnly = false;
                Control_SetReadOnly("GLookUp_AssetList_AsetTrans", "dxDropDownBox", (AssetList_ATV_Enable == true && AssetList_ATV_ReadOnly == false) ? false : true);
                $("#Txt_Qty_AsetTrans").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Qty_AsetTrans"));
                $("#Txt_SaleAmt_AsetTrans").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_SaleAmt_AsetTrans"));
                await GLookUp_PurList_DataGrid_AsetTrans.selectRows("@Model.GLookUp_PurList_AsetTrans", false);
                PurList_ATV_ReadOnly = false;
                Control_SetReadOnly("GLookUp_PurList_AsetTrans", "dxDropDownBox", (PurList_ATV_Enable == true && PurList_ATV_ReadOnly == false) ? false : true);
                After_AssetTransfer_loaded();
            }

            //FCRA Related
            //await $("#ListSpecialVoucherRef_Astr").dxList("getDataSource").load();            
            if (parseInt("@Model.splVchrRefsCount_Astr") > 0) {
                //await $("#ListSpecialVoucherRef_Astr").dxList("getDataSource").load();
                OnSplVchrRefsListSelectionChanged_Astr();
            }
            if (parseInt("@Model.splVchrRefsCount_Astr") == 0)
            {
                $("#Astr_SpecialVoucherRefDiv").remove();
                $("#Astr_NarrationDiv").removeClass("col-sm-12 col-md-8 col-lg-8").addClass("col-sm-12 col-md-12");
            }

        });
    async function After_AssetTransfer_loaded()
    {
        if (Tag_AsetTrans == "_New_From_Selection" && (Check_USE_CROSS_REF() == false)) //By Item-wise Selection
        {
            await GLookUp_ItemList_DataGrid_AsetTrans.selectRows($("#iSpecific_ItemID").val(), false);
            ItemList_ATV_ReadOnly = false;
            Control_SetReadOnly("GLookUp_ItemList_AsetTrans", "dxDropDownBox", (ItemList_ATV_Enable == true && ItemList_ATV_ReadOnly == false) ? false : true);
            $("#Txt_V_Date_AsetTrans").dxDateBox("instance").focus();
        }
        else
        {
            $("#GLookUp_ItemList_AsetTrans").dxDropDownBox("instance").focus();
        }
        if ("@UserType".toUpperCase() != "SUPERUSER" && "@UserType".toUpperCase() != "AUDITOR")
        {
            $("#Txt_SaleAmt_AsetTrans").dxNumberBox("instance").option("visible", false);
            $("#lblAsetValue").hide();
            GLookUp_AssetList_DataGrid_AsetTrans.columnOption("REF_AMT","visible", false);
        }
        FormInitialSettings("Frm_AssetTransferVoucher_Window", Tag_AsetTrans);
        //setTimeout(function ()
        //{
        //    Set_Form_View_Delete_Mode(null, "Frm_AssetTransferVoucher_Window", Tag_AsetTrans);
        //    Focus_FirstEditable_Field("Frm_AssetTransferVoucher_Window", Tag_AsetTrans);
        //    HideLoader_Ready();
        //}, Timeout500);
    }
    function AjaxSuccessAssetTransfer(data)
    {
            HideLoader();
            if (data.jsonParam.result == false)
            {
                if (data.jsonParam.closeform)
                {
                    dontaskpopupcloseconfirmation = true;
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
                if (data.jsonParam.refreshgrid)
                {
                     RefreshGridView("@ViewBag.GridToRefresh");
                }
                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertclick.done(function (alertResult)
                {
                    if (alertResult)
                    {
                        if (data.jsonParam.focusid)
                        {
                            var id = "#" + data.jsonParam.focusid;
                            setTimeout(function ()
                            {
                                $(id).find('input').focus();
                            }, Timeout500);
                        }
                    }
                });
            }
            else if (data.jsonParam.result == true)
            {
                var VouDate = $("#Txt_V_Date_AsetTrans").dxDateBox("instance").option("value");
                var _ActiveTab_ID = $(".TabPanalMenu-tabs .active").attr("id");
                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertclick.done(function (result)
                {
                    if (result)
                    {
                        if ("@ViewBag.GridToRefresh" != "CashBookListGrid")
                        {
                            RefreshGridView("@ViewBag.GridToRefresh");
                        }
                        if (/*typeof CashBookListGrid !== 'undefined'*/ _ActiveTab_ID =="contact_Frm_Voucher_Info_CB")
                        {
                            AfterVoucherClose_CB(VouDate, Tag_AsetTrans, IsUndefinedOrNull(data.CashbookGridPK) ? "" : data.CashbookGridPK);
                        }
                        else if (_ActiveTab_ID == "contact_Frm_Voucher_Info") {
                            AfterVoucherClose_VoucherEntry();
                        }
                        dontaskpopupcloseconfirmation = true;
                        $("#Dynamic_Content_popup").dxPopup("hide");
                    }
                });
            }
        }
</script> @*Document.ready() SetDefault() AjaxSuccess()*@

    <script>
        async function GLookUp_ItemList_EditValueChanged_AsetTrans(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                GLookUp_ItemList_DataGrid_AsetTrans.clearSelection();
                return;
            }
            if (GLookUp_ItemList_DataGrid_AsetTrans.getSelectedRowsData().length > 0) {
                var item = GLookUp_ItemList_DataGrid_AsetTrans.getSelectedRowsData()[0];
                $("#BE_Item_Head_AsetTrans").dxTextBox("instance").option("value", item["LED_NAME"]);
                $("#iVoucher_Type").val(item["ITEM_VOUCHER_TYPE"]);
                $("#iLed_ID").val(item["ITEM_LED_ID"]);
                $("#iTrans_Type").val(item["ITEM_TRANS_TYPE"]);
                $("#iParty_Req").val(item["ITEM_PARTY_REQ"]);
                $("#iProfile").val(item["ITEM_PROFILE"]);
                GLookUp_FrCen_List_DataGrid_AsetTrans.clearSelection();
                GLookUp_ToCen_List_DataGrid_AsetTrans.clearSelection();
                if (Check_USE_CROSS_REF() == false) {
                    await Promise.all([LookUp_Get_Fr_Centre_AsetTrans(), LookUp_Get_To_Centre_AsetTrans()]);
                }
            }
        }
        function GLookUp_FrCen_List_EditValueChanged_AsetTrans(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                GLookUp_FrCen_List_DataGrid_AsetTrans.clearSelection();
                $("#BE_Fr_Pad_No_AsetTrans").dxTextBox("instance").reset();
                $("#BE_Fr_UID_AsetTrans").dxTextBox("instance").reset();
                $("#BE_Fr_Incharge_AsetTrans").dxTextBox("instance").reset();
                $("#BE_Fr_Zone_AsetTrans").dxTextBox("instance").reset();
                $("#BE_Fr_Tel_No_AsetTrans").dxTextBox("instance").reset();
                $("#BE_Fr_Institute_AsetTrans").dxTextBox("instance").reset();
                return;
            }
            if (GLookUp_FrCen_List_DataGrid_AsetTrans.getSelectedRowsData().length > 0) {
                var item = GLookUp_FrCen_List_DataGrid_AsetTrans.getSelectedRowsData()[0];
                $("#iFR_CEN_ID").val(item["FR_CEN_ID"]);
                $("#BE_Fr_Pad_No_AsetTrans").dxTextBox("instance").option("value", item["FR_PAD_NO"]);
                $("#BE_Fr_UID_AsetTrans").dxTextBox("instance").option("value", item["FR_UID"]);
                $("#BE_Fr_Incharge_AsetTrans").dxTextBox("instance").option("value", item["FR_INCHARGE"]);
                $("#BE_Fr_Zone_AsetTrans").dxTextBox("instance").option("value", item["FR_ZONE"]);
                $("#BE_Fr_Tel_No_AsetTrans").dxTextBox("instance").option("value", item["FR_TEL_NO"]);
                $("#BE_Fr_Institute_AsetTrans").dxTextBox("instance").option("value", Open_Institute_Name);
            }
        }
        function GLookUp_ToCen_List_EditValueChanged_AsetTrans(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                GLookUp_ToCen_List_DataGrid_AsetTrans.clearSelection();
                $("#BE_To_Pad_No_AsetTrans").dxTextBox("instance").reset();
                $("#BE_To_UID_AsetTrans").dxTextBox("instance").reset();
                $("#BE_To_Incharge_AsetTrans").dxTextBox("instance").reset();
                $("#BE_To_Zone_AsetTrans").dxTextBox("instance").reset();
                $("#BE_To_Tel_No_AsetTrans").dxTextBox("instance").reset();
                $("#BE_To_Institute_AsetTrans").dxTextBox("instance").reset();
                return;
            }
            if (GLookUp_ToCen_List_DataGrid_AsetTrans.getSelectedRowsData().length > 0) {
                var item = GLookUp_ToCen_List_DataGrid_AsetTrans.getSelectedRowsData()[0];
                $("#iTO_CEN_ID").val(item["TO_CEN_ID"]);
                $("#BE_To_Pad_No_AsetTrans").dxTextBox("instance").option("value", item["TO_PAD_NO"]);
                $("#BE_To_UID_AsetTrans").dxTextBox("instance").option("value", item["TO_UID"]);
                $("#BE_To_Incharge_AsetTrans").dxTextBox("instance").option("value", item["TO_INCHARGE"]);
                $("#BE_To_Zone_AsetTrans").dxTextBox("instance").option("value", item["TO_ZONE"]);
                $("#BE_To_Tel_No_AsetTrans").dxTextBox("instance").option("value", item["TO_TEL_NO"]);
                $("#BE_To_Institute_AsetTrans").dxTextBox("instance").option("value", Open_Institute_Name);
            }
        }
        function Look_LocList_EditValueChanged_AsetTrans(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                Look_LocList_DataGrid_AsetTrans.clearSelection();
                return;
            }
            if (Look_LocList_DataGrid_AsetTrans.getSelectedRowsData().length > 0) {
                var item = Look_LocList_DataGrid_AsetTrans.getSelectedRowsData()[0];
                $("#LocList_REC_EDIT_ON").val(item["REC_EDIT_ON"]);
            }
        }
        function Look_OwnList_EditValueChanged_AsetTrans(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                Look_OwnList_DataGrid_AsetTrans.clearSelection();
                return;
            }
            SelectedParty = e.value.length;
        }
        function GLookUp_PurList_EditValueChanged_AsetTrans(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                GLookUp_PurList_DataGrid_AsetTrans.clearSelection();
                return;
            }
        }
        function GLookUp_AssetList_EditValueChanged_AsetTrans(e) {
            e.component.close();
            $("#lbl_owner_AsetTrans").text("Owner Name:");
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                GLookUp_AssetList_DataGrid_AsetTrans.clearSelection();
                return;
            }
            if (GLookUp_AssetList_DataGrid_AsetTrans.getSelectedRowsData().length > 0) {
                var item = GLookUp_AssetList_DataGrid_AsetTrans.getSelectedRowsData()[0];
                $("#Txt_Desc_AsetTrans").dxTextBox("instance").option("value", item["REF_DESC"]);
                $("#Txt_CurQty_AsetTrans").dxNumberBox("instance").option("value", item["REF_QTY"]);
                $("#Txt_Qty_AsetTrans").dxNumberBox("instance").option("value", null);
                $("#aItem_ID").val(item["REF_ITEM_ID"]);
                $("#aLed_ID").val(item["REF_LED_ID"]);
                $("#AssetList_REF_CREATION_DATE").val(item["REF_CREATION_DATE"]);
                $("#AssetList_REC_EDIT_ON").val(item["REC_EDIT_ON"]);
                $("#AssetList_REF_AMT").val(item["REF_AMT"]);

                if (Cmb_Asset_Type_SelectedValue.toUpperCase() == "MOVABLE ASSETS")   //4'Movable Assets
                {
                    if (item["AI_TYPE"] == "EXPENSE") {
                        $("#aLed_ID").val("00194");   //Asset Transfer(Revenue)
                    }
                }
                $("#OwnershipRequire").val(false);

                //Vehicle ownership......................................
                if (Cmb_Asset_Type_SelectedValue.toUpperCase() == "VEHICLES") {
                    $("#TextEdit1Tag_AsetTrans").val(item["REF_OWNERSHIP"]);
                    if ($("#TextEdit1Tag_AsetTrans").val() == "INCHARGE") {
                        $("#OwnershipRequire").val(true);
                        $("#TextEdit1_Div_AsetTrans").hide();
                        $("#Look_OwnList_Div_AsetTrans").show();
                        Look_OwnList_DataGrid_AsetTrans.clearSelection();
                        OwnList_ATV_Enable = true;
                        Control_SetReadOnly("Look_OwnList_AsetTrans", "dxDropDownBox", (OwnList_ATV_Enable == true && OwnList_ATV_ReadOnly == false) ? false : true);
                        Look_OwnList_DataGrid_AsetTrans.selectRows(item["REF_OWNERSHIP_ID"], false);
                    }
                    else     //INSTITUTION
                    {
                        $("#TextEdit1_Div_AsetTrans").show();
                        $("#Look_OwnList_Div_AsetTrans").hide();
                        OwnList_ATV_Enable = false;
                        Control_SetReadOnly("Look_OwnList_AsetTrans", "dxDropDownBox", (OwnList_ATV_Enable == true && OwnList_ATV_ReadOnly == false) ? false : true);
                        Look_OwnList_DataGrid_AsetTrans.clearSelection();
                    }
                    if (Check_USE_CROSS_REF()) {
                        $("#lbl_owner_AsetTrans").addClass("text-red").removeClass("disabletxt");
                        OwnList_ATV_ReadOnly = false;
                        OwnList_ATV_Enable = true;
                        Control_SetReadOnly("Look_OwnList_AsetTrans", "dxDropDownBox", (OwnList_ATV_Enable == true && OwnList_ATV_ReadOnly == false) ? false : true);
                    }
                    else {
                        $("#lbl_owner_AsetTrans").removeClass("text-red").removeClass("disabletxt");
                        OwnList_ATV_ReadOnly = true;
                        OwnList_ATV_Enable = false;
                        Control_SetReadOnly("Look_OwnList_AsetTrans", "dxDropDownBox", (OwnList_ATV_Enable == true && OwnList_ATV_ReadOnly == false) ? false : true);
                    }
                    Cmd_PUse_ATV_ReadOnly = false;
                    Cmd_PUse_ATV_Enable = false;
                    Control_SetReadOnly("Cmd_PUse_AsetTrans", "dxSelectBox", (Cmd_PUse_ATV_Enable == true && Cmd_PUse_ATV_ReadOnly == false) ? false : true);
                    $("#Cmd_PUse_AsetTrans").dxSelectBox("instance").option("value", null);
                }
                else if (Cmb_Asset_Type_SelectedValue.toUpperCase() == "ADVANCES" || Cmb_Asset_Type_SelectedValue.toUpperCase() == "OTHER DEPOSITS" || Cmb_Asset_Type_SelectedValue.toUpperCase() == "OTHER LIABILITIES") {
                    if (Check_USE_CROSS_REF()) {
                        $("#lbl_owner_AsetTrans").addClass("text-red").removeClass("disabletxt");
                        OwnList_ATV_ReadOnly = false;
                        OwnList_ATV_Enable = true;
                        Control_SetReadOnly("Look_OwnList_AsetTrans", "dxDropDownBox", (OwnList_ATV_Enable == true && OwnList_ATV_ReadOnly == false) ? false : true);
                    }
                    $("#lbl_owner_AsetTrans").text("Party Name:");
                    $("#OwnershipRequire").val(true);
                    $("#TextEdit1_Div_AsetTrans").hide();
                    $("#Look_OwnList_Div_AsetTrans").show();
                    Look_OwnList_DataGrid_AsetTrans.clearSelection();
                    Control_SetReadOnly("Look_OwnList_AsetTrans", "dxDropDownBox", (OwnList_ATV_Enable == true && OwnList_ATV_ReadOnly == false) ? false : true);
                    Look_OwnList_DataGrid_AsetTrans.selectRows(item["REF_OWNERSHIP_ID"], false);
                }
                //Land & Building ownership......................................
                else if ($("#Cmb_Asset_Type_AsetTrans").dxSelectBox("instance").option("value").toUpperCase() == "LAND & BUILDING") {
                    $("#TextEdit1Tag_AsetTrans").val(item["REF_OWNERSHIP"]);
                    if ($("#TextEdit1Tag_AsetTrans").val() == "THIRD PARTY") {
                        $("#OwnershipRequire").val(true);
                        $("#TextEdit1_Div_AsetTrans").hide();
                        $("#Look_OwnList_Div_AsetTrans").show();
                        Look_OwnList_DataGrid_AsetTrans.clearSelection();
                        OwnList_ATV_Enable = true;
                        Control_SetReadOnly("Look_OwnList_AsetTrans", "dxDropDownBox", (OwnList_ATV_Enable == true && OwnList_ATV_ReadOnly == false) ? false : true);
                        Look_OwnList_DataGrid_AsetTrans.selectRows(item["REF_OWNERSHIP_ID"], false);
                    }
                    else    //if INSTITUTION
                    {
                        $("#TextEdit1_Div_AsetTrans").show();
                        $("#Look_OwnList_Div_AsetTrans").hide();
                        OwnList_ATV_Enable = false;
                        Control_SetReadOnly("Look_OwnList_AsetTrans", "dxDropDownBox", (OwnList_ATV_Enable == true && OwnList_ATV_ReadOnly == false) ? false : true);
                        Look_OwnList_DataGrid_AsetTrans.clearSelection();
                    }
                    $("#Cmd_PUse_AsetTrans").dxSelectBox("instance").option("value", item["REF_USE"]);
                    $("#Property_Name").val(item["REF_NAME"]);
                    if (Check_USE_CROSS_REF()) {
                        $("#lbl_owner_AsetTrans").addClass("text-red").removeClass("disabletxt");
                        $("#lbl_Use_AsetTrans").addClass("text-red").removeClass("disabletxt");
                        OwnList_ATV_ReadOnly = false;
                        OwnList_ATV_Enable = true;
                        Control_SetReadOnly("Look_OwnList_AsetTrans", "dxDropDownBox", (OwnList_ATV_Enable == true && OwnList_ATV_ReadOnly == false) ? false : true);
                        Cmd_PUse_ATV_ReadOnly = false;
                        Cmd_PUse_ATV_Enable = true;
                        Control_SetReadOnly("Cmd_PUse_AsetTrans", "dxSelectBox", (Cmd_PUse_ATV_Enable == true && Cmd_PUse_ATV_ReadOnly == false) ? false : true);
                    }
                    else {
                        $("#lbl_owner_AsetTrans").removeClass("text-red").removeClass("disabletxt");
                        $("#lbl_Use_AsetTrans").removeClass("text-red").removeClass("disabletxt");
                        OwnList_ATV_ReadOnly = true;
                        OwnList_ATV_Enable = false;
                        Control_SetReadOnly("Look_OwnList_AsetTrans", "dxDropDownBox", (OwnList_ATV_Enable == true && OwnList_ATV_ReadOnly == false) ? false : true);
                        Cmd_PUse_ATV_ReadOnly = true;
                        Cmd_PUse_ATV_Enable = false;
                        Control_SetReadOnly("Cmd_PUse_AsetTrans", "dxSelectBox", (Cmd_PUse_ATV_Enable == true && Cmd_PUse_ATV_ReadOnly == false) ? false : true);
                    }
                }
                else {
                    $("#lbl_owner_AsetTrans").removeClass("text-red").removeClass("disabletxt");
                    $("#lbl_Use_AsetTrans").removeClass("text-red").removeClass("disabletxt");
                    OwnList_ATV_ReadOnly = true;
                    OwnList_ATV_Enable = false;
                    Control_SetReadOnly("Look_OwnList_AsetTrans", "dxDropDownBox", (OwnList_ATV_Enable == true && OwnList_ATV_ReadOnly == false) ? false : true);
                    Look_OwnList_DataGrid_AsetTrans.clearSelection();
                    Cmd_PUse_ATV_ReadOnly = false;
                    Cmd_PUse_ATV_Enable = false;
                    Control_SetReadOnly("Cmd_PUse_AsetTrans", "dxSelectBox", (Cmd_PUse_ATV_Enable == true && Cmd_PUse_ATV_ReadOnly == false) ? false : true);
                    $("#Cmd_PUse_AsetTrans").dxSelectBox("instance").option("value", null);
                }
                if (Check_USE_CROSS_REF()) {
                    if ($("#Cmb_Asset_Type_AsetTrans").dxSelectBox("instance").option("value").toUpperCase() != "LAND & BUILDING" && $("#Cmb_Asset_Type_AsetTrans").dxSelectBox("instance").option("value").toUpperCase() != "FD") {
                        $("#lbl_location_AsetTrans").addClass("text-red").removeClass("disabletxt");
                    }
                    else {
                        $("#lbl_location_AsetTrans").removeClass("text-red").removeClass("disabletxt");
                    }
                }
                else   //FALSE
                {
                    $("#lbl_location_AsetTrans").removeClass("text-red").removeClass("disabletxt");
                    //Set Location except land & building......................................
                    if ((Cmb_Asset_Type_SelectedValue.toUpperCase() != "LAND & BUILDING" && Cmb_Asset_Type_SelectedValue.toUpperCase() != "FD") && item["REF_LOC_ID"] != null) {
                        Look_LocList_DataGrid_AsetTrans.selectRows(item["REF_LOC_ID"], false);
                    }
                    else {
                        Look_LocList_DataGrid_AsetTrans.clearSelection();
                    }
                    //Set Quantity......................................
                    $("#lbl_TrfQty_AsetTrans").removeClass("text-red").removeClass("disabletxt");
                    $("#Txt_Qty_AsetTrans").dxNumberBox("instance").option("value", $("#Txt_CurQty_AsetTrans").dxNumberBox("instance").option("value"));

                    if (Cmb_Asset_Type_SelectedValue.toUpperCase() == "MOVABLE ASSETS")     //OTHER ASSET
                    {
                        if (parseFloat($("#Txt_CurQty_AsetTrans").dxNumberBox("instance").option("value")) == 1) {
                            Txt_CurQty_ATV_Enable = false;
                            Control_SetReadOnly("Txt_CurQty_AsetTrans", "dxNumberBox", (Txt_CurQty_ATV_Enable == true && Txt_CurQty_ATV_ReadOnly == false) ? false : true);
                            Txt_Qty_ATV_Enable = false;
                            Control_SetReadOnly("Txt_Qty_AsetTrans", "dxNumberBox", (Txt_Qty_ATV_Enable == true && Txt_Qty_ATV_ReadOnly == false) ? false : true);
                        }
                        else {
                            Txt_CurQty_ATV_Enable = false;
                            Control_SetReadOnly("Txt_CurQty_AsetTrans", "dxNumberBox", (Txt_CurQty_ATV_Enable == true && Txt_CurQty_ATV_ReadOnly == false) ? false : true);
                            Txt_Qty_ATV_Enable = true;
                            Control_SetReadOnly("Txt_Qty_AsetTrans", "dxNumberBox", (Txt_Qty_ATV_Enable == true && Txt_Qty_ATV_ReadOnly == false) ? false : true);
                            $("#lbl_TrfQty_AsetTrans").addClass("text-red").removeClass("disabletxt");
                        }
                    }
                    else {
                        Txt_CurQty_ATV_Enable = false;
                        Control_SetReadOnly("Txt_CurQty_AsetTrans", "dxNumberBox", (Txt_CurQty_ATV_Enable == true && Txt_CurQty_ATV_ReadOnly == false) ? false : true);
                        Txt_Qty_ATV_Enable = false;
                        Control_SetReadOnly("Txt_Qty_AsetTrans", "dxNumberBox", (Txt_Qty_ATV_Enable == true && Txt_Qty_ATV_ReadOnly == false) ? false : true);
                    }
                    //Get Asset Value......................................
                    if (Tag_AsetTrans == "_New" || Tag_AsetTrans == "_New_From_Selection" || Tag_AsetTrans == "_Edit") {
                        $("#Txt_SaleAmtTag_AsetTrans").val(0);
                        $("#Txt_SaleAmt_AsetTrans").dxNumberBox("instance").option("value", 0);
                        $("#Txt_SaleAmtTag_AsetTrans").val(item["REF_AMT"]);

                        var Txt_SaleAmt_Tag = $("#Txt_SaleAmtTag_AsetTrans").val();
                        var Txt_CurQty = parseFloat($("#Txt_CurQty_AsetTrans").dxNumberBox("instance").option("value"));
                        if (Cmb_Asset_Type_SelectedValue.toUpperCase() == "GOLD" || Cmb_Asset_Type_SelectedValue.toUpperCase() == "SILVER" || Cmb_Asset_Type_SelectedValue.toUpperCase() == "MOVABLE ASSETS") //MOVABLE ASSETS + GS [added Fix: Bug #5020]
                        {
                            if ((parseFloat(Txt_CurQty) > 1) || Cmb_Asset_Type_SelectedValue.toUpperCase() == "GOLD" || Cmb_Asset_Type_SelectedValue.toUpperCase() == "SILVER")   //In all GS Cases
                            {
                                if (Txt_SaleAmt_Tag > 0) {
                                    $("#Txt_SaleAmtTag_AsetTrans").val(parseFloat(Txt_SaleAmt_Tag / Txt_CurQty));
                                }
                            }
                        }
                        Txt_Qty_EditValueChanged_AsetTrans();
                    }
                }
            }
        }
        function Cmb_Asset_Type_SelectedIndexChanged_AsetTrans(e) {
            Cmb_Asset_Type_SelectedValue = e.value;
            $("#Txt_Desc_AsetTrans").dxTextBox("instance").reset();
            $("#Txt_SaleAmt_AsetTrans").dxNumberBox("instance").reset();
            $("#Txt_Qty_AsetTrans").dxNumberBox("instance").reset();
            GLookUp_AssetList_DataGrid_AsetTrans.clearSelection();
            if (e.value == null) { return; }
            ShowLoader();
            e.component.blur();
            if (e.value == "GOLD" || e.value == "SILVER")     //ONLY FOR GOLD / SILVER
            {
                $("#lbl_CurQty_AsetTrans").text("Asset Weight:");
                $("#lbl_TrfQty_AsetTrans").text("Transfer Weight:");
                $("#Txt_Qty_AsetTrans").dxNumberBox("instance").option("format", "#.###");
            }
            else if (e.value == "ADVANCES" )  
            {
                $("#lbl_CurQty_AsetTrans").text("Curr Adv Qty:");
                $("#lbl_TrfQty_AsetTrans").text("Transfer Adv Qty:");
                $("#Txt_Qty_AsetTrans").dxNumberBox("instance").option("format", "#.###");
                GLookUp_AssetList_DataGrid_AsetTrans.columnOption("REF_AMT", "visible", true);
            }
            else if (e.value == "OTHER LIABILITIES" )  
            {
                $("#lbl_CurQty_AsetTrans").text("Curr Liab Qty:");
                $("#lbl_TrfQty_AsetTrans").text("Transfer Liab Qty:");
                $("#Txt_Qty_AsetTrans").dxNumberBox("instance").option("format", "#.###");
                GLookUp_AssetList_DataGrid_AsetTrans.columnOption("REF_AMT", "visible", true);
            }
            else if ( e.value == "OTHER DEPOSITS")    
            {
                $("#lbl_CurQty_AsetTrans").text("Curr Dep Qty:");
                $("#lbl_TrfQty_AsetTrans").text("Transfer Dep Qty:");
                $("#Txt_Qty_AsetTrans").dxNumberBox("instance").option("format", "#.###");
                GLookUp_AssetList_DataGrid_AsetTrans.columnOption("REF_AMT", "visible", true);
            }
            else {
                $("#lbl_CurQty_AsetTrans").text("Asset Qty:");
                $("#lbl_TrfQty_AsetTrans").text("Transfer Qty:");
                $("#Txt_Qty_AsetTrans").dxNumberBox("instance").option("format", "#");
            }
            if (Tag_AsetTrans == "_New" || Tag_AsetTrans == "_New_From_Selection" || Tag_AsetTrans == "_Edit") {
                if (Cmb_Asset_Type_SelectedValue.toUpperCase() != "LAND & BUILDING" && Cmb_Asset_Type_SelectedValue.toUpperCase() != "FD" && Cmb_Asset_Type_SelectedValue.toUpperCase() != "OTHER DEPOSITS" && Cmb_Asset_Type_SelectedValue.toUpperCase() != "OTHER LIABILITIES" && Cmb_Asset_Type_SelectedValue.toUpperCase() != "ADVANCES" && Cmb_Asset_Type_SelectedValue.toUpperCase() != "WIP") {
                    Look_LocList_Enable = true;
                    Control_SetReadOnly("Look_LocList_AsetTrans", "dxDropDownBox", (Look_LocList_Enable == true && Look_LocList_ReadOnly == false) ? false : true);
                }
                else {
                    Look_LocList_Enable = false;
                    Control_SetReadOnly("Look_LocList_AsetTrans", "dxDropDownBox", (Look_LocList_Enable == true && Look_LocList_ReadOnly == false) ? false : true);
                }
            }
            //Load Asset Details
            //  ShowLoader("Asset Detail");
            //setTimeout(function ()
            //{
            Get_Asset_Item().done(function (data) {
                if (data.result == true) {
                    GLookUp_Get_AssetList();
                }
                else {
                    DevExpress.ui.dialog.alert(data.message, "Error..");
                }
                HideLoader();
                e.component.focus();
            });
            // }, 0);
        }
        function Get_Asset_Item(AssetRecID = null) {
            return $.ajax({
                type: 'GET',
                url: "/Account/AssetTransferVoucher/Get_Asset_Items",
                data:
                {
                    AssetRecID: AssetRecID,
                    USE_CROSS_REF: Check_USE_CROSS_REF(),
                    Tag: Tag_AsetTrans,
                    Cmb_Asset_Type_SelectedValue: Cmb_Asset_Type_SelectedValue,
                    iFR_CEN_ID: $("#iFR_CEN_ID").val(),
                    CROSS_M_ID: $("#CROSS_M_ID").val(),
                    xMID: $("#xMID").val(),
                    iTransType: $("#iTrans_Type").val()
                },
                cache: false,
                async: false
            });
        }
        function Txt_Amount_EditValueChanged_AsetTrans(e) {
            //  var Txt_SaleAmt = $("#Txt_SaleAmt_AsetTrans").dxNumberBox("instance").option("value");
            //  var Txt_Amount = $("#Txt_Amount_AsetTrans").dxNumberBox("instance").option("value");
            //  $("#Txt_Amount_AsetTrans").dxNumberBox("instance").option("value",parseFloat(Txt_SaleAmt-Txt_Amount));
        }
        function Txt_Qty_EditValueChanged_AsetTrans(e) {
            var Txt_SaleAmt_Tag = $("#Txt_SaleAmtTag_AsetTrans").val();
            var Txt_Qty = $("#Txt_Qty_AsetTrans").dxNumberBox("instance").option("value");
            var Txt_CurQty = $("#Txt_CurQty_AsetTrans").dxNumberBox("instance").option("value");
            if (Txt_SaleAmt_Tag > 0) {
                if (Txt_Qty != Txt_CurQty) {
                    $("#Txt_SaleAmt_AsetTrans").dxNumberBox("instance").option("value", parseFloat(Math.round((Txt_SaleAmt_Tag * Txt_Qty), 0)));
                }
                else {
                    $("#Txt_SaleAmt_AsetTrans").dxNumberBox("instance").option("value", parseFloat(Txt_SaleAmt_Tag * Txt_Qty));
                }
            }
        }
    </script> @*Dropdown Value change functions*@

<script>
    function BUT_SAVE_Click_AsetTrans(e)
    {
        if (ValidateForm(e))
        {
            var form = $("#Frm_AssetTransferVoucher_Window");
            if (Tag_AsetTrans == "_Delete")
            {
                DeleteAfterConfirmation("@Model.Me_Text", "", form);
            }
            else
            {
                debugger
                var AssetType = $("#Cmb_Asset_Type_AsetTrans").dxSelectBox("option", "value");
                var AssetDesc = $("#Txt_Desc_AsetTrans").dxTextBox("option", "value");
                var SelectedParty = $("#Look_OwnList_AsetTrans").dxDropDownBox("option", "text");
                if (AssetType != null) {
                    if (AssetType == "ADVANCES" || AssetType == "OTHER DEPOSITS" || AssetType == "OTHER LIABILITIES") {
                        if (AssetDesc.split(',')[0] !=SelectedParty) {
                            var confirm = DevExpress.ui.dialog.confirm("Party name used in sending Centre ( " + AssetDesc.split(',')[0] + " ) is different from Party Selected by you. <br>Sure You Want To Continue?", "Confirm");
                            confirm.done(function (dialogresult) {
                                if (dialogresult) { form.submit(); }
                            });
                        }
                    }
                }
                else {
                    form.submit();
                }
            }
        }
    }
</script> @*SAVE Click Function*@
    <script>
        function OnSplVchrRefsListSelectionChanged_Astr(e) {
            var listBox = $("#ListSpecialVoucherRef_Astr").dxList("instance");
            var selecteditemkey = listBox.option("selectedItemKeys")
            if (selecteditemkey != null && selecteditemkey.length > 0) {
                $("#Astr_SplVchrReferenceSelected").val(selecteditemkey.join(","));
            }
            else {
                $("#Astr_SplVchrReferenceSelected").val("");
            }
        }// List selection

    </script>
</div>


