<div class="VouchingAudit_Filter_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.CashbookFilters
    @{
        var LoginUserID = (string)ViewBag.LoginUserID;
        bool NonVouchingCenter = (bool)ViewBag.NonVouchingCenter;
    }
    <style>
    </style>
    <div>
        @using (Ajax.BeginForm("CashBookFilters", "CashBookAuditor",
                                                                   new AjaxOptions
                                                                   {
                                                                       HttpMethod = "POST",
                                                                       UpdateTargetId = "",
                                                                       InsertionMode = InsertionMode.InsertAfter,
                                                                       OnBegin = "AjaxBeginFormPost",
                                                                       OnSuccess = "CBFilterSuccess"
                                                                   },
                                           new
                                           {
                                               id = "ID_Frm_CBFilter",
                                               @class = "edit_form",

                                           }))
        {
            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    @(Html.DevExtreme().TabPanel().ID("CBFilterPanel").Items(items =>
                                                    {
                                                        items.Add().Title("Default Filters").Template(@<text> @DefaultFilterView() </text>);
                                                items.Add().Title("Unit Filters").Template(@<text> @UnitFilterView() </text>);
                                        items.Add().Title("Entry Filters").Template(@<text> @EntryFilterView() </text>);

                            }).DeferRendering(false))
                                    @helper DefaultFilterView()
                                    {
                                        @Html.Partial("DefaultFilters", Model);
                                    }
                                    @helper UnitFilterView()
                                    {
                                        @Html.Partial("UnitFilters", Model);
                                    }
                                    @helper EntryFilterView()
                                    {
                                        @Html.Partial("EntryFilters", Model);
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 styleActionBtn">
                        @(Html.DevExtreme().Button().ID("CashBookApplyFilter2").Text("Show").Icon("fas fa-eye").UseSubmitBehavior(true))@*//.OnClick("CB_FilterShowClick")*@
                    </div>

                </div><!--[Filters]-->
            }
        }

    </div>
    <script>
    $(document).ready(function ()
    {
        ShowLoader_Ready();
        Promise.all([RefreshReviewedBy(), RefreshVouchedBy(), RefreshZoneList(), RefreshSubzoneList(), RefreshStateList(), RefreshUIDList(), RefreshHeadList(), RefreshItemList(), RefreshPurposeList(), RefreshDocumentList(), RefreshDocumentCategoryList(), RefreshVouchingCategoryList()]).then((r) =>
        {
            if ("@Model.CB_VouchingStatus".length > 0) {
                $("#CB_VouchingStatus").dxSelectBox("instance").option("value", "@Model.CB_VouchingStatus");
            }
            if ("@Model.CB_VouchedBy".length > 0) {
                $("#CB_VouchedBy_List_DG").dxDataGrid("instance").selectRows("@Model.CB_VouchedBy", false);
            }
            if ("@Model.CB_ReviewedBy".length > 0) {
                $("#CB_ReviewedBy_List_DG").dxDataGrid("instance").selectRows("@Model.CB_ReviewedBy", false);
            }
            if ("@Model.CB_ReviewdCount1".length > 0) {
                $("#CB_ReviewdCount1").dxNumberBox("instance").option("value", parseInt("@Model.CB_ReviewdCount1"));
            }
            else
            {
                $("#CB_ReviewdCount1").dxNumberBox("instance").option("value", null);
            }
            if ("@Model.CB_ReviewdCount2".length > 0) {
                $("#CB_ReviewdCount2").dxNumberBox("instance").option("value", parseInt("@Model.CB_ReviewdCount2"));
            }
            else {
                $("#CB_ReviewdCount2").dxNumberBox("instance").option("value", null);
            }
            if ("@Model.CB_Document".length > 0) {
                $("#CB_Document_List_DG").dxDataGrid("instance").selectRows("@Model.CB_Document", false);
            }
            if ("@Model.CB_DocumentCategory".length > 0)
            {
                $("#CB_DocumentCategory_List_DG").dxDataGrid("instance").selectRows("@Model.CB_DocumentCategory", false);
            }
            if ("@Model.CB_VouchingCategory".length > 0)
            {
                $("#CB_VouchingCategory_List_DG").dxDataGrid("instance").selectRows("@Model.CB_VouchingCategory", false);
            }
        @*if ( @Html.Raw(Json.Encode(Model.CB_Document))!=null)
        {
            $("#CB_Document_List_DG").dxDataGrid("instance").selectRows(((JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_Document)))))[0]).split(','), true);
        }*@
            if ("@Model.CB_DataScope".length > 0)
            {
                $("#CB_DataScope").dxSelectBox("instance").option("value", "@Model.CB_DataScope");
            }
            if ("@Model.CB_Poolsize".length > 0)
            {
                $("#CB_Poolsize").dxSelectBox("instance").option("value", "@Model.CB_Poolsize");
            }
            if ((@Html.Raw(Json.Encode(Model.CB_Zone))) != null && (@Html.Raw(Json.Encode(Model.CB_Zone)))[0].length > 0)
            {
                $("#CB_Zone_List_DG").dxDataGrid("instance").selectRows(((JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_Zone)))))[0]).split(','), true);
            }
                      if ((@Html.Raw(Json.Encode(Model.CB_SubZone))) != null && (@Html.Raw(Json.Encode(Model.CB_SubZone)))[0].length > 0)
                      {
                          $("#CB_Subzone_List_DG").dxDataGrid("instance").selectRows(((JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_SubZone)))))[0]).split(','), true);
                      }
            if ((@Html.Raw(Json.Encode(Model.CB_State))) != null && (@Html.Raw(Json.Encode(Model.CB_State)))[0].length > 0)
            {
                $("#CB_State_List_DG").dxDataGrid("instance").selectRows(((JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_State)))))[0]).split(','), true);
            }
            if ((@Html.Raw(Json.Encode(Model.CB_UID))) != null && (@Html.Raw(Json.Encode(Model.CB_UID)))[0].length > 0)
            {
                $("#CB_UID_List_DG").dxDataGrid("instance").selectRows(((JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_UID)))))[0]).split(','), true);

            }
            if ((@Html.Raw(Json.Encode(Model.CB_EntryScreen))) != null  && (@Html.Raw(Json.Encode(Model.CB_EntryScreen)))[0].length > 0) {
                $("#CB_EntryScreen_List_DG").dxDataGrid("instance").selectRows(((JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_EntryScreen)))))[0]).split(','), true);
            }
            if ((@Html.Raw(Json.Encode(Model.CB_Head))) != null&& (@Html.Raw(Json.Encode(Model.CB_Head)))[0].length > 0)
            {
                $("#CB_Head_List_DG").dxDataGrid("instance").selectRows(((JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_Head)))))[0]).split(','), true);
            }
            if ((@Html.Raw(Json.Encode(Model.CB_Item))) != null&& (@Html.Raw(Json.Encode(Model.CB_Item)))[0].length > 0)
            {
                WaitForHeadDDValueChangetoGetOver();
                function WaitForHeadDDValueChangetoGetOver()
                {
                    ShowLoader();
                    if (HeadDDvalueChangeDone == true)
                    {
                        $("#CB_Item_List_DG").dxDataGrid("instance").selectRows(((JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_Item)))))[0]).split(','), true);
                        HideLoader();
                    }
                    else
                    {
                        setTimeout(function ()
                        {
                            WaitForHeadDDValueChangetoGetOver();
                        }, Timeout100);
                    }
                }
            }

            if ("@Model.CB_Amount1".length > 0) {
                $("#CB_Amount1").dxNumberBox("instance").option("value", parseInt("@Model.CB_Amount1"));
            }
            else {
                $("#CB_Amount1").dxNumberBox("instance").option("value", null);
            }
            if ("@Model.CB_Amount2".length > 0) {
                $("#CB_Amount2").dxNumberBox("instance").option("value", parseInt("@Model.CB_Amount2"));
            }
            else {
                $("#CB_Amount2").dxNumberBox("instance").option("value", null);
            }
            if ("@Model.CB_Mode".length > 0) {
                $("#CB_Mode").dxSelectBox("instance").option("value", "@Model.CB_Mode");
            }
            if ("@Model.CB_Type".length > 0) {
                $("#CB_Type").dxSelectBox("instance").option("value", "@Model.CB_Type");
            }
            if ((@Html.Raw(Json.Encode(Model.CB_Purpose))) != null) {
                $("#CB_Purpose_List_DG").dxDataGrid("instance").selectRows(((JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_Purpose)))))[0]).split(','), true);
            }
            if ("@Model.CB_Narration".length > 0) {
                $("#CB_Narration").dxTextBox("instance").option("value", "@Model.CB_Narration");
            }
            if ("@Model.CB_RejectReason".length > 0) {
                $("#CB_RejectReason").dxTextBox("instance").option("value", "@Model.CB_RejectReason");
            }
            if ("@NonVouchingCenter" == "True")
            {
                Control_SetReadOnly("CB_Zone", "dxDropDownBox", true);
                Control_SetReadOnly("CB_SubZone", "dxDropDownBox", true);
                Control_SetReadOnly("CB_State", "dxDropDownBox", true);
                Control_SetReadOnly("CB_UID", "dxDropDownBox", true);
            }
            setTimeout(function () {
                HideLoader_Ready();
            }, Timeout500);
        });
    });
    </script>
    <script>

    var CB_Zone = (@Html.Raw(Json.Encode(Model.CB_Zone))== null || (@Html.Raw(Json.Encode(Model.CB_Zone)))[0].length == 0) ? null : (JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_Zone)))))[0].split(',');
    var CB_Subzone = (@Html.Raw(Json.Encode(Model.CB_SubZone))== null || (@Html.Raw(Json.Encode(Model.CB_SubZone)))[0].length == 0) ? null : (JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_SubZone)))))[0].split(',');
    var CB_Stateid = (@Html.Raw(Json.Encode(Model.CB_State))== null || (@Html.Raw(Json.Encode(Model.CB_State)))[0].length == 0) ? null : (JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_State)))))[0].split(',');
    var CB_Head = (@Html.Raw(Json.Encode(Model.CB_Head))== null || (@Html.Raw(Json.Encode(Model.CB_Head)))[0].length == 0) ? null : (JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CB_Head)))))[0].split(',');
    function CB_VouchingStatus_ValueChange(e) { }
    function CB_VouchedBy_ValueChange(e) {
        e.component.close();
        if (e.value == null && e.previousValue != null) {
            $("#CB_VouchedBy_List_DG").dxDataGrid("instance").clearSelection();
        }
    }
    var ZoneFirstValueChange = true;
    var ZonevalueChange = false;
    function ZoneCloseDropDown(e)
    {
        DropDown_Close(e);
        if (ZonevalueChange) {
            $("#CB_Subzone_List_DG").dxDataGrid("instance").clearSelection();
            $("#CB_UID_List_DG").dxDataGrid("instance").clearSelection();
            RefreshSubzoneList();
            RefreshUIDList();
        }
        ZonevalueChange = false;
        DropDown_KeyPress_text = "";
    }
    function CB_Zone_ValueChange(e)
    {
        //e.component.close();
        ZonevalueChange = true;
        if (e.value == null && e.previousValue != null)
        {
            $("#CB_Zone_List_DG").dxDataGrid("instance").clearSelection();
            $("#CB_Subzone_List_DG").dxDataGrid("instance").clearSelection();
            $("#CB_UID_List_DG").dxDataGrid("instance").clearSelection();
            RefreshSubzoneList();
            RefreshUIDList();
        }
        if (e.value != null && e.value.length > 0)
        {
            CB_Zone = e.value;
        }
        else
        {
            CB_Zone = "";
        }
        if (ZoneFirstValueChange == true && ((@Html.Raw(Json.Encode(Model.CB_Zone))) != null && (@Html.Raw(Json.Encode(Model.CB_Zone)))[0].length > 0)) {
            ZoneFirstValueChange = false;
            ZonevalueChange = false;
        }
        else
        {
            ZoneFirstValueChange = false;
        }

    }
    var SubZoneFirstValueChange = true;
    var SubZoneValuechange = false;
    function SubZoneCloseDropDown(e)
    {
        DropDown_Close(e);
        if (SubZoneValuechange)
        {
            $("#CB_UID_List_DG").dxDataGrid("instance").clearSelection();
            RefreshUIDList();
        }
        SubZoneValuechange = false;
        DropDown_KeyPress_text = "";
    }
    function CB_SubZone_ValueChange(e)
    {
        // e.component.close();
        SubZoneValuechange = true;
        if (e.value == null && e.previousValue != null) {

            $("#CB_Subzone_List_DG").dxDataGrid("instance").clearSelection();
            $("#CB_UID_List_DG").dxDataGrid("instance").clearSelection();
            RefreshUIDList();
        }
        if (e.value != null && e.value.length > 0) {
            CB_Subzone = e.value;
        }
        else {
            CB_Subzone = null;
        }
        if (SubZoneFirstValueChange == true && ((@Html.Raw(Json.Encode(Model.CB_SubZone))) != null && (@Html.Raw(Json.Encode(Model.CB_SubZone)))[0].length > 0)) {
            SubZoneFirstValueChange = false;
            SubZoneValuechange = false;
        }
        else
        {
            SubZoneFirstValueChange = false;
        }
    }
    var StateFirstValueChange = true;
    var StateValueChange = false;
    function StateCloseDropDown(e)
    {
        DropDown_Close(e);
        if (StateValueChange) {
            $("#CB_UID_List_DG").dxDataGrid("instance").clearSelection();
            RefreshUIDList();
        }
        StateValueChange = false;
        DropDown_KeyPress_text = "";
    }
    function CB_State_ValueChange(e)
    {
        //e.component.close();
        StateValueChange = true;
        if (e.value == null && e.previousValue != null)
        {
            $("#CB_State_List_DG").dxDataGrid("instance").clearSelection();
            $("#CB_UID_List_DG").dxDataGrid("instance").clearSelection();
            RefreshUIDList();
        }
        if (e.value != null && e.value.length > 0) {
            CB_Stateid = e.value;
        }
        else {
            CB_Stateid = null;
        }

        if (StateFirstValueChange == true && ((@Html.Raw(Json.Encode(Model.CB_State))) != null && (@Html.Raw(Json.Encode(Model.CB_State)))[0].length > 0)) {
            StateFirstValueChange = false;
            StateValueChange = false;
        }
        else
        {
            StateFirstValueChange = false;
        }
    }
    function CB_UID_ValueChange(e)
    {
        e.component.close();
        if (e.value == null && e.previousValue != null) {
            $("#CB_UID_List_DG").dxDataGrid("instance").clearSelection();
        }
    }
    function CB_EntryScreen_ValueChange(e) {
        e.component.close();
        if (e.value == null && e.previousValue != null) {
            $("#CB_EntryScreen_List_DG").dxDataGrid("instance").clearSelection();
        }
    }
    var HeadDDvalueChangeDone = false;
    function CB_Head_ValueChange(e)
    {
       // e.component.close();
        HeadDDvalueChangeDone = false;
        if (e.value == null && e.previousValue != null)
        {
            $("#CB_Head_List_DG").dxDataGrid("instance").clearSelection();
        }
        if (e.value != null && e.value.length > 0)
        {
            CB_Head = e.value;
        }
        else
        {
            CB_Head = null;
        }
        $("#CB_Item_List_DG").dxDataGrid("instance").clearSelection();
        RefreshItemList().then((r) =>
        {
            HeadDDvalueChangeDone = true;
        });
    }
    function CB_Item_ValueChange(e) {
        e.component.close();
        if (e.value == null && e.previousValue != null) {
            $("#CB_Item_List_DG").dxDataGrid("instance").clearSelection();
        }
    }
    function CB_Amount1_ValueChange(e) { }
    function CB_Amount2_ValueChange(e) { }
    function CB_Mode_ValueChange(e) { }
    function CB_Type_ValueChange(e) { }
    function CB_Purpose_ValueChange(e) {
        //e.component.close();
        if (e.value == null && e.previousValue != null) {
            $("#CB_Purpose_List_DG").dxDataGrid("instance").clearSelection();
        }
    }
    function CB_Narration_ValueChange(e) { }
    function CB_Reason_ValueChange(e) { }
    function CB_ReviewedBy_ValueChange(e) {
        e.component.close();
        if (e.value == null && e.previousValue != null) {
            $("#CB_ReviewedBy_List_DG").dxDataGrid("instance").clearSelection();
        }
    }
    function CB_ReviewdCount1_ValueChange(e) { }
    function CB_ReviewdCount2_ValueChange(e) { }
    function CB_Document_ValueChange(e) {
       e.component.close();
        if (e.value == null && e.previousValue != null) {
            $("#CB_Document_List_DG").dxDataGrid("instance").clearSelection();
        }
    }
    function CB_DocumentCategory_ValueChange(e)
    {
        e.component.close();
        if (e.value == null && e.previousValue != null)
        {
            $("#CB_DocumentCategory_List_DG").dxDataGrid("instance").clearSelection();
        }
    }
    function CB_VouchingCategory_ValueChange(e)
    {
        e.component.close();
        if (e.value == null && e.previousValue != null)
        {
            $("#CB_VouchingCategory_List_DG").dxDataGrid("instance").clearSelection();
        }
    }
    function CB_DocumentFromDate_ValueChange(e) { }
    function CB_DocumentToDate_ValueChange(e) { }
    function CB_DocumentDescription_ValueChange(e) { }
    function CB_DataScope_ValueChange(e) { CB_DataScope = e.value; }
    function CB_Poolsize_ValueChange(e) { }
    </script>
    <script>
        async function RefreshZoneList() {
            var $DataGrid = $("#CB_Zone_List_DG");
            if ($DataGrid.length) {
                $.ajax({
                    type: 'GET',
                    url: "/Account/CashBookAuditor/RefreshZoneList",
                    cache: false,
                    //async: false,
                    success: function (data) {
                        $DataGrid.dxDataGrid("instance").refresh();
                    }
                });
            }
        }
        async function RefreshSubzoneList() {
            var DDrefresh = false;
            var $DataGrid = $("#CB_Subzone_List_DG");
            if ($DataGrid.length) {
                $.ajax({
                    type: 'POST',
                    url: "/Account/CashBookAuditor/RefreshSubzoneList",
                    cache: false,
                    data: { Zone: CB_Zone },
                    success: function (data) {
                        $DataGrid.dxDataGrid("instance").refresh();

                    }
                });
            }
        }
        async function RefreshStateList() {
            var $DataGrid = $("#CB_State_List_DG");
            if ($DataGrid.length) {
                $.ajax({
                    type: 'GET',
                    url: "/Account/CashBookAuditor/RefreshStateList",
                    cache: false,
                    // async: false,
                    success: function (data) {
                        $DataGrid.dxDataGrid("instance").refresh();
                    }
                });
            }
        }
        async function RefreshUIDList() {
            var DDrefresh = false;
            var $DataGrid = $("#CB_UID_List_DG");
            if ($DataGrid.length) {

                $.ajax({
                    type: 'POST',
                    url: "/Account/CashBookAuditor/RefreshUIDList",
                    cache: false,
                    data:
                    {
                        Zone: CB_Zone,
                        Subzone: CB_Subzone,
                        Stateid: CB_Stateid
                    },
                    success: function (data) {
                        $DataGrid.dxDataGrid("instance").refresh();

                    }

                });
            }
        }
        async function RefreshHeadList() {
            var $DataGrid = $("#CB_Head_List_DG");
            if ($DataGrid.length) {
                $.ajax({
                    type: 'GET',
                    url: "/Account/CashBookAuditor/RefreshHeadList",
                    cache: false,
                    //async: false,
                    success: function (data) {
                        $DataGrid.dxDataGrid("instance").refresh();
                    }
                });
            }
        }
        async function RefreshItemList() {
            var $DataGrid = $("#CB_Item_List_DG");
            var ddRefresh = false;
            if ($DataGrid.length) {
                $.ajax({
                    type: 'POST',
                    url: "/Account/CashBookAuditor/RefreshItemList",
                    cache: false,
                    async: false,
                    data: { Head: CB_Head },
                    success: function (data) {
                        ddRefresh = data.result;
                    }
                });
                if (ddRefresh) { await $DataGrid.dxDataGrid("instance").refresh(); }
            }
        }
        async function RefreshPurposeList() {
            var $DataGrid = $("#CB_Purpose_List_DG");
            if ($DataGrid.length) {
                $.ajax({
                    type: 'GET',
                    url: "/Account/CashBookAuditor/RefreshPurposeList",
                    cache: false,
                    // async: false,
                    success: function (data) {
                        $DataGrid.dxDataGrid("instance").refresh();
                    }
                });
            }
        }
        async function RefreshDocumentList() {
            var $DataGrid = $("#CB_Document_List_DG");
            if ($DataGrid.length) {
                $.ajax({
                    type: 'GET',
                    url: "/Account/CashBookAuditor/RefreshDocumentList",
                    cache: false,
                    // async: false,
                    success: function (data) {
                        $DataGrid.dxDataGrid("instance").refresh();



                    }
                });
            }
        }
        async function RefreshDocumentCategoryList() {
            var $DataGrid = $("#CB_DocumentCategory_List_DG");
            if ($DataGrid.length) {
                $.ajax({
                    type: 'GET',
                    url: "/Account/CashBookAuditor/RefreshDocumentCategoryList",
                    cache: false,
                    // async: false,
                    success: function (data) {
                        $DataGrid.dxDataGrid("instance").refresh();
                    }
                });
            }
        }
        async function RefreshVouchingCategoryList() {
            var $DataGrid = $("#CB_VouchingCategory_List_DG");
            if ($DataGrid.length) {
                $.ajax({
                    type: 'GET',
                    url: "/Account/CashBookAuditor/RefreshVouchingCategoryList",
                    cache: false,
                    // async: false,
                    success: function (data) {
                        $DataGrid.dxDataGrid("instance").refresh();

                    }
                });
            }
        }
        async function RefreshVouchedBy() {
            var $DataGrid = $("#CB_VouchedBy_List_DG");
            if ($DataGrid.length) {
                $.ajax({
                    type: 'GET',
                    url: "/Account/CashBookAuditor/RefreshUserList",
                    cache: false,
                    //async: false,
                    success: function (data) {
                        $DataGrid.dxDataGrid("instance").refresh();



                    }
                });
            }
        }
        async function RefreshReviewedBy() {

            var $DataGrid = $("#CB_ReviewedBy_List_DG");
            if ($DataGrid.length) {
                $.ajax({
                    type: 'GET',
                    url: "/Account/CashBookAuditor/RefreshUserList",
                    cache: false,
                    //async: false,
                    success: function (data) {
                        $DataGrid.dxDataGrid("instance").refresh();
                    }
                });
            }
        }
    </script>
</div>