@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.CashbookFilters
@{

}
<div class="row">
    <div class="form-field">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 pll">
                    <label>Vouching Status:</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 prm">
                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("CB_VouchingStatus").Name("CB_VouchingStatus").Items(new[] { "Pending", "Accepted", "Accepted With Remarks" ,"Rejected", "All" }).Value("Pending").OnValueChanged("CB_VouchingStatus_ValueChange").ShowClearButton(false))
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2 pll">
                    <label>Vouched By:</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 prm">
                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_VouchedBy").Name("CB_VouchedBy").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("Lookup_GetAuditorSuperuser").Key("USER_ID")).DisplayExpr("USER_ID").ValueExpr("USER_ID")
                                                                                                  .OnValueChanged("CB_VouchedBy_ValueChange").ContentTemplate(@<text>@Html.Partial("CB_VouchedBy_List")</text>))

                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 pll">
                    <label>Reviewed By:</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 prm">
                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_ReviewedBy").Name("CB_ReviewedBy").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("Lookup_GetAuditorSuperuser").Key("USER_ID")).DisplayExpr("USER_ID").ValueExpr("USER_ID")
                                                                                          .OnValueChanged("CB_ReviewedBy_ValueChange").ContentTemplate(@<text>@Html.Partial("CB_ReviewedBy_List")</text>))

                </div>
                <div class="col-sm-12 col-md-6 col-lg-2 pll">
                    <label>Review Count:</label>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2 prm">
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("CB_ReviewdCount1").Name("CB_ReviewdCount1").OnValueChanged("CB_ReviewdCount1_ValueChange").Format("#0").ShowClearButton(true))
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2 prm">
                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("CB_ReviewdCount2").Name("CB_ReviewdCount2").OnValueChanged("CB_ReviewdCount2_ValueChange").Format("#0").ShowClearButton(true))
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 pll">
                    <label>Documents Attached:</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-9 prm">
                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_Document").Name("CB_Document").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("LookUp_GetDocument").Key("ID")).DisplayExpr("Name").ValueExpr("ID")
                                                                                      .OnValueChanged("CB_Document_ValueChange").ContentTemplate(@<text>@Html.Partial("CB_Document_List")</text>))
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 pll">
                    <label>Documents Category:</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-9 prm">
                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_DocumentCategory").Name("CB_DocumentCategory").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("LookUp_GetDocumentCategory").Key("ID")).DisplayExpr("Category").ValueExpr("ID")
                                                                                      .OnValueChanged("CB_DocumentCategory_ValueChange").ContentTemplate(@<text>@Html.Partial("CB_DocumentCategory_List")</text>))
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 pll">
                    <label>Document From Date:</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 prm">
                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("CB_DocumentFromDate").Name("CB_DocumentFromDate").OnValueChanged("CB_DocumentFromDate_ValueChange").Value(Model.CB_DocumentFromDate))
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2 pll">
                    <label>Document To Date:</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 prm">
                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("CB_DocumentToDate").Name("CB_DocumentToDate").OnValueChanged("CB_DocumentToDate_ValueChange").Value(Model.CB_DocumentToDate))
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 pll">
                    <label>Documents Description:</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-9 prm">
                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("CB_DocumentDescription").Name("CB_DocumentDescription").OnValueChanged("CB_DocumentDescription_ValueChange").Value(Model.CB_DocumentDescription))
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 pll">
                    <label>Vouching Category:</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 prm">
                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_VouchingCategory").Name("CB_VouchingCategory").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("LookUp_GetVouchingCategory").Key("Code")).DisplayExpr("Category").ValueExpr("Code")
                                                                                              .OnValueChanged("CB_VouchingCategory_ValueChange").ContentTemplate(@<text>@Html.Partial("CB_VouchingCategory_List")</text>))
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 pll">
                    <label>Include Audited Period:</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 prm">
                    @(Html.DevExtreme().CheckBoxFor(x => x.CB_Include_Audited_Period).ID("CB_Include_Audited_Period"))
                </div>
        </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 pll">
                    <label>Selection Pool:</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 prm">
                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("CB_DataScope").Name("CB_DataScope").Items(new[] { "All", "Exclusive" }).Value("Exclusive").OnValueChanged("CB_DataScope_ValueChange").ShowClearButton(false))
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2 pll">
                    <label>Pool Size:</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 prm">
                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("CB_Poolsize").Name("CB_Poolsize").Items(new[] { "All", "Top 100" }).OnValueChanged("CB_Poolsize_ValueChange").ShowClearButton(false))
                </div>
            </div>
        </div>
    </div>
</div>
