@using DevExtreme.AspNet.Mvc;
@{
   
}

        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>Entry Screen:</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-10 prm">

                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_EntryScreen").Name("CB_EntryScreen").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("Lookup_GetEntryScreen").Key("ID")).DisplayExpr("Name").ValueExpr("ID").OnValueChanged("CB_EntryScreen_ValueChange").ContentTemplate(@<text>@Html.Partial("CB_EntryScreen_List")</text>))

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>Head:</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-10 prm">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_Head").Name("CB_Head").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("LookUp_GetHead").Key("LED_ID")).DisplayExpr("LED_NAME").ValueExpr("LED_ID")
                                                                          .OnValueChanged("CB_Head_ValueChange").ContentTemplate(@<text>@Html.Partial("CB_Head_List")</text>))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>Item:</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-10 prm">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_Item").Name("CB_Item").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("LookUp_GetItem").Key("ItemID").LoadParams(new { Head = new JS("function (){ return CB_Head;}") })).DisplayExpr("ItemName").ValueExpr("ItemID")
                                                                         .OnValueChanged("CB_Item_ValueChange").ContentTemplate(@<text>@Html.Partial("CB_Item_List")</text>))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>Amount:</label>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2 prm">
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("CB_Amount1").Name("CB_Amount1").OnValueChanged("CB_Amount1_ValueChange").Format("#0").ShowClearButton(true))
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2 prm">
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("CB_Amount2").Name("CB_Amount2").OnValueChanged("CB_Amount2_ValueChange").Format("#0").ShowClearButton(true))
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>Mode:</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 prm">
                            @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("CB_Mode").Name("CB_Mode").Items(new[] { "Cash", "Bank", "JV" }).OnValueChanged("CB_Mode_ValueChange").ShowClearButton(true))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>Type:</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 prm">
                            @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("CB_Type").Name("CB_Type").Items(new[] { "Receipt", "Payment" }).OnValueChanged("CB_Type_ValueChange").ShowClearButton(true))
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>Purpose:</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 prm">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_Purpose").Name("CB_Purpose").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("LookUp_GetPurpose").Key("ID")).DisplayExpr("Purpose").ValueExpr("ID")
                                                                         .OnValueChanged("CB_Purpose_ValueChange").ContentTemplate(@<text>@Html.Partial("CB_Purpose_List")</text>))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>Narration:</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 prm">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("CB_Narration").Name("CB_Narration").OnValueChanged("CB_Narration_ValueChange").ShowClearButton(true))
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>Vouching Remarks:</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 prm">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("CB_RejectReason").Name("CB_RejectReason").OnValueChanged("CB_Reason_ValueChange").ShowClearButton(true))
                        </div>
                    </div>
                </div>
            </div>
        </div>
