<div class="VouchingAudit_Export_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    <div>
        @(Html.DevExtreme().Button()
                .ID("CBAudit_ExportGridDatapdf")
                .Text("Export to PDF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportPDF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("CBAudit_ExportGridDataxls")
                .Text("Export to XLS")
                //.Icon("fa-file-excel-o")
                .OnClick("ExportXLS")
                .Visible(true)
                .Width(120)
    )<br />
        @(Html.DevExtreme().Button()
                .ID("CBAudit_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportXLSX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("CBAudit_ExportGridDatadocx")
                .Text("Export to DOCX")
                //.Icon("export_exporttodocx_16x16office2013")
                .OnClick("ExportDOCX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("CBAudit_ExportGridDatartf")
                .Text("Export to RTF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportRTF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("CBAudit_ExportGridDatacsv")
                .Text("Export to CSV")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportCSV")
                .Visible(true)
                .Width(120)
    )
    </div>
    <script>
        function ExportPDF() {
            CashBookAuditListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            CashBookAuditListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            CashBookAuditListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            CashBookAuditListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            CashBookAuditListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            CashBookAuditListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#report_modal").dxPopup("hide");
        }
    </script>
</div>