@using DevExtreme.AspNet.Mvc;
@{
    Layout = null;
    var ID = (string)ViewBag.RefRecId;
    var ActionMethod = (string)ViewBag.ActionMethod;
    var MainGridName = (string)ViewBag.MainGridName;
    var TempID = (string)ViewBag.TempID;
    string CallingScreen = (string)ViewBag.CallingScreen;
    string EntryCenID = (string)ViewBag.EntryCenID;
    string Vouching_Category = (string)ViewBag.VouchingCategory;
    var AttachmentID = ViewBag.AttachmentID;
    var TxnDocRespID = ViewBag.TxnDocRespID;
    string NestedRowKeyvalue = (string)ViewBag.NestedRowKeyvalue;
}
<style>
    .dx-list-item-content {
        white-space: normal;
    }
</style>
<div class="container-fluid">
    <form class="edit_form form-horizontal">
        <div class="row">
            <div class="col-sm-12 md-12">
                <label class="control-label" for="user" id="lbl_cbChooseRemarks">Choose Remarks:</label>
            </div>
            <div class="col-sm-12 md-12">
                @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cashbook_chooseRemark").Name("Cashbook_chooseRemark").Items(new[] { "A", "B", "C", "D", "E", "F", "G", "OTHER" }).ShowClearButton(false).OnValueChanged("Cashbook_ChooseRemarks_ValueChange"))

            </div>
        </div>
        <div class="row" id="CB_EnterRemark_Div">

            <div class="col-sm-12 md-12">
                <label class="control-label" for="user" id="lbl_cbRemarks">Enter Remarks:</label>
            </div>
            <div class="col-sm-12 md-12">
                @(Html.DevExtreme().TextArea().ID("Remarks_CB").Name("Remarks_CB")
                                                                                                              .Height(150).Placeholder("Enter Remarks").OnValueChanged("Cashbook_EnterRemarks_ValueChange") )

            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 styleActionBtn">
                @(Html.DevExtreme().Button().CustomSaveButton().Text("OK").ID("CB_Remarks_Ok").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("CB_Remarks_Ok"))
                @(Html.DevExtreme().Button().CustomCloseButton().Text("Cancel").ID("CB_Remarks_Cancel").FocusStateEnabled(true).OnClick(@<Text> function () { CB_Remarks_Cancel();} </Text>))

            </div>
        </div><!--[Buttons]-->
    </form>
</div>
<script>
    var CB_Remarks;
    $(document).ready(function ()
    {
        CB_Remarks = null;
        ShowLoader();
        if ("@ActionMethod" == "Reject")
        {
            $("#lbl_cbChooseRemarks").addClass("text-red");
            $("#lbl_cbRemarks").addClass("text-red");
        }
        $("#CB_EnterRemark_Div").hide();

        //var AceptRemark = ["Proper Denomination Details Not Maintained", "Receivers Signature Not Taken On Document", "Bill/Invoice/Voucher Not Signed By Centre in Charge", "Non-GST Declaration From Party Required","OTHER"];
        //var RejectRemark = ["Document Mismatch With Entry", "Cash Payment More Than 10,000 Not Allowed", "Wrong Item Selected", "GST Amount Not Accounted Seperately(TDS is deducted)", "TDS Not Deducted", "Vehicle-All Documents Not Available", "Donation Other Than Individuals Not Applicable(Only in PBKIVV)", "Collection Box Vouchers Not Signed By One/Two Signatories","OTHER"];

        var AceptRemark = ["OTHER", "Proper Denomination Details Not Maintained", "Receivers Signature Not Taken On Document", "Bill/Invoice/Voucher Not Signed By Centre in Charge", "Non-GST Declaration From Party Required", "Gift Letter-Details Not Complete", "Entry Date does not match with Donaiton Letter Date", "Complete Name not mentioned - Please mention full name including Surname", "Address seems incomplete - Full postal address to be entered", "Pan Invalid or Incorrect -Please enter Correct PAN in address book", "When PAN is not there for Donor, then please tick on the option 'I do not have PAN' before taking signature", "Pan Invalid or Incorrect -Please enter Correct PAN in address book", "Aadhar Number does not match with Aadhar Card. Please correct the same in address book", "Amount in Donation letter does not match with entry amount", "Penalty of 100% leviable on cash receipt exceeding 2 Lakh rupees", "Seal with designation has to be there along with signature. But only signature is there"];
        var RejectRemark = ["OTHER", "Document Amount And Connectone Entry Amount Does Not Match", "Document Mismatch With Entry", "Cash Payment More Than 10,000 Not Allowed", "Wrong Item Selected", "Collection Box Vouchers Not Signed By One/Two Signatories", "Name of the item does not match with type of Donation", "Institute is wrongly mentioned in Donation Letter", "Entry Date does not match with Donaiton Letter Date", "Address seems incomplete - Full postal address to be entered", "Pan Invalid or Incorrect -Please enter Correct PAN in address book", "Donor PAN not updated in address book", "Donation Letter of very old format used. Please take fresh donation letter in new format", "In PBKIVV, Donation can be taken only from Individuals", "Name of the item does not match with type of Donation", "CSR Donation will normally be from Company or Trust (includes AOP, BOI). But in this entry the donation is not from such entity"];

        if ("@ActionMethod" == "Reject")
        {
            $("#Cashbook_chooseRemark").dxSelectBox("instance").option("items", RejectRemark);
        }
        else { $("#Cashbook_chooseRemark").dxSelectBox("instance").option("items", AceptRemark); }
        HideLoader();
    });
    function Cashbook_ChooseRemarks_ValueChange(e)
    {
        if (e.value == "OTHER") {
            CB_Remarks = "";
            $("#CB_EnterRemark_Div").show();
        }
        else {
            $("#Remarks_CB").dxTextArea("instance").reset();
            $("#CB_EnterRemark_Div").hide();
            CB_Remarks = e.value;
        }
    }
    function Cashbook_EnterRemarks_ValueChange(e)
    {
        CB_Remarks = e.value;
    }
    function CB_Remarks_Ok()
    {
        if ("@ActionMethod" == "Reject")
        {
            if (CB_Remarks == null || CB_Remarks.trim().length == 0)
            {
                DevExpress.ui.dialog.alert("Choose/Enter Remarks", "Error");
                return;
            }
        }
        //if (CB_Attachment_ID_auditor.length = 0)//check case where there are remarks
        //{
        //    DevExpress.ui.dialog.alert("Please Select a Attachment!!");
        //    return;
        //}

        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Account/CashBookAuditor/AcceptRejectVoucher",
            data:
            {
                ActionMethod: "@ActionMethod",
                ID: "@ID",
                Remarks: CB_Remarks,
                TempID: "@TempID",
                CallingScreen: "@CallingScreen",
                EntryCenID: "@EntryCenID",
                VouchingCategory: "@Vouching_Category",
                AttachmentID: IndexAttachmentID,
                TxnDocRespID: IndexAttachmentReasonID == (null || "") ? IndexAttachmentReasonID : IndexAttachmentReasonID
            },
            success: function (data)
            {
                HideLoader();
                if (data.result == true)
                {
                    HidePopup('VoucherAuditRemarksPopup');
                    ActionAfterAuditing("@MainGridName", "@TempID", "@NestedRowKeyvalue");
                    if ("@ActionMethod" == "Reject")
                    {
                        DevExpress.ui.notify({ message: data.message, width: 300, shading: true, position: 'center' }, "error", 1500);
                    }
                    else
                    {
                        DevExpress.ui.notify({ message: data.message, width: 300, shading: true, position: 'center' }, "success", 1500);
                    }
                }
                else
                {
                    DevExpress.ui.dialog.alert(data.message, "Error");
                }
            }
        });
    }
    function CB_Remarks_Cancel()
    {
        HidePopup('VoucherAuditRemarksPopup');
    }
</script>