<div class="VouchingAudit_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        var SessionGUID = Request.QueryString["SessionGUID"];

    }
    <style>
            /*.dx-switch-off
        {
        font-size:10px;
        font-weight:bold;
        color:black;
        }
        .dx-switch-on
        {
            font-size: 10px;
            font-weight: bold;
            color: black;
        }*/
            #CBAudit_FAB {
                position: absolute;
            }

            .wrapText {
                /*word-break: break-word;
            overflow-wrap: break-word;*/
            }

            .cb_column_label {
                padding: 0px 0px 0px 0px !important;
                /*background-color: rgb(206,237,255);
            border-color: black;
            border: solid;
            border-width: thin;*/
                /*border-bottom-style:none;*/
            }

            .cb_column_data {
                padding: 0px 0px 0px 0px !important;
                /*border-color: black;
            border: solid;
            border-width: thin;*/
                /*border-bottom-style: none;*/
            }

            .wrapText {
                word-break: break-word;
            }

            .dx-fab-button, .dx-fab-main-button {
                max-width: 30px;
                max-height: 30px;
            }

            .dx-fab-text {
                margin-top: 2px !important;
                padding: 2px 4px !important
            }

            .dx-fab-action {
                margin-right: 0px;
            }

            .dx-numberbox-spin-container {
                overflow: hidden;
                width: 10px;
                border-radius: 4px;
            }

            .dx-show-clear-button .dx-icon-clear {
                color: #999;
                position: absolute;
                top: 50%;
                margin-top: -17px;
                width: 15px;
                height: 15px;
                background-position: 8px 8px;
                background-size: 18px 18px;
                padding: 8px 0px 0px 0px;
                font-size: 15px;
                text-align: center;
                line-height: 18px;
            }

            .dx-show-clear-button .dx-clear-button-area {
                width: 15px;
                min-width: 15px;
                right: 0;
            }

            .dx-show-clear-button .dx-texteditor-input {
                height: 20px;
                padding: 2px 2px 2px 5px;
                min-height: 5px;
            }

            .hideHeader {
                display: none;
            }

            .CBAuditGrid_Adaptive {
                overflow-x: scroll;
            }

            .compact .dxgvDataRow_Aqua td.dxgv, .dxgvDetailRow_Aqua.dxgvADR td.dxgvAIC {
                overflow-x: hidden;
                border-bottom: 1px Solid #c0c0c0;
                border-right: 1px Solid #c0c0c0;
                border-top-width: 0;
                border-left-width: 0;
                padding: 1px 1px 1px;
                word-break: break-word;
            }

            .default .dxgvDataRow_Aqua td.dxgv, .dxgvDetailRow_Aqua.dxgvADR td.dxgvAIC {
                overflow: hidden;
                border-bottom: 1px Solid #c0c0c0;
                border-right: 1px Solid #c0c0c0;
                border-top-width: 0;
                border-left-width: 0;
                padding: 1px 1px 1px;
                word-break: break-word;
            }
    </style>
    <div id="CashbookAudit_ParentDiv">
        <div class="report_header_div_main">
            <div id="contentCashbookAudit" class="col-md-12 report_header_div_main">
                <label id="lbl_Vouching_Filter" style="padding:10px 0 0 0"></label>
                <div class="report_button_div ">
                    @(Html.DevExtreme().Button().ID("CashbookSelectFilter").Text("Filters").OnClick("OnCBfilterDocument").Icon("fas fa-filter").Width(72))
                    @(Html.DevExtreme().Button().ID("CashBookApplyFilter").Text("Show").OnClick("CB_DirectShowClick").Icon("fas fa-eye").Width(72))
                    @(Html.DevExtreme().Button().ID("CashBookMore").Text("More").OnClick("CB_MoreClick").Icon("repeat").Width(72))
                    @(Html.DevExtreme().Button().ID("CashbookAuditorViewModeSwitch").Text("Default").OnClick("CashbookAuditor_ViewSwitch_ValueChange").Icon("expand").Visible(true).Width(75))
                    @(Html.DevExtreme().Button().ID("CashBookAudit_MasterToggleScrollBar").Text("Full Data").Icon("toolbox").OnClick(@<text>function () {OnCBAuditChangeMode(); } </text>).Visible(false))
                    @(Html.DevExtreme().Button().ID("CashBookAuditCLOSE").Text("Close").Icon("close").OnClick(@<text> function (){CloseCashBookAuditor();} </text>).Width(72) )
                    <br />
                </div>
            </div>
        </div>
        <div id="CBaudit_GRID_DIV" class="parent_table">
            <form id="CashBookAuditreloadPartialView">
                @Html.Partial("Frm_Voucher_Info_CB_Grid_Auditor", Model)
            </form>
        </div>  @* Grid *@

        <div style="display:inline-block;width:100%">
            <div class="col-lg-12 footer_smallbtns" id="CashbookAuditFooterItem" style="margin-top:20px;">
                @(Html.DevExtreme().Button().ID("ButCB_Audit_Narration").Text("Show Narration").ElementAttr("class", "column-chooser").Hint("Show Narration").OnClick(@<text> function () { ShowNarration(); } </text>))

            </div>
        </div>


        @Html.DevExpress().FloatingActionButton(
        settings =>
        {
            settings.Name = "CBAudit_FAB";
            settings.ContainerElementID = "CBaudit_GRID_DIV";
            settings.HorizontalPosition = FloatingActionButtonHorizontalPosition.Right;
            settings.VerticalPosition = FloatingActionButtonVerticalPosition.Bottom;

            FABActionGroup actionItemGroup = new FABActionGroup() { ContextName = "actionItemContext" };
            //actionItemGroup.Items.Add(new FABActionItem("Prev", "~/Content/FloatingActionButton/Images/Prev.png", "Prev"));
            //actionItemGroup.Items.Add(new FABActionItem("Skip", "~/Content/FloatingActionButton/Images/Next.png", "Skip"));
            //actionItemGroup.Items.Add(new FABActionItem("Undecided", "~/Content/FloatingActionButton/Images/Undecidednew.png", "Undecided"));
            actionItemGroup.Items.Add(new FABActionItem("Reject", "~/Content/FloatingActionButton/Images/rejectrednew.png", "Reject"));
            actionItemGroup.Items.Add(new FABActionItem("AcceptWithRemarks", "~/Content/FloatingActionButton/Images/Acceptwithremark.png", "Accept With Remarks"));
            actionItemGroup.Items.Add(new FABActionItem("Accept", "~/Content/FloatingActionButton/Images/accept_new.png", "Accept"));
            actionItemGroup.Items.Add(new FABActionItem("DocAction", "~/Content/FloatingActionButton/Images/docaction.png", "Document Actions"));
            settings.Items.Add(actionItemGroup);

            FABActionGroup docActionGroup = new FABActionGroup() { ContextName = "docActionContext" };
            docActionGroup.Items.Add(new FABActionItem("PrevDoc", "~/Content/FloatingActionButton/Images/Prev.png", "Prev Document"));
            docActionGroup.Items.Add(new FABActionItem("SkipDoc", "~/Content/FloatingActionButton/Images/Next.png", "Next Document"));
            //docActionGroup.Items.Add(new FABActionItem("RejectDoc", "~/Content/FloatingActionButton/Images/rejectblack.png", "Reject Document"));
            //docActionGroup.Items.Add(new FABActionItem("AcceptDoc", "~/Content/image/attachment_accepted.png", "Accept Document"));
            docActionGroup.Items.Add(new FABActionItem("EditDoc", "~/Content/FloatingActionButton/Images/Edit.png", "Edit Document"));
            docActionGroup.Items.Add(new FABActionItem("Back", "~/Content/FloatingActionButton/Images/back.png", "Back"));
            settings.Items.Add(docActionGroup);

            FABActionGroup ImageItemGroup = new FABActionGroup() { ContextName = "ImageToolBarContext" };
            ImageItemGroup.Items.Add(new FABActionItem("ZoomIn", "~/Content/FloatingActionButton/Images/zoomin.png", "Zoom In"));
            ImageItemGroup.Items.Add(new FABActionItem("ZoomOut", "~/Content/FloatingActionButton/Images/zoomout.png", "Zoom Out"));
            ImageItemGroup.Items.Add(new FABActionItem("Rotate", "~/Content/FloatingActionButton/Images/rotateclock.png", "Rotate"));
            ImageItemGroup.Items.Add(new FABActionItem("Fit", "~/Content/FloatingActionButton/Images/fittoscreen.png", "Fit"));
            ImageItemGroup.Items.Add(new FABActionItem("Back", "~/Content/FloatingActionButton/Images/back.png", "Back"));
            settings.Items.Add(ImageItemGroup);
            settings.Init = (s, e) => { ASPxFloatingActionButton fab = (ASPxFloatingActionButton)s; fab.TextVisibilityMode = FloatingActionButtonTextVisibilityMode.Hidden; };
            settings.ClientSideEvents.ActionItemClick = "On_CBAudit_ActionItemClick";
            settings.ControlStyle.CssClass = "DevexpressComponents";


        }).GetHtml()
        <div class="col-md-12">
            @(Html.DevExtreme().Popup().CustomPopup().ID("report_modal").Title("Cash Book List Preview").FullScreen(false).ShowCloseButton(true).Height("auto").MaxWidth(125).ContentTemplate(@<text> <div id='CB_report_modal_result'> </div> </text>) )
        </div>

    </div>
    <script>

    var CB_FreshData = false;
    var CB_ShowClick = false;
    var CB_DataScope = "EXCLUSIVE";
    function CB_DirectShowClick(e)
    {
        CB_FreshData = false;
        CB_ShowClick = true;
        ShowLoader();
        Grid_Display_CBAudit(CB_FreshData);
    }
    function CB_FilterShowClick(e) { }
    function OnCBfilterDocument(e)
    {
        ShowLoader();
        $.ajax({
            url: '@Url.Action("CashBookFilters", "CashBookAuditor")',
            type: "GET",
            success: function (data)
            {
                OpenPopup("CashbookFiltersPopup", "Filters", null, "auto","50%", true, data);
            }
        });
    }
    function CBFilterSuccess(data)
    {
        HideLoader();
        HidePopup("CashbookFiltersPopup");
        CB_FreshData = false;
        CB_ShowClick = true;
        if (CB_SelectedRowIndex > -1)
        {
            GridViewDoCallback(CashBookAuditListGrid, function () { CashBookAuditListGrid.UnselectRows(CB_SelectedRowIndex); });
        }
        Grid_Display_CBAudit(CB_FreshData);
        Vouching_GenerateFilterText();
    }
    function CB_MoreClick(e)
    {
        if (CB_TotalEntriesCount >= 50)
        {
            DevExpress.ui.dialog.alert("50 Entries Have Been Alloted To You<br>More Than 50 Entries Cannot Be Alloted", "Information");
            return;
        }
        CB_FreshData = true;
        HideLoader();
        ShowLoader();
        Grid_Display_CBAudit(CB_FreshData);
    }
    </script>
    <script>
    var CBauditGrid_ViewMode ="Compact";
    function CashbookAuditor_ViewSwitch_ValueChange(e)
    {
        CBauditGrid_ViewMode = e.component.option("text");
        if (CBauditGrid_ViewMode == "Default")
        {
            $("#CashBookAudit_MasterToggleScrollBar").dxButton("instance").option("visible", true);
            e.component.option("text", "Compact");
            e.component.option("icon", "collapse");
            $("#ButCB_Audit_Narration").dxButton("instance").option("visible", true);
            $(".CB_customPreviewRow").hide();
        }
        else
        {
            CBaudit_ShowHorizontalBar = 0;
            $("#CashBookAudit_MasterToggleScrollBar").dxButton("instance").option("visible", false);
            e.component.option("text", "Default");
            e.component.option("icon", "expand");
        }
        ShowLoader();
        $.ajax({
            url: '@Url.Action("Frm_Voucher_Info_CB_Grid_Auditor", "CashBookAuditor")',
            type: "GET",
            async:false,
            data:
            {
                ShowHorizontalBar: CBaudit_ShowHorizontalBar,
                ViewMode:CBauditGrid_ViewMode
            },
            success: function (res)
            {
                $("#CashBookAuditreloadPartialView").html(res);
                HideLoader();
            }
        });
        $("#CashBookAuditListGrid").toggleClass('compact', CBauditGrid_ViewMode == "Compact");
        $("#CashBookAuditListGrid").toggleClass('default', CBauditGrid_ViewMode == "Default");
        if (CBauditGrid_ViewMode == "Compact")
        {
            $("#ButCB_Audit_Narration").dxButton("instance").option("visible", false);
            $(".CB_customPreviewRow").show();
        }
    }

    </script>
    @* Switch *@
    <script type="text/javascript">
        var CBAudit_TempID;
        var iREC_ID_auditor;
        var iREC_EDIT_ON_auditor;
        var iTR_ITEM_ID_auditor;
        var iTR_AB_ID_1_auditor;
        var iTR_M_ID_auditor;
        var P_Item_auditor;
        var REC_EDIT_BY_auditor;
        var REC_EDIT_Date_auditor;
        var ACTION_STATUS_auditor;
        var R_SR_NO_auditor;
        var REC_ADD_ON_auditor;
        var REC_ADD_BY_auditor;
        var frm_Text;
        var xfrm_Voucher_Type;
        var xfrm_Selection_By_Item;
        var xfrm_GLookUp_ItemList_Tag;
        var xFr_Date_Selected;
        var xTo_Date_Selected;
        var iTR_CODE_auditor;
        var V_Date_auditor;
        var iTR_TYPE_RowHandle_0;
        var iTR_TYPE_RowHandle_1;
        var REC_STATUS_BY_auditor;
        var REC_STATUS_Date_auditor;
        var P_Chk_Dd_Ref_auditor;
        var CB_VoucherScreen_Name_auditor;
        var CBaudit_ActiveFilterString;
        var iTR_REF_NO_auditor;
        var CB_row_SerialNo;
        var CBaudit_ShowHorizontalBar = 0;
        var CBaudit_AllowCellMerge = true;
        var Rightpane = Mainspliter.GetPaneByName('RightPane');
        var Leftpane = Mainspliter.GetPaneByName('LeftPane');
        var Middlepane = Mainspliter.GetPaneByName('MiddlePane');
        $(document).ready(function () {
            HideLoader();
            $('.dx-fab-text').hide();
            $('.dx-fab-action').hover(function () { $(this).find('.dx-fab-text').show(); }, function () { $(this).find('.dx-fab-text').hide(); });
            dragElement(document.getElementById("CBAudit_FAB"));
            if (CBauditGrid_ViewMode == "Compact") {
                $("#ButCB_Audit_Narration").dxButton("instance").option("visible", false);
                $(".CB_customPreviewRow").show();
            }
            Vouching_GenerateFilterText();
        });

    </script>
    @* Variable declaration,document.ready,attachment view *@
    <script>

        var CB_Grid_PageIndex_auditor;
        var CB_Grid_PageCount_auditor;
        function Grid_Display_CBAudit(FreshData = false) {
            HideLoader();
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/CashBookAuditor/Grid_Display",
                //async: false,
                data:
                {
                    FreshData: FreshData
                },
                cache: false,
                success: function (data) {
                    CB_FreshData = false;
                    if (data.jsonParam.result == false) {
                        HideLoader();
                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                        if (data.jsonParam.closeform == true) {
                            btnCloseActiveTab();
                        }

                    }
                    else {
                        HideLoader();
                        ShowLoader();
                        CashBookAuditorRefresh();

                    }
                }
            });

        }
        function CashBookAuditorRefresh() {

            if (typeof window !== 'undefined') {
                if (typeof window.CashBookAuditListGrid !== 'undefined') {
                    if (typeof window.CashBookAuditListGrid.Refresh !== 'undefined') {
                        if (typeof CashBookAuditListGrid.Refresh == 'function') {
                            GridViewDoCallback(CashBookAuditListGrid, function () { window.CashBookAuditListGrid.PerformCallback(); });
                        }
                        else {
                            alert("refresh is not a function");
                        }
                    }
                    else {
                        ShowLoader();
                        setTimeout(function () {
                            CashBookAuditorRefresh();
                            HideLoader();
                        }, Timeout500);
                    }
                }
                else {
                    alert('grid undefined')
                }
            }
            else {
                alert('window undefined')
            }
        }

    </script>
    @* Grid Display and Summary Button *@
    <script>
    var Req_Attach_Count_auditor;
    var Res_Attach_Count_auditor;
    var Com_Attach_Count_auditor;
    var CB_SelectedRowIndex = -1;
    var NextRowTempID_auditor;
    var CBGrid_PageSize_auditor;
    var CB_SearchPanelExp_auditor = "";
    var CB_ClientLayout = null;
    var CB_Prev_Selectedindex;
    var CB_Prev_RecID;
    var CB_Refreshdone = false;
    var CB_TotalRowCount;
    var CB_TotalEntriesCount;
    var CB_RefreshAfterAction = false;
    var CB_Cen_ID_auditor;
        var CB_Vouching_Category_auditor;
        var CBAudit_TempID_Prev = null;
    function CBAuditor_Grid_init(s, e)
    {
        CBAuditor_grid_AdjustSize(s, e);
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt)
        {
            CBAuditor_grid_AdjustSize(s, e);
        });

        $(".CB_customPreviewRow").hide();
    }
    function CBAuditor_Grid_begincallback(s, e)
    {
        ShowLoader();
        e.customArgs["command"] = e.command;
        e.customArgs["_ActiveFilterString"] = CBaudit_ActiveFilterString;
        e.customArgs["ShowHorizontalBar"] = CBaudit_ShowHorizontalBar;
        e.customArgs["AllowCellMerge"] = CBaudit_AllowCellMerge;
        e.customArgs["ViewMode"] = CBauditGrid_ViewMode;
        e.customArgs["FreshData"] = CB_FreshData;
        CBAudit_TempID_Prev = CBAudit_TempID;
    }
    function CBAuditor_Grid_endcallback(s, e)
    {
        HideLoader();
        CBAuditor_grid_AdjustSize(s, e);
        CB_ClientLayout = s.cpClientLayout;
        CB_TotalRowCount = s.cpTotalRowCount;
        CB_TotalEntriesCount = s.cpTotalEntries;
        $("#CashBookAuditListGrid").toggleClass('compact', CBauditGrid_ViewMode == "Compact");
        $("#CashBookAuditListGrid").toggleClass('default', CBauditGrid_ViewMode == "Default");
        if ($("#ButCB_Audit_Narration").dxButton("instance").option("visible") == true)
        {
            if ($("#ButCB_Audit_Narration").dxButton("instance").option("text") == "Hide Narration")
            {
                $(".CB_customPreviewRow").show();
            }
            else
            {
                $(".CB_customPreviewRow").hide();
            }
        }
        CBaudit_ActiveFilterString = s.cpFilterExpression;
        CB_SearchPanelExp_auditor = s.cpSearchPanelExpression;
        CBGrid_PageSize_auditor = s.cpPageSize;
        CB_Grid_PageCount_auditor = s.GetPageCount();
        CB_Grid_PageIndex_auditor = s.GetPageIndex();
        SendCustomArgs_FilterControl(s, e);
        if (e.command == "REFRESH")
        {
            HideLoader();
            CB_Prev_Selectedindex = CB_SelectedRowIndex;
            CB_Prev_RecID = iREC_ID_auditor;
            CB_Refreshdone = true;          
            if (CB_TotalRowCount > 0)
            {
                if (CB_SelectedRowIndex > -1)
                {
                    s.UnselectRowOnPage(CB_SelectedRowIndex);
                }
                else
                {
                    CB_Refreshdone = false;
                    CB_RefreshAfterAction = false;
                }
            }
            else
            {
                CB_Refreshdone = false;
                CB_RefreshAfterAction = false;

                if (CB_DataScope.toUpperCase() == "EXCLUSIVE") {
                    var confirm = DevExpress.ui.dialog.confirm("No Entries Are Allocated To You<br>Do You Want New Allocations To Be Done?", "Confirm");
                    confirm.done(function (dialogresult) {
                        if (dialogresult) {
                            ClearRightPane();
                            CB_SelectedRowIndex = -1;
                            CB_FreshData = true;
                            HideLoader();
                            ShowLoader();
                            Grid_Display_CBAudit(CB_FreshData);
                        }
                        else
                        {
                            if (Rightpane.IsCollapsed() == false) {
                                CollapsePane(Rightpane, Middlepane);
                            }
                            if (Leftpane.IsCollapsed() == false) {
                                CollapsePane(Leftpane, Middlepane);
                            }
                        }
                    });
                }
                else
                {
                    if (Rightpane.IsCollapsed() == false) {
                        CollapsePane(Rightpane, Middlepane);
                    }
                    if (Leftpane.IsCollapsed() == false) {
                        CollapsePane(Leftpane, Middlepane);
                    }
                }
            }
        }
        else if (e.command == "GOTOPAGE")
        {
            s.SelectRowOnPage(CBNextRowToBeSelected, true);
        }
        else if (e.command == "CUSTOMCALLBACK")
        {
            CB_FreshData = false;
            if (CB_ShowClick == true)
            {
                CB_ShowClick = false;
                if (CB_TotalRowCount == 0)
                {
                    if (CB_DataScope.toUpperCase() == "EXCLUSIVE")
                    {
                        var confirm = DevExpress.ui.dialog.confirm("No Entries Are Allocated To You<br>Do You Want New Allocations To Be Done?", "Confirm");
                        confirm.done(function (dialogresult) {
                            if (dialogresult) {
                                ClearRightPane();
                                CB_SelectedRowIndex = -1;
                                CB_FreshData = true;
                                HideLoader();
                                ShowLoader();
                                Grid_Display_CBAudit(CB_FreshData);
                            }
                            else
                            {
                                if (Rightpane.IsCollapsed() == false)
                                {
                                    CollapsePane(Rightpane, Middlepane);
                                }
                                if (Leftpane.IsCollapsed() == false)
                                {
                                    CollapsePane(Leftpane, Middlepane);
                                }
                            }
                        });
                    }
                    else {
                        if (Rightpane.IsCollapsed() == false) {
                            CollapsePane(Rightpane, Middlepane);
                        }
                        if (Leftpane.IsCollapsed() == false) {
                            CollapsePane(Leftpane, Middlepane);
                        }
                    }
                }

            }
            if (CB_TotalRowCount > 0) {
                if (CB_SelectedRowIndex == -1) {
                    s.SelectRowOnPage(0, true);
                }
                else {
                    s.SelectRowOnPage(CB_SelectedRowIndex, true);
                }
            }
            else
            {
                if (Rightpane.IsCollapsed() == false) {
                    CollapsePane(Rightpane, Middlepane);
                }
                if (Leftpane.IsCollapsed() == false) {
                    CollapsePane(Leftpane, Middlepane);
                }
            }

        }
        else if (e.command == "FUNCTION")
        {
            if (CB_SelectedRowIndex > -1) {
                // $("#CashBookAuditListGrid_DXADRow" + CB_SelectedRowIndex).css("background-color", "#0072C6");
                $("#CashBookAuditListGrid_DXDataRow" + CB_SelectedRowIndex).css("color", "#0000FF");
            }
        }
        else if (e.command == "PAGERONCLICK")
        {
            s.SelectRowOnPage(s.GetTopVisibleIndex(), true);
        }

    }
    function CBAuditor_grid_AdjustSize(s, e) {
        var height = (document.documentElement.clientHeight * 90) / 100;
        s.SetHeight(height);
    }
    function CBAuditor_OnRowClick(s, e)
    {
        s.SelectRowOnPage(e.visibleIndex, true);
    }
    function CBAuditor_OnSelectionChanged(s, e)
    {
        if (s.GetSelectedRowCount() > 0)
        {
            ShowLoader();
            CB_row_SerialNo = s.GetSelectedKeysOnPage()[0];
            console.log(s.GetSelectedKeysOnPage());
            CashBookAuditListGrid.GetValuesOnCustomCallback({ key: CB_row_SerialNo }, CashBookAuditorVoucherOnGetRowValues);
            CB_SelectedRowIndex = e.visibleIndex;
            // $("#CashBookAuditListGrid_DXADRow" + e.visibleIndex).css("background-color", "#0072C6");
            $("#CashBookAuditListGrid_DXDataRow" + e.visibleIndex).css("color", "#0000FF");
        }
        else
        {
            CB_SelectedRowIndex = -1;
            CB_row_SerialNo = 0;
            CBAudit_FAB.SetVisible(false);
            //Rightpane.Collapse(Middlepane);
            //Leftpane.Collapse(Middlepane);
            if (CB_Refreshdone == true)
            {
                CB_RefreshAfterAction = false;
                CB_Refreshdone = false;
                if (CB_Prev_Selectedindex > -1)
                {
                    if (CB_Prev_Selectedindex > CB_TotalRowCount - 1)
                    {
                        s.SelectRowOnPage(CB_TotalRowCount - 1, true);
                    }
                    else
                    {
                        s.SelectRowOnPage(CB_Prev_Selectedindex, true);
                    }
                }
                CBAudit_TempID_Prev = null;
            }
        }
    }

    function CashBookAuditorVoucherOnGetRowValues(CashBookVoucherData)
    {
        if (CashBookVoucherData != null && CashBookVoucherData.length > 0)
        {
            var CashBookVouchervalues = CashBookVoucherData.split("![");
            CBAudit_TempID = CashBookVouchervalues[0];
            iREC_ID_auditor = CashBookVouchervalues[1];
            iREC_EDIT_ON_auditor = CashBookVouchervalues[2];
            iTR_ITEM_ID_auditor = CashBookVouchervalues[3];
            iTR_AB_ID_1_auditor = CashBookVouchervalues[4];
            iTR_M_ID_auditor = CashBookVouchervalues[5];
            ACTION_STATUS_auditor = CashBookVouchervalues[6];
            iTR_CODE_auditor = CashBookVouchervalues[7];
            REC_EDIT_BY_auditor = CashBookVouchervalues[8];
            R_SR_NO_auditor = CashBookVouchervalues[9];
            REC_ADD_ON_auditor = CashBookVouchervalues[10];
            V_Date_auditor = CashBookVouchervalues[11];
            P_Item_auditor = CashBookVouchervalues[12];
            REC_EDIT_Date_auditor = CashBookVouchervalues[13];
            REC_ADD_BY_auditor = CashBookVouchervalues[14];
            REC_STATUS_BY_auditor = CashBookVouchervalues[15];
            REC_STATUS_Date_auditor = CashBookVouchervalues[16];
            CreationDetail(iREC_ID_auditor, ACTION_STATUS_auditor, REC_ADD_ON_auditor, REC_ADD_BY_auditor, REC_STATUS_Date_auditor, REC_STATUS_BY_auditor, REC_EDIT_Date_auditor, REC_EDIT_BY_auditor);
            if ((CashBookVouchervalues[17] != undefined && CashBookVouchervalues[17] != "undefined")
                && CashBookVouchervalues[17] != "" && (CashBookVouchervalues[17] != null && CashBookVouchervalues[17] != "null")) {
                P_Chk_Dd_Ref_auditor = CashBookVouchervalues[17].replace("A/c.No.:", "").trim();
            }
            iTR_REF_NO_auditor = CashBookVouchervalues[18];
            Req_Attach_Count_auditor = CashBookVouchervalues[19];
            Res_Attach_Count_auditor = CashBookVouchervalues[20];
            Com_Attach_Count_auditor = CashBookVouchervalues[21];
            NextRowTempID_auditor = CashBookVouchervalues[22];
            CB_Cen_ID_auditor = CashBookVouchervalues[23];
            CB_Vouching_Category_auditor = CashBookVouchervalues[24];
            CB_VoucherScreen_Name_auditor = null;
            GetVoucherScreenName_auditor(iTR_CODE_auditor);
            CBAudit_FAB.SetVisible(true);
            CBAudit_FAB.SetActionContext("actionItemContext", true);
            if (Leftpane.IsCollapsed() == true)
            {
                Leftpane.Expand();
            }
            if (CBAudit_TempID_Prev != CBAudit_TempID)
            {
                ShowLoader();
                $("#LeftPane_Div_Content").html(null);
                var LoadURL = StandardizeCallURL("@Url.Action("LeftPaneContent", "CashBookAuditor", new { @area = "Account" })?ID=" + iREC_ID_auditor + "&MID=" + iTR_M_ID_auditor + "&CENID=" + CB_Cen_ID_auditor);
                $("#LeftPane_Div_Content").load(LoadURL, function () {
                    HideLoader();
                });
            }
            else
            {
                RefreshGridView("CashBookGrid_Auditor_AdditionalInfo");
            }
            console.log("RecID: " + iREC_ID_auditor);
            console.log("MID: " + iTR_M_ID_auditor);
        }
    }
    function GetVoucherScreenName_auditor(iTR_CODE_auditor) {
        switch (iTR_CODE_auditor) {
            case "1":
                CB_VoucherScreen_Name_auditor = "Cash_Deposit_Withdrawn";
                break;
            case "2":
                CB_VoucherScreen_Name_auditor = "Bank_To_Bank_Transfer";
                break;
            case "3":
                CB_VoucherScreen_Name_auditor = "Payment";
                break;
            case "4":
                CB_VoucherScreen_Name_auditor = "Receipt";
                break;
            case "5":
                CB_VoucherScreen_Name_auditor = "Donation_Regular";
                break;
            case "6":
                CB_VoucherScreen_Name_auditor = "Donation_Foreign";
                break;
            case "7":
                CB_VoucherScreen_Name_auditor = "Donation_Gift";
                break;
            case "8":
                CB_VoucherScreen_Name_auditor = "Internal_Transfer";
                break;
            case "9":
                CB_VoucherScreen_Name_auditor = "Collection_Box";
                break;
            case "10":
                CB_VoucherScreen_Name_auditor = "Fixed_Deposits";
                break;
            case "11":
                CB_VoucherScreen_Name_auditor = "Sale_Asset";
                break;
            case "12":
                CB_VoucherScreen_Name_auditor = "Membership";
                break;
            case "13":
                CB_VoucherScreen_Name_auditor = "Membership_Renewal";
                break;
            case "14":
                CB_VoucherScreen_Name_auditor = "Journal";
                break;
            case "15":
                CB_VoucherScreen_Name_auditor = "Asset_Transfer";
                break;
            case "16":
                CB_VoucherScreen_Name_auditor = "Membership_Conversion";
                break;
            case "17":
                CB_VoucherScreen_Name_auditor = "WIP_Finalization";
                break;
        }
    }
    function CreationDetail(ID, Action_Status, Add_Date, Add_By, Action_Date, Action_By, Edit_Date, Edit_By) {
        var Status = "";
        var StatusStr = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_ActionOn = "";
        var Lbl_ActionBy = "";
        if (ID && ID.length > 0) {
            if (ID.toUpperCase() == "OPENING BALANCE") {
                $('#Lbl_Create_CB').text("");
                $('#Lbl_ActionOn_CB').text("");
                $('#Lbl_ActionBy_CB').text("");
                $('#Lbl_Modify_CB').text("");
                $("#LockICON_CB").hide();
                return;
            }
            $("#LockICON_CB").show();
            Status = Action_Status;
            if (Status && Status.toUpperCase() == "LOCKED") {
                Pic_Status = "fa fa-lock";
            }
            else {
                Pic_Status = "fa fa-unlock";
            }
            if (Status == "Locked") {
                StatusStr = "Locked";
            }
            else {
                StatusStr = "UnLocked";
            }
            Lbl_ActionOn = StatusStr + " On: " + Action_Date;
            Lbl_ActionBy = StatusStr + " By: " + Action_By.toUpperCase();
            Lbl_Create = "Add On: " + Add_Date + ", By: " + Add_By.toUpperCase();
            Lbl_Modify = "Edit On: " + Edit_Date + ", By: " + Edit_By.toUpperCase();
            $('#Lbl_Create_CB').text(Lbl_Create);
            $('#Lbl_ActionOn_CB').text(Lbl_ActionOn);
            $('#Lbl_ActionBy_CB').text(Lbl_ActionBy);
            $('#Lbl_Modify_CB').text(Lbl_Modify);
            if (Pic_Status == "fa fa-lock") {
                $('#LockICON_CB').addClass(Pic_Status).removeClass("fa-unlock");
            }
            else if (Pic_Status == "fa fa-unlock") {
                $('#LockICON_CB').addClass(Pic_Status).removeClass("fa-lock");
            }
            else {
                $('#LockICON_CB').removeClass("fa").removeClass("fa-lock").removeClass("fa-unlock");
            }
        }
        else {
            $('#Lbl_Create_CB').text("");
            $('#Lbl_ActionOn_CB').text("");
            $('#Lbl_ActionBy_CB').text("");
            $('#Lbl_Modify_CB').text("");
            $("#footericon").hide();
        }
    }
    function CBAuditor_ContextMenuFunction(s, e)
    {
        if (e.item.name  == 'New') {

            OnCashBookNewClick();
        }
        else if (e.item.name == 'Edit') {
            CashbookButtonClick("EDIT");
        }
        else if (e.item.name == 'Delete') {
            CashbookButtonClick("DELETE");
        }
        else if (e.item.name == 'View') {
            CashbookButtonClick("VIEW");
        }
        else if (e.item.name == 'ListPreview') {
            OnCashBookListPreviewClick();
        }
        else if (e.item.name == 'Lock') {
            CashbookButtonClick("LOCKED");
        }
        else if (e.item.name == 'Unlock') {
            CashbookButtonClick("UNLOCKED");
        }
        else if (e.item.name == 'View_Audit') {
            CashbookButtonClick("REMARKS");
        }
        else if (e.item.name == 'New_Audit') {
            CashbookButtonClick("ADD REMARKS");
        }
        else if (e.item.name == 'Match_Transfer') {
            CashbookButtonClick("MATCH TRANSFERS");
        }
        else if (e.item.name == 'Unmatch_Transfer') {
            CashbookButtonClick("UNMATCH TRANSFERS");
        }
        else if (e.item.name == 'Add_Attachment') {
            OnCashBookAddAttachment();
        }
        else if (e.item.name == 'Manage_Attachments') {
            OnCashBookManageAttachment();
        }
        else if (e.item.name == 'Link_Attachment') {
            OnCashBookLinkAttachment();
        }
        else if (e.item.name == "Close") {
            CloseCashBookAuditor();

        }
        else if (e.item.name == 'Refresh') {
            Grid_Display_CBAudit(CB_FreshData);
        }
    }
    function OnCBAuditChangeMode()
    {
        ShowLoader();
        if (CBaudit_ShowHorizontalBar == 0)
        {
            CBaudit_ShowHorizontalBar = 1;
            $("#CashBookAudit_MasterToggleScrollBar").find("span").text("Default Data");
        }
        else
        {
            CBaudit_ShowHorizontalBar = 0;
            $("#CashBookAudit_MasterToggleScrollBar").find("span").text("Full Data");
        }
        $.ajax({
            url: '@Url.Action("Frm_Voucher_Info_CB_Grid_Auditor", "CashBookAuditor")',
            type: "GET",
            async:false,
            data: {
                ShowHorizontalBar: CBaudit_ShowHorizontalBar,
               // Layout: CB_ClientLayout,
                ViewMode: "Default",
                AllowCellMerge: CBaudit_AllowCellMerge
            },
            success: function (res)
            {
                $("#CashBookAuditreloadPartialView").html(res);
            }
        });
        HideLoader();
        if ($("#ButCB_Audit_Narration").dxButton("instance").option("visible") == true) {
            if ($("#ButCB_Audit_Narration").dxButton("instance").option("text") == "Hide Narration") {
                $(".CB_customPreviewRow").show();
            }
            else {
                $(".CB_customPreviewRow").hide();
            }
        }
    }//full data button click
    function OnCB_iconInit(s, e, rowKeyValue)
    {
        ASPxClientUtils.AttachEventToElement(s.GetMainElement(), "mouseover", function (event)
        {
            document.getElementById(s.uniqueID).title = "Attachment Status : Pending";
        });
    }
    function CloseCashBookAuditor()
    {
        $(".TabPanalMenu-tabs .active span").click();
    }
    $(".TabPanalMenu-tabs .active span").on("click", function ()
    {
        var pane = Mainspliter.GetPaneByName('RightPane');
        pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        Leftpane.Collapse(Middlepane);
        $.ajax({
            type: 'GET',
            url: "/Account/CashBookAuditor/SessionClear",
            cache: false
        });

        ClearAllReferences_VouchingAudit();
    });
        function ClearAllReferences_VouchingAudit() {
            CB_FreshData = null;
            CB_ShowClick = null;
            CB_DataScope = null;
            CBauditGrid_ViewMode = null;
            CBAudit_TempID = null;
            CBAudit_TempID_Prev = null;
            iREC_ID_auditor = null;
            iREC_EDIT_ON_auditor = null;
            iTR_ITEM_ID_auditor = null;
            iTR_AB_ID_1_auditor = null;
            iTR_M_ID_auditor = null;
            P_Item_auditor = null;
            REC_EDIT_BY_auditor = null;
            REC_EDIT_Date_auditor = null;
            ACTION_STATUS_auditor = null;
            R_SR_NO_auditor = null;
            REC_ADD_ON_auditor = null;
            REC_ADD_BY_auditor = null;
            frm_Text = null;
            xfrm_Voucher_Type = null;
            xfrm_Selection_By_Item = null;
            xfrm_GLookUp_ItemList_Tag = null;
            xFr_Date_Selected = null;
            xTo_Date_Selected = null;
            iTR_CODE_auditor = null;
            V_Date_auditor = null;
            iTR_TYPE_RowHandle_0 = null;
            iTR_TYPE_RowHandle_1 = null;
            REC_STATUS_BY_auditor = null;
            REC_STATUS_Date_auditor = null;
            P_Chk_Dd_Ref_auditor = null;
            CB_VoucherScreen_Name_auditor = null;
            CBaudit_ActiveFilterString = null;
            iTR_REF_NO_auditor = null;
            CB_row_SerialNo = null;
            CBaudit_ShowHorizontalBar = null;
            CBaudit_AllowCellMerge = null;
            Rightpane = null;
            Leftpane = null;
            Middlepane = null;
            CB_Grid_PageIndex_auditor = null;
            CB_Grid_PageCount_auditor = null;
            Req_Attach_Count_auditor = null;
            Res_Attach_Count_auditor = null;
            Com_Attach_Count_auditor = null;
            CB_SelectedRowIndex = null;
            NextRowTempID_auditor = null;
            CBGrid_PageSize_auditor = null;
            CB_SearchPanelExp_auditor = null;
            CB_ClientLayout = null;
            CB_Prev_Selectedindex = null;
            CB_Prev_RecID = null;
            CB_Refreshdone = null;
            CB_TotalRowCount = null;
            CB_TotalEntriesCount = null;
            CB_RefreshAfterAction = null;
            CB_Cen_ID_auditor = null;
            CB_Vouching_Category_auditor = null;
            NestedRecord_FocusedRowIndex_auditor = null;
            Nested_Doc_Status_auditor = null;
            Nested_Params_Mandatory_auditor = null;
            Nested_LABEL_FROM_DATE_auditor = null;
            Nested_LABEL_TO_DATE_auditor = null;
            Nested_LABEL_DESCRIPTION_auditor = null;
            CB_Doc_ID_auditor = null;
            CB_Doc_Category_auditor = null;
            CB_Attachment_ID_auditor = null;
            CB_MasterRowRecID_auditor = null;
            CB_MasterRowMID_auditor = null;
            CB_MasterRowTrCode_auditor = null;
            CB_NestedRowMapID_auditor = null;
            CB_reason_auditor = null;
            CB_filename_auditor = null;
            CB_Attachment_Action_Status_auditor = null;
            CBNestedFocusRowIndexBeforeRefresh = null;
            CBNestedGridName = null;
            CBNextRowToBeSelected = null;
            CB_NestedRowReasonID_auditor = null;
            ClearAllReferences("VouchingAudit_ClearReferences");
        }
        function AdditionalInfoGrid_BeginCallBack(s, e) {
            e.customArgs["command"] = e.command;
            e.customArgs["ID"] = iREC_ID_auditor;
            e.customArgs["MID"] = iTR_M_ID_auditor;
            e.customArgs["CENID"] = CB_Cen_ID_auditor;
        }
        function AdditionalInfoGrid_EndCallBack(s, e) {

        }
    </script>
    @* Grid Functions *@
    <script>
        var NestedRecord_FocusedRowIndex_auditor;
        var Nested_Doc_Status_auditor;
        var Nested_Params_Mandatory_auditor;
        var Nested_LABEL_FROM_DATE_auditor;
        var Nested_LABEL_TO_DATE_auditor;
        var Nested_LABEL_DESCRIPTION_auditor;
        var CB_Doc_ID_auditor;
        var CB_Doc_Category_auditor;
        var CB_Attachment_ID_auditor;
        var CB_MasterRowRecID_auditor;
        var CB_MasterRowMID_auditor;
        var CB_MasterRowTrCode_auditor;
        var CB_NestedRowMapID_auditor;
        var CB_reason_auditor;
        var CB_filename_auditor;
        var CB_Attachment_Action_Status_auditor;
        var CBNestedFocusRowIndexBeforeRefresh;
        var CBNestedGridName;
        var CBNextRowToBeSelected;
        var CB_NestedRowReasonID_auditor;
        function CBAuditor_Grid_Nested_Init(s, e) {
            if (CB_Prev_RecID == iREC_ID_auditor) {
                DocumentGridPrevNextClick("Next", NestedRecord_FocusedRowIndex_auditor);
            }
            ClearRightPane();
        }
        function CBAuditor_Grid_Nested_BeginCallBack(s, e) {
            e.customArgs["ShowHorizontalBar"] = CBaudit_ShowHorizontalBar;
            e.customArgs["ID"] = iREC_ID_auditor;
            e.customArgs["MID"] = iTR_M_ID_auditor;
            e.customArgs["CENID"] = CB_Cen_ID_auditor;
            e.customArgs["command"] = e.command;
        }
        function CBAuditor_Grid_Nested_EndCallBack(s, e) {
            if (e.command == "REFRESH") {
                CBNestedFocusRowIndexBeforeRefresh = s.GetFocusedRowIndex();
                s.SetFocusedRowIndex(-1);
                s.SetFocusedRowIndex(CBNestedFocusRowIndexBeforeRefresh);
            }
            $("#CashBookNestedGrid_Auditor").toggleClass('documentGrid', true);
        }
        function OnCashBookAuditorListGridNestedFocusedRowChange(s, e) {
            NestedRecord_FocusedRowIndex_auditor = s.GetFocusedRowIndex();
            CBNestedGridName = s.uniqueID;
            if (NestedRecord_FocusedRowIndex_auditor >= 0) {
                ShowLoader();
                var NestedRowKey = s.GetRowKey(s.GetFocusedRowIndex());
                s.GetValuesOnCustomCallback({ ID: NestedRowKey }, CashBookAuditorVoucherNestedOnGetRowValues);
            }
        }
        function CashBookAuditorVoucherNestedOnGetRowValues(CashBookVoucherNestedData)
        {
            if (CashBookVoucherNestedData != null && CashBookVoucherNestedData.length > 0) {
                var CashBookVoucherNestedvalues = CashBookVoucherNestedData.split("![");
                Nested_Doc_Status_auditor = CashBookVoucherNestedvalues[0];
                Nested_Params_Mandatory_auditor = CashBookVoucherNestedvalues[1];
                Nested_LABEL_FROM_DATE_auditor = CashBookVoucherNestedvalues[2];
                Nested_LABEL_TO_DATE_auditor = CashBookVoucherNestedvalues[3];
                Nested_LABEL_DESCRIPTION_auditor = CashBookVoucherNestedvalues[4];
                CB_Doc_ID_auditor = CashBookVoucherNestedvalues[6];
                CB_Doc_Category_auditor = CashBookVoucherNestedvalues[5];
                CB_Attachment_ID_auditor = CashBookVoucherNestedvalues[7];
                IndexAttachmentID = CB_Attachment_ID_auditor;
                CB_MasterRowRecID_auditor = CashBookVoucherNestedvalues[8];
                CB_MasterRowMID_auditor = CashBookVoucherNestedvalues[9];
                CB_MasterRowTrCode_auditor = CashBookVoucherNestedvalues[10];
                GetVoucherScreenName_auditor(CashBookVoucherNestedvalues[10]);
                CB_NestedRowMapID_auditor = CashBookVoucherNestedvalues[11];
                CB_reason_auditor = CashBookVoucherNestedvalues[12];
                CB_filename_auditor = CashBookVoucherNestedvalues[13];
                CB_Attachment_Action_Status_auditor = CashBookVoucherNestedvalues[14];
                CB_NestedRowReasonID_auditor = CashBookVoucherNestedvalues[15];
                IndexAttachmentReasonID = CB_NestedRowReasonID_auditor;
                if (Nested_Doc_Status_auditor == "YES") {
                    ViewDocument(CB_Attachment_ID_auditor, CB_filename_auditor, "CBAudit_FAB", "ImageToolBarContext");
                }
                else {
                    if (Rightpane.IsCollapsed() == false) {
                        CollapsePane(Rightpane, Middlepane);
                    }
                }
            }
            HideLoader();
        }
        function On_CBAudit_ActionItemClick(s, e) {
            var img = document.getElementById('RightPane_Img');
            CBAudit_FAB.ExpandActionGroupItems();
            if (e.actionName == "Skip") {
                CBNextRowToBeSelected = CB_SelectedRowIndex + 1;
                var NextPageIndex = FindPageindex();
                if (NextPageIndex != CashBookAuditListGrid.GetPageIndex()) {
                    CashBookAuditListGrid.GotoPage(NextPageIndex);
                }
                else {
                    CashBookAuditListGrid.SelectRowOnPage(CBNextRowToBeSelected, true);
                }
            }
            else if (e.actionName == "Prev") {
                CBNextRowToBeSelected = CB_SelectedRowIndex - 1;
                var NextPageIndex = FindPageindex();
                if (NextPageIndex != CashBookAuditListGrid.GetPageIndex()) {
                    CashBookAuditListGrid.GotoPage(NextPageIndex);
                }
                else {
                    CashBookAuditListGrid.SelectRowOnPage(CBNextRowToBeSelected, true);
                }
            }
            else if (e.actionName == "Accept") {
                OnAcceptwithoutRemarks();
            }
            else if (e.actionName == "Reject") {
                OnAcceptRejectVoucher("Reject");
            }
            else if (e.actionName == "AcceptWithRemarks") {
                OnAcceptRejectVoucher("Accept");
            }
            else if (e.actionName == "Undecided") {
                OnCB_SkipVoucher();
            }
            else if (e.actionName == "Rotate") {
                ImageRotate(img);
            }
            else if (e.actionName == "ZoomOut") {
                ImageZoomOut(img);
            }
            else if (e.actionName == "ZoomIn") {
                ImageZoomIn(img);
            }
            else if (e.actionName == "Fit") {
                ImageFit(img);
            }
            else if (e.actionName == "Back") {
                ImageBack("CBAudit_FAB", "actionItemContext");
            }
            else if (e.actionName == "DocAction") {
                CBAudit_FAB.SetActionContext("docActionContext", true);
            }
            else if (e.actionName == "PrevDoc") {
                DocumentGridPrevNextClick("Prev");
            }
            else if (e.actionName == "SkipDoc") { DocumentGridPrevNextClick("Next"); }
            else if (e.actionName == "RejectDoc") { DocumentGridRejectBtnClick(); }
            else if (e.actionName == "AcceptDoc") { DocumentGridAcceptBtnClick(); }
            else if (e.actionName == "EditDoc") { DocumentGridEditBtnClick(); }

        }
        function FindPageindex() {
            var calculatePageNumber = (CBNextRowToBeSelected + 1) / CBGrid_PageSize_auditor;
            var pageIndex = (Math.ceil(calculatePageNumber)) - 1;
            return pageIndex;
        }
        function OnAcceptRejectVoucher(_actionMethod)
        {
            if (CB_Attachment_ID_auditor.length = 0)//check case where there are remarks
            {
                DevExpress.ui.dialog.alert("Please Select a Attachment!!");
                return;
            }
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/CashBookAuditor/Frm_CB_Remarks",
                data:
                {
                    ActionMethod: _actionMethod,
                    RefRecId: (CB_MasterRowMID_auditor == null || CB_MasterRowMID_auditor == "") ? CB_MasterRowRecID_auditor : CB_MasterRowMID_auditor,
                    MainGridName: "CashBookAuditListGrid",
                    TempID: CBAudit_TempID,
                    EntryCenID: CB_Cen_ID_auditor,
                    VouchingCategory: CB_Vouching_Category_auditor
                },
                cache: false,
                success: function (data) {
                    HideLoader();
                    OpenPopup("VoucherAuditRemarksPopup", "Remarks", null, "auto", 250, true, data);
                }
            });
        }
        function OnCB_SkipVoucher() {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/CashBookAuditor/UndecidedVoucher",
                data:
                {
                    TempID: CBAudit_TempID
                },
                cache: false,
                success: function (data) {
                    HideLoader();
                    var alert;
                    if (data.result == true) {
                        CB_RefreshAfterAction = true;
                        //alert = DevExpress.ui.dialog.alert(data.message, "Success");
                        CashBookAuditListGrid.Refresh();
                        DevExpress.ui.notify({ message: data.message, width: 300, shading: true, position: 'center' }, "success", 1500);
                        // HideAlert(alert);
                    }
                    else {
                        alert = DevExpress.ui.dialog.alert(data.message, "Error");
                    }
                }
            });
        }
        function OnAcceptwithoutRemarks() {
            if (CB_Attachment_ID_auditor.length = 0)//check case where there are remarks
            {
                DevExpress.ui.dialog.alert("Please Select a Attachment!!");
                return;
            }
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/CashBookAuditor/AcceptRejectVoucher",
                data:
                {
                    TempID: CBAudit_TempID,
                    ActionMethod: "Accept",
                    EntryCenID: CB_Cen_ID_auditor,
                    VouchingCategory: CB_Vouching_Category_auditor,
                    AttachmentID: CB_Attachment_ID_auditor,
                    TxnDocRespID:  CB_NestedRowReasonID_auditor
                },
                cache: false,
                success: function (data) {
                    HideLoader();
                    var alert;
                    if (data.result == true) {
                        CB_RefreshAfterAction = true;
                        //alert = DevExpress.ui.dialog.alert(data.message, "Success");
                        CashBookAuditListGrid.Refresh();
                        DevExpress.ui.notify({ message: data.message, width: 300, shading: true, position: 'center' }, "success", 1500);
                        // HideAlert(alert);
                    }
                    else {
                        alert = DevExpress.ui.dialog.alert(data.message, "Error");
                    }
                }
            });
        }
    </script>
    @* Nested Grid And FAB *@
    <script>
    function ShowNarration()
    {
        var btn_text = $("#ButCB_Audit_Narration").dxButton("instance").option("text");
        if (btn_text == "Show Narration")
        {
            CBaudit_AllowCellMerge = false;
            $("#ButCB_Audit_Narration").dxButton("instance").option("text", "Hide Narration");
        }
        else
        {
            CBaudit_AllowCellMerge = true;
            $("#ButCB_Audit_Narration").dxButton("instance").option("text", "Show Narration");
        }
        CashBookAuditListGrid.PerformCallback({ "GetLatestData": false, "ShowHorizontalBar": CBaudit_ShowHorizontalBar, "AllowCellMerge": CBaudit_AllowCellMerge, "ViewMode": CBauditGrid_ViewMode });
    }

    function OnCashBookListPreviewClick()
    {
		ShowLoader();
        OpenPopup("report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "CashBookAuditor", new { @area = "Account" })", "auto", "20%", false, null);
    }
    </script>
    @* Grid Bottom Buttons *@
    <script>
    function Vouching_GenerateFilterText()
    {
         ShowLoader();
        $.ajax({
            url: '@Url.Action("Vouching_GenerateFilterText", "CashBookAuditor")',
            type: "GET",
            success: function (data)
            {
                HideLoader();
                $("#lbl_Vouching_Filter").text(data);
            }
        });
        }   
    </script>
</div>