@using DevExtreme.AspNet.Mvc;
@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    var ID = (string)ViewBag.ID;
    var MID = (string)ViewBag.MID;
    var CENID = (Int32)ViewBag.CENID;    
}
<style>
    .dx-button-has-icon .dx-button-content {
        position: relative;
        /* min-width: 70px; */
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 26px;
        padding-right: 10px;
        text-align: center;
        margin-right: -1px;
    }

    #NestedGridBtn_Div {
        position: absolute;
    }

    #CB_NestedGrid_Action_BG .dx-icon {
        font-weight: bold;
        font-size: 20px;
    }

    .wrapText {
        word-break: break-all;
    }

    .hideHeader {
        display: none;
    }

    .documentGrid .dxgvDataRow_Aqua td.dxgv, .dxgvDetailRow_Aqua.dxgvADR td.dxgvAIC {
        overflow-x: scroll;
        border-bottom: 1px Solid #c0c0c0;
        border-right: 1px Solid #c0c0c0;
        border-top-width: 0;
        border-left-width: 0;
        padding: 1px 1px 1px;
        word-break: break-all;
    }
</style>

<div class="col-md-12">
    <label>Documents Attached:</label>


    @*@(Html.DevExtreme().ButtonGroup()
                                                                                .ID("CB_NestedGrid_Action_BG")
                                                                                    .KeyExpr("item")
                                                                                    .StylingMode(ButtonStylingMode.Text)
                                                                                    .SelectionMode(ButtonGroupSelectionMode.Single)
                                                                                    .Items(items =>
                                                                                    {
                                                                                        items.Add().Icon("spinleft").Hint("Previous").Option("item", "Prev");
                                                                                        items.Add().Icon("spinright").Hint("Next").Option("item", "Next");
                                                                                        items.Add().Icon("edit").Hint("Edit").Option("item", "Edit");
                                                                                        items.Add().Icon("check").Hint("Accept").Option("item", "Accept");
                                                                                        items.Add().Icon("clear").Hint("Reject").Option("item", "Reject");
                                                                                    })
                                                                                    .OnItemClick("buttonGroup_ItemClick")
        )*@




    <div class="row">
        <div class="col-md-12" id="CBAuditNestedGrid_Div">
            <form>
                @Html.Action("Frm_Voucher_Info_CB_Grid_Nested_Auditor", "CashBookAuditor", new { ID = ID, MID = MID, SessionGUID = SessionGUID, CENID = CENID })
            </form>
        </div>
    </div>
    <label>Additional Info:</label>
    <div class="row">
        <div class="col-md-12" id="CBAuditAdditionalInfo_Div">
            <form>
                @Html.Action("Frm_Voucher_Info_CB_Grid_Auditor_AdditionalInfo", "CashBookAuditor", new { ID = ID, MID = MID, SessionGUID = SessionGUID,CENID = CENID })
            </form>
        </div>
    </div>
</div>
@*<div>
        @(Html.DevExtreme().SpeedDialAction()
                            .ID("action-prev")
                            .Icon("spinleft")
                            .Label("Add row")
                            .Index(1)
                //  .OnClick("addRow")
        )

        @(Html.DevExtreme().SpeedDialAction()
                            .ID("action-next")
                            .Icon("spinright")
                            .Visible(true)
                            .Label("Delete row")
                            .Index(2)
                //  .OnClick("deleteRow")
        )

        @(Html.DevExtreme().SpeedDialAction()
                            .ID("action-edit")
                            .Icon("edit")
                            .Visible(true)
                            .Label("Edit row")
                            .Index(3)
                // .OnClick("editRow")
        )
        @(Html.DevExtreme().SpeedDialAction()
                            .ID("action-accept")
                            .Icon("check")
                            .Visible(true)
                            .Label("Edit row")
                            .Index(4)
                // .OnClick("editRow")
        )
        @(Html.DevExtreme().SpeedDialAction()
                        .ID("action-reject")
                        .Icon("clear")
                        .Visible(true)
                        .Label("Edit row")
                        .Index(4)

            // .OnClick("editRow")
        )
    </div>*@

@*<div>
        <form>
            @Html.Partial("CBAuditNested_FAB")
        </form>
    </div>*@
<script>
    var direction =
    {
        position:
        {
            of: "#LeftPane_Div_Content",
            my: "right bottom",
            at: "right bottom"

        }
    };
    function buttonGroup_ItemClick(e) {
        //CBAuditNested_FAB.ExpandActionGroupItems();
        //var btn = e.actionName;
        var btn = e.itemData.item;
        if (btn == "Prev") {
            DocumentGridPrevNextClick(btn);
        }
        else if (btn == "Next") {
            DocumentGridPrevNextClick(btn);
        }
        else if (btn == "Edit") {
            DocumentGridEditBtnClick();
        }
        else if (btn == "Reject") {
            DocumentGridRejectBtnClick();
        }
        else if (btn == "Accept") {
            DocumentGridAcceptBtnClick();
        }
    }
    function DocumentGridPrevNextClick(btn, _SelectedRowIndex= -1) {
        var TotalGridRows = CashBookNestedGrid_Auditor.GetVisibleRowsOnPage();
        var SelectedRowIndex = _SelectedRowIndex == -1 ? CashBookNestedGrid_Auditor.GetFocusedRowIndex() : _SelectedRowIndex;
        if (btn == "Prev") {
            if (SelectedRowIndex == 0) {
                CashBookNestedGrid_Auditor.SetFocusedRowIndex(TotalGridRows - 1);
            }
            else {
                CashBookNestedGrid_Auditor.SetFocusedRowIndex(SelectedRowIndex - 1);
            }
        }
        else if (btn == "Next") {
            if (SelectedRowIndex >= (TotalGridRows - 1)) {
                CashBookNestedGrid_Auditor.SetFocusedRowIndex(0);
            }
            else {
                CashBookNestedGrid_Auditor.SetFocusedRowIndex(SelectedRowIndex + 1);
            }
        }
    }
    function DocumentGridEditBtnClick() {
        if (CB_Attachment_ID_auditor == null || CB_Attachment_ID_auditor.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        if (CB_Attachment_Action_Status_auditor.toUpperCase() == "LOCKED") {
            DevExpress.ui.dialog.alert("Locked Entry Cannot Be Edited", "Error");
            return;
        }
        EditAttachment(CB_MasterRowMID_auditor == (null || "") ? CB_MasterRowRecID_auditor : CB_MasterRowMID_auditor, CB_VoucherScreen_Name_auditor, CB_Attachment_ID_auditor, Nested_Params_Mandatory_auditor, Nested_LABEL_FROM_DATE_auditor, Nested_LABEL_TO_DATE_auditor, Nested_LABEL_DESCRIPTION_auditor, "CashBookAuditAttachment", null, null, CBNestedGridName);
    }
    function DocumentGridRejectBtnClick() {
        if (CB_Attachment_ID_auditor == null || CB_Attachment_ID_auditor.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(CB_Attachment_ID_auditor, "CashBookAuditListGrid", CBNestedGridName);
    }
    function DocumentGridAcceptBtnClick() {
        if (CB_Attachment_ID_auditor == null || CB_Attachment_ID_auditor.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(CB_Attachment_ID_auditor, null, CBNestedGridName);
    }
</script>
<script>
    $(document).ready(function () {
        //DevExpress.config({
        //    floatingActionButtonConfig: direction
        //});

        //DevExpress.ui.repaintFloatingActionButton();

    });

</script>
