@using DevExtreme.AspNet.Mvc;
@{
   
}


        <div class="row">
            <div class="form-field">
                <div class="container-fluid">        
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>Zone:</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 prm">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_Zone").Name("CB_Zone").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("LookUp_GetZone").Key("Zone_Name")).DisplayExpr("Zone_Name").ValueExpr("Zone_Name")
                                  .OnValueChanged("CB_Zone_ValueChange").ShowClearButton(true).ContentTemplate(@<text>@Html.Partial("CB_Zone_List")</text>).OnClosed("ZoneCloseDropDown"))
                        </div>                
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>Sub Zone:</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 prm">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_SubZone").Name("CB_SubZone").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("LookUp_GetSubZone").Key("ShortName").LoadParams(new { Zone = new JS("function (){ return CB_Zone;}") }))
                                          .DisplayExpr("Name").ValueExpr("ShortName").OnValueChanged("CB_SubZone_ValueChange").ContentTemplate(@<text>@Html.Partial("CB_Subzone_List")</text>).OnClosed("SubZoneCloseDropDown"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>State:</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 prm">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_State").Name("CB_State").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("LookUp_GetState").Key("R_ST_REC_ID")).DisplayExpr("R_ST_NAME").ValueExpr("R_ST_REC_ID")
                                          .OnValueChanged("CB_State_ValueChange").ContentTemplate(@<text>@Html.Partial("CB_State_List")</text>).OnClosed("StateCloseDropDown"))
                        </div>                 
                        <div class="col-sm-12 col-md-6 col-lg-2 pll">
                            <label>UID:</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 prm">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("CB_UID").Name("CB_UID").DataSource(d => d.Mvc().Controller("CashBookAuditor").LoadAction("LookUp_GetUID").Key("CEN_ID")
                                          .LoadParams(new { Zone = new JS("function (){ return CB_Zone;}"), Subzone = new JS("function (){ return CB_Subzone;}"), Stateid = new JS("function (){ return CB_Stateid;}") }) )
                            .DisplayExpr("UID").ValueExpr("CEN_ID").OnValueChanged("CB_UID_ValueChange").ContentTemplate(@<text>@Html.Partial("CB_UID_List")</text>))
                        </div>
                    </div>              
                </div>
            </div>
        </div>
