<div class="ConstructionReport_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress;
    @using DevExpress.Web.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;

        bool ConstructionReport_ExportRight = (bool)ViewData["ConstructionReport_ExportRight"];
    }

    <div id="content" class="col-md-12 report_header_div_main">
        <div class="col-md-4 report_header_div">
            <label class="report_header_label">Construction Report</label>
        </div>
        @*Buttons*@
        <div class="report_button_div">
            @(Html.DevExtreme().Button()
                                        .ID("ConstructionReportsModelListPreview")
                                        .Text("Export")
                                        .Icon("save")
                                        .Visible(true)
                                         .Width(80)
                                        .OnClick(@<text>
                                            function () {
                                            OnConstructionReportListPreviewClick();
                                            }
                                        </text>)
        )
            @(Html.DevExtreme().Button()
                                        .ID("ConstructionReportModelCLOSE")
                                        .Text("Close")
                                        .Icon("clear")
                                        .OnClick(@<text>
                                            function (){
                                            $(".TabPanalMenu-tabs .active span").click()
                                            }
                                        </text>)

        )
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <form>
            <div id="ConstructionReportreloadPartialView" class="parent_table">
                @Html.Partial("Frm_Construction_Report_Grid", Model)
            </div>
        </form>
    </div>

    @*<div class="footer-MainBoxdiv full-width-footer">
            <div class="col-lg-4 footer_smallbtns report_footer_small_buttons_div" id="ConstructionReportFooterItem">
                @(Html.DevExtreme().Button()
                                                .ID("btnConstructionReportShowColumnChooser")
                                                .ElementAttr("class", "column-chooser")
                                                .Icon("add")
                                                .Hint("Show Column Chooser")
                                                .OnClick(@<text>
                                                    function () {
                                                    ConstructionReportShowColumnChooser();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                                .ID("btnConstructionReportShowGroupPanel")
                                                .Icon("spinup")
                                                .Hint("Show Group Box")
                                                .OnClick(@<text>
                                                    function () {
                                                    ConstructionReportShowGroupPanel();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                                .ID("ConstructionReportGroupColumn")
                                                .Icon("fa fa-forward fa-rotate-270")
                                                .Hint("Show Grouped column")
                                                .OnClick(@<text>
                                                    function () {
                                                    OnConstructionReportGroupClick();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("ConstructionReportShowFooter")
                                            .Icon("fa fa-fast-forward fa-rotate-270")
                                            .Hint("Show Footer Bar")
                                            .OnClick(@<text>
                                                function () {
                                                SetConstructionReportFooterVisible();
                                                }
                                            </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("ConstructionReportShowGroupFooter")
                                            .Icon("fa fa-minus")
                                            .Hint("Show Group Footer Bar")
                                            .OnClick(@<text>
                                                function () {
                                                SetConstructionReportGroupPanelFooterVisible();
                                                }
                                            </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("ConstructionReportCreateFilterButton")
                                            .Icon("todo")
                                            .Hint("Open Filter Builder")
                                            .OnClick(@<text>
                                                function () {
                                                ConstructionReportCreateFilterClick();
                                                }
                                            </text>)
                )
            </div>

            <div class="col-lg-8 report_footer_filter_buttons_div setFooterItem">
                <div class="footer-inner">
                    <div class="filter_main" style="float:right">
                            @(Html.DevExtreme().Button()
                                                .ID("ConstructionReportSearch")
                                                .Text("Find")
                                                .Icon("find")
                                                .Hint("Show search")
                                                .ElementAttr(new Dictionary<string, object>() { { "class", "float-right find_btn" } })
                                                .OnClick(@<text>
                                                    function () {
                                                    OnConstructionReportSearchClick();
                                                    }
                                                </text>))

                            @(Html.DevExtreme().Button()
                                                .ID("ConstructionReportFind")
                                                .Text("Filter")
                                                .Icon("find")
                                                .Hint("Show filter")
                                                .ElementAttr(new Dictionary<string, object>() { { "class", "float-right filter_btn" } })
                                                .OnClick(@<text>
                                                    function () {
                                                    OnConstructionReportFilterClick();
                                                    }
                                                </text>)
                            )
                        </div>
                    <div   style="float:right">
                        @Html.DevExpress().TrackBar(
                           tb =>
                           {
                               tb.Name = "ConstructionReportTrackBar";
                               tb.Properties.ScalePosition = ScalePosition.LeftOrTop;
                               tb.Properties.ValueToolTipPosition = ValueToolTipPosition.RightOrBottom;
                               tb.Properties.ValueType = typeof(string);
                               tb.Width = 150;
                               tb.Position = 2;
                               tb.Properties.ClientSideEvents.PositionChanged = "ConstructionReportTrackBarPositionChanged";
                               tb.ControlStyle.CssClass = "float-right";
                               tb.Properties.ScalePosition = ScalePosition.None;
                           }
                       ).GetHtml()
                    </div>
                </div>
            </div>
        </div>*@

    <div class="col-md-12">
        @*Add/Edit Popup*@
        @(Html.DevExtreme().Popup().CustomPopup()
                .ID("ConstructionReport_report_modal")
                 .OnShowing("PopupOnShowing")
                .Title("Construction Report Preview")
                .FullScreen(false)
                .MaxWidth(125)
                .Height("auto")
                .ShowCloseButton(true)
                .ContentTemplate(@<text>
                    <div id='ConstructionReport_report_modal_result'>
                    </div>
                </text>)
    )

    </div>

    @*Javascript Events*@
<script type="text/javascript">

        var IsConstructionReportSucessPopup = false;
        var IsConstructionReportViewPopup = false;
        var ConstructionReportSearchVisible = true;
        var ConstructionReportFilterVisible = true;
        var ConstructionReportGroupedColumnsVisible = false;
        var ConstructionReportGroupPanelFooterVisible = true;
        var ConstructionReportFooterVisible = true;
        var ConstructionReportGroupPanelVisible = true;

    $(document).ready(function () {
        if ("@ConstructionReport_ExportRight" == "False")
        {
	        $("#ConstructionReportsModelListPreview").hide();
        }
        IsConstructionReportSucessPopup = false;
        IsConstructionReportViewPopup = false;
        SetConstructionReportGroupPanelFooterVisible();
        $("#ConstructionReportListGrid").hover(function () {
            ConstructionReportListGrid.Focus()
        })
    });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Reports/ConstructionReport/SessionClear",
            cache: false
        });
        ClearAllReferences_ConstructionReport();
    });
        function ClearAllReferences_ConstructionReport()
        {
            IsConstructionReportSucessPopup = null;
            IsConstructionReportViewPopup = null;
            ConstructionReportSearchVisible = null;
            ConstructionReportFilterVisible = null;
            ConstructionReportGroupedColumnsVisible = null;
            ConstructionReportGroupPanelFooterVisible = null;
            ConstructionReportFooterVisible = null;
            ConstructionReportGroupPanelVisible = null;

            ClearAllReferences("ConstructionReport_ClearReferences");
        }
    function ConstructionReportOnInit(s, e) {
        ConstructionReportAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            ConstructionReportAdjustSize();
        });
    }

    function OnEndCallback(s, e) {
        ConstructionReportAdjustSize();
    }

    function ConstructionReportAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try{ConstructionReportListGrid.SetHeight(height);} catch (err) { }
    }

    function UpdateConstructionReportCustomizationWindowVisibility() {
        if (ConstructionReportListGrid.IsCustomizationWindowVisible()) {
            ConstructionReportListGrid.HideCustomizationWindow();
            $("#btnConstructionReportShowColumnChooser").attr("title", "Show Column Chooser ")
        }
        else {
            ConstructionReportListGrid.ShowCustomizationWindow();
            $("#btnConstructionReportShowColumnChooser").attr("title", "Hide Column Chooser ");
            $("#btnConstructionReportShowColumnChooser").find("i").toggleClass("dx-icon-add").toggleClass("dx-icon-close");
        }

    }

    function CloseColumnChooser() {

        if (!ConstructionReportListGrid.IsCustomizationWindowVisible()) {
            $("#btnConstructionReportShowColumnChooser").find("i").toggleClass("dx-icon-add").toggleClass("dx-icon-close");
            $("#btnConstructionReportShowColumnChooser").attr("title", "Show Column Chooser ");
        }
    }

    function ConstructionReportTrackBarPositionChanged() {
        var ConstructionReportcurrentZoom = 1.0;
        var ConstructionReporttrackBarCurrentValue = ConstructionReportTrackBar.GetValue()
        if (ConstructionReporttrackBarCurrentValue != 0) {
            ConstructionReportcurrentZoom += ConstructionReporttrackBarCurrentValue / 100;
        }
        $('#ConstructionReportreloadPartialView').animate({ 'zoom': ConstructionReportcurrentZoom }, 'slow');
    }

    $("#ConstructionReportTrackBar").click(function (evt) {

    });

    function OnConstructionReportListPreviewClick() {
        if ("@ConstructionReport_ExportRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        
        OpenPopup("ConstructionReport_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "ConstructionReport", new { @area = "Reports" })", "auto", "auto", false, null)
    }

    function ContextMenuFunction(s, e) {
        if (e.item.name == 'Close') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'ListPreview') {
            OnConstructionReportListPreviewClick();
        }
        else if (e.item.name == 'Refresh') {
            ConstructionReportListGrid.Refresh();
        }
    }

    function ConstructionReportShowColumnChooser() {
        UpdateConstructionReportCustomizationWindowVisibility();
    }

    function ConstructionReportShowGroupPanel() {
        ConstructionReportGroupPanelVisibility();
    }

    function OnConstructionReportGroupClick() {
        if ($('[id^=ConstructionReportListGrid_groupcol').length != 0) {
            ConstructionReportListGrid.PerformCallback({ 'FilterVisible': ConstructionReportFilterVisible, "SearchVisible": ConstructionReportSearchVisible, "ShowGroupedColumns": !ConstructionReportGroupedColumnsVisible });
            $("#ConstructionReportGroupColumn").find("i").toggleClass("fa fa-forward fa-rotate-270").toggleClass("fa fa-backward fa-rotate-270");
            ConstructionReportGroupedColumnsVisible = !ConstructionReportGroupedColumnsVisible;
            if (!ConstructionReportGroupedColumnsVisible) {
                $("#ConstructionReportGroupColumn").attr("title", "Show Grouped Column")
            } else {
                $("#ConstructionReportGroupColumn").attr("title", "Hide Grouped Column")
            }
        }
    }

    function OnConstructionReportSearchClick() {
        ConstructionReportListGrid.PerformCallback({ 'FilterVisible': ConstructionReportFilterVisible, "SearchVisible": ConstructionReportSearchVisible, "ShowGroupedColumns": !ConstructionReportGroupedColumnsVisible });
        if (ConstructionReportSearchVisible) {
            ConstructionReportListGrid.contextMenuHelper.ContextMenuShowSearchPanel(1);
            $("#ConstructionReportSearch").attr("title", "Hide Search ")
        }
        else {
            ConstructionReportListGrid.contextMenuHelper.ContextMenuShowSearchPanel(0);
            $("#ConstructionReportSearch").attr("title", "Show Search ")
        }
        ConstructionReportSearchVisible = !ConstructionReportSearchVisible;
    }

    function OnConstructionReportFilterClick() {
        ConstructionReportListGrid.PerformCallback({ 'FilterVisible': ConstructionReportFilterVisible, "SearchVisible": ConstructionReportSearchVisible, "ShowGroupedColumns": !ConstructionReportGroupedColumnsVisible });
        if (ConstructionReportFilterVisible) {
            $("#ConstructionReportFind").attr("title", "Hide Filter ")
            ConstructionReportListGrid.contextMenuHelper.ContextMenuShowFilterRow(1);
        }
        else {
            $("#ConstructionReportFind").attr("title", "Show Filter ")
            ConstructionReportListGrid.contextMenuHelper.ContextMenuShowFilterRow(0);
        }
        ConstructionReportFilterVisible = !ConstructionReportFilterVisible;
    }

    function OnGridConstructionReportListGrid_EndCallback() {
        if (!ConstructionReportGroupPanelFooterVisible)
        { $('#ConstructionReportListGrid .dxgvGroupFooter_MetropolisBlue').show(); }
        else {
            $('#ConstructionReportListGrid .dxgvGroupFooter_MetropolisBlue').hide();
        }
    }

    function ConstructionReportGroupPanelVisibility() {
        if (ConstructionReportGroupPanelVisible) {
            if (ConstructionReportListGrid.contextMenuHelper == undefined)
            { ConstructionReportListGrid.Refresh(); }
            $("#btnConstructionReportShowGroupPanel").attr("title", "Hide Group box ")
            ConstructionReportListGrid.contextMenuHelper.ContextMenuShowGroupPanel(1)
        }
        else {
            $("#btnConstructionReportShowGroupPanel").attr("title", "Show Group box ")
            ConstructionReportListGrid.contextMenuHelper.ContextMenuShowGroupPanel(0);
        }
        ConstructionReportGroupPanelVisible = !ConstructionReportGroupPanelVisible;

        $("#btnConstructionReportShowGroupPanel").find("i").toggleClass("dx-icon-spinup").toggleClass("dx-icon-spindown");
    }

    function SetConstructionReportGroupPanelFooterVisible() {
        if (ConstructionReportGroupPanelFooterVisible) {
            $("#ConstructionReportShowGroupFooter").attr("title", "Hide Group  Footer Bar");
            $('#ConstructionReportListGrid .dxgvGroupFooter_MetropolisBlue').show();
        }
        else {
            $("#ConstructionReportShowGroupFooter").attr("title", "Show Group Footer Bar");
            $('#ConstructionReportListGrid .dxgvGroupFooter_MetropolisBlue').hide();
        }
        ConstructionReportGroupPanelFooterVisible = !ConstructionReportGroupPanelFooterVisible;
    }

    function SetConstructionReportFooterVisible() {
        $("#ConstructionReportShowFooter").find("i").toggleClass("fa fa-fast-forward fa-rotate-270").toggleClass("fa fa-fast-backward fa-rotate-270");
        if (ConstructionReportFooterVisible) {
            $("#ConstructionReportShowFooter").attr("title", "Hide Footer Bar");
            ConstructionReportListGrid.contextMenuHelper.ContextMenuShowFooter(1);
        }
        else {
            $("#ConstructionReportShowFooter").attr("title", "Show Footer Bar");
            ConstructionReportListGrid.contextMenuHelper.ContextMenuShowFooter(0);
        }
        ConstructionReportFooterVisible = !ConstructionReportFooterVisible;
    }

    function ConstructionReportCreateFilterClick() {
        ASPx.GVShowFilterControl('ConstructionReportListGrid');
    }

</script>
</div>