@using DevExtreme.AspNet.Mvc;
@using System.Web.Mvc.Html;
@using System.Data;
@model ConnectOneMVC.Areas.Facility.Models.Chart
@{
    //ViewBag.Title = "center_website";
    Layout = "";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Thankyou for Registration</title>
    <meta name="description" content="" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet" />
    <link href="~/Content/ServiceModule/EventDetails/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.brahmakumaris.com/wp-content/themes/olympus/Bootstrap/dist/js/bootstrap.bundle.js?ver=4.0.0" id="olympus-bootstrap-js"></script>
    <style>
        * {
            box-sizing: border-box;
            /* outline:1px solid ;*/
        }

        body {
            background: #ffffff;
            background: linear-gradient(to bottom, #ffffff 0%,#e1e8ed 100%);
            /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e8ed',GradientType=0 );*/
            height: 100%;
            margin: 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .wrapper-1 {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .wrapper-2 {
            max-width: 900px;
            text-align: center;
            border: ridge 2px grey;
            box-shadow: 7px 10px 1px rgba(0,0,0,.1);
            border-radius: 10px;
            margin: 0 auto;
            background: #fff;
            margin-top: 40px;
            padding: 0px 10px 15px 10px;
        }

            .wrapper-2 p {
                margin: 0 15px 15px;
                font-size: 1.2em;
                font-family: 'Source Sans Pro', sans-serif;
            }

            .wrapper-2 img {
                max-width: 100%;
                border-radius: 7px 7px 0 0
            }

                .wrapper-2 img.thankyou {
                    max-width: 100%;
                    max-width: 400px;
                }

        .btn-txt {
            color: #fff;
            background: #703b99;
            border: none;
            padding: 10px 30px;
            margin: 10px 5px;
            border-radius: 20px;
            text-transform: capitalize;
            box-shadow: 0 6px 10px 1px rgb(112 59 153 / 40%);
            cursor: pointer;
            transition: .5s all;
            font-family: 'Source Sans Pro', sans-serif;
        }

            .btn-txt:hover {
                box-shadow: 0 10px 16px 4px rgb(112 59 153 / 40%);
            }

        .wrapper-2 small {
            font-size: 12px
        }

        .wrapper-2 b {
            margin-top: 10px;
            display: inline-block;
        }

        /*Responsive CSS for Mobile*/
        @@media only screen and (max-device-width:767px) {
            .wrapper-2 {
                margin-top: 0
            }

            .wrapper-1 {
                padding: 10px
            }

            .wrapper-2 img.thankyou {
                max-width: 270px
            }
        }

        .ev-datetime span {
            white-space: nowrap;
        }
    </style>
</head>

<body>
    <div class=content id="p">
        <div class="wrapper-1">
            <div class="wrapper-2">
                <img src="@Model.header_image" />
                @*<img src="~/Content/Events/images/divya-basant.jpg" />*@
                <img src="~/Content/Events/images/thankyou.png" class="thankyou" />
                @if (Model.AlreadyRegistered == true)
                {
                    <p style="font-size:24px;color:red">You are Already Registered</p>
                }
                <p>
                    @if (Model.chartResponseStatus == "APPROVE")
                    {
                        @Html.Raw(Model.approval_message)
                    }
                    else if (Model.chartResponseStatus == "REJECT")
                    {
                        @Html.Raw(Model.rejection_message)
                    }
                    else
                    {
                        @Html.Raw(Model.confirmation_message)
                    }

                </p>
                @if (Model.show_reg_slip && Model.chartResponseStatus == "APPROVE")
                {
                    <button onclick="printRegistrationSlip()" class="btn-txt">Print Registration Slip</button>
                    <button onclick="downloadRegistrationSlip()" class="btn-txt">Download Registration Slip</button>
                }
            </div>
        </div>
    </div>

    <style>
        * {
            font-family: 'Source Sans Pro', sans-serif;
        }

        .modal.ticket-m {
            padding-left: 0 !important
        }

        .ev-tkt {
            margin-bottom: 20px
        }

            .ev-tkt h4 {
                margin-bottom: 5px;
                font-weight: 600;
            }

            .ev-tkt aside {
                width: calc(100% - 95px);
                float: left
            }

            .ev-tkt img {
                width: 80px;
                height: 80px;
                border-radius: 6px;
                float: left;
                margin-right: 15px
            }

        .ticket-m .modal-dialog {
            filter: drop-shadow(0 2px 5px rgba(0,0,0,0.5));
            position: relative;
            text-align: center;
            background-size: 51% 100%;
            background-repeat: no-repeat;
            background-image: radial-gradient(circle at 0 50%, rgba(255,255,255,0) 0.9em, #ffffff 1em), radial-gradient(circle at 100% 50%, rgba(255,255,255,0) 0.9em, #ffffff 1em);
            background-position: top left, top right;
            font-family: 'Source Sans Pro', sans-serif;
        }

        @@-webkit-keyframes bg {
            0% {
                background-color: #ff4500;
            }

            50% {
                background-color: #b0e0e6;
            }

            100% {
                background-color: #ff4500;
            }
        }

        @@keyframes bg {
            0% {
                background-color: #ff4500;
            }

            50% {
                background-color: #b0e0e6;
            }

            100% {
                background-color: #ff4500;
            }
        }

        .reg-id {
            background: #fbb61d;
            border: 4px solid #000;
            border-radius: 14px;
            display: inline-block;
            font-size: 18px
        }

            .reg-id h3 {
                margin: 0 0 2px;
                font-size: 30px;
                font-weight: 900
            }

            .reg-id aside {
                padding: 5px 12px;
                border-bottom: 4px solid #000;
                font-weight: 900
            }

        .red {
            color: #dc3545
        }

        .ticket-m .modal-header {
            background: #dc3545;
            color: #fff;
            font-weight: 600;
            display: block;
            padding: 12px;
            border-radius: 0;
            position: relative;
            text-align: center
        }

        .btn-print {
            position: absolute;
            top: -28px;
            right: 20px;
            padding: 6px 20px
        }

        .ticket-m .modal-header .bx {
            font-size: 18px;
        }

        .ticket-m .modal-body {
            text-align: left;
            padding: 30px 30px 20px;
        }

        .ticket-m .modal-content {
            background: transparent;
            border: none;
            box-shadow: none;
        }

        .ticket-m .close {
            color: #fff
        }

        .ticket-m .modal-footer {
            border-top: 2px dashed #d6d6d6;
            background: #e9ecf1;
            align-items: center;
            justify-content: center;
            padding: 1.4rem;
            color: #000;
            position: relative
        }

        @@media print {
            .btn-print, .close, .wrapper-1 {
                display: none;
            }

            .modal-header {
                background-color: #dc3545;
                -webkit-print-color-adjust: exact;
            }

            .modal-footer {
                background-color: #e9ecf1;
                -webkit-print-color-adjust: exact;
            }

            .reg-id {
                background-color: #fbb61d;
                -webkit-print-color-adjust: exact;
            }
        }
    </style>

    <div class="modal ticket-m" tabindex="-1" role="dialog" id="ticketMdl" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #dc3545; color: #fff; font-weight: 600; display: block; padding: 12px; border-radius: 0; position: relative; text-align: center">
                    <b style="font-size: x-large;">&#128278; @Model.heading</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-html2canvas-ignore="true">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="clearfix ev-tkt">
                        <img src="@Model.thumbnail_image_path" />
                        @*<img src="~/Content/Events/images/event3.jpg">*@
                        <aside>
                            <h4>@Html.Raw(Model.event_name)</h4>
                            <div class="ev-datetime">
                                <div>
                                    <span class="mr-3">📅 @Model.schedule_date</span>
                                    <span>⏰ @Model.schedule_time</span>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-md-6">
                                <b class="red">@Html.Raw(@Model.Visitor_Name_Label)</b>
                                <p>@Html.Raw(@Model.visitor_name)</p>
                            </div>
                            <div class="col-md-6">
                                <b class="red">@Html.Raw(@Model.Visitor_Details_Label)</b>
                                <p>@Html.Raw(@Model.visitor_contact)</p>
                            </div>
                            @if (!Model.visitor_location.Equals(""))
                            {
                        <div class="col-md-6">
                            <b class="red">@Html.Raw(@Model.Visitor_Location_Label)</b>
                            <p>@Model.visitor_location</p>
                            @*@if (!Model.visitor_location.Equals(""))
                            {<img src=@Model.visitor_location_qrcode_url />}*@
                        </div>
                            }
                            @if (!Model.helpline.Equals(""))
                            {
                                <div class="col-md-6">
                                    <b class="red">Helpline No</b>
                                    <p>@Model.helpline</p>
                                </div>}
                            <div class="col-md-12">
                                <b class="red">Organizer</b>
                                <p>@Model.Organizer</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center"><b><i>@Html.Raw(@Model.Reg_Confirmation_Footer)</i></b></div>
                    <div>@Html.Raw(HttpUtility.HtmlDecode(@Model.Reg_Slip_Instructions))</div>
                </div>

                <div class="modal-footer" style="border-top: 2px dashed #d6d6d6; background: #e9ecf1; text-align:center; align-items: center; justify-content: center; padding: 1.4rem; color: #000; position: relative;">
                    <div class="reg-id" style="text-align:center; display:inline-block">
                        <aside>REGISTRATION NUMBER</aside>
                        <h3>@Model.registration_no</h3>
                    </div>
                    @*<button onclick="window.print();" class="btn-txt btn-print" data-html2canvas-ignore="true">Print</button>*@
                    <button onclick="downloadorprint()" id="downloadOrPrint" class="btn-txt btn-print" data-html2canvas-ignore="true">Download</button>
                </div>

            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/ServiceModuleScripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js" integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

    <script>
        $(document).ready()
        {
            $("a.PrintRegSlip_Approve_DB").hide();
        }
        function printRegistrationSlip() {
            document.getElementById("downloadOrPrint").innerHTML = "Print"
            $('#ticketMdl').modal('show')
        }
        function downloadRegistrationSlip() {
            document.getElementById("downloadOrPrint").innerHTML = "Download"
            $('#ticketMdl').modal('show')
        }

        function downloadorprint() {
            if (document.getElementById("downloadOrPrint").innerHTML == "Print") { window.print(); }
            else if (document.getElementById("downloadOrPrint").innerHTML == "Download") {
                var pdf_content = document.getElementById("ticketMdl");
                var options = {
                    margin: 1,
                    filename: 'ConfirmationTicket.pdf',
                    //image: { type: 'png', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };
                html2pdf($("#ticketMdl").html(), options);
            }
        }
                //$("#downloadOrPrint").click(function () {
                //    var pdf_content = document.getElementById("ticketMdl");
                //    var options = {
                //        margin: 1,
                //        filename: 'ConfirmationTicket.pdf',
                //        //image: { type: 'png', quality: 0.98 },
                //        html2canvas: { scale: 2 },
                //        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                //    };
                //    html2pdf($("#ticketMdl").html(), options);
                //});


    </script>
</body>
</html>

