@using System.Data
@*@model System.Data.DataRow[]*@
@model ConnectOneMVC.Areas.Facility.Models.previewResponse
@{

}


<style>
    .dx-checkbox-icon {
        border: 1px solid black;
    }

    .dx-radiobutton-icon:before {
        width: 16px !important;
        height: 16px !important;
        border: 1px solid black;
    }

    .dx-radiobutton-checked .dx-radiobutton-icon-dot {
        margin-top: -13px !important;
        margin-left: 5px !important;
        width: 8px !important;
        height: 8px !important;
    }

    .DropDownDataGrid {
        max-height: 350px;
    }

    .zoom {
        height: 200px;
        width: 200px;
        object-fit: contain;
        border: 1px solid #eee;
        border-radius: 8px;
        transition: all .2s;
    }

        .zoom:hover {
            height: 80vh;
            width: auto;
        }

    @@media only screen and (max-device-width:767px) {
        .DropDownDataGrid {
            max-height: 250px;
        }
    }

    .dx-datagrid-search-panel .dx-texteditor-input {
        padding-left: 34px !important;
    }
</style>


<style>
    /*   .section_FormResponse {
            background-color: white;
            margin: 10px 0px 10px 0px;
            padding: 10px 10px 10px 10px;
            border-radius: 10px;
            border: 1px solid lightgrey;
            box-shadow: 5px 5px 5px lightgrey;
        }*/
    .section_FormResponse {
        background-color: white;
        margin: 5px 0px 5px 0px;
        padding: 10px 0px 10px 0px;
        border-radius: 10px;
        border: 1px solid lightgrey;
        box-shadow: 2px 2px 2px lightgrey;
    }
    /*        #headerImage_FormResponse img {
            border-radius: 10px;
            border: 1px solid lightgrey;
        }*/
    #headerImage_FormResponse {
        padding: 0px;
    }

        #headerImage_FormResponse .col-sm-12 {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

    .linedivision_FormResponse {
        margin-top: 4px !important;
        margin-bottom: 4px !important;
        border: 0 !important;
        border-top: 1px solid lightgrey !important;
    }

    #form_FormResponse .imgThumbnail {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
        height: 150px;
        object-fit: fill;
    }

    #form_FormResponse .imgContainer {
        position: relative;
        width: 155px;
    }

    .imgContainer:hover .imgThumbnail {
        opacity: 0.3;
    }

    .imgdeleteButton {
        transition: .8s ease;
        opacity: 0;
        position: absolute;
        top: 20px;
        right: -8px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    .imgContainer:hover .imgdeleteButton {
        opacity: 1;
    }

    .custom-item {
        /*       position: relative;
            min-height: 30px;*/
    }

    .dx-dropdowneditor-input-wrapper .custom-item > img {
        padding-left: 8px;
    }

    .custom-item .dx-texteditor-input {
        height: 30px;
    }
    /*    .custom-item .custom-item-option
        {
            display: inline-block;
            padding-left: 50px;
            text-indent: 0;
            line-height: 30px;
            font-size: 15px;
            width: 100%;
            height: 30px;
        }*/
    .custom-item .custom-item-option {
        display: inline-block;
        padding-left: 50px;
        text-indent: 0;
        font-size: 15px;
    }
    /*    .custom-item > img {
            left: 1px;
            position: absolute;
            top: 50%;
            margin-top: -15px;
            max-height:120px;
            max-width:180px;
        }*/
    .custom-item > img {
        max-height: 120px;
        max-width: 180px;
    }

    #form_FormResponse .dx-fileuploader-wrapper {
        padding: 0px;
    }

    #form_FormResponse .dx-fileuploader-input-wrapper {
        padding: 0px;
        border: none;
    }

    .styleActionBtn .dx-button-content {
        height: 26px;
    }

    .styleActionBtn {
        text-align: right;
    }

        .styleActionBtn > div {
            margin-right: 4px;
        }

        .styleActionBtn .dx-button-has-text {
            margin-top: 2px !important;
        }

    #form_FormResponse .dx-button-has-icon .dx-button-content {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    #form_FormResponse .styleActionBtn > div > div {
        padding: 0px 0px 0px 0px !important;
    }

    #headerImage_FormResponse img {
        max-width: 100%;
    }

    #form_FormResponse .imgThumbnail {
        object-fit: contain;
        margin-top: 7px
    }

    .dx-fileuploader-files-container {
        padding-top: 0px !important;
        padding-right: 3px;
        padding-bottom: 0px;
        padding-left: 3px;
    }

    .panel-body {
        padding-bottom: 10px;
    }

    .red {
        color: red;
    }

    @@media only screen and (min-device-width:767px) {
        #headerImage_FormResponse img {
            border-radius: 10px;
            border: 1px solid lightgrey;
        }

        p {
            margin-bottom: 0
        }
    }

    @@media only screen and (max-device-width:767px) {
        #headerImage_FormResponse img {
            width: 100%;
            height: auto;
        }

        #header_FormResponse h2 {
            padding: 15px 0 10px;
            font-size: 20px;
            font-weight: 600
        }

        #headerImage_FormResponse .col-sm-12 {
            padding: 0;
        }

        .row.section_FormResponse {
            padding: 0 0;
            border: none;
            margin: 0 -15px;
            border-radius: 0;
        }

        .styleActionBtn {
            margin-bottom: 30px
        }

        #form_FormResponse .dx-button-has-icon .dx-button-content {
            padding: 10px;
            height: 34px;
        }

        #form_FormResponse .custom-item-option {
            white-space: normal
        }

        #form_FormResponse label {
            margin: 8px 0 2px
        }

        .dx-dropdowneditor.dx-dropdowneditor-field-clickable .dx-texteditor-input {
            padding-top: 0
        }

        #FormResponseParentDiv .dx-texteditor-input {
            min-height: 27px;
        }

        .imgContainer .imgdeleteButton {
            opacity: 1;
        }
    }
</style>
<div class="container-fluid" style="background-color: #E6F2EE;" id="FormResponseParentDiv">
    <div style="max-width:1150px;margin:0 auto">
        <div class="row section_FormResponse" id="headerImage_FormResponse" style="">
            <div class="col-sm-12">
                <img src="@Model.headerImage" width="1180" height="362" loading="lazy">
            </div>
        </div>
        <div class="row section_FormResponse" id="header_FormResponse">
            <div class="col-sm-12">
                <h2>@Model.formName</h2>
                <h4>@Model.formDescription</h4>
                <hr class="linedivision_FormResponse">
                <span style="color:red">*Required</span>
            </div>
        </div>
        @*@Html.Raw(HttpUtility.HtmlDecode(Model))*@
        @{int counter = 1;}
        @foreach (DataColumn c in Model.responseRow[0].Table.Columns)
        {
            string question = c.ColumnName;
            string answer = Model.responseRow[0][c.ColumnName].ToString();

            if (question == "RegNo" || question == "RegSrNo" || question == "Mob3" || question == "Mob4" || question == "Mob5" || question == "Email3" || question == "Email4" || question == "Email5" || question == "UserID" || question == "RESP_ID" || question == "REC_STATUS" || question == "Status" || question == "USERID_1" || question == "RESP_ID_1")
            {
                // These Columns need not to be shown.
            }
            else
            {
                if (counter % 2 == 1)
                {
                    @Html.Raw("<div class='row section_FormResponse'>")
                }
                <div class="col-sm-6" style="padding:10px">
                    <h5><b>Q @counter. @question </b> : @Html.Raw(HttpUtility.HtmlDecode(answer))  </h5>

                    @if (answer.Contains("</a>") && answer.Contains("Link"))
                    {
                        int startPosition = answer.IndexOf("href=\"") + "href=\"".Length;
                        int endPosition = answer.IndexOf("\">Link<");
                        string imageURL = answer.Substring(startPosition, (endPosition - startPosition));

                        <div class="col-sm-12" style="text-align:center">
                            <img class="zoom" src="@imageURL">
                            @*<img class="zoom" src="https://cdn-icons-png.flaticon.com/512/8073/8073545.png">*@
                        </div>
                    }
                </div>
                if (counter % 2 == 0)
                {
                    @Html.Raw("</div>")
                }
                counter = counter + 1;
            }

        }

    </div>
</div>







