<div class="ChartResponsesFacility_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @*@model IEnumerable<dynamic>*@
    @model System.Data.DataTable
    @{
        string SessionGUID = Request.QueryString["SessionGUID"];
        if (string.IsNullOrWhiteSpace(SessionGUID))
        {
            Layout = "~/Views/Shared/_NoLoginAllLayout.cshtml";
        }
        string chartInstanceID = (string)ViewBag.chartInstanceID;
        bool chartApprovalRequired = (bool)ViewBag.isApprovalRequired;
        string ServicePath = (string)ViewBag.ServicePath;
        string ServiceReportID = ViewBag.ServiceReportID;
        string EventID = ViewBag.EventID;
        string servicesPath = System.Web.Configuration.WebConfigurationManager.AppSettings["Servicespath"].ToString();
        string Purpose = ViewBag.Purpose;
        string chartid_responses = ViewBag.ChartID_Responses;
        string RegCentre = ViewBag.RegCentre;
        string RegCenId = ViewBag.RegCenId;
        bool showApproval = (bool)ViewBag.show_Approval;
        string QuestionFilter = ViewBag.Question_Filter;
        int RegistrationsTotalCount = int.Parse((string.IsNullOrWhiteSpace(ViewBag.RegistrationsTotalCount)==false)  ? ViewBag.RegistrationsTotalCount.ToString() : "0");
        int ApprovedResponseCount = int.Parse(string.IsNullOrWhiteSpace(ViewBag.ApprovedResponseCount) == false ? ViewBag.ApprovedResponseCount.ToString() : "0");
        int RejectionResponseCount = int.Parse(string.IsNullOrWhiteSpace(ViewBag.RejectionResponseCount) == false ? ViewBag.RejectionResponseCount.ToString() : "0");
        int DefaultStatus = ViewBag.DefaultStatus != null ? ViewBag.DefaultStatus : 0;

        bool Facility_ChartResponsesInfo_CreateLocalAddressRight = (bool)ViewData["Facility_ChartResponsesInfo_CreateLocalAddressRight"];
        bool Facility_ChartResponsesInfo_NotifyRight = (bool)ViewData["Facility_ChartResponsesInfo_NotifyRight"];
        bool Facility_ChartResponsesInfo_GroupDetailRight = (bool)ViewData["Facility_ChartResponsesInfo_GroupDetailRight"];
        bool Facility_ChartResponsesInfo_RecommendationRight = (bool)ViewData["Facility_ChartResponsesInfo_RecommendationRight"];
        bool Facility_ChartResponsesInfo_MarkCategoryRight = (bool)ViewData["Facility_ChartResponsesInfo_MarkCategoryRight"];
        bool Facility_ChartResponsesInfo_AddRemarkRight = (bool)ViewData["Facility_ChartResponsesInfo_AddRemarkRight"];
        bool Facility_ChartResponsesInfo_ApproveRight = (bool)ViewData["Facility_ChartResponsesInfo_ApproveRight"];
        bool Facility_ChartResponsesInfo_DraftRight = (bool)ViewData["Facility_ChartResponsesInfo_DraftRight"];
        bool Facility_ChartResponsesInfo_RejectRight = (bool)ViewData["Facility_ChartResponsesInfo_RejectRight"];
        bool Facility_ChartResponsesInfo_CancelRegistrationRight = (bool)ViewData["Facility_ChartResponsesInfo_CancelRegistrationRight"];
        bool Facility_ChartResponsesInfo_ArrivedRight = (bool)ViewData["Facility_ChartResponsesInfo_ArrivedRight"];
        bool Facility_ChartResponsesInfo_NotArrivedRight = (bool)ViewData["Facility_ChartResponsesInfo_NotArrivedRight"];
        bool Facility_ChartResponsesInfo_AccomodationRight = (bool)ViewData["Facility_ChartResponsesInfo_AccomodationRight"];
        bool Facility_ChartResponsesInfo_AddRight = (bool)ViewData["Facility_ChartResponsesInfo_AddRight"];
        bool Facility_ChartResponsesInfo_UpdateRight = (bool)ViewData["Facility_ChartResponsesInfo_UpdateRight"];
        bool Facility_ChartResponsesInfo_DeleteRight = (bool)ViewData["Facility_ChartResponsesInfo_DeleteRight"];
        bool Facility_ChartResponsesInfo_ReConfirmRight = (bool)ViewData["Facility_ChartResponsesInfo_ReConfirmRight"];
        bool Facility_ChartResponsesInfo_PreviewRight = (bool)ViewData["Facility_ChartResponsesInfo_PreviewRight"];
        //bool Facility_ChartResponsesInfo_CompactDefaultRight = (bool)ViewData["Facility_ChartResponsesInfo_CompactDefaultRight"];
        bool Facility_ChartResponsesInfo_ExportRight = (bool)ViewData["Facility_ChartResponsesInfo_ExportRight"];
        bool Facility_ChartResponsesInfo_ShareRight = (bool)ViewData["Facility_ChartResponsesInfo_ShareRight"];
    }
    <style>
        .Highlight.Blue {
            background-color: #30C5FF;          
        }
        .Highlight.Green {
            background-color: #5DE23C;          
        }
        .Highlight.Yellow {
            background-color: #FBF719;          
        }
        .Highlight.Orange {
            background-color: #FF793B;           
        }
        .Highlight.Red {
            background-color: #F72F35;         
        }
        .Highlight.FAB {     
            height: 18px;
            width: 18px;
        }

        #selectedCount_div_ChartResponses {
            padding:7px;
            text-align: right;
        }

        .lightbox-target {
            position: fixed;
            left: 0;
            z-index: 1;
            top: -100%;
            width: 100%;
            background: rgba(0,0,0,.7);
            width: 100%;
            opacity: 0;
            -webkit-transition: opacity .5s ease-in-out;
            -moz-transition: opacity .5s ease-in-out;
            -o-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;
            overflow: hidden;
        }

            .lightbox-target img {
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                max-height: 0%;
                max-width: 0%;
                border: 3px solid white;
                box-shadow: 0px 0px 8px rgba(0,0,0,.3);
                box-sizing: border-box;
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
            }

        a.lightbox-close {
            display: block;
            width: 50px;
            height: 50px;
            box-sizing: border-box;
            background: white;
            color: black;
            text-decoration: none;
            position: fixed;
            z-index: 1;
            top: -80px;
            right: 0;
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
        }

            a.lightbox-close:before {
                content: "";
                display: block;
                height: 30px;
                width: 1px;
                background: black;
                position: absolute;
                left: 26px;
                top: 10px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            a.lightbox-close:after {
                content: "";
                display: block;
                height: 30px;
                width: 1px;
                background: black;
                position: absolute;
                left: 26px;
                top: 10px;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

        .lightbox-target:target {
            opacity: 1;
            top: 0;
            bottom: 0;
            overflow: auto;
        }

            .lightbox-target:target img {
                max-height: 80%;
                max-width: 90%;
            }

            .lightbox-target:target + a.lightbox-close {
                top: 0;
            }
            
        .dx-actionsheet-item-content .dx-button-has-icon .dx-button-content {
            padding-left: 7px;
            padding-top: 0px;
            padding-bottom: 5px;
            padding-right: 10px;
        }

        .dx-actionsheet-item-content .dx-button-content .dx-icon {
            font-size: 20px;
        }

        .dx-actionsheet-popover-wrapper .dx-popup-content {
            padding: 6px 3px 0px 3px;
        }

        .dx-actionsheet-popover-wrapper > .dx-overlay-content {
            margin-top: -6px;
        }

        .AdaptiveCommandColumn_Grouped {
            position: absolute;
            left: 13px;
            top: 43%;
        }

        .AdaptiveCommandColumn {
            position: absolute;
            left: 0px;
            top: 43%;
        }

            .AdaptiveCommandColumn span {
                transform: scale(1.2);
            }

        .form-row .col-md-2, .form-row .col-md-4 {
            padding-right: 8px;
            padding-left: 8px;
        }

        .p-l-10 {
            padding-left: 10px
        }

        .p-r-5 {
            padding-right: 5px
        }

        .p-l-0 {
            padding-left: 0
        }

        .p-r-0 {
            padding-right: 0
        }

        .form-row {
            padding: 0;
            cursor: pointer;
            transition: .3s all;
            word-break: break-word;
            padding-left: 15px;
        }

        .RowImage {
            padding-left: 95px;
        }

        .event-img {
            width: 65px;
            height: 65px;
            object-fit: cover;
            position: absolute;
            left: 38px;
            top: -6px;
            bottom: 0;
            margin: auto;
        }

        #ChartResponsesInfoGrid .dxgvADCMDC > .dxICheckBox_Aqua {
            margin-left: 10px !important
        }

        /*    .form-row:hover {
                background: #fafafa
            }

            .form-row.success {
                background: #eefbe9
            }

                .form-row.success:hover {
                    background: #e3f8da
                }

            .form-row.warning {
                background: #fff5df
            }

                .form-row.warning:hover {
                    background: #faf1cc
                }

            .form-row.danger {
                background: #fff0f0
            }

                .form-row.danger:hover {
                    background: #fae3e3
                }*/
        .evt-details img {
            width: 45px;
            height: 45px;
        }

        .evt-details .col-xs-3 {
            width: 22%
        }

        .evt-details .col-xs-9 {
            width: 78%
        }

        p.red {
            font-size: 12px;
            font-weight: bold;
        }

        .red {
            color: #ad1f1f
        }

        .green {
            color: #159b2d
        }

        .blue {
            color: #2e76b5
        }

        .ev-title {
            display: block;
            max-height: 38px;
            overflow: hidden
        }

        .form-row p {
            margin-bottom: 0;
            font-size: 12px
        }

        .form-row b {
            font-size: 12px;
        }

        .form-row div {
            font-size: 12px;
        }

        .form-row a {
            color: #1d499a;
            min-height: 48px;
            cursor: pointer
        }

        .form-row.active, .dxgvFocusedRow_Aqua {
            background: #264a8d !important;
            color: #fff;
        }

            .form-row.active:hover {
                background: #3d5789;
            }

            .form-row.active .red {
                color: #fff
            }

        .ellp {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .badge {
            color: #323232;
            padding: 1px 0;
            margin-right: 5px;
            font-size: 11px;
            margin-bottom: 3px;
            width: auto;
            white-space: normal;
            text-align: left;
            font-style: italic;
            line-height: 14px;
            display: block
        }

            .badge.badge-primary, .badge.badge-success, .badge.badge-warning, .badge.badge-danger {
                background-color: transparent;
                border-color: transparent;
            }

        #ChartResponsesInfoGrid .dxgvSelectedRow_Aqua .aLink a, #ChartResponsesInfoGrid .dxgvSelectedRow_Aqua #formResponse_viewmore {
            color: white !important;
            text-decoration: underline;
        }

        #ChartResponsesInfoGrid .dxflGroup_Aqua, #ChartInfoGrid .dxflGroupCell_Aqua {
            padding: 0
        }

        .dxgvFocusedRow_Aqua .badge {
            color: #fff;
        }

        #ChartResponsesInfoGrid .dxgvDataRow_Aqua {
            position: relative;
        }

        #ChartResponsesInfoGrid.dxgvHeader_Aqua, #ChartResponsesInfoGrid .dxgvHeader_Aqua {
            padding: 2px;
        }

        .form-que .row {
            margin-bottom: 0;
            max-height: 1000px;
            overflow: hidden;
            transition: .6s all
        }

            .form-que .row.hit {
                max-height: 0px;
                transition: none
            }

        .dx-datagrid-nowrap.dx-datagrid-headers .dx-header-row > td > .dx-datagrid-text-content {
            white-space: normal;
        }
        .dx-actionsheet-item-content .dx-button-content .dx-icon {
            float: left;
            position: static;
            margin-top: 2px;
        }
        .dx-actionsheet-item-content .dx-button-content {
            text-overflow: unset;
            height: max-content;
            text-wrap: balance;
            padding-top: 3px !important;
        }

        @@media (max-width:768px) {
            .form-row {
                width: 94%
            }

            .form-row .col-md-2 {
                margin-bottom: 5px;
                padding-bottom: 8px;
                border-bottom: 1px solid rgba(0,0,0,.3)
            }

            .form-row .col-md-2, .form-row .col-md-4 {
                padding-left: 0
            }

            #selectedCount_div_ChartResponses {
                text-align: center;
                padding-top: 5px;
            }

            #selectedCount_div_ChartResponses label:empty {
                display: none
            }
        }

    </style>
    <script>
        var SelectedRowIndex_ChartResponse = [];
        var Chart_Response_ID = "";
        var Chart_Response_Status = "";
        var Chart_Response_Remarks = "";
        var Chart_Instance_ID = "@chartInstanceID";
        var ServicePath = "@ServicePath";
        var Chart_Approval_Required = "@chartApprovalRequired" == "False" ? false: true;
        var Show_Approval = "@showApproval" == "False" ? false: true;
        var UserID = "";
        var UserABID = "xxx";
        var ShareMessage_ChartResponse = "";
        var MobNo = "";
        var NextLinkedForm_Inst_ID_ChartResponse = 0;
        var FeedbackFormInstID_ChartResponse = 0;
        var TravelFormInstID_ChartResponse = 0;
        var Registrations_ChartResponse = "";
        var CompactMode_chartResponesInfo = "Compact";
        var Chart_Response_UserName = "";
        $(document).ready(function ()
        {
            if ("@Facility_ChartResponsesInfo_CreateLocalAddressRight" == "False")
            {
                $("#Btn_CreateLocalAddress_ChartResponse").hide();
            }
            if ("@Facility_ChartResponsesInfo_NotifyRight" == "False")
            {
                $("#Btn_Notify_ChartResponse").hide();
            }
            if ("@Facility_ChartResponsesInfo_GroupDetailRight" == "False")
            {
                $("#Btn_GroupDetails_ChartResponse").hide();
            }
            if ("@Facility_ChartResponsesInfo_RecommendationRight" == "False")
            {
                $("#Btn_Recommendation").hide();
            }
            if ("@Facility_ChartResponsesInfo_MarkCategoryRight" == "False")
            {
                $("#Btn_MarkCategory").hide();
            }
            if ("@Facility_ChartResponsesInfo_AddRemarkRight" == "False")
            {
                $("#Btn_AddRemarks").hide();
            }
            if ("@Facility_ChartResponsesInfo_ApproveRight" == "False")
            {
                $("#Btn_ApproveResponse").hide();
            }
            if ("@Facility_ChartResponsesInfo_DraftRight" == "False")
            {
                $("#Btn_DraftResponse").hide();
            }
            if ("@Facility_ChartResponsesInfo_RejectRight" == "False")
            {
                $("#Btn_RejectResponse").hide();
            }
            if ("@Facility_ChartResponsesInfo_CancelRegistrationRight" == "False")
            {
                $("#Btn_CancelResponse").hide();
	            //$("#PropertyModelLock").hide();
            }
            if ("@Facility_ChartResponsesInfo_ArrivedRight" == "False")
            {
                $("#Btn_ResponseArrived").hide();
            }
            if ("@Facility_ChartResponsesInfo_NotArrivedRight" == "False")
            {
                $("#Btn_ResponseNotArrived").hide();
            }
            if ("@Facility_ChartResponsesInfo_AddRight" == "False")
            {
                $("#Btn_AddResponse").hide();
            }
            if ("@Facility_ChartResponsesInfo_UpdateRight" == "False")
            {
                $("#Btn_EditResponse").hide();
            }
            if ("@Facility_ChartResponsesInfo_DeleteRight" == "False")
            {
                $("#Btn_DeleteResponse").hide();
            }
            if ("@Facility_ChartResponsesInfo_ReConfirmRight" == "False")
            {
                $("#Btn_ResendConfirmation").hide();
            }
            if ("@Facility_ChartResponsesInfo_PreviewRight" == "False")
            {
                $("#Btn_PreviewResponse").hide();
            }
            @*if ("@Facility_ChartResponsesInfo_CompactDefaultRight" == "False")
            {
                $("#ChartResponsesInfoViewModeSwitch").hide();
            }*@
            if ("@Facility_ChartResponsesInfo_ExportRight" == "False")
            {
                $("#ChartResponsesInfoModelListPreview").hide();
            }
            if ("@Facility_ChartResponsesInfo_ShareRight" == "False")
            {
                $("#ChartResponsesInfoShare").hide();
            }
            $("#ChartResponseActionSheet").dxActionSheet(
                {
                    usePopover: true,
                    title : "Choose Share Option",
                    target: $("#ChartResponsesInfoShare"),
                    dataSource: [
                        { icon: 'bx bxl-facebook', onClick: function (e) { ShareFacebook(e); }, text:"Facebook" },
                        { icon: 'bx bxl-twitter', onClick: function (e) { ShareTwitter(e); }, text: "Twitter" },
                        { icon: 'bx bxl-whatsapp', onClick: function (e) { ShareWhatsApp(e); }, text: "Whatsapp Registration" },
                        { icon: 'bx bxl-whatsapp', onClick: function (e) { ShareWhatsAppTravel(e); }, text: "Whatsapp Travel" },
                        { icon: 'bx bxl-telegram', onClick: function (e) { ShareTelegram(e); }, text: "Telegram"},
                        { icon: 'bx bxs-envelope', onClick: function (e) { ShareMail(e); }, text: "Email" },
                        { icon: 'bx bx-detail', onClick: function (e) { ShareSMS(e); }, text: "SMS" },
                        { icon: 'bx bx-copy-alt', onClick: function (e) { ShareCopy(e); }, text: "Copy" },

                    ],
                //    itemTemplate: function (itemData, itemIndex, itemElement)
                //    {
                //    $('<a>')
                //        .attr({
                //            href: 'mailto:Jan.Pieters@gmail.com',
                //            target: '_top'
                //        })
                //        .text('Send email')
                //        .appendTo(itemElement);
                //},
                    visible: false,
                    width: 150,
                    showTitle: true,
                    showCancelButton:false,
                height:"auto"
                });
            if ("@SessionGUID".length == 0)
            {
                $("#ChartResponsesInfoShare").hide();
                $("#ChartResponsesInfoModelCLOSE").hide();
                $("#Btn_ResendConfirmation").hide();
                //$("#Btn_PreviewResponse").hide();
                $("#Btn_DeleteResponse").hide();
                $("#Btn_EditResponse").hide();
                $("#Btn_AddResponse").hide();
                $("#Btn_ResponseNotArrived").hide();
                $("#Btn_ResponseAccomodation").hide();
                $("#Btn_ResponseArrived").hide();
                $("#Btn_CancelResponse").hide();
                $("#Btn_RejectResponse").hide();
                $("#Btn_DraftResponse").hide();
                $("#Btn_ApproveResponse").hide();
                $("#Btn_AddRemarks").hide();
                $("#Btn_MarkCategory").hide();
                $("#Btn_Recommendation").hide();
                $("#Btn_CreateLocalAddress_ChartResponse").hide();
                $("#AllActionsDDbutton_ChartResponse").hide();
            }
            ViewMore_FormResponse();
        })
        function ShareFacebook(e)
        {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("ShareFacebook");
        }
        function ShareTwitter(e)
        {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("ShareTwitter");
        }
        function ShareWhatsAppTravel(e) {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("ShareWhatsAppTravel");
        }
        function ShareWhatsApp(e)
        {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("ShareWhatsApp");
        }
        function ShareTelegram(e)
        {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("ShareTelegram");
        }
        function ShareMail(e)
        {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("ShareMail");
        }
        function ShareSMS(e) {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("ShareSMS");
        }
        function ShareCopy(e)
        {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("ShareCopy");
        }
        function chartResponseShareClick(e)
        {
            $("#ChartResponseActionSheet").dxActionSheet("instance").option('target', e.element);
            $("#ChartResponseActionSheet").dxActionSheet("instance").option('visible', true);
        }
        function OnChartResponsesInfoListPreviewClick()
        {
            ShowLoader();
            OpenPopup("ChartResponsesInfo_modal", "Export Option", "@Url.Action("Frm_Export_Options_Responses", "Chart", new { @area = "Facility" })", "auto",130);
        }
        function closeChartResponsesInfo() {
            if ($(".TabPanalMenu-tabs .active").attr("id").includes("_dynamic")==true) {
                btnCloseActiveTab();
            } else {

                $("#Dynamic_Content_popup").dxPopup("hide")
            }
        }
        function ChartResponsesInfoOnInit(s, e) {
            s.ExpandAll();
            ChartResponsesInfoAdjustSize();
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                ChartResponsesInfoAdjustSize();
            });
        }
        function ChartResponsesInfoAdjustSize() {
            var height = (document.documentElement.clientHeight * 80) / 100;
            if ("@SessionGUID".length == 0) { var height = (document.documentElement.clientHeight * 100) / 100; }
            try {
                ChartResponsesInfoGrid.SetHeight(height);
            }
            catch (err) {
            }
        }
        function ChartResponsesInfoGrid_ContextMenuInit(s, e)
        {
            if (e.objectType == "row")
            {                
                if (Chart_Approval_Required == false || Show_Approval == false)
                {
                    var Item = e.menu.GetItemByName("Approve");
                    if (Item != null) Item.SetVisible(false);
                     Item = e.menu.GetItemByName("Draft");
                    if (Item != null) Item.SetVisible(false);
                     Item = e.menu.GetItemByName("Reject");
                    if (Item != null) Item.SetVisible(false);
                }
                s.SelectRowOnPage(e.index);
            }
        }
        function ChartResponsesInfoGrid_ContextMenuFunction(s, e)
        {
            if (e.item.name == "Close")
            {
                closeChartResponsesInfo();
            }
            if (e.item.name == "AddRemarks")
            {
                ChartResponses_AddRemarks();
            }
            else if (e.item.name == 'AddResponse') {
                ChartResponses_AddResponse();
            }
            else if (e.item.name == 'AddLinkedResponse') {
                ChartResponses_AddLinkedFormResponse();
            }
            else if (e.item.name == 'Approve') {
                ChartResponses_ChangeStatus("APPROVE");
            }
            else if (e.item.name == 'Draft') {
                ChartResponses_ChangeStatus("DRAFT");
            }
            else if (e.item.name == 'Reject') {
                ChartResponses_ChangeStatus("REJECT");
            }
            else if (e.item.name == 'MarkArrived') {
                ChartResponses_Arrived("MarkArrived");
            }
            else if (e.item.name == 'UnMarkArrived') {
                ChartResponses_Arrived("UnMarkArrived");
            }
            else if (e.item.name == 'Accomodation') {
                ChartResponses_Accomodation();
            }
            else if (e.item.name == 'EditResponse') {
                ChartResponses_EditResponse();
            }
            else if (e.item.name == 'DeleteResponse') {
                ChartResponses_DeleteResponse();
            }
            else if (e.item.name == 'ViewResponse') {
                ChartResponses_Preview();
            }
            else if (e.item.name == 'CopyViewResponseLink') {
                ChartResponses_CopyResponseLink("CopyViewResponseLink");
            }
            else if (e.item.name == 'ImportResponse') {
                ChartResponses_ImportResponse()
            }
        }
        function OnChartResponsesInfoGridFocusedRowChanged(s, e)
        {
            ChartResponsesInfoGrid.SetFocusedRowIndex(-1)
        }
        function ChartResponsesInfo_GetRowData(RowIndex = null)
        {
            debugger;
            var focusedrow = RowIndex == null ? ChartResponsesInfoGrid.GetFocusedRowIndex() : RowIndex;
            var topindex = ChartResponsesInfoGrid.GetTopVisibleIndex();
            var Index = focusedrow - topindex;
            var ChartResponsesInfoPageData = ChartResponsesInfoGrid.cpPagedata;
            if (ChartResponsesInfoPageData != null && ChartResponsesInfoPageData.length > 0 && Index < ChartResponsesInfoPageData.length) {
                Chart_Response_ID = ChartResponsesInfoPageData[Index][0];
                Chart_Response_Status = ChartResponsesInfoPageData[Index][1];
                Chart_Response_Remarks = ChartResponsesInfoPageData[Index][2];
                UserID = ChartResponsesInfoPageData[Index][3];
                UserABID = ChartResponsesInfoPageData[Index][4];
            }
            else
            {
                Chart_Response_ID = null;
                Chart_Response_Status = "";
                Chart_Response_Remarks = "";
            }
        }
        function ChartResponsesInfoGrid_SelectionChanged(s, e) {
            if (ChartResponsesInfoGrid.GetSelectedRowCount() == 0) {
                Chart_Response_ID = null;
                Chart_Response_Status = "";
                Chart_Response_Remarks = "";
            }
            var SelectedRowCount = s.GetSelectedRowCount();
            $("#selectedCount_div_ChartResponses>label").text(SelectedRowCount + " Row(s) Selected")
        }
        function ChartResponsesInfo_GetSelectedRowData(_Action,HighlightColor)
        {
            if (ChartResponsesInfoGrid.GetSelectedRowCount() > 0 || _Action=="Notify")
            {
                ShowLoader();
                ChartResponsesInfoGrid.GetSelectedFieldValues("RESP_ID;Status;Remarks;UserID;AB_ID;SHARE_MESSAGE;Mob1;NextLinkedFormInstID;TravelFormInstID;FeedbackFormInstID;REGISTRATIONS;Name",
                    function (values) { GetSelectedFieldValuesCallback_ChartResponse(values, _Action, HighlightColor) })
            }
            else
            {
                Chart_Response_ID = null;
                Chart_Response_Status = "";
                Chart_Response_Remarks = "";
                NextLinkedForm_Inst_ID_ChartResponse = 0;
            }
        }
        function updateStatusResponseAPICall(instanceId, chartResponseId, status, reason) {
            $.ajax({
            type: 'GET',
            url: "/Facility/Chart/ChangeChartResponseStatus",
            cache: false,
                data: {
                status: status,
                ChartResponseID: chartResponseId,
                chartInstanceID: instanceId,
                responseReason: reason
            },
            success: function (data)
            {
                HideLoader();
                if (status == "REJECT") {
                    HidePopup('Reject_Response_Reason_popup');
                }
                else if (status == "APPROVE") {
                    HidePopup('Approve_Response_Reason_popup');
                }
                var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertClick.done(function (alertResult) {
                    if (alertResult) {
                       ASPxClientControl.GetControlCollection().GetByName("ChartResponsesInfoGrid").Refresh();
                    }
                })

            }
        });

        }
        function GetSelectedFieldValuesCallback_ChartResponse(values, _Action, HighlightColor)
        {
            HideLoader();
            if (values != null)
            {
                for (var Index = 0; Index < values.length; Index++)
                {
                    if (Index == 0)
                    {
                        Chart_Response_ID = values[Index][0];
                        Chart_Response_Status = values[Index][1];
                        Chart_Response_Remarks = values[Index][2];
                        UserID = values[Index][3];
                        UserABID = values[Index][4];
                        ShareMessage_ChartResponse = values[Index][5];
                        MobNo = values[Index][6];
                        NextLinkedForm_Inst_ID_ChartResponse = values[Index][7];
                        FeedbackFormInstID_ChartResponse = values[Index][9];
                        TravelFormInstID_ChartResponse = values[Index][8];
                        Registrations_ChartResponse = values[Index][10];
                        Chart_Response_UserName = values[Index][11];
                    }
                    else
                    {
                        Chart_Response_ID = Chart_Response_ID + "," + values[Index][0];
                        Chart_Response_Status = Chart_Response_Status + "," + values[Index][1];
                        Chart_Response_Remarks = Chart_Response_Remarks + "![" + values[Index][2];
                        UserID = UserID + "," + values[Index][3];
                        UserABID = UserABID + "," + values[Index][4];
                        ShareMessage_ChartResponse = ShareMessage_ChartResponse + "![" + values[Index][5];
                        MobNo = MobNo + "," + values[Index][6];
                        NextLinkedForm_Inst_ID_ChartResponse = NextLinkedForm_Inst_ID_ChartResponse + "," + values[Index][7];
                        TravelFormInstID_ChartResponse = TravelFormInstID_ChartResponse + "," + values[Index][8];
                        FeedbackFormInstID_ChartResponse = FeedbackFormInstID_ChartResponse + "," + values[Index][9];
                        Registrations_ChartResponse = Registrations_ChartResponse + "," + values[Index][10];
                        Chart_Response_UserName = Chart_Response_UserName + "![" + values[Index][11];
                    }
                }
                if (_Action == "Recommendation") {
                    var chartid = $("#chartid_responses_screen").attr("data-id");
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/Chart/Frm_Recommendation_Info",
                        cache: false,
                        data:
                        {
                            InstanceID: chartInstanceID,
                            ResponseIDs: Chart_Response_ID,
                            RegistrationsCountString: Registrations_ChartResponse,
                            ChartID: chartid,
                        },
                        success: function (data) {
                            HideLoader();
                            //OpenDynamicPopup("Recommendation", null, "100%", "75%", true, data);
                            OpenPopup("Recommendation_Screen_popup", "Recommendation", null, "auto", 800, true, data);
                            //OpenPopup("Response_Accomodation_popup", "Add Accomodation", null, "auto", 800, true, data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            HideLoader();
                            //console.log(jqXHR);
                            //console.log(textStatus);
                            //console.log(errorThrown);
                            DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                        }
                    });
                }
                if (_Action == "AddRemarks") {
                    ShowLoader();
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/Chart/Frm_ChartResponse_AddRemarks",
                        cache: false,
                        data:
                        {
                            ChartResponseID: Chart_Response_ID,
                            ChartResponseRemarks: Chart_Response_Remarks,
                            GridNametoRefreshAfterAdd: "ChartResponsesInfoGrid"
                        },
                        success: function (data) {
                            HideLoader();
                            OpenPopup("Response_Remark_popup", "Add Remarks", null, "auto", 330, true, data);
                        }
                    });
                }
                else if (_Action == "DRAFT" || _Action == "REJECT" || _Action == "APPROVE" || _Action == "CANCEL") {
                    if (Chart_Response_Status != null && Chart_Response_Status.includes("Approved") && (_Action == "APPROVE" || _Action == "REJECT")) {
                        //var alertMessage = "The selected record is <b>already in " + Chart_Response_Status + " </b>status. You <b>cannot " + _Action + "  </b> it."
                        var alertMessage = "You <b>cannot " + _Action + "  </b> responses in Approved Status<br>There are responses in <b>Approved</b> status among the selected forms.<br>Please unselect them"
                        DevExpress.ui.dialog.alert(alertMessage, "!! Alert !!");
                        return;
                    }
                    var confirmationMessage = "";
                    if (_Action == "APPROVE") { confirmationMessage = "Are you sure, to mark this form as <b>Approved</b> !! <br> <br> Note: The Applicant will be informed via Email,WhatsApp,SMS if configured." }
                    if (_Action == "REJECT") { confirmationMessage = "Are you sure, to mark this form as <b>Rejected</b> !! <br> <br> Note: The Applicant will be informed via Email,WhatsApp,SMS if configured." }
                    if (_Action == "DRAFT") { confirmationMessage = "Are you sure, to mark this form as <b>Draft</b> ??" }
                    if (_Action == "CANCEL") { confirmationMessage = "Are you sure, to mark this form as <b>Cancelled</b> ??" }
                    var confirmClick = DevExpress.ui.dialog.confirm(confirmationMessage, "!! Confirm !!");
                    confirmClick.done(function (confirmresult) {
                        if (confirmresult) {
                            ShowLoader();
                            if (_Action == "REJECT") {
                                $.ajax({
                                    type: 'GET',
                                    url: "/Facility/Chart/Frm_Chart_Response_AddRejectionReason",
                                    cache: false,
                                    data:
                                    {
                                        ChartInstanceID: Chart_Instance_ID,
                                        ChartResponseID: Chart_Response_ID,
                                        ChartResponseRejectionRemarks: "",
                                    },
                                    success: function (data) {
                                        OpenPopup("Reject_Response_Reason_popup", "Reason for Rejection", null, "auto", 330, true, data);
                                    }
                                });
                            }
                            else if (_Action == "APPROVE") {
                                $.ajax({
                                    type: 'GET',
                                    url: "/Facility/Chart/Frm_Chart_Response_AddApprovalReason",
                                    cache: false,
                                    data:
                                    {
                                        ChartInstanceID: Chart_Instance_ID,
                                        ChartResponseID: Chart_Response_ID,
                                        ChartResponseApproveRemarks: "",
                                    },
                                    success: function (data) {
                                        OpenPopup("Approve_Response_Reason_popup", "Reason for Approval", null, "auto", 330, true, data);
                                    }
                                });
                            }
                            else {
                                updateStatusResponseAPICall(Chart_Instance_ID, Chart_Response_ID, _Action, "")
                            }
                        }
                    })
                }
                else if (_Action == "MarkCategory") {
                    ShowLoader();
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/Chart/Frm_ChartResponse_MarkCategory",
                        cache: false,
                        data:
                        {
                            ChartResponseID: Chart_Response_ID,
                            GridNametoRefreshAfterAdd: "ChartResponsesInfoGrid"
                        },
                        success: function (data) {
                            HideLoader();
                            OpenPopup("Response_MarkCategory_popup", "Mark Category", null, "auto", 250, true, data);
                        }
                    });
                }
                else if (_Action == "EditResponse") {                   
                    ShowLoader();
                    if (UserID == null) { UserID = ""; }
                    if (UserABID == null) { UserABID = ""; }
                    //var URL = ServicePath + "ViewChartUser/" + Chart_Instance_ID + "/" + UserID + "/" + UserABID + "/?ActionMethod=_Edit&ResponseID=" + Chart_Response_ID;
                    //window.open(URL);
                    //var form = $("#CallServicesFormResponse")
                    //if (form.length > 0) {
                    //    let windowName = 'w_' + Date.now() + Math.floor(Math.random() * 100000).toString();
                    //    $(form).attr("target", windowName);
                    //    $("#ResponseID").val(Chart_Response_ID)
                    //    $("#UserID").val(UserID)
                    //    $("#User_AB_ID").val(UserABID)
                    //    $("#ActionMethod").val("_Edit")
                    //    $("#ChartInstanceId").val(Chart_Instance_ID)
                    //    window.open('', windowName);
                    //    $(form).submit();
                    //}
                    HideLoader();
                    if (Chart_Response_Status.includes("Approved"))
                    {
                        DevExpress.ui.dialog.alert("Responses In Approved Status Cannot Be Edited<br>To Edit The Response Change The Response Status To Draft", "!! Alert !!");
                        return;
                    }
                    var URL = ServicePath + "ViewChartUser/" + Chart_Instance_ID + "/" + UserID + "/" + UserABID + "/?ShowAdminQues=true&ActionMethod=_Edit&ResponseID=" + Chart_Response_ID;
                    OpenFormPopup(Chart_Instance_ID, false, URL, "ViewFormUserSidePopup", "Edit ~ Response")
                    window.onmessage = function (e) {
                        console.log(e)
                        @*if ("@servicesPath".includes(e.origin))*@
                        //{
                        if (e.data == 'FormOperationCompleted') {
                            $("#ViewFormUserSidePopup").dxPopup("hide");
                            ShowLoader();
                            ChartResponsesInfoGrid.Refresh();
                        }
                        // }
                    };

                }
                else if (_Action == "ResendConfirmation") {
                    ShowLoader();
                    if (UserID == null) { UserID = ""; }
                    if (UserABID == null) { UserABID = ""; }
                    var URL = ServicePath + "createForm/ChatResponse_Success/?ChartInstanceId=" + Chart_Instance_ID + "&ChartResponseId=" + Chart_Response_ID+"&ReConfirm="+true;
                    window.open(URL);
                    HideLoader();
                }
                else if (_Action == "PreviewResponse") {
                    ShowLoader();
                    if (UserID == null) { UserID = ""; }
                    if (UserABID == null) { UserABID = ""; }
                    //var URL = ServicePath + "ViewChartUser/" + Chart_Instance_ID + "/" + UserID + "/" + UserABID + "/?ActionMethod=_View&ResponseID=" + Chart_Response_ID;
                    //window.open(URL);
                    //let windowName = 'w_' + Date.now() + Math.floor(Math.random() * 100000).toString();
                    //$(form).attr("target", windowName);
                    //$("#ResponseID").val(Chart_Response_ID)
                    //$("#UserID").val(UserID)
                    //$("#User_AB_ID").val(UserABID)
                    //$("#ActionMethod").val("_View")
                    //$("#ChartInstanceId").val(Chart_Instance_ID)
                    //window.open('', windowName);
                    //$(form).submit();
                    HideLoader();
                    var URL = ServicePath + "ViewChartUser/" + Chart_Instance_ID + "/" + UserID + "/" + UserABID + "/?ShowAdminQues=true&ActionMethod=_View&ResponseID=" + Chart_Response_ID;
                    OpenFormPopup(Chart_Instance_ID, false, URL, "ViewFormUserSidePopup", "View ~ Response", "_View")
                }
                else if (_Action == "DeleteResponse") {
                    if (Chart_Response_Status.includes("Approved")) {
                        DevExpress.ui.dialog.alert("Responses In Approved Status Cannot Be Deleted<br>To Delete The Response Change The Response Status To Draft", "!! Alert !!");
                        return;
                    }
                    var deleteConfirmation_1 = DevExpress.ui.dialog.confirm("<div> !!Are You Sure !!  <br> <br> You Want To  <br> <br> <h6 style='color:red'> <b>DELETE THIS RESPONSE ?</b></h6> </div>", "!! Confirm !!");
                    deleteConfirmation_1.done(function (confirmResult_1) {
                        if (confirmResult_1) {
                            var deleteConfirmation_2 = DevExpress.ui.dialog.confirm("<div style='text-align: center;'> This response will be deleted but the user profile will be retained. <br> <br> You want to proceed?</div>", "Information");
                            deleteConfirmation_2.done(function (confirmResult_2) {
                                if (confirmResult_2) {
                                    ShowLoader();
                                    $.ajax({
                                        type: 'GET',
                                        url: "/Facility/Chart/deleteChartResponse",
                                        cache: false,
                                        data:
                                        {
                                            ChartResponseID: Chart_Response_ID
                                        },
                                        success: function (data) {
                                            HideLoader();
                                            var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                                            alertClick.done(function (alertResult) {
                                                if (alertResult) {
                                                    ChartResponsesInfoGrid.Refresh();
                                                }
                                            })
                                        }
                                    });
                                }
                            })
                        }
                    })
                }
                else if (_Action == "AddLinkedResponse") {
                    var OpenLnikedResponseForm = true;
                    //var LinkedchartInstanceID = 23; //get from from data
                    //check for pre-required form presence here
                    if (NextLinkedForm_Inst_ID_ChartResponse) {
                        GetConfirmbox('Post by Self', 'Share With Others').show().done(function (confirmboxResult) {
                            OpenLnikedResponseForm = confirmboxResult;
                            ShowLoader();
                            var GuideSessionID = "";
                            $.ajax({
                                type: 'GET',
                                url: "/Facility/Chart/AddGuideSessionID",
                                cache: false,
                                data:
                                {

                                },
                                success: function (data) {
                                    GuideSessionID = data.GuideSessionID;
                                    var URL = ServicePath + "ViewChartUser/" + NextLinkedForm_Inst_ID_ChartResponse + "/" + UserID + "/" + UserABID + "/?GuideSessionID=" + GuideSessionID;
                                    if (OpenLnikedResponseForm) { window.open(URL, "_blank"); }
                                    else { navigator.clipboard.writeText(URL); DevExpress.ui.notify({ message: 'Link has been Copied ! You can paste it as Required...', width: 500, shading: true, position: 'center' }, "success", 1000); }
                                    HideLoader();
                                }
                            });
                        });
                    }
                    else {
                        DevExpress.ui.dialog.alert("Next Linked Chart Not Present", "Information");
                    }
                }
                else if (_Action == "MarkArrived" || _Action == "UnMarkArrived") {
                    var result = false;
                    if (_Action == "MarkArrived") {
                        result = DevExpress.ui.dialog.confirm('Are You Sure You want To Mark as Arrived...?', "Confirm");
                    }
                    else if (_Action == "UnMarkArrived") {
                        result = DevExpress.ui.dialog.confirm('Are You Sure You want To UnMark as Arrived...?', "Confirm");
                    }

                    result.done(function (dialogResult) {
                        dontaskpopupcloseconfirmation = dialogResult;
                        if (dialogResult) {
                            ShowLoader();
                            $.ajax({
                                type: 'GET',
                                url: "/Facility/Chart/ChangeResponseArrivalStatus",
                                cache: false,
                                data:
                                {
                                    chartResponseID: Chart_Response_ID,
                                    _Action: _Action == "MarkArrived" ? "MARK" : "UNMARK"
                                },
                                success: function (data) {
                                    HideLoader();
                                    var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                                    alertClick.done(function (alertResult) {
                                        if (alertResult) {
                                            ChartResponsesInfoGrid.UnselectAllRowsOnPage();
                                            ChartResponsesInfoGrid.Refresh();
                                        }
                                    })
                                }
                            });
                        }
                        else {

                        }
                    });
                }
                else if (_Action == "Accomodation") {
                    ShowLoader();
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/Chart/Frm_ChartResponse_Accomodation",
                        cache: false,
                        data:
                        {
                            _ChartResponseID: Chart_Response_ID,
                            _ChartInstanceID: Chart_Instance_ID,
                            gridToRefresh: "ChartResponsesInfoGrid"
                        },
                        success: function (data) {
                            HideLoader();
                            OpenPopup("Response_Accomodation_popup", "Add Accomodation", null, "auto", 800, true, data);
                        }
                    });
                }
                else if (_Action == "ShareFacebook") {
                    window.open("https://www.facebook.com/sharer.php?t=" + ShareMessage_ChartResponse)
                }
                else if (_Action == "ShareTwitter") {
                    window.open("https://twitter.com/intent/tweet?text=" + ShareMessage_ChartResponse)
                }
                else if (_Action == "ShareWhatsApp") {
                    if (MobNo != null && MobNo.length > 0) {
                        window.open("https://api.whatsapp.com/send?phone=" + MobNo + "&text=" + ShareMessage_ChartResponse)
                    }
                    else {
                        DevExpress.ui.dialog.alert("User Mobile No. Not Available", "Information!!");
                    }
                }
                else if (_Action == "ShareWhatsAppTravel") {
                    if (MobNo != null && MobNo.length > 0) {
                        var Name = (Chart_Response_UserName == null || Chart_Response_UserName.length == 0) ? "applicant" : Chart_Response_UserName
                        window.open("https://api.whatsapp.com/send?phone=" + MobNo + "&text=Respected " + Name + ",%0aGreetings of Peace and Love.%0a%0aHope, you must have planned your travel for the upcoming 47th Mind - Body Medicine Conference, Mount Abu by now.Your travel details are necessary for arranging your local transport and dining.%0aPlease submit your travel details by clicking on the following link:%0a https://services.brahmakumaris.com/ViewChartUser/4360/" + UserID + "/" + UserABID + " %0a Dr.Banarsilal Sah%0a Secretary(8054442222)")
                    }
                    else {
                        DevExpress.ui.dialog.alert("User Mobile No. Not Available", "Information!!");
                    }
                }
                else if (_Action == "ShareTelegram") {
                    window.open("https://telegram.me/share/url/?url" + ShareMessage_ChartResponse)
                }
                else if (_Action == "ShareMail") {
                    window.open("mailto:?subject=" + formName + "&body=:" + ShareMessage_ChartResponse)
                }
                else if (_Action == "ShareSMS") {
                    //window.open("sms:9667584019" + formName + "&body=:" + ShareMessage_ChartResponse)
                    if (MobNo != null && MobNo.length > 0) {
                        $.ajax({
                            type: 'GET',
                            url: "/Facility/Chart/SendRegSMS",
                            cache: false,
                            data:
                            {
                                ChartResponseId: Chart_Response_ID,
                                MobNo: MobNo,
                                SMSType: "share_reg_no"
                            },
                            success: function (data) {
                                HideLoader();
                                var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                                alertClick.done(function (alertResult) {
                                })
                            }
                        });
                    }
                    else {
                        DevExpress.ui.dialog.alert("User Mobile No. Not Available", "Information!!");
                    }
                }
                else if (_Action == "ShareCopy") {
                    navigator.clipboard.writeText(ShareMessage_ChartResponse); DevExpress.ui.notify({ message: 'Message has been Copied ! You can paste it as Required...', width: 500, shading: true, position: 'center' }, "success", 1000);
                }
                else if (_Action == "Travel" || _Action == "Feedback") {
                    var OpenLnikedResponseForm = true;
                    var ReqFormInstID = 0;
                    if (_Action == "Travel") {
                        ReqFormInstID = TravelFormInstID_ChartResponse;
                    }
                    else {
                        ReqFormInstID = FeedbackFormInstID_ChartResponse;
                    }
                    if (ReqFormInstID) {
                        GetConfirmbox('Post by Self', 'Share With Others').show().done(function (confirmboxResult) {
                            OpenLnikedResponseForm = confirmboxResult;
                            ShowLoader();
                            var GuideSessionID = "";
                            $.ajax({
                                type: 'GET',
                                url: "/Facility/Chart/AddGuideSessionID",
                                cache: false,
                                data:
                                {

                                },
                                success: function (data) {
                                    GuideSessionID = data.GuideSessionID;
                                    var URL = ServicePath + "ViewChartUser/" + ReqFormInstID + "/" + UserID + "/" + UserABID + "/?GuideSessionID=" + GuideSessionID;
                                    if (OpenLnikedResponseForm) {
                                        window.open(URL, "_blank");
                                    }
                                    else {
                                        navigator.clipboard.writeText(URL); DevExpress.ui.notify({ message: 'Link has been Copied ! You can paste it as Required...', width: 500, shading: true, position: 'center' }, "success", 1000);
                                    }
                                    HideLoader();
                                }
                            });
                        });
                    }
                    else {
                        DevExpress.ui.dialog.alert(_Action + " Form Not Found", "Information");
                    }
                }
                else if (_Action == "CopyViewResponseLink") {
                    if (UserID == null) { UserID = ""; }
                    if (UserABID == null) { UserABID = ""; }
                    var URL = ServicePath + "ViewChartUser/" + Chart_Instance_ID + "/" + UserID + "/" + UserABID + "/?ActionMethod=_View&ResponseID=" + Chart_Response_ID;
                    navigator.clipboard.writeText(URL); DevExpress.ui.notify({ message: 'Response Preview Link Has Been Copied ! You can paste it as Required...', width: 500, shading: true, position: 'center' }, "success", 1500);
                }
                else if (_Action == "GroupDetails") {
                    ShowLoader();
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/Chart/Frm_ChartResponse_GroupDetails",
                        cache: false,
                        data:
                        {
                            ChartResponseID: Chart_Response_ID,
                        },
                        success: function (data) {
                            HideLoader();
                            OpenPopup("ResponseGroupDetails_Popup", "Group Registration Details", null, "auto", 800, true, data);
                        }
                    });
                }
                else if (_Action == "CreateLocalAddress") {

                    if (UserABID == null || UserABID.length == 0) {
                        DevExpress.ui.dialog.alert("The details of the User are not available for this response ! ", "Alert");
                        return;
                    }

                    ShowLoader();
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/Chart/CreateLocalAddress",
                        cache: false,
                        data:
                        {
                            AB_ID: UserABID,
                        },
                        success: function (data) {
                            HideLoader();
                            DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                        }
                    });
                }
                else if (_Action == "Highlight") {
                    ShowLoader();
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/Chart/saveResponseHighlight",
                        cache: false,
                        data:
                        {
                            ChartResponseID: Chart_Response_ID,
                            Highlight: HighlightColor
                        },
                        success: function (data) {
                            HideLoader();
                            if (data.jsonParam.result == false) {
                                DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                            }
                            else {
                                //ASPxClientControl.GetControlCollection().GetByName("ChartResponsesInfoGrid").PerformCallback();
                                ASPxClientControl.GetControlCollection().GetByName("ChartResponsesInfoGrid").UnselectRows();
                            }
                        }
                    });
                }
                else if (_Action == "Notify") {
                    OpenPopup("ChartResponsesNotificationAdd_modal", "Notification Settings", "@Url.Action("Frm_ChartResponses_Add_Notification", "Chart", new { @area = "Facility" })?ActionMethod=_New&Chart_Instance_Id=" + Chart_Instance_ID + "&Chart_Response_Id=" + Chart_Response_ID + "&Chart_Response_Status=" + Chart_Response_Status + "&RegistrationsTotalCount=" + @RegistrationsTotalCount+ "&ApprovedResponseCount=" + @ApprovedResponseCount+ "&RejectionResponseCount=" + @RejectionResponseCount+ "&DefaultStatus=" + @DefaultStatus, "100%",700);
                }
            }
        }
        function ChartResponsesInfo_ViewSwitch_ValueChange(e)
        {
            CompactMode_chartResponesInfo = e.value ? "Compact" : "Default";
            ReloadGrid_ChartResponesInfo();
        }
        function ReloadGrid_ChartResponesInfo()
        {
            ShowLoader();
            $.ajax({
                url: '@Url.Action("Frm_Chart_Responses_Info_Grid", "Chart")',
                type: "POST",
                data:
                {
                    ShowHorizontalBar: 1,
                    Layout: ChartResponsesInfoGrid.cpClientLayout,
                    VouchingMode: false,
                    ViewMode: CompactMode_chartResponesInfo,
                    ColumnToBeHidddenIndex: ChartResponsesInfoGrid.cpColumnToBeHidddenIndex,
                    ColumnToBeShownIndex: ChartResponsesInfoGrid.cpColumnToBeShownIndex,
                    Chart_Instance_ID: Chart_Instance_ID,
                    isApprovalRequired: Chart_Approval_Required,
                    ChartPurpose: "@Purpose",
                    showApproval: Show_Approval,
                    QuestionFilter: "@QuestionFilter"
                },
                success: function (res)
                {
                    $("#ChartResponsesGridDiv").html(res);
                    HideLoader();
                }
            });
        }
        function ChartResponsesInfoGrid_BeginCallback(s, e) {
            e.customArgs["command"] = e.command;
            e.customArgs["Chart_Instance_ID"] = Chart_Instance_ID;
            e.customArgs["regCenId"] = @RegCenId
            e.customArgs["isApprovalRequired"] = Chart_Approval_Required;
            e.customArgs["Layout"] = s.cpClientLayout;
            e.customArgs["ColumnToBeHidddenIndex"] = s.cpColumnToBeHidddenIndex;
            e.customArgs["ColumnToBeShownIndex"] = s.cpColumnToBeShownIndex;
            e.customArgs["ViewMode"] = CompactMode_chartResponesInfo;
            e.customArgs["ChartPurpose"] = "@Purpose";
            e.customArgs["showApproval"] = Show_Approval;
            e.customArgs["QuestionFilter"] = "@QuestionFilter";
        }
        function ChartResponsesInfoGrid_EndCallback(s, e)
        {
            if (e.command == "REFRESH" || e.command == "APPLYCOLUMNFILTER" || e.command == "APPLYHEADERCOLUMNFILTER" || e.command == "APPLYFILTER" || e.command == "APPLYSEARCHPANELFILTER" || e.command =="SETFILTERENABLED")
            {
                s.UnselectRows();
            }
            ViewMore_FormResponse();
            HideLoader();
        }
        function ViewMore_FormResponse()
        {
            $(".form-que").find('.row').each(function () {
                if ($(this).height() > 50) {
                    if ($(this).hasClass('hit') == false) {
                        $(this).addClass('hit').after("<a class='small text-muted' id='formResponse_viewmore'>View <span>more</span></a>")
                    }
                }
            });
            setTimeout(function () {
                $('.form-que #formResponse_viewmore').unbind('click');
                $('.form-que #formResponse_viewmore').click(function () {
                    var tish = $(this).prev('.row')
                    $(tish).toggleClass('hit');

                    if ($('span', this).text() == "more")
                        $('span', this).text("less")
                    else
                        $('span', this).text("more");
                });
            }, 500)
        }
        function GetConfirmbox(YesMsg, NoMsg) {
            var _confirmbox = DevExpress.ui.dialog.custom({
                title: "Post Form Response...",
                messageHtml: "Do you want to Post Form Repsonse by Self or Share Posting Link with Others ?",
                buttons: [
                    {
                        text: YesMsg,
                        elementAttr:
                        {
                            id: "CustomConfirmDialog_YesButton"
                        },
                        onClick: function () {
                            return true
                        }
                    },
                    {
                        text: NoMsg,
                        elementAttr:
                        {
                            id: "CustomConfirmDialog_NoButton"
                        },
                        onClick: function () {
                            return false
                        }
                    }
                ],
                popupOptions:
                {
                    elementAttr:
                    {
                        id: "CustomConfirmDialog_Popup"
                    },
                    onShown: function (e) {
                        $(".dx-dialog-button:first").focus();
                    },
                    onHidden: function (e) {
                        e.component.dispose();
                        $("#CustomConfirmDialog_Popup").remove();
                    }
                }
            });
            return _confirmbox;
        }
        function ChartResponses_ImportResponse()
        {
            ShowLoader();
            var URL = ServicePath + "GoogleSheets/Read?FormInstanceID=" + chartInstanceID;
            OpenFormPopup(Chart_Instance_ID, false, URL, "ViewFormUserSidePopup", "Import ~ Response")
            HideLoader();
        }
        function ChartResponses_AddResponse_Click(e)
        {
            if (e.itemData == "Add Response") {
                ChartResponses_AddResponse();
            }
            else if (e.itemData == "Add Linked Form Response") { ChartResponses_AddLinkedFormResponse(); }
            else if (e.itemData == "Add Travel Details") { ChartResponses_AddMiscFormResponse("Travel") }
            else if (e.itemData == "Add Feedback") { ChartResponses_AddMiscFormResponse("Feedback") }
            else if (e.itemData == "Import Response") { ChartResponses_ImportResponse() }
        }
        function ChartResponses_AddMiscFormResponse(FormType)
        {
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData(FormType);
        }
        function ChartResponses_Accomodation()
        {
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select Rows", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("Accomodation");
        }
        function ChartResponses_Arrived(_action)
        {            
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1)
            {
                DevExpress.ui.dialog.alert("Please Select Rows", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData(_action);
        }
        function ChartResponses_Recommendation(_action)
        {
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1)
            {
                DevExpress.ui.dialog.alert("Please Select Rows", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData(_action);
        }
        function ChartResponses_AddRemarks()
        {            
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("AddRemarks");
        }
        function ChartResponses_MarkCategory()
        {
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            //if (SelectedRowCount > 1) {
            //    DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
            //    return;
            //}
            ChartResponsesInfo_GetSelectedRowData("MarkCategory");
        }
        function ChartResponses_Highlight(color)
        {
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            //if (SelectedRowCount > 1) {
            //    DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
            //    return;
            //}
            ChartResponsesInfo_GetSelectedRowData("Highlight", color);
        }
        function ChartResponses_ChangeStatus(Action)
        {            
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1)
            {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            //if (SelectedRowCount > 1)
            //{
            //    DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
            //    return;
            //}
            ChartResponsesInfo_GetSelectedRowData(Action);
        }

        function ChartResponses_CreateLocalAddress() {            
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1)
            {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("CreateLocalAddress");
        }
        function ChartResponses_Notify_Click(e) {
            if (e.itemData == "Add New Notification") {
                ChartResponses_Notify();
            }
            else if (e.itemData == "Existing Notification") {
                ChartResponses_ListNotificationsGrid();
            }
            else if (e.itemData == "Notification Queue") {
                ChartResponses_ListNotificationQueueGrid();
            }
            else if (e.itemData == "Notification Delivery Log") {
                ChartResponses_ListNotificationDeliveryLogGrid();
            }
        }
        function ChartResponses_Notify() {
            ChartResponsesInfo_GetSelectedRowData("Notify");
        }
        function ChartResponses_ListNotificationsGrid() {
            OpenPopup("ChartResponsesNotificationListInfo_modal", "Notification", "@Url.Action("Frm_ChartResponses_Notification_Info", "Chart", new { @area = "Facility" })?Chart_Instance_Id=" + Chart_Instance_ID + "&RegistrationsTotalCount=" + @RegistrationsTotalCount+ "&ApprovedResponseCount=" + @ApprovedResponseCount+ "&RejectionResponseCount=" + @RejectionResponseCount+ "&DefaultStatus=" + @DefaultStatus, "100%",1000);
        }
        function ChartResponses_ListNotificationQueueGrid() {
            OpenPopup("ChartResponsesNotificationQueueInfo_modal", "Notification", "@Url.Action("Frm_ChartResponses_NotificationQueue_Info", "Chart", new { @area = "Facility" })", "100%",1000);
        }
        function ChartResponses_ListNotificationDeliveryLogGrid() {
            OpenPopup("ChartResponsesNotificationDeliveryLogInfo_modal", "Notification", "@Url.Action("Frm_ChartResponses_NotificationDeliveryLog_Info", "Chart", new { @area = "Facility" })?Chart_Instance_Id=" + Chart_Instance_ID, "100%",1000);
        }
        function ChartResponses_AddResponse()
        {
            GetConfirmbox('Post by Self', 'Share With Others').show().done(function (confirmboxResult)
            {
                OpenResponseForm = confirmboxResult;
                ShowLoader();
                var GuideSessionID = "";
                $.ajax({
                    type: 'GET',
                    url: "/Facility/Chart/AddGuideSessionID",
                    cache: false,
                    data:
                    {

                    },
                    success: function (data)
                    {
                        // alert(ServicePath);
                        HideLoader();
                        GuideSessionID = data.GuideSessionID;
                        var URL = ServicePath + "form/" + Chart_Instance_ID + "/?GuideSessionID=" + GuideSessionID;
                        //window.open(URL, "_blank");
                        if (OpenResponseForm) { window.open(URL, "_blank"); }
                        else { navigator.clipboard.writeText(URL); DevExpress.ui.notify({ message: 'Link has been Copied ! You can paste it as Required...', width: 500, shading: true, position: 'center' }, "success", 1000); }
                        HideLoader();
                    }
                });
            });
        }
        function ChartResponses_AddLinkedFormResponse()
        {
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("AddLinkedResponse");
        }
        function ChartResponses_EditResponse()
        {
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1)
            {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1)
            {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("EditResponse");
        }
        function ChartResponses_ResendConfirmation() {
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("ResendConfirmation");
        }
        function ChartResponses_DeleteResponse()
        {
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1)
            {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount == 1) {
                ChartResponsesInfo_GetSelectedRowData("DeleteResponse");
            }
            if (SelectedRowCount > 1)
            {
                var Confirmation_1 = DevExpress.ui.dialog.confirm("<b> You Have Selected " + SelectedRowCount + "<b> Rows For Deletion ?", "Alert");
                Confirmation_1.done(function (confirmResult) {
                    if (confirmResult) {
                        ChartResponsesInfo_GetSelectedRowData("DeleteResponse");
                    }
                });
            }

        }
        function ChartResponses_Preview() {
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("PreviewResponse");
        }
        function ChartResponses_CopyResponseLink(_action)
        {
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData(_action);
        }
        function ClosePopupPreview_SM() {
            $("#ChartResponse_Preview").dxPopup("hide");
        }
        function ChartResponses_GroupDetails()
        {
            var SelectedRowCount = ChartResponsesInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            ChartResponsesInfo_GetSelectedRowData("GroupDetails");
        }
        function ChartResponsesFabItemClick(s,e)
        {
            s.ExpandActionGroupItems();
            if (e.actionName == "Blue")
            {
                ChartResponses_Highlight("#30C5FF")
            }
            else if (e.actionName == "Green") {
                ChartResponses_Highlight("#5DE23C")
            }
            else if (e.actionName == "Yellow") {
                ChartResponses_Highlight("#FBF719")
            }
            else if (e.actionName == "Orange") {
                ChartResponses_Highlight("#FF793B")
            }
            else if (e.actionName == "Red") {
                ChartResponses_Highlight("#F72F35")
            }
            else if (e.actionName == "None") {
                ChartResponses_Highlight(null)
            }
        }
    </script>
    <div id="Chart_Responses_ParentDiv">
        <div class="report_header_div_main">
            <div class="row">
                <div class="col-sm-6">
                    <div class="report_header_div">
                        <label class="report_header_label">Form Responses &nbsp;@RegCentre</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="selectedCount_div_ChartResponses"><label></label></div>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-12">
                    <div class="report_button_div" data-id="@chartid_responses" id="chartid_responses_screen">
                        @*@(Html.DevExtreme().DropDownButton().ID("Btn_Notify_ChartResponse").Text("Notify").Icon("save").OnItemClick("ChartResponses_Notify_Click")
        .DataSource(new[] {"Add New Notification","Existing Notification", "Notification Queue", "Notification Delivery Log" }))*@
                        @*@(Html.DevExtreme().Button().ID("Btn_Notify_ChartResponse").Text("Notify").OnClick(@<text> function () { ChartResponses_Notify(); } </text>))*@


                        @(Html.DevExtreme().DropDownButton().ID("AllActionsDDbutton_ChartResponse").Text("Actions")
                            .Items(items => {
                                items.Add().Text("Create Local Address").Html("Create Local Address").OnClick("ChartResponses_CreateLocalAddress");
                                items.Add().Text("Group Details").Html("Group Details").OnClick("ChartResponses_GroupDetails");
                                items.Add().Text("Recommendation").Html("Recommendation").OnClick(@<text> function () { ChartResponses_Recommendation("Recommendation"); } </text>);
                                items.Add().Text("Mark Category").Html("Mark Category").OnClick("ChartResponses_MarkCategory");
                                items.Add().Text("Add Remarks").Html("Add Remarks").OnClick("ChartResponses_AddRemarks");
                                items.Add().Text("Approve").Html("Approve").OnClick(@<text> function () { ChartResponses_ChangeStatus('APPROVE'); } </text>)
                                    .Icon("save").Visible(chartApprovalRequired && showApproval);
                                items.Add().Text("Draft").Html("Draft").OnClick(@<text> function () { ChartResponses_ChangeStatus("DRAFT"); } </text>)
                                    .Icon("save").Visible(chartApprovalRequired && showApproval);
                                items.Add().Text("Reject").Html("Reject").OnClick(@<text> function () { ChartResponses_ChangeStatus("REJECT"); } </text>)
                                    .Icon("close").Visible(chartApprovalRequired && showApproval);
                                items.Add().Text("Cancel Reg.").Html("Cancel Reg.").OnClick(@<text> function () { ChartResponses_ChangeStatus("CANCEL"); } </text>)
                                    .Visible(chartApprovalRequired).Icon("close");
                                items.Add().Text("Arrived").Html("Arrived").OnClick(@<text> function () { ChartResponses_Arrived('MarkArrived'); } </text>).Icon("save")@*.Visible(chartApprovalRequired)*@;
                                items.Add().Text("Not Arrived").Html("Not Arrived").OnClick(@<text> function () { ChartResponses_Arrived('UnMarkArrived'); } </text>).Icon("save")@*.Visible(chartApprovalRequired)*@;
                                items.Add().Text("Accommodation").Html("Accommodation").OnClick("ChartResponses_Accomodation").Visible(false).Icon("save");
                            })
                        )
                        @(Html.DevExtreme().DropDownButton().ID("Btn_AddResponse_ChartResponse").Text("Add").Icon("save").OnItemClick("ChartResponses_AddResponse_Click")
                                            .DataSource(new[] {"Import Response","Add Response","Add Linked Form Response", "Add Travel Details", "Add Feedback" }))
                        @*@(Html.DevExtreme().Button().ID("Btn_AddResponse").Text("Add").Icon("add").OnClick(@<text> function () { ChartResponses_AddResponse(); } </text>))
        @(Html.DevExtreme().Button().ID("Btn_AddLinkedResponse").Text("Add Linked").Icon("add").OnClick(@<text> function () { ChartResponses_AddLinkedFormResponse(); } </text>))*@
                        @(Html.DevExtreme().Button().ID("Btn_EditResponse").Text("Edit").Icon("save").OnClick(@<text> function () { ChartResponses_EditResponse(); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_DeleteResponse").Text("Delete").Icon("save").Visible(true).OnClick(@<text> function () { ChartResponses_DeleteResponse(); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_ResendConfirmation").Text("ReConfirm").Icon("save").Visible(true).OnClick(@<text> function () { ChartResponses_ResendConfirmation(); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_PreviewResponse").Text("Preview").Icon("save").OnClick(@<text> function () { ChartResponses_Preview(); } </text>))
                        @(Html.DevExtreme().Switch().ID("ChartResponsesInfoViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("ChartResponsesInfo_ViewSwitch_ValueChange").Width(70).Value(@*string.IsNullOrWhiteSpace(SessionGUID)?false:*@true))
                        @(Html.DevExtreme().Button().ID("ChartResponsesInfoModelListPreview").Text("List Preview").Icon("save").OnClick("OnChartResponsesInfoListPreviewClick"))
                        @(Html.DevExtreme().Button().ID("ChartResponsesInfoModelCLOSE").Text("Close").Icon("clear").OnClick("closeChartResponsesInfo") )
                        @(Html.DevExtreme().Button().ID("ChartResponsesInfoShare").Icon("fa fa-share-alt").OnClick("chartResponseShareClick") )
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 no-padding" id="ChartResponses_gridDiv">
            <form>
                <div class="parent_table" id="ChartResponsesGridDiv">                                        
                    @Html.Partial("Frm_Chart_Responses_Info_Grid", Model)
                </div>
            </form>
        </div>
        <div style="display:none">
            @{string FormResponsePath = ServicePath + "EditForm";}
            <form id="CallServicesFormResponse" method="post" target="" action="@FormResponsePath">
                @Html.Hidden("ChartInstanceId")
                @Html.Hidden("ActionMethod")
                @Html.Hidden("User_AB_ID")
                @Html.Hidden("UserID")
                @Html.Hidden("ResponseID")
            </form>
        </div>
        <div id="ChartResponseActionSheet"></div>
    </div>
    @Html.DevExpress().FloatingActionButton(
    settings => {
        settings.Name = "ChartResponse_fab";
        settings.ContainerElementID = "ChartResponses_gridDiv";
        settings.InitialActionContext = "HighlightContext";
        settings.ControlStyle.CssClass = "DevexpressComponents";

        settings.HorizontalPosition = FloatingActionButtonHorizontalPosition.Right;
        settings.VerticalPosition = FloatingActionButtonVerticalPosition.Bottom;

        FABActionGroup HighlightGroup = new FABActionGroup() { ContextName = "HighlightContext", Text = "Highlight" };
        HighlightGroup.CollapseImage.AlternateText = "Highlight Responses";

        FABActionItem Blue = new FABActionItem();
        Blue.ActionName = "Blue";
        Blue.Image.SpriteProperties.CssClass = "Highlight Blue FAB";
        Blue.Text = "Blue";
        HighlightGroup.Items.Add(Blue);

        FABActionItem Green = new FABActionItem();
        Green.ActionName = "Green";
        Green.Image.SpriteProperties.CssClass = "Highlight Green FAB";
        Green.Text = "Green";
        HighlightGroup.Items.Add(Green);

        FABActionItem Yellow = new FABActionItem();
        Yellow.ActionName = "Yellow";
        Yellow.Image.SpriteProperties.CssClass = "Highlight Yellow FAB";
        Yellow.Text = "Yellow";
        HighlightGroup.Items.Add(Yellow);


        FABActionItem Orange = new FABActionItem();
        Orange.ActionName = "Orange";
        Orange.Image.SpriteProperties.CssClass = "Highlight Orange FAB";
        Orange.Text = "Orange";
        HighlightGroup.Items.Add(Orange);


        FABActionItem Red = new FABActionItem();
        Red.ActionName = "Red";
        Red.Image.SpriteProperties.CssClass = "Highlight Red FAB";      
        Red.Text = "Red";
        HighlightGroup.Items.Add(Red);

        FABActionItem None = new FABActionItem();
        None.ActionName = "None";
        //None.Image.SpriteProperties.CssClass = "imagesprite tick";
        None.Image.SpriteProperties.CssClass = "#F72F35";
        None.Text = "None";
        HighlightGroup.Items.Add(None);

        settings.Items.Add(HighlightGroup);

        settings.ClientSideEvents.Init = "OnFABInit";
        settings.ClientSideEvents.ActionItemClick = "ChartResponsesFabItemClick";

    }).GetHtml()
</div>
