<div class="FormVisibility_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Facility.Models.ChartVisibilityInfo
    @{

    }
    <div id="FormVisibility_ParentDiv">
        <div id="FormVisibility_content" class="report_header_div_main">
            <div>
                <div class="report_header_div">
                    <label class="report_header_label">Chart Visibility Conditions</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="report_button_div">               
                        @(Html.DevExtreme().Button().ID("FormVisibilityAdd").Text("Add").Icon("add").OnClick("FormVisibilityAdd_Click").Visible(true) )
                        @(Html.DevExtreme().Button().ID("FormVisibilityEdit").Text("Edit").Icon("edit").OnClick("FormVisibilityEdit_Click").Visible(true) )
                        @(Html.DevExtreme().Button().ID("FormVisibilityDelete").Text("Delete").Icon("delete").OnClick("FormVisibilityDelete_Click").Visible(true) )
                        @(Html.DevExtreme().Button().ID("FormVisibilityCLOSE").Text("Close").Icon("clear").OnClick("closeFormVisibility") )
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 no-padding" id="FormVisibility_gridDiv">
            <form>
                <div id="FormVisibilityGridPartialView" class="parent_table">
                    @(Html.DevExtreme().DataGrid<ConnectOneMVC.Areas.Facility.Models.ChartVisibilityGridData>()
                        .ID("ChartVisibility_DG")
                        .DataSource(d => d.Mvc().Controller("Chart").LoadAction("LookUp_Get_ChartVisibilityList").Key("Rec_ID").LoadMode(DataSourceLoadMode.Raw)
                                          .LoadParams(new { FormID = Model.ChartID }))
                        .Columns(columns =>
                        {
                            columns.Add().DataField("Rec_ID").Visible(false);
                            columns.Add().DataField("Centre");
                            columns.Add().DataField("FromYear").Caption("From Year");
                            columns.Add().DataField("ToYear").Caption("To Year");
                            columns.Add().DataField("Institute");
                            columns.Add().DataField("AccType").Caption("Acc Type");
                            columns.Add().DataField("UserType").Caption("User Type");
                            columns.Add().DataField("VisibleInMenu").Caption("Visible In Menu");
                            columns.Add().DataField("Cen_ID").Visible(false);
                            columns.Add().DataField("Ins_ID").Visible(false);
                            columns.Add().DataField("Cen_UID").Visible(false);
                            columns.Add().DataField("AccType_ID").Visible(false);
                        })
                            .Selection(s => s.Mode(SelectionMode.Single))
                            .HeaderFilter(s=>s.Visible(true))
                        .FilterRow(s => s.Visible(true))
                        .FilterPanel(s => s.Visible(true))
                        .CustomizeColumns("ChartVisibility_DG_CustomizeColumns")
                        .ShowBorders(true)
                        .ShowRowLines(true)
                        .Paging(paging => paging.Enabled(true))
                        .ColumnAutoWidth(true)
                        .AllowColumnReordering(true)
                        .AllowColumnResizing(true)
                        .ColumnResizingMode(ColumnResizingMode.Widget)
                        .Width("100%")
                        .OnInitialized("DG_Listing_OnInit")
                        .OnContextMenuPreparing("DG_Listing_OnContextMenuPreparing")
                        .OnContentReady(@<text>function(e){   
                                               var grid = e.component;
                                               var selection = grid.getSelectedRowKeys();
                                               if(selection.length == 0) {
                                                   grid.selectRowsByIndexes([0]);
                                                 }
                                       }</text>)
                        )
                </div> 
            </form>
        </div>
    </div>
</div>   
<script>
     var ChartVisibility_DG;
     $(document).ready(function ()
     {
         ChartVisibility_DG = $("#ChartVisibility_DG").dxDataGrid("instance");
     })
     function FormVisibilityAdd_Click(e)
     {
         ShowLoader();
         $.ajax({
             type: 'GET',
             url: "/Facility/Chart/Frm_FormVisibility_Window",
             cache: false,
             data:
             {
                 Tag: "_New",
                 ChartID: "@Model.ChartID"
             },
             success: function (data)
             {
                 HideLoader();
                 OpenPopup("FormVisibilityWindowPopup","Add ~ Chart Visibility", null, "auto", 650, true, data);
             },
             error: function (jqXHR, textStatus, errorThrown)
             {
                 HideLoader();
                 console.log(jqXHR);
                 console.log(textStatus);
                 console.log(errorThrown);
                 DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
             }
         });
     }
     function FormVisibilityEdit_Click(e)
     {
         var Rec_ID = ChartVisibility_DG.option("selectedRowKeys");
         if (Rec_ID == null || Rec_ID.length == 0)
         {
             DevExpress.ui.dialog.alert("Please Select A Row", "Information");
             return;
         }
         ShowLoader();
         $.ajax({
             type: 'GET',
             url: "/Facility/Chart/Frm_FormVisibility_Window",
             cache: false,
             data:
             {
                 Tag: "_Edit",
                 ChartID: "@Model.ChartID",
                 RecID: Rec_ID[0]
             },
             success: function (data)
             {
                 HideLoader();
                 OpenPopup("FormVisibilityWindowPopup","Edit ~ Chart Visibility", null, "auto", 650, true, data);
             },
             error: function (jqXHR, textStatus, errorThrown)
             {
                 HideLoader();
                 console.log(jqXHR);
                 console.log(textStatus);
                 console.log(errorThrown);
                 DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
             }
         });
     }
     function FormVisibilityDelete_Click(e)
     {
         var Rec_ID = ChartVisibility_DG.option("selectedRowKeys");
         if (Rec_ID == null || Rec_ID.length == 0)
         {
             DevExpress.ui.dialog.alert("Please Select A Row", "Information");
             return;
         }
         DevExpress.ui.dialog.confirm("Sure You Want To  <br> <br> <h6 style='color:red'> <b>DELETE THIS CHART VISIBILITY MAPPING ?</b></h6> </div>", "!! Confirm !!").done(function (alertResult)
         {
             if (alertResult) {
                 ShowLoader();
                 $.ajax({
                     type: 'POST',
                     url: "/Facility/Chart/SaveChartVisibilityDetails",
                     cache: false,
                     data:
                     {
                         Tag: "_Delete",
                         ChartID: "@Model.ChartID",
                         RecID: Rec_ID[0]
                     },
                     success: function (data)
                     {
                         HideLoader();
                         var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                         alertClick.done(function (alertResult)
                         {
                             if (alertResult)
                             {
                                 if (data.jsonParam.result == true)
                                 {
                                     $("#ChartVisibility_DG").dxDataGrid("instance").refresh().done(function () { $("#ChartVisibility_DG").dxDataGrid("instance").selectRowsByIndexes(0) });

                                 }
                                 else
                                 {

                                 }
                             }
                         })
                     },
                     error: function (jqXHR, textStatus, errorThrown)
                     {
                         HideLoader();
                         console.log(jqXHR);
                         console.log(textStatus);
                         console.log(errorThrown);
                         DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                     }
                 });
             }
         })
     }
     function closeFormVisibility(e)
     {
         $("#Dynamic_Content_popup").dxPopup("hide");
     }
</script>
<script>
    function ChartVisibility_DG_CustomizeColumns(columns)
    {
        //for (var i = 0; i < columns.length; i++)
        //{
        //    var dataField = columns[i].dataField;
        //    if (dataField == "Rec_ID" || dataField == "Cen_ID" || dataField == "Ins_ID" || dataField == "Cen_UID" || dataField == "AccType_ID")
        //    {
        //        columns[i].visible = false;
        //    }
        //}
    }
    function DG_Listing_OnInit(e)
    {  
        DG_ListingAdjustSize(e);
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt)
        {
            DG_ListingAdjustSize(e);
        });        
    }
    function DG_ListingAdjustSize(e)
    {
        var height = (document.documentElement.clientHeight * 84.5) / 100;
        try
        {
            e.component.option("height", height);
        }
        catch (err)
        {
        }
    }
    function DG_Listing_OnContextMenuPreparing(e)
    {
        if (e.target == "header")
        {
            // e.items can be undefined
            if (!e.items)
            {
                e.items = [];
            }
            // Add a custom menu item
            e.items.push({
                text: "Column Chooser",
                icon:"columnchooser",
                onItemClick: function ()
                {
                    e.component.showColumnChooser();
                }
            });
        }
        if (e.row.rowType === "data")
        {
            if (!e.items) {
                e.items = [];
            }
            // Add a custom menu item
            e.items.push({
                text: "Refresh",
                icon: "",
                onItemClick: function () {
                    e.component.refresh();
                }
            });
        }
    }
</script>
