
<div class="CreateChartCopy_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Facility.Models.createChartCopy
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
    }
    <div id="Create_Chart_Copy">
        @using (Ajax.BeginForm("Frm_Create_Chart_Copy", "Chart",
                                       new AjaxOptions
                                       {
                                           HttpMethod = "POST",
                                           UpdateTargetId = "ServiceReportWindow",
                                           InsertionMode = InsertionMode.InsertAfter,
                                           OnBegin = "AjaxBeginFormPost",
                                           OnSuccess = "Frm_Create_Chart_Copy_AjaxSuccessForm"
                                       },
                               new
                               {
                                   id = "Frm_Create_Chart_Copy",
                                   @class = "edit_form form-horizontal"
                               }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.chartID)
            @Html.HiddenFor(x => x.Event_Id)
            @Html.HiddenFor(x => x.ServiceReport_Id)

            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 md-12 pll">
                            <label class="control-label text-red" for="user">Form Name: </label>
                            @(Html.DevExtreme().TextArea().ID("chartName_createCopy").Name("chartName_createCopy").Height(50).Placeholder("Please Enter the Name of the Form ...").Value(Model.chartName_createCopy).MaxLength(255))
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 md-12 pll">
                            <label class="control-label text-red" for="user">Form Title: </label>
                            @(Html.DevExtreme().HtmlEditor().CustomHtmlEditor().ID("chartTitle_createCopy").Name("chartTitle_createCopy").Height(125).Placeholder("Please Enter the Title of the Form ...").Value(Model.chartTitle_createCopy))
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 md-12 pll">
                            <label class="control-label text-red" for="user">Form Description: </label>
                            @(Html.DevExtreme().HtmlEditor().CustomHtmlEditor().ID("chartDescription_createCopy").Name("chartDescription_createCopy").Height(125).Placeholder("Please Enter the Description of the Form ...").Value(Model.chartDescription_createCopy))
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 pll">
                            <label class="control-label text-red" for="user">Centre: </label>
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("cenID_createCopy").Name("cenID_createCopy").Value(Model.cenID_createCopy).Placeholder("Choose Center").DisplayExpr("cen_name").ValueExpr("cen_id")
                              .DataSource(d => d.Mvc().Controller("Chart").LoadAction("LookUp_Get_Centres").Key("cen_id").LoadMode(DataSourceLoadMode.Raw))
                              .ContentTemplate(@<text>
                        @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("cenID_createCopy_datagrid")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("cen_name").Caption("Name");
                            columns.Add().DataField("cen_uid").Caption("UID");
                            columns.Add().DataField("ins_short").Caption("Institute");
                            columns.Add().DataField("cen_id").Caption("cen_id").Visible(false);
                        })
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .FilterRow(s=>s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);};}"))
                    </text>).OnValueChanged("cenID_createCopy_valueChange"))
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 pll">
                                <label>Start Date</label>
                                @(Html.DevExtreme().DateBox().CustomDateBox().Name("StartDate_createCopy").ID("StartDate_createCopy").Min(new DateTime(1990,01,01)).Value(Model.StartDate_createCopy))

                            </div>
                            <div class="col-sm-6 pll">
                                <label>End Date</label>
                                @(Html.DevExtreme().DateBox().CustomDateBox().Name("EndDate_createCopy").ID("EndDate_createCopy").Min(new DateTime(1990,01,01)).Value(Model.EndDate_createCopy))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 pll">
                                <label>Service Report / Event</label>
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().Value(Model.ServReport_Event_ID_createCopy).Name("ServReport_Event_ID_createCopy").ID("ServReport_Event_ID_createCopy").Placeholder("Choose..").DisplayExpr("Name").ValueExpr("ID")
                                   .DataSource(d => d.Mvc().Controller("CreateForm").LoadAction("LookUp_Get_ServiceReport_Event").Key("ID").Area("Options").LoadMode(DataSourceLoadMode.Raw))
                            .ContentTemplate(@<text>
                                @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("ServReport_Event_ID_createCopy_datagrid")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("Name").Caption("Name");
                            columns.Add().DataField("FromDate").Caption("From").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
                            columns.Add().DataField("ToDate").Caption("To").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
                            columns.Add().DataField("Venue").Caption("Venue");
                            columns.Add().DataField("Cen_Name").Caption("Centre");
                            columns.Add().DataField("ID").Visible(false);
                            columns.Add().DataField("ProjID").Visible(false);
                            columns.Add().DataField("Type").Visible(false);
                            columns.Add().DataField("Cen_ID").Visible(false);
                        })
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .FilterRow(s=>s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);}component.close();}"))
                            </text>).OnValueChanged("ServReport_Event_ID_createCopy_ValueChange"))

                            </div>
                            <div class="col-sm-6 pll">
                                <label>Project</label>
                                @(Html.DevExtreme().SelectBox().CustomSelectBox().Value(Model.Project_ID_createCopy).DataSource(d => d.Mvc().Controller("CreateForm").LoadAction("LookUp_Get_ProjectList").Key("ID").Area("Options").LoadMode(DataSourceLoadMode.Raw)).DisplayExpr("Name").ValueExpr("ID").Name("Project_ID_createCopy").ID("Project_ID_createCopy").Placeholder("Choose Project"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().Text("Create").ID("Btn_CreateCopy").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("Btn_CreateCopy_Click"))
                            @(Html.DevExtreme().Button().CustomCloseButton().Text("Cancel").ID("Btn_CreateCopy_Cancel").FocusStateEnabled(true).OnClick(@<Text> function () { Btn_CreateCopy_Cancel_Click();} </Text>))

                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->

        }
    </div><!--[Form Div]-->

    <script>
        $(document).ready(function () {
            //$("#chartName").find('input').focus();
            cenID_createCopy_valueChange(null,true)
            ServReport_Event_ID_createCopy_ValueChange(null, true);
            setTimeout(function () {
                $("#chartName_createCopy").dxTextArea("instance").focus();
            }, 500);
        })

        function Btn_CreateCopy_Cancel_Click() {
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
        async function cenID_createCopy_valueChange(e, FirstCall = false) {
            var value;
            var DG = $("#cenID_createCopy_datagrid").dxDataGrid("instance");
            if (e) {
                value = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    DG.clearSelection();            
                    return;
                }
            }
            else {
                value = $("#cenID_createCopy").dxDropDownBox("option", "value");
            }
            await DG.selectRows(value);
        }
        async function ServReport_Event_ID_createCopy_ValueChange(e, FirstCall = false) {
            var value;
            var DG = $("#ServReport_Event_ID_createCopy_datagrid").dxDataGrid("instance");
            if (e) {
                value = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    DG.clearSelection();
                    //$("#Project_ID_createCopy").dxSelectBox("option", "readOnly", false);
                    $("#ServiceReport_Id").val(null);
                    $("#Event_Id").val(null);
                    return;
                }
            }
            else {
                value = $("#ServReport_Event_ID_createCopy").dxDropDownBox("option", "value");
            }
            await DG.selectRows(value);
            if (DG.getSelectedRowsData().length > 0)
            {
                var item = DG.getSelectedRowsData()[0];
                //  $("#Project_ID").dxSelectBox("option", "readOnly", true);
                if (FirstCall == false) {
                    $("#Project_ID_createCopy").dxSelectBox("option", "value", item.ProjID);
                }
                if (item.Type == "Service Report")
                {
                    $("#ServiceReport_Id").val(item.ID);
                }
                else
                {
                    $("#Event_Id").val(item.ID);
                }           
            }
        }
        function Btn_CreateCopy_Click(e) {

            var form = $("#Frm_Create_Chart_Copy")

            ShowLoader();

            form.submit();            
        }  
        function Frm_Create_Chart_Copy_AjaxSuccessForm(data) {
            HideLoader();

            if (data.jsonParam.result == false) {
                var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertClick.done(function (alertResult) {
                    if (alertResult) {
                        if (data.jsonParam.focusid) {
                            var id = "#" + data.jsonParam.focusid;
                            setTimeout(function () {
                                $(id).find('input').focus();                               
                            }, 500);
                        }
                    }
                })
            }
            else {
                var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertClick.done(function (alertResult) {
                    if (alertResult) {
                        var _ActiveTab_ID = $(".TabPanalMenu-tabs .active").attr("id");
                        var GridInstance = $('#ChartInfoGrid_dx').data("dxDataGrid")//BK SOUMY
                       
                        if (_ActiveTab_ID == "contact_Frm_Chart_Info" || $("#ChartInfoGrid").length>0) {
                            RefreshGridView("ChartInfoGrid")
                        }
                        if ((GridInstance !== void 0))
                            ChartInfoGrid_dx_Refresh();
                        
                        if (_ActiveTab_ID == "contact_Frm_Service_Project_Info") {
                            RefreshGridView("ServiceProjectListGrid")
                        }
                        $("#Dynamic_Content_popup").dxPopup("hide");
                    }
                })
            }
        }
    </script>

</div>