
<div class="ResponseAddRemarks_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();

        var responseID = (string)ViewBag.ChartResponseID;
        var remarks = (string)ViewBag.ChartResponseRemarks;
        var gridnametorefresh = (string)ViewBag.GridNameToRefresh;
    }
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>

    <div id="Frm_ChartResponse_AddRemarks">
        <form>
            <div class="pll prl">
                        <label class="control-label text-red" for="user">Enter Remarks:</label>
                        @(Html.DevExtreme().TextArea().ID("Response_Remarks").Name("Response_Remarks").MinHeight(150).Placeholder("Enter remarks....").Value(remarks).AutoResizeEnabled(true))
                        
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().Text("Add").ID("Response_Remarks_Add").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("addResponseRemarks"))
                            @(Html.DevExtreme().Button().CustomCloseButton().Text("Cancel").ID("Response_Remarks_Cancel").FocusStateEnabled(true).OnClick(@<Text> function () { CloseAddRemarks();} </Text>))

                        </div>
            </div><!--[Buttons]-->
        </form>
    </div><!--[Form Div]-->

    <script>

        function CloseAddRemarks(){
        HidePopup('Response_Remark_popup');
        }

        function addResponseRemarks(e)
        {

            var Remark = $("#Response_Remarks").dxTextArea("instance").option("value");

            //if (Remark == null || Remark.trim().length <= 0)
            //{
            //DevExpress.ui.dialog.alert("Please write some remark to save", 'Alert');
            //return;
            //}

            ShowLoader();
            $.ajax({
            type: 'GET',
            url: "/Facility/Chart/saveChartResponseRemarks",
            cache: false,
            data: {
                ChartResponseID: "@responseID",
                ChartResponseRemarks: Remark,
                GridNametoRefreshAfterAdd: "@gridnametorefresh"
            },
            success: function (data)
            {
                HideLoader();
                HidePopup('Response_Remark_popup');
                var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertClick.done(function (alertResult) {
                    if (alertResult) {
                        debugger;
                        if (data.jsonParam.flag == 'AccommodationRegister_InfoGrid') {
                           
                            @*if ("@gridnametorefresh".toLocaleLowerCase().includes("dx")) {
                                var GridInstance = $('#' + "@gridnametorefresh".trim()).data("dxDataGrid")//BK SOUMY
                                if (GridInstance !== void 0) {

                                    window["@gridnametorefresh" + "_Refresh"]();
                                }
                            }
                            else*@
                                GoAccomRegister();
                        }
                        else if (data.jsonParam.flag == 'AccommodationRegister_InfoGrid_dx') {

                            var GridInstance = $('#AccommodationRegister_InfoGrid_dx').data("dxDataGrid")//BK SOUMY
                            if (GridInstance !== void 0) {
                                AccommodationRegister_InfoGrid_dx_Refresh();
                            }
                        }
                        else {

                            var GridInstance = $('#ChartResponsesInfoGrid_dx').data("dxDataGrid")//BK SOUMY
                            if (GridInstance !== void 0) {
                                ChartResponsesInfo_Dx_Refresh();
                            }

                            else
                                ASPxClientControl.GetControlCollection().GetByName(data.jsonParam.flag).Refresh();

                        }
                    }
                })

            }
        });
    }
    </script>

</div>