<div class="TaskRegisterFacility_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @*@model IEnumerable<dynamic>*@
    @model System.Data.DataTable
    @{
        string SessionGUID = Request.QueryString["SessionGUID"];
        if (string.IsNullOrWhiteSpace(SessionGUID))
        {
            Layout = "~/Views/Shared/_NoLoginAllLayout.cshtml";
        }
        string chartInstanceID = (string)ViewBag.chartInstanceID;
        bool chartApprovalRequired = (bool)ViewBag.isApprovalRequired;
        string ServicePath = (string)ViewBag.ServicePath;
        string ServiceReportID = ViewBag.ServiceReportID;
        string EventID = ViewBag.EventID;
        string servicesPath = System.Web.Configuration.WebConfigurationManager.AppSettings["Servicespath"].ToString();
    }
    <style>
        .dx-actionsheet-item-content .dx-button-has-icon .dx-button-content {
            padding-left: 7px;
            padding-top: 0px;
            padding-bottom: 5px;
            padding-right: 10px;
        }

        .dx-actionsheet-item-content .dx-button-content .dx-icon {
            font-size: 20px;
        }

        .dx-actionsheet-popover-wrapper .dx-popup-content {
            padding: 6px 3px 0px 3px;
        }

        .dx-actionsheet-popover-wrapper > .dx-overlay-content {
            margin-top: -6px;
        }
    </style>
    <style>
        .AdaptiveCommandColumn_Grouped {
            position: absolute;
            left: 13px;
            top: 43%;
        }

        .AdaptiveCommandColumn {
            position: absolute;
            left: 0px;
            top: 43%;
        }

            .AdaptiveCommandColumn span {
                transform: scale(1.2);
            }

        .form-row .col-md-2, .form-row .col-md-4 {
            padding-right: 8px;
            padding-left: 8px;
        }

        .p-l-10 {
            padding-left: 10px
        }

        .p-r-5 {
            padding-right: 5px
        }

        .p-l-0 {
            padding-left: 0
        }

        .p-r-0 {
            padding-right: 0
        }

        .form-row {
            padding: 0;
            cursor: pointer;
            transition: .3s all;
            word-break: break-word;
            /* color:#323253*/
        }

        /*    .form-row:hover {
                background: #fafafa
            }

            .form-row.success {
                background: #eefbe9
            }

                .form-row.success:hover {
                    background: #e3f8da
                }

            .form-row.warning {
                background: #fff5df
            }

                .form-row.warning:hover {
                    background: #faf1cc
                }

            .form-row.danger {
                background: #fff0f0
            }

                .form-row.danger:hover {
                    background: #fae3e3
                }*/

        .evt-details img {
            width: 45px;
            height: 45px;
        }

        .evt-details .col-xs-3 {
            width: 22%
        }

        .evt-details .col-xs-9 {
            width: 78%
        }

        p.red {
            font-size: 12px;
            font-weight: bold;
        }

        .red {
            color: #ad1f1f
        }

        .green {
            color: #159b2d
        }

        .blue {
            color: #2e76b5
        }

        .ev-title {
            display: block;
            max-height: 38px;
            overflow: hidden
        }

        .form-row p {
            margin-bottom: 0;
            font-size: 12px
        }

        .form-row b {
            font-size: 12px;
        }

        .form-row div {
            font-size: 12px;
        }

        .form-row a {
            color: #1d499a;
            min-height: 48px;
            cursor: pointer
        }

        .form-row.active, .dxgvFocusedRow_Aqua {
            background: #264a8d !important;
            color: #fff;
        }

            .form-row.active:hover {
                background: #3d5789;
            }

            .form-row.active .red {
                color: #fff
            }

        .ellp {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .badge {
            color: #323232;
            padding: 1px 0;
            margin-right: 5px;
            font-size: 11px;
            margin-bottom: 3px;
            width: auto;
            white-space: normal;
            text-align: left;
            font-style: italic;
            line-height: 14px;
            display: block
        }



            .badge.badge-primary, .badge.badge-success, .badge.badge-warning, .badge.badge-danger {
                background-color: transparent;
                border-color: transparent;
            }

        #TaskRegisterInfoGrid .dxgvSelectedRow_Aqua .aLink a, #TaskRegisterInfoGrid .dxgvSelectedRow_Aqua #formResponse_viewmore {
            color: white !important;
            text-decoration: underline;
        }

        #TaskRegisterInfoGrid .dxflGroup_Aqua, #ChartInfoGrid .dxflGroupCell_Aqua {
            padding: 0
        }
        /*.dxgvHSDC {
            display: none
        }*/
        .dxgvFocusedRow_Aqua .badge {
            color: #fff;
        }

        #TaskRegisterInfoGrid .dxgvDataRow_Aqua {
            position: relative;
        }

        #TaskRegisterInfoGrid.dxgvHeader_Aqua, #TaskRegisterInfoGrid .dxgvHeader_Aqua {
            padding: 2px;
        }
        .form-que .row {
            margin-bottom: 0;
            max-height: 1000px;
            overflow: hidden;
            transition: .6s all
        }

            .form-que .row.hit {
                max-height: 0px;
                transition: none
            }
        @@media (max-width:768px) {
            .form-row {
                width: 94%
            }

                .form-row .col-md-2 {
                    margin-bottom: 5px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid rgba(0,0,0,.3)
                }

                .form-row .col-md-2, .form-row .col-md-4 {
                    padding-left: 0
                }
        }
    </style>
    <script>
        var SelectedRowIndex_TaskRegister = [];
        var Chart_Response_ID_TaskRegister = "";
        var Chart_Response_Status_TaskRegister = "";
        var Chart_Response_Remarks_TaskRegister = "";
        var Chart_Instance_ID_TaskRegister = "@chartInstanceID";
        var ServicePath = "@ServicePath";
        var Chart_Approval_Required_TaskRegister = "@chartApprovalRequired" == "False" ? false: true;
        var UserID_TaskRegister = "";
        var UserABID_TaskRegister = "xxx";
        var ShareMessage_TaskRegister = "";
        var MobNo_TaskRegister = "";
        var NextLinkedForm_Inst_ID_TaskRegister = 0;
        var FeedbackFormInstID_TaskRegister = 0;
        var TravelFormInstID_TaskRegister = 0;
        var CompactMode_TaskRegister = "Compact";
        $(document).ready(function ()
        {
            $("#TaskRegisterActionSheet").dxActionSheet(
                {
                    usePopover: true,
                    title : "Choose Share Option",
                    target: $("#TaskRegisterInfoShare"),
                    dataSource: [
                        { icon: 'bx bxl-facebook', onClick: function (e) { ShareFacebook(e); }, text:"Facebook" },
                        { icon: 'bx bxl-twitter', onClick: function (e) { ShareTwitter(e); }, text: "Twitter" },
                        { icon: 'bx bxl-whatsapp', onClick: function (e) { ShareWhatsApp(e); }, text: "Whatsapp" },
                        { icon: 'bx bxl-telegram', onClick: function (e) { ShareTelegram(e); }, text: "Telegram"},
                        { icon: 'bx bxs-envelope', onClick: function (e) { ShareMail(e); }, text: "Email" },
                        { icon: 'bx bx-detail', onClick: function (e) { ShareSMS(e); }, text: "SMS" },
                        { icon: 'bx bx-copy-alt', onClick: function (e) { ShareCopy(e); }, text: "Copy" },

                    ],
                //    itemTemplate: function (itemData, itemIndex, itemElement)
                //    {
                //    $('<a>')
                //        .attr({
                //            href: 'mailto:Jan.Pieters@gmail.com',
                //            target: '_top'
                //        })
                //        .text('Send email')
                //        .appendTo(itemElement);
                //},
                    visible: false,
                    width: 150,
                    showTitle: true,
                    showCancelButton:false,
                height:"auto"
                });
            if ("@SessionGUID".length == 0)
            {
                $("#TaskRegisterInfoShare").hide();
                $("#TaskRegisterInfoModelCLOSE").hide();
                $("#Btn_ResendConfirmation_TaskRegister").hide();
                $("#Btn_PreviewResponse_TaskRegister").hide();
                $("#Btn_DeleteResponse_TaskRegister").hide();
                $("#Btn_EditResponse_TaskRegister").hide();
                $("#Btn_AddResponse_TaskRegister").hide();
                $("#Btn_ResponseNotArrived_TaskRegister").hide();
                $("#Btn_ResponseAccomodation_TaskRegister").hide();
                $("#Btn_ResponseArrived_TaskRegister").hide();
                $("#Btn_CancelResponse_TaskRegister").hide();
                $("#Btn_RejectResponse_TaskRegister").hide();
                $("#Btn_DraftResponse_TaskRegister").hide();
                $("#Btn_ApproveResponse_TaskRegister").hide();
                $("#Btn_AddRemarks_TaskRegister").hide();
            }
            ViewMore_FormResponse();
        })
        function ShareFacebook(e)
        {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("ShareFacebook");
        }
        function ShareTwitter(e)
        {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("ShareTwitter");
        }
        function ShareWhatsApp(e)
        {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("ShareWhatsApp");
        }
        function ShareTelegram(e)
        {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("ShareTelegram");
        }
        function ShareMail(e)
        {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("ShareMail");
        }
        function ShareSMS(e) {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("ShareSMS");
        }
        function ShareCopy(e)
        {
            if ("@ServiceReportID".length == 0 && "@EventID".length == 0)
            {
                DevExpress.ui.dialog.alert("Cannot Share<br>This Form Is Not Linked To Any Service Report Or Event", "Alert");
                return;
            }
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("ShareCopy");
        }
        function TaskRegisterhareClick(e)
        {
            $("#TaskRegisterActionSheet").dxActionSheet("instance").option('target', e.element);
            $("#TaskRegisterActionSheet").dxActionSheet("instance").option('visible', true);
        }
        function OnTaskRegisterInfoListPreviewClick()
        {
            ShowLoader();
            OpenPopup("TaskRegisterInfo_modal", "Export Option", "@Url.Action("Frm_Export_Options_TaskRegister", "Chart", new { @area = "Facility" })", "auto",130);
        }
        function closeTaskRegisterInfo() {
            if ($(".TabPanalMenu-tabs .active").attr("id").includes("_dynamic")==true) {
                btnCloseActiveTab();
            } else {

                $("#Dynamic_Content_popup").dxPopup("hide")
            }
        }
        function TaskRegisterInfoOnInit(s, e) {
            s.ExpandAll();
            TaskRegisterInfoAdjustSize();
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                TaskRegisterInfoAdjustSize();
            });
        }
        function TaskRegisterInfoAdjustSize() {            
            var height = (document.documentElement.clientHeight * 80) / 100;
            if ("@SessionGUID".length == 0) { var height = (document.documentElement.clientHeight * 100) / 100; }
            try {
                TaskRegisterInfoGrid.SetHeight(height);
            }
            catch (err) {
            }
        }
        function TaskRegisterInfoGrid_ContextMenuInit(s, e)
        {
            if (e.objectType == "row")
            {
                if (Chart_Approval_Required_TaskRegister == false)
                {
                    var Item = e.menu.GetItemByName("Approve");
                    if (Item != null) Item.SetVisible(false);
                     Item = e.menu.GetItemByName("Draft");
                    if (Item != null) Item.SetVisible(false);
                     Item = e.menu.GetItemByName("Reject");
                    if (Item != null) Item.SetVisible(false);
                }
            }
        }
        function TaskRegisterInfoGrid_ContextMenuFunction(s, e)
        {
            if (e.item.name == "Close")
            {
                closeTaskRegisterInfo();
            }
            if (e.item.name == "AddRemarks")
            {
                TaskRegister_AddRemarks();
            }
            else if (e.item.name == 'AddResponse') {
                TaskRegister_AddResponse();
            }
            else if (e.item.name == 'AddLinkedResponse') {
                TaskRegister_AddLinkedFormResponse();
            }
            else if (e.item.name == 'Approve') {
                TaskRegister_ChangeStatus("APPROVE");
            }
            else if (e.item.name == 'Draft') {
                TaskRegister_ChangeStatus("DRAFT");
            }
            else if (e.item.name == 'Reject') {
                TaskRegister_ChangeStatus("REJECT");
            }
            else if (e.item.name == 'MarkArrived') {
                TaskRegister_Arrived("MarkArrived");
            }
            else if (e.item.name == 'UnMarkArrived') {
                TaskRegister_Arrived("UnMarkArrived");
            }
            else if (e.item.name == 'Accomodation') {
                TaskRegister_Accomodation();
            }
            else if (e.item.name == 'EditResponse') {
                TaskRegister_EditResponse();
            }
            else if (e.item.name == 'DeleteResponse') {
                TaskRegister_DeleteResponse();
            }
            else if (e.item.name == 'ViewResponse') {
                TaskRegister_Preview();
            }
        }
        function OnTaskRegisterInfoGridFocusedRowChanged(s, e)
        {
            TaskRegisterInfoGrid.SetFocusedRowIndex(-1)
        }
        function TaskRegisterInfo_GetRowData(RowIndex = null)
        {
            var focusedrow = RowIndex == null ? TaskRegisterInfoGrid.GetFocusedRowIndex() : RowIndex;
            var topindex = TaskRegisterInfoGrid.GetTopVisibleIndex();
            var Index = focusedrow - topindex;
            var TaskRegisterInfoPageData = TaskRegisterInfoGrid.cpPagedata;
            if (TaskRegisterInfoPageData != null && TaskRegisterInfoPageData.length > 0 && Index < TaskRegisterInfoPageData.length) {
                Chart_Response_ID_TaskRegister = TaskRegisterInfoPageData[Index][0];
                Chart_Response_Status_TaskRegister = TaskRegisterInfoPageData[Index][1];
                Chart_Response_Remarks_TaskRegister = TaskRegisterInfoPageData[Index][2];
                UserID_TaskRegister = TaskRegisterInfoPageData[Index][3];
                UserABID_TaskRegister = TaskRegisterInfoPageData[Index][4];
            }
            else
            {
                Chart_Response_ID_TaskRegister = null;
                Chart_Response_Status_TaskRegister = "";
                Chart_Response_Remarks_TaskRegister = "";
            }
        }
        function TaskRegisterInfoGrid_SelectionChanged(s, e) {
            if (TaskRegisterInfoGrid.GetSelectedRowCount() == 0) {
                Chart_Response_ID_TaskRegister = null;
                Chart_Response_Status_TaskRegister = "";
                Chart_Response_Remarks_TaskRegister = "";
            }
        }
        function TaskRegisterInfo_GetSelectedRowData(_Action)
        {
            if (TaskRegisterInfoGrid.GetSelectedRowCount() > 0)
            {                
                ShowLoader();
                TaskRegisterInfoGrid.GetSelectedFieldValues("RESP_ID;Status;Remarks;UserID;AB_ID;SHARE_MESSAGE;Mob1;NextLinkedFormInstID;TravelFormInstID;FeedbackFormInstID",
                    function (values) { GetSelectedFieldValuesCallback_TaskRegister(values, _Action) })
            }
            else
            {
                Chart_Response_ID_TaskRegister = null;
                Chart_Response_Status_TaskRegister = "";
                Chart_Response_Remarks_TaskRegister = "";
                NextLinkedForm_Inst_ID_TaskRegister = 0;
            }
        }
        function GetSelectedFieldValuesCallback_TaskRegister(values, _Action)
        {            
            HideLoader();
            if (values != null)
            {
                for (var Index = 0; Index < values.length; Index++)
                {
                    if (Index == 0)
                    {
                        Chart_Response_ID_TaskRegister = values[Index][0];
                        Chart_Response_Status_TaskRegister = values[Index][1];
                        Chart_Response_Remarks_TaskRegister = values[Index][2];
                        UserID_TaskRegister = values[Index][3];
                        UserABID_TaskRegister = values[Index][4];
                        ShareMessage_TaskRegister = values[Index][5];
                        MobNo_TaskRegister = values[Index][6];
                        NextLinkedForm_Inst_ID_TaskRegister = values[Index][7];
                        FeedbackFormInstID_TaskRegister = values[Index][9];
                        TravelFormInstID_TaskRegister = values[Index][8];
                    }
                    else
                    {
                        Chart_Response_ID_TaskRegister = Chart_Response_ID_TaskRegister + "," + values[Index][0];
                        Chart_Response_Status_TaskRegister = Chart_Response_Status_TaskRegister + "," + values[Index][1];
                        Chart_Response_Remarks_TaskRegister = Chart_Response_Remarks_TaskRegister + "![" + values[Index][2];
                        UserID_TaskRegister = UserID_TaskRegister + "," + values[Index][3];
                        UserABID_TaskRegister = UserABID_TaskRegister + "," + values[Index][4];
                        ShareMessage_TaskRegister = ShareMessage_TaskRegister + "![" + values[Index][5];
                        MobNo_TaskRegister = MobNo_TaskRegister + "," + values[Index][6];
                        NextLinkedForm_Inst_ID_TaskRegister = NextLinkedForm_Inst_ID_TaskRegister + "," + values[Index][7];
                        TravelFormInstID_TaskRegister = TravelFormInstID_TaskRegister + "," + values[Index][8];
                        FeedbackFormInstID_TaskRegister = FeedbackFormInstID_TaskRegister + "," + values[Index][9];
                    }
                }
                if (_Action == "AddRemarks") {
                    ShowLoader();
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/Chart/Frm_ChartResponse_AddRemarks",
                        cache: false,
                        data:
                        {
                            ChartResponseID: Chart_Response_ID_TaskRegister,
                            ChartResponseRemarks: Chart_Response_Remarks_TaskRegister,
                            GridNametoRefreshAfterAdd: "TaskRegisterInfoGrid"
                        },
                        success: function (data) {
                            HideLoader();
                            OpenPopup("Response_Remark_popup", "Add Remarks", null, "auto", 330, true, data);
                        }
                    });
                }
                else if (_Action == "DRAFT" || _Action == "REJECT" || _Action == "APPROVE" || _Action == "CANCEL")
                {
                    if (Chart_Response_Status_TaskRegister!=null && Chart_Response_Status_TaskRegister.includes("Approved") && _Action != "CANCEL")
                    {
                        //var alertMessage = "The selected record is <b>already in " + Chart_Response_Status_TaskRegister + " </b>status. You <b>cannot " + _Action + "  </b> it."
                        var alertMessage = "You <b>cannot " + _Action + "  </b> forms in Approved Status<br>There are forms in <b>Approved</b> status among the selected forms.<br>Please unselect them"
                        DevExpress.ui.dialog.alert(alertMessage, "!! Alert !!");
                        return;
                    }
                    var confirmationMessage = "";
                    if (_Action == "APPROVE") { confirmationMessage = "Are you sure, to mark this form as <b>Approved</b> !! <br> <br> Note: The Applicant will be informed via SMS & Email." }
                    if (_Action == "REJECT") { confirmationMessage = "Are you sure, to mark this form as <b>Rejected</b> !! <br> <br> Note: The Applicant will be informed via SMS & Email." }
                    if (_Action == "DRAFT") { confirmationMessage = "Are you sure, to mark this form as <b>Draft</b> ??" }
                    if (_Action == "CANCEL") { confirmationMessage = "Are you sure, to mark this form as <b>Cancelled</b> ??" }
                    var confirmClick = DevExpress.ui.dialog.confirm(confirmationMessage, "!! Confirm !!");
                    confirmClick.done(function (confirmresult) {
                        if (confirmresult) {                  
                            ShowLoader();
                            $.ajax({
                                type: 'GET',
                                url: "/Facility/Chart/ChangeChartResponseStatus",
                                cache: false,
                                data:
                                {
                                    status: _Action,
                                    chartResponseID: Chart_Response_ID_TaskRegister, 
                                    chartInstanceID: Chart_Instance_ID_TaskRegister
                                },
                                success: function (data) {
                                    HideLoader();
                                    var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                                    alertClick.done(function (alertResult) {
                                        if (alertResult) {
                                            TaskRegisterInfoGrid.Refresh();
                                        }
                                    })
                                }
                            });
                        }
                    })
                }
                else if (_Action == "EditResponse")
                {
                    ShowLoader();
                    if (UserID_TaskRegister == null) { UserID_TaskRegister = ""; }
                    if (UserABID_TaskRegister == null) { UserABID_TaskRegister = ""; }
                    //var URL = ServicePath + "ViewChartUser/" + Chart_Instance_ID_TaskRegister + "/" + UserID_TaskRegister + "/" + UserABID_TaskRegister + "/?ActionMethod=_Edit&ResponseID=" + Chart_Response_ID_TaskRegister;
                    //window.open(URL);
                    //var form = $("#CallServicesFormResponse")
                    //if (form.length > 0) {
                    //    let windowName = 'w_' + Date.now() + Math.floor(Math.random() * 100000).toString();
                    //    $(form).attr("target", windowName);
                    //    $("#ResponseID").val(Chart_Response_ID_TaskRegister)
                    //    $("#UserID").val(UserID_TaskRegister)
                    //    $("#User_AB_ID").val(UserABID_TaskRegister)
                    //    $("#ActionMethod").val("_Edit")
                    //    $("#ChartInstanceId").val(Chart_Instance_ID_TaskRegister)
                    //    window.open('', windowName);
                    //    $(form).submit();
                    //}
                    HideLoader();
                    var URL = ServicePath + "ViewChartUser/" + Chart_Instance_ID_TaskRegister + "/" + UserID_TaskRegister + "/" + UserABID_TaskRegister + "/?ActionMethod=_Edit&ResponseID=" + Chart_Response_ID_TaskRegister;
                    OpenFormPopup(Chart_Instance_ID_TaskRegister, false, URL,"ViewFormUserSidePopup","Edit ~ Response")
                    window.onmessage = function (e) 
                    {
                        console.log(e)
                        @*if ("@servicesPath".includes(e.origin))*@ 
                        //{
                            if (e.data == 'FormOperationCompleted') 
                            {
                                $("#ViewFormUserSidePopup").dxPopup("hide");
                                ShowLoader();
                                TaskRegisterInfoGrid.Refresh();                                
                            }
                       // }
                    };
                   
                }
                else if (_Action == "ResendConfirmation")
                {
                    ShowLoader();
                    if (UserID_TaskRegister == null) { UserID_TaskRegister = ""; }
                    if (UserABID_TaskRegister == null) { UserABID_TaskRegister = ""; }
                    var URL = ServicePath + "createForm/ChatResponse_Success/?ChartInstanceId=" + Chart_Instance_ID_TaskRegister + "&ChartResponseId=" + Chart_Response_ID_TaskRegister;
                    window.open(URL);
                    HideLoader();
                }
                else if (_Action == "PreviewResponse") {
                    ShowLoader();
                    if (UserID_TaskRegister == null) { UserID_TaskRegister = ""; }
                    if (UserABID_TaskRegister == null) { UserABID_TaskRegister = ""; }
                    //var URL = ServicePath + "ViewChartUser/" + Chart_Instance_ID_TaskRegister + "/" + UserID_TaskRegister + "/" + UserABID_TaskRegister + "/?ActionMethod=_View&ResponseID=" + Chart_Response_ID_TaskRegister;
                    //window.open(URL);
                    //let windowName = 'w_' + Date.now() + Math.floor(Math.random() * 100000).toString();
                    //$(form).attr("target", windowName);
                    //$("#ResponseID").val(Chart_Response_ID_TaskRegister)
                    //$("#UserID").val(UserID_TaskRegister)
                    //$("#User_AB_ID").val(UserABID_TaskRegister)
                    //$("#ActionMethod").val("_View")
                    //$("#ChartInstanceId").val(Chart_Instance_ID_TaskRegister)
                    //window.open('', windowName);
                    //$(form).submit();
                    HideLoader();
                    var URL = ServicePath + "ViewChartUser/" + Chart_Instance_ID_TaskRegister + "/" + UserID_TaskRegister + "/" + UserABID_TaskRegister + "/?ActionMethod=_View&ResponseID=" + Chart_Response_ID_TaskRegister;
                    OpenFormPopup(Chart_Instance_ID_TaskRegister, false, URL, "ViewFormUserSidePopup", "View ~ Response","_View")
                }
                else if (_Action == "DeleteResponse") {
                    var deleteConfirmation_1 = DevExpress.ui.dialog.confirm("<div> !!Are You Sure !!  <br> <br> You Want To  <br> <br> <h6 style='color:red'> <b>DELETE THIS RESPONSE ?</b></h6> </div>", "!! Confirm !!");
                    deleteConfirmation_1.done(function (confirmResult_1) {
                        if (confirmResult_1) {
                            var deleteConfirmation_2 = DevExpress.ui.dialog.confirm("<div style='text-align: center;'> This response will be deleted but the user profile will be retained. <br> <br> You want to proceed?</div>", "Information");
                            deleteConfirmation_2.done(function (confirmResult_2) {
                                if (confirmResult_2) {
                                    ShowLoader();
                                    $.ajax({
                                        type: 'GET',
                                        url: "/Facility/Chart/deleteChartResponse",
                                        cache: false,
                                        data:
                                        {
                                            ChartResponseID: Chart_Response_ID_TaskRegister
                                        },
                                        success: function (data) {
                                            HideLoader();
                                            var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                                            alertClick.done(function (alertResult) {
                                                if (alertResult) {
                                                    TaskRegisterInfoGrid.Refresh();
                                                }
                                            })
                                        }
                                    });
                                }
                            })
                        }
                    })
                }
                else if (_Action == "AddLinkedResponse") {
                    var OpenLnikedResponseForm = true;
                    //var LinkedchartInstanceID = 23; //get from from data
                    //check for pre-required form presence here
                    if (NextLinkedForm_Inst_ID_TaskRegister) {
                        GetConfirmbox('Post by Self', 'Share With Others').show().done(function (confirmboxResult) {
                            OpenLnikedResponseForm = confirmboxResult;
                            ShowLoader();
                            var GuideSessionID = "";
                            $.ajax({
                                type: 'GET',
                                url: "/Facility/Chart/AddGuideSessionID",
                                cache: false,
                                data:
                                {

                                },
                                success: function (data) {
                                    GuideSessionID = data.GuideSessionID;
                                    var URL = ServicePath + "ViewChartUser/" + NextLinkedForm_Inst_ID_TaskRegister + "/" + UserID_TaskRegister + "/" + UserABID_TaskRegister + "/?GuideSessionID=" + GuideSessionID;
                                    if (OpenLnikedResponseForm) { window.open(URL, "_blank"); }
                                    else { navigator.clipboard.writeText(URL); DevExpress.ui.notify({ message: 'Link has been Copied ! You can paste it as Required...', width: 500, shading: true, position: 'center' }, "success", 1000); }
                                    HideLoader();
                                }
                            });
                        });
                    }
                    else {
                        DevExpress.ui.dialog.alert("Next Linked Chart Not Present", "Information");
                    }
                }
                else if (_Action == "MarkArrived" || _Action == "UnMarkArrived") {
                    var result = false;
                    if (_Action == "MarkArrived") {
                        result = DevExpress.ui.dialog.confirm('Are You Sure You want To Mark as Arrived...?', "Confirm");
                    }
                    else if (_Action == "UnMarkArrived") {
                        result = DevExpress.ui.dialog.confirm('Are You Sure You want To UnMark as Arrived...?', "Confirm");
                    }
                    
                    result.done(function (dialogResult) {
                        dontaskpopupcloseconfirmation = dialogResult;
                        if (dialogResult) {
                            ShowLoader();
                            $.ajax({
                                type: 'GET',
                                url: "/Facility/Chart/ChangeResponseArrivalStatus",
                                cache: false,
                                data:
                                {
                                    chartResponseID: Chart_Response_ID_TaskRegister,
                                    _Action: _Action == "MarkArrived" ? "MARK" : "UNMARK"
                                },
                                success: function (data) {
                                    HideLoader();
                                    var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                                    alertClick.done(function (alertResult) {
                                        if (alertResult) {
                                            TaskRegisterInfoGrid.UnselectAllRowsOnPage();
                                            TaskRegisterInfoGrid.Refresh();
                                        }
                                    })
                                }
                            });
                        }
                        else {
                            
                        }
                    });
                }
                else if (_Action == "Accomodation") {
                    ShowLoader();
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/Chart/Frm_ChartResponse_Accomodation",
                        cache: false,
                        data:
                        {
                            _ChartResponseID: Chart_Response_ID_TaskRegister,
                            _ChartInstanceID: Chart_Instance_ID_TaskRegister,
                            gridToRefresh: "TaskRegisterInfoGrid"
                        },
                        success: function (data) {
                            HideLoader();
                            OpenPopup("Response_Accomodation_popup", "Add Accomodation", null, "auto", 800, true, data);
                        }
                    });
                }
                else if (_Action == "ShareFacebook") {
                    window.open("https://www.facebook.com/sharer.php?t=" + ShareMessage_TaskRegister)
                }
                else if (_Action == "ShareTwitter") {
                    window.open("https://twitter.com/intent/tweet?text=" + ShareMessage_TaskRegister)
                }
                else if (_Action == "ShareWhatsApp") {
                    if (MobNo_TaskRegister != null && MobNo_TaskRegister.length > 0) {
                        window.open("https://api.whatsapp.com/send?phone=" + MobNo_TaskRegister + "&text=" + ShareMessage_TaskRegister)
                    }
                    else {
                        DevExpress.ui.dialog.alert("User Mobile No. Not Available", "Information!!");
                    }
                }
                else if (_Action == "ShareTelegram") {
                    window.open("https://telegram.me/share/url/?url" + ShareMessage_TaskRegister)
                }
                else if (_Action == "ShareMail") {
                    window.open("mailto:?subject=" + formName + "&body=:" + ShareMessage_TaskRegister)
                }
                else if (_Action == "ShareSMS") {
                    //window.open("sms:9667584019" + formName + "&body=:" + ShareMessage_TaskRegister)
                    if (MobNo_TaskRegister != null && MobNo_TaskRegister.length > 0) {
                        $.ajax({
                            type: 'GET',
                            url: "/Facility/Chart/SendRegSMS",
                            cache: false,
                            data:
                            {
                                ChartResponseId: Chart_Response_ID_TaskRegister,
                                MobNo: MobNo_TaskRegister,
                                SMSType: "share_reg_no"
                            },
                            success: function (data) {
                                HideLoader();
                                var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                                alertClick.done(function (alertResult) {
                                })
                            }
                        });
                    }
                    else {
                        DevExpress.ui.dialog.alert("User Mobile No. Not Available", "Information!!");
                    }
                }
                else if (_Action == "ShareCopy") {
                    navigator.clipboard.writeText(ShareMessage_TaskRegister); DevExpress.ui.notify({ message: 'Message has been Copied ! You can paste it as Required...', width: 500, shading: true, position: 'center' }, "success", 1000);
                }
                else if (_Action == "Travel" || _Action == "Feedback")
                {
                    var OpenLnikedResponseForm = true;
                    var ReqFormInstID = 0;
                    if (_Action == "Travel")
                    {
                        ReqFormInstID = TravelFormInstID_TaskRegister;
                    }
                    else
                    {
                        ReqFormInstID = FeedbackFormInstID_TaskRegister;
                    }
                    if (ReqFormInstID)
                    {
                        GetConfirmbox('Post by Self', 'Share With Others').show().done(function (confirmboxResult)
                        {
                            OpenLnikedResponseForm = confirmboxResult;
                            ShowLoader();
                            var GuideSessionID = "";
                            $.ajax({
                                type: 'GET',
                                url: "/Facility/Chart/AddGuideSessionID",
                                cache: false,
                                data:
                                {

                                },
                                success: function (data)
                                {
                                    GuideSessionID = data.GuideSessionID;
                                    var URL = ServicePath + "ViewChartUser/" + ReqFormInstID + "/" + UserID_TaskRegister + "/" + UserABID_TaskRegister + "/?GuideSessionID=" + GuideSessionID;
                                    if (OpenLnikedResponseForm)
                                    {
                                        window.open(URL, "_blank");
                                    }
                                    else
                                    {
                                        navigator.clipboard.writeText(URL); DevExpress.ui.notify({ message: 'Link has been Copied ! You can paste it as Required...', width: 500, shading: true, position: 'center' }, "success", 1000);
                                    }
                                    HideLoader();
                                }
                            });
                        });
                    }
                    else
                    {
                        DevExpress.ui.dialog.alert(_Action+" Form Not Found", "Information");
                    }
                }
            }
        }
        function TaskRegisterInfo_ViewSwitch_ValueChange(e)
        {
            CompactMode_TaskRegister = e.value ? "Compact" : "Default";
            ReloadGrid_ChartResponesInfo();
        }
        function ReloadGrid_ChartResponesInfo()
        {
            ShowLoader();
            $.ajax({
                url: '@Url.Action("Frm_TaskRegister_Info_Grid", "Chart")',
                type: "POST",
                data:
                {
                    ShowHorizontalBar: 1,
                    Layout: TaskRegisterInfoGrid.cpClientLayout,
                    VouchingMode: false,
                    ViewMode: CompactMode_TaskRegister,
                    ColumnToBeHidddenIndex: TaskRegisterInfoGrid.cpColumnToBeHidddenIndex,
                    ColumnToBeShownIndex: TaskRegisterInfoGrid.cpColumnToBeShownIndex,
                    Chart_Instance_ID: Chart_Instance_ID_TaskRegister,
                    isApprovalRequired:Chart_Approval_Required_TaskRegister
                },
                success: function (res)
                {
                    $("#TaskRegisterGridDiv").html(res);
                    HideLoader();
                }
            });
        }
        function TaskRegisterInfoGrid_BeginCallback(s, e) {

            e.customArgs["command"] = e.command;
            e.customArgs["Chart_Instance_ID"] = Chart_Instance_ID_TaskRegister;
            e.customArgs["isApprovalRequired"] = Chart_Approval_Required_TaskRegister;
            e.customArgs["Layout"] = s.cpClientLayout;
            e.customArgs["ColumnToBeHidddenIndex"] = s.cpColumnToBeHidddenIndex;
            e.customArgs["ColumnToBeShownIndex"] = s.cpColumnToBeShownIndex;
            e.customArgs["ViewMode"] = CompactMode_TaskRegister;
        }
        function TaskRegisterInfoGrid_EndCallback(s, e)
        {
            if (e.command == "REFRESH")
            {
                s.UnselectRows();               
            }    
            ViewMore_FormResponse();
            HideLoader();
        }
        function ViewMore_FormResponse()
        {
            $(".form-que").find('.row').each(function () {
                if ($(this).height() > 50) {
                    if ($(this).hasClass('hit') == false) {
                        $(this).addClass('hit').after("<a class='small text-muted' id='formResponse_viewmore'>View <span>more</span></a>")
                    }
                }
            });
            setTimeout(function () {
                $('.form-que #formResponse_viewmore').unbind('click');
                $('.form-que #formResponse_viewmore').click(function () {
                    var tish = $(this).prev('.row')
                    $(tish).toggleClass('hit');

                    if ($('span', this).text() == "more")
                        $('span', this).text("less")
                    else
                        $('span', this).text("more");
                });
            }, 500)
        }
        function GetConfirmbox(YesMsg, NoMsg) {
            var _confirmbox = DevExpress.ui.dialog.custom({
                title: "Post Form Response...",
                messageHtml: "Do you want to Post Form Repsonse by Self or Share Posting Link with Others ?",
                buttons: [
                    {
                        text: YesMsg,
                        elementAttr:
                        {
                            id: "CustomConfirmDialog_YesButton"
                        },
                        onClick: function () {
                            return true
                        }
                    },
                    {
                        text: NoMsg,
                        elementAttr:
                        {
                            id: "CustomConfirmDialog_NoButton"
                        },
                        onClick: function () {
                            return false
                        }
                    }
                ],
                popupOptions:
                {
                    elementAttr:
                    {
                        id: "CustomConfirmDialog_Popup"
                    },
                    onShown: function (e) {
                        $(".dx-dialog-button:first").focus();
                    },
                    onHidden: function (e) {
                        e.component.dispose();
                        $("#CustomConfirmDialog_Popup").remove();
                    }
                }
            });
            return _confirmbox;
        }

        function TaskRegister_AddResponse_Click(e)
        {
            if (e.itemData == "Add Response") {
                TaskRegister_AddResponse();
            }
            else if (e.itemData == "Add Linked Form Response") { TaskRegister_AddLinkedFormResponse(); }
            else if (e.itemData == "Add Travel Details") { TaskRegister_AddMiscFormResponse("Travel") }
            else if (e.itemData == "Add Feedback") { TaskRegister_AddMiscFormResponse("Feedback") }
        }
        function TaskRegister_AddMiscFormResponse(FormType)
        {
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData(FormType);
        }
        function TaskRegister_Accomodation()
        {
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select Rows", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("Accomodation");
        }
        function TaskRegister_Arrived(_action)
        {
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1)
            {
                DevExpress.ui.dialog.alert("Please Select Rows", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData(_action);
        }
        function TaskRegister_AddRemarks()
        {
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("AddRemarks");
        }
        function TaskRegister_ChangeStatus(Action)
        {
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1)
            {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            //if (SelectedRowCount > 1)
            //{
            //    DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
            //    return;
            //}
            TaskRegisterInfo_GetSelectedRowData(Action);
        }
        function TaskRegister_AddResponse()
        {
            GetConfirmbox('Post by Self', 'Share With Others').show().done(function (confirmboxResult)
            {
                OpenResponseForm = confirmboxResult;
                ShowLoader();
                var GuideSessionID = "";
                $.ajax({
                    type: 'GET',
                    url: "/Facility/Chart/AddGuideSessionID",
                    cache: false,
                    data:
                    {

                    },
                    success: function (data)
                    {
                        // alert(ServicePath);
                        HideLoader();
                        GuideSessionID = data.GuideSessionID;
                        var URL = ServicePath + "form/" + Chart_Instance_ID_TaskRegister + "/?GuideSessionID=" + GuideSessionID;
                        //window.open(URL, "_blank");
                        if (OpenResponseForm) { window.open(URL, "_blank"); }
                        else { navigator.clipboard.writeText(URL); DevExpress.ui.notify({ message: 'Link has been Copied ! You can paste it as Required...', width: 500, shading: true, position: 'center' }, "success", 1000); }
                        HideLoader();
                    }
                });
            });
        }
        function TaskRegister_AddLinkedFormResponse()
        {
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("AddLinkedResponse");
        }
        function TaskRegister_EditResponse()
        {
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1)
            {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1)
            {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("EditResponse");
        }
        function TaskRegister_ResendConfirmation() {
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("ResendConfirmation");
        }
        function TaskRegister_DeleteResponse()
        {
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1)
            {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1)
            {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("DeleteResponse");
        }
        function TaskRegister_Preview() {
            var SelectedRowCount = TaskRegisterInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if (SelectedRowCount > 1) {
                DevExpress.ui.dialog.alert("Multiple Rows Are Selected<br>Please Select One Row", "Alert");
                return;
            }
            TaskRegisterInfo_GetSelectedRowData("PreviewResponse");
        }
        function ClosePopupPreview_SM() {
            $("#TaskRegister_Preview").dxPopup("hide");
        }
    </script>
    <div id="TaskRegister_ParentDiv">
        <div class="report_header_div_main">
            <div>
                <div class="report_header_div">
                    <label class="report_header_label">Form Responses</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="report_button_div">
                        @(Html.DevExtreme().Button().ID("Btn_AddRemarks_TaskRegister").Text("Add Remarks").Icon("save").OnClick(@<text> function () { TaskRegister_AddRemarks(); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_ApproveResponse_TaskRegister").Text("Approve").Icon("save").Visible(chartApprovalRequired).OnClick(@<text> function () { TaskRegister_ChangeStatus("APPROVE"); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_DraftResponse_TaskRegister").Text("Draft").Icon("save").Visible(false).OnClick(@<text> function () { TaskRegister_ChangeStatus("DRAFT"); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_RejectResponse_TaskRegister").Text("Reject").Icon("close").Visible(chartApprovalRequired).OnClick(@<text> function () { TaskRegister_ChangeStatus("REJECT"); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_CancelResponse_TaskRegister").Text("Cancel Reg.").Icon("close").Visible(chartApprovalRequired).OnClick(@<text> function () { TaskRegister_ChangeStatus("CANCEL"); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_ResponseArrived_TaskRegister").Text("Arrived").Icon("save")@*.Visible(chartApprovalRequired)*@.OnClick(@<text> function () { TaskRegister_Arrived("MarkArrived"); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_ResponseNotArrived_TaskRegister").Text("Not Arrived").Icon("save")@*.Visible(chartApprovalRequired)*@.OnClick(@<text> function () { TaskRegister_Arrived("UnMarkArrived"); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_ResponseAccomodation_TaskRegister").Text("Accommodation").Icon("save").Visible(true).OnClick(@<text> function () { TaskRegister_Accomodation(); } </text>))
                        @(Html.DevExtreme().DropDownButton().ID("Btn_AddResponse_TaskRegister").Text("Add").Icon("save").OnItemClick("TaskRegister_AddResponse_Click").DataSource(new[] { "Add Response","Add Linked Form Response", "Add Travel Details", "Add Feedback" }))
                        @*@(Html.DevExtreme().Button().ID("Btn_AddResponse_TaskRegister").Text("Add").Icon("add").OnClick(@<text> function () { TaskRegister_AddResponse(); } </text>))
        @(Html.DevExtreme().Button().ID("Btn_AddLinkedResponse").Text("Add Linked").Icon("add").OnClick(@<text> function () { TaskRegister_AddLinkedFormResponse(); } </text>))*@
                        @(Html.DevExtreme().Button().ID("Btn_EditResponse_TaskRegister").Text("Edit").Icon("save").OnClick(@<text> function () { TaskRegister_EditResponse(); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_DeleteResponse_TaskRegister").Text("Delete").Icon("save").Visible(true).OnClick(@<text> function () { TaskRegister_DeleteResponse(); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_ResendConfirmation_TaskRegister").Text("ReConfirm").Icon("save").Visible(true).OnClick(@<text> function () { TaskRegister_ResendConfirmation(); } </text>))
                        @(Html.DevExtreme().Button().ID("Btn_PreviewResponse_TaskRegister").Text("Preview").Icon("save").OnClick(@<text> function () { TaskRegister_Preview(); } </text>))
                        @(Html.DevExtreme().Switch().ID("TaskRegisterInfoViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("TaskRegisterInfo_ViewSwitch_ValueChange").Width(70).Value(string.IsNullOrWhiteSpace(SessionGUID)?false:true))
                        @(Html.DevExtreme().Button().ID("TaskRegisterInfoModelListPreview").Text("List Preview").Icon("save").OnClick("OnTaskRegisterInfoListPreviewClick"))
                        @(Html.DevExtreme().Button().ID("TaskRegisterInfoModelCLOSE").Text("Close").Icon("clear").OnClick("closeTaskRegisterInfo") )
                        @(Html.DevExtreme().Button().ID("TaskRegisterInfoShare").Icon("fa fa-share-alt").OnClick("TaskRegisterhareClick") )
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 no-padding" id="ChartInfo_gridDiv">
            <form>
                <div class="parent_table" id="TaskRegisterGridDiv">
                    @Html.Partial("Frm_TaskRegister_Info_Grid", Model)
                </div>
            </form>
        </div>
        <div style="display:none">
            @{string FormResponsePath = ServicePath + "EditForm";}
            <form id="CallServicesFormResponse" method="post" target="" action="@FormResponsePath">
                @Html.Hidden("ChartInstanceId")
                @Html.Hidden("ActionMethod")
                @Html.Hidden("User_AB_ID")
                @Html.Hidden("UserID")
                @Html.Hidden("ResponseID")
            </form>
        </div>
        <div id="TaskRegisterActionSheet"></div>
    </div>    
</div>
