@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.ChartVisibilityWindow
<div class="ChartVisibilityWindow_ClearReferences">
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
    }
    <style>
        #Frm_FormVisibility_Window {
            padding-right: 0px;
            padding-left: 0px;
        }
    </style>
    <div id="Frm_FormVisibility_Window" class="container-fluid">
        <form id="FormVisibility_Window_form" class="edit_form form-horizontal">
            @Html.HiddenFor(x => x.Tag)
            @Html.HiddenFor(x => x.ChartID)
            @Html.HiddenFor(x => x.RecID)
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <label class="control-label" for="Ins_ID_ChartVisibility">Institute:</label>
                        <div id="Ins_All_ChartVisibility_DIV">
                            <br>
                            @(Html.DevExtreme().Switch().ID("Ins_All_ChartVisibility").Name("Ins_All_ChartVisibility").Value(Model.Ins_All_ChartVisibility)
                              .SwitchedOnText("ALL").SwitchedOffText("PARTICULAR").OnValueChanged("Ins_All_ChartVisibility_valueChange").Width(90))
                            <br>
                        </div>
                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Ins_ID_ChartVisibility").Name("Ins_ID_ChartVisibility").Placeholder("Choose Institute").Value(Model.Ins_ID_ChartVisibility)
                              .DataSource(d => d.Mvc().Controller("Chart").LoadAction("LookUp_Get_Institutes").Key("ID").LoadMode(DataSourceLoadMode.Raw)).DisplayExpr("NAME").ValueExpr("ID").OnValueChanged("Ins_ID_ChartVisibility_valueChange"))
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-field">
                        <label class="control-label" for="Cen_ID_ChartVisibility">Centre:</label>
                        <div id="Cen_All_ChartVisibility_DIV">
                            <br>
                            @(Html.DevExtreme().Switch().ID("Cen_All_ChartVisibility").Name("Cen_All_ChartVisibility").Value(Model.Cen_All_ChartVisibility)
                              .SwitchedOnText("ALL").SwitchedOffText("PARTICULAR").OnValueChanged("Cen_All_ChartVisibility_valueChange").Width(90))
                            <br>
                        </div>
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Cen_ID_ChartVisibility").Name("Cen_ID_ChartVisibility").Value(Model.Cen_ID_ChartVisibility).Placeholder("Choose Center").DisplayExpr("cen_name").ValueExpr("cen_id")
                              .DataSource(d => d.Mvc().Controller("Chart").LoadAction("LookUp_Get_Centres").Key("cen_id").LoadMode(DataSourceLoadMode.Raw).LoadParams(new { InsID = new JS("function (){ return Ins_ID_ChartVisibility;}") }))
                              .ContentTemplate(@<text>
                        @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Cen_ID_ChartVisibility_datagrid")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("cen_name").Caption("Name");
                            columns.Add().DataField("cen_uid").Caption("UID");
                            columns.Add().DataField("ins_short").Caption("Institute");
                            columns.Add().DataField("cen_id").Caption("cen_id").Visible(false);
                        })
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .FilterRow(s=>s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);};}"))
                    </text>).OnValueChanged("Cen_ID_ChartVisibility_valueChange"))
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <label class="control-label" for="FromYear_ChartVisibility">From Year:</label>
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("FromYear_ChartVisibility").Name("FromYear_ChartVisibility").Value(Model.FromYear_ChartVisibility).Placeholder("Choose From Year")
                              .DataSource(d => d.Mvc().Controller("Chart").LoadAction("LookUp_Get_FinancialYear").Key("cod_year_id").LoadMode(DataSourceLoadMode.Raw)).DisplayExpr("cod_year_name").ValueExpr("cod_year_id")
                              .ContentTemplate(@<text>
                        @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("FromYear_ChartVisibility_datagrid")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("cod_year_name").Caption("Name");
                            columns.Add().DataField("cod_year_sdt").Caption("Start Date").Format("dd-MM-yyyy").DataType(GridColumnDataType.Date);
                            columns.Add().DataField("cod_year_edt").Caption("End Date").Format("dd-MM-yyyy").DataType(GridColumnDataType.Date);
                            columns.Add().DataField("cod_year_id").Caption("cod_year_id").Visible(false);
                        })
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .FilterRow(s=>s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);};}"))
                    </text>).OnValueChanged("FromYear_ChartVisibility_valueChange"))

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-field">
                        <label class="control-label" for="ToYear_ChartVisibility">To Year:</label>
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("ToYear_ChartVisibility").Name("ToYear_ChartVisibility").Value(Model.ToYear_ChartVisibility).Placeholder("Choose To Year")
                              .DataSource(d => d.Mvc().Controller("Chart").LoadAction("LookUp_Get_FinancialYear").Key("cod_year_id").LoadMode(DataSourceLoadMode.Raw)).DisplayExpr("cod_year_name").ValueExpr("cod_year_id")
                              .ContentTemplate(@<text>
                        @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("ToYear_ChartVisibility_datagrid")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("cod_year_name").Caption("Name");
                            columns.Add().DataField("cod_year_sdt").Caption("Start Date").Format("dd-MM-yyyy").DataType(GridColumnDataType.Date);
                            columns.Add().DataField("cod_year_edt").Caption("End Date").Format("dd-MM-yyyy").DataType(GridColumnDataType.Date);
                            columns.Add().DataField("cod_year_id").Caption("cod_year_id").Visible(false);
                        })
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .FilterRow(s=>s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);};}"))
                    </text>).OnValueChanged("ToYear_ChartVisibility_valueChange"))
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <label class="control-label" for="UserType_ChartVisibility">User Type:</label>
                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("UserType_ChartVisibility").Name("UserType_ChartVisibility").Value(Model.UserType_ChartVisibility)
                               .DataSource(new string[]{"SUPERUSER","AUDITOR","CLIENT ROLE","ALL"}))
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-field">
                        <label class="control-label" for="Menu_ChartVisibility">Menu:</label>
                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Menu_ChartVisibility").Name("Menu_ChartVisibility").Placeholder("Choose Menu").Value(Model.Menu_ChartVisibility)
                              .DataSource(new string[] { "START", "PROFILE", "ACCOUNTS","REPORTS","STATEMENTS","FACILITY","OPTIONS","HELP","STOCK" }) )

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">
                        <label class="control-label" for="AccType_ID_ChartVisibility">Account Type:</label>
                        <div id="Acc_Type_All_ChartVisibility_DIV">
                            <br>
                            @(Html.DevExtreme().Switch().ID("AccType_All_ChartVisibility").Name("AccType_All_ChartVisibility").Value(Model.AccType_All_ChartVisibility)
                              .SwitchedOnText("ALL").SwitchedOffText("PARTICULAR").OnValueChanged("AccType_All_ChartVisibility_valueChange").Width(90))
                            <br>
                        </div>
                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("AccType_ID_ChartVisibility").Name("AccType_ID_ChartVisibility").Placeholder("Choose Account Type").Value(Model.AccType_ID_ChartVisibility)
                                 .DataSource(d => d.Mvc().Controller("Chart").LoadAction("LookUp_Get_AccType").Key("ID").LoadMode(DataSourceLoadMode.Raw)).DisplayExpr("NAME").ValueExpr("ID")         )

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 styleActionBtn">
                    @(Html.DevExtreme().Button().CustomSaveButton().Text("Save").ID("ChartVisibility_Add").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("SaveChartVisibility"))
                    @(Html.DevExtreme().Button().CustomCloseButton().Text("Cancel").ID("ChartVisibility_Cancel").FocusStateEnabled(true).OnClick(@<Text> function () { CloseChartVisibility();} </Text>))
                </div>
            </div>
        </form>
    </div><!--[Form Div]-->
    @*<iframe src="https://localhost:44341/form/22?Cone_UserID=bkpritam&Cone_CenID=5329" style="width:100%;height:calc(100vh - 30px)" frameborder="0"></iframe>*@
    <script>
        var Ins_ID_ChartVisibility = "@Model.Ins_ID_ChartVisibility";
        $(document).ready(function ()
        {
            Ins_All_ChartVisibility_valueChange(null,true)
            Cen_All_ChartVisibility_valueChange(null, true)
            Cen_ID_ChartVisibility_valueChange(null, true)
            FromYear_ChartVisibility_valueChange(null, true)
            ToYear_ChartVisibility_valueChange(null, true)
            AccType_All_ChartVisibility_valueChange(null,true)
            if ("@Model.Tag" == "_Edit")
            {
                if ("@Model.Menu_ChartVisibility".length == 0)
                {
                    $("#Menu_ChartVisibility").dxSelectBox("option", "readOnly", true);
                }
                if ("@Model.UserType_ChartVisibility".length == 0)
                {
                    $("#UserType_ChartVisibility").dxSelectBox("option", "readOnly", true);
                }
                if ("@Model.AccType_ID_ChartVisibility".length == 0)
                {
                    $("#AccType_ID_ChartVisibility").dxSelectBox("option", "readOnly", true);
                }
                if ("@Model.Ins_ID_ChartVisibility".length == 0)
                {
                    $("#Ins_ID_ChartVisibility").dxSelectBox("option", "readOnly", true);
                    $("#Cen_ID_ChartVisibility").dxDropDownBox("option", "readOnly", true);
                }
                $("#Ins_All_ChartVisibility_DIV").hide();
                $("#Cen_All_ChartVisibility_DIV").hide();
                $("#Acc_Type_All_ChartVisibility_DIV").hide();
            }
        })
        function Ins_All_ChartVisibility_valueChange(e, FirstCall = false)
        {
            var value;
            if (e)
            {
                value = e.value;
            }
            else
            {
                value = $("#Ins_All_ChartVisibility").dxSwitch("option", "value");
            }
            $("#Ins_ID_ChartVisibility").dxSelectBox("option", "readOnly", value);
            $("#Cen_All_ChartVisibility").dxSwitch("option", "readOnly", value);
            if (FirstCall == false)
            {
                $("#Ins_ID_ChartVisibility").dxSelectBox("reset");
                if (value == true)
                {
                    $("#Cen_All_ChartVisibility").dxSwitch("option", "value", true);
                }
            }
        }
        function Ins_ID_ChartVisibility_valueChange(e)
        {
            Ins_ID_ChartVisibility = e.value;
            $("#Cen_ID_ChartVisibility_datagrid").dxDataGrid("instance").clearSelection();
            $("#Cen_ID_ChartVisibility_datagrid").dxDataGrid("instance").refresh();
        }
        function AccType_All_ChartVisibility_valueChange(e, FirstCall = false)
        {
            var value;
            if (e) {
                value = e.value;
            }
            else {
                value = $("#AccType_All_ChartVisibility").dxSwitch("option", "value");
            }
            $("#AccType_ID_ChartVisibility").dxSelectBox("option", "readOnly", value);
            if (FirstCall == false)
            {
                $("#AccType_ID_ChartVisibility").dxSelectBox("reset");
            }
        }
        function Cen_All_ChartVisibility_valueChange(e, FirstCall = false)
        {
            var value;
            if (e)
            {
                value = e.value;
            }
            else
            {
                value = $("#Cen_All_ChartVisibility").dxSwitch("option", "value");
            }
            $("#Cen_ID_ChartVisibility").dxDropDownBox("option", "readOnly", value);
            if (FirstCall == false)
            {
                $("#Cen_ID_ChartVisibility").dxDropDownBox("reset");
            }
        }
        async function Cen_ID_ChartVisibility_valueChange(e,FirstCall=false)
        {
            var value;
            var DG = $("#Cen_ID_ChartVisibility_datagrid").dxDataGrid("instance");
            if (e)
            {
                value = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null)
                {
                    DG.clearSelection();
                    return;
                }
            }
            else
            {
                value = $("#Cen_ID_ChartVisibility").dxDropDownBox("option", "value");
            }
            await DG.selectRows(value);
        }
        async function FromYear_ChartVisibility_valueChange(e, FirstCall = false)
        {
            var value;
            var DG = $("#FromYear_ChartVisibility_datagrid").dxDataGrid("instance");
            if (e) {
                value = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    DG.clearSelection();
                    return;
                }
            }
            else {
                value = $("#FromYear_ChartVisibility").dxDropDownBox("option", "value");
            }
            await DG.selectRows(value);
        }
        async function ToYear_ChartVisibility_valueChange(e, FirstCall = false)
        {
            var value;
            var DG = $("#FromYear_ChartVisibility_datagrid").dxDataGrid("instance");
            if (e)
            {
                value = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null)
                {
                    DG.clearSelection();
                    return;
                }
            }
            else
            {
                value = $("#FromYear_ChartVisibility").dxDropDownBox("option", "value");
            }
            await DG.selectRows(value);
        }
        function CloseChartVisibility(){
            HidePopup('FormVisibilityWindowPopup');
        }

        function SaveChartVisibility(e)
        {
            var formdata = new FormData($('#FormVisibility_Window_form').get(0));
            ShowLoader();
            $.ajax({
                type: 'POST',
                url: "/Facility/Chart/SaveChartVisibilityDetails",
                cache: false,
                data: formdata,
                processData: false,
                contentType: false,
                success: function (data)
                {
                    HideLoader();

                    var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                    alertClick.done(function (alertResult)
                    {
                        if (alertResult)
                        {
                            if (data.jsonParam.result == true)
                            {
                                CloseChartVisibility();
                                $("#ChartVisibility_DG").dxDataGrid("instance").refresh();
                            }
                            else
                            {
                                if (data.jsonParam.focusid != null && data.jsonParam.focusid.length > 0)
                                {
                                    setTimeout(function ()
                                    {
                                        $("#" + data.jsonParam.focusid).find('input').focus();
                                    },200)
                                }
                            }
                        }
                    })
                }
            });
        }
    </script>

</div>