<div class="FromToDateSelectionFacility_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model System.Data.DataTable
    @{
        
    }
    <div class="row">
        <div class="col-sm-6">
            <label>Start Date</label>
            @(Html.DevExtreme().DateBox().CustomDateBox().Name("StartDate_MappedUserstoChart").ID("StartDate_MappedUserstoChart").Min(new DateTime(1990,01,01))
                    .OnValueChanged("StartDate_MappedUserstoChart_ValueChange"))
        </div>
        <div class="col-sm-6">
            <label>Start Time</label>
            @(Html.DevExtreme().DateBox().CustomDateBox().Name("StartTime_MappedUserstoChart").ID("StartTime_MappedUserstoChart").Min(DateTime.MinValue)
                .Type(DateBoxType.Time).DisplayFormat("hh:mm a").UseMaskBehavior(true).Placeholder("hh:mm AM/PM").Interval(15).OnValueChanged("StartTime_MappedUserstoChart_ValueChange"))

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label>End Date</label>
            @(Html.DevExtreme().DateBox().CustomDateBox().Name("EndDate_MappedUserstoChart").ID("EndDate_MappedUserstoChart").Min(new DateTime(1990,01,01))
                    .OnValueChanged("EndDate_MappedUserstoChart_ValueChange"))
        </div>

        <div class="col-sm-6">
            <label>End Time</label>
            @(Html.DevExtreme().DateBox().CustomDateBox().Name("EndTime_MappedUserstoChart").ID("EndTime_MappedUserstoChart").Type(DateBoxType.Time).Min(DateTime.MinValue)
                .DisplayFormat("hh:mm a").UseMaskBehavior(true).Placeholder("hh:mm AM/PM").Interval(15).OnValueChanged("EndTime_MappedUserstoChart_ValueChange"))
        </div>

    </div>
    <div class="row">        
        <div class="col-md-12">   
            <div class="float-right">
                @(Html.DevExtreme().Button().ID("MappedUserstoChart_Edit").Text("Edit").Icon("edit").OnClick(@<text> function () { Edit_MappedUserstoChart() } </text>) )
            </div>   
        </div>   
    </div>
    <script>
    
            var fromdate_MappedUserstoChart = null; var todate_MappedUserstoChart = null; var fromtime_MappedUserstoChart = null; var totime_MappedUserstoChart = null;
           
            function StartDate_MappedUserstoChart_ValueChange(e) {              
               
                fromdate_MappedUserstoChart = $("#StartDate_MappedUserstoChart").dxDateBox("instance").option("value");
            }
            function EndDate_MappedUserstoChart_ValueChange(e) {     
                todate_MappedUserstoChart = $("#EndDate_MappedUserstoChart").dxDateBox("instance").option("value");
            }
            function StartTime_MappedUserstoChart_ValueChange(e) {
                fromtime_MappedUserstoChart = $("#StartTime_MappedUserstoChart").dxDateBox("instance").option("value");
            }
            function EndTime_MappedUserstoChart_ValueChange(e) {
                totime_MappedUserstoChart = $("#EndTime_MappedUserstoChart").dxDateBox("instance").option("value");
            }

 
        function Edit_MappedUserstoChart() {       

            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Facility/Chart/editUsersoftheChartByRecid",
                cache: false,
                data:
                {
                    selectedRecIDs: selectedUser_RecIDs_MappedtoChart,
                    fromdate: fromdate_MappedUserstoChart == null ? null : JS_Json_Date_To_ddMMyyyy(fromdate_MappedUserstoChart),
                    todate: todate_MappedUserstoChart == null ? null : JS_Json_Date_To_ddMMyyyy(todate_MappedUserstoChart),
                    fromtime: fromtime_MappedUserstoChart == null ? null : JS_Json_Date_To_ddMMyyyy(fromtime_MappedUserstoChart),
                    totime: totime_MappedUserstoChart == null ? null : JS_Json_Date_To_ddMMyyyy(totime_MappedUserstoChart)
                },
                success: function (data) {
                    HideLoader();
                    if (data.jsonParam.result == false) {
                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                    }
                    else {
                        var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                        alertClick.done(function (alertResult) {
                            if (alertResult) {
                                HideLoader();
                                MappedUserstoChartInfoGrid.Refresh();
                                $("#MappedUsertoChart_FromToDate_Screen_Modal").dxPopup("hide");
                            }
                        })
                    }
                }
            });
        }
    </script>
</div>
