<div class="ChartFacility_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model System.Data.DataTable
    @{
        string inParam_ProjectID = (string)ViewBag.serviceProject_ID;
        int ShowHorizontalBar = (int)ViewBag.ShowHorizontalBar;
        int cenId = (int)ViewBag.CenId;
        string servicesPath = System.Web.Configuration.WebConfigurationManager.AppSettings["Servicespath"].ToString();
        //bool Facility_ChartInfo_FirstOrAllInstancesRight = (bool)ViewData["Facility_ChartInfo_FirstOrAllInstancesRight"];
        bool Facility_ChartInfo_BulkAllotmentRight = (bool)ViewData["Facility_ChartInfo_BulkAllotmentRight"];
        bool Facility_ChartInfo_SummariesRight = (bool)ViewData["Facility_ChartInfo_SummariesRight"];
        bool Facility_ChartInfo_UserMappingsRight = (bool)ViewData["Facility_ChartInfo_UserMappingsRight"];
        bool Facility_ChartInfo_AddRight = (bool)ViewData["Facility_ChartInfo_AddRight"];
        bool Facility_ChartInfo_CopyRight = (bool)ViewData["Facility_ChartInfo_CopyRight"];
        bool Facility_ChartInfo_ShiftRight = (bool)ViewData["Facility_ChartInfo_ShiftRight"];
        bool Facility_ChartInfo_CustomNotificationRight = (bool)ViewData["Facility_ChartInfo_CustomNotificationRight"];
        bool Facility_ChartInfo_OnlyAllowedToSpecificUsersRight = (bool)ViewData["Facility_ChartInfo_OnlyAllowedToSpecificUsersRight"];
        bool Facility_ChartInfo_UpdateRight = (bool)ViewData["Facility_ChartInfo_UpdateRight"];
        bool Facility_ChartInfo_DeleteRight = (bool)ViewData["Facility_ChartInfo_DeleteRight"];
        bool Facility_ChartInfo_VisibilityRight = (bool)ViewData["Facility_ChartInfo_VisibilityRight"];
        bool Facility_ChartInfo_ResponsesRight = (bool)ViewData["Facility_ChartInfo_ResponsesRight"];
        //bool Facility_ChartInfo_CompactDefaultRight = (bool)ViewData["Facility_ChartInfo_CompactDefaultRight"];
        bool Facility_ChartInfo_ExportRight = (bool)ViewData["Facility_ChartInfo_ExportRight"];

    }
    <style>
        #ChartInfoGrid_DXAHeaderPanel{display:none}
        #ChartInfo_ParentDiv .form-row .col-md-2, #ChartInfo_ParentDiv .form-row .col-md-4 { padding-right: 8px; padding-left: 8px; }

        .p-l-10 {
            padding-left: 10px
        }

        .p-r-5 {
            padding-right: 5px
        }

        .p-l-0 {
            padding-left: 0
        }

        .p-r-0 {
            padding-right: 0
        }

        .form-row {
            padding: 0;
            cursor: pointer;
            transition: .3s all;
            word-break: break-word; /* color:#323253*/
        }

        #ChartInfo_ParentDiv .evt-details img {
            width: 45px;
            height: 45px;
        }

        #ChartInfo_ParentDiv .evt-details .col-xs-3 {
            width: 22%
        }

        #ChartInfo_ParentDiv .evt-details .col-xs-9 {
            width: 78%
        }

        p.red {
            font-size: 12px;
            font-weight: bold;
        }

        .red {
            color: #ad1f1f
        }

        .green {
            color: #159b2d
        }

        .blue {
            color: #2e76b5
        }

        .ev-title {
            display: block;
            max-height: 38px;
            overflow: hidden
        }

        #ChartInfo_ParentDiv .form-row p {
            margin-bottom: 0;
            font-size: 12px
        }

        #ChartInfo_ParentDiv .form-row b {
            font-size: 12px;
        }

        #ChartInfo_ParentDiv .form-row div {
            font-size: 12px;
        }

        #ChartInfo_ParentDiv .form-row a {
            color: #1d499a;
            min-height: 48px;
            cursor: pointer
        }

        #ChartInfo_ParentDiv .form-row.active, .dxgvFocusedRow_Aqua {
            background: #264a8d !important;
            color: #fff;
        }

            #ChartInfo_ParentDiv .form-row.active:hover {
                background: #3d5789;
            }

            #ChartInfo_ParentDiv .form-row.active .red {
                color: #fff
            }

        .ellp {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        #ChartInfo_ParentDiv .badge {
            color: #323232;
            padding: 1px 0;
            margin-right: 5px;
            font-size: 11px;
            margin-bottom: 3px;
            width: auto;
            white-space: normal;
            text-align: left;
            font-style: italic;
            line-height: 14px;
            display: block
        }

        .maxheightblukallotment > div {
            max-height: 99vh;
        }

        #ChartInfo_ParentDiv .badge.badge-primary, .badge.badge-success, .badge.badge-warning, .badge.badge-danger {
            background-color: transparent;
            border-color: transparent;
        }

        #ChartInfoGrid .dxgvFocusedRow_Aqua .aLink a {
            color: white !important;
            text-decoration: underline;
        }

        #ChartInfoGrid .dxflGroup_Aqua, #ChartInfoGrid .dxflGroupCell_Aqua {
            padding: 0
        }

        #ChartInfo_ParentDiv .dxgvFocusedRow_Aqua .badge {
            color: #fff;
        }

        #ChartInfoGrid .dxgvHeader_Aqua, #ChartResponsesInfoGrid .dxgvHeader_Aqua {
            padding: 2px;
        }

        #ChartInfo_ParentDiv .dx-datagrid .dx-row > td {
            padding-top: 4px;
            padding-bottom: 4px;
            border-bottom: 1px solid #ddd;
        }

        #ChartInfo_ParentDiv .dx-scrollable-scrollbars-alwaysvisible.dx-scrollable-vertical > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content {
            padding-right: 0
        }

        #Addblk_Save, #Addblk_Cancel, #BtnSave_BlkW, #BtnCancel_BlkW {
            width: 100%;
            padding: 4px;
            font-size: 16px;
        }

        #ChartInfo_ParentDiv .dxflLTR .dxflNoDefaultPaddings > div:first-child > div, .dxflLTR .dxflNoDefaultPaddings > .dxflNotFloatedElSys > div {
            padding-left: 0;
        }

        #ChartInfo_ParentDiv .AdaptiveCommandColumn span {
            position: relative;
            left: 2px;
            top: -9px;
        }

        #ChartResponsesInfoGrid .dxgvAdaptiveHeaderPanel_Aqua {
            padding-left: 6px
        }

        #ChartInfo_ParentDiv .dx-datagrid-nowrap .dx-header-row > td > .dx-datagrid-text-content {
            white-space: normal
        }

        #ChartInfo_ParentDiv .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
            vertical-align: middle
        }

        .dx-dropdownbutton-popup-wrapper.dx-popup-wrapper .dx-overlay-content {
            min-width: 186px !important;
            cursor: pointer;
        }

        @@media (max-width:768px) { .form-row {
                width: 94%
            }

            #ChartInfo_ParentDiv .form-row .col-md-2 {
                margin-bottom: 5px;
                padding-bottom: 8px;
                border-bottom: 1px solid rgba(0,0,0,.3)
            }

            #ChartInfo_ParentDiv .form-row .col-md-2, .form-row .col-md-4 {
                padding-left: 0
            }
        }
    </style>
    <div id="ChartInfo_ParentDiv">
        <div id="ChartInfo_content" class="report_header_div_main clearfix">
            <div class="report_header_div">
                <label class="report_header_label">Service Forms</label>
            </div>
            <div class="report_button_div">
                @(Html.DevExtreme().Switch().ID("ChartInfoViewInstancesModeSwitch").SwitchedOnText("All Instances").SwitchedOffText("First Instance").OnValueChanged("ChartInfo_ViewSwitchInstances_ValueChange").Width(100).Value(true))
                @(Html.DevExtreme().Button().ID("Btn_BulkAllotment_ChartInfo").Text("Bulk Allotment")//.Icon("save")
                .OnClick("BulkAllotment_ChartInfo"))
                <script>
                    function BulkAllotment_ChartInfo() {
                        var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
                        if (focusIndex < 0) {
                            DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                            return;
                        }
                        ChartInfo_GetRowData(focusIndex);
                        if (purpose_chartinfo == "REGISTRATION" || purpose_chartinfo == "ACCOMMODATION") {
                            ShowLoader();
                            BulkAllotment_Accommodation(chartInstanceID, totalRegistrationCount);
                        }
                        else {
                            DevExpress.ui.dialog.alert("Please Select The Form With The Purpose 'Accommodation' or 'Registration' Only", "Alert");
                        }
                    }
                </script>
                <div id="ServiceProjectButtons" style="display:none">
                    @*@(Html.DevExtreme().Button().ID("ServiceProjectMapSubject").Text("Map Subjects With The Project").OnClick("ServiceProjectMapSubject").Visible(true) )*@
                    @*@(Html.DevExtreme().Button().ID("ServiceProjectMappedSubject").Text("View Mapped Subjects Of The Project").OnClick("ServiceProjectMappedSubject").Visible(true) )
@(Html.DevExtreme().Button().ID("ServiceProjectNotification").Text("Send/Schedule Notification").OnClick("ServiceProjectNotification").Visible(true) )*@
                </div>
                @(Html.DevExtreme().Button().ID("ChartInfoExportToGoogleSheet").Text("Export to Google Sheet").Icon("add").OnClick("Export2GoogleSheet_Click").Visible(true) )
@(Html.DevExtreme().DropDownButton().ID("Btn_ViewSummary").Text("Summaries").OnItemClick("Chart_ViewSummary_Click").DataSource(new[]
                    { "Guest Summary","Accommodation Details" ,"Travel Summary", "Accomodation Summary","Food Summary","Food Detail","Points Summary", "Recommendation Summary", "Centerwise Guest Summary", "Quiz Result"}))
                @(Html.DevExtreme().DropDownButton().ID("Btn_MapUsers").Text("User Mappings").OnItemClick("UserMappings_Click").DataSource(new[] { "Map Users With The Chart", "Map Subjects With The Project", "View Mapped Subjects Of The Project" }))
                @*@(Html.DevExtreme().Button().ID("ChartInfoAccomSummary").Text("Accom. Summary").OnClick("showAccommodationSummary").Visible(true) )*@
                @*@(Html.DevExtreme().Button().ID("ChartInfoTravelSummary").Text("Travel Summary").OnClick("showTravelSummary").Visible(false) )
@(Html.DevExtreme().Button().ID("ChartInfoGuestSummary").Text("Guest Summary").OnClick("showGuestSummary").Visible(false) )*@
                @(Html.DevExtreme().Button().ID("ChartInfoCreateForm").Text("Create Form").Icon("add").OnClick("CreateForm_Click").Visible(true) )
                @*@(Html.DevExtreme().Button().ID("ChartInfoViewMapUsers").Text("View Mapped Users").Visible(true).OnClick("ViewMappedUserstoChart"))*@
                @(Html.DevExtreme().Button().ID("ChartInfoCreateFormCopy").Text("Create Copy").Icon("add").OnClick("CreateCopy_Click").Visible(true) )
                @(Html.DevExtreme().Button().ID("ChartInfoShiftForm").Text("Shift Form").Icon("add").OnClick("ShiftForm_Click").Visible(true) )
                @(Html.DevExtreme().Button().ID("ChartInfoEditForm").Text("Edit Form").Icon("edit").OnClick("EditForm_Click").Visible(true) )
                @(Html.DevExtreme().Button().ID("ChartInfoDeleteForm").Text("Delete Form").Icon("trash").OnClick("DeleteForm_Click").Visible(true) )
                @(Html.DevExtreme().Button().ID("ChartInfoFormVisibility").Text("Chart Visibility").OnClick("FormVisibility_Click").Visible(true) )
                @(Html.DevExtreme().Button().ID("ChartInfoShowResponses").Text("Show Responses").Icon("save").OnClick("showResponses") )
                @(Html.DevExtreme().Button().ID("ChartInfoCopyToClipBoard").Text("Copy Link to Clipboard").Icon("copy").OnClick("CopyToClipboard_ChartInfo") )
                @(Html.DevExtreme().Button().ID("ViewMappedUsers_Chart").Text("Map Subject with Form").Icon("copy").OnClick("ViewMappedUserstoChart") )
                @(Html.DevExtreme().Button().ID("ChartInfoDownloadForm").Text("Print/Download Form").Icon("download").OnClick("DownloadForm_ChartInfo") )
                @(Html.DevExtreme().Switch().ID("ChartInfoViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("ChartInfo_ViewSwitch_ValueChange").Width(70).Value(true))
                @(Html.DevExtreme().Button().ID("ChartInfoModelListPreview").Text("List Preview").Icon("save").OnClick("OnChartInfoListPreviewClick"))
                @(Html.DevExtreme().Button().ID("ChartInfoModelCLOSE").Text("Close").Icon("clear").OnClick("closeChartInfo") )
                @*@(Html.DevExtreme().Button().ID("ChartInfoModelCLOSE").Text("Test Webservice").Icon("clear").OnClick("TestWebService") )*@

            </div>
        </div>
        <div id="ChartInfo_hideFilters" class="filhdr" onclick="hideFiltersChart_Info()">
            <span>Click to Show Headers</span>
            <i class="bx bx-down-arrow-alt"></i>
        </div>

        <div class="col-md-12 no-padding" id="ChartInfo_gridDiv">
            <form>
                <div id="ChartInfoGridPartialView" class="parent_table">
                   
                    @if (@ViewBag.Screen.Contains("Sparc_") == false)
                    {
                        @Html.Partial("Frm_Chart_Info_Grid", Model);
                    }
                    else
                    {
                        @Html.Partial("Frm_Chart_Sparc_Info_Grid", Model);
                    }

                </div>
            </form>
        </div>
    </div>

    <script>
        var chartInstanceID = "";
        var formID = "";
        var responseTabName = "";
        var isApprovalRequired;
        var formName = "";
        var formDescription = "";
        var formTitle = "";
        var summary_type_ChartInfo = "";
        var inParam_ProjectID = "@inParam_ProjectID";
        var TravelFormID_chart = 0;
        var ServiceReportID_chartInfo = null;
        var ChartInfo_NestedRecord_FocusedRowIndex = -1;
        var ChartInfo_IsDetailRowExpanded = false;
        var ChartInfo_NestedGrid_RowID = null;
        var ChartInfoNested_Zone = null;
        var ChartInfoNested_Centre = null;
        var ChartInfoNested_CenId = null;
        var ChartInfoNested_Pending = null;
        var ChartInfoNested_Approved = null;
        var ChartInfoNested_Rejected = null;
        var ChartInfoNested_Cancelled = null;
        var ChartInfoNested_Total = null;
        var Chart_ShowHorizontalBar = parseInt("@ShowHorizontalBar");
        var ServicePath = "@servicesPath";
        var EventID_chartInfo = null;
        var CompactMode_chartInfo = "Compact";
        var InstanceSwitchMode_chartInfo = true;
        var Screen_ChartInfo = '@ViewBag.Screen';

        function hideFiltersChart_Info() {
            var div = document.getElementById("ChartInfoGrid_DXAHeaderPanel");
            //if(div == null)
            if (div.style.display == "none") {
                div.style.display = "block";
                $("#ChartInfo_hideFilters").find('span').text("Click to Hide Headers")
                $("#ChartInfo_hideFilters").find('i').removeClass('bx-down-arrow-alt').addClass('bx-up-arrow-alt');
            }
            else {
                div.style.display = "none";
                $("#ChartInfo_hideFilters").find('span').text("Click to Show Headers");
                $("#ChartInfo_hideFilters").find('i').removeClass('bx-up-arrow-alt').addClass('bx-down-arrow-alt');
            }
        }
        $(document).ready(function ()
        {
            debugger;
            @*if ("@Facility_ChartInfo_FirstOrAllInstancesRight" == "False")
            {
                $("#ChartInfoViewInstancesModeSwitch").hide();
            }*@
            if ("@Facility_ChartInfo_BulkAllotmentRight" == "False")
            {
                $("#Btn_BulkAllotment_ChartInfo").hide();
            }
            if ("@Facility_ChartInfo_SummariesRight" == "False")
            {
                $("#Btn_ViewSummary").hide();
            }
            if ("@Facility_ChartInfo_UserMappingsRight" == "False")
            {
                $("#Btn_MapUsers").hide();
            }
            if ("@Facility_ChartInfo_AddRight" == "False")
            {
                $("#ChartInfoCreateForm").hide();
            }
            if ("@Facility_ChartInfo_CopyRight" == "False")
            {
                $("#ChartInfoCreateFormCopy").hide();
            }
            if ("@Facility_ChartInfo_ShiftRight" == "False") {
                $("#ChartInfoShiftForm").hide();
            }
            if ("@Facility_ChartInfo_UpdateRight" == "False")
            {
                $("#ChartInfoEditForm").hide();
            }
            if ("@Facility_ChartInfo_DeleteRight" == "False")
            {
                $("#ChartInfoDeleteForm").hide();
            }
            if ("@Facility_ChartInfo_VisibilityRight" == "False")
            {
                $("#ChartInfoFormVisibility").hide();
	            //$("#PropertyModelLock").hide();
            }
            debugger;
            if ("@Facility_ChartInfo_ResponsesRight" == "False")
            {
                $("#ChartInfoShowResponses").hide();
            }
            @*if ("@Facility_ChartInfo_CompactDefaultRight" == "False")
            {
                $("#ChartInfoViewModeSwitch").hide();
            }*@
            if ("@Facility_ChartInfo_ExportRight" == "False")
            {
                $("#ChartInfoModelListPreview").hide();
                $("#ChartInfoExportToGoogleSheet").hide();
            }
            if ("@Facility_ChartInfo_OnlyAllowedToSpecificUsersRight" == "False") {
                $("#ChartInfoCreateForm").hide();
                $("#ChartInfoCreateFormCopy").hide();
                $("#ChartInfoShiftForm").hide();
                $("#ChartInfoEditForm").hide();
                $("#ChartInfoDeleteForm").hide();
            }
            if (inParam_ProjectID.length > 0)
            {
                $("#ServiceProjectButtons").show();
            }
            else
            {
                $("#Btn_MapUsers").dxDropDownButton("option", "dataSource", ["Map Users With The Chart"])
            }
            $('#ChartInfoCopyToClipBoard').hide();
            $('#ChartInfoDownloadForm').hide();
            $('#ViewMappedUsers_Chart').hide();
            if (Screen_ChartInfo.includes("Sparc_")) {
                InstanceSwitchMode_chartInfo = false;
                $("#ChartInfoViewInstancesModeSwitch").dxSwitch("instance").option("value", false);
                $('#ChartInfoExportToGoogleSheet').hide();
                $('#ChartInfoShowResponses').show();
            }
            if (Screen_ChartInfo.includes("Sparc_Delete")) {
                $('#Btn_BulkAllotment_ChartInfo').hide();
                $('#Btn_ViewSummary').hide();
                $('#Btn_MapUsers').hide();
                $('#ChartInfoCreateForm').hide();
                $('#ChartInfoCreateFormCopy').hide();
                $('#ChartInfoEditForm').hide();
                $('#ChartInfoDeleteForm').show();
                $('#ChartInfoFormVisibility').hide();
                //$('#ChartInfoShowResponses').hide();
                $('#ChartInfoViewModeSwitch').hide();
                $('#ChartInfoCopyToClipBoard').hide();
                $('#ChartInfoDownloadForm').hide();
            }
            else if (Screen_ChartInfo.includes("Sparc_Edit")) {
                $('#Btn_BulkAllotment_ChartInfo').hide();
                $('#Btn_ViewSummary').hide();
                $('#Btn_MapUsers').hide();
                $('#ChartInfoCreateForm').hide();
                $('#ChartInfoCreateFormCopy').hide();
                $('#ChartInfoEditForm').show();
                $('#ChartInfoDeleteForm').hide();
                $('#ChartInfoFormVisibility').hide();
                //$('#ChartInfoShowResponses').hide();
                $('#ChartInfoViewModeSwitch').hide();
                $('#ChartInfoCopyToClipBoard').hide();
                $('#ChartInfoDownloadForm').hide();
            }
            else if (Screen_ChartInfo.includes("Sparc_Copy")) {
                $('#Btn_BulkAllotment_ChartInfo').hide();
                $('#Btn_ViewSummary').hide();
                $('#Btn_MapUsers').hide();
                $('#ChartInfoCreateForm').hide();
                $('#ChartInfoCreateFormCopy').show();
                $('#ChartInfoEditForm').hide();
                $('#ChartInfoDeleteForm').hide();
                $('#ChartInfoFormVisibility').hide();
                //$('#ChartInfoShowResponses').hide();
                $('#ChartInfoViewModeSwitch').hide();
                $('#ChartInfoCopyToClipBoard').hide();
                $('#ChartInfoDownloadForm').hide();
            }
            else if (Screen_ChartInfo.includes("Sparc_Share")) {
                $('#Btn_BulkAllotment_ChartInfo').hide();
                $('#Btn_ViewSummary').hide();
                $('#Btn_MapUsers').hide();
                $('#ChartInfoCreateForm').hide();
                $('#ChartInfoCreateFormCopy').hide();
                $('#ChartInfoEditForm').hide();
                $('#ChartInfoDeleteForm').hide();
                $('#ChartInfoFormVisibility').hide();
                //$('#ChartInfoShowResponses').hide();
                $('#ChartInfoViewModeSwitch').hide();
                $('#ChartInfoCopyToClipBoard').show();
                $('#ChartInfoDownloadForm').hide();
            }
            else if (Screen_ChartInfo.includes("Sparc_Download")) {
                $('#Btn_BulkAllotment_ChartInfo').hide();
                $('#Btn_ViewSummary').hide();
                $('#Btn_MapUsers').hide();
                $('#ChartInfoCreateForm').hide();
                $('#ChartInfoCreateFormCopy').hide();
                $('#ChartInfoEditForm').hide();
                $('#ChartInfoDeleteForm').hide();
                $('#ChartInfoFormVisibility').hide();
                //$('#ChartInfoShowResponses').hide();
                $('#ChartInfoViewModeSwitch').hide();
                $('#ChartInfoCopyToClipBoard').hide();
                $('#ChartInfoDownloadForm').show();
            }
            else if (Screen_ChartInfo.includes("Sparc_MapForm2Subject")) {
                $('#Btn_BulkAllotment_ChartInfo').hide();
                $('#Btn_ViewSummary').hide();
                $('#Btn_MapUsers').hide();
                $('#ChartInfoCreateForm').hide();
                $('#ChartInfoCreateFormCopy').hide();
                $('#ChartInfoEditForm').hide();
                $('#ChartInfoDeleteForm').hide();
                $('#ChartInfoFormVisibility').hide();
                //$('#ChartInfoShowResponses').hide();
                $('#ChartInfoViewModeSwitch').hide();
                $('#ChartInfoCopyToClipBoard').hide();
                $('#ChartInfoDownloadForm').hide();
                $('#ViewMappedUsers_Chart').show();
            }
        })
        function ChartInfo_ViewSwitch_ValueChange(e)
        {
            CompactMode_chartInfo = e.value ? "Compact" : "Default";
            if (CompactMode_chartInfo == "Default") { document.getElementById("ChartInfo_hideFilters").style.display = "none"; }
            else { document.getElementById("ChartInfo_hideFilters").style.display = "block";}
            ReloadGrid_ChartInfo();
        }
        function ChartInfo_ViewSwitchInstances_ValueChange(e) {
            InstanceSwitchMode_chartInfo = e.value;
            if (e.value) {
                $("#ChartInfoViewInstancesModeSwitch").dxSwitch("instance").option("value", true);
            }
            else {
                $("#ChartInfoViewInstancesModeSwitch").dxSwitch("instance").option("value", false);
            }
            RefreshGridView("ChartInfoGrid");
        }
        function ReloadGrid_ChartInfo()
        {
            $.ajax({
                url: '@Url.Action("Frm_Chart_Info_Grid", "Chart")',
                type: "POST",
                data:
                {
                    ShowHorizontalBar: 1,
                    Layout: ChartInfoGrid.cpClientLayout,
                    VouchingMode: false,
                    ViewMode: CompactMode_chartInfo,
                    ColumnToBeHidddenIndex: ChartInfoGrid.cpColumnToBeHidddenIndex,
                    ColumnToBeShownIndex: ChartInfoGrid.cpColumnToBeShownIndex
                },
                success: function (res)
                {
                    $("#ChartInfoGridPartialView").html(res);
                }
            });
        }
        function ChartInfoGrid_ContextMenuFunction(s, e)
        {
            if (e.item.name == "CreateForm") {
                CreateForm_Click();
            }
            if (e.item.name == "CopyForm") {
                CreateCopy_Click();
            }
            if (e.item.name == "ShiftForm") {
                ShiftForm_Click();
            }
            else if (e.item.name == 'Export2GoogleSheet') {
                Export2GoogleSheet_Click();
            }
            else if (e.item.name == 'EditForm') {
                EditForm_Click();
            }
            else if (e.item.name == 'DeleteForm') {
                DeleteForm_Click();
            }
            else if (e.item.name == 'Responses') {
                showResponses();
            }
            else if (e.item.name == 'ChartVisibility') {
                FormVisibility_Click();
            }
            else if (e.item.name == 'GuestSummary') {
                showGuestSummary();
            }
            else if (e.item.name == 'MapUserChart') {
                ViewMappedUserstoChart();
            }
            else if (e.item.name == 'MapUserProject') {
                ServiceProjectMapSubject();
            }
            else if (e.item.name == 'ViewMapUserProject') {
                ServiceProjectMappedSubject();
            }
            else if (e.item.name == 'ListPreview') {
                OnChartInfoListPreviewClick();
            }
            else if (e.item.name == 'Close') {
                closeChartInfo();
            }
        }
        function GetConfirmbox(title, DisplayMessage, YesMsg, NoMsg) {
            var _confirmbox = DevExpress.ui.dialog.custom({
                title: title,
                messageHtml: DisplayMessage,
                showCloseButton: true,
                buttons: [
                    {
                        text: YesMsg,
                        elementAttr:
                        {
                            id: "CustomConfirmDialog_YesButton"
                        },
                        onClick: function () {
                            return true
                        }
                    },
                    {
                        text: NoMsg,
                        elementAttr:
                        {
                            id: "CustomConfirmDialog_NoButton"
                        },
                        onClick: function () {
                            return false
                        }
                    }
                ],
                popupOptions:
                {
                    elementAttr:
                    {
                        id: "CustomConfirmDialog_Popup"
                    },
                    onShown: function (e) {
                        $(".dx-dialog-button:first").focus();
                    },
                    onHidden: function (e) {
                        e.component.dispose();
                        $("#CustomConfirmDialog_Popup").remove();
                    }
                }
            });
            return _confirmbox;
        }
        function Export2GoogleSheet_Click()
        {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            ChartInfo_GetRowData(focusIndex);
            var Confirmation_1 = DevExpress.ui.dialog.confirm("<div> Are You Sure you want to export responses of Form: <br><b>" + formName  +"</b> </div>", "Confirmation");
            Confirmation_1.done(function (confirmResult_1) {
                if (confirmResult_1) {
                    GetConfirmbox('Overwrite OR Append?', 'Do you want to overwrite previously exported form response data in sheet? <br> OR <br> Append new data to it, keeping old data as it is exported earlier? <br><br> <b>Overwrite</b> : All styling or changes made to the sheet will be lost and content will also be overwritten with new content. <br> <b>Append</b> : It will preserve old data and formatting and will append new data below previous data.', 'Overwrite and Loose Changes', 'Append to Existing').show().done(function (confirmboxResult2) {
                        ShowLoader();
                        $.ajax({
                            type: 'GET',
                            url: "/Facility/Chart/Frm_ChartResponse_Export2GoogleSheet_Email",
                            cache: false,
                            data:
                            {
                                Form_Instance_Id: chartInstanceID,
                                OverWrite: confirmboxResult2,
                                email: null
                            },
                            success: function (data) {
                                OpenPopup("Response_Email_popup", "Add Email", null, "auto", 370, true, data);
                            }
                        });
                    });
                    //var Confirmation_2 = DevExpress.ui.dialog.confirm("<div> Do you want to overwrite previously exported Form response data in sheet(if you have already exported, if not then choose Yes). All styling or changes made to the sheet will be lost and Conent will also be overwritten with new content. </div><div> If you just want to append data below to previous data in sheet then choose <b>No</b>. It will preserve old data and formatting and will append new below below to previous data.</div>", "!! Confirm !!");
                    //Confirmation_2.done(function (confirmResult_2) {
                    //    ShowLoader();
                    //    $.ajax({
                    //        type: 'GET',
                    //        url: "/Facility/Chart/Frm_ChartResponse_Export2GoogleSheet_Email",
                    //        cache: false,
                    //        data:
                    //        {
                    //            Form_Instance_Id: chartInstanceID,
                    //            OverWrite: confirmResult_2,
                    //            email: null
                    //        },
                    //        success: function (data) {
                    //            OpenPopup("Response_Email_popup", "Add Email", null, "auto", 370, true, data);
                    //        }
                    //    });
                    //    //makeAjaxCallForGoogleSheetExport(chartInstanceID, confirmResult_2, email)
                    //})
                }
            })
        }
        function ListPreviewGoogleSheetExport() {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Facility/Chart/Frm_ChartResponse_ListPreview2GoogleSheet_Email",
                cache: false,
                data:
                {
                    email: null
                },
                success: function (data) {
                    OpenPopup("ListPreview_Email_popup", "Add Email", null, "auto", 370, true, data);
                }
            });
        }
        function TestWebService() {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Facility/Chart/Test",
                cache: false,
                success: function (data) {
                    HideLoader()
                    DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                }
            });
        }

        function ChartInfoGrid_ContextMenuInit(s, e)
        {
            if (inParam_ProjectID.length == 0 && e.menu!=null)
            {
                var Item = e.menu.GetItemByName("MapUserProject");
                if (Item != null) Item.SetVisible(false);
                Item = e.menu.GetItemByName("ViewMapUserProject");
                if (Item != null) Item.SetVisible(false);
            }
        }
        var firstcallback = 'firstcallback';//Written to make sure t does not send repeated callback
        function ChartInfoGrid_BeginCallback(s, e) {
            //if (firstcallback == 'firstcallback' && Screen_ChartInfo.includes('Sparc')) {
            //    e.customArgs["command"] = "firstcallback";
            //    firstcallback = '';
            //} else {
            //    e.customArgs["command"] = e.command;
            //}
            //var triggeredEvent = e.Properties["cpTriggered"];
            //console.log(triggeredEvent);
            e.customArgs["command"] = e.command;
            e.customArgs["Layout"] = s.cpClientLayout;
            e.customArgs["ColumnToBeHidddenIndex"] = s.cpColumnToBeHidddenIndex;
            e.customArgs["ColumnToBeShownIndex"] = s.cpColumnToBeShownIndex;
            e.customArgs["ViewMode"] = CompactMode_chartInfo;
            e.customArgs["AllInstances"] = InstanceSwitchMode_chartInfo;
            e.customArgs["Screen"] = Screen_ChartInfo;
        }
        function OnChartInfoListPreviewClick()
        {
            ShowLoader();
            OpenPopup("ChartInfo_modal", "Export Option", "@Url.Action("Frm_Export_Options", "Chart", new { @area = "Facility" })", "auto",160);
        }
        function closeChartInfo() {
            if (Screen_ChartInfo.includes("Sparc_") || Screen_ChartInfo.includes("_Chart")) {
                $("#" + Screen_ChartInfo).dxPopup("hide");
                return;
            }
            if (inParam_ProjectID.length > 0) {
                $("#Service_Forms_Modal").dxPopup("hide");
            }
            else {
                $(".TabPanalMenu-tabs .active span").click();
            }
        }
        $(function () {
            $("#Service_Forms_Modal").dxPopup({
                onHiding: function (e) {
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/Chart/SessionClearChartInfo",
                        cache: false
                    });
                }
            });
        });
        function CopyToClipboard_ChartInfo() {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            ChartInfo_GetRowData(focusIndex);
            var URL = ServicePath + "form/" + chartInstanceID;
            navigator.clipboard.writeText(URL)
                .then(() => {
                    DevExpress.ui.notify({ message: 'Link of Selected Form Has Been Copied ! You can paste it as Required...', width: 500, shading: true, position: 'center' }, "success", 1500);
                    console.log('Text successfully copied to clipboard!');
                })
                .catch((err) => {
                    console.error('Unable to copy text to clipboard', err);
                });
        }
        function DownloadForm_ChartInfo() {
            ShowLoader();
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                HideLoader();
                return;
            }
            ChartInfo_GetRowData(focusIndex);
            var URL = ServicePath + "form/" + chartInstanceID + "?PerformAct=PrintForm";
            HideLoader();
            OpenFormPopup(chartInstanceID, false, URL, "PdfFormExport", "Download PDF")
            HideLoader();
        }
        function OnChartInfoGridFocusedRowChanged(s, e) {
            if (e.visibleIndex != s.GetFocusedRowIndex())
                s.CollapseAllDetailRows();
            ChartInfo_IsDetailRowExpanded = false;
        }
        function ServiceProjectNotification(e)
        {
            DataNavigation_ServiceProj("NOTIFICATION");
        }
        function ServiceProjectMappedSubject(e) { DataNavigation_ServiceProj("SUBJECTS"); }
        function ServiceProjectMapSubject(e) { DataNavigation_ServiceProj("MAP_SUBJECTS"); }
        function showResponses(e)
        {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0)
            {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            if ($("#Chart_Responses_ParentDiv").length > 0) {
                DevExpress.ui.dialog.alert("Responses For A Form Is Already Opened In Tabs<br>Please Close That Tab To View The Selected Form Responses", "Information..");
                return;
            }
            if (!ChartInfo_IsDetailRowExpanded) {
                ChartInfoNested_CenId = null
                ChartInfoNested_Centre = null
            }
            else {
                if (ChartInfoDetailGrid.GetFocusedRowIndex() < 0) {
                    ChartInfoNested_CenId = null
                    ChartInfoNested_Centre = null
                }
            }
            ChartInfo_GetRowData(focusIndex);
            if (@cenId=== 6980) {
            //if (@cenId=== 555 || @cenId=== 4216) { //DEV ENV
                $.ajax({
                    type: 'GET',
                    url: "/Facility/Chart/Frm_Chart_MedicalResponses_Info",
                    cache: false,
                    data:
                    {
                        chartInstanceID: chartInstanceID,
                        isApprovalRequired: isApprovalRequired,
                        ServiceReportID: ServiceReportID_chartInfo,
                        EventID: EventID_chartInfo,
                        formid: formID,
                        regCenId: @cenId,
                        regCentre: ChartInfoNested_Centre
                    },
                    success: function (data) {
                        HideLoader();
                        OpenDynamicPopup(responseTabName, null, "100%", "100%", true, data);
                    }
                });
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: "/Facility/Chart/Frm_Chart_Responses_Info",
                    cache: false,
                    data:
                    {
                        chartInstanceID: chartInstanceID,
                        isApprovalRequired: isApprovalRequired,
                        ServiceReportID: ServiceReportID_chartInfo,
                        EventID: EventID_chartInfo,
                        formid: formID,
                        regCenId: ChartInfoNested_CenId,
                        regCentre: ChartInfoNested_Centre,
                        rejectionResponseCount: rejected_chartinfo,
                        approvedResponseCount: approved_chartinfo,
                        registrationsTotalCount: registrations_chartinfo,
                        QuestionFilter: "ALL"
                    },
                    success: function (data) {
                        HideLoader();
                        OpenDynamicPopup(responseTabName, null, "100%", "100%", true, data);
                    }
                });
            }
        }
        function Chart_ViewSummary_Click(e)
        {
            if (e.itemData == "Guest Summary") {
                showGuestSummary();
            }
            else if (e.itemData == "Travel Summary") {
                showTravelSummary();
            }
            else if (e.itemData == "Recommendation Summary") {
                showRecommendationSummary_ChartInfo();
            }
            else if (e.itemData == "Centerwise Guest Summary") {
                showCenterwiseGuestSummary_ChartInfo();
            }
            else if (e.itemData == "Accomodation Summary") {
                showAccommodationSummary();
            }
            else if (e.itemData == "Accommodation Details") {
                showAccommodationDetails();
            }
            else if (e.itemData == "Food Summary") {
                showFoodSummary_ChartInfo();
            }
            else if (e.itemData == "Food Detail") {
                showFoodDetail_ChartInfo();
            }
            else if (e.itemData == "Points Summary") {
                showPointsSummary_ChartInfo();
            }
            else if (e.itemData == "Quiz Result") {
                showQuizResult_ChartInfo();
            }
        }
        function UserMappings_Click(e)
        {
            if (e.itemData == "Map Users With The Chart") {
                ViewMappedUserstoChart();
            }
            else if (e.itemData == "Map Subjects With The Project") {
                ServiceProjectMapSubject();
            }
            else if (e.itemData == "View Mapped Subjects Of The Project") {
                ServiceProjectMappedSubject();
            }
        }
        function showRecommendationSummary_ChartInfo() {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            summary_type_ChartInfo = "Recommendation";
            ChartInfo_GetRowData(focusIndex);
            showRecommendationSummary_ChartReports(null, null, null, null, null, null,chartInstanceID)
        }
        function showCenterwiseGuestSummary_ChartInfo() {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            summary_type_ChartInfo = "Centerwise Guest";
            ChartInfo_GetRowData(focusIndex);
            showCenterwiseGuestSummary_ChartReports(null, null, null, null, null, null, chartInstanceID)
        }

        function showFoodSummary_ChartInfo(e) {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            summary_type_ChartInfo = "FOOD SUMMARY";
            ChartInfo_GetRowData(focusIndex);
            showFoodSummary_ChartReports(null, null, null, null, null, chartInstanceID)
        }
        function showFoodDetail_ChartInfo(e) {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            summary_type_ChartInfo = "FOOD DETAIL";
            ChartInfo_GetRowData(focusIndex);
            showFoodDetail_ChartReports(null, null, null, null, null, chartInstanceID)
        }
        function showFoodDetailNextTenDays_ChartInfo(e) {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            summary_type_ChartInfo = "FOOD DETAILS NEXTTENDAYS";
            ChartInfo_GetRowData(focusIndex);
            showFoodDetailNextTenDays_ChartReports(null, null, null, null, null, chartInstanceID)
        }
        function showAccommodationSummary(e) {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            summary_type_ChartInfo = "ACCOM SUMMARY";
            ChartInfo_GetRowData(focusIndex);
            showAccommodationSummary_ChartReports(null, null, null, null, null, chartInstanceID, summary_type_ChartInfo)
        }
        function showAccommodationDetails(e) {

            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            summary_type_ChartInfo = "ACCOM DETAIL";
            ChartInfo_GetRowData(focusIndex);
            showAccommodationDetail_ChartReports(null, null, null, null, null, null, chartInstanceID, summary_type_ChartInfo)
        }

        function showTravelSummary(e) {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            summary_type_ChartInfo = "TRAVEL SUMMARY";
            ChartInfo_GetRowData(focusIndex);
            //if (TravelFormID_chart)
            //{
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Facility/Chart/Frm_TravelSummary_Info",
                    cache: false,
                    data:
                    {
                        summary_type: summary_type_ChartInfo,
                        chartInstanceID: chartInstanceID
                    },
                    success: function (data) {
                        HideLoader();
                        OpenDynamicPopup(summary_type_ChartInfo, null, "100%", "100%", true, data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        HideLoader();
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        // DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                        DevExpress.ui.dialog.alert("Invalid Travel Form!!", "Alert");
                    }
                });
           // }
           // else
           // {
               // DevExpress.ui.dialog.alert("Travel Form Not Found", "Information");
            //}
        }

        function showGuestSummary(e) {
        var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            summary_type_ChartInfo = "GUEST SUMMARY";
            ChartInfo_GetRowData(focusIndex);
            showGuestSummary_ChartReports(null, null, null, null, null, chartInstanceID, summary_type_ChartInfo)

            //$.ajax({
            //    type: 'GET',
            //    url: "/Facility/Chart/Frm_TravelAndGuestSummary_Info",
            //    cache: false,
            //    data:
            //    {
            //        summary_type: summary_type,
            //        chartInstanceID: chartInstanceID
            //    },
            //    success: function (data) {
            //        HideLoader();
            //        OpenDynamicPopup(summary_type, null, "100%", "100%", true, data);
            //    },
            //    error: function (jqXHR, textStatus, errorThrown) {
            //        HideLoader();
            //        console.log(jqXHR);
            //        console.log(textStatus);
            //        console.log(errorThrown);
            //        DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            //    }
            //});


        }
        function showPointsSummary_ChartInfo()
        {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            summary_type_ChartInfo = "POINTS SUMMARY";
            ChartInfo_GetRowData(focusIndex);
            ShowLoader();
            OpenTabControl("Frm_PointsSummary_Info", "Points Summary",
            "@Url.Action("Frm_PointsSummary_Info", "ChartReports",  new { area= "Facility" })?summary_type=" + encodeURIComponent(summary_type_ChartInfo) +
            "&chartInstanceID=" + chartInstanceID + "&fromdate=" + encodeURIComponent(null) + "&todate=" + encodeURIComponent(null) +
                "&fromtime=" + encodeURIComponent(null) + "&totime=" + encodeURIComponent(null) + "&eventid=" + encodeURIComponent(null) + "&FormName=" + encodeURIComponent(formName))
        }
        function showQuizResult_ChartInfo() {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            summary_type_ChartInfo = "Quiz Result";
            ChartInfo_GetRowData(focusIndex);
            ShowLoader();
            showQuizResult_ChartReports(null, formID, summary_type_ChartInfo, formName, null, null, null);
            HideLoader();
            @*OpenTabControl("Frm_Quiz_Result_Info", "Quiz Result",
            "@Url.Action("Frm_Quiz_Result_Info", "ChartReports",  new { area= "Facility" })?summary_type=" + encodeURIComponent(summary_type_ChartInfo) +
            "&chartID=" + formID+ "&eventid=" + encodeURIComponent(null) + "&FormName=" + encodeURIComponent(formName))*@
        }
        $(".TabPanalMenu-tabs .active span").on("click", function () {
            $.ajax({
                url: "/Facility/Chart/SessionClearChartInfo",
                type: "GET"
            });
            //var pane = Mainspliter.GetPaneByName('RightPane');
            //pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
            //ClearAllReferences_Attachment();
        });

        function CreateCopy_Click()
        {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0)
            {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }

            ChartInfo_GetRowData(focusIndex);

            @*var URL = '@Url.Action("Frm_Create_Chart_Copy", "Chart", new { @area = "Facility", chartName = "_chartName", chartTitle = "_chartTitle", chartDescription = "_chartDescription", chartID = "_chartID"})';
            URL = URL.replace("_chartName", encodeURIComponent(formName));
            URL = URL.replace("_chartTitle", encodeURIComponent(formTitle));
            URL = URL.replace("_chartDescription", encodeURIComponent(formDescription));
            URL = URL.replace("_chartID", encodeURIComponent(formID));
            URL = URL.replace(/&amp;/g, "&");*@

            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Facility/Chart/Frm_Create_Chart_Copy",
                cache: false,
                data:
                {
                    chartInstanceID: chartInstanceID
                },
                success: function (data)
                {
                    HideLoader();
                    console.log(data)
                    if (typeof data.jsonParam !== 'undefined')
                    {
                        if (data.jsonParam.result == false)
                        {
                            DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                        }
                    }
                    else
                    {
                        OpenDynamicPopup("Create Copy -->  " + formName, null, "auto", 600, true, data);
                    }
                }
            });
        }

        function ShiftForm_Click()
        {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0)
            {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }

            ChartInfo_GetRowData(focusIndex);
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Facility/Chart/Frm_Shift_Chart",
                cache: false,
                data:
                {
                    chartID: formID,
                    chartName: formName
                },
                success: function (data)
                {
                    HideLoader();
                    console.log(data)
                    if (typeof data.jsonParam !== 'undefined')
                    {
                        if (data.jsonParam.result == false)
                        {
                            DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                        }
                    }
                    else
                    {
                        OpenDynamicPopup("Shift Form: " + formName, null, "auto", 600, true, data);
                    }
                }
            });
        }

        function DeleteForm_Click() {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }

            ChartInfo_GetRowData(focusIndex);

            var deleteConfirmation_1 = DevExpress.ui.dialog.confirm("<div> !!Are You Sure !!  <br> <br> You Want To  <br> <br> <h6 style='color:red'> <b>DELETE THIS FORM ?</b><br>" + formName+"</h6> </div>", "!! Confirm !!");
            deleteConfirmation_1.done(function (confirmResult_1) {
                if (confirmResult_1) {
                    let deleteMsg = "All the instances & questions against this form will be deleted.";
                    if (Screen_ChartInfo.includes("Sparc_Delete")){
                        deleteMsg = deleteMsg + " All the responses against this form will be deleted which cannot be undone in future.";
                    }
                    var deleteConfirmation_2 = DevExpress.ui.dialog.confirm("<div style='text-align: center;'> " + deleteMsg+"<br> <br> You want to proceed?</div>", "Information");
                    deleteConfirmation_2.done(function (confirmResult_2) {
                        if (confirmResult_2) {
                            ShowLoader();
                            $.ajax({
                                type: 'GET',
                                url: "/Facility/Chart/deleteChart",
                                cache: false,
                                data:
                                {
                                    chartID: formID,
                                    screen: Screen_ChartInfo
                                },
                                success: function (data) {
                                    HideLoader();
                                    if (data.jsonParam.result == false) {
                                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                                    }
                                    else {
                                        var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                                        alertClick.done(function (alertResult) {
                                            if (alertResult) {
                                                ChartInfoGrid.Refresh();
                                            }
                                        })
                                    }

                                }
                            });
                        }
                    })
                }
            })



            //ShowLoader();
            //$.ajax({
            //    type: 'GET',
            //    url: "/Facility/Chart/deleteChart",
            //    cache: false,
            //    data:
            //    {
            //        chartID: formID
            //    },
            //    success: function (data) {
            //        HideLoader();
            //        if (data.jsonParam.result == false) {
            //            DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            //        }
            //        else {
            //            var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            //            alertClick.done(function (alertResult) {
            //                if (alertResult) {
            //                    ChartInfoGrid.Refresh();
            //                }
            //            })
            //        }

            //    }
            //});

        }
        function ChartInfoOnInit(s, e)
        {
            ChartInfoAdjustSize();
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                ChartInfoAdjustSize();
            });
        }

        function ChartInfoAdjustSize() {
            var height = (document.documentElement.clientHeight * 90) / 100;
            try {
                ChartInfoGrid.SetHeight(height);
            }
            catch (err) {
            }
        }
        var totalRegistrationCount = 0;
        var purpose_chartinfo = "";
        var registrations_chartinfo = null ;
        var approved_chartinfo = null;
        var rejected_chartinfo = null;
        function ChartInfo_GetRowData(RowIndex = null) {
            debugger;
            var focusedrow = RowIndex == null ? ChartInfoGrid.GetFocusedRowIndex() : RowIndex;
            var topindex = ChartInfoGrid.GetTopVisibleIndex();
            var Index = focusedrow - topindex;
            var ChartInfoPageData = ChartInfoGrid.cpPagedata;
            if (ChartInfoPageData != null && ChartInfoPageData.length > 0 && Index < ChartInfoPageData.length) {
                chartInstanceID = ChartInfoPageData[Index][0];
                formName = ChartInfoPageData[Index][1];
                isApprovalRequired = ChartInfoPageData[Index][2];
                formDescription = ChartInfoPageData[Index][3];
                formTitle = ChartInfoPageData[Index][4];
                formID = ChartInfoPageData[Index][5];
                TravelFormID_chart = ChartInfoPageData[Index][6];
                EventID_chartInfo = ChartInfoPageData[Index][7];
                ServiceReportID_chartInfo = ChartInfoPageData[Index][6];
                totalRegistrationCount = ChartInfoPageData[Index][9];
                purpose_chartinfo = ChartInfoPageData[Index][10];
                registrations_chartinfo = ChartInfoPageData[Index][11];
                approved_chartinfo = ChartInfoPageData[Index][12];
                rejected_chartinfo = ChartInfoPageData[Index][13];
                if (formDescription != null && formDescription.trim().length > 0)
                {
                    //responseTabName = formName + " - " + formDescription;
                    responseTabName = formName;
                }
                else
                {
                    responseTabName = formName;
                }

            }
            else {
                chartInstanceID = null;
            }
        }
        function CreateForm_Click(e)
        {
            CreateNewForm();
        }
        function EditForm_Click(e)
        {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0)
            {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            ChartInfo_GetRowData(focusIndex);
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Options/createForm/Frm_CreateForm_Window",
                cache: false,
                data:
                {
                    Tag: "_Edit",
                    InstanceRecID: chartInstanceID,
                    Screen: Screen_ChartInfo
                },
                success: function (data) {
                    HideLoader();
                    OpenDynamicPopup("Edit Form", null, "100%", "100%", true, data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    HideLoader();
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                    DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                }
            });
        }
        function FormVisibility_Click(e)
        {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0)
            {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            ChartInfo_GetRowData(focusIndex);
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Facility/Chart/Frm_FormVisibility_Info",
                cache: false,
                data:
                {
                    FormID: formID
                },
                success: function (data)
                {
                    HideLoader();
                    OpenDynamicPopup("Chart Visibility", null, "100%", "100%", true, data);
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    HideLoader();
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                    DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                }
            });
        }
    </script>

    <script>
        function ViewMappedUserstoChart()
        {
            var focusIndex = ChartInfoGrid.GetFocusedRowIndex();
            if (focusIndex < 0) {
                DevExpress.ui.dialog.alert("Please Select One Row", "Alert");
                return;
            }
            ChartInfo_GetRowData(focusIndex);

            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Facility/Chart/Frm_MappedUserstoChart_Info",
                cache: false,
                data:
                {
                    Chart_ID: formID,
                    Chart_Name: formName,
                    Screen: Screen_ChartInfo
                },
                success: function (data)
                {
                    HideLoader();
                    if (Screen_ChartInfo !== null && Screen_ChartInfo !== undefined && Screen_ChartInfo !== "" && Screen_ChartInfo.includes("Sparc_")) {
                        OpenPopup("MappedUserstoChart_Screen_Modal", "Map Users To Form", null, "auto", 1050, true, data);
                    } else {
                        OpenPopup("MappedUserstoChart_Screen_Modal", "Map Users To Form", null, "100%", "100%", true, data);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    HideLoader();
                    DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                }
            });
        }
        function OnChartListGridNestedFocusedRowChange(s, e) {
            //if (ChartInfo_IsDetailRowExpanded == true) {
            if (s.GetTopVisibleIndex() >= 0) {
                ChartInfo_IsDetailRowExpanded = true;
                ChartInfo_NestedRecord_FocusedRowIndex = s.GetFocusedRowIndex();
                //ChartInfo_NestedGrid_AccessID = s.uniqueID;
                if (ChartInfo_NestedRecord_FocusedRowIndex >= 0) {
                    ShowLoader();
                    s.GetRowValues(s.GetFocusedRowIndex(), 'Zone;Centre;CEN_ID;Pending;Approved;Rejected;Cancelled;Total', OnChartInfo_GetGridRowValues);
                }
                else {
                    ChartInfo_NestedGrid_RowID = null;
                }
            }
        }
        function OnChartInfo_GetGridRowValues(values) {
            HideLoader();
            if (values[2] != null) {
                ChartInfoNested_Zone = values[0];
                ChartInfoNested_Centre = values[1];
                ChartInfoNested_CenId = values[2];
                ChartInfoNested_Pending = values[3];
                ChartInfoNested_Approved = values[4];
                ChartInfoNested_Rejected = values[5];
                ChartInfoNested_Cancelled = values[6];
                ChartInfoNested_Total = values[7];
            }
            else {
                ChartInfoNested_CenId = null
            }
        }

        function ChartGrid_Nested_BeginCallBack(s, e) {
            e.customArgs["command"] = e.command;
            ChartInfo_GetRowData(ChartInfoGrid.GetFocusedRowIndex());
            /*$('#ChartInfoDetailGrid').dxDataGrid("instance").GetRowValues(ChartInfo_NestedRecord_FocusedRowIndex, 'Zone;Centre;CEN_ID;Pending;Approved;Rejected;Cancelled;Total', OnChartInfo_GetGridRowValues)*/
            e.customArgs["regCenId"] = ChartInfoNested_CenId;
            e.customArgs["CHART_INSTANCE_ID"] = chartInstanceID;
            e.customArgs["ShowHorizontalBar"] = Chart_ShowHorizontalBar;
        }
        
        function ChartGrid_DetailRowExpanding(s, e) {
            ChartInfo_IsDetailRowExpanded = true;
            s.SetFocusedRowIndex(e.visibleIndex);
            ChartInfoNested_Zone = null;
            ChartInfoNested_Centre = null;
            ChartInfoNested_CenId = null;
            ChartInfoNested_Pending = null;
            ChartInfoNested_Approved = null;
            ChartInfoNested_Rejected = null;
            ChartInfoNested_Cancelled = null;
            ChartInfoNested_Total = null;
        }
        function ChartGrid_DetailRowCollapsing(s, e) {
            ChartInfo_IsDetailRowExpanded = false;
            s.SetFocusedRowIndex(-1);
            ChartInfoNested_Zone = null;
            ChartInfoNested_Centre = null;
            ChartInfoNested_CenId = null;
            ChartInfoNested_Pending = null;
            ChartInfoNested_Approved = null;
            ChartInfoNested_Rejected = null;
            ChartInfoNested_Cancelled = null;
            ChartInfoNested_Total = null;
        }

        @*
        function ChartDetailGridInfo_GetRowData(RowIndex = null) {

            var focusedrow = RowIndex == null ? ChartInfoDetailGrid.GetFocusedRowIndex() : RowIndex;
            var topindex = ChartInfoDetailGrid.GetTopVisibleIndex();
            var Index = focusedrow - topindex;
            var ChartInfoPageData = ChartInfoGrid.cpPagedata;
            if (ChartInfoPageData != null && ChartInfoPageData.length > 0 && Index < ChartInfoPageData.length) {
                chartInstanceID = ChartInfoPageData[Index][0];
                formName = ChartInfoPageData[Index][1];
                isApprovalRequired = ChartInfoPageData[Index][2];
                formDescription = ChartInfoPageData[Index][3];
                formTitle = ChartInfoPageData[Index][4];
                formID = ChartInfoPageData[Index][5];
                TravelFormID_chart = ChartInfoPageData[Index][6];
                EventID_chartInfo = ChartInfoPageData[Index][7];
                ServiceReportID_chartInfo = ChartInfoPageData[Index][6];
                totalRegistrationCount = ChartInfoPageData[Index][9];
                purpose_chartinfo = ChartInfoPageData[Index][10];
                if (formDescription != null && formDescription.trim().length > 0) {
                    //responseTabName = formName + " - " + formDescription;
                    responseTabName = formName;
                }
                else {
                    responseTabName = formName;
                }

            }
            else {
                chartInstanceID = null;
            }
        }
        *@
    </script>
</div>
