<div class="ChartInfo_Export_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress.XtraReports.UI;
    <div>
        @*@(Html.DevExtreme().Button()
                    .ID("ChartInfo_ExportGridDatapdf")
                    .Text("Export to PDF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportPDF")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("ChartInfo_ExportGridDataxls")
                    .Text("Export to XLS")
                    //.Icon("fa-file-excel-o")
                    .OnClick("ExportXLS")
                    .Visible(true)
                    .Width(120)
        )<br />
            @(Html.DevExtreme().Button()
                    .ID("ChartInfo_ExportGridDataxlsx")
                    .Text("Export to XLSX")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportXLSX")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("ChartInfo_ExportGridDatadocx")
                    .Text("Export to DOCX")
                    //.Icon("export_exporttodocx_16x16office2013")
                    .OnClick("ExportDOCX")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("ChartInfo_ExportGridDatartf")
                    .Text("Export to RTF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportRTF")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("ChartInfo_ExportGridDatacsv")
                    .Text("Export to CSV")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportCSV")
                    .Visible(true)
                    .Width(120)
        )*@
        @(Html.DevExtreme().Button()
                    .ID("ChartInfo_dx_ExportGridDataxlsx")
                    .Text("Export to XLSX")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("DxExportXLSX")
                    .Visible(true)
                    .Width(160)
                    )
        <br />
        @(Html.DevExtreme().Button()
                    .ID("ChartInfo_ExportGridDatags")
                    .Text("Export to Google Sheet")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportGS")
                    .Visible(true)
                    .Width(160)
        )
    </div>
        <script>
        function ExportPDF() {
            ChartInfoGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#ChartInfo_modal").dxPopup("hide");
        }
        function ExportXLS() {
            ChartInfoGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#ChartInfo_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            ChartInfoGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#ChartInfo_modal").dxPopup("hide");
        }
        function ExportCSV() {
            ChartInfoGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#ChartInfo_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            ChartInfoGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#ChartInfo_modal").dxPopup("hide");
        }
        function ExportRTF() {
            ChartInfoGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#ChartInfo_modal").dxPopup("hide");
            }

            function DxExportXLSX() {//ChartInfoGrid.xlsx
                const workbook = new ExcelJS.Workbook();
                const worksheet = workbook.addWorksheet('Sheet');

                DevExpress.excelExporter.exportDataGrid({
                    worksheet: worksheet,
                    component: $("#ChartInfoGrid_dx").dxDataGrid("instance"),
                    autoFilterEnabled: true,
                    customizeCell({ excelCell, gridCell }) {
                        if (gridCell.rowType === 'header') {
                            const columnDataField = gridCell.column.dataField;
                            if (columnDataField === 'iIcon') {
                                const Column = worksheet.getColumn(excelCell.col);
                                Column.width = 20;
                            }
                        }
                    }
                }).then(function (exportRange) {
                    workbook.xlsx.writeBuffer().then(function (buffer) {
                        saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'ChartInfoGrid_dx.xlsx');
                    });
                });
                $("#ChartInfo_modal").dxPopup("hide");
            }
            function ExportGS() {
                ListPreviewGoogleSheetExport();
                $("#ChartInfo_modal").dxPopup("hide");
            }
        </script>

</div>
