
<div class="ResponseAddCancelRemarks_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();

        var instanceID = (string)ViewBag.ChartInstanceID;
        var chartResponseID = (string)ViewBag.ChartResponseID;
        var remarks = (string)ViewBag.ChartResponseCancelRemarks;
        var gridnametorefresh = (string)ViewBag.GridNameToRefresh;
    }
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>

    <div id="Frm_Chart_FormResponse_Cancel_AddRemark">
        <form>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 md-12 pll">
                            <label class="control-label text-red" for="user">Enter Reason:</label>
                            @(Html.DevExtreme().TextArea().ID("Cancel_Response_Reason").Name("Cancel_Response_Reason").MinHeight(150).Placeholder("Enter reason....").Value(remarks).AutoResizeEnabled(true))
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().Text("Cancel").ID("Cancel_Response_Reason_Add").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("addResponseCancelReason"))

                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->
        </form>
    </div><!--[Form Div]-->

    <script>

        function CloseAddCancelReasons(){
            HidePopup('Cancel_Response_Reason_popup');
        }

        function addResponseCancelReason(e)
        {
            var reason = $("#Cancel_Response_Reason").dxTextArea("instance").option("value").trim();

            var GridInstance = $('#ChartResponsesInfoGrid_dx').data("dxDataGrid")//BK SOUMY
            if (GridInstance !== void 0) {
                updateStatusResponseAPICall_Dx("@instanceID", "@chartResponseID", "CANCEL", reason);
            }

            else
                updateStatusResponseAPICall("@instanceID", "@chartResponseID", "CANCEL", reason);
        }
    </script>

</div>