<div class="MappedUserstoChartFacility_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model System.Data.DataTable
    @{
        string ScreenHeaderLabel = "Mapped Users Of " + ViewBag.Chart_Name+ " Form";
        var ChartID = ViewBag.Chartid;
        var Screen = (string)ViewBag.Screen; 
    }
    <div id="MappedUserstoChart_ParentDiv">
        <div id="MappedUserstoChart_content" class="report_header_div_main">
            <div>
                <div class="report_header_div">
                    <label class="report_header_label">@ScreenHeaderLabel</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="report_button_div">
                        @(Html.DevExtreme().Button().ID("MappedUserstoChart_MapUsers").Text("Map Users").Icon("add").Visible(true).OnClick("map_users_ChartInfo"))
                        @(Html.DevExtreme().Button().ID("MappedUserstoChart_ModelEdit").Text("Edit").Icon("edit").OnClick(@<text> function () { DataNavigation_MappedUserstoChart("EDIT"); } </text>)) 
                        @(Html.DevExtreme().Button().ID("MappedUserstoChart_ModelUnMap").Text("UnMap").Icon("delete").OnClick(@<text> function () { DataNavigation_MappedUserstoChart("DELETE"); } </text>) )
                        @(Html.DevExtreme().Button().ID("MappedUserstoChart_ModelCLOSE").Text("Close").Icon("clear").OnClick("closeMappedUserstoChart") )
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="MappedUserstoChart_gridDiv">
                <form>
                    <div id="MappedUserstoChartGridPartialView" class="parent_table">
                        @Html.Partial("Frm_MappedUserstoChart_Info_Grid", Model)
                    </div>
                </form>
            </div>            
        </div>
            
            <div class="footer-MainBoxdiv" style="display:inline-block;width:100%">
                <div class="setFooterItem">
                    <div class="footer-inner">
                        <div class="list_footer_left_margin">
                            <div class="footericon">
                                <i id="ServiceReport_LockICON" style="color:red;font-size:35px;"></i>
                            </div>
                            @*<div class="footer-locktext">
                            <div id="BankLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                        </div>*@
                            <div class="footer-locktext">
                                <div id="SR_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="SR_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                        </div>
                        <div class="list_footer_left_margin">
                            <div class="footer-text">
                                <p id="SR_Create" class="right_footertext_top"></p>
                                <p id="SR_Modify" class="right_footertext_bottom"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>

        var selectedUserIDs_MappedtoChart = "";
        var selectedUser_ABIDs_MappedtoChart = "";
        var selectedUser_RecIDs_MappedtoChart = "";
        var Screen_MappedtoChart = "@Screen";

    </script>    @*Global Variables*@
    <script>
        $(document).ready(function ()
        {


        }); 
        function closeMappedUserstoChart()
        {
            $("#MappedUserstoChart_Screen_Modal").dxPopup("hide");
        }
    function ClearAllReferences_MappedUserstoChart()
    {
        //Baba: Below function parameter  to be added in index.
        ClearAllReferences("MappedUserstoChartFacility_ClearReferences")
    }
    </script>

    <script>
        function MappedUserstoChartInfoOnInit(s, e)
        {
            MappedUserstoChartAdjustSize();
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                MappedUserstoChartAdjustSize();
            });     
        }
        function MappedUserstoChartAdjustSize() {
            var height = null;
            if (Screen_MappedtoChart != "" && isDesktop) {
                height = (document.documentElement.clientHeight * 70) / 100;
            }
            else {
                height = (document.documentElement.clientHeight * 90) / 100;
            }
            try {
                MappedUserstoChartInfoGrid.SetHeight(height);
            }
            catch (err) {
            }
        }
        function MappedUserstoChartInfoGrid_BeginCallback(s, e)
        {            
            e.customArgs["command"] = e.command;
            e.customArgs["Chart_ID"] = "@ChartID";
        }
        function MappedUserstoChartInfoGrid_SelectionChanged(s, e)
        {
            if (s.GetSelectedRowCount() == 0)
            {
                selectedUserIDs_MappedtoChart = "";
                selectedUser_ABIDs_MappedtoChart = "";
                selectedUser_RecIDs_MappedtoChart = "";
            }
        }
    </script>    @* Grid Functions *@

    <script>
        function DataNavigation_MappedUserstoChart(_action)
        {           
            var SelectedRowCount = MappedUserstoChartInfoGrid.GetSelectedRowCount();
            if (SelectedRowCount < 1)
            {
                DevExpress.ui.dialog.alert("Please Select Rows", "Alert");
                return;
            }
            MappedUserstoChartInfo_GetSelectedRowData(_action);
        }
        function MappedUserstoChartInfo_GetSelectedRowData(_Action)
        {        
            ShowLoader();
            MappedUserstoChartInfoGrid.GetSelectedFieldValues("USER_ID;User_AB_ID;REC_ID", function (values) { GetSelectedFieldValuesCallback_MappedUserstoChart(values, _Action) })     
        }
        function GetSelectedFieldValuesCallback_MappedUserstoChart(values, _Action)
        {
            HideLoader();
            if (values != null)
            {
                for (var Index = 0; Index < values.length; Index++)
                {
                    if (Index == 0)
                    {
                        selectedUserIDs_MappedtoChart = values[Index][0];
                        selectedUser_ABIDs_MappedtoChart = values[Index][1];
                        selectedUser_RecIDs_MappedtoChart = values[Index][2];

                    }
                    else
                    {
                        selectedUserIDs_MappedtoChart = selectedUserIDs_MappedtoChart + "|" + values[Index][0];
                        selectedUser_ABIDs_MappedtoChart = selectedUser_ABIDs_MappedtoChart + "|" + values[Index][1];
                        selectedUser_RecIDs_MappedtoChart = selectedUser_RecIDs_MappedtoChart + "|" + values[Index][2];
                    }
                }
            }
            else
            {
                selectedUserIDs_MappedtoChart = "";
                selectedUser_ABIDs_MappedtoChart = "";
                selectedUser_RecIDs_MappedtoChart = "";
            }  
            if (_Action == "DELETE")
            {
                DevExpress.ui.dialog.confirm("Are You Sure You Want To Unmap Selected Users From The Form?", "Confirm").done(function (alertResult)
                {
                    if (alertResult)
                    {
                        UnMap_MappedUserstoChart();
                    }
                })               
            }
            if (_Action == "EDIT")
            {     
                OnMappedUserstoChartEditClick();
            }
        }
    </script>   
    <script>
        function map_users_ChartInfo()
        {            
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Facility/Chart/Frm_UsersMappingtoChart_Info",
                cache: false,
                data:
                {        
                    Chart_ID: "@ChartID"
                },
                success: function (data)
                {
                    HideLoader();
                    OpenPopup("ChartUser_Mapping_Screen_Modal", "Map Users To Form", null, "100%", "100%", true, data);
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    HideLoader();
                    DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                }
            });
        }
        function OnMappedUserstoChartEditClick()
        {                     
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Facility/Chart/Frm_FromToDateSelection",
                cache: false,
                data:
                {             
                },
                success: function (data) {
                    HideLoader();
                    OpenPopup("MappedUsertoChart_FromToDate_Screen_Modal", "Edit User Mapping", null, "auto", 400, true, data);
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    HideLoader();           
                    DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                }
            });            
        }
        function UnMap_MappedUserstoChart() {
            
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Facility/Chart/deleteUsersFromChartByRecid",
                cache: false,
                data:
                {
                    selectedRecIDs: selectedUser_RecIDs_MappedtoChart,
                    Chart_ID:"@ChartID"
                },
                success: function (data) {
                    HideLoader();
                    if (data.jsonParam.result == false) {
                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                    }
                    else {
                        var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                        alertClick.done(function (alertResult) {
                            if (alertResult) {
                                MappedUserstoChartInfoGrid.Refresh();
                                //closeMappedUserstoChart();

                            }
                        })
                    }
                }
            });
        }      
    </script>
</div>
