<div class="UserPreferencesOptions_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Options.Models.ScreenSelection
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
        string[] AutoOpenScreenIDs = (string[])ViewData["AutoOpenScreenIDs"];
    }
    <form class="edit_form form-horizontal">
        <div class="report_header_div_main">
            <div id="UserPreferences_content" class="col-md-12 report_header_div_main">
                <div class="col-md-4 padd report_header_div">
                    <label class="report_header_label">User Preferences</label>
                </div>
                <div class="report_button_div">
                    @(Html.DevExtreme().Button().CustomSaveButton().ID("UserPreferences_Save").Text("Save").OnClick(@<text> function () { SubmitUserPreferences(); } </text>) )
                    @(Html.DevExtreme().Button().CustomCloseButton().ID("UserPreferences_Close").Text("Cancel").OnClick(@<text> function (){CloseUserPreferences();} </text>) )
                </div>
            </div>
        </div>@*Header*@
        <div class="row">
            @(Html.DevExtreme().TabPanel().ID("UserPreferences_Gridpanel").Items(items =>
        {
            items.Add().Title("Login").Template(@<text> @LoginView() </text>);
            items.Add().Title("Accounting").Template(@<text> @AccountingView() </text>);
            items.Add().Title("Data View").Template(@<text> @DataView_View() </text>);
            }).DeferRendering(false))
            @helper LoginView()
            {
                @Html.Partial("Frm_SelectScreen");
            }
            @helper AccountingView()
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                @Html.Label("Display Party Type:", htmlAttributes: new { @class = "control-label" })
                                @(Html.DevExtreme().RadioGroup().ID("Rad_Acc_Party_UserPreferences").Name("Rad_Acc_Party_UserPreferences").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "Accounting", value = 0 }, new { text = "Non-Accounting", value = 1},new {text="All",value=2 } }).Value((int)ViewBag.Rad_Acc_Party) )
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                @Html.Label("Show Vouching Indicators:", htmlAttributes: new { @class = "control-label" })
                                @(Html.DevExtreme().RadioGroup().ID("Rad_VouchingIndicator_UserPreferences").Name("Rad_VouchingIndicator_UserPreferences").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "Yes", value = true }, new { text = "No", value = false}}).Value((bool)ViewBag.Rad_VouchingIndicator) )
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                @Html.Label("Show Attachment Indicators:", htmlAttributes: new { @class = "control-label" })
                                @(Html.DevExtreme().RadioGroup().ID("Rad_AttachmentIndicator_UserPreferences").Name("Rad_AttachmentIndicator_UserPreferences").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "Yes", value = true }, new { text = "No", value = false} }).Value((bool)ViewBag.Rad_AttachmentIndicator) )
                            </div>
                        </div>
                    </div>
                </div>
            }
            @helper DataView_View()
            {
                @Html.Partial("Frm_Select_DataView_Screen");// change partial view
            }
        </div>@*Tabs*@
    </form>

    <script>
        var ChosenScreenDataSource_UserPreference = [];
        var AvailScreenDataSource_UserPreference = [
            //{ name: "Start-Vouching", ScreenID: "Account_CashbookAuditor", id: 1 },
            { name: "Start-Document Checking", ScreenID: "Start_DocumentChecking", id: 2 },
            { name: "Start-Center Audit Info", ScreenID: "Start_Auditor_Audit_Info", id: 3 },
            { name: "Start-Account Analysis", ScreenID: "Start_Account_Analysis", id: 4 },
            { name: "Start-Data Restriction", ScreenID: "Auditor_DataRestriction", id: 5 },
            { name: "Profile-Core Information", ScreenID: "Profile_Core", id: 6 },
            { name: "Profile-Cash Profile", ScreenID: "Profile_Cash", id: 7 },
            { name: "Profile-Bank Account", ScreenID: "Profile_BankAccounts", id: 8 },
            { name: "Profile-FD", ScreenID: "Profile_FD", id: 9 },
            { name: "Profile-Opening Balances", ScreenID: "Profile_OpeningBalances", id: 10 },
            { name: "Profile-Land & Building", ScreenID: "Profile_LandAndBuilding", id: 11 },
            { name: "Profile-Gold/Silver", ScreenID: "Profile_GoldSilver", id: 12 },
            { name: "Profile-Vehicles", ScreenID: "Profile_Vehicles", id: 13 },
            { name: "Profile-Movable Assets", ScreenID: "Profile_Assets", id: 14 },
            { name: "Profile-Livestock", ScreenID: "Profile_LiveStock", id: 15 },
            { name: "Profile-WIP", ScreenID: "Profile_WIP", id: 16 },
            { name: "Profile-Other Deposits", ScreenID: "Profile_Deposit", id: 17 },
            { name: "Profile-Advances", ScreenID: "Profile_Advances", id: 18 },
            { name: "Profile-Liabilities", ScreenID: "Profile_Liabilities", id: 19 },
            { name: "Profile-Student List", ScreenID: "Profile_Students", id: 20 },
            { name: "Profile-Other Deposits", ScreenID: "Profile_Surrendered", id: 21 },
            { name: "Profile-Godly Service Places", ScreenID: "Profile_ServicePlaces", id: 22 },
            { name: "Profile-Telephone", ScreenID: "Profile_Telephone", id: 23 },
            { name: "Profile-Existing Wing Members", ScreenID: "Profile_Membership", id: 24 },
            { name: "Profile-Existing Magazine Members", ScreenID: "Profile_Existing_Mag_member", id: 25 },
            { name: "Account-Voucher Entries", ScreenID: "Accounts_Vouchers", id: 26 },
            { name: "Account-Cash Book", ScreenID: "Accounts_Cashbook", id: 27 },
            { name: "Account-Note Book", ScreenID: "Accounts_Notebook", id: 28 },
            { name: "Account-Donation Register", ScreenID: "Accounts_DonationRegister", id: 29 },
            { name: "Account-Internal Transfer Register", ScreenID: "Account_InternalTrf_Register", id: 30 },
            { name: "Account-Membership Register", ScreenID: "Membership_Receipt_Register", id: 31 },
            { name: "Report-Asset Movement", ScreenID: "Report_Asset_Movement_Logs", id: 32 },
            { name: "Report-Construction", ScreenID: "Report_Construction_Statement", id: 33 },
            { name: "Report-Ledger", ScreenID: "Report_LedgerReport", id: 34 },
            { name: "Report-Location", ScreenID: "Report_Location", id: 35 },
            { name: "Report-Party Balance", ScreenID: "Report_PartyListing", id: 36 },
            { name: "Report-Party Ledger", ScreenID: "Report_PartyReport", id: 37 },
            { name: "Report-Asset Insurance", ScreenID: "Report_AssetInsurance_Breakup", id: 38 },
            { name: "Report-Purpose", ScreenID: "Report_Purpose", id: 39 },
            { name: "Report-WIP", ScreenID: "Report_WIPInfo", id: 40 },
            { name: "Report-Balance Sheet", ScreenID: "Report_BS", id: 41 },
            { name: "Report-Trial Balance", ScreenID: "Report_TB", id: 42 },
            { name: "Report-Income Expenditure", ScreenID: "Report_Income_Expenditure", id: 43 },
            { name: "Report-Utilization", ScreenID: "Report_Utilization", id: 44 },
            { name: "Report-Bank Account", ScreenID: "Report_Bank_Account_List", id: 45 },
            { name: "Report-Item Document Mapping", ScreenID: "Report_ItemDocMap", id: 46 },
            { name: "Magazine-Magazine Master", ScreenID: "Profile_Magazine", id: 47 },
            { name: "Magazine-Magazine Receipt Register", ScreenID: "Magazine_Receipt_Register", id: 48 },
            { name: "Magazine-Dispatch Register", ScreenID: "Magazine_Dispatch_Register", id: 49 },
            { name: "Magazine-Dispatch Type Master", ScreenID: "Magazine_Dispatch_Type_Master", id: 50 },
            { name: "Magazine-Magazine Sub Dispatch Report", ScreenID: "Report_MAgSubDispatch", id: 51 },
            { name: "Facility-Address Book", ScreenID: "Facility_AddressBook", id: 52 },
            { name: "Facility-Notes", ScreenID: "Facility_Notes", id: 53 },
            { name: "Facility-Letter", ScreenID: "Facility_Letter", id: 54 },
            { name: "Facility-Center Purpose", ScreenID: "Facility_Center_Purpose", id: 55 },
            { name: "Facility-Center Contact Search", ScreenID: "Facility_Center_contact", id: 56 },
            { name: "Options-User Register", ScreenID: "Options_UserRegister", id: 57 },
            { name: "Options-Group Register", ScreenID: "Options_GroupMaster", id: 58 },
            { name: "Help-Request Box", ScreenID: "Help_Request_Box", id: 59 },
            { name: "Help-Audit Action", ScreenID: "Help_Action_Items", id: 60 },
            { name: "Help-Attachments", ScreenID: "Help_Attachment", id: 61 },
            { name: "Stock-Stock Profile", ScreenID: "Profile_Stock", id: 62 },
            { name: "Stock-Stock Items", ScreenID: "Stock_Sub_Item", id: 63 },
            { name: "Stock-Project Register", ScreenID: "Stock_Project", id: 64 },
            { name: "Stock-Job Request Register", ScreenID: "Stock_Job", id: 65 },
            { name: "Stock-User Order", ScreenID: "Stock_UO", id: 66 },
            { name: "Stock-Store Dept Master", ScreenID: "Stock_Dept_Store_Master", id: 67 },
            { name: "Stock-Personnel Master", ScreenID: "Stock_Personnel_Master", id: 68 },
            { name: "Stock-Supplier Master", ScreenID: "Stock_Supplier_Master", id: 69 },
            { name: "Stock-Production Register", ScreenID: "Stock_Production", id: 70 },
            { name: "Stock-MT Allocation Register", ScreenID: "Stock_Machine_Tool_Issue", id: 71 },
            { name: "Stock-Request Register", ScreenID: "Stock_RR", id: 72 },
            { name: "Stock-Purchase Register", ScreenID: "Stock_PO", id: 73 }
        ];

        var AvailScreenDataSource_Desktop = [];
        var AvailScreenDataSource_Mobile = [];
        var ChosenScreenDataSource_Desktop = [];
        var ChosenScreenDataSource_Mobile = [];

    </script> @*Global_Variables_User_Preference_Screen*@

    <script>
        var ScreenIds_UserPreferences = [];
        function SubmitUserPreferences() {
            ShowLoader();
            var Rad_Acc_Party = $("#Rad_Acc_Party_UserPreferences").dxRadioGroup("instance").option("value");
            var Rad_VouchingIndicator = $("#Rad_VouchingIndicator_UserPreferences").dxRadioGroup("instance").option("value");
            var Rad_AttachmentIndicator = $("#Rad_AttachmentIndicator_UserPreferences").dxRadioGroup("instance").option("value");
            var Rad_DeviceType = $("#Rad_DeviceType_DataView").dxRadioGroup("instance").option("value");
            CalculateScreenIDs_UserPreference();
            $.ajax({
                type: 'POST',
                url: "/Options/ScreenSelection/But_Save_Click",
                data:
                {
                    Rad_Acc_Party: Rad_Acc_Party,
                    VouchingIndicator: Rad_VouchingIndicator,
                    AttachmentIndicator: Rad_AttachmentIndicator,
                    ScreenIDs: ScreenIds_UserPreferences,
                    DeviceType: Rad_DeviceType,
                    ScreenIDs_Mobile: ChosenScreenDataSource_Mobile,
                    ScreenIDs_Desktop: ChosenScreenDataSource_Desktop
                },
                cache: false,
                success: function (data) {
                    dontaskpopupcloseconfirmation = true;
                    HideLoader();
                    if (data.jsonParam.result == false) {
                        if (data.jsonParam.closeform) {
                            $("#Dynamic_Content_popup").dxPopup("hide");
                        }
                        var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                        alertclick.done(function (alertResult) {
                            if (alertResult) {
                                if (data.jsonParam.focusid) {
                                    var id = "#" + data.jsonParam.focusid;
                                    setTimeout(function () {
                                        $(id).find('input').focus();
                                    }, Timeout100);
                                }
                            }
                        });
                    }
                    else if (data.jsonParam.result == true) {
                        var saveAlertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                        $("#Dynamic_Content_popup").dxPopup("hide");
                    }
                }
            });
        }
        function CloseUserPreferences() {
            HidePopup("Dynamic_Content_popup");
        }
        function CalculateScreenIDs_UserPreference() {
            ScreenIds_UserPreferences = [];
            if (ChosenScreenDataSource_UserPreference != null && ChosenScreenDataSource_UserPreference.length > 0) {
                for (var i = 0; i < ChosenScreenDataSource_UserPreference.length; i++) {
                    ScreenIds_UserPreferences.push(ChosenScreenDataSource_UserPreference[i].ScreenID);
                }
            }
        }
    </script> @*Save_Function*@

    <script>
    $(document).ready(function ()
    {
        ShowLoader();
        dontaskpopupcloseconfirmation = false;

        var ScreenIDs = @Html.Raw(Json.Encode(AutoOpenScreenIDs));
        if (ScreenIDs != null && ScreenIDs.length > 0)
        {
            for (var i = 0; i < ScreenIDs.length; i++)
            {
                if (ScreenIDs[i] != null && ScreenIDs[i].length > 0)
                {
                    let data = AvailScreenDataSource_UserPreference.find(x => x.ScreenID === ScreenIDs[i]);
                    var index = AvailScreenDataSource_UserPreference.findIndex(x => x.ScreenID === ScreenIDs[i]);
                    if (index > -1) {
                        ChosenScreenDataSource_UserPreference.push(data);
                        AvailScreenDataSource_UserPreference.splice(index, 1);
                    }
                }
            }
        }
        createList("#AvailableScreenList", AvailScreenDataSource_UserPreference);
        createList("#ChosenScreenList", ChosenScreenDataSource_UserPreference);

        // Array Initialization for DataSource

        AvailScreenDataSource_Desktop = @Html.Raw(Json.Encode(Model.AllVisibleScreensList));
        AvailScreenDataSource_Mobile = @Html.Raw(Json.Encode(Model.AllVisibleScreensList));
        ChosenScreenDataSource_Desktop = @Html.Raw(Json.Encode(Model.SelectedScreensList_Desktop));
        ChosenScreenDataSource_Mobile = @Html.Raw(Json.Encode(Model.SelectedScreensList_Mobile));

        // Remove Selected screens from Available Screens [Desktop]

        if (ChosenScreenDataSource_Desktop != null && ChosenScreenDataSource_Desktop.length > 0) {
            for (var i = 0; i < ChosenScreenDataSource_Desktop.length; i++) {
                if (ChosenScreenDataSource_Desktop[i].ScreenID != null && ChosenScreenDataSource_Desktop[i].ScreenID.length > 0) {
                    var index = AvailScreenDataSource_Desktop.findIndex(x => x.ScreenID === ChosenScreenDataSource_Desktop[i].ScreenID);
                    AvailScreenDataSource_Desktop.splice(index, 1);
                }
            }
        }

        // Remove Selected screens from Available Screens [Mobile]

        if (ChosenScreenDataSource_Mobile != null && ChosenScreenDataSource_Mobile.length > 0) {
            for (var i = 0; i < ChosenScreenDataSource_Mobile.length; i++) {
                if (ChosenScreenDataSource_Mobile[i].ScreenID != null && ChosenScreenDataSource_Mobile[i].ScreenID.length > 0) {
                    var index = AvailScreenDataSource_Mobile.findIndex(x => x.ScreenID === ChosenScreenDataSource_Mobile[i].ScreenID);
                    AvailScreenDataSource_Mobile.splice(index, 1);
                }
            }
        }

        console.log(AvailScreenDataSource_UserPreference);
        console.log(AvailScreenDataSource_Desktop);
        console.log(AvailScreenDataSource_Mobile);
        console.log(ChosenScreenDataSource_Desktop);
        console.log(ChosenScreenDataSource_Mobile);

        $("#Rad_DeviceType_DataView").dxRadioGroup("instance").option("value","Desktop_Tablet");

        createList_DataView("#AvailableScreenList_Desktop", AvailScreenDataSource_Desktop);
        createList_DataView("#ChosenScreenList_Desktop", ChosenScreenDataSource_Desktop);

        createList_DataView("#AvailableScreenList_Mobile", AvailScreenDataSource_Mobile);
        createList_DataView("#ChosenScreenList_Mobile", ChosenScreenDataSource_Mobile);

        HideLoader();
    });

    </script> @*Document_Ready*@

    <script>
        function createList(selector, tasks) {
            var list = $(selector).dxList({
                dataSource: tasks,
                //repaintChangesOnly: true,
                keyExpr: "id",
                itemTemplate: function (data, _, element) {
                    element.append(
                        $("<p>").text(data.name).css("margin", 0)
                    )
                },
                searchEnabled: true,
                searchExpr: "name",
                scrollingEnabled: true,
                pageLoadMode: "scrollBottom",
                showScrollbar: "onHover",
                height: 450,
                selectionMode: "all",
                showSelectionControls: true,
                selectAllMode: "allPages",
                itemDragging: {
                    allowReordering: selector == "#ChosenScreenList" ? true : false,
                    handle: ".dx-item.dx-list-item",
                    group: "tasks",
                    onDragStart: function (e) {
                        e.itemData = tasks[e.fromIndex];
                    },
                    onAdd: function (e) {
                        tasks.splice(e.toIndex, 0, e.itemData);
                        list.option("dataSource", tasks);

                    },
                    onRemove: function (e) {
                        tasks.splice(e.fromIndex, 1);
                        list.option("dataSource", tasks);

                    }
                }
            }).dxList("instance");
        }
    </script> @*Create_List_Auto_Open_Screens*@

    <script>
        function createList_DataView(selector, tasks) {
            
            var list = $(selector).dxList({
                dataSource: tasks,
                //repaintChangesOnly: true,
                displayExpr: "DisplayName",
                keyExpr: "ScreenID",
                itemTemplate: function (data, _, element) {
                    element.append(
                        $("<p>").text(data.DisplayName).css("margin", 0)
                    )
                },
                searchEnabled: true,
                searchExpr: "DisplayName",
                scrollingEnabled: true,
                pageLoadMode: "scrollBottom",
                showScrollbar: "onHover",
                height: 450,
                selectionMode: "all",
                showSelectionControls: true,
                selectAllMode: "allPages",
                itemDragging: {
                    allowReordering: selector == "#ChosenScreenList_FullDataView" ? true : false,
                    handle: ".dx-item.dx-list-item",
                    group: "tasks",
                    onDragStart: function (e) {
                        e.itemData = tasks[e.fromIndex];
                    },
                    onAdd: function (e) {
                        tasks.splice(e.toIndex, 0, e.itemData);
                        list.option("dataSource", tasks);

                    },
                    onRemove: function (e) {
                        tasks.splice(e.fromIndex, 1);
                        list.option("dataSource", tasks);

                    }
                }
            }).dxList("instance");
        }
    </script> @*Create_List_DataView*@

    <script>
        function MoveToChosenClick() {
            var SelectedFromAvailable = $("#AvailableScreenList").dxList("instance").option("selectedItemKeys");
            if (SelectedFromAvailable == null || SelectedFromAvailable.length == 0) {
                DevExpress.ui.dialog.alert("No Screen Selected From Available Screen List To Move To Chosen Screen List..", "Info..");
                return;
            }
            ShowLoader();
            for (var i = 0; i < SelectedFromAvailable.length; i++) {
                if (SelectedFromAvailable[i] != null) {
                    let data = AvailScreenDataSource_UserPreference.find(x => x.id === SelectedFromAvailable[i]);
                    var index = AvailScreenDataSource_UserPreference.findIndex(x => x.id === SelectedFromAvailable[i]);
                    if (index > -1) {
                        ChosenScreenDataSource_UserPreference.push(data);
                        AvailScreenDataSource_UserPreference.splice(index, 1);
                    }
                }
            }
            Promise.all([$("#ChosenScreenList").dxList("instance").reload(), $("#AvailableScreenList").dxList("instance").reload()]).then((r) => {
                HideLoader();
            });
        }
        function MoveToAvailableClick() {
            var SelectedFromChosen = $("#ChosenScreenList").dxList("instance").option("selectedItemKeys");
            if (SelectedFromChosen == null || SelectedFromChosen.length == 0) {
                DevExpress.ui.dialog.alert("No Screen Selected From Chosen Screen List To Move To Available Screen List..", "Info..");
                return;
            }
            ShowLoader();
            for (var i = 0; i < SelectedFromChosen.length; i++) {
                if (SelectedFromChosen[i] != null) {
                    let data = ChosenScreenDataSource_UserPreference.find(x => x.id === SelectedFromChosen[i]);
                    var index = ChosenScreenDataSource_UserPreference.findIndex(x => x.id === SelectedFromChosen[i]);
                    if (index > -1) {
                        AvailScreenDataSource_UserPreference.push(data);
                        ChosenScreenDataSource_UserPreference.splice(index, 1);

                    }
                }
            }
            AvailScreenDataSource_UserPreference.sort(function (a, b) { return a.id - b.id });
            Promise.all([$("#ChosenScreenList").dxList("instance").reload(), $("#AvailableScreenList").dxList("instance").reload()]).then((r) => {
                HideLoader();
            });

        }

    </script> @*Button_Functions_For_Auto_Open_Screens*@

    <script>
        function MoveToChosenClick_Desktop() {          
            var SelectedFromAvailable = $("#AvailableScreenList_Desktop").dxList("instance").option("selectedItemKeys");
            if (SelectedFromAvailable == null || SelectedFromAvailable.length == 0) {
                DevExpress.ui.dialog.alert("No Screen Selected From Default View List To Move To Full Data View List..", "Info..");
                return;
            }
            ShowLoader();
            for (var i = 0; i < SelectedFromAvailable.length; i++) {
                if (SelectedFromAvailable[i] != null) {
                    let data = AvailScreenDataSource_Desktop.find(x => x.ScreenID === SelectedFromAvailable[i]);
                    var index = AvailScreenDataSource_Desktop.findIndex(x => x.ScreenID === SelectedFromAvailable[i]);
                    if (index > -1) {
                        ChosenScreenDataSource_Desktop.push(data);
                        AvailScreenDataSource_Desktop.splice(index, 1);
                    }
                }
            }
            Promise.all([$("#ChosenScreenList_Desktop").dxList("instance").reload(), $("#AvailableScreenList_Desktop").dxList("instance").reload()]).then((r) => {
                HideLoader();
            });
        }
        function MoveToAvailableClick_Desktop() {
            var SelectedFromChosen = $("#ChosenScreenList_Desktop").dxList("instance").option("selectedItemKeys");
            if (SelectedFromChosen == null || SelectedFromChosen.length == 0) {
                DevExpress.ui.dialog.alert("No Screen Selected From Full Data View List To Move To Default View List..", "Info..");
                return;
            }
            ShowLoader();
            for (var i = 0; i < SelectedFromChosen.length; i++) {
                if (SelectedFromChosen[i] != null) {
                    let data = ChosenScreenDataSource_Desktop.find(x => x.ScreenID === SelectedFromChosen[i]);
                    var index = ChosenScreenDataSource_Desktop.findIndex(x => x.ScreenID === SelectedFromChosen[i]);
                    if (index > -1) {
                        AvailScreenDataSource_Desktop.push(data);
                        ChosenScreenDataSource_Desktop.splice(index, 1);
                    }

                }
            }
            AvailScreenDataSource_Desktop.sort((a, b) => a.DisplayName.localeCompare(b.DisplayName));
            Promise.all([$("#ChosenScreenList_Desktop").dxList("instance").reload(), $("#AvailableScreenList_Desktop").dxList("instance").reload()]).then((r) => {
                HideLoader();
            });

        }

    </script> @*Buttons_Functions_For_Desktop*@

    <script>
        function MoveToChosenClick_Mobile() {
            var SelectedFromAvailable = $("#AvailableScreenList_Mobile").dxList("instance").option("selectedItemKeys");
            if (SelectedFromAvailable == null || SelectedFromAvailable.length == 0) {
                DevExpress.ui.dialog.alert("No Screen Selected From Default View List To Move To Full Data View List..", "Info..");
                return;
            }
            ShowLoader();
            for (var i = 0; i < SelectedFromAvailable.length; i++) {
                if (SelectedFromAvailable[i] != null) {
                    let data = AvailScreenDataSource_Mobile.find(x => x.ScreenID === SelectedFromAvailable[i]);
                    var index = AvailScreenDataSource_Mobile.findIndex(x => x.ScreenID === SelectedFromAvailable[i]);
                    if (index > -1) {
                        ChosenScreenDataSource_Mobile.push(data);
                        AvailScreenDataSource_Mobile.splice(index, 1);
                    }
                }
            }
            Promise.all([$("#ChosenScreenList_Mobile").dxList("instance").reload(), $("#AvailableScreenList_Mobile").dxList("instance").reload()]).then((r) => {
                HideLoader();
            });
        }
        function MoveToAvailableClick_Mobile() {
            var SelectedFromChosen = $("#ChosenScreenList_Mobile").dxList("instance").option("selectedItemKeys");
            if (SelectedFromChosen == null || SelectedFromChosen.length == 0) {
                DevExpress.ui.dialog.alert("No Screen Selected From Full Data View List To Move To Default View List..", "Info..");
                return;
            }
            ShowLoader();
            for (var i = 0; i < SelectedFromChosen.length; i++) {
                if (SelectedFromChosen[i] != null) {
                    let data = ChosenScreenDataSource_Mobile.find(x => x.ScreenID === SelectedFromChosen[i]);
                    var index = ChosenScreenDataSource_Mobile.findIndex(x => x.ScreenID === SelectedFromChosen[i]);
                    if (index > -1) {
                        AvailScreenDataSource_Mobile.push(data);
                        ChosenScreenDataSource_Mobile.splice(index, 1);

                    }
                }
            }
            AvailScreenDataSource_Mobile.sort((a, b) => a.DisplayName.localeCompare(b.DisplayName));
            Promise.all([$("#ChosenScreenList_Mobile").dxList("instance").reload(), $("#AvailableScreenList_Mobile").dxList("instance").reload()]).then((r) => {
                HideLoader();
            });

        }

    </script> @*Button_Functions_For_Mobile*@

    <script>
        function DeviceType_ValueChange(e) {

            if (e.value == "Desktop_Tablet") {

                $("#AvailableScreenList_Mobile").hide();
                $("#ChosenScreenList_Mobile").hide();
                $("#Btn_MovetoAvailable_Mobile").dxButton("instance").option("visible", false);
                $("#Btn_MovetoChosen_Mobile").dxButton("instance").option("visible", false);
                $("#AvailableScreenList_Desktop").show();
                $("#ChosenScreenList_Desktop").show();
                $("#Btn_MovetoAvailable_Desktop").dxButton("instance").option("visible", true);
                $("#Btn_MovetoChosen_Desktop").dxButton("instance").option("visible", true);

            }
            if (e.value == "Mobile") {

                $("#AvailableScreenList_Desktop").hide();
                $("#ChosenScreenList_Desktop").hide();
                $("#Btn_MovetoAvailable_Desktop").dxButton("instance").option("visible", false);
                $("#Btn_MovetoChosen_Desktop").dxButton("instance").option("visible", false);
                $("#AvailableScreenList_Mobile").show();
                $("#ChosenScreenList_Mobile").show();
                $("#Btn_MovetoAvailable_Mobile").dxButton("instance").option("visible", true);
                $("#Btn_MovetoChosen_Mobile").dxButton("instance").option("visible", true);
            }
        }
    </script> @*Radio_Button_Value_Change*@
</div>