@using DevExtreme.AspNet.Mvc;
@{
    /**/

    Layout = null;
}
<style>
    .listBorder {
        border: solid;
        border-width: thin;
        border-color: black;
    }

    #AvailableScreenList_Desktop .dx-list-item-content, #ChosenScreenList_Desktop .dx-list-item-content {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #AvailableScreenList_Mobile .dx-list-item-content, #ChosenScreenList_Mobile .dx-list-item-content {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #AvailableScreenList_Desktop .dx-list-select-all, #ChosenScreenList_Desktop .dx-list-select-all {
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #AvailableScreenList_Mobile .dx-list-select-all, #ChosenScreenList_Mobile .dx-list-select-all {
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #Btn_MovetoChosen_Desktop.dx-button .dx-icon, #Btn_MovetoAvailable_Desktop.dx-button .dx-icon {
        padding-right: 35px;
        color: red !important;
        font-weight: 700 !important;
    }

    #Btn_MovetoChosen_Mobile.dx-button .dx-icon, #Btn_MovetoAvailable_Mobile.dx-button .dx-icon {    
        padding-right: 35px;
        color: red !important;
        font-weight:700 !important;
    }
</style>

<div class="row">
    <div class="form-field">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2" align="center" style="font-weight:bold">
                    @Html.Label("Device Type:", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    @(Html.DevExtreme().RadioGroup()
					.ID("Rad_DeviceType_DataView")
					.Name("Rad_DeviceType_DataView")
					.DisplayExpr("text")
					.Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "Mobile", value = "Mobile" }, new { text = "Desktop or Tablet", value = "Desktop_Tablet" } })
					.OnValueChanged("DeviceType_ValueChange")
					)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-field">
            <div class="container-fluid">
                <div class="row">
                    <label> Screens With Default View:</label>
                    <div id="AvailableScreenList_Desktop" class="listBorder"></div>
                    <div id="AvailableScreenList_Mobile" class="listBorder"></div>
                </div>
            </div>
        </div>
    </div><!--[Available Screens]-->
    <div class="col-sm-1 col-md-1 col-lg-1" style="padding-top:210px;text-align:center">

        @(Html.DevExtreme().Button().ID("Btn_MovetoChosen_Desktop").Icon("chevrondoubleright").OnClick(@<text> function () { MoveToChosenClick_Desktop(); } </text>) )
        @(Html.DevExtreme().Button().ID("Btn_MovetoChosen_Mobile").Icon("chevrondoubleright").OnClick(@<text> function () { MoveToChosenClick_Mobile(); } </text>) )
        <br>
        <br>
        @(Html.DevExtreme().Button().ID("Btn_MovetoAvailable_Desktop").Icon("chevrondoubleleft").OnClick(@<text> function () { MoveToAvailableClick_Desktop(); } </text>) )
        @(Html.DevExtreme().Button().ID("Btn_MovetoAvailable_Mobile").Icon("chevrondoubleleft").OnClick(@<text> function () { MoveToAvailableClick_Mobile(); } </text>) )


    </div>

    <div class="col-sm-5 col-md-5 col-lg-5">
        <div class="form-field">
            <div class="container-fluid">
                <div class="row">
                    <label> Chosen Screens With Full Data View:</label>
                    <div id="ChosenScreenList_Desktop" class="listBorder"></div>
                    <div id="ChosenScreenList_Mobile" class="listBorder"></div>
                </div>
            </div>
        </div>
    </div><!--[Chosen Screens]-->
</div><!--[row 1]-->
