<div class="TdsApplicabilityReport_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @{

    }
    <div id="TdsApplicabilityReport_ParentDiv">
        <div id="contentTdsApplicabilityReport" class="report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">TDS Applicability Report</label>
            </div>
            <div class="report_button_div">
                @(Html.DevExtreme().Button().ID("TdsApplicabilityToggleScrollBar").Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data").Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90).Icon("toolbox") .OnClick(@<text> function () { TdsApplicabilitychangeMode(); } </text>)        )
                @(Html.DevExtreme().Button().ID("TdsApplicabilityListPreview") .Text("Export") .Icon("save").Width(80) .OnClick(@<text> function () { TdsApplicabilityPreviewClick(); } </text>)        )
                @(Html.DevExtreme().Button().ID("TdsApplicabilityCLOSE") .Text("Close") .Icon("clear").OnClick("TdsApplicabilityReport_close")        )
            </div>
        </div>
        <div id="TdsApplicabilityPartialView" class="parent_table">
            <form>
                @Html.Partial("Frm_Tds_Applicability_Grid")
            </form>
        </div>
    </div>
    @*Javascript Events*@
<script>
    var TdsApplicabilityReport_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var TdsApplicabilityReport;
    function TdsApplicabilityReport_close() { $(".TabPanalMenu-tabs .active span").click()}
    function TdsApplicabilityPreviewClick()
    {
        @*if ("@PartyLedger_ExportRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }*@
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Reports/TdsReport/Frm_Export_Options",
            data:
            {       
            },
            cache: false,
            success: function (data)
            {
                HideLoader();
                OpenPopup("report_export_modal", "Export Option", null, "auto", 120, true, data);
            }
        });
    }
    function TdsApplicabilitychangeMode()
    {
        TdsApplicabilityReport.beginUpdate();
        if (TdsApplicabilityReport_ShowHorizontalBar == 0) {
            TdsApplicabilityReport_ShowHorizontalBar = 1;
            $("#TdsApplicabilityToggleScrollBar").find("span").text("Default Data");
            $("#TdsApplicabilityToggleScrollBar").width(110);
            TdsApplicabilityReport.option("columnHidingEnabled", false);
            TdsApplicabilityReport.option("allowColumnResizing", true)
        }
        else {
            TdsApplicabilityReport_ShowHorizontalBar = 0;
            $("#TdsApplicabilityToggleScrollBar").find("span").text("Full Data");
            $("#TdsApplicabilityToggleScrollBar").width(90);
            TdsApplicabilityReport.option("columnHidingEnabled", true)
            TdsApplicabilityReport.option("allowColumnResizing", false)
        }
        TdsApplicabilityReport.endUpdate();
    }

    function TdsApplicabilityReport_OnInitialized(e)
    {
        DxGrid_AdjustSize(e.component, $("#TdsApplicabilityReport_ParentDiv .report_button_div"),null)
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            DxGrid_AdjustSize(e.component, $("#TdsApplicabilityReport_ParentDiv .report_button_div"), null, evt)
        });
        TdsApplicabilityReport = e.component;
    }
    function TdsApplicabilityReport_OnContentReady(e)
    {
        DxGrid_RowSelectionTobeCheckedAfterAnyAction(e)
        DxGrid_OnContentReady(e, TdsApplicabilityReport_ShowHorizontalBar);
    }
    function TdsApplicabilityReport_ContextMenuPreparing(e)
    {
        if (!e.items) e.items = [];
        if (e.target == "header")
        {
            DxGrid_HeaderContextMenu(e)
        }
        else if ((e.target == "content" && e.row && e.row.rowType == "groupFooter") || e.target == "footer")
        {
            DxGrid_FooterContextMenu(e);
        }
        else if (e.target == "content" && e.row && (e.row.rowType == "data" || e.row.rowType == "detailAdaptive"))
        {
            e.items = [
                {
                    text: "Export",
                    icon: "fa-solid fa-file-export text-warning",
                    visible: true,
                    onItemClick: function ()
                    {
                        TdsApplicabilityPreviewClick();
                    }
                },
                {
                    text: "Close",
                    icon: "fa-solid fa-rectangle-xmark text-danger",
                    beginGroup: true,
                    onItemClick: function ()
                    {
                        TdsApplicabilityReport_close()
                    }
                },
                {
                    text: "Refresh",
                    icon: "fa-solid fa-arrow-rotate-right text-success",
                    beginGroup: true,
                    onItemClick: function ()
                    {
                        RefreshGridView("TdsApplicabilityReport");
                    }
                }
            ]
        }
    }

    $(document).ready(function ()
    {      
    });
    $(".TabPanalMenu-tabs .active span").on("click", function ()
    {
        ClearAllReferences_TdsApplicability();
    });
    function ClearAllReferences_TdsApplicability()
    {
        ClearAllReferences("TdsApplicabilityReport_ClearReferences");
    }

</script>
</div>
