<div class="PaymentItem_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.PaymentItem

    @{
        /**/

        ViewBag.Test = Model.ActionMethod;
        bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
    }

    <style>
        .control-label {
            text-align: left !important;
        }

        .dx-icon {
            line-height: 14px !important;
            font-size: 18px !important;
        }

        #Frm_Voucher_Win_Gen_Pay_Item_Content {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    </style>

    @(Html.DevExtreme().Popup().CustomPopup().ID("Frm_Voucher_Item_Content_popup").OnShowing("PopupOnShowing").CloseOnOutsideClick(false).ShowTitle(true).Height(600).Width(900).Title("PopUpDidnotOpen").ContentTemplate(@<text> <div id="result_Frm_Voucher_Item_Content_popup"> </div> </text>) )
    <div id="Frm_Voucher_Win_Gen_Pay_Item_Content" class="form-horizontal">
        @using (Ajax.BeginForm("Frm_Voucher_Win_Gen_Pay_Item", "PaymentVoucher",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "",
                OnBegin = "AjaxBeginFormPost",
                OnSuccess = "Frm_Voucher_Win_Gen_Pay_Item_Content_OnSuccess"
            },
            new
            {
                id = "ID_Frm_Voucher_Win_Gen_Pay_Item_Window",
                @class = "edit_form"
            }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Sr)
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.iVoucher_Type)
            @Html.HiddenFor(x => x.iTrans_Type)
            @Html.HiddenFor(x => x.iLed_ID)
            @Html.HiddenFor(x => x.iLed_Type)
            @Html.HiddenFor(x => x.iCon_Led_Type)
            @Html.HiddenFor(x => x.iSpecific_ItemID)
            @Html.HiddenFor(x => x.iParty_Req)
            @Html.HiddenFor(x => x.iProfile)
            @Html.HiddenFor(x => x.iProfile_OLD)
            @Html.HiddenFor(x => x.iTDS_CODE)
            @Html.HiddenFor(x => x.iSpecific_Allow)
            @Html.HiddenFor(x => x.iPur_ID)
            @Html.HiddenFor(x => x.iCond_Ledger_ID)
            @Html.HiddenFor(x => x.iMinValue)
            @Html.HiddenFor(x => x.iMaxValue)
            @Html.HiddenFor(x => x.Cnt_BankAccount)
            @Html.HiddenFor(x => x.Vno)
            @Html.HiddenFor(x => x.Vdt)
            @Html.HiddenFor(x => x.Txt_V_Date)
            @Html.HiddenFor(x => x.Calc_Allow)
            @Html.HiddenFor(x => x.iPartyID)
            @Html.HiddenFor(x => x.iTxnM_ID)
            @Html.HiddenFor(x => x.iReference)
            @Html.HiddenFor(x => x.iRefType)
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.Payment_Credit_Amt)

            @Html.HiddenFor(x => x.X_LOC_ID)
            @Html.HiddenFor(x => x.GS_DESC_MISC_ID)
            @Html.HiddenFor(x => x.GS_ITEM_WEIGHT)
            @Html.HiddenFor(x => x.AI_TYPE)
            @Html.HiddenFor(x => x.AI_MAKE)
            @Html.HiddenFor(x => x.AI_MODEL)
            @Html.HiddenFor(x => x.AI_SERIAL_NO)
            @Html.HiddenFor(x => x.AI_PUR_DATE)
            @Html.HiddenFor(x => x.AI_WARRANTY)
            @Html.HiddenFor(x => x.AI_IMAGE)
            @Html.HiddenFor(x => x.LS_NAME)
            @Html.HiddenFor(x => x.LS_BIRTH_YEAR)
            @Html.HiddenFor(x => x.LS_INSURANCE)
            @Html.HiddenFor(x => x.LS_INSURANCE_ID)
            @Html.HiddenFor(x => x.LS_INS_POLICY_NO)
            @Html.HiddenFor(x => x.LS_INS_DATE)
            @Html.HiddenFor(x => x.LS_INS_AMT)
            @Html.HiddenFor(x => x.VI_MAKE)
            @Html.HiddenFor(x => x.VI_MODEL)
            @Html.HiddenFor(x => x.VI_REG_NO_PATTERN)
            @Html.HiddenFor(x => x.VI_REG_NO)
            @Html.HiddenFor(x => x.VI_REG_DATE)
            @Html.HiddenFor(x => x.VI_OWNERSHIP)
            @Html.HiddenFor(x => x.VI_OWNERSHIP_AB_ID)
            @Html.HiddenFor(x => x.VI_DOC_RC_BOOK)
            @Html.HiddenFor(x => x.VI_DOC_AFFIDAVIT)
            @Html.HiddenFor(x => x.VI_DOC_WILL)
            @Html.HiddenFor(x => x.VI_DOC_TRF_LETTER)
            @Html.HiddenFor(x => x.VI_DOC_FU_LETTER)
            @Html.HiddenFor(x => x.VI_DOC_OTHERS)
            @Html.HiddenFor(x => x.VI_DOC_NAME)
            @Html.HiddenFor(x => x.VI_INSURANCE_ID)
            @Html.HiddenFor(x => x.VI_INS_POLICY_NO)
            @Html.HiddenFor(x => x.VI_INS_EXPIRY_DATE)
            @Html.HiddenFor(x => x.LB_PRO_TYPE)
            @Html.HiddenFor(x => x.LB_PRO_CATEGORY)
            @Html.HiddenFor(x => x.LB_PRO_USE)
            @Html.HiddenFor(x => x.LB_PRO_NAME)
            @Html.HiddenFor(x => x.LB_PRO_ADDRESS)
            @Html.HiddenFor(x => x.LB_ADDRESS1)
            @Html.HiddenFor(x => x.LB_ADDRESS2)
            @Html.HiddenFor(x => x.LB_ADDRESS3)
            @Html.HiddenFor(x => x.LB_ADDRESS4)
            @Html.HiddenFor(x => x.LB_STATE_ID)
            @Html.HiddenFor(x => x.LB_DISTRICT_ID)
            @Html.HiddenFor(x => x.LB_CITY_ID)
            @Html.HiddenFor(x => x.LB_PINCODE)
            @Html.HiddenFor(x => x.LB_OWNERSHIP)
            @Html.HiddenFor(x => x.LB_OWNERSHIP_PARTY_ID)
            @Html.HiddenFor(x => x.LB_SURVEY_NO)
            @Html.HiddenFor(x => x.LB_CON_YEAR)
            @Html.HiddenFor(x => x.LB_RCC_ROOF)
            @Html.HiddenFor(x => x.LB_PAID_DATE)
            @Html.HiddenFor(x => x.LB_PERIOD_FROM)
            @Html.HiddenFor(x => x.LB_PERIOD_TO)
            @Html.HiddenFor(x => x.LB_DOC_OTHERS)
            @Html.HiddenFor(x => x.LB_DOC_NAME)
            @Html.HiddenFor(x => x.LB_OTHER_DETAIL)
            @Html.HiddenFor(x => x.LB_TOT_P_AREA)
            @Html.HiddenFor(x => x.LB_CON_AREA)
            @Html.HiddenFor(x => x.LB_DEPOSIT_AMT)
            @Html.HiddenFor(x => x.LB_MONTH_RENT)
            @Html.HiddenFor(x => x.LB_MONTH_O_PAYMENTS)
            @Html.HiddenFor(x => x.LB_DOCS_ARRAY)
            @Html.HiddenFor(x => x.List_LB_DOCS_ARRAY)
            @Html.HiddenFor(x => x.List_LB_EXTENDED_PROPERTY_TABLE)
            @Html.HiddenFor(x => x.LB_REC_EDIT_ON)
            @Html.HiddenFor(x => x.LB_REC_ID)
            @Html.HiddenFor(x => x.X_TP_ID)
            @Html.HiddenFor(x => x.TP_BILL_NO)
            @Html.HiddenFor(x => x.TP_BILL_DATE)
            @Html.HiddenFor(x => x.TP_PERIOD_FROM)
            @Html.HiddenFor(x => x.TP_PERIOD_TO)
            @Html.HiddenFor(x => x.Ref_RecID)
            @Html.HiddenFor(x => x.Item_Name)
            @Html.HiddenFor(x => x.TDS_Deduction_List)
            @Html.HiddenFor(x => x.AllowAmountEdit)

            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="full-width-header-bg2">
                    <div class="row">
                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Item Detail</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                    </div>
                </div><!--[Header]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label text-red" id="itemdetail_Itemlabel">Item Name:</label></div>
                                    <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ItemList").Name("GLookUp_ItemList").ValueExpr("ITEM_ID").DisplayExpr("ITEM_NAME")
                                          .DataSource(Model.ItemDataList, "ITEM_ID").Value(Model.GLookUp_ItemList).Placeholder("Select Item").ReadOnly(true)
                                          .OnValueChanged("GLookUp_ItemList_EditValueChanged").ContentTemplate(@<text> @Html.Partial("frm_Gen_Pay_item_LookUp_GetItemList") </text>))

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Item Name]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label disabletxt" id="payment_item_head">Head:</label></div>
                                    <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                        @(Html.DevExtreme().TextBoxFor(x => x.BE_Item_Head).CustomTextBox().ID("BE_Item_Head").ReadOnly(true).FocusStateEnabled(false) )
                                        @Html.ValidationMessageFor(model => model.BE_Item_Head, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Head]-->
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" id="payment_item_qty">Qty:</label></div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 prm ">
                                        @(Html.DevExtreme().NumberBoxFor(x => x.Txt_Qty).CustomNumberBox().ID("Txt_Qty").Placeholder("Type Qty").OnValueChanged("Txt_Qty_EditValueChanged").ReadOnly(IsVisible).Format("#0.000") )
                                        @Html.ValidationMessageFor(model => model.Txt_Qty, "", new { @class = "text-red" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" id="payment_item_unit">Unit:</label></div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 prm ">
                                        @(Html.DevExtreme().SelectBoxFor(x => x.Cmb_Unit).ID("Cmb_Unit").CustomSelectBox().DataSource(new[] { "CM", "FEET", "GM", "INCH", "KG", "KM", "LTR", "M", "MG", "ML", "MM", "NO", "SQ FT", "YARD" }).ReadOnly(IsVisible).ShowClearButton(false))
                                        @Html.ValidationMessageFor(model => model.Cmb_Unit, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Qty/Unit]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" id="payment_item_rate">Rate:</label></div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 prm ">
                                        @(Html.DevExtreme().NumberBoxFor(x => x.Txt_Rate).CustomNumberBox().ID("Txt_Rate").Placeholder("Type Rate").ReadOnly(IsVisible).OnValueChanged("Txt_Rate_EditValueChanged").Format("#0.00") )
                                        @Html.ValidationMessageFor(model => model.Txt_Rate, "", new { @class = "text-red" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label text-red" id="payment_item_amount">Amount:</label></div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 prm ">
                                        @(Html.DevExtreme().NumberBoxFor(x => x.Txt_Amt).CustomNumberBox().ID("Txt_Amt").Min(0).Placeholder("Type Amount").ReadOnly(IsVisible).Format("#0.00") )
                                        @Html.ValidationMessageFor(model => model.Txt_Amt, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Rate/Amount]-->
                </div><!--[Row 3]-->
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row" style="padding-bottom:1px">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label text-red" id="payment_item_purpose">Purpose:</label></div>
                                    <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("GLookUp_PurList").Name("GLookUp_PurList").DataSource(Model.PurposeDataList, "PUR_ID").DisplayExpr("PUR_NAME").ValueExpr("PUR_ID").ReadOnly(true).Value(Model.GLookUp_PurList))

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Purpose]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" id="itemdetail_partylabel">Party:</label></div>
                                    <div class="col-sm-7 col-md-7 col-lg-7 prm ">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_PartyList").Name("GLookUp_PartyList").ValueExpr("ID").DisplayExpr("Name").DataSource(Model.PartyDataList, "ID").Value(Model.GLookUp_PartyList)
                                          .Placeholder("Select Party").ReadOnly(true).OnValueChanged("ChangeLookUp_GetPartyList_Gen_Pay_Item").ContentTemplate(@<text> @Html.Partial("frm_Gen_Pay_item_LookUp_GetPartyList_Gen_Pay_Item") </text>))

                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 ">
                                        @(Html.DevExtreme().Button().ID("PaymentAddParty").Text("Add").Hint("Add Party").Width(80).Option("style","padding-bottom:10px").Disabled(IsVisible).OnClick("PaymentItem_AddParty_Click"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Party]-->
                </div><!--[Row 4]-->
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label disabletxt" id="payment_item_section">Section:</label></div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 prm ">
                                        @(Html.DevExtreme().TextBoxFor(x => x.BE_TDS_Section).CustomTextBox().ID("BE_TDS_Section").Placeholder("Section").ReadOnly(true).FocusStateEnabled(false) )

                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label disabletxt" id="payment_item_tdsRate" style="white-space: nowrap;" )>TDS Rate:</label></div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 prm ">
                                        @(Html.DevExtreme().TextBoxFor(x => x.BE_TDS_Rate).CustomTextBox().ID("BE_TDS_Rate").Placeholder("TDS Rate").ReadOnly(true).FocusStateEnabled(false))
                                        @Html.ValidationMessageFor(model => model.BE_TDS_Rate, "", new { @class = "text-red", Style = "white-space: nowrap;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[TDS Section/Rate]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label disabletxt" id="tdsdeducted" style="white-space: nowrap;">TDS Deducted:</label></div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                        @(Html.DevExtreme().NumberBoxFor(x => x.TXT_TDS).CustomNumberBox().ID("TXT_TDS").Placeholder("TDS Deducted").Format("#0.00") )
                                        @Html.ValidationMessageFor(model => model.TXT_TDS, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[TDS Deducted]-->
                </div><!--[Row 5]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-1 col-md-1 col-lg-1 pll"><label class="control-label" id="payment_item_Remarks">Remarks:</label></div>
                                    <div class="col-sm-11 col-md-11 col-lg-11 prm ">
                                        @(Html.DevExtreme().TextBoxFor(x => x.Txt_Remarks).CustomTextBox(true).ID("Txt_Remarks").Placeholder("Type Any Remarks...").ReadOnly(IsVisible).MaxLength(2000) )
                                        @Html.ValidationMessageFor(model => model.Txt_Remarks, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Remarks]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Item Detail )...", Model.TempActionMethod.Substring(1)))
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="styleActionBtn">
                                    @if (Model.ActionMethod.ToString().Trim() == "_View")
                                    {
                                        @(Html.DevExtreme().Button().CustomSaveButton().ID("Payment_Item_ViewMode_Btn").Text("View").UseSubmitBehavior(true).Visible(false) )
                                        @(Html.DevExtreme().Button().CustomCloseButton().ID("ItemCancel").Text("Close").OnClick(@<text> function () { $("#Frm_Voucher_Item_popup").dxPopup("hide"); } </text>) )
                                    }
                                    @if (Model.ActionMethod.ToString().Trim() == "_Edit")
                                    {
                                        @(Html.DevExtreme().Button().ID("ItemEdit").CustomSaveButton().Text("Update").UseSubmitBehavior(false).OnClick("Payment_item_Save") )
                                        @(Html.DevExtreme().Button().ID("ItemCancel").CustomCloseButton().Text("Cancel").OnClick(@<text> function () { $("#Frm_Voucher_Item_popup").dxPopup("hide"); } </text>) )
                                    }
                                    @if (Model.ActionMethod.ToString().Trim() == "_Delete")
                                    {
                                        @(Html.DevExtreme().Button().ID("ItemDelete").CustomSaveButton().Text("Delete").UseSubmitBehavior(true) )
                                        @(Html.DevExtreme().Button().ID("ItemCancel").CustomCloseButton().Text("Cancel").OnClick(@<text> function () { $("#Frm_Voucher_Item_popup").dxPopup("hide"); } </text>) )
                                    }
                                    @if (Model.ActionMethod.ToString().Trim() == "_New")
                                    {
                                        @(Html.DevExtreme().Button().ID("ItemEdit").CustomSaveButton().Text("OK").UseSubmitBehavior(false).OnClick("Payment_item_Save") )
                                        @(Html.DevExtreme().Button().ID("ItemCancel").CustomCloseButton().Text("Cancel").OnClick(@<text> function () { $("#Frm_Voucher_Item_popup").dxPopup("hide"); } </text>) )
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->

            }
        }
        @(Html.DevExtreme().Popup().CustomPopup().ID("PaymentManageOwner").CloseOnOutsideClick(false).ShowTitle(true).Height("auto").Width(1000).DragEnabled(true).Title("New ~ Address Book").ContentTemplate(@<text> <div id="result_PaymentManageOwner"> </div> </text>) )
        @(Html.DevExtreme().Popup().CustomPopup().ID("PaymentAddLocation").CloseOnOutsideClick(false).ShowTitle(true).Height("auto").Width("auto").DragEnabled(true).Title("New ~ Location").ContentTemplate(@<text> <div id="result_PaymentLocation"> </div> </text>) )
    </div>
    <script>
    var Paymentitem_ActionMethod = "@Model.TempActionMethod";  
    function PaymentItem_AddParty_Click(e)
    {
        if (Paymentitem_ActionMethod == "_New" || Paymentitem_ActionMethod== "_Edit" || Paymentitem_ActionMethod == "_New_From_Selection")
        {
            AddParty("Payment_Add_Party", "LookUp_GetPartyList_PaymentItem", "PaymentItem_AddParty_Click", "PaymentAddParty");
        }
    }
    </script>
    <script>
    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        InitAllDD_PaymentItem();
        TransformTextForDB("ID_Frm_Voucher_Win_Gen_Pay_Item_Window");
        await Promise.all([LookUp_GetItemList(true),LookUp_GetPartyList_PaymentItem("", true)]);
        if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
        {
            $("#GLookUp_PurList").dxSelectBox("instance").option("readOnly", false);
        }
        await PartyBind();
        if ("@Model.TempActionMethod" == "_View" || "@Model.TempActionMethod" == "_Delete" || "@Model.TempActionMethod" == "_Edit")
        {
            await Data_Binding();
            Control_SetReadOnly("GLookUp_ItemList", "dxDropDownBox", true);
            Control_SetReadOnly("GLookUp_PartyList", "dxDropDownBox", true);
        }
        if ("@Model.TempActionMethod" == "_View")
        {
            switch ($("#iProfile").val().toUpperCase())
            {
                case "GOLD":
                case "SILVER":
                case "OTHER ASSETS":
                case "LIVESTOCK":
                case "VEHICLES":
                case "LAND & BUILDING":
                case "TELEPHONE BILL":
                    $("#Payment_Item_ViewMode_Btn").dxButton("instance").option("visible", true);
                    break;
                default:
                    if ($("#iVoucher_Type").val().toUpperCase().trim() == "LAND & BUILDING" && $("#iProfile").val().toUpperCase() != "LAND & BUILDING") {
                        $("#Payment_Item_ViewMode_Btn").dxButton("instance").option("visible", true);
                    }
                    else {
                        $("#Payment_Item_ViewMode_Btn").dxButton("instance").option("visible", false);
                    }
                    break;
            }
        }
        if ("@Model.ActionMethod" == "_New" && "@Model.GLookUp_PurList".length > 0)
        {
            Control_SetReadOnly("GLookUp_PurList", "dxSelectBox", true);
            //$("#GLookUp_PurList").dxSelectBox("instance").option("readOnly", true);
        }
        if ("@Model.iSpecific_Allow" == "True")
        {
            @*await Item_DG_Pay.selectRows("@Model.iSpecific_ItemID", false);*@
            await GLookUp_ItemList_EditValueChanged();
            Control_SetReadOnly("GLookUp_ItemList", "dxDropDownBox", false);
            $("#iSpecific_Allow").val(false);
        }
        if ("@Model.AllowAmountEdit" == "False")
        {
            $("#Txt_Amt").dxNumberBox({ inputAttr: { title: "Amount has been disabled , as there are references posted against created item" } });
            $("#Txt_Amt").dxNumberBox("instance").option("readOnly", true);
            $("#Txt_Qty").dxNumberBox({ inputAttr: { title: "Quantity has been disabled , as there are references posted against created item" } });
            $("#Txt_Qty").dxNumberBox("instance").option("readOnly", true);
        }
        $("#Payment_Credit_Amt").val($("#Txt_CreditAmt").dxNumberBox("instance").option("value"));
        Set_Form_View_Delete_Mode(null, "ID_Frm_Voucher_Win_Gen_Pay_Item_Window", "@Model.TempActionMethod");
        Focus_FirstEditable_Field("ID_Frm_Voucher_Win_Gen_Pay_Item_Window");
        HideLoader_Ready();      
    });// document.ready fn
    async function Data_Binding ()
    {
        await GLookUp_ItemList_EditValueChanged();
        Control_SetReadOnly("GLookUp_ItemList", "dxDropDownBox", false);
        $("#GLookUp_PurList").dxSelectBox("instance").option("readOnly", false);
    }

    @*document.body.addEventListener("keydown", PaymentItem_doucumentKeyDown, false);
    function PaymentItem_doucumentKeyDown(evt)
    {
        if (evt.ctrlKey && evt.keyCode == 79)//ctrl+o save
        {
            evt.preventDefault();
            if ("@Model.TempActionMethod" == "_New"||"@Model.TempActionMethod" == "_Edit"||"@Model.TempActionMethod" == "_New_From_Selection")
            {
                $("#ItemEdit").trigger("dxclick");
            }
        }
        else if (evt.ctrlKey && evt.keyCode == 65)//ctrl+a add party
        {
            evt.preventDefault();
            Payment_AddParty_Click();
        }
        else if (evt.ctrlKey && evt.keyCode == 76)//ctrl+l show party ledger
        {
            evt.preventDefault();
            Payment_ShowPartyLedger_Click();
        }
        else if (evt.ctrlKey && evt.keyCode == 68)//ctrl+d delete
        {
            evt.preventDefault();
            if ("@Model.TempActionMethod" == "_Delete")
            {
                $("#ItemDelete").trigger("dxclick");
            }
        }

    }*@ //shortcuts

    </script>
    @* Document.ready *@
    <script>
        var Payment_Party_Pan = "";
        var Payment_Item_Party_Name = "";
        function GetTDSRate() {
            $("#TXT_TDS").dxNumberBox("instance").option("readOnly", false);
            $("#TXT_TDS").dxNumberBox("instance").option("focusStateEnabled", true);
            $("#tdsdeducted").removeClass("disabletxt");
            $("#TXT_TDS").dxNumberBox("instance").option("placeholder", "TDS Deducted");

            if ((!($("#GLookUp_ItemList").dxDropDownBox("instance").option("value"))) || (!($("#GLookUp_PartyList").dxDropDownBox("instance").option("value")))) {
                $("#BE_TDS_Rate").dxTextBox("instance").option("value", "NA");
                $("#TXT_TDS").dxNumberBox("instance").option("readOnly", true);
                $("#TXT_TDS").dxNumberBox("instance").option("focusStateEnabled", false);
                $("#tdsdeducted").addClass("disabletxt");
                $("#TXT_TDS").dxNumberBox("instance").option("placeholder", "");
                return;
            }
            if ($("#iTDS_CODE").val().toUpperCase() == "NONE") {
                $("#BE_TDS_Rate").dxTextBox("instance").option("value", "NA");
                $("#TXT_TDS").dxNumberBox("instance").option("readOnly", true);
                $("#TXT_TDS").dxNumberBox("instance").option("focusStateEnabled", false);
                $("#tdsdeducted").addClass("disabletxt");
                $("#TXT_TDS").dxNumberBox("instance").option("placeholder", "");
                return;
            }
            $.ajax({
                type: 'GET',
                url: "/Account/PaymentVoucher/GetTDSRate",
                data: { PAN: Payment_Party_Pan, TDS_Code: $("#iTDS_CODE").val() },
                cache: false,
                success: function (data) {
                    if (data.result == false) {
                        DevExpress.ui.dialog.alert(data.message, 'Error..');
                    }
                    else {
                        if (data.taxRate) {
                            $("#BE_TDS_Rate").dxTextBox("instance").option("value", data.taxRate);
                        }
                        else {
                            $("#BE_TDS_Rate").dxTextBox("instance").option("value", "NA");
                        }
                    }
                }
            });
        }
        async function PartyBind()
        {
            Control_SetReadOnly("GLookUp_PartyList", "dxDropDownBox", false);
            if ($("#iPartyID").val() == null || $("#iPartyID").val().length <= 0)
            {
                return;
            }
            if ($("#iPartyID").val().length > 0)
            {
                await ChangeLookUp_GetPartyList_Gen_Pay_Item();
                Control_SetReadOnly("GLookUp_PartyList", "dxDropDownBox", true, "#696969");
            }
        }
        function Payment_ShowPartyLedger_Click() {
            var GLookUp_PartyList_Tag = $("#GLookUp_PartyList").dxDropDownBox("instance").option("value");
            if (GLookUp_PartyList_Tag != null && GLookUp_PartyList_Tag != "") {
                $("#Payment_Add_Party").dxPopup("instance").option("title", "Current Year Transactions for " + Payment_Item_Party_Name);
                $("#Payment_Add_Party").dxPopup("show");
                $("#Payment_Add_Party").dxPopup("instance").option("width", "70%");
                $("#Payment_Add_Party").dxPopup("instance").option("height", "70%");
                $("#result_PaymentAddParty").html('');
                ShowLoader();
                $.ajax({
                    type: 'Get',
                    url: "/Reports/PartyLedger/Frm_Party_Report",
                    data: { _Opening: 0, partyid: GLookUp_PartyList_Tag, PopUpId: "Payment_Add_Party" },
                    cache: false,
                    success: function (resultsuccess) {
                        $("#result_PaymentAddParty").html(resultsuccess);
                        HideLoader();
                    }
                });
            }
        }
        function Payment_item_Save(e) {
            if (ValidateForm(e)) {
                var form = $("#ID_Frm_Voucher_Win_Gen_Pay_Item_Window");
                if (($("#iVoucher_Type").val()).trim().toUpperCase() == "PAYMENT - INSTITUTE") {
                    var Confirmclick = DevExpress.ui.dialog.confirm('<div><size=13><b>Transfer to other Institute not allowed <font color=red>without Head-Quarter Permission</font>...!</b></size></br></br>Do you want to Continue...?</div>', "Message...");
                    Confirmclick.done(function (alertResult) {
                        if (alertResult) {
                            form.submit();
                        }
                        else {
                            $("#GLookUp_ItemList").dxDropDownBox("instance").focus();
                        }
                    });
                }
                else {
                    form.submit();
                }
            }
        }
    </script>
    @* Other Functions *@
    <script>
    async function GLookUp_ItemList_EditValueChanged(e)
    {
        var item;
        if (e)
        {
            item = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null)
            {
                Item_DG_Pay.clearSelection();
                return;
            }
        }
        else
        {
            item = $("#GLookUp_ItemList").dxDropDownBox("option", "value");
        }
        await Item_DG_Pay.selectRows(item);
        if (Item_DG_Pay.getSelectedRowsData().length > 0)
        {
            var item = Item_DG_Pay.getSelectedRowsData()[0];
            $("#BE_Item_Head").dxTextBox("instance").option("value", item["LED_NAME"]);
            $("#BE_TDS_Section").dxTextBox("instance").option("value", item["ITEM_TDS_CODE"]);
            $("#iVoucher_Type").val(item["ITEM_VOUCHER_TYPE"]);
            $("#iLed_ID").val(item["ITEM_LED_ID"]);
            $("#iLed_Type").val(item["LED_TYPE"]);
            $("#iCon_Led_Type").val(item["CON_LED_TYPE"]);
            $("#iTrans_Type").val(item["ITEM_TRANS_TYPE"]);
            $("#iParty_Req").val(item["ITEM_PARTY_REQ"]);
            $("#Item_Name").val(item["ITEM_NAME"]);
            if (item["ITEM_PARTY_REQ"].toUpperCase().trim() == "YES")
            {
                $("#itemdetail_partylabel").addClass("text-red");
            }
            else
            {
                $("#itemdetail_partylabel").removeClass("text-red");
            }
            $("#iProfile").val(item["ITEM_PROFILE"]);
            $("#iCond_Ledger_ID").val(item["ITEM_CON_LED_ID"]);
            $("#iMinValue").val(item["ITEM_CON_MIN_VALUE"]);
            $("#iMaxValue").val(item["ITEM_CON_MAX_VALUE"]);
            $("#iTDS_CODE").val(item["ITEM_TDS_CODE"]);
            GetTDSRate();
            if ($("#iProfile").val() == "VEHICLES" || $("#iProfile").val() == "LIVESTOCK" || $("#iProfile").val() == "LAND & BUILDING")
            {
                $("#Txt_Qty").dxNumberBox("instance").option("readOnly", true);
                $("#Cmb_Unit").dxSelectBox("instance").option("readOnly", true);
                $("#Txt_Rate").dxNumberBox("instance").option("readOnly", true);
                $("#Txt_Qty").dxNumberBox("instance").option("value", 1);
                $("#Cmb_Unit").dxSelectBox("instance").option("value", "NO");
                $("#Txt_Rate").dxNumberBox("instance").option("placeholder", "");
                $("#payment_item_qty").addClass("disabletxt");
                $("#payment_item_unit").addClass("disabletxt");
                $("#payment_item_rate").addClass("disabletxt");
            }
            else if ($("#iProfile").val() == "ADVANCES" || $("#iProfile").val() == "OTHER DEPOSITS" || $("#iProfile").val() == "OTHER LIABILITIES" || $("#iProfile").val() == "TELEPHONE BILL")
            {
                $("#Txt_Qty").dxNumberBox("instance").option("readOnly", true);
                $("#Cmb_Unit").dxSelectBox("instance").option("readOnly", true);
                $("#Txt_Rate").dxNumberBox("instance").option("readOnly", true);
                $("#Txt_Qty").dxNumberBox("instance").reset();
                $("#Txt_Qty").dxNumberBox("instance").option("placeholder", "");
                $("#Txt_Rate").dxNumberBox("instance").option("placeholder", "");
                $("#Cmb_Unit").dxSelectBox("instance").option("value", "NO");
                $("#payment_item_qty").addClass("disabletxt");
                $("#payment_item_unit").addClass("disabletxt");
                $("#payment_item_rate").addClass("disabletxt");
            }
            else if ($("#iProfile").val() == "GOLD" || $("#iProfile").val() == "SILVER" || $("#iProfile").val() == "OTHER ASSETS")
            {

                $("#Txt_Qty").dxNumberBox("instance").option("readOnly", false);
                $("#Cmb_Unit").dxSelectBox("instance").option("readOnly", false);
                $("#Txt_Rate").dxNumberBox("instance").option("readOnly", false);
                $("#Cmb_Unit").dxSelectBox("instance").option("value", "NO");
                $("#Cmb_Unit").dxSelectBox("instance").option("placeholder", "Select Unit");
                $("#Txt_Rate").dxNumberBox("instance").option("placeholder", "Enter Rate");
                $("#Txt_Qty").dxNumberBox("instance").option("placeholder", "Enter Quantity");
                $("#payment_item_qty").removeClass("disabletxt");
                $("#payment_item_unit").removeClass("disabletxt");
                $("#payment_item_rate").removeClass("disabletxt");
            }
            else
            {
                $("#Txt_Qty").dxNumberBox("instance").option("readOnly", false)
                $("#Cmb_Unit").dxSelectBox("instance").option("readOnly", false)
                $("#Txt_Rate").dxNumberBox("instance").option("readOnly", false)
                $("#Txt_Qty").dxNumberBox("instance").reset();
                $("#Cmb_Unit").dxSelectBox("instance").option("placeholder", "Select Unit");
                $("#Txt_Rate").dxNumberBox("instance").option("placeholder", "Enter Rate");
                $("#Txt_Qty").dxNumberBox("instance").option("placeholder", "Enter Quantity");
                $("#payment_item_qty").removeClass("disabletxt");
                $("#payment_item_unit").removeClass("disabletxt");
                $("#payment_item_rate").removeClass("disabletxt");
            }

            if ("@Model.TempActionMethod" != "_View" && "@Model.TempActionMethod" != "_Delete")
            {
                if ($("#GLookUp_PartyList").dxDropDownBox("instance").option("value") != "" && $("#GLookUp_PartyList").dxDropDownBox("instance").option("value") != null)
                {
                    if ($("#iTDS_CODE").val().toUpperCase() != "NONE" && Payment_Party_Pan.length < 10)
                    {
                        if ("@Model.TempActionMethod" == "_Edit")
                        {
                            if ($("#GLookUp_PartyList").dxDropDownBox("instance").option("readOnly") == false && $("#GLookUp_PartyList").dxDropDownBox("instance").option("disabled") == false)
                            {
                                DevExpress.ui.dialog.alert('PAN No. not specified in Party Details...!<br>TDS Rates will be shown as higher for parties without PAN information.<br>Please enter PAN information in AddressBook under "General" Tab. ', 'Incomplete Information...').done(function (result) { $("#GLookUp_ItemList").dxDropDownBox("focus") });
                            }
                        }
                        else
                        {
                            DevExpress.ui.dialog.alert('PAN No. not specified in Party Details...!<br>TDS Rates will be shown as higher for parties without PAN information.<br>Please enter PAN information in AddressBook under "General" Tab. ', 'Incomplete Information...').done(function (result) { $("#GLookUp_ItemList").dxDropDownBox("focus") });
                        }
                    }
                }
            }
        }
    }
    async function ChangeLookUp_GetPartyList_Gen_Pay_Item(e)
    {
        var party;
        if (e)
        {
            party = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null)
            {
                Party_DG_itemPay.clearSelection();
                GetTDSRate();
                return;
            }
        }
        else
        {
            party = $("#GLookUp_PartyList").dxDropDownBox("option", "value");
        }
        await Party_DG_itemPay.selectRows(party);
        if (Party_DG_itemPay.getSelectedRowsData().length > 0)
        {
            var item = Party_DG_itemPay.getSelectedRowsData()[0];
            Payment_Party_Pan = item["PAN"] == null ? "" : item["PAN"];         
            Payment_Item_Party_Name = item["Name"];
            if ("@Model.TempActionMethod" != "_View" && "@Model.TempActionMethod" != "_Delete")
            {
                if (Item_DG_Pay.getSelectedRowsData().length > 0 && $("#iTDS_CODE").val().toUpperCase() != "NONE" && Payment_Party_Pan.length < 10)
                {
                    if ("@Model.TempActionMethod" == "_Edit")
                    {
                        if (e.component.option("readOnly") == false && e.component.option("disabled") == false)
                        {
                            DevExpress.ui.dialog.alert('PAN No. not specified in Party Details...!<br>TDS Rates will be shown as higher for parties without PAN information.<br>Please enter PAN information in AddressBook under "General" Tab. ', 'Incomplete Information...').done(function (result) { $("#GLookUp_PartyList").dxDropDownBox("focus")});
                        }
                    }
                    else
                    {
                        DevExpress.ui.dialog.alert('PAN No. not specified in Party Details...!<br>TDS Rates will be shown as higher for parties without PAN information.<br>Please enter PAN information in AddressBook under "General" Tab. ', 'Incomplete Information...').done(function (result) { $("#GLookUp_PartyList").dxDropDownBox("focus") });
                    }
                }
            }
        }
        GetTDSRate();
    }

    function Txt_Qty_EditValueChanged(e)
    {
        if ($("#Calc_Allow").val()=="True")
        {
            if ("@Model.TempActionMethod" == "_New")
            {
                $("#Txt_Amt").dxNumberBox("instance").option("value", parseFloat(($("#Txt_Rate").dxNumberBox("instance").option("value") * e.value).toFixed(2)));
            }
        }
    }//qty
    function Txt_Rate_EditValueChanged(e)
    {
        if ($("#Calc_Allow").val()=="True")
        {
            if ("@Model.TempActionMethod" == "_New")
            {
                $("#Txt_Amt").dxNumberBox("instance").option("value", parseFloat(($("#Txt_Qty").dxNumberBox("instance").option("value") * e.value).toFixed(2)));
            }
        }
    } //rate
    </script>
    @* Value Change*@
    <script>
        var Item_DG_Pay;
        var Party_DG_itemPay;
        var dataSource_Party_Payment_Item = null;
        function InitAllDD_PaymentItem()
        {
            //await Promise.all([$("#GLookUp_ItemList").dxDropDownBox("getDataSource").load(),
                //$("#GLookUp_PartyList").dxDropDownBox("getDataSource").load()]);
            var $Item_DG_Pay = $("#Frm_Gen_Pay_Item_GLookUp_ItemList_datagrid");
            if ($Item_DG_Pay.length)
            {
                Item_DG_Pay = $Item_DG_Pay.dxDataGrid("instance");
            }
            var $Party_DG_Pay = $("#Frm_Gen_Pay_Item_GLookUp_PartyList1_datagrid");
            if ($Party_DG_Pay.length)
            {
                Party_DG_itemPay = $Party_DG_Pay.dxDataGrid("instance");
            }
        }
        async function LookUp_GetItemList(FirstCall = false)
        {
            var DGItem = GetDataSourceItems("GLookUp_ItemList", "dxDropDownBox");
            var TotalCount = DGItem.length;          
            if (TotalCount == 1)
            {
                $("#GLookUp_ItemList").find('input').css('color', '#000080');
                if (Paymentitem_ActionMethod == "_New" || Paymentitem_ActionMethod == "_New_From_Selection")
                {
                    if (FirstCall === true)
                    {
                        await GLookUp_ItemList_EditValueChanged();
                    }
                    Control_SetReadOnly("GLookUp_ItemList", "dxDropDownBox", true);
                }
            }
            else
            {
                if (Paymentitem_ActionMethod == "_New" || Paymentitem_ActionMethod == "_New_From_Selection")
                {
                    Control_SetReadOnly("GLookUp_ItemList", "dxDropDownBox", false);
                }
            }
        }
        async function LookUp_GetPartyList_PaymentItem(partyid = "", FirstCall = false)
        {
            if (FirstCall === false)
            {
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Account/PaymentVoucher/RefreshPartyList_Item",
                    cache: false,
                    success: function (data) {
                        dataSource_Party_Payment_Item = new DevExpress.data.DataSource({ // need to dispose it in in clearreference
                            store:
                            {
                                type: "array",
                                key: "ID",
                                data: data
                            }
                        });
                        $("#GLookUp_PartyList").dxDropDownBox("instance").option("dataSource", dataSource_Party_Payment_Item);
                        Party_DG_itemPay.option("dataSource", dataSource_Party_Payment_Item);
                        dataSource_Party_Payment_Item.load().done((r) => {
                            $("#GLookUp_PartyList").dxDropDownBox("reset");
                            if (partyid.length > 0) {
                                $("#GLookUp_PartyList").dxDropDownBox("option", "value", partyid)
                                Control_SetReadOnly("GLookUp_PartyList", "dxDropDownBox", false);
                            }
                            $("#GLookUp_PartyList").dxDropDownBox("focus")
                            HideLoader();
                        })
                    }
                });
            }
            else
            {
                if (Paymentitem_ActionMethod == "_New" || Paymentitem_ActionMethod == "_New_From_Selection")
                {
                    Control_SetReadOnly("GLookUp_PartyList", "dxDropDownBox", false);
                }
            }
        }
    </script>
    @* DD init *@
    <script>
        $(function () {
            $("#Frm_Voucher_Item_Content_popup").dxPopup({
                onHiding: function (e) {
                    var title = $("#Frm_Voucher_Item_Content_popup").dxPopup("instance").option("title");
                    // if (title.includes("Land & Building")) {
                    $.ajax({
                        type: 'GET',
                        url: "/Account/ProfilePaymentVoucher/ProfilePaymentClearSession",
                        cache: false,
                        success: function () {
                            if (!(title.includes("Telephone Detail") || title.includes("Reference type"))) {
                                $("#Frm_Voucher_Item_popup").dxPopup("hide");
                            }
                        }
                    });
                    // }


                    //if ($("#Frm_Asset_Window_ParentDiv").length > 0) { $("#Frm_Asset_Window_ParentDiv").remove(); }
                    //if ($("#Frm_GoldSilver_Window_ParentDiv").length > 0) { $("#Frm_GoldSilver_Window_ParentDiv").remove(); }
                    //if ($("#Payment_PropertySelect_ParentDiv").length > 0) { $("#Payment_PropertySelect_ParentDiv").remove(); }
                    //if ($("#Frm_Live_Stock_Window_ParentDiv").length > 0) { $("#Frm_Live_Stock_Window_ParentDiv").remove(); }
                    //if ($("#Frm_Vehicle_Window_ParentDiv").length > 0) { $("#Frm_Vehicle_Window_ParentDiv").remove(); }
                    //if ($("#Frm_Property_Window_ParentDiv").length > 0) { $("#Frm_Property_Window_ParentDiv").remove(); }
                }
            });
        });
    </script>
</div>