<div class="PaymentAdvance_ClearReference">
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.AdvanceAdjustment

@{
    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
}

<style>
    .control-label {
        text-align: left !important;
    }
    #Frm_Voucher_Win_Gen_Pay_Adv_Content {
        padding-right: 0px !important;
        padding-left: 0px !important;
        padding-bottom:0px !important;
        padding-top:0px !important;
    }
</style>
<div id="Frm_Voucher_Win_Gen_Pay_Adv_Content">
    @using (Ajax.BeginForm("Frm_Voucher_Win_Gen_Pay_Adv_Window", "PaymentVoucher",
                       new AjaxOptions
                       {
                           HttpMethod = "POST",
                           UpdateTargetId = "Frm_Voucher_Win_Gen_Pay_Adv_Content",
                           InsertionMode = InsertionMode.InsertAfter,
                           OnBegin = "AjaxBeginFormPost",
                           OnSuccess = "Frm_Voucher_Win_Gen_Pay_AdvanceAdjustment_Content_OnSuccess"
                       },
                       new
                       {
                           id = "ID_Frm_Voucher_Win_Gen_Pay_Adv_Window",
                           @class = "edit_form"
                       }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.TempActionMethod)
        @Html.HiddenFor(x => x.Sr)
        @Html.HiddenFor(x => x.Payment_Credit_Amt)  
        @Html.HiddenFor(x=>x.Next_Year_Balance)
        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-8 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i>Advance Adjustment</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid pll prm">
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.BE_ItemName, htmlAttributes: new { @class = "control-label disabletxt", @id = "payment_adv_item" })
                        </div>
                        <div class="col-sm-10">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_ItemName").Name("BE_ItemName").Value(Model.BE_ItemName).ReadOnly(true).FocusStateEnabled(false))
                            @Html.ValidationMessageFor(model => model.BE_ItemName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div><!--[Item]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid pll prm">
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.BE_Purpose, htmlAttributes: new { @class = "control-label disabletxt", @id = "payment_adv_purpose" })
                        </div>
                        <div class="col-sm-10">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Purpose").Name("BE_Purpose").Value(Model.BE_Purpose).ReadOnly(true).FocusStateEnabled(false))

                            @Html.ValidationMessageFor(model => model.BE_Purpose, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div><!--[Purpose]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid pll prm">
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.BE_Other_Detail, htmlAttributes: new { @class = "control-label disabletxt", @id = "payment_adv_otherdetail" })
                        </div>
                        <div class="col-sm-10">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Other_Detail").Name("BE_Other_Detail").Value(Model.BE_Other_Detail).ReadOnly(true).FocusStateEnabled(false))

                            @Html.ValidationMessageFor(model => model.BE_Purpose, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div><!--[Other Detail]-->
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid pll prm">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    @Html.LabelFor(model => model.BE_Adv_Amt, htmlAttributes: new { @class = "control-label disabletxt", @id = "payment_adv_item" })
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="mrg-lft-6">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("BE_Adv_Amt").Name("BE_Adv_Amt").Value(Model.BE_Adv_Amt).ReadOnly(true).FocusStateEnabled(false))
                                        @Html.ValidationMessageFor(model => model.BE_Adv_Amt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid prm">
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    @Html.LabelFor(model => model.BE_Adjust_Amt, htmlAttributes: new { @class = "control-label disabletxt", @id = "payment_adv_adjusted" })
                                </div>
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("BE_Adjust_Amt").Name("BE_Adjust_Amt").Value(Model.BE_Adjust_Amt).ReadOnly(true).FocusStateEnabled(false) )
                                    @Html.ValidationMessageFor(model => model.BE_Adjust_Amt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid pll prm">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    @Html.LabelFor(model => model.BE_Refund_Amt, htmlAttributes: new { @class = "control-label disabletxt", @id = "payment_adv_refund" })
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("BE_Refund_Amt").Name("BE_Refund_Amt").Value(Model.BE_Refund_Amt).ReadOnly(true).FocusStateEnabled(false))
                                    @Html.ValidationMessageFor(model => model.BE_Refund_Amt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Row 4]-->
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid pll prm">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    @Html.LabelFor(model => model.BE_Given_Date, htmlAttributes: new { @class = "control-label disabletxt", @id = "payment_adv_date" })
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="mrg-lft-6">
                                        @(Html.DevExtreme().DateBoxFor(x => x.BE_Given_Date).CustomDateBox().ID("BE_Given_Date").Name("BE_Given_Date").ReadOnly(true).Width(200).FocusStateEnabled(false))
                                        @Html.ValidationMessageFor(model => model.BE_Given_Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid prm">
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 ">
                                    @Html.LabelFor(model => model.BE_OS_Amt, htmlAttributes: new { @class = "control-label disabletxt", @id = "payment_adv_out", @Style = "white-space: nowrap;" })
                                </div>
                                <div class="col-sm-7 col-md-7 col-lg-7">

                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("BE_OS_Amt").Name("BE_OS_Amt").Value(Model.BE_OS_Amt).ReadOnly(true).FocusStateEnabled(false))
                                    @Html.ValidationMessageFor(model => model.BE_OS_Amt, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-field">
                        <div class="container-fluid pll prm">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    @Html.LabelFor(model => model.Txt_Amount, htmlAttributes: new { @class = "control-label text-red", @id = "payment_adv_payment" })
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Amount").Name("Txt_Amount").Value(Model.Txt_Amount).ReadOnly(IsVisible).Format("#0.00"))
                                    @Html.ValidationMessageFor(model => model.Txt_Amount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Row 5]-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Advance Ajustment )...", Model.TempActionMethod.Substring(1)))
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().CustomSaveButton().ID("payment_adv_savebtn").Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").UseSubmitBehavior(true).Visible(Model.TempActionMethod == "_View" ? false : true) )
                                @(Html.DevExtreme().Button().CustomCloseButton().ID("payment_adv_closebtn").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").OnClick(@<text> function () { $("#Frm_Voucher_Item_popup").dxPopup("hide"); } </text>) )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->

        }
    }

</div>

<script>
    $(document).ready(function ()
    {
        if ("@Model.TempActionMethod" == "_View")
        {
            payment_advance_disable();
        }    
        $("#Txt_Amount").dxNumberBox("instance").focus();
        $("#Payment_Credit_Amt").val($("#Txt_CreditAmt").dxNumberBox("instance").option("value"));
    });
    function payment_advance_disable()
    {
        var list = document.getElementById("ID_Frm_Voucher_Win_Gen_Pay_Adv_Window").getElementsByTagName("LABEL");
        for (var i = 0; i < list.length; i++) {
            var labelid = "#" + list[i].id;
            $(labelid).addClass("disabletxt").removeClass("text-red");
        }
    }


    function Frm_Voucher_Win_Gen_Pay_AdvanceAdjustment_Content_OnSuccess(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, "Error");
            alertclick.done(function (alertResult) {
                if (alertResult) {
                    if (data.jsonParam.focusid) {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function () {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else
        {
            $.ajax({
                type: 'GET',
                url: "/Account/PaymentVoucher/FillGrid3",
                data: $("#ID_Frm_Voucher_Win_Gen_Pay_Adv_Window").serialize(),
                cache: false,
                success:
                function (data) {
                    if (data.result == true)
                    {
                        $("#Txt_DiffAmt").dxNumberBox("instance").option("value", data.Txt_DiffAmt);
                        $("#Txt_CashAmt").dxNumberBox("instance").option("value", data.Txt_CashAmt);
                        $("#Txt_AdvAmt").dxNumberBox("instance").option("value", data.Txt_AdvAmt);
                        //Frm_Voucher_Win_Gen_Pay_Grid_3.SetFocusedRowIndex(-1);
                        Frm_Voucher_Win_Gen_Pay_Grid_3.PerformCallback();
                        $("#Frm_Voucher_Item_popup").dxPopup("hide");
                    }
                }
            });
        }
    }

    $('#Txt_Amount').keypress(function (e) {
        if (e.key == "[") {

            $(this).val($(this).val() + "(");
            e.preventDefault();
        }
        if (e.key == "]") {

            $(this).val($(this).val() + ")");
            e.preventDefault();
        }
        if (e.key == "'") {

            $(this).val($(this).val() + "`");
            e.preventDefault();
        }
    });

</script>
    </div>