<div class="PaymentBank_ClearReferences">
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.BankPaymentDetail

@{
    /**/

    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
}

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}




<style>
    .control-label {
        text-align: left !important;
    }
</style>
<div id="Frm_Voucher_Win_Gen_Pay_Bank_Content">
    @using (Ajax.BeginForm("Frm_Voucher_Win_Gen_Pay_Bank_Window", "PaymentVoucher",
                                                        new AjaxOptions
                                                        {
                                                            HttpMethod = "POST",
                                                            UpdateTargetId = "Frm_Voucher_Win_Gen_Pay_Bank_Content",
                                                            InsertionMode = InsertionMode.InsertAfter,
                                                            OnBegin = "AjaxBeginFormPost",
                                                            OnSuccess = "Frm_Voucher_Win_Gen_Pay_Bank_Content_OnSuccess"
                                                        },
                                                        new
                                                        {
                                                            id = "ID_Frm_Voucher_Win_Gen_Pay_Bank_Window",
                                                            @class = "edit_form"
                                                        }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.TempActionMethod)
        @Html.HiddenFor(x => x.Edit_Time)
        @Html.HiddenFor(x => x.BANK_NAME)
        @Html.HiddenFor(x => x.MT_BANK_NAME)
        @Html.HiddenFor(x => x.Sr)
        @Html.HiddenFor(x => x.Payment_Credit_Amt)

        using (Html.DevExtreme().ValidationGroup("paymentVoucher_BankDetail"))
        {
            <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-8 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i>Bank Payment Detail</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-field">
                        <div class="container-fluid" data-toggle="tooltip" data-placement="bottom" title="Select Bank Name">
                            @Html.LabelFor(model => model.GLookUp_BankList, htmlAttributes: new { @class = "control-label text-red", @id = "lbl_payment_bank_bank" })<br>
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_BankList").Name("GLookUp_BankList").Value(Model.GLookUp_BankList).ValueExpr("BA_ID").DisplayExpr("BANK_NAME").DataSource(Model.BankListData,"BA_ID").Value(Model.GLookUp_BankList).Placeholder("Select Bank...").ReadOnly(true).OnValueChanged("GLookUp_BankList_EditValueChanged").ContentTemplate(@<text> @Html.Partial("LookUp_GetBankList") </text>))
                            @Html.ValidationMessageFor(model => model.GLookUp_BankList, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div><!--[Bank Name]-->
                <div class="col-sm-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            @Html.LabelFor(model => model.BE_Bank_Branch, htmlAttributes: new { @class = "control-label", @id = "lbl_payment_bank_branch" })<br />
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Bank_Branch").Name("BE_Bank_Branch").Value(Model.BE_Bank_Branch).ReadOnly(true).FocusStateEnabled(false) )
                            @Html.ValidationMessageFor(model => model.BE_Bank_Branch, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div><!--[Branch Name]-->
                <div class="col-sm-3">
                    <div class="form-field">
                        <div class="container-fluid">
                            @Html.LabelFor(model => model.BE_Bank_Acc_No, htmlAttributes: new { @class = "control-label", @id = "lbl_payment_bank_account" })<br />
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Bank_Acc_No").Name("BE_Bank_Acc_No").Value(Model.BE_Bank_Acc_No).ReadOnly(true).FocusStateEnabled(false) )
                            @Html.ValidationMessageFor(model => model.BE_Bank_Acc_No, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div><!--[A/c No.]-->
            </div><!--[Row 1]-->
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-field">
                        <div class="container-fluid">
                            @Html.LabelFor(model => model.Cmd_Mode, htmlAttributes: new { @class = "control-label  text-red", @id = "lbl_payment_bank_mode" })<br />
                            @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmd_Mode").Name("Cmd_Mode").Items(new[] { "CHEQUE", "DD", "CBS", "RTGS", "NEFT", "ECS", "OTHERS" }).ReadOnly(IsVisible).Value(Model.Cmd_Mode).OnValueChanged("Cmd_Mode_SelectedIndexChanged").ShowClearButton(false) )

                            @Html.ValidationMessageFor(model => model.Cmd_Mode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div><!--[Mode]-->
                <div class="col-sm-3">
                    <div class="form-field">
                        <div class="container-fluid">
                            @Html.LabelFor(model => model.Txt_Ref_No, htmlAttributes: new { @class = "control-label text-red", @id = "lbl_Ref_no" })<br />
                            @(Html.DevExtreme().TextBox().CustomTextBox(true,true).ID("Txt_Ref_No").Name("Txt_Ref_No").ReadOnly(IsVisible).Placeholder("Type cheque no..").Value(Model.Txt_Ref_No))
                            @Html.ValidationMessageFor(model => model.Txt_Ref_No, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div><!--[Ref No]-->
                <div class="col-sm-3">
                    <div class="form-field">
                        <div class="container-fluid">
                            @Html.LabelFor(model => model.Txt_Ref_Date, htmlAttributes: new { @class = "control-label text-red", @id = "lbl_Ref_Date" })<br />
                            @(Html.DevExtreme().DateBoxFor(x => x.Txt_Ref_Date).CustomDateBox().ID("Txt_Ref_Date").Name("Txt_Ref_Date").Value(Model.Txt_Ref_Date).ReadOnly(IsVisible).Min("01/01/1936"))

                            @Html.ValidationMessageFor(model => model.Txt_Ref_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div><!--[Date]-->
                <div class="col-sm-3">
                    <div class="form-field">
                        <div class="container-fluid">
                            @Html.LabelFor(model => model.Txt_Ref_CDate, htmlAttributes: new { @class = "control-label", @id = "lbl_payment_bank_cdate" })<br />
                            @(Html.DevExtreme().DateBoxFor(x => x.Txt_Ref_CDate).CustomDateBox().ID("Txt_Ref_CDate").Name("Txt_Ref_CDate").ReadOnly(IsVisible).Value(Model.Txt_Ref_CDate).Min("01/01/1936") )
                            @Html.ValidationMessageFor(model => model.Txt_Ref_CDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div><!--[Clearing Date]-->
            </div><!--[Row 2]-->
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-field">
                        <div class="container-fluid" data-toggle="tooltip" data-placement="bottom" title="Money Transfer (CBS / RTGS / NEFT) Bank">
                            @Html.LabelFor(model => model.GLookUp_RefBankList, htmlAttributes: new { @class = "control-label", @id = "LayoutControlItem2", @Style = "white-space: nowrap;" })<br />
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_RefBankList").Name("GLookUp_RefBankList").ValueExpr("BI_ID").DisplayExpr("BI_BANK_NAME").DataSource(Model.RefBankListData,"BI_ID").Placeholder("Select Bank...").ReadOnly(true).Value(Model.GLookUp_RefBankList).OnValueChanged("GLookUp_RefBankList_EditValueChanged").ContentTemplate(@<text> @Html.Partial("LookUp_GetRefBankList") </text>) )
                            @Html.ValidationMessageFor(model => model.GLookUp_RefBankList, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div><!--[Money transfer Bank]-->
                <div class="col-sm-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            @Html.LabelFor(model => model.Txt_Trf_ANo, htmlAttributes: new { @class = "control-label", @id = "lbl_Trf_ANo" })<br />
                            @(Html.DevExtreme().TextBox().CustomTextBox(true,true).ID("Txt_Trf_ANo").Name("Txt_Trf_ANo").Value(Model.Txt_Trf_ANo).ReadOnly(true).MaxLength(25))

                            @Html.ValidationMessageFor(model => model.Txt_Trf_ANo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div><!--[Ref A/C No]-->
                <div class="col-sm-3">
                    <div class="form-field">
                        <div class="container-fluid">
                            @Html.LabelFor(model => model.Txt_Amount, htmlAttributes: new { @class = "control-label text-red", @id = "lbl_payment_bank_amount" })<br />
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Amount").Name("Txt_Amount").Value(Model.Txt_Amount).Placeholder("Type Amount").ReadOnly(IsVisible).Format("#0.00"))

                            @Html.ValidationMessageFor(model => model.Txt_Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div><!--[Amount-->
            </div><!--[Row 3]-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Bank Payment )...", Model.TempActionMethod.Substring(1)))
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().ID("Payment_Bank_Save").CustomSaveButton().Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").UseSubmitBehavior(false).ValidationGroup("paymentVoucher_BankDetail").Visible(Model.TempActionMethod == "_View" ? false : true).OnClick("paymentVoucher_BankDetail_save") )
                                @(Html.DevExtreme().Button().ID("Payment_Bank_Cancel").CustomCloseButton().Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").OnClick(@<text> function () { $("#Frm_Voucher_Item_popup").dxPopup("hide"); } </text>) )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->
        }
    }

</div>
<script>
    function paymentVoucher_BankDetail_save(e)
    {
        if (ValidateForm(e))
        {
            $("#ID_Frm_Voucher_Win_Gen_Pay_Bank_Window").submit();
        }
    }
    function cmdmode_validations(cmd_mode)
    {      
        $("#Txt_Ref_Date").dxDateBox({}).dxValidator({
            validationRules: [{
                type: "required",
                message: "Date is required"
            }],
            validationGroup: "paymentVoucher_BankDetail"
        });
        $("#Txt_Ref_No").dxTextBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options)
                    {
                        var result = true;
                        if (cmd_mode != "OTHERS")
                        {
                            if (options.value == "" || options.value == null)
                            {
                                result = false;
                            }
                        }
                        return result;
                    },
                    reevaluate:true,
                    message: "Cannot Be Blank..!!"
                },
                {
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (cmd_mode == "CHEQUE" || cmd_mode == "DD")
                        {
                            var reg = /^[0-9]{6,8}$/;
                            if (!(reg.test(options.value)))
                            {
                                result = false
                            }
                        }
                        return result;
                    },
                    reevaluate: true,
                    message: 'Invalid Format(Min 6 Digits Max 8 Digits)'
                }
                ],
                validationGroup: "paymentVoucher_BankDetail"
            });

        $("#GLookUp_RefBankList").dxDropDownBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (cmd_mode == "CBS" || cmd_mode == "RTGS" || cmd_mode == "NEFT")
                        {
                            if (options.value == "" || options.value == null)
                            {
                                result = false;
                            }
                        }
                        return result;
                    },
                    reevaluate: true,
                    message: "Cannot Be Blank!!"
                }
                ],
                validationGroup: "paymentVoucher_BankDetail"
            });

        $("#Txt_Trf_ANo").dxTextBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options)
                    {
                        var result = true;
                        if (cmd_mode == "CBS" || cmd_mode == "RTGS" || cmd_mode == "NEFT")
                        {
                            if (options.value == "" || options.value == null)
                            {
                                result = false;
                            }
                        }
                        return result;
                    },
                    reevaluate: true,
                    message: "Cannot Be Blank!!"
                }],
                validationGroup: "paymentVoucher_BankDetail"
            });
    }
    function Frm_Voucher_Win_Gen_Pay_Bank_Content_OnSuccess(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult) {
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });

        }
        else
        {
            $.ajax({
                type: 'GET',
                url: "/Account/PaymentVoucher/FillGrid2",
                data: $("#ID_Frm_Voucher_Win_Gen_Pay_Bank_Window").serialize(),
                cache: false,
                success:
                    function (data)
                    {
                        if (data.result == true)
                        {
                            $("#Txt_DiffAmt").dxNumberBox("instance").option("value", data.Txt_DiffAmt);
                            $("#Txt_BankAmt").dxNumberBox("instance").option("value", data.Txt_BankAmt);
                            $("#Txt_CashAmt").dxNumberBox("instance").option("value", data.Txt_CashAmt);
                            //Frm_Voucher_Win_Gen_Pay_Grid_2.SetFocusedRowIndex(-1);
                            Frm_Voucher_Win_Gen_Pay_Grid_2.Refresh();
                            $("#Frm_Voucher_Item_popup").dxPopup("hide");
                        }
                    }
            });
        }
    }
</script>
<script>
    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        TransformTextForDB("ID_Frm_Voucher_Win_Gen_Pay_Bank_Window");
        Init_DropDown_Payment_bank();
        await LookUp_GetBankList(true);
        LookUp_GetRefBankList(true);
        Cmd_Mode_SelectedIndexChanged(null, true);
        if ("@Model.TempActionMethod" == "_Edit" || "@Model.TempActionMethod" == "_View" || "@Model.TempActionMethod" == "_Delete")
        {
            await Data_Binding();
        }      
        $("#Payment_Credit_Amt").val($("#Txt_CreditAmt").dxNumberBox("instance").option("value"));
        Set_Form_View_Delete_Mode(null, "ID_Frm_Voucher_Win_Gen_Pay_Bank_Window", "@Model.TempActionMethod");
        Focus_FirstEditable_Field("ID_Frm_Voucher_Win_Gen_Pay_Bank_Window");
        HideLoader_Ready();      
    });
    async function Data_Binding()
    {
        await GLookUp_BankList_EditValueChanged(null, true);
        Control_SetReadOnly("GLookUp_BankList", "dxDropDownBox", false);
        if ("@Model.iMT_BANK_ID".length > 0)
        {
            await GLookUp_RefBankList_EditValueChanged();
        }
        Control_SetReadOnly("GLookUp_BankList", "dxDropDownBox", false);
        if ("@Model.Txt_Trf_ANo".length > 0)
        {
            $("#Txt_Trf_ANo").dxTextBox("instance").option("value", TransformText("@Model.Txt_Trf_ANo"));
        }
    }
</script>@* document.ready *@
<script>
    var lbl_Trf_ANo_Tag;
    async function GLookUp_RefBankList_EditValueChanged(e)
    {
        var refbank;
        if (e)
        {
            refbank = e.value;
            if (e.value == null && e.previousValue != null)
            {
                RefBank_DG_Pay.clearSelection();
                $("#MT_BANK_NAME").val(null);
                return;
            }
        }
        else
        {
            refbank = $("#GLookUp_RefBankList").dxDropDownBox("option", "value");
        }
        await RefBank_DG_Pay.selectRows(refbank);
        if (RefBank_DG_Pay.getSelectedRowsData().length > 0)
        {
            var item = RefBank_DG_Pay.getSelectedRowsData()[0];
            $("#MT_BANK_NAME").val(item["BI_BANK_NAME"]);           
        }
    }
    async function GLookUp_BankList_EditValueChanged(e, FirstCall = false)
    {
        var BankID;
        if (e)
        {
            BankID = e.value;
            if (e.value == null && e.previousValue != null)
            {
                Bank_DG_Pay.clearSelection();
                return;
            }
        }
        else
        {
            BankID = $("#GLookUp_BankList").dxDropDownBox("option", "value");
        }
        await Bank_DG_Pay.selectRows(BankID);
        if (Bank_DG_Pay.getSelectedRowsData().length > 0)
        {
            var item = Bank_DG_Pay.getSelectedRowsData()[0];
            $("#BANK_NAME").val(item["BANK_NAME"]);
            $("#Edit_Time").val(JS_Json_Date_To_ddMMyyyy(item["REC_EDIT_ON"]));
            $("#BE_Bank_Branch").dxTextBox("instance").option("value", item["BANK_BRANCH"]);
            $("#BE_Bank_Acc_No").dxTextBox("instance").option("value", item["BANK_ACC_NO"]);
            lbl_Trf_ANo_Tag = item["BANK_ID"];
            if (FirstCall == false)
            {
                if ($("#Cmd_Mode").dxSelectBox("instance").option("value") == "CBS")
                {
                    if ("@Model.TempActionMethod" == "_New" || "@Model.TempActionMethod" == "_New_From_Selection")
                    {
                        $("#GLookUp_RefBankList").dxDropDownBox("option", "value", item["BANK_ID"]);                        
                        $("#GLookUp_BankList").dxDropDownBox("instance").focus();
                    }
                }
            }
        }
    }
    function Cmd_Mode_SelectedIndexChanged(e, FirstCall = false)
    {
        if (e) {
            if (e.value == null) {
                return;
            }
        }
        var mode = $("#Cmd_Mode").dxSelectBox('instance').option('value');      
        $("#Txt_Ref_No").dxTextBox("option", "maxLength", 25);
        $("#Txt_Ref_No").find("input").removeClass("OnlyDigit");
        if (mode.toUpperCase() == "CHEQUE")
        {
            $("#lbl_Ref_no").text("Cheque No.:");
            $("#Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type Cheque No...");
            $("#lbl_Ref_Date").text("Cheque Date:");
            $("#Txt_Ref_No").dxTextBox("option", "maxLength", 8);
            $("#Txt_Ref_No").find("input").addClass("OnlyDigit");
        }
        if (mode.toUpperCase() == "DD") {
            $("#lbl_Ref_no").text("D.D. No.:");
            $("#Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type D.D. No...");
            $("#lbl_Ref_Date").text("D.D. Date:");
            $("#Txt_Ref_No").dxTextBox("option", "maxLength", 8);
            $("#Txt_Ref_No").find("input").addClass("OnlyDigit");
        }
        if (mode.toUpperCase() == "CBS" || mode.toUpperCase() == "RTGS" || mode.toUpperCase() == "NEFT" || mode.toUpperCase() == "ECS" || mode.toUpperCase() == "OTHERS")
        {
            $("#lbl_Ref_no").text("Ref. No.:");
            $("#Txt_Ref_No").dxTextBox("instance").option("placeholder", "Type Ref. No...");
            $("#lbl_Ref_Date").text("Date:");
        }
        if (mode.toUpperCase() == "CBS" || mode.toUpperCase() == "RTGS" || mode.toUpperCase() == "NEFT") {
            Control_SetReadOnly("GLookUp_RefBankList", "dxDropDownBox", false);
            Control_SetReadOnly("Txt_Trf_ANo", "dxTextBox", false);
            if (FirstCall === false) {
                $("#GLookUp_RefBankList").dxDropDownBox("instance").reset();
                $("#Txt_Trf_ANo").dxTextBox("instance").reset();
            }
            $("#LayoutControlItem2").addClass("text-red").removeClass("disabletxt");
            $("#lbl_Trf_ANo").addClass("text-red").removeClass("disabletxt");
        }
        else
        {
            Control_SetReadOnly("GLookUp_RefBankList", "dxDropDownBox", true);
            Control_SetReadOnly("Txt_Trf_ANo", "dxTextBox", true);
            if (FirstCall === false) {
                $("#GLookUp_RefBankList").dxDropDownBox("instance").reset();
                $("#Txt_Trf_ANo").dxTextBox("instance").reset();
            }
            $("#LayoutControlItem2").removeClass("text-red").addClass("disabletxt");
            $("#lbl_Trf_ANo").removeClass("text-red").addClass("disabletxt");
        }
        if (mode.toUpperCase() == "CBS" && ("@Model.TempActionMethod" == "_New" || "@Model.TempActionMethod" == "_New_From_Selection"))
        {
            RefBank_DG_Pay.selectRows(lbl_Trf_ANo_Tag, false);
            $("#GLookUp_BankList").dxDropDownBox("instance").focus();
        }
        if (mode.toUpperCase() == "OTHERS")
        {
            Control_SetReadOnly("Txt_Ref_No", "dxTextBox", true);
            if (FirstCall === false) {
                $("#Txt_Ref_No").dxTextBox("instance").reset();
            }
            $("#lbl_Ref_no").removeClass("text-red").addClass("disabletxt");
        }
        else
        {
            Control_SetReadOnly("Txt_Ref_No", "dxTextBox", false);
            if (FirstCall === false) {
                $("#Txt_Ref_No").dxTextBox("instance").reset();
            }
            $("#lbl_Ref_no").addClass("text-red").removeClass("disabletxt");
        }
        cmdmode_validations(mode.toUpperCase());
    }

</script>@* Value Change *@
<script>
    var Bank_DG_Pay;
    var RefBank_DG_Pay;
    var Cnt_BankAccount;
    function Init_DropDown_Payment_bank()
    {
        var $Bank_DG_Pay = $("#Frm_Voucher_Win_Gen_Pay_Bank_GLookUp_BankList_datagrid");
        if ($Bank_DG_Pay.length)
        {
            Bank_DG_Pay = $Bank_DG_Pay.dxDataGrid("instance");
        }
        var $RefBank_DG_Pay = $("#Frm_Voucher_Win_Gen_Pay_Bank_GLookUp_RefBankList_datagrid");
        if ($RefBank_DG_Pay.length)
        {
            RefBank_DG_Pay = $RefBank_DG_Pay.dxDataGrid("instance");
        }
    }
    async function LookUp_GetBankList(FirstCall = false)
    {
        var DG_items = GetDataSourceItems("GLookUp_BankList", "dxDropDownBox");
        Cnt_BankAccount = DG_items.length;     
        if (Cnt_BankAccount < 1)
        {
            Control_SetReadOnly("Cmd_Mode", "dxSelectBox", true);
        }
        if (Cnt_BankAccount == 1)
        {
            $("#GLookUp_BankList").find("input").css('color', "#696969");
            $("#BE_Bank_Branch").find("input").css('color', "#696969");
            $("#BE_Bank_Acc_No").find("input").css('color', "#696969");
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                if (FirstCall === true) {
                    await GLookUp_BankList_EditValueChanged(null, FirstCall);
                }
                Control_SetReadOnly("GLookUp_BankList", "dxDropDownBox", true);
            }
        }
        else if (Cnt_BankAccount > 1)
        {
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                Control_SetReadOnly("GLookUp_BankList", "dxDropDownBox", false);
            }
        }              
    }
    function LookUp_GetRefBankList(FirstCall = false)
    {
        if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
        {
            Control_SetReadOnly("GLookUp_RefBankList", "dxDropDownBox", false);                          
        }                  
    }
</script>@* DD init *@
    </div>