@using DevExtreme.AspNet.Mvc;
<div>
    @(Html.DevExtreme().Button()
                                .ID("SuppMas_ExportGridDatapdf")
                                .Text("Export to PDF")
                                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                                //.AccessKey("x")
                                .OnClick("ExportPDF")
                                .Visible(true)
                                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                                .ID("SuppMas_ExportGridDataxls")
                                .Text("Export to XLS")
                                //.Icon("fa-file-excel-o")
                                //.AccessKey("X")
                                .OnClick("ExportXLS")
                                .Visible(true)
                                .Width(120)
    )<br />
    @(Html.DevExtreme().Button()
                                .ID("SuppMas_ExportGridDataxlsx")
                                .Text("Export to XLSX")
                                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                                //.AccessKey("L")
                                .OnClick("ExportXLSX")
                                .Visible(true)
                                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                                .ID("SuppMas_ExportGridDatadocx")
                                .Text("Export to DOCX")
                                //.Icon("export_exporttodocx_16x16office2013")
                                //.AccessKey("D")
                                .OnClick("ExportDOCX")
                                .Visible(true)
                                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                                .ID("SuppMas_ExportGridDatartf")
                                .Text("Export to RTF")
                                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                                //.AccessKey("R")
                                .OnClick("ExportRTF")
                                .Visible(true)
                                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                                .ID("SuppMas_ExportGridDatacsv")
                                .Text("Export to CSV")
                                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                                //.AccessKey("C")
                                .OnClick("ExportCSV")
                                .Visible(true)
                                .Width(120)
    )
</div>
<script>
    function ExportPDF() {
        SupplierMasterListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        $("#SupplierMaster_report_modal").dxPopup("hide");
    }
    function ExportXLS() {
        SupplierMasterListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
        $("#SupplierMaster_report_modal").dxPopup("hide");
    }
    function ExportXLSX() {
        SupplierMasterListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        $("#SupplierMaster_report_modal").dxPopup("hide");
    }
    function ExportCSV() {
        SupplierMasterListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
        $("#SupplierMaster_report_modal").dxPopup("hide");
    }
    function ExportDOCX() {
        SupplierMasterListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
        $("#SupplierMaster_report_modal").dxPopup("hide");
    }
    function ExportRTF() {
        SupplierMasterListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        $("#SupplierMaster_report_modal").dxPopup("hide");
    }
</script>


