@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.SupplierBankAccountDetails
@{
    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<style>
    .pll2 {
        padding-left: 2px !important;
    }

    .margR4 {
        margin-right: 4px;
    }

    #SupplierBankDetails_Cancled {
        float: right;
    }

    #Frm_Supplier_BankAccountWindow_Content {
        padding: 0 !important;
    }
</style>
@*<form action="" class="edit_form">*@
<div id="Frm_Supplier_BankAccountWindow_Content" class="col-md-12">
    @using (Ajax.BeginForm("Frm_Supplier_BankAccountWindow", "SupplierMaster",
                       new AjaxOptions
                       {
                           HttpMethod = "POST",
                           UpdateTargetId = "Frm_Supplier_BankAccountWindow_Content",
                           InsertionMode = InsertionMode.InsertAfter,
                           OnBegin = "AjaxBeginFormPost",
                           OnSuccess = "Frm_SupplierBank_OnSuccess"
                       },
                       new
                       {
                           id = "ID_BankDetails_Window",
                           @class = "edit_form"
                       }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.Sr_No)
        @Html.HiddenFor(y => y.ID)
        @Html.HiddenFor(y => y.SM_BankName)
        @*@Html.HiddenFor(y => y.Production_Item_Name)
            @Html.HiddenFor(y => y.Production_Head)
            @Html.HiddenFor(y => y.Production_Make)
            @Html.HiddenFor(y => y.Production_Model)
            @Html.HiddenFor(y => y.Production_Code)
            @Html.HiddenFor(y => y.Production_Unit)
            @Html.HiddenFor(y => y.Production_Type)
            @Html.HiddenFor(y => y.avl_qty)*@


        using (Html.DevExtreme().ValidationGroup())
        {
            <!-- <div class="full-width-header-bg">
                 <div class="row">

                     <div class="col-sm-8">
                         <h3 class="popuphead"><i class="far fa-edit"></i>  Bank Account Details</h3>
                     </div>
                     <div class="col-sm-4 prm">
                         <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                     </div>
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                 </div>
             </div> []-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-2 pll">
                            @*<label class="control-label text-red" for="user">Bank  Name:</label>*@
                            @Html.LabelFor(model => model.Supplier_Bank_Name_ID, htmlAttributes: new { @class = "control-label text-red" })@*Mantis bug 0000986 fixed*@
                        </div>
                        <div class="col-sm-6 prm pll1">
                            <div class="dx-texteditor  dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    @*<select name="" class="dx-texteditor-input appear">
                                            <option value="0">Select Bank Name</option>
                                        </select>*@
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Supplier_Bank_Name_ID")
                                                                                                .Name("Supplier_Bank_Name_ID")
                                                                                                //  .AcceptCustomValue(true)
                                                                                                .Value(Model.Supplier_Bank_Name_ID)
                                                                                                .ValueExpr("ID")
                                                                                                .DisplayExpr("Bank")
                                                                                                .DataSource(d => d.Mvc().Controller("SupplierMaster").LoadAction("LookUp_GetBankList").Key("ID"))
                                                                                                .Placeholder("Select Bank Name")

                                                                                                .ReadOnly(IsVisible)
                                                                                                .Disabled(IsVisible)
                                                                                                .OnInitialized("OnInitialized_OnBankNameChanged")
                                                                                                .OnValueChanged("On_BankNameList_Changed")
                                                                                                //.OnOptionChanged("On_BankNameList_optionChanged")

                                                                                                .ContentTemplate(@<text>
                                                                                                    @Html.Partial("LookUp_GetBankList")
                                                                                                </text>))@*Mantis bug 0000986 fixed*@

                                                                                                @Html.ValidationMessageFor(model => model.Supplier_Bank_Name_ID, "", new { @class = "text-danger" })@*Mantis bug 0000986 fixed*@


                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-sm-4 prm pll1">

                                                                                        @*<span class="dx-button-text">Request A Bank</span>*@
                                                                                        @(Html.DevExtreme().Button()
                                                                                                                                                                                      .ID("Supplier_RequestBank")
                                                                                                                                                                                      .Text("Request A Bank")
                                                                                                                                                                                      .Disabled(IsVisible)
                                                                                                                                                                                      .OnClick(@<text>
                                                                                                                                                                                        function () {
                                                                                                                                                                                        Supplier_RequestBank_Click()
                                                                                                                                                                                        }
                                                                                                                                                                                    </text>)
                                                                                        )

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div><!--[Row]-->
                                                                        <div class="row">
                                                                            <div class="form-field">
                                                                                <div class="container-fluid">
                                                                                    <div class="col-sm-2 pll">
                                                                                        @*<label class="control-label text-red" for="user">Branch Name:</label>*@
                                                                                        @Html.LabelFor(model => model.Supplier_Branch_Name, htmlAttributes: new { @class = "control-label text-red" })

                                                                                    </div>
                                                                                    <div class="col-sm-10 prm pll1">
                                                                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                                                            <div class="dx-texteditor-container">
                                                                                                @*<select name="" class="dx-texteditor-input appear">
                                                                                                        <option value="0">Select Branch Name</option>
                                                                                                    </select>*@
                                                                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_Branch_Name").Name("Supplier_Branch_Name").Value(Model.Supplier_Branch_Name).Placeholder("Enter Branch Name").MaxLength(255).Disabled(IsVisible))
                                                                                                @Html.ValidationMessageFor(model => model.Supplier_Branch_Name, "", new { @class = "text-danger" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div><!--[Row]-->
                                                                        <div class="row">
                                                                            <div class="form-field">
                                                                                <div class="container-fluid AccountH">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-2 pll">
                                                                                            @*<label class="control-label text-red" for="iten">Account Number:</label>*@
                                                                                            @Html.LabelFor(model => model.Supplier_Account_No, htmlAttributes: new { @class = "control-label text-red" })

                                                                                        </div>
                                                                                        <div class="col-sm-10 prm pll2">
                                                                                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                                                                <div class="dx-texteditor-container">
                                                                                                    @*<input class="dx-texteditor-input" type="text" Placeholder="Enter Account Number">*@
                                                                                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_Account_No").Name("Supplier_Account_No").Value(Model.Supplier_Account_No).Placeholder("Enter Account Number").MaxLength(255).Disabled(IsVisible))
                                                                                                    @Html.ValidationMessageFor(model => model.Supplier_Account_No, "", new { @class = "text-danger" })
                                                                                                </div>
                                                                                            </div>
                                                                                        </div><!--[Priority]-->
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="form-field">
                                                                                <div class="container-fluid AccountH">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-2 pll">
                                                                                            @*<label class="control-label" for="iten">IFSC Code:</label>*@
                                                                                            @Html.LabelFor(model => model.Supplier_IFSC_Code, htmlAttributes: new { @class = "control-label" })

                                                                                        </div>
                                                                                        <div class="col-sm-10 prm">
                                                                                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                                                                <div class="dx-texteditor-container">
                                                                                                    @*<input class="dx-texteditor-input" type="text" Placeholder="Enter IFSC  Code">*@
                                                                                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_IFSC_Code").Name("Supplier_IFSC_Code").Value(Model.Supplier_IFSC_Code).Placeholder("Enter IFSC Code").MaxLength(11).Disabled(IsVisible))

                                                                                                </div>
                                                                                            </div>
                                                                                        </div><!--[Required Delivery Date]-->
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div><!--[Row]-->

                                                                        <div class="row">
                                                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                                                <div class="styleActionBtn">
                                                                                    @(Html.DevExtreme().Button().CustomSaveButton().ID("SupplierBankDetails_Save").Text(Model.ActionMethod == "Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(true).Visible(Model.ActionMethod == "View" ? false : true))
                                                                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("SupplierBankDetails_Cancled").Text(Model.ActionMethod == "View" ? "Close" : "Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Frm_SupplierBank_Popup").dxPopup("hide"); } </text>))
                                                                                </div>
                                                                            </div>
                                                                        </div><!--[Buttons]-->


                      
                                                                    }
                                                                }
</div>

<script>
    var form = "ID_BankDetails_Window";
    $(document).ready(function ()
    {
        ShowLoader();
        AssignIDtoLabel(form, "SupplierBank");

        setTimeout(function ()
        {
            if ("@Model.ActionMethod" == "View")
            {
                Set_Form_View_Delete_Mode("#000080", form);
            }
            else if ("@Model.ActionMethod" == "Delete")
            {
                Set_Form_View_Delete_Mode("#696969", form);
            }
            else
            {
                Focus_FirstEditable_Field(form);
            }
            HideLoader();
        }, Timeout500);
    });
            function OnInitialized_OnBankNameChanged(e) {        
        if ("@Model.ActionMethod" != "New") {
            $("#Supplier_Bank_Name_ID").dxDropDownBox("instance").option("value", "@Model.Supplier_Bank_Name_ID");//Mantis bug 0000986 fixed
        }              
    }
    function On_BankNameList_Changed(e) {        
        var drop_Down = $("#Supplier_Bank_Name_ID").dxDropDownBox("instance");//Mantis bug 0000986 fixed
       if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
        }
        var $dataGrid = $("#GetBankListDG");
    if ($dataGrid.length) {
       
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(drop_Down.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                bankid = item.ID;
                bankname = item.Bank;
                $("#SM_BankName").val(bankname);
                //alert("SM_BankName:- "+$("#SM_BankName").val());
            }
        }
    }
    //function On_BankNameList_optionChanged(e) {

    //    var drop_Down = $("#Supplier_Bank_Name_ID").dxDropDownBox("instance");
    //    var $dataGrid = $("#GetBankListDG");
    //    if ($dataGrid.length) {
    //        var dataGrid = $dataGrid.dxDataGrid("instance");
    //        dataGrid.selectRows(drop_Down.option("value"), false);
    //    }
    //}

    function Supplier_RequestBank_Click()
    {
        DevExpress.ui.dialog.alert("Coming Soon..!", "Inform..");
    
    }

</script>
