@using DevExtreme.AspNet.Mvc;
@model IEnumerable<dynamic>
@{    
    bool Supplier_Add_Rights = (bool)ViewData["Supplier_AddRight"];
    bool Supplier_Update_Rights = (bool)ViewData["Supplier_UpdateRight"];
    bool Supplier_View_Rights = (bool)ViewData["Supplier_ViewRight"];
    bool Supplier_Delete_Rights = (bool)ViewData["Supplier_DeleteRight"];
    bool Supplier_Export_Rights = (bool)ViewData["Supplier_ExportRight"];
    bool Supplier_Report_Rights = (bool)ViewData["Supplier_ReportRight"];
    bool Supplier_MappingRight = (bool)ViewData["Supplier_MappingRight"];
 }

<style>


    .dx-toolbar-after .dx-button-content {
        padding-right: 0px !important;
    }

    .padd {
        padding-left: 10px !important;
    }

    .padd85 {
        padding-left: 85px !important;
    }

    /*gp */ 
    /*.dx-icon {
        line-height: 14px !important;
         font-size: 18px !important;
    } */


</style>

<div id="content" class="col-md-12 report_header_div_main">
    <div class="col-md-4 report_header_div">
        <label class="report_header_label">Supplier Master</label>
    </div>
    <div class="report_button_div">

        @(Html.DevExtreme().Button()
                                                                                                                                .ID("SupplierMasterNew")
                                                                                                                                .Text("New")
                                                                                                                                .Icon("add")
                                                                                                                                .Visible(true)
                                                                                                                                .Disabled(false)
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function () {
                                                                                                                                    SupplierMaster_NewClick();
                                                                                                                                    }
                                                                                                                                </text>)
        )
        @(Html.DevExtreme().Button()
                                                                                                                                .ID("SupplierMasterEdit")
                                                                                                                                .Text("Edit")
                                                                                                                                .Icon("edit")
                                                                                                                                .Visible(true)
                                                                                                                                .Disabled(false)
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function () {
                                                                                                                                    SupplierMaster_EditClick();
                                                                                                                                    }
                                                                                                                                </text>)
        )
        @(Html.DevExtreme().Button()
                                                                                                                                .ID("SupplierMasterDelete")
                                                                                                                                .Text("Delete")
                                                                                                                                .Icon("trash")
                                                                                                                                .Visible(true)
                                                                                                                                .Disabled(false)
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function () {
                                                                                                                                    SupplierMaster_DeleteClick();
                                                                                                                                    }
                                                                                                                                </text>)
        )

        @(Html.DevExtreme().Button()
                                                                                                                                .ID("SupplierMasterView")
                                                                                                                                .Text("View")
                                                                                                                                .Icon(IconID.ViewCustomers16x16devav)
                                                                                                                                .Icon("doc")
                                                                                                                                .Visible(true)
                                                                                                                                .Disabled(false)
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function () {
                                                                                                                                    SupplierMaster_ViewClick();
                                                                                                                                    }
                                                                                                                                </text>)
        )
        @(Html.DevExtreme().Button()
                                                                                                                                .ID("SupplierMasterListPreview")
                                                                                                                                .Text("List Export")
                                                                                                                                .Icon("save")
                                                                                                                                //.Width(75)
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function () {
                                                                                                                                    SupplierMaster_ListPreviewClick();
                                                                                                                                    }
                                                                                                                                </text>)
        )
        @(Html.DevExtreme().Button()
                                                                                                                                .ID("SupplierMasterToggleScrollBar")
                                                                                                                                .Text("Full Data")
                                                                                                                                //.Width(90)
                                                                                                                                .Icon("toolbox")
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function () {
                                                                                                                                    SupplierMaster_changeMode();
                                                                                                                                    }
                                                                                                                                </text>)
        )
        @(Html.DevExtreme().Button().ID("btnSupplierExpandAll")
                                                                                                                                .ElementAttr("style", "padding-right:0px;margin-right:5px;")
                                                                                                                                .Icon("preferences")
                                                                                                                                .Text("Expand All")
                                                                                                                                .OnClick("SupplierMasterExpandAll")
        )
        @(Html.DevExtreme().Button()
                                                                                                                                .ID("SupplierMasterCLOSE")
                                                                                                                                .Text("Close")
                                                                                                                                .Icon("clear")
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function (){$(".TabPanalMenu-tabs .active span").click()}
                                                                                                                                </text>)

        )
    </div>
</div>
<div class="col-md-12 no-padding">
    <form>
        <div id="SupplierMasterreloadPartialView" class="parent_table">
            @Html.Partial("Frm_SupplierMaster_Info_Grid", Model)
        </div>
    </form>
</div><!--[Grid]-->
<div class="footer-MainBoxdiv full-width-footer">
    <div class="list_footer_left_margin col-md-10">
        <div class="list_footer_left_margin">
            <p id="SupplierMasterLbl_Create" style="margin:0px" class="left_footertext_top"></p>
            <p id="SupplierMasterLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
        </div>
    </div>
</div><!--[Footer]-->
<div class="col-md-12">

    @(Html.DevExtreme().Popup().CustomPopup().ID("SupplierMaster_report_modal").Title("Supplier Master").FullScreen(false).MaxWidth(250).Height("auto").ShowCloseButton(true).ContentTemplate(@<text><div id="id_SupplierMaster_Result" class="export_popup"></div></text>))
    @(Html.DevExtreme().Popup().CustomPopup().ID("Supplier_Choose_New").Title("Select..").FullScreen(false).MaxWidth(200).Height("auto").ShowCloseButton(true).ContentTemplate(@<text> <div id="SupplierMaster_Choose_New"> </div> </text>))
    @(Html.DevExtreme().Popup().CustomPopup().ID("SupplierMaster_info_modal").ShowTitle(true).Title("Supplier Master").FullScreen(true).MaxWidth(500).Height(850).ShowCloseButton(false).ContentTemplate(@<text><div id="id_SupplierMaster_info_Result"></div></text>))
  


</div><!--[Popup]-->

<script>
    var SupplierMaster_ShowHorizontalBar = 0;
    var SupplierID;
    var Supplier_Bank_ID;
    var Supplier;
    var Company_Code;
    var Registered_No;
    var Contact_Person;
    var PAN_No;
    var Supplier_Address;
    var Country;
    var Suppl_State;
    var City;
    var Email;
    var Other_Details;
    var Supplier_AddedBy;
    var Supplier_AddedOn;
    var Supplier_EditedBy;
    var Supplier_EditedOn;
    var Supplier_GridType;
    var SupplierIsAllDetailExpanded = false;
    var SupplierNewright;
    var SupplierEditright;
    var SupplierDeleteright;
    var SupplierViewright;
    var SupplierExportright;
    var isSupplierGridRefresh = false;
    

    $(document).ready(function ()
    {
        SupplierNewright = "@Supplier_Add_Rights" == "True" ? true : false;
        SupplierEditright = "@Supplier_Update_Rights" == "True" ? true : false;
        SupplierDeleteright = "@Supplier_Delete_Rights" == "True" ? true : false;
        SupplierViewright = "@Supplier_View_Rights" == "True" ? true : false;
        SupplierExportright = "@Supplier_Export_Rights" == "True" ? true : false;

        if (SupplierNewright != true) { $("#SupplierMasterNew").hide(); }

        if (SupplierEditright != true) { $("#SupplierMasterEdit").hide(); }

        if (SupplierViewright != true) { $("#SupplierMasterView").hide(); }

        if (SupplierDeleteright != true) { $("#SupplierMasterDelete").hide(); }

        if (SupplierExportright != true) { $("#SupplierMasterListPreview").hide(); }        
    });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Stock/SupplierMaster/SMSessionclear",
            cache: false
        });
        DeleteCookie("SMCookie");
        $.ajax({
            type: 'GET',
            url: "/Stock/SupplierMaster/InfoSessionclear",
            cache: false
        });
    });
    function SupplierMasterAdjustSize()
    {
        var height = (document.documentElement.clientHeight * 90) / 100;
        SupplierMasterListGrid.SetHeight(height);
    }
    function SupplierMasterOnInit(s, e)
    {
        SupplierMasterAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            SupplierMasterAdjustSize();
        });
        s.SetFocusedRowIndex(-1);
    }
    function SupplierMasterGrid_BeginCallBack(s, e)
    {
        e.customArgs["command"] = e.command;
        if (e.command == "REFRESH") {
            isSupplierGridRefresh = true;
        }
        e.customArgs["ShowHorizontalBar"] = SupplierMaster_ShowHorizontalBar;

    }
    function BankDetailGrid_BeginCallBack(s, e)
    {
        e.customArgs["Command"] = e.command;
    }
    function OnBankDetailInit(s, e)
    {
        s.SetFocusedRowIndex(-1);
    }
    function SupplierMasterGrid_EndCallback(s, e)
    {
        SupplierMasterAdjustSize();
        SendCustomArgs_FilterControl(s, e);
    }
    function OnSupplierMasterGridFocusedRowChanged(s, e)
    {
        if (s.GetFocusedRowIndex() == -1)
        {
            SupplierID = 0;
        }
        else
        {
            Supplier_GridType = "Supplier";
            SupplierID = s.GetRowKey(s.GetFocusedRowIndex());
            s.GetValuesOnCustomCallback({ key: SupplierID}, SupplierMasterOnGetRowValues);
            s.CollapseAllDetailRows();
        }
    }
    function SupplierMasterOnGetRowValues(Data)
    {
       
        var values = Data.split("![");
        Supplier = values[0];
        Company_Code = values[1];
        Registered_No = values[2];
        Contact_Person = values[3];
        PAN_No = values[4];
        Supplier_Address = values[5];
        Country = values[6];
        Suppl_State = values[7];
        City = values[8];
        Email = values[9];
        Other_Details = values[10];
        Supplier_AddedBy = values[11];
        Supplier_AddedOn = values[12];
        Supplier_EditedBy = values[13];
        Supplier_EditedOn = values[14];
        SupplierID = values[15];

        SupplierMasterUpdateFooterDetail(Supplier_AddedBy, Supplier_AddedOn, Supplier_EditedBy, Supplier_EditedOn);
    }
    function SupplierMasterUpdateFooterDetail(AddedBy, AddedOn, EditedBy, EditedOn)
    {
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Add_Date = "";
        var Add_By = "";
        var Edit_Date = "";
        var Edit_By = "";

        Add_Date = AddedOn;
        Add_By = AddedBy;

        if (Add_Date)
        {
            Lbl_Create = "Add On: " + Add_Date + ", By: " + Add_By;
        }
        else
        {
            Lbl_Create = "Add On: " + "?, By: " + Add_By;
        }
        Edit_Date = EditedOn;
        Edit_By = EditedBy;

        if (Edit_Date)
        {
            Lbl_Modify = "Edit On: " + Edit_Date + ", By: " + Edit_By;
        }
        else
        {
            Lbl_Modify = "Edit On: " + "?, By: " + Edit_By;
        }
        $('#SupplierMasterLbl_Create').text(Lbl_Create);
        $('#SupplierMasterLbl_Modify').text(Lbl_Modify);

    }
    function OnBankDetailFocusedRowChange(s, e)
    {
        SupplierMasterListGrid.SetFocusedRowIndex(-1);
        Supplier_GridType = "Bank";
        Supplier_Bank_ID = s.GetRowKey(s.GetFocusedRowIndex());
        s.GetValuesOnCustomCallback({ key: Supplier_Bank_ID}, BankDetailsGetData);
    }
    function BankDetailsGetData(Data)
    {
        var value = Data.split("![");
        Bank = value[0];
        Branch = value[1];
        Account_No = value[2];
        IFSC = value[3];
        SupplierID = value[4];
        Supplier_AddedBy = value[5];
        Supplier_AddedOn = value[6];
        Supplier_EditedBy = value[7];
        Supplier_EditedOn = value[8];
        SupplierMasterUpdateFooterDetail(Supplier_AddedBy, Supplier_AddedOn, Supplier_EditedBy, Supplier_EditedOn);
    }
    function CollapseSupplierRow(s, e)
    {
        s.SetFocusedRowIndex(index);
    }
    function ExpandSupplierRow(s, e)
    {
        index = e.visibleIndex;
        s.SetFocusedRowIndex(-1);
    }
    function SupplierMasterExpandAll(e)
    {
        if (!SupplierIsAllDetailExpanded)
        {
            SupplierMasterListGrid.ExpandAllDetailRows();
            SupplierIsAllDetailExpanded = true;
            $("#btnSupplierExpandAll").find("span").text("Collapse All");
        }
        else
        {
            SupplierMasterListGrid.CollapseAllDetailRows();
            SupplierIsAllDetailExpanded = false;
            $("#btnSupplierExpandAll").find("span").text("Expand All");
        }
    }
    function SupplierMaster_changeMode()
    {
        ShowLoader();
        if (SupplierMaster_ShowHorizontalBar == 0)
        {
            SupplierMaster_ShowHorizontalBar = 1;
            $("#SupplierMasterToggleScrollBar").find("span").text("Default Data");
        }
        else
        {
            SupplierMaster_ShowHorizontalBar = 0;
            $("#SupplierMasterToggleScrollBar").find("span").text("Full Data");
        }
        $.ajax({
            url: '@Url.Action("Frm_SupplierMaster_Info_Grid", "SupplierMaster")',
            type: "GET",
            async: false,
            data: {
                ShowHorizontalBar: SupplierMaster_ShowHorizontalBar
            },
            success: function (res)
            {
                $("#SupplierMasterreloadPartialView").html(res);
            }
        });
        HideLoader();
    }// full data click

</script>
<script>

        function SupplierMaster_NEW(e)
            {
                if (SupplierNewright == true)
           {
                $("#Supplier_Choose_New").dxPopup("show");
              $("#Supplier_Choose_New").dxPopup("instance").option("title", "Select..");
              $("#Supplier_Choose_New").html('');
               ShowLoader();
                $("#SupplierMaster_Choose_New").load("@Url.Action("Frm_Choose_New", "SupplierMaster", new { @area = "stock" })", function () {
               HideLoader();
                    });
            }
            else {
            DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights");
                  }
 }// Choose New
    function SupplierMaster_NEVD(actionmethod)
        {
            if (actionmethod == "Edit")
            {
                if (Supplier_GridType == "Supplier")
                {
                    SupplierMaster_EditClick();
                }
                else
                {
                    NEVD_PersonnelCharges("Edit");
                }
            }
            if (actionmethod == "View")
            {
                if (Supplier_GridType == "Supplier")
                {
                    SupplierMaster_ViewClick();
                }
                else
                {
                    NEVD_PersonnelCharges("View");
                }
            }
            if (actionmethod == "Delete")
            {
                if (Supplier_GridType == "Supplier")
                {
                    SupplierMaster_DeleteClick();
                }
                else
                {
                    NEVD_PersonnelCharges("Delete");
                }
            }
        }
    function SupplierMasterContextMenuFunction(s, e)
    {        
        if (e.item.name == 'New') {

            SupplierMaster_NewClick();
        }
        if (e.item.name == 'Close') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'Edit') {
            SupplierMaster_EditClick();
        }
        else if (e.item.name == 'ChangeLocation') {
            SupplierMaster_changeMode();
        }
        else if (e.item.name == 'Delete') {
            SupplierMaster_DeleteClick();
        }
        else if (e.item.name == 'View') {
            SupplierMaster_ViewClick();
        }
        else if (e.item.name == 'ListPreview') {
            SupplierMaster_ListPreviewClick();
        }
        else if (e.item.name == 'AddNewBank') {
            SupplierMaster_AddNewBank();
        }
        else if (e.item.name == 'Refresh') {
            SupplierMasterListGrid.Refresh();
        }
        else if (e.item.name == 'AddItemSupplierMapping') {
            SupplierMaster_AddItemSupplierMapping();
        }
        else if (e.item.name == 'AddSupplierItemMapping') {
            SupplierMaster_AddSupplierItemMapping();
        }
        else if (e.item.name == 'ShowSupplierItemMapping') {
            SupplierMaster_ShowItemSupplierMapping();
        }

        else if (e.item.name == 'ViewPurchaseHistory') {
            SupplierMaster_ViewPurchaseHistory();
        }
        else if (e.item.name == 'ViewSupplierRating') {
            SupplierMaster_ViewSupplierRating();
        }
        else if (e.item.name == 'ViewOrderHistory') {
            SupplierMaster_ViewOrderHistory();
        }
    }
    function SupplierMasterdblclickEdit(s, e)
    {
        if (SupplierID)
        {
            SupplierMaster_EditClick();
        }
    }
    function SupplierMaster_NewClick()
    {      
        if (!SupplierNewright) { DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights"); return; }
        SupplierID = 0;      
        ShowLoader(); 
        $.ajax({
            type: 'GET',
            url: "/Stock/SupplierMaster/Frm_SupplierMaster_Window",
            data: {
                ActionMethod: "New",
                ID: SupplierID
            },
            cache: false,
            success: function (data)
            {
                ShowLoader();
                OpenDynamicPopup("New ~ Supplier Master", null, "auto", 1150, true, data);
                HideLoader();
            }
        });
        HideLoader();
    }
    function SupplierMaster_EditClick()
    {        
        if (!SupplierEditright) { DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights"); return; }
        if (SupplierID == 'undefined' || SupplierID == undefined || SupplierID == "" || SupplierID == 0) {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert ');
            return;
        }//Mantis bug 0000993 fixed        
          $.ajax({
              type: 'GET',
              url: "/Stock/SupplierMaster/DataNavigation",
              async: false,
              data: {
                  ActionMethod: "Edit",
                  ID: SupplierID
              },
              cache: false,
              success: function (data)
              {
                  if (data.result == false) {
                      DevExpress.ui.dialog.alert(data.Message, 'Alert');
                      return;
                  }
                  else if (data.result == "NoUpdateRights") {
                      $('#SupplierMasterEdit').hide();
                      DevExpress.ui.dialog.alert(data.Message, 'Warning!');
                      HideLoader();
                  }
                  else {
                      ShowLoader();

                      $.ajax({
                          type: 'GET',
                          url: "/Stock/SupplierMaster/Frm_SupplierMaster_Window",
                          data: {
                              ActionMethod: "Edit",
                              ID: SupplierID
                          },
                          cache: false,
                          success: function (data) {
                              if (data.result == false) {
                                  DevExpress.ui.dialog.alert(data.Message, 'Alert');
                                  $("#Dynamic_Content_popup").dxPopup("hide");
                                  return;
                              }//Mantis bug 0000984 fixed
                              else {
                                  ShowLoader();
                                  OpenDynamicPopup("Edit ~ Supplier Master", null, "auto", 1150, true, data);
                                  HideLoader();
                              }
                          }
                      });
                      HideLoader();
                  }
              }
          });
       
    }
    function SupplierMaster_DeleteClick(){        
        if (!SupplierDeleteright) { DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights"); return; }

        if (SupplierID == 'undefined' || SupplierID == undefined || SupplierID == "" || SupplierID == 0) {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert');
            return;
        }//Mantis bug 0000993 fixed
        $.ajax({
            type: 'GET',
            url: "/Stock/SupplierMaster/DataNavigation",
            async: false,
            data: {
                ActionMethod: "Delete",
                ID: SupplierID
            },
            cache: false,
            success: function (data) {
                if (data.result == false) {
                    DevExpress.ui.dialog.alert(data.Message, 'Alert');
                    return;
                }
                else if (data.result == "NoDeleteRights") {
                    $('#SupplierMasterDelete').hide();
                    DevExpress.ui.dialog.alert(data.Message, 'Warning!');
                    HideLoader();
                }
                else
                {
                    var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Delete ~ Supplier");
                    result.done(function (dialogResult)
                    {
                        if (dialogResult)
                        {
                            ShowLoader();

                            $.ajax({
                                type: 'GET',
                                url: "/Stock/SupplierMaster/Frm_SupplierMaster_Window",
                                data: {
                                    ActionMethod: "Delete",
                                    ID: SupplierID
                                },
                                cache: false,
                                success: function (data) {
                                    if (data.result == false) {
                                        DevExpress.ui.dialog.alert(data.Message, 'Alert');
                                        $("#Dynamic_Content_popup").dxPopup("hide");
                                        return;
                                    }//Mantis bug 0000984 fixed
                                    else {
                                        ShowLoader();
                                        OpenDynamicPopup("Delete ~ Supplier Master", null, "auto", 1150, true, data);
                                        HideLoader();//Mantis bug 0001295 fixed
                                    }

                                }
                            });

                            HideLoader();
                        }
                    })
                }
            }
        });
    }
    function SupplierMaster_ViewClick()
    {        
        if (!SupplierViewright) { DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights"); return; }
        
        if (SupplierID == 'undefined' || SupplierID == undefined || SupplierID == "" || SupplierID == 0) {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert');
            return;
        }//Mantis bug 0000993 fixed
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Stock/SupplierMaster/Frm_SupplierMaster_Window",
            async: false,
            data: {
                ActionMethod: "View",
                ID: SupplierID
            },
            cache: false,
            success: function (data) {
                if (data.result == false) {
                    DevExpress.ui.dialog.alert(data.Message, 'Alert');
                    $("#Dynamic_Content_popup").dxPopup("hide");
                    return;
                }//Mantis bug 0000984 fixed
                else
                {
                    ShowLoader();
                    OpenDynamicPopup("View ~ Supplier Master", null, "auto", 1150, true, data);
                    HideLoader();
                }
            }
        });
        HideLoader();
    }
    function SupplierMaster_ListPreviewClick(e)
    {
        if (!SupplierExportright) { DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights"); return; }

        $("#SupplierMaster_report_modal").dxPopup("show");
        $("#SupplierMaster_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#SupplierMaster_report_modal").html('');
        ShowLoader();
        $("#id_SupplierMaster_Result").load("@Url.Action("Frm_Export_Options", "SupplierMaster", new { @area = "Stock" })", function () {
            HideLoader();
        });
    }//list preview

    function SupplierMaster_AddNewBank()
    {        
        if (!SupplierNewright) { DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights"); return; }
        if (SupplierID == 'undefined' || SupplierID == undefined || SupplierID == "" || SupplierID == 0)
        {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert');
            return;
        }//Mantis bug 0000993 fixed
        ShowLoader();
        OpenDynamicPopup("New ~ Bank Account","@Url.Action("Frm_Supplier_AddNewBankContextWindow", "SupplierMaster", new { @area = "Stock" })?SupplierID=" + SupplierID, "auto", 1150, false, null);
        HideLoader();
    }

    function SupplierMaster_AddItemSupplierMapping()
    {
        if ("@Supplier_MappingRight" == "False") { DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights"); return; }
        if (SupplierID == 'undefined' || SupplierID == undefined || SupplierID == "" || SupplierID == 0) {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert ');
            return;
        }//Mantis bug 0000993 fixed
        ShowLoader();
        OpenDynamicPopup("New ~ Add Item - Supplier Mapping","@Url.Action("Frm_Item_Supplier_Add_Mapping_Window", "SupplierMaster", new { @area = "Stock" })?ActionMethod=New", "auto", 900, false, null);
        HideLoader();
    }

    
    function SupplierMaster_AddSupplierItemMapping()
    {
        if ("@Supplier_MappingRight" == "False") { DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights"); return; }
        if (SupplierID == 'undefined' || SupplierID == undefined || SupplierID == "" || SupplierID == 0) {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert ');
            return;
        }//Mantis bug 0000993 fixed
                ShowLoader();
        OpenDynamicPopup("New ~ Add Supplier - Item Mapping","@Url.Action("Frm_Supplier_Item_Add_Mapping_Window", "SupplierMaster", new { @area = "Stock" })?ActionMethod=New", "auto", 900, false, null);
        HideLoader();
    }
    function SupplierMaster_ShowItemSupplierMapping() {        
        if (SupplierID == 'undefined' || SupplierID == undefined || SupplierID == "" || SupplierID == 0) {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert');
            return;
        }//Mantis bug 0000993 fixed
        $("#SupplierMaster_info_modal").dxPopup("show");
        $("#SupplierMaster_info_modal").dxPopup("instance").option("title", "Item - Supplier Mapping Listing Screen");
        $("#SupplierMaster_info_modal").html('');
        ShowLoader();
        $("#id_SupplierMaster_info_Result").load("@Url.Action("Frm_Supplier_Item_Mapping_Info", "SupplierMaster", new { @area = "Stock" })?SupplierID=" + SupplierID, function () {
            HideLoader();
        });
        
    }


    function SupplierMaster_ViewPurchaseHistory() {
        if ("@Supplier_Report_Rights" == "False") { DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights"); return; }
        
        if (SupplierID == 'undefined' || SupplierID == undefined || SupplierID == "" || SupplierID == 0) {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert ');
            return;
        }//Mantis bug 0000993 fixed

        DevExpress.ui.dialog.alert('Coming Soon', 'Alert');
    }

    function SupplierMaster_ViewSupplierRating() {
        if ("@Supplier_Report_Rights" == "False") { DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights"); return; }
        if (SupplierID == 'undefined' || SupplierID == undefined || SupplierID == "" || SupplierID == 0) {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert ');
            return;
        }//Mantis bug 0000993 fixed
        DevExpress.ui.dialog.alert('Coming Soon', 'Alert');
    }

    function SupplierMaster_ViewOrderHistory() {
        if ("@Supplier_Report_Rights" == "False") { DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights"); return; }
        if (SupplierID == 'undefined' || SupplierID == undefined || SupplierID == "" || SupplierID == 0) {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert ');
            return;
        }//Mantis bug 0000993 fixed
        DevExpress.ui.dialog.alert('Coming Soon', 'Alert');
    }


    function Frm_SupplierBank_OnSucces(data) {

        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else {

            $("#Dynamic_Content_popup").dxPopup("hide");

        }
    }
    
    function OnItemSupplierMappingAjaxSuccessForm(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else {

            $("#Dynamic_Content_popup").dxPopup("hide");
            DevExpress.ui.dialog.alert(data.Message, "Inform");
            SupplierMasterListGrid.SetFocusedRowIndex(-1);
            SupplierMasterListGrid.Refresh();
        }
    }

    function OnSupplierItemMappingAjaxSuccessForm(data) {

        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else {

            $("#Dynamic_Content_popup").dxPopup("hide");
            DevExpress.ui.dialog.alert(data.Message, "Inform");
            SupplierMasterListGrid.SetFocusedRowIndex(-1);
            SupplierMasterListGrid.Refresh();

        }
    }
    function OnSupplierMasterAjaxSuccessForm(data) {

        if (data.result == true) {
            dontaskpopupcloseconfirmation = true;
            $("#Dynamic_Content_popup").dxPopup("hide");
            DevExpress.ui.dialog.alert(data.Message, "Inform");
            SupplierMasterListGrid.SetFocusedRowIndex(-1);
            SupplierMasterListGrid.Refresh();
            HideLoader();
        }
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
            HideLoader()
        }
    }
</script>