@using DevExtreme.AspNet.Mvc;
@using Common_Lib;
@model ConnectOneMVC.Areas.Stock.Models.SupplierMasterNEVD
@{
    bool IsVisible = Model != null && ((Model.ActionMethod == "View") || (Model.ActionMethod == "Delete")) ? true : false;
    bool IsDisabled = Model != null && ((Model.ActionMethod == "View") || (Model.ActionMethod == "Delete")) ? true : false;
    bool isvisible = (Model.ActionMethod == "New") ? true : false;
    bool Supplier_AddPersonnelRight = (bool)ViewData["Supplier_AddPersonnelRight"];
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<style>
    .pll2 {
        padding-left: 2px !important;
    }

    .margR4 {
        margin-right: 4px;
    }
</style>
<div id="Frm_SupplierMaster_Window_Content" class="edit_form">
    @using (Ajax.BeginForm("Frm_SupplierMaster_Window", "SupplierMaster",
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "Frm_SupplierMaster_Window_Content",
                        InsertionMode = InsertionMode.InsertAfter,
                        OnBegin = "AjaxBeginFormPost",
                        OnSuccess = String.Format("{0}", Model.Supplier_PostSucessFunction)
                    },
             new
             {
                 id = "SupplierWindowForm",
                 @class = "edit_form"
             }))
    {

        @Html.HiddenFor(y => y.ActionMethod)
        @Html.HiddenFor(x => x.SupplierID)
        Html.AntiForgeryToken();
        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();

        using (Html.DevExtreme().ValidationGroup())
        {
            <!-- <div class="full-width-header-bg">
                 <div class="row">

                     <div class="col-sm-8">
                         <h3 class="popuphead"><i class="far fa-edit"></i> Supplier Details</h3>
                     </div>
                     <div class="col-sm-4 prm">
                         <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                     </div>
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                 </div>
             </div> [Header]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-2 pll">
                            @Html.LabelFor(model => model.Supplier_AB_ID, htmlAttributes: new { @class = "control-label text-red" })
                        </div>
                        <div class="col-sm-4 prm">
                            <div class="dx-texteditor  dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Supplier_AB_ID").Name("Supplier_AB_ID").Placeholder("Supplier Name").DataSource(d => d.Mvc().Controller("SupplierMaster").LoadAction("Get_SupplierName_List").Key("ID"))
                                                          .Value(Model.Supplier_AB_ID).ValueExpr("ID").DisplayExpr("Name").OnValueChanged("On_PersonNameList_Changed").OnInitialized("On_PersonNameList_Init").Disabled(IsVisible).ReadOnly(IsVisible)
                                                          .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ContentTemplate(@<text> @Html.Partial("Get_SupplierName_List") </text>))
                                    @Html.ValidationMessageFor(model => model.Supplier_AB_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 prm ">
                            @(Html.DevExtreme().Button().ID("Supplier_Add_Person").Text("Add Person").Disabled(IsVisible).OnClick(@<text>function() { add_Supplier_New_Person(); }</text>))
                        </div>
                    </div>
                </div>
            </div><!--[Supplier]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    @Html.LabelFor(model => model.Supplier_Company_Code, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-8">
                                    <div class="dx-texteditor dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_Company_Code").Name("Supplier_Company_Code").Value(Model.Supplier_Company_Code).Placeholder("Enter Company Code").Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Supplier Company Code]-->
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    @Html.LabelFor(model => model.Supplier_Reg_No, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-8 prm">
                                    <div class="dx-texteditor dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_Reg_No").Name("Supplier_Reg_No").Value(Model.Supplier_Reg_No).Placeholder("Enter Registered Number").MaxLength(50).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Supplier Reg No.]-->
            </div><!--[Row 2]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="iten">Supplier's Address:</label>
                                </div>
                                <div class="col-sm-8 prm pll2">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_Address").Name("Supplier_Address").Placeholder("Supplier Address").ReadOnly(true).Value(Model.Supplier_Address).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))@*Mantis bug 0001200 fixed*@@*Mantis bug 0001245 fixed*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Address]-->
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    @Html.LabelFor(model => model.Supplier_Contact_Person, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-8 prm">
                                    <div class="dx-texteditor dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_Contact_Person").Name("Supplier_Contact_Person").Value(Model.Supplier_Contact_Person).Placeholder("Enter Contact Person's Name").MaxLength(255).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Contact Person]-->
            </div><!--[Row 3]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="iten">Country: </label>
                                </div>
                                <div class="col-sm-8 prm pll2">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_Country").Name("Supplier_Country").Placeholder("Country").ReadOnly(true).Value(Model.Supplier_Country).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))@*Mantis bug 0001200 fixed*@@*Mantis bug 0001245 fixed*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Country]-->
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="iten">State:</label>
                                </div>
                                <div class="col-sm-8 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_State").ReadOnly(true).Name("Supplier_State").Placeholder("State").Value(Model.Supplier_State).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))@*Mantis bug 0001200 fixed*@@*Mantis bug 0001245 fixed*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[State]-->
            </div><!--[Row 4]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="iten">City: </label>
                                </div>
                                <div class="col-sm-8 prm pll2">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_City").Name("Supplier_City").Placeholder("City").ReadOnly(true).Value(Model.Supplier_City).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))@*Mantis bug 0001200 fixed*@@*Mantis bug 0001245 fixed*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[City]-->
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="iten">PAN Number:</label>
                                </div>
                                <div class="col-sm-8 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_Pan_No").Name("Supplier_Pan_No").Placeholder("PAN").ReadOnly(true).Value(Model.Supplier_Pan_No).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))@*Mantis bug 0001200 fixed*@@*Mantis bug 0001245 fixed*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[PAN]-->
            </div><!--[Row 5]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="iten">Contact No.: </label>
                                </div>
                                <div class="col-sm-8 prm pll2">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_ContactNo").Name("Supplier_ContactNo").ReadOnly(true).Placeholder("Contact NO.").Value(Model.Supplier_ContactNo).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))@*Mantis bug 0001200 fixed*@@*Mantis bug 0001245 fixed*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Contact No.]-->
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="iten">Email Id:</label>
                                </div>
                                <div class="col-sm-8 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_EmailID").Name("Supplier_EmailID").Placeholder("Email ID").ReadOnly(true).Value(Model.Supplier_EmailID).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))@*Mantis bug 0001200 fixed*@@*Mantis bug 0001245 fixed*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Email ID]-->
            </div><!--[Row 6]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 pll">
                            <label class="control-label" for="user">Bank Account Details:</label>
                        </div>
                    </div>
                </div>
            </div><!--[Bank Account Detail]-->
            <div class="row">
                <div class="col-lg-12 col-xs-12 table-responsive overflow-scroll scrollbar">
                    <div class="tabtbl width1200px">
                        @Html.Partial("SupplierBankAccount_Info", Model)
                    </div>
                </div>
            </div><!--[Bank Account Detail Grid]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-2 pll">
                            @Html.LabelFor(model => model.Supplier_Other_Details, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-sm-10 prm pll1">
                            <div class="dx-texteditor dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Supplier_Other_Details").Name("Supplier_Other_Details").Disabled(IsVisible).MaxLength(8000).Placeholder("Type other details..").Value(Model.Supplier_Other_Details).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Other Details]-->

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("SupplierID_Save").Text(Model.ActionMethod == "Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(true).Visible(Model.ActionMethod == "View" ? false : true))
                        @(Html.DevExtreme().Button().CustomCloseButton().ID("SupplierViewCancel").Text(Model.ActionMethod == "View" ? "Close" : "Cancel").FocusStateEnabled(true).OnClick(@<text> function () { close_SupplierNEVD();  } </text>))
                    </div>
                </div>
            </div><!--[Buttons]-->


        }
    }
</div>

@(Html.DevExtreme().Popup().CustomPopup() .ID("Frm_SupplierBank_Popup") .CloseOnOutsideClick(false) .ShowTitle(true) .Title("New ~ ") .MaxHeight(280).MaxWidth(750) .ContentTemplate(@<text> <div id="result_Frm_SupplierBank_Popup">  </div> </text>))


<script>
    var form = "SupplierWindowForm";
    $(document).ready(function ()
    {
        sessionclearpath = "/Stock/SupplierMaster/SMSessionclear";
             ShowLoader();
        AssignIDtoLabel(form, "SupplierWindow");

        if ("@Supplier_AddPersonnelRight" != "True") { $("#Supplier_Add_Person").hide(); }

        setTimeout(function ()
        {
            if ("@Model.ActionMethod" == "View")
            {
                Set_Form_View_Delete_Mode("#000080", form);
            }
            else if ("@Model.ActionMethod" == "Delete")
            {
                Set_Form_View_Delete_Mode("#696969", form);
            }
            else
            {
                Focus_FirstEditable_Field(form);
            }
            HideLoader();
        }, Timeout500);
    });

    function On_PersonNameList_Changed(e)
    {
        var drop_Down = $("#Supplier_AB_ID").dxDropDownBox("instance");      
        drop_Down.close();
        
        var $dataGrid = $("#GetPersonNameDG");
        if ($dataGrid.length)
        {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(drop_Down.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];      
                                             
                    $("#Supplier_Address").dxTextBox("instance").option("value", item["Address"]);
                    $("#Supplier_Country").dxTextBox("instance").option("value", item["Country"]);
                    $("#Supplier_State").dxTextBox("instance").option("value", item["State"]);
                    $("#Supplier_City").dxTextBox("instance").option("value", item["City"]);
                    $("#Supplier_Pan_No").dxTextBox("instance").option("value", item["Pan_No"]);
                    $("#Supplier_ContactNo").dxTextBox("instance").option("value", item["ContactNo"]);
                    $("#Supplier_EmailID").dxTextBox("instance").option("value", item["Email"]);
                                  
            }
        }
    }
    function On_PersonNameList_Init(e)
    {        
        if ("@Model.ActionMethod" != "New")
        {
             e.component.option("dataSource").store.load().done(function (d) {
                if (d.length > 0) {
                    e.component.option("value","@Model.Supplier_AB_ID");
                }
            });            
        }        
    }//supplier init    
    function close_SupplierNEVD()
    {
        dontaskpopupcloseconfirmation = false;
        if (typeof OpenFromRR !== 'undefined') {
            $("#RequestRegister_Button_popup").dxPopup("hide");
            return;
        }
        $("#Dynamic_Content_popup").dxPopup("hide");
    }
    function add_Supplier_New_Person()
    {
        if ("@Supplier_AddPersonnelRight" != "True") { DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights"); return; }
        $("#PersonnelMastervalidationForm").remove();
        $.ajax({
            type: "GET",
            url: "/Stock/PersonnelMaster/Frm_PersonnelMaster_Window",
            data: {
                ActionMethod: "New",
                ID: 0,
                PostSucessFunction: "SupplierAddPersonnelSuccess",
                PopupName: "NPR_Content_popup",
                ButtonID: "Supplier_Add_Person"
            },
            success: function (data) {
              
                OpenPopup("NPR_Content_popup", "New ~ Personnel", null, "auto", 1150, true, data);
               
            }
        });
    }

    function SupplierAddPersonnelSuccess(data) {
        debugger
        HideLoader();
        if (data.result == true) {
            $("#NPR_Content_popup").dxPopup("hide");
            $("#GetPersonNameDG").dxDataGrid("instance").refresh();
        }
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");

        }
    }
</script>