@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.SupplierMasterMappingNEVD
@{
   
   
}
<style>


    .dx-toolbar-after .dx-button-content {
        padding-right: 0px !important;
    }

    .padd {
        padding-left: 10px !important;
    }

    .padd85 {
        padding-left: 85px !important;
    }

    /*.dx-icon {
        line-height: 14px !important;
        font-size: 18px !important;
    }*/
</style>

<div id="content" class="col-md-12 report_header_div_main">
    <div class="col-md-4 report_header_div">
        <label class="report_header_label"><i class="far fa-edit"></i> Item Supplier Mapping Listing</label>@*Mantis bug 0001191 fixed*@
    </div>

    @*Buttons*@
    <div class="report_button_div">
        @(Html.DevExtreme().Button().ID("SupplierMappingMIS").Text("Map Item to Suppliers").Visible(true).Disabled(false).OnClick(@<text>function(){Map_Item_to_Suppliers_button_Click();}</text>))
        @(Html.DevExtreme().Button().ID("SupplierMappingMSI").Text("Map Supplier to Items").Visible(true).Disabled(false).OnClick(@<text>function(){Map_Supplier_to_Items_button_Click();}</text>))

        @(Html.DevExtreme().Button().ID("SupplierMappingEdit").Text("Edit").Icon("edit").Visible(true).Disabled(false).OnClick(@<text>function(){SupplierMasterMapping_EditClick();}</text>))
        @(Html.DevExtreme().Button().ID("SupplierMappingDelete").Text("Delete").Icon("trash").Visible(true).Disabled(false).OnClick(@<text>function(){SupplierMasterMapping_DeleteClick();}</text>))
        @(Html.DevExtreme().Button().ID("SupplierMappingView").Text("View").Icon(IconID.ViewCustomers16x16devav).Icon("doc").Disabled(false).OnClick(@<text>function (){SupplierMasterMapping_ViewClick();}</text>))
        @(Html.DevExtreme().Button().ID("SupplierMappingCLOSE").Text("Close").Icon("clear").OnClick(@<text>function (){SupplierMasterMapping_Close();} </text>))

    </div>
</div>
<div class="row">

    <div class="col-sm-8">
        <h3 class="popuphead"> Mapping: Supplier & Items</h3>
    </div>
    <div class="col-sm-4 prm">
        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

</div><!--[]-->

<div class="col-md-12 report_header_div_main">
    <div class="row">
        <div class="col-sm-2 pll">
            <label class="control-label" for="user">Item Category</label>
        </div>

        <div class="col-md-2 pad-bot-20">
            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("SupplierMapping_ItemCategory").Name("SupplierMapping_ItemCategory").DisplayExpr("Main_Category").ValueExpr("Main_Category").DataSource(d => d.Mvc().Controller("SupplierMaster").LoadAction("Get_SupplierMappingItemCategory")
                    .Key("Main_Category")).HoverStateEnabled(true).ReadOnly(false).Disabled(false).OnValueChanged("LookUp_Get_SupplierMappingItemCategory").ContentTemplate(@<text> @Html.Partial("Get_SupplierMappingItemCategory") </text>))
        </div><!--[Select Item]-->


        <div class="col-sm-2 pll">
            <label class="control-label" for="user">Supplier</label>
        </div>
        <div class="col-sm-4 col-md-3subHead">
            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("SupplierMapping_Supplier").Name("SupplierMapping_Supplier").DisplayExpr("Supplier").ValueExpr("ID").DataSource(d => d.Mvc().Controller("SupplierMaster").LoadAction("Get_SupplierMappingSupplier").Key("ID"))
                  .HoverStateEnabled(true).ReadOnly(false).Disabled(false).OnValueChanged("LookUp_Get_SupplierMappingSupplier").ContentTemplate(@<text> @Html.Partial("Get_SupplierMappingSupplier") </text>))
        </div><!--[Select Supplier]-->

    </div>

    <div class="row">
        <!--[Select Item]-->
        <div class="col-sm-2 pll">
            <label class="control-label" for="user">Item Name:</label>
            @*@Html.LabelFor(model => model.Supplier_AB_ID, htmlAttributes: new { @class = "control-label text-red" })*@
        </div>
        <div class="col-md-2  no-padding">
            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("SupplierMapping_ItemName").Name("SupplierMapping_ItemName").Placeholder("Select Item").DisplayExpr("Stock_Item_Name").ValueExpr("Item_ID").DataSource(d => d.Mvc().Controller("SupplierMaster").LoadAction("Get_SupplierMappingItemName").Key("Item_ID").LoadParams(new { itemcategoryID = new JS("function (){ return itemcategory;}") }))
                             .ReadOnly(false).HoverStateEnabled(true).Disabled(false).OnValueChanged("LookUp_Get_SupplierMappingItemName").ContentTemplate(@<text> @Html.Partial("Get_SupplierMappingItemName") </text>))
        </div><!--[Change Item NAme]-->

        <div>
       
            @(Html.DevExtreme().Button().Text("Search").Disabled(false)
        .OnClick(@<text>function() { search_ItemSupplierMapping(); }</text>))
        </div>
    </div><!--[View Period TextBox]-->
</div>

<div class="col-md-12 no-padding">
    <form>
        <div id="SupplierMasterMappingreloadPartialView" class="parent_table">
            @*@Html.Action("Frm_Supplier_Item_Mapping_Info_Grid", Model)*@
            @Html.Action("Frm_Supplier_Item_Mapping_Info_Grid", "SupplierMaster", new { ItemCategory = Model.SupplierMapping_ItemCategory, SupplierID = Model.SupplierMapping_Supplier, ItemID = Model.SupplierMapping_ItemName })

        </div>
    </form>
</div>

<div class="footer-MainBoxdiv full-width-footer">
    @*<div class="list_footer_left_margin col-md-10">
        @(Html.DevExtreme().Button().ID("SupplierMappingCLOSE").Text("Close").Icon("clear").OnClick(@<text> function () {
                $("#SupplierMaster_info_modal").dxPopup("hide");
                } </text>))

    </div>*@
</div>


<script>
    var mappingSr;
    var mappingID;
    var itemid;
    var itemcategory;
    var suppid;    
    var isSupplierMapGridRefresh = false;
  
  
    $(document).ready(async function () {
  
        suppid = $("#SupplierMapping_Supplier").dxDropDownBox("instance").option("value", @Model.SupplierMapping_Supplier);
    });

    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Stock/SupplierMaster/SMapSessionclear",
            cache: false
        });
     
    });
    

    function SupplierMasterMapping_Close(s, e) {
        $.ajax({
            type: 'GET',
            url: "/Stock/SupplierMaster/SMapSessionclear",
            cache: false
        });
        $("#SupplierMaster_info_modal").dxPopup("hide");
    }

    function SupplierMappingOnGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'Sr_No;Mapping_ID', OnitemdetailGridRowValues);
    }
    function OnitemdetailGridRowValues(values) {
        mappingSr = values[0];
        mappingID = values[1];
      
    }

    function SupplierMappingGrid_BeginCallBack(s, e) {
    
        e.customArgs["command"] = e.command;
        if (e.command == "REFRESH") {
            isSupplierMapGridRefresh = true;
        }
        e.customArgs["ItemCategory"] = itemcategory;
        e.customArgs["SupplierID"] = suppid;
        e.customArgs["ItemID"] = itemid;
    }
    function SupplierMappingGrid_EndCallback(s, e) {
    
        SupplierMasterMappingAdjustSize();
        if (e.command == "REFRESH") {
            SupplierItemMapListGrid.SetFocusedRowIndex(-1);
        }
    }
    function SupplierMasterMappingAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        SupplierItemMapListGrid.SetHeight(height);
    }
    $("#SupplierItemMapListGrid").keydown(function (evt) {
        switch (evt.keyCode) {
            //case 45: // insert key
            //    OnFrm_OT_Order_Item_New_Click();
            //    break;
            case 13: //enter key
                SupplierMasterMapping_EditClick();
                break;

        }
        //if (evt.ctrlKey && evt.keyCode == 73)//ctrl+i
        //{
        //    OnFrm_OT_Order_Item_New_Click();
        //}
        if (evt.ctrlKey && evt.keyCode == 69)//ctrl+e
        {
            SupplierMasterMapping_EditClick();
        }
        if (evt.ctrlKey && evt.keyCode == 86)//ctrl+v
        {
            SupplierMasterMapping_ViewClick();
        }
    });
               

    function LookUp_Get_SupplierMappingItemCategory(e) {
        var drop_Down = $("#SupplierMapping_ItemCategory").dxDropDownBox("instance");

        if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
        }
        itemcategory = e.value;//Mantis bug 0000992 fixed
        var $dataGrid = $("#GetItemCategoryDG");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(drop_Down.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                item = dataGrid.getSelectedRowsData()[0];
                itemcategory = item.Main_Category;
            }//Mantis bug 0000991 fixed
        }
        if (itemcategory != "") {
            $("#GetItemNameDG").dxDataGrid("instance").refresh();
        }//Mantis bug 0000992 fixed
    }

    
   @*function OnInitialized_Supplier(e)
    {debugger
         suppid = "@Model.SupplierMapping_Supplier";
           e.component.option("dataSource").store.load().done(function (d) {*@
                @*if (d.length > 0) {
                    e.component.option("value", @Model.UO_GR_Item_ReceivedId);
                }*@
               @*LookUp_Get_SupplierMappingSupplier(@Model.SupplierMapping_Supplier);
        });
       
    }*@
    function LookUp_Get_SupplierMappingSupplier(e) {
        suppid = e.value;//Mantis bug 0000309 fixed
        var drop_Down = $("#SupplierMapping_Supplier").dxDropDownBox("instance");

        if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
        }
        var $dataGrid = $("#GetSupplierMapDG");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(drop_Down.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                item = dataGrid.getSelectedRowsData()[0];
                suppid = item.ID
            }
        }
    }

    function LookUp_Get_SupplierMappingItemName(e) {
        itemid = e.value;//Mantis bug 0000126 fixed
        var drop_Down = $("#SupplierMapping_ItemName").dxDropDownBox("instance");

        if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
        }
        var $dataGrid = $("#GetItemNameDG");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(drop_Down.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                item = dataGrid.getSelectedRowsData()[0];
                itemid = item.Item_ID;
                //alert(itemid);
            }
        }
    }


    function search_ItemSupplierMapping() {
        ShowLoader();
        var supplier = $("#SupplierMapping_Supplier").dxDropDownBox("instance").option("value");
        var item = $("#SupplierMapping_ItemName").dxDropDownBox("instance").option("value");
        var cat = $("#SupplierMapping_ItemCategory").dxDropDownBox("instance").option("value");

        if (item == null || item == "") {
            itemid = null;
        }//Mantis bug 0000126 fixed

        if (supplier == null || supplier == "") {
            suppid = null;
        }//Mantis bug 0000126 fixed
        if (cat == null || cat == "") {
            itemcategory = null;
        }//Mantis bug 0000126 fixed

        $.ajax({
            url: '@Url.Action("Frm_Supplier_Item_Mapping_Info_Grid", "SupplierMaster")',
            type: "GET",
            async: false,
            data: {
                ItemCategory: itemcategory,
                SupplierID: suppid,
                ItemID: itemid,
                command: "REFRESH"
            },
            success: function (res) {
                $("#SupplierMasterMappingreloadPartialView").html(res);
            }
        });
        HideLoader();
    }



    function Map_Item_to_Suppliers_button_Click()
    {                 
        ShowLoader();
        OpenDynamicPopup("New ~ AddItemSupplierMapping", "@Url.Action("Frm_Item_Supplier_Add_Mapping_Window", "SupplierMaster", new { @area = "Stock" })?ActionMethod=New", "auto", 900, false, null);
        HideLoader();
    }

    function Map_Supplier_to_Items_button_Click()
    {  
        ShowLoader();
        OpenDynamicPopup("New ~ AddSupplierItemMapping", "@Url.Action("Frm_Supplier_Item_Add_Mapping_Window", "SupplierMaster", new { @area = "Stock" })?ActionMethod=New", "auto", 900, false, null);
        HideLoader();
    }

    function SupplierMasterMapping_DeleteClick()
    {     
        if (!mappingSr)
        {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var Actual_Manpower_Details = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Confirm changes");
        Actual_Manpower_Details.done(function (dialogResult)
        {
            if (dialogResult)
            {                
                $.ajax({
                    type: 'GET',
                    url: "/Stock/SupplierMaster/Delete_Supplier_Mapping",
                    data: { ActionMethod: "Delete", Mappingid: mappingID },
                    cache: false,
                    success: function (data) {                        
                        if (data.result == true) 
                        {
                            DevExpress.ui.dialog.alert(data.Message, "Inform");
                         //   SupplierItemMapListGrid.SetFocusedRowIndex(-1);
                          SupplierItemMapListGrid.Refresh();
                           
                        }//Mantis bug 0001197 fixed
                    }
                });                 
            }
        });
    }

    function SupplierMasterMapping_EditClick() {
        if (!mappingSr) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        ShowLoader();
        OpenDynamicPopup("Update ~ Supplier Item Mapping", "@Url.Action("Frm_Supplier_Item_Update_Mapping_Window", "SupplierMaster", new {@area = "Stock" })?ActionMethod=Edit&Mappingid=" + encodeURIComponent(mappingID), "auto", 900, false, null);

        HideLoader();
    }

    function SupplierMasterMapping_ViewClick() {
        if (!mappingSr) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        ShowLoader();
        OpenDynamicPopup("View ~ SupplierItemMapping", "@Url.Action("Frm_Supplier_Item_Update_Mapping_Window", "SupplierMaster", new {@area = "Stock" })?ActionMethod=View&Mappingid=" + encodeURIComponent(mappingID), "auto", 900, false, null);
        HideLoader();
    }
    function OnItemSupplierMappingAjaxSuccessForm(data) {

        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else {

            $("#Dynamic_Content_popup").dxPopup("hide");
            DevExpress.ui.dialog.alert(data.Message, "Inform");
           // SupplierItemMapListGrid.SetFocusedRowIndex(-1);
            SupplierItemMapListGrid.Refresh();
        }
    }

    function OnSupplierItemMappingAjaxSuccessForm(data) {

        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else {

            $("#Dynamic_Content_popup").dxPopup("hide");
            DevExpress.ui.dialog.alert(data.Message, "Inform");
         //   SupplierItemMapListGrid.SetFocusedRowIndex(-1);
            SupplierItemMapListGrid.Refresh();
        }
    }

    function OnUpdateItemSupplierMappingAjaxSuccessForm(data) {
    
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else {
       
            $("#Dynamic_Content_popup").dxPopup("hide");
            DevExpress.ui.dialog.alert(data.Message, "Inform");
          //  SupplierItemMapListGrid.SetFocusedRowIndex(-1);
            SupplierItemMapListGrid.Refresh();
        }
    }
</script>
