<div class="B2B_ClearReferences">


    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.Voucher_BankToBank
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
    @{
        bool IsReadOnly = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
        string submitBtnText = Model != null && Model.ActionMethod.ToString().Trim() == "_Delete" ? "Delete" : "Save";

        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
    }

    <style>
        .legendClass {
            margin-bottom: 0 !important;
            border-bottom: 1px solid #e5e5e5 !important;
            font-weight: 600;
        }

        .margB3 {
            margin-bottom: 3px !important;
        }

        .margB10 {
            margin-bottom: 10px !important;
        }

        #Txt_Amount_B2B .dx-placeholder {
            text-align: center;
            width: 100%;
        }
        #ListSpecialVoucherRef_B2B .dx-list-item-content {
            padding: 4.5px;
        }
        .fullLineLblWidth{
            width: 14.5%;
        }
    </style>
    <div id="B2B_ParentDiv">

        @using (Ajax.BeginForm("Frm_Voucher_Win_B2B", "BankToBankTransferVoucher",
                                               new AjaxOptions
                                               {
                                                   HttpMethod = "POST",
                                                   UpdateTargetId = "Frm_Voucher_BankToBank_popup",
                                                   InsertionMode = InsertionMode.InsertAfter,
                                                   OnBegin = "AjaxBeginFormPost",
                                                   OnSuccess = "AjaxSuccessVoucherBankToBank"
                                               },
                                               new
                                               {
                                                   id = "B2BvalidationForm",
                                                   @class = "edit_form form-horizontal"
                                               }))
        {
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.REC_EDIT_ON_Bank1_B2B)
            @Html.HiddenFor(x => x.REC_EDIT_ON_Bank2_B2B)
            @Html.HiddenFor(x => x.iTrans_Type_B2B)
            @Html.HiddenFor(x => x.iLed_ID_B2B)
            @Html.HiddenFor(x => x.iVoucher_Type_B2B)
            @Html.HiddenFor(x => x.xID_B2B)
            @Html.HiddenFor(x => x.LastEditedOn_B2B)
            @Html.HiddenFor(x => x.BE_Bank1_Acc_No_Tag_B2B)
            @Html.HiddenFor(x => x.B2B_SplVchrReferenceSelected)
            @Html.HiddenFor(x => x.splVchrRefsCount_B2B)


            using (Html.DevExtreme().ValidationGroup("Bank2Bank"))
            {
                <div class="full-width-header-bg2">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3 class="popuphead"><i class="far fa-edit"></i> Bank To Bank Transfer</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align">
                                <i class="fas fa-info-circle"></i> Red Fields are mandatory
                            </h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div><!--[Header]-->
                <div class="row">
                    <div class="">
                        <div class="col-sm-7 col-md-7 col-lg-7">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3 col-lg-3 pll">
                                            @Html.Label("Item Name:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_itemName_B2B" })
                                        </div>
                                        <div class="col-sm-6 col-md-9 col-lg-9 prm">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ItemList_B2B").Name("GLookUp_ItemList_B2B").ValueExpr("ITEMID")
                                            .DisplayExpr("ITEMNAME").Placeholder("Select Item...").DataSource(Model.B2B_Item_Data, "ITEMID").Value(Model.GLookUp_ItemList_B2B)
                                            .ReadOnly(true).OnValueChanged("GLookUp_ItemList_EditValueChanged_B2B").ContentTemplate(@<text> @Html.Partial("BankToBank_LookUp_GetItemList") </text>).FocusStateEnabled(false)
                                        )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[Item Name]-->
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4 col-lg-4 pll">
                                            @Html.Label("Voucher Date:", htmlAttributes: new { @class = "control-label text-red ", @id = "lbl_vdate_b2b" })
                                        </div>
                                        <div class="col-sm-6 col-md-8 col-lg-8 prm">
                                            @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_V_Date_B2B").Name("Txt_V_Date_B2B").Value(Model.Txt_V_Date_B2B).Placeholder("dd-MM-yyyy").ReadOnly(IsReadOnly) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[V Date]-->
                    </div>
                </div><!--[row 1]-->
                <div class="row">
                    <div class="">
                        <div class="col-sm-7 col-md-7 col-lg-7">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3 col-lg-3 pll">
                                            @Html.Label("Head:", htmlAttributes: new { @class = "control-label disabletxt", @id = "lbl_head_b2b" })
                                        </div>
                                        <div class="col-sm-6 col-md-9 col-lg-9 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Item_Head_B2B").Name("BE_Item_Head_B2B").Placeholder("Head").Value(Model.BE_Item_Head_B2B).Disabled(true).ValidationError(true).MaxLength(50) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[Head]-->
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4 col-lg-4 pll">
                                            @Html.Label("Voucher No", htmlAttributes: new { @class = "control-label", @id = "lbl_vNo_b2b" })
                                        </div>
                                        <div class="col-sm-6 col-md-8 col-lg-8 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_V_NO_B2B").Name("Txt_V_NO_B2B").Value(Model.Txt_V_NO_B2B).ReadOnly(true).ValidationError(true).MaxLength(50).FocusStateEnabled(false) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[V NO]-->
                    </div>
                </div><!--[row 2]-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-lg-2 pll fullLineLblWidth">
                                        @Html.Label("Mode:", htmlAttributes: new { @class = "control-label text-red ", @id = "lbl_cmode_b2b" })
                                    </div>
                                    <div class="col-sm-9 col-md-10 col-lg-10 prm">
                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmd_Mode_B2B").Name("Cmd_Mode_B2B").DataSource(new[] { "CHEQUE", "DD", "CBS", "RTGS", "NEFT" }).ReadOnly(IsReadOnly).Value("CHEQUE").OnValueChanged("Cmd_Mode_SelectedIndexChanged_B2B").ShowClearButton(false))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Cmd mode]-->
                <div class="row">
                    <div class="col-sm-7 col-md-7 ">
                        <div class="form-field">
                            <div class="container-fluid">
                                <fieldset class="default-fieldset" id="LayoutControlItem1_B2B">
                                    <legend class="custom-legend mlm" id="lbl_Reg_No_B2B">Bank Detail (Transfer From):</legend>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                            @Html.Label("From Bank:", htmlAttributes: new { @class = "control-label text-red", @id = "LabelControl2_B2B" })

                                        </div>
                                        <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_BankList1_B2B").Name("GLookUp_BankList1_B2B").ValueExpr("BA_ID")
                                                .DisplayExpr("BANK_NAME").Placeholder("Select Bank...").DataSource(Model.Bank1_Data_B2B, "BA_ID").Value(Model.GLookUp_BankList1_B2B)
                                                .ReadOnly(true).OnValueChanged("GLookUp_BankList1_EditValueChanged_B2B").ContentTemplate(@<text> @Html.Partial("LookUp_GetBankList") </text>)
                                            )
                                        </div>
                                    </div><!--[From Bank]-->
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                            <label class="control-label" id="LabelControl5_B2B" for="Name">Branch :</label>
                                        </div>
                                        <div class="col-sm-9 col-md-9 col-lg-9 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Bank1_Branch_B2B").Value(Model.BE_Bank1_Branch_B2B).ID("BE_Bank1_Branch_B2B").Disabled(true) )
                                        </div>
                                    </div><!--[Branch]-->
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                            <label class="control-label" id="LabelControl6_B2B" for="Name">A/c. No.:</label>
                                        </div>
                                        <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Bank1_Acc_No_B2B").Name("BE_Bank1_Acc_No_B2B").Value(Model.BE_Bank1_Acc_No_B2B).Disabled(true) )
                                        </div>
                                    </div><!--[Account no]-->
                                </fieldset>
                            </div>
                        </div>
                    </div><!--[Bank 1]-->
                    <div class="col-sm-5 col-md-5">
                        <div class="form-field">
                            <div class="container-fluid">
                                <fieldset class="default-fieldset" id="LayoutControlItem3_B2B">
                                    <legend class="custom-legend mlm" id="lbl_Ref_Title_B2B"> Cheque Detail</legend>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-4 col-lg-4 pll">
                                            <label id="lbl_Ref_No_B2B" class="control-label text-red" for="Name">Cheque No:</label>
                                        </div>
                                        <div class="col-sm-9 col-md-8 col-lg-8 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true,true).ID("Txt_Ref_No_B2B").Name("Txt_Ref_No_B2B").Value(Model.Txt_Ref_No_B2B).ReadOnly(IsReadOnly).Placeholder("Type Cheque No. ...").MaxLength(25) )
                                        </div>
                                    </div><!--[Cheque No]-->
                                    <div class="row">
                                        <div class="col-sm-3 col-md-4 col-lg-4 pll">
                                            <label id="lbl_Ref_Date_B2B" class="control-label text-red" for="Name">Cheque Date:</label>
                                        </div>
                                        <div class="col-sm-9 col-md-8 col-lg-8 prm">
                                            @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_Ref_Date_B2B").Name("Txt_Ref_Date_B2B").Value(Model.Txt_Ref_Date_B2B).ReadOnly(IsReadOnly).Min("01/01/1900") )
                                        </div>
                                    </div><!--[Cheque Date]-->
                                    <div class="row">
                                        <div class="col-sm-3 col-md-4 col-lg-4 pll">
                                            <label id="lbl_Ref_CDate_B2B" class="control-label" for="Name">Clearing Date:</label>
                                        </div>
                                        <div class="col-sm-9 col-md-8 col-lg-8 prm ">
                                            @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_Ref_CDate_B2B").Name("Txt_Ref_CDate_B2B").Value(Model.Txt_Ref_CDate_B2B).ReadOnly(IsReadOnly).Min("01/01/1900") )
                                        </div>
                                    </div><!--[Clearing Date]-->
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div><!--[Bank 1 Details]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <fieldset class="default-fieldset" id="LayoutControlItem4_B2B">
                                    <legend class="custom-legend mlm" id="LabelControl12_B2B"> Bank Detail (Transfer To):</legend>
                                    <div class="row">
                                        <div class="col-sm-2 col-md-2 col-lg-2 pll fullLineLblWidth">
                                            @Html.Label("To Bank:", htmlAttributes: new { @class = "control-label text-red", @id = "LabelControl11_B2B" })

                                        </div>
                                        <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_BankList2_B2B").Name("GLookUp_BankList2_B2B").ValueExpr("BA_ID")
                                                .DisplayExpr("BANK_NAME").Placeholder("Select Bank...").DataSource(Model.Bank2_Data_B2B, "BA_ID").Value(Model.GLookUp_BankList2_B2B)
                                                .ReadOnly(true).OnValueChanged("GLookUp_BankList2_EditValueChanged_B2B").ContentTemplate(@<text> @Html.Partial("LookUp_GetBankList2") </text>)            
                                            )
                                        </div>
                                    </div><!--[Bank 2]-->
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-lg-2 pll fullLineLblWidth">
                                            <label class="control-label" id="LabelControl10_B2B" for="Name">Branch:</label>
                                        </div>
                                        <div class="col-sm-9 col-md-10 col-lg-10 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Bank2_Branch_B2B").ID("BE_Bank2_Branch_B2B").Value(Model.BE_Bank2_Branch_B2B).Disabled(true) )
                                        </div>
                                    </div><!--[Branch]-->
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-lg-2 pll fullLineLblWidth">
                                            <label class="control-label" id="LabelControl9_B2B" for="Name">A/c. No.:</label>
                                        </div>
                                        <div class="col-sm-9 col-md-10 col-lg-10 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Bank2_Acc_No_B2B").Name("BE_Bank2_Acc_No_B2B").Value(Model.BE_Bank2_Acc_No_B2B).Disabled(true) )
                                        </div>
                                    </div><!--[Acc no]-->
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div><!--[Bank 2 Details]-->

                <div class="row">                                            
                    <div id="B2B_NarrationDiv" class="col-sm-12 col-md-7 col-lg-7">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                        <label class="control-label" id="LabelControl17_B2B" for="Name">Narration:</label>
                                    </div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Narration_B2B").Name("Txt_Narration_B2B").Value(Model.Txt_Narration_B2B).Placeholder("Type any Other Details / Remarks...").MaxLength(250).ReadOnly(IsReadOnly) )
                                    </div>
                                </div><!--[Narration]-->
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                        <label class="control-label" id="LabelConreol16_B2B">Remarks:</label>
                                    </div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Remarks_B2B").Name("Txt_Remarks_B2B").Value(Model.Txt_Remarks_B2B).Placeholder("Type any Other Details / Remarks...").MaxLength(250).ReadOnly(IsReadOnly) )
                                    </div>
                                </div><!--[Remarks]-->
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                        <label class="control-label" id="LabelControl15_B2B">Reference:</label>
                                    </div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 prm" id="B2B_reference_div">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Reference_B2B").Name("Txt_Reference_B2B").Value(Model.Txt_Reference_B2B).Placeholder("Type any Reference Details ...").MaxLength(250).ReadOnly(IsReadOnly) )
                                    </div>
                                </div><!--[Reference]-->
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                        <label class="control-label text-red" id="lbl_B2B_reference" for="Name">Purpose:</label>
                                    </div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 prm">
                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("PurposeID_B2B").Name("PurposeID_B2B").ValueExpr("PUR_ID")
                                            .DisplayExpr("PUR_NAME").Placeholder("Select Purpose...").DataSource(Model.PurposeList_B2B, "PUR_ID").Value(Model.PurposeID_B2B)
                                            .Placeholder("Select Purpose...").Disabled(false))
                                        @Html.ValidationMessageFor(model => model.PurposeID_B2B, "", new { @class = "text-red" })
                                    </div>
                                </div><!--[Purpose]-->
                            </div>
                        </div>
                    </div><!--[Narration/Remarks/Reference]-->                    
                    <div class="col-sm-12 col-md-5 col-lg-5 fcraAmtDiv_B2B">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6" id="B2B_SpecialVoucherRefDiv">                                
                                <div class="form-field ">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().List().CustomList().ID("ListSpecialVoucherRef_B2B")
                                        .DataSource(Model.SpecialReferenceList_Data_B2B, "Task_Name")
                                        .SearchEnabled(false)
                                        .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                                        .KeyExpr("Task_Name")
                                        .DisplayExpr("Task_Name")
                                        .OnSelectionChanged("OnSplVchrRefsListSelectionChanged_B2B")
                                        .Height(88).ShowScrollbar(ShowScrollbarMode.Always).UseNativeScrolling(false)
                                        .ShowSelectionControls(true)
                                        .SelectedItemKeys(Model.SpecialReference_Get_SelectedValue_B2B))
                                    </div>
                                </div>                                    
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6" id="fcraAmtDiv_B2B">
                                <div class="form-field">
                                    <div class="container-fluid mb_height66" style="min-height: 88px !important;">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-12 col-lg-12" style="text-align:center" id="B2B_Transfer_Div">
                                                <label class="control-label text-red" id="lbl_amt_B2B">Transfer:</label>
                                            </div>
                                            <div class="col-sm-9 col-md-12 col-lg-12 ">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox()
                                                    .ID("Txt_Amount_B2B").Name("Txt_Amount_B2B")
                                                    .Value(Model.Txt_Amount_B2B).Placeholder("Type Amount...")
                                                    .ReadOnly(IsReadOnly).Format("#0.00")
                                                    .InputAttr(new { @style = "text-align:center" })
                                                ) @*redmine Bug #132664 fixed *@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div><!--[Amount]-->
                                </div>
                            </div>

                    
                </div><!--[Narration, FCRA and Amount columns]-->

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Bank to Bank Transfer )...", Model.TempActionMethod.Substring(1)))
                            </div>
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <div class="styleActionBtn">
                                    @if (Model.ActionMethod.ToString() != "_View")
                                    {
                                        @(Html.DevExtreme().Button().CustomSaveButton(Model.ActionMethod.ToString()).ID("EditVouB2B").Text(submitBtnText).UseSubmitBehavior(false).OnClick("B2BFormSubmit") )
                                    }
                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("CancelVouB2B").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->
            }
        }
    </div>

    <script>
        function Cmd_Mode_SelectedIndexChanged_B2B(e) {
            if (e.value != null) {//redmine Bug #133513 fixed
                var text = e.value.toUpperCase();
                if (text == "CHEQUE") {
                    $("#lbl_Ref_Title_B2B").text("Cheque Detail:");
                    $("#lbl_Ref_No_B2B").text("Cheque No.:");
                    $("#Txt_Ref_No_B2B").dxTextBox("instance").option("placeholder", "Type Cheque No...");
                    $("#lbl_Ref_Date_B2B").text("Cheque Date:");
                    $("#lbl_Ref_CDate_B2B").text("Clearing Date:");
                }
                if (text == "DD") {
                    $("#lbl_Ref_Title_B2B").text("D.D. Detail:");
                    $("#lbl_Ref_No_B2B").text("D.D. No.:");
                    $("#Txt_Ref_No_B2B").dxTextBox("instance").option("placeholder", "Type D.D. No...");
                    $("#lbl_Ref_Date_B2B").text("D.D. Date:");
                    $("#lbl_Ref_CDate_B2B").text("Clearing Date:");
                }
                if (text == "CBS" || text == "RTGS" || text == "NEFT") {
                    $("#lbl_Ref_Title_B2B").text(e.value + " Reference Detail:");
                    $("#lbl_Ref_No_B2B").text("Ref. No.:");
                    $("#Txt_Ref_No_B2B").dxTextBox("instance").option("placeholder", "Type Ref. No...");
                    $("#lbl_Ref_Date_B2B").text("Date:");
                    $("#lbl_Ref_CDate_B2B").text("Clearing Date:");
                }
            }
            RefNoValidation();
        }
    </script>
    @* Cmd mode value change *@
<script>
        async function GLookUp_ItemList_EditValueChanged_B2B(e, FirstCall = false) {
            var itemID;
            if (e) {
                itemID = e.value;
                if ((e.value == null||e.value.length==0) && e.previousValue != null) {
                    Item_B2B_DG.clearSelection();
                    return;
                }
            }
            else {
                itemID = $("#GLookUp_ItemList_B2B").dxDropDownBox("option", "value");
            }
            await Item_B2B_DG.selectRows(itemID);
            if (Item_B2B_DG.getSelectedRowsData().length > 0) {
                var item = Item_B2B_DG.getSelectedRowsData()[0];
                $("#BE_Item_Head_B2B").dxTextBox("instance").option("value", item["LED_NAME"]);
                $("#iVoucher_Type_B2B").val(item["ITEM_VOUCHER_TYPE"]);
                $("#iLed_ID_B2B").val(item["ITEM_LED_ID"]);
                $("#iTrans_Type_B2B").val(item["ITEM_TRANS_TYPE"]);
            }
        }
        async function GLookUp_BankList1_EditValueChanged_B2B(e,FirstCall=false)
        {
            var bankID;
            if (e)
            {
                bankID = e.value;
                if ((e.value == null || e.value.length==0) && e.previousValue != null)
                {
                    Bank1_B2B_DG.clearSelection();
                    $("#BE_Bank1_Branch_B2B").dxTextBox("instance").reset();
                    $("#BE_Bank1_Acc_No_B2B").dxTextBox("instance").reset();
                    return;
                }
            }
            else {
                bankID = $("#GLookUp_BankList1_B2B").dxDropDownBox("option", "value");
            }
            await Bank1_B2B_DG.selectRows(bankID)
            if (Bank1_B2B_DG.getSelectedRowsData().length > 0)
            {
                var item = Bank1_B2B_DG.getSelectedRowsData()[0];
                $("#BE_Bank1_Acc_No_Tag_B2B").val(item["BI_SHORT_NAME"]);
                $("#REC_EDIT_ON_Bank1_B2B").val(JS_Json_Date_To_ddMMyyyy(item["REC_EDIT_ON"]));
                $("#BE_Bank1_Branch_B2B").dxTextBox("instance").option("value", item["BANK_BRANCH"]);
                $("#BE_Bank1_Acc_No_B2B").dxTextBox("instance").option("value", item["BANK_ACC_NO"]);
                if (FirstCall == false)
                {
                    var displayTxt_Narration = "Transfer From " + item["BI_SHORT_NAME"] + ", A/c. No.: " + item["BANK_ACC_NO"] + " to " + Bank2ShortName_B2B + ", A/c. No.: " + $("#BE_Bank2_Acc_No_B2B").dxTextBox("instance").option("value");
                    $("#Txt_Narration_B2B").dxTextBox("instance").option("value", displayTxt_Narration);
                }
            }
        }
        var Bank2ShortName_B2B;
    async function GLookUp_BankList2_EditValueChanged_B2B(e, FirstCall = false) {
            var bankID;
            if (e) {
                bankID = e.value;
                if ((e.value == null||e.value.length==0) && e.previousValue != null) {
                    Bank2_B2B_DG.clearSelection();
                    $("#BE_Bank2_Branch_B2B").dxTextBox("instance").reset();
                    $("#BE_Bank2_Acc_No_B2B").dxTextBox("instance").reset();
                    return;
                }
            }
            else {
                bankID = $("#GLookUp_BankList2_B2B").dxDropDownBox("option", "value");
            }
            await Bank2_B2B_DG.selectRows(bankID);
        if (Bank2_B2B_DG.getSelectedRowsData().length > 0)
        {
            var toItem = Bank2_B2B_DG.getSelectedRowsData()[0];
            $("#REC_EDIT_ON_Bank2_B2B").val(JS_Json_Date_To_ddMMyyyy(toItem["REC_EDIT_ON"]));
            $("#BE_Bank2_Branch_B2B").dxTextBox("instance").option("value", toItem["BANK_BRANCH"]);
            $("#BE_Bank2_Acc_No_B2B").dxTextBox("instance").option("value", toItem["BANK_ACC_NO"]);
            Bank2ShortName_B2B = toItem["BI_SHORT_NAME"]; //redmine Bug #133462 fixed
            if (FirstCall == false)
            {
                var displayTxt_Narration = "Transfer From " + $("#BE_Bank1_Acc_No_Tag_B2B").val() + ", A/c. No.: " + $("#BE_Bank1_Acc_No_B2B").dxTextBox("instance").option("value") + " to " + toItem["BI_SHORT_NAME"] + ", A/c. No.: " + toItem["BANK_ACC_NO"];
                $("#Txt_Narration_B2B").dxTextBox("instance").option("value", displayTxt_Narration);
            }
        }
    }
</script>
    @* DD value Change *@
<script>
    var Bank1_B2B_DG;
    var Bank2_B2B_DG;
    var Item_B2B_DG;
    async function LookUp_GetItemList_B2B(FirstCall=false)
    {
        var DsItems = GetDataSourceItems("GLookUp_ItemList_B2B", "dxDropDownBox");
        if (DsItems.length == 1) {
            $("#GLookUp_ItemList_B2B").find('input').css('color', '#000080');
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection") {
                await Item_B2B_DG.selectRows(DsItems[0].ITEMID);
                Control_SetReadOnly("GLookUp_ItemList_B2B", "dxDropDownBox", true);
                $("#lbl_itemName_B2B").removeClass("text-red").addClass("disabletxt");
            }
        }
        else {
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection") {
                Control_SetReadOnly("GLookUp_ItemList_B2B", "dxDropDownBox", false);
                $("#lbl_itemName_B2B").addClass("text-red").removeClass("disabletxt");
            }
        }
    }
    async function LookUp_GetBankList1_B2B(BankData,FirstCall = false)
    { 
        if (BankData.length == 1)
        {
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                await Bank1_B2B_DG.selectRows(BankData[0].BA_ID);
                Control_SetReadOnly("GLookUp_BankList1_B2B", "dxDropDownBox", true, "#696969");
            }
        }
        else {
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                Control_SetReadOnly("GLookUp_BankList1_B2B", "dxDropDownBox", false);
            }
        }
    }
    async function LookUp_GetBankList2_B2B(FirstCall = false) {

        var DsBanks = GetDataSourceItems('GLookUp_BankList2_B2B', "dxDropDownBox");
        if (DsBanks.length == 1)
        {
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                await Bank2_B2B_DG.selectRows(DsBanks[0].BA_ID);
                Control_SetReadOnly("GLookUp_BankList2_B2B", "dxDropDownBox", true, "#696969");
            }
        }
        else
        {
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                Control_SetReadOnly("GLookUp_BankList2_B2B", "dxDropDownBox", false);
            }
        }
    }


    $(function () {
        $("#PurposeID_B2B").dxSelectBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if ("@Model.ActionMethod" == "_New" ||"@Model.ActionMethod" == "_New_From_Selection"||"@Model.ActionMethod" == "_Edit") {

                            if (options.value == "" || options.value ==null) {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: " Purpose Cannot Be Blank..!!"
                }],
                validationGroup: "Bank2Bank"
            });//redmine Bug #133286 fix


            //$("#Txt_Ref_No_B2B").dxTextBox({})
            //    .dxValidator({
            //        validationRules: [{
            //            type: 'custom',
            //            validationCallback: function (options) {
            //                var result = true;
            //                if ($("#VOUCHER_TYPE").val().toUpperCase() != "CASH DEPOSITED")
            //                {
            //                    var reg = /^[0-9]{6,8}$/;
            //                    if (!(reg.test(options.value)))
            //                    {
            //                          //  result = false Redmine Bug #134211 fix

            //                    }
            //                }
            //                return result;
            //            },
            //            ignoreEmptyValue: true,
            //            reevaluate:true,
            //            message: 'Invalid Format(Need To Be Of Min 6 Digits And Max 8 Digits)'
            //        }],
            //        validationGroup: "B2B_Voucher" //redmine #132854 fixed
            //    });

    });

</script>
    @* DD init *@
    <script>
    var B2B_CloseConfirmation = false;
    function B2BFormSubmit(e)
    {
        if (ValidateForm(e))
        {
            var form = $("#B2BvalidationForm");
            if (e.component.option("text") == "Delete")
            {
                DeleteAfterConfirmation("Confirm", "", $("#B2BvalidationForm"));
            }
            else
            {
                form.submit();
            }
        }
    }
        function AjaxSuccessVoucherBankToBank(data)
        {
            dontaskpopupcloseconfirmation = true;
            HideLoader();
            if (data.jsonParam.result == false)
            {
                if (data.jsonParam.refreshgrid === true)
                {
                    RefreshGridView("@ViewBag.GridToRefresh");
                }
                if (data.jsonParam.closeform)
                {
                    B2B_CloseConfirmation = false;
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertclick.done(function (alertResult)
                {
                    if (alertResult)
                    {
                        if (data.jsonParam.focusid)
                        {
                            var id = "#" + data.jsonParam.focusid;
                            setTimeout(function ()
                            {
                                $(id).find('input').focus();
                            }, Timeout100);
                        }
                    }
                });
            }
            else if (data.jsonParam.result == true)
            {
                var _ActiveTab_ID = $(".TabPanalMenu-tabs .active").attr("id");
                var saveAlertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                saveAlertClick.done(function (result)
                {
                    if (result)
                    {
                        if ("@ViewBag.GridToRefresh" != "CashBookListGrid")
                        {
                            RefreshGridView("@ViewBag.GridToRefresh");
                        }
                        if (/*typeof CashBookListGrid !== 'undefined'*/ _ActiveTab_ID == "contact_Frm_Voucher_Info_CB")
                        {
                            AfterVoucherClose_CB($("#Txt_V_Date_B2B").dxDateBox("instance").option("value"), "@Model.TempActionMethod", IsUndefinedOrNull(data.CashbookGridPK) ? "" : data.CashbookGridPK);
                        }
                        else if (_ActiveTab_ID == "contact_Frm_Voucher_Info") {
                            AfterVoucherClose_VoucherEntry();
                        }
                        $("#Dynamic_Content_popup").dxPopup("hide");
                    }
                });
            }
        }


    </script>
    @* Save and Related functions  *@
<script>
    $(document).ready(function ()
    {
        ShowLoader_Ready();
        sessionclearpath = "/Account/BankToBankTransferVoucher/SessionClear";
        if ("@Model.ActionMethod" != "_View")
        {
            dontaskpopupcloseconfirmation = false;
        }     
        TransformTextForDB("B2BvalidationForm");
        $("#higt").height(($("#B2B_reference_div").height()) * 2.15);
        B2B_CloseConfirmation = true;
        var $Item_B2B_DG = $("#B2B_GLookUp_ItemList_datagrid");
        if ($Item_B2B_DG.length) {
            Item_B2B_DG = $Item_B2B_DG.dxDataGrid("instance");
        }
        var $Bank1_B2B_DG = $("#B2B_GLookUp_BankList1_datagrid");
        if ($Bank1_B2B_DG.length) {
            Bank1_B2B_DG = $Bank1_B2B_DG.dxDataGrid("instance");
        }
        var $Bank2_B2B_DG = $("#B2B_GLookUp_BankList2_datagrid");
        if ($Bank2_B2B_DG.length) {
            Bank2_B2B_DG = $Bank2_B2B_DG.dxDataGrid("instance");
        }
        var DsBanks = GetDataSourceItems('GLookUp_BankList1_B2B', "dxDropDownBox");
        if (DsBanks.length < 2) {
            DevExpress.ui.dialog.alert("Voucher Entry Not Allowed...!<br><br>Note: Bank to Bank Transfer Requires Minimum Two Bank Accounts...!", "Bank to Bank Transfer");
            dontaskpopupcloseconfirmation = true;
            HidePopup("Dynamic_Content_popup");
            HideLoader_Ready();
            return;
        }
        LookUp_GetItemList_B2B(true);
        LookUp_GetBankList1_B2B(DsBanks,true);
        LookUp_GetBankList2_B2B(true);
        if ("@Model.ActionMethod" == "_New_From_Selection")
        {
            GLookUp_ItemList_EditValueChanged_B2B(null, true)
            @*Item_B2B_DG.selectRows("@Model.GLookUp_ItemList_B2B", false);*@
            Control_SetReadOnly("GLookUp_ItemList_B2B", "dxDropDownBox", true, "#696969");
            $("#lbl_itemName_B2B").removeClass("text-red").addClass("disabletxt");
        }
        else if ("@Model.ActionMethod" != "_New")
        {
            $("#Cmd_Mode_B2B").dxSelectBox("instance").option("value", "@Model.Cmd_Mode_B2B");
            GLookUp_ItemList_EditValueChanged_B2B(null, true)
            Control_SetReadOnly("GLookUp_ItemList_B2B", "dxDropDownBox", false);
            GLookUp_BankList1_EditValueChanged_B2B(null,true);
            Control_SetReadOnly("GLookUp_BankList1_B2B", "dxDropDownBox", false);
            GLookUp_BankList2_EditValueChanged_B2B(null, true)
            Control_SetReadOnly("GLookUp_BankList2_B2B", "dxDropDownBox", false);
        }

        //FCRA Related
        //await $("#ListSpecialVoucherRef_B2B").dxList("getDataSource").load();
        if (parseInt("@Model.splVchrRefsCount_B2B") > 0) {
                //await $("#ListSpecialVoucherRef_B2B").dxList("getDataSource").load();
            OnSplVchrRefsListSelectionChanged_B2B();
            }
        if (parseInt("@Model.splVchrRefsCount_B2B") == 0)
        {
            $("#B2B_SpecialVoucherRefDiv").remove();
            $("#fcraAmtDiv_B2B").removeClass("col-sm-12 col-md-6 col-lg-6").addClass("col-sm-12 col-md-12");
        }
        RefNoValidation();
        Set_Form_View_Delete_Mode(null, "B2BvalidationForm", "@Model.ActionMethod");
        Focus_FirstEditable_Field("B2BvalidationForm");
        HideLoader_Ready();
        console.log("B2B Voucher Load End")     
    });
    function RefNoValidation()
    {
        //$("#Txt_Ref_No_B2B").dxTextBox({})
        //    .dxValidator({
        //        validationRules: [{
        //            type: 'custom',
        //            validationCallback: function (options)
        //            {
        //                var result = true;
        //                var cmdMode = $("#Cmd_Mode_B2B").dxSelectBox("instance").option("value");
        //                if (cmdMode!=null&&(cmdMode.toUpperCase() == "CHEQUE" || cmdMode.toUpperCase() == "DD"))
        //                {
        //                    var reg = /^[0-9]{6,8}$/;
        //                    if (!(reg.test(options.value)))
        //                    {
        //                        result = false

        //                    }
        //                }
        //                return result;
        //            },
        //            reevaluate: true,
        //            message: 'Invalid Format(Need To Be Of Min 6 Digits And Max 8 Digits)'
        //        }],
        //        validationGroup: "Bank2Bank" //redmine #133323 fixed
        //    });
    }
</script>
    @* Document.ready *@
    <script>
    $("#B2B_ParentDiv").keydown(function (e)
    {

        if (e.originalEvent.repeat == true)
        {
            return false;
        }
        if (e.key == "F2")
        {
            e.preventDefault();
            $("#Txt_V_Date_B2B").dxDateBox("instance").focus();
        }
        else if (e.key == "S" && e.shiftKey) //save
        {
            e.preventDefault();
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection" || "@Model.ActionMethod" == "_Edit")
            {
                $("#EditVouB2B").trigger("click");
            }
        }
        else if (e.key == "D" && e.shiftKey) //Delete
        {
            e.preventDefault();
            if ("@Model.ActionMethod" == "_Delete")
            {
                $("#EditVouB2B").trigger("click");
            }
        }
    });
    </script>
    @* Shortcuts *@

    <script>
        function OnSplVchrRefsListSelectionChanged_B2B(e) {           
            var listBox = $("#ListSpecialVoucherRef_B2B").dxList("instance");
            if (listBox) {
                var selecteditemkey = listBox.option("selectedItemKeys")
                if (selecteditemkey != null && selecteditemkey.length > 0) {
                    $("#B2B_SplVchrReferenceSelected").val(selecteditemkey.join(","));
                }
                else {
                    $("#B2B_SplVchrReferenceSelected").val("");
                }
            }
            else
            {
                $("#B2B_SplVchrReferenceSelected").val("");
            }
        }// List selection

    </script>
</div>



