<div class="CashBookEditCommon_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.Voucher_Updates
    @{

    }
    @using (Ajax.BeginForm("Frm_Voucher_Updates", "CommonCalls",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.InsertAfter,
                    OnBegin = "AjaxBeginFormPost",
                    OnSuccess = "Voucher_Updates_AjaxSuccess"
                },
                 new
                 {
                     id = "Voucher_UpdatesForm",
                     @class = "edit_form"
                 }))
    {
        @Html.HiddenFor(model => model.xID)
        @Html.HiddenFor(model => model.xMID)
        @Html.HiddenFor(model => model.GridToRefresh)
        @Html.HiddenFor(model => model.ChosenSpecialVoucherReference_VoucherUpdate)
        using (Html.DevExtreme().ValidationGroup())
        {
    <div class="container-fluid">
        <div class="full-width-header-bg2">
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="popuphead"><i class="far fa-edit"></i> Update Common Voucher Details</h3>
                </div>
                <div class="col-sm-4 prm">
                    <h5 class="mand-txt-align">
                        <i class="fas fa-info-circle"></i> Red Fields are mandatory
                    </h5>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-red" })
            </div>
        </div><!--[Header]-->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-field">
                    @Html.Label("Items:", htmlAttributes: new { @class = "control-label" })
                    @Html.Action("Frm_Voucher_Updates_Grid", "CommonCalls")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-field">
                    @Html.Label("** if purpose is left blank here, then purpose shall not be updated for this entry", htmlAttributes: new { @class = "control-label text-red" })
                    <div class="row">
                        <div class="col-md-2"><label class="control-label" for="GLookUp_Purpose_VoucherUpdate">Purpose:</label></div>
                        <div class="col-md-10">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown() .ID("GLookUp_Purpose_VoucherUpdate") .Name("GLookUp_Purpose_VoucherUpdate") .ValueExpr("PUR_ID") .DisplayExpr("PUR_NAME") .OnValueChanged("GLookUp_PurList_EditValueChanged_VoucherUpdate")
                                  .DataSource(d => d.Mvc().Controller("CommonCalls").LoadAction("LookUp_GetPurList").Key("PUR_ID").LoadParams(new { DDRefresh = new JS("function() {return PurListDDRefresh_VoucherUpdate;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                  .ReadOnly(true).FocusStateEnabled(false).ContentTemplate(@<text> @Html.Partial("LookUp_GetPurList") </text>).Placeholder("Select Purpose...")  )
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[row3]-->
        <div class="row">
            <div class="col-md-12">
                <div class="form-field">
                    @Html.Label("** if narration is left blank here, then existing narration will be removed", htmlAttributes: new { @class = "control-label text-red" })
                    <div class="row">
                        <div class="col-md-2"><label class="control-label" for="Txt_Narration_VoucherUpdate">Narration:</label></div>
                        <div class="col-md-10">
                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Narration_VoucherUpdate").Name("Txt_Narration_VoucherUpdate").Value(Model.Txt_Narration_VoucherUpdate).ReadOnly(false).Placeholder("Type any Narration...").MaxLength(250) )
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[row3]-->
        <div class="row">
            <div class="col-md-12">
                <div class="form-field">
                    @Html.Label("** if reference is left blank here, then existing reference will be removed", htmlAttributes: new { @class = "control-label text-red" })
                    <div class="row">
                        <div class="col-md-2"><label class="control-label" for="Txt_Reference_VoucherUpdate">Reference:</label></div>
                        <div class="col-md-10">
                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Reference_VoucherUpdate").Name("Txt_Reference_VoucherUpdate").Value(Model.Txt_Reference_VoucherUpdate).ReadOnly(false).Placeholder("Type any Reference Details...").MaxLength(250) )
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[row4]-->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 ListOneRow" id="SpecialVoucherRefDiv_VoucherUpdate">
                <div class="form-field ">                 
                        @(Html.DevExtreme().List().CustomList().ID("ListSpecialVoucherRef_VoucherUpdate")
                                    .DataSource(Model.SpecialVoucherReferenceList_VoucherUpdate, "Task_Name")
                                    .SearchEnabled(false)
                                    .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                                    .KeyExpr("Task_Name")
                                    .DisplayExpr("Task_Name")
                                    .OnSelectionChanged("OnSplVchrRefsListSelectionChanged_VoucherUpdate")
                                    .Height(90).Width(300).ShowScrollbar(ShowScrollbarMode.Always).UseNativeScrolling(false)
                                    .ShowSelectionControls(true)
                                    .SelectedItemKeys(Model.ChosenSpecialVoucherReference_VoucherUpdate.Split('|')))                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        @Html.Partial("Drop_Request", "Send Your Request to Madhuban for ( New... )...")
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().ID("BUT_SAVE_VoucherUpdate").CustomSaveButton().Text("Save").UseSubmitBehavior(false).OnClick("BUT_SAVE_Click_VoucherUpdate"))
                            @(Html.DevExtreme().Button().ID("BUT_CANCEL_VoucherUpdate").CustomCloseButton().Text("Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[Buttons]-->
    </div>
        }

    }
    <script>

        var PurListDDRefresh_VoucherUpdate = false;
        var PurListDG_VoucherUpdate;
        function InitAllDropdownDatagrid_VoucherUpdate()
        {
            var $PurListDG_VoucherUpdate = $("#PurList_VoucherUpdate_datagrid");
            if ($PurListDG_VoucherUpdate.length)
            {
                PurListDG_VoucherUpdate = $PurListDG_VoucherUpdate.dxDataGrid("instance");
            }
        }
        async function LookUp_GetPurpose_VoucherUpdate(FirstCall = false)
        {
            Control_SetReadOnly("GLookUp_Purpose_VoucherUpdate", "dxDropDownBox", false);
            if (FirstCall == false)
            {
                PurListDDRefresh_VoucherUpdate = true;
                await PurListDG_VoucherUpdate.refresh();
                PurListDDRefresh_VoucherUpdate = false;
            }
        }
        function GLookUp_PurList_EditValueChanged_VoucherUpdate(e)
        {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null)
            {
                PurListDG_VoucherUpdate.clearSelection();
                return;
            }
        }
    </script>
    <script>
    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        InitAllDropdownDatagrid_VoucherUpdate();
        TransformTextForDB("Voucher_UpdatesForm");
        dontaskpopupcloseconfirmation = false;
        sessionclearpath = "/Account/CommonCalls/sessionClear_voucherUpdate";
        ClosingScreenParentDivClass = "CashBookEditCommon_ClearReferences";
        await LookUp_GetPurpose_VoucherUpdate(true);
            //FCRA Related
        if (parseInt("@Model.SpecialVoucherReferenceList_Count") > 0)
        {
            OnSplVchrRefsListSelectionChanged_VoucherUpdate();
        }
        if (parseInt("@Model.SpecialVoucherReferenceList_Count") == 0)
        {
            $("#SpecialVoucherRefDiv_VoucherUpdate").remove();
        }
        HideLoader_Ready();
    });
    function BUT_SAVE_Click_VoucherUpdate(e)
    {
        CreateCustomConfirmDialog("New...", "Sure you want to Update these details...?", false).show().done(function (dialogResult)
        {
            if (dialogResult)
            {
                $("#Voucher_UpdatesForm").submit();
            }
        });
    }

        function Voucher_Updates_AjaxSuccess(data)
        {
            HideLoader();
            DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            dontaskpopupcloseconfirmation = true;
            $("#Dynamic_Content_popup").dxPopup("hide");
            RefreshGridView("@Model.GridToRefresh");
        }
        function OnSplVchrRefsListSelectionChanged_VoucherUpdate(e)
        {
            var listBox = $("#ListSpecialVoucherRef_VoucherUpdate").dxList("instance");
            var selecteditemkey = listBox.option("selectedItemKeys")
            if (selecteditemkey != null && selecteditemkey.length > 0)
            {
                $("#ChosenSpecialVoucherReference_VoucherUpdate").val(selecteditemkey.join("|"));
            }
            else
            {
                $("#ChosenSpecialVoucherReference_VoucherUpdate").val("");
            }
        }
    </script>
    </div>