<div class="Advances_WindowProfile_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    @using ConnectOneMVC.Models
    @model ConnectOneMVC.Areas.Profile.Models.AdvancesParam

    @{
        ViewBag.Test = Model.Tag;
        bool IsVisible = Model != null && (Model.Tag.ToString().Trim() == "_View" || Model.Tag.ToString().Trim() == "_Delete") ? true : false;
        var EnaDisa = Model != null && (Model.Tag.ToString().Trim() == "_View" || Model.Tag.ToString().Trim() == "_Delete") ? "disabled" : null;
        var BASE = new Common_Lib.Common();
        var SessionGUID = Request.QueryString["SessionGUID"];
        if (!string.IsNullOrEmpty(SessionGUID))
        {
            List<BaseModel> ListOfBase = new List<BaseModel>();

            if (HttpContext.Current.Session["BASEClass"] == null)
            {
                BASE = new Common_Lib.Common();
                BASE.Get_Configure_Setting();
            }
            else
            {
                try
                {
                    ListOfBase = HttpContext.Current.Session["BASEClass"] as List<BaseModel>;
                    var basedata = ListOfBase.FirstOrDefault(x => x.CenterGuid == Guid.Parse(SessionGUID.ToString()));
                    if (basedata == null)
                    {
                        BASE = new Common_Lib.Common();
                        BASE.Get_Configure_Setting();
                    }
                    else
                    {
                        BASE = basedata.BASE;
                    }
                }
                catch (Exception e)
                {
                    BASE = new Common_Lib.Common();
                    BASE.Get_Configure_Setting();
                }
            }
        }
        else
        {
            BASE = new Common_Lib.Common();
            BASE.Get_Configure_Setting();
        }
    }

    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();

        bool Advances_AdresBookListRight = (bool)ViewData["Advances_AdresBookListRight"];
    }

    <style>
        .control-label {
            text-align: left !important;
        }

        #AdvanceDate {
            width: 100% !important;
        }

        .star_text {
            font-size: 15px;
            font-weight: bold;
            margin-left: 10px;
        }

        .star_color {
            color: #ffd13f;
        }

        .margL12 {
            margin-left: 12px !important;
        }

        .margT9 {
            margin-top: 9px !important;
        }
    </style>
    <link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
    <div id="Frm_Advances_Window_Content">
        @using (Ajax.BeginForm("Frm_Advances_Window", "Profile",
                                                                                                                                                         new AjaxOptions
                                                                                                                                                         {
                                                                                                                                                             HttpMethod = "POST",
                                                                                                                                                             UpdateTargetId = "Frm_Advances_Window_Content",
                                                                                                                                                             InsertionMode = InsertionMode.InsertAfter,
                                                                                                                                                             OnBegin = "AjaxBeginFormPost",
                                                                                                                                                             OnSuccess = "AdvancesAjaxSuccessForm"
                                                                                                                                                         },
                                                                                                                                                         new
                                                                                                                                                         {
                                                                                                                                                             id = "AdvancesvalidationForm",
                                                                                                                                                             @class = "edit_form"
                                                                                                                                                         }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Tag)
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.PartyEditDate)
            @Html.HiddenFor(x => x.EditDate)

            @Html.HiddenFor(x => x.RecID)
            var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();

            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="full-width-header-bg2">
                    <div class="row">

                        <div class="col-sm-8">
                            <h3 class="popuphead"><i class="far fa-edit"></i> Advances Given <span class="star_text"><i class="fas fa-star star_color"></i> As on 31 march, 2015</span></h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align margT9">
                                <i class="fas fa-info-circle"></i> Red Fields are mandatory
                            </h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div><!--[]-->
                @*<div class="row">
                    <div class="col-sm-6">
                        <h3 style="text-align: left;margin: 0;">*@
                @*<lable style="text-align:center;color:blue;">
                    As on @BASE._open_Year_Sdt.ToShortDateString()*@
                @*</h3>
                        </div>
                        <div class="col-sm-6">
                            <h5 style="text-align: right;color: red;margin: 5px 0 0 0;"> Red Fields are mandatory</h5>
                        </div>

                    </div>*@

                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-2 pll">
                                @Html.LabelFor(model => model.ItemID, htmlAttributes: new { @class = "control-label text-red" })
                            </div>
                            <div class="col-md-10 prm">
                                @(Html.DevExtreme().SelectBox()
                                                                        .ID("ItemID")
                                                                        .Name("ItemID")
                                                                        .DataSource(d => d.Mvc().Controller("Advances").LoadAction("LookUp_GetItemList").Key("ID"))
                                                                        .DisplayExpr("NAME")
                                                                        .ValueExpr("ID")
                                                                        .Value(Model.ItemID)
                                                                        .SearchEnabled(true)
                                                                        .ReadOnly(IsVisible)
                            )

                                @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-red" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="form-field">
                            <div class="container-fluid mb_height25">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                        @Html.LabelFor(model => model.PartyID, htmlAttributes: new { @class = "control-label text-red" })

                                    </div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 prm pll1">
                                        @(Html.DevExtreme().DropDownBox()
                                      .ID("PartyID")
                                      .Name("PartyID")
                                      .Value(Model.PartyID)
                                      .ValueExpr("ID")
                                      .DisplayExpr("NAME")
                                      .DataSource(d => d.Mvc().Controller("Advances").LoadAction("LookUp_GetPartyList_Advances").Key("ID"))
                                      .Placeholder("Select Party")
                                      .ShowClearButton(true)
                                      .ReadOnly(IsVisible)
                                      .OnValueChanged("LookUp_GetPartyList_Advances_ChangeEvent")
                                      .ContentTemplate(@<text>
                                        @Html.Partial("LookUp_GetPartyList_Advances")
                                    </text>)
                                    )

                                        @Html.ValidationMessageFor(model => model.PartyID, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[]-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid mb_height25 text-right">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 prm">
                                        @(Html.DevExtreme().Button()
.ID("manageparty")
.Text("Manage Party")
.TabIndex(-1)
.Type(DevExtreme.AspNet.Mvc.ButtonType.Normal)
.OnClick("Advances_Manage_Party")
                                    )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[]-->

                </div>

                <div class="row">
                    <div class="">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                            @Html.LabelFor(model => model.AdvanceDate, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">

                                            @(Html.DevExtreme().DateBoxFor(x => x.AdvanceDate)
.Name("AdvanceDate")
.ID("AdvanceDate")
.Placeholder("dd-MM-yyyy")
.Type(DateBoxType.Date)
.DisplayFormat("dd/MM/yyyy")
.Value(Model.AdvanceDate)
.ReadOnly(IsVisible)
                                        )
                                            @Html.ValidationMessageFor(model => model.AdvanceDate, "", new { @class = "text-red" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[1]-->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-field">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label text-red" })

                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 prm">

                                            @(Html.DevExtreme().NumberBox()
.ID("Amount")
.Name("Amount")
.Placeholder("Type Amount...")
.Value(Convert.ToDouble(Model.Amount))
.ReadOnly(IsVisible)
                                        )
                                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[2]-->
                    </div>
                </div>

                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-2 pll">
                                @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-10 prm">
                                @(Html.DevExtreme().TextBox()
                                                                .ID("Purpose")
                                                                .Name("Purpose")
                                                                .CustomTextBox(true)/*Redmine Bug #129765 fixed*/
                                                                .MaxLength(250)
                                                                .Placeholder("Reason")
                                                                .Value(Model.Purpose)
                                                                .ShowClearButton(true)
                                                                .ReadOnly(IsVisible)
                            )

                                @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-red" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-2 pll">
                                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-10 prm">
                                @(Html.DevExtreme().TextBox()
                                                            .ID("Remarks")
                                                            .Name("Remarks")
                                                            .CustomTextBox(true)/*Redmine Bug #129765 fixed*/
                                                            .Placeholder("Other Details")
                                                            .Value(Model.Remarks)
                                                            .MaxLength(250)
                                                            .ShowClearButton(true)
                                                            .ReadOnly(IsVisible)
                            )

                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-red" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row prm" style="padding: 10px 0;">
                    <div class="col-sm-8">
                        <div class="">
                            <div class="container-fluid">
                                <div class="send_message margL12">
                                    <img src="~/Content/image/send-icon.png" class="madhuban-req" />
                                    Send Your Request to Madhuban
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 paddR4">
                        <div>
                            @if (Model.Tag.ToString().Trim() == "_View")
                            {
                                <div class="" style="float: right;padding-right:0px;">
                                    @(Html.DevExtreme().Button()
                                                                        .ID("AdvancesCancel")
                                                                        .Text("Close")
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            $("#popup_frm_Advances_Window").dxPopup("hide");
                                                                            }
                                                                        </text>)
                                )
                                </div>
                            }
                            @if (Model.Tag.ToString().Trim() == "_Edit")
                            {
                                <div class="" style="float: right;padding-right:0px;">
                                    @(Html.DevExtreme().Button()
                                                                    .ID("AdvancesEdit")
                                                                    .Text("Save")
                                                                    .FocusStateEnabled(true)

                                                                    .UseSubmitBehavior(true)
                                )
                                    @(Html.DevExtreme().Button()
                                                                    .ID("AdvancesCancel")
                                                                    .Text("Cancel")
                                                                    .OnClick(@<text>
                                                                        function () {
                                                                        $("#popup_frm_Advances_Window").dxPopup("hide");
                                                                        }
                                                                    </text>)
                                )
                                </div>
                            }

                            @if (Model.Tag.ToString().Trim() == "_Delete")
                            {
                                <div class="" style="float: right;padding-right:0px;">
                                    @(Html.DevExtreme().Button()
                                                                    .ID("AdvancesDelete")
                                                                    .Text("Delete")
                                                                    .FocusStateEnabled(true)

                                                                    .UseSubmitBehavior(true)
                                )
                                    @(Html.DevExtreme().Button()
                                                                    .ID("AdvancesCancel")
                                                                    .Text("Cancel")
                                                                    .FocusStateEnabled(true)
                                                                    .OnClick(@<text>
                                                                        function () {
                                                                        $("#popup_frm_Advances_Window").dxPopup("hide");
                                                                        }
                                                                    </text>)
                                )
                                </div>
                            }

                            @if (Model.Tag.ToString().Trim() == "_New")
                            {
                                <div class="" style="float: right;padding-right:0px;">
                                    @(Html.DevExtreme().Button()
                                                                    .ID("AdvancesEdit")
                                                                    .Text("Save")
                                                                    .FocusStateEnabled(true)

                                                                    .UseSubmitBehavior(true)
                                )
                                    @(Html.DevExtreme().Button()
                                                                    .ID("AdvancesCancel")
                                                                    .Text("Cancel")
                                                                    .FocusStateEnabled(true)
                                                                    .OnClick(@<text>
                                                                        function () {
                                                                        $("#popup_frm_Advances_Window").dxPopup("hide");
                                                                        }
                                                                    </text>)
                                )
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <script>
    function Advances_Manage_Party()
    {
        if ("@Advances_AdresBookListRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
    }
    $(document).ready(function () {
                if ("@Advances_AdresBookListRight" == "False")
                {
	                $("#manageparty").hide();
                }
        TransformTextForDB("AdvancesvalidationForm");//Redmine Bug #129765 fixed
    });
    $("#AdvanceDate").keypress(function (e) {
        e = e || window.event;
        key = e.keyCode || e.which;
        //For Firefox
        if (key == 8 || key == 127 || key == 9)
            return true
        var txt = String.fromCharCode(key);
        var reg = /[0-9-/]/;
        if (reg.test(txt))
            return true;

        e.preventDefault();
        return false;

    });

    </script>
</div>