<div class="AccomChart_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @model System.Data.DataTable
    @{
        var centreId = (string)ViewBag.CentreId;
        if (String.IsNullOrWhiteSpace(centreId) == false)
        {
            Layout = "~/Views/Shared/_NoLoginAllLayout.cshtml";
        }
        string chartInstanceID = (string)ViewBag.chartInstanceID;
        string summary_type = (string)ViewBag.summary_type;
    }
    <style>
        .allotted {
            background-color: Plum;
            color: black;
            margin-bottom: -12px;
            position: relative;
            top: -7px;
            height: 25px;
            bottom: -5px;
            padding: 7px 5px;
            left: -5px;
            width: calc(100% + 10px);
        }

        .filled {
            background-color: #FF7B54;
            color: black;
            margin-bottom: -12px;
            position: relative;
            top: -7px;
            height: 25px;
            bottom: -5px;
            padding: 7px 5px;
            left: -5px;
            width: calc(100% + 10px);
        }

        #refreshInterval_AccomChart {
            max-width: 40px;
            display: inline-block
        }

            #refreshInterval_AccomChart + b {
                display: inline-block
            }

        .show_Btn {
            padding: 16px 0 0 0;
            margin-right: 20px;
            max-width: 80px;
        }

            .show_Btn .form-field {
                border-right: 1px solid #ddd
            }

        @@media (max-width:768px) {
            .show_Btn {
                padding: 0 13px
            }

                .show_Btn .form-field {
                    border-right: none;
                }

            #accomChart_Filters_Div > div {
                margin-bottom: 5px;
            }

                #accomChart_Filters_Div > div.set_Interval {
                    padding: 2px 17px
                }
        }
    </style>
    <script>
         $(document).ready(function ()
         {
             if ("@centreId" != "")
             {
                 $('#Close_Btn_AccomChart').hide();
             }
        });
         function ListPreview_Btn_AccomChart_Click()
         {
             ShowLoader();
             OpenPopup("ExportOptions_modal", "Export Option", "@Url.Action("Frm_Export_Options", "ChartReports", new { @area = "Facility" })?GridName=AccommChartListGrid", "auto", 130);
         }
        function closeChartAccomChartInfo()
        {
            $(".TabPanalMenu-tabs .active span").click();
        }
         $(".TabPanalMenu-tabs .active span").on("click", function () {
            $.ajax({
                type: 'GET',
                url: "/Facility/ChartReports/SessionClearChartReports",
                cache: false,
                data: { SummaryType:"@summary_type"}
            });
        });
         function AccommChart_ChartReports_BeginCallback(s, e) {
            e.customArgs["command"] = e.command;
            e.customArgs["Chart_Instance_ID"] = "@chartInstanceID";
            e.customArgs["summary_type"] = "@summary_type";
        }
         function AccommChart_ChartReports_Init(s, e) {
            //s.ExpandAll();
            AccommChart_ChartReports_AdjustSize();
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                AccommChart_ChartReports_AdjustSize();
            });
        }
         function AccommChart_ChartReports_AdjustSize() {
            var height = (document.documentElement.clientHeight * 80) / 100;
            try {
                AccommChartListGrid.SetHeight(height);
            }
            catch (err) {
            }
        }

         function AccommChart_ChartReports_FocusedRowChanged(s, e)
         {

         }
         function AccommChart_ChartReports_ContextMenuFunction(s, e)
         {
             e.handled = true;
             if (e.item.name == "Refresh")
             {
                 ShowAccomChart();
             }
             if (e.item.name == "Close")
             {
                 closeChartAccomChartInfo();
             }
         }
    </script>
    <div class="report_header_div_main">
        <div class="clearfix">
            <div class="report_header_div">
                <label class="report_header_label">@ViewBag.summary_type</label>
            </div>

            <div class="report_button_div">
                @(Html.DevExtreme().Button().ID("ListPreview_Btn_AccomChart").Text("List Preview").Icon("save").OnClick("ListPreview_Btn_AccomChart_Click").Visible(false))
                @(Html.DevExtreme().Button().ID("Close_Btn_AccomChart").Text("Close").Icon("clear").OnClick("closeChartAccomChartInfo") )
            </div>
        </div>
        <div class="col-md-12 no-padding" id="accomChart_gridDiv">
            <form>

                <div id="accomChart_Filters_hdr" class="filhdr" onclick="accomChart_FilterToggle()">
                    <span>Click to Hide Filters</span>
                    <i class="bx bx-up-arrow-alt"></i>
                </div>

                <script>
                    function accomChart_FilterToggle() {
                        var div = document.getElementById("accomChart_Filters_Div");
                        if (div.style.display !== "none") {
                            div.style.display = "none";
                            $("#accomChart_Filters_hdr").find('span').text("Click to Show Filters");
                            $("#accomChart_Filters_hdr").find('i').removeClass('bx-up-arrow-alt').addClass('bx-down-arrow-alt');
                        }
                        else {
                            div.style.display = "block";
                            $("#accomChart_Filters_hdr").find('span').text("Click to Hide Filters")
                            $("#accomChart_Filters_hdr").find('i').removeClass('bx-down-arrow-alt').addClass('bx-up-arrow-alt');
                        }

                    }
                </script>
                <div class="row" style="padding:10px;" id="accomChart_Filters_Div">
                    <div class="col-sm-2">
                        <div class="form-field">
                            <label class="control-label text-red" for="user">From Date:</label>
                            @(Html.DevExtreme().DateBox().CustomDateBox().ID("fromdate_AccChart").Name("fromdate_AccChart").ShowClearButton(true).Value(ViewBag.fromdate)
                                .Type(DateBoxType.Date).Placeholder("From Date").Min(new DateTime(1990, 01, 01)).Max(new DateTime(2038, 12, 31))
                            )
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-field">
                            <label class="control-label text-red" for="user">To Date:</label>
                            @(Html.DevExtreme().DateBox().CustomDateBox().ID("todate_AccChart").Name("todate_AccChart").ShowClearButton(true).Value(ViewBag.todate)
                                    .Type(DateBoxType.Date).Placeholder("To Date").Min(new DateTime(1990, 01, 01)).Max(new DateTime(2038, 12, 31))
                                )
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-field">
                            <label class="control-label text-white" for="user">Building Name:</label><br />
                            @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Chart_BuildingName_AccChart").Name("Chart_BuildingName_AccChart")
                                .DataSource(d => d.Mvc().Controller("Chart").LoadAction("LookUp_ServicePlaceNamesList").Key("REC_ID")).Value(ViewBag.buildingid)
                                .DisplayExpr("BUILDING_NAME").ValueExpr("REC_ID")
                                )
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <label>Service Report/Event</label>
                        @(Html.DevExtreme().DropDownBox().CustomDropDown().Name("Chart_Event_AccomChart").ID("Chart_Event_AccomChart").Placeholder("Choose..").DisplayExpr("Name").ValueExpr("ID")
                                   .DataSource(d => d.Mvc().Controller("Chart").LoadAction("LookUp_Get_EventsList").Key("ID").LoadMode(DataSourceLoadMode.Raw))
                            .ContentTemplate(@<text>
                                @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Chart_Event_AccomChart_datagrid")
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("Name").Caption("Name");
                                        columns.Add().DataField("ID").Visible(false);
                                        columns.Add().DataField("ProjID").Visible(false);
                                        columns.Add().DataField("Type");
                                        columns.Add().DataField("FromDate").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
                                        columns.Add().DataField("ToDate").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
                                        columns.Add().DataField("Venue");
                                    })
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .FilterRow(s=>s.Visible(false))
                                    .OnSelectionChanged("function(selectedItems)" +
                                    "{ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);}component.close();}"))
                            </text>).OnValueChanged("Chart_Event_AccomChart_ValueChange").Value(ViewBag.eventid)
                        )
                    </div>
                    <script>

                        async function Chart_Event_AccomChart_ValueChange(e, FirstCall = false) {
                            var value;
                            var DG = $("#Chart_Event_AccomChart_datagrid").dxDataGrid("instance");
                            if (e) {
                                value = e.value;
                                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                                    DG.clearSelection();

                                    return;
                                }
                            }
                            else {
                                value = $("#Chart_Event_AccomChart").dxDropDownBox("option", "value");
                            }
                            await DG.selectRows(value);
                        }
                    </script>
                    <div class="col-sm-1 show_Btn">
                        <div class="form-field">
                            <label class="control-label text-white" for="user"></label>
                            @(Html.DevExtreme().Button().ID("btnShowSummary_AccChart").Text("Show").OnClick("ShowAccomChart"))
                        </div>
                    </div>
                    <script>
                        function ShowAccomChart() {
                            var fromdate = $("#fromdate_AccChart").dxDateBox("instance").option("value")
                            var todate = $("#todate_AccChart").dxDateBox("instance").option("value")
                            if (fromdate == null || fromdate == "" || fromdate == undefined) {
                                DevExpress.ui.notify({ message: 'From Date is mandatory', width: 300, shading: true, position: 'center' }, "error", 2000);
                                return;
                            }
                            if (todate == null || todate == "" || todate == undefined) {
                                DevExpress.ui.notify({ message: 'To Date is mandatory', width: 300, shading: true, position: 'center' }, "error", 2000);
                                return;
                            }
                            if (fromdate > todate) {
                                DevExpress.ui.notify({ message: 'From Date should not be greater than To Date', width: 300, shading: true, position: 'center' }, "error", 2000);
                                return;
                            }
                            fromDate = JS_Json_Date_To_ddMMyyyy($("#fromdate_AccChart").dxDateBox("instance").option("value"));
                            toDate = JS_Json_Date_To_ddMMyyyy($("#todate_AccChart").dxDateBox("instance").option("value"));
                            var building = $("#Chart_BuildingName_AccChart").dxSelectBox("instance").option("value")
                            var eventid = $("#Chart_Event_AccomChart").dxDropDownBox("option", "value");
                            var summary_type_AccomChart = "@summary_type" //Accomodation Chart
                            AccommChartListGrid.PerformCallback({ "fromdate": fromDate, "todate": toDate, "buildingid": building, "EventId": eventid, "summary_type": summary_type_AccomChart,  "command": "REFRESH" });
                        }
                    </script>
                    <div class="pull-left set_Interval" style="display:none">
                        <div class="form-field">
                            <label class="control-label text-white" for="user">Set Interval</label><br />
                            @(Html.DevExtreme().NumberBox().ID("refreshInterval_AccomChart").Value(5).Format("#0"))
                            <b>Seconds</b>
                        </div>
                    </div>
                    <div class="col-sm-2" style="margin-top:4px;display:none">
                        <div class="form-field">
                            <label class="control-label text-white" for="user"></label><br />
                            @(Html.DevExtreme().Button().ID("StartAutoRefresh_AccChart").Text("Start Auto Refresh").Hint("Change Period").OnClick("StartAutoRefresh_AccomChart"))
                            @(Html.DevExtreme().Button().ID("StopAutoRefresh_AccChart").Text("Stop").Hint("Change Period").OnClick("StopAutoRefresh_AccomChart"))
                        </div>
                    </div>

                    <script>
                        var timer_AccomChart;
                        function StartAutoRefresh_AccomChart(fn, timeout, interval) {
                            timer_AccomChart = setInterval(function () {
                                if ($("#contact_Frm_AccommodationChart_Info").hasClass('active')||"@centreId".length>0) {
                                    ShowAccomChart()
                                } else {
                                    StopAutoRefresh_AccomChart()
                                }
                            }, parseInt($("#refreshInterval_AccomChart").dxNumberBox("instance").option("value")) * 1000)

                        }
                        function StopAutoRefresh_AccomChart() {
                            clearInterval(timer_AccomChart)
                        }
                    </script>
                </div>
                <div class="parent_table">
                    @Html.Partial("Frm_AccommodationChart_Info_Grid", Model)
                </div>
            </form>
        </div>
    </div>
</div>
