@{ 
    string GridName = (string)ViewBag.GridName;
}
<div class="ChartReportsExport_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress.XtraReports.UI;
    <div>
        @(Html.DevExtreme().Button()
                    .ID("ChartReports_ExportGridDatapdf")
                    .Text("Export to PDF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportPDF")
                    .Visible(true)
                    .Width(120)
        )<br />

        @(Html.DevExtreme().Button()
                    .ID("ChartReports_ExportGridDataxls")
                    .Text("Export to XLS")
                    //.Icon("fa-file-excel-o")
                    .OnClick("ExportXLS")
                    .Visible(true)
                    .Width(120)
        )<br />
        @(Html.DevExtreme().Button()
                    .ID("ChartReports_ExportGridDataxlsx")
                    .Text("Export to XLSX")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportXLSX")
                    .Visible(true)
                    .Width(120)
        )<br />

        @(Html.DevExtreme().Button()
                    .ID("ChartReports_ExportGridDatadocx")
                    .Text("Export to DOCX")
                    //.Icon("export_exporttodocx_16x16office2013")
                    .OnClick("ExportDOCX")
                    .Visible(true)
                    .Width(120)
        )<br />

        @(Html.DevExtreme().Button()
                    .ID("ChartReports_ExportGridDatartf")
                    .Text("Export to RTF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportRTF")
                    .Visible(true)
                    .Width(120)
        )<br />

        @(Html.DevExtreme().Button()
                    .ID("ChartReports_ExportGridDatacsv")
                    .Text("Export to CSV")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("ExportCSV")
                    .Visible(true)
                    .Width(120)
        )
    </div>
    <script>

        function ExportPDF() {
            ASPxClientControl.GetControlCollection().GetByName("@GridName").ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#ExportOptions_modal").dxPopup("hide");
        }
        function ExportXLS() {
            ASPxClientControl.GetControlCollection().GetByName("@GridName").ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#ExportOptions_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            ASPxClientControl.GetControlCollection().GetByName("@GridName").ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#ExportOptions_modal").dxPopup("hide");
        }
        function ExportCSV() {
            ASPxClientControl.GetControlCollection().GetByName("@GridName").ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#ExportOptions_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            ASPxClientControl.GetControlCollection().GetByName("@GridName").ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#ExportOptions_modal").dxPopup("hide");
        }
        function ExportRTF() {
            ASPxClientControl.GetControlCollection().GetByName("@GridName").ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#ExportOptions_modal").dxPopup("hide");
        }
    </script>

</div>
