<div class="FoodDetail_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model System.Data.DataSet
    @{
        var centreId = (string)ViewBag.CentreId;
        if (String.IsNullOrWhiteSpace(centreId) == false)
        {
            Layout = "~/Views/Shared/_NoLoginAllLayout.cshtml";
        }
        string chartInstanceID = (string)ViewBag.chartInstanceID;
        string summary_type = (string)ViewBag.summary_type;
        string Theme = (string)ViewBag.Theme;
    }
    <style>
        #refreshInterval_FoodDetail {
            max-width: 40px;
            display: inline-block
        }

            #refreshInterval_FoodDetail + b {
                display: inline-block
            }

        .show_Btn {
            padding: 16px 0 0 0;
            margin-right: 20px;
            max-width: 80px;
        }

            .show_Btn .form-field {
                border-right: 1px solid #ddd
            }

        @@media (max-width:768px) {
            .show_Btn {
                padding: 0 13px
            }

                .show_Btn .form-field {
                    border-right: none;
                }

            #FoodDetail_Filters_Div > div {
                margin-bottom: 5px;
            }

                #FoodDetail_Filters_Div > div.set_Interval {
                    padding: 2px 17px
                }
        }
    </style>
    <script>
        $(document).ready(function ()
        {
            if ("@centreId" != "")
            {
                $('#Close_Btn_FoodDetail').hide();
            }
        });
        function ListPreview_Btn_FoodDetail_Click()
        {
            ShowLoader();
            OpenPopup("ExportOptions_modal", "Export Option", "@Url.Action("Frm_Export_Options", "ChartReports", new { @area = "Facility" })?GridName=FoodDetailListGrid", "auto",130);
        }
        function Close_Btn_FoodDetail_Click()
        {
            $(".TabPanalMenu-tabs .active span").click();
        }
        $(".TabPanalMenu-tabs .active span").on("click", function () {
            $.ajax({
                type: 'GET',
                url: "/Facility/ChartReports/SessionClearChartReports",
                cache: false,
                data: { SummaryType:"@summary_type"}
            });
        });
        function FoodDetail_ChartReports_Init(s, e) {
            //s.ExpandAll();
            FoodDetail_ChartReports_AdjustSize();
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                FoodDetail_ChartReports_AdjustSize();
            });
        }
        function FoodDetail_ChartReports_AdjustSize()
        {
            debugger;
            var height = (document.documentElement.clientHeight * 75) / 100;
            try
            {
                FoodDetailListGrid.SetHeight(height);
            }
            catch (err)
            {
            }
        }
        function FoodDetail_ChartReports_FocusedRowChanged(s, e) {

        }
        function FoodDetail_ChartReports_BeginCallback(s, e)
        {
            e.customArgs["command"] = e.command;
            e.customArgs["Chart_Instance_ID"] = "@chartInstanceID";
            e.customArgs["summary_type"] = "@summary_type";
        }
        function FoodDetail_ChartReports_ContextMenuFunction(s, e) {
            e.handled = true;
            if (e.item.name == "Refresh") {
                ShowFoodDetail();
            }
            if (e.item.name == "Close") {
                Close_Btn_FoodDetail_Click();
            }
        }
    </script>
    <script> /*FoodDetails_Arrival grid call back functions*/
        function FoodDetail_Arrival_ChartReports_Init(s, e) {
            //s.ExpandAll();
            FoodDetail_Arrival_ChartReports_AdjustSize();
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                FoodDetail_Arrival_ChartReports_AdjustSize();
            });
        }
        function FoodDetail_Arrival_ChartReports_AdjustSize()
        {
            debugger;
            var height = (document.documentElement.clientHeight * 75) / 100;
            try
            {
                FoodDetailListArrivalGrid.SetHeight(height);
            }
            catch (err)
            {
            }
        }
        function FoodDetail_Arrival_ChartReports_FocusedRowChanged(s, e) {

        }
        function FoodDetail_Arrival_ChartReports_BeginCallback(s, e)
        {
            e.customArgs["command"] = e.command;
            e.customArgs["Chart_Instance_ID"] = "@chartInstanceID";
            e.customArgs["summary_type"] = "@summary_type";
        }
        function FoodDetail_Arrival_ChartReports_ContextMenuFunction(s, e) {
            e.handled = true;
            if (e.item.name == "Refresh") {
                ShowFoodDetail();
            }
            if (e.item.name == "Close") {
                Close_Btn_FoodDetail_Click();
            }
        }
    </script>
    <div>
        <div class="report_header_div_main">
            <div class="clearfix">
                <div class="report_header_div">
                    <label class="report_header_label">@ViewBag.summary_type</label>
                </div>
                <div class="report_button_div">
                    @(Html.DevExtreme().Button().ID("ListPreview_Btn_FoodDetail").Text("List Preview").Icon("save").OnClick("ListPreview_Btn_FoodDetail_Click").Visible(false))
                    @(Html.DevExtreme().Button().ID("Close_Btn_FoodDetail").Text("Close").Icon("clear").OnClick("Close_Btn_FoodDetail_Click") )
                </div>
            </div>
            <div class="col-md-12 no-padding" id="FoodDetail_gridDiv">
                <form>
                    <div id="FoodDetail_Filters_hdr" class="filhdr" onclick="FoodDetail_FilterToggle()">
                        <span>Click to Hide Filters</span>
                        <i class="bx bx-up-arrow-alt"></i>
                    </div>
                    <script>
                        function FoodDetail_FilterToggle() {
                            var div = document.getElementById("FoodDetail_Filters_Div");
                            if (div.style.display !== "none") {
                                div.style.display = "none";
                                $("#FoodDetail_Filters_hdr").find('span').text("Click to Show Filters");
                                $("#FoodDetail_Filters_hdr").find('i').removeClass('bx-up-arrow-alt').addClass('bx-down-arrow-alt');
                            }
                            else {
                                div.style.display = "block";
                                $("#FoodDetail_Filters_hdr").find('span').text("Click to Hide Filters")
                                $("#FoodDetail_Filters_hdr").find('i').removeClass('bx-down-arrow-alt').addClass('bx-up-arrow-alt');
                            }

                        }
                    </script>
                    <div class="row" style="padding:10px;" id="FoodDetail_Filters_Div">
                        <div class="col-sm-2">
                            <div class="form-field">
                                <label class="control-label text-red" for="user">Date:</label>
                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("fromdate_FoodDetail").Name("fromdate_FoodDetail").OnValueChanged("fromdate_FoodDetail_valueChange").Value(ViewBag.fromdate)
                                .Type(DateBoxType.Date).Placeholder("From Date").Min(new DateTime(1990, 01, 01)).Max(new DateTime(2038, 12, 31))
                            )
                            </div>
                        </div>
                        <div class="col-sm-2" style="display:none">
                            <div class="form-field">
                                <label class="control-label text-red" for="user">To Date:</label>
                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("todate_FoodDetail").Name("todate_FoodDetail").ShowClearButton(true).Value(ViewBag.todate)
                                    .Type(DateBoxType.Date).Placeholder("To Date").Min(new DateTime(1990, 01, 01)).Max(new DateTime(2038, 12, 31))
                                )
                            </div>
                        </div>
                        <div class="col-sm-3" style="display:none">
                            <label>Service Report/Event</label>
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().Name("Event_FoodDetail").ID("Event_FoodDetail").Placeholder("Choose..").DisplayExpr("Name").ValueExpr("ID")
                                   .DataSource(d => d.Mvc().Controller("Chart").LoadAction("LookUp_Get_EventsList").Key("ID").LoadMode(DataSourceLoadMode.Raw))
                            .ContentTemplate(@<text>
                                @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Event_FoodDetail_datagrid")
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("Name").Caption("Name");
                                        columns.Add().DataField("ID").Visible(false);
                                        columns.Add().DataField("ProjID").Visible(false);
                                        columns.Add().DataField("Type");
                                        columns.Add().DataField("FromDate").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
                                        columns.Add().DataField("ToDate").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
                                        columns.Add().DataField("Venue");
                                    })
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .FilterRow(s=>s.Visible(false))
                                    .OnSelectionChanged("function(selectedItems)" +
                                    "{ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);}component.close();}"))
                            </text>).OnValueChanged("Event_FoodDetail_ValueChange").Value(ViewBag.eventid)
                        )
                        </div>
                        <script>
                            function fromdate_FoodDetail_valueChange(e) {
                                //if (e.value != null) {
                                //    var todate = new Date(e.value)
                                //    todate.setDate(todate.getDate() + 1)
                                //    $("#todate_FoodDetail").dxDateBox("option", "value", todate)
                                //}
                            }
                            async function Event_FoodDetail_ValueChange(e, FirstCall = false) {
                                var value;
                                var DG = $("#Event_FoodDetail_datagrid").dxDataGrid("instance");
                                if (e) {
                                    value = e.value;
                                    if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                                        DG.clearSelection();
                                        return;
                                    }
                                }
                                else {
                                    value = $("#Event_FoodDetail").dxDropDownBox("option", "value");
                                }
                                await DG.selectRows(value);
                            }
                        </script>
                        <div class="col-sm-1 show_Btn">
                            <div class="form-field">
                                <label class="control-label text-white" for="user"></label>
                                @(Html.DevExtreme().Button().ID("btnShowSummary_FoodDetail").Text("Show").OnClick("ShowFoodDetail"))
                            </div>
                        </div>
                        <script>
                            function ShowFoodDetail()
                            {
                                var fromDate = $("#fromdate_FoodDetail").dxDateBox("instance").option("value");
                                var toDate = $("#todate_FoodDetail").dxDateBox("instance").option("value");
                                if (fromDate == null || fromDate == "" || fromDate == undefined) {
                                    DevExpress.ui.notify({ message: 'From Date is mandatory', width: 300, shading: true, position: 'center' }, "error", 2000);
                                    return;
                                }
                                if (toDate == null || toDate == "" || toDate == undefined) {
                                    DevExpress.ui.notify({ message: 'To Date is mandatory', width: 300, shading: true, position: 'center' }, "error", 2000);
                                    return;
                                }
                                //if (fromDate > toDate) {
                                //    DevExpress.ui.notify({ message: 'From Date should not be greater than To Date', width: 300, shading: true, position: 'center' }, "error", 2000);
                                //    return;
                                //}
                                var eventid = $("#Event_FoodDetail").dxDropDownBox("option", "value");
                                fromDate = JS_Json_Date_To_ddMMyyyy(fromDate);
                                toDate = JS_Json_Date_To_ddMMyyyy(toDate);
                                var summary_type_FoodDetail = "@summary_type"
                                FoodDetailListGrid.PerformCallback({
                                    "fromdate": fromDate, "todate": toDate, "EventID": eventid, "summary_type": summary_type_FoodDetail, "command": "REFRESH"
                                });
                                FoodDetailListArrivalGrid.PerformCallback({
                                    "fromdate": fromDate, "todate": toDate, "EventID": eventid, "summary_type": summary_type_FoodDetail, "command": "REFRESH"
                                });

                            }
                        </script>
                        @if (Theme == "")
                        {
                            <div class="pull-left set_Interval" style="">
                                <div class="form-field">
                                    <label class="control-label text-white" for="user">Set Interval</label><br />
                                    @(Html.DevExtreme().NumberBox().ID("refreshInterval_FoodDetail").Value(5).Format("#0"))
                                    <b>Seconds</b>
                                </div>
                            </div>
                            <div class="col-sm-2" style="margin-top:4px;">
                                <div class="form-field">
                                    <label class="control-label text-white" for="user"></label><br />
                                    @(Html.DevExtreme().Button().ID("StartAutoRefresh_FoodDetail").Text("Start Auto Refresh").OnClick("StartAutoRefresh_FoodDetail"))
                                    @(Html.DevExtreme().Button().ID("StopAutoRefresh_FoodDetail").Text("Stop").OnClick("StopAutoRefresh_FoodDetail"))
                                </div>
                            </div>
                        }
                            <div class="col-sm-1">
                                <div class="form-field">
                                    <label class="control-label text-white" for="user"></label><br />

                                </div>
                            </div>
                            <script>
                            var timer_FoodDetail;
                            function StartAutoRefresh_FoodDetail(fn, timeout, interval) {
                                timer_FoodDetail = setInterval(function () {
                                    if ($("#contact_Frm_FoodDetail_Info").hasClass('active') || "@centreId".length>0) {
                                        ShowFoodDetail()
                                    } else {
                                        StopAutoRefresh_FoodDetail()
                                    }
                                }, parseInt($("#refreshInterval_FoodDetail").dxNumberBox("instance").option("value")) * 1000)
                            }
                            function StopAutoRefresh_FoodDetail() {
                                clearInterval(timer_FoodDetail)
                            }
                            </script>
                        </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="clearfix">
                                <div class="report_header_div">
                                    <label class="report_header_label">Total Registrations</label>
                                </div>
                            </div>
                                @Html.Partial("Frm_FoodDetail_Info_Grid", Model.Tables[0])
                            
                        </div>

                        <div class="col-sm-6" id="Arrival_food_detail_2ndTbl">
                            <div class="clearfix">
                                <div class="report_header_div">
                                    <label class="report_header_label">Actual Arrival</label>
                                </div>
                            </div>
                            @Html.Partial("Frm_FoodDetail_Info_Arrival_Grid", Model.Tables[1])

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
