<div class="AccomShort_Facility_ClearReferences" onkeydown="keydown_AccommShort(event)">
    @using DevExtreme.AspNet.Mvc;
    @*@model System.Data.DataTable*@
    @{
        string ScreenHeaderLabel = "Quick Accommodation";
        var ChartID = ViewBag.Chartid;
        string SessionGUID = Request.QueryString["SessionGUID"];
        string servicePath = ViewBag.ServicePath;
    }
    @*<div id="Accom_Short_ParentDiv">*@   
    <style>
        /*.ar_filter .col-sm-3{padding:0 0 0 10px}*/
        .maxheightPrintSlip > div {
            max-height: 99vh;
        }

        #selectedCount_div {
            font: 500;
            padding-top: 15px;
            padding-right: 5px;
            text-align: right;
        }

        #filtersdiv_AccomShort {
            background: rgb(243, 251, 254);
        }

        .short-sec {
            max-width: 700px;
            margin: 10px auto;
            border: 1px solid #A6C7FF;
            padding: 0 15px;
            border-radius: 5px;
        }

        .short-sec .row.main {
            border-bottom: solid 1px #A6C7FF;
            border-radius: 6px 6px 0 0;
            position: relative
        }

        .short-sec .dx-button {
            background: #4472C4;
            color: #fff;
            border-color: #2F528F
        }

        .short-sec .dx-datagrid {
            background-color: transparent !important;
            margin-top: -25px
        }

        .short-sec label {
            margin-top: 10px
        }

        .short-sec .act-btns .dx-button-has-text .dx-button-content {
            padding: 6px 12px;
        }

        .short-sec .dx-datagrid-header-panel .dx-datagrid-search-panel {
            margin-right: 0
        }

        .room-label {
            position: relative;
            top: 11px;
            z-index: 1;
        }


        .yellow-name {
            background: linear-gradient(to bottom, #fdfdfc 0%,#fff3e5 100%);
            border: 1px Solid #CFCFCF;
            border-radius: 4px;
            padding: 5px 10px;
            font-size: 13px;
            line-height: 18px;
            text-align:center;
        }

        #selectedRooms_AccomShort span, #focusedRoom_AccomShort span, .bed-cal > div {
            display: block;
            border-radius: 4px;
            margin-top: 5px;
            font-size: 14px;
            font-weight: 600;
            color: #991a1a;
            border: 2px dotted;
            padding: 4px;
            text-align: center;
        }

        .bed-cal > div {
            color: #8d5d15
        }

        .selected-rooms .yellow-name {
            margin-top: 17px;
            max-height: 313px;
            overflow: auto
        }


        #Accom_Short_content {
            /*background: #ad1f1f;*/
            padding:0;
        }

        #Accom_Short_content .report_header_label {
            /*color: #fff;*/
            margin: 5px;
        }
        #Accom_Short_content .report_button_div {
            position: absolute;
            right: 0px;
            top: 3px;
            width:max-content;
        }
        #Accom_Short_content .report_button_div .btn{padding:1px 5px; cursor:pointer;}


        #Accom_Short_content .report_header_div {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        .short-sec .col-sm-2 {
            position: relative
        }

        .jhadu {
            position: absolute;
            right: -1px;
            bottom: -1px;
            border: 1px solid #A6C7FF;
            width: 36px;
            background: -webkit-linear-gradient(top, #fbfdff 0%,#9fcdfc 64%,#ceefff 100%);
            cursor: pointer;
            padding: 2px;
            border-radius: 5px 0 0 0;
        }

        .jhadu:hover {
            border-color: #ffae49;
            background: #ffe6ca;
            background: -moz-linear-gradient(top, #ffe6ca 0%, #ffd08e 64%, #ffae49 100%);
            background: -webkit-linear-gradient(top, #ffe6ca 0%,#ffd08e 64%,#ffae49 100%);
            background: linear-gradient(to bottom, #ffe6ca 0%,#ffd08e 64%,#ffae49 100%);
        }
        #RoomNumbersList_AccomShort_datagrid{max-width:none !important}
        #RoomNumbersList_AccomShort_datagrid .dx-toolbar-item-content .dx-button {
            display: none;
        }
        #namesGrid_AccomShort {margin-top:23px;}

        @@media (min-width:520px) {
            .selected-rooms {
                padding-left: 4px
            }

            .short-sec .col-sm-2 {
                padding-left: 0
            }
            #OpenForm_AccomShort {
                margin-top: 28px
            }
            
        }


        @@media (min-width:520px) and (max-width:768px) {
            #OpenForm_AccomShort {
                margin-top: 23px !important
            }
            .short-sec .col-sm-9 {
                width: 75%;
                height: 325px;
                float: left
            }

            .short-sec .col-sm-3 {
                width: 25%;
                float: left
            }

            .short-sec .col-sm-7 {
                width: 40%;
                float: left
            }

            .short-sec .col-sm-5 {
                width: 60%;
                float: left
            }
            .short-sec .col-xs-3 {
                width: 50%;
                float: left
            }
        }

        @@media (max-width:520px) {
            #selectedCount_div {
                text-align: center;
                padding-top: 5px;
            }

            #selectedCount_div label:empty {
                display: none
            }

            .selected-rooms {
                margin: 38px 0 -25px;
                padding-left: 15px
            }

            .short-sec .col-xs-6, .short-sec .col-xs-3 {
                width: 100% !important;
            }

            #OpenForm_AccomShort.dx-button-has-text {
                margin-top: 24px !important;
            }

            #RoomNumbersList_AccomShort_datagrid {
                max-width: 100% !important
            }
        }

    </style>
    <script>
        function keydown_AccommShort(event) {
            event.stopPropagation();
            event.stopImmediatePropagation()
            console.log(event.key);
        }
    </script>

    <div class="short-sec" style="font-family: sans-serif;">

        <div class="row main" style="padding:0 0 10px 0;">
            <div class="col-xs-12" id="Accom_Short_content">
                <div class="report_header_div no-padding">
                    <label class="report_header_label">@ScreenHeaderLabel</label>
                </div>
                <div class="report_button_div">
                    <button class="btn" id="Close_AccomShort" onclick="closeAccom_Short()">✖</button>
                </div>
            </div>
            @*<div class="col-sm-5">
                <label>Service Report/Event</label>
                @(Html.DevExtreme().DropDownBox().CustomDropDown().Name("Event_AccomShort").ID("Event_AccomShort").Placeholder("Choose..").DisplayExpr("Name").ValueExpr("ID")
                    .DataSource(d => d.Mvc().Controller("AccommodationShort").LoadAction("LookUp_Get_EventsList").Key("ID").LoadMode(DataSourceLoadMode.Raw))
                    .ContentTemplate(@<text>
                        @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Event_AccomShort_datagrid")
                            .Columns(columns =>
                            {
                                columns.Add().DataField("Name").Caption("Name");
                                columns.Add().DataField("ID").Visible(false);
                                columns.Add().DataField("ProjID").Visible(false);
                                columns.Add().DataField("Type");
                                columns.Add().DataField("FromDate").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
                                columns.Add().DataField("ToDate").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy");
                                columns.Add().DataField("Venue");
                            })
                            .Selection(s => s.Mode(SelectionMode.Single))
                            .FilterRow(s=>s.Visible(false))
                            .OnSelectionChanged("function(selectedItems)" +
                            "{ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);}component.close();}"))
                    </text>).OnValueChanged("Event_AccomShort_ValueChange")
                )

            </div>*@
            <div class="col-sm-10 col-xs-8">
                <label>Form</label>
                @(Html.DevExtreme().DropDownBox().CustomDropDown().Name("Form_AccomShort").ID("Form_AccomShort").Placeholder("Choose..").DisplayExpr("FORM_NAME").ValueExpr("INSTANCE_ID")
                    .DataSource(d => d.Mvc().Controller("AccommodationShort").LoadAction("LookUp_Get_LiveFormsList").Key("INSTANCE_ID").LoadMode(DataSourceLoadMode.Raw))
                    .ContentTemplate(@<text>
                        @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Form_AccomShort_datagrid")
                            .Columns(columns =>
                            {
                                columns.Add().DataField("FORM_NAME").Caption("Form Name").Visible(true);
                                columns.Add().DataField("EVENTNAME").Caption("Event Name").Visible(true);
                                columns.Add().DataField("CSN_CHART_ID").Caption("ChartID").Visible(false);
                                columns.Add().DataField("CSN_SERVICE_REPORT_ID").Caption("EventID").Visible(false);
                                columns.Add().DataField("CSN_SRNO").Caption("CSN_SRNO").Visible(false);
                                columns.Add().DataField("INSTANCE_ID").Caption("INSTANCEID").Visible(false);
                                columns.Add().DataField("FROMDATE").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy").Visible(true);
                                columns.Add().DataField("TODATE").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy").Visible(true);
                            })
                            .Selection(s => s.Mode(SelectionMode.Single))
                            .FilterRow(s=>s.Visible(false))
                            .OnSelectionChanged("function(selectedItems)" +
                            "{ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);}component.close();}"))
                    </text>).OnValueChanged("Form_AccomShort_ValueChange")
                )

            </div>
            <div class="col-sm-2 col-xs-4 pls">
                @(Html.DevExtreme().Button().ID("OpenForm_AccomShort").Text("Register").OnClick("onClick_OpenForm_AccomShort")   )
            </div>

            <img src="~/Images/jhadu.png" class="jhadu" id="cleanAll_Accomshort" onclick="onClick_ClearAll_AccomShort()" />
        </div>
        <div class="row" style="padding:0 0 10px 0;">
            <div class="col-sm-6 col-xs-6">
                <label>Search By Registration Numbers</label>
                @(Html.DevExtreme().TextBox().CustomTextBox().Name("RegistrationNumbers_AccomShort").ID("RegistrationNumbers_AccomShort").Placeholder("Search By Registration Numbers")
                      .Buttons(x=>x.Add().Location(TextEditorButtonLocation.After).Name("btn_RegNum_AccomShort").Widget(y=>y.Button()
                      .ID("GoRegNums_AccomShort").Text("Go").OnClick("onClick_GoReg_Nums_AccomShort").UseSubmitBehavior(false))))
            </div>

            <div class="col-sm-6 col-xs-6">
                <label>Search By Phone Numbers</label>
                @(Html.DevExtreme().TextBox().CustomTextBox().Name("PhoneNumbers_AccomShort").ID("PhoneNumbers_AccomShort").Placeholder("Search By Phone Numbers")
                .Buttons(x=>x.Add().Location(TextEditorButtonLocation.After).Name("btn_PhNum_AccomShort").Widget(y=>y.Button()
                      .ID("GoRegNums_AccomShort").Text("Go").OnClick("onClick_Goph_Nums_AccomShort").UseSubmitBehavior(false))))
            </div>
        </div>

        <div class="yellow-name">
            <b style="color:black;">Registered Person Names: </b><span id="PersonNames_AccomShort"></span>
            <button id="hideUnhideNamesGrid_btn_AccomShort" onclick="hideUnhideNamesGrid()">+</button>
        </div>

        <div id="namesGrid_AccomShort" style="height:180px; display: none;">
            @(
            
                Html.DevExtreme().DataGrid().ID("users_datagrid_AccomShort").ColumnAutoWidth(true).AllowColumnResizing(true).Height("150").DataSource(new List<string>())
                    .Selection(s=>s.Mode(SelectionMode.Multiple)).OnInitialized("onInitialized_users_datagrid_AccomShort")
                    .Columns(columns =>
                    {
                        columns.Add().DataField("5").Caption("RegNumbers").Visible(true).Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("0").Caption("Name").Visible(true).Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("1").Caption("Gender").Visible(true).Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("2").Caption("ArrivalDate").Visible(true).Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("3").Caption("DepartureDate").Visible(true).Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("4").Caption("ChartID").Visible(false).Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("6").Caption("RespID").Visible(false).Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("7").Caption("NamesWithGenders").Visible(false).Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("8").Caption("Selection").Visible(false).Alignment(HorizontalAlignment.Center);
                        
                    })
                    .OnSelectionChanged("onSelectionChanged_users_datagrid_AccomShort").OnContentReady("selectingRows_AccomShort")
                    
            )
        </div>
        <script>
            function onInitialized_users_datagrid_AccomShort(e) {
                //debugger;
                if (e.component.shouldSkipNextReady) {
                    e.component.shouldSkipNextReady = false;
                }
                else {
                    e.component.shouldSkipNextReady = true;
                    e.component.columnOption("command:select", "width", 30);
                    e.component.updateDimensions();
                }
                e.component.columnOption("Gender", "width", 60);
            }
            function onSelectionChanged_users_datagrid_AccomShort(data) {
                //debugger;
                //dataGrid.option('selection.showCheckBoxesMode', data.value);
                var dataGrid = $("#users_datagrid_AccomShort").dxDataGrid("instance");
                var selectedRowsData = dataGrid.getSelectedRowsData();
                var arrdts = []; var depdts = []
                if (selectedRowsData.length == 0) {
                    document.getElementById("PersonNames_AccomShort").innerHTML = "";
                    document.getElementById("bedsReq_AccomShort").innerHTML = "";
                    $("#totime_AccomShort").dxDateBox("instance").reset();
                    $("#todate_AccomShort").dxDateBox("instance").reset();
                    $("#fromtime_AccomShort").dxDateBox("instance").reset();
                    $("#fromdate_AccomShort").dxDateBox("instance").reset();
                }
                else {//Here we are filling the minimum arrival date and maximum departure date of all the selection data and also filling the names in brackets gender
                    //in the yellow area on top  of this grid. and also filling the selected data into respids, registrationNumbers, names global variables 
                    //which will be used in saving the accommodation.
                    result_respids = "";
                    result_regNumbs = "";
                    result_names = "";
                    document.getElementById("bedsReq_AccomShort").innerHTML = selectedRowsData.length;
                    for (var i = 0; i < selectedRowsData.length; i++) {
                        arrdts.push([0]);
                        depdts.push([0]);
                        arrdts[i] = selectedRowsData[i][2]
                        depdts[i] = selectedRowsData[i][3]

                        // Convert date strings to Moment objects
                        var arrivalDates = arrdts.map(function (dateString) {
                            return moment(dateString, 'DD-MM-YYYY HH:mm:ss');
                        });
                        var departureDates = depdts.map(function (dateString) {
                            return moment(dateString, 'DD-MM-YYYY HH:mm:ss');
                        });
                        // Find the minimum date
                        var minDate = moment.min(arrivalDates);
                        var maxDate = moment.max(departureDates);
                        $("#fromdate_AccomShort").dxDateBox("instance").option("value", moment(minDate, "DD/MM/YYYY"))
                        $("#fromtime_AccomShort").dxDateBox("instance").option("value", moment(minDate, "DD/MM/YYYY hh:mm:ss"))
                        $("#todate_AccomShort").dxDateBox("instance").option("value", moment(maxDate, "DD/MM/YYYY"))
                        $("#totime_AccomShort").dxDateBox("instance").option("value", moment(maxDate, "DD/MM/YYYY hh:mm:ss"))

                        if (i == 0) {
                            document.getElementById("PersonNames_AccomShort").innerHTML = selectedRowsData[i][7]
                            result_respids = selectedRowsData[i][6]
                            result_regNumbs = selectedRowsData[i][5]
                            result_names = selectedRowsData[i][0]
                        }
                        else {
                            document.getElementById("PersonNames_AccomShort").innerHTML = document.getElementById("PersonNames_AccomShort").innerHTML
                                + "," + selectedRowsData[i][7]
                            result_respids = result_respids + "|" + selectedRowsData[i][6]
                            result_regNumbs = result_regNumbs + "|" + selectedRowsData[i][5]
                            result_names = result_names + "|" + selectedRowsData[i][0]
                        }
                    }
                }
            }
            function hideUnhideNamesGrid() {
                if (document.getElementById("hideUnhideNamesGrid_btn_AccomShort").innerText == "+") {
                    document.getElementById("namesGrid_AccomShort").style.display = "block";
                    document.getElementById("hideUnhideNamesGrid_btn_AccomShort").innerText = "-";
                }
                else {
                    document.getElementById("namesGrid_AccomShort").style.display = "none";
                    document.getElementById("hideUnhideNamesGrid_btn_AccomShort").innerText = "+";
                }
            }
        </script>
        <div style="padding:0 0 10px 0;">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="form-field">
                        <label>From Date:</label>
                        @(Html.DevExtreme().DateBox().CustomDateBox().ID("fromdate_AccomShort").Name("fromdate_AccomShort").ShowClearButton(true)@*.Value(Model.fromdate)*@
                            .Type(DateBoxType.Date).Placeholder("From Date").Min(new DateTime(1990, 01, 01)).Max(new DateTime(2038, 12, 31)).OnValueChanged("fromdate_Valuechanged_AccomShort")
                        )
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="form-field">
                        <label>From Time:</label>
                        @(Html.DevExtreme().DateBox().CustomDateBox().Name("fromtime_AccomShort").ID("fromtime_AccomShort").Min(DateTime.MinValue).Type(DateBoxType.Time)@*.Value(Model.fromtime)*@
                            .DisplayFormat("hh:mm a").UseMaskBehavior(true).Placeholder("hh:mm AM/PM").Interval(15).OnValueChanged("fromtime_ValueChange_AccomShort")
                        )
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="form-field">
                        <label>To Date:</label>
                        @(Html.DevExtreme().DateBox().CustomDateBox().ID("todate_AccomShort").Name("todate_AccomShort").ShowClearButton(true)@*.Value(Model.todate)*@
                                    .Type(DateBoxType.Date).Placeholder("To Date").Min(new DateTime(1990, 01, 01)).Max(new DateTime(2038, 12, 31)).OnValueChanged("todate_Valuechanged_AccomShort")
                                )
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="form-field">
                        <label>To Time:</label>
                        @(Html.DevExtreme().DateBox().CustomDateBox().Name("totime_AccomShort").ID("totime_AccomShort").Type(DateBoxType.Time).Min(DateTime.MinValue)@*.Value(Model.totime)*@
                                    .DisplayFormat("hh:mm a").UseMaskBehavior(true).Placeholder("hh:mm AM/PM").Interval(15).OnValueChanged("totime_ValueChange_AccomShort")
                                )
                    </div>
                </div>
            </div>
        </div>
        @{
            var ismobiledeviceVisible = false;
            if (Request.Browser.IsMobileDevice) { ismobiledeviceVisible = false; } else { ismobiledeviceVisible = true; }
        }

        <div class="row" style="padding: 0 0 10px 0; border-top: 1px solid #A6C7FF">
            <div class="col-sm-9" style="margin-top:1px">
                <div class="form-field">
                    <label class="room-label">Select Rooms:</label>
                    @(Html.DevExtreme().DataGrid().ID("RoomNumbersList_AccomShort_datagrid").ColumnAutoWidth(true)
                    .Editing(editing =>
                    {
                        editing.Mode(GridEditMode.Batch);
                        editing.AllowUpdating(true);
                        editing.AllowAdding(false);
                        editing.AllowDeleting(false);
                        editing.SelectTextOnEditStart(true);
                        editing.StartEditAction(GridStartEditAction.Click);

                    }).AllowColumnReordering(true).AllowColumnResizing(true)
                    .ShowBorders(true).Width("100%").FilterPanel(s=>s.Visible(false)).SearchPanel(s=>s.Visible(true)).Paging(s=>s.Enabled(false)).FilterRow(s=>s.Visible(true))
                    .Columns(columns =>
                    {
                        columns.Add().DataField("CURRENT_ALLOTMENT").Caption("Allotment").Visible(true).AllowEditing(true).SetCellValue("LookUp_Get_AccommodationShort_datagrid_SetCellValue")
                            .Width(80).Alignment(HorizontalAlignment.Center);
                        //.ValidationRules(x =>
                        //    {
                        //        x.AddCustom().IgnoreEmptyValue(true).Message("Room Capacity Exceeded").Reevaluate(true).ValidationCallback("function(e){{ return validate_RoomCapacity(e);}}");
                        //    });
                        columns.Add().DataField("AL_LOC_NAME").Caption("Room Number").Width(120).AllowEditing(false);
                        columns.Add().DataField("SP_SERVICE_PLACE_NAME").Caption("Building Name").AllowEditing(false).Visible(ismobiledeviceVisible);
                        columns.Add().DataField("REC_ID").Visible(false).AllowEditing(false);
                        columns.Add().DataField("SP_REC_ID").Visible(false).AllowEditing(false);

                        columns.Add().DataField("AL_MAXCAPACITY").Caption("Capacity").Width(70).Alignment(HorizontalAlignment.Left).AllowEditing(false).Visible(false);
                    }).FocusedRowEnabled(false)//.OnSelectionChanged("onSelectionChanged_liveForms")
                    .DataSource(d => d.Mvc().Controller("AccommodationShort").LoadAction("LookUp_Get_RoomsList").LoadMode(DataSourceLoadMode.Raw).Key("REC_ID")
                    .LoadMode(DataSourceLoadMode.Raw)
                    ).Selection(s => s.Mode(SelectionMode.Multiple)).OnSelectionChanged("RoomNumbersData_SelectionChanged").Height("300")
                    .OnRowClick("AccomodationShort_DG_RowClick")//.OnRowDblClick("LookUp_Get_AccommodationShort_datagrid_onCellDblclick")
                )

                </div>
            </div>
            <div class="col-sm-3 selected-rooms">
                <div class="yellow-name">
                    <b>Focused Room:</b>
                    <div id="focusedRoom_AccomShort"></div>
                </div>
                <div class="yellow-name">
                    <b>Selected Room Nos:</b>
                    <div id="selectedRooms_AccomShort"></div>
                </div>
                <div class="yellow-name bed-cal">
                    <div><b>Required Beds: </b> <span id="bedsReq_AccomShort"></span></div>
                    <div><b>Allotted Beds: </b> <span id="bedsAllotted_AccomShort"></span></div>
                    <div><b>To be Allotted: </b> <span id="bedsRemainToAllot_AccomShort"></span></div>
                </div>
            </div>

        </div>
        <br />
        <div class="row" style="padding:0 0 10px 0;">
            <div class="col-sm-6">
                <div class="form-field">
                    <label>Remarks:</label>
                    @(Html.DevExtreme().TextArea().Name("Remarks_AccomShort").ID("Remarks_AccomShort") )
                </div>
            </div>
            <div class="col-sm-6">
                <label></label>
                <div class="row act-btns" style="padding:10px; text-align:center;">
                    @(Html.DevExtreme().Button().ID("Update_Print_AccomShort").Text("Update & Print").OnClick("update_Print_AccomShort_Onclick")   )
                    @(Html.DevExtreme().Button().ID("Update_AccomShort").Text("Update").OnClick("update_AccomShort_Onclick")   )
                    @(Html.DevExtreme().Button().ID("PrintSlip_AccomShort").Text("Print").OnClick("print_AccomShort_Onclick")   )
                    @(Html.DevExtreme().Button().ID("Cancel_AccomShort").Text("Cancel").OnClick("cancel_AccomShort_Onclick")   )
                </div>
            </div>

        </div>

    </div>
    <script>
        function print_AccomShort_Onclick() {
            var nameslist = result_names_genders_str.replaceAll("(M)", "");
            nameslist = result_names_genders_str.replaceAll("(F)", "")
            var instid = "";
            $.ajax({
                type: 'GET',
                url: "/Facility/AccommodationRegister/Frm_PrintSlipOptions",
                cache: false,
                data:
                {
                    Chart_Inst_ID: instid,
                    Chart_Resp_ID: result_respids,
                    NamesList: nameslist,
                    PrintFromscreen : "AccommodationShort",
                },
                success: function (data) {
                    HideLoader();
                    OpenPopup("PrintSlipPopup_AccomShort", "PrintSlip(s)", null, "auto", 380, true, data, "maxheightPrintSlip");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    HideLoader();                    
                    DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                }
            });
        }
    </script>
    <script>
        var printFromButton = false;
        /*var selectedEvent_AccomShort;*/
        var selectedForm_AccomShort;
        var selectedRegistrationNumbers;
        var selectedPhoneNumbers;
        var selectedInstanceId_AccomShort;
        var regNos_or_PhNos_AccomShort;
        var ph_numbers_AccomShort;

        var result_regNumbs;
        var result_chartids;
        var result_respids;
        var result_names;
        var result_gender;
        var result_names_genders_str;

        $(document).ready(function () {
            printFromButton = false;
        });
        $('#RoomNumbersList_AccomShort_datagrid').dxDataGrid({
            onContentReady: function (e) {
                if (e.component.shouldSkipNextReady) {
                    e.component.shouldSkipNextReady = false;
                }
                else {
                    e.component.shouldSkipNextReady = true;
                    e.component.columnOption("command:select", "width", 30);
                    e.component.updateDimensions();
                }
            }
        });

        function fromdate_Valuechanged_AccomShort() {
            pageUpdatedorNot = true;
            if ($("#fromdate_AccomShort").dxDateBox("instance").option("value") == null) { fromdate_str = null; }
            else {
                fromdate_str = JS_Json_Date_To_ddMMyyyy($("#fromdate_AccomShort").dxDateBox("instance").option("value"));
            }

        }
        function fromtime_ValueChange_AccomShort() {
            pageUpdatedorNot = true;
            if ($("#fromtime_AccomShort").dxDateBox("instance").option("value") == null) { fromtime_str = null; }
            else {
                fromtime_str = JS_Json_Date_To_ddMMyyyy($("#fromtime_AccomShort").dxDateBox("instance").option("value"));
            }

        }
    </script>
    <script>
        var namesGrid_arr_AccomShort = [];
         function onClick_GoReg_Nums_AccomShort() {
             onClick_GoReg_ph_Nums_AccomShort('REGISTRATION_NUMS')
             
        }
        function onClick_Goph_Nums_AccomShort() {
            onClick_GoReg_ph_Nums_AccomShort('PHONE_NUMS')
            
        }
        function onClick_Close_AccomShort() {

        }
        function onClick_GoReg_ph_Nums_AccomShort(ph_or_reg) {
            
            var DG;
            selectedForm_AccomShort = null;
            selectedEvent_AccomShort = null;    
            if (ph_or_reg == "REGISTRATION_NUMS") {
                regNos_or_PhNos_AccomShort = $("#RegistrationNumbers_AccomShort").dxTextBox("instance").option("value");
                regNos_or_PhNos_AccomShort = regNos_or_PhNos_AccomShort.replace(/\s/g, "");
            } else if (ph_or_reg == "PHONE_NUMS") {
                regNos_or_PhNos_AccomShort = $("#PhoneNumbers_AccomShort").dxTextBox("instance").option("value");
                regNos_or_PhNos_AccomShort = regNos_or_PhNos_AccomShort.replace(/\s/g, "");
            }
            if ($("#Form_AccomShort_datagrid").dxDataGrid("instance").getSelectedRowsData().length > 0) {
                selectedForm_AccomShort = $("#Form_AccomShort_datagrid").dxDataGrid("instance").getSelectedRowsData()[0]['CSN_CHART_ID'];
            }            
            
           $.ajax({
                type: 'Post',
                url: "/Facility/AccommodationShort/getNamesByRegNos_Or_PhoneNos",
                cache: false,
                data: {
                    ph_reg: ph_or_reg, //"REGISTRATION_NUMS", PHONE_NUMS
                    reg_Ph_Numbers: regNos_or_PhNos_AccomShort,
                    EventID: selectedEvent_AccomShort,
                    FormID: selectedForm_AccomShort,
                },
                success: function (data) {
                    debugger;
                    HideLoader();
                    if (data.result) {
                        //document.getElementById("namesGrid_AccomShort").innerText = "";
                        //document.getElementById("users_datagrid_AccomShort").innerText = "";
                        document.getElementById("hideUnhideNamesGrid_btn_AccomShort").innerText = "+"
                        hideUnhideNamesGrid();
                        result_regNumbs = data.regNumbers;
                        result_chartids = data.chartids;
                        result_respids = data.respids;
                        result_names = data.names;
                        result_gender = data.genders;
                        result_names_genders_str = data.names_genders_str;
                        //$("#fromdate_AccomShort").dxDateBox("instance").option("value", moment(data.arrivaldate_min, "DD/MM/YYYY"))
                        //$("#fromtime_AccomShort").dxDateBox("instance").option("value", moment(data.arrivaldate_min, "DD/MM/YYYY hh:mm:ss"))
                        //$("#todate_AccomShort").dxDateBox("instance").option("value", moment(data.departuredate_max, "DD/MM/YYYY"))
                        //$("#totime_AccomShort").dxDateBox("instance").option("value", moment(data.departuredate_max, "DD/MM/YYYY hh:mm:ss"))
                        //document.getElementById("PersonNames_AccomShort").innerHTML = result_names_genders_str.replaceAll("|", ", ")
                        reminingBalance_AccomShort = data.respids.split(",").length
                        
                        namesGrid_arr_AccomShort = [];
                        for (var i = 0; i < data.names.split("|").length; i++) {
                            namesGrid_arr_AccomShort.push([0])
                            namesGrid_arr_AccomShort[i][0] = data.names.split("|")[i];
                            namesGrid_arr_AccomShort[i][1] = data.genders.split("|")[i];
                            namesGrid_arr_AccomShort[i][2] = data.arr_dates.split("|")[i];
                            namesGrid_arr_AccomShort[i][3] = data.dep_dates.split("|")[i];
                            namesGrid_arr_AccomShort[i][4] = data.chartids.split("|")[i];
                            namesGrid_arr_AccomShort[i][5] = data.regNumbers.split("|")[i];
                            namesGrid_arr_AccomShort[i][6] = data.respids.split("|")[i];                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
                            namesGrid_arr_AccomShort[i][7] = data.names_genders_str.split("|")[i];
                            namesGrid_arr_AccomShort[i][8] = data.selection.split("|")[i];
                        }
                        //Updating datagrid input data.                        
                        $("#users_datagrid_AccomShort").dxDataGrid("instance").option("dataSource", namesGrid_arr_AccomShort);

                    }
                    else if (data.result == false) {
                        HideLoader();
                        var alertClick = DevExpress.ui.dialog.alert(data.Message, data.title);
                        alertClick.done(function (alertResult) {
                            if (alertResult) {
                                document.getElementById("PersonNames_AccomShort").innerHTML = "";
                            }
                        });
                    }
                }
            });

            
        }
        function selectingRows_AccomShort() {
            debugger;
            var gridView = $("#users_datagrid_AccomShort").dxDataGrid("instance");
            //e.selectedRowKeys.foreach(function (key) {
            //    var row = gridView.getRowByKey(key);
            //    var selectionColumnIndex = gridView.columnOption("selection", "index");
            //    var selectionValue = gridView.cellValue(key, selectionColumnIndex);
            //    if (!selectionValue) {
            //        gridView.cellValue(key, selectionColumnIndex, true);
            //    }
            //});
            var data = gridView.option("dataSource");
            var selectedindexes_arr = [];
            for (var i = 0; i < data.length; i++) {
                if (data[i][8] === 'True') {
                    selectedindexes_arr.push(i)
                }
            }
            gridView.beginUpdate();
            gridView.clearSelection();
            gridView.selectRowsByIndexes(selectedindexes_arr);
            gridView.endUpdate();
            //gridView.refresh(true);
        }
    </script>

    <script>
        function update_AccomShort_Onclick() {
            saveAccommodation("Update")
        }
        function cancel_AccomShort_Onclick() {
            onClick_ClearAll_AccomShort();
        }
        function update_Print_AccomShort_Onclick() {
            saveAccommodation("UpdateAndPrint")
        }
        function saveAccommodation(updateOrWithPrint) {
            var Txt_Remarks = $("#Remarks_AccomShort").dxTextArea("instance").option("value");
            var _fromdate = $("#fromdate_AccomShort").dxDateBox("instance").option("value");
            var _todate = $("#todate_AccomShort").dxDateBox("instance").option("value");
            var _fromtime = $("#fromtime_AccomShort").dxDateBox("instance").option("value");
            var _totime = $("#totime_AccomShort").dxDateBox("instance").option("value");
            if (_fromdate == null || _fromdate == '') {
                DevExpress.ui.dialog.alert('From Date should not be null.', "error");
                return;
            }
            if (_todate == null || _todate == '') {
                DevExpress.ui.dialog.alert('To Date should not be null.', "error");
                return;
            }
            if (_fromtime == null || _fromtime == '') {
                DevExpress.ui.dialog.alert('From time should not be null.', "error");
                return;
            }
            if (_totime == null || _totime == '') {
                DevExpress.ui.dialog.alert('To time should not be null.', "error");
                return;
            }
            if (_fromdate > _todate) {
                DevExpress.ui.dialog.alert('From Date should not be greater than to date.', "error");
                return;
            }
            var gridInstance = $("#RoomNumbersList_AccomShort_datagrid").dxDataGrid("instance");
            var selectedRoomsData = gridInstance.getSelectedRowsData();
            var editData = gridInstance.getController('editing')._editData;
            ShowLoader();

            $.ajax({
                type: 'Post',
                url: "/Facility/AccommodationShort/updateAccomShort",
                cache: false,
                data: {
                    ChartResponseID: result_respids,
                    remarksText: Txt_Remarks,
                    fromdate: _fromdate == null ? null : JS_Json_Date_To_ddMMyyyy(_fromdate),
                    todate: _todate == null ? null : JS_Json_Date_To_ddMMyyyy(_todate),
                    fromtime: _fromtime == null ? null : JS_Json_Date_To_ddMMyyyy(_fromtime),
                    totime: _totime == null ? null : JS_Json_Date_To_ddMMyyyy(_totime),
                    selectedRoomsData: JSON.stringify(selectedRoomsData),
                    editedData: JSON.stringify(editData),
                    Registrations: result_regNumbs,
                    Reg_Names: result_names,
                    performAction: updateOrWithPrint,
                    //BedCount : I need to get from sp and send from here.
                },
                success: function (data) {
                    HideLoader();
                    
                    if (typeof data.jsonParam === "undefined") {
                        if (data.length > 0) {
                            if (result_respids.length > 36) {
                                OpenPopup("PrintSlipPopup_AccomRegstr", "Print Slip Options", null, "auto", 360, true, data, "maxheightPrintSlip");
                            }
                            else {
                                OpenPopup("PrintSlipPopup_AccomRegstr", "PrintSlip(s)", null, "auto", 380, true, data, "maxheightPrintSlip");
                            }
                        }
                    }
                    else if (data.jsonParam.result) {
                        HideLoader();
                        if (data.jsonParam.message == "Accomodation Has Been Allotted/Updated Successfully" && updateOrWithPrint == "UpdateAndPrint") {


                        }
                        else {
                            var alertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);

                        }

                    }
                    else if (data.jsonParam.result == false) {
                        HideLoader();
                        if (data.jsonParam.flag != undefined) {

                        }
                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                    }
                }
            });
        }
        function todate_Valuechanged_AccomShort() {
            pageUpdatedorNot = true;
            if ($("#todate_AccomShort").dxDateBox("instance").option("value") == null) { todate_str = null; }
            else {
                todate_str = JS_Json_Date_To_ddMMyyyy($("#todate_AccomShort").dxDateBox("instance").option("value"));
            }
        }
        function totime_ValueChange_AccomShort() {
            pageUpdatedorNot = true;
            if ($("#totime_AccomShort").dxDateBox("instance").option("value") == null) { totime_str = null; }
            else {
                totime_str = JS_Json_Date_To_ddMMyyyy($("#totime_AccomShort").dxDateBox("instance").option("value"));
            }
        }



        //async function Event_AccomShort_ValueChange(e, FirstCall = false) {
        //    var value;
        //    var DG = $("#Event_AccomShort_datagrid").dxDataGrid("instance");
        //    if (e) {
        //        value = e.value;
        //        selectedEvent_AccomShort = e.value;
        //        if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
        //            DG.clearSelection();
        //            return;
        //        }
        //    }
        //    else {
        //        value = $("#Event_AccomShort").dxDropDownBox("option", "value");
        //    }
        //    await DG.selectRows(value);
        //    if (DG.getSelectedRowsData().length > 0) {
        //        var item = DG.getSelectedRowsData()[0];

        //    }
        //}

        async function Form_AccomShort_ValueChange(e, FirstCall = false) {
            
            var DG = $("#Form_AccomShort_datagrid").dxDataGrid("instance");
            var selectedrowsdata = DG.getSelectedRowsData();
            if (selectedrowsdata.length > 0) {
                selectedInstanceId_AccomShort = DG.getSelectedRowsData()[0]['INSTANCE_ID']
            } else {
                selectedInstanceId_AccomShort = undefined;
            }

            if (e) {
                selectedForm_AccomShort = DG.getSelectedRowsData()[0]['CSN_CHART_ID'];
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    DG.clearSelection();
                    return;
                }
            }
            else {
                selectedForm_AccomShort = DG.getSelectedRowsData()[0]['CSN_CHART_ID'];
            }
            await DG.selectRows(e.value);
            if (DG.getSelectedRowsData().length > 0) {
                var item = DG.getSelectedRowsData()[0];

            }
        }
        async function RoomNumbersData_SelectionChanged(e) {
            
            var gridInstance = $("#RoomNumbersList_AccomShort_datagrid").dxDataGrid("instance");
            var selectedRowsLenth = gridInstance.getSelectedRowsData().length;
            var editData = gridInstance.getController('editing')._editData
            var rowindex_Curr;
            if (result_respids.split("|").length > 0) {
                if (selectedRowsLenth != null && selectedRowsLenth != undefined && selectedRowsLenth > 0) {
                    if (e.currentSelectedRowKeys.length > 0) {
                        var instance = e.component;
                        //i.cellValue(4,"AL_MAXCAPACITY") --to get the maxcapacity of the selected row
                        //e.component.getRowIndexByKey(e.currentSelectedRowKeys[0]) -- index of the selected row
                        var OriginalRequired = result_respids.split("|").length
                        var alreadyfilled = 0;
                        var remainingRequired = 0;

                        for (var i = 0; i < editData.length; i++) {//Here we are calculating already allotted beds count
                            //editData[0]['key'] //useful code for any urgent purpose to find key of each row in editdata.
                            var curr_Allot = editData[i]['data']['CURRENT_ALLOTMENT'];
                            if (curr_Allot == undefined) { curr_Allot = 0; }
                            alreadyfilled = alreadyfilled + curr_Allot
                        }
                        remainingRequired = OriginalRequired - alreadyfilled;
                        if (remainingRequired > 0) {
                            //e.component.cellValue(e.component.getRowIndexByKey(e.selectedRowKeys[0]), "Allotment", 0);
                            var selectedRowkey = e.currentSelectedRowKeys[0]
                            var selectedRowIndex = e.component.getRowIndexByKey(e.currentSelectedRowKeys[0])
                            var capacity = e.component.cellValue(selectedRowIndex, "AL_MAXCAPACITY");
                            if (remainingRequired > capacity) {
                                e.component.cellValue(selectedRowIndex, "CURRENT_ALLOTMENT", capacity);                                
                                
                            } else if (remainingRequired <= capacity) {
                                e.component.cellValue(selectedRowIndex, "CURRENT_ALLOTMENT", remainingRequired);
                                
                            }
                            rowindex_Curr = selectedRowIndex;
                        }
                        else {

                        }

                    }
                    else if (e.currentDeselectedRowKeys != undefined) {
                        var OriginalRequired_d = result_respids.split("|").length
                        var alreadyfilled_d = 0;
                        var remainingRequired_d = 0;
                        var currentDeselectedAllotment = 0;
                        var currentDeselectedKey;
                        for (var i = 0; i < editData.length; i++) {//Here we are calculating already allotted beds count
                            //editData[0]['key'] //useful code for any urgent purpose to find key of each row in editdata.
                            var curr_Allot = editData[i]['data']['CURRENT_ALLOTMENT'];
                            if (curr_Allot == undefined) { curr_Allot = 0; }
                            alreadyfilled_d = alreadyfilled_d + curr_Allot
                            if (editData[i]['key'] == e.currentDeselectedRowKeys[0]) {
                                currentDeselectedAllotment = curr_Allot;
                            }
                        }
                        var deselectedRowIndex = e.component.getRowIndexByKey(e.currentDeselectedRowKeys[0])
                        //var deselectedRowkey = e.currentDeselectedRowKeys[0]
                        e.component.cellValue(deselectedRowIndex, "CURRENT_ALLOTMENT", 0); //Main Line
                        rowindex_Curr = deselectedRowIndex;
                        
                    }
                    //}

                    
                    //Filling the selected room details
                    //var selectedRowsLenth = gridInstance.getSelectedRowsData().length;
                    document.getElementById("selectedRooms_AccomShort").innerHTML = "";
                    if (selectedRowsLenth == 1) {//This section is to fill selected room numbers in the right side section.
                        document.getElementById("selectedRooms_AccomShort").innerHTML = "<span>" + gridInstance.getSelectedRowsData()[0]["AL_LOC_NAME"] + "</span>"                           
                    }
                    else {
                        for (var i = 0; i < selectedRowsLenth; i++) { // This for loop is exclusively to fill the selected room numbers right side strip in the screen                            
                            document.getElementById("selectedRooms_AccomShort").innerHTML = document.getElementById("selectedRooms_AccomShort").innerHTML + "<span>" +
                                gridInstance.getSelectedRowsData()[i]["AL_LOC_NAME"] + "</span>"
                        }
                    }

                }
                else if (e.currentDeselectedRowKeys[0] != undefined) {
                    var deselectedRowIndex = e.component.getRowIndexByKey(e.currentDeselectedRowKeys[0])
                    //var deselectedRowkey = e.currentDeselectedRowKeys[0]
                    e.component.cellValue(deselectedRowIndex, "CURRENT_ALLOTMENT", 0);
                    rowindex_Curr = deselectedRowIndex;
                    e.component.cancelEditData();
                    document.getElementById("selectedRooms_AccomShort").innerHTML = "";
                    document.getElementById("focusedRoom_AccomShort").innerHTML = "";
                    document.getElementById("bedsReq_AccomShort").innerHTML = "";
                    document.getElementById("bedsAllotted_AccomShort").innerHTML = "";
                    document.getElementById("bedsRemainToAllot_AccomShort").innerHTML = "";
                }
                //bedsCalculation()

            }
        }
        function bedsCalculation(val, key_curnt) {
            
            var gridInstance = $("#RoomNumbersList_AccomShort_datagrid").dxDataGrid("instance");
            var alreadyfilled_s = 0;
            var editData = gridInstance.getController('editing')._editData
            var neworedited = 'new'
            for (var i = 0; i < editData.length; i++) {//In this loop we are checking the edited key which has come through bedsCalculation function is new or already in edited.
                if (editData[i]['key'] == key_curnt) {
                    neworedited = 'alreadEdited'
                }
            }
            if (neworedited == 'new') { alreadyfilled_s = val;} //this function was not handling with new selected row. that is why this if condition and above for loop was created.
            for (var i = 0; i < editData.length; i++) {//Here we are calculating already allotted beds count
                //editData[0]['key'] //useful code for any urgent purpose to find key of each row in editdata.
                if (gridInstance.isRowSelected(editData[i]['key'])) {
                    var curr_Allot;
                    if (editData[i]['key'] == key_curnt) {
                        curr_Allot = val
                    } else {
                        curr_Allot = editData[i]['data']['CURRENT_ALLOTMENT'];
                    }
                    
                    if (curr_Allot == undefined) { curr_Allot = 0; }
                    alreadyfilled_s = alreadyfilled_s + curr_Allot
                }
            }
            fill:
            document.getElementById("bedsReq_AccomShort").innerHTML = result_respids.split("|").length;
            document.getElementById("bedsAllotted_AccomShort").innerHTML = alreadyfilled_s //- e.component.cellValue(rowindex_Curr, "CURRENT_ALLOTMENT");
            document.getElementById("bedsRemainToAllot_AccomShort").innerHTML = result_respids.split("|").length - (alreadyfilled_s) //- e.component.cellValue(rowindex_Curr, "CURRENT_ALLOTMENT"));  

            //Focussed Room details filling
            document.getElementById("focusedRoom_AccomShort").innerHTML = "<span>" + gridInstance.cellValue(gridInstance.getRowIndexByKey(key_curnt), "AL_LOC_NAME") +
                "(" + gridInstance.cellValue(gridInstance.getRowIndexByKey(key_curnt), "AL_MAXCAPACITY") + ")-" + val + "</span>"
        }
        function LookUp_Get_AccommodationShort_datagrid_SetCellValue(newData, value, rowData) {
            
            var gridInstance = $("#RoomNumbersList_AccomShort_datagrid").dxDataGrid("instance");
            if (gridInstance.isRowSelected(rowData.REC_ID)) {
                newData.CURRENT_ALLOTMENT = value;
                
            } else if (!gridInstance.isRowSelected(rowData.REC_ID)) {
                //var rowindx = gridInstance.getRowIndexByKey(rowData.REC_ID)
                //var curr_Allot = gridInstance.cellValue(rowindx, "CURRENT_ALLOTMENT")
                //return value; //rowData.CURRENT_ALLOTMENT;
                value = 0;
                newData.CURRENT_ALLOTMENT = value;
            }
            bedsCalculation(value, rowData.REC_ID)
            //var alreadyfilled_s = 0;
            //var editData = gridInstance.getController('editing')._editData
            //for (var i = 0; i < editData.length; i++) {//Here we are calculating already allotted beds count
            //    //editData[0]['key'] //useful code for any urgent purpose to find key of each row in editdata.
            //    var curr_Allot = editData[i]['data']['CURRENT_ALLOTMENT'];
            //    if (curr_Allot == undefined) { curr_Allot = 0; }
            //    alreadyfilled_s = alreadyfilled_s + curr_Allot
            //}
            //document.getElementById("bedsReq_AccomShort").innerHTML = result_respids.split("|").length;
            //document.getElementById("bedsAllotted_AccomShort").innerHTML = alreadyfilled_s - value;
            //document.getElementById("bedsRemainToAllot_AccomShort").innerHTML = result_respids.split("|").length - (alreadyfilled_s - value);

        }
        var reminingBalance_AccomShort = 0;
        function validate_RoomCapacity(e) {
            return e.value <= e.data["AL_MAXCAPACITY"];
        }
        function AccomodationShort_DG_RowClick(e) { } //This function is important. Eventhough it is empty.                        
    
        function StartDate_Accom_Short_ValueChange(e) {  }
        function EndDate_Accom_Short_ValueChange(e) {  }
        function StartTime_Accom_Short_ValueChange(e) {  }
        function EndTime_Accom_Short_ValueChange(e) {  }
        var Look_AccommodationList_Short_DataGrid

        function onClick_ClearAll_AccomShort() {
            $("#Remarks_AccomShort").dxTextArea("instance").reset();
            $("#totime_AccomShort").dxDateBox("instance").reset();
            $("#todate_AccomShort").dxDateBox("instance").reset();
            $("#fromtime_AccomShort").dxDateBox("instance").reset();
            $("#fromdate_AccomShort").dxDateBox("instance").reset();
            $("#PhoneNumbers_AccomShort").dxTextBox("instance").reset();
            $("#RegistrationNumbers_AccomShort").dxTextBox("instance").reset();

            //Form Dropdown Clear
            $("#Form_AccomShort_datagrid").dxDataGrid("instance").clearSelection();
            $("#Form_AccomShort").dxDropDownBox("instance").reset();

            //Event Dropdown Clear
            //$("#Event_AccomShort_datagrid").dxDataGrid("instance").clearSelection();
            //$("#Event_AccomShort").dxDropDownBox("instance").reset();
            
            $("#RoomNumbersList_AccomShort_datagrid").dxDataGrid("instance").clearSelection();
            $("#RoomNumbersList_AccomShort_datagrid").dxDataGrid("instance").cancelEditData();
            $("#RoomNumbersList_AccomShort_datagrid").dxDataGrid("instance").clearFilter();
            //Here we are nullifying the global variables on clear, because we are on the same screen and want to give accommodation to another person, then all these variables having old data filled. 
            //That arises new problems.
            selectedEvent_AccomShort = null;
            selectedForm_AccomShort = null;
            selectedRegistrationNumbers = null;
            selectedPhoneNumbers = null;
            selectedInstanceId_AccomShort = null;
            regNos_or_PhNos_AccomShort = null;
            ph_numbers_AccomShort = null;

            result_regNumbs = null;
            result_chartids = null;
            result_respids = null;
            result_names = null;
            result_gender = null;
            result_names_genders_str = null;
            document.getElementById("PersonNames_AccomShort").innerHTML = ""
            document.getElementById("selectedRooms_AccomShort").innerHTML = ""
            document.getElementById("bedsRemainToAllot_AccomShort").innerHTML = ""
            document.getElementById("bedsAllotted_AccomShort").innerHTML = ""
            document.getElementById("bedsReq_AccomShort").innerHTML = ""
            document.getElementById("focusedRoom_AccomShort").innerHTML = ""
            
            namesGrid_arr_AccomShort = [];
            $('#users_datagrid_AccomShort').dxDataGrid("option", "dataSource", namesGrid_arr_AccomShort);
            //$('#users_datagrid_AccomShort').dxDataGrid("refresh");
            hideUnhideNamesGrid();
        }
        function onClick_OpenForm_AccomShort() {
            if (selectedInstanceId_AccomShort == null || selectedInstanceId_AccomShort == void 0)
            {
                DevExpress.ui.dialog.alert("Please Choose A Form", "Information");
                return;
            }
            var url = "@servicePath" + "form/" + selectedInstanceId_AccomShort;
                window.open(url, '_blank')
        }


    </script>

    <script>
        function closeAccom_Short() {
            selectedEvent_AccomShort = null;
            selectedForm_AccomShort = null;
            selectedRegistrationNumbers = null;
            selectedPhoneNumbers = null;
            selectedInstanceId_AccomShort = null;
            regNos_or_PhNos_AccomShort = null;
            ph_numbers_AccomShort = null;

            result_regNumbs = null;
            result_chartids = null;
            result_respids = null;
            result_names = null;
            result_gender = null;
            result_names_genders_str = null;
            $(".TabPanalMenu-tabs .active span").click();
        }


        $(".TabPanalMenu-tabs .active span").on("click", function () {
            selectedEvent_AccomShort = null;
            selectedForm_AccomShort = null;
            selectedRegistrationNumbers = null;
            selectedPhoneNumbers = null;
            selectedInstanceId_AccomShort = null;
            regNos_or_PhNos_AccomShort = null;
            ph_numbers_AccomShort = null;

            result_regNumbs = null;
            result_chartids = null;
            result_respids = null;
            result_names = null;
            result_gender = null;
            result_names_genders_str = null;
            $.ajax({
                url: "/Facility/AccommodationShort/SessionClearAccomShort",
                type: "GET"
            });
            
        });


        //function closeAccom_Short() {
        //    $("#ChartUser_Mapping_Screen_Modal").dxPopup("hide");
        //}
        function ClearAllReferences_Accom_AccomShort() {

            ClearAllReferences("AccomShort_Facility_ClearReferences")
        }
    </script>
</div>