@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Magazine.Models.MagazineDispatchRegisterInfo
@{
    ViewBag.Title = "Index";
    Layout = null;
}
@{
    Html.AntiForgeryToken();
}

@if (Model.Actiontype == "LABEL")
{
    <div>Lable</div>
    <div>
        @(Html.DevExtreme().RadioGroup().ID("LabelID")
                                                        .Items(new[] { "1.  Delivery by Post (All)", "2. Delivery by Registered Post", "3. Delivery by Normal Post", "4. Delivery By Hand", "5. Expiring Members" })
                                                        .Value("1.  Delivery by Post (All)")
        )
    </div>
    <div>
        @Html.DevExtreme().Button().Text("Ok").OnClick(@<text> function (){ LableOrReportTypeDispatchClick("Label"); } </text>)
        @Html.DevExtreme().Button().Text("Cancel").OnClick(@<text> function () { cancelClick(); }</text>)
    </div>
}
else
{
    <div>Report Type</div>
    <div>
        @(Html.DevExtreme().RadioGroup().ID("ReportID")
                                                        .Items(new[] { "1.  Delivery by Post (All)", "2. Delivery by Registered Post", "3. Delivery by Normal Post", "4. Delivery By Hand", "5. Expiring Members","6. Copy wise State Wise","7. Registry Resport" })
                                                        .Value("1.  Delivery by Post (All)")
        )
    </div>
    <div>
        @Html.DevExtreme().Button().Text("Ok").OnClick(@<text> function (){ LableOrReportTypeDispatchClick("Report"); } </text>)
        @Html.DevExtreme().Button().Text("Cancel").OnClick(@<text> function () { cancelClick(); }</text>)
    </div>
}
