@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Magazine.Models.MagazineDispatchRegisterInfo
@{
    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .d-inline-block {
        display: inline-block;
    }

    .radioButtonDiv {
        border: 1px solid #2b94ef;
        padding: 2px 9px;
        max-width: 113px;
        background: #fff;
    }

    .name_text {
        color: #800000;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .margB10 {
        margin-bottom: 10px !important;
    }

    .max_height100 {
        max-height: 82px;
    }

    .Summaryheight {
        min-height: 147px;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="Frm_Mag_Dispatch_Window_popup" class="col-md-12">
    @using (Ajax.BeginForm("Frm_Magazine_Dispatch_Reg_Window", "MagazineDispatchRegister",
                                                       new AjaxOptions
                                                       {
                                                           HttpMethod = "POST",
                                                           UpdateTargetId = "Frm_Magazine_Disp_Window_popup",
                                                           InsertionMode = InsertionMode.InsertAfter,
                                                           OnBegin = "AjaxBeginFormPost",
                                                           OnSuccess = "Frm_MagDispatch_Reg_Window_OnSuccess"
                                                       },
                                                       new
                                                       {
                                                           id = "ID_Frm_Mag_Dispatch_Window",
                                                           @class = "edit_form"
                                                       }))
    {
        @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Issue_ID)
            @Html.HiddenFor(x => x.MEM_ID)
            @Html.HiddenFor(x => x.ActionMethodName)

        <div class="full-width-header-bg3">
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="popuphead"><i class="far fa-edit"></i> Magazine Dispatch Window</h3>
                </div>
                <div class="col-sm-4 prm">

                </div>
            </div>

        </div><!--[row]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-4 pll">
                                    <label class="control-label" for="">
                                        Subscription Details:
                                        <div class="line"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll mb_txt_left"><label class="control-label" for="">Issue:</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                    @(Html.DevExtreme().TextBox()
                                                                          .ID("BE_Issue")
                                                                          .Name("BE_Issue")
                                                                          .Value(Model.BE_Issue)
                                                                          .ReadOnly(true)
                                                           .Disabled(IsVisible)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll mb_txt_left"><label class="control-label opacityClass1" for="">Magazine:</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                    @(Html.DevExtreme().TextBox()
                                                                            .ID("BE_Magazine")
                                                                            .Name("BE_Magazine")
                                                                            .Value(Model.BE_Magazine)
                                                                            .ReadOnly(true)
                                                           .Disabled(IsVisible)
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll mb_txt_left"><label class="control-label" for="">Member:</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                    @(Html.DevExtreme().TextBox()
                                                                                 .ID("BE_Member")
                                                                                 .Name("BE_Member")
                                                                                 .Value(Model.BE_Member)
                                                                                 .ReadOnly(true)
                                                           .Disabled(IsVisible)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row" style="margin-bottom: 5px; ">
                            <div class="col-sm-6 col-md-8 col-lg-8 pll">
                                <label class="control-label" for="user">
                                    Dispatch Details:
                                    <div class="line"></div>
                                </label>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-xs-12 table-responsive overflow-scroll scrollbar max_height100" id="result_DispatchGridData">
                                @Html.Action("DispatchGridData", "MagazineDispatchRegister", new { ActionMethodName = Model.ActionMethodName == "_Edit" ? "_Edit" : "_New", IssueID = Model.Issue_ID , MemberID = Model.MEM_ID})
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field">
                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                        @(Html.DevExtreme().Button()
                                                    .ID("BUT_Dispatch")
                                                    .Text("Dispatch")
                                                    .OnClick(@<text>
                                                        function () {
                                                        OnFrm_Dispatch_Click()
                                                        }
                                                    </text>))
                                    </div><!--[button]-->
                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                        @(Html.DevExtreme().Button()
                                               .ID("BUT_DispatchEdit")
                                               .Text("Edit")
                                               .OnClick(@<text>
                                                function () {
                                                OnFrm_DispatchEdit_Click()
                                                }
                                            </text>))
                                    </div><!--[button]-->

                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                        @(Html.DevExtreme().Button()
                                                    .ID("BUT_DispatchDelete")
                                                    .Text("Delete")
                                                    .OnClick(@<text>
                                                        function () {
                                                        OnFrm_DispatchDelete_Click()
                                                        }
                                                    </text>))
                                    </div><!--[button]-->

                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                        @(Html.DevExtreme().Button()
                                                     .ID("BUT_DispatchView")
                                                     .Text("View")
                                                     .OnClick(@<text>
                                                        function () {
                                                        OnFrm_DispatchView_Click()
                                                        }
                                                    </text>))
                                    </div><!--[button]-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5">
                <div class="form-field">
                    <div class="container-fluid Summaryheight">
                        <div class="row" style="margin-bottom: 5px; ">
                            <div class="col-sm-6 col-md-8 col-lg-8 pll">
                                <label class="control-label" for="user">
                                    Summary:
                                    <div class="line"></div>
                                </label>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-7 col-lg-7 pll"><label class="control-label margB0" for="user"><i class="colorlighrBlue">Copies to be Disp.:</i></label></div>
                            <div class="col-sm-9 col-md-5 col-lg-5 prm pll1">
                                @(Html.DevExtreme().NumberBox().ID("Txt_Subscriped_count").Name("Txt_Subscriped_count").Value(Model.Txt_Subscriped_count).ReadOnly(true)
                                )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-7 col-lg-7 pll"><label class="control-label margB0" for="user"><i class="colorlighrBlue">Copies Dispatched:</i></label></div>
                            <div class="col-sm-9 col-md-5 col-lg-5 prm pll1">
                                @(Html.DevExtreme().NumberBox().ID("Txt_Dispatched_Count").Name("Txt_Dispatched_Count").Value(Model.Txt_Dispatched_Count).ReadOnly(true)
                                )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-7 col-lg-7 pll"><label class="control-label margB0" for="user"><i class="colorlighrBlue">Copies Returned:</i></label></div>
                            <div class="col-sm-9 col-md-5 col-lg-5 prm pll1">
                                @(Html.DevExtreme().NumberBox().ID("Txt_Returned_Count").Name("Txt_Returned_Count").Value(Model.Txt_Returned_Count).ReadOnly(true)
                                )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-7 col-lg-7 pll"><label class="control-label margB0" for="user"><i class="colorlighrBlue">Total Dispatched:</i></label></div>
                            <div class="col-sm-9 col-md-5 col-lg-5 prm pll1">
                                @(Html.DevExtreme().NumberBox().ID("Txt_Net_Dispatched").Name("Txt_Net_Dispatched").Value(Model.Txt_Net_Dispatched).ReadOnly(true)
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-field wbg brd-bot-none">
                <div class="col-sm-8 col-lg-8 col-xs-12">
                    <div class="form-field wbg brd-bot-none brd-none" style="padding-top:0px !important; padding-left:0px !important;">
                        <div class="container-fluid">
                            <div class="send_message">
                                <img src="~/Content/image/send-icon.png" class="madhuban-req" />
                                Send Your Request to Madhuban
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12 paddR4">
                    @if (Model.ActionMethod.ToString().Trim() == "_View")
                    {
                        <div class="action-btn-wrap">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                @(Html.DevExtreme().Button()
                                                                              .Text("Close")
                                                                              .ID("Dispatch_Reg_Cancle")
                                                                              .FocusStateEnabled(true)
                                                                              .OnClick(@<text>
                                                                                function () {
                                                                                $("#Frm_Subs_popup").dxPopup("hide");
                                                                                }
                                                                            </text>)
                                )
                            </div><!--[button]-->

                        </div>
                    }

                    @if (Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit")
                    {
                        <div class="action-btn-wrap">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                @(Html.DevExtreme().Button()
                                                                           .Text("Cancel")
                                                                           .ID("Dispatch_Reg_Cancle")
                                                                           .FocusStateEnabled(true)
                                                                           .OnClick(@<text>
                                                                             function () {
                                                                             $("#Frm_Subs_popup").dxPopup("hide");
                                                                             }
                                                                         </text>)
                                )
                            </div><!--[button]-->

                        </div>

                        <div class="action-btn-sec-wrap">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                @(Html.DevExtreme().Button().Text("Save").ID("Dispatch_Reg_Save")
                            .UseSubmitBehavior(true)
                                      
                                )
                            </div><!--[button]-->
                        </div>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
    }

</div>
@(Html.DevExtreme().Popup().CustomPopup()
                     .ID("Frm_Dispatch_Popup")
                     .CloseOnOutsideClick(false)
                     .ShowTitle(true)
                     .Title("New ~ ")
                     .ContentTemplate(@<text>
                       <div id="result_Frm_Dispatch_Popup">

                       </div>
                   </text>)
)
<script>
    var Dispatchdetail_Sr;
    var Dispatch_Tr_M_ID = "";
    function OnFrm_Dispatch_Click()
    {
        $("#Frm_Dispatch_Popup").dxPopup("show");
        $("#Frm_Dispatch_Popup").dxPopup("instance").option("title", "New ~ DispatchMagazine Dispatch Entry")
        ShowLoader();
        $("#result_Frm_Dispatch_Popup").load("@Url.Action("Frm_DispatchEntryWindow", "MagazineDispatchRegister", new {@area= "Magazine" })?ActionMethod=_New", function () {
            HideLoader();
        });
    }
    function OnFrm_DispatchEdit_Click()
    {
        if (Dispatchdetail_Sr != null && Dispatchdetail_Sr != undefined && Dispatchdetail_Sr != "undefined") {
            $("#Frm_Dispatch_Popup").dxPopup("show");
            $("#Frm_Dispatch_Popup").dxPopup("instance").option("title", "Edit ~ PaymentMagazine Dispatch Entry")
            ShowLoader();
            $("#result_Frm_Dispatch_Popup").load("@Url.Action("Frm_DispatchEntryWindow", "MagazineDispatchRegister", new {@area= "Magazine" })?ActionMethod=_Edit&SrID=" + encodeURIComponent(Dispatchdetail_Sr), function () {
                HideLoader();
            });
            HideLoader();
        }
    }

    function OnFrm_DispatchView_Click()
    {
        if (Dispatchdetail_Sr != null && Dispatchdetail_Sr != undefined && Dispatchdetail_Sr != "undefined") {
            $("#Frm_Dispatch_Popup").dxPopup("show");
            $("#Frm_Dispatch_Popup").dxPopup("instance").option("title", "View ~ PaymentMagazine Dispatch Entry")
            ShowLoader();
            $("#result_Frm_Dispatch_Popup").load("@Url.Action("Frm_DispatchEntryWindow", "MagazineDispatchRegister", new {@area= "Magazine" })?ActionMethod=_View&SrID=" + encodeURIComponent(Dispatchdetail_Sr), function () {
                HideLoader();
            });
            HideLoader();
        }
    }
    function OnFrm_DispatchDelete_Click(e) {
        if (Dispatchdetail_Sr == 'undefined' || Dispatchdetail_Sr == undefined || Dispatchdetail_Sr == null) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var deleteResultPaymentDetail = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Confirm changes");
        deleteResultPaymentDetail.done(function (dialogResult) {

            if (dialogResult) {
                $.ajax({
                    type: 'GET',
                    url: "/Magazine/MagazineDispatchRegister/Frm_DispatchDetail_Window_Delete_Grid_Record",
                    data: { ActionMethod: "Delete", SrID: Dispatchdetail_Sr, TxnMID: Dispatch_Tr_M_ID },
                    cache: false,
                    success: function (result) {
                        $("#Txt_Dispatched_Count").dxNumberBox("instance").option("value", result.Total_disp_copies);
                        $("#Txt_Returned_Count").dxNumberBox("instance").option("value", result.Txt_Returned_Count);
                        $("#Txt_Net_Dispatched").dxNumberBox("instance").option("value", result.Txt_Net_Dispatched);
                        DispatchDetails_Window_Grid.Refresh();
                        DispatchDetails_Window_Grid.SetFocusedRowIndex(0);
                    }
                });
            }
        });
    }
    function OnDispatchDetailsGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'Sr;Tr_M_ID;', OnDispatchDetailsGridRowValues);
    }
    function OnDispatchDetailsGridRowValues(values) {
        debugger
        Dispatchdetail_Sr = values[0];
        Dispatch_Tr_M_ID = values[1]
    }
    
    function Frm_Dispatch_Detail_Window_OnSuccess(result)
    {
        if (result.result == false) {
            DevExpress.ui.dialog.alert(result.message, "Error");
            HideLoader();
        }
        else if (result.result == true) {
            DevExpress.ui.dialog.alert(result.message, "Saved Successfully");
            $("#Txt_Dispatched_Count").dxNumberBox("instance").option("value", result.Total_disp_copies);
            $("#Txt_Returned_Count").dxNumberBox("instance").option("value", result.Txt_Returned_Count);
            $("#Txt_Net_Dispatched").dxNumberBox("instance").option("value", result.Txt_Net_Dispatched);
            HideLoader();
            $("#Frm_Dispatch_Popup").dxPopup("hide");
            DispatchDetails_Window_Grid.Refresh();
        }
    }
</script>

