@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Magazine.Models.Magazine_Dispatch_Info_Details
@{
    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .d-inline-block {
        display: inline-block;
    }

    .radioButtonDiv {
        border: 1px solid #2b94ef;
        padding: 2px 9px;
        max-width: 113px;
        background: #fff;
    }

    .name_text {
        color: #800000;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .margB10 {
        margin-bottom: 10px !important;
    }

    .paddT3 {
        padding-top: 3px !important;
    }
    .issueMember {
        color: #b33c00;
        text-align: center;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="Frm_Subscription_Window_popup" class="col-md-12">
    @using (Ajax.BeginForm("Frm_Magazine_Dispatch_Detail_Window", "MagazineDispatchRegister",
                                                       new AjaxOptions
                                                       {
                                                           HttpMethod = "POST",
                                                           UpdateTargetId = "Frm_Dispatch_Detail_Window_popup",
                                                           InsertionMode = InsertionMode.InsertAfter,
                                                           OnBegin = "AjaxBeginFormPost",
                                                           OnSuccess = "Frm_Dispatch_Detail_Window_OnSuccess"
                                                       },
                                                       new
                                                       {
                                                           id = "ID_Frm_Dispatch_Detail_Window",
                                                           @class = "edit_form"
                                                       }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.Sr)
        @Html.HiddenFor(x => x.Mode_Name)
        @Html.HiddenFor(x => x.Issue_Member)
        @Html.HiddenFor(x => x.Tr_M_ID)
        <div class="full-width-header-bg3">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="popuphead"><i class="far fa-edit"></i> Magazine Dispatch Entry</h2>
                </div>
                <div class="col-sm-4 prm">
                    <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                </div>
            </div>
        </div><!--[row]-->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-field">
                    <h4 class="issueMember" id="issueMember"></h4>
                </div>
            </div>
        </div><!--[row]-->
        <div class="row">
            <div class="">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Date : </label></div>
                                <div class="col-sm-6 col-md-8 col-lg-8 prm pll1">

                                    @(Html.DevExtreme().DateBoxFor(m => m.Txt_Date)
                                                                                                                  .ID("Txt_Date")
                                                                                                                  .Name("Txt_Date")
                                                                                                                  .Type(DateBoxType.Date)
                                                                                                                  .PickerType(DateBoxPickerType.Native)
                                                                                                                  .DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                                                                                  .InvalidDateMessage("Value must be a Date!!")
                                                                                                                  .ReadOnly(IsVisible)
                                                                                                                  .Disabled(IsVisible)

                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Dis. Mode :</label></div>
                                <div class="col-sm-6 col-md-8 col-lg-8 prm">

                                    @(Html.DevExtreme().SelectBox()
                                                                                                       .ID("GLookUp_DTypeList")
                                                                                                      .Name("GLookUp_DTypeList")
                                                                                                      .Value(Model.GLookUp_DTypeList)
                                                                                                      .DisplayExpr("Name")
                                                                                                      .ValueExpr("ID")
                                                                                                      .DataSource(d => d.Mvc().Area("Magazine").Controller("MagazineDispatchRegister").LoadAction("LookUp_GetDispatchTypeList").Key("ID"))
                                                                                                      .SearchEnabled(true)
                                                                                                      .ReadOnly(IsVisible)
                                                                                                      .Disabled(IsVisible)
                                                                                                      .OnValueChanged("GLookUp_DTypeList_ChangeEvent")
                                                                                                      .DeferRendering(false)
                                                                                                      .OnInitialized("onInitialized_GLookUp_DTypeList")
                                                                                                      .TabIndex(2)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[2]-->
            </div>
        </div><!--[row]-->
        <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Copies : </label></div>
                            <div class="col-sm-6 col-md-8 col-lg-8 prm pll1">
                                @(Html.DevExtreme().NumberBox()
                                                                                               .ID("Txt_Dispatched_count")
                                                                                               .Name("Txt_Dispatched_count")
                                                                                               .Value(Model.Txt_Dispatched_count)
                                                                                                .ReadOnly(IsVisible)
                                                                                               .Disabled(IsVisible)
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[1]-->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Status : </label></div>
                            <div class="col-sm-6 col-md-8 col-lg-8 prm pll1">
                                @(Html.DevExtreme().SelectBox()
                                                                                            .ID("Cmb_Status")
                                                                                            .Name("Cmb_Status")
                                                                                            .DataSource(new[] { "NOT DISPATCHED", "DELIVERY RETURNED", "FAULTY DELIVERY", "DELIVERED" })
                                                                                            .Value(Model.Cmb_Status)
                                                                                            //.SearchEnabled(true)
                                                                                            .OnValueChanged("Cmb_Status_SelectedIndexChanged")
                                                                                            .ReadOnly(IsVisible)
                                                                                            .Disabled(IsVisible)
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[2]-->
        </div><!--[row]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll">
                        <label class="control-label margT13" for="iten">Remarks:</label>
                    </div>

                    <div class="col-sm-10 col-md-10 col-lg-10 prm">
                        @(Html.DevExtreme().TextBox()
                                                                                    .ID("Me_Remarks")
                                                                                    .Name("Me_Remarks")
                                                                                    .Value(Model.Me_Remarks)
                                                                                    .ReadOnly(IsVisible)
                                                                                    .Disabled(IsVisible)

                                //.Placeholder("Type a text here...")
                        )
                    </div>
                </div>
            </div>
        </div><!--[row]-->

        <div class="row">
            <div class="form-field wbg brd-bot-none">
                <div class="col-sm-8 col-lg-8 col-xs-12">
                    <div class="form-field wbg brd-bot-none brd-none" style="padding-top:0px !important; padding-left:0px !important;">
                        <div class="container-fluid">
                            <div class="send_message">
                                <img src="~/Content/image/send-icon.png" class="madhuban-req" />
                                Send Your Request to Madhuban
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12 paddR4">
                    @if (Model.ActionMethod.ToString().Trim() == "_View")
                    {
                        <div class="action-btn-wrap">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                @(Html.DevExtreme().Button()
                                                                                                  .Text("Close")
                                                                                                  .ID("Subscription_Cancle")
                                                                                                  .FocusStateEnabled(true)
                                                                                                  .OnClick(@<text>
                                                                                                    function () {
                                                                                                    $("#Frm_Dispatch_Popup").dxPopup("hide");
                                                                                                    }
                                                                                                </text>)
                                )
                            </div><!--[button]-->

                        </div>
                    }

                    @if (Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit")
                    {
                        <div class="action-btn-wrap">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                @(Html.DevExtreme().Button()
                                                                                                   .Text("Cancel")
                                                                                                   .ID("Subscription_Cancle")
                                                                                                   .FocusStateEnabled(true)
                                                                                                   .OnClick(@<text>
                                                                                                    function () {
                                                                                                    $("#Frm_Dispatch_Popup").dxPopup("hide");
                                                                                                    }
                                                                                                </text>)
                                )
                            </div><!--[button]-->

                        </div>

                        <div class="action-btn-sec-wrap">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                @(Html.DevExtreme().Button()
                                                                                                                       .Text("Save")
                                                                                                                       .ID("Subscription_Save")
                                                                                                                       .UseSubmitBehavior(true)
                                )
                            </div><!--[button]-->
                        </div>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
    }

</div>
<script>
    $(document).ready(function () {
        debugger
        var _issue = $("#Issue_Member").val();
        $("#issueMember").text(_issue);
    })
    function Cmb_Status_SelectedIndexChanged(e) {

    }
    function GLookUp_DTypeList_ChangeEvent(e) {
        debugger
        var temp = e.component._options.selectedItem.Name;
        $("#Mode_Name").val(temp);
    }
    function onInitialized_GLookUp_DTypeList(e) {
        debugger
        if (e.component.option("dataSource") != null) {
            e.component.option("dataSource").store.load().done(function (d) {

                if (d.length == 1)
                    e.component.option("value", d[0].Name);

            });
        }
    }
</script>
