<div class="OpeningBalanceProfile_ClearReferences">
    @using DevExtreme.AspNet.Mvc; 

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        string UserType = (string)ViewBag.UserType;
        bool OpenBalance_AddRight = (bool)ViewData["OpenBalance_AddRight"];
        bool OpenBalance_UpdateRight = (bool)ViewData["OpenBalance_UpdateRight"];
        bool OpenBalance_ViewRight = (bool)ViewData["OpenBalance_ViewRight"];
        bool OpenBalance_DeleteRight = (bool)ViewData["OpenBalance_DeleteRight"];
        bool OpenBalance_ExportRight = (bool)ViewData["OpenBalance_ExportRight"];
        bool OpenBalance_ListRight = (bool)ViewData["OpenBalance_ListRight"];
        bool OpenBalance_LockUnlockRight = (bool)ViewData["OpenBalance_LockUnlockRight"];
        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
        bool OpeningBalances_Auto_Vouching_Mode = (bool)ViewData["OpeningBalances_Auto_Vouching_Mode"];
    }
    <div id="OBProfile_ParentDiv">
        <div id="content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">Opening Balances Information</label>
            </div>
            @*Buttons*@
            <div class="report_button_div">
                @(Html.DevExtreme().Switch().ID("OpenBalVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("OpenBal_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Switch().ID("OpenBalanceViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("OpenBalance_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Button()
                                                                        .ID("OpeningBalancesModelUnlock")
                                                                        .Text("Unlock")
                                                                        .Icon("add")
                                                                        .Visible(false)
                                                                        .Disabled(true)
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            OnUnlockClick();
                                                                            }
                                                                        </text>)
            )
                @(Html.DevExtreme().Button()
                                                                        .ID("OpeningBalancesModelLock")
                                                                        .Text("Lock")
                                                                        .Icon("add")
                                                                        .Visible(false)
                                                                        .Disabled(true)
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            OnLockClick();
                                                                            }
                                                                        </text>)
            )
                @(Html.DevExtreme().Button()
                                                                        .ID("OpeningBalancesModelNew")
                                                                        .Text("New")
                                                                        .Icon("add")
                                                                        .Visible(false)
                                                                        .Disabled(true)
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            OnNewClick();
                                                                            }
                                                                        </text>)
            )
                @(Html.DevExtreme().Button()
                                                                        .ID("OpeningBalancesModelEdit")
                                                                        .Text("Edit")
                                                                        .Icon("edit")
                                                                        .Visible(false)
                                                                        .Disabled(true)
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            OnOBEditClick();
                                                                            }
                                                                        </text>)
            )
                @(Html.DevExtreme().Button()
                                                                        .ID("OpeningBalancesModelDelete")
                                                                        .Text("Delete")
                                                                        .Icon("trash")
                                                                        .Visible(false)
                                                                        .Disabled(true)
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            OnDeleteClick();
                                                                            }
                                                                        </text>)
            )
                @(Html.DevExtreme().Button()
                                                                        .ID("OpeningBalancesView")
                                                                        .Text("View")
                                                                        .Icon(IconID.ViewCustomers16x16devav)
                                                                        .Icon("doc")
                                                                        .Visible(false)
                                                                        .Disabled(true)
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            OnViewClick();
                                                                            }
                                                                        </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("OpeningBalancesToggleScrollBar")
                                                                                                    .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                                                                                                    .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                                                                                                    .Icon("toolbox")
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OpeningBalanceschangeMode();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("OpeningBalancesModelListPreview")
                                                                                                    .Text("Export")
                                                                                                    .Icon("save")
                                                                                                    .Width(80)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnListPreviewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("OpeningBalancesModelCLOSE")
                                                                                                    .Text("Close")
                                                                                                    .Icon("clear")
                                                                                                    .OnClick(@<text>
                                                                                                        function (){  closeProfile_OpeningBalances();}
                                                                                                    </text>)

            )
            </div>
        </div>
        <div class="col-md-12 no-padding">
            <form>
                <div id="OpeningbalancesreloadPartialView" class="parent_table">
                    @Html.Partial("Frm_OpeningBalances_Info_Grid", Model)
                </div>
            </form>
        </div>
        <div class="footer-MainBoxdiv full-width-footer">
            @*<div class="col-lg-8 report_footer_small_buttons_div" id="DepositsFooterItem">*@
            <div class="list_footer_left_margin col-md-10">
                <div>
                    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id="ob_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="ob_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                            @*<div class="footer-locktext">
                                    <div id="obLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                                </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id="obLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id="obLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list_footer_right_margin_consistent col-md-1">
                @*<i id="ob_LockICON" class="fa fa-lock lock_symbol"></i>*@
            </div>
            @*</div>
                <div class="col-lg-4 listing_footer_filter_buttons_div">
                </div>*@
        </div>
        @Html.Partial("AttachmentFAB", "OpeningBalancesPrf_FAB,OpeningBalancesProfile_grid_DIV,Type1,OpeningBalancesProfile," + UserType) @*fab buttons*@

        <div class="col-md-12">
            @*Add/Edit Popup*@
            @(Html.DevExtreme().Popup().CustomPopup()
                                            .ID("Openingbalances_report_modal")
                                            .OnShowing("PopupOnShowing")
                                            .Title("OpeningBalances List Preview")
                                            .FullScreen(false)
                                            .MaxWidth(125)
                                            .Height("auto")
                                            .ShowCloseButton(true)
                                            .ContentTemplate(@<text>
                                                <div id="Openingbalances_report_modal_result">
                                                </div>
                                            </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                    .ID("popup_frm_OB_Window_Close")
                                    .OnShowing("PopupOnShowing")
                                    .Title("Bank")
                                    .MaxHeight(460)
                                    .MaxWidth(750)
                                    .ContentTemplate( @<text>
                                        <div id='popup_frm_OB_Window_Close_result'>
                                        </div>
                                    </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                            .ID("popup_frm_OpeningBalances_Window")
                                            .Title("OpeningBalances")
                                            .OnShowing("PopupOnShowing")
                                            .DragEnabled(true)
                                            .Height(200)
                                            .Width(650)
                                            .ShowCloseButton(true)
                                            .ContentTemplate(@<text>
                                                <div id="popup_frm_OpeningBalances_Window_result">
                                                </div>
                                            </text>)
                    @*.OnHiding(@<text>
                                function () {

                                var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                result.done(function (dialogResult) {
                                if(dialogResult){
                                $("#popup_frm_OpeningBalances_Window").dxPopup("hide");
                                }else
                                {
                                $("#popup_frm_OpeningBalances_Window").dxPopup("show");
                                }
                                });

                                }
                        </text>)*@
        )
            @* Testing MVC Popup here *@

            @* Testing ends here *@

        </div>
    </div>
    @*Javascript Events*@
<script type="text/javascript">
    var Openingbalances_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var Openingbalances_SetVouchingModeOn = "@OpeningBalances_Auto_Vouching_Mode" == "True" ? true : false;
    var UserType_OpenBalPrf = "@UserType".toUpperCase();
    var OpenBal_IsVouchingMode = false;
    var IsOBNewPopup = false;
    var IsSucessPopup = false;
    var IsViewPopup = false;
    var OpenBalance_ViewMode = "Default";
    var Openingbalances_FocusedRowBeforeRefresh;
    function OnListPreviewClick() {
        $("#Openingbalances_report_modal").dxPopup("show");
        $("#Openingbalances_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#Openingbalances_report_modal").html('');
        ShowLoader();
        $("#Openingbalances_report_modal_result").load("@Url.Action("Frm_Export_Options", "OpeningBalances", new { @area = "Profile" })", function () {
            HideLoader();
        });
        OpenPopup("Openingbalances_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "OpeningBalances", new { @area = "Profile" })", "auto", 125, false, null);
    }
    function OnOpenBalCellClick(event, cell,col, row)
    {
        if (UserType_OpenBalPrf == "AUDITOR" || UserType_OpenBalPrf == "SUPERUSER")
        {
            if (event.button == 0)
            {
                if (cell.style.backgroundColor.length > 0)
                {
                    cell.style.backgroundColor = "";
                }
                else
                {
                    cell.style.backgroundColor = 'skyblue';
                }
            }
        }
    }

        function ClearAllReferences_OpeningBalancesProfile() {
            Openingbalances_ShowHorizontalBar = null;
            Openingbalances_SetVouchingModeOn = null;
            UserType_OpenBalPrf = null;
            OpenBal_IsVouchingMode = null;
            IsOBNewPopup = null;
            IsSucessPopup = null;
            IsViewPopup = null;
            OpenBalance_ViewMode = null;
            Openingbalances_FocusedRowBeforeRefresh = null;
            OpenBal_ColumnToBeShownIndex = null;
            OpenBal_ColumnToBeHidddenIndex = null;
            ItemName = null;
            Head = null;
            HeadType = null;
            Amount = null;
            Type = null;
            other_DetField = null;
            Add_By = null;
            Add_Date = null;
            Edit_By = null;
            Edit_Date = null;
            Action_Status = null;
            Action_By = null;
            Action_Date = null;
            OBID = null;
            ID = null;
            Remarks = null;
            RemarkStatus = null;
            OpenActions = null;
            CrossedTimeLimit = null;
            YearID = null;
            OBData = null;
            OpeningBalancesInfo_IsDetailRowExpanded = null;
            OpeningBalancesInfo_NestedRecord_FocusedRowIndex = null;
            OpeningBalancesInfo_NestedGrid_AccessID = null;
            OpeningBalancesInfo_AtachmentID = null;
            OpeningBalancesInfo_FileName = null;
            OpeningBalancesInfo_ParamMandatory = null;
            OpeningBalancesInfo_FromDateLabel = null;
            OpeningBalancesInfo_ToDateLabel = null;
            OpeningBalancesInfo_DescriptionLabel = null;
            OpeningBalancesInfo_Doc_ID = null;
            OpeningBalancesInfo_Doc_Category = null;
            OpeningBalancesInfo_MasterRowRecID = null;
            OpeningBalancesInfo_MasterRowMID = null;
            OpeningBalancesInfo_NestedRowMapID = null;
            OpeningBalancesInfo_reason = null;
            OpeningBalancesInfo_Attachment_RecStatus = null;
            OpeningBalancesInfo_NestedRowReasonID = null;
            OpeningBalancesInfo_NestedRowKeyValue = null;

            ClearAllReferences("OpeningBalanceProfile_ClearReferences");
        }
    function OpenBal_VouchingSwitch_ValueChange(e)
    {
        OpeningbalancesListGrid.SetFocusedRowIndex(-1);
        OpenBal_IsVouchingMode = e.value;
        OpeningBalancesPrf_FAB.SetVisible(false);
        if (OpenBal_IsVouchingMode == true) {
            OpenRightPane();
            ClearLeftPane();
            OpenLeftPane();
        }
        else {
            OpeningBalancesPrf_FAB.SetActionContext("AddAttachmentContext", false);
            CloseRightPane();
            ClearLeftPane();
            CloseLeftPane();
        }
        OpeningbalancesListGrid_CollapseAllDetailRows();
    }
    function OpeningbalancesListGrid_CollapseAllDetailRows()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.OpeningbalancesListGrid !== 'undefined')
            {
                if (typeof window.OpeningbalancesListGrid.CollapseAllDetailRows !== 'undefined')
                {
                    if (typeof OpeningbalancesListGrid.CollapseAllDetailRows == 'function')
                    {
                        OpeningbalancesListGrid.SetFocusedRowIndex(-1);
                        OpeningbalancesListGrid.CollapseAllDetailRows();
                    }
                    else
                    {
                        alert("CollapseAllDetailRows is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        OpeningbalancesListGrid_CollapseAllDetailRows();
                        HideLoader();
                    }, 500);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else {
            alert('window undefined')
        }
    }
    function OpenBalance_ViewSwitch_ValueChange(e)
    {
        OpenBalance_ViewMode = e.value == false ? "Default" : "Compact";
        if (Openingbalances_SetVouchingModeOn == true)
        {
            $("#OpenBalVouchingModeSwitch").dxSwitch("instance").option("value", true);
        }
        else
        {
            OpeningbalancesListGrid.CollapseAllDetailRows();
        }
    }
    $(document).ready(function () {
        $("#OpeningbalancesListGrid").hover(function () {
            OpeningbalancesListGrid.Focus()
        })
        if ("@OpenBalance_LockUnlockRight" == "False")
        {
            $("#OpeningBalancesModelUnlock").hide();
            $("#OpeningBalancesModelLock").hide();
        }
        if ("@OpenBalance_AddRight" == "False")
        {
            $("#OpeningBalancesModelNew").hide();
        }
        if ("@OpenBalance_UpdateRight" == "False")
        {
            $("#OpeningBalancesModelEdit").hide();
        }
        if ("@OpenBalance_ViewRight" == "False")
        {
            $("#OpeningBalancesView").hide();
        }
        if ("@OpenBalance_DeleteRight" == "False")
        {
            $("#OpeningBalancesModelDelete").hide();
        }
        if ("@OpenBalance_ExportRight" == "False")
        {
            $("#OpeningBalancesModelListPreview").hide();
        }
        $(".OpeningbalancesListGrid_PreviewRow").hide();
        GetSessionStorage("OpeningbalancesListGrid");
        if (Openingbalances_SetVouchingModeOn == true)
        {
            $("#OpenBalanceViewModeSwitch").dxSwitch("instance").option("value", true);
        }
        $(".TabPanalMenu-tabs .active span").on("click", function () {
                $.ajax({
                    type: 'GET',
                    url: "/Profile/OpeningBalances/SessionClear",
                    cache: false
                });
                CloseRightPane();
                ClearLeftPane();
            CloseLeftPane();
            ClearAllReferences_OpeningBalancesProfile();
        });
    });
    function OpeningBalancesOnInit(s, e) {
        OpeningBalancesAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            OpeningBalancesAdjustSize();
        });
    }
    function OBGrid_BeginCallBack(s, e)
    {
        Openingbalances_FocusedRowBeforeRefresh = s.GetFocusedRowIndex();
        e.customArgs["command"] = e.command;
        e.customArgs["ShowHorizontalBar"] = Openingbalances_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = OpenBal_IsVouchingMode;
        e.customArgs["ViewMode"] = OpenBalance_ViewMode;
        e.customArgs["ColumnToBeShownIndex"] = OpenBal_ColumnToBeShownIndex;
        e.customArgs["ColumnToBeHidddenIndex"] = OpenBal_ColumnToBeHidddenIndex;
    }
    var OpenBal_ColumnToBeShownIndex = "";
    var OpenBal_ColumnToBeHidddenIndex = "";

    function OnGridOpeningBalancesListGrid_EndCallback(s, e)
    {
        OpenBal_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
        OpenBal_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex;
        OpeningBalancesGridLayout = s.cpClientLayout;
        if (e.command == "REFRESH" && OpenBal_IsVouchingMode == true)
        {
                s.SetFocusedRowIndex(-1);
                s.SetFocusedRowIndex(Openingbalances_FocusedRowBeforeRefresh);
        }
            $(".OpeningbalancesListGrid_PreviewRow").hide();
        GetSessionStorage("OpeningbalancesListGrid");
        SendCustomArgs_FilterControl(s, e);
    }

    function OpeningBalancesAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try{  OpeningbalancesListGrid.SetHeight(height);
            OpeningbalancesListGrid.SetHeight(height);
        } catch (err) { }
    }
    function OpeningBalanceschangeMode() {
        ShowLoader();
        if (Openingbalances_ShowHorizontalBar == 0) {
            Openingbalances_ShowHorizontalBar = 1;
            $("#OpeningBalancesToggleScrollBar").find("span").text("Default Data");
            $("#OpeningBalancesToggleScrollBar").width(110);
        }
        else {
            Openingbalances_ShowHorizontalBar = 0;
            $("#OpeningBalancesToggleScrollBar").find("span").text("Full Data");
            $("#OpeningBalancesToggleScrollBar").width(90);
        }
        $.ajax({
            url: '@Url.Action("Frm_OpeningBalances_Info_Grid", "OpeningBalances")',
            type: "GET",
            data: { ShowHorizontalBar: Openingbalances_ShowHorizontalBar, VouchingMode: OpenBal_IsVouchingMode, ViewMode: OpenBalance_ViewMode, ColumnToBeHidddenIndex: OpenBal_ColumnToBeHidddenIndex, ColumnToBeShownIndex: OpenBal_ColumnToBeShownIndex },
            success: function (res) {
                $("#OpeningbalancesreloadPartialView").html(res);
                $(".OpeningbalancesListGrid_PreviewRow").hide();
                GetSessionStorage("OpeningbalancesListGrid");
            }
        });
        HideLoader();
    }
    var ItemName;
    var Head;
    var HeadType;
    var Amount;
    var Type;
    var other_DetField;
    var Add_By;
    var Add_Date;
    var Edit_By;
    var Edit_Date;
    var Action_Status;
    var Action_By;
    var Action_Date;
    var OBID;
    var ID;
    var Remarks;
    var RemarkStatus;
    var OpenActions;
    var CrossedTimeLimit;
    var YearID;

    function OBdblclickEdit(s, e) {
        //var key = s.GetRowKey(s.GetFocusedRowIndex());
        //OpeningbalancesListGrid.GetValuesOnCustomCallback({ key: key }, OpeningBalancesOnGetRowValues);
        //if (OpeningBalancesID != null || OpeningBalancesID == "" || OpeningBalancesID == undefined)
        //    OnEditClick();
    }

    function OBOnGridFocusedRowChanged(s, e)
    {
        if (s.GetFocusedRowIndex() >= 0)
        {
            if (OpenBal_IsVouchingMode)
            {
                OpeningBalancesPrf_FAB.SetVisible(true);
                OpeningBalancesPrf_FAB.SetActionContext("VouchingActionContext", true);
            }
            var key = s.GetRowKey(s.GetFocusedRowIndex());
            OpeningbalancesListGrid.GetValuesOnCustomCallback({ key: key }, OBOnGetRowValues);
        }
        else
        {
            ID = null;
        }
    }

    function OBOnGetRowValues(OpeningBalancesData) {
        var values = OpeningBalancesData.split("![");
        ItemName = values[0];
        Head = values[1];
        HeadType = values[2];
        Amount = values[3];
        Type = values[4];
        other_DetField = values[5];
        Add_By = values[6];
        Add_Date = values[7];
        Edit_By = values[8];
        Edit_Date = values[9];
        Action_Status = values[10];
        Action_By = values[11];
        Action_Date = values[12];
        OBID = values[13];
        ID = values[14];
        Remarks = values[15];
        RemarkStatus = values[16];
        OpenActions = values[17];
        CrossedTimeLimit = values[18];
        YearID = values[19];

        OpeningBalancesUpdateFooterDetail(ID, Action_Status, Add_Date, Add_By,
            Action_Date, Action_By, Edit_Date, Edit_By);
        if (OpenBal_IsVouchingMode == true) {
            OpenLeftPane();
            LoadDocumentAndAdditionalInfoInLeftPane("Profile", "OpeningBalances", "LeftPaneContent", ID, OpenBal_IsVouchingMode, "");
        }
    }

    function OpeningBalancesContextMenuFunction(s, e) {
        if (e.item.name == 'New') {
            OnNewClick();
        }
        if (e.item.name == 'Close') {
            closeProfile_OpeningBalances();
        }
        else if (e.item.name == 'Edit') {
            OnEditClick();
        }
        else if (e.item.name == 'Delete') {
            OnDeleteClick();
        }
        else if (e.item.name == 'View') {
            OnViewClick();
        }
        else if (e.item.name == 'ListPreview') {
            OnListPreviewClick();
        }
        else if (e.item.name == 'NewAudit') {
            OnNewAuditClick();
        }
        else if (e.item.name == 'ViewAudit') {
            OnViewAuditClick();
        }
        else if (e.item.name == 'Lock') {
            OnLockClick();
        }
        else if (e.item.name == 'UnLock') {
            OnUnlockClick();
        }
        else if (e.item.name == 'Refresh') {
            OpeningbalancesListGrid.Refresh();
        }
    }

    var OBData = "";
    function LookUp_OBDetails_Gen_OB_ChangeEvent(e) {
        debugger;

        var dropDownBox = $("#ItemName").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#Frm_Profile_Win_opening_GLookUp_OBList_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                //bankData = (item["REC_ID"]);
                //$("#bankData").val(bankData);
                OBData = item.REC_ID;
                $("#Head").dxTextBox("instance").option("value", item["Head"]);
                $("#HeadType").dxTextBox("instance").option("value", item["HeadType"]);
            }
        }
        //Branch.Refresh();
    }
    function OBAjaxSuccessForm(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
            //$("#popup_frm_Bank_Window").dxPopup("hide");
            OpeningbalancesListGrid.Refresh();
        }
        else {
            IsSucessPopup = true;
            var OBSubmitSuccess = DevExpress.ui.dialog.alert(data.Message, "Opening Balances");
            $("#popup_frm_OpeningBalances_Window").dxPopup("hide");
            OpeningbalancesListGrid.Refresh();
            IsSucessPopup = false;
            OBSubmitSuccess.done(function (alertResult) {
                if (alertResult) {
                    if (IsOBNewPopup == true) {
                        var addmoreOBresult = DevExpress.ui.dialog.confirm("Add More Entry...?", "Opening Balances");
                        addmoreOBresult.done(function (dialogResult) {
                            if (dialogResult) {
                                OnNewClick();
                            }
                        });
                    }
                }
            });
        }
    }

    function OnNewClick() {
        if ("@OpenBalance_AddRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        IsOBNewPopup = true;
        IsViewPopup = false;
        $("#popup_frm_OpeningBalances_Window").dxPopup("show");
        // $(".dx-popup-content").dxScrollView();
        $("#popup_frm_OpeningBalances_Window").dxPopup("instance").option("title", "New ~ Opening Balances");
        ShowLoader();
        $("#popup_frm_OpeningBalances_Window_result").load("@Url.Action("Frm_OpeningBalances_Window", "OpeningBalances", new { @area = "Profile" })?ActionMethod=New", function () {
            HideLoader();
            OpeningbalancesListGrid.Refresh();
        });
    }

    function OnOBEditClick() {
        if ("@OpenBalance_UpdateRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        IsOBNewPopup = false;
        IsViewPopup = false;
        if (ID == 'undefined' || ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/OpeningBalances/DataNavigation",
            data: { ActionMethod: "Edit", id: ID, Edit_Date: Edit_Date },
            cache: false,
            success: function (OB_Edit_ButtonClick_result) {
                if (OB_Edit_ButtonClick_result.result == "true" || OB_Edit_ButtonClick_result.result == true) {
                    $("#popup_frm_OpeningBalances_Window").dxPopup("show");
                    $("#popup_frm_OpeningBalances_Window").dxPopup("instance").option("title", "Edit ~ Opening Balances");
                    $("#popup_frm_OpeningBalances_Window_result").html('');
                    ShowLoader();
                    $("#popup_frm_OpeningBalances_Window_result").load("@Url.Action("Frm_OpeningBalances_Window", "OpeningBalances", new { @area = "Profile" })?ActionMethod=" + "Edit" + "&ID=" + ID + "&Head=" + encodeURIComponent(Head) + "&HeadType=" + encodeURIComponent(HeadType) + "&EditedOn=" + encodeURIComponent(Edit_Date), function () {
                        HideLoader();
                        // $("#tP_NOField").dxTextBox('instance').focus();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(OB_Edit_ButtonClick_result.Message, 'Warning!');
                    OpeningbalancesListGrid.Refresh();
                }
            }
        });
    }

    function OnDeleteClick() {
        if ("@OpenBalance_DeleteRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        IsOBNewPopup = false;
        IsViewPopup = false;
        if (ID == 'undefined' || ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }

        var result = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Delete ~ OpeningBalances Account");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $("#popup_frm_OB_Window_Close").dxPopup("hide");

                $.ajax({
            type: 'GET',
            url: "/Profile/OpeningBalances/DataNavigation",
            data: { ActionMethod: "Delete", id: ID, Edit_Date: Edit_Date },
            cache: false,
            success: function (OB_Delete_ButtonClick_result) {
                if (OB_Delete_ButtonClick_result.result == "true" || OB_Delete_ButtonClick_result.result == true) {
                    $("#popup_frm_OpeningBalances_Window").dxPopup("show");
                    $("#popup_frm_OpeningBalances_Window").dxPopup("instance").option("title", "Edit ~ Opening Balances");
                    $("#popup_frm_OpeningBalances_Window_result").html('');
                    ShowLoader();
                    $("#popup_frm_OpeningBalances_Window_result").load("@Url.Action("Frm_OpeningBalances_Window", "OpeningBalances", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + ID + "&Head=" + encodeURIComponent(Head) + "&HeadType=" + encodeURIComponent(HeadType) + "&EditedOn=" + encodeURIComponent(Edit_Date), function () {
                        HideLoader();
                        // $("#tP_NOField").dxTextBox('instance').focus();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(OB_Edit_ButtonClick_result.Message, 'Warning!');
                    OpeningbalancesListGrid.Refresh();
                }
            }
        });
            }
        });
    }
    function OnViewClick() {
        if ("@OpenBalance_ViewRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        IsOBNewPopup = false;
        IsViewPopup = false;
        if (ID == 'undefined' || ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/OpeningBalances/DataNavigation",
            data: { ActionMethod: "View", id: ID},
            cache: false,
            success: function (OB_View_ButtonClick_result) {
                if (OB_View_ButtonClick_result.result == "true" || OB_View_ButtonClick_result.result == true) {
                    $("#popup_frm_OpeningBalances_Window").dxPopup("show");
                    $("#popup_frm_OpeningBalances_Window").dxPopup("instance").option("title", "View ~ Opening Balances");
                    $("#popup_frm_OpeningBalances_Window_result").html('');
                    ShowLoader();
                    $("#popup_frm_OpeningBalances_Window_result").load("@Url.Action("Frm_OpeningBalances_Window", "OpeningBalances", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + ID + "&Head=" + encodeURIComponent(Head) + "&HeadType=" + encodeURIComponent(HeadType) + "&EditedOn=" + encodeURIComponent(Edit_Date), function () {
                        HideLoader();
                        // $("#tP_NOField").dxTextBox('instance').focus();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(OB_Edit_ButtonClick_result.Message, 'Warning!');
                    OpeningbalancesListGrid.Refresh();
                }
            }
        });
    }
    function OnLockClick() {
        if ("@OpenBalance_LockUnlockRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        ShowLoader();
        if (ID == 'undefined' || ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/OpeningBalances/DataNavigation",
            data: { ActionMethod: "LOCKED", ID: ID, Edit_Date: Edit_Date, YearID: YearID, Action_Status: Action_Status },
            cache: false,
            success: function (OB_LOCKED_Get_DataNavigation_result) {

                if (OB_LOCKED_Get_DataNavigation_result.Message == "Already Locked Entries can\'t be Re-Locked...!") {
                    DevExpress.ui.dialog.alert(OB_LOCKED_Get_DataNavigation_result.Message, "Record Status has been changed in the background by another user");
                }
                else if (OB_LOCKED_Get_DataNavigation_result.result == "NoLockRights") {
                    DevExpress.ui.dialog.alert(OB_LOCKED_Get_DataNavigation_result.Message, "Locked...");
                }
                else {
                    DevExpress.ui.dialog.alert(OB_LOCKED_Get_DataNavigation_result.Message, "Locked...");
                }

                OpeningbalancesListGrid.Refresh();
            }
        });
        HideLoader();
    }

    function OnUnlockClick() {
        if ("@OpenBalance_LockUnlockRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        ShowLoader();
        if (ID == 'undefined' || ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/OpeningBalances/DataNavigation",
            data: { ActionMethod: "UNLOCKED", ID: ID, Edit_Date: Edit_Date, YearID: YearID, Action_Status: Action_Status },
            cache: false,
            success: function (OB_UNLOCKED_Get_DataNavigation_result) {
                if (OB_UNLOCKED_Get_DataNavigation_result == "Already Unlocked Entries can\'t be Re-Unlocked...!") {
                    DevExpress.ui.dialog.alert(OB_UNLOCKED_Get_DataNavigation_result.Message, "Record Status has been changed in the background by another user");
                }
                else if (OB_UNLOCKED_Get_DataNavigation_result.result == "NoUnLockRights")
                {
                    DevExpress.ui.dialog.alert(OB_UNLOCKED_Get_DataNavigation_result.Message, "Locked...");
                }
                else {
                    DevExpress.ui.dialog.alert(OB_UNLOCKED_Get_DataNavigation_result.Message, "Locked...");
                }

                OpeningbalancesListGrid.Refresh();
            }
        });
        HideLoader();
    }

    function OpeningBalancesUpdateFooterDetail(OB_ID, OB_Action_Status, OB_Add_Date, OB_Add_By, OB_Action_Date, OB_Action_By, OB_Edit_Date, OB_Edit_By) {

        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Add_Date = "";
        var Add_By = "";
        var Status_On = "";
        var Status_By = "";
        var StatusStr = "Completed";
        var Lbl_StatusOn = "";
        var Lbl_StatusBy = "";

        Status = OB_Action_Status;

        Add_Date = OB_Add_Date;
        Add_By = OB_Add_By;
        Status_On = OB_Action_Date;
        Status_By = OB_Action_By;

        if (Status_On) {
            Lbl_StatusOn = StatusStr + " On: " + Status_On;
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }
        else {
            Lbl_StatusOn = StatusStr + " On: " + "?";
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }

        if (Add_Date) {
            Lbl_Create = "Add On: " + Add_Date + ", By: " + Add_By;
        }
        else {
            Lbl_Create = "Add On: " + "?, By: " + Add_By;
        }

        var Edit_Date = "";
        var Edit_By = "";

        Edit_Date = OB_Edit_Date;
        Edit_By = OB_Edit_By;

        if (Edit_Date) {
            Lbl_Modify = "Edit On: " + Edit_Date + ", By: " + Edit_By;
        }
        else {
            Lbl_Modify = "Edit On: " + "?, By: " + Edit_By;
        }
        $('#ob_Lbl_ActionOn').text(Lbl_StatusOn)
        $('#ob_Lbl_ActionBy').text(Lbl_StatusBy);
        $('#obLbl_Create').text(Lbl_Create);
        $('#obLbl_Modify').text(Lbl_Modify);
        if (Lbl_Status_Color != "") {
            $('#obLbl_Status').css('color', Lbl_Status_Color);
        }
        if (Pic_Status != "") {
            $('#ob_LockICON').css('class', Pic_Status);
        }
        }
        function closeProfile_OpeningBalances() {
            $(".TabPanalMenu-tabs .active span").click();

        }

</script>

    <script>
    var OpeningBalancesInfo_IsDetailRowExpanded = false;
    var OpeningBalancesInfo_NestedRecord_FocusedRowIndex = -1;
    var OpeningBalancesInfo_NestedGrid_AccessID;
    var OpeningBalancesInfo_AtachmentID;
    var OpeningBalancesInfo_FileName;
    var OpeningBalancesInfo_ParamMandatory;
    var OpeningBalancesInfo_FromDateLabel;
    var OpeningBalancesInfo_ToDateLabel;
    var OpeningBalancesInfo_DescriptionLabel;
    var OpeningBalancesInfo_Doc_ID;
    var OpeningBalancesInfo_Doc_Category;
    var OpeningBalancesInfo_MasterRowRecID;
    var OpeningBalancesInfo_MasterRowMID;
    var OpeningBalancesInfo_NestedRowMapID;
    var OpeningBalancesInfo_reason;
    var OpeningBalancesInfo_Attachment_RecStatus;
    var OpeningBalancesInfo_NestedRowReasonID;
    var OpeningBalancesInfo_NestedRowKeyValue ;

    function On_OpeningBalancesProfile_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (OpeningBalancesInfo_ParamMandatory == 1)
            {
                AddAttachment(OpeningBalancesInfo_MasterRowRecID, "Profile_OpeningBalances", OpeningBalancesInfo_Doc_ID, OpeningBalancesInfo_Doc_Category, OpeningBalancesInfo_ParamMandatory, OpeningBalancesInfo_FromDateLabel, OpeningBalancesInfo_ToDateLabel, OpeningBalancesInfo_DescriptionLabel, "OpeningBalancesProfileAttachment", null, "OpeningbalancesListGrid", OpeningBalancesInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(OpeningBalancesInfo_MasterRowRecID, "Profile_OpeningBalances", OpeningBalancesInfo_Doc_ID, "OpeningBalancesProfileAttachment", "OpeningbalancesListGrid", OpeningBalancesInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (OpeningBalancesInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(OpeningBalancesInfo_MasterRowRecID, "Profile_OpeningBalances", OpeningBalancesInfo_AtachmentID, OpeningBalancesInfo_ParamMandatory, OpeningBalancesInfo_FromDateLabel, OpeningBalancesInfo_ToDateLabel, OpeningBalancesInfo_DescriptionLabel, "OpeningBalancesProfileAttachment", null, "OpeningbalancesListGrid", OpeningBalancesInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(OpeningBalancesInfo_MasterRowRecID, "Profile_OpeningBalances", OpeningBalancesInfo_AtachmentID, OpeningBalancesInfo_ParamMandatory, OpeningBalancesInfo_FromDateLabel, OpeningBalancesInfo_ToDateLabel, OpeningBalancesInfo_DescriptionLabel, null, "OpeningbalancesListGrid", OpeningBalancesInfo_NestedGrid_AccessID, OpeningBalancesInfo_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            ViewDocument(OpeningBalancesInfo_AtachmentID, OpeningBalancesInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(OpeningBalancesInfo_MasterRowRecID, "Profile_OpeningBalances", "Opening Balances Information", "OpeningbalancesListGrid", OpeningBalancesInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (OpeningBalancesInfo_Doc_Category.toLowerCase() == "others")
            {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else
            {
                AttachmentAddReason(OpeningBalancesInfo_MasterRowRecID, OpeningBalancesInfo_NestedRowMapID, "Profile_OpeningBalances", "OpeningbalancesListGrid", OpeningBalancesInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(OpeningBalancesInfo_MasterRowRecID, OpeningBalancesInfo_NestedRowMapID, "Profile_OpeningBalances", "OpeningbalancesListGrid", OpeningBalancesInfo_NestedGrid_AccessID, OpeningBalancesInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(OpeningBalancesInfo_MasterRowRecID, OpeningBalancesInfo_NestedRowMapID, "OpeningbalancesListGrid", OpeningBalancesInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction")
        {
            OpeningBalancesPrf_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit")
        {
            if (OpeningBalancesInfo_Nested_Doc_Status == "")
            {
                OpeningBalancesPrf_FAB.SetActionContext("AutoItemContext", true);
            }
            if (OpeningBalancesInfo_Nested_Doc_Status == "NO")
            {
                OpeningBalancesPrf_FAB.SetActionContext("EditItemContext", true);
            }
            if (OpeningBalancesInfo_Nested_Doc_Status == "YES")
            {
                OpeningBalancesPrf_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept")
        {
            Openingbalances_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject")
        {
            Openingbalances_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks")
        {
            Openingbalances_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc") {

            OnOpeningbalances_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc") {

            OnOpeningbalances_RejectDoc();
        }
    }
    function OnOpeningbalances_RejectDoc() {
        if (OpeningBalancesInfo_AtachmentID == null || OpeningBalancesInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(OpeningBalancesInfo_AtachmentID, "OpeningbalancesListGrid", OpeningBalancesInfo_NestedGrid_AccessID);
    }
    function OnOpeningbalances_AcceptDoc() {
        if (OpeningBalancesInfo_AtachmentID == null || OpeningBalancesInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(OpeningBalancesInfo_AtachmentID, "OpeningbalancesListGrid", OpeningBalancesInfo_NestedGrid_AccessID);
    }
    function Openingbalances_AcceptwithoutRemarks()
    {
        var Recid;
        if (OpeningBalancesInfo_IsDetailRowExpanded == true || OpenBal_IsVouchingMode == true)
        {
            if (OpeningBalancesInfo_MasterRowRecID == null || OpeningBalancesInfo_MasterRowRecID == "")
            {
                Recid = ID;
            }
            else
            {
                Recid = OpeningBalancesInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = ID;
        }

        Entry_AcceptwithoutRemarks(Recid, "Profile_OpeningBalances", "OpeningbalancesListGrid", OpeningBalancesInfo_AtachmentID, OpeningBalancesInfo_NestedRowReasonID, OpeningBalancesInfo_NestedRowKeyValue);
    }
    function Openingbalances_AcceptRejectVoucher(_actionMethod)
    {
        var Recid;
        if (OpeningBalancesInfo_IsDetailRowExpanded == true || OpenBal_IsVouchingMode == true)
        {
            if (OpeningBalancesInfo_MasterRowRecID == null || OpeningBalancesInfo_MasterRowRecID == "")
            {
                Recid = ID;
            }
            else
            {
                Recid = OpeningBalancesInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = ID;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_OpeningBalances", "OpeningbalancesListGrid", OpeningBalancesInfo_AtachmentID, OpeningBalancesInfo_NestedRowReasonID, OpeningBalancesInfo_NestedRowKeyValue );
    }
    function OnOpeningBalancesListGridNestedFocusedRowChange(s, e)
    {
        if (OpeningBalancesInfo_IsDetailRowExpanded == true || OpenBal_IsVouchingMode == true)
        {
            OpeningBalancesInfo_NestedRecord_FocusedRowIndex = s.GetFocusedRowIndex();
            if (OpeningBalancesInfo_NestedRecord_FocusedRowIndex >= 0)
            {
                ShowLoader();
                OpeningBalancesInfo_NestedGrid_AccessID = s.uniqueID;
                s.GetRowValues(s.GetFocusedRowIndex(), 'Doc_Status;Params_Mandatory;LABEL_FROM_DATE;LABEL_TO_DATE;LABEL_DESCRIPTION;Document_Category;Document_ID;ATTACH_ID;TxnID;TxnMID;MAP_ID;Reason;ATTACH_FILE_NAME;Attachment_Action_Status;UniqueID;ReasonID', OnOpeningBalancesInfo_GetGridRowValues);
            }
            else
            {
                OpeningBalancesPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }
    function OnOpeningBalancesInfo_GetGridRowValues(values)
    {
        HideLoader();
        if (values[14] != null)
        {
            OpeningBalancesPrf_FAB.SetVisible(true);
            OpeningBalancesInfo_Nested_Doc_Status = values[0];
            if (OpenBal_IsVouchingMode == true)
            {
                OpeningBalancesPrf_FAB.SetActionContext("AuditActionContext", true);
            }
            else
            {
                if (OpeningBalancesInfo_Nested_Doc_Status == "")
                {
                    OpeningBalancesPrf_FAB.SetActionContext("AutoItemContext", true);
                }
                else if (OpeningBalancesInfo_Nested_Doc_Status == "NO")
                {
                    OpeningBalancesPrf_FAB.SetActionContext("EditItemContext", true);
                }
                else if (OpeningBalancesInfo_Nested_Doc_Status == "YES")
                {
                    OpeningBalancesPrf_FAB.SetActionContext("actionItemContext", true);
                }
            }
            OpeningBalancesInfo_ParamMandatory = values[1];
            OpeningBalancesInfo_FromDateLabel = values[2];
            OpeningBalancesInfo_ToDateLabel = values[3];
            OpeningBalancesInfo_DescriptionLabel = values[4];
            OpeningBalancesInfo_Doc_Category = values[5];
            OpeningBalancesInfo_Doc_ID = values[6];
            OpeningBalancesInfo_AtachmentID = values[7];
            IndexAttachmentID = OpeningBalancesInfo_AtachmentID;
            OpeningBalancesInfo_MasterRowRecID = values[8];
            OpeningBalancesInfo_MasterRowMID = values[9];
            OpeningBalancesInfo_NestedRowMapID = values[10];
            OpeningBalancesInfo_reason = values[11];
            OpeningBalancesInfo_FileName = values[12];
            OpeningBalancesInfo_Attachment_RecStatus = values[13];
            OpeningBalancesInfo_NestedRowKeyValue = values[14];
            OpeningBalancesInfo_NestedRowReasonID = values[15];
            IndexAttachmentReasonID = OpeningBalancesInfo_NestedRowReasonID;

            if (OpenBal_IsVouchingMode == true)
            {
                if (OpeningBalancesInfo_FileName != null && OpeningBalancesInfo_FileName.length > 0)
                {
                    ViewDocument(OpeningBalancesInfo_AtachmentID, OpeningBalancesInfo_FileName, "OpeningBalancesPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else
                {
                    CloseRightPane();
                    ClearRightPane();
                }
            }
        }

    }
    function OpeningBalancesGrid_Nested_BeginCallBack(s, e)
    {

        e.customArgs["ShowHorizontalBar"] = Openingbalances_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = OpenBal_IsVouchingMode;
        e.customArgs["command"] = e.command;
    }
    function OpeningBalancesGrid_DetailRowExpanding(s, e)
    {
        OpeningBalancesInfo_IsDetailRowExpanded = true;
        s.SetFocusedRowIndex(e.visibleIndex);
        var pane = Mainspliter.GetPaneByName('RightPane');
        if (OpenBal_IsVouchingMode == true)
        {
            pane.Expand();
        }
        else
        {
            pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
    }
    function OpeningBalancesGrid_DetailRowCollapsing(s, e)
    {
        OpeningBalancesInfo_IsDetailRowExpanded = false;
        s.SetFocusedRowIndex(e.visibleIndex);
        if (OpenBal_IsVouchingMode == true)
        {
            if (Mainspliter.GetPaneByName('RightPane').IsCollapsed() == false)
            {
                CollapsePane(Mainspliter.GetPaneByName('RightPane'), Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
        else
        {
            OpeningBalancesPrf_FAB.SetVisible(false);
        }
    }
    </script>
    @*attachment and nested grid*@
</div>
