<div class="LiveStockProfile_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        string UserType = (string)ViewBag.UserType;
        var CalledFromOtherScreen = ViewBag.PopUpId;
        var PartyRefreshFunction = (string)ViewBag.PartyRefreshFunction;
        bool LiveStock_ExportRight = (bool)ViewData["LiveStock_ExportRight"];
        bool LiveStock_LockUnlockRight = (bool)ViewData["LiveStock_LockUnlockRight"];

        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
        bool LiveStock_Auto_Vouching_Mode = (bool)ViewData["LiveStock_Auto_Vouching_Mode"];
    }

    <div id="LiveStockProfile_ParentDiv_dx">
        <div id="content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">LiveStock Information</label>
            </div>
            @*Buttons*@
            <div class="report_button_div">
                @(Html.DevExtreme().Switch().ID("LiveStockVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("LiveStock_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Switch().ID("LiveStockViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("LiveStock_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Button()
                                                                                                                    .ID("LiveStockModelUnlock")
                                                                                                                    .Text("Unlock")
                                                                                                                    .Icon("add")
                                                                                                                    .Visible(false)
                                                                                                                    .Disabled(true)
                                                                                                                    .OnClick(@<text>
                                                                                                                        function () {LiveStockOnUnlockClick();}
                                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                                    .ID("LiveStockModelLock")
                                                                                                                    .Text("Lock")
                                                                                                                    .Icon("add")
                                                                                                                    .Visible(false)
                                                                                                                    .Disabled(true)
                                                                                                                    .OnClick(@<text>
                                                                                                                        function () {LiveStockOnLockClick();}
                                                                                                                    </text>))
                @(Html.DevExtreme().Button()
                                                                                                                    .ID("LivestockToggleScrollBar")
                                                                                                                    .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                                                                                                                    .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                                                                                                                    .Icon("toolbox")
                                                                                                                    .OnClick(@<text>
                                                                                                                        function () {LivestockchangeMode_dx();}
                                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                                    .ID("LiveStockModelListPreview")
                                                                                                                    .Text("Export")
                                                                                                                    .Icon("save")
                                                                                                                    .Width(80)
                                                                                                                    .OnClick(@<text>
                                                                                                                        function () {OnLiveStockListPreviewClick_dx();}
                                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                                    .ID("LiveStockModelCLOSE")
                                                                                                                    .Text("Close")
                                                                                                                    .Icon("clear")
                                                                                                                    .OnClick(@<text>
                                                                                                                        function () {closeProfile_Livestock()
                                                                                                                        }
                                                                                                                    </text>)

            )
            </div>
        </div>
        <div class="col-md-12 no-padding">
            <form>
                <div id="LiveStockreloadPartialView">
                    @Html.Partial("Frm_LiveStock_Info_Grid_dx")
                </div>
            </form>
        </div>

        <div class="footer-MainBoxdiv full-width-footer">
            @*<div class="col-lg-8 report_footer_small_buttons_div" id="LivestockFooterItem">*@
            <div class="list_footer_left_margin col-md-10">
                <div>
                    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id="Livestock_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="Livestock_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                            @*<div class="footer-locktext">
                                    <div id="LivestockLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                                </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id="LivestockLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id="LivestockLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list_footer_right_margin_consistent col-md-1">
                @*<i id="Livestock_LockICON" class="fa fa-lock lock_symbol"></i>*@
            </div>
            @*</div>
                <div class="col-lg-4 listing_footer_filter_buttons_div">
                </div>*@
        </div>

        @Html.Partial("AttachmentFAB", "LiveStockPrf_FAB,LiveStockProfile_grid_DIV,Type1,LiveStockProfile," + UserType) @*fab buttons*@

        <div class="col-md-12">
            @(Html.DevExtreme().Popup().CustomPopup()
                                            .ID("LiveStock_report_modal")
                                            .OnShowing("PopupOnShowing")
                                            .Title("LiveStock List Preview")
                                            .FullScreen(false)
                                            .MaxWidth(125)
                                            .Height("auto")
                                            .ShowCloseButton(true)
                                            .ContentTemplate(@<text>
                                                <div id='LiveStock_report_modal_result'>
                                                </div>
                                            </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                            .ID("popup_frm_LiveStock_Window")
                                            .Title("LiveStock")
                                            .OnShowing("PopupOnShowing")
                                            .ShowCloseButton(true)
                                            .ContentTemplate(@<text>
                                                <div id="LiveStockresult">
                                                </div>
                                            </text>)
                                                        .OnHiding(@<text>
                                                            function () {
                                                            if(IsLiveStockSucessPopup == false && IsLiveStockViewPopup == false)
                                                            {
                                                            var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                                            result.done(function (dialogResult) {
                                                            if(dialogResult){
                                                            $("#popup_frm_LiveStock_Window").dxPopup("hide");
                                                            }else
                                                            {
                                                            $("#popup_frm_LiveStock_Window").dxPopup("show");
                                                            }
                                                            });
                                                            }
                                                            }
                                                        </text>)
        )
        </div>

    </div>

    <script>
        $(function () {

            if ("@CalledFromOtherScreen".length > 0) {
                DxGrid_EventsOnScreenClose(LiveStockListGrid);
                if ("@CalledFromOtherScreen" != "Dynamic_Content_popup")
                {
                    $("#" + "@CalledFromOtherScreen").dxPopup({
                        onHiding: function (e) {
                            $.ajax({
                                type: 'GET',
                                url: "/Profile/LiveStock/SessionClear",
                                cache: false
                            });
                            if ("@PartyRefreshFunction".length > 0) {
                                var fn = window["@PartyRefreshFunction"];
                                if (typeof fn == "function")
                                {
                                    fn();
                                }
                            }
                            if (LiveStock_IsVouchingMode == true) {
                                ClearLeftPane();
                                CloseLeftPane();
                                ClearRightPane();
                                CloseRightPane();
                            }
                        }
                    });
                }
            }
        });

        function closeProfile_Livestock() {
            $(".TabPanalMenu-tabs .active span").click();
        }//Redmine Bug #133403 fixed

        function closeLiveStock_dx()
        {
            DxGrid_EventsOnScreenClose(LiveStockListGrid);
            if ("@CalledFromOtherScreen".length > 0)
            {
                var popupid = "#" + "@CalledFromOtherScreen";
                $(popupid).dxPopup("hide");
            }
            else
            {
                $(".TabPanalMenu-tabs .active span").click();
            }
        }

    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Profile/LiveStock/SessionClear",
            cache: false
        });
        CloseRightPane();
        ClearLeftPane();
        CloseLeftPane();
        DxGrid_EventsOnScreenClose(LiveStockListGrid);
        ClearAllReferences_LiveStockProfile();
    });

    function ClearAllReferences_LiveStockProfile() {
        IsLiveStockSucessPopup = null;
        IsLiveStockViewPopup = null;
        LS_ShowHorizontalBar = null;
        LiveStock_SetVouchingModeOn = null;
        UserType_LiveStockPrf = null;
        LiveStock_IsVouchingMode = null;
        LiveStock_ViewMode = null;
        Livestock_ColumnToBeShownIndex = null;
        Livestock_ColumnToBeHidddenIndex = null;
        LiveStockID = null;
        LivestockName = null;
        LiveStock_Insurance = null;
        LiveStock_INSURANCE_ID = null;
        LiveStock_LS_INS_POLICY_NO = null;
        LiveStock_LS_INS_DATE = null;
        LiveStock_LS_INS_AMT = null;
        LiveStock_AL_LOC_NAME = null;
        LiveStock_LS_OTHER_DETAIL = null;
        LiveStock_SaleStatus = null;
        LiveStock_EntryType = null;
        LiveStock_EditDate = null;
        LiveStock_AddDate = null;
        LiveStock_AddBy = null;
        LiveStock_EditBy = null;
        LiveStock_ActionStatus = null;
        LiveStock_ActionDate = null;
        LiveStock_ActionBy = null;
        LiveStock_FocusedRowBeforeRefresh = null;
        LiveStockInfo_IsDetailRowExpanded = null;
        LiveStockInfo_NestedRecord_FocusedRowIndex = null;
        LiveStockInfo_NestedGrid_AccessID = null;
        LiveStockInfo_AtachmentID = null;
        LiveStockInfo_FileName = null;
        LiveStockInfo_ParamMandatory = null;
        LiveStockInfo_FromDateLabel = null;
        LiveStockInfo_ToDateLabel = null;
        LiveStockInfo_DescriptionLabel = null;
        LiveStockInfo_Doc_ID = null;
        LiveStockInfo_Doc_Category = null;
        LiveStockInfo_MasterRowRecID = null;
        LiveStockInfo_MasterRowMID = null;
        LiveStockInfo_NestedRowMapID = null;
        LiveStockInfo_reason = null;
        LiveStockInfo_Attachment_RecStatus = null;
        LiveStockInfo_NestedRowReasonID = null;
        LiveStockInfo_NestedRowKeyValue = null;
        Expanded_Row_Key_LiveStock = null;
        VisibleColumns_LiveStock = null;

        ClearAllReferences("LiveStockProfile_ClearReferences");
    }
    </script>

    @*Javascript Events*@
    <script type="text/javascript">
    var LiveStockListGrid = null;
    var IsLiveStockSucessPopup = false;
    var IsLiveStockViewPopup = false;
    var LS_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var LiveStock_SetVouchingModeOn = "@LiveStock_Auto_Vouching_Mode" == "True" ? true : false;
    var UserType_LiveStockPrf = "@UserType".toUpperCase();
    var LiveStock_IsVouchingMode = false;
    var LiveStock_ViewMode = "Default";
    var Livestock_ColumnToBeShownIndex = "";
    var Livestock_ColumnToBeHidddenIndex = "";
    var LiveStockID;
    var LivestockName;
    var LiveStock_Insurance;
    var LiveStock_INSURANCE_ID;
    var LiveStock_LS_INS_POLICY_NO;
    var LiveStock_LS_INS_DATE;
    var LiveStock_LS_INS_AMT;
    var LiveStock_AL_LOC_NAME;
    var LiveStock_LS_OTHER_DETAIL;
    var LiveStock_SaleStatus;
    var LiveStock_EntryType;
    var LiveStock_EditDate;
    var LiveStock_AddDate;
    var LiveStock_AddBy;
    var LiveStock_EditBy;
    var LiveStock_ActionStatus;
    var LiveStock_ActionDate;
    var LiveStock_ActionBy;
    var LiveStock_FocusedRowBeforeRefresh;
    var Expanded_Row_Key_LiveStock;


        function LiveStock_VouchingSwitch_ValueChange(e) {

            LiveStock_IsVouchingMode = e.value;

            if (LiveStock_SetVouchingModeOn == true) {
                LiveStock_SetVouchingModeOn = false;
            }
            else {
                LiveStockPrf_FAB.SetVisible(false);
            }

            if (LiveStock_IsVouchingMode == true) {
                OpenRightPane();
                ClearLeftPane();
                OpenLeftPane();
            }
            else {
                LiveStockPrf_FAB.SetActionContext("AddAttachmentContext", false);
                CloseRightPane();
                ClearLeftPane();
                CloseLeftPane();
            }
           // LiveStockListGrid.clearSelection();
            LiveStockListGrid.option("masterDetail.enabled", !LiveStock_IsVouchingMode);
            LiveStockListGrid.repaint();
        }

        function LiveStock_ViewSwitch_ValueChange(e) {

            LiveStock_ViewMode = e.value == false ? "Default" : "Compact";

            if (LiveStock_SetVouchingModeOn == true) {
                $("#LiveStockVouchingModeSwitch").dxSwitch("instance").option("value", true);
            }

            //LiveStockListGrid.beginUpdate();



            var columns = LiveStockListGrid.option("columns");
            if (LiveStock_ViewMode == "Compact")
               {
                VisibleColumns_LiveStock = [];

                for (var i = 0; i < columns.length; i++) {
                    var name = columns[i].dataField;
                    var ColumnVisible = LiveStockListGrid.columnOption(name, "visible");

                    if (name == "LiveStockListGrid_dx_Compact_Column")
                    {
                        LiveStockListGrid.columnOption(name, "visible", true);
                    }
                    else if (ColumnVisible == true && name != "iIcon") {
                        VisibleColumns_LiveStock.push(name);
                        LiveStockListGrid.columnOption(name, "visible", false);
                    }
                }
            } else {
                LiveStockListGrid.columnOption("LiveStockListGrid_dx_Compact_Column", "visible", false);

                for (var i = 0; i < VisibleColumns_LiveStock.length; i++) {
                    LiveStockListGrid.columnOption(VisibleColumns_LiveStock[i], "visible", true);
                }
            }

            LiveStockListGrid.repaint();
            LiveStockListGrid.endUpdate();
        }

     $(document).ready(function ()
     {
           LiveStock_ExportRight_dx = ("@LiveStock_ExportRight" == "True") ? true : false;
           LiveStock_LockUnlockRight_dx = ("@LiveStock_LockUnlockRight" == "True") ? true : false;

           if (LiveStock_ExportRight_dx != true)
           {
               $("#LiveStockModelListPreview").hide();
           }
           if (LiveStock_LockUnlockRight_dx != true)
           {
               $("#LiveStockModelUnlock").hide();
               $("#LiveStockModelLock").hide();
           }

           IsLiveStockSucessPopup = false;
           IsLiveStockViewPopup = false;
           $("#livestocklistgrid").hover(function () {
              var grid = $("#livestocklistgrid").dxdatagrid("instance");
               if (grid) {
                  grid.focus();
               }
           });


           HideUnreleasedFunctionality('Frm_LiveStock_info');

           if (LiveStock_SetVouchingModeOn == true)
           {
              $("#LiveStockViewModeSwitch").dxSwitch("instance").option("value", true);
           }
     });


    function  LivestockchangeMode_dx()
    {
        LiveStockListGrid.beginUpdate();
        if (LS_ShowHorizontalBar == 0)
        {
                    LS_ShowHorizontalBar = 1;
                    $("#LivestockToggleScrollBar").find("span").text("Default Data");
                    $("#LivestockToggleScrollBar").width(110);
            LiveStockListGrid.option("columnHidingEnabled", false);
            LiveStockListGrid.option("allowColumnResizing", true);
        }
        else
        {
                    LS_ShowHorizontalBar = 0;
                    $("#LivestockToggleScrollBar").find("span").text("Full Data");
                    $("#LivestockToggleScrollBar").width(90);
            LiveStockListGrid.option("columnHidingEnabled", true);
            LiveStockListGrid.option("allowColumnResizing", false);
        }

        LiveStockListGrid.endUpdate();
    }
    function LiveStockListGrid_dx_OnInitialized(e)
    {

        DxGrid_AdjustSize(e.component, $("#LiveStockProfile_ParentDiv_dx .report_button_div"));
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            DxGrid_AdjustSize(e.component, $("#LiveStockProfile_ParentDiv_dx .report_button_div"), "", evt);
        });

        LiveStockListGrid = e.component
    }

    function LiveStockListGrid_dx_OnCellPrepared(e) {
        if (e.rowType == "data") {         
            if (LiveStock_IsVouchingMode == true) {
                if (e.column.dataField === "iIcon") {
                    $(e.cellElement).attr("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + e.key + "')");
                    $(e.cellElement).attr("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + e.key + "')");
                }
            }
            $(e.cellElement).attr("id", e.element[0].id + "_Cell_" + e.key + "|" + e.column.dataField);
        }
    }

    function LiveStockListGrid_dx_OnRowPrepared(e) {
        if (e.rowType == "data") {
            var GridName = e.element[0].id;     
            $(e.rowElement).addClass(GridName + "_DataRow_" + e.key)
            DxGrid_CreatePreviewRow(e, LiveStock_IsVouchingMode, "Master")
        }
        else if (e.rowType == "detailAdaptive") {
            DxGrid_MovePreviewRowAfterAdaptiveRow(e)
        }
    }

        function LiveStockListGrid_dx_OnContentReady(e)
        {
            DxGrid_OnContentReady(e, LS_ShowHorizontalBar);
        }
        function LiveStockListGrid_dx_OnCellDblClick(e) {
            if (e.rowType == "data") {
                if (LiveStock_IsVouchingMode == true && LiveStock_ViewMode == "Default") {                   
                    OnGridCellClick(e.event, e.cellElement[0], e.columnIndex, e.rowIndex, e.element[0].id, e.key, e.column.dataField)
                }
                //    else if (LiveStock_IsVouchingMode == false) { OnAddressEditClick_dx(); }
            }
        }
    function LiveStockListGrid_dx_OnSelectionChanged(e) {
        var selectedRowKeys = e.selectedRowKeys;
        if (selectedRowKeys != null && selectedRowKeys.length > 0) {
            if (LiveStock_IsVouchingMode) {
                LiveStockPrf_FAB.SetVisible(true);
                LiveStockPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
            LiveStockListGrid_dx_SelectedRowData(e.selectedRowsData);
        }
        else {
            LiveStockIDLiveStockID = null;
            LiveStock_UpdateFooterDetail_dx(LiveStockID, LiveStock_ActionStatus, LiveStock_AddDate, LiveStock_AddBy, LiveStock_ActionDate, LiveStock_ActionBy, LiveStock_EditDate, LiveStock_EditBy);
        }
    }
    function LiveStockListGrid_dx_SelectedRowData(selectedData = null) {
        if (selectedData == null) {
            selectedData = LiveStockListGrid.getSelectedRowsData();
        }
        if (selectedData != null && selectedData.length > 0) {
            var values = selectedData[0]

            console.table(values)

            LiveStockID = values["ID"];
            LivestockName = values["LivestockName"];
            LiveStock_Insurance = values["Insurance"];
            LiveStock_INSURANCE_ID = values["INSURANCE_ID"];
            LiveStock_LS_INS_POLICY_NO = values["LS_INS_POLICY_NO"];
            LiveStock_LS_INS_DATE = values["LS_INS_DATE"];
            LiveStock_LS_INS_AMT = values["LS_INS_AMT"];
            LiveStock_AL_LOC_NAME = values["AL_LOC_NAME"];
            LiveStock_LS_OTHER_DETAIL = values["LS_OTHER_DETAIL"];
            LiveStock_SaleStatus = values["SaleStatus"];
            LiveStock_EntryType = values["EntryType"];
            LiveStock_EditDate = values["EditDate"];
            LiveStock_AddDate = values["AddDate"];
            LiveStock_AddBy = values["AddBy"];
            LiveStock_EditBy = values["EditBy"];
            LiveStock_ActionStatus = values["ActionStatus"];
            LiveStock_ActionDate = values["ActionDate"];
            LiveStock_ActionBy = values["ActionBy"];
            LiveStock_UpdateFooterDetail_dx(LiveStockID, LiveStock_ActionStatus, LiveStock_AddDate, LiveStock_AddBy,
                LiveStock_ActionDate, LiveStock_ActionBy, LiveStock_EditDate, LiveStock_EditBy);
            if (LiveStock_IsVouchingMode == true) {
                OpenLeftPane();
                LeftPaneContent_LiveStock_dx("LiveStockListGrid", LiveStockID, LiveStock_IsVouchingMode, "");
            }
        }
    }
    function LiveStockListGrid_dx_OnRowExpanding(e) {
            if (Array.isArray(e.key) == false) //not group row
            {
                e.component.collapseRow(Expanded_Row_Key_LiveStock)
                e.component.selectRows(e.key);
                Expanded_Row_Key_LiveStock = e.key;
                LiveStockInfo_IsDetailRowExpanded = true;
                var DetailGridID = e.element[0].id + e.key;
                var instance = $("div[id='" + DetailGridID + "']").dxDataGrid("instance")
                if (instance != void 0) {
                    instance.state(null) // grid maintains its state after collapsing so resetting the state when expands again as per old grid
                }
                //e.component.collapseAll(-1);
        }
            else {
                e.component.option("CustomProp.groupRowExpanded", true);
            }
    }
    function LiveStockListGrid_dx_OnRowCollapsing(e) {
            if (Array.isArray(e.key) == false) //not group row
            {
                var DetailGridID = e.element[0].id + e.key;
                sessionStorage.removeItem(DetailGridID + "_DetailGridState") //removing grid state from session storage on collapse

                LiveStockInfo_IsDetailRowExpanded = false;
                e.component.selectRows(e.key);
                if (LiveStock_IsVouchingMode == false) {
                    LiveStockPrf_FAB.SetVisible(false);
                }
        }
            else {
                e.component.option("CustomProp.groupRowCollapsed", true);
            }
    }
         
    function LiveStock_UpdateFooterDetail_dx(LiveStockID, LiveStock_Action_Status, LiveStock_Add_Date, LiveStock_Add_By, LiveStock_Action_Date, LiveStock_Action_By, LiveStock_Edit_Date, LiveStock_Edit_By)
    {
        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Lbl_ActionOn = "";
        var Lbl_ActionBy = "";
        var StatusStr = "";
        if (LiveStockID != null) {
            Status = LiveStock_Action_Status;
            StatusStr = Status == "Locked" ? "Locked" : Status == null ? null : "UnLocked";
            if (Status && Status.toUpperCase() == "LOCKED") {
                Lbl_Status = "Completed";
                Lbl_Status_Color = "blue";
                Pic_Status = "fa fa-lock";
            }
            else {
                Pic_Status = "fa fa-unlock";
                Lbl_Status = Status;
                if (Status && Status.toUpperCase() == "COMPLETED") {
                    Lbl_Status_Color = "green";
                }
                else {
                    Lbl_Status_Color = "red";
                }
            }
            if (LiveStock_Action_Date) {
                Lbl_ActionOn = StatusStr + " On: " + LiveStock_Action_Date;
                Lbl_ActionBy = StatusStr + " By: " + LiveStock_Action_By;
            }
            else {
                Lbl_ActionOn = "";
                Lbl_ActionBy = "";
            }
            if (LiveStock_Add_Date) {
                Lbl_Create = "Add On: " + LiveStock_Add_Date + ", By: " + LiveStock_Add_By;
            }
            else {
                Lbl_Create = "";
            }
            if (LiveStock_Edit_Date) {
                Lbl_Modify = "Edit On: " + LiveStock_Edit_Date + ", By: " + LiveStock_Edit_By;
            }
            else {
                Lbl_Modify = "";
            }
        }
        $('#AB_Status_dx').text(Lbl_Status);
        $('#AB_Lbl_ActionOn_dx').text(Lbl_ActionOn)
        $('#AB_Lbl_ActionBy_dx').text(Lbl_ActionBy);
        $('#AB_Create_dx').text(Lbl_Create);
        $('#AB_Modify_dx').text(Lbl_Modify);
        if (Lbl_Status_Color != "") {
            $('#ActionItem_Status_dx').css('color', Lbl_Status_Color);
        }
        if (Pic_Status == "fa fa-lock") {
            $('#ActionItem_LockICON_dx').addClass(Pic_Status).removeClass("fa-unlock");
        }
        else if (Pic_Status == "fa fa-unlock") {
            $('#ActionItem_LockICON_dx').addClass(Pic_Status).removeClass("fa-lock");
        }
        else {
            $('#ActionItem_LockICON_dx').removeClass("fa");
            $('#ActionItem_LockICON_dx').removeClass("fa-lock");
            $('#ActionItem_LockICON_dx').removeClass("fa-unlock");
        }
    }

    function LiveStockOnUnLockClick()
    {
                if ("@LiveStock_LockUnlockRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                if (LiveStockID == 'undefined' || LiveStockID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: "/Profile/LiveStock/DataNavigation",
                    data: { ActionMethod: "UNLOCKED", id: LiveStockID, TR_ID: TR_ID, YearID: YearId, AI_PARTY_ID: AI_PARTY_ID, ActionStatus: LiveStock_ActionStatus, EditDate: LiveStock_EditDate },
                    cache: false,
                    success: function (LiveStock_UNLOCKED_Get_DataNavigation_result) {
                        if (LiveStock_UNLOCKED_Get_DataNavigation_result.result == "NoUnLockRights") {
                            DevExpress.ui.dialog.alert(LiveStock_UNLOCKED_Get_DataNavigation_result.Message, "Locked..");
                        }
                        else {
                            DevExpress.ui.dialog.alert(LiveStock_UNLOCKED_Get_DataNavigation_result.Message);
                        }
                    }

                });
    }
    function LiveStockOnLockClick()
    {
                if ("@LiveStock_LockUnlockRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                if (LiveStockID == 'undefined' || LiveStockID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: "/Profile/LiveStock/DataNavigation",
                    data: { ActionMethod: "LOCKED", id: LiveStockID, TR_ID: TR_ID, YearID: YearId, AI_PARTY_ID: AI_PARTY_ID, ActionStatus: LiveStock_ActionStatus, EditDate: LiveStock_EditDate },
                    cache: false,
                    success: function (LiveStock_LOCKED_Get_DataNavigation_result) {
                        if (LiveStock_LOCKED_Get_DataNavigation_result.result == "NoLockRights") {
                            DevExpress.ui.dialog.alert(LiveStock_LOCKED_Get_DataNavigation_result.Message, "Locked..");
                        }
                        else{
                            DevExpress.ui.dialog.alert(LiveStock_LOCKED_Get_DataNavigation_result.Message);
                        }
                    }
                });
    }
   function OnLiveStockListPreviewClick_dx() {
    if ("@LiveStock_ExportRight" == "False") {
        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
        return;
    }

    OpenPopup(
        "LiveStock_report_modal",
        "Export Option",
        "@Url.Action("Frm_Export_Options_dx", "LiveStock", new { @area = "Profile" })",
        "auto",
        125
    );
        }

    function LiveStockListGrid_dx_OnContextMenuPreparing(e) {
        if (!e.items) e.items = [];
            if (e.target == "header") {
                DxGrid_HeaderContextMenu(e)
            }
            else if ((e.target == "content" && e.row && e.row.rowType == "groupFooter") || e.target == "footer") {
                if (LiveStock_ViewMode == "Compact")
                    DxGrid_FooterContextMenu(e, true);
                else
                    DxGrid_FooterContextMenu(e);
            }
            else if (e.target == "content" && e.row && e.row.rowType == "data")
            {
                var key = e.component.getKeyByRowIndex(e.row.rowIndex);
                e.component.selectRows(key);
                var expanded = e.component.isRowExpanded(key);
                e.items = [
                    {
                        text: "Expand Detail",
                        icon: "fa-solid fa-arrow-down-wide-short " + (expanded ? "text-muted" : "text-info"),
                        disabled: expanded,
                        visible: !LiveStock_IsVouchingMode,
                        onItemClick: function () {
                            if (expanded) {
                                //e.component.collapseRow(key);
                            }
                            else {
                                e.component.expandRow(key);
                            }
                        }
                    }, {
                        text: "Collapse Detail",
                        icon: "fa-solid fa-arrow-up-wide-short " + (!expanded ? "text-muted" : "text-info"),
                        disabled: !expanded,
                        visible: !LiveStock_IsVouchingMode,
                        onItemClick: function () {
                            if (expanded) {
                                e.component.collapseRow(key);
                            }
                            else {
                                // e.component.expandRow(key);
                            }
                        }
                    },
                    {
                        text: "Export",
                        icon: "fa-solid fa-download",
                        visible: true,
                        onItemClick: function () {
                            DevExpress.ui.dialog.alert("Coming Soon", "Information");
                        }
                    },
                    {

                        text: "Refresh",
                        beginGroup: true,
                        icon: "fa-solid fa-arrow-rotate-right text-success",
                        onItemClick: function () { LiveStockListGrid.Refresh(); }
                    },
                    {
                        text: "Close",
                        icon: "fa-solid fa-rectangle-xmark text-danger",
                        beginGroup: true,
                        onItemClick: function () {
                            closeProfile_Livestock();
                        }
                    }
                ]
            }
    }
    function LiveStockListGrid_dx_Compact_Column_Template(container, templateData) {
        var Name = templateData.component.element()[0].id;
        var KeyValue = templateData.data.ID;
        var VouchingMode = LiveStock_IsVouchingMode ? "True" : "False";

        var htmlString = "<div class='container-fluid'>";

        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Livestock Name:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|LivestockName' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.LivestockName ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Birth Year:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|BirthYear' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.BirthYear ?? "") + "</div></div>";

        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Insurance:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Insurance' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Insurance ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Insurance Company:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|INSURANCE_COMPANY' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.INSURANCE_COMPANY ?? "") + "</div></div>";

        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Policy No:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|LS_INS_POLICY_NO' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.LS_INS_POLICY_NO ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Expiry Date:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|LS_INS_DATE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.LS_INS_DATE ?? "") + "</div></div>";

        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Insurance Amount:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|LS_INS_AMT' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.LS_INS_AMT ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Opening Value:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|LS_AMT' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.LS_AMT ?? "") + "</div></div>";

        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Current Value:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|CurrValue' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.CurrValue ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Location:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|AL_LOC_NAME' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.AL_LOC_NAME ?? "") + "</div></div>";

        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Reference:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Special_Ref' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Special_Ref ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Other Detail:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|SaleStatus' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.LS_OTHER_DETAIL ?? "") + "</div></div>";

        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Sale Status:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Special_Ref' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.SaleStatus ?? "") + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Entry Type:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|SaleStatus' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.EntryType ?? "") + "</div></div>";

        htmlString += "</div>";
        $(container).html(htmlString);
    }
    function LiveStockListGrid_dx_Compact_Column_CellValue(rowData) {
        //console.log("RowData:", rowData);
        var data = [rowData.LivestockName, rowData.BirthYear, rowData.Insurance, rowData.INSURANCE_COMPANY, rowData.LS_INS_POLICY_NO, rowData.LS_INS_DATE, rowData.LS_INS_AMT, rowData.LS_AMT, rowData.CurrValue, rowData.AL_LOC_NAME, rowData.Special_Ref, rowData.LS_OTHER_DETAIL , rowData.SaleStatus, rowData.EntryType ]
        return data.join(" ");
    }
    function LiveStockListGrid_dx_iIconTemplate(container, templateData) {
        var iREQ_ATTACH_COUNT = templateData.data.REQ_ATTACH_COUNT
        var iCOMPLETE_ATTACH_COUNT = templateData.data.COMPLETE_ATTACH_COUNT
        var iRESPONDED_COUNT = templateData.data.RESPONDED_COUNT
        var iREJECTED_COUNT = templateData.data.REJECTED_COUNT
        var iOTHER_ATTACH_CNT = templateData.data.OTHER_ATTACH_CNT
        var iALL_ATTACH_CNT = templateData.data.ALL_ATTACH_CNT
        var iIcon = templateData.data.iIcon
        var UniqueID = templateData.component.element()[0].id
        var key = templateData.data.ID != null ? templateData.data.ID.replace(/^0-9A-Za-z/gi, "_") : "";
        var VisibleIndex = templateData.rowIndex
        var htmlString = "";
        htmlString = DxGrid_AttachmentIcons(iREQ_ATTACH_COUNT, iCOMPLETE_ATTACH_COUNT, iRESPONDED_COUNT, iREJECTED_COUNT, iOTHER_ATTACH_CNT, iALL_ATTACH_CNT);
        htmlString += DxGrid_VouchingAuditIcons(iIcon)
        htmlString += DxGrid_AuditIconAfterClick(UniqueID, key, VisibleIndex)
        $(container).html(htmlString)
    }

    function LiveStockListGrid_dx_DetailTemplate(container, templateData) {
        var GridName = templateData.component.element()[0].id
        var RecID = templateData.data.ID;
        LiveStockListGrid_dx_Detail(container, GridName, RecID, LiveStock_IsVouchingMode, LS_ShowHorizontalBar);
    }
    function LiveStockListGrid_dx_Detail(container, GridName, RecID, vouchingMode, AllColumns)
    {
        var url = "/Profile/LiveStock/Frm_LiveStock_Info_DetailGrid_dx?VouchingMode=" + vouchingMode + "&RecID=" + RecID
        var instance = DxGrid_AttachmentGrid_Create(container, GridName, RecID, vouchingMode, AllColumns, url)
        instance.option("onSelectionChanged", LiveStockListGrid_dx_Detail_onSelectionChanged);       
    } 
    function LiveStockListGrid_dx_Detail_onSelectionChanged(e) {
        if (LiveStockInfo_IsDetailRowExpanded || LiveStock_IsVouchingMode) {
            if (e.selectedRowsData != null && e.selectedRowsData.length > 0) {
                LiveStockInfo_NestedGrid_AccessID = e.element[0].id;
                LiveStockListGrid_dx_Detail_SelectedRowData(e.selectedRowsData)
                //AddressBook_FAB_dx.SetVisible(true);
            }
            else {
                LiveStockPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }
    function LiveStockListGrid_dx_Detail_SelectedRowData(selectedData = null) {
        if (selectedData == null) {
            selectedData = $("div[id='" + LiveStockInfo_NestedGrid_AccessID + "']").dxDataGrid("getSeletedRowsData");
        }
        var values = selectedData[0];
        if (values["UniqueID"] != null) {
            LiveStockPrf_FAB.SetVisible(true);
            LiveStockInfo_Nested_Doc_Status = values["Doc_Status"];
            if (LiveStock_IsVouchingMode == true) {
                LiveStockPrf_FAB.SetActionContext("AuditActionContext", true);
            }
            else {
                if (LiveStockInfo_Nested_Doc_Status == "") {
                    LiveStockPrf_FAB.SetActionContext("AutoItemContext", true);
                }
                else if (LiveStockInfo_Nested_Doc_Status == "NO") {
                    LiveStockPrf_FAB.SetActionContext("EditItemContext", true);
                }
                else if (LiveStockInfo_Nested_Doc_Status == "YES") {
                    LiveStockPrf_FAB.SetActionContext("actionItemContext", true);
                }
            }
            LiveStockInfo_ParamMandatory = values["Params_Mandatory"];
            LiveStockInfo_FromDateLabel = values["LABEL_FROM_DATE"];
            LiveStockInfo_ToDateLabel = values["LABEL_TO_DATE"];
            LiveStockInfo_DescriptionLabel = values["LABEL_DESCRIPTION"];
            LiveStockInfo_Doc_Category = values["Document_Category"];
            LiveStockInfo_Doc_ID = values["Document_ID"];
            LiveStockInfo_AtachmentID = values["ATTACH_ID"];
            IndexAttachmentID = LiveStockInfo_AtachmentID;
            LiveStockInfo_MasterRowRecID = values["TxnID"];
            LiveStockInfo_MasterRowMID = values["TxnMID"];
            LiveStockInfo_NestedRowMapID = values["MAP_ID"];
            LiveStockInfo_reason = values["Reason"];
            LiveStockInfo_FileName = values["ATTACH_FILE_NAME"];
            LiveStockInfo_Attachment_RecStatus = values["Attachment_Action_Status"];
            LiveStockInfo_NestedRowKeyValue = values["UniqueID"];
            if (LiveStock_IsVouchingMode == true) {
                if (LiveStockInfo_FileName != null && LiveStockInfo_FileName.length > 0) {
                    ViewDocument(LiveStockInfo_AtachmentID, LiveStockInfo_FileName, "LiveStockPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else {
                    CloseRightPane();
                    ClearRightPane();
                }
            }
        }
        LiveStockInfo_NestedRowReasonID = values["ReasonID"];
        IndexAttachmentReasonID = LiveStockInfo_NestedRowReasonID;
    }

    function LeftPaneContent_LiveStock_dx(GridName, RecID, vouchingMode, AllColumns = 0) {
        $("#LeftPane_Div_Content").html(null);
        $("#LeftPane_Div_Content").append("<div class='col-xs-12'><label>Documents Attached:</label><div class='AttachmentGrid'><form></form></div></div><div class='col-xs-12'><label>Additional Info:</label><div class='AdditionalInfoGrid'><form></form></div></div>")
        LiveStockListGrid_dx_Detail($("#LeftPane_Div_Content .AttachmentGrid>form"), GridName, RecID, vouchingMode, AllColumns)
        setTimeout(function () {
            AdditionalInfoGrid_LiveStock_dx($("#LeftPane_Div_Content .AdditionalInfoGrid>form"), GridName, RecID, vouchingMode, AllColumns)
        })
    }
    function AdditionalInfoGrid_LiveStock_dx(container, GridName, RecID, vouchingMode, AllColumns)
    {
        var url = "/Profile/LiveStock/Frm_LiveStock_Info_AdditionalGridData_dx?VouchingMode=" + vouchingMode + "&RecID=" + RecID
        DxGrid_CreateAdditionalInfoGrid(container, GridName, RecID, vouchingMode, AllColumns, url)  
    }
    </script>
    <script>
    var LiveStockInfo_IsDetailRowExpanded = false;
    var LiveStockInfo_NestedRecord_FocusedRowIndex = -1;
    var LiveStockInfo_NestedGrid_AccessID;
    var LiveStockInfo_AtachmentID;
    var LiveStockInfo_FileName;
    var LiveStockInfo_ParamMandatory;
    var LiveStockInfo_FromDateLabel;
    var LiveStockInfo_ToDateLabel;
    var LiveStockInfo_DescriptionLabel;
    var LiveStockInfo_Doc_ID;
    var LiveStockInfo_Doc_Category;
    var LiveStockInfo_MasterRowRecID;
    var LiveStockInfo_MasterRowMID;
    var LiveStockInfo_NestedRowMapID;
    var LiveStockInfo_reason;
    var LiveStockInfo_Attachment_RecStatus;
    var LiveStockInfo_NestedRowReasonID;
    var LiveStockInfo_NestedRowKeyValue;

    function On_LiveStockProfile_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (LiveStockInfo_ParamMandatory == 1)
            {
                AddAttachment(LiveStockInfo_MasterRowRecID, "Profile_LiveStock", LiveStockInfo_Doc_ID, LiveStockInfo_Doc_Category, LiveStockInfo_ParamMandatory, LiveStockInfo_FromDateLabel, LiveStockInfo_ToDateLabel, LiveStockInfo_DescriptionLabel, "LiveStockProfileAttachment", null, "LiveStockListGrid", LiveStockInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(LiveStockInfo_MasterRowRecID, "Profile_LiveStock", LiveStockInfo_Doc_ID, "LiveStockProfileAttachment", "LiveStockListGrid", LiveStockInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (LiveStockInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(LiveStockInfo_MasterRowRecID, "Profile_LiveStock", LiveStockInfo_AtachmentID, LiveStockInfo_ParamMandatory, LiveStockInfo_FromDateLabel, LiveStockInfo_ToDateLabel, LiveStockInfo_DescriptionLabel, "LiveStockProfileAttachment", null, "LiveStockListGrid", LiveStockInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            debugger
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(LiveStockInfo_MasterRowRecID, "Profile_LiveStock", LiveStockInfo_AtachmentID, LiveStockInfo_ParamMandatory, LiveStockInfo_FromDateLabel, LiveStockInfo_ToDateLabel, LiveStockInfo_DescriptionLabel, null, "LiveStockListGrid", LiveStockInfo_NestedGrid_AccessID, LiveStockInfo_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            ViewDocument(LiveStockInfo_AtachmentID, LiveStockInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(LiveStockInfo_MasterRowRecID, "Profile_LiveStock", "LiveStock Information", "LiveStockListGrid", LiveStockInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (LiveStockInfo_Doc_Category.toLowerCase() == "others")
            {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else {
                AttachmentAddReason(LiveStockInfo_MasterRowRecID, LiveStockInfo_NestedRowMapID, "Profile_LiveStock", "LiveStockListGrid", LiveStockInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(LiveStockInfo_MasterRowRecID, LiveStockInfo_NestedRowMapID, "Profile_LiveStock", "LiveStockListGrid", LiveStockInfo_NestedGrid_AccessID, LiveStockInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(LiveStockInfo_MasterRowRecID, LiveStockInfo_NestedRowMapID, "LiveStockListGrid", LiveStockInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction")
        {
            LiveStockPrf_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit")
        {
            if (LiveStockInfo_Nested_Doc_Status == "")
            {
                LiveStockPrf_FAB.SetActionContext("AutoItemContext", true);
            }
            if (LiveStockInfo_Nested_Doc_Status == "NO")
            {
                LiveStockPrf_FAB.SetActionContext("EditItemContext", true);
            }
            if (LiveStockInfo_Nested_Doc_Status == "YES")
            {
                LiveStockPrf_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept")
        {
            LiveStockInfo_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject")
        {
            LiveStockInfo_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks")
        {
            LiveStockInfo_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc") {

            OnLiveStockInfo_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc") {

            OnLiveStockInfo_RejectDoc();
        }
    }
    function OnLiveStockInfo_RejectDoc() {
        if (LiveStockInfo_AtachmentID == null || LiveStockInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(LiveStockInfo_AtachmentID, "LiveStockListGrid", LiveStockInfo_NestedGrid_AccessID);
    }
    function OnLiveStockInfo_AcceptDoc() {
        if (LiveStockInfo_AtachmentID == null || LiveStockInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(LiveStockInfo_AtachmentID, "LiveStockListGrid", LiveStockInfo_NestedGrid_AccessID);
    }
    function LiveStockInfo_AcceptwithoutRemarks()
    {
        var Recid;
        if (LiveStockInfo_IsDetailRowExpanded == true || LiveStock_IsVouchingMode == true)
        {
            if (LiveStockInfo_MasterRowRecID == null || LiveStockInfo_MasterRowRecID == "")
            {
                Recid = LiveStockID;
            }
            else
            {
                Recid = LiveStockInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = LiveStockID;
        }
        Entry_AcceptwithoutRemarks(Recid, "Profile_LiveStock", "LiveStockListGrid", LiveStockInfo_AtachmentID, LiveStockInfo_NestedRowReasonID, LiveStockInfo_NestedRowKeyValue);
    }
    function LiveStockInfo_AcceptRejectVoucher(_actionMethod)
    {
        var Recid;
        if (LiveStockInfo_IsDetailRowExpanded == true || LiveStock_IsVouchingMode == true)
        {
            if (LiveStockInfo_MasterRowRecID == null || LiveStockInfo_MasterRowRecID == "")
            {
                Recid = LiveStockID;
            }
            else
            {
                Recid = LiveStockInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = LiveStockID;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_LiveStock", "LiveStockListGrid", LiveStockInfo_AtachmentID, LiveStockInfo_NestedRowReasonID, LiveStockInfo_NestedRowKeyValue);
    }
    function OnLiveStockListGridNestedFocusedRowChange(s, e)
    {
        if (LiveStockInfo_IsDetailRowExpanded == true || LiveStock_IsVouchingMode == true)
        {
            LiveStockInfo_NestedRecord_FocusedRowIndex = s.GetFocusedRowIndex();
            if (LiveStockInfo_NestedRecord_FocusedRowIndex >= 0)
            {
                ShowLoader();
                LiveStockInfo_NestedGrid_AccessID = s.uniqueID;
                s.GetRowValues(s.GetFocusedRowIndex(), 'Doc_Status;Params_Mandatory;LABEL_FROM_DATE;LABEL_TO_DATE;LABEL_DESCRIPTION;Document_Category;Document_ID;ATTACH_ID;TxnID;TxnMID;MAP_ID;Reason;ATTACH_FILE_NAME;Attachment_Action_Status;UniqueID;ReasonID', OnLiveStockInfo_GetGridRowValues);
            }
            else
            {
                LiveStockPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }
    function OnLiveStockInfo_GetGridRowValues(values)
    {
        HideLoader();
        if (values[14] != null)
        {
            LiveStockPrf_FAB.SetVisible(true);
            LiveStockInfo_Nested_Doc_Status = values[0];
            if (LiveStock_IsVouchingMode == true) {
                LiveStockPrf_FAB.SetActionContext("AuditActionContext", true);
            }
            else
            {
                if (LiveStockInfo_Nested_Doc_Status == "")
                {
                    LiveStockPrf_FAB.SetActionContext("AutoItemContext", true);
                }
                else if (LiveStockInfo_Nested_Doc_Status == "NO")
                {
                    LiveStockPrf_FAB.SetActionContext("EditItemContext", true);
                }
                else if (LiveStockInfo_Nested_Doc_Status == "YES")
                {
                    LiveStockPrf_FAB.SetActionContext("actionItemContext", true);
                }
            }
            LiveStockInfo_ParamMandatory = values[1];
            LiveStockInfo_FromDateLabel = values[2];
            LiveStockInfo_ToDateLabel = values[3];
            LiveStockInfo_DescriptionLabel = values[4];
            LiveStockInfo_Doc_Category = values[5];
            LiveStockInfo_Doc_ID = values[6];
            LiveStockInfo_AtachmentID = values[7];
            IndexAttachmentID = LiveStockInfo_AtachmentID;
            LiveStockInfo_MasterRowRecID = values[8];
            LiveStockInfo_MasterRowMID = values[9];
            LiveStockInfo_NestedRowMapID = values[10];
            LiveStockInfo_reason = values[11];
            LiveStockInfo_FileName = values[12];
            LiveStockInfo_Attachment_RecStatus = values[13];
            LiveStockInfo_NestedRowKeyValue = values[14];
            if (LiveStock_IsVouchingMode == true)
            {
                if (LiveStockInfo_FileName != null && LiveStockInfo_FileName.length > 0)
                {
                    ViewDocument(LiveStockInfo_AtachmentID, LiveStockInfo_FileName, "LiveStockPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else
                {
                    CloseRightPane();
                    ClearRightPane();
                }
            }
        }
        LiveStockInfo_NestedRowReasonID = values[15];
        IndexAttachmentReasonID = LiveStockInfo_NestedRowReasonID;
    }
    function LiveStockGrid_Nested_BeginCallBack(s, e)
    {
        e.customArgs["ShowHorizontalBar"] = LS_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = LiveStock_IsVouchingMode;
        e.customArgs["command"] = e.command;
    }
    function LiveStockGrid_DetailRowExpanding(s, e)
    {
        LiveStockInfo_IsDetailRowExpanded = true;
        s.SetFocusedRowIndex(e.visibleIndex);
        var pane = Mainspliter.GetPaneByName('RightPane');
        if (LiveStock_IsVouchingMode == true)
        {
            pane.Expand();
        }
        else
        {
            pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
    }
    function LiveStockGrid_DetailRowCollapsing(s, e)
    {
        LiveStockInfo_IsDetailRowExpanded = false;
        s.SetFocusedRowIndex(e.visibleIndex);
        if (LiveStock_IsVouchingMode == true)
        {
            if (Mainspliter.GetPaneByName('RightPane').IsCollapsed() == false)
            {
                CollapsePane(Mainspliter.GetPaneByName('RightPane'), Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
        else
        {
            LiveStockPrf_FAB.SetVisible(false);
        }
    }
    </script>



</div>