<div class="LandBuilding_Window_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Profile.Models.PropertyWindowProfile
    @{
        bool PropertyLB_LockUnlockRight = (bool)ViewData["PropertyLB_LockUnlockRight"];
        bool PropertyLB_ListAdresBookRight = (bool)ViewData["PropertyLB_ListAdresBookRight"];
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
        string UserType = (string)ViewBag.userType;
        bool? InsuranceAuditor = ViewBag.InsuranceAuditor == null ? (bool?)null : (bool)ViewBag.InsuranceAuditor;
        int? TransactionCount = ViewBag.TransactionCount == null ? (int?)null : (int)ViewBag.TransactionCount;
    }
    <style>
        #Frm_Property_Window_popup_profile {
            padding-left: 0px;
            padding-right: 0px;
        }

        #But_Owner_LBW .dx-icon {
            width: 32px;
            height: 32px;
            /*  line-height: normal;
        left: 45px;
        top: -10px;
        bottom: 0;*/
        }

        #But_Owner_LBW .dx-button-content {
            height: inherit;
            padding-top: 11px;
            padding-bottom: 11px;
            padding-left: 30px;
        }
    </style>

    <div id="Frm_Property_Window_popup_profile" class="col-md-12">
        @using (Ajax.BeginForm("Frm_Property_Window_BUT_SAVE_Click", "Property",
               new AjaxOptions
               {
                   HttpMethod = "POST",
                   UpdateTargetId = "Frm_Property_Window_popup",
                   InsertionMode = InsertionMode.InsertAfter,
                   OnBegin = "AjaxBeginFormPost",
                   OnSuccess = "Frm_Property_Window_AjaxSuccessForm_LBW"
               },
               new
               {
                   id = "ID_Frm_Property_Window_Form_Profile",
                   @class = "edit_form form-horizontal"
               }))
        {
            @Html.HiddenFor(x => x.TitleX)
            @Html.HiddenFor(x => x.SubTitleX)
            @Html.HiddenFor(x => x.Info_LastEditedOn)
            @Html.HiddenFor(x => x.LastEditedOn)
            @Html.HiddenFor(x => x.YearID)
            @Html.HiddenFor(x => x.Tag)
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.LB_TR_ID)
            @Html.HiddenFor(x => x.Txt_LB_Amount_ReadOnly)
            @Html.HiddenFor(x => x.Owner_Rec_Edit_On)
            @Html.HiddenFor(x => x.X_ITEM_ID)
            @Html.HiddenFor(x => x.xID)
            @Html.HiddenFor(x => x.MOU_Property_Select)
            @Html.HiddenFor(x => x.isCallForPropertyTypeChange)
            using (Html.DevExtreme().ValidationGroup("LandAndBuilding_Profile"))
            {
                <div class="container-fluid">
                    <div class="full-width-header-bg2">
                        <div class="row">
                            <div class="col-sm-8 pll">
                                <h3 class="popuphead"><i class="far fa-edit"></i> @Model.TitleX </h3><i class="fas fa-star yellowstar"></i><span class="blu-txt2"> @Model.SubTitleX</span>
                            </div>
                            <div class="col-sm-4 prm">
                                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                            </div>
                        </div>
                    </div><!--[Header]-->
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-field">
                                <label class="control-label text-red" for="Cmd_PCategory_LBW">Property Category:</label>
                                @(Html.DevExtreme().SelectBox().CustomSelectBox() .ID("Cmd_PCategory_LBW") .Name("Cmd_PCategory_LBW") .Placeholder("Select Category...").DataSource(new[] { "PURCHASED", "PURCHASED AND CONSTRUCTED", "GIFTED", "GIFTED AND CONSTRUCTED", "RENTED", "LEASED (Short Term)", "LEASED (Long Term)", "LEASED AND CONSTRUCTED (Long Term)", "MORTGAGE (Short Term)", "FREE USE", "MOU" })
                                  .OnValueChanged("Cmd_PCategory_SelectedIndexChanged_LBW").ShowClearButton(false))
                            </div>
                        </div><!--[category]-->
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-field">
                                <label class="control-label text-red" for="Cmd_PType_LBW" id="lbl_PType_LBW">Property Type:</label>
                                @(Html.DevExtreme().SelectBox().CustomSelectBox() .ID("Cmd_PType_LBW") .Name("Cmd_PType_LBW")   .Placeholder("Select Type...")  .OnValueChanged("Cmd_PType_SelectedIndexChanged_LBW")  .DataSource(new[] { "LAND", "BUILDING", "FLAT", "FLAT (in Multiple Floor)" }) )

                            </div>
                        </div><!--[Type]-->
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-field">
                                <label class="control-label text-red" for="Cmd_PUse_LBW">Use of Property:</label>
                                @(Html.DevExtreme().SelectBox().CustomSelectBox() .ID("Cmd_PUse_LBW") .Name("Cmd_PUse_LBW") .DataSource(new[] { "MAIN CENTRE", "CLASS", "MUSEUM", "STORE", "GARDEN", "GARAGE", "DEPARTMENT", "RESIDENCE", "RETREAT CENTRE", "NOT IN USE" })   .Placeholder("Select Use of Property...") .OnValueChanged("Cmd_PUse_SelectedIndexChanged_LBW")   )

                            </div>
                        </div><!--[Use]-->
                    </div><!--[row 1]-->
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-field">
                                <label class="control-label text-red" for="Txt_PName_LBW">Property / Building Name:</label>
                                @(Html.DevExtreme().TextBox().CustomTextBox(true) .ID("Txt_PName_LBW") .Name("Txt_PName_LBW") .MaxLength(100) .Placeholder("Type Property / Building Name....")  )

                            </div>
                        </div><!--[Name]-->
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="form-field">
                                <label class="control-label text-red" for="Txt_Add_LBW">Property / Building Address:</label>
                                @(Html.DevExtreme().TextBox().CustomTextBox(true) .ID("Txt_Add_LBW") .Name("Txt_Add_LBW") .Value(Model.Txt_Add_LBW) .OnKeyDown("SetPropertyBuildingAddress_LBW") .ElementAttr("OnClick", "SetPropertyBuildingAddress_LBW()").ShowClearButton(false)  )

                            </div>
                        </div><!--[Add]-->
                    </div><!--[row 2]-->
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-field">
                                <label class="control-label text-red" for="Cmd_Ownership_LBW">Ownership:</label>
                                @(Html.DevExtreme().SelectBox().CustomSelectBox() .ID("Cmd_Ownership_LBW") .Name("Cmd_Ownership_LBW") .DataSource(new[] { "INSTITUTION", "THIRD PARTY" }) .OnValueChanged("Cmd_Ownership_SelectedIndexChanged_LBW").ReadOnly(true).FocusStateEnabled(true) )

                            </div>
                        </div><!--[Ownership]-->
                        <div class="col-sm-6 col-md-7 col-lg-7">
                            <div class="form-field">
                                <label class="control-label text-red" for="Look_OwnList_LBW">Owner Name:</label>
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_OwnList_LBW").Name("Look_OwnList_LBW").ValueExpr("ID").DisplayExpr("Name").OnValueChanged("Look_OwnList_EditValueChanged_LBW").ContentTemplate(@<text>@Html.Partial("Frm_Vehicle_Window_GLookUp_OwnList")</text>)
                                  .DataSource(d => d.Mvc().Area("Profile").Controller("Property").LoadAction("LookUp_GetOwnList").Key("ID").LoadParams(new { DDRefresh = new JS("function (){ return OwnerListRefresh_LBW_DD;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true)).Placeholder("Select Owner...").ReadOnly(true).FocusStateEnabled(false) )
                                @(Html.DevExtreme().TextBox().CustomTextBox() .ID("TextEdit1_LBW") .Name("TextEdit1_LBW") .Value(Model.TextEdit1_LBW) .ReadOnly(true) .Visible(false)  )

                            </div>
                        </div><!--[Owner Name]-->
                        <div class="col-sm-3 col-md-2 col-lg-2">
                            <div class="form-field">
                                @(Html.DevExtreme().Button().ID("But_Owner_LBW").Text("Manage Owner").Icon("add").Width(300) .Disabled(true) .OnClick("PropertyManageOwnerClick_LBW").Icon(Url.Content("../../../../Icons/manage user.png")))
                            </div>
                        </div>
                    </div><!--[row 3]-->
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-field">
                                <label class="control-label" for="Txt_SNo_LBW" id="lbl_surveyNo_lbw">Survey No.:</label>
                                @(Html.DevExtreme().TextBox().CustomTextBox(true) .ID("Txt_SNo_LBW") .Name("Txt_SNo_LBW") .Value(Model.Txt_SNo_LBW) .MaxLength(100) .Placeholder("Type Survey No...")  )

                            </div>
                        </div><!--[Survey No]-->
                        <div class="col-sm-4 col-md-2 col-lg-2">
                            <div class="form-field">
                                <label class="control-label" for="Txt_Tot_Area_LBW" id="lbl_tpa_lbw">Total Plot Area(Sq.Ft.):</label>
                                @(Html.DevExtreme().NumberBox().CustomNumberBox() .Placeholder("Type Plot Area(Sq.Ft.)...") .Format("#0.00") .ID("Txt_Tot_Area_LBW") .Name("Txt_Tot_Area_LBW") .Value(Model.Txt_Tot_Area_LBW)  )

                            </div>
                        </div><!--[Total Area]-->
                        <div class="col-sm-5 col-md-3 col-lg-3">
                            <div class="form-field">
                                <label class="control-label" for="Txt_Con_Area_LBW" id="lbl_con_area_lbw">Constructed Area(Sq.Ft.):</label>
                                @(Html.DevExtreme().NumberBox().CustomNumberBox() .Placeholder("Type Constructed Area(Sq.Ft.)...") .Format("#0.00") .ID("Txt_Con_Area_LBW") .Name("Txt_Con_Area_LBW") .Value(Model.Txt_Con_Area_LBW)   )

                            </div>
                        </div><!--[Const Area]-->
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-field">
                                <label class="control-label" for="user" id="lbl_con_year_lbw">Construction Year:</label>
                                @(Html.DevExtreme().SelectBox().CustomSelectBox() .ID("Cmd_Con_Year_LBW") .Name("Cmd_Con_Year_LBW") .DataSource(ViewBag.Cmd_Con_Year_Bind) .Value(Model.Cmd_Con_Year_LBW) .Placeholder("Year...") )
                            </div>
                        </div><!--[Year]-->
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="form-field">
                                <label class="control-label" for="Cmd_RccType_LBW" id="lbl_rccType_lbw">RCC Constructed Roof:</label>
                                @(Html.DevExtreme().SelectBox().CustomSelectBox() .ID("Cmd_RccType_LBW") .Name("Cmd_RccType_LBW") .Value(Model.Cmd_RccType_LBW) .DataSource(new[] { "YES", "NO" }) .Placeholder("Select Yes/No...")    )
                            </div>
                        </div><!--[Roof]-->
                    </div><!--[row 4]-->
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-field">

                                @(Html.DevExtreme().TabPanel().ID("ProfileLBTab").Items(items =>
                                                                                                                                                                                               {
                                                                                                                                                                                                   items.Add().Title("Leased And Constructed (Long Term)").Template(@<text> @LeasedAndConstructedView() </text>);
                                                                                                                                                                                        items.Add().Title("Extended Property").Template(@<text> @ExtendedPropertyView()  </text>);
                                                                                                                                                                                items.Add().Title("Documents").Template(@<text> @DocumentsView() </text>);
                                                                                                                                                                    }).DeferRendering(false))
                                @helper LeasedAndConstructedView()
                                {
                                    /**/
                                    @Html.Partial("LB_LeasedConstructed_View", Model);
                                }
                                @helper ExtendedPropertyView()
                                {
                                    /**/
                                    @Html.Partial("LB_ExtendedProperty_View", Model);
                                }
                                @helper DocumentsView()
                                {
                                    /**/
                                    @Html.Partial("LB_Profile_Documents_View", Model);
                                }

                            </div>
                        </div>
                    </div><!--[Tabs]-->
                    <div class="row">
                        <div class="col-sm-8" id="LayoutControlItem25_lbw">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-2 pll"><label class="control-label" for="Txt_Remarks_LBW">Other Details:</label></div>
                                    <div class="col-sm-10 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                         .ID("Txt_Remarks_LBW")
                                                         .Name("Txt_Remarks_LBW")
                                                         .Value(Model.Txt_Remarks_LBW)

                                                         .MaxLength(8000)
                                                         .Placeholder("Type Any Other Detail / Remarks...")

                                        )

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" id="LayoutControlItem18_lbw">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-5 col-md-4 col-lg-4 pll"><label class="control-label" for="Txt_LB_Amount_LBW">Opening Value:</label></div>
                                    <div class="col-sm-7 col-md-8 col-lg-8 pll">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox()
                                                   .Format("#0.00")
                                                   .ID("Txt_LB_Amount_LBW")
                                                   .Name("Txt_LB_Amount_LBW")
                                                   .Value(Model.Txt_LB_Amount_LBW)
                                                   .Placeholder("Type Opening Value...")


                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Item Detail (Land & Building Detail)...)...", Model.Tag.ToString().Substring(1)))
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="styleActionBtn">
                                        @(Html.DevExtreme().Button().CustomSaveButton(Model.Tag.ToString()).ID("LB_Profile_Save").Text(Model.Tag.ToString() == "_Delete" ? "Delete" : "Save").UseSubmitBehavior(false).OnClick("property_profile_saveClick").Visible(Model.Tag.ToString() == "_View" ? false : true) )
                                        @(Html.DevExtreme().Button().CustomCloseButton().ID("LB_Profile_Cancel").Text(Model.Tag.ToString() == "_View" ? "Close" : "Cancel").FocusStateEnabled(true).OnClick("BUT_CANCEL_Click_LBW"))

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Buttons]-->
                    @(Html.DevExtreme().Popup().CustomPopup() .ID("Frm_Property_Window_Property_Address_popup_LBW").Height("auto").Width(550).MaxWidth("100%").CloseOnOutsideClick(true).ShowTitle(true).OnShowing("AddPropertyAddressPopupScroll_LBW").OnHiding("PopupContainerEdit1_Closed_LBW").ContentTemplate(@<text> <div id="result_Frm_Property_Window_Property_Address_popup_LBW"> @Html.Action("Frm_Property_Window_Property_Address", "Property", new { @area = "Profile", @Txt_Address=Model.Txt_Address_LBW, @Txt_R_Add1=Model.Txt_R_Add1_LBW, @Txt_R_Add2=Model.Txt_R_Add2_LBW, @Txt_R_Add3=Model.Txt_R_Add3_LBW, @Txt_R_Add4=Model.Txt_R_Add4_LBW, @GLookUp_StateList=Model.GLookUp_StateList_LBW, @GLookUp_DistrictList=Model.GLookUp_DistrictList_LBW, @GLookUp_CityList=Model.GLookUp_CityList_LBW, @Txt_R_Pincode=Model.Txt_R_Pincode_LBW }) </div> </text>) )
                </div>
            }
        }
    </div>
    <script>
    function property_profile_saveClick(e)
    {
        validations_LBW()
        var result = e.validationGroup.validate();
        if (result.isValid)
        {
            $("#Txt_LB_Amount_ReadOnly").val($("#Txt_LB_Amount_LBW").dxNumberBox("option", "readOnly"));
            $("#MOU_Property_Select").val(false);

            var form = $("#ID_Frm_Property_Window_Form_Profile");

            if ("@Model.Tag" == "_Delete")
            {
                DeleteAfterConfirmation(TransformText("@Model.TitleX"), "", form);
            }
            else
            {
                form.submit();
            }
        }
    }
    function Frm_Property_Window_AjaxSuccessForm_LBW(data)
    {
        HideLoader();
        if (data.xid != null) {
            Property_Select_xid = data.xid;
        }
        if (data.jsonParam.result == false) {

            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult) {
                if (alertResult) {

                    switch (data.jsonParam.focusid) {
                        case "Cmd_PCategory_LBW":
                            $("#Cmd_PCategory_LBW").dxSelectBox("instance").focus();
                            break;
                        case "Cmd_PType_LBW":
                            $("#Cmd_PType_LBW").dxSelectBox("instance").focus();
                            break;
                        case "Cmd_PUse_LBW":
                            $("#Cmd_PUse_LBW").dxSelectBox("instance").focus();
                            break;
                        case "Txt_PName_LBW":
                            $("#Txt_PName_LBW").dxTextBox("instance").focus();
                            break;
                        case "Txt_Add_LBW":
                            $("#Txt_Add_LBW").dxTextBox("instance").focus();
                            break;
                        case "Txt_R_Add1_LBW":
                            $("#Frm_Property_Window_Property_Address_popup_LBW").dxPopup("show");
                            setTimeout(function () { $("#Txt_R_Add1_LBW").dxTextBox("instance").focus(); }, Timeout500);
                            break;
                        case "GLookUp_StateList_LBW":
                            $("#Frm_Property_Window_Property_Address_popup_LBW").dxPopup("show");
                            setTimeout(function () { $("#GLookUp_StateList_LBW").dxDropDownBox("instance").focus(); }, Timeout500);
                            break;
                        case "GLookUp_DistrictList_LBW":
                            $("#Frm_Property_Window_Property_Address_popup_LBW").dxPopup("show");
                            setTimeout(function () { $("#GLookUp_DistrictList_LBW").dxDropDownBox("instance").focus(); }, Timeout500);
                            break;
                        case "GLookUp_CityList_LBW":
                            $("#Frm_Property_Window_Property_Address_popup_LBW").dxPopup("show");
                            setTimeout(function () { $("#GLookUp_CityList_LBW").dxDropDownBox("instance").focus(); }, Timeout500);
                            break;
                        case "Txt_R_Pincode_LBW":
                            $("#Frm_Property_Window_Property_Address_popup_LBW").dxPopup("show");
                            setTimeout(function () { $("#Txt_R_Pincode_LBW").dxTextBox("instance").focus(); }, Timeout500);
                            break;
                        case "Cmd_Ownership_LBW":
                            $("#Cmd_Ownership_LBW").dxSelectBox("instance").focus();
                            break;
                        case "Look_OwnList_LBW":
                            $("#Look_OwnList_LBW").dxDropDownBox("instance").focus();
                            break;
                        case "Txt_SNo_LBW":
                            $("#Txt_SNo_LBW").dxTextBox("instance").focus();
                            break;
                        case "Txt_LB_Amount_LBW":
                            $("#Txt_LB_Amount_LBW").dxNumberBox("instance").focus();
                            break;
                        case "Txt_Tot_Area_LBW":
                            $("#Txt_Tot_Area_LBW").dxNumberBox("instance").focus();
                            break;
                        case "Txt_Con_Area_LBW":
                            $("#Txt_Con_Area_LBW").dxNumberBox("instance").focus();
                            break;
                        case "Cmd_Con_Year_LBW":
                            $("#Cmd_Con_Year_LBW").dxSelectBox("instance").focus();
                            break;
                        case "Cmd_RccType_LBW":
                            $("#Cmd_RccType_LBW").dxSelectBox("instance").focus();
                            break;
                        case "Txt_Dep_Amt_LBW":
                            $("#ProfileLBTab").dxTabPanel("instance").option("selectedIndex", 0);
                            $("#Txt_Dep_Amt_LBW").dxNumberBox("instance").focus();
                            break;
                        case "Txt_Mon_Rent_LBW":
                            $("#ProfileLBTab").dxTabPanel("instance").option("selectedIndex", 0);
                            $("#Txt_Mon_Rent_LBW").dxNumberBox("instance").focus();
                            break;
                        case "Txt_Other_Payments_LBW":
                            $("#ProfileLBTab").dxTabPanel("instance").option("selectedIndex", 0);
                            $("#Txt_Other_Payments_LBW").dxNumberBox("instance").focus();
                            break;
                        case "Txt_T_Date_LBW":
                            $("#ProfileLBTab").dxTabPanel("instance").option("selectedIndex", 0);
                            $("#Txt_T_Date_LBW").dxDateBox("instance").focus();
                            break;
                    }

                    if (data.jsonParam.refreshgrid)
                    {
                        RefreshGridView("PropertyListGrid", ActionAfterDataGridRefresh_PropertyListGrid_dx)
                    }

                    if (data.jsonParam.closeform) {
                        dontaskpopupcloseconfirmation = true;
                        $("#Dynamic_Content_popup").dxPopup("hide");
                    }
                }
            });
        }
        else
        {
            if (data.jsonParam.popup_form_name && data.jsonParam.popup_form_name.length > 0)
            {
                OpenPopup("MOU_Property_Select_popup", data.jsonParam.popup_title, data.jsonParam.popup_form_path + "?" + data.jsonParam.popup_querystring, "auto", 785, false, null);
            }
            else
            {
                var check = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                check.done(function (dialogResult)
                {
                    if (dialogResult)
                    {
                        RefreshGridView("PropertyListGrid", ActionAfterDataGridRefresh_PropertyListGrid_dx.bind(null, "@Model.Tag"))
                        dontaskpopupcloseconfirmation = true;
                        $("#Dynamic_Content_popup").dxPopup("hide");
                    }
                });
            }
        }
    }
    function PropertyManageOwnerClick_LBW(e)
    {
        if ("@PropertyLB_ListAdresBookRight" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection")
        {
            ManageParty("LBW_Manage_Party", "LookUp_GetOwnList_LBW","Address Book (Ownership)...");
        }
    }
    function BUT_CANCEL_Click_LBW() {
        $("#Dynamic_Content_popup").dxPopup("hide");
    }
    </script> @* save button and ajax success *@
<script>
    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        TransformTextForDB("ID_Frm_Property_Window_Form_Profile");
        if ("@Model.Tag" != "_View")
        {
            dontaskpopupcloseconfirmation = false;
        }
        sessionclearpath = "/Profile/Property/SessionClear_Window";
        $("#Frm_Property_Window_Property_Address_popup_LBW").dxPopup("show");
        $("#Frm_Property_Window_Property_Address_popup_LBW").dxPopup("hide");
        var tabpanel = $("#ProfileLBTab").dxTabPanel("instance");
        tabpanel.option("items[0].visible", false);
        tabpanel.option("items[1].visible", false);
        tabpanel.option("selectedIndex", 2);
        InitAllDropdownDataGrid_LBW();
        await Promise.all([LookUp_GetOwnList_LBW(true), LookUp_Get_StateList_LBW(true)]);
        if ("@Model.Tag" == "_Edit" || "@Model.Tag" == "_View" || "@Model.Tag" == "_Delete")
        {
            $("#Cmd_PType_LBW").dxSelectBox("instance").option("value", "@Model.Cmd_PType_LBW");
            $("#Cmd_PCategory_LBW").dxSelectBox("instance").option("value", "@Model.Cmd_PCategory_LBW");
            $("#Cmd_PUse_LBW").dxSelectBox("instance").option("value", "@Model.Cmd_PUse_LBW");
            $("#Txt_PName_LBW").dxTextBox("instance").option("value", TransformText("@Model.Txt_PName_LBW"));
            $("#Txt_Address_LBW").dxTextArea("instance").option("value", "@Model.Txt_Address_LBW");
            $("#Txt_Add_LBW").dxTextBox("instance").option("value", TransformText("@Model.Txt_Add_LBW"));
            Control_SetReadOnly("GLookUp_StateList_LBW", "dxDropDownBox", false);
            Control_SetReadOnly("GLookUp_DistrictList_LBW", "dxDropDownBox", false);
            Control_SetReadOnly("GLookUp_CityList_LBW", "dxDropDownBox", false);
            if ("@Model.Txt_R_Add1_LBW".length > 0)
            {
                $("#Txt_R_Add1_LBW").dxTextBox("instance").option("value", TransformText("@Model.Txt_R_Add1_LBW"));
                $("#Txt_R_Add2_LBW").dxTextBox("instance").option("value", TransformText("@Model.Txt_R_Add2_LBW"));
                $("#Txt_R_Add3_LBW").dxTextBox("instance").option("value", TransformText("@Model.Txt_R_Add3_LBW"));
                $("#Txt_R_Add4_LBW").dxTextBox("instance").option("value", TransformText("@Model.Txt_R_Add4_LBW"));
                await State_LBW_DG.selectRows("@Model.GLookUp_StateList_LBW", false);
                await District_LBW_DG.selectRows("@Model.GLookUp_DistrictList_LBW", false);
                await City_LBW_DG.selectRows("@Model.GLookUp_CityList_LBW", false);
                $("#Txt_R_Pincode_LBW").dxTextBox("instance").option("value", "@Model.Txt_R_Pincode_LBW");
            }
            $("#Cmd_Ownership_LBW").dxSelectBox("instance").option("value", "@Model.Cmd_Ownership_LBW");
            if ("@Model.Look_OwnList_LBW".length > 0)
            {
               await OwnerList_LBW_DG.selectRows("@Model.Look_OwnList_LBW", false);
            }
            $("#Txt_SNo_LBW").dxTextBox("instance").option("value", TransformText("@Model.Txt_SNo_LBW"));
            $("#Txt_Tot_Area_LBW").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Tot_Area_LBW"));
            $("#Txt_Con_Area_LBW").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Con_Area_LBW"));
            $("#Cmd_Con_Year_LBW").dxSelectBox("instance").option("value", "@Model.Cmd_Con_Year_LBW");
            $("#Cmd_RccType_LBW").dxSelectBox("instance").option("value", "@Model.Cmd_RccType_LBW");
            $("#Chk_OtherDoc_LBW").dxCheckBox("instance").option("value", "@Model.Chk_OtherDoc_LBW" == "True" ? true : false);
            $("#Txt_OtherDoc_LBW").dxTextBox("instance").option("value", TransformText("@Model.Txt_OtherDoc_LBW"));

            if ("@Model.LB_TR_ID".length > 0) { //Voucher Entry i.e. Accounting Category
                Control_SetReadOnly("Cmd_PType_LBW", "dxSelectBox", true);
                Control_SetReadOnly("Cmd_PCategory_LBW", "dxSelectBox", true);
                Control_SetReadOnly("Txt_LB_Amount_LBW", "dxNumberBox", true);
            }
        }
        if ("@Model.Tag" == "_Edit")
        {
            if (parseInt("@TransactionCount") > 0)
            {
                Control_SetReadOnly("Cmd_PType_LBW", "dxSelectBox", true);
                Control_SetReadOnly("Cmd_PCategory_LBW", "dxSelectBox", true);
                Control_SetReadOnly("Txt_LB_Amount_LBW", "dxNumberBox", true);
            }
            if ("@InsuranceAuditor" == "False")
            {
                Control_SetReadOnly("Txt_Con_Area_LBW", "dxNumberBox", true);
                Control_SetReadOnly("Cmd_Con_Year_LBW", "dxSelectBox", true);
                Control_SetReadOnly("Cmd_RccType_LBW", "dxSelectBox", true);
            }
        }
        if ("@UserType".toUpperCase() != "SUPERUSER" && "@UserType".toUpperCase() != "AUDITOR")
        {
            $("#LayoutControlItem18_lbw").hide();
            $("#LayoutControlItem25_lbw").removeClass("col-sm-8").addClass("col-sm-12");
        }
        validations_LBW()
        setTimeout(function ()
        {
            if ("@Model.isCallForPropertyTypeChange" == "True") {
                Set_Form_View_Delete_Mode(null, "ID_Frm_Property_Window_Form_Profile", "View");

                Control_SetReadOnly("Cmd_PType_LBW", "dxSelectBox", false);
                Control_SetReadOnly("Txt_SNo_LBW", "dxTextBox", false);
                Control_SetReadOnly("Txt_Tot_Area_LBW", "dxNumberBox", false);
                $("#lbl_PType_LBW").removeClass("disabletxt").addClass("text-red");
                $("#lbl_surveyNo_lbw").removeClass("disabletxt");
                $("#lbl_tpa_lbw").removeClass("disabletxt");
                $("#lbl_con_area_lbw").removeClass("disabletxt");
                $("#lbl_con_year_lbw").removeClass("disabletxt");
                $("#lbl_rccType_lbw").removeClass("disabletxt");
                Cmd_PType_SelectedIndexChanged_LBW();
                $("#Cmd_PType_LBW").dxSelectBox('instance').focus();
            }
            else {
                Set_Form_View_Delete_Mode(null, "ID_Frm_Property_Window_Form_Profile", "@Model.Tag");
                $("#Cmd_PCategory_LBW").dxSelectBox('instance').focus();
            }
            HideLoader_Ready();
        }, Timeout500);      
    })
    function validations_LBW()
    {
        $("#Txt_PaidDate_LBW").dxDateBox({})
        .dxValidator({
            validationRules: [{
                type: 'custom',
                validationCallback: function (options)
                {
                    return $("#Txt_PaidDate_LBW").dxDateBox("option","isValid")
                },
                reevaluate: true,
                ignoreEmptyValue:true
            }],

            validationGroup: "LandAndBuilding_Profile"
        });
        $("#Txt_F_Date_LBW").dxDateBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        return $("#Txt_F_Date_LBW").dxDateBox("option", "isValid")
                    },
                    reevaluate: true,
                    ignoreEmptyValue: true
                }],

                validationGroup: "LandAndBuilding_Profile"
            });
        $("#Txt_T_Date_LBW").dxDateBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        return $("#Txt_T_Date_LBW").dxDateBox("option", "isValid")
                    },
                    reevaluate: true,
                    ignoreEmptyValue: true
                }],

                validationGroup: "LandAndBuilding_Profile"
            });}
</script> @* Ready *@
    <script>
    var City_LBW_DG;
    var State_LBW_DG;
    var District_LBW_DG;
    var OwnerList_LBW_DG;

    var Refresh_State_LBW_DD = false;
    var Refresh_District_LBW_DD = false;
    var Refresh_City_LBW_DD = false;
    var OwnerListRefresh_LBW_DD = false;

    var GLookUp_StateName_LBW = null;
    var resStateCode_LBW = null;
    var StateDDvalueChangeExecution_LBW_FirstTime = true;
    var StateDDvalueChangeFinishExecution_LBW = true;
    var GLookUp_DistrictName_LBW = null;
    var GLookUp_CityName_LBW = null;
    var PUse_ValueChange_FirstCall_LBW = true;

    function InitAllDropdownDataGrid_LBW()
    {
        var $LBW_State_DG = $("#StateList-datagrid_LBW");
        if ($LBW_State_DG.length)
        {
            State_LBW_DG = $LBW_State_DG.dxDataGrid("instance");
        }
        var $LBW_District_DG = $("#DistrictList-datagrid_LBW");
        if ($LBW_District_DG.length)
        {
            District_LBW_DG = $LBW_District_DG.dxDataGrid("instance");
        }
        var $LBW_City_DG = $("#CityList-datagrid_LBW");
        if ($LBW_City_DG.length)
        {
            City_LBW_DG = $LBW_City_DG.dxDataGrid("instance");
        }
        var $LBW_Owner = $("#Frm_LB_Window_GLookUp_OwnList_datagrid");
        if ($LBW_Owner.length)
        {
            OwnerList_LBW_DG = $LBW_Owner.dxDataGrid("instance");
        }
    }
    async function LookUp_GetOwnList_LBW(FirstCall = false)
    {
        if (FirstCall === false)
        {
            OwnerListRefresh_LBW_DD = true;
            await OwnerList_LBW_DG.refresh();
            OwnerListRefresh_LBW_DD = false;
        }
        ResetDropdownWithSameValue("Look_OwnList_LBW", OwnerList_LBW_DG);
    }
    async function LookUp_Get_StateList_LBW(FirstCall = false)
    {
        if (FirstCall === false)
        {
            Refresh_State_LBW_DD = true;
            await State_LBW_DG.refresh();
            Refresh_State_LBW_DD = false;
        }
        if ("@Model.Tag" == "_New")
        {
            Control_SetReadOnly("GLookUp_StateList_LBW", "dxDropDownBox", false);
        }
    }
    async function LookUp_Get_DistrictList_LBW(FirstCall = false)
    {
        if (FirstCall === false)
        {
            Refresh_District_LBW_DD = true;
            await District_LBW_DG.refresh();
            Refresh_District_LBW_DD = false;
        }
        if ("@Model.Tag" == "_New")
        {
            Control_SetReadOnly("GLookUp_DistrictList_LBW", "dxDropDownBox", false);
        }
    }
    async function LookUp_Get_CityList_LBW(FirstCall = false)
    {
        if (FirstCall === false)
        {
            Refresh_City_LBW_DD = true;
            await City_LBW_DG.refresh();
            Refresh_City_LBW_DD = false;
        }
        if ("@Model.Tag" == "_New")
        {
            Control_SetReadOnly("GLookUp_CityList_LBW", "dxDropDownBox", false);
        }
    }

    function Look_OwnList_EditValueChanged_LBW(e)
    {
        var OwnerDropdown = $("#Look_OwnList_LBW").dxDropDownBox("instance")
        OwnerDropdown.close();
        if ((e.value == null||e.value.length==0) && e.previousValue != null)
        {
            OwnerList_LBW_DG.clearSelection();
        }
        if (OwnerList_LBW_DG.getSelectedRowsData().length > 0)
        {
            var SelectedItemRow = OwnerList_LBW_DG.getSelectedRowsData()[0];
            $("#Owner_Rec_Edit_On").val(SelectedItemRow.REC_EDIT_ON);
        }
    }
    function GLookUp_StateList_EditValueChanged_LBW(e)
    {
        StateDDvalueChangeFinishExecution_LBW = false;
        e.component.close();
        if ((e.value == null || e.value.length == 0) && e.previousValue != null)
        {
            State_LBW_DG.clearSelection();
            GLookUp_StateName_LBW = null;
            resStateCode_LBW = null;
            Promise.all([LookUp_Get_DistrictList_LBW(), LookUp_Get_CityList_LBW()]);
            District_LBW_DG.clearSelection();
            City_LBW_DG.clearSelection();
            StateDDvalueChangeFinishExecution_LBW = true;
            return;
        }
        if (State_LBW_DG.getSelectedRowsData().length > 0)
        {
            var item = State_LBW_DG.getSelectedRowsData()[0];
            GLookUp_StateName_LBW = item.R_ST_NAME;
            resStateCode_LBW = item.R_ST_CODE;
            District_LBW_DG.clearSelection();
            City_LBW_DG.clearSelection();
            Promise.all([LookUp_Get_DistrictList_LBW("@Model.Tag" === "_New" ? false : StateDDvalueChangeExecution_LBW_FirstTime), LookUp_Get_CityList_LBW("@Model.Tag" === "_New" ? false : StateDDvalueChangeExecution_LBW_FirstTime)]).then(([r1, r2])=>
            {
                StateDDvalueChangeExecution_LBW_FirstTime = false;
                StateDDvalueChangeFinishExecution_LBW = true;
            });
        }
    }
    function GLookUp_DistrictList_EditValueChanged_LBW(e)
    {
        e.component.close();
        if ((e.value == null || e.value.length == 0) && e.previousValue != null)
        {
            District_LBW_DG.clearSelection();
            GLookUp_DistrictName_LBW = null;
            return;
        }
        if (District_LBW_DG.getSelectedRowsData().length > 0)
        {

            var item = District_LBW_DG.getSelectedRowsData()[0];
            GLookUp_DistrictName_LBW = item.R_DI_NAME;
        }
    }
    function GLookUp_CityList_EditValueChanged_LBW(e)
    {
        e.component.close();
        if ((e.value == null || e.value.length == 0) && e.previousValue != null)
        {
            City_LBW_DG.clearSelection();
            GLookUp_CityName_LBW = null;
            return;
        }
        if (City_LBW_DG.getSelectedRowsData().length > 0)
        {
            var item = City_LBW_DG.getSelectedRowsData()[0];
            GLookUp_CityName_LBW = item.R_CI_NAME;
        }
    }
    </script> @* Dropdowns *@
<script>
    function SetPropertyBuildingAddress_LBW(e)
    {
        if (e)
        {
            if (e.event.keyCode == 9)//tab
            {
                return;
            }
        }
        if ("@Model.Tag"!="_Delete"&&"@Model.Tag"!="_View" && "@Model.isCallForPropertyTypeChange" != "True")
        {
            $("#Frm_Property_Window_Property_Address_popup_LBW").dxPopup("show");
            $("#Txt_R_Pincode_LBW").dxTextBox("instance").option({
                "mask": 'NNNNNN',
                "maskRules":
                {
                    'N': /[0-9]/
                }
            });
            $("#Txt_R_Pincode_LBW").dxTextBox("instance").option("isValid", true);
            setTimeout(function () { $("#Txt_R_Add1_LBW").dxTextBox("focus"); }, Timeout500);
        }
    }
    function AddPropertyAddressPopupScroll_LBW(e)
    {
        PopupOnShowing(e)
        //$("#Frm_Property_Window_Property_Address_popup_LBW").dxScrollView();
        $("#Txt_Add_LBW").dxTextBox({ value: "" });
    }
    function PopupContainerEdit1_Closed_LBW(e)
    {
        $("#Txt_Add_LBW").dxTextBox("focus");
        $("#Txt_Add_LBW").dxTextBox({ value: TransformText($("#Txt_Address_LBW").dxTextArea("instance").option("value")) });
        var Txt_R_Add1 = $("#Txt_R_Add1_LBW").dxTextBox('instance').option('value');
        var Txt_R_Add2 = $("#Txt_R_Add2_LBW").dxTextBox('instance').option('value');
        var Txt_R_Add3 = $("#Txt_R_Add3_LBW").dxTextBox('instance').option('value');
        var Txt_R_Add4 = $("#Txt_R_Add4_LBW").dxTextBox('instance').option('value');
        var Txt_R_Pincode = $("#Txt_R_Pincode_LBW").dxTextBox('instance').option('value');
        if (Txt_R_Add1 != null && Txt_R_Add1.length > 0)
        {
            var Address = Txt_R_Add1 + (Txt_R_Add2 != null && Txt_R_Add2.length > 0 ? ", " + Txt_R_Add2 : "") +
                (Txt_R_Add3 != null && Txt_R_Add3.length > 0 ? ", " + Txt_R_Add3 : "") +
                (Txt_R_Add4 != null && Txt_R_Add4.length > 0 ? ", " + Txt_R_Add4 : "") + ", " + (GLookUp_CityName_LBW == null ? "" : GLookUp_CityName_LBW.toUpperCase()) +
                ",Dist. " + (GLookUp_DistrictName_LBW == null ? "" : GLookUp_DistrictName_LBW) + ", " + (GLookUp_StateName_LBW == null ? "" : GLookUp_StateName_LBW) + "-" + Txt_R_Pincode;
            $("#Txt_Add_LBW").dxTextBox({ value: TransformText(Address) });
        }
    }
    function OnPropertyAddressOKClick_LBW(e)
    {
        ShowLoader();
        var Txt_R_Add1_PropertyAddress = $("#Txt_R_Add1_LBW").dxTextBox('instance').option('value');
        var Txt_R_Pincode_PropertyAddress = $("#Txt_R_Pincode_LBW").dxTextBox('instance').option('value');
        if (IsNullOrWhitespace("Txt_R_Add1_LBW"))
        {
            HideLoader();
            DevExpress.ui.dialog.alert("Property Address Cannot Be Blank...!", "Incomplete Information...").done(function (r)
            {
                setTimeout(function ()
                {
                    $("#Txt_R_Add1_LBW").find('input').focus();
                }, Timeout100);
            });
            return;
        }
        if (State_LBW_DG.getSelectedRowsData().length < 1)
        {
            HideLoader();
            DevExpress.ui.dialog.alert("State Cannot Be Blank...!", "Incomplete Information...").done(function (r)
            {
            setTimeout(function ()
            {
                $("#GLookUp_StateList_LBW").find('input').focus();
            }, Timeout100);
            });
            return;
        }
        if (District_LBW_DG.getSelectedRowsData().length < 1)
        {
            HideLoader();
            DevExpress.ui.dialog.alert("District Cannot Be Blank...!", "Incomplete Information...").done(function (r) {
            setTimeout(function ()
            {
                $("#GLookUp_DistrictList_LBW").find('input').focus();
            }, Timeout100);
            });
            return;
        }
        if (City_LBW_DG.getSelectedRowsData().length < 1)
        {
            HideLoader();
            DevExpress.ui.dialog.alert("City Cannot Be Blank...!", "Incomplete Information...").done(function (r) {
            setTimeout(function ()
            {
                $("#GLookUp_CityList_LBW").find('input').focus();
            }, Timeout100);
            });
            return;
        }
        if (Txt_R_Pincode_PropertyAddress == null || Txt_R_Pincode_PropertyAddress.length == 0)
        {
            HideLoader();
            DevExpress.ui.dialog.alert("Pincode Cannot Be Blank...!", "Incomplete Information...").done(function (r) {
            setTimeout(function () {
                $("#Txt_R_Pincode_LBW").find('input').focus();
            }, Timeout100);
            });
            return;
        }
        if ($("#Txt_R_Pincode_LBW").dxTextBox('instance').option('isValid') == false || Txt_R_Pincode_PropertyAddress.length < 6)
        {
            HideLoader();
            DevExpress.ui.dialog.alert("Pincode Is Invalid", "Incomplete Information...").done(function (r) {
            setTimeout(function () {
                $("#Txt_R_Pincode_LBW").find('input').focus();
            }, Timeout100);
            });
            return;
        }
        $("#Frm_Property_Window_Property_Address_popup_LBW").dxPopup("hide");
        HideLoader();
    }
</script> @* property Address *@
<script>
    function Cmd_PCategory_SelectedIndexChanged_LBW(e)
    {
        $("#Cmd_PCategory_LBW").dxSelectBox("blur");
        if (e.value != null)
        {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Profile/Property/Cmd_PCategory_SelectedIndexChanged",
                data:
                {
                    ActionMethod: "@Model.TempActionMethod",
                    xID: "@Model.xID",
                    PCategory: e.value
                },
                cache: false,
                success: function (data)
                {
                    HideLoader();
                    if (data.jsonParam.result == false)
                    {
                        if (data.jsonParam.message)
                        {
                            DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title).done(function (result)
                            {
                                $("#Cmd_PCategory_LBW").dxSelectBox("focus");
                            });
                        }
                        if (data.defaultPropCategory)
                        {
                            $("#Cmd_PCategory_LBW").dxSelectBox("option", "value", data.defaultPropCategory);
                        }
                        else
                        {
                            $("#Cmd_PCategory_LBW").dxSelectBox("option","value",null);
                        }
                    }
                    else if (data.jsonParam.result == true)
                    {
                        if (data.jsonParam.closeform == true)
                        {
                            dontaskpopupcloseconfirmation = true;
                            $("#Dynamic_Content_popup").dxPopup("hide");
                        }
                        if (data.IsLBCarriedFwd == true)
                        {
                            Control_SetReadOnly("Cmd_PCategory_LBW", "dxSelectBox", true);
                            Control_SetReadOnly("Cmd_PType_LBW", "dxSelectBox", true);
                            Control_SetReadOnly("Txt_LB_Amount_LBW", "dxNumberBox", true);
                        }
                        if (data._open_User_Type && data._open_User_Type.toUpperCase() != "SUPERUSER" && data._open_User_Type.toUpperCase() != "AUDITOR")
                        {
                            Control_SetReadOnly("Txt_R_Add1_LBW", "dxTextBox", true);
                            Control_SetReadOnly("Txt_R_Add2_LBW", "dxTextBox", true);
                            Control_SetReadOnly("Txt_R_Add3_LBW", "dxTextBox", true);
                            Control_SetReadOnly("Txt_R_Add4_LBW", "dxTextBox", true);
                            Control_SetReadOnly("Txt_R_Pincode_LBW", "dxTextBox", true);
                            Control_SetReadOnly("GLookUp_CityList_LBW", "dxDropDownBox", true);
                            Control_SetReadOnly("GLookUp_DistrictList_LBW", "dxDropDownBox", true);
                            Control_SetReadOnly("GLookUp_StateList_LBW", "dxDropDownBox", true);
                        }
                        var tabpanel = $("#ProfileLBTab").dxTabPanel("instance");
                        if (e.value.includes("PURCHASED") || e.value.includes("GIFTED") || e.value.includes("MOU"))
                        {
                            tabpanel.option("items[0].visible", false);
                            tabpanel.option("items[1].visible", true);
                            tabpanel.option("selectedIndex", 2);
                        }
                        else if (e.value.includes("LEASED") || e.value.includes("MORTGAGE") || e.value.includes("RENTED"))
                        {
                            if (e.value == "LEASED AND CONSTRUCTED (Long Term)")
                            {
                                tabpanel.option("items[0].visible", true);
                                tabpanel.option("items[1].visible", true);
                                tabpanel.option("selectedIndex", 2);
                                tabpanel.option("items[0].title", e.value.toProperCase());
                                $("#Txt_Dep_Amt_LBW").dxNumberBox("instance").focus();
                            }
                            else
                            {
                                tabpanel.option("items[0].visible", true);
                                tabpanel.option("items[1].visible", false);
                                tabpanel.option("selectedIndex", 2);
                                tabpanel.option("items[0].title", e.value.toProperCase());
                                $("#Txt_Dep_Amt_LBW").dxNumberBox("instance").focus();
                            }
                        }
                        else if (e.value=="FREE USE")
                        {
                            tabpanel.option("items[0].visible", false);
                            tabpanel.option("items[1].visible", false);
                            tabpanel.option("selectedIndex", 2);
                        }
                        if (e.value.includes("PURCHASED") || e.value.includes("GIFTED") || e.value.includes("MOU"))
                        {
                            $("#Cmd_Ownership_LBW").dxSelectBox({ value: "INSTITUTION" });
                        }
                        else
                        {
                            $("#Cmd_Ownership_LBW").dxSelectBox({ value: "THIRD PARTY" });
                        }
                        Cmd_PType_SelectedIndexChanged_LBW();
                        $("#Cmd_PCategory_LBW").dxSelectBox("focus");
                    }
                }
            });
        }
    }
    function Cmd_PType_SelectedIndexChanged_LBW(e)
    {
        var cmdPtype = $("#Cmd_PType_LBW").dxSelectBox("instance").option("value");
        if (cmdPtype == "LAND" || !IsAccountingPropertyCategory_LBW())
        {
            $("#Txt_Con_Area_LBW").dxNumberBox('instance').option('value', '');
            $("#Cmd_Con_Year_LBW").dxSelectBox('instance').option('value', '');
            $("#Cmd_RccType_LBW").dxSelectBox('instance').option('value', 'NO');

            Control_SetReadOnly("Txt_Con_Area_LBW", "dxNumberBox", true);
            Control_SetReadOnly("Cmd_Con_Year_LBW", "dxSelectBox", true);
            Control_SetReadOnly("Cmd_RccType_LBW", "dxSelectBox", true);

            $("#lbl_rccType_lbw").addClass("disabletxt").removeClass("text-red");
            $("#lbl_con_year_lbw").addClass("disabletxt").removeClass("text-red");
            $("#lbl_con_area_lbw").addClass("disabletxt").removeClass("text-red");

        }
        else
        {
            Control_SetReadOnly("Txt_Con_Area_LBW", "dxNumberBox", false);
            Control_SetReadOnly("Cmd_Con_Year_LBW", "dxSelectBox", false);
            Control_SetReadOnly("Cmd_RccType_LBW", "dxSelectBox", false);

            $("#Txt_Con_Area_LBW").dxNumberBox('instance').option('value', '');
            $("#Cmd_Con_Year_LBW").dxSelectBox('instance').option('value', '');
            $("#Cmd_RccType_LBW").dxSelectBox('instance').option('value', '');

            $("#lbl_rccType_lbw").removeClass("disabletxt").addClass("text-red");
            $("#lbl_con_year_lbw").removeClass("disabletxt").addClass("text-red");
            $("#lbl_con_area_lbw").removeClass("disabletxt").addClass("text-red");
        }
        if (cmdPtype == "LAND")
        {
            $('#lbl_tpa_lbw').removeClass("disabletxt").addClass("text-red");
        }
        else
        {
            $('#lbl_tpa_lbw').removeClass("disabletxt").removeClass("text-red");
        }
        if (IsAccountingPropertyCategory_LBW())
        {
            $('#lbl_surveyNo_lbw').removeClass("disabletxt").addClass("text-red");
        }
        else
        {
            if (cmdPtype == "LAND")
            {
                $('#lbl_surveyNo_lbw').removeClass("disabletxt").addClass("text-red");
            }
            else
            {
                $('#lbl_surveyNo_lbw').removeClass("disabletxt").removeClass("text-red");
            }
        }
    }
    function Cmd_PUse_SelectedIndexChanged_LBW(e)
    {
        $("#Cmd_PUse_LBW").dxSelectBox("blur");
        if (e.value == "MAIN CENTRE")
        {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Profile/Property/Cmd_PUse_SelectedIndexChanged",
                cache: false,
                success: async function (data)
                {
                    HideLoader();
                    if (data.result == false)
                    {
                        DevExpress.ui.dialog.alert(data.message, 'Error');
                        $("#Cmd_PUse_LBW").dxSelectBox("focus");
                    }
                    else
                    {
                        $("#Txt_PName_LBW").dxTextBox({ value: TransformText(data.Txt_PName) });
                        if (PUse_ValueChange_FirstCall_LBW  &&   "@Model.Tag" != "_New")
                        {
                            $("#Txt_PName_LBW").dxTextBox("instance").option("value", TransformText("@Model.Txt_PName_LBW"));
                        }
                        PUse_ValueChange_FirstCall_LBW = false;
                        $("#Txt_R_Add1_LBW").dxTextBox({ value: TransformText(data.Txt_R_Add1) });
                        $("#Txt_R_Add2_LBW").dxTextBox({ value: TransformText(data.Txt_R_Add2) });
                        $("#Txt_R_Add3_LBW").dxTextBox({ value: TransformText(data.Txt_R_Add3) });
                        $("#Txt_R_Add4_LBW").dxTextBox({ value: TransformText(data.Txt_R_Add4) });
                        Control_SetReadOnly("Txt_R_Add1_LBW", "dxTextBox", true, "#696969");
                        Control_SetReadOnly("Txt_R_Add2_LBW", "dxTextBox", true, "#696969");
                        Control_SetReadOnly("Txt_R_Add3_LBW", "dxTextBox", true, "#696969");
                        Control_SetReadOnly("Txt_R_Add4_LBW", "dxTextBox", true, "#696969");
                        if (data.Cen_State_ID.length > 0)
                        {
                            await State_LBW_DG.selectRows(data.Cen_State_ID, false);
                        }
                        wait_LBW();
                        async function wait_LBW()
                        {
                            ShowLoader();
                            if (StateDDvalueChangeFinishExecution_LBW)
                            {
                                Control_SetReadOnly("GLookUp_StateList_LBW", "dxDropDownBox", true, "#696969");
                                if (data.Cen_District_ID.length > 0)
                                {
                                    await District_LBW_DG.selectRows(data.Cen_District_ID, false);
                                }
                                Control_SetReadOnly("GLookUp_DistrictList_LBW", "dxDropDownBox", true, "#696969");
                                if (data.Cen_City_ID.length > 0)
                                {
                                    await City_LBW_DG.selectRows(data.Cen_City_ID, false);
                                }
                                Control_SetReadOnly("GLookUp_CityList_LBW", "dxDropDownBox", true, "#696969");
                                $("#Txt_R_Pincode_LBW").dxTextBox({ value: data.Txt_R_Pincode });
                                Control_SetReadOnly("Txt_R_Pincode_LBW", "dxTextBox", true, "#696969");
                                PopupContainerEdit1_Closed_LBW();
                                $("#Cmd_PUse_LBW").dxSelectBox("focus");
                                HideLoader();
                            }
                            else
                            {
                                setTimeout(function ()
                                {
                                    wait_LBW();
                                }, Timeout100);
                            }
                        }
                    }
                }
            });
        }
        else
        {
            $("#Txt_Add_LBW").dxTextBox({ value: "" });
            $("#Txt_PName_LBW").dxTextBox({ value: "" });
            $("#Txt_Address_LBW").dxTextArea({ value: "" });
            $("#Txt_R_Add1_LBW").dxTextBox({ value: "" });
            $("#Txt_R_Add2_LBW").dxTextBox({ value: "" });
            $("#Txt_R_Add3_LBW").dxTextBox({ value: "" });
            $("#Txt_R_Add4_LBW").dxTextBox({ value: "" });
            $("#Txt_R_Pincode_LBW").dxTextBox({ value: "" });
            Control_SetReadOnly("Txt_R_Add1_LBW", "dxTextBox", false);
            Control_SetReadOnly("Txt_R_Add2_LBW", "dxTextBox", false);
            Control_SetReadOnly("Txt_R_Add3_LBW", "dxTextBox", false);
            Control_SetReadOnly("Txt_R_Add4_LBW", "dxTextBox", false);
            Control_SetReadOnly("Txt_R_Pincode_LBW", "dxTextBox", false);
            $("#GLookUp_StateList_LBW").dxDropDownBox("instance").reset();
            $("#GLookUp_DistrictList_LBW").dxDropDownBox("instance").reset();
            $("#GLookUp_CityList_LBW").dxDropDownBox("instance").reset();
            Control_SetReadOnly("GLookUp_CityList_LBW", "dxDropDownBox", false);
            Control_SetReadOnly("GLookUp_DistrictList_LBW", "dxDropDownBox", false);
            Control_SetReadOnly("GLookUp_StateList_LBW", "dxDropDownBox", false);
            $("#Cmd_PUse_LBW").dxSelectBox("focus");
            PUse_ValueChange_FirstCall_LBW = false;
        }
    }
    function Cmd_Ownership_SelectedIndexChanged_LBW(e)
    {
        if (e.value)
        {
            if (e.value == "INSTITUTION")
            {
                $("#TextEdit1_LBW").dxTextBox({ visible: true });
                $("#Look_OwnList_LBW").dxDropDownBox({ visible: false });
                Control_SetReadOnly("Look_OwnList_LBW", "dxDropDownBox", true);
                $("#But_Owner_LBW").dxButton({ disabled: true });
                OwnerList_LBW_DG.clearSelection();
            }
            else
            {
                $("#TextEdit1_LBW").dxTextBox({ visible: false });
                $("#Look_OwnList_LBW").dxDropDownBox({ visible: true });
                Control_SetReadOnly("Look_OwnList_LBW", "dxDropDownBox", false);
                OwnerList_LBW_DG.clearSelection();
                if ("@Model.Tag" != "_View" && "@Model.Tag" != "_Delete")
                {
                    $("#But_Owner_LBW").dxButton({ disabled: false });
                }
            }
        }
    }
    function IsAccountingPropertyCategory_LBW()
    {
        var Category = $("#Cmd_PCategory_LBW").dxSelectBox("instance").option("value");
        if (Category == "PURCHASED" || Category == "PURCHASED AND CONSTRUCTED" || Category == "GIFTED" || Category == "GIFTED AND CONSTRUCTED" || Category == "LEASED (Long Term)" || Category == "LEASED AND CONSTRUCTED (Long Term)" || Category == "MOU")
        {
            return true;
        }
        return false;
    }
    function Chk_OtherDoc_CheckedChanged_LBW(e)
    {
        if (e.value)
        {
            $("#Txt_OtherDoc_LBW").dxTextBox({ readOnly: false });
            $("#Txt_OtherDoc_LBW").dxTextBox("instance").reset();
            $("#Txt_OtherDoc_LBW").dxTextBox("instance").focus();
        }
        else
        {
            $("#Txt_OtherDoc_LBW").dxTextBox("instance").reset();
            $("#Txt_OtherDoc_LBW").dxTextBox({ readOnly: true });
        }
    }
</script> @* other value change *@
</div>
