@using DevExtreme.AspNet.Mvc;
@model System.Data.DataTable
@{ 
    var Txn_M_ID = ViewBag.Txn_M_ID;
    var LB_REC_ID = ViewBag.LB_REC_ID;
}
<div id="MOU_PropertySelect_ParentDiv">
    <div class="full-width-header-bg2">
        <div class="row">
            <div class="col-sm-8 pll10">
                <h3 class="popuphead pll10"><i class="far fa-edit"></i>Select MOU Associate Property</h3>
            </div>
        </div>
    </div><!--[Header]-->
    <fieldset id="MOUPropertyList_Grid_Div">
        <div id="MOUPropertyListGridPartialView">
            @Html.Partial("Frm_MOU_Property_Select_Grid")
        </div>
    </fieldset>
    <br />
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="styleActionBtn">
                @(Html.DevExtreme().Button().CustomSaveButton().ID("MOUPropertySelectGridItemOk").Text("Ok").OnClick(@<text> function () { OnMOUPropertyListOkClick() } </text>) )
                @(Html.DevExtreme().Button().CustomCloseButton().ID("MOUPropertySelectGridItemCancel").Text("Cancel").OnClick("CloseMOUPropertySelectDetail"))
            </div>
        </div>
    </div>
    </div>
<script>
    var MOUProperty_LB_REC_ID;
    var MOUProperty_Rec_Edit_on;
    var MOU_closing_after_property_submit = false;
    var MOUPropertyListGrid;
    $(document).ready(function ()
    {
        setTimeout(function () { $("#MOUPropertyListGrid").focus(); }, Timeout500);
    });
    function OnMOUPropertyListGridInit(e)
    {
        MOUPropertyListGrid = e.component;
       if (!("@LB_REC_ID" == null || "@LB_REC_ID" == ""))
       {
           e.component.selectRows("@LB_REC_ID")           
       }
    }
    function OnMOUPropertyListGridContentReady(e)
    {
        var selection = e.component.getSelectedRowKeys();
        if (selection.length == 0) {
            e.component.selectRowsByIndexes([0]);
        }
        e.component.columnOption("REC_ID","visible",false)
        e.component.columnOption("REC_EDIT_ON","visible",false)
        e.component.columnOption("Name","minWidth",100)
        e.component.columnOption("Category","minWidth",200)
        e.component.columnOption("Address","width",200)
        e.component.columnOption("Centre","minWidth",150)
        e.component.columnOption("UID","minWidth",125)
    }
    function OnMOUPropertyListGridSelectionChanged(e)
    {
        var selectedRowKeys = e.selectedRowKeys;
        if (selectedRowKeys != null && selectedRowKeys.length > 0) {

        } else
        {
            MOUProperty_LB_REC_ID = null;
            MOUProperty_Rec_Edit_on = null;
        }
    }
    function OnMOUPropertyListGridContextMenuPreparing(e)
    {
        if (e.items)
        {
            e.items = []
        };
    }
    function OnMOUPropertyListGridKeyDown(e)
    {
        DxGrid_KeyDown(e)   
    }
    function OnMOUPropertyListOkClick()
    {
        HideLoader();
        if (MOU_closing_after_property_submit == false)
        {
            var selectedData = MOUPropertyListGrid.getSelectedRowsData();
            if (selectedData == null || selectedData.length==0)
            {
                DevExpress.ui.dialog.alert('Data Not Found...!', 'Inform!');
                MOUPropertyListGrid.focus();
                return;
            }
            // RedminBug#134912
            MOUProperty_LB_REC_ID = selectedData[0]["REC_ID"];
            MOUPropertyListOnGetRowValues(selectedData)
        }
        else
        {
            OnMOUPropertyListOkClick_AfterFetchingRowValue();
        }
    }
    function MOUPropertyListOnGetRowValues(Data)
    {
        MOUProperty_Rec_Edit_on = Data[0]["REC_EDIT_ON"];
        OnMOUPropertyListOkClick_AfterFetchingRowValue();
    }
    function OnMOUPropertyListOkClick_AfterFetchingRowValue() {
        $('#MOU_Property_Select').val(true);
        $('#ID_Frm_Property_Window_Form_Profile').submit();
        MOU_closing_after_property_submit = true;
        $('#MOU_Property_Select_popup').dxPopup('hide');
    }
    function CloseMOUPropertySelectDetail()
    {
        MOU_closing_after_property_submit = true;
        OnMOUPropertyListOkClick();
    }
    $(function () {
        $("#MOU_Property_Select_popup").dxPopup({
            onHiding: function (e) {
                if (MOU_closing_after_property_submit == false) {
                    CloseMOUPropertySelectDetail();
                }
            }
        });
    });
</script>