@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.Frm_Property_Window_Model
<script>
    var resStateCode = "";
    var GLookUp_StateList_PropertyAddress = "";
    var GLookUp_DistrictList_PropertyAddress = "";
    var GLookUp_CityList_PropertyAddress = "";
    var GLookUp_DistrictList_OnMainCenter = "";
    var GLookUp_CityList_OnMainCenter = "";
    var ExtendedProperty_Sr;



    function AddPropertyAddressPopupScroll() {
        $("#Frm_Property_Window_Property_Address_popup").dxScrollView();
    }
    function Frm_Property_Window_AjaxSuccessForm(result) {

        //var datamodel = result.data;
        HideLoader();
        var resultflag = result.result;
        if (result.result == false) {
            DevExpress.ui.dialog.alert(result.message, "Error");
        }
        else if (result.result == true) {

            $("#LB_PRO_TYPE").val(result.LB_PRO_TYPE);
            $("#LB_PRO_CATEGORY").val(result.LB_PRO_CATEGORY);
            $("#LB_PRO_USE").val(result.LB_PRO_USE);
            $("#LB_PRO_NAME").val(result.LB_PRO_NAME);
            $("#LB_PRO_ADDRESS").val(result.LB_PRO_ADDRESS);
            $("#LB_ADDRESS1").val(result.LB_ADDRESS1);
            $("#LB_ADDRESS2").val(result.LB_ADDRESS2);
            $("#LB_ADDRESS3").val(result.LB_ADDRESS3);
            $("#LB_ADDRESS4").val(result.LB_ADDRESS4);
            $("#LB_STATE_ID").val(result.LB_STATE_ID);
            $("#LB_CITY_ID").val(result.LB_CITY_ID);
            $("#LB_DISTRICT_ID").val(result.LB_DISTRICT_ID);
            $("#LB_PINCODE").val(result.LB_PINCODE);
            $("#LB_OWNERSHIP").val(result.LB_OWNERSHIP);
            $("#LB_OWNERSHIP_PARTY_ID").val(result.LB_OWNERSHIP_PARTY_ID);
            $("#LB_SURVEY_NO").val(result.LB_SURVEY_NO);
            $("#LB_CON_YEAR").val(result.LB_CON_YEAR);
            $("#LB_RCC_ROOF").val(result.LB_RCC_ROOF);
            $("#LB_PAID_DATE").val(result.LB_PAID_DATE);
            $("#LB_PERIOD_FROM").val(result.LB_PERIOD_FROM);
            $("#LB_PERIOD_TO").val(result.LB_PERIOD_TO);
            $("#LB_DOC_OTHERS").val(result.LB_DOC_OTHERS);
            $("#LB_DOC_NAME").val(result.LB_DOC_NAME);
            $("#LB_OTHER_DETAIL").val(result.LB_OTHER_DETAIL);
            $("#LB_TOT_P_AREA").val(result.LB_TOT_P_AREA);
            $("#LB_CON_AREA").val(result.LB_CON_AREA);
            $("#LB_DEPOSIT_AMT").val(result.LB_DEPOSIT_AMT);
            $("#LB_MONTH_RENT").val(result.LB_MONTH_RENT);
            $("#LB_MONTH_O_PAYMENTS").val(result.LB_MONTH_O_PAYMENTS);
            $("#LB_REC_ID").val(result.LB_REC_ID);
            //$("#List_LB_DOCS_ARRAY").val(result.return_LB_DOCS_ARRAY);
            //$("#List_LB_EXTENDED_PROPERTY_TABLE").val(result.List_LB_EXTENDED_PROPERTY_TABLE);
            $('#List_LB_DOCS_ARRAY').val(JSON.stringify(result.return_LB_DOCS_ARRAY));
            $('#List_LB_EXTENDED_PROPERTY_TABLE').val(JSON.stringify(result.return_LB_EXTENDED_PROPERTY_TABLE_List));


            $.ajax({
                type: 'POST',
                url: "/Account/PaymentVoucher/FillGrid1",
                data: $("#ID_Frm_Voucher_Win_Gen_Pay_Item_Window").serialize(),
                cache: false,
                success: function (Frm_Voucher_win_gen_pay_Property_result) {
                    if (Frm_Voucher_win_gen_pay_Property_result.result == "true" || Frm_Voucher_win_gen_pay_Property_result.result == true) {
                        $("#Txt_AdvAmt").dxTextBox("instance").option('value', Frm_Voucher_win_gen_pay_Property_result.xAmt);
                        $("#Txt_DiffAmt").dxTextBox("instance").option("value", Frm_Voucher_win_gen_pay_Property_result.Txt_DiffAmt);
                        $("#iParty_Req_Gen_Pay").val(result.iParty_Req);
                        $("#Txt_SubTotal").dxTextBox("instance").option("value", Frm_Voucher_win_gen_pay_Property_result.Txt_SubTotal);
                        $("#Txt_TDS_Amt").dxTextBox("instance").option("value", Frm_Voucher_win_gen_pay_Property_result.Txt_TDS_Amt);
                        $("#Txt_BankAmt").dxTextBox("instance").option("value", Frm_Voucher_win_gen_pay_Property_result.Txt_BankAmt);
                        $("#Txt_CreditAmt").dxTextBox("instance").option("value", Frm_Voucher_win_gen_pay_Property_result.Txt_CreditAmt);
                        $("#Txt_CashAmt").dxTextBox("instance").option("value", Frm_Voucher_win_gen_pay_Property_result.Txt_CashAmt);
                        $("#Txt_AdvAmt").dxTextBox("instance").option("value", Frm_Voucher_win_gen_pay_Property_result.Txt_AdvAmt);
                        $("#Txt_LB_Amt").dxTextBox("instance").option("value", Frm_Voucher_win_gen_pay_Property_result.Txt_LB_Amt);
                        Frm_Voucher_Win_Gen_Pay_Grid_1.Refresh()
                        $("#Frm_Voucher_Item_Content_popup").dxPopup("hide");
                        $("#Frm_Voucher_Item_popup").dxPopup("hide");
                    }
                    else {
                        //DevExpress.ui.dialog.alert(Frm_Voucher_win_gen_pay_Item_PAN_result.message);
                    }
                }
            });
            //DevExpress.ui.dialog.alert(result.message, "Successfull");
            //$("#Dynamic_Content_popup").dxPopup("hide");
        }
    }

    function OnExtendedPropertyGridDeleteClick(e) {

        if (ExtendedProperty_Sr == 'undefined' || ExtendedProperty_Sr == undefined || ExtendedProperty_Sr == null) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var deleteResultExtendedProperty = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Confirm changes");
        deleteResultExtendedProperty.done(function (dialogResult) {

            if (dialogResult) {

                $.ajax({
                    type: 'GET',
                    url: "/Account/ProfilePaymentVoucher/Frm_Property_Window_Delete_Grid_Record",
                    data: { ActionMethod: "Delete", SrID: ExtendedProperty_Sr },
                    cache: false,
                    success: function (result) {
                        Property_Window_ExtendedPropertyGrid.Refresh();
                        Property_Window_ExtendedPropertyGrid.SetFocusedRowIndex(0);
                    }
                });
            }
        });
    }
    function OnExtendedPropertyGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'Sr;', OnExtendedPropertyGridRowValues);
    }
    function OnExtendedPropertyGridRowValues(values) {
        //console.log(values)
        //alert(values[0])
        ExtendedProperty_Sr = values[0];
    }
    function Frm_Property_Window_Ext_OnSuccess(result) {
        if (result.result == false) {
            DevExpress.ui.dialog.alert(result.message, "Error");
            HideLoader();
        }
        else if (result.result == true) {
            DevExpress.ui.dialog.alert(result.message, "Successful");
            HideLoader();
            $("#Frm_Property_Window_Property_Ext_popup").dxPopup("hide");
            Property_Window_ExtendedPropertyGrid.Refresh();
        }
    }

    function OnFrm_Property_Window_Ext_PopUp_NewClick() {
        $("#Frm_Property_Window_Property_Ext_popup").dxPopup("show");
        ShowLoader();
        $("#result_Frm_Property_Window_Property_Ext_popup").load("@Url.Action("Frm_Property_Window_Ext", "ProfilePaymentVoucher", new { @area = "Account" })?ActionMethod=_New", function () {
           //$(".dx-popup-content").dxScrollView()
            HideLoader();
        });
    }

    function OnFrm_Property_Window_Ext_PopUp_EditClick() {
        if (ExtendedProperty_Sr != null && ExtendedProperty_Sr != undefined && ExtendedProperty_Sr != "undefined") {
            $("#Frm_Property_Window_Property_Ext_popup").dxPopup("show");
           //$(".dx-popup-content").dxScrollView()
            ShowLoader();
            $("#result_Frm_Property_Window_Property_Ext_popup").load("@Url.Action("Frm_Property_Window_Ext", "ProfilePaymentVoucher", new { @area = "Account" })?ActionMethod=_Edit&SrID=" + ExtendedProperty_Sr, function () {
                HideLoader();
            });
            HideLoader();
        }
    }


    function onInitialized_BuildingAddressState(e) {
        e.component.option("dataSource").store.load().done(function (d) {

            if (d.length == 1)
                e.component.option("value", d[0].R_ST_NAME);
        });

        var key = e.component.option("value");
        if (key != null) {
            e.component.getDataSource().store().byKey(key).done(function (result) {
                if (result != null && result != undefined && result != "undefined") {
                    resStateCode = "@Model.tempStateCodeForAddressPopUP";
                    $("#GLookUp_DistrictList").dxDropDownBox("instance").repaint();
                    $("#GLookUp_CityList").dxDropDownBox("instance").repaint();
                }
            })
        }
    }
    function ChangeBuildingAddressCity(e) {

        var dropDownBox = $("#GLookUp_CityList").dxDropDownBox("instance");
        dropDownBox.close();

        var $dataGrid = $("#CityList-datagrid");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                GLookUp_CityList_PropertyAddress = item.R_CI_NAME;

            }
        }
    }
    function ChangeBuildingAddressState(e) {
        var dropDownBox = $("#GLookUp_StateList").dxDropDownBox("instance");
        dropDownBox.close();

        var $dataGrid = $("#StateList-datagrid");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                GLookUp_StateList_PropertyAddress = item.R_ST_NAME;
                resStateCode = item.R_ST_CODE;
                if (resStateCode != "") {
                    $("#GLookUp_DistrictList").dxDropDownBox("instance").option("readOnly", false);
                    $("#DistrictList-datagrid").dxDataGrid("instance").refresh();
                }
                if (resStateCode != "") {
                    $("#GLookUp_CityList").dxDropDownBox("instance").option("readOnly", false);
                    $("#CityList-datagrid").dxDataGrid("instance").refresh();
                }
            }
        }
    }
    function onInitialized_AddressDistrict(e) {
        e.component.option("dataSource").store.load().done(function (d) {
            if (d.length == 1)
                e.component.option("value", d[0].R_DI_NAME);
        });
    }
    function onInitialized_Look_InsList(e) {
        e.component.option("dataSource").store.load().done(function (d) {
            if (d.length == 1)
                e.component.option("value", d[0].Name);
        });
    }
    function ChangeBuildingAddressDistrict(e) {

        var dropDownBox = $("#GLookUp_DistrictList").dxDropDownBox("instance");
        dropDownBox.close();

        var $dataGrid = $("#DistrictList-datagrid");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                GLookUp_DistrictList_PropertyAddress = item.R_DI_NAME;
                resDistrictCode = item.R_DI_CODE;
                if (resStateCode != "") {
                    $("#CityList-datagrid").dxDataGrid("instance").refresh();
                }
            }
        }
    }

    function ChangeLook_InsList(e) {

        var dropDownBox = $("#Look_InsList").dxDropDownBox("instance");
        dropDownBox.close();

        var $dataGrid = $("#GetInsList-datagrid");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];

                $("#Institution").val(item.Name);
                //GLookUp_DistrictList_PropertyAddress = item.R_DI_NAME;
                //resDistrictCode = item.R_DI_CODE;
                //if (resStateCode != "") {
                //    $("#CityList-datagrid").dxDataGrid("instance").refresh();
                //}
            }
        }
    }

    function Chk_OtherDoc_CheckedChanged(e) {
        if (e.value) {
            $("#Txt_OtherDoc").dxTextBox({ disabled: false, value: "" });
        }
        else {
            $("#Txt_OtherDoc").dxTextBox({ disabled: true, value: "" });
        }
        $("#Chk_OtherDoc").val(e.value);
    }

    function OnFrm_Voucher_Item_popup_NewClick() {
        $("#Frm_Property_Window_Property_Address_popup").dxPopup("show");
        //$("#Frm_Voucher_Item_popup").dxPopup("instance").option("title", "New ~ Item Detail");
        //$("#result_Frm_Property_Window_Property_Address_popup").html('');
       //$(".dx-popup-content").dxScrollView()
        @*ShowLoader();
        $("#result_Frm_Property_Window_Property_Address_popup").load("@Url.Action("Frm_Property_Window_Property_Address", "ProfilePaymentVoucher", new { @area = "Account" })?ActionMethod=New&iSpecific_Allow=true&iSpecific_ItemID=" + $("#iSpecific_ItemID").val() + "&Txt_V_Date=" + $('#Txt_V_Date').val() + "&iPartyID=" + $('#iPartyID').val() + "&iTxnM_ID=" + xMID, function () {
            HideLoader();
        });*@
    }
    function OnPropertyAddressClick() {
        var Txt_PName_PropertyAddress = $("#Txt_PName").dxTextBox('instance').option('value');
        var Txt_R_Add1_PropertyAddress = $("#Txt_R_Add1").dxTextBox('instance').option('value');
        var Txt_R_Add2_PropertyAddress = $("#Txt_R_Add2").dxTextBox('instance').option('value');
        var Txt_R_Add3_PropertyAddress = $("#Txt_R_Add3").dxTextBox('instance').option('value');
        var Txt_R_Add4_PropertyAddress = $("#Txt_R_Add4").dxTextBox('instance').option('value');
        var Txt_R_Pincode_PropertyAddress = $("#Txt_R_Pincode").dxTextBox('instance').option('value');
        var Txt_Add_PropertyAddress = $("#Txt_Add").dxTextBox('instance').option('value');
        //var GLookUp_StateList_PropertyAddress = $("#GLookUp_StateList").dxDropDownBox('instance').option('value');
        //var GLookUp_DistrictList_PropertyAddress = $("#GLookUp_DistrictList").dxDropDownBox('instance').option('value');
        //var GLookUp_CityList_PropertyAddress = $("#GLookUp_CityList").dxDropDownBox('instance').option('value');

        $.ajax({
            type: 'GET',
            url: "/Account/ProfilePaymentVoucher/AddressChecks",
            data: { Txt_R_Add1: Txt_R_Add1_PropertyAddress, Txt_R_Add2: Txt_R_Add2_PropertyAddress, Txt_R_Add3: Txt_R_Add3_PropertyAddress, Txt_R_Add4: Txt_R_Add4_PropertyAddress, GLookUp_StateList: GLookUp_StateList_PropertyAddress, GLookUp_DistrictList: GLookUp_DistrictList_PropertyAddress, GLookUp_CityList: GLookUp_CityList_PropertyAddress, Txt_R_Pincode: Txt_R_Pincode_PropertyAddress },
            cache: false,
            success: function (data) {

                HideLoader();
                if (data.result) {
                    $("#Txt_Add").dxTextBox({ value: data.Txt_Add });
                    $("#Frm_Property_Window_Property_Address_popup").dxPopup("hide");
                }
                else {
                    DevExpress.ui.dialog.alert(data.message, "Error");
                }

            }
        });
    }
    function SetPropertyBuildingAddress() {

        $("#Frm_Property_Window_Property_Address_popup").dxPopup("show");
        //$(".dx-popup-content").dxScrollView()
        if ($("#Cmd_PUse").dxSelectBox('instance').option('value') == 0) {
            $.ajax({
                type: 'GET',
                url: "/Account/ProfilePaymentVoucher/Cmd_PUse_SelectedIndexChanged",
                cache: false,
                success: function (data) {

                    $("#Txt_PName").dxTextBox({ value: data.Txt_PName });
                    $("#Txt_R_Add1").dxTextBox({ value: data.Txt_R_Add1, readOnly: data.Txt_R_Add1_ReadOnly });
                    $("#Txt_R_Add2").dxTextBox({ value: data.Txt_R_Add2, readOnly: data.Txt_R_Add2_ReadOnly });
                    $("#Txt_R_Add3").dxTextBox({ value: data.Txt_R_Add3, readOnly: data.Txt_R_Add3_ReadOnly });
                    $("#Txt_R_Add4").dxTextBox({ value: data.Txt_R_Add4, readOnly: data.Txt_R_Add4ReadOnly });
                    $("#Txt_R_Pincode").dxTextBox({ value: data.Txt_R_Pincode, readOnly: data.Txt_R_Pincode_ReadOnly });
                    $("#Txt_Add").dxTextBox({ value: data.Txt_Add });
                    GLookUp_DistrictList_OnMainCenter = data.GLookUp_DistrictList;
                    GLookUp_CityList_OnMainCenter = data.GLookUp_CityList;
                    resStateCode = data.stateCode;
                    $("#GLookUp_DistrictList").dxDropDownBox("instance").repaint();
                    $("#GLookUp_CityList").dxDropDownBox("instance").repaint();
                    $("#GLookUp_StateList").dxDropDownBox({ value: data.GLookUp_StateList, readOnly: data.GLookUp_StateList_ReadOnly });
                    $("#GLookUp_DistrictList").dxDropDownBox({ value: data.GLookUp_DistrictList, readOnly: data.GLookUp_DistrictList_ReadOnly });
                    $("#GLookUp_CityList").dxDropDownBox({ value: data.GLookUp_CityList, readOnly: data.GLookUp_CityList_ReadOnly });



                }
            });
        }
    }
    function Cmd_PUse_SelectedIndexChanged(e) {
        if (e.value == 0) {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/ProfilePaymentVoucher/Cmd_PUse_SelectedIndexChanged",
                //data: $("#ID_Frm_Voucher_Win_Gen_Pay_Item_Window").serialize(),
                cache: false,
                success: function (data) {
                    HideLoader();
                    $("#Txt_PName").dxTextBox({ value: data.Txt_PName });
                    $("#Txt_R_Add1").dxTextBox({ value: data.Txt_R_Add1, readOnly: data.Txt_R_Add1_ReadOnly });
                    $("#Txt_R_Add2").dxTextBox({ value: data.Txt_R_Add2, readOnly: data.Txt_R_Add2_ReadOnly });
                    $("#Txt_R_Add3").dxTextBox({ value: data.Txt_R_Add3, readOnly: data.Txt_R_Add3_ReadOnly });
                    $("#Txt_R_Add4").dxTextBox({ value: data.Txt_R_Add4, readOnly: data.Txt_R_Add4ReadOnly });
                    $("#Txt_R_Pincode").dxTextBox({ value: data.Txt_R_Pincode, readOnly: data.Txt_R_Pincode_ReadOnly });
                    $("#Txt_Add").dxTextBox({ value: data.Txt_Add });
                    GLookUp_DistrictList_OnMainCenter = data.GLookUp_DistrictList;
                    GLookUp_CityList_OnMainCenter = data.GLookUp_CityList;
                    resStateCode = data.stateCode;
                    $("#GLookUp_DistrictList").dxDropDownBox("instance").repaint();
                    $("#GLookUp_CityList").dxDropDownBox("instance").repaint();
                    $("#GLookUp_StateList").dxDropDownBox({ value: data.GLookUp_StateList, readOnly: data.GLookUp_StateList_ReadOnly });
                    $("#GLookUp_DistrictList").dxDropDownBox({ value: data.GLookUp_DistrictList, readOnly: data.GLookUp_DistrictList_ReadOnly });
                    $("#GLookUp_CityList").dxDropDownBox({ value: data.GLookUp_CityList, readOnly: data.GLookUp_CityList_ReadOnly });


                }
            });
        }
        else {
            $("#Txt_Add").dxTextBox({ value: "" });
            $("#Txt_PName").dxTextBox({ value: "" });
            $("#Txt_Address").dxTextBox({ value: "" });


            $("#Txt_R_Add1").dxTextBox({ value: "", readOnly: false });
            $("#Txt_R_Add2").dxTextBox({ value: "", readOnly: false });
            $("#Txt_R_Add3").dxTextBox({ value: "", readOnly: false });
            $("#Txt_R_Add4").dxTextBox({ value: "", readOnly: false });
            $("#Txt_R_Pincode").dxTextBox({ value: "", readOnly: false });
        }
    }
    function Cmd_PType_SelectedIndexChanged(e) {

        if (e.value == "LAND") {

            $("#Txt_Con_Area").dxTextBox({ readOnly: true });
            $("#Cmd_Con_Year").dxSelectBox({ readOnly: true });
            $("#Cmd_RccType").dxSelectBox({ readOnly: true });
        }
        else {
            $("#Txt_Con_Area").dxTextBox({ readOnly: false });
            $("#Cmd_Con_Year").dxSelectBox({ readOnly: false });
            $("#Cmd_RccType").dxSelectBox({ readOnly: false });
        }

        //If (Cmd_PCategory.Text.ToUpper.Contains(LB_Category.PURCHASED.ToString) Or Cmd_PCategory.Text.ToUpper.Contains(LB_Category.GIFTED.ToString) Or Cmd_PCategory.Text.ToUpper.Contains(LB_Category.LEASED.ToString)) And Cmd_PType.Text.ToUpper <> "LAND" Then
        //Me.LayoutControlItem13.AppearanceItemCaption.ForeColor = Color.Red
        //Else
        //Me.LayoutControlItem13.AppearanceItemCaption.ForeColor = Color.Black
        //End If

        //If Cmd_PType.Text.ToUpper = "LAND" Then
        //LayoutControlItem8.AppearanceItemCaption.ForeColor = Color.Red
        //LayoutControlItem20.AppearanceItemCaption.ForeColor = Color.Black
        //LayoutControlItem10.AppearanceItemCaption.ForeColor = Color.Black
        //LayoutControlItem13.AppearanceItemCaption.ForeColor = Color.Black
        //ElseIf Cmd_PType.Text.ToUpper = "BUILDING" Then
        //LayoutControlItem8.AppearanceItemCaption.ForeColor = Color.Red
        //LayoutControlItem20.AppearanceItemCaption.ForeColor = Color.Red
        //LayoutControlItem10.AppearanceItemCaption.ForeColor = Color.Red
        //LayoutControlItem13.AppearanceItemCaption.ForeColor = Color.Red
        //Else
        //LayoutControlItem8.AppearanceItemCaption.ForeColor = Color.Black
        //LayoutControlItem20.AppearanceItemCaption.ForeColor = Color.Red
        //LayoutControlItem10.AppearanceItemCaption.ForeColor = Color.Red
        //LayoutControlItem13.AppearanceItemCaption.ForeColor = Color.Red
        //End If

    }

    function Cmd_PCategory_SelectedIndexChanged(e) {

        //If Cmd_PCategory.Text.ToUpper.Contains(LB_Category.PURCHASED.ToString) Or Cmd_PCategory.Text.ToUpper.Contains(LB_Category.GIFTED.ToString) Then
        //TPage_ExtPro.PageVisible = True : TPage_Rent.PageVisible = False
        //ElseIf Cmd_PCategory.Text.ToUpper.Contains(LB_Category.LEASED.ToString) Then
        //TPage_ExtPro.PageVisible = True : TPage_Rent.PageVisible = True
        //TPage_Rent.Text = StrConv(Cmd_PCategory.Text, vbProperCase)
        //End If


        $("#Frm_PP_Documents").removeClass("active in");
        $("#Frm_PP_Extended_Property").removeClass("active in");
        $("#Frm_PPLeased").removeClass("active in");

        $("#li_Documentents").removeClass("active");
        $("#li_Extended_Property").removeClass("active");
        $("#li_Leased").removeClass("active");




        $("#li_Documentents").addClass("active");
        $("#Frm_PP_Documents").addClass("active in");


        if (e.value.includes("PURCHASED") || e.value.includes("GIFTED")) {
            $("#li_Leased").hide();
            $("#li_Extended_Property").show()
        }
        else if (e.value.includes("LEASED")) {
            $("#li_Leased").show();
            $("#li_Extended_Property").show()
            $("#a_li_Leased").text(e.value);
        }


        //If Cmd_PCategory.Text.Contains(LB_Category.PURCHASED.ToString) Or Cmd_PCategory.Text.Contains(LB_Category.GIFTED.ToString) Then
        //Me.Cmd_Ownership.SelectedIndex = 0
        //Else
        //Me.Cmd_Ownership.SelectedIndex = 1
        //End If
        //Cmd_PType_SelectedIndexChanged(sender, e)

        if (e.value.includes("PURCHASED") || e.value.includes("GIFTED")) {
            $("#Cmd_Ownership").dxSelectBox({ value: "INSTITUTION" });
            $("#TextEdit1").dxTextBox({ visible: true });
            $("#Look_OwnList").dxSelectBox({ visible: false });



        }
        else {
            $("#Cmd_Ownership").dxSelectBox({ value: "THIRD PARTY" });
            $("#TextEdit1").dxTextBox({ visible: false });
            $("#Look_OwnList").dxSelectBox({ visible: true });
        }

        Cmd_PType_SelectedIndexChangedFromCmd_PCategory($("#Cmd_PType").dxSelectBox('instance').option('value'))
    }
    function Cmd_PType_SelectedIndexChangedFromCmd_PCategory(value) {

        if (value == "LAND") {

            $("#Txt_Con_Area").dxTextBox({ readOnly: true });
            $("#Cmd_Con_Year").dxSelectBox({ readOnly: true });
            $("#Cmd_RccType").dxSelectBox({ readOnly: true });
        }
        else {
            $("#Txt_Con_Area").dxTextBox({ readOnly: false });
            $("#Cmd_Con_Year").dxSelectBox({ readOnly: false });
            $("#Cmd_RccType").dxSelectBox({ readOnly: false });
        }

        //If (Cmd_PCategory.Text.ToUpper.Contains(LB_Category.PURCHASED.ToString) Or Cmd_PCategory.Text.ToUpper.Contains(LB_Category.GIFTED.ToString) Or Cmd_PCategory.Text.ToUpper.Contains(LB_Category.LEASED.ToString)) And Cmd_PType.Text.ToUpper <> "LAND" Then
        //Me.LayoutControlItem13.AppearanceItemCaption.ForeColor = Color.Red
        //Else
        //Me.LayoutControlItem13.AppearanceItemCaption.ForeColor = Color.Black
        //End If

        //If Cmd_PType.Text.ToUpper = "LAND" Then
        //LayoutControlItem8.AppearanceItemCaption.ForeColor = Color.Red
        //LayoutControlItem20.AppearanceItemCaption.ForeColor = Color.Black
        //LayoutControlItem10.AppearanceItemCaption.ForeColor = Color.Black
        //LayoutControlItem13.AppearanceItemCaption.ForeColor = Color.Black
        //ElseIf Cmd_PType.Text.ToUpper = "BUILDING" Then
        //LayoutControlItem8.AppearanceItemCaption.ForeColor = Color.Red
        //LayoutControlItem20.AppearanceItemCaption.ForeColor = Color.Red
        //LayoutControlItem10.AppearanceItemCaption.ForeColor = Color.Red
        //LayoutControlItem13.AppearanceItemCaption.ForeColor = Color.Red
        //Else
        //LayoutControlItem8.AppearanceItemCaption.ForeColor = Color.Black
        //LayoutControlItem20.AppearanceItemCaption.ForeColor = Color.Red
        //LayoutControlItem10.AppearanceItemCaption.ForeColor = Color.Red
        //LayoutControlItem13.AppearanceItemCaption.ForeColor = Color.Red
        //End If

    }
</script>
<div id="Frm_Property_Window_popup" class="col-md-12">

    @using (Ajax.BeginForm("Frm_Property_Window_BUT_SAVE_Click", "ProfilePaymentVoucher",
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "Frm_Property_Window_popup",
            InsertionMode = InsertionMode.InsertAfter,
            OnBegin = "AjaxBeginFormPost",
            OnSuccess = "Frm_Property_Window_AjaxSuccessForm"
        },
        new
        {
            id = "ID_Frm_Property_Window_Form",
            @class = "edit_form form-horizontal"
        }))
    {
        @Html.HiddenFor(x => x.ActionMethodPropertyWindow)
        @*    @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.REC_EDIT_ON)
            @Html.HiddenFor(x => x.iTrans_Type)
            @Html.HiddenFor(x => x.TXT_REC_AMOUNT)
            @Html.HiddenFor(x => x.TXT_RENEWAL_MATURITY_AMOUNT)
            @Html.HiddenFor(x => x.iAction)*@
        @*@Html.HiddenFor(x => x.LED_ID)
            @Html.HiddenFor(x => x.VOUCHER_TYPE)
            @Html.HiddenFor(x => x.iMode)*@

        @Html.HiddenFor(x => x.Chk_OtherDoc)
        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 style="float: left;text-align: center;vertical-align: middle;margin: -5px 0 0 0px;"> Land & Building</h3>
                        <h5 style="float: right;color: red;"> Red Fields are mandatory</h5>
                    </div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label("Property Category:", htmlAttributes: new { @class = "control-label col-sm-2 text-red" })
                            <div class="col-md-2">
                                @(Html.DevExtreme().SelectBox()
.ID("Cmd_PCategory")
.Name("Cmd_PCategory")
.DataSource(new[] { "PURCHASED", "PURCHASED AND CONSTRUCTED", "LEASED (Long Term)", "LEASED AND CONSTRUCTED (Long Term)", "GIFTED", "GIFTED AND CONSTRUCTED" })
.Value(Model.Cmd_PCategory)
.OnValueChanged("Cmd_PCategory_SelectedIndexChanged")
.SearchEnabled(true)
                                )
                                @Html.ValidationMessageFor(model => model.Cmd_PCategory, "", new { @class = "text-red" })
                            </div>
                            @Html.Label("Property Type:", htmlAttributes: new { @class = "control-label col-sm-2 text-red" })
                            <div class="col-md-2">
                                @(Html.DevExtreme().SelectBox()
.ID("Cmd_PType")
.Name("Cmd_PType")
.DataSource(new[] { "LAND", "BUILDING", "FLAT", "FLAT (in Multiple Floor)" })
.Value(Model.Cmd_PType)
.SearchEnabled(true)
.OnValueChanged("Cmd_PType_SelectedIndexChanged")
                                )
                                @Html.ValidationMessageFor(model => model.Cmd_PType, "", new { @class = "text-red" })
                            </div>
                            @Html.Label("Use of Property:", htmlAttributes: new { @class = "control-label col-sm-2 text-red" })
                            <div class="col-md-2">
                                @(Html.DevExtreme().SelectBox()
.ID("Cmd_PUse")
.Name("Cmd_PUse")
//.DataSource(new[] { "MAIN CENTRE", "CLASS", "MUSEUM", "STORE", "GARDEN", "GARAGE", "DEPARTMENT", "RESIDENCE", "NOT IN USE" })
.DataSource(ViewBag.dic_Cmd_PUse)
.ValueExpr("Index")
.DisplayExpr("Value")
.Value(Model.Cmd_PUse)
.OnValueChanged("Cmd_PUse_SelectedIndexChanged")
.SearchEnabled(true)
                                )
                                @Html.ValidationMessageFor(model => model.Cmd_PUse, "", new { @class = "text-red" })
                            </div>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label("Property / Building Name:", htmlAttributes: new { @class = "control-label col-sm-2 text-red" })
                            <div class="col-md-2">
                                @(Html.DevExtreme().TextBox()
.ID("Txt_PName")
.Name("Txt_PName")
.Value(Model.Txt_PName)
.MaxLength(100)
                                )
                                @Html.ValidationMessageFor(model => model.Txt_PName, "", new { @class = "text-red" })
                            </div>
                            @Html.Label("Property / Building Address:", htmlAttributes: new { @class = "control-label col-sm-2 text-red" })
                            <div class="col-md-6">
                                @(Html.DevExtreme().TextBox()
.ID("Txt_Add")
.Name("Txt_Add")
.Value(Model.Txt_Add)
.OnFocusIn("SetPropertyBuildingAddress")
                                )
                                @Html.ValidationMessageFor(model => model.Txt_Add, "", new { @class = "text-red" })
                            </div>

                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.Label("Ownership:", htmlAttributes: new { @class = "control-label text-red" })
                                @(Html.DevExtreme().SelectBox()
.ID("Cmd_Ownership")
.Name("Cmd_Ownership")
.Value(Model.Cmd_Ownership)
.SearchEnabled(true)
.ReadOnly(true)
                    .DataSource(new[] { "INSTITUTION", "THIRD PARTY" })
                                )
                                @Html.ValidationMessageFor(model => model.Cmd_Ownership, "", new { @class = "text-red" })
                            </div>
                            <div class="col-md-6">
                                @Html.Label("Owner Name:", htmlAttributes: new { @class = "control-label text-red" })

                                @(Html.DevExtreme().SelectBox()
.ID("Look_OwnList")
.Name("Look_OwnList")
.Value(Model.Look_OwnList)
.SearchEnabled(true)
                 .ValueExpr("ID")
.DisplayExpr("Name")
                 .ReadOnly(true)
.DataSource(d => d.Mvc().Controller("ProfilePaymentVoucher").LoadAction("LookUp_GetOwnList").Key("ID"))

                                )

                                @(Html.DevExtreme().TextBox()
.ID("TextEdit1")
.Name("TextEdit1")
.Value(Model.TextEdit1)
.ReadOnly(true)
.Visible(false)
                                )
                                @Html.ValidationMessageFor(model => model.Look_OwnList, "", new { @class = "text-red" })
                            </div>
                            <div class="col-md-3" style="padding-top:15px">
                                @*Remaining for add button*@
                                @(Html.DevExtreme().Button()
                                .ID("But_Owner")
                                .Text("Manage Owner")
                                .Icon("add")
                                 .Width(300)
                                        //
                                        //.UseSubmitBehavior(true)
                                        @*.OnClick(@<text>
                                                function () {
                                                OnFrm_Asset_Window_popup_NewLocationClick();
                                                }
                                            </text>)*@
                                )
                            </div>

                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <div class="col-md-2">
                                @Html.Label("Survey No:", htmlAttributes: new { @class = "control-label text-red" })
                                @(Html.DevExtreme().TextBox()
.ID("Txt_SNo")
.Name("Txt_SNo")
.Value(Model.Txt_SNo)
.MaxLength(100)
                                )
                                @Html.ValidationMessageFor(model => model.Txt_SNo, "", new { @class = "text-red" })
                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Txt_Tot_Area, htmlAttributes: new { @class = "control-label text-red" })

                                @(Html.DevExtreme().TextBox()
.ID("Txt_Tot_Area")
.Name("Txt_Tot_Area")
.Value(Model.Txt_Tot_Area.ToString())
.MaxLength(30)
                                )
                                @Html.ValidationMessageFor(model => model.Txt_Tot_Area, "", new { @class = "text-red" })
                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Txt_Con_Area, htmlAttributes: new { @class = "control-label " })

                                @(Html.DevExtreme().TextBox()
.ID("Txt_Con_Area")
.Name("Txt_Con_Area")
.Value(Model.Txt_Con_Area.ToString())
//.SearchEnabled(true)
.MaxLength(30)
                                )
                                @Html.ValidationMessageFor(model => model.Txt_Con_Area, "", new { @class = "text-red" })
                            </div>
                            <div class="col-md-2">
                                @Html.Label("Construction Year: ", htmlAttributes: new { @class = "control-label" })

                                @(Html.DevExtreme().SelectBox()
.ID("Cmd_Con_Year")
.Name("Cmd_Con_Year")
                       .DataSource(ViewBag.Cmd_Con_Year_Bind)
.Value(Model.Cmd_Con_Year)
.SearchEnabled(true)
                                )
                                @Html.ValidationMessageFor(model => model.Cmd_Con_Year, "")
                            </div>
                            <div class="col-md-2">
                                @Html.Label("RCC Constructed Roof:", htmlAttributes: new { @class = "control-label" })

                                @(Html.DevExtreme().SelectBox()
.ID("Cmd_RccType")
.Name("Cmd_RccType")
.Value(Model.Cmd_RccType)
.SearchEnabled(true)
.DataSource(new[] { "YES", "NO" })

                                )
                                @Html.ValidationMessageFor(model => model.Cmd_RccType, "")
                            </div>

                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li id="li_Leased" style="display:none"><a id="a_li_Leased" data-toggle="tab" href="#Frm_PPLeased">Leased And Constructed (Long Term)</a></li>
                            @* <li><a data-toggle="tab" href="#Frm_PPLeased">Leased (Long Term)</a></li>*@
                            <li id="li_Extended_Property" style="display:none"><a data-toggle="tab" href="#Frm_PP_Extended_Property">Extended Property</a></li>
                            <li id="li_Documentents" class="active"><a data-toggle="tab" href="#Frm_PP_Documents">Documents</a></li>

                        </ul>

                        <div class="tab-content">
                            <div id="Frm_PP_Documents" class="tab-pane fade in active">
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <ul class="custom-checkbox-list MagazineMember-list">
                                        @if (ViewBag.PPDocumentList != null)
                                        {
                                            var documents = ViewBag.PPDocumentList as List<ConnectOneMVC.Areas.Account.Models.Documents_List_Info>;
                                            documents = documents.Where(x => x.ID != null && x.Name != "").ToList();
                                            for (int i = 0; i < documents.Count; i++)
                                            {
                                                var modelItems = Model.Document;
                                                var check = false;
                                                if (modelItems != null)
                                                {
                                                    check = modelItems.Select(y => y.ID).Any(x => x == documents[i].ID);
                                                }
                                                <li>
                                                    @Html.Hidden("Document[" + i + "].ID", documents[i].ID)
                                                    @Html.DevExtreme().CheckBox().Name("Document[" + i + "].Selected").Text(documents[i].Name).Value(check)
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        @(Html.DevExtreme().CheckBox()
                                                    .ID("Chk_OtherDoc_temp")
                                                    .Name("Chk_OtherDoc_temp")
                                                    .Value(false)
                                                    .Text("Other Documents")
                                                    .OnValueChanged("Chk_OtherDoc_CheckedChanged")
                                        )
                                    </div>
                                    <div class="col-md-10">
                                        @(Html.DevExtreme().TextBox()
                                                        .ID("Txt_OtherDoc")
                                                        .Name("Txt_OtherDoc")
                                                        .Value(Model.Txt_OtherDoc)
                                                        .Disabled(true)
                                                        .MaxLength(100)
                                        )
                                    </div>
                                </div>
                                <br />



                            </div>
                            <div id="Frm_PP_Extended_Property" class="tab-pane fade">

                                <div class="row">
                                    <div class="col-md-10">
                                        @Html.Action("SetGridData", new { ActionMethodName = "_View" })
                                    </div>
                                    <div class="col-md-2">
                                        @(Html.DevExtreme().Button()
.ID("BUT_NEW")
.Text("New")
.Icon("add")
.OnClick(@<text>
                            function () {
                            OnFrm_Property_Window_Ext_PopUp_NewClick()
                            }
</text>)
                                        )

                                        @(Html.DevExtreme().Button()
.ID("BUT_EDIT")
.Text("Edit")
.Icon("edit")
.OnClick(@<text>
                            function () {
                            OnFrm_Property_Window_Ext_PopUp_EditClick()
                            }
</text>)
                                        )

                                        @(Html.DevExtreme().Button()
.ID("BUT_DELETE")
.Text("Delete")
.Icon("trash")
.OnClick(@<text>
                            function () {
                            OnExtendedPropertyGridDeleteClick()
                            }
</text>)
                                        )


                                    </div>
                                </div>
                            </div>
                            <div id="Frm_PPLeased" class="tab-pane fade">

                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="default-fieldset">
                                            <legend> Security Deposite Amount</legend>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Label("Security Deposit Amount:", htmlAttributes: new { @class = "control-label text-red" })
                                                    @(Html.DevExtreme().NumberBox()
                                                        .ID("Txt_Dep_Amt")
                                                        .Name("Txt_Dep_Amt")
                                                        .Value(Model.Txt_Dep_Amt)
                                                    )

                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Deposite Paid On:", htmlAttributes: new { @class = "control-label text-red" })

                                                    @(Html.DevExtreme().DateBoxFor(x => x.Txt_PaidDate).DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                    .ID("Txt_PaidDate")
                                                    .Name("Txt_PaidDate")
                                                    )
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="default-fieldset">
                                            <legend>Rent Information</legend>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label text-red" for="Name">Monthly Rent Amount:</label>
                                                    @(Html.DevExtreme().NumberBox()
                                                            .ID("Txt_Mon_Rent")
                                                            .Name("Txt_Mon_Rent")
                                                        .Value(Model.Txt_Mon_Rent)
                                                        .ShowClearButton(true)
                                                    )
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label text-red" for="Name">Other Monthly Payment:</label>
                                                    @(Html.DevExtreme().NumberBox()
                                            .ID("Txt_Other_Payments")
                                            .Name("Txt_Other_Payments")
                                            .Value(Model.Txt_Other_Payments)
                                                    )

                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="default-fieldset">
                                            <legend> Period /Duration Detail</legend>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label  text-red" for="Name">From:</label>
                                                    @(Html.DevExtreme().DateBoxFor(x => x.Txt_F_Date).DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                    .ID("Txt_F_Date")
                                                    .Name("Txt_F_Date")
                                                    .Type(DateBoxType.Date)
                                                    )
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label  text-red" for="Name">To:</label>
                                                    @(Html.DevExtreme().DateBoxFor(x => x.Txt_T_Date).DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                    .ID("Txt_T_Date")
                                                    .Name("Txt_T_Date")
                                                    .Type(DateBoxType.Date)
                                                    )
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label("Other Details:", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @(Html.DevExtreme().TextBox()
                                .ID("Txt_Remarks_Pw")
                                .Name("Txt_Remarks_Pw")
                                .Value(Model.Txt_Remarks_Pw)
                                .MaxLength(8000)
                                )
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            @(Html.DevExtreme().Button()
                                            .Text("Cancel")
                                            .ID("Frm_Property_Window_Cancle")
                                             .FocusStateEnabled(true)
                                            .OnClick(@<text>
                                                function () {
                                                @*  $("#Frm_Property_Window_Property_Ext_popup").dxPopup("hide");*@
                                                }
                                            </text>)
                            )
                            @(Html.DevExtreme().Button()
                                .Text("OK")
                                .ID("Frm_Property_Window_Ok")

                                .UseSubmitBehavior(true)
                            )
                        </div>
                    </div>
                </div>
            </div>




            @(Html.DevExtreme().Popup().CustomPopup()
                .ID("Frm_Property_Window_Property_Address_popup")
                //.Height("200")
                .Width("550")
                .CloseOnOutsideClick(false)
                .ShowTitle(true)
                .OnShown("AddPropertyAddressPopupScroll")
                //.Title("New ~ Item Detail")
                .ContentTemplate(@<text>
                    <div id="result_Frm_Property_Window_Property_Address_popup">
                        @Html.Action("Frm_Property_Window_Property_Address", "ProfilePaymentVoucher", new { @area = "Account", @Txt_Address = Model.Txt_Address, @Txt_R_Add1 = Model.Txt_R_Add1, @Txt_R_Add2 = Model.Txt_R_Add2, @Txt_R_Add3 = Model.Txt_R_Add3, @Txt_R_Add4 = Model.Txt_R_Add4, @GLookUp_StateList = Model.GLookUp_StateList, @GLookUp_DistrictList = Model.GLookUp_DistrictList, @GLookUp_CityList = Model.GLookUp_CityList, @Txt_R_Pincode = Model.Txt_R_Pincode })
                    </div>
                </text>)
            )   }
    }
</div>

@(Html.DevExtreme().Popup().CustomPopup()
            .ID("Frm_Property_Window_Property_Ext_popup")
            //.Height("200")
            //.Width("550")
            .CloseOnOutsideClick(false)
            .ShowTitle(true)
            .Title("New ~ Extended Property")
            .ContentTemplate(@<text>
                <div id="result_Frm_Property_Window_Property_Ext_popup">
                    @*@Html.Action("Frm_Property_Window_Ext", "ProfilePaymentVoucher", new { @area = "Account" })*@
                </div>
            </text>)
)