<div @*class="LandBuilding_AddressWindow_ClearReferences"*@>
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Profile.Models.PropertyWindowProfile
    <div class="edit_form form-horizontal" id="profile_propertwindow_address_parentdiv">

        @using (Html.DevExtreme().ValidationGroup("LB_propertyaddress"))
        {
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                @Html.Label("Old Address:", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-md-10">
                                    @(Html.DevExtreme().TextArea().ID("Txt_Address_LBW").Name("Txt_Address_LBW").Value(Model.Txt_Address_LBW).ReadOnly(true) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Old Address]-->
            <div class="row" style="margin-top:4px">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                @Html.Label("Line1:", htmlAttributes: new { @class = "control-label col-sm-2 text-red" })
                                <div class="col-md-10">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Add1_LBW").Name("Txt_R_Add1_LBW").Value(Model.Txt_R_Add1_LBW).MaxLength(100).Placeholder("Type Address Line 1...") )
                                    @Html.ValidationMessageFor(model => model.Txt_R_Add1_LBW, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Line 1]-->
            <div class="row" style="margin-top:4px">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                @Html.Label("Line2:", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-md-10">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Add2_LBW").Name("Txt_R_Add2_LBW").Value(Model.Txt_R_Add2_LBW).MaxLength(100).Placeholder("Type Address Line 2...") )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Line 2]-->
            <div class="row" style="margin-top:4px">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                @Html.Label("Line3:", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-md-10">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Add3_LBW").Name("Txt_R_Add3_LBW").Value(Model.Txt_R_Add3_LBW).MaxLength(100).Placeholder("Type Address Line 3...") )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Line 3]-->
            <div class="row" style="margin-top:4px">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                @Html.Label("Line4:", htmlAttributes: new { @class = "control-label col-sm-2 " })
                                <div class="col-md-10">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Add4_LBW").Name("Txt_R_Add4_LBW").Value(Model.Txt_R_Add4_LBW).MaxLength(100).Placeholder("Type Address Line 4...") )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Line 4]-->
            <div class="row" style="margin-top:4px">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                @Html.Label("State:", htmlAttributes: new { @class = "control-label col-sm-2 text-red" })
                                <div class="col-md-10">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_StateList_LBW").Name("GLookUp_StateList_LBW").DataSource(d => d.Mvc().Controller("Property").LoadAction("LookUp_Get_StateList").Key("R_ST_REC_ID").LoadMode(DataSourceLoadMode.Raw).LoadParams(new { DDRefresh = new JS("function (){ return Refresh_State_LBW_DD;}") }).CacheRawData(true))
                      .ValueExpr("R_ST_REC_ID").DisplayExpr("R_ST_NAME").Placeholder("Select State...").OnValueChanged("GLookUp_StateList_EditValueChanged_LBW").ReadOnly(true).ContentTemplate(@<text> @Html.Partial("LookUp_Get_StateList") </text>))
                                    @Html.ValidationMessageFor(model => model.GLookUp_StateList_LBW, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[State]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                @Html.Label("District:", htmlAttributes: new { @class = "control-label col-sm-2 text-red" })
                                <div class="col-md-10">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_DistrictList_LBW").Name("GLookUp_DistrictList_LBW").ValueExpr("R_DI_REC_ID").DisplayExpr("R_DI_NAME").DataSource(d => d.Mvc().Controller("Property").LoadAction("LookUp_Get_DistrictList").Key("R_DI_REC_ID").LoadMode(DataSourceLoadMode.Raw).LoadParams(new { DDRefresh = new JS("function (){ return Refresh_District_LBW_DD;}"),state= new JS("function (){ return resStateCode_LBW;}") }).CacheRawData(true))
                                      .Placeholder("Select District...").OnValueChanged("GLookUp_DistrictList_EditValueChanged_LBW").ReadOnly(true).ContentTemplate(@<text> @Html.Partial("LookUp_Get_DistrictList") </text>))
                                    @Html.ValidationMessageFor(model => model.GLookUp_DistrictList_LBW, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[District]-->
            </div><!--[State/District]-->
            <div class="row" style="margin-top:4px">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                @Html.Label("City:", htmlAttributes: new { @class = "control-label col-sm-2 text-red" })
                                <div class="col-md-10">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_CityList_LBW").Name("GLookUp_CityList_LBW").ValueExpr("R_CI_REC_ID").DisplayExpr("R_CI_NAME").DataSource(d => d.Mvc().Controller("Property").LoadAction("LookUp_Get_CityList").Key("R_CI_REC_ID").LoadMode(DataSourceLoadMode.Raw).LoadParams(new { DDRefresh = new JS("function (){ return Refresh_City_LBW_DD;}"), state = new JS("function (){ return resStateCode_LBW;}") }).CacheRawData(true))
                                      .Placeholder("Select City...").ReadOnly(true).OnValueChanged("GLookUp_CityList_EditValueChanged_LBW").ContentTemplate(@<text> @Html.Partial("LookUp_Get_CityList") </text>))
                                    @Html.ValidationMessageFor(model => model.GLookUp_CityList_LBW, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[City]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                @Html.Label("PinCode:", htmlAttributes: new { @class = "control-label col-sm-2 text-red" })
                                <div class="col-md-10">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Pincode_LBW").Name("Txt_R_Pincode_LBW").Value(Model.Txt_R_Pincode_LBW).MaxLength(10).Placeholder("Pincode...").ShowMaskMode(ShowMaskMode.OnFocus))
                                    @Html.ValidationMessageFor(model => model.Txt_R_Pincode_LBW, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Pincode]-->
            </div><!--[City/pincode]-->
            <div class="row">
                <div class="col-md-12">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().ID("Ok_PropertyBuildingAddress_Profile").Text("Ok").OnClick("OnPropertyAddressOKClick_LBW").UseSubmitBehavior(false) )
                    </div>
                </div>
            </div><!--[Button]-->
        }

    </div>
    <script>
        $(document).ready(function () {
            TransformTextForDB("profile_propertwindow_address_parentdiv");
            $("#Txt_R_Pincode_LBW").find('input').addClass('OnlyDigit');
        })
        //$("#Txt_R_Pincode_LBW").keypress(function (e)
        //{
        //    e = e || window.event;
        //    key = e.keyCode || e.which;
        //    //For Firefox
        //    if (key == 8 || key == 127 || key == 9)
        //        return true
        //    var txt = String.fromCharCode(key);
        //    var reg = /[0-9]/;
        //    if (reg.test(txt))
        //        return true;
        //    e.preventDefault();
        //    return false;
        //});
    </script>
    
</div>