<div class="LandBuilding_InfoExport_ClearReferences">
@using DevExtreme.AspNet.Mvc;
    <div>
        @*@(Html.DevExtreme().Button()
                    .ID("LB_ExportGridDatapdf")
                    .Text("Export to PDF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("x")
                    .OnClick("ExportPDF")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("LB_ExportGridDataxls")
                    .Text("Export to XLS")
                    //.Icon("fa-file-excel-o")
                    //.AccessKey("X")
                    .OnClick("ExportXLS")
                    .Visible(true)
                    .Width(120)
        )<br />
            @(Html.DevExtreme().Button()
                    .ID("LB_ExportGridDataxlsx")
                    .Text("Export to XLSX")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("L")
                    .OnClick("ExportXLSX")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("LB_ExportGridDatadocx")
                    .Text("Export to DOCX")
                    //.Icon("export_exporttodocx_16x16office2013")
                    //.AccessKey("D")
                    .OnClick("ExportDOCX")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("LB_ExportGridDatartf")
                    .Text("Export to RTF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("R")
                    .OnClick("ExportRTF")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("LB_ExportGridDatacsv")
                    .Text("Export to CSV")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("C")
                    .OnClick("ExportCSV")
                    .Visible(true)
                    .Width(120)
        )*@


        @(Html.DevExtreme().Button()
                        .ID("LB_ExportGridDataxlsx_dx")
                        .Text("Export to XLSX")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        //.AccessKey("L")
                        .OnClick("ExportXLSX_dx")
                        .Visible(true)
                        .Width(120)
            )
    </div>
    <script>
        function ExportPDF() {
            PropertyListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#Property_report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            PropertyListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#Property_report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            PropertyListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#Property_report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            PropertyListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#Property_report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            PropertyListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#Property_report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            PropertyListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#Property_report_modal").dxPopup("hide");
        }
        function ExportXLSX_dx() {
            const workbook = new ExcelJS.Workbook();
            const worksheet = workbook.addWorksheet('Sheet');

            DevExpress.excelExporter.exportDataGrid({
                worksheet: worksheet,
                component: $("#PropertyListGrid").dxDataGrid("instance"),
                autoFilterEnabled: true,
                customizeCell({ excelCell, gridCell }) {
                    if (gridCell.rowType === 'header') {
                        const columnDataField = gridCell.column.dataField;
                        if (columnDataField === 'iIcon') {
                            const Column = worksheet.getColumn(excelCell.col);
                            Column.width = 20;
                        }
                    }
                }
            }).then(function (exportRange) {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'PropertyListGrid.xlsx');
                });
            });
            $("#Property_report_modal").dxPopup("hide");
        }
    </script>

</div>
