@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Profile.Models.PropertyWindowProfile

<div id="Frm_Property_Change_Rented_Detail_popup">
    @using (Ajax.BeginForm("Frm_Property_Change_Rented_Detail", "Property",
             new AjaxOptions
             {
                 HttpMethod = "POST",
                 UpdateTargetId = "Frm_Property_Change_Rented_Detail_popup",
                 InsertionMode = InsertionMode.InsertAfter,
                 OnBegin = "AjaxBeginFormPost",
                 OnSuccess = "Frm_Property_Change_Rented_Detail_Success"
             },
             new
             {
                 id = "ID_Frm_Property_Change_Rented_Detail",
                 @class = "edit_form form-horizontal"
             }))
    {
        using (Html.DevExtreme().ValidationGroup())
        {
            @Html.HiddenFor(x => x.xID)
            @Html.HiddenFor(x => x.Cmd_PCategory_LBW)
            @Html.HiddenFor(x => x.Info_LastEditedOn)
        @Html.Partial("LB_LeasedConstructed_View", Model);
           <br><div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Item Detail (Land & Building Detail)...)...", Model.Tag.ToString().Substring(1)))
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().CustomSaveButton().ID("LB_ChangeRented_Profile_Save").Text(Model.Tag.ToString() == "_Delete" ? "Delete" : "Save").UseSubmitBehavior(false).OnClick("property_ChangeRented_profile_saveClick").Visible(Model.Tag.ToString() == "_View" ? false : true) )
                                @(Html.DevExtreme().Button().CustomCloseButton().ID("LB_ChangeRented_Profile_Cancel").Text(Model.Tag.ToString() == "_View" ? "Close" : "Cancel").FocusStateEnabled(true).OnClick("BUT_CANCEL_Click_property_ChangeRented"))

                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->
        }
    }
</div>
<script>
    function property_ChangeRented_profile_saveClick(e) {
        var FromDateValid = $("#Txt_F_Date_LBW").dxDateBox("option", "isValid")
        var ToDateValid = $("#Txt_T_Date_LBW").dxDateBox("option", "isValid")
        var PaidDateValid = $("#Txt_PaidDate_LBW").dxDateBox("option", "isValid")
        if (FromDateValid && ToDateValid && PaidDateValid) {
            $("#ID_Frm_Property_Change_Rented_Detail").submit();
        }
    }
    function BUT_CANCEL_Click_property_ChangeRented(e) { $("#Dynamic_Content_popup").dxPopup("hide");}
    function Frm_Property_Change_Rented_Detail_Success(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {           
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.refreshgrid == true)
                    {
                        RefreshGridView("PropertyListGrid");
                    }
                    if (data.jsonParam.closeform == true)
                    {
                        $("#Dynamic_Content_popup").dxPopup("hide");
                    }    
                    switch (data.jsonParam.focusid)
                    {                        
                        case "Txt_Dep_Amt_LBW":                            
                            $("#Txt_Dep_Amt_LBW").dxNumberBox("instance").focus();
                            break;
                        case "Txt_Mon_Rent_LBW":                           
                            $("#Txt_Mon_Rent_LBW").dxNumberBox("instance").focus();
                            break;
                        case "Txt_Other_Payments_LBW":                          
                            $("#Txt_Other_Payments_LBW").dxNumberBox("instance").focus();
                            break;
                        case "Txt_T_Date_LBW":                            
                            $("#Txt_T_Date_LBW").dxDateBox("instance").focus();
                            break;
                    }
                }
            });
        }
        else
        {     
            var check = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            check.done(function (dialogResult)
            {
                if (dialogResult)
                {
                    $("#Dynamic_Content_popup").dxPopup("hide");
                    RefreshGridView("PropertyListGrid");
                }
            });
        }
    }
    
</script>