<div class="LandBuilding_ExtensionWindow_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Profile.Models.Frm_Property_Window_Ext_Model
    <style>
        #Frm_Property_Window_Ext_LBW_popup {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    </style>
    <div id="Frm_Property_Window_Ext_LBW_popup" class="col-md-12">

        @using (Ajax.BeginForm("Frm_Property_Window_Ext", "Property",
                                                            new AjaxOptions
                                                            {
                                                                HttpMethod = "POST",
                                                                UpdateTargetId = "Frm_Property_Window_Ext_popup",
                                                                InsertionMode = InsertionMode.InsertAfter,
                                                                OnBegin = "AjaxBeginFormPost",
                                                                OnSuccess = "Frm_Property_Window_Ext_LBW_OnSuccess"
                                                            },
                                                            new
                                                            {
                                                                id = "ID_Frm_Property_Window_Ext_LBW",
                                                                @class = "edit_form"
                                                            }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.Institution)
            @Html.HiddenFor(x => x.Sr_LBW)
            var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();

            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="full-width-header-bg2">
                    <div class="row">
                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Extended Property</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div><!--[Header]-->
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.Label("Institution:", htmlAttributes: new { @class = "control-label text-red" })

                                    @(Html.DevExtreme().DropDownBox().CustomDropDown() .ID("Look_InsList_LBW") .Name("Look_InsList_LBW") .ValueExpr("ID") .DisplayExpr("Name") .DataSource(d => d.Mvc().Controller("Property").LoadAction("LookUp_GetInsList").Key("ID"))
                                      .Placeholder("Select Institution...") .OnValueChanged("Look_InsList_EditValueChanged_LBW") .ContentTemplate(@<text> @Html.Partial("LookUp_GetInsList") </text>) )

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.Label("Opening Value:", htmlAttributes: new { @class = "control-label " })

                                    @(Html.DevExtreme().NumberBox().CustomNumberBox() .Format("#0.00") .ID("Txt_LB_Ext_Amount_LBW") .Name("Txt_LB_Ext_Amount_LBW") .Value(Model.Txt_LB_Ext_Amount_LBW) .Placeholder("Type Opening Value.....") )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.LabelFor(model => model.Txt_Ext_Tot_Area_LBW, htmlAttributes: new { @class = "control-label" })
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox() .Placeholder("Type Plot Area(Sq.Ft.)...") .Format("#0.00") .ID("Txt_Ext_Tot_Area_LBW") .Name("Txt_Ext_Tot_Area_LBW") .Value(Model.Txt_Ext_Tot_Area_LBW)   )

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.LabelFor(model => model.Txt_Ext_Con_Area_LBW, htmlAttributes: new { @class = "control-label " })

                                    @(Html.DevExtreme().NumberBox().CustomNumberBox() .Placeholder("Type Constructed Area(Sq.Ft.)...") .Format("#0.00") .ID("Txt_Ext_Con_Area_LBW") .Name("Txt_Ext_Con_Area_LBW") .Value(Model.Txt_Ext_Con_Area_LBW))

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.Label("Construction Year: ", htmlAttributes: new { @class = "control-label " })

                                    @(Html.DevExtreme().SelectBox().CustomSelectBox() .ID("Cmd_Ext_Con_Year_LBW") .Name("Cmd_Ext_Con_Year_LBW") .DataSource(ViewBag.Cmd_Ext_Con_Year_Bind) .Value(Model.Cmd_Ext_Con_Year_LBW) )
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.LabelFor(model => model.Txt_MOU_Date_LBW, htmlAttributes: new { @class = "control-label text-red" })
                                    @(Html.DevExtreme().DateBoxFor(x => x.Txt_MOU_Date_LBW).CustomDateBox().Min(new DateTime(1900, 01, 01)) .ID("Txt_MOU_Date_LBW") .Name("Txt_MOU_Date_LBW") .Value(Model.Txt_MOU_Date_LBW))

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.Label("Other Details:", htmlAttributes: new { @class = "control-label" })

                                    @(Html.DevExtreme().TextBox().CustomTextBox(true) .ID("Txt_Others_LBW") .Name("Txt_Others_LBW") .Value(Model.Txt_Others_LBW) .MaxLength(250) .Placeholder("Type Any Other Detail / Remarks...") )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Extended Property...)...", Model.Tag.ToString().Substring(1)))
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().CustomSaveButton().Text(Model.ActionMethod.ToString() == "_Delete" ? "Delete" : "OK").ID("ExtendedPropertyLBW_OkButton").UseSubmitBehavior(true).Visible(Model.ActionMethod.ToString() == "_View" ? false : true)) @*RedmineBug#134822*@
                                    @(Html.DevExtreme().Button().CustomCloseButton().Text("Cancel").ID("ExtendedPropertyLBW_CancelButton").FocusStateEnabled(true).OnClick(@<text> function () { $("#Frm_Property_Window_Property_Ext_popup").dxPopup("hide"); } </text>))@*RedmineBug#134822*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->

            }
        }

    </div>
    <script>
    $(document).ready(async function ()
    {
        TransformTextForDB("ID_Frm_Property_Window_Ext_LBW");
        await LookUp_GetInsList_LBW();
        if ("@Model.Look_InsList_LBW".length > 0)
        {
            await LB_Ins_LBW_DG.selectRows("@Model.Look_InsList_LBW", false);
        }
        $("#Look_InsList_LBW").dxDropDownBox("instance").focus();
    });
    var LB_Ins_LBW_DG;
    var LB_Ins_LBW_DD_Refresh = false;
    async function LookUp_GetInsList_LBW(FirstCall=false)
    {
        var $LB_Ins_DG = $("#GetInsList-datagrid_LBW");
        if ($LB_Ins_DG.length)
        {
            LB_Ins_LBW_DG = $LB_Ins_DG.dxDataGrid("instance");
            if (FirstCall == false)
            {
                LB_Ins_LBW_DD_Refresh = true;
                await LB_Ins_LBW_DG.refresh();
                LB_Ins_LBW_DD_Refresh = false;
            }
        }
    }
    function Look_InsList_EditValueChanged_LBW(e)
    {
        e.component.close();
        if (e.value == null && e.previousValue != null)
        {
            LB_Ins_LBW_DG.clearSelection();
        }
        if (LB_Ins_LBW_DG.getSelectedRowsData().length > 0)
        {
            var item = LB_Ins_LBW_DG.getSelectedRowsData()[0];
            $("#Institution").val(item.Name);
        }
    }

    </script>
   
 </div>
