@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Profile.Models.PropertyWindowProfile

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="form-field">            
                <fieldset class="default-fieldset">
                    <legend class="custom-legend mlm"> Security Deposit Information</legend>
                    <div class="col-md-12">
                        <div class="row">
                            @Html.Label("Security Deposit Amount:", htmlAttributes: new { @class = "control-label" })
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Dep_Amt_LBW").Name("Txt_Dep_Amt_LBW").Value(Model.Txt_Dep_Amt_LBW).Format("#0.00").Placeholder("Type Amount.."))
                        </div>
                        <div class="row">
                            <label class="control-label" for="Txt_PaidDate_LBW">Deposit Paid On:</label>
                            @(Html.DevExtreme().DateBoxFor(x=>x.Txt_PaidDate_LBW).CustomDateBox().Min(new DateTime(1900,01,01)).Max(DateTime.MaxValue).ID("Txt_PaidDate_LBW").Name("Txt_PaidDate_LBW").DateOutOfRangeMessage("Date Out Of Range!!"))
                        </div>
                    </div>
                </fieldset>
            </div>       
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="form-field">           
                <fieldset class="default-fieldset">
                    <legend class="custom-legend mlm">Rent Information</legend>
                    <div class="col-md-12">
                        <div class="row">
                            <label class="control-label" for="Txt_Mon_Rent_LBW" >Monthly Rent Amount:</label>
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Mon_Rent_LBW").Name("Txt_Mon_Rent_LBW").Value(Model.Txt_Mon_Rent_LBW).Placeholder("Type Rent..").Format("#0.00"))
                        </div>
                        <div class="row">
                            <label class="control-label" for="Txt_Other_Payments">Other Monthly Payment:</label>
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Other_Payments_LBW").Name("Txt_Other_Payments_LBW").Value(Model.Txt_Other_Payments_LBW).Placeholder("Type Other Monthly Payment.. ").Format("#0.00"))
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>  
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="form-field">       
                <fieldset class="default-fieldset">
                    <legend class="custom-legend mlm"> Period /Duration Detail</legend>
                    <div class="col-md-12">
                        <div class="row">
                            <label class="control-label" for="Txt_F_Date_LBW">From:</label>
                            @(Html.DevExtreme().DateBoxFor(x=>x.Txt_F_Date_LBW).CustomDateBox().Min(new DateTime(1990,01,01)).Max(DateTime.MaxValue).ID("Txt_F_Date_LBW").Name("Txt_F_Date_LBW").DateOutOfRangeMessage("Date Out Of Range!!") )
                     
                        </div>
                        <div class="row">
                            <label class="control-label" for="Txt_T_Date_LBW">To:</label>
                            @(Html.DevExtreme().DateBoxFor(x=>x.Txt_T_Date_LBW).CustomDateBox().Min(new DateTime(1990, 01, 01)).Max(DateTime.MaxValue).ID("Txt_T_Date_LBW").Name("Txt_T_Date_LBW").DateOutOfRangeMessage("Date Out Of Range!!")) 
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>    
</div>
