<div class="VoucherWIPTxnReport_ClearReferences">
    @model ConnectOneMVC.Areas.Account.Models.Frm_Txn_Report_model
    @using DevExtreme.AspNet.Mvc;
    @{

        Html.EnableClientValidation();
        Html.AntiForgeryToken();
        Html.EnableUnobtrusiveJavaScript();
    }
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>

    <div id="Frm_txn_Report_Content">
        <form id="Txn_Report_Form">
            <div id="content" class="col-md-12 report_header_div_main">
                <div class="container-fluid">
                    <div class="col-md-6 report_header_div">
                        <div class="full-width-header">
                            <div class="row">
                                <div class="col-sm-12 pll">
                                    <h3 class="popuphead" id="Txt_TitleX_Txn_Report"><i class="far fa-edit"></i> Transaction Report</h3>
                                </div>
                            </div>
                        </div><!--[row]-->
                    </div>
                    <div class="col-md-6">
                        <div class="report_button_div">

                            @(Html.DevExtreme().Button().ID("Txn_Report_Preview_Btn").Text("Export").Icon("save").Width(120).OnClick(@<text> function () { Txn_Report_Preview(); } </text>))
                            @(Html.DevExtreme().Button().ID("Txn_Report_Close_Btn").Text("Close").Icon("clear").OnClick(@<text> function(){Txn_Report_Close();} </text>))
                        </div><!--[Buttons]-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">
                        <div class="container-fluid pll prm">
                            <div class="row">
                                <div class="col-sm-2 ">
                                    <label id="SimpleLabelItem1_Txn_Report" class="control-label">Ledger:</label>
                                </div>
                                <div class="col-sm-10">
                                    <label id="xLedger_Txn_Report" class="control-label">@Model.LedgerName</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Ledger]-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">
                        <div class="container-fluid pll prm">
                            <div class="row">
                                <div class="col-sm-2 ">
                                    <label id="SimpleLabelItem3_Txn_Report" class="control-label">Reference:</label>
                                </div>
                                <div class="col-sm-10">
                                    <label id="xReference_Txn_Report" class="control-label">@Model.Reference</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Reference]-->

            <div class="col-md-12 no-padding">
                <div id="Txn_ReportreloadPartialView" class="parent_table">
                    @Html.Action("Frm_Txn_Report_Grid", "ProfilePaymentVoucher")
                </div>
            </div><!--[Grid]-->
            <div class="footer-MainBoxdiv full-width-footer">
                <div class="list_footer_left_margin col-md-10">
                    <div class="list_footer_left_margin">
                        <p id="Txn_ReportLbl_Add" style="margin:0px" class="left_footertext_top"></p>
                        <p id="Txn_ReportLbl_Edit" style="margin:0px" class="left_footertext_bottom"></p>
                    </div>
                </div><!--[Footer]-->
            </div>
        </form>
    </div>

    @*Javascript Events*@

    <script>
    function Txn_Report_ContextMenuFunction(s, e)
    {
        if (e.item.name == 'ListPreview')
        {
            Txn_Report_Preview();
        }
        else if (e.item.name == 'Close')
        {
            Txn_Report_Close();
        }
        else if (e.item.name == 'Refresh')
        {
            WIP_Txn_Report_Grid.Refresh();
        }
    }
    function Txn_Report_BeginCallBack(s, e)
    {
        e.customArgs['OpeningDate'] = "@Model.OpeningDate";
        e.customArgs['LedgerID'] = "@Model.LedgerID";
        e.customArgs['WIP_ID'] = "@Model.WIP_ID";
        e.customArgs['Opening'] = "@Model.Opening";
        e.customArgs['command'] = e.command;

    }
    function Txn_Report_EndCallback(s, e) { }
    function Txn_Report_Preview()
    {
        ShowLoader();
        OpenPopup("WIP_Txn_ListPreview_modal", "Export Options", "@Url.Action("Txn_Report_Export_Options", "ProfilePaymentVoucher", new {@area = "Account" })", "auto", 125, false, null);
        HideLoader();
    }
    function Txn_Report_FocusedRowChanged(s, e)
    {

    }
    function Txn_Report_Close()
    {
        $("#"+"@Model.PopupID").dxPopup("hide");
    }
    $(function () {
        $("#"+"@Model.PopupID").dxPopup({
            onHiding: function (e) {
                $.ajax({
                    type: 'GET',
                    url: "/Account/ProfilePaymentVoucher/ProfilePaymentClearSession",
                    cache: false
                });
            }
        });
    });
    </script>
</div>
