<div class="VoucherMapLocation_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.Payment_Frm_Location_Map_Window_Model



    <div id="Frm_Location_Map_Window_popup">

        @{
            Html.EnableClientValidation();
            Html.EnableUnobtrusiveJavaScript();
        }

        @using (Ajax.BeginForm("Frm_Location_Map_Window", "ProfilePaymentVoucher",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "Frm_Location_Map_Window_popup",
                InsertionMode = InsertionMode.InsertAfter,
                OnBegin = "AjaxBeginFormPost",
                OnSuccess = "AjaxSuccessLocationMapWindowVoucher"
            },
          new
          {
              id = "payment_location_map_validationForm",
              @class = "edit_form"
          }))
        {
            @Html.HiddenFor(x => x.Tag)
            @Html.HiddenFor(x => x.xLocName)
            @Html.HiddenFor(x => x.xLocRemarks)
            @Html.HiddenFor(x => x.Look_ProList_REC_EDIT_ON)
            @Html.HiddenFor(x => x.Look_SerList_REC_EDIT_ON)
            @Html.HiddenFor(x => x.xID)
            @Html.HiddenFor(x => x.Txt_Name_Tag_Map)
            @Html.HiddenFor(x => x.LastEditedOn_Map)

            <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-6 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i>Location Matching</h3>
                    </div>
                    <div class="col-sm-6 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                    @Html.Label("Location Name:", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9 pll prm ">
                                    @Html.DevExpress().Label(settings => { settings.Name = "xLocName"; settings.Text = "?"; }).Bind(DataBinder.Eval(Model, "xLocName")).GetHtml()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Location]-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                    @Html.Label("Remarks:", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9 pll prm ">
                                    @Html.DevExpress().Label(settings => { settings.Name = "xLocRemarks"; settings.Text = "-"; }).Bind(DataBinder.Eval(Model, "xLocRemarks")).GetHtml()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Remarks]-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                    @Html.Label("Matching For:", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                    @(Html.DevExtreme().RadioGroup().ID("Rad_Matching").Name("Rad_Matching").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").OnValueChanged("ChangeMatchingFor").DataSource(new object[] { new { text = "Property", value = "0" }, new { text = "Service Place", value = "1" } }).ReadOnly(Model.Tag.ToString() == "_Delete" || Model.Tag.ToString() == "_View" ? true : false) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[matching for]-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                    @Html.Label("Property Name:", htmlAttributes: new { @class = " control-label text-red", @id = "payment_locationMap_Property" })
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_ProList").Name("Look_ProList").ValueExpr("LB_ID").DisplayExpr("PROP_NAME").DataSource(Model.PropertylistData,"LB_ID").Placeholder("Select Property...").OnValueChanged("Frm_Location_Map_Window_ProList_OnValueChanged").ContentTemplate(@<text> @Html.Partial("Frm_Location_Map_Window_GLookUp_ProList") </text>).ReadOnly(Model.Tag.ToString() == "_Delete" || Model.Tag.ToString() == "_View" ? true : false) )
                                    @Html.ValidationMessageFor(model => model.Look_ProList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Prop Name]-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                    @Html.Label("Service Place:", htmlAttributes: new { @class = "control-label text-red", @id = "payment_locationMap_ServicePlace" })
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_SerList").Name("Look_SerList").ValueExpr("SP_ID").DisplayExpr("Service_Place_Name").DataSource(Model.ServicePlaceListData,"SP_ID").Placeholder("Select Service Place...").OnValueChanged("Frm_Location_Map_Window_SerList_OnValueChanged").ContentTemplate(@<text> @Html.Partial("Frm_Location_Map_Window_GLookUp_SerList") </text>).ReadOnly(Model.Tag.ToString() == "_Delete" || Model.Tag.ToString() == "_View" ? true : false))
                                    @Html.ValidationMessageFor(model => model.Look_SerList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Service Name]-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().CustomSaveButton().Text(Model.Tag.ToString() == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(true).Visible(Model.Tag.ToString() == "_View" ? false : true))
                        @(Html.DevExtreme().Button().CustomCloseButton().Text(Model.Tag.ToString() == "_View" ? "Close" : "Cancel").FocusStateEnabled(true).Type(DevExtreme.AspNet.Mvc.ButtonType.Normal).OnClick(@<text> function () { $("#Frm_Location_Map_Window_popup").dxPopup("hide"); } </text>) )
                    </div>
                </div>
            </div><!--[Buttons]-->
        }
    </div>
    <script>
    $(document).ready(function ()
    {
        if ("@Model.Tag".includes("New"))
        {
            $("#Rad_Matching").dxRadioGroup("instance").option("value", "0");
        }
        else
        {
            if ("@Model.Rad_Matching".length > 0)
            {
                $("#Rad_Matching").dxRadioGroup("instance").option("value", "@Model.Rad_Matching");
            }
            if ("@Model.Look_SerList".length > 0)
            {
                $("#Look_SerList").dxDropDownBox("instance").option("value", "@Model.Look_SerList");
            }
            if ("@Model.Look_ProList".length > 0)
            {
                $("#Look_ProList").dxDropDownBox("instance").option("value", "@Model.Look_ProList");
            }
        }      
        Focus_FirstEditable_Field("payment_location_map_validationForm", "_New");      
    });
    async function Frm_Location_Map_Window_ProList_OnValueChanged(e, FirstCall = false)
    {
        var $dataGrid = $("#Frm_Location_Map_Window_GLookUp_ProList_datagrid");
        if ($dataGrid.length)
        {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            var prop;
            if (e)
            {
                prop = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null)
                {
                    dataGrid.clearSelection();
                    return;
                }
            }
            else
            {
                prop = $("#Look_ProList").dxDropDownBox("option","value");
            }
            await dataGrid.selectRows(prop);
            if (dataGrid.getSelectedRowsData().length > 0)
            {
                var item = dataGrid.getSelectedRowsData()[0];
                $("#Look_ProList_REC_EDIT_ON").val(JS_Json_Date_To_ddMMyyyy(item["REC_EDIT_ON"]));
            }
        }
    }
       async function Frm_Location_Map_Window_SerList_OnValueChanged(e, FirstCall = false)
       {
           var $dataGrid = $("#Frm_Location_Map_Window_GLookUp_SerList_datagrid");
           if ($dataGrid.length)
           {
               var dataGrid = $dataGrid.dxDataGrid("instance");
               var Service;
               if (e)
               {
                   Service = e.value;
                   if ((e.value == null || e.value.length == 0) && e.previousValue != null)
                   {
                       dataGrid.clearSelection();
                       return;
                   }
               }
               else
               {
                   Service = $("#Look_SerList").dxDropDownBox("option", "value");
               }
               await dataGrid.selectRows(Service);
               if (dataGrid.getSelectedRowsData().length > 0)
               {
                   var item = dataGrid.getSelectedRowsData()[0];
                   $("#Look_SerList_REC_EDIT_ON").val(JS_Json_Date_To_ddMMyyyy(item["REC_EDIT_ON"]));
               }
           }
       }

    function ChangeMatchingFor(e)
    {
        if (e.value == "0")
        {
            $("#Look_SerList").dxDropDownBox({ value: "", readOnly: true });
            $("#Look_ProList").dxDropDownBox({ value: "", readOnly: false });

            $("#payment_locationMap_ServicePlace").text("Service Place:").removeClass("text-red").addClass("disabletxt");//Mantis bug 0000504 fixed

            $("#payment_locationMap_Property").text("Property Name:").addClass("text-red").removeClass("disabletxt");//Mantis bug 0000504 fixed
        }

        else if (e.value == "1") {
            $("#Look_SerList").dxDropDownBox({ value: "", readOnly: false});
            $("#Look_ProList").dxDropDownBox({ value: "", readOnly: true });
            $("#payment_locationMap_ServicePlace").text("Service Place:").addClass("text-red").removeClass("disabletxt");//Mantis bug 0000504 fixed
            $("#payment_locationMap_Property").text("Property Name:").removeClass("text-red").addClass("disabletxt");//Mantis bug 0000504 fixed
        }
    }

    </script>
    <script>

        function AjaxSuccessLocationMapWindowVoucher(result)
        {
            HideLoader();
            if (result.result == false)
            {
                var alert = DevExpress.ui.dialog.alert(result.message, "Error");
                alert.done(function (alertResult)
                {
                    if (alertResult)
                    {
                        switch (result.focus)
                        {
                            case "Look_ProList":
                                $("#Look_ProList").dxDropDownBox("instance").focus();
                                break;
                            case "Look_SerList":
                                $("#Look_SerList").dxDropDownBox("instance").focus();
                                break;
                        }
                    }
                });
            }
            else if (result.result == true)
            {
                var popupID = "#" + $("#PopupID").val();
                if ($("#CallingScreen").val() == "Payment")//Mantis bug 0000505 fixed
                {
                    DevExpress.ui.dialog.alert('Location Added Successfully', "Success").done(function ()
                    {
                        $("#Frm_Location_Map_Window_popup").dxPopup("hide");
                        $("#PaymentAddLocation").dxPopup("hide");
                        if (popupID == "#StockAddLocation")
                        {
                            $("#StockAddLocation").dxPopup("hide");
                        }
                        if ($("#DropdownRefreshFunction").val().length > 0)
                        {
                            var fn = window[$("#DropdownRefreshFunction").val()];
                            if (typeof fn == "function")
                            {
                                fn(); //redmine Bug #133151 fixed
                            }
                        }
                        else
                        {
                            $("#Frm_Window_GLookUp_LocList_datagrid").dxDataGrid("instance").refresh();
                        }
                    });
                }
                else
                {
                    var popupID = "#" + $("#PopupID").val();
                    var DD_datagrid = "#" + $("#Dropdown_DataGrid").val();
                    var DD_RefreshFunction = $("#DropdownRefreshFunction").val();
                    if (DD_RefreshFunction.length > 0)
                    {
                        var fn = window[$("#DropdownRefreshFunction").val()];
                        if (typeof fn == "function")
                        {
                            fn();
                        }
                    }
                    if ($("#CallingScreen").val() == "UO")
                    {
                        $("#Frm_Location_Map_Window_popup").dxPopup("hide");
                        $(DD_datagrid).dxDataGrid("instance").refresh();

                        $(popupID).dxPopup("hide");
                    }//Mantis bug 0000505 fixed
                }//Mantis bug 0000505 fixed
            }
        }

        function Frm_Location_Map_Window_onInitialized_ProList(e)
        {
            e.component.option("dataSource").store.load().done(function (d)
            {
                if (d.length == 1)
                    e.component.option("value", d[0].ID);
            });
        }
        function Frm_Location_Map_Window_onInitialized_SerList(e)
        {
            e.component.option("dataSource").store.load().done(function (d)
            {
                if (d.length == 1)
                    e.component.option("value", d[0].ID);
            });
        }





    </script>
    </div>