<div class="VoucherLiveStockProfile_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.Frm_Live_Stock_Window_Model
    @{
        var myRad_InsuranceValue = string.IsNullOrEmpty(Model.Rad_Insurance) ? "NO" : Model.Rad_Insurance;
        bool isvisible = (Model.Tag == Common_Lib.Common.Navigation_Mode._View || Model.Tag == Common_Lib.Common.Navigation_Mode._Delete) ? true : false;
        bool ProfileCore_AddRight = (bool)ViewData["ProfileCore_AddRight"];
        bool From_DNK = (bool)ViewBag.FromDNK;
        bool From_JV = (bool)ViewBag.FromJV;

    }

    <div id="Frm_Live_Stock_Window_ParentDiv">

        @using (Ajax.BeginForm("Frm_Live_Stock_Window_SaveClick", "ProfilePaymentVoucher",
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "Frm_Live_Stock_Window_Content",
            InsertionMode = InsertionMode.InsertAfter,
            OnBegin = "AjaxBeginFormPost",
            OnSuccess = "Frm_Live_Stock_Window_AjaxSuccessForm"
        },
        new
        {
            id = "ID_Frm_Live_Stock_Window",
            @class = "edit_form"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Tag)
            @Html.HiddenFor(x => x.Tr_M_ID)



            using (Html.DevExtreme().ValidationGroup("paymentVoucher_Livestock"))
            {
                <div class="full-width-header-bg2">
                    <div class="row">
                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Livestock</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                    </div>
                </div><!--[Header]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label disabletxt" id="payment_livestock_ItemName">Item Name:</label></div>
                                    <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                        @(Html.DevExtreme().TextBoxFor(x => x.BE_ItemName).CustomTextBox().ID("BE_ItemName").ReadOnly(true).FocusStateEnabled(false) )
                                        @Html.ValidationMessageFor(model => model.BE_ItemName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Item name]-->
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label text-red" id="payment_livestock_name">Livestock Name/Tag:</label></div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                        @(Html.DevExtreme().TextBoxFor(x => x.Txt_Name).CustomTextBox(true).MaxLength(100).ID("Txt_Name").ReadOnly(isvisible).Placeholder("Type Livestock Name ...") )
                                        @Html.ValidationMessageFor(model => model.Txt_Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Livestock name]-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" id="payment_livestock_birth">Birth Year:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmd_Year").Name("Cmd_Year").Placeholder("Select Year").DataSource(Model.BirthYearData).ReadOnly(isvisible).Value(Model.Cmd_Year))
                                        @Html.ValidationMessageFor(model => model.Cmd_Year, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Birth year]-->
                </div><!--[Name/Birth]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <fieldset class="default-fieldset">
                                    <legend class="custom-legend mlm">Insurance:</legend>
                                    <div class="row">
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <div class="form-field">
                                                <div class="container-fluid">
                                                    <div style="padding:30px;">
                                                        @(Html.DevExtreme().RadioGroup().ID("Rad_Insurance").Name("Rad_Insurance").DisplayExpr("text").Height(40).ReadOnly(isvisible).Value(myRad_InsuranceValue)
                                                          .ValueExpr("color").DataSource(new object[] { new { text = "YES", color = "YES" },new { text = "NO", color = "NO" }}).OnValueChanged("OnChangeFrm_Live_Stock_Window_Rad_Insurance") )
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--[Insurance radio]-->
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="form-field">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        @Html.LabelFor(model => model.Look_InsList, htmlAttributes: new { @class = "control-label", @id = "payment_insuranceCompany_label" })<br />
                                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_InsList").Name("Look_InsList").DataSource(Model.InsuranceListData,"ID").DisplayExpr("Name").ValueExpr("ID").Disabled(true).Placeholder("Select Company").Value(Model.Look_InsList) )
                                                        @Html.ValidationMessageFor(model => model.Look_InsList, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div><!--[Insurance Company]-->
                                            <div class="row">
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-field">
                                                        <div class="container-fluid">
                                                            @Html.LabelFor(model => model.Txt_PolicyNo, htmlAttributes: new { @class = "control-label", @id = "payment_insurancePolicy_label" })<br />
                                                            @(Html.DevExtreme().TextBoxFor(x => x.Txt_PolicyNo).CustomTextBox(true,true).ID("Txt_PolicyNo").MaxLength(30).Disabled(true).Placeholder("Type Policy No...").OnValueChanged("PolicyNo_ValueChange_VehiclePaymentProfile") )
                                                            @Html.ValidationMessageFor(model => model.Txt_PolicyNo, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div><!--[Insurance Policy]-->
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-field">
                                                        <div class="container-fluid">
                                                            @Html.LabelFor(model => model.Txt_InsAmt, htmlAttributes: new { @class = "control-label", @id = "payment_insuranceAmount_label" })<br />
                                                            @(Html.DevExtreme().NumberBox().ID("Txt_InsAmt").CustomNumberBox().Name("Txt_InsAmt").Format("#0.00").Disabled(true).Value(Model.Txt_InsAmt).Placeholder("Enter Insurance Amount"))
                                                            @Html.ValidationMessageFor(model => model.Txt_InsAmt, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div><!--[Insurance Amount]-->
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-field">
                                                        <div class="container-fluid">
                                                            @Html.LabelFor(model => model.Txt_I_Date, htmlAttributes: new { @class = "control-label", @id = "payment_insuranceExpiry_label" })<br />
                                                            @(Html.DevExtreme().DateBoxFor(x => x.Txt_I_Date).CustomDateBox().Placeholder("Select Expity Date").ID("Txt_I_Date").Disabled(true))
                                                            @Html.ValidationMessageFor(model => model.Txt_I_Date, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div><!--[Insurance Expiry]-->
                                            </div><!--[Policy/Amount/Expiry]-->
                                        </div><!--[Insurance Detail]-->
                                    </div><!--[Insurance]-->
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div><!--[Insurance Block]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" id="livestocklocationLabel">Location:</label></div>
                                    <div class="col-sm-7 col-md-7 col-lg-7 prm ">
                                        @(Html.DevExtreme().DropDownBoxFor(x => x.Look_LocList).CustomDropDown().ID("Look_LocList").Name("Look_LocList").Value(Model.Look_LocList).ValueExpr("AL_ID").DisplayExpr("Location_Name").DataSource(Model.LocationListData,"AL_ID").Placeholder("Select Location..")
                                              .OnValueChanged("OnChangeFrm_Live_Stock_Window_Look_LocList").ContentTemplate(@<text> @Html.Partial("Frm_Live_Stock_Window_Look_LocList") </text>).ReadOnly(isvisible).Placeholder("Select Location").Value(Model.Look_LocList) )
                                        @Html.ValidationMessageFor(model => model.Look_LocList, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm">
                                        @(Html.DevExtreme().Button().ID("livestockaddLocation").Text("Add Location").OnClick("LivestockAddLocationClick").Disabled(isvisible))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Location]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" id="payment_livestock_otherDetail">Other Details:</label></div>
                                    <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                        @(Html.DevExtreme().TextBoxFor(x => x.Txt_Others).CustomTextBox(true).MaxLength(250).ID("Txt_Others").ReadOnly(isvisible).Placeholder("Type Any Other Details/Remarks ...") )
                                        @Html.ValidationMessageFor(model => model.Txt_Others, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Other Details]-->

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Item Detail (Livestock Detail)...)...", Model.Tag.ToString().Substring(1)))
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().CustomSaveButton().ID("Frm_Live_Stock_Window_Save").Text(Model.Tag.ToString() == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(false).Visible(Model.Tag.ToString() == "_View" ? false : true).OnClick("SaveLiveStockDetail") )
                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("Frm_Live_Stock_Window_Cancel").Text(Model.Tag.ToString() == "_View" ? "Close" : "Cancel").FocusStateEnabled(true).Type(DevExtreme.AspNet.Mvc.ButtonType.Normal).OnClick("CloseLiveStockDetail"))
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->

            }
        }
    </div>

    <script>
        function PolicyNo_ValueChange_VehiclePaymentProfile(e)
        {       /*RedmineBug#134807*/
            if (e.value != null || e.value != "")
            {
                e.component.option("value", e.value.toUpperCase())
            }
        }

        function OnChangeFrm_Live_Stock_Window_Rad_Insurance(e,FirstCall=false)
        {
            var value;
            if (e)
            {
                value = e.value;
            }
            else
            {
                value = $("#Rad_Insurance").dxRadioGroup("option", "value");
            }
            if (value == "NO")
            {
                $("#payment_insuranceExpiry_label").addClass("disabletxt").removeClass("text-red");
                $("#payment_insuranceAmount_label").addClass("disabletxt");
                $("#payment_insuranceCompany_label").addClass("disabletxt").removeClass("text-red");
                $("#payment_insurancePolicy_label").addClass("disabletxt").removeClass("text-red");

                $("#Look_InsList").dxSelectBox('instance').option("disabled", true);
                $("#Txt_PolicyNo").dxTextBox('instance').option("disabled", true);
                $("#Txt_InsAmt").dxNumberBox('instance').option("disabled", true);
                $("#Txt_I_Date").dxDateBox('instance').option("disabled", true);
                if (FirstCall == false) {
                    $("#Look_InsList").dxSelectBox('instance').reset();
                    $("#Txt_PolicyNo").dxTextBox('instance').reset();
                    $("#Txt_InsAmt").dxNumberBox('instance').reset();
                    $("#Txt_I_Date").dxDateBox('instance').reset();
                }
                $("#Look_InsList").dxSelectBox('instance').option("placeholder", "");
                $("#Txt_PolicyNo").dxTextBox('instance').option("placeholder", "");
                $("#Txt_InsAmt").dxNumberBox('instance').option("placeholder", "");
                $("#Txt_I_Date").dxDateBox('instance').option("placeholder", "");
            }
            else if (value == "YES")
            {
                $("#payment_insuranceExpiry_label").removeClass("disabletxt").addClass("text-red");
                $("#payment_insuranceAmount_label").removeClass("disabletxt");
                $("#payment_insuranceCompany_label").removeClass("disabletxt").addClass("text-red");
                $("#payment_insurancePolicy_label").removeClass("disabletxt").addClass("text-red");
                if (FirstCall == false) {
                    $("#Look_InsList").dxSelectBox('instance').reset();
                    $("#Txt_PolicyNo").dxTextBox('instance').reset();
                    $("#Txt_InsAmt").dxNumberBox('instance').reset();
                    $("#Txt_I_Date").dxDateBox('instance').reset();
                }
                $("#Look_InsList").dxSelectBox('instance').option("placeholder", "Select Insurance Company..");
                $("#Look_InsList").dxSelectBox('instance').option("disabled", false);
                $("#Txt_PolicyNo").dxTextBox('instance').option("placeholder", "Type Policy No...");
                $("#Txt_PolicyNo").dxTextBox('instance').option("disabled", false);
                $("#Txt_InsAmt").dxNumberBox('instance').option("placeholder", "Type Insurance Amount...");
                $("#Txt_InsAmt").dxNumberBox('instance').option("disabled", false);
                $("#Txt_I_Date").dxDateBox('instance').option("placeholder", "dd-MM-yyyy");
                $("#Txt_I_Date").dxDateBox('instance').option("disabled", false);
            }
            LS_insurance_Validator();
        }

        function LS_insurance_Validator()
        {
            $("#Look_InsList").dxSelectBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'custom',
                        validationCallback: function (options)
                        {
                            var result = true;
                            if ($("#Rad_Insurance").dxRadioGroup("instance").option("value") == "YES")
                            {

                                if (options.value == null || options.value == "")
                                {
                                    result = false;
                                }
                            }
                            return result;
                        },
                        message: "Insurance Company Cannot Be Blank..!!"
                    }],
                    validationGroup: "paymentVoucher_Livestock"
                });
            $("#Txt_PolicyNo").dxTextBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'custom',
                        validationCallback: function (options)
                        {
                            var result = true;
                            if ($("#Rad_Insurance").dxRadioGroup("instance").option("value") == "YES")
                            {
                                if (options.value == null || options.value == "")
                                {
                                    result = false;
                                }
                            }
                            return result;
                        },
                        message: "Insurance Policy No. Cannot Be Blank..!!"
                    }],
                    validationGroup: "paymentVoucher_Livestock"
                });
            $("#Txt_I_Date").dxDateBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'custom',
                        validationCallback: function (options)
                        {
                            var result = true;
                            if ($("#Rad_Insurance").dxRadioGroup("instance").option("value") == "YES")
                            {

                                if (options.value == null || options.value == "")
                                {
                                    result = false;
                                }
                            }
                            return result;
                        },
                        message: "Insurance Expiry Date Cannot Be Blank..!!"
                    }],
                    validationGroup: "paymentVoucher_Livestock"
                });
        }
    </script>
    @* Insurance radiobox *@
<script>

    $("#Txt_PolicyNo").keypress(function (e)
    {
        e = e || window.event;
        key = e.keyCode || e.which;
        //For Firefox
        if (key == 8 || key == 127 || key == 9)
            return true
        var txt = String.fromCharCode(key);
        var reg = /[a-zA-Z0-9-/]/;
        if (reg.test(txt))
            return true;

        e.preventDefault();
        return false;
    });

    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        TransformTextForDB("ID_Frm_Live_Stock_Window");
        if ("@ProfileCore_AddRight" == "False")
        {
	        $("#livestockaddLocation").hide();
        }
        await LookUp_GetLocList_LS(true);
        if ("@From_DNK" == "True") //from DNK
        {
            $("#Calc_Allow_DNK_Itm").val(false);
        }
        else if ("@From_JV" == "True") //from JV
        {
            $("#Calc_Allow_JV_Itm").val(false);
        }
        else // from payment
        {
            $("#Calc_Allow").val(false);
        }
        OnChangeFrm_Live_Stock_Window_Rad_Insurance(null, true);     
        if ("@Model.Tag" == "_Edit" || "@Model.Tag" == "_View" || "@Model.Tag" == "_Delete")
        {         
            await OnChangeFrm_Live_Stock_Window_Look_LocList();
        }
        Set_Form_View_Delete_Mode(null, "ID_Frm_Live_Stock_Window", "@Model.Tag");
        Focus_FirstEditable_Field("ID_Frm_Live_Stock_Window");
        HideLoader_Ready();      
    });
                                   @*document.body.addEventListener("keydown", PaymentItem_LS, false);
    function PaymentItem_LS(evt) {
        if (evt.ctrlKey && evt.keyCode == 83)//ctrl+s save
        {
            evt.preventDefault();
            if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection") {
                $("#Frm_Live_Stock_Window_Save").trigger("dxclick");
            }
        }
    }*@  //shortcuts

    function Frm_Live_Stock_Window_AjaxSuccessForm(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            var alertclick = DevExpress.ui.dialog.alert( data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result)
        {
            if ("@From_DNK"=="True") //calling from DNK
            {
                $("#LS_NAME_DNK_Itm").val($("#Txt_Name").dxTextBox('instance').option("value"));
                $("#LS_BIRTH_YEAR_DNK_Itm").val($("#Cmd_Year").dxSelectBox('instance').option("value"));
                $("#LS_INSURANCE_DNK_Itm").val($("#Rad_Insurance").dxRadioGroup('instance').option("value"));
                $("#LS_INSURANCE_ID_DNK_Itm").val($("#Look_InsList").dxSelectBox('instance').option("value"));
                $("#LS_INS_POLICY_NO_DNK_Itm").val($("#Txt_PolicyNo").dxTextBox('instance').option("value"));
                $("#LS_INS_AMT_DNK_Itm").val($("#Txt_InsAmt").dxNumberBox('instance').option("value"));
                if (isValidDate(data.Ins_Date))
                {
                    $("#LS_INS_DATE_DNK_Itm").val(data.Ins_Date);
                }
                $("#Txt_Rate_DNK_Itm").dxNumberBox("instance").option("value", $("#Txt_Amount_DNK_Itm").dxNumberBox("instance").option("value"));
                $("#Txt_Remarks_DNK_Itm").dxTextBox('instance').option("value", $("#Txt_Others").dxTextBox('instance').option("value"));
                $("#X_LOC_ID_DNK_Itm").val($("#Look_LocList").dxDropDownBox('instance').option("value"));
                Fill_Item_Grid_DonationInKindVoucher();
            }
            else if ("@From_JV"=="True") //calling from JV
            {
                $("#LS_NAME_JV_Itm").val($("#Txt_Name").dxTextBox('instance').option("value"));
                $("#LS_BIRTH_YEAR_JV_Itm").val($("#Cmd_Year").dxSelectBox('instance').option("value"));
                $("#LS_INSURANCE_JV_Itm").val($("#Rad_Insurance").dxRadioGroup('instance').option("value"));
                $("#LS_INSURANCE_ID_JV_Itm").val($("#Look_InsList").dxSelectBox('instance').option("value"));
                $("#LS_INS_POLICY_NO_JV_Itm").val($("#Txt_PolicyNo").dxTextBox('instance').option("value"));
                $("#LS_INS_AMT_JV_Itm").val($("#Txt_InsAmt").dxNumberBox('instance').option("value"));
                if (isValidDate(data.Ins_Date))
                {
                    $("#LS_INS_DATE_JV_Itm").val(data.Ins_Date);
                }

                $("#Txt_Remarks_JV_Itm").dxTextBox('instance').option("value", $("#Txt_Others").dxTextBox('instance').option("value"));
                $("#X_LOC_ID_JV_Itm").val($("#Look_LocList").dxDropDownBox('instance').option("value"));
                Fill_Item_Grid_JournalVoucher();
            }
            else      //Calling from Payments screen
            {
                $("#LS_NAME").val($("#Txt_Name").dxTextBox('instance').option("value"));
                $("#LS_BIRTH_YEAR").val($("#Cmd_Year").dxSelectBox('instance').option("value"));
                $("#LS_INSURANCE").val($("#Rad_Insurance").dxRadioGroup('instance').option("value"));
                $("#LS_INSURANCE_ID").val($("#Look_InsList").dxSelectBox('instance').option("value"));
                $("#LS_INS_POLICY_NO").val($("#Txt_PolicyNo").dxTextBox('instance').option("value"));
                $("#LS_INS_AMT").val($("#Txt_InsAmt").dxNumberBox('instance').option("value"));
                if (data.Ins_Date.length > 0)
                {
                    $("#LS_INS_DATE").val(data.Ins_Date);
                }
                $("#Txt_Rate").dxNumberBox("instance").option("value", $("#Txt_Amt").dxNumberBox("instance").option("value"));
                $("#Txt_Remarks").dxTextBox('instance').option("value", $("#Txt_Others").dxTextBox('instance').option("value"));
                $("#X_LOC_ID").val($("#Look_LocList").dxDropDownBox('instance').option("value"));
                Fillgrid1_PaymentVoucher();
            }
        }
    }
</script>
    @* Document.ready and save success *@
    <script>
        var LocList_LS_DG;
        var dataSource_LSLocation_PrfPay = null;
        async function LookUp_GetLocList_LS(FirstCall = false)
        {
            var $LocList_LS_DG = $("#Frm_Window_GLookUp_LocList_datagrid");
            if ($LocList_LS_DG.length) {
                LocList_LS_DG = $LocList_LS_DG.dxDataGrid("instance");
                if (FirstCall === false) {
                    ShowLoader();
                    var DDvalue = $("#Look_LocList").dxDropDownBox("instance").option("value");
                    $.ajax({
                        type: 'GET',
                        url: "/Account/ProfilePaymentVoucher/RefreshLocationList",
                        cache: false,
                        success: function (data) {
                            dataSource_LSLocation_PrfPay = new DevExpress.data.DataSource({ // need to dispose it in in clearreference
                                store:
                                {
                                    type: "array",
                                    key: "AL_ID",
                                    data: data
                                }
                            });
                            $("#Look_LocList").dxDropDownBox("instance").option("dataSource", dataSource_LSLocation_PrfPay);
                            LocList_LS_DG.option("dataSource", dataSource_LSLocation_PrfPay);
                            dataSource_LSLocation_PrfPay.load().done((r) => {
                                $("#Look_LocList").dxDropDownBox("reset");
                                if (data.some(data => data.AL_ID === DDvalue)) {
                                    $("#Look_LocList").dxDropDownBox("instance").option("value", DDvalue);
                                }
                                $("#Look_LocList").dxDropDownBox("focus");
                                LSLocation_Settings_PrfPay(FirstCall);
                                HideLoader();
                            })
                        }
                    });
                }
                else {
                    LSLocation_Settings_PrfPay(FirstCall);
                }
            }
        }
        async function LSLocation_Settings_PrfPay(FirstCall)
        {
            var DGItem = GetDataSourceItems("Look_LocList", "dxDropDownBox");
            var TotalCount = DGItem.length;
            if (TotalCount == 1)
            {
                if (FirstCall === true)
                {
                    await OnChangeFrm_Live_Stock_Window_Look_LocList();
                }
                else
                {
                    $("#Look_LocList").dxDropDownBox("instance").option("value", DGItem[0].AL_ID);
                }
                Control_SetReadOnly("Look_LocList", "dxDropDownBox", true, "#696969");
            }
            else
            {
                Control_SetReadOnly("Look_LocList", "dxDropDownBox", false);
            }
            if (TotalCount > 1)
            {
                $("#livestocklocationLabel").addClass("text-red");
            }
            else
            {
                $("#livestocklocationLabel").removeClass("text-red");
            }
        }       
        async function OnChangeFrm_Live_Stock_Window_Look_LocList(e)
        {
            var LocID;
            if (e)
            {
                LocID = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null)
                {
                    LocList_LS_DG.clearSelection();
                    return;
                }
            }
            else {
                LocID = $("#Look_LocList").dxDropDownBox("instance").option("value");
            }
            await LocList_LS_DG.selectRows(LocID);
        }
        function LivestockAddLocationClick(e)
        {
            if ("@ProfileCore_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
                return;
            }
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/ProfilePaymentVoucher/AddLocations_Check",
                data: { ActionMethod: "New" },
                cache: false,
                success: function (data)
                {
                    HideLoader();
                    if (data.result)
                    {
                        ShowLoader();
                        $.ajax({
                            type: 'GET',
                            url: "/Account/ProfilePaymentVoucher/Frm_Location_Window",
                            data: {
                                ActionMethod: "New",
                                PopupID: "PaymentAddLocation",
                                DropdownRefreshFunction: "LookUp_GetLocList_LS"
                            },
                            cache: false,
                            success: function (data)
                            {
                                ShowLoader();
                                OpenPopup("PaymentAddLocation", "New ~ Location", null, "auto", 400, true, data);
                            }
                        });
                    }
                    else
                    {
                        DevExpress.ui.dialog.alert(data.message, "Error").done(function (result) { $("#Look_LocList").dxDropDownBox("focus") });
                    }
                }
            });
        }
    </script>
    @* Location DD insurance init *@
    <script>
        function CloseLiveStockDetail()
        {
            if ("@From_DNK" == "True")
            {
                $("#Win_Gift_Item_Content_popup").dxPopup("hide");
            }
            else if ("@From_JV" == "True")
            {
                $("#JV_Item_Content_popup").dxPopup("hide");
            }
            else
            {
                $("#Frm_Voucher_Item_Content_popup").dxPopup("hide");
                //$("#Frm_Voucher_Item_popup").dxPopup("hide");
            }
        }
        function SaveLiveStockDetail(e)
        {
            if (ValidateForm(e))
            {
                $("#ID_Frm_Live_Stock_Window").submit();
            }
        }
    </script>
    </div>