<div class="VoucherTelephone_ClearReferences">
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.Payment_Frm_Telephone_Select_Model
@{var isvisible = (Model.Tag == Common_Lib.Common.Navigation_Mode._View || Model.Tag == Common_Lib.Common.Navigation_Mode._Delete) ? true : false; }

<div>
    @using (Ajax.BeginForm("Frm_Telephone_Select_Window", "Profile",
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "Frm_Telephone_Select_Content",
                                InsertionMode = InsertionMode.InsertAfter,
                                OnBegin = "AjaxBeginFormPost",
                                OnSuccess = "Frm_Telephone_Select_WindowAjaxSuccessForm"
                            },
                            new
                            {
                                id = "ID_Frm_Telephone_Select_Window",
                                @class = "edit_form"
                            }))
    {
        @Html.AntiForgeryToken()
        using (Html.DevExtreme().ValidationGroup("paymentVoucher_telephone"))
        {
            @Html.HiddenFor(x => x.Tag)
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.xID)
            <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-8 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i>Telephone Detail</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label text-red" id="payment_telephone">Telephone No.:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_TeleList").Name("GLookUp_TeleList").ValueExpr("TP_ID").DisplayExpr("TP_NO").DataSource(Model.TelephoneListData,"TP_ID").Placeholder("Select Item")
                                                  .OnValueChanged("GLookUp_TeleList_EditValueChanged").ContentTemplate(@<text> @Html.Partial("Frm_Telephone_Select_GLookUp_TeleList") </text>).ReadOnly(true).FocusStateEnabled(false).Value(Model.GLookUp_TeleList))
                                    @Html.ValidationMessageFor(model => model.GLookUp_TeleList, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Telephone No]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label text-red" id="payment_telephoneBill">Bill No.:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                    @(Html.DevExtreme().TextBoxFor(x => x.Txt_Bill_No).CustomTextBox(true,true).Value(Model.Txt_Bill_No).MaxLength(25).ID("Txt_Bill_No").Placeholder("Type Bill No...").ReadOnly(isvisible) )
                                    @Html.ValidationMessageFor(model => model.Txt_Bill_No, "", new { @class = " text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Bill No]-->
            </div><!--[Row 1]-->
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label disabletxt" id="payment_tele_company">Company:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                    @(Html.DevExtreme().TextBoxFor(x => x.BE_Company).CustomTextBox().ID("BE_Company").ReadOnly(true).FocusStateEnabled(false) )
                                    @Html.ValidationMessageFor(model => model.BE_Company, "", new { @class = " text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Company]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label text-red" id="payment_telephoneBillDate">Bill Date:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                    @(Html.DevExtreme().DateBox().CustomDateBox().ReadOnly(isvisible).Value(Model.Txt_Bill_Date).ID("Txt_Bill_Date").Name("Txt_Bill_Date").Min(new DateTime(1900,01,01)))
                                    @Html.ValidationMessageFor(model => model.Txt_Bill_Date, "", new { @class = " text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Bill Date]-->
            </div><!--[Row 2]-->
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label disabletxt" id="payment_tele_category">Category:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                    @(Html.DevExtreme().TextBoxFor(x => x.BE_Category).CustomTextBox().ID("BE_Category").ReadOnly(true).FocusStateEnabled(false)  )
                                    @Html.ValidationMessageFor(model => model.BE_Category, "", new { @class = " text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Category]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label text-red" id="payment_telephonePfrom">Period From:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                    @(Html.DevExtreme().DateBox().CustomDateBox().Value(Model.Txt_Fr_Date).ID("Txt_Fr_Date").Name("Txt_Fr_Date").Min(new DateTime(1900, 01, 01)).ReadOnly(isvisible) )
                                    @Html.ValidationMessageFor(model => model.Txt_Fr_Date, "", new { @class = " text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[From]-->
            </div><!--[Row 3]-->
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label disabletxt" id="payment_telephone_plan">Plan Type:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                    @(Html.DevExtreme().TextBoxFor(x => x.BE_Plantype).CustomTextBox().ID("BE_Plantype").ReadOnly(true).FocusStateEnabled(false) )
                                    @Html.ValidationMessageFor(model => model.BE_Plantype, "", new { @class = " text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Plan Type]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label text-red" id="payment_telephonePTo">Period To:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                    @(Html.DevExtreme().DateBox().CustomDateBox().Value(Model.Txt_To_Date).Min(new DateTime(1900, 01, 01)).ID("Txt_To_Date").Name("Txt_To_Date").ReadOnly(isvisible) )
                                    @Html.ValidationMessageFor(model => model.Txt_To_Date, "", new { @class = " text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[To]-->
            </div><!--[Row 4]-->


            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Item Detail (Telephone Detail)...)...", Model.Tag.ToString().Substring(1)))
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().CustomSaveButton().ID("Tele_save").Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").Icon("fa fa-check").UseSubmitBehavior(false).Visible(Model.TempActionMethod == "_View" ? false : true).OnClick("TelephonedetailSaveClick") )
                                @(Html.DevExtreme().Button().CustomCloseButton().ID("Tele_Cancel").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").Icon("fa fa-times").OnClick(@<text> function () { $("#Frm_Voucher_Item_Content_popup").dxPopup("hide"); } </text>) )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->


        }
    }
</div>

<script>
    @*$(document).keydown(function (evt) {
        if (keyDown_EnabledArray[evt.keyCode])
        {
            keyDown_EnabledArray[evt.keyCode] = false;
            if (evt.ctrlKey && evt.keyCode == 79)//ctrl+o save
            {
                evt.preventDefault();
                if ("@Model.TempActionMethod" == "_New" || "@Model.TempActionMethod" == "_Edit" || "@Model.TempActionMethod" == "_New_From_Selection") {
                    $("#Tele_save").trigger(jQuery.Event("click"));
                }
            }
            else if (evt.ctrlKey && evt.keyCode == 68)//ctrl+d delete
            {
                evt.preventDefault();
                if ("@Model.TempActionMethod" == "_Delete") {
                    $("#Tele_save").trigger("dxclick");
                }
            }
        }
    });
    $(document).keyup(function (evt) { keyDown_EnabledArray[evt.keyCode] = true; });*@ //shortcuts

    function Frm_Telephone_Select_WindowAjaxSuccessForm(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result)
        {

            $("#X_TP_ID").val($("#GLookUp_TeleList").dxDropDownBox("instance").option('value'));
            $("#TP_BILL_NO").val($("#Txt_Bill_No").dxTextBox("instance").option('value'));
            $("#TP_BILL_DATE").val(data.billdate);
            $("#TP_PERIOD_FROM").val(data.periodfrom);
            $("#TP_PERIOD_TO").val(data.periodto);

            Fillgrid1_PaymentVoucher();
        }
    }
    function Payment_telephone_Save(e)
    {
        var result = e.validationGroup.validate();
        if (result.isValid)
        {
            $("#ID_Frm_Telephone_Select_Window").submit();
        }
    }
</script>@* save success *@
<script>
    var paymentvoucher_telephone_planType = "";
    $(document).ready(async function ()
    {
        await LookUp_GetTeleList();
        TransformTextForDB("ID_Frm_Telephone_Select_Window");
        if ("@Model.Tag" == "_Edit" || "@Model.Tag"== "_Delete" || "@Model.Tag"=="_View")
        {
            await GLookUp_TeleList_EditValueChanged(null, true);
            $("#GLookUp_TeleList").dxDropDownBox("instance").option("readOnly", false);
            $("#GLookUp_TeleList").dxDropDownBox("instance").option("focusStateEnabled", true);
        }
        telephone_setvalidation();
        Set_Form_View_Delete_Mode(null, "ID_Frm_Telephone_Select_Window", "@Model.Tag");
        Focus_FirstEditable_Field("ID_Frm_Telephone_Select_Window");
        HideLoader_Ready();       
    });
</script>@* document.ready *@
<script>
    var TeleList_DG;
    async function LookUp_GetTeleList(FirstCall=false)
    {
        var $TeleList_DG = $("#Frm_select_Payment_TeleList_datagrid");
        if ($TeleList_DG.length)
        {
            TeleList_DG = $TeleList_DG.dxDataGrid("instance");
            var DGItem = GetDataSourceItems("GLookUp_TeleList", "dxDropDownBox");
            var TotalCount = DGItem.length;            
            if (TotalCount == 1)
            {
                $("#GLookUp_TeleList").find('input').css('color', "#000080");
                if ("@Model.TempActionMethod" == "_New" || "@Model.TempActionMethod" == "_New_From_Selection")
                {
                    $("#GLookUp_TeleList").dxDropDownBox("instance").option("readOnly", true);
                    $("#GLookUp_TeleList").dxDropDownBox("instance").option("focusStateEnabled", false);
                    await GLookUp_TeleList_EditValueChanged(null, FirstCall); //Redmine Bug #134891 fix
                }
            }
            else
            {
                if ("@Model.TempActionMethod" == "_New" || "@Model.TempActionMethod" == "_New_From_Selection")
                {
                    $("#GLookUp_TeleList").dxDropDownBox("instance").option("readOnly", false);
                    $("#GLookUp_TeleList").dxDropDownBox("instance").option("focusStateEnabled", true);
                }
            }
        }
    }
</script>@* dd init *@
<script>

    async function GLookUp_TeleList_EditValueChanged(e,FirstCall=false)
    {
        var TP_ID;
        if (e)
        {
            TP_ID = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null)
            {
                TeleList_DG.clearSelection();
                return;
            }
        }
        else
        {
            TP_ID = $("#GLookUp_TeleList").dxDropDownBox("instance").option("value");
        }
        await TeleList_DG.selectRows(TP_ID);
        if (TeleList_DG.getSelectedRowsData().length > 0)
        {
            var item = TeleList_DG.getSelectedRowsData()[0];
            $("#BE_Company").dxTextBox("instance").option('value', item["TP_COMPANY"]);
            $("#BE_Category").dxTextBox("instance").option('value', item["TP_CATEGORY"]);
            $("#BE_Plantype").dxTextBox("instance").option('value', item["TP_TYPE"]);
            paymentvoucher_telephone_planType = item["TP_TYPE"];          
            if (paymentvoucher_telephone_planType.toUpperCase().trim() == "POST PAID")
            {
                $("#payment_telephonePTo").addClass("text-red");
                $("#payment_telephoneBill").addClass("text-red");
                $("#payment_telephoneBillDate").addClass("text-red");
                $("#payment_telephonePfrom").addClass("text-red");
                $("#Txt_Bill_No").dxTextBox("instance").option('readOnly', false);
                $("#Txt_Bill_Date").dxDateBox("instance").option('readOnly', false);
                $("#Txt_Fr_Date").dxDateBox("instance").option('readOnly', false);
                $("#Txt_To_Date").dxDateBox("instance").option('readOnly', false);
                $("#Txt_Bill_No").dxTextBox("instance").option("focusStateEnabled", true);
                $("#Txt_Bill_Date").dxDateBox("instance").option("focusStateEnabled", true);
                $("#Txt_Fr_Date").dxDateBox("instance").option("focusStateEnabled", true);
                $("#Txt_To_Date").dxDateBox("instance").option("focusStateEnabled", true);
                $("#Txt_Bill_No").dxTextBox("instance").option('placeholder', "Type Bill No...");
                $("#Txt_Bill_Date").dxDateBox("instance").option('placeholder', "dd-mm-yyyy");
                $("#Txt_Fr_Date").dxDateBox("instance").option('placeholder', "dd-mm-yyyy");
                $("#Txt_To_Date").dxDateBox("instance").option('placeholder', "dd-mm-yyyy");
            }
            else
            {
                $("#payment_telephonePTo").removeClass("text-red");
                $("#payment_telephoneBill").removeClass("text-red");
                $("#payment_telephoneBillDate").removeClass("text-red");
                $("#payment_telephonePfrom").removeClass("text-red");
                $("#payment_telephonePTo").addClass("disabletxt");
                $("#payment_telephoneBill").addClass("disabletxt");
                $("#payment_telephoneBillDate").addClass("disabletxt");
                $("#payment_telephonePfrom").addClass("disabletxt");
                $("#Txt_Bill_No").dxTextBox("instance").option('readOnly', true);
                $("#Txt_Bill_Date").dxDateBox("instance").option('readOnly', true);
                $("#Txt_Fr_Date").dxDateBox("instance").option('readOnly', true);
                $("#Txt_To_Date").dxDateBox("instance").option('readOnly', true);
                $("#Txt_Bill_No").dxTextBox("instance").option("focusStateEnabled", false);
                $("#Txt_Bill_Date").dxDateBox("instance").option("focusStateEnabled", false);
                $("#Txt_Fr_Date").dxDateBox("instance").option("focusStateEnabled", false);
                $("#Txt_To_Date").dxDateBox("instance").option("focusStateEnabled", false);
                $("#Txt_Bill_No").dxTextBox("instance").option('placeholder', "");
                $("#Txt_Bill_Date").dxDateBox("instance").option('placeholder', "");
                $("#Txt_Fr_Date").dxDateBox("instance").option('placeholder', "");
                $("#Txt_To_Date").dxDateBox("instance").option('placeholder', "");
                $("#Txt_Bill_No").dxTextBox("instance").reset(); //Redmine Bug #134893 fix
                $("#Txt_Bill_Date").dxDateBox("instance").reset();//Redmine Bug #134893 fix
                $("#Txt_Fr_Date").dxDateBox("instance").reset();//Redmine Bug #134893 fix
                $("#Txt_To_Date").dxDateBox("instance").reset();//Redmine Bug #134893 fix   
            }          
        }
    }
    function telephone_setvalidation() {
        $("#Txt_Bill_No").dxTextBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (paymentvoucher_telephone_planType.toUpperCase().trim() == "POST PAID") {

                            if (options.value == "") {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: " Bill No. Cannot Be Blank..!!",
                    reevaluate:true
                }],
                validationGroup: "paymentVoucher_telephone"
            });
        $("#Txt_Bill_Date").dxDateBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (paymentvoucher_telephone_planType.toUpperCase().trim() == "POST PAID") {

                            if (options.value == null) {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: " Bill Date Cannot Be Blank..!!",
                    reevaluate: true
                }],
                validationGroup: "paymentVoucher_telephone"
            });
        $("#Txt_Fr_Date").dxDateBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (paymentvoucher_telephone_planType.toUpperCase().trim() == "POST PAID") {

                            if (options.value == null) {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: "From Date Cannot Be Blank..!!",
                    reevaluate: true
                }],
                validationGroup: "paymentVoucher_telephone"
            });
        $("#Txt_To_Date").dxDateBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (paymentvoucher_telephone_planType.toUpperCase().trim() == "POST PAID") {

                            if (options.value == null) {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: "To Date Cannot Be Blank..!!",
                    reevaluate: true,
                }],
                validationGroup: "paymentVoucher_telephone"
            });
    }
    function TelephonedetailSaveClick(e)
    {
        if (ValidateForm(e))
        {
            $("#ID_Frm_Telephone_Select_Window").submit();
        }
    }
</script>@* Value Change *@
    </div>