<div class="VoucherAddLocation_ClearReferences">
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.Payment_Frm_Location_Window_Model
<div id="Frm_Location_Window_popup">

    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        bool ProfileCore__AddRight = (bool)ViewData["ProfileCore_AddRight"];
    }

    @using (Ajax.BeginForm("Frm_Location_Window", "ProfilePaymentVoucher",
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "Frm_Location_Window_popup",
        InsertionMode = InsertionMode.InsertAfter,
        OnBegin = "AjaxBeginFormPost",
        OnSuccess = "OnFrm_Location_Window_popup_SuccessClick"
    },
    new
    {
        id = "Payment_location_validationForm",
        @class = "edit_form"
    }))
    {
        @Html.HiddenFor(x => x.Tag)
        @Html.HiddenFor(x => x.Status_Action)
        @Html.HiddenFor(x => x.xID)
        @Html.HiddenFor(x => x.CallingScreen)//Mantis bug 0000505 fixed
        @Html.HiddenFor(x => x.PopupID)//Mantis bug 0000505 fixed
        @Html.HiddenFor(x => x.Dropdown_DataGrid)//Mantis bug 0000505 fixed
        @Html.HiddenFor(x => x.DropdownRefreshFunction)
        @Html.HiddenFor(x => x.Info_LastEditedOn)
        @Html.HiddenFor(x => x.LastEditedOn)
        @Html.HiddenFor(x => x.Txt_Name_Tag)
        @Html.HiddenFor(x => x.xMAIN)

        <div class="full-width-header-bg2">
            <div class="row">
                <div class="col-sm-6 pll">
                    <h3 class="popuphead"><i class="far fa-edit"></i>New Location</h3>
                </div>
                <div class="col-sm-6 prm">
                    <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div><!--[Header]-->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                @Html.Label("Location Name:", htmlAttributes: new { @class = "control-label text-red" })
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Name_Location").Name("Txt_Name_Location").Value(Model.Txt_Name_Location).ReadOnly(Model.Tag.ToString()=="_Delete"|| Model.Tag.ToString() == "_View"?true:false))
                                @Html.ValidationMessageFor(model => model.Txt_Name_Location, "", new { @class = "text-red" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[Location]-->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                @Html.Label("Other Details:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Others_Location").Name("Txt_Others_Location").Value(Model.Txt_Others_Location).Placeholder("Type Any Other Details / Remarks...").ReadOnly(Model.Tag.ToString() == "_Delete" || Model.Tag.ToString() == "_View" ? true : false))
                                @Html.ValidationMessageFor(model => model.Txt_Others_Location, "", new { @class = "text-red" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[other details]-->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="styleActionBtn">
                    @(Html.DevExtreme().Button().CustomSaveButton().Text(Model.Tag.ToString() == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(true))
                    @(Html.DevExtreme().Button().CustomCloseButton().Text(Model.Tag.ToString()=="_View"?"Close":"Cancel").FocusStateEnabled(true).Type(DevExtreme.AspNet.Mvc.ButtonType.Normal).OnClick(@<text> function () { Close_AddLocation(); } </text>) )@*//Mantis bug 0000503 fixed*@
                </div>
            </div>
        </div><!--[Buttons]-->        
    }
</div>
    @(Html.DevExtreme().Popup().CustomPopup() .ID("Frm_Location_Map_Window_popup") .OnShowing("PopupOnShowing") .CloseOnOutsideClick(false) .ShowTitle(true) .Title("New ~ Location Matching") .ContentTemplate(@<text> <div id="result_Location_Map_Window_popup"> </div> </text>) )




    <script>
        $(document).ready(function () {
            TransformTextForDB("Payment_location_validationForm");
            setTimeout(function ()
            {
                Focus_FirstEditable_Field("Payment_location_validationForm", "_New")
            }, Timeout100)
         
        });
               

        //$('#Txt_Name_Location,#Txt_Others_Location').keypress(function (e) {
        //    if (e.key == "[") {

        //        $(this).val($(this).val() + "(");
        //        e.preventDefault();
        //    }
        //    if (e.key == "]") {

        //        $(this).val($(this).val() + ")");
        //        e.preventDefault();
        //    }
        //    if (e.key == "'") {

        //        $(this).val($(this).val() + "`");
        //        e.preventDefault();
        //    }
        //});

        function OnFrm_Location_Window_popup_SuccessClick(data)
        { 
            HideLoader();
            if (data.result == false)
            {
                var alert = DevExpress.ui.dialog.alert(data.message, 'Alert');
                alert.done(function (alertResult)
                {
                    if (alertResult)
                    {
                        $("#Txt_Name_Location").dxTextBox("instance").focus();
                    }
                });
            }
            else
            {           
                ShowLoader();
                OpenPopup("Frm_Location_Map_Window_popup", data.popTitle, data.PopupFormPath + "?" + data.QueryString, "auto", 500, false, null);         ;     
            }
        }
        function Close_AddLocation()
        {
            var popupID = "#" + "@Model.PopupID";
            $(popupID).dxPopup("hide");
        }//Mantis bug 0000503 fixed
    </script>
    </div>