<div class="VoucherVehicleProfile_ClearReferences">
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.Payment_Frm_Vehicles_Window_Model
@{
    bool isvisible = (Model.Tag == Common_Lib.Common.Navigation_Mode._View || Model.Tag == Common_Lib.Common.Navigation_Mode._Delete) ? true : false;
    bool ProfileCore__AddRight = (bool)ViewData["ProfileCore_AddRight"];
    bool From_DNK = (bool)ViewBag.FromDNK;
    bool From_JV = (bool)ViewBag.FromJV;
}
<style>
    #Frm_Vehicle_Window_ParentDiv {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

 /*   .dx-checkbox-text {
        width: auto;
    }*/
    #But_ManageOwner .dx-icon {
        width: 32px;
        height: 32px;
        /*line-height: normal;*/
        left: 20px;
   /*     top: -10px;
        bottom: 0;*/
    }

    #But_ManageOwner .dx-button-content {
        height: inherit;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 10px;
    }
</style>

<div id="Frm_Vehicle_Window_ParentDiv">
    @using (Ajax.BeginForm("Frm_Vehicles_Window_SaveClick", "ProfilePaymentVoucher",
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "Frm_Vehicle_Window_Content",
            InsertionMode = InsertionMode.InsertAfter,
            OnBegin = "AjaxBeginFormPost",
            OnSuccess = "Frm_Vehicle_Window_AjaxSuccessForm"
        },
        new
        {
            id = "ID_Frm_Vehicle_Window",
            @class = "edit_form  form-horizontal"
        }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Tag)
        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-8 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i>Vehicle</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label disabletxt" id="payment_vehicle_name">Item Name:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9 prm ">
                                    @(Html.DevExtreme().TextBoxFor(x => x.BE_ItemName).CustomTextBox().ID("BE_ItemName").Name("BE_ItemName").Placeholder("Type Item Name...").ReadOnly(true).FocusStateEnabled(false).Value(Model.BE_ItemName))
                                    @Html.ValidationMessageFor(model => model.BE_ItemName, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Item name]-->
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label text-red" id="payment_vehicle_location">Location:</label></div>
                                <div class="col-sm-7 col-md-7 col-lg-7 prm ">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("LocList").Name("LocList").ValueExpr("AL_ID").DisplayExpr("Location_Name").DataSource(Model.LocationListData,"AL_ID").Value(Model.LocList)
                                                       .Placeholder("Select Location....").OnValueChanged("Frm_Vehicle_Window_LocList_OnValueChanged").ContentTemplate(@<text> @Html.Partial("Frm_Vehicle_Window_GLookUp_LocList") </text>).ReadOnly(isvisible))
                                    @Html.ValidationMessageFor(model => model.LocList, "", new { @class = "text-red" })
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 pll">
                                    @(Html.DevExtreme().Button().ID("But_Loc_vehicle").Text("Add Location").OnClick("Vehicle_addLocation").Disabled(isvisible) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[location]-->
            </div><!--[Name/Location]-->
            <div class="row" @*style="margin-top:4px"*@>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <fieldset class="default-fieldset">
                                <legend class="custom-legend mlm">Vehicle Detail :</legend>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <label class="control-label" id="payment_vehicle_company">Make/Company:</label><br />
                                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().AcceptCustomValue(true).OnCustomItemCreating("MakeCustomItemCreating_Vehicle").ID("Cmd_Make").Name("Cmd_Make").DataSource(Model.MakeListData,"Name").DisplayExpr("Name").ValueExpr("Name").Placeholder("Select Make / Company...").OnFocusOut("Frm_Vehicle_Window_ChangeMake").ReadOnly(isvisible) )
                                                    @Html.ValidationMessageFor(model => model.Cmd_Make, "", new { @class = "text-red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Make/Company]-->
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <label class="control-label" id="payment_vehicle_Model">Model:</label><br />
                                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().AcceptCustomValue(true).OnCustomItemCreating("ModelCustomItemCreating_Vehicle").ID("Cmd_Model").Name("Cmd_Model").DataSource(Model.ModelListData,"Name").DisplayExpr("Name").ValueExpr("Name").Placeholder("Select Model...").ReadOnly(isvisible) )
                                                    @Html.ValidationMessageFor(model => model.Cmd_Model, "", new { @class = "text-red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Model]-->
                                </div><!--[Company/Model]-->
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <label class="control-label text-red" id="payment_vehicle_registration">Registration No.(New Pattern):</label>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        @(Html.DevExtreme().RadioGroup().ID("RAD_RegPattern").Name("RAD_RegPattern").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").ReadOnly(isvisible)
                                                                      .DataSource(new object[] { new { text = "New", value = "New" }, new { text = "Old", value = "Old" }, new { text = "Other", value = "Other" }, }).OnValueChanged("OnChange_RAD_RegPattern"))
                                                        @Html.ValidationMessageFor(model => model.RAD_RegPattern, "", new { @class = "text-red" })
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        @(Html.DevExtreme().TextBoxFor(x => x.Txt_RegNo).CustomTextBox(true).ID("Txt_RegNo").Name("Txt_RegNo").Value(Model.Txt_RegNo).ElementAttr("class", "uppercase").UseMaskedValue(true).ReadOnly(isvisible).OnValueChanged("Txt_RegNo_ValueChange").ShowClearButton(false) )
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Registration No.]-->
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <label class="control-label text-red" id="payment_vehicle_RegDate">Date Of First Registration:</label><br />
                                                    @(Html.DevExtreme().DateBoxFor(x => x.Txt_RegDate).CustomDateBox().ID("Txt_RegDate").Name("Txt_RegDate").ReadOnly(isvisible).Min(null)) 
                                                    @Html.ValidationMessageFor(model => model.Txt_RegDate, "", new { @class = "text-red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Registration Date]-->
                                </div><!--[Registration No/Date]-->
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div><!--[Vehicle Block]-->
            <div class="row" @*style="margin-top:4px"*@>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <fieldset class="default-fieldset">
                                <legend class="custom-legend mlm">Ownership Detail :</legend>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <label class="control-label text-red" id="payment_vehicle_ownwership">Ownership:</label><br />
                                                    @(Html.DevExtreme().SelectBox().ID("Cmd_Ownership").CustomSelectBox().Name("Cmd_Ownership").DataSource(new[] { "INSTITUTION", "INCHARGE" }).Placeholder("Select Ownership...").OnValueChanged("Frm_Vehicle_Window_ChangeCmd_Ownership").ReadOnly(isvisible) )
                                                    @Html.ValidationMessageFor(model => model.Cmd_Ownership, "", new { @class = "text-red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Ownership]-->
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div id="ownlist_div">
                                                        <label class="control-label text-red" id="payment_vehicle_OwnerName">Owner/Incharge Name:</label><br />
                                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("OwnList").Name("OwnList").ValueExpr("ID").DisplayExpr("Name").DataSource(Model.OwnerListData,"ID").Value(Model.OwnList).Placeholder("Select Ownership...").Disabled(true).ReadOnly(isvisible).ContentTemplate(@<text>@Html.Partial("Frm_Vehicle_Window_GLookUp_OwnList")</text>).OnValueChanged("Vehicle_owner_change"))
                                                        @(Html.DevExtreme().TextBoxFor(x => x.TextEdit1).CustomTextBox().ID("TextEdit1").Name("TextEdit1").Value(Model.TextEdit1).Visible(false).InputAttr("class", "text-gray").ReadOnly(isvisible))
                                                        @Html.ValidationMessageFor(model => model.OwnList, "", new { @class = "text-red" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Owner Name]-->
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div id="manageowner_div">
                                                        @(Html.DevExtreme().Button().ID("But_ManageOwner").Icon(Url.Content("../../../../Icons/manage user.png")).Text("Manage Owner").Width("100%").Height("inherit").Disabled(true).OnClick("vehicle_ManageParty_Click"))
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Manage Owner]-->
                                </div><!--[Ownership/Name]-->
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        <label class="control-label pll" id="payment_vehicle_documents">Documents:</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        @(Html.DevExtreme().CheckBoxFor(x => x.Chk_RC_Book).ID("Chk_RC_Book").Name("Chk_RC_Book").Value(Model.Chk_RC_Book).Text("R.C. Book").ReadOnly(isvisible))
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[R.C Book]-->
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    @(Html.DevExtreme().CheckBoxFor(x => x.Chk_Affidavit).ID("Chk_Affidavit").Name("Chk_Affidavit").Value(Model.Chk_Affidavit).Text("Affidavit").ReadOnly(isvisible))
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Affidavit]-->
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    @(Html.DevExtreme().CheckBoxFor(x => x.Chk_Will).ID("Chk_Will").Name("Chk_Will").Value(Model.Chk_Will).Text("Will").ReadOnly(isvisible))
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Will]-->
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    @(Html.DevExtreme().CheckBoxFor(x => x.Chk_Trf_Letter).ID("Chk_Trf_Letter").Name("Chk_Trf_Letter").Value(Model.Chk_Trf_Letter).Text("Transfer Letter").ReadOnly(isvisible))
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Transfer Letter]-->
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    @(Html.DevExtreme().CheckBoxFor(x => x.Chk_FU_Letter).ID("Chk_FU_Letter").Name("Chk_FU_Letter").Value(Model.Chk_FU_Letter).Text("Free Use Letter").ReadOnly(isvisible) )
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[FU Letter]-->
                                </div><!--[Documents]-->
                                <div class="row">
                                    <div class="form-field">
                                        <div class="container-fluid">
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                @(Html.DevExtreme().CheckBox().ID("Chk_OtherDoc").Name("Chk_OtherDoc").Text("Other Documents").OnValueChanged("OnChange_Chk_OtherDoc").ReadOnly(isvisible) )
                                            </div><!--[Other Documents check box]-->
                                            <div class="col-sm-10 col-md-10 col-lg-10">
                                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_OtherDoc").Name("Txt_OtherDoc").Placeholder("Type Any Other Documents Name...").Value(Model.Txt_OtherDoc).Disabled(true).MaxLength(100).ReadOnly(isvisible) )
                                            </div><!--[Other Document Text box]-->
                                        </div>
                                    </div>
                                </div><!--[Other Documents]-->

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div><!--[Ownwership Block]-->
            <div class="row" @*style="margin-top:4px"*@>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <fieldset class="default-fieldset">
                                <legend class="custom-legend mlm">Insurance Detail :</legend>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <label class="control-label text-red" id="payment_vehicle_InsuranceCompany">Insurance Company Name:</label><br />
                                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("InsList").Name("InsList").DataSource(Model.InsuranceListData,"ID").Value(Model.InsList).DisplayExpr("Name").ValueExpr("ID").Placeholder("Select Institute...").ReadOnly(isvisible))
                                                    @Html.ValidationMessageFor(model => model.InsList, "", new { @class = "text-red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Insurance Company]-->
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <label class="control-label text-red" id="payment_vehicle_Policy">Policy No.:</label><br />
                                                    @(Html.DevExtreme().TextBoxFor(x => x.Txt_PolicyNo).CustomTextBox(true,true).ID("Txt_PolicyNo").Name("Txt_PolicyNo").Placeholder("Type Policy No...").Value(Model.Txt_PolicyNo).ElementAttr(new Dictionary<string, object>() { { "class", "uppercase" } }).MaxLength(30).ReadOnly(isvisible).OnValueChanged("Txt_PolicyNo_ValueChange"))
                                                    @Html.ValidationMessageFor(model => model.Txt_PolicyNo, "", new { @class = "text-red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Policy No.]-->
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <label class="control-label text-red" id="payment_vehicle_expiry">Expiry Date:</label><br />
                                                    @(Html.DevExtreme().DateBoxFor(x => x.Txt_E_Date).CustomDateBox().ID("Txt_E_Date").Name("Txt_E_Date").Value(Model.Txt_E_Date).Placeholder("dd-MM-yyyy").ReadOnly(isvisible) )
                                                    @Html.ValidationMessageFor(model => model.Txt_E_Date, "", new { @class = "text-red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Expiry Date]-->
                                </div><!--[Insurance Name/Policy/Date]-->
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div><!--[Insurance Block]-->
            <div class="row" @*style="margin-top:4px"*@>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" id="payment_livestock_otherDetail">Other Details:</label></div>
                                <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                    @(Html.DevExtreme().TextBoxFor(x => x.Txt_Others).CustomTextBox(true).ID("Txt_Others").Name("Txt_Others").Placeholder("Type Any Other Details / Remarks...").Value(Model.Txt_Others).MaxLength(250).ReadOnly(isvisible))
                                    @Html.ValidationMessageFor(model => model.Txt_E_Date, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Other Details]-->

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Item Detail (Vehicle Detail)...)...", Model.Tag.ToString().Substring(1)))
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().CustomSaveButton().ID("Vehicle_Save").Text(Model.Tag == Common_Lib.Common.Navigation_Mode._New || Model.Tag == Common_Lib.Common.Navigation_Mode._Edit ? "Save" : "Delete").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("PaymentVehicle_Save").Visible(Model.Tag == Common_Lib.Common.Navigation_Mode._View ? false : true) )
                                @(Html.DevExtreme().Button().CustomCloseButton().ID("Vehicle_Cancel").Text(Model.Tag == Common_Lib.Common.Navigation_Mode._View ? "Close" : "Cancel").FocusStateEnabled(true).Type(DevExtreme.AspNet.Mvc.ButtonType.Normal).OnClick("CloseVehicleDetail") )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->

            @(Html.DevExtreme().Tooltip().ID("VehicleRegistration_tooltip").Target("#RAD_RegPattern").ShowEvent("dxhoverstart").HideEvent("dxhoverend").ContentTemplate(@<text> <div class="full-width-header-bg2">
                        <b>Registration No.Pattern:</b>
                        <dl>
                            <dt><b><u> New Pattern </u></b></dt>
                            <dd>
                                <font COLOR=blue><b> Example:   AA - 01 - AA - 1234 </b></font><br />
                                <font COLOR=NAVY>
                                    First two letters are Alphabets,<br />
                                    Next two letters are Numeric,<br />
                                    Next two letters are Alphabets,<br />
                                    Last four letters are Numeric.
                                </font>
                            </dd>
                            <dt><b><u> Old Pattern </u></b></dt>
                            <dd>
                                <font COLOR=BLUE><b> Example:   AAA - 1234 </b></font><br />
                                <font COLOR=NAVY>
                                    First three letters are Alphabets &<br />
                                    Last four letters are Numeric.
                                </font>
                            </dd>
                            <dt><b><u> Other Pattern </u></b></dt>
                            <dd>
                                <font COLOR=BLUE><b> Type any Alpha - Numeric letter </b></font><br />
                                <font COLOR=NAVY> upto 15 Characters.</font>
                            </dd>
                        </dl>
                    </div></text>))
        }
    }
</div>
<script>
    function vehicle_ManageParty_Click(e)
    {
        if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection")
        {
            ManageParty("Vehicle_Add_Party", "LookUp_GetOwnList", "Address Book (Ownership)...");         
        }
    }
</script>
<script>
    $(document).ready(async function ()
    {
        if ("@ProfileCore__AddRight" == "False")
        {
	        $("#But_Loc_vehicle").hide();
        }
        ShowLoader_Ready();
        $("#Cmd_Make").find("input").addClass("CleanTextForDB");
        $("#Cmd_Model").find("input").addClass("CleanTextForDB");
        TransformTextForDB("ID_Frm_Vehicle_Window");
        $("#manageowner_div").height($("#ownlist_div").height());
        $("#RAD_RegPattern").dxRadioGroup("instance").option("value", "New");
        await LookUp_GetOwnList(true);       
        await LookUp_GetLocList_Vehicle(true);
        if ("@From_DNK" == "True") //from DNK
        {
            $("#Calc_Allow_DNK_Itm").val(false);
        }
        else if ("@From_JV" == "True") //from JV
        {
            $("#Calc_Allow_JV_Itm").val(false);
        }
        else //from Payment
        {
            $("#Calc_Allow").val(false);
        }
        if ("@Model.Tag" == "_Edit" || "@Model.Tag" == "_View" || "@Model.Tag" == "_Delete")
        {
            await Frm_Vehicle_Window_LocList_OnValueChanged();
            if (TransformText("@Model.Cmd_Make").length > 0)
            {
                AddCustomDatatoMake();
            }
            if (TransformText("@Model.Cmd_Model").length > 0)
            {
                AddCustomDatatoModel();
            }
            $("#RAD_RegPattern").dxRadioGroup("instance").option("value", "@Model.RAD_RegPattern");
            $("#Txt_RegNo").dxTextBox("instance").option("value", TransformText("@Model.Txt_RegNo"));
            $("#Cmd_Ownership").dxSelectBox("instance").option("value", "@Model.Cmd_Ownership");
            await Vehicle_owner_change();
            $("#Chk_OtherDoc").dxCheckBox("instance").option("value", "@Model.Chk_OtherDoc"=="True"?true:false);
            $("#Txt_OtherDoc").dxTextBox("instance").option("value", TransformText("@Model.Txt_OtherDoc"));
        }
        Set_Form_View_Delete_Mode(null, "ID_Frm_Vehicle_Window", "@Model.Tag");
        Focus_FirstEditable_Field("ID_Frm_Vehicle_Window");
        HideLoader_Ready();       
    });
    function Frm_Vehicle_Window_AjaxSuccessForm(data)
    {
        HideLoader();
        if (data.jsonParam.result == false) {
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult) {
                if (alertResult) {
                    if (data.jsonParam.focusid) {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function () {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result)
        {
            if ("@From_DNK" == "True")
            {
                $("#VI_MAKE_DNK_Itm").val($("#Cmd_Make").dxSelectBox('instance').option("value"));
                $("#VI_MODEL_DNK_Itm").val($("#Cmd_Model").dxSelectBox('instance').option("value"));
                $("#VI_REG_NO_PATTERN_DNK_Itm").val($("#RAD_RegPattern").dxRadioGroup('instance').option("value"));
                $("#VI_REG_NO_DNK_Itm").val($("#Txt_RegNo").dxTextBox('instance').option("value"));
                if (isValidDate(data.VI_REG_DATE))
                {
                    $("#VI_REG_DATE_DNK_Itm").val(data.VI_REG_DATE);
                }
                $("#VI_OWNERSHIP_DNK_Itm").val($("#Cmd_Ownership").dxSelectBox('instance').option("value"));
                var _Owner_Free_Itm = "";
                if ($("#Cmd_Ownership").dxSelectBox('instance').option("value") == "INCHARGE")
                {
                    _Owner_Free_Itm = $("#OwnList").dxDropDownBox('instance').option("value");
                }
                $("#VI_OWNERSHIP_AB_ID_DNK_Itm").val(_Owner_Free_Itm);

                $("#VI_DOC_RC_BOOK_DNK_Itm").val($("#Chk_RC_Book").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_AFFIDAVIT_DNK_Itm").val($("#Chk_Affidavit").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_WILL_DNK_Itm").val($("#Chk_Will").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_TRF_LETTER_DNK_Itm").val($("#Chk_Trf_Letter").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_FU_LETTER_DNK_Itm").val($("#Chk_FU_Letter").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_OTHERS_DNK_Itm").val($("#Chk_OtherDoc").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_NAME_DNK_Itm").val($("#Txt_OtherDoc").dxTextBox('instance').option("value"));
                $("#VI_INSURANCE_ID_DNK_Itm").val($("#InsList").dxSelectBox('instance').option("value"));
                $("#VI_INS_POLICY_NO_DNK_Itm").val($("#Txt_PolicyNo").dxTextBox('instance').option("value"));
                if (isValidDate(data.VI_EXP_DATE))
                {
                    $("#VI_INS_EXPIRY_DATE_DNK_Itm").val(data.VI_EXP_DATE);
                }
                $("#X_LOC_ID_DNK_Itm").val($("#LocList").dxDropDownBox('instance').option("value"));
                $("#Txt_Remarks_DNK_Itm").dxTextBox('instance').option("value", $("#Txt_Others").dxTextBox('instance').option("value"));
                $("#Txt_Rate_DNK_Itm").dxNumberBox("instance").option("value", $("#Txt_Amount_DNK_Itm").dxNumberBox('instance').option("value"));

                Fill_Item_Grid_DonationInKindVoucher();

            }
            else if ("@From_JV" == "True")
            {
                $("#VI_MAKE_JV_Itm").val($("#Cmd_Make").dxSelectBox('instance').option("value"));
                $("#VI_MODEL_JV_Itm").val($("#Cmd_Model").dxSelectBox('instance').option("value"));
                $("#VI_REG_NO_PATTERN_JV_Itm").val($("#RAD_RegPattern").dxRadioGroup('instance').option("value"));
                $("#VI_REG_NO_JV_Itm").val($("#Txt_RegNo").dxTextBox('instance').option("value"));
                if (isValidDate(data.VI_REG_DATE))
                {
                    $("#VI_REG_DATE_JV_Itm").val(data.VI_REG_DATE);
                }
                $("#VI_OWNERSHIP_JV_Itm").val($("#Cmd_Ownership").dxSelectBox('instance').option("value"));
                var _Owner_Free_Itm = "";
                if ($("#Cmd_Ownership").dxSelectBox('instance').option("value") == "INCHARGE")
                {
                    _Owner_Free_Itm = $("#OwnList").dxDropDownBox('instance').option("value");
                }
                $("#VI_OWNERSHIP_AB_ID_JV_Itm").val(_Owner_Free_Itm);

                $("#VI_DOC_RC_BOOK_JV_Itm").val($("#Chk_RC_Book").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_AFFIDAVIT_JV_Itm").val($("#Chk_Affidavit").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_WILL_JV_Itm").val($("#Chk_Will").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_TRF_LETTER_JV_Itm").val($("#Chk_Trf_Letter").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_FU_LETTER_JV_Itm").val($("#Chk_FU_Letter").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_OTHERS_JV_Itm").val($("#Chk_OtherDoc").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_NAME_JV_Itm").val($("#Txt_OtherDoc").dxTextBox('instance').option("value"));
                $("#VI_INSURANCE_ID_JV_Itm").val($("#InsList").dxSelectBox('instance').option("value"));
                $("#VI_INS_POLICY_NO_JV_Itm").val($("#Txt_PolicyNo").dxTextBox('instance').option("value"));
                if (isValidDate(data.VI_EXP_DATE))
                {
                    $("#VI_INS_EXPIRY_DATE_JV_Itm").val(data.VI_EXP_DATE);
                }
                $("#X_LOC_ID_JV_Itm").val($("#LocList").dxDropDownBox('instance').option("value"));
                $("#Txt_Remarks_JV_Itm").dxTextBox('instance').option("value", $("#Txt_Others").dxTextBox('instance').option("value"));

                Fill_Item_Grid_JournalVoucher();
            }
            else      //Calling from Payments screen
            {
                $("#VI_MAKE").val($("#Cmd_Make").dxSelectBox('instance').option("value"));
                $("#VI_MODEL").val($("#Cmd_Model").dxSelectBox('instance').option("value"));
                $("#VI_REG_NO_PATTERN").val($("#RAD_RegPattern").dxRadioGroup('instance').option("value"));
                $("#VI_REG_NO").val($("#Txt_RegNo").dxTextBox('instance').option("value"));
                $("#VI_REG_DATE").val(data.VI_REG_DATE);
                var _Owner_Free = "";
                if ($("#Cmd_Ownership").dxSelectBox('instance').option("value") == "INCHARGE")
                {
                    _Owner_Free = $("#OwnList").dxDropDownBox('instance').option("value");
                }
                $("#VI_OWNERSHIP_AB_ID").val(_Owner_Free);
                $("#VI_OWNERSHIP").val($("#Cmd_Ownership").dxSelectBox('instance').option("value"));
                $("#VI_DOC_RC_BOOK").val($("#Chk_RC_Book").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_AFFIDAVIT").val($("#Chk_Affidavit").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_WILL").val($("#Chk_Will").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_TRF_LETTER").val($("#Chk_Trf_Letter").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_FU_LETTER").val($("#Chk_FU_Letter").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_OTHERS").val($("#Chk_OtherDoc").dxCheckBox('instance').option("value") == true ? "YES" : "NO");
                $("#VI_DOC_NAME").val($("#Txt_OtherDoc").dxTextBox('instance').option("value"));
                $("#VI_INSURANCE_ID").val($("#InsList").dxSelectBox('instance').option("value"));
                $("#VI_INS_POLICY_NO").val($("#Txt_PolicyNo").dxTextBox('instance').option("value"));                        $("#VI_INS_EXPIRY_DATE").val(data.VI_EXP_DATE);
                $("#X_LOC_ID").val($("#LocList").dxDropDownBox('instance').option("value"));
                $("#Txt_Remarks").dxTextBox('instance').option("value", $("#Txt_Others").dxTextBox('instance').option("value"));
                $("#Txt_Rate").dxNumberBox("instance").option("value", $("#Txt_Amt").dxNumberBox('instance').option("value"));
                Fillgrid1_PaymentVoucher();
            }
        }
    }
</script>
<script>
        @*document.body.addEventListener("keydown", PaymentItem_Vehicle, false);
    function PaymentItem_Vehicle(evt) {
        if (evt.ctrlKey && evt.keyCode == 83)//ctrl+s save
        {
            evt.preventDefault();
            if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection") {
                $("#Vehicle_Save").trigger("dxclick");
            }
        }
        else  if (evt.ctrlKey && evt.keyCode == 68)//ctrl+d delete
        {
            evt.preventDefault();
            if ("@Model.Tag" == "_Delete") {
                $("#Vehicle_Save").trigger("dxclick");
            }
        }
    }*@ //shortcuts
    var Vehiclies_Cmd_Make = "@Model.Cmd_Make";

    function Frm_Vehicle_Window_ChangeCmd_Ownership(e)
    {
        var evalue = $("#Cmd_Ownership").dxSelectBox("instance").option("value");
        if (evalue == "INSTITUTION")
        {
            $("#TextEdit1").dxTextBox("instance").option("visible", true);
            $("#TextEdit1").dxTextBox("instance").option("readOnly", true);
            $("#OwnList").dxDropDownBox("instance").reset();
            $("#OwnList").dxDropDownBox("instance").option("visible", false);
            $("#OwnList").dxDropDownBox("instance").option("disabled", true);            
            $("#But_ManageOwner").dxButton("instance").option("disabled", true);
        }
        else
        {
            $("#TextEdit1").dxTextBox("instance").option("visible", false);
            $("#OwnList").dxDropDownBox("instance").option("visible", true);
            $("#OwnList").dxDropDownBox("instance").option("disabled", false);
            if ("@isvisible" == "False")
            {
                $("#But_ManageOwner").dxButton("instance").option("disabled", false);
            }
        }
    }


    $("#Txt_PolicyNo").bind('paste', function (evt)
    {
        setTimeout(function ()
        {           
            evt.target.value = evt.target.value.replace(/[^a-zA-Z0-9-/?]/gi, '');
        });
    });
    $("#Txt_RegNo").bind('paste', function (evt)
    {
        if ($("#RAD_RegPattern").dxRadioGroup('instance').option("value") == "Other")
        {
            setTimeout(function ()
            {
                evt.target.value = evt.target.value.replace(/[^a-zA-Z0-9-/?]/gi, '');
            });
        }
    });

    $("#Txt_PolicyNo").keypress(function (e) {
        e = e || window.event;
        key = e.keyCode || e.which;
        //For Firefox
        if (key == 8 || key == 127 || key == 9)
            return true
        var txt = String.fromCharCode(key);
        var reg = /[a-zA-Z0-9-/?]/;
        if (reg.test(txt))
            return true;
        e.preventDefault();
        return false;
    });
    $("#Txt_RegNo").keypress(function (e) {

        if ($("#RAD_RegPattern").dxRadioGroup('instance').option("value") == "Other") {
            e = e || window.event;
            key = e.keyCode || e.which;
            //For Firefox
            if (key == 8 || key == 127 || key == 9)
                return true
            var txt = String.fromCharCode(key);
            var reg = /[a-zA-Z0-9-/?]/;
            if (reg.test(txt))
                return true;
            e.preventDefault();
            return false;
        }
    });

    function OnChange_RAD_RegPattern(e)
    {

        var value = $("#RAD_RegPattern").dxRadioGroup('instance').option("value");
        var Txt_RegNo = $("#Txt_RegNo").dxTextBox("instance");
        Txt_RegNo.reset();
        if (value == "New")
        {
            $("#payment_vehicle_registration").text("Registration No.(New Pattern)");
            Txt_RegNo.option
                ({
                    "mask": 'AA-NN-AA-NNNN',
                    "maskRules":
                    {
                        'A': /[A-Za-z]/,
                        'N': /[0-9]/
                    }
                });
           Txt_RegNo.option("isValid", true);

        }
        else if (value == "Old")
        {
            $("#payment_vehicle_registration").text("Registration No.(Old Pattern)");
            Txt_RegNo.option({
                "mask": 'AAA-NNNN',
                "maskRules": {
                    'A': /[A-Za-z]/,
                    'N': /[0-9]/
                }
            });
            Txt_RegNo.option("isValid", true);

        } else if (value == "Other")
        {
            $("#payment_vehicle_registration").text("Registration No.(Other Pattern)");
            Txt_RegNo.option("mask", '');
            Txt_RegNo.option("maskRules", {});
            Txt_RegNo.option("maxLength", 15);
            Txt_RegNo.option("isValid", true);
        }
    }
    function OnChange_Chk_OtherDoc(e)
    {
        if (e.value == "True" || e.value == true)
        {
            $("#Txt_OtherDoc").dxTextBox("instance").option("disabled", false);
            $("#Txt_OtherDoc").dxTextBox("instance").reset();
            $("#Txt_OtherDoc").dxTextBox("instance").focus();
        }
        else
        {
            $("#Txt_OtherDoc").dxTextBox("instance").option("disabled", true);
            $("#Txt_OtherDoc").dxTextBox("instance").option("value", "");
        }
    }

</script>
<script>
    var LocList_vehicle_DG;
    var Owner_DG;
    var dataSource_VehLocation_PrfPay = null;
    var dataSource_VehOwner_PrfPay = null;
    var dataSource_VehModel_PrfPay = null;
    async function LookUp_GetLocList_Vehicle(FirstCall = false)
    {
        var $LocList_vehicle_DG = $("#Frm_Window_GLookUp_LocList_datagrid");
        if ($LocList_vehicle_DG.length)
        {
            LocList_vehicle_DG = $LocList_vehicle_DG.dxDataGrid("instance");
            if (FirstCall === false)
            {
                ShowLoader();
                var DDvalue = $("#LocList").dxDropDownBox("instance").option("value");
                $.ajax({
                    type: 'GET',
                    url: "/Account/ProfilePaymentVoucher/RefreshLocationList",
                    cache: false,
                    success: function (data)
                    {
                        dataSource_VehLocation_PrfPay = new DevExpress.data.DataSource({ // need to dispose it in in clearreference
                            store:
                            {
                                type: "array",
                                key: "AL_ID",
                                data: data
                            }
                        });
                        $("#LocList").dxDropDownBox("instance").option("dataSource", dataSource_VehLocation_PrfPay);
                        LocList_vehicle_DG.option("dataSource", dataSource_VehLocation_PrfPay);
                        dataSource_VehLocation_PrfPay.load().done((r) =>
                        {
                            $("#LocList").dxDropDownBox("reset");
                            if (data.some(data => data.AL_ID === DDvalue))
                            {
                                $("#LocList").dxDropDownBox("instance").option("value", DDvalue);
                            }
                            VehLocation_Settings_PrfPay(FirstCall);
                            $("#LocList").dxDropDownBox("focus")
                            HideLoader();
                        })
                    }
                });
            }
            else
            {
                VehLocation_Settings_PrfPay(FirstCall);
            }
        }
    }
    async function VehLocation_Settings_PrfPay(FirstCall)
        {
            var DGItem = GetDataSourceItems("LocList", "dxDropDownBox");
            var TotalCount = DGItem.length;
            if (TotalCount == 1)
            {
                if (FirstCall === true)
                {
                    await Frm_Vehicle_Window_LocList_OnValueChanged();
                }
                else
                {
                    $("#LocList").dxDropDownBox("instance").option("value", DGItem[0].AL_ID);
                }
                Control_SetReadOnly("LocList", "dxDropDownBox", true, "#696969");
            }
            else
            {
                Control_SetReadOnly("LocList", "dxDropDownBox", false);
            }
            if (TotalCount > 1)
            {
                $("#payment_vehicle_location").addClass("text-red");
            }
            else
            {
                $("#payment_vehicle_location").removeClass("text-red");
            }
        }
    async function Frm_Vehicle_Window_LocList_OnValueChanged(e)
    {
        var LocID;
        if (e)
        {
            LocID = e.value;
            if (e.value == null && e.previousValue != null)
            {
                LocList_vehicle_DG.clearSelection();
                return;
            }
        }
        else
        {
            LocID = $("#LocList").dxDropDownBox("instance").option("value");
        }
        await LocList_vehicle_DG.selectRows(LocID);
    }
    function Vehicle_addLocation(e)
    {
         if ("@ProfileCore__AddRight" == "False")
         {
             DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
             return;
        }
        ShowLoader();
         $.ajax({
             type: 'GET',
             url: "/Account/ProfilePaymentVoucher/AddLocations_Check",
             data: { ActionMethod: "New" },
             cache: false,
             success: function (data)
             {
                 HideLoader();
                 if (data.result)
                 {
                     ShowLoader();
                     $.ajax({
                         type: 'GET',
                         url: "/Account/ProfilePaymentVoucher/Frm_Location_Window",
                         data: {
                             ActionMethod: "New",
                             PopupID: "PaymentAddLocation",
                             DropdownRefreshFunction: "LookUp_GetLocList_Vehicle"
                         },
                         cache: false,
                         success: function (data)
                         {
                             ShowLoader();
                             OpenPopup("PaymentAddLocation", "New ~ Location", null, "auto", 400, true, data);
                         }
                     });
                 }
                 else
                 {
                     DevExpress.ui.dialog.alert(data.message, "Error").done(function (result) { $("#LocList").dxDropDownBox("focus") });
                 }
             }
         });
    }

    async function LookUp_GetOwnList(FirstCall = false)
    {
        var $Owner_DG = $("#Frm_Vehicle_Window_GLookUp_OwnList_datagrid");
        if ($Owner_DG.length)
        {
            Owner_DG = $Owner_DG.dxDataGrid("instance");
            if (FirstCall === false)
            {
                ShowLoader();
                var DDvalue = $("#OwnList").dxDropDownBox("instance").option("value");
                $.ajax({
                    type: 'GET',
                    url: "/Account/ProfilePaymentVoucher/RefreshOwnerList",
                    cache: false,
                    success: function (data)
                    {
                        dataSource_VehOwner_PrfPay = new DevExpress.data.DataSource({ // need to dispose it in in clearreference
                            store:
                            {
                                type: "array",
                                key: "ID",
                                data: data
                            }
                        });
                        $("#OwnList").dxDropDownBox("instance").option("dataSource", dataSource_VehOwner_PrfPay);
                        Owner_DG.option("dataSource", dataSource_VehOwner_PrfPay);
                        dataSource_VehOwner_PrfPay.load().done((r) =>
                        {
                            $("#OwnList").dxDropDownBox("reset");
                            if (data.some(data => data.ID === DDvalue))
                            {
                                $("#OwnList").dxDropDownBox("instance").option("value", DDvalue);
                            }
                            $("#OwnList").dxDropDownBox("focus");
                            HideLoader();
                        })
                    }
                });
            }
        }
    }
    async function Vehicle_owner_change(e)
    {
        var OwnerID;
        if (e)
        {
            OwnerID = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null)
            {
                Owner_DG.clearSelection();
                return;
            }
        }
        else
        {
            OwnerID = $("#OwnList").dxDropDownBox("instance").option("value");
        }
        await Owner_DG.selectRows(OwnerID);
    }

    async function Frm_Vehicle_Window_ChangeMake(e,FirstCall=false)
    {
        $("#Cmd_Model").dxSelectBox("instance").reset();
        Vehiclies_Cmd_Make = $("#Cmd_Make").dxSelectBox("instance").option("value");
        if (FirstCall == false)
        {
            await Get_Vehicle_Model_List(FirstCall);
        }
        //$("#Cmd_Model").dxSelectBox("instance").focus();
    }
    async function Get_Vehicle_Model_List(FirstCall = false)
    {
        if (FirstCall == false)
        {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/ProfilePaymentVoucher/RefreshModelList",
                cache: false,
                data:
                {
                    Cmd_Make: Vehiclies_Cmd_Make
                },
                success: function (data)
                {
                    dataSource_VehModel_PrfPay = new DevExpress.data.DataSource({ // need to dispose it in in clearreference
                        store:
                        {
                            type: "array",
                            key: "Name",
                            data: data
                        }
                    });
                    $("#Cmd_Model").dxSelectBox("instance").option("dataSource", dataSource_VehModel_PrfPay);
                    dataSource_VehModel_PrfPay.load().done((r) => { HideLoader(); });
                }
            });
        }
    }
    function MakeCustomItemCreating_Vehicle(e)
    {
        if (e.text == null || e.text.length == 0) {
            e.customItem = null;
            return;
        }
        var dataSource = e.component.getDataSource();
        var newItem = { Name: e.text, ID: e.text };
        var result = dataSource.store().insert(newItem);

        result.done(function ()
        {
            dataSource.reload().done(function ()
            {
                e.component.option("value", e.text);
                Vehiclies_Cmd_Make = e.text;
                //Get_Vehicle_Model_List();
            });
        })
        e.customItem = result;
    }
    function ModelCustomItemCreating_Vehicle(e)
    {
        if (e.text == null || e.text.length == 0)
        {
            e.customItem = null;
            return;
        }
        var dataSource = e.component.getDataSource();
        var newItem = { Name: e.text, ID: e.text };
        var result = dataSource.store().insert(newItem);
        dataSource.reload().done(function ()
        {
            e.component.option("value", e.text);
        });
        e.customItem = result;
    }
    function AddCustomDatatoMake()
    {
        var Cmd_Make = $("#Cmd_Make").dxSelectBox("instance");
        var dataSource = Cmd_Make.getDataSource();
        var dataItems = dataSource.items();
        var flag = false;
        for (var i = 0; dataItems.length > i; i++)
        {
            if (dataItems[i].Name == "@Model.Cmd_Make")
            {
                flag = true;
                break;
            }
        }
        if (flag == true)
        {
            Cmd_Make.option("value", "@Model.Cmd_Make");
        }
        else
        {
            var newItem = { Name: TransformText("@Model.Cmd_Make"), ID: TransformText("@Model.Cmd_Make") };
            var result = dataSource.store().insert(newItem);
            result.done(function ()
            {
                dataSource.reload().done(function ()
                {
                    Cmd_Make.option("value", TransformText("@Model.Cmd_Make"));
                })
            })
        }
    }
    function AddCustomDatatoModel()
    {
        var Cmd_Model = $("#Cmd_Model").dxSelectBox("instance");
        var dataSource = Cmd_Model.getDataSource();
        var dataItems = dataSource.items();
        var flag = false;
        for (var i = 0; dataItems.length > i; i++)
        {
            if (dataItems[i].Name == "@Model.Cmd_Model")
            {
                flag = true;
                break;
            }
        }
        if (flag == true)
        {
            Cmd_Model.option("value", TransformText("@Model.Cmd_Model"));
        }
        else
        {
            var newItem = { Name: TransformText("@Model.Cmd_Model"), ID: TransformText("@Model.Cmd_Model") };
            var result = dataSource.store().insert(newItem);
            result.done(function ()
            {
                dataSource.reload().done(function ()
                {
                    Cmd_Model.option("value", TransformText("@Model.Cmd_Model"));
                })
            })
        }
    }
</script>@* location, and other select box init *@
<script>
    function Txt_PolicyNo_ValueChange(e)
    {
        var Txt_PolicyNo = $("#Txt_PolicyNo").dxTextBox("instance");
        if (e.value != null)
        {
            Txt_PolicyNo.option("value", Txt_PolicyNo.option("value").toUpperCase());
        }
    }
    function Txt_RegNo_ValueChange(e)
    {
        var itemName = "@Model.BE_ItemName".toUpperCase();
        var Txt_RegNo = $("#Txt_RegNo").dxTextBox("instance");
        if (itemName == "YO BIKE" || itemName == "CYCLE" || itemName == "GOLF CART")
        {
            if (e.value === "  -  -  -" || e.value === "   -")
            {
                Txt_RegNo.reset();
            }
        }
        if (e.value != null) {
            Txt_RegNo.option("value", Txt_RegNo.option("value").toUpperCase());
        }
    }
    function PaymentVehicle_Save(e)
    {
        if (ValidateForm(e))
        {
            ShowLoader();
            if ($("#Txt_RegNo").dxTextBox('instance').option('isValid') == false)
            {
                HideLoader();
                DevExpress.ui.dialog.alert("Registration No. Is Invalid", "Error..").done(function ()
                {
                    $("#Txt_RegNo").dxTextBox('instance').focus();
                });
                return;
            }
            HideLoader();
            $("#ID_Frm_Vehicle_Window").submit();
        }
    }
    function CloseVehicleDetail()
    {
        if ("@From_DNK" == "True")
        {
            $("#Win_Gift_Item_Content_popup").dxPopup("hide");
        }
        else if ("@From_JV" == "True")
        {
            $("#JV_Item_Content_popup").dxPopup("hide");
        }
        else
        {
            $("#Frm_Voucher_Item_Content_popup").dxPopup("hide");
            //$("#Frm_Voucher_Item_popup").dxPopup("hide");
        }
    }
</script>
    </div>