
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.Frm_Property_Window_Model
@{ var isvisible = (Model.Tag == Common_Lib.Common.Navigation_Mode._View || Model.Tag == Common_Lib.Common.Navigation_Mode._Delete) ? true : false;}
<style>
    #propertwindow_address_parentdiv {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    #propertwindow_address_parentdiv .form-field 
    {     
        margin: 0px 0px;
        padding: 5px 4px 4px 4px;
        box-shadow: 1px 1px 0 0px #89b9eb inset, 1px 1px 0 0px #89b9eb;
        background: #dfebf8;
        background: -webkit-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        background: -o-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        background: -moz-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
    }
    #propertwindow_address_parentdiv .form-field:hover {
            background: #ffffff;
            background: -webkit-linear-gradient(to bottom, #dfebf8 0%, #ffffff 100%);
            background: -o-linear-gradient(to bottom, #dfebf8 0%, #ffffff 100%);
            background: -moz-linear-gradient(to bottom, #dfebf8 0%, #ffffff 100%);
            background: linear-gradient(to bottom, #dfebf8 0%, #ffffff 100%);
        }
        #propertwindow_address_parentdiv.edit_form {
            padding-right: 1px;
        }

            #propertwindow_address_parentdiv.edit_form [class*=col-], #propertwindow_address_parentdiv.edit_form .row, #propertwindow_address_parentdiv.edit_form .container-fluid {
                padding: 0;
                margin: 0;
            }

    #propertwindow_address_parentdiv.edit_form [class*="col-"] {
    }
    </style>
<div class="edit_form form-horizontal" id="propertwindow_address_parentdiv">

    @using (Html.DevExtreme().ValidationGroup("paymentVoucher_LB_propertyaddress"))
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-1">
                                @Html.Label("Old Address:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-11">
                                @(Html.DevExtreme().TextArea().ID("Txt_Address").Name("Txt_Address").Value(Model.Txt_Address).ReadOnly(true) )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Old Address]-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-1">
                                @Html.Label("Line1:", htmlAttributes: new { @class = "control-label text-red" })
                            </div>
                            <div class="col-md-11">
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Add1").Name("Txt_R_Add1").Value(Model.Txt_R_Add1).MaxLength(100).Placeholder("Type Address Line 1...") )
                                @Html.ValidationMessageFor(model => model.Txt_R_Add1, "", new { @class = "text-red" })
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Line 1]-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-1">
                                @Html.Label("Line2:", htmlAttributes: new { @class = "control-label " })
                            </div>
                            <div class="col-md-11">
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Add2").Name("Txt_R_Add2").Value(Model.Txt_R_Add2).MaxLength(100).Placeholder("Type Address Line 2...") )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Line 2]-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-1">
                                @Html.Label("Line3:", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-11">
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Add3").Name("Txt_R_Add3").Value(Model.Txt_R_Add3).MaxLength(100).Placeholder("Type Address Line 3...") )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Line 3]-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-1">
                                @Html.Label("Line4:", htmlAttributes: new { @class = "control-label " })
                            </div>
                            <div class="col-md-11">
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_R_Add4").Name("Txt_R_Add4").Value(Model.Txt_R_Add4).MaxLength(100).Placeholder("Type Address Line 4...") )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Line 4]-->
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-2">
                                @Html.Label("State:", htmlAttributes: new { @class = "control-label  text-red" })
                            </div>
                            <div class="col-md-10">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_StateList").Name("GLookUp_StateList").DataSource(Model.StateListData,"R_ST_REC_ID").Value(Model.GLookUp_StateList)
                      .ValueExpr("R_ST_REC_ID").DisplayExpr("R_ST_NAME").Placeholder("Select State...").OnValueChanged("ChangeBuildingAddressState").ReadOnly(true).ContentTemplate(@<text> @Html.Partial("LookUp_Get_StateList") </text>))
                                @Html.ValidationMessageFor(model => model.GLookUp_StateList, "", new { @class = "text-red" })
                            </div>
                        </div>
                    </div>
                </div><!--[State]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-2">
                                @Html.Label("District:", htmlAttributes: new { @class = "control-label  text-red" })
                            </div>
                            <div class="col-md-10">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_DistrictList").Name("GLookUp_DistrictList").ValueExpr("R_DI_REC_ID").DisplayExpr("R_DI_NAME").DataSource(Model.DistrictListData, "R_DI_REC_ID")
                                      .Placeholder("Select District...").OnValueChanged("ChangeBuildingAddressDistrict").ReadOnly(true).ContentTemplate(@<text> @Html.Partial("LookUp_Get_DistrictList") </text>).Value(Model.GLookUp_DistrictList))
                                @Html.ValidationMessageFor(model => model.GLookUp_DistrictList, "", new { @class = "text-red" })
                            </div>
                        </div>
                    </div>
                </div><!--[District]-->
            </div><!--[State/District]-->
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-2">
                                @Html.Label("City:", htmlAttributes: new { @class = "control-label  text-red" })
                            </div>
                            <div class="col-md-10">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_CityList").Name("GLookUp_CityList").ValueExpr("R_CI_REC_ID").DisplayExpr("R_CI_NAME").DataSource(Model.CityListData, "R_CI_REC_ID")
                                      .Placeholder("Select City...").ReadOnly(true).OnValueChanged("ChangeBuildingAddressCity").ContentTemplate(@<text> @Html.Partial("LookUp_Get_CityList") </text>).Value(Model.GLookUp_CityList))
                                @Html.ValidationMessageFor(model => model.GLookUp_CityList, "", new { @class = "text-red" })
                            </div>
                        </div>
                    </div>
                </div><!--[City]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-2">
                                @Html.Label("PinCode:", htmlAttributes: new { @class = "control-label  text-red" })
                            </div>
                            <div class="col-md-10">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_R_Pincode").Name("Txt_R_Pincode").Value(Model.Txt_R_Pincode).MaxLength(10).Placeholder("Pincode...").ShowMaskMode(ShowMaskMode.OnFocus))
                                @Html.ValidationMessageFor(model => model.Txt_R_Pincode, "", new { @class = "text-red" })
                            </div>
                        </div>
                    </div>
                </div><!--[Pincode]-->
            </div><!--[City/pincode]-->
            <div class="row">
                <div class="col-md-12">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("Ok_PropertyBuildingAddress").Text("Ok").OnClick("OnPropertyAddressOKClick").UseSubmitBehavior(false) )
                    </div>
                </div>
            </div><!--[Button]-->
        </div>
    }
</div>

    <script>
        $(document).ready(function () { TransformTextForDB("propertwindow_address_parentdiv"); })
        $("#Txt_R_Pincode").keypress(function (e) {
            e = e || window.event;
            key = e.keyCode || e.which;
            //For Firefox
            if (key == 8 || key == 127 || key == 9)
                return true
            var txt = String.fromCharCode(key);
            var reg = /[0-9]/;
            if (reg.test(txt))
                return true;
            e.preventDefault();
            return false;
        });
    </script>
