<div class="VoucherGSProfile_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.Payment_Frm_GoldSilver_Window_Model
    @{
        var isvisible = (Model.Tag == Common_Lib.Common.Navigation_Mode._View || Model.Tag == Common_Lib.Common.Navigation_Mode._Delete) ? true : false;
        bool ProfileCore__AddRight = (bool)ViewData["ProfileCore_AddRight"];
        bool From_DNK = (bool)ViewBag.FromDNK;
        bool From_JV = (bool)ViewBag.FromJV;
    }
    <div id="Frm_GoldSilver_Window_ParentDiv">
        @using (Ajax.BeginForm("Frm_GoldSilver_Window_SaveClick", "ProfilePaymentVoucher",
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "Frm_GoldSilver_Window_Content",
                                InsertionMode = InsertionMode.InsertAfter,
                                OnBegin = "AjaxBeginFormPost",
                                OnSuccess = "Frm_GoldSilver_Window_AjaxSuccessForm"
                            },
                            new
                            {
                                id = "ID_Frm_Voucher_Win_Gen_Pay_gs",
                                @class = "edit_form"
                            }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Tag)
            @Html.HiddenFor(x => x.MiscList_Text)

            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="full-width-header-bg2">
                    <div class="row">
                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Gold/Silver Detail</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                    </div>
                </div><!--[Header]-->
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.LabelFor(model => model.Cmd_Type, htmlAttributes: new { @class = "control-label disabletxt", @id = "payment_gs_cmdtype" })<br />
                                    @(Html.DevExtreme().TextBoxFor(x => x.Cmd_Type).CustomTextBox().ID("Cmd_Type").ReadOnly(true).FocusStateEnabled(false) )
                                    @Html.ValidationMessageFor(model => model.Cmd_Type, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Type]-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.LabelFor(model => model.BE_ItemName, htmlAttributes: new { @class = "control-label disabletxt", @id = "payment_gs_itemname" })<br />
                                    @(Html.DevExtreme().TextBoxFor(x => x.BE_ItemName).CustomTextBox().ID("BE_ItemName").ReadOnly(true).FocusStateEnabled(false))
                                    @Html.ValidationMessageFor(model => model.BE_ItemName, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Item Name]-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.LabelFor(model => model.MiscList, htmlAttributes: new { @class = "control-label text-red", @id = "GSmisclist" })<br />
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("MiscList").Name("MiscList")
                                                      .ValueExpr("ID").DisplayExpr("Name").ReadOnly(isvisible)
                                                      .DataSource(Model.MiscListData,"ID").Value(Model.MiscList)
                                                      .Placeholder("Select Description...").OnValueChanged("Frm_GoldSilver_Window_MiscList_OnValueChanged")
                                                      .ContentTemplate(@<text> @Html.Partial("Frm_GoldSilver_Window_GLookUp_MiscList") </text>) )
                                    @Html.ValidationMessageFor(model => model.MiscList, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Description]-->
                </div><!--[Row 1]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label id="GStxtweight" class="control-label text-red">Weight(gm):</label></div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm ">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Weight").Name("Txt_Weight").ReadOnly(isvisible).Format("#0.000")
                                                          .Placeholder("Type Weight...").OnValueChanged("Frm_GoldSilver_Window_txtWeightChange").Max(999999.999) )
                                        @Html.ValidationMessageFor(model => model.Txt_Weight, "", new { @class = "text-red" })
                                    </div>
                                    <div class="col-sm-7 col-md-7 col-lg-7 pll">   <label class="control-label" for="Txt_Weight_Desc" id="Txt_Weight_Desc" name="Txt_Weight_Desc" text="" value=""></label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Weight]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" id="gold_location">Location:</label></div>
                                    <div class="col-sm-7 col-md-7 col-lg-7 prm ">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("LocList").Name("LocList").ValueExpr("AL_ID").DisplayExpr("Location_Name")
                                                          .DataSource(Model.LocationListData,"AL_ID").Placeholder("Select Location...")
                                                          .OnValueChanged("Frm_GoldSilver_Window_LocList_OnValueChanged").Value(Model.LocList)
                                                          .ContentTemplate(@<text> @Html.Partial("Frm_GoldSilver_Window_GLookUp_LocList") </text>).ReadOnly(isvisible) )
                                        @Html.ValidationMessageFor(model => model.LocList, "", new { @class = "text-red" })
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll prm ">
                                        @(Html.DevExtreme().Button().ID("goldaddLocation").Text("Add Location").OnClick("GSAddLocationClick").Disabled(isvisible))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Location]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label id="GSotherDetail" class="control-label">Other Details:</label></div>
                                    <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                        @(Html.DevExtreme().TextBoxFor(x => x.Txt_Others).CustomTextBox(true).ID("Txt_Others").Placeholder("Type Any Other Details/Remarks...").ReadOnly(isvisible) )
                                        @Html.ValidationMessageFor(model => model.Txt_Others, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Other details]-->


                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Item Detail (Gold / Silver Detail)...)...", Model.Tag.ToString().Substring(1)))
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="styleActionBtn">
                                    @if (Model.Tag == Common_Lib.Common.Navigation_Mode._New || Model.Tag == Common_Lib.Common.Navigation_Mode._Edit)
                                    {
                                        @(Html.DevExtreme().Button().CustomSaveButton().ID("GS_Save").Text("Save").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("SaveGSDetail") )
                                        @(Html.DevExtreme().Button().CustomCloseButton().ID("GS_Cancel").Text("Cancel").FocusStateEnabled(true).Type(DevExtreme.AspNet.Mvc.ButtonType.Normal).OnClick("CloseGSDetail"))
                                    }
                                    @if (Model.Tag == Common_Lib.Common.Navigation_Mode._View)
                                    {
                                        @(Html.DevExtreme().Button().CustomCloseButton().Text("Close").FocusStateEnabled(true).Type(DevExtreme.AspNet.Mvc.ButtonType.Normal).OnClick("CloseGSDetail"))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->




            }
        }

    </div>
    <script>

    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        TransformTextForDB("ID_Frm_Voucher_Win_Gen_Pay_gs");
        if ("@ProfileCore__AddRight" == "False")
        {
            $("#goldaddLocation").hide();
        }
        await Promise.all([LookUp_GetMiscList(true), LookUp_GetLocList_GS(true)]); //Redmine Bug #134888 fix
        if ("@Model.Tag" == "_Edit" || "@Model.Tag" == "_View" || "@Model.Tag" == "_Delete")
        {
            await Frm_GoldSilver_Window_MiscList_OnValueChanged();
            await Frm_GoldSilver_Window_LocList_OnValueChanged();
            $("#Txt_Weight").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Weight"));
        }
        if ("@From_DNK" == "True") // if called from DNK
        {
            $("#Calc_Allow_DNK_Itm").val(false);
        }
        else if ("@From_JV" == "True") // if called from JV
        {
            $("#Calc_Allow_JV_Itm").val(false);
        }
        else // if called from Payment
        {
            if ($("#TempActionMethod").val() == "_Edit" || $("#TempActionMethod").val() == "_View")
            {
                if ($("#AllowAmountEdit").val() == "False")
                {
                    $("#Txt_Weight").dxNumberBox({ inputAttr: { title: "Created asset has been referenced in other entries" } });
                    $("#Txt_Weight").dxNumberBox("instance").option("readOnly", true);
                }
            }
            $("#Calc_Allow").val(false);
        }
        Set_Form_View_Delete_Mode(null, "ID_Frm_Voucher_Win_Gen_Pay_gs", "@Model.Tag");
        Focus_FirstEditable_Field("ID_Frm_Voucher_Win_Gen_Pay_gs");
        HideLoader_Ready();    
    });

       @*document.body.addEventListener("keydown", PaymentItem_GS, false);
    function PaymentItem_GS(evt) {
        if (evt.ctrlKey && evt.keyCode == 83)//ctrl+s save
        {
            evt.preventDefault();
            if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection") {
                $("#GS_Save").trigger("dxclick");
            }
        }
    }*@ //shortcuts

    function Frm_GoldSilver_Window_AjaxSuccessForm(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result)
        {
            if ("@From_DNK" == "True") // if called from DNK
            {
                $("#GS_DESC_MISC_ID_DNK_Itm").val($("#MiscList").dxDropDownBox('instance').option("value"));
                $("#X_LOC_ID_DNK_Itm").val($("#LocList").dxDropDownBox('instance').option("value"));
                //$("#Txt_Qty_DNK_Itm").dxNumberBox("option", "value", $("#Txt_Weight").dxNumberBox('instance').option("value"));
                $("#GS_ITEM_WEIGHT_DNK_Itm").val($("#Txt_Weight").dxNumberBox('instance').option("value"));
                //$("#Txt_Rate_DNK_Itm").dxNumberBox("instance").option("value", $("#Txt_Amount_DNK_Itm").dxNumberBox('instance').option("value"));
                $("#Txt_Remarks_DNK_Itm").dxTextBox('instance').option("value", ($("#Txt_Others").dxTextBox('instance').option("value")));
                Fill_Item_Grid_DonationInKindVoucher();
            }
            else if ("@From_JV" == "True") // if called from JV
            {
                $("#GS_DESC_MISC_ID_JV_Itm").val($("#MiscList").dxDropDownBox('instance').option("value"));
                $("#X_LOC_ID_JV_Itm").val($("#LocList").dxDropDownBox('instance').option("value"));
                $("#GS_ITEM_WEIGHT_JV_Itm").val($("#Txt_Weight").dxNumberBox('instance').option("value"));
                $("#Txt_Qty_JV_Itm").dxNumberBox("option", "value", $("#Txt_Weight").dxNumberBox('instance').option("value"));
                $("#Txt_Remarks_JV_Itm").dxTextBox('instance').option("value", ($("#Txt_Others").dxTextBox('instance').option("value")));
                Fill_Item_Grid_JournalVoucher();
            }
            else      //Calling from Payments screen
            {
                $("#GS_DESC_MISC_ID").val($("#MiscList").dxDropDownBox('instance').option("value"));
                $("#X_LOC_ID").val($("#LocList").dxDropDownBox('instance').option("value"));
                $("#GS_ITEM_WEIGHT").val($("#Txt_Weight").dxNumberBox('instance').option("value"));
                //$("#Txt_Rate").dxNumberBox("instance").option("value",$("#Txt_Amt").dxNumberBox('instance').option("value"));
                $("#Txt_Remarks").dxTextBox('instance').option("value", ($("#Txt_Others").dxTextBox('instance').option("value")));
                Fillgrid1_PaymentVoucher();
            }
        }
    }
    function GSAddLocationClick(e)
    {
        if ("@ProfileCore__AddRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Account/ProfilePaymentVoucher/AddLocations_Check",
            data: { ActionMethod: "New" },
            cache: false,
            success: function (data)
            {
                HideLoader();
                if (data.result)
                {
                    ShowLoader();
                    $.ajax({
                        type: 'GET',
                        url: "/Account/ProfilePaymentVoucher/Frm_Location_Window",
                        data: {
                            ActionMethod: "New",
                            PopupID: "PaymentAddLocation",
                            DropdownRefreshFunction: "LookUp_GetLocList_GS" //redmine Bug #133151 fixed
                        },
                        cache: false,
                        success: function (data)
                        {
                            ShowLoader();
                            OpenPopup("PaymentAddLocation", "New ~ Location", null, "auto", 400, true, data);
                        }
                    });
                }
                else
                {
                    DevExpress.ui.dialog.alert(data.message, "Error").done(function (result) { $("#LocList").dxDropDownBox("focus") });
                }
            }
        });
    }
    </script>
    @* Document.ready,save sucees,add location *@
    <script>
        async function Frm_GoldSilver_Window_MiscList_OnValueChanged(e)
        {
            var miscID;
            if (e)
            {
                miscID = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null)
                {
                    MiscList_DG.clearSelection();
                    $("#MiscList_Text").val("");
                    return;
                }
            }
            else
            {
                miscID = $("#MiscList").dxDropDownBox("instance").option("value");
            }
            await MiscList_DG.selectRows(miscID);
            if (MiscList_DG.getSelectedRowsData().length > 0)
            {
                var item = MiscList_DG.getSelectedRowsData()[0];
                $("#MiscList_Text").val(item["Name"]);
            }
        }
        async function Frm_GoldSilver_Window_LocList_OnValueChanged(e)
        {
            var LocID;
            if (e)
            {
                LocID = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null)
                {
                    LocList_GS_DG.clearSelection();
                }
            }
            else {
                LocID = $("#LocList").dxDropDownBox("instance").option("value");
            }
            await LocList_GS_DG.selectRows(LocID);
        }
        function Frm_GoldSilver_Window_txtWeightChange(e)
        {
            var txtweightData = $("#Txt_Weight").dxNumberBox("instance").option("value");
            if (txtweightData > 0)
            {
                var kg_part = "kg", gm_part = "gm", mg_part = "mg";
                var gm_and_mg = txtweightData.toFixed(3).split('.');
                if ((parseFloat(gm_and_mg[0]) > 0))
                {
                    var kg_and_gm = parseFloat(gm_and_mg[0] / 1000).toFixed(3).split('.');
                    if ((parseFloat(kg_and_gm[0]) > 0))
                    {
                        $("#Txt_Weight_Desc").text(((parseFloat(kg_and_gm[0]))
                            + (kg_part
                                + (((parseFloat(kg_and_gm[1]) > 0) ? (", "
                                    + (parseFloat(kg_and_gm[1]) + gm_part)) : "") + ((parseFloat(gm_and_mg[1]) > 0) ? (" & "
                                        + (parseFloat(gm_and_mg[1]) + mg_part)) : "")))));
                    }
                    else
                    {
                        $("#Txt_Weight_Desc").text(((
                            (parseFloat(kg_and_gm[1]) > 0) ? (parseFloat(kg_and_gm[1]) + gm_part) : "") +
                            ((parseFloat(gm_and_mg[1]) > 0) ? (" & " + (parseFloat(gm_and_mg[1]) + mg_part)) : "")));
                    }
                }
                else
                {
                    $("#Txt_Weight_Desc").text(parseFloat(gm_and_mg[1]) + (" " + mg_part));
                }
            }
            else
            {
                $("#Txt_Weight_Desc").text("");
            }
        }
    </script>
    @* value change *@
    <script>
        var MiscList_DG;
        var LocList_GS_DG;
        var dataSource_GSLocation_PrfPay = null;
        async function LookUp_GetMiscList(FirstCall = false)
        {
            var $MiscList_DG = $("#Frm_GoldSilver_Window_GLookUp_MiscList_datagrid");
            if ($MiscList_DG.length)
            {
                MiscList_DG = $MiscList_DG.dxDataGrid("instance");          
            }
        }
        async function LookUp_GetLocList_GS(FirstCall = false)
        {
            var $LocList_GS_DG = $("#Frm_Window_GLookUp_LocList_datagrid");
            if ($LocList_GS_DG.length)
            {
                LocList_GS_DG = $LocList_GS_DG.dxDataGrid("instance");
                if (FirstCall === false)
                {
                    ShowLoader();
                    var DDvalue = $("#LocList").dxDropDownBox("instance").option("value");
                    $.ajax({
                        type: 'GET',
                        url: "/Account/ProfilePaymentVoucher/RefreshLocationList",
                        cache: false,
                        success: function (data)
                        {
                            dataSource_GSLocation_PrfPay = new DevExpress.data.DataSource({ // need to dispose it in in clearreference
                                store:
                                {
                                    type: "array",
                                    key: "AL_ID",
                                    data: data
                                }
                            });
                            $("#LocList").dxDropDownBox("instance").option("dataSource", dataSource_GSLocation_PrfPay);
                            LocList_GS_DG.option("dataSource", dataSource_GSLocation_PrfPay);
                            dataSource_GSLocation_PrfPay.load().done((r) =>
                            {
                                $("#LocList").dxDropDownBox("reset");
                                if (data.some(data => data.AL_ID === DDvalue))
                                {
                                    $("#LocList").dxDropDownBox("instance").option("value", DDvalue);
                                }
                                $("#LocList").dxDropDownBox("focus");
                                GSLocation_Settings_PrfPay(FirstCall);
                                HideLoader();
                            })
                        }
                    });
                }
                else
                {
                    GSLocation_Settings_PrfPay(FirstCall);
                }
            }
        }
        async function GSLocation_Settings_PrfPay(FirstCall)
        {
            var DGItem = GetDataSourceItems("LocList", "dxDropDownBox");
            var TotalCount = DGItem.length;
            if (TotalCount == 1)
            {
                if (FirstCall === true)
                {
                    await Frm_GoldSilver_Window_MiscList_OnValueChanged();
                }
                else
                {
                    $("#LocList").dxDropDownBox("instance").option("value", DGItem[0].AL_ID);
                }
                Control_SetReadOnly("LocList", "dxDropDownBox", true, "#696969");
            }
            else
            {
                Control_SetReadOnly("LocList", "dxDropDownBox", false);
            }
            if (TotalCount > 1)
            {
                $("#gold_location").addClass("text-red");
            }
            else
            {
                $("#gold_location").removeClass("text-red");
            }
        }
    </script>
    @* DD init *@
    <script>
    function CloseGSDetail()
    {
        if ("@From_DNK" == "True")
        {
            $("#Win_Gift_Item_Content_popup").dxPopup("hide");
        }
        else if ("@From_JV" == "True")
        {
            $("#JV_Item_Content_popup").dxPopup("hide");
        }
        else
        {
            $("#Frm_Voucher_Item_Content_popup").dxPopup("hide");
            //$("#Frm_Voucher_Item_popup").dxPopup("hide");
        }
    }
        function SaveGSDetail(e)
        {
            if (ValidateForm(e))
            {
                $("#ID_Frm_Voucher_Win_Gen_Pay_gs").submit();
            }
        }
    </script>
    </div>