<div class="VoucherPropertyProfile_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.Frm_Property_Window_Model
    @{
        var isvisible = (Model.Tag == Common_Lib.Common.Navigation_Mode._View || Model.Tag == Common_Lib.Common.Navigation_Mode._Delete) ? true : false;
        bool From_DNK = (bool)ViewBag.FromDNK;
        bool From_JV = (bool)ViewBag.FromJV;
    }
    <style>
        #Frm_Property_Window_ParentDiv {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
        #But_LB_ManageOwner .dx-icon {
            width: 32px;
            height: 32px;
            /*line-height: normal;*/
            left: 5px;
            /*     top: -10px;
        bottom: 0;*/
        }

        #But_LB_ManageOwner .dx-button-content {
            height: inherit;
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 15px;
        }
    </style>
    <div id="Frm_Property_Window_ParentDiv">

        @using (Ajax.BeginForm("Frm_Property_Window_BUT_SAVE_Click", "ProfilePaymentVoucher",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "Frm_Property_Window_popup",
                InsertionMode = InsertionMode.InsertAfter,
                OnBegin = "AjaxBeginFormPost",
                OnSuccess = "Frm_Property_Window_AjaxSuccessForm"
            },
            new
            {
                id = "ID_Frm_Property_Window_Form",
                @class = "edit_form form-horizontal"
            }))
        {
            @Html.HiddenFor(x => x.ActionMethodPropertyWindow)
            @Html.HiddenFor(x => x.Chk_OtherDoc)
            @Html.HiddenFor(x => x.Cmd_PUse_Text)
            @Html.HiddenFor(x => x.IsGift)
            @Html.HiddenFor(x => x.IsJV)
            @Html.HiddenFor(x => x.xID)
            using (Html.DevExtreme().ValidationGroup("paymentVoucher_LB"))
            {
                <div class="full-width-header-bg2">
                    <div class="row">
                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Land & Building</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div><!--[Header]-->
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <label class="control-label text-red" id="payment_LB_Category">Property Category:</label><br />
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmd_PCategory").Name("Cmd_PCategory").Items(new[] { "PURCHASED", "PURCHASED AND CONSTRUCTED", "LEASED (Long Term)", "LEASED AND CONSTRUCTED (Long Term)", "GIFTED", "GIFTED AND CONSTRUCTED" }).OnValueChanged("Cmd_PCategory_SelectedIndexChanged").ReadOnly(isvisible).Placeholder("Select..").Value(Model.Cmd_PCategory) )
                                    @Html.ValidationMessageFor(model => model.Cmd_PCategory, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Category]-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <label class="control-label text-red" id="payment_LB_Type">Property Type:</label><br />
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmd_PType").Name("Cmd_PType").Items(new[] { "LAND", "BUILDING", "FLAT", "FLAT (in Multiple Floor)" }).OnValueChanged("Cmd_PType_SelectedIndexChanged").ReadOnly(isvisible).Placeholder("Select.."))
                                    @Html.ValidationMessageFor(model => model.Cmd_PType, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Type]-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <label class="control-label text-red" id="payment_LB_Use">Use Of Property:</label><br />
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmd_PUse").Name("Cmd_PUse").ReadOnly(isvisible).Placeholder("Select..").DataSource(Model.PuseListData).ValueExpr("Index").DisplayExpr("Value").OnValueChanged("Cmd_PUse_SelectedIndexChanged").ReadOnly(isvisible).Value(Model.Cmd_PUse) )
                                    @Html.ValidationMessageFor(model => model.Cmd_PUse, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Use]-->
                </div><!--[Category/Type/Use]-->
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <label class="control-label text-red" id="payment_LB_Name">Property/Building Name:</label><br />
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_PName").Name("Txt_PName").Value(Model.Txt_PName).MaxLength(100).ReadOnly(isvisible).Placeholder("Type Property/Building Name.. ") )
                                    @Html.ValidationMessageFor(model => model.Txt_PName, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Name]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <label class="control-label text-red" id="payment_LB_Address">Property/Building Address:</label><br />
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Add").Name("Txt_Add").Value(Model.Txt_Add).OnKeyDown("LoadPropertyBuildingAddress_Popup").ReadOnly(isvisible).ElementAttr("OnClick", "LoadPropertyBuildingAddress_Popup()").ShowClearButton(false))
                                    @Html.ValidationMessageFor(model => model.Txt_Add, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Address]-->
                </div><!--[Name/Address]-->
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <label class="control-label text-red" id="payment_LB_ownership">Ownership:</label><br />

                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmd_Ownership").Name("Cmd_Ownership").ReadOnly(true).FocusStateEnabled(false).DataSource(new[] { "INSTITUTION", "THIRD PARTY" }).OnValueChanged("cmd_ownership_ValueChange").Value(Model.Cmd_Ownership).ReadOnly(true).ShowClearButton(false))
                                    @Html.ValidationMessageFor(model => model.Cmd_Ownership, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Ownership]-->
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div id="lb_ownershipDiv">
                                        <label class="control-label text-red" id="payment_LB_ownerName">Owner Name:</label><br />
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_OwnList").Name("Look_OwnList").ValueExpr("ID").DisplayExpr("Name").DataSource(Model.OwnerListData,"ID").Value(Model.Look_OwnList)
                                          .ContentTemplate(@<text>@Html.Partial("Frm_Property_Window_GLookUp_OwnList")</text>).ReadOnly(true).OnValueChanged("Property_OwnerName_Change").Placeholder("Select.."))
                                        @(Html.DevExtreme().TextBox().ID("TextEdit1").CustomTextBox().Name("TextEdit1").Value(Model.TextEdit1).ReadOnly(true).Visible(false))
                                        @Html.ValidationMessageFor(model => model.Look_OwnList, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Owner Name]-->
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div id="lb_manageownerDiv">
                                        @(Html.DevExtreme().Button().ID("But_LB_ManageOwner").Text("Manage Owner").Width("100%").Height("inherit").Disabled(true).OnClick("Property_ManageParty_Click").Icon(Url.Content("../../../../Icons/manage user.png")))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Manage Owner]-->
                </div><!--[Ownership]-->
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <label class="control-label text-red" id="payment_LB_survey">Survey No.:</label><br />
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_SNo").Name("Txt_SNo").Value(Model.Txt_SNo).MaxLength(100).ReadOnly(isvisible).Placeholder("Type Survey No..") )
                                    @Html.ValidationMessageFor(model => model.Txt_SNo, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Survey]-->
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <label class="control-label text-red" id="payment_LB_plotarea" style="white-space: nowrap;">Total Plot Area (Sq.Ft.):</label><br />
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Tot_Area").Name("Txt_Tot_Area").Value(Model.Txt_Tot_Area).Format("#0.00").ReadOnly(isvisible).Placeholder("Type Total Plot Area(Sq.Ft.).."))
                                    @Html.ValidationMessageFor(model => model.Txt_Tot_Area, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Plot Area]-->
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <label class="control-label text-red" id="payment_LB_constructedArea">Constructed Area(Sq.Ft.):</label><br />
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Con_Area").Name("Txt_Con_Area").Value(Model.Txt_Con_Area).Format("#0.00").ReadOnly(isvisible).Placeholder("Type Constructed Area(Sq.Ft.)..") )
                                    @Html.ValidationMessageFor(model => model.Txt_Con_Area, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Constructed Area]-->
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <label class="control-label text-red" id="payment_LB_constructionYear" style="white-space: nowrap;">Construction Year:</label><br />
                                    @(Html.DevExtreme().SelectBox().ID("Cmd_Con_Year").CustomSelectBox().Name("Cmd_Con_Year").Placeholder("Year..").DataSource(Model.Cmd_Con_Year_Bind).Value(Model.Cmd_Con_Year).ReadOnly(isvisible))
                                    @Html.ValidationMessageFor(model => model.Cmd_Con_Year, "")
                                </div>
                            </div>
                        </div>
                    </div><!--[Construction Year]-->
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <label class="control-label text-red" id="payment_LB_constructedRoof">RCC Constructed Roof:</label><br />
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmd_RccType").Name("Cmd_RccType").Value(Model.Cmd_RccType).DataSource(new[] { "YES", "NO" }).ReadOnly(isvisible).Placeholder("Select.."))
                                    @Html.ValidationMessageFor(model => model.Cmd_RccType, "")
                                </div>
                            </div>
                        </div>
                    </div><!--[Constructed Roof]-->
                </div><!--[Row 4]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                @(Html.DevExtreme().TabPanel().ID("PaymentLBTab").Items(items => {
                            items.Add().Title("Leased And Constructed (Long Term)").Template(@<text> @LeasedAndConstructedView() </text>);
                            items.Add().Title("Extended Property").Template(@<text> @ExtendedPropertyView() </text>);
                            items.Add().Title("Documents").Template(@<text> @DocumentsView() </text>);
                            }).DeferRendering(false))
                                @helper LeasedAndConstructedView()
                                {
                                    /**/
                                    @Html.Partial("LeasedConstructed_View", Model);
                                }
                                @helper ExtendedPropertyView()
                                {
                                    /**/
                                    @Html.Partial("ExtendedProperty_View", Model);
                                }
                                @helper DocumentsView()
                                {
                                    /**/
                                    @Html.Partial("LB_Documents_View", Model);
                                }
                            </div>
                        </div>
                    </div>
                </div><!--[Tabs]-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                @Html.Label("Other Details:", htmlAttributes: new { @class = "control-label col-md-2", @id = "Payment_LB_remarks" })
                                <div class="col-md-10">
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Remarks_Pw").Name("Txt_Remarks_Pw").Value(Model.Txt_Remarks_Pw).MaxLength(8000).ReadOnly(isvisible).Placeholder("Type any other detail / remarks..") )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Other Details]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Item Detail (Land & Building Detail)...)...", Model.Tag.ToString().Substring(1)))
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().CustomSaveButton().ID("LB_Save").Text(Model.Tag.ToString() == "_Delete" ? "Delete" : "Save").UseSubmitBehavior(false).OnClick("Payment_property_saveClick").Visible(Model.Tag.ToString() == "_View" ? false : true) )
                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("LB_Cancel").Text(Model.Tag.ToString() == "_View" ? "Close" : "Cancel").FocusStateEnabled(true).OnClick("ClosePropertyDetail"))

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->


                @(Html.DevExtreme().Popup().CustomPopup().ID("Frm_Property_Window_Property_Address_popup").Title("Property/Building Address...").Width(680).Height("auto").ShowCloseButton(false).CloseOnOutsideClick(true).ShowTitle(true).OnShowing("AddPropertyAddressPopupScroll").OnHiding("PopupContainerEdit1_Closed").ContentTemplate(@<text> <div id="result_Frm_Property_Window_Property_Address_popup"> @Html.Action("Frm_Property_Window_Property_Address", "ProfilePaymentVoucher", new { @area = "Account", @Txt_Address = Model.Txt_Address, @Txt_R_Add1 = Model.Txt_R_Add1, @Txt_R_Add2 = Model.Txt_R_Add2, @Txt_R_Add3 = Model.Txt_R_Add3, @Txt_R_Add4 = Model.Txt_R_Add4, @GLookUp_StateList = Model.GLookUp_StateList, @GLookUp_DistrictList = Model.GLookUp_DistrictList, @GLookUp_CityList = Model.GLookUp_CityList, @Txt_R_Pincode = Model.Txt_R_Pincode, @model = Model }) </div> </text>) )
            }
        }

    </div>

    @(Html.DevExtreme().Popup().CustomPopup().ID("Frm_Property_Window_Property_Ext_popup").Height("200").Width("350").CloseOnOutsideClick(false).ShowTitle(true).Title("New ~ Extended Property").ContentTemplate(@<text> <div id="result_Frm_Property_Window_Property_Ext_popup"> </div> </text>) )

<script>

    var resStateCode = "";
    var GLookUp_StateName = "";
    var GLookUp_DistrictName = "";
    var GLookUp_CityName = "";
    var DistrictID_OnMainCenter_Selection = "";
      var CityID_OnMainCenter_Selection = "";
      var StateDDvalueChangeFinishExecution = true;

    $(document).ready(async function ()
    {
        //debugger;
        ShowLoader_Ready();
        TransformTextForDB("ID_Frm_Property_Window_Form");
        if ("@From_DNK" == "True") //From DNK
        {
            $("#Calc_Allow_DNK_Itm").val(false);
        }
        else if ("@From_JV" == "True") //From JV
        {
            $("#Calc_Allow_JV_Itm").val(false);
        }
        else // From payment
        {
            $("#Calc_Allow").val(false);
        }
        $("#lb_manageownerDiv").height($("#lb_ownershipDiv").height());
        $("#Frm_Property_Window_Property_Address_popup").dxPopup("show");
        $("#Frm_Property_Window_Property_Address_popup").dxPopup("hide");
        InitAllDropdownDataGrid_LB();
        var pCategoryitem = $("#Cmd_PCategory").dxSelectBox('instance').option('items');
        var pTypeitem = $("#Cmd_PType").dxSelectBox('instance').option('items');
        var tabpanel = $("#PaymentLBTab").dxTabPanel("instance");
        tabpanel.option("items[0].visible", false);
        tabpanel.option("items[1].visible", false);
        tabpanel.option("selectedIndex", 2);
        await LookUp_Get_StateList(true);
        if ("@Model.IsGift" == "True")
        {
            pCategoryitem.shift();
            pCategoryitem.shift();
            pCategoryitem.shift();
            pCategoryitem.shift();
            $("#Cmd_PCategory").dxSelectBox('instance').option('items', pCategoryitem);
        }
        else if ("@Model.IsJV" == "False")
        {
            pCategoryitem.pop();
            pCategoryitem.pop();
            $("#Cmd_PCategory").dxSelectBox('instance').option('items', pCategoryitem);
        }
        await LookUp_GetOwnList_LB(true);
        if ("@Model.Tag" == "_Edit" || "@Model.Tag" == "_View" || "@Model.Tag" == "_Delete")
        {
            $("#Cmd_PType").dxSelectBox("instance").option("value", "@Model.Cmd_PType");
            Cmd_PCategory_SelectedIndexChanged(null, true);            
            Cmd_PUse_SelectedIndexChanged(null, true);
            $("#Txt_PName").dxTextBox("instance").option("value", TransformText("@Model.Txt_PName"));
            $("#Txt_Address").dxTextArea("instance").option("value", "@Model.Txt_Address");
            $("#Txt_Add").dxTextBox("instance").option("value", TransformText("@Model.Txt_Add"));
            if ("@Model.Txt_R_Add1".length > 0)
            {
                $("#Txt_R_Add1").dxTextBox("instance").option("value", TransformText("@Model.Txt_R_Add1"));
                $("#Txt_R_Add2").dxTextBox("instance").option("value", TransformText("@Model.Txt_R_Add2"));
                $("#Txt_R_Add3").dxTextBox("instance").option("value", TransformText("@Model.Txt_R_Add3"));
                $("#Txt_R_Add4").dxTextBox("instance").option("value", TransformText("@Model.Txt_R_Add4"));
                if ("@Model.GLookUp_StateList".length > 0)
                {
                    await ChangeBuildingAddressState(null, true);
                }
                Control_SetReadOnly("GLookUp_StateList", "dxDropDownBox", false);
                if ("@Model.GLookUp_DistrictList".length > 0)
                {
                    await ChangeBuildingAddressDistrict(null, true);
                }
                Control_SetReadOnly("GLookUp_DistrictList", "dxDropDownBox", false);
                if ("@Model.GLookUp_CityList".length > 0)
                {
                    await ChangeBuildingAddressCity(null, true);
                }
                Control_SetReadOnly("GLookUp_CityList", "dxDropDownBox", false);
                $("#Txt_R_Pincode").dxTextBox("instance").option("value", "@Model.Txt_R_Pincode");
                var Txt_R_Add1 = $("#Txt_R_Add1").dxTextBox('instance').option('value');
                var Txt_R_Add2 = $("#Txt_R_Add2").dxTextBox('instance').option('value');
                var Txt_R_Add3 = $("#Txt_R_Add3").dxTextBox('instance').option('value');
                var Txt_R_Add4 = $("#Txt_R_Add4").dxTextBox('instance').option('value');
                var Txt_R_Pincode = $("#Txt_R_Pincode").dxTextBox('instance').option('value');
                var Address = Txt_R_Add1 + (Txt_R_Add2 != null && Txt_R_Add2.length > 0 ? ", " + Txt_R_Add2 : "") +
                    (Txt_R_Add3 != null && Txt_R_Add3.length > 0 ? ", " + Txt_R_Add3 : "") +
                    (Txt_R_Add4 != null && Txt_R_Add4.length > 0 ? ", " + Txt_R_Add4 : "") + ", " + (GLookUp_CityName == null ? "" : GLookUp_CityName.toUpperCase()) +
                    ",Dist. " + (GLookUp_DistrictName == null ? "" : GLookUp_DistrictName) + ", " + (GLookUp_StateName == null ? "" : GLookUp_StateName) + "-" + Txt_R_Pincode;
                $("#Txt_Add").dxTextBox({ value: TransformText(Address) });
            }
            cmd_ownership_ValueChange(null, true);
            if ("@Model.Look_OwnList".length > 0)
            {
                Property_OwnerName_Change();
            }
            $("#Txt_SNo").dxTextBox("instance").option("value", TransformText("@Model.Txt_SNo"));
            $("#Txt_Tot_Area").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Tot_Area"));
            $("#Txt_Con_Area").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Con_Area"));
            $("#Cmd_Con_Year").dxSelectBox("instance").option("value", "@Model.Cmd_Con_Year");
            $("#Cmd_RccType").dxSelectBox("instance").option("value", "@Model.Cmd_RccType");

            $("#Chk_OtherDoc_temp").dxCheckBox("instance").option("value", "@Model.Chk_OtherDoc"=="True"?true:false);
            $("#Txt_OtherDoc").dxTextBox("instance").option("value", TransformText("@Model.Txt_OtherDoc")); /*RedmineBug#134887*/
        }
        var CmdType_Instance = $("#Cmd_PType").dxSelectBox('instance');
        if ("@Model.ITEM_ID" == "f8f4b6c3-f340-4e99-892b-16ebf33c8c28")
        {
            pTypeitem.splice(1, 1);
            pTypeitem.splice(1, 1);
            pTypeitem.splice(1, 1);
            CmdType_Instance.option('items', pTypeitem);
            CmdType_Instance.option('value', CmdType_Instance.option('items')[0]);
        }
        else if ("@Model.ITEM_ID" == "c4d9b556-6a36-41f5-8f56-245d2c6e0be4") {
            pTypeitem.splice(0, 1);
            pTypeitem.splice(1, 1);
            pTypeitem.splice(1, 1);
            CmdType_Instance.option('items', pTypeitem);
            CmdType_Instance.option('value', CmdType_Instance.option('items')[0]);
        }
        else if ("@Model.ITEM_ID" == "e769d245-0299-4737-9b74-55cc2147f389")
        {
            pTypeitem.splice(0, 1);
            pTypeitem.splice(0, 1);
            pTypeitem.splice(1, 1);
            CmdType_Instance.option('items', pTypeitem);
            CmdType_Instance.option('value', CmdType_Instance.option('items')[0]);
        }
        else if ("@Model.ITEM_ID" == "f90dfc01-7c18-447e-8331-3eae64288087")
        {
            pTypeitem.splice(0, 1);
            pTypeitem.splice(0, 1);
            pTypeitem.splice(0, 1);
            CmdType_Instance.option('items', pTypeitem);
            CmdType_Instance.option('value', CmdType_Instance.option('items')[0]);
        }
        Set_Form_View_Delete_Mode(null, "ID_Frm_Property_Window_Form", "@Model.Tag");
        Focus_FirstEditable_Field("ID_Frm_Property_Window_Form");
        HideLoader_Ready();      
    });
    @* document.body.addEventListener("keydown", PaymentItem_LB, false);
    function PaymentItem_LB(evt) {
        if (evt.ctrlKey && evt.keyCode == 79)//ctrl+o save
        {
            evt.preventDefault();
            if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection") {
                $("#LB_Save").trigger("dxclick");
            }
        }
        else if (evt.ctrlKey && evt.keyCode == 68)//ctrl+d delete
        {
            evt.preventDefault();
            if ("@Model.Tag" == "_Delete") {
                $("#LB_Save").trigger("dxclick");
            }
        }
    }*@ //shortcuts
    function Lb_setDisable()
    {
        var list = document.getElementById("ID_Frm_Property_Window_Form").getElementsByTagName("LABEL");
        for (var i = 0; i < list.length; i++)
        {
            var labelid = "#" + list[i].id;
            $(labelid).addClass("disabletxt").removeClass("text-red");
        }
    }
    function Frm_Property_Window_AjaxSuccessForm(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            var alertclick = DevExpress.ui.dialog.alert( data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    switch (data.jsonParam.focusid)
                    {
                        case "Cmd_PCategory":
                            $("#Cmd_PCategory").dxSelectBox("instance").focus();
                            break;
                        case "Cmd_PType":
                            $("#Cmd_PType").dxSelectBox("instance").focus();
                            break;
                        case "Cmd_PUse":
                            $("#Cmd_PUse").dxSelectBox("instance").focus();
                            break;
                        case "Txt_PName":
                            $("#Txt_PName").dxTextBox("instance").focus();
                            break;
                        case "Txt_Add":
                            $("#Txt_Add").dxTextBox("instance").focus();
                            break;
                        case "Txt_R_Add1":
                            $("#Frm_Property_Window_Property_Address_popup").dxPopup("show");
                            setTimeout(function () { $("#Txt_R_Add1").dxTextBox("instance").focus(); }, Timeout500);
                            break;
                        case "GLookUp_StateList":
                            $("#Frm_Property_Window_Property_Address_popup").dxPopup("show");
                            setTimeout(function () { $("#GLookUp_StateList").dxDropDownBox("instance").focus(); }, Timeout500);
                            break;
                        case "GLookUp_DistrictList":
                            $("#Frm_Property_Window_Property_Address_popup").dxPopup("show");
                            setTimeout(function () { $("#GLookUp_DistrictList").dxDropDownBox("instance").focus(); }, Timeout500);
                            break;
                        case "GLookUp_CityList":
                            $("#Frm_Property_Window_Property_Address_popup").dxPopup("show");
                            setTimeout(function () { $("#GLookUp_CityList").dxDropDownBox("instance").focus(); }, Timeout500);
                            break;
                        case "Txt_R_Pincode":
                            $("#Frm_Property_Window_Property_Address_popup").dxPopup("show");
                            setTimeout(function () { $("#Txt_R_Pincode").dxTextBox("instance").focus(); }, Timeout500);
                            break;
                        case "Cmd_Ownership":
                            $("#Cmd_Ownership").dxSelectBox("instance").focus();
                            break;
                        case "Look_OwnList":
                            $("#Look_OwnList").dxDropDownBox("instance").focus();
                            break;
                        case "Txt_SNo":
                            $("#Txt_SNo").dxTextBox("instance").focus();
                            break;
                        case "Txt_Tot_Area":
                            $("#Txt_Tot_Area").dxNumberBox("instance").focus();
                            break;
                        case "Txt_Con_Area":
                            $("#Txt_Con_Area").dxNumberBox("instance").focus();
                            break;
                        case "Cmd_Con_Year":
                            $("#Cmd_Con_Year").dxSelectBox("instance").focus();
                            break;
                        case "Cmd_RccType":
                            $("#Cmd_RccType").dxSelectBox("instance").focus();
                            break;
                        case "Txt_Dep_Amt":
                            $("#PaymentLBTab").dxTabPanel("instance").option("selectedIndex", 0);
                            $("#Txt_Dep_Amt").dxNumberBox("instance").focus();
                            break;
                        case "Txt_Mon_Rent":
                            $("#PaymentLBTab").dxTabPanel("instance").option("selectedIndex", 0);
                            $("#Txt_Mon_Rent").dxNumberBox("instance").focus();
                            break;
                        case "Txt_Other_Payments":
                            $("#PaymentLBTab").dxTabPanel("instance").option("selectedIndex", 0);
                            $("#Txt_Other_Payments").dxNumberBox("instance").focus();
                            break;
                        case "Txt_T_Date":
                            $("#PaymentLBTab").dxTabPanel("instance").option("selectedIndex", 0);
                            $("#Txt_T_Date").dxDateBox("instance").focus();
                            break;
                    }
                }
            });

        }
        else if (data.jsonParam.result == true)
        {
            debugger;
            if ("@From_DNK"=="True")
            {
                $("#LB_PRO_TYPE_DNK_Itm").val(data.LB_PRO_TYPE);
                $("#LB_PRO_CATEGORY_DNK_Itm").val(data.LB_PRO_CATEGORY);
                $("#LB_PRO_USE_DNK_Itm").val(data.LB_PRO_USE);
                $("#LB_PRO_NAME_DNK_Itm").val(data.LB_PRO_NAME);
                $("#LB_PRO_ADDRESS_DNK_Itm").val(data.LB_PRO_ADDRESS);
                $("#LB_ADDRESS1_DNK_Itm").val(data.LB_ADDRESS1);
                $("#LB_ADDRESS2_DNK_Itm").val(data.LB_ADDRESS2);
                $("#LB_ADDRESS3_DNK_Itm").val(data.LB_ADDRESS3);
                $("#LB_ADDRESS4_DNK_Itm").val(data.LB_ADDRESS4);
                $("#LB_STATE_ID_DNK_Itm").val(data.LB_STATE_ID);
                $("#LB_CITY_ID_DNK_Itm").val(data.LB_CITY_ID);
                $("#LB_DISTRICT_ID_DNK_Itm").val(data.LB_DISTRICT_ID);
                $("#LB_PINCODE_DNK_Itm").val(data.LB_PINCODE);
                $("#LB_OWNERSHIP_DNK_Itm").val(data.LB_OWNERSHIP);
                $("#LB_OWNERSHIP_PARTY_ID_DNK_Itm").val(data.LB_OWNERSHIP_PARTY_ID);
                $("#LB_SURVEY_NO_DNK_Itm").val(data.LB_SURVEY_NO);
                $("#LB_CON_YEAR_DNK_Itm").val(data.LB_CON_YEAR);
                $("#LB_RCC_ROOF_DNK_Itm").val(data.LB_RCC_ROOF);
                $("#LB_PAID_DATE_DNK_Itm").val(data.LB_PAID_DATE);
                $("#LB_PERIOD_FROM_DNK_Itm").val(data.LB_PERIOD_FROM);
                $("#LB_PERIOD_TO_DNK_Itm").val(data.LB_PERIOD_TO);
                $("#LB_DOC_OTHERS_DNK_Itm").val(data.LB_DOC_OTHERS);
                $("#LB_DOC_NAME_DNK_Itm").val(data.LB_DOC_NAME);
                $("#LB_OTHER_DETAIL_DNK_Itm").val($("#Txt_Remarks_DNK_Itm").dxTextBox('instance').option("value"));
                $("#LB_TOT_P_AREA_DNK_Itm").val(data.LB_TOT_P_AREA);
                $("#LB_CON_AREA_DNK_Itm").val(data.LB_CON_AREA);
                $("#LB_DEPOSIT_AMT_DNK_Itm").val(data.LB_DEPOSIT_AMT);
                $("#LB_MONTH_RENT_DNK_Itm").val(data.LB_MONTH_RENT);
                $("#LB_MONTH_O_PAYMENTS_DNK_Itm").val(data.LB_MONTH_O_PAYMENTS);
                $("#LB_REC_ID_DNK_Itm").val(data.LB_REC_ID);
                $('#List_LB_DOCS_ARRAY_DNK_Itm').val(JSON.stringify(data.return_LB_DOCS_ARRAY_List));
                $('#List_LB_EXTENDED_PROPERTY_TABLE_DNK_Itm').val(JSON.stringify(data.return_LB_EXTENDED_PROPERTY_TABLE_List));
                Fill_Item_Grid_DonationInKindVoucher();

            }
            else if ("@From_JV"=="True")
            {
                
                $("#LB_PRO_TYPE_JV_Itm").val(data.LB_PRO_TYPE);
                $("#LB_PRO_CATEGORY_JV_Itm").val(data.LB_PRO_CATEGORY);
                $("#LB_PRO_USE_JV_Itm").val(data.LB_PRO_USE);
                $("#LB_PRO_NAME_JV_Itm").val(data.LB_PRO_NAME);
                $("#LB_PRO_ADDRESS_JV_Itm").val(data.LB_PRO_ADDRESS);
                $("#LB_ADDRESS1_JV_Itm").val(data.LB_ADDRESS1);
                $("#LB_ADDRESS2_JV_Itm").val(data.LB_ADDRESS2);
                $("#LB_ADDRESS3_JV_Itm").val(data.LB_ADDRESS3);
                $("#LB_ADDRESS4_JV_Itm").val(data.LB_ADDRESS4);
                $("#LB_STATE_ID_JV_Itm").val(data.LB_STATE_ID);
                $("#LB_CITY_ID_JV_Itm").val(data.LB_CITY_ID);
                $("#LB_DISTRICT_ID_JV_Itm").val(data.LB_DISTRICT_ID);
                $("#LB_PINCODE_JV_Itm").val(data.LB_PINCODE);
                $("#LB_OWNERSHIP_JV_Itm").val(data.LB_OWNERSHIP);

                $("#LB_OWNERSHIP_PARTY_ID_JV_Itm").val(data.LB_OWNERSHIP_PARTY_ID);
                $("#LB_SURVEY_NO_JV_Itm").val(data.LB_SURVEY_NO);
                $("#LB_CON_YEAR_JV_Itm").val(data.LB_CON_YEAR);
                $("#LB_RCC_ROOF_JV_Itm").val(data.LB_RCC_ROOF);

                if (isValidDate(data.LB_PAID_DATE)) {
                    $("#LB_PAID_DATE_JV_Itm").val(data.LB_PAID_DATE);
                }
                if (isValidDate(data.LB_PERIOD_FROM)) {
                    $("#LB_PERIOD_FROM_JV_Itm").val(data.LB_PERIOD_FROM);
                }
                if (isValidDate(data.LB_PERIOD_TO)) {
                    $("#LB_PERIOD_TO_JV_Itm").val(data.LB_PERIOD_TO);
                }

                $("#LB_DOC_OTHERS_JV_Itm").val(data.LB_DOC_OTHERS);
                $("#LB_DOC_NAME_JV_Itm").val(data.LB_DOC_NAME);
                $("#LB_OTHER_DETAIL_JV_Itm").val($("#Txt_Remarks_Pw").dxTextBox('instance').option("value"));
                $("#LB_TOT_P_AREA_JV_Itm").val(data.LB_TOT_P_AREA);
                $("#LB_CON_AREA_JV_Itm").val(data.LB_CON_AREA);
                data.LB_DEPOSIT_AMT == null ? $("#LB_DEPOSIT_AMT_JV_Itm").val(0) : $("#LB_DEPOSIT_AMT_JV_Itm").val(data.LB_DEPOSIT_AMT);
                $("#LB_MONTH_RENT_JV_Itm").val(data.LB_MONTH_RENT);
                $("#LB_MONTH_O_PAYMENTS_JV_Itm").val(data.LB_MONTH_O_PAYMENTS);
                $("#LB_REC_ID_JV_Itm").val(data.LB_REC_ID);
                $('#List_LB_DOCS_ARRAY_JV_Itm').val(JSON.stringify(data.return_LB_DOCS_ARRAY_List));
                $('#List_LB_EXTENDED_PROPERTY_TABLE_JV_Itm').val(JSON.stringify(data.return_LB_EXTENDED_PROPERTY_TABLE_List));
                Fill_Item_Grid_JournalVoucher();

            }
            else      //Calling from Payments screen
            {
                $("#LB_PRO_TYPE").val(data.LB_PRO_TYPE);
                $("#LB_PRO_CATEGORY").val(data.LB_PRO_CATEGORY);
                $("#LB_PRO_USE").val(data.LB_PRO_USE);
                $("#LB_PRO_NAME").val(data.LB_PRO_NAME);
                $("#LB_PRO_ADDRESS").val(data.LB_PRO_ADDRESS);
                $("#LB_ADDRESS1").val(data.LB_ADDRESS1);
                $("#LB_ADDRESS2").val(data.LB_ADDRESS2);
                $("#LB_ADDRESS3").val(data.LB_ADDRESS3);
                $("#LB_ADDRESS4").val(data.LB_ADDRESS4);
                $("#LB_STATE_ID").val(data.LB_STATE_ID);
                $("#LB_CITY_ID").val(data.LB_CITY_ID);
                $("#LB_DISTRICT_ID").val(data.LB_DISTRICT_ID);
                $("#LB_PINCODE").val(data.LB_PINCODE);
                $("#LB_OWNERSHIP").val(data.LB_OWNERSHIP);
                $("#LB_OWNERSHIP_PARTY_ID").val(data.LB_OWNERSHIP_PARTY_ID);
                $("#LB_SURVEY_NO").val(data.LB_SURVEY_NO);
                $("#LB_CON_YEAR").val(data.LB_CON_YEAR);
                $("#LB_RCC_ROOF").val(data.LB_RCC_ROOF);
                $("#LB_PAID_DATE").val(data.LB_PAID_DATE);
                $("#LB_PERIOD_FROM").val(data.LB_PERIOD_FROM);
                $("#LB_PERIOD_TO").val(data.LB_PERIOD_TO);
                $("#LB_DOC_OTHERS").val(data.LB_DOC_OTHERS);
                $("#LB_DOC_NAME").val(data.LB_DOC_NAME);
                $("#LB_OTHER_DETAIL").val(data.LB_OTHER_DETAIL);
                $("#LB_TOT_P_AREA").val(data.LB_TOT_P_AREA);
                $("#LB_CON_AREA").val(data.LB_CON_AREA);
                $("#LB_DEPOSIT_AMT").val(data.LB_DEPOSIT_AMT);
                $("#LB_MONTH_RENT").val(data.LB_MONTH_RENT);
                $("#LB_MONTH_O_PAYMENTS").val(data.LB_MONTH_O_PAYMENTS);
                $("#LB_REC_ID").val(data.LB_REC_ID);
                //if (data.return_LB_DOCS_ARRAY_List.length > 0) {
                $('#List_LB_DOCS_ARRAY').val(JSON.stringify(data.return_LB_DOCS_ARRAY_List));
                //}
                //if (data.return_LB_EXTENDED_PROPERTY_TABLE_List.length > 0) {
                $('#List_LB_EXTENDED_PROPERTY_TABLE').val(JSON.stringify(data.return_LB_EXTENDED_PROPERTY_TABLE_List));
                //}
                Fillgrid1_PaymentVoucher();
                //$.ajax({
                //    type: 'GET',
                //    url: "/Account/ProfilePaymentVoucher/ClearPropertySession",
                //    cache: false
                //});
            }
        }
    }
    function LB_setvalidation()
    {
        var Cmd_PType = $("#Cmd_PType").dxSelectBox("instance").option("value");
        var Cmd_PCategory = $("#Cmd_PCategory").dxSelectBox("instance").option("value");
        Cmd_PType = (Cmd_PType == null ? "" : Cmd_PType);
        Cmd_PCategory = (Cmd_PCategory == null ? "" : Cmd_PCategory);
        $("#Cmd_Con_Year").dxSelectBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options)
                    {
                        var result = true;
                        if (Cmd_PType != "LAND")
                        {
                            if (options.value == "" || options.value ==null)
                            {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: " Construction Year Cannot Be Blank..!!"
                }],
                validationGroup: "paymentVoucher_LB"
            });

        $("#Txt_Con_Area").dxNumberBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (Cmd_PType != "LAND") {
                            if (options.value == "" || options.value == null || options.value == 0) {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: " Constructed Area Cannot Be Blank or Zero..!!"
                },
                    { type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (options.value < 0) {
                            result = false;
                        }
                        return result;
                    },
                    message: "Constructed Area Cannot Be Negative..!!"
                    }
                ],
                validationGroup: "paymentVoucher_LB"
            });

        $("#Txt_Tot_Area").dxNumberBox({})
            .dxValidator({
                validationRules: [
                    {
                    type: 'custom',
                    validationCallback: function (options)
                    {
                        var result = true;
                        if (Cmd_PType == "LAND" || Cmd_PType == "BUILDING")
                        {
                            if (options.value == "" || options.value == null )
                            {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: "Plot Area Cannot Be Blank Or Zero..!!"
                    },
                    {
                    type: 'custom',
                    validationCallback: function (options)
                    {
                        var result = true;
                        if (options.value < 0)
                        {
                           result = false;
                        }
                        return result;
                    },
             message: "Plot Area Cannot Be Negative..!!"
                    }],
                validationGroup: "paymentVoucher_LB"
            });

        $("#Cmd_RccType").dxSelectBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if (Cmd_PType != "LAND" || ((Cmd_PCategory.includes("PURCHASED") || Cmd_PCategory.includes("GIFTED") || Cmd_PCategory.includes("LEASED")) && Cmd_PType != "LAND")) {

                            if (options.value == "" ||options.value == null)
                            {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: "Constructed Roof Cannot Be Blank..!!"
                }],
                validationGroup: "paymentVoucher_LB"
            });
    }
</script>
    <script>
        function Cmd_PCategory_SelectedIndexChanged(e,FirstCall=false)
        {
            var value;
            if (e)
            {
                value = e.value;
            }
            else
            {
                value = $("#Cmd_PCategory").dxSelectBox("option", "value");
            }
            if (value)
            {
                var tabpanel = $("#PaymentLBTab").dxTabPanel("instance");
                if (value.includes("PURCHASED") || value.includes("GIFTED")) {
                    tabpanel.option("items[0].visible", false);
                    tabpanel.option("items[1].visible", true);
                    tabpanel.option("selectedIndex", 2); //Bug #134771 fix
                }
                else if (value.includes("LEASED")) {
                    tabpanel.option("items[0].visible", true);
                    tabpanel.option("items[1].visible", true);
                    tabpanel.option("selectedIndex", 2); //Bug #134771 fix
                    tabpanel.option("items[0].title", value.toProperCase());
                    $("#Txt_Dep_Amt").dxNumberBox("instance").focus();
                }
                else {
                    tabpanel.option("selectedIndex", 2);
                }
                if (FirstCall == false)
                {
                    if (value.includes("PURCHASED") || value.includes("GIFTED"))
                    {
                        $("#Cmd_Ownership").dxSelectBox({ value: "INSTITUTION" });
                    }
                    else
                    {
                        $("#Cmd_Ownership").dxSelectBox({ value: "THIRD PARTY" });
                    }
                }
                Cmd_PType_SelectedIndexChanged();
            }
        }
        function Cmd_PType_SelectedIndexChanged(e)
        {
            var Cmd_PType = $("#Cmd_PType").dxSelectBox("instance");
            var Cmd_PCategory = $("#Cmd_PCategory").dxSelectBox("instance");
            if (Cmd_PType.option("value") == "LAND")
            {
                $("#Txt_Con_Area").dxNumberBox({ readOnly: true });
                $("#Cmd_Con_Year").dxSelectBox({ readOnly: true });
                $("#Cmd_RccType").dxSelectBox({ readOnly: true });
                $("#Txt_Con_Area").dxNumberBox({ focusStateEnabled: false });
                $("#Cmd_Con_Year").dxSelectBox({ focusStateEnabled: false });
                $("#Cmd_RccType").dxSelectBox({ focusStateEnabled: false });
                $("#Txt_Con_Area").dxNumberBox({ value: null });
                $("#Cmd_Con_Year").dxSelectBox({ value: "" });
                $("#Cmd_RccType").dxSelectBox({ value: "NO" });
            }
            else
            {
                $("#Txt_Con_Area").dxNumberBox({ readOnly: false });
                $("#Cmd_Con_Year").dxSelectBox({ readOnly: false });
                $("#Cmd_RccType").dxSelectBox({ readOnly: false });
                $("#Txt_Con_Area").dxNumberBox({ focusStateEnabled: true });
                $("#Cmd_Con_Year").dxSelectBox({ focusStateEnabled: true });
                $("#Cmd_RccType").dxSelectBox({ focusStateEnabled: true });
                $("#Txt_Con_Area").dxNumberBox({ value: null });
                $("#Cmd_Con_Year").dxSelectBox({ value: "" });
                $("#Cmd_RccType").dxSelectBox({ value: "" });
            }
            if (Cmd_PCategory.option("value"))
            {
                if ((Cmd_PCategory.option("value").includes("PURCHASED") || Cmd_PCategory.option("value").includes("GIFTED") || Cmd_PCategory.option("value").includes("LEASED")) && Cmd_PType.option("value") != "LAND")
                {
                    $("#payment_LB_constructedRoof").addClass("text-red");
                }
                else
                {
                    $("#payment_LB_constructedRoof").removeClass("text-red");
                }
            }
            if (Cmd_PType.option("value") == "LAND")
            {
                $("#payment_LB_plotarea").addClass("text-red");
                $("#payment_LB_constructedRoof").removeClass("text-red");
                $("#payment_LB_constructedArea").removeClass("text-red");
                $("#payment_LB_constructionYear").removeClass("text-red");
            }
            else if (Cmd_PType.option("value") == "BUILDING")
            {
                $("#payment_LB_plotarea").addClass("text-red");
                $("#payment_LB_constructedRoof").addClass("text-red");
                $("#payment_LB_constructedArea").addClass("text-red");
                $("#payment_LB_constructionYear").addClass("text-red");
            }
            else
            {
                $("#payment_LB_plotarea").removeClass("text-red");
                $("#payment_LB_constructedRoof").addClass("text-red");
                $("#payment_LB_constructedArea").addClass("text-red");
                $("#payment_LB_constructionYear").addClass("text-red");
            }
            LB_setvalidation();
        }
        function Cmd_PUse_SelectedIndexChanged(e,FirstCall=false)
        {
            var value;
            $("#Cmd_PUse").dxSelectBox("blur");
            $("#Cmd_PUse_Text").val($("#Cmd_PUse").dxSelectBox("option","displayValue"));
            if (e)
            {
                value = e.value;
            }
            else
            {
                value = $("#Cmd_PUse").dxSelectBox("option", "value");
            }
            if (value == "0")
            {
                if (FirstCall == false) {
                    ShowLoader();
                    $.ajax({
                        type: 'GET',
                        url: "/Account/ProfilePaymentVoucher/Cmd_PUse_SelectedIndexChanged",
                        cache: false,
                        success: async function (data) {
                            HideLoader();
                            if (data.result == false) {
                                DevExpress.ui.dialog.alert(data.message, 'Error');
                                $("#Cmd_PUse").dxSelectBox("focus");
                            }
                            else {
                                $("#Txt_PName").dxTextBox({ value: TransformText(data.Txt_PName) });
                                $("#Txt_R_Add1").dxTextBox({ value: TransformText(data.Txt_R_Add1) });
                                $("#Txt_R_Add2").dxTextBox({ value: TransformText(data.Txt_R_Add2) });
                                $("#Txt_R_Add3").dxTextBox({ value: TransformText(data.Txt_R_Add3) });
                                $("#Txt_R_Add4").dxTextBox({ value: TransformText(data.Txt_R_Add4) });
                                Control_SetReadOnly("Txt_R_Add1", "dxTextBox", true, "#696969");
                                Control_SetReadOnly("Txt_R_Add2", "dxTextBox", true, "#696969");
                                Control_SetReadOnly("Txt_R_Add3", "dxTextBox", true, "#696969");
                                Control_SetReadOnly("Txt_R_Add4", "dxTextBox", true, "#696969");
                                if (data.Cen_State_ID.length > 0) {
                                    await LB_State_DG.selectRows(data.Cen_State_ID);
                                }
                                Control_SetReadOnly("GLookUp_StateList", "dxDropDownBox", true, "#696969");
                                if (data.Cen_District_ID.length > 0) {
                                    $("#GLookUp_DistrictList").dxDropDownBox("option", "value", data.Cen_District_ID);
                                }
                                Control_SetReadOnly("GLookUp_DistrictList", "dxDropDownBox", true, "#696969");
                                if (data.Cen_City_ID.length > 0) {
                                    $("#GLookUp_CityList").dxDropDownBox("option", "value", data.Cen_City_ID);
                                }
                                Control_SetReadOnly("GLookUp_CityList", "dxDropDownBox", true, "#696969");
                                $("#Txt_R_Pincode").dxTextBox({ value: data.Txt_R_Pincode });
                                Control_SetReadOnly("Txt_R_Pincode", "dxTextBox", true, "#696969");
                                $("#Txt_Add").dxTextBox({ value: TransformText(data.Txt_Add) });
                                $("#Cmd_PUse").dxSelectBox("focus");
                            }
                        }
                    });
                }
                else
                {
                    Control_SetReadOnly("Txt_R_Add1", "dxTextBox", true, "#696969");
                    Control_SetReadOnly("Txt_R_Add2", "dxTextBox", true, "#696969");
                    Control_SetReadOnly("Txt_R_Add3", "dxTextBox", true, "#696969");
                    Control_SetReadOnly("Txt_R_Add4", "dxTextBox", true, "#696969");
                    Control_SetReadOnly("GLookUp_StateList", "dxDropDownBox", true, "#696969");
                    Control_SetReadOnly("GLookUp_DistrictList", "dxDropDownBox", true, "#696969");
                    Control_SetReadOnly("GLookUp_CityList", "dxDropDownBox", true, "#696969");
                    Control_SetReadOnly("Txt_R_Pincode", "dxTextBox", true, "#696969");
                }
            }
            else
            {
                $("#Txt_Add").dxTextBox({ value: "" });
                $("#Txt_PName").dxTextBox({ value: "" });
                $("#Txt_Address").dxTextArea({ value: "" });
                $("#Txt_R_Add1").dxTextBox({ value: "" });
                $("#Txt_R_Add2").dxTextBox({ value: "" });
                $("#Txt_R_Add3").dxTextBox({ value: "" });
                $("#Txt_R_Add4").dxTextBox({ value: "" });
                $("#Txt_R_Pincode").dxTextBox({ value: "" });
                Control_SetReadOnly("Txt_R_Add1", "dxTextBox", false);
                Control_SetReadOnly("Txt_R_Add2", "dxTextBox", false);
                Control_SetReadOnly("Txt_R_Add3", "dxTextBox", false);
                Control_SetReadOnly("Txt_R_Add4", "dxTextBox", false);
                Control_SetReadOnly("Txt_R_Pincode", "dxTextBox", false);
                if (FirstCall == false) {
                    $("#GLookUp_StateList").dxDropDownBox("instance").reset();
                    $("#GLookUp_DistrictList").dxDropDownBox("instance").reset();
                    $("#GLookUp_CityList").dxDropDownBox("instance").reset();
                }
                Control_SetReadOnly("GLookUp_CityList", "dxDropDownBox", false);
                Control_SetReadOnly("GLookUp_DistrictList", "dxDropDownBox", false);
                Control_SetReadOnly("GLookUp_StateList", "dxDropDownBox", false);
                $("#Cmd_PUse").dxSelectBox("focus");
            }
        }
        function cmd_ownership_ValueChange(e, FirstCall = false)
        {
            //debugger;
            var value;
            if (e)
            {
                value = e.value;
            }
            else
            {
                value = $("#Cmd_Ownership").dxSelectBox("option", "value");
            }
            if (value)
            {
                if (value.toUpperCase() == "INSTITUTION")
                {
                    $("#TextEdit1").dxTextBox({ visible: true });
                    $("#Look_OwnList").dxDropDownBox({ visible: false, readOnly: true });
                    $("#But_LB_ManageOwner").dxButton({ disabled: true });
                    if (FirstCall == false)
                    {
                        LB_Owner_DG.clearSelection();
                    }
                }
                else if (value.toUpperCase() == "THIRD PARTY")
                {
                    $("#TextEdit1").dxTextBox({ visible: false });
                    $("#Look_OwnList").dxDropDownBox({ visible: true, readOnly: false });
                    if ("@isvisible" == "False")
                    {
                        $("#But_LB_ManageOwner").dxButton({ disabled: false });
                    }
                    if (FirstCall == false)
                    {
                        LB_Owner_DG.clearSelection();
                    }
                }
                OwnerValidation(value);
            }
        }
        function OwnerValidation(cmd_ownership)
    {
        $("#Look_OwnList").dxDropDownBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options)
                    {
                        var result = true;
                        if (cmd_ownership == "THIRD PARTY")
                        {
                            if (options.value == "" || options.value == null)
                            {
                                result = false;
                            }
                        }
                        return result;
                    },
                    reevaluate:true,
                    message: "Owner Name Cannot Be Blank..!!"
                }],
                validationGroup: "paymentVoucher_LB"
            });
    }//removed validation from model and added here redmine bug 132934 fix
        function Chk_OtherDoc_CheckedChanged(e)
    {
        $("#Chk_OtherDoc").val(e.value);
        if (e.value)
        {
            $("#Txt_OtherDoc").dxTextBox({ readOnly: false });
            $("#Txt_OtherDoc").dxTextBox("instance").reset();
            $("#Txt_OtherDoc").dxTextBox("instance").focus();
        }
        else
        {
            $("#Txt_OtherDoc").dxTextBox("instance").reset();
            $("#Txt_OtherDoc").dxTextBox({ readOnly: true });
        }
    }
    </script>
    <script>
        function LoadPropertyBuildingAddress_Popup(e)
    {
        if (e)
        {
            if (e.event.keyCode == 9)//tab
            {
                return;
            }
        }
        if ("@isvisible" == "False")
        {
            $("#Frm_Property_Window_Property_Address_popup").dxPopup("show");
            $("#Txt_R_Pincode").dxTextBox("instance").option({
                "mask": 'NNNNNN',
                "maskRules":
                {
                    'N': /[0-9]/
                }
            });
            $("#Txt_R_Pincode").dxTextBox("instance").option("isValid", true);
            setTimeout(function () { $("#Txt_R_Add1").dxTextBox("focus"); },350);
        }
    }
        function AddPropertyAddressPopupScroll(e) {
            //$("#Frm_Property_Window_Property_Address_popup").dxScrollView();
            PopupOnShowing(e)
            $("#Txt_Add").dxTextBox({ value: "" });
        }

        function OnPropertyAddressOKClick(e)
        {
        ShowLoader();
        var Txt_R_Add1_PropertyAddress = $("#Txt_R_Add1").dxTextBox('instance').option('value');
        var Txt_R_Pincode_PropertyAddress = $("#Txt_R_Pincode").dxTextBox('instance').option('value');
        if (Txt_R_Pincode_PropertyAddress == null || Txt_R_Pincode_PropertyAddress.length == 0)
        {
            DevExpress.ui.dialog.alert("Pincode Cannot Be Blank...!", "Error..");
            HideLoader();
            return;
        }
        if ($("#Txt_R_Pincode").dxTextBox('instance').option('isValid') == false || Txt_R_Pincode_PropertyAddress.length < 6)
        {
            DevExpress.ui.dialog.alert("Pincode Is Invalid", "Error..");
            HideLoader();
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Account/ProfilePaymentVoucher/AddressChecks",
            data: { Txt_R_Add1: Txt_R_Add1_PropertyAddress, GLookUp_StateList: GLookUp_StateName, GLookUp_DistrictList: GLookUp_DistrictName, GLookUp_CityList: GLookUp_CityName, Txt_R_Pincode: Txt_R_Pincode_PropertyAddress },
            cache: false,
            success: function (data)
            {
                HideLoader();
                if (data.jsonParam.result)
                {
                    $("#Frm_Property_Window_Property_Address_popup").dxPopup("hide");
                }
                else
                {
                    var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                    alertclick.done(function (alertResult)
                    {
                        if (alertResult)
                        {
                            if (data.jsonParam.focusid)
                            {
                                var id = "#" + data.jsonParam.focusid;
                                setTimeout(function ()
                                {
                                    $(id).find('input').focus();
                                }, Timeout100);
                            }
                        }
                    });
                }
            }
        });
    }
        function PopupContainerEdit1_Closed(e)
    {
            $("#Txt_Add").dxTextBox("focus");
            $("#Txt_Add").dxTextBox({ value: TransformText($("#Txt_Address").dxTextArea("instance").option("value")) });
            var Txt_R_Add1 = $("#Txt_R_Add1").dxTextBox('instance').option('value');
            var Txt_R_Add2 = $("#Txt_R_Add2").dxTextBox('instance').option('value');
            var Txt_R_Add3 = $("#Txt_R_Add3").dxTextBox('instance').option('value');
            var Txt_R_Add4 = $("#Txt_R_Add4").dxTextBox('instance').option('value');
            var Txt_R_Pincode = $("#Txt_R_Pincode").dxTextBox('instance').option('value');
            if (Txt_R_Add1 != null && Txt_R_Add1.length > 0)
            {
                var Address = Txt_R_Add1 + (Txt_R_Add2 != null && Txt_R_Add2.length > 0 ? ", " + Txt_R_Add2 : "") +
                    (Txt_R_Add3 != null && Txt_R_Add3.length > 0 ? ", " + Txt_R_Add3 : "") +
                    (Txt_R_Add4 != null && Txt_R_Add4.length > 0 ? ", " + Txt_R_Add4 : "") + ", " + (GLookUp_CityName == null ? "" : GLookUp_CityName.toUpperCase()) +
                    ",Dist. " + (GLookUp_DistrictName == null ? "" : GLookUp_DistrictName) + ", " + (GLookUp_StateName == null ? "" : GLookUp_StateName) + "-" + Txt_R_Pincode;
                $("#Txt_Add").dxTextBox({ value: TransformText(Address) });
            }
    }
    </script>
    @* Address *@
<script>
        var LB_City_DG;
        var LB_State_DG;
        var LB_District_DG;
        var LB_Owner_DG;
        var dataSource_PropOwner_PrfPay = null;
        var dataSource_PropDistrct_PrfPay = null;
        var dataSource_PropCity_PrfPay = null;
    function InitAllDropdownDataGrid_LB()
    {
        var $LB_State_DG = $("#StateList-datagrid");
        if ($LB_State_DG.length)
        {
            LB_State_DG = $LB_State_DG.dxDataGrid("instance");
        }
        var $LB_District_DG = $("#DistrictList-datagrid");
        if ($LB_District_DG.length)
        {
            LB_District_DG = $LB_District_DG.dxDataGrid("instance");
        }
        var $LB_City_DG = $("#CityList-datagrid");
        if ($LB_City_DG.length)
        {
            LB_City_DG = $LB_City_DG.dxDataGrid("instance");
        }
        var $LB_Owner_DG = $("#Frm_Property_Window_GLookUp_OwnList_datagrid");
        if ($LB_Owner_DG.length) {
            LB_Owner_DG = $LB_Owner_DG.dxDataGrid("instance");
        }
    }
    async function LookUp_Get_StateList(FirstCall=false)
    {
        if ("@Model.Tag" == "_New")
        {
            Control_SetReadOnly("GLookUp_StateList", "dxDropDownBox", false);
        }
    }
    async function LookUp_Get_DistrictList(FirstCall = false)
    {
        if ("@Model.Tag" == "_New")
        {
            Control_SetReadOnly("GLookUp_DistrictList", "dxDropDownBox", false);
        }
        if (FirstCall === false)
        {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/ProfilePaymentVoucher/RefreshDistrictList",
                data: { state: resStateCode},
                cache: false,
                async:false,
                success: function (data)
                {
                    dataSource_PropDistrct_PrfPay = new DevExpress.data.DataSource({ // need to dispose it in in clearreference
                        store:
                        {
                            type: "array",
                            key: "R_DI_REC_ID",
                            data: data
                        }
                    });
                    $("#GLookUp_DistrictList").dxDropDownBox("instance").option("dataSource", dataSource_PropDistrct_PrfPay);
                    LB_District_DG.option("dataSource", dataSource_PropDistrct_PrfPay);
                    dataSource_PropDistrct_PrfPay.load().done(function ()
                    {
                        HideLoader();
                    })
                }
            });
        }
    }
    async function LookUp_Get_CityList(FirstCall = false)
    {
        if ("@Model.Tag" == "_New")
        {
            Control_SetReadOnly("GLookUp_CityList", "dxDropDownBox", false);
        }
        if (FirstCall === false)
        {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/ProfilePaymentVoucher/RefreshCityList",
                data: { state: resStateCode },
                cache: false,
                async:false,
                success: function (data) {
                    dataSource_PropCity_PrfPay = new DevExpress.data.DataSource({ // need to dispose it in in clearreference
                        store:
                        {
                            type: "array",
                            key: "R_CI_REC_ID",
                            data: data
                        }
                    });
                    $("#GLookUp_CityList").dxDropDownBox("instance").option("dataSource", dataSource_PropCity_PrfPay);
                    LB_City_DG.option("dataSource", dataSource_PropCity_PrfPay);
                    dataSource_PropCity_PrfPay.load().done((r) => {
                        HideLoader();
                    })
                }
            });
        }
    }
    async function LookUp_GetOwnList_LB(FirstCall = false)
    {
        if (FirstCall === false)
        {
            ShowLoader();
            var DDvalue = $("#Look_OwnList").dxDropDownBox("instance").option("value");
            $.ajax({
                type: 'GET',
                url: "/Account/ProfilePaymentVoucher/RefreshPropOwner",
                cache: false,
                success: function (data)
                {
                    dataSource_PropOwner_PrfPay = new DevExpress.data.DataSource({ // need to dispose it in in clearreference
                        store:
                        {
                            type: "array",
                            key: "ID",
                            data: data
                        }
                    });
                    $("#Look_OwnList").dxDropDownBox("instance").option("dataSource", dataSource_PropOwner_PrfPay);
                    LB_Owner_DG.option("dataSource", dataSource_PropOwner_PrfPay);
                    dataSource_PropOwner_PrfPay.load().done((r) =>
                    {
                        $("#Look_OwnList").dxDropDownBox("reset");
                        if (data.some(data => data.ID === DDvalue))
                        {
                            $("#Look_OwnList").dxDropDownBox("instance").option("value", DDvalue);
                        }
                        $("#Look_OwnList").dxDropDownBox("focus");
                        HideLoader();
                    })
                }
            });
        }
    }
    async function Property_OwnerName_Change(e)
    {
        //debugger;
        var OwnerID;
        if (e)
        {
            OwnerID = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null)
            {
                LB_Owner_DG.clearSelection();
                return;
            }
        }
        else
        {
            OwnerID = $("#Look_OwnList").dxDropDownBox("instance").option("value");
        }
        await LB_Owner_DG.selectRows(OwnerID);
    }
</script>  @* DD init *@
    <script>
        async function ChangeBuildingAddressState(e, FirstCall = false)
        {
            var State;
            if (e) {
                State = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null)
                {
                    LB_State_DG.clearSelection();
                    GLookUp_StateName = null;
                    resStateCode = null;
                    Promise.all([LookUp_Get_DistrictList(), LookUp_Get_CityList()]);
                    LB_State_DG.clearSelection();
                    LB_District_DG.clearSelection();
                    LB_City_DG.clearSelection();
                    return;
                }
            }
            else
            {
                State = $("#GLookUp_StateList").dxDropDownBox("instance").option("value");
            }           
            await LB_State_DG.selectRows(State);      
            if (LB_State_DG.getSelectedRowsData().length > 0)
            {
                var item = LB_State_DG.getSelectedRowsData()[0];
                GLookUp_StateName = item.R_ST_NAME;
                resStateCode = item.R_ST_CODE;               
                await Promise.all([LookUp_Get_DistrictList(FirstCall), LookUp_Get_CityList(FirstCall)]);  
                if (FirstCall == false)
                {
                    LB_District_DG.clearSelection();
                    LB_City_DG.clearSelection();
                }                
            }
        }
        async function ChangeBuildingAddressDistrict(e, FirstCall = false) {
            var district;
            if (e) {
                district = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    LB_District_DG.clearSelection();
                    GLookUp_DistrictName = null;
                    return;
                }
            }
            else {
                district = $("#GLookUp_DistrictList").dxDropDownBox("instance").option("value");
            }
            await LB_District_DG.selectRows(district);
            if (LB_District_DG.getSelectedRowsData().length > 0) {
                var item = LB_District_DG.getSelectedRowsData()[0];
                GLookUp_DistrictName = item.R_DI_NAME;
            }
        }
        async function ChangeBuildingAddressCity(e, FirstCall = false) {
            var city;
            if (e) {
                city = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    LB_City_DG.clearSelection();
                    GLookUp_CityName = null;
                    return;
                }
            }
            else {
                city = $("#GLookUp_CityList").dxDropDownBox("instance").option("value");
            }
            await LB_City_DG.selectRows(city);
            if (LB_City_DG.getSelectedRowsData().length > 0) {
                var item = LB_City_DG.getSelectedRowsData()[0];
                GLookUp_CityName = item.R_CI_NAME;
            }
        }
    </script> @* Address Value Change *@
    <script>
        function Payment_property_saveClick(e)
        {
            if (ValidateForm(e))
            {
                $("#ID_Frm_Property_Window_Form").submit();
            }
        }
          function ClosePropertyDetail()
          {
              if ("@From_DNK" == "True")
              {
                  $("#Win_Gift_Item_Content_popup").dxPopup("hide");
              }
              if ("@From_JV" == "True")
              {
                  $("#JV_Item_Content_popup").dxPopup("hide");
              }
              else
              {
                  $("#Frm_Voucher_Item_Content_popup").dxPopup("hide");
              }
    }
          function Property_ManageParty_Click(e) {
            if ("@Model.Tag" == "_New" || "@Model.Tag" == "_Edit" || "@Model.Tag" == "_New_From_Selection") {
                ManageParty("property_Add_Party", "LookUp_GetOwnList_LB", "Address Book (Ownership)...");
            }
        }
    </script>
</div>