<div class="Voucher_ExtendedProperty_ClearReferences">
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.Frm_Property_Window_Ext_Model
    <style>
        #Frm_Property_Window_Ext_popup {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
        </style>

    <div id="Frm_Property_Window_Ext_popup">

        @using (Ajax.BeginForm("Frm_Property_Window_Ext", "ProfilePaymentVoucher",
                                                            new AjaxOptions
                                                            {
                                                                HttpMethod = "POST",
                                                                UpdateTargetId = "Frm_Property_Window_Ext_popup",
                                                                InsertionMode = InsertionMode.InsertAfter,
                                                                OnBegin = "AjaxBeginFormPost",
                                                                OnSuccess = "Frm_Property_Window_Ext_OnSuccess"
                                                            },
                                                            new
                                                            {
                                                                id = "ID_Frm_Property_Window_Ext",
                                                                @class = "edit_form"
                                                            }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.Institution)
            @Html.HiddenFor(x => x.Sr)
            var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();

            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="full-width-header-bg2">
                    <div class="row">
                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Extended Property</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div><!--[Header]-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.Label("Institution:", htmlAttributes: new { @class = "control-label text-red" })<br />
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_InsList").Name("Look_InsList").ValueExpr("ID").DisplayExpr("Name").DataSource(Model.InstituteListData,"ID").ReadOnly(Model.ActionMethod.ToString() == "_Delete" ? true : false)
                                                  .Placeholder("Select Institution...").OnValueChanged("ChangeLook_InsList").ContentTemplate(@<text> @Html.Partial("LookUp_GetInsList") </text>).Value(Model.Look_InsList) )
                                    @Html.ValidationMessageFor(model => model.Look_InsList, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Institution]-->
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.LabelFor(model => model.Txt_Ext_Tot_Area, htmlAttributes: new { @class = "control-label" })<br />
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Ext_Tot_Area").Name("Txt_Ext_Tot_Area").Value(Model.Txt_Ext_Tot_Area).Placeholder("Enter Total Area").Format("#0.000").ReadOnly(Model.ActionMethod.ToString() == "_Delete" ? true : false) )
                                    @Html.ValidationMessageFor(model => model.Txt_Ext_Tot_Area, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Total Plot Area]-->
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.LabelFor(model => model.Txt_Ext_Con_Area, htmlAttributes: new { @class = "control-label " })<br />
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Ext_Con_Area").Name("Txt_Ext_Con_Area").Placeholder("Enter Constructed Area").Format("#0.000").Value(Model.Txt_Ext_Con_Area).ReadOnly(Model.ActionMethod.ToString() == "_Delete" ? true : false) )
                                    @Html.ValidationMessageFor(model => model.Txt_Ext_Con_Area, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Constructed Area]-->
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.Label("Construction Year: ", htmlAttributes: new { @class = "control-label " })<br />
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmd_Ext_Con_Year").Name("Cmd_Ext_Con_Year").ReadOnly(Model.ActionMethod.ToString() == "_Delete" ? true : false).Placeholder("Year..").DataSource(Model.Cmd_Ext_Con_Year_Bind).Value(Model.Cmd_Ext_Con_Year) )
                                    @Html.ValidationMessageFor(model => model.Cmd_Ext_Con_Year, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[Construction Year]-->
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.LabelFor(model => model.Txt_MOU_Date, htmlAttributes: new { @class = "control-label text-red" })<br />
                                    @(Html.DevExtreme().DateBoxFor(x => x.Txt_MOU_Date).CustomDateBox().ReadOnly(Model.ActionMethod.ToString() == "_Delete" ? true : false).ID("Txt_MOU_Date").Name("Txt_MOU_Date").Value(Model.Txt_MOU_Date).Min(new DateTime(1900,01,01)) )
                                    @Html.ValidationMessageFor(model => model.Txt_MOU_Date, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div><!--[MOU Date]-->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.Label("Other Details:", htmlAttributes: new { @class = "control-label" })<br />
                                    @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Others").Name("Txt_Others").Placeholder("Type Remarks..").Value(Model.Txt_Others).MaxLength(250).ReadOnly(Model.ActionMethod.ToString() == "_Delete" ? true : false) )
                                    @Html.ValidationMessageFor(model => model.Txt_Others, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Extended Property...)...", Model.Tag.ToString().Substring(1)))
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().CustomSaveButton().Text(Model.ActionMethod.ToString() == "_Delete" ? "Delete" : "OK").ID("ExtendedProperty_OkButton").UseSubmitBehavior(true).Visible(Model.ActionMethod.ToString() == "_View" ? false : true)) @*RedmineBug#134822*@
                                    @(Html.DevExtreme().Button().CustomCloseButton().Text("Cancel").ID("ExtendedProperty_CancelButton").FocusStateEnabled(true).OnClick(@<text> function () { $("#Frm_Property_Window_Property_Ext_popup").dxPopup("hide"); } </text>))@*RedmineBug#134822*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->



            }
        }

    </div>
    <script>
    $(document).ready(async function ()
    {
        TransformTextForDB("ID_Frm_Property_Window_Ext");
        await LookUp_GetInsList();
        if ("@Model.Look_InsList".length > 0)
        {
            ChangeLook_InsList(null, true);
        }
        $("#Look_InsList").dxDropDownBox("instance").focus();
    });
    async function ChangeLook_InsList(e,FirstCall=false)
    {
        var Ins;
        if (e)
        {
            Ins = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null)
            {
                LB_Ins_DG.clearSelection();
                return;
            }
        }
        else
        {
            Ins = $("#Look_InsList").dxDropDownBox("option", "value");
        }
        await LB_Ins_DG.selectRows(Ins);
        if (LB_Ins_DG.getSelectedRowsData().length > 0)
        {
            var item = LB_Ins_DG.getSelectedRowsData()[0];
            $("#Institution").val(item.Name);
        }
    }

    </script>
<script>
    var LB_Ins_DG;
    async function LookUp_GetInsList(FirstCall=false)
    {        
        var $LB_Ins_DG = $("#GetInsList-datagrid");
        if ($LB_Ins_DG.length)
        {          
            LB_Ins_DG = $LB_Ins_DG.dxDataGrid("instance");            
        }
    }    
</script>
    </div>