@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.Frm_Property_Window_Model
    @{     var isvisible = (Model.Tag == Common_Lib.Common.Navigation_Mode._View || Model.Tag == Common_Lib.Common.Navigation_Mode._Delete) ? true : false;}
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="form-field">
            <div class="container-fluid">
                <fieldset class="default-fieldset">
                    <legend class="custom-legend mlm"> Security Deposit Information</legend>
                    <div class="col-md-12">
                        <div class="row">
                            @Html.Label("Security Deposit Amount:", htmlAttributes: new { @class = "control-label",@id="payment_lb_depamt" })
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Dep_Amt").Name("Txt_Dep_Amt").Value(Model.Txt_Dep_Amt).Format("#0.00").ReadOnly(isvisible).Placeholder("Type Amount.."))
                        </div>
                        <div class="row">
                            <label class="control-label" for="Name" id="payment_lb_txtPaidDate">Deposit Paid On:</label>
                            @(Html.DevExtreme().DateBoxFor(x=>x.Txt_PaidDate).CustomDateBox().Min("01/01/1900").ReadOnly(isvisible).Placeholder("dd-MM-yyyy").DisplayFormat("dd/MM/yyyy").ID("Txt_PaidDate").Name("Txt_PaidDate"))@*RedmineBug#134826*@
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="form-field">
            <div class="container-fluid">
                <fieldset class="default-fieldset">
                    <legend class="custom-legend mlm">Rent Information</legend>
                    <div class="col-md-12">
                        <div class="row">
                            <label class="control-label" for="Name"id="payment_lb_monthRent">Monthly Rent Amount:</label>
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Mon_Rent").Name("Txt_Mon_Rent").Value(Model.Txt_Mon_Rent).ReadOnly(isvisible).Placeholder("Type Rent..").Format("#0.00"))
                        </div>
                        <div class="row">
                            <label class="control-label" for="Name" id="payment_lb_OtherPayment">Other Monthly Payment:</label>
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Other_Payments").Name("Txt_Other_Payments").Value(Model.Txt_Other_Payments).ReadOnly(isvisible).Placeholder("Type Other Monthly Payment.. ").Format("#0.00"))
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="form-field">
            <div class="container-fluid">
                <fieldset class="default-fieldset">
                    <legend class="custom-legend mlm"> Period /Duration Detail</legend>
                    <div class="col-md-12">
                        <div class="row">
                            <label class="control-label" for="Name" id="payment_lb_fromdate">From:</label>
                            @(Html.DevExtreme().DateBoxFor(x=>x.Txt_F_Date).CustomDateBox().Min("01/01/1900").Placeholder("dd-MM-yyyy").ReadOnly(isvisible).ID("Txt_F_Date").Name("Txt_F_Date") ) @*RedmineBug#134826*@
                        </div>
                        <div class="row">
                            <label class="control-label" for="Name" id="payment_lb_todate">To:</label>
                            @(Html.DevExtreme().DateBoxFor(x=>x.Txt_T_Date).CustomDateBox().Min("01/01/1900").Placeholder("dd-MM-yyyy").ReadOnly(isvisible).ID("Txt_T_Date").Name("Txt_T_Date")) @*RedmineBug#134826*@
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
