<div class="VoucherWIPTxnReportExport_ClearReferences">
@using DevExtreme.AspNet.Mvc;
<div>
    @(Html.DevExtreme().Button()
                        .ID("Txn_ExportGridDatapdf")
                        .Text("Export to PDF")
                        .OnClick("ExportPDF")
                        .Visible(true)
                        .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                        .ID("Txn_ExportGridDataxls")
                        .Text("Export to XLS")
                        .OnClick("ExportXLS")
                        .Visible(true)
                        .Width(120)
    )<br />
    @(Html.DevExtreme().Button()
                        .ID("Txn_ExportGridDataxlsx")
                        .Text("Export to XLSX")
                        .OnClick("ExportXLSX")
                        .Visible(true)
                        .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                        .ID("Txn_ExportGridDatadocx")
                        .Text("Export to DOCX")
                        .OnClick("ExportDOCX")
                        .Visible(true)
                        .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                        .ID("Txn_ExportGridDatartf")
                        .Text("Export to RTF")
                        .OnClick("ExportRTF")
                        .Visible(true)
                        .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                        .ID("Txn_ExportGridDatacsv")
                        .Text("Export to CSV")
                        .OnClick("ExportCSV")
                        .Visible(true)
                        .Width(120)
    )
</div>
<script>
    function ExportPDF() {
        WIP_Txn_Report_Grid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        $("#WIP_Txn_ListPreview_modal").dxPopup("hide");
    }
    function ExportXLS() {
        WIP_Txn_Report_Grid.ExportTo(ASPxClientGridViewExportFormat.Xls);
        $("#WIP_Txn_ListPreview_modal").dxPopup("hide");
    }
    function ExportXLSX() {
        WIP_Txn_Report_Grid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        $("#WIP_Txn_ListPreview_modal").dxPopup("hide");
    }
    function ExportCSV() {
        WIP_Txn_Report_Grid.ExportTo(ASPxClientGridViewExportFormat.Csv);
        $("#WIP_Txn_ListPreview_modal").dxPopup("hide");
    }
    function ExportDOCX() {
        WIP_Txn_Report_Grid.ExportTo(ASPxClientGridViewExportFormat.Docx);
        $("#WIP_Txn_ListPreview_modal").dxPopup("hide");
    }
    function ExportRTF() {
        WIP_Txn_Report_Grid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        $("#WIP_Txn_ListPreview_modal").dxPopup("hide");
    }
</script>
    </div>