@using DevExtreme.AspNet.Mvc;
@{
    string[] ModelParts = Model.Split(',');
    string UniqueIdentifier = ModelParts[0];
    string ActionMethod = ModelParts[1];
    string Rec_ID = ModelParts[2];
    string RefScreen = ModelParts[3];
    string UploadControlID = string.Concat("myFile_", UniqueIdentifier);
    string GalleryID = string.Concat("galleryContainer_", UniqueIdentifier);
}
<div style="padding:15px">
    <label>Please upload your attachments here</label>
    @(Html.DevExtreme().FileUploader().SelectButtonText("Choose File").ID(UploadControlID).Name(UploadControlID)
                                                              .Multiple(true).Accept("*").UploadMode(FileUploadMode.UseButtons)
                                                              .ShowFileList(true).Visible(false).OnValueChanged(string.Format("function(e){{AttachmentsOnValueChange(e,'{0}','{1}','{2}')}}", UniqueIdentifier, Rec_ID, RefScreen))
                                                              .Disabled(ActionMethod.Contains("Delete") || ActionMethod.Contains("View"))
                                                         )
    <a class='badge badge-danger' onclick='UploadFiles("@UniqueIdentifier")'><i class='bx bx-paperclip'></i> Upload</a>
    <div id="@GalleryID" class="up-box clearfix"></div>
</div>
<script>
    $(document).ready(function ()
    {
        /* $("#scrollView_AttachmentWindow").dxScrollView({ height: "100%", width: '100%', useNative: false, showScrollbar: 'always', scrollByThumb: true, scrollByContent: true, bounceEnabled: false });*/
        if ("@ActionMethod".includes("Edit"))
        {
            insertImages(null, null, "EditLoad", "@UniqueIdentifier", "@Rec_ID","@RefScreen");
        }
    })
</script>