
@using DevExtreme.AspNet.Mvc;
@*@(Html.DevExtreme().SpeedDialAction()
     .ID("main").Icon("add").Visible(false).Label("Do You Have This Document?")
    .OnClick(@<text> function (action){ Floating_ActionButton_Click('add_attach'); } </text>))*@
@(Html.DevExtreme().SpeedDialAction().ID("add_attach").Icon("todo").Visible(false).Label("Yes").Index(1).OnClick(@<text> function (action){ Floating_ActionButton_Click('add_attach'); } </text>))
@(Html.DevExtreme().SpeedDialAction().ID("Link_Attach").Icon("link").Visible(false).Label("Link").Index(2).OnClick(@<text> function (action){ Floating_ActionButton_Click('Link_Attach'); } </text>))
@(Html.DevExtreme().SpeedDialAction().ID("edit_attach").Icon("edit").Visible(false).Label("Edit Attachment").Index(3).OnClick(@<text> function (action){ Floating_ActionButton_Click('edit_attach'); } </text>))
@(Html.DevExtreme().SpeedDialAction().ID("delete_attach").Icon("trash").Visible(false).Label("Delete Attachment").Index(4).OnClick(@<text> function (action){ Floating_ActionButton_Click('delete_attach'); } </text>))
@(Html.DevExtreme().SpeedDialAction().ID("view_attach").Icon("textdocument").Visible(false).Label("View Attachment").Index(5).OnClick(@<text> function (action){ Floating_ActionButton_Click('view_attach'); } </text>))



<div id="add_attach"></div>
<div id="Link_Attach"></div>
<div id="edit_attach"></div>
<div id="delete_attach"></div>
<div id="view_attach"></div>

@(Html.DevExtreme().SpeedDialAction().ID("AuditAction").Icon("group").Visible(false).Label("Audit Buttons").Index(17).OnClick(@<text> function (action){ Floating_ActionButton_Click('AuditAction'); } </text>))
<div id="AuditAction"></div>

@(Html.DevExtreme().SpeedDialAction().ID("Add_Reason").Icon("add").Visible(false).Label("No").Index(6).OnClick(@<text> function (action){ Floating_ActionButton_Click('Add_Reason'); } </text>))
@(Html.DevExtreme().SpeedDialAction().ID("Edit_Reason").Icon("edit").Visible(false).Label("Edit Reason").Index(7).OnClick(@<text> function (action){ Floating_ActionButton_Click('Edit_Reason'); } </text>))
@(Html.DevExtreme().SpeedDialAction().ID("Delete_Reason").Icon("trash").Visible(false).Label("Delete Reason").Index(8).OnClick(@<text> function (action){ Floating_ActionButton_Click('Delete_Reason'); } </text>))


<div id="Add_Reason"></div>
<div id="Edit_Reason"></div>
<div id="Delete_Reason"></div>

@(Html.DevExtreme().SpeedDialAction().ID("Reject").Icon("todo").Visible(false).Label("Reject").Index(9).OnClick(@<text> function (action){ Floating_ActionButton_Click('Reject'); } </text>))
@(Html.DevExtreme().SpeedDialAction().ID("AcceptWithRemarks").Icon("link").Visible(false).Label("Accept With Remarks").Index(10).OnClick(@<text> function (action){ Floating_ActionButton_Click('AcceptWithRemarks'); } </text>))
@(Html.DevExtreme().SpeedDialAction().ID("Accept").Icon("edit").Visible(false).Label("Accept").Index(11).OnClick(@<text> function (action){ Floating_ActionButton_Click('Accept'); } </text>))
@(Html.DevExtreme().SpeedDialAction().ID("BackAudit").Icon("back").Visible(false).Label("Back").Index(16).OnClick(@<text> function (action){ Floating_ActionButton_Click('BackAudit'); } </text>))

<div id="Reject"></div>
<div id="AcceptWithRemarks"></div>
<div id="Accept"></div>
<div id="BackAudit"></div>


@(Html.DevExtreme().SpeedDialAction().ID("ZoomIn").Icon("todo").Visible(false).Label("Zoom In").Index(12).OnClick(@<text> function (action){ Floating_ActionButton_Click('ZoomIn'); } </text>))
@(Html.DevExtreme().SpeedDialAction().ID("ZoomOut").Icon("minus").Visible(false).Label("Zoom Out").Index(13).OnClick(@<text> function (action){ Floating_ActionButton_Click('ZoomOut'); } </text>))
@(Html.DevExtreme().SpeedDialAction().ID("Rotate").Icon("revert").Visible(false).Label("Rotate").Index(14).OnClick(@<text> function (action){ Floating_ActionButton_Click('Rotate'); } </text>))
@(Html.DevExtreme().SpeedDialAction().ID("Fit").Icon("fullscreen").Visible(false).Label("Fit").Index(15).OnClick(@<text> function (action){ Floating_ActionButton_Click('Fit'); } </text>))

<div id="ZoomIn"></div>
<div id="ZoomOut"></div>
<div id="Rotate"></div>
<div id="Fit"></div>

