@using ConnectOneMVC.Models
@{
    bool GenericLogin = ViewBag.IsGenericLogin == null ? false : (bool)ViewBag.IsGenericLogin;
    var BASE = new Common_Lib.Common();
    var SessionGUID = Request.QueryString["SessionGUID"];
    if (!string.IsNullOrEmpty(SessionGUID))
    {
        List<BaseModel> ListOfBase = new List<BaseModel>();

        if (HttpContext.Current.Session["BASEClass"] == null)
        {
            BASE = new Common_Lib.Common();
            BASE.Get_Configure_Setting();
        }
        else
        {
            try
            {
                ListOfBase = HttpContext.Current.Session["BASEClass"] as List<BaseModel>;
                var basedata = ListOfBase.FirstOrDefault(x => x.CenterGuid == Guid.Parse(SessionGUID.ToString()));
                if (basedata == null)
                {
                    BASE = new Common_Lib.Common();
                    BASE.Get_Configure_Setting();
                }
                else
                {
                    BASE = basedata.BASE;
                }
            }
            catch (Exception e)
            {
                BASE = new Common_Lib.Common();
                BASE.Get_Configure_Setting();
            }
        }
    }
    else
    {
        BASE = new Common_Lib.Common();
        BASE.Get_Configure_Setting();
    }
    string HeaderImage = Url.Content("~/Content/image/logo.png");
    string HeaderClass = "clearfix";
    if (GenericLogin == true)
    {
        HeaderImage = Url.Content("~/Content/image/GenericLogin/" + BASE._open_Cen_ID + ".png");
        HeaderClass += " GenericHeader";
    }
}
<style>
    .dropdown_menuHelp, .dropdown_menuStock, .dropdown_menuGeneric {
        left: auto !important;
        right: 0px !important;
    }

    .dropdown_menuStock {
        width: 300px;
    }

    .user-detail .user-city_collapse {
        padding-top: 20px;
        padding-bottom: 6px;
        float: right !important;
    }

    header.GenericHeader {
        background: none;
        background-color: #1c499a;
    }
    .GenericHeader .logo, .GenericHeader .menu-col {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .GenericHeader #Connectone_Header_Image img 
    {
        top: 0px;
        left: 0px;
    }
</style>
<header class="@HeaderClass">
    @if (GenericLogin == false)
    {
        <div id="MainHeaderExpanded_ParentDiv">
            <div class="col-sm-3 col-md-3 logo">
                <a href="#" id="Connectone_Header_Image"><img src=@HeaderImage alt="connect one" class="img-responsive" style="height:24px"></a>
            </div>
            <div class="user-detail col-sm-9 col-md-9 col-lg-9">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 user-city">
                                <p>@BASE._open_UID_No  <text style="color:coral;font-weight:bold">#@BASE._open_Ins_Short</text> | FY: @BASE._open_Year_ID | <text style="color:coral;font-weight:bold;font-size:15px">@BASE._open_Cen_Name </text>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12  menu-col nav-main">
            <div class="nav-wrapper">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button id="btn_menu_mobile" type="button" style="float:left;margin-top:-10px !important" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @*<a class="navbar-brand" href="javascript:void(0);"><img src="~/Content/image/nav-button.png" class="img-responsive" alt="navigation"></a>*@
                        </div>
                        <div id="Load_Navigation_header_expand" style="z-index:999999">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            @Html.Partial("_Navigation")
                        </div>
                    </div><!-- /.container-fluid -->
                </nav> <!-- navigation ends -->
            </div>
        </div>
    }
    else
    {
        <div id="MainHeaderExpanded_ParentDiv">
            <div class="col-sm-3 col-md-3 logo">
                <a href="javascript:void(0)" id="Connectone_Header_Image"><img src=@HeaderImage alt="connect one" class="img-responsive" style="width:120px;"></a>
            </div>
            <div class="col-sm-9 col-md-9 menu-col nav-main">
                <div class="nav-wrapper">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button id="btn_menu_mobile" type="button" style="float:left;margin-top:-10px !important" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                @*<a class="navbar-brand" href="javascript:void(0);"><img src="~/Content/image/nav-button.png" class="img-responsive" alt="navigation"></a>*@
                            </div>
                            <div id="Load_Navigation_header_expand" style="z-index:999999">
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                @Html.Partial("_Navigation")
                            </div>
                        </div><!-- /.container-fluid -->
                    </nav> <!-- navigation ends -->
                </div>
            </div>
        </div>
    }
    @*Navigation*@
</header>

@*Javascript Events*@
<script type="text/javascript">

    $(document).ready(function () {

        $.ajax({
            type: 'GET',
            url: "/Start/Home/UserAuthMenu",
            data: {},
            cache: false,
            success: function (data) {

                console.log(data);
                var i = 0;
                if (data.result.length != "undefined" || data.result.length != undefined || data.result.length != null) {
                    while (i < data.result.length) {
                        var d = data.result[i];
                        $("#" + d).show();
                        i++;
                    }
                }

                if (data._dynamicMenu != null && data._dynamicMenu.length > 0) {
                    var i = 0;
                    var DynamicMenu = JSON.parse(data._dynamicMenu);
                    while (i < DynamicMenu.length) {
                        var menuLink = "<li><a href='javascript: void(0);'style='display:block' class='MenuList' id='" + DynamicMenu[i].MENUID + "' onclick='" + DynamicMenu[i].ONCLICK + "'>" + DynamicMenu[i].MenuLinkName + "</a></li>";
                        if (DynamicMenu[i].MENU == "START") {
                            $(".dropdown_menuStart").append(menuLink)
                        }
                        else if (DynamicMenu[i].MENU == "PROFILE") {
                            $(".dropdown_menuProfile").append(menuLink)
                        }
                        else if (DynamicMenu[i].MENU == "ACCOUNTS") {
                            $(".dropdown_menuAccounts").append(menuLink)
                        }
                        else if (DynamicMenu[i].MENU == "REPORTS") {
                            $(".dropdown_menuReports").append(menuLink)
                        }
                        else if (DynamicMenu[i].MENU == "STATEMENTS") {
                            $(".dropdown_menuStatements").append(menuLink)
                        }
                        else if (DynamicMenu[i].MENU == "FACILITY") {
                            $(".dropdown_menuFacility").append(menuLink)
                        }
                        else if (DynamicMenu[i].MENU == "OPTIONS") {
                            $(".dropdown_menuOptions").append(menuLink)
                        }
                        else if (DynamicMenu[i].MENU == "HELP") {
                            $(".dropdown_menuHelp").append(menuLink)
                        }
                        else if (DynamicMenu[i].MENU == "STOCK") {
                            $(".dropdown_menuStock").append(menuLink)
                        }
                        i++;
                    }
                }

                // START_MENU

                hideNavigationMenu($(".dropdown_menuStart_Main .MenuList"), $('#Start_Main'));

                // START_SUB_MENU --> AUDITOR

                hideNavigationMenu($(".dropdown_menuStart .MenuList"), $('#Start_Auditor_li'));

                // START_SUB_MENU --> ACCOUNT_SUBMISSION

                hideNavigationMenu($("#Accounts_Submission_submenu .MenuList"), $('#Start_Accounts_submission_li'));

                // PROFILE_MENU

                hideNavigationMenu($(".dropdown_menuProfile .MenuList"), $('#Profile_Main'));

                // ACCOUNTS_MENU

                hideNavigationMenu($(".dropdown_menuAccounts .MenuList"), $('#Accounts_Main'));

                // ACCOUNTS_SUB_MENU --> VOUCHER_ENTRIES

                hideNavigationMenu($("#Voucher_Entries_submenu .MenuList"), $('#Voucher_Entries_menu'));

                // REPORTS_MENU

                hideNavigationMenu($(".dropdown_menuReports .MenuList"), $('#Report_Main'));

                // STATEMENTS_MENU

                hideNavigationMenu($(".dropdown_menuStatements .MenuList"), $('#Statement_Main'));

                // MAGAZINE_MENU

                hideNavigationMenu($(".dropdown_menuMagazine .MenuList"), $('#Magazine_Main'));

                // FACILITY_MENU

                hideNavigationMenu($(".dropdown_menuFacility .MenuList"), $('#Facility_Main'));

                // FACILITY_SUB_MENU --> GODLY_SERVICES

                hideNavigationMenu($("#Godly_Services_submenu .MenuList"), $('#Godly_Services_menu'));

                // FACILITY_SUB_MENU --> ACCOMMODATION

                hideNavigationMenu($("#Accommodation_submenu .MenuList"), $('#Accommodation_menu'));

                // FACILITY_SUB_SUB_MENU --> ACCOMMODATION Summaries

                hideNavigationMenu($("#AccommodationSummaries_submenu .MenuList"), $('#AccommodationSummaries_menu'));

                // OPTIONS_MENU

                hideNavigationMenu($(".dropdown_menuOptions .MenuList"), $('#Options_Main'));

                // HELP_MENU

                hideNavigationMenu($(".dropdown_menuHelp .MenuList"), $('#Help_Main'));

                // STOCK_MENU

                hideNavigationMenu($(".dropdown_menuStock .MenuList"), $('#Stock_Main'));

            }
        });

        // $.ajax({
        //    type: 'GET',
        //    url: "/Start/Home/UserAuthorization",
        //    data: {},
        //    cache: false,
        //    success: function (data) {
        //        console.log(data);
        //    }
        //});

    });
    function isMenuListVisible(Element) {
        if ($(Element).css("display") === 'none') {
            return false
        }
        return true
    }

    function hideNavigationMenu(menuItemsSelector, menuToHideSelector) {

        var hiddenElementCount = 0;

        $(menuItemsSelector).each(function (index, item) {

            if (!isMenuListVisible(item)) {
                hiddenElementCount++;
            } else {
                return false;
            }
        });

        if (hiddenElementCount == $(menuItemsSelector).length) {
            $(menuToHideSelector).hide();
        } else {
            $(menuToHideSelector).show();
        }
    }
    function Hide_Menu_ScreenLinks_TestServer(screenID) {
        var MenuItemID = screenID.result.slice();
        MenuItemID.push("Facility_AddressBook");
        var ScreentoHide = ["Profile_Main", "Accounts_Main", "Report_Main", "Statement_Main", "Magazine_Main"];
        var ScreenID_ReadyForTesting = ["Facility_Main", "Facility_AddressBook", "Options_Main", "Stock_Main", "Profile_Stock", "Stock_Sub_Item", "Stock_Project", "Stock_Job", "Stock_Dept_Store_Master", "Stock_Personnel_Master", "Options_GroupMaster", "Options_UserRegister", "Options_ChangePassword", "Stock_UO"];
        if (screenID.message == "CLIENT ROLE") {
            for (var i = 0; i < MenuItemID.length; i++) {
                var id = MenuItemID[i];
                if (ScreenID_ReadyForTesting.includes(MenuItemID[i])) {
                    $("#" + id).show();
                }
                else {
                    $("#" + id).hide();
                }
            }
            for (var j = 0; j < ScreentoHide.length; j++) {
                var id = ScreentoHide[j];
                $("#" + id + "").hide();
            }
        }
    }

</script>
