@{ bool GenericLogin = ViewBag.IsGenericLogin == null ? false : (bool)ViewBag.IsGenericLogin;}
<style>

    Voucher_Entries_submenu {
        display: none
    }

    #Voucher_Entries_menu:hover #Voucher_Entries_submenu {
        display: block;
    }
</style>

@if (GenericLogin == false)
{
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" style="float:right;">
            <li class="dropdown">
                <button id="Start_Main" class="dropdown-toggle" data-toggle="dropdown"><u>S</u>tart<b class="caret"></b></button>
                <ul role="menu" class="dropdown-menu dropdown_menuStart_Main">
                    <li class="dropdown dropdown-submenu" id="Start_Auditor_li">
                        <a href="javascript:void(0);" id="Start_Auditor" class="dropdown-toggle" data-toggle="dropdown">Auditor</a>
                        <ul role="menu" class="dropdown-menu dropdown_menuStart">
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Auditor_change_Instt" onclick="OnChangeInstituteClick()"><span class="sLeft">Change Institute</span><span class="sRight">Alt+I+G</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Auditor_change_Center" onclick="OnChangeCenterClick()"><span class="sLeft">Change Centre</span><span class="sRight">Alt+C+G</span></a></li>

                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Auditor_Submit_Report" onclick="OnReportSubmissionClick()">Submit Report</a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Auditor_DataRestriction" onclick="OpenLockDataScreen()">Data Restrictions</a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Auditor_Return_Correction" onclick="OnReturnForCorrectionClick()">Return for Correction</a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Auditor_Verify_Audit" onclick="OnVerifyAuditClick()">Verify Audit</a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_DocumentChecking" onclick="OpenTabControl('DocumentChecking','Document Checking','@Url.Action("DocumentCheckingInfo", "DocumentChecking", new { @area = "Start" })')">Document Checking</a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Account_CashbookAuditor" onclick="OnVouchingClick()">Vouching Audit</a></li>


                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Auditor_Audit_Verification">Audit Verifications</a></li>

                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Auditor_Remove_Notification">Remove Notification</a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Auditor_Notify">Notify for Clarification</a></li>
                        </ul>
                    </li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Auditor_Audit_Info" onclick="OpenTabControl('CenterAuditInfo','Center Audit Info','@Url.Action("Frm_Audit_Info", "CenterAuditInfo", new { @area = "Start" })')"><span class="sLeft">View Center Audit Info</span><span class="sRight">Alt+A+I</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Account_Analysis" onclick="OpenTabControl('AccountAnalysis','Account Analysis','@Url.Action("Frm_Audit_Dashboard", "AccountAnalysis", new { @area = "Start" })')"><span class="sLeft">Account Analysis</span><span class="sRight">Alt+A+C</span></a></li>
                    <li class="dropdown dropdown-submenu" id="Start_Accounts_submission_li">
                        <a href="javascript:void(0);" id="Start_Accounts_submission" class="dropdown-toggle" data-toggle="dropdown">Account Submission</a>
                        <ul role="menu" class="dropdown-menu" id="Accounts_Submission_submenu">
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Submit_Accounts" onclick="OpenSubmitAccounts()"><span class="sLeft">Submit/UnSubmit Accounts</span><span class="sRight">Alt+S+U</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Submission_History" onclick="OpenSubmissionHistory()"><span class="sLeft">Submission History</span><span class="sRight">Alt+S+H</span></a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Audit_Registration" onclick="RegisterForaudit();">Register for Audit</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_Cancel_Audit_Registration" onclick="CancelAuditRegistration();">Cancel Audit Registration</a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Start_Change_Fyear" onclick="OpenDynamicPopup('Change Financial Year','@Url.Action("Frm_COD_Change_Year", "ChangeFinancialYear", new { @area = "Start" })','auto',680)"><span class="sLeft">Change Financial Year</span><span class="sRight">Alt+F+Y</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Start_Exit_Center" onclick="ClearSessionStorage();window.location.assign(window.location.origin + '/Start/Login/Logout/@Request.Url.Query')"><span class="sLeft">Exit Center</span><span class="sRight">Alt+E+C</span></a></li>
                </ul>
            </li>
            <li class="dropdown">
                <button id="Profile_Main" class="dropdown-toggle" data-toggle="dropdown"><u>P</u>rofile <b class="caret"></b></button>
                <ul role="menu" class="dropdown-menu dropdown_menuProfile">
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Core" onclick="OpenTabControl('Core_Info','Core Information','@Url.Action("Frm_Core_Info", "Core", new { @area = "Profile" })')"><span class="sLeft">Core Information</span><span class="sRight">Alt+C+I</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_Core_dx" onclick="OpenTabControl('Core_frm_Core_Info_dx','Core Information dx','@Url.Action("Frm_Core_Info_dx", "Core", new { @area = "Profile" })')"><span class="sLeft">Core Information dx</span><span class="sRight">Alt+C+I</span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Cash" onclick="OpenTabControl('CASH_frm_Cash_Info','Cash Profile','@Url.Action("frm_Cash_Info", "Cash", new { @area = "Profile" })')"> <span class="sLeft">Cash A/c.</span><span class="sRight">Alt+C+A</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_BankAccounts" onclick="OpenTabControl('BANK_frm_Bank_Info','Bank Account','@Url.Action("Frm_bank_info", "Bank", new { @area = "Profile" })')"><span class="sLeft">Bank A/c.</span><span class="sRight">Alt+B+A</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_BankAccounts_dx" onclick="OpenTabControl('BANK_frm_Bank_Info_dx','Bank Account dx','@Url.Action("Frm_Bank_Info_dx","Bank",new { @area = "Profile" })')"><span class="sLeft">Bank A/c.dx</span><span class="sRight"></span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_FD" onclick="OpenTabControl('FD_Frm_FD_Info','F.D.','@Url.Action("Frm_FD_Info", "FD", new { @area = "Profile" })')"><span class="sLeft">Fixed Deposit(F.D.)</span><span class="sRight">Alt+F+D</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_FD_dx" onclick="OpenTabControl('FD_Frm_FD_Info_dx','F.D. dx','@Url.Action("Frm_FD_Info_dx", "FD", new { @area = "Profile" })')"><span class="sLeft">Fixed Deposit dx(F.D.)</span><span class="sRight"></span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_OpeningBalances" onclick="OpenTabControl('OpeningBalances_Frm_OpeningBalances_Info','Opening Balances','@Url.Action("Frm_OpeningBalances_Info", "OpeningBalances", new { @area = "Profile" })')"><span class="sLeft">Opening Balances</span><span class="sRight">Alt+O+B</span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_LandAndBuilding" onclick="OpenTabControl('Property_frm_Property_Info','Land & Building','@Url.Action("Frm_Property_Info", "Property", new { @area = "Profile" })')"><span class="sLeft">Land & Building</span><span class="sRight">Alt+L+B</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_LandAndBuilding_dx" onclick="OpenTabControl('Property_frm_Property_Info_dx','Land & Building dx','@Url.Action("Frm_Property_Info_dx", "Property", new { @area = "Profile" })')"><span class="sLeft">Land & Building dx</span><span class="sRight">Alt+L+B</span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_GoldSilver" onclick="OpenTabControl('GoldSilver_frm_GoldSilver_Info','Gold/Silver','@Url.Action("Frm_GoldSilver_Info", "GoldSilver", new { @area = "Profile" })')"><span class="sLeft">Gold/Silver</span><span class="sRight">Alt+G+S</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_GoldSilver_dx" onclick="OpenTabControl('GoldSilver_frm_GoldSilver_Info_dx','Gold/Silver dx','@Url.Action("Frm_GoldSilver_Info_dx", "GoldSilver", new { @area = "Profile" })')"><span class="sLeft">Gold/Silver dx</span><span class="sRight">Alt+G+S</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Vehicles" onclick="OpenTabControl('VEHICALS_frm_Vehicles_Info','Vehicles','@Url.Action("Frm_Vehicles_info", "Vehicle", new { @area = "Profile" })')"><span class="sLeft">Vehicles</span><span class="sLeft"></span><span class="sRight">Alt+V+H</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_Vehicles_dx" onclick="OpenTabControl('VEHICALS_frm_Vehicles_Info_dx','Vehicles dx','@Url.Action("Frm_Vehicles_Info_dx", "Vehicle", new { @area = "Profile" })')"><span class="sLeft">Vehicles .dx</span><span class="sLeft"></span><span class="sRight">Alt+V+H</span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Assets" onclick="OpenTabControl('Frm_Asset_Info','Movable Asset','@Url.Action("Frm_Asset_Info", "Asset", new { @area = "Profile" })')"><span class="sLeft">Movable Asset</span><span class="sRight">Alt+M+A</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_Assets" onclick="OpenTabControl('Frm_Asset_Info_dx','Movable Asset dx','@Url.Action("Frm_Asset_Info_dx", "Asset", new { @area = "Profile" })')"><span class="sLeft">Movable Asset dx</span><span class="sRight">Alt+M+A</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_LiveStock" onclick="OpenTabControl('Frm_LiveStock_info','LiveStock Information','@Url.Action("Frm_LiveStock_info", "LiveStock", new { @area = "Profile" })')"><span class="sLeft">Livestock</span><span class="sRight">Alt+L+S</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_LiveStock_dx" onclick="OpenTabControl('Frm_LiveStock_info_dx','LiveStock Information','@Url.Action("Frm_LiveStock_info_dx", "LiveStock", new { @area = "Profile" })')"><span class="sLeft">Livestock dx</span><span class="sRight">Alt+L+S</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_WIP" onclick="OpenTabControl('Frm_WIP_Info','WIP Info','@Url.Action("Frm_WIP_info", "WIP", new { @area = "Profile" })')"><span class="sLeft">WIP</span><span class="sRight">Alt+W+P</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_WIP_dx" onclick="OpenTabControl('Frm_WIP_Info_dx','WIP Info dx','@Url.Action("Frm_WIP_Info_dx", "WIP", new { @area = "Profile" })')"><span class="sLeft">WIP dx</span><span class="sRight">Alt+W+P</span></a></li>


                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Deposit" onclick="OpenTabControl('Deposits_frm_Deposits_Info','Deposits','@Url.Action("Frm_Deposits_Info", "Deposits", new { @area = "Profile" })')"><span class="sLeft">Other Deposits</span><span class="sRight">Alt+O+D</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_Deposit_dx" onclick="OpenTabControl('Deposits_frm_Deposits_Info_dx','Deposits dx','@Url.Action("Frm_Deposits_Info_dx", "Deposits", new { @area = "Profile" })')"><span class="sLeft">Other Deposits dx</span><span class="sRight">Alt+O+D</span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Advances" onclick="OpenTabControl('Advances_frm_Advances_Info','Advances','@Url.Action("Frm_Advances_info", "Advances", new { @area = "Profile" })')"><span class="sLeft">Advances</span><span class="sRight">Alt+A+D</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_Advances_dx" onclick="OpenTabControl('Advances_frm_Advances_Info_dx','Advances','@Url.Action("Frm_Advances_info_dx", "Advances", new { @area = "Profile" })')"><span class="sLeft">Advances dx</span><span class="sRight">Alt+A+D</span></a></li>

                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_Liabilities_dx" onclick="OpenTabControl('Liabilities_frm_Liabilities_Info_dx','Liabilities','@Url.Action("Frm_Liabilities_Info_dx", "Liabilities", new { area = "Profile" })')"><span class="sLeft">Liabilities_dx</span><span class="sRight">Alt+L+S</span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Liabilities" onclick="OpenTabControl('Liabilities_frm_Liabilities_Info','Liabilities','@Url.Action("Frm_Liabilities_Info", "Liabilities", new { @area = "Profile" })')"><span class="sLeft">Liabilities</span><span class="sRight">Alt+L+I</span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Students" onclick="OpenTabControl('StudentList_Frm_Students_Info','Student List','@Url.Action("Frm_Students_Info", "StudentList", new { @area = "Profile" })')"><span class="sLeft">Student List</span><span class="sRight">Alt+S+L</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Surrendered" onclick="">Detail of Surrendered Soul<span class="sLeft"></span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Deposit_Slips" onclick="">Deposit Slips<span class="sLeft"></span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_ServicePlaces" onclick="OpenTabControl('ServicePlaces_Frm_ServicePlace_Info','Service Places','@Url.Action("Frm_ServicePlace_Info", "ServicePlaces", new { @area = "Profile" })')"><span class="sLeft">Godly Service Places</span><span class="sRight">Alt+G+P</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Profile_ServicePlaces_dx" onclick="OpenTabControl('ServicePlaces_Frm_ServicePlace_Info_dx','Service Places dx','@Url.Action("Frm_ServicePlace_Info_dx", "ServicePlaces", new { @area = "Profile" })')"><span class="sLeft">Godly Service Places dx</span><span class="sRight">Alt+G+P</span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Telephone" onclick="OpenTabControl('Telephone_Frm_Telephone_Info','Telephone','@Url.Action("Frm_Telephone_Info", "Telephone", new { @area = "Profile" })')"> <span class="sLeft">Telephone</span><span class="sRight">Alt+T+E</span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Membership" onclick="OpenTabControl('Membership_Frm_Wing_Profile_Info','Existing Wing. Members','@Url.Action("Frm_Membership_Info", "Membership", new { @area = "Profile" })')"><span class="sLeft">Existing Wing Members</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Existing_Mag_member" onclick="OpenTabControl('Magazine_Frm_Magazine_Members_Info','Existing Mag. Members','@Url.Action("Frm_Magazine_Members_Info", "Magazine", new { @area = "Profile" })')"><span class="sLeft">Existing Magazine Members</span><span class="sRight">Alt+E+M</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Start_BankChecking" onclick="OnBankCheckingClick()">Bank Balance Checking</a></li>
                    @*Added By: BK Soumy*@

                </ul>
            </li>
            <li class="dropdown">
                <button id="Accounts_Main" class="dropdown-toggle" data-toggle="dropdown"><u>A</u>ccounts<b class="caret"></b></button>
                <ul role="menu" class="dropdown-menu dropdown_menuAccounts">
                    <li class="dropdown-submenu" id="Voucher_Entries_menu">
                        <a href="javascript:void(0);" class="dropdown-toggle" id="Accounts_Vouchers" data-toggle="dropdown"
                           onclick="OpenTabControl('Frm_Voucher_Info','Vouchers','@Url.Action("Frm_Voucher_Info", "VoucherInfo", new { @area = "Account" })')">
                            <span class="sLeft">Voucher Entries</span> <span class="sRight">Alt+V+E</span>
                        </a>

                        <ul role="menu" class="dropdown-menu" id="Voucher_Entries_submenu">
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_CashBank" onclick="OpenDynamicPopup('New ~ Cash Deposit / Withdrawn', '/Account/CashDepositAndWithdrawnVoucher/Frm_Voucher_Win_Cash?Tag=_New', 'auto', 840)"><span class="sLeft">Cash Deposit/Withdrawn</span> <span class="sRight">Alt+C+V</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_BankToBank" onclick="OpenDynamicPopup('New ~ Bank To Bank Transfer', '/Account/BankToBankTransferVoucher/Frm_Voucher_Win_B2B?Tag=_New', 'auto', 750)"><span class="sLeft">Bank to Bank Transfer</span> <span class="sRight">Alt+B+V</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_Payment" onclick="OpenDynamicPopup('New ~ Payment', '/Account/PaymentVoucher/Frm_Voucher_Win_Gen_Pay?Tag=_New', 'auto', 1000)"><span class="sLeft">Payment</span> <span class="sRight">Alt+P+V</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_Receipt" onclick="OpenDynamicPopup('New ~ Receipt', '/Account/ReceiptVoucher/Frm_Voucher_Win_Gen_Rec?Tag=_New', 'auto', 850)"><span class="sLeft">Receipt</span> <span class="sRight">Alt+R+V</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_Donation" onclick="OpenDynamicPopup('New ~ Donation', '/Account/DonationVoucher/Frm_Voucher_Win_Donation_R?Tag=_New', 'auto', 750);"><span class="sLeft">Donation</span> <span class="sRight">Alt+D+V</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_Gift" onclick="OpenDynamicPopup('New ~ Donation in Kind', '/Account/DonationinKindVoucher/Frm_Voucher_Win_Gift?Tag=_New', 'auto', 940)"><span class="sLeft">Donation in Kind</span> <span class="sRight">Alt+K+V</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_CollectionBox" onclick="OpenDynamicPopup('New ~ Collection Box', '/Account/CollectionBoxVoucher/Frm_Voucher_Win_C_Box?Tag=_New','auto',1000)"><span class="sLeft">Collection Box</span> <span class="sRight">Alt+X+V</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_FD" onclick="OpenDynamicPopup('FD Activity', '/Account/FDVoucher/Frm_Voucher_Win_FD_Type','auto',300)"><span class="sLeft">Fixed Deposit(F.D.)</span> <span class="sRight">Alt+F+V</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_Internal_Transfer" onclick="OpenDynamicPopup('New ~ Internal Transfer', '/Account/InternalTransfer/Frm_Voucher_Win_I_Transfer?Tag=_New','auto', 1000)"><span class="sLeft">Internal Transfer</span> <span class="sRight">Alt+T+V</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_AssetTransfer" onclick="OpenDynamicPopup('New ~ Asset Transfer', '/Account/AssetTransferVoucher/Frm_Voucher_Win_Asset_Transfer?Tag=_New', 'auto', 920)"><span class="sLeft">Asset Transfer</span> <span class="sRight">Alt+A+V</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_SaleOfAsset" onclick="OpenDynamicPopup('New ~ Sale of Asset', '/Account/SaleAsset/Frm_Voucher_Win_Sale_Asset?Tag=_New', 'auto', 960)"><span class="sLeft">Sale Asset</span> <span class="sRight">Alt+S+V</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_Journal" onclick="OpenDynamicPopup('New ~ Journal Entry', '/Account/JournalVoucher/Frm_Voucher_Win_Journal?Tag=_New', 'auto', 1000)"><span class="sLeft">Journal Entry</span> <span class="sRight">Alt+J+V</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Voucher_WIP_Finalization" onclick="OpenDynamicPopup('New ~ WIP Finalization', '/Account/WIPFinalization/Frm_Voucher_Win_WIP_Finalization?Tag=_New', 'auto', 750)"><span class="sLeft">WIP Finalization</span> <span class="sRight">Alt+W+V</span></a></li>
                        </ul>
                    </li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Cashbook" onclick="OpenTabControl('Frm_Voucher_Info_CB','Cash Book','@Url.Action("Frm_Voucher_Info_CB", "Voucher", new { @area = "Account" })')"><span class="sLeft">Cash Book</span><span class="sRight">Alt+C+B</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Accounts_Cashbook_dx" onclick="OpenTabControl('Frm_Voucher_Info_CB','Cash Book dx','@Url.Action("Frm_Voucher_Info_CB_dx", "Voucher", new { @area = "Account" })')"><span class="sLeft">Cash Book dx</span><span class="sRight">Alt+C+B</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_Notebook" onclick="OpenTabControl('Frm_NoteBook_Info','NoteBook','@Url.Action("Frm_NoteBook_Info", "NoteBook", new { @area = "Account" })')"><span class="sLeft">Note-Book Entry</span> <span class="sRight">Alt+N+B</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Accounts_Notebook_dx" onclick="OpenTabControl('Frm_NoteBook_Info','NoteBook dx','@Url.Action("Frm_NoteBook_Info_dx", "NoteBook", new { @area = "Account" })')"><span class="sLeft">Note-Book Entry dx</span> <span class="sRight">Alt+N+B</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Accounts_DonationRegister" onclick="OpenTabControl('Frm_Donation_Register_Info','Donation Reg.','@Url.Action("Frm_Donation_Register_Info", "DonationRegister", new { @area = "Account" })')"><span class="sLeft">Donation Register</span><span class="sRight">Alt+D+R</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Accounts_DonationRegister_dx" onclick="OpenTabControl('Frm_Donation_Register_Info_dx','Donation Reg._dx','@Url.Action("Frm_Donation_Register_Info_dx", "DonationRegister", new { @area = "Account" })')"><span class="sLeft">Donation Register Dx</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Account_InternalTrf_Register" onclick="OpenTabControl('Frm_I_Transfer_Reg','Internal Transfer Register','@Url.Action("Frm_I_Transfer_Reg", "InternalTransfer", new { @area = "Account" })')"><span class="sLeft">Internal Transfer Register</span><span class="sRight">Alt+I+T</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Account_InternalTrf_Register_dx" onclick="OpenTabControl('Frm_I_Transfer_Reg_dx','Internal Transfer Register Dx','@Url.Action("Frm_I_Transfer_Reg_dx", "InternalTransfer", new { @area = "Account" })')"><span class="sLeft">Internal Transfer Register Dx</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Account_TDS_Register" onclick="OpenTabControl('Frm_TDS_Register','TDS Register','@Url.Action("Frm_Tds_Register_Info", "TDSRegister", new { @area = "Account" })')"><span class="sLeft">TDS Register</span></a></li>
                    @*<li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Account_TDS_Register"><span class="sLeft">TDS Register</span></a></li>*@

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Membership_Receipt_Register" onclick="OpenTabControl('Frm_Membership_Receipt_Register', 'Membership Receipt Register', '@Url.Action("Frm_Membership_Receipt_Register", "MembershipReceiptRegister", new { @area = "Membership" })')"><span class="sLeft">Membership Receipt Register</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Membership_Dispatch_Register" onclick="OpenTabControl('Frm_Membership_Dispatch_Register_Info', 'Membership Dispatch Register', '@Url.Action("Frm_Membership_Dispatch_Register_Info", "MembershipDispatchRegister", new { @area = "Account" })')"><span class="sLeft">Membership Dispatch Register</span></a></li>
                    @*<li><a href="javascript:void(0);" style="display:none" id="Account_Document_Library" onclick="OpenDynamicPopup('Connect One', '/Account/DocumentsLibrary/Frm_Doc_Library', 460, 680)">Documents Library</a></li>*@
                    <li><a href="javascript:void(0);" class="MenuList" id="Account_Document_Library" onclick="window.open('https://docs.google.com/spreadsheets/d/10zlBL2ok2Qxa6XY1jGJl-z-7XMH-PlVP/edit#gid=1308650956', '_blank');"><span class="sLeft">Documents Library</span><span class="sRight">Alt+D+L</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Account_SOP" onclick="window.open('https://docs.google.com/spreadsheets/d/10zlBL2ok2Qxa6XY1jGJl-z-7XMH-PlVP/edit#gid=1249326903&range=A2:E2', '_blank');"><span class="sLeft">Standard Operating Procedures(SOP's)</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Account_Big_Expense" onclick="BigExpenseDeclaration();"><span class="sLeft">Future Big Expense Declaration Form</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Account_Corpus_Permission_Form" onclick="CorpusPermissionForm();"><span class="sLeft">Corpus Permission Form</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Account_Budget_Form" onclick="BudgetForm();">Budget 2023-2024 Form<span class="sLeft"></span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Property_Verification_Form" onclick="PropertyVerificationForm();">Property Verification Forms<span class="sLeft"></span></a></li>

                </ul>
            </li>
            <li class="dropdown">
                <button href="javascript:void(0);" id="Report_Main" class="dropdown-toggle" data-toggle="dropdown"><u>R</u>eports<b class="caret"></b></button>
                <ul role="menu" class="dropdown-menu dropdown_menuReports">
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_Items" onclick="OpenTabControl('ItemList_Frm_Item_Info','Item Information','@Url.Action("Frm_Item_Info", "ItemList", new { @area = "Reports" })')">Item LIst</a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_Asset_Movement_Logs" onclick="OpenTabControl('AssetMovementLogs_Frm_Asset_Location_Logs','Asset Movement Logs','@Url.Action("Frm_Asset_Location_Logs", "AssetMovementLogs", new { @area = "Reports" })')">Asset Movement Report</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_Construction_Statement" onclick="OpenTabControl('ConstructionReport_Frm_Construction_Report','Construction Report','@Url.Action("Frm_Construction_Report", "ConstructionReport", new { @area = "Reports" })')">Construction Report</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_LedgerReport" onclick="OpenTabControl('ledgerReport_frm_ledger_report','Ledger Report','@Url.Action("Frm_Ledger_Report", "LedgerReport", new { @area = "Reports" })')">Ledger Report</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_Location" onclick="OpenTabControl('LocationReport_Frm_Location_Map_Info','Location Details','@Url.Action("Frm_Location_Map_Info", "LocationInfo", new { @area = "Reports" })')">Location Information</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_PartyListing" onclick="OpenTabControl('PartyBalancesReport_Frm_Party_Listing','Party Balances','@Url.Action("Frm_Party_Listing", "PartyBalances", new { @area = "Reports" })')">Party Report</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_PartyReport" onclick="OpenTabControl('partyledger_frm_party_report','Party Ledger','@Url.Action("Frm_Party_Report", "PartyLedger", new { @area = "Reports" })')">Party Ledger Report</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_AssetInsurance_Breakup" onclick="OpenTabControl('AssetInsValReport_Frm_Asset_Breakup_Info','Asset Ins Val Detail','@Url.Action("Frm_Asset_Breakup_Info", "AssetInsValReport", new { @area = "Reports" })')">Asset Insurance Value Breakup</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_Purpose" onclick="OpenTabControl('PurposeReport_Frm_Purpose_Report','Purpose Report','@Url.Action("Frm_Purpose_Report", "PurposeReport", new { @area = "Reports" })')">Purpose Report</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_WIPInfo" onclick="OpenTabControl('WIPReport_Frm_WIP_Report','WIP Report','@Url.Action("Frm_WIP_Report", "WIPReport", new { @area = "Reports" })')">Work In Progress Report</a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_Daily_Balances" onclick="OpenDynamicPopup('Daily Balances Report', '/Reports/DailyBalances/Dialog_DailyBalances', 'auto', 500)"><span class="sLeft">Daily Balances</span><span class="sRight">Alt+D+B</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Report_Daily_Balances_dx" onclick="OpenDynamicPopup('Daily Balances Report dx', '/Reports/DailyBalances/Dialog_DailyBalances_dx', 'auto', 500)"><span class="sLeft">Daily Balances dx</span><span class="sRight">Alt+D+B</span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_Potamail" onclick="_ShowStatements('Statements','PrintableStatements','Frm_ReportInput','PotamelReport')"><span class="sLeft">Transaction Summary (Potamel)</span><span class="sRight">Alt+P+R</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_Deposit_Slips">Deposit Slip Report</a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_SpecialVoucherReference" onclick="OpenTabControl('Report_VoucherReference','Special Voucher Reference Report','@Url.Action("Frm_VoucherReference_Report", "VoucherReferenceReport", new { @area = "Reports" })')">Special Voucher Reference Report</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_BS" onclick="OpenTabControl('BalanceSheetReport_Frm_Balance_Sheet_Report','Balance Sheet','@Url.Action("Frm_Balance_Sheet_Report", "BalanceSheet", new { @area = "Reports" })')">Balance Sheet Report</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_TB" onclick="OpenTabControl('TrialBalanceReport_Frm_Trial_Balance','Trial Balance','@Url.Action("Frm_Trial_Balance", "TrialBalance", new { @area = "Reports" })')"><span class="sLeft">Trial Balance Report</span><span class="sRight">Alt+T+B</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_Income_Expenditure" onclick="OpenTabControl('IncomeExpReport_Frm_Income_Expenditure_Report','Income & Expenditure Report','@Url.Action("Frm_Income_Expenditure_Report", "IncomeExpenditure", new { @area = "Reports" })')">Income & Expenditure Report</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_Utilization" onclick="OpenTabControl('UtilizationReport_Frm_Utilization_Report','Utilization Report','@Url.Action("Frm_Utilization_Report", "UtilizationReport", new { @area = "Reports" })')"><span class="sLeft">Utilization Report</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_Bank_Account_List" onclick="OpenTabControl('BankAccountReport_Frm_Bank_Accounts_Report','Bank Acc Report','@Url.Action("Frm_Bank_Accounts_Report", "BankAccountReport", new { @area = "Reports" })')">Bank Account Report</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_ItemDocMap" onclick="OpenTabControl('item_doc_map_report','Item Doc Mapping','@Url.Action("Index", "DocumentChecklist", new { @area = "Help" })')">Item Document Mapping</a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Report_UniversalDocument" onclick="OpenUniversalDocument()">Universal Document</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_AddressBook_Search" onclick="OpenTabControl('Frm_Global_Address_Report','Global Address Report','@Url.Action("Frm_Global_Address_Report_Info", "GlobalAddressReport", new { @area = "Reports" })')">Address Book Search Report</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_User_Rights" onclick="OpenTabControl('Frm_User_Rights_Report','User Rights Report','@Url.Action("Frm_User_Rights_Report_Info", "UserRightsReport", new { @area = "Reports" })')"><span class="sLeft">User Rights Report</span><span class="sRight">Alt+U+S</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_TDS_Applicability" onclick="OpenTabControl('Frm_Tds_Applicability','TDS Applicability Report','@Url.Action("Frm_Tds_Applicability_Info", "TdsReport", new { @area = "Reports" })')">TDS Applicability Report</a></li>
                    <li><a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Report_MultiBank_CashBook" onclick="OpenTabControl('Frm_MultiBank_Cashbook','Multi Bank CashBook Report','@Url.Action("Frm_MultiBank_Cashbook", "MultiBankCashBook", new { @area = "Reports" })')">Multi Bank CashBook Report</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <button href="javascript:void(0);" id="Statement_Main" class="dropdown-toggle" data-toggle="dropdown">S<u>t</u>atements<b class="caret"></b></button>
                <ul role="menu" class="dropdown-menu dropdown_menuStatements">
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Statement_CashBook" onclick="_ShowStatements('Statements','PrintableStatements','Frm_ReportInput','Cash_Book')">Cash Book</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Statement_Potamel" onclick="_ShowStatements('Statements','PrintableStatements','Frm_ReportInput','Potamel')"><span class="sLeft">Transaction Summary(Potamel)</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Statement_CollectionBox" onclick="_ShowStatements('Statements','PrintableStatements','Frm_ReportInput','CollectionBox')">Collection Box Statement</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Statement_Donation" onclick="_ShowStatements('Statements','PrintableStatements','Frm_ReportInput','Donation')">Donation Statement</a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Statement_Property" onclick="_ShowStatements('Statements','PrintableStatements','Frm_ReportInput','Property')">Property Statement</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Statement_Movable" onclick="_ShowStatements('Statements','PrintableStatements','Frm_ReportInput','MovableAsset')">Movable Asset Statement</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Statement_Vehicle" onclick="_ShowStatements('Statements','PrintableStatements','Frm_ReportInput','Vehicle')">Vehicle Statement</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Statement_GS" onclick="_ShowStatements('Statements','PrintableStatements','Frm_ReportInput','GoldSilver')">Gold / Silver Statement</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Statement_FD" onclick="_ShowStatements('Statements','PrintableStatements','Frm_ReportInput','FD')">FD Statement</a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Statement_Telaphonebill" onclick="_ShowStatements('Statements','TelePhonebill','Dialog_Telephone_Bill')">Telephone Bill Payment Details</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <button href="javascript:void(0);" style="display:none" id="Magazine_Main" class="dropdown-toggle" data-toggle="dropdown"><u>M</u>agazine<b class="caret"></b></button>
                <ul role="menu" class="dropdown-menu dropdown_menuMagazine">
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Magazine" onclick="OpenTabControl('Frm_Magazine_Info','Magazine Master','@Url.Action("Frm_Magazine_Info", "MagazineMaster", new { @area = "Magazine" })')">Magazine Master</a> </li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Magazine_Membership" onclick="OpenDynamicPopup('New ~ Magazine Membership Register', '/Magazine/MagazineMaster/Frm_Magazine_Membership_Info', 485, 1060)">Magazine Membership Profile</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Magazine_SubCity" onclick="OpenDynamicPopup('New ~ Sub City Information', '/Magazine/MagazineMaster/Frm_SubCity_Window', 209, 680)">Magazine Sub City</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Magazine_Receipt_Register" onclick="OpenTabControl('Frm_Magazine_Recei_Reg_Info','Magazine Receipt Reg','@Url.Action("Frm_Magazine_Recei_Reg_Info", "MagazineReceiptRegister", new { @area = "Magazine" })')">Magazine Receipt Register</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Magazine_Dispatch_Register" onclick="OpenTabControl('Frm_Magazine_Dispatch_Reg_Info','Magazine Dispatch Reg','@Url.Action("Frm_Magazine_Dispatch_Reg_Info", "MagazineDisPatchRegister", new { @area = "Magazine" })')">Magazine Dispatch Register</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Magazine_Dispatch_Type_Master" onclick="OpenTabControl('Frm_Magazine_DispatchType_Info','Magazine Dispatch Type','@Url.Action("Frm_Magazine_DispatchType_Info", "MagazineDispatchType", new { @area = "Magazine" })')">Magazine Dispatch Type Master</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Report_MAgSubDispatch" onclick="OpenTabControl('Report_MagSubDispatch','Mag Sub Dispatch','@Url.Action("Frm_MagSubDispatch_Report", "MagSubDispatchReport", new { @area = "Reports" })')">Magazine Sub Dispatch Report</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <button href="javascript:void(0);" id="Facility_Main" class="dropdown-toggle" data-toggle="dropdown"><u>F</u>acility<b class="caret"></b></button>
                <ul role="menu" class="dropdown-menu dropdown_menuFacility">
                    <li> <a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_AddressBook" onclick="OpenTabControl('Frm_Address_Info','Address Book','@Url.Action("Frm_Address_Info", "AddressBook", new { @area = "Facility" })')"><span class="sLeft">Address Book</span><span class="sRight">Alt+A+B</span></a> </li>
                    <li> <a href="javascript:void(0);" class="MenuList" id="Facility_AddressBook_dx" onclick="OpenTabControl('Frm_Address_Info_dx','Address Book Dx','@Url.Action("Frm_Address_Info_dx", "AddressBook", new { @area = "Facility" })')">Address Book dx</a> </li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_Notes" onclick="OpenTabControl('Frm_Notes_Info','Notes','@Url.Action("Frm_Notes_Info", "Notes", new { @area = "Facility" })')">Notes</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_Letter" onclick="OpenTabControl('Frm_Letter_Info','Letter Writing','@Url.Action("Frm_Letter_Info", "Letters", new { @area = "Facility" })')">Letter Writing</a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_Center_Purpose" onclick="OpenTabControl('Frm_Center_Purpose_Info','Center Purpose','@Url.Action("Frm_Center_Purpose_Info", "CenterPurpose", new { @area = "Facility" })')">Center Purpose</a></li>

                    <li><a href="javascript:void(0);" target="_blank" class="MenuList" id="Facility_Audit_status" onclick="window.open('https://connectone.app/Profile/DetailInfo/CheckAuditStatusPage', '_blank')">Check Audit Status</a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Facility_Center_contact" onclick="OpenTabControl('ContactInformation','Center Contact Search','@Url.Action("ContactInformation", "DetailInfo", new { @area = "Profile" })')"><span class="sLeft">Center Contact Search</span><span class="sRight">Alt+C+S</span></a></li>
                    <li><a href="javascript:void(0);" style="" class="MenuList" id="Facility_ServiceReport" onclick="OpenTabControl('Frm_Service_Report_Info','Godly Service Report','@Url.Action("Frm_Service_Report_Info", "ServiceReport", new { @area = "Facility" })')"><span class="sLeft">Godly Service Report</span><span class="sRight">Alt+S+R</span></a> </li>
                    <li><a href="javascript:void(0);" style="" class="MenuList" id="Facility_ServiceReport_Dx" onclick="OpenTabControl('Frm_Service_Report_Info_Dx','Godly Service Report Dx','@Url.Action("Frm_Service_Report_Info_dx","ServiceReport",new { @area = "Facility" })')">Godly Service Report Dx</a></li> @*Added By: BK Soumy*@
                    <li class="dropdown dropdown-submenu" id="Godly_Services_menu">
                        <a href="javascript:void(0);" style="" id="Facility_GodlyServices" class="dropdown-toggle" data-toggle="dropdown"
                           @*onclick="OpenTabControl('Frm_Godly_Services_Info','Godly Services','@Url.Action("Frm_Godly_Services_Info","GodlyServices",new { @area = "Facility" })')*@>
                            Godly Services
                        </a>
                        <ul role="menu" class="dropdown-menu" id="Godly_Services_submenu">

                            <li><a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Facility_GodlyServices_EventsMgmt" onclick="OpenTabControl('Frm_Events_Mgt_Info','Events Management','@Url.Action("Frm_Events_Mgt_Info", "GodlyServices", new { @area = "Facility" })')">Events Management</a></li>
                            <li><a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Facility_GodlyServices_Feedback_Query" onclick="OpenTabControl('Frm_Feedback_Query_Info','Feedback & Query','@Url.Action("Frm_Feedback_Query_Mgmt", "Feedback_Query_Mgmt", new { @area = "Facility" })')">Feedback & Query</a></li>
                            <li><a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Facility_ChartInfo" onclick="OpenTabControl('Frm_Chart_Info','Service Forms','@Url.Action("Frm_Chart_Info", "Chart", new { @area = "Facility" })')"><span class="sLeft">Service Forms</span><span class="sRight">Alt+S+F</span></a></li>
                            <li><a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Facility_ChartInfo_dx" onclick="OpenTabControl('Frm_Chart_Info_dx','Service Forms Dx','@Url.Action("Frm_Chart_Info_dx", "Chart", new { @area = "Facility" })')">Service Forms Dx</a></li>
                            <li>
                                <a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Facility_NotificationSettings_ChartInfo"
                                   onclick="OpenTabControl('Frm_Notification_Settings_Info','Custom Notifications','@Url.Action("Frm_Notification_Settings_Info", "NotificationSettings", new { @area = "Facility" })')">
                                    <span>Custom Notifications</span>
                                </a>
                            </li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_ServiceProject" onclick="OpenTabControl('Frm_Service_Project_Info','Service Projects','@Url.Action("Frm_Service_Project_Info", "ServiceProject", new { @area = "Facility" })')">Service Projects</a></li>
                            <li><a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Facility_SparcProject" onclick="OpenTabControl('Frm_Sparc_Project_Info','SpARC Projects','@Url.Action("Frm_Sparc_Project_Info", "SparcProject", new { @area = "Facility" })')">SpARC Projects</a></li>

                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_TaskRegister" onclick="OpenTabControl('Frm_TaskRegister_Info', 'Task Register','@Url.Action("Frm_TaskRegister_Info", "Chart", new { @area = "Facility" })')">Task Register</a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_GodlyServiceMaterial" onclick="OpenTabControl('Frm_Service_Material_Info','Godly Service Material', '@Url.Action("Frm_Service_Material_Info", "GodlyServiceMaterial", new { @area = "Facility" })')">Godly Service Material</a></li>

                        </ul>

                    </li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_Magazine_Request" onclick="OpenDynamicPopup('New ~ Magazine Request Register', '/Facility/MagazineRequest/Frm_Magazine_Request_Window?ActionMethod=_New', 460, 680)">Request a Magazine</a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Facility_Clear_Auditor_Working" onclick="ClearSessionStorage()">Clear Auditor Working</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_Magazine_Request" onclick="OpenDynamicPopup('New ~ Magazine Request Register', '/Facility/MagazineRequest/Frm_Magazine_Request_Window?ActionMethod=_New', 460, 680)">Request a Magazine</a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Facility_Clear_Auditor_Working" onclick="ClearSessionStorage()">Clear Auditor Working</a></li>

                    <li class="dropdown dropdown-submenu" id="Accommodation_menu">
                        <a href="javascript:void(0);" style="" id="Facility_Accommodation" class="dropdown-toggle" data-toggle="dropdown">
                            Accommodation
                        </a>
                        <ul role="menu" class="dropdown-menu" id="Accommodation_submenu">
                            <li>
                                <a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Facility_AccomodationDashboard"
                                   onclick="OpenTabControl('Frm_AccommodationDashboard_Info', 'Accomodation Dashboard', '@Url.Action("Frm_AccommodationDashboard_Info", "AccommodationDashboard",
                                            new { @area = "Facility" })')">
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Facility_AccomodationShort" onclick="OpenTabControl('Frm_AccommodationShort_Info',
                                'Quick Accommodation', '@Url.Action("Frm_AccommodationShort_Info", "AccommodationShort", new { @area = "Facility" })')">
                                    Quick Accommodation
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Facility_RoomsVisualization" onclick="OpenTabControl('Frm_RoomsOccupancyVisualization_Info',
                                    'RoomsVisualization', '@Url.Action("Frm_RoomsOccupancyVisualization_Info", "RoomsVisualization", new { @area = "Facility" })')">
                                    RoomsVisualization
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Facility_AccomodationRegister" onclick="OpenTabControl('Frm_AccommodationRegister_Info',
                                    'Accommodation Register', '@Url.Action("Frm_AccommodationRegister_Info", "AccommodationRegister", new { @area = "Facility" })')">
                                    Accommodation Register
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Facility_AccomodationRegister" onclick="OpenTabControl('Frm_AccommodationRegister_Info_dx',
                                'Accommodation Register  Dx', '@Url.Action("Frm_AccommodationRegister_Info_dx", "AccommodationRegister", new { @area = "Facility" })')">
                                    Accommodation Register Dx
                                    @* BK SOUMY *@
                                </a>
                            </li>
                            <li class="dropdown dropdown-submenu" id="AccommodationSummaries_menu">
                                <a href="javascript:void(0);" style="" id="Facility_AccommodationSummaries" class="dropdown-toggle" data-toggle="dropdown">
                                    Summaries
                                </a>

                                <ul class="dropdown-menu" id="AccommodationSummaries_submenu">
                                    <li>
                                        <a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_AccomodationFoodSummary"
                                           onclick="showFoodSummary_ChartReports(null, null, null, null, null, null, SummaryType = 'FOOD SUMMARY')">Food Summary</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_AccomodationFoodDetail"
                                           onclick="showFoodDetail_ChartReports(null, null, null, null, null, null, SummaryType = 'FOOD DETAIL')">Food Details</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_AccomodationFoodDetailNextTenDays"
                                           onclick="showFoodDetailNextTenDays_ChartReports(null, null, null, null, null, null, SummaryType = 'FOOD DETAILS NEXTTENDAYS')">Food Details Next 10Days</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_AccomodationGuestSummary"
                                           onclick="showGuestSummary_ChartReports(null, null, null, null, null, null, SummaryType = 'GUEST SUMMARY')">Guest Summary</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_AccomodationAccomSummary"
                                           onclick="showAccommodationSummary_ChartReports(null, null, null, null, null, null, SummaryType = 'ACCOM SUMMARY')">Accommodation Summary</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_AccomodationAccomDetail"
                                           onclick="showAccommodationDetail_ChartReports(null, null, null, null, null, null, null, SummaryType = 'ACCOM DETAIL')">Accommodation Details</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_AccomodationAccomChart"
                                           onclick="showAccommodationChart_ChartReports(null, null, null, null, null, null, null, SummaryType = 'ACCOM CHART')">Accommodation Chart</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="MenuList" id="Facility_AccomodationAccomChart"
                                           onclick="showSevadhariSummary_ChartReports(null, null, null, null, null, null, SummaryType = 'SEVADHARI SUMMARY')">Sevadhari SummaryChart</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a href="javascript:void(0);" class="MenuList" id="Facility_PAN_data" onclick="OpenTabControl('PANData_Frm_PAN_Info','PAN TDS Data','@Url.Action("Frm_PAN_Info", "PANData", new { @area = "Facility" })')"><span class="sLeft">PAN TDS Data</span><span class="sRight">Alt+P+T</span></a></li>
                    <li><a target="_blank" class="MenuList" href="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vTiqUS0YLWv0Ckka2GiHW2NyB2HK4l_Mc8dPrivPs1nFNkjlyxu_0GAFgF7BDu0P9h6lrm3JHcDEbsU/pubhtml?urp=gmail_link" id="Facility_Imp_Links">Important Links</a></li>
                    @*<li>
                            <a href="javascript:void(0);" class="MenuList" id="Facility_Bank_Equiries"
                               onclick="OpenTabControl('Balance_Statement_Enquiry', 'Bank Balance and Account Statment',
                                    '@Url.Action("BalanceAndAccountStatementEnquiry", "BankEnquiries", new { @area = "Facility" })')">
                                Bank Enquiries
                            </a>
                        </li>*@

                    @*<li>
                            <a href="javascript:void(0);" class="MenuList" id="Facility_Post_News"
                               onclick="OpenTabControl('Post_News_To_BKWebsite', 'PostNewsToBKSite',
                                                    '@Url.Action("PostNewsToBkDotCom", "APIBKWebsite", new { @area = "Facility" })')">
                                Post News to BK.com
                            </a>
                        </li>*@
                    @*<li><a href="javascript:void(0);" id="Facility_sendemail" onclick="OpenTabControl('SendMedicalWingMembersEmails','Send Emails','@Url.Action("SendMedicalWingMembersEmails","HTMLEmailer",new { @area = "Facility" })')">Send Emails</a> </li>
                        <li><a href="javascript:void(0);" id="Facility_sendcharts" onclick="OpenTabControl('SendKarunCharts','Send Charts','@Url.Action("SendKarunCharts","HTMLEmailer",new { @area = "Facility" })')">Send Charts</a> </li>*@
                </ul>
            </li>
            <li class="dropdown">
                <button id="Options_Main" class="dropdown-toggle" data-toggle="dropdown"><u>O</u>ptions<b class="caret"></b></button>
                <ul role="menu" class="dropdown-menu dropdown_menuOptions">
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Options_ChangePassword" onclick="OpenDynamicPopup('Change Password', '/Options/ChangePassword/Frm_Chg_Password', 'auto', 500)"><span class="sLeft">Change Password</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Options_UserRegister" onclick="OpenTabControl('Frm_UserRegister_Info', 'User Register','@Url.Action("Frm_UserRegister_Info", "UserRegister", new { @area = "Options" })')"><span class="sLeft">User Register</span><span class="sRight">Alt+U+R</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Options_UserRegister_dx" onclick="OpenTabControl('Frm_UserRegister_Info_dx', 'User Register dx','@Url.Action("Frm_UserRegister_Info_dx", "UserRegister", new { @area = "Options" })')"><span class="sLeft">User Register dx</span><span class="sRight">Alt+U+R</span></a></li>

                    @*Mantis bug 0001078 fixed*@
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Options_GroupMaster" onclick="OpenTabControl('Frm_GroupRegister_Info', 'GroupRegister','@Url.Action("Frm_GroupRegister_Info", "GroupRegister", new { @area = "Options" })')"><span class="sLeft">Group Register</span><span class="sRight">Alt+G+R</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Option_UserPreferences" onclick="OpenScreenSelectionScreen()"><span class="sLeft">User Preferences</span><span class="sRight">Alt+U+P</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Stock_Personnel_Master" onclick="OpenTabControl('Frm_PersonnelMaster_Info', 'Personnel Master','@Url.Action("Frm_PersonnelMaster_Info", "PersonnelMaster", new { @area = "Stock" })')">Personnel Master</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Option_CreateForm" onclick="OpenTabControl('Frm_CreateForm_Info', 'CreateForm','@Url.Action("Frm_CreateForm_Window", "CreateForm", new { @area = "Options" })')">Create Form</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <button id="Help_Main" class="dropdown-toggle" data-toggle="dropdown"><u>H</u>elp<b class="caret"></b></button>
                <ul role="menu" class="dropdown-menu dropdown_menuHelp">
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Help_Request_Box" onclick="OpenTabControl('RequestBox_Frm_Request_Info','Request Box','@Url.Action("Frm_Request_Info", "RequestBox", new { @area = "Help" })')">Request Box</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Help_Action_Items" onclick="OpenTabControl('ActionItems_frm_ActionItems_Info', 'Audit Actions', '@Url.Action("Frm_Action_Items_Info", "ActionItems", new { @area = "Help" })')"><span class="sLeft">Audit Actions</span><span class="sRight">Alt+A+U</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Help_Action_Items" onclick="OpenTabControl('ActionItems_frm_ActionItems_Info_dx', 'Audit Actions Dx', '@Url.Action("Frm_Action_Items_Info_dx", "ActionItems", new { @area = "Help" })')"><span class="sLeft">Audit Actions Dx</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Help_Attachments" onclick="OpenTabControl('ActionItems_Frm_Attachment_Info','Attachment Box', '@Url.Action("Frm_Attachment_Info", "Attachment", new { @area = "Help" })')"><span class="sLeft">Attachments</span><span class="sRight">Alt+A+T</span></a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Help_Attachments_dx" onclick="OpenTabControl('ActionItems_Frm_Attachment_Info_dx','Attachment Box', '@Url.Action("Frm_Attachment_Info_dx", "Attachment", new { @area = "Help" })')"><span class="sLeft">Attachments dx</span><span class="sRight">Alt+A+T</span></a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Help_Scheduler" onclick="OpenTabControl('Frm_Sheduler_Info', 'Scheduler', '@Url.Action("Frm_Scheduler_Info", "Scheduler", new { @area = "Help" })')">Scheduler</a></li>

                    <li><a target="_blank" class="MenuList" id="Help_Shortcutlist" href="javascript:void(0)" onclick="window.open(window.location.origin + '/Help/Shortcut/index', '_blank');">Shortcuts List</a></li>
                    <li><a target="_blank" class="MenuList" id="Help_Contact_Us" href="javascript:void(0)" onclick="window.open('https://docs.google.com/spreadsheets/d/e/2PACX-1vQdm0X1MFagNyNqm1Q-s0zQF9W_B-f4Ql6ExUaqs0TAg3TWnH-4gYWpiJuOZNCFx06UXLfQhl6gUUgU/pubhtml?gid=0&single=true', '_blank');"><span class="sLeft">Contact Us</span><span class="sRight">Alt+C+U</span></a></li>
                </ul>
            </li>
            <li class="dropdown">
                <button id="Stock_Main" style="display:none" class="dropdown-toggle" data-toggle="dropdown">Stock<b class="caret"></b></button>
                <ul role="menu" class="dropdown-menu dropdown_menuStock">
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Profile_Stock" onclick="OpenTabControl('Stock_Frm_Stock_Profile_Info','Stock Profile','@Url.Action("Frm_Stock_Info", "Stock", new { @area = "Stock" })')">Stock Profile</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Stock_Sub_Item" onclick="OpenTabControl('Frm_Stock_Item_Info','Stock Item','@Url.Action("Frm_Stock_Item_Info", "StockItemWindow", new { @area = "Stock" })')">Stock Item</a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Stock_Project" onclick="OpenTabControl('Frm_Job_Project_Register','Project Register','@Url.Action("Frm_Project_Register_Info", "ProjectScreen", new { @area = "Stock" })')">Project Register</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Stock_Job" onclick="OpenTabControl('Frm_Job_Request_Register','Job Request Register','@Url.Action("Frm_Job_Request_Register_Info", "JobRequestRegister", new { @area = "Stock" })')">Job Request Register</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Stock_UO" onclick="OpenTabControl('Frm_User_Order_Info', 'User Order','@Url.Action("Frm_User_Order_Info", "UserOrder", new { @area = "Stock" })')">User Order</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Stock_RR" onclick="OpenTabControl('Frm_RequestRegister_Info', 'RequestRegister','@Url.Action("Frm_RequestRegister_Info", "RequestRegister", new { @area = "Stock" })')">Request Register</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Stock_PO" onclick="OpenTabControl('Frm_PurchaseRegister_Info', 'PurchaseOrder','@Url.Action("Frm_PurchaseRegister_Info", "PurchaseRegister", new { @area = "Stock" })')">Purchase Register</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Stock_Production" onclick="OpenTabControl('Frm_ProductionRegister_Info', 'Production Register','@Url.Action("Frm_ProductionRegister_Info", "ProductionRegister", new { @area = "Stock" })')">Production Register</a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Stock_Machine_Tool_Issue" onclick="OpenTabControl('Frm_MT_AllocationRegister_Info', 'Machines and Tools Allocation Register','@Url.Action("Frm_MT_AllocationRegister_Info", "MTAllocationRegister", new { @area = "Stock" })')">Machines and Tools Allocation Register</a></li>

                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Stock_Dept_Store_Master" onclick="OpenTabControl('Frm_Store_Dept_Master_Info', 'Store Department Master','@Url.Action("Frm_Store_Dept_Master_Info", "Store_Dept_Master", new { @area = "Stock" })')">Store Department Master</a></li>
                    @*<li><a href="javascript:void(0);" style="display:none" id="Stock_Personnel_Master" onclick="OpenTabControl('Frm_PersonnelMaster_Info', 'Personnel Master','@Url.Action("Frm_PersonnelMaster_Info","PersonnelMaster",new { @area="Stock"})')">Personnel Master</a></li>*@
                    @*Mantis bug 0001107 resolved*@
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Stock_Supplier_Master" onclick="OpenTabControl('Frm_SupplierMaster_Info', 'Supplier Master','@Url.Action("Frm_SupplierMaster_Info", "SupplierMaster", new { @area = "Stock" })')">Supplier Master</a></li>
                    @*Mantis bug 0001192 fixed*@
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
}
else
{
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" style="float:right;">
            <li class="dropdown">
                <button id="Generic_Main" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.Open_User_ID<b class="caret"></b></button>
                <ul role="menu" class="dropdown-menu dropdown_menuGeneric">
                    @*<li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_ChartInfo" onclick="OpenTabControl('Frm_Chart_Info','Service Forms','@Url.Action("Frm_Chart_Info", "Chart", new { @area = "Facility" })')">Service Forms</a></li>
                        <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Facility_ServiceProject" onclick="OpenTabControl('Frm_Service_Project_Info','Service Projects','@Url.Action("Frm_Service_Project_Info", "ServiceProject", new { @area = "Facility" })')">Service Projects</a></li>
                        <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Help_Scheduler" onclick="OpenTabControl('Frm_Sheduler_Info', 'Scheduler', '@Url.Action("Frm_Scheduler_Info", "Scheduler", new { @area = "Help" })')">Scheduler</a></li>*@
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Options_UserRegister" onclick="OpenTabControl('Frm_UserRegister_Info', 'User Register','@Url.Action("Frm_UserRegister_Info", "UserRegister", new { @area = "Options" })')"><span class="sLeft">User Register</span><span class="sRight">Alt+U+R</span></a></li>
                    <li><a href="javascript:void(0);" style="display:none" class="MenuList" id="Options_GroupMaster" onclick="OpenTabControl('Frm_GroupRegister_Info', 'GroupRegister','@Url.Action("Frm_GroupRegister_Info", "GroupRegister", new { @area = "Options" })')"><span class="sLeft">Group Register</span><span class="sRight">Alt+G+R</span></a></li>
                    <li><a href="javascript:void(0);" @*style="display:none"*@ class="MenuList" id="Facility_SparcProject" onclick="OpenTabControl('Frm_Sparc_Project_Info','SpARC Projects','@Url.Action("Frm_Sparc_Project_Info", "SparcProject", new { @area = "Facility" })')">SpARC Projects</a></li>
                    <li><a href="javascript:void(0);" class="MenuList" id="Options_ChangePassword" onclick="OpenDynamicPopup('Change Password', '/Options/ChangePassword/Frm_Chg_Password', 'auto', 500)">Change Password</a></li>
                    <li><a href="~/Start/Login/Logout/@Request.Url.Query" class="MenuList" id="Start_Exit_Center" onclick="ClearSessionStorage()">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
}
