<div class="DonationForeign_ClearReferences">
    @model ConnectOneMVC.Areas.Account.Models.ForeignDonationV
    @using DevExtreme.AspNet.Mvc;

    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
        bool Isvisible = (Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View") ? true : false;

        bool DonationVou_AddFacilityAddress = (bool)ViewData["DonationVou_AddFacilityAddress"];
        bool DonationVou_ListFacilityAddress = (bool)ViewData["DonationVou_ListFacilityAddress"];

    }

    <style>


        #But_DonAdd_F .dx-icon {
            width: 45px;
            height: 35px;
            line-height: normal;
            left: 45px;
            top: -10px;
            bottom: 0;
        }

        #But_DonAdd_F .dx-button-content {
            height: inherit;
            padding-top: 45px;
            padding-bottom: 5px
        }

        #But_DonManage_F .dx-icon {
            width: 45px;
            height: 35px;
            line-height: normal;
            left: 45px;
            top: -10px;
            bottom: 0;
        }

        #But_DonManage_F .dx-button-content {
            height: inherit;
            padding-top: 45px;
            padding-bottom: 5px
        }
        /*FCRA Related Style*/
        #ListSpecialVoucherRef_DnF .dx-list-item-content {
            padding: 4.5px;
        }
        .ListOneRow .dx-scrollable {
            overflow-y: hidden
        }
    </style>
    <div id="Frm_Voucher_Donation_F_popup" class="col-md-12" style="padding-right:0; padding-left:0;">

        @using (Ajax.BeginForm("Frm_Voucher_Win_Donation_Window_F", "DonationVoucher",

        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "Frm_Voucher_Donation_F_popup",
            InsertionMode = InsertionMode.InsertAfter,
            OnBegin = "AjaxBeginFormPost",
            OnSuccess = "AjaxSuccessDonationVoucher_F"
        },
        new
        {
            id = "donation_F_validationForm",
            @class = "edit_form form-horizontal"
        }))

        {
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.iVoucher_Type_F)
            @Html.HiddenFor(x => x.iLed_ID_F)
            @Html.HiddenFor(x => x.iTrans_Type_F)
            @Html.HiddenFor(x => x.TitleX_F)
            @Html.HiddenFor(x => x.Text_F)
            @Html.HiddenFor(x => x.PartyList_REC_EDIT_ON_F)
            @Html.HiddenFor(x => x.BankList_REC_EDIT_ON_F)
            @Html.HiddenFor(x => x.iSpecific_ItemID_F)
            @Html.HiddenFor(x => x.xID_F)
            @Html.HiddenFor(x => x.Info_LastEditedOn_F)
            @Html.HiddenFor(x => x.LastEditedOn_F)
            @Html.HiddenFor(x => x.DnF_SplVchrReferenceSelected)
            @Html.HiddenFor(x => x.splVchrRefsCount_DnF)

            using (Html.DevExtreme().ValidationGroup("ForeignDonationValidationGroup"))
            {
                <div class="container-fluid">
                    <div class="full-width-header-bg">
                        <div class="row">
                            <div class="col-sm-8 pll">
                                <h3 class="popuphead">
                                    <i class="far fa-edit"></i> Foreign Donation
                                </h3>
                            </div>
                            <div class="col-sm-4 prl">
                                <h5 class="mand-txt-align">
                                    <i class="fas fa-info-circle"></i> Red Fields are mandatory
                                </h5>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-red" })
                        </div>
                    </div><!--[Header]-->
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        @Html.Label("Item Name:", htmlAttributes: new { id = "itemtypelabel_df", @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ItemList_Donation_F").Name("GLookUp_ItemList_Donation_F").ValueExpr("ITEM_ID").DisplayExpr("ITEM_NAME")
                                          .DataSource(d => d.Mvc().Controller("DonationVoucher").LoadAction("LookUp_GetItemList_ForeignDonation_F").Key("ITEM_ID").LoadParams(new { DDRefresh = new JS("function (){ return ItemList_DDRefresh_D_F;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                          .Placeholder("Select Item...").ReadOnly(true).FocusStateEnabled(false).ShowClearButton(false)
                                          .OnValueChanged("GLookUp_ItemList_EditValueChanged_F").ContentTemplate(@<text> @Html.Partial("LookUp_GetItemList_ForeignDonation_F") </text>))
                                    </div>
                                </div>
                            </div>
                        </div><!--[Item Name]-->
                        <div class="col-sm-5">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        @Html.Label("Voucher Date:", htmlAttributes: new { id = "voucherdatelabel_df", @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_V_Date_Donation_F").Name("Txt_V_Date_Donation_F").Value(Model.Txt_V_Date_Donation_F))
                                        @Html.ValidationMessageFor(model => model.Txt_V_Date_Donation_F, "", new { @class = "text-red" })

                                    </div>
                                </div>
                            </div>
                        </div><!--[Voucher Date]-->
                    </div><!--[Row 1]-->
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        @Html.Label("Head:", htmlAttributes: new { @class = "control-label disabletxt" })
                                    </div>
                                    <div class="col-sm-8 prm ">

                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Item_Head_Donation_F").Name("BE_Item_Head_Donation_F").ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                </div>
                            </div>
                        </div><!--[Head]-->
                        <div class="col-sm-5">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        @Html.Label("Voucher No:", htmlAttributes: new { @class = "control-label disabletxt" })
                                    </div>
                                    <div class="col-sm-8 prm">

                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_V_NO_Donation_F").Name("Txt_V_NO_Donation_F").Value(Model.Txt_V_NO_Donation_F).ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                </div>
                            </div><!--[Voucher No]-->
                            @if (Request.Browser.IsMobileDevice)
                            {
                                <div class="form-field">
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            @Html.Label("Receipt No:", htmlAttributes: new { @class = "control-label  disabletxt" })
                                        </div>
                                        <div class="col-sm-8 prm">

                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Receipt_No_Donation_F").Name("BE_Receipt_No_Donation_F").Value(Model.BE_Receipt_No_Donation_F).ReadOnly(true).FocusStateEnabled(false))

                                        </div>


                                    </div>
                                </div>
                            }
                        </div>
                    </div><!--[Row 2]-->
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-field">
                                <fieldset class="default-fieldset">
                                    <legend class="custom-legend mlm" id="donordetaillabel_F">Donor Detail:</legend>
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            @Html.Label("Donor Name:", htmlAttributes: new { id = "voucherdonorlabel_F", @class = "control-label text-red" })
                                        </div>
                                        <div class="col-sm-8 prm" data-toggle="tooltip" data-placement="bottom" title="Select Donor Name">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_PartyList_Donation_F").Name("GLookUp_PartyList_Donation_F").ValueExpr("C_ID").DisplayExpr("C_NAME").Placeholder("Select Donor...").ReadOnly(true).FocusStateEnabled(false)
                                  .DataSource(d => d.Mvc().Controller("DonationVoucher").LoadAction("LookUp_GetPartyList_ForeignDonation_F").Key("C_ID").LoadParams(new { DDRefresh = new JS("function (){ return PartyList_DDRefresh_D_F;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                  .OnValueChanged("GLookUp_PartyList_EditValueChanged_F").ContentTemplate(@<text> @Html.Partial("LookUp_GetPartyList_ForeignDonation_F")</text>) )

                                            @Html.ValidationMessageFor(model => model.GLookUp_PartyList_Donation_F, "", new { @class = "text-red" })

                                        </div>
                                    </div><!--[Donor Name]-->
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            @Html.Label("Address:", htmlAttributes: new { id = "donoraddress_F", @class = "control-label text-red" })
                                            <div class="row ptl ptm">
                                                <div class="col-md-12 donr pb4">
                                                    @(Html.DevExtreme().Button().ID("But_DonAdd_F").Text("Add Donor").Height(111).Width(130).OnClick(@<text> function() { Add_Donar_F(); }</text>).Icon(Url.Content("../../../../Icons/add user.png")).Disabled(Isvisible).FocusStateEnabled(false))
                                                </div>
                                                <div class="col-md-12 prm rgt-box-btn">
                                                    @(Html.DevExtreme().Button().ID("But_DonManage_F").Text("Manage Donor").Height(111).Width(130).OnClick(@<text> function() { Manage_Donar_F() } </text>).Icon(Url.Content("../../../../Icons/manage user.png")).Disabled(Isvisible).FocusStateEnabled(false))
                                                </div>
                                            </div>
                                        </div>  <!--[Address Label/Add Donor/Manage Donor]-->
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Add1_Donation_F").ID("BE_Add1_Donation_F").ReadOnly(true).FocusStateEnabled(false))
                                            @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Add2_Donation_F").ID("BE_Add2_Donation_F").ReadOnly(true).FocusStateEnabled(false))
                                            @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Add3_Donation_F").ID("BE_Add3_Donation_F").ReadOnly(true).FocusStateEnabled(false))
                                            @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Add4_Donation_F").ID("BE_Add4_Donation_F").ReadOnly(true).FocusStateEnabled(false))
                                            <div class="row ptl pbs">
                                                <div class="col-sm-4 brd-div">
                                                    <label id="donorcity_F" class="control-label add-txt-blue bot-marg" for="BE_City_Donation_F">City:</label>
                                                </div>
                                                <div class="col-sm-8 ">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_City_Donation_F").ID("BE_City_Donation_F").ReadOnly(true).FocusStateEnabled(false).Height("21px"))
                                                </div>
                                            </div><!--[City]-->
                                            <div class="row pbs">
                                                <div class="col-sm-4 brd-div">
                                                    <label id="donorpincode_F" class="control-label add-txt-blue bot-marg" for="BE_Pincode_Donation_F">PinCode:</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Pincode_Donation_F").ID("BE_Pincode_Donation_F").ReadOnly(true).FocusStateEnabled(false).Height("21px"))
                                                </div>
                                            </div><!--[PinCode]-->
                                            <div class="row pbs">
                                                <div class="col-sm-4 brd-div">
                                                    <label id="donordistrict_F" class="control-label add-txt-blue bot-marg" for="BE_District_Donation_F">District:</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_District_Donation_F").ID("BE_District_Donation_F").ReadOnly(true).FocusStateEnabled(false).Height("22px"))
                                                </div>
                                            </div><!--[District]-->
                                            <div class="row pbs">
                                                <div class="col-sm-4 brd-div">
                                                    <label id="donorstate_F" class="control-label add-txt-blue bot-marg" for="BE_State_Donation_F">State:</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_State_Donation_F").ID("BE_State_Donation_F").ReadOnly(true).FocusStateEnabled(false).Height("22px"))

                                                </div>
                                            </div><!--[State]-->
                                            <div class="row pbs">
                                                <div class="col-sm-4 brd-div ">
                                                    <label id="donorcountry_F" class="control-label text-red bot-marg" for="BE_Country_Donation_F">Country:</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Country_Donation_F").ID("BE_Country_Donation_F").ReadOnly(true).FocusStateEnabled(false).Height("22px"))

                                                </div>
                                            </div><!--[Country]-->
                                            <div class="row ptm ptl pbtm3">
                                                <div class="col-sm-4 brd-div">
                                                    <label id="donortaxationno_F" class="control-label  bot-marg" for="BE_TAXATION_No_Donation_F">Taxation No.:</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_TAXATION_No_Donation_F").ID("BE_TAXATION_No_Donation_F").ReadOnly(true).FocusStateEnabled(false).Height("22px"))
                                                </div>
                                            </div><!--[PAN No/Taxation No.]-->
                                            <div class="row pbs">
                                                <div class="col-sm-4 brd-div">
                                                    <label id="donorPassport_F" class="control-label  bot-marg" for="BE_Passport_No_Donation_F">Passport:</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Passport_No_Donation_F").ID("BE_Passport_No_Donation_F").ReadOnly(true).FocusStateEnabled(false).Height("22px"))
                                                </div>
                                            </div><!--[Passport]-->
                                            <div class="row pbs">
                                                <div class="col-sm-4 brd-div">
                                                    <label id="donorCategory_F" class="control-label text-red bot-marg" for="GLookUp_CatList_Donation_F">Category:</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_CatList_Donation_F").Name("GLookUp_CatList_Donation_F").ValueExpr("CAT_ID").DisplayExpr("CAT_NAME").ReadOnly(true).FocusStateEnabled(false)
                                                    .DataSource(d => d.Mvc().Controller("DonationVoucher").LoadAction("LookUp_GetCatList_ForeignDonation_F").Key("CAT_ID").LoadParams(new { DDRefresh = new JS("function (){ return CatList_DDRefresh_D_F;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                                    .Placeholder("Select Category...").OnValueChanged("GLookUp_catList_EditValueChanged_F").ContentTemplate(@<text> @Html.Partial("LookUp_GetCatList_ForeignDonation_F")</text>))
                                                </div>
                                            </div><!--[Category]-->
                                        </div>
                                    </div>
                                </fieldset>
                            </div><!--[Donor Detail Block]-->
                        </div><!--[Row 3-Left]-->
                        <div class="col-sm-5">
                            @if (Request.Browser.IsMobileDevice == false)
                            {
                                <div class="form-field">
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            @Html.Label("Receipt No:", htmlAttributes: new { @class = "control-label  disabletxt" })
                                        </div>
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Receipt_No_Donation_F").Name("BE_Receipt_No_Donation_F").Value(Model.BE_Receipt_No_Donation_F).ReadOnly(true).FocusStateEnabled(false))
                                        </div>
                                    </div>
                                </div><!--[Receipt No]-->
                            }
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        @Html.Label("Currency Name:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_currency_f" })
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_CurList_Donation_F").Name("GLookUp_CurList_Donation_F").ValueExpr("CUR_ID").DisplayExpr("CUR_NAME").ReadOnly(true).FocusStateEnabled(false)
                                        .DataSource(d => d.Mvc().Controller("DonationVoucher").LoadAction("LookUp_GetCurList_ForeignDonation_F").Key("CUR_ID").LoadParams(new { DDRefresh = new JS("function (){ return CurList_DDRefresh_D_F;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                        .Placeholder("Select Currency...").OnValueChanged("GLookUp_CurList_EditValueChanged_F").ContentTemplate(@<text> @Html.Partial("LookUp_GetCurList_ForeignDonation_F")</text>))
                                    </div>
                                </div>
                            </div><!--[Currency Name]-->
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        @Html.Label("Amt Recd In:", htmlAttributes: new { id = "lbl_AmtRecd_F", @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-8 prm" data-toggle="tooltip" data-placement="bottom" title="Select Payment Mode">

                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmd_Mode_Donation_F").Name("Cmd_Mode_Donation_F").DataSource(new[] { "CASH", "CHEQUE", "DD", "CBS", "RTGS", "NEFT", "REMITTANCE" }).ShowClearButton(false).OnValueChanged("Cmd_Mode_SelectedIndexChanged_F"))

                                    </div>
                                </div>
                            </div><!--[Mode]-->
                            <div class="form-field" style="padding-bottom:14px;padding-top:14px">
                                <fieldset class="default-fieldset" id="Ref_Item_Donation_F">
                                    <legend class="custom-legend mlm disabletxt" id="lbl_Ref_Title_F"> Reference Detail:</legend>
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            <label id="lbl_Ref_Bank_F" class="control-label " for="GLookUp_RefBankList_Donation_F">Remitting Bank:</label>
                                        </div>
                                        <div class="col-sm-8 Bank prm" data-toggle="tooltip" data-placement="bottom" title="Select Remitting Bank Name">

                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_RefBankList_Donation_F").Name("GLookUp_RefBankList_Donation_F").ValueExpr("BI_ID").DisplayExpr("BI_BANK_NAME")
                                            .DataSource(d => d.Mvc().Controller("DonationVoucher").LoadAction("LookUp_GetRefBankList_ForeignDonation_F").Key("BI_ID").LoadParams(new { DDRefresh = new JS("function (){ return RefBankList_DDRefresh_D_F;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                            .Placeholder("Select Bank...").OnValueChanged("GLookUp_RefBankList_EditValueChanged_F").ContentTemplate(@<text> @Html.Partial("LookUp_GetRefBankList_ForeignDonation_F") </text>).ReadOnly(true).FocusStateEnabled(false))


                                        </div>
                                    </div><!--[Bank Name]-->
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            <label id="lbl_Ref_Branch_F" class="control-label  mrg-top-sm" for="Txt_Ref_Branch_Donation_F">Branch Name:</label>
                                        </div>
                                        <div class="col-sm-8 prm">

                                            @(Html.DevExtreme().TextBox().CustomTextBox(true,true).Name("Txt_Ref_Branch_Donation_F").ID("Txt_Ref_Branch_Donation_F").Value(Model.Txt_Ref_Branch_Donation_F).Placeholder("Type Branch Name...").OnValueChanged("Txt_Ref_Branch_Donation_F_ValueChange").MaxLength(25))


                                        </div>
                                    </div><!--[Branch Name]-->
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            <label id="lbl_Ref_No_F" class="control-label mrg-top-sm" for="Txt_Ref_No_Donation_F">Ref.No.:</label>
                                        </div>
                                        <div class="col-sm-8 prm">

                                            @(Html.DevExtreme().TextBox().CustomTextBox(true,true).Name("Txt_Ref_No_Donation_F").ID("Txt_Ref_No_Donation_F").Value(Model.Txt_Ref_No_Donation_F).OnValueChanged("Txt_Ref_No_Donation_F_ValueChange").MaxLength(25))


                                        </div>
                                    </div><!--[Ref.No]-->
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            <label id="lbl_Ref_Date_F" class="control-label  mrg-top-sm" for="Name">Date:</label>
                                        </div>
                                        <div class="col-sm-8 prm">

                                            @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_Ref_Date_Donation_F").Name("Txt_Ref_Date_Donation_F").Min(new DateTime(1900,1,1))
                                                                                                                                      .Value(Model.Txt_Ref_Date_Donation_F))

                                        </div>
                                    </div><!--[Date]-->
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            <label id="lbl_Ref_Cdate_F" class="control-label  mrg-top-sm" for="Name">Clearing Date:</label>
                                        </div>
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_Ref_CDate_Donation_F").Name("Txt_Ref_CDate_Donation_F").Min(new DateTime(1900,01,01)))
                                        </div>
                                    </div><!--[Clearing Date]-->
                                </fieldset>
                            </div><!--[Txt_Reference_Donation Detail Block]-->
                            <div class="form-field" style="padding-bottom:14px;padding-top:15px">
                                <fieldset class="default-fieldset" id="Correspondent_Bank_Item_Donation_F">
                                    <legend class="custom-legend mlm disabletxt" id="lbl_Corres_Title_F">Correspondent Bank Detail:</legend>
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            <label id="lbl_Corres_Bank_F" class="control-label  mrg-top-sm " for="Txt_Co_Bank_Donation_F">Bank Name:</label>
                                        </div>
                                        <div class="col-sm-8 prm" data-toggle="tooltip" data-placement="bottom" title="Select Correspondent Bank Name">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true,true).Name("Txt_Co_Bank_Donation_F").ID("Txt_Co_Bank_Donation_F").MaxLength(25).Placeholder("Type Bank Name...").Value(Model.Txt_Co_Bank_Donation_F).OnValueChanged("Txt_Co_Bank_Donation_F_ValueChange"))
                                        </div>
                                    </div><!--[Bank Name]-->
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            <label id="lbl_Corres_Branch_F" class="control-label mrg-top-sm" for="Txt_Co_Branch_Donation_F">Branch Name:</label>
                                        </div>
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true,true).Name("Txt_Co_Branch_Donation_F").ID("Txt_Co_Branch_Donation_F").MaxLength(25).Placeholder("Type Branch Name...").Value(Model.Txt_Co_Branch_Donation_F).OnValueChanged("Txt_Co_Branch_Donation_F_ValueChange"))
                                        </div>
                                    </div><!--[Branch No]-->
                                </fieldset>
                            </div><!--[Correspondent Bank Detail Block]-->

                        </div><!--[Row 3-Right]-->
                    </div><!--[Row 3]-->
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-field">
                                <fieldset class="default-fieldset" id="Deposit_Bank_Item_Donation">
                                    <legend class="custom-legend mlm" id="lbl_Bank_Title_DF">Deposited Bank Detail:</legend>
                                    <div class="row">
                                        <div class="col-sm-3 pll">
                                            <label id="lbl_DepositedBank_Name" class="control-label text-red mrg-top-sm " for="GLookUp_BankList_Donation_F">Name:</label>
                                        </div>
                                        <div class="col-sm-9 prm " data-toggle="tooltip" data-placement="bottom" title="Select Bank Name">

                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_BankList_Donation_F").Name("GLookUp_BankList_Donation_F").ValueExpr("BA_ID").DisplayExpr("BANK_NAME")
                                            .DataSource(d => d.Mvc().Controller("DonationVoucher").LoadAction("LookUp_GetBankList_ForeignDonation_F").Key("BA_ID").LoadParams(new { DDRefresh = new JS("function (){ return BankList_DDRefresh_D_F;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                            .Placeholder("Select Bank...").OnValueChanged("GLookUp_BankList_EditValueChanged_F").ContentTemplate(@<text> @Html.Partial("LookUp_GetBankList_ForeignDonation_F") </text>).ReadOnly(true).FocusStateEnabled(false))

                                        </div>
                                    </div><!--[Bank Name]-->
                                    <div class="row">
                                        <div class="col-sm-3 pll">
                                            <label id="lbl_Branch" class="control-label mrg-top-sm" for="BE_Bank_Acc_No_Donation_F">Branch:</label>
                                        </div>
                                        <div class="col-sm-9 prm">

                                            @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Bank_Acc_No_Donation_F").ID("BE_Bank_Acc_No_Donation_F").ReadOnly(true).FocusStateEnabled(false))

                                        </div>
                                    </div><!--[Branch]-->
                                </fieldset>
                            </div><!--[Deposited Bank Detail Block]-->
                            <div class="form-field" style="padding-bottom:8px;padding-top:7px">
                                <fieldset class="default-fieldset">
                                    <div class="row">
                                        <div class="col-sm-3 pll">
                                            <label id="donationnarration_F" class="control-label" for="Txt_Narration_Donation_F">Narration:</label>
                                        </div>
                                        <div class="col-sm-9 prm">

                                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Narration_Donation_F").Name("Txt_Narration_Donation_F").Placeholder("Type Any Narration...").Value(Model.Txt_Narration_Donation_F).MaxLength(250))

                                        </div>
                                    </div><!--[Narration]-->
                                    <div class="row">
                                        <div class="col-sm-3 pll">
                                            <label id="donationremarks_F" class="control-label" for="Txt_Remarks_Donation_F">Remarks:</label>
                                        </div>
                                        <div class="col-sm-9 prm">

                                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Remarks_Donation_F").Name("Txt_Remarks_Donation_F").MaxLength(250).Placeholder("Type Any Other Detail/Remarks...").Value(Model.Txt_Remarks_Donation_F))

                                        </div>
                                    </div><!--[Txt_Remarks_Donation]-->
                                    <div class="row">
                                        <div class="col-sm-3 pll">
                                            <label id="donationreference_f" class="control-label col-sm-4 " for="Txt_Reference_Donation_F">Reference:</label>
                                        </div>
                                        <div class="col-sm-9 prm">

                                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Reference_Donation_F").Name("Txt_Reference_Donation_F").Placeholder("Type Any Reference Details...").Value(Model.Txt_Reference_Donation_F).MaxLength(250))

                                        </div>
                                    </div><!--[Txt_Reference_Donation]-->
                                </fieldset>
                            </div><!--[Txt_Narration_Donation/Txt_Remarks_Donation/Txt_Reference_Donation]-->
                        </div><!--[Row 4-Left]-->
                        <div class="col-sm-5">
                            <div class="form-field">
                                <fieldset class="default-fieldset" id="Amount_Donation">
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            <label id="lbl_Amount_F" class="control-label text-red  mrg-top-sm " for="Txt_Foreign_Amt_Donation_F">Amount:</label>
                                        </div>
                                        <div class="col-sm-8 prm" data-toggle="tooltip" data-placement="bottom" title="Enter Amount here...!">
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Txt_Foreign_Amt_Donation_F").ID("Txt_Foreign_Amt_Donation_F").Format("#0.00").OnValueChanged("Txt_Foreign_Amt_EditValueChanged_F").Placeholder("Type Foreign Currency Amount..."))
                                        </div>
                                    </div><!--[Amount]-->
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            <label id="lbl_Currency_Rate_F" class="control-label text-red mrg-top-sm" title="Enter Currency Rate...!" for="Txt_Cur_Rate_Donation_F">Currency Rate:</label>
                                        </div>
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Txt_Cur_Rate_Donation_F").ID("Txt_Cur_Rate_Donation_F").Format("#0.0000").OnValueChanged("Txt_Foreign_Amt_EditValueChanged_F").Placeholder("Type Currency Rate..."))
                                        </div>
                                    </div><!--[Currency Rate]-->
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            <label id="lbl_INR_Amount_F" class="control-label text-red mrg-top-sm" for="Name">(INR) Amount:</label>
                                        </div>
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Txt_INR_Amt_Donation_F").ID("Txt_INR_Amt_Donation_F").Format("#0.00").OnValueChanged("Txt_INR_Amt_EditValueChanged_F"))
                                        </div>
                                    </div><!--[(INR) Amount]-->
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            <label id="lbl_Bank_Charges_F" class="control-label mrg-top-sm" for="Name">Bank Charges:</label>
                                        </div>
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Txt_Bank_Charges_Donation_F").ID("Txt_Bank_Charges_Donation_F").OnValueChanged("Txt_INR_Amt_EditValueChanged_F").Format("#0.00").Placeholder("Type Bank Charges..."))
                                        </div>
                                    </div><!--[Bank Charges]-->
                                    <div class="row">
                                        <div class="col-sm-4 pll">
                                            <label id="lbl_Net_Amount_F" class="control-label text-red mrg-top-sm" for="Txt_Amount_Donation_F">Net Amount:</label>
                                        </div>
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Txt_Amount_Donation_F").ID("Txt_Amount_Donation_F").Format("#0.00").ReadOnly(true).FocusStateEnabled(false))
                                        </div>
                                    </div><!--[Net Amount]-->
                                </fieldset>
                            </div><!--[Amount Detail Block]-->
                            <div class="form-field">
                                <div class="row" style="padding:3px 0px 3px 0px">
                                    <div class="col-sm-4 pll">
                                        @Html.Label("Purpose:", htmlAttributes: new { id = "donationpurpose_F", @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-8 prm" data-toggle="tooltip" data-placement="bottom" title="Select Purpose">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_PurList_Donation_F").Name("GLookUp_PurList_Donation_F").ValueExpr("PUR_ID").DisplayExpr("PUR_NAME").Placeholder("Select Purpose...")
                                            .DataSource(d => d.Mvc().Controller("DonationVoucher").LoadAction("LookUp_GetPurList_ForeignDonation_F").Key("PUR_ID").LoadParams(new { DDRefresh = new JS("function (){ return PurList_DDRefresh_D_F;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                            .OnValueChanged("GLookUp_PurList_EditValueChanged_F").ContentTemplate(@<text> @Html.Partial("LookUp_GetPurList_ForeignDonation_F") </text>).ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                </div>
                            </div><!--[Purpose]-->
                        </div><!--[Row 4-Right]-->
                    </div><!--[Row 4]-->

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 ListOneRow" id="DnF_SpecialVoucherRefDiv">
                            <div class="form-field ">
                                <div class="dx-texteditor-container">
                                    @(Html.DevExtreme().List().CustomList().ID("ListSpecialVoucherRef_DnF")
                                    .DataSource(Model.SpecialReferenceList_Data_DnF, "Task_Name")
                                    .SearchEnabled(false)
                                    .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                                    .KeyExpr("Task_Name")
                                    .DisplayExpr("Task_Name")
                                    .OnSelectionChanged("OnSplVchrRefsListSelectionChanged_DnF")
                                    .Height(90).Width(300).ShowScrollbar(ShowScrollbarMode.Always).UseNativeScrolling(false)
                                    .ShowSelectionControls(true)
                                    .SelectedItemKeys(Model.SpecialReference_Get_SelectedValue_DnF))
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Donation )...", Model.ActionMethod.Substring(1)))
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().ID("BUT_SAVE_D_F").CustomSaveButton(Model.ActionMethod.ToString()).Text((Model.ActionMethod.ToString().Trim() == "_Delete") ? "Delete" : "Save").UseSubmitBehavior(false).Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true).OnClick("BUT_SAVE_Click_D_F"))
                                    @(Html.DevExtreme().Button().ID("BUT_CANCEL_D_F").CustomCloseButton().Text((Model.ActionMethod.ToString().Trim() == "_View") ? "Close" : "Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>


    @(Html.DevExtreme().Popup().CustomPopup().ID("Donar_Manag_or_Add_F").ElementAttr("class", "popup")
                                                                                    .ShowTitle(true).Title("Information").Visible(false).DragEnabled(true).ContentTemplate(@<text>
                                                                                        <div id="Donar_Manag_or_Add_result_F"> </div> </text>))
    <script>
    var GLookUp_ItemList_DG_D_F;
    var GLookUp_PartyList_DG_D_F;
    var GLookUp_CatList_DG_D_F;
    var GLookUp_BankList_DG_D_F;
    var GLookUp_CurList_DG_D_F;
    var GLookUp_RefBankList_DG_D_F;
    var GLookUp_PurList_DG_D_F;
    var ItemList_DDRefresh_D_F;
    var PartyList_DDRefresh_D_F;
    var CatList_DDRefresh_D_F;
    var BankList_DDRefresh_D_F;
    var CurList_DDRefresh_D_F;
    var RefBankList_DDRefresh_D_F;
    var PurList_DDRefresh_D_F;
    var Tag_Don_F = "@Model.ActionMethod";
    var ItemList_F_Enable = true;
    var ItemList_F_ReadOnly = true;
    var PartyList_F_Enable = true;
    var PartyList_F_ReadOnly = true;
    var CategoryList_F_Enable = true;
    var CategoryList_F_ReadOnly = true;
    var Cnt_BankAccount_F = 0;
    var BankList_F_Enable = true;
    var BankList_F_ReadOnly = true;
    var CurrencyList_F_Enable = true;
    var CurrencyList_F_ReadOnly = true;
    var RefBankList_F_Enable = true;
    var RefBankList_F_ReadOnly = true;
    var PurposeList_F_Enable = true;
    var PurposeList_F_ReadOnly = true;
    </script> @*Global Variables*@


    <script>
        function InitAllDropdownDataGrid() {
            var $GLookUp_ItemList_DG_D_F = $("#ItemList_Donation_F_DataGrid");
            if ($GLookUp_ItemList_DG_D_F.length) {
                GLookUp_ItemList_DG_D_F = $GLookUp_ItemList_DG_D_F.dxDataGrid("instance");
            }

            var $GLookUp_PartyList_DG_D_F = $("#PartyList_Donation_F_DataGrid");
            if ($GLookUp_PartyList_DG_D_F.length) {
                GLookUp_PartyList_DG_D_F = $GLookUp_PartyList_DG_D_F.dxDataGrid("instance");
            }

            var $GLookUp_CatList_DG_D_F = $("#CatList_Donation_F_DataGrid");
            if ($GLookUp_CatList_DG_D_F.length) {
                GLookUp_CatList_DG_D_F = $GLookUp_CatList_DG_D_F.dxDataGrid("instance");
            }

            var $GLookUp_BankList_DG_D_F = $("#BankList_Donation_F_DataGrid");
            if ($GLookUp_BankList_DG_D_F.length) {
                GLookUp_BankList_DG_D_F = $GLookUp_BankList_DG_D_F.dxDataGrid("instance");
            }

            var $GLookUp_CurList_DG_D_F = $("#CurList_Donation_F_DataGrid");
            if ($GLookUp_CurList_DG_D_F.length) {
                GLookUp_CurList_DG_D_F = $GLookUp_CurList_DG_D_F.dxDataGrid("instance");
            }

            var $GLookUp_RefBankList_DG_D_F = $("#RefBankList_Donation_F_DataGrid");
            if ($GLookUp_RefBankList_DG_D_F.length) {
                GLookUp_RefBankList_DG_D_F = $GLookUp_RefBankList_DG_D_F.dxDataGrid("instance");
            }

            var $GLookUp_PurList_DG_D_F = $("#PurList_Donation_F_DataGrid");
            if ($GLookUp_PurList_DG_D_F.length) {
                GLookUp_PurList_DG_D_F = $GLookUp_PurList_DG_D_F.dxDataGrid("instance")
            }
        }
        async function LookUp_GetItemList_F(FirstCall = false) {
            if (FirstCall == false) {
                ItemList_DDRefresh_D_F = true;
                await GLookUp_ItemList_DG_D_F.refresh();
                ItemList_DDRefresh_D_F = false;
            }
            var TotalCount = GLookUp_ItemList_DG_D_F.totalCount();
            if (TotalCount < 0) //dd has not been loaded so total count will return -1 in this case
            {
                var ds = $("#GLookUp_ItemList_Donation_F").dxDropDownBox("getDataSource");
                var store = ds.store();
                TotalCount = await store.totalCount();
            }
            if (TotalCount == 1) {
                $("#GLookUp_ItemList_Donation_F").find('input').css('color', '#000080');//Setting Navy blue colour
                if (Tag_Don_F == "_New" || Tag_Don_F == "_New_From_Selection") {
                    await GLookUp_ItemList_DG_D_F.selectRowsByIndexes(0);
                    ItemList_F_Enable = false;
                    Control_SetReadOnly("GLookUp_ItemList_Donation_F", "dxDropDownBox", (ItemList_F_Enable == true && ItemList_F_ReadOnly == false) ? false : true);
                }
            }
            else {
                if (Tag_Don_F == "_New" || Tag_Don_F == "_New_From_Selection") {
                    ItemList_F_ReadOnly = false;
                    Control_SetReadOnly("GLookUp_ItemList_Donation_F", "dxDropDownBox", (ItemList_F_Enable == true && ItemList_F_ReadOnly == false) ? false : true);
                }
            }
        }
        async function LookUp_GetPartyList_F(FirstCall = false)
        {
            $("#GLookUp_PartyList_Donation_F").dxDropDownBox("reset");
            if (FirstCall == false)
            {
                PartyList_DDRefresh_D_F = true;
                await GLookUp_PartyList_DG_D_F.refresh();
                PartyList_DDRefresh_D_F = false;
                $("#GLookUp_PartyList_Donation_F").dxDropDownBox("focus");
            }
            if (Tag_Don_F == "_New" || Tag_Don_F == "_New_From_Selection")
            {
                PartyList_F_ReadOnly = false;
                Control_SetReadOnly("GLookUp_PartyList_Donation_F", "dxDropDownBox", (PartyList_F_Enable == true && PartyList_F_ReadOnly == false) ? false : true);
            }
        }
        async function LookUp_GetRefBankList_F(FirstCall = false) {
            if (FirstCall == false) {
                RefBankList_DDRefresh_D_F = true;
                await GLookUp_RefBankList_DG_D_F.refresh();
                RefBankList_DDRefresh_D_F = false;
            }
            if (Tag_Don_F == "_New" || Tag_Don_F == "_New_From_Selection") {
                RefBankList_F_ReadOnly = false;
                Control_SetReadOnly("GLookUp_RefBankList_Donation_F", "dxDropDownBox", (RefBankList_F_Enable == true && RefBankList_F_ReadOnly == false) ? false : true);
            }
        }
        async function LookUp_GetBankList_F(FirstCall = false)
        {
            if (FirstCall == false) {
                BankList_DDRefresh_D_F = true;
                await GLookUp_BankList_DG_D_F.refresh();
                BankList_DDRefresh_D_F = false;
            }
            var TotalCount = GLookUp_BankList_DG_D_F.totalCount();
            if (TotalCount < 0) //dd has not been loaded so total count will return -1 in this case
            {
                var ds = $("#GLookUp_BankList_Donation_F").dxDropDownBox("getDataSource");
                var store = ds.store();
                TotalCount = await store.totalCount();
            }
            Cnt_BankAccount_F = TotalCount;
            if (TotalCount == 1) {
                $("#GLookUp_BankList_Donation_F").find('input').css('color', '#696969');//Setting DimGray colour
                $("#BE_Bank_Acc_No_Donation_F").find('input').css('color', '#696969');//Setting DimGray colour
                if (Tag_Don_F == "_New" || Tag_Don_F == "_New_From_Selection")
                {
                    await GLookUp_BankList_DG_D_F.selectRowsByIndexes(0);
                    BankList_F_Enable = false;
                    Control_SetReadOnly("GLookUp_BankList_Donation_F", "dxDropDownBox", (BankList_F_Enable == true && BankList_F_ReadOnly == false) ? false : true);
                }
            }
            else {
                if (Tag_Don_F == "_New" || Tag_Don_F == "_New_From_Selection") {
                    BankList_F_ReadOnly = false;
                    Control_SetReadOnly("GLookUp_BankList_Donation_F", "dxDropDownBox", (BankList_F_Enable == true && BankList_F_ReadOnly == false) ? false : true);
                }
            }
        }
        async function LookUp_GetPurposeList_F(FirstCall = false) {
            if (FirstCall == false) {
                PurList_DDRefresh_D_F = true;
                await GLookUp_PurList_DG_D_F.refresh();
                PurList_DDRefresh_D_F = false;
            }
            if (Tag_Don_F == "_New" || Tag_Don_F == "_New_From_Selection") {
                PurposeList_F_ReadOnly = false;
                Control_SetReadOnly("GLookUp_PurList_Donation_F", "dxDropDownBox", (PurposeList_F_Enable == true && PurposeList_F_ReadOnly == false) ? false : true);
            }
        }
        async function LookUp_GetCurrencyList_F(FirstCall = false) {
            if (FirstCall == false) {
                CurList_DDRefresh_D_F = true;
                await GLookUp_CurList_DG_D_F.refresh();
                CurList_DDRefresh_D_F = false;
            }
            if (Tag_Don_F == "_New" || Tag_Don_F == "_New_From_Selection") {
                CurrencyList_F_ReadOnly = false;
                Control_SetReadOnly("GLookUp_CurList_Donation_F", "dxDropDownBox", (CurrencyList_F_Enable == true && CurrencyList_F_ReadOnly == false) ? false : true);
            }
        }
        async function LookUp_GetCategoryList_F(FirstCall = false) {
            if (FirstCall == false) {
                CatList_DDRefresh_D_F = true;
                await GLookUp_CatList_DG_D_F.refresh();
                CatList_DDRefresh_D_F = false;
            }
            if (Tag_Don_F == "_New" || Tag_Don_F == "_New_From_Selection") {
                CategoryList_F_ReadOnly = false;
                Control_SetReadOnly("GLookUp_CatList_Donation_F", "dxDropDownBox", (CategoryList_F_Enable == true && CategoryList_F_ReadOnly == false) ? false : true);
            }
        }

    </script> @*Dropdownbox Lookup functions & InitAllDropdownDataGrid*@


    <script>

        function GLookUp_ItemList_EditValueChanged_F(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                GLookUp_ItemList_DG_D_F.clearSelection();
                $("#BE_Item_Head_Donation_F").dxTextBox("instance").reset();
                return;
            }
            if (GLookUp_ItemList_DG_D_F.getSelectedRowsData().length > 0) {
                var item = GLookUp_ItemList_DG_D_F.getSelectedRowsData()[0];
                $("#BE_Item_Head_Donation_F").dxTextBox("instance").option("value", item["LED_NAME"]);
                $("#iVoucher_Type_F").val(item["ITEM_VOUCHER_TYPE"]);
                $("#iLed_ID_F").val(item["ITEM_LED_ID"]);
                $("#iTrans_Type_F").val(item["ITEM_TRANS_TYPE"]);
            }
        }
        function GLookUp_PartyList_EditValueChanged_F(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                GLookUp_PartyList_DG_D_F.clearSelection();
                $("#BE_Add1_Donation_F").dxTextBox("instance").reset();
                $("#BE_Add2_Donation_F").dxTextBox("instance").reset();
                $("#BE_Add3_Donation_F").dxTextBox("instance").reset();
                $("#BE_Add4_Donation_F").dxTextBox("instance").reset();
                $("#BE_City_Donation_F").dxTextBox("instance").reset();
                $("#BE_State_Donation_F").dxTextBox("instance").reset();
                $("#BE_District_Donation_F").dxTextBox("instance").reset();
                $("#BE_Country_Donation_F").dxTextBox("instance").reset();
                $("#BE_Pincode_Donation_F").dxTextBox("instance").reset();
                $("#BE_TAXATION_No_Donation_F").dxTextBox("instance").reset();
                $("#BE_Passport_No_Donation_F").dxTextBox("instance").reset();
                return;
            }
            if (GLookUp_PartyList_DG_D_F.getSelectedRowsData().length > 0) {
                var item = GLookUp_PartyList_DG_D_F.getSelectedRowsData()[0];
                $("#BE_Add1_Donation_F").dxTextBox("instance").option("value", item["C_R_ADD1"]);
                $("#BE_Add2_Donation_F").dxTextBox("instance").option("value", item["C_R_ADD2"]);
                $("#BE_Add3_Donation_F").dxTextBox("instance").option("value", item["C_R_ADD3"]);
                $("#BE_Add4_Donation_F").dxTextBox("instance").option("value", item["C_R_ADD4"]);

                $("#BE_City_Donation_F").dxTextBox("instance").option("value", item["CI_NAME"]);
                $("#BE_State_Donation_F").dxTextBox("instance").option("value", item["ST_NAME"]);
                $("#BE_District_Donation_F").dxTextBox("instance").option("value", item["DI_NAME"]);
                $("#BE_Country_Donation_F").dxTextBox("instance").option("value", item["CO_NAME"]);
                $("#BE_Pincode_Donation_F").dxTextBox("instance").option("value", item["C_R_PINCODE"]);

                $("#BE_TAXATION_No_Donation_F").dxTextBox("instance").option("value", item["C_TAX_ID_NO"]);
                $("#BE_Passport_No_Donation_F").dxTextBox("instance").option("value", item["C_PASSPORT_NO"]);
                $("#PartyList_REC_EDIT_ON_F").val(item["REC_EDIT_ON"]);
            }
        }
        function GLookUp_RefBankList_EditValueChanged_F(e) {
            e.component.close();
            if (e.value == null && e.previousValue != null) {
                GLookUp_RefBankList_DG_D_F.clearSelection();
                return;
            }
        }
        function GLookUp_BankList_EditValueChanged_F(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                GLookUp_BankList_DG_D_F.clearSelection();
                $("#BE_Bank_Acc_No_Donation_F").dxTextBox("instance").reset();
                return;
            }
            if (GLookUp_BankList_DG_D_F.getSelectedRowsData().length > 0) {
                var item = GLookUp_BankList_DG_D_F.getSelectedRowsData()[0];
                $("#BE_Bank_Acc_No_Donation_F").dxTextBox("instance").option("value", item["BANK_ACC_NO"]);
                $("#BankList_REC_EDIT_ON_F").val(item["REC_EDIT_ON"]);
            }
        }
        function GLookUp_PurList_EditValueChanged_F(e) {
            e.component.close();
            if (e.value == null && e.previousValue != null) {
                GLookUp_PurList_DG_D_F.clearSelection();
                return;
            }
        }
        function GLookUp_CurList_EditValueChanged_F(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                GLookUp_CurList_DG_D_F.clearSelection();
                $("#lbl_AmtRecd_F").text("Amt Recd In:");
                $("#lbl_Amount_F").text("Amount:");
                return;
            }
            if (GLookUp_CurList_DG_D_F.getSelectedRowsData().length > 0) {
                var item = GLookUp_CurList_DG_D_F.getSelectedRowsData()[0];
                $("#lbl_AmtRecd_F").text("(" + item["CUR_CODE"] + ") Recd. In:");
                $("#lbl_Amount_F").text("(" + item["CUR_CODE"] + ") Amount:");
            }
        }
        function GLookUp_catList_EditValueChanged_F(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                GLookUp_CatList_DG_D_F.clearSelection();
                return;
            }
        }

        function Cmd_Mode_SelectedIndexChanged_F(e) {
            if (e.value == null) { return; }
            if (e.value.toUpperCase() == "CASH") {
                $("#Ref_Item_Donation_F").prop("disabled", true);
                $("#Correspondent_Bank_Item_Donation_F").prop("disabled", true);

                $("#GLookUp_RefBankList_Donation_F").dxDropDownBox("instance").reset();
                $("#Txt_Ref_Branch_Donation_F").dxTextBox("instance").reset();
                $("#Txt_Ref_No_Donation_F").dxTextBox("instance").reset();
                $("#Txt_Ref_Date_Donation_F").dxDateBox("instance").reset();
                $("#Txt_Ref_CDate_Donation_F").dxDateBox("instance").reset();

                $("#lbl_Ref_Title_F").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Ref_Bank_F").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Ref_Branch_F").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Ref_No_F").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Ref_Date_F").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Ref_Cdate_F").removeClass("text-red").addClass("disabletxt");

                $("#lbl_Ref_Title_F").text("Reference Detail:");
                $("#lbl_Ref_No_F").text("Ref. No.:");
                $("#Txt_Ref_No_Donation_F").dxTextBox("instance").option("placeholder", "Type Ref. No...");
                $("#lbl_Ref_Date_F").text("Date:");
                $("#lbl_Ref_Cdate_F").text("Clearing Date:");

                $("#lbl_Corres_Title_F").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Corres_Bank_F").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Corres_Branch_F").removeClass("text-red").addClass("disabletxt");
            }
            else {
                $("#Ref_Item_Donation_F").prop("disabled", false);
                $("#Correspondent_Bank_Item_Donation_F").prop("disabled", false);

                $("#GLookUp_RefBankList_Donation_F").dxDropDownBox("instance").reset();
                $("#Txt_Ref_Branch_Donation_F").dxTextBox("instance").reset();
                $("#Txt_Ref_No_Donation_F").dxTextBox("instance").reset();
                $("#Txt_Ref_Date_Donation_F").dxDateBox("instance").reset();
                $("#Txt_Ref_CDate_Donation_F").dxDateBox("instance").reset();

                $("#lbl_Ref_Title_F").removeClass("text-red").removeClass("disabletxt");
                $("#lbl_Ref_Bank_F").removeClass("text-red").removeClass("disabletxt");
                $("#lbl_Ref_Branch_F").removeClass("text-red").removeClass("disabletxt");
                $("#lbl_Ref_No_F").removeClass("text-red").removeClass("disabletxt");
                $("#lbl_Ref_Date_F").removeClass("text-red").removeClass("disabletxt");
                $("#lbl_Ref_Cdate_F").removeClass("text-red").removeClass("disabletxt");

                if (e.value.toUpperCase() == "CHEQUE") {
                    $("#lbl_Ref_Title_F").text("Cheque Detail:");
                    $("#lbl_Ref_No_F").text("Cheque No.:");
                    $("#Txt_Ref_No_Donation_F").dxTextBox("instance").option("placeholder", "Type Cheque No...");
                    $("#lbl_Ref_Date_F").text("Cheque Date:");
                    $("#lbl_Ref_Cdate_F").text("Clearing Date:");
                }
                if (e.value.toUpperCase() == "DD") {
                    $("#lbl_Ref_Title_F").text("D.D. Detail:");
                    $("#lbl_Ref_No_F").text("D.D. No.:");
                    $("#Txt_Ref_No_Donation_F").dxTextBox("instance").option("placeholder", "Type D.D. No...");
                    $("#lbl_Ref_Date_F").text("D.D. Date:");
                    $("#lbl_Ref_Cdate_F").text("Clearing Date:");
                }
                if (e.value.toUpperCase() == "CBS" || e.value.toUpperCase() == "RTGS" || e.value.toUpperCase() == "NEFT" || e.value.toUpperCase() == "MO") {
                    $("#lbl_Ref_Title_F").text(e.value + " Reference Detail:");
                    $("#lbl_Ref_No_F").text("Ref. No.:");
                    $("#Txt_Ref_No_Donation_F").dxTextBox("instance").option("placeholder", "Type Ref. No...");
                    $("#lbl_Ref_Date_F").text("Date:");
                    $("#lbl_Ref_Cdate_F").text("Clearing Date:");
                }
                $("#lbl_Corres_Title_F").removeClass("text-red").removeClass("disabletxt");
                $("#lbl_Corres_Bank_F").removeClass("text-red").removeClass("disabletxt");
                $("#lbl_Corres_Branch_F").removeClass("text-red").removeClass("disabletxt");
            }
        }

        function Txt_Foreign_Amt_EditValueChanged_F(e) {
            var Foreign_Amount = parseFloat($("#Txt_Foreign_Amt_Donation_F").dxNumberBox("instance").option("value"));
            var Curency_Rate = parseFloat($("#Txt_Cur_Rate_Donation_F").dxNumberBox("instance").option("value"));
            var result;
            if ((Foreign_Amount > 0) && (Curency_Rate > 0)) {
                result = Foreign_Amount * Curency_Rate;
            }
            else {
                result = "0.00";
            }
            $("#Txt_INR_Amt_Donation_F").dxNumberBox("instance").option("value", parseFloat(result));
        }
        function Txt_INR_Amt_EditValueChanged_F(e) {
            var INR_Amount = $("#Txt_INR_Amt_Donation_F").dxNumberBox("instance").option("value");
            var Bank_Charges = $("#Txt_Bank_Charges_Donation_F").dxNumberBox("instance").option("value");
            var result;
            result = (INR_Amount ?? 0.00) - (Bank_Charges ?? 0.00);
            $("#Txt_Amount_Donation_F").dxNumberBox("instance").option("value", parseFloat(result));
        }

        function Txt_Ref_Branch_Donation_F_ValueChange(e) {
            if (e.value != null) {
                $("#Txt_Ref_Branch_Donation_F").dxTextBox("option", "value", e.value.toUpperCase());
            }
        }
        function Txt_Ref_No_Donation_F_ValueChange(e) {
            if (e.value != null) {
                $("#Txt_Ref_No_Donation_F").dxTextBox("option", "value", e.value.toUpperCase());
            }
        }
        function Txt_Co_Bank_Donation_F_ValueChange(e) {
            if (e.value != null) {
                $("#Txt_Co_Bank_Donation_F").dxTextBox("option", "value", e.value.toUpperCase());
            }
        }
        function Txt_Co_Branch_Donation_F_ValueChange(e) {
            if (e.value != null) {
                $("#Txt_Co_Branch_Donation_F").dxTextBox("option", "value", e.value.toUpperCase());
            }
        }
    </script> @*Dropdownbox Selectbox & Textbox Functions*@


<script>
    function Add_Donar_F()
    {
        if ("@DonationVou_AddFacilityAddress" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (Tag_Don_F == "_New" || Tag_Don_F == "_Edit" || Tag_Don_F == "_New_From_Selection")
        {
            AddParty("Donar_Manag_or_Add_F", "LookUp_GetPartyList_F", "Add_Donar_F", "But_DonAdd_F", "New ~ Address Book (Donor Details)");
        }
    }
    function Manage_Donar_F()
    {
        if ("@DonationVou_ListFacilityAddress" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (Tag_Don_F == "_New" || Tag_Don_F == "_Edit" || Tag_Don_F == "_New_From_Selection")
        {
            ManageParty("Donar_Manag_or_Add_F", "LookUp_GetPartyList_F");
        }
    }
    function BUT_SAVE_Click_D_F(e)
    {
        var form = $("#donation_F_validationForm");
        if (ValidateForm(e))
        {
            if (Tag_Don_F == "_Delete")
            {
                DeleteAfterConfirmation("@Model.Text_F", "", form);         
            }
            else
            {
                form.submit();
            }
        }
    }
</script> @*Button Functions*@


<script>
        function ForeignDonationCustomClientSideValidation()
        {
            $("#GLookUp_BankList_Donation_F").dxDropDownBox({})
                .dxValidator({
                    validationRules: [{
                        type: 'custom',
                        reevaluate: true,
                        validationCallback: function (e)
                        {
                            console.log(e)
                            if ((e.value == null || e.value.length == 0) && (Tag_Don_F == "_New" || Tag_Don_F == "_New_From_Selection" || Tag_Don_F == "_Edit"))
                            {
                                return false;
                            }
                            return true;
                        },
                        message: "Deposited Bank Not Selected...!"
                    }],
                    validationGroup: "ForeignDonationValidationGroup"
                });
        }
    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        sessionclearpath = "/Account/DonationVoucher/SessionClear";
        ClosingScreenParentDivClass = "DonationForeign_ClearReferences";
        if (Tag_Don_F != "_View")
        {
            dontaskpopupcloseconfirmation = false;
        }
        TransformTextForDB("donation_F_validationForm");
        InitAllDropdownDataGrid();
        await Promise.all([LookUp_GetItemList_F(true), LookUp_GetPartyList_F(true), LookUp_GetBankList_F(true), LookUp_GetRefBankList_F(true), LookUp_GetPurposeList_F(true), LookUp_GetCurrencyList_F(true), LookUp_GetCategoryList_F(true)]);
        $("#Txt_Bank_Charges_Donation_F").dxNumberBox("instance").option("value", null);
        $("#Txt_Cur_Rate_Donation_F").dxNumberBox("instance").option("value", null);
        $("#Txt_Foreign_Amt_Donation_F").dxNumberBox("instance").option("value", null);
        $("#Txt_Cur_Rate_Donation_F").dxNumberBox("instance").option("isValid", true);
        $("#Txt_Foreign_Amt_Donation_F").dxNumberBox("instance").option("isValid", true);
        $("#Cmd_Mode_Donation_F").dxSelectBox("instance").option("value", "CHEQUE");
        if (Tag_Don_F == "_Edit" || Tag_Don_F == "_View" || Tag_Don_F == "_Delete")
        {
            if ("@Model.Cmd_Mode_Donation_F".length > 0)
            {
                $("#Cmd_Mode_Donation_F").dxSelectBox("instance").option("value", "@Model.Cmd_Mode_Donation_F");
            }
            if ("@Model.GLookUp_ItemList_Donation_F".length > 0)
            {
                await GLookUp_ItemList_DG_D_F.selectRows("@Model.GLookUp_ItemList_Donation_F", false);
            }
            ItemList_F_ReadOnly = false;
            Control_SetReadOnly("GLookUp_ItemList_Donation_F", "dxDropDownBox", (ItemList_F_Enable == true && ItemList_F_ReadOnly == false) ? false : true);

            if ("@Model.GLookUp_BankList_Donation_F".length > 0)
            {
                await GLookUp_BankList_DG_D_F.selectRows("@Model.GLookUp_BankList_Donation_F", false);
            }
            BankList_F_ReadOnly = false;
            Control_SetReadOnly("GLookUp_BankList_Donation_F", "dxDropDownBox", (BankList_F_Enable == true && BankList_F_ReadOnly == false) ? false : true);

            if ("@Model.GLookUp_PartyList_Donation_F".length > 0)
            {
                await GLookUp_PartyList_DG_D_F.selectRows("@Model.GLookUp_PartyList_Donation_F", false);
            }
            PartyList_F_ReadOnly = false;
            Control_SetReadOnly("GLookUp_PartyList_Donation_F", "dxDropDownBox", (PartyList_F_Enable == true && PartyList_F_ReadOnly == false) ? false : true);

            if ("@Model.GLookUp_CatList_Donation_F".length > 0)
            {
                await GLookUp_CatList_DG_D_F.selectRows("@Model.GLookUp_CatList_Donation_F", false);
            }
            CategoryList_F_ReadOnly = false;
            Control_SetReadOnly("GLookUp_CatList_Donation_F", "dxDropDownBox", (CategoryList_F_Enable == true && CategoryList_F_ReadOnly == false) ? false : true);

            if ("@Model.GLookUp_CurList_Donation_F".length > 0)
            {
                await GLookUp_CurList_DG_D_F.selectRows("@Model.GLookUp_CurList_Donation_F", false);
            }
            CurrencyList_F_ReadOnly = false;
            Control_SetReadOnly("GLookUp_CurList_Donation_F", "dxDropDownBox", (CurrencyList_F_Enable == true && CurrencyList_F_ReadOnly == false) ? false : true);

            if ("@Model.GLookUp_RefBankList_Donation_F".length > 0)
            {
                await GLookUp_RefBankList_DG_D_F.selectRows("@Model.GLookUp_RefBankList_Donation_F", false);
            }
            RefBankList_F_ReadOnly = false;
            Control_SetReadOnly("GLookUp_RefBankList_Donation_F", "dxDropDownBox", (RefBankList_F_Enable == true && RefBankList_F_ReadOnly == false) ? false : true);
            if ("@Model.Txt_Ref_Branch_Donation_F".length > 0)
            {
                $("#Txt_Ref_Branch_Donation_F").dxTextBox("instance").option("value", TransformText("@Model.Txt_Ref_Branch_Donation_F"));
            }
            if ("@Model.Txt_Ref_No_Donation_F".length > 0)
            {
                $("#Txt_Ref_No_Donation_F").dxTextBox("instance").option("value", TransformText("@Model.Txt_Ref_No_Donation_F"));
            }
            if ("@Model.Txt_Ref_Date_Donation_F".length > 0)
            {
                $("#Txt_Ref_Date_Donation_F").dxDateBox("instance").option("value", moment("@Model.Txt_Ref_Date_Donation_F", "DD/MM/YYYY"));
            }
            if ("@Model.Txt_Ref_CDate_Donation_F".length > 0)
            {
                $("#Txt_Ref_CDate_Donation_F").dxDateBox("instance").option("value", moment("@Model.Txt_Ref_CDate_Donation_F", "DD/MM/YYYY"));
            }

            if ("@Model.GLookUp_PurList_Donation_F".length > 0)
            {
                await GLookUp_PurList_DG_D_F.selectRows("@Model.GLookUp_PurList_Donation_F", false);
            }
            PurposeList_F_ReadOnly = false;
            Control_SetReadOnly("GLookUp_PurList_Donation_F", "dxDropDownBox", (PurposeList_F_Enable == true && PurposeList_F_ReadOnly == false) ? false : true);

            if ("@Model.Txt_Foreign_Amt_Donation_F".length > 0)
            {
                $("#Txt_Foreign_Amt_Donation_F").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Foreign_Amt_Donation_F"));
            }
            if ("@Model.Txt_Cur_Rate_Donation_F".length > 0)
            {
                $("#Txt_Cur_Rate_Donation_F").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Cur_Rate_Donation_F"));
            }
            if ("@Model.Txt_INR_Amt_Donation_F".length > 0)
            {
                $("#Txt_INR_Amt_Donation_F").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_INR_Amt_Donation_F"));
            }
            if ("@Model.Txt_Bank_Charges_Donation_F".length > 0)
            {
                $("#Txt_Bank_Charges_Donation_F").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Bank_Charges_Donation_F"));
            }
            if ("@Model.Txt_Amount_Donation_F".length > 0)
            {
                $("#Txt_Amount_Donation_F").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Amount_Donation_F"));
            }
        }
        if (Tag_Don_F == "_New_From_Selection") //By Item-wise Selection
        {
            if ("@Model.iSpecific_ItemID_F".length > 0)
            {
                await GLookUp_ItemList_DG_D_F.selectRows("@Model.iSpecific_ItemID_F", false);
                ItemList_F_ReadOnly = false;
                Control_SetReadOnly("GLookUp_ItemList_Donation_F", "dxDropDownBox", (ItemList_F_Enable == true && ItemList_F_ReadOnly == false) ? false : true);
            }
        }

        //FCRA Related
        //await $("#ListSpecialVoucherRef_DnF").dxList("getDataSource").load();
        if (parseInt("@Model.splVchrRefsCount_DnF") > 0) {
                //await $("#ListSpecialVoucherRef_DnF").dxList("getDataSource").load();
                OnSplVchrRefsListSelectionChanged_DnF();
            }
        //FCRA Related ListBox alignment settings
        if (parseInt("@Model.splVchrRefsCount_DnF") == 0)
        {
            $("#DnF_SpecialVoucherRefDiv").remove();
            //$("#fcraAmtDiv_DnF").removeClass("col-sm-12 col-md-6 col-lg-6").addClass("col-sm-12 col-md-12");
        }

        ForeignDonationCustomClientSideValidation();
        FormInitialSettings("donation_F_validationForm",Tag_Don_F);
    });
    function AjaxSuccessDonationVoucher_F(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            if (data.jsonParam.closeform)
            {
                dontaskpopupcloseconfirmation = true;
                $("#Dynamic_Content_popup").dxPopup("hide");
            }
            if (data.jsonParam.refreshgrid)
            {
                 RefreshGridView("@ViewBag.GridToRefresh");
            }
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result == true)
        {
            var _ActiveTab_ID = $(".TabPanalMenu-tabs .active").attr("id");
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (result)
            {
                if (result)
                {
                    if ("@ViewBag.GridToRefresh" != "CashBookListGrid")
                    {
                        RefreshGridView("@ViewBag.GridToRefresh");
                    }
                    if (/*typeof CashBookListGrid !== 'undefined'*/ _ActiveTab_ID == "contact_Frm_Voucher_Info_CB")
                    {
                        var VouDate = $("#Txt_V_Date_Donation_F").dxDateBox("instance").option("value");
                        AfterVoucherClose_CB(VouDate, Tag_Don_F, IsUndefinedOrNull(data.CashbookGridPK) ? "" : data.CashbookGridPK);
                    }
                    else if (_ActiveTab_ID == "contact_Frm_Voucher_Info") {
                        AfterVoucherClose_VoucherEntry();
                    }
                    dontaskpopupcloseconfirmation = true;
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
            });
        }
    }



</script> @*Document.ready Set_Default AjaxSuccessDonationVoucher_F*@
<script>
    function OnSplVchrRefsListSelectionChanged_DnF(e) {
        var listBox = $("#ListSpecialVoucherRef_DnF").dxList("instance");
        var selecteditemkey = listBox.option("selectedItemKeys")
        if (selecteditemkey != null && selecteditemkey.length > 0) {
            $("#DnF_SplVchrReferenceSelected").val(selecteditemkey.join(","));
        }
        else {
            $("#DnF_SplVchrReferenceSelected").val("");
        }
    }// List selection

</script>
</div>