<div class="Telephone_WindowProfile_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Profile.Models.TelephoneProfile
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
    @{
        ViewBag.Test = Model.ActionMethod;
        bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
    }

    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
    }

    <style>
        .control-label {
            text-align: left !important;
        }
    </style>

    <div id="Frm_Telephone_Window_Content">
        @using (Ajax.BeginForm("Frm_Telephone_Window", "Profile",
                           new AjaxOptions
                           {
                               HttpMethod = "POST",
                               UpdateTargetId = "Frm_Telephone_Window_Content",
                               InsertionMode = InsertionMode.InsertAfter,
                               OnBegin = "AjaxBeginFormPost",
                               OnSuccess = "TelephoneAjaxSuccessForm"
                           },
                           new
                           {
                               id = "TelephonevalidationForm",
                               @class = "edit_form"
                           }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.EditDate)
            @Html.HiddenFor(x => x.Old_tP_NOField)
            @Html.HiddenFor(x => x.ID)
            var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();


            using (Html.DevExtreme().ValidationGroup())
            {

                <div class="full-width-header-bg">
                    <div class="row">

                        <div class="col-sm-8">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Telephone </h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                    </div>
                </div><!--[row]-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-4 ">
                                        @Html.LabelFor(model => model.tP_NOField, htmlAttributes: new { @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-8 plm">
                                        @(Html.DevExtreme().TextBoxFor(x => x.tP_NOField).CustomTextBox(true).ID("tP_NOField").Name("tP_NOField").Placeholder("Type Telephone No...").MaxLength(11).ReadOnly(IsVisible).Disabled(IsVisible))


                                        @Html.ValidationMessageFor(model => model.tP_NOField, "", new { @class = "text-red " })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.telMiscIdField, htmlAttributes: new { @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-8">
                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("telMiscIdField").Name("telMiscIdField").DataSource(d => d.Mvc().Controller("Telephone").LoadAction("LookUp_Get_TeleCom_List").Key("MISC_ID"))
                                                          .DisplayExpr("MISC_NAME").ValueExpr("MISC_ID").ReadOnly(IsVisible).Disabled(IsVisible).Placeholder("Select Telecom Company...") )
                                        @Html.ValidationMessageFor(model => model.telMiscIdField, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--[row]-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.categoryField, htmlAttributes: new { @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-8 plm">
                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("categoryField").Name("categoryField").DataSource(new[] { "LANDLINE", "WIRELESS LANDLINE", "MOBILE" }).Value(Model.categoryField)
                                                        .ReadOnly(IsVisible).Disabled(IsVisible).Placeholder("Select Category..."))
                                        @Html.ValidationMessageFor(model => model.categoryField, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.typeField, htmlAttributes: new { @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-8">

                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("typeField").Name("typeField").DataSource(new[] { "PRE PAID", "POST PAID" }).Value(Model.typeField).ReadOnly(IsVisible).Disabled(IsVisible).Placeholder("Select Type...") )
                                        @Html.ValidationMessageFor(model => model.typeField, "", new { @class = "text-red" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--[row]-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.other_DetField, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-10">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("other_DetField").Name("other_DetField").Placeholder("Other Details").Value(Model.other_DetField).MaxLength(250).ReadOnly(IsVisible).Disabled(IsVisible).Placeholder("Type Any Other Details / Remarks...") )
                                        @Html.ValidationMessageFor(model => model.other_DetField, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Telephone)...", Model.ActionMethod.ToString().Substring(1)))
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().CustomSaveButton(Model.ActionMethod.ToString().Trim()).ID("BUT_SAVE_TeleProfile").Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit") ? "Save" : "Delete").UseSubmitBehavior(false).Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true).OnClick("Telephone_SaveClick") )
                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("CANCEL_TeleProfile").Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit" || Model.ActionMethod.ToString().Trim() == "_Delete") ? "Cancel" : "Close").FocusStateEnabled(true).OnClick(@<text> function () {  $("#popup_frm_Telephone_Window").dxPopup("hide"); } </text>) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->
            }
        }
    </div>
    <script>
    $(document).ready(function ()
    {
        ShowLoader_Ready();
        TransformTextForDB("TelephonevalidationForm");
        Telephone_IsSucessPopup = false;
        var form = "TelephonevalidationForm";
        AssignIDtoLabel(form, "TelephoneProfile");
        $("#tP_NOField").find("input").addClass("OnlyDigit");
        LookUp_Get_TeleCom_List().then((r) =>
        {
            if ("@Model.telMiscIdField".length > 0) {
                $("#telMiscIdField").dxSelectBox("instance").option("value", "@Model.telMiscIdField");
            }
            setTimeout(function ()
            {
                if ("@Model.ActionMethod" == "_View")
                {
                    Set_Form_View_Delete_Mode("#000080", form);
                }
                else if ("@Model.ActionMethod" == "_Delete")
                {
                    Set_Form_View_Delete_Mode("#696969", form);
                }
                if ("@Model.ActionMethod" == "Delete" || "@Model.ActionMethod" == "_Delete") {
                    $("#BUT_SAVE_TeleProfile").dxButton('instance').focus();// redmine bug 132896 fix
                }
                else
                {
                    $("#tP_NOField").dxTextBox('instance').focus();
                }
                HideLoader_Ready();
            }, Timeout500);
        });
    });
    //$('#other_DetField input').keydown(function (e) {
    //    //BracketKeyPressEvent(e);
    //    if (e.key == "[") {
    //        e.preventDefault();
    //        $(this).val($(this).val() + "(");
    //    }
    //    if (e.key == "]") {
    //        e.preventDefault();
    //        $(this).val($(this).val() + ")");
    //    }
    //    if (e.key == "'") {
    //        e.preventDefault();
    //        $(this).val($(this).val() + "`");
    //    }
    //});
    //$("#tP_NOField").keypress(function (e)
    //{
    //    e = e || window.event;
    //    key = e.keyCode || e.which;
    //    //For Firefox
    //    if (key == 8 || key == 127 || key == 9)
    //        return true
    //    var txt = String.fromCharCode(key);
    //    var reg = /[0-9]/;
    //    if (reg.test(txt))
    //        return true;
    //    e.preventDefault();
    //    return false;
    //});  //redmine bug 132794 fix
    async function LookUp_Get_TeleCom_List()
    {
        var Refresh = false;
        $.ajax({
            type: 'GET',
            url: "/Profile/Telephone/RefreshTelcomList",
            cache: false,
            async:false,
            success: function (data)
            {
                Refresh = data.result;
                if (data.result == false)
                {
                    DevExpress.ui.dialog.alert(data.message, "Error..");
                }
            }
        });
        if (Refresh)
        {
            await $("#telMiscIdField").dxSelectBox("instance").getDataSource().reload();
        }
    }
    </script>
    <script>

    var Telephone_IsSucessPopup = true;
    function Telephone_SaveClick(e)
    {
        var result = e.validationGroup.validate();
        if (result.isValid)
        {
            var form = $("#TelephonevalidationForm");
            if (e.component.option("text") == "Delete")
            {
                CreateCustomConfirmDialog("Delete ~ Telephone", "", true).show().done(function (dialogResult)
                {
                    if (dialogResult)
                    {
                        form.submit();
                    }
                });
            }
            else
            {
                form.submit();
            }
        }
    }
    function TelephoneAjaxSuccessForm(data)
    {
        Telephone_IsSucessPopup = true;
        HideLoader();
        if (data.jsonParam.result == false)
        {
            if (data.jsonParam.closeform)
            {
                $("#popup_frm_Telephone_Window").dxPopup("hide");
            }
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else
        {
            var telephoneSubmitSuccess = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            $("#popup_frm_Telephone_Window").dxPopup("hide");
            if (data.xid != null) {
                Select_xid_Telephone = data.xid;
            }
            Grid_Display_Telephone();
            telephoneSubmitSuccess.done(function (alertResult)
            {
                if (alertResult)
                {
                    if ("@Model.ActionMethod"=="_New")
                    {
                        var addmoreTelephoneresult = DevExpress.ui.dialog.confirm("Add More Entry...?", "Telephone");
                        addmoreTelephoneresult.done(function (dialogResult)
                        {
                            if (dialogResult)
                            {
                                OnTelephoneNewClick();
                            }
                        });
                    }
                }
            });
        }
    }
    function TelephonePopupOnHiding(e)
    {
        if (Telephone_IsSucessPopup == false && "@Model.ActionMethod" != "_View")
        {
            var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
            result.done(function (dialogResult)
            {
                if (!dialogResult)
                {
                    $("#popup_frm_Telephone_Window").dxPopup("show");
                }
            });
        }
    }
    </script>
</div>