@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.PurchaseItemOrderedDetail
@{

    ViewBag.Test = Model.PO_Taxes_ActionMethod;
    bool IsVisible = Model != null && (Model.PO_Taxes_ActionMethod.ToString().Trim() == "_View" || Model.PO_Taxes_ActionMethod.ToString().Trim() == "View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .wdfull {
        width: 100%;
    }

    td {
        width: auto;
    }

    .dntnbtn {
        min-width: 68px !important;
        font-size: 12px;
    }

    .fonttwelve {
        font-size: 12px !important;
    }

    .clear {
        clear: both;
    }

    .bortabl {
        border: 1px solid #64CAF1;
        border-collapse: collapse;
        padding-left: 5px;
    }

        .bortabl td {
            border: 1px solid #64CAF1;
            border-collapse: collapse;
        }

    .tabtbl {
        width: 100%;
        margin: 0;
        padding: 0;
    }

        .tabtbl table {
            width: 100%;
        }

        .tabtbl th {
            background: #BDD5ED;
            color: #000;
            font-size: 12px;
            border: 1px solid #000;
            border-collapse: collapse;
            padding-left: 10px;
        }

        .tabtbl td {
            background: #fff;
            color: #000;
            font-size: 12px;
            border: 1px solid #64CAF1;
            border-collapse: collapse;
            padding-left: 10px;
        }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<div id="Frm_RR_itemReqAddtax_Window_popup">
    @using (Ajax.BeginForm("Frm_PO_Request_Add_Taxes", "PurchaseRegister",
                                       new AjaxOptions
                                       {
                                           HttpMethod = "POST",
                                           UpdateTargetId = "Frm_PO_Request_Add_Taxes",
                                           InsertionMode = InsertionMode.InsertAfter,
                                           OnBegin = "AjaxBeginFormPost",
                                           OnSuccess = "Frm_PO_Request_Add_Taxes_OnSuccess"
                                       },
                                       new
                                       {
                                           id = "ID_Frm_PO_Request_Add_Taxes_Window",
                                           @class = "edit_form"
                                       }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.PO_Addtax_TaxAmount)
        @Html.HiddenFor(x => x.PO_Addtax_TaxType)
        @Html.HiddenFor(x => x.PO_Taxes_ActionMethod)
        @Html.HiddenFor(x => x.Sr)

        using (Html.DevExtreme().ValidationGroup("PORequestedItemTaxes"))
        {


            <div class="full-width-header-bg">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Tax Details</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div><!--[]-->
            <div class="container-fluid">
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-2 pll">
                                <label class="control-label" for="user">Item Name:</label>
                            </div>
                            <div class="col-sm-10 prm pll2">
                                <div class="dx-texteditor  dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("PO_Addtax_ItemName").Name("PO_Addtax_ItemName").ReadOnly(true))
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-2 pll">
                                <label class="control-label" for="user">Item Code:</label>
                            </div>
                            <div class="col-sm-10 prm pll2">
                                <div class="dx-texteditor dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("PO_Addtax_ItemCode").Name("PO_Addtax_ItemCode").ReadOnly(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-4 pll">
                                                <label class="control-label text-red" for="iten">Tax Type:</label>
                                            </div>
                                            <div class="col-sm-8 prm pll2">
                                                <div class="dx-texteditor  dx-widget dx-textbox">
                                                    <div class="dx-texteditor-container">
                                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("PO_Addtax_TaxTypeID").Name("PO_Addtax_TaxTypeID").Placeholder("Select").DisplayExpr("Tax_Type").ValueExpr("Tax_ID").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).DataSource(d => d.Mvc().Controller("PurchaseRegister").LoadAction("Get_TaxType").Key("Tax_ID")).OnValueChanged("Get_taxType_OnValueChanged").Visible(true).ReadOnly(IsVisible).Disabled(IsVisible))
                                                        @Html.ValidationMessageFor(model => model.PO_Addtax_TaxTypeID, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div><!--[1]-->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-4 pll">
                                                <label class="control-label text-red" for="iten">Tax(%):</label>
                                            </div>
                                            <div class="col-sm-8 prm">
                                                <div class="dx-texteditor dx-widget dx-textbox">
                                                    <div class="dx-texteditor-container">
                                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("PO_Addtax_TaxPercent").Name("PO_Addtax_TaxPercent").Format("#.##").Min(1).Max(99).ReadOnly(IsVisible).Disabled(IsVisible))
                                                        @Html.ValidationMessageFor(model => model.PO_Addtax_TaxPercent, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div><!--[2]-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-2 pll">
                                        <label class="control-label" for="user">Remarks:</label>
                                    </div>
                                    <div class="col-sm-10 prm pll2">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("PO_Addtax_Remarks").Name("PO_Addtax_Remarks").MaxLength(8000).ReadOnly(IsVisible).Disabled(IsVisible))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="row styleActionBtn marginAll8">
                    @if (Model.PO_Taxes_ActionMethod.ToString().Trim() == "_View" || Model.PO_Taxes_ActionMethod.ToString().Trim() == "View")
                    {
                        @(Html.DevExtreme().Button().CustomCloseButton().Text("Close").ID("POItemRequestedTax_Close").FocusStateEnabled(true).OnClick(@<text>function () {$("#PO_Button_popup").dxPopup("hide");}</text>))
                    }
                    @if (Model.PO_Taxes_ActionMethod.ToString().Trim() == "_New" || Model.PO_Taxes_ActionMethod.ToString().Trim() == "_Edit" || Model.PO_Taxes_ActionMethod.ToString().Trim() == "_NewAddTax")
                    {
                        @(Html.DevExtreme().Button().Text("OK").CustomSaveButton().ID("POItemRequestedTax_Save").FocusStateEnabled(true).OnClick("Add_Tax_OKButtonClick"))
                        @(Html.DevExtreme().Button().Text("Cancel").CustomCloseButton().ID("POItemRequestedTax_Cancel").FocusStateEnabled(true).OnClick(@<text>function () {$("#PO_Button_popup").dxPopup("hide");}</text>))
                    }
                </div><!--[Footer Buttons]-->
            </div><!--[Center ]-->
        }
    }
</div>
<script>
    $(document).ready(function () {

        ShowLoader();
        var form = "ID_Frm_PO_Request_Add_Taxes_Window";

        AssignIDtoLabel(form, "PO_AddTax");
        var itemID_AddTax = $("#Purchase_IO_ItemID").dxDropDownBox("instance").option("value");
        var itemName_AddTax = $("#Purchase_IO_ItemID").dxDropDownBox("instance").option("text");
        var ItemCode_AddTax = $("#Purchase_IO_ItemCode").dxTextBox("instance").option("value");

    

        if (itemID_AddTax == null || itemID_AddTax.length == 0) {
            DevExpress.ui.dialog.alert('Select An Item..', 'Error..');
            HidePopup("RequestRegister_Button_popup");
            HideLoader();
            return;
        }

        $("#PO_Addtax_ItemName").dxTextBox("instance").option("value", itemName_AddTax);
        $("#PO_Addtax_ItemCode").dxTextBox("instance").option("value", ItemCode_AddTax);

        if ("@Model.PO_Taxes_ActionMethod" == "_Edit" || "@Model.PO_Taxes_ActionMethod" == "_View") {

            $("#PO_Addtax_TaxTypeID").dxSelectBox("instance").option("value", "@Model.PO_Addtax_TaxTypeID");

            $("#PO_Addtax_TaxPercent").dxNumberBox("instance").option("value", "@Model.PO_Addtax_TaxPercent");

            var taxvalue = "@Model.PO_Addtax_TaxType";
            $("#PO_Addtax_TaxType").val(taxvalue);

        }
        setTimeout(function () {
             Set_Form_View_Delete_Mode(null, form, "@Model.PO_Taxes_ActionMethod");
            Focus_FirstEditable_Field(form , "@Model.PO_Taxes_ActionMethod");
            HideLoader();
        }, Timeout500);
    });
    //function Get_taxType_OnInitialize(e) {
    //    debugger
       @*if ("@Model.RR_Taxes_ActionMethod" != "_NewAddTax" || "@Model.RR_Taxes_ActionMethod" != "_New") {
            var Tax = $("#Requisition_Addtax_TaxTypeID").dxSelectBox('instance').option('displayValue');
            $("#Requisition_Addtax_TaxType").val(Tax);*@


    function Get_taxType_OnValueChanged(e) {

    var Tax = $("#PO_Addtax_TaxTypeID").dxSelectBox('instance').option("displayValue");

      //  var item = e.component.option("displayValue");
      //var Tax = $("#Requisition_Addtax_TaxTypeID").dxSelectBox('instance').option("displayValue");
        $("#PO_Addtax_TaxType").val(Tax);

    }

    function Add_Tax_OKButtonClick(e) {

        var taxpercent = $("#PO_Addtax_TaxPercent").dxNumberBox("instance").option("value");
        var remark = $("#PO_Addtax_Remarks").dxTextBox("instance").option("value");
        var taxtype = $("#PO_Addtax_TaxTypeID").dxSelectBox("instance").option("value");
       var OrderedQty = $("#Purchase_IO_OrderedQty").dxNumberBox("instance").option("value");
        //var RequestedQty = $("#Purchase_IO_RequestedQty").dxNumberBox("instance").option("value");
        var Qty = OrderedQty;

        if (OrderedQty > 0) { Qty = OrderedQty; }

        if (Qty == null || Qty == 0) {
            DevExpress.ui.dialog.alert('Please enter Quantity in Item screen', 'Error..');
            return;
        }
        //var Rate = $("#Requisition_RequestedItem_Rate").dxNumberBox("instance").option("value");

        var RateAfterDiscount = $("#Purchase_IO_Rate_After_Discount").dxNumberBox("instance").option("value");

        if (taxtype == null || taxtype == 0) {
            DevExpress.ui.dialog.alert('Tax Type Cannot Be Empty', 'Error..');
            return;
        }

        if (taxpercent == null || taxpercent == 0  ) {
            DevExpress.ui.dialog.alert('Tax Percentage Cannot Be Empty', 'Error..');
            return;
        }
        if (parseFloat(taxpercent) > 100) {
            DevExpress.ui.dialog.alert('Tax Percentage Cannot be More Than 100', 'Error..');
            return;
        }
        if (parseFloat(taxpercent) < 0) {
            DevExpress.ui.dialog.alert('Tax Percentage Cannot be Less Than 0', 'Error..');
            return;
        }
        var regex = new RegExp("^[a-zA-Z0-9, -]+$");
        if (regex.test(remark) == false && remark != null && remark.length > 0) {
            DevExpress.ui.dialog.alert('Only AlphaNumeric - , allowed in Remarks..', 'Error..');
            return;
        }


            var TaxAmt = ((Qty * RateAfterDiscount) * taxpercent) / 100;




        $("#PO_Addtax_TaxAmount").val(TaxAmt);

        if ("@Model.PO_Taxes_ActionMethod" == "_NewAddTax") {
            var TaxAmount_Item = $("#Purchase_IO_Taxes").dxNumberBox("instance").option("value");

            if (TaxAmount_Item > 0) {

                TaxAmount_Item = TaxAmount_Item + TaxAmt;
            }
            else {
                TaxAmount_Item = TaxAmt;
            }

            $("#Purchase_IO_Taxes").dxNumberBox("instance").option("value", TaxAmount_Item);
        }

        var form = $("#ID_Frm_PO_Request_Add_Taxes_Window");
        var result = e.validationGroup.validate();
        if (result.isValid) {
            form.submit();
        }

    }
    function Add_Tax_CancelButtonClick() {
        HidePopup("PO_Button_popup");
    }



</script>
