@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.PurchaseGoodsReturnedDetail
@{
    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}

<style>
    .pll2 {
        padding-left: 2px !important;
    }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>

<div id="Frm_GoodsRet_Window_popup" class="edit_form">
    @using (Ajax.BeginForm("Frm_PO_Goods_Returned", "PurchaseRegister",
                       new AjaxOptions
                       {
                           HttpMethod = "POST",
                           UpdateTargetId = "Frm_GoodsRet_Window_popup",
                           InsertionMode = InsertionMode.InsertAfter,
                           OnBegin = "AjaxBeginFormPost",
                           OnSuccess = "Frm_Purchase_GoodsRet_OnSuccess"
                       },
                       new
                       {
                           id = "ID_Frm_GoodsRet_Window",
                           @class = "edit_form"
                       }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.Sr)
        @Html.HiddenFor(y => y.Purchase_GRE_ItemName)
        @Html.HiddenFor(y => y.ID)
        @Html.HiddenFor(y => y.Purchase_GRE_SubitemID)
        @Html.HiddenFor(y => y.Purchase_GRE_PO_Item_Rec_ID)
        @Html.HiddenFor(y => y.POid)
        @Html.HiddenFor(y => y.Purchase_GRE_ReturnedBy)
        @Html.HiddenFor(y => y.Purchase_GRE_ReturnedStockID)

        @Html.HiddenFor(y => y.Purchase_GRE_ShipmentMode)


        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();


        using (Html.DevExtreme().ValidationGroup())
        {

            <!--<div class="full-width-header-bg">
                <div class="row">
                    <div class="col-sm-8 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i>Item Detail</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div> []-->

            <div class="row form-field">
                <div class="col-sm-2 col-sm-2 col-sm-2 pll">
                    <label class="control-label text-red" for="iten">Returned Item:</label>
                </div>
                <div class="col-sm-10 col-sm-10 col-sm-10 prm">
                    <div class="dx-texteditor  dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Purchase_GRE_ItemID").Name("Purchase_GRE_ItemID").ValueExpr("ID").DisplayExpr("ItemName").DataSource(d => d.Mvc().Controller("PurchaseRegister").LoadAction("Lookup_GRE_Ret_StockItem").Key("ID").LoadParams(new { Ret_ID = new JS("function (){return Ret_ID;}") })).Placeholder("Select Stock Item").ReadOnly(IsVisible).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } })
                                                                                                                                                                                .OnInitialized("OnInitialized_OnGREItemChanged")
                                                                                                                                                                                .OnValueChanged("Get_GREItem_ChangeEvent")
                                                                                                                                                                                .ContentTemplate(@<text> @Html.Partial("Lookup_GRE_Ret_StockItem") </text>) )
                            @Html.ValidationMessageFor(model => model.Purchase_GRE_ItemID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div><!--[Item]-->


            <div class="row form-field">
                <div class="col-sm-4">
                    <div class="col-sm-6 pll">
                        <label class="control-label" for="iten">Item Code</label>
                    </div>
                    <div class="col-sm-6 prm pll2">
                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_ItemCode").Name("Purchase_GRE_ItemCode").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(true).Disabled(IsVisible))
                            </div>
                        </div>
                    </div><!--[]-->
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6 pll">
                        <label class="control-label" for="iten">Received Quantity</label>
                    </div>
                    <div class="col-sm-6 prm">
                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GR_RecdQuantity").Name("Purchase_GR_RecdQuantity").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(true).Disabled(IsVisible))

                            </div>
                        </div>
                    </div><!--[]-->
                </div>

            </div><!--[row]-->
            <div class="row form-field">
                <div class="col-sm-4">
                    <div class="col-sm-6 pll">
                        <label class="control-label" for="iten">Pending Qty To Return</label>
                    </div>
                    <div class="col-sm-6 prm">
                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_PendingQuantity").Name("Purchase_GRE_PendingQuantity").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(true).Disabled(IsVisible)) @*mantis#822*@

                            </div>
                        </div>
                    </div><!--[]-->
                </div>

                <div class="col-sm-4">
                    <div class="col-sm-6 pll">
                        <label class="control-label" for="iten">Make</label>
                    </div>
                    <div class="col-sm-6 prm">
                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_Make").Name("Purchase_GRE_Make").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(true).Disabled(IsVisible))

                            </div>
                        </div>
                    </div><!--[]-->
                </div>
            </div><!--[row]-->
            <div class="row form-field">
                <div class="col-sm-4">
                    <div class="col-sm-6 pll">
                        <label class="control-label" for="iten">Model</label>
                    </div>
                    <div class="col-sm-6 prm pll2">
                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_Model").Name("Purchase_GRE_Model").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(true).Disabled(IsVisible))

                            </div>
                        </div>
                    </div><!--[Make]-->
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6 pll">
                        <label class="control-label text-red" for="iten">Returned Quantity</label>
                    </div>
                    <div class="col-sm-6 prm">
                        <div class="dx-texteditor  dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_ReturnedQty").Name("Purchase_GRE_ReturnedQty").Value(Convert.ToString(Model.Purchase_GRE_ReturnedQty)).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(IsVisible).Disabled(IsVisible))
                                @Html.ValidationMessageFor(model => model.Purchase_GRE_ReturnedQty, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div><!--[Make]-->
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6 pll">
                        <label class="control-label" for="iten">Unit</label>
                    </div>
                    <div class="col-sm-6 prm">
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_Unit").Name("Purchase_GRE_Unit").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(true).Disabled(IsVisible))

                            </div>
                        </div>
                    </div><!--[Make]-->
                </div>
            </div><!--[row]-->

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="iten">Priority</label>
                                </div>
                                <div class="col-sm-8 prm pll2">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_Priority").Name("Purchase_GRE_Priority").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(true).Disabled(IsVisible))

                                        </div>
                                    </div>
                                </div><!--[Priority]-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 pll">
                                    <label class="control-label" for="iten">Received Date</label>
                                </div>
                                <div class="col-sm-6 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().DateBox().CustomDateBox().ID("Purchase_GRE_ReceivedDate").Name("Purchase_GRE_ReceivedDate").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(true).Disabled(IsVisible))

                                        </div>
                                    </div>
                                </div><!--[Required Delivery Date]-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Row]-->

            <div class="row form-field">
                <div class="col-sm-6">
                    <div class="col-sm-4 pll">
                        <label class="control-label text-red" for="iten">Returned Date </label>
                    </div>
                    <div class="col-sm-8 prm pll2">
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @*<select name="" class="dx-texteditor-input appear">
                                        <option value="0">DD-MM-YYYY</option>
                                    </select>*@
                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Purchase_GRE_ReturnedDate").Name("Purchase_GRE_ReturnedDate").Value(Convert.ToDateTime(Model.Purchase_GRE_ReturnedDate)).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                @Html.ValidationMessageFor(model => model.Purchase_GRE_ReturnedDate, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div><!--[]-->
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6 pll">
                        <label class="control-label" for="iten">Lot No.</label>
                    </div>
                    <div class="col-sm-6 prm">
                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_LotNo").Name("Purchase_GRE_LotNo").Placeholder("Lot No.").Disabled(IsVisible).ReadOnly(true))

                            </div>
                        </div>
                    </div><!--[Required Delivery Date]-->
                </div>
            </div><!--[Row]-->

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="iten">Carrier</label>
                                </div>
                                <div class="col-sm-8 prm pll2">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<select name="" class="dx-texteditor-input appear">
                                                    <option value="0">Enter Carrier Details</option>

                                                </select>*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_Carrier").Name("Purchase_GRE_Carrier").Placeholder("Carrier").Value(Model.Purchase_GRE_Carrier).Disabled(IsVisible).ReadOnly(IsVisible))

                                        </div>
                                    </div>
                                </div><!--[Priority]-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 pll">
                                    <label class="control-label text-red" for="iten">Shipment Mode</label>
                                </div>
                                <div class="col-sm-6 prm">
                                    <div class="dx-texteditor  dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<select name="" class="dx-texteditor-input appear">
                                                    <option value="0">Requisition Destination Location</option>

                                                </select>*@
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Purchase_GRE_ShipmentModeID").Name("Purchase_GRE_ShipmentModeID").ValueExpr("ModeID").DisplayExpr("Mode").DataSource(d => d.Mvc().Controller("PurchaseRegister").LoadAction("Lookup_GRE_Shipment").Key("ModeID")).Placeholder("Select..").ReadOnly(IsVisible).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } })
                                                                                                                                                                                .OnInitialized("OnInitialized_OnGREShipmentChanged")
                                                                                                                                                                               .OnValueChanged("Get_GREShipment_ChangeEvent")
                                                                                                                                                                               .ContentTemplate(@<text> @Html.Partial("Lookup_GRE_Shipment") </text>) )
                                            @Html.ValidationMessageFor(model => model.Purchase_GRE_ShipmentModeID, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div><!--[Free On Board]-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Row]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="iten">Bill No. </label>
                                </div>
                                <div class="col-sm-8 prm pll2">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="">*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_BillNo").Name("Purchase_GRE_BillNo").Placeholder("Bill No.").Disabled(IsVisible).ReadOnly(true))

                                        </div>
                                    </div>
                                </div><!--[]-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 pll">
                                    <label class="control-label" for="iten">Challan No.</label>
                                </div>
                                <div class="col-sm-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="">*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_ChallanNo").Name("Purchase_GRE_ChallanNo").Placeholder("challan no").Value(Model.Purchase_GRE_ChallanNo).Disabled(IsVisible).ReadOnly(IsVisible))

                                        </div>
                                    </div>
                                </div><!--[Required Delivery Date]-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Row]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="iten">Returned By</label>
                                </div>
                                <div class="col-sm-8 prm pll2">
                                    <div class="dx-texteditor  dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="">*@
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Purchase_GRE_ReturnedByID").Name("Purchase_GRE_ReturnedByID").ValueExpr("ID").DisplayExpr("Name").DataSource(d => d.Mvc().Controller("PurchaseRegister").LoadAction("Lookup_GRE_RetBy").Key("ID")).Placeholder("Select..").ReadOnly(IsVisible).Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } })
                                                                                                                                                                                       .OnInitialized("OnInitialized_OnGREReturnedBy")
                                                                                                                                                                                      .OnValueChanged("Get_GREReturnedBy_ChangeEvent")
                                                                                                                                                                                      .ContentTemplate(@<text> @Html.Partial("Lookup_GRE_RetBy") </text>) )


                                        </div>
                                    </div>
                                </div><!--[]-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 pll">
                                    <label class="control-label" for="iten">Mobile/CUG No.</label>
                                </div>
                                <div class="col-sm-6 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @*<input class="dx-texteditor-input" type="text" Placeholder="">*@
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_MobileNo").Name("Purchase_GRE_MobileNo").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(true).Disabled(IsVisible))

                                        </div>
                                    </div>
                                </div><!--[Required Delivery Date]-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Row]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-2 pll">
                            <label class="control-label " for="user">Remarks</label>
                        </div>
                        <div class="col-sm-10 prm pll2">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    @*<input class="dx-texteditor-input" type="text" Placeholder="Enter Remarks">*@
                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Purchase_GRE_Remarks").Name("Purchase_GRE_Remarks").Placeholder("Enter Remarks").Value(Model.Purchase_GRE_Remarks).Disabled(IsVisible).ReadOnly(IsVisible))

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Row]-->
            <div class="marginAll8 styleActionBtn">
                @(Html.DevExtreme().Button()
                                                                                            .ID("PrintRevisedReceipt")
                                                                                            .Text("Print Revised Receipt")
                                                                                            .Disabled(IsVisible)
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                PrintRevisedReceipt_Click()
                                                                                                }
                                                                                            </text>))

                @if (Model.ActionMethod.ToString().Trim() == "View")
                {
                    @(Html.DevExtreme().Button().CustomCloseButton().Text("Close").ID("purchasegoodsreturned_Cancle").FocusStateEnabled(true).OnClick(@<text> function () { $("#Purchaseinnergrid").dxPopup("hide"); } </text>) )
                }
                @if (Model.ActionMethod.ToString().Trim() == "New" || Model.ActionMethod.ToString().Trim() == "Edit")
                {
                    @(Html.DevExtreme().Button().CustomSaveButton().Text("Save").ID("purchasegoodsreturned_Save").FocusStateEnabled(true).UseSubmitBehavior(true) )
                    @(Html.DevExtreme().Button().CustomCloseButton().Text("Cancel").ID("purchasegoodsreturned_Cancled").FocusStateEnabled(true).OnClick(@<text> function () { $("#Purchaseinnergrid").dxPopup("hide"); } </text>) )
                }
            </div><!--[]-->


        }
    }
</div>
<script>
    $(document).ready(async function ()
    {
        var form = "ID_Frm_GoodsRet_Window";
        ShowLoader();
        AssignIDtoLabel(form, "PO_GoodsRet");
           if ("@Model.Purchase_GRE_ItemID".length > 0)
        {
               var PurchaseGoodsItemRetDG = $("#PurchaseGREItemDG").dxDataGrid("instance");
             await PurchaseGoodsItemRetDG.selectRows(parseInt("@Model.Purchase_GRE_ItemID"), false);
            }
        setTimeout(function ()
        {
            Set_Form_View_Delete_Mode(null, form, "@Model.ActionMethod");
            Focus_FirstEditable_Field(form, "@Model.ActionMethod");
            HideLoader();

        }, Timeout500);

    });

  </script>
           
 <script>
    var GREname;
    var GREcode;
    var GREmake;
    var GREmodel;
    var GREunit;
    var GRErecqty;
    var GREdate;
    var GRElot;
    var GREPriority;
    var GREmob;
    var GREbillno;
    var subitemid;
    var GREItem_Rec_ID;
     var GREChallan;
     var GRE_PendingQuantity;
     var stockID;

     function OnInitialized_OnGREItemChanged(e) {
         Ret_ID = "@Model.ID";
         if ("@Model.ActionMethod" != "New") {
            @*$("#Purchase_GRE_ItemID").dxDropDownBox("instance").option("value","@Model.Purchase_GRE_ItemID");*@
             e.component.option("dataSource").store.load().done(function (d) {
                 //if (d.length > 0) {
                 //var $dataGrid = $("#PurchaseGREItemDG");
                 //if ($dataGrid.length) {
                 //    var dataGrid = $dataGrid.dxDataGrid("instance");
                 //    dataGrid.selectRows($("#Purchase_GRE_ItemID").dxDropDownBox("instance").option("value"), false);
                 //}
                    @*e.component.option("value", @Model.Purchase_GRE_ItemID);
                }*@
                 Get_GREItem_ChangeEvent(@Model.Purchase_GRE_ItemID);
             });
         }
     }


     function Get_GREItem_ChangeEvent(e) {
         POid = "@Model.POid";
         srno = "@Model.Sr";
         recid = "@Model.ID";
         if ("@Model.ActionMethod" == "New") {

             var dropdown = $("#Purchase_GRE_ItemID").dxDropDownBox("instance");
             dropdown.close();
             var $dataGrid = $("#PurchaseGREItemDG");
             if ($dataGrid.length) {
                 PurchaseGREItemDG
                 var dataGrid = $dataGrid.dxDataGrid("instance");
                 dataGrid.selectRows(dropdown.option("value"), false);
                 if (dataGrid.getSelectedRowsData().length > 0) {
                     var item = dataGrid.getSelectedRowsData()[0];
                     GREname = item.ItemName;
                     GREcode = item.ItemCode;
                     GREmake = item.Make;
                     GREmodel = item.Model;
                     GREunit = item.Unit;
                     GRErecqty = item.ReceivedQty;
                     GREdate = item.ReceivedDate;
                     GRElot = item.LotNo;
                     GREChallan = item.ChallanNo;
                     GREPriority = item.POI_Priority;
                     subitemid = item.ItemID;
                     GREbillno = item.BillNo;
                     GREItem_Rec_ID = item.ID;
                     GRE_PendingQuantity = item.PendingToReturn;
                     stockID = item.CreatedStockID;
                     $.ajax({
                         type: 'GET',
                         url: "/Stock/PurchaseRegister/Return_Item_Entry_Already_in_Same_Grid",
                         data: { ReturnID: GREItem_Rec_ID, POid: POid, srno: srno },
                         cache: false,
                         success: function (res) {

                             if (res.result == true)//  no edited row exists
                             {
                                 $.ajax({
                                     type: 'GET',
                                     url: "/Stock/PurchaseRegister/Return_Item_Entry_in_Received_Grid",
                                     data: { RetItemID: GREItem_Rec_ID },
                                     cache: false,
                                     success: function (res) {

                                         if (res.result == true)// no added/edited row exists in returrecd
                                         {

                                             $("#Purchase_GRE_ItemName").val(GREname);
                                             //  $("#Purchase_GR_ItemCode").val(GREcode);
                                             $("#Purchase_GRE_ItemCode").dxTextBox("instance").option("value", GREcode);
                                             $("#Purchase_GR_RecdQuantity").dxTextBox("instance").option("value", GRErecqty);
                                             $("#Purchase_GRE_Make").dxTextBox("instance").option("value", GREmake);
                                             $("#Purchase_GRE_Model").dxTextBox("instance").option("value", GREmodel);
                                             $("#Purchase_GRE_Unit").dxTextBox("instance").option("value", GREunit);
                                             $("#Purchase_GRE_Priority").dxTextBox("instance").option("value", GREPriority);
                                             $("#Purchase_GRE_ReceivedDate").dxDateBox("instance").option("value", GREdate);
                                             $("#Purchase_GRE_LotNo").dxTextBox("instance").option("value", GRElot);
                                             $("#Purchase_GRE_BillNo").dxTextBox("instance").option("value", GREbillno);
                                             $("#Purchase_GRE_ChallanNo").dxTextBox("instance").option("value", GREChallan);
                                             $("#Purchase_GRE_SubitemID").val(subitemid);
                                             $("#Purchase_GRE_PO_Item_Rec_ID").val(GREItem_Rec_ID);
                                             $("#Purchase_GRE_PendingQuantity").dxTextBox("instance").option("value", GRE_PendingQuantity);
                                             
                                             $("#Purchase_GRE_ReturnedStockID").val(stockID);

                                         }
                                         else if (res.result == false) {
                                             DevExpress.ui.dialog.alert(res.message, 'Alert');
                                             $("#Purchase_GRE_ItemCode").dxTextBox("instance").reset();
                                             $("#Purchase_GR_RecdQuantity").dxTextBox("instance").reset();
                                             $("#Purchase_GRE_Make").dxTextBox("instance").reset();
                                             $("#Purchase_GRE_Model").dxTextBox("instance").reset();
                                             $("#Purchase_GRE_Unit").dxTextBox("instance").reset();
                                             $("#Purchase_GRE_Priority").dxTextBox("instance").reset();
                                             $("#Purchase_GRE_ReceivedDate").dxDateBox("instance").reset();
                                             $("#Purchase_GRE_LotNo").dxTextBox("instance").reset();
                                             $("#Purchase_GRE_BillNo").dxTextBox("instance").reset();
                                             $("#Purchase_GRE_ChallanNo").dxTextBox("instance").reset();
                                             $("#Purchase_GRE_PendingQuantity").dxTextBox("instance").reset();
                                         }

                                     }
                                 });
                             }

                             else if (res.result == false) {
                                 DevExpress.ui.dialog.alert(res.message, 'Alert');
                                 $("#Purchase_GRE_ItemCode").dxTextBox("instance").reset();
                                 $("#Purchase_GR_RecdQuantity").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_Make").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_Model").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_Unit").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_Priority").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_ReceivedDate").dxDateBox("instance").reset();
                                 $("#Purchase_GRE_LotNo").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_BillNo").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_ChallanNo").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_PendingQuantity").dxTextBox("instance").reset();
                             }

                         }
                     });
                 }


             }
         }

         else {
             var dropDownBox = $("#Purchase_GRE_ItemID").dxDropDownBox("instance");
             dropDownBox.close();

             var $dataGrid = $("#PurchaseGREItemDG");
             if ($dataGrid.length) {
                 var dataGrid = $dataGrid.dxDataGrid("instance");
                 //dataGrid.selectRows(dropDownBox.option("value"), false);
                 if (dataGrid.getSelectedRowsData().length > 0) {
                     var item = dataGrid.getSelectedRowsData()[0];
                     GREname = item.ItemName;
                     GREcode = item.ItemCode;
                     GREmake = item.Make;
                     GREmodel = item.Model;
                     GREunit = item.Unit;
                     GRErecqty = item.ReceivedQty;
                     GREdate = item.ReceivedDate;
                     GRElot = item.LotNo;
                     GREChallan = item.ChallanNo;
                     GREPriority = item.POI_Priority;
                     subitemid = item.ItemID;
                     GREbillno = item.BillNo;
                     GREItem_Rec_ID = item.ID;
                     stockID = item.CreatedStockID;
                     $.ajax({
                         type: 'GET',
                         url: "/Stock/PurchaseRegister/Return_Item_Entry_Already_in_Same_Grid",
                         data: { ReturnID: GREItem_Rec_ID, POid: POid, srno: srno },
                         cache: false,
                         success: function (res) {


                             if (res.result == true)// no added/edited row exists in return
                             {


                                 $("#Purchase_GRE_ItemName").val(GREname);
                                 //  $("#Purchase_GR_ItemCode").val(GREcode);
                                 $("#Purchase_GRE_ItemCode").dxTextBox("instance").option("value", GREcode);
                                 $("#Purchase_GR_RecdQuantity").dxTextBox("instance").option("value", GRErecqty);
                                 $("#Purchase_GRE_Make").dxTextBox("instance").option("value", GREmake);
                                 $("#Purchase_GRE_Model").dxTextBox("instance").option("value", GREmodel);
                                 $("#Purchase_GRE_Unit").dxTextBox("instance").option("value", GREunit);
                                 $("#Purchase_GRE_Priority").dxTextBox("instance").option("value", GREPriority);
                                 $("#Purchase_GRE_ReceivedDate").dxDateBox("instance").option("value", GREdate);
                                 $("#Purchase_GRE_LotNo").dxTextBox("instance").option("value", GRElot);
                                 $("#Purchase_GRE_BillNo").dxTextBox("instance").option("value", GREbillno);
                                 $("#Purchase_GRE_ChallanNo").dxTextBox("instance").option("value", GREChallan);
                                 $("#Purchase_GRE_SubitemID").val(subitemid);
                                 $("#Purchase_GRE_PO_Item_Rec_ID").val(GREItem_Rec_ID);
                                 $("#Purchase_GRE_PendingQuantity").dxTextBox("instance").option("value", GRE_PendingQuantity);
                                 $("#Purchase_GRE_ReturnedStockID").val(stockID);

                             }
                             else if (res.result == false) {
                                 DevExpress.ui.dialog.alert(res.message, 'Alert');
                                 $("#Purchase_GRE_ItemCode").dxTextBox("instance").reset();
                                 $("#Purchase_GR_RecdQuantity").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_Make").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_Model").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_Unit").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_Priority").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_ReceivedDate").dxDateBox("instance").reset();
                                 $("#Purchase_GRE_LotNo").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_BillNo").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_ChallanNo").dxTextBox("instance").reset();
                                 $("#Purchase_GRE_PendingQuantity").dxTextBox("instance").reset();
                             }

                         }
                     });
                 }


             }


         }

     }

     


        function Get_GREShipment_ChangeEvent(e) {


            var dropdown = $("#Purchase_GRE_ShipmentModeID").dxDropDownBox("instance");
        dropdown.close();
            var $dataGrid = $("#StockPurchaseretshipmentDG");
        if ($dataGrid.length) {
            StockPurchaseretshipmentDG
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropdown.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var GREshipmode = item.Mode;

                $("#Purchase_GRE_ShipmentMode").val(GREshipmode);

            }
        }
    }


    function OnInitialized_OnGREShipmentChanged(e) {
        if ("@Model.ActionMethod" != "New") {
            $("#Purchase_GRE_ShipmentModeID").dxDropDownBox("instance").option("value","@Model.Purchase_GRE_ShipmentModeID");
            e.component.option("dataSource").store.load().done(function (d) {
                if (d.length > 0) {
                    var $dataGrid = $("#StockPurchaseretshipmentDG");
                    if ($dataGrid.length) {
                        var dataGrid = $dataGrid.dxDataGrid("instance");
                        dataGrid.selectRows($("#Purchase_GRE_ShipmentModeID").dxDropDownBox("instance").option("value"), false);
                    }
                }
            });
        }
    }




    function Get_GREReturnedBy_ChangeEvent(e) {


            var dropdown = $("#Purchase_GRE_ReturnedByID").dxDropDownBox("instance");
        dropdown.close();
        var $dataGrid = $("#StockPurchaseGRERetByDG");
        if ($dataGrid.length) {
            StockPurchaseGRERetByDG
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropdown.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                GREmob = item.Mobile_No;
                var ReceiveName = item.Name;
                //$("#Purchase_GR_MobileNo").val(GRmob);
                $("#Purchase_GRE_MobileNo").dxTextBox("instance").option("value", GREmob);
                $("#Purchase_GRE_ReturnedBy").val(ReceiveName);
            }
        }
    }

     function OnInitialized_OnGREReturnedBy(e)
     {
        if ("@Model.Purchase_GRE_ReturnedByID".length > 0)// Mantis Bug 1589 Case 1-3 Fixed
        {
            @*$("#Purchase_GRE_ReturnedByID").dxDropDownBox("instance").option("value","@Model.Purchase_GRE_ReturnedByID");*@
            e.component.option("dataSource").store.load().done(function (d)
            {
                if (d.length > 0)
                {
                    e.component.option("value", parseInt("@Model.Purchase_GRE_ReturnedByID"));
                    //var $dataGrid = $("#StockPurchaseGRERetByDG");
                    //if ($dataGrid.length)
                    //{
                    //    var dataGrid = $dataGrid.dxDataGrid("instance");
                    //    dataGrid.selectRows($("#Purchase_GRE_ReturnedByID").dxDropDownBox("instance").option("value"), false);
                    //}
                }
            });
        }
     }


    function PrintRevisedReceipt_Click() {
        DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
    }
            </script>

