@model ConnectOneMVC.Areas.Stock.Models.Model_NEVD_Purchase
@using DevExtreme.AspNet.Mvc;
@{
    bool IsVisible = Model != null && (Model.ActionMethod == "Delete") ? true : false;
    bool IsDisabled = Model != null && (Model.ActionMethod == "View" || Model.ActionMethod == "Delete") ? true : false;

}
<div class="row">
    <div class="col-md-12">
        @Html.Action("PO_ItemOrderedGridData", "PurchaseRegister", new { ActionMethodName = Model.ActionMethod, PO_ID = Model.PO_ID })
    </div>
</div>
<div class="row">
    <div class="form-field">
        <div class="container-fluid">
            <div class="col-md-12 btnsDiv">
                        @(Html.DevExtreme().Button().ID("purchaseBUT_IONew").Text("New").Icon("fas fa-file btn-icons newfile icon-rgt-space5").Disabled(IsDisabled).OnClick(@<text> function () { OnFrm_ItemOrd_New_Click() } </text>))
                        @(Html.DevExtreme().Button().ID("purchaseBUT_IOEdit").Text("Edit").Icon("fas fa-pencil-alt btn-icons editcolor icon-rgt-space5").Disabled(IsDisabled).OnClick(@<text> function () { OnFrm_ItemOrd_Edit_Click() } </text>))
                        @(Html.DevExtreme().Button().ID("purchaseBUT_IOPriceHistory").Text("Price History").Icon("fas fa-eye btn-icons eyeicon icon-rgt-space5").Disabled(IsDisabled).OnClick(@<text> function () { OnFrm_ItemOrd_PriceHistory_Click() } </text>))
                @*<div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" tabindex="0">
                    <div class="dx-button-min-width">
                        @(Html.DevExtreme().Button().ID("purchaseBUT_IOView").Text("View").Icon("fas fa-eye btn-icons eyeicon icon-rgt-space5").Disabled(IsVisible).OnClick(@<text> function () { OnFrm_ItemOrd_View_Click() } </text>))
                    </div>
                </div>*@<!--[button]-->
            </div>
        </div>
    </div>
</div>
<script>
    var itemordsr;
    var itemordid;
    function OnPurchaseItemOrderedGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'Sr;ID;ItemID', ItemOrd_GridRowValues);
    }
    function ItemOrd_GridRowValues(values) {
        itemordsr = values[0];
        itemordid = values[1];
        subitemid = values[2];
    }
    $("#PO_ItemOrderedGrid").keydown(function (evt) {
        switch (evt.keyCode) {
            case 45: // insert key
                OnFrm_ItemOrd_New_Click();
                break;
            case 13: //enter key
                OnFrm_ItemOrd_Edit_Click();
                break;
           
        }
        if (evt.ctrlKey && evt.keyCode == 73)//ctrl+i
        {
            OnFrm_ItemOrd_New_Click();
        }
        if (evt.ctrlKey && evt.keyCode == 69)//ctrl+e
        {
            OnFrm_ItemOrd_Edit_Click(); 
        }
        //if (evt.ctrlKey && evt.keyCode == 86)//ctrl+v
        //{
        //    OnFrm_ItemOrd_View_Click();
        //}
    });
    function OnFrm_ItemOrd_New_Click() { if ("@IsDisabled"=="true") { return; }
        var menucheck = PO_StatusFlowCheck("ADD-ITEMS");
        if (menucheck[1] == false) {
            DevExpress.ui.dialog.alert(menucheck[0], "Error");
            return;
        }
     
            ShowLoader();
       
        OpenPopup("Purchaseinnergrid", "New ~ Item Detail","@Url.Action("Frm_PO_Item_Ordered", "PurchaseRegister", new {@area= "Stock" })?ActionMethod=New", "auto", 1024, false, null);
    }// new click
    function OnFrm_ItemOrd_Edit_Click() {
        if ("@IsDisabled" == "true") { return; }
        if (itemordsr == null || itemordsr == undefined || itemordsr == "undefined") {
                DevExpress.ui.dialog.alert("Please Select Row", "Error");
                return;
            }
        var menucheck = PO_StatusFlowCheck("UPDATE-ITEMS");
        if (menucheck[1] == false) {
            DevExpress.ui.dialog.alert(menucheck[0], "Error");
            return;
        }
        var check = PO_ItemOrdered_datanavigation("Edit");
        if (check[1] == false) {
            DevExpress.ui.dialog.alert(check[0], "Error");
            return;
        }
            ShowLoader();  
        OpenPopup("Purchaseinnergrid", "Edit ~ Item Detail", "@Url.Action("Frm_PO_Item_Ordered", "PurchaseRegister", new {@area= "Stock" })?ActionMethod=Edit&SR=" + encodeURIComponent(itemordsr), "auto", 1024, false, null);
        }//edit click
    @*function OnFrm_ItemOrd_View_Click() {
        if (itemordsr == null || itemordsr == undefined || itemordsr == "undefined") {
                DevExpress.ui.dialog.alert("Please Select Row", "Error");
                return;
        } $("#Purchaseinnergrid").dxPopup("show");
        $("#Purchaseinnergrid").dxPopup("instance").option("title", "View ~ Item Detail");
        $("#Purchaseinnergrid").dxPopup("instance").option("width", "75%");
        $("#Purchaseinnergrid").dxPopup("instance").option("height", "80%");
        $("#result_Purchaseinnergrid").html(null);
                    ShowLoader();
        $("#result_Purchaseinnergrid").load("@Url.Action("Frm_PO_Item_Ordered", "PurchaseRegister", new {@area= "Stock" })?ActionMethod=View&SR=" + encodeURIComponent(itemordsr), function () {
                    HideLoader();
            });

    }//view click*@

    function OnFrm_ItemOrd_PriceHistory_Click()
    {
         if ("@IsDisabled" == "true") { return; }
        if (itemordsr == null || itemordsr == undefined || itemordsr == "undefined") {
                DevExpress.ui.dialog.alert("Please Select Row", "Error");
                return;
            }

        ShowLoader();

        OpenPopup("popup_frm_price_history", "Search ~ Price History", "@Url.Action("Frm_PO_Price_History", "PurchaseRegister", new { @area = "Stock" })?ItemID=" + encodeURIComponent(subitemid), "auto", 900, false, null);
     
    }
    @*function OnFrm_ItemOrd_Delete_Click() {

        if ("@IsDisabled" == "true") {
            return;
        }
        if (itemordsr == 'undefined' || itemordsr == undefined || itemordsr == null) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var io_result = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Confirm changes");
        io_result.done(function (dialogResult) {

            if (dialogResult) {
                $.ajax({
                    type: 'GET',
                    url: "/Stock/PurchaseRegister/Frm_ItemOrd_Window_Delete_Grid_Record",
                    data: { ActionMethod: "Delete", sr: itemordsr, id: itemordid },
                    cache: false,
                    success: function (result) {

                        PO_ItemOrderedGrid.SetFocusedRowIndex(-1);
                        PO_ItemOrderedGrid.Refresh();
                      }
                });
            }
        });
        //var total = ProductionStockConsumedGrid.GetVisibleRowsOnPage() + ProductionStockProducedGrid.GetVisibleRowsOnPage() + ProductionScrapCreatedGrid.GetVisibleRowsOnPage() + Actual_ManPower_Usage_Grid.GetVisibleRowsOnPage() + Machine_Usage_Window_Grid.GetVisibleRowsOnPage()-1;

        //if (total == 0) {
        //    $("#ProductionStoreID").dxDropDownBox("instance").option("readOnly", false);
        //}
    }*@
    function Frm_Purchase_ItemOrdered_OnSuccess(data) {

        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else {

            $("#Purchaseinnergrid").dxPopup("hide");
            PO_ItemOrderedGrid.SetFocusedRowIndex(-1);
            PO_ItemOrderedGrid.Refresh();
            //$("#ProductionStoreID").dxDropDownBox("instance").option("readOnly", true);
        }
    }

    //function PO_StatusFlowCheck(Status) {
    //    var msg;
    //    var result;
    //    $.ajax({
    //        type: 'POST',
    //        url: "/Stock/PurchaseRegister/PurchaseOrderStatusFlow",
    //        data: {
    //            ID: PO_ID,
    //            StatusButton: Status,
    //            CurrUserRole: POCurrUserRole
    //        },
    //        async: false,
    //        cache: false,
    //        success: function (data) {
    //            msg = data.message;
    //            result = data.result;
    //        }
    //    });
    //    return [msg, result];
    //}
    function PO_ItemOrdered_datanavigation(_actionmethod) {
        if (!_actionmethod) { _actionmethod = null; }

        var msg;
        var result;
        $.ajax({
            type: 'GET',
            async: false,
            url: "/Stock/PurchaseRegister/DataNavigationItemOrdered",
            data: {
                ActionMethod: _actionmethod,
                ID: itemordid,
            },
            cache: false,
            success: function (data) {
                msg = data.message;
                result = data.result;
            }
        });

        return [msg, result];
    }
</script>
    
