@using DevExtreme.AspNet.Mvc
@model ConnectOneMVC.Areas.Stock.Models.POUpDateStatus
<style>
    .dx-button-has-icon .dx-button-content {
        padding-right: 8px !important;
    }

    .dx-toolbar-after .dx-button-content {
        padding-right: 0px !important;
    }
</style>
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}

<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .margTB2 {
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="id_POstatus" class="edit_form">
    @using (Ajax.BeginForm("PO_StatusChange_Window", "PurchaseRegister",
              new AjaxOptions
              {
                  HttpMethod = "POST",
                  UpdateTargetId = "PO_StatusChange_Window",
                  InsertionMode = InsertionMode.InsertAfter,
                  OnBegin = "AjaxBeginFormPost",
                  OnSuccess = "PO_StatusChangeAjaxSuccessForm"
              },
               new
               {
                   id = "PO_StatusChange_validationForm",
                   @class = "edit_form"
               }))
    {

        @Html.HiddenFor(x => x.PO_ID)
        @Html.HiddenFor(x => x.PO_StatusType)

        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg2">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Purchase Order Status Change</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align">
                            <i class="fas fa-info-circle"></i> Red Fields are mandatory
                        </h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    @if (Model.PO_StatusType == "Complete")
                                    {
                                        <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Completion Date:</label></div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                            <div class="dx-texteditor dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    @*@(Html.DevExtreme().DateBox().ID("PO_Completion_Date").Value(Model.PO_Completion_Date).Type(DateBoxType.Date).PickerType(DateBoxPickerType.Native).DisplayFormat(ViewBag.Base_Date_Format_Current).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                                    @Html.ValidationMessageFor(model => model.PO_Completion_Date, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Remarks:</label></div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                            <div class="dx-texteditor dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    @*@(Html.DevExtreme().TextBox().ID("PO_Status_Remark").Value(Model.PO_Status_Remark).Placeholder("Enter Remarks").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                                    @Html.ValidationMessageFor(model => model.PO_Status_Remark, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-field wbg brd-bot-none">
                    <div class="col-lg-6 col-xs-12"></div>
                    <div class="col-lg-6 col-xs-12">
                        <div class="action-btn-wrap">
                            @(Html.DevExtreme().Button()
                                                                       .ID("ID_CancelPO_Cancel")
                                                                       .Text("Cancel")
                                                                       .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")
                                                                        .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                                                       .FocusStateEnabled(true)
                                                                       .TabIndex(7)
                                                                       .OnClick(@<text>
                                                                        function () {
                                                                        $("#Dynamic_Content_popup").dxPopup("hide");
                                                                        }
                                                                    </text>)
                            )

                        </div>

                        <div class="action-btn-sec-wrap">
                            @(Html.DevExtreme().Button()
                                                                                                                    .ID("ID_CancelPO_Save")
                                                                                                                    .Text("Ok")
                                                                                                                    .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                                                                                                                    .ElementAttr("style", "float:right;margin-top:0px")
                                                                                                                    .FocusStateEnabled(true)
                                                                                                                    .TabIndex(6)
                                                                                                                    .UseSubmitBehavior(true)

                            )
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>


        }
    }

</div>
