@using DevExtreme.AspNet.Mvc;
@using ConnectOneMVC.Areas.Reports.Models;
@model ConnectOneMVC.Areas.Reports.Models.DailyBalancesModel
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
@{
    Layout = null;
}

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .margTB2 {
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<form action="" class="edit_form">
    <div class="full-width-header-bg3">
        <div class="row">

            <div class="col-sm-12 pll">
                <h3 class="popuphead"><i class="far fa-edit"></i> Change Period</h3>
            </div>
        </div>

    </div><!--[row]-->

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-field" style="padding-bottom:7px;">
                <div class="container-fluid mb_height27">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 pll">@Html.LabelFor(model => model.Fromdate, htmlAttributes: new { @class = "control-label text-red" })</div>
                        <div class="col-sm-9 col-md-9 col-lg-9 prm">
                            @(Html.DevExtreme().DateBoxFor(model => model.Fromdate)
                                                    .ID("datefrom")
                                                    .Name("datefieldfrom")
                                                    .Type(DateBoxType.Date)
                                                    .PickerType(DateBoxPickerType.Native)
                                                    .DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                    .InvalidDateMessage("Value must be a Date!!")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[2]-->
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-field" style="padding-bottom:7px;">
                <div class="container-fluid mb_height27">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 pll">@Html.LabelFor(model => model.Todate, htmlAttributes: new { @class = "control-label text-red" })</div>
                        <div class="col-sm-9 col-md-9 col-lg-9 prm">
                            @(Html.DevExtreme().DateBoxFor(model => model.Todate)
                                                     .ID("dateto")
                                                     .Name("datefieldto")
                                                     .Type(DateBoxType.Date)
                                                     .PickerType(DateBoxPickerType.Native)
                                                     .DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                     .InvalidDateMessage("Value must be a Date!!")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[3]-->
        <span id="lblerror" style="font-size:11px" class="text-red"></span>
    </div><!--[row]-->
   
    <div class="row">
        <div class="form-field wbg brd-bot-none">
            <div class="col-lg-6 col-xs-12"></div>
            <div class="col-lg-6 col-xs-12">
                <div class="action-btn-wrap">
                    @(Html.DevExtreme().Button()
                             .ID("changeperiodCancel")
                             .Text("Cancel")
                             .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")
                              .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                             .FocusStateEnabled(true)
                             .TabIndex(7)
                             .OnClick(@<text>
                                function () {
                                $("#popup_changeperiod_Window").dxPopup("hide");
                                }
                            </text>)
                    )

                </div>

                <div class="action-btn-sec-wrap">
                       @(Html.DevExtreme().Button()
                       .ID("changeperiodok")
                       .Text("Ok")
                       .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                       .ElementAttr("style", "float:right;margin-top:0px")
                       .FocusStateEnabled(true)
                       .TabIndex(6)
                       //.UseSubmitBehavior(true)
                       .OnClick(@<text>
                        function () {
                        Changeperiod();
                        }
                    </text>)
                    )
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


</form>

<script>
    function LookUp_Bank_ChangeEvent(e) {
        debugger;

        var dropDownBox = $("#Bank").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#Frm_Profile_Win_GLookUp_bankList_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                //bankData = (item["REC_ID"]);
                //$("#bankData").val(bankData);
              //  OBData = item.REC_ID;
              //  $("#Bank").dxDropDownBox("instance").option("value", item["BANK_NAME"]);
                $("#Branch").dxTextBox("instance").option("value", item["BANK_BRANCH"]);
                $("#Acno").dxTextBox("instance").option("value", item["BANK_ACC_NO"]);
            }
        }
        
    }
    

</script>

