<div class="DailyBalanceoption_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Reports.Models.DailyBalancesModel
    @{
        Layout = null;
        var UserType = ViewBag.UserType;
        var ViaOptionClick = ViewBag.ViaOptionClick;
        DateTime OpenYearSdt = ViewBag.OpenYearSdt;
        DateTime OpenYearEdt = ViewBag.OpenYearEdt;
   
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
    }
    <style>
        .demo {
            margin-bottom: -99999px !important;
            padding-bottom: 99999px !important;
        }

        #equalheight {
            overflow: hidden;
        }

        .paddLR5 {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

        .margT4 {
            margin-top: 4px !important;
        }

        .buttonMrgTB {
            margin-bottom: 15px;
            margin-top: 15px;
        }

        .margTB2 {
            margin-top: 2px !important;
            margin-bottom: 2px !important;
        }
    </style>
    <form action="" class="edit_form">
        <div class="full-width-header-bg3">
            <div class="row">

                <div class="col-sm-12 pll">
                    <h3 class="popuphead"><i class="far fa-edit"></i> Daily Balances</h3>
                </div>
            </div>

        </div><!--[row]-->
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 pll">@Html.LabelFor(model => model.Cmb_View_DB, htmlAttributes: new { @class = "control-label" })</div>
                            <div class="col-sm-9 col-md-9 col-lg-9 prm">
                                <input type="hidden" id="DB_Fr_Date" value="" />
                                <input type="hidden" id="DB_To_Date" value="" />
                                @(Html.DevExtreme().SelectBox().CustomSelectBox().ShowClearButton(false).ID("Cmb_View_DB").Name("Cmb_View_DB").DisplayExpr("Period").ValueExpr("SelectedIndex").Value(Model.Cmb_View_DB)
        .DataSource(d => d.Mvc().Controller("DailyBalances").LoadAction("Fill_Change_Period_Items_dx").Key("SelectedIndex").LoadMode(DataSourceLoadMode.Raw)).OnValueChanged("Cmb_View_DB_ValueChange") )

                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[2]-->
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            @(Html.DevExtreme().Button().ID("DB_btnChangePeriod").Text("Change Period").Hint("Change Period").Disabled(true).OnClick(@<text> function () { ChangePeriodClick_DB(); } </text>) )
                        </div>
                    </div>
                </div>
            </div><!--[3]-->
        </div><!--[row]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Period:</label></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm">
                            @(Html.DevExtreme().TextBox().ID("BE_View_Period_DB").Name("BE_View_Period_DB").Value("View Period").ReadOnly(true))
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[row]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll">
                        <label class="control-label" for="user">Balances:</label>
                    </div><!--[]-->
                    <div class="col-sm-10 col-md-10 col-lg-10 prm">
                        @(Html.DevExtreme().RadioGroup().ID("rdo_Balances_Mode_DB").Name("rdo_Balances_Mode_DB").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "CASH", value = "CASH" }, new { text = "BANK", value = "BANK" }, }).Value(Model.rdo_Balances_Mode_DB).OnValueChanged("rdo_Balances_Mode_DB_ValueChange") )
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll">
                        <label class="control-label" for="user">Output:</label>
                    </div><!--[]-->
                    <div class="col-sm-10 col-md-10 col-lg-10 prm">
                        @(Html.DevExtreme().RadioGroup().ID("RadioGroup2_DB").Name("RadioGroup2_DB").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "On Screen", value = "On Screen" }, new { text = "Printable", value = "Printable" } }).ReadOnly(true).Value(Model.RadioGroup2_DB).OnValueChanged("RadioGroup2_DB_ValueChange") )
                    </div><!--[]-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll">
                        <label class="control-label" for="user">Status:</label>
                    </div><!--[]-->
                    <div class="col-sm-10 col-md-10 col-lg-10 prm">
                        @(Html.DevExtreme().RadioGroup().ID("RadioGroup3_DB").Name("RadioGroup3_DB").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "Unreconciled", value = "Unreconciled" }, new { text = "All", value = "All" }, }).Value(Model.RadioGroup3_DB).OnValueChanged("RadioGroup3_DB_ValueChange") )
                    </div><!--[]-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Bank:</label></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm">

                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_BankList_DB").Name("GLookUp_BankList_DB").DisplayExpr("BANK_NAME").ValueExpr("BA_ID").DataSource(d => d.Mvc().Controller("DailyBalances").LoadAction("LookUp_Get_Bank_List_dx").Key("BA_ID").LoadMode(DataSourceLoadMode.Raw))
                                  .OnValueChanged("LookUp_Bank_ChangeEvent").ContentTemplate(@<text> @Html.Partial("LookUp_GetBankList")  </text>) )

                        </div>
                    </div>
                </div>
            </div>
        </div><!--[row]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Branch:</label></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm">

                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Bank_Branch_DB").Name("BE_Bank_Branch_DB").ReadOnly(true).ValidationError(true) )

                        </div>

                    </div>
                </div>
            </div>
        </div><!--[row]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">A/c. No.:</label></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm">
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Bank_Acc_No_DB").Name("BE_Bank_Acc_No_DB").ReadOnly(true).ValidationError(true).MaxLength(100) )

                        </div>
                    </div>

                </div>
            </div>
        </div><!--[row]-->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="styleActionBtn">
                    @(Html.DevExtreme().Button().CustomSaveButton().ID("DB_Save").Text("OK").UseSubmitBehavior(false).OnClick("DB_OK_Click"))
                    @(Html.DevExtreme().Button().CustomCloseButton().ID("DB_Cancel").Text("Cancel").OnClick(@<text> function () { Close_DB(); } </text>) )

                </div>
            </div>
        </div><!--[Buttons]-->


    </form>
    <script>
        var DB_Bank_DataGrid;  
    $(document).ready(async function ()
    {
        ShowLoader();
        sessionclearpath = "/Reports/DailyBalances/SessionClear";
        await Cmb_View_DB_ValueChange(null, true)
        rdo_Balances_Mode_DB_ValueChange(null, true);
        RadioGroup2_DB_ValueChange(null, true);
        RadioGroup3_DB_ValueChange(null, true);
        await LookUp_GetBankList_DB()
        if("@Model.GLookUp_BankList_DB".length > 0)
        {
            await  DB_Bank_DataGrid.selectRows("@Model.GLookUp_BankList_DB", false);
        }
        $("#GLookUp_BankList_DB").dxDropDownBox("instance").focus();
        if ("@ViaOptionClick" == "True")
        {
            $("#RadioGroup2_DB").dxRadioGroup("instance").option("readOnly", true);
        }
        HideLoader();
    });
    //LookUp ViewType change event
    async function Cmb_View_DB_ValueChange(e,FirstCall=false)
    {
        var PeriodSelectedIndex;
        if (e) {
            PeriodSelectedIndex = e.value;
        }
        else {
            PeriodSelectedIndex = $("#Cmb_View_DB").dxSelectBox("option", "value")
        }
        if (PeriodSelectedIndex == null || PeriodSelectedIndex < 0)
        {
            return;
        }
        var xFr_Date, xTo_Date, MonthText, DataSource, _xDate;
        DataSource = $("#Cmb_View_DB").dxSelectBox("getDataSource");
        var isLoaded = DataSource.isLoaded();
        if (isLoaded == false) {
            await DataSource.load();
        }
        MonthText = $("#Cmb_View_DB").dxSelectBox("option", "text");
        $("#DB_btnChangePeriod").dxButton("instance").option("disabled", true);
        if (PeriodSelectedIndex == 20)
        {
            $("#DB_btnChangePeriod").dxButton("instance").option("disabled", false);
            ChangePeriodClick_DB();
            return;
        }
        else if (PeriodSelectedIndex >= 0 && PeriodSelectedIndex <= 11)
        {
            var Sel_Mon = (MonthText.substr(0, 3)).toUpperCase();
            var SEL_MM;
            switch (Sel_Mon)
            {
                case "JAN": SEL_MM = 1; break;
                case "FEB": SEL_MM = 2; break;
                case "MAR": SEL_MM = 3; break;
                case "APR": SEL_MM = 4; break;
                case "MAY": SEL_MM = 5; break;
                case "JUN": SEL_MM = 6; break;
                case "JUL": SEL_MM = 7; break;
                case "AUG": SEL_MM = 8; break;
                case "SEP": SEL_MM = 9; break;
                case "OCT": SEL_MM = 10; break;
                case "NOV": SEL_MM = 11; break;
                case "DEC": SEL_MM = 12; break;
                default: SEL_MM = 4; break;
            }
            xFr_Date = moment(new Date(MonthText.substr(4, 4), (SEL_MM - 1), 1)) //js date starts from 0
            _xDate = xFr_Date.clone() //moment fns are mutable
            xTo_Date = _xDate.add(1, 'M').subtract(1, 'd');
        }
        else if (PeriodSelectedIndex == 12)
        {
            xFr_Date = moment(new Date("@OpenYearSdt.Year", 3, 1))
            _xDate = xFr_Date.clone()
            xTo_Date = _xDate.add(3, 'M').subtract(1, 'd');
        }
        else if (PeriodSelectedIndex == 13)
        {
            xFr_Date = moment(new Date("@OpenYearSdt.Year", 6, 1))
            _xDate = xFr_Date.clone()
            xTo_Date = _xDate.add(3, 'M').subtract(1, 'd');
        }
        else if (PeriodSelectedIndex == 14)
        {
            xFr_Date = moment(new Date("@OpenYearSdt.Year", 9, 1))
            _xDate = xFr_Date.clone()
            xTo_Date = _xDate.add(3, 'M').subtract(1, 'd');
        }
        else if (PeriodSelectedIndex == 15)
        {
            xFr_Date = moment(new Date("@OpenYearEdt.Year", 0, 1))
            _xDate = xFr_Date.clone()
            xTo_Date = _xDate.add(3, 'M').subtract(1, 'd');
        }
        else if (PeriodSelectedIndex == 16)
        {
            xFr_Date = moment(new Date("@OpenYearSdt.Year", 3, 1))
            _xDate = xFr_Date.clone()
            xTo_Date = _xDate.add(6, 'M').subtract(1, 'd');
        }
        else if (PeriodSelectedIndex == 17)
        {
            xFr_Date = moment(new Date("@OpenYearSdt.Year", 9, 1))
            _xDate = xFr_Date.clone()
            xTo_Date = _xDate.add(6, 'M').subtract(1, 'd');
        }
        else if (PeriodSelectedIndex == 18)
        {
            xFr_Date = moment(new Date("@OpenYearSdt.Year", 3, 1))
            _xDate = xFr_Date.clone()
            xTo_Date = _xDate.add(9, 'M').subtract(1, 'd');
        }
        else if (PeriodSelectedIndex == 19)
        {
            xFr_Date = moment(new Date("@OpenYearSdt.Year", 3, 1))
            xTo_Date = moment(new Date("@OpenYearEdt.Year",2, 31))
        }
        $("#DB_Fr_Date").val(xFr_Date.format("DD-MM-YYYY"));
        $("#DB_To_Date").val(xTo_Date.format("DD-MM-YYYY"));
        $("#BE_View_Period_DB").dxTextBox("instance").option("value", ("Fr.: " + xFr_Date.format("DD-MMM, YYYY") + " to " + xTo_Date.format("DD-MMM, YYYY")));
    }
        function ChangePeriodClick_DB()
        {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Reports/DailyBalances/frm_Voucher_Specific_Period_dx",
                cache: false,
                data: {
                    xFrDate: $("#DB_Fr_Date").val(),
                    xToDate: $("#DB_To_Date").val()
                },
                success: function (data)
                {
                    OpenPopup("PopupDB_speceficPeriod", "Change Period", false, "auto", 250, true, data);
                }
            });
        }
        function Frm_Change_Period_Success_DB(fromDate, ToDate)
        {
            var xFr_Date = JS_Json_DateToMomentDate(fromDate)
            var xTo_Date = JS_Json_DateToMomentDate(ToDate)
            $("#DB_Fr_Date").val(xFr_Date.format("DD-MM-YYYY"));
            $("#DB_To_Date").val(xTo_Date.format("DD-MM-YYYY"));
            $("#BE_View_Period_DB").dxTextBox("instance").option("value", ("Fr.: " + xFr_Date.format("DD-MMM, YYYY") + " to " + xTo_Date.format("DD-MMM, YYYY")));
            $("#PopupDB_speceficPeriod").dxPopup("hide");
        }
        function rdo_Balances_Mode_DB_ValueChange(e,FirstCall=false)
        {
            debugger
            var value;
            if (e) { value = e.value } else { value = $("#rdo_Balances_Mode_DB").dxRadioGroup("instance").option('value'); }
            if (value == "CASH")
            {
                $("#GLookUp_BankList_DB").dxDropDownBox("instance").option('readOnly', true);
                $("#BE_Bank_Branch_DB").dxTextBox("instance").option('readOnly', true);
                $("#BE_Bank_Acc_No_DB").dxTextBox("instance").option('readOnly', true);
                $("#GLookUp_BankList_DB").find('input').css("color", "#696969");
                $("#BE_Bank_Branch_DB").find('input').css("color", "#696969");
                $("#BE_Bank_Acc_No_DB").find('input').css("color", "#696969");
            }
            else
            {
                $("#GLookUp_BankList_DB").dxDropDownBox("instance").option('readOnly', false);
                //$("#BE_Bank_Branch_DB").dxTextBox("instance").option('readOnly', false);
                //$("#BE_Bank_Acc_No_DB").dxTextBox("instance").option('readOnly', false);
                $("#GLookUp_BankList_DB").find('input').css("color", "#000080");
                $("#BE_Bank_Branch_DB").find('input').css("color", "#000080");
                $("#BE_Bank_Acc_No_DB").find('input').css("color", "#000080");
            }

        }
        function RadioGroup2_DB_ValueChange(e, FirstCall = false) {
            var value;
            if (e) { value = e.value } else { value = $("#RadioGroup2_DB").dxRadioGroup("instance").option('value'); }
            if (value == "On Screen")
            {
                $("#RadioGroup3_DB").dxRadioGroup("instance").option("readOnly", false);
            }
            else
            {
                $("#RadioGroup3_DB").dxRadioGroup("instance").option("value", "All");
                $("#RadioGroup3_DB").dxRadioGroup("instance").option("readOnly", true);
            }
        }
        function RadioGroup3_DB_ValueChange(e, FirstCall = false)
        {
            if ($("#rdo_Balances_Mode_DB").dxRadioGroup("instance").option("value") == "CASH")
            {
                $("#GLookUp_BankList_DB").dxDropDownBox("instance").option('readOnly', true);
                $("#BE_Bank_Branch_DB").dxTextBox("instance").option('readOnly', true);
                $("#BE_Bank_Acc_No_DB").dxTextBox("instance").option('readOnly', true);
                $("#GLookUp_BankList_DB").find('input').css("color", "#696969");
                $("#BE_Bank_Branch_DB").find('input').css("color", "#696969");
                $("#BE_Bank_Acc_No_DB").find('input').css("color", "#696969");
            }
            else
            {
                $("#GLookUp_BankList_DB").dxDropDownBox("instance").option('readOnly', false);
                //$("#BE_Bank_Branch_DB").dxTextBox("instance").option('readOnly', false);
                // $("#BE_Bank_Acc_No_DB").dxTextBox("instance").option('readOnly', false);
                $("#GLookUp_BankList_DB").find('input').css("color", "#000080");
                $("#BE_Bank_Branch_DB").find('input').css("color", "#000080");
                $("#BE_Bank_Acc_No_DB").find('input').css("color", "#000080");
            }
        }
        async function LookUp_GetBankList_DB(FirstCall = false)
        {
            debugger
            var DataSource = $("#GLookUp_BankList_DB").dxDropDownBox("getDataSource");
            var isLoaded = DataSource.isLoaded();
            if (isLoaded == false) {
                await DataSource.load();
            }
            var data = DataSource._store.__rawData;
            DB_Bank_DataGrid = $("#Frm_Profile_Win_GLookUp_bankList_datagrid").dxDataGrid("instance");
            if (data.length == 1)
            {
                $("#GLookUp_BankList_DB").find("input").css("color", "#696969");
                $("#BE_Bank_Branch_DB").find('input').css("color", "#696969");
                $("#BE_Bank_Acc_No_DB").find('input').css("color", "#696969");
                DB_Bank_DataGrid.selectRowsByIndexes(0);
                $("#GLookUp_BankList_DB").dxDropDownBox("instance").option('readOnly', true);
            }
            else
            {
                $("#GLookUp_BankList_DB").dxDropDownBox("instance").option('readOnly', false);
            }
        }
        function LookUp_Bank_ChangeEvent(e)
        {
            e.component.close();
            if (e.value == null && e.previousValue != null)
            {
                DB_Bank_DataGrid.clearSelection();
                return;
            }
            if (DB_Bank_DataGrid.getSelectedRowsData().length > 0) {
                var item = DB_Bank_DataGrid.getSelectedRowsData()[0];
                $("#BE_Bank_Branch_DB").dxTextBox("instance").option("value", item["BANK_BRANCH"]);
                $("#BE_Bank_Acc_No_DB").dxTextBox("instance").option("value", item["BANK_ACC_NO"]);
            }
            else
            {
                $("#BE_Bank_Branch_DB").dxTextBox("instance").option("value", null);
                $("#BE_Bank_Acc_No_DB").dxTextBox("instance").option("value", null);
            }
        }
        function Close_DB()
        {
            HidePopup("Dynamic_Content_popup")
        }
    function DB_OK_Click(e)
    {
        if ($("#rdo_Balances_Mode_DB").dxRadioGroup("instance").option("value") == "BANK")
        {
            if ($("#GLookUp_BankList_DB").dxDropDownBox("instance").option("value") == null)
            {
                DevExpress.ui.dialog.alert("Bank Not Selected", 'Error!!');
                return;
            }
        }
        if ($("#RadioGroup2_DB").dxRadioGroup("instance").option("value") == "On Screen")
        {
            ShowLoader();
            var DisplayType = $("#rdo_Balances_Mode_DB").dxRadioGroup("instance").option("value");
            var xStatus_Choice = ($("#RadioGroup3_DB").dxRadioGroup("instance").option("value"));
            var xView_Sel_Id = $("#Cmb_View_DB").dxSelectBox("instance").option("value");
            var Bank_Acc_ID = "";
            var bankName = "";
            var Accno = $("#BE_Bank_Acc_No_DB").dxTextBox("instance").option("value");
            if ($("#rdo_Balances_Mode_DB").dxRadioGroup("instance").option("value") == "BANK") {
                Bank_Acc_ID = $("#GLookUp_BankList_DB").dxDropDownBox("instance").option("value");
                bankName = $("#GLookUp_BankList_DB").dxDropDownBox("instance").option("text") + ", A/c.No.:" + Accno;
            }     
            $.ajax({
                type: 'POST',
                url: "/Reports/DailyBalances/Frm_Daily_Balances_Report_dx",
                data:
                {
                    Bank_Acc_ID: Bank_Acc_ID,
                    bankName: bankName,
                    xView_Sel_Id: xView_Sel_Id,
                    xStatus_Choice: xStatus_Choice,
                    DisplayType: DisplayType,
                    BankAccno: Accno,
                    FromDate: $("#DB_Fr_Date").val(),
                    ToDate: $("#DB_To_Date").val()
                },
                cache: false,
                success: function (data)
                {
                    if ("@ViaOptionClick" == "True")
                    {
                        $("#DailyBalances").html(data);                       
                    }
                    else
                    {
                        OpenTabControl("DailyBalances", "Daily Balances", null, data);
                    }
                    HideLoader();                 
                    HidePopup("Dynamic_Content_popup");
                }
            });
        }
        else
        {
            //pending
        }
    }
    </script>
</div>