<div class="DailyBalanceoption_ClearReferences">
@using DevExtreme.AspNet.Mvc;
@using ConnectOneMVC.Areas.Reports.Models;
@model ConnectOneMVC.Areas.Reports.Models.DailyBalancesModel
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
@{
    Layout = null;
    var UserType = ViewBag.UserType;
    var ViaOptionClick = ViewBag.ViaOptionClick;

    bool DailyBalances_ExportRight = (bool)ViewData["DailyBalances_ExportRight"];
    bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
    bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
    bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
    bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
}

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
@Html.HiddenFor(x => x.Fromdate)
@Html.HiddenFor(x => x.Todate)
@Html.HiddenFor(x => x.xFr_Date)
@Html.HiddenFor(x => x.xFr_Date)
@Html.HiddenFor(x => x.Balancesradio)
@Html.HiddenFor(x => x.ActionType)
@Html.HiddenFor(x => x.Bank_Acc_ID)
<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .margTB2 {
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<form action="" class="edit_form">
    <div class="full-width-header-bg3">
        <div class="row">

            <div class="col-sm-12 pll">
                <h3 class="popuphead"><i class="far fa-edit"></i> Daily Balances</h3>
            </div>
        </div>

    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 pll">@Html.LabelFor(model => model.Cmb_View_DB, htmlAttributes: new { @class = "control-label" })</div>
                        <div class="col-sm-9 col-md-9 col-lg-9 prm">

                            @(Html.DevExtreme().SelectBox().CustomSelectBox().ShowClearButton(false).ID("Cmb_View_DB").Name("Cmb_View_DB").DisplayExpr("Period").ValueExpr("SelectedIndex").DataSource(ViewBag.PeriodSelectionData).OnValueChanged("LookUp_ViewType_ChangeEvent") )

                        </div>
                    </div>
                </div>
            </div>
        </div><!--[2]-->
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        @(Html.DevExtreme().Button().ID("DB_btnChangePeriod").Text("Change Period").Hint("Change Period").Disabled(true).OnClick(@<text> function () { ChangePeriodClick_DB(); } </text>) )
                    </div>
                </div>
            </div>
        </div><!--[3]-->
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Period:</label></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 prm">
                        @(Html.DevExtreme().TextBox().ID("BE_View_Period_DB").Name("BE_View_Period_DB").Value("View Period").ReadOnly(true))
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 col-md-2 col-lg-2 pll">
                    <label class="control-label" for="user">Balances:</label>
                </div><!--[]-->
                <div class="col-sm-10 col-md-10 col-lg-10 prm">
                    @(Html.DevExtreme().RadioGroup().ID("rdo_Balances_Mode_DB").Name("rdo_Balances_Mode_DB").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "CASH", value = "CASH" }, new { text = "BANK", value = "BANK" }, }).OnValueChanged("Balancec_radio_ChangeValue") )
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 col-md-2 col-lg-2 pll">
                    <label class="control-label" for="user">Output:</label>
                </div><!--[]-->
                <div class="col-sm-10 col-md-10 col-lg-10 prm">
                    @(Html.DevExtreme().RadioGroup().ID("RadioGroup2_DB").Name("RadioGroup2_DB").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "On Screen", value = "On Screen" }, new { text = "Printable", value = "Printable" } }).ReadOnly(true).OnValueChanged("RadioGroup2_SelectedIndexChanged") )
                </div><!--[]-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 col-md-2 col-lg-2 pll">
                    <label class="control-label" for="user">Status:</label>
                </div><!--[]-->
                <div class="col-sm-10 col-md-10 col-lg-10 prm">
                    @(Html.DevExtreme().RadioGroup().ID("RadioGroup3_DB").Name("RadioGroup3_DB").DisplayExpr("text").Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "Unreconciled", value = "Unreconciled" }, new { text = "All", value = "All" }, }).OnValueChanged("Radio3_ChangeValue") )
                </div><!--[]-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Bank:</label></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 prm">

                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_BankList_DB").Name("GLookUp_BankList_DB").DisplayExpr("BANK_NAME").ValueExpr("BA_ID").DataSource(d => d.Mvc().Controller("DailyBalances").LoadAction("LookUp_Get_Bank_List").Key("BA_ID"))
                                                                          .OnValueChanged("LookUp_Bank_ChangeEvent").ContentTemplate(@<text> @Html.Partial("LookUp_GetBankList")  </text>) )

                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Branch:</label></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 prm">

                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Bank_Branch_DB").Name("BE_Bank_Branch_DB").ReadOnly(true).ValidationError(true) )

                    </div>

                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">A/c. No.:</label></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 prm">
                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Bank_Acc_No_DB").Name("BE_Bank_Acc_No_DB").ReadOnly(true).ValidationError(true).MaxLength(100) )

                    </div>
                </div>

            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="styleActionBtn">
                @(Html.DevExtreme().Button().CustomSaveButton().ID("DB_Save").Text("OK").UseSubmitBehavior(false).OnClick("DB_OK_Click"))
                @(Html.DevExtreme().Button().CustomCloseButton().ID("DB_Cancel").Text("Cancel").OnClick(@<text> function () { Close_DB(); } </text>) )

            </div>
        </div>
    </div><!--[Buttons]-->
    

</form>

<script>
    var DB_Bank_DataGrid;
    var Daily_Balances_Showclick = false;
    function Close_DB()
    {
        HidePopup("Dynamic_Content_popup")
    }
    function DB_OK_Click(e)
    {
        if ($("#rdo_Balances_Mode_DB").dxRadioGroup("instance").option("value") == "BANK")
        {
            if ($("#GLookUp_BankList_DB").dxDropDownBox("instance").option("value") == null)
            {
                DevExpress.ui.dialog.alert("Bank Not Selected", 'Error!!');
            }
        }    
        if ($("#RadioGroup2_DB").dxRadioGroup("instance").option("value") == "On Screen")
        {
            var DisplayType = $("#rdo_Balances_Mode_DB").dxRadioGroup("instance").option("value");
            var xStatus_Choice = ($("#RadioGroup3_DB").dxRadioGroup("instance").option("value"));
            var xView_Sel_Id = $("#Cmb_View_DB").dxSelectBox("instance").option("value");
            var Bank_Acc_ID = "";
            var bankName = "";
            if ($("#rdo_Balances_Mode_DB").dxRadioGroup("instance").option("value") == "BANK") {
                Bank_Acc_ID = $("#GLookUp_BankList_DB").dxDropDownBox("instance").option("value");
                bankName = $("#GLookUp_BankList_DB").dxDropDownBox("instance").option("text") + ", A/c.No.:" + $("#BE_Bank_Acc_No_DB").dxTextBox("instance").option("value");
            }
            ShowLoader();
            $.ajax({
                type: 'POST',
                url: "/Reports/DailyBalances/Frm_Daily_Balances_Report",
                data:
                {
                    Bank_Acc_ID: Bank_Acc_ID,
                    bankName: bankName,
                    xView_Sel_Id: xView_Sel_Id,
                    xStatus_Choice: xStatus_Choice,
                    DisplayType: DisplayType,
                    BankAccno:$("#BE_Bank_Acc_No_DB").dxTextBox("instance").option("value")
                },
                cache: false,
                success: function (data)
                {
                    if ("@ViaOptionClick" == "True")
                    {
                        $("#DailyBalances").html(data);
                        SetHeightGrid("DailyBalances");
                      
                    }
                    else
                    {
                        OpenTabControl("DailyBalances", "Daily Balances", null, data);
                    }
                    HideLoader();
                    Daily_Balances_Showclick = true;
                    HidePopup("Dynamic_Content_popup");                 
                }
            });
        }
        else
        {
            //pending
        }
   
    }
    $(document).ready(function ()
    {
        ShowLoader();
        sessionclearpath = "/Reports/DailyBalances/SessionClear";
        $("#Cmb_View_DB").dxSelectBox("instance").option("value", parseInt("@Model.Cmb_View_DB"));
        LookUp_GetBankList_DB().then((r) =>
        {
            if ("@Model.GLookUp_BankList_DB".length > 0)
            {
                DB_Bank_DataGrid.selectRows("@Model.GLookUp_BankList_DB", false);
            }
            $("#rdo_Balances_Mode_DB").dxRadioGroup("instance").option("value", "@Model.rdo_Balances_Mode_DB");
            $("#RadioGroup2_DB").dxRadioGroup("instance").option("value", "@Model.RadioGroup2_DB");
            $("#RadioGroup3_DB").dxRadioGroup("instance").option("value", "@Model.RadioGroup3_DB");
            $("#GLookUp_BankList_DB").dxDropDownBox("instance").focus();
            if ("@ViaOptionClick" == "True")
            {
                    $("#RadioGroup2_DB").dxRadioGroup("instance").option("readOnly",true);
            }
            HideLoader();
        });
    });
    // Bank drop down change event
    function LookUp_Bank_ChangeEvent(e)
    {
        e.component.close();
        if (e.value == null && e.previousValue != null)
        {
            DB_Bank_DataGrid.clearSelection();
            return;
        }
        if (DB_Bank_DataGrid.getSelectedRowsData().length > 0)
        {
            var item = DB_Bank_DataGrid.getSelectedRowsData()[0];
            $("#BE_Bank_Branch_DB").dxTextBox("instance").option("value", item["BANK_BRANCH"]);
            $("#BE_Bank_Acc_No_DB").dxTextBox("instance").option("value", item["BANK_ACC_NO"]);
        }
    }
    //LookUp ViewType change event
    function LookUp_ViewType_ChangeEvent(e)
    {
        e.component.close();
        if (e.value == null || e.value < 0)
        {
            return;
        }
        $("#DB_btnChangePeriod").dxButton("instance").option("disabled", true);
        if (e.value == 20)
        {
            $("#DB_btnChangePeriod").dxButton("instance").option("disabled", false);
            ChangePeriodClick_DB();
        }
        else
        {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Reports/DailyBalances/Cmb_View_SelectedIndexChanged",
                data: { SelectedIndex: e.value },
                cache: false,
                success: function (data)
                {
                    HideLoader();
                    $("#BE_View_Period_DB").dxTextBox("instance").option("value", data.BE_View_Period);
                }
            });
        }
    }
    function ChangePeriodClick_DB()
    {
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Reports/DailyBalances/frm_Voucher_Specific_Period",
            cache: false,
            success: function (data)
            {
                OpenPopup("PopupDB_speceficPeriod", "Change Period", false, "auto", "45%", true, data);
            }
        });
    }
    function Frm_Change_Period_Success_DB(data) {
        HideLoader();
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.message, 'Error!!');
        }
        else
        {
            $("#BE_View_Period_DB").dxTextBox("instance").option("value", data.BE_View_Period);
            $("#PopupDB_speceficPeriod").dxPopup("hide");
        }
    }
    // Date Format
    function getDateFormat(date) { //DD-MM-YYYY
        var dd = date.getDate();
        var mm = date.getMonth() + 1; //January is 0!

        var yyyy = date.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        return dd + '-' + mm + '-' + yyyy;
    }
    //Report popup Ok button functionality
    function dailybalanes_OnOkClick()
    {
        debugger;
        $("#lblbankerror").innerText = "";
        $("#lblbankerror").hide();
        var Outputradio = $("#Output").dxRadioGroup("instance").option("value");
        var Balancesradio = $("#Balances").dxRadioGroup("instance").option("value");
        var Statusradio = $("#Status").dxRadioGroup("instance").option("value");
        var Xr_BankName = "";
        var Bank_Acc_ID = "";
        var BE_Bank_Acc_No = "";
        var Branch = "";
        var AccType=$("#ActionType").val();//Gettting the value once click on Option
        if ($("#Balances").dxRadioGroup("instance").option("value") == "BANK")
        {
            if ($("#Bank").dxDropDownBox("instance").option('text').length == 0)
            {
                $("#lblbankerror").html("Please Select Bank");
                $("#lblbankerror").show();
                return false;
            }
            Xr_BankName = $("#Bank").dxDropDownBox("instance").option('text');
            if ($("#Bank").dxDropDownBox("instance").option("value").length > 0) {
                if (AccType == "") {
                    Bank_Acc_ID = $("#Bank").dxDropDownBox("instance").option("value")[0];
                }
                else {
                    Bank_Acc_ID = $("#Bank_Acc_ID").val();
                }
            }
            else {
                Bank_Acc_ID = 0;
            }

            BE_Bank_Acc_No = $("#Acno").dxTextBox("instance").option("value");
            Branch = $("#Branch").dxTextBox("instance").option("value");
        }
        var xFr_Date = $("#Fromdate").val();
        //if (xFr_Date != "" && xFr_Date != null)
        //{
        //    var Datefrom = new Date(xFr_Date);
        //    var fmonth = Datefrom.getMonth() + 1;
        //    fmonth = fmonth < 10 ? "0" + fmonth : fmonth;
        //    var fday = Datefrom.getDate() < 10 ? "0" + Datefrom.getDate() : Datefrom.getDate();
        //    var fyear = Datefrom.getFullYear();
        //    var Fr_Date = fmonth + "/" + fday + "/" + fyear + " 12:00:00 AM"
        //}
        var xTo_Date = $("#Todate").val();
        //if (xTo_Date != "" && xTo_Date != null)
        //{
        //    var Dateto = new Date(xTo_Date);
        //    var tmonth = Dateto.getMonth() + 1;
        //    tmonth = tmonth < 10 ? "0" + tmonth : tmonth;
        //    var tday = Dateto.getDate() < 10 ? "0" + Dateto.getDate() : Dateto.getDate();
        //    var tyear = Dateto.getFullYear();
        //    var To_Date = tmonth + "/" + tday + "/" + tyear + " 12:00:00 AM"
        //}
        var Viewselectbox = $("#ViewType").dxSelectBox("instance").option("value");

        if (Outputradio == "On Screen") {            
            $(".TabPanalMenu-tabs .active span").click();
            OpenTabControl("Daily_Balances", "DailyBalances", "@Url.Action("Frm_Daily_Balances_info", "DailyBalances", new { area= "Reports" })?Outputradio=" + encodeURIComponent(Outputradio) + "&Balancesradio=" + encodeURIComponent(Balancesradio) + "&Statusradio=" + encodeURIComponent(Statusradio) + "&Xr_BankName=" + encodeURIComponent(Xr_BankName) + "&Bank_Acc_ID=" + encodeURIComponent(Bank_Acc_ID) + "&BE_Bank_Acc_No=" + encodeURIComponent(BE_Bank_Acc_No) + "&xFr_Date=" + encodeURIComponent(xFr_Date) + "&xTo_Date=" + encodeURIComponent(xTo_Date) + "&Branch=" + encodeURIComponent(Branch) + "&Viewselectbox=" + encodeURIComponent(Viewselectbox))
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
    }
    //Balances Radio change event
    function Balancec_radio_ChangeValue(e)
    {
        if (e.value == "CASH")
        {
            $("#GLookUp_BankList_DB").dxDropDownBox("instance").option('readOnly', true);
            $("#BE_Bank_Branch_DB").dxTextBox("instance").option('readOnly', true);
            $("#BE_Bank_Acc_No_DB").dxTextBox("instance").option('readOnly', true);
            $("#GLookUp_BankList_DB").find('input').css("color", "#696969");
            $("#BE_Bank_Branch_DB").find('input').css("color", "#696969");
            $("#BE_Bank_Acc_No_DB").find('input').css("color", "#696969");
        }
        else
        {
            $("#GLookUp_BankList_DB").dxDropDownBox("instance").option('readOnly', false);
            //$("#BE_Bank_Branch_DB").dxTextBox("instance").option('readOnly', false);
            //$("#BE_Bank_Acc_No_DB").dxTextBox("instance").option('readOnly', false);
            $("#GLookUp_BankList_DB").find('input').css("color", "#000080");
            $("#BE_Bank_Branch_DB").find('input').css("color", "#000080");
            $("#BE_Bank_Acc_No_DB").find('input').css("color", "#000080");
        }

    }
    function Radio3_ChangeValue(e)
    {
        if ($("#rdo_Balances_Mode_DB").dxRadioGroup("instance").option("value") == "CASH")
        {
            $("#GLookUp_BankList_DB").dxDropDownBox("instance").option('readOnly', true);
            $("#BE_Bank_Branch_DB").dxTextBox("instance").option('readOnly', true);
            $("#BE_Bank_Acc_No_DB").dxTextBox("instance").option('readOnly', true);
            $("#GLookUp_BankList_DB").find('input').css("color", "#696969");
            $("#BE_Bank_Branch_DB").find('input').css("color", "#696969");
            $("#BE_Bank_Acc_No_DB").find('input').css("color", "#696969");
        }
        else
        {
            $("#GLookUp_BankList_DB").dxDropDownBox("instance").option('readOnly', false);
            //$("#BE_Bank_Branch_DB").dxTextBox("instance").option('readOnly', false);
           // $("#BE_Bank_Acc_No_DB").dxTextBox("instance").option('readOnly', false);
            $("#GLookUp_BankList_DB").find('input').css("color", "#000080");
            $("#BE_Bank_Branch_DB").find('input').css("color", "#000080");
            $("#BE_Bank_Acc_No_DB").find('input').css("color", "#000080");
        }

    }
    function RadioGroup2_SelectedIndexChanged(e)
    {
        if (e.value == "On Screen")
        {
            $("#RadioGroup3_DB").dxRadioGroup("instance").option("readOnly", false);
        }
        else
        {
            $("#RadioGroup3_DB").dxRadioGroup("instance").option("value", "All");
            $("#RadioGroup3_DB").dxRadioGroup("instance").option("readOnly", true);
        }
    }    
    async function LookUp_GetBankList_DB()
    {
            var $DB_DepBank_DataGrid = $("#Frm_Profile_Win_GLookUp_bankList_datagrid");
            if ($DB_DepBank_DataGrid.length)
            {
                var ddRefresh = false;
                DB_Bank_DataGrid = $DB_DepBank_DataGrid.dxDataGrid("instance");
                $.ajax({
                    type: 'GET',
                    url: "/Reports/DailyBalances/RefreshBankList",
                    cache: false,
                    async: false,
                    success: function (data)
                    {
                        ddRefresh = data.result;
                        if (data.result == false)
                        {
                            DevExpress.ui.dialog.alert(data.message, "Error..");
                        }
                    }
                });
                if (ddRefresh)
                {
                    await DB_Bank_DataGrid.refresh();

                    if (DB_Bank_DataGrid.totalCount() == 1)
                    {
                        $("#GLookUp_BankList_DB").find("input").css("color", "#696969");
                        DB_Bank_DataGrid.selectRowsByIndexes((DB_Bank_DataGrid.totalCount()) - 1);
                        $("#GLookUp_BankList_DB").dxDropDownBox("instance").option('readOnly', true);
                    }
                    else
                    {
                        $("#GLookUp_BankList_DB").dxDropDownBox("instance").option('readOnly', false);
                    }
                }
            }
    }
</script>

    </div>