<div class="DailyBalanceBankReconcile_ClearReferences">
@using DevExtreme.AspNet.Mvc;

@model IEnumerable<dynamic>
@{
    ViewBag.Title = "Index";
    Layout = null;
    bool DailyBalances_ExportRight = (bool)ViewData["DailyBalances_ExportRight"];
}
<div id="content" class="col-md-12 report_header_div_main">
    <div class="col-md-8 report_header_div">

        <label class="report_header_label" style="font-size:15px !important">@ViewBag.Reconciletext</label>
    </div>


    @*Buttons*@
    <div class="report_button_div">
        @(Html.DevExtreme().Button().ID("ReconcileListPreview").Text("Export").Icon("save").Width(80).OnClick(@<text> function () { OnReconcileListPreviewClick(); } </text>) )

        @(Html.DevExtreme().Button().ID("ReconcileCLOSE").Text("Close").Icon("clear").OnClick(@<text> function (){$("#popup_frm_Reconcile").dxPopup("hide")} </text>) )
    </div>
</div>
    <div class="row">
        <div class="col-md-6"></div>
            <div class="col-md-6">


                <div class="col-sm-8 col-md-8 col-lg-8 pll"><label class="control-label" for="user">Balance as per Txn Dates (in Rs.):</label></div>
                <div class="col-sm-4 col-md-4 col-lg-4 prm ">

                  
                    @(Html.DevExtreme().TextBox()
                                                                                           .ID("lblBalance")
                                                                                           .Name("lblBalance")
                                                                                           .Value(Convert.ToString(ViewBag.Balance))
                                                                                           .ShowClearButton(true)
                                                                                           .ReadOnly(true)
                                                                                           .ValidationError(true)
                                                                                           .MaxLength(100)
                    )
                </div>

            </div>
        </div>
   
    <div class="col-md-12 no-padding">
        <form>
            <div id="GoldSilverreloadPartialView" class="parent_table">
                @Html.Partial("Frm_Bank_Reconcile_Grid", Model)
            </div>
        </form>
    </div>

    <div class="footer-MainBoxdiv full-width-footer">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 pll"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 pll">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Nett Difference (in Rs.):</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 prm ">
                 
                                @*<input class="dx-texteditor-input" type="text" placeholder="Internal ID">*@
                                @(Html.DevExtreme().TextBox()
                                                           .ID("Netbalance")
                                                           .Name("Netbalance")
                                                           .Value(Convert.ToString(ViewBag.lblNetBalance))
                                                           .ShowClearButton(true)
                                                           .ReadOnly(true)
                                                           .ValidationError(true)
                                                           .MaxLength(100)
                                )
                            </div>
                 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 pll"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 pll">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Balance as per Clearing Dates (in Rs.):</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 prm ">
                  
                                @*<input class="dx-texteditor-input" type="text" placeholder="Internal ID">*@
                                @(Html.DevExtreme().TextBox()
                                           .ID("ClearingBalance")
                                           .Name("ClearingBalance")
                                           .Value(Convert.ToString(ViewBag.ClearingBalance))
                                           .ShowClearButton(true)
                                           .ReadOnly(true)
                                           .ValidationError(true)
                                           .MaxLength(100)
                                )
                            </div>
                        </div>
               
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function () {

        });
        function OnReconcileListPreviewClick()
        {

            if ("@DailyBalances_ExportRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
                return;
            }  
            OpenPopup("DailyBalances_report_modal", "Export Option", "@Url.Action("Frm_Export_Options_Reconcile", "DailyBalances", new { @area = "Reports" })", "auto", 125);
        }
        function Reconcile_EndCallback(s, e) {
            if (e.command == "REFRESH")
            {
                $("#lblBalance").dxTextBox("instance").option("value", "@ViewBag.Balance");
                $("#Netbalance").dxTextBox("instance").option("value", "@ViewBag.lblNetBalance");
                $("#ClearingBalance").dxTextBox("instance").option("value", "@ViewBag.ClearingBalance");
            }

        }
    </script>

    </div>
