@using DevExtreme.AspNet.Mvc;
@*@using ConnectOneMVC.Areas.Reports.Models;
    @model ConnectOneMVC.Areas.Reports.Models.DailyBalancesModel*@
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
@model IEnumerable<dynamic>
@{
        Layout = null;
        var Headertext = ViewBag.Headertext;
        var Balance = ViewBag.Balances;
        var Output = ViewBag.Outputradio;
        var Status = ViewBag.Statusradio;

        bool DailyBalances_ExportRight=(bool)ViewData["DailyBalances_ExportRight"];
    }
<style>
    #lbldbtext { font-size: 15px; line-height: 21px; padding: 3px 5px 0 }
</style>

<div id="content" class="col-md-12 report_header_div_main">
    <div class="col-md-8 report_header_div">
        <label class="report_header_label" id="lbldbtext">@ViewBag.Headertext</label>
    </div>
    @*Buttons*@
    <div class="report_button_div">


        @(Html.DevExtreme().Button()
                                                        .ID("dailyBalancesModelOptions")
                                                        .Text("Options")
                                                        // .Icon("edit")
                                                        .Visible(true)
                                                        .Disabled(false)
                                                        .OnClick(@<text>
                                                            function () {
                                                            OptionsClick();
                                                            }
                                                        </text>)
        )


        @(Html.DevExtreme().Button()
                                                    .ID("DailyBalancesModelSave")
                                                    .Icon("fa fa-check")
                                                    .Text("Save")
                                                    //.Visible(true)
                                                    //.Disabled(true)
                                                    .OnClick(@<text>
                                                        function () {
                                                        OnSaveClick();
                                                        }
                                                    </text>)
        )

        @(Html.DevExtreme().Button()
                                                                            .ID("DailyBalancesModelListPreview")
                                                                            .Text("Export")
                                                                            .Icon("save")
                                                                            .Width(80)
                                                                            .OnClick(@<text>
                                                                                function () {
                                                                                OnListPreviewClick();
                                                                                }
                                                                            </text>)
        )
        @(Html.DevExtreme().Button().ID("DailyBalanceToggleScrollBar").Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data").Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90).Icon("toolbox").OnClick(@<text> function () { DailyBalance_changeMode(); } </text>))
        @(Html.DevExtreme().Button()
                                                                        .ID("DailyBalancesModelCLOSE")
                                                                        .Text("Close")
                                                                        .Icon("clear")
                                                                        .OnClick(@<text>
                                                                            function (){$(".TabPanalMenu-tabs .active span").click()}
                                                                        </text>)

        )
    </div>
</div >
<div class="col-md-12 no-padding">
<form>
<div id = "DailyBalncereloadPartialView" class="parent_table">
@Html.Partial("Frm_Daily_Balances_Info_Grid", Model)
</div>
</form>
</div>
<div class="footer-MainBoxdiv full-width-footer">
    @*<div class="col-lg-8 report_footer_small_buttons_div" id="DepositsFooterItem">*@
        <div class="list_footer_left_margin col-md-10">

        </div>

        <div class="row">
            <div class="col-md-6">
                <div>
    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id = "ob_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id = "ob_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
    @*<div class="footer-locktext">
        <div id="obLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
    </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id = "obLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id = "obLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Balance as per Txn Dates(in Rs.) :</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 prm pll3">
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
    @*<input class="dx-texteditor-input" type="text" placeholder="Internal ID">*@
                                @(Html.DevExtreme().TextBox()
                                                                                                   .ID("SetTxndate")
                                                                                                   .Name("SetTxndate")
                                                                                                   .Value(Convert.ToString(ViewBag.SetTxnBalance))
                                                                                                   .ShowClearButton(true)
                                                                                                   .ReadOnly(true)
                                                                                                   .ValidationError(true)
                                                                                                   .MaxLength(100)
                                    )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Nett Difference(in Rs.):</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 prm pll3">
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
    @*<input class="dx-texteditor-input" type="text" placeholder="Internal ID">*@
                                @(Html.DevExtreme().TextBox()
                                                                                           .ID("SetNetbalance")
                                                                                           .Name("SetNetbalance")
                                                                                           .Value(Convert.ToString(ViewBag.SetNetBalance))
                                                                                           .ShowClearButton(true)
                                                                                           .ReadOnly(true)
                                                                                           .ValidationError(true)
                                                                                           .MaxLength(100)
                                    )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Balance as per Clearing Dates(in Rs.) :</label></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 prm pll3">
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
    @*<input class="dx-texteditor-input" type="text" placeholder="Internal ID">*@
                                @(Html.DevExtreme().TextBox()
                                                       .ID("SetClearingDate")
                                                       .Name("SetClearingDate")
                                                       .Value(Convert.ToString(ViewBag.SetClearingBalance))
                                                       .ShowClearButton(true)
                                                       .ReadOnly(true)
                                                       .ValidationError(true)
                                                       .MaxLength(100)
                                    )
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>


        <div class="list_footer_right_margin_consistent col-md-1">
    @*<i id="ob_LockICON" class="fa fa-lock lock_symbol"></i>*@
        </div>
    @*</div>
    <div class="col-lg-4 listing_footer_filter_buttons_div">
    </div>*@
</div>
@(Html.DevExtreme().Popup().CustomPopup()
                                               .ID("popup_frm_Reconcile")
                                               .Title("RequestBox")
                                               .OnShowing("PopupOnShowing")
                                               .DragEnabled(true)
                                               .Height(400)
                                               .Width(650)
                                               .ShowCloseButton(true)
                                               .ContentTemplate(@<text>
        <div id="popup_frm_Reconcile_result">
        </div>
                                            </text>)

)

@(Html.DevExtreme().Popup().CustomPopup()
                                                                    .ID("DailyBalances_report_modal")
                                                                    .OnShowing("PopupOnShowing")
                                                                    .Title("DailyBalances List Preview")
                                                                    .FullScreen(false)
                                                                    .MaxWidth(125)
                                                                    .Height("auto")
                                                                    .ShowCloseButton(true)
                                                                    .ContentTemplate(@<text>
                                                <div id="DailyBalances_report_modal_result">
                                                </div>
                                                                    </text>)
)
<script>
            var DailyBalance_IsVouchingMode = false;
            var DailyBalance_layout = null;
    $(document).ready(function () {
        if ("@DailyBalances_ExportRight" == "False")
        {
	        $("#DailyBalancesModelListPreview").hide();
        }
    });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Reports/DailyBalances/SessionClear",
            cache: false
        });
    });
    function DailyBalancesOnInit(s, e) {
        DailyBalancesAdjustSize();
        $(".DailyBalancesListGrid_PreviewRow").hide();
        GetSessionStorage("DailyBalancesListGrid");
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            DailyBalancesAdjustSize();
        });
    }
    function DailyBalancesAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try{DailyBalancesListGrid.SetHeight(height);} catch (err) { }
    }
    function DBGrid_BeginCallBack(s, e) {
        e.customArgs["command"] = e.command;
        e.customArgs["ShowHorizontalBar"] = DailyBalance_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = DailyBalance_IsVouchingMode;
    }
            function OnDailyBalancesListGrid_EndCallback(s,e)
            {
                DailyBalance_layout = s.cpGridLayout;
                $(".DailyBalancesListGrid_PreviewRow").hide();
                GetSessionStorage("DailyBalancesListGrid");
                SendCustomArgs_FilterControl(s, e);
            }
            function DBOnGridFocusedRowChanged(s, e)
            {
                var key = s.GetRowKey(s.GetFocusedRowIndex());
                DailyBalancesListGrid.GetValuesOnCustomCallback({ key: key }, DBOnGetRowValues);
            }
            var DailyBalance_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
            function DailyBalance_changeMode()
            {
                ShowLoader();
                if (DailyBalance_ShowHorizontalBar == 0)
                {
                    DailyBalance_ShowHorizontalBar = 1;
                    $("#DailyBalanceToggleScrollBar").find("span").text("Default Data");
                    $("#DailyBalanceToggleScrollBar").width(110);
                }
                else
                {
                    DailyBalance_ShowHorizontalBar = 0;
                    $("#DailyBalanceToggleScrollBar").find("span").text("Full Data");
                    $("#DailyBalanceToggleScrollBar").width(90);
                }

                $.ajax({
                    url: '@Url.Action("Frm_Daily_Balances_Info_Grid", "DailyBalances")',
                    type: "GET",
                    data: { ShowHorizontalBar: DailyBalance_ShowHorizontalBar, Layout: DailyBalance_layout, VouchingMode: DailyBalance_IsVouchingMode },
                    success: function (res) {
                        $("#DailyBalncereloadPartialView").html(res);
                        if (DailyBalance_IsVouchingMode == true) {
                            $(".DailyBalancesListGrid_PreviewRow").hide();
                        }
                        else {
                            $(".DailyBalancesListGrid_PreviewRow").show();
                        }
                        GetSessionStorage("DailyBalancesListGrid");
                        HideLoader();
                    }
                });
            }

    var ITR_Date;
    var Item;
    var Mode;
    var RefNo;
    var Party;
    var Instrumentdate;
    var Clearingdate;
    var Debit;
    var Credit;
    var Balance;
    var iREC_ID;
    var iTR_M_ID;
    var Add_Date;
    var Add_By;
    var Edit_Date;
    var Edit_By;
    var Action_Status;
    var Action_By;
    var Action_Date;

    function DBOnGetRowValues(FDData) {
        var values = FDData.split("![");
        ITR_Date = values[0];
        Item = values[1];
        Mode = values[2];
        RefNo = values[3];
        Party = values[4];
        Instrumentdate = values[5];
        Clearingdate = values[6];
        Debit = values[7];
        Credit = values[8];
        Balance = values[9];
        iREC_ID = values[10];
        iTR_M_ID = values[11];
        DailyBalancesUpdateFooterDetail(iREC_ID, Action_Status, Add_Date, Add_By,
        Action_Date, Action_By, Edit_Date, Edit_By);
    }
    function DailyBalancesUpdateFooterDetail(OB_ID, OB_Action_Status, OB_Add_Date, OB_Add_By, OB_Action_Date, OB_Action_By, OB_Edit_Date, OB_Edit_By) {

        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Add_Date = "";
        var Add_By = "";
        var Status_On = "";
        var Status_By = "";
        var StatusStr = "Completed";
        var Lbl_StatusOn = "";
        var Lbl_StatusBy = "";

        Status = OB_Action_Status;

        Add_Date = OB_Add_Date;
        Add_By = OB_Add_By;
        Status_On = OB_Action_Date;
        Status_By = OB_Action_By;

        if (Status_On) {
            Lbl_StatusOn = StatusStr + " On: " + Status_On;
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }
        else {
            Lbl_StatusOn = StatusStr + " On: " + "?";
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }

        if (Add_Date) {
            Lbl_Create = "Add On: " + Add_Date + ", By: " + Add_By;
        }
        else {
            Lbl_Create = "Add On: " + "?, By: " + Add_By;
        }

        var Edit_Date = "";
        var Edit_By = "";

        Edit_Date = OB_Edit_Date;
        Edit_By = OB_Edit_By;

        if (Edit_Date) {
            Lbl_Modify = "Edit On: " + Edit_Date + ", By: " + Edit_By;
        }
        else {
            Lbl_Modify = "Edit On: " + "?, By: " + Edit_By;
        }
        $('#ob_Lbl_ActionOn').text(Lbl_StatusOn)
        $('#ob_Lbl_ActionBy').text(Lbl_StatusBy);
        $('#obLbl_Create').text(Lbl_Create);
        $('#obLbl_Modify').text(Lbl_Modify);
        if (Lbl_Status_Color != "") {
            $('#obLbl_Status').css('color', Lbl_Status_Color);
        }
        if (Pic_Status != "") {
            $('#ob_LockICON').css('class', Pic_Status);
        }
    }

    function DBdblclickEdit(s, e) {
        //var key = s.GetRowKey(s.GetFocusedRowIndex());
        //OpeningbalancesListGrid.GetValuesOnCustomCallback({ key: key }, FDOnGetRowValues);
        //if (FDID != null || FDID == "" || FDID == undefined)
        //    OnEditClick();
    }
    function DailyBalancesContextMenuFunction(s, e) {

        if (e.item.name == 'ReconsilebyTxnDate') {
            OnReconsilebyTxnDate();
        }
        if (e.item.name == 'ReconsilebyClearingDate') {
            OnReconsilebyClearingDate();
        }
        if (e.item.name == 'Close') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'ListPreview') {
            OnListPreviewClick();
        }
        else if (e.item.name == 'Refresh') {
            DailyBalancesListGrid.Refresh();
        }
    }
    function OnSaveClick() {

        if (iREC_ID == 'undefined' || iREC_ID == undefined) {
            DevExpress.ui.dialog.alert('Please Remove Filter and Retry Saving!!"', 'Alert ');
            return;
        }

        var result = DevExpress.ui.dialog.confirm("Do you want to save changes...?", "~ Daily Balances Report");
        result.done(function (dialogResult) {
            if (dialogResult) {

                $.ajax({
                    type: 'GET',
                    url: "/Reports/DailyBalances/DataNavigation",
                    data: { iREC_ID: iREC_ID, Mode: Mode, Clearingdate: Clearingdate, RefNo: RefNo, TxnDate: ITR_Date, iTR_M_ID: iTR_M_ID },
                    cache: false,
                    success: function (result) {

                    }
                });
            }
        });
    }

    function OptionsClick()
    {
        debugger;
        var Balancesradio = '@ViewBag.Balances';
        var Outputradio = '@ViewBag.Outputradio';
        var Statusradio = '@ViewBag.Statusradio';
        var Xr_BankName = '@ViewBag.Xr_BankName';
        var Bank_Acc_ID = '@ViewBag.Bank_Acc_ID';
        var BE_Bank_Acc_No = '@ViewBag.BE_Bank_Acc_No';
        var Fr_Date = '@ViewBag.Fr_Date';
        var To_Date = '@ViewBag.To_Date';
        var ActionType = "Action";
        var Branch = '@ViewBag.Branch';
        var Viewselectbox = '@ViewBag.Viewselectbox';

        OpenDynamicPopup("~ Daily Balances", "@Url.Action("Dialog_DailyBalances", "DailyBalances", new { @area = "Reports" })?Outputradio=" + encodeURIComponent(Outputradio) + "&Balancesradio=" + encodeURIComponent(Balancesradio) + "&Statusradio=" + encodeURIComponent(Statusradio) + "&Xr_BankName=" + encodeURIComponent(Xr_BankName) + "&Bank_Acc_ID=" + encodeURIComponent(Bank_Acc_ID) + "&BE_Bank_Acc_No=" + encodeURIComponent(BE_Bank_Acc_No) + "&ACtxFr_Date=" + encodeURIComponent(Fr_Date) + "&ACtxTo_Date=" + encodeURIComponent(To_Date) + "&ActionType=" + encodeURIComponent(ActionType) + "&Branch=" + encodeURIComponent(Branch) + "&Viewselectbox=" + encodeURIComponent(Viewselectbox), "auto", 400);
    }
    function OnListPreviewClick() {
        if ("@DailyBalances_ExportRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
              $("#DailyBalances_report_modal").dxPopup("show");
              $("#DailyBalances_report_modal").dxPopup("instance").option("title", "Export Option");
              $("#DailyBalances_report_modal").html('');
                ShowLoader();
                $("#DailyBalances_report_modal_result").load("@Url.Action("Frm_Export_Options", "DailyBalances", new { @area = "Reports" })", function () {
                    HideLoader();
                });
    }

    function OnReconsilebyClearingDate()
    {
        debugger;
        var DisplayType = '@ViewBag.Balances';
        var ClearDate = Clearingdate;
        var lblTxnBalance = Balance;
        var bankname = '@ViewBag.Xr_BankName';
        var bankid = '@ViewBag.Bank_Acc_ID';
        var bankAccono = '@ViewBag.BE_Bank_Acc_No';
        if (DisplayType == "CASH") {
            DevExpress.ui.dialog.alert('Reconciliation can be done in Bank Report only !!', 'Alert ');
            return;
        }
        if (ClearDate == "")
        {
            DevExpress.ui.dialog.alert('Clearing Date  is Incorrect !!', 'Alert ');
            return;
        }
        $("#popup_frm_Reconcile").dxPopup("show");
        $("#popup_frm_Reconcile").dxPopup("instance").option("title", '@ViewBag.Xr_BankName' + ', A/C.NO.:' + '@ViewBag.BE_Bank_Acc_No');
        ShowLoader();
        $("#popup_frm_Reconcile_result").load("@Url.Action("Frm_Bank_Reconcile", "DailyBalances", new { @area = "Reports" })?Bank_Acc_ID=" + encodeURIComponent(bankid) + "&XDate=" + encodeURIComponent(ClearDate) + "&Balance=" + encodeURIComponent(lblTxnBalance), function () {
            HideLoader();
        });
    }

    function OnReconsilebyTxnDate()
    {
        debugger;
        var DisplayType = '@ViewBag.Balances';
        var Txndate = ITR_Date;
        var lblTxnBalance = Balance;
        var bankname = '@ViewBag.Xr_BankName';
        var bankid = '@ViewBag.Bank_Acc_ID';
        var bankAccono = '@ViewBag.BE_Bank_Acc_No';
        if (DisplayType == "CASH") {
            DevExpress.ui.dialog.alert('Reconciliation can be done in Bank Report only !!', 'Alert ');
            return;
        }
        if(Txndate=="")
        {
            DevExpress.ui.dialog.alert('Txn Date  is Incorrect !!', 'Alert ');
            return;
        }
        $("#popup_frm_Reconcile").dxPopup("show");
        $("#popup_frm_Reconcile").dxPopup("instance").option("title", '@ViewBag.Xr_BankName' + ', A/C.NO.:' + '@ViewBag.BE_Bank_Acc_No');
        ShowLoader();
        $("#popup_frm_Reconcile_result").load("@Url.Action("Frm_Bank_Reconcile", "DailyBalances", new { @area = "Reports" })?Bank_Acc_ID=" + encodeURIComponent(bankid) + "&XDate=" + encodeURIComponent(Txndate) + "&Balance=" + encodeURIComponent(lblTxnBalance), function () {
            HideLoader();
        });
            }

</script>
