<div class="GroupReg_MngPriv_ExportOptions_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    <div>
        @*@(Html.DevExtreme().Button()
                                    .ID("ManagPrivileges_ExportGridDatapdf")
                                    .Text("Export to PDF")
                                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                                    //.AccessKey("x")
                                    .OnClick("ExportPDF")
                                    .Visible(true)
                                  .Width(135)
        )<br />

            @(Html.DevExtreme().Button()
                                    .ID("ManagPrivileges_ExportGridDataxls")
                                    .Text("Export to XLS")
                                    //.Icon("fa-file-excel-o")
                                    //.AccessKey("X")
                                    .OnClick("ExportXLS")
                                    .Visible(true)
                                  .Width(135)
        )<br />
            @(Html.DevExtreme().Button()
                                    .ID("ManagPrivileges_ExportGridDataxlsx")
                                    .Text("Export to XLSX")
                                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                                    //.AccessKey("L")
                                    .OnClick("ExportXLSX")
                                    .Visible(true)
                                   .Width(135)
        )<br />

            @(Html.DevExtreme().Button()
                                    .ID("ManagPrivileges_ExportGridDatadocx")
                                    .Text("Export to DOCX")
                                    //.Icon("export_exporttodocx_16x16office2013")
                                    //.AccessKey("D")
                                    .OnClick("ExportDOCX")
                                    .Visible(true)
                                 .Width(135)
        )<br />

            @(Html.DevExtreme().Button()
                                    .ID("ManagPrivileges_ExportGridDatartf")
                                    .Text("Export to RTF")
                                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                                    //.AccessKey("R")
                                    .OnClick("ExportRTF")
                                    .Visible(true)
                                    .Width(135)
        )<br />

            @(Html.DevExtreme().Button()
                                    .ID("ManagPrivileges_ExportGridDatacsv")
                                    .Text("Export to CSV")
                                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                                    //.AccessKey("C")
                                    .OnClick("ExportCSV")
                                    .Visible(true)
                                     .Width(135)
        )*@
        @(Html.DevExtreme().Button()
                                .ID("ManagPrivileges_ExportGridDataxlsx")
                                .Text("Export to XLSX")
                                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                                //.AccessKey("L")
                                .OnClick("ExportXLSX_dx")
                                .Visible(true)
                               .Width(135)
    )
    </div>
    <script>
        function ExportPDF() {
            GroupRegister_ManagPrivileges_Grid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#ManagPrivileges_report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            GroupRegister_ManagPrivileges_Grid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#ManagPrivileges_report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            GroupRegister_ManagPrivileges_Grid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#ManagPrivileges_report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            GroupRegister_ManagPrivileges_Grid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#ManagPrivileges_report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            GroupRegister_ManagPrivileges_Grid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#ManagPrivileges_report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            GroupRegister_ManagPrivileges_Grid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#ManagPrivileges_report_modal").dxPopup("hide");
        }
        function ExportXLSX_dx() {
            const workbook = new ExcelJS.Workbook();
            const worksheet = workbook.addWorksheet('Sheet');

            DevExpress.excelExporter.exportDataGrid({
                worksheet: worksheet,
                component: $("#GroupRegister_ManagPrivileges_Grid_dx").dxDataGrid("instance"),
                autoFilterEnabled: true,
                customizeCell({ excelCell, gridCell }) {
                    if (gridCell.rowType === 'header') {
                        const columnDataField = gridCell.column.dataField;
                        if (columnDataField === 'iIcon') {
                            const Column = worksheet.getColumn(excelCell.col);
                            Column.width = 20;
                        }
                    }
                }
            }).then(function (exportRange) {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'GroupRegister_ManagPrivileges_Grid_dx.xlsx');
                });
            });
            $("#UserRegister_report_modal").dxPopup("hide");
        }

    </script>
</div>