<div class="GroupRegInfo_ExportOptions_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    <div>
        @(Html.DevExtreme().Button()
                        .ID("GroupReg_ExportGridDatapdf")
                        .Text("Export to PDF")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        //.AccessKey("x")
                        .OnClick("ExportPDF")
                        .Visible(true)
                        .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                        .ID("GroupReg_ExportGridDataxls")
                        .Text("Export to XLS")
                        //.Icon("fa-file-excel-o")
                        //.AccessKey("X")
                        .OnClick("ExportXLS")
                        .Visible(true)
                        .Width(120)
    )<br />
        @(Html.DevExtreme().Button()
                        .ID("GroupReg_ExportGridDataxlsx")
                        .Text("Export to XLSX")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        //.AccessKey("L")
                        .OnClick("ExportXLSX")
                        .Visible(true)
                        .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                        .ID("GroupReg_ExportGridDatadocx")
                        .Text("Export to DOCX")
                        //.Icon("export_exporttodocx_16x16office2013")
                        //.AccessKey("D")
                        .OnClick("ExportDOCX")
                        .Visible(true)
                        .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                        .ID("GroupReg_ExportGridDatartf")
                        .Text("Export to RTF")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        //.AccessKey("R")
                        .OnClick("ExportRTF")
                        .Visible(true)
                        .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                        .ID("GroupReg_ExportGridDatacsv")
                        .Text("Export to CSV")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        //.AccessKey("C")
                        .OnClick("ExportCSV")
                        .Visible(true)
                        .Width(120)
    )
    </div>
    <script>
        function ExportPDF() {
            GroupRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
        function ExportXLS() {
            GroupRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
        function ExportXLSX() {
            GroupRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
        function ExportCSV() {
            GroupRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
        function ExportDOCX() {
            GroupRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
        function ExportRTF() {
            GroupRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
    </script>
</div>