<div class="GroupReg_MngPriv_AddUserOptions_ClearReferences">

    @model ConnectOneMVC.Areas.Options.Models.Model_AdUserPrivileges_Window
    @using DevExtreme.AspNet.Mvc;

    @{
        Layout = null;
    }
    @{
        bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "View" || Model.ActionMethod.ToString().Trim() == "Delete") ? true : false;
    }


    @{
        Html.EnableClientValidation();
        Html.AntiForgeryToken();
        Html.EnableUnobtrusiveJavaScript();
    }
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
    <style>
        .control-label {
            text-align: left !important;
        }

        .dx-texteditor-container {
            overflow: visible
        }

        #ListPrivilegAllowed .dx-list-item-content {
            padding: 3px;
        }
    </style>
    <div id="Frm_ManagPrivileges_AdUserPrivileges_Window_Content">
        @using (Ajax.BeginForm("Frm_ManagPrivileges_AdUserPrivileges", "GroupRegister",
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "Frm_ManagPrivileges_AdUserPrivileges",
            InsertionMode = InsertionMode.InsertAfter,
            OnBegin = "AjaxBeginFormPost",
            OnSuccess = "AdUserPrivilegesAjaxSuccessForm"
        },
        new
        {
            id = "AdUserPrivilegesvalidationForm",
            @class = "edit_form"
        }))
        {
            @Html.HiddenFor(x => x.ActionMethod);
            @Html.HiddenFor(x => x.ID);
            @Html.HiddenFor(x => x.AdUserPrivileges_PrivilegesAllowed);
            @Html.HiddenFor(x => x.AdUserPrivileges_UserName);
            @Html.HiddenFor(x => x.AdUserPrivileges_GroupName);
            @Html.HiddenFor(x => x.AdUserPrivileges_GroupID);
            @Html.HiddenFor(x => x.AdUserPrivileges_EntityScreenStr);
            @Html.HiddenFor(x => x.PopupID);


            var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();
            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="full-width-header">
                    <div class="row">
                        <div class="col-sm-8 pll">
                            <h3 class="popuphead" id="AddUserPrivi_Title"><i class="far fa-edit"></i>Add User Privileges</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                    </div>
                </div><!--[Title and Heading]-->

                <div class="row" id="ManagePrivileges_UserNameRow">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-2">
                                        @*@Html.LabelFor(model => model.AdUserPrivileges_UserID, htmlAttributes: new { @class = "control-label text-red", @id = "lbl_AdUserPrivileges_UserID" })*@
                                        <label class="control-label font-italic text-red" id="AdUserPrivileges_UserName_lbl">User:</label>
                                    </div>
                                    <div class="col-sm-10 plm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <label class="control-label font-italic" id="AdUserPrivileges_UserName">@Model.AdUserPrivileges_UserName</label>
                                                @*@(Html.DevExtreme().DropDownBox().CustomDropDown().ID("AdUserPrivileges_UserID").Name("AdUserPrivileges_UserID").HoverStateEnabled(true).Value(Model.AdUserPrivileges_UserID).DisplayExpr("UserName").ValueExpr("ID")
                                                            .OnInitialized("AdUserPrivileges_UserIDIntialise").DataSource(d => d.Mvc().Controller("GroupRegister").LoadAction("ManPri_User_Dropdown").Key("ID").LoadParams(new { AllUser = new JS("function (){ return ManpriAlluser;}") })).Placeholder("Please select User Name").ElementAttr(new Dictionary<string, object>
                                                                () { { "class", "dx-texteditor-input appear" } })
                                                                .Disabled(IsVisible).OnValueChanged("User_Dropdownvaluechange").ContentTemplate(@<text> @Html.Partial("ManPri_User_Dropdown") </text>))
                                                    @Html.ValidationMessageFor(model => model.AdUserPrivileges_UserID, "", new { @class = "text-red " })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[AdUserPrivileges_UserID]-->

                <div class="row" id="ManagePrivileges_GroupNameRow">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label class="control-label font-italic text-red" id="AdUserPrivileges_GroupName_lbl">Group Name:</label>
                                        @*@Html.LabelFor(model => model.AdUserPrivileges_GroupID, htmlAttributes: new { @class = "control-label text-red", @id = "lbl_AdUserPrivileges_GroupID" })*@
                                    </div>
                                    <div class="col-sm-10 plm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <label class="control-label font-italic" id="AdUserPrivileges_GroupName">
                                                    @Model.AdUserPrivileges_GroupName
                                                </label>
                                                @*@(Html.DevExtreme().DropDownBox().CustomDropDown().ID("AdUserPrivileges_GroupID").Name("AdUserPrivileges_GroupID").HoverStateEnabled(true).Value(Model.AdUserPrivileges_GroupID).DisplayExpr("Group_Name").ValueExpr("ID")
                                                            .OnInitialized("AdUserPrivileges_GroupIDIntialise").DataSource(d => d.Mvc().Controller("GroupRegister").LoadAction("ManPri_Group_Dropdown").Key("ID")).Placeholder("Please select Group Name").ElementAttr(new Dictionary<string, object>
                                                                () { { "class", "dx-texteditor-input appear" } })
                                                                .Disabled(IsVisible).OnValueChanged("Group_Dropdownvaluechange").ContentTemplate(@<text> @Html.Partial("ManPri_Group_Dropdown") </text>))
                                                    @Html.ValidationMessageFor(model => model.AdUserPrivileges_GroupID, "", new { @class = "text-red " })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[AdUserPrivileges_GroupID]-->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.AdUserPrivileges_EntityScreenID, htmlAttributes: new { @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-10 plm">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("AdUserPrivileges_EntityScreenID").Name("AdUserPrivileges_EntityScreenID").HoverStateEnabled(true).DisplayExpr("TaskDisplayName").ValueExpr("TaskID")
                                                .DataSource(d => d.Mvc().Controller("GroupRegister").LoadAction("AdUserPrivileges_EntityScreen_Dropdown").Key("TaskID")).Placeholder("Please select Screen")
                                                .Disabled(IsVisible).OnValueChanged("EntityScreen_Dropdownvaluechange").ContentTemplate(@<text> @Html.Partial("AdUserPrivileges_EntityScreen_Dropdown",Model.ActionMethod) </text>))
                                        @Html.ValidationMessageFor(model => model.AdUserPrivileges_EntityScreenID, "", new { @class = "text-red " })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[AdUserPrivileges_EntityScreenID]-->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.AdUserPrivileges_PrivilegesAllowed, htmlAttributes: new { @class = "control-label text-red" })
                                    </div>
                                    <div class="col-sm-10 plm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div id="ManagPrivilegesLbl_Add" class="dx-texteditor-container multipleSelection">
                                                @(Html.DevExtreme().List().CustomList().ID("ListPrivilegAllowed").DataSource(d => d.Mvc().Controller("GroupRegister").LoadAction("LookUp_GetPrivilegesAllowedList").Key("Privilege_Code").LoadParams(new { Premesis = new JS("function (){}") })).SearchExpr(new[] { "Privilege_Value" })     //new { Premesis = new JS("function (){ return Privilege_Value +'|'+ Privilege_Code;@}") }
                                                 .Disabled(IsVisible).SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                                                 .OnInitialized("LoadPrivilegesAllowedSelection")
                                                 .ItemTemplate(@<text><%= Privilege_Value  %></text>)
                                                .OnSelectionChanged("OnPrivilegesListSelectionChanged")
                                                .Height(250)
                                                .ShowSelectionControls(true) )
                                                @Html.ValidationMessageFor(model => model.AdUserPrivileges_PrivilegesAllowed, "", new { @class = "text-red " })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[ListPrivilegAllowed]-->

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("AdUserPrivileges_Save").Text(Model.ActionMethod== "Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(true).Disabled(Model.ActionMethod == "Delete" ? false : IsVisible).Visible(Model.ActionMethod == "View" ? false : true))
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("AdUserPrivileges_Cancel").Text(Model.ActionMethod == "View" ? "Close" : "Cancel").FocusStateEnabled(true).OnClick(@<text> function () { close_AdUserPrivileges(); } </text>) )
                        </div>
                    </div>
                </div><!--[Buttons]-->
            }
        }
    </div>
    <script>
    //debugger;
    var Grouplistselectkey = [];
    var ManPri_AdUsrPri_Popid = $("#PopupID").val();
    var form = "AdUserPrivilegesvalidationForm";
    var AdUserPrivileges_EntityScreen_DG;//Redmine Bug #133097 fixed

    async function Refresh_AdUserPrivileges_EntityScreenID()
    {
        var $AdUserPrivileges_EntityScreen_DG = $("#AdUserPrivileges_EntityScreen_DataGrid");
        if ($AdUserPrivileges_EntityScreen_DG.length) {
            AdUserPrivileges_EntityScreen_DG = $AdUserPrivileges_EntityScreen_DG.dxDataGrid("instance");
           // await AdUserPrivileges_EntityScreen_DG.refresh();
        }
    }//Redmine Bug #133097 fixed


    var ManagePrivileges_UserName;
    $(document).ready(async function () {
        //debugger;
        ShowLoader_Ready();
        await Refresh_AdUserPrivileges_EntityScreenID();//Redmine Bug #133097 fixed
        if ("@Model.PopupID" == "Dynamic_Content_popup") {
            if ("@Model.ActionMethod" != "View") {
                dontaskpopupcloseconfirmation = false;
            }
            sessionclearpath = "/Options/GroupRegister/SessionClear_AddPrivileges";
        }
        var IsVisible = false;
        var AM = "@Model.ActionMethod.ToString()";
       //ShowLoader();
        AssignIDtoLabel(form, "UserPrivilege");
        IsVisible = (AM == "View") ? true : false;
        //if (IsVisible == true)
        //{
        //    //$("#ListPrivilegAllowed").dxList("instance").option("scrollingEnabled", true);
        //    //$("#ListPrivilegAllowed").dxList("instance").option("activeStateEnabled", false);
        //    //$("#ListPrivilegAllowed").dxList("instance").option("focusStateEnabled", false);
        //    //$("#ListPrivilegAllowed").dxList("instance").option("hoverStateEnabled", false);

        //    //$("#ListPrivilegAllowed").dxList("instance").option("scrollingEnabled", true);
        //    //$("#ListPrivilegAllowed").dxList("instance").option("activeStateEnabled", true);
        //    //$("#ListPrivilegAllowed").dxList("instance").option("focusStateEnabled", true);
        //    //$("#ListPrivilegAllowed").dxList("instance").option("hoverStateEnabled", true);
        //}
        if ("@Model.ActionMethod.ToString()" == "Edit")
        {
            $("#AdUserPrivileges_EntityScreenID").dxDropDownBox("instance").option("readOnly", true);
            //$("#AdUserPrivileges_UserID").dxDropDownBox("instance").option("readOnly", true);
            //$("#AdUserPrivileges_GroupID").dxDropDownBox("instance").option("readOnly", true); RK bhai commented this line.
        }
        var ManPri_AdUsrPri_Flag = "@ViewData["GroupRegisterUGFlag"]";
        if (ManPri_AdUsrPri_Flag == "User")
        {
            //$("#AdUserPrivileges_GroupID").dxDropDownBox("instance").option("readOnly", true);
            //$('#lbl_AdUserPrivileges_GroupID').removeClass("text-red").addClass("disabletxt");
        }
        if (ManPri_AdUsrPri_Flag == "Group")
        {
            //$("#AdUserPrivileges_UserID").dxDropDownBox("instance").option("readOnly", true);
            //$('#lbl_AdUserPrivileges_UserID').removeClass("text-red").addClass("disabletxt");
        }
        if ("@Model.ActionMethod.ToString()" != "New") {
            await AdUserPrivileges_EntityScreen_DG.selectRows((@Html.Raw(Json.Encode(Model.AdUserPrivileges_EntityScreenID)))[0], false);
            //await AdUserPrivileges_EntityScreen_DG.selectRows(parseInt("@Model.AdUserPrivileges_EntityScreenID"), false);//Redmine Bug #133097 fixed
        }
               //This code is added as part of the Add Privileges Button in the User Register and Group Register Screens.
        if ("@Model.AdUserPrivileges_GroupName".length <= 0 || "@Model.AdUserPrivileges_GroupName" == null) {
            $("#ManagePrivileges_GroupNameRow").hide();
            $("#AddUserPrivi_Title").text("Add User Privileges");
        }
        if ("@Model.AdUserPrivileges_UserName".length <= 0 || "@Model.AdUserPrivileges_GroupName" == null) {
            $("#ManagePrivileges_UserNameRow").hide();
            $("#AddUserPrivi_Title").text("Add Group Privileges");
        }

        $("#AdUserPrivileges_GroupID").val("@Model.AdUserPrivileges_GroupID");
        setTimeout(function ()
        {
            if ("@Model.ActionMethod" == "View")
            {
                Set_Form_View_Delete_Mode("#000080", form);
            }
            else if ("@Model.ActionMethod" == "Delete")
            {
                Set_Form_View_Delete_Mode("#696969", form);
            }
            else
            {
                Focus_FirstEditable_Field(form);
            }
            HideLoader_Ready();
        }, Timeout500);
    });

    function close_AdUserPrivileges()
    {
        dontaskpopupcloseconfirmation = false;
        $("#Dynamic_Content_popup").dxPopup("hide");
    }
    function AdUserPrivileges_UserIDIntialise(e) {
        e.component.option("dataSource").store.load().done(function (d) {
            e.component.option("value", "@Model.AdUserPrivileges_UserID");
        });
    }
    function AdUserPrivileges_GroupIDIntialise(e) {
        e.component.option("dataSource").store.load().done(function (d) {
            e.component.option("value", "@Model.AdUserPrivileges_GroupID");
        });
    }

    function User_Dropdownvaluechange(e) {
        e.component.close();
        var Userid = e.value;
        var $dataGrid = $("#ManPri_User_DataGrid");
        if ($dataGrid.length)
        {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0)
            {
                var item = dataGrid.getSelectedRowsData()[0];
                $("#AdUserPrivileges_UserName").val(item.UserName);
            }
        }
    }
    function Group_Dropdownvaluechange(e)
    {
        e.component.close();
        var groupid = e.value;
        if (groupid) {
            var $dataGrid = $("#ManPri_Group_DataGrid");
            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(e.value, false);
                if (dataGrid.getSelectedRowsData().length > 0) {

                    var item = dataGrid.getSelectedRowsData()[0];
                    $("#AdUserPrivileges_GroupName").val(item.Group_Name);
                }
            }
        }
        else
        {
            $("#AdUserPrivileges_GroupID").dxDropDownBox("instance").reset();
        }
    }
    function EntityScreen_Dropdownvaluechange(e)
    {
        if ("@Model.ActionMethod.ToString()" != "New")
        {
            e.component.close();
        }

        if (e.value == null || e.value.length <= 0) {
            $("#AdUserPrivileges_EntityScreen_DataGrid").dxDataGrid("instance").clearSelection();
        }

        if (e.value != null && e.value.length > 0) {
            $("#AdUserPrivileges_EntityScreenStr").val(e.value.toString());
            //$("#AdUserPrivileges_EntityScreenID").val(e.value);
        }
    }
    function AdUserPrivilegesAjaxSuccessForm(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, 'Error');
        }
        else {
            ////debugger;
            DevExpress.ui.dialog.alert(data.message, 'Success');

            @*var model_AddUsrPri_GroupID = "@Model.AdUserPrivileges_GroupID";
            var model_AddUsrPri_UserID = "@Model.AdUserPrivileges_UserID";
            var AddUsrPri_UserID = "@Model.AdUserPrivileges_UserID"; //$("#AdUserPrivileges_UserID").dxDropDownBox("instance").option("value");

            if (AddUsrPri_UserID) {
                if (AddUsrPri_UserID != model_AddUsrPri_UserID) {
                    $("#ManPri_UserID").dxDropDownBox("instance").option("value", $("#AdUserPrivileges_UserID").dxDropDownBox("instance").option("value"));
                }
            }
            var AddUsrPri_GroupID = "@Model.AdUserPrivileges_GroupID";  //$("#AdUserPrivileges_GroupID").dxDropDownBox("instance").option("value");
            if ((AddUsrPri_GroupID > 0) && (AddUsrPri_GroupID != model_AddUsrPri_GroupID)) {
                $("#ManPri_GroupID").dxDropDownBox("instance").option("value", $("#AdUserPrivileges_GroupID").dxDropDownBox("instance").option("value"));
            }*@
            dontaskpopupcloseconfirmation = true;

            $("#" + "@Model.PopupID").dxPopup("hide");
            if (typeof GroupRegister_ManagPrivileges_Grid !== 'undefined' && GroupRegister_ManagPrivileges_Grid != null) {
                GroupRegister_ManagPrivileges_Grid.SetFocusedRowIndex(-1);
                GroupRegister_ManagPrivileges_Grid.Refresh();
            }
            var GridInstance = $('#GroupRegister_ManagPrivileges_Grid_dx').data("dxDataGrid")
            if (GridInstance !== void 0) {
                GroupRegister_ManagPrivileges_Grid_dx_Refresh();
            }
            if (typeof GroupRegisterListGrid !== 'undefined' && GroupRegisterListGrid != null) {
                GroupRegisterListGrid.SetFocusedRowIndex(-1);
                GroupRegisterListGrid.Refresh();
            }
            if (typeof UserRegisterListGrid !== 'undefined' && UserRegisterListGrid != null) {
                UserRegisterListGrid.SetFocusedRowIndex(-1);
                UserRegisterListGrid.Refresh();
            }

            HideLoader();

        }
    }
    function LoadPrivilegesAllowedSelection()
    {
        var listBox = $("#ListPrivilegAllowed").dxList("instance");
        if ("@Model.ActionMethod"== "Edit" || "@Model.ActionMethod"== "View" || "@Model.ActionMethod"== "Delete")
        {
            Grouplistselectkey = "@Model.AdUserPrivileges_PrivilegesAllowed".split(',');
            for (var i = 0; i < Grouplistselectkey.length; i++)
            {
                Grouplistselectkey[i] = Grouplistselectkey[i].trim();
            }
            listBox.option("selectedItemKeys", Grouplistselectkey);
        }
    }// list initialize
    function OnPrivilegesListSelectionChanged(e)
    {
        var listBox = $("#ListPrivilegAllowed").dxList("instance");
        $("#AdUserPrivileges_PrivilegesAllowed").val(listBox.option("selectedItemKeys").join(","));
    }// List selection
    </script>
</div>