<div class="GroupReg_WinOptions_ClearReferences">

    @model ConnectOneMVC.Areas.Options.Models.Model_GroupRegister_Window
    @using DevExtreme.AspNet.Mvc;
    @{
        Layout = null;
    }

    @{
        bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "View" || Model.ActionMethod.ToString().Trim() == "Delete") ? true : false;
    }
    @{
        Html.EnableClientValidation();
        Html.AntiForgeryToken();
        Html.EnableUnobtrusiveJavaScript();
    }
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
    <style>
            /*.control-label {
            text-align: left !important;
        }

        .dx-button-has-text .dx-button-content {
            margin-right: 15px;
            padding: 2px 1px;
            min-width: 40px;
            padding-left: 19px;
        }

        .dx-texteditor-container {
            overflow: visible
        }*/
    </style>
    <div id="Frm_GroupRegister_Window_Content">
        @using (Ajax.BeginForm("Frm_GroupRegister_Window", "GroupRegister",
                                                  new AjaxOptions
                                                  {
                                                      HttpMethod = "POST",
                                                      UpdateTargetId = "Frm_GroupRegister_Window",
                                                      InsertionMode = InsertionMode.InsertAfter,
                                                      OnBegin = "AjaxBeginFormPost",
                                                      OnSuccess = String.Format("{0}", Model.PostSuccessFunction)
                                                  },
                                                  new
                                                  {
                                                      id = "GroupRegistervalidationForm",
                                                      @class = "edit_form"
                                                  }))
        {
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.ID)

            var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();
            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="full-width-header">
                    <div class="row">

                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i>New Group Creation </h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                    </div>
                </div><!--[row]-->

                <div class="row form-field">
                    <div class="col-sm-4 pll">
                        @Html.LabelFor(model => model.Grup_Register_GrupName, htmlAttributes: new { @class = "control-label text-red" })
                    </div>
                    <div class="col-sm-8 plm pll">
                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Grup_Register_GrupName").Name("Grup_Register_GrupName").Placeholder("Enter Group Name..")
                                                         .Value(Model.Grup_Register_GrupName).Disabled(IsVisible).ReadOnly(IsVisible)
                                                         .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).MaxLength(255) )
                        @Html.ValidationMessageFor(model => model.Grup_Register_GrupName, "", new { @class = "text-red " })

                    </div>
                </div><!--[Group Name]-->

                <div class="row form-field">
                    <div class="col-sm-4 pll">
                        @Html.LabelFor(model => model.Grup_Register_GrupDescription, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8 plm pll">
                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Grup_Register_GrupDescription").Name("Grup_Register_GrupDescription").Placeholder("Enter Group Description..")
                                                         .Value(Model.Grup_Register_GrupDescription).Disabled(IsVisible).ReadOnly(IsVisible)
                                                         .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).MaxLength(8000) )
                        @Html.ValidationMessageFor(model => model.Grup_Register_GrupDescription, "", new { @class = "text-red " })
                    </div>
                </div><!--[Group Description]-->

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("GroupRegisterNew_Save").Text(Model.ActionMethod == "Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(true).Visible(Model.ActionMethod == "View" ? false :true) )
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("GroupRegisterCancel").Text(Model.ActionMethod=="View"?"Close":"Cancel").FocusStateEnabled(true).OnClick(@<text> function () { close_GroupRegister(); } </text>) )
                        </div>
                    </div>
                </div><!--[Buttons]-->

            }
        }
    </div>
    <script>
    var form = "GroupRegistervalidationForm";
    $(document).ready(function ()
    {
        ShowLoader();
        AssignIDtoLabel(form, "GroupRegister");

        setTimeout(function ()
        {
            if ("@Model.ActionMethod" == "View")
            {
                Set_Form_View_Delete_Mode("#000080", form);
            }
            else if ("@Model.ActionMethod" == "Delete")
            {
                Set_Form_View_Delete_Mode("#696969", form);
            }
            else
            {
                Focus_FirstEditable_Field(form);
            }
            HideLoader();
        }, Timeout500);
    });
    function close_GroupRegister()
    {
        if ("@Model.PopupName" == "Dynamic_Content_popup") { dontaskpopupcloseconfirmation = false;}
        var popupnameid = "#" + "@Model.PopupName";
        $(popupnameid).dxPopup("hide");
    }

    function GroupRegisterAjaxSuccessForm(data) {
        if (data.result == "false") {
            DevExpress.ui.dialog.alert(data.message, 'Error');
        }
        else
        {
            DevExpress.ui.dialog.alert(data.message, 'Success');
            $("#Dynamic_Content_popup").dxPopup("hide");
            GroupRegisterListGrid.SetFocusedRowIndex(-1);
            GroupRegisterListGrid.Refresh();
        }
    }
    </script>
</div>