@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Magazine.Models.MagazineReciptRegInfo
<style>
    .Rcancel_data {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }

        .Rcancel_data label {
            color: #800000 !important;
        }
    #result_PopUp_CancelReciept
    {
        background-color: #f5feff;
    }
    .receipt_cancel_btns
    {
        height: 36px;
        padding: 4px 0px;
    }
</style>
<div>
    <div class="full-width-header-bg4">
        <div class="row">
            <div class="col-sm-8 pll">
                <h3 class="popuphead"><i class="far fa-edit"></i>Membership Receipt Cancellation</h3>
            </div>
        </div>
    </div>
    <div class="Rcancel_data form-field">
        <label id="xName_cnl">@(Model.xTemp0)</label>
    </div>
    <div class="Rcancel_data form-field">
        <label id="xWing_cnl">@(Model.xTemp_4)</label>
    </div>
    <div class="Rcancel_data form-field">
        <label id="xMemNo_cnl">@(Model.xTemp_1)</label>
    </div>
    @*<div class="Rcancel_data form-field">
            <label id="xCenName_cnl"></label>
        </div>
        <div class="Rcancel_data form-field">
            <label id="xCenUID_cnl"></label>
        </div>*@
    <div class="row">
        <div class="col-md-6 Rcancel_data form-field">
            <label id="xRptNo_cnl">@(Model.xTemp_5)</label>
        </div>
        <div class="col-md-6 Rcancel_data form-field">
            <label id="xRptDt_cnl">@(Model.xTemp_6)</label>
        </div>
    </div>
    <div>
        <div class="form-field">
            <div class="row">
                <div class="col-md-1">
                    @Html.Label("Reason:", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-11">
                    @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                           .ID("IDReason")
                                           .Name("IDReason")
                                           .MaxLength(70)
                                )
                    @*@Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="receipt_cancel_btns">
                <div class="action-btn-wrap ">
                    @(Html.DevExtreme().Button().CustomCloseButton()
                             .ID("Cancel_Btn")
                             .Text("Close")
                             .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")
                             .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                             .FocusStateEnabled(true)
                             .OnClick(@<text> function() { toCancel(); } </text>)
                              )
                </div>
                <div class="action-btn-sec-wrap">
                    @(Html.DevExtreme().Button().CustomSaveButton()
                                                 .ID("Frm_Receipt_Cancel")
                                                 .Text("Apply")
                                                 .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                                                 .ElementAttr("style", "float:right;margin-top:0px")
                                                 .OnClick(@<text> function() { toApplyForCanceReceipt("@Model.xTemp_7"); }  </text>)
                                                 .UseSubmitBehavior(true)
                    )
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        setTimeout(function () {
            $("#IDReason").dxTextBox('instance').focus();
        }, Timeout500);
    });
    //function Frm_Membership_Receipt_Cancel_AjaxSuccessForm(data) {
    //    HideLoader();
    //    if (data.jsonParam.result == false) {
    //        dontaskpopupcloseconfirmation = true;
    //        $("#Dynamic_Content_popup").dxPopup("hide");
    //        if (data.jsonParam.refreshgrid) {
    //            RefreshGridView("MagazineReceiRegListGrid");
    //        }
    //        var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
    //        alertclick.done(function (alertResult) {
    //            if (alertResult) {
    //                if (data.jsonParam.focusid) {
    //                    var id = "#" + data.jsonParam.focusid;
    //                    setTimeout(function () {
    //                        $(id).find('input').focus();
    //                    }, 500);
    //                }
    //            }
    //        });
    //    }
    //    else if (data.jsonParam.result == true) {
    //        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
    //        $("#Dynamic_Content_popup").dxPopup("hide");
    //        RefreshGridView("MagazineReceiRegListGrid");
    //    }
    //}
</script>
@*<div>Membership Receipt Cancellation</div>
    <div><span>@(Model.xTemp0)</span></div>
    <div>
        <span>@(Model.xTemp_4)</span>
    </div>
    <div>
        <span>@(Model.xTemp_1)</span>
    </div>
    <div>
        <span>
            @(Model.xTemp_5)
        </span><spna>
        @(Model.xTemp_6)
        </spna>
    </div>
    <div>
        @(Html.DevExtreme().TextBox().ID("IDReason"))
    </div>
    <div>
       @(Html.DevExtreme().Button().ID("IDApply").Text("Apply").OnClick(@<text> function() { toApplyForCanceReceipt("@Model.xTemp_7"); }  </text>))
        @(Html.DevExtreme().Button().ID("IDCancel").Text("Cance").OnClick(@<text> function() { toCancel(); } </text>))
    </div>*@