@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Magazine.Models.PaymentDetails_Model
 @{ 
     ViewBag.Test = Model.ActionMethod;
     bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View") ? true : false;
 }
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .d-inline-block {
        display: inline-block;
    }

    .radioButtonDiv {
        border: 1px solid #2b94ef;
        padding: 2px 9px;
        max-width: 113px;
        background: #fff;
    }

    .name_text {
        color: #800000;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    #cheqdate {
        display: none;
    }
    #dddate {
        display: none;
    }
    #cheqNo {
        display: none;
    }
    #ddNo {
        display: none;
    } .margB10 {
        margin-bottom: 10px !important;
    }
    #Txt_Ref_No {
        text-transform: uppercase;
    }
    #Txt_Ref_Branch {
        text-transform: uppercase;
    }

</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="Frm_Payment_Window_popup" class="col-md-12">

    @using (Ajax.BeginForm("Frm_Voucher_Magazine_Membership_Payment", "MagazineReceiptRegister",
                                                        new AjaxOptions
                                                        {
                                                            HttpMethod = "POST",
                                                            UpdateTargetId = "Frm_Payment_Window_popup",
                                                            InsertionMode = InsertionMode.InsertAfter,
                                                            OnBegin = "AjaxBeginFormPost",
                                                            OnSuccess = "Frm_Payment_Window_OnSuccess"
                                                        },
                                                        new
                                                        {
                                                            id = "ID_Frm_Payment_Window",
                                                            @class = "edit_form"
                                                        }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.RefBank_Name)
        @Html.HiddenFor(x => x.BE_Bank_ID)
        @Html.HiddenFor(x => x.Sr)

        <div class="full-width-header-bg3">
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="popuphead"><i class="far fa-edit"></i> Payment Details</h3>
                </div>
                <div class="col-sm-4 prm">
                    <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                </div>
            </div>

        </div><!--[row]-->
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 pll">
                            <label class="control-label text-red" for="user">Made of Payment:</label>
                            @(Html.DevExtreme().SelectBox()
                                            .ID("Cmd_Mode")
                                            .Name("Cmd_Mode")
                                            .DataSource(new[] { "CASH", "CHEQUE", "DD", "CBS", "RTGS", "NEFT", "ECS", "BANK ACCOUNT", "MO", "EMO", "DISCOUNT", "WRITTEN OFF" })
                                            .Value(Model.Cmd_Mode)
                                            //.SearchEnabled(true)
                                            .OnValueChanged("Cmd_Mode_SelectedIndexChanged")
                                            .ReadOnly(IsVisible)
                                            .Disabled(IsVisible)
                            )
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 pll">
                            <label class="control-label text-red" for="user">Amount:</label>
                            @(Html.DevExtreme().NumberBox()
                         .Format("#,##0.00")
                         .ID("Txt_Amount")
                         .Name("Txt_Amount")
                         .Value(Model.Txt_Amount)
                         .ReadOnly(IsVisible)
                         .Disabled(IsVisible)
                         .Placeholder("0.00")
                            )
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-field paddR8">
                    <div class="container-fluid">
                        <div class="col-sm-12 pll">
                            <label class="control-label text-red" for="user">Payment Date:</label>
                            @(Html.DevExtreme().DateBoxFor(m => m.Txt_Pmt_Date)
                                     .ID("Txt_Pmt_Date")
                                     .Name("Txt_Pmt_Date")
                                     .Type(DateBoxType.Date)
                                     .Placeholder("M/dd/yyyy")
                                     .ReadOnly(IsVisible)
                                     .Disabled(IsVisible)
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 pll">
                                <label class="control-label fs15 fw-600 margB5">
                                    Reference Details:
                                    <div class="line"></div>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 pll"><label id="bankname" class="control-label margB0" for="user">Bank Name:</label></div>
                            <div class="col-sm-10 col-md-10 col-lg-10 prm pll2">
                                @(Html.DevExtreme().DropDownBox()
                                  .ID("Ref_Bank_Name")
                                  .Name("Ref_Bank_Name")
                                  .HoverStateEnabled(true)
                                  .Value(Model.Ref_Bank_Name)
                                  .ValueExpr("BI_ID")
                                  .DisplayExpr("BI_BANK_NAME")
                                  .DataSource(d => d.Mvc().Controller("MagazineReceiptRegister").LoadAction("GLookUp_RefBankList").Key("BI_ID"))
                                  .ShowClearButton(true)
                                  .ReadOnly(IsVisible)
                                  .Disabled(IsVisible)
                                  .OnValueChanged("GLookUp_RefBankList_ChangeEvent")
                                  .OnInitialized("onInitialized_RefBankList")
                                  .ContentTemplate(@<text>
                                                        @Html.Partial("GLookUp_RefBankList")
                                                    </text>)
                                )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label id="branchname" class="control-label margB0" for="user">Branch Name:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">

                                        @(Html.DevExtreme().TextBox()
                                             .ID("Txt_Ref_Branch")
                                             .Name("Txt_Ref_Branch")
                                             .Value(Model.Txt_Ref_Branch)
                                             .ReadOnly(IsVisible)
                                             .Disabled(IsVisible)
                                        )
                                    </div>
                                </div>
                            </div><!--[1]-->
                            <div class="col-sm-6 col-md-6 col-lg-6">

                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll mb_txt_left">
                                        <label id="refdate" class="control-label margB0" for="user">Date:</label>
                                        <label id="cheqdate" class="control-label margB0" for="user">Cheque Date:</label>
                                        <label id="dddate" class="control-label margB0" for="user">D.D.Date:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        @(Html.DevExtreme().DateBoxFor(m => m.Txt_Ref_Date)
                                        .ID("Txt_Ref_Date")
                                        .Name("Txt_Ref_Date")
                                        .Type(DateBoxType.Date)
                                        .Placeholder("M/dd/yyyy")
                                        .ReadOnly(IsVisible)
                                        .Disabled(IsVisible)
                                        )
                                    </div>
                                </div>
                            </div><!--[2]-->
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label id="refclDate" class="control-label margB0" for="user">Clearing Date:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                                        @(Html.DevExtreme().DateBoxFor(m => m.Txt_Ref_CDate)
                                        .ID("Txt_Ref_CDate")
                                        .Name("Txt_Ref_CDate")
                                        .Type(DateBoxType.Date)
                                        .Placeholder("M/dd/yyyy")
                                        .ReadOnly(IsVisible)
                                        .Disabled(IsVisible)
                                        )
                                    </div>
                                </div>
                            </div><!--[1]-->
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll mb_txt_left">
                                        <label id="refNo" class="control-label margB0" for="user">Ref. No.:</label>
                                        <label id="ddNo" class="control-label margB0" for="user">D.D. No.:</label>
                                        <label id="cheqNo" class="control-label margB0" for="user">Cheque No.::</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        @(Html.DevExtreme().TextBox()
                                             .ID("Txt_Ref_No")
                                             .Name("Txt_Ref_No")
                                             .Value(Model.Txt_Ref_No)
                                             .ReadOnly(IsVisible)
                                             .Disabled(IsVisible)
                                             .MaxLength(25)
                                        )
                                    </div>
                                </div>
                            </div><!--[2]-->
                        </div>
                    </div>
                </div>
            </div><!--[]-->
        </div><!--[row]-->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 pll">
                                <label class="control-label fs15 fw-600 margB5">
                                    Deposited Bank Details:
                                    <div class="line"></div>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 pll"><label id="be_bankname" class="control-label margB0" for="user">Bank Name:</label></div>
                            <div class="col-sm-10 col-md-10 col-lg-10 prm pll2">
                                @(Html.DevExtreme().DropDownBox()
                                         .ID("BE_Bank_Name")
                                         .Name("BE_Bank_Name")
                                         .HoverStateEnabled(true)
                                         .Value(Model.BE_Bank_Name)
                                         .ValueExpr("BANK_ID")
                                         .DisplayExpr("BI_BANK_NAME")
                                         .DataSource(d => d.Mvc().Controller("MagazineReceiptRegister").LoadAction("GLookUp_BankList").Key("BANK_ID"))
                                         .ShowClearButton(true)
                                         .ReadOnly(IsVisible)
                                         .Disabled(IsVisible)
                                         .OnValueChanged("GLookUp_BankList_ChangeEvent")
                                         .ContentTemplate(@<text>
                                                                @Html.Partial("GLookUp_BankList")
                                                            </text>)
                                )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label margB0" for="user">Branch Name:</label></div>
                            <div class="col-sm-10 col-md-10 col-lg-10 prm pll2">

                                @(Html.DevExtreme().TextBox()
                                     .ID("BE_Bank_Branch")
                                     .Name("BE_Bank_Branch")
                                     .Value(Model.BE_Bank_Branch)
                                     .ReadOnly(IsVisible)
                                     .Disabled(IsVisible)
                                )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label margB0" for="user">A/c. No.:</label></div>
                            <div class="col-sm-10 col-md-10 col-lg-10 prm pll2">
                                @(Html.DevExtreme().TextBox()
                                    .ID("BE_Bank_Acc_No")
                                    .Name("BE_Bank_Acc_No")
                                    .Value(Model.BE_Bank_Acc_No)
                                    .ReadOnly(IsVisible)
                                    .Disabled(IsVisible)
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[]-->
        </div><!--[row]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label opacityClass colorlighrBlue" for="user">Purpose:</label></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm">
                            @(Html.DevExtreme().DropDownBox()
                       .ID("BE_Purpose")
                       .Name("BE_Purpose")
                       //.HoverStateEnabled(true)
                       .Value(Model.BE_Purpose)
                       .ValueExpr("PUR_ID")
                       .DisplayExpr("PUR_NAME")
                       .DataSource(d => d.Mvc().Controller("MagazineReceiptRegister").LoadAction("GLookUp_PurList").Key("PUR_ID"))
                       .ShowClearButton(true)
                       .ReadOnly(true)
                       .Disabled(true)
                       .OnValueChanged("GLookUp_PurList_ChangeEvent")
                       .ContentTemplate(@<text>
                                        @Html.Partial("GLookUp_PurList")
                                    </text>)
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[row]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Narration:</label></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm">

                            @(Html.DevExtreme().TextBox()
                             .ID("Txt_Narration")
                             .Name("Txt_Narration")
                             .Value(Model.Txt_Narration)
                             .Placeholder("Type any Other Detail / Remarks...")
                             .ReadOnly(IsVisible)
                             .Disabled(IsVisible)
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[row]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Reference:</label></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm">
                            @(Html.DevExtreme().TextBox()
                                .ID("Txt_Reference")
                                .Name("Txt_Reference")
                                .Value(Model.Txt_Reference)
                                .Placeholder("Type any Other Detail / Remarks...")
                                .ReadOnly(IsVisible)
                                .Disabled(IsVisible)
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[row]-->
        <div class="row">
            <div class="form-field wbg brd-bot-none">
                <div class="col-sm-8 col-lg-8 col-xs-12">
                    <div class="form-field wbg brd-bot-none brd-none" style="padding-top:0px !important; padding-left:0px !important;">
                        <div class="container-fluid">
                            <div class="send_message">
                                <img src="/Content/image/send-icon.png" class="madhuban-req">
                                Send Your Request to Madhuban
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12 paddR4">
                    @if (Model.ActionMethod.ToString().Trim() == "_View")
                    {
                         <div class="action-btn-wrap">
                             <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                 @(Html.DevExtreme().Button()
                           .Text("Close")
                           .ID("PaymentDetail_Cancle")
                           .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")
                           .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                           .FocusStateEnabled(true)
                           .OnClick(@<text>
                             function () {
                             $("#Frm_Pay_Popup").dxPopup("hide");
                             }
                         </text>)
                                 )
                             </div><!--[button]-->

                         </div>
                    }
                    @if (Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit")
                    {
                          <div class="action-btn-wrap">
                              <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                  @(Html.DevExtreme().Button()
                            .Text("Cancel")
                            .ID("PaymentDetail_Cancle")
                            .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")
                            .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                            .FocusStateEnabled(true)
                            .OnClick(@<text>
                              function () {
                              $("#Frm_Pay_Popup").dxPopup("hide");
                              }
                          </text>)
                                  )
                              </div><!--[button]-->

                          </div>

                          <div class="action-btn-sec-wrap">
                              <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                  @(Html.DevExtreme().Button()
                            .Text("Save")
                            .ID("PaymentDetail_Save")
                            .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                            .ElementAttr("style", "float:right;margin-top:0px")
                            .FocusStateEnabled(true)
                            .UseSubmitBehavior(true)
                                  )
                              </div><!--[button]-->
                          </div>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>

    }
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        var pcat = $("#Cmd_Mode").dxSelectBox("instance").option("value");
            $("#Cmd_Mode").dxSelectBox("instance").option("value", "");
            $("#Cmd_Mode").dxSelectBox("instance").option("value", pcat);
    });
    function Cmd_Mode_SelectedIndexChanged(e) {
        if (e.value == "CASH" || e.value == "WRITTEN OFF" ||e.value == "DISCOUNT" ||e.value == "EMO" ||e.value == "MO" )
        {
            $("#Ref_Bank_Name").dxDropDownBox({ disabled: true });
            $("#Txt_Ref_Branch").dxTextBox({ disabled: true });
            $("#Txt_Ref_Date").dxDateBox({ disabled: true });
            $("#Txt_Ref_CDate").dxDateBox({ disabled: true });
            $("#Txt_Ref_No").dxTextBox({ disabled: true });
            $("#BE_Bank_Name").dxDropDownBox({ disabled: true });
            $("#BE_Bank_Branch").dxTextBox({ disabled: true });
            $("#BE_Bank_Acc_No").dxTextBox({ disabled: true });
            $("#BE_Purpose").dxDropDownBox({ disabled: true });
            $("#refdate").show();
            $("#cheqdate").hide();
            $("#dddate").hide();
            $("#refNo").show();
            $("#ddNo").hide();
            $("#cheqNo").hide();
        }
        else if (e.value == "CHEQUE" || e.value == "DD" || e.value == "ECS" || e.value == "NEFT" || e.value == "RTGS" || e.value == "CBS")
        {
            $("#Ref_Bank_Name").dxDropDownBox({ disabled: false });
            $("#Txt_Ref_Branch").dxTextBox({ disabled: false });
            $("#Txt_Ref_Date").dxDateBox({ disabled: false });
            $("#Txt_Ref_CDate").dxDateBox({ disabled: false });
            $("#Txt_Ref_No").dxTextBox({ disabled: false });
            $("#BE_Bank_Name").dxDropDownBox({ disabled: true });
            $("#BE_Bank_Branch").dxTextBox({ disabled: true });
            $("#BE_Bank_Acc_No").dxTextBox({ disabled: true });
            $("#BE_Purpose").dxDropDownBox({ disabled: true });
            $('#bankname').css("color", "red");
            $('#branchname').css("color", "red");
            $('#refdate').css("color", "red");
           // $('#refclDate').css("color", "red");
            $('#refNo').css("color", "red");
            $('#be_bankname').css("color", "red");
            if(e.value == "CHEQUE")
            {
                $("#refdate").hide();
                $("#cheqdate").show();
                $("#dddate").hide();
                $("#refNo").hide();
                $("#ddNo").hide();
                $("#cheqNo").show();
                $('#cheqdate').css("color", "red");
                $('#cheqNo').css("color", "red");
            }
            else if(e.value =="DD")
            {
                $("#refdate").hide();
                $("#cheqdate").hide();
                $("#dddate").show();
                $("#refNo").hide();
                $("#ddNo").show();
                $("#cheqNo").hide();
                $('#dddate').css("color", "red");
                $('#ddNo').css("color", "red");
            }
            else if(e.value == "CBS")
            {
                $("#refdate").show();
                $("#cheqdate").hide();
                $("#dddate").hide();
                $("#refNo").show();
                $("#ddNo").hide();
                $("#cheqNo").hide();
                
            }
        }
       
    }
    function GLookUp_PurList_ChangeEvent(e)
    {
        var dropDownBox = $("#BE_Purpose").dxDropDownBox("instance");
        dropDownBox.close();
    }
    function onInitialized_RefBankList(e) {
        debugger
        e.component.option("dataSource").store.load().done(function (d) {
            if (d.length == 1)
                e.component.option("value", d[0].BI_BANK_NAME);
        });
    }
    function GLookUp_RefBankList_ChangeEvent(e) {
        debugger
        var dropDownBox = $("#Ref_Bank_Name").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#Frm_Payment_Win_GLookUp_RefBankList_datagrid");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                $("#RefBank_Name").val(item.BI_BANK_NAME);
            }
        }
    }
    function GLookUp_BankList_ChangeEvent(e)
    {
        var dropDownBox = $("#BE_Bank_Name").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#Frm_Payment_Win_GLookUp_BankList_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                $("#BE_Bank_Branch").dxTextBox("instance").option("value", item["BANK_BRANCH"]);
                $("#BE_Bank_Acc_No").dxTextBox("instance").option("value", item["BANK_ACC_NO"]);
            }
        }

    }
</script>



