@using DevExtreme.AspNet.Mvc;
@model IEnumerable<dynamic>
@{ var PopupID = ViewBag.PopupID;}
<style>
    .cb-txt-align {
        text-align: right;
        color: #000080;
        margin: 5px 0 0 0px;
        display: inline;
    }
    .MagazineRR_Cancellation_form
    {
        height:400px;
        overflow-y:scroll;
    }
    .MagazineRR_Cancellation_tbtns
    {
        display: flex;
        justify-content: right;
        margin-right: 0px;
        position: relative;
        right: 15px;
    }
    #MagazineRR_ListPreview .dx-button-text
    {
        padding-left: 15px;
    }
</style>
<div id="MembershipRRSummary_Form">
    <div class="full-width-header-bg2">
        <div class="row">
            <div class="col-sm-8 pll">
                <h3 class="popuphead pll">  Cancelled Receipts</h3>
            </div>
            <div class="col-sm-4 prm MagazineRR_Cancellation_tbtns">
                <div class="float-left">
                    @(Html.DevExtreme().Button().ID("MagazineRR_ListPreview").Text("List Preview").Icon("fa fa-print fa-w-16 btn-icons crossgrey").OnClick("OnCancelledListPreviewClick") )
                </div>
                <div class="">
                    @(Html.DevExtreme().Button().ID("MagazineRR_Close").Text("Close").Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey").OnClick("CloseSummary") )
                </div>
                @*<h5 class="cb-txt-align">Test</h5>*@
            </div>
        </div>
    </div><!--[Header]-->
    <div class="row">
        <div class="col-md-12 padding15 ">
            <div id="MagazineRR_Cancellation" class="parent_table">
                <form class="MagazineRR_Cancellation_form">
                    @Html.Partial("Frm_CancelledList_Info_Grid", Model)
                </form>
            </div>
        </div>
    </div><!--[Grid]-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                </div>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().ID("MRR_Close").Text("Close").Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey").OnClick("CloseSummary") )

                    </div>
                </div>
            </div>
        </div>
    </div><!--[Buttons]-->
</div>
<script>
    function CloseSummary(e)
    {
        HidePopup("@PopupID");
    }
    //Export Cancelled list data
    function OnCancelledListPreviewClick()
    {
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/Frm_CancelledList_Export_Options",
            cache: false,
            success: function (data) {
                OpenPopup("MagazineReceiptReg_report_modal", "", null, "auto", 1024, true, data);
            }
        });
        @*$("#MagazineReceiptReg_report_modal").dxPopup("show");
        $("#MagazineReceiptReg_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#MagazineReceiptReg_report_modal").html('');
        ShowLoader();
        $("#MagazineReceiptReg_report_modal_result").load("@Url.Action("Frm_CancelledList_Export_Options", "MagazineReceiptRegister", new { @area = "Magazine" })", function () {
            HideLoader();
        });*@
    }
</script>
