@using DevExtreme.AspNet.Mvc;

@model IEnumerable<dynamic>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div id="content" class="col-md-12 report_header_div_main">
    <div class="row  buttonsRow">
        <div class="col-xs-12 col-sm-12 col-md-5 ">
            <h3 class="" style="font-size:15px !important;margin-top: 3px;"> @ViewBag.Txt_Title_Text</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 prm">
            <div class="buttonfloatR">
                @*<div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                    @(Html.DevExtreme().Button()
                            .ID("RelatedRenew")
                            .Text("Renew")
                            .Icon("save")
                            .Width(75)
                            .OnClick(@<text>
                                function () {
                                RenewClick();
                                }
                            </text>)
                    )
                </div>*@
            </div>
            <div class="buttonfloatR">
                @*<div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                    @(Html.DevExtreme().Button()
                                .ID("RelatedSummary")
                               .Text("Summary")
                               .Icon("save")
                                .Width(75)
                                .OnClick(@<text>
                                    function () {
                                  SummaryClick();
                                    }
                                </text>)
                    )
                </div>*@
            </div>
            <div class="buttonfloatR">
                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                    @(Html.DevExtreme().Button()
                                    .ID("RelatedDelete")
                                    .Text("Delete")
                                    .Icon("trash")
                                    .Width(75)
                                    .OnClick(@<text>
                                        function () {
                                        DeleteAll();
                                        }
                                    </text>)
                    )
                </div>
            </div>
            <div class="buttonfloatR">
                @*<div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                    @(Html.DevExtreme().Button()
                                        .ID("RelatedListPreview")
                                        .Text("Export")
                                        .Icon("save")
                                        .Width(75)
                                        .OnClick(@<text>
                                            function () {
                                            RelatedListPreviewClick();
                                            }
                                        </text>)
                    )
                </div>*@
            </div>
            <div class="buttonfloatR">
                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">

                    @(Html.DevExtreme().Button()
                                                       .ID("LedgerCLOSE")
                                                       .Text("Close")
                                                       .Icon("clear")
                                                       .OnClick(@<text>
                                                        function () {
                                                        OnMagRegClose();
                                                        }
                                                    </text>)

                    )

                </div>
            </div>
        </div>

    </div>
   
    @*Buttons*@
    <div class="report_button_div">

    </div>
</div>
<div class="col-md-12 no-padding">
    <form>
        <div id="LedgerPartialView" class="parent_table">
            @Html.Partial("Frm_Related_Info_Grid", Model)
        </div>
    </form>
</div>


<script>
    var IsAllDetailExpanded = false;
    $(document).ready(function () {


    });
    function OnMagRegClose()
    {
        $("#popup_frm_Box").dxPopup("hide");
    }
    function OnMagazineRegPreviewClick()
    {
        $("#MagazineReg_report_modal").dxPopup("show");
        $("#MagazineReg_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#MagazineReg_report_modal").html('');
        ShowLoader();
        $("#MagazineReg_report_modal_result").load("@Url.Action("Frm_Ledger_Export_Options", "MagazineReceiptRegister", new { @area = "Magazine" })", function () {
            HideLoader();
        });
    }
    function CollapseDonationRow(s, e)
    { IsAllDetailExpanded = false; }
    function ExpandDonationRow(s, e)
    { IsAllDetailExpanded = true; }

    function RelatedOnInit(s, e) {
        RelatedAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            RelatedAdjustSize();
        });
    }
    function OnEndCallback(s, e) {
        RelatedAdjustSize();
    }
    function RelatedAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        RelatedListGrid.SetHeight(height);
    }

    var MembershipId;
    var MemberName;
    var ID;

    function RelatedFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'MembershipId;MemberName;ID', RelatedOnGetRowValues);
    }

    //function DispatchGridFocusedRowChanged(s, e) {
    //    alert("hi");
    //    s.GetRowValues(s.GetFocusedRowIndex(), 'ID;Edit_Date;Add_Date;Add_By;Edit_By;Action_Status;Action_Date;Action_By', DispatchOnGetRowValues);
    //}

    function RelatedOnGetRowValues(values) {
        debugger;
        MembershipId = values[0];
        MemberName = values[1];
        ID = values[2];
    }


    function DeleteAll()
    {
        if (ID == 'undefined' || ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var result = DevExpress.ui.dialog.confirm("Sure you want to Delete selected Entries...?", "Confirmation...");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/RelatedDataNavigation",
            data: { Type:"Delete", ID: ID },
            cache: false,
            success: function (Result) {
                debugger;
                if (Result.result == "true" || Result.result == true) {
                    DevExpress.ui.dialog.alert(Result.Message, 'Information!');

                    @*$("#popup_frm_Box").dxPopup("show");
                    $("#popup_frm_Box").dxPopup("instance").option("title", "Related MemberShips");
                    $("#popup_frm_Box_result").html('');
                    ShowLoader();
                      $("#popup_frm_Box_result").load("@Url.Action("Frm_Related_Info", "MagazineReceiptRegister", new { @area = "Magazine" })?Txt_MS_ID=" + encodeURIComponent(Reg_Membership_ID) + "&PC_MemberName=" + encodeURIComponent(Reg_Member_Name) + "&MS_REC_ID=" + encodeURIComponent(MS_REC_ID), function () {
                        HideLoader();
                        // $("#tP_NOField").dxTextBox('instance').focus();
                    });*@
                }
                else {
                    DevExpress.ui.dialog.alert(Result.Message, 'Information!');
                }
            }
        });
            }
        });
    }


</script>


