@using DevExtreme.AspNet.Mvc;

@model IEnumerable<dynamic>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div id="content" class="col-md-12 report_header_div_main">
    <div class="col-md-6">
        <div class="col-md-12 report_header_div">
            <label class="report_header_label" style="font-size:15px !important">@ViewBag.Txt_Title_Text</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="pull-right">
                @(Html.DevExtreme().Button()
                                        .ID("AccntCLOSE")
                                        .Text("Close")
                                        .Icon("clear")
                                        .OnClick(@<text>
                                            function () {
                                            OnMagAccntClose();
                                            }
                                        </text>)

                )
            </div>
            <div class="pull-right">
                @(Html.DevExtreme().Button()
                                        .ID("LedgerListPreview")
                                        .Text("Export")
                                        .Icon("save")
                                        .Width(75)
                                        .OnClick(@<text>
                                            function () {
                                            OnMagazineAccntPreviewClick();
                                            }
                                        </text>)
                )
            </div>

        </div>
    </div>
    @*Buttons*@
    <div class="report_button_div">

    </div>
</div>
<div class="col-md-12 no-padding">
    <form>
        <div id="LedgerPartialView" class="parent_table">
            @Html.Partial("Frm_Accnt_Info_Grid", Model)
        </div>
    </form>
</div>

<div class="footer-MainBoxdiv full-width-footer">
    <div class="">
        <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Nett Balance (in Rs.):@ViewBag.Balancedue</label></div>
        <div class="col-sm-6 col-md-6 col-lg-6 pll">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 pll">
                    <div class="pull-right">
                        @(Html.DevExtreme().Button()
                                        .ID("AccntdownCLOSE")
                                        .Text("Close")
                                        .Icon("clear")
                                        .OnClick(@<text>
                                            function () {
                                            OnMagRegClose();
                                            }
                                        </text>)

                        )
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    $(document).ready(function () {

    });
    function OnMagAccntClose()
    {
        $("#popup_frm_Box").dxPopup("hide");
    }
    function OnMagazineAccntPreviewClick()
    {
        $("#MagazineReg_report_modal").dxPopup("show");
        $("#MagazineReg_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#MagazineReg_report_modal").html('');
        ShowLoader();
        $("#MagazineReg_report_modal_result").load("@Url.Action("Frm_Accnt_Export_Options", "MagazineReceiptRegister", new { @area = "Magazine" })", function () {
            HideLoader();
        });
    }
</script>


