@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Magazine.Models.Subscriptiondetails_Model
@{
    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .d-inline-block {
        display: inline-block;
    }

    .radioButtonDiv {
        border: 1px solid #2b94ef;
        padding: 2px 9px;
        max-width: 113px;
        background: #fff;
    }

    .name_text {
        color: #800000;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .margB10 {
        margin-bottom: 10px !important;
    }

    .paddT3 {
        padding-top: 3px !important;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="Frm_Subscription_Window_popup" class="col-md-12">
    @using (Ajax.BeginForm("Frm_Magazine_Subs_Window", "MagazineReceiptRegister",
                                                       new AjaxOptions
                                                       {
                                                           HttpMethod = "POST",
                                                           UpdateTargetId = "Frm_Subscription_Window_popup",
                                                           InsertionMode = InsertionMode.InsertAfter,
                                                           OnBegin = "AjaxBeginFormPost",
                                                           OnSuccess = "Frm_Subscription_Window_OnSuccess"
                                                       },
                                                       new
                                                       {
                                                           id = "ID_Frm_Subscription_Window",
                                                           @class = "edit_form"
                                                       }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.SubscriptionType)
        @Html.HiddenFor(x => x.DispatchName)
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.VoucherType)
        @Html.HiddenFor(x => x.Subs_PeriodWiseFeeCalc)
        @Html.HiddenFor(x => x.DT_Charges)
        @Html.HiddenFor(x => x.Subs_Min_Months)
        @Html.HiddenFor(x => x.MSTF_Indian_Fee)
        @Html.HiddenFor(x => x.MSTF_Foreign_Fee)
        @Html.HiddenFor(x => x.CurrYearIssueCount)
        @Html.HiddenFor(x => x.Tr_M_ID)
        @Html.HiddenFor(x => x.Sr)
        @Html.HiddenFor(x => x.Membership)

        <div class="full-width-header-bg3">
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="popuphead"><i class="far fa-edit"></i> New Subscription Details</h3>
                </div>
                <div class="col-sm-4 prm">
                    <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                </div>
            </div>

        </div><!--[row]-->
        <div class="row">
            <div class="">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Sub. Date:</label></div>
                                <div class="col-sm-6 col-md-8 col-lg-8 prm pll1">
                                    @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <select name="" class="dx-texteditor-input appear">
                                                    <option value="0">DD-MM-YYYY</option>
                                                </select>
                                            </div>
                                        </div>*@
                                    @(Html.DevExtreme().DateBoxFor(m => m.Txt_Subs_Date)
                                                                  .ID("Txt_Subs_Date")
                                                                  .Name("Txt_Subs_Date")
                                                                  .Type(DateBoxType.Date)
                                                                  .PickerType(DateBoxPickerType.Native)
                                                                  .DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                                  .InvalidDateMessage("Value must be a Date!!")
                                                                  .OnValueChanged("LookUp_Txt_Subs_Date_ChangeEvent")
                                                                  .ReadOnly(IsVisible)
                                                                  .Disabled(IsVisible)

                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Subs Type:</label></div>
                                <div class="col-sm-6 col-md-8 col-lg-8 prm">
                                    @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <select name="" class="dx-texteditor-input appear">
                                                    <option value="0">DD-MM-YYYY</option>
                                                </select>
                                            </div>
                                        </div>*@
                                    @(Html.DevExtreme().SelectBox()
                                                                                                                                .ID("GLookUp_STypeList")
                                                                                                                                .Name("GLookUp_STypeList")
                                                                                                                                .Value(Model.GLookUp_STypeList)
                                                                                                                                .DisplayExpr("SubscriptionType")
                                                                                                                                .ValueExpr("GLookUp_STypeList")
                                                                                                                                .DataSource(d => d.Mvc().Controller("MagazineReceiptRegister").LoadAction("LookUp_GetSubscriptionTypeList").Key("GLookUp_STypeList").LoadParams(new { MagazineID = new JS("function (){ return '" + ViewBag.MagazineId + "'}") }))
                                                                                                                                .SearchEnabled(true)
                                                                                                                            .ReadOnly(IsVisible)
                                                                                                                            .Disabled(IsVisible)
                                                                                                                                //   .OnValueChanged("GLookUp_STypeList_ChangeEvent")
                                                                                                                                .TabIndex(2)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[2]-->
            </div>
        </div><!--[row]-->
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label opacityClass colorlighrBlue" for="user">Purpose:</label></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 prm pll3">
                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <select name="" class="dx-texteditor-input appear">
                                                <option value="0"></option>

                                            </select>
                                        </div>
                                    </div>*@
                                @(Html.DevExtreme().DropDownBox()
                                                                                                      .ID("BE_Purpose")
                                                                                                      .Name("BE_Purpose")
                                                                                                      //.HoverStateEnabled(true)
                                                                                                      .Value(Model.BE_Purpose)
                                                                                                      .ValueExpr("GLookUp_PurList")
                                                                                                      .DisplayExpr("PUR_NAME")
                                                                                                      .DataSource(d => d.Mvc().Controller("MagazineReceiptRegister").LoadAction("LookUp_GetPurposeList").Key("GLookUp_PurList"))
                                                                                                      .ShowClearButton(true)
                                                                                                      .ReadOnly(true)
                                                                                                      .Disabled(true)
                                        // .OnValueChanged("GLookUp_PurList_ChangeEvent")

                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[1]-->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Free Copies:</label></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 prm">
                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="">
                                        </div>
                                    </div>*@
                                @(Html.DevExtreme().NumberBox()
                                                                                                                                .ID("Txt_Free")
                                                                                                                                .Name("Txt_Free")
                                                                                                                                .Value(Model.Txt_Free)
                                                                                                                                .ReadOnly(IsVisible)
                                                            .Disabled(IsVisible)
                                        //.Placeholder("Type a text here...")
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[2]-->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Total Copies:</label></div>
                            <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="">
                                        </div>
                                    </div>*@
                                @(Html.DevExtreme().NumberBox()
                                                                                                                                .ID("Txt_Copies")
                                                                                                                                .Name("Txt_Copies")
                                                                                                                                .Value(Model.Txt_Copies)
                                                                                                                                .OnValueChanged("LookUp_Txt_Copies_ChangeEvent")
                                                                                                                                .ReadOnly(IsVisible)
                                                            .Disabled(IsVisible)
                                        //.Placeholder("Type a text here...")
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[3]-->

        </div><!--[row]-->
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">From:</label></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 prm pll3">
                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <select name="" class="dx-texteditor-input appear">
                                                <option value="0">DD-MM-YYYY</option>

                                            </select>
                                        </div>
                                    </div>*@
                                @*@(Html.DevExtreme().DateBoxFor(m => m.Txt_Fr_Date)
                                    .ID("Txt_Fr_Date")
                                    .Name("Txt_Fr_Date")
                                    .Type(DateBoxType.Date)
                                    .Placeholder("M/dd/yyyy")
                                                    //.ReadOnly(IsVisible)
                                                    //.Disabled(true)
                                            )*@
                                @(Html.DevExtreme().DateBoxFor(m => m.Txt_Fr_Date)
                                                                                                                                           .ID("Txt_Fr_Date")
                                                                                                                                             .Name("Txt_Fr_Date")
                                                                                                                                             .Type(DateBoxType.Date)
                                                                                                                                             .PickerType(DateBoxPickerType.Native)
                                                                                                                                             .DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                                                                                                             .InvalidDateMessage("Value must be a Date!!")
                                                                                                                                             //.OnValueChanged("LookUp_Txt_Fr_Date_ChangeEvent")
                                                                                                                                             .ReadOnly(IsVisible)
                                                            .Disabled(IsVisible)
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[1]-->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">To:</label></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 prm">
                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <select name="" class="dx-texteditor-input appear">
                                                <option value="0">DD-MM-YYYY</option>
                                            </select>
                                        </div>
                                    </div>*@
                                @*@(Html.DevExtreme().DateBoxFor(m => m.Txt_To_Date)
                                                .ID("Txt_To_Date")
                                                .Name("Txt_To_Date")
                                                .Type(DateBoxType.Date)
                                                .Placeholder("M/dd/yyyy")
                                            //.ReadOnly(IsVisible)
                                            //.Disabled(true)
                                    )*@
                                @(Html.DevExtreme().DateBoxFor(m => m.Txt_To_Date)
                                                                                                                                           .ID("Txt_To_Date")
                                                                                                                                             .Name("Txt_To_Date")
                                                                                                                                             .Type(DateBoxType.Date)
                                                                                                                                             .PickerType(DateBoxPickerType.Native)
                                                                                                                                             .DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                                                                                                             .InvalidDateMessage("Value must be a Date!!")
                                                                                                                                             // .OnValueChanged("LookUp_Txt_To_Date_ChangeEvent")
                                                                                                                                             .ReadOnly(IsVisible)
                                                            .Disabled(IsVisible)
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[2]-->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-6 pll"><label class="control-label opacityClass colorlighrBlue" for="user">Amount:</label></div>
                            <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="">
                                        </div>
                                    </div>*@
                                @(Html.DevExtreme().NumberBox()
                                                                                                                                       .Format("#,##0.00")
                                                                                                                                       .ID("BE_SubAmt")
                                                                                                                                       .Name("BE_SubAmt")
                                                                                                                                       .Value(Model.BE_SubAmt)
                                                                                                                                       .ReadOnly(true)
                                                                                                                                       .Disabled(true)
                                                                                                                                       .Placeholder("0.00")
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[3]-->

        </div><!--[row]-->
        <div class="row">
            <div class="">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Dispatch Type:</label></div>
                                <div class="col-sm-6 col-md-8 col-lg-8 prm pll1">
                                    @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <select name="" class="dx-texteditor-input appear">
                                                    <option value="0"></option>
                                                </select>
                                            </div>
                                        </div>*@
                                    @(Html.DevExtreme().SelectBox()
                                                                                                                                                     .ID("GLookUp_DTypeList")
                                                                                                                                                     .Name("GLookUp_DTypeList")
                                                                                                                                                     .Value(Model.GLookUp_DTypeList)
                                                                                                                                                     .DisplayExpr("DispatchName")
                                                                                                                                                     .ValueExpr("GLookUp_DTypeList")
                                                                                                                                                     .DataSource(d => d.Mvc().Controller("MagazineReceiptRegister").LoadAction("LookUp_GetDispatchTypeList").Key("GLookUp_DTypeList"))
                                                                                                                                                     .SearchEnabled(true)
                                                                                                                                                     .ReadOnly(false)
                                                                                                                                                     .Disabled(false)
                                                                                                                                                     //  .OnValueChanged("GLookUp_DTypeList_ChangeEvent")
                                                                                                                                                     .TabIndex(2)
                                                                                                                                                     .ReadOnly(IsVisible)
                                                            .Disabled(IsVisible)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-4 pll"><label class="control-label opacityClass colorlighrBlue" for="user" id="lblBE_ExtraAmt">Regular Post Charges:</label></div>
                                <div class="col-sm-6 col-md-8 col-lg-8 prm">
                                    @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <select name="" class="dx-texteditor-input appear">
                                                    <option value="0"></option>
                                                </select>
                                            </div>
                                        </div>*@
                                    @(Html.DevExtreme().NumberBox()
                                                                                                                                      .Format("#,##0.00")
                                                                                                                                      .ID("BE_ExtraAmt")
                                                                                                                                      .Name("BE_ExtraAmt")
                                                                                                                                      .Value(Model.BE_ExtraAmt)
                                                                                                                                      .ReadOnly(true)
                                                                                                                                      .Disabled(true)
                                                                                                                                      .Placeholder("0.00")
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[2]-->
            </div>
        </div><!--[row]-->
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid paddT3">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user">Issues:</label></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 prm pll3">
                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="">
                                        </div>
                                    </div>*@
                                @(Html.DevExtreme().NumberBox()
                                                                                                                                .ID("Txt_Issues")
                                                                                                                                .Name("Txt_Issues")
                                                                                                                                .Value(Model.Txt_Issues)
                                                                                                                                .ReadOnly(true)
                                                                                                                                .Disabled(true)
                                        //.Placeholder("Type a text here...")
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[1]-->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label opacityClass colorlighrBlue" for="user"><i>Dispatch On CC:</i></label></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 prm">
                                @*<div class="radioButtonDiv1">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="d-inline-block">
                                                    <label class="radio-inline"><input type="radio" name="optradio1" checked=""> Yes</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6 pll">
                                                <div class="d-inline-block">
                                                    <label class="radio-inline"><input type="radio" name="optradio1"> No</label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>*@
                                @(Html.DevExtreme().RadioGroup()
                                                                                                                                             .ID("Rad_DisOnCC")
                                                                                                                                             .Name("Rad_DisOnCC")
                                                                                                                                             .DisplayExpr("text")
                                                                                                                                             .Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal)
                                                                                                                                             .ValueExpr("value")
                                                                                                                                             .Value(Model.Rad_DisOnCC)
                                                                                                                                             //.Value("MALE")
                                                                                                                                             .ReadOnly(IsVisible)
                                                            .Disabled(IsVisible)
                                                                                                                                             .DataSource(new object[] {
                                                                                                                                                                       new { text = "YES", value = "YES" },
                                                                                                                                                                       new { text = "NO", value = "NO" },

                                                                                                                                             })
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[2]-->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid paddT3">
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-6 pll"><label class="control-label opacityClass colorlighrBlue" for="user">Total Amount:</label></div>
                            <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="">
                                        </div>
                                    </div>*@
                                @(Html.DevExtreme().NumberBox()
                                                                                                                                       .Format("#,##0.00")
                                                                                                                                       .ID("BE_TotalAmt")
                                                                                                                                       .Name("BE_TotalAmt")
                                                                                                                                       .Value(Model.BE_TotalAmt)
                                                                                                                                       .ReadOnly(true)
                                                                                                                                       .Disabled(true)
                                                                                                                                       .Placeholder("0.00")
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[3]-->

        </div><!--[row]-->
        <div class="row">
            <div class="">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Narration:</label></div>
                            <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="Type any Other Detail / Remarks...">
                                        </div>
                                    </div>*@
                                @(Html.DevExtreme().TextBox()
                                                                                                                                                .ID("Txt_Narration")
                                                                                                                                                .Name("Txt_Narration")
                                                                                                                                                .Value(Model.Txt_Narration)
                                                                                                                                                .Placeholder("Type any Other Detail / Remarks...")
                                                                                                                                                .ReadOnly(IsVisible)
                                                            .Disabled(IsVisible)
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[row]-->
        <div class="row">
            <div class="">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Reference:</label></div>
                            <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                @*<div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="Type any Other Detail / Remarks...">
                                        </div>
                                    </div>*@
                                @(Html.DevExtreme().TextBox()
                                                                                                                                            .ID("Txt_Reference")
                                                                                                                                            .Name("Txt_Reference")
                                                                                                                                            .Value(Model.Txt_Reference)
                                                                                                                                            .Placeholder("Type any Other Detail / Remarks...")
                                                                                                                                            .ReadOnly(IsVisible)
                                                            .Disabled(IsVisible)
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[row]-->
        <div class="row">
            <div class="form-field wbg brd-bot-none">
                <div class="col-sm-8 col-lg-8 col-xs-12">
                    <div class="form-field wbg brd-bot-none brd-none" style="padding-top:0px !important; padding-left:0px !important;">
                        <div class="container-fluid">
                            <div class="send_message">
                                <img src="~/Content/image/send-icon.png" class="madhuban-req" />
                                Send Your Request to Madhuban
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12 paddR4">
                    @if (Model.ActionMethod.ToString().Trim() == "_View")
                    {
                        <div class="action-btn-wrap">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                @(Html.DevExtreme().Button()
                                                                                                                                  .Text("Close")
                                                                                                                                  .ID("Subscription_Cancle")
                                                                                                                                  .FocusStateEnabled(true)
                                                                                                                                  .OnClick(@<text>
                                                                                                                                    function () {
                                                                                                                                    $("#Frm_Subs_popup").dxPopup("hide");
                                                                                                                                    }
                                                                                                                                </text>)
                                )
                            </div><!--[button]-->

                        </div>
                    }

                    @if (Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_Edit")
                    {
                        <div class="action-btn-wrap">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                @(Html.DevExtreme().Button()
                                                                                                                                  .Text("Cancel")
                                                                                                                                  .ID("Subscription_Cancle")
                                                                                                                                  .FocusStateEnabled(true)
                                                                                                                                  .OnClick(@<text>
                                                                                                                                    function () {
                                                                                                                                    $("#Frm_Subs_popup").dxPopup("hide");
                                                                                                                                    }
                                                                                                                                </text>)
                                )
                            </div><!--[button]-->

                        </div>

                        <div class="action-btn-sec-wrap">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                @(Html.DevExtreme().Button()
                                                                                                                                  .Text("Save")
                                                                                                                                  .ID("Subscription_Save")
                                                                                                                                  .UseSubmitBehavior(true)
                                )
                            </div><!--[button]-->
                        </div>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
    }

</div>
<script>
    @*$(document).ready(function () {
        debugger;
        var Mag_id = '@ViewBag.MagazineId';
        var MagazineId = Mag_id
     Magsectvalue();
    });
    function Magsectvalue()
    {
     MagazineId = Mag_id;
    }*@
    //LookUp ViewType change event
    function LookUp_Txt_Copies_ChangeEvent(e) {
        debugger;
        var Txt_Copies = $("#Txt_Copies").dxTextBox("instance").option("value");
        var Txt_Fr_Date = $("#Txt_Fr_Date").dxDateBox("instance").option("value");
        var Txt_To_Date = $("#Txt_To_Date").dxDateBox("instance").option("value");
        var MagazineID =  '@ViewBag.MagazineID';
        var Subs_PeriodWiseFeeCalc = $("#Subs_PeriodWiseFeeCalc").val();
        var Subs_Min_Months = $("#Subs_Min_Months").val();
        var Publish_On = $("#GLookUp_STypeList").dxSelectBox("instance").option('text');
        var DT_Charges = $("#DT_Charges").val();
        var MSTF_Indian_Fee = $("#MSTF_Indian_Fee").val();
        var MSTF_Foreign_Fee = $("#MSTF_Foreign_Fee").val();
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/Amount_Calculation_Changed_Values",
            data: {
                Txt_Copies: Txt_Copies, Txt_Fr_Date: Txt_Fr_Date, Txt_To_Date: Txt_To_Date, MagazineID: MagazineID,
                Subs_PeriodWiseFeeCalc: Subs_PeriodWiseFeeCalc, Subs_Min_Months: Subs_Min_Months, Publish_On: Publish_On,
                DT_Charges: DT_Charges, MSTF_Indian_Fee: MSTF_Indian_Fee, MSTF_Foreign_Fee: MSTF_Foreign_Fee
            },
            cache: false,
            success: function (data) {
                if (data.result == "true" || data.result == true) {
                    $("#Txt_Issues").dxTextBox("instance").option("value", data.Message.Txt_Issues);
                    $("#BE_TotalAmt").dxTextBox("instance").option("value", data.Message.BE_TotalAmt);
                    $("#BE_ExtraAmt").dxTextBox("instance").option("value", data.Message.BE_ExtraAmt);
                    $("#BE_SubAmt").dxTextBox("instance").option("value", data.Message.BE_SubAmt);
                    $("#Subs_PeriodWiseFeeCalc").val(data.Message.Subs_PeriodWiseFeeCalc);
                    $("#Subs_Min_Months").val(data.Message.Subs_Min_Months);
                    $("#DT_Charges").val(data.Message.DT_Charges);
                    $("#MSTF_Indian_Fee").val(data.Message.MSTF_Indian_Fee);
                    $("#MSTF_Foreign_Fee").val(data.Message.MSTF_Foreign_Fee);
                }
                else {
                    $("#Txt_Issues").dxTextBox("instance").option("value", "");
                    $("#BE_TotalAmt").dxTextBox("instance").option("value", "");
                    $("#BE_ExtraAmt").dxTextBox("instance").option("value", "");
                    $("#BE_SubAmt").dxTextBox("instance").option("value", "");
                }
            }
        });
    }

    function LookUp_Txt_Fr_Date_ChangeEvent()
    {
     debugger;
      var Txt_Copies = $("#Txt_Copies").dxTextBox("instance").option("value");
        var Txt_Fr_Date = $("#Txt_Fr_Date").dxDateBox("instance").option("value");
        var Txt_To_Date = $("#Txt_To_Date").dxDateBox("instance").option("value");
        var MagazineID =  '@ViewBag.MagazineID';
        var Subs_PeriodWiseFeeCalc = $("#Subs_PeriodWiseFeeCalc").val();
        var Subs_Min_Months = $("#Subs_Min_Months").val();
        var Publish_On = $("#GLookUp_STypeList").dxSelectBox("instance").option('text');
        var DT_Charges = $("#DT_Charges").val();
        var MSTF_Indian_Fee = $("#MSTF_Indian_Fee").val();
        var MSTF_Foreign_Fee = $("#MSTF_Foreign_Fee").val();
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/Amount_Calculation_Changed_Values",
            data: {
                Txt_Copies: Txt_Copies, Txt_Fr_Date: Txt_Fr_Date, Txt_To_Date: Txt_To_Date, MagazineID: MagazineID,
                Subs_PeriodWiseFeeCalc: Subs_PeriodWiseFeeCalc, Subs_Min_Months: Subs_Min_Months, Publish_On: Publish_On,
                DT_Charges: DT_Charges, MSTF_Indian_Fee: MSTF_Indian_Fee, MSTF_Foreign_Fee: MSTF_Foreign_Fee
            },
            cache: false,
            success: function (data) {
                if (data.result == "true" || data.result == true) {
                    $("#Txt_Issues").dxTextBox("instance").option("value", data.Message.Txt_Issues);
                    $("#BE_TotalAmt").dxTextBox("instance").option("value", data.Message.BE_TotalAmt);
                    $("#BE_ExtraAmt").dxTextBox("instance").option("value", data.Message.BE_ExtraAmt);
                    $("#BE_SubAmt").dxTextBox("instance").option("value", data.Message.BE_SubAmt);
                    $("#Subs_PeriodWiseFeeCalc").val(data.Message.Subs_PeriodWiseFeeCalc);
                    $("#Subs_Min_Months").val(data.Message.Subs_Min_Months);
                    $("#DT_Charges").val(data.Message.DT_Charges);
                    $("#MSTF_Indian_Fee").val(data.Message.MSTF_Indian_Fee);
                    $("#MSTF_Foreign_Fee").val(data.Message.MSTF_Foreign_Fee);
                }
                else {
                    $("#Txt_Issues").dxTextBox("instance").option("value", "");
                    $("#BE_TotalAmt").dxTextBox("instance").option("value", "");
                    $("#BE_ExtraAmt").dxTextBox("instance").option("value", "");
                    $("#BE_SubAmt").dxTextBox("instance").option("value", "");
                }
            }
        });
    }

     function LookUp_Txt_To_Date_ChangeEvent()
    {
     debugger;
        var Txt_Copies = $("#Txt_Copies").dxTextBox("instance").option("value");
        var Txt_Fr_Date = $("#Txt_Fr_Date").dxDateBox("instance").option("value");
        var Txt_To_Date = $("#Txt_To_Date").dxDateBox("instance").option("value");
        var MagazineID =  '@ViewBag.MagazineID';
        var Subs_PeriodWiseFeeCalc = $("#Subs_PeriodWiseFeeCalc").val();
        var Subs_Min_Months = $("#Subs_Min_Months").val();
        var Publish_On = $("#GLookUp_STypeList").dxSelectBox("instance").option('text');
        var DT_Charges = $("#DT_Charges").val();
        var MSTF_Indian_Fee = $("#MSTF_Indian_Fee").val();
        var MSTF_Foreign_Fee = $("#MSTF_Foreign_Fee").val();
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/Amount_Calculation_Changed_Values",
            data: {
                Txt_Copies: Txt_Copies, Txt_Fr_Date: Txt_Fr_Date, Txt_To_Date: Txt_To_Date, MagazineID: MagazineID,
                Subs_PeriodWiseFeeCalc: Subs_PeriodWiseFeeCalc, Subs_Min_Months: Subs_Min_Months, Publish_On: Publish_On,
                DT_Charges: DT_Charges, MSTF_Indian_Fee: MSTF_Indian_Fee, MSTF_Foreign_Fee: MSTF_Foreign_Fee
            },
            cache: false,
            success: function (data) {
                if (data.result == "true" || data.result == true) {
                    $("#Txt_Issues").dxTextBox("instance").option("value", data.Message.Txt_Issues);
                    $("#BE_TotalAmt").dxTextBox("instance").option("value", data.Message.BE_TotalAmt);
                    $("#BE_ExtraAmt").dxTextBox("instance").option("value", data.Message.BE_ExtraAmt);
                    $("#BE_SubAmt").dxTextBox("instance").option("value", data.Message.BE_SubAmt);
                    $("#Subs_PeriodWiseFeeCalc").val(data.Message.Subs_PeriodWiseFeeCalc);
                    $("#Subs_Min_Months").val(data.Message.Subs_Min_Months);
                    $("#DT_Charges").val(data.Message.DT_Charges);
                    $("#MSTF_Indian_Fee").val(data.Message.MSTF_Indian_Fee);
                    $("#MSTF_Foreign_Fee").val(data.Message.MSTF_Foreign_Fee);
                }
                else {
                    $("#Txt_Issues").dxTextBox("instance").option("value", "");
                    $("#BE_TotalAmt").dxTextBox("instance").option("value", "");
                    $("#BE_ExtraAmt").dxTextBox("instance").option("value", "");
                    $("#BE_SubAmt").dxTextBox("instance").option("value", "");
                }
            }
        });
    }
     function LookUp_Txt_Subs_Date_ChangeEvent()
     {
        var Type = 1;
        var Subs_Date = $("#Txt_Subs_Date").dxDateBox("instance").option("value");
        var Txt_Subs_Date = formatDate(Subs_Date);
        var Txt_Copies = $("#Txt_Copies").dxNumberBox("instance").option("value");
        var MagazineID =  '@ViewBag.MagazineID';
        var Publish_On = $("#GLookUp_STypeList").dxSelectBox("instance").option('text');
        var DT_Charges = $("#DT_Charges").val();
        var Subs_Min_Months = $("#Subs_Min_Months").val();
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/GLookUp_Changed_Values",
            data: {
                Txt_Subs_Date:Txt_Subs_Date, Txt_Copies: Txt_Copies, MagazineID: MagazineID, Publish_On: Publish_On,
                DT_Charges: DT_Charges, Subs_Min_Months: Subs_Min_Months, Type: Type
            },
            cache: false,
            success: function (data) {
                if (data.result == "true" || data.result == true) {
                    $("#Txt_Issues").dxTextBox("instance").option("value", data.Message.Txt_Issues);
                    $("#BE_TotalAmt").dxTextBox("instance").option("value", data.Message.BE_TotalAmt);
                    $("#BE_ExtraAmt").dxTextBox("instance").option("value", data.Message.BE_ExtraAmt);
                    $("#BE_SubAmt").dxTextBox("instance").option("value", data.Message.BE_SubAmt);
                    $("#Txt_Fr_Date").dxDateBox("instance").option("value", data.Message.Txt_Fr_Date);
                    $("#Txt_To_Date").dxDateBox("instance").option("value", data.Message.Txt_To_Date);
                    $("#Subs_PeriodWiseFeeCalc").val(data.Message.Subs_PeriodWiseFeeCalc);
                    $("#Subs_Min_Months").val(data.Message.Subs_Min_Months);
                    $("#DT_Charges").val(data.Message.DT_Charges);
                    $("#MSTF_Indian_Fee").val(data.Message.MSTF_Indian_Fee);
                    $("#MSTF_Foreign_Fee").val(data.Message.MSTF_Foreign_Fee);
                }
                else {
                    $("#Txt_Issues").dxTextBox("instance").option("value", "");
                    $("#BE_TotalAmt").dxTextBox("instance").option("value", "");
                    $("#BE_ExtraAmt").dxTextBox("instance").option("value", "");
                    $("#BE_SubAmt").dxTextBox("instance").option("value", "");
                }
            }
        });
     }
     function GLookUp_STypeList_ChangeEvent()
     {
         debugger;
        var Type = 2;
        var Txt_Subs_Date = $("#Txt_Subs_Date").dxDateBox("instance").option("value");
        var Txt_Copies = $("#Txt_Copies").dxTextBox("instance").option("value");
        var MagazineID =  '@ViewBag.MagazineID';
        var Publish_On = $("#GLookUp_STypeList").dxSelectBox("instance").option('text');
        var DT_Charges = $("#DT_Charges").val();
        var Subs_Min_Months = $("#Subs_Min_Months").val();
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/GLookUp_Changed_Values",
            data: {
                Txt_Subs_Date: Txt_Subs_Date, Txt_Copies: Txt_Copies, MagazineID: MagazineID, Publish_On: Publish_On,
                DT_Charges: DT_Charges, Subs_Min_Months: Subs_Min_Months, Type:Type
            },
            cache: false,
            success: function (data) {
                if (data.result == "true" || data.result == true) {
                    $("#Txt_Issues").dxTextBox("instance").option("value", data.Message.Txt_Issues);
                    $("#BE_TotalAmt").dxTextBox("instance").option("value", data.Message.BE_TotalAmt);
                    $("#BE_ExtraAmt").dxTextBox("instance").option("value", data.Message.BE_ExtraAmt);
                    $("#BE_SubAmt").dxTextBox("instance").option("value", data.Message.BE_SubAmt);
                    $("#Txt_Fr_Date").dxDateBox("instance").option("value", data.Message.Txt_Fr_Date);
                    $("#Txt_To_Date").dxDateBox("instance").option("value", data.Message.Txt_To_Date);
                    $("#Subs_PeriodWiseFeeCalc").val(data.Message.Subs_PeriodWiseFeeCalc);
                    $("#Subs_Min_Months").val(data.Message.Subs_Min_Months);
                    $("#DT_Charges").val(data.Message.DT_Charges);
                    $("#MSTF_Indian_Fee").val(data.Message.MSTF_Indian_Fee);
                    $("#MSTF_Foreign_Fee").val(data.Message.MSTF_Foreign_Fee);
                }
                else {
                    $("#Txt_Issues").dxTextBox("instance").option("value", "");
                    $("#BE_TotalAmt").dxTextBox("instance").option("value", "");
                    $("#BE_ExtraAmt").dxTextBox("instance").option("value", "");
                    $("#BE_SubAmt").dxTextBox("instance").option("value", "");
                }
            }
        });
     }

     function GLookUp_DTypeList_ChangeEvent()
     {
         debugger;
        var Txt_Subs_Date = $("#Txt_Subs_Date").dxDateBox("instance").option("value");
        var Txt_Fr_Date = $("#Txt_Fr_Date").dxDateBox("instance").option("value");
        var Txt_To_Date = $("#Txt_To_Date").dxDateBox("instance").option("value");
        var Txt_Copies = $("#Txt_Copies").dxTextBox("instance").option("value");
        var MagazineID =  '@ViewBag.MagazineID';
        var Publish_On = $("#GLookUp_STypeList").dxSelectBox("instance").option('text');
        var DispatchType = $("#GLookUp_DTypeList").dxSelectBox("instance").option('text');
        var Subs_Min_Months = $("#Subs_Min_Months").val();
        var Subs_PeriodWiseFeeCalc = $("#Subs_PeriodWiseFeeCalc").val();
        if (DispatchType != "")
        {
            var lbltext = DispatchType +"Charges";
            $("#lblBE_ExtraAmt").val(lbltext);
        }

        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/GLookUp_DTypeList_ChangeEvent",
            data: {
                Txt_Subs_Date: Txt_Subs_Date, Txt_Copies: Txt_Copies, MagazineID: MagazineID, Publish_On: Publish_On,
                Subs_Min_Months: Subs_Min_Months, Txt_Fr_Date: Txt_Fr_Date, Txt_To_Date: Txt_To_Date, DispatchType: DispatchType,
                Subs_PeriodWiseFeeCalc: Subs_PeriodWiseFeeCalc
            },
            cache: false,
            success: function (data) {
                if (data.result == "true" || data.result == true) {
                    $("#Txt_Issues").dxTextBox("instance").option("value", data.Message.Txt_Issues);
                    $("#BE_TotalAmt").dxTextBox("instance").option("value", data.Message.BE_TotalAmt);
                    $("#BE_ExtraAmt").dxTextBox("instance").option("value", data.Message.BE_ExtraAmt);
                    $("#BE_SubAmt").dxTextBox("instance").option("value", data.Message.BE_SubAmt);
                    $("#Txt_Fr_Date").dxDateBox("instance").option("value", data.Message.Txt_Fr_Date);
                    $("#Txt_To_Date").dxDateBox("instance").option("value", data.Message.Txt_To_Date);
                    $("#Subs_PeriodWiseFeeCalc").val(data.Message.Subs_PeriodWiseFeeCalc);
                    $("#Subs_Min_Months").val(data.Message.Subs_Min_Months);
                    $("#DT_Charges").val(data.Message.DT_Charges);
                    $("#MSTF_Indian_Fee").val(data.Message.MSTF_Indian_Fee);
                    $("#MSTF_Foreign_Fee").val(data.Message.MSTF_Foreign_Fee);
                }
                else {
                    $("#Txt_Issues").dxTextBox("instance").option("value", "");
                    $("#BE_TotalAmt").dxTextBox("instance").option("value", "");
                    $("#BE_ExtraAmt").dxTextBox("instance").option("value", "");
                    $("#BE_SubAmt").dxTextBox("instance").option("value", "");
                }
            }
        });
     }

     function Dateformat(date) {
         var hours = date.getHours();
         var minutes = date.getMinutes();
         var ampm = hours >= 12 ? 'pm' : 'am';
         hours = hours % 12;
         hours = hours ? hours : 12; // the hour '0' should be '12'
         minutes = minutes < 10 ? '0' + minutes : minutes;
         var strTime = hours + ':' + minutes + ' ' + ampm;
         return date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
     }
</script>

