@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Magazine.Models.MagazineReciptRegInfo
@{
    //Model.BE_Stats = Session["BE_Stats"].ToString()!=null? Session["BE_Stats"].ToString() : "";
    //ViewBag.Title = "Index";
    Layout = null;
}
<style>
   
    .dx-item.dx-toolbar-item.dx-toolbar-label {
        max-width: 100% !important;
    } 
    .dx-button-has-text .dx-icon {
        bottom: 0px !important;
    }
    .btn-set {
        padding: 0px 4px 0px 4px !important;
    }
    .subHead {
        padding-right: 0px;
        padding-left: 0px;
    }

    .subHeadChangPeriod {
        padding-right: 30px;
        margin-left: -14px;
        margin-right: 0px;
        padding-left: 15px;
    }

    .subHeaddropdown {
        padding-right: 0px;
        height: 30px;
    }

    #Cmb_View {
        margin-bottom: auto;
    }
        .fixedrowheader {
        overflow: hidden;
        position: fixed;
        height: auto;
        background-color: #ccebff;
        width: 100%;
        z-index: 100;
        margin-left: 1px;
    }

    #popup_CancelledList_Window_result {
        margin-top: 32px;
    }

    .buttons {
        padding-top: 2px;
        margin-right: -10px;
    }
    /*.fixedrowfooter {
        position: fixed;
        bottom: 0;
        width: 100%;
    }*/
    #BE_Stats {
        color: coral;
        font-weight: bold;
    }
    #BE_View_Period {
        font-weight: bold;
        color: #1c499a;
    }
</style>
@*<script src="~/Scripts/jspdf.js"></script>
<script src="~/Scripts/html2canvas.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>*@
<div id="content" class="col-md-12 report_header_div_main">
    <div class="col-md-4 report_header_div">
        <label class="report_header_label">Magazine Receipt Register</label>
    </div>
    @*Buttons*@
<div class="report_button_div">

    @(Html.DevExtreme().Button()
                                                                                              .ID("MagazineReceiRegSubscription")
                                                                                              .Text("Subscription")
                                                                                              .Icon("add")
                                                                                              //.Visible(false)
                                                                                              .Width(110)
                                                                                              .OnClick(@<text>
                                                                                                function () {
                                                                                                OnPropertySubscription();
                                                                                                }
                                                                                            </text>)
        )
    @(Html.DevExtreme().Button()
                                                                                              .ID("MagazineReceiRegCancelledList")
                                                                                              .Text("Cancelled List")
                                                                                              .Width(120)
                                                                                              .Icon("close")
                                                                                              .OnClick(@<text>
                                                                                                function () {
                                                                                                OnMagazineRegCancelledList();
                                                                                                }
                                                                                            </text>)
        )
    @(Html.DevExtreme().Button()
                                                                                             .ID("MagazineReceiRegModelListPreview")
                                                                                             .Text("Export")
                                                                                             .Icon("save")
                                                                                             .Width(75)
                                                                                             .OnClick(@<text>
                                                                                                function () {
                                                                                                OnMagazineRegListPreviewClick();
                                                                                                }
                                                                                            </text>)
        )
    @(Html.DevExtreme().Button().ID("MagazineRR_MasterToggleScrollBar").Text("Full Data").Icon("toolbox").OnClick(@<text>function () {OnMagazineRRChangeMode(); } </text>))
    @(Html.DevExtreme().Button()
                                                                                            .ID("MagazineReceiRegModelCLOSE")
                                                                                            .Text("Close")
                                                                                            .Icon("clear")
                                                                                            .Width(70)
                                                                                            .OnClick(@<text>
                                                                                                function (){
                                                                                                $(".TabPanalMenu-tabs .active span").click()
                                                                                                }
                                                                                            </text>)

        )
</div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-3 subHeaddropdown">
        <div class="" style="padding-bottom:5px;padding-top:2px;">
            <div class="" height="25px">
                @(Html.DevExtreme().SelectBox()
                                .ID("Cmb_View")
                                .Name("Cmb_View")
                                //.Placeholder("Specific Period")
                                //.DisplayExpr("Text")
                                //.ValueExpr("Value")
                                .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } })
                                .DataSource(d => d.Mvc().Controller("MagazineReceiptRegister").LoadAction("Fill_Change_Period_Items").Key("SelectedIndex"))
                                .DisplayExpr("Period").ValueExpr("SelectedIndex").SearchEnabled(true)
                                .ReadOnly(false)
                                .Disabled(false)
                                .OnValueChanged("PeriodSelectionChange_MagazineRR")
                                //.OnValueChanged("LookUp_ViewType_ChangeEvent")
                )
                @*</div>*@

            </div>
        </div>
    </div><!--[2]-->
    <div class="col-sm-4 col-md-2 subHeadChangPeriod">
        <div class="form-field">
            @*<div class="dx-button dx-button-normal dx-button-has-text btn-set-pad-bot dx-span disabledButton" role="button" aria-label="Cancel" tabindex="0">*@
                <div class="dx-button-content btn-set">
                    @*<span class="dx-button-text" id="btnChangeDate">Change Period</span>*@
                    @(Html.DevExtreme().Button().ID("MagazineRR_btnChangePeriod").Text("Change Period").Hint("Change Period").Disabled(false).OnClick(@<text> function () { ChangePeriodClick_MagazineRR(); } </text>) )
                </div>
            @*</div>*@
        </div> 
    </div><!--[3]-->

    <div class="col-sm-4 col-md-3 subHead">
        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
            <div class="">
                @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                        .ID("BE_View_Period")
                                                                                                        .Name("BE_View_Period")
                                                                                                        .Placeholder("View Period")
                                                                                                        //.Value(Model.BE_View_Period)
                                                                                                        .ShowClearButton(true)
                                                                                                        .ReadOnly(true)
                                                                                                        .ValidationError(true)
                                                                                                        .MaxLength(100)
                )
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 subHead">
        @*<label id="MagazineRR_BE_Stats" style="color:#D2691E;font:bold;padding-top:6px"></label>*@
        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
            <div class="">
                @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                                        .ID("BE_Stats")
                                                                                                        .Name("BE_Stats")
                                                                                                        //.Value(Model.BE_Stats)
                                                                                                        .ShowClearButton(true)
                                                                                                        .ReadOnly(true)

                )
            </div>
        </div>
    </div>
</div>
@*Buttons*@




<div class="col-md-12 no-padding">
    <form>
        <div id="MagazinereloadPartialView" class="parent_table">
            @Html.Partial("Frm_Magazine_Recei_Reg_Info_Grid",Model)
        </div>
    </form>
</div>
<div class="footer-MainBoxdiv full-width-footer">
    <div class="list_footer_left_margin col-md-10">
        <div>
            <div>
                <div class="list_footer_left_margin">
                    <div class="footer-locktext">
                        <div id="Property_Lbl_ActionOn" class="left_footertext_top"></div>
                        <div id="Property_Lbl_ActionBy" class="left_footertext_bottom"></div>
                    </div>
                </div>
                <div class="list_footer_left_margin">
                    <p id="PropertyLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                    <p id="PropertyLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                </div>

            </div>
        </div>
    </div>
    <div class="list_footer_right_margin_consistent col-md-1">

    </div>
</div>
@*Sub/Cancels Popup*@
<div class="col-md-12">

    @(Html.DevExtreme().Popup().CustomPopup()
                                                                                                                                    .ID("MagazineReceiptReg_report_modal")
                                                                                                                                    .OnShowing("PopupOnShowing")
                                                                                                                                    .Title("Magazine Reg List Preview")
                                                                                                                                    .FullScreen(false)
                                                                                                                                    .MaxWidth(125)
                                                                                                                                    .Height("auto")
                                                                                                                                    .ShowCloseButton(true)
                                                                                                                                    .ContentTemplate(@<text>
                                                                                                                                        <div id='MagazineReceiptReg_report_modal_result'>
                                                                                                                                        </div>
                                                                                                                                    </text>)
    )

    @(Html.DevExtreme().Popup().CustomPopup()
                                                                                                            .ID("PopUp_frm_MagazineRecReg_Window")
                                                                                                            .Title("Magazine Receipt Register")
                                                                                                            .OnShowing("PopupOnShowing")
                                                                                                            .ShowCloseButton(true)
                                                                                                            .ContentTemplate(@<text>
                                                                                                                <div id="MagazineReceiptRegresult">
                                                                                                                </div>
                                                                                                            </text>)
                                                                                                                                                                     .OnHiding(@<text>
                                                                                                                                                                        function () {
                                                                                                                                                                        if(IsMagazineRecRegSucessPopup == false && IsMagazineRecregViewPopup == false)
                                                                                                                                                                        {
                                                                                                                                                                        var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                                                                                                                                                        result.done(function (dialogResult) {
                                                                                                                                                                        if(dialogResult){
                                                                                                                                                                        $("#PopUp_frm_MagazineRecReg_Window").dxPopup("hide");
                                                                                                                                                                        }else
                                                                                                                                                                        {
                                                                                                                                                                        $("#PopUp_frm_MagazineRecReg_Window").dxPopup("show");
                                                                                                                                                                        }
                                                                                                                                                                        });
                                                                                                                                                                        }
                                                                                                                                                                        }
                                                                                                                                                                    </text>)
    )
</div>
@*@Html.Action("Frm_Magazine_Recei_Reg_Subscribe", "MagazineReceiptRegister", new { @area = "Magazine" })*@
@*Javascript Events*@
<div class="col-md-12">
    @*Add/Edit Popup*@
    @*@(Html.DevExtreme().Popup().CustomPopup().ID("PopUp_GenerateREciept").ContentTemplate(@<text> <div id="id_Popup_GenerateReceipt_Result"></div> </text>))*@
    @*@(Html.DevExtreme().Popup().CustomPopup().ID("PopUp_CancelReciept").ContentTemplate(@<text> <div id="PopUp_CancelReciept_Result"> </div> </text>))*@
    @(Html.DevExtreme().Popup().CustomPopup().ID("Frm_Add_Or_Address").ContentTemplate(@<text> <div id="_result_Frm_Add_Or_Address_Popup"></div> </text>))
    @(Html.DevExtreme().Popup().CustomPopup().ID("Frm_Print_Pdf").ContentTemplate(@<text> <div id="_result_Frm_Print_Pdf_Popup"></div> </text>))
    @(Html.DevExtreme().Popup().CustomPopup()
                                                                                                                 .ID("popup_changeperiod_Window")
                                                                                                                 .Title("Change Period")
                                                                                                                 .OnShowing("PopupOnShowing")
                                                                                                                 .DragEnabled(true)
                                                                                                                 .Height(140)
                                                                                                                 .Width(580)
                                                                                                                 .ShowCloseButton(true)
                                                                                                                 .ContentTemplate(@<text>
                                                                                                                    <div id="popup_changeperiod_Window_result">
                                                                                                                    </div>
                                                                                                                </text>)
    )
    @*@(Html.DevExtreme().Popup().CustomPopup()
                                                                                                                     .ID("popup_CancelledList_Window")
                                                                                                                     .Title("Change Period")
                                                                                                                     .OnShowing("PopupOnShowing")
                                                                                                                     .DragEnabled(true)
                                                                                                                     .Height(450)
                                                                                                                     .Width(750)
                                                                                                                     .ShowCloseButton(true)
                                                                                                                     .ContentTemplate(@<text>
                                                                                                                        <div class="row fixedrowheader">
                                                                                                                            <div class="col-md-6">
                                                                                                                                <h4 style="color: #002699">Cancelled Receipts</h4>
                                                                                                                            </div>
                                                                                                                            <div class="col-md-6">
                                                                                                                                <div class="pull-right buttons">
                                                                                                                                    @RenderExport()
                                                                                                                                    @RenderClose()
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                        <div id="popup_CancelledList_Window_result">

                                                                                                                        </div>
                                                                                                                        <div class="row fixedrowfooter">
                                                                                                                            <div class="pull-right">
                                                                                                                                @RenderClose()
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </text>)
    )
    @helper RenderExport()
        {
            @(Html.DevExtreme().Button()
                                                                                            .ID("MagazineReceiRegModelListPreview")
                                                                                            .Text("Export")
                                                                                            .Icon("save")
                                                                                            .Width(75)
                                                                                            .OnClick(@<text>
                                                                                                function () {
                                                                                                OnCancelledListPreviewClick();
                                                                                                }
                                                                                            </text>)
            )
}
    @helper RenderClose()
        {
            @(Html.DevExtreme().Button()
                                                                                                .ID("CancelledListPoupClose")
                                                                                                .Text("Close")
                                                                                                .Icon("clear")
                                                                                                .Width(70)
                                                                                                .OnClick(@<text>
                                                                                                    function (){
                                                                                                    OnCancelledListClose();
                                                                                                    }
                                                                                                </text>)

            )*@
}
</div>
<script type="text/javascript">
    var IsMagazineRecRegSucessPopup = false;
    var IsMagazineRecregViewPopup = false;

    $(document).ready(function () {
        IsMagazineRecRegSucessPopup = false;
        IsMagazineRecregViewPopup = false;
        $("#MagazineReceiRegListGrid").hover(function () {
            MagazineReceiRegListGrid.Focus()
        })        
        $("#Cmb_View").dxSelectBox("instance").option("value", parseInt('@ViewBag.PeriodSelectedIndex'));
        
    });
    function MagazineRegOnInit(s, e) {
        MagazineRecRegAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            MagazineRecRegAdjustSize();
        });
    }
    function OnEndCallback(s, e) {
        MagazineRecRegAdjustSize();

        MagazineRR_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
        MagazineRR_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex;        
        $("#BE_Stats").dxTextBox("instance").option("value", s.cpBE_Stats);
        MagazineRRGridLayout = s.cpClientLayout;
        if (MagazineRR_IsVouchingMode == true) {
            $(".MagazineReceiRegListGrid_PreviewRow").hide();
        }
        else {
            $(".MagazineReceiRegListGrid_PreviewRow").show();
        }
        GetSessionStorage("MagazineReceiRegListGrid");
        SendCustomArgs_FilterControl(s, e);
        console.log(e);

        //if (e.command == "REFRESH") {
        //    if (MembershipRRFocusedRowIndexBeforeRefresh == s.GetFocusedRowIndex()) {
        //        s.SetFocusedRowIndex(-1);
        //        s.SetFocusedRowIndex(MembershipRRFocusedRowIndexBeforeRefresh);
        //    }
        //    Select_xid = "";
        //}
    }
    function MagazineRecRegAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        MagazineReceiRegListGrid.SetHeight(height);
    }

    //Subscribe success function
    function Frm_MagazineRecReg_Window_AjaxSuccessForm(result) {
        debugger
        HideLoader();
        if (result.result == false) {
            DevExpress.ui.dialog.alert(result.Message, "Error");
        }
        else {
            //IsMagazineRecRegSucessPopup = true;
            var lbSubmitSuccess = DevExpress.ui.dialog.alert(result.Message, "Success");
            $("#PopUp_frm_MagazineRecReg_Window").dxPopup("hide");
        }
    }

    //var Reg_ID;
    //var Reg_Membership_ID;
    //var Reg_MM_MEMBER_ID;
    //var Reg_Add_By;
    var MagazineRR_ShowHorizontalBar = 0;
    var MagazineRR_ViewMode = "Default";
    var MagazineRRGridLayout = null;
    var MagazineRR_IsVouchingMode = false;
    var MagazineRR_ColumnToBeShownIndex = "";
    var MagazineRR_ColumnToBeHidddenIndex = "";
    var MS_REC_ID;
    var _SearchText;
    var MagazineTag;
    var _MemType;
    var _SearchType;
    var Reg_ID;
    var Reg_Membership_ID;
    var Reg_Member_Name;
    var Reg_MM_MEMBER_ID;
    var Reg_Add_By;
    var Reg_Add_Date;
    var Reg_Edit_By;
    var Reg_Edit_Date;
    var Reg_Action_Status;
    var Reg_Action_By;
    var Reg_Action_Date;
    var xtemp_ID;
    var xtemp_0;
    var xtemp_1;
    var xtemp_2;
    var xtemp_3;
    var xtemp_4;
    var xtemp_5;
    var xtemp_6;
    var memDate;
    var vdate;
    var xDate;
    var receiptNo;
    var receipt_ID;
    var Row_Index = 0;
    function MagazineRegGrid_BeginCallBack(s, e) {
        e.customArgs["command"] = e.command;
        Row_Index = MagazineReceiRegListGrid.GetFocusedRowIndex();
        e.customArgs["ShowHorizontalBar"] = MagazineRR_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = MagazineRR_IsVouchingMode;
        e.customArgs["ViewMode"] = MagazineRR_ViewMode;
        e.customArgs["ColumnToBeShownIndex"] = MagazineRR_ColumnToBeShownIndex;
        e.customArgs["ColumnToBeHidddenIndex"] = MagazineRR_ColumnToBeHidddenIndex;
        //e.customArgs["RowKeyToFocus"] = Select_xid;
    }
    function OnMagazineRegGridDBClick(s,e) {
        var key = s.GetRowKey(s.GetFocusedRowIndex());
        MagazineReceiRegListGrid.GetValuesOnCustomCallback({ key: key }, MagRegDbClickOnGetRowValues);
        Row_Index = MagazineReceiRegListGrid.GetFocusedRowIndex();
    }
    function OnMagazineRegGridFocusedRowChanged(s, e) {

        var key = s.GetRowKey(s.GetFocusedRowIndex());
        s.GetRowValues(s.GetFocusedRowIndex(), 'ID;Membership ID;Member Name;MM_MEMBER_ID;Add By;Add Date;Edit By;Edit Date;Action Status;Action By;Action Date;Period;Subs.Type;Total Amount;MM_MEMBER_TYPE;Start Date;Date;Receipt No.;Receipt ID;MS_REC_ID', MagRegOnGetRowValues);
        //MagazineReceiRegListGrid.GetValuesOnCustomCallback({ key: key }, MagRegOnGetRowValues);
        Row_Index = MagazineReceiRegListGrid.GetFocusedRowIndex();
    }
    function MagRegOnGetRowValues(values) {
        debugger;
        //var values = FDData.split("![");
        Reg_ID = values[0];
        Reg_Membership_ID = values[1];
        Reg_Member_Name = values[2];
        Reg_MM_MEMBER_ID = values[3];
        Reg_Add_By = values[4];
        Reg_Add_Date = values[5];
        Reg_Edit_By = values[6];
        Reg_Edit_Date = values[7];
        Reg_Action_Status = values[8];
        Reg_Action_By = values[9];
        Reg_Action_Date = values[10];
        xtemp_ID = values[0];
        xtemp_0 = values[2];
        xtemp_1 = values[1];
        xtemp_2 = values[12];
        xtemp_3 = values[11]
        xtemp_4 = values[13];
        xtemp_5 = values[3];
        xtemp_6 = values[14];
        memDate = values[15];
        vdate = values[16];
        xDate = values[5];
        receiptNo = values[17];
        receipt_ID = values[18];
        MS_REC_ID = values[19];
        Member_Name = values[2];
        MagReg_UpdateFooterDetail(Reg_ID, Reg_Action_Status, Reg_Add_Date, Reg_Add_By,
        Reg_Action_Date, Reg_Action_By, Reg_Edit_Date, Reg_Edit_By);
    }

    function MagRegDbClickOnGetRowValues(FDData) {
        var values = FDData.split("![");
        Reg_ID = values[0];
        Reg_Membership_ID = values[1];
        Reg_Member_Name = values[2];
        Reg_MM_MEMBER_ID = values[3];
        Reg_Add_By = values[4];
        Reg_Add_Date = values[5];
        Reg_Edit_By = values[6];
        Reg_Edit_Date = values[7];
        Reg_Action_Status = values[8];
        Reg_Action_By = values[9];
        Reg_Action_Date = values[10];
        //xtemp_ID = values[0];
        //xtemp_0 = values[2];
        //xtemp_1 = values[1];
        //xtemp_2 = values[12];
        //xtemp_3 = values[11]
        //xtemp_4 = values[13];
        //xtemp_5 = values[3];
        //xtemp_6 = values[14];
        //memDate = values[15];
        //vdate = values[16];
        //xDate = values[17];
        //receiptNo = values[18];
        //receipt_ID = values[19];
        //MS_REC_ID = values[20];
        Member_Name = values[21];
        MagReg_UpdateFooterDetail(Reg_ID, Reg_Action_Status, Reg_Add_Date, Reg_Add_By,
            Reg_Action_Date, Reg_Action_By, Reg_Edit_Date, Reg_Edit_By);
        MagEditData(MS_REC_ID);
    }

    function MagReg_UpdateFooterDetail(Reg_ID, Reg_Action_Status, Reg_Add_Date, Reg_Add_By, Reg_Action_Date, Reg_Action_By, Reg_Edit_Date, Reg_Edit_By) {
        Reg_Action_Date = Reg_Action_Date != "" && Reg_Action_Date != null ? Reg_Action_Date : Reg_Action_Date;
        Reg_Edit_Date = Reg_Edit_Date != "" && Reg_Edit_Date != null ? Reg_Edit_Date : Reg_Edit_Date;
        Reg_Add_Date = Reg_Add_Date != "" && Reg_Add_Date != null ? Reg_Add_Date : Reg_Add_Date;
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/CreationDetail",
            data: {
                Xrow: Reg_ID, Action_Status: Reg_Action_Status, Add_Date: Reg_Add_Date,
                Add_By: Reg_Add_By, Action_Date: Reg_Action_Date, Action_By: Reg_Action_By, Edit_Date: Reg_Edit_Date, Edit_By: Reg_Edit_By
            },
            cache: false,
            success: function (PropertyLbl_result) {
                $('#Property_Lbl_ActionOn').text(PropertyLbl_result.Lbl_StatusOn);
                $('#Property_Lbl_ActionBy').text(PropertyLbl_result.Lbl_StatusBy);
                $('#PropertyLbl_Status').text(PropertyLbl_result.Lbl_Status);
                $('#PropertyLbl_Create').text(PropertyLbl_result.Lbl_Create);
                $('#PropertyLbl_Modify').text(PropertyLbl_result.Lbl_Modify);
                if (PropertyLbl_result.Lbl_Status_Color != "") {
                    $('#PropertyLbl_Status').css('color', PropertyLbl_result.Lbl_Status_Color);
                }
                if (PropertyLbl_result.Pic_Status != "") {
                    $('#Property_LockICON').css('class', PropertyLbl_result.Pic_Status);
                }
            }
            })

    }
    function MagEditData(MS_REC_ID)
    {
        debugger
        IsPropertyViewPopup = false;
        if (MS_REC_ID == 'undefined' || MS_REC_ID == undefined) {
            //DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            //return;
        }
        $("#PopUp_frm_MagazineRecReg_Window").dxPopup("show");
        $("#PopUp_frm_MagazineRecReg_Window").dxPopup("instance").option("title", "New ~ Magazine Receipt Register");
        $("#MagazineReceiptRegresult").html('');
        ShowLoader();
        $("#MagazineReceiptRegresult").load("@Url.Action("Frm_Magazine_Recei_Reg_Subscribe", "MagazineReceiptRegister", new { @area = "Magazine" })?ActionMethod=" + "Edit" + "&REC_ID=" + encodeURIComponent(MS_REC_ID) + "&Row_Index=" + encodeURIComponent(Row_Index), function () {
            HideLoader();
        });

    }

    // Subscription
    function OnPropertySubscription() {
        IsMagazineRecregViewPopup = true;
        $("#PopUp_frm_MagazineRecReg_Window").dxPopup("show");
        $("#PopUp_frm_MagazineRecReg_Window").dxPopup("instance").option("title", "New ~ Magazine Receipt Register");
        $("#MagazineReceiptRegresult").html('');
        ShowLoader();
        $("#MagazineReceiptRegresult").load("@Url.Action("Frm_Magazine_Recei_Reg_Subscribe", "MagazineReceiptRegister", new { @area = "Magazine" })?ActionMethod=New", function () {
            HideLoader();
        });
    }

    // CancelledList load the data
    function OnMagazineRegCancelledList() {
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/Frm_Magazine_Cancelled_Register",
            cache: false,
            success: function (data) {
                OpenPopup("popup_CancelledList_Window", "Cancelled Magazine Receipts", null, "auto", 900, true, data);
            }
        });
        @*$("#popup_CancelledList_Window").dxPopup("show");
        $("#popup_CancelledList_Window").dxPopup("instance").option("title", "Cancelled Magazine Receipts");
        $("#popup_CancelledList_Window_result").html('');
        ShowLoader();
        $("#popup_CancelledList_Window_result").load("@Url.Action("Frm_CancelledList_Info_Grid", "MagazineReceiptRegister", new { @area = "Magazine" })", function () {
            HideLoader();
        });*@
    }
    // Cancelled list  popup closed
    function OnCancelledListClose()
    {
        $("#popup_CancelledList_Window").dxPopup("hide");
    }
    var MagazineRR_PeriodSelectionFirstTime = true;
    //Change Period click function
    function ChangePeriodClick_MagazineRR()
    {
        debugger;
        @*$("#popup_changeperiod_Window").dxPopup("show");
        $("#popup_changeperiod_Window").dxPopup("instance").option("title", "Magazine Receipt Register");
        $("#popup_changeperiod_Window_result").load("@Url.Action("Frm_Magazine_Recei_Reg_Period", "MagazineReceiptRegister", new { @area = "Magazine" })", function () {
        });*@
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/Frm_Magazine_Recei_Reg_Period",
            cache: false,
            data: { PeriodSelectionFirstTime: MagazineRR_PeriodSelectionFirstTime },
            success: function (data) {
                ShowLoader();
                OpenPopup("popup_changeperiod_Window_result", "Change Period", false, "auto", "45%", true, data);
                HideLoader();
            }
        });
    }
    //LookUp ViewType change event
    function PeriodSelectionChange_MagazineRR(e) {
        debugger
        var SelectBox = $("#Cmb_View").dxSelectBox("instance").option("value");
        $('#btnChangeDate').prop('onclick', null).off('click');
        $(".dx-span").addClass('disabledButton');
        if (e.value == 20) {
            $(".dx-span").removeClass('disabledButton');
            ChangePeriodClick_MagazineRR();
            //$("#btnChangeDate").on("click", function () { Changedate(); });
            return false;
        }
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/Cmb_View_SelectedIndexChanged",
            data: { SelectedIndex: e.value },
            cache: false,
            success: function (data) {
                debugger;
                //if (data.result == "true" || data.result == true) {
                MagazineRR_PeriodSelectionFirstTime = false;
                $("#BE_View_Period").dxTextBox("instance").option("value", data.BE_View_Period);
                $("#Fromdate").val(data.Fromdate);
                $("#Todate").val(data.Todate);
                RefreshGridView("MagazineReceiRegListGrid");
                @*$("#BE_Stats").dxTextBox("instance").option("value", "@ViewBag.BE_Stats");*@
                //ShowLoader();
                @*$("#MagazinereloadPartialView").load("@Url.Action("GetGridData", "MagazineReceiptRegister", new { @area = "Magazine" })?FrmDate=" + data.Fromdate + "&Todate=" + data.Todate, function () {
                    HideLoader();
                });*@
                  //}
            }
        });
    }
    function OnMagazineRRChangeMode()
    {
        ShowLoader();
        if (MagazineRR_ShowHorizontalBar == 0)
        {
            MagazineRR_ShowHorizontalBar = 1;
            $("#MagazineRR_MasterToggleScrollBar").find("span").text("Default Data");
            $("#MagazineRR_MasterToggleScrollBar").width(110);
        }
        else
        {
            MagazineRR_ShowHorizontalBar = 0;
            $("#MagazineRR_MasterToggleScrollBar").find("span").text("Full Data");
            $("#MagazineRR_MasterToggleScrollBar").width(90);
        }
        $.ajax({
            url: '@Url.Action("Frm_Magazine_Recei_Reg_Info_Grid", "MagazineReceiptRegister")',
            type: "GET",
            data: { ShowHorizontalBar: MagazineRR_ShowHorizontalBar, Layout: MagazineRRGridLayout, VouchingMode: MagazineRR_IsVouchingMode, ViewMode: MagazineRR_ViewMode, ColumnToBeHidddenIndex: MagazineRR_ColumnToBeHidddenIndex, ColumnToBeShownIndex: MagazineRR_ColumnToBeShownIndex },
            success: function (res)
            {
                $("#MagazinereloadPartialView").html(res);
                if (MagazineRR_IsVouchingMode == true) {
                    $(".MagazineReceiRegListGrid_PreviewRow").hide();
                }
                else {
                    $(".MagazineReceiRegListGrid_PreviewRow").show();
                }
                GetSessionStorage("MagazineReceiRegListGrid");
            }
        });
        HideLoader();
    }
    function Frm_Change_Period_Success_MagazineRR(data) {
        HideLoader();
        MagazineRR_PeriodSelectionFirstTime = false;
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, 'Error!!');
        }
        else {
            $("#popup_changeperiod_Window_result").dxPopup("hide");
            $("#BE_View_Period").dxTextBox("instance").option("value", data.BE_View_Period);
            $("#Fromdate").val(data.FromDate);
            $("#Todate").val(data.ToDate);
            RefreshGridView("MagazineReceiRegListGrid");
            @*$("#BE_Stats").dxTextBox("instance").option("value", "@ViewBag.BE_Stats");*@
            //$("#MRR_BE_Cash_Bank").val(data.BE_Cash_Bank_Text);
            //ShowLoader();
            //Get_Cash_Bank_Balance();
            //HideLoader();
            //Grid_Display(null, false, true);
        }
    }
    //Change Period Ok Button click function
    function Changeperiod() {
        $("#lblerror").innerText = "";
        $("#lblerror").hide();
        debugger;
        var fromdate = $("#Fromdate").dxDateBox("instance").option("value");
        var todate = $("#Todate").dxDateBox("instance").option("value");
        if (fromdate == null) {
            $("#lblerror").html("Please Select Fromdate");
            $("#lblerror").show();
            return false;
        }
        if (todate == null) {
            $("#lblerror").html("Please Select Todate");
            $("#lblerror").show();
            return false;
        }
        $("#Fromdate").val(fromdate); //Hidden values
        $("#Todate").val(todate);  //Hidden values
        var Fdate = fromdate;
        var Tdate = todate;
        Fdate = new Date(Fdate);
        Tdate = new Date(Tdate);
        if (Fdate > Tdate) {
            $("#lblerror").html("Fromdate cannot be higher than Todate");
            $("#lblerror").show();
            return false;
        }
        $("#popup_changeperiod_Window").dxPopup("hide");
        var FDdate = (Fdate.getDate() < 10 ? "0" + Fdate.getDate() : Fdate.getDate()) + "-" + Fdate.toLocaleString("en-us", { month: "short" }) + ", " + Fdate.getFullYear();
        var TDdate = (Tdate.getDate() < 10 ? "0" + Tdate.getDate() : Tdate.getDate()) + "-" + Tdate.toLocaleString("en-us", { month: "short" }) + ", " + Tdate.getFullYear();
        $("#BE_View_Period").dxTextBox("instance").option("value", "Fr.: " + FDdate + " to  " + TDdate);
        if (fromdate != null && todate != null)
        {
            @*ShowLoader();
            $("#MagazinereloadPartialView").load("@Url.Action("GetGridData", "MagazineReceiptRegister", new { @area = "Magazine" })?FrmDate=" + fromdate + "&Todate=" + todate, function () {
                HideLoader();
            });*@
            RefreshGridView("MagazineReceiRegListGrid");
        }
    }
    //Export Magazine Receipt Register
    function OnMagazineRegListPreviewClick() {
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineReceiptRegister/Frm_Export_Options",
            cache: false,
            success: function (data) {
                OpenPopup("MagazineReceiptReg_report_modal", "", null, "auto", 1024, true, data);
            }
        });
        @*$("#MagazineReceiptReg_report_modal").dxPopup("show");
        $("#MagazineReceiptReg_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#MagazineReceiptReg_report_modal").html('');
        ShowLoader();
        $("#MagazineReceiptReg_report_modal_result").load("@Url.Action("Frm_Export_Options", "MagazineReceiptRegister", new { @area = "Magazine" })", function () {
            HideLoader();
        });*@
    }
    //Export Cancelled list data
    @*function OnCancelledListPreviewClick()
    {
        $("#MagazineReceiptReg_report_modal").dxPopup("show");
        $("#MagazineReceiptReg_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#MagazineReceiptReg_report_modal").html('');
        ShowLoader();
        $("#MagazineReceiptReg_report_modal_result").load("@Url.Action("Frm_CancelledList_Export_Options", "MagazineReceiptRegister", new { @area = "Magazine" })", function () {
            HideLoader();
        });
    }*@

    function GetSelectedFieldValuesCallback(values) {
        SelectedRows.BeginUpdate();
        try {
            SelectedRows.ClearItems();
            for (var i = 0; i < values.length; i++) {
                SelectedRows.AddItem(values[i]);
            }
        } finally {
            SelectedRows.EndUpdate();
        }
        $("#count").html(gvRowSelection.GetSelectedRowCount());

    }

    function MagazineRegContextMenuFunction(s, e) {
        debugger
        var ActionMethod = "";
        if (e.item.name == 'Subscribe') {
            OnPropertySubscription();
        }
        if (e.item.name == 'GenerateReceipt') {
            ActionMethod = "RECEIPT - GENERATE";
            Generate_or_Print_Receipt(ActionMethod);
        }
        else if (e.item.name == 'PrintReceiept') {
            ActionMethod = "RECEIPT - PRINT";
            Generate_or_Print_Receipt(ActionMethod);
        }
        else if (e.item.name == 'ReceiptCancel') {
            ActionMethod = "RECEIPT - CANCELLED";
            Generate_or_Print_Receipt(ActionMethod);
        }
        else if (e.item.name == 'ListPreview') {
            OnMagazineRegListPreviewClick();
        }
        else if (e.item.name == 'Discontinue') {
            OnPropertyDiscontinueClick();
        }
        else if (e.item.name == 'Refresh') {
            MagazineReceiRegListGrid.Refresh();
        }

    }
    function OnFrm_Add_Address_Click(ActionMethod) {
        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/Magazine/MagazineMaster/Frm_Address_Info_Window_Small",
            data:
            {
                ActionMethod: ActionMethod,
                RecordID: Reg_MM_MEMBER_ID,
                RecordTxtName: Reg_Member_Name
            },
            success: function (result) {
                HideLoader();
                $("#Frm_Add_Or_Address").dxPopup("show");
                $("#Frm_Add_Or_Address").dxPopup("instance").option("title", "New ~ Address Book (Magazine Member)");
                $("#Frm_Add_Or_Address").dxPopup("instance").option("maxHeight", "72%");
                $("#_result_Frm_Add_Or_Address_Popup").html(result);

            }
        });

    }
    function OnFrm_Clear_Click() {
        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/Magazine/MagazineReceiptRegister/toClearSession",
            data: {},
            success: function (e) {
                SubscriptionDetails_Window_Grid.Refresh();
                PaymentDetails_Window_Grid.Refresh();
                $("#BE_CCMemberName").dxDropDownBox("instance").option("value", "");
                $("#Cmb_SearchType").dxSelectBox("instance").option("value", "");
                $("#PC_MemberName").dxTextBox("instance").option("value", "");
                $("#Txt_MS_ID").dxTextBox("instance").option("value", "");
                $("#Txt_MS_Old_ID").dxTextBox("instance").option("value", "");
                $("#BE_MagazineName").dxDropDownBox("instance").option("value", "");
                $("#BE_Language").dxTextBox("instance").option("value", "");
                $("#BE_Publish_On").dxTextBox("instance").option("value", "");
                $("#Cmb_CC_MemType").dxSelectBox("instance").option("value", "");
                $("#BE_Name").dxTextBox("instance").option("value", "");
                $("#BE_Address_1").dxTextBox("instance").option("value", "");
                $("#BE_Address_2").dxTextBox("instance").option("value", "");
                $("#BE_Address_3").dxTextBox("instance").option("value", "");
                $("#BE_Address_4").dxTextBox("instance").option("value", "");
                $("#BE_Address_5").dxTextBox("instance").option("value", "");
                $("#BE_Address_6").dxTextBox("instance").option("value", "");
                $("#Cmb_MemType").dxSelectBox("instance").option("value", "");
                $("#Lbl_SubsCurrTxn").dxNumberBox("instance").option("value", "");
                $("#Lbl_PmtCurrTxn").dxNumberBox("instance").option("value", "");
                $("#Lbl_OtherCurrTxn").dxNumberBox("instance").option("value", "");
                $("#Lbl_SubsDuringYear").dxNumberBox("instance").option("value", "");
                $("#Lbl_Pmt_Total").dxNumberBox("instance").option("value", "");
                $("#Lbl_Other_Total").dxNumberBox("instance").option("value", "");
                $("#ME_OtherDetails").dxTextBox("instance").option("value", "");
                $("#Txt_Nxt_Issue_Date").dxDateBox("instance").option("value", "");
                $("#lblCurrActivity").dxTextBox("instance").option("value", "")
                $("#Lbl_ActiveSubsPeriod").dxTextBox("instance").option("value", "");
                $("#lblDispatchCount").dxTextBox("instance").option("value", "");
                $("#Chk_ConCenter").dxCheckBox("instance").option("value", false);
                $("#Chk_Sponsored").dxCheckBox("instance").option("value", false);
                HideLoader();
            }
        });
    }
    function OnFrm_Manage_Address_Click() {
        debugger
        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/Facility/AddressBook/Frm_Address_Info_dx",
            data: {},
            cache: false,
            success: function (result) {
                $("#PopUp_CancelReciept").dxPopup("show");
                $("#PopUp_CancelReciept").dxPopup("instance").option("maxHeight", "100%");
                $("#PopUp_CancelReciept").dxPopup("instance").option("maxWidth", "100%");
                $("#PopUp_CancelReciept_Result").html(result);
                HideLoader();
            },
            error: function (e) {

            }
        });
    }
    function convertPdf() {
        debugger;
        ShowLoader();
      //  $('#id_PdfContent').replace('<button onclick="convertPdf()">Print</button>', '');
        var content = $('#id_PdfContent').html();
        html2canvas(content, {
            onrendered: function (canvas) {
                var imgWidth = 208;
                var pageHeight = 150;
                var imgHeight = canvas.height * imgWidth / canvas.width;
                var img = canvas.toDataURL("image/png");
                var doc = new jsPDF('p', 'mm', 'a4'); // A4 size page of PDF
                doc.addImage(img, 'PNG', 10, 10, imgWidth, imgHeight);
                doc.save('test.pdf');
            }
        });
        HideLoader();
    }
    function Generate_or_Print_Receipt(ActionMethod)
    {
        if (ActionMethod == "RECEIPT - PRINT") {
            if (xtemp_ID == 'undefined' || xtemp_ID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }
        ShowLoader();
       $.ajax({
            url: '@Url.Action("MagazineReceiptRegister_Print", "MagazineReceiptRegister")',
           type: "GET",
           data: { ID: xtemp_ID },
            success: function (res)
            {
                HideLoader();
                $("#PopUp_GenerateREciept").dxPopup("hide");
                if (res.jsonParam != undefined) {
                    DevExpress.ui.dialog.alert(res.jsonParam.message, res.jsonParam.title);
                }
                else {
                        OpenPopup("OpenMagazineRRPopup", "Magazine Receipt Register", null, "auto", "100%", true, res);
                    }
            }
       });
            return;
        }
        if (xtemp_ID == 'undefined' || xtemp_ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        if (xtemp_3 == undefined || xtemp_3 == "undefined"|| xtemp_3 == null || xtemp_3=="null") {
            xtemp_3 = "";
        }
        else {
            xtemp_3 = xtemp_3.replace(".", ",");
        }
        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/Magazine/MagazineReceiptRegister/DataNavigation",
            data: {
                ActionMethod: ActionMethod,
                xTemp_ID: xtemp_ID,
                xTemp_0: xtemp_0,
                xTemp_1: xtemp_1,
                xTemp_2: xtemp_2,
                xTemp_3: xtemp_3,
                xTemp_4: xtemp_4,
                xTemp_5: xtemp_5,
                xTemp_6: xtemp_6,
                Memdate: memDate,
                Vdate: vdate,
                AddDate: xDate,
                Receipt_No: receiptNo,
                Receipt_ID: receipt_ID
            },
            success: function (data) {
                HideLoader();
                if (data.jsonParam.result == false) {
                    DevExpress.ui.dialog.alert(data.jsonParam.message,data.jsonParam.title);
                }
                //if (data.flag == "ReceiptPrint") {


                //    var margin = {
                //        top: 0,
                //        left: 0,
                //        right: 0,
                //        bottom: 0
                //    };

                //    //var doc = new jsPDF();
                //    var pdfcontent = data.PdfContent;
                //    $("#Frm_Print_Pdf").dxPopup("show");
                //    $("#Frm_Print_Pdf").dxPopup("instance").option("maxHeight", "67%");
                //    $("#Frm_Print_Pdf").dxPopup("instance").option("maxWidth", "65.5%");
                //    $("#_result_Frm_Print_Pdf_Popup").html(pdfcontent);
                //    HideLoader();
                //}

                if (data.flag == "ReceiptCancel") {
                    $.ajax({
                        type: "Get",
                        url: "/Magazine/MagazineReceiptRegister/Frm_Magazine_Receipt_Cancel",
                        data: {
                            xTemp_0: data.successParams.XTemp_0,
                            XTemp_4: data.successParams.XTemp_4,
                            XTemp_1: data.successParams.XTemp_1,
                            XTemp_5: data.successParams.XTemp_5,
                            XTemp_6: data.successParams.XTemp_6,
                            XTemp_7: data.successParams.XTemp_7,
                        },
                        success: function (result) {
                            //$("#PopUp_CancelReciept").dxPopup("show");
                            //$("#PopUp_CancelReciept").dxPopup("instance").option("maxHeight", "35%");
                            //$("#PopUp_CancelReciept").dxPopup("instance").option("maxWidth", "55%");
                            //$("#PopUp_CancelReciept_Result").html(result);
                            OpenPopup("PopUp_CancelReciept", "Magazine Receipt Register", null, "auto", "55%", true, result);
                        },
                        error: function (error) {

                        }
                    });
                }
                if (data.flag == "ReceiptGenerate") {
                    debugger;
                    var successJsonString = JSON.stringify(data.successParams)
                    $.ajax({
                        type: "GET",
                        url: "/Magazine/MagazineReceiptRegister/Prompt_Window",
                        data:
                        {
                            ActionMethod: data.successParams.actionMethod,
                            Member_Name: data.successParams.Member_Name,
                            Membership_No: data.successParams.Membership_No,
                            Membership: data.successParams.Membership,
                            Period: data.successParams.Period,
                            Amount: data.successParams.Amount,
                            xDate: data.successParams.xDate,
                            xTemp_ID: data.successParams.XTemp_ID,
                            MemDate: data.successParams.memDate,
                            vDate: data.successParams.vDate,
                            xTemp_5: data.successParams.XTemp_5,
                            xTemp_6: data.successParams.XTemp_6,
                            Flag: "RECEIPT - GENERATE",
                            Receipt_No: data.successParams.receiptNo
                        },
                        success: function (result) {
                            debugger
                            //$("#PopUp_GenerateREciept").dxPopup("show");
                            //$("#PopUp_GenerateREciept").dxPopup("instance").option("maxHeight", "30%");
                            //$("#PopUp_GenerateREciept").dxPopup("instance").option("maxWidth", "50%");
                            //$("#id_Popup_GenerateReceipt_Result").html(result);
                            OpenPopup("PopUp_GenerateREciept", "Confirmation...", null, "auto", "50%", true, result);
                        }
                    });
                }
            },
            error: function (e) {
                debugger
            }
        });

    }

    function ReceiptGenrate(member_Name, Membership_No, Membership, Period,Amount,XDate, XTemp_ID, memDate, XTemp_5, XTemp_6,VDate,ReceiptNo) {
        debugger
        $.ajax({
            type: "GET",
            url: "/Magazine/MagazineReceiptRegister/ReceiptGenerate",
            data: {
                ActionMethod: "RECEIPT - PRINT",
                xTemp_ID: xtemp_ID,
                xTemp_0: xtemp_0,
                xTemp_1: xtemp_1,
                xTemp_2: xtemp_2,
                xTemp_3: xtemp_3.replace(".", ","),
                xTemp_4: xtemp_4,
                xTemp_5: xtemp_5,
                xTemp_6: xtemp_6,
                Memdate: memDate,
                Vdate: vdate,
                xDate: xDate,
               Receipt_No: ReceiptNo,

            },
            success: function (data) {
                debugger
                if (data.jsonParam.result == true) {
                    var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message,data.jsonParam.title);
                    $("#PopUp_GenerateREciept").dxPopup("hide");
                    RefreshGridView("MagazineReceiRegListGrid");
                    debugger
                    alertclick.done(function (alertResult) {
                        if (alertResult) {
                            $.ajax({
                                type: "GET",
                                url: "/Magazine/MagazineReceiptRegister/Prompt_Window",
                                data: {
                                    ActionMethod: data.successParams.actionMethod,
                                    Member_Name: data.successParams.Member_Name,
                                    Membership_No: data.successParams.Membership_No,
                                    Membership: data.successParams.Membership,
                                    Period: data.successParams.Period,
                                    Amount: data.successParams.Amount,
                                    xDate: data.successParams.xDate,
                                    xTemp_ID: data.successParams.XTemp_ID,
                                    MemDate: data.successParams.memDate,
                                    vDate: data.successParams.vDate,
                                    xTemp_5: data.successParams.XTemp_5,
                                    xTemp_6: data.successParams.XTemp_6,
                                    Flag: "Print_Receipt"
                                },
                                success: function (result) {
                                    debugger
                                    //$("#PopUp_GenerateREciept").dxPopup("show");
                                    //$("#PopUp_GenerateREciept").dxPopup("instance").option("maxHeight", "30%");
                                    //$("#PopUp_GenerateREciept").dxPopup("instance").option("maxWidth", "50%");
                                    //$("#id_Popup_GenerateReceipt_Result").html(result);
                                    OpenPopup("PopUp_GenerateREciept", "Receipt Generation", null, "auto", "50%", true, result);
                                },
                                error: function (e) {

                                }
                            });
                        }
                    });
                }
            },
            error: function (error) {
                alert(error);
            }
        });

    }
    //function PrintReceipt(member_Name, Membership_No, Membership, Period, Amount, XDate, XTemp_ID, memDate, XTemp_5, XTemp_6, VDate, ReceiptNo) {
    //    $.ajax({
    //        type: "GET",
    //        url: "/Magazine/MagazineReceiptRegister/DataNavigation",
    //        data: {
    //            ActionMethod: "RECEIPT - PRINT",
    //            xTemp_ID: xtemp_ID,
    //            xTemp_0: xtemp_0,
    //            xTemp_1: xtemp_1,
    //            xTemp_2: xtemp_2,
    //            xTemp_3: xtemp_3.replace(".", ","),
    //            xTemp_4: xtemp_4,
    //            xTemp_5: xtemp_5,
    //            xTemp_6: xtemp_6,
    //            Memdate: memDate,
    //            Vdate: vdate,
    //            AddDate: xDate
    //        },
    //        success: function (data) {
    //            debugger
    //            if (data.result == false) {
    //                DevExpress.ui.dialog.alert(data.Message);
    //            }
    //            else {
    //                var successJsonString = JSON.stringify(data.successParams)
    //                $.ajax({
    //                    type: "GET",
    //                    url: "/Magazine/MagazineReceiptRegister/Prompt_Window",
    //                    data:
    //                    {
    //                        ActionMethod: data.successParams.actionMethod,
    //                        Member_Name: data.successParams.Member_Name,
    //                        Membership_No: data.successParams.Membership_No,
    //                        Membership: data.successParams.Membership,
    //                        Period: data.successParams.Period,
    //                        Amount: data.successParams.Amount,
    //                        xDate: data.successParams.xDate,
    //                        xTemp_ID: data.successParams.XTemp_ID,
    //                        MemDate: data.successParams.memDate,
    //                        vDate: data.successParams.vDate,
    //                        xTemp_5: data.successParams.XTemp_5,
    //                        xTemp_6: data.successParams.XTemp_6,
    //                        Flag: "Genreate_Receipt"
    //                    },
    //                    success: function (result) {
    //                        $("#PopUp_GenerateREciept").dxPopup("show");
    //                        $("#PopUp_GenerateREciept").dxPopup("instance").option("maxHeight", "30%");
    //                        $("#PopUp_GenerateREciept").dxPopup("instance").option("maxWidth", "50%");
    //                        $("#id_Popup_GenerateReceipt_Result").html(result);
    //                    }
    //                });
    //            }
    //        },
    //        error: function (e) {
    //        }
    //    });
    //}

    //function PrintRecieptClick(ActionMethod) {
    //    ShowLoader();
    //    $.ajax({
    //        type:"GET",
    //        url: "/Magazine/MagazineReceiptRegister/PrintReciptByPdf",
    //        data: {
    //            ActionMethod: ActionMethod,
    //            xTemp_ID: xtemp_ID,
    //            xTemp_0: xtemp_0,
    //            xTemp_1: xtemp_1,
    //            xTemp_2: xtemp_2,
    //            xTemp_3: xtemp_3.replace(".", ","),
    //            xTemp_4: xtemp_4,
    //            xTemp_5: xtemp_5,
    //            xTemp_6: xtemp_6,
    //            Memdate: memDate,
    //            Vdate: vdate,
    //            AddDate: xDate,
    //            Receipt_No: receiptNo
    //        },
    //        success: function (data) {
    //            HideLoader();

    //            var margin = {
    //                top: 0,
    //                left: 0,
    //                right: 0,
    //                bottom: 0
    //            };

    //            var doc = new jsPDF();
    //            var pdfcontent = data.PdfContent;
    //            $("#Frm_Print_Pdf").dxPopup("show");
    //            $("#Frm_Print_Pdf").dxPopup("instance").option("maxHeight", "67%");
    //            $("#Frm_Print_Pdf").dxPopup("instance").option("maxWidth", "65.5%");
    //            $("#_result_Frm_Print_Pdf_Popup").html(pdfcontent);
    //            HideLoader();
    //        }
    //    });
    //}
    function toApplyForCanceReceipt(xTemp_7) {
        ShowLoader();
       var reason=  $('#IDReason').dxTextBox('instance').option('value');
        $.ajax({
            type: "POST",
            url: "/Magazine/MagazineReceiptRegister/ApplyToCancelReceipt",
            data: {
                ActionMethod:"Edit",
                XTemp_7: xTemp_7,
                Reason: reason
            },
            success: function (result) {
                HideLoader();
                if (result.jsonParam.result == false) {
                    var alertclick = DevExpress.ui.dialog.alert(result.jsonParam.message,result.jsonParam.title);
                    alertclick.done(function (alertResult) {
                        if (alertResult) {
                            if (result.jsonParam.focusid) {
                                var id = "#" + result.jsonParam.focusid;
                                setTimeout(function () {
                                    $(id).find('input').focus();
                                }, Timeout500);
                            }
                        }
                    });
                }
                else {
                    $("#PopUp_CancelReciept").dxPopup("hide");
                    DevExpress.ui.dialog.alert(result.jsonParam.message,result.jsonParam.title);
                    RefreshGridView("MagazineReceiRegListGrid");
                }


            },
            error: function (e) {

            }
        });
    }
    function toCancel() {
        $("#PopUp_CancelReciept").dxPopup("hide");
        $("#PopUp_GenerateREciept").dxPopup("hide");        
    }
</script>



