@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Magazine.Models.MagazineReciptReginfo
<div>
    <span>Print MemberShip Receipt Now...?</span>
</div>
<div>
    @*@Html.Hidden(Model.xDate)*@
    <div> <span>Member Name : </span><span>@(Model.Member_Name)</span></div>
    <div> <span>Member No : </span><span>@(Model.Membership_No)</span></div>
    <div> <span>Member Membership : </span><span>@(Model.Membership)</span></div>
    <div> <span>Member Period : </span><span>@(Model.Period)</span></div>
    <div> <span>Member Amount : </span><span>@(Model.Amount)</span></div>
</div>
<div>
    <span onclick='ReceiptGenrate("RECEIPT - PRINT","@(Model.xDate)","@(Model.xTemp_ID)","@(Model.MemDate)","@(Model.xTemp_5)", "@(Model.xTemp_6)")'>Yes</span>
    @*@(Html.DevExtreme().Button().ID("Yes").Text("Yes").OnClick(@<text>  function () {
        OpenMatchedCoreLocationPopUp();
        } </text>))*@
    @(Html.DevExtreme().Button().ID("Cancel").Text("Cancel"))
</div>