@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Magazine.Models.MagazineReciptRegInfo
<style>
    .confirm_head 
    {
        font-size: 20px;
        color: #0e007f;
        text-decoration: underline;
        font-weight: 500;
    }
    .confirm_label
    {
        color: #0831b0;
        font-size: 16px;
        font-weight: 400;
    }
    .label_red 
    {
        color: #7b0041;
        font-weight:600;
    }
    .confirm_btn 
    {
        height: 36px;
        line-height: 36px;
        width: 100%;
        display: block;
        text-align: right;
        border-top: 1px solid #53b1f8;
        margin-top: 12px;
    }
    #result_PopUp_GenerateREciept 
    {
        background-color: #ecf6ff;
    }
</style>
<script>
    function OpenMatchedCoreLocationPopUp() {
        debugger
    }

</script>
@if (Model.flag == "RECEIPT - GENERATE")
{
    <div class="confirm_head">
        Sure you want to Generate Receipt Of this Entry ?
    </div>
}
else
{
<div class="confirm_head">
    Print Membership Receipt Now...? 
</div>
}

<div>
    @*@Html.Hidden(Model.xDate)*@
    <div class="row">
        <div class="col-sm-4">
            <span class="confirm_label">Member Name </span>
        </div>
        <div class="col-sm-8">
            <span class="confirm_label label_red">: @(Model.Member_Name)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span class="confirm_label">Member No </span>
        </div>
        <div class="col-sm-8">
            <span class="confirm_label">: @(Model.Membership_No)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span class="confirm_label">Member Membership</span>
        </div>
        <div class="col-sm-8">
            <span class="confirm_label">: @(Model.Membership)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span class="confirm_label">Member Period</span>
        </div>
        <div class="col-sm-8">
            <span class="confirm_label">: @(Model.Period)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span class="confirm_label">Member Amount</span>
        </div>
        <div class="col-sm-8">
            <span class="confirm_label">: @(Model.Amount)</span>
        </div>
    </div>
</div>
@if (Model.flag == "RECEIPT - GENERATE")
{
<div class="confirm_btn">
    @(Html.DevExtreme().Button().ID("Yes").Text("Yes").Disabled(false).OnClick(@<text> function () { ReceiptGenrate("@(Model.Member_Name)","@(Model.Membership_No)","@(Model.Membership)","@(Model.Period)","@(Model.Amount)","@(Model.xDate)","@(Model.xTemp_ID)","@(Model.MemDate)","@(Model.xTemp_5)", "@(Model.xTemp_6)","@(Model.vDate)",@(Model.Receipt_NO)) } </text>) )
    @*<span onclick='ReceiptGenrate("@(Model.Member_Name)","@(Model.Membership_No)","@(Model.Membership)","@(Model.Period)","@(Model.Amount)","@(Model.xDate)","@(Model.xTemp_ID)","@(Model.MemDate)","@(Model.xTemp_5)", "@(Model.xTemp_6)","@(Model.vDate)",@(Model.Receipt_NO))'>Yes</span>*@
    @*@(Html.DevExtreme().Button().ID("Yes").Text("Yes").OnClick(@<text>  function () {
        OpenMatchedCoreLocationPopUp();
        } </text>))*@
    @(Html.DevExtreme().Button().ID("No").Text("No").OnClick(@<text> function() { toCancel(); } </text>))
</div>
}
else
{
<div class="confirm_btn">
    @(Html.DevExtreme().Button().ID("Yes").Text("Yes").Disabled(false).OnClick(@<text> function () { Generate_or_Print_Receipt("RECEIPT - PRINT") } </text>) )
    @*<span onclick='PrintReceipt("@(Model.Member_Name)","@(Model.Membership_No)","@(Model.Membership)","@(Model.Period)","@(Model.Amount)","@(Model.xDate)","@(Model.xTemp_ID)","@(Model.MemDate)","@(Model.xTemp_5)", "@(Model.xTemp_6)","@(Model.vDate)","@(Model.Receipt_NO)")'>Yes</span>*@
    @*<span onclick='GenerateReceipt("RECEIPT - PRINT")'>Yes</span>*@
    @*@(Html.DevExtreme().Button().ID("Yes").Text("Yes").OnClick(@<text>  function () {
        OpenMatchedCoreLocationPopUp();
        } </text>))*@
    @(Html.DevExtreme().Button().ID("No").Text("No").OnClick(@<text> function() { toCancel(); } </text>))
</div>
}
