<div class="JournalVoucher_ItemAccount_ClearReferences">
    @model ConnectOneMVC.Areas.Account.Models.JournalVoucher_Item
    @using DevExtreme.AspNet.Mvc;
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
        bool IsVisible = (Model.ActionMethod_JV_Itm == "_Delete" || Model.ActionMethod_JV_Itm == "_View") ? true : false;
    }
    <div id="Frm_Voucher_Win_JV_Item">
        @using (Ajax.BeginForm("Frm_Voucher_Win_Journal_New_Item_Detail", "JournalVoucher",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "Frm_Voucher_Win_Journal_New_Item_Detail",
                InsertionMode = InsertionMode.InsertAfter,
                OnBegin = "AjaxBeginFormPost",
                OnSuccess = "Item_DetailAjaxSuccess_JV_Itm"
            },
            new
            {
                id = "Frm_Voucher_Win_Journal_New_Item_Detail",
                @class = "edit_form form-horizontal"
            }
            ))
        {
            @Html.HiddenFor(x => x.ActionMethod_JV_Itm)
            @Html.HiddenFor(x => x.Sr)
            @Html.HiddenFor(x => x.Me_Text_JV_Itm)

            @Html.HiddenFor(x => x.GLookUp_ItemName_JV_Itm)
            @Html.HiddenFor(x => x.GLookUp_PartyName_JV_Itm)
            @Html.HiddenFor(x => x.GLookUp_PurName_JV_Itm)
            @Html.HiddenFor(x => x.iTxnM_ID_JV_Itm)
            @Html.HiddenFor(x => x.iLed_ID_JV_Itm)
            @Html.HiddenFor(x => x.iParty_Req_JV_Itm)
            @Html.HiddenFor(x => x.iProfile_JV_Itm)
            @Html.HiddenFor(x => x.iPartyID_JV_Itm)
            @Html.HiddenFor(x => x.iSpecific_ItemID_JV_Itm)
            @Html.HiddenFor(x => x.iPur_ID_JV_Itm)
            @Html.HiddenFor(x => x.Cross_RefID_JV_Itm)
            @Html.HiddenFor(x => x.RefItem_RecEditOn_JV_Itm)
            @Html.HiddenFor(x => x.Party_RecEditOn_JV_Itm)
            @Html.HiddenFor(x => x.Qty_JV_Itm)
            @Html.HiddenFor(x => x.iTDScode_JV_Itm)
            @Html.HiddenFor(x => x.iTop_JV_Itm)
            @Html.HiddenFor(x => x.iReference_JV_Itm)
            @Html.HiddenFor(x => x.X_LOC_ID_JV_Itm)
            @Html.HiddenFor(x => x.Calc_Allow_JV_Itm)            
            @Html.HiddenFor(x => x.BE_Party_Category_JV_Itm)            

            @Html.HiddenFor(x => x.GS_DESC_MISC_ID_JV_Itm)
            @Html.HiddenFor(x => x.GS_ITEM_WEIGHT_JV_Itm)

            @Html.HiddenFor(x => x.AI_TYPE_JV_Itm)
            @Html.HiddenFor(x => x.AI_MAKE_JV_Itm)
            @Html.HiddenFor(x => x.AI_MODEL_JV_Itm)
            @Html.HiddenFor(x => x.AI_SERIAL_NO_JV_Itm)
            @Html.HiddenFor(x => x.AI_PUR_DATE_JV_Itm)
            @Html.HiddenFor(x => x.AI_WARRANTY_JV_Itm)

            @Html.HiddenFor(x => x.LS_NAME_JV_Itm)
            @Html.HiddenFor(x => x.LS_BIRTH_YEAR_JV_Itm)
            @Html.HiddenFor(x => x.LS_INSURANCE_JV_Itm)
            @Html.HiddenFor(x => x.LS_INSURANCE_ID_JV_Itm)
            @Html.HiddenFor(x => x.LS_INS_POLICY_NO_JV_Itm)
            @Html.HiddenFor(x => x.LS_INS_DATE_JV_Itm)
            @Html.HiddenFor(x => x.LS_INS_AMT_JV_Itm)

            @Html.HiddenFor(x => x.VI_MAKE_JV_Itm)
            @Html.HiddenFor(x => x.VI_MODEL_JV_Itm)
            @Html.HiddenFor(x => x.VI_REG_NO_PATTERN_JV_Itm)
            @Html.HiddenFor(x => x.VI_REG_NO_JV_Itm)
            @Html.HiddenFor(x => x.VI_REG_DATE_JV_Itm)
            @Html.HiddenFor(x => x.VI_OWNERSHIP_JV_Itm)
            @Html.HiddenFor(x => x.VI_OWNERSHIP_AB_ID_JV_Itm)
            @Html.HiddenFor(x => x.VI_DOC_RC_BOOK_JV_Itm)
            @Html.HiddenFor(x => x.VI_DOC_AFFIDAVIT_JV_Itm)
            @Html.HiddenFor(x => x.VI_DOC_WILL_JV_Itm)
            @Html.HiddenFor(x => x.VI_DOC_TRF_LETTER_JV_Itm)
            @Html.HiddenFor(x => x.VI_DOC_FU_LETTER_JV_Itm)
            @Html.HiddenFor(x => x.VI_DOC_OTHERS_JV_Itm)
            @Html.HiddenFor(x => x.VI_DOC_NAME_JV_Itm)
            @Html.HiddenFor(x => x.VI_INSURANCE_ID_JV_Itm)
            @Html.HiddenFor(x => x.VI_INS_POLICY_NO_JV_Itm)
            @Html.HiddenFor(x => x.VI_INS_EXPIRY_DATE_JV_Itm)

            @Html.HiddenFor(x => x.LB_PRO_TYPE_JV_Itm)
            @Html.HiddenFor(x => x.LB_PRO_CATEGORY_JV_Itm)
            @Html.HiddenFor(x => x.LB_PRO_USE_JV_Itm)
            @Html.HiddenFor(x => x.LB_PRO_NAME_JV_Itm)
            @Html.HiddenFor(x => x.LB_PRO_ADDRESS_JV_Itm)
            @Html.HiddenFor(x => x.LB_OWNERSHIP_JV_Itm)
            @Html.HiddenFor(x => x.LB_OWNERSHIP_PARTY_ID_JV_Itm)
            @Html.HiddenFor(x => x.LB_SURVEY_NO_JV_Itm)
            @Html.HiddenFor(x => x.LB_TOT_P_AREA_JV_Itm)
            @Html.HiddenFor(x => x.LB_CON_AREA_JV_Itm)
            @Html.HiddenFor(x => x.LB_CON_YEAR_JV_Itm)
            @Html.HiddenFor(x => x.LB_RCC_ROOF_JV_Itm)
            @Html.HiddenFor(x => x.LB_DEPOSIT_AMT_JV_Itm)
            @Html.HiddenFor(x => x.LB_PAID_DATE_JV_Itm)
            @Html.HiddenFor(x => x.LB_MONTH_RENT_JV_Itm)
            @Html.HiddenFor(x => x.LB_MONTH_O_PAYMENTS_JV_Itm)
            @Html.HiddenFor(x => x.LB_PERIOD_FROM_JV_Itm)
            @Html.HiddenFor(x => x.LB_PERIOD_TO_JV_Itm)
            @Html.HiddenFor(x => x.LB_DOC_OTHERS_JV_Itm)
            @Html.HiddenFor(x => x.LB_DOC_NAME_JV_Itm)
            @Html.HiddenFor(x => x.LB_OTHER_DETAIL_JV_Itm)
            @Html.HiddenFor(x => x.LB_REC_ID_JV_Itm)
            @Html.HiddenFor(x => x.LB_ADDRESS1_JV_Itm)
            @Html.HiddenFor(x => x.LB_ADDRESS2_JV_Itm)
            @Html.HiddenFor(x => x.LB_ADDRESS3_JV_Itm)
            @Html.HiddenFor(x => x.LB_ADDRESS4_JV_Itm)
            @Html.HiddenFor(x => x.LB_STATE_ID_JV_Itm)
            @Html.HiddenFor(x => x.LB_DISTRICT_ID_JV_Itm)
            @Html.HiddenFor(x => x.LB_CITY_ID_JV_Itm)
            @Html.HiddenFor(x => x.LB_PINCODE_JV_Itm)
            @Html.HiddenFor(x => x.LB_ADDRESS_JV_Itm)
            @Html.HiddenFor(x => x.List_LB_DOCS_ARRAY_JV_Itm)
            @Html.HiddenFor(x => x.List_LB_EXTENDED_PROPERTY_TABLE_JV_Itm)

            @Html.HiddenFor(x => x.REF_REC_ID_JV_Itm)
            @Html.HiddenFor(x => x.iProfile_OLD_JV_Itm)
            @Html.HiddenFor(x => x.REFERENCE_JV_Itm)
            @Html.HiddenFor(x => x.WIP_REF_TYPE_JV_Itm)
            @Html.HiddenFor(x => x.iCond_Ledger_ID_JV_Itm)
            @Html.HiddenFor(x => x.iMinValue_JV_Itm)
            @Html.HiddenFor(x => x.iMaxValue_JV_Itm)
            @Html.HiddenFor(x => x.iLed_Type_JV_Itm)
            @Html.HiddenFor(x => x.iCon_Led_Type_JV_Itm)
            @Html.HiddenFor(x => x.Vdt_JV_Itm)
            @Html.HiddenFor(x => x.iRefType_JV_Itm)


            using (Html.DevExtreme().ValidationGroup("Frm_Voucher_Win_Journal_New_Item_Detail_ValidationGroup"))
            {
        <div class="container-fluid">
            <div class="full-width-header-bg">
                <div class="row">
                    <div class="col-sm-8 pll">
                        <h3 class="popuphead" id="TitleX"><i class="far fa-edit"></i>@Model.Me_Text_JV_Itm</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div> <!--[Header]-->

            <div class="row">
                <div class="col-sm-7">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-2 plm">
                                <label class="control-label text-red" for="Name">Item Name:</label>
                            </div>
                            <div class="col-sm-10 prm" data-toggle="tooltip" data-placement="bottom" title="Select Item">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ItemList_JV_Itm")
                                            .Name("GLookUp_ItemList_JV_Itm").ValueExpr("ITEM_ID").DisplayExpr("ITEM_NAME")
                                            .DataSource(d => d.Mvc().Controller("JournalVoucher").LoadAction("LookUp_GetItemList_Itm").Key("ITEM_ID")
                                            .LoadParams(new { DDRefresh = new JS("function (){ return ItemList_DDRefresh_Itm;}") }))
                                            .Placeholder("Select Item...").ReadOnly(true).FocusStateEnabled(false)
                                            .OnValueChanged("GLookUp_ItemList_EditValueChanged_Itm")
                                            .ContentTemplate(@<text> @Html.Partial("LookUp_GetItemList_Itm") </text>) )
                            </div>
                        </div>
                    </div>
                </div> <!--[Left Pane]-->
                <div class="col-sm-5">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-3 plm">
                                <label class="control-label" for="Name">Action:</label>
                            </div>
                            <div class="col-sm-9 prm">
                                @(Html.DevExtreme().RadioGroup().ID("RdAction_JV_Itm").Name("RdAction_JV_Itm")
                                                .ActiveStateEnabled(true).DisplayExpr("text").ReadOnly(false).Value(Model.RdAction_JV_Itm)
                                                .Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value")
                                                .DataSource(new object[] { new { text = "Debit", value = 0 }, new { text = "Credit", value = 1 } })
                                                .OnValueChanged("RdAction_SelectedIndexChange_Jv_Itm"))
                            </div>
                        </div>
                    </div>
                </div> <!--[Right Pane]-->
            </div> <!--[1st Row - Item Name, Action]-->

            <div class="row">
                <div class="col-sm-7">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-2 plm">
                                <label class="control-label disabletxt" for="user">Head:</label>
                            </div>
                            <div class="col-sm-10 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Item_Head_JV_Itm")
                                        .Name("BE_Item_Head_JV_Itm").ReadOnly(true).FocusStateEnabled(false))
                            </div>
                        </div>
                    </div>
                </div> <!--[Left Pane]-->
                <div class="col-sm-5">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-3 plm">
                                <label class="control-label disabletxt" for="Name">Nature:</label>
                            </div>
                            <div class="col-sm-9 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_ItemNature_JV_Itm")
                                            .Name("Txt_ItemNature_JV_Itm").ReadOnly(true).FocusStateEnabled(false))
                            </div>
                        </div>
                    </div>
                </div> <!--[Right Pane]-->
            </div> <!--[2nd Row - Head, Nature]-->

            <div class="row">
                <div class="col-sm-7">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="control-label" id="LblPary_Jv_Itm" for="user">Party</label>
                            </div>
                            <div class="col-sm-10 prm">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_PartyList_JV_Itm")
                                            .Name("GLookUp_PartyList_JV_Itm").ValueExpr("ID").DisplayExpr("Name").Placeholder("Select Party Name...")
                                            .DataSource(d => d.Mvc().Controller("JournalVoucher").LoadAction("LookUp_GetPartyList").Key("ID")
                                            .LoadParams(new { DDRefresh = new JS("function() { return Jv_Party_DDrefresh_Itm; }") })
                                            .CacheRawData(true).LoadMode(DataSourceLoadMode.Raw)).ReadOnly(true).FocusStateEnabled(false)
                                            .OnValueChanged("GLookUp_PartyList_EditValueChanged_Itm")
                                            .ContentTemplate(@<text> @Html.Partial("Lookup_GetPartyList") </text>) )
                            </div>
                        </div>
                    </div>
                </div> <!--[Left Pane]-->
                <div class="col-sm-5">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-3 plm">
                                <label class="control-label text-red" for="user">Amount:</label>
                            </div>
                            <div class="col-sm-9 prm">
                                @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Txt_Amt_JV_Itm").ID("Txt_Amt_JV_Itm")
                                            .Value(Model.Txt_Amt_JV_Itm).Format("#0.###").Placeholder("Type Amount..."))
                            </div>
                        </div>
                    </div>
                </div> <!--[Right Pane]-->
            </div> <!--[3rd Row - Party, Amount]-->

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label" for="BE_PAN_No_JV_Itm" id="BE_PAN_No_Label_JV_Itm">PAN No.</label>
                            </div>
                            <div class="col-sm-9 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_PAN_No_JV_Itm").Name("BE_PAN_No_JV_Itm").Value(Model.BE_PAN_No_JV_Itm).ReadOnly(true).FocusStateEnabled(false))
                            </div>
                        </div>
                    </div>
                </div> <!--[Left Pane]-->
                <div class="col-sm-4">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-4 plm">
                                <label class="control-label" for="BE_UID_No_JV_Itm" id="BE_UID_No_Label_JV_Itm">Aadhar No.:</label>
                            </div>
                            <div class="col-sm-8 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_UID_No_JV_Itm").Name("BE_UID_No_JV_Itm").Value(Model.BE_UID_No_JV_Itm).ReadOnly(true).FocusStateEnabled(false))
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-4 plm">
                                <label class="control-label" for="BE_ID_No_JV_Itm" id="BE_ID_No_Label_JV_Itm">Passport No.:</label>
                            </div>
                            <div class="col-sm-8 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_ID_No_JV_Itm").Name("BE_ID_No_JV_Itm").Value(Model.BE_ID_No_JV_Itm).ReadOnly(true).FocusStateEnabled(false))
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--[IDs]-->
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="control-label text-red" for="user">Purpose:</label>
                            </div>
                            <div class="col-sm-10 prm">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_PurList_JV_Itm").Name("GLookUp_PurList_JV_Itm")
                                            .ValueExpr("PUR_ID").DisplayExpr("PUR_NAME").Placeholder("Select Purpose...")
                                            .DataSource(d => d.Mvc().Controller("JournalVoucher").LoadAction("LookUp_GetPurList_Itm")
                                            .Key("PUR_ID").LoadParams(new { DDRefresh = new JS("function (){ return PurList_DDRefresh_JvItm;}") })
                                            .LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                            .OnValueChanged("GLookUp_PurList_EditValueChanged_Itm")
                                            .ContentTemplate(@<text> @Html.Partial("LookUp_GetPurList_Itm") </text>)
                                            .ReadOnly(true).FocusStateEnabled(false))
                            </div>
                        </div>
                    </div>
                </div> <!--[Left Pane]-->
                <div class="col-sm-5">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-3 plm">
                                <label class="control-label" for="user">Qty.:</label>
                            </div>
                            <div class="col-sm-9 prm">
                                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Qty_JV_Itm").Name("Txt_Qty_JV_Itm")
                                            .OnValueChanged("Txt_Qty_Rate_EditValueChanged_Itm").Value(Model.Txt_Qty_JV_Itm)
                                            .Format("#.###").Placeholder("Type Qty...").ReadOnly(true).FocusStateEnabled(false))
                            </div>
                        </div>
                    </div>
                </div> <!--[Right Pane]-->
            </div> <!--[4th Row - Purpose, Qty]-->

            <div class="row">
                <div class="col-sm-7">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="control-label" for="user">Reference:</label>
                            </div>
                            <div class="col-sm-10 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("TXT_Reference_JV_Itm").Name("TXT_Reference_JV_Itm")
                                            .Value(Model.TXT_Reference_JV_Itm)
                                            .MaxLength(250).Placeholder("Type Any Reference Details...").ReadOnly(true).FocusStateEnabled(false) )
                            </div>
                        </div>
                    </div>
                </div> <!--[Left Pane]-->
                <div class="col-sm-5">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-3 plm">
                                <label class="control-label" for="user">Ref. Type:</label>
                            </div>
                            <div class="col-sm-9 prm">
                                @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmb_RefType_JV_Itm").Name("Cmb_RefType_JV_Itm")
                                            .DataSource(new[] { "Existing", "New" }).ShowClearButton(false)
                                            .OnValueChanged("Cmb_RefType_SelectedIndexChanged").Value("Existing"))
                            </div>
                        </div>
                    </div>
                </div> <!--[Right Pane]-->
            </div> <!--[5th Row - Reference, Ref.Type]-->

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-sm-1 plm"><label class="control-label" for="user">Remarks:</label></div>
                            <div class="col-sm-11 prm">
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Remarks_JV_Itm").Name("Txt_Remarks_JV_Itm")
                                            .MaxLength(250).Placeholder("Type Any Remarks...").Value(Model.Txt_Remarks_JV_Itm))
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Remarks]-->

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ {1})...",
                                Model.ActionMethod_JV_Itm.Substring(1), Model.TitleX_JV_Itm))
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().ID("BUT_SAVE_COM_Itm").CustomSaveButton(Model.ActionMethod_JV_Itm)
                                            .Text((Model.ActionMethod_JV_Itm.Trim() == "_Delete") ? "Delete" : "OK").UseSubmitBehavior(false).OnClick("BUT_SAVE_COM_Itm_onClick"))
                                @(Html.DevExtreme().Button().ID("BUT_CANCEL_Itm").CustomCloseButton()
                                            .Text((Model.ActionMethod_JV_Itm.Trim() == "_View") ? "Close" : "Cancel").FocusStateEnabled(true)
                                            .OnClick(@<text> function () { $("#Win_JV_Item_Popup").dxPopup("hide"); } </text>) )
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Button]-->
        </div>
            }
        }
    </div>
    <script>
        var ItemList_DDRefresh_Itm;
        var Jv_Party_DDrefresh_Itm;
        var PurList_DDRefresh_JvItm;
        var Tag_Itm_Jv = "@Model.ActionMethod_JV_Itm";
        var ItemList_JvItm_Enable = true;
        var ItemList_JvItm_ReadOnly = true;
        var PurList_JvItm_Enable = true;
        var PurList_JvItm_ReadOnly = true;
        var PartyList_JvItm_Enable = true;
        var PartyList_JvItm_ReadOnly = true;
        var JV_ItemList_Itm;
        var JV_PartyList_Itm;
        var JV_PurList_Itm;
        var $JV_PurList_Itm;
        var $JV_ItemList_Itm;
        $(document).ready(async function ()
        {
            //debugger;
            ShowLoader_Ready();
            if (Tag_Itm_Jv == "_New") {
                document.getElementById("TitleX").innerHTML = "New ~ Item Detail";
                $("#RdAction_JV_Itm").dxRadioGroup("instance").option("value", @Model.RdAction_JV_Itm);
                Control_SetReadOnly("Cmb_RefType_JV_Itm", "dxSelectBox", true);
            }
            else {
                document.getElementById("TitleX").innerHTML = "Edit ~ Item Detail";
            }
            //debugger;
            
            TransformTextForDB("Frm_Voucher_Win_Journal_New_Item_Detail");
            InitAllDropDownDataGrid_Itm();
            await Promise.all([LookUp_GetItemList_JV_Itm(true), LookUp_GetPurposeList_JV_Itm(true), LookUp_GetPartyList_JV_Itm(true)]);
            await PartyBind();

            if (Tag_Itm_Jv == "_Edit" || Tag_Itm_Jv == "_Delete" || Tag_Itm_Jv == "_View")
            {

                var CrossRefID = $("#Cross_RefID_JV_Itm").val();
                await Data_Binding();
                $("#Txt_Qty_JV_Itm").dxNumberBox("instance").option("value", parseFloat(@Model.Txt_Qty_JV_Itm)); //Added to ensure that the change in Item , on load, does not wipes out the Qty
                $("#Cross_RefID_JV_Itm").val(CrossRefID);
                Control_SetReadOnly("GLookUp_ItemList_JV_Itm", "dxDropDownBox", true)
            }

            setTimeout(function () {
                Set_Form_View_Delete_Mode(null, "Frm_Voucher_Win_Journal_New_Item_Detail", Tag_Itm_Jv);
                Focus_FirstEditable_Field("Frm_Voucher_Win_Journal_New_Item_Detail", Tag_Itm_Jv);
                HideLoader_Ready();
            }, 500);
        });

        function BUT_SAVE_COM_Itm_onClick(e) {
            if (ValidateForm(e))
            {
                $('#Frm_Voucher_Win_Journal_New_Item_Detail').submit();                   
                
            }
        }
        async function Data_Binding()
        {
           await JV_ItemList_Itm.selectRows($("#iSpecific_ItemID_JV_Itm").val(), false);
            ItemList_JvItm_ReadOnly = false;
            Control_SetReadOnly("GLookUp_ItemList_JV_Itm", "dxDropDownBox", ItemList_JvItm_ReadOnly);

            await JV_PurList_Itm.selectRows($("#iPur_ID_JV_Itm").val(), false);
            PurList_Itm_ReadOnly = false;
            //Control_SetReadOnly("GLookUp_PurList_JV_Itm", "dxDropDownBox", (PurList_Itm_Enable == true && PurList_Itm_ReadOnly == false) ? false : true);
            Control_SetReadOnly("GLookUp_PurList_JV_Itm", "dxDropDownBox", PurList_Itm_ReadOnly);
            if ("@Model.Cmb_RefType_JV_Itm".length > 0) {
                $("#Cmb_RefType_JV_Itm").dxSelectBox("option", "value", "@Model.Cmb_RefType_JV_Itm");
            }
        }
        function set_Disable(colorCode) {
            //$("#BE_Item_Head_JV_Itm").dxTextBox({ disabled: true });
            //$("#Txt_Qty_JV_Itm").dxNumberBox({ disabled: true });
            //debugger;
            Control_SetReadOnly("BE_Item_Head_JV_Itm", "dxTextBox", true, colorCode);
            Control_SetReadOnly("Txt_Qty_JV_Itm", "dxNumberBox", true, colorCode);
            Control_SetReadOnly("Cmb_RefType_JV_Itm", "dxSelectBox", true, colorCode);
            Control_SetReadOnly("Txt_Amt_JV_Itm", "dxNumberBox", true, colorCode);
            Control_SetReadOnly("GLookUp_PartyList_JV_Itm", "dxDropDownBox", true, colorCode);
            Control_SetReadOnly("GLookUp_PurList_JV_Itm", "dxDropDownBox", true, colorCode);
            Control_SetReadOnly("TXT_Reference_JV_Itm", "dxTextBox", true, colorCode);
            Control_SetReadOnly("Txt_Remarks_JV_Itm", "dxTextBox", true, colorCode);
            Control_SetReadOnly("GLookUp_ItemList_JV_Itm", "dxDropDownBox", true, colorCode);
            //$("#Txt_Amt_JV_Itm").dxNumberBox({ disabled: true });
            //$("#GLookUp_PartyList_JV_Itm").dxDropDownBox({ disabled: true });
            //$("#GLookUp_PurList_JV_Itm").dxDropDownBox({ disabled: true });
            //$("#TXT_Reference_JV_Itm").dxTextBox({ disabled: true });
            //$("#Txt_Remarks_JV_Itm").dxTextBox({ disabled: true });
            //$("#GLookUp_ItemList_JV_Itm").dxDropDownBox({ disabled: true });

            //Control_SetColor("BE_Item_Head_JV_Itm", colorCode);
            //Control_SetColor("Txt_Qty_JV_Itm", colorCode);
            //Control_SetColor("Cmb_RefType_JV_Itm", colorCode);
            //Control_SetColor("Txt_Amt_JV_Itm", colorCode);
            //Control_SetColor("GLookUp_PartyList_JV_Itm", colorCode);
            //Control_SetColor("GLookUp_PurList_JV_Itm", colorCode);
            //Control_SetColor("TXT_Reference_JV_Itm", colorCode);
            //Control_SetColor("Txt_Remarks_JV_Itm", colorCode);
            //Control_SetColor("GLookUp_ItemList_JV_Itm", colorCode);
        }
        function InitAllDropDownDataGrid_Itm() {
            $JV_ItemList_Itm = $("#ItemList_JV_Itm");
            if ($JV_ItemList_Itm.length) {
                JV_ItemList_Itm = $JV_ItemList_Itm.dxDataGrid("instance");
            }

            var $JV_PartyList_Itm = $("#Jv_New_Item_LookUp_GetPartyList");
            if ($JV_PartyList_Itm.length) {
                JV_PartyList_Itm = $JV_PartyList_Itm.dxDataGrid("instance");
            }

            var $JV_PurList_Itm = $("#PurList_JV_Itm");
                if ($JV_PurList_Itm.length) {
                    JV_PurList_Itm = $JV_PurList_Itm.dxDataGrid("instance");
                }
        }
        async function LookUp_GetItemList_JV_Itm(FirstCall = false)
        {
            if (FirstCall == false) {
                ItemList_DDRefresh_Itm = true;
                JV_ItemList_Itm.refresh();
                ItemList_DDRefresh_Itm = false;
            }
            var TotalCount = JV_ItemList_Itm.totalCount();
            if (TotalCount < 0) {
                var ds = $("#GLookUp_ItemList_JV_Itm").dxDropDownBox("getDataSource");
                var store = ds.store();
                TotalCount = await store.totalCount();
            }
            if (TotalCount == 1) {
                $("#GLookUp_ItemList_JV_Itm").find('input').css('color', '#000080');//Setting Navy blue colour
                if (Tag_Itm_Jv == "_New" || Tag_Itm_Jv == "_New_From_Selection") {
                    DG_ItemList_Itm_Dtel.selectRowsByIndexes(0);
                    ItemList_JvItm_Enable = false;
                    Control_SetReadOnly("GLookUp_ItemList_JV_Itm", "dxDropDownBox", (ItemList_JvItm_Enable == true && ItemList_JvItm_ReadOnly == false) ? false : true);
                }
            }
            else {
                if (Tag_Itm_Jv == "_New" || Tag_Itm_Jv == "_New_From_Selection") {
                    ItemList_JvItm_ReadOnly = false;
                    Control_SetReadOnly("GLookUp_ItemList_JV_Itm", "dxDropDownBox", (ItemList_JvItm_Enable == true && ItemList_JvItm_ReadOnly == false) ? false : true);
                }
            }
        }
        async function LookUp_GetPurposeList_JV_Itm(FirstCall = false)
        {
            if (FirstCall == false) {
                PurList_DDRefresh_JvItm = true;
                await JV_PurList_Itm.refresh();
                PurList_DDRefresh_JvItm = false;
            }
            if (Tag_Itm_Jv == "_New" || Tag_Itm_Jv == "_New_From_Selection") {
                PurList_JvItm_ReadOnly = false;
                Control_SetReadOnly("GLookUp_PurList_JV_Itm", "dxDropDownBox", (PurList_JvItm_Enable == true && PurList_JvItm_ReadOnly == false) ? false : true);
            }
        }
        async function LookUp_GetPartyList_JV_Itm(FirstCall = false) {
            //debugger;
            if (FirstCall === false) {
                Jv_Party_DDrefresh_Itm = true;
                JV_PartyList_Itm.refresh();
                Jv_Party_DDrefresh_Itm = false;
            }
            if (Tag_Itm_Jv == "_New" || Tag_Itm_Jv == "_New_From_Selection") {
                PartyList_JvItm_ReadOnly = false;
                Control_SetReadOnly("GLookUp_PartyList_JV_Itm", "dxDropDownBox", (PartyList_JvItm_Enable == true && PartyList_JvItm_ReadOnly == false) ? false : true);
            }
            if (JV_PartyList_Itm.getSelectedRowsData().length > 0) {
                ResetDropdownWithSameValue("LookUp_GetPartyList_JV_Itm", JV_PartyList_Itm);
            }
        }


        function GLookUp_ItemList_EditValueChanged_Itm(e) {
            //debugger;
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                JV_ItemList_Itm.clearSelection();
                $("#BE_Item_Head_JV_Itm").dxTextBox("instance").reset();
                $("#Txt_ItemNature_JV_Itm").dxTextBox("instance").reset();
                return;
            }
            if (JV_ItemList_Itm.getSelectedRowsData().length > 0) {
                //debugger;
                var item = JV_ItemList_Itm.getSelectedRowsData()[0];
                $("#GLookUp_ItemName_JV_Itm").val(item["ITEM_NAME"]);
                $("#BE_Item_Head_JV_Itm").dxTextBox("instance").option("value", item["LED_NAME"]);
                $("#Txt_ItemNature_JV_Itm").dxTextBox("instance").option("value", item["ITEM_VOUCHER_TYPE"])
                $("#iLed_ID_JV_Itm").val(item["ITEM_LED_ID"]);
                $("#iProfile_JV_Itm").val(item["ITEM_PROFILE"]);
                $("#iCond_Ledger_ID_JV_Itm").val(item["ITEM_CON_LED_ID"]);
                $("#iMinValue_JV_Itm").val(item["ITEM_CON_MIN_VALUE"]);
                $("#iMaxValue_JV_Itm").val(item["ITEM_CON_MAX_VALUE"]);
                $("#iLed_Type_JV_Itm").val(item["LED_TYPE"]);
                $("#iCon_Led_Type_JV_Itm").val(item["CON_LED_TYPE"]);

                SetRefType();
                $("#iTDScode_JV_Itm").val(item["ITEM_TDS_CODE"]);
                $("#iParty_Req_JV_Itm").val("NO");

                if ($("#iProfile_JV_Itm").val().toUpperCase() == "ADVANCES" || $("#iProfile_JV_Itm").val().toUpperCase() == "OTHER DEPOSITS" ||
                    $("#iProfile_JV_Itm").val().toUpperCase() == "OTHER LIABILITIES" || $("#iLed_ID_JV_Itm").val() == "00182"
                    || item["LED_NAME"].toUpperCase().includes("TDS")) {
                    if (!item["LED_NAME"].toUpperCase().includes("TDS")) {
                        $("#iParty_Req_JV_Itm").val("YES")
                    }
                    ChangePartyView(true);
                }
                else {
                    ChangePartyView(false);
                }
                if ($("#iParty_Req_JV_Itm").val().trim().toUpperCase() == "YES") {
                    document.getElementById('LblPary_Jv_Itm').style.color = "#ad1f1f";
                    document.getElementById('LblPary_Jv_Itm').style.fontWeight = 500;
                }
                else {
                    document.getElementById('LblPary_Jv_Itm').style.color = "Black";
                }
                $("#Cross_RefID_JV_Itm").val("");
                $("#Txt_Qty_JV_Itm").dxNumberBox("instance").option("value", "");
            }

        }
        function SetRefType() {
            //debugger;
            if ($("#iProfile_JV_Itm").val() == null) { return; }
            if ($("#iProfile_JV_Itm").val().toUpperCase() != "NOT APPLICABLE")
            {
                if ($("#iProfile_JV_Itm").val().toUpperCase() == "OTHER LIABILITIES")
                {
                    if ($("#RdAction_JV_Itm").dxRadioGroup("option","value") == 1) {//credit
                        Control_SetReadOnly("Cmb_RefType_JV_Itm","dxSelectBox",false);
                    }
                    else {
                        Control_SetReadOnly("Cmb_RefType_JV_Itm","dxSelectBox",true);
                    }
                }
                else
                {
                    if ($("#RdAction_JV_Itm").dxRadioGroup("option","value") == 0) {//debit
                        Control_SetReadOnly("Cmb_RefType_JV_Itm","dxSelectBox",false);
                    }
                    else {
                        Control_SetReadOnly("Cmb_RefType_JV_Itm","dxSelectBox",true);
                    }
                }
            }
            else {
                Control_SetReadOnly("Cmb_RefType_JV_Itm","dxSelectBox",true);
                $("#Cmb_RefType_JV_Itm").dxSelectBox("instance").option('value', 'Existing')
            }
            if (Tag_Itm_Jv == "_Edit") {
                Control_SetReadOnly("Cmb_RefType_JV_Itm","dxSelectBox",true);
            }
        }
        function ChangePartyView(Enabled) {
            if (Enabled) {
                //JV_PartyList_Itm.clearSelection;
                ("#Party_RecEditOn_JV_Itm").val = null;
                $("#GLookUp_PartyList_JV_Itm").dxDropDownBox({ disabled: false });
                PartyBind();
            }
            else {
                //JV_PartyList_Itm.clearSelection;
                ("#Party_RecEditOn_JV_Itm").val = null;
                $("#GLookUp_PartyList_JV_Itm").dxDropDownBox({ disabled: true });
                $("#iPartyID_JV_Itm").val = "";
                PartyBind();
            }
        }
        async function PartyBind() {
           Control_SetReadOnly("GLookUp_PartyList_JV_Itm", "dxDropDownBox", false);
            if ($("#iPartyID_JV_Itm").val == null) {
                return;
            }
            if ($("#iPartyID_JV_Itm").val().length > 0) {
                await JV_PartyList_Itm.selectRows($("#iPartyID_JV_Itm").val(), false);
                //$("#GLookUp_PartyList_JV_Itm").dxDropDownBox("instance").option('value', $("#iPartyID_JV_Itm").val());
            }
            else {
                JV_PartyList_Itm.clearSelection();
            }
        }
        function GLookUp_PurList_EditValueChanged_Itm(e) {
            //debugger;
            e.component.close();
            if((e.value == null || e.value.length ==0) && e.previousValue != null) {

            }
            if (JV_PurList_Itm.getSelectedRowsData().length > 0) {
                var item = JV_PurList_Itm.getSelectedRowsData()[0];
                $("#GLookUp_PurList_JV_Itm").val(item["PUR_ID"]);
                $("#GLookUp_PurName_JV_Itm").val(item["PUR_NAME"]);
            }
            else {
                JV_PurList_Itm.component.close();
                JV_PurList_Itm.clearSelection();
            }
        }
        function GLookUp_PartyList_EditValueChanged_Itm(e) {
            e.component.close();
            if((e.value == null || e.value.length == 0) && e.previousValue != null) {

            }

            if (JV_PartyList_Itm.getSelectedRowsData().length > 0) {
                var item = JV_PartyList_Itm.getSelectedRowsData()[0];
                $("#Party_RecEditOn_JV_Itm").val(item["REC_Edit_ON"]);
                $("#GLookUp_PartyList_JV_Itm").val(item["ID"]);
                $("#GLookUp_PartyName_JV_Itm").val(item["Name"]);
                $("#BE_PAN_No_JV_Itm").dxTextBox("instance").option("value", item["PAN"]);
                $("#BE_UID_No_JV_Itm").dxTextBox("instance").option("value", item["C_UID_NO"]);
                $("#BE_ID_No_JV_Itm").dxTextBox("instance").option("value", item["C_OTHER_ID"]);
                $("#BE_ID_No_Label_JV_Itm").text(item["C_OTHER_ID_LABEL"]);
                $("#BE_Party_Category_JV_Itm").val(item["C_CATEGORY"]);
            }
            if (JV_PartyList_Itm.getSelectedRowsData().length == 0) {
                //JV_PartyList_Itm.component.close();
                JV_PartyList_Itm.clearSelection();
                $("#Party_RecEditOn_JV_Itm").val(null);
                $("#BE_PAN_No_JV_Itm").dxTextBox("instance").reset();
                $("#BE_UID_No_JV_Itm").dxTextBox("instance").reset();
                $("#BE_ID_No_JV_Itm").dxTextBox("instance").reset();
                $("#BE_ID_No_Label_JV_Itm").text("Passport No.:");
                $("#BE_Party_Category_JV_Itm").val(null);
            }
        }

    </script> @*Dropdown related functions*@
<script>
        function Cmb_RefType_SelectedIndexChanged(e) {
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                $("#Cmb_RefType_JV_Itm").dxSelectBox("option", "value", e.previousValue);
            }
        }
        function Txt_Qty_Rate_EditValueChanged_Itm() {

        }
        function RdAction_SelectedIndexChange_Jv_Itm() {
            SetRefType();
        }
</script>
    <script>
        function Item_DetailAjaxSuccess_JV_Itm(data) {
            //debugger;
            HideLoader();
            if (data.jsonParam.result == false) {
                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertclick.done(function (alertResult) {
                    if (alertResult) {
                        if (data.jsonParam.focusid) {
                            var id = "#" + data.jsonParam.focusid;
                            setTimeout(function () {
                                $(id).find('input').focus();
                            }, 250);
                        }
                    }
                });
            }
            else if (data.jsonParam.result == true) {
                if (data.jsonParam.popup_form_path == "" || data.jsonParam.popup_form_path == null) {
                    Fill_Item_Grid_JournalVoucher();
                }
                else {
                    ShowLoader();
                    if (data.jsonParam.popup_form_name == "Frm_Voucher_Win_Journal_Reference") {
                        OpenPopup("JV_Item_Content_popup", data.jsonParam.popup_title, data.jsonParam.popup_form_path + "?" + data.jsonParam.popup_querystring, "auto", 800, false, null);
                    }
                    else {
                        OpenPopup("JV_Item_Content_popup", data.jsonParam.popup_title, data.jsonParam.popup_form_path + "?" + data.jsonParam.popup_querystring, "auto", 1000, false, null);
                    }
                }
            }
        }
        $(function () {
            $("#JV_Item_Content_popup").dxPopup({
                onHiding: function (e) {
                    $.ajax({
                        type: 'GET',
                        url: "/Account/ProfilePaymentVoucher/ProfilePaymentClearSession",
                        cache: false,
                    });
                }
            });
        });
    </script>
</div>
