<div class="JV_Reference_ClearReferences">

    @model ConnectOneMVC.Areas.Account.Models.JournalVoucher_Reference
    @using DevExtreme.AspNet.Mvc;
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
       // bool Isvisible = (Model.ActionMethodRefWindow == "_Delete" || Model.ActionMethodRefWindow == "_View") ? true : false;
    }
    <style>
        .dx-texteditor-container {
            overflow: visible
        }
        #Txt_Amt_JV_Ref .dx-texteditor-input {
            float: left;
            text-align: left;
        }  
    </style>
    <div id="Frm_Voucher_Win_Journal_Reference">
        @using (Ajax.BeginForm("Frm_Voucher_Win_Journal_Reference_Window", "JournalVoucher",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "Frm_Voucher_Win_Journal_Reference_Window",
                InsertionMode = InsertionMode.InsertAfter,
                OnBegin = "AjaxBeginFormPost",
                OnSuccess = "AjaxSuccess_JV_Ref"
            },
            new
            {
                id = "Frm_Voucher_Win_Journal_Reference_Window",
                @class = "edit_form form-horizontal"
            }))
        {
            @Html.HiddenFor(x => x.iItemProfile_JV_Ref)
            @Html.HiddenFor(x => x.SelectedRefID_JV_Ref)
            @Html.HiddenFor(x => x.SelectedItemID_JV_Ref)
            @Html.HiddenFor(x => x.iTxnM_ID_JV_Ref)
            @Html.HiddenFor(x => x.Ref_Rec_ID_JV_Ref)
            @Html.HiddenFor(x => x.ActionMethodRefWindow)
            @Html.HiddenFor(x => x.GLookUp_ReferenceName_JV_Ref)
            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="container-fluid">
                    <div class="full-width-header-bg">
                        <div class="row">
                            <div class="col-sm-8 pll">
                                <h3 class="popuphead" id="TitleX_JV_Ref"><i class="far fa-edit"></i>New</h3>
                            </div>
                            <div class="col-sm-4 prm">
                                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i>  Red Fields are mandatory</h5>
                            </div>
                        </div>
                    </div>   <!--[Header]-->
                    <div class="row">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-2 plm"><label class="control-label disabletxt" for="user">Item:</label></div>
                                <div class="col-sm-10 prm">
                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Item_JV_Ref").Name("Txt_Item_JV_Ref")
                                        .ReadOnly(false).FocusStateEnabled(true).ReadOnly(true))
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-2 plm"><label class="control-label disabletxt" for="user">Party:</label></div>
                                    <div class="col-sm-10 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Party_JV_Ref").Name("Txt_Party_JV_Ref")
                                            .ReadOnly(true).FocusStateEnabled(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-2 plm">
                                        <label class="control-label text-red" for="Name">Asset/Liability:</label>
                                    </div>
                                    <div class="col-sm-10 prm" data-toggle="tooltip" data-placement="bottom" title="Select Item">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ReferenceList_JV_Ref")
                                            .Name("GLookUp_ReferenceList_JV_Ref").ValueExpr("REC_ID").DataSource(d => d.Mvc().Controller("JournalVoucher")
                                            .LoadAction("LookUp_GetReferenceList_JV_Ref").Key("REC_ID")
                                            .LoadParams(new { DDRefresh = new JS("function (){ return RefList_DDRefresh_JV_Ref;}") })/*.LoadMode(DataSourceLoadMode.Raw).CacheRawData(true)*/)
                                            .Placeholder("Select Item...").ReadOnly(false).FocusStateEnabled(true).ShowClearButton(false)
                                            .OnValueChanged("GLookUp_RefList_EditValueChanged_JV_Ref")
                                            .ContentTemplate(@<text> @Html.Partial("LookUp_GetReferenceList_JV_Ref") </text>) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-2 plm"><label class="control-label disabletxt" for="user">Description:</label></div>
                                    <div class="col-sm-10 prm">
                                        @(Html.DevExtreme().TextAreaFor(m => m.Help_Document_Description).ID("Help_Document_Description")
                                            .Name("Help_Document_Description").ElementAttr(new Dictionary<string, object>() {
                                            { "class", "dx-texteditor-input appear" } })
                                            .Height(150).ReadOnly(false).Disabled(true).MaxLength(4000) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-6 plm">
                                        <label class="control-label disabletxt" for="user">Amount:</label>
                                    </div>
                                    <div class="col-sm-6 prm">
                                        @(Html.DevExtreme().NumberBox().ID("Txt_Amt_JV_Ref").Name("Txt_Amt_JV_Ref")
                                            .ReadOnly(true).FocusStateEnabled(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-4 plm">
                                        <label class="control-label disabletxt" for="user">Action:</label>
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Action_JV_Ref").Name("Txt_Action_JV_Ref")
                                            .ReadOnly(true).FocusStateEnabled(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-5 plm">
                                        <label class="control-label disabletxt" for="user" id="Lbl_Qty_JV_Ref">Quantity:</label>
                                    </div>
                                    <div class="col-sm-7 prm">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Qty_JV_Ref").Name("Txt_Qty_JV_Ref")
                                            .ReadOnly(false).FocusStateEnabled(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:3px">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Journal Voucher Reference )...",
                                        Model.ActionMethodRefWindow.Substring(1), Model.Titlex_JV_Ref))
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="styleActionBtn">
                                        @(Html.DevExtreme().Button().CustomSaveButton(Model.ActionMethodRefWindow).ID("frm_win_Jv_ref_Save")
                                            .Text("OK").UseSubmitBehavior(false)
                                            .OnClick("JV_Ref_Save").Disabled((Model.ActionMethodRefWindow.ToString().Trim() == "_View" || 
                                            Model.ActionMethodRefWindow.ToString().Trim() == "_Delete") ? true : false)
                                            )
                                        @(Html.DevExtreme().Button().CustomCloseButton().ID("frm_win_Jv_ref_Cancel")
                                            .Text(Model.ActionMethodRefWindow == "_View" ? "Close" : "Cancel")
                                            .OnClick("Close_JV_Ref")
                                            )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Buttons]-->

                </div>
            }
        }
    </div>

    <script>
        function JV_Ref_Save(e) {
            var result = e.validationGroup.validate();
            if (result.isValid) {
                $("#Frm_Voucher_Win_Journal_Reference_Window").submit();
            }
        }
    </script>
    <script>

        var RefList_DDRefresh_JV_Ref = false
        var RefList_Jv_Ref;
        //RefList_Jv_Ref.selectRows($("#iSpecific_ItemID_DNK_Itm").val(), false);
        var Jv_RefList_Enable = true;
        var Jv_RefList_ReadOnly = true;
        var Tag_JV_Ref = "@Model.ActionMethodRefWindow";
        $(document).ready(async function () {
            //debugger;
            HideLoader();
            ShowLoader_Ready("");
            if (Tag_JV_Ref == "_New") {
                $("#TitleX_JV_Ref").html("New ~ Reference Item Details");
            }
            else {
                $("#TitleX_JV_Ref").html("Edit ~ Reference Item Details");
            }
            InitAllDropDownDataGrid_Itm_Dtel();
            await LookUp_GetReferenceList_JV_Ref();
            await ReferenceBind();
            if ("@Model.iItemProfile_JV_Ref" != "OTHER ASSETS" && "@Model.iItemProfile_JV_Ref" != "GOLD" && "@Model.iItemProfile_JV_Ref" != "SILVER") {
                Control_SetReadOnly("Txt_Qty_JV_Ref", "dxNumberBox", true);
                //$("#Txt_Qty_JV_Ref").dxNumberBox("instance").option("readOnly", true);
                $("#Lbl_Qty_JV_Ref").addClass("DisableTxt");

            }
            if ("@Model.iItemProfile_JV_Ref" == "GOLD" || "@Model.iItemProfile_JV_Ref" == "SILVER") {
                document.getElementById("Lbl_Qty_JV_Ref").innerHTML = "Weight(gm):";
                $("#Txt_Qty_JV_Ref").dxNumberBox("instance").option("format", "#0.000");
            }
            else {
                document.getElementById("Lbl_Qty_JV_Ref").innerHTML = "Quantity:";
                $("#Txt_Qty_JV_Ref").dxNumberBox("instance").option("format", "#0");
            }            
            $("#Txt_Item_JV_Ref").dxTextBox("instance").option("value", TransformText("@Model.Txt_Item_JV_Ref"));
            $("#Txt_Party_JV_Ref").dxTextBox("instance").option("value", TransformText("@Model.Txt_Party_JV_Ref"));
            $("#Txt_Action_JV_Ref").dxTextBox("instance").option("value", TransformText("@Model.Txt_Action_JV_Ref"));
            $("#Txt_Amt_JV_Ref").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Amt_JV_Ref"));
            $("#Txt_Qty_JV_Ref").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Qty_JV_Ref"));
            

            setTimeout(function () {
                Set_Form_View_Delete_Mode(null, "Frm_Voucher_Win_Journal_Reference_Window", Tag_JV_Ref);
                Focus_FirstEditable_Field("Frm_Voucher_Win_Journal_Reference_Window", Tag_JV_Ref);
                HideLoader_Ready();
            }, 1000);

        });
        function InitAllDropDownDataGrid_Itm_Dtel()
        {
            var $RefList_Jv_Ref = $("#ReferenceList_JV_Ref");
            if ($RefList_Jv_Ref.length) {
                RefList_Jv_Ref = $RefList_Jv_Ref.dxDataGrid("instance");
            }
        }
        async function LookUp_GetReferenceList_JV_Ref(FirstCall = false)
        {
            if (FirstCall == false) {
                RefList_DDRefresh_JV_Ref = true;
                await RefList_Jv_Ref.refresh();
                RefList_DDRefresh_JV_Ref = false;
            }

            var allCols = ["Item", "Party", "REC_ID", "Reason", "Detail", "Type", "Category", "Use", "OWNER", "Make", "Model", "Ledger", "Reference", "Head", "Head_Type", "Vehicle", "Reg_No", "DESC", "DETAILS", "Name", "BIRTH_YEAR", "Due", "Org_Value", "Curr_Value", "Next_Year_Closing_Value", "Org_Qty", "Curr_Qty", "Org_Weight", "Curr_Weight", "Period", "Date", "REC_EDIT_ON", "REF_CREATION_DATE"]
            for (i = 0; i <= allCols.length; i++) {
                if (allCols[i] == "REC_ID") {
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", allCols[i], "visible", true);
                }
                else {
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", allCols[i], "visible", false);
                }
            }
            //debugger;
            switch ($("#iItemProfile_JV_Ref").val())
            {
                case "OTHER ASSETS":
                    var a = ["Item", "Make", "Model", "Org_Qty", "Curr_Qty", "Org_Value", "Curr_Value", "REC_ID", "REC_EDIT_ON", "REF_CREATION_DATE"]
                    for (i = 0; i <= a.length; i++) {
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visible", true);
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visibleIndex", i);
                    }
                    $("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox({ displayExpr: "Item" });
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REF_CREATION_DATE", "visible", false);
                    break;
                case "ADVANCES":
                    var a = ["Item", "Party", "Org_Value", "Curr_Value", "Date", "REC_ID", "Reason", "Detail", "REC_EDIT_ON", "REF_CREATION_DATE", "Next_Year_Closing_Value"];
                    for (i = 0; i <= a.length; i++) {
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visible", true);
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visibleIndex", i);
                    }
                    $("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox({ displayExpr: function (item) { return item.Org_Value.toFixed(2) } });
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "Reason", "visible", false);
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REF_CREATION_DATE", "visible", false);
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "Next_Year_Closing_Value", "visible", false);
                    break;
                case "GOLD":
                case "SILVER":
                    var a = ["Item", "Org_Weight", "Curr_Weight", "DESC", "DETAILS", "Org_Value", "Curr_Value", "REC_ID", "REC_EDIT_ON", "REF_CREATION_DATE"];
                    for (i = 0; i <= a.length; i++) {
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visible", true);
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visibleIndex", i);
                    }
                    $("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox({ displayExpr: "Item" });
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REF_CREATION_DATE", "visible", false);                   
                    break;
                case "LAND & BUILDING":
                    var a = ["Type", "Category", "Use", "Item", "OWNER", "Org_Value", "Curr_Value", "REC_ID", "REC_EDIT_ON", "REF_CREATION_DATE"];
                    for(i = 0; i <= a.length; i++) {
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visible", true);
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visibleIndex", i);
                        if (a[i] == 'Use') {
                            $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "caption", 'Use');
                        }
                    }
                    $("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox({ displayExpr: "Item" });
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REF_CREATION_DATE", "visible", false);
                    break;
                case "LIVESTOCK":
                    var a = ["Item", "Name", "BIRTH_YEAR", "Org_Value", "Curr_Value", "REC_ID", "REC_EDIT_ON", "REF_CREATION_DATE"];
                    for(i = 0; i <= a.length; i++) {
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visible", true);
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visibleIndex", i);
                    }
                    $("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox({ displayExpr: "Name" });
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REF_CREATION_DATE", "visible", false);
                    break;
                case "OTHER DEPOSITS":
                    var a = ["Item", "Party", "Org_Value", "Curr_Value", "Date", "REC_ID", "Period", "Due", "Reason", "Detail", "REC_EDIT_ON", "REF_CREATION_DATE", "Next_Year_Closing_Value"];
                    for(i = 0; i <= a.length; i++) {
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visible", true);
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visibleIndex", i);
                    }                    
                    $("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox({ displayExpr: function (item) { return item.Org_Value.toFixed(2) } });
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "Reason", "visible", false);
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "Due", "visible", false);
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "Period", "visible", false);
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REF_CREATION_DATE", "visible", false);
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "Next_Year_Closing_Value", "visible", false);
                    break;
                case "OTHER LIABILITIES":
                    var a = ["Party", "Org_Value", "Curr_Value", "Date", "REC_ID", "Due", "Reason", "Detail", "REC_EDIT_ON", "REF_CREATION_DATE", "Next_Year_Closing_Value"];
                    for(i = 0; i <= a.length; i++) {
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visible", true);
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visibleIndex", i);
                    }
                    $("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox({ displayExpr: function (item) { return item.Org_Value.toFixed(2) } });
                    
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "Reason", "visible", false);
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "Due", "visible", false);
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REF_CREATION_DATE", "visible", false);
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "Next_Year_Closing_Value", "visible", false);
                    break;
                case "VEHICLES":
                    var a = ["Vehicle", "Make", "Model", "Reg_No", "Org_Value", "Curr_Value", "REC_ID", "REC_EDIT_ON", "REF_CREATION_DATE"];
                    for(i = 0; i <= a.length; i++) {
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visible", true);
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visibleIndex", i);
                    }
                    $("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox({ displayExpr: "Vehicle" });
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REF_CREATION_DATE", "visible", false);
                    break;
                case "OPENING":
                    var a = ["Item", "Head", "Head_Type", "Curr_Value", "REC_ID", "REC_EDIT_ON", "REF_CREATION_DATE"];
                    for(i = 0; i <= a.length; i++) {
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visible", true);
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visibleIndex", i);
                    }
                    $("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox({ displayExpr: "Item" });
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REF_CREATION_DATE", "visible", false);
                    break;
                case "WIP":
                    var a = ["Ledger", "Reference", "Org_Value", "Curr_Value", "Next_Year_Closing_Value", "REC_ID", "REC_EDIT_ON", "REF_CREATION_DATE"];
                    for(i = 0; i <= a.length; i++) {
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visible", true);
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visibleIndex", i);
                    }
                    $("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox({ displayExpr: "Reference" });
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REF_CREATION_DATE", "visible", false);
                    break;
                default: //Constt Items
                    var a = ["Type", "Category", "Use", "Item", "OWNER", "Org_Value", "Curr_Value", "REC_ID", "REC_EDIT_ON", "REF_CREATION_DATE"];
                    for(i = 0; i <= a.length; i++) {
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visible", true);
                        $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", a[i], "visibleIndex", i);
                    }
                    $("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox({ displayExpr: "Item" });
                    $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REF_CREATION_DATE", "visible", false);
            }

            $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REC_ID", "visible", false);
            $("#ReferenceList_JV_Ref").dxDataGrid("columnOption", "REC_EDIT_ON", "visible", false);

            //}

            if (Tag_JV_Ref == "_New" || Tag_JV_Ref == "_New_From_Selection")
            {
                Jv_RefList_ReadOnly = false;
                Control_SetReadOnly("GLookUp_ReferenceList_JV_Ref", "dxDropDownBox", false);
            }
        }

        async function ReferenceBind()
        {
            //debugger;
            $("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox("instance").option("readOnly", false);
            if ("@Model.SelectedItemID_JV_Ref".length == 0) { return; }
            if ($("#SelectedItemID_JV_Ref").val.length > 0)
            {                
               await RefList_Jv_Ref.selectRows($("#SelectedRefID_JV_Ref").val(), false);
            }
        }
        function AjaxSuccess_JV_Ref(data) {
            HideLoader();
            //debugger;
            if (data.jsonParam.result == false)
            {
                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertclick.done(function (alertResult) {
                    if (alertResult) {
                        if (data.jsonParam.focusid) {
                            var id = "#" + data.jsonParam.focusid;
                            setTimeout(function () {
                                $(id).find('input').focus();
                            }, 250);
                        }
                    }
                });
            }
            else if (data.jsonParam.result == true)
            {
                //debugger;
                $("#Cross_RefID_JV_Itm").val(data.Cross_RefID);
                $("#TXT_Reference_JV_Itm").dxTextBox("instance").option("value", data.TXT_Reference);
                $("#RefItem_RecEditOn_JV_Itm").val(data.RefItem_RecEditOn);
                $("#Txt_Qty_JV_Itm").dxNumberBox("instance").option("value", data.Txt_Qty);
                Fill_Item_Grid_JournalVoucher();

                Close_JV_Ref();
            }
        }
        function Close_JV_Ref() {
            $("#JV_Item_Content_popup").dxPopup("hide");
        }
        function GLookUp_RefList_EditValueChanged_JV_Ref(e)
        {
            //debugger;
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                RefList_Jv_Ref.clearSelection();
                $("#Help_Document_Description").dxTextArea("instance").reset();
                return;
            }
            if (RefList_Jv_Ref.getSelectedRowsData().length > 0)
            {
                var item = RefList_Jv_Ref.getSelectedRowsData()[0];
                //$("#GLookUp_ReferenceList_JV_Ref").dxDropDownBox("instance").option("value", item["REC_ID"]);
                switch ($("#iItemProfile_JV_Ref").val())
                {
                    case "OTHER ASSETS":
                        $("#Help_Document_Description").dxTextArea("instance").option("value", ((item["Make"] == null) ? ' ' : item["Make"]) + ", " +
                            ((item["Model"] == null) ? ' ' : item["Model"]) + ", Curr Qty:" +
                            ((item["Curr_Qty"] == null) ? ' ' : item["Curr_Qty"].toFixed(2)) + ", Curr Value:" + ((item["Curr_Value"] == null) ? ' ' : item["Curr_Value"].toFixed(2)));
                        $("#GLookUp_ReferenceName_JV_Ref").val(item["Item"]);
                        break;
                    case "ADVANCES":
                        $("#Help_Document_Description").dxTextArea("instance").option("value", "Given Date:" + ((item["Date"] == null) ? ' ' : JS_Json_Date_To_ddMMyyyy(item["Date"],'MMM DD, YYYY')) + ", Detail:" + item["Reason"] + " , " +
                            ((item["Detail"] == null) ? ' ' : item["Detail"]) + ", Curr Value:" +
                            ((item["Curr_Value"] == null) ? ' ' : item["Curr_Value"].toFixed(2)));
                        $("#GLookUp_ReferenceName_JV_Ref").val(item["Item"]);
                        break;
                    case "GOLD":
                    case "SILVER":
                        $("#Help_Document_Description").dxTextArea("instance").option("value", ((item["DESC"] == null) ? ' ' : item["DESC"]) + ", " +
                            ((item["DETAILS"] == null) ? "" : item["DETAILS"]) + ", Curr Weight:" + ((item["Curr_Weight"] == null) ? ' ' : item["Curr_Weight"].toFixed(3)) +
                            ", Curr Value:" + ((item["Curr_Value"] == null) ? ' ' : item["Curr_Value"].toFixed(2)));
                        $("#GLookUp_ReferenceName_JV_Ref").val(item["Item"]);
                        break;
                    case "LAND & BUILDING":
                        $("#Help_Document_Description").dxTextArea("instance").option("value", item["Type"] + ", " + item["Category"] + "(" + item["Use"] + ")" +
                            ", Curr Value:" + ((item["Curr_Value"] == null) ? ' ' : item["Curr_Value"].toFixed(2)));
                        $("#GLookUp_ReferenceName_JV_Ref").val(item["Item"]);
                        break;
                    case "LIVESTOCK":
                        $("#Help_Document_Description").dxTextArea("instance").option("value", item["Item"] + ", Birth Year : " + item["BIRTH_YEAR"] +
                            ", Curr Value:" + ((item["Curr_Value"] == null) ? ' ' : item["Curr_Value"].toFixed(2)));
                        $("#GLookUp_ReferenceName_JV_Ref").val(item["Item"]);
                        break;
                    case "OTHER DEPOSITS":
                        $("#Help_Document_Description").dxTextArea("instance").option("value", "Given Date:" + ((item["Date"] == null) ? ' ' : JS_Json_Date_To_ddMMyyyy(item["Date"], 'MMM DD, YYYY')) + ", Due Date :" + ((item["Due"] == null) ? ' ' : item["Due"]) + ", Period:" + item["Period"] + ", Detail:" + item["Reason"] + " , " + item["Detail"] +
                            ", Curr Value:" + ((item["Curr_Value"] == null) ? ' ' : item["Curr_Value"].toFixed(2)));
                        $("#GLookUp_ReferenceName_JV_Ref").val(item["Item"]);
                        break;
                    case "OTHER LIABILITIES":
                        $("#Help_Document_Description").dxTextArea("instance").option("value", "Given Date:" + ((item["Date"] == null) ? ' ' : JS_Json_Date_To_ddMMyyyy(item["Date"], 'MMM DD, YYYY')) + ", Due Date :" + ((item["Due"] == null) ? ' ' : item["Due"]) + ", Detail:" + item["Reason"] + " , " + item["Detail"] +
                            ", Curr Value:" + ((item["Curr_Value"] == null) ? ' ' : item["Curr_Value"].toFixed(2)));
                        $("#GLookUp_ReferenceName_JV_Ref").val(item["Party"]);
                        break;
                    case "VEHICLES":
                        $("#Help_Document_Description").dxTextArea("instance").option("value", item["Make"] + ", " + item["Model"] + ", Reg.No.:" + item["Reg_No"] +
                            ", Curr Value:" + ((item["Curr_Value"] == null) ? ' ' : item["Curr_Value"].toFixed(2)));
                        $("#GLookUp_ReferenceName_JV_Ref").val(item["Vehicle"]);
                        break;
                    case "WIP":
                        $("#Help_Document_Description").dxTextArea("instance").option("value", item["Ledger"] + ", " + item["Reference"] +
                            ", Curr Value:" + ((item["Curr_Value"] == null) ? ' ' : item["Curr_Value"].toFixed(2)));
                        $("#GLookUp_ReferenceName_JV_Ref").val(item["Reference"]);
                        break;
                    case "OPENING":
                        $("#Help_Document_Description").dxTextArea("instance").option("value", "Curr Value:" + ((item["Curr_Value"] == null) ? ' ' : item["Curr_Value"].toFixed(2)));
                        $("#GLookUp_ReferenceName_JV_Ref").val(item["Item"]);
                        break;
                    default:
                        $("#GLookUp_ReferenceName_JV_Ref").val(item["Item"]);
                }
                //$("#Help_Document_Description").dxTextBox("instance").option("value", item["LED_NAME"]);
            }
        }
    </script>


</div>
