<div class="JournalVoucherAccount_ClearReferences">
    @model ConnectOneMVC.Areas.Account.Models.JournalVoucher
    @using DevExtreme.AspNet.Mvc;

    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
        bool IsVisible = (Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View") ? true : false;

        //bool Donation_DNK_AddFacilityAddress = (bool)ViewData["Donation_DNK_AddFacilityAddress"];
        //bool Donation_DNK_ListFacilityAddress = (bool)ViewData["Donation_DNK_ListFacilityAddress"];
        //var DateFormatCurrent = ViewBag.Date_Format_Current;

        //bool IsVisible = (Model != null && Model.TempActionMethod == "_Delete") ? true : false;
        //bool IsDisabled = Model != null && (Model.TempActionMethod == "_View" || Model.TempActionMethod == "_Delete") ? true : false;
        //bool IsVisible = true;
        //bool IsDisabled = false;
    }
    <style>
        .customPreviewRow {
            background: none;
        }

        .negative .dx-texteditor-input {
            background: lightsalmon;
        }

        .positive .dx-texteditor-input {
            background: aliceblue;
        }

        .form-horizontal .control-label {
            text-align: right;
        }

        /*.partyDetailBtns > div {
            margin: 0 2px 2px 0;
        }*/

        /*FCRA Related*/
        #ListSpecialVoucherRef_Jv .dx-list-item-content {
            padding: 4.5px;
        }
        .ListOneRow .dx-scrollable {
            overflow-y: hidden
        }       

    </style>
    <div id="JournalVoucher_Main_Popup">
        @using (Ajax.BeginForm("Frm_Voucher_Win_Journal", "JournalVoucher",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "JournalVoucher_Main_Popup",
                    InsertionMode = InsertionMode.InsertAfter,
                    OnBegin = "AjaxBeginFormPost",
                    OnSuccess = "AjaxSuccess_JournalVoucher"
                },
                new
                {
                    id = "Frm_Voucher_Win_Journal",
                    @class = "edit_form form-horizontal"
                }
                )
            )
        {
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.TitleX)
            @Html.HiddenFor(x => x.Me_Text)
            @Html.HiddenFor(x => x.xMID)
            @Html.HiddenFor(x => x.xID)
            @Html.HiddenFor(x => x.iSpecific_ItemID_Jv)
            @Html.HiddenFor(x => x.LastEditedOn_Jv)
            @Html.HiddenFor(x => x.Info_LastEditedOn_Jv)
            @Html.HiddenFor(x => x.isconfirmTDS_Jv)
            @Html.HiddenFor(x => x.isconfirmPayCntTDS_Jv)
            @Html.HiddenFor(x => x.Jv_SplVchrReferenceSelected)
            @Html.HiddenFor(x => x.splVchrRefsCount_Jv)

            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="container-fluid">
                    <div class="full-width-header-bg">
                        <div class="row">
                            <div class="col-sm-8 pll">
                                <h3 class="popuphead"><i class="far fa-edit"></i> Journal Entry </h3>
                            </div>
                            <div class="col-sm-4 prm">
                                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-red" })
                        </div>
                    </div><!--[Header]-->
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label class="control-label" for="v.no.">V.No.: </label>
                                        </div>
                                        <div class="col-sm-5">
                                            @(Html.DevExtreme().TextBox().CustomTextBox()
                                                .ID("Txt_V_NO_Jv").Name("Txt_V_NO_Jv")
                                                .Value(Model.Txt_V_NO_Jv).FocusStateEnabled(false).ReadOnly(true)
                                            )
                                        </div>
                                        <div class="col-sm-1 pll">
                                            <label class="control-label text-red" for="v.no.">Date: </label>
                                        </div>
                                        <div class="col-sm-5 plm">
                                            @(Html.DevExtreme().DateBox().CustomDateBox()
                                                .ID("Txt_V_Date_Jv").Name("Txt_V_Date_Jv")
                                                .Value(Model.Txt_V_Date_Jv).ReadOnly(false)
                                            )
                                        </div>
                                    </div><!--[Vno/Date]-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 parent-table table-responsive">
                        @Html.Action("Frm_Win_Journal_Item_Listing_Grid", "JournalVoucher")
                    </div>
                </div><!--[Grid]-->

                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-5 col-md-5 col-lg-5 btnsDiv">
                                @(Html.DevExtreme().Button().ID("Frm_Voucher_Win_Journal_New")
                                    .Text("New").Icon("add")
                                    .OnClick("OnFrm_Voucher_Item_popup_NewClick").Disabled(IsVisible)
                                )
                                @(Html.DevExtreme().Button().ID("Frm_Voucher_Win_Journal_Edit")
                                    .Text("Edit").Icon("edit")
                                    .OnClick("OnFrm_Voucher_Win_Journal_EditClick").Disabled(IsVisible)
                                )
                                @(Html.DevExtreme().Button().ID("Frm_Voucher_Win_Journal_Delete")
                                    .Text("Delete").Icon("trash")
                                    .OnClick("OnFrm_Voucher_Win_Journal_DeleteClick")
                                    .Disabled((Model.ActionMethod.ToString().Trim() == "_View" ||
                                    Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false)
                                )
                                @(Html.DevExtreme().Button().ID("Frm_Voucher_Win_Journal_View")
                                    .Text("View").Icon("doc")
                                    .OnClick("OnFrm_Voucher_Win_Journal_ViewClick")
                                    .Disabled(Model.ActionMethod.ToString().Trim() == "_Delete" ? true : false)
                                )
                            </div><!--[Item Grid Buttons]-->
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        @(Html.DevExtreme().CheckBoxFor(x => x.CheckEdit2_Jv)
                                                .ID("CheckEdit2_Jv").Value(Model.CheckEdit2_Jv)
                                                .OnValueChanged("ShowRemark_valueChange").Text(" Show Remarks")
                                            )

                                    </div>

                                    <div class="col-sm-3 col-md-3 col-lg-3 prm ">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-3 col-lg-3">
                                                <label class="control-label pll blu-txt" for="FormData_Txt_DiffAmt" style="font-size:11px;padding-right:1px">Diff.: </label>
                                            </div>
                                            <div class="col-sm-12 col-md-9 col-lg-9 text-right" id="payment_txtdiff_div">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox()
                                                    .ID("Txt_DiffAmt_Jv").Name("Txt_DiffAmt_Jv")
                                                    .Value((double?)Model.Txt_DiffAmt_Jv).ReadOnly(true).FocusStateEnabled(false)
                                                    .OnValueChanged("Calculation_Check_Diff").Format("#0.00")
                                                    .InputAttr(new { @style = "text-align:right;" })
                                                )
                                            </div>
                                        </div>
                                    </div><!--[Diff]-->
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm ">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-3 col-lg-3">
                                                <label class="control-label pll blu-txt" for="FormData_Txt_DiffAmt" style="font-size:11px;padding-right:1px">Dr.:</label>
                                            </div>
                                            <div class="col-sm-12 col-md-9 col-lg-9 text-right" id="payment_txtdiff_div">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox()
                                                    .ID("Txt_DrTotal_Jv").Name("Txt_DrTotal_Jv")
                                                    .Value((double?)Model.Txt_DrTotal_Jv).ReadOnly(true).FocusStateEnabled(false)
                                                    .OnValueChanged("Calculation_Check_Dr").Format("#0.00")
                                                    .InputAttr(new { @style = "text-align:right;" })
                                                )
                                            </div>
                                        </div>
                                    </div><!--[Dr]-->
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm ">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-3 col-lg-3">
                                                <label class="control-label pll blu-txt" for="FormData_Txt_DiffAmt" style="font-size:11px;padding-right:1px">Cr.:</label>
                                            </div>
                                            <div class="col-sm-12 col-md-9 col-lg-9 text-right" id="payment_txtdiff_div">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox()
                                                    .ID("Txt_CrTotal_Jv").Name("Txt_CrTotal_Jv")
                                                    .Value((double?)Model.Txt_CrTotal_Jv).ReadOnly(true).FocusStateEnabled(false)
                                                    .OnValueChanged("Calculation_Check_Cr").Format("#0.00").InputAttr(new { @style = "text-align:right;" })
                                                )
                                            </div>
                                        </div>
                                    </div><!--[Cr]-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                <label class="control-label" id="Payment_Txt_Reference">Narration:</label>
                            </div>
                            <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                @(Html.DevExtreme().TextBoxFor(x => x.Txt_Narration_Jv).CustomTextBox(true)
                                    .ID("Txt_Narration_Jv")
                                    .Value(Model.Txt_Narration_Jv)
                                    .Placeholder("Type Any Narration...").ReadOnly(IsVisible)
                                )
                            </div>
                        </div>
                    </div>
                </div><!--[Narration]-->
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                <label class="control-label" id="Payment_Txt_Reference">Reference:</label>
                            </div>
                            <div class="col-sm-10 col-md-10 col-lg-10 prm">
                                @(Html.DevExtreme().TextBoxFor(x => x.Txt_Reference_Jv)
                                    .CustomTextBox(true).ID("Txt_Reference_Jv")
                                    .Value(Model.Txt_Reference_Jv)
                                    .Placeholder("Type Any Reference Details...").ReadOnly(IsVisible)
                                )
                            </div>
                        </div>
                    </div>
                </div><!--[Reference]-->

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 ListOneRow" id="Jv_SpecialVoucherRefDiv">
                        <div class="form-field ">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().List().CustomList().ID("ListSpecialVoucherRef_Jv")
                                    .DataSource(Model.SpecialReferenceList_Data_Jv, "Task_Name")
                                    .SearchEnabled(false)
                                    .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                                    .KeyExpr("Task_Name")
                                    .DisplayExpr("Task_Name")
                                    .OnSelectionChanged("OnSplVchrRefsListSelectionChanged_Jv")
                                    .Height(72).ShowScrollbar(ShowScrollbarMode.Always).UseNativeScrolling(false)
                                    .ShowSelectionControls(true)
                                    .SelectedItemKeys(Model.SpecialReference_Get_SelectedValue_Jv))
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:3px">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Payment )...",
                                    Model.ActionMethod.Substring(1)))
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().CustomSaveButton(Model.ActionMethod).ID("frm_win_jv_Save")
                                        .Text(Model.ActionMethod == "_Delete" ? "Delete" : "Save").UseSubmitBehavior(false)
                                        .OnClick("Journal_Voucher_Save").Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true)
                                    )
                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("frm_win_jv_Cancel")
                                        .Text(Model.ActionMethod.ToString().Trim() == "_View" ? "Close" : "Cancel")
                                        .OnClick("Close_JournalVoucher")
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->
            }
        }
    </div>

    <script>
        var Tag_JV = "@Model.ActionMethod";
        var itemGrid_RowCount_JV = "@Model.itemGrid_RowCount_Jv";

        $(document).ready(async function () {
            //debugger;
            ShowLoader_Ready();
            sessionclearpath = "/Account/JournalVoucher/SessionClear";
            TransformTextForDB("Frm_Voucher_Win_Journal");
            if (Tag_JV == "_View" || Tag_JV == "_Delete") {
                dontaskpopupcloseconfirmation = true;
            }
            else {
                dontaskpopupcloseconfirmation = false;
            }
            if (Tag_JV == "_New") {
                DataNavigation_JV("NEW");

            }
            if (Tag_JV == "_Edit" || Tag_JV == "_View" || Tag_JV == "_Delete") {
                $(".customPreviewRow_Jv").hide();
            }

            Calculation_Check();

            //FCRA Related
            if (parseInt("@Model.splVchrRefsCount_Jv") == 0)
                {
                    $("#Jv_SpecialVoucherRefDiv").remove();
                    //$("#Jv_NarrationDiv").removeClass("col-sm-12 col-md-8 col-lg-8").addClass("col-sm-12 col-md-12");
                }
            //await $("#ListSpecialVoucherRef_Jv").dxList("getDataSource").load();
            if (parseInt("@Model.splVchrRefsCount_Jv") > 0) {
                    //await $("#ListSpecialVoucherRef_Jv").dxList("getDataSource").load();
                    OnSplVchrRefsListSelectionChanged_Jv();
                }

            setTimeout(function () {
                Set_Form_View_Delete_Mode(null, "Frm_Voucher_Win_Journal", Tag_JV);
                Focus_FirstEditable_Field("Frm_Voucher_Win_Journal", Tag_JV);
                HideLoader_Ready();
            }, 500);
        });
        function Set_Disable(SetColor)
        {
           ////debugger;
            Control_SetReadOnly("Txt_V_Date_Jv","dxDateBox",true,SetColor);
            //Control_SetReadOnly("Txt_V_NO_Jv","dxTextBox",true,SetColor);
            //Control_SetReadOnly("Txt_Reference_Jv","dxTextBoxFor",true,SetColor);
            //Control_SetReadOnly("Txt_Narration_Jv","dxTextBoxFor",true,SetColor);
            Control_SetReadOnly("Txt_DiffAmt_Jv","dxNumberBox",true,SetColor);
            //Control_SetReadOnly("Txt_DrTotal_Jv","dxNumberBox",true,SetColor);
            //Control_SetReadOnly("Txt_CrTotal_Jv","dxNumberBox",true,SetColor);
        }

        function OnFrm_Voucher_Item_popup_NewClick() {
            DataNavigation_JV("NEW")
        }

        function OnFrm_Voucher_Win_Journal_EditClick() {
            DataNavigation_JV("EDIT")
        }

        function OnFrm_Voucher_Win_Journal_DeleteClick() {
            CreateCustomConfirmDialog("@Model.Me_Text", "", true).show().done(function (dialogResult)
                    {
                if (dialogResult)
                    {
                        DataNavigation_JV("DELETE");
                    }
                });

        }

        function OnFrm_Voucher_Win_Journal_ViewClick() {
            DataNavigation_JV("VIEW")
        }

        function ShowRemark_valueChange() {
            var showremarks = $("#CheckEdit2_Jv").dxCheckBox("option", "value");
            if (showremarks == true) {
                $(".customPreviewRow_Jv").show();
            }
            else {
                $(".customPreviewRow_Jv").hide();
            }
        }
        function Calculation_Check()
        {
            //debugger;
            var value = $("#Txt_DiffAmt_Jv").dxNumberBox("instance").option("value");
            if (value == null) { value = 0;}
            if (Tag_JV != "_Delete") {
                if (value != 0 ) {
                    $("#frm_win_jv_Save").dxButton("instance").option("disabled", true);
                    $("#Txt_DiffAmt_Jv").addClass('negative');
                    $("#Txt_DiffAmt_Jv").removeClass('positive');
                }
                else {
                    $("#frm_win_jv_Save").dxButton("instance").option("disabled", false);
                    //$("#Txt_DiffAmt_Jv").toggleClass('positive', value == 0);
                    $("#Txt_DiffAmt_Jv").addClass('positive');
                    $("#Txt_DiffAmt_Jv").removeClass('negative');
                }
            }


        }

        function Calculation_Check_Diff() {

        }

        function Calculation_Check_Dr() {

        }

        function Calculation_Check_Cr() {

        }

        function Close_JournalVoucher() {
            $("#Dynamic_Content_popup").dxPopup("hide");
        }

        function Journal_Voucher_Save(e) {
           //debugger;
            var form = $("#Frm_Voucher_Win_Journal");
            //var result = e.validationGroup.validate();
            //if (result.isValid)
            //{
            if (Tag_JV == "_Delete")
            {
                CreateCustomConfirmDialog("@Model.Me_Text", "", true).show().done(function (dialogResult)
                    {
                    if (dialogResult)
                    {
                        form.submit();
                    }
                });
            }
            else
            {
                form.submit();
            }
            //}
        }
        function AjaxSuccess_JournalVoucher(data)
        {
            HideLoader();
            if (data.jsonParam.result == false)
            {
                if (data.jsonParam.isconfirm == true)
                {
                    var confirmation = DevExpress.ui.dialog.confirm(data.jsonParam.message, data.jsonParam.title);
                    confirmation.done(function (result)
                    {
                        if (result)
                        {
                            if (data.jsonParam.focusid == 'partycount')
                            {
                                $("#isconfirmPayCntTDS_Jv").val(true);
                            }
                            else if (data.jsonParam.focusid == 'tds')
                            {
                                $("#isconfirmTDS_Jv").val(true);
                            }
                            $("#Frm_Voucher_Win_Journal").submit();
                        }
                        //else if (data.jsonParam.refreshgrid) {
                        //    BankListGrid.Refresh();
                        //}
                    });
                }
                else
                {
                    if (data.jsonParam.closeform)
                    {
                        dontaskpopupcloseconfirmation = true;
                        $("#Dynamic_Content_popup").dxPopup("hide");
                    }
                    if (data.jsonParam.refreshgrid)
                    {
                        RefreshGridView("@ViewBag.GridToRefresh");
                    }
                    var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                    alertclick.done(function (alertResult)
                    {
                        if (alertResult)
                        {
                            if (data.jsonParam.focusid)
                            {
                                var id = "#" + data.jsonParam.focusid;
                                setTimeout(function ()
                                {
                                    if (id == "#Win_Journal_Item_Grid")
                                    {
                                        Win_Journal_Item_Grid.Focus();
                                    }

                                    else
                                    {
                                        $(id).find('input').focus();
                                    }
                                }, 500);
                            }
                        }
                    });
                }
            }
            else if (data.jsonParam.result == true)
            {
                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertclick.done(function (result)
                {
                    if (result)
                    {
                        if ("@ViewBag.GridToRefresh" != "CashBookListGrid")
                        {
                            RefreshGridView("@ViewBag.GridToRefresh");
                        }
                        if (/*typeof CashBookListGrid !== 'undefined'*/ $(".TabPanalMenu-tabs .active").attr("id") == "contact_Frm_Voucher_Info_CB")
                        {
                            var VouDate = $("#Txt_V_Date_Jv").dxDateBox("instance").option("value");
                            AfterVoucherClose_CB(VouDate, Tag_JV, IsUndefinedOrNull(data.CashbookGridPK) ? "" : data.CashbookGridPK);
                        }
                        dontaskpopupcloseconfirmation = true;
                        $("#Dynamic_Content_popup").dxPopup("hide");
                    }
                });
            }
        }

        function DataNavigation_JV(Action) {
           //debugger;
            if (Tag_JV == "_View")
            {
                if (Action == "NEW" || Action == "EDIT" || Action == "DELETE") {
                    return;
                }
            }
            var VDT = FormatDateToddMMyyyy($("#Txt_V_Date_Jv").dxDateBox("option", "value"));
            if (Tag_JV != "_Delete")
            {
                if (Action != "NEW")
                {
                    if (itemGrid_RowCount_JV <= 0) {
                        return;
                    }

                    if (Win_Journal_Item_Grid.GetFocusedRowIndex() < 0)
                    {
                        DevExpress.ui.dialog.alert("Please Select an Item", "Error..");
                        return;
                    }
                }
                var Grid_SR = Win_Journal_Item_Grid.GetRowKey(Win_Journal_Item_Grid.GetFocusedRowIndex());
                if (Action == "NEW")
                {
                    ShowLoader();
                    var rdactionvalue = 0;
                    var diffValue = $("#Txt_DiffAmt_Jv").dxNumberBox("instance").option("value");
                    if (diffValue > 0) { rdactionvalue = 1 }
                    else {rdactionvalue = 0}
                    $.ajax({
                    type: 'GET',
                        url: "/Account/JournalVoucher/Frm_Voucher_Win_Journal_New_Item_Detail",
                        data:
                        {
                            Tag: "_New",
                            iTxnM_ID: "@Model.xMID",
                            iSpecific_Allow: Tag_JV == "_New_From_Selection" ? true : false,
                            iSpecific_ItemID: "@Model.iSpecific_ItemID_Jv",
                            Vdt: VDT,
                            rdaction: rdactionvalue
                        },
                        cache: false,
                        success: function (data) {
                            OpenPopup("Win_JV_Item_Popup", "New ~ Item Detail", null, "auto", 850, true, data);
                        }
                    });
                }
                else if (Action == "EDIT" || Action == "VIEW")
                {
                    ShowLoader();
                            $.ajax({
                    type: 'GET',
                        url: "/Account/JournalVoucher/Frm_Voucher_Win_Journal_New_Item_Detail",
                        data:
                        {
                        Tag: Action == "EDIT" ? "_Edit" : "_View",
                                    iTxnM_ID: "@Model.xMID",
                                    Grid_RowNo: Grid_SR
                                },
                                cache: false,
                                success: function (data)
                                {
                            OpenPopup("Win_JV_Item_Popup", Action == "EDIT" ? "Edit ~ Item Detail" : "View ~ Item Detail", null, "auto", 850, true, data);
                        }
                    });
                }
                else if (Action == "DELETE")
                {
                    ShowLoader();
                            $.ajax({
                    type: 'GET',
                        url: "/Account/JournalVoucher/Frm_Voucher_Win_Journal_New_Item_Detail",
                        cache: false,
                        data:
                        {
                            MainTag: Tag_JV,
                            Tag: "_Delete",
                            Grid_RowNo: Grid_SR,
                            iTxnM_ID: "@Model.xMID"
                        },
                        success: function (data)
                        {
                            HideLoader();
                            if (data.jsonParam.result == false)
                            {
                                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                                alertclick.done(function (alertResult)
                                        {
                                    if (alertResult)
                                    {
                                        if (data.jsonParam.focusid)
                                        {
                                            setTimeout(function ()
                                                    {
                                                Win_Journal_Item_Grid.Focus();
                                            }, 250);
                                        }
                                    }
                                });
                            }
                            else if (data.jsonParam.result == true)
                            {
                                PerformCallbackGridView("Win_Journal_Item_Grid");
                                Win_Journal_Item_Grid.SetFocusedRowIndex(-1);
                            }
                        }
                    });
                }
            }
        }
    </script>
    <script>
        function Fill_Item_Grid_JournalVoucher() {
            ShowLoader_Ready();
           //debugger;
            $.ajax({
                type: 'POST',
                url: "/Account/JournalVoucher/Fill_Item_Grid",
                data: $("#Frm_Voucher_Win_Journal_New_Item_Detail").serialize(),
                cache: false,
                success: function (data) {
                    if ($("#JV_Item_Content_popup").length > 0) {
                        if ($("#JV_Item_Content_popup").dxPopup("instance").option("title") != "PopUpDidnotOpen") {
                            $("#JV_Item_Content_popup").dxPopup("hide");
                        }
                    }


                    $("#Win_JV_Item_Popup").dxPopup("hide");
                    PerformCallbackGridView("Win_Journal_Item_Grid");
                    Win_Journal_Item_Grid.SetFocusedRowIndex(-1);
                    HideLoader_Ready();
                    Calculation_Check()
                }
            });
        }
    </script>  @*Fill Item Grid*@

    <script>
        //Grid Callback functions

        function Journal_Voucher_GridContextMenuFunction(s, e) {
           //debugger;
            if (Tag_JV != "_Delete" || Tag_JV != "_View") {
                if (e.item.name == 'New') {
                    DataNavigation_JV("NEW");
                }
                if (e.item.name == 'Edit') {
                    DataNavigation_JV("EDIT");
                }
                else if (e.item.name == 'View') {
                    DataNavigation_JV("VIEW");
                }
                else if (e.item.name == 'Delete') {
                    DataNavigation_JV("DELETE");
                }
            }
        }
        function Journal_Voucher_GridDoubleClickEdit(s, e) {
            if (Tag_JV == "_New" || Tag_JV == "_New_From_Selection" || Tag_JV == "_Edit") {
                DataNavigation_JV("EDIT");
            }
        }
        function Journal_Voucher_Grid_BeginCallBack_JV(s, e) {

        }
        function Journal_Voucher_Grid_EndCallback_JV(s, e) {
           //debugger;
            $('#Txt_DiffAmt_Jv').dxNumberBox('instance').option('value', s.cpTxt_DiffAmt_Jv);
            $('#Txt_DrTotal_Jv').dxNumberBox('instance').option('value', s.cpTxt_DrTotal_Jv);
            $('#Txt_CrTotal_Jv').dxNumberBox('instance').option('value', s.cpTxt_CrTotal_Jv);
            itemGrid_RowCount_JV = s.cpVisibleRowCount;
            CheckEdit2_CheckedChanged_JV();
            Calculation_Check();
        }
        function CheckEdit2_CheckedChanged_JV(e) {
            var showremarks = $("#CheckEdit_Jv").dxCheckBox("option", "value");
            if (showremarks == true) {
                $(".customPreviewRow_Jv").show();
            }
            else {
                $(".customPreviewRow_Jv").hide();
            }
        }
        function Journal_Voucher_GridFocusedRowChanged_JV(s, e) {
            s.Focus();
        }
    </script>
    @*Grid Callback functions*@

    <script>
        //FCRA Related
        function OnSplVchrRefsListSelectionChanged_Jv(e) {
            var listBox = $("#ListSpecialVoucherRef_Jv").dxList("instance");
            var selecteditemkey = listBox.option("selectedItemKeys")
            if (selecteditemkey != null && selecteditemkey.length > 0) {
                $("#Jv_SplVchrReferenceSelected").val(selecteditemkey.join(","));
            }
            else {
                $("#Jv_SplVchrReferenceSelected").val("");
            }
        }// List selection

    </script>
</div>

