@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.Model_NEVD_MTAllocation

@{
    bool IsDisabled = Model != null && ((Model.ActionMethod == "View") || (Model.ActionMethod == "Delete")) ? true : false;
    bool MT_AddJob_Rights = (bool)ViewData["MT_AddJobRight"];

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<style>
    .wdfull {
        width: 100%;
    }

    .nav-tabs > li > a.active, .nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    td {
        width: auto;
    }

    .width1200px {
        width: 1200px;
    }

    .margT12 {
        margin-top: 12px !important;
    }

    .fs22 {
        font-size: 22px !important;
    }

    .control-label {
        text-align: left !important;
    }

    .dx-state-disabled .dx-texteditor-input {
        color: darkgoldenrod;
    }

    .dx-button-has-text .dx-button-content {
        margin-right: 15px;
        padding: 2px 1px;
        min-width: 40px;
        padding-left: 19px;
    }

    .dx-texteditor-container {
        overflow: visible
    }

    /*.dx-datagrid-header-panel {
        visibility: hidden;
    }*/
</style>
<div>
    @using (Ajax.BeginForm("Frm_NEVD_MTAllocation", "MTAllocationRegister",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "Frm_NEVD_MTAllocation",
                    InsertionMode = InsertionMode.InsertAfter,
                    OnBegin = "AjaxBeginFormPost",
                    OnSuccess = "OnMToolAllocation_IssueAjaxSuccessForm"
                },
                 new
                 {
                     id = "mtvalidationForm",
                     @class = "edit_form"
                 }))
    {
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.StockID)
        @Html.HiddenFor(x => x.MT_ID)
        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Machines/Tools Allocation</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label text-red" for="iten">Issue Date:</label>
                                </div>
                                <div class="col-sm-8 prm">
                                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("MT_IssueDate").Name("MT_IssueDate").Placeholder("Issue Date").Value(Model.MT_IssueDate).InvalidDateMessage("Value must be a Date!!").Disabled(IsDisabled).ReadOnly(IsDisabled))
                             
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Issue Date]-->
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label text-red" for="user">Issuing Store:</label>
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("MT_IssuingStoreID").Name("MT_IssuingStoreID").Placeholder("Issuing Store").DataSource(d => d.Mvc().Controller("MTAllocationRegister").LoadAction("Get_IssuingStore_List").Key("StoreID"))
                                                                                                                                                                                  .ValueExpr("StoreID").DisplayExpr("Store_Name").OnValueChanged("On_IssuingStore_Changed").Disabled(IsDisabled)
                                                                                                                                                                                  .ReadOnly(IsDisabled).ContentTemplate(@<text> @Html.Partial("Get_IssuingStore_List") </text>))
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Issuing Store]-->
            </div><!--[Row 1]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label text-red" for="iten">Issued By:</label>
                                </div>
                                <div class="col-sm-8 prm">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("MT_IssuedBy").Name("MT_IssuedBy").Placeholder("Issued By")
                                                                                                                                                                                                  .DataSource(d => d.Mvc().Controller("MTAllocationRegister").LoadAction("Get_IssuedBy_List").Key("ID").LoadParams(new { storeid = new JS("function (){ return storeid;}") }))
                                                                                                                                                                                                  .ValueExpr("ID").DisplayExpr("Name").OnValueChanged("On_IssuedBy_Changed").Disabled(IsDisabled).ReadOnly(IsDisabled).ContentTemplate(@<text> @Html.Partial("Get_IssuedBy_List") </text>))
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Issued By]-->
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label text-red" for="iten">Issuing To:</label>
                                </div>
                                <div class="col-sm-8 prm">

                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("MT_IssuedTo").Name("MT_IssuedTo").Placeholder("Issued To").DataSource(d => d.Mvc().Controller("MTAllocationRegister").LoadAction("Get_IssuedTo_List").Key("ID"))
                                                                                                                                                                                          .ValueExpr("ID").DisplayExpr("Name").OnValueChanged("On_IssuedTo_Changed").Disabled(IsDisabled)
                                                                                                                                                                                          .ReadOnly(IsDisabled).ContentTemplate(@<text> @Html.Partial("Get_IssuedTo_List") </text>))
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Issued To]-->
            </div><!--[Row 2]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="item">Job Name: </label>
                                </div>
                                <div class="col-sm-6  prm">

                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("MT_JobID").Name("MT_JobID").Placeholder("Job Name").DataSource(d => d.Mvc().Controller("MTAllocationRegister").LoadAction("Get_JobName_List").Key("ID"))
                                                                                                                                                                                          .ValueExpr("ID").DisplayExpr("Job_Name").OnValueChanged("On_JobName_Changed").Disabled(IsDisabled)
                                                                                                                                                                                          .ReadOnly(IsDisabled).ContentTemplate(@<text> @Html.Partial("Get_JobName_List") </text>))
                                    

                                </div>
                                <div class="col-sm-2  prm">
                                    @(Html.DevExtreme().Button().ID("MT_AddJob").Text("Add Job").UseSubmitBehavior(false).Disabled(IsDisabled || (!MT_AddJob_Rights)).OnClick("MT_Allocation_AddJob"))
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Job Name]-->
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label text-red" for="iten">Usage Site(Dept):</label>
                                </div>
                                <div class="col-sm-8 prm">

                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("MT_UsageSiteID").Name("MT_UsageSiteID").Placeholder("Usage Site (Dept)").Disabled(IsDisabled).ReadOnly(IsDisabled)
                                                                                                                                                                                  .DataSource(d => d.Mvc().Controller("MTAllocationRegister").LoadAction("Get_UsageSite_List").Key("ID"))
                                                                                                                                                                                  .DisplayExpr("Name").ValueExpr("ID").OnValueChanged("On_UsageSite_Changed").ContentTemplate(@<text> @Html.Partial("Get_UsageSite_List") </text>))
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[usage site]-->
            </div><!--[Row 3]-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 pll">
                                    <label class="control-label text-red">Allocated Tools/Machines: </label>
                                </div>
                                <fieldset id="" MT_IssueGrid_Fieldset>
                                    <div class="col-sm-10 prm">
                                        <div id="MTAllocation_IssueToolGrid_PartialView" class="parent_table">
                                            @Html.Partial("AllocatedTools_Grid", Model.AllocatedTools_Grid_data)
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Issue Tool Grid]-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 pll">
                                    <label class="control-label">Existing Remarks: </label>
                                </div>
                                <div class="col-sm-10 prm">
                                    <div id="MTAllocation_IssueRemarksGrid_PartialView" class="parent_table">
                                        @Html.Partial("Existing_RemarksGrid", Model.Existing_RemarksGrid_data)
                                    </div>
                                    <div class="row">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="col-md-12">
                                                    @(Html.DevExtreme().Button().ID("MT_BUT_RemDelete").Text("Delete").Icon("fas fa-trash btn-icons deletecolor icon-rgt-space5").Disabled(IsDisabled).OnClick(@<text> function () { OnFrm_MT_Remarks_Delete_Click() } </text>))
                                                    @(Html.DevExtreme().Button().ID("MT_BUT_RemView").Text("View").Icon("fas fa-eye btn-icons eyeicon icon-rgt-space5").OnClick(@<text> function () { OnFrm_MT_Remarks_View_Click() } </text>))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Issue Remarks Grid]-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 pll">
                                    <label class="control-label" for="user">Your Remarks:</label>
                                </div>
                                <div class="col-sm-10 prm">
                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("MT_Remarks").Name("MT_Remarks").Placeholder("Enter Remarks...").ReadOnly(IsDisabled).MaxLength(8000))
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Remarks]-->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="styleActionBtn">
                    @(Html.DevExtreme().Button().ID("MT_Save").CustomSaveButton().Text((Model.ActionMethod.Trim() == "New" || Model.ActionMethod.Trim() == "Edit") ? "Save" : "Delete").Visible(Model.ActionMethod.Trim() == "View" ? false : true).UseSubmitBehavior(true))
                    @(Html.DevExtreme().Button().ID("MT_Close").CustomCloseButton().Text((Model.ActionMethod.Trim() == "New" || Model.ActionMethod.Trim() == "Edit" || Model.ActionMethod.Trim() == "Delete") ? "Cancel" : "Close").OnClick(@<text> function(){ mt_close_NEVD(); } </text>) )
                </div>
            </div><!--[Buttons]-->
        }
    }
</div>
<script>
    function mt_close_NEVD()
    {
        dontaskpopupcloseconfirmation = false;
        sessionclearpath = "/Stock/MTAllocationRegister/Sessionclear";
        $("#Dynamic_Content_popup").dxPopup("hide");
    }
    function mt_deleteclick(e)
    {
        var form = $("#mtvalidationForm");
        var result = DevExpress.ui.dialog.confirm("Sure You Want To Delete..?", "Delete~Machine allocation");
        result.done(function (dialogResult)
        {
            if (dialogResult)
            {
                form.submit();
            }
        });
    }
    function OnMToolAllocation_IssueAjaxSuccessForm(data)
    {
        HideLoader();
        dontaskpopupcloseconfirmation = true;
        if (data.result == true) {
            var alertClick = DevExpress.ui.dialog.alert(data.message, "Inform");
            $("#Dynamic_Content_popup").dxPopup("hide");
            MTAllocationRegisterListGrid.SetFocusedRowIndex(-1);
            MTAllocationRegisterListGrid.Refresh();
            alertClick.done(function (dialogResult) {
                if (dialogResult) {
                    var Addmore = DevExpress.ui.dialog.confirm("Add Similar Entry..?", "Confirm");
                    Addmore.done(function (dialogResult) {
                        if (dialogResult) {
                            RecallMtAllocationIssue(data);
                        }
                    });
                }
            });
        }

        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.message, "Inform");
        }
    }
    function RecallMtAllocationIssue(data)
    {
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Stock/MTAllocationRegister/Frm_NEVD_MTAllocation",
            data:
            {
                ActionMethod: "New",
                IssuedBy: data.issuedby,
                IssuedTo: data.issuedto,
                JobID: data.jobid,
                UsageSiteID:data.usagesiteid,
                IssueDate: data.issuedate,
                StoreID:data.storeid
            },
            cache: false,
            success: function (data)
            {               
                OpenDynamicPopup("New ~ Tools Allocation", null, "auto", "85%", true, data);               
            }
        }); 
    }
</script>@*Save & other Operations*@
<script>
    function On_IssuingStore_Changed(e) {
        var drop_Down = $("#MT_IssuingStoreID").dxDropDownBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined")
        {
            drop_Down.close();
        }
        if (e.value == null && e.previousValue != null) {
            MT_IssuingStore_DG.clearSelection();
            MT_IssuedBy_DG.clearSelection();
            MT_IssuedBy_DG.refresh();
            storeid = 0;
            $.ajax({
                type: 'GET',
                url: "/Stock/MTAllocationRegister/Get_MachineToolName_List",
                data: { storeid: 0 },
                cache: false,
                success: function (data) { MT_AllocatedTool_Grid.Refresh(); }
            });
            return;
        }
        if (MT_IssuingStore_DG.getSelectedRowsData().length > 0) {
            var item = MT_IssuingStore_DG.getSelectedRowsData()[0];
            storeid = item.StoreID;
            MT_IssuedBy_DG.clearSelection();
            MT_IssuedBy_DG.refresh();
            $.ajax({
                type: 'GET',
                url: "/Stock/MTAllocationRegister/Get_MachineToolName_List",
                data: { storeid: item.StoreID },
                cache: false,
                success: function (data) { MT_AllocatedTool_Grid.Refresh(); }
            });

        }
    }
    function On_IssuedBy_Changed(e) {
        var drop_Down = $("#MT_IssuedBy").dxDropDownBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
        }
        if (e.value == null && e.previousValue != null) {
            MT_IssuedBy_DG.clearSelection();
            return;
        }
        if (MT_IssuedBy_DG.getSelectedRowsData().length > 0) {
            var item = MT_IssuedBy_DG.getSelectedRowsData()[0];
            MT_IssuedBy = item.MT_IssuedBy;
        }
    }
    function On_IssuedTo_Changed(e) {
        var drop_Down = $("#MT_IssuedTo").dxDropDownBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
        }
        if (e.value == null && e.previousValue != null) {
            MT_IssuedTo_DG.clearSelection();
            return;
        }
        if (MT_IssuedTo_DG.getSelectedRowsData().length > 0) {
            var item = MT_IssuedTo_DG.getSelectedRowsData()[0];
            MT_IssuedTo = item.MT_IssuedTo;
        }
    }
    function On_JobName_Changed(e) {
        e.component.close();
        if (e.value == null && e.previousValue != null) {
            MT_JobName_DG.clearSelection();
            return;
        }
    }
    function On_UsageSite_Changed(e) {
        var drop_Down = $("#MT_UsageSiteID").dxDropDownBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
        }
        if (e.value == null && e.previousValue != null) {
            MT_UsageSite_DG.clearSelection();
            return;
        }
    }
</script>@*DropDown Functions*@
<script>
    var MT_IssuingStore_DG;
    var MT_IssuedBy_DG;
    var MT_IssuedTo_DG;
    var MT_JobName_DG;
    var MT_UsageSite_DG;
    function MT_IssuingStore_DD()
    {
        var $dataGrid = $("#GetIssuingStoreDG");
        if ($dataGrid.length)
        {
            MT_IssuingStore_DG = $dataGrid.dxDataGrid("instance");
        }
        if (MT_IssuingStore_DG.totalCount() == 1)
        {
            MT_IssuingStore_DG.selectRowsByIndexes(0);
        }
    }
    function MT_IssuedBy_DD()
    {
        var $dataGrid = $("#GetIssuedByDG");
        if ($dataGrid.length)
        {
            MT_IssuedBy_DG = $dataGrid.dxDataGrid("instance");
        }
        if ("@Model.ActionMethod"=="New")
        {
            var Rowindex = MT_IssuedBy_DG.getRowIndexByKey(parseInt("@Model.LoginUserID"));
            if (Rowindex > -1)
            {
                MT_IssuedBy_DG.selectRowsByIndexes(Rowindex);
            }
        }
    }
    function MT_IssuedTo_DD()
    {
        var $dataGrid = $("#GetIssuedToDG");
        if ($dataGrid.length) {
            MT_IssuedTo_DG = $dataGrid.dxDataGrid("instance");
        }
    }
    function MT_JobName_DD()
    {
        var $dataGrid = $("#GetJobNameDG");
        if ($dataGrid.length)
        {
            MT_JobName_DG = $dataGrid.dxDataGrid("instance");
        }
    }
    function MT_UsageSite_DD()
    {
        var $dataGrid = $("#GetUsageSiteDG");
        if ($dataGrid.length)
        {
            MT_UsageSite_DG = $dataGrid.dxDataGrid("instance");
        }
    }
</script>@*Dropdown DataGrid Initialization*@
<script>
    var MT_IssuedTo;
    var MT_JobID;
    var MT_UsageSiteID;
    var MT_IssuedBy;
    var mtname;
    var MT_IssuingStoreID;
    var storeid = '@Model.MT_IssuingStoreID' ? '@Model.MT_IssuingStoreID' : 0;
    var usagesiteid;
    $(document).ready(async function ()
    {
        var form = "mtvalidationForm";
        ShowLoader();
        AssignIDtoLabel(form, "MTallocation");
        sessionclearpath = "/Stock/MTAllocationRegister/Sessionclear";
        dontaskpopupcloseconfirmation = false;

        if ("@MT_AddJob_Rights" == "False")
        {
            $("#MT_AddJob").hide();
        }

        MT_IssuingStore_DD();
        MT_IssuedTo_DD();
        MT_IssuedBy_DD();
        MT_UsageSite_DD();
        MT_JobName_DD();
     
        if ("@Model.ActionMethod" != "New") {
            await MT_IssuingStore_DG.selectRows("@Model.MT_IssuingStoreID", false);
            MT_IssuedBy_DG.selectRows("@Model.MT_IssuedBy", false);
            MT_IssuedTo_DG.selectRows("@Model.MT_IssuedTo", false);
            MT_JobName_DG.selectRows("@Model.MT_JobID", false);
            MT_UsageSite_DG.selectRows("@Model.MT_UsageSiteID", false);
        }
        else
        {
            if ("@Model.MT_IssuingStoreID" != null && "@Model.MT_IssuingStoreID".length > 0)
            {
               await MT_IssuingStore_DG.selectRows("@Model.MT_IssuedBy", false);
            }            
            if ("@Model.MT_IssuedBy" != null && "@Model.MT_IssuedBy".length > 0)
            {
                   MT_IssuedBy_DG.selectRows("@Model.MT_IssuedBy", false);
            }
            if ("@Model.MT_IssuedTo" != null && "@Model.MT_IssuedTo".length > 0)
            {
                 MT_IssuedTo_DG.selectRows("@Model.MT_IssuedTo", false);
            }
            if ("@Model.MT_JobID" != null && "@Model.MT_JobID".length > 0)
            {
                 MT_JobName_DG.selectRows("@Model.MT_JobID", false);
            }
            if ("@Model.MT_UsageSiteID" != null && "@Model.MT_UsageSiteID".length > 0)
            {
                 MT_UsageSite_DG.selectRows("@Model.MT_IssuedBy", false);
            }             
             
        }
        setTimeout(function ()
        {
            Set_Form_View_Delete_Mode(null, form, "@Model.ActionMethod");
            Focus_FirstEditable_Field(form,"@Model.ActionMethod");
            HideLoader();
        }, 200);
    });
</script>@*Document.Ready*@
<script>
    function IssueTool_Grid_End_CallBack(s, e)
    {
        if (s.cpIssueToolGridError && s.cpIssueToolGridError != "")
        {
            if (e.command == "UPDATEEDIT")
            {
                DevExpress.ui.dialog.alert(s.cpIssueToolGridError, 'Error..');
            }
        }
        if (s.cpVisibleRowCount > 0)
        {
            $("#MT_IssuingStoreID").dxDropDownBox("instance").option("readOnly", true);
        }
        else
        {
            $("#MT_IssuingStoreID").dxDropDownBox("instance").option("readOnly", false);
        }
    }
</script>@*Issue Tool Grid*@
<script>
    var MT_Remarks_Sr;
    var MT_Remarks_ID;
    function OnExistingMTRemarksGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'Sr_No;ID', OnRemarksDetailsGridRowValues);
    }
    function OnRemarksDetailsGridRowValues(values) {
        MT_Remarks_Sr = values[0];
        MT_Remarks_ID = values[1];
    }

    $("#MTExistingRemarks_Window_Grid").keydown(function (evt) {
        switch (evt.keyCode) {
            case 32: //space bar
                OnFrm_MT_Remarks_View_Click();
                break;
            case 46://delete key
                OnFrm_MT_Remarks_Delete_Click();
                break;
        }

        if (evt.ctrlKey && evt.keyCode == 86)//ctrl+v
        {
            OnFrm_MT_Remarks_View_Click();
        }
    });


    function OnFrm_MT_Remarks_Delete_Click()
        {
            if ("@IsDisabled" == "true")
            {
                return;
            }
        if (!MT_Remarks_Sr) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var deleteResultPaymentDetail = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Confirm changes");
            deleteResultPaymentDetail.done(function (dialogResult)
            {
            if (dialogResult)
            {
                $.ajax({
                    type: 'GET',
                    url: "/Stock/MTAllocationRegister/Frm_Remarks_Window_Delete_Grid_Record",
                    data: { ActionMethod: "Delete", SR_No: MT_Remarks_Sr, id: MT_Remarks_ID },
                    cache: false,
                    success: function (result)
                    {
                        MTExistingRemarks_Window_Grid.SetFocusedRowIndex(-1);
                        MTExistingRemarks_Window_Grid.Refresh();
                    }
                });
            }
        });
    }//delete
    function OnFrm_MT_Remarks_View_Click()
    {
        if (!MT_Remarks_Sr) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }
            ShowLoader();
        OpenPopup("mtainnergrid", "View ~ Remarks", "@Url.Action("Frm_Existing_RemarksWindow", "MTAllocationRegister", new {@area= "Stock" })?ActionMethod=View&SR_No=" + MT_Remarks_ID, "auto", 900, false, null);
    }

</script>@*Issue Tool Remarks Grid*@
<script>
    function MT_Allocation_AddJob(e)
    {
        if ("@MT_AddJob_Rights"== "False")
        {
            DevExpress.ui.dialog.alert("No Rights To Add New Job..", "Error..");
            return;
        }
        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/Stock/JobRequestRegister/Frm_NEVD_Job_Request",
            data:
            {
                ActionMethod: "New", PostSuccessFunction: "MT_AddJob_Success", PopupID: "mtainnergrid", CallingScreen: "MTAllocation"},
            success: function (data)
            {
                OpenPopup("mtainnergrid", "New ~ Job Request Register", null, "auto", "90%", true, data);
            }
        });   
    }
    function MT_AddJob_Success(data)
    {
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.message, "Inform");
        }
        else
        {
            HidePopup("mtainnergrid");
            MT_JobName_DG.refresh();
        }
    }
</script>@*Add Job*@
