@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.Model_Return_MTAllocation

@{
    bool IsDisabled = Model != null && ((Model.ActionMethod == "View") || (Model.ActionMethod == "Delete")) ? true : false;

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<div>
    @using (Ajax.BeginForm("Frm_New_Mach_Tool_Return", "MTAllocationRegister",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "Frm_New_Mach_Tool_Return",
                    InsertionMode = InsertionMode.InsertAfter,
                    OnBegin = "AjaxBeginFormPost",
                    OnSuccess = "OnMToolAllocationReturn_AjaxSuccessForm"
                },
                 new
                 {
                     id = "mtvalidationForm_return",
                     @class = "edit_form"
                 }))
    {
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x=>x.MTReturn_MainIssueID)
        @Html.HiddenFor(x=>x.MTReturn_IssueRecID)
        @Html.HiddenFor(x => x.MTReturn_ID)

        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i>Tools/Machine Return</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 pll">
                                    <label class="control-label text-red">Return Date:</label>
                                </div>
                                <div class="col-sm-6 prm">
                                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("MTReturn_ReturnDate").Name("MTReturn_ReturnDate").Placeholder("Return Date")
                                                                                                                  .InvalidDateMessage("Value must be a Date!!").Disabled(IsDisabled).Value(Model.MTReturn_ReturnDate))
                                    @Html.ValidationMessageFor(model => model.MTReturn_ReturnDate, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Return Date]-->
                <div class="col-sm-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 pll">
                                    <label class="control-label text-red">Issuing Store:</label>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 prm">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("MTReturn_IssuingStoreID").Name("MTReturn_IssuingStoreID").Placeholder("Issuing Store").DataSource(d => d.Mvc().Controller("MTAllocationRegister").LoadAction("Get_IssuingStore_List").Key("StoreID"))
                                          .ValueExpr("StoreID").DisplayExpr("Store_Name").OnValueChanged("On_IssuingStore_Changed").ReadOnly(Model.ActionMethod=="New"?false:true).Disabled(IsDisabled).ContentTemplate(@<text> @Html.Partial("Get_IssuingStore_List") </text>))
                                    @Html.ValidationMessageFor(model => model.MTReturn_IssuingStoreID, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Issue Store]-->
                <div class="col-sm-4">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 pll">
                                    <label class="control-label">Issue Date:</label>
                                </div>
                                <div class="col-sm-6 prm">
                                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("MTReturn_IssueDate").Name("MTReturn_IssueDate").Placeholder("Issue Date").Value(Model.MTReturn_IssueDate).ReadOnly(true).InvalidDateMessage("Value must be a Date!!").Disabled(IsDisabled))
                                    @Html.ValidationMessageFor(model => model.MTReturn_IssueDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Issue Date]-->
            </div><!--[Row 1]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label text-red">Machine/Tool Returned: </label>
                                </div>
                                <div class="col-sm-8 prm ">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("MTReturn_Tool_ID").Name("MTReturn_Tool_ID").Placeholder("Select Machine/Tool").DataSource(d => d.Mvc().Controller("MTAllocationRegister").LoadAction("Get_MachineToolName_Return_List").Key("Sr").LoadParams(new { storeid = new JS("function (){ return storeid;}") }))
                                          .ValueExpr("Sr").DisplayExpr("Name").OnValueChanged("On_MachineTool_Changed").ReadOnly(Model.ActionMethod == "New" ? false : true).Disabled(IsDisabled).ContentTemplate(@<text> @Html.Partial("Get_MachineToolName_Return_List") </text>))
                                    @Html.ValidationMessageFor(model => model.MTReturn_Tool_ID, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Machine/Tool]-->
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label">Qty Pending:</label>
                                </div>
                                <div class="col-sm-8 prm">

                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("MTReturn_PendingQuantity").Name("MTReturn_PendingQuantity").Placeholder("Enter Qty").ReadOnly(true).Disabled(IsDisabled).Format("#"))

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Pending Quantity]-->
            </div><!--[Row 2]-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label text-red">Qty Returned: </label>
                                </div>
                                <div class="col-sm-8 prm">
                                    @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("MTReturn_ReturnQuantity").Name("MTReturn_ReturnQuantity").Placeholder("Enter Qty").Disabled(IsDisabled).Value(Model.MTReturn_ReturnQuantity).Format("#"))
                                    @Html.ValidationMessageFor(model => model.MTReturn_ReturnQuantity, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Qty Returned]-->
                <div class="col-sm-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label text-red">Returned To: </label>
                                </div>
                                <div class="col-sm-8 prm">

                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("MTReturn_ReturnedTo").Name("MTReturn_ReturnedTo").Placeholder("Returned To").DataSource(d => d.Mvc().Controller("MTAllocationRegister").LoadAction("Get_IssuedBy_List").Key("ID").LoadParams(new { storeid = new JS("function (){ return storeid;}") }))
                                                                                          .ValueExpr("ID").DisplayExpr("Name").OnValueChanged("On_ReturnedTo_Changed").Disabled(IsDisabled).ContentTemplate(@<text> @Html.Partial("Get_ReturnTo_List") </text>))
                                    @Html.ValidationMessageFor(model => model.MTReturn_ReturnedTo, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Returned To]-->
            </div><!--[Row 3]-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 pll">
                                    <label class="control-label">Existing Remarks: </label>
                                </div>
                                <div class="col-sm-10 prm">
                                    <div id="MTAllocation_ReturnRemarksGrid_PartialView" class="parent_table">
                                        @Html.Partial("Return_RemarksGrid", Model.Return_RemarksGrid_data)
                                    </div>
                                    <div class="row">
                                        <div class="form-field">
                                            <div class="container-fluid">
                                                <div class="col-md-12">
                                                    @(Html.DevExtreme().Button().ID("MTRet_BUT_RemDelete").Text("Delete").Icon("fas fa-trash btn-icons deletecolor icon-rgt-space5").Disabled(IsDisabled).OnClick(@<text> function () { OnFrm_MT_Remarks_Delete_Click() } </text>))
                                                    @(Html.DevExtreme().Button().ID("MTRet_BUT_RemView").Text("View").Icon("fas fa-eye btn-icons eyeicon icon-rgt-space5").OnClick(@<text> function () { OnFrm_MT_Remarks_View_Click() } </text>))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Return Remarks Grid]-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 pll">
                                    <label class="control-label">Your Remarks:</label>
                                </div>
                                <div class="col-sm-10 prm">
                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("MTReturn_Remarks").Name("MTReturn_Remarks").Placeholder("Enter Remarks...").ReadOnly(IsDisabled).MaxLength(8000))
                                    @Html.ValidationMessageFor(model => model.MTReturn_Remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Remarks]-->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="styleActionBtn">
                    @(Html.DevExtreme().Button().ID("MTReturn_Save").CustomSaveButton().Text((Model.ActionMethod.Trim() == "New" || Model.ActionMethod.Trim() == "Edit") ? "Return" : "Delete").Visible(Model.ActionMethod.Trim() == "View" ? false : true).UseSubmitBehavior(true))
                    @(Html.DevExtreme().Button().ID("MTReturn_Close").CustomCloseButton().Text((Model.ActionMethod.Trim() == "New" || Model.ActionMethod.Trim() == "Edit" || Model.ActionMethod.Trim() == "Delete") ? "Cancel" : "Close").OnClick(@<text> function(){ mt_close_NEVD(); } </text>) )
                </div>
            </div><!--[Buttons]-->
            
        }
    }
</div>
<script>
    function mt_close_NEVD()
    {
        $("#Dynamic_Content_popup").dxPopup("hide");
    }
</script>@*Close Popup*@
<script>
   var storeid = '@Model.MTReturn_IssuingStoreID' ? '@Model.MTReturn_IssuingStoreID' : 0;
    $(document).ready(async function ()
    {           
        var form = "mtvalidationForm_return";
        ShowLoader();
        AssignIDtoLabel(form, "MTReturn");
        sessionclearpath = "/Stock/MTAllocationRegister/Sessionclear_return";
        MTReturn_IssuingStore_DD();
        MTReturn_Tool_DD();
        MTReturn_ReturnedTo_DD();
        if ("@Model.MTReturn_IssuingStoreID" != null && "@Model.MTReturn_IssuingStoreID".length > 0)
        {           
            await MTReturn_IssuingStore_DG.selectRows("@Model.MTReturn_IssuingStoreID", false);
        }   
        if ("@Model.MTReturn_ReturnedTo" != null && "@Model.MTReturn_ReturnedTo".length > 0)
        {
            MTReturn_ReturnedTo_DG.selectRows("@Model.MTReturn_ReturnedTo", false);
        }
        if ("@Model.MTReturn_Tool_ID" != null && "@Model.MTReturn_Tool_ID".length > 0)
        {         
            if (MTReturn_Tool_DG.getVisibleRows().length > 0)
            {                        
                for (i = 0; i < MTReturn_Tool_DG.getVisibleRows().length ; i++)
                {
                    if (MTReturn_Tool_DG.cellValue(i, "IssueID") == parseInt("@Model.MTReturn_MainIssueID") && MTReturn_Tool_DG.cellValue(i, "MachineToolID") == parseInt("@Model.MTReturn_Tool_ID"))
                    {
                        MTReturn_Tool_DG.selectRowsByIndexes(i);
                        break;
                    }
                }
            }
        }
        if ("@Model.MTReturn_ReturnQuantity" != null && "@Model.MTReturn_ReturnQuantity".length > 0)
        {
            $("#MTReturn_ReturnQuantity").dxNumberBox("instance").option("value", parseInt("@Model.MTReturn_ReturnQuantity"));
        }
        setTimeout(function ()
        {
            Set_Form_View_Delete_Mode(null, form, "@Model.ActionMethod");
            Focus_FirstEditable_Field(form,"@Model.ActionMethod");
            HideLoader();
        }, 200);
    });
</script>@*Document.ready*@
<script>
    async function On_IssuingStore_Changed(e)
    {
        var drop_Down = $("#MTReturn_IssuingStoreID").dxDropDownBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined")
        {
            drop_Down.close();
        }
        storeid = e.value;
        if (e.value == null && e.previousValue != null)
        {
            MTReturn_IssuingStore_DG.clearSelection();
            MTReturn_Tool_DG.clearSelection();
            MTReturn_ReturnedTo_DG.clearSelection();
            storeid = 0;
            MTReturn_Tool_DG.refresh();
            MTReturn_ReturnedTo_DG.refresh();
            return;
        }
        if (MTReturn_IssuingStore_DG.getSelectedRowsData().length > 0)
        {            
            await MTReturn_Tool_DG.refresh();
            await MTReturn_ReturnedTo_DG.refresh();             
        }
    }
    function On_MachineTool_Changed(e)
    {
        var drop_Down = $("#MTReturn_Tool_ID").dxDropDownBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined")
        {
            drop_Down.close();
        }    
        if (e.value == null && e.previousValue != null)
        {           
            MTReturn_Tool_DG.clearSelection();  
            $('#MTReturn_ReturnQuantity').dxNumberBox("instance").reset();
            $('#MTReturn_PendingQuantity').dxNumberBox("instance").reset();
            $("#MTReturn_IssueDate").dxDateBox("instance").reset();
            $("#MTReturn_MainIssueID").val(null);
            return;
        }
        if (MTReturn_Tool_DG.getSelectedRowsData().length > 0)
        {
            var item = MTReturn_Tool_DG.getSelectedRowsData()[0];            
            $('#MTReturn_ReturnQuantity').dxNumberBox("instance").option("value", item.Issued_Qty);
            $('#MTReturn_PendingQuantity').dxNumberBox("instance").option("value", item.Pending_Qty);
            $("#MTReturn_IssueDate").dxDateBox("instance").option("value", item.Issue_Date);
            $("#MTReturn_MainIssueID").val(item.IssueID);
        }
    }
    function On_ReturnedTo_Changed(e)
    {
        var drop_Down = $("#MTReturn_ReturnedTo").dxDropDownBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined")
        {
            drop_Down.close();
        }
        if (e.value == null && e.previousValue != null)
        {
            MTReturn_ReturnedTo_DG.clearSelection();          
            return;
        } 
    }
      
</script>@*DD value Change*@
<script>
    var MTReturn_IssuingStore_DG;
    var MTReturn_Tool_DG;
    var MTReturn_ReturnedTo_DG;


    function MTReturn_IssuingStore_DD()
    {
        var $dataGrid = $("#GetIssuingStoreDG");
        if ($dataGrid.length)
        {
            MTReturn_IssuingStore_DG = $dataGrid.dxDataGrid("instance");
        }
        if (MTReturn_IssuingStore_DG.totalCount() == 1)
        {
            MTReturn_IssuingStore_DG.selectRowsByIndexes(0);
        }
    }
    function MTReturn_Tool_DD()
    {
        var $dataGrid = $("#GetReturnMachineToolDG");
        if ($dataGrid.length)
        {
            MTReturn_Tool_DG = $dataGrid.dxDataGrid("instance");
        }
    }
    function MTReturn_ReturnedTo_DD()
    {           
        $("#MTReturn_ReturnedTo").dxDropDownBox("instance").open();
        $("#MTReturn_ReturnedTo").dxDropDownBox("instance").close();
        var $dataGrid = $("#GetReturnToDG");
        if ($dataGrid.length)
        {
            MTReturn_ReturnedTo_DG = $dataGrid.dxDataGrid("instance");
        }
        if ("@Model.ActionMethod" == "New")
        {
            var Rowindex = MTReturn_ReturnedTo_DG.getRowIndexByKey(parseInt("@Model.LoginUserID"));
            if (Rowindex > -1)
            {
                MTReturn_ReturnedTo_DG.selectRowsByIndexes(Rowindex);
            }
        }        
    }


</script>@*DD init*@
<script>
    var MT_Remarks_Sr;
    var MT_Remarks_ID;
    function OnExistingMT_ReturnRemarksGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'Sr_No;ID', OnRemarksDetailsGridRowValues);
    }
    function OnRemarksDetailsGridRowValues(values) {
        MT_Remarks_Sr = values[0];
        MT_Remarks_ID = values[1];
    }

    $("#MTReturnRemarks_Window_Grid").keydown(function (evt) {
        switch (evt.keyCode) {
            case 32: //space bar
                OnFrm_MT_Remarks_View_Click();
                break;
            case 46://delete key
                OnFrm_MT_Remarks_Delete_Click();
                break;
        }

        if (evt.ctrlKey && evt.keyCode == 86)//ctrl+v
        {
            OnFrm_MT_Remarks_View_Click();
        }
    });


    function OnFrm_MT_Remarks_Delete_Click()
        {
            if ("@IsDisabled" == "true")
            {
                return;
            }
        if (!MT_Remarks_Sr) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var deleteResultPaymentDetail = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Confirm changes");
            deleteResultPaymentDetail.done(function (dialogResult)
            {
            if (dialogResult)
            {
                $.ajax({
                    type: 'GET',
                    url: "/Stock/MTAllocationRegister/Frm_Return_Remarks_Window_Delete_Grid_Record",
                    data: { ActionMethod: "Delete", SR_No: MT_Remarks_Sr, id: MT_Remarks_ID },
                    cache: false,
                    success: function (result)
                    {
                        MTReturnRemarks_Window_Grid.SetFocusedRowIndex(-1);
                        MTReturnRemarks_Window_Grid.Refresh();
                    }
                });
            }
        });
    }//delete
    function OnFrm_MT_Remarks_View_Click()
    {
        if (!MT_Remarks_Sr) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }
            ShowLoader();      
        OpenPopup("mtainnergrid", "View ~ Remarks", "@Url.Action("Frm_Return_RemarksWindow", "MTAllocationRegister", new {@area= "Stock" })?ActionMethod=View&SR_No=" + MT_Remarks_Sr, "auto", 900, false, null);
    }

</script>@*Remarks grid*@
<script>
    function OnMToolAllocationReturn_AjaxSuccessForm(data)
    {
        HideLoader();
        dontaskpopupcloseconfirmation = true;
        if (data.result == true)
        {
            DevExpress.ui.dialog.alert(data.message, "Success..");
            $("#Dynamic_Content_popup").dxPopup("hide");
            MTAllocationRegisterListGrid.SetFocusedRowIndex(-1);
            MTAllocationRegisterListGrid.Refresh();
        }
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.message, "Error..");
        }
    }
</script>@*Ajax save Success*@