@using DevExtreme.AspNet.Mvc;

@model ConnectOneMVC.Areas.Profile.Models.CoreInfo

<div class="CoreInfo_Profile_ClearReferences">


    @{
        ViewBag.Title = "Index";
        Layout = null;
        var UserType = ViewBag.UserType;
        bool Core_AddRight = (bool)ViewData["Core_AddRight"];
        bool Core_UpdateRight = (bool)ViewData["Core_UpdateRight"];
        bool Core_ViewRight = (bool)ViewData["Core_ViewRight"];
        bool Core_DeleteRight = (bool)ViewData["Core_DeleteRight"];
        bool Core_ExportRight = (bool)ViewData["Core_ExportRight"];
        bool Core_ListRight = (bool)ViewData["Core_ListRight"];
        bool Profile_CoreSuperuser_auditor_Lock_UnLock = (bool)ViewData["Profile_CoreSuperuser_auditor_Lock_UnLock"];
        bool Core_Auto_Vouching_Mode = (bool)ViewData["Core_Auto_Vouching_Mode"];
    }

    @Html.HiddenFor(x => x.LastEditedOn)


    <div id="content" class="report_header_div_main">
        <div class="col-md-4 report_header_div">
            <label class="report_header_label">Core Information</label>
        </div>
        @*Buttons*@
        <div class="report_button_div">
            @(Html.DevExtreme().Switch().ID("CoreVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("Core_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
            @(Html.DevExtreme().Switch().ID("CoreViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("Core_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
            @(Html.DevExtreme().Button().ID("CoreModelDetailInfo").Text("Show Detail Info").Visible(true)
                                                                                     .OnClick(@<text>
                                                                                        function () {
                                                                                        OnCoreDetailInfoClick();
                                                                                        }
                                                                                    </text>))
            @(Html.DevExtreme().Button().ID("CoreModelNew").Text("New").Icon("add").Visible(false)
                                                                                       .OnClick(@<text>
                                                                                        function () {
                                                                                        OnCoreNewClick();
                                                                                        }
                                                                                    </text>))
            @(Html.DevExtreme().Button().ID("LocationModelNew").Text("New").Icon("add").Visible(false)
                                                                                      .OnClick(@<text>
                                                                                        function(){
                                                                                        OnCoreLocationNewClick();
                                                                                        }
                                                                                    </text>))
            @(Html.DevExtreme().Button().ID("LocationModelEdit").Text("Edit").Icon("edit").Visible(false)
                                                                                     .OnClick(@<text>
                                                                                        function(){
                                                                                        OnCoreLocationEditClick();
                                                                                        }
                                                                                    </text>))
            @(Html.DevExtreme().Button().ID("CoreModelEdit").Visible(true).Text("Edit").Icon("edit")
                                                                                      .OnClick(@<text>
                                                                                        function () {
                                                                                        OnCoreEditClick();
                                                                                        }
                                                                                    </text>))
            @(Html.DevExtreme().Button().ID("LocationModelDelete").Visible(false).Text("Delete")
                                                                                       .OnClick(@<text>
                                                                                        function()
                                                                                        {OnCoreLocationDeleteClick();}
                                                                                    </text>)
        )
            @(Html.DevExtreme().Button()
                                                                                                .ID("CoreModelDelete")
                                                                                                .Text("Delete")
                                                                                                .Visible(false)
                                                                                                .Icon("trash")
                                                                                                .OnClick(@<text>
                                                                                                    function () {
                                                                                                    OnCoreDeleteClick();
                                                                                                    }
                                                                                                </text>)
        )
            @(Html.DevExtreme().Button()
                                                                                                .ID("CoreModelView")
                                                                                                .Text("View")
                                                                                                .Visible(false)
                                                                                                .Disabled(true)
                                                                                                .Icon(IconID.ViewCustomers16x16devav)
                                                                                                .Icon("doc")
                                                                                                .OnClick(@<text>
                                                                                                    function () {
                                                                                                    OnCoreViewClick();
                                                                                                    }
                                                                                                </text>)
        )
            @(Html.DevExtreme().Button()
                                                                                                .ID("CoreModelListPreview")
                                                                                                .Text("Export")
                                                                                                .Icon("save")
                                                                                                .Width(80)
                                                                                                .OnClick(@<text>
                                                                                                    function () {
                                                                                                    OnCoreListPreviewClick();
                                                                                                    }
                                                                                                </text>)
        )
            @(Html.DevExtreme().Button()
                                                                                                .ID("CoreModelCLOSE")
                                                                                                .Text("Close")
                                                                                                .Icon("clear")
                                                                                                .OnClick("CoreProfileClose"))

            <br />
        </div>
    </div>

    <div class="">
        @(Html.DevExtreme().TabPanel()
                                                                                .ID("tabPanel").DeferRendering(false)
                                                                                .Items(items =>
                                                                                {
                                                                                    items.Add().Title("General").Template(@<text>
                                                                                        @GeneralView()
                                                                                    </text>);
                                                                                            items.Add().Title("Contact").Template(@<text>
                                                                                                @ContactView()
                                                                                            </text>);
                                                                                                    items.Add().Title("Institute A/c.").Template(@<text>
                                                                                                        @InstituteAccountView()
                                                                                                    </text>);
                                                                                                            items.Add().Title("Locations").Template(@<text>
                                                                                                                @LocationsView()
                                                                                                            </text>);
                                                                                                                    items.Add().Title("Detail Information").Template(@<text>
                                                                                                                        @DetailInformationView()
                                                                                                                    </text>);
                                                                                                                        })
                                                                                 // .OnItemClick("CoreInfoTabPanelItemClick")
                                                                                 // .OnItemRendered("CoreInfoTabPanelItemRendered")
                                                                                 .OnSelectionChanged("CoreInfoTabPanelSelectionChanged")
    )

        @helper GeneralView()
        {
            @Html.Partial("Frm_General_tab", Model);
        }
        @helper ContactView()
        {
            @Html.Partial("Frm_Contact_tab", Model);
        }
        @helper InstituteAccountView()
        {
            if (Model.CoreInfoInstitute == null)
            {
                Model.CoreInfoInstitute = new List<ConnectOneMVC.Areas.Profile.Models.CoreInfoInstitute>();
            }
            @Html.Partial("Frm_InstituteAccount_tab_dx", Model.CoreInfoInstitute);
        }
        @helper LocationsView()
        {
            if (Model.CoreInfoLocation == null)
            {
                Model.CoreInfoLocation = new List<ConnectOneMVC.Areas.Profile.Models.CoreInfoLocation>();
            }
            @Html.Partial("Frm_Locations_tab_dx", Model.CoreInfoLocation);
        }
        @helper DetailInformationView()
        {
            @Html.Partial("Frm_DetailInfo_tab");
        }
    </div>

    <div class="col-md-12">
        @*Add/Edit Popup*@


        @(Html.DevExtreme().Popup().CustomPopup().ID("popup_frm_Core_Window").Title("Connect One").OnShowing("PopupOnShowing").DragEnabled(true).MaxHeight(200).MaxWidth(650)
                                                                                                .ShowCloseButton(true)
                                                                                                .ContentTemplate(@<text>
                                                                                                    <div id="Coreresult">
                                                                                                    </div>
                                                                                                </text>))


    </div>

    <script>

    var _CoreInfoTabIndex = 0;
    var Profile_CoreEditright="@Core_UpdateRight"=="True"?true:false;
    var Profile_CoreNewright="@Core_AddRight"=="True"?true:false;
    var Profile_CoreDeleteright="@Core_DeleteRight"=="True"?true:false;
    var Profile_CoreViewright="@Core_ViewRight"=="True"?true:false;
    var Profile_CoreExportright="@Core_ExportRight"=="True"?true:false;
    var Profile_CoreSuperuser_auditor_Lock_UnLock = "@Profile_CoreSuperuser_auditor_Lock_UnLock" == "True" ? true : false;
    var CoreInstitut_IsVouchingMode = false;
    var CoreLocation_IsVouchingMode = false;
    var UserType_Core_InstitutePrf = "@UserType".toUpperCase();
    var UserType_Core_LocationPrf = "@UserType".toUpperCase();
    var Core_ViewMode = "Default";
    var Core_SetVouchingModeOn = "@Core_Auto_Vouching_Mode" == "True" ? true : false;
    var SelectedRows_CoreLocation = [];
    var SelectedRows_CoreInstitute = [];

    var VisibleColumns_CoreLocationListGrid = [];
    var VisibleColumns_CoreInstituteListGrid = [];

    function CoreProfileClose()
    {
        $(".TabPanalMenu-tabs .active span").click();

    }

    $(".TabPanalMenu-tabs .active span").on("click", function ()
    {
        $.ajax({
            type: 'GET',
            url: "/Profile/Core/SessionClear",
            cache: false
        });
        ClearLeftPane();
        CloseLeftPane();
        CloseRightPane();
        ClearAllReferences_CoreInfoProfile();
    });


        var _CoreInfoTabIndex ;
        var Profile_CoreEditrigh;
        var Profile_CoreNewrigh ;
        var Profile_CoreDeleterigh;
        var Profile_CoreViewrigh;
        var Profile_CoreExportrigh ;
        var Profile_CoreSuperuser_auditor_Lock_UnLock;
        var CoreInstitut_IsVouchingMode ;
        var CoreLocation_IsVouchingMode ;
        var UserType_Core_InstitutePrf;
        var UserType_Core_LocationPrf ;
        var Core_SetVouchingModeOn ;
        var CoreLoc_ColumnToBeShownIndex ;
        var CoreLoc_ColumnToBeHidddenIndex ;
        var CoreInst_ColumnToBeShownIndex ;
        var CoreInst_ColumnToBeHidddenIndex ;
        var CoreLocationID ;
        var CoreLocation_EditDate ;
        var CoreLocation_AddDate ;
        var CoreLocation_AddBy ;
        var CoreLocation_EditBy;
        var CoreLocation_ActionStatus;
        var CoreLocation_ActionDate;
        var CoreLocation_ActionBy;
        var CoreLocation_YearId ;
        var IsCoreLocationSucessPopup ;
        var IsCoreLocationViewPopup;
        var Profile_CoreEditrigh ;
        var Profile_CoreNewrigh ;
        var Profile_CoreDeleterigh ;
        var Profile_CoreViewrigh ;
        var Profile_CoreExportrigh;
        var Profile_CoreSuperuser_auditor_Lock_UnLock;
        var IsCoreInstituteSucessPopup;
        var IsCoreInstituteViewPopup;
        var Profile_CoreEditrigh ;
        var Profile_CoreNewrigh ;
        var Profile_CoreDeleterigh ;
        var Profile_CoreViewrigh ;
        var Profile_CoreExportrigh ;
        var Profile_CoreSuperuser_auditor_Lock_UnLock ;

     function ClearAllReferences_CoreInfoProfile() {

         _CoreInfoTabIndex = null;
         Profile_CoreEditrigh = null;
         Profile_CoreNewrigh = null;
         Profile_CoreDeleterigh = null;
         Profile_CoreViewrigh = null;
         Profile_CoreExportrigh = null;
         Profile_CoreSuperuser_auditor_Lock_UnLock = null;
         CoreInstitut_IsVouchingMode = null;
         CoreLocation_IsVouchingMode = null;
         UserType_Core_InstitutePrf = null;
         UserType_Core_LocationPrf = null;
         Core_ViewMode = null;
         Core_SetVouchingModeOn = null;
         CoreLoc_ColumnToBeShownIndex = null;
         CoreLoc_ColumnToBeHidddenIndex = null;
         CoreInst_ColumnToBeShownIndex = null;
         CoreInst_ColumnToBeHidddenIndex = null;
         CoreLocationID = null;
         CoreLocation_EditDate = null;
         CoreLocation_AddDate = null;
         CoreLocation_AddBy = null;
         CoreLocation_EditBy = null;
         CoreLocation_ActionStatus = null;
         CoreLocation_ActionDate = null;
         CoreLocation_ActionBy = null;
         CoreLocation_YearId = null;
         IsCoreLocationSucessPopup = null;
         IsCoreLocationViewPopup = null;
         Profile_CoreEditrigh = null;
         Profile_CoreNewrigh = null;
         Profile_CoreDeleterigh = null;
         Profile_CoreViewrigh = null;
         Profile_CoreExportrigh = null;
         Profile_CoreSuperuser_auditor_Lock_UnLock = null;
         IsCoreInstituteSucessPopup = null;
         IsCoreInstituteViewPopup = null;
         Profile_CoreEditrigh = null;
         Profile_CoreNewrigh = null;
         Profile_CoreDeleterigh = null;
         Profile_CoreViewrigh = null;
         Profile_CoreExportrigh = null;
         Profile_CoreSuperuser_auditor_Lock_UnLock = null;

         ClearAllReferences("CoreInfo_Profile_ClearReferences");

        }

    function AdjustGridHeights() {
        var height = (document.documentElement.clientHeight * 90) / 100;

        try {
            var $locationGridEl = $("#CoreLocationListGrid");
            var locationGrid = $locationGridEl.dxDataGrid("instance");
            if (locationGrid && $locationGridEl.is(":visible")) {
                locationGrid.option("height", height);
                locationGrid.repaint();
            }

            var $instituteGridEl = $("#CoreInstituteListGrid");
            var instituteGrid = $instituteGridEl.dxDataGrid("instance");
            if (instituteGrid && $instituteGridEl.is(":visible")) {
                instituteGrid.option("height", height);
                instituteGrid.repaint();
            }
        } catch (err) {
            console.error("Error adjusting grid heights:", err);
            console.log("Inside the AdjustGridHeights")
        }
    }


    function Core_VouchingSwitch_ValueChange(e)
    {
        CoreInstitut_IsVouchingMode = e.value;
        CoreLocation_IsVouchingMode = e.value;
        //CoreInstituteListGrid_PerformCallBack();
        //CoreLocationListGrid_PerformCallBack();

        refreshCoreInstituteGrid();
        refreshCoreLocationGrid();

        CoreInstituteListGrid.repaint();
        CoreLocationListGrid.repaint();
    }

    function CoreInstituteListGrid_PerformCallBack() {
        $.ajax({
            type: 'GET',
            url: '/Profile/Core/Frm_Core_Info_InstituteAccount_Grid_dx',
            data: {
                VouchingMode: CoreInstitut_IsVouchingMode,
                ViewMode: Core_ViewMode
            },
            success: function (data) {
                $("#CoreInstituteListGrid").dxDataGrid("instance").option("dataSource", data);
            },
            error: function () {
                alert("Error loading data for Institute Accounts.");
            }
        });
    }

    function CoreLocationListGrid_PerformCallBack() {
        $.ajax({
            type: 'GET',
            url: '/Profile/Core/Frm_Core_Info_Location_Grid_dx',
            data: {
                VouchingMode: CoreLocation_IsVouchingMode,
                ViewMode: Core_ViewMode
            },
            success: function (data) {

                $("#CoreLocationListGrid").dxDataGrid("instance").option("dataSource", data);
            },
            error: function () {
                alert("Error loading data for Locations.");
            }
        });
    }

    function Core_ViewSwitch_ValueChange(e) {
        Core_ViewMode = e.value == false ? "Default" : "Compact";

        if (Core_SetVouchingModeOn === true) {
            Core_SetVouchingModeOn = false;
            $("#CoreVouchingModeSwitch").dxSwitch("instance").option("value", true);
        }

         const grids = [
             { id: "CoreLocationListGrid", compactColumn: "CoreLocationListGrid_dx_Compact_column", visibleColumnsArray: VisibleColumns_CoreLocationListGrid },
             { id: "CoreInstituteListGrid", compactColumn: "CoreInstituteListGrid_dx_Compact_column", visibleColumnsArray: VisibleColumns_CoreInstituteListGrid }
         ];

         grids.forEach(gridInfo => {
             const gridInstance = $("#" + gridInfo.id).dxDataGrid("instance");

             if (!gridInstance) return;

             gridInstance.beginUpdate();

             const columns = gridInstance.option("columns");

             if (Core_ViewMode == "Compact") {

                 gridInfo.visibleColumnsArray.length = 0;

                 columns.forEach(col => {
                     const name = col.dataField;
                     if (!name) return;

                     const isVisible = gridInstance.columnOption(name, "visible");

                     if (name === gridInfo.compactColumn) {
                         gridInstance.columnOption(name, "visible", true);
                     } else if (isVisible && name !== "iIcon") {
                         gridInfo.visibleColumnsArray.push(name);
                         gridInstance.columnOption(name, "visible", false);
                     }
                 });
             } else {
                 gridInstance.columnOption(gridInfo.compactColumn, "visible", false);

                 gridInfo.visibleColumnsArray.forEach(name => {
                     gridInstance.columnOption(name, "visible", true);
                 });
             }

             gridInstance.repaint();
             gridInstance.endUpdate();
         });
    }

    function refreshCoreInstituteGrid() {
        const grid = $("#CoreInstituteListGrid_dx").dxDataGrid("instance");
        if (grid) {
            grid.refresh().done(function () {
                grid.clearSelection();
            })
        }
    }

    function refreshCoreLocationGrid() {
        const grid = $("#CoreLocationListGrid_dx").dxDataGrid("instance");
        if (grid) {
            grid.refresh().done(function () {
                grid.clearSelection();
            });
        }
    }


    $(document).ready(function () {
        HideLoader();
        var tabpanel = $("#tabPanel").dxTabPanel("instance");
        tabpanel.option("items[4].visible", false);
        if (Profile_CoreNewright == false)
        {
            $("#CoreModelNew").hide();
            $("#LocationModelNew").hide();
        }
        if (Profile_CoreEditright == false)
        {
            $("#CoreModelEdit").hide();
            $("#LocationModelEdit").hide();
        }
        if (Profile_CoreViewright == false)
        {
            $("#CoreModelView").hide();
        }
        if (Profile_CoreDeleteright == false)
        {
            $("#CoreModelDelete").hide();
            $("#LocationModelDelete").hide();
        }
        if (Profile_CoreExportright == false)
        {
            $("#CoreModelListPreview").hide();
        }
        HideUnreleasedFunctionality('Core_Info');
        $(".CoreLocationListGrid_PreviewRow").hide();
        GetSessionStorage("CoreLocationListGrid");
        $(".CoreInstituteListGrid_PreviewRow").hide();
        GetSessionStorage("CoreInstituteListGrid");
        if (Core_SetVouchingModeOn == true)
        {
            $("#CoreViewModeSwitch").dxSwitch("instance").option("value", true);
        }

        AdjustGridHeights();
    });

    function CoreInfoTabPanelSelectionChanged(e) {

        if (e.addedItems[0].title == "General") {
            $("#CoreModelEdit").dxButton({
            visible: true
            });
            $("#coreNewLocationSave,#LocationModelNew,#LocationModelEdit, #CoreModelDelete,#LocationModelDelete, #CoreModelListPreview").dxButton({
            visible: false
            });
        }
        else if (e.addedItems[0].title == "Contact") {
            $("#coreNewLocationSave,#LocationModelNew,#LocationModelEdit,#CoreModelEdit, #CoreModelDelete, #CoreModelListPreview").dxButton({
            visible: false
            });
        }
        else if (e.addedItems[0].title == "Institute A/c.") {
            _CoreInfoTabIndex = 2;
            $("#CoreModelListPreview").dxButton({
            visible: true
            });
            $("#coreNewLocationSave,#LocationModelNew,#LocationModelEdit,#CoreModelDelete,#LocationModelDelete,#CoreModelEdit, #CoreModelDelete").dxButton({
            visible: false
            });
        }
        else if (e.addedItems[0].title == "Locations") {
            _CoreInfoTabIndex = 3;
            $("#LocationModelEdit,#LocationModelNew,#LocationModelDelete, #CoreModelListPreview").dxButton({ visible: true});
            $("#CoreModelNew,#CoreModelEdit,#CoreModelDelete").dxButton({ visible: false })
        }

    }

    function OnCoreLocationNewClick() {
        if(!Profile_CoreNewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsCoreLocationViewPopup = false;
        $("#popup_frm_CoreLocation_Window").dxPopup("show");
        $("#popup_frm_CoreLocation_Window").dxPopup("instance").option("title", "New ~ CoreLocation");
        $("#CoreLocationresult").html('');
        ShowLoader();
        $("#CoreLocationresult").load("@Url.Action("frm_CoreLocation_window", "CoreLocation", new { @area = "Profile" })?ActionMethod=New", function () {
            HideLoader();

        });
    }

    function OnCoreDetailInfoClick()
    {
        var tabpanel = $("#tabPanel").dxTabPanel("instance");
        var buttonText = $("#CoreModelDetailInfo").dxButton("instance").option("text");
        if (buttonText == "Show Detail Info") {
            $("#CoreModelDetailInfo").dxButton("instance").option("text", "Hide Detail Info");
            $.ajax({
                type: 'GET',
                url: "/Profile/DetailInfo/ContactInformation",
                success: function (data) {
                    tabpanel.option("items[4].visible", true);
                    tabpanel.option("selectedIndex", 4);
                    $("#Detail_info_content").html(data);
                }
            });
        }
        else
        {
            $("#CoreModelDetailInfo").dxButton("instance").option("text", "Show Detail Info");
            tabpanel.option("items[4].visible", false);
        }

    }

    function OnCoreNewClick() {
        if (!Profile_CoreNewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsViewPopup = false;
        $("#popup_frm_Core_Window").dxPopup("show");
        $("#popup_frm_Core_Window").dxPopup("instance").option("title", "New ~ Core");
        $("#Coreresult").html('');
        ShowLoader();
        $("#Coreresult").load("@Url.Action("frm_Core_window", "Core", new { @area = "Profile" })?ActionMethod=New", function () {
            HideLoader();
        });
        }

    function OnCoreEditClick() {
        if (!Profile_CoreEditright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsViewPopup = false;
        CoreID = "";
        Core_EditDate = localStorage.getItem["EditedDate"];
        if (CoreID == 'undefined' || CoreID == undefined) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        $.ajax({
        type: 'GET',
            url: "/Profile/Core/DataNavigation",
            data: { ActionMethod: "Edit", id: CoreID, Edit_Date: Core_EditDate },
            cache: false,
            success: function (Core_Edit_ButtonClick_result) {
                if (Core_Edit_ButtonClick_result.result == "true" || Core_Edit_ButtonClick_result.result == true) {

                    $("#popup_frm_Core_Window").dxPopup("show");
                    $("#popup_frm_Core_Window").dxPopup("instance").option("title", "Edit ~ Core");
                    $("#Coreresult").html(''); //CoreInstituteListGrid.Refresh()
                    ShowLoader();
                    $("#Coreresult").load("@Url.Action("frm_Core_window", "Core", new { @area = "Profile" })?ActionMethod=" + "Edit" + "&ID=" + CoreID + "&EditedOn=" + Core_EditDate, function () {
                        HideLoader();
                    });
                }
                else if (Core_Edit_ButtonClick_result.result == "NoEditRights") {
                    $('#CoreModelEdit').hide();
                    DevExpress.ui.dialog.alert(Core_Edit_ButtonClick_result.Message, 'Warning!');
                    HideLoader();
                }
                else {
                    DevExpress.ui.dialog.alert(Core_Edit_ButtonClick_result.Message);
                    CoreListGrid.Refresh();
                }
            }
        });
    }

    function OnCoreViewClick() {
        if (!Profile_CoreViewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        if (CoreID == 'undefined' || CoreID == undefined) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        $.ajax({
        type: 'GET',
            url: "/Profile/Core/DataNavigation",
            data: { ActionMethod: "View", id: CoreID, Edit_Date: Core_EditDate.toISOString() },
            cache: false,
            success: function (Core_View_ButtonClick_result) {
                if (Core_View_ButtonClick_result.result == "true" || Core_View_ButtonClick_result.result == true) {
                    IsViewPopup = true;
                    $("#popup_frm_Core_Window").dxPopup("show");
                    $("#popup_frm_Core_Window").dxPopup("instance").option("title", "View ~ Core");
                    $("#Coreresult").html('');
                    ShowLoader();
                    $("#Coreresult").load("@Url.Action("frm_Core_window", "Core", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + CoreID + "&EditedOn=" + Core_EditDate.toISOString(), function () {
                        HideLoader();
                    });
                }
                else if (Core_View_ButtonClick_result.result == "NoViewRights") {
                    $('#CoreModelView').hide();
                    DevExpress.ui.dialog.alert(Core_View_ButtonClick_result.Message, 'Warning!');
                    HideLoader();
                }
                else {
                    DevExpress.ui.dialog.alert(Core_View_ButtonClick_result.Message);
                    CoreListGrid.Refresh();
                }
            }
        });
    }

    function OnCoreDeleteClick() {
        if (!Profile_CoreDeleteright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsViewPopup = true;
        if (CoreID == 'undefined' || CoreID == undefined) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $("#popup_frm_Core_Window_Close").dxPopup("hide");

                $.ajax({
                type: 'GET',
                    url: "/Profile/Core/DataNavigation",
                    data: { ActionMethod: "Delete", id: CoreID, Edit_Date: Core_EditDate.toISOString() },
                    cache: false,
                    success: function (Core_Delete_ButtonClick_result) {
                        if (Core_Delete_ButtonClick_result.result == "true" || Core_Delete_ButtonClick_result.result == true) {
                            $("#popup_frm_Core_Window").dxPopup("show");
                            $("#popup_frm_Core_Window").dxPopup("instance").option("title", "Delete ~ Core");
                            ShowLoader();
                            $("#Coreresult").load("@Url.Action("frm_Core_window", "Core", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + CoreID + "&EditedOn=" + Core_EditDate.toISOString(), function () {
                                HideLoader();
                            });
                        }
                        else if (Core_Delete_ButtonClick_result.result == "NoDeleteRights") {
                            $('#CoreModelDelete').hide();
                            DevExpress.ui.dialog.alert(Core_Delete_ButtonClick_result.Message, 'Warning!');
                            HideLoader();
                        }
                        else {
                            DevExpress.ui.dialog.alert(Core_Delete_ButtonClick_result.Message);
                            CoreListGrid.Refresh();
                        }
                    }
                });
            }
        });
    }

    function OnCoreListPreviewClick() {
        if (!Profile_CoreExportright)
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (_CoreInfoTabIndex == 2) // Institute
        {
            OnCoreInstituteListPreviewClickDx();
        }
        else if (_CoreInfoTabIndex == 3) // Location
        {
            OnCoreLocationListPreviewClickDx();
        }
    }

    function OnCoreLocationEditClick() {
      if(!Profile_CoreEditright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

      if (CoreLocationID == 'undefined' || CoreLocationID == undefined || CoreLocationID == "") { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

      ShowLoader();
      $.ajax({
          type: 'GET',
          url: "/Profile/CoreLocation/DataNavigation",
          data: { ActionMethod: "Edit", id: CoreLocationID, YearID: CoreLocation_YearId, ActionStatus: CoreLocation_ActionStatus, EditDate: CoreLocation_EditDate },
          cache: false,
          async: true,
          success: function (CoreLocation_Edit_ButtonClick_result) {
              if (CoreLocation_Edit_ButtonClick_result.result == "true" || CoreLocation_Edit_ButtonClick_result.result == true) {
                  $("#popup_frm_CoreLocation_Window").dxPopup("show");
                  $("#CoreLocationresult").html('');
                  ShowLoader();
                  $("#CoreLocationresult").load('@Url.Action("frm_CoreLocation_window", "CoreLocation", new { @area = "Profile" })?ActionMethod=Edit&ID=' + CoreLocationID + '&EditedOn=' + encodeURIComponent(CoreLocation_EditDate), function () {
                      HideLoader();
                  });
              }
              else if (CoreLocation_Edit_ButtonClick_result.result == "NoEditRights")
              {
                  $("#LocationModelEdit").hide();
                  DevExpress.ui.dialog.alert(CoreLocation_Edit_ButtonClick_result.Message, "Warning");
              }
              else
              {
                  DevExpress.ui.dialog.alert(CoreLocation_Edit_ButtonClick_result.Message);
                  CoreLocationListGrid.refresh();
                  HideLoader();
              }
          }
      });
    }

    function OnCoreLocationDeleteClick()
    {
        ShowLoader();
        if(!Profile_CoreDeleteright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsCoreLocationViewPopup = false;
        if (CoreLocationID == 'undefined' || CoreLocationID == undefined || CoreLocationID == "") { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
        result.done(function (dialogResult)
        {
            if (dialogResult)
            {

                $("#popup_frm_CoreLocation_Window_Close").dxPopup("hide");

                $.ajax({
                    type: 'GET',
                    url: "/Profile/CoreLocation/DataNavigation",
                    data: { ActionMethod: "Delete", id: CoreLocationID, ActionStatus: CoreLocation_ActionStatus, EditDate: CoreLocation_EditDate, LocationName: "", OtherDetails: "", RAD_PropertyService: "", PropertyDDL: "", ServiceDDL: "" },
                    cache: false,
                    success: function (CoreLocation_Delete_ButtonClick_result)
                    {

                        if (CoreLocation_Delete_ButtonClick_result.result == "true" || CoreLocation_Delete_ButtonClick_result.result == true)
                        {
                            $("#popup_frm_CoreLocation_Window").dxPopup("show");
                            $(".dx-item-content.dx-toolbar-item-content:first").find("div").html('Delete ~ CoreLocation');
                            ShowLoader();
                            $("#CoreLocationresult").load("@Url.Action("frm_CoreLocation_window", "CoreLocation", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + CoreLocationID + "&EditedOn=" + encodeURIComponent(CoreLocation_EditDate), function ()
                            {
                                HideLoader();
                            });
                        }
                        else if (CoreLocation_Delete_ButtonClick_result.result == "NoDeleteRights") {
                            $("#LocationModelDelete").hide();
                            DevExpress.ui.dialog.alert(CoreLocation_Delete_ButtonClick_result.Message, "Warning");
                            HideLoader();
                        }
                        else {
                            DevExpress.ui.dialog.alert(CoreLocation_Delete_ButtonClick_result.Message);
                            CoreLocationListGrid.refresh();
                            HideLoader();
                        }
                    }
                });
            }
            else
            {
                HideLoader();
            }
        });
    }

    function ReloadGeneralInfo() {
        $.ajax({
        type: 'GET',
            url: "/Profile/Core/Frm_Core_Info_dx",
            data: {},
            cache: false,
            success: function (Core_Edit_ButtonClick_result) {
                if (Core_Edit_ButtonClick_result.result == "true" || Core_Edit_ButtonClick_result.result == true) {
                    HideLoader()
                }
            }
        });
    }

    </script>

    @*Javascript Events*@
    <script type="text/javascript">

    var CoreInstitut_IsVouchingMode = false;

    var LS_ShowHorizontalBar = null;
    var IsCoreInstituteSucessPopup = false;
    var IsCoreInstituteViewPopup = false;
    var LS_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");

    $(function () {

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href"); // activated tab
            if (target === "#Frm_InstituteAccount_tab_dx") {
                $("#InstituteAccGridContainer").dxDataGrid("instance").option("visible", true);
            } else if (target === "#Frm_Locations_tab_dx") {
                $("#LocationGridContainer").dxDataGrid("instance").option("visible", true);
            }
        });
    });


    function CoreInstitute_VouchingSwitch_ValueChange(e) {
        CoreInstitut_IsVouchingMode = e.value;
        if (CoreInstitute_SetVouchingModeOn == true) {
            CoreInstitute_SetVouchingModeOn = false;
        }
    }

    function LookUp_GetPartyList_CoreInstitute_ChangeEvent(s, e) {
        $("#PartyEditDate").val(s.GetSelectedItem().GetColumnText("REC_EDIT_ON"));
    }


    $(document).ready(function () {
        IsCoreInstituteSucessPopup = false;
        IsCoreInstituteViewPopup = false;

        $("#CoreInstituteListGrid").hover(function () {
            const gridInstance = $("#CoreInstituteListGrid").dxDataGrid("instance");
            if (gridInstance) {
                gridInstance.focus();
            }
        });

        AdjustGridHeights();
    });


    $(".TabPanalMenu-tabs .active span").on("click", function () {
       $.ajax({
           type: 'GET',
           url: "/Profile/Core/SessionClear",
           cache: false
       });

       ClearAllReferences_CoreInstituteProfile();

    });

       var CoreInstituteID ;
       var CoreInstitute_EditDate ;
       var CoreInstitute_AddDate;
       var CoreInstitute_AddBy ;
       var CoreInstitute_EditBy ;
       var CoreInstitute_ActionStatus;
       var CoreInstitute_ActionDate ;
       var CoreInstitute_ActionBy ;
       var Expanded_Row_Key_CoreInstitute_dx ;
       var CoreInstitute_IsDetailRowExpanded ;

     function ClearAllReferences_CoreInstituteProfile() {
        CoreInstituteID = null;
        CoreInstitute_EditDate = null;
        CoreInstitute_AddDate = null;
        CoreInstitute_AddBy = null;
        CoreInstitute_EditBy = null;
        CoreInstitute_ActionStatus = null;
        CoreInstitute_ActionDate = null;
        CoreInstitute_ActionBy = null;
        Expanded_Row_Key_CoreInstitute_dx = null;
        CoreInstitute_IsDetailRowExpanded = null;

    }

    function CoreInstituteListGrid_dx_OnCellDblClick(e) {
        if (CoreInstitut_IsVouchingMode == true && Core_ViewMode == "Default") {
            var keyvalue = e.key != null ? e.key.replace(/^0-9A-Za-z/gi, "_") : "Null" + e.rowIndex;
            OnGridCellClick(
                e.event,
                e.cellElement[0],
                e.columnIndex,
                e.rowIndex,
                e.element[0].id,
                keyvalue,
                e.column.dataField
            );
        }
    }

    function CoreInstituteAjaxSuccessForm(data) {
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
        else {
            IsCoreInstituteSucessPopup = true;
            DevExpress.ui.dialog.alert(data.Message, "Success");
            $("#popup_frm_CoreInstitute_Window").dxPopup("hide");
            CoreInstituteListGrid.Refresh();
            IsCoreInstituteSucessPopup = false;
        }
    }

    function CoreInstituteListGrid_dx_OnInitialized(e) {

         CoreInstituteListGrid = e.component

     }

     function CoreInstituteOnUnLockClick() {
        if (!Profile_CoreSuperuser_auditor_Lock_UnLock) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        if (CoreInstituteID == 'undefined' || CoreInstituteID == undefined) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        $.ajax({
            type: 'GET',
            url: "/Profile/CoreInstitute/DataNavigation",
            data: { ActionMethod: "UNLOCKED", id: CoreInstituteID, TR_ID: TR_ID, YearID: YearId, AI_PARTY_ID: AI_PARTY_ID, ActionStatus: CoreInstitute_ActionStatus, EditDate: CoreInstitute_EditDate },
            cache: false,
            success: function (CoreInstitute_UNLOCKED_Get_DataNavigation_result) {
                DevExpress.ui.dialog.alert(CoreInstitute_UNLOCKED_Get_DataNavigation_result.Message);
            }
        });

    }

    function CoreInstituteOnLockClick() {
        if (!Profile_CoreSuperuser_auditor_Lock_UnLock) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        if (CoreInstituteID == 'undefined' || CoreInstituteID == undefined) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        $.ajax({
            type: 'GET',
            url: "/Profile/CoreInstitute/DataNavigation",
            data: { ActionMethod: "LOCKED", id: CoreInstituteID, TR_ID: TR_ID, YearID: YearId, AI_PARTY_ID: AI_PARTY_ID, ActionStatus: CoreInstitute_ActionStatus, EditDate: CoreInstitute_EditDate },
            cache: false,
            success: function (CoreInstitute_LOCKED_Get_DataNavigation_result) {
                DevExpress.ui.dialog.alert(CoreInstitute_LOCKED_Get_DataNavigation_result.Message);
            }
        });
        }

    function OnCoreInstituteNewClick() {
        if (!Profile_CoreNewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsCoreInstituteViewPopup = false;
        $("#popup_frm_CoreInstitute_Window").dxPopup("show");
        $("#popup_frm_CoreInstitute_Window").dxPopup("instance").option("title", "New ~ CoreInstitute");
        $("#CoreInstituteresult").html('');
        ShowLoader();
        $("#CoreInstituteresult").load("@Url.Action("frm_CoreInstitute_window", "CoreInstitute", new { @area = "Profile" })?ActionMethod=New", function () {
            HideLoader();
            $("#ItemID").dxSelectBox('instance').focus();
        });
    }

    function OnCoreInstituteEditClick() {
        if (!Profile_CoreEditright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        if (CoreInstituteID == 'undefined' || CoreInstituteID == undefined) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        $.ajax({
            type: 'GET',
            url: "/Profile/CoreInstitute/DataNavigation",
            data: { ActionMethod: "Edit", id: CoreInstituteID, TR_ID: TR_ID, YearID: YearId, AI_PARTY_ID: AI_PARTY_ID, ActionStatus: CoreInstitute_ActionStatus, EditDate: CoreInstitute_EditDate },
            cache: false,
            async: true,
            success: function (CoreInstitute_Edit_ButtonClick_result) {
                if (CoreInstitute_Edit_ButtonClick_result.result == "true" || CoreInstitute_Edit_ButtonClick_result.result == true) {
                    $("#popup_frm_CoreInstitute_Window").dxPopup("show");
                    $("#popup_frm_CoreInstitute_Window").dxPopup("instance").option("title", "Edit ~ CoreInstitute");
                    $("#CoreInstituteresult").html('');
                    ShowLoader();
                    $("#CoreInstituteresult").load('@Url.Action("frm_CoreInstitute_window", "CoreInstitute", new { @area = "Profile" })?ActionMethod=Edit&ID=' + CoreInstituteID + '&EditedOn=' + encodeURIComponent(CoreInstitute_EditDate), function () {
                        HideLoader();
                        $("#ItemID").dxSelectBox('instance').focus();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(CoreInstitute_Edit_ButtonClick_result.Message);
                    CoreInstituteListGrid.Refresh();
                }
            }
        });
    }

    function OnCoreInstituteViewClick() {
        if (!Profile_CoreViewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsCoreInstituteViewPopup = true;
        if (CoreInstituteID == 'undefined' || CoreInstituteID == undefined) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }
        $.ajax({
            type: 'GET',
            url: "/Profile/CoreInstitute/DataNavigation",
            data: { ActionMethod: "View", id: CoreInstituteID, TR_ID: TR_ID, YearID: YearId, AI_PARTY_ID: AI_PARTY_ID, ActionStatus: CoreInstitute_ActionStatus, EditDate: encodeURIComponent(CoreInstitute_EditDate) },
            cache: false,
            success: function (CoreInstitute_View_ButtonClick_result) {
                if (CoreInstitute_View_ButtonClick_result.result == "true" || CoreInstitute_View_ButtonClick_result.result == true) {
                    $("#popup_frm_CoreInstitute_Window").dxPopup("show");
                    $("#popup_frm_CoreInstitute_Window").dxPopup("instance").option("title", "View ~ CoreInstitute");
                    $("#CoreInstituteresult").html('');
                    ShowLoader();
                    $("#CoreInstituteresult").load("@Url.Action("frm_CoreInstitute_window", "CoreInstitute", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + CoreInstituteID + "&EditedOn=" + encodeURIComponent(CoreInstitute_EditDate), function () {
                        HideLoader();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(CoreInstitute_View_ButtonClick_result.Message);
                    CoreInstituteListGrid.Refresh();
                }
            }
        });
    }

    function OnCoreInstituteDeleteClick() {
        if (!Profile_CoreDeleteright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsCoreInstituteViewPopup = false;
        if (CoreInstituteID == 'undefined' || CoreInstituteID == undefined) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $("#popup_frm_CoreInstitute_Window_Close").dxPopup("hide");

                $.ajax({
                    type: 'GET',
                    url: "/Profile/CoreInstitute/DataNavigation",
                    data: { ActionMethod: "Delete", id: CoreInstituteID, TR_ID: TR_ID, YearID: YearId, AI_PARTY_ID: AI_PARTY_ID, ActionStatus: CoreInstitute_ActionStatus, EditDate: CoreInstitute_EditDate },
                    cache: false,
                    success: function (CoreInstitute_Delete_ButtonClick_result) {
                        if (CoreInstitute_Delete_ButtonClick_result.result == "true" || CoreInstitute_Delete_ButtonClick_result.result == true) {
                            $("#popup_frm_CoreInstitute_Window").dxPopup("show");
                            $(".dx-item-content.dx-toolbar-item-content:first").find("div").html('Delete ~ CoreInstitute');
                            ShowLoader();
                            $("#CoreInstituteresult").load("@Url.Action("frm_CoreInstitute_window", "CoreInstitute", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + CoreInstituteID + "&EditedOn=" + encodeURIComponent(CoreInstitute_EditDate), function () {
                                HideLoader();
                                $("#CoreInstituteDelete").dxButton('instance').focus();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(CoreInstitute_Delete_ButtonClick_result.Message);
                            CoreInstituteListGrid.Refresh();
                        }
                    }
                });
            }
        });
    }

    function OnCoreInstituteListPreviewClickDx() {
        if (!Profile_CoreExportright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        OpenPopup("CoreInstitute_report_modal", "Export Option", "@Url.Action("Frm_Institute_Export_Options_dx", "Core", new { @area = "Profile" })", "auto", 125);
    }

    function CoreInstituteListGrid_dx_OnCellPrepared(e) {
         if (e.rowType === "data") {
             let keyvalue;

             if (typeof e.key === "string") {
                 // Replace non-alphanumeric characters with "_"
                 keyvalue = e.key.replace(/[^0-9A-Za-z]/g, "_");
             } else if (typeof e.key === "number") {
                 keyvalue = "_" + e.key.toString();
             } else if (typeof e.key === "object" && e.key !== null) {
                 // Composite key: convert to string and clean
                 const keyString = Object.values(e.key).join("_");
                 keyvalue = keyString.replace(/[^0-9A-Za-z]/g, "_");
             } else {
                 keyvalue = "Null" + e.rowIndex;
             }

             if (CoreInstitut_IsVouchingMode == true && e.column.dataField === "iIcon") {
                 $(e.cellElement).attr("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + keyvalue + "')");
                 $(e.cellElement).attr("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + keyvalue + "')");
             }

             $(e.cellElement).attr("id", e.element[0].id + "_Cell_" + keyvalue + "|" + e.column.dataField);

         }
     }

    function CoreInstituteListGrid_dx_OnRowPrepared(e) {
         if (e.rowType === "data") {
             var GridName = e.element[0].id;
             var keyvalue = e.key != null ? e.key.replace(/^0-9A-Za-z/gi, "_") : "Null" + e.rowIndex;

             $(e.rowElement).addClass(GridName + "_DataRow_" + keyvalue);


            var PreviewRowContent = CoreInstituteListGrid_dx_PreviewRow_Template(e)
            var PreviewRowClass = GridName + "_PreviewRow " + GridName + "_PreviewRow_" + keyvalue + " DataGridPreviewRow"
            var PreviewRowOptions = "";
            if (CoreInstitut_IsVouchingMode == true) {
                PreviewRowOptions = "style='display:none' onmouseover=OnGridPrevRowMouseHoverIn(event,this,'" + GridName + "','" + e.rowIndex + "','" + keyvalue + "') onmouseout=OnGridPrevRowMouseHoverOut(event,this,'" + GridName + "','" + e.rowIndex + "','" + keyvalue + "')"
            }
            var EmptyTdshtml = "";
            var emptyTd = $(e.rowElement).find('td.dx-datagrid-group-space').length
            for (var i = 0; i < emptyTd; i++) {
                EmptyTdshtml += "<td></td>"
            }
            ($(e.rowElement).parent()).append("<tr class='" + PreviewRowClass + "' " + PreviewRowOptions + ">" + EmptyTdshtml + "<td colspan='" + (e.columns.length) + "'>" + PreviewRowContent + "</td></tr>")
        }
    }

    function CoreInstituteListGrid_dx_PreviewRow_Template(e) {
        if (CoreInstitut_IsVouchingMode == true) {
            return DxGrid_AuditButtons(e.element[0].id, e.key, e.rowIndex);
        }
        else {
            return ""
        }
    }

    function CoreInstituteListGrid_dx_OnContentReady(e) {

        var GridName = e.element[0].id;

        DxGrid_OnContentReady(e, LS_ShowHorizontalBar);
        if (e.component.getDataSource().items().length > 0) {
            e.component.selectRows([e.component.getDataSource().items()[0].ID], true);
        }
    }

    function CoreInstituteListGrid_dx_OnSelectionChanged(e) {
        var selectedRowKeys = e.selectedRowKeys;

        if (selectedRowKeys != null && selectedRowKeys.length > 0) {
            SelectedRows_CoreInstitute = e.selectedRowsData;

            CoreInstituteListGrid_dx_SelectedRowData(e.selectedRowsData);
        } else {
            SelectedRows_CoreInstitute = [];

            CoreInstituteID = null;
            CoreInstitute_UpdateFooterDetail_dx(
                CoreInstituteID,
                CoreInstitute_ActionStatus,
                CoreInstitute_AddDate,
                CoreInstitute_AddBy,
                CoreInstitute_ActionDate,
                CoreInstitute_ActionBy,
                CoreInstitute_EditDate,
                CoreInstitute_EditBy
            );
        }
    }

    function CoreInstituteListGrid_dx_SelectedRowData(selectedData = null) {
        const gridInstance = $("#CoreInstituteListGrid").dxDataGrid("instance");
        if (selectedData == null && gridInstance) {
            selectedData = gridInstance.getSelectedRowsData();
        }

        if (selectedData != null && selectedData.length > 0) {

            var values = selectedData[0]

            CoreInstituteID = values["ID"];
            CoreInstitute_EditDate = values["EditDate"];
            CoreInstitute_AddDate = values["AddDate"];
            CoreInstitute_AddBy = values["AddBy"];
            CoreInstitute_EditBy = values["EditBy"];
            CoreInstitute_ActionStatus = values["ActionStatus"];
            CoreInstitute_ActionDate = values["ActionDate"];
            CoreInstitute_ActionBy = values["ActionBy"];
            CoreInstitute_YearId = values["YEARID"];
            //CoreInstitute_UpdateFooterDetail_dx(CoreInstituteID, CoreInstitute_ActionStatus, CoreInstitute_AddDate, CoreInstitute_AddBy,
            //    CoreInstitute_ActionDate, CoreInstitute_ActionBy, CoreInstitute_EditDate, CoreInstitute_EditBy);
        }
    }

    function CoreInstituteListGrid_dx_Compact_Column_Template(container, templateData) {
            var Name = templateData.component.element()[0].id;
            var KeyValue = templateData.data.ID;
            var VouchingMode = CoreInstitut_IsVouchingMode == true ? "True" : "False";

            var htmlString = "<div class='container-fluid'>" +
                "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Institute Name:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|INS_NAME' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.INS_NAME + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Name:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|CEN_NAME' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.CEN_NAME + "</div></div>";
        htmlString += "<div class='row' >" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>U.I.D</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|CEN_UID' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.CEN_UID + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
                "<label class='control-label'>Incharge Name</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|CEN_INCHARGE' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                (templateData.data.CEN_INCHARGE ?? "") + "</div></div>";
            $(container).html(htmlString)
    }

    function CoreInstituteListGrid_dx_Compact_column_CellValue(rowData) {
            var data =
                [
                    rowData.INS_NAME, rowData.CEN_NAME, rowData.CEN_UID, rowData.CEN_INCHARGE
                ]
            return data.join(" ")
    }

    function CoreInstituteListGrid_dx_iIconTemplate(container, templateData) {
        var iREQ_ATTACH_COUNT = templateData.data.REQ_ATTACH_COUNT
        var iCOMPLETE_ATTACH_COUNT = templateData.data.COMPLETE_ATTACH_COUNT
        var iRESPONDED_COUNT = templateData.data.RESPONDED_COUNT
        var iREJECTED_COUNT = templateData.data.REJECTED_COUNT
        var iOTHER_ATTACH_CNT = templateData.data.OTHER_ATTACH_CNT
        var iALL_ATTACH_CNT = templateData.data.ALL_ATTACH_CNT
        var iIcon = templateData.data.iIcon
        var UniqueID = templateData.component.element()[0].id
        var key = templateData.data.ID != null ? templateData.data.ID.replace(/^0-9A-Za-z/gi, "_") : "";
        var VisibleIndex = templateData.rowIndex
        var htmlString = "";
        htmlString = DxGrid_AttachmentIcons(iREQ_ATTACH_COUNT, iCOMPLETE_ATTACH_COUNT, iRESPONDED_COUNT, iREJECTED_COUNT, iOTHER_ATTACH_CNT, iALL_ATTACH_CNT);
        htmlString += DxGrid_VouchingAuditIcons(iIcon)
        htmlString += DxGrid_AuditIconAfterClick(UniqueID, key, VisibleIndex)
        $(container).html(htmlString)
    }

    function CoreInstituteListGrid_dx_OnRowExpanding(e) {
         if (!Array.isArray(e.key)) {
             e.component.collapseRow(Expanded_Row_Key_CoreInstitute_dx); // collapse previous row
             e.component.selectRows(e.key); // highlight current row
             Expanded_Row_Key_CoreInstitute_dx = e.key; // update last expanded row key
             CoreInstitute_IsDetailRowExpanded = true;

             var DetailGridID = e.element[0].id + e.key;
             var instance = $("div[id='" + DetailGridID + "']").dxDataGrid("instance");
             if (instance !== undefined) {
                 instance.state(null); // reset detail grid state
             }
        }
         else {
             e.component.option("CustomProp.groupRowExpanded", true);
         }
    }

    function CoreInstituteListGrid_dx_OnRowCollapsing(e) {
         if (!Array.isArray(e.key)) {
             var DetailGridID = e.element[0].id + e.key;
             sessionStorage.removeItem(DetailGridID + "_DetailGridState"); // clear saved state
             CoreInstitute_IsDetailRowExpanded = false;

             e.component.selectRows(e.key); // reselect row

             var instance = $("div[id='" + DetailGridID + "']").dxDataGrid("instance");
             if (instance !== undefined) {
                 instance.clearSelection(); // clear child grid selection
             }
        }
         else {
             e.component.option("CustomProp.groupRowCollapsed", true);
         }
    }

    function CoreInsttContextMenuFunction(e) {

          if (!e.items) e.items = [];
            if (e.target == "header") {

                DxGrid_HeaderContextMenu(e)
            }
            else if ((e.target == "content" && e.row && e.row.rowType == "groupFooter") || e.target == "footer") {
                if (Deposits_ViewMode == "Compact")
                    DxGrid_FooterContextMenu(e, true);
                else
                    DxGrid_FooterContextMenu(e);
            }
            else if (e.target == "content" && e.row && (e.row.rowType == "data" || e.row.rowType == "detailAdaptive")) {
                var key = e.component.getKeyByRowIndex(e.row.rowIndex);
                e.component.selectRows(key);
                e.items = [

                    {
                        text: "Export",
                        icon: "fa-solid fa-file-export text-warning",
                        visible: "@Core_ExportRight" == "True",
                        beginGroup: true,
                        onItemClick: function () {
                            OnCoreLocationListPreviewClickDx();
                        }
                    },

                    {
                        text: "Refresh",
                        icon: "fa-solid fa-arrow-rotate-right text-success",
                        beginGroup: true,
                        onItemClick: function () {
                            CoreInstituteListGrid.refresh();
                        }
                    },

                    {
                        text: "Close",
                        icon: "fa-solid fa-rectangle-xmark text-danger",
                        beginGroup: true,
                        onItemClick: function () {
                            CoreProfileClose();
                        }
                    },

                ]
            }
     }

    </script>

    <script type="text/javascript">
    var IsCoreLocationSucessPopup = false;
    var LS_ShowHorizontalBar = null;
    var IsCoreLocationViewPopup = false;
    var Profile_CoreEditright="@Core_UpdateRight"=="True"?true:false;
    var Profile_CoreNewright="@Core_AddRight"=="True"?true:false;
    var Profile_CoreDeleteright="@Core_DeleteRight"=="True"?true:false;
    var Profile_CoreViewright="@Core_ViewRight"=="True"?true:false;
    var Profile_CoreExportright="@Core_ExportRight"=="True"?true:false;
    var Profile_CoreSuperuser_auditor_Lock_UnLock = "@Profile_CoreSuperuser_auditor_Lock_UnLock" == "True" ? true : false;
    var LS_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");

    $(document).ready(function () {
        IsCoreLocationSucessPopup = false;
        IsCoreLocationViewPopup = false;
      //  SetCoreLocationGroupPanelFooterVisible();
        $("#CoreLocationListGrid").hover(function () {
            const gridInstance = $("#CoreLocationListGrid").dxDataGrid("instance");
            if (gridInstance) {
                gridInstance.focus();
            }
        })

        AdjustGridHeights();
    });


    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Profile/Core/SessionClear",
            cache: false
        });

        ClearAllReferences_CoreLocationProfile();
    });

        var CoreLocationID ;
        var CoreLocation_EditDate;
        var CoreLocation_AddDate ;
        var CoreLocation_AddBy ;
        var CoreLocation_EditBy ;
        var CoreLocation_ActionStatus ;
        var CoreLocation_ActionDate ;
        var CoreLocation_ActionBy ;
        var CoreLocation_YearId ;

    function ClearAllReferences_CoreLocationProfile() {
         CoreLocationID = null;
         CoreLocation_EditDate = null;
         CoreLocation_AddDate = null;
         CoreLocation_AddBy = null;
         CoreLocation_EditBy = null;
         CoreLocation_ActionStatus = null;
         CoreLocation_ActionDate = null;
         CoreLocation_ActionBy = null;
         CoreLocation_YearId = null;
    }

    function CoreLocation_VouchingSwitch_ValueChange(e) {
        CoreLocation_IsVouchingMode = e.value;
    }

    function CoreLocationListGrid_dx_OnInitialized(e) {
        CoreLocationListGrid = e.component;
    }

    function CoreLocationListGrid_dx_OnCellDblClick(e) {
        if (CoreLocation_IsVouchingMode == true && Core_ViewMode == "Default") {
            debugger
            console.log("Core_ViewMode", Core_ViewMode)
            console.log("Inside the CoreLocationListGrid_dx_OnCellDblClick")
            var keyvalue = e.key != null ? e.key.replace(/^0-9A-Za-z/gi, "_") : "Null" + e.rowIndex;
            OnGridCellClick(
                e.event,
                e.cellElement[0],
                e.columnIndex,
                e.rowIndex,
                e.element[0].id,
                keyvalue,
                e.column.dataField
            );
        }
    }

    function CoreLocationAjaxSuccessForm(data) {
        //if (data.result == false) {
        //    DevExpress.ui.dialog.alert(data.Message, "Error");
        //}
        //else {
            IsCoreLocationSucessPopup = true;
            DevExpress.ui.dialog.alert(data.Message, "Success");
            $("#popup_frm_CoreLocation_Window").dxPopup("hide");
            CoreLocationListGrid.refresh();
            IsCoreLocationSucessPopup = false;
        //}
    }

    function CoreLocationOnUnLockClick() {
        if (!Profile_CoreSuperuser_auditor_Lock_UnLock) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        if (CoreLocationID == 'undefined' || CoreLocationID == undefined) {DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');  return;}
        $.ajax({
            type: 'GET',
            url: "/Profile/CoreLocation/DataNavigation",
            data: { ActionMethod: "UNLOCKED", id: CoreLocationID, TR_ID: TR_ID, YearID: YearId, AI_PARTY_ID: AI_PARTY_ID, ActionStatus: CoreLocation_ActionStatus, EditDate: CoreLocation_EditDate },
            cache: false,
            success: function (CoreLocation_UNLOCKED_Get_DataNavigation_result) {
                DevExpress.ui.dialog.alert(CoreLocation_UNLOCKED_Get_DataNavigation_result.Message);
            }
        });
    }

    function CoreLocationOnLockClick() {
        if (!Profile_CoreSuperuser_auditor_Lock_UnLock) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }
        if (CoreLocationID == 'undefined' || CoreLocationID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/CoreLocation/DataNavigation",
            data: { ActionMethod: "LOCKED", id: CoreLocationID, TR_ID: TR_ID, YearID: YearId, AI_PARTY_ID: AI_PARTY_ID, ActionStatus: CoreLocation_ActionStatus, EditDate: CoreLocation_EditDate },
            cache: false,
            success: function (CoreLocation_LOCKED_Get_DataNavigation_result) {
                DevExpress.ui.dialog.alert(CoreLocation_LOCKED_Get_DataNavigation_result.Message);
            }
        });
    }

    function OnCoreLocationNewClick() {

        if(!Profile_CoreNewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsCoreLocationViewPopup = false;

        OpenPopup("popup_frm_CoreLocation_Window", "New ~ CoreLocation", "@Url.Action("frm_CoreLocation_window", "CoreLocation", new { @area = "Profile" })?ActionMethod=New", "auto", 500);
    }

    function OnCoreLocationEditClick() {
        if(!Profile_CoreEditright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        if (CoreLocationID == 'undefined' || CoreLocationID == undefined || CoreLocationID == "") { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Profile/CoreLocation/DataNavigation",
            data: { ActionMethod: "Edit", id: CoreLocationID, YearID: CoreLocation_YearId, ActionStatus: CoreLocation_ActionStatus, EditDate: CoreLocation_EditDate },
            cache: false,
            async: true,
            success: function (CoreLocation_Edit_ButtonClick_result) {
                if (CoreLocation_Edit_ButtonClick_result.result == "true" || CoreLocation_Edit_ButtonClick_result.result == true) {

                    OpenPopup("popup_frm_CoreLocation_Window", "Edit ~ CoreLocation",'@Url.Action("frm_CoreLocation_window", "CoreLocation", new { @area = "Profile" })?ActionMethod=Edit&ID=' + CoreLocationID + '&EditedOn=' + encodeURIComponent(CoreLocation_EditDate), "auto", 500);
                }
                else if (CoreLocation_Edit_ButtonClick_result.result == "NoEditRights")
                {
                    $("#LocationModelEdit").hide();
                    DevExpress.ui.dialog.alert(CoreLocation_Edit_ButtonClick_result.Message, "Warning");
                }
                else
                {
                    DevExpress.ui.dialog.alert(CoreLocation_Edit_ButtonClick_result.Message);
                    CoreLocationListGrid.refresh();
                    HideLoader();
                }
            }
        });
    }

    function OnCoreLocationViewClick() {
        if(!Profile_CoreViewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsCoreLocationViewPopup = true;
        if (CoreLocationID == 'undefined' || CoreLocationID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Profile/CoreLocation/DataNavigation",
            data: { ActionMethod: "View", id: CoreLocationID, TR_ID: TR_ID, YearID: YearId, AI_PARTY_ID: AI_PARTY_ID, ActionStatus: CoreLocation_ActionStatus, EditDate: encodeURIComponent(CoreLocation_EditDate) },
            cache: false,
            success: function (CoreLocation_View_ButtonClick_result) {
                if (CoreLocation_View_ButtonClick_result.result == "true" || CoreLocation_View_ButtonClick_result.result == true) {

                    OpenPopup("popup_frm_CoreLocation_Window", "View ~ CoreLocation", "@Url.Action("frm_CoreLocation_window", "CoreLocation", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + CoreLocationID + "&EditedOn=" + encodeURIComponent(CoreLocation_EditDate), "auto", 500);
                }
                else if (CoreLocation_View_ButtonClick_result.result == "NoViewRights") {
                    DevExpress.ui.dialog.alert(CoreLocation_View_ButtonClick_result.Message, "Warning");
                }
                else {
                    DevExpress.ui.dialog.alert(CoreLocation_View_ButtonClick_result.Message);
                    CoreLocationListGrid.refresh();
                }
            }
        });
    }

    function OnCoreLocationDeleteClick()
    {
        ShowLoader();
        if(!Profile_CoreDeleteright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsCoreLocationViewPopup = false;
        if (CoreLocationID == 'undefined' || CoreLocationID == undefined || CoreLocationID == "") { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");

        result.done(function (dialogResult)
        {
            if (dialogResult) {
                $("#popup_frm_CoreLocation_Window_Close").dxPopup("hide");

                $.ajax({
                    type: 'GET',
                    url: "/Profile/CoreLocation/DataNavigation",
                    data: { ActionMethod: "Delete", id: CoreLocationID, ActionStatus: CoreLocation_ActionStatus, EditDate: CoreLocation_EditDate, LocationName: "", OtherDetails: "", RAD_PropertyService: "", PropertyDDL: "", ServiceDDL: "" },
                    cache: false,
                    success: function (CoreLocation_Delete_ButtonClick_result) {
                        if (CoreLocation_Delete_ButtonClick_result.result == "true" || CoreLocation_Delete_ButtonClick_result.result == true) {

                            OpenPopup("popup_frm_CoreLocation_Window", "Delete ~ CoreLocation", "@Url.Action("frm_CoreLocation_window", "CoreLocation", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + CoreLocationID + "&EditedOn=" + encodeURIComponent(CoreLocation_EditDate), "auto", 500);
                        }
                        else if (CoreLocation_Delete_ButtonClick_result.result == "NoDeleteRights") {
                            $("#LocationModelDelete").hide();
                            DevExpress.ui.dialog.alert(CoreLocation_Delete_ButtonClick_result.Message, "Warning");
                            HideLoader();
                        }
                        else {
                            DevExpress.ui.dialog.alert(CoreLocation_Delete_ButtonClick_result.Message);
                            CoreLocationListGrid.refresh();
                            HideLoader();
                        }
                    }
                });
            }
            else { HideLoader(); }//redmine bug #133008 fixed
        });
    }

    function OnCoreLocationListPreviewClickDx() {
        if(!Profile_CoreExportright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

            OpenPopup("CoreLocation_report_modal", "Export Option", "@Url.Action("Frm_Location_Export_Options_dx", "Core", new { @area = "Profile" })", "auto", 125);
    }

    function CoreLocationContextMenuFunction(e) {
        if (!e.items) e.items = [];
            if (e.target == "header") {

                DxGrid_HeaderContextMenu(e)
            }
            else if ((e.target == "content" && e.row && e.row.rowType == "groupFooter") || e.target == "footer") {
                if (Deposits_ViewMode == "Compact")
                    DxGrid_FooterContextMenu(e, true);
                else
                    DxGrid_FooterContextMenu(e);
            }
            else if (e.target == "content" && e.row && (e.row.rowType == "data" || e.row.rowType == "detailAdaptive")) {
                var key = e.component.getKeyByRowIndex(e.row.rowIndex);
                e.component.selectRows(key);
                e.items = [
                    {
                        text: "New",
                        icon: "fa-solid fa-plus text-success",
                        onItemClick: function () {
                            OnCoreLocationNewClick();
                        }
                    },

                    {
                        text: "Edit",
                        icon: "fa-solid fa-pen-to-square text-primary",
                        onItemClick: function () {
                            OnCoreLocationEditClick();
                        }
                    },

                    {
                        text: "Delete",
                        icon: "fa-solid fa-trash text-danger",
                        onItemClick: function () {
                            OnCoreLocationDeleteClick();
                        }
                    },

                    {
                        text: "View",
                        icon: "fa-solid fa-eye text-info",
                        onItemClick: function () {
                            OnCoreLocationViewClick();
                        }
                    },

                    {
                        text: "Export",
                        icon: "fa-solid fa-file-export text-warning",
                        visible: "@Core_ExportRight" == "True",
                        beginGroup: true,
                        onItemClick: function () {
                            OnCoreLocationListPreviewClickDx();
                        }
                    },

                    {
                        text: "Close",
                        icon: "fa-solid fa-rectangle-xmark text-danger",
                        beginGroup: true,
                        onItemClick: function () {
                            CoreProfileClose();
                        }
                    },

                    {
                        text: "Refresh",
                        icon: "fa-solid fa-arrow-rotate-right text-success",
                        beginGroup: true,
                        onItemClick: function () {
                            CoreLocationListGrid.refresh();
                        }
                    }]
            }
    }

    function LookUp_GetPartyList_CoreLocation_ChangeEvent(s, e) {
        $("#PartyEditDate").val(s.GetSelectedItem().GetColumnText("REC_EDIT_ON"));
    }

    function CoreLocationDelete(ID, actionMethod) {
        if (ID == undefined || ID == 'undefined') {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        ShowLoader();
        $.ajax({
            type: "POST",
            url: "/Profile/CoreLocation/frm_CoreLocation_window",
            data: {
                ActionMethod: actionMethod,
                Id: ID,
                TempActionMethod:"_Delete"
            },
            success: function (data) {
                if (data.State == "1") {
                    HideLoader();
                    $("#popup_frm_CoreLocation_Window").dxPopup("hide");
                    DevExpress.ui.dialog.alert(data.Message, 'Alert');
                    CoreLocationChanged();
                    CoreLocationListGrid.refresh();
                    CoreLocationChanged();
                    return
                }
            },
            error: function (e) {

            }

        });
    }

    function CoreLocationChanged() {
        ShowLoader();

        $.ajax({
            url: '@Url.Action("Frm_Core_Info_Location_Grid_dx", "Core")',
            type: "GET",
            data: { Command: "REFRESH" },
            success: function (res) {
                $("#Frm_Core_Info_Location_Grid_dx").html(res);
            }
        });
        HideLoader();
    }

    function CoreLocationListGrid_dx_Compact_Column_Template(container, templateData) {
        var Name = templateData.component.element()[0].id;
        var KeyValue = templateData.data.ID;
        var VouchingMode = CoreLocation_IsVouchingMode == true ? "True" : "False";

        var htmlString = "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Location Name:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Location_Name' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            templateData.data.Location_Name + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Other Detail:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Other_Detail' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            templateData.data.Other_Detail + "</div></div>";
        htmlString += "<div class='row' >" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Matched Type:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Matched_Type' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            templateData.data.Matched_Type + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Matched Name:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Matched_Name' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Matched_Name ?? "") + "</div></div>";
        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Matched Instt.:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Matched_Instt' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            templateData.data.Matched_Instt + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Capacity</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Capacity' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Capacity ?? "") + "</div></div>";
        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Ac or Non-Ac</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Ac_nonAc' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            templateData.data.Ac_nonAc + "</div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Category</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Category' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Category ?? "") + "</div></div>";
        htmlString += "<div class='row'>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'>" +
            "<label class='control-label'>Floor:</label></div>" +
            "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|roomfloor' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            templateData.data.roomfloor + "</div></div>";
        $(container).html(htmlString);
    }

    function CoreLocationListGrid_dx_Compact_column_CellValue(rowData) {
        var data =
            [
                rowData.Location_Name, rowData.Other_Detail, rowData.Matched_Type, rowData.Matched_Name, rowData.Matched_Instt, rowData.Capacity, rowData.Ac_nonAc,
                rowData.Category, rowData.roomfloor
            ]
        return data.join(" ")
    }

    function CoreLocationListGrid_dx_OnCellPrepared(e) {
        if (e.rowType == "data") {

            console.log("Inside the CoreLocationListGrid_dx_OnCellPrepared");

            var keyvalue = e.key != null ? e.key.replace(/^0-9A-Za-z/gi, "_") : "Null" + e.rowIndex;

            if (CoreLocation_IsVouchingMode == true && e.column.dataField === "iIcon") {
                $(e.cellElement).attr("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + keyvalue + "')");
                $(e.cellElement).attr("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + keyvalue + "')");
            }

            $(e.cellElement).attr("id", e.element[0].id + "_Cell_" + keyvalue + "|" + e.column.dataField);

        }
    }

    function CoreLocationListGrid_dx_OnRowPrepared(e) {
        if (e.rowType == "data") {
            var GridName = e.element[0].id;
            var keyvalue = e.key != null ? e.key.replace(/^0-9A-Za-z/gi, "_") : "Null" + e.rowIndex;
            $(e.rowElement).addClass(GridName + "_DataRow_" + keyvalue)

            var PreviewRowContent = CoreLocationListGrid_dx_PreviewRow_Template(e)
            var PreviewRowClass = GridName + "_PreviewRow " + GridName + "_PreviewRow_" + keyvalue + " DataGridPreviewRow"
            var PreviewRowOptions = "";
            if (CoreLocation_IsVouchingMode == true) {
                PreviewRowOptions = "style='display:none' onmouseover=OnGridPrevRowMouseHoverIn(event,this,'" + GridName + "','" + e.rowIndex + "','" + keyvalue + "') onmouseout=OnGridPrevRowMouseHoverOut(event,this,'" + GridName + "','" + e.rowIndex + "','" + keyvalue + "')"
            }
            var EmptyTdshtml = "";
            var emptyTd = $(e.rowElement).find('td.dx-datagrid-group-space').length
            for (var i = 0; i < emptyTd; i++) {
                EmptyTdshtml += "<td></td>"
            }
            ($(e.rowElement).parent()).append("<tr class='" + PreviewRowClass + "' " + PreviewRowOptions + ">" + EmptyTdshtml + "<td colspan='" + (e.columns.length) + "'>" + PreviewRowContent + "</td></tr>")
        }
    }

    function CoreLocationListGrid_dx_iIconTemplate(container, templateData) {
        var iREQ_ATTACH_COUNT = templateData.data.REQ_ATTACH_COUNT
        var iCOMPLETE_ATTACH_COUNT = templateData.data.COMPLETE_ATTACH_COUNT
        var iRESPONDED_COUNT = templateData.data.RESPONDED_COUNT
        var iREJECTED_COUNT = templateData.data.REJECTED_COUNT
        var iOTHER_ATTACH_CNT = templateData.data.OTHER_ATTACH_CNT
        var iALL_ATTACH_CNT = templateData.data.ALL_ATTACH_CNT
        var iIcon = templateData.data.iIcon
        var UniqueID = templateData.component.element()[0].id
        var key = templateData.data.ID != null ? templateData.data.ID.replace(/^0-9A-Za-z/gi, "_") : "";
        var VisibleIndex = templateData.rowIndex
        var htmlString = "";
        htmlString = DxGrid_AttachmentIcons(iREQ_ATTACH_COUNT, iCOMPLETE_ATTACH_COUNT, iRESPONDED_COUNT, iREJECTED_COUNT, iOTHER_ATTACH_CNT, iALL_ATTACH_CNT);
        htmlString += DxGrid_VouchingAuditIcons(iIcon)
        htmlString += DxGrid_AuditIconAfterClick(UniqueID, key, VisibleIndex)
        $(container).html(htmlString)
    }

    function CoreLocationListGrid_dx_PreviewRow_Template(e) {
        if (CoreLocation_IsVouchingMode == true) {
            var keyvalue = e.key != null ? e.key.replace(/^0-9A-Za-z/gi, "_") : "Null" + e.rowIndex;

            return DxGrid_AuditButtons(e.element[0].id, keyvalue, e.rowIndex);
        }
        else {
            return ""
        }
    }

    function CoreLocationListGrid_dx_OnContentReady(e) {
        var GridName = e.element[0].id;
        DxGrid_OnContentReady(e, LS_ShowHorizontalBar);

        if (e.component.getDataSource().items().length > 0) {
            e.component.selectRows([e.component.getDataSource().items()[0].ID], true);
        }
    }


    function CoreLocationListGrid_dx_OnSelectionChanged(e) {
        var selectedRowKeys = e.selectedRowKeys;

        if (selectedRowKeys != null && selectedRowKeys.length > 0) {
            SelectedRows_CoreLocation = e.selectedRowsData;

            CoreLocationListGrid_dx_SelectedRowData(e.selectedRowsData);
        } else {
            SelectedRows_CoreLocation = [];

            CoreLocationID = null;
            CoreLocation_UpdateFooterDetail_dx(
                CoreLocationID,
                CoreLocation_ActionStatus,
                CoreLocation_AddDate,
                CoreLocation_AddBy,
                CoreLocation_ActionDate,
                CoreLocation_ActionBy,
                CoreLocation_EditDate,
                CoreLocation_EditBy
            );
        }
    }

    function CoreLocationListGrid_dx_SelectedRowData(selectedData = null) {
        const gridInstance = $("#CoreLocationListGrid").dxDataGrid("instance");
        if (selectedData == null && gridInstance) {
            selectedData = gridInstance.getSelectedRowsData();
        }

        if (selectedData != null && selectedData.length>0) {

            var values = selectedData[0]

            CoreLocationID = values["ID"];
            CoreLocation_EditDate = values["Edit_Date"];
            CoreLocation_AddDate = values["Add_Date"];
            CoreLocation_AddBy = values["Add_By"];
            CoreLocation_EditBy = values["Edit_By"];
            CoreLocation_ActionStatus = values["Action_Status"];
            CoreLocation_ActionDate = values["Action_Date"];
            CoreLocation_ActionBy = values["Action_By"];
            CoreLocation_UpdateFooterDetail_dx(CoreLocationID, CoreLocation_ActionStatus, CoreLocation_AddDate, CoreLocation_AddBy,
                CoreLocation_ActionDate, CoreLocation_ActionBy, CoreLocation_EditDate, CoreLocation_EditBy);
        }
    }

    function CoreLocationListGrid_dx_OnRowExpanding(e) {
        if (!Array.isArray(e.key)) {
            e.component.collapseRow(Expanded_Row_Key_CoreLocation_dx); // collapse previous row
            e.component.selectRows(e.key); // highlight current row
            Expanded_Row_Key_CoreLocation_dx = e.key; // update last expanded row key
            CoreLocation_IsDetailRowExpanded = true;

            var DetailGridID = e.element[0].id + e.key;
            var instance = $("div[id='" + DetailGridID + "']").dxDataGrid("instance");
            if (instance !== undefined) {
                instance.state(null); // reset detail grid state
            }
        }
        else {
            e.component.option("CustomProp.groupRowExpanded", true);
        }
    }

    function CoreLocationListGrid_dx_OnRowCollapsing(e) {
        if (!Array.isArray(e.key)) {
            var DetailGridID = e.element[0].id + e.key;
            sessionStorage.removeItem(DetailGridID + "_DetailGridState"); // clear saved state
            CoreLocation_IsDetailRowExpanded = false;

            e.component.selectRows(e.key); // reselect row

            var instance = $("div[id='" + DetailGridID + "']").dxDataGrid("instance");
            if (instance !== undefined) {
                instance.clearSelection(); // clear child grid selection
            }
        }
        else {
            e.component.option("CustomProp.groupRowCollapsed", true);
        }
    }

    function CoreLocation_UpdateFooterDetail_dx(CoreLocationID, CoreLocation_ActionStatus, CoreLocation_AddDate, CoreLocation_AddBy, CoreLocation_Action_Date, CoreLocation_Action_By, CoreLocation_EditDate, CoreLocation_EditBy) {

        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Lbl_ActionOn = "";
        var Lbl_ActionBy = "";

        Status = CoreLocation_ActionStatus;

        if (Status && Status.toUpperCase() == "LOCKED") {
            Lbl_Status = "Completed";
            Lbl_Status_Color = "blue";
            Pic_Status = "Fa Fa-Lock";
        }
        else {
            Pic_Status = "Fa Fa-UnLock";
            Lbl_Status = Status;
            if (Status && Status.toUpperCase() == "COMPLETED")
                Lbl_Status_Color = "green";
            else
                Lbl_Status_Color = "red";
        }

        if (CoreLocation_AddDate) {
            Lbl_Create = "Add On: " + FormatDateTime_ddMMyyyy_HHmmss(CoreLocation_AddDate) + ", By: " + CoreLocation_AddBy;
        }
        else {
            Lbl_Create = "Add On: " + "?, By: " + CoreLocation_AddBy;
        }
        if (CoreLocation_EditDate) {
            Lbl_Modify = "Edit On: " + FormatDateTime_ddMMyyyy_HHmmss(CoreLocation_EditDate) + ", By: " + CoreLocation_EditBy;
        }
        else {
            Lbl_Modify = "Edit On: " + "?, By: " + CoreLocation_EditBy;
        }
        if (CoreLocation_Action_Date) {
            Lbl_ActionOn = "UnLocked On: " + FormatDateTime_ddMMyyyy_HHmmss(CoreLocation_Action_Date);
        }
        else {
            Lbl_ActionOn = "UnLocked On: " + "?";
        }

        Lbl_ActionBy = "UnLocked By: " + CoreLocation_Action_By;

        $('#CoreLocationLbl_Status').text(Lbl_Status);
        $('#CoreLocationLbl_Create').text(Lbl_Create);
        $('#CoreLocation_Lbl_ActionOn').text(Lbl_ActionOn);
        $('#CoreLocation_Lbl_ActionBy').text(Lbl_ActionBy);
        $('#CoreLocationLbl_Modify').text(Lbl_Modify);
        if (Lbl_Status_Color != "") {
            $('#CoreLocationLbl_Status').css('color', Lbl_Status_Color);
        }
        if (Pic_Status != "") {
            $('#CoreLocation_LockICON').css('class', Pic_Status);
        }
    }

    function FormatDateTime_ddMMyyyy_HHmmss(date) {
            return moment(date).format("DD-MM-YYYY HH:mm:ss");
    }

    </script>

</div>
