<div class="CoreInfo_Profile_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @model ConnectOneMVC.Areas.Profile.Models.CoreInfo
    @{
        ViewBag.Title = "Index";
        Layout = null;
        var UserType = ViewBag.UserType;
        bool Core_AddRight = (bool)ViewData["Core_AddRight"];
        bool Core_UpdateRight = (bool)ViewData["Core_UpdateRight"];
        bool Core_ViewRight = (bool)ViewData["Core_ViewRight"];
        bool Core_DeleteRight = (bool)ViewData["Core_DeleteRight"];
        bool Core_ExportRight = (bool)ViewData["Core_ExportRight"];
        bool Core_ListRight = (bool)ViewData["Core_ListRight"];
        bool Profile_CoreSuperuser_auditor_Lock_UnLock = (bool)ViewData["Profile_CoreSuperuser_auditor_Lock_UnLock"];
        bool Core_Auto_Vouching_Mode = (bool)ViewData["Core_Auto_Vouching_Mode"];
    }
    @Html.HiddenFor(x => x.LastEditedOn)


    <div id="content" class="report_header_div_main">
        <div class="col-md-4 report_header_div">
            <label class="report_header_label">Core Information</label>
        </div>
        @*Buttons*@
        <div class="report_button_div">
            @(Html.DevExtreme().Switch().ID("CoreVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("Core_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
            @(Html.DevExtreme().Switch().ID("CoreViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("Core_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
            @(Html.DevExtreme().Button().ID("CoreModelDetailInfo").Text("Show Detail Info").Visible(true)
                                                                                     .OnClick(@<text>
                                                                                        function () {
                                                                                        OnCoreDetailInfoClick();
                                                                                        }
                                                                                    </text>))
            @(Html.DevExtreme().Button().ID("CoreModelNew").Text("New").Icon("add").Visible(false)
                                                                                       .OnClick(@<text>
                                                                                        function () {
                                                                                        OnCoreNewClick();
                                                                                        }
                                                                                    </text>))
            @(Html.DevExtreme().Button().ID("LocationModelNew").Text("New").Icon("add").Visible(false)
                                                                                      .OnClick(@<text>
                                                                                        function(){
                                                                                        OnCoreLocationNewClick();
                                                                                        }
                                                                                    </text>))
            @(Html.DevExtreme().Button().ID("LocationModelEdit").Text("Edit").Icon("edit").Visible(false)
                                                                                     .OnClick(@<text>
                                                                                        function(){
                                                                                        OnCoreLocationEditClick();
                                                                                        }
                                                                                    </text>))
            @(Html.DevExtreme().Button().ID("CoreModelEdit").Visible(true).Text("Edit").Icon("edit")
                                                                                      .OnClick(@<text>
                                                                                        function () {
                                                                                        OnCoreEditClick();
                                                                                        }
                                                                                    </text>))
            @(Html.DevExtreme().Button().ID("LocationModelDelete").Visible(false).Text("Delete")
                                                                                       .OnClick(@<text>
                                                                                        function()
                                                                                        {OnCoreLocationDeleteClick();}
                                                                                    </text>)
        )
            @(Html.DevExtreme().Button()
                                                                                                .ID("CoreModelDelete")
                                                                                                .Text("Delete")
                                                                                                .Visible(false)
                                                                                                .Icon("trash")
                                                                                                .OnClick(@<text>
                                                                                                    function () {
                                                                                                    OnCoreDeleteClick();
                                                                                                    }
                                                                                                </text>)
        )
            @(Html.DevExtreme().Button()
                                                                                                .ID("CoreModelView")
                                                                                                .Text("View")
                                                                                                .Visible(false)
                                                                                                .Disabled(true)
                                                                                                .Icon(IconID.ViewCustomers16x16devav)
                                                                                                .Icon("doc")
                                                                                                .OnClick(@<text>
                                                                                                    function () {
                                                                                                    OnCoreViewClick();
                                                                                                    }
                                                                                                </text>)
        )
            @(Html.DevExtreme().Button()
                                                                                                .ID("CoreModelListPreview")
                                                                                                .Text("Export")
                                                                                                .Icon("save")
                                                                                                .Width(80)
                                                                                                .OnClick(@<text>
                                                                                                    function () {
                                                                                                    OnCoreListPreviewClick();
                                                                                                    }
                                                                                                </text>)
        )
            @(Html.DevExtreme().Button()
                                                                                                .ID("CoreModelCLOSE")
                                                                                                .Text("Close")
                                                                                                .Icon("clear")
                                                                                                .OnClick("CoreProfileClose"))

            <br />
        </div>
    </div>
    <div class="">
        @(Html.DevExtreme().TabPanel()
                                                                                .ID("tabPanel").DeferRendering(false)
                                                                                .Items(items =>
                                                                                {
                                                                                    items.Add().Title("General").Template(@<text>
                                                                                        @GeneralView()
                                                                                    </text>);
                                                                                            items.Add().Title("Contact").Template(@<text>
                                                                                                @ContactView()
                                                                                            </text>);
                                                                                                    items.Add().Title("Institute A/c.").Template(@<text>
                                                                                                        @InstituteAccountView()
                                                                                                    </text>);
                                                                                                            items.Add().Title("Locations").Template(@<text>
                                                                                                                @LocationsView()
                                                                                                            </text>);
                                                                                                                    items.Add().Title("Detail Information").Template(@<text>
                                                                                                                        @DetailInformationView()
                                                                                                                    </text>);
                                                                                                                        })
                                                                                                                                                                                                                                                                                                                                                                                       // .OnItemClick("CoreInfoTabPanelItemClick")
                                                                                                                                                                                                                                                                                                                                                                                       // .OnItemRendered("CoreInfoTabPanelItemRendered")
                                                                                                                                                                                                                                                                                                                                                                                       .OnSelectionChanged("CoreInfoTabPanelSelectionChanged")
    )

        @helper GeneralView()
        {
            @Html.Partial("Frm_General_tab", Model);
        }
        @helper ContactView()
        {
            @Html.Partial("Frm_Contact_tab", Model);
        }
        @helper InstituteAccountView()
        {
            if (Model.CoreInfoInstitute == null)
            {
                Model.CoreInfoInstitute = new List<ConnectOneMVC.Areas.Profile.Models.CoreInfoInstitute>();
            }
            @Html.Partial("Frm_InstituteAccount_tab", Model.CoreInfoInstitute);
        }
        @helper LocationsView()
        {
            if (Model.CoreInfoLocation == null)
            {
                Model.CoreInfoLocation = new List<ConnectOneMVC.Areas.Profile.Models.CoreInfoLocation>();
            }
            @Html.Partial("Frm_Locations_tab", Model.CoreInfoLocation);
        }
        @helper DetailInformationView()
        {
            @Html.Partial("Frm_DetailInfo_tab");
        }
    </div>

    <div class="col-md-12">
        @*Add/Edit Popup*@


        @(Html.DevExtreme().Popup().CustomPopup().ID("popup_frm_Core_Window").Title("Connect One").OnShowing("PopupOnShowing").DragEnabled(true).MaxHeight(200).MaxWidth(650)
                                                                                                .ShowCloseButton(true)
                                                                                                .ContentTemplate(@<text>
                                                                                                    <div id="Coreresult">
                                                                                                    </div>
                                                                                                </text>))

    </div>

    <script>

    var _CoreInfoTabIndex = 0;
    var Profile_CoreEditright="@Core_UpdateRight"=="True"?true:false;
    var Profile_CoreNewright="@Core_AddRight"=="True"?true:false;
    var Profile_CoreDeleteright="@Core_DeleteRight"=="True"?true:false;
    var Profile_CoreViewright="@Core_ViewRight"=="True"?true:false;
    var Profile_CoreExportright="@Core_ExportRight"=="True"?true:false;
    var Profile_CoreSuperuser_auditor_Lock_UnLock = "@Profile_CoreSuperuser_auditor_Lock_UnLock" == "True" ? true : false;
    var CoreInstitut_IsVouchingMode = false;
    var CoreLocation_IsVouchingMode = false;
    var UserType_Core_InstitutePrf = "@UserType".toUpperCase();
    var UserType_Core_LocationPrf = "@UserType".toUpperCase();
    var Core_ViewMode = "Default";
    var Core_SetVouchingModeOn = "@Core_Auto_Vouching_Mode" == "True" ? true : false;



    function CoreProfileClose()
    {
        $(".TabPanalMenu-tabs .active span").click();
        
    }
    $(".TabPanalMenu-tabs .active span").on("click", function ()
    {
        $.ajax({
            type: 'GET',
            url: "/Profile/Core/SessionClear",
            cache: false
        });
        ClearLeftPane();
        CloseLeftPane();
        CloseRightPane();
        ClearAllReferences_CoreInfoProfile();
    });

        function ClearAllReferences_CoreInfoProfile() {

            _CoreInfoTabIndex = null;
            Profile_CoreEditrigh = null;
            Profile_CoreNewrigh = null;
            Profile_CoreDeleterigh = null;
            Profile_CoreViewrigh = null;
            Profile_CoreExportrigh = null;
            Profile_CoreSuperuser_auditor_Lock_UnLock = null;
            CoreInstitut_IsVouchingMode = null;
            CoreLocation_IsVouchingMode = null;
            UserType_Core_InstitutePrf = null;
            UserType_Core_LocationPrf = null;
            Core_ViewMode = null;
            Core_SetVouchingModeOn = null;
            CoreLoc_ColumnToBeShownIndex = null;
            CoreLoc_ColumnToBeHidddenIndex = null;
            CoreInst_ColumnToBeShownIndex = null;
            CoreInst_ColumnToBeHidddenIndex = null;
            CoreLocationID = null;
            CoreLocation_EditDate = null;
            CoreLocation_AddDate = null;
            CoreLocation_AddBy = null;
            CoreLocation_EditBy = null;
            CoreLocation_ActionStatus = null;
            CoreLocation_ActionDate = null;
            CoreLocation_ActionBy = null;
            CoreLocation_YearId = null;
            LB_ID = null;
            SP_ID = null;
            IsCoreLocationSucessPopup = null;
            IsCoreLocationViewPopup = null;
            Profile_CoreEditrigh = null;
            Profile_CoreNewrigh = null;
            Profile_CoreDeleterigh = null;
            Profile_CoreViewrigh = null;
            Profile_CoreExportrigh = null;
            Profile_CoreSuperuser_auditor_Lock_UnLock = null;
            IsCoreInstituteSucessPopup = null;
            IsCoreInstituteViewPopup = null;
            Profile_CoreEditrigh = null;
            Profile_CoreNewrigh = null;
            Profile_CoreDeleterigh = null;
            Profile_CoreViewrigh = null;
            Profile_CoreExportrigh = null;
            Profile_CoreSuperuser_auditor_Lock_UnLock = null;
            
            ClearAllReferences("CoreInfo_Profile_ClearReferences");

        }
    function Core_VouchingSwitch_ValueChange(e)
    {
        CoreInstitut_IsVouchingMode = e.value;
        CoreLocation_IsVouchingMode = e.value;
        CoreInstituteListGrid_PerformCallBack();
        CoreLocationListGrid_PerformCallBack();
    }
    function CoreInstituteListGrid_PerformCallBack()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.CoreInstituteListGrid !== 'undefined')
            {
                if (typeof window.CoreInstituteListGrid.PerformCallback !== 'undefined')
                {
                    if (typeof CoreInstituteListGrid.PerformCallback == 'function')
                    {
                        GridViewDoCallback(CoreInstituteListGrid, function () { CoreInstituteListGrid.PerformCallback(); });
                    }
                    else
                    {
                        alert("PerformCallback is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        CoreInstituteListGrid_PerformCallBack();
                        HideLoader();
                    }, Timeout100);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else
        {
            alert('window undefined')
        }
    }
    function CoreLocationListGrid_PerformCallBack()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.CoreLocationListGrid !== 'undefined')
            {
                if (typeof window.CoreLocationListGrid.PerformCallback !== 'undefined')
                {
                    if (typeof CoreLocationListGrid.PerformCallback == 'function')
                    {
                        GridViewDoCallback(CoreLocationListGrid, function () { CoreLocationListGrid.PerformCallback(); });
                    }
                    else
                    {
                        alert("PerformCallback is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        CoreLocationListGrid_PerformCallBack();
                        HideLoader();
                    }, Timeout100);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else
        {
            alert('window undefined')
        }
    }
    function Core_ViewSwitch_ValueChange(e)
    {
        Core_ViewMode = e.value == false ? "Default" : "Compact";
        if (Core_SetVouchingModeOn == true)
        {
            Core_SetVouchingModeOn = false;
            $("#CoreVouchingModeSwitch").dxSwitch("instance").option("value", true);
        }
        else
        {
            GridViewDoCallback(CoreInstituteListGrid, function () { CoreInstituteListGrid.CollapseAllDetailRows();});
            GridViewDoCallback(CoreLocationListGrid, function () { CoreLocationListGrid.CollapseAllDetailRows(); });
        }
    }
    function CoreGrid_BeginCallBack(s, e)
    {
        e.customArgs["command"] = e.command;
        e.customArgs["VouchingMode"] = CoreInstitut_IsVouchingMode;
        e.customArgs["ViewMode"] = Core_ViewMode;
        e.customArgs["ColumnToBeShownIndex"] = CoreLoc_ColumnToBeShownIndex;
        e.customArgs["ColumnToBeHidddenIndex"] = CoreLoc_ColumnToBeHidddenIndex;
    }
    function CoreInstituteGrid_BeginCallBack(s, e)
    {
        e.customArgs["command"] = e.command;
        e.customArgs["VouchingMode"] = CoreInstitut_IsVouchingMode;
        e.customArgs["ViewMode"] = Core_ViewMode;
        e.customArgs["ColumnToBeShownIndex"] = CoreInst_ColumnToBeShownIndex;
        e.customArgs["ColumnToBeHidddenIndex"] = CoreInst_ColumnToBeHidddenIndex;
    }

    function OnCore_InstituteCellClick(event, cell,col, row)
    {
        if (UserType_Core_InstitutePrf == "AUDITOR" || UserType_Core_InstitutePrf == "SUPERUSER")
        {
            if (event.button == 0)
            {
                if (cell.style.backgroundColor.length > 0)
                {
                    cell.style.backgroundColor = "";
                }
                else
                {
                    cell.style.backgroundColor = 'skyblue';
                }
            }
        }
    }
    function OnCore_LocationCellClick(event, cell,col, row)
    {
        if (UserType_Core_LocationPrf == "AUDITOR" || UserType_Core_LocationPrf == "SUPERUSER")
        {
            if (event.button == 0)
            {
                if (cell.style.backgroundColor.length > 0)
                {
                    cell.style.backgroundColor = "";
                }
                else
                {
                    cell.style.backgroundColor = 'skyblue';
                }
            }
        }
    }

    $(document).ready(function () {
        HideLoader();
        var tabpanel = $("#tabPanel").dxTabPanel("instance");
        tabpanel.option("items[4].visible", false);
        if (Profile_CoreNewright == false)
        {
            $("#CoreModelNew").hide();
            $("#LocationModelNew").hide();
        }
        if (Profile_CoreEditright == false)
        {
            $("#CoreModelEdit").hide();
            $("#LocationModelEdit").hide();
        }
        if (Profile_CoreViewright == false)
        {
            $("#CoreModelView").hide();
        }
        if (Profile_CoreDeleteright == false)
        {
            $("#CoreModelDelete").hide();
            $("#LocationModelDelete").hide();
        }
        if (Profile_CoreExportright == false)
        {
            $("#CoreModelListPreview").hide();
        }
        HideUnreleasedFunctionality('Core_Info');
        $(".CoreLocationListGrid_PreviewRow").hide();
        GetSessionStorage("CoreLocationListGrid");
        $(".CoreInstituteListGrid_PreviewRow").hide();
        GetSessionStorage("CoreInstituteListGrid");
        if (Core_SetVouchingModeOn == true)
        {
            $("#CoreViewModeSwitch").dxSwitch("instance").option("value", true);
        }
    });
    function CoreInfoTabPanelSelectionChanged(e) {
        
        if (e.addedItems[0].title == "General") {
            $("#CoreModelEdit").dxButton({
            visible: true
            });
            $("#coreNewLocationSave,#LocationModelNew,#LocationModelEdit, #CoreModelDelete,#LocationModelDelete, #CoreModelListPreview").dxButton({
            visible: false
            });
        }
        else if (e.addedItems[0].title == "Contact") {
            $("#coreNewLocationSave,#LocationModelNew,#LocationModelEdit,#CoreModelEdit, #CoreModelDelete, #CoreModelListPreview").dxButton({
            visible: false
            });
        }
        else if (e.addedItems[0].title == "Institute A/c.") {
            _CoreInfoTabIndex = 2;
            $("#CoreModelListPreview").dxButton({
            visible: true
            });
            $("#coreNewLocationSave,#LocationModelNew,#LocationModelEdit,#CoreModelDelete,#LocationModelDelete,#CoreModelEdit, #CoreModelDelete").dxButton({
            visible: false
            });
        }
        else if (e.addedItems[0].title == "Locations") {
            _CoreInfoTabIndex = 3;
            $("#LocationModelEdit,#LocationModelNew,#LocationModelDelete, #CoreModelListPreview").dxButton({ visible: true});
            $("#CoreModelNew,#CoreModelEdit,#CoreModelDelete").dxButton({ visible: false })
        }

    }
    function OnInitCoreInstitute(s,e) {
        //CoreInstituteListGrid.Refresh();
        AdjustInsttSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            AdjustInsttSize();
        });
        GridViewDoCallback(CoreInstituteListGrid, function () { CoreInstituteListGrid.PerformCallback(); });
    }
    function CoreLocationOnGridFocusedRowChanged(s, e) {
        var key = s.GetRowKey(s.GetFocusedRowIndex());
        CoreLocationListGrid.GetValuesOnCustomCallback({ key: key }, CoreLocationOnGetRowValues);
    }
        function OnCoreLocationNewClick() {
        if(!Profile_CoreNewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsCoreLocationViewPopup = false;
        $("#popup_frm_CoreLocation_Window").dxPopup("show");
        $("#popup_frm_CoreLocation_Window").dxPopup("instance").option("title", "New ~ CoreLocation");
        $("#CoreLocationresult").html('');
        ShowLoader();
        $("#CoreLocationresult").load("@Url.Action("frm_CoreLocation_window", "CoreLocation", new { @area = "Profile" })?ActionMethod=New", function () {
            HideLoader();

        });
    }

    var CoreLoc_ColumnToBeShownIndex = "";
    var CoreLoc_ColumnToBeHidddenIndex = "";
    function CoreLocationListGrid_EndCallBack(s, e)
    {
        CoreLoc_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
        CoreLoc_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex;
       $(".CoreLocationListGrid_PreviewRow").hide();
        GetSessionStorage("CoreLocationListGrid");

    }
    var CoreInst_ColumnToBeShownIndex = "";
    var CoreInst_ColumnToBeHidddenIndex = "";
    function CoreInstituteListGrid_EndCallBack(s, e)
    {
        CoreInst_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
        CoreInst_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex;
         $(".CoreInstituteListGrid_PreviewRow").hide();
        GetSessionStorage("CoreInstituteListGrid");
    }
    function OnInitCoreLocation(s,e) {
        //CoreLocationListGrid.Refresh();
        AdjustLocationSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            AdjustLocationSize();
        });
        GridViewDoCallback(CoreLocationListGrid, function () { CoreLocationListGrid.PerformCallback(); });
    }
    function OnCoreDetailInfoClick()
    {
        var tabpanel = $("#tabPanel").dxTabPanel("instance");
        var buttonText = $("#CoreModelDetailInfo").dxButton("instance").option("text");
        if (buttonText == "Show Detail Info") {
            $("#CoreModelDetailInfo").dxButton("instance").option("text", "Hide Detail Info");
            $.ajax({
                type: 'GET',
                url: "/Profile/DetailInfo/ContactInformation",
                success: function (data) {
                    tabpanel.option("items[4].visible", true);
                    tabpanel.option("selectedIndex", 4);
                    $("#Detail_info_content").html(data);
                }
            });
        }
        else
        {
            $("#CoreModelDetailInfo").dxButton("instance").option("text", "Show Detail Info");
            tabpanel.option("items[4].visible", false);
        }

    }
    function OnCoreNewClick() {
        if (!Profile_CoreNewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsViewPopup = false;
        $("#popup_frm_Core_Window").dxPopup("show");
        $("#popup_frm_Core_Window").dxPopup("instance").option("title", "New ~ Core");
        $("#Coreresult").html('');
        ShowLoader();
        $("#Coreresult").load("@Url.Action("frm_Core_window", "Core", new { @area = "Profile" })?ActionMethod=New", function () {
            HideLoader();
        });
    }

    function OnCoreEditClick() {
        if (!Profile_CoreEditright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsViewPopup = false;
        CoreID = "";
        Core_EditDate = localStorage.getItem["EditedDate"];
        if (CoreID == 'undefined' || CoreID == undefined) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        $.ajax({
        type: 'GET',
            url: "/Profile/Core/DataNavigation",
            data: { ActionMethod: "Edit", id: CoreID, Edit_Date: Core_EditDate },
            cache: false,
            success: function (Core_Edit_ButtonClick_result) {
                if (Core_Edit_ButtonClick_result.result == "true" || Core_Edit_ButtonClick_result.result == true) {

                    $("#popup_frm_Core_Window").dxPopup("show");
                    $("#popup_frm_Core_Window").dxPopup("instance").option("title", "Edit ~ Core");
                    $("#Coreresult").html(''); //CoreInstituteListGrid.Refresh()
                    ShowLoader();
                    $("#Coreresult").load("@Url.Action("frm_Core_window", "Core", new { @area = "Profile" })?ActionMethod=" + "Edit" + "&ID=" + CoreID + "&EditedOn=" + Core_EditDate, function () {
                        HideLoader();
                    });
                }
                else if (Core_Edit_ButtonClick_result.result == "NoEditRights") {
                    $('#CoreModelEdit').hide();
                    DevExpress.ui.dialog.alert(Core_Edit_ButtonClick_result.Message, 'Warning!');
                    HideLoader();
                }
                else {
                    DevExpress.ui.dialog.alert(Core_Edit_ButtonClick_result.Message);
                    CoreListGrid.Refresh();
                }
            }
        });
    }

    function OnCoreViewClick() {
        if (!Profile_CoreViewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        if (CoreID == 'undefined' || CoreID == undefined) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        $.ajax({
        type: 'GET',
            url: "/Profile/Core/DataNavigation",
            data: { ActionMethod: "View", id: CoreID, Edit_Date: Core_EditDate.toISOString() },
            cache: false,
            success: function (Core_View_ButtonClick_result) {
                if (Core_View_ButtonClick_result.result == "true" || Core_View_ButtonClick_result.result == true) {
                    IsViewPopup = true;
                    $("#popup_frm_Core_Window").dxPopup("show");
                    $("#popup_frm_Core_Window").dxPopup("instance").option("title", "View ~ Core");
                    $("#Coreresult").html('');
                    ShowLoader();
                    $("#Coreresult").load("@Url.Action("frm_Core_window", "Core", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + CoreID + "&EditedOn=" + Core_EditDate.toISOString(), function () {
                        HideLoader();
                    });
                }
                else if (Core_View_ButtonClick_result.result == "NoViewRights") {
                    $('#CoreModelView').hide();
                    DevExpress.ui.dialog.alert(Core_View_ButtonClick_result.Message, 'Warning!');
                    HideLoader();
                }
                else {
                    DevExpress.ui.dialog.alert(Core_View_ButtonClick_result.Message);
                    CoreListGrid.Refresh();
                }
            }
        });
    }

    function OnCoreDeleteClick() {
        if (!Profile_CoreDeleteright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsViewPopup = true;
        if (CoreID == 'undefined' || CoreID == undefined) { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $("#popup_frm_Core_Window_Close").dxPopup("hide");

                $.ajax({
                type: 'GET',
                    url: "/Profile/Core/DataNavigation",
                    data: { ActionMethod: "Delete", id: CoreID, Edit_Date: Core_EditDate.toISOString() },
                    cache: false,
                    success: function (Core_Delete_ButtonClick_result) {
                        if (Core_Delete_ButtonClick_result.result == "true" || Core_Delete_ButtonClick_result.result == true) {
                            $("#popup_frm_Core_Window").dxPopup("show");
                            $("#popup_frm_Core_Window").dxPopup("instance").option("title", "Delete ~ Core");
                            ShowLoader();
                            $("#Coreresult").load("@Url.Action("frm_Core_window", "Core", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + CoreID + "&EditedOn=" + Core_EditDate.toISOString(), function () {
                                HideLoader();
                            });
                        }
                        else if (Core_Delete_ButtonClick_result.result == "NoDeleteRights") {
                            $('#CoreModelDelete').hide();
                            DevExpress.ui.dialog.alert(Core_Delete_ButtonClick_result.Message, 'Warning!');
                            HideLoader();
                        }
                        else {
                            DevExpress.ui.dialog.alert(Core_Delete_ButtonClick_result.Message);
                            CoreListGrid.Refresh();
                        }
                    }
                });
            }
        });
    }

    function OnCoreListPreviewClick() {
        if (!Profile_CoreExportright)
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }
        if (_CoreInfoTabIndex == 2) // Institute
        {
            OnCoreInstituteListPreviewClick();
        }
        else if (_CoreInfoTabIndex == 3) // Location
        {
            OnCoreLocationListPreviewClick();
        }
    }

        function OnCoreLocationEditClick() {
        if(!Profile_CoreEditright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        if (CoreLocationID == 'undefined' || CoreLocationID == undefined || CoreLocationID == "") { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Profile/CoreLocation/DataNavigation",
            data: { ActionMethod: "Edit", id: CoreLocationID, YearID: CoreLocation_YearId, ActionStatus: CoreLocation_ActionStatus, EditDate: CoreLocation_EditDate },
            cache: false,
            async: true,
            success: function (CoreLocation_Edit_ButtonClick_result) {
                if (CoreLocation_Edit_ButtonClick_result.result == "true" || CoreLocation_Edit_ButtonClick_result.result == true) {
                    $("#popup_frm_CoreLocation_Window").dxPopup("show");
                    $("#CoreLocationresult").html('');
                    ShowLoader();
                    $("#CoreLocationresult").load('@Url.Action("frm_CoreLocation_window", "CoreLocation", new { @area = "Profile" })?ActionMethod=Edit&ID=' + CoreLocationID + '&EditedOn=' + encodeURIComponent(CoreLocation_EditDate), function () {
                        HideLoader();
                    });
                }
                else if (CoreLocation_Edit_ButtonClick_result.result == "NoEditRights")
                {
                    $("#LocationModelEdit").hide();
                    DevExpress.ui.dialog.alert(CoreLocation_Edit_ButtonClick_result.Message, "Warning");
                }
                else
                {
                    DevExpress.ui.dialog.alert(CoreLocation_Edit_ButtonClick_result.Message);
                    CoreLocationListGrid.Refresh();
                    HideLoader();
                }
            }
        });
    }
    function OnCoreLocationDeleteClick()
    {
        ShowLoader();
        if(!Profile_CoreDeleteright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsCoreLocationViewPopup = false;
        if (CoreLocationID == 'undefined' || CoreLocationID == undefined || CoreLocationID == "") { DevExpress.ui.dialog.alert('Please Select one row', 'Alert '); return; }

        var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
        result.done(function (dialogResult)
        {
            if (dialogResult)
            {

                $("#popup_frm_CoreLocation_Window_Close").dxPopup("hide");

                $.ajax({
                    type: 'GET',
                    url: "/Profile/CoreLocation/DataNavigation",
                    data: { ActionMethod: "Delete", id: CoreLocationID, ActionStatus: CoreLocation_ActionStatus, EditDate: CoreLocation_EditDate, LocationName: "", OtherDetails: "", RAD_PropertyService: "", PropertyDDL: "", ServiceDDL: "" },
                    cache: false,
                    success: function (CoreLocation_Delete_ButtonClick_result)
                    {

                        if (CoreLocation_Delete_ButtonClick_result.result == "true" || CoreLocation_Delete_ButtonClick_result.result == true)
                        {
                            $("#popup_frm_CoreLocation_Window").dxPopup("show");
                            $(".dx-item-content.dx-toolbar-item-content:first").find("div").html('Delete ~ CoreLocation');
                            ShowLoader();
                            $("#CoreLocationresult").load("@Url.Action("frm_CoreLocation_window", "CoreLocation", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + CoreLocationID + "&EditedOn=" + encodeURIComponent(CoreLocation_EditDate), function ()
                            {
                                HideLoader();
                            });
                        }
                        else if (CoreLocation_Delete_ButtonClick_result.result == "NoDeleteRights") {
                            $("#LocationModelDelete").hide();
                            DevExpress.ui.dialog.alert(CoreLocation_Delete_ButtonClick_result.Message, "Warning");
                            HideLoader();
                        }
                        else {
                            DevExpress.ui.dialog.alert(CoreLocation_Delete_ButtonClick_result.Message);
                            CoreLocationListGrid.Refresh();
                            HideLoader();
                        }
                    }
                });
            }
            else
            {
                HideLoader();
            }
        });
    }


    function ReloadGeneralInfo() {
        $.ajax({
        type: 'GET',
            url: "/Profile/Core/Frm_Core_Info",
            data: {},
            cache: false,
            success: function (Core_Edit_ButtonClick_result) {
                if (Core_Edit_ButtonClick_result.result == "true" || Core_Edit_ButtonClick_result.result == true) {
                    HideLoader()
                }
            }
        });

    }
    </script>
</div>