@model ConnectOneMVC.Areas.Profile.Models.CoreInfo
<div class="container-fluid" style="background-color:#F3FBFE;padding-bottom:20px">
    <br />
    <div class="col-md-5">
        <div class="row">
                <b>Basic Information</b>
                <hr />
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-6 prs">Name</span>
                    <span class="control-label col-md-9 col-xs-6 pls">:  @Model.xCen_Name</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-6 prs">Certificate</span>
                    <span class="control-label col-md-9 col-xs-6 pls">:  @Model.xCen_Pad_No</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-6 prs">UID No.</span>
                    <span class="control-label col-md-9 col-xs-6 pls">:  @Model.xCen_UID</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-6 prs">Sub-Zone</span>
                    <span class="control-label col-md-9 col-xs-6 pls">:  @Model.xCen_SubZone</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-6 prs">Zone</span>
                    <span class="control-label col-md-9 col-xs-6 pls">:  @Model.xCen_Zone</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-6 prs">Centre Start Date</span>
                    <span class="control-label col-md-9 col-xs-6 pls">:  @Model.xCen_DOS</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-6 prs">Account Type</span>
                    <span class="control-label col-md-9 col-xs-6 pls">:  @Model.xCen_AccType</span>
                </div>
        </div>
        <br />
        <div class="row">
                <b>Account Maintained By</b>
                <hr />
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-6 prs">Incharge Name</span>
                    <span class="control-label col-md-9 col-xs-6 pls">:  @Model.xCen_Incharge</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-6 prs">Incharge PAD No.</span>
                    <span class="control-label col-md-9 col-xs-6 pls">:  @Model.xCen_In_Padno</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-6 prs">First responsible person for A/c</span>
                    <span class="control-label col-md-9 col-xs-6 pls">:  @Model.xCen_Res_Person</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-6 prs">Mob. No.</span>
                    <span class="control-label col-md-9 col-xs-6 pls">:  @Model.xCen_Res_TelNo</span>
                </div>
        </div>
    </div>
    <div class="col-md-6" style="overflow: auto;">
        @{
            if (Model.ImgIncharge != null)
            {
                var base64 = Convert.ToBase64String(Model.ImgIncharge);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgSrc" />
            }
        }
    </div>
</div>
