@model ConnectOneMVC.Areas.Profile.Models.CoreInfo

<div class="container-fluid" style="background-color:#F3FBFE;padding-bottom:20px">
    <br />
    <div class="col-md-5">
        <div class="row">
                <b>Postal Address</b>
                <hr />
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-5 prs">Building Name</span>
                    <span class="control-label col-md-9 col-xs-7 pls">:  @Model.xCen_B_Name </span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-5 prs">Full Address</span>
                    <span class="control-label col-md-9 col-xs-7 pls">:  @Model.xCen_Add1 <br />@Model.xCen_Add2 <br />@Model.xCen_Add3<br />@Model.xCen_Add4</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-5 prs">City</span>
                    <span class="control-label col-md-9 col-xs-7 pls">:  @Model.xCen_City</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-5 prs">District</span>
                    <span class="control-label col-md-9 col-xs-7 pls">:  @Model.xCen_District</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-5 prs">Pincode</span>
                    <span class="control-label col-md-9 col-xs-7 pls">:  @Model.xCen_Pin</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-5 prs">State</span>
                    <span class="control-label col-md-9 col-xs-7 pls">:  @Model.xCen_State</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-5 prs">Country</span>
                    <span class="control-label col-md-9 col-xs-7 pls">:  @Model.xCen_Country</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-5 prs">Tel. No.</span>
                    <span class="control-label col-md-9 col-xs-7 pls">:  @Model.xCen_Tel</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-5 prs">Fax No.</span>
                    <span class="control-label col-md-9 col-xs-7 pls">:  @Model.xCen_Fax</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-5 prs">Mobile No.</span>
                    <span class="control-label col-md-9 col-xs-7 pls">:  @Model.xCen_Mob</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-5 prs">Email Id</span>
                    <span class="control-label col-md-9 col-xs-7 pls">:  @Model.xCen_Email</span>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 col-xs-5 prs">Website</span>
                    <span class="control-label col-md-9 col-xs-7 pls">:  @Model.xCen_Website</span>
                </div>
        </div>
    </div>
    <div class="col-md-6" style="overflow:auto">
        @{
            if (Model.ImgCentre != null)
            {
                var base64 = Convert.ToBase64String(Model.ImgCentre);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgSrc" style="max-height: 600px;" />
            }

        }
    </div>
</div>