@{ Layout = ""; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Spiritual Empowerment for Kindness and Compassion</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&amp;display=swap" rel="stylesheet">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/pledge.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <style>
        .ck-button {
            margin-top:10px;
            background-color:#EFEFEF;
            border-radius:4px;
            border:1px solid #D0D0D0;
            overflow:auto;
            width: max-content;
        }

        .ck-button:hover {
            background:#ddd;
        }
        .pld-grid {font-size: 14px}
        .pld-grid label{margin: 0 15px 5px 0}

        .pld-grid .ck-button label {
            float:left;
            width:4.0em;
            margin: 0;
            cursor: pointer;
            position: relative;
            transition: .4s all
        }

        .ck-button label b {
            text-align:center;
            padding:6px 0px 3px;
            display:block;
        }

        .ck-button label input {
            position:absolute;
            top:-20px;
        }

        .ck-button input:checked + b {
            color:#fff;
            padding: 6px 3px 3px 20px;
            transition: .3s all
        }
        .ck-button input[value="yes"]:checked + b{background-color:#0a7a4c;}
        .ck-button input[value="no"]:checked + b{background-color:#cb3204;}
        .ck-button input[value="yes"]:checked + b:before{
            content: "✓";
            position:absolute;
            left: 10px;
        }
        .ck-button input[value="no"]:checked + b:before{
            content: "✗";
            position:absolute;
            left: 10px;
        }
        .btn-submit{min-width: 300px; margin: 0 auto 30px; font-size: 20px; font-weight: bold; float: none; display: inherit; padding: 12px;}
        footer { padding: 12px 10px 5px; line-height: 23px; font-size: 13px; }

        @*@media (max-width: 768px){
            .pld-grid img {margin: -10px 0 10px; width: 100px; height: 100px}
            .ck-button{margin: 5px auto 0}
            .btn-submit{margin: 10px auto 10px;}*@
        }
    </style>
    <style>
        .pld-head h2, .pld-head h3 {
            font-size: 22px
        }

        .pld-img {
            padding: 10px
        }

        .pld-head {
            display: block;
            margin-top: -100px;
        }

        .pld-icn img {
            width: 120px
        }

        @@media (max-width: 620px) {
            body {
                width: 100%;
                display: table-row-group;
            }

            table {
                font-size: 35px;
                line-height: 50px;
                padding: 20px;
                display: block;
                text-align: center
            }

            .pld-head h2, .pld-head h3 {
                font-size: 42px
            }

            .pld-img {
                width: 50%;
                display: inline-block;
                padding: 20px
            }

            .pld-head {
                margin-top: 50px;
                display: block;
                width: 166%;
            }

            .stackhead td:empty {
                display: none
            }

            .pld-icn img {
                width: 300px
            }
        }
    </style>
</head>
<body style="font-family: Merriweather, serif">


    <table align="center" border="0" cellpadding="0" cellspacing="0" class="stackhead" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #0d273b; width: 800px;" width="800">
        <tbody>
            <tr>
                <td class="pld-icn" style="vertical-align: middle;"><img align="left" src="http://accountserver.bkinfo.in/App_Themes/Images/logo.png"></td>
                <td></td>
                <td class="pld-icn" style="vertical-align: middle;"><img align="right" src="http://accountserver.bkinfo.in/App_Themes/Images/world.png"></td>
            </tr>

            <tr>
                <td></td>
                <td class="pld-head" style="font-weight: 400; text-align: left; vertical-align: middle; border:0; text-align: center" width="100%">
                    <h2><b>Spiritual Empowerment for Kindness and Compassion Year 2022</b> </h2>
                    <h3 style="margin-top: 15px">करुणा और दया का एक संकल्प </h3>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 800px; table-layout: fixed; margin: 20px auto" width="800">
        <tbody>
            <tr>
                <td class="pld-img"><img style="width: 100%" src="http://accountserver.bkinfo.in/App_Themes/Images/pledge1.png"></td>
                <td class="pld-img"><img style="width: 100%" src="http://accountserver.bkinfo.in/App_Themes/Images/pledge2.png"></td>
                <td class="pld-img"><img style="width: 100%" src="http://accountserver.bkinfo.in/App_Themes/Images/pledge3.png"></td>
                <td class="pld-img"><img style="width: 100%" src="http://accountserver.bkinfo.in/App_Themes/Images/pledge4.png"></td>
                <td class="pld-img"><img style="width: 100%" src="http://accountserver.bkinfo.in/App_Themes/Images/pledge5.png"></td>
                <td class="pld-img"><img style="width: 100%" src="http://accountserver.bkinfo.in/App_Themes/Images/pledge6.png"></td>
            </tr>
        </tbody>
    </table>

    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 800px; table-layout: fixed" width="800">
        <tbody>
            <tr>
                <td style="text-align:center;">
                    <b>Thanks  @Model.ParticipantName !!</b>
                    <div id="UserResponse_Yes" style="display:none">
                        We are glad that you realise the power of your thoughts and are actively participating in this transformation, imbibing the concept of the world being one family. We hope you unravel beautiful experiences along the journey as well as be instrumental in empowering other souls
                    </div>
                    <div id="UserResponse_No" style="display:none">
                        Hope to See you practising your pledges this week !!
                    </div>
                    <br />
                    <div id="ResponseSaveSuccess" style="display:none">
                        Your response for this week hase been recorded successfully !!
                    </div>
                    <div id="ResponseSaveFailure" style="display:none">
                        Due to some server error your response could not be saved currently. Please try again later. Sorry for the inconveneience !!
                    </div>
                    <br />
                    <b>Om Shanti.</b>
                    @*<b>Om Shanti.</b>
                        <b>Thanks  @Model.ParticipantName !!</b>
                        <br>
                        <br>
                        We are glad that you realise the power of your thoughts and are actively participating in this transformation, imbibing the concept of the world being one family. We hope you unravel beautiful experiences along the journey as well as be instrumental in empowering other souls,
                        <br>
                        <br>
                        @Model.SubmitResponseMessage
                        <br>
                        <br>
                        <b>Om Shanti.</b>*@
                </td>
            </tr>
        </tbody>
    </table>



    <hr>


    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #0d273b; background:#fff; width: 800px; table-layout: fixed; text-align: center;" width="800">
        <tbody>
            <tr>
                <td>
                    📞 <a href="tel:9650692106" style="color: #0d273b">9650692106</a> / <a style="color: #0d273b" href="tel:01242667000">0124-2667000</a> &nbsp;
                    <br> 📧 <a style="color: #0d273b" href="mailto:karunasankalp@brahmakumaris.com">karunasankalp@brahmakumaris.com</a>
                    <br>
                    <p><b>Organised by:</b> <a style="color: #0d273b" href="https://brahmakumaris.com" target="_blank">Prajapita Brahma Kumaris Ishwariya Vishwa Vidyalaya, Mt. Abu Rajasthan</a></p>
                </td>
            </tr>
        </tbody>
    </table>

    <table align="center" hidden="hidden" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #0d273b; background:#fff; width: 800px; table-layout: fixed; text-align: center;" width="800">
        <tbody>
            <tr>
                <td>
                    <script>
                        $(document).ready(function () {
                            if ("@Model.UserResponse".toLowerCase() == "yes") {
                                document.getElementById("UserResponse_Yes").style.display = "block";
                            }
                                                        if ("@Model.UserResponse".toLowerCase() == "no") {
                                document.getElementById("UserResponse_No").style.display = "block";
                                                        }
                            var ExceptionMessage = "@Model.ExceptionMessage";
                                                        if (ExceptionMessage.length == 0) {
                                                            document.getElementById("ResponseSaveSuccess").style.display = "block";
                                                        }
                                                        if (ExceptionMessage.length > 0) {
                                                            document.getElementById("ResponseSaveFailure").style.display = "block";
                            }


                        });

                    </script>
                </td>
            </tr>
        </tbody>
    </table>



</body>


</html>


