<div class="Accom_Registr_Export_ClearReferences">
 @using DevExtreme.AspNet.Mvc;
 @using DevExpress.XtraReports.UI;
 <div>
        @*@(Html.DevExtreme().Button()
                    .ID("Accom_Registr_ExportGridDatapdf")
                    .Text("Export to PDF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("Accom_Reg_ExportPDF")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("Accom_Registr_ExportGridDataxls")
                    .Text("Export to XLS")
                    //.Icon("fa-file-excel-o")
                    .OnClick("Accom_Reg_ExportXLS")
                    .Visible(true)
                    .Width(120)
        )<br />
            @(Html.DevExtreme().Button()
                    .ID("Accom_Registr_ExportGridDataxlsx")
                    .Text("Export to XLSX")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("Accom_Reg_ExportXLSX")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("Accom_Registr_ExportGridDatadocx")
                    .Text("Export to DOCX")
                    //.Icon("export_exporttodocx_16x16office2013")
                    .OnClick("Accom_Reg_ExportDOCX")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("Accom_Registr_ExportGridDatartf")
                    .Text("Export to RTF")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("Accom_Reg_ExportRTF")
                    .Visible(true)
                    .Width(120)
        )<br />

            @(Html.DevExtreme().Button()
                    .ID("Accom_Registr_ExportGridDatacsv")
                    .Text("Export to CSV")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("Accom_Reg_ExportCSV")
                    .Visible(true)
                    .Width(120)
        )*@
        @(Html.DevExtreme().Button()
                    .ID("Accom_Registr_dx_ExportGridDataxlsx")
                    .Text("Export to XLSX")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    .OnClick("Accom_Reg_ExportXLSX_dx")
                    .Visible(true)
                    .Width(120)
        )

 </div>
 <script>
        //function Accom_Reg_ExportPDF() {
        //    AccommodationRegister_InfoGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        //    $("#Accommodation_Register_modal").dxPopup("hide");
        //}
        //function Accom_Reg_ExportXLS() {
        //    AccommodationRegister_InfoGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
        //    $("#Accommodation_Register_modal").dxPopup("hide");
        //}
        //function Accom_Reg_ExportXLSX() {
        //    AccommodationRegister_InfoGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        //    $("#Accommodation_Register_modal").dxPopup("hide");
        //}
        //function Accom_Reg_ExportCSV() {
        //    AccommodationRegister_InfoGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
        //    $("#Accommodation_Register_modal").dxPopup("hide");
        //}
        //function Accom_Reg_ExportDOCX() {
        //    AccommodationRegister_InfoGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
        //    $("#Accommodation_Register_modal").dxPopup("hide");
        //}
        //function Accom_Reg_ExportRTF() {
        //    AccommodationRegister_InfoGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        //    $("#Accommodation_Register_modal").dxPopup("hide");
        //}
     function Accom_Reg_ExportXLSX_dx() {
         const workbook = new ExcelJS.Workbook();
         const worksheet = workbook.addWorksheet('Sheet');

         DevExpress.excelExporter.exportDataGrid({
             worksheet: worksheet,
             component: $("#AccommodationRegister_InfoGrid_dx").dxDataGrid("instance"),
             autoFilterEnabled: true,
             customizeCell({ excelCell, gridCell }) {
                 if (gridCell.rowType === 'header') {
                     const columnDataField = gridCell.column.dataField;
                     if (columnDataField === 'iIcon') {
                         const Column = worksheet.getColumn(excelCell.col);
                         Column.width = 20;
                     }
                 }
             }
         }).then(function (exportRange) {
             workbook.xlsx.writeBuffer().then(function (buffer) {
                 saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'AccommodationRegister_Dx.xls');
             });
         });
         $("#Accommodation_Register_modal").dxPopup("hide");
     }
 </script>

</div>
