<div class="GoldSilver_WindowProfile_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Profile.Models.GoldSilverDto
    <link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">

    @{
        ViewBag.Test = Model.ActionMethod;
        bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
        bool GoldS_Profile_Core_AddRight = (bool)ViewData["GoldS_Profile_Core_AddRight"];
    }
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
    }
    <style>
        .control-label {
            text-align: left !important;
        }
    </style>
    <script>
    var IsSucessPopup = false;
    var Cmd_Type = "@Model.GS_TYPE";
    function ChangeGSType(e) {

        Cmd_Type = $("#GS_TYPE").dxSelectBox("instance").option('value');
        $("#Look_ItemList").dxDropDownBox("instance").repaint();
    }
    function ChangeLookUp_GetItemList() {
        var dropDownBox = $("#Look_ItemList").dxDropDownBox("instance");
        dropDownBox.close();
    }
    function ChangeLookUp_GetMiscList() {
        var dropDownBox = $("#Look_MiscList").dxDropDownBox("instance");
        dropDownBox.close();
    }
    function ChangeLookUp_GetLocList() {
        var dropDownBox = $("#GS_LOC_AL_ID").dxDropDownBox("instance");
        dropDownBox.close();
    }
    function ChangeLblWeight(e) {

        var txtweightData = $("#Txt_Weight").dxTextBox('instance').option("value");
        if (txtweightData != "") {
            var kg_part, kg_part = "kg", gm_part = "gm", mg_part = "mg";
            var gm_and_mg = parseFloat(txtweightData).toFixed(3).split('.');//Format(double.Parse($("#Txt_Weight").val()), "0.000").ToString().Split(".");
            if ((parseFloat(gm_and_mg[0]) > 0)) {
                var kg_and_gm = parseFloat(gm_and_mg[0] / 1000).toFixed(3).split('.');
                var gm_part;
                var mg_part;
                if ((parseFloat(kg_and_gm[0]) > 0)) {
                    $("#Txt_Weight_Desc").text(((parseFloat(kg_and_gm[0]))
                                + (kg_part
                                + (((parseFloat(kg_and_gm[1]) > 0) ? (", "
                                + (parseFloat(kg_and_gm[1]) + gm_part)) : "") + ((parseFloat(gm_and_mg[1]) > 0) ? (" & "
                                + (parseFloat(gm_and_mg[1]) + mg_part)) : "")))));
                }
                else {
                    $("#Txt_Weight_Desc").text(((
                        (parseFloat(kg_and_gm[1]) > 0) ? (parseFloat(kg_and_gm[1]) + gm_part) : "") +
                        ((parseFloat(gm_and_mg[1]) > 0) ? (" && " + (parseFloat(gm_and_mg[1]) + mg_part)) : "")));
                }

            }
            else {
                $("#Txt_Weight_Desc").text(parseFloat(gm_and_mg[1]) + (" " + mg_part));
            }
        } else {
            $("#Txt_Weight_Desc").text("");
        }

    }
    function getWeightDesc(e) {
        var txtweightData = $("#Txt_Weight").dxTextBox('instance').option("value");
        if (txtweightData != "") {
            var kg_part, kg_part = "kg", gm_part = "gm", mg_part = "mg";
            var gm_and_mg = parseFloat(txtweightData).toFixed(3).split('.');//Format(double.Parse($("#Txt_Weight").val()), "0.000").ToString().Split(".");
            if ((parseFloat(gm_and_mg[0]) > 0)) {
                var kg_and_gm = parseFloat(gm_and_mg[0] / 1000).toFixed(3).split('.');
                var gm_part;
                var mg_part;
                if ((parseFloat(kg_and_gm[0]) > 0)) {
                    $("#Txt_Weight_Desc").text(((parseFloat(kg_and_gm[0]))
                                + (kg_part
                                + (((parseFloat(kg_and_gm[1]) > 0) ? (", "
                                + (parseFloat(kg_and_gm[1]) + gm_part)) : "") + ((parseFloat(gm_and_mg[1]) > 0) ? (" & "
                                + (parseFloat(gm_and_mg[1]) + mg_part)) : "")))));
                }
                else {
                    $("#Txt_Weight_Desc").text(((
                        (parseFloat(kg_and_gm[1]) > 0) ? (parseFloat(kg_and_gm[1]) + gm_part) : "") +
                        ((parseFloat(gm_and_mg[1]) > 0) ? (" && " + (parseFloat(gm_and_mg[1]) + mg_part)) : "")));
                }

            }
            else {
                $("#Txt_Weight_Desc").text(parseFloat(gm_and_mg[1]) + (" " + mg_part));
            }
        } else {
            $("#Txt_Weight_Desc").text("");
        }
    }
    function OnFrm_GoldSilver_Window_NewLocationClick()
    {
        if ("@GoldS_Profile_Core_AddRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }
    }
    function GoldSilverAjaxSuccessForm(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
            VehiclesListGrid.Refresh();
        }
        else {
            IsSucessPopup = true;
            var GoldSilverSubmitSuccess = DevExpress.ui.dialog.alert(data.Message, "GoldSilver");

            GoldSilverListGrid.Refresh();
            IsSucessPopup = false;
            GoldSilverSubmitSuccess.done(function (alertResult) {
                if (alertResult) {
                    if (IsViewPopup == true) {
                        var addmoreGSresult = DevExpress.ui.dialog.confirm("Add More Entry...?", "Vehicle");
                        addmoreGSresult.done(function (dialogResult) {
                            if (dialogResult) {
                                OnGoldSilverNewClick();
                            }
                        });
                    }
                }
            });
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
    }
    //$("#Dynamic_Content_popup").dxPopup({
    //    onHiding: function (e) {
    //        if (IsSucessPopup == false && IsViewPopup == false) {
    //            var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
    //            result.done(function (dialogResult) {
    //                if (dialogResult) {
    //                    $("#Dynamic_Content_popup").dxPopup("hide");
    //                } else {
    //                    $("#Dynamic_Content_popup").dxPopup("show");
    //                }
    //            });
    //        }

    //    }
    //});


    </script>
    <div id="GoldSilverWindow" class="col-md-12" style="padding:0px;">
        @using (Ajax.BeginForm("Frm_GoldSilver_window", "GoldSilver",
                                                                     new AjaxOptions
                                                                     {
                                                                         HttpMethod = "POST",
                                                                         UpdateTargetId = "GoldSilverWindow",
                                                                         InsertionMode = InsertionMode.InsertAfter,
                                                                         OnBegin = "AjaxBeginFormPost",
                                                                         OnSuccess = "GoldSilverAjaxSuccessForm"
                                                                     },
                                                                         new
                                                                         {
                                                                             id = "validationForm",
                                                                             @class = "edit_form"
                                                                         }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.EditDate)
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.LastEditedOn)
            var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();

            using (Html.DevExtreme().ValidationGroup())
            {

                <div class="full-width-header-bg">
                    <div class="row">

                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i> Gold / Silver</h3><i class="fas fa-star yellowstar"></i><span class="blu-txt2"> As on 31st March, 2017</span>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                    </div>
                </div><!--[]-->



                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                @Html.LabelFor(model => model.GS_TYPE, htmlAttributes: new { @class = "control-label text-red txt_type" })
                                @(Html.DevExtreme().SelectBoxFor(x => x.GS_TYPE)
                                    .ID("GS_TYPE")
                                    .Name("GS_TYPE")
                                    .DataSource(new[] { "GOLD", "SILVER" })
                                    .Value(Model.GS_TYPE)
                                     .ReadOnly(false || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._View || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._Delete)
                                    .SearchEnabled(true)
                                     .DeferRendering(false)
                                    .OnValueChanged(@<text>function () {ChangeGSType();}</text>)
                            )
                                @Html.ValidationMessageFor(model => model.GS_TYPE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                @Html.LabelFor(model => model.Look_ItemList, htmlAttributes: new { @class = "control-label text-red txt_item" })
                                @(Html.DevExtreme().DropDownBox()
                                    .ID("Look_ItemList")
                                    .Name("Look_ItemList")
                                    .Value(Model.Look_ItemList)
                                    .ValueExpr("ID")
                                    .DisplayExpr("Name")
                                    .DropDownOptions(ddo => ddo.Width(650))
                                    .DataSource(d => d.Mvc().Controller("GoldSilver").LoadAction("LookUp_GetItemList").Key("ID").LoadParams(new { Cmd_Type = new JS("function(){return Cmd_Type;}") }))
                                    .Placeholder("Select Item...")
                                    .ShowClearButton(true)
                                      .ReadOnly(false || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._View || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._Delete)
                                    .OnValueChanged("ChangeLookUp_GetItemList")
                                    .DeferRendering(false)
                                    .ContentTemplate(@<text>
                                        @Html.Partial("LookUp_GetItemList")
                                    </text>)
                            )
                                @Html.ValidationMessageFor(model => model.Look_ItemList, "", new { @class = "text-red" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                @Html.LabelFor(model => model.Look_MiscList, htmlAttributes: new { @class = "control-label text-red txt_Misc" })
                                @(Html.DevExtreme().DropDownBox()
                                    .ID("Look_MiscList")
                                    .Name("Look_MiscList")
                                    .Value(Model.Look_MiscList)
                                    .ValueExpr("ID")
                                    .DisplayExpr("Name")
                                    .DropDownOptions(ddo => ddo.Width(650))
                                    .DataSource(d => d.Mvc().Controller("GoldSilver").LoadAction("LookUp_GetMiscList").Key("ID"))
                                    .Placeholder("Select Description...")
                                    .ShowClearButton(true)
                                      .ReadOnly(false || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._View || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._Delete)
                                    .OnValueChanged("ChangeLookUp_GetMiscList")
                                    .ContentTemplate(@<text>
                                        @Html.Partial("LookUp_GetMiscList")
                                    </text>)
                            )
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-5">
                                        @Html.LabelFor(model => model.Txt_Amount, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-7 plm">
                                        @(Html.DevExtreme().TextBox()
                                            .ID("Txt_Amount")
                                            .Name("Txt_Amount")
                                            .Value(Model.Txt_Amount)
                                            .ShowClearButton(true)
                                              .ReadOnly(false || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._View || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._Delete)
                                            .Placeholder("Type Amount...")
                                    )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.LabelFor(model => model.Txt_Weight, htmlAttributes: new { @class = "control-label text-red txt_weight" })
                                    </div>
                                    <div class="col-sm-6">
                                        @if (Model.ActionMethod.ToString().Trim() == "_New")
                                        {
                                            @(Html.DevExtreme().TextBox()
                        .ID("Txt_Weight")
                        .Name("Txt_Weight")
                        .Value(Model.Txt_Weight)
                        .ShowClearButton(true)
                         .ReadOnly(false || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._View || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._Delete)
                        .Placeholder("Type Weight...")
                        .OnValueChanged("ChangeLblWeight")
                                        )
                                        }
                                        @if (Model.ActionMethod.ToString().Trim() == "_Edit" || Model.ActionMethod.ToString().Trim() == "_View")
                                        {@(Html.DevExtreme().TextBox()
                        .ID("Txt_Weight")
                        .Name("Txt_Weight")
                        .Value(Model.Txt_Weight)
                        .ShowClearButton(true)
                         .ReadOnly(false || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._View || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._Delete)
                        .Placeholder("Type Weight...")
                        .OnValueChanged("ChangeLblWeight")
                        .OnInitialized("getWeightDesc")
                    )
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 plm">
                        <div class="bot-shadow pll">
                            <label class="control-label" for="Txt_Weight_Desc" id="Txt_Weight_Desc" name="Txt_Weight_Desc" text="" value=""></label>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-9">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.GS_LOC_AL_ID, htmlAttributes: new { @class = "control-label text-red txt_loc" })
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="ext-marg-30">
                                            @(Html.DevExtreme().DropDownBox()
                                    .ID("GS_LOC_AL_ID")
                                    .Name("GS_LOC_AL_ID")
                                    .Value(Model.GS_LOC_AL_ID)
                                    .ValueExpr("AL_ID")
                                    .DisplayExpr("Location_Name")
                                    .DropDownOptions(ddo => ddo.Width(650))
                                    .DataSource(d => d.Mvc().Controller("GoldSilver").LoadAction("LookUp_GetLocList").Key("AL_ID"))
                                    .Placeholder("Select Location...")
                                    .ShowClearButton(true)
                                    .OnValueChanged("ChangeLookUp_GetLocList")
                                      .ReadOnly(false || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._View || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._Delete)
                                    .ContentTemplate(@<text>
                                        @Html.Partial("LookUp_GetLocList")
                                    </text>)
                                        )

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-field" style="padding:3px 4px 2px 4px;">
                            <div class="container-fluid pll prm">
                                @(Html.DevExtreme().Button()
                                    .ID("But_Loc")
                                    .Text("Add Location")
                                    .Icon("add")
                                    .Width(380)
                                      .Disabled(false || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._View || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._Delete)
                                    .OnClick(@<text>
                                        function () {
                                        OnFrm_GoldSilver_Window_NewLocationClick();
                                        }
                                    </text>)
                            )
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid pll prm">
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.Txt_Others, htmlAttributes: new { @class = "control-label text-danger" })
                            </div>

                            <div class="col-sm-10">

                                @(Html.DevExtreme().TextBox()
                                        .ID("Txt_Others")
                                        .Name("Txt_Others")
                                        .Value(Model.Txt_Others)
                                        .ShowClearButton(true)
                                          .ReadOnly(false || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._View || Model.ActionMethod == Common_Lib.Common.Navigation_Mode._Delete)
                                        .Placeholder("Type Any Other Details / Remarks...")
                                        .MaxLength(250)
                            )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-field wbg brd-bot-none">
                        <div class="container-fluid pll prm">
                            <div class="col-sm-8 prm"></div>
                            <div class="col-sm-4 prm">
                                @if (Model.ActionMethod.ToString().Trim() == "_New")
                                {

                                    <div class="action-btn-wrap">
                                        @(Html.DevExtreme().Button()
                                .ID("GSCancel")
                                .Icon("fa fa-times")
                                .Text("Cancel")
                                .FocusStateEnabled(true)
                                .OnClick(@<text>
                                    function () {
                                    $("#Dynamic_Content_popup").dxPopup("hide");
                                    }
                                </text>)
                                            )
                                    </div>
                                    <div class="action-btn-sec-wrap">
                                        @(Html.DevExtreme().Button()
                                    .Icon("fa fa-check")
                                .Text("Save")
                                 .UseSubmitBehavior(true)
                                            )
                                    </div>

                                }
                                @if (Model.ActionMethod.ToString().Trim() == "_View")
                                {
                                    <div class="col-md-7"></div>
                                    <div class="col-md-5">
                                        @(Html.DevExtreme().Button()
                                    .ID("GSCancel")
                                    .Text("Close")
                                    .Icon("fa fa-times")
                                    .OnClick(@<text>
                                        function () {
                                        $("#Dynamic_Content_popup").dxPopup("hide");
                                        }
                                    </text>)
                                            )
                                    </div>
                                }
                                @if (Model.ActionMethod.ToString().Trim() == "_Edit")
                                {
                                    <div>
                                        @(Html.DevExtreme().Button()
                                .ID("GSEdit")
                                .Text("Save")
                                .Icon("fa fa-check")
                                .FocusStateEnabled(true)
                                .UseSubmitBehavior(true)
                                            )
                                        @(Html.DevExtreme().Button()
                                .ID("GSCancel")
                                .Icon("fa fa-times")
                                .Text("Cancel")
                                .OnClick(@<text>
                                    function () {
                                    $("#Dynamic_Content_popup").dxPopup("hide");
                                    }
                                </text>)
                                            )
                                    </div>
                                }

                                @if (Model.ActionMethod.ToString().Trim() == "_Delete")
                                {
                                    <div>
                                        @(Html.DevExtreme().Button()
                                .ID("GSDelete")
                                .Text("Delete")

                                .FocusStateEnabled(true)

                                .UseSubmitBehavior(true)
                                            )
                                        @(Html.DevExtreme().Button()
                                .ID("GSCancel")
                                  .Icon("fa fa-times")
                                .Text("Cancel")
                                .FocusStateEnabled(true)
                                .OnClick(@<text>
                                    function () {
                                    $("#Dynamic_Content_popup").dxPopup("hide");
                                    }
                                </text>)
                                            )
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>


    <script>
    $(document).ready(function () {
        if ("@GoldS_Profile_Core_AddRight" == "False")
        {
	        $("#But_Loc").hide();
        }
    });
    $(function () {
        if ("@Model.ActionMethod.ToString().Trim()" == "_View" || "@Model.ActionMethod.ToString().Trim()" == "_Delete") {
            $(".txt_type").removeClass("text-red");
            $(".txt_item").removeClass("text-red");
            $(".txt_Misc").removeClass("text-red");
            $(".txt_weight").removeClass("text-red");
            $(".txt_loc").removeClass("text-red");

        }
        $("#Txt_Weight").keypress(function (e) {
            e = e || window.event;
            key = e.keyCode || e.which;
            //For Firefox
            if (key == 8 || key == 127 || key == 9)
                return true
            var txt = String.fromCharCode(key);
            var reg = /[0-9-/]/;
            if (reg.test(txt))
                return true;

            e.preventDefault();
            return false;


        });
        $("#Txt_Amount").keypress(function (e) {
            e = e || window.event;
            key = e.keyCode || e.which;
            //For Firefox
            if (key == 8 || key == 127 || key == 9)
                return true
            var txt = String.fromCharCode(key);
            var reg = /[0-9.]/;
            if (reg.test(txt))
                return true;
            e.preventDefault();
            return false;

        });

    });
    </script>
</div>