<div class="GoldSilver_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @model IEnumerable<dynamic>

    @{
        ViewBag.Title = "Index";
        string UserType = (string)ViewBag.UserType;
        bool GoldS_ExportRight = (bool)ViewData["GoldS_ExportRight"];
        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];
        bool GSProfile_Auto_Vouching_Mode = (bool)ViewData["GSProfile_Auto_Vouching_Mode"];
        bool GS_SpecialGrouping = (bool)ViewData["GS_SpecialGrouping"];
    }

    <div id="GoldSilver_ParentDiv">
        <div id="content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">Gold / Silver Information</label>
            </div>
            @*Buttons*@
            <div class="report_button_div">
                @(Html.DevExtreme().Switch().ID("GoldSilverVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("GoldSilver_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Switch().ID("GoldSViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("GoldS_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Button()
                                                                                                   .ID("GSModelUnlock")
                                                                                                   .Text("Unlock")
                                                                                                   .Icon("add")
                                                                                                   .Visible(false)
                                                                                                   .Disabled(true)
                                                                                                   .OnClick(@<text>
                                                                                                    function () {
                                                                                                    OnGSUnLockClick();
                                                                                                    }
                                                                                                </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                   .ID("GSModelLock")
                                                                                                   .Text("Lock")
                                                                                                   .Icon("add")
                                                                                                   .Visible(false)
                                                                                                   .Disabled(true)
                                                                                                   .OnClick(@<text>
                                                                                                    function () {
                                                                                                    OnGSLockClick();
                                                                                                    }
                                                                                                </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverModelNew")
                                                                                                    .Text("New")
                                                                                                    .Icon("add")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnGoldSilverNewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverModelEdit")
                                                                                                    .Text("Edit")
                                                                                                     .Icon("edit")
                                                                                                     .Visible(false)
                                                                                                     .Disabled(true)
                                                                                                     .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnGoldSilverEditClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverModelDelete")
                                                                                                    .Text("Delete")
                                                                                                    .Icon("trash")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnGoldSilverDeleteClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverModelView")
                                                                                                    .Text("View")
                                                                                                    .Icon(IconID.ViewCustomers16x16devav)
                                                                                                    .Icon("doc")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnGoldSilverViewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverToggleScrollBar")
                                                                                                    .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                                                                                                    .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                                                                                                    .Icon("toolbox")
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        GoldSilverchangeMode();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverModelListPreview")
                                                                                                    .Text("Export")
                                                                                                    .Width(75)
                                                                                                    .Icon("save")
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnGoldSilverListPreviewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverModelCLOSE")
                                                                                                    .Text("Close")
                                                                                                    .Icon("clear")
                                                                                                    .OnClick(@<text>
                                                                                                        function (){closeProfile_GoldSilver();}
                                                                                                    </text>)

            )
            </div>
        </div>

        <div class="col-md-12 no-padding">
            <form>
                <div id="GoldSilverreloadPartialView" class="parent_table">
                    @Html.Partial("Frm_GoldSilver_Info_Grid_dx")
                </div>
            </form>
        </div>

        <div class="footer-MainBoxdiv full-width-footer">
            @*<div class="col-lg-8 report_footer_small_buttons_div" id="GoldSilverFooterItem">*@
            <div class="list_footer_left_margin col-md-10">
                <div>
                    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id="GoldSilver_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="GoldSilver_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                            @*<div class="footer-locktext">
                                   <div id="GoldSilverLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                                </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id="GoldSilverLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id="GoldSilverLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list_footer_right_margin_consistent col-md-1">
                @*<i id="GoldSilver_LockICON" class="fa fa-lock lock_symbol"></i>*@
            </div>
            @*</div>
                <div class="col-lg-4 listing_footer_filter_buttons_div">
                </div>*@
        </div>
        @Html.Partial("AttachmentFAB", "GoldSilverPrf_FAB,GoldSilverProfile_grid_DIV,Type1,GoldSilverProfile," + UserType) @*fab buttons*@
        <div class="col-md-12">
            @*Add/Edit Popup*@
            @(Html.DevExtreme().Popup().CustomPopup()
                                            .ID("GoldSilver_report_modal")
                                            .OnShowing("PopupOnShowing")
                                            .Title("Gold/Silver List Preview")
                                            .FullScreen(false)
                                            .MaxWidth(125)
                                            .Height("auto")
                                            .ShowCloseButton(true)
                                            .ContentTemplate(@<text>
                                                <div id="GoldSilver_report_modal_result">
                                                </div>
                                            </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                            .ID("popup_frm_GoldSilver_Window")
                                            .Title("GoldSilver")
                                            .FullScreen(false)
                                            .MaxWidth(670)
                                            .OnShowing("PopupOnShowing")
                                            .ShowCloseButton(true)
                                            .ContentTemplate(@<text>
                                                <div id="GoldSilverresult">
                                                </div>
                                            </text>)
                                                            .OnHiding(@<text>
                                                                function () {
                                                                if(IsSucessPopup == false && IsViewPopup == false)
                                                                {
                                                                var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                                                result.done(function (dialogResult) {
                                                                if(dialogResult){
                                                                $("#popup_frm_GoldSilver_Window").dxPopup("hide");
                                                                }else
                                                                {
                                                                $("#popup_frm_GoldSilver_Window").dxPopup("show");
                                                                }
                                                                });
                                                                }
                                                                }
                                                            </text>)
        )
        </div>
    </div>

    @*Javascript Events*@
    <script type="text/javascript">
      var GS_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
      var IsSucessPopup = false;
      var IsViewPopup = false;
      var GSProfile_SetVouchingModeOn = "@GSProfile_Auto_Vouching_Mode" == "True" ? true : false;
      var UserType_GoldandSPrf = "@UserType".toUpperCase();
      var GoldSilver_IsVouchingMode = false;
      var GoldSilver_FocusedRowBeforeRefresh;
      var GoldS_ViewMode = "Default";


     $(document).ready(function () {

          if ("@GoldS_ExportRight" == "False")
          {
              $("#GoldSilverModelListPreview").hide();
          }

          IsSucessPopup = false;
          IsViewPopup = false;
          //SetGoldSilverGroupPanelFooterVisible();
          //SetGoldSilverFooterVisible();

          $(".GoldSilverListGrid_PreviewRow").hide();
          GetSessionStorage("GoldSilverListGrid");
          if (GSProfile_SetVouchingModeOn == true)
          {
              $("#GoldSViewModeSwitch").dxSwitch("instance").option("value", true);
          }
     });


      $(".TabPanalMenu-tabs .active span").on("click", function () {
          $.ajax({
              type: 'GET',
              url: "/Profile/GoldSilver/SessionClear",
              cache: false
          });
          CloseRightPane();
          ClearLeftPane();
          CloseLeftPane();
          DxGrid_EventsOnScreenClose(GoldSilverListGrid);
          ClearAllReferences_GoldSilverProfile();
      });


    function ClearAllReferences_GoldSilverProfile() {
    GS_ShowHorizontalBar = null;
    IsSucessPopup = null;
    IsViewPopup = null;
    GSProfile_SetVouchingModeOn = null;
    UserType_GoldandSPrf = null;
    GoldSilver_IsVouchingMode = null;
    GoldSilver_FocusedRowBeforeRefresh = null;
    GoldS_ViewMode = null;
    GS_ColumnToBeShownIndex = null;
    GS_ColumnToBeHidddenIndex = null;
    GoldSilverID = null;
    GoldSilver_EditDate = null;
    GoldSilver_Add_Date = null;
    GoldSilver_Add_By = null;
    GoldSilver_Edit_By = null;
    GoldSilver_Action_Status = null;
    GoldSilver_Action_Date = null;
    GoldSilver_Action_By = null;
    GoldSilverTr_ID = null;
    GoldSilver_YearID = null;
    GoldSilver_OpenAction = null;
    GoldSilver_EntryType = null;
    GoldSilverInfo_IsDetailRowExpanded = null;
    GoldSilverInfo_NestedRecord_FocusedRowIndex = null;
    GoldSilverInfo_NestedGrid_AccessID = null;
    GoldSilverInfo_AtachmentID = null;
    GoldSilverInfo_FileName = null;
    GoldSilverInfo_ParamMandatory = null;
    GoldSilverInfo_FromDateLabel = null;
    GoldSilverInfo_ToDateLabel = null;
    GoldSilverInfo_DescriptionLabel = null;
    GoldSilverInfo_Doc_ID = null;
    GoldSilverInfo_Doc_Category = null;
    GoldSilverInfo_MasterRowRecID = null;
    GoldSilverInfo_MasterRowMID = null;
    GoldSilverInfo_NestedRowMapID = null;
    GoldSilverInfo_reason = null;
    GoldSilverInfo_Attachment_RecStatus = null;
    GoldSilverInfo_NestedRowReasonID = null;
    GoldSilverInfo_NestedRowKeyValue = null;
    ClearAllReferences("GoldSilverProfile_ClearReferences");
    }

    function OnGoldSilverListPreviewClick() {
    if ("@GoldS_ExportRight" == "False") {
        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
        return;
    }

    OpenPopup("GoldSilver_report_modal_result", "Export Option", "/Profile/GoldSilver/Frm_Export_Options_dx/", "auto", "10%", false, false);
    }

    function On_GoldSilverProfile_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (GoldSilverInfo_ParamMandatory == 1)
            {
                AddAttachment(GoldSilverInfo_MasterRowRecID, "Profile_GoldSilver", GoldSilverInfo_Doc_ID, GoldSilverInfo_Doc_Category, GoldSilverInfo_ParamMandatory, GoldSilverInfo_FromDateLabel, GoldSilverInfo_ToDateLabel, GoldSilverInfo_DescriptionLabel, "GoldSilverProfileAttachment", null, "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(GoldSilverInfo_MasterRowRecID, "Profile_GoldSilver", GoldSilverInfo_Doc_ID, "GoldSilverProfileAttachment", "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (GoldSilverInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(GoldSilverInfo_MasterRowRecID, "Profile_GoldSilver", GoldSilverInfo_AtachmentID, GoldSilverInfo_ParamMandatory, GoldSilverInfo_FromDateLabel, GoldSilverInfo_ToDateLabel, GoldSilverInfo_DescriptionLabel, "GoldSilverProfileAttachment", null, "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(GoldSilverInfo_MasterRowRecID, "Profile_GoldSilver", GoldSilverInfo_AtachmentID, GoldSilverInfo_ParamMandatory, GoldSilverInfo_FromDateLabel, GoldSilverInfo_ToDateLabel, GoldSilverInfo_DescriptionLabel, null, "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID, GoldSilverInfo_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }


            ViewDocument(GoldSilverInfo_AtachmentID, GoldSilverInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(GoldSilverInfo_MasterRowRecID, "Profile_GoldSilver", "Gold/Silver Information", "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (GoldSilverInfo_Doc_Category.toLowerCase() == "others")
            {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else {
                AttachmentAddReason(GoldSilverInfo_MasterRowRecID, GoldSilverInfo_NestedRowMapID, "Profile_GoldSilver", "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(GoldSilverInfo_MasterRowRecID, GoldSilverInfo_NestedRowMapID, "Profile_GoldSilver", "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID, GoldSilverInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(GoldSilverInfo_MasterRowRecID, GoldSilverInfo_NestedRowMapID, "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction")
        {
            GoldSilverPrf_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit")
        {
            if (GoldSilverInfo_Nested_Doc_Status == "")
            {
                GoldSilverPrf_FAB.SetActionContext("AutoItemContext", true);
            }
            if (GoldSilverInfo_Nested_Doc_Status == "NO")
            {
                GoldSilverPrf_FAB.SetActionContext("EditItemContext", true);
            }
            if (GoldSilverInfo_Nested_Doc_Status == "YES")
            {
                GoldSilverPrf_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept")
        {
            GoldSilverInfo_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject")
        {
            GoldSilverInfo_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks")
        {
            GoldSilverInfo_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc") {

            OnGoldSilverInfo_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc") {

            OnGoldSilverInfo_RejectDoc();
        }
    }

    function closeProfile_GoldSilver() {
        $(".TabPanalMenu-tabs .active span").click();

    }

    function OnGoldSilverInfo_RejectDoc() {
        if (GoldSilverInfo_AtachmentID == null || GoldSilverInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(GoldSilverInfo_AtachmentID, "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
    }

    function OnGoldSilverInfo_AcceptDoc() {
        if (GoldSilverInfo_AtachmentID == null || GoldSilverInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(GoldSilverInfo_AtachmentID, "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
    }

    function GoldSilverInfo_AcceptwithoutRemarks() {
        var Recid;
        if (GoldSilverInfo_IsDetailRowExpanded == true || GoldSilver_IsVouchingMode == true) {
            if (GoldSilverInfo_MasterRowRecID == null || GoldSilverInfo_MasterRowRecID == "") {
                Recid = GoldSilverID;;
            }
            else {
                Recid = GoldSilverInfo_MasterRowRecID;
            }
        }
        else {
            Recid = GoldSilverID;
        }

        Entry_AcceptwithoutRemarks(Recid, "Profile_GoldSilver", "GoldSilverListGrid", GoldSilverInfo_AtachmentID, GoldSilverInfo_NestedRowReasonID, GoldSilverInfo_NestedRowKeyValue);
    }

    function GoldSilverInfo_AcceptRejectVoucher(_actionMethod) {
        var Recid;

        if (GoldSilverInfo_IsDetailRowExpanded == true || GoldSilver_IsVouchingMode == true) {
            if (GoldSilverInfo_MasterRowRecID == null || GoldSilverInfo_MasterRowRecID == "") {
                Recid = ID;
            }
            else {
                Recid = GoldSilverInfo_MasterRowRecID;
            }
        }
        else {
            Recid = ID;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_GoldSilver", "GoldSilverListGrid", GoldSilverInfo_AtachmentID, GoldSilverInfo_NestedRowReasonID, GoldSilverInfo_NestedRowKeyValue);
    }
    </script>

    @*attachment and nested grid*@

    @*DevExtreme Start*@

    <script>
        var GoldSilverListGrid = null;
        var GoldSilverInfo_IsDetailRowExpanded = false;
        var Expanded_Row_Key_GoldSilver = null;
        var VisibleColumns_GoldSilverListGrid = [];
    </script>
    <script>
        function GoldSilverchangeMode() {
            GoldSilverListGrid.beginUpdate();
            if (GS_ShowHorizontalBar == 0) {
                GS_ShowHorizontalBar = 1;
                $("#GoldSilverToggleScrollBar").find("span").text("Default Data");
                $("#GoldSilverToggleScrollBar").width(110);
                GoldSilverListGrid.option("columnHidingEnabled", false);
                GoldSilverListGrid.option("allowColumnResizing", true)
            }
            else {
                GS_ShowHorizontalBar = 0;
                $("#GoldSilverToggleScrollBar").find("span").text("Full Data");
                $("#GoldSilverToggleScrollBar").width(90);
                GoldSilverListGrid.option("columnHidingEnabled", true);
                GoldSilverListGrid.option("allowColumnResizing", false)
            }
            GoldSilverListGrid.endUpdate();
        }

        function GoldSilver_VouchingSwitch_ValueChange(e) {
            GoldSilver_IsVouchingMode = e.value;
            if (GSProfile_SetVouchingModeOn == true) {
                GSProfile_SetVouchingModeOn = false;
            }
            else {
                GoldSilverPrf_FAB.SetVisible(false);
            }
            if (GoldSilver_IsVouchingMode == true) {
                OpenRightPane();
                ClearLeftPane();
                OpenLeftPane();
            }
            else {
                GoldSilverPrf_FAB.SetActionContext("AddAttachmentContext", false);
                CloseRightPane();
                ClearLeftPane();
                CloseLeftPane();
            }
            GoldSilverListGrid.clearSelection();
            GoldSilverListGrid.option("masterDetail.enabled", !GoldSilver_IsVouchingMode)
            GoldSilverListGrid.repaint();
        }

        function GoldS_ViewSwitch_ValueChange(e) {
            GoldS_ViewMode = e.value == false ? "Default" : "Compact";
            if (GSProfile_SetVouchingModeOn == true) {
                $("#GoldSilverVouchingModeSwitch").dxSwitch("instance").option("value", true);
            }
            GoldSilverListGrid.beginUpdate();
            var columns = GoldSilverListGrid.option("columns");
            if (GoldS_ViewMode == "Compact") {
                VisibleColumns_GoldSilverListGrid = [];
                for (var i = 0; i < columns.length; i++) {
                    var name = columns[i].dataField;
                    var ColumnVisible = GoldSilverListGrid.columnOption(name, "visible");
                    if (name == "GoldSilverListGrid_dx_Compact_Column") {
                        GoldSilverListGrid.columnOption(name, "visible", true);
                    }
                    else if (ColumnVisible == true && name != "iIcon") {
                        VisibleColumns_GoldSilverListGrid.push(name);
                        GoldSilverListGrid.columnOption(name, "visible", false);
                    }
                }
            }
            else {
                GoldSilverListGrid.columnOption("GoldSilverListGrid_dx_Compact_Column", "visible", false);
                for (var i = 0; i < VisibleColumns_GoldSilverListGrid.length; i++) {
                    GoldSilverListGrid.columnOption(VisibleColumns_GoldSilverListGrid[i], "visible", true);
                }
            }
            GoldSilverListGrid.repaint();
            GoldSilverListGrid.endUpdate();
        }

        function GoldSilver_UpdateFooterDetail(GoldSilverID, GoldSilver_Action_Status, GoldSilver_Add_Date, GoldSilver_Add_By, GoldSilver_Action_Date, GoldSilver_Action_By, GoldSilver_Edit_Date, GoldSilver_Edit_By) {
            var Status = "";
            var Lbl_Status = "";
            var Lbl_StatusBy = "";
            var Pic_Status = "";
            var Lbl_Create = "";
            var Lbl_Modify = "";
            var Lbl_Status_Color = "";
            var Lbl_ActionOn = "";
            var Lbl_ActionBy = "";

            Status = GoldSilver_Action_Status;

            if (Status && Status.toUpperCase() == "LOCKED") {
                Lbl_Status = "Completed";
                Lbl_Status_Color = "blue";
                Pic_Status = "Fa Fa-Lock";
            }
            else {
                Pic_Status = "Fa Fa-UnLock";
                Lbl_Status = Status;
                if (Status && Status.toUpperCase() == "COMPLETED")
                    Lbl_Status_Color = "green";
                else
                    Lbl_Status_Color = "red";
            }

            if (GoldSilver_Add_Date) {
                Lbl_Create = "Add On: " + GoldSilver_Add_Date + ", By: " + GoldSilver_Add_By;
            }
            else {
                Lbl_Create = "Add On: " + "?, By: " + GoldSilver_Add_By;
            }

            if (GoldSilver_Edit_Date) {
                Lbl_Modify = "Edit On: " + GoldSilver_Edit_Date + ", By: " + GoldSilver_Edit_By;
            }
            else {
                Lbl_Modify = "Edit On: " + "?, By: " + GoldSilver_Edit_By;
            }

            if (GoldSilver_Action_Date) {
                Lbl_ActionOn = "UnLocked On: " + GoldSilver_Action_Date;
            }
            else {
                Lbl_ActionOn = "UnLocked On: " + "?";
            }

            Lbl_ActionBy = "UnLocked By: " + GoldSilver_Action_By;

            $('#GoldSilverLbl_Status').text(Lbl_Status);
            $('#GoldSilverLbl_Create').text(Lbl_Create);
            $('#GoldSilver_Lbl_ActionOn').text(Lbl_ActionOn);
            $('#GoldSilver_Lbl_ActionBy').text(Lbl_ActionBy);
            $('#GoldSilverLbl_Modify').text(Lbl_Modify);

            if (Lbl_Status_Color != "") {
                $('#GoldSilverLbl_Status').css('color', Lbl_Status_Color);
            }

            if (Pic_Status != "") {
                $('#GoldSilver_LockICON').css('class', Pic_Status);
            }
        }

    </script>
    @*Grid Functions*@

    <script>
    function GoldSilverListGrid_dx_OnInitialized(e) {
        DxGrid_AdjustSize(e.component, $("#GoldSilver_ParentDiv .report_button_div"))
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            DxGrid_AdjustSize(e.component, $("#GoldSilver_ParentDiv .report_button_div"), "", evt)
        });
        GoldSilverListGrid = e.component;
    }

    function GoldSilverListGrid_dx_OnCellPrepared(e) {
        if (e.rowType == "data") {
            if (GoldSilver_IsVouchingMode == true) {
                if (e.column.dataField === "iIcon") {
                    $(e.cellElement).attr("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + e.key + "')");
                    $(e.cellElement).attr("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + e.key + "')");
                }
            }
            $(e.cellElement).attr("id", e.element[0].id + "_Cell_" + e.key + "|" + e.column.dataField);
        }

    }

    function GoldSilverListGrid_dx_OnRowPrepared(e) {
        if (e.rowType == "data") {
            var GridName = e.element[0].id;
            $(e.rowElement).addClass(GridName + "_DataRow_" + e.key)
            if (e.data.RemarkStatus != null && e.data.RemarkStatus == "OPEN" || e.data.RemarkStatus == "REOPENED") {
                $(e.rowElement).css("background-color", "gold");
            }
            if (e.data.RemarkStatus == null && e.data.Remarks != null && e.data.Remarks == true && e.data.CrossedTimeLimit != null && e.data.CrossedTimeLimit == 0) {
                $(e.rowElement).css("background-color", "lightgreen");
            }
            if (e.data.CrossedTimeLimit != null && e.data.CrossedTimeLimit > 0) {
                $(e.rowElement).css("background-color", "mistyrose");
            }
            DxGrid_CreatePreviewRow(e, GoldSilver_IsVouchingMode, "Master")
        }
        else if (e.rowType == "detailAdaptive") {
            DxGrid_MovePreviewRowAfterAdaptiveRow(e)
        }
    }
    function GoldSilverListGrid_dx_OnContentReady(e) {
        DxGrid_OnContentReady(e, GS_ShowHorizontalBar);
        }
        function GoldSilverListGrid_dx_OnCellDblClick(e) {
            if (e.rowType == "data") {
                if (GoldSilver_IsVouchingMode == true && GoldS_ViewMode == "Default") {
                    OnGridCellClick(e.event, e.cellElement[0], e.columnIndex, e.rowIndex, e.element[0].id, e.key, e.column.dataField)
                }
            }
    }
    function GoldSilverListGrid_dx_OnSelectionChanged(e) {
        var selectedRowKeys = e.selectedRowKeys;
        if (selectedRowKeys != null && selectedRowKeys.length > 0) {
            if (GoldSilver_IsVouchingMode) {
                GoldSilverPrf_FAB.SetVisible(true);
                GoldSilverPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
            GoldSilverListGrid_dx_SelectedRowData(e.selectedRowsData);
        }
        else {
            GoldSilverID = null;
            GoldSilver_UpdateFooterDetail(GoldSilverID, GoldSilver_Action_Status, GoldSilver_Add_Date, GoldSilver_Add_By, GoldSilver_Action_Date, GoldSilver_Action_By, GoldSilver_Edit_Date, GoldSilver_Edit_By);
        }
    }
    function GoldSilverListGrid_dx_SelectedRowData(selectedData = null) {
        if (selectedData == null) {
            selectedData = GoldSilverListGrid.getSelectedRowsData();
        }
        if (selectedData != null && selectedData.length > 0) {
            var values = selectedData[0];
            console.table(values);
            GoldSilverID = values["ID"];
            GoldSilver_Edit_Date = values["Edit_Date"];
            GoldSilver_Add_Date = values["Add_Date"];
            GoldSilver_Add_By = values["Add_By"];
            GoldSilver_Edit_By = values["Edit_By"];
            GoldSilver_Action_Status = values["Action_Status"];
            GoldSilver_Action_Date = values["Action_Date"];
            GoldSilver_Action_By = values["Action_By"];
            GoldSilverTr_ID = values["TR_ID"];
            GoldSilver_YearID = values["YearID"];
            GoldSilver_EntryType = values["Entry_Type"];

            if (GoldSilver_IsVouchingMode == true) {
                OpenLeftPane();
                LeftPaneContent_GoldSilver("GoldSilverListGrid", GoldSilverID, GoldSilver_IsVouchingMode, "");
            }
            else {
                GoldSilverID = null;
            }
        }
    }
        function GoldSilverListGrid_dx_OnRowExpanding(e) {

        if (Array.isArray(e.key) == false)
        {
            e.component.collapseRow(Expanded_Row_Key_GoldSilver)
            e.component.selectRows(e.key);
            Expanded_Row_Key_GoldSilver = e.key;
            GoldSilverInfo_IsDetailRowExpanded = true;
            var DetailGridID = e.element[0].id + e.key;
            var instance = $("div[id='" + DetailGridID + "']").dxDataGrid("instance")
            if (instance != void 0) {
                instance.state(null)
            }
            //e.component.collapseAll(-1);
            }
        else {
            e.component.option("CustomProp.groupRowExpanded", true);
        }
    }
    function GoldSilverListGrid_dx_OnRowCollapsing(e) {
        if (Array.isArray(e.key) == false) //not group row
        {
            var DetailGridID = e.element[0].id + e.key;
            sessionStorage.removeItem(DetailGridID + "_DetailGridState") //removing grid state from session storage on collapse
            GoldSilverInfo_IsDetailRowExpanded = false;
            e.component.selectRows(e.key);
            if (GoldSilver_IsVouchingMode == false) {
                GoldSilverPrf_FAB.SetVisible(false);
            }
        }
        else {
            e.component.option("CustomProp.groupRowCollapsed", true);
        }
    }
    function GoldSilverListGrid_dx_OnContextMenuPreparing(e) {
        if (!e.items) e.items = [];
        if (e.target == "header") {

            DxGrid_HeaderContextMenu(e, "@GS_SpecialGrouping");
        }
        else if ((e.target == "content" && e.row && e.row.rowType == "groupFooter") || e.target == "footer") {
            if (GoldS_ViewMode == "Compact")
                DxGrid_FooterContextMenu(e, true);
            else
                DxGrid_FooterContextMenu(e);
        }
        else if (e.target == "content" && e.row && (e.row.rowType == "data" || e.row.rowType =="detailAdaptive"))
            {
                var key = e.component.getKeyByRowIndex(e.row.rowIndex);
                e.component.selectRows(key);
                var expanded = e.component.isRowExpanded(key);
                e.items = [
                    {
                        text: "Expand Detail",
                        icon: "fa-solid fa-arrow-down-wide-short " + (expanded ? "text-muted" : "text-info"),
                        disabled: expanded,
                        visible: !GoldSilver_IsVouchingMode,
                        onItemClick: function ()
                        {
                            if (expanded){ }
                            else {e.component.expandRow(key); }
                        }
                    }, {
                        text: "Collapse Detail",
                        icon: "fa-solid fa-arrow-up-wide-short " + (!expanded ? "text-muted" : "text-info"),
                        disabled: !expanded,
                        visible: !GoldSilver_IsVouchingMode,
                        onItemClick: function () {
                            if (expanded) {e.component.collapseRow(key);}
                            else { }
                        }
                    },
                    {
                        text: "Export",
                        icon: "fa-solid fa-file-export text-warning",
                        visible: "@GoldS_ExportRight" == "True",
                        beginGroup: true,
                        onItemClick: function () {
                            OnGoldSilverListPreviewClick();
                        }
                    },
                    {
                        text: "Close",
                        icon: "fa-solid fa-rectangle-xmark text-danger",
                        beginGroup: true,
                        onItemClick: function ()
                        {
                            closeProfile_GoldSilver();
                        }
                    },
                    {
                        text: "Refresh",
                        icon: "fa-solid fa-arrow-rotate-right text-success",
                        beginGroup: true,
                        onItemClick: function ()
                        {
                            GoldSilverListGrid_dx_Refresh()
                        }
                    }]
            }
    }

    function GoldSilverListGrid_dx_DetailTemplate(container, templateData) {
            var GridName = templateData.component.element()[0].id
            var RecID = templateData.data.ID;
        GoldSilverListGrid_dx_Detail(container, GridName, RecID, GoldSilver_IsVouchingMode, GS_ShowHorizontalBar);
    }

        function GoldSilverListGrid_dx_Detail(container, GridName, RecID, vouchingMode, AllColumns)
        {
            var url = "/Profile/GoldSilver/Frm_GoldSilver_Info_DetailGrid_dx?VouchingMode=" + vouchingMode + "&RecID=" + RecID
            var instance = DxGrid_AttachmentGrid_Create(container, GridName, RecID, vouchingMode, AllColumns, url)
            instance.option("onSelectionChanged", GoldSilverListGrid_dx_Detail_onSelectionChanged);    
        }
    function GoldSilverListGrid_dx_Detail_onSelectionChanged(e) {
        if (GoldSilverInfo_IsDetailRowExpanded || GoldSilver_IsVouchingMode) {
            if (e.selectedRowsData != null && e.selectedRowsData.length > 0) {
                GoldSilverInfo_NestedGrid_AccessID = e.element[0].id;
                GoldSilverListGrid_dx_Detail_SelectedRowData(e.selectedRowsData)
            }
            else {
                GoldSilverPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }
    function GoldSilverListGrid_dx_Detail_SelectedRowData(selectedData = null) {
      if (selectedData == null) {
          selectedData = $("#" + GoldSilverInfo_NestedGrid_AccessID).dxDataGrid("getSeletedRowsData");
      }
      var values = selectedData[0];
      GoldSilverInfo_NestedRowKeyValue = values["UniqueID"];
      if (values["UniqueID"] != null) {
          GoldSilverPrf_FAB.SetVisible(true);
          GoldSilverInfo_Nested_Doc_Status = values["Doc_Status"];

          if (GoldSilverPrf_FAB == true) {
              GoldSilverPrf_FAB.SetActionContext("AuditActionContext", true);
          }
          else {
              if (GoldSilverInfo_Nested_Doc_Status == "") {
                  GoldSilverPrf_FAB.SetActionContext("AutoItemContext", true);
              }
              else if (GoldSilverInfo_Nested_Doc_Status == "NO") {
                  GoldSilverPrf_FAB.SetActionContext("EditItemContext", true);
              }
              else if (GoldSilverInfo_Nested_Doc_Status == "YES") {
                  GoldSilverPrf_FAB.SetActionContext("actionItemContext", true);
              }
          }
          GoldSilverInfo_ParamMandatory = values["Params_Mandatory"];
          GoldSilverInfo_FromDateLabel = values["LABEL_FROM_DATE"];
          GoldSilverInfo_ToDateLabel = values["LABEL_TO_DATE"];
          GoldSilverInfo_DescriptionLabel = values["LABEL_DESCRIPTION"];
          GoldSilverInfo_Doc_Category = values["Document_Category"];
          GoldSilverInfo_Doc_ID = values["Document_ID"];
          GoldSilverInfo_AtachmentID = values["ATTACH_ID"];
          IndexAttachmentID = GoldSilverInfo_AtachmentID;
          GoldSilverInfo_MasterRowRecID = values["TxnID"];
          GoldSilverInfo_MasterRowMID = values["TxnMID"];
          GoldSilverInfo_NestedRowMapID = values["MAP_ID"];
          GoldSilverInfo_reason = values["Reason"];
          GoldSilverInfo_FileName = values["ATTACH_FILE_NAME"];
          GoldSilverInfo_Attachment_RecStatus= values["Attachment_Action_Status"];
          if (GoldSilver_IsVouchingMode == true) {
              if (GoldSilverInfo_FileName != null && GoldSilverInfo_FileName.length > 0) {
                  ViewDocument(GoldSilverInfo_AtachmentID, GoldSilverInfo_FileName, "GoldSilverPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
              }
              else {
                  CloseRightPane();
                  ClearRightPane();
              }
          }
    }
    GoldSilverInfo_NestedRowReasonID = values["ReasonID"];
    IndexAttachmentReasonID = GoldSilverInfo_NestedRowReasonID;
    }

    </script>
    @*Grid Methods*@
    <script>
        function GoldSilverListGrid_dx_Refresh() {
            GoldSilverListGrid.refresh().done(function () { ActionAfterDataGridRefresh_GoldSilverListGrid_dx() })
        }

        async function ActionAfterDataGridRefresh_GoldSilverListGrid_dx() {

            var selectedRowKeys = GoldSilverListGrid.getSelectedRowKeys()
            if (selectedRowKeys != null && selectedRowKeys.length > 0) {
                GoldSilverListGrid.clearSelection()
                GoldSilverListGrid.selectRows(selectedRowKeys)
            }
        }

        function GoldSilverListGrid_dx_iIconTemplate(container, templateData) {
            var iREQ_ATTACH_COUNT = templateData.data.REQ_ATTACH_COUNT
            var iCOMPLETE_ATTACH_COUNT = templateData.data.COMPLETE_ATTACH_COUNT
            var iRESPONDED_COUNT = templateData.data.RESPONDED_COUNT
            var iREJECTED_COUNT = templateData.data.REJECTED_COUNT
            var iOTHER_ATTACH_CNT = templateData.data.OTHER_ATTACH_CNT
            var iALL_ATTACH_CNT = templateData.data.ALL_ATTACH_CNT
            var iIcon = templateData.data.iIcon
            var UniqueID = templateData.component.element()[0].id
            var key = templateData.data.ID
            var VisibleIndex = templateData.rowIndex
            var htmlString = "";
            htmlString = DxGrid_AttachmentIcons(iREQ_ATTACH_COUNT, iCOMPLETE_ATTACH_COUNT, iRESPONDED_COUNT, iREJECTED_COUNT, iOTHER_ATTACH_CNT, iALL_ATTACH_CNT);
            htmlString += DxGrid_VouchingAuditIcons(iIcon)
            htmlString += DxGrid_AuditIconAfterClick(UniqueID, key, VisibleIndex)
            $(container).html(htmlString)
        }
        function GoldSilverListGrid_dx_Compact_Column_Template(container, templateData) {
            var Name = templateData.component.element()[0].id;
            var KeyValue = templateData.data.ID;
            var VouchingMode = GoldSilver_IsVouchingMode == true ? "True" : "False";

            var htmlString = "<div class='container-fluid'>" +

                "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'><label class='control-label'>Item Name:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Name' " +
                "ondblclick=OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.ITEM_NAME + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'><label class='control-label'>Description:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Branch' " +
                "ondblclick=OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.MISC_NAME + "</div></div>" +

                "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'><label class='control-label'>Value:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|BA_ACCOUNT_NO' " +
                "ondblclick=OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.GS_AMT + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'><label class='control-label'>Curr Value:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|BA_CUST_NO' " +
                "ondblclick=OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Curr_Value + "</div></div>" +

                "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'><label class='control-label'>Weight:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|OP_AMOUNT' " +
                "ondblclick=OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.GS_ITEM_WEIGHT + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'><label class='control-label'>Curr Weight:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|CL_AMOUNT' " +
                "ondblclick=OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                (templateData.data.Curr_Weight ?? "0") + "</div></div>" +

                "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'><label class='control-label'>Rate per Gram:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Special_Ref' " +
                "ondblclick=OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Rate_per_Gram + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'><label class='control-label'>Location:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|CL_AMOUNT' " +
                "ondblclick=OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                (templateData.data.AL_LOC_NAME ?? "") + "</div></div>" +

                "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'><label class='control-label'>GS Other Detail:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Special_Ref' " +
                "ondblclick=OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.GS_OTHER_DETAIL + "</div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'><label class='control-label'>Sale Status:</label></div>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|CL_AMOUNT' " +
                "ondblclick=OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                (templateData.data.Sale_Status ?? "") + "</div></div>" +

                "<div class='row'>" +
                "<div class='col-sm-12 col-md-3 col-lg-3 compact_column_label'><label class='control-label'>Reference:</label></div>" +
                "<div class='col-sm-12 col-md-9 col-lg-9 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Special_Ref' " +
                "ondblclick=OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                templateData.data.Special_Ref + "</div></div>";

            $(container).html(htmlString);
        }
        function GoldSilverListGrid_dx_Compact_Column_CellValue(rowData) {
            var data =
                [
                    rowData.ITEM_NAME, rowData.MISC_NAME, rowData.GS_AMT, rowData.Curr_Value, rowData.GS_ITEM_WEIGHT, rowData.Curr_Weight, rowData.Rate_per_Gram, rowData.AL_LOC_NAME, rowData.GS_OTHER_DETAIL, rowData.Sale_Status, rowData.Special_Ref
                ]
            return data.join(" ")
        }
        function GoldSilverListGrid_dx_GroupCell_Template(container, templateData) {
            DxGrid_GroupCell_Template(container, templateData)
        } 

        function LeftPaneContent_GoldSilver(GridName, RecID, vouchingMode, AllColumns = 0) {
            $("#LeftPane_Div_Content").html(null);
            $("#LeftPane_Div_Content").append("<div class='col-xs-12'><label>Documents Attached:</label><div class='AttachmentGrid'><form></form></div></div><div class='col-xs-12'><label>Additional Info:</label><div class='AdditionalInfoGrid'><form></form></div></div>")
            GoldSilverListGrid_dx_Detail($("#LeftPane_Div_Content .AttachmentGrid>form"), GridName, RecID, vouchingMode, AllColumns)
            setTimeout(function () {
                AdditionalInfoGrid_GoldSilver($("#LeftPane_Div_Content .AdditionalInfoGrid>form"), GridName, RecID, vouchingMode, AllColumns)
            })
        }
        function AdditionalInfoGrid_GoldSilver(container, GridName, RecID, vouchingMode, AllColumns)
        {
            var url = "/Profile/GoldSilver/Frm_GoldSilver_AdditionalGridData_dx?VouchingMode=" + vouchingMode + "&RecID=" + RecID
            DxGrid_CreateAdditionalInfoGrid(container, GridName, RecID, vouchingMode, AllColumns, url)           
        }
    </script>
    @*Devextreme Ends*@
</div>
