@using DevExtreme.AspNet.Mvc;
<div>
    @(Html.DevExtreme().Button()
                .ID("GS_ExportGridDatapdf")
                .Text("Export to PDF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("x")
                .OnClick("ExportPDF")
                .Visible(true)
                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                .ID("GS_ExportGridDataxls")
                .Text("Export to XLS")
                //.Icon("fa-file-excel-o")
                //.AccessKey("X")
                .OnClick("ExportXLS")
                .Visible(true)
                .Width(120)
    )<br />
    @(Html.DevExtreme().Button()
                .ID("GS_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("L")
                .OnClick("ExportXLSX")
                .Visible(true)
                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                .ID("GS_ExportGridDatadocx")
                .Text("Export to DOCX")
                //.Icon("export_exporttodocx_16x16office2013")
                //.AccessKey("D")
                .OnClick("ExportDOCX")
                .Visible(true)
                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                .ID("GS_ExportGridDatartf")
                .Text("Export to RTF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("R")
                .OnClick("ExportRTF")
                .Visible(true)
                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                .ID("GS_ExportGridDatacsv")
                .Text("Export to CSV")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("C")
                .OnClick("ExportCSV")
                .Visible(true)
                .Width(120)
    )
</div>
<script>
    function ExportPDF() {
        GoldSilverListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        $("#GoldSilver_report_modal").dxPopup("hide");
    }
    function ExportXLS() {
        GoldSilverListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
        $("#GoldSilver_report_modal").dxPopup("hide");
    }
    function ExportXLSX() {
        GoldSilverListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        $("#GoldSilver_report_modal").dxPopup("hide");
    }
    function ExportCSV() {
        GoldSilverListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
        $("#GoldSilver_report_modal").dxPopup("hide");
    }
    function ExportDOCX() {
        GoldSilverListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
        $("#GoldSilver_report_modal").dxPopup("hide");
    }
    function ExportRTF() {
        GoldSilverListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        $("#GoldSilver_report_modal").dxPopup("hide");
    }
</script>
