<div class="GoldSilverProfile_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        string UserType = (string)ViewBag.UserType;
        bool GoldS_Profile_Core_AddRight = (bool)ViewData["GoldS_Profile_Core_AddRight"];
        bool GoldS_AddRight = (bool)ViewData["GoldS_AddRight"];
        bool GoldS_UpdateRight = (bool)ViewData["GoldS_UpdateRight"];
        bool GoldS_ViewRight = (bool)ViewData["GoldS_ViewRight"];
        bool GoldS_DeleteRight = (bool)ViewData["GoldS_DeleteRight"];
        bool GoldS_ExportRight = (bool)ViewData["GoldS_ExportRight"];
        bool GoldS_LockUnlockRight = (bool)ViewData["GoldS_LockUnlockRight"];
        bool GoldS_AddHelp_ActionItemsRight = (bool)ViewData["GoldS_AddHelp_ActionItemsRight"];
        bool GoldS_ListHelp_ActionItemsRight = (bool)ViewData["GoldS_ListHelp_ActionItemsRight"];
        bool Help_Attachment_AddRight = (bool)ViewData["Help_Attachment_AddRight"];//attachment
        bool Help_Attachment_EditRight = (bool)ViewData["Help_Attachment_EditRight"];//attachment
        bool Help_Attachment_ViewRight = (bool)ViewData["Help_Attachment_ViewRight"];//attachment
        bool Help_Attachment_DeleteRight = (bool)ViewData["Help_Attachment_DeleteRight"];//attachment
        bool GSProfile_Auto_Vouching_Mode = (bool)ViewData["GSProfile_Auto_Vouching_Mode"];
    }

    <div id="GoldSilverProfile_ParentDiv">
        <div id="content" class="col-md-12 report_header_div_main">
            <div class="col-md-4 report_header_div">
                <label class="report_header_label">Gold/Silver Information</label>
            </div>
            @*Buttons*@
            <div class="report_button_div">
                @(Html.DevExtreme().Switch().ID("GoldSilverVouchingModeSwitch").SwitchedOnText("Vouching On").SwitchedOffText("Vouching Off").OnValueChanged("GoldSilver_VouchingSwitch_ValueChange").Width(100).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Switch().ID("GoldSViewModeSwitch").SwitchedOnText("Compact").SwitchedOffText("Default").OnValueChanged("GoldS_ViewSwitch_ValueChange").Width(70).Visible(UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR"))
                @(Html.DevExtreme().Button()
                                                                                                   .ID("GSModelUnlock")
                                                                                                   .Text("Unlock")
                                                                                                   .Icon("add")
                                                                                                   .Visible(false)
                                                                                                   .Disabled(true)
                                                                                                   .OnClick(@<text>
                                                                                                    function () {
                                                                                                    OnGSUnLockClick();
                                                                                                    }
                                                                                                </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                   .ID("GSModelLock")
                                                                                                   .Text("Lock")
                                                                                                   .Icon("add")
                                                                                                   .Visible(false)
                                                                                                   .Disabled(true)
                                                                                                   .OnClick(@<text>
                                                                                                    function () {
                                                                                                    OnGSLockClick();
                                                                                                    }
                                                                                                </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverModelNew")
                                                                                                    .Text("New")
                                                                                                    .Icon("add")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnGoldSilverNewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverModelEdit")
                                                                                                    .Text("Edit")
                                                                                                     .Icon("edit")
                                                                                                     .Visible(false)
                                                                                                     .Disabled(true)
                                                                                                     .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnGoldSilverEditClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverModelDelete")
                                                                                                    .Text("Delete")
                                                                                                    .Icon("trash")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnGoldSilverDeleteClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverModelView")
                                                                                                    .Text("View")
                                                                                                    .Icon(IconID.ViewCustomers16x16devav)
                                                                                                    .Icon("doc")
                                                                                                    .Visible(false)
                                                                                                    .Disabled(true)
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnGoldSilverViewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverToggleScrollBar")
                                                                                                    .Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data")
                                                                                                    .Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90)
                                                                                                    .Icon("toolbox")
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        GoldSilverchangeMode();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverModelListPreview")
                                                                                                    .Text("Export")
                                                                                                    .Width("80px")
                                                                                                    .Icon("save")
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        OnGoldSilverListPreviewClick();
                                                                                                        }
                                                                                                    </text>)
            )
                @(Html.DevExtreme().Button()
                                                                                                    .ID("GoldSilverModelCLOSE")
                                                                                                    .Text("Close")
                                                                                                    .Icon("clear")
                                                                                                    .OnClick(@<text>
                                                                                                        function (){closeProfile_GoldSilver();}
                                                                                                    </text>)

            )
            </div>
        </div>
        <div class="col-md-12 no-padding">
            <form>
                <div id="GoldSilverreloadPartialView" class="parent_table">
                    @Html.Partial("Frm_GoldSilver_Info_Grid", Model)
                </div>
            </form>
        </div>

        <div class="footer-MainBoxdiv full-width-footer">
            @*<div class="col-lg-8 report_footer_small_buttons_div" id="GoldSilverFooterItem">*@
            <div class="list_footer_left_margin col-md-10">
                <div>
                    @*class="footer_new_left"*@
                    <div>
                        <div class="list_footer_left_margin">
                            <div class="footer-locktext">
                                <div id="GoldSilver_Lbl_ActionOn" class="left_footertext_top"></div>
                                <div id="GoldSilver_Lbl_ActionBy" class="left_footertext_bottom"></div>
                            </div>
                            @*<div class="footer-locktext">
                                   <div id="GoldSilverLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                                </div>*@
                        </div>
                        <div class="list_footer_left_margin">
                            <p id="GoldSilverLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                            <p id="GoldSilverLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list_footer_right_margin_consistent col-md-1">
                @*<i id="GoldSilver_LockICON" class="fa fa-lock lock_symbol"></i>*@
            </div>
            @*</div>
                <div class="col-lg-4 listing_footer_filter_buttons_div">
                </div>*@
        </div>
        @Html.Partial("AttachmentFAB", "GoldSilverPrf_FAB,GoldSilverProfile_grid_DIV,Type1,GoldSilverProfile," + UserType) @*fab buttons*@
        <div class="col-md-12">
            @*Add/Edit Popup*@
            @(Html.DevExtreme().Popup().CustomPopup()
                                            .ID("GoldSilver_report_modal")
                                            .OnShowing("PopupOnShowing")
                                            .Title("Gold/Silver List Preview")
                                            .FullScreen(false)
                                            .MaxWidth(125)
                                            .Height("auto")
                                            .ShowCloseButton(true)
                                            .ContentTemplate(@<text>
                                                <div id="GoldSilver_report_modal_result">
                                                </div>
                                            </text>)
        )
            @(Html.DevExtreme().Popup().CustomPopup()
                                            .ID("popup_frm_GoldSilver_Window")
                                            .Title("GoldSilver")
                                            .FullScreen(false)
                                            .MaxWidth(670)
                                            .OnShowing("PopupOnShowing")
                                            .ShowCloseButton(true)
                                            .ContentTemplate(@<text>
                                                <div id="GoldSilverresult">
                                                </div>
                                            </text>)
                                                            .OnHiding(@<text>
                                                                function () {
                                                                if(IsSucessPopup == false && IsViewPopup == false)
                                                                {
                                                                var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                                                result.done(function (dialogResult) {
                                                                if(dialogResult){
                                                                $("#popup_frm_GoldSilver_Window").dxPopup("hide");
                                                                }else
                                                                {
                                                                $("#popup_frm_GoldSilver_Window").dxPopup("show");
                                                                }
                                                                });
                                                                }
                                                                }
                                                            </text>)
        )
        </div>
    </div>
    @*Javascript Events*@
<script type="text/javascript">
    var GS_ShowHorizontalBar = parseInt("@ViewBag.ShowHorizontalBar");
    var IsSucessPopup = false;
    var IsViewPopup = false;
    var GSProfile_SetVouchingModeOn = "@GSProfile_Auto_Vouching_Mode" == "True" ? true : false;
    var UserType_GoldandSPrf = "@UserType".toUpperCase();
    var GoldSilver_IsVouchingMode = false;
    var GoldSilver_FocusedRowBeforeRefresh;
    var GoldS_ViewMode = "Default";
            $(document).ready(function () {
                if ("@GoldS_AddRight" == "False")
                {
	                $("#GoldSilverModelNew").hide();
                }
                if ("@GoldS_UpdateRight" == "False")
                {
                    $("#GoldSilverModelEdit").hide();
                }
                if ("@GoldS_ViewRight" == "False")
                {
                    $("#GoldSilverModelView").hide();
                }
                if ("@GoldS_DeleteRight" == "False")
                {
                    $("#GoldSilverModelDelete").hide();
                }
                if ("@GoldS_ExportRight" == "False")
                {
                    $("#GoldSilverModelListPreview").hide();
                }
                if ("@GoldS_LockUnlockRight" == "False")
                {
                    $("#GSModelUnlock").hide();
                    $("#GSModelLock").hide();
                }

                IsSucessPopup = false;
                IsViewPopup = false;
                //SetGoldSilverGroupPanelFooterVisible();
                //SetGoldSilverFooterVisible();

                $(".GoldSilverListGrid_PreviewRow").hide();
                GetSessionStorage("GoldSilverListGrid");
                if (GSProfile_SetVouchingModeOn == true)
                {
                    $("#GoldSViewModeSwitch").dxSwitch("instance").option("value", true);
                }
            });
            $(".TabPanalMenu-tabs .active span").on("click", function () {
                $.ajax({
                    type: 'GET',
                    url: "/Profile/GoldSilver/SessionClear",
                    cache: false
                });
                CloseRightPane();
                ClearLeftPane();
                CloseLeftPane();
                ClearAllReferences_GoldSilverProfile();
            });

    function ClearAllReferences_GoldSilverProfile() {
        GS_ShowHorizontalBar = null;
        IsSucessPopup = null;
        IsViewPopup = null;
        GSProfile_SetVouchingModeOn = null;
        UserType_GoldandSPrf = null;
        GoldSilver_IsVouchingMode = null;
        GoldSilver_FocusedRowBeforeRefresh = null;
        GoldS_ViewMode = null;
        GS_ColumnToBeShownIndex = null;
        GS_ColumnToBeHidddenIndex = null;
        GoldSilverID = null;
        GoldSilver_EditDate = null;
        GoldSilver_AddDate = null;
        GoldSilver_AddBy = null;
        GoldSilver_EditBy = null;
        GoldSilver_ActionStatus = null;
        GoldSilver_Action_Date = null;
        GoldSilver_Action_By = null;
        GoldSilverTr_ID = null;
        GoldSilver_YearID = null;
        GoldSilver_OpenAction = null;
        GoldSilver_EntryType = null;
        GoldSilverInfo_IsDetailRowExpanded = null;
        GoldSilverInfo_NestedRecord_FocusedRowIndex = null;
        GoldSilverInfo_NestedGrid_AccessID = null;
        GoldSilverInfo_AtachmentID = null;
        GoldSilverInfo_FileName = null;
        GoldSilverInfo_ParamMandatory = null;
        GoldSilverInfo_FromDateLabel = null;
        GoldSilverInfo_ToDateLabel = null;
        GoldSilverInfo_DescriptionLabel = null;
        GoldSilverInfo_Doc_ID = null;
        GoldSilverInfo_Doc_Category = null;
        GoldSilverInfo_MasterRowRecID = null;
        GoldSilverInfo_MasterRowMID = null;
        GoldSilverInfo_NestedRowMapID = null;
        GoldSilverInfo_reason = null;
        GoldSilverInfo_Attachment_RecStatus = null;
        GoldSilverInfo_NestedRowReasonID = null;
        GoldSilverInfo_NestedRowKeyValue = null;
        ClearAllReferences("GoldSilverProfile_ClearReferences");
    }
    function OnGoldandSCellClick(event, cell,col, row)
    {
        if (UserType_GoldandSPrf == "AUDITOR" || UserType_GoldandSPrf == "SUPERUSER")
        {
            if (event.button == 0)
            {
                if (cell.style.backgroundColor.length > 0)
                {
                    cell.style.backgroundColor = "";
                }
                else
                {
                    cell.style.backgroundColor = 'skyblue';
                }
            }
        }
    }
    function GoldSilver_VouchingSwitch_ValueChange(e)
    {
        GoldSilver_IsVouchingMode = e.value;
        GoldSilverListGrid.SetFocusedRowIndex(-1);
        GoldSilverPrf_FAB.SetVisible(false);
        if (GoldSilver_IsVouchingMode == true) {
            OpenRightPane();
            ClearLeftPane();
            OpenLeftPane();
        }
        else {
            GoldSilverPrf_FAB.SetActionContext("AddAttachmentContext", false);
            CloseRightPane();
            ClearLeftPane();
            CloseLeftPane();
        }
        GoldSilverListGrid_CollapseAllDetailRows();
    }
    function GoldSilverListGrid_CollapseAllDetailRows()
    {
        if (typeof window !== 'undefined')
        {
            if (typeof window.GoldSilverListGrid !== 'undefined')
            {
                if (typeof window.GoldSilverListGrid.CollapseAllDetailRows !== 'undefined')
                {
                    if (typeof GoldSilverListGrid.CollapseAllDetailRows == 'function')
                    {
                        GoldSilverListGrid.SetFocusedRowIndex(-1);
                        GoldSilverListGrid.CollapseAllDetailRows();
                    }
                    else
                    {
                        alert("CollapseAllDetailRows is not a function");
                    }
                }
                else
                {
                    ShowLoader();
                    setTimeout(function ()
                    {
                        GoldSilverListGrid_CollapseAllDetailRows();
                        HideLoader();
                    }, Timeout100);
                }
            }
            else
            {
                alert('grid undefined')
            }
        }
        else
        {
            alert('window undefined')
        }
    }
    function GoldS_ViewSwitch_ValueChange(e)
    {
        GoldS_ViewMode = e.value == false ? "Default" : "Compact";
        if (GSProfile_SetVouchingModeOn == true)
        {
            $("#GoldSilverVouchingModeSwitch").dxSwitch("instance").option("value", true);
        }
        else
        {
            GoldSilverListGrid.CollapseAllDetailRows();
        }
    }
            function GoldSilverOnInit(s, e) {
                GoldSilverAdjustSize();
                ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                    GoldSilverAdjustSize();
                });
    }
    var GS_ColumnToBeShownIndex = "";
    var GS_ColumnToBeHidddenIndex = "";
    function OnGridGoldSilverListGrid_EndCallback(s, e)
    {
        GoldSilverGridLayout = s.cpClientLayout;
        GS_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
        GS_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex;
        $(".GoldSilverListGrid_PreviewRow").hide();
        GetSessionStorage("GoldSilverListGrid");
        SendCustomArgs_FilterControl(s, e);
        if (e.command == "REFRESH" && GoldSilver_IsVouchingMode == true )
        {
            s.SetFocusedRowIndex(-1);
            s.SetFocusedRowIndex(GoldSilver_FocusedRowBeforeRefresh);
        }
    }
            function GoldSilverAdjustSize() {
                var height = (document.documentElement.clientHeight * 90) / 100;
                try { GoldSilverListGrid.SetHeight(height); } catch (err) { }
            }
            function GoldSilverchangeMode() {
                ShowLoader();
                if (GS_ShowHorizontalBar == 0) {
                    GS_ShowHorizontalBar = 1;
                    $("#GoldSilverToggleScrollBar").find("span").text("Default Data");
                    $("#GoldSilverToggleScrollBar").width(110);
                }
                else {
                    GS_ShowHorizontalBar = 0;
                    $("#GoldSilverToggleScrollBar").find("span").text("Full Data");
                    $("#GoldSilverToggleScrollBar").width(90);
                }
                $.ajax({
                    url: '@Url.Action("Frm_GoldSilver_Info_Grid", "GoldSilver")',
                    type: "GET",
                    data: { ShowHorizontalBar: GS_ShowHorizontalBar, VouchingMode: GoldSilver_IsVouchingMode, ViewMode: GoldS_ViewMode, ColumnToBeHidddenIndex: GS_ColumnToBeHidddenIndex, ColumnToBeShownIndex: GS_ColumnToBeShownIndex  },
                    success: function (res) {
                        $("#GoldSilverreloadPartialView").html(res);
                        $(".GoldSilverListGrid_PreviewRow").hide();
                        GetSessionStorage("GoldSilverListGrid");
                    }
                });
                HideLoader();
            }
            function GoldSilver_dblclickEdit(s, e) {
                //var key = s.GetRowKey(s.GetFocusedRowIndex());
                //DepositsListGrid.GetValuesOnCustomCallback({ key: key }, DepositsOnGetRowValues);
                //if (DepositsID != null || DepositsID == 'undefined' || DepositsID == undefined)
                //    OnDepositsEditClick();
            }

            function GoldSilverGrid_BeginCallBack(s, e)
            {
                GoldSilver_FocusedRowBeforeRefresh = s.GetFocusedRowIndex();
                e.customArgs["command"] = e.command;
                e.customArgs["ShowHorizontalBar"] = GS_ShowHorizontalBar;
                e.customArgs["VouchingMode"] = GoldSilver_IsVouchingMode;
                e.customArgs["ViewMode"] = GoldS_ViewMode;
                e.customArgs["ColumnToBeShownIndex"] = GS_ColumnToBeShownIndex;
                e.customArgs["ColumnToBeHidddenIndex"] = GS_ColumnToBeHidddenIndex;
            }

            function GoldSilverAjaxSuccessForm(data) {
                if (data.result == false) {
                    DevExpress.ui.dialog.alert(data.Message, "Error");
                }
                else {
                    IsSucessPopup = true;
                    DevExpress.ui.dialog.alert(data.Message, "Success");
                    $("#popup_frm_GoldSilver_Window").dxPopup("hide");
                    GoldSilverListGrid.Refresh();
                    IsSucessPopup = false;
                }
            }

            var GoldSilverID;
            var GoldSilver_EditDate;
            var GoldSilver_AddDate;
            var GoldSilver_AddBy;
            var GoldSilver_EditBy;
            var GoldSilver_ActionStatus;
            var GoldSilver_Action_Date;
            var GoldSilver_Action_By;
            var GoldSilverTr_ID;
            var GoldSilver_YearID;
            var GoldSilver_OpenAction;
            var GoldSilver_EntryType;
    function OnGoldSilverGridFocusedRowChanged(s, e)
    {
        if (s.GetFocusedRowIndex() > -1)
        {
            if (GoldSilver_IsVouchingMode == true) {
                GoldSilverPrf_FAB.SetVisible(true);
                GoldSilverPrf_FAB.SetActionContext("VouchingActionContext", true);
            }

            s.GetRowValues(s.GetFocusedRowIndex(), 'ID;Edit_Date;Add_Date;Add_By;Edit_By;Action_Status;Action_Date;Action_By;TR_ID;YearID;Entry_Type', OnGetRowValues_GoldSilver);
        }
        else
        {
            GoldSilverID = null;
        }
    }
    function OnGetRowValues_GoldSilver(values)
    {
        GoldSilverID = values[0];
        GoldSilver_EditDate = values[1];
        GoldSilver_AddDate = values[2];
        GoldSilver_AddBy = values[3];
        GoldSilver_EditBy = values[4];
        GoldSilver_ActionStatus = values[5];
        GoldSilver_Action_Date = values[6];
        GoldSilver_Action_By = values[7];
        GoldSilverTr_ID = values[8];
        GoldSilver_YearID = values[9];
        GoldSilver_EntryType = values[10];
        GoldSilver_UpdateFooterDetail(GoldSilverID, GoldSilver_ActionStatus, GoldSilver_AddDate, GoldSilver_AddBy, GoldSilver_Action_Date, GoldSilver_Action_By, GoldSilver_EditDate, GoldSilver_EditBy);
        if (GoldSilver_IsVouchingMode == true)
        {
            OpenLeftPane();
            LoadDocumentAndAdditionalInfoInLeftPane("Profile", "GoldSilver", "LeftPaneContent", GoldSilverID, GoldSilver_IsVouchingMode, "");
        }
    }


            function GoldSilver_UpdateFooterDetail(GoldSilverID, GoldSilver_Action_Status, GoldSilver_Add_Date, GoldSilver_Add_By, GoldSilver_Action_Date, GoldSilver_Action_By, GoldSilver_Edit_Date, GoldSilver_Edit_By) {
                GoldSilver_Action_Date = GoldSilver_Action_Date != "" && GoldSilver_Action_Date != null ? GoldSilver_Action_Date : GoldSilver_Action_Date;
                GoldSilver_Edit_Date = GoldSilver_Edit_Date != "" && GoldSilver_Edit_Date != null ? GoldSilver_Edit_Date : GoldSilver_Edit_Date;
                GoldSilver_Add_Date = GoldSilver_Add_Date != "" && GoldSilver_Add_Date != null ? GoldSilver_Add_Date : GoldSilver_Add_Date;
                $.ajax({
                    type: 'GET',
                    url: "/Profile/GoldSilver/CreationDetail",
                    data: {
                        Xrow: GoldSilverID, Action_Status: GoldSilver_Action_Status, Add_Date: GoldSilver_Add_Date,
                        Add_By: GoldSilver_Add_By, Action_Date: GoldSilver_Action_Date, Action_By: GoldSilver_Action_By, Edit_Date: GoldSilver_Edit_Date, Edit_By: GoldSilver_Edit_By
                    },
                    cache: false,
                    success: function (GoldSilverLbl_result) {
                        $('#GoldSilver_Lbl_ActionOn').text(GoldSilverLbl_result.Lbl_StatusOn);
                        $('#GoldSilver_Lbl_ActionBy').text(GoldSilverLbl_result.Lbl_StatusBy);
                        $('#GoldSilverLbl_Status').text(GoldSilverLbl_result.Lbl_Status);
                        $('#GoldSilverLbl_Create').text(GoldSilverLbl_result.Lbl_Create);
                        $('#GoldSilverLbl_Modify').text(GoldSilverLbl_result.Lbl_Modify);
                        $('#GoldSilverLbl_By').text(GoldSilverLbl_result.Lbl_By);
                        if (GoldSilverLbl_result.Lbl_Status_Color != "") {
                            //   $('#GoldSilverLbl_Status').css('color', GoldSilverLbl_result.Lbl_Status_Color);
                            $("#GoldSilver_LockICON").removeClass('fa-lock');
                            $("#GoldSilver_LockICON").removeClass('fa-unlock');
                            $("#GoldSilver_LockICON").addClass(GoldSilverLbl_result.Lbl_Status_Color);
                        }
                    }
                });
            }
            function GoldSilverContextMenuFunction(s, e) {
                if (e.item.name == 'New') {
                    OnGoldSilverNewClick();
                }
                if (e.item.name == 'Close') {
                    closeProfile_GoldSilver();
                }
                else if (e.item.name == 'Edit') {
                    OnGoldSilverEditClick();
                }
                else if (e.item.name == 'Delete') {
                    OnGoldSilverDeleteClick();
                }
                else if (e.item.name == 'View') {
                    OnGoldSilverViewClick();
                }
                else if (e.item.name == 'NewAudit') {
                    OnNewAuditClick();
                }
                else if (e.item.name == 'ViewAudit') {
                    OnViewAuditClick();
                }
                else if (e.item.name == 'Lock') {
                    OnGSLockClick();
                }
                else if (e.item.name == 'UnLock') {
                    OnGSUnLockClick()
                }
                else if (e.item.name == 'ListPreview') {
                    OnGoldSilverListPreviewClick();
                }
                else if (e.item.name == 'Refresh') {
                    GoldSilverListGrid.Refresh();
                }


        }

        function closeProfile_GoldSilver() {
            $(".TabPanalMenu-tabs .active span").click();

        }

            function OnNewAuditClick() {
                if ("@GoldS_AddHelp_ActionItemsRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                OpenDynamicPopup("New ~ Action", "@Url.Action("Frm_Action_Items_Window", "ActionItems", new { @area = "Help" })?ActionMethod=" + "New", "auto", 680);
            }
            function OnViewAuditClick() {
                if ("@GoldS_ListHelp_ActionItemsRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                OpenDynamicPopup("View ~ Action", "@Url.Action("Frm_Action_Items_Info", "ActionItems", new { @area = "Help" })", "auto", 680);
            }
            function OnGoldSilverNewClick() {
                if ("@GoldS_AddRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                IsViewPopup = false;
                $("#popup_frm_GoldSilver_Window").dxPopup("instance").option("contentTemplate", "<div id='result_Dynamic_Content_popup'></div>");
                $("#result_Dynamic_Content_popup").html('');
                $("#popup_frm_GoldSilver_Window").dxPopup("instance").option("title", "New ~ GoldSilver");
                $("#popup_frm_GoldSilver_Window").dxPopup("show");
                $("#popup_frm_GoldSilver_Window").dxPopup("instance").option("maxHeight", 260)
                $("#popup_frm_GoldSilver_Window").dxPopup("instance").option("maxWidth", 670)
                $("#popup_frm_GoldSilver_Window").dxPopup("instance").option("FullScreen", false)
                ShowLoader();
                $("#result_Dynamic_Content_popup").load("@Url.Action("Frm_GoldSilver_window", "GoldSilver", new { @area = "Profile" })?ActionMethod=New&PopupID=popup_frm_GoldSilver_Window", function () {
                    HideLoader();
                });

            }

            function OnGoldSilverEditClick() {
                if ("@GoldS_UpdateRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                IsViewPopup = false;
                if (GoldSilverID == "" || GoldSilverID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: "/Profile/GoldSilver/DataNavigation",
                    data: { ActionMethod: "Edit", id: GoldSilverID, Edit_Date: GoldSilver_EditDate, TR_ID: GoldSilverTr_ID, Action_Status: GoldSilver_ActionStatus },
                    cache: false,
                    success: function (GoldSilver_Edit_ButtonClick_result) {
                        if (GoldSilver_Edit_ButtonClick_result.result == "true" || GoldSilver_Edit_ButtonClick_result.result == true) {

                            IsSucessPopup = true;

                            OpenDynamicPopup("Edit ~ GoldSilver", "@Url.Action("Frm_GoldSilver_window", "GoldSilver", new { @area = "Profile" })?ActionMethod=" + "Edit" + "&id=" + GoldSilverID + "&Edit_Date=" + GoldSilver_EditDate + "&PopupID=Dynamic_Content_popup", "auto", 680);
                        }
                        else {
                            DevExpress.ui.dialog.alert(GoldSilver_Edit_ButtonClick_result.Message);
                            GoldSilverListGrid.Refresh();
                            HideLoader();
                        }
                    }
                });
            }

            function OnGoldSilverViewClick() {
                if ("@GoldS_ViewRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                if (GoldSilverID == "" || GoldSilverID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: "/Profile/GoldSilver/DataNavigation",
                    data: { ActionMethod: "View", id: GoldSilverID, Edit_Date: GoldSilver_EditDate },
                    cache: false,
                    success: function (GoldSilver_View_ButtonClick_result) {
                        if (GoldSilver_View_ButtonClick_result.result == "true" || GoldSilver_View_ButtonClick_result.result == true) {
                            IsViewPopup = true;
                            IsSucessPopup = true;

                            OpenDynamicPopup("View ~ GoldSilver","@Url.Action("Frm_GoldSilver_window", "GoldSilver", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + GoldSilverID + "&EditedOn=" + GoldSilver_EditDate + "&PopupID=Dynamic_Content_popup","auto",670)
                        }
                        else {
                            DevExpress.ui.dialog.alert(GoldSilver_View_ButtonClick_result.Message);
                            GoldSilverListGrid.Refresh();
                        }
                    }
                });
            }
            function OnGSLockClick() {
                if ("@GoldS_LockUnlockRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                if (GoldSilverID == "" || GoldSilverID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: "/Profile/GoldSilver/DataNavigation",
                    data: { ActionMethod: "Locked", id: GoldSilverID, Edit_Date: GoldSilver_EditDate, Entry_Type: GoldSilver_EntryType, Action_Status: GoldSilver_ActionStatus },
                    cache: false,
                    success: function (GoldSilver_LOCKED_Get_DataNavigation_result) {

                        if (GoldSilver_LOCKED_Get_DataNavigation_result.Message == "Already Locked Entries can\'t be Re-Locked...!") {
                            DevExpress.ui.dialog.alert(GoldSilver_LOCKED_Get_DataNavigation_result.Message, "Record Status has been changed in the background by another user");
                        }
                        else if (GoldSilver_LOCKED_Get_DataNavigation_result.result == "NoLockRights"){
                            DevExpress.ui.dialog.alert(GoldSilver_LOCKED_Get_DataNavigation_result.Message,"Locked..");
                        }
                        else {
                            DevExpress.ui.dialog.alert(GoldSilver_LOCKED_Get_DataNavigation_result.Message);
                        }

                        GoldSilverListGrid.Refresh();
                    }

                });
            }
            function OnGSUnLockClick() {
                if ("@GoldS_LockUnlockRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                if (GoldSilverID == "" || GoldSilverID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: "/Profile/GoldSilver/DataNavigation",
                    data: { ActionMethod: "UnLocked", id: GoldSilverID, Edit_Date: GoldSilver_EditDate, Entry_Type: GoldSilver_EntryType, Action_Status: GoldSilver_ActionStatus },
                    cache: false,
                    success: function (GoldSilver_LOCKED_Get_DataNavigation_result) {

                        if (GoldSilver_LOCKED_Get_DataNavigation_result.Message == "Already Locked Entries can\'t be Re-Locked...!") {
                            DevExpress.ui.dialog.alert(GoldSilver_LOCKED_Get_DataNavigation_result.Message, "Record Status has been changed in the background by another user");
                        }
                        else if (GoldSilver_LOCKED_Get_DataNavigation_result.result == "NoUnLockRights") {
                            DevExpress.ui.dialog.alert(GoldSilver_LOCKED_Get_DataNavigation_result.Message,"Locked..");
                        }
                        else {
                            DevExpress.ui.dialog.alert(GoldSilver_LOCKED_Get_DataNavigation_result.Message);
                        }

                        GoldSilverListGrid.Refresh();
                    }

                });
            }
            function OnGoldSilverDeleteClick() {
                if ("@GoldS_DeleteRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                IsViewPopup = true;
                if (GoldSilverID == '' || GoldSilverID == undefined) {
                    DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                    return;
                }
                var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
                result.done(function (dialogResult) {
                    if (dialogResult) {
                        $.ajax({
                            type: 'GET',
                            url: "/Profile/GoldSilver/DataNavigation",
                            data: {
                                ActionMethod: "Delete", id: GoldSilverID, YearID: GoldSilver_YearID, Action_Status: GoldSilver_ActionStatus,
                                TR_ID: GoldSilverTr_ID, OpenActions: GoldSilver_OpenAction, Edit_Date: GoldSilver_EditDate
                            },
                            cache: false,
                            success: function (GoldSilver_Delete_ButtonClick_result) {
                                if (GoldSilver_Delete_ButtonClick_result.result == "true" || GoldSilver_Delete_ButtonClick_result.result == true) {

                                    OpenDynamicPopup("Delete ~ GoldSilver","@Url.Action("frm_GoldSilver_window", "GoldSilver", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + GoldSilverID + "&EditedOn=" + GoldSilver_EditDate + "&PopupID=Dynamic_Content_popup","auto",670)
                                }
                                else {
                                    DevExpress.ui.dialog.alert(GoldSilver_Delete_ButtonClick_result.Message);
                                    GoldSilverListGrid.Refresh();
                                }
                            }
                        });
                    }
                });
            }

            function OnGoldSilverListPreviewClick() {
                if ("@GoldS_ExportRight" == "False")
                {
	                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	                return;
                }
                $("#GoldSilver_report_modal").dxPopup("show");
                $("#GoldSilver_report_modal").dxPopup("instance").option("title", "Export Option");
                $("#GoldSilver_report_modal").html('');
                ShowLoader();
                $("#GoldSilver_report_modal_result").load("@Url.Action("Frm_Export_Options", "GoldSilver", new { @area = "Profile" })", function () {
                    HideLoader();
                });
            }

            function GetSelectedFieldValuesCallback(values) {
                SelectedRows.BeginUpdate();
                try {
                    SelectedRows.ClearItems();
                    for (var i = 0; i < values.length; i++) {
                        SelectedRows.AddItem(values[i]);
                    }
                } finally {
                    SelectedRows.EndUpdate();
                }
                $("#count").html(gvRowSelection.GetSelectedRowCount());

            }
</script>

    <script>
    var GoldSilverInfo_IsDetailRowExpanded = false;
    var GoldSilverInfo_NestedRecord_FocusedRowIndex = -1;
    var GoldSilverInfo_NestedGrid_AccessID;
    var GoldSilverInfo_AtachmentID;
    var GoldSilverInfo_FileName;
    var GoldSilverInfo_ParamMandatory;
    var GoldSilverInfo_FromDateLabel;
    var GoldSilverInfo_ToDateLabel;
    var GoldSilverInfo_DescriptionLabel;
    var GoldSilverInfo_Doc_ID;
    var GoldSilverInfo_Doc_Category;
    var GoldSilverInfo_MasterRowRecID;
    var GoldSilverInfo_MasterRowMID;
    var GoldSilverInfo_NestedRowMapID;
    var GoldSilverInfo_reason;
    var GoldSilverInfo_Attachment_RecStatus;
    var GoldSilverInfo_NestedRowReasonID;
    var GoldSilverInfo_NestedRowKeyValue;

    function On_GoldSilverProfile_FABActionItemClick(s, e)
    {
        var img = document.getElementById('RightPane_Img');
        s.ExpandActionGroupItems();
        if (e.actionName === "add_attach")
        {
            if ("@Help_Attachment_AddRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (GoldSilverInfo_ParamMandatory == 1)
            {
                AddAttachment(GoldSilverInfo_MasterRowRecID, "Profile_GoldSilver", GoldSilverInfo_Doc_ID, GoldSilverInfo_Doc_Category, GoldSilverInfo_ParamMandatory, GoldSilverInfo_FromDateLabel, GoldSilverInfo_ToDateLabel, GoldSilverInfo_DescriptionLabel, "GoldSilverProfileAttachment", null, "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
            }
            else
            {
                Attachment_DirectBrowse(GoldSilverInfo_MasterRowRecID, "Profile_GoldSilver", GoldSilverInfo_Doc_ID, "GoldSilverProfileAttachment", "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "edit_attach")
        {
            if ("@Help_Attachment_EditRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            if (GoldSilverInfo_Attachment_RecStatus.toUpperCase() == "LOCKED")
            {
                DevExpress.ui.dialog.alert("Locked Attachment Cannot Be Edited", "Error");
                return;
            }
            EditAttachment(GoldSilverInfo_MasterRowRecID, "Profile_GoldSilver", GoldSilverInfo_AtachmentID, GoldSilverInfo_ParamMandatory, GoldSilverInfo_FromDateLabel, GoldSilverInfo_ToDateLabel, GoldSilverInfo_DescriptionLabel, "GoldSilverProfileAttachment", null, "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "delete_attach")
        {
            if ("@Help_Attachment_DeleteRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }
            DeleteAttachment(GoldSilverInfo_MasterRowRecID, "Profile_GoldSilver", GoldSilverInfo_AtachmentID, GoldSilverInfo_ParamMandatory, GoldSilverInfo_FromDateLabel, GoldSilverInfo_ToDateLabel, GoldSilverInfo_DescriptionLabel, null, "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID, GoldSilverInfo_Attachment_RecStatus);
        }
        else if (e.actionName === "view_attach")
        {
            if ("@Help_Attachment_ViewRight" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed", "No Rights");
                return;
            }


            ViewDocument(GoldSilverInfo_AtachmentID, GoldSilverInfo_FileName, s.uniqueID, "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
        }
        else if (e.actionName == "Link_Attach")
        {
            LinkAttachment(GoldSilverInfo_MasterRowRecID, "Profile_GoldSilver", "Gold/Silver Information", "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Add_Reason")
        {
            if (GoldSilverInfo_Doc_Category.toLowerCase() == "others")
            {
                DevExpress.ui.dialog.alert("Reason can not be mentioned for 'Other' document...!!", 'Information!');
            }
            else {
                AttachmentAddReason(GoldSilverInfo_MasterRowRecID, GoldSilverInfo_NestedRowMapID, "Profile_GoldSilver", "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
            }
        }
        else if (e.actionName === "Edit_Reason")
        {
            AttachmentEditReason(GoldSilverInfo_MasterRowRecID, GoldSilverInfo_NestedRowMapID, "Profile_GoldSilver", "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID, GoldSilverInfo_reason);
        }
        else if (e.actionName === "Delete_Reason")
        {
            AttachmentDeleteReason(GoldSilverInfo_MasterRowRecID, GoldSilverInfo_NestedRowMapID, "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
        }
        else if (e.actionName === "Rotate")
        {
            ImageRotate(img);
        }
        else if (e.actionName === "ZoomOut")
        {
            ImageZoomOut(img);
        }
        else if (e.actionName === "ZoomIn")
        {
            ImageZoomIn(img);
        }
        else if (e.actionName == "Fit")
        {
            ImageFit(img);
        }
        else if (e.actionName == "Back")
        {
            ImageBack(s.uniqueID, "actionItemContext");
        }
        else if (e.actionName == "AuditAction")
        {
            GoldSilverPrf_FAB.SetActionContext("AuditActionContext", true);
        }
        else if (e.actionName == "BackAudit")
        {
            if (GoldSilverInfo_Nested_Doc_Status == "")
            {
                GoldSilverPrf_FAB.SetActionContext("AutoItemContext", true);
            }
            if (GoldSilverInfo_Nested_Doc_Status == "NO")
            {
                GoldSilverPrf_FAB.SetActionContext("EditItemContext", true);
            }
            if (GoldSilverInfo_Nested_Doc_Status == "YES")
            {
                GoldSilverPrf_FAB.SetActionContext("actionItemContext", true);
            }
        }
        else if (e.actionName == "Accept")
        {
            GoldSilverInfo_AcceptwithoutRemarks();
        }
        else if (e.actionName == "Reject")
        {
            GoldSilverInfo_AcceptRejectVoucher("Reject");
        }
        else if (e.actionName == "AcceptWithRemarks")
        {
            GoldSilverInfo_AcceptRejectVoucher("Accept");
        }
        else if (e.actionName == "AcceptDoc") {

            OnGoldSilverInfo_AcceptDoc();
        }
        else if (e.actionName == "RejectDoc") {

            OnGoldSilverInfo_RejectDoc();
        }
    }
    function OnGoldSilverInfo_RejectDoc() {
        if (GoldSilverInfo_AtachmentID == null || GoldSilverInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        RejectAttachment(GoldSilverInfo_AtachmentID, "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
    }
    function OnGoldSilverInfo_AcceptDoc() {
        if (GoldSilverInfo_AtachmentID == null || GoldSilverInfo_AtachmentID.length == 0) {
            DevExpress.ui.dialog.alert("No Document Attached..", "Error");
            return;
        }
        AcceptAttachment(GoldSilverInfo_AtachmentID, "GoldSilverListGrid", GoldSilverInfo_NestedGrid_AccessID);
    }
    function GoldSilverInfo_AcceptwithoutRemarks()
    {
        var Recid;
        if (GoldSilverInfo_IsDetailRowExpanded == true || GoldSilver_IsVouchingMode == true)
        {
            if (GoldSilverInfo_MasterRowRecID == null || GoldSilverInfo_MasterRowRecID == "") {
                Recid = GoldSilverID;;
            }
            else
            {
                Recid = GoldSilverInfo_MasterRowRecID;
            }
        }
        else
        {
            Recid = GoldSilverID;;
        }

        Entry_AcceptwithoutRemarks(Recid, "Profile_GoldSilver", "GoldSilverListGrid", GoldSilverInfo_AtachmentID, GoldSilverInfo_NestedRowReasonID, GoldSilverInfo_NestedRowKeyValue);
    }
    function GoldSilverInfo_AcceptRejectVoucher(_actionMethod)
    {
        var Recid;

        if (GoldSilverInfo_IsDetailRowExpanded == true || GoldSilver_IsVouchingMode == true)
        {
            if (GoldSilverInfo_MasterRowRecID == null || GoldSilverInfo_MasterRowRecID == "")
            {
                Recid = ID;
            }
            else
            {
                Recid = GoldSilverInfo_MasterRowRecID;
            }
        }
        else {
            Recid = ID;
        }
        Entry_AcceptReject(_actionMethod, Recid, "Profile_GoldSilver", "GoldSilverListGrid", GoldSilverInfo_AtachmentID, GoldSilverInfo_NestedRowReasonID, GoldSilverInfo_NestedRowKeyValue);
    }
    function OnGoldSilverListGridNestedFocusedRowChange(s, e)
    {
        if (GoldSilverInfo_IsDetailRowExpanded == true || GoldSilver_IsVouchingMode == true)
        {
            GoldSilverInfo_NestedRecord_FocusedRowIndex = s.GetFocusedRowIndex();
            if (GoldSilverInfo_NestedRecord_FocusedRowIndex >= 0)
            {
                ShowLoader();
                GoldSilverInfo_NestedGrid_AccessID = s.uniqueID;
                s.GetRowValues(s.GetFocusedRowIndex(), 'Doc_Status;Params_Mandatory;LABEL_FROM_DATE;LABEL_TO_DATE;LABEL_DESCRIPTION;Document_Category;Document_ID;ATTACH_ID;TxnID;TxnMID;MAP_ID;Reason;ATTACH_FILE_NAME;Attachment_Action_Status;UniqueID;ReasonID', OnGoldSilverInfo_GetGridRowValues);
            }
            else
            {
                GoldSilverPrf_FAB.SetActionContext("AddAttachmentContext", false);
            }
        }
    }
    function OnGoldSilverInfo_GetGridRowValues(values)
    {
        HideLoader();
        if (values[14] != null)
        {
            GoldSilverPrf_FAB.SetVisible(true);
            GoldSilverInfo_Nested_Doc_Status = values[0];
            if (GoldSilver_IsVouchingMode == true) {
                GoldSilverPrf_FAB.SetActionContext("AuditActionContext", true);
            }
            else {
                if (GoldSilverInfo_Nested_Doc_Status == "") {
                    GoldSilverPrf_FAB.SetActionContext("AutoItemContext", true);
                }
                else if (GoldSilverInfo_Nested_Doc_Status == "NO") {
                    GoldSilverPrf_FAB.SetActionContext("EditItemContext", true);
                }
                else if (GoldSilverInfo_Nested_Doc_Status == "YES") {
                    GoldSilverPrf_FAB.SetActionContext("actionItemContext", true);
                }
            }

            GoldSilverInfo_ParamMandatory = values[1];
            GoldSilverInfo_FromDateLabel = values[2];
            GoldSilverInfo_ToDateLabel = values[3];
            GoldSilverInfo_DescriptionLabel = values[4];
            GoldSilverInfo_Doc_Category = values[5];
            GoldSilverInfo_Doc_ID = values[6];
            GoldSilverInfo_AtachmentID = values[7];
            IndexAttachmentID = GoldSilverInfo_AtachmentID;
            GoldSilverInfo_MasterRowRecID = values[8];
            GoldSilverInfo_MasterRowMID = values[9];
            GoldSilverInfo_NestedRowMapID = values[10];
            GoldSilverInfo_reason = values[11];
            GoldSilverInfo_FileName = values[12];
            GoldSilverInfo_Attachment_RecStatus = values[13];
            GoldSilverInfo_NestedRowKeyValue = values[14];
            if (GoldSilver_IsVouchingMode == true)
            {
                if (GoldSilverInfo_FileName != null && GoldSilverInfo_FileName.length > 0)
                {
                    ViewDocument(GoldSilverInfo_AtachmentID, GoldSilverInfo_FileName, "GoldSilverPrf_FAB", "ImageToolBarContext", document.getElementById('RightPane_Iframe'), document.getElementById('RightPane_Img'), document.getElementById('RightPane_div_Iframe'), document.getElementById('RightPane_div_Img'), Mainspliter.GetPaneByName('RightPane'));
                }
                else
                {
                    CloseRightPane();
                    ClearRightPane();
                }
            }
        }
        GoldSilverInfo_NestedRowReasonID = values[15];
        IndexAttachmentReasonID = GoldSilverInfo_NestedRowReasonID;
    }
    function GoldSilverGrid_Nested_BeginCallBack(s, e)
    {
        e.customArgs["ShowHorizontalBar"] = GS_ShowHorizontalBar;
        e.customArgs["VouchingMode"] = GoldSilver_IsVouchingMode;
        e.customArgs["command"] = e.command;
    }
    function GoldSilverGrid_DetailRowExpanding(s, e)
    {
        GoldSilverInfo_IsDetailRowExpanded = true;
        s.SetFocusedRowIndex(e.visibleIndex);
        var pane = Mainspliter.GetPaneByName('RightPane');
        if (GoldSilver_IsVouchingMode == true)
        {
            pane.Expand();
        }
        else
        {
            pane.Collapse(Mainspliter.GetPaneByName('MiddlePane'));
        }
    }
    function GoldSilverGrid_DetailRowCollapsing(s, e)
    {
        GoldSilverInfo_IsDetailRowExpanded = false;
        s.SetFocusedRowIndex(e.visibleIndex);
        if (GoldSilver_IsVouchingMode == true)
        {
            if (Mainspliter.GetPaneByName('RightPane').IsCollapsed() == false)
            {
                CollapsePane(Mainspliter.GetPaneByName('RightPane'), Mainspliter.GetPaneByName('MiddlePane'));
            }
        }
        else
        {
            GoldSilverPrf_FAB.SetVisible(false);
        }
    }
    </script>
    @*attachment and nested grid*@

</div>