@using DevExtreme.AspNet.Mvc;
@using DevExpress;
@using DevExpress.Web.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = null;
}
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<style>
    div#PeriodSelection {
        width: 100%;
    }

    .footer_smallbtns {
        padding-left: 16px !important;
    }

    .form-field {
        margin: 0px 0px;
        padding: 5px 4px 4px 4px;
        box-shadow: 1px 1px 0 0px #89b9eb inset, 1px 1px 0 0px #89b9eb;
        background: #dfebf8;
        background: -webkit-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        background: -o-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        background: -moz-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
    }

    .Voucher_info_ul a:hover .items_Div {
        border: 2px solid #184c97;
    }

    .Voucher_info_ul a:hover .text_div {
        color: #184c97;
    }

    @@media only screen and (max-width:640px) and (min-width:300px) {
        .display_inlineR {
            width: 100%;
        }
    }

    .dataselectionDiv > div {
        margin-right: 8px !important;
    }
</style>
<div>
       <div class="full-width-header-bg2">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="report_header_label">Voucher Entry</label>
                    </div>               
                </div>
            </div><!--[Header]-->


<div class="report_header_div_main">
    <div id="content" class="col-md-12 report_header_div_main">
        <div class="col-xs-9 report_header_div">
            <label class="report_header_label">Voucher Entry</label>
        </div>
        <div class="report_button_div">
            @(Html.DevExtreme().Button().CustomCloseButton().ID("Voucher_close").Text("Close").OnClick(@<text> function () { voucher_close_click(); } </text>) )
        </div><!--[button]-->
    </div>   
        <div class="row report_header_div_main">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <input type="hidden" id="Voucher_Fr_Date" />
                <input type="hidden" id="Voucher_To_Date" />
                @*Buttons*@
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <div class="col-md-4">
                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Voucher_PeriodSelection").Name("Voucher_PeriodSelection").DataSource(d => d.Mvc().Controller("Voucher").LoadAction("Fill_Change_Period_Items").Key("SelectedIndex")).DisplayExpr("Period").ValueExpr("SelectedIndex").OnValueChanged("Voucher_PeriodSelectionChange") )
                    </div>
                    <div class="col-md-3">
                        @(Html.DevExtreme().Button().ID("Voucher_btnChangePeriod").Text("Change Period").Hint("Change Period").Disabled(true).OnClick(@<text> function () { Voucher_ChangePeriodClick(); } </text>) )
                    </div>
                    <div class="col-md-5">
                        @(Html.DevExtreme().TextBox().ID("Voucher_BE_View_Period").Name("CB_BE_View_Period").Value("View Period"))
                    </div>
                </div>
                <div class=" col-sm-5 col-md-5 col-lg-5" style="float:right;text-align:right">
                    <label id="Voucher_BE_View_Balance" style="color:#D2691E;font:bold;padding-top:6px"></label>
                    @(Html.DevExtreme().Button().ID("VoucherbtnView_Summary").Text("Summary").Hint("Summary").ElementAttr(new Dictionary<string, object>() { { "class", "float-right" } }).OnClick(@<text> function () { VoucherViewSummaryClick(); } </text>))
                </div>
            </div>
        </div>
    </div>
    <br><br>
    @(Html.DevExtreme().Popup().CustomPopup().ID("popup_frm_Frm_View_Summary").ShowCloseButton(true).OnShowing("PopupOnShowing").Height(900).Width(1000).OnHidden("CB_Summary_close").Title("Summary").ContentTemplate( @<text> <div id='popup_frm_Frm_View_Summary_result_voucher'>  </div> </text>) )

    <div class="edit_form" style="padding:16px;">
        <fieldset class="default-fieldset">
            <div class="Voucher_info">
                <div class="row">
                    <div class="row formRow">
                        <div class="col-md-1 pll">
                            <label>Name: </label>
                        </div>
                        <div class="col-md-9 prm">

                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ItemList_CBVoucher").Name("GLookUp_ItemList_CBVoucher").ValueExpr("ITEMID").DisplayExpr("ITEMNAME")
                                                                                                                                                                .DataSource(d => d.Mvc().Controller("Voucher").LoadAction("LookUp_GetItemList").Key("ITEMID")).Placeholder("Select Item...")
                                                                                                                                                                .OnValueChanged("VoucherType_LookUp_GetItemList_ChangeEvent").ContentTemplate(@<text> @Html.Partial("VoucherType_LookUp_GetItemList") </text>) )

                        </div>
                        <div class="col-md-2 prm">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("Voucher_BUT_OK").Text("Ok").Disabled(true).UseSubmitBehavior(false).OnClick(@<text> function () { BUT_OK_Click() } </text>) )

                        </div>
                        <hr />
                        <ul class="Voucher_info_ul">
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('New ~ Cash Deposit / Withdrawn', '/Account/CashDepositAndWithdrawnVoucher/Frm_Voucher_Win_Cash?ActionMethod=_New', 348, 840)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/cash.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Cash Deposit / Withdrawn
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('New ~ Bank To Bank Transfer', '/Account/BankToBankTransferVoucher/Frm_Voucher_Win_B2B?ActionMethod=_New', 487, 840)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/back-to-bank.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Bank to Bank Transfer
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('New ~ Payment', '/Account/PaymentVoucher/Frm_Voucher_Win_Gen_Pay?Tag=_New', 460, 680)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/payment-icon.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Payment
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('New ~ Receipt', '/Account/ReceiptVoucher/Frm_Voucher_Win_Gen_Rec?ActionMethod=_New', 460, 680)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/receipt-icon.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Receipt
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('New ~ Donation', '/Account/DonationVoucher/Frm_Voucher_Win_Donation_R?ActionMethod=_New', 800, 680)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/donation-icon.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Donation
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('New ~ Donation in Kind', '/Account/DonationinKindVoucher/Frm_Voucher_Win_Gift?ActionMethod=New', 460, 680)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/donation-in-kind.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Donation in Kind
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('New ~ CollectionBox', '/Account/CollectionBoxVoucher/Frm_Voucher_Win_C_Box?ActionMethod=_New',750,680)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/collection-box.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Collection Box
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('FD Activity', '/Account/FDVoucher/Frm_Voucher_Win_FD_Type','auto',320)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/fd-icon.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Fixed Deposit (F.D.)
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('New ~ Internal Transfer', '/Account/InternalTransfer/Frm_Voucher_Win_I_Transfer?ActionMethod=New', 650, 750)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/internal-transfer.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Internal Transfer
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenAssetTrasferPopup('New ~ Asset Transfer', '/Account/AssetTransferVoucher/Frm_Voucher_Win_Asset_Transfer?ActionMethod=New', 650, 920)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/asset-transfer.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Asset Transfer
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('New ~ Sale of Asset', '/Account/SaleAsset/Frm_Voucher_Win_Sale_Asset?ActionMethod=_New', 'auto', 920)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/sale-asset.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Sale Asset
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('New ~ Journal Entry', '/Account/JournalVoucher/Frm_Voucher_Win_Journal?ActionMethod=New', 460, 680)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/journal-entry.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Journal Entry
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('Note-Book Entry', '/Account/NoteBook/Frm_NoteBook_Info', 650, 1050)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/nootbook-entry.jpg" />
                                        </div>
                                        <div class="text_div">
                                            Note-Book Entry
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OpenDynamicPopup('New ~ WIP Finalization', '/Account/WIPFinalization/Frm_Voucher_Win_WIP_Finalization?ActionMethod=New', 460, 680)">
                                    <div class="items_Div">
                                        <div class="img_div">
                                            <img src="~/Content/image/wip-icon.jpg" />
                                        </div>
                                        <div class="text_div">
                                            WIP Finalization
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="col-sm-12" style="clear:both;">
                            <div class="Cash_Book">
                                <a href="#" onclick="OpenTabControl('Frm_Voucher_Info_CB','Cash Book','@Url.Action("Frm_Voucher_Info_CB","Voucher",new { @area = "Account" })')">
                                    <div class="dx-button-content dx-button-min-width">
                                        <span class="dx-button-text">Cash Book</span>
                                        <input type="submit" class="dx-button-submit-input">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>



    <script>
    var Voucher_Get_Voucher_Type = "";
    var Voucher_Voucher_Type = "";
    var Voucher_Selection_ByItem = false;
    var Voucher_ItemNameValue = "";

    $(document).ready(function ()
    {
        $("#Voucher_PeriodSelection").dxSelectBox("instance").option("value", parseInt('@ViewBag.PeriodSelectedIndex'));
   	});
    function voucher_close_click()
    {
        $(".TabPanalMenu-tabs .active span").click();
    }


    function VoucherType_LookUp_GetItemList_ChangeEvent(e)
    {
        var dropDownBox = $("#Voucher_ItemName").dxDropDownBox("instance");
        dropDownBox.close();
        if (e.value)
        {
            $("#BUT_OK").dxButton("instance").option("disabled", false);
        }
        var $dataGrid = $("#VoucherType_LookUp_GetItemList_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                Voucher_Get_Voucher_Type = item["ITEM_VOUCHER_TYPE"];
                Voucher_ItemNameValue=item["ITEMID"];
            }
        }
    }
    function VoucherOK_Click(e)
    {
        debugger;
        Voucher_Selection_By_Item = true;
        Voucher_Voucher_Type = "";
        switch (Voucher_Get_Voucher_Type.toUpperCase()) {
            case "CASH DEPOSITED":
            case "CASH WITHDRAWN":
                Voucher_Voucher_Type = "CASH";
                break;
                case "BANK TRANSFER":
                Voucher_Voucher_Type ="BANK";
                    break;
                case "DONATION":
                Voucher_Voucher_Type ="DONATION - REGULAR";
                    break;
                case "DONATION - FOREIGN":
                Voucher_Voucher_Type ="DONATION - FOREIGN";
                    break;
                case "COLLECTION BOX":
                Voucher_Voucher_Type ="COLLECTION BOX";
                break;
            case "PAYMENT":
            case "PAYMENT - INSTITUTE":
            case "LAND & BUILDING / GIFT":
            case "LAND & BUILDING":
                Voucher_Voucher_Type ="PAYMENT";
                break;
            case "RECEIPTS - INSTITUTE":
                case "RECEIPTS":
                Voucher_Voucher_Type ="RECEIPTS";
                    break;
                             case "DONATION - GIFT":
                Voucher_Voucher_Type ="DONATION - GIFT";
                break;
            case "INTERNAL TRANSFER - INSTITUTE":
            case "INTERNAL TRANSFER WITH H.Q.":
                case "INTERNAL TRANSFER":
                Voucher_Voucher_Type="INTERNAL TRANSFER";
                    break;
                case "FD":
                Voucher_Voucher_Type ="FD";
                    break;
                case "SALE OF ASSET":
                Voucher_Voucher_Type ="SALE OF ASSET";
                    break;
                case "MEMBERSHIP":
                Voucher_Voucher_Type ="MEMBERSHIP";
                    break;
                case "MEMBERSHIP RENEWAL":
                Voucher_Voucher_Type ="MEMBERSHIP RENEWAL";
                    break;
                case "ASSET TRANSFER":
                Voucher_Voucher_Type="ASSET TRANSFER";
                    break;
                case "WIP FINALIZATION":
                Voucher_Voucher_Type ="WIP FINALIZATION";
                    break;
                default:
                    DevExpress.ui.dialog.alert("C o m i n g   S o o n . . . !", "Voucher Entry...");
                    break;
        }
        if (Voucher_Voucher_Type.length > 0)
        {

            $.ajax({
                type: 'GET',
                url: "/Account/Voucher/DataNavigation/",
                data: {
                    ActionName: "NEW", iREC_ID: "", iACTION_STATUS: "", iREC_EDIT_ON: ""
                    , ITEM_NAME: "", Make: "", Edit_By: ""
                    , Action_Status: "", iTR_AB_ID_1: "", iTR_ITEM_ID: "", frm_Text: "", xfrm_Voucher_Type: Voucher_Voucher_Type
                    , xfrm_GLookUp_ItemList_Tag: Voucher_ItemNameValue, iTR_M_ID: "", iTR_TYPE_RowHandle_0: "", iTR_TYPE_RowHandle_1: ""
                    , iTR_DATE: "", xFr_Date_Selected: "", xTo_Date_Selected: "", iTR_SR_NO: ""
                    , iREC_ADD_ON: "", xfrm_Selection_By_Item: Voucher_Selection_By_Item, iTR_CODE: ""

                },
                cache: false,
                success: function (CashBookVoucherEditResult)
                {
                    if (CashBookVoucherEditResult.result)
                    {
                        if (CashBookVoucherEditResult.PopupFormName == "Frm_Voucher_Win_B2B") {
                            OpenDynamicPopup(CashBookVoucherEditResult.HeaderText, CashBookVoucherEditResult.PopupFormPath + "?" + encodeURI(CashBookVoucherEditResult.QueryString), 348, 840);
                        }
                        else if (CashBookVoucherEditResult.PopupFormName == "Frm_Voucher_Win_Donation_R") {
                            OpenDynamicPopup(CashBookVoucherEditResult.HeaderText, CashBookVoucherEditResult.PopupFormPath + "?" + encodeURI(CashBookVoucherEditResult.QueryString), 600, 1000)
                        }
                        else if (CashBookVoucherEditResult.PopupFormName == "Frm_Voucher_Win_Gen_Rec") {
                            OpenDynamicPopup(CashBookVoucherEditResult.HeaderText, CashBookVoucherEditResult.PopupFormPath + "?" + encodeURI(CashBookVoucherEditResult.QueryString), 670, 1000);
                        }
                        else if (CashBookVoucherEditResult.PopupFormName == "Frm_Voucher_Win_C_Box") {
                            OpenDynamicPopup(CashBookVoucherEditResult.HeaderText, CashBookVoucherEditResult.PopupFormPath + "?" + encodeURI(CashBookVoucherEditResult.QueryString), 650, 1000);
                        }
                        else if (CashBookVoucherEditResult.PopupFormName == "Frm_Voucher_Win_I_Transfer") {
                            OpenDynamicPopup(CashBookVoucherEditResult.HeaderText, CashBookVoucherEditResult.PopupFormPath + "?" + encodeURI(CashBookVoucherEditResult.QueryString), 670, 1000)
                        }

                        else if (CashBookVoucherEditResult.PopupFormName == "Frm_Voucher_Win_Sale_Asset") {
                            OpenDynamicPopup(CashBookVoucherEditResult.HeaderText, CashBookVoucherEditResult.PopupFormPath + "?" + encodeURI(CashBookVoucherEditResult.QueryString), "auto", 960)
                        }
                        else if (CashBookVoucherEditResult.PopupFormName == "Frm_Voucher_Win_Gen_Pay") {
                            OpenDynamicPopup(CashBookVoucherEditResult.HeaderText, CashBookVoucherEditResult.PopupFormPath + "?" + encodeURI(CashBookVoucherEditResult.QueryString), CashBookVoucherEditResult.maxHeight, CashBookVoucherEditResult.maxWidth)
                        }
                        else if (CashBookVoucherEditResult.PopupFormName == "Frm_Voucher_Win_Cash") {
                            OpenDynamicPopup(CashBookVoucherEditResult.HeaderText, CashBookVoucherEditResult.PopupFormPath + "?" + encodeURI(CashBookVoucherEditResult.QueryString), 400, 900)
                        }
                        else if (CashBookVoucherEditResult.PopupFormName == "Frm_Voucher_Win_FD_Type") {
                            OpenDynamicPopup(CashBookVoucherEditResult.HeaderText, CashBookVoucherEditResult.PopupFormPath + "?" + encodeURI(CashBookVoucherEditResult.QueryString), 345, 300)
                        }
                        else if (CashBookVoucherEditResult.PopupFormName == "Frm_Voucher_Win_FD") {
                            OpenDynamicPopup(CashBookVoucherEditResult.HeaderText, CashBookVoucherEditResult.PopupFormPath + "?" + encodeURI(CashBookVoucherEditResult.QueryString), 650, 1000)
                        }
                        else if (CashBookVoucherEditResult.PopupFormName == "Frm_NoteBook_Info") {
                            OpenDynamicPopup(CashBookVoucherEditResult.HeaderText, CashBookVoucherEditResult.PopupFormPath + "?" + encodeURI(CashBookVoucherEditResult.QueryString), 700, 1300)
                        }
                    }
                    else {
                        DevExpress.ui.dialog.alert(CashBookVoucherEditResult.Message);
                    }
                }
            });
        }
            }
    </script>
    <script>
        function Grid_Display() {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/Voucher/Grid_Display_VoucherInfo",
                cache: false,
                success: function (data) {
                    if (data.jsonParam.result == false) {
                        DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                    }
                    else {
                        $("#Voucher_BE_View_Balance").text(data.BE_Cash_Bank_Text);
                    }
                }
            });
            HideLoader();
        }
        function VoucherViewSummaryClick() {
            $("#popup_frm_Frm_View_Summary").dxPopup("show");
            $("#popup_frm_Frm_View_Summary").dxPopup("instance").option("width", "65%");
            $("#popup_frm_Frm_View_Summary").dxPopup("instance").option("height", "55%");
            $("#popup_frm_Frm_View_Summary_result_voucher").html(null);
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/Voucher/Frm_View_Summary",
                cache: false,
                success: function (result) {
                    $("#popup_frm_Frm_View_Summary_result_voucher").html(result);
                    HideLoader();
                }
            });
        }
        function CB_Summary_close() {
            $.ajax({
                type: 'GET',
                url: "/Account/Voucher/Frm_View_SummaryGrid_Close",
                cache: false
            });
        }
    </script>@* Grid Display & Summary *@
    <script>
        function Voucher_PeriodSelectionChange(e) {
            $("#Voucher_btnChangePeriod").dxButton("instance").option("disabled", true);
            if (e.value == 20) {
                $("#Voucher_btnChangePeriod").dxButton("instance").option("disabled", false);
                Voucher_ChangePeriodClick();
            }
            else {
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Account/Voucher/Cmb_View_SelectedIndexChanged",
                    data:
                    {
                        SelectedIndex: e.value
                    },
                    cache: false,
                    success: function (result) {
                        $("#Voucher_BE_View_Period").dxTextBox("instance").option("value", result.BE_View_Period);
                        $("#Voucher_Fr_Date").val(result.FromDate);
                        $("#Voucher_To_Date").val(result.ToDate);
                        Grid_Display();
                    }
                });
                HideLoader();
            }
        }
        function Voucher_ChangePeriodClick() {
            $.ajax({
                type: 'GET',
                url: "/Account/Voucher/frm_Specific_Period_voucherInfo",
                cache: false,
                success: function (data) {
                    ShowLoader();
                    OpenPopup("PopupVoucher_speceficPeriod", "Change Period", false, "auto", "45%", true, data);
                    HideLoader();
                }
            });
        }
        function Frm_Change_Period_Success_Voucher(data) {
            HideLoader();
            if (data.result == false) {
                DevExpress.ui.dialog.alert(data.message, 'Error!!');
            }
            else {
                $("#Voucher_BE_View_Period").dxTextBox("instance").option("value", data.BE_View_Period);
                $("#Voucher_Fr_Date").val(data.FromDate);
                $("#Voucher_To_Date").val(data.ToDate);
                Grid_Display();
                $("#PopupVoucher_speceficPeriod").dxPopup("hide");
            }
        }
    </script>@* Period Change *@
