<div class="CashBookExport_ClearReference">
@using DevExtreme.AspNet.Mvc;
<div>
    @(Html.DevExtreme().Button()
                .ID("CB_ExportGridDatapdf")
                .Text("Export to PDF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportPDF")
                .Visible(true)
                .Width(120)
    )

    @(Html.DevExtreme().Button()
                .ID("CB_ExportGridDataxls")
                .Text("Export to XLS")
                //.Icon("fa-file-excel-o")
                .OnClick("ExportXLS")
                .Visible(true)
                .Width(120)
    )
    @(Html.DevExtreme().Button()
                .ID("CB_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportXLSX")
                .Visible(true)
                .Width(120)
    )

    @(Html.DevExtreme().Button()
                .ID("CB_ExportGridDatadocx")
                .Text("Export to DOCX")
                //.Icon("export_exporttodocx_16x16office2013")
                .OnClick("ExportDOCX")
                .Visible(true)
                .Width(120)
    )

    @(Html.DevExtreme().Button()
                .ID("CB_ExportGridDatartf")
                .Text("Export to RTF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportRTF")
                .Visible(true)
                .Width(120)
    )

    @(Html.DevExtreme().Button()
                .ID("CB_ExportGridDatacsv")
                .Text("Export to CSV")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportCSV")
                .Visible(true)
                .Width(120)
    )
</div>
<script>
    $(document).ready(function ()
    {
        if ($("div[id = 'CashBookListGrid']").data("dxDataGrid") !== void 0)
        {
            $("#CB_ExportGridDatapdf,#CB_ExportGridDataxls,#CB_ExportGridDatadocx,#CB_ExportGridDatartf,#CB_ExportGridDatacsv").hide();
        }
    })
    function ExportPDF() {
        CashBookListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        $("#report_modal").dxPopup("hide");
    }
    function ExportXLS() {
        CashBookListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
        $("#report_modal").dxPopup("hide");
    }
    function ExportXLSX() {
        if ($("div[id = 'CashBookListGrid']").data("dxDataGrid") == void 0)
        {
            CashBookListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        }
        else
        {
            const workbook = new ExcelJS.Workbook();
            const worksheet = workbook.addWorksheet('Sheet');

            DevExpress.excelExporter.exportDataGrid({
                worksheet: worksheet,
                component: $("div[id = 'CashBookListGrid']").dxDataGrid("instance"),
                autoFilterEnabled: true,
                customizeCell: function (options) { }
            }).then(function (exportRange)
            {
                workbook.xlsx.writeBuffer().then(function (buffer)
                {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), "@ViewBag.Filename" + ".xlsx");
                    CashBookListGrid_dx_ShowHideNarration()
                });
            });
        }
        $("#report_modal").dxPopup("hide");
    }
    function ExportCSV() {
        CashBookListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
        $("#report_modal").dxPopup("hide");
    }
    function ExportDOCX() {
        CashBookListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
        $("#report_modal").dxPopup("hide");
    }
    function ExportRTF() {
        CashBookListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        $("#report_modal").dxPopup("hide");
    }
</script>

    </div>