<div class="CashBookNew_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.VoucherType
    <style>

        .Voucher_info_ul a:hover .items_Div {
            border: 2px solid #184c97;
        }

        .Voucher_info_ul a:hover .text_div {
            color: #184c97;
        }
    </style>
    @{
    var AllowForeignDonation = (bool)ViewBag.AllowForeignDonation;
    }
    <div id="CBVoucherType_ParentDiv">
        @using (Ajax.BeginForm("Frm_Voucher_Type", "Voucher",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.InsertAfter,
                    OnBegin = "AjaxBeginFormPost",
                    OnSuccess = "CB_VoucherType_AjaxSuccess",
                    UpdateTargetId= "CBVoucherType_ParentDiv"
                },
                 new
                 {
                     id = "CBVoucherTypeForm",
                     @class = "edit_form form-horizontal"
                 }))
        {
        @Html.HiddenFor(model => model.Get_Voucher_Type)
        @Html.HiddenFor(model => model.Voucher_Type)
        @Html.HiddenFor(model => model.Selection_By_Item)
        using (Html.DevExtreme().ValidationGroup())
        {
        <div class="container-fluid">
            <div class="full-width-header-bg">
                <div class="row">
                    <div class="col-sm-12 pll">
                        <h3 class="popuphead">
                            <i class="far fa-edit"></i> Select Voucher Type
                        </h3>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div>
            </div><!--[Header]-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="row">
                            <div class="col-md-2 pll">
                                @Html.LabelFor(model => model.GLookUp_ItemList_CBVoucher, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-7 prm">

                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ItemList_CBVoucher").Name("GLookUp_ItemList_CBVoucher").ValueExpr("ITEMID").DisplayExpr("ITEMNAME")
                                                                    .DataSource(d => d.Mvc().Controller("Voucher").LoadAction("LookUp_GetItemList").Key("ITEMID")).Placeholder("Select Item...")
                                                                    .OnValueChanged("GLookUp_ItemList_EditValueChanged").ContentTemplate(@<text> @Html.Partial("VoucherType_LookUp_GetItemList") </text>) )

                            </div>
                            <div class="col-md-3 prm">
                                @(Html.DevExtreme().Button().CustomSaveButton().ID("VoucherType_BUT_OK").Text("Ok").Disabled(true).UseSubmitBehavior(false).OnClick(@<text> function () { BUT_OK_Click() } </text>) )
                                @(Html.DevExtreme().Button().CustomCloseButton().ID("VoucherType_Cancel").Text("Cancel").OnClick(@<text> function () { $("#popup_frm_CashBook_Window").dxPopup("hide"); } </text>) )
                            </div>
                        </div>
                    </div>
                </div>
            </div>@* Item DD *@
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <div class="row"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="Voucher_info_ul">
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_CASH')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/cash.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Cash Deposit / Withdrawn
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    @*CDW*@
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_BANK')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/back-to-bank.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Bank to Bank Transfer
                                                </div>
                                            </div>
                                        </a>
                                    </li> @*Bank To Bank Transfer*@
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_PAYMENT')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/payment-icon.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Payment
                                                </div>
                                            </div>
                                        </a>
                                    </li> @*Payment*@
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_RECEIPT')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/receipt-icon.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Receipt
                                                </div>
                                            </div>
                                        </a>
                                    </li> @*Receipt*@
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_DONATION')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/donation-icon.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Donation
                                                </div>
                                            </div>
                                        </a>
                                    </li> @*Donation*@
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_GIFT')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/donation-in-kind.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Donation in Kind
                                                </div>
                                            </div>
                                        </a>
                                    </li> @*Donation In Kind*@
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_C_BOX')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/collection-box.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Collection Box
                                                </div>
                                            </div>
                                        </a>
                                    </li> @*Collection Box*@
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_FD')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/fd-icon.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Fixed Deposit (F.D.)
                                                </div>
                                            </div>
                                        </a>
                                    </li> @*FD*@
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_INT_TRANSFER')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/internal-transfer.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Internal Transfer
                                                </div>
                                            </div>
                                        </a>
                                    </li> @*Internal Transfer*@
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_ASSET_TFER')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/asset-transfer.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Asset Transfer
                                                </div>
                                            </div>
                                        </a>
                                    </li> @*Asset Transfer*@
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_S_ASSET')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/sale-asset.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Sale Asset
                                                </div>
                                            </div>
                                        </a>
                                    </li> @*Sale Asset*@
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_J_Entry')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/journal-entry.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Journal Entry
                                                </div>
                                            </div>
                                        </a>
                                    </li> @*Journal Entry*@
                                    <li>
                                        <a href="#" onclick="All_Voucher_Button_Click_CashBook('BUT_WIP_FINALIZATION')">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/wip-icon.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    WIP Finalization
                                                </div>
                                            </div>
                                        </a>
                                    </li> @*WIP*@
                                </ul>


                            </div>@* Voucher Buttons *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
                }
                }
    </div>


    <script>
    var ItemSelectedID = "";
    var IsDonationNewPopup = false;
    $(document).ready(function ()
    {
        setTimeout(function () {
            $("#GLookUp_ItemList_CBVoucher").dxDropDownBox("instance").focus();
        }, 10);
        $("#Voucher_Type").val("");
        $("#Selection_By_Item").val(false);
        $("#Get_Voucher_Type").val("");
    });
    function GLookUp_ItemList_EditValueChanged(e)
    {
        ItemSelectedID = e.value;
        if (e.value == null || e.value.length==0)
        {
            $("#VoucherType_BUT_OK").dxButton("instance").option("disabled", true);
        }
        var dropDownBox = $("#GLookUp_ItemList_CBVoucher").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#CB_LookUp_GetItemList_datagrid");
        if ($dataGrid.length)
        {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0)
            {
                var item = dataGrid.getSelectedRowsData()[0];
                ItemSelectedID = item["ITEMID"];
                $("#Get_Voucher_Type").val(item["ITEM_VOUCHER_TYPE"]);
                $("#VoucherType_BUT_OK").dxButton("instance").option("disabled", false);
            }
        }
    }
    function BUT_OK_Click()
    {
        if (ItemSelectedID == null || ItemSelectedID.length <= 0)
        {
            var Itemalert = DevExpress.ui.dialog.alert("Item Not Selected...!", "Error");
            Itemalert.done(function (dialogresult)
            {
                if (dialogresult)
                {
                    setTimeout(function ()
                    {
                        $("#GLookUp_ItemList_CBVoucher").dxDropDownBox("instance").focus();
                    }, 10);
                }
            });
        }
        else
        {
            console.log($("#Get_Voucher_Type").val()+" Voucher Load Start")
            switch ($("#Get_Voucher_Type").val().toUpperCase())
            {
                case "CASH DEPOSITED":
                case "CASH WITHDRAWN":
                    $("#Voucher_Type").val("CASH");
                    $("#Selection_By_Item").val(true);
                    break;
                case "BANK TRANSFER":
                    $("#Voucher_Type").val("BANK");
                    $("#Selection_By_Item").val(true);
                    break;
                case "DONATION":
                    $("#Voucher_Type").val("DONATION - REGULAR");
                    $("#Selection_By_Item").val(true);
                    break;
                case "DONATION - FOREIGN":
                    $("#Voucher_Type").val("DONATION - FOREIGN");
                    $("#Selection_By_Item").val(true);
                    break;
                case "COLLECTION BOX":
                    $("#Voucher_Type").val("COLLECTION BOX");
                    $("#Selection_By_Item").val(true);
                    break;
                case "PAYMENT":
                case "PAYMENT - INSTITUTE":
                case "LAND & BUILDING / GIFT":
                case "LAND & BUILDING":
                    $("#Voucher_Type").val("PAYMENT");
                    $("#Selection_By_Item").val(true);
                    break;
                case "RECEIPTS":
                case "RECEIPTS - INSTITUTE":
                    $("#Voucher_Type").val("RECEIPTS");
                    $("#Selection_By_Item").val(true);
                    break;
                case "DONATION - GIFT":
                    $("#Voucher_Type").val("DONATION - GIFT");
                    $("#Selection_By_Item").val(true);
                    break;
                case "INTERNAL TRANSFER":
                case "INTERNAL TRANSFER - INSTITUTE":
                case "INTERNAL TRANSFER WITH H.Q.":
                    $("#Voucher_Type").val("INTERNAL TRANSFER");
                    $("#Selection_By_Item").val(true);
                    break;
                case "FD":
                    $("#Voucher_Type").val("FD");
                    $("#Selection_By_Item").val(true);
                    break;
                case "SALE OF ASSET":
                    $("#Voucher_Type").val("SALE OF ASSET");
                    $("#Selection_By_Item").val(true);
                    break;
                case "MEMBERSHIP":
                    $("#Voucher_Type").val("MEMBERSHIP");
                    $("#Selection_By_Item").val(true);
                    break;
                case "MEMBERSHIP RENEWAL":
                    $("#Voucher_Type").val("MEMBERSHIP RENEWAL");
                    $("#Selection_By_Item").val(true);
                    break;
                case "ASSET TRANSFER":
                    $("#Voucher_Type").val("ASSET TRANSFER");
                    $("#Selection_By_Item").val(true);
                    break;
                case "BUT_WIP_FINALIZATION":
                    $("#Voucher_Type").val("WIP FINALIZATION");
                    $("#Selection_By_Item").val(true);
                    break;
                default:
                    DevExpress.ui.dialog.alert("Coming Soon...!", "Voucher Entry...");
                    break;
            }
            if ($("#Voucher_Type").val().length > 0)
            {
               // $("#CBVoucherTypeForm").submit();
                VouchersNewWindowCall_CB();
            }
        }
    }
        function CB_VoucherType_AjaxSuccess(data)
        {
            HideLoader();
            if (data.Voucher_Type != null)
            {
                $("#popup_frm_CashBook_Window").dxPopup("hide");
                CashbookButtonClick("NEW", data.Voucher_Type, data.GLookUp_ItemList_CBVoucher, data.Selection_By_Item);
            }
        }
    function ChooseDonationType_VoucherType()
    {
        ShowLoader();
        $("#CheckDonationType_Form").remove();
        $.ajax({
            type: 'GET',
            url: "/Account/Voucher/Frm_Voucher_Win_D_Type",
            cache: false,
            success: function (data)
            {
                OpenPopup("Popup_Donation_Check", "Donation", null, "auto", 300, true, data);
                HideLoader();
            }
        });
    }
        function All_Voucher_Button_Click_CashBook(btn) {
            console.log(btn + " Voucher Load Start")
            $("#Voucher_Type").val("");
            $("#Selection_By_Item").val(false);
            switch (btn) {
                case "BUT_CASH":
                    $("#Voucher_Type").val("CASH");
                    break;
                case "BUT_BANK":
                    $("#Voucher_Type").val("BANK");
                    break;
                case "BUT_DONATION":
                    if ("@AllowForeignDonation" == "True") {
                        $("#Voucher_Type").val("Check Donation Type");
                    }
                    else {
                        $("#Voucher_Type").val("DONATION - REGULAR");
                    }
                    break;
                case "BUT_C_BOX":
                    $("#Voucher_Type").val("COLLECTION BOX");
                    break;
                case "BUT_PAYMENT":
                    $("#Voucher_Type").val("PAYMENT");
                    break;
                case "BUT_RECEIPT":
                    $("#Voucher_Type").val("RECEIPTS");
                    break;
                case "BUT_GIFT":
                    $("#Voucher_Type").val("DONATION - GIFT");
                    break;
                case "BUT_INT_TRANSFER":
                    $("#Voucher_Type").val("INTERNAL TRANSFER");
                    break;
                case "BUT_FD":
                    $("#Voucher_Type").val("FD");
                    break;
                case "BUT_S_ASSET":
                    $("#Voucher_Type").val("SALE OF ASSET");
                    break;
                case "BUT_J_Entry":
                    $("#Voucher_Type").val("JOURNAL");
                    break;
                case "BUT_ASSET_TFER":
                    $("#Voucher_Type").val("ASSET TRANSFER");
                    break;
                case "BUT_WIP_FINALIZATION":
                    $("#Voucher_Type").val("WIP FINALIZATION");
                    break;
                default:
                    DevExpress.ui.dialog.alert("Coming Soon...!", "Voucher Entry...");
                    break;
            }
            if ($("#Voucher_Type").val() == "Check Donation Type") {
                ChooseDonationType_VoucherType();
            }
            else if ($("#Voucher_Type").val().length > 0) {
                // $("#CBVoucherTypeForm").submit();
                VouchersNewWindowCall_CB();
            }
        }        
        function VouchersNewWindowCall_CB()
        {
            var Item = $("#GLookUp_ItemList_CBVoucher").dxDropDownBox("option", "value");
            if (Item == null || Item.length == 0)
            {
                Item = "";
            }
            if (Array.isArray(Item))
            {
                Item = Item[0]
            }
            var Selection_By_Item = $("#Selection_By_Item").val()
            Selection_By_Item = Selection_By_Item == "true" ? true : false;
            CashbookButtonClick("NEW", $("#Voucher_Type").val(), Item, Selection_By_Item);
            $("#popup_frm_CashBook_Window").dxPopup("hide");
        }

    </script>
</div>