<div class="CB_NoAttachmentReason_ClearReferences">
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.CB_Reason
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}

<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>

<div id="Frm_CB_Reason_Popup">

    @using (Ajax.BeginForm("Frm_CB_Reason_Post", "Voucher",
                                                                  new AjaxOptions
                                                                  {
                                                                      HttpMethod = "POST",
                                                                      InsertionMode = InsertionMode.InsertAfter,
                                                                      OnBegin = "AjaxBeginFormPost",
                                                                      OnSuccess = "CB_Reason_PostSuccess"
                                                                  },
                                          new
                                          {
                                              id = "ID_Frm_CB_Reason",
                                              @class = "edit_form"
                                          }))
    {

        @Html.HiddenFor(p => p.MappingID)
        @Html.HiddenFor(p => p.TrCode)
        @Html.HiddenFor(p => p.RefRecId)
        @Html.HiddenFor(p=>p.ActionMethod)
        using (Html.DevExtreme().ValidationGroup())
        {

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 md-12">
                            <label class="control-label text-red" for="user">Why don't you have this Document ?</label>
                        </div>
                        <div class="col-sm-12 md-12 pll">
                            @(Html.DevExtreme().TextArea().ID("Reason_CB").Name("Reason_CB").Value(Model.Reason_CB).Placeholder("Enter Reason").Height(150) )

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().Text("OK").ID("CB_Reason_Ok").FocusStateEnabled(true).UseSubmitBehavior(true))

                            @(Html.DevExtreme().Button().CustomCloseButton().Text("Cancel").ID("CB_Reason_Cancel").FocusStateEnabled(true).OnClick(@<Text> function () { HidePopup('CB_Reason_popup');} </Text>))

                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->

        }
    }
</div><!--[Form Div]-->
<script>
    //$('#Reason_CB').keypress(function (e)
    //{
    //    BracketKeyPressEvent(e);
    //});
    </script>
    </div>