<div class="DNKVoucher_ClearReferences">
    @model ConnectOneMVC.Areas.Account.Models.DonationInKind
    @using DevExtreme.AspNet.Mvc;

    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
        bool Isvisible = (Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View") ? true : false;

        bool Donation_DNK_AddFacilityAddress = (bool)ViewData["Donation_DNK_AddFacilityAddress"];
        bool Donation_DNK_ListFacilityAddress = (bool)ViewData["Donation_DNK_ListFacilityAddress"];
        var DateFormatCurrent = ViewBag.Date_Format_Current;
    }
    <style>
        /*    #CheckEdit2_DNK .dx-checkbox-text {
            width:auto;
        }*/
        .underline {
            text-decoration: underline;
        }

        /*FCRA Related*/
        #ListSpecialVoucherRef_DNK .dx-list-item-content {
            padding: 4.5px;
        }
        .ListOneRow .dx-scrollable {
            overflow-y: hidden
        }
    </style>
    <div id="DonationinKind_Main_popup">
        @using (Ajax.BeginForm("Frm_Voucher_Win_Gift_Window", "DonationInKindVoucher",
                                                        new AjaxOptions
                                                        {
                                                            HttpMethod = "POST",
                                                            UpdateTargetId = "DonationinKind_Main_popup",
                                                            InsertionMode = InsertionMode.InsertAfter,
                                                            OnBegin = "AjaxBeginFormPost",
                                                            OnSuccess = "AjaxSuccess_DonationInKind"
                                                        },
                                                        new
                                                        {
                                                            id = "Frm_Voucher_Win_Gift_Window",
                                                            @class = "edit_form form-horizontal"
                                                        }))

        {
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.BE_ADD1_DNK)
            @Html.HiddenFor(x => x.BE_ADD2_DNK)
            @Html.HiddenFor(x => x.BE_ADD3_DNK)
            @Html.HiddenFor(x => x.BE_ADD4_DNK)
            @Html.HiddenFor(x => x.BE_STATE_DNK)
            @Html.HiddenFor(x => x.BE_DISTRICT_DNK)
            @Html.HiddenFor(x => x.BE_COUNTRY_DNK)
            @Html.HiddenFor(x => x.BE_PINCODE_DNK)
            @Html.HiddenFor(x => x.TitleX)
            @Html.HiddenFor(x => x.Me_Text)
            @Html.HiddenFor(x => x.xMID)
            @Html.HiddenFor(x => x.xID)
            @Html.HiddenFor(x => x.iParty_Req)
            @Html.HiddenFor(x => x.iSpecific_ItemID)
            @Html.HiddenFor(x => x.LastEditedOn)
            @Html.HiddenFor(x => x.Info_LastEditedOn)
            @Html.HiddenFor(x => x.DNK_SplVchrReferenceSelected)
            @Html.HiddenFor(x => x.splVchrRefsCount_DNK)
            @Html.HiddenFor(x => x.BE_Party_Category_DNK)

            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="container-fluid">
                    <div class="full-width-header-bg">
                        <div class="row">
                            <div class="col-sm-8 pll">
                                <h3 class="popuphead"><i class="far fa-edit"></i> Donation In Kind</h3>
                            </div>
                            <div class="col-sm-4 prm">
                                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-red" })
                        </div>
                    </div><!--[Header]-->
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-3 plm"><label class="control-label underline" for="user">Donor Detail:</label></div>
                                    <div class="col-sm-9 prm btn-align"> 
                                        @(Html.DevExtreme().Button().ID("But_DonAdd_DNK").Text("Add Donor").OnClick(@<text> function() { Add_Donar_DNK(); }</text>).Disabled(Isvisible).FocusStateEnabled(false))
                                        @(Html.DevExtreme().Button().ID("But_DonManage_DNK").Text("Manage Donor").OnClick(@<text> function() { Manage_Donar_DNK(); } </text>).Disabled(Isvisible).FocusStateEnabled(false))
                                    </div>
                                </div><!--[Donor btn]-->
                                <div class="row">
                                    <div class="col-sm-2 plm">
                                        <label class="control-label text-red" for="Name">Name:</label>
                                    </div>
                                    <div class="col-sm-10 prm" data-toggle="tooltip" data-placement="bottom" title="Select Party...">

                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_PartyList1_DNK").Name("GLookUp_PartyList1_DNK").ValueExpr("C_ID").DisplayExpr("C_NAME").Placeholder("Select Party...").ReadOnly(true).FocusStateEnabled(false).ShowClearButton(false)
                                                .DataSource(d => d.Mvc().Controller("DonationInKindVoucher").LoadAction("LookUp_GetPartyList_DNK").Key("C_ID").LoadParams(new { DDRefresh = new JS("function (){ return PartyList1_DDRefresh_DNK;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                                .OnValueChanged("GLookUp_PartyList1_EditValueChanged_DNK").ContentTemplate(@<text> @Html.Partial("LookUp_GetPartyList_DNK") </text>) )
                                    </div>
                                </div><!--[Name]-->
                                <div class="row">
                                    <div class="col-sm-2 plm"><label class="control-label" for="BE_City_DNK">City:</label></div>
                                    <div class="col-sm-5">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_City_DNK").Name("BE_City_DNK").Value(Model.BE_City_DNK).ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                    <div class="col-sm-2 pll"><label class="control-label" for="BE_PAN_No_DNK">PAN No.:</label></div>
                                    <div class="col-sm-3 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_PAN_No_DNK").Name("BE_PAN_No_DNK").Value(Model.BE_PAN_No_DNK).ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                </div><!--[city/pan]-->
                                <div class="row">
                                    <div class="col-sm-2 plm"><label class="control-label" for="BE_UID_No_DNK">Aadhar No.:</label></div>
                                    <div class="col-sm-5">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_UID_No_DNK").Name("BE_UID_No_DNK").Value(Model.BE_UID_No_DNK).ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                    <div class="col-sm-2 pll"><label class="control-label" for="BE_ID_No_DNK" id="BE_ID_No_Label_DNK">Passport No.:</label></div>
                                    <div class="col-sm-3 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_ID_No_DNK").Name("BE_ID_No_DNK").Value(Model.BE_ID_No_DNK).ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                </div><!--[UID/ID]-->
                            </div>
                        </div><!--[/leftpart]-->
                        <div class="col-sm-3">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-12 plm"><label class="control-label underline" for="user">Voucher Detail:</label></div>
                                </div>
                                <div class="row" style="padding-top:4px;padding-bottom:3px">
                                    <div class="col-sm-3 plm"><label class="control-label text-red" for="Txt_V_Date_DNK">Date:</label></div>
                                    <div class="col-sm-9 prm ">
                                        @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_V_Date_DNK").Name("Txt_V_Date_DNK").Value(Model.Txt_V_Date_DNK))
                                    </div>
                                </div><!--[V Date]-->
                                <div class="row">
                                    <div class="col-sm-3 plm"><label class="control-label" for="user">No.:</label></div>
                                    <div class="col-sm-9 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_V_NO_DNK").Name("Txt_V_NO_DNK").Value(Model.Txt_V_NO_DNK).ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                </div><!--[V No.]-->
                                <br>
                            </div>
                        </div><!--[right part]-->
                    </div><!--[row1]-->
                    <div class="row">
                        <div class="col-xs-12 parent-table table-responsive">
                            @Html.Action("Frm_Win_Gift_Item_Listing_Grid", "DonationInKindVoucher")
                        </div>
                    </div><!--[Grid]-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-8">
                                        @(Html.DevExtreme().Button().ID("BUT_NEW_DNK").Icon("fas fa-file btn-icons newfile icon-rgt-space5").Disabled(Isvisible).FocusStateEnabled(!Isvisible).Text("New").OnClick(@<text> function () { DataNavigation_DNK("NEW"); } </text>))
                                        @(Html.DevExtreme().Button().ID("BUT_EDIT_DNK").Icon("fas fa-pencil-alt btn-icons editcolor icon-rgt-space5").Disabled(Isvisible).FocusStateEnabled(!Isvisible).Text("Edit").OnClick(@<text> function () { DataNavigation_DNK("EDIT"); } </text>))
                                        @(Html.DevExtreme().Button().ID("BUT_DELETE_DNK").Icon("fas fa-trash btn-icons deletecolor icon-rgt-space5").Disabled(Isvisible).FocusStateEnabled(!Isvisible).Text("Delete").OnClick(@<text> function () { DataNavigation_DNK("DELETE"); } </text>))
                                        @(Html.DevExtreme().Button().ID("BUT_VIEW_DNK").Icon("fas fa-eye btn-icons eyeicon icon-rgt-space5").Disabled(Model.ActionMethod=="_Delete"?true:false).FocusStateEnabled(Model.ActionMethod == "_Delete" ? false : true).Text("View").OnClick(@<text> function () { DataNavigation_DNK("VIEW"); } </text>))
                                        @(Html.DevExtreme().CheckBox().ID("CheckEdit2_DNK").Name("CheckEdit2_DNK").Value(Model.CheckEdit2_DNK).Text("Show Remarks").OnValueChanged("CheckEdit2_CheckedChanged_DNK"))

                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row" style="padding-top:2px;padding-right:17px">
                                            <div class="col-sm-6" style="text-align:right"><label class="control-label blu-txt" for="Txt_SubTotal_DNK">Total Amount: </label></div>
                                            <div class="col-sm-6">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_SubTotal_DNK").Format("#0.00") .Name("Txt_SubTotal_DNK").Value(Model.Txt_SubTotal_DNK) .ReadOnly(true).FocusStateEnabled(false).InputAttr(new { @style = "text-align:right;" }) )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-md-1 plm"><label class="control-label" for="Txt_Narration_DNK">Narration:</label></div>
                                    <div class="col-md-11 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true) .ID("Txt_Narration_DNK") .Name("Txt_Narration_DNK").Value(Model.Txt_Narration_DNK).MaxLength(250).Placeholder("Type Any Narration...") )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Narration]-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-md-1 plm"><label class="control-label" for="Txt_Reference_DNK">Reference:</label></div>
                                    <div class="col-md-11 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Reference_DNK").Name("Txt_Reference_DNK").Value(Model.Txt_Reference_DNK).MaxLength(250).Placeholder("Type Any Reference Details...") )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Reference]-->

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 ListOneRow" id="DNK_SpecialVoucherRefDiv">
                            <div class="form-field ">
                                <div class="dx-texteditor-container">
                                    @(Html.DevExtreme().List().CustomList().ID("ListSpecialVoucherRef_DNK")
                                        .DataSource(Model.SpecialReferenceList_Data_DNK, "Task_Name")
                                        .SearchEnabled(false)
                                        .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                                        .KeyExpr("Task_Name")
                                        .DisplayExpr("Task_Name")
                                        .OnSelectionChanged("OnSplVchrRefsListSelectionChanged_DNK")
                                        .Height(72).ShowScrollbar(ShowScrollbarMode.Always).UseNativeScrolling(false)
                                        //.ScrollingEnabled(true)
                                        .ShowSelectionControls(true)
                                        .SelectedItemKeys(Model.SpecialReference_Get_SelectedValue_DNK))
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ {1})...", Model.ActionMethod.Substring(1), Model.TitleX))
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="styleActionBtn">
                                        @(Html.DevExtreme().Button().ID("BUT_SAVE_COM_DNK").CustomSaveButton(Model.ActionMethod.ToString()).Text((Model.ActionMethod.ToString().Trim() == "_Delete") ? "Delete" : "Save").UseSubmitBehavior(false).Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true).OnClick("BUT_SAVE_Click_DNK"))
                                        @(Html.DevExtreme().Button().ID("BUT_CANCEL_DNK").CustomCloseButton().Text((Model.ActionMethod.ToString().Trim() == "_View") ? "Close" : "Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Button]-->
                </div>
            }
        }
    </div>

    <script>
    var GLookUp_PartyList1_DG_DNK;
    var PartyList1_DDRefresh_DNK;
    var Tag_DNK = "@Model.ActionMethod";
    var PartyList_DNK_Enable = true;
    var PartyList_DNK_ReadOnly = true;

    function CheckEdit2_CheckedChanged_DNK(e)
    {
        var showremarks = $("#CheckEdit2_DNK").dxCheckBox("option", "value");
        if (showremarks == true)
        {
            $(".customPreviewRow_DNK").show();
        }
        else
        {
            $(".customPreviewRow_DNK").hide();
        }
    }
    </script>  @*Global Variables*@

    <script>
    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        TransformTextForDB("Frm_Voucher_Win_Gift_Window");
        sessionclearpath = "/Account/DonationInKindVoucher/SessionClear";
        if (Tag_DNK != "_View")
        {
            dontaskpopupcloseconfirmation = false;
        }
        InitAllDropDownDataGrid_DNK();
        await LookUp_GetPartyList_DNK(true);
        if (Tag_DNK == "_Edit" || Tag_DNK == "_View" || Tag_DNK == "_Delete")
        {
            if ("@Model.GLookUp_PartyList1_DNK".length > 0)
            {
                await GLookUp_PartyList1_DG_DNK.selectRows("@Model.GLookUp_PartyList1_DNK", false);
            }
            PartyList_DNK_ReadOnly = false;
            Control_SetReadOnly("GLookUp_PartyList1_DNK", "dxDropDownBox", (PartyList_DNK_Enable == true && PartyList_DNK_ReadOnly == false) ? false : true);
        }
        if (Tag_DNK == "_New_From_Selection")
        {
            DataNavigation_DNK("NEW");
        }

        //FCRA Related
        if (parseInt("@Model.splVchrRefsCount_DNK") == 0)
            {
                $("#DNK_SpecialVoucherRefDiv").remove();
                //$("#DNK_NarrationDiv").removeClass("col-sm-12 col-md-8 col-lg-8").addClass("col-sm-12 col-md-12");
            }
        //await $("#ListSpecialVoucherRef_DNK").dxList("getDataSource").load();
        if (parseInt("@Model.splVchrRefsCount_DNK") > 0) {
                //await $("#ListSpecialVoucherRef_DNK").dxList("getDataSource").load();
                OnSplVchrRefsListSelectionChanged_DNK();
            }
        
        setTimeout(function ()
        {
            CheckEdit2_CheckedChanged_DNK();
            $("#CheckEdit2_DNK").dxCheckBox("option", "readOnly", false);
            $("#CheckEdit2_DNK").dxCheckBox("option", "focusStateEnabled", true);
            $("#CheckEdit2_DNK").removeClass("input-read-only");
            Set_Form_View_Delete_Mode(null, "Frm_Voucher_Win_Gift_Window", Tag_DNK);
            if (Tag_DNK != "_New_From_Selection")
            {
                Focus_FirstEditable_Field("Frm_Voucher_Win_Gift_Window", Tag_DNK);
                HideLoader_Ready();
            }
        }, Timeout500);
    });
    function AjaxSuccess_DonationInKind(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            if (data.jsonParam.closeform)
            {
                dontaskpopupcloseconfirmation = true;
                $("#Dynamic_Content_popup").dxPopup("hide");
            }
            if (data.jsonParam.refreshgrid)
            {
                 RefreshGridView("@ViewBag.GridToRefresh");
            }
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            if (id == "#Win_Gift_Item_Grid")
                            {
                                Win_Gift_Item_Grid.Focus();
                            }
                            else
                            {
                                $(id).find('input').focus();
                            }
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result == true)
        {
            var _ActiveTab_ID = $(".TabPanalMenu-tabs .active").attr("id");
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (result)
            {
                if (result)
                {
                    if ("@ViewBag.GridToRefresh" != "CashBookListGrid")
                    {
                        RefreshGridView("@ViewBag.GridToRefresh");
                    }
                    if (/*typeof CashBookListGrid !== 'undefined'*/ _ActiveTab_ID== "contact_Frm_Voucher_Info_CB")
                    {
                        var VouDate = $("#Txt_V_Date_DNK").dxDateBox("instance").option("value");
                        AfterVoucherClose_CB(VouDate, Tag_DNK, IsUndefinedOrNull(data.CashbookGridPK) ? "" : data.CashbookGridPK);
                    }
                    else if (_ActiveTab_ID == "contact_Frm_Voucher_Info") {
                        AfterVoucherClose_VoucherEntry();
                    }
                    dontaskpopupcloseconfirmation = true;
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
            });
        }
    }
    </script> @*Document.ready, SetDefaults & AjaxSuccess Functions*@

    <script>
        function InitAllDropDownDataGrid_DNK() {
            var $GLookUp_PartyList1_DG_DNK = $("#PartyList1_DNK_DG");
            if ($GLookUp_PartyList1_DG_DNK.length) {
                GLookUp_PartyList1_DG_DNK = $GLookUp_PartyList1_DG_DNK.dxDataGrid("instance");
            }
        }
        async function LookUp_GetPartyList_DNK(FirstCall = false) {
            if (FirstCall == false) {
                PartyList1_DDRefresh_DNK = true;
                await GLookUp_PartyList1_DG_DNK.refresh();
                PartyList1_DDRefresh_DNK = false;
                $("#GLookUp_PartyList1_DNK").dxDropDownBox("focus");
            }
            if (Tag_DNK == "_New" || Tag_DNK == "_New_From_Selection") {
                PartyList_DNK_ReadOnly = false;
                Control_SetReadOnly("GLookUp_PartyList1_DNK", "dxDropDownBox", (PartyList_DNK_Enable == true && PartyList_DNK_ReadOnly == false) ? false : true);
            }
            if (GLookUp_PartyList1_DG_DNK.getSelectedRowsData().length > 0) {
                ResetDropdownWithSameValue("GLookUp_PartyList1_DNK", GLookUp_PartyList1_DG_DNK);
            }
        }
        function GLookUp_PartyList1_EditValueChanged_DNK(e) {
            e.component.close();
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                GLookUp_PartyList1_DG_DNK.clearSelection();
                $("#BE_PAN_No_DNK").dxTextBox("instance").reset();
                $("#BE_City_DNK").dxTextBox("instance").reset();
                $("#BE_UID_No_DNK").dxTextBox("instance").reset();
                $("#BE_ID_No_DNK").dxTextBox("instance").reset();
                $("#BE_ID_No_Label_DNK").text("Passport No.:");
                $("#BE_Party_Category_DNK").val('');
                return;
            }
            if (GLookUp_PartyList1_DG_DNK.getSelectedRowsData().length > 0) {
                var item = GLookUp_PartyList1_DG_DNK.getSelectedRowsData()[0];
                $("#BE_PAN_No_DNK").dxTextBox("instance").option("value", item["C_PAN_NO"]);
                $("#BE_UID_No_DNK").dxTextBox("instance").option("value", item["C_UID_NO"]);
                $("#BE_ID_No_DNK").dxTextBox("instance").option("value", item["C_OTHER_ID"]);
                $("#BE_ID_No_Label_DNK").text(item["C_OTHER_ID_LABEL"]);
                $("#BE_City_DNK").dxTextBox("instance").option("value", item["CI_NAME"]);

                $("#BE_Party_Category_DNK").val(item["C_CATEGORY"]);
                $("#BE_ADD1_DNK").val(item["C_R_ADD1"]);
                $("#BE_ADD2_DNK").val(item["C_R_ADD2"]);
                $("#BE_ADD3_DNK").val(item["C_R_ADD3"]);
                $("#BE_ADD4_DNK").val(item["C_R_ADD4"]);
                $("#BE_STATE_DNK").val(item["ST_NAME"]);
                $("#BE_DISTRICT_DNK").val(item["DI_NAME"]);
                $("#BE_COUNTRY_DNK").val(item["CO_NAME"]);
                $("#BE_PINCODE_DNK").val(item["C_R_PINCODE"]);
            }
        }
    </script>  @*DropDownBox Functions*@

    <script>
    function BUT_SAVE_Click_DNK(e)
    {
        var form = $("#Frm_Voucher_Win_Gift_Window");
        if (ValidateForm(e))
        {
            if (Tag_DNK == "_Delete")
            {
                DeleteAfterConfirmation("@Model.Me_Text", "", form);
            }
            else
            {
                form.submit();
            }
        }
    }
    function Manage_Donar_DNK()
    {
        if ("@Donation_DNK_ListFacilityAddress" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed!!', 'No Rights');
            return;
        }
        if ("@Isvisible" == "False")
        {
            if (Tag_DNK == "_New" || Tag_DNK == "_New_From_Selection" || Tag_DNK == "_Edit")
            {
                ManageParty("Manag_OR_Add_DNK", "LookUp_GetPartyList_DNK");
            }
        }
    }
    function Add_Donar_DNK()
    {
        if ("@Donation_DNK_AddFacilityAddress" == "False")
        {
            DevExpress.ui.dialog.alert('Not Allowed!!', 'No Rights');
            return;
        }
        if ("@Isvisible" == "False")
        {
            if (Tag_DNK == "_New" || Tag_DNK == "_New_From_Selection" || Tag_DNK == "_Edit")
            {
                AddParty("Manag_OR_Add_DNK", "LookUp_GetPartyList_DNK", "Add_Donar_DNK", "But_DonAdd_DNK", "New ~ Address Book (Donor Details)");
            }
        }
    }
    function DataNavigation_DNK(Action)
    {
        if (Tag_DNK == "_View")
        {
            if (Action == "NEW" || Action == "EDIT" || Action == "DELETE")
            {
                return;
            }
        }
        var VDT = FormatDateToddMMyyyy($("#Txt_V_Date_DNK").dxDateBox("option","value"));
        if (Tag_DNK != "_Delete")
        {
            if (Action != "NEW")
            {
                if (Win_Gift_Item_Grid.GetFocusedRowIndex() < 0)
                {
                    DevExpress.ui.dialog.alert("Please Select A Item", "Error..");
                    return;
                }
            }
            var Grid_SR = Win_Gift_Item_Grid.GetRowKey(Win_Gift_Item_Grid.GetFocusedRowIndex());
            if (Action == "NEW")
            {
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Account/DonationInKindVoucher/Frm_Voucher_Win_Gift_Item",
                    data:
                    {
                        Tag: "_New",
                        iTxnM_ID: "@Model.xMID",
                        iSpecific_Allow: Tag_DNK == "_New_From_Selection" ? true : false,
                        iSpecific_ItemID: "@Model.iSpecific_ItemID",
                        Vdt: VDT
                    },
                    cache: false,
                    success: function (data)
                    {
                        OpenPopup("Win_Gift_Item_Popup", "New ~ Item Detail", null, "auto", 800, true, data);
                    }
                });
            }
            else if (Action == "EDIT" || Action == "VIEW")
            {
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Account/DonationInKindVoucher/Frm_Voucher_Win_Gift_Item",
                    data:
                    {
                        Tag: Action == "EDIT" ? "_Edit" : "_View",
                        iTxnM_ID: "@Model.xMID",
                        Grid_RowNo: Grid_SR
                    },
                    cache: false,
                    success: function (data)
                    {
                        OpenPopup("Win_Gift_Item_Popup", Action == "EDIT" ? "Edit ~ Item Detail" : "View ~ Item Detail", null, "auto", 800, true, data);
                    }
                });
            }
            else if (Action == "DELETE")
            {
                ShowLoader();
                $.ajax({
                    type: 'GET',
                    url: "/Account/DonationInKindVoucher/Frm_Voucher_Win_Gift_Item",
                    cache: false,
                    data:
                    {
                        MainTag: Tag_DNK,
                        Tag: "_Delete",
                        Grid_RowNo: Grid_SR,
                        iTxnM_ID: "@Model.xMID"
                    },
                    success: function (data)
                    {
                        HideLoader();
                        if (data.jsonParam.result == false)
                        {
                            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                            alertclick.done(function (alertResult)
                            {
                                if (alertResult)
                                {
                                    if (data.jsonParam.focusid)
                                    {
                                        setTimeout(function ()
                                        {
                                            Win_Gift_Item_Grid.Focus();
                                        }, Timeout100);
                                    }
                                }
                            });
                        }
                        else if (data.jsonParam.result == true)
                        {
                            PerformCallbackGridView("Win_Gift_Item_Grid");
                            Win_Gift_Item_Grid.SetFocusedRowIndex(-1);
                            //$.ajax({
                            //    type: 'POST',
                            //    url: "/Account/DonationInKindVoucher/Fill_Item_Grid",
                            //    cache: false,
                            //    data:
                            //    {
                            //        ActionMethod_Itm: "_Delete",
                            //        Action: Action,
                            //        Delete_Action: Delete_Action,
                            //        Grid_RowNo: Grid_RowNo,
                            //    },
                            //    success: function (data)
                            //    {
                            //
                            //    }
                            //});
                        }
                    }
                });
            }
        }
    }
    </script> @*Button Functions*@

    <script>
        function Fill_Item_Grid_DonationInKindVoucher() {
            ShowLoader_Ready();
            $.ajax({
                type: 'POST',
                url: "/Account/DonationInKindVoucher/Fill_Item_Grid",
                data: $("#Frm_Voucher_Win_Gift_Item_Window").serialize(),
                cache: false,
                success: function (data) {
                    if ($("#Win_Gift_Item_Content_popup").length > 0) {
                        if ($("#Win_Gift_Item_Content_popup").dxPopup("instance").option("title") != "PopUpDidnotOpen") {
                            $("#Win_Gift_Item_Content_popup").dxPopup("hide");
                        }
                    }
                    $("#Win_Gift_Item_Popup").dxPopup("hide");
                    PerformCallbackGridView("Win_Gift_Item_Grid");
                    Win_Gift_Item_Grid.SetFocusedRowIndex(-1);
                    Focus_FirstEditable_Field("Frm_Voucher_Win_Gift_Window", Tag_DNK);
                    HideLoader_Ready();
                }
            });
        }
    </script>  @*Fill Item Grid*@

    <script>
        function Win_Gift_GridContextMenuFunction(s, e) {
            if (e.item.name == 'New') {
                DataNavigation_DNK("NEW");
            }
            if (e.item.name == 'Edit') {
                DataNavigation_DNK("EDIT");
            }
            else if (e.item.name == 'View') {
                DataNavigation_DNK("VIEW");
            }
            else if (e.item.name == 'Delete') {
                DataNavigation_DNK("DELETE");
            }
        }
        function Win_Gift_GridDoubleClickEdit(s, e) {
            if (Tag_DNK == "_New" || Tag_DNK == "_New_From_Selection" || Tag_DNK == "_Edit") {
                DataNavigation_DNK("EDIT");
            }
        }
        function Win_Gift_GridFocusedRowChanged_DNK(s, e) {
            s.Focus();
        }
        function Win_Gift_Grid_BeginCallBack_DNK(s, e) {

        }
        function Win_Gift_Grid_EndCallback_DNK(s, e) {
            $('#Txt_SubTotal_DNK').dxNumberBox('instance').option('value', s.cpTxt_SubTotal_DNK);
            CheckEdit2_CheckedChanged_DNK();
        }
    </script>  @*Grid Functions*@

<script>
        //FCRA Related
        function OnSplVchrRefsListSelectionChanged_DNK(e) {
            var listBox = $("#ListSpecialVoucherRef_DNK").dxList("instance");
            var selecteditemkey = listBox.option("selectedItemKeys")
            if (selecteditemkey != null && selecteditemkey.length > 0) {
                $("#DNK_SplVchrReferenceSelected").val(selecteditemkey.join(","));
            }
            else {
                $("#DNK_SplVchrReferenceSelected").val("");
            }
        }// List selection


        
        //function getMobileOperatingSystem() {
        //    var userAgent = navigator.userAgent || navigator.vendor || window.opera;
        //    debugger;
        //    if (/android/i.test(userAgent)) {                
        //        $("#ListSpecialVoucherRef_DNK").dxList({
        //            // ...
        //            useNativeScrolling: false,
        //            showScrollbar: 'always' // or 'onScroll' | 'onHover' | 'never'
        //        });
        //    }

        //}


    </script>
</div>
