<div class="DNKItem_ClearReferences">
    @model ConnectOneMVC.Areas.Account.Models.DonationInKind_Item_Detail
    @using DevExtreme.AspNet.Mvc;

    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
        bool Isvisible = (Model.ActionMethod_DNK_Itm == "_Delete" || Model.ActionMethod_DNK_Itm == "_View") ? true : false;
        int YearID = (int)ViewBag.YearID;
    }
    <style>
        #DNK_Unit_NoData {
            word-break: normal;
            white-space: normal;
        }
    </style>

    <div id="Frm_Voucher_Win_Gift_Item">
        @using (Ajax.BeginForm("Frm_Voucher_Win_Gift_Item_Window", "DonationInKind",
                                                  new AjaxOptions
                                                  {
                                                      HttpMethod = "POST",
                                                      UpdateTargetId = "Frm_Voucher_Win_Gift_Item_Window",
                                                      InsertionMode = InsertionMode.InsertAfter,
                                                      OnBegin = "AjaxBeginFormPost",
                                                      OnSuccess = "Item_DetailAjaxSuccess_DNK_Itm"
                                                  },
                                                  new
                                                  {
                                                      id = "Frm_Voucher_Win_Gift_Item_Window",
                                                      @class = "edit_form form-horizontal"
                                                  }))
        {
            @Html.HiddenFor(x => x.ActionMethod_DNK_Itm)
            @Html.HiddenFor(x => x.Me_Text_DNK_Itm)
            @Html.HiddenFor(x => x.Tag_DNK_Itm)
            @Html.HiddenFor(x => x.TitleX_DNK_Itm)
            @Html.HiddenFor(x => x.GLookUp_ItemName_DNK_Itm)

            @Html.HiddenFor(x => x.iVoucher_Type_DNK_Itm)
            @Html.HiddenFor(x => x.iTrans_Type_DNK_Itm)
            @Html.HiddenFor(x => x.iLed_ID_DNK_Itm)
            @Html.HiddenFor(x => x.iLed_Type_DNK_Itm)
            @Html.HiddenFor(x => x.iCon_Led_Type_DNK_Itm)
            @Html.HiddenFor(x => x.iSpecific_ItemID_DNK_Itm)
            @Html.HiddenFor(x => x.iParty_Req_DNK_Itm)
            @Html.HiddenFor(x => x.iProfile_DNK_Itm)
            @Html.HiddenFor(x => x.iProfile_OLD_DNK_Itm)
            @Html.HiddenFor(x => x.iSpecific_Allow_DNK_Itm)
            @Html.HiddenFor(x => x.iPur_ID_DNK_Itm)
            @Html.HiddenFor(x => x.Calc_Allow_DNK_Itm)
            @Html.HiddenFor(x => x.iCond_Ledger_ID_DNK_Itm)
            @Html.HiddenFor(x => x.iMinValue_DNK_Itm)
            @Html.HiddenFor(x => x.iMaxValue_DNK_Itm)
            @Html.HiddenFor(x => x.Cnt_BankAccount_DNK_Itm)
            @Html.HiddenFor(x => x.Vno_DNK_Itm)
            @Html.HiddenFor(x => x.Vdt_DNK_Itm)
            @Html.HiddenFor(x => x.iTxnM_ID_DNK_Itm)
            @Html.HiddenFor(x => x.iReference_DNK_Itm)
            @Html.HiddenFor(x => x.iRefType_DNK_Itm)
            @Html.HiddenFor(x => x.X_LOC_ID_DNK_Itm)

            @Html.HiddenFor(x => x.GS_DESC_MISC_ID_DNK_Itm)
            @Html.HiddenFor(x => x.GS_ITEM_WEIGHT_DNK_Itm)

            @Html.HiddenFor(x => x.AI_TYPE_DNK_Itm)
            @Html.HiddenFor(x => x.AI_MAKE_DNK_Itm)
            @Html.HiddenFor(x => x.AI_MODEL_DNK_Itm)
            @Html.HiddenFor(x => x.AI_SERIAL_NO_DNK_Itm)
            @Html.HiddenFor(x => x.AI_PUR_DATE_DNK_Itm)
            @Html.HiddenFor(x => x.AI_WARRANTY_DNK_Itm)
            @Html.HiddenFor(x => x.AI_IMAGE_DNK_Itm)
            @Html.HiddenFor(x => x.AI_INS_AMT_DNK_Itm)

            @Html.HiddenFor(x => x.LS_NAME_DNK_Itm)
            @Html.HiddenFor(x => x.LS_BIRTH_YEAR_DNK_Itm)
            @Html.HiddenFor(x => x.LS_INSURANCE_DNK_Itm)
            @Html.HiddenFor(x => x.LS_INSURANCE_ID_DNK_Itm)
            @Html.HiddenFor(x => x.LS_INS_POLICY_NO_DNK_Itm)
            @Html.HiddenFor(x => x.LS_INS_DATE_DNK_Itm)
            @Html.HiddenFor(x => x.LS_INS_AMT_DNK_Itm)

            @Html.HiddenFor(x => x.VI_MAKE_DNK_Itm)
            @Html.HiddenFor(x => x.VI_MODEL_DNK_Itm)
            @Html.HiddenFor(x => x.VI_REG_NO_PATTERN_DNK_Itm)
            @Html.HiddenFor(x => x.VI_REG_NO_DNK_Itm)
            @Html.HiddenFor(x => x.VI_REG_DATE_DNK_Itm)
            @Html.HiddenFor(x => x.VI_OWNERSHIP_DNK_Itm)
            @Html.HiddenFor(x => x.VI_OWNERSHIP_AB_ID_DNK_Itm)
            @Html.HiddenFor(x => x.VI_DOC_RC_BOOK_DNK_Itm)
            @Html.HiddenFor(x => x.VI_DOC_AFFIDAVIT_DNK_Itm)
            @Html.HiddenFor(x => x.VI_DOC_WILL_DNK_Itm)
            @Html.HiddenFor(x => x.VI_DOC_TRF_LETTER_DNK_Itm)
            @Html.HiddenFor(x => x.VI_DOC_FU_LETTER_DNK_Itm)
            @Html.HiddenFor(x => x.VI_DOC_OTHERS_DNK_Itm)
            @Html.HiddenFor(x => x.VI_DOC_NAME_DNK_Itm)
            @Html.HiddenFor(x => x.VI_INSURANCE_ID_DNK_Itm)
            @Html.HiddenFor(x => x.VI_INS_POLICY_NO_DNK_Itm)
            @Html.HiddenFor(x => x.VI_INS_EXPIRY_DATE_DNK_Itm)

            @Html.HiddenFor(x => x.LB_PRO_TYPE_DNK_Itm)
            @Html.HiddenFor(x => x.LB_PRO_CATEGORY_DNK_Itm)
            @Html.HiddenFor(x => x.LB_PRO_USE_DNK_Itm)
            @Html.HiddenFor(x => x.LB_PRO_NAME_DNK_Itm)
            @Html.HiddenFor(x => x.LB_PRO_ADDRESS_DNK_Itm)
            @Html.HiddenFor(x => x.LB_ADDRESS1_DNK_Itm)
            @Html.HiddenFor(x => x.LB_ADDRESS2_DNK_Itm)
            @Html.HiddenFor(x => x.LB_ADDRESS3_DNK_Itm)
            @Html.HiddenFor(x => x.LB_ADDRESS4_DNK_Itm)
            @Html.HiddenFor(x => x.LB_STATE_ID_DNK_Itm)
            @Html.HiddenFor(x => x.LB_DISTRICT_ID_DNK_Itm)
            @Html.HiddenFor(x => x.LB_CITY_ID_DNK_Itm)
            @Html.HiddenFor(x => x.LB_PINCODE_DNK_Itm)
            @Html.HiddenFor(x => x.LB_OWNERSHIP_DNK_Itm)
            @Html.HiddenFor(x => x.LB_OWNERSHIP_PARTY_ID_DNK_Itm)
            @Html.HiddenFor(x => x.LB_SURVEY_NO_DNK_Itm)
            @Html.HiddenFor(x => x.LB_CON_YEAR_DNK_Itm)
            @Html.HiddenFor(x => x.LB_RCC_ROOF_DNK_Itm)
            @Html.HiddenFor(x => x.LB_PAID_DATE_DNK_Itm)
            @Html.HiddenFor(x => x.LB_PERIOD_FROM_DNK_Itm)
            @Html.HiddenFor(x => x.LB_PERIOD_TO_DNK_Itm)
            @Html.HiddenFor(x => x.LB_DOC_OTHERS_DNK_Itm)
            @Html.HiddenFor(x => x.LB_DOC_NAME_DNK_Itm)
            @Html.HiddenFor(x => x.LB_OTHER_DETAIL_DNK_Itm)
            @Html.HiddenFor(x => x.LB_REC_ID_DNK_Itm)
            @Html.HiddenFor(x => x.LB_TOT_P_AREA_DNK_Itm)
            @Html.HiddenFor(x => x.LB_CON_AREA_DNK_Itm)
            @Html.HiddenFor(x => x.LB_DEPOSIT_AMT_DNK_Itm)
            @Html.HiddenFor(x => x.LB_MONTH_RENT_DNK_Itm)
            @Html.HiddenFor(x => x.LB_MONTH_O_PAYMENTS_DNK_Itm)
            @Html.HiddenFor(x => x.List_LB_DOCS_ARRAY_DNK_Itm)
            @Html.HiddenFor(x => x.List_LB_EXTENDED_PROPERTY_TABLE_DNK_Itm)

            @Html.HiddenFor(x => x.Ref_RecID_DNK_Itm)

            @Html.HiddenFor(x => x.Sr)

            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="container-fluid">
                    <div class="full-width-header-bg">
                        <div class="row">

                            <div class="col-sm-8 pll">
                                <h3 class="popuphead"><i class="far fa-edit"></i>Item Details</h3>
                            </div>
                            <div class="col-sm-4 prm">
                                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i>  Red Fields are mandatory</h5>
                            </div>
                        </div>
                    </div>   <!--[Header]-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-2 plm">
                                        <label class="control-label text-red" for="Name">Item Name:</label>
                                    </div>
                                    <div class="col-sm-10 prm" data-toggle="tooltip" data-placement="bottom" title="Select Item">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_ItemList_DNK_Itm").Name("GLookUp_ItemList_DNK_Itm").ValueExpr("ITEM_ID").DisplayExpr("ITEM_NAME")
                                      .DataSource(d => d.Mvc().Controller("DonationInKindVoucher").LoadAction("LookUp_GetItemList_Itm_Dtel").Key("ITEM_ID").LoadParams(new { DDRefresh = new JS("function (){ return ItemList_DDRefresh_Itm_Dtel;}") })/*.LoadMode(DataSourceLoadMode.Raw).CacheRawData(true)*/)
                                      .Placeholder("Select Item...").ReadOnly(true).FocusStateEnabled(false).ShowClearButton(false)
                                      .OnValueChanged("GLookUp_ItemList_EditValueChanged_Itm_Dtel").ContentTemplate(@<text> @Html.Partial("LookUp_GetItemList_Itm_Dtel") </text>) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-2 plm"><label class="control-label disabletxt" for="user">Head:</label></div>
                                    <div class="col-sm-10 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Item_Head_DNK_Itm").Name("BE_Item_Head_DNK_Itm").ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-6 plm">
                                        <label class="control-label" for="user">Qty.:</label>
                                    </div>
                                    <div class="col-sm-6 prm plm">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Qty_DNK_Itm").Name("Txt_Qty_DNK_Itm").OnValueChanged("Txt_Qty_Rate_EditValueChanged_Itm_Dtel").Value(Model.Txt_Qty_DNK_Itm).Format("#.###").Placeholder("Type Qty..."))
                                    </div>
                                </div>
                            </div>
                        </div><!--[/Qty]-->
                        <div class="col-sm-2">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="control-label" for="user">Unit:</label>
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmd_UOM_DNK_Itm").Name("Cmd_UOM_DNK_Itm").Value(Model.Cmd_UOM_DNK_Itm).DataSource(new[] { "CM", "FEET", "GM", "INCH", "KG", "KM", "LTR", "M", "MG", "ML", "MM", "NO", "SQ FT", "YARD" }).ShowClearButton(false).NoDataText("<p ID='DNK_Unit_NoData'>No data to display</p>"))
                                    </div>
                                </div>
                            </div>
                        </div><!--[/Unit]-->
                        <div class="col-sm-3">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="control-label" for="user">Rate:</label>
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Rate_DNK_Itm").Name("Txt_Rate_DNK_Itm").Value(Model.Txt_Rate_DNK_Itm).Placeholder("Type Rate...").Format("#0.00").OnValueChanged("Txt_Qty_Rate_EditValueChanged_Itm_Dtel"))
                                    </div>
                                </div>
                            </div>
                        </div><!--[/Rate]-->
                        <div class="col-sm-3">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="control-label text-red" for="user">Amount:</label>
                                    </div>
                                    <div class="col-sm-7 prm">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().Name("Txt_Amount_DNK_Itm").ID("Txt_Amount_DNK_Itm").Value(Model.Txt_Amount_DNK_Itm).Format("#0.##"))
                                    </div>
                                </div>
                            </div>
                        </div><!--[/Amount]-->
                    </div><!--[/row3]-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-2 plm"><label class="control-label text-red" for="user">Purpose:</label></div>
                                    <div class="col-sm-10 prm" data-toggle="tooltip" data-placement="bottom" title="Select Purpose...">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_PurList_DNK_Itm").Name("GLookUp_PurList_DNK_Itm").ValueExpr("PUR_ID").DisplayExpr("PUR_NAME").Placeholder("Select Purpose...")
                                        .DataSource(d => d.Mvc().Controller("DonationInKindVoucher").LoadAction("LookUp_GetPurList_Itm_Dtel").Key("PUR_ID").LoadParams(new { DDRefresh = new JS("function (){ return PurList_DDRefresh_Itm_Dtel;}") }).LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                        .OnValueChanged("GLookUp_PurList_EditValueChanged_Itm_Dtel").ContentTemplate(@<text> @Html.Partial("LookUp_GetPurList_Itm_Dtel") </text>).ReadOnly(true).FocusStateEnabled(false))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[/Purpose]-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-sm-2 plm"><label class="control-label" for="user">Remarks:</label></div>
                                    <div class="col-sm-10 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Remarks_DNK_Itm").Name("Txt_Remarks_DNK_Itm").MaxLength(250).Placeholder("Type Any Remarks...").Value(Model.Txt_Remarks_DNK_Itm))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[/Purpose]-->
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ {1})...", Model.ActionMethod_DNK_Itm.Substring(1), Model.TitleX_DNK_Itm))
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="styleActionBtn">
                                        @(Html.DevExtreme().Button().ID("BUT_SAVE_COM_Itm_Dtel").CustomSaveButton(Model.ActionMethod_DNK_Itm).Text((Model.ActionMethod_DNK_Itm.Trim() == "_Delete") ? "Delete" : "OK").UseSubmitBehavior(false).OnClick("DIK_Item_But_save_click"))
                                        @(Html.DevExtreme().Button().ID("BUT_CANCEL_Itm_Dtel").CustomCloseButton().Text((Model.ActionMethod_DNK_Itm.Trim() == "_View") ? "Close" : "Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Win_Gift_Item_Popup").dxPopup("hide"); } </text>) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Button]-->
                </div>
            }
        }
    </div>
    @(Html.DevExtreme().Popup().CustomPopup().ID("Win_Gift_Item_Content_popup").CloseOnOutsideClick(false).ShowTitle(true).Title("PopUpDidnotOpen") )
    <script>
    var ItemList_DDRefresh_Itm_Dtel;
    var PurList_DDRefresh_Itm_Dtel;
    var DG_ItemList_Itm_Dtel;
    var DG_PurList_Itm_Dtel;
    var Tag_Itm_Dtel = "@Model.ActionMethod_DNK_Itm";
    var PurList_Itm_Enable = true;
    var PurList_Itm_ReadOnly = true;
    var ItemList_Itm_Enable = true;
    var ItemList_Itm_ReadOnly = true;
    var Txt_Qty_Itm_Enable = true;
    var Txt_Qty_Itm_ReadOnly = false;
    var Cmd_UOM_Itm_Enable = true;
    var Cmd_UOM_Itm_ReadOnly = false;
    var Txt_Rate_Itm_Enable = true;
    var Txt_Rate_Itm_ReadOnly = false;

    </script> @*Global Variables*@
    <script>
    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        AssignIDtoLabel("Frm_Voucher_Win_Gift_Item_Window","DIK_Item")
        TransformTextForDB("Frm_Voucher_Win_Gift_Item_Window");
        InitAllDropDownDataGrid_Itm_Dtel();
        await Promise.all([LookUp_GetItemList_Itm_Dtel(true), LookUp_GetPurposeList_Itm_Dtel(true)]);
        //$("#Txt_Amount_DNK_Itm").find('input').css('color', "#696969");
        if (Tag_Itm_Dtel == "_Edit" || Tag_Itm_Dtel == "_Delete" || Tag_Itm_Dtel == "_View")
        {
            await DG_ItemList_Itm_Dtel.selectRows($("#iSpecific_ItemID_DNK_Itm").val(),false);
            ItemList_Itm_ReadOnly = true;
            Control_SetReadOnly("GLookUp_ItemList_DNK_Itm", "dxDropDownBox", (ItemList_Itm_Enable == true && ItemList_Itm_ReadOnly == false) ? false : true);

            await DG_PurList_Itm_Dtel.selectRows($("#iPur_ID_DNK_Itm").val(),false);
            PurList_Itm_ReadOnly = false;
            Control_SetReadOnly("GLookUp_PurList_DNK_Itm", "dxDropDownBox", (PurList_Itm_Enable == true && PurList_Itm_ReadOnly == false) ? false : true);
            @*$("#Txt_Qty_DNK_Itm").dxNumberBox("instance").option("value", parseFloat("@Model.Txt_Qty_DNK_Itm"));*@
        }
        if (Tag_Itm_Dtel == "_View")
        {
            switch ($("#iProfile_DNK_Itm").val())
            {
                case "GOLD":
                case "SILVER":
                case "OTHER ASSETS":
                case "LIVESTOCK":
                case "VEHICLES":
                case "LAND & BUILDING":
                    $("#BUT_SAVE_COM_Itm_Dtel").dxButton("instance").option("text", "View");
                    break;
                default:
                    if ($("#iVoucher_Type_DNK_Itm").val().toUpperCase() == "LAND & BUILDING" && $("#iProfile_DNK_Itm").val().toUpperCase()!="LAND & BUILDING")
                    {
                        $("#BUT_SAVE_COM_Itm_Dtel").dxButton("instance").option("text", "View");
                    }
                    else
                    {
                        $("#BUT_SAVE_COM_Itm_Dtel").dxButton("instance").option("visible", false);
                    }
                    break;
            }
        }
        if ("@Model.iSpecific_Allow_DNK_Itm" == "True")  //By Item-wise Selection
        {
            await DG_ItemList_Itm_Dtel.selectRows($("#iSpecific_ItemID_DNK_Itm").val(), false);
            ItemList_Itm_ReadOnly = false;
            Control_SetReadOnly("GLookUp_ItemList_DNK_Itm", "dxDropDownBox", (ItemList_Itm_Enable == true && ItemList_Itm_ReadOnly == false) ? false : true);
            $("#iSpecific_Allow_DNK_Itm").val(false);
        }
        FormInitialSettings("Frm_Voucher_Win_Gift_Item_Window",Tag_Itm_Dtel);
    });
    function DIK_Item_But_save_click(e)
    {
        if (ValidateForm(e))
        {
            $("#Frm_Voucher_Win_Gift_Item_Window").submit();
        }
    }
    function Item_DetailAjaxSuccess_DNK_Itm(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result == true)
        {
            if (data.jsonParam.popup_form_path == "" || data.jsonParam.popup_form_path == null)
            {
                Fill_Item_Grid_DonationInKindVoucher();
            }
            else
            {
                ShowLoader();
                if (data.jsonParam.popup_form_name == "Frm_Reference_Type")
                {
                    OpenPopup("Win_Gift_Item_Content_popup", data.jsonParam.popup_title, data.jsonParam.popup_form_path + "?" + data.jsonParam.popup_querystring, "auto", 340, false, null);
                }
                else
                {
                    OpenPopup("Win_Gift_Item_Content_popup", data.jsonParam.popup_title, data.jsonParam.popup_form_path + "?" + data.jsonParam.popup_querystring, "auto", 1000, false, null);
                }
            }
        }
    }
    $(function ()
    {
        $("#Win_Gift_Item_Content_popup").dxPopup({
            onHiding: function (e)
            {
                var title = $("#Win_Gift_Item_Content_popup").dxPopup("instance").option("title");
                $.ajax({
                    type: 'GET',
                    url: "/Account/ProfilePaymentVoucher/ProfilePaymentClearSession",
                    cache: false,
                    success: function ()
                    {
                        if (title.includes("Land & Building") || title.includes("Property"))
                        {
                            $("#Win_Gift_Item_Popup").dxPopup("hide");
                        }
                    }
                });

                //if ($("#Frm_Asset_Window_ParentDiv").length > 0) { $("#Frm_Asset_Window_ParentDiv").remove(); }
                //if ($("#Frm_GoldSilver_Window_ParentDiv").length > 0) { $("#Frm_GoldSilver_Window_ParentDiv").remove(); }
                //if ($("#Payment_PropertySelect_ParentDiv").length > 0) { $("#Payment_PropertySelect_ParentDiv").remove(); }
                //if ($("#Frm_Live_Stock_Window_ParentDiv").length > 0) { $("#Frm_Live_Stock_Window_ParentDiv").remove(); }
                //if ($("#Frm_Vehicle_Window_ParentDiv").length > 0) { $("#Frm_Vehicle_Window_ParentDiv").remove(); }
                //if ($("#Frm_Property_Window_ParentDiv").length > 0) { $("#Frm_Property_Window_ParentDiv").remove(); }
                //if ($("#WIPReferenceType_ParentDiv").length > 0) { $("#WIPReferenceType_ParentDiv").remove(); }
            }
        });
    });
    </script> @*Document.ready, SetDefault() & AjaxSuccess Functions*@
    <script>
    function InitAllDropDownDataGrid_Itm_Dtel() {
        var $DG_ItemList_Itm_Dtel = $("#ItemList_DG_Itm_Dtel");
        if ($DG_ItemList_Itm_Dtel.length) {
            DG_ItemList_Itm_Dtel = $DG_ItemList_Itm_Dtel.dxDataGrid("instance");
        }

        var $DG_PurList_Itm_Dtel = $("#PurList_DG_Itm_Dtel");
        if ($DG_PurList_Itm_Dtel.length) {
            DG_PurList_Itm_Dtel = $DG_PurList_Itm_Dtel.dxDataGrid("instance");
        }
    }
    async function LookUp_GetPurposeList_Itm_Dtel(FirstCall = false) {
        if (FirstCall == false) {
            PurList_DDRefresh_Itm_Dtel = true;
            await DG_PurList_Itm_Dtel.refresh();
            PurList_DDRefresh_Itm_Dtel = false;
        }
        if (Tag_Itm_Dtel == "_New" || Tag_Itm_Dtel == "_New_From_Selection") {
            PurList_Itm_ReadOnly = false;
            Control_SetReadOnly("GLookUp_PurList_DNK_Itm", "dxDropDownBox", (PurList_Itm_Enable == true && PurList_Itm_ReadOnly == false) ? false : true);
        }
    }
    function GLookUp_PurList_EditValueChanged_Itm_Dtel(e) {
        e.component.close();
        if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
            DG_PurList_Itm_Dtel.clearSelection();
            return;
        }
    }
    async function LookUp_GetItemList_Itm_Dtel(FirstCall = false) {
        if (FirstCall == false) {
            ItemList_DDRefresh_Itm_Dtel = true;
            await DG_ItemList_Itm_Dtel.refresh();
            ItemList_DDRefresh_Itm_Dtel = false;
        }
        var TotalCount = DG_ItemList_Itm_Dtel.totalCount();
        if (TotalCount < 0) //dd has not been loaded so total count will return -1 in this case
        {
            var ds = $("#GLookUp_ItemList_DNK_Itm").dxDropDownBox("getDataSource");
            var store = ds.store();
            TotalCount = await store.totalCount();
        }
        if (TotalCount == 1) {
            $("#GLookUp_ItemList_DNK_Itm").find('input').css('color', '#000080');//Setting Navy blue colour
            if (Tag_Itm_Dtel == "_New" || Tag_Itm_Dtel == "_New_From_Selection") {
                DG_ItemList_Itm_Dtel.selectRowsByIndexes(0);
                ItemList_Itm_Enable = false;
                Control_SetReadOnly("GLookUp_ItemList_DNK_Itm", "dxDropDownBox", (ItemList_Itm_Enable == true && ItemList_Itm_ReadOnly == false) ? false : true);
            }
        }
        else {
            if (Tag_Itm_Dtel == "_New" || Tag_Itm_Dtel == "_New_From_Selection") {
                ItemList_Itm_ReadOnly = false;
                Control_SetReadOnly("GLookUp_ItemList_DNK_Itm", "dxDropDownBox", (ItemList_Itm_Enable == true && ItemList_Itm_ReadOnly == false) ? false : true);
            }
        }
    }
    function GLookUp_ItemList_EditValueChanged_Itm_Dtel(e)
    {
        e.component.close();
        if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
            DG_ItemList_Itm_Dtel.clearSelection();
            $("#BE_Item_Head_DNK_Itm").dxTextBox("instance").reset();
            return;
        }
        if (DG_ItemList_Itm_Dtel.getSelectedRowsData().length > 0) {
            var item = DG_ItemList_Itm_Dtel.getSelectedRowsData()[0];
            $("#GLookUp_ItemName_DNK_Itm").val(item["ITEM_NAME"]);
            $("#BE_Item_Head_DNK_Itm").dxTextBox("instance").option("value", item["LED_NAME"]);

            $("#iVoucher_Type_DNK_Itm").val(item["ITEM_VOUCHER_TYPE"]);
            $("#iLed_ID_DNK_Itm").val(item["ITEM_LED_ID"]);
            $("#iLed_Type_DNK_Itm").val(item["LED_TYPE"]);
            $("#iCon_Led_Type_DNK_Itm").val(item["CON_LED_TYPE"]);
            $("#iTrans_Type_DNK_Itm").val(item["ITEM_TRANS_TYPE"]);
            $("#iParty_Req_DNK_Itm").val(item["ITEM_PARTY_REQ"]);
            $("#iProfile_DNK_Itm").val(item["ITEM_PROFILE"]);
            $("#iCond_Ledger_ID_DNK_Itm").val(item["ITEM_CON_LED_ID"]);
            $("#iMinValue_DNK_Itm").val(item["ITEM_CON_MIN_VALUE"]);
            $("#iMaxValue_DNK_Itm").val(item["ITEM_CON_MAX_VALUE"]);

            if ($("#iProfile_DNK_Itm").val() == "VEHICLES" || $("#iProfile_DNK_Itm").val() == "LIVESTOCK" || $("#iProfile_DNK_Itm").val() == "LAND & BUILDING") {
                Txt_Qty_Itm_Enable = false;
                Control_SetReadOnly("Txt_Qty_DNK_Itm", "dxNumberBox", (Txt_Qty_Itm_Enable == true && Txt_Qty_Itm_ReadOnly == false) ? false : true);
                $("#Txt_Qty_DNK_Itm").dxNumberBox("instance").option("value", 1);

                Cmd_UOM_Itm_Enable = false;
                Control_SetReadOnly("Cmd_UOM_DNK_Itm", "dxSelectBox", (Cmd_UOM_Itm_Enable == true && Cmd_UOM_Itm_ReadOnly == false) ? false : true);
                $("#Cmd_UOM_DNK_Itm").dxSelectBox("instance").option("value", "NO");

                Txt_Rate_Itm_Enable = false;
                Control_SetReadOnly("Txt_Rate_DNK_Itm", "dxNumberBox", (Txt_Rate_Itm_Enable == true && Txt_Rate_Itm_ReadOnly == false) ? false : true);

                //$("#Txt_Rate_DNK_Itm").dxNumberBox("instance").option("format", "#0.00");            
            }
            else if ($("#iProfile_DNK_Itm").val() == "ADVANCES" || $("#iProfile_DNK_Itm").val() == "OTHER DEPOSITS" || $("#iProfile_DNK_Itm").val() == "OTHER LIABILITIES" || $("#iProfile_DNK_Itm").val() == "TELEPHONE BILL") {
                Txt_Qty_Itm_Enable = false;
                Control_SetReadOnly("Txt_Qty_DNK_Itm", "dxNumberBox", (Txt_Qty_Itm_Enable == true && Txt_Qty_Itm_ReadOnly == false) ? false : true);
                $("#Txt_Qty_DNK_Itm").dxNumberBox("instance").reset();

                Cmd_UOM_Itm_Enable = false;
                Control_SetReadOnly("Cmd_UOM_DNK_Itm", "dxSelectBox", (Cmd_UOM_Itm_Enable == true && Cmd_UOM_Itm_ReadOnly == false) ? false : true);
                $("#Cmd_UOM_DNK_Itm").dxSelectBox("instance").option("value", "NO");

                Txt_Rate_Itm_Enable = false;
                Control_SetReadOnly("Txt_Rate_DNK_Itm", "dxNumberBox", (Txt_Rate_Itm_Enable == true && Txt_Rate_Itm_ReadOnly == false) ? false : true);

                //$("#Txt_Rate_DNK_Itm").dxNumberBox("instance").option("format", "#0.00");
            }
            else if ($("#iProfile_DNK_Itm").val() == "GOLD" || $("#iProfile_DNK_Itm").val() == "SILVER" || $("#iProfile_DNK_Itm").val() == "OTHER ASSETS") {
                Txt_Qty_Itm_Enable = true;
                Control_SetReadOnly("Txt_Qty_DNK_Itm", "dxNumberBox", (Txt_Qty_Itm_Enable == true && Txt_Qty_Itm_ReadOnly == false) ? false : true);

                Cmd_UOM_Itm_Enable = true;
                Control_SetReadOnly("Cmd_UOM_DNK_Itm", "dxSelectBox", (Cmd_UOM_Itm_Enable == true && Cmd_UOM_Itm_ReadOnly == false) ? false : true);
                $("#Cmd_UOM_DNK_Itm").dxSelectBox("instance").option("value", "NO");

                Txt_Rate_Itm_Enable = true;
                Control_SetReadOnly("Txt_Rate_DNK_Itm", "dxNumberBox", (Txt_Rate_Itm_Enable == true && Txt_Rate_Itm_ReadOnly == false) ? false : true);

                if ($("#iProfile_DNK_Itm").val() == "GOLD" || $("#iProfile_DNK_Itm").val() == "SILVER") {
                    //$("#Txt_Rate_DNK_Itm").dxNumberBox("instance").option("format", "#0.00");
                }
                else {
                   // $("#Txt_Rate_DNK_Itm").dxNumberBox("instance").option("format", "#0.00");
                }

            }
            else {
                Txt_Qty_Itm_Enable = true;
                Control_SetReadOnly("Txt_Qty_DNK_Itm", "dxNumberBox", (Txt_Qty_Itm_Enable == true && Txt_Qty_Itm_ReadOnly == false) ? false : true);
                $("#Txt_Qty_DNK_Itm").dxNumberBox("instance").reset();

                Cmd_UOM_Itm_Enable = true;
                Control_SetReadOnly("Cmd_UOM_DNK_Itm", "dxSelectBox", (Cmd_UOM_Itm_Enable == true && Cmd_UOM_Itm_ReadOnly == false) ? false : true);
                $("#Cmd_UOM_DNK_Itm").dxSelectBox("instance").option("value", "NO");

                Txt_Rate_Itm_Enable = true;
                Control_SetReadOnly("Txt_Rate_DNK_Itm", "dxNumberBox", (Txt_Rate_Itm_Enable == true && Txt_Rate_Itm_ReadOnly == false) ? false : true);

                //$("#Txt_Rate_DNK_Itm").dxNumberBox("instance").option("format", "#0.00");

                if ((item["ITEM_VOUCHER_TYPE"].toUpperCase() == "LAND & BUILDING" && item["ITEM_PROFILE"].toUpperCase() != "LAND & BUILDING") || item["ITEM_PROFILE"].toUpperCase() == "WIP") {
                    Txt_Qty_Itm_Enable = false;
                    Control_SetReadOnly("Txt_Qty_DNK_Itm", "dxNumberBox", (Txt_Qty_Itm_Enable == true && Txt_Qty_Itm_ReadOnly == false) ? false : true);
                }
            }
        }
    }

    function Txt_Qty_Rate_EditValueChanged_Itm_Dtel(e) {
        var Txt_Qty = $("#Txt_Qty_DNK_Itm").dxNumberBox("instance").option("value");
        var Txt_Rate;
        if (@YearID <= 2223) {
            Txt_Rate = 1;
        }
        else {
            Txt_Rate = $("#Txt_Rate_DNK_Itm").dxNumberBox("instance").option("value");
        }
        if (Txt_Qty != null && Txt_Rate != null) {
            $("#Txt_Amount_DNK_Itm").dxNumberBox("instance").option("value", Txt_Qty == null ? 0 : parseFloat(Txt_Qty * Txt_Rate).toFixed(2));
        }
    }
    </script> @*InitAllDDdatagrid, Lookup & DropDownBox Onvaluechanged Functions*@

</div>
