<div class="AccommodationDashboard_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @{
        Layout = null;
    }
    <style>
        #AccomRegister_AccomDashboard, #GSR_AccomDashboard, #SerForms_AccomDashboard,
        #RoomsViz_AccomDashboard, #FoodDet_AccomDashboard, #FoodSumm_AccomDashboard,
        #Sewadhari_AccomDashboard, #OneDayGuest_AccomDashboard {
            background: #4472C4;
            color: #fff;
            border-color: #2F528F;
            padding: 5px;
            margin-bottom: 10px;
            margin-top:10px;
            font-size: medium;
            width: 50%;
        }
    </style>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <br />
            @(Html.DevExtreme().Button().ID("AccomRegister_AccomDashboard").Text("Accommodation Register").OnClick("AccomRegister_AccomDashboard_Onclick")   )
            @(Html.DevExtreme().Button().ID("GSR_AccomDashboard").Text("Godly Service Report").OnClick("GSR_AccomDashboard_Onclick")   )
            @(Html.DevExtreme().Button().ID("SerForms_AccomDashboard").Text("Service Forms").OnClick("SerForms_AccomDashboard_Onclick")   )
            @(Html.DevExtreme().Button().ID("RoomsViz_AccomDashboard").Text("Rooms Visualization").OnClick("RoomsViz_AccomDashboard_Onclick")   )
            @(Html.DevExtreme().Button().ID("FoodDet_AccomDashboard").Text("Food Details").OnClick("FoodDet_AccomDashboard_Onclick")   )
            @(Html.DevExtreme().Button().ID("FoodSumm_AccomDashboard").Text("Food Summary").OnClick("FoodSumm_AccomDashboard_Onclick")   )
            @(Html.DevExtreme().Button().ID("Sewadhari_AccomDashboard").Text("Sewadhari Live").OnClick("Sewadhari_AccomDashboard_Onclick")   )
            @(Html.DevExtreme().Button().ID("OneDayGuest_AccomDashboard").Text("One Day Guest").OnClick("OneDayGuest_AccomDashboard_Onclick")   )
        </div>

    </div>
    
    <script>
        function AccomRegister_AccomDashboard_Onclick() {
            OpenTabControl('Frm_AccommodationRegister_Info',
                                    'Accommodation Register', '@Url.Action("Frm_AccommodationRegister_Info", "AccommodationRegister", new { @area = "Facility" })')
        }
        function GSR_AccomDashboard_Onclick() {
            OpenTabControl('Frm_Service_Report_Info','Godly Service Report','@Url.Action("Frm_Service_Report_Info", "ServiceReport", new { @area = "Facility" })')
        }
        function SerForms_AccomDashboard_Onclick (){
            OpenTabControl('Frm_Chart_Info','Service Forms','@Url.Action("Frm_Chart_Info", "Chart", new { @area = "Facility" })')
        }
        function RoomsViz_AccomDashboard_Onclick (){
            OpenTabControl('Frm_RoomsOccupancyVisualization_Info',
                                    'RoomsVisualization', '@Url.Action("Frm_RoomsOccupancyVisualization_Info", "RoomsVisualization", new { @area = "Facility" })')
        }
        function FoodDet_AccomDashboard_Onclick (){
            showFoodDetail_ChartReports(null, null, null, null, null, null, SummaryType = 'FOOD DETAIL')
        }
        function FoodSumm_AccomDashboard_Onclick (){
            showFoodSummary_ChartReports(null, null, null, null, null, null, SummaryType = 'FOOD SUMMARY')
        }
        function Sewadhari_AccomDashboard_Onclick (){
            showSevadhariSummary_ChartReports(null, null, null, null, null, null, SummaryType = 'SEVADHARI SUMMARY')
        }
        function OneDayGuest_AccomDashboard_Onclick (){

        }
    </script>
</div>
