<div class="NoteBookExport_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress.XtraReports.UI;
    @*<div>
        @(Html.DevExtreme().Button()
                .ID("NB_ExportGridDatapdf")
                .Text("Export to PDF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportPDF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("NB_ExportGridDataxls")
                .Text("Export to XLS")
                //.Icon("fa-file-excel-o")
                .OnClick("ExportXLS")
                .Visible(true)
                .Width(120)
    )<br />
        @(Html.DevExtreme().Button()
                .ID("NB_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportXLSX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("NB_ExportGridDatadocx")
                .Text("Export to DOCX")
                //.Icon("export_exporttodocx_16x16office2013")
                .OnClick("ExportDOCX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("NB_ExportGridDatartf")
                .Text("Export to RTF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportRTF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("NB_ExportGridDatacsv")
                .Text("Export to CSV")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportCSV")
                .Visible(true)
                .Width(120)
    )
    </div>
    <script>
        function ExportPDF() {
            NoteBookListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#report_modal_NB").dxPopup("hide");
        }
        function ExportXLS() {
            NoteBookListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#report_modal_NB").dxPopup("hide");
        }
        function ExportXLSX() {
            NoteBookListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#report_modal_NB").dxPopup("hide");
        }
        function ExportCSV() {
            NoteBookListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#report_modal_NB").dxPopup("hide");
        }
        function ExportDOCX() {
            NoteBookListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#report_modal_NB").dxPopup("hide");
        }
        function ExportRTF() {
            NoteBookListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#report_modal_NB").dxPopup("hide");
        }
    </script>*@
    @model  XtraReport
            @Html.DevExpress().WebDocumentViewer(settings =>
        {
            settings.Name = "NBWebDocumentViewer";
            //settings.MobileMode = Request.Browser.IsMobileDevice;
            //settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
            settings.ClientSideEvents.Init = "function(s, e) { s.previewModel.reportPreview.showMultipagePreview(true);}";
            settings.ControlStyle.CssClass = "DevexpressComponents";
            
        }).Bind(Model).GetHtml()
</div>
