<div class="NoteBook_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @model ConnectOneMVC.Areas.Account.Models.NoteBook_Info
    @{
        ViewBag.Title = "Index";
        Layout = null;
        var Open_From_CB = ViewBag.Open_From_CB;

        bool Accnt_Notebook_ExportRight = (bool)ViewData["Accnt_Notebook_ExportRight"];
    }
    <style>
        .filter_btn i {
            background: #86c13e;
        }

        .find_btn i {
            background: #81b4df;
        }

        .GridViewShowFilterOnHover:hover .dxgv__hfb {
            display: inline-table !important;
        }

        .GridViewShowFilterOnHover .dxgv__hfb[alt="Filter applied"] {
            display: inline-table !important;
        }

        .GridViewShowFilterOnHover .dxgv__hfb {
            display: none !important;
        }

        .GridViewShowFilterOnHover {
            padding: 5px 0px 5px 0px !important;
        }

        .NoteBookCellClass {
            padding: 4px 2px 4px 2px !important;
            font-weight: 500 !important;
        }

        .NoteBookAltRowClass {
            background: linear-gradient(to top, #FFF6E3 0%, #FFFEFB 100%);
        }

        .NoteBookRowClass:not(.NoteBookAltRowClass) {
            background: linear-gradient(to top, #DFF5FF 0%, #FEFEFF 100%);
        }

        .NoteBookFocusedRowClass {
            background: #89CFF0 !important;
        }

        .hideHeader {
            display: none;
        }
        .NoteBookCellClass input::-webkit-outer-spin-button,
        .NoteBookCellClass input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    <div id="NoteBook_ParentDiv" class="report_header_div_main">
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.Cmb_View_SelectedIndex)
        <div class="container-fluid" id="Notebook_content">
            <div class="row report_header_div_main">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-auto padd report_header_div">
                            <label class="report_header_label">Note-Book Entry</label>
                        </div>
                        <div class="col-auto report_button_div">

                            @(Html.DevExtreme().Button().ID("BUT_LOCKED_ALL_NB").Text("Lock All").Icon("fa fa-lock").Visible(Model.Lock_unlockRight && false))
                            @(Html.DevExtreme().Button().ID("BUT_UNLOCKED_NB").Text("Unlock").Icon("fa fa-unlock").Visible(Model.Lock_unlockRight && false))
                            @(Html.DevExtreme().Button().ID("BUT_LOCKED").Text("Lock").Icon("fa fa-lock").Visible(Model.Lock_unlockRight && false))
                            @(Html.DevExtreme().Button().ID("BUT_PRINT_NB").Text("List Preview").Icon("print").OnClick("OnNoteBookListPreviewClick"))
                            @(Html.DevExtreme().Button().ID("BUT_SAVE_NB").Text("Save").Icon("fas fa-check-circle btn-icons checkgreen icon-rgt-space5").OnClick("SaveClick_NB") )
                            @(Html.DevExtreme().Button().ID("BUT_CLOSE_NB").Text("Close").Icon("close").OnClick("NB_CloseClick"))

                        </div>
                    </div>
                </div>
            </div>
            <div class="row report_header_div_main">
                <div class="col-sm-6 col-md-8 col-lg-8">
                    <div class="row">
                        <div class="col-md-5 col-lg-5">
                            @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmb_View_NB").Name("Cmb_View_NB").DataSource(Model.PeriodData,"Index").Value(Model.Cmb_View_SelectedIndex).ValueExpr("Index").DisplayExpr("Period").OnValueChanged("Cmb_View_SelectedIndexChanged_NB").ShowClearButton(false).Width(120))
                        </div>
                        <div class="col-md-7 col-lg-7">
                            @(Html.DevExtreme().TextBox().ID("BE_View_Period_NB").Name("BE_View_Period_NB").Value(Model.Periodtext).ReadOnly(true).FocusStateEnabled(false).Width(200))
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4" style="float:right;text-align:right">
                    <label id="BE_Cash_Bank_NB" style="color:#D2691E;font:bold;padding-top:6px">@ViewData["BE_Cash_Bank_Text"]</label>
                    @(Html.DevExtreme().Button().ID("BUT_Summary_NB").Text("Summary").Hint("Summary").ElementAttr(new Dictionary<string, object>() { { "class", "float-right" } }).OnClick("BE_Cash_Bank_ButtonClick_NB"))
                </div>
            </div>@* Period *@
            <div class="row">
                <div class="col-xs-12">
                    <div id="NBreloadPartialView" class="parent_table">
                        @using (Ajax.BeginForm("ReportGenerator", "NoteBook", new AjaxOptions { HttpMethod = "POST", OnBegin = "AjaxBeginFormPost", OnSuccess = "AjaxSuccessNB_Export" }, new { id = "NBExport_Form" }))
                        {
                            @Html.Hidden("TotalDays")
                            @Html.Hidden("Band_Caption")
                            @Html.Hidden("Set_Disable")
                            @Html.Hidden("PeriodText")
                            @Html.Hidden("ChangedValue")
                            @Html.Partial("Frm_NoteBook_Info_Grid", Model.NoteBookData)
                        }
                    </div>
                </div>
            </div>@* Grid *@
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-12">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4" style="padding-top:6px">
                            @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0})...", Model.ActionMethod == "_View" ? "View ~ Note-Book Entry" : "Note-Book Entry(Cash Book)"))
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4" style="padding-top:6px">
                            <label id="lbl_EntryDatemonth_NB">Entry Date / Month </label>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4" style="padding-top:6px">
                            <label id="lbl_SelectedItem_NB">Item </label>
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-4 col-md-4 col-lg-4">
                        @Html.DevExpress().TrackBar(
                           tb =>
                           {
                               tb.Name = "trackBarNB";
                               tb.Properties.ScalePosition = ScalePosition.LeftOrTop;
                               tb.Properties.ValueToolTipPosition = ValueToolTipPosition.RightOrBottom;
                               tb.Properties.ValueType = typeof(string);
                               tb.Width = 150;
                               tb.Position = 2;
                               tb.Properties.ClientSideEvents.PositionChanged = "NBTrackBarPositionChanged";
                               tb.ControlStyle.CssClass = "float-right";
                               tb.Properties.ScalePosition = ScalePosition.None;
                           }
                       ).GetHtml()

                        @(Html.DevExtreme().Button().ID("But_Find_NB").Text("Find").Icon("find").Hint("Show search").ElementAttr(new Dictionary<string, object>() { { "class", "float-right find_btn" } }).OnClick("NB_FindClick"))
                        @(Html.DevExtreme().Button().ID("But_Filter_NB").Text("Filter").Icon("find").Hint("Show filter").ElementAttr(new Dictionary<string, object>() { { "class", "float-right filter_btn" } }).OnClick("NB_FilterClick"))

                    </div>*@
            </div>@* Footer *@
        </div>
    </div>
    @*Summary popup*@
    @(Html.DevExtreme().Popup().CustomPopup().ID("popup_frm_Frm_View_Summary_NB").ShowCloseButton(true).OnShowing("PopupOnShowing").OnHiding("NB_Summary_close").Title("Summary").ContentTemplate( @<text> <div id='popup_frm_Frm_View_Summary_NB_result'>  </div> </text>) )
    <script>
        var REC_ID_NB;
        var ITEM_NAME_NB;
        var AMT_TOTAL_NB = 0;
        var NBFindVisible = true;
        var NBFilterVisible = true;
        var Close_Btn_Click = false;
        var NB_EditorFocus = false;
        var NB_SetDisable = false;
        var NB_PeriodChange = false;
        var xFR_Date;
        var FocusedCell_RowVisibleIndex_NB = null;
        var FocusedCell_ColumnVisibleIndex_NB = null;
        var NoteBook_ChangedValues = new Array();     
        function NoteBook_Grid_init(s, e) {
            NB_AdjustSize(s, e);
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                NB_AdjustSize(s, e);

            });
            s.SetFocusedRowIndex(-1);
        }
        function NB_AdjustSize(s, e) {
            var height = (document.documentElement.clientHeight * 90) / 100;
            s.SetHeight(height);
        }
        function NoteBook_Grid_beginCallBack(s, e) {
            ShowLoader_GridView();
            e.customArgs["command"] = e.command;
            e.customArgs["TotalDays"] = TotalDays_NB;
            e.customArgs["Band_Caption"] = Band2Caption;
            e.customArgs["setDisable"] = NB_SetDisable;
            e.customArgs["ChangedValue"] = JSON.stringify(NoteBook_ChangedValues);
        }
        function NoteBook_Grid_endcallback(s, e) {
            NoteBook_ChangedValues = new Array();
            $("#BE_Cash_Bank_NB").text(s.cpCashBankText);
            if ($('#NoteBookListGrid_DXFilterRow').is(":visible")) {
                NBFilterVisible = false;
            }
            else {
                NBFilterVisible = true;
            }
            if ($('#NoteBookListGrid_DXSearchPanel').is(":visible")) {
                NBFindVisible = false;
            }
            else {
                NBFindVisible = true;
            }
            if (e.command == "UPDATEEDIT") {
                Saving_Notebook();
            }
            HideLoader_GridView();
        }
        function NoteBook_Grid_Focused_Row_changed(s, e) {
            var FocusRowIndex = s.GetFocusedRowIndex();
            if (FocusRowIndex >= 0) {
                REC_ID_NB = s.GetRowKey(FocusRowIndex);
            }
            else {
                REC_ID_NB = null;
                $("#lbl_SelectedItem_NB").html("<font color=blue>Item</font>");
                $("#lbl_EntryDatemonth_NB").html("<font color=blue> Entry Date/Month </font>");
            }
        }
        function NoteBook_OnFocusedCellChanging(s, e) {
            FocusedCell_RowVisibleIndex_NB = e.cellInfo.rowVisibleIndex;
            FocusedCell_ColumnVisibleIndex_NB = e.cellInfo.column.index;
            ITEM_NAME_NB = s.batchEditApi.GetCellValue(FocusedCell_RowVisibleIndex_NB, "ITEM_NAME");
            ShowEntryDateMonth_NB(e.cellInfo.column.fieldName, e.cellInfo.column.name);
            var TotalorgValue = s.batchEditApi.GetCellTextContainer(FocusedCell_RowVisibleIndex_NB, "AMT_TOTAL").innerText;
            AMT_TOTAL_NB = TotalorgValue.trim().length == 0 ? 0 : parseInt(TotalorgValue);
            ShowSelectedItem_NB(ITEM_NAME_NB, AMT_TOTAL_NB);
        }
        function NoteBook_OnBatchEditStartEditing(s, e)
        {            
        }
        function NoteBook_OnBatchEditEndEditing(s, e)
        {
            var CellnewValue = e.rowValues[e.focusedColumn.index].value;
            var CellorgValue = s.batchEditApi.GetCellValue(e.visibleIndex, e.focusedColumn.fieldName);
            var ValueLimit = 10000;
            if (parseInt(open_FY) > 2425)
            {
                ValueLimit = 1000;
            }
            if (CellnewValue > ValueLimit || CellnewValue < 0)
            {
                var Alert = DevExpress.ui.dialog.alert("Amount Cannot Be Negative And Greater Than " + ValueLimit+" ...!", "Note-Book Entry");
                Alert.done(function ()
                {
                    e.rowValues[e.focusedColumn.index].value = CellorgValue;
                    s.batchEditApi.SetCellValue(e.visibleIndex, e.focusedColumn.fieldName, CellorgValue, null, true);
                    NoteBookListGrid.batchEditApi.StartEdit(e.visibleIndex, e.focusedColumn.index);    
                });
            }
            else
            {
                CalculateSummaryAndTotal(s, e);
            }
        }
        function CalculateSummaryAndTotal(s, e)
        {
            var CelloriginalValue = s.batchEditApi.GetCellValue(e.visibleIndex, e.focusedColumn.fieldName);
            CelloriginalValue = CelloriginalValue == null ? 0 : CelloriginalValue;
            var CellnewValue = e.rowValues[e.focusedColumn.index].value;
            CellnewValue = CellnewValue == null ? 0 : parseInt(CellnewValue);
            var diff = CellnewValue - CelloriginalValue;
            if (diff != 0) {
                FillChangedValue_NB(e.key, e.focusedColumn.fieldName, e.rowValues[e.focusedColumn.index].value);
            }
            var CellsummaryLabel = ASPxClientControl.GetControlCollection().GetByName(e.focusedColumn.fieldName + "labelSummary");
            CellsummaryLabel.SetValue(parseInt(CellsummaryLabel.GetValue()) + diff);
            var TotalorgValue = e.rowValues[(s.GetColumnByField("AMT_TOTAL").index)].value;
            TotalorgValue = TotalorgValue == null ? 0 : parseInt(TotalorgValue);
            s.batchEditApi.SetCellValue(e.visibleIndex, "AMT_TOTAL", TotalorgValue + diff, null, true);
            if (FocusedCell_RowVisibleIndex_NB == e.visibleIndex)
            {
                AMT_TOTAL_NB = TotalorgValue + diff;
                ShowSelectedItem_NB(ITEM_NAME_NB, AMT_TOTAL_NB);
            }
            AMT_TOTALlabelSummary.SetValue(parseInt(AMT_TOTALlabelSummary.GetValue()) + diff);
        }
        function ShowEntryDateMonth_NB(columnFieldName, columnName) {
            var cmb_view_text = ($("#Cmb_View_NB").dxSelectBox("instance").option("text")).toProperCase();
            if (columnFieldName.startsWith("AMT_DT_")) {
                $("#lbl_EntryDatemonth_NB").html("<font color=blue> Entry Date: </font>" + "<font color=red>" + GetDayNumberWithSuffix(columnName) + " " + cmb_view_text.replace("-", ",") + "</font>");
            }
            else {
                $("#lbl_EntryDatemonth_NB").html("<font color=blue> Entry Month: </font>" + "<font color=red>" + cmb_view_text + "</font>");
            }
        }
        function ShowSelectedItem_NB(itemName, Total) {
            $("#lbl_SelectedItem_NB").html("<font color=blue>" + itemName + "</font>" + "<font color=red> Total Amt: " + Total.toFixed(2) + "</font>");
        }
        function NB_editor_init(s, e) {
           // var errorTextElement = $(".dxeOutOfRWarn_Aqua > label");
           // $(errorTextElement).text("Amount Cannot Be Negative And Greater Than 10,000...!");
            var editorInput = s.GetInputElement();
            editorInput.type = "number";
        }
        function FillChangedValue_NB(Key, FieldName, Val) {
            var index = NoteBook_ChangedValues.findIndex(x => x.Key == Key && x.Field == FieldName);
            if (index > -1) {
                NoteBook_ChangedValues[index].Value = Val;
            }
            else {
                NoteBook_ChangedValues.push({ Key: Key, Field: FieldName, Value: Val })
            }            
        }
        function NoteBookEntry_ValueChanged(s, fieldName, keyValue) {
            if (s.GetValue() == null || s.GetValue() >= 0) {
                var Amount = s.GetValue() == null ? 0 : s.GetValue();
                $.ajax({
                    type: "Get",
                    url: "/Account/NoteBook/UpdateCellData",
                    data: { key: keyValue, field: fieldName, value: Amount },
                    success: function (data) {
                        ASPxClientControl.GetControlCollection().GetByName("txt" + keyValue + "AMT_TOTAL").SetValue(data.Grand_Total);
                        ASPxClientControl.GetControlCollection().GetByName(fieldName + "labelSummary").SetText(data.Summary.split('|')[1]);
                        ASPxClientControl.GetControlCollection().GetByName("AMT_TOTAL" + "labelSummary").SetText(data.Summary.split('|')[0]);
                    }
                });
            }
            else {
                var Alert = DevExpress.ui.dialog.alert("Amount Cannot Be Negative...!", "Note-Book Entry");
                Alert.done(function () {
                    s.SetValue(null);
                    s.Focus();
                })
            }
        }
        function NB_EditorKeyDown(s, e) {
            //if (e.htmlEvent.repeat == false)
            //{
            //    if (e.htmlEvent.ctrlKey == true)
            //    {
            //        if (e.htmlEvent.keyCode == 39)//right arrow
            //        {
            //            if (NoteBookListGrid.GetEditor(FocusedCell_ColumnVisibleIndex_NB + 1)) {
            //                NoteBookListGrid.batchEditApi.StartEdit(FocusedCell_RowVisibleIndex_NB, FocusedCell_ColumnVisibleIndex_NB + 1);
            //            }
            //        }
            //        else if (e.htmlEvent.keyCode == 37) //left arrow
            //        {
            //            NoteBookListGrid.batchEditApi.StartEdit(FocusedCell_RowVisibleIndex_NB, FocusedCell_ColumnVisibleIndex_NB == 5 ? FocusedCell_ColumnVisibleIndex_NB - 2 : FocusedCell_ColumnVisibleIndex_NB - 1);
            //        }
            //        else if (e.htmlEvent.keyCode == 38) //up arrow
            //        {
            //            if (FocusedCell_RowVisibleIndex_NB != 0) {
            //                NoteBookListGrid.batchEditApi.StartEdit(FocusedCell_RowVisibleIndex_NB - 1, FocusedCell_ColumnVisibleIndex_NB);
            //            }
            //        }
            //        else if (e.htmlEvent.keyCode == 40) //down arrow
            //        {
            //            if (NoteBookListGrid.IsDataRow(FocusedCell_RowVisibleIndex_NB + 1)) {
            //                NoteBookListGrid.batchEditApi.StartEdit(FocusedCell_RowVisibleIndex_NB + 1, FocusedCell_ColumnVisibleIndex_NB);
            //            }
            //        }
            //    }
            //}
        }  
        function NBTrackBarPositionChanged() {
            var NBcurrentZoom = 1.0;
            var NBtrackBarCurrentValue = trackBarNB.GetValue()
            if (NBtrackBarCurrentValue != 0) {
                NBcurrentZoom += NBtrackBarCurrentValue / 100;
            }
            $('#NBreloadPartialView').animate({ 'zoom': NBcurrentZoom }, 'slow');
        }
        function NB_FindClick(e) {
            if (NBFindVisible) {
                NoteBookListGrid.contextMenuHelper.ContextMenuShowSearchPanel(1);
            }
            else {
                NoteBookListGrid.contextMenuHelper.ContextMenuShowSearchPanel(0);
            }
            NBFindVisible = !NBFindVisible;
        }
        function NB_FilterClick(e) {
            if (NBFilterVisible) {
                NoteBookListGrid.contextMenuHelper.ContextMenuShowFilterRow(1);
            }
            else {
                NoteBookListGrid.contextMenuHelper.ContextMenuShowFilterRow(0);
            }
            NBFilterVisible = !NBFilterVisible;
        }
    </script>
    @* Grid Relaated *@
    <script>
        function Cmb_View_SelectedIndexChanged_NB(e) {
            if (e.value == null) {
                $("#Cmb_View_NB").dxSelectBox("option", "value", e.previousValue);
                return;
            }
            NB_PeriodChange = true;
            if (Check_UnSave_Data) {
                Data_Change().then(function (data) {
                    if (data == "True") {
                        var confirm = DevExpress.ui.dialog.confirm('Do you want to Save Notebook Entry...?', "Confirm");
                        confirm.done(function (dialogResult) {
                            if (dialogResult) {
                                SaveClick_NB();
                            }
                            else {
                                NB_ChangePeriod();
                            }
                        });
                    }
                    else {
                        NB_ChangePeriod();
                    }
                })
            }
            else {
                NB_ChangePeriod();
            }
        }
        function NB_ChangePeriod() {
            $.ajax({
                type: 'POST',
                url: "/Account/NoteBook/Cmb_View_SelectedIndexChanged",
                cache: false,
                data:
                {
                    Index: $("#Cmb_View_NB").dxSelectBox("instance").option("value")
                },
                success: function (data) {
                    TotalDays_NB = data.TotalDays;
                    Band2Caption = data.GridBand2_Caption;
                    $("#BE_View_Period_NB").dxTextBox("instance").option("value", data.Periodtext);
                    xFR_Date = data.fr_date;
                    NoteBookRefresh();
                    $("#TotalDays").val(TotalDays_NB);
                    $("#Band_Caption").val(Band2Caption);
                    $("#PeriodText").val(data.Periodtext);
                }
            });
            NB_PeriodChange = false;
        }
        function NoteBookRefresh() {
            if (typeof window !== 'undefined') {
                if (typeof window.NoteBookListGrid !== 'undefined') {
                    if (typeof window.NoteBookListGrid.Refresh !== 'undefined') {
                        if (typeof NoteBookListGrid.Refresh == 'function') {
                            NoteBookListGrid.SetFocusedRowIndex(-1);
                            NoteBookListGrid.Refresh();
                        }
                        else {
                            alert("Refresh is not a function");
                        }
                    }
                    else {
                        setTimeout(function () {
                            NoteBookRefresh();

                        }, Timeout100);
                    }
                }
                else {
                    alert('grid undefined')
                }
            }
            else {
                alert('window undefined')
            }
        }
    </script>
    @* Period Change*@
    <script>
    var Check_UnSave_Data = false;
    var Flag_Data_Change = false;
    var TotalDays_NB = 0;
    var Band2Caption = null;
    $(document).ready(function ()
    {
        ShowLoader_Ready();
        if ("@Accnt_Notebook_ExportRight" == "False")
        {
            $("#BUT_PRINT_NB").hide();
        }

        if ("@Model.ActionMethod" == "_View")
        {
            NB_SetDisable = true;
            $("#Set_Disable").val(true)
        }
        else
        {
            $("#Set_Disable").val(false)
        }
        Check_UnSave_Data = false;
        if ("@Model.ActionMethod" == "_Edit" || "@Model.ActionMethod" == "_View")
        {
            $("#Cmb_View_NB").dxSelectBox("instance").option("readOnly", true);
        }
        TotalDays_NB = parseInt("@Model.TotalDays");
        Band2Caption = "@Model.GridBand2_Caption";
        xFR_Date = "@Model.fr_date";
        $("#TotalDays").val(TotalDays_NB);
        $("#Band_Caption").val(Band2Caption);
        $("#PeriodText").val("@Model.Periodtext");
        @*$("#Cmb_View_NB").dxSelectBox("instance").option("value", parseInt("@Model.Cmb_View_SelectedIndex"));*@
        if ("@Model.ActionMethod" == "_View")
        {
            $("#BUT_SAVE_NB").dxButton("instance").option("disabled", true);
        }
        Check_UnSave_Data = true;
        setTimeout(function () { HideLoader_Ready(); }, Timeout500);
    });
    </script>
    @* document.ready *@
    <script>
        function BE_Cash_Bank_ButtonClick_NB() {
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/NoteBook/Frm_View_Summary",
                cache: false,
                success: function (result) {
                    OpenPopup("popup_frm_Frm_View_Summary_NB", "Summary...", null, "auto", 775, true, result);
                }
            });
        }
        function NB_Summary_close(e) {
            $.ajax({
                type: 'GET',
                url: "/Account/NoteBook/Frm_View_SummaryGrid_Close",
                cache: false
            });
            ClearAllReferences("NoteBookSummary_ClearReferences");
            e.component.content()[0].innerHTML = "";
        }
        async function Data_Change() {
            NoteBookListGrid.batchEditApi.EndEdit();
            var changes = NoteBookListGrid.batchEditApi.HasChanges();
            if (changes == true) {
                return "True";
            }
            else {
                return $.ajax({
                    type: 'GET',
                    url: "/Account/NoteBook/Data_Change",
                    cache: false
                });
            }
        }
    </script>
    @* Summary and data change*@
    <script>
    function SaveClick_NB()
    {
        NoteBookListGrid.batchEditApi.EndEdit();
        ShowLoader("Saving", false);
        if (NoteBookListGrid.batchEditApi.HasChanges())
        {
            NoteBookListGrid.UpdateEdit();//raise callback
        }
        else
        {
            Saving_Notebook();
        }
    }
    function Saving_Notebook()
    {
        $.ajax({
            type: 'Get',
            url: "/Account/NoteBook/Saveclick",
            success: function (data)
            {
                HideLoader();
                var alert = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alert.done(function (dialogResult)
                {
                    if (dialogResult)
                    {
                        if (data.jsonParam.result == true && NB_PeriodChange == true)// change if called from change period selection changed
                        {
                            NB_ChangePeriod();
                        }
                        else if (data.jsonParam.result == true && Close_Btn_Click == true) //close if called from close button click
                        {
                            close_NB();
                        }
                        else if (data.jsonParam.result == true && NB_Export_Click == true) //export if called from export btn click
                        {
                            NB_Export_Click = false;
                            Export_NoteBook();
                        }
                        else if (data.jsonParam.result == true && Close_Btn_Click == false)
                        {
                            NoteBookListGrid.SetFocusedRowIndex(-1);
                            NoteBookListGrid.Refresh();
                        }
                    }
                });
            }
        });
    }
    function NB_CloseClick(e)
    {
        ShowLoader();
        Close_Btn_Click = true;
        Data_Change().then(function (data)
        {
            if (data=="True")
            {
                HideLoader();
                var confirm = DevExpress.ui.dialog.confirm('Do you want to Save Notebook Entry...?', "Confirm");
                confirm.done(function (dialogResult)
                {
                    if (dialogResult)
                    {
                        SaveClick_NB();
                    }
                    else
                    {
                        close_NB();
                    }
                });
            }
            else
            {
                HideLoader();
                close_NB();
            }
        });
    }
    function close_NB()
    {
        ShowLoader();
        if ("@Open_From_CB" == "False" && $(".TabPanalMenu-tabs .active").attr("id") =="contact_Frm_NoteBook_Info") {
            btnCloseActiveTab();
        }
        else
        {
            $("#Notebook_Popup_ID").dxPopup("hide");
            if (typeof CashBookListGrid !== 'undefined'&&"@Model.xEntryDate".length>0) {
                AfterVoucherClose_CB(moment("@Model.xEntryDate", "DD/MM/YYYY"), "@Model.ActionMethod");
            }
            if ("@ViewBag.GridToRefresh" != "CashBookListGrid")
            {
                RefreshGridView("@ViewBag.GridToRefresh");
            }
        }
        $.ajax({
            type: 'Get',
            url: "/Account/NoteBook/SessionClear",
        });
        ClearAllReferences_NoteBook();
        HideLoader();
    }
    $(".TabPanalMenu-tabs .active span").on("click", function ()
    {
        if (Close_Btn_Click == false)
        {
            NB_CloseClick();
        }
        //alert("close");
        //$.ajax({
        //    type: 'Get',
        //    url: "/Account/NoteBook/SessionClear",
        //});
    });
    $(function ()
    {
        $("#Notebook_Popup_ID").dxPopup({
            onHiding: function (e)
            {
                e.cancel =!Close_Btn_Click;
                if (Close_Btn_Click == false)
                {
                    NB_CloseClick();
                }
            }
        });
    })//popup hide
    var NB_Export_Click = false;
      function OnNoteBookListPreviewClick(e)
      {
          if ("@Accnt_Notebook_ExportRight" == "False")
          {
              DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights");
              return;
          }
          //ShowLoader();
          //Data_Change().then(function (data)
          //{
          //     if (data=="True")
          //    {
          //        HideLoader();
          //        var confirm = DevExpress.ui.dialog.confirm('Do you want to Save Notebook Entry...?', "Confirm");
          //        confirm.done(function (dialogResult)
          //        {
          //            if (dialogResult)
          //            {
          //                NB_Export_Click = true;
          //                SaveClick_NB();
          //            }
          //            else
          //            {
          //                Export_NoteBook()
          //            }
          //        });
          //    }
          //    else
          //    {
          //        HideLoader();
                  Export_NoteBook()
          //    }
          //});
          //ShowLoader();
          @*OpenPopup("report_modal_NB", "Export Option", "@Url.Action("Frm_Export_Options", "NoteBook", new { @area = "Account" })", "auto", 250, false, null);*@
    }
    function Export_NoteBook()
    {
        $("#ChangedValue").val(JSON.stringify(NoteBook_ChangedValues));
        $("#NBExport_Form").submit();
    }
        function AjaxSuccessNB_Export(data)
        {
            NoteBook_ChangedValues = new Array();
            NoteBookListGrid.PerformCallback();
            OpenPopup("report_modal_NB", "Export Option", null, "auto", "100%",true,data);
        }
        function ClearAllReferences_NoteBook()
        {
              REC_ID_NB = null;
              ITEM_NAME_NB = null;
              AMT_TOTAL_NB = null;
              NBFindVisible = null;
              NBFilterVisible = null;
              Close_Btn_Click = null;
              NB_EditorFocus = null;
              NB_SetDisable = null;
              NB_PeriodChange = null;
              xFR_Date = null;
              Check_UnSave_Data = null;
              Flag_Data_Change = null;
              TotalDays_NB = null;
            Band2Caption = null;
            FocusedCell_RowVisibleIndex_NB = null;
            FocusedCell_ColumnVisibleIndex_NB = null;
            NB_Export_Click = null;
            NoteBook_ChangedValues = null;
            ClearAllReferences("NoteBook_ClearReferences");
        }
    </script>
    @* Save Close Export *@
    <script>
        if (typeof ASPxClientSpinEdit != "undefined") {
            ASPxClientSpinEdit.prototype.OnPageOrArrowKeyDown = function () { };
        }
    </script>
</div>
