@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.Model_NEVD_JobRequest
@{
    bool IsVisible = Model != null && (Model.ActionMethod == "View" || Model.ActionMethod == "Delete") ? true : false;
    bool IsDisabled = Model != null && (Model.ActionMethod == "View" || Model.ActionMethod == "Delete") ? true : false;
    bool tabvisible = (Model.ActionMethod == "New") ? true : false;
    bool tabdisabled = (Model.ActionMethod == "New" || Model.ActionMethod == "Edit") ? true : false;
    bool Job_ProjectScreenNewright = (bool) ViewData["Job_ProjectScreenNewright"];
    bool Job_personnelNewRight = (bool) ViewData["Job_personnelNewRight"];
    bool Job_storemasterNewRight=(bool) ViewData["Job_storemasterNewRight"];
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .wdfull {
        width: 100%;
    }

    .disabledDiv {
        pointer-events: none;
        opacity: 0.4;
    }

    .nav-tabs > li > a.active, .nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    td {
        width: auto;
    }

    .width1200px {
        width: 1200px;
    }

    .margT12 {
        margin-top: 12px !important;
    }

    .fs22 {
        font-size: 22px !important;
    }

    .dx-state-disabled .dx-texteditor-input {
        color: darkgoldenrod;
    }

    .dx-texteditor-container {
        overflow: visible
    }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>

<div id="id_JobRR" class="edit_form">
    @using (Ajax.BeginForm("Frm_NEVD_Job_Request", "JobRequestRegister",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "Frm_NEVD_Job_Request",
                InsertionMode = InsertionMode.InsertAfter,
                OnBegin = "AjaxBeginFormPost",
                OnSuccess = String.Format("{0}", Model.Job_PostSuccessFunction)
            },
             new
             {
                 id = "jobvalidationForm",
                 @class = "edit_form"
             }))
    {
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.Job_Id)
        @Html.HiddenFor(x => x.Job_Status)
        @Html.HiddenFor(x => x.Job_AssigneeNameMainDeptID)
        @Html.HiddenFor(x => x.Job_AssigneeNameSubDeptID)
        @Html.HiddenFor(x => x.Job_SatusButtonClick)
        @Html.HiddenFor(x => x.Job_RequestorMainDeptInchargeID)
        @Html.HiddenFor(x => x.Job_AssigneeMainDeptInchargeID)
        @Html.HiddenFor(x => x.Job_PopUPId)
        @Html.HiddenFor(x => x.Job_PostSuccessFunction)
        @Html.HiddenFor(x => x.Job_CallingScreen)
        @Html.HiddenFor(x => x.Job_Assignee_Sub_Dept_ID)//Mantis bug 0000374 fixed
        @Html.HiddenFor(x => x.Job_Assignee_Sub_Dept_PersonnelID)//Mantis bug 00001324 fixed

        @Html.HiddenFor(x => x.Job_CurrUserRole)//Mantis bug 0000447 fixed
        @Html.HiddenFor(x => x.Job_SanctionDate)//Mantis bug 0000466 fixed
        @Html.HiddenFor(x => x.Job_SanctionNo)//Mantis bug 0000466 fixed
        using (Html.DevExtreme().ValidationGroup())

        {
            <!-- <div class="full-width-header-bg2">
                 <div class="row">

                     <div class="col-sm-8">
                         <h3 class="popuphead"><i class="far fa-edit"></i> Job Request</h3>
                     </div>
                     <div class="col-sm-4 prm">
                         <h5 class="mand-txt-align">
                             <i class="fas fa-info-circle"></i> Red Fields are mandatory
                         </h5>
                     </div>
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                 </div>
             </div> [Header]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Job Name:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_Name").Name("Job_Name").Placeholder("Job Name").Value(Model.Job_Name).MaxLength(255)
                                                                                                                                                                                                              .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Disabled(IsDisabled).ReadOnly(IsVisible))
                                                @Html.ValidationMessageFor(model => model.Job_Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Job Name]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Job Request Date:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBoxFor(x => x.Job_RequestDate).CustomDateBox().ID("Job_RequestDate").Name("Job_RequestDate").Value(Model.Job_RequestDate).OnInitialized("initialize_job_request_date").OnValueChanged("job_request_date_ValueChange").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Select Date").Disabled(IsDisabled)
                                                                                                                                                                                                              .ReadOnly(IsVisible))
                                                @Html.ValidationMessageFor(model => model.Job_RequestDate)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Job Request Date]-->
                </div>
            </div><!--[row 1]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Job No:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_No").Name("Job_No").Placeholder("System Auto Generated").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Disabled(IsDisabled).Value(Model.Job_No.ToString()))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Job No]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Job Type:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_Type").Name("Job_Type").DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Get_JobType_List").Key("Job_Type_ID")).ValueExpr("Job_Type_ID").DisplayExpr("Job_Type").OnValueChanged("OnJobTypeChange")
                                                                                                                                                                                                             .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Disabled(IsDisabled).ReadOnly(IsVisible).Placeholder("Job Type").Value(Model.Job_Type).OnInitialized("OnJobTypeInit")
                                                                                                                                                                                                              .ContentTemplate(@<text>@Html.Partial("Get_JobType_List_Grid")</text>))
                                                @Html.ValidationMessageFor(model => model.Job_Type, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Job Type]-->
                </div>
            </div><!--[row 2]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Project Name:</label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_ProjectId").Name("Job_ProjectId").Placeholder("Project Name").DataSource(d => d.Mvc().Controller("JobRequestRegister")
                                                                                                                                                                                                          .LoadAction("Get_Project_Name_List").Key("Project_Id")).ValueExpr("Project_Id").DisplayExpr("Project_Name").OnInitialized("On_Project_Initialization").ReadOnly(Model.Job_CallingScreen.Length > 0 ? true : false)
                                                                                                                                                                                                           .OnValueChanged("On_Project_Value_Changed").Disabled(IsDisabled).ContentTemplate(@<text> @Html.Partial("Get_Project_Name_List") </text>).CustomDropDown().ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }) )

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm">
                                        @(Html.DevExtreme().Button().ID("Job_AddProject").Text("Add Project").Disabled((Model.Job_CallingScreen.Length > 0 || IsDisabled) ? true : false).OnClick(@<text>function() { job_add_New_Project(); }</text>))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Project Name]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Complex Name:</label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_ComplexId").Disabled(IsDisabled).Name("Job_ComplexId").Placeholder("Complex Name").DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Complexes_GetList").Key("ID"))
                                                                                                                                                                                                                              .Value(Model.Job_ComplexId).ValueExpr("ID").DisplayExpr("Complex_Name").OnValueChanged("On_Complex_Value_Changed").OnInitialized("On_Initialize_Complex").ReadOnly(Model.Job_CallingScreen.Length > 0 ? true : false).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } })
                                                                                                                                                                                                                              .ContentTemplate(@<text> @Html.Partial("Get_Complexes_List") </text>).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }) )
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm">
                                        @(Html.DevExtreme().Button().ID("Id_Add_Complecx").Text("Add Complex").Disabled((Model.Job_CallingScreen.Length > 0 || IsDisabled) ? true : false).OnClick(@<text> function(){ job_add_Complex();}</text>))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Complex]-->
                </div>
            </div><!--[row 3]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Sanction No:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_Sanction_No").Disabled(true).Name("Job_Sanction_No").Placeholder("Sanction No").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Sanction No]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Sanction Date</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Job_Sanction_Date").Disabled(true).Name("Job_Sanction_Date").Placeholder("Sanction Date").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[Sanction Date]-->
                    </div>
                </div>
            </div><!--[row 4]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Requestor's Name:</label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_RequestorId").Name("Job_RequestorId").Placeholder("Select").Disabled(IsDisabled)
                                                                                                                                                                                                                      .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Get_Requestor_Names").Key("ID"))
                                                                                                                                                                                                                      .ValueExpr("ID").DisplayExpr("Name").OnValueChanged("On_Requestor_Name_Changed")
                                                                                                                                                                                                                      .ContentTemplate(@<text>@Html.Partial("Get_Requestor_Names")</text>))
                                                @Html.ValidationMessageFor(model => model.Job_RequestorId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm">
                                        @(Html.DevExtreme().Button().ID("JobAddrequestor").Text("Add Requestor").Disabled(IsDisabled).OnClick(@<text>function(){job_add_Requestor() } </text>))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Requestor]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Mobile/CUG NO.</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_Requestor_ContactNo").Disabled(IsDisabled).Name("Job_Requestor_ContactNo").Placeholder("Mobile/CUG No.").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Requestor Contact No.]-->
                </div>
            </div><!--[row 5]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Requestor's Main Dept:</label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_RequestorMainDeptId").Name("Job_RequestorMainDeptId").Placeholder("Select").Disabled(IsDisabled).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("GetStockMainDept").Key("ID"))
                                                                                                                                                                                                              .DisplayExpr("Name").ValueExpr("ID").DeferRendering(false).OnValueChanged("OnRequest_Main_Dept_Changed").ContentTemplate(@<text> @Html.Partial("GetStockMainDept") </text>))
                                                @Html.ValidationMessageFor(model => model.Job_RequestorMainDeptId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    @(Html.DevExtreme().Button().ID("Job_Add_Dept").Text("Add Dept").Disabled(IsDisabled).OnClick(@<text>function(){job_add_Dept()}</text>))
                                </div>
                            </div>
                        </div>
                    </div><!--[Requestor Main Dept]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Requestor's Sub Dept:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_RequestorSubDeptId").Name("Job_RequestorSubDeptId").Placeholder("Requestor's Sub-Dept").Disabled(IsDisabled).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("GetStockSubDept").Key("ID").LoadParams(new { MainDeptID = new JS("function (){return Job_ReqMainDeptID;}") }))
                                                                                                                                                                                                              .ValueExpr("ID").DisplayExpr("Name").DeferRendering(false).Disabled(IsDisabled).ReadOnly(IsVisible).OnValueChanged("OnRequest_Sub_Dept_Changed").ContentTemplate(@<text> @Html.Partial("GetStockSubDept") </text>))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Requestor Sub Dept]-->
                </div>
            </div><!--[row 6]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Assignee Name </label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_AssigneeId").Name("Job_AssigneeId").Disabled(IsDisabled).Placeholder("Select").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } })
                                                                                                                                                                                                                      .DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Get_Stock_Assign_Names").Key("ID")).OnValueChanged("On_Assigners_Name_Change").ValueExpr("ID").DisplayExpr("Name")
                                                                                                                                                                                                                      .CustomDropDown().DeferRendering(false).ContentTemplate(@<text> @Html.Partial("Get_Stock_Assign_Names") </text>))

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm">
                                        @(Html.DevExtreme().Button().ID("ID_Add_Assignee").Text("Add Assignee").Disabled(IsDisabled).OnClick(@<text>function(){job_add_Assignee();}</text>))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Assignee Name]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Mobile/CUG No.</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_Assigner_Contact_No").Disabled(IsDisabled).Name("Job_Assigner_Contact_No").Placeholder("Mobile/CUG No.").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Assignee Contact No.]-->
                </div>
            </div><!--[row 7]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Assignee's Main Dept:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_AssigneeMainDeptID").Name("Job_AssigneeMainDeptID").Placeholder("Assignee's Main Dept").Disabled(IsDisabled).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Get_Stock_Assigns_MainDept").Key("ID"))
                                                                                                                                                                                            .ReadOnly(Model.Job_CallingScreen.Length > 0 ? true : false).ValueExpr("ID").DisplayExpr("Name").OnValueChanged("On_Assigns_MainDept_Value_Changed").DeferRendering(false).ContentTemplate(@<text> @Html.Partial("Get_Stock_Assigns_MainDept") </text>))
                                                @Html.ValidationMessageFor(model => model.Job_AssigneeMainDeptID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Assignee Main Dept]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Assignee's Sub Dept:</label></div>@*//Mantis bug 0000477 fixed*@
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_AssigneeSubDeptID").Name("Job_AssigneeSubDeptID").Placeholder("Assignee's Sub-Dept").Disabled(IsDisabled).DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Get_Stock_Assign_SubDept").Key("ID").LoadParams(new { AssigMainDeptID = new JS("function (){return Job_AssigMainDeptID;}"), AssigneepersonnelID = new JS("function (){ return Job_assignee_personnel_ID;}") }))
                                                                                                                                                                                                                              .CustomDropDown().ValueExpr("ID").DisplayExpr("Name").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(IsDisabled).OnValueChanged("On_Assign_Value_Changed").ContentTemplate(@<text> @Html.Partial("Get_Stock_Assign_SubDept") </text>))@*//Mantis bug 0000374 fixed*@
                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                </div>
                                                                                                                                                                                                            </div>
                                                                                                                                                                                                        </div>
                                                                                                                                                                                                    </div>
                                                                                                                                                                                                </div><!--[Assignee Sub Dept]-->
                                                                                                                                                                                            </div>
                                                                                                                                                                                        </div><!--[row 8]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Request Start Date:<span class="datenew"></span></label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Job_RequestedStartDate").Disabled(IsDisabled).Name("Job_RequestedStartDate").Placeholder("Select Date").OnInitialized("initialize_jobstartdate").Value(Model.Job_RequestedStartDate).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Job Request Start Date]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Request Finish Date:<span class="datenew"></span></label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Job_RequestedFinishDate").Disabled(IsDisabled).Name("Job_RequestedFinishDate").Placeholder("Select Date").Value(Model.Job_RequestedFinishDate).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Job Request End Date]-->
                </div>
            </div><!--[row 9]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Job Start Date:<span class="datenew"></span></label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Job_StartDate").Disabled(IsDisabled).Name("Job_StartDate").Placeholder("Select Date").Value(Model.Job_StartDate).OnValueChanged("jobstartdatechange").OnInitialized("initialize_jobstartdate").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Job Start Date]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Job Finish Date:<span class="datenew"></span></label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Job_EndDate").Disabled(IsDisabled).Name("Job_EndDate").Placeholder("Select Date").OnValueChanged("jobenddatechange").Value(Model.Job_EndDate).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Job End Date]-->
                </div>
            </div><!--[row 10]-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label text-red" for="user">Job Description:</label></div>
                                <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                    <div class="dx-texteditor  dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_Description").Name("Job_Description").MaxLength(8000).Placeholder("Job Description").Value(Model.Job_Description).Disabled(IsDisabled).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            @Html.ValidationMessageFor(model => model.Job_Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Description]-->
            <div class="row innerWindow">
                <div class="form-field">
                    @(Html.DevExtreme().TabPanel().ShowNavButtons(true).ScrollingEnabled(true).SwipeEnabled(false).ID("Jobtabpanel").Items(items =>
                                                                                                                                                                                                                                                                                                {
                                                                                                                                                                                                                                                                                                    items.Add().Title("Documents").Template(@<text> @DocumentView() </text>);
                                                                                                                            items.Add().Title("Item Usages Estimation").Template(@<text> @ItemUsagesEstimationView() </text>);
items.Add().Title("Manpower Estimation").Template(@<text> @ManpowerEstimationView() </text>);
items.Add().Title("Actual Manpower Usage").Template(@<text> @ActualManpowerUsageView() </text>);
items.Add().Title("Actual Expenses Incurred").Template(@<text> @ActualExpensesIncurredView() </text>);
items.Add().Title("Actual Machine Usage").Template(@<text> @ActualMachineUsageView() </text>);
items.Add().Title("Existing Remarks").Disabled(tabvisible).Template(@<text> @RemarksView() </text>);
}).DeferRendering(false))
                    @helper DocumentView()
                    {
                        @Html.Partial("InnerGrid_Documents", Model);
                    }
                    @helper ItemUsagesEstimationView()
                    {
                        @Html.Partial("InnerGrid_ItemUsagesEstimation", Model);
                    }
                    @helper ManpowerEstimationView()
                    {
                        @Html.Partial("InnerGrid_ManpowerEstimation", Model);
                    }
                    @helper ActualManpowerUsageView()
                    {
                        @Html.Partial("InnerGrid_ActualManpowerUsage", Model);
                    }
                    @helper ActualExpensesIncurredView()
                    {
                        @Html.Partial("InnerGrid_ActualExpensesIncurred", Model);
                    }
                    @helper ActualMachineUsageView()
                    {
                        @Html.Partial("InnerGrid_ActualMachineUsage", Model);
                    }
                    @helper RemarksView()
                    {
                        @Html.Partial("InnerGrid_Remarks", Model);
                    }
                </div>
            </div><!--Tabs-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label " for="user">Your Remarks:</label></div>
                                <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                    <div class="dx-texteditor  dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_Remarks").Name("Job_Remarks").MaxLength(8000).Placeholder("Job Remarks").Value(Model.Job_Remarks).Disabled(IsDisabled).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            @Html.ValidationMessageFor(model => model.Job_Remarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Remarks]-->
            <fieldset class="default-fieldset marginOnActBtns">
                <div class="row">
                    @if (Model.ActionMethod == "New")
                    {
                        <div class="col-sm-3">
                            <div>
                                <div class="container-fluid">

                                    @(Html.DevExtreme().Button().ID("ID_Switch_To_Job_JRR").Text("Switch to Quick Job").OnClick(@<text> function () { to_Open_Quick_Job_Screen();} </text>))
                                </div>
                            </div>
                        </div>
                    }                   
                        <div class="styleActionBtn">
                            @if (Model.ActionMethod == "Edit")
                            {
                                @(Html.DevExtreme().Button().ID("Id_EstSubmit").Text("Assign For Estimate Submission").OnClick("job_Est_Submit"))
                                @(Html.DevExtreme().Button().ID("Id_EstApproval").Text("Submit For Estimate Approval").OnClick("job_Est_approval"))
                                @(Html.DevExtreme().Button().ID("Id_Changes").Text("Changes Recommended").OnClick("job_changes"))
                                @(Html.DevExtreme().Button().ID("Id_Approve").Text("Approve").OnClick("job_approve"))
                                @(Html.DevExtreme().Button().ID("Id_Reject").Text("Reject").OnClick("job_reject_NEVD"))
                                @(Html.DevExtreme().Button().ID("Id_Rejec").Text("Cancel").OnClick("job_cancel"))
                            }
                            @if (Model.ActionMethod == "Delete")
                            {
                                @(Html.DevExtreme().Button().CustomSaveButton().ID("ID_Delete").Text("Delete").OnClick("job_deleteclick"))
                            }
                            @if (Model.ActionMethod == "New")
                            {
                                @(Html.DevExtreme().Button().CustomSaveButton().ID("JobID_Save").Text("Save").UseSubmitBehavior(true))
                            }
                            @if (Model.ActionMethod == "Edit")
                            {
                                @(Html.DevExtreme().Button().CustomSaveButton().ID("JobID_Edit").Text("Save").OnClick("job_editSaveClick"))
                            }
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("JobId_Close").Text("Close").OnClick("job_close_NEVD"))

                       
                    </div>
                </div>

</fieldset><!--[Buttons]-->
    }

}
</div>



    <script>


var Job_ReqMainDeptID;
var Job_RequestorID;
var Job_RequestorMainDeptInCharge_ID;
        var Job_AssigMainDeptID;
     var   Job_assignee_personnel_ID;
var Job_AssigSubDeptId;
        var Job_AssigMainDeptInchargeID;
        var Job_AssigSubDeptPersonnelID ='';
var Job_AssigSubDeptInchargeId;
var Jobfromdate;
var JobStartDate;//Mantis bug 0000541 fixed
var JobRequestDate;//Mantis bug 0000541 fixed
var Jobtodate;
var gridDisableCheck = false;
var gridEnableCheck = true;
function OnJobTypeChange(e)
{
var Drop_Down = $("#Job_Type").dxDropDownBox("instance");
if (Drop_Down != undefined && Drop_Down != "undefined")
{
Drop_Down.close();
}
}
function OnJobTypeInit(e)
{
if ("@Model.ActionMethod" == "New")
{
e.component.option("dataSource").store.load().done(function (d) {
if (d.length > 0)
{
for (var i = 0; i < d.length; i++)
{
if (d[i].Job_Type == "New Construction")
{
e.component.option("value", d[i].Job_Type_ID);
}
}
}
});
}
}// Job_Type_init
function On_Project_Initialization(e) {


e.component.option("dataSource").store.load().done(function (d) {
if (d.length > 0) {
e.component.option("value","@Model.Job_ProjectId");
}
});

}// project init
function On_Project_Value_Changed(e) {

var Drop_Down = $("#Job_ProjectId").dxDropDownBox("instance");
Drop_Down.close();
if (e.previousValue != null && e.previousValue != e.value)
{
$("#Job_ComplexId").dxDropDownBox("instance").reset();
$("#Job_Sanction_Date").dxDateBox("instance").reset();
$("#Job_Sanction_No").dxTextBox("instance").reset();
}
var $dataGrid = $("#GetProjectName_JRGrid");
if ($dataGrid.length) {
var dataGrid = $dataGrid.dxDataGrid("instance");
dataGrid.selectRows(Drop_Down.option("value"), false);
if (dataGrid.getSelectedRowsData().length > 0) {
var item = dataGrid.getSelectedRowsData()[0];
$("#Job_ComplexId").dxDropDownBox("instance").option("value", item.Complex_Id);
$("#Job_ComplexId").dxDropDownBox("instance").option("readOnly", true);
$("#Job_Sanction_Date").dxDateBox("instance").option("value", item.Sanction_Date);
$("#Job_Sanction_No").dxTextBox("instance").option("value", item.Sanction_no);
}
if (e.value == null) {
dataGrid.clearSelection();
$("#Job_ComplexId").dxDropDownBox("instance").option("readOnly", false);
}//Mantis bug 0001116 fixed
}
}
function On_Initialize_Complex(e)
{

}
function On_Complex_Value_Changed(e)
{
var dropDown = $("#Job_ComplexId").dxDropDownBox("instance");
dropDown.close();
}

function On_Requestor_Name_Changed(e)
{
var dropDown = $("#Job_RequestorId").dxDropDownBox("instance");
dropDown.close();
if (e.previousValue != null && e.previousValue != e.value)
{
$("#Job_Requestor_ContactNo").dxTextBox("instance").reset();
}
if (e.previousValue != null && e.value == null)
{
Job_RequestorName_DG.clearSelection();
return;
}//Mantis bug 0000470 fixed
if (Job_RequestorName_DG.getSelectedRowsData().length > 0)
{
var item = Job_RequestorName_DG.getSelectedRowsData()[0];//Mantis bug 0000470 fixed
Job_RequestorID = item.ID;
$("#Job_Requestor_ContactNo").dxTextBox("instance").option("value", item.Mobile_No);
Checkrequestor();
}
}
async function OnRequest_Main_Dept_Changed(e)
{
var dropdown = $("#Job_RequestorMainDeptId").dxDropDownBox("instance");
dropdown.close();
if (e.previousValue != null && e.previousValue != e.value)
{
$("#Job_RequestorSubDeptId").dxDropDownBox("instance").reset();
}
if (e.previousValue != null && e.value == null)
{
Job_RequestorMainDept_DG.clearSelection();
return;
}//Mantis bug 0000470 fixed
if (Job_RequestorMainDept_DG.getSelectedRowsData().length > 0)
{
var item = Job_RequestorMainDept_DG.getSelectedRowsData()[0];
Job_ReqMainDeptID = item.ID;
Job_RequestorMainDeptInCharge_ID = item.InCharge_ID;
$("#Job_RequestorMainDeptInchargeID").val(item.InCharge_ID);
Checkrequestor();
if ($("#Job_RequestorSubDeptId").dxDropDownBox("instance").option("readOnly") == true) { await Refresh_Job_Requestor_SubDept(); }//Mantis bug 0000933 fixed
else {
$("#Job_RequestorSubDeptId").dxDropDownBox("instance").option("readOnly", false);
await Refresh_Job_Requestor_SubDept();
}
}
}
function OnRequest_Sub_Dept_Changed(e)
{
var dropdown = $("#Job_RequestorSubDeptId").dxDropDownBox("instance");
dropdown.close();

if (e.previousValue != null && e.value == null)
{
Job_RequestorSubDept_DG.clearSelection();
}//Mantis bug 0000470 fixed
}
async function On_Assigners_Name_Change(e)
{  
var dropDown = $("#Job_AssigneeId").dxDropDownBox("instance");
dropDown.close();
if (e.previousValue != null && e.previousValue != e.value)
{
$("#Job_Assigner_Contact_No").dxTextBox("instance").reset();
$("#Job_AssigneeMainDeptID").dxDropDownBox("instance").reset();
$("#Job_AssigneeSubDeptID").dxDropDownBox("instance").reset();
}
if (e.value == null && e.previousValue != null)
{
Job_Assignee_Name_DG.clearSelection();
return;
}//Mantis bug 0000480 fixed
if (Job_Assignee_Name_DG.getSelectedRowsData().length > 0)
{
    var item = Job_Assignee_Name_DG.getSelectedRowsData()[0];

    Job_assignee_personnel_ID = item.ID;
$("#Job_AssigneeNameMainDeptID").val(item.Main_DeptID);
$("#Job_AssigneeNameSubDeptID").val(item.Sub_DeptID);
$("#Job_Assigner_Contact_No").dxTextBox("instance").option("value", item.Mobile_No);
await Job_Assignee_MainDept_DG.selectRows(item.Main_DeptID, false);//Mantis bug 0000480 fixed
await Job_Assignee_SubDept_DG.selectRows(item.Sub_DeptID, false);//Mantis bug 0000374 fixed
}
}
        async function On_Assigns_MainDept_Value_Changed(e)
        {
            try {
                var dropDown = $("#Job_AssigneeMainDeptID").dxDropDownBox("instance");
                dropDown.close();
                if (e.value == null && e.previousValue != null) {
                    Job_Assignee_MainDept_DG.clearSelection();//Mantis bug 0000480 fixed
                    return;
                }//Mantis bug 0000480 fixed
                if (Job_Assignee_MainDept_DG.getSelectedRowsData().length > 0) {
                    var item = Job_Assignee_MainDept_DG.getSelectedRowsData()[0];
                    Job_AssigMainDeptID = item.ID;
                    Job_AssigMainDeptInchargeID = item.InCharge_ID;
                    $("#Job_AssigneeMainDeptInchargeID").val(item.InCharge_ID);
                    assigneeinchargecheck();
                    if (e.previousValue != null && e.previousValue != e.value) {
                        $("#Job_AssigneeSubDeptID").dxDropDownBox("instance").reset();
                    }     //Mantis bug 0000370 fixed
                    await Refresh_Job_Assignee_SubDept();//Mantis bug 0000480 fixed
                }
            }
            catch (e) {
                console.log(e);
            }
        }

function On_Assign_Value_Changed(e)
{
var dropDown = $("#Job_AssigneeSubDeptID").dxDropDownBox("instance");
    dropDown.close();
    Job_AssigSubDeptPersonnelID = '';
$("#Job_Assignee_Sub_Dept_ID").val(e.value);//Mantis bug 0000374 fixed

if (e.previousValue != null && e.value == null)//Mantis bug 0000480 fixed
{
Job_Assignee_SubDept_DG.clearSelection();//Mantis bug 0000480 fixed
return;//Mantis bug 0000374 fixed
}
if (Job_Assignee_SubDept_DG.getSelectedRowsData().length > 0)//Mantis bug 0000480 fixed
{
    for (i = 0; i < e.value.length; i++) {
      var item = Job_Assignee_SubDept_DG.getSelectedRowsData()[i];
        Job_AssigSubDeptId = item.ID;
        Job_AssigSubDeptInchargeId = item.InCharge_ID;
        var Job_AssigSubDeptPerson = item.CommonPers;
        Job_AssigSubDeptPersonnelID = Job_AssigSubDeptPersonnelID.concat(',', Job_AssigSubDeptPerson);
        
        var val = assigneeinchargecheck();
        if (val == true) {
            break;
        }
    }
    $("#Job_Assignee_Sub_Dept_PersonnelID").val(Job_AssigSubDeptPersonnelID);

if ("@Model.Job_CurrUser_PersonnelID" != Job_AssigSubDeptInchargeId)
{
$("#Id_EstApproval").hide();
}
}

}//Assignee Sub-Dept Change
function jobstartdatechange(e)
{
Jobfromdate = JobStartDate = $("#Job_StartDate").dxDateBox("instance").option("value");
}//Mantis bug 0000541 fixed
function initialize_jobstartdate(e) {

}
function jobenddatechange(e) {

Jobtodate = $("#Job_EndDate").dxDateBox("instance").option("value");
}
function job_request_date_ValueChange(e) {
JobRequestDate = $("#Job_RequestDate").dxDateBox("instance").option("value");
}//Mantis bug 0000541 fixed
function initialize_job_request_date(e)
{
}
function Checkrequestor()
{
    if ("@Model.ActionMethod" == "Edit")
    { 
        if ("@Model.Job_CurrUser_PersonnelID" != Job_RequestorID && "@Model.Job_CurrUser_PersonnelID" != Job_RequestorMainDeptInCharge_ID) {

        @*$("#Job_RequestorSubDeptId").dxDropDownBox("instance").option("value", "@Model.Job_RequestorSubDeptId");
        $("#Job_RequestorMainDeptId").dxDropDownBox("instance").option("value", "@Model.Job_RequestorMainDeptId");
        $("#Job_RequestorId").dxDropDownBox("instance").option("value", "@Model.Job_RequestorId");
        $("#Job_Name").dxTextBox("instance").option("value", "@Model.Job_Name");
        $("#Job_RequestedFinishDate").dxDateBox("instance").option("value", "@Model.Job_RequestedFinishDate");
        $("#Job_RequestedStartDate").dxDateBox("instance").option("value", "@Model.Job_RequestedStartDate");
        $("#Job_Description").dxTextBox("instance").option("value", "@Model.Job_Description");*@


            //---- All the code below was commented due to fix of ticket 446 but the fix was not as per FSD so uncommented code(line no. 894 -900)
            $("#Job_RequestorSubDeptId").addClass("dx-state-disabled"); 
            $("#Job_RequestorMainDeptId").addClass("dx-state-disabled");
            $("#Job_RequestorId").addClass("dx-state-disabled");
            $("#Job_Name").addClass("dx-state-disabled");
            $("#Job_RequestedFinishDate").addClass("dx-state-disabled");
            $("#Job_RequestedStartDate").addClass("dx-state-disabled");
            $("#Job_Description").addClass("dx-state-disabled");
            //-----------------------------------------
        }//Mantis bug 0000446 fixed
        else
        {
            $("#Job_RequestorSubDeptId").removeClass("dx-state-disabled");
            $("#Job_RequestorMainDeptId").removeClass("dx-state-disabled");
            $("#Job_RequestorId").removeClass("dx-state-disabled");
            $("#Job_Name").removeClass("dx-state-disabled");
            $("#Job_RequestedFinishDate").removeClass("dx-state-disabled");
            $("#Job_RequestedStartDate").removeClass("dx-state-disabled");
            $("#Job_Description").removeClass("dx-state-disabled");
        }
    }
    if ("@Model.ActionMethod" == "New")
    {       
       @*if ("@Model.Job_CurrUser_PersonnelID" != Job_RequestorID && "@Model.Job_CurrUser_PersonnelID" != Job_RequestorMainDeptInCharge_ID) {*@//mantis bug #1408 fixed
            //$("#Job_Name").dxTextBox("instance").reset();//Mantis bug 0000433 fixed
            //$("#Job_RequestedFinishDate").dxDateBox("instance").reset();//Mantis bug 1408 fixed
            //$("#Job_RequestedStartDate").dxDateBox("instance").reset();//Mantis bug 1408 fixed
            //$("#Job_Description").dxTextBox("instance").reset();//Mantis bug 0000433 fixed

            //$("#Job_Name").addClass("dx-state-disabled");//Mantis bug 0000433 fixed
            //$("#Job_RequestedFinishDate").addClass("dx-state-disabled");//Mantis bug 1408 fixed
            //$("#Job_RequestedStartDate").addClass("dx-state-disabled");//Mantis bug 1408 fixed
            //$("#Job_Description").addClass("dx-state-disabled");//Mantis bug 0000433 fixed
        //}
        //else {
            //$("#Job_Name").removeClass("dx-state-disabled");//Mantis bug 0000864 fixed
            $("#Job_RequestedFinishDate").removeClass("dx-state-disabled");
            $("#Job_RequestedStartDate").removeClass("dx-state-disabled");
            $("#Job_Description").removeClass("dx-state-disabled");
        //}

    }
}//requestor check
function assigneeinchargecheck()
{
    if ("@Model.ActionMethod" == "New" || "@Model.ActionMethod" == "Edit") {

        if ("@Model.Job_CurrUser_PersonnelID" != Job_AssigMainDeptInchargeID && "@Model.Job_CurrUser_PersonnelID" != Job_AssigSubDeptInchargeId) {

            document.getElementById("jobitemusagegrid").disabled = true;
            $("#jobitemusagegrid").addClass("disabledDiv");
            document.getElementById("jobmanestgrid").disabled = true;
            $("#jobmanestgrid").addClass("disabledDiv");
            document.getElementById("jobmanusagegrid").disabled = true;
            $("#jobmanusagegrid").addClass("disabledDiv");
            document.getElementById("jobmacusagegrid").disabled = true;
            $("#jobmacusagegrid").addClass("disabledDiv");
            document.getElementById("jobexpensegrid").disabled = true;
            $("#jobexpensegrid").addClass("disabledDiv");
            if ("@Model.ActionMethod" == "New") {
                if (gridEnableCheck == true) {

                    $.ajax({
                        type: 'GET',
                        url: "/Stock/JobRequestregister/InnerGridDataClear",
                        cache: false,
                        success: function () {
                            JobExpensesGrid.Refresh();
                            JobActual_ManPower_Usage_Grid.Refresh();
                            Job_Machine_Usage_Window_Grid.Refresh();
                            Item_Usage_Est_Window_Grid.Refresh();
                            ManPower_Estimation_Grid.Refresh()
                        }
                    });
                    gridDisableCheck == true;
                    gridEnableCheck == false;
                }

                $("#Job_StartDate").dxDateBox("instance").reset();
                $("#Job_EndDate").dxDateBox("instance").reset();
            }
            else {@*
$("#Job_StartDate").dxDateBox("instance").option("value","@Model.Job_StartDate");
$("#Job_EndDate").dxDateBox("instance").option("value","@Model.Job_EndDate");*@
            }
            $("#Job_StartDate").addClass("dx-state-disabled");
            $("#Job_EndDate").addClass("dx-state-disabled");
        }
        else {       
            document.getElementById("jobitemusagegrid").disabled = false;
            $("#jobitemusagegrid").removeClass("disabledDiv");
            document.getElementById("jobmanestgrid").disabled = false;
            $("#jobmanestgrid").removeClass("disabledDiv");
            document.getElementById("jobmanusagegrid").disabled = false;
            $("#jobmanusagegrid").removeClass("disabledDiv");
            document.getElementById("jobmacusagegrid").disabled = false;
            $("#jobmacusagegrid").removeClass("disabledDiv");
            document.getElementById("jobexpensegrid").disabled = false;
            $("#jobexpensegrid").removeClass("disabledDiv");
            if ("@Model.ActionMethod" == "Edit") { $("#Job_Name").addClass("dx-state-disabled"); }// mantis bug #489
            $("#Job_StartDate").removeClass("dx-state-disabled");
            $("#Job_EndDate").removeClass("dx-state-disabled");
            if ("@Model.ActionMethod" == "New") {
                if (gridDisableCheck == true) {

                    $.ajax({
                        type: 'GET',
                        url: "/Stock/JobRequestregister/InnerGridDataRestore",
                        cache: false,
                        success: function () {
                            JobExpensesGrid.Refresh();
                            JobActual_ManPower_Usage_Grid.Refresh();
                            Job_Machine_Usage_Window_Grid.Refresh();
                            Item_Usage_Est_Window_Grid.Refresh();
                            ManPower_Estimation_Grid.Refresh()
                        }
                    });
                    gridEnableCheck = true;
                    gridDisableCheck == false;
                }             
            }
            return true;
        }
    }


}//Assignnee incharge Check
</script>
    <script>

$(document).ready(async function ()
{
    ShowLoader_Ready();
    Job_ProjectScreenNewright = "@Job_storemasterNewRight" == "True" ? true : false;

    Job_personnelNewRight = "@Job_storemasterNewRight" == "True" ? true : false;

    Job_storemasterNewRight = "@Job_storemasterNewRight" == "True" ? true : false;

    if (Job_ProjectScreenNewright == false)
    {
        $("#Job_AddProject").hide();
    }
    if (Job_personnelNewRight == false)
    {
        $("#JobAddrequestor").hide();
        $("#ID_Add_Assignee").hide();
    }
    if (Job_storemasterNewRight == false)
    {
        $("#Job_Add_Dept").hide();
    }

    var form = "jobvalidationForm";    
    AssignIDtoLabel(form, "job");

    await Refresh_Job_Requestor_Name();//Mantis bug 0000470 fixed
    await Refresh_Job_Requestor_MainDept();
    await Refresh_Job_Requestor_SubDept();
    await Refresh_Job_Assignee_Name();//Mantis bug 0000480 fixed
    await Refresh_Job_Assignee_MainDept();//Mantis bug 0000480 fixed
    await Refresh_Job_Assignee_SubDept();
    if ("@Model.ActionMethod" == "New")
    {
        if (Job_Assignee_MainDept_DG.totalCount() > 0)
        {
            if ("@ViewBag.SelectAssigneeMainDept".length > 0) { // Mantis Bug 1315 fixed
                for (var i = 0; i < Job_Assignee_MainDept_DG.totalCount(); i++) {
                    if (Job_Assignee_MainDept_DG.cellValue(i, "Name") =="@ViewBag.SelectAssigneeMainDept") {
                        await Job_Assignee_MainDept_DG.selectRowsByIndexes(i);
                        break;
                    }
                }
            }
        }
    }//Mantis bug 0000480 fixed

    if ("@Model.Job_ProjectId" != "")//Mantis bug 0000595 fixed
    {
        var Job_Sanction_No = $("#Job_SanctionNo").val();
        var Job_Sanction_Date = $("#Job_SanctionDate").val();
//if (!(Job_Sanction_No == null)) { $("#Job_Sanction_No").dxTextBox("instance").option("value", Job_Sanction_No); }//Mantis bug 0000466 fixed
// if (!(Job_Sanction_Date == null)) {  $("#Job_Sanction_Date").dxDateBox("instance").option("value", Job_Sanction_Date); }//Mantis bug 0000466 fixed
    }
    sessionclearpath = "/Stock/JobRequestRegister/Sessionclear";
    dontaskpopupcloseconfirmation = false;

    if ("@Model.Job_AssigneeId".length > 0)
    {
        await Job_Assignee_Name_DG.selectRows(parseInt("@Model.Job_AssigneeId"), false);//Mantis bug 0000480 fixed
    }

    if ("@Model.Job_AssigneeMainDeptID".length > 0)
    {
        await Job_Assignee_MainDept_DG.selectRows(parseInt("@Model.Job_AssigneeMainDeptID"), false);//Mantis bug 0000480 fixed
    }

    if ("@Model.Job_Assignee_Sub_Dept_ID".length > 0)
    {
        Job_Assignee_SubDept_DG.clearSelection();// Mantis bug 1573 fixed
        var Job_Assign_sub_deptID = "@Model.Job_Assignee_Sub_Dept_ID".split(',').map(Number);
        await Job_Assignee_SubDept_DG.selectRows(Job_Assign_sub_deptID, true); //Mantis bug 0000480 fixed
    } //Mantis bug 0000374 fixed

    if ("@Model.ActionMethod" == "Edit")
    {
        $.ajax({
            type: 'GET',
            url: "/Stock/JobRequestRegister/getUORRCount",
            cache: false,
            data: { jobid: "@Model.Job_Id" },
            success: function (data)
            {
                if (data.result == false)
                {
                    $("#Job_RequestDate").dxDateBox("instance").option("readOnly", true);
                    $("#Job_Name").dxTextBox("instance").option("readOnly", true);
                }
            }
        });

        if ("@Model.Job_CurrUserRole".includes('Assignee Sub-Dept Main Incharge'))
        {
            $("#Job_AssigneeMainDeptID").dxDropDownBox("instance").option("readOnly", true);
            $("#Job_Name").dxTextBox("instance").option("readOnly", true);//Mantis bug 0000489 fixed
        }//Mantis bug 0000447 fixed

        if (("@Model.Job_CurrUserRole".includes('Assignee Dept Main Incharge')) && ("@Model.Job_Status" == "Changes Recommended"))
        {
            $("#Job_BUT_ItemEstiNew").dxButton("instance").option("disabled", true);
            $("#Job_BUT_ItemEstiEdit").dxButton("instance").option("disabled", true);
            $("#Job_BUT_ItemEstiDelete").dxButton("instance").option("disabled", true);
            $("#Job_BUT_EstiNew").dxButton("instance").option("disabled", true);
            $("#Job_BUT_EstiEdit").dxButton("instance").option("disabled", true);
            $("#Job_BUT_EstiDelete").dxButton("instance").option("disabled", true);
        }//Mantis bug 0000927 fixed

        if ("@Model.Job_CurrUserRole".includes('Assignee Dept Main Incharge'))
        {
            $("#Job_RequestorMainDeptId").dxDropDownBox("instance").option("readOnly", true);
            $("#Job_RequestorSubDeptId").dxDropDownBox("instance").option("readOnly", true);
        }//Mantis bug 0000933 fixed

        if ("@Model.Job_CurrUser_SubDeptID" == "@Model.Job_AssigneeNameSubDeptID")
        {
            $("#Job_RequestorMainDeptId").dxDropDownBox("instance").option("readOnly", true);
            $("#Job_Name").dxTextBox("instance").option("readOnly", true);//Mantis bug 0000489 fixed
        }
    }
    Job_ReqMainDeptID = "@Model.Job_RequestorMainDeptId";//Mantis bug 0000445 fixed
    if ("@Model.ActionMethod" == "New")
    {
        await Job_RequestorName_DG.selectRows(parseInt("@Model.Job_CurrUser_PersonnelID"), false);//Mantis bug 0000470 fixed
        await Job_RequestorMainDept_DG.selectRows(parseInt("@Model.Job_CurrUser_MainDeptID"), false);//Mantis bug 0000470 fixed
        if ("@Model.Job_CurrUser_MainDeptID" != "@Model.Job_CurrUser_SubDeptID")
        {
            if ("@Model.Job_CurrUser_SubDeptID".length > 0)
            {
                await Job_RequestorSubDept_DG.selectRows(parseInt("@Model.Job_CurrUser_SubDeptID"), false);//Mantis bug 0000470 fixed
            }
        }//Mantis bug 0000435 fixed
        if ("@Model.Job_CurrUser_SubDeptID" == "@Model.Job_AssigneeNameSubDeptID")
        {
            $("#Job_RequestorMainDeptId").dxDropDownBox("instance").option("readOnly", true);
        }
    }
    else
    {
        await Job_RequestorName_DG.selectRows(parseInt("@Model.Job_RequestorId"), false);//Mantis bug 0000470 fixed
        await Job_RequestorMainDept_DG.selectRows(parseInt("@Model.Job_RequestorMainDeptId"), false);//Mantis bug 0000470 fixed
        if ("@Model.Job_RequestorSubDeptId".length > 0)
        {
        await Job_RequestorSubDept_DG.selectRows(parseInt("@Model.Job_RequestorSubDeptId"), false);//Mantis bug 0000470 fixed
        }
    }
    setTimeout(function ()
    {
        Set_Form_View_Delete_Mode(null, form, "@Model.ActionMethod");
        Focus_FirstEditable_Field(form, "@Model.ActionMethod");
        HideLoader_Ready();
    }, Timeout500);
});

    function job_add_New_Project() {
        if (!Job_ProjectScreenNewright)
        {
            DevExpress.ui.dialog.alert("Not Allowed", 'No Rights');
            return;
        }

        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/Stock/ProjectScreen/Frm_Project_NEVD",
            data: {
                ActionMethod: "New",
                PostSuccessFunction: "Job_AddProject_Success",
                PopUpID: "NPR_Content_popup",
                buttonID:"Job_AddProject"
            },
            success: function (data)
            {
                OpenPopup("NPR_Content_popup", "New ~ Project Request", null, "auto", 1150, true, data);

            },
            error: function (e) {
                HideLoader();
            }
        });
    }
function Job_AddProject_Success(data)
{
HideLoader();
if (data.result == true)
{
$("#NPR_Content_popup").dxPopup("hide");
    $("#GetProjectName_JRGrid").dxDataGrid("instance").refresh();
}
else {
DevExpress.ui.dialog.alert(data.message, "Error");
}
}
function PopupOnShowing() {
$('.dx-overlay-wrapper').addClass('popupresponsive');
$(".dx-overlay-wrapper .dx-popup-content").each(function () {
if (!$(this).hasClass("dx-scrollable")) {
$(this).dxScrollView();
}
})
}
function job_add_Complex() {
DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
}
    function job_add_Requestor() {
        if (!Job_personnelNewRight) {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights")
            return;
        }
        Job_Add_Person_Click("jobAddPersonnelSuccess", "JobAddrequestor");

    }
    function job_add_Dept() {
        if (!Job_storemasterNewRight) {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights")
            return;
        }

        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/Stock/Store_Dept_Master/Frm_Store_Dept_Master_Window",
            data: {
                ActionMethod: "New",
                ID: 0,
                PostSucessFunction: "jobAddstoredeptSuccess",
                PopupName: "NPR_Content_popup",
                ButtonID:"Job_Add_Dept"
            },
            success: function (data) {

                OpenPopup("NPR_Content_popup", "New ~ Dept", null, "auto", 1150, true, data);

            }
        });


    }
    function job_add_Assignee() {
        if (!Job_personnelNewRight) {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights")
            return;
        }
        Job_Add_Person_Click("jobAddPersonnelSuccess","ID_Add_Assignee");
    }
function job_close_NEVD(e)
{
if ("@Model.Job_PopUPId" == "Dynamic_Content_popup")
{
dontaskpopupcloseconfirmation = false;
sessionclearpath = "/Stock/JobRequestRegister/Sessionclear";
$("#Dynamic_Content_popup").dxPopup("hide");
}
else
{
var popupid = "#" + "@Model.Job_PopUPId";
$(popupid).dxPopup("hide");
}
}
function Job_Add_Person_Click(postsucessfunction,buttonID) {

ShowLoader();
$.ajax({
type: "GET",
url: "/Stock/PersonnelMaster/Frm_PersonnelMaster_Window",
data: {
ActionMethod: "New",
ID: 0,
PostSucessFunction: postsucessfunction,
PopupName: "NPR_Content_popup",
ButtonID: buttonID
},
success: function (data) {

OpenPopup("NPR_Content_popup", "New ~ Personnel", null, "auto", 1150, true, data);

}
});

}
function jobAddPersonnelSuccess(data) {
HideLoader();
if (data.result == true) {
$("#NPR_Content_popup").dxPopup("hide");
$("#GetRequestorNames_Grid").dxDataGrid("instance").refresh();
$("#GetStockAssign_Grid").dxDataGrid("instance").refresh();
}
else {
DevExpress.ui.dialog.alert(data.Message, "Error");
}
}
function jobAddstoredeptSuccess(data) {
HideLoader();
if (data.result == true) {
$("#NPR_Content_popup").dxPopup("hide");
$("#GetStockMainDept_Grid").dxDataGrid("instance").refresh();
}
else {
DevExpress.ui.dialog.alert(data.Message, "Error");
}
}

    function to_Open_Quick_Job_Screen()
    {
        $("#jobvalidationForm").remove();//Mantis bug 0000860 fixed
        var popupid = "#" + "@Model.Job_PopUPId";
        dontaskpopupcloseconfirmation = true;//Mantis bug 0000398 fixed
        $(popupid).dxPopup("hide");
        if ("@Model.Job_CallingScreen" == "Project")
        {
            ShowLoader();
            $.ajax({
                type: "GET",
                url: "/Stock/JobRequestRegister/Job_Request_Requestor_Quick",
                data: {
                    PostSuccessFunction: "project_QuickJob_Success", PopupID: "popup_frm_quick_JRR_From_PRR", CallingScreen: "Project", projectID: PR_REC_ID
                },
                success: function (data) {
                    OpenPopup("popup_frm_quick_JRR_From_PRR", "New ~ Quick Job Request", null, "auto", 1150, true, data);
                }
            });
        }
        else
        {
            ShowLoader();
            $.ajax({
                type: "GET",
                url: "/Stock/JobRequestRegister/Job_Request_Requestor_Quick",
                data: { PopupID: "popup_frm_quick_JRR"},
                success: function (data)
                {
                    OpenPopup("popup_frm_quick_JRR", "New ~ Quick Job Request", null, "auto", 1150, true, data);
                    HideLoader();
                }
            });
        }
    }




        </script>
<script>
function job_deleteclick(e)
{
var form = $("#jobvalidationForm");
var result = DevExpress.ui.dialog.confirm("Sure You Want To Delete..?", "Delete~Job");
result.done(function (dialogResult) {
if (dialogResult) {
$.ajax({
type: 'GET',
url: "/Stock/JobRequestRegister/CheckDocumentsLinked",
cache: false,
async: false,
data: {
jobid: Job_ID
},
success: function (check) {
if (check.result == false) {
form.submit();
}
else
{
var docdel = DevExpress.ui.dialog.confirm(check.message, "Unlink-Documents");
docdel.done(function (dialogResult) {
if (dialogResult) {
form.submit();
}
});
}
}
});
}
});
}
function job_editSaveClick(e)
{
var result = e.validationGroup.validate();
if (result.isValid)
{
var form = $("#jobvalidationForm");
if ("@Model.Job_EstRequired" == "False")
{
var itemest= Item_Usage_Est_Window_Grid.GetVisibleRowsOnPage();
var manest = ManPower_Estimation_Grid.GetVisibleRowsOnPage();
if (itemest > 0 || manest > 0)
{
var result = DevExpress.ui.dialog.confirm("Do You Want To Delete The Estimations", "Update~Job");
result.done(function (dialogResult) {
if (dialogResult) {
$.ajax({
type: 'GET',
url: "/Stock/JobRequestRegister/DeleteEstimations",
cache: false,
async: false,
data: {
itemest: itemest,
manest: manest
},
success: function (check) {
}
});
}
});
}
}
form.submit();
}
}//edit click
function job_Est_Submit(e)
{
var statusflowcheck = Job_StatusFlowCheck("Estimation_Submission");
if (statusflowcheck[1] == false)
{
DevExpress.ui.dialog.alert(statusflowcheck[0], "Error");
return;
}
var result = DevExpress.ui.dialog.confirm("Sure You Want To Assign For Estimate Submission", "Update~Job");
result.done(function (dialogResult) {
if (dialogResult) {
var result = e.validationGroup.validate();
if (result.isValid) {
$("#Job_SatusButtonClick").val("Estimation_Submission");
var form = $("#jobvalidationForm");
form.submit();
}
}

});
}
function job_Est_approval(e)
{
var statusflowcheck = Job_StatusFlowCheck("Estimate_Approval");
if (statusflowcheck[1] == false) {
DevExpress.ui.dialog.alert(statusflowcheck[0], "Error");
return;
}
var result = DevExpress.ui.dialog.confirm("Sure You Want To Submit For Estimate Approval", "Update~Job");
result.done(function (dialogResult) {
if (dialogResult) {
var result = e.validationGroup.validate();
if (result.isValid) {
$("#Job_SatusButtonClick").val("Estimate_Approval");
var form = $("#jobvalidationForm");
form.submit();
}
}

});
}
function job_reject_NEVD(e)
{
var statusflowcheck = Job_StatusFlowCheck("Reject");
if (statusflowcheck[1] == false)
{
DevExpress.ui.dialog.alert(statusflowcheck[0], "Error");
return;
}
$.ajax({
type: 'GET',
url: "/Stock/JobRequestRegister/Job_StatusChange_Check",
cache: false,
async: false,
data: {
JobId:"@Model.Job_Id",
StatusButton:"Reject"
},
success: function (check)
{
if (check.result == false) {
DevExpress.ui.dialog.alert(check.message, "Error")
}
else
{
var form = $("#jobvalidationForm");//Mantis bug 0000396 fixed
var result = DevExpress.ui.dialog.confirm("Sure You Want To Reject", "Update~Job");
result.done(function (dialogResult) {
if (dialogResult) {
var result = e.validationGroup.validate();
if (result.isValid) {
if ($("#Job_Remarks").dxTextBox("instance").option("value") == null || $("#Job_Remarks").dxTextBox("instance").option("value") == "")//Mantis bug 0000396 fixed
{
var remarks = DevExpress.ui.dialog.confirm("Do You Want To Enter Remarks For Rejecting The Job..?", "Update~Job")
remarks.done(function (dialogResult) {
if (!dialogResult) {
$("#Job_SatusButtonClick").val("Reject");
form.submit();
}
else {
$("#Job_Remarks").dxTextBox("instance").focus();
}
});
}
else
{
$("#Job_SatusButtonClick").val("Reject");
form.submit();
}
}//Mantis bug 0000396 fixed
}
});
}

}
});

}//job_approve
function job_approve(e)
{
var statusflowcheck = Job_StatusFlowCheck("Approve");
if (statusflowcheck[1] == false)
{
DevExpress.ui.dialog.alert(statusflowcheck[0], "Error");
return;
}
var result = DevExpress.ui.dialog.confirm("Sure You Want To Approve", "Update~Job");
result.done(function (dialogResult) {
if (dialogResult) {
var result = e.validationGroup.validate();
if (result.isValid) {
$("#Job_SatusButtonClick").val("Approve");
var form = $("#jobvalidationForm");
form.submit();
}

}
});
}
function job_changes(e)
{
var statusflowcheck = Job_StatusFlowCheck("Changes Recommended");
if (statusflowcheck[1] == false)
{
DevExpress.ui.dialog.alert(statusflowcheck[0], "Error");
return;
}
var result = DevExpress.ui.dialog.confirm("Sure You Want To Submit For Recommending Changes", "Update~Job");
result.done(function (dialogResult)
{
if (dialogResult) {
var result = e.validationGroup.validate();
if (result.isValid) {
if ($("#Job_Remarks").dxTextBox("instance").option("value"))
{
$("#Job_SatusButtonClick").val("Changes Recommended");
var form = $("#jobvalidationForm");
form.submit();
}
else {
var remarks = DevExpress.ui.dialog.confirm("Do You Want To Enter Remarks For Recommending Changes..?", "Update~Job")
remarks.done(function (dialogResult) {
if (!dialogResult) {
$("#Job_SatusButtonClick").val("Changes Recommended");
var form = $("#jobvalidationForm");
form.submit();
}
else {
$("#Job_Remarks").dxTextBox("instance").focus();
}
});
}
}
}
});
}


function job_cancel(e)
{
var statusflowcheck = Job_StatusFlowCheck("Cancel");
if (statusflowcheck[1] == false)
{
DevExpress.ui.dialog.alert(statusflowcheck[0], "Error");
return;
}
$.ajax({
type: 'GET',
url: "/Stock/JobRequestRegister/Job_StatusChange_Check",
cache: false,
async: false,
data: {
JobId:"@Model.Job_Id",
StatusButton:"Cancel"
},
success: function (check) {
if (check.result == false) {
DevExpress.ui.dialog.alert(check.message, "Error")
}
else {
var result = DevExpress.ui.dialog.confirm("Sure You Want To Cancel", "Update~Job");
result.done(function (dialogResult) {
if (dialogResult) {
var result = e.validationGroup.validate();
if (result.isValid) {
if ($("#Job_Remarks").dxTextBox("instance").option("value")) {
$("#Job_SatusButtonClick").val("Cancel");
var form = $("#jobvalidationForm");
form.submit();
}
else {
var remarks = DevExpress.ui.dialog.confirm("Do You Want To Enter Remarks For Cancelling The Job..?", "Update~Job")
remarks.done(function (dialogResult) {
if (!dialogResult) {
$("#Job_SatusButtonClick").val("Cancel");
var form = $("#jobvalidationForm");
form.submit();
}
else {
$("#Job_Remarks").dxTextBox("instance").focus();
}
});
}
}
}
});

}
}
});
}//job_cancel //0000145 bug fixed
</script>
<script>
var Job_RequestorName_DG;
var Job_RequestorMainDept_DG;
var Job_RequestorSubDept_DG;
var Job_Assignee_Name_DG;
var Job_Assignee_MainDept_DG;
var Job_Assignee_SubDept_DG;

async function Refresh_Job_Requestor_Name()//Mantis bug 0000470 fixed
{
    var $Job_RequestorName_DG = $("#GetRequestorNames_Grid");
    if ($Job_RequestorName_DG.length)
    {
        Job_RequestorName_DG = $Job_RequestorName_DG.dxDataGrid("instance");
        await Job_RequestorName_DG.refresh();
    }
}
async function Refresh_Job_Requestor_MainDept()//Mantis bug 0000470 fixed
{
    var $Job_RequestorMainDept_DG = $("#GetStockMainDept_Grid");
    if ($Job_RequestorMainDept_DG.length) {
        Job_RequestorMainDept_DG = $Job_RequestorMainDept_DG.dxDataGrid("instance");
        await Job_RequestorMainDept_DG.refresh();
    }
}
async function Refresh_Job_Requestor_SubDept()//Mantis bug 0000470 fixed
{
    var $Job_RequestorSubDept_DG = $("#GetStockSubDept_Grid");
    if ($Job_RequestorSubDept_DG.length) {
        Job_RequestorSubDept_DG = $Job_RequestorSubDept_DG.dxDataGrid("instance");
        await Job_RequestorSubDept_DG.refresh();
    }
}
async function Refresh_Job_Assignee_Name()//Mantis bug 0000480 fixed
{
    var $Job_Assignee_Name_DG = $("#GetStockAssign_Grid");
    if ($Job_Assignee_Name_DG.length) {
        Job_Assignee_Name_DG = $Job_Assignee_Name_DG.dxDataGrid("instance");
        await Job_Assignee_Name_DG.refresh();
    }
}
async function Refresh_Job_Assignee_MainDept()//Mantis bug 0000480 fixed
{
    var $Job_Assignee_MainDept_DG = $("#GetStockAssignMainDept_Grid");
    if ($Job_Assignee_MainDept_DG.length) {
        Job_Assignee_MainDept_DG = $Job_Assignee_MainDept_DG.dxDataGrid("instance");
        await Job_Assignee_MainDept_DG.refresh();
    }

}
async function Refresh_Job_Assignee_SubDept()//Mantis bug 0000480 fixed
{
    var $Job_Assignee_SubDept_DG = $("#GetStockAssignSubDept_JRGrid");
    if ($Job_Assignee_SubDept_DG.length)
    {
        Job_Assignee_SubDept_DG = $Job_Assignee_SubDept_DG.dxDataGrid("instance");
        await Job_Assignee_SubDept_DG.refresh();
        var count = Job_Assignee_SubDept_DG.totalCount();
        if (count == 1)
        {
            Job_Assignee_SubDept_DG.selectRowsByIndexes(0);
        }
    }
}
</script>
