@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.JobItemUsageEstimation
@{
    ViewBag.Test = Model.Job_Item_ActionMethod;
    bool IsVisible = Model != null && (Model.Job_Item_ActionMethod.ToString().Trim() == "View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    input {
        float: right;
    }

    #button {
        margin-left: -100px;
    }

    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            line-height: 15px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 8px;
                height: 8px;
                background: #337ab7;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .paddB3 {
        padding-bottom: 3px !important;
    }


</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="Item_Usage_Estimation" class="edit_form">
    @using (Ajax.BeginForm("Frm_Item_Usage_Estimate", "JobRequestRegister",
                                                 new AjaxOptions
                                                 {
                                                     HttpMethod = "POST",
                                                     UpdateTargetId = "Item_Usage_Estimation",
                                                     InsertionMode = InsertionMode.InsertAfter,
                                                     OnBegin = "AjaxBeginFormPost",
                                                     OnSuccess = "OnItemUsageEstimationSuccess"
                                                 },
                                                      new
                                                      {
                                                          id = "ID_Item_Usage_Estimation_job",
                                                          @class = "edit_form"
                                                      }))
    {
        @Html.HiddenFor(x => x.Job_Item_ActionMethod)
        @Html.HiddenFor(x => x.Job_ItemName)
        @Html.HiddenFor(x => x.Job_Item_REC_ID)
        @Html.HiddenFor(x => x.Job_Item_Sr_No)
        @Html.HiddenFor(x => x.Job_UnitID)
        using (Html.DevExtreme().ValidationGroup())
        {
            <!-- <div class="full-width-header-bg3">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Item Details</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div> [row]-->

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll">
                                    <label class="control-label text-red" for="user" style="">Item Name:</label>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4 prm">
                                    <div class="dx-texteditor dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_ItemID").Name("Job_ItemID").Value(Model.Job_ItemID).DisplayExpr("Stock_Item_Name").ValueExpr("Item_ID").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } })
                                                                  .DataSource(d => d.Mvc().Area("Stock").Controller("JobRequestRegister").LoadAction("LookUp_GetItem_Names").Key("Item_ID").LoadParams(new { StoreID = new JS("function (){return Job_AssigMainDeptID;}") })).ReadOnly(true).OnValueChanged("OnItem_NameChanged").Placeholder("Select Item Name...")
                                                                  .ReadOnly(IsVisible).Disabled(IsVisible).OnInitialized("OnInitialized_OnItem_NameChanged").ContentTemplate(@<text> @Html.Partial("LookUp_GetStockItems") </text>) )@*Mantis bug 0000763 fixed*@
                                            @Html.ValidationMessageFor(model => model.Job_ItemID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                @(Html.DevExtreme().Button().ID("Job_Requestitem").FocusStateEnabled(true).Text("Request Item").Disabled(IsVisible).OnClick("Job_RequestItem_Click"))
                                @(Html.DevExtreme().Button().ID("Job_Pricehistory").FocusStateEnabled(true).Text("View Price History").Disabled(IsVisible).OnClick("Job_PriceHistory_Click"))
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Item]-->
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Item Type:</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBoxFor(x => x.Job_Item_Type).CustomTextBox().ID("Job_Item_Type").Name("Job_Item_Type").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Item_Type").ReadOnly(true).Disabled(IsVisible) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Item Type]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Item Code:</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                    <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBoxFor(x => x.Job_Item_Code).CustomTextBox().ID("Job_Item_Code").Name("Job_Item_Code").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Item Code").ReadOnly(true).Disabled(IsVisible) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Item Code]-->
            </div>
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll "><label class="control-label text-red" for="user">Est. Quantity:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().NumberBoxFor(x => x.Job_Estimated_Quantity_Usage).CustomNumberBox().ID("Job_Estimated_Quantity_Usage").Name("Job_Estimated_Quantity_Usage").ReadOnly(IsVisible).Disabled(IsVisible).Placeholder("Estimated Qty Usage")
                                                              .Format("#0.00").ShowSpinButtons(true).OnValueChanged("estimate_quantity_change").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Estimated Quantity]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Unit:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBoxFor(x => x.Job_Unit).CustomTextBox().ID("Job_Unit").Name("Job_Unit").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Item Unit").ReadOnly(true).Disabled(IsVisible) )
                                                @Html.ValidationMessageFor(model => model.Job_Unit, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Item Unit]-->
                </div>
            </div>
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Est. Rate:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Job_Estimated_Rate").Name("Job_Estimated_Rate").Value(Model.Job_Estimated_Rate).Format("#0.00").ShowSpinButtons(true).Placeholder("Estimated rate").ReadOnly(IsVisible).OnValueChanged("estimate_rate_change").Disabled(IsVisible).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }) )
                                                @Html.ValidationMessageFor(model => model.Job_Estimated_Rate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Estimated Rate]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Est. Amount:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().NumberBoxFor(x => x.Job_Estimated_Amount).CustomNumberBox().ID("Job_Estimated_Amount").Name("Job_Estimated_Amount").Format("#0.00").ReadOnly(true).Disabled(IsVisible).Placeholder("Total Estimated Amount").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }) )
                                                @Html.ValidationMessageFor(model => model.Job_Estimated_Amount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Estmated Amount]-->
                </div>
            </div><!--[row]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Tolerance:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().NumberBox().ID("Job_Tolerance").CustomNumberBox().Name("Job_Tolerance").Value(Model.Job_Tolerance).Format("#0").Placeholder("Percentage").ReadOnly(IsVisible).Disabled(IsVisible) )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Tolerance]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Remarks:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_ItemUsage_Remarks").Name("Job_ItemUsage_Remarks").Value(Model.Job_ItemUsage_Remarks).Placeholder("Enter Remarks...").MaxLength(8000).ReadOnly(IsVisible).Disabled(IsVisible) )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Remarks]-->
                </div>
            </div>
            <div class="row">
                <div class="form-field wbg brd-bot-none">
                    <div class="col-lg-6 col-xs-12"></div>
                    <div class="col-lg-6 col-xs-12 styleActionBtn">
                        @if (Model.Job_Item_ActionMethod == "View")
                        {
                            @(Html.DevExtreme().Button().CustomCloseButton().Text("Close").ID("ItemUsage_Cancle").FocusStateEnabled(true).OnClick(@<text> function () { $("#Jobinnergrid").dxPopup("hide"); } </text>) )
                        }
                        @if (Model.Job_Item_ActionMethod == "New" || Model.Job_Item_ActionMethod == "Edit")
                        {
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("ItemUsage").Text("OK").FocusStateEnabled(true).UseSubmitBehavior(true) )
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("ItemUsageCancel").Text("Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Jobinnergrid").dxPopup("hide"); } </text>) )
                        }
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
    }
</div>
    <script>

    function OnItem_NameChanged(e)
    {
        if (e.previousValue != null && e.previousValue != e.value)
        {            
            $("#Job_Estimated_Quantity_Usage").dxNumberBox("instance").reset();
            $("#Job_Estimated_Rate").dxNumberBox("instance").reset();
        }
        var dropdown = $("#Job_ItemID").dxDropDownBox("instance");
        dropdown.close();
        var $dataGrid = $("#LookUp_GetStockItems_datagrid");
        if ($dataGrid.length) {         
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropdown.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];          
                $("#Job_ItemName").val(item.Stock_Item_Name);
                $("#Job_UnitID").val(item.UnitID);
                $("#Job_Unit").dxTextBox("instance").option("value", item.Unit)
                $("#Job_Item_Code").dxTextBox("instance").option("value", item.Item_Code)
                $("#Job_Item_Type").dxTextBox("instance").option("value", item.Item_Type)
           
            }
        }
        }
    function estimate_rate_change(e)
    {       
            var qty = $("#Job_Estimated_Quantity_Usage").dxNumberBox("instance").option("value");
        var rate = $("#Job_Estimated_Rate").dxNumberBox("instance").option("value");
        if (qty && rate) {
            $("#Job_Estimated_Amount").dxNumberBox("instance").option("value", qty * rate);
        }
        }
        function estimate_quantity_change(e) {

            var qty = $("#Job_Estimated_Quantity_Usage").dxNumberBox("instance").option("value");
            var rate = $("#Job_Estimated_Rate").dxNumberBox("instance").option("value");
            if (qty && rate) {
                $("#Job_Estimated_Amount").dxNumberBox("instance").option("value", qty * rate);
            }
        }
    function OnInitialized_OnItem_NameChanged(e)
    {
        if (e.component.option("dataSource") != null)
        {
            e.component.option("dataSource").store.load().done(function (d)
            {
                if (d.length == 1)
                    e.component.option("value", d[0].Item_ID);
            });
        }
        }
        function Job_PriceHistory_Click() {
            DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
        }
        function Job_RequestItem_Click() {
            DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
        }


    </script>
    <script>
    $(document).ready(function ()
    {
        var form = "ID_Item_Usage_Estimation_job";
        ShowLoader();
        AssignIDtoLabel(form, "jobItemEstimation");
        setTimeout(function ()
        {
            Set_Form_View_Delete_Mode(null, form, "@Model.Job_Item_ActionMethod");
            Focus_FirstEditable_Field(form, "@Model.Job_Item_ActionMethod");
            HideLoader();
        }, Timeout500);
    })

    </script>
