@using DevExtreme.AspNet.Mvc
<div>
    @(Html.DevExtreme().Button()
                                .ID("SI_ExportGridDatapdf")
                                .Text("Export to PDF")
                                .OnClick("ExportPDF")
                                .Visible(true)
                                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                                .ID("SI_ExportGridDataxls")
                                .Text("Export to XLS")
                                .OnClick("ExportXLS")
                                .Visible(true)
                                .Width(120)
    )<br />
    @(Html.DevExtreme().Button()
                                .ID("SI_ExportGridDataxlsx")
                                .Text("Export to XLSX")
                                .OnClick("ExportXLSX")
                                .Visible(true)
                                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                                .ID("SI_ExportGridDatadocx")
                                .Text("Export to DOCX")
                                .OnClick("ExportDOCX")
                                .Visible(true)
                                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                                .ID("SI_ExportGridDatartf")
                                .Text("Export to RTF")
                                .OnClick("ExportRTF")
                                .Visible(true)
                                .Width(120)
    )<br />

    @(Html.DevExtreme().Button()
                                .ID("SI_ExportGridDatacsv")
                                .Text("Export to CSV")
                                .OnClick("ExportCSV")
                                .Visible(true)
                                .Width(120)
    )
</div>
<script>
    function ExportPDF() {
        JobRequestRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
        $("#JobRequistRegister_report_modal").dxPopup("hide");
    }
    function ExportXLS() {
        JobRequestRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
        $("#JobRequistRegister_report_modal").dxPopup("hide");
    }
    function ExportXLSX() {
        JobRequestRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        $("#JobRequistRegister_report_modal").dxPopup("hide");
    }
    function ExportCSV() {
        JobRequestRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
        $("#JobRequistRegister_report_modal").dxPopup("hide");
    }
    function ExportDOCX() {
        JobRequestRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
        $("#JobRequistRegister_report_modal").dxPopup("hide");
    }
    function ExportRTF() {
        JobRequestRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
        $("#JobRequistRegister_report_modal").dxPopup("hide");
    }
</script>

