@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.JobManpowerEstimates
@{
    ViewBag.Test = Model.Job_Manpower_ActionMethod;
    bool IsVisible = Model != null && (Model.Job_Manpower_ActionMethod == "View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .dx-button-block {
        display: block !important;
    }

    .intial {
        float: initial !important;
    }

    .paddR9 {
        padding-right: 9px !important;
    }

    .control-label-text {
        font-weight: 500;
        font-size: 14px;
    }

    #Frm_Estimation_Window_popup {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="Frm_Estimation_Window_popup" class="col-md-12">
    @using (Ajax.BeginForm("Frm_Add_Manpower_Estimate", "JobRequestRegister",
                       new AjaxOptions
                       {
                           HttpMethod = "POST",
                           UpdateTargetId = "Frm_Estimation_Window_popup",
                           InsertionMode = InsertionMode.InsertAfter,
                           OnBegin = "AjaxBeginFormPost",
                           OnSuccess = "Frm_Manpower_Estimation_OnSuccess"
                       },
                       new
                       {
                           id = "ID_Frm_Estimation_Window",
                           @class = "edit_form"
                       }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Job_Manpower_ActionMethod)
        @Html.HiddenFor(x => x.Job_Manpower_REC_ID)
        @Html.HiddenFor(x => x.Job_Manpower_skilltype)
        @Html.HiddenFor(x => x.Job_Estimated_Unit)
        @Html.HiddenFor(x => x.Job_Manpower_Sr)
        using (Html.DevExtreme().ValidationGroup())
        {
            <!--  <div class="full-width-header-bg3">
                <div class="row">

                    <div class="col-sm-8 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Estimation Details </h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div> [Header]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid pll prm">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                                <label class="control-label text-red" for="Name">Type of Work:</label>
                            </div><!--[/leftpart]-->
                            <div class="col-sm-9 col-md-9 col-lg-9 paddLR5">
                                <div class="dx-texteditor dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Job_ManEstRemarks").Name("Job_ManEstRemarks").Value(Model.Job_ManEstRemarks).MaxLength(8000).Placeholder("Enter Type of Work").ReadOnly(IsVisible).Disabled(IsVisible))
                                        @Html.ValidationMessageFor(model => model.Job_ManEstRemarks, "", new { @class = "text-danger" })

                                    </div>
                                </div><!--[right part]-->
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--[remarks]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid pll prm">
                        <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                            <label class="control-label text-red" for="Name">Manpower Type:</label>
                        </div><!--[/leftpart]-->
                        <div class="col-sm-4 col-md-4 col-lg-4 paddLR5">
                            <div class="dx-texteditor dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_Manpower_skilltypeID").Name("Job_Manpower_skilltypeID").Value(Model.Job_Manpower_skilltypeID).ValueExpr("Skill_Type_ID").DisplayExpr("Skill_Type").DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("LookUp_Get_skill_types").Key("Skill_Type_ID")).Placeholder("Select Manpower Type").ReadOnly(IsVisible).Disabled(IsVisible).OnValueChanged("GetManpower_Types_ChangeEvent").ContentTemplate(@<text> @Html.Partial("LookUp_Get_skill_types") </text>) )
                                    @Html.ValidationMessageFor(model => model.Job_Manpower_skilltypeID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div><!--[right part]-->
                        <div class="col-sm-5 col-md-5 col-lg-5 prm pll4">
                            @(Html.DevExtreme().Button()
                                                                                        .ID("Request_Manpower_Type")
                                                                                        .Text("Request Manpower Type")
                                                                                        .OnClick(@<text>
                                                                                            function () {
                                                                                            Request_Manpower_Type_Click()
                                                                                            }
                                                                                        </text>))
                        </div>
                    </div>
                </div>
            </div> <!--[Manpower Skill Type]-->

            <div class="row">

                <div class="form-field">
                    <div class="container-fluid pll prm">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                                <label class="control-label text-red" for="Name">Est. Unit:</label>
                            </div><!--[/leftpart]-->
                            <div class="col-sm-4 col-md-4 col-lg-4 paddLR5">
                                <div class="dx-texteditor dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Job_Estimated_UnitID").Name("Job_Estimated_UnitID").Value(Model.Job_Estimated_UnitID).ValueExpr("Unit_ID").DisplayExpr("Unit").DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("GetStockUnits").Key("Unit_ID")).Placeholder("Choose Estimated Unit").ReadOnly(IsVisible).Disabled(IsVisible).OnValueChanged("GetStockUnits_ChangeEvent").ContentTemplate(@<text> @Html.Partial("LookUp_GetStockUnits") </text>) )
                                        @Html.ValidationMessageFor(model => model.Job_Estimated_UnitID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5 prm pll4">
                                @(Html.DevExtreme().Button()
                                                                                                    .ID("Request_Unit")
                                                                                                    .Text("Request Unit")
                                                                                                    .OnClick(@<text>
                                                                                                        function () {
                                                                                                        Job_Request_Unit_Click()
                                                                                                        }
                                                                                                    </text>))
                            </div>
                        </div> <!--[right part]-->

                    </div>
                </div>
            </div> <!--[Estimated Unit]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid pll prm">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                                <label class="control-label text-red" for="Name">Est. Consumption:</label>
                            </div><!--[/leftpart]-->
                            <div class="col-sm-9 col-md-9 col-lg-9 paddLR5">
                                <div class="dx-texteditor dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Job_Estimated_Consumption").Name("Job_Estimated_Consumption").Placeholder("Enter Estimated Consumption").Format("#0.00").ShowSpinButtons(true).Value(Model.Job_Estimated_Consumption).OnValueChanged("Estimated_Consumption_ChangeEvent").ReadOnly(IsVisible).Disabled(IsVisible))
                                        @Html.ValidationMessageFor(model => model.Job_Estimated_Consumption, "", new { @class = "text-danger" })
                                    </div>
                                </div><!--[right part]-->
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--[Estimated Consumption]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid pll prm">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                                <label class="control-label text-red" for="Name">Est. Rate per Unit:</label>
                            </div><!--[/leftpart]-->
                            <div class="col-sm-9 col-md-9 col-lg-9 paddLR5">
                                <div class="dx-texteditor dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Job_Estimated_Rate_per_Unit").Name("Job_Estimated_Rate_per_Unit").Placeholder("Enter Estimated Per Unit Cost").Value(Model.Job_Estimated_Rate_per_Unit).OnValueChanged("Estimated_Rate_per_Unit_ChangeEvent").Format("#0.00").ShowSpinButtons(true).ReadOnly(IsVisible).Disabled(IsVisible) )
                                        @Html.ValidationMessageFor(model => model.Job_Estimated_Rate_per_Unit, "", new { @class = "text-danger" })
                                    </div>
                                </div><!--[right part]-->

                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--[Rate/Unit]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid pll prm">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                                <label class="control-label" for="Name">Est. total cost:</label>
                            </div><!--[/leftpart]-->
                            <div class="col-sm-9 col-md-9 col-lg-9 paddLR5">
                                <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().NumberBoxFor(x => x.Job_Est_Cost).CustomNumberBox().ID("Job_Est_Cost").Name("Job_Est_Cost").Placeholder("Estimated total cost").Format("#0.00").ShowSpinButtons(true).ReadOnly(IsVisible).Disabled(IsVisible) )
                                    </div>
                                </div><!--[right part]-->
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--[Total Cost]-->

            <div class="row">
                <div class="form-field wbg brd-bot-none">
                    <div class="container-fluid">
                        <div class="col-sm-12 styleActionBtn">

                            @if (Model.Job_Manpower_ActionMethod == "View")
                            {
                                @(Html.DevExtreme().Button().CustomCloseButton().Text("Close").ID("EstimationDetail_Cancle").FocusStateEnabled(true).OnClick(@<text> function () { $("#Jobinnergrid").dxPopup("hide"); } </text>) )
                            }
                            @if (Model.Job_Manpower_ActionMethod == "New" || Model.Job_Manpower_ActionMethod == "Edit")
                            {
                                @(Html.DevExtreme().Button().CustomSaveButton().Text("OK").ID("EstimationDetail_Save").FocusStateEnabled(true).UseSubmitBehavior(true) )
                                @(Html.DevExtreme().Button().CustomCloseButton().Text("Cancel").ID("EstimationDetail_SaveCancle").FocusStateEnabled(true).OnClick(@<text> function () { $("#Jobinnergrid").dxPopup("hide"); } </text>) )
                            }
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        }

    }
</div>
<script>
    $(document).ready(function ()
    {        
        var form = "ID_Frm_Estimation_Window";
        ShowLoader();
        AssignIDtoLabel(form, "jobManpowerEstimation");
        setTimeout(function ()
        {
            Set_Form_View_Delete_Mode(null, form, "@Model.Job_Manpower_ActionMethod");
            Focus_FirstEditable_Field(form, "@Model.Job_Manpower_ActionMethod");
            HideLoader();
        }, Timeout500);
    })

</script>
<script type="text/javascript">
    function GetStockUnits_ChangeEvent(e) {
        var dropDownBox = $("#Job_Estimated_UnitID").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#LookUp_StockUnit");
        if ($dataGrid.length) {
            LookUp_StockUnit
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var Unit_name = item.Unit;
                $("#Job_Estimated_Unit").val(Unit_name);
            }
        }
    }
    function GetManpower_Types_ChangeEvent(e) {
        var dropDownBox = $("#Job_Manpower_skilltypeID").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#LookUp_Getskilltypes");
        if ($dataGrid.length) {
            LookUp_StockUnit
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDownBox.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                var SkillType = item.Skill_Type;
                $("#Job_Manpower_skilltype").val(SkillType);
            }
        }
    }

    function Estimated_Consumption_ChangeEvent(e) {
        var Consumption_value = $("#Job_Estimated_Consumption").dxNumberBox("instance").option("value");
        var Estimated_Rate_value = $("#Job_Estimated_Rate_per_Unit").dxNumberBox("instance").option("value");
        var Total_value = Consumption_value * Estimated_Rate_value;
        $("#Job_Est_Cost").dxNumberBox("instance").option("value", Total_value);
    }
    function Estimated_Rate_per_Unit_ChangeEvent(e) {
        var Consumption_value = $("#Job_Estimated_Consumption").dxNumberBox("instance").option("value");
        var Estimated_Rate_value = $("#Job_Estimated_Rate_per_Unit").dxNumberBox("instance").option("value");
        var Total_value = Consumption_value * Estimated_Rate_value;
        $("#Job_Est_Cost").dxNumberBox("instance").option("value", Total_value);
    }

    function Request_Manpower_Type_Click() {
        DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
    }
    function Job_Request_Unit_Click() {
        DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
    }
</script>
