@using DevExtreme.AspNet.Mvc;
<style>
    .dx-button-has-icon .dx-button-content {
        padding-right: 8px !important;
    }

    .dx-toolbar-after .dx-button-content {
        padding-right: 0px !important;
    }
</style>
<script>
    function ChangePeriod() {
        var Todate  = $("#JRRTodate").dxDateBox("instance").option("value");
        var FromDate = $("#JRRFromdate").dxDateBox("instance").option("value");
        var tomonth = Todate.getMonth() + 1;
        var frommonth = FromDate.getMonth() + 1;
        FromDate = FromDate.getDate() + "-" + frommonth  + "-" + FromDate.getFullYear();
        Todate = Todate.getDate() + "-" + tomonth + "-" + Todate.getFullYear();
        $("#JRRBE_View_Period").dxTextBox("instance").option("value", "Fr.:" + FromDate + " " + "To.:" + Todate)
        $.ajax({
            type: "GET",
            url: "/Stock/JobRequestRegister/Frm_Job_Request_Register",
            data: {
                FromDate: FromDate,
                ToDate: Todate,
                ChangeStatus:true
            },
            success: function (data) {
                JobRequestRegisterListGrid.Refresh();
                $("#Dynamic_Content_popup").dxPopup("hide");
            },
            error: function (e) {
            }
        });
    };
</script>
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}

<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .margTB2 {
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<form action="" class="edit_form">
    <div class="full-width-header-bg3">
        <div class="row">

            <div class="col-sm-12 pll">
                <h3 class="popuphead"><i class="far fa-edit"></i> Change Period</h3>
            </div>
        </div>

    </div><!--[row]-->

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-field" style="padding-bottom:7px;">
                <div class="container-fluid mb_height27">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label  text-red" for="Name">From:</label></div>
                        <div class="col-sm-9 col-md-9 col-lg-9 prm">
                            @(Html.DevExtreme().DateBox()
                                                                    .ID("JRRFromdate")
                                                                    .Name("JRRFromdate")
                                                                    .Type(DateBoxType.Date)
                                                                    .PickerType(DateBoxPickerType.Native)
                                                                    //.DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                                    .InvalidDateMessage("Value must be a Date!!")
                            )

                        </div>
                    </div>
                </div>
            </div>
        </div><!--[2]-->
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-field" style="padding-bottom:7px;">
                <div class="container-fluid mb_height27">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label  text-red" for="Name">To:</label></div>
                        <div class="col-sm-9 col-md-9 col-lg-9 prm">
                            @(Html.DevExtreme().DateBox()
                                                                                     .ID("JRRTodate")
                                                                                     .Name("JRRTodate")
                                                                                     .Type(DateBoxType.Date)
                                                                                     .PickerType(DateBoxPickerType.Native)
                                                                                     //.DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                                                     .InvalidDateMessage("Value must be a Date!!")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[3]-->
        <span id="lblerror" style="font-size:11px" class="text-red"></span>
    </div><!--[row]-->

    <div class="row">
        <div class="form-field wbg brd-bot-none">
            <div class="col-lg-6 col-xs-12"></div>
            <div class="col-lg-6 col-xs-12">
                <div class="action-btn-wrap">
                    @(Html.DevExtreme().Button()
                                                             .ID("JRRChangePeriodCancel")
                                                             .Text("Cancel")
                                                             .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")
                                                              .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                                             .FocusStateEnabled(true)
                                                             .TabIndex(7)
                                                             .OnClick(@<text>
                                                                function () {
                                                                $("#popup_changeperiod_Window").dxPopup("hide");
                                                                }
                                                            </text>)
                    )

                </div>

                <div class="action-btn-sec-wrap">
                    @(Html.DevExtreme().Button()
                                                            .ID("JRRChangePeriod")
                                                            .Text("Ok")
                                                            .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                                                            .ElementAttr("style", "float:right;margin-top:0px")
                                                            .FocusStateEnabled(true)
                                                            .TabIndex(6)
                                                            //.UseSubmitBehavior(true)
                                                            .OnClick(@<text>
                                                                function () {
                                                                ChangePeriod();
                                                                }
                                                            </text>)
                    )
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


</form>
@*<div id="content" class="col-md-12 report_header_div_main">
        <div class="col-md-4 report_header_div">
            <label class="report_header_label">Change Period</label>
        </div>
        <div class="row">

        </div>
    </div>
    <div class="col-md-1 row">
        <span><span class=""> From Date : </span> @(Html.DevExtreme().DateBox().ID("DateBoxFrom"))</span>
    </div>
    <div class="col-md-2 row">
        <span><span class=""> To Date : </span> @(Html.DevExtreme().DateBox().ID("DateBoxTo"))</span>

    </div>
    <div class="col-md-12 row">
        @(Html.DevExtreme().Button().ID("ChangePeriodButton").Text("Submit").OnClick(@<text>
                function(){ ChangePeriod();}
        </text>))
    </div>*@
