@model ConnectOneMVC.Areas.Stock.Models.Model_NEVD_JobRequest
@using DevExtreme.AspNet.Mvc;
@{
    bool IsVisible = (Model != null && Model.ActionMethod == "Delete") ? true : false;
    bool IsDisabled = Model != null && (Model.ActionMethod == "View" || Model.ActionMethod == "Delete") ? true : false;
}
<fieldset id="jobmanestgrid">
    <div class="row">
        <div class="col-md-12">
            @Html.Action("InnerGrid_ManPowerEstimationGrid", "JobRequestRegister", new { ActionMethodName = Model.ActionMethod, JobID = Model.Job_Id })@*//Mantis bug 0000360 fixed*@
        </div>
    </div>
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-md-12">
                        @(Html.DevExtreme().Button().ID("Job_BUT_EstiNew").Text("New").Icon("fas fa-file btn-icons newfile icon-rgt-space5").Disabled(IsDisabled).OnClick(@<text> function () { OnFrm_Job_Estimation_New_Click() } </text>))
                        @(Html.DevExtreme().Button().ID("Job_BUT_EstiEdit").Text("Edit").Icon("fas fa-pencil-alt btn-icons editcolor icon-rgt-space5").Disabled(IsDisabled).OnClick(@<text> function () { OnFrm_Job_Estimation_Edit_Click() } </text>))
                        @(Html.DevExtreme().Button().ID("Job_BUT_EstiDelete").Text("Delete").Icon("fas fa-trash btn-icons deletecolor icon-rgt-space5").Disabled(IsDisabled).OnClick(@<text> function () { OnFrm_Job_Estimation_Delete_Click() } </text>))
                        @(Html.DevExtreme().Button().ID("Job_BUT_EstiView").Text("View").Icon("fas fa-eye btn-icons eyeicon icon-rgt-space5").Disabled(IsVisible).OnClick(@<text> function () { OnFrm_Job_Estimation_View_Click() } </text>))
                </div>
            </div>
        </div>
    </div>
    </fieldset>
    <script>

    var ManEstRec_Id;
    var ManEstSr;
        function OnManpowerEstimationGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'REC_ID;Sr', OnManpowerEstimationGridRowValues);
    }
    function OnManpowerEstimationGridRowValues(values) {
        ManEstRec_Id = values[0];
        ManEstSr = values[1];
    }
    $("#ManPower_Estimation_Grid").keydown(function (evt) {
        switch (evt.keyCode) {
            case 45: // insert key
                OnFrm_Job_Estimation_New_Click();
                break;
            case 13: //enter key
                OnFrm_Job_Estimation_Edit_Click();
                break;
            case 32: //space bar
                OnFrm_Job_Estimation_View_Click();
                break;
            case 46://delete key
                OnFrm_Job_Estimation_Delete_Click();
                break;
        }
        if (evt.ctrlKey && evt.keyCode == 73)//ctrl+i
        {
            OnFrm_Job_Estimation_New_Click();
        }
        if (evt.ctrlKey && evt.keyCode == 69)//ctrl+e
        {
            OnFrm_Job_Estimation_Edit_Click();
        }
        if (evt.ctrlKey && evt.keyCode == 86)//ctrl+v
        {
            OnFrm_Job_Estimation_View_Click();
        }
    });
    function OnFrm_Job_Estimation_New_Click()
    {
        if ("@IsDisabled" == "true") { return; }

              ShowLoader();
      
            OpenPopup("Jobinnergrid", "New ~ Manpower Estimation", "@Url.Action("Frm_Add_Manpower_Estimate", "JobRequestRegister", new {@area= "Stock" })?ActionMethod=New", "auto", 900, false, null);
           
    }
    function OnFrm_Job_Estimation_Edit_Click() {if ("@IsDisabled"=="true") { return; }
        if (!ManEstSr) {
            DevExpress.ui.dialog.alert("Please Select Row", "Error");
            return;
        }
        ShowLoader(); 
        OpenPopup("Jobinnergrid", "Edit ~ Manpower Estimation", "@Url.Action("Frm_Add_Manpower_Estimate", "JobRequestRegister", new {@area= "Stock" })?ActionMethod=Edit&SR=" + encodeURIComponent(ManEstSr), "auto", 900, false, null);
    }

        function OnFrm_Job_Estimation_View_Click() {
            if (!ManEstSr) {
                DevExpress.ui.dialog.alert("Please Select Row", "Error");
                return;
            }
                    ShowLoader(); 
        OpenPopup("Jobinnergrid", "View ~ Manpower Estimation", "@Url.Action("Frm_Add_Manpower_Estimate", "JobRequestRegister", new {@area= "Stock" })?ActionMethod=View&SR=" + encodeURIComponent(ManEstSr), "auto", 900, false, null);
        };

        function OnFrm_Job_Estimation_Delete_Click() {if ("@IsDisabled"=="true") { return; }
          if (!ManEstSr) {
                DevExpress.ui.dialog.alert("Please Select Row", "Error");
                return;
            }
            var EstimationDetails = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Confirm changes");
            EstimationDetails.done(function (dialogResult) {

                if (dialogResult) {
                    $.ajax({
                        type: 'GET',
                        url: "/Stock/JobRequestRegister/Frm_ManpowerEstimation_Window_Delete_Grid_Record",
                        data: { ActionMethod: "Delete", SrID: ManEstSr, Rec_Id: ManEstRec_Id },
                        cache: false,
                        success: function (result) {
                            ManPower_Estimation_Grid.SetFocusedRowIndex(-1);
                            ManPower_Estimation_Grid.Refresh();
                        }
                    });
                }
            });

        };
    function Frm_Manpower_Estimation_OnSuccess(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else {

            $("#Jobinnergrid").dxPopup("hide");
            ManPower_Estimation_Grid.SetFocusedRowIndex(-1);
            ManPower_Estimation_Grid.Refresh();
        }
    }
    </script>
