@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.Model_Job_QuickJob
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();

    bool Job_ProjectScreenNewright=(bool) ViewData["Job_ProjectScreenNewright"];
}
<style>
    .wdfull {
        width: 100%;
    }

    .nav-tabs > li > a.active, .nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    td {
        width: auto;
    }

    .width1200px {
        width: 1200px;
    }

    .margT12 {
        margin-top: 12px !important;
    }

    .fs22 {
        font-size: 22px !important;
    }

    .dx-state-disabled .dx-texteditor-input {
        color: darkgoldenrod;
    }

    .dx-texteditor-container {
        overflow: visible
    }

    #Quick_JOB_ADD_PROJECT > div, #Quick_Id_Add_Complecx > div {
        padding: 2px 3px !important;
        margin: 0 !important;
    }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>

<div action="id_JobQAJ" class="edit_form">
    @using (Ajax.BeginForm("Frm_NEVD_Job_Request_Quick", "JobRequestRegister",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "Frm_NEVD_Job_Request_Quick",
                InsertionMode = InsertionMode.InsertAfter,
                OnBegin = "AjaxBeginFormPost",
                OnSuccess = String.Format("{0}", Model.Quick_PostSuccessFunction)
            },
             new
             {
                 id = "quickJobvalidationForm",
                 @class = "edit_form"
             }))
    {
        @Html.HiddenFor(x=>x.Quick_CallingScreen)
        @Html.HiddenFor(x=>x.Quick_PostSuccessFunction)
        @Html.HiddenFor(x=>x.Quick_popupID)
        @Html.HiddenFor(x=>x.Job_QJ_Assignee_Sub_Dept_ID)//Mantis bug 0000374 fixed

        using (Html.DevExtreme().ValidationGroup())
        {
            <!-- <div class="full-width-header-bg2">
                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="popuphead"><i class="far fa-edit"></i> Job Request</h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align">
                            <i class="fas fa-info-circle"></i> Red Fields are mandatory
                        </h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>  [Header]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Job Name:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Quick_Job_Name").Name("Quick_Job_Name").Placeholder("Job Name").Value(Model.Quick_Job_Name).MaxLength(255)
                                                                                                      .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                                @Html.ValidationMessageFor(model => model.Quick_Job_Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Job Name]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Job Request Date:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Quick_Job_RequestDate").Name("Quick_Job_RequestDate").Value(Model.Quick_Job_RequestDate).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Select Date")
                                                                                                      .InvalidDateMessage("Value must be a Date!!"))
                                                @Html.ValidationMessageFor(model => model.Quick_Job_RequestDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Job Request Date]-->
                </div>
            </div><!--[row 1]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Job No:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Quick_Job_No").Name("Quick_Job_No").Placeholder("System Auto Generated").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Value(Model.Quick_Job_No.ToString()))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Job No]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Job Type:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">

                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Quick_Job_Type").Name("Quick_Job_Type").DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Get_JobType_List").Key("Job_Type_ID")).ValueExpr("Job_Type_ID").DisplayExpr("Job_Type").OnValueChanged("quick_OnJobTypeChange")
                                                                                                     .Placeholder("Job Type").Value(Model.Quick_Job_Type).OnInitialized("quick_OnJobTypeInit")
                                        )@*Mantis bug 0000860 fixed*@
                                        @Html.ValidationMessageFor(model => model.Quick_Job_Type, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Job Type]-->
                </div>
            </div><!--[row 2]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Project Name:</label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm ">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Quick_Job_ProjectId").Name("Quick_Job_ProjectId").Value(Model.Quick_Job_ProjectId).Placeholder("Project Name").DataSource(d => d.Mvc().Controller("JobRequestRegister")
                                                                              .LoadAction("Get_Project_Name_List_QJ").Key("Project_Id")).ValueExpr("Project_Id").DisplayExpr("Project_Name").OnInitialized("quick_On_Project_Initialization")
                                                                              .OnValueChanged("quick_On_Project_Value_Changed").ContentTemplate(@<text> @Html.Partial("Get_Project_Name_List_QJ") </text>).DeferRendering(false)
.ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }) )@*Mantis bug 0000592 fixed*@



                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm pll4">
                                        @(Html.DevExtreme().Button().ID("Quick_JOB_ADD_PROJECT").Text("Add Project").OnClick(@<text>function() { quick_job_add_New_Project(); }</text>).Disabled(false))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Project Name]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Complex Name:</label></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Quick_Job_ComplexId").Name("Quick_Job_ComplexId").Placeholder("Complex Name").DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Complexes_GetList").Key("ID"))
                                                                                              .Value(Model.Quick_Job_ComplexId).ValueExpr("ID").DisplayExpr("Complex_Name").OnValueChanged("quick_On_Complex_Value_Changed").DeferRendering(false).OnInitialized("quick_On_Initialize_Complex").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } })
                                                                                              .ContentTemplate(@<text> @Html.Partial("Get_Complexes_List - QJ") </text>).ReadOnly(false))@*//Mantis bug 0000592 fixed*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 prm pll4">
                                        @(Html.DevExtreme().Button().ID("Quick_Id_Add_Complecx").Text("Add Complex").OnClick(@<text> function(){ quick_job_add_Complex();}</text>).Disabled(false))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[Complex]-->
                </div>
            </div><!--[row 3]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Assignee's Main Dept:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm ">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Quick_Job_AssigneeMainDeptID").Name("Quick_Job_AssigneeMainDeptID").Placeholder("Assignee's Main Department").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Get_Stock_Assigns_MainDept_QJ").Key("ID"))
                                                                                              .ValueExpr("ID").DisplayExpr("Name").Value(Model.Quick_Job_AssigneeMainDeptID).OnValueChanged("quick_On_Assigns_MainDept_Value_Changed").DeferRendering(false).OnInitialized("quick_OnInitialized_OnAssignee_Main_Dept").ContentTemplate(@<text> @Html.Partial("Get_Stock_Assigns_MainDept_QJ") </text>).ReadOnly(false))@*//Mantis bug 0000397 fixed*@
                                                @Html.ValidationMessageFor(model => model.Quick_Job_AssigneeMainDeptID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--[Assignee Main Dept]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Assignee's Sub Dept:</label></div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                        <div class="dx-texteditor  dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Quick_Job_AssigneeSubDeptID").Name("Quick_Job_AssigneeSubDeptID").Placeholder("Assignee's Sub-Department:").DataSource(d => d.Mvc().Controller("JobRequestRegister").LoadAction("Get_Stock_Assign_SubDept_QJ").Key("ID").LoadParams(new { AssigMainDeptID = new JS("function (){return quick_Job_AssigMainDeptID;}") }))
                                                                                              .Value(Model.Quick_Job_AssigneeSubDeptID).ValueExpr("ID").DisplayExpr("Name").DeferRendering(false).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).OnInitialized("quick_On_Initialize_Assignee_Sub_Dept").ReadOnly(true).OnValueChanged("quick_On_Assign_Value_Changed").ContentTemplate(@<text> @Html.Partial("Get_Stock_Assign_SubDept_QJ") </text>))@*//Mantis bug 0000592 fixed*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--[Assignee Sub Dept]-->
                </div>
            </div> <!--[row 4]-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label text-red" for="user">Job Description:</label></div>
                                <div class="col-sm-10 col-md-10 col-lg-10 prm ">
                                    <div class="dx-texteditor  dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Quick_Job_Description").Name("Quick_Job_Description").MaxLength(8000).Placeholder("Job Description").Value(Model.Quick_Job_Description).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            @Html.ValidationMessageFor(model => model.Quick_Job_Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Description]-->


            <fieldset class="default-fieldset marginOnActBtns">
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <div class="container-fluid">
                                @(Html.DevExtreme().Button().ID("ID_Swicth_To_Full_Job").Text("Switch to Full Job")
                                                                           .OnClick(@<text>
                                                                            function() { switch_To_Full_Job();}
                                                                        </text>))
                            </div>
                        </div>
                    </div>
                    <div class="btn-align styleActionBtn">
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("ID_SaveQAJ").Text("Save").UseSubmitBehavior(true))
                        @(Html.DevExtreme().Button().CustomCloseButton().ID("Id_CloseQAJ").Text("Close").OnClick(@<text> function(){ close_quickjob(); } </text>))
                    </div>
                </div>

            </fieldset><!--[row]-->
        }
    }
</div>
<script>
    var quick_Job_AssigMainDeptID;

    $(document).ready(function ()
    {
        var Job_ProjectScreenNewright = "@Job_ProjectScreenNewright" == "True" ? true : false;
        if (Job_ProjectScreenNewright != true)
        {
            $("#Quick_JOB_ADD_PROJECT").hide();
        }

        var form = "quickJobvalidationForm";
        ShowLoader();
        AssignIDtoLabel(form, "jobQuick");
        if ("@Model.Quick_CallingScreen".Length > 0) {
           
            $("#Quick_Job_ProjectId").dxDropDownBox("instance").option('readOnly', true);
            $("#Quick_Job_ComplexId").dxDropDownBox("instance").option('readOnly', true);
            $("#Quick_Job_AssigneeSubDeptID").dxDropDownBox("instance").option('readOnly', true);
            $("#Quick_JOB_ADD_PROJECT").dxButton('instance').option('disabled', true);
            $("#Quick_Id_Add_Complecx").dxButton('instance').option('disabled', true);
            $("#Quick_Job_ProjectId").dxDropDownBox("instance").option("value", parseInt("@Model.Quick_Job_ProjectId"))            
        }
        @*//if ("@Model.Quick_Job_ProjectId".length > 0) $("#Quick_Job_ProjectId").dxDropDownBox("instance").option("value", parseInt("@Model.Quick_Job_ProjectId"));//Mantis bug 0000466 fixed*@

        setTimeout(function ()
        {           
            Focus_FirstEditable_Field(form);
            HideLoader();
        }, Timeout100);
    });
 function quick_OnJobTypeChange(e)
    {
     var Drop_Down = $("#Quick_Job_Type").dxSelectBox("instance");//Mantis bug 0000860 fixed
        if (Drop_Down != undefined && Drop_Down != "undefined")
        {
            Drop_Down.close();
        }
    }
    function quick_OnJobTypeInit(e)
    {
            e.component.option("dataSource").store.load().done(function (d) {
             if (d.length > 0)
             {
                        for (var i = 0; i < d.length; i++)
                        {
                            if (d[i].Job_Type == "New Construction")
                            {
                                e.component.option("value", d[i].Job_Type_ID);
                            }
                        }
                    }
            });
    }   // Job_Type_init

    function quick_On_Project_Initialization(e)
    {

        e.component.option("dataSource").store.load().done(function (d) {
            if (d.length > 0)
            {
                @*e.component.option("value", "@Model.Quick_Job_ProjectId");*@//Mantis bug 0000466 fixed
            }
        });
    }
    function quick_On_Project_Value_Changed(e)
    {
     
        var Drop_Down = $("#Quick_Job_ProjectId").dxDropDownBox("instance");
        Drop_Down.close();
        if (e.previousValue != null && e.previousValue != e.value) {
            $("#Quick_Job_ComplexId").dxDropDownBox("instance").reset();

        }
        var $dataGrid = $("#GetProjectName_JRGrid_QJ");//Mantis bug 0000592 fixed
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(Drop_Down.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                $("#Quick_Job_ComplexId").dxDropDownBox("instance").option("value", item.Complex_Id);
                $("#Quick_Job_ComplexId").dxDropDownBox("instance").option("readOnly", true);

            }
        }
    }
    function quick_On_Initialize_Complex(e)
    {

    }
    function quick_On_Complex_Value_Changed(e) {
        var dropDown = $("#Quick_Job_ComplexId").dxDropDownBox("instance");
        dropDown.close();
    }
    function quick_OnInitialized_OnAssignee_Main_Dept(e)
    {        
        quick_Job_AssigMainDeptID = "@Model.Quick_Job_AssigneeMainDeptID";
        e.component.option("dataSource").store.load().done(function (d) {
            if (d.length > 0)
            {
                for (var i = 0; i < d.length; i++)
                {
                    if (d[i].Name == "Construction")
                    {
                        var $dataGrid = $("#GetStockAssignMainDept_Grid-QJ");
                        if ($dataGrid.length) {
                            var dataGrid = $dataGrid.dxDataGrid("instance");
                            dataGrid.selectRows(d[i].ID, true);
                        }
                        break;
                    }
                }//Mantis bug 0000397 fixed
                @*e.component.option("value", "@Model.Quick_Job_AssigneeMainDeptID");*@
            }
        });
    }
    function quick_On_Assigns_MainDept_Value_Changed(e) {

        var dropDown = $("#Quick_Job_AssigneeMainDeptID").dxDropDownBox("instance");
        dropDown.close();
        if (e.previousValue != null && e.previousValue != e.value) {
            $("#Quick_Job_AssigneeSubDeptID").dxDropDownBox("instance").reset();
        }
        var $dataGrid = $("#GetStockAssignMainDept_Grid-QJ");//Mantis bug 0000397 fixed
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDown.option("value"), false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                quick_Job_AssigMainDeptID = item.ID;

                $("#Quick_Job_AssigneeSubDeptID").dxDropDownBox("instance").option("readOnly", false);
                $("#GetStockAssignSubDept_JRGrid_QJ").dxDataGrid("getDataSource").reload().done(function (d) {
                    if (d.length > 0) {
                        var datagrid = $("#GetStockAssignSubDept_JRGrid_QJ").dxDataGrid("instance");
                            var count = datagrid.totalCount();
                        if (count == 1) {
                                datagrid.selectRowsByIndexes(0);
                        }
                    }
                });//Mantis bug 0000592 fixed
            }
        }
    }
    function quick_On_Initialize_Assignee_Sub_Dept(e)
    {
        e.component.option("dataSource").store.load().done(function (d)
        {            
            if (d.length > 0)
            {
                    e.component.option("value", "@Model.Quick_Job_AssigneeSubDeptID");
            }
        });
    }//Mantis bug 0000397 fixed
    function quick_On_Assign_Value_Changed(e)
    {
        var dropDown = $("#Quick_Job_AssigneeSubDeptID").dxDropDownBox("instance");
        dropDown.close();

        $("#Job_QJ_Assignee_Sub_Dept_ID").val(e.value);//Mantis bug 0000374 fixed

        var $dataGrid = $("#GetStockAssignSubDept_JRGrid_QJ");//Mantis bug 0000592 fixed
        if ($dataGrid.length)
        {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(dropDown.option("value"), false);
            if (e.value == null) {
                dataGrid.clearSelection();
            }
            if (dataGrid.getSelectedRowsData().length > 0)
            {
                var item = dataGrid.getSelectedRowsData()[0];
            }
        }
    }
    function quick_job_add_New_Project() {
        if (!Job_ProjectScreenNewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        $("#NPR_Content_popup").dxPopup("instance").option("contentTemplate", "<div id='result_Dynamic_Content_popupJPRFromJob'></div>")
        $("#NPR_Content_popup").dxPopup("show");
        $("#NPR_Content_popup").dxPopup("instance").option("title", "New ~ Project Request");
        $("#NPR_Content_popup").dxPopup("instance").option("width", "80%");
        $("#NPR_Content_popup").dxPopup("instance").option("height", "90%");
        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/Stock/ProjectScreen/Frm_Project_NEVD",
            data: {
                ActionMethod: "New",
                rEC_ID: "0",
                projectNae: "",
                ComplexName: "",
                SanctionNo: "",
                PrjType: "",
                RequestDate: "",
                ReqMainDept: "",
                ReqSubDept: "",
                AssigneeMainDept: "",
                assigneeSubDept: "",
                PrjStatus: "",
                EstimatedCost: "",
                ActCost: "",
                EstimationDate: "",
                SanctionDate: "",
                StartDate: "",
                FinishDate: "",
                Project_Engineer: "",
                Project_Estimator: "",
                Project_Summary: "",
                Project_Your_Remarks: "",
                //Existingrecord = Remarks_Id
                 PostSuccessFunction: "Job_AddProject_Success",
                PopUpID: "NPR_Content_popup",
                buttonID: "Quick_JOB_ADD_PROJECT"
            },
            success: function (data) {
                $("#result_Dynamic_Content_popupJPRFromJob").html(data);
                HideLoader();
            },
            error: function (e) {
                HideLoader();
            }
        });
    } //mantis bug 703 fixed
    function Job_AddProject_Success(data) {
        HideLoader();
        if (data.result == true) {
            $("#NPR_Content_popup").dxPopup("hide");
            $("#GetProjectName_JRGrid_QJ").dxDataGrid("instance").refresh();
        }
        else {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
    }
    function quick_job_add_Complex() {
        DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
    }
    function switch_To_Full_Job()
    {
        $("#quickJobvalidationForm").remove();//Mantis bug 0000860 fixed
        var popupid = "#" + "@Model.Quick_popupID";
        $(popupid).dxPopup("hide");
             if ("@Model.Quick_CallingScreen" == "Project")
             {            
                 ShowLoader();
                 $.ajax({
                     type: "GET",
                     url: "/Stock/JobRequestRegister/Frm_NEVD_Job_Request",
                     data:
                     {
                         ActionMethod: "New", PostSuccessFunction: "project_QuickJob_Success", PopupID: "popup_frm_addJob", CallingScreen: "Project", projectID: PR_REC_ID
                     },
                     success: function (data)
                     {
                         OpenPopup("popup_frm_addJob", "New ~ Job Request Register", null, "auto", "90%", true, data);                 
                     }
                 });
             }
             else
             {
                 ShowLoader();       
                 OpenDynamicPopup("New ~ Job Request Register","@Url.Action("Frm_NEVD_Job_Request", "JobRequestRegister", new { @area = "Stock" })?ActionMethod=New", "auto", "90%", false, null);    
             }
    }
    function close_quickjob()
    {
        var popupid = "#" + "@Model.Quick_popupID";

        $(popupid).dxPopup("hide");
    }
</script>