<div class="BalanceSheet_Export_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    <div>
        @(Html.DevExtreme().Button()
                .ID("BS_ExportGridDatapdf")
                .Text("Export to PDF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("x")
                .OnClick("ExportPDF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("BS_ExportGridDataxls")
                .Text("Export to XLS")
                //.Icon("fa-file-excel-o")
                //.AccessKey("X")
                .OnClick("ExportXLS")
                .Visible(true)
                .Width(120)
    )<br />
        @(Html.DevExtreme().Button()
                .ID("BS_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("L")
                .OnClick("ExportXLSX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("BS_ExportGridDatadocx")
                .Text("Export to DOCX")
                //.Icon("export_exporttodocx_16x16office2013")
                //.AccessKey("D")
                .OnClick("ExportDOCX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("BS_ExportGridDatartf")
                .Text("Export to RTF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("R")
                .OnClick("ExportRTF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("BS_ExportGridDatacsv")
                .Text("Export to CSV")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("C")
                .OnClick("ExportCSV")
                .Visible(true)
                .Width(120)
    )<br />

        @*@Html.DevExpress().RadioButtonList(
            settings =>
            {
                settings.Name = "radioButtonList1";
                settings.Properties.ValueField = "ID";
                settings.Properties.TextField = "Name";
                settings.Properties.RepeatLayout = Model.RepeatLayout;
                settings.Properties.RepeatDirection = Model.RepeatDirection;
                settings.Properties.RepeatColumns = Model.RepeatColumns;

                settings.Properties.Items.Add("Yes, this time only");
                settings.Properties.Items.Add("No, not this time");
                settings.Properties.Items.Add("Yes, always");
                settings.Properties.Items.Add("No, never");
            })*@
    </div>
    <script>
        function ExportPDF() {
            BalanceSheetReportListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#BalanceSheetReport_report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            BalanceSheetReportListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#BalanceSheetReport_report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            BalanceSheetReportListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#BalanceSheetReport_report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            BalanceSheetReportListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#BalanceSheetReport_report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            BalanceSheetReportListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#BalanceSheetReport_report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            BalanceSheetReportListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#BalanceSheetReport_report_modal").dxPopup("hide");
        }
    </script>
</div>