@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Profile.Models.DownLoadBankStatements
@{
    Layout = "";
}

<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<style>
    @@media (max-width:620px) {

        img {
            height: auto;
            width: 100%
        }

        table {
            table-layout: fixed !important;
            word-break: break-all;
            margin: 0 !important;
        }
    }
</style>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

    <!-- START HEADER/BANNER -->

    <tbody>
        <!-- START CONTENT 1 -->
        <tr>
            <td align="center">
                <table border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; width:100%; max-width: 600px">
                    <tbody>
                        <tr>
                            <td height="25"></td>
                        </tr>

                        <tr>
                            <td align="center" style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#2a3a4b;">Bank Statement Download Report</td>
                        </tr>

                        <tr>
                            <td height="20"></td>
                        </tr>


                        <tr>
                            <td align="center" style="font-family: 'Lato', sans-serif; font-size:14px; color:#34495E; line-height:24px; font-weight: 300; padding: 0 20px 20px">
                                <table style="border-color:#34495E; line-height:16px; text-align:left; font-size:13px; width: 100%; margin-bottom: 20px" cellspacing="0" cellpadding="3" border="1">
                                    <thead>
                                        <tr style="background: #34495E; color: #fff; font-size: 12px; padding: 8px 10px 5px; height: 30px; text-align: center; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; line-height: 20px;">
                                            <td colspan="7">
                                                Run On - @Model.RunOn 
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Bank Account</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Status</th>
                                            <th>Remark</th>
                                            <th>Bank Short</th>
                                            <th>Type</th>
                                        </tr>
                                        @for (int i = 0; i < Model.Status.Count; i++)
                                        {
                                    <tr>
                                        <td>@Model.Status[i].Bank_Account</td>
                                        <td>@Model.Status[i].From</td>
                                        <td>@Model.Status[i].To</td>
                                        @if (string.IsNullOrWhiteSpace(Model.Status[i].Status) == false)
                                        {
                                            if (Model.Status[i].Status == "Failed")
                                            {
                                                <td style="color:red">@Model.Status[i].Status</td>
                                            }
                                            else if (Model.Status[i].Status == "Skipped")
                                            {
                                                <td style="color:lightgoldenrodyellow">@Model.Status[i].Status</td>
                                            }
                                            else
                                            {
                                                <td style="color:green">@Model.Status[i].Status</td>
                                            }
                                        }
                                        else
                                        {
                                            <td>@Model.Status[i].Status</td>
                                        }
                                        <td>@Model.Status[i].Remarks</td>
                                        <td>@Model.Status[i].BankShort</td>
                                        <td>@Model.Status[i].Type</td>
                                    </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>



        <!-- END CONTENT 1 -->

    </tbody>
</table>
