<div class="ChangeCentre_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model System.Data.DataTable
    @{
        var xIns_ID = ViewBag.xIns_ID;
        var xINS_NAME = ViewBag.xINS_NAME;
        var xINS_SHORT = ViewBag.xINS_SHORT;
        var OpenUserType = ViewBag.OpenUserType;
        var PopupID = ViewBag.PopupID;
    }
    <style>
        .tickblue {
            color: #0072C6 !important;
        }

        .dx-button {
            color: #111;
            border-color: #9fcdfc;
            background: #fbfdff;
            background: -moz-linear-gradient(top, #fbfdff 0%, #9fcdfc 64%, #ceefff 100%);
            background: -webkit-linear-gradient(top, #fbfdff 0%,#9fcdfc 64%,#ceefff 100%);
            background: linear-gradient(to bottom, #fbfdff 0%,#9fcdfc 64%,#ceefff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdff', endColorstr='#ceefff',GradientType=0 );
        }

            .dx-button:hover, .dx-button:focus {
                color: #000000;
                border-color: #ffae49;
                background: #ffe6ca;
                background: -moz-linear-gradient(top, #ffe6ca 0%, #ffd08e 64%, #ffae49 100%);
                background: -webkit-linear-gradient(top, #ffe6ca 0%,#ffd08e 64%,#ffae49 100%);
                background: linear-gradient(to bottom, #ffe6ca 0%,#ffd08e 64%,#ffae49 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe6ca', endColorstr='#ffae49',GradientType=0 );
            }

        .dx-popup-title .dx-closebutton .dx-icon {
            color: #ffffff;
            background-color: #ff5555;
        }

        .form-field {
            box-shadow: 1px 1px 0 0px #89b9eb inset, 1px 1px 0 0px #89b9eb;
            background: #dfebf8;
            background: -webkit-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: -o-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: -moz-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        }

            .form-field:hover {
                background: #ffffff;
                background: -webkit-linear-gradient(to bottom, #dfebf8 0%, #ffffff 100%);
                background: -o-linear-gradient(to bottom, #dfebf8 0%, #ffffff 100%);
                background: -moz-linear-gradient(to bottom, #dfebf8 0%, #ffffff 100%);
                background: linear-gradient(to bottom, #dfebf8 0%, #ffffff 100%);
            }
    </style>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <div id="ChangeCenter_ParentDiv">
        <div class="full-width-header-bg">
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="popuphead  pll pll4 pll4 pll4"><i class="far fa-edit"></i> Select Center</h3>
                </div>
            </div>
        </div><!--[Header]-->
        <div id="SelectCenter_reloadPartialView" class="parent_table">
            <form>
                @Html.Partial("Frm_COD_Selection_Auditor_Grid", Model)
            </form>
        </div>
        <div class="row" id="lblSearch_DIV">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row" style="padding-left:6px;padding-right:3px">
                        @* Redmine Bug #133689 *@
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label>Center Certificate No. / Name:</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6" style="padding-top:2px">
                        @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("TxtCenter_SelectCenter").Name("TxtCenter_SelectCenter").OnEnterKey("TxtCenter_OnEnterKey").FocusStateEnabled(true).Height("auto"))
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                        @(Html.DevExtreme().Button().ID("SelectCenter_Search").Text("Search").Hint("Search").UseSubmitBehavior(false).OnClick("TxtCenter_OnEnterKey").FocusStateEnabled(true) )
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <label style="color:#800000;padding-left:6px;padding-top:3px">@ViewBag.lbl_Instt_ID</label>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="styleActionBtn" style="padding-bottom:3px">
                        @* Redmine Bug #133583 fix *@
                    @(Html.DevExtreme().Button().CustomSaveButton().ID("SelectCenter_Save").Text("OK").UseSubmitBehavior(false).OnClick("SlectCenter_okClick").FocusStateEnabled(true) )
                    @(Html.DevExtreme().Button().CustomCloseButton().ID("SelectCenter_Cancel").Text("Cancel").OnClick("CloseChangeCenter").FocusStateEnabled(true) )
                </div>
            </div>
        </div>
    </div>
</div><!--[Buttons]-->
</div>
<div id="Loader_CC">
</div>
<script>
    var PopupID = "@PopupID";
    //$(function ()
    //{
    //    $("#" + PopupID).dxPopup({
    //        onHiding: function (e)
    //        {
    //            $("#Loader_CC").remove();
    //            $("#ChangeCenter_ParentDiv").remove();
    //        }
    //    });
    //});
    function CloseChangeCenter()
    {
        if (PopupID.length == 0)
        {
            var popupid = "#" + "popup_frm_COD_Selection_Auditor";
            $(popupid).dxPopup("hide");
        }
        else
        {
            var popupid = "#" + PopupID;
            $(popupid).dxPopup("hide");
        }
    }
    function ShowLoader_CC()
    {
        $("#Loader_CC").dxLoadPanel({
                message: 'Loading...',
                closeOnOutsideClick: false,
                showPane: false,
                shading: true,
                height: "inherit",
                width: "inherit",
                shadingColor: "",
                deferRendering: false,
                visible: false
            });

        if ($("#Loader_CC").dxLoadPanel("instance").option("visible"))
        {
            $("#Loader_CC").dxLoadPanel("instance").option("visible", false);
        }
        $("#Loader_CC").dxLoadPanel("instance").option("visible", true);
    }
    function HideLoader_CC()
    {
        if ($("#Loader_CC").dxLoadPanel("instance").option("visible"))
        {
            $("#Loader_CC").dxLoadPanel("instance").option("visible", false);
        }
    }
    var CEN_UID=null;
    var CEN_ID;
    var CEN_NAME;
    var COD_YEAR_ID;
    var COD_YEAR_NAME;
    var COD_YEAR_SDT;
    var COD_YEAR_EDT;
    var REC_ID;
    var CEN_ID_MAIN;
    var CEN_PAD_NO_MAIN;
    var CEN_PAD_NO;
    var CEN_ZONE_ID;
    var CEN_ZONE_SUB_ID;
    var CEN_ACC_TYPE_ID;
    var IS_VOLUME;
    var AuditStatus;
    var IsConfirmAuditStatus = false;
    var _messageBoxYesNoResult = new $.Deferred();
    var _SessionGUID;


    $(document).ready(function ()
    {
        TransformTextForDB_login();
        if ("@OpenUserType" != "SUPERUSER")
        {
            $("#lblSearch_DIV").hide();

        }
        setTimeout(function ()
        {
            if ("@OpenUserType" != "SUPERUSER")
            {
                $("#SelectCenter_Save").dxButton("instance").focus();
            }
            else
            {
                $("#TxtCenter_SelectCenter").find('input').focus();
            }
        }, 500);

        //sessionclearpath = "/Start/Login/SessionClear_SelectIns";
    });

    //$("#COD_Selection_Auditor_Grid").keydown(function (evt)
    //{
    //    switch (evt.keyCode)
    //    {
    //        case 13: // enter key
    //            SlectCenter_okClick();
    //            break;

    //    }
    //});
    function createGuid() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }
    function getQueryStringValue(key)
    {
        return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
    }
    function getParameterByName(name, url)
    {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    function Frm_COD_Selection_Auditor_Grid_init(s, e)
    {
        ASPxClientUtils.AttachEventToElement(s.GetMainElement(), "keydown", function (evt) 
        {
            switch (evt.keyCode) 
            {
                case 13: // enter key
                    evt.stopImmediatePropagation();
                    ASPxClientUtils.PreventEventAndBubble(evt);
                    SlectCenter_okClick();
                    break;
            }
        });
    }
    function Frm_COD_Selection_Auditor_Grid_OnGridFocusedRowChanged(s, e)
    {
        //s.GetRowValues(s.GetFocusedRowIndex(), 'CEN_UID;CEN_PAD_NO;COD_YEAR_ID;COD_YEAR_NAME;COD_YEAR_SDT;COD_YEAR_EDT;REC_ID;CEN_ID_MAIN;CEN_PAD_NO_MAIN;CEN_ZONE_ID;CEN_ZONE_SUB_ID;CEN_ACC_TYPE_ID;IS_VOLUME;CEN_NAME;CEN_ID;AuditStatus', Frm_COD_Selection_Auditor_Grid_Values);
    }
    async function Frm_COD_Selection_Auditor_Grid_Values(values)
    {
         CEN_ID= values[0];
         CEN_NAME = values[1];
        COD_YEAR_ID = values[2];
        COD_YEAR_NAME = values[3];
        COD_YEAR_SDT = values[4];
        COD_YEAR_EDT = values[5];
         CEN_UID = values[6];
         REC_ID= values[7];
         CEN_ID_MAIN= values[8];
         CEN_PAD_NO_MAIN= values[9];
        CEN_PAD_NO= values[10];
        CEN_ZONE_ID= values[11];
         CEN_ZONE_SUB_ID = values[12];
        CEN_ACC_TYPE_ID= values[13];
        IS_VOLUME = values[14];
        AuditStatus = values[15];      
        try { _SessionGUID = SessionGUID; }//If coming from Auditor Login Page
        catch (err) { }
        var IsToContinue = true;
        if (AuditStatus == "Returned") {
            var confirm = DevExpress.ui.dialog.confirm("Center is in 'Returned for Correction' status. Do you want to Resume Audit...?", "Confirm");
            await confirm.done(function (dialogResult) {
                if (dialogResult) {
                    if (CheckResumeAudit() == false) {
                        IsToContinue = false;
                    }
                    else
                    {
                        CEN_NAME = CEN_NAME.replace("(Returned)", "");    //Redmine Bug #133627 fixed
                    }
                }
                else {
                    if ("@OpenUserType" != "SUPERUSER") {
                        DevExpress.ui.dialog.alert("Sorry! Not allowed to Login Center without Resuming Audit....!", "Information..");
                        IsToContinue = false;
                    }
                }
            });
        }
        if (IsToContinue)
        {
            ShowLoader_CC();
            $.ajax({
                type: 'Get',
                url: "/Start/Login/ChangeCenter",
                data:
                {
                    CenID: CEN_ID,
                    CenName: CEN_NAME,
                    YearID: COD_YEAR_ID,
                    YearName: COD_YEAR_NAME,
                    YrStDate: (moment(COD_YEAR_SDT).format("DD/MM/YYYY HH:mm:ss")),
                    YrEndDate: (moment(COD_YEAR_EDT).format("DD/MM/YYYY HH:mm:ss")),
                    UID: CEN_UID,
                    CenRecID: REC_ID,
                    CenIDMain: CEN_ID_MAIN,
                    PadMain: CEN_PAD_NO_MAIN,
                    PADNo: CEN_PAD_NO,
                    ZoneID: CEN_ZONE_ID,
                    SubZoneID: CEN_ZONE_SUB_ID,
                    AccTypeID: CEN_ACC_TYPE_ID,
                    isVolume: IS_VOLUME,
                    XINS_NAME: "@xINS_NAME",
                    XINS_ID: "@xIns_ID",
                    xINS_SHORT: "@xINS_SHORT"
                },
                cache: false,
                success: function (data)
                {
                    //CloseChangeCenter();
                    if (data.result == true) {// Redmine Bug #133683 fixed
                        if (_SessionGUID == 'undefined' || _SessionGUID == undefined || _SessionGUID == '') {
                            _SessionGUID = getQueryStringValue("SessionGUID");
                        }
                        if (getParameterByName('SessionGUID', window.location.href) == _SessionGUID) {
                            window.location.reload();
                            ClearSessionStorage();
                        }
                        else {
                            window.name = createGuid();
                            window.location = "/Start/Home/Index?SessionGUID=" + _SessionGUID;
                        }
                    }
                    else
                    {
                        DevExpress.ui.dialog.alert(data.message, "Information..");
                    }
                    HideLoader_CC();
                }
            });
        }
    }
    function Frm_COD_Selection_Auditor_Grid_BeginCallBack(s, e)
    {
        e.customArgs["command"] = e.command;
        e.customArgs['xIns_ID'] = "@xIns_ID";
        e.customArgs['txtCenter'] = $('#TxtCenter_SelectCenter').dxTextBox('option', 'text');
        e.customArgs['SearchClick'] = CC_SearchClick;
    }
    function Frm_COD_Selection_Auditor_Grid_EndCallBack(s, e)
    {
        if (e.command == "REFRESH")
        {
            if (CC_SearchClick == true)//Redmine Bug #133743 fixed
            {
                if (s.cpTotalRowCount < 1)
                {
                    DevExpress.ui.dialog.alert("Data Not Found...!", "Select Center");
                }
            }
            CC_SearchClick = false;
            s.SetFocusedRowIndex(-1);
            s.SetFocusedRowIndex(0);
            s.Focus();
        }
    }

    function SlectCenter_okClick(e)
    {
        if (COD_Selection_Auditor_Grid.GetVisibleRowsOnPage() <= 0)
        {
            DevExpress.ui.dialog.alert("Select A Center", "Error!!");
            return;
        }
        if (COD_Selection_Auditor_Grid.GetFocusedRowIndex() < 0)
        {
            DevExpress.ui.dialog.alert("Select A Center", "Error!!");
            return;
        }
        COD_Selection_Auditor_Grid.GetRowValues(COD_Selection_Auditor_Grid.GetFocusedRowIndex(), 'CEN_ID;CEN_NAME;COD_YEAR_ID;COD_YEAR_NAME;COD_YEAR_SDT;COD_YEAR_EDT;CEN_UID;REC_ID;CEN_ID_MAIN;CEN_PAD_NO_MAIN;CEN_PAD_NO;CEN_ZONE_ID;CEN_ZONE_SUB_ID;CEN_ACC_TYPE_ID;IS_VOLUME;AuditStatus', Frm_COD_Selection_Auditor_Grid_Values);

    }


    var CC_SearchClick = false;
    function TxtCenter_OnEnterKey(e)
    {
        if (e.event)
        {
            e.event.stopImmediatePropagation();
        }
        CC_SearchClick = true;
        COD_Selection_Auditor_Grid.Refresh();
    }
    function CheckResumeAudit()
    {
        var result;
        $.ajax({
            type: 'Get',
            url: "/Start/Login/CheckResumeAudit",
            data: { CEN_ID: CEN_ID, COD_YEAR_ID: COD_YEAR_ID },
            cache: false,
            async: false,
            success: function (data)
            {
                result = data;
            }
        });
            return result;
    }



    function TransformTextForDB_login() {
        var GetTextBoxes = document.getElementsByClassName("CleanTextForDB");
        if (GetTextBoxes.length > 0) {
            for (var i = 0; i < GetTextBoxes.length; i++) {
                //if (isMobile == false)
                //{
                //    GetTextBoxes[i].onkeypress = function (evt)
                //    {
                //        CleanTextForDB(evt);
                //    };
                //}
                //else
                //{
                GetTextBoxes[i].onkeyup = function (evt) {
                    CleanTextForDB(evt);
                };
                //}
            }
        }
    }
    function transformTypedChar(charStr) {
        if (charStr == "'") {
            charStr = "`";
        }
        else if (charStr == "[") {
            charStr = "(";
        }
        else if (charStr == "]") {
            charStr = ")";
        }
        else if (charStr == "!") {
            charStr = "|";
        }
        return charStr;
    }
    function CleanTextForDB(evt) {
        //if (isMobile == false) {
        //    if (evt.which) {
        //        var charStr = String.fromCharCode(evt.which);
        //        var transformedChar = transformTypedChar(charStr);
        //        if (transformedChar != charStr) {
        //            var start = evt.target.selectionStart;
        //            var end = evt.target.selectionEnd;
        //            var oldValue = evt.target.value;
        //            // replace point and change input value
        //            var newValue = oldValue.slice(0, start) + transformedChar + oldValue.slice(end);
        //            evt.target.value = newValue;
        //            // replace cursor
        //            evt.target.selectionStart = evt.target.selectionEnd = start + 1;
        //            evt.preventDefault();
        //        }
        //    }
        //}
        //else
        //{
        evt.target.value = evt.target.value.replace(/'|!|\[|\]/gi, function (x) {
            return transformTypedChar(x);
        });
        //}
    }
</script>
</div>
