@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Profile.Models.SelectedCenterDetails
<script>
    function SetIcon() {
        console.log('set icon');
        console.log($('[data-icon]'));
        $('[data-icon]').each(function () {
            var cls = $(this).data('icon');
            $('.dx-icon', this).addClass(cls);
        });
    }
</script>


@(Html.DevExtreme().Popup().CustomPopup()
    .ID("popup_frm_COD_Selection_Login")
    .OnShowing("PopupOnShowing")
    .MaxWidth(800)
    .MaxHeight(340)
    .OnShown(@<text>function(){
        $("#Password").dxTextBox("instance").focus()
        }</text>)
    .ShowTitle(true)
       .ShowCloseButton(true)
    .Title("Connect One")
    .ContentTemplate(@<text>
        <div id="popup_frm_COD_Selection_Login_resultLogin">
        </div>
    </text>)
)
<div id="Center_Selection_popup_form">
    <h4>Select Center</h4>
    @Html.Action("Frm_COD_Selection_Ins_Grid", new { certificate_no = ViewBag.certificate_number.ToString() })
    <br />
    <div class="form-group">
        @Html.HiddenFor(a => a.CEN_ID_Main)
        @Html.HiddenFor(a => a.CEN_ZONE_ID)
        @Html.HiddenFor(a => a.CEN_ZONE_SUB_ID)
        <div class="row">
            <div class="col-md-9">
                <label class="CenterLabel">@Model.CEN_NAME <text>(</text>@Model.CEN_PAD_NO_Main<text>)</text></label>
            </div>
            <div class="col-md-3">
                <div class="styleActionBtn">
                      @(Html.DevExtreme().Button()
                                    .ID("Save")
                                    .Text("OK")
                                    .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                                    .ElementAttr("class", "dxeImage_Metropolis  dxIcon_people_usergroup_16x16")
                                    .OnInitialized("SetIcon")
                                    .OnClick(@<text>
                                        function ()
                                        {
                                        LogintoConnectOne();
                                        }
                                    </text>)
                    )
                      @(Html.DevExtreme().Button()
                                .ID("Cancel")
                                .Text("Cancel")
                                .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                .OnClick(@<text>
                                    function () {
                                    $("#popup_frm_COD_Selection_popup").dxPopup("hide");
                                    }
                                </text>)
                    )
                </div>            
            </div>
        </div>
        </div>
</div>

<script>
    var CEN_NAME_X;
    var INS_NAME;
    var CEN_NAME_X;
    var CEN_UID;
    var CEN_PAD_NO;
    var CEN_ACC_TYPE_ID;
    var COD_YEAR_EDT = "";
    var COD_YEAR_SDT = "";
    var COD_YEAR_NAME = "";
    var CEN_ID
    var selectedRowData;

    function OnGridFocusedRowChanged(s, e) {
       // var key = s.GetRowKey(s.GetFocusedRowIndex());
        // CenterSelectionListGrid.GetValuesOnCustomCallback({ key: key }, OnGetRowValues);
        //setTimeout(CenterSelectionListGrid.Focus(), 0);
        setTimeout(function () { $("#CenterSelectionListGrid").focus(); }, 250);
    }

    function OnGetRowValues(data)
    {
        var values = data.split("![");
        INS_NAME = values[0];
        CEN_NAME_X = values[1];
        CEN_UID = values[2];
        CEN_PAD_NO = values[3];
        CEN_ACC_TYPE_ID = values[4];
        CEN_ID = values[5];
        COD_YEAR_EDT = values[6];
        COD_YEAR_ID = values[7];
        COD_YEAR_NAME = values[8];
        CEN_REC_ID = values[9];
        COD_YEAR_SDT = values[10];
        INS_ID = values[11];
        INS_SHORT = values[12];
        IS_VOLUME = values[13];
        $.ajax({
            type: 'POST',
            url: "/Start/Login/Frm_Login",
            data: { INS_NAME: INS_NAME, CEN_PAD_NO_Main: '@Model.CEN_PAD_NO_Main', CEN_NAME: '@Model.CEN_NAME', CEN_ID_Main: '@Model.CEN_ID_Main', CEN_ZONE_ID: '@Model.CEN_ZONE_ID', CEN_ZONE_SUB_ID: '@Model.CEN_ZONE_SUB_ID', CEN_NAME_X: CEN_NAME_X, CEN_UID: CEN_UID, CEN_PAD_NO: CEN_PAD_NO, CEN_ACC_TYPE_ID: CEN_ACC_TYPE_ID, CEN_ID: CEN_ID, COD_YEAR_EDT: COD_YEAR_EDT, COD_YEAR_ID: COD_YEAR_ID, COD_YEAR_NAME: COD_YEAR_NAME, CEN_REC_ID: CEN_REC_ID, COD_YEAR_SDT: COD_YEAR_SDT, INS_ID: INS_ID, INS_SHORT: INS_SHORT, IS_VOLUME: IS_VOLUME },
            cache: false,
            success: function (dataFrm_Login_result)
            {
                HideLoader();
                $("#popup_frm_COD_Selection_Login").dxPopup("show");
                $("#popup_frm_COD_Selection_Login_resultLogin").html(dataFrm_Login_result);
            }
        });
    }


    $(function () {
        //setTimeout($("#Save").dxButton('instance').focus(), 0);
       
    });
    $(document).ready(function ()
    {       
        $("#Center_Selection_popup_form").keypress(function (e) {
            if (e.which == 13) {
                LogintoConnectOne();
            }
        });
    })

 
    function LogintoConnectOne()
    {
        if (CenterSelectionListGrid.GetFocusedRowIndex()<0)
        {
            DevExpress.ui.dialog.alert('Please Select one center', 'Alert ');
            return;
        }
        ShowLoader();
        var key = CenterSelectionListGrid.GetRowKey(CenterSelectionListGrid.GetFocusedRowIndex());
        CenterSelectionListGrid.GetValuesOnCustomCallback({ key: key }, OnGetRowValues); 
    }
</script>