
@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Profile.Models.SelectedCenterDetails
<style>
    .dx-popup-content {
        padding: 0px !important;
    }

    .tickblue {
        color: #0072C6 !important;
    }
    .dx-button {
        color: #111;
        border-color: #9fcdfc;
        background: #fbfdff;
        background: -moz-linear-gradient(top, #fbfdff 0%, #9fcdfc 64%, #ceefff 100%);
        background: -webkit-linear-gradient(top, #fbfdff 0%,#9fcdfc 64%,#ceefff 100%);
        background: linear-gradient(to bottom, #fbfdff 0%,#9fcdfc 64%,#ceefff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdff', endColorstr='#ceefff',GradientType=0 );
    }

        .dx-button:hover, .dx-button:focus {
            color: #000000;
            border-color: #ffae49;
            background: #ffe6ca;
            background: -moz-linear-gradient(top, #ffe6ca 0%, #ffd08e 64%, #ffae49 100%);
            background: -webkit-linear-gradient(top, #ffe6ca 0%,#ffd08e 64%,#ffae49 100%);
            background: linear-gradient(to bottom, #ffe6ca 0%,#ffd08e 64%,#ffae49 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe6ca', endColorstr='#ffae49',GradientType=0 );
        }

    .dx-popup-title .dx-closebutton .dx-icon {
        color: #ffffff;
        background-color: #ff5555;
    }
    @@media screen and (max-width:768px) {
        #CenterSelectionListGrid {
            width: 100% !important
        }

  /*          #CenterSelectionListGrid .dxgvCSD {
                height: calc(69vh) !important
            }*/
    }
</style>
@(Html.DevExtreme().Popup()
    .ID("popup_frm_COD_Selection_Login")
    .OnShowing("PopupOnShowing")
    .MaxWidth(800)
    .Height(230)
    .ElementAttr("class", "login_no_margin")
    .OnShown(@<text>function(){
        $("#Password").dxTextBox("instance").focus()
        }</text>)
    .ShowTitle(true)
       .ShowCloseButton(true)
    .Title("Connect One")
    .ContentTemplate(@<text>
        <div id="popup_frm_COD_Selection_Login_resultLogin">
        </div>
    </text>)
)
<div id="Center_Selection_popup_form">
    <div class="screen_header"><label class="CenterLabel">@Model.CEN_NAME <text>(</text>@Model.CEN_PAD_NO_Main<text>)</text></label></div>
    <div class="COD_Selection_Ins_Grid">
        @Html.Action("Frm_COD_Selection_Ins_Grid", new { certificate_no = ViewBag.certificate_number.ToString() })
    </div>
    <div class="form-group">
        @Html.HiddenFor(a => a.CEN_ID_Main)
        @Html.HiddenFor(a => a.CEN_ZONE_ID)
        @Html.HiddenFor(a => a.CEN_ZONE_SUB_ID)
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4" style="margin-top:3px">
                <div class="styleActionBtn">
                      @(Html.DevExtreme().Button()
                                            .ID("Save")
                                            .Text("OK")
                                            //  .ElementAttr("style", "padding-bottom:3px")
                                            .Icon("fa fa-check-circle fa-w-16 btn-icons tickblue")
                                            .OnClick(@<text>
                                                function () {
                                                LogintoConnectOne();
                                                }
                                            </text>)
                    )
                           @(Html.DevExtreme().Button()
                                .ID("Cancel")
                                .Text("Cancel")
                                 .Width(90)
                                 .Icon("fa fa-times-circle fa-w-16 btn-icons tickblue")
                                .OnClick(@<text>
                                    function () {
                                    $("#popup_frm_COD_Selection_popup").dxPopup("hide");
                                    }
                                </text>)
                    )
                </div>           
            </div>
        </div>
    </div>
</div>

<script>
    var CEN_NAME_X;
    var INS_NAME;
    var CEN_NAME_X;
    var CEN_UID;
    var CEN_PAD_NO;
    var CEN_ACC_TYPE_ID;
    var COD_YEAR_EDT = "";
    var COD_YEAR_SDT = "";
    var COD_YEAR_NAME = "";
    var CEN_ID
    var selectedRowData;
    function CenterSelectionListGrid_EndCallBack(s, e) { InitializeScrollView_GridView(s, e);}
    function CenterSelectionListGrid_Init(s, e)
    {
        CenterSelectionListGrid_AdjustSize(s, e);
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt)
        {
            CenterSelectionListGrid_AdjustSize(s, e);
        });
        InitializeScrollView_GridView(s, e);
    }
    function CenterSelectionListGrid_AdjustSize(s, e)
    {
        var height = parseInt(getComputedStyle($(($("#popup_frm_COD_Selection_popup").dxPopup("content")).parent())[0]).height, 10)       
        try
        {
            CenterSelectionListGrid.SetHeight((height*65)/100);
        }
        catch (err)
        {
        }        
    }
    function OnCentreSelectionGridOnInit(s, e) {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try {
            CenterSelectionListGrid.SetHeight(height);
        }
        catch (err) {
        }
    }
    function OnGridFocusedRowChanged(s, e) {
        //var key = s.GetRowKey(s.GetFocusedRowIndex());
      //  CenterSelectionListGrid.GetValuesOnCustomCallback({ key: key }, OnGetRowValues);
        setTimeout(function () { $("#CenterSelectionListGrid").focus(); }, 350);
        ScrollToFocusedRow(s,e)
    }

    function OnGetRowValues_InsCheck(data)
    {
        var values = data.split("![");
        INS_NAME = values[0];
        CEN_NAME_X = values[1];
        CEN_UID = values[2];
        CEN_PAD_NO = values[3];
        CEN_ACC_TYPE_ID = values[4];
        CEN_ID = values[5];
        COD_YEAR_EDT = values[6];
        COD_YEAR_ID = values[7];
        COD_YEAR_NAME = values[8];
        CEN_REC_ID = values[9];
        COD_YEAR_SDT = values[10];
        INS_ID = values[11];
        INS_SHORT = values[12];
        IS_VOLUME = values[13];    

        $.ajax({
            type: 'POST',
            url: "/Start/Login/Frm_Login",
            data: { INS_NAME: INS_NAME, CEN_PAD_NO_Main: '@Model.CEN_PAD_NO_Main', CEN_NAME: '@Model.CEN_NAME', CEN_ID_Main: '@Model.CEN_ID_Main', CEN_ZONE_ID: '@Model.CEN_ZONE_ID', CEN_ZONE_SUB_ID: '@Model.CEN_ZONE_SUB_ID', CEN_NAME_X: CEN_NAME_X, CEN_UID: CEN_UID, CEN_PAD_NO: CEN_PAD_NO, CEN_ACC_TYPE_ID: CEN_ACC_TYPE_ID, CEN_ID: CEN_ID, COD_YEAR_EDT: COD_YEAR_EDT, COD_YEAR_ID: COD_YEAR_ID, COD_YEAR_NAME: COD_YEAR_NAME, CEN_REC_ID: CEN_REC_ID, COD_YEAR_SDT: COD_YEAR_SDT, INS_ID: INS_ID, INS_SHORT: INS_SHORT, IS_VOLUME: IS_VOLUME },
            cache: false,
            success: function (dataFrm_Login_result) {
                HideLoader();
                $("#popup_frm_COD_Selection_Login").dxPopup("show");
                $("#popup_frm_COD_Selection_Login_resultLogin").html(dataFrm_Login_result);
            }
        });
    }


    $(function () {
        //setTimeout($("#Save").dxButton('instance').focus(),0);
    });

    $(document).ready(function ()
    {
        document.getElementById("Center_Selection_popup_form").addEventListener('keydown', function (evt) {
            if (evt.repeat) { return };
            if (evt.keyCode == 13)
            {
                evt.preventDefault();             
                LogintoConnectOne();
                return false;
            }
        });
        CenterSelectionListGrid_AdjustSize();
    })
    function LogintoConnectOne()
    {
        if (CenterSelectionListGrid.GetFocusedRowIndex() < 0)
        {
            DevExpress.ui.dialog.alert('Please Select one center', 'Alert ');
            return;
        }
        ShowLoader();
        var key = CenterSelectionListGrid.GetRowKey(CenterSelectionListGrid.GetFocusedRowIndex());
        CenterSelectionListGrid.GetValuesOnCustomCallback({ key: key }, OnGetRowValues_InsCheck);
    }
</script>