@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Profile.Models.Center_Ins_List
@{
    Layout = null;
}
<style>
    .tickblue {
        color:#0072C6 !important;
     }
     .biglabel {
         font-size:20px;
         padding:5px 10px 5px 5px;
         color:#180064 ;
         font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif !important;
         font-weight:400;
     }
     .login-block {
         height:170px;
         line-height:25px;
         padding-top:20px;
     }
.form-field {
    box-shadow: 1px 1px 0 0px #89b9eb inset, 1px 1px 0 0px #89b9eb;
    background: #dfebf8;
    background: -webkit-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
    background: -o-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
    background: -moz-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
}

.form-field:hover {
    background: #ffffff;
    background: -webkit-linear-gradient(to bottom, #dfebf8 0%, #ffffff 100%);
    background: -o-linear-gradient(to bottom, #dfebf8 0%, #ffffff 100%);
    background: -moz-linear-gradient(to bottom, #dfebf8 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #dfebf8 0%, #ffffff 100%);
}

    #Password_Eye .dx-button-content {
        position: relative;
        padding-left: 8px;
        padding-right: 8px;
        height: 26px;
        text-align: center;
    }


      @@media only screen and (max-width:768px) {
          .login-block {
         height:170px;
         line-height:25px;
         padding-top:0px;
         margin-top:-10px;
        }
        .CenterLabel {
            font-size:16px;
        }
     }
</style>
<div class="form-group" style="margin:0px">
    <div class="col-md-12 screen_header">
        <p class="CenterLabel" style="text-align:center">
            @*@Model.INS_NAME <br />*@
            @Model.CEN_NAME_X  <text>~   UID: </text> @Model.CEN_UID
        </p>
    </div>
</div>
<div class="form-group" style="margin:0px;">
    <div class="col-md-6 login-block form-field">
        @*<label class="CenterLabel">Login</label>*@
        @using (Ajax.BeginForm("Frm_Login_Post", "Login", new { area = "Start" },
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "content",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "LoginFunction",
                    OnBegin = "AjaxBeginFormPost"
                },
                new
                {
                    id = "validationForm",
                    @class = "form-horizontal"
                }))
        {
            @Html.AntiForgeryToken()

            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="form-group">
                    @Html.HiddenFor(a => a.CEN_UID)
                    @Html.HiddenFor(a => a.CEN_ID)
                    @Html.HiddenFor(a => a.CEN_NAME)
                    @Html.HiddenFor(a => a.CEN_NAME_X)
                    @Html.HiddenFor(a => a.INS_NAME)
                    @Html.HiddenFor(a => a.INS_SHORT)
                    @Html.HiddenFor(a => a.INS_ID)
                    @Html.HiddenFor(a => a.CEN_REC_ID)
                    @Html.HiddenFor(a => a.CEN_PAD_NO)
                    @Html.HiddenFor(a => a.CEN_PAD_NO_MAIN)
                    @Html.HiddenFor(a => a.CEN_ZONE_ID)
                    @Html.HiddenFor(a => a.CEN_ZONE_SUB_ID)
                    @Html.HiddenFor(a => a.CEN_ACC_TYPE_ID)
                    @Html.HiddenFor(a => a.CEN_ID_MAIN)
                    @Html.HiddenFor(a => a.COD_YEAR_EDT)
                    @Html.HiddenFor(a => a.COD_YEAR_ID)
                    @Html.HiddenFor(a => a.COD_YEAR_NAME)
                    @Html.HiddenFor(a => a.COD_YEAR_SDT)
                    @Html.HiddenFor(a => a.DEVICE_TOKEN)
                    @Html.HiddenFor(a => a.ANDROID_ID)
                    @Html.HiddenFor(a => a.RedirectToAndroid)

                    <div class="col-md-6">Login ID:
                        @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                    .ID("UserName")
                                    .Name("UserName")
                                    .Value(@Model.CEN_ID)
                                    .Placeholder("User Name")
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "form-control text-input" } })
                                    .ShowClearButton(true)
                                    .ValidationError(true)
                                    .FocusStateEnabled(true)
                                    .OnInitialized(@<text>
                                        function (e) {
                                        setTimeout(function () {
                                        e.component.focus();
                                        }, 100);
                                        }   </text>)
                            .MaxLength(255)
                                 
                        )
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">Password:
                    @(Html.DevExtreme().TextBox().CustomTextBox()
                    .ID("Password")
                    .Name("Password")
                    .Mode(TextBoxMode.Password)
                    .Placeholder("Password")
                    .ElementAttr(new Dictionary<string, object>() { { "class", "form-control password-input" } })
                    .ShowClearButton(true)
                    .ValidationError(true)
                    .Value(Model.Password)
                    .MaxLength(255)
                    .Buttons(x => x.Add().Location(TextEditorButtonLocation.After).Name("Password_Btn").Widget(y => y.Button().ID("Password_Eye").Icon("fa fa-eye").OnClick("Password_Eye_showPasswordClick")))
                    )
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                        <div class="col-md-12">
                            @(Html.DevExtreme().CheckBox()
                        .ID("chKRememberMe")
                        .Name("chKRememberMe")
                        .Text("Remember me till connectone closes")
                        .ValidationError(true)
                        .Value((bool)TempData["IschKRememberMe"])
                            )
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="" style="float: right;padding: 10px 10px 10px 0px;">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button()
                                          .ID("Save2")
                                          .Text("OK")
                                          //.ElementAttr("style", "color:#79b71e !Important")
                                          .Icon("fa fa-check-circle fa-w-16 btn-icons tickblue")
                                          .UseSubmitBehavior(true)

                            )
                            @(Html.DevExtreme().Button()
                                                              .ID("Cancel2")
                                                              .Text("Cancel")
                                                              .Width(90)
                                                              .Icon("fa fa-times-circle fa-w-16 btn-icons tickblue")
                                                              .OnClick(@<text>
                                                                function () {
                                                                $("#popup_frm_COD_Selection_Login").dxPopup("hide");
                                                                $("#popup_frm_COD_Selection_popup").dxPopup("hide");

                                                                }
                                                            </text>)
                            )
                        </div>
                    </div>
                </div>}
        }
    </div>
    <div class="col-md-6  form-field" style="border-left:solid 1px #A6C7FF !important;height:170px;padding-top:15px;">
        <label class="biglabel">Financial Year : @Model.COD_YEAR_NAME</label><br />
        <label class="biglabel">Period : @Model.COD_YEAR_SDT  <text>to  </text> @Model.COD_YEAR_EDT </label><br />
        <label class="biglabel">Institution : @Model.INS_SHORT</label>
    </div>
</div>

<script>
    $(function () {
        //$("#Dynamic_Content_popup").dxPopup("show");
        //$(".dx-popup-content").dxScrollView()
        TransformTextForDB();

        $("#popup_frm_COD_Selection_Login").dxPopup("instance").option("onHiding",
			function (e) {
			    $("#popup_frm_COD_Selection_popup").dxPopup("hide");
			}
        )    
        $("#DEVICE_TOKEN").val($("#deviceToken").dxTextBox("instance").option("value"));
        $("#ANDROID_ID").val($("#androidID").dxTextBox("instance").option("value"));
        $("#RedirectToAndroid").val($("#RedirectToAndroid_TB").dxTextBox("instance").option("value"));

        //Focus this is actauly setting from popup onshown method
        //$("#Password").dxTextBox("instance").focus()
    });

    function Password_Eye_showPasswordClick(e) {
        currentMode = $("#Password").dxTextBox("instance").option("mode");

        if (currentMode == "password") {
            $("#Password").dxTextBox("instance").option("mode", "text")
            $("#Password_Eye").dxButton("instance").option("icon", "fa fa-eye-slash")
        }
        else if (currentMode == "text") {
            $("#Password").dxTextBox("instance").option("mode", "password")
            $("#Password_Eye").dxButton("instance").option("icon", "fa fa-eye")
        }
    }
</script>