@using DevExtreme.AspNet.Mvc;
@{ 
    Layout = null;
    string InsID = ViewData["InsID"].ToString();
    string cenID = ViewData["CenID"].ToString();
    string ImagePath = Url.Content("~/Content/Images/Logos/INS_00001.jpg");
    if (cenID.Length > 0)
    {
        ImagePath = Url.Content("~/Content/image/GenericLogin/" + cenID + ".png");
    }
 }
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/dx.common.css")" rel="Stylesheet" />
    <link href="@Url.Content("~/Content/dx.light.css")" rel="Stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="@Url.Content("~/Scripts/dx.all.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/aspnet/dx.aspnet.data.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/aspnet/dx.aspnet.mvc.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CommonFn.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f5f5f5;
        }

        .login-container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        form {
            padding-top: 10px;
            font-size: 14px;
        }

        label {
            margin-bottom: 0
        }

        .card-title { width: calc(100% + 40px); background: #1c499a; margin: -20px; padding: 10px; box-shadow: 0 2px 2px rgba(0,0,0,.2) }
        .card-title img{width:50%}
        .btn { font-size: 14px; margin-top: 20px; }

        .login-form {
            width: 400px;
            margin: 20px;
        }

        .sign-up {
            text-align: center;
            padding: 20px 0 0;
        }
        .btn-primary { background-color: #1c499a; border-color: #1c499a }
        .alert {
            margin-bottom: -30px;
            font-size: 13px;
            margin-top: 20px;
        }
        #lbl_Cen_Name {
            display: block;
            text-align: center;           
            font-size: .85em;       
            font-weight:500;
            margin-top: 10px;
        }
    </style>
</head>

<body>

    <div class="login-container">
        <div class="card login-form">
            <div class="card-body">
                <h3 class="card-title text-center mb-0">
                    <img src="@ImagePath" onerror="this.src = '../../Content/Images/Logos/INS_00001.jpg';">
                </h3>
                <label id="lbl_Cen_Name"></label>
                <div class="card-text">
                    <!--
        <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                    <form>
                        <!-- to error: add class "has-danger" -->

                        <div class="form-group" id="institute_div">
                            <label>Institute</label>
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Institute").Name("Institute").Placeholder("Select Institute...").Value(string.IsNullOrWhiteSpace(InsID)?null: InsID)
                                        .DataSource(d => d.Mvc().Controller("Login").LoadAction("GetInstitutes").Key("INS_ID").LoadMode(DataSourceLoadMode.Raw)).DisplayExpr("INS_NAME").ValueExpr("INS_ID")
                                        .OnValueChanged("Institute_ValueChange").ReadOnly(false).Visible(true).InputAttr(new Dictionary<string, object>() { { "class", "form-control form-control-sm" } })
                                        .ContentTemplate(@<text>
                    @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Institute_datagrid")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("INS_NAME").Caption("Institute Name");
                            columns.Add().DataField("INS_ID").Caption("INS_ID").Visible(false);
                            columns.Add().DataField("INS_SHORT").Caption("Inst Code");
                        })
                        .Selection(s => s.Mode(SelectionMode.Single)).FilterRow(s=>s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);};}"))
                    </text>))
                        </div>
                        <div class="form-group" id="uid_div">
                            <label>UID</label>
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Centre").Name("Centre").Placeholder("Select Centre...").DisplayExpr("CEN_UID").ValueExpr("CEN_ID").Value(string.IsNullOrWhiteSpace(cenID) ? (int?)null : Convert.ToInt32(cenID))
                                        .DataSource(d => d.Mvc().Controller("Login").LoadAction("GetCentres").Key("CEN_ID").LoadMode(DataSourceLoadMode.Raw).LoadParams(new { InsID = new JS("function() {return InsID_GenericLogin;}") }))
                                        .OnValueChanged("Centre_ValueChange").ReadOnly(true).Visible(true).InputAttr(new Dictionary<string, object>() { { "class", "form-control form-control-sm" } })
                                        .ContentTemplate(@<text>
                    @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Centre_datagrid")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("CEN_UID").Caption("Center UID");
                            columns.Add().DataField("INS_SHORT").Caption("Institute");
                            columns.Add().DataField("CEN_NAME").Caption("Center Name");
                            columns.Add().DataField("CEN_ACC_TYPE_ID").Caption("Acc. Type");
                            columns.Add().DataField("CEN_CANCELLATION_DATE").Caption("Closure Date").DataType(GridColumnDataType.Date).Format("dd-MM-yyyy");
                            columns.Add().DataField("CEN_PAD_NO").Caption("PAD_NO").Visible(false);
                            columns.Add().DataField("INS_ID").Caption("INS_ID").Visible(false);
                            columns.Add().DataField("CEN_ID").Caption("CEN_ID").Visible(true);

                        })
                        .Selection(s => s.Mode(SelectionMode.Single)).FilterRow(s=>s.Visible(false))
                        .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys[0]);};}"))   </text>))
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("UserName").Name("UserName").Placeholder("User Name")
                                    .InputAttr(new Dictionary<string, object>() { { "class", "form-control form-control-sm" } }).MaxLength(255)

                        )
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            @*<a href="#" style="float:right;font-size:12px;">Forgot password?</a>*@
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("Password").Name("Password").Mode(TextBoxMode.Password).Placeholder("Password")
                    .InputAttr(new Dictionary<string, object>() { { "class", "form-control form-control-sm" } }).MaxLength(255).OnEnterKey("Password_onEnter"))
                        </div>

                        <button type="button" class="btn btn-primary btn-block" onclick="GenericLogin()"><b>LOGIN</b></button>

                        @*<div class="sign-up">
                    Don't have an account? <a href="#">Create One</a>
                </div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="loadPanel"></div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script>
        var InsID_GenericLogin = "@InsID".length == 0 ? ("@cenID" == "7233" ? "00010" : "") : "@InsID";
        var CenID_GenericLogin = "@cenID";
        $(document).ready(function ()
        {
            $("#loadPanel").dxLoadPanel({
                message: 'Loading...',
                closeOnOutsideClick: false,
                showPane: false,
                shading: true,
                height: "100%",
                width: "100%",
                shadingColor: "",
                deferRendering: false,
                visible: false
            });      
            if (InsID_GenericLogin.length > 0 && CenID_GenericLogin.length > 0) {
                $("#UserName").dxTextBox("focus")
            }
            else if (InsID_GenericLogin.length > 0) {
                $("#Centre").dxDropDownBox("focus");
            }
            else {
                $("#Institute").dxDropDownBox("focus");
            }
            if (InsID_GenericLogin.length > 0)
            {
                $("#institute_div").hide();
                Institute_ValueChange(null, true);
            }
            if (CenID_GenericLogin.length > 0)
            {
                $("#institute_div").hide();
                $("#uid_div").hide();
                Centre_ValueChange(null, true);
            }           
        })
        async function Institute_ValueChange(e, FirstCall = false)
        {
            var DG = $("#Institute_datagrid").dxDataGrid("instance");
            if (e)
            {
                InsID_GenericLogin = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null)
                {
                    $("#Centre").dxDropDownBox("reset");
                    $("#Centre").dxDropDownBox("option", "readOnly",true);
                    DG.clearSelection();
                    return;
                }
            }
            else
            {
                InsID_GenericLogin = $("#Institute").dxDropDownBox("option", "value");
            }
            if (InsID_GenericLogin != null && InsID_GenericLogin.length > 0)
            {
                if (FirstCall == false)
                {
                    $("#Centre").dxDropDownBox("reset");
                    $("#Centre_datagrid").dxDataGrid("instance").refresh().done(function ()
                    {
                        $("#Centre").dxDropDownBox("option", "readOnly", false);
                    })
                }
                else
                {
                    $("#Centre").dxDropDownBox("option", "readOnly", false);
                }
            }
            await DG.selectRows(InsID_GenericLogin);

        }
        async function Centre_ValueChange(e, FirstCall = false)
        {
            ShowLoader();
            var DG = $("#Centre_datagrid").dxDataGrid("instance");
            if (e) {
                CenID_GenericLogin = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null)
                {
                    DG.clearSelection();
                    $("#lbl_Cen_Name").text("");
                    return;
                }
            }
            else
            {
                CenID_GenericLogin = $("#Centre").dxDropDownBox("option", "value");
            }
            //$("#UserName").dxTextBox("option", "value", CenID_GenericLogin);
            await DG.selectRows(CenID_GenericLogin);
            var SelectedRowData = DG.getSelectedRowsData();
            if (SelectedRowData.length > 0)
            {
                var item = SelectedRowData[0];
                $("#lbl_Cen_Name").text(item["CEN_NAME"]);
                if (FirstCall == true)
                {
                    if ("@InsID".length == 0)
                    {
                        InsID_GenericLogin = item["INS_ID"];
                    }
                }
            }
            HideLoader();
        }
        function Password_onEnter(e)
        {
            GenericLogin();
        }
        function GenericLogin()
        {
            if (InsID_GenericLogin == null || InsID_GenericLogin.length == 0)
            {
                DevExpress.ui.dialog.alert('Institute Is Required', "Information...").done(function () { $("#Institute").dxDropDownBox("focus") });
                return;
            }
            if (CenID_GenericLogin == null || CenID_GenericLogin == 0)
            {
                DevExpress.ui.dialog.alert('UID Is Required', "Information...").done(function () { $("#Centre").dxDropDownBox("focus") });
                return;
            }
            var UserName = $("#UserName").dxTextBox("option", "value");
            var Password = $("#Password").dxTextBox("option", "value");
            if (UserName == null || UserName.length == 0) {
                DevExpress.ui.dialog.alert('UserName Is Required', "Information...").done(function () { $("#UserName").dxTextBox("focus") });
                return;
            }
            if (Password == null || Password.length == 0) {
                DevExpress.ui.dialog.alert('Password Is Required', "Information...").done(function () { $("#Password").dxTextBox("focus") });
                return;
            }
            ShowLoader();
            $.ajax({
                type: 'POST',
                url: "/Start/Login/Frm_Generic_Login",
                data:{ cenid: CenID_GenericLogin, username:UserName, pwd: Password},
                cache: false,
                success: function (data)
                {
                    HideLoader();
                    if (getParameterByName('SessionGUID', window.location.href) == data.Guid && data.Guid)
                    {
                        window.close();
                    }
                    else if (data.result == true || data.result == "true")
                    {
                        if (data.androidID != null && data.deviceToken != null && data.androidID.length > 0 && data.deviceToken.length > 0 && data.RedirectToAndroid != null && data.RedirectToAndroid.length > 0 && data.RedirectToAndroid == "YES")
                        {
                            window.open("/Help/Android/Android_C1_HomePage?androidID=" + data.androidID + "&deviceToken=" + data.deviceToken, "_self");
                        }
                        else
                        {
                            window.name = data.Guid;
                            window.location.href = "/Start/Home/Page?SessionGUID=" + data.Guid +"&CenID=" + CenID_GenericLogin;
                        }
                    }
                    else if (data.result == false || data.result == "false")
                    {
                        if (data.message == "Incorrect Password . . . !")
                        {
                            DevExpress.ui.dialog.alert(data.message, 'Login...').done(function (result)
                            {
                                setTimeout(function ()
                                {
                                    $("#Password").dxTextBox("reset");
                                    $("#Password").dxTextBox("focus");
                                }, 300);
                            });
                        }
                        else if (data.message.includes("Invalid User ID"))
                        {
                            DevExpress.ui.dialog.alert(data.message, 'Login...').done(function (result)
                            {
                                setTimeout(function ()
                                {
                                    $("#UserName").dxTextBox("reset");
                                    $("#UserName").dxTextBox("option", "isValid", true);
                                    $("#UserName").dxTextBox("focus");
                                }, 300);
                            });
                        }
                        else if (data.message.includes("Incorrect Username"))
                        {
                            DevExpress.ui.dialog.alert(data.message, 'Login...').done(function (result)
                            {
                                setTimeout(function ()
                                {
                                    $("#Password").dxTextBox("reset");
                                    $("#UserName").dxTextBox("reset");
                                    $("#UserName").dxTextBox("option", "isValid", true);
                                    $("#UserName").dxTextBox("focus");
                                }, 300);
                            });
                        }
                        else
                        {
                            DevExpress.ui.dialog.alert(data.message, 'Alert!!');
                        }
                    }
                    else
                    {
                        DevExpress.ui.dialog.alert(data.message, 'Alert!!');
                    }

                }
            });
        }
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    </script>
</body>
</html>