@using DevExtreme.AspNet.Mvc;

@model IEnumerable<dynamic>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div id="content" class="col-md-12 report_header_div_main">
    <div class="col-md-4 report_header_div">
        <label class="report_header_label">Stock Profile</label>
    </div>
    @*Buttons*@
    <div class="report_button_div">
        @(Html.DevExtreme().Button()
                                                .ID("StockProfileUnlock")
                                                .Text("Unlock")
                                                .Icon("add")
                                                .Visible(false)
                                                .Disabled(true)
                                                .OnClick(@<text>
                                                        function () {
                                                        StockProfileUnlockClick();
                                                        }
                                                    </text>)
        )

        @(Html.DevExtreme().Button()
                                                .ID("StockProfileLock")
                                                .Text("Lock")
                                                .Icon("add")
                                                .Visible(false)
                                                .Disabled(true)
                                                .OnClick(@<text>
                                                        function () {
                                                        StockProfileLockClick();
                                                        }
                                                    </text>)
        )
        @(Html.DevExtreme().Button()
                                                .ID("StockProfileNew")
                                                .Text("New")
                                                .Icon("add")
                                                .Visible(false)
                                                .Disabled(true)
                                                .OnClick(@<text>
                                                        function () {
                                                        StockProfileNewClick();
                                                        }
                                                    </text>)
        )
        @(Html.DevExtreme().Button()
                                                .ID("StockProfileEdit")
                                                .Text("Edit")
                                                .Icon("edit")
                                                .Visible(false)
                                                .Disabled(true)
                                                .OnClick(@<text>
                                                        function () {
                                                        StockProfileOBEditClick();
                                                        }
                                                    </text>)
        )
        @(Html.DevExtreme().Button()
                                                .ID("StockProfileDelete")
                                                .Text("Delete")
                                                .Icon("trash")
                                                .Visible(false)
                                                .Disabled(true)
                                                .OnClick(@<text>
                                                        function () {
                                                        StockProfileDeleteClick();
                                                        }
                                                    </text>)
        )

        @(Html.DevExtreme().Button()
                                                .ID("StockProfileView")
                                                .Text("View")
                                                .Icon(IconID.ViewCustomers16x16devav)
                                                .Icon("doc")
                                                .Visible(false)
                                                .Disabled(true)
                                                .OnClick(@<text>
                                                        function () {
                                                        StockProfileViewClick();
                                                        }
                                                    </text>)
        )
        @(Html.DevExtreme().Button()
                                                                            .ID("StockProfileToggleScrollBar")
                                                                            .Text("Full Data")
                                                                            .Width(90)
                                                                            .Icon("toolbox")
                                                                            .OnClick(@<text>
                                                                                    function () {
                                                                                    StockProfilechangeMode();
                                                                                    }
                                                                                </text>)
        )
        @(Html.DevExtreme().Button()
                                                                            .ID("StockProfileListPreview")
                                                                            .Text("Export")
                                                                            .Icon("save")
                                                                            .Width(75)
                                                                            .OnClick(@<text>
                                                                                    function () {
                                                                                    StockProfileListPreviewClick();
                                                                                    }
                                                                                </text>)
        )

        @(Html.DevExtreme().Button()
                                                                            .ID("StockProfileCLOSE")
                                                                            .Text("Close")
                                                                            .Icon("clear")
                                                                            .OnClick(@<text>
                                                                                    function (){$(".TabPanalMenu-tabs .active span").click()}
                                                                                </text>)

        )
    </div>
</div>
<div class="col-md-12 no-padding">
    <form>
        <div id="StockProfilereloadPartialView" class="parent_table">           
            @Html.Partial("Frm_Stock_Info_Grid", Model)             
        </div>
    </form>
</div>
<div class="footer-MainBoxdiv full-width-footer">
    @*<div class="col-lg-8 report_footer_small_buttons_div" id="DepositsFooterItem">*@
    <div class="list_footer_left_margin col-md-10">
        <div>
            @*class="footer_new_left"*@
            <div>
                <div class="list_footer_left_margin">
                    <div class="footer-locktext">
                        <div id="ob_Lbl_ActionOn" class="left_footertext_top"></div>
                        <div id="ob_Lbl_ActionBy" class="left_footertext_bottom"></div>
                    </div>
                    @*<div class="footer-locktext">
                            <div id="obLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                        </div>*@
                </div>
                <div class="list_footer_left_margin">
                    <p id="obLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                    <p id="obLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                </div>

            </div>
        </div>
    </div>
    <div class="list_footer_right_margin_consistent col-md-1">
        @*<i id="ob_LockICON" class="fa fa-lock lock_symbol"></i>*@
    </div>
    @*</div>
        <div class="col-lg-4 listing_footer_filter_buttons_div">
        </div>*@
</div>
<div class="col-md-12">
    @*Add/Edit Popup*@
    @(Html.DevExtreme().Popup().CustomPopup()
                        .ID("StockProfile_report_modal")
                        .OnShowing("PopupOnShowing")
                        .Title("Stock Profile List Preview")
                        .FullScreen(false)
                        .MaxWidth(125)
                        .Height("auto")
                        .ShowCloseButton(true)
                        .ContentTemplate(@<text>
                            <div id="StockProfile_report_modal_result">
                            </div>
                        </text>)
    )

    @(Html.DevExtreme().Popup().CustomPopup()
                .ID("popup_frm_StockProfile_Window_Close")
                .OnShowing("PopupOnShowing")
                .Title("Bank")
                .MaxHeight(460)
                .MaxWidth(750)
                .ContentTemplate( @<text>
                    <div id='popup_frm_StockProfile_Window_Close_result'>
                    </div>
                </text>)
    )

    @(Html.DevExtreme().Popup().CustomPopup()
                        .ID("popup_frm_StockProfile_Window")
                        .Title("StockProfile")
                        .OnShowing("PopupOnShowing")
                        .DragEnabled(true)
                        .Height(200)
                        .Width(650)
                        .ShowCloseButton(true)
                        .ContentTemplate(@<text>
                            <div id="popup_frm_StockProfile_Window_result">
                            </div>
                        </text>)
                    @*.OnHiding(@<text>
                                function () {

                                var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                result.done(function (dialogResult) {
                                if(dialogResult){
                                $("#popup_frm_OpeningBalances_Window").dxPopup("hide");
                                }else
                                {
                                $("#popup_frm_OpeningBalances_Window").dxPopup("show");
                                }
                                });

                                }
                        </text>)*@
    )

    @* Testing MVC Popup here *@

    @* Testing ends here *@

</div>

@*Javascript Events*@
<script type="text/javascript">
    var StockProfile_ShowHorizontalBar = 0;
  
    var IsSFNewPopup = false;
    var IsSucessPopup = false;
    var IsViewPopup = false;
    $(document).ready(function () {
        $("#StockProfileListGrid").hover(function () {
            StockProfileListGrid.Focus()
        })
    });
    function StockprofileOnInit(s, e) {
        StockprofileAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            StockprofileAdjustSize();
        });
    }
    function StockprofileGrid_BeginCallBack(s, e) {
        e.customArgs["command"] = e.command;
    }
   
    function StockprofileAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        StockProfileListGrid.SetHeight(height);
        StockProfileListGrid.SetHeight(height);
    }
    function StockProfilechangeMode() {
        ShowLoader();
        if (StockProfile_ShowHorizontalBar == 0) {
            StockProfile_ShowHorizontalBar = 1;
            $("#StockProfileToggleScrollBar").find("span").text("Default Data");
            $("#StockProfileToggleScrollBar").width(110);
        }
        else {
            Openingbalances_ShowHorizontalBar = 0;
            $("#StockProfileToggleScrollBar").find("span").text("Full Data");
            $("#StockProfileToggleScrollBar").width(90);
        }
        $.ajax({
            url: '@Url.Action("Frm_Stock_Info_Grid", "Stock")',
            type: "GET",
            data: { ShowHorizontalBar: StockProfile_ShowHorizontalBar },
            success: function (res) {
                $("#StockProfilereloadPartialView").html(res);
            }
        });
        HideLoader();
    }
   

    function StockprofiledblclickEdit(s, e) {
        //var key = s.GetRowKey(s.GetFocusedRowIndex());
        //OpeningbalancesListGrid.GetValuesOnCustomCallback({ key: key }, FDOnGetRowValues);
        //if (FDID != null || FDID == "" || FDID == undefined)
        //    OnEditClick();
    }

    function StockprofileContextMenuFunction(s, e) {
        if (e.item.name == 'New') {
            OnNewClick();
        }
        if (e.item.name == 'Close') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'Edit') {
            OnEditClick();
        }
        else if (e.item.name == 'Delete') {
            OnDeleteClick();
        }
        else if (e.item.name == 'View') {
            OnViewClick();
        }
        else if (e.item.name == 'ListPreview') {
            OnListPreviewClick();
        }
        else if (e.item.name == 'Lock') {
            OnLockClick();
        }
        else if (e.item.name == 'UnLock') {
            OnUnlockClick();
        }
        else if (e.item.name == 'Refresh') {
            StockProfileListGrid.Refresh();
        }
    } 

</script>
