@using DevExtreme.AspNet.Mvc;
@{
    var IsMobile = Request.Browser.IsMobileDevice;
}
<div class="col-sm-12">
    <table border="0" cellpadding="0" cellspacing="0" class="tb_widthmain">
        <tr>
            <td class="td_width1">2000</td>
            <td class="td_width2">x</td>
            <td class="td_width3 dx-texteditorDiv">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_2000").Name("Txt_2000").Value(Model.Txt_2000).OnValueChanged("Txt_Denomination_EditValueChanged").Min(0).Format("#0").ElementAttr(new { @class = "CBoxNumberBoxMaxLength" }))
            </td>
            <td class="td_width4">=</td>
            <td class="td_width5 dx-texteditorDiv2">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_2000").Name("BE_2000").InputAttr(new { @style = "text-align:right" }).OnValueChanged("Amount_EditValueChanged").Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false) )
            </td>
        </tr>
        @*<tr>
            <td class="td_width1">1000</td>
            <td class="td_width2">x</td>
            <td class="td_width3 dx-texteditorDiv">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_1000").Name("Txt_1000").Value(Model.Txt_1000).OnValueChanged("Txt_Denomination_EditValueChanged").Min(0).Format("#0").ReadOnly(true).ElementAttr(new { @class = "input-read-only CBoxNumberBoxMaxLength" }).FocusStateEnabled(false))

            </td>

            <td class="td_width4">=</td>
            <td class="td_width5 dx-texteditorDiv2">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_1000").Name("BE_1000").InputAttr(new { @style = "text-align:right" }).OnValueChanged("Amount_EditValueChanged").Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false))
            </td>
        </tr>*@
        <tr>
            <td class="td_width1">500</td>
            <td class="td_width2">x</td>
            <td class="td_width3 dx-texteditorDiv">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_500").Name("Txt_500").Value(Model.Txt_500).OnValueChanged("Txt_Denomination_EditValueChanged").ElementAttr(new { @class = "CBoxNumberBoxMaxLength" }).Min(0).Format("#0"))
            </td>
            <td class="td_width4">=</td>
            <td class="td_width5 dx-texteditorDiv2">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_500").Name("BE_500").InputAttr(new { @style = "text-align:right" }).OnValueChanged("Amount_EditValueChanged").Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false) )
            </td>
        </tr>
        <tr>
            <td class="td_width1">200</td>
            <td class="td_width2">x</td>
            <td class="td_width3 dx-texteditorDiv">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_200").Name("Txt_200").Value(Model.Txt_200).OnValueChanged("Txt_Denomination_EditValueChanged").ElementAttr(new { @class = "CBoxNumberBoxMaxLength" }).Min(0).Format("#0"))
            </td>
            <td class="td_width4">=</td>
            <td class="td_width5 dx-texteditorDiv2">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_200").Name("BE_200").InputAttr(new { @style = "text-align:right" }).OnValueChanged("Amount_EditValueChanged").Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false) )
            </td>
        </tr>
        <tr>
            <td class="td_width1">100</td>
            <td class="td_width2">x</td>
            <td class="td_width3 dx-texteditorDiv">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_100").Name("Txt_100").Value(Model.Txt_100).OnValueChanged("Txt_Denomination_EditValueChanged").ElementAttr(new { @class = "CBoxNumberBoxMaxLength" }).Min(0).Format("#0"))
            </td>
            <td class="td_width4">=</td>
            <td class="td_width5 dx-texteditorDiv2">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_100").Name("BE_100").InputAttr(new { @style = "text-align:right" }).OnValueChanged("Amount_EditValueChanged").Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false) )
            </td>
        </tr>
        <tr>
            <td class="td_width1" style="">50</td>
            <td class="td_width2" style="">x</td>
            <td class="td_width3 dx-texteditorDiv" style="">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_50").Name("Txt_50").Value(Model.Txt_50).OnValueChanged("Txt_Denomination_EditValueChanged").ElementAttr(new { @class = "CBoxNumberBoxMaxLength" }).Min(0).Format("#0"))
            </td>
            <td class="td_width4" style="">=</td>
            <td class="td_width5 dx-texteditorDiv2">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_50").Name("BE_50").InputAttr(new { @style = "text-align:right" }).OnValueChanged("Amount_EditValueChanged").Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false) )
            </td>
        </tr>
        <tr>
            <td width="50" style="width:50px; text-align:right;">20</td>
            <td class="td_width2">x</td>
            <td width="80" style="width:80px; text-align:right;" class="dx-texteditorDiv">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_20").Name("Txt_20").Value(Model.Txt_20).OnValueChanged("Txt_Denomination_EditValueChanged").ElementAttr(new { @class = "CBoxNumberBoxMaxLength" }).Min(0).Format("#0"))
            </td>
            <td width="50" style="width:40px; text-align:center;">=</td>
            <td class="td_width5 dx-texteditorDiv2">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_20").Name("BE_20").InputAttr(new { @style = "text-align:right" }).OnValueChanged("Amount_EditValueChanged").Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false) )
            </td>
        </tr>
        <tr>
            <td width="50" style="width:50px; text-align:right;">10</td>
            <td class="td_width2">x</td>
            <td width="80" style="width:80px; text-align:right;" class="dx-texteditorDiv">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_10").Name("Txt_10").Value(Model.Txt_10).OnValueChanged("Txt_Denomination_EditValueChanged").ElementAttr(new { @class = "CBoxNumberBoxMaxLength" }).Min(0).Format("#0"))
            </td>
            <td width="50" style="width:40px; text-align:center;">=</td>
            <td class="td_width5 dx-texteditorDiv2">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_10").Name("BE_10").InputAttr(new { @style = "text-align:right" }).OnValueChanged("Amount_EditValueChanged").Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false))
            </td>
        </tr>
        <tr>
            <td width="50" style="width:50px; text-align:right;">5</td>
            <td class="td_width2">x</td>
            <td width="80" style="width:80px; text-align:right;" class="dx-texteditorDiv">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_5").Name("Txt_5").Value(Model.Txt_5).OnValueChanged("Txt_Denomination_EditValueChanged").ElementAttr(new { @class = "CBoxNumberBoxMaxLength" }).Min(0).Format("#0"))
            </td>
            <td width="50" style="width:40px; text-align:center;">=</td>
            <td class="td_width5 dx-texteditorDiv2">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_5").Name("BE_5").InputAttr(new { @style = "text-align:right" }).OnValueChanged("Amount_EditValueChanged").Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false) )
            </td>
        </tr>
        <tr>
            <td width="50" style="width:50px; text-align:right;">2</td>
            <td class="td_width2">x</td>
            <td width="80" style="width:80px; text-align:right;" class="dx-texteditorDiv">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_2").Name("Txt_2").Value(Model.Txt_2).OnValueChanged("Txt_Denomination_EditValueChanged").ElementAttr(new { @class = "CBoxNumberBoxMaxLength" }).Min(0).Format("#0"))

            </td>
            <td width="50" style="width:40px; text-align:center;">=</td>
            <td class="td_width5 dx-texteditorDiv2">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_2").Name("BE_2").InputAttr(new { @style = "text-align:right" }).OnValueChanged("Amount_EditValueChanged").Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false) )
            </td>
        </tr>
        <tr>
            <td width="50" style="width:50px; text-align:right;">1</td>
            <td class="td_width2">x</td>
            <td width="80" style="width:80px; text-align:right;" class="dx-texteditorDiv">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("Txt_1").Name("Txt_1").Value(Model.Txt_1).OnValueChanged("Txt_Denomination_EditValueChanged").ElementAttr(new { @class = "CBoxNumberBoxMaxLength" }).Min(0).Format("#0"))@*//Redmine Bug #133108 fixed*@
            </td>
            <td width="50" style="width:40px; text-align:center;">=</td>
            <td class="td_width5 dx-texteditorDiv2">
                @(Html.DevExtreme().NumberBox().CustomNumberBox(IsMobile).ID("BE_1").Name("BE_1").InputAttr(new { @style = "text-align:right" }).OnValueChanged("Amount_EditValueChanged").Format("#,##0.00").ReadOnly(true).FocusStateEnabled(false) )
            </td>
        </tr>
    </table>
</div>