<div class="CBox_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.CollectionBoxVoucher

    @{
        bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
        bool Allow_Bank_In_C_Box = (bool)ViewBag.Allow_Bank_In_C_Box;

        bool ColBox_AddFacilityAddress = (bool)ViewData["ColBox_AddFacilityAddress"];
        bool ColBox_ListFacilityAddress = (bool)ViewData["ColBox_ListFacilityAddress"];

        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
    }
    <style>
        .addMngParty .col-xs-6 .dx-button{vertical-align:middle}
        .addMngParty .col-xs-6 .dx-button-content { display: inline }
        .addMngParty .col-xs-6 .dx-button-has-icon .dx-icon { top: 5px }
        .addMngParty .col-xs-6 .dx-button-text { text-indent: 9px; display: inline-block; }
        .addMngParty .col-xs-6 {height:44px}
        .control-label { text-align: left !important; }

            .dx-texteditorDiv2 input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                text-align: right !important;
            }

            .dx-texteditorDiv2 input::-moz-placeholder { /* Firefox 19+ */
                text-align: right;
            }

            .dx-texteditorDiv2 input:-ms-input-placeholder { /* IE 10+ */
                text-align: right;
            }

            .dx-texteditorDiv2 input:-moz-placeholder { /* Firefox 18- */
                text-align: right;
            }

            .dx-texteditorDiv2 .dx-texteditor-input {
                text-align: right;
            }

            .openfile {
                margin-right: 13px;
                float: left;
                display: inline-block;
                width: 4%;
                padding-top: 0px;
            }

                .openfile i {
                    color: #f18205;
                }

            .rightspan {
                display: inline-block;
                float: left;
                width: 90%;
            }

            .dx-button-has-text .dx-button-content {
                margin-right: 15px;
                padding: 2px 1px;
                min-width: 40px;
                padding-left: 19px;
            }

            #ManageParty .dx-button-text {
                font-size: 13px;
            }

            c

            .tb_widthmain {
                width: 100%;
            }
            
            .contetfont {
                font-size: 17px;
            }

        .td_width1 { width: 15%; text-align: right; }

        .td_width2 { width: 10%; text-align: center; }

        .td_width3 { width: 25%; text-align: right; }

        .td_width4 { width: 10%; text-align: center; }

        .td_width5 { width: 40%; text-align: right; }
        .dx-texteditorDiv2 { pointer-events: none;}

        @@media only screen and (max-width:359px) and (min-width:300px) {

            #AddParty {
                    width: 100%;
                    height: 30px;
                }

                #ManageParty {
                    width: 100%;
                    height: 30px;
                }

                .td_width5 {
                    width: 100px;
                    text-align: right;
                }

                .contetfont {
                    font-size: 15.5px;
                }
            }

            @@media only screen and (max-width:768px) {
                .margin-top-touch {
                    margin-top: 3px;
                }
                .addMngParty .col-xs-6{padding: 5px 0; height:36px}
            }
    </style>


    <link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet"><!--[css for fontawesome]-->
    <div id="Frm_Voucher_Win_C_Box_popup">

        @using (Ajax.BeginForm("Frm_CollectionBoxVoucher_Window", "CollectionBoxVoucher",
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "Frm_Voucher_Win_C_Box_popup",
                                InsertionMode = InsertionMode.InsertAfter,
                                OnBegin = "AjaxBeginFormPost",
                                OnSuccess = "AjaxSuccessVoucherCBox"
                            },
                            new
                            {
                                id = "Collection_validationForm",

                                @class = "edit_form form-horizontal"
                            }))
        {
            @Html.HiddenFor(x => x.xID)
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.LastEditedOn)
            @Html.HiddenFor(x => x.iVoucher_Type)
            @Html.HiddenFor(x => x.iLed_ID)
            @Html.HiddenFor(x => x.iTrans_Type)
            @Html.HiddenFor(x => x.iSpecific_ItemID)
            @Html.HiddenFor(x => x.Info_LastEditedOn)
            @Html.HiddenFor(x => x.TitleX)
            @Html.HiddenFor(x => x.Text)
            @Html.HiddenFor(x => x.Party1_LastEditedOn)
            @Html.HiddenFor(x => x.Party2_LastEditedOn)
            @(Html.DevExtreme().Popup().CustomPopup().ID("Pary_Add_or_Mng").ElementAttr("class", "popup").Width(1260).Height(521).ShowTitle(true).Title("Information").DragEnabled(false).ContentTemplate(@<text> <div id="Party_Add_or_Mng_Result"> </div> </text>))
            using (Html.DevExtreme().ValidationGroup("CollBox_Voucher"))
            {
                <div class="full-width-header-bg2">
                    <div class="row">
                        <div class="col-xs-6 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i> Collection Box</h3>
                        </div>
                        <div class="col-xs-6 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                    </div>
                </div>@*Header*@
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        @Html.Label("Item Name:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_collection_item" })
                                    </div>
                                    <div class="col-sm-8 prm ">
                                        @(Html.DevExtreme().DropDownBox().CustomDropDown()
                                        .ID("GLookUp_ItemList_CBox").Name("GLookUp_ItemList_CBox")
                                        .ValueExpr("ITEMID").DisplayExpr("ITEMNAME")
                                        .DataSource(Model.CBox_ItemList, "ITEMID").Value(Model.GLookUp_ItemList_CBox)
                                        .Placeholder("Select Item").OnValueChanged("GLookUp_ItemList_EditValueChanged").ReadOnly(true)
                                        .ContentTemplate(@<text> @Html.Partial("CollectionBox_LookUp_GetItemList") </text>)
                                     )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>@*Item Name*@
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 pll ">
                                        @Html.Label("Voucher Date:", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_collection_voucherDate" })
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().DateBoxFor(x => x.Txt_V_Date_CBox).CustomDateBox().ReadOnly(IsVisible).ID("Txt_V_Date_CBox").Name("Txt_V_Date_CBox").Value(Model.Txt_V_Date_CBox).Placeholder("dd-MM-yyyy").ReadOnly(IsVisible) )
                                        @Html.ValidationMessageFor(model => model.Txt_V_Date_CBox, "", new { @class = "text-red" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>@*Voucher Date*@
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        @Html.Label("Head:", htmlAttributes: new { @class = "control-label disabletxt", @id = "lbl_collection_head" })
                                    </div>
                                    <div class="col-sm-8 prm ">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("BE_Item_Head_CBox").Name("BE_Item_Head_CBox").Value(Model.BE_Item_Head_CBox).Disabled(true).ValidationError(true).MaxLength(50) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>@*Head*@
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 pll">
                                        @Html.Label("Voucher No:", htmlAttributes: new { @class = "control-label disabletxt", @id = "lbl_collection_VoucherNo" })
                                    </div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_V_NO_CBox").Name("Txt_V_NO_CBox").Placeholder("Voucher No.").Value(Model.Txt_V_NO_CBox).ReadOnly(true).ValidationError(true).MaxLength(50).FocusStateEnabled(false) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>@*Voucher No*@
                </div>
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <fieldset class="default-fieldset">
                                <legend class="custom-legend mlm"> Name of persons who have opened Collection Box :</legend>
                                <div class="row addMngParty">
                                    <div class="col-sm-8" id="Cbox_PersonDiv">
                                        <div class="row">
                                            <div class="col-sm-3 pll ">
                                                <div class="row">
                                                    <label class="control-label text-red" for="GLookUp_PartyList1_CBox" id="lbl_collection_party">1. Person Name:</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 prm">
                                                <div class="row">

                                                 @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_PartyList1_CBox").Name("GLookUp_PartyList1_CBox").DataSource(Model.CBox_PartyList,"C_ID").DisplayExpr("C_NAME").ValueExpr("C_ID").ReadOnly(true).Placeholder("Select Person").Value(Model.GLookUp_PartyList1_CBox)
                                                  .ContentTemplate(@<text> @Html.Partial("LookUp_GetPartyList1") </text>).OnValueChanged("GLookUp_PartyList1_EditValueChanged").FocusStateEnabled(false))
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pll ">
                                                <div class="row">
                                                    <label class="control-label text-red" for="GLookUp_PartyList2_CBox" id="lbl_collection_party2">2. Person Name:</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 prm">
                                                <div class="row">
                                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_PartyList2_CBox").Name("GLookUp_PartyList2_CBox").DataSource(Model.CBox_PartyList, "C_ID").DisplayExpr("C_NAME").ValueExpr("C_ID").ReadOnly(true).Placeholder("Select Person").Value(Model.GLookUp_PartyList2_CBox).ContentTemplate(@<text> @Html.Partial("LookUp_GetPartyList2") </text>).OnValueChanged("GLookUp_PartyList2_EditValueChanged").FocusStateEnabled(false))
                                                </div>
                                            </div>
                                        </div>
                                    </div>@*Person*@
                                    <div class="col-sm-2 col-xs-6 pll" id="Cbox_AddParty">
                                        @(Html.DevExtreme().Button().ID("AddParty_CBox").Text("Add Person").Height("inherit").Width("100%").Icon("fa fa-user-plus btn-icons perscolor icon-rgt-space5 iconsize").Disabled(Model.TempActionMethod == "_View" || Model.TempActionMethod == "_Delete" ? true : false).OnClick(@<text> function() { Add_a_Donar_CBox();} </text>))

                                    </div>
                                    <div class="col-sm-2 col-xs-6 pll" id="Cbox_ManParty">
                                        @(Html.DevExtreme().Button().ID("ManageParty_CBox").Text("Manage Person").Height("inherit").Width("100%").Icon("fas fa-users btn-icons perscolor icon-rgt-space5 iconsize").Disabled(Model.TempActionMethod == "_View" || Model.TempActionMethod == "_Delete" ? true : false).OnClick(@<text> function() { Manage_Donar_CBox();} </text>))
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" id="cbox_mode_div">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 pll ">@Html.Label("Cmd_Mode_CBox", htmlAttributes: new { @class = "control-label text-red", @id = "lbl_collection_mode" })</div>
                                    <div class="col-sm-8 prm">
                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmd_Mode_CBox").Name("Cmd_Mode_CBox").Value(string.IsNullOrWhiteSpace(Model.Cmd_Mode_CBox)?"CASH": Model.Cmd_Mode_CBox).DataSource(new[] { "CASH", "CHEQUE", "DD" }).OnValueChanged("Cmd_Mode_SelectedIndexChanged") )

                                        @Html.ValidationMessageFor(model => model.Cmd_Mode_CBox, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>@*Mode*@
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <fieldset class="default-fieldset" id="LayoutControlItem1">
                                            <legend class="custom-legend mlm"><span id="lbl_Bank_Title"> Deposited Bank Detail: </span></legend>
                                            <div class="row">
                                                <div class="col-sm-4 pll"><label id="lbl_Bank_Name" class="control-label" for="GLookUp_BankList_CBox">Bank Name:</label></div>
                                                <div class="col-sm-8 prm">
                                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_BankList_CBox").Name("GLookUp_BankList_CBox").Value(Model.GLookUp_BankList_CBox)
                                                        .ValueExpr("BA_ID").DisplayExpr("BANK_NAME").DataSource(Model.CBox_BankList,"BA_ID").Placeholder("Select Bank").OnValueChanged("GLookUp_BankList_EditValueChanged").ReadOnly(true)
                                                    .ContentTemplate(@<text> @Html.Partial("LookUp_GetBankList") </text>) )
                                                    @Html.ValidationMessageFor(model => model.GLookUp_BankList_CBox, "", new { @class = "text-red" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4 pll"><label class="control-label" id="lbl_Branch_Name" for="BE_Bank_Branch_CBox">Branch:</label></div>
                                                <div class="col-sm-8 prm">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Bank_Branch_CBox").ID("BE_Bank_Branch_CBox").Value(Model.BE_Bank_Branch_CBox).Disabled(true) )
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4 pll"><label class="control-label" id="lbl_Acc_No" for="BE_Bank_Acc_No_CBox">A/C No.:</label></div>
                                                <div class="col-sm-8 prm ">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("BE_Bank_Acc_No_CBox").ID("BE_Bank_Acc_No_CBox").Value(Model.BE_Bank_Acc_No_CBox).Placeholder("Account No.").Disabled(true) )
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset class="default-fieldset" id="LayoutControlItem3">
                                            <legend class="custom-legend mlm"> <span id="lbl_Ref_Title"> Reference Detail:</span></legend>

                                            <div class="row">
                                                <div class="col-sm-4 pll ">
                                                    <label class="control-label " id="lbl_Ref_Bank" for="GLookUp_RefBankList_CBox">Bank Name:</label>
                                                </div>
                                                <div class="col-sm-8 prm">
                                                  @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("GLookUp_RefBankList_CBox").Name("GLookUp_RefBankList_CBox").Value(Model.GLookUp_RefBankList_CBox).ValueExpr("BI_ID").DisplayExpr("BI_BANK_NAME").DataSource(Model.CBox_RefBankList, "BI_ID").Placeholder("Select Bank").OnValueChanged("GLookUp_RefBankList_EditValueChanged").ReadOnly(true).ContentTemplate(@<text> @Html.Partial("LookUp_GetRefBankList") </text>) )
                                                  @Html.ValidationMessageFor(model => model.GLookUp_RefBankList_CBox, "", new { @class = "text-red" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4 pll">
                                                    <label class="control-label " id="lbl_Ref_Branch" for="Txt_Ref_Branch_CBox">Branch:</label>
                                                </div>
                                                <div class="col-sm-8 prm">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox().Name("Txt_Ref_Branch_CBox").ID("Txt_Ref_Branch_CBox").Value(Model.Txt_Ref_Branch_CBox).Placeholder("Branch").ReadOnly(true).FocusStateEnabled(false) )
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4 pll">
                                                    <label id="lbl_Ref_No" class="control-label" for="Txt_Ref_No_CBox">Ref No:</label>
                                                </div>
                                                <div class="col-sm-8 prm">
                                                    @(Html.DevExtreme().TextBox().CustomTextBox(true,true).ID("Txt_Ref_No_CBox").Name("Txt_Ref_No_CBox").Value(Model.Txt_Ref_No_CBox).ReadOnly(true).Placeholder("Ref No").MaxLength(25) )
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4 pll">
                                                    <label id="lbl_Ref_Date" class="control-label" for="Txt_Ref_Date_CBox">Date:</label>
                                                </div>
                                                <div class="col-sm-8 prm ">
                                                    @(Html.DevExtreme().DateBoxFor(x => x.Txt_Ref_Date_CBox).CustomDateBox().ID("Txt_Ref_Date_CBox").Name("Txt_Ref_Date_CBox").Value(Model.Txt_Ref_Date_CBox).ReadOnly(true).Min(new DateTime(1900,01,01)))
                                                    @Html.ValidationMessageFor(model => model.Txt_Ref_Date_CBox, "", new { @class = "text-red" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4 pll">
                                                    <label id="lbl_Ref_Cdate" class="control-label" for="Txt_Ref_CDate_CBox">Clearing Date :</label>
                                                </div>
                                                <div class="col-sm-8 prm ">
                                                    @(Html.DevExtreme().DateBoxFor(x => x.Txt_Ref_CDate_CBox).CustomDateBox().ID("Txt_Ref_CDate_CBox").Name("Txt_Ref_CDate_CBox").Value(Model.Txt_Ref_CDate_CBox).ReadOnly(true).Min(new DateTime(1900, 01, 01)))
                                                    @Html.ValidationMessageFor(model => model.Txt_Ref_CDate_CBox, "", new { @class = "text-red" })
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" id="cbox_denomination_div">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div>
                                        <label id="lbl_collection_currency" class="text-red pll">Currency Denominations Details:</label>
                                    </div>
                                </div>
                                <div class="row" style="padding-top:8px;padding-bottom:8px">
                                    @Html.Partial("Frm_Voucher_Win_C_Box_D", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div id="cbox_remarks_div" style="padding-bottom:6px">
                                    <div class="row">
                                        <div class="col-sm-4 pll"><label class="control-label" for="Txt_Remarks_CBox" id="lbl_collection_remarks">Remarks :</label></div>
                                        <div class="col-sm-8 prm">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Remarks_CBox").Name("Txt_Remarks_CBox").Value(Model.Txt_Remarks_CBox).Placeholder("Type any Other Detail/Remarks...").ReadOnly(IsVisible).MaxLength(255) )
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 pll "><label class="control-label" for="Txt_Reference_CBox" id="lbl_collection_reference">Reference :</label></div>
                                        <div class="col-sm-8 prm ">
                                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Reference_CBox").Name("Txt_Reference_CBox").Value(Model.Txt_Reference_CBox).Placeholder("Type any Reference Details...").ReadOnly(IsVisible).MaxLength(255) )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div id="cbox_amount_div">
                                    <div class="row">
                                        <div style="text-align:center;"><label id="lbl_collection_amount" class="contetfont  text-red">Collection Box Amount:</label></div>

                                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Amount_CBox").Name("Txt_Amount_CBox").Value(Model.Txt_Amount_CBox).ReadOnly(true).InputAttr(new { @style = "text-align:center;color:dimgray" }).Format("#0.00").FocusStateEnabled(false))


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <div class="col-sm-2 pll"><label class="control-label" for="Txt_Narration_CBox" id="lbl_collection_narration">Narration :</label></div>
                                <div class="col-sm-10 prm ">
                                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Narration_CBox").Name("Txt_Narration_CBox").Value(Model.Txt_Narration_CBox).ReadOnly(true).MaxLength(255).Placeholder("Denominations =").FocusStateEnabled(false) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <div class="col-sm-2 pll">
                                    <label class="control-label text-red" id="lbl_cdw_purpose" for="Name">Purpose:</label>
                                </div>
                                <div class="col-sm-10 prm ">
                                    @(Html.DevExtreme().SelectBox().CustomSelectBox()
                                        .ID("PurposeList__CollBox").Name("PurposeList__CollBox")
                                        .DataSource(Model.CBox_PurposeList, "PUR_ID")
                                        .DisplayExpr("PUR_NAME").ValueExpr("PUR_ID")
                                        .Value(Model.PurposeList__CollBox).Placeholder("Select Purpose...").Disabled(false))
                                    @Html.ValidationMessageFor(model => model.PurposeList__CollBox, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Collection Box )...", Model.TempActionMethod.Substring(1)))
                            </div>
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <div class="styleActionBtn">
                                    @(Html.DevExtreme().Button().CustomSaveButton(Model.ActionMethod.ToString()).ID("CBoxVoucherEdit").Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("CollectionBox_SaveClick").Visible(Model.TempActionMethod == "_View" ? false : true) )
                                    @(Html.DevExtreme().Button().CustomCloseButton().ID("CBoxVoucherCancel").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->

            }
        }

    </div>

    <script>

        function CollectionBox_SaveClick(e)
        {
            
            if (ValidateForm(e)){
                var form = $("#Collection_validationForm");                
                if (e.component.option("text") == "Delete")
                {
                    DeleteAfterConfirmation("Confirm", "", form);
                }
                else
                {
                    form.submit();
                }
            }
        }

    function AjaxSuccessVoucherCBox(data)
    {
        dontaskpopupcloseconfirmation = true;
        HideLoader();
        if (data.jsonParam.result == false)
        {
            if (data.jsonParam.closeform)
            {
                    $("#Dynamic_Content_popup").dxPopup("hide");
            }
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function(alertResult)//redmine bug#131716 fix
                {
                if (alertResult)
                {
                    if (data.jsonParam.refreshgrid == true) {
                          RefreshGridView("@ViewBag.GridToRefresh");
                    }
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function()
                        {
                                $(id).find('input').focus();
                        }, 250);
                    }
                }
            });
        }
        else if (data.jsonParam.result == true)
        {
            var _ActiveTab_ID = $(".TabPanalMenu-tabs .active").attr("id");
            var saveAlertClick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            saveAlertClick.done(function (result)
            {
                if (result)
                {
                    if ("@ViewBag.GridToRefresh" != "CashBookListGrid")
                    {
                        RefreshGridView("@ViewBag.GridToRefresh");
                    }
                    if (/*typeof CashBookListGrid !== 'undefined'*/ _ActiveTab_ID == "contact_Frm_Voucher_Info_CB")
                    {
                        AfterVoucherClose_CB($("#Txt_V_Date_CBox").dxDateBox("instance").option("value"), "@Model.TempActionMethod", IsUndefinedOrNull(data.CashbookGridPK) ? "" : data.CashbookGridPK);
                        @*if ("@Model.TempActionMethod" == "_New" || "@Model.TempActionMethod" == "_New_From_Selection")
                        {
                            var confirm = DevExpress.ui.dialog.confirm("Add More Entry...?", "Cash Book");
                            confirm.done(function (dialogResult)
                            {
                                if (dialogResult)
                                {
                                    OnCashBookNewClick();
                                }
                            });
                        }*@
                    }
                    else if (_ActiveTab_ID == "contact_Frm_Voucher_Info") {
                        AfterVoucherClose_VoucherEntry();
                    }
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
            });
        }
    }

    </script>
    @* Save and save success *@
    <script>

        function Txt_Denomination_EditValueChanged(e) {
            var val_2000 = $("#Txt_2000").dxNumberBox('instance').option('value');
            $("#BE_2000").dxNumberBox('instance').option('value', val_2000 * 2000);
            //var val_1000 = $("#Txt_1000").dxNumberBox('instance').option('value');
            //$("#BE_1000").dxNumberBox('instance').option('value', val_1000 * 1000);
            var val_500 = $("#Txt_500").dxNumberBox('instance').option('value');
            $("#BE_500").dxNumberBox('instance').option('value', val_500 * 500);
            var val_200 = $("#Txt_200").dxNumberBox('instance').option('value');
            $("#BE_200").dxNumberBox('instance').option('value', val_200 * 200);
            var val_100 = $("#Txt_100").dxNumberBox('instance').option('value');
            $("#BE_100").dxNumberBox('instance').option('value', val_100 * 100);
            var val_50 = $("#Txt_50").dxNumberBox('instance').option('value');
            $("#BE_50").dxNumberBox('instance').option('value', val_50 * 50);
            var val_20 = $("#Txt_20").dxNumberBox('instance').option('value');
            $("#BE_20").dxNumberBox('instance').option('value', val_20 * 20);
            var val_10 = $("#Txt_10").dxNumberBox('instance').option('value');
            $("#BE_10").dxNumberBox('instance').option('value', val_10 * 10);
            var val_5 = $("#Txt_5").dxNumberBox('instance').option('value');
            $("#BE_5").dxNumberBox('instance').option('value', val_5 * 5);
            var val_2 = $("#Txt_2").dxNumberBox('instance').option('value');
            $("#BE_2").dxNumberBox('instance').option('value', val_2 * 2);
            var val_1 = $("#Txt_1").dxNumberBox('instance').option('value');
            $("#BE_1").dxNumberBox('instance').option('value', val_1 * 1);
            SetNarration();

        }

        function SetNarration() {
            var Narration_Text = "Denominations = ";
            $("#Txt_Narration_CBox").dxTextBox('instance').option("value", Narration_Text);
            var val_2000 = $("#Txt_2000").dxNumberBox('instance').option('value');
            //var val_1000 = $("#Txt_1000").dxNumberBox('instance').option('value');
            var val_500 = $("#Txt_500").dxNumberBox('instance').option('value');
            var val_200 = $("#Txt_200").dxNumberBox('instance').option('value');
            var val_100 = $("#Txt_100").dxNumberBox('instance').option('value');
            var val_50 = $("#Txt_50").dxNumberBox('instance').option('value');
            var val_20 = $("#Txt_20").dxNumberBox('instance').option('value');
            var val_10 = $("#Txt_10").dxNumberBox('instance').option('value');
            var val_5 = $("#Txt_5").dxNumberBox('instance').option('value');
            var val_2 = $("#Txt_2").dxNumberBox('instance').option('value');
            var val_1 = $("#Txt_1").dxNumberBox('instance').option('value');
            if (val_2000 > 0) {
                Narration_Text += "2000x" + val_2000 + ",";
            }
            //if (val_1000 > 0) {
            //    Narration_Text += "1000x" + val_1000 + ","
            //}
            if (val_500 > 0) {
                Narration_Text += "500x" + val_500 + ","
            }
            if (val_200 > 0) {
                Narration_Text += "200x" + val_200 + ","
            }
            if (val_100 > 0) {
                Narration_Text += "100x" + val_100 + ","
            }
            if (val_50 > 0) {
                Narration_Text += "50x" + val_50 + ","
            }
            if (val_20 > 0) {
                Narration_Text += "20x" + val_20 + ","
            }
            if (val_10 > 0) {
                Narration_Text += "10x" + val_10 + ","
            }
            if (val_5 > 0) {
                Narration_Text += "5x" + val_5 + ","
            }
            if (val_2 > 0) {
                Narration_Text += "2x" + val_2 + ","
            }
            if (val_1 > 0) {
                Narration_Text += "1x" + val_1 + ","
            }
            if (Narration_Text.endsWith(",")) {
                Narration_Text = Narration_Text.substring(0, Narration_Text.length - 1);
            }
            $("#Txt_Narration_CBox").dxTextBox('instance').option("value", Narration_Text);

        }

        function Amount_EditValueChanged(e) {
            var val_2000 = $("#BE_2000").dxNumberBox('instance').option('value');
            //var val_1000 = $("#BE_1000").dxNumberBox('instance').option('value');
            var val_500 = $("#BE_500").dxNumberBox('instance').option('value');
            var val_200 = $("#BE_200").dxNumberBox('instance').option('value');
            var val_100 = $("#BE_100").dxNumberBox('instance').option('value');
            var val_50 = $("#BE_50").dxNumberBox('instance').option('value');
            var val_20 = $("#BE_20").dxNumberBox('instance').option('value');
            var val_10 = $("#BE_10").dxNumberBox('instance').option('value');
            var val_5 = $("#BE_5").dxNumberBox('instance').option('value');
            var val_2 = $("#BE_2").dxNumberBox('instance').option('value');
            var val_1 = $("#BE_1").dxNumberBox('instance').option('value');
            var total = val_2000 /*+ val_1000*/ + val_500 + val_200 + val_100 + val_50 + val_20 + val_10 + val_5 + val_2 + val_1;
            $("#Txt_Amount_CBox").dxNumberBox("instance").option("value", total);


        }

    </script>
    @* Denomination value change*@
    <script>

     function Add_a_Donar_CBox()
     {
         if ("@ColBox_AddFacilityAddress" == "False")
         {
             DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
             return;
         }
        if ("@Model.TempActionMethod" == "_New" || "@Model.TempActionMethod" == "_Edit" || "@Model.TempActionMethod" == "_New_From_Selection") {

            AddParty("Pary_Add_or_Mng", "LookUp_GetPartyList1", "Add_a_Donar_CBox", "AddParty_CBox", "Address Book (Person Detail)...");
        }
     }// Add Donor

     function Manage_Donar_CBox()
     {
         if ("@ColBox_ListFacilityAddress" == "False")
         {
             DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
             return;
         }
        if ("@Model.TempActionMethod" == "_New" || "@Model.TempActionMethod" == "_Edit" || "@Model.TempActionMethod" == "_New_From_Selection") {

            ManageParty("Pary_Add_or_Mng", "LookUp_GetPartyList1", "Address Book (Manage Person)...");
        }
    }//Manage Donor



    </script>
    @* Add/Manage Person*@
<script>
    var Cmd_Mode_CBox;
    function Cmd_Mode_SelectedIndexChanged(e, firstCall = false)
    {
        if (e)
        {
            Cmd_Mode_CBox = e.value;
        }
        else
        {
            Cmd_Mode_CBox = $("#Cmd_Mode_CBox").dxSelectBox("instance").option("value");
        }
        if (Cmd_Mode_CBox != null)
        {
            if (Cmd_Mode_CBox == "CASH")
            {
                Fieldset_SetDisable("LayoutControlItem1", true);
                Fieldset_SetDisable("LayoutControlItem3", true);
                if (Cnt_BankAccount > 1)
                {
                    if (!firstCall)
                    {
                            $("#GLookUp_BankList_CBox").dxDropDownBox("instance").reset();
                            $("#BE_Bank_Branch_CBox").dxTextBox("instance").reset();
                            $("#BE_Bank_Acc_No_CBox").dxTextBox("instance").reset();
                    }
                }
                else
                {
                    $("#GLookUp_BankList_CBox").find('input').css('color', "#696969");
                    $("#BE_Bank_Branch_CBox").find('input').css('color', "#696969");
                    $("#BE_Bank_Acc_No_CBox").find('input').css('color', "#696969");
                }
                $("#GLookUp_RefBankList_CBox").dxDropDownBox("instance").reset();
                $("#Txt_Ref_Branch_CBox").dxTextBox("instance").reset();
                $("#Txt_Ref_No_CBox").dxTextBox("instance").reset();
                $("#Txt_Ref_Date_CBox").dxDateBox("instance").reset();
                $("#Txt_Ref_CDate_CBox").dxDateBox("instance").reset();
                $("#lbl_Bank_Title").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Bank_Name").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Branch_Name").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Acc_No").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Ref_Bank").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Ref_Branch").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Ref_Title").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Ref_No").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Ref_Date").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Ref_Cdate").removeClass("text-red").addClass("disabletxt");
                $("#lbl_Ref_Title").text("Reference Detail:");
                $("#lbl_Ref_No").text("Ref. No.:");
                $("#lbl_Ref_Date").text("Date:");
                $("#lbl_Ref_Cdate").text("Clearing Date:");
                $("#Txt_Ref_No_CBox").dxTextBox("instance").option("placeholder", "Type No...");
                Control_SetReadOnly("GLookUp_RefBankList_CBox", "dxDropDownBox", true);
                Control_SetReadOnly("Txt_Ref_Branch_CBox", "dxTextBox", true);
                Control_SetReadOnly("Txt_Ref_No_CBox", "dxTextBox", true);
                Control_SetReadOnly("Txt_Ref_Date_CBox", "dxDateBox", true);
                Control_SetReadOnly("Txt_Ref_CDate_CBox", "dxDateBox", true);
                }
            else {
                Fieldset_SetDisable("LayoutControlItem1", false);
                Fieldset_SetDisable("LayoutControlItem3", false);
            if (Cnt_BankAccount > 1)
            {
                if (!firstCall)
                {
                    $("#GLookUp_BankList_CBox").dxDropDownBox("instance").reset();
                    $("#BE_Bank_Branch_CBox").dxTextBox("instance").reset();
                    $("#BE_Bank_Acc_No_CBox").dxTextBox("instance").reset();
                }
            }
            else
            {
                $("#GLookUp_BankList_CBox").find('input').css('color', "#000080");
                $("#BE_Bank_Branch_CBox").find('input').css('color', "#000080");
                $("#BE_Bank_Acc_No_CBox").find('input').css('color', "#000080");
            }
            if (!firstCall)
            {
                $("#GLookUp_RefBankList_CBox").dxDropDownBox("instance").reset();
                $("#Txt_Ref_Branch_CBox").dxTextBox("instance").reset();
                $("#Txt_Ref_No_CBox").dxTextBox("instance").reset();
                $("#Txt_Ref_Date_CBox").dxDateBox("instance").reset();
                $("#Txt_Ref_CDate_CBox").dxDateBox("instance").reset();
            }

            $("#lbl_Bank_Title").removeClass("text-red").removeClass("disabletxt");
            $("#lbl_Bank_Name").addClass("text-red").removeClass("disabletxt");
            $("#lbl_Branch_Name").removeClass("text-red").removeClass("disabletxt");
            $("#lbl_Acc_No").removeClass("text-red").removeClass("disabletxt");
            $("#lbl_Ref_Bank").addClass("text-red").removeClass("disabletxt");
            $("#lbl_Ref_Branch").addClass("text-red").removeClass("disabletxt");
            $("#lbl_Ref_Title").removeClass("text-red").removeClass("disabletxt");
            $("#lbl_Ref_No").addClass("text-red").removeClass("disabletxt");
            $("#lbl_Ref_Date").addClass("text-red").removeClass("disabletxt");
            $("#lbl_Ref_Cdate").removeClass("text-red").removeClass("disabletxt");
            if (Cmd_Mode_CBox == "CHEQUE") {
                $("#lbl_Ref_Title").text("Cheque Detail:");
                $("#lbl_Ref_No").text("Cheque No.:");
                $("#lbl_Ref_Date").text("Cheque Date:");
                $("#lbl_Ref_Cdate").text("Clearing Date:");
                $("#Txt_Ref_No_CBox").dxTextBox("instance").option("placeholder", "Type Cheque No...");
            }
            else if (Cmd_Mode_CBox == "DD") {
                $("#lbl_Ref_Title").text("D.D. Detail:");
                $("#lbl_Ref_No").text("D.D. No.:");
                $("#lbl_Ref_Date").text("D.D. Date:");
                $("#lbl_Ref_Cdate").text("Clearing Date:");
                $("#Txt_Ref_No_CBox").dxTextBox("instance").option("placeholder", "Type D.D. No...");
            }
            Control_SetReadOnly("GLookUp_RefBankList_CBox", "dxDropDownBox", false);
            Control_SetReadOnly("Txt_Ref_Branch_CBox", "dxTextBox", false);
            Control_SetReadOnly("Txt_Ref_No_CBox", "dxTextBox", false);
            Control_SetReadOnly("Txt_Ref_Date_CBox", "dxDateBox", false);
            Control_SetReadOnly("Txt_Ref_CDate_CBox", "dxDateBox", false);
        }
        }
    }
</script>
    @* Cmd mode Change*@
    <script>
        async function GLookUp_ItemList_EditValueChanged(e, firstCall=false) {
            var itemID;
            if (e) {
                itemID = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    Item_CBox_DG.clearSelection();
                    return;
                }
            }
            else {
                itemID = $('#GLookUp_ItemList_CBox').dxDropDownBox('option','value')
            }
            await Item_CBox_DG.selectRows(itemID);
            if (Item_CBox_DG.getSelectedRowsData().length > 0) {
                var item = Item_CBox_DG.getSelectedRowsData()[0];
                $("#BE_Item_Head_CBox").dxTextBox("instance").option("value", item["LED_NAME"]);
                $("#iVoucher_Type").val(item["ITEM_VOUCHER_TYPE"]);
                $("#iLed_ID").val(item["ITEM_LED_ID"]);
                $("#iTrans_Type").val(item["ITEM_TRANS_TYPE"]);
            }
        }

        async function GLookUp_BankList_EditValueChanged(e, firstCall = false)
        {         
            let bankID = null;
            if (e) {
                bankID = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    Bank_CBox_DG.clearSelection();
                    return;
                }
            }
            else {
                bankID = $('#GLookUp_BankList_CBox').dxDropDownBox("option", "value");
            }
            await Bank_CBox_DG.selectRows(bankID);
            if (Bank_CBox_DG.getSelectedRowsData().length > 0) {
                var item = Bank_CBox_DG.getSelectedRowsData()[0];
                $("#BE_Bank_Branch_CBox").dxTextBox("instance").option("value", item["BANK_BRANCH"]);
                $("#BE_Bank_Acc_No_CBox").dxTextBox("instance").option("value", item["BANK_ACC_NO"]);
            }
        }

        async function GLookUp_RefBankList_EditValueChanged(e, firstCall=false) {
            let bankID = null;
            if (e) {
                bankID = e.value;
                if ((e.value == null || e.value.length == 0)&& e.previousValue != null) {
                    RefBank_CBox_DG.clearSelection();
                    return;
                }
            }
            else {
                bankID = $('#GLookUp_RefBankList_CBox').dxDropDownBox("option", "value");
            }
            await RefBank_CBox_DG.selectRows(bankID);            
        }

        async function GLookUp_PartyList1_EditValueChanged(e, firstCall = false) {
            let Party1Id = null;
            if (e) {
                Party1Id = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    Party1_CBox_DG.clearSelection();
                    return;
                }
            }
            else {
                Party1Id = $('#GLookUp_PartyList1_CBox').dxDropDownBox("option", "value");
            }
            await Party1_CBox_DG.selectRows(Party1Id);
            if (Party1_CBox_DG.getSelectedRowsData().length > 0) {
                var item = Party1_CBox_DG.getSelectedRowsData()[0];
                $("#Party1_LastEditedOn").val(JS_Json_Date_To_ddMMyyyy(item["REC_Edit_ON"]));

            }
        }

        async function GLookUp_PartyList2_EditValueChanged(e, firstCall = false) {
            let Party2Id = null;
            if (e) {
                Party2Id = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    Party2_CBox_DG.clearSelection();
                    return;
                }
            }
            else {
                Party2Id = $('#GLookUp_PartyList2_CBox').dxDropDownBox("option", "value");
            }
            await Party2_CBox_DG.selectRows(Party2Id);
            if (Party2_CBox_DG.getSelectedRowsData().length > 0) {
                var item = Party2_CBox_DG.getSelectedRowsData()[0];
                $("#Party2_LastEditedOn").val(JS_Json_Date_To_ddMMyyyy(item["REC_Edit_ON"]));

            }
        }



    </script>
    @* DD Value Change *@
    <script>

    var RefBank_CBox_DG;
    var Bank_CBox_DG;
    var Item_CBox_DG;
    var Party1_CBox_DG;
    var Party2_CBox_DG;
    var Cnt_BankAccount;
    var ActionMethod_CBox = "@Model.ActionMethod";
    function InitAllDropdownDatagrid_CBox()
    {
        var $Item_CBox_DG = $("#CBox_ItemList_datagrid");
        if ($Item_CBox_DG.length)
        {
            Item_CBox_DG = $Item_CBox_DG.dxDataGrid("instance");
        }
        var $Bank_CBox_DG = $("#CBox_BankList_datagrid");
        if ($Bank_CBox_DG.length) {
            Bank_CBox_DG = $Bank_CBox_DG.dxDataGrid("instance");
        }
        var $RefBank_CBox_DG = $("#CBox_BankRefList_datagrid");
        if ($RefBank_CBox_DG.length)
        {
            RefBank_CBox_DG = $RefBank_CBox_DG.dxDataGrid("instance");
        }
        var $Party1_CBox_DG = $("#CBox_PartyList1_datagrid");
        if ($Party1_CBox_DG.length) {
            Party1_CBox_DG = $Party1_CBox_DG.dxDataGrid("instance");
        }
        var $Party2_CBox_DG = $("#CBox_PartyList2_datagrid");
        if ($Party2_CBox_DG.length) {
            Party2_CBox_DG = $Party2_CBox_DG.dxDataGrid("instance");

        }
    }
    async function LookUp_GetItemList(FirstCall = false)
     {
        let item_DD_Arr = GetDataSourceItems("GLookUp_ItemList_CBox", "dxDropDownBox");
        if (item_DD_Arr.length == 1)
        {
            $("#GLookUp_ItemList_CBox").find('input').css('color', '#000080');
            if (ActionMethod_CBox == "_New" || ActionMethod_CBox == "_New_From_Selection")
            {
                await Item_CBox_DG.selectRows(item_DD_Arr[0].ITEMID);
                Control_SetReadOnly("GLookUp_ItemList_CBox", "dxDropDownBox", true);
                $("#lbl_collection_item").removeClass("text-red").addClass("disabletxt");
            }
        }
        else
        {
            if (ActionMethod_CBox == "_New" || ActionMethod_CBox == "_New_From_Selection")
            {
                Control_SetReadOnly("GLookUp_ItemList_CBox", "dxDropDownBox", false);
                $("#lbl_collection_item").addClass("text-red").removeClass("disabletxt");
            }
        }
     }
    async function LookUp_GetBankList(FirstCall = false) {
        let bank_DD_Arr = GetDataSourceItems("GLookUp_BankList_CBox", "dxDropDownBox");
        Cnt_BankAccount = bank_DD_Arr.length;
        if (bank_DD_Arr.length <= 0)
        {
            Control_SetReadOnly("Cmd_Mode_CBox","dxSelectBox",true)
           // $("#Cmd_Mode_CBox").dxSelectBox("instance").option("readOnly", true);
        }
        if (bank_DD_Arr.length == 1)
        {
            $("#GLookUp_BankList_CBox").find('input').css('color', '#696969');
            $("#BE_Bank_Branch_CBox").find('input').css('color', '#696969');
            $("#BE_Bank_Acc_No_CBox").find('input').css('color', '#696969');

            if (ActionMethod_CBox == "_New" || ActionMethod_CBox == "_New_From_Selection")
            {
                await Bank_CBox_DG.selectRows(bank_DD_Arr[0].BA_ID);
                Control_SetReadOnly("GLookUp_BankList_CBox", "dxDropDownBox", true);
            }
        }
        else
        {
            if (ActionMethod_CBox == "_New" ||ActionMethod_CBox == "_New_From_Selection")
            {
                Control_SetReadOnly("GLookUp_BankList_CBox", "dxDropDownBox", false);
            }
        }
    }
    async function LookUp_GetRefBankList(FirstCall = false)
    {
        if (ActionMethod_CBox == "_New" || ActionMethod_CBox == "_New_From_Selection")
        {
            Control_SetReadOnly("GLookUp_RefBankList_CBox", "dxDropDownBox", false);
        }
    }
    async function LookUp_GetPartyList1(FirstCall = false)
    {
        if (FirstCall == false)
        {
            $.ajax({
                type: 'GET',
                url: "/Account/CollectionBoxVoucher/LookUp_GetPartyListJson",
                cache: false,
                success: function (_data) {
                    $("#GLookUp_PartyList1_CBox").dxDropDownBox("option", "dataSource", new DevExpress.data.ArrayStore({
                        key: "C_ID",
                        data: _data
                    }));
                    $("#GLookUp_PartyList2_CBox").dxDropDownBox("option", "dataSource", new DevExpress.data.ArrayStore({
                        key: "C_ID",
                        data: _data
                    }));               
                    Party1_CBox_DG.option("dataSource", $("#GLookUp_PartyList1_CBox").dxDropDownBox("option", "dataSource"))
                    Party2_CBox_DG.option("dataSource", $("#GLookUp_PartyList2_CBox").dxDropDownBox("option", "dataSource"))
                    ResetDropdownWithSameValue("GLookUp_PartyList1_CBox", Party1_CBox_DG);
                    ResetDropdownWithSameValue("GLookUp_PartyList2_CBox", Party2_CBox_DG);
                    $("#GLookUp_PartyList1_CBox").dxDropDownBox("focus");
                }
            });
        }
        if (ActionMethod_CBox == "_New" || ActionMethod_CBox == "_New_From_Selection")
        {
            Control_SetReadOnly("GLookUp_PartyList1_CBox", "dxDropDownBox", false);
            Control_SetReadOnly("GLookUp_PartyList2_CBox", "dxDropDownBox", false);
        }        
    }
    async function LookUp_GetPartyList2(FirstCall = false)
    {
        if (ActionMethod_CBox== "_New" || ActionMethod_CBox == "_New_From_Selection")
        {
            Control_SetReadOnly("GLookUp_PartyList2_CBox", "dxDropDownBox", false);
        }
    }


     $(function () {
        $("#PurposeList__CollBox").dxSelectBox({})
            .dxValidator({
                validationRules: [{
                    type: 'custom',
                    validationCallback: function (options) {
                        var result = true;
                        if ("@Model.ActionMethod" == "_New" ||"@Model.ActionMethod" == "_New_From_Selection"||"@Model.ActionMethod" == "_Edit") {

                            if (options.value == "" || options.value ==null) {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: " Purpose Cannot Be Blank..!!"
                }],
                validationGroup: "CollBox_Voucher"
            });//redmine Bug #133286 fix
    });
    </script>
    @* DD init *@
<script>

    $(document).ready(function ()
    {
        ShowLoader_Ready();
        if ("@ColBox_AddFacilityAddress" == "False")
        {
            $("#AddParty_CBox").hide();
        }
        if ("@ColBox_ListFacilityAddress" == "False")
        {
            $("#ManageParty_CBox").hide();
        }
        InitAllDropdownDatagrid_CBox();
        TransformTextForDB("Collection_validationForm");

        //$("#Cbox_AddParty").height($("#Cbox_PersonDiv").height());
        //$("#Cbox_ManParty").height($("#Cbox_PersonDiv").height());
        //$("#cbox_remarks_div").height($("#cbox_amount_div").height());
        Promise.all([LookUp_GetItemList(true), LookUp_GetBankList(true), LookUp_GetRefBankList(true), LookUp_GetPartyList1(true)]).then((r) =>
        {
            sessionclearpath = "/Account/CollectionBoxVoucher/SessionClear";
            $("#Txt_Narration_CBox").find('input').css('color', "#696969");
            if ("@Model.ActionMethod" != "_View")
            {
                dontaskpopupcloseconfirmation = false;
            }
            if ("@Model.ActionMethod" == "_Delete") {
                dontaskpopupcloseconfirmation = true;
            }
            if ("@Model.ActionMethod" == "_Edit" || "@Model.ActionMethod" == "_View" || "@Model.ActionMethod" == "_Delete")
            {
                Cmd_Mode_SelectedIndexChanged(null, true);
                GLookUp_ItemList_EditValueChanged(null, true);
                Control_SetReadOnly("GLookUp_ItemList_CBox", "dxDropDownBox", false);
                if ("@Model.GLookUp_BankList_CBox".length > 0)
                {
                    GLookUp_BankList_EditValueChanged(null, true);
                }
                Control_SetReadOnly("GLookUp_BankList_CBox", "dxDropDownBox", false);
                if ("@Model.GLookUp_RefBankList_CBox".length > 0)
                {
                    GLookUp_RefBankList_EditValueChanged(null, true);
                    Control_SetReadOnly("GLookUp_RefBankList_CBox", "dxDropDownBox", false);
                }
                GLookUp_PartyList1_EditValueChanged(null, true);
                Control_SetReadOnly("GLookUp_PartyList1_CBox", "dxDropDownBox", false);
                GLookUp_PartyList2_EditValueChanged(null, true);
                Control_SetReadOnly("GLookUp_PartyList2_CBox", "dxDropDownBox", false);
            }
            else if ("@Model.ActionMethod" == "_New_From_Selection")
            {
                GLookUp_ItemList_EditValueChanged(null, true);
                Control_SetReadOnly("GLookUp_ItemList_CBox", "dxDropDownBox", true);
            }
            if ("@Allow_Bank_In_C_Box" == "False")
            {
                $("#Cmd_Mode_CBox").dxSelectBox("option", "value", "CASH");
                Control_SetReadOnly("Cmd_Mode_CBox", "dxSelectBox", true)
               // $("#Cmd_Mode_CBox").dxSelectBox("instance").option("readOnly", true);
            }
            if ("@Model.ActionMethod" == "_New" || "@Model.ActionMethod" == "_New_From_Selection")
            {
                Cmd_Mode_SelectedIndexChanged(null, true);
                if ("@Model.GLookUp_PartyList1_CBox".length > 0)
                {
                    GLookUp_PartyList1_EditValueChanged(null, true);
                    Control_SetReadOnly("GLookUp_PartyList1_CBox", "dxDropDownBox", false);
                }
                if ("@Model.GLookUp_PartyList2_CBox".length > 0)
                {
                    GLookUp_PartyList2_EditValueChanged(null, true);
                    Control_SetReadOnly("GLookUp_PartyList2_CBox", "dxDropDownBox", false);
                }
            }
            Txt_Denomination_EditValueChanged()//to trigger value change function
            FormInitialSettings("Collection_validationForm", "@Model.ActionMethod",false);
        });
    });
</script>
    @* document.ready *@
    <script>

        $(function () {
            RestrictNumberBoxLength(5, "CBoxNumberBoxMaxLength");// Redmine Bug#133532 fix

        });

    </script>

</div>
