@using DevExtreme.AspNet.Mvc;
@using System.Web.UI.WebControls;
@model ConnectOneMVC.Areas.Start.Models.VouchingAuditModel
<div style="padding:10px;">
    <form class="parent_table" id="vouchingcheckGridDiv">@Html.Partial("VouchingForm_CashDonations", Model)</form>
    <div class="styleActionBtn">
        @(Html.DevExtreme().Button().ID("BUT_VouchingPopup").Text("Open Entry").Icon("doc").OnClick(@<text>function () {PopupVoucher()}</text>))
        @(Html.DevExtreme().Button().Text("Reject & Next").ID("BUT_voucher_reject").Icon("fa fa-times-circle fa-w-16 btn-icons crossred").OnClick("Vouching_Reject_click") )
        @(Html.DevExtreme().Button().Text("Skip & Next").ID("BUT_voucher_skip").Icon("fa fa-times-circle fa-w-16 btn-icons crossred").OnClick("Vouching_Skip_click") )
        @(Html.DevExtreme().Button().Text("Accept & Next").ID("BUT_voucher_accept").Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen").OnClick("Vouching_Accept_click"))
        @(Html.DevExtreme().Popup().CustomPopup().ID("Vouching_Inner_Popup").Position(PositionAlignment.LeftBottom).ResizeEnabled(true).DragEnabled(true).Shading(false).CloseOnOutsideClick(false).ShowTitle(true).Title("New ~ ").MaxWidth(750).ResizeEnabled(true).ContentTemplate(@<text><div id="result_Vouching_Inner_Popup" style="height:100%"></div></text>))
    </div>
</div>
new mail panel here
