
@Html.DevExpress().Label(
    settings => {
        settings.Name = "indicesLabel";
        settings.Text = "Market leaders";
        settings.ControlStyle.Font.Bold = true;
    }
).GetHtml()
<table style="width:100%; text-align: center;">
        <tr>
            <td style="width: 30%">
                @Html.DevExpress().HyperLink(
                    settings => {
                        settings.Name = "indexHyperLink";
                        settings.Properties.Text = "marketLeader";
                        settings.NavigateUrl = "javascript:void(0)";
                    }
                ).GetHtml()
            </td>
            <td style="width: 30%">
                @Html.DevExpress().Label(
                    settings => {
                        settings.Name = "valueLabel";
                        settings.Text = "marketLeader";
                    }
                ).GetHtml()
            </td>
            <td style="width: 30%">
                @Html.DevExpress().Label(
                    settings => {
                        settings.Name = "growthLabel";
                        settings.Text = "marketLeader";
                       // settings.ControlStyle.ForeColor = Color.Green;
                    }
                ).GetHtml()
            </td>
        </tr>
</table>
@Html.DevExpress().Label(
    settings => {
        settings.Name = "currencyLabel";
        settings.Text = "Currency rates";
        settings.ControlStyle.Font.Bold = true;
    }
).GetHtml()
<table style="width:100%; text-align: center;">
        <tr>
            <td style="width: 30%">
                @Html.DevExpress().HyperLink(
                    settings => {
                        settings.Name = "currencyHyperLink" ;
                        settings.Properties.Text = "RS";
                        settings.NavigateUrl = "javascript:void(0)";
                    }
                ).GetHtml()
                Trading Panel here
            </td>
            <td style="width: 30%">
                @Html.DevExpress().Label(
                    settings => {
                        settings.Name = "currencyValueLabel" ;
                        settings.Text = "72";
                    }
                ).GetHtml()
            </td>
        </tr>
</table>