
@Html.DevExpress().HyperLink(
    settings => {
        settings.Name = "hyperLink";
        settings.Properties.Text = "Today";
        settings.NavigateUrl = "javascript:void(0)";
        settings.ControlStyle.Font.Size =20;
    }
).GetHtml()
<table style="width:100%; text-align: center;">
    <tr>
        <td>
            @Html.DevExpress().Image(
                settings => {
                    settings.Name = "image1";
                    settings.ImageUrl = Url.Content("~/Content/image/bank-donation.png");
                    settings.ControlStyle.CssClass = "todayImg";
                }
            ).GetHtml()
        </td>
        <td style="text-align: left;">
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "label1";
                    settings.Text = "+4°C";
                    settings.ControlStyle.Font.Bold = true;
                    settings.ControlStyle.Font.Size = 20;
                }
            ).GetHtml()
        </td>
        <td colspan="2" style="text-align: left;">
            Current: Rain
            <br />
            Wind: N at 26 km/h
            <br />
            Humidity: 81%
        </td>
    </tr>
    <tr>
            <td>
                <div class="dayUCContainer">
                    <div>
                        @Html.DevExpress().HyperLink(
                            settings => {
                                settings.Name = "DayOfWeekHyperLink";
                                settings.Properties.Text ="1";
                            }
                        ).GetHtml()
                    </div>
                    <div>
                        @Html.DevExpress().Image(
                            settings => {
                                settings.Name = "WeatherImage";
                                settings.ImageUrl = "";
                            }
                        ).GetHtml()
                    </div>
                    <div>
                        @Html.DevExpress().HyperLink(
                            settings => {
                                settings.Name = "TemperatureHyperLink";
                                settings.Properties.Text = "37";
                                settings.ControlStyle.Wrap = DefaultBoolean.False;
                            }
                        ).GetHtml()
                    </div>
                </div>
            </td>
    </tr>
</table>