<div class="ServiceMaterialWindowFacility_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Facility.Models.GodlyServiceMaterial
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        var SessionGUID = Request.QueryString["SessionGUID"];
    }
    @*<link href="@Url.Content("~/Content/css/index.css")" rel="Stylesheet" />*@
    <div id="GodlyServiceReportWindow_DIV">
        @using (Ajax.BeginForm("Frm_Service_Material_Window", "Facility",
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                                UpdateTargetId = "ServiceMaterialWindow",
                                                InsertionMode = InsertionMode.InsertAfter,
                                                OnBegin = "AjaxBeginFormPost",
                                                OnSuccess = "Frm_Service_Material_AjaxSuccessForm"
                                            },
                                    new
                                    {
                                        id = "ServiceMaterialForm",
                                        @class = "edit_form form-horizontal"
                                    }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.PopupName_GSM)
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.Tag)
            @Html.HiddenFor(x => x.Info_LastEditedOn)
            @Html.HiddenFor(x => x.LastEditedOn)
            @Html.HiddenFor(x => x.TitleX_GSM)
            @Html.HiddenFor(x => x.xID_GSM)

            using (Html.DevExtreme().ValidationGroup("ServiceMaterialValidator"))
            {
                <div class="container-fluid">
                    <div class="full-width-header-bg2">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3 class="popuphead"><i class="far fa-edit"></i> Godly Service Material</h3>
                            </div>
                            <div class="col-sm-4 prm">
                                <h5 class="mand-txt-align">
                                    <i class="fas fa-info-circle"></i> Red Fields are mandatory
                                </h5>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-red" })
                        </div>
                    </div><!--[Header]-->
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-field">
                                @Html.Label("Project/Occasion:", htmlAttributes: new { @class = "control-label" })
                                @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_ProjList_GSM").Name("Look_ProjList_GSM").Placeholder("Select Project...").DataSource(Model.ProjectNameList_Data, "ID").OnValueChanged("Look_ProjList_EditValueChanged_GSM") .DisplayExpr("Name").ValueExpr("ID").Value(string.IsNullOrWhiteSpace(Model.Look_ProjList_GSM)? "8f6b3279-166a-4cd9-8497-ca9fc6283b25" : Model.Look_ProjList_GSM))@*Redmine Bug #136142 fixed*@
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-field">
                                @Html.Label("Title:", htmlAttributes: new { @class = "control-label text-red " })
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Title_GSM").Name("Txt_Title_GSM").Value(Model.Txt_Title_GSM).Placeholder("Type Title..."))
                            </div>
                        </div>
                    </div> <!---[Project and Title:]--->
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-field">
                                <label class="control-label text-red">Material Category:</label>
                                @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_MaterialType_GSM").Name("Look_MaterialType_GSM").AcceptCustomValue(true).OnCustomItemCreating("MaterialCategoryCustomItemCreating_GSM").Placeholder("Select/Type Material Category...").Value(Model.Look_MaterialType_GSM).DisplayExpr("Info").ValueExpr("Info")//.OnValueChanged("Prog_Type_ValueChange_GSR")
                           /* .Items(new[] { "Article", "Documentary", "Film", "Talkshow", "Research Paper", "Report", "Summary", "Others" })*/.SearchMode(DropDownSearchMode.Contains).DataSource(Model.MaterialCategoryList,"Info"))
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-field">
                                <label class="control-label text-red">Material Sub Category:</label>
                                @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Look_MaterialSubCategory_GSM").Name("Look_MaterialSubCategory_GSM").AcceptCustomValue(true).OnCustomItemCreating("MaterialSubCategoryCustomItemCreating_GSM").Placeholder("Select/Type Material Sub Category...").Value(Model.Look_MaterialSubCategory_GSM).DisplayExpr("Info").ValueExpr("Info")//.OnValueChanged("Prog_Type_ValueChange_GSR")
                           /* .Items(new[] { "Article", "Documentary", "Film", "Talkshow", "Research Paper", "Report", "Summary", "Others" })*/.SearchMode(DropDownSearchMode.Contains).DataSource(Model.MaterialSubCategoryList,"Info"))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-field">

                                @Html.Label("Speaker/Author/Publisher :", htmlAttributes: new
                                {
                                    @class = "control-label",@*@style = "font-weight:500"*@})
                                @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                    .ID("Txt_ProgSpeaker_GSM")
                                                    .Name("Txt_ProgSpeaker_GSM")
                                                    .Placeholder("Type Speaker/Author/Publisher Details...")    /*Redmine Bug #136130 fixed*/
                                                    .Value(Model.Txt_ProgSpeaker_GSM)

                    )

                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-field">
                                @Html.Label("Date of Publish: ", htmlAttributes: new { @class = "control-label" })
                                @(Html.DevExtreme().DateBoxFor(x => x.PublishDate_GSM).CustomDateBox() .ID("PublishDate_GSM") .Name("PublishDate_GSM") @*.OnValueChanged("Date_EditValueChanged_GSM")*@ .Min(new DateTime(1900,01,01)))
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-field" style="padding-top:18px;padding-bottom:8px">                                                       
                                @(Html.DevExtreme().Switch().ID("Switch_PublicPrivate_GSM").Name("Switch_PublicPrivate_GSM").SwitchedOnText("Private").SwitchedOffText("Public")
                                                                    .Value(Model.Switch_PublicPrivate_GSM).Width(100))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Partial("Frm_Wing_tab_GSM", Model)
                        </div>   
                    </div>                       
                    <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-field">
                                    <label class="control-label" @*style="font-weight:500"*@>Online Link: (* For Multiple Links, please enter separated by comma)</label>@*Redmine Bug #136127 fixed*@
                                    @(Html.DevExtreme().TextArea().ID("Txt_OnlineLink_GSM").Name("Txt_OnlineLink_GSM").Value(Model.Txt_OnlineLink_GSM).ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
                                                   .Placeholder("Provide YouTube or other link if any...").Height(55).AutoResizeEnabled(true))@*Redmine Bug #136143 fixed*@

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-field">
                                                <label class="control-label" @*style="font-weight:500"*@>Preview Image Link: (* For Multiple Links, please enter separated by comma)</label>@*Redmine Bug #136127 fixed*@
                                                @(Html.DevExtreme().TextArea().ID("Txt_PreviewImagePath_GSM").Name("Txt_PreviewImagePath_GSM").Value(Model.Txt_PreviewImagePath_GSM).ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
                                      .Placeholder("Provide Preview Image Link").Height(55).AutoResizeEnabled(true))
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-field" @*style="height: 150px;"*@>
                                                @*Redmine Bug #136143 fixed*@

                                                @Html.Label("Remarks: ", htmlAttributes: new
                                                {
                                                    @class = "control-label",@*@style = "font-weight:500"*@})

                                                @(Html.DevExtreme().TextArea()
                                                            .ID("Txt_ProgBrief_GSM")
                                                            .Name("Txt_ProgBrief_GSM")
                                                            .ReadOnly(false)
                                                            .Height(50)
                                                            .AutoResizeEnabled(true)
                                                            .Placeholder("Type Remarks...")
                                                            .Value(Model.Txt_ProgBrief_GSM)
                                            .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })/*Redmine Bug #136143 fixed*/
                            )

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-field">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        @Html.Label("Godly Service Material:", htmlAttributes: new{@class = "control-label",@*@style = "font-weight:500"*@})
                                                    </div>
                                                    <div class="col-sm-2">
                                                        @(Html.DevExtreme().Button().ID("GodlyServiceMaterial_GSM").Text("Add / Edit").UseSubmitBehavior(false).OnClick(string.Format("function(e){{AttachmentAddEditClick(e,'{0}','{1}')}}", "Attach_GSM", Model.ActionMethod)).Disabled(Model.ActionMethod=="_Delete"|| Model.ActionMethod == "_View"))
                                                    </div>
                                                    <div class="col-sm-12 spanMediaTab">
                                                        <span id="span_FileName_Attach_GSM" style="color:blue">@Model.AttachmentFileNames</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-field">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        @Html.Label("Godly Service Material - Preview: ", htmlAttributes: new{@class = "control-label",@*@style = "font-weight:500"*@})
                                                    </div>
                                                    <div class="col-sm-2">
                                                        @(Html.DevExtreme().Button().ID("GodlyServiceMaterialPreview_GSM").Text("Add / Edit").UseSubmitBehavior(false).OnClick(string.Format("function(e){{AttachmentAddEditClick(e,'{0}','{1}')}}", "PrevAttach_GSM",Model.ActionMethod)).Disabled(Model.ActionMethod=="_Delete"|| Model.ActionMethod == "_View"))
                                                    </div>
                                                    <div class="col-sm-12 spanMediaTab">
                                                        <span id="span_FileName_PrevAttach_GSM" style="color:blue">@Model.PreviewAttachmentFileNames</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-field">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6 col-lg-6 ">
                                                        @*@Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ Contact)...", Model.ActionMethod.ToString().Substring(1)))*@
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        <div class="styleActionBtn">                                                      
                                                            @(Html.DevExtreme().Button().CustomSaveButton().ID("Save_GSM").Text(Model.ActionMethod == "_Delete" ? "Yes" : "Save").FocusStateEnabled(true).UseSubmitBehavior(false)@*.Visible(Model.ActionMethod == "_Delete" ? true : false)*@.OnClick("GSM_SaveClick") )
                                                            @(Html.DevExtreme().Button().CustomCloseButton().ID("Cancel_GSM").Text(Model.ActionMethod == "_Delete" ? "No" : "Cancel").OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>)@*.Visible(String.IsNullOrEmpty(Model.ReporterCenID)?true:false)*@ )
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--[Buttons]-->
                                </div>
                                @Html.Partial("_AttachmentsPopUp","PrevAttach_GSM,"+Model.ActionMethod+","+Model.xID_GSM+",Facility_GodlyServiceMaterial")
                                @Html.Partial("_AttachmentsPopUp","Attach_GSM," + Model.ActionMethod + "," + Model.xID_GSM + ",Facility_GodlyServiceMaterial")
                            }
                        }
    </div>
    <script>
        var Tag_GSM = "@Model.ActionMethod";
        var Saved_Attachment_PrevAttach_GSM = @Html.Raw(Json.Encode(Model.PreviewAttachmentDetails));
        var Saved_Attachment_Attach_GSM = @Html.Raw(Json.Encode(Model.AttachmentDetails));
        var Attachments_Srno_PrevAttach_GSM = 0;
        var Attachments_Srno_Attach_GSM = 0;
        var fromRemovefile_PrevAttach_GSM = false;
        var fromRemovefile_Attach_GSM = false;    
    </script>
    @*Global Variables*@
    <script>
        function Look_ProjList_EditValueChanged_GSM(e)
        {
            //if (e.value == null)
            //{
            //    $("#Look_ProjList_GSM").dxSelectBox("instance").option("value", e.previousValue);
            //}//Redmine Bug #136142 fixed
        }
        function MaterialCategoryCustomItemCreating_GSM(e)
        {
            if (e.text == null || e.text.trim().length == 0)
            {
                e.customItem = null;
                return;
            }
            //var Items = e.component.option("items");
            //Items.push(e.text);
            //Items.sort(function (a, b)
            //{
            //    return a.toLowerCase().localeCompare(b.toLowerCase());
            //});
            //e.component.option("items", Items);
            var dataSource = e.component.getDataSource();
            var result = dataSource.store().insert({ Info: e.text.toUpperCase()});
            result.done(function (data)
            {
                dataSource.sort("Info");
                dataSource.load();
            })
            e.customItem = result;
            //e.customItem = result;
        }
        function MaterialSubCategoryCustomItemCreating_GSM(e) {
            if (e.text == null || e.text.trim().length == 0) {
                e.customItem = null;
                return;
            }
            //var Items = e.component.option("items");
            //Items.push(e.text);
            //Items.sort(function (a, b)
            //{
            //    return a.toLowerCase().localeCompare(b.toLowerCase());
            //});
            //e.component.option("items", Items);
            var dataSource = e.component.getDataSource();
            var result = dataSource.store().insert({ Info: e.text.toUpperCase() });
            result.done(function (data) {
                dataSource.sort("Info");
                dataSource.load();
            })
            e.customItem = result;
            //e.customItem = result;
        }
        async function Look_Wings_GSM_ValueChange(e) {
            var value;
            var DG = $("#Look_Wings_GSM_datagrid").dxDataGrid("instance");
            if (e) {
                value = e.value;
                if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                    DG.clearSelection();
                    DG.refresh();
                    return;
                }
            }
            else {
                value = $("#Look_Wings_GSM").dxDropDownBox("option", "value");
            }
            await DG.selectRows(value);
            DG.refresh();
        }
        function sortWingType_GSM(value1, value2) {
            var grid = $("#Look_Wings_GSM_datagrid").dxDataGrid("instance");
            var isSelected1 = grid.isRowSelected(value1),
                isSelected2 = grid.isRowSelected(value2);

            if (isSelected1 && !isSelected2) return -1;
            if (!isSelected1 && isSelected2) return 1;

            return 0;
        }
        function DG_OnRowClick_GSM(e) {
            if (e.isSelected) {
                e.component.deselectRows(e.key);
            }
            else {
                e.component.selectRows(e.key, true);
            }
        }
    </script>
    @*ValueChange and Button Click functions*@
<script>
    $(document).ready(async function ()
    {
        ShowLoader_Ready();
        $("#Txt_Title_GSM").find("input").addClass("CleanTextForDB");
        $("#Txt_OnlineLink_GSM").find("input").addClass("CleanTextForDB");
        $("#Txt_ProgBrief_GSM").find("input").addClass("CleanTextForDB");
        $("#Txt_ProgSpeaker_GSM").find("input").addClass("CleanTextForDB");
        if (Tag_GSM != "_View")
        {
            dontaskpopupcloseconfirmation = false;
        }
        TransformTextForDB("ServiceMaterialForm");
        Look_Wings_GSM_ValueChange();
        Set_Form_View_Delete_Mode(null, "ServiceMaterialForm", Tag_GSM);
        HideLoader_Ready();
    });
    function GSM_SaveClick(e)
    {
        ShowLoader();
        var form = $("#ServiceMaterialForm");
        if (ValidateForm(e))
        {
            if (Tag_GSM == "_Delete")
            {
                HideLoader();
                DeleteAfterConfirmation("@Model.TitleX_GSM", "", form);
            }
            else
            {
                if (IsNullOrWhitespace("Look_ProjList_GSM", "dxSelectBox"))
                {
                    $("#Look_ProjList_GSM").dxSelectBox("option", "value", "8f6b3279-166a-4cd9-8497-ca9fc6283b25");
                }
                var SelectedWingValue = $("#Look_Wings_GSM").dxDropDownBox("instance").option("value");
                var WingCount = parseInt($("#WingListData_Count").val());
                for (var i = 0; i < WingCount; i++)
                {
                    var wingID = $("#Wings_List_GSM_" + i + "__ID").val();
                    if (SelectedWingValue.includes(wingID))
                    {
                        $("#Wings_List_GSM_" + i + "__Selected").val("true");
                    }
                }
                GSM_FormSubmit()
            }
        }
        else
        {
            HideLoader();
        }
    }
    function GSM_FormSubmit()
    {
        ShowLoader();
        var formdata = new FormData($("#ServiceMaterialForm").get(0));
        var files_Attachment = [];
        var files_PreviewAttachment = [];
        var attchType_Count = 0;
        if ($("#myFile_Attach_GSM").dxFileUploader("instance")) {
            files_Attachment = $("#myFile_Attach_GSM").dxFileUploader("instance").option("value");
        }
        if ($("#myFile_PrevAttach_GSM").dxFileUploader("instance"))
        {
            files_PreviewAttachment = $("#myFile_PrevAttach_GSM").dxFileUploader("instance").option("value");
        }
        if (files_Attachment != null && files_Attachment.length > 0)
        {
            const inputvalues = document.querySelectorAll('#galleryContainer_Attach_GSM .newcaption')
            var i = 0;
            if (Saved_Attachment_Attach_GSM != null && Saved_Attachment_Attach_GSM.length > 0)
            {
                i = Saved_Attachment_Attach_GSM.length;
            }
            for (i; i < inputvalues.length; i++)
            {
                formdata.append('SaveAttachments['+attchType_Count+'].Help_File_caption[]', inputvalues[i].value);
            }         
            for (i = 0; i < files_Attachment.length; i++)
            {
                if (i == 0)
                {
                    formdata.set("myFile_Attach_GSM", files_Attachment[i]);
                }
                else
                {
                    formdata.append("myFile_Attach_GSM", files_Attachment[i]);
                }
            }
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Document_FileName', '');
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Document_NameID', "773a84f7-d926-4fda-866b-af972394980d");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Byte_SessionName', "");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Post_Area_Name', "Help");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Post_Controller_Name', "Attachment");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_REF_REC_ID', "@Model.xID_GSM");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_REF_SCREEN', "Facility_GodlyServiceMaterial");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Document_Description', '');
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Checked', false);
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_uploadControlName', "myFile_Attach_GSM");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_uploadControlActionMethod', "New");
            attchType_Count++;
        }
        if (files_PreviewAttachment != null && files_PreviewAttachment.length > 0)
        {
            const inputvalues = document.querySelectorAll('#galleryContainer_PrevAttach_GSM .newcaption')
            var i = 0;
            if (Saved_Attachment_PrevAttach_GSM != null && Saved_Attachment_PrevAttach_GSM.length > 0)
            {
                i = Saved_Attachment_PrevAttach_GSM.length;
            }
            for (i; i < inputvalues.length; i++)
            {
                formdata.append('SaveAttachments[' + attchType_Count +'].Help_File_caption[]', inputvalues[i].value);
            }        
            for (i = 0; i < files_PreviewAttachment.length; i++)
            {
                if (i == 0)
                {
                    formdata.set("myFile_PrevAttach_GSM", files_PreviewAttachment[i])
                }
                else
                {
                    formdata.append("myFile_PrevAttach_GSM", files_PreviewAttachment[i]);
                }
            }
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Document_FileName', '');
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Document_NameID', "e9123660-5011-48e9-b7ce-668060188a31");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Byte_SessionName', "");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Post_Area_Name', "Help");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Post_Controller_Name', "Attachment");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_REF_REC_ID', "@Model.xID_GSM");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_REF_SCREEN', "Facility_GodlyServiceMaterial");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Document_Description', '');
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_Checked', false);
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_uploadControlName', "myFile_PrevAttach_GSM");
            formdata.append('SaveAttachments[' + attchType_Count +'].Help_uploadControlActionMethod', "New");
        }
        $.ajax({
            xhr: function () {
                var xhr = new window.XMLHttpRequest();

                // Upload progress
                xhr.upload.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = ((evt.loaded / evt.total) * 100).toFixed();
                        var message = "Uploading File: " + percentComplete + "%";
                        if (percentComplete == "100") {
                            message = "Writing Files To Disk...";
                        }
                        ChangeTextOfLoader(message);
                    }
                }, false);

                // Download progress
                //xhr.addEventListener("progress", function (evt) {
                //    if (evt.lengthComputable) {
                //        var percentComplete = ((evt.loaded / evt.total) * 100).toFixed(2);
                //        // Do something with download progress
                //        console.log(percentComplete);
                //    }
                //}, false);

                return xhr;
            },
            url: "/Facility/GodlyServiceMaterial/Frm_Service_Material_Window",
            type: "post",
            data: formdata,
            contentType: false,
            processData: false,
            success: function (data) {
                Frm_Service_Material_AjaxSuccessForm(data)
            }
        });
    }
        function Frm_Service_Material_AjaxSuccessForm(data) {
            HideLoader();
            dontaskpopupcloseconfirmation = true;
            if (data.jsonParam.result == false) {
                if (data.jsonParam.closeform) {
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
                if (data.jsonParam.refreshgrid) {
                    RefreshGridView("ServiceMaterialListGrid");
                }
                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertclick.done(function (alertResult) {
                    if (alertResult) {
                        if (data.jsonParam.focusid) {
                            var id = "#" + data.jsonParam.focusid;
                            setTimeout(function () {
                                if (id == "#Txt_OnlineLink_GSM" || id == "#Txt_ProgBrief_GSM" /*|| id == "#Txt_ProgSpeaker_GSM"*/) {
                                    $(id).dxTextArea("focus");
                                }
                                else {
                                    $(id).find('input').focus();
                                }
                            }, 100);
                        }
                    }
                });
            }
            else if (data.jsonParam.result == true) {
                var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
                alertclick.done(function (result) {
                    if (result) {
                        AfterWindowClose_GSM(Tag_GSM, data.xID); //Redmine Bug #136159 fixed
                        $("#Dynamic_Content_popup").dxPopup("hide");
                    }

                })
            }
        }
</script>
    @*Document.ready and AjaxSuccess Functions*@

</div>