@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.GodlyServiceMaterial

@{ 
    var WingList = Model.WingListData_GSM;
    List<string> SelectedWing = new List<string>();
    if (Model.Wings_List_GSM != null) { SelectedWing = Model.Wings_List_GSM.Select(y => y.ID).ToList(); }

    //var WingList = ViewBag.WingList as List<ConnectOneMVC.Areas.Facility.Models.WingsList>;
}

<style>

    .GSRWing-list .dx-checkbox.dx-state-focused {
        background: #316ac5;
        color: #FFFFFF;
    }
</style>
<div>       
        @*<div class="row">
            <div class="col-sm-12">       
            <div class="form-field">                                 
                        @(Html.DevExtreme().CheckBox().ID("Chk_WingBasedFlag_GSR").Name("Chk_WingBasedFlag_GSR").Text("Wing Based Program **( Please Skip If No Wing Is Involved Else Tick This Check Box To Choose Wings From Below )").OnValueChanged("Chk_WingBasedFlag_CheckedChanged_GSR").Value(Model.Chk_WingBasedFlag_GSR=="1"?true:false) )
                        
                    </div>
                </div>
            </div>*@   

        <div class="row">
            <div class="col-sm-12">
                <div class="form-field">
                    <div class="row">
                        <label class="control-label" style="float: left;">Associated Wing: **( Please Skip If No Wing Is Involved Else Choose Wings From Below )</label>@*Redmine Bug #136127 fixed*@
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="radiobtn-outer mrt-4">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_Wings_GSM").Name("Look_Wings_GSM").Placeholder("Select Wings...").Value(SelectedWing.ToArray()).DataSource(Model.WingListData_GSM, "ID")
.ValueExpr("ID").DisplayExpr("Name").ContentTemplate(@<text>
                    @(Html.DevExtreme().DataGrid().CustomDataGrid().ID("Look_Wings_GSM_datagrid")
                                   .Columns(columns =>
                                   {
                                       columns.Add().DataField("Name").Caption("Wings");
                                       columns.Add().DataField("ID").Caption("ID").Visible(false).SortingMethod("sortWingType_GSM").SortOrder(SortOrder.Asc);
                                   })
                                   .OnRowClick("DG_OnRowClick_GSM")
                                   .Selection(s => s.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always).AllowSelectAll(false))
                                   .OnSelectionChanged("function(selectedItems){ var keys = selectedItems.selectedRowKeys;var DDvalue=component.option('value');if(keys!=DDvalue){component.option('value', keys);};}"))
                    </text>).OnValueChanged("Look_Wings_GSM_ValueChange"))

                            </div>
                        </div>
                        @{
                            @Html.Hidden("WingListData_Count", WingList.Count)
                            for (int i = 0; i < WingList.Count; i++)
                            {
                                @Html.Hidden("Wings_List_GSM[" + i + "].ID", WingList[i].ID)
                                @Html.Hidden("Wings_List_GSM[" + i + "].Selected")
                            }
                        }
                    </div>
                    @*<div class="row">
                        <div class="col-md-12">
                            <div class="radiobtn-outer mrt-4">
                                <ul class="custom-checkbox-list GSRWing-list">

                                    @if (Model.WingListData_GSM != null)
                                    {
                                        WingList = WingList.Where(x => x.Name != null && x.Name != "").ToList();


                                        for (int i = 0; i < WingList.Count; i++)
                                        {
                                            var modelItems = Model.Wings_List_GSM;
                                            var check = false;
                                            if (modelItems != null)
                                            {
                                                check = modelItems.Select(y => y.ID).Any(x => x == WingList[i].ID);
                                            }
                                            if (string.IsNullOrWhiteSpace(Model.PreSelectedWing) == false)
                                            {
                                                if (Model.PreSelectedWing == WingList[i].ID)
                                                {
                                                    check = true;
                                                }
                                            }
                                            <li>
                                                @Html.Hidden("Wings_List_GSM[" + i + "].ID", WingList[i].ID)
                                                @Html.DevExtreme().CheckBox().Name("Wings_List_GSM[" + i + "].Selected").Text(WingList[i].Name).Value(check)
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>*@
                </div>
                    @*<label class="control-label pll" style="font-weight:500;color:#6952C2">Note: Select Wing(s)...</label>*@
                </div>
            </div>
        </div>        
  
<script>
</script>
