@model ConnectOneMVC.Areas.Magazine.Models.Magazine_DispatchType_Type
@using DevExtreme.AspNet.Mvc;
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
@{    
    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<style>
    .control-label {
        text-align: left !important;
    }
</style>
<div id="Frm_Magazine_DispatchType_Content">
    @using (Ajax.BeginForm("Frm_Magazine_DispatchType_Window", "Magazine",
                      new AjaxOptions
                      {
                          HttpMethod = "POST",
                          UpdateTargetId = "Frm_Magazine_DispatchType_Content",
                          InsertionMode = InsertionMode.InsertAfter,
                          OnBegin = "AjaxBeginFormPost",
                          OnSuccess = "Magazine_DispatchTypeAjaxSuccessForm"
                      },
                      new
                      {
                          id = "Magazine_DispatchTypevalidationForm",
                          @class = "edit_form"
                      }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.TempActionMethod)
        @Html.HiddenFor(x => x.EditDate)
        @Html.HiddenFor(x => x.ID)
        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();
        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="full-width-header">
                <div class="row">

                    <div class="col-sm-8 pll">
                        <h3 class="popuphead"><i class="far fa-edit"></i>Magazine Dispatch Type </h3>
                    </div>
                    <div class="col-sm-4 prm">
                        <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-red" })
                </div>
            </div><!--[row]-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">
                        <div class="container-fluid pll prm">
                            <div class="row">
                                <div class="col-sm-2 ">
                                    @Html.LabelFor(model => model.DispatchType_Name, htmlAttributes: new { @class = "control-label text-red" })
                                </div>
                                <div class="col-sm-10 plm">
                                    @(Html.DevExtreme().TextBoxFor(x => x.DispatchType_Name)
                                                                                                                                                                                                    .ID("DispatchType_Name")
                                                                                                                                                                                                    //.OnEnterKey("EnterTab")
                                                                                                                                                                                                    .Name("DispatchType_Name")
                                                                                                                                                                                                    .Placeholder("Enter Dispatch Type")
                                                                                                                                                                                                    .InputAttr("class", "input-sm")
                                                                                                                                                                                                    .MaxLength(255)
                                                                                                                                                                                                    .ShowClearButton(true)
                                                                                                                                                                                                    .ReadOnly(IsVisible)
                                                                                                                                                                                                    .Disabled(IsVisible)
                                                                                                                                                                                                    .TabIndex(1)
                                                                                                                                                                                                   

                                    )
                                    @Html.ValidationMessageFor(model => model.DispatchType_Name, "", new { @class = "text-red " })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row prm">
                <div class="form-field wbg brd-bot-none">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4">
                        @if (Model.ActionMethod.ToString().Trim() == "_New")
                        {
                            <div>
                                <div class="action-btn-wrap ">
                                    @(Html.DevExtreme().Button()
                                                                                                            .ID("Magazine_DispatchTypeCancel")
                                                                                                            .Text("Cancel")
                                                                                                            .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")
                                                                                                             .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                                                                                            .FocusStateEnabled(true)
                                                                                                            .TabIndex(3)
                                                                                                            .OnClick(@<text>
                                                                                                                function () {
                                                                                                                $("#popup_frm_Magazine_DispatchType_Window").dxPopup("hide");
                                                                                                                }
                                                                                                            </text>)
                                    )
                                </div>
                                <div class="action-btn-sec-wrap">
                                    @(Html.DevExtreme().Button()
                                                                                                            .ID("Magazine_DispatchTypeEdit")
                                                                                                            .Text("Save")
                                                                                                            .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                                                                                                            .ElementAttr("style", "float:right;margin-top:0px")
                                                                                                            .FocusStateEnabled(true)
                                                                                                            .TabIndex(2)
                                                                                                            .UseSubmitBehavior(true)
                                    )
                                </div>
                            </div>
                        }
                        @if (Model.ActionMethod.ToString().Trim() == "_Edit")
                        {
                            <div class="action-btn-sec-wrap">

                                @(Html.DevExtreme().Button()
                                                        .ID("Magazine_DispatchTypeCancel")
                                                        .Text("Cancel")
                                                        .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")
                                                        .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                                        .OnClick(@<text>
                                                            function () {
                                                            $("#popup_frm_Magazine_DispatchType_Window").dxPopup("hide");
                                                            }
                                                        </text>)
                                                             .TabIndex(3)
                                )

                                @(Html.DevExtreme().Button()
                                                        .ID("Magazine_DispatchTypeEdit")
                                                        .Text("Save")
                                                        .FocusStateEnabled(true)
                                                        .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                                                        .ElementAttr("style", "float:right;margin-top:0px")
                                                        .TabIndex(2)
                                                        .UseSubmitBehavior(true)
                                )
                            </div>
                        }
                        @if (Model.ActionMethod.ToString().Trim() == "_Delete")
                        {
                            <div>
                                @(Html.DevExtreme().Button()
                                                             .ID("Magazine_DispatchTypeCancel")
                                                             .Text("Cancel")
                                                             .TabIndex(3)
                                                             .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")
                                                             .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                                             .FocusStateEnabled(true)
                                                             .OnClick(@<text>
                                                                function () {
                                                                $("#popup_frm_Magazine_DispatchType_Window").dxPopup("hide");
                                                                }
                                                            </text>)
                                )
                                @(Html.DevExtreme().Button()
                                                                .ID("Magazine_DispatchTypeEdit")
                                                                .Text("Delete")
                                                                .ElementAttr("style", "float:right;margin-top:0px")
                                                                .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                                                .FocusStateEnabled(true)
                                                                 .TabIndex(2)
                                                                .UseSubmitBehavior(true)
                                )



                            </div>
                        }
                        @if (Model.ActionMethod.ToString().Trim() == "_View")
                        {
                            <div>
                                @(Html.DevExtreme().Button()
                                                             .ID("Magazine_DispatchTypeCancel")
                                                             .Text("Cancel")
                                                             .TabIndex(2)
                                                             .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")
                                                             .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                                             .FocusStateEnabled(true)
                                                             .OnClick(@<text>
                                                                function () {
                                                                $("#popup_frm_Magazine_DispatchType_Window").dxPopup("hide");
                                                                }
                                                            </text>)
                                )
                                
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>



