@using DevExtreme.AspNet.Mvc;

@model IEnumerable<dynamic>
@{
    Layout = null;
}
<style>
    /* .dx-icon {
        line-height: 14px !important;
        font-size: 18px !important;
    }*/
</style>
<div id="content" class="col-md-12 report_header_div_main">
    <div class="col-md-6 report_header_div">
        <label class="report_header_label">Magazine Dispatch Type Information</label>
    </div>
    @*Buttons*@
    <div class="report_button_div">

        @(Html.DevExtreme().Button()
                                                                                                                                                                                  .ID("DispatchTypeNew")
                                                                                                                                                                                  .Text("New")
                                                                                                                                                                                  .Icon("add")
                                                                                                                                                                                  .Visible(true)
                                                                                                                                                                                  .OnClick(@<text>function () { OnNewButtonClick();}</text>))

        @(Html.DevExtreme().Button()

                                                                                                                                                                                  .ID("DispatchTypeEdit")
                                                                                                                                                                                  .Text("Edit")
                                                                                                                                                                                  .Icon("edit")
                                                                                                                                                                                  .Visible(true)
                                                                                                                                                                                  .OnClick(@<text>function () {OnEditButtonClick();}</text>) )

        @(Html.DevExtreme().Button()
                                                                                                                                                                                  .ID("DispatchTypeDelete")
                                                                                                                                                                                  .Text("Delete")
                                                                                                                                                                                  .Icon("trash")
                                                                                                                                                                                  .Visible(true)
                                                                                                                                                                                  .OnClick(@<text> function (){OnDeleteButtonClick();}</text>))
        @(Html.DevExtreme().Button()
                                                                                                                                                                                  .ID("DispatchTypeView")
                                                                                                                                                                                  .Text("View")
                                                                                                                                                                                  .Icon("doc")
                                                                                                                                                                                  .Visible(true)
                                                                                                                                                                                  .OnClick(@<text> function (){OnViewButtonClick();}</text>))

        @(Html.DevExtreme().Button()
                                                                                                                                                                                  .ID("DispatchTypeListPreview")
                                                                                                                                                                                  .Text("List Export")
                                                                                                                                                                                  .Icon("save")
                                                                                                                                                                                  .Visible(true)
                                                                                                                                                                                  .OnClick(@<text>function (){OnDispatchTypeListPreviewClick();}</text>))

        @(Html.DevExtreme().Button()
                                                                                                                                                                                 .ID("DispatchTypeClose")
                                                                                                                                                                                 .Text("Close")
                                                                                                                                                                                 .Icon("clear")
                                                                                                                                                                                 .Visible(true)
                                                                                                                                                                                 .OnClick(@<text>function (){btnCloseActiveTab();}</text>))
    </div>
</div>
<div class="col-md-12 no-padding">
    <form>
        <div id="DispatchTypeloadPartialView" class="parent_table">
            @Html.Partial("Frm_Magazine_DispatchType_Info_Grid", Model)
        </div>
    </form>
</div>

<div class="footer-MainBoxdiv full-width-footer">
    <div class="list_footer_left_margin col-md-9">
        <div>
            @*class="footer_new_left"*@
            <div>
                <div class="list_footer_left_margin">
                    <div class="footer-locktext">
                        <div id="DispatchType_Lbl_ActionOn" class="left_footertext_top"></div>
                        <div id="DispatchType_Lbl_ActionBy" class="left_footertext_bottom"></div>
                    </div>
                    @*<div class="footer-locktext">
                            <div id="DispatchTypeLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                        </div>*@
                </div>
                <div class="list_footer_left_margin">
                    <p id="DispatchTypeLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                    <p id="DispatchTypeLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="list_footer_right_margin_consistent col-md-1">
        @*<i id="DispatchType_LockICON" class="fa fa-lock lock_symbol"></i>*@
    </div>
    @*</div>
        <div class="col-lg-4 listing_footer_filter_buttons_div">
        </div>*@
</div>
<div class="col-md-12">
    @(Html.DevExtreme().Popup().CustomPopup()
                                                                                                                    .ID("Magazine_DispatchType_report_modal")
                                                                                                                    .Title("Dispatch Type List Preview")
                                                                                                                    .FullScreen(false)
                                                                                                                    .MaxWidth(125)
                                                                                                                    .Height("auto")
                                                                                                                    .ShowCloseButton(true)
                                                                                                                    .ContentTemplate(@<text>
                                                                                                                        <div id='Magazine_DispatchType_report_modal_result'>
                                                                                                                        </div>
                                                                                                                    </text>) )

    @(Html.DevExtreme().Popup().CustomPopup()
                                                                                                            .ID("Choose_New")
                                                                                                            .Title("Select..")
                                                                                                            .FullScreen(false)
                                                                                                            .MaxWidth(200)
                                                                                                            .Height("auto")
                                                                                                            .ShowCloseButton(true)
                                                                                                            .ContentTemplate(@<text>
                                                                                                                <div id='Magazine_DispatchType_Choose_New'>
                                                                                                                </div>
                                                                                                            </text>) )
    @(Html.DevExtreme().Popup().CustomPopup()
                                                                                                                                 .ID("popup_frm_Magazine_DispatchType_Window")
                                                                                                                                 .Title("Magazine Dispatch Type")
                                                                                                                                 .OnShowing("PopupOnShowing")
                                                                                                                                 .OnShown("Magazine_DispatchTypeShown")
                                                                                                                                 .DragEnabled(true)
                                                                                                                                 .MaxHeight(130)
                                                                                                                                 .MaxWidth(650)
                                                                                                                                 //.Height("auto")
                                                                                                                                 //.Width("auto")
                                                                                                                                 .ShowCloseButton(true)
                                                                                                                                 .ContentTemplate(@<text>
                                                                                                                                    <div id="Magazine_DispatchTyperesult">
                                                                                                                                    </div>
                                                                                                                                </text>)
                                                                                                                                                                                       .OnHiding(@<text>
                                                                                                                                                                                        function () {
                                                                                                                                                                                        if(IsSucessPopup == false && IsViewPopup == false)
                                                                                                                                                                                        {
                                                                                                                                                                                        var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm Changes");
                                                                                                                                                                                        result.done(function (dialogResult) {
                                                                                                                                                                                        if(dialogResult){
                                                                                                                                                                                        $("#popup_frm_Magazine_DispatchType_Window").dxPopup("hide");
                                                                                                                                                                                        }
                                                                                                                                                                                        else
                                                                                                                                                                                        {
                                                                                                                                                                                        $("#popup_frm_Magazine_DispatchType_Window").dxPopup("show");
                                                                                                                                                                                        }
                                                                                                                                                                                        });
                                                                                                                                                                                        }
                                                                                                                                                                                        }
                                                                                                                                                                                    </text>))
    @(Html.DevExtreme().Popup().CustomPopup()
                                                                                                                                             .ID("popup_frm_Magazine_DispatchCharge_Window")
                                                                                                                                             .Title("Magazine Dispatch Type Charges")
                                                                                                                                             .OnShowing("PopupOnShowing")
                                                                                                                                             .OnShown("Magazine_DispatchChargeShown")
                                                                                                                                             .DragEnabled(true)
                                                                                                                                             .MaxHeight(180)
                                                                                                                                             .MaxWidth(650)
                                                                                                                                             //.Height("auto")
                                                                                                                                             //.Width("auto")
                                                                                                                                             .ShowCloseButton(true)

                                                                                                                                                                                                 .OnHiding(@<text>
                                                                                                                                                                                                    function () {
                                                                                                                                                                                                    if(IsSucessPopup == false && IsViewPopup == false)
                                                                                                                                                                                                    {
                                                                                                                                                                                                    var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm Changes");
                                                                                                                                                                                                    result.done(function (dialogResult) {
                                                                                                                                                                                                    if(dialogResult){
                                                                                                                                                                                                    $("#popup_frm_Magazine_DispatchCharge_Window").dxPopup("hide");
                                                                                                                                                                                                    }
                                                                                                                                                                                                    else
                                                                                                                                                                                                    {
                                                                                                                                                                                                    $("#popup_frm_Magazine_DispatchCharge_Window").dxPopup("show");
                                                                                                                                                                                                    }
                                                                                                                                                                                                    });
                                                                                                                                                                                                    }
                                                                                                                                                                                                    }
                                                                                                                                                                                                </text>) )
</div>
<script type="text/javascript">
     var IsSucessPopup = false;
    var IsViewPopup = false;
    var IsMagazine_DispatchTypeNewPopup = false;
    var IsMagazine_DispatchTypeDeletePopup = false;
    var IsAllDetailExpanded = "false";
    var DispatchType_ShowHorizontalBar = 0;
    var DispatchType_ID;
    var DispatchType_Name;
    var DispatchCharge_ID;
    var index;
    var grid;

    //var IsSucessPopup = false;
    //var IsViewPopup = false;
    $(document).ready(function ()
    {
     $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineDispatchType/ButtonHide",
            cache: false,
         success: function (ButtonHide_result)
         {
             if (ButtonHide_result.datanew == false)
             {
                 $("#DispatchTypeNew").hide();
                }
             if (ButtonHide_result.dataedit == false)
             {
                 $("#DispatchTypeEdit").hide();
                 $("#DispatchTypeDelete").hide();
                }

                } });

    });
    function DispatchType_OnInit(s, e)
    {
        DispatchType_AdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt)
        {
            DispatchType_AdjustSize();
        });
    }
    function OnDispatchTypeInfoGrid_BeginCallBack(s, e) {
        e.customArgs["command"] = e.command;
    }
    function OnGridDispatchTypeListGrid_EndCallback(s, e) {
        DispatchType_AdjustSize();

    }

    function DispatchType_AdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        DispatchTypeInfoGrid.SetHeight(height);
    }

    function DispatchTypeAjaxSuccessForm(data)
    {
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
        else {
            //IsSucessPopup = true;
            DevExpress.ui.dialog.alert(data.Message, "Success");
            $("#popup_frm_DispatchType_Window").dxPopup("hide");
            DispatchTypeInfoGrid.Refresh();
            //IsSucessPopup = false;
        }
    }

    function OnDispatchTypeGridFocusedRowChanged(s, e)
    {
       if (s.GetFocusedRowIndex() == -1)
       { DispatchType_ID = "";}
       else
       {
           grid = "type";
           DispatchType_ID = s.GetRowKey(s.GetFocusedRowIndex());
           DispatchType_UpdateFooterDetail(DispatchType_ID, grid);
           s.CollapseAllDetailRows();
        }
    }

    function ondispatchchargefocusedrowchange(s, e)
    {
        if (s.GetFocusedRowIndex() == -1) { DispatchCharge_ID = ""; }
        DispatchTypeInfoGrid.SetFocusedRowIndex(-1);
        grid = "charge";
        DispatchCharge_ID = s.GetRowKey(s.GetFocusedRowIndex());
        s.GetRowValues(s.GetFocusedRowIndex(), 'DispatchType_ID',getid);
        DispatchType_UpdateFooterDetail(DispatchCharge_ID,grid);
    }
    function getid(value)
    {
        DispatchType_ID = value;
           }
    function DispatchType_UpdateFooterDetail(ID,grid) {

        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineDispatchType/CreationDetail",
            data: {
                Xrow: ID, Check:grid
            },
            cache: false,
            success: function (DispatchTypeLbl_result)
            {

                $('#DispatchType_Lbl_ActionOn').text(DispatchTypeLbl_result.Lbl_StatusOn);
                $('#DispatchType_Lbl_ActionBy').text(DispatchTypeLbl_result.Lbl_StatusBy);
                $('#DispatchTypeLbl_Status').text(DispatchTypeLbl_result.Lbl_Status);
                $('#DispatchTypeLbl_Create').text(DispatchTypeLbl_result.Lbl_Create);
                $('#DispatchTypeLbl_Modify').text(DispatchTypeLbl_result.Lbl_Modify);
                if (DispatchTypeLbl_result.Lbl_Status_Color != "") {
                    $('#DispatchTypeLbl_Status').css('color', DispatchTypeLbl_result.Lbl_Status_Color);
                }
                if (DispatchTypeLbl_result.Pic_Status != "") {
                    $('#DispatchType_LockICON').css('class', DispatchTypeLbl_result.Pic_Status);
                }
            }
        });
    }
    function Magazine_DispatchTypeShown()
    {
        setTimeout(function ()
        {
            $('#other_DetField input').keydown(function (e)
            {
                //BracketKeyPressEvent(e);
                if (e.key == "[")
                {
                    e.preventDefault();
                    $(this).val($(this).val() + "(");
                }
                if (e.key == "]")
                {
                    e.preventDefault();
                    $(this).val($(this).val() + ")");
                }
                if (e.key == "'")
                {
                    e.preventDefault();
                    $(this).val($(this).val() + "`");
                }
            });
          //  $("#Name").dxTextBox('instance').Focus();
        }, Timeout500);

    }
    function Magazine_DispatchChargeShown()
    {
        setTimeout(function ()
        {
            $('#other_DetField input').keydown(function (e)
            {
                //BracketKeyPressEvent(e);
                if (e.key == "[") {
                    e.preventDefault();
                    $(this).val($(this).val() + "(");
                }
                if (e.key == "]") {
                    e.preventDefault();
                    $(this).val($(this).val() + ")");
                }
                if (e.key == "'") {
                    e.preventDefault();
                    $(this).val($(this).val() + "`");
                }
            });
            //  $("#Name").dxTextBox('instance').Focus();
        }, Timeout500);

    }
    function Magazine_DispatchTypeAjaxSuccessForm(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
        else {

            IsSucessPopup = true;
            var Magazine_DispatchTypeSubmitSuccess = DevExpress.ui.dialog.alert(data.Message, "Success");
            $("#popup_frm_Magazine_DispatchType_Window").dxPopup("hide");
            DispatchTypeInfoGrid.SetFocusedRowIndex(-1);    
            DispatchTypeInfoGrid.Refresh();
            IsSucessPopup = false;
            Magazine_DispatchTypeSubmitSuccess.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (IsMagazine_DispatchTypeNewPopup == true)
                    {
                        var addmoreMagazine_DispatchTyperesult = DevExpress.ui.dialog.confirm("Add More Entry...?", "MagazineDispatchType");
                        addmoreMagazine_DispatchTyperesult.done(function (dialogResult) {
                            if (dialogResult) {
                                OnMagazine_DispatchTypeNewClick();
                            }
                        });
                    }}
            });

        }
    }
    function Magazine_DispatchChargeAjaxSuccessForm(data)
    {
        HideLoader();
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.Message, "Error");
        }
        else
        {
            IsSucessPopup = true;
            var Magazine_DispatchChargeSubmitSuccess = DevExpress.ui.dialog.alert(data.Message, "Success");
            $("#popup_frm_Magazine_DispatchCharge_Window").dxPopup("hide");
            var disid = "DispatchCharges" + DispatchType_ID;
            DispatchTypeInfoGrid.Refresh();
            (ASPxClientControl.GetControlCollection().GetByName(disid)).SetFocusedRowIndex(-1);                  
            IsSucessPopup = false;
            Magazine_DispatchChargeSubmitSuccess.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (IsMagazine_DispatchTypeNewPopup == true)
                    {
                        var addmoreMagazine_DispatchChargeresult = DevExpress.ui.dialog.confirm("Add More Entry...?", "MagazineDispatchType");
                        addmoreMagazine_DispatchChargeresult.done(function (dialogResult)
                        {
                            if (dialogResult)
                            {
                                OnMagazine_DispatchChargeNewClick();
                            }
                        });
                    }

                }
            });

        }
    }

    function OnMagazine_DispatchTypeNewClick()
    {
        IsMagazine_DispatchTypeDeletePopup = false;
        IsMagazine_DispatchTypeNewPopup = true;
        IsViewPopup = false;
        CheckAjaxUrl();
        $("#popup_frm_Magazine_DispatchType_Window").dxPopup("show");
        $("#popup_frm_Magazine_DispatchType_Window").dxPopup("instance").option("title", "New ~ Dispatch Type");
        $("#popup_frm_Magazine_DispatchType_Window").dxPopup("instance").option("style", "margin: 0px auto !important");
        var docWidth = (document.documentElement.clientWidth);
        $("#popup_frm_Magazine_DispatchType_Window").dxPopup("instance").option("maxHeight", (docWidth > 768) ? 130 : 370)
        $("#Magazine_DispatchTyperesult").html('');
        ShowLoader();
        $("#Magazine_DispatchTyperesult").load("@Url.Action("Frm_Magazine_DispatchType_Window", "MagazineDispatchType", new { @area = "Magazine" })?ActionMethod=New", function () {
            HideLoader();
            //$("#Name").dxTextBox('instance').focus();
        });
    }

    function OnMagazine_DispatchTypeEditClick()
    {
        IsMagazine_DispatchTypeDeletePopup = false;
        IsMagazine_DispatchTypeNewPopup = false;
        IsViewPopup = false;
        if (DispatchType_ID == 'undefined' || DispatchType_ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineDispatchType/DataNavigation",
            data: { ActionMethod: "Edit", id: DispatchType_ID},
            cache: false,
            success: function (Magazine_DispatchType_Edit_ButtonClick_result) {
                if (Magazine_DispatchType_Edit_ButtonClick_result.result == "true" || Magazine_DispatchType_Edit_ButtonClick_result.result == true) {
                    $("#popup_frm_Magazine_DispatchType_Window").dxPopup("show");
                    $("#popup_frm_Magazine_DispatchType_Window").dxPopup("instance").option("title", "Edit ~ Dispatch Type");
                    var docWidth = (document.documentElement.clientWidth);
                    $("#popup_frm_Magazine_DispatchType_Window").dxPopup("instance").option("maxHeight", (docWidth > 768) ? 130 : 370)
                    $("#Magazine_DispatchTyperesult").html('');
                    ShowLoader();
                    $("#Magazine_DispatchTyperesult").load("@Url.Action("Frm_Magazine_DispatchType_Window", "MagazineDispatchType", new { @area = "Magazine" })?ActionMethod="+ "Edit" + "&TypeID=" + DispatchType_ID , function () {
                        HideLoader();
                        // $("#Name").dxTextBox('instance').focus();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert(Magazine_DispatchType_Edit_ButtonClick_result.Message, 'Warning!');
                    DispatchTypeInfoGrid.Refresh();
                }
            }
        });
    }

    function OnMagazine_DispatchTypeDeleteClick()
    {
                  IsMagazine_DispatchTypeNewPopup = false;
        IsViewPopup = false;
          if (DispatchType_ID == 'undefined' || DispatchType_ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
       var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Delete ~ Dispatch Type");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $("#popup_frm_Magazine_DispatchType_Window").dxPopup("hide");
                            $.ajax({
                    type: 'GET',
                    url: "/Magazine/MagazineDispatchType/DataNavigation",
                    data: { ActionMethod: "Delete", id: DispatchType_ID},
                    cache: false,
                    success: function (Magazine_DispatchType_Delete_ButtonClick_result) {
                        if (Magazine_DispatchType_Delete_ButtonClick_result.result == "true" || Magazine_DispatchType_Delete_ButtonClick_result.result == true) {
                            IsMagazine_DispatchTypeDeletePopup = true;
                            $("#popup_frm_Magazine_DispatchType_Window").dxPopup("show");
                            $("#popup_frm_Magazine_DispatchType_Window").dxPopup("instance").option("title", "Delete ~ Dispatch Type");
                            var docWidth = (document.documentElement.clientWidth);
                            $("#popup_frm_Magazine_DispatchType_Window").dxPopup("instance").option("maxHeight", (docWidth > 768) ? 130 : 370)
                            ShowLoader();
                            $("#Magazine_DispatchTyperesult").load("@Url.Action("Frm_Magazine_DispatchType_Window", "MagazineDispatchType", new { @area = "Magazine" })?ActionMethod=" + "Delete" + "&TypeID=" + DispatchType_ID, function () {
                                HideLoader();
                                $("#DispatchTypeDelete").dxButton('instance').focus();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(Magazine_DispatchType_Delete_ButtonClick_result.Message, 'Warning!');
                            DispatchTypeInfoGrid.Refresh().Refresh();
                        }
                    }
                });
            }
        });
    }
    function OnMagazine_DispatchTypeViewClick()
    {
        IsMagazine_DispatchTypeNewPopup = false;
        if (DispatchType_ID == 'undefined' || DispatchType_ID == undefined) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineDispatchType/DataNavigation",
                  data: { ActionMethod: "View", id: DispatchType_ID},
                    cache: false,
                    success: function (Magazine_DispatchType_View_ButtonClick_result) {
                        if (Magazine_DispatchType_View_ButtonClick_result.result == "true" || Magazine_DispatchType_View_ButtonClick_result.result == true) {
                            IsViewPopup = true;
                            $("#popup_frm_Magazine_DispatchType_Window").dxPopup("show");
                            $("#popup_frm_Magazine_DispatchType_Window").dxPopup("instance").option("title", "View ~ Dispatch Type");
                            var docWidth = (document.documentElement.clientWidth);
                            $("#popup_frm_Magazine_DispatchType_Window").dxPopup("instance").option("maxHeight", (docWidth > 768) ? 130 : 370)
                            ShowLoader();
                            $("#Magazine_DispatchTyperesult").load("@Url.Action("Frm_Magazine_DispatchType_Window", "MagazineDispatchType", new { @area = "Magazine" })?ActionMethod=" + "View" + "&TypeID=" + DispatchType_ID, function () {
                                HideLoader();
                                $("#DispatchTypeView").dxButton('instance').focus();
                            });
                        }
                        else {
                            DevExpress.ui.dialog.alert(Magazine_DispatchType_Delete_ButtonClick_result.Message, 'Warning!');
                            DispatchTypeInfoGrid.Refresh().Refresh();
                }
            }
        });
    }

    function OnDispatchTypeListPreviewClick() {
        $("#Magazine_DispatchType_report_modal").dxPopup("show");
        $("#Magazine_DispatchType_report_modal").dxPopup("instance").option("title", "Export Option");
        $("#Magazine_DispatchType_report_modal").html('');
        ShowLoader();
        $("#Magazine_DispatchType_report_modal_result").load("@Url.Action("Frm_Export_Options", "MagazineDispatchType", new { @area = "Magazine" })", function () {
            HideLoader();
        });
    }

     function OnMagazine_DispatchChargeNewClick()
     {
         if (DispatchType_ID == 'undefined' || DispatchType_ID == undefined || DispatchType_ID == null) {
             DevExpress.ui.dialog.alert('Please Select One Dispatch Type Row', 'Alert ');
             return;
         }
        IsMagazine_DispatchTypeDeletePopup = false;
        IsMagazine_DispatchTypeNewPopup = true;
        IsViewPopup = false;
        CheckAjaxUrl();
        // $("#Magazine_DispatchChargeresult").html('');
         ShowLoader();

         $.ajax({
             type: 'GET',
             url: "/Magazine/MagazineDispatchType/Frm_Magazine_DispatchCharge_Window",
             data: { ActionMethod: "New",TypeID: DispatchType_ID },
             cache: false,
             success: function (data) {
                 $("#popup_frm_Magazine_DispatchCharge_Window").dxPopup("show");
                 var ins = $("#popup_frm_Magazine_DispatchCharge_Window").dxPopup('instance');
                 ins.option("title", "New ~ Magazine Dispatch Type Charges");
                 ins.option("style", "margin: 0px auto !important");
                 var docWidth = (document.documentElement.clientWidth);
                 ins.option("maxHeight", (docWidth > 768) ? 155 : 370)
                 ins.option('contentTemplate', function (contentElement)
                 {
                     contentElement.append(data);
                 })
                 ins.show();
                 HideLoader();
             }

             //$("#Name").dxTextBox('instance').focus();
         });

    }

    function OnMagazine_DispatchChargeEditClick()
    {
        IsMagazine_DispatchTypeDeletePopup = false;
        IsMagazine_DispatchTypeNewPopup = false;
        IsViewPopup = false;
        if (DispatchCharge_ID == 'undefined' || DispatchCharge_ID == undefined || DispatchCharge_ID == null)
        {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert ');
            return;
        }
                        $.ajax({
                        type: 'GET',
                        url: "/Magazine/MagazineDispatchType/Frm_Magazine_DispatchCharge_Window",
                        data: { ActionMethod: "Edit",TypeID: DispatchType_ID, ChargeID:DispatchCharge_ID },
                        cache: false,
                            success: function (data)
                            {
                            $("#popup_frm_Magazine_DispatchCharge_Window").dxPopup("show");
                            var ins = $("#popup_frm_Magazine_DispatchCharge_Window").dxPopup('instance');
                            ins.option("title", "Edit ~ Magazine Dispatch Type Charges");
                            ins.option("style", "margin: 0px auto !important");
                            var docWidth = (document.documentElement.clientWidth);
                            ins.option("maxHeight", (docWidth > 768) ? 155 : 370)
                                ins.option('contentTemplate', function (contentElement)
                                {
                                contentElement.append(data);
                                })
                            ins.show();
                            HideLoader();
                        }

                        //$("#Name").dxTextBox('instance').focus();
                    });

            }

    function OnMagazine_DispatchChargeDeleteClick()
    {
        IsMagazine_DispatchTypeDeletePopup = false;
        IsMagazine_DispatchTypeNewPopup = false;
        IsViewPopup = false;
        if (DispatchCharge_ID == 'undefined' || DispatchCharge_ID == undefined || DispatchCharge_ID == null)
        {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert ');
            return;
        }
        var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Delete ~ Dispatch Type");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $("#popup_frm_Magazine_DispatchType_Window").dxPopup("hide");

                $.ajax({
                    type: 'GET',
                    url: "/Magazine/MagazineDispatchType/Frm_Magazine_DispatchCharge_Window",
                    data: { ActionMethod: "Delete",TypeID: DispatchType_ID, ChargeID: DispatchCharge_ID },
                    cache: false,
                    success: function (data) {
                        $("#popup_frm_Magazine_DispatchCharge_Window").dxPopup("show");
                        var ins = $("#popup_frm_Magazine_DispatchCharge_Window").dxPopup('instance');
                        ins.option("title", "Delete ~ Magazine Dispatch Type Charges");
                        ins.option("style", "margin: 0px auto !important");
                        var docWidth = (document.documentElement.clientWidth);
                        ins.option("maxHeight", (docWidth > 768) ? 155 : 370)
                        ins.option('contentTemplate', function (contentElement) {
                            contentElement.append(data);
                        })
                        ins.show();
                        HideLoader();
                    }

                    //$("#Name").dxTextBox('instance').focus();
                });
            }
        });
            }

    function OnMagazine_DispatchChargeViewClick()
    {
        IsMagazine_DispatchTypeDeletePopup = false;
        IsMagazine_DispatchTypeNewPopup = false;
        IsViewPopup = true;
        if (DispatchCharge_ID == 'undefined' || DispatchCharge_ID == undefined || DispatchCharge_ID == null) {
            DevExpress.ui.dialog.alert('Please Select One Row', 'Alert ');
            return;
        }
                        $.ajax({
                        type: 'GET',
                        url: "/Magazine/MagazineDispatchType/Frm_Magazine_DispatchCharge_Window",
                        data: { ActionMethod: "View",TypeID: DispatchType_ID, ChargeID:DispatchCharge_ID },
                        cache: false,
                        success: function (data) {
                            $("#popup_frm_Magazine_DispatchCharge_Window").dxPopup("show");
                            var ins = $("#popup_frm_Magazine_DispatchCharge_Window").dxPopup('instance');
                            ins.option("title", "Edit ~ Magazine Dispatch Type Charges");
                            ins.option("style", "margin: 0px auto !important");
                            var docWidth = (document.documentElement.clientWidth);
                            ins.option("maxHeight", (docWidth > 768) ? 155 : 370)
                            ins.option('contentTemplate', function (contentElement) {
                                contentElement.append(data);
                            })
                            ins.show();
                            HideLoader();
                        }

                        //$("#Name").dxTextBox('instance').focus();
                    });
                    }

    function OnNewButtonClick()
    {
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineDispatchType/ButtonHide",
            cache: false,
            success: function (ButtonHide_result) {
                if (ButtonHide_result.datanew == true) {
                      $("#Choose_New").dxPopup("show");
                    $("#Choose_New").dxPopup("instance").option("title", "Select..");
                    $("#Choose_New").html('');
                    ShowLoader();
                    $("#Magazine_DispatchType_Choose_New").load("@Url.Action("Frm_Choose_New", "MagazineDispatchType", new { @area = "Magazine" })", function () {
                        HideLoader();
                    });
                }
                else {
                    DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights");
                }
            }
        });
            }
    function OnEditButtonClick() {
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineDispatchType/ButtonHide",
            cache: false,
            success: function (ButtonHide_result) {
                if (ButtonHide_result.dataedit == true) {
                    if (grid == "charge") {
                        OnMagazine_DispatchChargeEditClick()
                    }
                    else {
                        OnMagazine_DispatchTypeEditClick()
                    }
                }
                else {
                    DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights");
                }
            }
        });
    }

    function OnViewButtonClick() {
        if (grid=="charge") {
            OnMagazine_DispatchChargeViewClick()
        }
        else {
            OnMagazine_DispatchTypeViewClick()
        }
    }
    function OnDeleteButtonClick()
    {

            $.ajax({
                type: 'GET',
                url: "/Magazine/MagazineDispatchType/ButtonHide",
                cache: false,
                success: function (ButtonHide_result) {
                    if (ButtonHide_result.dataedit == true) {
                        if (grid == "charge") {
                            OnMagazine_DispatchChargeDeleteClick()
                        }
                        else {
                            OnMagazine_DispatchTypeDeleteClick()
                        }
                    }
                    else {
                        DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights");
                    }
                }
            });
        }

    function OnMagazine_DispatchType_Set_Remove_Default(actionmethod)
    {
        {
            $.ajax({
                type: 'GET',
                url: "/Magazine/MagazineDispatchType/ButtonHide",
                cache: false,
                success: function (ButtonHide_result) {
                    if (ButtonHide_result.dataedit == true) {
                        var msg;
                        if (DispatchType_ID == 'undefined' || DispatchType_ID == undefined || DispatchType_ID == "null") {
                            if (actionmethod == 'Set_Default') {
                                msg = 'Please Select One Dispatch Type To Be Set As Default';
                            }
                            else if (actionmethod == 'Remove_Default') {
                                msg = 'Please Select One Dispatch Type Record'
                            }
                            DevExpress.ui.dialog.alert(msg, 'Alert ');
                            return;
                        }
                        $.ajax(
                            {
                                type: 'GET',
                                url: "/Magazine/MagazineDispatchType/Magazine_DispatchType_Set_Remove_Default",
                                data: { ActionMethod: actionmethod, id: DispatchType_ID },
                                cache: false,
                                success: function (Magazine_DispatchType_Set_Remove_DefaultClick_result) {
                                    if (Magazine_DispatchType_Set_Remove_DefaultClick_result.result == "true" || Magazine_DispatchType_Set_Remove_DefaultClick_result.result == true) {
                                        DevExpress.ui.dialog.alert(Magazine_DispatchType_Set_Remove_DefaultClick_result.Message, Magazine_DispatchType_Set_Remove_DefaultClick_result.data);
                                        DispatchTypeInfoGrid.Refresh();
                                    }
                                    else {
                                        DevExpress.ui.dialog.alert(Magazine_DispatchType_Set_Remove_DefaultClick_result.Message, Magazine_DispatchType_Set_Remove_DefaultClick_result.data);
                                    }
                                }
                            });
                    }
                    else {
                        DevExpress.ui.dialog.alert("Not Allowed!!", "NO Rights");
                    }
                }
            });
        }
           }
    function DispatchType_ContextMenuFunction(s, e) //right-click menu options
    {
        if (e.item.name == 'Remove_Default') {
         OnMagazine_DispatchType_Set_Remove_Default('Remove_Default');
        }
        if (e.item.name == 'Set_Default') {
          OnMagazine_DispatchType_Set_Remove_Default('Set_Default');
        }
        if (e.item.name == 'View') {
            OnViewButtonClick();
        }
        if (e.item.name == 'Delete') {
            OnDeleteButtonClick();
        }
        if (e.item.name == 'Edit') {
            OnEditButtonClick();
        }
        if (e.item.name == 'New') {
            OnNewButtonClick();
        }
        if (e.item.name == 'Clse') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'ListPreview') {
            OnDispatchTypeListPreviewClick();
        }
        else if (e.item.name == 'Refresh') {
            DispatchTypeInfoGrid.Refresh();
        }
    }
    function CollapseDispatchTypeRow(s, e)
    {
        IsAllDetailExpanded = "false";
        s.SetFocusedRowIndex(index);
                   }
    function ExpandDispatchTypeRow(s, e)
    {
        index =e.visibleIndex;
        s.SetFocusedRowIndex(-1);
        IsAllDetailExpanded = "true";
           }
</script>