<div class="WIPVoucher_SelectAsset_ClearReferences">
    @model ConnectOneMVC.Areas.Account.Models.WIP_Final_Select_Asset
    @using DevExtreme.AspNet.Mvc;


    @{
        ViewBag.Title = "Index";
        Layout = null;
    }

    @{
        Html.EnableClientValidation();
        Html.AntiForgeryToken();
        Html.EnableUnobtrusiveJavaScript();
    }

    <div id="Frm_WIPFinal_Select_Asset_Content">
        <div id="WIPFinal_Select_Asset_Form">
            @Html.HiddenFor(s => s.FinalAsset_Item_ID_Fin_Sel_Asset)
            @Html.HiddenFor(s => s.Tr_M_ID_Fin_Sel_Asset)
            @Html.HiddenFor(s => s.Asset_RecID_Fin_Sel_Asset)
            @Html.HiddenFor(s => s.REC_EDIT_ON_Fin_Sel_Asset)

            <div class="full-width-header-bg">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="popuphead" id="Txt_TitleX"><i class="far fa-edit"></i>Select Asset</h3>
                    </div>
                </div>
            </div><!--[row]-->
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div id="WIPFin_Select_AssetreloadPartialView" class="parent_table">
                            @Html.Action("Frm_WIPFinal_Select_Asset_Grid", "WIPFinalization")

                        </div>
                    </form>
                </div><!--[Grid]-->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-field">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("WIPFinal_Select_Asset_OK").Text("OK").OnClick(@<text> function () { WIPFinal_Select_Asset_OK(); } </text>))
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("WIPFinal_Select_Asset_Cancel").Text("Cancel").OnClick(@<text> function(){$("#WIP_Select_Asset_Popup").dxPopup("hide");} </text>))
                        </div><!--[Buttons]-->
                    </div>
                </div>
            </div><!--[OK & Cancel buttons]-->
            <!--<div class="footer-MainBoxdiv full-width-footer">
                <div class="list_footer_left_margin col-md-10">
                    <div class="list_footer_left_margin">
                        <p id="ManagPrivilegesLbl_Add" style="margin:0px" class="left_footertext_top"></p>
                        <p id="ManagPrivilegesLbl_Edit" style="margin:0px" class="left_footertext_bottom"></p>
                    </div>
                </div>-->
            <!--[Footer]-->
            <!--</div>-->
        </div>
    </div>

    @*Javascript Events*@


    <script>
        var Asset_RecID_WIPFinal = "";
        var Rec_Edit_On_WIPFinal = "";
    </script> @*Global_Variables*@
    <script>
        $(document).ready(function()
        {
            setTimeout(function ()
            {
                $("#WIPFinal_Select_Asset_Grid").focus();
            },450)
        })
        
        function WIPFin_Sel_AssetGrid_BeginCallBack(s, e)
        {
            e.customArgs['FinalAsset_Item_ID'] = "@Model.FinalAsset_Item_ID_Fin_Sel_Asset";
            e.customArgs['Tr_M_ID'] = "@Model.Tr_M_ID_Fin_Sel_Asset";
            e.customArgs['command'] = e.command;
        }

        function WIPFin_Sel_AssetGridFocusedRowChanged(s, e)
        {
            if (s.GetFocusedRowIndex() >= 0)
            {
                Asset_RecID_WIPFinal = s.GetRowKey(s.GetFocusedRowIndex());
                WIPFin_Sel_Aset_GetRowData();
                //s.GetValuesOnCustomCallback({ key: Asset_RecID_WIPFinal }, WIPFin_Sel_Aset_GetRowValues);
            }
            else
            {
                Asset_RecID_WIPFinal = "";
            }
        }
        function WIPFin_Sel_Aset_GetRowData(RowIndex = null) {
            var focusedrow = RowIndex == null ? WIPFinal_Select_Asset_Grid.GetFocusedRowIndex() : RowIndex;
            var topindex = WIPFinal_Select_Asset_Grid.GetTopVisibleIndex();
            var Index = focusedrow - topindex;
            var PageData = WIPFinal_Select_Asset_Grid.cpPagedata;
            if (PageData != null && PageData.length > 0 && Index < PageData.length) {
                Rec_Edit_On_WIPFinal = typeof PageData[Index][0] !== "undefined" ? PageData[Index][0] : null;
            }
        }
        function WIPFin_Sel_Aset_GetRowValues(data)
    {
        var values = data.split('![');
        Rec_Edit_On_WIPFinal = values[0];
    }

        function WIPFin_Sel_AssetGridContextMenuFunction(s, e) { };
        function WIPFin_Sel_AssetGrid_EndCallback(s, e) { };
    </script>
    @*Grid Functions*@


    <script>
        $("#WIPFinal_Select_Asset_Grid").keydown(function (evt)
        {
            if (evt.keyCode == 13) //enter key
            {
                evt.preventDefault();
                evt.stopImmediatePropagation();
                evt.stopPropagation();
                $("#WIPFinal_Select_Asset_OK").trigger("dxclick");
            }
        })
        function WIPFinal_Select_Asset_OK() {
            if (WIPFinal_Select_Asset_Grid.GetFocusedRowIndex() >= 0) {
                ShowLoader();
                Asset_RecID_WIPFinal = WIPFinal_Select_Asset_Grid.GetRowKey(WIPFinal_Select_Asset_Grid.GetFocusedRowIndex());
                $("#Existing_Asset_RecID_Profile").val(Asset_RecID_WIPFinal);
                $("#Saving_From_Select_Asset").val(true);
                $("#WIP_Select_Asset_Popup").dxPopup("hide");
                $("#Frm_WIP_Finalization_Window").submit();
            }
            else {
                DevExpress.ui.dialog.alert('Data Not Found...!', 'Select Asset');
                WIPFinal_Select_Asset_Grid.Focus();
            }
        }
    </script>
    @*Button Functions*@
</div>