<div class="WIPVoucher_ClearReferences">
    @model ConnectOneMVC.Areas.Account.Models.WIP_Finalization
    @using DevExtreme.AspNet.Mvc;
    <style>
        /*FCRA Related*/
        #ListSpecialVoucherRef_WIPF .dx-list-item-content {
            padding: 4.5px;
        }
    </style>
    <div id="Frm_Voucher_Win_WIP_Finalization_popup">

        @using (Ajax.BeginForm("Frm_WIP_Finalization_Window", "WIPFinalization",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "Frm_Voucher_Win_WIP_Finalization_popup",
                InsertionMode = InsertionMode.InsertAfter,
                OnBegin = "AjaxBeginFormPost",
                OnSuccess = "AjaxSuccessWIP_Finalization"
            },
            new
            {
                id = "Frm_WIP_Finalization_Window",
                @class = "edit_form form-horizontal"
            }))
        {
            @Html.HiddenFor(x => x.Txn_Cr_ItemId_WIPF)
            @Html.HiddenFor(x => x.Tag)
            @Html.HiddenFor(x => x.xMID)
            @Html.HiddenFor(x => x.xID)
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.Asset_Item_ID_WIPF)
            @Html.HiddenFor(x => x.AI_LED_ID_WIPF)
            @Html.HiddenFor(x => x.iLed_Type_WIPF)
            @Html.HiddenFor(x => x.iCon_Led_Type_WIPF)
            @Html.HiddenFor(x => x.iCond_Ledger_ID_WIPF)
            @Html.HiddenFor(x => x.iMinValue_WIPF)
            @Html.HiddenFor(x => x.iMaxValue_WIPF)
            @Html.HiddenFor(x => x.TitleX)
            @Html.HiddenFor(x => x.Me_Text)
            @Html.HiddenFor(x => x.AI_MAKE_WIPF)
            @Html.HiddenFor(x => x.AI_MODEL_WIPF)
            @Html.HiddenFor(x => x.AI_SERIAL_NO_WIPF)
            @Html.HiddenFor(x => x.AI_WARRANTY_WIPF)
            @Html.HiddenFor(x => x.Finalized_Asset_text)
            @Html.HiddenFor(x => x.QTY_WIPF)
            @Html.HiddenFor(x => x.AI_RATE_WIPF)
            @Html.HiddenFor(x => x.Other_Details_WIPF)
            @Html.HiddenFor(x => x.X_LOC_ID_WIPF)
            @Html.HiddenFor(x => x.AI_Type_WIPF)
            @Html.HiddenFor(x => x.Existing_Asset_RecID_Profile)
            @Html.HiddenFor(x => x.Saving_From_Select_Asset)
            @Html.HiddenFor(x => x.Saving_From_Asset_Window)
            //FCRA Related
            @Html.HiddenFor(x => x.WIPF_SplVchrReferenceSelected)
            @Html.HiddenFor(x => x.splVchrRefsCount_WIPF)

            using (Html.DevExtreme().ValidationGroup("WIP_Finalization_Voucher"))
            {
                <div class="container-fluid">
                    <div class="full-width-header-bg">
                        <div class="row">
                            <div class="col-sm-8 pll">
                                <h3 class="popuphead"><i class="far fa-edit"></i> WIP Finalization</h3>
                            </div>
                            <div class="col-sm-4 prm">
                                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                            </div>
                        </div>
                    </div><!--[Header]-->
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <div class="form-field" style="padding:15px 0px 16px 0px ">
                                <fieldset class="default-fieldset">
                                    <div class="row">
                                        <div class="col-sm-3 plm">
                                            <label class="control-label text-red" for="GLookUp_WIPLedgerList_WIPF">WIP Ledger:</label>
                                        </div>
                                        <div class="col-sm-9" data-toggle="tooltip" data-placement="bottom" title="Select WIP Ledger">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown()
                                                .ID("GLookUp_WIPLedgerList_WIPF").Name("GLookUp_WIPLedgerList_WIPF")
                                                .ValueExpr("WIP_LED_ID").DisplayExpr("WIP_LEDGER")
                                                .DataSource(d => d.Mvc().Controller("WIPFinalization")
                                                .LoadAction("LookUp_GetWIPLedgerList_WIPF").Key("WIP_LED_ID")
                                                .LoadParams(new { DDRefresh = new JS("function (){ return WIPLedgerList_DDRefresh_WIPF;}") })
                                                .LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                                .Placeholder("Select WIP Ledger...")
                                                .OnValueChanged("GLookUp_WIPLedgerList_EditValueChanged_WIPF")
                                                .ContentTemplate(@<text> @Html.Partial("WIPFinal_LookUp_GetWIPLedgerList") </text>)
                                            )
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 plm"><label class="control-label text-red" for="GLookUp_FinalizedAssetList_WIPF">Finalized Asset:</label></div>
                                        <div class="col-sm-5">
                                            @(Html.DevExtreme().DropDownBox().CustomDropDown()
                                                .ID("GLookUp_FinalizedAssetList_WIPF").Name("GLookUp_FinalizedAssetList_WIPF")
                                                .ValueExpr("Asset_Item_ID").DisplayExpr("Finalized_Asset")
                                                .DataSource(d => d.Mvc().Controller("WIPFinalization")
                                                .LoadAction("LookUp_GetFinalizedAssetList_WIPF").Key("Asset_Item_ID")
                                                .LoadParams(new { WIP_Led_ID = new JS("function (){return LED_ID_WIPF;}"), DDRefresh = new JS("function (){ return FinalizedAssetList_DDRefresh_WIPF;}") })
                                                .LoadMode(DataSourceLoadMode.Raw).CacheRawData(true))
                                                .Placeholder("Select Finalized Asset..")
                                                .OnValueChanged("GLookUp_FinalizedAssetList_EditValueChanged_WIPF")
                                                .ContentTemplate(@<text> @Html.Partial("WIPFinal_LookUp_GetFinalizedAssetList") </text>)
                                            )

                                        </div>
                                        <div class="col-sm-4 prm plm">
                                            @(Html.DevExtreme().RadioGroup().ID("Rad_AssetType_WIPF").Name("Rad_AssetType_WIPF").ActiveStateEnabled(true).DisplayExpr("text").ReadOnly(false).Value(1)
                                                                  .Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).ValueExpr("value").DataSource(new object[] { new { text = "New", value = 0 }, new { text = "Existing", value = 1 } }) )
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-field">
                                <fieldset class="default-fieldset">
                                    <legend class="custom-legend mlm"> Voucher Detail:</legend>
                                    <div class="row">
                                        <div class="col-sm-3 plm"><label class="control-label text-red" for="Txt_V_Date_WIPF">Date</label></div>
                                        <div class="col-sm-9 plm">
                                            @(Html.DevExtreme().DateBox().CustomDateBox()
                                                .ID("Txt_V_Date_WIPF")
                                                .Name("Txt_V_Date_WIPF")
                                                .Value(Model.Txt_V_Date_WIPF)
                                             )
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 plm"><label class="control-label" for="user">No:</label></div>
                                        <div class="col-sm-9 plm">
                                            @(Html.DevExtreme().TextBox()
                                                .CustomTextBox()
                                                .ID("Txt_V_NO_WIPF").Name("Txt_V_NO_WIPF")
                                                .ReadOnly(true).FocusStateEnabled(false)
                                                .Value(Model.Txt_V_NO_WIPF)
                                            )
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div><!--[Block 1]-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-field">
                                @*<div class="outter-brd">*@
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-heading"><i class="fas fa-file btn-icons newfile icon-rgt-space5"></i> Reference Listing </div>
                                    </div>
                                    <div class="col-sm-12" id="WIPFinal_Reference_Listing_Grid_Div">
                                        <form>
                                            @Html.Action("Frm_WIPFinal_Reference_Listing_Grid", "WIPFinalization")
                                        </form>
                                    </div>
                                </div><!--[row2]-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-field">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            @(Html.DevExtreme().Button().ID("WIPFinal_BUT_EDIT").Icon("fas fa-pencil-alt btn-icons editcolor icon-rgt-space5").Text("Edit").Width(120).OnClick(@<text> function () { DataNavigation_WIPF("EDIT"); } </text>).Disabled(Model.ActionMethod=="_View"|| Model.ActionMethod == "_Delete"))
                                                        </div>
                                                        <div class="col-sm-5">
                                                            @(Html.DevExtreme().Button().ID("WIPFinal_BUT_TxnReport").Text("Txn. Report").Icon("fas fa-file btn-icons newfile icon-rgt-space5").Width(120).OnClick(@<text> function(){DataNavigation_WIPF("Txn_Report");} </text>).Disabled(Model.ActionMethod == "_View" || Model.ActionMethod == "_Delete"))
                                                        </div>
                                                    </div>
                                                </div><!--[Edit/txn Report]-->
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-4"><label class="control-label blu-txt" for="Txt_TotalAmount_WIPF" style="font-weight: 500!important;">Total Amount:</label></div>
                                                        <div class="col-sm-8">
                                                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_TotalAmount_WIPF").Format("#0.00").Name("Txt_TotalAmount_WIPF").Value(0.00).ReadOnly(true).FocusStateEnabled(false) )
                                                        </div>
                                                    </div>
                                                </div><!--[Total Amount]-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*</div>*@
                        </div><!--[Grid Buttons]-->
                    </div><!--[Grid]-->

                    <div class="row">
                        <div id="WIPF_NarrationDiv" class="col-sm-12 col-md-8 col-lg-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-field">
                                        <div class="row">
                                            <div class="col-md-2"><label class="control-label" for="Txt_Narration_WIPF">Narration:</label></div>
                                            <div class="col-md-10">
                                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Narration_WIPF").Name("Txt_Narration_WIPF").Value(Model.Txt_Narration_WIPF).ReadOnly(false).Placeholder("Type any Narration...").MaxLength(250) )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--[Narration Row]-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-field">
                                        <div class="row">
                                            <div class="col-md-2"><label class="control-label" for="Txt_Reference_WIPF">Reference:</label></div>
                                            <div class="col-md-10">
                                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Reference_WIPF").Name("Txt_Reference_WIPF").Value(Model.Txt_Reference_WIPF).ReadOnly(false).Placeholder("Type any Reference Details...").MaxLength(250) )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--[Reference Row]-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-field">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="control-label text-red" id="lbl_cdw_purpose" for="Name">Purpose:</label>
                                            </div>
                                            <div class="col-md-10">
                                                @(Html.DevExtreme().SelectBox().CustomSelectBox()
                                        .ID("PurposeID_WIPF").Name("PurposeID_WIPF")
                                        .DataSource(d => d.Mvc().Controller("WIPFinalization")
                                        .LoadAction("LookUp_GetPurposeList").Key("PUR_ID"))
                                        .DisplayExpr("PUR_NAME").ValueExpr("PUR_ID")
                                        .Value(Model.PurposeID_WIPF).Placeholder("Select Purpose...").Disabled(false))
                                                @Html.ValidationMessageFor(model => model.PurposeID_WIPF, "", new { @class = "text-red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--[Purpose Row]-->

                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4" id="WIPF_SpecialVoucherRefDiv">
                            <div class="form-field ">
                                <div class="dx-texteditor-container">
                                    @(Html.DevExtreme().List().CustomList().ID("ListSpecialVoucherRef_WIPF")
                                    .DataSource(Model.SpecialReferenceList_Data_WIPF, "Task_Name")
                                    .SearchEnabled(false)
                                    .SelectionMode(DevExtreme.AspNet.Mvc.ListSelectionMode.Multiple)
                                    .KeyExpr("Task_Name")
                                    .DisplayExpr("Task_Name")
                                    .OnSelectionChanged("OnSplVchrRefsListSelectionChanged_WIPF")
                                    .Height(84).ShowScrollbar(ShowScrollbarMode.Always).UseNativeScrolling(false)
                                    .ShowSelectionControls(true)
                                    .SelectedItemKeys(Model.SpecialReference_Get_SelectedValue_WIPF))
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ( {0} ~ {1})...", Model.ActionMethod.Substring(1), Model.TitleX))
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="styleActionBtn">
                                        @(Html.DevExtreme().Button().ID("BUT_SAVE_COM_WIPF").CustomSaveButton(Model.ActionMethod.ToString()).Text((Model.ActionMethod.ToString().Trim() == "_Delete") ? "Delete" : "Save").UseSubmitBehavior(false).Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true).OnClick("BUT_SAVE_Click_WIPF"))
                                        @(Html.DevExtreme().Button().ID("BUT_CANCEL_WIPF").CustomCloseButton().Text((Model.ActionMethod.ToString().Trim() == "_View") ? "Close" : "Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[row5]-->
                </div>
            }

        }
    </div>

    <script>
    var GLookUp_WIPLedgerList_DG_WIPF;
    var GLookUp_FinalizedAssetList_DG_WIPF;
    var Tag_WIPF = "@Model.Tag";
    var WIPLedgerList_Enable = true;
    var WIPLedgerList_ReadOnly = false;
    var FinalizedAssetList_Enable = true;
    var FinalizedAssetList_ReadOnly = false;
    var WIPLedgerList_DDRefresh_WIPF = false;
        var FinalizedAssetList_DDRefresh_WIPF = false;

        var LED_ID_WIPF = null;
        var LEDGER_WIPF = null;
        var WIPLedgerList_DD_ValueChange_FirstCall = true;

    </script>
    @*Global Variables*@


    <script>
      function InitAllDropdownDataGrid()
      {
          var $GLookUp_WIPLedgerList_DG_WIPF = $("#WIPLedgerList_datagrid");
          if ($GLookUp_WIPLedgerList_DG_WIPF.length)
          {
              GLookUp_WIPLedgerList_DG_WIPF = $GLookUp_WIPLedgerList_DG_WIPF.dxDataGrid("instance");
          }
          var $GLookUp_FinalizedAssetList_DG_WIPF = $("#FinalizedAssetList_datagrid");
          if ($GLookUp_FinalizedAssetList_DG_WIPF.length)
          {
              GLookUp_FinalizedAssetList_DG_WIPF = $GLookUp_FinalizedAssetList_DG_WIPF.dxDataGrid("instance");
          }
      }
      async function LookUp_GetWIPLedgerList_WIPF(FirstCall = false)
      {
          if (Tag_WIPF == "_New" || Tag_WIPF == "_New_From_Selection")
          {
              WIPLedgerList_ReadOnly = false;
              Control_SetReadOnly("GLookUp_WIPLedgerList_WIPF", "dxDropDownBox", (WIPLedgerList_Enable == true && WIPLedgerList_ReadOnly == false) ? false : true);
          }
          if (FirstCall == false)
          {
              WIPLedgerList_DDRefresh_WIPF = true;
              await GLookUp_WIPLedgerList_DG_WIPF.refresh();
              WIPLedgerList_DDRefresh_WIPF = false;
          }
      }
      async function LookUp_GetFinalizedAssetList_WIPF(FirstCall = false)
      {
          if (Tag_WIPF == "_New" || Tag_WIPF == "_New_From_Selection")
          {
              FinalizedAssetList_ReadOnly = false;
              Control_SetReadOnly("GLookUp_FinalizedAssetList_WIPF", "dxDropDownBox", (FinalizedAssetList_Enable == true && FinalizedAssetList_ReadOnly == false) ? false : true);
          }
          if (FirstCall == false)
          {
              FinalizedAssetList_DDRefresh_WIPF = true;
              await GLookUp_FinalizedAssetList_DG_WIPF.refresh();
              FinalizedAssetList_DDRefresh_WIPF = false;
          }
      }


      //Purpose related js script
      $(function () {
          $("#PurposeID_WIPF")
        .dxSelectBox({})
        .dxValidator({
            validationRules: [{
                type: 'custom',
                validationCallback: function (options) {
                    var result = true;
                    if ("@Model.ActionMethod" == "_New" ||"@Model.ActionMethod" == "_New_From_Selection"||"@Model.ActionMethod" == "_Edit") {

                        if (options.value == "" || options.value ==null) {
                            result = false;
                        }
                    }
                    return result;
                },
                message: " Purpose Cannot Be Blank..!!"
            }],
            validationGroup: "WIP_Finalization_Voucher"
        });//redmine Bug #133286 fix
      });

    </script>
    @*InitAllDDdatagrid and Lookup functions*@


    <script>
        $(document).ready(async function ()
        {
            ShowLoader_Ready();
            TransformTextForDB("Frm_WIP_Finalization_Window");
            sessionclearpath = "/Account/WIPFinalization/SessionClear";
            if (Tag_WIPF != "_View")
            {
                dontaskpopupcloseconfirmation = false;
            }
            InitAllDropdownDataGrid();
            LookUp_GetWIPLedgerList_WIPF(true);
            if (Tag_WIPF == "_New" || Tag_WIPF == "_New_From_Selection")
            {
                $("#Rad_AssetType_WIPF").dxRadioGroup("instance").option("value", parseInt("@Model.Rad_AssetType_WIPF"));
            }
            else if (Tag_WIPF == "_Edit" || Tag_WIPF == "_View" || Tag_WIPF == "_Delete")
            {
                await GLookUp_WIPLedgerList_DG_WIPF.selectRows("@Model.GLookUp_WIPLedgerList_WIPF", false);
                await GLookUp_FinalizedAssetList_DG_WIPF.selectRows("@Model.GLookUp_FinalizedAssetList_WIPF", false);
                $("#Rad_AssetType_WIPF").dxRadioGroup("instance").option("value", parseInt("@Model.Rad_AssetType_WIPF"));
                $('#Txt_TotalAmount_WIPF').dxNumberBox('instance').option('value', parseFloat("@Model.Txt_TotalAmount_WIPF"));
            }

            //FCRA Related
            if (parseInt("@Model.splVchrRefsCount_WIPF") == 0)
                {
                    $("#WIPF_SpecialVoucherRefDiv").remove();
                    $("#WIPF_NarrationDiv").removeClass("col-sm-12 col-md-8 col-lg-8").addClass("col-sm-12 col-md-12");
            }
            if (parseInt("@Model.splVchrRefsCount_WIPF") > 0) {
                //await $("#ListSpecialVoucherRef_WIPF").dxList("getDataSource").load();
                OnSplVchrRefsListSelectionChanged_WIPF();
            }

            FormInitialSettings("Frm_WIP_Finalization_Window", Tag_WIPF);
        });

    function AjaxSuccessWIP_Finalization(data)
    {
        HideLoader();
        if (data.jsonParam.result == false)
        {
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (alertResult)
            {
                if (alertResult)
                {
                    if (data.jsonParam.refreshgrid == true)
                    {
                        RefreshGridView("@ViewBag.GridToRefresh");
                    }
                    if (data.jsonParam.focusid)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else if (data.jsonParam.result == true)
        {
            if (data.Asset_Window == true)
            {
                OpenPopup("Frm_WIPFinal_Asset_Window_Popup", data.jsonParam.popup_title, data.jsonParam.popup_form_path + "?" + data.jsonParam.popup_querystring, "auto", 900, false, null);
                return;
            }
            if (data.Select_Asset == true)
            {
                OpenPopup("WIP_Select_Asset_Popup", data.jsonParam.popup_title, data.jsonParam.popup_form_path + "?" + data.jsonParam.popup_querystring, "auto", 810, false, null);
                return;
            }
            var _ActiveTab_ID = $(".TabPanalMenu-tabs .active").attr("id");
            var alertclick = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alertclick.done(function (result)
            {
                if (result)
                {
                    if ("@ViewBag.GridToRefresh" != "CashBookListGrid")
                    {
                        RefreshGridView("@ViewBag.GridToRefresh");
                    }
                    if (/*typeof CashBookListGrid !== 'undefined'*/_ActiveTab_ID == "contact_Frm_Voucher_Info_CB")
                    {
                        var VouDate = $("#Txt_V_Date_WIPF").dxDateBox("instance").option("value");
                        AfterVoucherClose_CB(VouDate, Tag_WIPF, IsUndefinedOrNull(data.CashbookGridPK) ? "" : data.CashbookGridPK);
                    }
                    else if (_ActiveTab_ID == "contact_Frm_Voucher_Info") {
                        AfterVoucherClose_VoucherEntry();
                    }
                    dontaskpopupcloseconfirmation = true;
                    $("#Dynamic_Content_popup").dxPopup("hide");
                }
            });
        }
    }

    </script>
    @*Document.Ready SetDefault *@


    <script>

        function GLookUp_WIPLedgerList_EditValueChanged_WIPF(e) {
            e.component.close();
            if (e.value == null && e.previousValue != null) {
                GLookUp_WIPLedgerList_DG_WIPF.clearSelection();
                GLookUp_FinalizedAssetList_DG_WIPF.clearSelection();
                LED_ID_WIPF = null;
                LEDGER_WIPF = null;
                $("#Txn_Cr_ItemId_WIPF").val(null);
                LookUp_GetFinalizedAssetList_WIPF();
                Ledger_Outstanding_References();
                WIPLedgerList_DD_ValueChange_FirstCall = false;
                return;
            }
            if (GLookUp_WIPLedgerList_DG_WIPF.getSelectedRowsData().length > 0) {
                var item = GLookUp_WIPLedgerList_DG_WIPF.getSelectedRowsData()[0];
                $("#Txn_Cr_ItemId_WIPF").val(item["Txn_Cr_ItemId"]);    //WIP Finalization ItemID
                LED_ID_WIPF = item["WIP_LED_ID"];
                LEDGER_WIPF = item["WIP_LEDGER"];
                LookUp_GetFinalizedAssetList_WIPF((Tag_WIPF == "_New_From_Selection" || Tag_WIPF == "_New") ? false : WIPLedgerList_DD_ValueChange_FirstCall);
                if (WIPLedgerList_DD_ValueChange_FirstCall == false || Tag_WIPF == "_New_From_Selection" || Tag_WIPF == "_New") {
                    Ledger_Outstanding_References();
                }
                WIPLedgerList_DD_ValueChange_FirstCall = false;
            }
        }
        function GLookUp_FinalizedAssetList_EditValueChanged_WIPF(e) {
            e.component.close();
            if (e.value == null && e.previousValue != null) {
                GLookUp_FinalizedAssetList_DG_WIPF.clearSelection();
                return;
            }
            if (GLookUp_FinalizedAssetList_DG_WIPF.getSelectedRowsData().length > 0) {
                var item = GLookUp_FinalizedAssetList_DG_WIPF.getSelectedRowsData()[0];
                $("#Finalized_Asset_text").val(item["Finalized_Asset"]);
                $("#AI_LED_ID_WIPF").val(item["Asset_LED_ID"]);
                $("#iLed_Type_WIPF").val(item["LED_TYPE"]);
                $("#iCon_Led_Type_WIPF").val(item["CON_LED_TYPE"]);
                $("#iCond_Ledger_ID_WIPF").val(item["ITEM_CON_LED_ID"]);
                $("#iMinValue_WIPF").val(item["ITEM_CON_MIN_VALUE"]);
                $("#iMaxValue_WIPF").val(item["ITEM_CON_MAX_VALUE"]);
            }
        }
        function Ledger_Outstanding_References() {
            RefreshGridView("WIPFinal_Reference_Grid");
        }
    </script>
    @*DropdownBox Valuechange functions*@


    <script>
    function WIPFin_Ref_ListingGrid_BeginCallBack(s, e)
    {
        e.customArgs["command"] = e.command;
        e.customArgs['WIP_LED_ID'] = LED_ID_WIPF;
        e.customArgs['ActionMethod'] = Tag_WIPF;
        e.customArgs['xMID'] = "@Model.xMID";
    }
    function WIPFin_Ref_ListingGridFocusedRowChanged(s, e)
    {
        s.Focus();
    }
    function WIPFin_Ref_ListingGrid_DblClick(s,e)
    {
        DataNavigation_WIPF("EDIT");
    }
    function WIPFin_Ref_ListingGrid_EndCallback(s, e)
    {
        $('#Txt_TotalAmount_WIPF').dxNumberBox('instance').option('value', s.cpTotalAmount);
    }
    function WIPFin_Ref_ListingGrid_contextItemclick(s, e)
    {
        if (e.item.name == 'Edit')
        {
            DataNavigation_WIPF("EDIT");
        }
        else if (e.item.name == 'Txn. Report')
        {
            DataNavigation_WIPF("Txn_Report");
        }

    }
    </script>
    @*Grid Functions*@


    <script>
    function BUT_SAVE_Click_WIPF(e)
    {
        if (ValidateForm(e))
        {
            if (Tag_WIPF == "_Delete")
            {
                DeleteAfterConfirmation("@Model.Me_Text", "",$("#Frm_WIP_Finalization_Window"));
                @*CreateCustomConfirmDialog("@Model.Me_Text", "", true).show().done(function (dialogResult)
                {
                    if (dialogResult)
                    {
                        $("#Saving_From_Asset_Window").val(false);
                        $("#Saving_From_Select_Asset").val(false);
                        $("#Frm_WIP_Finalization_Window").submit();
                    }
                });*@
            }
            else {
                $("#Saving_From_Asset_Window").val(false);
                $("#Saving_From_Select_Asset").val(false);
                $("#Frm_WIP_Finalization_Window").submit();
            }
        }
    }
    function DataNavigation_WIPF(Action)
    {
        if (Tag_WIPF == "_New" || Tag_WIPF == "_New_From_Selection"|| Tag_WIPF == "_Edit" /*|| Tag_WIPF == "_View"*/)
        {
            switch (Action)
            {
                case "EDIT":
                case "VIEW":
                    WIPFinal_EditReference(Action);
                    break;
                case "Txn_Report":
                    WIPFinal_OpenTxn_Report();
                    break;
            }
        }
    }
      function WIPFinal_OpenTxn_Report()
      {
          if (WIPFinal_Reference_Grid.GetFocusedRowIndex() < 0)
          {
              DevExpress.ui.dialog.alert('Please Select one row', 'Alert');
              return;
          }
          var GridKey = WIPFinal_Reference_Grid.GetRowKey(WIPFinal_Reference_Grid.GetFocusedRowIndex());
          ShowLoader();
          $.ajax({
              type: 'GET',
              url: "/Account/ProfilePaymentVoucher/Frm_Txn_Report",
              data:
              {
                  CallingGridBaseSessionKey: "Reference_Grid_ExportData_WIPFinal",
                  LedgerID: LED_ID_WIPF,
                  LedgerName:LEDGER_WIPF,
                  popupID: "WIPFin_Txn_Report_Popup",
                  GridPK: GridKey
              },
              cache: false,
              success: function (data)
              {
                  OpenPopup("WIPFin_Txn_Report_Popup", "Transaction Report",null, "auto", 750, true, data);
              }
          });
        }
        $("#WIPFinal_Reference_Grid").keydown(function (evt) {
            if (evt.keyCode == 13) //enter key
            {
                evt.preventDefault();
                evt.stopImmediatePropagation();
                evt.stopPropagation();
                $("#WIPFinal_BUT_EDIT").trigger("dxclick");
            }
        })
      function WIPFinal_EditReference(Action)
      {
          if (WIPFinal_Reference_Grid.GetFocusedRowIndex() < 0)
          {
              DevExpress.ui.dialog.alert('Please Select one row', 'Alert');
              return;
          }
          var GridKey = WIPFinal_Reference_Grid.GetRowKey(WIPFinal_Reference_Grid.GetFocusedRowIndex());
          var Title_Item_Detail;
          if (Tag_WIPF == "_View")
          {
              Title_Item_Detail = "View ~ Item Detail";
          }
          else
          {
              Title_Item_Detail = "Edit ~ Item Detail";
          }
          ShowLoader();
          $.ajax({
              type: 'GET',
              url: "/Account/WIPFinalization/Frm_Voucher_WIP_Item_Detail",
              data:
              {
                  ActionMethod: Action,
                  xMID: "@Model.xMID",
                  Sr:GridKey
              },
              cache: false,
              success: function (data)
              {
                  OpenPopup("WIP_Item_Detail_Popup", Title_Item_Detail,null, "auto", 500, true, data);
              }
          });
      }
    </script>
    @*Button Functions*@
    <script>
        //FCRA Related
        function OnSplVchrRefsListSelectionChanged_WIPF(e) {
            //debugger;
            var listBox = $("#ListSpecialVoucherRef_WIPF").dxList("instance");
            var selecteditemkey = listBox.option("selectedItemKeys")
            if (selecteditemkey != null && selecteditemkey.length > 0) {
                $("#WIPF_SplVchrReferenceSelected").val(selecteditemkey.join(","));
            }
            else {
                $("#WIPF_SplVchrReferenceSelected").val("");
            }
        }// List selection
    </script>
</div>
