<div class="WIPVoucher_Item_ClearReferences">
    @model ConnectOneMVC.Areas.Account.Models.WIPFinal_Item_Detail
    @using DevExtreme.AspNet.Mvc;
    @{
        bool IsVisible = Model != null && (Model.ActionMethod_ItemDetail_WIPF.ToString().Trim() == "View" || Model.ActionMethod_ItemDetail_WIPF.ToString().Trim() == "Delete") ? true : false;

        Html.EnableClientValidation();
        Html.AntiForgeryToken();
        Html.EnableUnobtrusiveJavaScript();
    }
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>

    <div id="Frm_WIP_ITEM_Window_Content">
        @using (Ajax.BeginForm("Frm_Voucher_WIP_Item_Detail", "WIPFinalization",
                                                  new AjaxOptions
                                                  {
                                                      HttpMethod = "POST",
                                                      UpdateTargetId = "Frm_Voucher_WIP_Item_Detail",
                                                      InsertionMode = InsertionMode.InsertAfter,
                                                      OnBegin = "AjaxBeginFormPost",
                                                      OnSuccess = "Item_DetailAjaxSuccessFunction"
                                                  },
                                                  new
                                                  {
                                                      id = "Frm_Voucher_WIP_Item_Detail",
                                                      @class = "edit_form form-horizontal"
                                                  }))
        {
            @Html.HiddenFor(x => x.Next_year_WIP_Amount_ItemDetail_WIPF)
            @Html.HiddenFor(x => x.ActionMethod_ItemDetail_WIPF)
            @Html.HiddenFor(x => x.Grid_PK)

            var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();
            using (Html.DevExtreme().ValidationGroup())
            {
                <div class="full-width-header">
                    <div class="row">

                        <div class="col-sm-6 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Reference Detail</h3>
                        </div>
                        <div class="col-sm-6 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                    </div>
                </div><!--[row]-->
                <div class="row form-field">
                    <div class="col-sm-3 pll">
                        @Html.Label("Reference:", htmlAttributes: new { @class = "control-label text-red" })
                    </div>
                    <div class="col-sm-9 plm pll">
                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Reference_ItemDetail_WIPF") .Name("Txt_Reference_ItemDetail_WIPF") .Value(Model.Txt_Reference_ItemDetail_WIPF) .ReadOnly(true).MaxLength(255) )
                        @Html.ValidationMessageFor(model => model.Txt_Reference_ItemDetail_WIPF, "", new { @class = "text-red " })

                    </div>
                </div><!--[Reference]-->
                <div class="row form-field">
                    <div class="col-sm-3 pll">
                        @Html.Label("WIP Amount:", htmlAttributes: new { @class = "control-label text-red" })
                    </div>
                    <div class="col-sm-9 plm pll">
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Amount_ItemDetail_WIPF") .Name("Txt_Amount_ItemDetail_WIPF") .Value(Convert.ToDouble(Model.Txt_Amount_ItemDetail_WIPF)) .ReadOnly(true) .Format("#0.00"))
                        @Html.ValidationMessageFor(model => model.Txt_Amount_ItemDetail_WIPF, "", new { @class = "text-red " })
                    </div>
                </div><!--[WIP Amount]-->

                <div class="row form-field">
                    <div class="col-sm-3 pll">
                        @Html.Label("Finalized Amount:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-9 plm pll">
                        @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Txt_Finalized_Amount_ItemDetail_WIPF") .Name("Txt_Finalized_Amount_ItemDetail_WIPF") .Value(Convert.ToDouble(Model.Txt_Finalized_Amount_ItemDetail_WIPF)) .ReadOnly(false) .Format("#0.00") )
                        @Html.ValidationMessageFor(model => model.Txt_Finalized_Amount_ItemDetail_WIPF, "", new { @class = "text-red " })

                    </div>
                </div><!--[Finalized Amount]-->

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().ID("BUT_SAVE_COM_ItemDetail_WIPF").Text("OK").FocusStateEnabled(true).UseSubmitBehavior(true).Visible(Model.ActionMethod_ItemDetail_WIPF == "_View" ? false :true) )
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("BUT_CANCEL_ItemDetail_WIPF").Text(Model.ActionMethod_ItemDetail_WIPF == "_View" ? "Close" : "Cancel").FocusStateEnabled(true).OnClick("CloseWIPItemDetail"))
                        </div>
                    </div>
                </div><!--[Buttons]-->

            }
        }
    </div>

    <script>
    var Txt_Reference_Enable = true;
    var Txt_Reference_ReadOnly = true;
    var Txt_Amount_Enable = true;
    var Txt_Amount_ReadOnly = true;
    var Txt_Finalized_Amount_Enable = true;
    var Txt_Finalized_Amount_ReadOnly = false;
    var Tag_ItemDetail_WIPF = "@Model.ActionMethod_ItemDetail_WIPF";
    </script>
    @*Global Variables*@

    <script>
        $(document).ready(function () {
            ShowLoader();
            $("#Txt_Reference_ItemDetail_WIPF").find('input').css('color', "#696969");
            $("#Txt_Amount_ItemDetail_WIPF").find('input').css('color', "#696969");
            setTimeout(function () {
                if (Tag_ItemDetail_WIPF == "_View") {
                    Set_Form_View_Delete_Mode("#000080", "Frm_Voucher_WIP_Item_Detail");
                }
                else if (Tag_ItemDetail_WIPF == "_Delete") {
                    Set_Form_View_Delete_Mode("#696969", "Frm_Voucher_WIP_Item_Detail");
                }
                else {
                    Focus_FirstEditable_Field("Frm_Voucher_WIP_Item_Detail");
                }
                HideLoader();
            }, Timeout500);
        });

        function Item_DetailAjaxSuccessFunction(data) {
            HideLoader();
            if (data.jsonparam.result == false) {
                if (data.jsonparam.closeform) {
                    $("#WIP_Item_Detail_Popup").dxPopup("hide");
                }
                var alertclick = DevExpress.ui.dialog.alert(data.jsonparam.message, data.jsonparam.title);
                alertclick.done(function (alertResult) {
                    if (alertResult) {
                        var id = "#" + data.jsonparam.focusid;
                        setTimeout(function () {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                });
            }
            else if (data.jsonparam.result == true) {
                PerformCallbackGridView("WIPFinal_Reference_Grid");
                $("#WIP_Item_Detail_Popup").dxPopup("hide");
            }
        }
        function CloseWIPItemDetail(e) {
            $("#WIP_Item_Detail_Popup").dxPopup("hide");
        }
    </script>
    @*Document.ready SetDefault & AjaxSuccessFunction*@
    
</div>
