@using DevExtreme.AspNet.Mvc;

@model IEnumerable<dynamic>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="col-md-12">

    @*Buttons*@
    <div style="float:right;margin-bottom:20px;">
        @(Html.DevExtreme().Button()
                                        .ID("MagMemberModelNew")
                                        .Text("New")
                                        .Icon("add")
                                        .OnClick(@<text>
                                            function () {
                                            OnNewClick();
                                            }
                                        </text>)
        )

        @(Html.DevExtreme().Button()
                                        .ID("MagMemberModelEdit")
                                        .Text("Edit")
                                         .Icon("edit")
                                         .OnClick(@<text>
                                            function () {
                                            OnEditClick();
                                            }
                                        </text>)
        )

        @(Html.DevExtreme().Button()
                                        .ID("MagMemberModelDelete")
                                        .Text("Delete")
                                        .Icon("trash")
                                        .OnClick(@<text>
                                            function () {
                                            OnDeleteClick();
                                            }
                                        </text>)
        )

        @(Html.DevExtreme().Button()
                                        .ID("MagMemberModelView")
                                        .Text("View")
                                        .Icon(IconID.ViewCustomers16x16devav)
                                        .Icon("doc")
                                        .OnClick(@<text>
                                            function () {
                                            OnViewClick();
                                            }
                                        </text>)
        )

        @(Html.DevExtreme().Button()
                                        .ID("MagMemberModelListPreview")
                                        .Text("Export")
                                        .Icon("print")
                                        .Width(80)
                                        .OnClick(@<text>
                                            function () {
                                            OnListPreviewClick();
                                            }
                                        </text>)
        )
        <br />
    </div>
    <div id="MagMemberreloadPartialView">
        @Html.Partial("Frm_Magazine_Membership_Info_Grid", Model)
    </div>
</div>
<div class="col-lg-12" id="FooterItem">
    @(Html.DevExtreme().Button()
                                    .ID("MagMemberCreateFilterButton")
                                    .Icon("todo")
                                    .Hint("Open Filter Builder")
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "float-right" } })
                                    .OnClick(@<text>
                                        function () {
                                        MagMemberCreateFilterClick();
                                        }
                                    </text>)
    )

    @(Html.DevExtreme().Button()
                                    .ID("MagMemberShowFooter")
                                    .Icon("overflow")
                                    .Hint("Show  footer")
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "float-right" } })
                                    .OnClick(@<text>
                                        function () {
                                        SetMagMemberFooterVisible();
                                        }
                                    </text>)
    )

    @(Html.DevExtreme().Button()
                                    .ID("MagMemberShowGroupFooter")
                                    .Icon("overflow")
                                    .Hint("Show Group footer")
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "float-right" } })
                                    .OnClick(@<text>
                                        function () {
                                        SetMagMemberGroupPanelFooterVisible();
                                        }
                                    </text>)
    )

    @(Html.DevExtreme().Button()
                                        .ID("MagMemberGroupColumn")
                                        .Icon("group")
                                        .Hint("Show column Group")
                                        .ElementAttr(new Dictionary<string, object>() { { "class", "float-right" } })
                                        .OnClick(@<text>
                                            function () {
                                            OnMagMemberGroupeClick();
                                            }
                                        </text>)
    )

    @(Html.DevExtreme().Button()
                                        .ID("btShowGroupPanel")
                                        .Icon("spinup")
                                        .Hint("Show Group Box")
                                        .ElementAttr(new Dictionary<string, object>() { { "class", "float-right" } })
                                        .OnClick(@<text>
                                            function () {
                                            ShowGroupPanel();
                                            }
                                        </text>)
    )

    @(Html.DevExtreme().Button()
                                        .ID("btShowColumnChooser")
                                        .Icon("add")
                                        .Hint("Show Column Chooser")
                                        .ElementAttr(new Dictionary<string, object>() { { "class", "float-right" } })
                                        .OnClick(@<text>
                                            function () {
                                            ShowColumnChooser();
                                            }
                                        </text>)
    )

</div>
<div id="setFooterItem">
    <div class="footer-inner">
        <div class="row">
            <div class="col-sm-2 header-margin-right">
                <div class="footer-text">
                    <div id="Lbl_Status" style="font-size:23px"></div>
                    @*<p id="Lbl_StatusOn"></p>*@
                    @*<p id="Lbl_StatusBy"></p>*@
                </div>
            </div>
            <div class="col-sm-10">
                <div class="footer-text">
                    <p id="Lbl_Create"></p>
                    <p id="Lbl_Modify"></p>
                </div>
            </div>
        </div>
        <div class="footer-filter">
            @Html.DevExpress().TrackBar(
                   tb =>
                   {
                       tb.Name = "trackBar";
                       tb.Properties.ScalePosition = ScalePosition.LeftOrTop;
                       tb.Properties.ValueToolTipPosition = ValueToolTipPosition.RightOrBottom;
                       tb.Properties.ValueType = typeof(string);
                       tb.Width = 150;
                       tb.Position = 2;
                       tb.ControlStyle.CssClass = "float-right";
                       tb.Properties.ScalePosition = ScalePosition.None;
                   }
               ).GetHtml()

            @(Html.DevExtreme().Button()
                                        .ID("MagMemberSearch")
                                        .Text("Find")
                                        .Icon("find")
                                        .Hint("Show search")
                                        .ElementAttr(new Dictionary<string, object>() { { "class", "float-right" } })
                                        .OnClick(@<text>
                                            function () {
                                            OnMagMemberSearchClick();
                                            }
                                        </text>))

            @(Html.DevExtreme().Button()
                                        .ID("MagMemberFind")
                                        .Text("Filter")
                                        .Icon("find")
                                        .Hint("Show filter")
                                        .ElementAttr(new Dictionary<string, object>() { { "class", "float-right" } })
                                        .OnClick(@<text>
                                            function () {
                                            OnMagMemberFilterClick();
                                            }
                                        </text>)
            )


        </div>
    </div>
</div>

@*Add/Edit Popup*@
@(Html.DevExtreme().Popup().CustomPopup()
                .ID("popup_frm_Magazine_Membership_Window_Export")
                .Title("Magazine Membership")
                .OnShowing("PopupOnShowing")
                .MinHeight(150)
                .MaxHeight(500)
                .MinWidth(400)
                .MaxWidth(1000)
                .ContentTemplate(  @<text><div id=myid>
                        <text>
                            @*@Html.Partial("ToolbarExport", ConnectOneMVC.Helper.GridViewExportDemoHelper.ExportFormatsInfo.Keys)*@
                        </text>
                    </div>
                </text>)
)

@(Html.DevExtreme().Popup().CustomPopup()
                .ID("popup_frm_Magazine_Membership_Window_Close")
                .Title("Magazine Membership")
                .OnShowing("PopupOnShowing")
                .MinHeight(200)
                .MaxHeight(500)
                .MinWidth(500)
                .MaxWidth(1000)
                .ContentTemplate(@<text>
                    <div id="result1">
                    </div>
                </text>)
                .OnHiding(@<text>
                        function () {
                        var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                        result.done(function (dialogResult) {
                        if(dialogResult){
                        $("#popup_frm_Magazine_Membership_Window_Close").dxPopup("hide");
                        }else
                        {
                        $("#popup_frm_Magazine_Membership_Window_Close").dxPopup("show");
                        }
                        });
                        }
                </text>)
)

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "report_modal";
    settings.HeaderText = "List Preview";
    settings.Modal = true;
    settings.Height = 700;
    settings.MinHeight = 700;
    settings.MinWidth = 1000;
    settings.MaxHeight = 1000;
    settings.MaxWidth = 1000;
    settings.CloseAction = CloseAction.CloseButton;
    settings.CloseOnEscape = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.SetContent(() =>
    {
        Html.RenderPartial("ReportViewerPartial");
    });
}).GetHtml()

@(Html.DevExtreme().Popup().CustomPopup()
                .ID("popup_frm_Magazine_Membership_Window")
                .Title("Magazine Membership")
                .OnShowing("PopupOnShowing")
                .ContentTemplate(@<text>
                    <div id="result">
                    </div>
                </text>)
                .OnHiding(@<text>
                        function () {
                        var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                        result.done(function (dialogResult) {
                        if(dialogResult){
                        $("#popup_frm_Magazine_Membership_Window").dxPopup("hide");
                        }else
                        {
                        $("#popup_frm_Magazine_Membership_Window").dxPopup("show");
                        }
                        });
                        }
                </text>)
)

@*Javascript Events*@
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            SetTelephoneGroupPanelFooterVisible();
            GroupPanelVisibility();
        });

        function grid_CustomizationWindowCloseUp(s, e) {
            UpdateButtonText();
        }

        function UpdateCustomizationWindowVisibility() {
            if (MagMemberListGrid.IsCustomizationWindowVisible())
                MagMemberListGrid.HideCustomizationWindow();
            else
                MagMemberListGrid.ShowCustomizationWindow();
            $("#btShowColumnChooser").find("i").toggleClass("dx-icon-add").toggleClass("dx-icon-close");
        }

        function slider_valueChanged(data) {
            //$('#TelephonereloadPartialView').animate({ 'zoom': data.value/100 }, 'slow');
        }

        $(document).ready(function () {
            var currentZoom = 1.0;
            $("#trackBar").click(function (evt) {
                currentZoom = 1.0;
                var trackBarCurrentValue = trackBar.GetValue()
                if (trackBarCurrentValue != 0) {
                    currentZoom += trackBarCurrentValue / 100;
                }
                $('#MagMemberreloadPartialView').animate({ 'zoom': currentZoom }, 'slow');
            });
        });

        var ID;
        var tP_NOField;
        var telMiscIdField;
        var categoryField;
        var typeField;
        var EditDate;


        var _actionName = "";
        var _IsContextMenu = false;

        function OnGridFocusedRowChanged(s, e) {
            _IsContextMenu = false;
            s.GetRowValues(s.GetFocusedRowIndex(), 'ID;tP_NOField;telMiscIdField;categoryField;typeField;other_DetField;EditDate', OnGetRowValues);
        }

        function OnGetRowValues(values) {
            ID = values[0];
            TP_NO = values[1];
            telMiscIdField = values[2];
            categoryField = values[3];
            typeField = values[4];
            other_DetField = values[5];
            EditDate = values[6];
            //UpdateFooterDetail(ID, 'Unlocked', '', '','', '', EditDate, '');
        }

        function OnNewClick() {
            $("#popup_frm_Telephone_Window").dxPopup("show");
            $(".dx-item-content.dx-toolbar-item-content:first").find("div").html('New ~ Telephone');
            $("#result").html('');
            $("#result").load("@Url.Action("frm_Telephone_window", "Telephone", new { @area = "Profile" })?ActionMethod=New");
        }

        function OnEditClick() {
            if (ID == 'undefined' || ID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }
            $.ajax({
                type: 'GET',
                url: "/Profile/Telephone/ButtonClick",
                data: { ActionMethod: "Edit", id: ID, Edit_Date: EditDate.toISOString() },
                cache: false,
                success: function (result) {
                    if (result.result == "true" || result.result == true) {
                        $("#popup_frm_Telephone_Window").dxPopup("show");
                        $(".dx-item-content.dx-toolbar-item-content:first").find("div").html('Edit ~ Telephone');
                        $("#result").html('');
                        $("#result").load("@Url.Action("frm_Telephone_window", "Telephone", new { @area = "Profile" })?ActionMethod=" + "Edit" + "&ID=" + ID + "&EditedOn=" + EditDate.toISOString());
                    }
                    else {
                        DevExpress.ui.dialog.alert(result.message);
                        TelephoneListGrid.Refresh();
                    }
                }
            });
        }

        function OnViewClick() {
            if (ID == 'undefined' || ID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }
            $.ajax({
                type: 'GET',
                url: "/Profile/Telephone/ButtonClick",
                data: { ActionMethod: "View", id: ID, Edit_Date: EditDate.toISOString() },
                cache: false,
                success: function (result) {
                    if (result.result == "true" || result.result == true) {
                        $("#popup_frm_Telephone_Window").dxPopup("show");
                        $(".dx-item-content.dx-toolbar-item-content:first").find("div").html('View ~ Telephone');
                        $("#result").html('');
                        $("#result").load("@Url.Action("frm_Telephone_window", "Telephone", new { @area = "Profile" })?ActionMethod=" + "View" + "&ID=" + ID + "&EditedOn=" + EditDate.toISOString());
                    }
                    else {
                        DevExpress.ui.dialog.alert(result.message);
                        TelephoneListGrid.Refresh();
                    }
                }
            });
        }

        function OnDeleteClick() {
            if (ID == 'undefined' || ID == undefined) {
                DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
                return;
            }
            var result = DevExpress.ui.dialog.confirm("Sure you want to delete?", "Confirm changes");
            result.done(function (dialogResult) {
                if (dialogResult) {
                    $("#popup_frm_Telephone_Window_Close").dxPopup("hide");

                    $.ajax({
                        type: 'GET',
                        url: "/Profile/Telephone/ButtonClick",
                        data: { ActionMethod: "Delete", id: ID, Edit_Date: EditDate.toISOString() },
                        cache: false,
                        success: function (result) {
                            if (result.result == "true" || result.result == true) {
                                $("#popup_frm_Telephone_Window").dxPopup("show");
                                $(".dx-item-content.dx-toolbar-item-content:first").find("div").html('View ~ Telephone');
                                $("#result").load("@Url.Action("frm_Telephone_window", "Telephone", new { @area = "Profile" })?ActionMethod=" + "Delete" + "&ID=" + ID + "&EditedOn=" + EditDate.toISOString());
                            }
                            else {
                                DevExpress.ui.dialog.alert(result.message);
                                TelephoneListGrid.Refresh();
                            }
                        }
                    });
                }
            });
        }

        function OnListPreviewClick() {
            report_modal.Show();
            //$("#popup_frm_Telephone_Window_Export").dxPopup("show");
        }

        function GetSelectedFieldValuesCallback(values) {
            SelectedRows.BeginUpdate();
            try {
                SelectedRows.ClearItems();
                for (var i = 0; i < values.length; i++) {
                    SelectedRows.AddItem(values[i]);
                }
            } finally {
                SelectedRows.EndUpdate();
            }
            $("#count").html(gvRowSelection.GetSelectedRowCount());

        }

        function ContextMenuFunction(s, e) {
            if (e.item.name == 'New') {
                OnNewClick();
            }
            else if (e.item.name == 'Edit') {
                OnEditClick();
            }
            else if (e.item.name == 'Delete') {
                OnDeleteClick();
            }
            else if (e.item.name == 'View') {
                OnViewClick();
            }
            else if (e.item.name == 'ListPreview') {
                OnListPreviewClick();
            }
            else if (e.item.name == 'Discontinue') {
                OnDiscontinueClick();
            }
            else if (e.item.name == 'continue') {
                OncontinueClick();
            }
            else if (e.item.name == 'Refresh') {
                MagMemberListGrid.Refresh();
            }
        }

        var MagMemberSearchVisible = true;
        var MagMemberFilterVisible = true;
        var MagMemberGroupedColumnsVisible = true;
        var MagMemberGroupPanelFooterVisible = false;
        var MagMemberFooterVisible = true;

        function ShowColumnChooser() {
            UpdateCustomizationWindowVisibility();
        }

        function ShowGroupPanel() {
            GroupPanelVisibility();
        }

        function OnTelephoneGroupeClick() {
            console.log("MagMemberGroupedColumnsVisible" + MagMemberGroupedColumnsVisible);
            MagMemberListGrid.PerformCallback({ 'FilterVisible': MagMemberFilterVisible, "SearchVisible": MagMemberSearchVisible, "ShowGroupedColumns": !MagMemberGroupedColumnsVisible });
            $("#MagMemberGroupColumn").find("i").toggleClass("dx-icon-spinup").toggleClass("dx-icon-spindown");
            MagMemberGroupedColumnsVisible = !MagMemberGroupedColumnsVisible;
        }

        function OnTelephoneSearchClick() {
            console.log("MagMemberSearchVisible" + MagMemberSearchVisible);
            if (MagMemberSearchVisible)
            { $('#MagMemberListGrid_DXSearchPanel').show(); }
            else {
                $('#MagMemberListGrid_DXSearchPanel').hide();
            }
            MagMemberSearchVisible = !MagMemberSearchVisible;
        }

        function OnTelephoneFilterClick() {
            console.log("MagMemberFilterVisible" + MagMemberFilterVisible);
            if (MagMemberFilterVisible)
            { $('#MagMemberListGrid_DXFilterRow').show(); }
            else {
                $('#MagMemberListGrid_DXFilterRow').hide();
            }
            MagMemberFilterVisible = !MagMemberFilterVisible;
        }

        function OnGridMagMemberListGrid_EndCallback() {
            if (!MagMemberFilterVisible)
            { $('#MagMemberListGrid_DXFilterRow').show(); }
            else {
                $('#MagMemberListGrid_DXFilterRow').hide();
            }
            if (!MagMemberSearchVisible)
            { $('#MagMemberListGrid_DXSearchPanel').show(); }
            else {
                $('#MagMemberListGrid_DXSearchPanel').hide();
            }
            if (!MagMemberGroupPanelFooterVisible)
            { $('#MagMemberListGrid .dxgvGroupFooter_Moderno').show(); }
            else {
                $('#MagMemberListGrid .dxgvGroupFooter_Moderno').hide();
            }
            if (!MagMemberFooterVisible)
            { $('#MagMemberListGrid_DXFooterRow').show(); }
            else {
                $('#MagMemberListGrid_DXFooterRow').hide();
            }
            if (!$('#MagMemberListGrid_grouppanel').is(":visible"))
            { $('#MagMemberListGrid_grouppanel').show(); }
            else {
                $('#MagMemberListGrid_grouppanel').hide();
            }
            //$("#TelephoneListGrid_DXFilterBar").hide();
        }
        function GroupPanelVisibility() {
            if (!$('#MagMemberListGrid_grouppanel').is(":visible"))
            { $('#MagMemberListGrid_grouppanel').show(); }
            else {
                $('#MagMemberListGrid_grouppanel').hide();
            }
            $("#btShowGroupPanel").find("i").toggleClass("dx-icon-spinup").toggleClass("dx-icon-spindown");
        }

        function SetMagMemberGroupPanelFooterVisible() {
            if (MagMemberGroupPanelFooterVisible)
            { $('#MagMemberListGrid .dxgvGroupFooter_Moderno').show(); }
            else {
                $('#MagMemberListGrid .dxgvGroupFooter_Moderno').hide();
            }
            MagMemberGroupPanelFooterVisible = !MagMemberGroupPanelFooterVisible;
        }

        function SetMagMemberFooterVisible() {
            if (MagMemberFooterVisible)
            { $('#MagMemberListGrid_DXFooterRow').show(); }
            else {
                $('#MagMemberListGrid_DXFooterRow').hide();
            }
            MagMemberFooterVisible = !MagMemberFooterVisible;
        }

        function MagMemberCreateFilterClick() {
            ASPx.GVShowFilterControl('MagMemberListGrid');
        }

        function UpdateFooterDetail(ID, Action_Status, Add_Date, Add_By, Action_Date, Action_By, Edit_Date, Edit_By) {
            Action_Date = Action_Date != "" && Action_Date != null ? Action_Date.toISOString() : Action_Date;
            Edit_Date = Edit_Date != "" && Edit_Date != null ? Edit_Date.toISOString() : Edit_Date;
            Add_Date = Add_Date != "" && Add_Date != null ? Add_Date.toISOString() : Add_Date;
            $.ajax({
                type: 'GET',
                url: "/Profile/Magazine/CreationDetail",
                data: {
                    Xrow: ID, Action_Status: Action_Status, Add_Date: Add_Date,
                    Add_By: Add_By, Action_Date: Action_Date, Action_By: Action_By, Edit_Date: Edit_Date, Edit_By: Edit_By
                },
                cache: false,
                success: function (result) {
                    $('#Lbl_Status').text(result.Lbl_Status);
                    $('#Lbl_Create').text(result.Lbl_Create);
                    $('#Lbl_Modify').text(result.Lbl_Modify);
                    if (result.Lbl_Status_Color != "")
                    {
                        $('#Lbl_Status').css('color', result.Lbl_Status_Color);
                    }

                }
            });
        }
    </script>
}
