<div class="Vehicle_WindowProfile_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Profile.Models.VehicleWindow
    @*@{
            ViewBag.Test = Model.ActionMethod;
            bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;

            bool Vehicle_AdresBookListRight = (bool)ViewData["Vehicle_AdresBookListRight"];
            bool Vehicle_Profile_Core_AddRight = (bool)ViewData["Vehicle_Profile_Core_AddRight"];
        }*@

    <style>
        .form-field {
            margin: 0px 0px;
            padding: 5px 4px 4px 4px;
            background: #dfebf8;
            background: -webkit-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: -o-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: -moz-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            outline-style: solid;
            outline-width: 1px;
            outline-color: #89b9eb;
        }

        .form-field-button {
            margin: 0px 0px;
            padding: 5px 4px 7px 4px;
            background: #dfebf8;
            background: -webkit-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: -o-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: -moz-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            outline-style: solid;
            outline-width: 1px;
            outline-color: #89b9eb;
        }

        .form-field-container {
            margin: 0px 0px 0px 0px;
            background: #dfebf8;
            background: -webkit-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: -o-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: -moz-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            background: linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
            outline-style: solid;
            outline-width: 1px;
            outline-color: #89b9eb;
        }

        .form-field-header {
            margin: 0px 0px 0px 0px;
            outline-style: solid;
            outline-width: 1px;
            outline-color: #89b9eb;
        }

        .dx-checkbox-container {
            height: 100%;
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            overflow: visible;
        }

        #Vehicle_Window_Profile .dx-texteditor-input :read-only {
            color: red;
            pointer-events: none;
        }

        @@media screen and (max-width:768px) {
            #Vehicle_Window_Profile .form-field-container {
                padding: 0 8px 0 15px;
            }
        }
    </style> <!--[CSS Classes for VPW]-->

    <form id="Vehicle_Window_Profile">
        @using (Html.DevExtreme().ValidationGroup("VehicleWindowProfileGroup"))
        {
            <div id="Vehicle_Window_Profile_div">
                @Html.HiddenFor(m => m.xSPID)
                @Html.HiddenFor(m => m.TempActionMethod)
                @Html.HiddenFor(m => m.ActionMethod)
                @Html.HiddenFor(m => m.TitleX_VPW)
                @Html.HiddenFor(m => m.SubTitleX_VPW)
                @Html.HiddenFor(m => m.SuperUserAndAuditorCheck_VPW)
                @Html.HiddenFor(m => m.xID_VPW)
                @Html.HiddenFor(m => m.Look_ItemList_DisplayName_VPW)
                @Html.HiddenFor(m => m.YearID)
                @Html.HiddenFor(m => m.oldEditOn_VPW)
                @Html.HiddenFor(m => m.LastEditedOn)
                <div class="container-fluid form-field-header full-width-header-bg2">
                    <div class="row">
                        <div class="col-sm-8" id="TitleX_VPW">
                            <h3 class="popuphead"><i class="far fa-edit"></i>@Model.TitleX_VPW</h3>
                            <i class="fas fa-star yellowstar"></i>
                            <span class="blu-txt2"> @Model.SubTitleX_VPW</span>
                        </div>
                        @*<div class="col-sm-4" id="SubTitleX_VPW">
                                <h5 class="popuphead" style="line-height:20px">@Model.SubTitleX_VPW</h5>
                            </div>*@
                        <div class="col-sm-4" id="LabelControl1_VPW">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                    </div>
                </div> <!--[Header]-->

                <div class="container-fluid form-field-container">
                    <div class="row">
                        <div class="col-sm-5 form-field">

                            <div class="row">
                                <div class="col-md-3 col-sm-4">
                                    @Html.Label("Item Name:", htmlAttributes: new { @class = "control-label text-red" })
                                </div>
                                <div class="col-md-9 col-sm-8">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_ItemList_VPW").Name("Look_ItemList_VPW").DisplayExpr("Name").ValueExpr("ID").DataSource(Model.Item_DD_Data_VPW, "ID").Value(Model.Look_ItemList_VPW).Placeholder("Select Item ...").OnValueChanged("Look_ItemList_EditValueChanged_VPW").ContentTemplate(@<text>@Html.Partial("LookUp_GetItemList")</text>))
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 form-field">
                            <div class="row">
                                <div class="col-md-3 col-sm-4">
                                    @Html.Label("Location:", htmlAttributes: new { @class = "control-label text-red", @ID = "lbl_Look_LocList_VPW" })
                                </div>
                                <div class="col-md-9 col-sm-8">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_LocList_VPW").Name("Look_LocList_VPW").ValueExpr("AL_ID").DisplayExpr("Location_Name").DataSource(Model.Location_DD_Data_VPW, "AL_ID").Value(Model.Look_LocList_VPW).Placeholder("Select Location...").OnValueChanged("Look_LocList_EditValueChanged_VPW").ContentTemplate(@<text>@Html.Partial("Frm_Vehicle_Window_GLookUp_LocList")</text>))
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 form-field-button" style="text-align: center; padding: 5px 4px 6px 4px">
                            <div>
                                @(Html.DevExtreme().Button().ID("But_Loc_VPW").Text("Add Location").Width("100%").OnClick("But_Loc_Click_VPW").Disabled(false))
                            </div>
                        </div>
                    </div>
                </div> <!--[1st Row]-->

                <div class="container-fluid form-field-container">
                    <div class="row">
                        <div class="col-sm-12 form-field">
                            <label class="custom-legend mlm"><b>Vehicle Detail</b></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-field" id="Div_Txt_VI_Amount_VPW">
                            @Html.Label("Opening Value:", htmlAttributes: new { @class = "control-label text-black" }) <br>
                            @(Html.DevExtreme().NumberBox().ShowClearButton(true).ID("Txt_VI_Amount_VPW") .Name("Txt_VI_Amount_VPW").Format("#,##0.00").Mode(DevExtreme.AspNet.Mvc.NumberBoxMode.Text).CustomNumberBox())
                        </div>
                        <div class="col-md-4 form-field">
                            @Html.Label("Make/Company:", htmlAttributes: new { @class = "control-label text-black" }) <br>
                            @(Html.DevExtreme().SelectBox().CustomSelectBox().AcceptCustomValue(true).OnCustomItemCreating("MakeCustomItemCreating_VPW").ID("Cmd_Make_VPW").Name("Cmd_Make_VPW").DisplayExpr("Name").ValueExpr("Name").DataSource(Model.VehicleMake_DD_Data_VPW).Placeholder("Select Make/Company...").OnFocusOut("Cmd_Make_Leave_VPW"))
                        </div>
                        <div class="col-md-4 form-field">
                            @Html.Label("Model:", htmlAttributes: new { @class = "control-label text-black" }) <br>
                            @(Html.DevExtreme().SelectBox().CustomSelectBox().AcceptCustomValue(true).OnCustomItemCreating("ModelCustomItemCreating_VPW").ID("Cmd_Model_VPW").Name("Cmd_Model_VPW").ValueExpr("Name").DisplayExpr("Name").DataSource(Model.VehicleModel_DD_Data_VPW).Placeholder("Select Model..."))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 form-field">
                            <label class="control-label" id="lbl_Reg_No_VPW">Registration No.</label>
                            <br>
                            <div class="col-md-6">
                                @(Html.DevExtreme().RadioGroup().ID("RAD_RegPattern_VPW").Name("RAD_RegPattern_VPW").DisplayExpr("text").ValueExpr("value").DataSource(new object[] { new { text = "New", value = "NEW" }, new { text = "Old", value = "OLD" }, new { text = "Other", value = "OTHER" } }).Layout(DevExtreme.AspNet.Mvc.Orientation.Horizontal).Disabled(false).OnValueChanged("RAD_RegPattern_SelectedIndexChanged_VPW"))
                                @(Html.DevExtreme().Tooltip().ID("RAD_RegPattern_Tooltip_VPW").Target("#RAD_RegPattern_VPW").ShowEvent("mouseenter").HideEvent("mouseleave").Position(DevExtreme.AspNet.Mvc.Position.Bottom).ContentTemplate(@<text><div style="background-color:aliceblue ;padding:0px 0px"><p style="text-align: center; color:navy; font-size:16px"><b> Registration No. Pattern </b></p><p style="text-align: center; text-decoration: underline; color:navy; font-size:14px"><b> New-Pattern </b></p><p style="text-align: center; color:dodgerblue; font-size:12px">Example: AA-01-AA-1234</p><p style="text-align: center; color:navy; font-size:12px">First two letters are Alphabets<br />Next two letters are Numeric<br />Next two letters are Alphabets<br />Last four letters are Numeric.</p><p style="text-align: center; text-decoration: underline; color:navy; font-size:14px"><b> Old-Pattern </b></p><p style="text-align: center; color:dodgerblue; font-size:12px">Example: AAA-1234</p><p style="text-align: center; color:navy; font-size:12px">First three letters are Alphabets &<br />Last four letters are Numeric.</p><p style="text-align: center; text-decoration: underline; color:navy; font-size:14px"><b> Other-Pattern </b></p><p style="text-align: center; color:dodgerblue; font-size:12px">Type any Alpha-Numeric letter</p><p style="text-align: center; color:navy; font-size:12px">upto 15 Characters.</p></div></text>))
                            </div>
                            <div class="col-md-6">
                                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_RegNo_VPW").Name("Txt_RegNo_VPW").ElementAttr("class", "uppercase").ShowClearButton(true).UseMaskedValue(true).Disabled(false))
                            </div>
                        </div>
                        <div class="col-md-4 form-field">
                            @Html.Label("Date of First Registration:", htmlAttributes: new { @class = "control-label text-red", @ID = "lbl_Txt_RegDate_VPW" }) <br>
                            @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_RegDate_VPW").Name("Txt_RegDate_VPW").Min("01-18-1937"))
                        </div>
                    </div>
                </div> <!--[VehicleDetail]-->

                <div class="container-fluid form-field-container">
                    <div class="row">
                        <div class="col-sm-12 form-field">
                            <label class="custom-legend mlm"><b>Ownership Detail</b></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 form-field" style="padding: 10px 3px 5px 3px">
                            @Html.Label("Ownership:", htmlAttributes: new { @class = "control-label text-red" }) <br>
                            @(Html.DevExtreme().SelectBox() .CustomSelectBox() .ShowClearButton(false) .ID("Cmd_Ownership_VPW") .Name("Cmd_Ownership_VPW") .Placeholder("Select Type...") .DataSource(new[] { "INSTITUTION", "INCHARGE", "FREE USE" }).Value(Model.Cmd_Ownership_VPW).OnValueChanged("Cmd_Ownership_SelectedIndexChanged_VPW") )
                        </div>
                        <div class="col-sm-6 form-field" style="padding: 10px 3px 5px 3px">
                            @Html.Label("Onwer/Incharge Name:", htmlAttributes: new { @class = "control-label text-red", @ID = "LabelControl2_VPW" }) <br>
                            @(Html.DevExtreme().DropDownBox().CustomDropDown() .ID("Look_OwnList_VPW") .Name("Look_OwnList_VPW") .ValueExpr("ID") .DisplayExpr("Name").DataSource(Model.Owner_DD_Data_VPW, "ID").Value(Model.Look_OwnList_VPW).Placeholder("Select Owner / Incharge Name...") .OnValueChanged("Look_OwnList_EditValueChanged_VPW") .ContentTemplate(@<text>@Html.Partial("LookUp_GetOwnList")</text>).Disabled(true))
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("TextEdit1_VPW").Name("TextEdit1_VPW").ReadOnly(true).Value(Model.TextEdit1_VPW))
                        </div>
                        <div class="col-sm-3 form-field-button" style="text-align: center; padding: 16px 3px 16px 3px">
                            @(Html.DevExtreme().Button().ID("But_Owner_VPW").Text("Manage Owner").Width("100%").Icon("fas fa-users btn-icons perscolor icon-rgt-space5 iconsize").OnClick("But_Owner_Click_VPW").Disabled(false).UseSubmitBehavior(false).Disabled(true))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 form-field">
                            @Html.Label("Documents:", htmlAttributes: new { @class = "control-label text-black" })
                        </div>
                        <div class="col-sm-2 form-field-button">
                            @(Html.DevExtreme().CheckBox().ID("Chk_RC_Book_VPW").Name("Chk_RC_Book_VPW").Text("R.C.Book"))
                        </div>
                        <div class="col-sm-2 form-field-button">
                            @(Html.DevExtreme().CheckBox().ID("Chk_Affidavit_VPW").Name("Chk_Affidavit_VPW").Text("Affidavit"))
                        </div>
                        <div class="col-sm-2 form-field-button">
                            @(Html.DevExtreme().CheckBox().ID("Chk_Will_VPW").Name("Chk_Will_VPW").Text("Will"))
                        </div>
                        <div class="col-sm-2 form-field-button">
                            @(Html.DevExtreme().CheckBox().ID("Chk_Trf_Letter_VPW").Name("Chk_Trf_Letter_VPW").Text("Transfer Letter"))
                        </div>
                        <div class="col-sm-2 form-field-button">
                            @(Html.DevExtreme().CheckBox().ID("Chk_FU_Letter_VPW").Name("Chk_FU_Letter_VPW").Text("Free Use Letter"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 form-field-button">
                            @(Html.DevExtreme().CheckBox().ID("Chk_OtherDoc_VPW").Name("Chk_OtherDoc_VPW").Text("Other Documents").OnValueChanged("Chk_OtherDoc_CheckedChanged_VPW"))
                        </div>
                        <div class="col-sm-10 form-field-button">
                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_OtherDoc_VPW").Name("Txt_OtherDoc_VPW").Disabled(!Model.Chk_OtherDoc_VPW).MaxLength(100))
                        </div>
                    </div>
                </div> <!--[OwnershipDetail]-->

                <div class="container-fluid form-field-container ">
                    <div class="row">
                        <div class="col-sm-12 form-field">
                            <label id="lbl_InsuranceDetail_VPW" class="custom-legend mlm"><b>Insurance Detail</b></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-field">
                            @Html.Label("Insurance Company Name:", htmlAttributes: new { @class = "control-label text-red", @ID = "lbl_Look_InsList_VPW" }) <br>
                            @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Look_InsList_VPW").Name("Look_InsList_VPW").ValueExpr("ID").DisplayExpr("Name").DataSource(Model.Insurance_DD_Data_VPW, "ID").Placeholder("Select Insurance Company...").Value(Model.Look_InsList_VPW).OnValueChanged("Look_InsList_EditValueChanged_VPW").ContentTemplate(@<text>@Html.Partial("LookUp_GetInsList")</text>))
                        </div>
                        <div class="col-sm-4 form-field">
                            @Html.Label("Policy No:", htmlAttributes: new { @class = "control-label text-red", @ID = "lbl_Txt_PolicyNo_VPW" }) <br>
                            @(Html.DevExtreme().TextBox().CustomTextBox(true,true).ID("Txt_PolicyNo_VPW").Name("Txt_PolicyNo_VPW").Placeholder("Type Policy No...").MaxLength(30))
                        </div>
                        <div class="col-sm-4 form-field">
                            @Html.Label("Expiry Date:", htmlAttributes: new { @class = "control-label text-red", @ID = "lbl_Txt_E_Date_VPW" }) <br>
                            @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_E_Date_VPW").Name("Txt_E_Date_VPW").Min("01-18-1937").Value(Model.Txt_E_Date_VPW))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 form-field">
                            @Html.Label("Other Details:", htmlAttributes: new { @class = "control-label text-black" })
                        </div>
                        <div class="col-sm-10 form-field-button">
                            @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_Others_VPW").Name("Txt_Others_VPW").MaxLength(250).Placeholder("Type Any Other Details / Remarks..."))
                        </div>
                    </div>
                </div> <!--[InsuranceDetail]-->

                <div class="container-fluid form-field-container ">
                    <div class="row">
                        <div class="col-sm-6 form-field" style="padding:7px 4px 9px 4px">
                            @Html.Partial("Drop_Request", String.Format("Send Your Request to Madhuban for ({0} ~ Vehicles)...", Model.ActionMethod.ToString().Substring(1)))
                        </div>
                        <div class="col-sm-6 form-field-button" style="text-align:right">
                            @(Html.DevExtreme().Button().CustomSaveButton(Model.ActionMethod.ToString()).ID("BUT_SAVE_COM_VPW").Text("Save").Width(80).OnClick("BUT_Save_Click_VPW"))
                            @(Html.DevExtreme().Button().CustomCloseButton().ID("BUT_CANCEL_VPW").Text("Cancel").Width(80).OnClick("BUT_CANCEL_Click_VPW"))
                        </div>
                    </div>
                </div> <!--[Buttons]-->

            </div>
        }
    </form> <!--[Main Form]-->

    <script>

        var VehicleWindowProfileGroup = "VehicleWindowProfileGroup";

    </script> @* Global Variables *@

    <script>
        var ActionMethod_VPW = "@Model.ActionMethod";
        $("#Txt_PolicyNo_VPW").on('input', function (evt)
        {       
            evt.target.value = evt.target.value.replace(/[^a-zA-Z0-9-/?]/gi, '');           
        });
        $("#Txt_RegNo_VPW").on('input', function (evt)
        {
            if ($("#RAD_RegPattern_VPW").dxRadioGroup('instance').option("value") == "OTHER")
            {         
                evt.target.value = evt.target.value.replace(/[^a-zA-Z0-9-/?]/gi, '');                
            }
        });
    $(document).ready( async function ()
    {
        ShowLoader_Ready();

        initDropdowns_VPW();

        BUT_CANCEL_Click_ForDocumentReady_VPW();

        TransformTextForDB("Vehicle_Window_Profile");

        await SetDefault_VPW();

        HideLoader_Ready();

    });
    function ControlValidation_VPW(ItemName="",xSpid="")
    {
        $("#Txt_RegDate_VPW").dxValidator({
            name: "Date of First Registration",
            validationGroup: VehicleWindowProfileGroup,
            validationRules: [
                {
                    type: "custom",
                    reevaluate: true,
                    validationCallback: function (options)
                    {
                        var result = true;
                        if ((ItemName.toUpperCase() != "YO BIKE" && ItemName.toUpperCase() != "CYCLE" && ItemName.toUpperCase() != "GOLF CART") && xSpid.length==0)
                        {
                            if (options.value == "" || options.value==null)
                            {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: "Please fill the Date of First Registration"
                }
            ]
        });
        $("#Look_InsList_VPW").dxValidator({
            name: "Insurance Company Name",
            validationGroup: VehicleWindowProfileGroup,
            validationRules: [
                {
                    type: "custom",
                    reevaluate: true,
                    validationCallback: function (options) {
                        var result = true;
                        if ((ItemName.toUpperCase() != "YO BIKE" && ItemName.toUpperCase() != "CYCLE" && ItemName.toUpperCase() != "GOLF CART")&& xSpid.length == 0) {
                            if (options.value == "" || options.value == null) {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: "Please select the Insurance Company Name"
                }
            ]
        });
        $("#Txt_PolicyNo_VPW").dxValidator({
            name: "Policy No.",
            validationGroup: VehicleWindowProfileGroup,
            validationRules: [
                {
                    type: "custom",
                    reevaluate: true,
                    validationCallback: function (options)
                    {
                        var result = true;
                        if ((ItemName.toUpperCase() != "YO BIKE" && ItemName.toUpperCase() != "CYCLE" && ItemName.toUpperCase() != "GOLF CART") && xSpid.length == 0)
                        {
                            if (options.value == "" || options.value == null)
                            {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: "Policy no. cannot be blank..."
                },
                {
                    type: "pattern",
                    pattern: /[a-zA-Z0-9\/?/-]/,
                    message: "Policy number can have digits from 0-9,Alphabets & forward slash, question mark & hypen as special characters"
                }
            ]
        });
        $("#Txt_E_Date_VPW").dxValidator({
            name: "Expiry Date",
            validationGroup: VehicleWindowProfileGroup,
            validationRules: [
                {
                    type: "custom",
                    reevaluate: true,
                    validationCallback: function (options) {
                        var result = true;
                        if ((ItemName.toUpperCase() != "YO BIKE" && ItemName.toUpperCase() != "CYCLE" && ItemName.toUpperCase() != "GOLF CART") && xSpid.length == 0) {
                            if (options.value == "" || options.value == null) {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: "Please fill Expiry Date of the Insurance Policy"
                }
            ]
        });
        $("#Txt_RegNo_VPW").dxValidator({
            name: "Registration No.",
            validationGroup: VehicleWindowProfileGroup,
            validationRules: [
                {
                    type: "custom",
                    reevaluate: true,
                    validationCallback: function (options) {
                        var result = true;
                        if ((ItemName.toUpperCase() != "YO BIKE" && ItemName.toUpperCase() != "CYCLE" && ItemName.toUpperCase() != "GOLF CART")) {
                            if (options.value == "" || options.value == null) {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: "Please fill the Registration No."
                }
            ]
        });
        $("#RAD_RegPattern_VPW").dxValidator({
            name: "Registration No. Pattern",
            validationGroup: VehicleWindowProfileGroup,
            validationRules: [
                {
                    type: "custom",
                    reevaluate: true,
                    validationCallback: function (options) {
                        var result = true;
                        if ((ItemName.toUpperCase() != "YO BIKE" && ItemName.toUpperCase() != "CYCLE" && ItemName.toUpperCase() != "GOLF CART")) {
                            if (options.value == "" || options.value == null) {
                                result = false;
                            }
                        }
                        return result;
                    },
                    message: "Please select the Registration No. Pattern"
                }
            ]
        });
    }
    </script> @* Document.Ready() *@

    <script>
    async function SetDefault_VPW()
    {
        ShowLoader_Ready();
        $("#TextEdit1_VPW").dxTextBox("option", "visible", false);
        $("#RAD_RegPattern_VPW").dxRadioGroup("option", "value", "NEW");
        $("#Cmd_Make_VPW").find("input").addClass("CleanTextForDB");
        $("#Cmd_Model_VPW").find("input").addClass("CleanTextForDB");
        await LookUp_GetLocList_VPW(true);
        if (ActionMethod_VPW == "_Edit" || ActionMethod_VPW == "_View" || ActionMethod_VPW == "_Delete")
        {
            if ("@Model.Chk_RC_Book_VPW" == "True") { RC_Book_VPW = true; } else { RC_Book_VPW = false; }
            if ("@Model.Chk_Affidavit_VPW" == "True") { Affidavit_VPW = true; } else { Affidavit_VPW = false; }
            if ("@Model.Chk_Will_VPW" == "True") { Will_VPW = true; } else { Will_VPW = false; }
            if ("@Model.Chk_Trf_Letter_VPW" == "True") { Trf_Letter_VPW = true; } else { Trf_Letter_VPW = false; }
            if ("@Model.Chk_FU_Letter_VPW" == "True") { FU_Letter_VPW = true; } else { FU_Letter_VPW = false; }
            if ("@Model.Chk_OtherDoc_VPW" == "True") { OtherDoc_VPW = true; } else { OtherDoc_VPW = false; }

            await Look_ItemList_EditValueChanged_VPW(null, true);
            if (TransformText("@Model.Cmd_Make_VPW").length > 0)
            {
                await AddCustomDatatoMake_VPW();
            }
            if (TransformText("@Model.Cmd_Model_VPW").length > 0)
            {
                AddCustomDatatoModel_VPW();
            }
            $("#RAD_RegPattern_VPW").dxRadioGroup("option", "value", "@Model.RAD_RegPattern_VPW".toUpperCase());         
            $("#Txt_RegNo_VPW").dxTextBox("option", "value", TransformText("@Model.Txt_RegNo_VPW")); 
            if ("@Model.Txt_VI_Amount_VPW".length > 0)
            {
               $("#Txt_VI_Amount_VPW").dxNumberBox("option", "value", parseFloat("@Model.Txt_VI_Amount_VPW"));
            }

            if ("@Model.Txt_RegDate_VPW".length > 0)
            {
                var date = moment("@Model.Txt_RegDate_VPW", "DD-MM-YYYY");
                $("#Txt_RegDate_VPW").dxDateBox("option", "value", date);
            }

            Cmd_Ownership_SelectedIndexChanged_VPW(null, true)

            if ("@Model.Look_OwnList_VPW".length > 0) {
                await Look_OwnList_EditValueChanged_VPW(null, true);
            }

            $("#Chk_RC_Book_VPW").dxCheckBox("option", "value", RC_Book_VPW);
            $("#Chk_Affidavit_VPW").dxCheckBox("option", "value", Affidavit_VPW);
            $("#Chk_Will_VPW").dxCheckBox("option", "value", Will_VPW);
            $("#Chk_Trf_Letter_VPW").dxCheckBox("option", "value", Trf_Letter_VPW);
            $("#Chk_FU_Letter_VPW").dxCheckBox("option", "value", FU_Letter_VPW);
            $("#Chk_OtherDoc_VPW").dxCheckBox("option", "value", OtherDoc_VPW);
            $("#Txt_OtherDoc_VPW").dxTextBox("option", "value", TransformText("@Model.Txt_OtherDoc_VPW"));

            if ("@Model.Look_InsList_VPW".length > 0)
            {
                await Look_InsList_EditValueChanged_VPW(null, true);
            }

            $("#Txt_PolicyNo_VPW").dxTextBox("option", "value", TransformText("@Model.Txt_PolicyNo_VPW"));

            if ("@Model.Look_LocList_VPW".length > 0) {
             await Look_LocList_EditValueChanged_VPW(null, true);
            }

            $("#Txt_Others_VPW").dxTextBox("option", "value", TransformText("@Model.Txt_Others_VPW"));
        }
             if (ActionMethod_VPW == "_Edit") {
                if ("@Model.IsVehicleCarriedFwd_VPW" == "True") {
                    $("#Look_ItemList_VPW").dxDropDownBox("option", "readOnly", true);
                    $("#Txt_VI_Amount_VPW").dxNumberBox("option", "readOnly", true);
                    $("#Cmd_Ownership_VPW").dxSelectBox("option", "readOnly", true);
                    $("#Look_OwnList_VPW").dxDropDownBox("option", "readOnly", true);
                 }

                 Control_SetReadOnly("Look_InsList_VPW", "dxDropDownBox", true);
                 Control_SetReadOnly("Txt_PolicyNo_VPW", "dxTextBox", true);
                 Control_SetReadOnly("Txt_E_Date_VPW", "dxDateBox", true);
                 $("#lbl_InsuranceDetail_VPW").html("Insurance Detail (Editable in Profile->Vehicle->Insurance)")
             }

            if (ActionMethod_VPW == "_Delete") {

                $("#BUT_SAVE_COM_VPW").dxButton("option", "text", "Delete");
                Set_Form_View_Delete_Mode(null, "Vehicle_Window_Profile", ActionMethod_VPW);
                $("#But_Loc_VPW").dxButton("option", "disabled", true);
                $("#But_Owner_VPW").dxButton("option", "disabled", true);

            }

            if (ActionMethod_VPW == "_View") {
                $("#BUT_SAVE_COM_VPW").dxButton("option", "visible", false)
                $("#BUT_CANCEL_VPW").dxButton("option", "text", "Close")
                Set_Form_View_Delete_Mode(null, "Vehicle_Window_Profile", ActionMethod_VPW);
                $("#But_Loc_VPW").dxButton("option", "disabled", true);
                $("#But_Owner_VPW").dxButton("option", "disabled", true);
            }

            if (ActionMethod_VPW == "_Edit") {
                if (@ViewBag.CompletedYearCount > 0) {
                    $("#Cmd_Ownership_VPW").dxSelectBox("option", "readOnly", true);
                }
            }

            if ("@Model.SuperUserAndAuditorCheck_VPW" == "False") {
                $("#Div_Txt_VI_Amount_VPW").hide()
                $("#Txt_VI_Amount_VPW").dxNumberBox("option", "visible", false)
            }
            if ("@Model.xSPID".length > 0) {
                $("#lbl_Look_LocList_VPW,#lbl_Txt_RegDate_VPW,#lbl_Look_InsList_VPW,#lbl_Txt_PolicyNo_VPW,#lbl_Txt_E_Date_VPW").removeClass("text-red");
                $("#Look_LocList_VPW").dxDropDownBox("option", "readOnly", true);
                LocationList_Datagrid_VPW.selectRows("@Model.xSPID")
                $("#But_Loc_VPW").dxButton("option", "disabled", true);
                $("#Txt_RegDate_VPW").dxValidator({
                    name: "Date of First Registration",
                    validationGroup: VehicleWindowProfileGroup,
                    validationRules: [
                        {
                            type: "custom",
                            ignoreEmptyValue: true,
                            reevaluate: true,
                            validationCallback: function (e) { return true; }
                        }
                    ]
                });
                $("#Look_InsList_VPW").dxValidator({
                    name: "Insurance Company Name",
                    validationGroup: VehicleWindowProfileGroup,
                    validationRules: [
                        {
                            type: "custom",
                            ignoreEmptyValue: true,
                            reevaluate: true,
                            validationCallback: function (e) { return true; }
                        }
                    ]
                });
                $("#Txt_PolicyNo_VPW").dxValidator({
                    name: "Policy No.",
                    validationGroup: VehicleWindowProfileGroup,
                    validationRules: [
                        {
                            type: "custom",
                            ignoreEmptyValue: true,
                            reevaluate: true,
                            validationCallback: function (e) { return true; }
                        },
                        {
                            type: "pattern",
                            pattern: /[A-Z0-9\/?/-]/,
                            message: "Policy number can have digits from 0-9, upper case Alphabets & forward slash, question mark & hypen as special characters"
                        },
                        {
                            type: "stringLength",
                            min: 0,
                            max: 30,
                            message: "Policy number can have maximum 30 characters only "
                        }
                    ]
                });
                $("#Txt_E_Date_VPW").dxValidator({
                    name: "Expiry Date",
                    validationGroup: VehicleWindowProfileGroup,
                    validationRules: [
                        {
                            type: "custom",
                            ignoreEmptyValue: true,
                            reevaluate: true,
                            validationCallback: function (e) { return true; }
                        }
                    ]
                });
            }
        HideLoader_Ready();
    }

    </script> @* SetDefault() *@

    <script>

        function Chk_OtherDoc_CheckedChanged_VPW() {

            if ($("#Chk_OtherDoc_VPW").dxCheckBox("option", "value")) {
                $("#Txt_OtherDoc_VPW").dxTextBox("reset");
                $("#Txt_OtherDoc_VPW").dxTextBox("instance").option("disabled", false);
                $("#Txt_OtherDoc_VPW").dxTextBox("focus");
                $("#Txt_OtherDoc_VPW").dxTextBox("option", "placeholder", "Type Any Other Documents Name...");
            }
            else {
                $("#Txt_OtherDoc_VPW").dxTextBox("reset");
                $("#Txt_OtherDoc_VPW").dxTextBox("option", "disabled", true);
                $("#Txt_OtherDoc_VPW").dxTextBox("blur");
                $("#Txt_OtherDoc_VPW").dxTextBox("option", "placeholder", "");
            }
        };

    </script> @* Check Box Functions*@

    <script>
    function Cmd_Ownership_SelectedIndexChanged_VPW(e, FirstCall = false)
    {
        var OwnershipID;
        if (e) {
            OwnershipID = e.value;
        }
        else {
            OwnershipID = $("#Cmd_Ownership_VPW").dxSelectBox("option", "value");
        }

        if (OwnershipID == null)
        {
            return;
        }
        if ((ActionMethod_VPW == "_New" || ActionMethod_VPW == "_Edit") && xSPID_VPW.length == 0)
        {
            if (parseInt("@ViewBag.CompletedYearCount") > 0 && "@ViewBag.GoldSilverIsTBImportedCentre" == "False")
            {
                if (ActionMethod_VPW == "_New")
                {
                    if (OwnershipID != "FREE USE")
                    {
                       DevExpress.ui.dialog.alert("Only Free Use Vehicles can be created..! <br> Please use vouchers to create Non - Free Use Vehicles...!", "Information");
                       $("#Cmd_Ownership_VPW").dxSelectBox("reset");
                       return;
                    }
                }
            }
            else
            {
                if ("@ViewBag.GoldSilverIsTBImportedCentre" == "False")
                {
                    if (OwnershipID != "FREE USE")
                    {
                        DevExpress.ui.dialog.alert("Only Free Use Vehicles are allowed for a newly created center..! <br> Please use vouchers to create Non - Free Use Vehicles...!", "Information");
                        $("#Cmd_Ownership_VPW").dxSelectBox("reset");
                        return;
                    }
                }
            }
        }
        if (OwnershipID == "INSTITUTION")
        {
            $("#Look_OwnList_VPW").dxDropDownBox("option", "visible", false);
            $("#Look_OwnList_VPW").dxDropDownBox("option", "disabled", true);
            $("#But_Owner_VPW").dxButton("option", "disabled", true);
            $("#TextEdit1_VPW").dxTextBox("option", "visible", true);
        }
        else
        {
            $("#TextEdit1_VPW").dxTextBox("option", "visible", false);
            $("#Look_OwnList_VPW").dxDropDownBox("option", "visible", true);
            $("#Look_OwnList_VPW").dxDropDownBox("option", "disabled", false);
            $("#But_Owner_VPW").dxButton("option", "disabled", false);
        }

        if (FirstCall == false) {
            $("#Look_OwnList_VPW").dxDropDownBox("reset");
        }
    }
    </script> @* SelectBox Functions *@

    <script>
    function But_Loc_Click_VPW()
    {
        if ("@ViewData["Vehicle_Profile_Core_AddRight"]" == "False")
        {
            DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
            return;
        }

        addLocationFromOtherScreen("LookUp_GetLocList_VPW");
    };

    </script> @* Button Click: Add Location *@

    <script>

        function But_Owner_Click_VPW()
        {
            if ("@ViewData["Vehicle_AdresBookListRight"]" == "False")
            {
                DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
                return;
            }
            if (ActionMethod_VPW == "_New" || ActionMethod_VPW == "_Edit")
            {         
                ManageParty("VehicleProfile_ManageOwner", "LookUp_GetOwnList_VPW", "Address Book (Manage Person)...");
            }
        };
    </script> @* Button Click: Manage Owner *@

<script>
    async function BUT_Save_Click_VPW(e)
    {
        if (ActionMethod_VPW == "_Delete")
        {
            var confirm = await CreateCustomConfirmDialog("Delete ~ Vehicles", "", true).show();
            if (confirm == true)
            {

                SaveVehicle_VPW()
            }
            else
            {
                $("#BUT_SAVE_COM_VPW").dxButton("focus");
            }
        }
        else if (ActionMethod_VPW == "_New" || ActionMethod_VPW == "_Edit")
        {
            var result = e.validationGroup.validate();
            if (result.isValid)
            {
                SaveVehicle_VPW()
            }
            else
            {
                DevExpress.ui.dialog.alert("Please fill all the required fields", "!!! Validation Error !!!")
            }
        }
    }
    function SaveVehicle_VPW()
    {
        ShowLoader();
        $.ajax({
            type: "Post",
            data: $("#Vehicle_Window_Profile").serialize(),
            url: "/Profile/Vehicle/Frm_Vehicles_Window_Profile",
            cache: false,
            success: function (data)
            {
                HideLoader();               
                if (data.jsonParam.result == false)
                {
                    DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title).done(function (alertResult)
                    {                      
                        if (data.jsonParam.refreshgrid)
                        {
                            RefreshGridView("VehiclesListGrid", ActionAfterDataGridRefresh_VehicleListGrid_dx.bind(null, ActionMethod_VPW == "_New" ? "" : ActionMethod_VPW))
                        }
                        if (data.jsonParam.focusid)
                        {
                            var id = "#" + data.jsonParam.focusid;
                            setTimeout(function ()
                            {
                                $(id).find('input').focus();
                            }, Timeout100);
                        }
                        if (data.jsonParam.closeform == true) {
                            dontaskpopupcloseconfirmation = true;
                            $("#Dynamic_Content_popup").dxPopup("hide");
                        }
                    });
                }
                else if (data.jsonParam.result == true)
                {
                    DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title).done(function (alertResult)
                    {
                        if (typeof data.xid !== "undefined")
                        {
                            Select_xid_VPW = data.xid;
                        }
                        RefreshGridView("VehiclesListGrid",  ActionAfterDataGridRefresh_VehicleListGrid_dx.bind(null,ActionMethod_VPW) )
                        if (data.jsonParam.closeform == true)
                        {
                            dontaskpopupcloseconfirmation = true;
                            $("#Dynamic_Content_popup").dxPopup("hide");
                        }
                    });
                }
            }
        });
    }   
    function BUT_CANCEL_Click_VPW()
    {
        $("#Dynamic_Content_popup").dxPopup("hide");
    }
    function BUT_CANCEL_Click_ForDocumentReady_VPW()
    {
        sessionclearpath = "/Profile/Vehicle/SessionClear_VPWindow";
        if (ActionMethod_VPW == "_View")
        {
            dontaskpopupcloseconfirmation = true;
        }
        else
        {
            dontaskpopupcloseconfirmation = false;
        }
    };

</script> @* Button Click: Save & Cancel *@

    <script>
        function RAD_RegPattern_SelectedIndexChanged_VPW(e) {
            var Txt_RegNo_VPW = $("#Txt_RegNo_VPW").dxTextBox("instance");
            Txt_RegNo_VPW.reset();
            if (e.value == "NEW") {
                $("#lbl_Reg_No_VPW").text("Registration No. (New Pattern):");
                Txt_RegNo_VPW.option
                    ({
                        "mask": 'AA-NN-AA-NNNN',
                        "maskRules":
                        {
                            'A': /[A-Za-z]/,
                            'N': /[0-9]/
                        }
                    });
                Txt_RegNo_VPW.option("isValid", true);
            }
            if (e.value == "OLD") {
                $("#lbl_Reg_No_VPW").text("Registration No. (Old Pattern):");
                Txt_RegNo_VPW.option({
                    "mask": 'AAA-NNNN',
                    "maskRules": {
                        'A': /[A-Za-z]/,
                        'N': /[0-9]/
                    }
                });
                Txt_RegNo_VPW.option("isValid", true);
            }
            if (e.value == "OTHER") {
                $("#lbl_Reg_No_VPW").text("Registration No. (Other Pattern):");
                Txt_RegNo_VPW.option("mask", '');
                Txt_RegNo_VPW.option("maskRules", {});
                Txt_RegNo_VPW.option("maxLength", 15);
                Txt_RegNo_VPW.option("isValid", true);
            }

        };

    </script> @* RadioGroup Functions() *@

    <script>

        var ItemName_Datagrid_VPW;
        var LocationList_Datagrid_VPW;
        var MakeCompanyList_Datagrid_VPW;
        var VehicleModelList_Datagrid_VPW;
        var OwnerList_Datagrid_VPW;
        var InsuranceCompanyList_Datagrid_VPW;

        function initDropdowns_VPW() {
            var $ItemName_Datagrid_VPW = $("#ItemName_Datagrid_VPW");
            if ($ItemName_Datagrid_VPW.length > 0) {

                ItemName_Datagrid_VPW = $("#ItemName_Datagrid_VPW").dxDataGrid("instance");
            }

            var $LocationList_Datagrid_VPW = $("#LocationList_Datagrid_VPW");
            if ($LocationList_Datagrid_VPW.length > 0) {

                LocationList_Datagrid_VPW = $("#LocationList_Datagrid_VPW").dxDataGrid("instance");
            }

            var $MakeCompanyList_Datagrid_VPW = $("#MakeCompanyList_Datagrid_VPW");
            if ($MakeCompanyList_Datagrid_VPW.length > 0) {

                MakeCompanyList_Datagrid_VPW = $("#MakeCompanyList_Datagrid_VPW").dxDataGrid("instance");
            }

            var $VehicleModelList_Datagrid_VPW = $("#VehicleModelList_Datagrid_VPW");
            if ($VehicleModelList_Datagrid_VPW.length > 0) {

                VehicleModelList_Datagrid_VPW = $("#VehicleModelList_Datagrid_VPW").dxDataGrid("instance");
            }

            var $OwnerList_Datagrid_VPW = $("#OwnerList_Datagrid_VPW");
            if ($OwnerList_Datagrid_VPW.length > 0) {

                OwnerList_Datagrid_VPW = $("#OwnerList_Datagrid_VPW").dxDataGrid("instance");
            }

            var $InsuranceCompanyList_Datagrid_VPW = $("#InsuranceCompanyList_Datagrid_VPW");
            if ($InsuranceCompanyList_Datagrid_VPW.length > 0) {

                InsuranceCompanyList_Datagrid_VPW = $("#InsuranceCompanyList_Datagrid_VPW").dxDataGrid("instance");
            }

        }

    </script> @* Dropdown: Variables & function storing the instance of the datagrid *@

    <script>

        async function LookUp_GetLocList_VPW(FirstCall = false) {
            if (FirstCall == false) {
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Vehicle/RefreshLocationListDropdownJson",
                    cache: false,
                    success: function (_data) {
                        $("#Look_LocList_VPW").dxDropDownBox("option", "dataSource", new DevExpress.data.ArrayStore({
                            key: "AL_ID",
                            data: _data
                        }));
                        LocationList_Datagrid_VPW.option("dataSource", $("#Look_LocList_VPW").dxDropDownBox("option", "dataSource"))
                    }
                });
            }
            SingleLocationFunction_VPW();

            if (FirstCall == false) {
                $("#Look_LocList_VPW").dxDropDownBox("reset");
            }

        }

        async function LookUp_GetOwnList_VPW(FirstCall = false) {
            if (FirstCall == false) {
                $.ajax({
                    type: 'GET',
                    url: "/Profile/Vehicle/RefreshOwnerListDropdownJson",
                    cache: false,
                    success: function (_data) {
                        $("#Look_OwnList_VPW").dxDropDownBox("option", "dataSource", new DevExpress.data.ArrayStore({
                            key: "ID",
                            data: _data
                        }));
                        OwnerList_Datagrid_VPW.option("dataSource", $("#Look_OwnList_VPW").dxDropDownBox("option", "dataSource"))
                        ResetDropdownWithSameValue("Look_OwnList_VPW", OwnerList_Datagrid_VPW);
                    }
                });
            }
        }

    </script> @* Dropdown: Variables & functions to refresh the Datagrid *@

    <script>
    var xSPID_VPW = "@Model.xSPID";
    async function Look_ItemList_EditValueChanged_VPW(e, FirstCall = false)
    {
        var itemID;
        if (e) {
            itemID = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                ItemName_Datagrid_VPW.clearSelection();
                return;
            }
        }
        else {
            itemID = $("#Look_ItemList_VPW").dxDropDownBox("option", "value");
        }
        await ItemName_Datagrid_VPW.selectRows(itemID);

        if (ItemName_Datagrid_VPW.getSelectedRowsData().length > 0)
        {
            var SelectedItemRow = ItemName_Datagrid_VPW.getSelectedRowsData()[0]
            try
            {
                $("#Look_ItemList_DisplayName_VPW").val(SelectedItemRow.Name); // Details: Hidden input element created for storing the dispaly value of the Item Name Dropdown
                if (SelectedItemRow.Name.toUpperCase() == "YO BIKE" || SelectedItemRow.Name.toUpperCase() == "CYCLE" || SelectedItemRow.Name.toUpperCase() == "GOLF CART")
                {
                    $("#lbl_Reg_No_VPW,#lbl_Txt_RegDate_VPW,#lbl_Look_InsList_VPW,#lbl_Txt_PolicyNo_VPW,#lbl_Txt_E_Date_VPW").removeClass("text-red");
                    //$("#RAD_RegPattern_VPW").dxRadioGroup("reset");
                    $("#RAD_RegPattern_VPW").dxRadioGroup("option", "disabled", true);
                    $("#Txt_RegNo_VPW").dxTextBox("option", "value", "");
                    $("#Txt_RegNo_VPW").dxTextBox("option", "disabled", true);
                    $("#Txt_RegDate_VPW").dxDateBox("option", "value", "");
                    $("#Txt_RegDate_VPW").dxDateBox("option", "readOnly", true);
                }
                else
                {
                    $("#lbl_Reg_No_VPW").addClass("text-red");
                    if (xSPID_VPW.length == 0)
                    {
                        $("#lbl_Txt_RegDate_VPW,#lbl_Look_InsList_VPW,#lbl_Txt_PolicyNo_VPW,#lbl_Txt_E_Date_VPW").addClass("text-red");
                    }
                    $("#RAD_RegPattern_VPW").dxRadioGroup("option", "disabled", false);
                    //$("#RAD_RegPattern_VPW").dxRadioGroup("reset");
                    $("#Txt_RegNo_VPW").dxTextBox("option", "disabled", false);
                    $("#Txt_RegNo_VPW").dxTextBox("reset");
                    $("#Txt_RegDate_VPW").dxDateBox("option", "readOnly", false);
                    $("#Txt_RegDate_VPW").dxDateBox("reset");
                }
                ControlValidation_VPW(SelectedItemRow.Name, xSPID_VPW);
            }
            catch (ex)
            {
                    DevExpress.ui.dialog.alert(ex, "!!! Error (Exception) !!!");
            }
        }
    }

    async function Look_LocList_EditValueChanged_VPW(e, FirstCall = false)
    {
        var LocationID;
        if (e) {
            LocationID = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                LocationList_Datagrid_VPW.clearSelection();
                return;
            }
        }
        else {
            LocationID = $("#Look_LocList_VPW").dxDropDownBox("option", "value");
        }
        await LocationList_Datagrid_VPW.selectRows(LocationID);
    }

    async function Look_OwnList_EditValueChanged_VPW(e, FirstCall = false) {
        var OwnerID;
        if (e) {
            OwnerID = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                OwnerList_Datagrid_VPW.clearSelection();
                return;
            }
        }
        else {
            OwnerID = $("#Look_OwnList_VPW").dxDropDownBox("option", "value");
        }

        await OwnerList_Datagrid_VPW.selectRows(OwnerID);

        if (OwnerList_Datagrid_VPW.getSelectedRowsData().length > 0) {
            var SelectedItemRow = OwnerList_Datagrid_VPW.getSelectedRowsData()[0];
            $("#oldEditOn_VPW").val(JS_Json_Date_To_ddMMyyyy(SelectedItemRow.REC_EDIT_ON))
        }
    }

    async function Look_InsList_EditValueChanged_VPW(e, FirstCall = false )
    {
        var InsuranceID;
        if (e) {
            InsuranceID = e.value;
            if ((e.value == null || e.value.length == 0) && e.previousValue != null) {
                InsuranceCompanyList_Datagrid_VPW.clearSelection();
                return;
            }
        }
        else {
            InsuranceID = $("#Look_InsList_VPW").dxDropDownBox("option", "value");
        }
        await InsuranceCompanyList_Datagrid_VPW.selectRows(InsuranceID);
    }

    function SingleLocationFunction_VPW() {

        let Location_DD_Arr = GetDataSourceItems("Look_LocList_VPW", "dxDropDownBox");
        if (Location_DD_Arr.length == 1) {
            $("#LocationList_Datagrid_VPW").dxDataGrid("selectRowsByIndexes", [0]);
            $("#Look_LocList_VPW").dxDropDownBox("option", "readOnly", true);
        }
        else {
            $("#Look_LocList_VPW").dxDropDownBox("option", "readOnly", false);
        }

        if (Location_DD_Arr.length > 1) {
            $("#lbl_Look_LocList_VPW").addClass("text-red");
            $("#Look_LocList_VPW").dxValidator({
                name: "Location Dropdown",
                validationGroup: VehicleWindowProfileGroup,
                validationRules: [{
                    type: "required",
                    message: "Please select the Location"
                }]
            });
        }
        else
        {
            $("#lbl_Look_LocList_VPW").removeClass("text-red");
            $("#Look_LocList_VPW").dxValidator({
                name: "Location Dropdown",
                validationGroup: VehicleWindowProfileGroup,
                validationRules: [{
                    type: "custom",
                    ignoreEmptyValue: true,
                    reevaluate: true,
                    validationCallback: function (e) { return true; }

                }]
            });
        }
    }

    </script> @* Dropdown: OnValueChanged() *@

    <script>
    async function Cmd_Make_Leave_VPW(e,FirstCall=false)
    {
        $("#Cmd_Model_VPW").dxSelectBox("instance").reset();
        if (FirstCall == false)
        {
            await Get_Vehicle_Model_List_VPW(FirstCall);
        }
    }
    async function Get_Vehicle_Model_List_VPW(FirstCall = false)
    {
        if (FirstCall == false)
        {
            $.ajax({
                type: 'GET',
                url: "/Profile/Vehicle/RefreshModelListJson",
                cache: false,
                data:
                {
                    Cmd_Make: $("#Cmd_Make_VPW").dxSelectBox("instance").option("value")
                },
                success: function (data)
                {          
                    $("#Cmd_Model_VPW").dxSelectBox("instance").option("dataSource", new DevExpress.data.DataSource({
                        store:
                        {
                            type: "array",
                            key: "Name",
                            data: data
                        }
                    }));                   
                }
            });
        }
    }
    function MakeCustomItemCreating_VPW(e)
    {
        if (e.text == null || e.text.length == 0) {
            e.customItem = null;
            return;
        }
        var dataSource = e.component.getDataSource();
        var newItem = { Name: e.text, ID: e.text };
        var result = dataSource.store().insert(newItem);

        result.done(function ()
        {
            dataSource.reload().done(function ()
            {
                e.component.option("value", e.text);
            });
        })
        e.customItem = result;
    }
    function ModelCustomItemCreating_VPW(e)
    {
        if (e.text == null || e.text.length == 0)
        {
            e.customItem = null;
            return;
        }
        var dataSource = e.component.getDataSource();
        var newItem = { Name: e.text, ID: e.text };
        var result = dataSource.store().insert(newItem);
        dataSource.reload().done(function ()
        {
            e.component.option("value", e.text);
        });
        e.customItem = result;
    }
    async function AddCustomDatatoMake_VPW()
    {
        var Cmd_Make = $("#Cmd_Make_VPW").dxSelectBox("instance");
        var dataSource = Cmd_Make.getDataSource();
        var dataItems = dataSource.items();
        var flag = false;
        for (var i = 0; dataItems.length > i; i++)
        {
            if (dataItems[i].Name == "@Model.Cmd_Make_VPW")
            {
                flag = true;
                break;
            }
        }
        if (flag == true)
        {
            Cmd_Make.option("value", "@Model.Cmd_Make_VPW");
        }
        else
        {
            var newItem = { Name: TransformText("@Model.Cmd_Make_VPW"), ID: TransformText("@Model.Cmd_Make_VPW") };
            var result = dataSource.store().insert(newItem);
            result.done(function ()
            {
                dataSource.reload().done(function ()
                {
                    Cmd_Make.option("value", TransformText("@Model.Cmd_Make_VPW"));
                })
            })
        }
    }
    function AddCustomDatatoModel_VPW()
    {
        var Cmd_Model = $("#Cmd_Model_VPW").dxSelectBox("instance");
        var dataSource = Cmd_Model.getDataSource();
        var dataItems = dataSource.items();
        var flag = false;
        for (var i = 0; dataItems.length > i; i++)
        {
            if (dataItems[i].Name == "@Model.Cmd_Model_VPW")
            {
                flag = true;
                break;
            }
        }
        if (flag == true)
        {
            Cmd_Model.option("value", TransformText("@Model.Cmd_Model_VPW"));
        }
        else
        {
            var newItem = { Name: TransformText("@Model.Cmd_Model_VPW"), ID: TransformText("@Model.Cmd_Model_VPW") };
            var result = dataSource.store().insert(newItem);
            result.done(function ()
            {
                dataSource.reload().done(function ()
                {
                    Cmd_Model.option("value", TransformText("@Model.Cmd_Model_VPW"));
                })
            })
        }
    }
    </script>    @* Make & Model Editable Select Box Functions *@

</div>