<div class="Dialog_TelephoneStatements_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Statements.Models.TelePhonebill
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
    @{
    }

    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
    }

    <style>
        .control-label {
            text-align: left !important;
        }
    </style>

    <div id="Frm_Telephone_Window_Content">
        @using (Ajax.BeginForm("Dialog_Telephone_Bill", "TelePhonebill",
                                   new AjaxOptions
                                   {
                                       HttpMethod = "POST",
                                       UpdateTargetId = "Frm_Telephonebill_Window_Content",
                                       InsertionMode = InsertionMode.InsertAfter,
                                       OnBegin = "AjaxBeginFormPost",
                                       OnSuccess = "TelephonebillAjaxSuccessForm"
                                   },
                                   new
                                   {
                                       id = "TelephonebillvalidationForm",
                                       @class = "edit_form"
                                   }))
        {
            @*@Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.ActionMethod)
                @Html.HiddenFor(x => x.TempActionMethod)
                @Html.HiddenFor(x => x.EditDate)
                @Html.HiddenFor(x => x.Old_tP_NOField)*@

            @*@Html.HiddenFor(x => x.ID)
                var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();*@


            using (Html.DevExtreme().ValidationGroup())
            {

                <div class="full-width-header-bg">
                    <div class="row">

                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i>Telephone Bill Payment Details </h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                    </div>
                </div><!--[row]-->

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @*@Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label text-red" })*@
                                        <span class="control-label text-red">Telephone Number:</span>
                                    </div>
                                    <div class="col-sm-6 plm">
                                        @(Html.DevExtreme().DropDownBox()
                                                              .ID("TelephoneSelectionDdl")
                                                              .Name("TelephoneSelectionDdl")
                                                              .HoverStateEnabled(true)
                                                              .Value(Model.Telephone)
                                                              .ValueExpr("TP_ID")
                                                              //.Width("500")
                                                              //  .DropDownOptions.width(500)
                                                              .DisplayExpr("TP_NO")
                                                              .DataSource(d => d.Mvc().Controller("TelePhonebill").LoadAction("LookUp_GetTelephonebillList").Key("TP_ID"))
                                                              .Placeholder("Select TelePhone No...")
                                                              .ShowClearButton(true)
                                                              .ReadOnly(false)
                                                              .DeferRendering(false)
                                                              .DropDownOptions(o => o.Width(500).MaxHeight(300))
                                                              .OnValueChanged("LookUp_TelePhone_Gen_bill_ChangeEvent")
                                                              .ContentTemplate(@<text>
                                                                @Html.Partial("LookUp_GetTelephonebillList")
                                                            </text>)
                                    )
                                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-red" })
                                        <span id="lbltelephone" style="font-size:11px" class="text-red"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @*@Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label" })*@
                                        <span class="control-label disabletxt ">Company:</span>
                                    </div>
                                    <div class="col-sm-6">
                                        @(Html.DevExtreme().TextBox()
                                                      .ID("Company")
                                                      .Name("Company")
                                                      //.Placeholder("PAN NO.")
                                                      .Value(Model.Company)
                                                      .ShowClearButton(true)
                                                      .ReadOnly(true)
                                                      .ValidationError(true)
                                                      .MaxLength(100)
                                    )
                                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--[row]-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @*@Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label" })*@
                                        <span class="control-label disabletxt">Category:</span>
                                    </div>
                                    <div class="col-sm-6 plm">
                                        @(Html.DevExtreme().TextBox()
                                                       .ID("Category")
                                                       .Name("Category")
                                                       //.Placeholder("PAN NO.")
                                                       .Value(Model.Category)
                                                       .ShowClearButton(true)
                                                       .ReadOnly(true)
                                                       .ValidationError(true)
                                                       .MaxLength(100)
                                    )
                                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @*@Html.LabelFor(model => model.PlanType, htmlAttributes: new { @class = "control-label" })*@
                                        <span class="control-label disabletxt">Plan Type:</span>
                                    </div>
                                    <div class="col-sm-6">

                                        @(Html.DevExtreme().TextBox()
                                                        .ID("PlanType")
                                                        .Name("PlanType")
                                                        //.Placeholder("PAN NO.")
                                                        .Value(Model.PlanType)
                                                        .ShowClearButton(true)
                                                        .ReadOnly(true)
                                                        .ValidationError(true)
                                                        .MaxLength(100)
                                    )
                                        @Html.ValidationMessageFor(model => model.PlanType, "", new { @class = "text-red" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--[row]-->

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @*@Html.LabelFor(model => model.PeriodFrom, htmlAttributes: new { @class = "control-label text-red" })*@
                                        <span class="control-label text-red">Period From:</span>
                                    </div>
                                    <div class="col-sm-6 plm">
                                        @(Html.DevExtreme().DateBoxFor(model => model.PeriodFrom)
                                                                .ID("datefrom")
                                                                .Name("datefieldfrom")
                                                                .Type(DateBoxType.Date)
                                                                .PickerType(DateBoxPickerType.Native)
                                                                .DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                                .InvalidDateMessage("Value must be a Date!!")
                                                                .Max(new DateTime(2051, 3, 31))
                                                                .Min(new DateTime(2011, 4, 1))
                                    )
                                        @Html.ValidationMessageFor(model => model.PeriodFrom, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @*@Html.LabelFor(model => model.PeriodTo, htmlAttributes: new { @class = "control-label text-red" })*@
                                        <span class="control-label text-red">Period To:</span>
                                    </div>
                                    <div class="col-sm-6">

                                        @(Html.DevExtreme().DateBoxFor(model => model.PeriodTo)
                                                                .ID("dateto")
                                                                .Name("datefieldto")
                                                                .Type(DateBoxType.Date)
                                                                .PickerType(DateBoxPickerType.Native)
                                                                .DisplayFormat(ViewBag.Base_Date_Format_Current)
                                                                .InvalidDateMessage("Value must be a Date!!")
                                                                .Max(new DateTime(2051, 3, 31))
                                                                .Min(new DateTime(2011, 4, 1))
                                    )
                                        @Html.ValidationMessageFor(model => model.PeriodTo, "", new { @class = "text-red" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--[row]-->

                <div class="row prm">
                    <div class="form-field wbg brd-bot-none">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4">

                            <div>
                                <div class="action-btn-wrap ">
                                    @(Html.DevExtreme().Button()
                                                                    .ID("TelephonebillCancel")
                                                                    .Text("Cancel")
                                                                    .ElementAttr("style", "float:right;margin-left:5px;margin-right:0px;margin-top:0px")
                                                                     .Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey")
                                                                    .FocusStateEnabled(true)
                                                                    .TabIndex(7)
                                                                    .Width(75)
                                                                    .OnClick(@<text>
                                                                        function () {
                                                                        $("#StatementPeriodPopup").dxPopup("hide");
                                                                        }
                                                                    </text>)
                                )
                                </div>
                                <div class="action-btn-sec-wrap">
                                    @(Html.DevExtreme().Button()
                                                            .ID("Telephonebill")
                                                            .Text("OK")
                                                            .Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen")
                                                            .ElementAttr("style", "float:right;margin-top:0px")
                                                            .FocusStateEnabled(true)
                                                            .TabIndex(6)
                                                            //.UseSubmitBehavior(true)
                                                            .OnClick(@<text>
                                                                function () {
                                                                TelephoneSt_OnOkClick();
                                                                }
                                                            </text>)
                                )
                                </div>
                            </div>

                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-12">

    </div>
    <script>
    var _OK = false;
    var TelephoneSt_fromDate;
    var TelephoneSt_toDate;
    var TelephoneSt_TelephoneID;

    $(document).ready(function () {
        let dropdownBox = $("#TelephoneSelectionDdl")
        if (dropdownBox)
            dropdownBox.dxDropDownBox({
                dropDownOptions: {
                    width: 500
                },
            });
    });
    function LookUp_TelePhone_Gen_bill_ChangeEvent(e) {
        $("#lbltelephone").hide();
        var dropDownBox = $("#TelephoneSelectionDdl").dxDropDownBox("instance");
        dropDownBox.close();
        var $dataGrid = $("#Frm_Profile_Win_opening_GLookUp_TelePhonebillList_datagrid");
        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
            if (dataGrid.getSelectedRowsData().length > 0) {
                var item = dataGrid.getSelectedRowsData()[0];
                TelephoneSt_TelephoneID = item["TP_ID"];
                TelephoneSt_TelephoneID.replace("'", ""); TelephoneSt_TelephoneID.replace("'", "");
                $("#Company").dxTextBox("instance").option("value", item["TP_COMPANY"]);
                $("#Category").dxTextBox("instance").option("value", item["TP_CATEGORY"]);
                $("#PlanType").dxTextBox("instance").option("value", item["TP_TYPE"]);
            }
        }
    }
    function GetFormattedDate_mm_dd_yyyy(inputdate) {
        var todayTime = new Date(inputdate);
        var month = todayTime.getMonth() + 1;
        var day = todayTime.getDate();
        var year = todayTime.getFullYear();
        return month + "-" + day + "-" + year;
    }
        function TelephoneSt_OnOkClick() {   
        $("#lbltelephone").innerText = "";
        $("#lbltelephone").hide();
        if ($("#TelephoneSelectionDdl").dxDropDownBox("instance").option("text") == "")
        {
            $("#lbltelephone").html("Please Select Telephone");
            $("#lbltelephone").show();
            return false;
        }
        _fromDate = $("input[name=datefieldfrom]").val();
        _toDate = $("input[name=datefieldto]").val();

        //ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Statements/PeriodSelection/Check_Period_Selection",
            data: { _FrDate: _fromDate, _ToDate: _toDate },
            cache: false,
            success: function (data) {
                if (data.result == true) {              
                    _OK = true;
                    TelephoneSt_fromDate = GetFormattedDate_mm_dd_yyyy($("input[name=datefieldfrom]").val());
                    TelephoneSt_toDate = GetFormattedDate_mm_dd_yyyy($("input[name=datefieldto]").val());
                   

                    var url = '@Url.Action("TelephoneStatement", "TelePhonebill", new { @area = "Statements" })';
                    OpenDynamicPopup("Telephone Statement", url + "?_FrDate='" + TelephoneSt_fromDate + "'&_ToDate='" + TelephoneSt_toDate + "'&TelephoneID='" + TelephoneSt_TelephoneID + "'", "auto", "100%", false, null);
                    $("#StatementPeriodPopup").dxPopup("hide");
                }
                else { DevExpress.ui.dialog.alert(data.message, "Message..."); }
            }
        });
    }

    </script>
</div>