<div class="MultiBankCashBookChangePeriod_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.CB_SpeceficPeriod
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();
        bool PeriodSelectionFirstTime = (bool)ViewBag.PeriodSelectionFirstTime;
    }
    <div>          
        <form id="id_Frm_Change_Period_Screen_MultiBankCB" class="edit_form">           
            @using (Html.DevExtreme().ValidationGroup())
            {
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid ">
                            <div class="row">
                                <div class="col-sm-3"><label class="control-label  text-red" for="Name">From:</label></div>
                                <div class="col-sm-9 prm">
                                    @(Html.DevExtreme().DateBox().CustomDateBox(true).ID("MultiBankCB_Fromdate").Name("MultiBankCB_Fromdate").Value(Model.CB_Fromdate).InvalidDateMessage("Value must be a Date!!"))
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="container-fluid ">
                            <div class="row">
                                <div class="col-sm-3"><label class="control-label  text-red" for="Name">To:</label></div>
                                <div class="col-sm-9 prm">
                                    @(Html.DevExtreme().DateBox().CustomDateBox(true).ID("MultiBankCB_Todate").Name("MultiBankCB_Todate").Value(Convert.ToDateTime(Model.CB_Todate)).InvalidDateMessage("Value must be a Date!!") )
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[row]-->
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("MultiBankCBChangePeriod").Text("Ok").UseSubmitBehavior(false).OnClick("MultiBankCB_SpecificPeriod_Ok_Click") )
                        @(Html.DevExtreme().Button().CustomCloseButton().ID("MultiBankCBChangePeriodCancel").Text("Cancel").OnClick(@<text> function () { $("#PopupCB_speceficPeriod").dxPopup("hide"); } </text>) )

                    </div>
                </div><!--[button]-->
            }
        </form>
    </div>
    <script>
    $(document).ready(function ()
    {
        $("#MultiBankCB_Fromdate").dxDateBox("focus");
        if ("@PeriodSelectionFirstTime" == "True")
        {
            $("#MultiBankCBChangePeriod").click();
        }
    });
        function MultiBankCB_SpecificPeriod_Ok_Click(e)
        {
            MultiBankCB_PeriodSelectionFirstTime = false;
            if (ValidateForm(e)) {
                var fromDate = $("#MultiBankCB_Fromdate").dxDateBox("option", "value");
                var ToDate = $("#MultiBankCB_Todate").dxDateBox("option", "value");
                if (ToDate < fromDate)
                {
                    DevExpress.ui.dialog.alert("To Date Cannot Be Less From From Date..!!", 'Error!!').done(function () { $("#MultiBankCB_Todate").dxDateBox("focus") });
                }
                else
                {
                    Frm_Change_Period_Success_MultiBankCB(fromDate, ToDate)
                }
            }
        }

        $(function ()
        {
            $("#PopupCB_speceficPeriod").dxPopup({
                onHiding: function (e)
                {
                    ClearAllReferences("MultiBankCashBookChangePeriod_ClearReferences");
                    e.component.content()[0].innerHTML = "";
                    e.component.dispose();
                    $("#PopupCB_speceficPeriod").remove();
                }
            });
        })//popup hide
    </script>
    </div>




