<div class="WIPReport_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress;
    @using DevExpress.Web.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;
        bool WIPReport_ExportRight = (bool)ViewData["WIPReport_ExportRight"];
    }

    <div id="content" class="col-md-12 report_header_div_main">
        <div class="col-md-4 report_header_div">
            <label class="report_header_label">WIP Report</label>
        </div>
        @*Buttons*@
        <div class="report_button_div">
            @(Html.DevExtreme().Button()
                                        .ID("WIPReportsModelListPreview")
                                        .Text("Export")
                                        .Icon("save")
                                        .Visible(true)
                                         .Width(80)
                                        .OnClick(@<text>
                                            function () {
                                            OnWIPReportListPreviewClick();
                                            }
                                        </text>)
        )
            @(Html.DevExtreme().Button()
                                        .ID("WIPReportModelCLOSE")
                                        .Text("Close")
                                        .Icon("clear")
                                        .OnClick(@<text>
                                            function (){
                                            $(".TabPanalMenu-tabs .active span").click()
                                            }
                                        </text>)

        )
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <form>
            <div id="WIPReportreloadPartialView" class="parent_table">
                @Html.Partial("Frm_WIP_Report_Grid", Model)
            </div>
        </form>
    </div>

    @*<div class="footer-MainBoxdiv full-width-footer">
            <div class="col-lg-4 footer_smallbtns report_footer_small_buttons_div" id="WIPReportFooterItem">
                @(Html.DevExtreme().Button()
                                                .ID("btnWIPReportShowColumnChooser")
                                                .ElementAttr("class", "column-chooser")
                                                .Icon("add")
                                                .Hint("Show Column Chooser")
                                                .OnClick(@<text>
                                                    function () {
                                                    WIPReportShowColumnChooser();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                                .ID("btnWIPReportShowGroupPanel")
                                                .Icon("spinup")
                                                .Hint("Show Group Box")
                                                .OnClick(@<text>
                                                    function () {
                                                    WIPReportShowGroupPanel();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                                .ID("WIPReportGroupColumn")
                                                .Icon("fa fa-forward fa-rotate-270")
                                                .Hint("Show Grouped column")
                                                .OnClick(@<text>
                                                    function () {
                                                    OnWIPReportGroupClick();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("WIPReportShowFooter")
                                            .Icon("fa fa-fast-forward fa-rotate-270")
                                            .Hint("Show Footer Bar")
                                            .OnClick(@<text>
                                                function () {
                                                SetWIPReportFooterVisible();
                                                }
                                            </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("WIPReportShowGroupFooter")
                                            .Icon("fa fa-minus")
                                            .Hint("Show Group Footer Bar")
                                            .OnClick(@<text>
                                                function () {
                                                SetWIPReportGroupPanelFooterVisible();
                                                }
                                            </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("WIPReportCreateFilterButton")
                                            .Icon("todo")
                                            .Hint("Open Filter Builder")
                                            .OnClick(@<text>
                                                function () {
                                                WIPReportCreateFilterClick();
                                                }
                                            </text>)
                )
            </div>

            <div class="col-lg-8 report_footer_filter_buttons_div setFooterItem">
                <div class="footer-inner">
                    <div class="filter_main" style="float:right">
                            @(Html.DevExtreme().Button()
                                                .ID("WIPReportSearch")
                                                .Text("Find")
                                                .Icon("find")
                                                .Hint("Show search")
                                                .ElementAttr(new Dictionary<string, object>() { { "class", "float-right find_btn" } })
                                                .OnClick(@<text>
                                                    function () {
                                                    OnWIPReportSearchClick();
                                                    }
                                                </text>))

                            @(Html.DevExtreme().Button()
                                                .ID("WIPReportFind")
                                                .Text("Filter")
                                                .Icon("find")
                                                .Hint("Show filter")
                                                .ElementAttr(new Dictionary<string, object>() { { "class", "float-right filter_btn" } })
                                                .OnClick(@<text>
                                                    function () {
                                                    OnWIPReportFilterClick();
                                                    }
                                                </text>)
                            )
                        </div>
                    <div   style="float:right">
                        @Html.DevExpress().TrackBar(
                           tb =>
                           {
                               tb.Name = "WIPReportTrackBar";
                               tb.Properties.ScalePosition = ScalePosition.LeftOrTop;
                               tb.Properties.ValueToolTipPosition = ValueToolTipPosition.RightOrBottom;
                               tb.Properties.ValueType = typeof(string);
                               tb.Width = 150;
                               tb.Position = 2;
                               tb.Properties.ClientSideEvents.PositionChanged = "WIPReportTrackBarPositionChanged";
                               tb.ControlStyle.CssClass = "float-right";
                               tb.Properties.ScalePosition = ScalePosition.None;
                           }
                       ).GetHtml()
                    </div>
                </div>
            </div>
        </div>*@

    <div class="col-md-12">
        @*Add/Edit Popup*@
        @(Html.DevExtreme().Popup().CustomPopup()
                .ID("WIPReport_report_modal")
                 .OnShowing("PopupOnShowing")
                .Title("WIP Report Preview")
                .FullScreen(false)
                .MaxWidth(125)
                .Height("auto")
                .ShowCloseButton(true)
                .ContentTemplate(@<text>
                    <div id='WIPReport_report_modal_result'>
                    </div>
                </text>)
    )

    </div>

    @*Javascript Events*@
    <script type="text/javascript">
        var IsWIPReportSucessPopup = false;
        var IsWIPReportViewPopup = false;

    $(document).ready(function () {
        if ("@WIPReport_ExportRight" == "False")
        {
	        $("#WIPReportsModelListPreview").hide();
        }
        IsWIPReportSucessPopup = false;
        IsWIPReportViewPopup = false;
        //SetWIPReportGroupPanelFooterVisible();
        $("#WIPReportListGrid").hover(function () {
            WIPReportListGrid.Focus()
        })
    });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Reports/WIPReport/SessionClear",
            cache: false
        });
        ClearAllReferences_WIPReport();
    });
        function ClearAllReferences_WIPReport()
        {
            IsWIPReportSucessPopup = null;
            IsWIPReportViewPopup = null;

            ClearAllReferences("WIPReport_ClearReferences");
        }
    function WIPReportOnInit(s, e) {
        WIPReportAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            WIPReportAdjustSize();
        });
    }

    function OnEndCallback(s, e) {
        WIPReportAdjustSize();
    }

    function WIPReportAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
      try{  WIPReportListGrid.SetHeight(height);} catch (err) { }
    }

    function OnWIPReportListPreviewClick() {
        if ("@WIPReport_ExportRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }

        OpenPopup("WIPReport_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "WIPReport", new { @area = "Reports" })", "auto", "auto", false, null);
    }

    function WIPReportContextMenuFunction(s, e) {
        if (e.item.name == 'Close') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'ListPreview') {
            OnWIPReportListPreviewClick();
        }
        else if (e.item.name == 'Refresh') {
            WIPReportListGrid.Refresh();
        }
    }
    </script>

</div>