<div class="InternalTransfer_ExportPending_ClearReferences">
    @using DevExtreme.AspNet.Mvc
    <div>
        @(Html.DevExtreme().Button()
                                .ID("SI_ExportGridDatapdf")
                                .Text("Export to PDF")
                                .OnClick("ExportPDF")
                                .Visible(true)
                                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                                .ID("SI_ExportGridDataxls")
                                .Text("Export to XLS")
                                .OnClick("ExportXLS")
                                .Visible(true)
                                .Width(120)
    )<br />
        @(Html.DevExtreme().Button()
                                .ID("SI_ExportGridDataxlsx")
                                .Text("Export to XLSX")
                                .OnClick("ExportXLSX")
                                .Visible(true)
                                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                                .ID("SI_ExportGridDatadocx")
                                .Text("Export to DOCX")
                                .OnClick("ExportDOCX")
                                .Visible(true)
                                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                                .ID("SI_ExportGridDatartf")
                                .Text("Export to RTF")
                                .OnClick("ExportRTF")
                                .Visible(true)
                                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                                .ID("SI_ExportGridDatacsv")
                                .Text("Export to CSV")
                                .OnClick("ExportCSV")
                                .Visible(true)
                                .Width(120)
    )
    </div>
    <script>
        function ExportPDF() {
            PendingInternalTransferListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#pInternal_Transfer_report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            PendingInternalTransferListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#pInternal_Transfer_report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            PendingInternalTransferListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#pInternal_Transfer_report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            PendingInternalTransferListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#pInternal_Transfer_report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            PendingInternalTransferListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#pInternal_Transfer_report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            PendingInternalTransferListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#pInternal_Transfer_report_modal").dxPopup("hide");
        }
    </script>
</div>
