<div class="Notes_ExportFacility_ClearReferences">

    @using DevExtreme.AspNet.Mvc;
    <div>
        @(Html.DevExtreme().Button()
                .ID("Notes_ExportGridDatapdf")
                .Text("Export to PDF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportPDF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("Notes_ExportGridDataxls")
                .Text("Export to XLS")
                //.Icon("fa-file-excel-o")
                .OnClick("ExportXLS")
                .Visible(true)
                .Width(120)
    )<br />
        @(Html.DevExtreme().Button()
                .ID("Notes_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportXLSX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("Notes_ExportGridDatadocx")
                .Text("Export to DOCX")
                //.Icon("export_exporttodocx_16x16office2013")
                .OnClick("ExportDOCX")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("Notes_ExportGridDatartf")
                .Text("Export to RTF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportRTF")
                .Visible(true)
                .Width(120)
    )<br />

        @(Html.DevExtreme().Button()
                .ID("Notes_ExportGridDatacsv")
                .Text("Export to CSV")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportCSV")
                .Visible(true)
                .Width(120)
    )
    </div>
    <script>
        function ExportPDF() {
            Notes_InfoListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#Notes_Info_report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            Notes_InfoListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#Notes_Info_report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            Notes_InfoListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#Notes_Info_report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            Notes_InfoListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#Notes_Info_report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            Notes_InfoListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#Notes_Info_report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            Notes_InfoListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#Notes_Info_report_modal").dxPopup("hide");
        }
    </script>
</div>