
<div class="ResponseAddRejectionRemarks_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
        Html.AntiForgeryToken();

        var DonationID = (string)ViewBag.DonationID;
        var RejectionRemarks = (string)ViewBag.RejectionRemarks;
        var ABID = (string)ViewBag.ABID;
    }
    <script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>

    <div id="Frm_Chart_FormResponse_Rejection_AddRemark">
        <form>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 md-12 pll">
                            <label class="control-label text-red" for="user">Enter Reason for Rejection of Donation Acknowledgement:</label>
                            @(Html.DevExtreme().TextArea().ID("Reject_Response_Reason").Name("Reject_Response_Reason").MinHeight(150).Placeholder("Enter reason....").Value(RejectionRemarks).AutoResizeEnabled(true))
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().Text("Reject").ID("Reject_Response_Reason_Add").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("addResponseRejectionReason"))
                            @(Html.DevExtreme().Button().CustomCloseButton().Text("Cancel").ID("Reject_Response_Reason_Cancel").FocusStateEnabled(true).OnClick(@<Text> function () { CloseAddRejectionReasons();} </Text>))

                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->
        </form>
    </div><!--[Form Div]-->

    <script>

        function CloseAddRejectionReasons(){
            HidePopup('Reject_Reason_popup');
        }

        function addResponseRejectionReason(e)
        {
            var reason = $("#Reject_Response_Reason").dxTextArea("instance").option("value").trim();
            if (reason == "") {
                alert("Please mention Reason for Rejection of Donation Acknowledgement !!")
            }
            else {
                updateRejectionAPICall("@DonationID", reason, "@ABID");
            }
        }
    </script>

</div>