
@{
    string FileName = ViewBag.Filename;
}


<div class="DonationRegister_ExportOptions_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    <div>
        @* @(Html.DevExtreme().Button()
                        .ID("DonationRegister_ExportGridDatapdf")
                        .Text("Export to PDF")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        .OnClick("ExportPDF")
                        .Visible(false)
                        .Width(120)
            )<br />

                @(Html.DevExtreme().Button()
                        .ID("DonationRegister_ExportGridDataxls")
                        .Text("Export to XLS")
                        //.Icon("fa-file-excel-o")
                        .OnClick("ExportXLS")
                        .Visible(false)
                        .Width(120)
            )<br />

                @(Html.DevExtreme().Button()
                        .ID("DonationRegister_ExportGridDataxlsx")
                        .Text("Export to XLSX")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        .OnClick("ExportXLSX")
                        .Visible(false)
                        .Width(120)
            )<br />

                @(Html.DevExtreme().Button()
                        .ID("DonationRegister_ExportGridDatadocx")
                        .Text("Export to DOCX")
                        //.Icon("export_exporttodocx_16x16office2013")
                        .OnClick("ExportDOCX")
                        .Visible(false)
                        .Width(120)
            )<br />

                @(Html.DevExtreme().Button()
                        .ID("DonationRegister_ExportGridDatartf")
                        .Text("Export to RTF")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        .OnClick("ExportRTF")
                        .Visible(false)
                        .Width(120)
            )<br />

                @(Html.DevExtreme().Button()
                        .ID("DonationRegister_ExportGridDatacsv")
                        .Text("Export to CSV")
                        //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                        .OnClick("ExportCSV")
                        .Visible(false)
                        .Width(120)
            )<br />*@
        @(Html.DevExtreme().Button()
                .ID("DonationRegister_ExportGridDataxls_dx")
                .Text("Export to XLSX")
                //.Icon("fa-file-excel-o")
                .OnClick("ExportXLSX_dx")
                .Visible(true)
                .Width(120)
    )
    </div>
    <script>
        function ExportPDF() {
            DonRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#DonRegister_report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            DonRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#DonRegister_report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            DonRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#DonRegister_report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            DonRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#DonRegister_report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            DonRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#DonRegister_report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            DonRegisterListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#DonRegister_report_modal").dxPopup("hide");
        }
        function ExportXLSX_dx() {
            debugger;
            const workbook = new ExcelJS.Workbook();
            const worksheet = workbook.addWorksheet('Sheet');

            DevExpress.excelExporter.exportDataGrid({
                worksheet: worksheet,
                component: $("#DonRegisterListGrid_dx").dxDataGrid("instance"),
                autoFilterEnabled: true,
                customizeCell({ excelCell, gridCell }) {
                    if (gridCell.rowType === 'header') {
                        const columnDataField = gridCell.column.dataField;
                        if (columnDataField === 'iIcon') {
                            const Column = worksheet.getColumn(excelCell.col);
                            Column.width = 20;
                        }
                    }
                }
            }).then(function (exportRange) {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), "@FileName" +"_dx.xlsx");

                //    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'DonRegisterListGrid_dx.xlsx');
                });
            });
            $("#DonRegister_report_modal").dxPopup("hide");
        }

    </script>
</div>