@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.Model_NEVD_Production
@{
    /**/

    bool IsVisible = Model != null && ((Model.ActionMethod == "View") || (Model.ActionMethod == "Delete")) ? true : false;
    bool IsDisabled = Model != null && ((Model.ActionMethod == "View") || (Model.ActionMethod == "Delete")) ? true : false;
    bool tabvisible = (Model.ActionMethod == "New") ? true : false;
    bool storeread = Model != null && ((Model.ActionMethod == "Edit" || Model.ActionMethod == "View") || (Model.ActionMethod == "Delete")) ? true : false;

    bool Production_AddAccVouPaymentRight = (bool)ViewData["Production_AddAccVouPaymentRight"];
    bool Production_AddItemMasterRight = (bool)ViewData["Production_AddItemMasterRight"];
    bool Production_AddPersonnelRight = (bool)ViewData["Production_AddPersonnelRight"];
    bool Production_AddProjectRight = (bool)ViewData["Production_AddProjectRight"];
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .wdfull {
        width: 100%;
    }

    .nav-tabs > li > a.active, .nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    td {
        width: auto;
    }

    .width1200px {
        width: 1200px;
    }

    .margT12 {
        margin-top: 12px !important;
    }

    .fs22 {
        font-size: 22px !important;
    }

    .control-label {
        text-align: left !important;
    }

    .dx-state-disabled .dx-texteditor-input {
        color: darkgoldenrod;
    }

    .dx-texteditor-container {
        overflow: visible
    }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>

<div id="id_ProductionRR" class="edit_form">
    @using (Ajax.BeginForm("Frm_NEVD_Production", "ProductionRegister",
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "Frm_NEVD_Production",
                        InsertionMode = InsertionMode.InsertAfter,
                        OnBegin = "AjaxBeginFormPost",
                        OnSuccess = "OnProductionRegisterAjaxSuccessForm"
                    },
             new
             {
                 id = "productionvalidationForm",
                 @class = "edit_form"
             }))
    {
        @Html.HiddenFor(y => y.ActionMethod)
        @Html.HiddenFor(x => x.Prod_ID)
        @Html.HiddenFor(y => y.ProductionSanctionNo)
        @Html.HiddenFor(y => y.ProductionNumber)
        @Html.HiddenFor(y => y.ProductionStore)
        @Html.HiddenFor(y => y.ProductionLocation)
        @Html.HiddenFor(y => y.ProductionProjectName)
        @Html.HiddenFor(y => y.Prod_ProjectID)//Mantis bug 0000954 fixed

        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();

        using (Html.DevExtreme().ValidationGroup())
        {
             <div class="full-width-header-bg2">
                 <div class="row">

                     <div class="col-sm-8">
                         <h3 class="popuphead"><i class="far fa-edit"></i>Production Of Goods</h3>
                     </div>
                     <div class="col-sm-4 prm">
                         <h5 class="mand-txt-align">
                             <i class="fas fa-info-circle"></i> Red Fields are mandatory
                         </h5>
                     </div>
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                 </div>
             </div> 

            <div class="row form-field">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll">
                        <label class="control-label" for="user">Production Number:</label>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll4">
                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("ProductionNumber1").Name("ProductionNumber1").Value(Model.ProductionNumber).Placeholder("Production Number(System Generated)").Disabled(true)
                                                                                            .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                            </div>
                        </div>
                    </div>
                </div><!--[Production Number]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Production Date:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        <div class="dx-texteditor dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("ProductionDate").Name("ProductionDate").Placeholder("Production Date").Value(Model.ProductionDate)
                                                                                .ReadOnly(IsVisible).InvalidDateMessage("Value must be a Date!!").Disabled(IsDisabled).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                @Html.ValidationMessageFor(model => model.ProductionDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div><!--[Production Date]-->
            </div><!--[row 1]-->
            <div class="row form-field">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Production From Date:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll4">
                        <div class="dx-texteditor dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("ProductionFromDate").Name("ProductionFromDate").Placeholder("Production Start Date").Value(Model.ProductionFromDate).ReadOnly(IsVisible)
                                                                                .OnValueChanged("ProductionFromDatevaluechange").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Disabled(IsDisabled))
                            </div>
                        </div>
                    </div>
                </div><!--[Production From Date]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Production To Date:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        <div class="dx-texteditor dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("ProductionToDate").Name("ProductionToDate").Placeholder("Production To Date").Value(Model.ProductionToDate)
                                                                    .OnValueChanged("ProductionToDatevaluechange").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(IsVisible).Disabled(IsDisabled))
                            </div>
                        </div>
                    </div>
                </div><!--[Production To Date]-->
            </div><!--[row 2]-->
            <div class="row form-field">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Production Store:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll4">
                        <div class="dx-texteditor dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("ProductionStoreID").Name("ProductionStoreID").Placeholder("Production Store").DataSource(d => d.Mvc().Controller("ProductionRegister").LoadAction("Get_ProductionStore_List").Key("StoreID"))
                                                        .ValueExpr("StoreID").DisplayExpr("Store_Name").OnInitialized("On_StoreList_Init").OnValueChanged("On_StoreList_Changed").Disabled(IsDisabled)
                                                                        .ReadOnly(storeread).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ContentTemplate(@<text> @Html.Partial("Get_ProductionStore_List") </text>))
                                @Html.ValidationMessageFor(model => model.ProductionStoreID, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                </div><!--[Production Store ]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Lot Number:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        <div class="dx-texteditor dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBoxFor(m => m.ProductionLotNumber).CustomTextBox().ID("ProductionLotNumber").Name("ProductionLotNumber").Placeholder("Lot Number").Disabled(IsDisabled)
                                                                        .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                @Html.ValidationMessageFor(model => model.ProductionLotNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div><!--[Lot No.]-->
            </div><!--[row 3]-->
            <div class="row form-field">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Project Name:</label></div>
                    <div class="col-sm-5 col-md-5 col-lg-5 prm pll4">
                        <div class="dx-texteditor dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("ProductionProjectNameID").Name("ProductionProjectNameID").Placeholder("Project Name").DataSource(d => d.Mvc().Controller("ProductionRegister").LoadAction("Get_ProductionProject_List")
                                                                                .Key("Project_Id")).ValueExpr("Project_Id").DisplayExpr("Project_Name").OnValueChanged("On_ProjectList_Changed").Disabled(IsDisabled).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ContentTemplate(@<text> @Html.Partial("Get_ProductionProject_List") </text>))@*Mantis bug 0000954 fixed*@
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 prm pll4">
                        @(Html.DevExtreme().Button().ID("Prod_ProjectName").Text("Add Project").Disabled(IsDisabled).OnClick(@<text>function() { add_Production_New_Project(); }</text>))
                    </div>
                </div><!--[Project Name]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Sanction No:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("ProductionSanctionNo1").Name("ProductionSanctionNo").Placeholder("Sanction No").Disabled(true).ReadOnly(true).Value(Model.ProductionSanctionNo).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                            </div>
                        </div>
                    </div>
                </div><!--[Sanction No.]-->
            </div><!--[row 4]-->
            <div class="row form-field">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Production Location:</label></div>
                    <div class="col-sm-5 col-md-5 col-lg-5 prm pll4">
                        <div class="dx-texteditor dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("ProductionLocationID").Disabled(IsDisabled).Name("ProductionLocationID").Placeholder("Select Location").DataSource(d => d.Mvc().Controller("ProductionRegister").LoadAction("Get_ProductionLocation_List")
                                                                        .Key("Loc_Id").LoadParams(new { storeid = new JS("function (){ return productionstoreid;}") })).ValueExpr("Loc_Id").DisplayExpr("Location_Name").OnInitialized("On_LocationList_Init").OnValueChanged("On_LocationList_Changed")
                                                                        .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ContentTemplate(@<text> @Html.Partial("Get_ProductionLocation_List") </text>))
                                @Html.ValidationMessageFor(model => model.ProductionLocationID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 prm pll4">
                        @(Html.DevExtreme().Button().Text("Add Location").Disabled(IsDisabled).OnClick(@<text>function() { add_Production_New_Location(); }</text>))
                    </div>
                </div><!--[Location]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Production Done By:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm">
                        <div class="dx-texteditor dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("ProductionDoneBy").Name("ProductionDoneBy").Placeholder("Production Done By").Disabled(IsDisabled).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } })
                                                                        .DataSource(d => d.Mvc().Controller("ProductionRegister").LoadAction("Get_ProductionDoneBy_List").Key("Value")).DisplayExpr("Text").ValueExpr("Value").Value(Model.ProductionDoneBy).OnValueChanged("On_ProductionDoneBy_Changed"))

                                @Html.ValidationMessageFor(model => model.ProductionDoneBy, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div><!--[Done By]-->
            </div><!--[row 5]-->
            <div class="row">
                <div class="form-field">
                    @(Html.DevExtreme().TabPanel().ShowNavButtons(true).ScrollingEnabled(true).SwipeEnabled(false).ID("Productiontabpanel").Items(items =>
                                        {
                                            items.Add().Title("Stock Consumed").Template(@<text> @StockConsumedView() </text>);
                                            items.Add().Title("Documents").Template(@<text> @DocumentView() </text>);
                                            items.Add().Title("Expenses Details").Template(@<text> @ExpensesView() </text>);
                                            items.Add().Title("Manpower Usage Details").Template(@<text> @ManpowerUsageView() </text>);
                                            items.Add().Title("Machine Usage Details").Template(@<text> @MachineUsageView() </text>);
                                            items.Add().Title("Stock Produced").Template(@<text> @StockProducedView() </text>);
                                            items.Add().Title("Scrap Created").Template(@<text> @ScrapCreatedView() </text>);
                                            items.Add().Title("Existing Remarks").Disabled(tabvisible).Template(@<text> @RemarksView() </text>);
                                        }).DeferRendering(false))
                    @helper StockConsumedView()
                    {

                        @Html.Partial("StockConsumed", Model);
                    }
                    @helper DocumentView()
                    {

                        @Html.Partial("Documents", Model);
                    }
                    @helper ExpensesView()
                    {

                        @Html.Partial("Expenses", Model);
                    }
                    @helper ManpowerUsageView()
                    {

                        @Html.Partial("ManpowerUsage", Model);
                    }
                    @helper MachineUsageView()
                    {
                        @Html.Partial("MachineUsage", Model);
                    }
                    @helper StockProducedView()
                    {

                        @Html.Partial("StockProduced", Model);
                    }
                    @helper ScrapCreatedView()
                    {

                        @Html.Partial("ScrapCreated", Model);
                    }
                    @helper RemarksView()
                    {
                        @Html.Partial("Remarks", Model);
                    }
                </div>
            </div><!--Tabs-->
            <div class="row form-field">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Remarks:</label></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 prm">
                        <div class="dx-texteditor dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("ProductionRemarks").Name("ProductionRemarks").MaxLength(8000).Disabled(IsDisabled).Placeholder("Production Remarks").Value(Model.ProductionRemarks)
                                                                        .ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                @Html.ValidationMessageFor(model => model.ProductionRemarks, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--Remarks-->
            <div class="marginAll8 styleActionBtn">
                @if (Model.ActionMethod == "View")
                {
                    @(Html.DevExtreme().Button().CustomCloseButton().ID("ProductionViewCancel").Text("Close").OnClick(@<text> function () { close_ProductionNEVD(); } </text>))
                }
                @if (Model.ActionMethod == "Delete")
                {
                    @(Html.DevExtreme().Button().CustomSaveButton().ID("Production_Delete").Text("Delete").UseSubmitBehavior(false).OnClick("Delete_Production"))
                    @(Html.DevExtreme().Button().CustomCloseButton().ID("Productiondel_Close").Text("Cancel").OnClick(@<text> function () { close_ProductionNEVD(); } </text>))
                }
                @if ((Model.ActionMethod == "New") || (Model.ActionMethod == "Edit"))
                {
                    @(Html.DevExtreme().Button().CustomSaveButton().ID("ProductionID_Save").Text("Save").UseSubmitBehavior(true))
                    @(Html.DevExtreme().Button().CustomCloseButton().ID("Production_Close").Text("Cancel").OnClick(@<text> function(){ close_ProductionNEVD(); } </text>))
                }
            </div><!--Buttons-->
        }
    }
</div>

@(Html.DevExtreme().Popup().CustomPopup().ID("Productioninnergrid").CloseOnOutsideClick(false).ShowTitle(true).Title("New ~ ").MaxHeight(500).MaxWidth(850).ContentTemplate(@<text> <div id="result_Productioninnergrid">  </div> </text>))


<script>
    var productionstoreid;
    var productionfromdate;
    var productiontodate;
    var projectID;//Mantis bug 0000954 fixed
    $(document).ready(function ()
    {    
           
        var form = "productionvalidationForm";
        ShowLoader();
        AssignIDtoLabel(form, "Production");
        sessionclearpath = "/Stock/ProductionRegister/Sessionclear";
        dontaskpopupcloseconfirmation = false;

        if ("@Production_AddProjectRight" == "False")
        {
            $("#Prod_ProjectName").hide();
        }
        if ("@Model.ProductionProjectNameID".length > 0)
        {
            $("#ProductionProjectNameID").dxDropDownBox("instance").option("value", "@Model.ProductionProjectNameID");
            projectID = parseInt("@Model.ProductionProjectNameID");
        }//Mantis bug 0000954 fixed
        setTimeout(function ()
        {        
            Set_Form_View_Delete_Mode(null, form, "@Model.ActionMethod");         
            Focus_FirstEditable_Field(form, "@Model.ActionMethod");           
            HideLoader();
        }, Timeout500);
    });
    function On_StoreList_Changed(e) {   
        var drop_Down = $("#ProductionStoreID").dxDropDownBox("instance");
        if (e.previousValue != null && e.previousValue != e.value)
        {
            $("#ProductionLocationID").dxDropDownBox("instance").reset();       
        }
            if (drop_Down != undefined && drop_Down != "undefined") {
                drop_Down.close();
            }
            var $dataGrid = $("#GetProductionStoreDG");
            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(drop_Down.option("value"), false);
                if (dataGrid.getSelectedRowsData().length > 0) {
                    var item = dataGrid.getSelectedRowsData()[0];
                    productionstoreid = item.StoreID;
                    var storename = item.Store_Name;
                    $("#ProductionStore").val(storename);
                    if (productionstoreid != 0) {
                        $("#GetProductionLocationDG").dxDataGrid("instance").refresh();
                    }
                }            
        }
    }
     function On_StoreList_Init(e) {
        if ("@Model.ActionMethod" != "New") {
            $("#ProductionStoreID").dxDropDownBox("instance").option("value", @Model.ProductionStoreID);   
            productionstoreid = $("#ProductionStoreID").dxDropDownBox("instance").option("value");
        }
    }
    function On_LocationList_Init(e) {
        if ("@Model.ActionMethod" != "New") {
            $("#ProductionLocationID").dxDropDownBox("instance").option("value", "@Model.ProductionLocationID");   
        }
    }
    function On_LocationList_Changed(e) {     
            var drop_Down = $("#ProductionLocationID").dxDropDownBox("instance");
            if (drop_Down != undefined && drop_Down != "undefined") {
                drop_Down.close();
                var $dataGrid = $("#GetProductionLocationDG");
                if ($dataGrid.length) {
                    var dataGrid = $dataGrid.dxDataGrid("instance");
                    dataGrid.selectRows(drop_Down.option("value"), false);
                    if (dataGrid.getSelectedRowsData().length > 0) {
                        var item = dataGrid.getSelectedRowsData()[0];
                        var locationname = item.Location_Name;
                        $("#ProductionLocation").val(locationname);                   
                }
            }
        }
    }
    function On_ProjectList_Changed(e) {
        var drop_Down = $("#ProductionProjectNameID").dxDropDownBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
            var $dataGrid = $("#GetProductionProjectName");
            if ($dataGrid.length) {
                GetProductionProjectName
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(drop_Down.option("value"), false);
                if (dataGrid.getSelectedRowsData().length > 0) {
                    var item = dataGrid.getSelectedRowsData()[0];
                    var prjsanctionno = item.Sanction_no;
                    var projectname = item.Project_Name;
                    projectID = item.Project_Id;//Mantis bug 0000954 fixed
                    $("#Prod_ProjectID").val(projectID);//Mantis bug 0000954 fixed
                    $("#ProductionSanctionNo").val(prjsanctionno);
                    $("#ProductionProjectName").val(projectname);
                    $("#ProductionSanctionNo1").dxTextBox("instance").option("value", prjsanctionno);

                }
            }
        }
    }
    function On_ProductionDoneBy_Changed(e) {
        var drop_Down = $("#ProductionDoneBy").dxSelectBox("instance");
        if (drop_Down != undefined && drop_Down != "undefined") {
            drop_Down.close();
        }
    }
    function close_ProductionNEVD()
    {
        dontaskpopupcloseconfirmation = false;
        sessionclearpath = "/Stock/ProductionRegister/Sessionclear";
        $("#Dynamic_Content_popup").dxPopup("hide");
    }
    function add_Production_New_Project()
    {
        if ("@Production_AddProjectRight" != "True")
        {
                DevExpress.ui.dialog.alert('Not Allowed', 'No Rights');
                return;
        }
        ShowLoader();
        $("#projectvalidationForm").remove();
        $.ajax({
                type: "GET",
                url: "/Stock/ProjectScreen/Frm_Project_NEVD",
                data:
                {
                    ActionMethod: "New",                
                    PostSuccessFunction: "Prod_ProjectAjaxSuccessForm",
                    PopUpID: "Prod_frm_ProjectNEVD",
                    buttonID: "Prod_ProjectName"
                },
                success: function (data)
                {
                    OpenPopup("Prod_frm_ProjectNEVD", "New ~ Project Request", null, "auto", "90%", true, data);
                }
            });        
        HideLoader();        
    }

    function Prod_ProjectAjaxSuccessForm(data)
    {
        debugger;
        dontaskpopupcloseconfirmation = true;
        HideLoader();
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else
        {
            DevExpress.ui.dialog.alert(data.message, "Success");
            $("#Prod_frm_ProjectNEVD").dxPopup("hide");
            $("#GetProductionProjectName").dxDataGrid("instance").refresh();            
        }
    }

    function add_Production_New_Location() {
        DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
    }
    function ProductionFromDatevaluechange(e)
    {
        productionfromdate = $("#ProductionFromDate").dxDateBox("instance").option("value");
    }
    function ProductionToDatevaluechange(e) {
        productiontodate = $("#ProductionToDate").dxDateBox("instance").option("value");
        if (productionfromdate)
        {
            if (productiontodate)
            {
                if (productiontodate < productionfromdate)
                {
                    DevExpress.ui.dialog.alert("Production To Date Should Be greater Than Or Equal To Production From Date", 'Inform!');
                    $("#ProductionToDate").dxDateBox("instance").reset();
                    return;
                }
            }
        }
    }
    function Delete_Production(e)
    {
        var form = $("#productionvalidationForm");
        var result = DevExpress.ui.dialog.confirm("Sure You Want To Delete", "Delete~Production");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $.ajax({
                    type: 'GET',
                    url: "/Stock/ProductionRegister/CheckDocumentsLinked",
                    cache: false,
                    async: false,
                    data: {
                        prodid: Prod_ID
                    },
                    success: function (check) {
                        if (check.result == false) {
                            form.submit();
                        }
                        else {
                            var docdel = DevExpress.ui.dialog.confirm(check.message, "Unlink-Documents");
                            docdel.done(function (dialogResult) {
                                if (dialogResult) {
                                    form.submit();
                                }
                            });
                        }
                    }
                });
            }
        });
       
    }
</script>
