@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.ProductionMachineUsageDetail
@{
    /**/

    ViewBag.Test = Model.ActionMethod;
    bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "View") ? true : false;
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            line-height: 15px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 8px;
                height: 8px;
                background: #337ab7;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #Frm_Machine_Popup {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
</style>

<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<div id="Frm_Machine_Popup" class="col-md-12">
    @using (Ajax.BeginForm("Frm_Machinery_Used", "ProductionRegister",
                                           new AjaxOptions
                                           {
                                               HttpMethod = "POST",
                                               UpdateTargetId = "Frm_Machine_Popup",
                                               InsertionMode = InsertionMode.InsertAfter,
                                               OnBegin = "AjaxBeginFormPost",
                                               OnSuccess = "Frm_Machine_Window_OnSuccess"
                                           },
                                           new
                                           {
                                               id = "ID_Frm_Machine_Window",
                                               @class = "edit_form"
                                           }))
    {
        @Html.HiddenFor(x => x.ActionMethod)
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.Sr_No)
        @Html.HiddenFor(x => x.Curr_Qty)
        @Html.HiddenFor(x => x.Production_Machine_Name)
        @Html.HiddenFor(x => x.Production_Machine_No)
        using (Html.DevExtreme().ValidationGroup())
        {
            <!-- <div class="full-width-header-bg">
                 <div class="row">

                     <div class="col-sm-8 pll">
                         <h3 class="popuphead"><i class="far fa-edit"></i> Machine Usage Details</h3>
                     </div>
                     <div class="col-sm-4 prm">
                         <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
                     </div>
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                 </div>
             </div> [header]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label mb text-red" for="user">Machine Name:</label></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm pll4">
                            <div class="dx-texteditor dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Production_Machine_NameID").Name("Production_Machine_NameID").Value(Model.Production_Machine_NameID).DisplayExpr("Item_Name").ValueExpr("ID").DataSource(d => d.Mvc().Area("Stock").Controller("ProductionRegister").LoadAction("LookUp_GetMachine_Name").Key("ID").LoadParams(new { storeid = new JS("function (){ return productionstoreid;}") })).ShowClearButton(true).Placeholder("Select Machine Used...").OnValueChanged("OnMachine_NameChanged").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(IsVisible).Disabled(IsVisible).OnInitialized("OnInitialized_OnMachine_NameChanged").ContentTemplate(@<text> @Html.Partial("LookUp_Machine_List") </text>) )
                                    @Html.ValidationMessageFor(model => model.Production_Machine_NameID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Machine]-->
            <div class="row form-field">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label mb" for="user">Machine No:</label></div>
                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll6">
                        <div class="dx-texteditor dx-state-disabled dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Production_Machine_No1").Name("Production_Machine_No1").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Item Code").ReadOnly(true).Disabled(true) )
                            </div>
                        </div>
                    </div>
                </div><!--[Code]-->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label mb text-red" for="user">Machine Count:</label></div>@*0000070 bug fixed*@
                    <div class="col-sm-8 col-md-8 col-lg-8 prm pll6">
                        <div class="dx-texteditor dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Production_Machine_Count").Format("#0").Name("Production_Machine_Count").Value(Model.Production_Machine_Count).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ShowSpinButtons(true).ReadOnly(IsVisible).Disabled(IsVisible).Placeholder("Enter Machine Count..") )
                            </div>
                        </div>
                    </div>
                </div><!--[Count]-->
            </div><!--[row2]-->
            <div class="row">
                <div class="">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label mb text-red" for="user">Machine Usage: </label></div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 prm pll6">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("Production_Machine_Usage_Hours").Name("Production_Machine_Usage_Hours").Value(Model.Production_Machine_Usage_Hours).ShowSpinButtons(true).Format("#0.00").ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).Placeholder("Enter Hours....").ReadOnly(IsVisible).Disabled(IsVisible) )
                                                @Html.ValidationMessageFor(model => model.Production_Machine_Usage_Hours, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        @(Html.DevExtreme().Button().ID("BUT_ViewPastUsage").Disabled(IsVisible).Text("View Past Usage").OnClick(@<text> function () { OnFrm_View_Past_Usage_Click() } </text>))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Usage]-->
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label mb" for="user">Remarks:</label></div>
                            <div class="col-sm-10 col-md-10 col-lg-10 prm pll4">
                                <div class="dx-texteditor dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Production_Machine_Remarks").Name("Production_Machine_Remarks").Value(Model.Production_Machine_Remarks).Placeholder("Enter Remarks...").MaxLength(8000).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).ReadOnly(IsVisible).Disabled(IsVisible) )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[Remarks]-->
            <div class="row">
                <div class="form-field ">
                    <div class="container-fluid">
                        <div class="col-sm-12 btn-align prm styleActionBtn">
                            @if (Model.ActionMethod.ToString().Trim() == "View")
                            {
                                @(Html.DevExtreme().Button().CustomCloseButton()
                                            .Text("Close")
                                            .ID("productionMachineDetail_Cancle")
                                          
                                            .FocusStateEnabled(true)
                                            .OnClick(@<text>
                                                function () {
                                                $("#Productioninnergrid").dxPopup("hide");
                                                }
                                            </text>) )
                            }
                            @if (Model.ActionMethod.ToString().Trim() == "New" || Model.ActionMethod.ToString().Trim() == "Edit")
                            {

                                @(Html.DevExtreme().Button().CustomSaveButton()
                                            .Text("Save")
                                         
                                            .ID("productionMachineDetail_Save")
                                            .FocusStateEnabled(true)
                                            .UseSubmitBehavior(true)
                                )
                                @(Html.DevExtreme().Button().CustomCloseButton()
                                                       .Text("Cancel")
                                                       .ID("productionMachineDetail_Cancled")
                                                       
                                                       .FocusStateEnabled(true)
                                                       .OnClick(@<text>function () {$("#Productioninnergrid").dxPopup("hide"); }
                                                    </text>) )}

                        </div>

                    </div>
                </div>
            </div><!--[Button]-->
        }
    }
</div>

    <script type="text/javascript">
        var item;
        var macname = "";
        var MCode;
        function OnMachine_NameChanged(e) {
            var dropdown = $("#Production_Machine_NameID").dxDropDownBox("instance");
            dropdown.close();
            if (e.previousValue!=null&&e.previousValue != e.value)
            {
                $("#Production_Machine_Usage_Hours").dxNumberBox("instance").reset();
                $("#Production_Machine_Count").dxNumberBox("instance").reset();
            }
            var $dataGrid = $("#LookUp_Machine_List_datagrid");
            if ($dataGrid.length) {
                LookUp_Machine_List_datagrid
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(dropdown.option("value"), false);
                if (dataGrid.getSelectedRowsData().length > 0) {
                    item = dataGrid.getSelectedRowsData()[0];
                    MCode = item.Item_Code;
                    macname = item.Item_Name;
                    $("#Production_Machine_No").val(MCode);
                    $("#Production_Machine_No1").dxTextBox("instance").option("value", MCode);
                    $("#Production_Machine_Name").val(macname)
                    $("#Curr_Qty").val(item.Curr_Qty);
                }
            }
        }
        function OnInitialized_OnMachine_NameChanged(e)
        {
            if ("@Model.ActionMethod" != "New")
            {
                $("#Production_Machine_NameID").dxDropDownBox("instance").option("value","@Model.Production_Machine_NameID");
                e.component.option("dataSource").store.load().done(function (d) {
                    if (d.length > 0) {
                        var $dataGrid = $("#LookUp_Machine_List_datagrid");
                        if ($dataGrid.length) {
                            var dataGrid = $dataGrid.dxDataGrid("instance");
                            dataGrid.selectRows("@Model.Production_Machine_NameID", false);
                        }
                    }
                });
            }
                 if ("@Model.ActionMethod" == "New")
            {     
                e.component.option("dataSource").store.load().done(function (d) {
                    if (d.length ==1) {                        
                        var $dataGrid = $("#LookUp_Machine_List_datagrid");
                        if ($dataGrid.length) {
                            var dataGrid = $dataGrid.dxDataGrid("instance");
                            dataGrid.selectRowsByIndexes(0);
                        }
                    }
                });
            }
        }
        function OnFrm_View_Past_Usage_Click() {
            DevExpress.ui.dialog.alert("Coming soon...!", 'Inform!');
        }
    </script>

    <script>
    $(document).ready(function ()
    {
        var form = "ID_Frm_Machine_Window";
        ShowLoader();
        AssignIDtoLabel(form, "ProductionMachine");
        setTimeout(function ()
        {
            Set_Form_View_Delete_Mode(null, form, "@Model.ActionMethod");
            Focus_FirstEditable_Field(form, "@Model.ActionMethod");
            HideLoader();
        }, Timeout500);
    })

    </script>