@using DevExtreme.AspNet.Mvc;
@model IEnumerable<dynamic>
@{    
    bool Production_AddAccVouPaymentRight = (bool)ViewData["Production_AddAccVouPaymentRight"];
 }
<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 20px;
        cursor: pointer;
        line-height: 15px;
        display: inline-block;
        color: #666;
    }

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }

    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 8px;
        height: 8px;
        background: #337ab7;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .popuphead {
        margin: 0 0 5px 12px !important;
    }

    #ActuallExpensesGrid .dxgvCSD {
        height: 275px !important;
    }

    .marginTop {
        margin-top: 8px;
    }

    #Id_postnewexpense > div {
        padding: 4px 8px 4px 22px !important;
    }
</style>

<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="id_Estimation_Grid" class="edit_form">
    <!-- <div class="full-width-header-bg3">
        <div class="row">

            <div class="col-sm-8">
                <h3 class="popuphead"><i class="far fa-edit"></i> Expense Details</h3>
            </div>
            <div class="col-sm-4 prm">
                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
            </div>
        </div>

    </div> [Header]-->
    @Html.Partial("Prod_Actual_Estimation_Grid", Model)
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="button-align pull-right marginTop styleActionBtn">
                            @(Html.DevExtreme().Button().ID("Id_postnewexpense").Text("Post New Expense").OnClick(@<text> function(){ Postnewexpense(); } </text>))
                            @(Html.DevExtreme().Button().ID("Id_Actuall_Exp_Inc").Text("Ok").Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen").OnClick(@<text> function(){ PostingActEstExp(); } </text>))
                            @(Html.DevExtreme().Button().ID("Id_Actuall_Exp_close").Text("Cancel").Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey").OnClick(@<text> function(){ Close(); } </text>))
                    </div>
                </div>

            </div>
        </div>
    </div><!--[button]-->
</div>
<script>
    $(document).ready(function () {
        if ("@Production_AddAccVouPaymentRight" == "False")
        {
            $("#Id_postnewexpense").hide();
        }

        $.ajax({
            type: "Get",
            url: "/Stock/ProductionRegister/FindGridKeyValue",
            success: function (value) {
                if (value.result == true) {
                    ActuallExpensesGrid.SelectRowsByKey(value.data);
                }
            }
        });
        ActuallExpensesGrid.Refresh();
    })
    function Prd_expense_selectionchanged(s, e)
    {
        s.SortBy("Txn_ID");
    }
    function Prod_Actual_Estimation_Grid_CallBack(s, e)
    {
        e.customArgs["command"] = e.command;
        e.customArgs["Prod_ID"] = Prod_ID; 
    }
    </script>
<script>
    var productionselectedrowsarray = [];

    function PostingActEstExp() {
        productionselectedrowsarray= ActuallExpensesGrid.GetSelectedKeysOnPage();

        $.ajax({
            type: "POST",
            url: "/Stock/ProductionRegister/Addingnewexpenses",
            data: {
                selectedrowarr: productionselectedrowsarray
            },
            success: function (data) {

                $("#Productioninnergrid").dxPopup("hide");
                ProductionExpensesGrid.SetFocusedRowIndex(-1);
                ProductionExpensesGrid.Refresh();
            },
            error: function (e) {

            }
        });
    }
    function Close() {
        $("#Productioninnergrid").dxPopup("hide");
    }
    function Postnewexpense()
    {        
        if ("@Production_AddAccVouPaymentRight" != "True")
        {
                DevExpress.ui.dialog.alert('Not Allowed', 'No Rights');
                return;
        }
        $.ajax({
            type: "GET",
            url: "/Account/PaymentVoucher/Frm_Voucher_Win_Gen_Pay",
            data:
            {
                Tag:"_New",                
                PostSucessFunction: "AjaxSuccessForProd_PostNewExpense",
                PopupName: "Production_PostNewExpense",                
            },
            success: function (data)
            {
                OpenPopup("Production_PostNewExpense", "New ~ Stock Item", null, "auto", "1000", true, data);
            }
        });       
    }

    function AjaxSuccessForProd_PostNewExpense(data)
    {
        debugger;        
        HideLoader();
        if (data.result == true) {
            ActuallExpensesGrid.Refresh();
            $("#Production_PostNewExpense").dxPopup("hide");
            DevExpress.ui.dialog.alert('<div class="paymentErrorIconInformation">' + data.message + '</div>', data.messagecaption);
            
        }
        else if (data.result == false) {
            var message = data.message;
            var iconclass = data.iconclass == null ? "paymentErrorIconInformation" : data.iconclass;
            var dialogresult = data.dialogresult;
            var focusid = data.focusid;
            var messagecaption = data.messagecaption == null ? "Error" : data.messagecaption;

            var alert = DevExpress.ui.dialog.alert('<div class="' + iconclass + '">' + message + '</div>', messagecaption);

            alert.done(function (alertResult) {
                if (alertResult) {
                    if (dialogresult != "none") {
                        $("#Production_PostNewExpense").dxPopup("hide");
                    }
                    else if (focusid) {
                        switch (focusid) {
                            case "Txt_Inv_No":
                                $("#Txt_Inv_No").dxTextBox("instance").focus();
                                break;
                            case "Txt_CashAmt":
                                $("#Txt_CashAmt").dxNumberBox("instance").focus();
                                break;
                            case "Txt_CreditAmt":
                                $("#Txt_CreditAmt").dxNumberBox("instance").focus();
                                break;
                            case "Txt_LB_Amt":
                                $("#Txt_LB_Amt").dxNumberBox("instance").focus();
                                break;
                            case "Txt_V_Date":
                                $("#Txt_V_Date").dxDateBox("instance").focus();
                                break;
                            case "GLookUp_PartyList1_Tag":
                                $("#GLookUp_PartyList1_Tag").dxDropDownBox("instance").focus();
                                break;
                            case "Frm_Voucher_Win_Gen_Pay_Grid_1":
                                $("#Frm_Voucher_Win_Gen_Pay_Grid_1").focus();
                                break;
                        }
                    }
                }
            });
        }
        else if (data.result == "close_form") {
            $("#Production_PostNewExpense").dxPopup("hide");
        }
        else {
            $("#result_Production_PostNewExpense").html(data);
        }
    }

    $(function ()
    {
      
        $("#Production_PostNewExpense").dxPopup({
            onHiding: function (e) {

                $("#Production_PostNewExpense").dxPopup("hide");
                $.ajax({
                    type: 'GET',
                    url: "/Account/PaymentVoucher/SessionClear",
                    cache: false
                });
                $(".dx-dialog-message").css({ "padding": "10px 10px 10px 50px", "margin-left": "10px", "background-image": "url('../../../../Icons/About Us3.png')", "background-repeat": "no-repeat", "background-position": "left center" });
                $("#Payment_ParentDiv").remove();

            }
        });

    })
</script>

