@model ConnectOneMVC.Areas.Stock.Models.Model_NEVD_Production
@using DevExtreme.AspNet.Mvc;
@{
    bool IsVisible = Model != null && (Model.ActionMethod =="Delete") ? true : false;
    bool IsDisabled = Model != null && (Model.ActionMethod =="View" || Model.ActionMethod =="Delete") ? true : false;

}
<div class="row">
    <div class="col-md-12">
        @Html.Action("ProductionStockProduceGridData", "ProductionRegister", new { ActionMethodName =Model.ActionMethod,Prod_ID =Model.Prod_ID })
    </div>
</div>

<div class="row">
    <div class="form-field">
        <div class="container-fluid">
            <div class="col-md-12 btnsDiv">
                        @(Html.DevExtreme().Button().ID("productionBUT_StkproNew").Text("New").Icon("fas fa-file btn-icons newfile icon-rgt-space5").Disabled(IsDisabled).OnClick(@<text> function () { OnFrm_StkProduce_New_Click() } </text>))
                        @(Html.DevExtreme().Button().ID("productionBUT_StkproEdit").Text("Edit").Icon("fas fa-pencil-alt btn-icons editcolor icon-rgt-space5").Disabled(IsDisabled).OnClick(@<text> function () { OnFrm_StkProduce_Edit_Click() } </text>))
                        @(Html.DevExtreme().Button().ID("productionBUT_StkproDelete").Text("Delete").Icon("fas fa-trash btn-icons deletecolor icon-rgt-space5").Disabled(IsDisabled).OnClick(@<text> function () { OnFrm_StkProduce_Delete_Click() } </text>))
                        @(Html.DevExtreme().Button().ID("productionBUT_StkproView").Text("View").Icon("fas fa-eye btn-icons eyeicon icon-rgt-space5").Disabled(IsVisible).OnClick(@<text> function () { OnFrm_StkProduce_View_Click() } </text>))
            </div>
        </div>
    </div>
</div>
<script>
    var Stkprodsr;
    var Stkprodid;
    function OnProductionStockProduceGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'Sr;ID', StockPRoduce_GridRowValues);
    }
    function StockPRoduce_GridRowValues(values) {
        Stkprodsr = values[0];
        Stkprodid = values[1];      
    }
    $("#ProductionStockProducedGrid").keydown(function (evt) {
        switch (evt.keyCode) {
            case 45: // insert key
                OnFrm_StkProduce_New_Click();
                break;
            case 13: //enter key
                OnFrm_StkProduce_Edit_Click();
                break;
            case 32: //space bar
                OnFrm_StkProduce_View_Click();
                break;
            case 46: //delete key
     OnFrm_StkProduce_Delete_Click();
                break;
        }
        if (evt.ctrlKey && evt.keyCode == 73)//ctrl+i
        {
            OnFrm_StkProduce_New_Click();
        }
        if (evt.ctrlKey && evt.keyCode == 69)//ctrl+e
        {
            OnFrm_StkProduce_Edit_Click();
        }
        if (evt.ctrlKey && evt.keyCode == 86)//ctrl+v
        {
            OnFrm_StkProduce_View_Click();
        }
    });

    function OnFrm_StkProduce_New_Click()
    { if ("@IsDisabled"=="true") { return; }

                                ShowLoader();
        OpenPopup("Productioninnergrid", "New ~ Item Produced","@Url.Action("Frm_StkProduce_Production", "ProductionRegister", new {@area= "Stock" })?ActionMethod=New", "auto", "90%", false, null);
    }// new click
    function OnFrm_StkProduce_Edit_Click()
    {
        if ("@IsDisabled" == "true") { return; }
        if (Stkprodsr == null || Stkprodsr == undefined || Stkprodsr == "undefined")
        {
            DevExpress.ui.dialog.alert("Please Select Row", "Error");
            return;
        }
        ShowLoader();
        OpenPopup("Productioninnergrid", "Edit ~ Item Produced","@Url.Action("Frm_StkProduce_Production", "ProductionRegister", new {@area= "Stock" })?ActionMethod=Edit&SR=" + encodeURIComponent(Stkprodsr), "auto", "90%", false, null);

    }//edit click
    function OnFrm_StkProduce_View_Click()
    {
        if (Stkprodsr == null || Stkprodsr == undefined || Stkprodsr == "undefined")
        {
                DevExpress.ui.dialog.alert("Please Select Row", "Error");
                return;
            }

                ShowLoader();
        OpenPopup("Productioninnergrid", "View ~ Item Produced","@Url.Action("Frm_StkProduce_Production", "ProductionRegister", new {@area= "Stock" })?ActionMethod=View&SR=" + encodeURIComponent(Stkprodsr), "auto", "90%", false, null);
        }//view click
    function OnFrm_StkProduce_Delete_Click()
    { if ("@IsDisabled"=="true") { return; }
        if (Stkprodsr == 'undefined' || Stkprodsr == undefined || Stkprodsr == null)
        {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var Actual_Manpower_Details = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Confirm changes");
        Actual_Manpower_Details.done(function (dialogResult)
        {
            if (dialogResult)
            {
                $.ajax({
                    type: 'GET',
                    url: "/Stock/ProductionRegister/Frm_StkProduce_Window_Delete_Grid_Record",
                    data: { ActionMethod: "Delete", sr: Stkprodsr, id: Stkprodid },
                    cache: false,
                    success: function (check)
                    {
                        if (check.result == true) {
                            
                            ProductionStockProducedGrid.SetFocusedRowIndex(-1);
                            ProductionStockProducedGrid.Refresh();
                            
                        }
                        else {
                            DevExpress.ui.dialog.alert(check.message, "Error");
                        }
                      
                      }
                });
            }
        });
        var total = ProductionStockConsumedGrid.GetVisibleRowsOnPage() + ProductionStockProducedGrid.GetVisibleRowsOnPage() + ProductionScrapCreatedGrid.GetVisibleRowsOnPage() + Actual_ManPower_Usage_Grid.GetVisibleRowsOnPage() + Machine_Usage_Window_Grid.GetVisibleRowsOnPage()-1;
             if (total == 0) {
            $("#ProductionStoreID").dxDropDownBox("instance").option("readOnly", false);
        }
    }
    function Frm_StkProduce_OnSuccess(data)
    {
        HideLoader();
        if (data.result == false)
        {
            DevExpress.ui.dialog.alert(data.message, "Error");
        }
        else
        {           
            $("#Productioninnergrid").dxPopup("hide");
            ProductionStockProducedGrid.SetFocusedRowIndex(-1);
            ProductionStockProducedGrid.Refresh();
            $("#ProductionStoreID").dxDropDownBox("instance").option("readOnly", true);
            
        }
    }
</script>