@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.ChangeLocationInfo
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
    bool Stock_Profile_Core_AddRights = (bool)ViewData["Stock_Profile_Core_AddRight"];
}
<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .popuphead {
        margin: 0 0 5px 9px !important;
    }

    .LH-15 {
        line-height: 15px;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            line-height: 15px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 8px;
                height: 8px;
                background: #337ab7;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .dx-button-block {
        display: block !important;
    }

    .intial {
        float: initial !important;
    }



    .paddR9 {
        padding-right: 9px !important;
    }

    .control-label-text {
        font-weight: 500;
        font-size: 14px;
    }

    .valFields {
        color: #ff0000;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div id="Frm_Stock_Change_Location_popup" class="col-md-12">
    @using (Ajax.BeginForm("Frm_Stock_Change_Location_Save", "Stock",
new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "Frm_Stock_Change_Location_popup",
    InsertionMode = InsertionMode.InsertAfter,
    OnBegin = "AjaxBeginFormPost",
    OnSuccess = "Frm_Stock_Change_Location_Success"
},
new
{
    id = "frm_Stock_Change_Location",
    @class = "edit_form"
}))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(x => x.REC_ID);
        @Html.HiddenFor(x => x.Store_Id);
        @Html.HiddenFor(x => x.TempActionMethod)

        @Html.HiddenFor(x => x.Rec_Edit_On)
        <div class="full-width-header-bg3">
            <div class="row">

                <div class="col-sm-8 pll">
                    <h3 class="popuphead"><i class="far fa-edit"></i>Change Location </h3>
                </div>
                <div class="col-sm-4 prm">
                    <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red fields are mandatory</h5>
                </div>
            </div>
        </div><!--[row]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                        <label class="control-label" for="Name">Item Name:</label>
                    </div><!--[/leftpart]-->
                    <div class="col-sm-9 col-md-9 col-lg-9 paddLR5">
                        <div class="control-label-text" id="_Item_Name">@Model.Item_Name</div>

                    </div><!--[right part]-->
                </div>
            </div>
        </div> <!--[/row1]-->

        <div class="row">

            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                            <label class="control-label" for="Name">Item type:</label>
                        </div><!--[/leftpart]-->
                        <div class="col-sm-9 col-md-9 col-lg-9 paddLR5">
                            <div class="control-label-text" id="_Item_Type">@Model.Item_Type</div>

                        </div>
                    </div> <!--[right part]-->

                </div>
            </div>
        </div> <!--[/row1]-->

        <div class="row">

            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                            <label class="control-label" for="Name">Item Code:</label>
                        </div><!--[/leftpart]-->
                        <div class="col-sm-9 col-md-9 col-lg-9 paddLR5">
                            <div class="control-label-text" id="_Item_Code">@Model.Item_Code</div>
                        </div>
                    </div><!--[right part]-->

                </div>
            </div>
        </div> <!--[/row1]-->

        <div class="row">

            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                            <label class="control-label" for="Name">Existing Location:</label>
                        </div><!--[/leftpart]-->
                        <div class="col-sm-9 col-md-9 col-lg-9 paddLR5">
                            <div class="control-label-text" id="_Exist_Location">@Model.Exist_Location</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--[/row1]-->
        <div class="row">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                            <label class="control-label valFields" for="Make">Location:</label>
                        </div><!--[/leftpart]-->
                        <div class="col-sm-5 col-md-5 col-lg-5 paddLR5">
                            @(Html.DevExtreme().DropDownBox().CustomDropDown()
                                                                                                .ID("Stk_Profile_Location")
                                                                                                .Name("Stk_Profile_Location")
                                                                                                .DisplayExpr("LocationName")
                                                                                                .ValueExpr("LocId")
                                                                                                .DataSource(d => d.Mvc().Area("Stock").Controller("Stock").LoadAction("LookUp_GetLocations").Key("LocId").LoadParams(new { stockstoreid = new JS("function (){ return MainDeptID;}") }))

                                                                                                .OnValueChanged("OnLocationChanged")

                                                                                                // .OnInitialized("OnInitialized_OnLocationChanged")
                                                                                                .ContentTemplate(@<text>
                                                                                                    @Html.Partial("LookUp_Location_List")
                                                                                                </text>)@*Mantis bug 0001186 fixed*@
                            )
                            @Html.ValidationMessageFor(model => model.Stk_Profile_Location, "", new { @class = "text-red" })

                        </div><!--[right part]-->
                        <div class="col-sm-4 col-md-4 col-lg-4 paddLR5">
                            <div class="dx-texteditor dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <div class="action-btn-sec-wrap intial">
                                        <div class="dx-button dx-button-normal dx-widget dx-button-has-text dx-button-block" role="button" aria-label="Price History">
                                            @(Html.DevExtreme().Button()
                                                                        .ID("SP_AddLocation")
                                                                        .Text("Add Location")
                                                                        .OnClick(@<text>
                                                                            function () {
                                                                            SP_Add_Location_Click()
                                                                            }
                                                                        </text>))
                                        </div><!--[button]-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[right part]-->

                </div>
            </div>

        </div> <!--[/row1]-->
        <div class="row">

            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                            <label class="control-label valFields" for="Make">Change Date:</label>
                        </div><!--[/leftpart]-->
                        <div class="col-sm-4 col-md-4 col-lg-4 paddLR5">
                            @(Html.DevExtreme().DateBoxFor(m => m.Change_Date).CustomDateBox()
                                                                                        .ID("Change_Date")
                                                                                        .Name("Change_Date")


                            )
                        </div><!--[right part]-->
                        <div class="col-sm-2 col-md-2 col-lg-2 paddLR5">
                            <label class="control-label valFields" for="Model">Change Time:</label>
                        </div><!--[/leftpart]-->
                        <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                            @(Html.DevExtreme().DateBoxFor(m => m.Change_Time).CustomDateBox().ID("TimeCutOff").Name("TimeCutOff").Value(DateTime.Now))
                        </div>
                    </div> <!--[right part]-->

                </div>
            </div>

        </div> <!--[/row1]-->
        <div class="row">

            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 paddLR5">
                            <label class="control-label" for="Quantity">Remarks:</label>
                        </div><!--[/leftpart]-->
                        <div class="col-sm-9 col-md-9 col-lg-9 paddLR5">
                            @(Html.DevExtreme().TextBox().CustomTextBox()
                                                                                               .ID("Remarks")
                                                                                               .Name("Remarks")
                                                                                               .Value(Model.Remarks)
                                                                                               .MaxLength(8000)
                            )
                        </div>
                    </div><!--[right part]-->

                </div>
            </div>

        </div> <!--[/row1]-->

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="styleActionBtn">
                    @(Html.DevExtreme().Button().CustomSaveButton().ID("ChangeLocation_Save").Text(Model.TempActionMethod == "_Delete" ? "Delete" : "Save").FocusStateEnabled(true).UseSubmitBehavior(true).Visible(Model.TempActionMethod == "_View" ? false : true))
                    @(Html.DevExtreme().Button().CustomCloseButton().ID("ChangeLocation_Close").Text(Model.TempActionMethod == "_View" ? "Close" : "Cancel").FocusStateEnabled(true).OnClick(@<text> function () {    $("#popup_frm_Stock_Change_Location").dxPopup("hide"); } </text>))
                </div>
            </div>
        </div><!--[Buttons]-->




    }
</div>
@(Html.DevExtreme().Popup().CustomPopup().ID("StockAddLocation").CloseOnOutsideClick(false).ShowTitle(true).Height("auto").Width("auto").DragEnabled(true).Title("New ~ Location").ContentTemplate(@<text> <div id="result_StockAddLocation"> </div> </text>) )

<script>
     var LocList_SP_DG;
     var form = "frm_Stock_Change_Location";
     var MainDeptID;
   
        $(document).ready(async function ()
        {
          
            MainDeptID = "@Model.Store_Id";
          
            await Refresh_location_grid();
            setTimeout(function ()
            {
                Focus_FirstEditable_Field(form);

            }, Timeout500);
        });
        function OnLocationChanged(e)
        {
            var dropdown = $("#Stk_Profile_Location").dxDropDownBox("instance");
            dropdown.close();
            var $dataGrid = $("#LookUp_GetLocations_datagrid");
            if ($dataGrid.length) {
                LookUp_GetLocations_datagrid
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(dropDownBox.option("value"), false);
                if (dataGrid.getSelectedRowsData().length > 0) {
                    var item = dataGrid.getSelectedRowsData()[0];

                }
            }
        }//Mantis bug 0001186 fixed
      

    async function Refresh_location_grid()//Mantis bug 0000470 fixed
    {
        var $LookUp_GetLocations_datagrid_DG = $("#LookUp_GetLocations_datagrid");
        if ($LookUp_GetLocations_datagrid_DG.length) {
            LookUp_GetLocations_datagrid_DG = $LookUp_GetLocations_datagrid_DG.dxDataGrid("instance");
            await LookUp_GetLocations_datagrid_DG.refresh();
        }
    }
        function SP_Add_Location_Click(e)
        {

            if ("@Stock_Profile_Core_AddRights"=="False") { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

            @*IsCoreLocationViewPopup = false;
            $("#popup_frm_CoreLocation_Window").dxPopup("show");
            $("#popup_frm_CoreLocation_Window").dxPopup("instance").option("title", "New ~ CoreLocation");
            $("#CoreLocationresult").html('');
            ShowLoader();
            $("#CoreLocationresult").load("@Url.Action("frm_CoreLocation_window", "CoreLocation", new { @area = "Profile" })?ActionMethod=New", function () {
                HideLoader();

            });
        }*@

            $.ajax({
                type: 'GET',
                url: "/Account/ProfilePaymentVoucher/AddLocations_Check",
                data: { ActionMethod: "New" },
                cache: false,
                async: false,
                success: function (data) {
                    if (data.result) {
                        $.ajax({
                            type: 'GET',
                            url: "/Account/ProfilePaymentVoucher/Frm_Location_Window",
                            data: {
                                ActionMethod: "New",
                                PopupID: "StockAddLocation",
                               // CallingScreen: "UO",
                                Dropdown_DataGrid: "LookUp_GetLocations_datagrid",
                                //PopupID: "StockAddLocation",
                                DropdownRefreshFunction: "Refresh_location_grid"
                        },
                            cache: false,
                            async: false,
                            success: function (data) {
                                ShowLoader();
                                $("#StockAddLocation").dxPopup('show');
                                $("#StockAddLocation").dxPopup("instance").option("title", "New~Location");
                                $("#result_StockAddLocation").html(null);
                                $("#result_StockAddLocation").html(data);
                                HideLoader();

                            }
                        });
                    }
                    else {
                        DevExpress.ui.dialog.alert(data.message, "Error");
                    }
                }
            });
        }
</script>