@using DevExtreme.AspNet.Mvc;
@model IEnumerable<dynamic>
@{
    ViewBag.Title = "Index";
    Layout = null;
    bool Stock_ListRights = (bool)ViewData["Stock_ListRight"];
    bool Stock_Add_Rights = (bool)ViewData["Stock_AddRight"];
    bool Stock_Update_Rights = (bool)ViewData["Stock_UpdateRight"];
    bool Stock_View_Rights = (bool)ViewData["Stock_ViewRight"];
    bool Stock_Delete_Rights = (bool)ViewData["Stock_DeleteRight"];
    bool Stock_Export_Rights = (bool)ViewData["Stock_ExportRight"];
    bool Stock_Report_Rights = (bool)ViewData["Stock_ReportRight"];
    bool Stock_Profile_Core_AddRights = (bool)ViewData["Stock_Profile_Core_AddRight"];
    bool IsSuperuserAuditor = (bool)ViewBag.IsSuperUserOrAuditor;
}
<div id="content" class="col-md-12 report_header_div_main">
    <div class="col-md-4 report_header_div">
        <label class="report_header_label">Stock Profile</label>
    </div>
    @*Buttons*@
    <div class="report_button_div">
        @(Html.DevExtreme().Button()
                                                .ID("StockProfileUnlock")
                                                .Text("Unlock")
                                                .Icon("add")
                                                .Visible(IsSuperuserAuditor)
                                                .Disabled(true)
                                                .OnClick(@<text>
                                                        function () {
                                                        StockProfileUnlockClick();
                                                        }
                                                    </text>)
        )

        @(Html.DevExtreme().Button()
                                                .ID("StockProfileLock")
                                                .Text("Lock")
                                                .Icon("add")
                                                .Visible(IsSuperuserAuditor)
                                                .Disabled(true)
                                                .OnClick(@<text>
                                                        function () {
                                                        StockProfileLockClick();
                                                        }
                                                    </text>)
        )
        @(Html.DevExtreme().Button()
                                                .ID("StockProfileNew")
                                                .Text("New")
                                                .Icon("add")
                                                .Visible(true)
                                                .Disabled(false)
                                                .OnClick(@<text>
                                                        function () {
                                                        StockProfileNewClick();
                                                        }
                                                    </text>)
        )
        @(Html.DevExtreme().Button()
                                                .ID("StockProfileEdit")
                                                .Text("Edit")
                                                .Icon("edit")
                                                .Visible(true)
                                                .Disabled(false)
                                                .OnClick(@<text>
                                                        function () {
                                                        StockProfileOBEditClick();
                                                        }
                                                    </text>)
        )
        @(Html.DevExtreme().Button()
                                                .ID("StockProfileDelete")
                                                .Text("Delete")
                                                .Icon("trash")
                                                .Visible(true)
                                                .Disabled(false)
                                                .OnClick(@<text>
                                                        function () {
                                                        StockProfileDeleteClick();
                                                        }
                                                    </text>)
        )

        @(Html.DevExtreme().Button()
                                                .ID("StockProfileView")
                                                .Text("View")
                                                .Icon(IconID.ViewCustomers16x16devav)
                                                .Icon("doc")
                                                .Visible(true)
                                                .Disabled(false)
                                                .OnClick(@<text>
                                                        function () {
                                                        StockProfileViewClick();
                                                        }
                                                    </text>)
        )
        @(Html.DevExtreme().Button()
                                                                            .ID("StockProfileToggleScrollBar")
                                                                            .Text("Full Data")
                                                                            //.Width(90)
                                                                            .Icon("toolbox")
                                                                            .OnClick(@<text>
                                                                                    function () {
                                                                                    StockProfilechangeMode();
                                                                                    }
                                                                                </text>)
        )
        @(Html.DevExtreme().Button()
                                                                            .ID("StockProfileListPreview")
                                                                            .Text("List Export")
                                                                            .Icon("save")
                                                                            //.Width(75)
                                                                            .OnClick(@<text>
                                                                                    function () {
                                                                                    StockProfileListPreviewClick();
                                                                                    }
                                                                                </text>)
        )

        @(Html.DevExtreme().Button()
                                                                            .ID("StockProfileCLOSE")
                                                                            .Text("Close")
                                                                            .Icon("clear")
                                                                            .OnClick(@<text>
                                                                                    function (){$(".TabPanalMenu-tabs .active span").click()}
                                                                                </text>)

        )
    </div>
</div>
<div class="col-md-12 no-padding">
    <form>
        <div id="StockProfilereloadPartialView" class="parent_table">
            @Html.Partial("Frm_Stock_Info_Grid", Model)
        </div>
    </form>
</div>
<div class="footer-MainBoxdiv full-width-footer">
    @*<div class="col-lg-8 report_footer_small_buttons_div" id="DepositsFooterItem">*@
    <div class="list_footer_left_margin col-md-10">
        <div>
            @*class="footer_new_left"*@
            <div>
                <div class="list_footer_left_margin">
                    <div class="footer-locktext">
                        <div id="ST_Lbl_ActionOn" class="left_footertext_top"></div>
                        <div id="ST_Lbl_ActionBy" class="left_footertext_bottom"></div>
                    </div>
                    @*<div class="footer-locktext">
                            <div id="STLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                        </div>*@
                </div>
                <div class="list_footer_left_margin">
                    <p id="STLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                    <p id="STLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                </div>

            </div>
        </div>
    </div>
    <div class="list_footer_right_margin_consistent col-md-1">
        @*<i id="ST_LockICON" class="fa fa-lock lock_symbol"></i>*@
    </div>
    @*</div>
        <div class="col-lg-4 listing_footer_filter_buttons_div">
        </div>*@
</div>
<div class="col-md-12">
    @*Add/Edit Popup*@
    @(Html.DevExtreme().Popup().CustomPopup()
                                                .ID("StockProfile_report_modal")
                                                .OnShowing("PopupOnShowing")
                                                .Title("Stock Profile List Preview")
                                                .FullScreen(false)
                                                .MaxWidth(250)
                                                .Height("auto")
                                                .ShowCloseButton(true)
                                                .ContentTemplate(@<text>
                                                    <div id="StockProfile_report_modal_result" class="export_popup">
                                                    </div>
                                                </text>)
    )

    @(Html.DevExtreme().Popup().CustomPopup()
                                        .ID("popup_frm_StockProfile_Window_Close")
                                        .OnShowing("PopupOnShowing")
                                        .Title("Stock")
                                        .MaxHeight(460)
                                        .MaxWidth(750)
                                        .ContentTemplate( @<text>
                                            <div id='popup_frm_StockProfile_Window_Close_result'>
                                            </div>
                                        </text>)
    )
    @(Html.DevExtreme().Popup().CustomPopup()
                                        .ID("popup_frm_Stock_Change_Location")
                                        .OnShowing("PopupOnShowing")
                                        .Title("Stock")
                                        .Height(333)
                                        .Width(760)
                                        .ContentTemplate( @<text>
                                            <div id='popup_frm_Stock_Change_Location_result'>
                                            </div>
                                        </text>)
    )

    @(Html.DevExtreme().Popup().CustomPopup()
                                                .ID("popup_frm_StockProfile_Window")
                                                .Title("StockProfile")
                                                .OnShowing("PopupOnShowing")
                                                .DragEnabled(true)
                                                .Height("58%")
                                                .Width(820)
                                                .ShowCloseButton(true)
                                                .ContentTemplate(@<text>
                                                    <div id="popup_frm_StockProfile_Window_result">
                                                    </div>
                                                </text>))

@(Html.DevExtreme().Popup().CustomPopup().ID("StockAddLocation").CloseOnOutsideClick(false).ShowTitle(true).Height("auto").Width("auto").DragEnabled(true).Title("New ~ Location").ContentTemplate(@<text> <div id="result_StockAddLocation"> </div> </text>))

@*.OnHiding(@<text>
            function () {

            var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
            result.done(function (dialogResult) {
            if(dialogResult){
            $("#popup_frm_StockProfile_Window").dxPopup("hide");
            }else
            {
            $("#popup_frm_StockProfile_Window").dxPopup("show");
            }
            });

            }
    </text>)*@
    

    @* Testing MVC Popup here *@

    @* Testing ends here *@

</div>

@*Javascript Events*@
<script type="text/javascript">
    var StockProfile_ShowHorizontalBar = 0;
    var FullData;
    var IsSFNewPopup = false;
    var IsSucessPopup = false;
    var IsViewPopup = false;
    var StockNewright;
    var StockEditright;
    var StockDeleteright;
    var StockViewright;
    var StockExportright;
    var StockAddLocationright;
    var isStockGridRefresh = false;
    $(document).ready(function () {
      
        //$("#StockProfileListGrid").hover(function () {
        //    StockProfileListGrid.Focus()
        //})
        HideLoader();
        
        StockNewright = ("@Stock_Add_Rights" == "True") ? true : false;
        StockEditright = ("@Stock_Update_Rights" == "True") ? true : false;
        StockViewright = ("@Stock_View_Rights" == "True") ? true : false;
        StockDeleteright = ("@Stock_Delete_Rights" == "True") ? true : false;
        StockExportright = ("@Stock_Export_Rights" == "True") ? true : false;
        StockAddLocationright = ("@Stock_Profile_Core_AddRights" == "True") ? true : false;
        if (StockNewright != true) {
            $("#StockProfileNew").hide();
        }
        if (StockEditright != true) {
            $("#StockProfileEdit").hide();
        }
        if (StockViewright != true) {
            $("#StockProfileView").hide();
        }
        if (StockDeleteright != true) {
            $("#StockProfileDelete").hide();
        }
        if (StockExportright != true) {
            $("#StockProfileListPreview").hide();
        }//Mantis bug 0000367 fixed
    });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Stock/Stock/SessionClear",
            cache: false
        });
        DeleteCookie("ProfCookie");
        $.ajax({
            type: 'GET',
            url: "/Stock/Stock/InfoSessionclear",
            cache: false
        });
    });
function StockprofileOnInit(s, e) {
    StockprofileAdjustSize();
    ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
        StockprofileAdjustSize();
    });
}
    function StockprofileGrid_BeginCallBack(s, e) {
        e.customArgs["command"] = e.command;
        if (e.command == "REFRESH") {
            isStockGridRefresh = true;
        }

        e.customArgs["ShowHorizontalBar"] = StockProfile_ShowHorizontalBar;
    }
    


function StockprofileAdjustSize() {
    var height = (document.documentElement.clientHeight * 90) / 100;
    StockProfileListGrid.SetHeight(height);
    StockProfileListGrid.SetHeight(height);
}
function StockProfilechangeMode() {
    ShowLoader();
    if (StockProfile_ShowHorizontalBar == 0) {
        StockProfile_ShowHorizontalBar = 1;
        $("#StockProfileToggleScrollBar").find("span").text("Default Data");
        // $("#StockProfileToggleScrollBar").width(110);
    }
    else {
        StockProfile_ShowHorizontalBar = 0;
        $("#StockProfileToggleScrollBar").find("span").text("Full Data");
        // $("#StockProfileToggleScrollBar").width(80);
    }
    $.ajax({        
        url: '@Url.Action("Frm_Stock_Info_Grid", "Stock")',    
        type: "GET",
        data: { ShowHorizontalBar: StockProfile_ShowHorizontalBar },
        success: function (res) {
        $("#StockProfilereloadPartialView").html(res);
        }
    });
    HideLoader();
}


function StockprofiledblclickEdit(s, e) {
//var key = s.GetRowKey(s.GetFocusedRowIndex());
//OpeningbalancesListGrid.GetValuesOnCustomCallback({ key: key }, FDOnGetRowValues);
//if (FDID != null || FDID == "" || FDID == undefined)
//    OnEditClick();
    }

    function Stock_ProfileContextMenuInit(s, e) {
    //    if (e.objectType == "row") {
    //        debugger;
    //        var menuEditItemSelected = e.menu.GetItemByName("ChangeLocation");
    //        //menuEditItemSelected.SetVisible(StockEditright);
    //    }
    }//Mantis bug 0000367 fixed

function StockprofileContextMenuFunction(s, e) {
if (e.item.name == 'New') {
    StockProfileNewClick();
}
if (e.item.name == 'Close') {
    btnCloseActiveTab();
}
else if (e.item.name == 'Edit') {
    StockProfileOBEditClick();
}
else if (e.item.name == 'ChangeLocation') {
    OnChangeLocation();
}
else if (e.item.name == 'Delete') {
    StockProfileDeleteClick();
}
else if (e.item.name == 'View') {
    StockProfileViewClick();
}
else if (e.item.name == 'ListPreview') {
    StockProfileListPreviewClick();
}
else if (e.item.name == 'Lock') {
    OnLockClick();
}
else if (e.item.name == 'UnLock') {
    StockProfileUnlockClick();
}
else if (e.item.name == 'Refresh') {
    StockProfileListGrid.Refresh();
}
}
function StockProfileListPreviewClick() {
if (!StockExportright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

$("#StockProfile_report_modal").dxPopup("show");
$("#StockProfile_report_modal").dxPopup("instance").option("title", "Export Option");
$("#StockProfile_report_modal").html('');
ShowLoader();
$("#StockProfile_report_modal_result").load("@Url.Action("Frm_Export_Options", "Stock", new { @area = "Stock" })", function () {
        HideLoader();
    });
}
var REC_ID;
var Store_Name;
var Item_Name;
var Serial_Lot_No;
var Item_Type;
var Item_Code;
var Make;
var Model;
var Warranty;
var Unit;
var Opening_Qty;
var Opening_Value;
var Date_of_Purchase;
var Location;
var Current_Qty;
var Current_Value;
var Remarks;
var REC_ADD_ON;
var REC_ADD_BY;
var REC_EDIT_ON;
var REC_EDIT_BY;
var REC_STATUS;
var REC_STATUS_ON;
var REC_STATUS_BY;
var Stock_TR_ID;
    var recYearID;
    var Store_ID;
function StockOnGridFocusedRowChanged(s, e) {
    var key = s.GetRowKey(s.GetFocusedRowIndex());
    StockProfileListGrid.GetValuesOnCustomCallback({ key: key }, StockOnGetRowValues);
}

    function StockOnGetRowValues(FDData) {     
        FullData = FDData;    
    var values = FDData.split("![");
    REC_ID = values[0];
    Store_Name = values[1];
    Item_Name = values[2];
    Serial_Lot_No = values[3];
    Item_Type = values[4];
    Item_Code = values[5];
    Make = values[6];
    Model = values[7];
    Warranty = values[8];
    Unit = values[9];
    Opening_Qty = values[10];
    Opening_Value = values[11];
    Date_of_Purchase = values[12];
    Location = values[13];
    Current_Qty = values[14];
    Current_Value = values[15];
    Remarks = values[16];
    REC_ADD_ON = values[17];
    REC_ADD_BY = values[18];
    REC_EDIT_ON = values[19];
    REC_EDIT_BY = values[20];
    REC_STATUS = values[21];
    REC_STATUS_ON = values[22];
    REC_STATUS_BY = values[23];
    Stock_TR_ID = values[25];
    recYearID = values[26];
     Store_ID = values[27];
    StockProfileUpdateFooterDetail(REC_ID, REC_ADD_ON, REC_ADD_BY, REC_EDIT_ON,
        REC_EDIT_BY, REC_STATUS, REC_STATUS_ON, REC_STATUS_BY);
}

function StockProfileUpdateFooterDetail(REC_ID, REC_ADD_ON, REC_ADD_BY, REC_EDIT_ON, REC_EDIT_BY, REC_STATUS, REC_STATUS_ON, REC_STATUS_BY) {

    var Status = "";
    var Lbl_Status = "";
    var Lbl_StatusBy = "";
    var Pic_Status = "";
    var Lbl_Create = "";
    var Lbl_Modify = "";
    var Lbl_Status_Color = "";
    var Add_Date = "";
    var Add_By = "";
    var Status_On = "";
    var Status_By = "";
    var StatusStr = "Completed";
    var Lbl_StatusOn = "";
    var Lbl_StatusBy = "";

    Status = REC_STATUS;

    Add_Date = REC_ADD_ON;
    Add_By = REC_ADD_BY;
    Status_On = REC_STATUS_ON;
    Status_By = REC_STATUS_BY;

    if (Status_On) {
        Lbl_StatusOn = StatusStr + " On: " + Status_On;
        Lbl_StatusBy = StatusStr + " By: " + Status_By;
    }
    else {
        Lbl_StatusOn = StatusStr + " On: " + "?";
        Lbl_StatusBy = StatusStr + " By: " + Status_By;
    }

    if (Add_Date) {
        Lbl_Create = "Add On: " + Add_Date + ", By: " + Add_By;
    }
    else {
        Lbl_Create = "Add On: " + "?, By: " + Add_By;
    }

    var Edit_Date = "";
    var Edit_By = "";

    Edit_Date = REC_EDIT_ON;
    Edit_By = REC_EDIT_BY;

    if (Edit_Date) {
        Lbl_Modify = "Edit On: " + Edit_Date + ", By: " + Edit_By;
    }
    else {
        Lbl_Modify = "Edit On: " + "?, By: " + Edit_By;
    }
    $('#ST_Lbl_ActionOn').text(Lbl_StatusOn)
    $('#ST_Lbl_ActionBy').text(Lbl_StatusBy);
    $('#STLbl_Create').text(Lbl_Create);
    $('#STLbl_Modify').text(Lbl_Modify);
    if (Lbl_Status_Color != "") {
        $('#STLbl_Status').css('color', Lbl_Status_Color);
    }
    if (Pic_Status != "") {
        $('#ST_LockICON').css('class', Pic_Status);
    }
}

//New Click function Start

function StockProfileNewClick() {
    IsSFNewPopup = true;
    IsViewPopup = false;
    
    if (!StockNewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

    $.ajax({
        type: 'GET',
        url: "/Stock/Stock/IsFinalAuditCompleted",
        data: {},
        cache: false,
        success: function (StockResult) {
            if (StockResult.result == "true" || StockResult.result == true) {
                DevExpress.ui.dialog.alert(StockResult.Message, 'alert!');
            }
            else
            {
                ShowLoader();              
                OpenPopup("popup_frm_StockProfile_Window", "New ~ Stock Item", "@Url.Action("Frm_Stock_Window", "Stock", new { @area = "Stock" })?ActionMethod=New", "auto", 1150, false, null);
                HideLoader();
            }
        }
    });
}
//New Click function End

//Edit Click function Start
    function StockProfileOBEditClick() {
        if (!StockEditright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

        IsSFNewPopup = false;
        IsViewPopup = false;
        if (!REC_ID) {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Stock/Stock/DataNavigation",
            data: { ActionMethod: "Edit", REC_ID: REC_ID, REC_STATUS: REC_STATUS, Stock_TR_ID: Stock_TR_ID, recYearID: recYearID },
            cache: false,
            success: function (OB_Edit_ButtonClick_result) {
                if (OB_Edit_ButtonClick_result.result == "true" || OB_Edit_ButtonClick_result.result == true)
                {
                    ShowLoader();
                    OpenPopup("popup_frm_StockProfile_Window", "Edit ~ Stock Item","@Url.Action("Frm_Stock_Window", "Stock", new { @area = "Stock" })?ActionMethod=Edit&recId=" + REC_ID, "auto", 1150, false, null);
                    HideLoader();
                }
                else {
                    DevExpress.ui.dialog.alert(OB_Edit_ButtonClick_result.Message, 'Warning!');
                    StockProfileListGrid.Refresh();
                }
            }
        });
    }
    function StockProfileDeleteClick()
    {     
if (!StockDeleteright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

IsSFNewPopup = false;
IsViewPopup = false;
if (REC_ID == 'undefined' || REC_ID == undefined) {
DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
return;
}
ShowLoader();
$.ajax({
type: 'GET',
url: "/Stock/Stock/DataNavigation",
data: { ActionMethod: "Delete", REC_ID: REC_ID, REC_STATUS: REC_STATUS, Stock_TR_ID: Stock_TR_ID, recYearID: recYearID },
cache: false,
success: function (OB_Edit_ButtonClick_result) {
if (OB_Edit_ButtonClick_result.result == "true" || OB_Edit_ButtonClick_result.result == true) {

       ShowLoader();              
                OpenPopup("popup_frm_StockProfile_Window", "Delete ~ Stock Item","@Url.Action("Frm_Stock_Window", "Stock", new { @area = "Stock" })?ActionMethod=Delete&recId=" + REC_ID, "auto", 1150, false, null);
                HideLoader();
}
else {
    DevExpress.ui.dialog.alert(OB_Edit_ButtonClick_result.Message, 'Warning!');
    StockProfileListGrid.Refresh();
}
}
});
}
    function StockProfileViewClick()
    {
if (!StockViewright) { DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return; }

IsSFNewPopup = false;
IsViewPopup = false;
if (REC_ID == 'undefined' || REC_ID == undefined) {
DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
return;
        }
         ShowLoader();              
                OpenPopup("popup_frm_StockProfile_Window", "View ~ Stock Item","@Url.Action("Frm_Stock_Window", "Stock", new { @area = "Stock" })?ActionMethod=View&recId=" + REC_ID, "auto", 1150, false, null);
                HideLoader();

}
    function StockProfileLockClick()
    {
    IsSFNewPopup = false;
    IsViewPopup = false;
    if (REC_ID == 'undefined' || REC_ID == undefined) {
        DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
        return;
    }
    $.ajax({
        type: 'GET',
        url: "/Stock/Stock/DataNavigation",
        data: { ActionMethod: "LOCKED", REC_ID: REC_ID, REC_STATUS: REC_STATUS },
        cache: false,
        success: function (result) {
            //if (Property_Locked_result.Message == "Already Locked Entries can\'t be Re-Locked...!") {
            DevExpress.ui.dialog.alert(result.Message, "Inform..");
            //}
        }
    });
}
    function StockProfileUnlockClick()
    {
    IsSFNewPopup = false;
    IsViewPopup = false;
    if (REC_ID == 'undefined' || REC_ID == undefined) {
        DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
        return;
    }
    $.ajax({
        type: 'GET',
        url: "/Stock/Stock/DataNavigation",
        data: { ActionMethod: "UNLOCKED", REC_ID: REC_ID, REC_STATUS: REC_STATUS },
        cache: false,
        success: function (result) {
            DevExpress.ui.dialog.alert(result.Message, "Inform..");
        }
    });
}
//Edit Click function Start


function StockAjaxSuccessForm(data) {
    HideLoader();
    if (data.result == false) {
        DevExpress.ui.dialog.alert(data.Message, "Error");
    }
    else {
        IsSucessPopup = true;
        var StackSubmitSuccess = DevExpress.ui.dialog.alert(data.Message, "Stock");
        $("#popup_frm_StockProfile_Window").dxPopup("hide");
        StockProfileListGrid.Refresh();
        IsSucessPopup = false;
        StackSubmitSuccess.done(function (alertResult) {
            if (alertResult) {
                if (IsSFNewPopup == true) {
                    var addmoreOBresult = DevExpress.ui.dialog.confirm("Add More Entry...?", "Stock New");
                    addmoreOBresult.done(function (dialogResult) {
                        if (dialogResult) {
                            StockProfileNewClick();
                        }
                    });
                }
            }
        });
    }
}
//Drop down change events
    function OnChangeLocation()
    {
        if (!StockEditright)
        {
            DevExpress.ui.dialog.alert('Not Allowed', 'No Rights'); return;
        }
        $("#popup_frm_Stock_Change_Location").dxPopup("show")
        $("#popup_frm_Stock_Change_Location").dxPopup("instance").option("title", "Change ~ Location");
        $("#popup_frm_Stock_Change_Location").dxPopup("instance").option("height", "auto");
        ShowLoader();
        $("#popup_frm_Stock_Change_Location_result").html('');
        $("#popup_frm_Stock_Change_Location_result").load("@Url.Action("Frm_Stock_Change_Location", "Stock", new { @area = "Stock" })?ActionMethod=New" + "&FData=" + encodeURIComponent(FullData), function () {       
            HideLoader();
        });       
    }
    function Frm_Stock_Change_Location_Success(result)
    {
    HideLoader();
    if (result.result == false) {
        DevExpress.ui.dialog.alert(result.Message, "Error");
    }
    else {
        //IsStockSuccesspopup = true;
        var lbSubmitSuccess = DevExpress.ui.dialog.alert(result.Message, "Success");
        $("#popup_frm_Stock_Change_Location").dxPopup("hide");
    }
}
</script>
