<div class="AssetInsValReport_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress;
    @using DevExpress.Web.Mvc;

    @model IEnumerable<dynamic>
    @{
        ViewBag.Title = "Index";
        Layout = null;

        bool AssetInsValReport_ExportRight = (bool)ViewData["AssetInsValReport_ExportRight"];
    }

    <div id="content" class="col-md-12 report_header_div_main">
        <div class="col-md-4 report_header_div">
            <label class="report_header_label">Asset Insurance Value Details</label>
        </div>
        @*Buttons*@
        <div class="report_button_div">
            @(Html.DevExtreme().Button()
                                        .ID("AssetInsValReportsModelListPreview")
                                        .Text("Export")
                                        .Icon("save")
                                        .Visible(true)
                                         .Width(80)
                                        .OnClick(@<text>
                                            function () {
                                            OnAssetInsValReportListPreviewClick();
                                            }
                                        </text>)
        )
            @(Html.DevExtreme().Button()
                                        .ID("AssetInsValReportModelCLOSE")
                                        .Text("Close")
                                        .Icon("clear")
                                        .OnClick(@<text>
                                            function (){
                                            $(".TabPanalMenu-tabs .active span").click()
                                            }
                                        </text>)

        )
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <form>
            <div id="AssetInsValReportreloadPartialView" class="parent_table">
                @Html.Partial("Frm_Asset_Breakup_Info_Grid", Model)
            </div>
        </form>
    </div>

    @*<div class="footer-MainBoxdiv full-width-footer">
            <div class="col-lg-4 footer_smallbtns report_footer_small_buttons_div" id="AssetInsValReportFooterItem">
                @(Html.DevExtreme().Button()
                                                .ID("btnAssetInsValReportShowColumnChooser")
                                                .ElementAttr("class", "column-chooser")
                                                .Icon("add")
                                                .Hint("Show Column Chooser")
                                                .OnClick(@<text>
                                                    function () {
                                                    AssetInsValReportShowColumnChooser();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                                .ID("btnAssetInsValReportShowGroupPanel")
                                                .Icon("spinup")
                                                .Hint("Show Group Box")
                                                .OnClick(@<text>
                                                    function () {
                                                    AssetInsValReportShowGroupPanel();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                                .ID("AssetInsValReportGroupColumn")
                                                .Icon("fa fa-forward fa-rotate-270")
                                                .Hint("Show Grouped column")
                                                .OnClick(@<text>
                                                    function () {
                                                    OnAssetInsValReportGroupClick();
                                                    }
                                                </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("AssetInsValReportShowFooter")
                                            .Icon("fa fa-fast-forward fa-rotate-270")
                                            .Hint("Show Footer Bar")
                                            .OnClick(@<text>
                                                function () {
                                                SetAssetInsValReportFooterVisible();
                                                }
                                            </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("AssetInsValReportShowGroupFooter")
                                            .Icon("fa fa-minus")
                                            .Hint("Show Group Footer Bar")
                                            .OnClick(@<text>
                                                function () {
                                                SetAssetInsValReportGroupPanelFooterVisible();
                                                }
                                            </text>)
                )

                @(Html.DevExtreme().Button()
                                            .ID("AssetInsValReportCreateFilterButton")
                                            .Icon("todo")
                                            .Hint("Open Filter Builder")
                                            .OnClick(@<text>
                                                function () {
                                                AssetInsValReportCreateFilterClick();
                                                }
                                            </text>)
                )
            </div>

            <div class="col-lg-8 report_footer_filter_buttons_div setFooterItem">
                <div class="footer-inner">
                    <div class="filter_main" style="float:right">
                            @(Html.DevExtreme().Button()
                                                .ID("AssetInsValReportSearch")
                                                .Text("Find")
                                                .Icon("find")
                                                .Hint("Show search")
                                                .ElementAttr(new Dictionary<string, object>() { { "class", "float-right find_btn" } })
                                                .OnClick(@<text>
                                                    function () {
                                                    OnAssetInsValReportSearchClick();
                                                    }
                                                </text>))

                            @(Html.DevExtreme().Button()
                                                .ID("AssetInsValReportFind")
                                                .Text("Filter")
                                                .Icon("find")
                                                .Hint("Show filter")
                                                .ElementAttr(new Dictionary<string, object>() { { "class", "float-right filter_btn" } })
                                                .OnClick(@<text>
                                                    function () {
                                                    OnAssetInsValReportFilterClick();
                                                    }
                                                </text>)
                            )
                        </div>
                    <div   style="float:right">
                        @Html.DevExpress().TrackBar(
                           tb =>
                           {
                               tb.Name = "AssetInsValReportTrackBar";
                               tb.Properties.ScalePosition = ScalePosition.LeftOrTop;
                               tb.Properties.ValueToolTipPosition = ValueToolTipPosition.RightOrBottom;
                               tb.Properties.ValueType = typeof(string);
                               tb.Width = 150;
                               tb.Position = 2;
                               tb.Properties.ClientSideEvents.PositionChanged = "AssetInsValReportTrackBarPositionChanged";
                               tb.ControlStyle.CssClass = "float-right";
                               tb.Properties.ScalePosition = ScalePosition.None;
                           }
                       ).GetHtml()
                    </div>
                </div>
            </div>
        </div>*@

    <div class="col-md-12">
        @*Add/Edit Popup*@
        @(Html.DevExtreme().Popup().CustomPopup()
                .ID("AssetInsValReport_report_modal")
                 .OnShowing("PopupOnShowing")
                .Title("AssetInsVal Report Preview")
                .FullScreen(false)
                .MaxWidth(125)
                .Height("auto")
                .ShowCloseButton(true)
                .ContentTemplate(@<text>
                    <div id='AssetInsValReport_report_modal_result'>
                    </div>
                </text>)
    )

    </div>

    @*Javascript Events*@
    <script type="text/javascript">
    var IsAssetInsValReportSucessPopup = false;
    var IsAssetInsValReportViewPopup = false;
    var AssetInsValReportSearchVisible = true;
    var AssetInsValReportFilterVisible = true;
    var AssetInsValReportGroupedColumnsVisible = false;
    var AssetInsValReportGroupPanelFooterVisible = true;
    var AssetInsValReportFooterVisible = true;
    var AssetInsValReportGroupPanelVisible = true;

    $(document).ready(function () {
        if ("@AssetInsValReport_ExportRight" == "False")
        {
	        $("#AssetInsValReportsModelListPreview").hide();
        }
        IsAssetInsValReportSucessPopup = false;
        IsAssetInsValReportViewPopup = false;
        SetAssetInsValReportGroupPanelFooterVisible();
        $("#AssetInsValReportListGrid").hover(function () {
            AssetInsValReportListGrid.Focus()
        })
    });
    $(".TabPanalMenu-tabs .active span").on("click", function () {
        $.ajax({
            type: 'GET',
            url: "/Reports/AssetInsValReport/SessionClear",
            cache: false
        });
        ClearAllReferences_AssetInsValReport();
    });
    function ClearAllReferences_AssetInsValReport()
    {
        IsAssetInsValReportSucessPopup = null;
        IsAssetInsValReportViewPopup = null;
        AssetInsValReportSearchVisible = null;
        AssetInsValReportFilterVisible = null;
        AssetInsValReportGroupedColumnsVisible = null;
        AssetInsValReportGroupPanelFooterVisible = null;
        AssetInsValReportFooterVisible = null;
        AssetInsValReportGroupPanelVisible = null;

        ClearAllReferences("AssetInsValReport_ClearReferences");
    }

    function AssetInsValOnInit(s, e) {
        AssetInsValAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            AssetInsValAdjustSize();
        });
    }

    function OnEndCallback(s, e) {
        AssetInsValAdjustSize();
    }

    function AssetInsValAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try{AssetInsValReportListGrid.SetHeight(height);} catch (err) { }
    }

    function UpdateAssetInsValReportCustomizationWindowVisibility() {
        if (AssetInsValReportListGrid.IsCustomizationWindowVisible()) {
            AssetInsValReportListGrid.HideCustomizationWindow();
            $("#btnAssetInsValReportShowColumnChooser").attr("title", "Show Column Chooser ")
        }
        else {
            AssetInsValReportListGrid.ShowCustomizationWindow();
            $("#btnAssetInsValReportShowColumnChooser").attr("title", "Hide Column Chooser ")
        }

    }

    function CloseColumnChooser() {

        if (!AssetInsValReportListGrid.IsCustomizationWindowVisible()) {
            $("#btnAssetInsValReportShowColumnChooser").find("i").toggleClass("dx-icon-add").toggleClass("dx-icon-close");
            $("#btnAssetInsValReportShowColumnChooser").attr("title", "Show Column Chooser ");
        }
    }

    function AssetInsValReportTrackBarPositionChanged() {
        var AssetInsValReportcurrentZoom = 1.0;
        var AssetInsValReporttrackBarCurrentValue = AssetInsValReportTrackBar.GetValue()
        if (AssetInsValReporttrackBarCurrentValue != 0) {
            AssetInsValReportcurrentZoom += AssetInsValReporttrackBarCurrentValue / 100;
        }
        $('#AssetInsValReportreloadPartialView').animate({ 'zoom': AssetInsValReportcurrentZoom }, 'slow');
    }

    $("#AssetInsValReportTrackBar").click(function (evt) {

    });

    function OnAssetInsValReportListPreviewClick() {
        if ("@AssetInsValReport_ExportRight" == "False")
        {
	        DevExpress.ui.dialog.alert("Not Allowed!!", "No Rights");
	        return;
        }

        OpenPopup("AssetInsValReport_report_modal", "Export Option", "@Url.Action("Frm_Export_Options", "AssetInsValReport", new { @area = "Reports" })", "auto", "auto", false, null);
    }

    function AssetInsValContextMenuFunction(s, e) {
        if (e.item.name == 'Close') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'ListPreview') {
            OnAssetInsValReportListPreviewClick();
        }
        else if (e.item.name == 'Refresh') {
            AssetInsValReportListGrid.Refresh();
        }
    }

    function AssetInsValReportShowColumnChooser() {
        UpdateAssetInsValReportCustomizationWindowVisibility();
    }

    function AssetInsValReportShowGroupPanel() {
        AssetInsValReportGroupPanelVisibility();
    }

    function OnAssetInsValReportGroupClick() {
        if ($('[id^=AssetInsValReportListGrid_groupcol').length != 0) {
            AssetInsValReportListGrid.PerformCallback({ 'FilterVisible': AssetInsValReportFilterVisible, "SearchVisible": AssetInsValReportSearchVisible, "ShowGroupedColumns": !AssetInsValReportGroupedColumnsVisible });
            $("#AssetInsValReportGroupColumn").find("i").toggleClass("fa fa-forward fa-rotate-270").toggleClass("fa fa-backward fa-rotate-270");
            AssetInsValReportGroupedColumnsVisible = !AssetInsValReportGroupedColumnsVisible;
            if (!AssetInsValReportGroupedColumnsVisible) {
                $("#AssetInsValReportGroupColumn").attr("title", "Show Grouped Column")
            } else {
                $("#AssetInsValReportGroupColumn").attr("title", "Hide Grouped Column")
            }
        }
    }

    function OnAssetInsValReportSearchClick() {
        AssetInsValReportListGrid.PerformCallback({ 'FilterVisible': AssetInsValReportFilterVisible, "SearchVisible": AssetInsValReportSearchVisible, "ShowGroupedColumns": !AssetInsValReportGroupedColumnsVisible });
        if (AssetInsValReportSearchVisible) {
            AssetInsValReportListGrid.contextMenuHelper.ContextMenuShowSearchPanel(1);
            $("#AssetInsValReportSearch").attr("title", "Hide Search ")
        }
        else {
            AssetInsValReportListGrid.contextMenuHelper.ContextMenuShowSearchPanel(0);
            $("#AssetInsValReportSearch").attr("title", "Show Search ")
        }
        AssetInsValReportSearchVisible = !AssetInsValReportSearchVisible;
    }

    function OnAssetInsValReportFilterClick() {
        AssetInsValReportListGrid.PerformCallback({ 'FilterVisible': AssetInsValReportFilterVisible, "SearchVisible": AssetInsValReportSearchVisible, "ShowGroupedColumns": !AssetInsValReportGroupedColumnsVisible });
        if (AssetInsValReportFilterVisible) {
            $("#AssetInsValReportFind").attr("title", "Hide Filter ")
            AssetInsValReportListGrid.contextMenuHelper.ContextMenuShowFilterRow(1);
        }
        else {
            $("#AssetInsValReportFind").attr("title", "Show Filter ")
            AssetInsValReportListGrid.contextMenuHelper.ContextMenuShowFilterRow(0);
        }
        AssetInsValReportFilterVisible = !AssetInsValReportFilterVisible;
    }

    function OnGridAssetInsValReportListGrid_EndCallback() {
        if (!AssetInsValReportGroupPanelFooterVisible)
        { $('#AssetInsValReportListGrid .dxgvGroupFooter_MetropolisBlue').show(); }
        else {
            $('#AssetInsValReportListGrid .dxgvGroupFooter_MetropolisBlue').hide();
        }
    }

    function AssetInsValReportGroupPanelVisibility() {
        if (AssetInsValReportGroupPanelVisible) {
            if (AssetInsValReportListGrid.contextMenuHelper == undefined)
            { AssetInsValReportListGrid.Refresh(); }
            $("#btnAssetInsValReportShowGroupPanel").attr("title", "Hide Group box ")
            AssetInsValReportListGrid.contextMenuHelper.ContextMenuShowGroupPanel(1)
        }
        else {
            $("#btnAssetInsValReportShowGroupPanel").attr("title", "Show Group box ")
            AssetInsValReportListGrid.contextMenuHelper.ContextMenuShowGroupPanel(0);
        }
        AssetInsValReportGroupPanelVisible = !AssetInsValReportGroupPanelVisible;

        $("#btnAssetInsValReportShowGroupPanel").find("i").toggleClass("dx-icon-spinup").toggleClass("dx-icon-spindown");
    }

    function SetAssetInsValReportGroupPanelFooterVisible() {
        if (AssetInsValReportGroupPanelFooterVisible) {
            $("#AssetInsValReportShowGroupFooter").attr("title", "Hide Group  Footer Bar");
            $('#AssetInsValReportListGrid .dxgvGroupFooter_MetropolisBlue').show();
        }
        else {
            $("#AssetInsValReportShowGroupFooter").attr("title", "Show Group Footer Bar");
            $('#AssetInsValReportListGrid .dxgvGroupFooter_MetropolisBlue').hide();
        }
        AssetInsValReportGroupPanelFooterVisible = !AssetInsValReportGroupPanelFooterVisible;
    }

    function SetAssetInsValReportFooterVisible() {
        $("#AssetInsValReportShowFooter").find("i").toggleClass("fa fa-fast-forward fa-rotate-270").toggleClass("fa fa-fast-backward fa-rotate-270");
        if (AssetInsValReportFooterVisible) {
            $("#AssetInsValReportShowFooter").attr("title", "Hide Footer Bar");
            AssetInsValReportListGrid.contextMenuHelper.ContextMenuShowFooter(1);
        }
        else {
            $("#AssetInsValReportShowFooter").attr("title", "Show Footer Bar");
            AssetInsValReportListGrid.contextMenuHelper.ContextMenuShowFooter(0);
        }
        AssetInsValReportFooterVisible = !AssetInsValReportFooterVisible;
    }

    function AssetInsValReportCreateFilterClick() {
        ASPx.GVShowFilterControl('AssetInsValReportListGrid');
    }


    </script>

</div>