<div class="AuditAction_WindowScreen_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Help.Models.ActionItems
    <link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">

    @{
        var PopupId = ViewBag.PopupID;
        var PostSuccessFunction = ViewBag.PostSuccessFunction;
        bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
    }
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
    }
    <style>
        .control-label {
            text-align: left !important;
        }

        textarea#Txt_Detail_AI {
            height: auto !important;
            min-height: 130px !important;
            padding: 0px 0px 0px 0px !important;
        }

        textarea#Txt_Centre_Remarks_AI {
            height: auto !important;
            min-height: 30px !important;
            padding: 0px 0px 0px 0px !important;
        }

        textarea#Txt_Closure_Remarks_AI {
            height: auto !important;
            min-height: 75px !important;
            padding: 0px 0px 0px 0px !important;
        }
    </style>

    <div id="Frm_Action_Items_Window_Content">
        @using (Ajax.BeginForm("Frm_Action_Items_Window", "Help",
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "Frm_Action_Items_Window_Content",
                            InsertionMode = InsertionMode.InsertAfter,
                            OnBegin = "AjaxBeginFormPost",
                            OnSuccess = String.Format("{0}", PostSuccessFunction)
                        },
        new
        {
            id = "ActionItemsvalidationForm",
            @class = "edit_form"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.xID)
            @Html.HiddenFor(x => x.LastEditedOn)
            @Html.HiddenFor(x => x.OrgRecID)
            @Html.HiddenFor(x => x.MarkClosed)
            @Html.HiddenFor(x => x.RefRecID)
            @Html.HiddenFor(x => x.RefScreen)
            @Html.HiddenFor(x => x.RefTable)
            @Html.HiddenFor(x => x.GridToBeRefreshed)

            var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();


            using (Html.DevExtreme().ValidationGroup("Audit_Validation"))/*Redmine Bug #133238 fixed*/
            {
                <div class="full-width-header-bg">
                    <div class="row">

                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i> Audit Actions</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are Mandatory</h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                    </div>
                </div><!--[Header]-->
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-12" style="font-weight:bold; color:#2712d7;">For Conversations regarding required actions, Please send email to connectone@bkivv.org</div>
                        </div>
                    </div>
                </div><!--[Row 1]-->
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-field">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3 pll">
                                        @Html.LabelFor(model => model.Txt_Status_AI, htmlAttributes: new { @class = "control-label disabletxt" })
                                    </div>
                                    <div class="col-sm-9 prm">
                                        @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Status_AI").Name("Txt_Status_AI").Value("OPEN").ReadOnly(true).Disabled(IsVisible) )

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-field">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-sm-3 pll">
                                        @Html.LabelFor(model => model.Cmb_Type_AI, htmlAttributes: new { @class = "control-label  text-red", @id = "LayoutControlItem7_AI" })
                                    </div>
                                    <div class="col-sm-9 prm">
                                        @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmb_Type_AI").Name("Cmb_Type_AI").ShowClearButton(false).DataSource(new[] { "Query", "Center Action" }).Value("Query").ReadOnly(IsVisible).OnValueChanged("Cmb_Type_SelectedIndexChanged_AI") )
                                        @Html.ValidationMessageFor(model => model.Cmb_Type_AI, "", new { @class = "text-red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid ">
                            <div class="col-sm-2 pll">
                                @Html.LabelFor(model => model.Cmd_Title_AI, htmlAttributes: new { @class = "control-label text-red", @id = "LayoutControlItem15_AI" })
                            </div>
                            <div class="col-sm-10 prm">
                                @(Html.DevExtreme().SelectBox().CustomSelectBox().AcceptCustomValue(true).OnCustomItemCreating("TitleCustomItemCreating").ID("Cmd_Title_AI").Name("Cmd_Title_AI").Placeholder("Enter or Select Title...")
                                        .DataSource(ViewBag.Titledatalist).ValueExpr("Name").DisplayExpr("Name").ReadOnly(IsVisible))@*Redmine Bug #133229 fixed*@

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-field">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-12 pll ">
                                                @Html.LabelFor(model => model.Txt_Detail_AI, htmlAttributes: new { @class = "control-label", @id = "LayoutControlItem1_AI" })
                                            </div>
                                            <div class="col-sm-12 prm">
                                                @(Html.DevExtreme().TextArea().ID("Txt_Detail_AI").Name("Txt_Detail_AI").ReadOnly(IsVisible).Value(Model.Txt_Detail_AI) )

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="form-field">
                                        <div class="container-fluid">
                                            <div class="col-sm-12 pll">
                                                @Html.LabelFor(model => model.Txt_AddedOn_AI, htmlAttributes: new { @class = "control-label  disabletxt" })
                                            </div>
                                            <div class="col-sm-12 prm">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_AddedOn_AI").Name("Txt_AddedOn_AI").Value(Model.Txt_AddedOn_AI).ReadOnly(true) )

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field">
                                        <div class="container-fluid">
                                            <div class="col-sm-12 pll ">
                                                @Html.LabelFor(model => model.Cmb_Due_On_AI, htmlAttributes: new { @class = "control-label text-red", @id = "LayoutControlItem5_AI" })
                                            </div>
                                            <div class="col-sm-12 prm">
                                                @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("Cmb_Due_On_AI").Name("Cmb_Due_On_AI").DataSource(new[] { "Current Audit", "Next Audit", "Specific Date" }).Value("Current Audit").OnValueChanged("Cmb_Due_On_SelectedIndexChanged_AI").ReadOnly(IsVisible).ShowClearButton(false) )@* redmine bug #133222 fixed  *@

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field">
                                        <div class="container-fluid">
                                            <div class="col-sm-12 pll ">
                                                @Html.LabelFor(model => model.Txt_DueDate_AI, htmlAttributes: new { @class = "control-label disabletxt", @id = "LayoutControlItem10_AI" })
                                            </div>
                                            <div class="col-sm-12 prm">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_DueDate_AI").Name("Txt_DueDate_AI").Placeholder("Date").Value(Model.Txt_DueDate_AI).ReadOnly(true) )

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-field">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 pll ">
                                                @Html.LabelFor(model => model.Txt_Auditor_AI, htmlAttributes: new { @class = "control-label disabletxt" })
                                            </div>
                                            <div class="col-sm-6 prm ">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Auditor_AI").Name("Txt_Auditor_AI").Value(Model.Txt_Auditor_AI).ReadOnly(true) )

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-field">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 pll">
                                                @Html.LabelFor(model => model.Txt_Contact_Person_AI, htmlAttributes: new { @class = "control-label", @id = "LayoutControlItem8_AI" })
                                            </div>
                                            <div class="col-sm-6 prm">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_Contact_Person_AI").Name("Txt_Contact_Person_AI").Value(Model.Txt_Contact_Person_AI).ReadOnly(IsVisible).Placeholder("Contact Person Name") )

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-field">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 pll  ">
                                                @Html.LabelFor(model => model.Txt_ContactNo_AI, htmlAttributes: new { @class = "control-label", @id = "LayoutControlItem4_AI" })
                                            </div>
                                            <div class="col-sm-6 prm ">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_ContactNo_AI").Name("Txt_ContactNo_AI").Value(Model.Txt_ContactNo_AI).Placeholder("Contact No").ReadOnly(IsVisible) )


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-field">
                                <div class="container-fluid ">
                                    <div class="col-sm-12 pll">
                                        @Html.LabelFor(model => model.Txt_Centre_Remarks_AI, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-12 prm">
                                        @(Html.DevExtreme().TextArea().ID("Txt_Centre_Remarks_AI").Name("Txt_Centre_Remarks_AI").Value(Model.Txt_Centre_Remarks_AI).ReadOnly(true) )

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-field">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-12 pll">
                                                @Html.LabelFor(model => model.Txt_Closure_Remarks_AI, htmlAttributes: new { @class = "control-label", @id = "LayoutControlItem3_AI" })
                                            </div>
                                            <div class="col-sm-12 prm">
                                                @(Html.DevExtreme().TextArea().ID("Txt_Closure_Remarks_AI").Name("Txt_Closure_Remarks_AI").Value(Model.Txt_Closure_Remarks_AI).ReadOnly(IsVisible).OnValueChanged("Txt_Closure_Remarks_TextChanged_AI") )

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">

                                <div class="row">
                                    <div class="form-field">
                                        <div class="container-fluid">
                                            <div class="col-sm-12 pll ">
                                                @Html.LabelFor(model => model.Txt_ClosedBy_AI, htmlAttributes: new { @class = "control-label disabletxt" })
                                            </div>
                                            <div class="col-sm-12 prm">
                                                @(Html.DevExtreme().TextBox().CustomTextBox().ID("Txt_ClosedBy_AI").Name("Txt_ClosedBy_AI").Value(Model.Txt_ClosedBy_AI).ReadOnly(true) )


                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field">
                                        <div class="container-fluid">
                                            <div class="col-sm-12 pll ">
                                                @Html.LabelFor(model => model.Txt_ClosedDate_AI, htmlAttributes: new { @class = "control-label  disabletxt", @id = "LayoutControlItem9_AI" })
                                            </div>
                                            <div class="col-sm-12  prm">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_ClosedDate_AI").Name("Txt_ClosedDate_AI").Value(Model.Txt_ClosedDate_AI).ReadOnly(true) )

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="row">

                                    <div class="styleActionBtn">
                                        @(Html.DevExtreme().Button().ID("BUT_MarkClose_AI").Disabled(true).Text("Mark Closed").Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true).OnClick("AI_SaveClick"))@* Redmine Bug #133224 fixed*@
                                        @(Html.DevExtreme().Button().ID("BUT_SAVE_AI").CustomSaveButton().Text((Model.ActionMethod.ToString().Trim() == "_New" || Model.ActionMethod.ToString().Trim() == "_New_From_Selection" || Model.ActionMethod.ToString().Trim() == "_Edit") ? "Save" : "Delete").UseSubmitBehavior(false).Visible(Model.ActionMethod.ToString().Trim() == "_View" ? false : true).OnClick("AI_SaveClick"))
                                        @(Html.DevExtreme().Button().ID("BUT_CANCEL_AI").CustomCloseButton().Text(Model.ActionMethod.ToString().Trim() == "_View" ? "Close" : "Cancel").FocusStateEnabled(true).OnClick("ClosePopup_AI"))
                                    </div>
                                </div>
                            </div>
                        </div><!--[Buttons]-->
                    }
                }
    </div>
    <script>
        var AI_PopupCloseTakeConfirmation = true;
        var ActionMethod_AI = "@Model.ActionMethod";
    </script> @*AuditAction_Window_Global_Variables*@
<script>

    function ClosePopup_AI(e)
    {
         HidePopup("@PopupId");
    }
    function AI_SaveClick(e)
    {
        var check = e.validationGroup.validate();
        if (check.isValid) {
            if (e.component.option("text") == "Mark Closed")
            {
                $("#MarkClosed").val("true");
            }
            else
            {
                $("#MarkClosed").val("");
            }
            if (ActionMethod_AI == "_Close" || e.component.option("text") == "Mark Closed")
            {
                var confirm = DevExpress.ui.dialog.confirm("Sure you want to <font color=red><u>Mark as Close</u></font> this Audit Action...?", "Confirm");
                confirm.done(function (result)
                {
                    if (result)
                    {
                        $("#ActionItemsvalidationForm").submit();
                    }
                });
            }
            else
            {
                $("#ActionItemsvalidationForm").submit();
            }
        }
    }

    function Txt_Closure_Remarks_AI_validations(ActionMethod_AI)
    {
        debugger;
        $("#Txt_Closure_Remarks_AI").dxTextArea({})
            .dxValidator({
                validationRules: [
                    {
                        type: 'custom',
                        validationCallback: function (options) {
                            var result = true;
                            if (ActionMethod_AI == "_Close") {
                                if (options.value == "" || options.value == null) {
                                    result = false;
                                }
                            }
                            return result;
                        },
                        message: 'Closure Remarks needs to be added ...!!'
                    }
                ],
                validationGroup: "Audit_Validation"
            });
    }//Redmine Bug #133238 fixed
    function ActionItemsAjaxSuccessForm(data)
    {
        debugger;
        AI_PopupCloseTakeConfirmation = false;
        if ("@PopupId" == "Dynamic_Content_popup")
        {
            dontaskpopupcloseconfirmation = true;
        }
        HideLoader();
        if (data.jsonParam.closeform == true)
        {
           HidePopup("@PopupId");
        }
        if (data.jsonParam.result == false)
        {
            if (data.jsonParam.refreshgrid)
            {
                if (typeof ActionItemsListGrid !== 'undefined')
                {
                    ActionItemsListGrid.Refresh();
                }
                if ("@Model.GridToBeRefreshed".length > 0)
                {
                    RefreshGridView("@Model.GridToBeRefreshed")
                    @*var GridInstance = $('#@Model.GridToBeRefreshed').data("dxDataGrid")
                    if (GridInstance !== void 0)
                    {
                        GridInstance.refresh().done(function ()
                        {
                            var selectedRowKeys = GridInstance.getSelectedRowKeys()
                            if (selectedRowKeys != null && selectedRowKeys.length > 0)
                            {
                                GridInstance.clearSelection()
                                GridInstance.selectRows(selectedRowKeys)
                            }
                        });
                    }
                    else if (typeof ASPxClientControl.GetControlCollection().GetByName("@Model.GridToBeRefreshed") !== 'undefined')
                    {
                        ASPxClientControl.GetControlCollection().GetByName("@Model.GridToBeRefreshed").Refresh();
                    }*@
                }
            }
            var alert = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            alert.done(function (dialogResult)
            {
                if (data.jsonParam.focusid != null)
                {
                    if (dialogResult)
                    {
                        var id = "#" + data.jsonParam.focusid;
                        setTimeout(function ()
                        {
                            $(id).find('input').focus();
                        }, Timeout100);
                    }
                }
            });
        }
        else
        {
            var check = DevExpress.ui.dialog.alert(data.jsonParam.message, data.jsonParam.title);
            check.done(function ()
            {
                debugger;
                if (typeof ActionItemsListGrid !== 'undefined')
                {
                    if (data.xid != null)
                    {
                        AI_Select_xid = data.xid;
                    }
                    ActionItemsListGrid.Refresh();
                }
                if ("@Model.GridToBeRefreshed".length > 0)
                {
                    RefreshGridView("@Model.GridToBeRefreshed")
                    @*var GridInstance = $('#@Model.GridToBeRefreshed').data("dxDataGrid")
                    if (GridInstance !== void 0)
                    {
                        GridInstance.refresh().done(function ()
                        {
                            var selectedRowKeys = GridInstance.getSelectedRowKeys()
                            if (selectedRowKeys != null && selectedRowKeys.length > 0)
                            {
                                GridInstance.clearSelection()
                                GridInstance.selectRows(selectedRowKeys)
                            }
                        });
                    }
                    else if (typeof ASPxClientControl.GetControlCollection().GetByName("@Model.GridToBeRefreshed") !== 'undefined')
                    {
                        ASPxClientControl.GetControlCollection().GetByName("@Model.GridToBeRefreshed").Refresh();
                    }*@
                }
            })
        }
    }
    $(function ()
    {
        if ("@PopupId" != "Dynamic_Content_popup") {
            $("#" + "@PopupId").dxPopup({
                onHiding: function (e) {
                    if (AI_PopupCloseTakeConfirmation == true) {
                        e.cancel = true;
                        var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                        result.done(function (dialogResult) {
                            if (dialogResult)
                            {
                                AI_PopupCloseTakeConfirmation = !dialogResult;
                                $("#" + "@PopupId").dxPopup("hide");
                            }
                        });
                    }
                }
            });
        }
    });

</script>
    @* Save Success *@
    <script>
    
    $(document).ready(function ()
    {
        ShowLoader();
        if (ActionMethod_AI != "_View")
        {
            AI_PopupCloseTakeConfirmation = true;
            if ("@PopupId" == "Dynamic_Content_popup")
            {
                dontaskpopupcloseconfirmation = false;
            }
        }
        else
        {
            AI_PopupCloseTakeConfirmation = false;
            if ("@PopupId" == "Dynamic_Content_popup")
            {
                dontaskpopupcloseconfirmation = true;
            }
        }
        var form = "ActionItemsvalidationForm";
        AssignIDtoLabel(form, "AuditAction");
        Cmb_Type_SelectedIndexChanged_AI();
        if (ActionMethod_AI == "_Edit" || ActionMethod_AI == "_Delete" || ActionMethod_AI == "_Close" || ActionMethod_AI == "_Re_Open" || ActionMethod_AI == "_View")
        {
            $("#Txt_Status_AI").dxTextBox("instance").option("value", "@Model.Txt_Status_AI");
            if ("@Model.Txt_Closure_Remarks_AI".length > 0)
            {
                $("#Txt_Closure_Remarks_AI").dxTextArea("instance").option("value", "@Model.Txt_Closure_Remarks_AI");
            }
            $("#Cmb_Type_AI").dxSelectBox('instance').option('value', "@Model.Cmb_Type_AI");
            $("#Cmb_Due_On_AI").dxSelectBox('instance').option('value', "@Model.Cmb_Due_On_AI");
            if ("@Model.Txt_DueDate_AI".length > 0)
            {
                $("#Txt_DueDate_AI").dxDateBox("instance").option("value", moment("@Model.Txt_DueDate_AI", "DD/MM/YYYY"));
            }//redmine Bug #133221 fixed
        }
        if ("@Model.Cmd_Title_AI".length > 0) { AddCustomDatatoSelectBox(); }//Redmine Bug #133229 fixed
        $("#Cmd_Title_AI").dxSelectBox("instance").focus();

        if (ActionMethod_AI == "_Close") {
            $("#BUT_SAVE_AI").dxButton("instance").option("text", "Close");
            Set_Properties(true);
            Txt_Closure_Remarks_AI_validations(ActionMethod_AI);//Redmine Bug #133238 fixed
            $("#Txt_Closure_Remarks_AI").dxTextArea("instance").focus();
        }
        else if (ActionMethod_AI == "_Re_Open") {
            $("#BUT_SAVE_AI").dxButton("instance").option("text", "Re-Open");
        }
        else if (ActionMethod_AI == "_View")
        {
            $("#BUT_CANCEL_AI").dxButton("instance").focus();
        }

        setTimeout(function ()
        {
            if (ActionMethod_AI == "_View" || ActionMethod_AI == "_Delete") {
                Set_Form_View_Delete_Mode(null, form, ActionMethod_AI);
            }//Redmine Bug #133238 fixed
            HideLoader();
        }, Timeout500);
    });
    </script>
    @* Document.ready *@
    <script>
    function Set_Properties(close) {
        if (close) {
            $("#Cmb_Type_AI").dxSelectBox("instance").option("readOnly", true);
            $("#LayoutControlItem7_AI").addClass("disabletxt").removeClass("text-red");
            $("#Cmd_Title_AI").dxSelectBox("instance").option("readOnly", true);
            $("#LayoutControlItem15_AI").addClass("disabletxt").removeClass("text-red");
            Control_SetReadOnly("Txt_Detail_AI", "dxTextArea", true, "#696969");
            $("#LayoutControlItem1_AI").addClass("disabletxt").removeClass("text-red");
            $("#Cmb_Due_On_AI").dxSelectBox("instance").option("readOnly", true);
            $("#LayoutControlItem5_AI").addClass("disabletxt").removeClass("text-red");
            $("#Txt_DueDate_AI").dxDateBox("instance").option("readOnly", true);
            $("#LayoutControlItem10_AI").addClass("disabletxt").removeClass("text-red");
            $("#Txt_Contact_Person_AI").dxTextBox("instance").option("readOnly", true);
            $("#LayoutControlItem8_AI").addClass("disabletxt").removeClass("text-red");
            $("#Txt_ContactNo_AI").dxTextBox("instance").option("readOnly", true);
            $("#LayoutControlItem4_AI").addClass("disabletxt").removeClass("text-red");

            $("#Txt_Closure_Remarks_AI").dxTextArea("instance").option("readOnly", false);
            $("#LayoutControlItem3_AI").removeClass("disabletxt").addClass("text-red");
            $("#Txt_ClosedDate_AI").dxDateBox("instance").option("readOnly", false);
            $("#LayoutControlItem9_AI").removeClass("disabletxt").addClass("text-red");

            $("#Txt_Centre_Remarks_AI").find('input').css("color", "#696969");
            $("#BUT_MarkClose_AI").dxButton("instance").option("visible", false);
            $("#Txt_Closure_Remarks_AI").dxTextArea("instance").focus();
        }
        else {
            $("#Cmb_Type_AI").dxSelectBox("instance").option("readOnly", false);
            $("#LayoutControlItem7_AI").removeClass("disabletxt").addClass("text-red");
            $("#Cmd_Title_AI").dxSelectBox("instance").option("readOnly", false);
            $("#LayoutControlItem15_AI").removeClass("disabletxt").addClass("text-red");
            Control_SetReadOnly("Txt_Detail_AI", "dxTextArea", false);
            $("#LayoutControlItem1_AI").removeClass("disabletxt").removeClass("text-red");
            $("#Cmb_Due_On_AI").dxSelectBox("instance").option("readOnly", false);
            $("#LayoutControlItem5_AI").removeClass("disabletxt").addClass("text-red");
            $("#Txt_DueDate_AI").dxDateBox("instance").option("readOnly", false);
            $("#LayoutControlItem10_AI").removeClass("disabletxt").removeClass("text-red");
            $("#Txt_Contact_Person_AI").dxTextBox("instance").option("readOnly", false);
            $("#LayoutControlItem8_AI").removeClass("disabletxt").removeClass("text-red");
            $("#Txt_ContactNo_AI").dxTextBox("instance").option("readOnly", false);
            $("#LayoutControlItem4_AI").removeClass("disabletxt").removeClass("text-red");

            $("#Txt_Closure_Remarks_AI").dxTextArea("instance").option("readOnly", true);
            $("#LayoutControlItem3_AI").addClass("disabletxt").removeClass("text-red");
            $("#Txt_ClosedDate_AI").dxDateBox("instance").option("readOnly", true);
            $("#LayoutControlItem9_AI").addClass("disabletxt").removeClass("text-red");
            $("#Txt_Centre_Remarks_AI").find('input').css("color", "#000080");

        }
    }
    function Cmb_Type_SelectedIndexChanged_AI(e)
    {
        var Cmb_Type_AI = $("#Cmb_Type_AI").dxSelectBox('instance').option('value');       

        if (Cmb_Type_AI == null || Cmb_Type_AI == "" || Cmb_Type_AI.length == 0) {

            $("#Cmb_Type_AI").dxSelectBox('instance').option('value', e.previousValue);
            return;
        }
        else
        /*if (Cmb_Type_AI != null)*/
        {
            if (Cmb_Type_AI.toUpperCase() == "QUERY")
            {
                $("#Cmb_Due_On_AI").dxSelectBox('instance').option('value', 'Current Audit');
                $("#Cmb_Due_On_AI").dxSelectBox('instance').option('readOnly', true);
                $("#LayoutControlItem5_AI").addClass("disabletxt").removeClass("text-red");
            }
            else
            {
                $("#Cmb_Due_On_AI").dxSelectBox('instance').option('value', 'Specific Date');
                $("#Cmb_Due_On_AI").dxSelectBox('instance').option('readOnly', false);
                $("#LayoutControlItem5_AI").removeClass("disabletxt").addClass("text-red");
            }
        }
    }
    function Cmb_Due_On_SelectedIndexChanged_AI(e)
    {
        var cmb_due_on = $("#Cmb_Due_On_AI").dxSelectBox('instance').option('value');

        if (cmb_due_on == null || cmb_due_on == "" || cmb_due_on.length == 0) {

            $("#Cmb_Due_On_AI").dxSelectBox('instance').option('value', e.previousValue);
            return;
        }
        if (cmb_due_on.toUpperCase() == "SPECIFIC DATE")
        {
            $("#LayoutControlItem5_AI").addClass("text-red").removeClass("disabletxt");
            $("#Txt_DueDate_AI").dxDateBox("instance").option("readOnly", false);
            $("#Txt_DueDate_AI").dxDateBox("instance").option("value", null);
        }
        else
        {
            $("#LayoutControlItem5_AI").addClass("disabletxt").removeClass("text-red");
            $("#Txt_DueDate_AI").dxDateBox("instance").option("readOnly", true);
            $("#Txt_DueDate_AI").dxDateBox("instance").option("value", null);
        }
    }
    function Txt_Closure_Remarks_TextChanged_AI(e) {
        if (ActionMethod_AI == "_Close") {
            return;
        }
        if (e.value == null || e.value.length == 0) {
            $("#BUT_MarkClose_AI").dxButton("instance").option("disabled", true);
            $("#BUT_SAVE_AI").dxButton("instance").option("disabled", false);
        }
        else {
            $("#BUT_MarkClose_AI").dxButton("instance").option("disabled", false);
            $("#BUT_SAVE_AI").dxButton("instance").option("disabled", true);
        }
    }
    function TitleCustomItemCreating(e)
    {
        if (e.text == null || e.text.length == 0)
        {
            e.customItem = null;
            return;
        }
        var dataSource = e.component.getDataSource();

        var newID = createGuid();
        var newItem = { Name: e.text, ID: newID };
        var result = dataSource.store().insert(newItem);

        result.done(function () {
            dataSource.reload();
        })
        e.customItem = result;

    }
    function AddCustomDatatoSelectBox()
    {
        var Cmd_Title = $("#Cmd_Title_AI").dxSelectBox("instance");
        var dataSource = Cmd_Title.getDataSource();
        var dataItems = dataSource.items();

        var flag = false;
        for (var i = 0; dataItems.length > i; i++)
        {
            if (dataItems[i].Name == "@Model.Cmd_Title_AI")
            {
                flag = true;
                break;
            }
        }
        if (flag == true)
        {
            Cmd_Title.option("value", "@Model.Cmd_Title_AI");
        }
        else
        {
            var newID = createGuid();
            var newItem = { Name: "@Model.Cmd_Title_AI", ID: newID };
            var result = dataSource.store().insert(newItem);

            result.done(function () {
                dataSource.reload();
                Cmd_Title.option("value", "@Model.Cmd_Title_AI");
            })
        }
    }//Redmine Bug #133229 fixed
    </script>
    @* Value Change *@
    
</div>
