<div class="AuditAction_Export_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    <div>
        @(Html.DevExtreme().Button()
                .ID("Action_ExportGridDatapdf")
                .Text("Export to PDF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("x")
                .OnClick("ExportPDF")
                .Visible(false)
                .Width(120)
    )

        @(Html.DevExtreme().Button()
                .ID("Action_ExportGridDataxls")
                .Text("Export to XLS")
                //.Icon("fa-file-excel-o")
                //.AccessKey("X")
                .OnClick("ExportXLS")
                .Visible(false)
                .Width(120)
    )
        @(Html.DevExtreme().Button()
                .ID("Action_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("L")
                .OnClick("ExportXLSX")
                .Visible(false)
                .Width(120)
    )

        @(Html.DevExtreme().Button()
                .ID("Action_ExportGridDatadocx")
                .Text("Export to DOCX")
                //.Icon("export_exporttodocx_16x16office2013")
                //.AccessKey("D")
                .OnClick("ExportDOCX")
                .Visible(false)
                .Width(120)
    )

        @(Html.DevExtreme().Button()
                .ID("Action_ExportGridDatartf")
                .Text("Export to RTF")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("R")
                .OnClick("ExportRTF")
                .Visible(false)
                .Width(120)
    )

        @(Html.DevExtreme().Button()
                .ID("Action_ExportGridDatacsv")
                .Text("Export to CSV")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("C")
                .OnClick("ExportCSV")
                .Visible(false)
                .Width(120)
    )
        @(Html.DevExtreme().Button()
                .ID("Action_ExportGridDataxlsx_dx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                //.AccessKey("L")
                .OnClick("ExportXLSX_dx")
                .Visible(true)
                .Width(120)
    )

    </div>
    <script>
        function ExportPDF() {
            ActionItemsListGrid.ExportTo(ASPxClientGridViewExportFormat.Pdf);
            $("#Action_Items_report_modal").dxPopup("hide");
        }
        function ExportXLS() {
            ActionItemsListGrid.ExportTo(ASPxClientGridViewExportFormat.Xls);
            $("#Action_Items_report_modal").dxPopup("hide");
        }
        function ExportXLSX() {
            ActionItemsListGrid.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
            $("#Action_Items_report_modal").dxPopup("hide");
        }
        function ExportCSV() {
            ActionItemsListGrid.ExportTo(ASPxClientGridViewExportFormat.Csv);
            $("#Action_Items_report_modal").dxPopup("hide");
        }
        function ExportDOCX() {
            ActionItemsListGrid.ExportTo(ASPxClientGridViewExportFormat.Docx);
            $("#Action_Items_report_modal").dxPopup("hide");
        }
        function ExportRTF() {
            ActionItemsListGrid.ExportTo(ASPxClientGridViewExportFormat.Rtf);
            $("#Action_Items_report_modal").dxPopup("hide");
        }
        function ExportXLSX_dx() {
            const workbook = new ExcelJS.Workbook();
            const worksheet = workbook.addWorksheet('Sheet');

            DevExpress.excelExporter.exportDataGrid({
                worksheet: worksheet,
                component: $("#ActionItemsListGrid_dx").dxDataGrid("instance"),
                autoFilterEnabled: true,
                customizeCell({ excelCell, gridCell }) {
                    if (gridCell.rowType === 'header') {
                        const columnDataField = gridCell.column.dataField;
                        if (columnDataField === 'iIcon') {
                            const Column = worksheet.getColumn(excelCell.col);
                            Column.width = 20;
                        }
                    }
                }
            }).then(function (exportRange) {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'ActionItemsListGrid_dx.xlsx');
                });
            });
            $("#AddressBook_report_modal").dxPopup("hide");
        }
    </script>
    
</div>
