<div class="AuditAction_CentreRemarksWindowScreen_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Help.Models.CentreRemarks

    @{
        ViewBag.Test = Model.ActionMethod;
        bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "_View" || Model.ActionMethod.ToString().Trim() == "_Delete") ? true : false;
    }
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
    }

    <style>
        .control-label {
            text-align: left !important;
        }

        textarea#xNAME_AI {
            height: auto !important;
            min-height: 154px !important;
            padding: 0px 0px 0px 0px !important;
            color: forestgreen;
        }

        textarea#Txt_Centre_Remarks_AI {
            height: auto !important;
            min-height: 40px !important;
            padding: 0px 0px 0px 0px !important;
        }
    </style>
    <div id="Frm_Centre_Remarks_Window_Content">
        @using (Ajax.BeginForm("Frm_Centre_Remarks_Window", "Help",
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            UpdateTargetId = "Frm_Centre_Remarks_Window_Content",
                                            InsertionMode = InsertionMode.InsertAfter,
                                            OnBegin = "AjaxBeginFormPost",
                                            OnSuccess = "CentreRemarksAjaxSuccessForm"
                                        },
                                        new
                                        {
                                            id = "CentreRemarksvalidationForm",
                                            @class = "edit_form"
                                        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ActionMethod)
            @Html.HiddenFor(x => x.TempActionMethod)
            @Html.HiddenFor(x => x.xID)
            var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).Select(c => c.Value.Errors).ToList();
            using (Html.DevExtreme().ValidationGroup())
            {

                <div class="full-width-header-bg">
                    <div class="row">

                        <div class="col-sm-8 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i> Centre Remarks</h3>
                        </div>
                        <div class="col-sm-4 prm">
                            <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are Mandatory</h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                    </div>
                </div><!--[Header]-->
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-12" style="font-weight:bold; color:#2712d7;">For Conversations regarding required actions, Please send email to connectone@bkivv.org</div>
                        </div>
                    </div>
                </div><!--[Row 1]-->
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-12 pll">
                                @Html.LabelFor(model => model.xNAME_AI, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-12 prm ">
                                @(Html.DevExtreme().TextArea().ID("xNAME_AI").Name("xNAME_AI").Value(Model.xNAME_AI).ReadOnly(true).Height(150) )

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-field">
                        <div class="container-fluid">
                            <div class="col-sm-12 pll">
                                @Html.LabelFor(model => model.Txt_Centre_Remarks_AI, htmlAttributes: new { @class = "control-label  text-red" })
                            </div>
                            <div class="col-md-12 prm">
                                @(Html.DevExtreme().TextArea().ID("Txt_Centre_Remarks_AI").Name("Txt_Centre_Remarks_AI").Value(Model.Txt_Centre_Remarks_AI).ReadOnly(IsVisible).Disabled(IsVisible) )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().ID("BUT_SAVE_CEN_Remark_AI").CustomSaveButton().Text("Save").UseSubmitBehavior(true))
                                @(Html.DevExtreme().Button().ID("BUT_CANCEL_CEN_Remark_AI").CustomCloseButton().Text("Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>))
                            </div>
                        </div>
                    </div>
                </div><!--[Buttons]-->
            }
        }
    </div>
    <script>
        $(document).ready(function () {
            $("#Txt_Centre_Remarks_AI").dxTextArea("instance").focus();
        });
        function CentreRemarksAjaxSuccessForm(data) {
            HideLoader();
            if (data.result == false) {
                var alert = DevExpress.ui.dialog.alert(data.message, "Error");
                alert.done(function (dialogResult) {
                    if (dialogResult) {
                        $("#Txt_Centre_Remarks_AI").dxTextArea("instance").focus();
                    }
                });
            }
            else {
                DevExpress.ui.dialog.alert(data.message, "Centre Remarks");
                if (data.xid != null) {
                    AI_Select_xid = data.xid;
                }
                var GridInstance = $('#ActionItemsListGrid_dx').data("dxDataGrid")
                if (GridInstance !== void 0) {
                    ActionItemsListGrid_dx_Refresh();
                }
                else
                    ActionItemsListGrid.Refresh();

                $("#Dynamic_Content_popup").dxPopup("hide");
            }
        }
    </script>

    </div>
